interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-04-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-09-15T02:41:30.3938092Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-09-15T02:41:30.3938092Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Sep 2021 02:41:52 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D977F261D7A3EB"'
      last-modified:
      - Wed, 15 Sep 2021 02:41:55 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Sep 2021 02:41:55 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000005/blob000003
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 15 Sep 2021 02:41:57 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000005/blob000003
  response:
    body:
      string: ''
    headers:
      content-md5:
      - tc+p1sj+vWGPkawoQ9UKHA==
      etag:
      - '"0x8D977F266A2B681"'
      last-modified:
      - Wed, 15 Sep 2021 02:42:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Sep 2021 02:42:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000005/blob000003
  response:
    body:
      string: ''
    headers:
      content-md5:
      - tc+p1sj+vWGPkawoQ9UKHA==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D977F266A2B681"'
      last-modified:
      - Wed, 15 Sep 2021 02:42:03 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 15 Sep 2021 02:42:03 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Sep 2021 02:42:12 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000005?restype=container&comp=list&maxresults=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"cont000005\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000004</Name><Properties><Creation-Time>Wed,
        15 Sep 2021 02:42:11 GMT</Creation-Time><Last-Modified>Wed, 15 Sep 2021 02:42:11
        GMT</Last-Modified><Etag>0x8D977F26B3398F5</Etag><Content-Length>4194304</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>tc+p1sj+vWGPkawoQ9UKHA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker>2!92!MDAwMDI0IWJsb2JicXh1dm1rNWF1cnV5NGZ3M2ttaSEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Sep 2021 02:42:13 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000005/blob000003
  response:
    body:
      string: ''
    headers:
      content-md5:
      - tc+p1sj+vWGPkawoQ9UKHA==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D977F266A2B681"'
      last-modified:
      - Wed, 15 Sep 2021 02:42:03 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 15 Sep 2021 02:42:03 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-md5:
      - tc+p1sj+vWGPkawoQ9UKHA==
      x-ms-blob-content-type:
      - application/test-content
      x-ms-date:
      - Wed, 15 Sep 2021 02:42:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000005/blob000003?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D977F26E9B2F46"'
      last-modified:
      - Wed, 15 Sep 2021 02:42:17 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Sep 2021 02:42:21 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Sep 2021 02:42:23 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000005/blob000003
  response:
    body:
      string: '!!! The response body has been omitted from the recording because it
        is larger than 128 KB. It will be replaced with blank content of 4194304 bytes
        while replay. <CTRL-REPLACE>4194304'
    headers:
      content-range:
      - bytes 0-4194303/4194304
      etag:
      - '"0x8D977F27096BEA5"'
      last-modified:
      - Wed, 15 Sep 2021 02:42:20 GMT
      x-ms-blob-content-md5:
      - tc+p1sj+vWGPkawoQ9UKHA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 15 Sep 2021 02:42:03 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
