interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T10:01:58.2681878Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T10:01:58.2681878Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: '{"TableName": "table000003"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://clitest000002.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#Tables/@Element","TableName":"table000003"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://clitest000002.table.core.windows.net/Tables('table000003')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables?$filter=TableName%20eq%20%27table000003%27
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#Tables","value":[{"TableName":"table000003"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "name@odata.type": "Edm.String", "value": "something",
      "value@odata.type": "Edm.String", "sizeInBytes": "86222504922", "sizeInBytes@odata.type":
      "Edm.Int64", "RowKey": "001", "RowKey@odata.type": "Edm.String", "PartitionKey":
      "001", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://clitest000002.table.core.windows.net/table000003
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2025-10-24T10%3A02%3A28.3251731Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2025-10-24T10:02:28.3251731Z","name":"test","value":"something","sizeInBytes@odata.type":"Edm.Int64","sizeInBytes":"86222504922"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2025-10-24T10%3A02%3A28.3251731Z'"
      location:
      - https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2025-10-24T10%3A02%3A28.3251731Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2025-10-24T10:02:28.3251731Z","name":"test","value":"something","sizeInBytes@odata.type":"Edm.Int64","sizeInBytes":"86222504922"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2025-10-24T10%3A02%3A28.3251731Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')?$select=name
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element&$select=name","odata.etag":"W/\"datetime''2025-10-24T10%3A02%3A28.3251731Z''\"","name":"test"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2025-10-24T10%3A02%3A28.3251731Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "name@odata.type": "Edm.String", "value": "newval", "value@odata.type":
      "Edm.String", "RowKey": "001", "RowKey@odata.type": "Edm.String", "PartitionKey":
      "001", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2025-10-24T10%3A02%3A32.0997013Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"cat": "hat", "cat@odata.type": "Edm.String", "RowKey": "001", "RowKey@odata.type":
      "Edm.String", "PartitionKey": "001", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2025-10-24T10%3A02%3A34.3084264Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:f0c049d9-7002-006d-1ecd-443f23000000\nTime:2025-10-24T10:02:37.6530786Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:40 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?$top=1
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2025-10-24T10%3A02%3A38.7430825Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2025-10-24T10:02:38.7430825Z","name":"test","value":"something"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!MDAy
      x-ms-continuation-nextrowkey:
      - 1!4!MDAy
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2025-10-24T10%3A02%3A39.8325279Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2025-10-24T10:02:39.8325279Z","name":"test2","value":"something2"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start><Permission
      /></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:03:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:08:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Fri,
        24 Oct 2025 10:05:05 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
