interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:34:47.2952918Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:34:47.2952918Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:35:17 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193BB770F02"'
      last-modified:
      - Thu, 14 May 2026 08:35:19 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:35:20 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193BD119230"'
      last-modified:
      - Thu, 14 May 2026 08:35:22 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2026-05-14T08:35:22Z</Start><Expiry>2026-05-14T09:35:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 14 May 2026 08:35:22 GMT
      x-ms-version:
      - '2026-04-06'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e</SignedOid><SignedTid>54826b22-38d6-4fb2-bad9-b7b93a3e9c5a</SignedTid><SignedStart>2026-05-14T08:35:22Z</SignedStart><SignedExpiry>2026-05-14T09:35:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>/pTOGkeJzbyR+66l0OUhV5pjnOEWqbADdw7fiazwwqQ=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
