interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-04-14T06:35:35.3008030Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-04-14T06:35:35.3008030Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"TableName": "table000003"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:35:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: POST
    uri: https://clitest000002.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#Tables/@Element","TableName":"table000003"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://clitest000002.table.core.windows.net/Tables('table000003')
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables?$filter=TableName%20eq%20%27table000003%27
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#Tables","value":[{"TableName":"table000003"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "name@odata.type": "Edm.String", "value": "something",
      "value@odata.type": "Edm.String", "sizeInBytes": "86222504922", "sizeInBytes@odata.type":
      "Edm.Int64", "RowKey": "001", "RowKey@odata.type": "Edm.String", "PartitionKey":
      "001", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2022-04-14T06%3A36%3A02.7963899Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2022-04-14T06%3A36%3A02.7963899Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2022-04-14T06:36:02.7963899Z","name":"test","sizeInBytes@odata.type":"Edm.Int64","sizeInBytes":"86222504922","value":"something"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2022-04-14T06%3A36%3A02.7963899Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')?$select=name
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element&$select=name","odata.etag":"W/\"datetime''2022-04-14T06%3A36%3A02.7963899Z''\"","name":"test"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2022-04-14T06%3A36%3A02.7963899Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "name@odata.type": "Edm.String", "value": "newval", "value@odata.type":
      "Edm.String", "RowKey": "001", "RowKey@odata.type": "Edm.String", "PartitionKey":
      "001", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2022-04-14T06%3A36%3A07.1948603Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"cat": "hat", "cat@odata.type": "Edm.String", "RowKey": "001", "RowKey@odata.type":
      "Edm.String", "PartitionKey": "001", "PartitionKey@odata.type": "Edm.String"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2022-04-14T06%3A36%3A09.862326Z'"
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:9aefb611-1002-0007-61c9-4f1410000000\nTime:2022-04-14T06:36:14.7033533Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?$top=1
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2022-04-14T06%3A36%3A16.0327779Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2022-04-14T06:36:16.0327779Z","name":"test","value":"something"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!MDAy
      x-ms-continuation-nextrowkey:
      - 1!4!MDAy
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2022-04-14T06%3A36%3A17.4429673Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2022-04-14T06:36:17.4429673Z","name":"test2","value":"something2"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Start>2022-04-14T06:36:24Z</Start><Expiry>9999-12-31T23:59:59Z</Expiry><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 Apr 2022 06:36:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 Apr 2022 06:41:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu,
        14 Apr 2022 06:39:21 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
