interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DE12E35C1E9164"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"metadata": {"k1": "v1"}, "shareQuota": 10, "enabledProtocols":
      "SMB", "rootSquash": "AllSquash", "accessTier": "Hot"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?$expand=snapshots&api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"accessTier":"Hot","snapshotTime":"2025-10-24T09:54:46.0000000Z","metadata":{"k1":"v1"},"shareQuota":10,"enabledProtocols":"SMB","rootSquash":"AllSquash"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-snapshot:
      - '2025-10-24T09:54:46.0000000Z'
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E35CFAB700\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"TransactionOptimized","accessTierChangeTime":"2025-10-24T09:54:44.0000000Z","snapshotTime":"2025-10-24T09:54:46.0000000Z","metadata":{"k1":"v1"},"lastModifiedTime":"2025-10-24T09:54:46.0000000Z","shareQuota":102400}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DE12E35CFAB700"'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?$expand=snapshots&api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E35CFAB700\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","snapshotTime":"2025-10-24T09:54:46.0000000Z","lastModifiedTime":"2025-10-24T09:54:46.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E35C1E9164\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2025-10-24T09:54:44.0000000Z","lastModifiedTime":"2025-10-24T09:54:44.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?$include=none&api-version=2024-01-01
  response:
    body:
      string: '{"error":{"code":"ShareHasSnapshots","message":"The share has snapshots
        and the operation requires no snapshots.\nRequestId:2302a988-801a-0054-4acc-4413a0000000\nTime:2025-10-24T09:54:50.5992254Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?$expand=deleted%2Csnapshots&api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E35C1E9164\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2025-10-24T09:54:44.0000000Z","lastModifiedTime":"2025-10-24T09:54:44.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?$expand=deleted%2Csnapshots&api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003_01DC44CC39A0186F","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E35C1E9164\"","properties":{"leaseStatus":"unlocked","leaseState":"broken","version":"01DC44CC39A0186F","deleted":true,"deletedTime":"2025-10-24T09:54:56.0000000Z","remainingRetentionDays":7,"accessTier":"TransactionOptimized","accessTierChangeTime":"2025-10-24T09:54:44.0000000Z","lastModifiedTime":"2025-10-24T09:54:44.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
