interactions:
- request:
    body: '{"properties": {"enabled": true, "ruleConfig": {"filterType": "AllContainersFilter"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics/ContainerLevelCapacityMetrics?api-version=2026-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics/ContainerLevelCapacityMetrics","name":"DefaultAdvancedPlatformMetricsRule","type":"Microsoft.Storage/storageAccounts/advancedPlatformMetrics","properties":{"ruleType":"ContainerLevelCapacityMetrics","metricsEmitted":["ContainerUsedSize","ContainerBlobCount"],"enabled":true,"lastModifiedTime":"2026-04-24T03:06:45.8450813Z","ruleConfig":{"filterType":"AllContainersFilter"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '0'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"enabled": true, "ruleConfig": {"filterType": "ContainerPrefixFilter",
      "filterValues": ["logs", "data"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics/ContainerLevelCapacityMetrics?api-version=2026-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics/ContainerLevelCapacityMetrics","name":"DefaultAdvancedPlatformMetricsRule","type":"Microsoft.Storage/storageAccounts/advancedPlatformMetrics","properties":{"ruleType":"ContainerLevelCapacityMetrics","metricsEmitted":["ContainerUsedSize","ContainerBlobCount"],"enabled":true,"lastModifiedTime":"2026-04-24T03:06:55.1000117Z","ruleConfig":{"filterType":"ContainerPrefixFilter","filterValues":["logs","data"]}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '0'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics?api-version=2026-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics/ContainerLevelCapacityMetrics","name":"DefaultAdvancedPlatformMetricsRule","type":"Microsoft.Storage/storageAccounts/advancedPlatformMetrics","properties":{"ruleType":"ContainerLevelCapacityMetrics","metricsEmitted":["ContainerUsedSize","ContainerBlobCount"],"enabled":true,"lastModifiedTime":"2026-04-24T03:06:55.1000117Z","ruleConfig":{"filterType":"ContainerPrefixFilter","filterValues":["logs","data"]}}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"enabled": true, "ruleConfig": {"filterType": "AllContainersFilter",
      "filterValues": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics/ContainerLevelCapacityMetrics?api-version=2026-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_advanced_platform_metric000001/providers/Microsoft.Storage/storageAccounts/clitest000002/advancedPlatformMetrics/ContainerLevelCapacityMetrics","name":"DefaultAdvancedPlatformMetricsRule","type":"Microsoft.Storage/storageAccounts/advancedPlatformMetrics","properties":{"ruleType":"ContainerLevelCapacityMetrics","metricsEmitted":["ContainerUsedSize","ContainerBlobCount"],"enabled":true,"lastModifiedTime":"2026-04-24T03:07:21.1417731Z","ruleConfig":{"filterType":"AllContainersFilter","filterValues":[]}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '0'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
