interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-09-23T08:55:54.3307624Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-09-23T08:55:54.3307624Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 23 Sep 2025 08:56:20 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDFA7F110F4833"'
      last-modified:
      - Tue, 23 Sep 2025 08:56:21 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2025-09-23T08:56:21Z</Start><Expiry>2025-09-23T09:56:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 23 Sep 2025 08:56:21 GMT
      x-ms-version:
      - '2021-08-06'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>7b1bdbe4-80ac-47f9-882b-33d6e62950ab</SignedOid><SignedTid>7b31ddc4-9101-4ef0-a387-79ce181cacdb</SignedTid><SignedStart>2025-09-23T08:56:21Z</SignedStart><SignedExpiry>2025-09-23T09:56:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2021-08-06</SignedVersion><Value>bDS5pCgIYHgJY2FUzVtbgRbuYyyg4Z/hgpn/C+12qnw=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
version: 1
