interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-02-23T03:32:30.6938762Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-02-23T03:32:30.6938762Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:32:52 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67D2CF53974"'
      last-modified:
      - Wed, 23 Feb 2022 03:32:53 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:32:53 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Wed, 23 Feb 2022 03:32:54 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67D2EB7E38C"'
      last-modified:
      - Wed, 23 Feb 2022 03:32:56 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:32:56 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D9F67D2EB7E38C"'
      last-modified:
      - Wed, 23 Feb 2022 03:32:56 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 23 Feb 2022 03:32:56 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:32:58 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67D2EB7E38C"'
      last-modified:
      - Wed, 23 Feb 2022 03:32:56 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: testappend
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:01 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:02 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=flush&position=10&retainUncommittedData=false&close=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67D326A07C8"'
      last-modified:
      - Wed, 23 Feb 2022 03:33:02 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:04 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:05 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67D352FA20F"'
      last-modified:
      - Wed, 23 Feb 2022 03:33:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:07 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:08 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=1048576&close=true
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67D36697668"'
      last-modified:
      - Wed, 23 Feb 2022 03:33:09 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:12 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=524288&close=true
  response:
    body:
      string: '{"error":{"code":"InvalidFlushPosition","message":"The uploaded data
        is not contiguous or the position query parameter value is not equal to the
        length of the file after appending the uploaded data.\nRequestId:704f0e6a-101f-0032-5f66-28cab6000000\nTime:2022-02-23T03:33:13.2266294Z"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - InvalidFlushPosition
      x-ms-version:
      - '2020-02-10'
    status:
      code: 400
      message: The uploaded data is not contiguous or the position query parameter
        value is not equal to the length of the file after appending the uploaded
        data.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:19 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"132900607873050586","etag":"0x8D9F67D352BEA29","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Wed,
        23 Feb 2022 03:33:07 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"524288","creationTime":"132900607975365325","etag":"0x8D9F67D3C560FD1","expiryTime":"0","group":"$superuser","lastModified":"Wed,
        23 Feb 2022 03:33:19 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"10","creationTime":"132900607764784012","etag":"0x8D9F67D326A07C8","expiryTime":"0","group":"$superuser","lastModified":"Wed,
        23 Feb 2022 03:33:02 GMT","name":"file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:21 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&directory=dir000004&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"132900607975365325","etag":"0x8D9F67D3C560FD1","expiryTime":"0","group":"$superuser","lastModified":"Wed,
        23 Feb 2022 03:33:19 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:22 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"132900607873050586","etag":"0x8D9F67D352BEA29","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Wed,
        23 Feb 2022 03:33:07 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBaB5/vXjv2jtpABGHMYbi9jbGl0ZXN0bWI1bG5oZHgybnFhbXpmMmEBMDFEODI4NjVGQ0REQjYwRC9maWxlc3lzdGVtNTJ6eXQzdHh5YmF4cmQBMDFEODI4NjYwQTdFQURBMi9kaXJqbm15aHo2bzIvZmlsZXhkMnhkeG11FgAAAA==
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:24 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&continuation=VBaB5%2FvXjv2jtpABGHMYbi9jbGl0ZXN0bWI1bG5oZHgybnFhbXpmMmEBMDFEODI4NjVGQ0REQjYwRC9maWxlc3lzdGVtNTJ6eXQzdHh5YmF4cmQBMDFEODI4NjYwQTdFQURBMi9kaXJqbm15aHo2bzIvZmlsZXhkMnhkeG11FgAAAA%3D%3D&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"132900607975365325","etag":"0x8D9F67D3C560FD1","expiryTime":"0","group":"$superuser","lastModified":"Wed,
        23 Feb 2022 03:33:19 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBbKqqu35+7oqRUYZhhhL2NsaXRlc3RtYjVsbmhkeDJucWFtemYyYQEwMUQ4Mjg2NUZDRERCNjBEL2ZpbGVzeXN0ZW01Mnp5dDN0eHliYXhyZAEwMUQ4Mjg2NjBBN0VBREEyL2ZpbGV4ZDJ4ZHhtdRYAAAA=
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:33:27 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
