interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-02-23T03:48:43.4004705Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-02-23T03:48:43.4004705Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11992'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F70963B4F"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:05 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F720A15D5"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:08 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:09 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F73855A95"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:10 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:10 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8D9F67F746B5320"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:12 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9F67F746B5320"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:12 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestbfniik5mq2ojrnsyl.file.core.windows.net/sharesyzfudjte2wrdkh3aco/dir1/source_file.txt
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:13 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F76278EFB"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:15 GMT
      x-ms-copy-id:
      - 2a220353-bb02-494a-9b25-5f072bd9404e
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9F67F76278EFB"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:15 GMT
      x-ms-copy-completion-time:
      - Wed, 23 Feb 2022 03:49:15 GMT
      x-ms-copy-id:
      - 2a220353-bb02-494a-9b25-5f072bd9404e
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestbfniik5mq2ojrnsyl.file.core.windows.net/sharesyzfudjte2wrdkh3aco/dir1/source_file.txt
      x-ms-copy-status:
      - success
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestbfniik5mq2ojrnsyl.file.core.windows.net/sharesyzfudjte2wrdkh3aco/dir1%5Csource_file.txt
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F7929AF9A"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:20 GMT
      x-ms-copy-id:
      - 6a704986-d451-4c1d-b98d-f80fa7fd1b73
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
