interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:56:31.0747939Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:56:31.0747939Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:56:55 GMT
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E3AADF70BA"'
      last-modified:
      - Fri, 24 Oct 2025 09:56:56 GMT
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:56:58 GMT
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E3AC75D165"'
      last-modified:
      - Fri, 24 Oct 2025 09:56:59 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:56:59.3467749Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:56:59.3467749Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-24T09:56:59.3467749Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 17639277244874539905*11245606060422812680
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Fri, 24 Oct 2025 09:57:01 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E3AE47E885"'
      last-modified:
      - Fri, 24 Oct 2025 09:57:02 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:57:02.4013445Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:57:02.4013445Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-10-24T09:57:02.4013445Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 3796678937960430726*11245606060422812680
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
[...]
