interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.Storage/storageAccounts/azureclitestrgdiag180","name":"azureclitestrgdiag180","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-12-30T03:44:58.6379144Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-12-30T03:44:58.6379144Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-12-30T03:44:58.5910120Z","primaryEndpoints":{"blob":"https://azureclitestrgdiag180.blob.core.windows.net/","queue":"https://azureclitestrgdiag180.queue.core.windows.net/","table":"https://azureclitestrgdiag180.table.core.windows.net/","file":"https://azureclitestrgdiag180.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-core-poc/providers/Microsoft.Storage/storageAccounts/azurecorepoc","name":"azurecorepoc","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-12-26T02:38:58.8233588Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-12-26T02:38:58.8233588Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-12-26T02:38:58.7452329Z","primaryEndpoints":{"dfs":"https://azurecorepoc.dfs.core.windows.net/","web":"https://azurecorepoc.z13.web.core.windows.net/","blob":"https://azurecorepoc.blob.core.windows.net/","queue":"https://azurecorepoc.queue.core.windows.net/","table":"https://azurecorepoc.table.core.windows.net/","file":"https://azurecorepoc.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://azurecorepoc-secondary.dfs.core.windows.net/","web":"https://azurecorepoc-secondary.z13.web.core.windows.net/","blob":"https://azurecorepoc-secondary.blob.core.windows.net/","queue":"https://azurecorepoc-secondary.queue.core.windows.net/","table":"https://azurecorepoc-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qianwens/providers/Microsoft.Storage/storageAccounts/qianwendev","name":"qianwendev","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qianwens/providers/Microsoft.Network/virtualNetworks/QIAN/subnets/default","action":"Allow","state":"Succeeded"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qianwens/providers/Microsoft.Network/virtualNetworks/qianwendev/subnets/default","action":"Allow","state":"Succeeded"}],"ipRules":[{"value":"23.45.1.0/24","action":"Allow"},{"value":"23.45.1.1/24","action":"Allow"}],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-02-12T03:29:28.0084761Z"},"blob":{"keyType":"Ac[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 04 Mar 2020 15:59:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7C054FD5682D0"'
      last-modified:
      - Wed, 04 Mar 2020 15:59:15 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 1, "allowProtectedAppendWrites":
      true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d7c054fdef6485\"","properties":{"allowProtectedAppendWrites":true,"immutabilityPeriodSinceCreationInDays":1,"state":"Unlocked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8d7c054fdef6485"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8d7c054fdef6485"'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d7c054ff5e9000\"","properties":{"immutabilityPeriodSinceCreationInDays":0,"state":"Deleted"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8d7c054ff5e9000"'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8d7c05500889823"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default/lock?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d7c05501ae48fe\"","properties":{"allowProtectedAppendWrites":false,"immutabilityPeriodSinceCreationInDays":1,"state":"Locked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8d7c05501ae48fe"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8d7c05501ae48fe"'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2019-06-01
  response:
    body:
      string: '{"error":{"code":"ContainerImmutabilityPolicyFailure","message":"Operation
        not allowed on immutability policy with current state."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 409
      message: Conflict
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 2}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"8d7c05501ae48fe"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default/extend?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8d7c05503de91b9\"","properties":{"allowProtectedAppendWrites":false,"immutabilityPeriodSinceCreationInDays":2,"state":"Locked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8d7c05503de91b9"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
