interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-09-22T06:06:17.8031250Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-09-22T06:06:17.8031250Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:44 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E35AF4BD8"'
      last-modified:
      - Mon, 22 Sep 2025 06:06:45 GMT
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:45 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E36688AC4"'
      last-modified:
      - Mon, 22 Sep 2025 06:06:46 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T06:06:46.9448388Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:06:46.9448388Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-09-22T06:06:46.9448388Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7732951095173037910*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:47 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8DDF99E371D5545"'
      last-modified:
      - Mon, 22 Sep 2025 06:06:48 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T06:06:48.1296709Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:48 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:f217e7ed-001a-0023-5b87-2b2dd2000000\nTime:2025-09-22T06:06:49.2852595Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:49 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E3877B8F1"'
      last-modified:
      - Mon, 22 Sep 2025 06:06:50 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T06:06:50.3997681Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:06:50.3997681Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-09-22T06:06:50.3997681Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12334013983168643153*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '133'
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:50 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E392A3C10"'
      last-modified:
      - Mon, 22 Sep 2025 06:06:51 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T06:06:51.5696656Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:06:51.5696656Z'
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2025-09-22T06:06:51.5696656Z'
      x-ms-file-parent-id:
      - '13835093239654252544'
      x-ms-file-permission-key:
      - 7732951095173037910*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testr46ywzydx34i5yiuajyd\apple\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:51 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-132
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - FdX+JJpmu8+KVcA+kprFxw==
      etag:
      - '"0x8DDF99E39D8305E"'
      last-modified:
      - Mon, 22 Sep 2025 06:06:52 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T06:06:52.7096926Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:06:52 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:08444620-201a-0046-5887-2b8396000000\nTime:2025-09-22T06:06:53.8614983Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:07:38 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E5580D081"'
      last-modified:
      - Mon, 22 Sep 2025 06:07:39 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T06:07:39.1132801Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:07:39.1132801Z'
      x-ms-file-id:
      - '13835080045514719232'
      x-ms-file-last-write-time:
      - '2025-09-22T06:07:39.1132801Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12334013983168643153*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '134'
      x-ms-date:
      - Mon, 22 Sep 2025 06:07:39 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E5633A167"'
      last-modified:
      - Mon, 22 Sep 2025 06:07:40 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T06:07:40.2851687Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:07:40.2851687Z'
      x-ms-file-id:
      - '13835150414258896896'
      x-ms-file-last-write-time:
      - '2025-09-22T06:07:40.2851687Z'
      x-ms-file-parent-id:
      - '13835080045514719232'
      x-ms-file-permission-key:
      - 7732951095173037910*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testr46ywzydx34i5yiuajyd\butter\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:07:40 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-133
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - gnfPCtolCnQoI0D8pFx93g==
      etag:
      - '"0x8DDF99E56E2CCDA"'
      last-modified:
      - Mon, 22 Sep 2025 06:07:41 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T06:07:41.4331610Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:07:41 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:24265ed0-f01a-0045-1a87-2b62f2000000\nTime:2025-09-22T06:07:42.5492374Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:08:23 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E708C3291"'
      last-modified:
      - Mon, 22 Sep 2025 06:08:24 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T06:08:24.4863633Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:08:24.4863633Z'
      x-ms-file-id:
      - '13835113030863552512'
      x-ms-file-last-write-time:
      - '2025-09-22T06:08:24.4863633Z'
      x-ms-file-parent-id:
      - '13835080045514719232'
      x-ms-file-permission-key:
      - 12334013983168643153*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '142'
      x-ms-date:
      - Mon, 22 Sep 2025 06:08:24 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E7135BF01"'
      last-modified:
      - Mon, 22 Sep 2025 06:08:25 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T06:08:25.5975169Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:08:25.5975169Z'
      x-ms-file-id:
      - '13835183399607730176'
      x-ms-file-last-write-time:
      - '2025-09-22T06:08:25.5975169Z'
      x-ms-file-parent-id:
      - '13835113030863552512'
      x-ms-file-permission-key:
      - 7732951095173037910*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testr46ywzydx34i5yiuajyd\butter/charlie\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:08:25 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-141
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - A3fSOuVuTQ8K4+WHhfSkzw==
      etag:
      - '"0x8DDF99E71D4F6B0"'
      last-modified:
      - Mon, 22 Sep 2025 06:08:26 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T06:08:26.6409648Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:08:26 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:fd759550-001a-001c-3687-2be571000000\nTime:2025-09-22T06:08:27.6654178Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:09:18 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E911BB9BA"'
      last-modified:
      - Mon, 22 Sep 2025 06:09:19 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T06:09:19.1140794Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:09:19.1140794Z'
      x-ms-file-id:
      - '11529223842161491968'
      x-ms-file-last-write-time:
      - '2025-09-22T06:09:19.1140794Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12334013983168643153*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:09:19 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E91C5BAC3"'
      last-modified:
      - Mon, 22 Sep 2025 06:09:20 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T06:09:20.2282179Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:09:20.2282179Z'
      x-ms-file-id:
      - '16141006617612124160'
      x-ms-file-last-write-time:
      - '2025-09-22T06:09:20.2282179Z'
      x-ms-file-parent-id:
      - '11529223842161491968'
      x-ms-file-permission-key:
      - 12334013983168643153*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '139'
      x-ms-date:
      - Mon, 22 Sep 2025 06:09:20 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99E926760C7"'
      last-modified:
      - Mon, 22 Sep 2025 06:09:21 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T06:09:21.2875975Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:09:21.2875975Z'
      x-ms-file-id:
      - '13835117428910063616'
      x-ms-file-last-write-time:
      - '2025-09-22T06:09:21.2875975Z'
      x-ms-file-parent-id:
      - '16141006617612124160'
      x-ms-file-permission-key:
      - 7732951095173037910*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testr46ywzydx34i5yiuajyd\duff/edward\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:09:21 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-138
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - MwkLVX2/yLrLzUiQvnNoQg==
      etag:
      - '"0x8DDF99E93042A24"'
      last-modified:
      - Mon, 22 Sep 2025 06:09:22 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T06:09:22.3151140Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:09:22 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:fa2b5dde-d01a-0042-4787-2b0e91000000\nTime:2025-09-22T06:09:23.3608233Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:10:15 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>apple</Name><FileId>13835093239654252544</FileId><Properties
        /></Directory><Directory><Name>butter</Name><FileId>13835080045514719232</FileId><Properties
        /></Directory><Directory><Name>duff</Name><FileId>11529223842161491968</FileId><Properties
        /></Directory><File><Name>readme</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>87</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:10:16 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme
  response:
    body:
      string: This directory contains test files generated by Azure CLI storage command
        module tests.
    headers:
      content-range:
      - bytes 0-86/87
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DDF99E371D5545"'
      last-modified:
      - Mon, 22 Sep 2025 06:06:48 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T06:06:48.1296709Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:06:46.9448388Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-09-22T06:06:48.1296709Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7732951095173037910*14118818149368092632
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-05-05'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:10:18 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:10:41 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.cor[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:11:04 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"duff\"><DirectoryId>11529223842161491968</DirectoryId><Entries><Directory><Name>edward</Name><FileId>16141006617612124160</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:11:05 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest00000[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:11:28 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.f[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:13:39 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share5/some_dir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99F2CD3FC13"'
      last-modified:
      - Mon, 22 Sep 2025 06:13:40 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T06:13:40.3684883Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:13:40.3684883Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-09-22T06:13:40.3684883Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12334013983168643153*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 06:13:40 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share5/some_dir%2Fapple?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99F2D8C6BF6"'
      last-modified:
      - Mon, 22 Sep 2025 06:13:41 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T06:13:41.5772150Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:13:41.5772150Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-09-22T06:13:41.5772150Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 12334013983168643153*14118818149368092632
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '133'
      x-ms-date:
      - Mon, 22 Sep 2025 06:13:41 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share5/some_dir/apple/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99F2E2E11FD"'
      last-modified:
      - Mon, 22 Sep 2025 06:13:42 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T06:13:42.6365949Z'
      x-ms-file-creation-time:
      - '2025-09-22T06:13:42.6365949Z'
      x-ms-file-id:
      - '13835163608398430208'
[...]
