interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:31:28.5696475Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:31:28.5696475Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:31:57 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/mycontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193446A7CAB"'
      last-modified:
      - Thu, 14 May 2026 08:31:59 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"policy": {"enabled": true, "rules": [{"enabled": true,
      "name": "inventoryPolicyRule1", "definition": {"format": "Parquet", "schedule":
      "Weekly", "objectType": "Container", "schemaFields": ["Name", "Last-Modified",
      "Metadata", "LeaseStatus", "LeaseState", "LeaseDuration", "PublicAccess", "HasImmutabilityPolicy",
      "HasLegalHold"]}, "destination": "mycontainer"}], "type": "Inventory"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default?api-version=2025-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default","name":"DefaultInventoryPolicy","type":"Microsoft.Storage/storageAccounts/inventoryPolicies","properties":{"lastModifiedTime":"2026-05-14T08:32:02.5226074Z","policy":{"enabled":true,"type":"Inventory","rules":[{"destination":"mycontainer","enabled":true,"name":"inventoryPolicyRule1","definition":{"format":"Parquet","schedule":"Weekly","objectType":"Container","schemaFields":["Name","Last-Modified","Metadata","LeaseStatus","LeaseState","LeaseDuration","PublicAccess","HasImmutabilityPolicy","HasLegalHold"]}}]}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2025-08-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"staticWebsite":{"enabled":false},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"staticWebsite": {"enabled": false}, "cors": {"corsRules":
      []}, "deleteRetentionPolicy": {"allowPermanentDelete": false, "enabled": false},
      "isVersioningEnabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2025-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"staticWebsite":{"enabled":false},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false},"isVersioningEnabled":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"policy": {"enabled": true, "type": "Inventory", "rules":
      [{"enabled": true, "name": "inventoryPolicyRule2", "destination": "mycontainer",
      "definition": {"filters": {"blobTypes": ["blockBlob"], "prefixMatch": ["inventoryprefix1",
      "inventoryprefix2"], "includeSnapshots": true, "includeBlobVersions": true,
      "creationTime": {"lastNDays": 3}}, "format": "Csv", "schedule": "Daily", "objectType":
      "Blob", "schemaFields": ["Name", "Creation-Time", "Last-Modified", "Content-Length",
      "Content-MD5", "BlobType", "AccessTier", "AccessTierChangeTime", "Snapshot",
      "VersionId", "IsCurrentVersion", "Metadata"]}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/pr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default?api-version=2025-08-01
  response:
    body:
      string: '{"error":{"code":"BlobInventoryPolicyNotFound","message":"Blob inventory
        policy does not exist for the storage account."}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"policy": {"enabled": true, "type": "Inventory", "rules":
      [{"enabled": true, "name": "newfieldsblob", "destination": "mycontainer", "definition":
      {"filters": {"blobTypes": ["blockBlob", "appendBlob", "pageBlob"], "includeSnapshots":
      true, "includeDeleted": true, "includeBlobVersions": true, "prefixMatch": ["abc"],
      "excludePrefix": ["ac"]}, "format": "Csv", "schedule": "Daily", "objectType":
      "Blob", "schemaFields": ["Name", "Creation-Time", "Last-Modified", "ETag", "Content-Length",
      "Content-Type", "Content-Encoding", "Content-Language", "Content-CRC64", "Content-MD5",
      "Cache-Control", "Content-Disposition", "BlobType", "AccessTier", "AccessTierChangeTime",
      "AccessTierInferred", "LeaseStatus", "LeaseState", "LeaseDuration", "ServerEncrypted",
      "CustomerProvidedKeySha256", "RehydratePriority", [...]
