interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:37:04.8936371Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:37:04.8936371Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:37:35 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1940D8A43F3"'
      last-modified:
      - Thu, 14 May 2026 08:37:37 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:37:37 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Thu, 14 May 2026 08:37:39 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB194103D92C8"'
      last-modified:
      - Thu, 14 May 2026 08:37:41 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:37:42 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DEB194103D92C8"'
      last-modified:
      - Thu, 14 May 2026 08:37:41 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 May 2026 08:37:41 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:37:46 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB194103D92C8"'
      last-modified:
      - Thu, 14 May 2026 08:37:41 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: testappend
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 14 May 2026 08:37:50 GMT
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:37:52 GMT
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=flush&position=10&retainUncommittedData=false&close=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19417F7214C"'
      last-modified:
      - Thu, 14 May 2026 08:37:54 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:37:59 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:38:01 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1941D22CE4C"'
      last-modified:
      - Thu, 14 May 2026 08:38:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 14 May 2026 08:38:03 GMT
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004/file000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 14 May 2026 08:38:07 GMT
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004/file000005?action=flush&position=1048576&close=true
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB194209DF1CC"'
      last-modified:
      - Thu, 14 May 2026 08:38:09 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 14 May 2026 08:38:16 GMT
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004/file000005?action=flush&position=524288&close=true
  response:
    body:
      string: '{"error":{"code":"InvalidFlushPosition","message":"The uploaded data
        is not contiguous or the position query parameter value is not equal to the
        length of the file after appending the uploaded data.\nRequestId:41ce855e-701f-000a-757d-e3d6b5000000\nTime:2026-05-14T08:38:18.9567875Z"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - InvalidFlushPosition
      x-ms-version:
      - '2026-04-06'
    status:
      code: 400
      message: The uploaded data is not contiguous or the position query parameter
        value is not equal to the length of the file after appending the uploaded
        data.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:38:34 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"134232214835114920","etag":"0x8DEB1941D2035BC","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        14 May 2026 08:38:03 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"524288","creationTime":"134232215090422720","etag":"0x8DEB1942F9F0AB8","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        14 May 2026 08:38:34 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"10","creationTime":"134232214618936008","etag":"0x8DEB19417F7214C","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        14 May 2026 08:37:54 GMT","name":"file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:38:39 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&directory=dir000004&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"134232215090422720","etag":"0x8DEB1942F9F0AB8","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        14 May 2026 08:38:34 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:38:41 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"134232214835114920","etag":"0x8DEB1941D2035BC","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        14 May 2026 08:38:03 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBa8ybS8yK7Zi74BGHgYbi9jbGl0ZXN0aXMyaWRuaXFtZnB1c3gzNmMBMDFEQ0UzN0NEN0I0MjZCMC9maWxlc3lzdGVtb3lvM3I2bnkzdHM1dGcBMDFEQ0UzN0NFQjE0Mzc3QS9kaXJnazdpcW01amEvZmlsZWY2cnB6NjZoFgB1ACXIAQAA
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:38:43 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&continuation=VBa8ybS8yK7Zi74BGHgYbi9jbGl0ZXN0aXMyaWRuaXFtZnB1c3gzNmMBMDFEQ0UzN0NEN0I0MjZCMC9maWxlc3lzdGVtb3lvM3I2bnkzdHM1dGcBMDFEQ0UzN0NFQjE0Mzc3QS9kaXJnazdpcW01amEvZmlsZWY2cnB6NjZoFgB1ACXIAQAA&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"134232215090422720","etag":"0x8DEB1942F9F0AB8","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        14 May 2026 08:38:34 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBbAoOSWrNPrn9QBGGsYYS9jbGl0ZXN0aXMyaWRuaXFtZnB1c3gzNmMBMDFEQ0UzN0NEN0I0MjZCMC9maWxlc3lzdGVtb3lvM3I2bnkzdHM1dGcBMDFEQ0UzN0NFQjE0Mzc3QS9maWxlZjZycHo2NmgWAHUAJcgBAAA=
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:38:50 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
