interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-03-03T09:12:00.4532034Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-03-03T09:12:00.4532034Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 03 Mar 2025 09:13:12 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD5A33A03D5BCF"'
      last-modified:
      - Mon, 03 Mar 2025 09:13:13 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-03-03T09:12:00.4532034Z","key2":"2025-03-03T09:12:00.4532034Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-03-03T09:12:00.7032107Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-03-03T09:12:00.7032107Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-03-03T09:12:00.3282033Z","primaryEndpoints":{"dfs":"https://clitest000002.dfs.core.windows.net/","web":"https://clitest000002.z20.web.core.windows.net/","blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"cors": {"corsRules": []}, "deleteRetentionPolicy": {"enabled":
      false, "allowPermanentDelete": false}, "changeFeed": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"changeFeed":{"enabled":true},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"cors": {"corsRules": []}, "deleteRetentionPolicy": {"enabled":
      false, "allowPermanentDelete": false}, "isVersioningEnabled": true, "changeFeed":
      {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"changeFeed":{"enabled":true},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false},"isVersioningEnabled":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AutoTagFunctionAppRG/providers/Microsoft.Storage/storageAccounts/autotagfunctionappr9a08","name":"autotagfunctionappr9a08","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"defaultToOAuthAuthentication":true,"keyCreationTime":{"key1":"2023-09-05T09:25:55.2183463Z","key2":"2023-09-05T09:25:55.2183463Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-09-05T09:25:55.2339685Z"},"blob":{"keyType":"Account","enabled":tr[...]
- request:
    body: '{"properties": {"sourceAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "destinationAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003",
      "rules": [{"sourceContainer": "cont000005", "destinationContainer": "cont000006",
      "filters": {"minCreationTime": "2020-02-19T16:05:00Z"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/default?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/4c67782d-00b5-40ff-a57d-d3787082fe48","name":"4c67782d-00b5-40ff-a57d-d3787082fe48","type":"Microsoft.Storage/storageAccounts/objectReplicationPolicies","properties":{"policyId":"4c67782d-00b5-40ff-a57d-d3787082fe48","sourceAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002","destinationAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003","rules":[{"ruleId":"61966bbd-c2f4-43fd-9ff8-a7b50969aaf0","sourceContainer":"cont000005","destinationContainer":"cont000006","filters":{"minCreationTime":"2020-02-19T16:05:00Z"}}]}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/4c67782d-00b5-40ff-a57d-d3787082fe48?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Micros[...]
[...]
- request:
    body: '{"properties": {"sourceAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "destinationAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003",
      "rules": [{"ruleId": "61966bbd-c2f4-43fd-9ff8-a7b50969aaf0", "sourceContainer":
      "cont000005", "destinationContainer": "cont000006", "filters": {"minCreationTime":
      "2020-02-19T16:05:00Z"}}, {"ruleId": "5c6ffdf7-863c-4daf-9a96-f0d1a3633179",
      "sourceContainer": "cont000007", "destinationContainer": "cont000008", "filters":
      {"prefixMatch": ["blobA", "blobB"], "minCreationTime": "2020-02-20T16:05:00Z"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies/4c67782d-00b5-40ff-a57d-d3787082fe48?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0[...]
[...]
- request:
    body: '{"properties": {"sourceAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "destinationAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003",
      "rules": [{"sourceContainer": "cont000005", "destinationContainer": "cont000006",
      "filters": {}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/objectReplicationPolicies/default?api-version=2024-01-01
  response:
    body:
      string: '{"error":{"code":"InvalidRequestPropertyValue","message":"The value
        ''default'' is not allowed for property policyId."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"properties": {"sourceAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "destinationAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003",
      "rules": [{"ruleId": "61966bbd-c2f4-43fd-9ff8-a7b50969aaf0", "sourceContainer":
      "cont000005", "destinationContainer": "cont000006", "filters": {"minCreationTime":
      "2020-02-19T16:05:00Z"}}], "metrics": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/objectReplicationPolicies/4c67782d-00b5-40ff-a57d-d3787082fe48?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/objectReplicationPolicies/4c67782d-00b5-40ff-a57d-d3787082fe48","name":"4c67782d-00b5-40ff-a57d-d3787082fe48","type":"Microsoft.Storage/storageAccounts/objectReplicationPolicies","properties":{"metrics":{"enabled":true},"policyId":"4c67782d-00b5-40ff-a57d-d3787082fe48","enabledTime":"2025-03-03T09:14:23.2180397Z","sourceAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002","destinationAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003","rules":[{"ruleId":"61966bbd-c2f4-43fd-9ff8-a7b50969aaf0","sourceContainer":"cont000005","destinationContainer":"cont000006","filters":{"minCreationTime":"2020-02-19T16:05:00Z"}}]}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2997'
      x-ms-ratelimit-remaining-subscription-writes:
      - '197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000002/objectReplicationPolicies?api-version=2024-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ors000001/providers/Microsoft.Storage/storageAccounts/clitest000003/objectReplicationPolicies?api-version=2024-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
