interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:24 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E2812ADD804"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:29 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:29 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E2812ADD804"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:29 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:31 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><Containers><Container><Name>filesystem000003</Name><Properties><Last-Modified>Tue,
        01 Sep 2020 03:35:29 GMT</Last-Modified><Etag>\"0x8D84E2812ADD804\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:32 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E281579C879"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:33 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:34 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/directory000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D84E281579C879"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:33 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 01 Sep 2020 03:35:33 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E281579C879"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:33 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - 9ac534f1-d577-4034-a32d-48de400dacbf
      x-ms-owner:
      - 9ac534f1-d577-4034-a32d-48de400dacbf
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D84E281579C879","group":"9ac534f1-d577-4034-a32d-48de400dacbf","isDirectory":"true","lastModified":"Tue,
        01 Sep 2020 03:35:33 GMT","name":"directory000004","owner":"9ac534f1-d577-4034-a32d-48de400dacbf","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:38 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E2818E97456"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:39 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D84E2818E97456"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:39 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 01 Sep 2020 03:35:39 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?position=1024&action=flush
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E281A6AFCAA"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:42 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&maxResults=5000&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D84E281579C879","group":"9ac534f1-d577-4034-a32d-48de400dacbf","isDirectory":"true","lastModified":"Tue,
        01 Sep 2020 03:35:33 GMT","name":"directory000004","owner":"9ac534f1-d577-4034-a32d-48de400dacbf","permissions":"rwxr-x---"},{"contentLength":"1024","etag":"0x8D84E281A6AFCAA","group":"9ac534f1-d577-4034-a32d-48de400dacbf","lastModified":"Tue,
        01 Sep 2020 03:35:42 GMT","name":"file000005","owner":"9ac534f1-d577-4034-a32d-48de400dacbf","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E281A6AFCAA"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:42 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - 9ac534f1-d577-4034-a32d-48de400dacbf
      x-ms-owner:
      - 9ac534f1-d577-4034-a32d-48de400dacbf
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:48 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:49 GMT
      x-ms-rename-source:
      - /filesystemiyxvyxhpoq/fileqrarws4t4dypgsav
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/newfile?mode=legacy
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/newfile?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---,mask::rwx
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E281579C879"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:33 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Sep 2020 03:35:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84E281579C879"'
      last-modified:
      - Tue, 01 Sep 2020 03:35:33 GMT
      x-ms-acl:
      - user::rwx,group::r--,mask::rwx,other::---
      x-ms-group:
      - 9ac534f1-d577-4034-a32d-48de400dacbf
      x-ms-owner:
      - 9ac534f1-d577-4034-a32d-48de400dacbf
      x-ms-permissions:
      - rwxrwx---+
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
