interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11976'
    status:
      code: 200
      message: OK
- request:
    body: '{"TableName": "table000003"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:18 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/Tables
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestbfv3ueqs3avwcjyji.table.core.windows.net/Tables('table4v5of6aqge3l63bpcqa')
      location:
      - https://clitest000002.table.core.windows.net/Tables('table000003')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:19 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: '{"TableName":"table000003"}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "value": "something", "binaryProperty": "AAECAwQF", "binaryProperty@odata.type":
      "Edm.Binary", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:21 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/table000003
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestbfv3ueqs3avwcjyji.table.core.windows.net/table4v5of6aqge3l63bpcqa(PartitionKey='001',RowKey='001')
      etag:
      - W/"datetime'2021-02-20T11%3A03%3A22.4958128Z'"
      location:
      - https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:22 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2021-02-20T11%3A03%3A22.4958128Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2021-02-20T11:03:22.4958128Z","name":"test","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2021-02-20T11%3A03%3A22.4958128Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:23 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element&$select=name","odata.etag":"W/\"datetime''2021-02-20T11%3A03%3A22.4958128Z''\"","name":"test"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2021-02-20T11%3A03%3A22.4958128Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "value": "newval", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:24 GMT
      x-ms-version:
      - '2017-04-17'
    method: MERGE
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2021-02-20T11%3A03%3A25.8993218Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"cat": "hat", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:27 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2021-02-20T11%3A03%3A28.0078095Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:30 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:2bbcfe73-e002-0066-4978-0743b0000000\nTime:2021-02-20T11:03:31.0692493Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:33 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?%24top=1
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2021-02-20T11%3A03%3A32.104949Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2021-02-20T11:03:32.104949Z","name":"test","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!MDAy
      x-ms-continuation-nextrowkey:
      - 1!4!MDAy
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:34 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2021-02-20T11%3A03%3A33.143693Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2021-02-20T11:03:33.143693Z","name":"test2","value":"something2"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:35 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:37 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:38 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:43 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Sat, 20 Feb 2021 11:03:57 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Sat,
        20 Feb 2021 11:01:28 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
version: 1
