interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-06-09T11:43:44.0621796Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-06-09T11:43:44.0621796Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 11:44:08 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4A0D5DB6A46A"'
      last-modified:
      - Thu, 09 Jun 2022 11:44:09 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 11:44:11 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4A0D5F427711"'
      last-modified:
      - Thu, 09 Jun 2022 11:44:11 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-06-09T11:44:11.9568145Z'
      x-ms-file-creation-time:
      - '2022-06-09T11:44:11.9568145Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-09T11:44:11.9568145Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 15688802680140131592*12782048046958082689
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Thu, 09 Jun 2022 11:44:14 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1%5Csource_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4A0D60D7836B"'
      last-modified:
      - Thu, 09 Jun 2022 11:44:14 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-09T11:44:14.6113387Z'
      x-ms-file-creation-time:
      - '2022-06-09T11:44:14.6113387Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-09T11:44:14.6113387Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 1856077574921556495*12782048046958082689
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
