interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-19T02:56:50.6953795Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-19T02:56:50.6953795Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Aug 2022 02:57:13 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA818E854A79F2"'
      last-modified:
      - Fri, 19 Aug 2022 02:57:14 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Aug 2022 02:57:16 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA818E86916A51"'
      last-modified:
      - Fri, 19 Aug 2022 02:57:16 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-08-19T02:57:16.9362513Z'
      x-ms-file-creation-time:
      - '2022-08-19T02:57:16.9362513Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-08-19T02:57:16.9362513Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10841786498745932680*18351857813874740225
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Fri, 19 Aug 2022 02:57:18 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA818E87D83894"'
      last-modified:
      - Fri, 19 Aug 2022 02:57:19 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-08-19T02:57:19.0780052Z'
      x-ms-file-creation-time:
      - '2022-08-19T02:57:19.0780052Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-08-19T02:57:19.0780052Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 6200908247488455823*18351857813874740225
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
