interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11990'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:26 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E74D245E4"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:29 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:29 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E7592D26B"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8D58E7592D26B"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:31 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E7592D26B"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:32 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E7591EBC7"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:33 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E7591EBC7"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:35 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/%2F?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E74D7E8C9"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:29 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:36 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/%2F?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E74D7E8C9"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:29 GMT
      x-ms-acl:
      - user::rwx,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-----
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:37 GMT
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E7592D26B"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Feb 2021 10:58:38 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D58E7592D26B"'
      last-modified:
      - Sat, 20 Feb 2021 10:58:30 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::rwx
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
version: 1
