interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11989'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/regenerateKey?api-version=2021-01-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"l4O9P1RG24hXPweSMiocWZWmMoXW3LrqNeTV8hIww2p1U7usXsRBoO0FOKk9fL2vcJR5q0Wx2TSnZC2HavO6sg==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/regenerateKey?api-version=2021-01-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"l4O9P1RG24hXPweSMiocWZWmMoXW3LrqNeTV8hIww2p1U7usXsRBoO0FOKk9fL2vcJR5q0Wx2TSnZC2HavO6sg==","permissions":"FULL"},{"keyName":"key2","value":"8zuMS1pplb8VsAA6oEVkNy8rrpEU33/E7M9zS8ZCpr5S83OIkecRyARHGMdSkD1INcFvF5+pxifMrsZzClogtQ==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
