interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/listKeys?api-version=2021-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-02-23T03:47:58.4625907Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-02-23T03:47:58.4625907Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares"}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D9F67F55BAA9A5"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1183'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003?api-version=2021-08-01&$expand=stats
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8D9F67F55BAA9A5\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"shareUsageBytes":0,"lastModifiedTime":"2022-02-23T03:48:20.0000000Z","shareQuota":5120}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D9F67F55BAA9A5"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Wed, 23 Feb 2022 03:48:22 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://stats000002.file.core.windows.net/share000003/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F574027F7"'
      last-modified:
      - Wed, 23 Feb 2022 03:48:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:48:23 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://stats000002.file.core.windows.net/share000003/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8D9F67F5829542F"'
      last-modified:
      - Wed, 23 Feb 2022 03:48:25 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003?api-version=2021-08-01&$expand=stats
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8D9F67F55BAA9A5\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"shareUsageBytes":524288,"lastModifiedTime":"2022-02-23T03:48:20.0000000Z","shareQuota":5120}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D9F67F55BAA9A5"'
    status:
      code: 200
      message: OK
version: 1
