interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-09-07T07:10:53.0350859Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-09-07T07:10:53.0350859Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 07:11:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D971CEB044C8EB"'
      last-modified:
      - Tue, 07 Sep 2021 07:11:18 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2021-09-07T07:11:19Z</Start><Expiry>2021-09-07T08:11:00Z</Expiry></KeyInfo>'
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 07:11:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>f757bcca-02d6-4279-8f2d-61a7dcdbccd6</SignedOid><SignedTid>54826b22-38d6-4fb2-bad9-b7b93a3e9c5a</SignedTid><SignedStart>2021-09-07T07:11:19Z</SignedStart><SignedExpiry>2021-09-07T08:11:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2018-11-09</SignedVersion><Value>up8V/clMGQKwsBRw/DhfJfLs8eOoZZLJ8ky8RQMaKUg=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2021-09-07T07:11:22Z</Start><Expiry>2021-09-07T08:11:00Z</Expiry></KeyInfo>'
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 07:11:22 GMT
      x-ms-version:
      - '2018-11-09'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>f757bcca-02d6-4279-8f2d-61a7dcdbccd6</SignedOid><SignedTid>54826b22-38d6-4fb2-bad9-b7b93a3e9c5a</SignedTid><SignedStart>2021-09-07T07:11:22Z</SignedStart><SignedExpiry>2021-09-07T08:11:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2018-11-09</SignedVersion><Value>o/6iFrF3npfr6tmj42vDzaSQNQfc7pSGCRjtHilzJZU=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
