interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/storage000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:47:41.9070498Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:47:41.9070498Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:07 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E27081701D"'
      last-modified:
      - Fri, 24 Oct 2025 09:48:09 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:11 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Fri,
        24 Oct 2025 09:48:11 GMT</Creation-Time><Last-Modified>Fri, 24 Oct 2025 09:48:11
        GMT</Last-Modified><Etag>0x8DE12E271CF69D8</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:12 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E271CF69D8"'
      last-modified:
      - Fri, 24 Oct 2025 09:48:11 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2025-10-24T09:48:14.0721497Z'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:14 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000&include=snapshots
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Snapshot>2025-10-24T09:48:14.0721497Z</Snapshot><Properties><Creation-Time>Fri,
        24 Oct 2025 09:48:11 GMT</Creation-Time><Last-Modified>Fri, 24 Oct 2025 09:48:11
        GMT</Last-Modified><Etag>0x8DE12E271CF69D8</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobTy[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:15 GMT
      x-ms-meta-test:
      - '1'
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E274F3FD58"'
      last-modified:
      - Fri, 24 Oct 2025 09:48:16 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:16 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE12E274F3FD58"'
      last-modified:
      - Fri, 24 Oct 2025 09:48:16 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 24 Oct 2025 09:48:11 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-test:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:18 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000&include=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Fri,
        24 Oct 2025 09:48:11 GMT</Creation-Time><Last-Modified>Fri, 24 Oct 2025 09:48:16
        GMT</Last-Modified><Etag>0x8DE12E274F3FD58</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><test>1</test></Metadata><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:26 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&marker=2%2196%21MDAwMDI4IWRpci9ibG9idmZkb2Fia3U1Y2kyZjc3Yzd1aHQhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><Marker>2!96!MDAwMDI4IWRpci9ibG9idmZkb2Fia3U1Y2kyZjc3Yzd1aHQhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh</Marker><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Fri,
        24 Oct 2025 09:48:11 GMT</Creation-Time><Last-Modified>Fri, 24 Oct 2025 09:48:16
        GMT</Last-Modified><Etag>0x8DE12E274F3FD58</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:27 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&prefix=dir%2F&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><Prefix>dir/</Prefix><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000005</Name><Properties><Creation-Time>Fri,
        24 Oct 2025 09:48:21 GMT</Creation-Time><Last-Modified>Fri, 24 Oct 2025 09:48:21
        GMT</Last-Modified><Etag>0x8DE12E277D62D14</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Conten[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:28 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&delimiter=%2F&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>dir/</Name></BlobPrefix></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:30 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&delimiter=ir&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Delimiter>ir</Delimiter><Blobs><BlobPrefix><Name>dir</Name></BlobPrefix></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:48:36 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002-secondary.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002-secondary.blob.core.windows.net/\"
        ContainerName=\"con000003\"><MaxResu[...]
