interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:56:53.7267089Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:56:53.7267089Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:58:28 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB196F873B505"'
      last-modified:
      - Thu, 14 May 2026 08:58:30 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:58:33 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB196FB891A8D"'
      last-modified:
      - Thu, 14 May 2026 08:58:35 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2026-05-14T08:58:35.6466317Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:58:35.6466317Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T08:58:35.6466317Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 11284828530893361159*17600320031974754190
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Thu, 14 May 2026 08:58:38 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB196FE8749AB"'
      last-modified:
      - Thu, 14 May 2026 08:58:40 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:58:40.6678955Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:58:40.6678955Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2026-05-14T08:58:40.6678955Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 6692363958451564288*17600320031974754190
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
