interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11991'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 11:17:57 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88245A30C54FD"'
      last-modified:
      - Fri, 06 Nov 2020 11:18:07 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-access-tier:
      - P10
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 06 Nov 2020 11:18:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88245A8916E20"'
      last-modified:
      - Fri, 06 Nov 2020 11:18:16 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 11:18:16 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D88245A8916E20"'
      last-modified:
      - Fri, 06 Nov 2020 11:18:16 GMT
      x-ms-access-tier:
      - P10
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Fri, 06 Nov 2020 11:18:16 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 11:18:25 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<PageList/>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D88245A8916E20"'
      last-modified:
      - Fri, 06 Nov 2020 11:18:16 GMT
      x-ms-blob-content-length:
      - '16384'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - P20
      x-ms-date:
      - Fri, 06 Nov 2020 11:18:28 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 11:18:44 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<PageList/>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D88245A8916E20"'
      last-modified:
      - Fri, 06 Nov 2020 11:18:16 GMT
      x-ms-blob-content-length:
      - '16384'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
version: 1
