interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2023-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-07-06T03:39:26.0650703Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-07-06T03:39:26.0650703Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11987'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:50 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB7DD2A7C7C66E"'
      last-modified:
      - Thu, 06 Jul 2023 03:39:51 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:53 GMT
      x-ms-rehydrate-priority:
      - Standard
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:54 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DB7DD2A890BC2F"'
      last-modified:
      - Thu, 06 Jul 2023 03:39:52 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Thu, 06 Jul 2023 03:39:54 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 06 Jul 2023 03:39:52 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:56 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DB7DD2A890BC2F"'
      last-modified:
      - Thu, 06 Jul 2023 03:39:52 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Thu, 06 Jul 2023 03:39:56 GMT
      x-ms-archive-status:
      - rehydrate-pending-to-cool
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 06 Jul 2023 03:39:52 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-rehydrate-priority:
      - High
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:40:07 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000006
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DB7DD2AF759985"'
      last-modified:
      - Thu, 06 Jul 2023 03:40:04 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Thu, 06 Jul 2023 03:40:07 GMT
      x-ms-archive-status:
      - rehydrate-pending-to-cold
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 06 Jul 2023 03:40:04 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-rehydrate-priority:
      - Standard
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
version: 1
