interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default?api-version=2025-08-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"staticWebsite":{"enabled":false},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"staticWebsite": {"enabled": false}, "cors": {"corsRules":
      []}, "deleteRetentionPolicy": {"allowPermanentDelete": false, "enabled": false},
      "isVersioningEnabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default?api-version=2025-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"staticWebsite":{"enabled":false},"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false},"isVersioningEnabled":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"immutableStorageWithVersioning": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default/containers/container000003?api-version=2025-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/version000002/blobServices/default/containers/container000003","name":"container000003","type":"Microsoft.Storage/storageAccounts/blobServices/containers","properties":{"immutableStorageWithVersioning":{"enabled":true},"deleted":false,"remainingRetentionDays":0,"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DEB1957A3166D7"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:47:52 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Thu, 14 May 2026 09:47:00 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://version000002.blob.core.windows.net/container000003/blob000004?comp=immutabilityPolicies
  response:
    body:
      string: ''
    headers:
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Thu, 14 May 2026 09:47:00 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:47:57 GMT
      x-ms-legal-hold:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://version000002.blob.core.windows.net/container000003/blob000004?comp=legalhold
  response:
    body:
      string: ''
    headers:
      x-ms-legal-hold:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:48:00 GMT
      x-ms-legal-hold:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://version000002.blob.core.windows.net/container000003/blob000004?comp=legalhold
  response:
    body:
      string: ''
    headers:
      x-ms-legal-hold:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
