interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-05-07T04:09:53.9615511Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-05-07T04:09:53.9615511Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 04:10:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2FDF7DFFDF4A"'
      last-modified:
      - Sat, 07 May 2022 04:10:16 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Sat, 07 May 2022 04:10:19 GMT
      x-ms-rehydrate-priority:
      - Standard
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/src?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 04:10:20 GMT
      x-ms-version:
      - '2021-04-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/src
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA2FDF7F83825F"'
      last-modified:
      - Sat, 07 May 2022 04:10:18 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Sat, 07 May 2022 04:10:20 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sat, 07 May 2022 04:10:18 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Cool
      x-ms-copy-source:
      - https://clitest57qmbx24pz4vlob3o.blob.core.windows.net/cont43c37oocum3sv4aa2zqf/src
      x-ms-date:
      - Sat, 07 May 2022 04:10:21 GMT
      x-ms-rehydrate-priority:
      - High
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/dst
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2FDF81AC2775"'
      last-modified:
      - Sat, 07 May 2022 04:10:22 GMT
      x-ms-copy-id:
      - 933bd034-7e95-4e0a-8c12-8b43a2842176
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2021-04-10'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 04:10:22 GMT
      x-ms-version:
      - '2021-04-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/dst
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA2FDF81AC2775"'
      last-modified:
      - Sat, 07 May 2022 04:10:22 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Sat, 07 May 2022 04:10:22 GMT
      x-ms-archive-status:
      - rehydrate-pending-to-cool
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Sat, 07 May 2022 04:10:22 GMT
      x-ms-copy-id:
      - 933bd034-7e95-4e0a-8c12-8b43a2842176
      x-ms-copy-progress:
      - 16384/16384
      x-ms-copy-source:
      - https://clitest57qmbx24pz4vlob3o.blob.core.windows.net/cont43c37oocum3sv4aa2zqf/src
      x-ms-copy-status:
      - success
      x-ms-copy-status-description:
      - pending
      x-ms-creation-time:
      - Sat, 07 May 2022 04:10:22 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-rehydrate-priority:
      - High
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
version: 1
