interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Sep 2025 09:04:16 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF6925933FF2C"'
      last-modified:
      - Thu, 18 Sep 2025 09:04:17 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 18 Sep 2025 09:04:18 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/readme
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8DDF69259EB250E"'
      last-modified:
      - Thu, 18 Sep 2025 09:04:19 GMT
      x-ms-content-crc64:
      - b3Eed3+v3vk=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testojn5g4auz7gbgtap7rxy\apple\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 18 Sep 2025 09:04:19 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/apple/file_0
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 463PUGutVKR3lenQoi0GnQ==
      etag:
      - '"0x8DDF6925A8B44F7"'
      last-modified:
      - Thu, 18 Sep 2025 09:04:20 GMT
      x-ms-content-crc64:
      - eNCO1vhLk5g=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testojn5g4auz7gbgtap7rxy\butter\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 18 Sep 2025 09:04:29 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/butter/file_0
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 9b/sO4zifnv0UaZvaocIvw==
      etag:
      - '"0x8DDF692609D8F63"'
      last-modified:
      - Thu, 18 Sep 2025 09:04:30 GMT
      x-ms-content-crc64:
      - ueqovENVQI0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testojn5g4auz7gbgtap7rxy\butter/charlie\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 18 Sep 2025 09:04:39 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/butter/charlie/file_0
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 12k9IzPedeb+H+LE+BwTOA==
      etag:
      - '"0x8DDF69266DECB96"'
      last-modified:
      - Thu, 18 Sep 2025 09:04:40 GMT
      x-ms-content-crc64:
      - +L0Pwqp4bcQ=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testojn5g4auz7gbgtap7rxy\duff/edward\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 18 Sep 2025 09:04:50 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/duff/edward/file_0
  response:
    body:
      string: ''
    headers:
      content-md5:
      - HZ5VvkfcPrB30qCGJtpzHA==
      etag:
      - '"0x8DDF6926D22EAB5"'
      last-modified:
      - Thu, 18 Sep 2025 09:04:51 GMT
      x-ms-content-crc64:
      - EgmoJYY8OLg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 18 Sep 2025 09:05:00 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/readme
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The
        specified blob already exists.\nRequestId:9219fa6b-901e-002e-3f7b-28a3bf000000\nTime:2025-09-18T09:05:01.7929402Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - BlobAlreadyExists
      x-ms-version:
      - '2022-11-02'
    status:
      code: 409
      message: The specified blob already exists.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Sep 2025 09:06:24 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"container1\"><Blobs><Blob><Name>apple/file_0</Name><Properties><Creation-Time>Thu,
        18 Sep 2025 09:04:20 GMT</Creation-Time><Last-Modified>Thu, 18 Sep 2025 09:05:45
        GMT</Last-Modified><Etag>0x8DDF6928D32D70B</Etag><Content-Length>133</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>463PUGutVKR3lenQoi0GnQ==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>apple/file_1</Name><Properties><Creation-Time>Thu, 18
        Sep 2025 09:04:21 GMT</Creation-Time><Last-Modified>Thu, 18 Sep 2025 09:05:46
        GMT</Last-Modified><Etag>0x8DDF6928DCBABD6</Etag><Content-Length>133</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>lIufFEDWG6WiNe7Vy5LCzw==</Content-MD5><Cache-Control
       [...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Sep 2025 09:06:26 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container1/apple/file_0
  response:
    body:
      string: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testojn5g4auz7gbgtap7rxy\apple\file_0'
    headers:
      content-range:
      - bytes 0-132/133
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DDF6928D32D70B"'
      last-modified:
      - Thu, 18 Sep 2025 09:05:45 GMT
      x-ms-blob-content-md5:
      - 463PUGutVKR3lenQoi0GnQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 18 Sep 2025 09:04:20 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Sep 2025 09:08:36 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container&comp=list&prefix=apple%2F
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"container1\"><Prefix>apple/</Prefix><Blobs><Blob><Name>apple/file_0</Name><Properties><Creation-Time>Thu,
        18 Sep 2025 09:04:20 GMT</Creation-Time><Last-Modified>Thu, 18 Sep 2025 09:05:45
        GMT</Last-Modified><Etag>0x8DDF6928D32D70B</Etag><Content-Length>133</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>463PUGutVKR3lenQoi0GnQ==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockB[...]
[...]
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Sep 2025 09:09:01 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container2?restype=container&comp=list&prefix=%2F
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"container2\"><Prefix>/</Prefix><Blobs><Blob><Name>/d[...]
[...]
