interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003","name":"clitest000003","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-05-19T04:50:04.916Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-05-19T04:50:04.916Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"vaultUri":"https://clitest000003.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/testkey/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/testkey/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clitest000003.vault.azure.net/keys/testkey/95e2e53829574dcab30f18020c00f067","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"za-uOwuwpVqOJMWvud-pMYvBYD0d3qZIdYUJbIFXjYnetD2VpkQyxUt_8mfhoEDe6798Se_a5HzGRdlmZpxfan1CEOD_ngZ10WtYrScIOngm8YIubav_zZEl1zQoIF817fgAYxYAR76dR21SB34ulfdXWEi5pfINjhARGh5XwDrqQylu0eRsX-OkPhkwUgov0mpUQ-Kf87j5XFl00eyVvFm4GIzJJebpETSJnCeKgX8Mn0V_MM9YKsyszBXeJOkvz685vhK1ZlH24YMLkLnIM9YDp9gbRu6Qb1ZJNiCdqXcUwaNk1N0JjpJBe8dimNS8b_dauWHFoFg35v9ly1KR_Q","e":"AQAB"},"attributes":{"enabled":true,"created":1747630242,"updated":1747630242,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-05-19T04:49:39.7811848Z","key2":"2025-05-19T04:49:39.7811848Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-19T04:49:39.7967785Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-19T04:49:39.7967785Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-05-19T04:49:39.6249010Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"southcentralus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "tags": {}, "identity": {"type": "SystemAssigned"},
      "properties": {"encryption": {"services": {"blob": {"enabled": true, "keyType":
      "Account"}, "file": {"enabled": true, "keyType": "Account"}}, "keySource": "Microsoft.Storage"},
      "supportsHttpsTrafficOnly": true, "networkAcls": {"bypass": "AzureServices",
      "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2024-01-01
  response:
    body:
      string: '{"identity":{"principalId":"7160480f-dd54-47e5-9bd6-1f7e1b8d8760","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-05-19T04:49:39.7811848[...]
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "d44a2991-98c6-47c3-b59b-2b30d72cfcc2",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "7160[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault","namespace":"Microsoft.KeyVault","authorizations":[{"applicationId":"cfa8b339-82a2-471a-a3c9-0fc0be7a4093","roleDefinitionId":"1cf9858a-28a2-4228-abba-94e606305b95"},{"applicationId":"589d5083-6f11-4d30-a62a-a4b316a14abf","roleDefinitionId":"1f7e9952-ea79-42b8-a90e-b2dabbe1c1f2"},{"applicationId":"a1b76039-a76c-499f-a2dd-846b4cc32627"},{"applicationId":"1341df96-0b28-43da-ba24-7a6ce39be816"}],"resourceTypes":[{"resourceType":"operations","locations":[],"apiVersions":["2024-12-01-preview","2024-11-01","2024-04-01-preview","2023-08-01-PREVIEW","2023-07-01","2023-02-01","2022-11-01","2022-07-01","2022-02-01-preview","2021-11-01-preview","2021-10-01","2021-06-01-preview","2021-04-01-preview","2020-04-01-preview","2019-09-01","2018-02-14-preview","2018-02-14","2016-10-01","2015-06-01","2014-12-19-preview"],"defaultApiVersion":"2019-09-01","apiProfiles":[{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-10-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-10-01"},{"profileVersion":"2018-06-01-profile","apiVersion":"2016-10-01"}],"capabilities":"None"},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2024-12-01-preview","2024-11-01","2024-04-01-preview","2023-08-01-PREVIEW","2023-07-01","2023-02-01","2022-11-01","2022-07-01","2022-02-01-preview","2021-11-01-preview","2021-10-01","2021-06-01-preview","2021-04-01-preview","2020-04-01-preview","2019-09-01","2018-02-14-preview","2018-02-14","2016-10-01","2015-06-01"],"defaultApiVersion":"2019-09-01","apiProfiles":[{"profileVersion":"2018-06-01-profile","apiVersion":"2[...]
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"sku": {"family":
      "A", "name": "standard"}, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "d44a2991-98c6-47c3-b59b-2b30d72cfcc2", "permissions": {"keys": ["all"], "secrets":
      ["all"], "certificates": ["all"], "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "7160480f-dd54-47e5-9bd6-1f7e1b8d8760", "permissions": {"keys":
      ["wrapKey", "unwrapKey", "recover", "get"]}}], "enabledForDeployment": false,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "enableRbacAuthorization":
      false, "vaultUri": "https://clitest000003.vault.azure.net/", "provisioningState":
      "Succeeded", "publicNetworkAccess": "Enabled", "enablePurgeProtection": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003","name":"clitest000003","type":"Microsoft.Key[...]
[...]
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "tags": {}, "properties": {"encryption":
      {"services": {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled":
      true, "keyType": "Account"}}, "keySource": "Microsoft.Keyvault", "keyvaultproperties":
      {"keyname": "testkey", "keyvaulturi": "https://clitest000003.vault.azure.net/"}},
      "supportsHttpsTrafficOnly": true, "networkAcls": {"bypass": "AzureServices",
      "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2024-01-01
  response:
    body:
      string: '{"identity":{"principalId":"7160480f-dd54-47e5-9bd6-1f7e1b8d8760","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-05-19T04:49:39.7811848Z","key2":"2025-05-19T04:49:39.7811848Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"keyvaultproperties":{"currentVersionedKeyIdentifier":"https://clitest000003.vault.azure.net/keys/testkey/95e2e53829574dcab30f18020c00f067","lastKeyRotationTimestamp":"2025-05-19T04:51:02.9378971Z","currentVersionedKeyExpirationTimestamp":"1970-01-01T00:00:00.0000000Z","keyvaulturi":"https://clitest000003.vault.azure.net/","keyname":"testkey"},"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-19T04:49:39.7967785Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-19T04:49:39.7967785Z"}},"keySource":"Microsoft.Keyvault"},"provisioningState":"Succeeded","creationTime":"2025-05-19T04:49:39.6249010Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"southcentralus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "tags": {}, "properties": {"encryption":
      {"services": {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled":
      true, "keyType": "Account"}}, "keySource": "Microsoft.Keyvault", "keyvaultproperties":
      {"keyname": "testkey", "keyversion": "95e2e53829574dcab30f18020c00f067", "keyvaulturi":
      "https://clitest000003.vault.azure.net/"}}, "supportsHttpsTrafficOnly": true,
      "networkAcls": {"bypass": "AzureServices", "virtualNetworkRules": [], "ipRules":
      [], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccoun[...]
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/newkey/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clitest000003.vault.azure.net/keys/newkey/c64fa538480c4d979e282dff7b3cc30c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wEZbxFWMr6GQpeJ_tlh_AgHPnX5xEzhHFWqztWfLsKTlRD82P_0jO6NT8eBdLb8n91MiYiANdWxSvFIyzww4KKeweymXk3Ei2uzu1J4l37Y5Hci89EvBUZ5vTIuZGehbSOTN-tkuAEJyhcsBSDMb3ocOdGrmtB9HUqslMctm81SG0-UxnYyTsAMdDa7G3TY7PpgbL4srlWvDiTGkoiJhwQcI1FH_3Vz9VpMHlZGSmURb6_bUimtd75ZwkodMj7d42aCYyu1malaKBS6oQEpXD-JjujwN5-HrVyQRy48W3PUl366NN6moNP5ywJudlQHjh4wbV4UUJVw6bPIQQ7cebQ","e":"AQAB"},"attributes":{"enabled":true,"created":1747630277,"updated":1747630277,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
