interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 12:46:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D8C2457377DA"'
      last-modified:
      - Wed, 24 Feb 2021 12:46:57 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 12:46:58 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D8C246FADF00"'
      last-modified:
      - Wed, 24 Feb 2021 12:46:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Wed, 24 Feb 2021 12:47:01 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D8C24893F14B"'
      last-modified:
      - Wed, 24 Feb 2021 12:47:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 12:47:02 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8D8D8C249706F5B"'
      last-modified:
      - Wed, 24 Feb 2021 12:47:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 12:47:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8D8C249706F5B"'
      last-modified:
      - Wed, 24 Feb 2021 12:47:04 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestwc7zrbaervg3dahfx.file.core.windows.net/sharen26aw53k4bpeuqlf5lj/dir1/source_file.txt
      x-ms-date:
      - Wed, 24 Feb 2021 12:47:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D8C24B55DAA1"'
      last-modified:
      - Wed, 24 Feb 2021 12:47:07 GMT
      x-ms-copy-id:
      - 6d6a06b0-f15a-4165-99dd-5598d014dc0a
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 12:47:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8D8C24B55DAA1"'
      last-modified:
      - Wed, 24 Feb 2021 12:47:07 GMT
      x-ms-copy-completion-time:
      - Wed, 24 Feb 2021 12:47:07 GMT
      x-ms-copy-id:
      - 6d6a06b0-f15a-4165-99dd-5598d014dc0a
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestwc7zrbaervg3dahfx.file.core.windows.net/sharen26aw53k4bpeuqlf5lj/dir1/source_file.txt
      x-ms-copy-status:
      - success
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestwc7zrbaervg3dahfx.file.core.windows.net/sharen26aw53k4bpeuqlf5lj/dir1%5Csource_file.txt
      x-ms-date:
      - Wed, 24 Feb 2021 12:47:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D8C24EE0DDDC"'
      last-modified:
      - Wed, 24 Feb 2021 12:47:13 GMT
      x-ms-copy-id:
      - 0bf973e6-e6a4-4e9c-849d-6420347d7cdd
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
