interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-05-07T09:39:12.4093901Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-05-07T09:39:12.4093901Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 09:39:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA300D82641540"'
      last-modified:
      - Sat, 07 May 2022 09:39:40 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 09:39:41 GMT
      x-ms-meta:
      - '{''foo'': ''bar'', ''cat'': ''hat''}'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA300D8335491C"'
      last-modified:
      - Sat, 07 May 2022 09:39:42 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 09:39:43 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The
        specified share already exists.\nRequestId:07a66667-501a-0036-23f6-6198fb000000\nTime:2022-05-07T09:39:44.6097394Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ShareAlreadyExists
      x-ms-version:
      - '2019-07-07'
    status:
      code: 409
      message: The specified share already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 09:39:45 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA300D8335491C"'
      last-modified:
      - Sat, 07 May 2022 09:39:42 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 09:39:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://share000002.file.core.windows.net/?maxresults=5000&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://share000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000004</Name><Properties><Last-Modified>Sat,
        07 May 2022 09:39:40 GMT</Last-Modified><Etag>\"0x8DA300D82641540\"</Etag><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share000003</Name><Properties><Last-Modified>Sat,
        07 May 2022 09:39:42 GMT</Last-Modified><Etag>\"0x8DA300D8335491C\"</Etag><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 09:39:54 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA300D8AFDDA42"'
      last-modified:
      - Sat, 07 May 2022 09:39:55 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 09:39:56 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA300D8AFDDA42"'
      last-modified:
      - Sat, 07 May 2022 09:39:55 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
version: 1
