interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_storage_account_routingfjykngiub4b3mrfxz3pme243zxvg2xytiblocvfcn224igoy/providers/Microsoft.Storage/storageAccounts/cliroutingquaxok2x2dupks","name":"cliroutingquaxok2x2dupks","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-09-23T08:52:52.3676072Z","key2":"2025-09-23T08:52:52.3676072Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"routingPreference":{"routingChoice":"InternetRouting","publishMicrosoftEndpoints":false,"publishInternetEndpoints":true},"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-23T08:52:52.3676072Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-23T08:52:52.3676072Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"ResolvingDns","creationTime":"2025-09-23T08:52:52.1801021Z","primaryEndpoints":{"internetEndpoints":{"blob":"https://cliroutingquaxok2x2dupks-internetrouting.blob.core.windows.net/","file":"https://cliroutingquaxok2x2dupks-internetrouting.file.core.windows.net/","dfs":"https://cliroutingquaxok2x2dupks-internetrouting.dfs.core.windows.net/","web":"https://cliroutingquaxok2x2dupks-internetrouting.z13.web.core.windows.net/"},"dfs":"https://cliroutingquaxok2x2dupks.dfs.core.windows.net/","web":"https://cliroutingquaxok2x2dupks.z13.web.core.windows.net/","blob":"https://cliroutingquaxok2x2dupks.blob.core.windows.net/","queue":"https://cliroutingquaxok2x2dupks.queue.core.windows.net/","table":"https://cliroutingquaxok2x2dupks.table.core.windows.net/","file":"https://cliroutingquaxok2x2dupks.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"internetEndpoints":{"blob":"https://cliroutingquaxok2x2dupks-internetrouting-secondary.blob.core.windows.net/","dfs":"https://cliroutingquaxok2x2dupks-internetrouting-secondary.dfs.core.windows.net/","web":"https://cliroutingquaxok2x2dupks-internetrouting-secondary.z13.web.core.windows.net/"},"dfs":"https://cliroutingquaxok2x2dupks-secondary.dfs.core.windows.net/","web":"https://cliroutingquaxok2x2dupks-secondary.z13.web.core.windows.net/","blob":"https://cliroutingquaxok2x2dupks-secondary.blo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_storage_account000001/providers/Microsoft.Storage/storageAccounts/blob000002?api-version=2025-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_storage_account000001/providers/Microsoft.Storage/storage[...]
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "tags": {}, "properties": {"encryption":
      {"services": {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled":
      true, "keyType": "Account"}}, "keySource": "Microsoft.Storage"}, "supportsHttpsTrafficOnly":
      true, "networkAcls": {"bypass": "AzureServices", "virtualNetworkRules": [],
      "ipRules": [], "ipv6Rules": [], "defaultAction": "Allow"}, "allowBlobPublicAccess":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_storage_account000001/providers/Microsoft.Storage/storageAccounts/blob000002?api-version=2025-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_storage_account000001/providers/Microsoft.Storage/storageAccounts/bl[...]
[...]
