interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-09-07T07:12:25.0517832Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-09-07T07:12:25.0517832Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 07:12:48 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D971CEE77030A6"'
      last-modified:
      - Tue, 07 Sep 2021 07:12:50 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-access-tier:
      - P10
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Tue, 07 Sep 2021 07:12:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D971CEE8118318"'
      last-modified:
      - Tue, 07 Sep 2021 07:12:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 07:12:52 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D971CEE8118318"'
      last-modified:
      - Tue, 07 Sep 2021 07:12:52 GMT
      x-ms-access-tier:
      - P10
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Tue, 07 Sep 2021 07:12:52 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 07:12:53 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<PageList/>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D971CEE8118318"'
      last-modified:
      - Tue, 07 Sep 2021 07:12:52 GMT
      x-ms-blob-content-length:
      - '16384'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - P20
      x-ms-date:
      - Tue, 07 Sep 2021 07:12:53 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 07:12:55 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<PageList/>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D971CEE8118318"'
      last-modified:
      - Tue, 07 Sep 2021 07:12:52 GMT
      x-ms-blob-content-length:
      - '16384'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
version: 1
