interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:22 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7DD0A20186646"'
      last-modified:
      - Fri, 10 Apr 2020 04:46:25 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:25 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-07-07'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:27 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7DD0A21E12258"'
      last-modified:
      - Fri, 10 Apr 2020 04:46:28 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D7DD0A21E12258"'
      last-modified:
      - Fri, 10 Apr 2020 04:46:28 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 10 Apr 2020 04:46:28 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:31 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Fsubdir000005?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7DD0A244BC61A"'
      last-modified:
      - Fri, 10 Apr 2020 04:46:32 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:32 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004%2Fsubdir000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D7DD0A244BC61A"'
      last-modified:
      - Fri, 10 Apr 2020 04:46:32 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 10 Apr 2020 04:46:32 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D7DD0A21E12258","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        10 Apr 2020 04:46:28 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D7DD0A244BC61A","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        10 Apr 2020 04:46:32 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?directory=dir000004&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D7DD0A244BC61A","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        10 Apr 2020 04:46:32 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:37 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/new_dir
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-07-07'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:38 GMT
      x-ms-properties:
      - ''
      x-ms-rename-source:
      - /filesystemlizd47aq35qw6r/diranisssivl/subdirllmgr3
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?mode=legacy
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Apr 2020 04:46:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
