interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:35:16.2336605Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:35:16.2336605Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:41 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0B3916FBD"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:42 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:43 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:44 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0B5117F7C"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:45 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:45 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DE12E0B5117F7C"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:45 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 24 Oct 2025 09:35:45 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:47 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0B5117F7C"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:45 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: testappend
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:49 GMT
      x-ms-version:
      - '2021-08-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:50 GMT
      x-ms-version:
      - '2021-08-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=flush&position=10&retainUncommittedData=false&close=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0B8D94CCD"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:51 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:53 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:54 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0BB61FB84"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:55 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:56 GMT
      x-ms-version:
      - '2021-08-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:58 GMT
      x-ms-version:
      - '2021-08-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=1048576&close=true
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0BD7E4665"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:59 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:02 GMT
      x-ms-version:
      - '2021-08-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=524288&close=true
  response:
    body:
      string: '{"error":{"code":"InvalidFlushPosition","message":"The uploaded data
        is not contiguous or the position query parameter value is not equal to the
        length of the file after appending the uploaded data.\nRequestId:1ae2f7cc-401f-0012-31c9-448a78000000\nTime:2025-10-24T09:36:04.0079089Z"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - InvalidFlushPosition
      x-ms-version:
      - '2021-08-06'
    status:
      code: 400
      message: The uploaded data is not contiguous or the position query parameter
        value is not equal to the length of the file after appending the uploaded
        data.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:13 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"134057721558755580","etag":"0x8DE12E0BB5F6AA8","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        24 Oct 2025 09:35:55 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"524288","creationTime":"134057721695943144","etag":"0x8DE12E0C58B2F99","expiryTime":"0","group":"$superuser","lastModified":"Fri,
        24 Oct 2025 09:36:12 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"10","creationTime":"134057721452986236","etag":"0x8DE12E0B8D94CCD","expiryTime":"0","group":"$superuser","lastModified":"Fri,
        24 Oct 2025 09:35:51 GMT","name":"file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:15 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&directory=dir000004&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"134057721695943144","etag":"0x8DE12E0C58B2F99","expiryTime":"0","group":"$superuser","lastModified":"Fri,
        24 Oct 2025 09:36:12 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:16 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"134057721558755580","etag":"0x8DE12E0BB5F6AA8","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        24 Oct 2025 09:35:55 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBaxitzklejDxAsYeBhuL2NsaXRlc3R3cDRmb3R6YWJqZDVpcGN2egEwMURDNDRDOTgxNDUyNzM3L2ZpbGVzeXN0ZW00NWdqdHVtc2poaHdveAEwMURDNDRDOTkxMUFCQUFCL2RpcnBmYm9qb3VleC9maWxlcGo1cGZnM3cWAHUAJcgBAAA=
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:17 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&continuation=VBaxitzklejDxAsYeBhuL2NsaXRlc3R3cDRmb3R6YWJqZDVpcGN2egEwMURDNDRDOTgxNDUyNzM3L2ZpbGVzeXN0ZW00NWdqdHVtc2poaHdveAEwMURDNDRDOTkxMUFCQUFCL2RpcnBmYm9qb3VleC9maWxlcGo1cGZnM3cWAHUAJcgBAAA%3D&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"134057721695943144","etag":"0x8DE12E0C58B2F99","expiryTime":"0","group":"$superuser","lastModified":"Fri,
        24 Oct 2025 09:36:12 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBaqtIfA8+jQ3hAYaxhhL2NsaXRlc3R3cDRmb3R6YWJqZDVpcGN2egEwMURDNDRDOTgxNDUyNzM3L2ZpbGVzeXN0ZW00NWdqdHVtc2poaHdveAEwMURDNDRDOTkxMUFCQUFCL2ZpbGVwajVwZmczdxYAdQAlyAEAAA==
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:21 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
