interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-06-03T06:30:38.3904464Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-06-03T06:30:38.3904464Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 Jun 2025 06:31:32 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDA26848D25C91"'
      last-modified:
      - Tue, 03 Jun 2025 06:31:33 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Tue, 03 Jun 2025 06:31:34 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDA268497F5CD3"'
      last-modified:
      - Tue, 03 Jun 2025 06:31:34 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 03 Jun 2025 06:31:35 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDA268497F5CD3"'
      last-modified:
      - Tue, 03 Jun 2025 06:31:34 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2025-06-03T06:31:36.0334553Z'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - '2020-06-29T06:32:00.000Z'
      x-ms-copy-source:
      - https://clitestfntcojcvmljxmuqra.blob.core.windows.net/contqyscwsu4x3ezihtlwh6h/src?se=2025-06-04T06%3A31%3A39Z&sp=r&spr=https&sv=2022-11-02&sr=b&sig=ZcnssBfKa7YOSpJXylfJClpw4Inwd34c10vgPtYnMyU%3D&snapshot=2025-06-03T06:31:36.0334553Z
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDA2684C8454F0"'
      last-modified:
      - Tue, 03 Jun 2025 06:31:40 GMT
      x-ms-copy-id:
      - ee52154e-43ed-467c-a31d-8e6dc9e4db2a
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
version: 1
