interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-16T09:24:36.0367609Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-16T09:24:36.0367609Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:02 GMT
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95E3307DF7"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:03 GMT
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:03 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95E5481FB8"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:06 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-16T09:25:06.9558712Z'
      x-ms-file-creation-time:
      - '2025-10-16T09:25:06.9558712Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-16T09:25:06.9558712Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13291034653345656678*1212547851171579880
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:09 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE0C95E68F353E"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:09 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-16T09:25:09.0994494Z'
      x-ms-file-creation-time:
      - '2025-10-16T09:25:06.9558712Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-16T09:25:09.0994494Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13291034653345656678*1212547851171579880
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:10 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:13 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      content-range:
      - bytes 0-511/131072
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE0C95E68F353E"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:09 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-16T09:25:09.0994494Z'
      x-ms-file-creation-time:
      - '2025-10-16T09:25:06.9558712Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-16T09:25:09.0994494Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13291034653345656678*1212547851171579880
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-07-05'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '1234'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:16 GMT
      x-ms-file-permission:
      - preserve
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95EB8D9DB9"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:17 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-16T09:25:17.4776249Z'
      x-ms-file-creation-time:
      - '2025-10-16T09:25:06.9558712Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-16T09:25:17.4776249Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13291034653345656678*1212547851171579880
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:19 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-meta:
      - '{''a'': ''b'', ''c'': ''d''}'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95ED193755"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:24 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:a65ded1d-401a-0050-7f7e-3e8ffa000000\nTime:2025-10-16T09:25:25.3516216Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-07-05'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:25 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95E3307DF7"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:03 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-share-quota:
      - '102400'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:26 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><DirectoryId>0</DirectoryId><Entries><File><Name>sample_file.bin</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1234</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-type:
      - test/type
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:29 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95F34B431A"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:30 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-16T09:25:30.4645402Z'
      x-ms-file-creation-time:
      - '2025-10-16T09:25:06.9558712Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-16T09:25:17.4776249Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13291034653345656678*1212547851171579880
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:34 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95F671807E"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:35 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-16T09:25:35.7483134Z'
      x-ms-file-creation-time:
      - '2025-10-16T09:25:35.7483134Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-10-16T09:25:35.7483134Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 8649431139551105121*1212547851171579880
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:36 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir000004</Name><FileId>13835093239654252544</FileId><Properties><CreationTime>2025-10-16T09:25:35.7483134Z</CreationTime><LastAccessTime>2025-10-16T09:25:35.7483134Z</LastAccessTime><LastWriteTime>2025-10-16T09:25:35.7483134Z</LastWriteTime><ChangeTime>2025-10-16T09:25:35.7483134Z</ChangeTime><Last-Modified>Thu,
        16 Oct 2025 09:25:35 GMT</Last-Modified><Etag>\"0x8DE0C95F671807E\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>8649431139551105121*1212547851171579880</PermissionKey></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:38 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C95F8C7C363"'
      last-modified:
      - Thu, 16 Oct 2025 09:25:39 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 09:25:45 GMT
      x-ms-version:
      - '2025-07-05'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
version: 1
