interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:59:54.5011097Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:59:54.5011097Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:23 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E4270BCF48"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:25 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:27 GMT
      x-ms-rehydrate-priority:
      - Standard
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/src?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:28 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/src
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE12E42885719C"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:27 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Fri, 24 Oct 2025 10:00:28 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 24 Oct 2025 10:00:27 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Cool
      x-ms-copy-source:
      - https://clitest4gkr543gfvaey5vxx.blob.core.windows.net/contxakxvwosampxaybsuf2b/src
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:29 GMT
      x-ms-rehydrate-priority:
      - High
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/dst
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E42A859237"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:30 GMT
      x-ms-copy-id:
      - 3d5b3ad4-d9a3-488f-8798-d37a0102ebc6
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2022-11-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:31 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/dst
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE12E42A859237"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:30 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Fri, 24 Oct 2025 10:00:30 GMT
      x-ms-archive-status:
      - rehydrate-pending-to-cool
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Fri, 24 Oct 2025 10:00:30 GMT
      x-ms-copy-id:
      - 3d5b3ad4-d9a3-488f-8798-d37a0102ebc6
      x-ms-copy-progress:
      - 16384/16384
      x-ms-copy-source:
      - https://clitest4gkr543gfvaey5vxx.blob.core.windows.net/contxakxvwosampxaybsuf2b/src
      x-ms-copy-status:
      - success
      x-ms-copy-status-description:
      - pending
      x-ms-creation-time:
      - Fri, 24 Oct 2025 10:00:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-rehydrate-priority:
      - High
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
version: 1
