interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:34 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84408441FCDB8"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:36 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:39 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D84408455CA68B"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:38 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 19 Aug 2020 06:22:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '131072'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:41 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8440847DB87D6"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:42 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:43 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8440847DB87D6"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:42 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Wed, 19 Aug 2020 06:22:42 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:44 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D8440847DB87D6"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:42 GMT
      x-ms-blob-content-length:
      - '131072'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:44 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D84408455CA68B"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:38 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2020-08-19T06:22:45.8793009Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '0x8D84408455CA68B'
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:47 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D84408455CA68B"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:38 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 19 Aug 2020 06:22:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-None-Match:
      - '0x8D84408455CA68B'
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:50 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-12-12'
    status:
      code: 304
      message: The condition specified using HTTP conditional header(s) is not met.
[...]
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:53 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-12-12'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
- request:
    body: null
    headers:
      If-Modified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-date:
      - Wed, 19 Aug 2020 06:22:54 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D84408455CA68B"'
      last-modified:
      - Wed, 19 Aug 2020 06:22:38 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 19 Aug 2020 06:22:38 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
version: 1
