interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7575C9CA027CF"'
      last-modified:
      - Wed, 23 Oct 2019 01:59:17 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:17 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7575C9CA027CF"'
      last-modified:
      - Wed, 23 Oct 2019 01:59:17 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D7575C9CA027CF"'
      last-modified:
      - Wed, 23 Oct 2019 01:59:17 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers />'
    headers:
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:20 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7575C9F7728A5"'
      last-modified:
      - Wed, 23 Oct 2019 01:59:22 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><MaxResults>5000</MaxResults><Containers><Container><Name>cont000003</Name><Properties><Last-Modified>Wed,
        23 Oct 2019 01:59:26 GMT</Last-Modified><Etag>\"0x8D7575CA24FFF59\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:32 GMT
      x-ms-meta-foo:
      - bar
      x-ms-meta-moo:
      - bak
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7575CA6D613C6"'
      last-modified:
      - Wed, 23 Oct 2019 01:59:34 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Fri, 01 Apr 2016 12:00:00 GMT
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:39 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '60'
      x-ms-proposed-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7575CA8E90418"'
      last-modified:
      - Wed, 23 Oct 2019 01:59:37 GMT
      x-ms-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:49 GMT
      x-ms-lease-action:
      - break
      x-ms-lease-break-period:
      - '30'
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7575CA8E90418"'
      last-modified:
      - Wed, 23 Oct 2019 01:59:37 GMT
      x-ms-lease-time:
      - '30'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Oct 2019 01:59:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:eefb89a9-e01e-009c-0b45-892f69000000\nTime:2019-10-23T02:00:00.8118826Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified container does not exist.
version: 1
