interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002/listKeys?api-version=2023-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2024-06-20T04:28:46.7336489Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2024-06-20T04:28:46.7336489Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002?api-version=2023-05-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002","name":"share000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2024-06-20T04:28:46.7336489Z","key2":"2024-06-20T04:28:46.7336489Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-06-20T04:28:46.8899092Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-06-20T04:28:46.8899092Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2024-06-20T04:28:46.5930266Z","primaryEndpoints":{"dfs":"https://share000002.dfs.core.windows.net/","web":"https://share000002.z20.web.core.windows.net/","blob":"https://share000002.blob.core.windows.net/","queue":"https://share000002.queue.core.windows.net/","table":"https://share000002.table.core.windows.net/","file":"https://share000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://share000002-secondary.dfs.core.windows.net/","web":"https://share000002-secondary.z20.web.core.windows.net/","blob":"https://share000002-secondary.blob.core.windows.net/","queue":"https://share000002-secondary.queue.core.windows.net/","table":"https://share000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Jun 2024 04:29:11 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC90E189B0A2DD"'
      last-modified:
      - Thu, 20 Jun 2024 04:29:13 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Jun 2024 04:29:13 GMT
      x-ms-meta:
      - '{''foo'': ''bar'', ''cat'': ''hat''}'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC90E18A90C3BD"'
      last-modified:
      - Thu, 20 Jun 2024 04:29:14 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Jun 2024 04:29:15 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The
        specified share already exists.\nRequestId:6bce5aca-201a-000e-80ca-c2936a000000\nTime:2024-06-20T04:29:16.1120710Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ShareAlreadyExists
      x-ms-version:
      - '2022-11-02'
    status:
      code: 409
      message: The specified share already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Jun 2024 04:29:16 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC90E18A90C3BD"'
      last-modified:
      - Thu, 20 Jun 2024 04:29:14 GMT
      x-ms-access-tier:
      - TransactionOptimized
      x-ms-access-tier-change-time:
      - Thu, 20 Jun 2024 04:29:14 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-share-quota:
      - '102400'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Jun 2024 04:29:17 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://share000002.file.core.windows.net/?comp=list&maxresults=5000&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://share000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000004</Name><Properties><Last-Modified>Thu,
        20 Jun 2024 04:29:13 GMT</Last-Modified><Etag>\"0x8DC90E189B0A2DD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu,
        20 Jun 2024 04:29:13 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share000003</Name><Properties><Last-Modified>Thu,
        20 Jun 2024 04:29:14 GMT</Last-Modified><Etag>\"0x8DC90E18A90C3BD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu,
        20 Jun 2024 04:29:14 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Jun 2024 04:29:25 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC90E191AD9F98"'
      last-modified:
      - Thu, 20 Jun 2024 04:29:26 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Jun 2024 04:29:26 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC90E191AD9F98"'
      last-modified:
      - Thu, 20 Jun 2024 04:29:26 GMT
      x-ms-access-tier:
      - TransactionOptimized
      x-ms-access-tier-change-time:
      - Thu, 20 Jun 2024 04:29:13 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
version: 1
