interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-02-23T03:49:12.9006486Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-02-23T03:49:12.9006486Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:35 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F83059DA0"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:36 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:36 GMT
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F83C77042"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:38 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:38 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F83059DA0"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:36 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:39 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F83C77042"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:38 GMT
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:40 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/?comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000004</Name><Properties><Last-Modified>Wed,
        23 Feb 2022 03:49:38 GMT</Last-Modified><Etag>\"0x8D9F67F83C77042\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share000003</Name><Properties><Last-Modified>Wed,
        23 Feb 2022 03:49:36 GMT</Last-Modified><Etag>\"0x8D9F67F83059DA0\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:41 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F86B08B21"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:43 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:46 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F8992A553"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:47 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:49 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F8B27A630"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:50 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9F67F8BBEC77B"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:51 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:52 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:54 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      content-range:
      - bytes 0-511/131072
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9F67F8BBEC77B"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:51 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1234'
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:55 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F8F1C6B2D"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:57 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:58 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F90B9DA63"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><Entries><File><Name>sample_file.bin</Name><Properties><Content-Length>1234</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-type:
      - test/type
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F95145774"'
      last-modified:
      - Wed, 23 Feb 2022 03:50:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:10 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F97EE8610"'
      last-modified:
      - Wed, 23 Feb 2022 03:50:11 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:11 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><Entries><Directory><Name>dir000005</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:14 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F9A17A684"'
      last-modified:
      - Wed, 23 Feb 2022 03:50:15 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '65536'
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:20 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005/testfile.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F9DB7EEEF"'
      last-modified:
      - Wed, 23 Feb 2022 03:50:21 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000005\"><MaxResults>5000</MaxResults><Entries><File><Name>testfile.txt</Name><Properties><Content-Length>65536</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsageBytes>65536</ShareUsageBytes></ShareStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:29 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/testfile.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:9071c381-801a-0056-1468-28bc83000000\nTime:2022-02-23T03:50:32.9096545Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:50:36 GMT
      x-ms-version:
      - '2018-11-09'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
