interactions:
- request:
    body: '{"properties": {"policy": {"rules": [{"name": "olcmtest", "type": "Lifecycle",
      "definition": {"actions": {"baseBlob": {"delete": {"daysAfterModificationGreaterThan":
      90.0}}, "snapshot": {"delete": {"daysAfterCreationGreaterThan": 90.0}}, "version":
      {"delete": {"daysAfterCreationGreaterThan": 90.0}}}, "filters": {"prefixMatch":
      ["olcmtestcontainer1"], "blobTypes": ["blockBlob", "appendBlob"]}}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/managementPolicies/default?api-version=2019-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/managementPolicies/default","name":"DefaultManagementPolicy","type":"Microsoft.Storage/storageAccounts/managementPolicies","properties":{"policy":{"rules":[{"enabled":true,"name":"olcmtest","type":"Lifecycle","definition":{"actions":{"version":{"delete":{"daysAfterCreationGreaterThan":90.0}},"baseBlob":{"delete":{"daysAfterModificationGreaterThan":90.0}},"snapshot":{"delete":{"daysAfterCreationGreaterThan":90.0}}},"filters":{"blobTypes":["blockBlob","appendBlob"],"prefixMatch":["olcmtestcontainer1"]}}}]},"lastModifiedTime":"2021-01-29T03:39:39.0845646Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/managementPolicies/default?api-version=2019-06-01
  response:
    body:
      string: '{"error":{"code":"ManagementPolicyNotFound","message":"No ManagementPolicy
        found for account clitest000002"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
