interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:59:48.8741556Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:59:48.8741556Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:13 GMT
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E42110DECA"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:14 GMT
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:15 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E421DB7886"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:16 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T10:00:16.3063942Z'
      x-ms-file-creation-time:
      - '2025-10-24T10:00:16.3063942Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-24T10:00:16.3063942Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 3555378105314336387*11094571284524938765
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:18 GMT
      x-ms-version:
      - '2025-07-05'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE12E4231C54AD"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:18 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T10:00:18.4091821Z'
      x-ms-file-creation-time:
      - '2025-10-24T10:00:16.3063942Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-24T10:00:18.4091821Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 3555378105314336387*11094571284524938765
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/whatif-demo-rg/providers/Microsoft.Storage/storageAccounts/whatifdemosa","name":"whatifdemosa","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"environment":"test"},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-09-30T01:49:26.1073945Z","key2":"2025-09-30T01:49:26.1073945Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T01:49:26.1073945Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T01:49:26.1073945Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-09-30T01:49:25.9199024Z","primaryEndpoints":{"dfs":"https://whatifdemosa.dfs.core.windows.net/","web":"https://whatifdemosa.z13.web.core.windows.net/","blob":"https://whatifdemosa.blob.core.windows.net/","queue":"https://whatifdemosa.queue.core.windows.net/","table":"https://whatifdemosa.table.core.windows.net/","file":"https://whatifdemosa.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://whatifdemosa-secondary.dfs.core.windows.net/","web":"https://whatifdemosa-secondary.z13.web.core.windows.net/","blob":"https://whatifdemosa-secondary.blob.core.windows.net/","queue":"https://whatifdemosa-secondary.queue.core.windows.net/","table":"https://whatifdemosa-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgd27z3tdjet3vfsn7botbqsf6jm[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clites[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:28 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'false'
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:31 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin...
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:a61ddb76-101a-0060-1ecd-446788000000\nTime:2025-10-24T10:00:32.6247842Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-07-05'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitestbma7jozgvghnyw43t.file.core.windows.net/shareij4yryuhj2qk6jx6vaj/sample_file.bin...
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:32 GMT
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file_dst.bin...
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E42C68A661"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:34 GMT
      x-ms-copy-id:
      - d410f9cc-6d88-47bb-8568-66073ea888b5
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:34 GMT
      x-ms-version:
      - '2025-07-05'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file_dst.bin...
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE12E42C68A661"'
      last-modified:
      - Fri, 24 Oct 2025 10:00:34 GMT
      x-ms-copy-completion-time:
      - Fri, 24 Oct 2025 10:00:34 GMT
      x-ms-copy-id:
      - d410f9cc-6d88-47bb-8568-66073ea888b5
      x-ms-copy-progress:
      - 131072/131072
      x-ms-copy-source:
      - https://clitestbma7jozgvghnyw43t.file.core.windows.net/shareij4yryuhj2qk6jx6vaj/sample_file.bin...
      x-ms-copy-status:
      - success
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T10:00:34.0088417Z'
      x-ms-file-creation-time:
      - '2025-10-24T10:00:34.0088417Z'
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2025-10-24T10:00:34.0088417Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 3555378105314336387*11094571284524938765
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
