interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-11-18T07:04:26.8599903Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-11-18T07:04:26.8599903Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares"}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DAC9332E91E346"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003?api-version=2022-09-01&$expand=stats
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DAC9332E91E346\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"shareUsageBytes":0,"lastModifiedTime":"2022-11-18T07:04:48.0000000Z","shareQuota":5120}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DAC9332E91E346"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Fri, 18 Nov 2022 07:04:49 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://stats000002.file.core.windows.net/share000003/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAC9332F16EDCE"'
      last-modified:
      - Fri, 18 Nov 2022 07:04:49 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-11-18T07:04:49.6893390Z'
      x-ms-file-creation-time:
      - '2022-11-18T07:04:49.6893390Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-11-18T07:04:49.6893390Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2352498718481997592*9801285653609297814
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
