interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:12 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D9FD314E60E4"'
      last-modified:
      - Fri, 26 Feb 2021 02:21:15 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:15 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:16 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D9FD32D0977F"'
      last-modified:
      - Fri, 26 Feb 2021 02:21:17 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:17 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D8D9FD32D0977F"'
      last-modified:
      - Fri, 26 Feb 2021 02:21:17 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 26 Feb 2021 02:21:17 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:19 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D9FD32D0977F"'
      last-modified:
      - Fri, 26 Feb 2021 02:21:17 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: testappend
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:22 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:23 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=flush&position=10&retainUncommittedData=false&close=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D9FD362A3C29"'
      last-modified:
      - Fri, 26 Feb 2021 02:21:23 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:25 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:26 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D9FD38B2FC10"'
      last-modified:
      - Fri, 26 Feb 2021 02:21:27 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:27 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:29 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=1048576&close=true
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D9FD39FCB905"'
      last-modified:
      - Fri, 26 Feb 2021 02:21:29 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:33 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=524288&close=true
  response:
    body:
      string: '{"error":{"code":"InvalidFlushPosition","message":"The uploaded data
        is not contiguous or the position query parameter value is not equal to the
        length of the file after appending the uploaded data.\nRequestId:b12748dd-e01f-0009-3fe6-0b8f12000000\nTime:2021-02-26T02:21:33.2257382Z"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - InvalidFlushPosition
      x-ms-version:
      - '2020-02-10'
    status:
      code: 400
      message: The uploaded data is not contiguous or the position query parameter
        value is not equal to the length of the file after appending the uploaded
        data.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:39 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"creationTime":"132587796874076010","etag":"0x8D8D9FD38B220F7","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        26 Feb 2021 02:21:27 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"524288","creationTime":"132587796972710624","etag":"0x8D8D9FD3F979598","group":"$superuser","lastModified":"Fri,
        26 Feb 2021 02:21:38 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"10","creationTime":"132587796775409535","etag":"0x8D8D9FD362A3C29","group":"$superuser","lastModified":"Fri,
        26 Feb 2021 02:21:23 GMT","name":"file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:41 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&directory=dir000004&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"132587796972710624","etag":"0x8D8D9FD3F979598","group":"$superuser","lastModified":"Fri,
        26 Feb 2021 02:21:38 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 26 Feb 2021 02:21:43 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
