interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-02-23T09:23:51.8142183Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-02-23T09:23:51.8142183Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:20 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EBDB231F4C"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:21 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:22 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:23 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EBDCBAB618"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:24 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:24 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DD53EBDCBAB618"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:24 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 23 Feb 2025 09:24:24 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:26 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EBDCBAB618"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:24 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:27 GMT
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-umask:
      - '0007'
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Fsubdir000005?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EBDF705BDC"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:28 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:29 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/subdir000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DD53EBDF705BDC"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:28 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 23 Feb 2025 09:24:28 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwx---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:30 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Fsubdir000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EBDF705BDC"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:28 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwx---
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:31 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"133847762642122264","etag":"0x8DD53EBDCBAB618","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        23 Feb 2025 09:24:24 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"133847762687581148","etag":"0x8DD53EBDF705BDC","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        23 Feb 2025 09:24:28 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxrwx---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:32 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&directory=dir000004&recursive=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"133847762687581148","etag":"0x8DD53EBDF705BDC","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        23 Feb 2025 09:24:28 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxrwx---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:33 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/new_dir
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:34 GMT
      x-ms-rename-source:
      - /filesystemgwnyjlyc2g6ig5/dirtpmmljkjy/subdirawuq6h
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?mode=legacy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EBDF705BDC"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:28 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:39 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EBDF705BDC"'
      last-modified:
      - Sun, 23 Feb 2025 09:24:28 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwx---
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:47 GMT
      x-ms-version:
      - '2021-08-06'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:24:49 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true
  response:
    body:
      string: '{"paths":[]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
version: 1
