interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:41 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C820ED6E3CD"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:47 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:47 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C820ED6E3CD"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:47 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:49 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><Containers><Container><Name>filesystem000003</Name><Properties><Last-Modified>Mon,
        11 Oct 2021 06:40:47 GMT</Last-Modified><Etag>\"0x8D98C820ED6E3CD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:50 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C8211AB59CF"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:51 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:52 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/directory000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D98C8211AB59CF"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:51 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 11 Oct 2021 06:40:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:54 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C8211AB59CF"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:51 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - 3707fb2f-ac10-4591-a04f-8b0d786ea37d
      x-ms-owner:
      - 3707fb2f-ac10-4591-a04f-8b0d786ea37d
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:55 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"132784080519715279","etag":"0x8D98C8211AB59CF","expiryTime":"0","group":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","isDirectory":"true","lastModified":"Mon,
        11 Oct 2021 06:40:51 GMT","name":"directory000004","owner":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:56 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C8214E5116D"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:57 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:57 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D98C8214E5116D"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:57 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 11 Oct 2021 06:40:57 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Mon, 11 Oct 2021 06:40:59 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=flush&position=1024&close=true
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C82165233D2"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:59 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:41:01 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"132784080519715279","etag":"0x8D98C8211AB59CF","expiryTime":"0","group":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","isDirectory":"true","lastModified":"Mon,
        11 Oct 2021 06:40:51 GMT","name":"directory000004","owner":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","permissions":"rwxr-x---"},{"contentLength":"1024","creationTime":"132784080573829485","etag":"0x8D98C82165233D2","expiryTime":"0","group":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","lastModified":"Mon,
        11 Oct 2021 06:40:59 GMT","name":"file000005","owner":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:41:04 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C82165233D2"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:59 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - 3707fb2f-ac10-4591-a04f-8b0d786ea37d
      x-ms-owner:
      - 3707fb2f-ac10-4591-a04f-8b0d786ea37d
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:41:05 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:41:06 GMT
      x-ms-rename-source:
      - /filesystemzemr2fol3e/fileudo6b5esmathnn7x
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/newfile?mode=legacy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C82165233D2"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:59 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:41:07 GMT
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/newfile
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---,mask::rwx
      x-ms-date:
      - Mon, 11 Oct 2021 06:41:08 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C8211AB59CF"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:51 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 06:41:10 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98C8211AB59CF"'
      last-modified:
      - Mon, 11 Oct 2021 06:40:51 GMT
      x-ms-acl:
      - user::rwx,group::r--,mask::rwx,other::---
      x-ms-group:
      - 3707fb2f-ac10-4591-a04f-8b0d786ea37d
      x-ms-owner:
      - 3707fb2f-ac10-4591-a04f-8b0d786ea37d
      x-ms-permissions:
      - rwxrwx---+
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
version: 1
