interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-08-07T08:21:18.6052429Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-08-07T08:21:18.6052429Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Aug 2025 08:22:38 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDD58B931F21EA"'
      last-modified:
      - Thu, 07 Aug 2025 08:22:40 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '16384000'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 07 Aug 2025 08:22:42 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDD58B95711B78"'
      last-modified:
      - Thu, 07 Aug 2025 08:22:44 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Aug 2025 08:22:46 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDD58B95711B78"'
      last-modified:
      - Thu, 07 Aug 2025 08:22:44 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2025-08-07T08:22:48.0393311Z'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - '2020-06-29T06:32:00.000Z'
      x-ms-copy-source:
      - https://clitest2xrzud7oehlf6vaus.blob.core.windows.net/conte6rnubeae33uzzrdsxpj/src?se=2025-08-08T08%3A22%3A59Z&sp=r&spr=https&sv=2022-11-02&sr=b&sig=YZJpOHGl7gR2iQT3%2BB95OjjC/GMHVHrXRQAB9D2tbe4%3D&snapshot=2025-08-07T08:22:48.0393311Z
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDD58B9FD2195B"'
      last-modified:
      - Thu, 07 Aug 2025 08:23:01 GMT
      x-ms-copy-id:
      - 4db19988-baca-45d9-8ed0-835286682ccb
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-copy-action:
      - abort
      x-ms-date:
      - Thu, 07 Aug 2025 08:23:50 GMT
      x-ms-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=copy&copyid=4db19988-baca-45d9-8ed0-835286682ccb
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>NoPendingCopyOperation</Code><Message>There
        is currently no pending copy operation.\nRequestId:b10b1209-f01e-003d-6074-07dd21000000\nTime:2025-08-07T08:23:51.9452772Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - NoPendingCopyOperation
      x-ms-version:
      - '2022-11-02'
    status:
      code: 409
      message: There is currently no pending copy operation.
version: 1
