interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T09:03:56.1783780Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T09:03:56.1783780Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002?api-version=2025-08-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002","name":"share000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-05-14T09:03:56.1783780Z","key2":"2026-05-14T09:03:56.1783780Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-05-14T09:03:56.1830183Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-05-14T09:03:56.1830183Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-05-14T09:03:55.8077674Z","primaryEndpoints":{"dfs":"https://share000002.dfs.core.windows.net/","web":"https://share000002.z20.web.core.windows.net/","blob":"https://share000002.blob.core.windows.net/","queue":"https://share000002.queue.core.windows.net/","table":"https://share000002.table.core.windows.net/","file":"https://share000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://share000002-secondary.dfs.core.windows.net/","web":"https://share000002-secondary.z20.web.core.windows.net/","blob":"https://share000002-secondary.blob.core.windows.net/","queue":"https://share000002-secondary.queue.core.windows.net/","table":"https://share000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:04:32 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197D1A26659"'
      last-modified:
      - Thu, 14 May 2026 09:04:34 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:04:35 GMT
      x-ms-meta:
      - '{''foo'': ''bar'', ''cat'': ''hat''}'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197D36B0134"'
      last-modified:
      - Thu, 14 May 2026 09:04:37 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:04:38 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The
        specified share already exists.\nRequestId:974abaa2-801a-0070-5080-e3f45d000000\nTime:2026-05-14T09:04:40.7706480Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ShareAlreadyExists
      x-ms-version:
      - '2026-04-06'
    status:
      code: 409
      message: The specified share already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:04:41 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197D36B0134"'
      last-modified:
      - Thu, 14 May 2026 09:04:37 GMT
      x-ms-access-tier:
      - TransactionOptimized
      x-ms-access-tier-change-time:
      - Thu, 14 May 2026 09:04:37 GMT
      x-ms-enable-smb-directory-lease:
      - 'true'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-share-quota:
      - '102400'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:04:44 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://share000002.file.core.windows.net/?comp=list&maxresults=5000&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://share000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000003</Name><Properties><Last-Modified>Thu,
        14 May 2026 09:04:37 GMT</Last-Modified><Etag>\"0x8DEB197D36B0134\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu,
        14 May 2026 09:04:37 GMT</AccessTierChangeTime><EnableSmbDirectoryLease>true</EnableSmbDirectoryLease><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share000004</Name><Properties><Last-Modified>Thu,
        14 May 2026 09:04:34 GMT</Last-Modified><Etag>\"0x8DEB197D1A26659\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu,
        14 May 2026 09:04:34 GMT</AccessTierChangeTime><EnableSmbDirectoryLease>true</EnableSmbDirectoryLease><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:04:59 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197E205F694"'
      last-modified:
      - Thu, 14 May 2026 09:05:02 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:05:02 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197E205F694"'
      last-modified:
      - Thu, 14 May 2026 09:05:02 GMT
      x-ms-access-tier:
      - TransactionOptimized
      x-ms-access-tier-change-time:
      - Thu, 14 May 2026 09:04:34 GMT
      x-ms-enable-smb-directory-lease:
      - 'true'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
