interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:17:35 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8823D313AD7EF"'
      last-modified:
      - Fri, 06 Nov 2020 10:17:40 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:17:40 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Fri, 06 Nov 2020 10:17:43 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8823D3500CEB4"'
      last-modified:
      - Fri, 06 Nov 2020 10:17:46 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:17:47 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D8823D3500CEB4"'
      last-modified:
      - Fri, 06 Nov 2020 10:17:46 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 06 Nov 2020 10:17:46 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:17:52 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8823D3500CEB4"'
      last-modified:
      - Fri, 06 Nov 2020 10:17:46 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: testappend
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-date:
      - Fri, 06 Nov 2020 10:17:58 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?position=0&action=append
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:01 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?position=10&retainUncommittedData=false&close=false&action=flush
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8823D3E52BF9D"'
      last-modified:
      - Fri, 06 Nov 2020 10:18:02 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:09 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:12 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8823D46138316"'
      last-modified:
      - Fri, 06 Nov 2020 10:18:15 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:15 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?position=0&action=append
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:17 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?position=1048576&action=flush
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8823D48138CC9"'
      last-modified:
      - Fri, 06 Nov 2020 10:18:18 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:25 GMT
      x-ms-version:
      - '2020-02-10'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?position=524288&action=flush
  response:
    body:
      string: '{"error":{"code":"InvalidFlushPosition","message":"The uploaded data
        is not contiguous or the position query parameter value is not equal to the
        length of the file after appending the uploaded data.\nRequestId:c4abee9f-f01f-0022-3626-b4019e000000\nTime:2020-11-06T10:18:26.5153537Z"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - InvalidFlushPosition
      x-ms-version:
      - '2020-02-10'
    status:
      code: 400
      message: The uploaded data is not contiguous or the position query parameter
        value is not equal to the length of the file after appending the uploaded
        data.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:39 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&maxResults=5000&resource=filesystem
  response:
    body:
      string: '{"paths":[{"creationTime":"132491314953147625","etag":"0x8D8823D4612569A","group":"$superuser","isDirectory":"true","lastModified":"Fri,
        06 Nov 2020 10:18:15 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"524288","creationTime":"132491315157370175","etag":"0x8D8823D54023385","group":"$superuser","lastModified":"Fri,
        06 Nov 2020 10:18:38 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"10","creationTime":"132491314666786484","etag":"0x8D8823D3E52BF9D","group":"$superuser","lastModified":"Fri,
        06 Nov 2020 10:18:02 GMT","name":"file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:45 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?directory=dir000004&recursive=true&maxResults=5000&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"132491315157370175","etag":"0x8D8823D54023385","group":"$superuser","lastModified":"Fri,
        06 Nov 2020 10:18:38 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Nov 2020 10:18:52 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
