interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:04:59 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F7CCBDD8A306"'
      last-modified:
      - Thu, 14 May 2020 06:05:02 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-07-07'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Thu, 14 May 2020 06:05:06 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F7CCC0F5079B"'
      last-modified:
      - Thu, 14 May 2020 06:05:07 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:08 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D7F7CCC0F5079B"'
      last-modified:
      - Thu, 14 May 2020 06:05:07 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 May 2020 06:05:07 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F7CCC0F5079B"'
      last-modified:
      - Thu, 14 May 2020 06:05:07 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: testappend
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-date:
      - Thu, 14 May 2020 06:05:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?position=0&action=append
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?position=10&retainUncommittedData=false&close=false&action=flush
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F7CCC5161ACB"'
      last-modified:
      - Thu, 14 May 2020 06:05:14 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:17 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2019-07-07'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:18 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F7CCC80EA8FA"'
      last-modified:
      - Thu, 14 May 2020 06:05:19 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-date:
      - Thu, 14 May 2020 06:05:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?position=0&action=append
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 14 May 2020 06:05:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?position=1048576&action=flush
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F7CCC93F3671"'
      last-modified:
      - Thu, 14 May 2020 06:05:21 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 14 May 2020 06:05:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?position=524288&action=flush
  response:
    body:
      string: '{"error":{"code":"InvalidFlushPosition","message":"The uploaded data
        is not contiguous or the position query parameter value is not equal to the
        length of the file after appending the uploaded data.\nRequestId:cc13dd91-601f-0059-61b5-29ac7f000000\nTime:2020-05-14T06:05:25.9202003Z"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - InvalidFlushPosition
      x-ms-version:
      - '2019-02-02'
    status:
      code: 400
      message: The uploaded data is not contiguous or the position query parameter
        value is not equal to the length of the file after appending the uploaded
        data.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&maxResults=5000&resource=filesystem
  response:
    body:
      string: '{"paths":[{"etag":"0x8D7F7CCC80E28DF","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        14 May 2020 06:05:19 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"524288","etag":"0x8D7F7CCCFA9450C","group":"$superuser","lastModified":"Thu,
        14 May 2020 06:05:32 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"10","etag":"0x8D7F7CCC5161ACB","group":"$superuser","lastModified":"Thu,
        14 May 2020 06:05:14 GMT","name":"file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?directory=dir000004&recursive=true&maxResults=5000&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","etag":"0x8D7F7CCCFA9450C","group":"$superuser","lastModified":"Thu,
        14 May 2020 06:05:32 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2020 06:05:38 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
