interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T09:01:31.0315023Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T09:01:31.0315023Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:02:01 GMT
      x-ms-enabled-protocols:
      - NFS
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197777E63E6"'
      last-modified:
      - Thu, 14 May 2026 09:02:03 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:02:03 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197777E63E6"'
      last-modified:
      - Thu, 14 May 2026 09:02:03 GMT
      x-ms-access-tier:
      - Premium
      x-ms-enable-snapshot-virtual-directory-access:
      - 'true'
      x-ms-enabled-protocols:
      - NFS
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-root-squash:
      - NoRootSquash
      x-ms-share-next-allowed-quota-downgrade-time:
      - Thu, 14 May 2026 09:02:03 GMT
      x-ms-share-paid-bursting-enabled:
      - 'false'
      x-ms-share-provisioned-bandwidth-mibps:
      - '117'
      x-ms-share-provisioned-egress-mbps:
      - '117'
      x-ms-share-provisioned-ingress-mbps:
      - '117'
      x-ms-share-provisioned-iops:
      - '3032'
      x-ms-share-quota:
      - '32'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:06 GMT
      x-ms-group:
      - '2'
      x-ms-mode:
      - rwxr--r--
      x-ms-owner:
      - '1'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1977AC20D2A"'
      last-modified:
      - Thu, 14 May 2026 09:02:09 GMT
      x-ms-file-change-time:
      - '2026-05-14T09:02:09.0904874Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:02:09.0904874Z'
      x-ms-file-file-type:
      - Directory
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T09:02:09.0904874Z'
      x-ms-file-parent-id:
      - '1'
      x-ms-group:
      - '2'
      x-ms-mode:
      - '0744'
      x-ms-owner:
      - '1'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:09 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1977AC20D2A"'
      last-modified:
      - Thu, 14 May 2026 09:02:09 GMT
      x-ms-file-change-time:
      - '2026-05-14T09:02:09.0904874Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:02:09.0904874Z'
      x-ms-file-file-type:
      - Directory
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T09:02:09.0904874Z'
      x-ms-file-parent-id:
      - '1'
      x-ms-group:
      - '2'
      x-ms-mode:
      - '0744'
      x-ms-owner:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Thu, 14 May 2026 09:02:12 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/src_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1977DD83B5A"'
      last-modified:
      - Thu, 14 May 2026 09:02:14 GMT
      x-ms-file-change-time:
      - '2026-05-14T09:02:14.2690138Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:02:14.2690138Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2026-05-14T09:02:14.2690138Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '0'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '0'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:17 GMT
      x-ms-group:
      - '3'
      x-ms-mode:
      - rw-r--r--
      x-ms-owner:
      - '2'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/src_file.txt?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197818EE3C1"'
      last-modified:
      - Thu, 14 May 2026 09:02:20 GMT
      x-ms-file-change-time:
      - '2026-05-14T09:02:20.4992449Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:02:14.2690138Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2026-05-14T09:02:17.8242612Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '3'
      x-ms-link-count:
      - '1'
      x-ms-mode:
      - '0644'
      x-ms-owner:
      - '2'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:31 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedQueryParameter</Code><Message>One
        of the query parameters specified in the request URI is not supported.\nRequestId:23e446ea-301a-0084-4580-e30c48000000\nTime:2026-05-14T09:02:33.9207878Z</Message><QueryParameterName>include</QueryParameterName></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - UnsupportedQueryParameter
      x-ms-version:
      - '2026-04-06'
    status:
      code: 400
      message: One of the query parameters specified in the request URI is not supported.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:34 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><DirectoryId>1</DirectoryId><Entries><Directory><Name>dir000004</Name><FileId>13835128424026341376</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitestdkgstssjp4ulo7omv.file.core.windows.net/sharecnwjx4f2tpvtlh6zgv4/dirfjw6dro2pyyks/src_file.txt
      x-ms-date:
      - Thu, 14 May 2026 09:02:36 GMT
      x-ms-file-mode-copy-mode:
      - source
      x-ms-file-owner-copy-mode:
      - source
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1978CEFCA82"'
      last-modified:
      - Thu, 14 May 2026 09:02:39 GMT
      x-ms-copy-id:
      - 0fefa33a-8b78-4ec7-bee3-7873a26b4f3c
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:39 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1978CEFCA82"'
      last-modified:
      - Thu, 14 May 2026 09:02:39 GMT
      x-ms-copy-completion-time:
      - Thu, 14 May 2026 09:02:39 GMT
      x-ms-copy-id:
      - 0fefa33a-8b78-4ec7-bee3-7873a26b4f3c
      x-ms-copy-progress:
      - 131072/131072
      x-ms-copy-source:
      - https://clitestdkgstssjp4ulo7omv.file.core.windows.net/sharecnwjx4f2tpvtlh6zgv4/dirfjw6dro2pyyks/src_file.txt
      x-ms-copy-status:
      - success
      x-ms-file-change-time:
      - '2026-05-14T09:02:39.5892354Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:02:39.5892354Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2026-05-14T09:02:39.5892354Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '4'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-link-count:
      - '1'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '3'
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitestdkgstssjp4ulo7omv.file.core.windows.net/sharecnwjx4f2tpvtlh6zgv4/dirfjw6dro2pyyks/src_file.txt
      x-ms-date:
      - Thu, 14 May 2026 09:02:42 GMT
      x-ms-file-mode-copy-mode:
      - override
      x-ms-file-owner-copy-mode:
      - override
      x-ms-group:
      - '5'
      x-ms-mode:
      - rw-rw-rw-
      x-ms-owner:
      - '4'
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file2.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197903BC28D"'
      last-modified:
      - Thu, 14 May 2026 09:02:45 GMT
      x-ms-copy-id:
      - e23a41c7-b388-4c35-8966-83f23a2b5a6f
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:48 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedQueryParameter</Code><Message>One
        of the query parameters specified in the request URI is not supported.\nRequestId:bb655d47-601a-0030-2c80-e3c086000000\nTime:2026-05-14T09:02:50.6477727Z</Message><QueryParameterName>include</QueryParameterName></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - UnsupportedQueryParameter
      x-ms-version:
      - '2026-04-06'
    status:
      code: 400
      message: One of the query parameters specified in the request URI is not supported.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 09:02:50 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000004\"><MaxResults>5000</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>dst_file.txt</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>131072</Content-Length></Properties></File><File><Name>dst_file2.txt</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>131072</Content-Length></Properties></File><File><Name>src_file.txt</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>131072</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:02:53 GMT
      x-ms-file-target-file:
      - dirfjw6dro2pyyks/src_file.txt
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/linked_file.txt?restype=hardlink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19796C48F2A"'
      last-modified:
      - Thu, 14 May 2026 09:02:56 GMT
      x-ms-file-change-time:
      - '2026-05-14T09:02:56.0831274Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:02:14.2690138Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2026-05-14T09:02:17.8242612Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '4'
      x-ms-link-count:
      - '2'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '3'
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:02:56 GMT
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-group:
      - '7'
      x-ms-link-text:
      - target1/file1
      x-ms-meta:
      - '{''meta1'': ''value1'', ''meta2'': ''value2''}'
      x-ms-owner:
      - '6'
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/link1?restype=symboliclink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197985E346C"'
      last-modified:
      - Thu, 14 May 2026 09:02:58 GMT
      x-ms-file-change-time:
      - '2026-05-14T09:02:58.7677804Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:02:58.7677804Z'
      x-ms-file-file-type:
      - SymLink
      x-ms-file-id:
      - '13835110831840296960'
      x-ms-file-last-write-time:
      - '2026-05-14T09:02:58.7677804Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '7'
      x-ms-mode:
      - '0777'
      x-ms-owner:
      - '6'
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:02:59 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/link1?restype=symboliclink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197985E346C"'
      last-modified:
      - Thu, 14 May 2026 09:02:58 GMT
      x-ms-link-text:
      - target1%2Ffile1
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
