interactions:
- request:
    body: '{"properties": {"metadata": {"key1": "value1"}, "shareQuota": 5}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000003?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"metadata":{"key1":"value1"},"shareQuota":5}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DE12E337490E71"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002","name":"sharerm000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-10-24T09:53:17.9307799Z","key2":"2025-10-24T09:53:17.9307799Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-24T09:53:17.9464041Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-24T09:53:17.9464041Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-10-24T09:53:17.7276525Z","primaryEndpoints":{"blob":"https://sharerm000002.blob.core.windows.net/","queue":"https://sharerm000002.queue.core.windows.net/","table":"https://sharerm000002.table.core.windows.net/","file":"https://sharerm000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/whatif-demo-rg/providers/Microsoft.Storage/storageAccounts/whatifdemosa","name":"whatifdemosa","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"environment":"test"},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-09-30T01:49:26.1073945Z","key2":"2025-09-30T01:49:26.1073945Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T01:49:26.1073945Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T01:49:26.1073945Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-09-30T01:49:25.9199024Z","primaryEndpoints":{"dfs":"https://whatifdemosa.dfs.core.windows.net/","web":"https://whatifdemosa.z13.web.core.windows.net/","blob":"https://whatifdemosa.blob.core.windows.net/","queue":"https://whatifdemosa.queue.core.windows.net/","table":"https://whatifdemosa.table.core.windows.net/","file":"https://whatifdemosa.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://whatifdemosa-secondary.dfs.core.windows.net/","web":"https://whatifdemosa-secondary.z13.web.core.windows.net/","blob":"https://whatifdemosa-secondary.blob.core.windows.net/","queue":"https://whatifdemosa-secondary.queue.core.windows.net/","table":"https://whatifdemosa-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgd27z3tdjet3vfsn7botbqsf6jm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002","name[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000003?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E337490E71\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"metadata":{"key1":"value1"},"lastModifiedTime":"2025-10-24T09:53:42.0000000Z","shareQuota":5}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DE12E337490E71"'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000005?api-version=2024-01-01
  response:
    body:
      string: '{"error":{"code":"ShareNotFound","message":"The specified share does
        not exist.\nRequestId:75d1da28-101a-0036-58cc-44b42e000000\nTime:2025-10-24T09:53:57.5470196Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E345A05F9B\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","lastModifiedTime":"2025-10-24T09:54:06.0000000Z","shareQuota":10,"enabledProtocols":"SMB"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000004","name":"share000004","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE12E343CA7B76\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","lastModifiedTime":"2025-10-24T09:54:03.0000000Z","shareQuota":10,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000003?$include=none&api-version=2024-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sharerm000002/fileServices/default/shares/share000004?api-version=2025-06-01
  response:
    body:
      string: '{"error":{"code":"ShareNotFound","message":"The specified share does
        not exist.\nRequestId:75d1df53-101a-0036-11cc-44b42e000000\nTime:2025-10-24T09:54:15.6609736Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 404
      message: Not Found
version: 1
