interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:30:38.5979587Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:30:38.5979587Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:31:08 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19326C4E8D8"'
      last-modified:
      - Thu, 14 May 2026 08:31:10 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:31:12 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19326C4E8D8"'
      last-modified:
      - Thu, 14 May 2026 08:31:10 GMT
      x-ms-snapshot:
      - '2026-05-14T08:31:14.0000000Z'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Thu, 14 May 2026 08:31:14 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1932C18C497"'
      last-modified:
      - Thu, 14 May 2026 08:31:19 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:31:19.1318679Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:31:19.1318679Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T08:31:19.1318679Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2740017132718252748*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:31:19 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2026-04-06'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8DEB1932D4D3377"'
      last-modified:
      - Thu, 14 May 2026 08:31:21 GMT
      x-ms-file-last-write-time:
      - '2026-05-14T08:31:21.1532151Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:31:21 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:5eaaba27-301a-002b-157c-e3713f000000\nTime:2026-05-14T08:31:23.1940568Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:31:23 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1932F9EA509"'
      last-modified:
      - Thu, 14 May 2026 08:31:25 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2026-05-14T08:31:25.0424073Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:31:25.0424073Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2026-05-14T08:31:25.0424073Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16608625902100782539*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '133'
      x-ms-date:
      - Thu, 14 May 2026 08:31:25 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19330C5A365"'
      last-modified:
      - Thu, 14 May 2026 08:31:26 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:31:26.9756773Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:31:26.9756773Z'
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2026-05-14T08:31:26.9756773Z'
      x-ms-file-parent-id:
      - '13835093239654252544'
      x-ms-file-permission-key:
      - 2740017132718252748*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testvupfpks7ebt2e7acpjhj\apple\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:31:27 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-132
      x-ms-version:
      - '2026-04-06'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - cWpJU6rvt+3KK/ePMRFQNg==
      etag:
      - '"0x8DEB19331DD5E10"'
      last-modified:
      - Thu, 14 May 2026 08:31:28 GMT
      x-ms-file-last-write-time:
      - '2026-05-14T08:31:28.8089104Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:31:28 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:9b882b1e-901a-001d-0a7c-e3fc4f000000\nTime:2026-05-14T08:31:30.6910193Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:32:44 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193603B1C7B"'
      last-modified:
      - Thu, 14 May 2026 08:32:46 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2026-05-14T08:32:46.5984635Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:32:46.5984635Z'
      x-ms-file-id:
      - '13835150414258896896'
      x-ms-file-last-write-time:
      - '2026-05-14T08:32:46.5984635Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16608625902100782539*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '134'
      x-ms-date:
      - Thu, 14 May 2026 08:32:46 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193617224D1"'
      last-modified:
      - Thu, 14 May 2026 08:32:48 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:32:48.6368465Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:32:48.6368465Z'
      x-ms-file-id:
      - '13835115229886808064'
      x-ms-file-last-write-time:
      - '2026-05-14T08:32:48.6368465Z'
      x-ms-file-parent-id:
      - '13835150414258896896'
      x-ms-file-permission-key:
      - 2740017132718252748*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testvupfpks7ebt2e7acpjhj\butter\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:32:48 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-133
      x-ms-version:
      - '2026-04-06'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - t5aMI8fU9/OAUDBhqGUsvg==
      etag:
      - '"0x8DEB19362A19D41"'
      last-modified:
      - Thu, 14 May 2026 08:32:50 GMT
      x-ms-file-last-write-time:
      - '2026-05-14T08:32:50.6256705Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:32:50 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:96563930-a01a-0006-507c-e3c24c000000\nTime:2026-05-14T08:32:52.7582291Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:34:06 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1939113632D"'
      last-modified:
      - Thu, 14 May 2026 08:34:08 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2026-05-14T08:34:08.5464877Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:34:08.5464877Z'
      x-ms-file-id:
      - '13835148215235641344'
      x-ms-file-last-write-time:
      - '2026-05-14T08:34:08.5464877Z'
      x-ms-file-parent-id:
      - '13835150414258896896'
      x-ms-file-permission-key:
      - 16608625902100782539*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '142'
      x-ms-date:
      - Thu, 14 May 2026 08:34:08 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193923D5AAE"'
      last-modified:
      - Thu, 14 May 2026 08:34:10 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:34:10.4992430Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:34:10.4992430Z'
      x-ms-file-id:
      - '13835113030863552512'
      x-ms-file-last-write-time:
      - '2026-05-14T08:34:10.4992430Z'
      x-ms-file-parent-id:
      - '13835148215235641344'
      x-ms-file-permission-key:
      - 2740017132718252748*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testvupfpks7ebt2e7acpjhj\butter/charlie\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:34:10 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-141
      x-ms-version:
      - '2026-04-06'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - bIy78XQAFv13shcK5+wKpw==
      etag:
      - '"0x8DEB1939383DC80"'
      last-modified:
      - Thu, 14 May 2026 08:34:12 GMT
      x-ms-file-last-write-time:
      - '2026-05-14T08:34:12.6390400Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:34:12 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:a2038d6f-d01a-0041-2c7c-e3a917000000\nTime:2026-05-14T08:34:14.6691510Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:35:43 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193CAA99DB4"'
      last-modified:
      - Thu, 14 May 2026 08:35:45 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2026-05-14T08:35:45.1611572Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:35:45.1611572Z'
      x-ms-file-id:
      - '13835187797654241280'
      x-ms-file-last-write-time:
      - '2026-05-14T08:35:45.1611572Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16608625902100782539*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:35:45 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193CBCF1448"'
      last-modified:
      - Thu, 14 May 2026 08:35:47 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2026-05-14T08:35:47.0843976Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:35:47.0843976Z'
      x-ms-file-id:
      - '10376372706298822656'
      x-ms-file-last-write-time:
      - '2026-05-14T08:35:47.0843976Z'
      x-ms-file-parent-id:
      - '13835187797654241280'
      x-ms-file-permission-key:
      - 16608625902100782539*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '139'
      x-ms-date:
      - Thu, 14 May 2026 08:35:47 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB193CD0003AC"'
      last-modified:
      - Thu, 14 May 2026 08:35:49 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:35:49.0828204Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:35:49.0828204Z'
      x-ms-file-id:
      - '13835073448444952576'
      x-ms-file-last-write-time:
      - '2026-05-14T08:35:49.0828204Z'
      x-ms-file-parent-id:
      - '10376372706298822656'
      x-ms-file-permission-key:
      - 2740017132718252748*10279069574440290882
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testvupfpks7ebt2e7acpjhj\duff/edward\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:35:49 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-138
      x-ms-version:
      - '2026-04-06'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 2I2hG3thKUPQmwDjgEga0w==
      etag:
      - '"0x8DEB193CE330F8F"'
      last-modified:
      - Thu, 14 May 2026 08:35:51 GMT
      x-ms-file-last-write-time:
      - '2026-05-14T08:35:51.0950799Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:35:51 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:a3fc8c29-d01a-0023-067c-e36b30000000\nTime:2026-05-14T08:35:52.9860447Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:37:20 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>apple</Name><FileId>13835093239654252544</FileId><Properties
        /></Directory><Directory><Name>butter</Name><FileId>13835150414258896896</FileId><Properties
        /></Directory><Directory><Name>duff</Name><FileId>13835187797654241280</FileId><Properties
        /></Directory><File><Name>readme</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>87</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:37:22 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme
  response:
    body:
      string: This directory contains test files generated by Azure CLI storage command
        module tests.
    headers:
      content-range:
      - bytes 0-86/87
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DEB1932D4D3377"'
      last-modified:
      - Thu, 14 May 2026 08:31:21 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:31:21.1532151Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:31:19.1318679Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T08:31:21.1532151Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2740017132718252748*10279069574440290882
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:37:26 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:38:09 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.cor[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:38:53 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"duff\"><DirectoryId>13835187797654241280</DirectoryId><Entries><Directory><Name>edward</Name><FileId>10376372706298822656</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:38:55 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest00000[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:39:38 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.f[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:41:52 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1?restype=directory&comp=list&sharesnapshot=2026-05-14T08:31:14.0000000Z
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        ShareSnapshot=\"2026-05-14T08:31:14.0000000Z\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:41:58 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme?sharesnapshot=2026-05-14T08:41:56.0000000Z
  response:
    body:
      string: This directory contains test files generated by Azure CLI storage command
        module tests.
    headers:
      content-range:
      - bytes 0-86/87
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DEB1932D4D3377"'
      last-modified:
      - Thu, 14 May 2026 08:31:21 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:31:21.1532151Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:31:19.1318679Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T08:31:21.1532151Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2740017132718252748*10279069574440290882
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 14 May 2026 08:42:03 GMT
[...]
