interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-02-22T02:45:03.2331341Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-02-22T02:45:03.2331341Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:31 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD52EAF99DE90B"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:32 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:32 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD52EAFA64D493"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:33 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:33 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD52EAFA64D493"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:33 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:35 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD52EAFC0D6458"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:36 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:36 GMT
      x-ms-meta-foo:
      - bar
      x-ms-meta-moo:
      - bak
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD52EAFCCDC9BC"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:37 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:37 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DD52EAFCCDC9BC"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:37 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sat, 22 Feb 2025 02:45:36 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-foo:
      - bar
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-meta-moo:
      - bak
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:38 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD52EAFE52A97C"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:39 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:40 GMT
      x-ms-meta-cat:
      - file
      x-ms-meta-test:
      - beta
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD52EAFF10A700"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:41 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Feb 2025 02:45:41 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DD52EAFF10A700"'
      last-modified:
      - Sat, 22 Feb 2025 02:45:41 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sat, 22 Feb 2025 02:45:39 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-cat:
      - file
      x-ms-meta-test:
      - beta
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
version: 1
