interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-01-03T03:01:40.0408058Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-01-03T03:01:40.0408058Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 03 Jan 2026 03:02:06 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE4A747AFB5911"'
      last-modified:
      - Sat, 03 Jan 2026 03:02:07 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Zhiyi
        Huang","givenName":null,"jobTitle":null,"mail":"test@example.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"test@example.com#EXT#@azclitools20251114.onmicrosoft.com","id":"2146abed-b993-4a81-a6af-eda7b4524c5e"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF00010CD2"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2026-01-03T03:02:09Z</Start><Expiry>2026-01-03T04:02:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Sat, 03 Jan 2026 03:02:09 GMT
      x-ms-version:
      - '2026-02-06'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>2146abed-b993-4a81-a6af-eda7b4524c5e</SignedOid><SignedTid>4b71fe15-44c6-47b7-94ac-5a6b2cc290e9</SignedTid><SignedStart>2026-01-03T03:02:09Z</SignedStart><SignedExpiry>2026-01-03T04:02:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>xCNvjqg/cQ2I9STylxtND8zJVUFDDoXGPD2MLTrykWI=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 03 Jan 2026 03:02:10 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000004?resource=file&se=2026-01-03T04%3A02Z&sp=rwdlop&spr=https&sv=2026-02-06&sduoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sr=c&skoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sktid=4b71fe15-44c6-47b7-94ac-5a6b2cc290e9&skt=2026-01-03T03%3A02%3A09Z&ske=2026-01-03T04%3A02%3A00Z&sks=b&skv=2026-02-06&sig=yJ4XZ%2BX82NMvEdd0JWoiRGkhO7CPcM2v9LQKPE6xDZU%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE4A747DCFAC48"'
      last-modified:
      - Sat, 03 Jan 2026 03:02:12 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 03 Jan 2026 03:02:12 GMT
      x-ms-version:
      - '2026-02-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000004?action=append&position=0&se=2026-01-03T04%3A02Z&sp=rwdlop&spr=https&sv=2026-02-06&sduoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sr=c&skoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sktid=4b71fe15-44c6-47b7-94ac-5a6b2cc290e9&skt=2026-01-03T03%3A02%3A09Z&ske=2026-01-03T04%3A02%3A00Z&sks=b&skv=2026-02-06&sig=yJ4XZ%2BX82NMvEdd0JWoiRGkhO7CPcM2v9LQKPE6xDZU%3D
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '"0x8DE4A747DCFAC48"'
      x-ms-date:
      - Sat, 03 Jan 2026 03:02:14 GMT
      x-ms-version:
      - '2026-02-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000004?action=flush&position=1048576&close=true&se=2026-01-03T04%3A02Z&sp=rwdlop&spr=https&sv=2026-02-06&sduoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sr=c&skoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sktid=4b71fe15-44c6-47b7-94ac-5a6b2cc290e9&skt=2026-01-03T03%3A02%3A09Z&ske=2026-01-03T04%3A02%3A00Z&sks=b&skv=2026-02-06&sig=yJ4XZ%2BX82NMvEdd0JWoiRGkhO7CPcM2v9LQKPE6xDZU%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE4A74803B1CA5"'
      last-modified:
      - Sat, 03 Jan 2026 03:02:16 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
version: 1
