interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:31:18.8027785Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:31:18.8027785Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:31:49 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1933F678F03"'
      last-modified:
      - Thu, 14 May 2026 08:31:51 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:31:51 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8DEB1933F678F03"'
      last-modified:
      - Thu, 14 May 2026 08:31:51 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 14 May 2026 08:31:55 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19343328B8F"'
      last-modified:
      - Thu, 14 May 2026 08:31:57 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 14 May 2026 08:32:00 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19345BB619A"'
      last-modified:
      - Thu, 14 May 2026 08:32:02 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start><Permission
      /></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 14 May 2026 08:32:04 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB1934814E68F"'
      last-modified:
      - Thu, 14 May 2026 08:32:06 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:32:32 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00:00.0000000Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test4</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start><Expiry>2016-05-01T00:00:00.0000000Z</Expiry><Permission>rwdl</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8DEB19357DA81A2"'
      last-modified:
      - Thu, 14 May 2026 08:32:32 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
