interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 27 Sep 2026 23:50:02 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DF1CF20BF32DA5"'
      last-modified:
      - Sun, 27 Sep 2026 23:50:01 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2025-08-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-09-27T23:49:36.9155028Z","key2":"2026-09-27T23:49:36.9155028Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"None","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-09-27T23:49:36.9278566Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-09-27T23:49:36.9278566Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-09-27T23:49:36.7006881Z","primaryEndpoints":{"dfs":"https://clitest000002.dfs.core.windows.net/","web":"https://clitest000002.z22.web.core.windows.net/","blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 27 Sep 2026 23:50:06 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/readme?se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8DF1CF20DEE59A0"'
      last-modified:
      - Sun, 27 Sep 2026 23:50:05 GMT
      x-ms-content-crc64:
      - b3Eed3+v3vk=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: /tmp/test7cljiyvp6lmr7rje764e/duff/edward/file_3'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 27 Sep 2026 23:50:08 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/duff/edward/file_3?se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: ''
    headers:
      content-md5:
      - SLzkPknK1+aUb7sDw6bJqQ==
      etag:
      - '"0x8DF1CF20EF2BEA0"'
      last-modified:
      - Sun, 27 Sep 2026 23:50:06 GMT
      x-ms-content-crc64:
      - gEsK5DMT0WU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'Azure CLI storage command module test sample file. origin: /tmp/test7cljiyvp6lmr7rje764e/butter/file_3'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 27 Sep 2026 23:50:24 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/butter/file_3?se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XyNfDDIAZUJ4jo6RyS0bGw==
      etag:
      - '"0x8DF1CF2196C796A"'
      last-modified:
      - Sun, 27 Sep 2026 23:50:24 GMT
      x-ms-content-crc64:
      - vD2tkSWqgJg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'Azure CLI storage command module test sample file. origin: /tmp/test7cljiyvp6lmr7rje764e/butter/charlie/file_3'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 27 Sep 2026 23:50:40 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/butter/charlie/file_3?se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /V6M4g+cw4R/QvrR24F3BA==
      etag:
      - '"0x8DF1CF22394282B"'
      last-modified:
      - Sun, 27 Sep 2026 23:50:41 GMT
      x-ms-content-crc64:
      - tNqfYOE8oTE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'Azure CLI storage command module test sample file. origin: /tmp/test7cljiyvp6lmr7rje764e/apple/file_3'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Sun, 27 Sep 2026 23:50:58 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1/apple/file_3?se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: ''
    headers:
      content-md5:
      - FUgMx8kAlP3C2KmreJL3eA==
      etag:
      - '"0x8DF1CF22DB45500"'
      last-modified:
      - Sun, 27 Sep 2026 23:50:58 GMT
      x-ms-content-crc64:
      - H6ph8+JFxBY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 27 Sep 2026 23:51:14 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container&comp=list&se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"container1\"><Blobs><Blob><Name>apple/file_0</Name><Properties><Creation-Time>Sun,
        27 Sep 2026 23:51:00 GMT</Creation-Time><Last-Modified>Sun, 27 Sep 2026 23:51:00
        GMT</Last-Modified><Etag>0x8DF1CF22EC0925A</Etag><Content-Length>101</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>KOBgxYqr6rmloP26cX7hSA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>apple/file_1</Name><Properties><Creation-Time>Sun, 27
        Sep 2026 23:51:08 GMT</Creation-Time><Last-Modified>Sun, 27 Sep 2026 23:51:08
        GMT</Last-Modified><Etag>0x8DF1CF233F14971</Etag><Content-Length>101</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>VLNoIfY34WRVyw4TFIhhsg==</Content-MD5><Cache-Control
       [...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 27 Sep 2026 23:51:17 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container1/apple/file_0?se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: 'Azure CLI storage command module test sample file. origin: /tmp/test7cljiyvp6lmr7rje764e/apple/file_0'
    headers:
      content-range:
      - bytes 0-100/101
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DF1CF22EC0925A"'
      last-modified:
      - Sun, 27 Sep 2026 23:51:00 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-content-md5:
      - KOBgxYqr6rmloP26cX7hSA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 27 Sep 2026 23:51:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 27 Sep 2026 23:52:22 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"container1\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>apple/file_0</Name><Properties><Creation-Time>Sun,
        27 Sep 2026 23:51:00 GMT</Creation-Time><Last-Modified>Sun, 27 Sep 2026 23:51:00
        GMT</Last-Modified><Etag>0x8DF1CF22EC0925A</Etag><Content-Length>101</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>KOBgxYqr6rmloP26cX7hSA==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>Bloc[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 27 Sep 2026 23:52:27 GMT
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://clitest000002.blob.core.windows.net/container1/apple/file_0?se=2026-09-28T00%3A50Z&sp=rwdl&sv=2026-04-06&sr=c&sig=fakeSig
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 27 Sep 2026 23:53:32 GMT
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"container1\"><MaxResults>5000</MaxResults><Blobs
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
