interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/storage000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:13 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D88EE8151C65"'
      last-modified:
      - Wed, 24 Feb 2021 06:39:16 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:19 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?maxresults=5000&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Wed,
        24 Feb 2021 06:39:18 GMT</Creation-Time><Last-Modified>Wed, 24 Feb 2021 06:39:18
        GMT</Last-Modified><Etag>0x8D8D88EE98F0B0E</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:20 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D88EE98F0B0E"'
      last-modified:
      - Wed, 24 Feb 2021 06:39:18 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2021-02-24T06:39:21.5285792Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:21 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?maxresults=5000&include=snapshots&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Snapshot>2021-02-24T06:39:21.5285792Z</Snapshot><Properties><Creation-Time>Wed,
        24 Feb 2021 06:39:18 GMT</Creation-Time><Last-Modified>Wed, 24 Feb 2021 06:39:18
        GMT</Last-Modified><Etag>0x8D8D88EE98F0B0E</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobTy[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:23 GMT
      x-ms-meta-test:
      - '1'
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D88EECCBE0E2"'
      last-modified:
      - Wed, 24 Feb 2021 06:39:24 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:26 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?maxresults=5000&include=metadata&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Wed,
        24 Feb 2021 06:39:18 GMT</Creation-Time><Last-Modified>Wed, 24 Feb 2021 06:39:24
        GMT</Last-Modified><Etag>0x8D8D88EECCBE0E2</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><test>1</test></Metadata><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:33 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?marker=2%2196%21MDAwMDI4IWRpci9ibG9icGN0aXl4aXY1aTVzc2JzaHc0cmMhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh&maxresults=5000&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><Marker>2!96!MDAwMDI4IWRpci9ibG9icGN0aXl4aXY1aTVzc2JzaHc0cmMhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh</Marker><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Wed,
        24 Feb 2021 06:39:18 GMT</Creation-Time><Last-Modified>Wed, 24 Feb 2021 06:39:24
        GMT</Last-Modified><Etag>0x8D8D88EECCBE0E2</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:35 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?prefix=dir%2F&maxresults=5000&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><Prefix>dir/</Prefix><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000005</Name><Properties><Creation-Time>Wed,
        24 Feb 2021 06:39:29 GMT</Creation-Time><Last-Modified>Wed, 24 Feb 2021 06:39:29
        GMT</Last-Modified><Etag>0x8D8D88EEFDF0736</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Conten[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:36 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?delimiter=%2F&maxresults=5000&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>dir/</Name></BlobPrefix></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:39:38 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storage000002-secondary.blob.core.windows.net/con000003?maxresults=5000&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002-secondary.blob.core.windows.net/\"
        ContainerName=\"con000003\"><MaxResu[...]
