interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/message000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-04-11T14:15:49.3709803Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-04-11T14:15:49.3709803Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://message000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:22 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>24e81f06-1a4d-4ac8-af11-a7a08ac2a525</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:22 GMT</InsertionTime><ExpirationTime>Mon, 18 Apr 2022 14:16:22
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfEXwuK5N2AE=</PopReceipt><TimeNextVisible>Mon,
        11 Apr 2022 14:16:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:23 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages?visibilitytimeout=3600
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff876639-7e3c-41fc-ad36-54f2267f853e</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:24 GMT</InsertionTime><ExpirationTime>Mon, 18 Apr 2022 14:16:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHKeIG7dN2AE=</PopReceipt><TimeNextVisible>Mon,
        11 Apr 2022 15:16:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 3</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:25 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages?messagettl=3600
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f0277144-2f4a-4b09-9631-e77f0035111b</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:27 GMT</InsertionTime><ExpirationTime>Mon, 11 Apr 2022 15:16:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAb6K0u65N2AE=</PopReceipt><TimeNextVisible>Mon,
        11 Apr 2022 14:16:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:28 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>24e81f06-1a4d-4ac8-af11-a7a08ac2a525</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:22 GMT</InsertionTime><ExpirationTime>Mon, 18 Apr 2022 14:16:22
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:29 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>24e81f06-1a4d-4ac8-af11-a7a08ac2a525</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:22 GMT</InsertionTime><ExpirationTime>Mon, 18 Apr 2022 14:16:22
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        1</MessageText></QueueMessage><QueueMessage><MessageId>f0277144-2f4a-4b09-9631-e77f0035111b</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:27 GMT</InsertionTime><ExpirationTime>Mon, 11 Apr 2022 15:16:27
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>24e81f06-1a4d-4ac8-af11-a7a08ac2a525</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:22 GMT</InsertionTime><ExpirationTime>Mon, 18 Apr 2022 14:16:22
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6k39z65N2AE=</PopReceipt><TimeNextVisible>Mon,
        11 Apr 2022 14:17:01 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test
        message 1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Apr 2022 14:16:32 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?numofmessages=1&visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f0277144-2f4a-4b09-9631-e77f0035111b</MessageId><InsertionTime>Mon,
        11 Apr 2022 14:16:27 GMT</InsertionTime><ExpirationTime>Mon, 11 Apr 2022 15:16:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAC7L0K5N2AE=</PopReceipt><TimeNextVisible>Mon,
        11 Apr 2022 14:17:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test
        message 3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 11 Apr 2022 14:17:10 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://message000002.queue.core.windows.net/queue000003/messages/24e81f06-1a4d-4ac8-af11-a7a08ac2a525?popreceipt=AgAAAAMAAAAAAAAAqBF25q5N2AE%3D&visibilitytimeout=10
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAhjNf265N2AECAAAA
      x-ms-time-next-visible:
      - Mon, 11 Apr 2022 14:17:20 GMT
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Apr 2022 14:17:12 GMT
      x-ms-version:
      - '2021-02-12'
    method: DELETE
    uri: https://message000002.queue.core.windows.net/queue000003/messages/f0277144-2f4a-4b09-9631-e77f0035111b?popreceipt=AwAAAAMAAAAAAAAAG1411q5N2AECAAAA
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Apr 2022 14:17:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
