interactions:
- request:
    body: '{"properties": {"source": "Microsoft.Storage", "requireInfrastructureEncryption":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/myencryption?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/myencryption","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"myencryption","properties":{"source":"Microsoft.Storage","keyVaultProperties":{},"creationTime":"2025-10-24T09:52:37.4099475Z","lastModifiedTime":"2025-10-24T09:52:37.4099475Z","state":"Enabled","requireInfrastructureEncryption":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"source": "Microsoft.Storage", "requireInfrastructureEncryption":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/testencryption1?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/testencryption1","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"testencryption1","properties":{"source":"Microsoft.Storage","keyVaultProperties":{},"creationTime":"2025-10-24T09:52:39.1991005Z","lastModifiedTime":"2025-10-24T09:52:39.1991005Z","state":"Enabled","requireInfrastructureEncryption":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/myencryption","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"myencryption","properties":{"source":"Microsoft.Storage","creationTime":"2025-10-24T09:52:37.4099475Z","lastModifiedTime":"2025-10-24T09:52:37.4099475Z","state":"Enabled","requireInfrastructureEncryption":true}},{"id":"/subscriptio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes?api-version=2025-06-01&$include=Disabled
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/testencryption2","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"testencryption2","properties":{"source":"Microsoft.Storage","creationTime":"2025-10-24T09:52:40.9683406Z","lastModifiedTime":"2025-10-24T09:52:42.8232049Z","state":"Disabled","requireInfrastructureEncryption":true}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes?api-version=2025-06-01&$filter=startswith%28name%2C%20test%29
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes?api-version=2025-06-01&$maxpagesize=2
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/myencryption","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"myencryption","properties":{"source":"Microsoft.Storage","creationTime":"2025-10-24T09:52:37.4099475Z","lastModifiedTime":"2025-10-24T09:52:37.4099475Z","state":"Enabled","requireInfrastructureEncryption":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/testencryption1","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"testencryption1","properties":{"source":"Microsoft.Storage","creationTime":"2025-10-24T09:52:39.1991005Z","lastModifiedTime":"2025-10-24T09:52:39.1991005Z","state":"Enabled","requireInfrastructureEncryption":true}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes?api-version=2025-06-01&$maxpagesize=2&$skipToken=testencryption2"}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes?api-version=2025-06-01&$maxpagesize=2&$skipToken=testencryption2
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_encryption000001/providers/Microsoft.Storage/storageAccounts/encryption000002/encryptionScopes/testencryption2","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"testencryption2","properties":{"source":"Microsoft.Storage","creationTime":"2025-10-24T09:52:40.9683406Z","lastModifiedTime":"2025-10-24T09:52:42.8232049Z","state":"Disabled","requireInfrastructureEncryption":true}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
