interactions:
- request:
    body: '{"name": "sastdlrs000002", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-08-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "StandardV2_LRS"}, "kind": "FileStorage", "location":
      "eastus2", "properties": {"encryption": {"keySource": "Microsoft.Storage", "services":
      {"blob": {}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002?api-version=2025-08-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/f2e72eaa-92c4-4208-8511-dc9d02891434?monitor=true&api-version=2025-08-01&t=639141796820889734&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/f2e72eaa-92c4-4208-8511-dc9d02891434?monitor=true&api-version=2025-08-01&t=639141796820889734&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/f2e72eaa-92c4-4208-8511-dc9d02891434?monitor=true&api-version=2025-08-01&t=639141796844603382&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YX[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"provisionedIops":1007,"provisionedBandwidthMibps":61,"includedBurstIops":5000,"maxBurstCreditsForIops":14374800,"nextAllowedQuotaDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","nextAllowedProvisionedIopsDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","shareQuota":32}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DEB013FF7B030C"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004","name":"share000004","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DEB014010E3B32\"","properties":{"provisionedIops":500,"provisionedBandwidthMibps":60,"includedBurstIops":5000,"maxBurstCreditsForIops":16200000,"nextAllowedQuotaDowngradeTime":"Tue,
        12 May 2026 10:48:29 GMT","nextAllowedProvisionedIopsDowngradeTime":"Tue,
        12 May 2026 10:48:29 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Tue,
        12 May 2026 10:48:29 GMT","leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"lastModifiedTime":"2026-05-12T10:48:29.0000000Z","shareQuota":32}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DEB014010E3B32"'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/usages/default?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/usages/default","name":"default","type":"Microsoft.Storage/storageAccounts/fileServices/usages","properties":{"storageAccountLimits":{"maxFileShares":50,"maxProvisionedStorageGiB":4194304,"maxProvisionedIOPS":50000,"maxProvisionedBandwidthMiBPerSec":5120},"fileShareLimits":{"minProvisionedStorageGiB":32,"maxProvisionedStorageGiB":262144,"minProvisionedIOPS":500,"maxProvisionedIOPS":50000,"minProvisionedBandwidthMiBPerSec":60,"maxProvisionedBandwidthMiBPerSec":5120},"fileShareRecommendations":{"baseIOPS":1000,"ioScalar":0.2,"baseBandwidthMiBPerSec":60,"bandwidthScalar":0.02},"burstingConstants":{"burstFloorIOPS":5000,"burstIOScalar":3.0,"burstTimeframeSeconds":3600},"storageAccountUsage":{"liveShares":{"fileShareCount":0,"provisionedStorageGiB":0,"provisionedIOPS":0,"provisionedBandwidthMiBPerSec":0},"softDeletedShares":{"fileShareCount":0,"provisionedStorageGiB":0,"provisionedIOPS":0,"provisionedBandwidthMiBPerSec":0}}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004","name":"share000004","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DEB014056D057D\"","properties":{"provisionedIops":600,"provisionedBandwidthMibps":70,"includedBurstIops":5000,"maxBurstCreditsForIops":15840000,"nextAllowedQuotaDowngradeTime":"Tue,
        12 May 2026 10:48:29 GMT","nextAllowedProvisionedIopsDowngradeTime":"Tue,
        12 May 2026 10:48:29 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Tue,
        12 May 2026 10:48:29 GMT","leaseStatus":"unlocked","leaseState":"available","lastModifiedTime":"2026-05-12T10:48:37.0000000Z","shareQuota":32,"enabledProtocols":"SMB"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DEB013FF7B030C\"","properties":{"provisionedIops":1007,"provisionedBandwidthMibps":61,"includedBurstIops":5000,"maxBurstCreditsForIops":14374800,"nextAllowedQuotaDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","nextAllowedProvisionedIopsDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","leaseStatus":"unlocked","leaseState":"available","lastModifiedTime":"2026-05-12T10:48:27.0000000Z","shareQuota":32,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004?$include=none&api-version=2024-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DEB013FF7B030C\"","properties":{"provisionedIops":1007,"provisionedBandwidthMibps":61,"includedBurstIops":5000,"maxBurstCreditsForIops":14374800,"nextAllowedQuotaDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","nextAllowedProvisionedIopsDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Tue,
        12 May 2026 10:48:26 GMT","leaseStatus":"unlocked","leaseState":"available","lastModifiedTime":"2026-05-12T10:48:27.0000000Z","shareQuota":32,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
