interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2023-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2024-06-19T10:57:43.1805585Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2024-06-19T10:57:43.1805585Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11992'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:58:08 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904EB4EB0CA2"'
      last-modified:
      - Wed, 19 Jun 2024 10:58:09 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
version: 1
