interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-06-09T03:17:37.1052839Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-06-09T03:17:37.1052839Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 03:17:58 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49C6A832629A"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:00 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:01 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49C6A9B1F753"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:02 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-06-09T03:18:02.5711443Z'
      x-ms-file-creation-time:
      - '2022-06-09T03:18:02.5711443Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-09T03:18:02.5711443Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16352834784999072373*9956287295308887548
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:03 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49C6AB2CA717"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:04 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8DA49C6AC08305A"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:06 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA49C6AC08305A"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:06 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-09T03:18:06.4916570Z'
      x-ms-file-creation-time:
      - '2022-06-09T03:18:05.0529047Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-09T03:18:06.4916570Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 2489152259891600754*9956287295308887548
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49C6A832629A"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:00 GMT
      x-ms-snapshot:
      - '2022-06-09T03:18:08.0000000Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:09 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitesthnylwo4hdahl46pqv.file.core.windows.net/sharevf43prvo7wfmodlq7kx/dir1%5Csource_file.txt?sharesnapshot=2022-06-09T03:18:08.0000000Z
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:11 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49C6AFB749F9"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:12 GMT
      x-ms-copy-id:
      - 17a9acbc-12e0-4fa7-8cb8-0851740b40d0
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 03:18:12 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA49C6AFB749F9"'
      last-modified:
      - Thu, 09 Jun 2022 03:18:12 GMT
      x-ms-copy-completion-time:
      - Thu, 09 Jun 2022 03:18:12 GMT
      x-ms-copy-id:
      - 17a9acbc-12e0-4fa7-8cb8-0851740b40d0
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitesthnylwo4hdahl46pqv.file.core.windows.net/sharevf43prvo7wfmodlq7kx/dir1%5Csource_file.txt?sharesnapshot=2022-06-09T03:18:08.0000000Z
      x-ms-copy-status:
      - success
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-09T03:18:06.4916570Z'
      x-ms-file-creation-time:
      - '2022-06-09T03:18:12.6723577Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-09T03:18:06.4916570Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 2489152259891600754*9956287295308887548
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
