interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/usages?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"unit":"Count","currentValue":19,"limit":250,"name":{"value":"StorageAccounts","localizedValue":"Storage
        Accounts"}},{"unit":"Count","currentValue":0,"limit":5000,"name":{"value":"StorageAccounts-AzureDNSZone","localizedValue":"AzureDNSZone
        Storage Accounts"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: OK
version: 1
