interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2023-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2024-06-19T10:56:44.1953974Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2024-06-19T10:56:44.1953974Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11992'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:13 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904E94199843"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:14 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:14 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904E94D1C171"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:15 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:16 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904E94D1C171"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:15 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:17 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904E96529371"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:18 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:18 GMT
      x-ms-meta-foo:
      - bar
      x-ms-meta-moo:
      - bak
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904E9709498E"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:19 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:19 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DC904E9709498E"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:19 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 19 Jun 2024 10:57:18 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-foo:
      - bar
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-meta-moo:
      - bak
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:21 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904E987AF6AC"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:21 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:22 GMT
      x-ms-meta-cat:
      - file
      x-ms-meta-test:
      - beta
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DC904E99650259"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jun 2024 10:57:23 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DC904E99650259"'
      last-modified:
      - Wed, 19 Jun 2024 10:57:23 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 19 Jun 2024 10:57:21 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-cat:
      - file
      x-ms-meta-test:
      - beta
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
version: 1
