interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-10-18T07:57:28.2342145Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-10-18T07:57:28.2342145Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Oct 2021 07:57:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9920CFCC1CBE1"'
      last-modified:
      - Mon, 18 Oct 2021 07:57:52 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Mon, 18 Oct 2021 07:57:55 GMT
      x-ms-rehydrate-priority:
      - Standard
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Oct 2021 07:57:56 GMT
      x-ms-version:
      - '2020-06-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9920CFDA70BF7"'
      last-modified:
      - Mon, 18 Oct 2021 07:57:54 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Mon, 18 Oct 2021 07:57:55 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 18 Oct 2021 07:57:54 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Oct 2021 07:57:58 GMT
      x-ms-version:
      - '2020-06-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9920CFDA70BF7"'
      last-modified:
      - Mon, 18 Oct 2021 07:57:54 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Mon, 18 Oct 2021 07:57:57 GMT
      x-ms-archive-status:
      - rehydrate-pending-to-cool
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 18 Oct 2021 07:57:54 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-rehydrate-priority:
      - High
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 18 Oct 2021 07:58:04 GMT
      x-ms-version:
      - '2020-06-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000005
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9920D0147E4FD"'
      last-modified:
      - Mon, 18 Oct 2021 07:58:00 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Mon, 18 Oct 2021 07:58:03 GMT
      x-ms-archive-status:
      - rehydrate-pending-to-hot
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 18 Oct 2021 07:58:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-rehydrate-priority:
      - Standard
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
version: 1
