interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-01-02T16:03:18.4906691Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-01-02T16:03:18.4906691Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Jan 2026 16:03:45 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE4A1882F8E5A9"'
      last-modified:
      - Fri, 02 Jan 2026 16:03:47 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Jan 2026 16:03:47 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE4A1883EF69A0"'
      last-modified:
      - Fri, 02 Jan 2026 16:03:48 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Jan 2026 16:03:48 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir/file1?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE4A1884B7AAF0"'
      last-modified:
      - Fri, 02 Jan 2026 16:03:49 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2026-01-02T16:03:50Z</Start><Expiry>2026-01-02T17:03:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 02 Jan 2026 16:03:50 GMT
      x-ms-version:
      - '2026-02-06'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>2146abed-b993-4a81-a6af-eda7b4524c5e</SignedOid><SignedTid>4b71fe15-44c6-47b7-94ac-5a6b2cc290e9</SignedTid><SignedStart>2026-01-02T16:03:50Z</SignedStart><SignedExpiry>2026-01-02T17:03:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>iwNHKJWxmsJHHljfj9Rk10a/jYnv2syWeDhMNokdNsI=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 02 Jan 2026 16:03:52 GMT
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/testdir/subdir/file1?se=2026-01-02T17%3A03Z&sp=rwdlop&spr=https&sv=2026-02-06&sr=b&skoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sktid=4b71fe15-44c6-47b7-94ac-5a6b2cc290e9&skt=2026-01-02T16%3A03%3A50Z&ske=2026-01-02T17%3A03%3A00Z&sks=b&skv=2026-02-06&sig=gwgycysTDiXG1eS6JOeUVQenjFlv6tlytgt4md0cgds%3D
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE4A1884B7AAF0"'
      last-modified:
      - Fri, 02 Jan 2026 16:03:49 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 02 Jan 2026 16:03:49 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 02 Jan 2026 16:03:53 GMT
      x-ms-version:
      - '2026-02-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir/file1?action=append&position=0&se=2026-01-02T17%3A03Z&sp=rwdlop&spr=https&sv=2026-02-06&sr=b&skoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sktid=4b71fe15-44c6-47b7-94ac-5a6b2cc290e9&skt=2026-01-02T16%3A03%3A50Z&ske=2026-01-02T17%3A03%3A00Z&sks=b&skv=2026-02-06&sig=gwgycysTDiXG1eS6JOeUVQenjFlv6tlytgt4md0cgds%3D
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 02 Jan 2026 16:03:56 GMT
      x-ms-version:
      - '2026-02-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir/file1?action=flush&position=1048576&close=true&se=2026-01-02T17%3A03Z&sp=rwdlop&spr=https&sv=2026-02-06&sr=b&skoid=2146abed-b993-4a81-a6af-eda7b4524c5e&sktid=4b71fe15-44c6-47b7-94ac-5a6b2cc290e9&skt=2026-01-02T16%3A03%3A50Z&ske=2026-01-02T17%3A03%3A00Z&sks=b&skv=2026-02-06&sig=gwgycysTDiXG1eS6JOeUVQenjFlv6tlytgt4md0cgds%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE4A18897D6685"'
      last-modified:
      - Fri, 02 Jan 2026 16:03:57 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
version: 1
