interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/whatif-demo-rg/providers/Microsoft.Storage/storageAccounts/whatifdemosa","name":"whatifdemosa","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"environment":"test"},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-09-30T01:49:26.1073945Z","key2":"2025-09-30T01:49:26.1073945Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T01:49:26.1073945Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-30T01:49:26.1073945Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-09-30T01:49:25.9199024Z","primaryEndpoints":{"dfs":"https://whatifdemosa.dfs.core.windows.net/","web":"https://whatifdemosa.z13.web.core.windows.net/","blob":"https://whatifdemosa.blob.core.windows.net/","queue":"https://whatifdemosa.queue.core.windows.net/","table":"https://whatifdemosa.table.core.windows.net/","file":"https://whatifdemosa.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://whatifdemosa-secondary.dfs.core.windows.net/","web":"https://whatifdemosa-secondary.z13.web.core.windows.net/","blob":"https://whatifdemosa-secondary.blob.core.windows.net/","queue":"https://whatifdemosa-secondary.queue.core.windows.net/","table":"https://whatifdemosa-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgd27z3tdjet3vfsn7botbqsf6jm[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:48:54.6963947Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:48:54.6963947Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:49:22 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E29CC54F72"'
      last-modified:
      - Fri, 24 Oct 2025 09:49:23 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 1, "allowProtectedAppendWrites":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8de12e29db5b91a\"","properties":{"allowProtectedAppendWrites":true,"immutabilityPeriodSinceCreationInDays":1,"state":"Unlocked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8de12e29db5b91a"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8de12e29db5b91a"'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8de12e2a2439a36\"","properties":{"immutabilityPeriodSinceCreationInDays":0,"state":"Deleted"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8de12e2a2439a36"'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '198'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8de12e2a43f7742"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default/lock?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8de12e2a66d5b27\"","properties":{"allowProtectedAppendWrites":false,"immutabilityPeriodSinceCreationInDays":1,"state":"Locked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8de12e2a66d5b27"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '197'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8de12e2a66d5b27"'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2025-06-01
  response:
    body:
      string: '{"error":{"code":"ContainerImmutabilityPolicyFailure","message":"Operation
        not allowed on immutability policy with current state."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 409
      message: Conflict
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 2}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"8de12e2a66d5b27"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default/extend?api-version=2025-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8de12e2a97b5db4\"","properties":{"allowProtectedAppendWrites":false,"immutabilityPeriodSinceCreationInDays":2,"state":"Locked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8de12e2a97b5db4"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1?api-version=2025-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
