interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-04-13T08:54:43.5489513Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-04-13T08:54:43.5489513Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Premium_LRS","tier":"Premium"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zytest/providers/Microsoft.Storage/storageAccounts/vhdstorage0b3f850451900f","name":"vhdstorage0b3f850451900f","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-03-17T05:11:15.3062962Z","key2":"2026-03-17T05:11:15.3062962Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-03-17T05:11:15.3062962Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-03-17T05:11:15.3062962Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2026-03-17T05:11:14.9469198Z","primaryEndpoints":{"blob":"https://vhdstorage0b3f850451900f.blob.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcavizvjx5olspwmvquapcmjapgo537igpkriqz53zmh7a2nvtpr37p5kf2s2yrrzv/providers/Microsoft.Storage/storageAccounts/clitestnv7akmqwa6czjvr3z","name":"clitestnv7akmqwa6czjvr3z","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-04-13T08:55:08.8763714Z","key2":"2026-04-13T08:55:08.8763714Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-13T08:55:08.8835227Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-04-13T08:55:08.8835227Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"ResolvingDns","creationTime":"2026-04-13T08:55:08.6188799Z","primaryEndpoints":{"dfs":"https://clitestnv7akmqwa6czjvr3z.dfs.core.windows.net/","web":"https://clitestnv7akmqwa6czjvr3z.z22.web.core.windows.net/","blob":"https://clitestnv7akmqwa6czjvr3z.blob.core.windows.net/","queue":"https://clitestnv7akmqwa6czjvr3z.queue.core.windows.net/","table":"https://clitestnv7akmqwa6czjvr3z.table.core.windows.net/","file":"https://clitestnv7akmqwa6czjvr3z.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"pr[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 Apr 2026 08:55:18 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Zhiyi
        Huang","givenName":null,"jobTitle":null,"mail":"test@example.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"test@example.com#EXT#@azclitools20260204.onmicrosoft.com","id":"9189af77-1924-4997-8bea-dc08f6bf83e0"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0002139C"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2026-04-13T08:55:21Z</Start><Expiry>2026-04-13T09:55:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 13 Apr 2026 08:55:21 GMT
      x-ms-version:
      - '2026-04-06'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>9189af77-1924-4997-8bea-dc08f6bf83e0</SignedOid><SignedTid>ed94de55-1f87-4278-9651-525e7ba467d6</SignedTid><SignedStart>2026-04-13T08:55:21Z</SignedStart><SignedExpiry>2026-04-13T09:55:00Z</SignedExpiry><SignedService>q</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>RKJ3IVUtgmtMiL9I2nJvI9XL+MbkyQIO4iXPg8Wb42w=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>content</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 13 Apr 2026 08:55:23 GMT
      x-ms-version:
      - '2026-04-06'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?se=2026-04-13T09%3A55Z&sp=raup&spr=https&sv=2026-04-06&sduoid=9189af77-1924-4997-8bea-dc08f6bf83e0&skoid=9189af77-1924-4997-8bea-dc08f6bf83e0&sktid=ed94de55-1f87-4278-9651-525e7ba467d6&skt=2026-04-13T08%3A55%3A21Z&ske=2026-04-13T09%3A55%3A00Z&sks=q&skv=2026-04-06&sig=3SgL3Hs2tvEg%2F6hRwCt9JKO1mzKeVCwhvyTNgJRFhss%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>44579cdc-7dee-41f2-9ede-5d3671e80865</MessageId><InsertionTime>Mon,
        13 Apr 2026 08:55:25 GMT</InsertionTime><ExpirationTime>Mon, 20 Apr 2026 08:55:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmjXdRCPL3AE=</PopReceipt><TimeNextVisible>Mon,
        13 Apr 2026 08:55:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
version: 1
