interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:58:17.0106167Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:58:17.0106167Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:58:49 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197052AB034"'
      last-modified:
      - Thu, 14 May 2026 08:58:51 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2026-05-14T08:58:52Z</Start><Expiry>2026-05-14T09:58:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 14 May 2026 08:58:52 GMT
      x-ms-version:
      - '2026-04-06'
    method: POST
    uri: https://clitest000002.file.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e</SignedOid><SignedTid>54826b22-38d6-4fb2-bad9-b7b93a3e9c5a</SignedTid><SignedStart>2026-05-14T08:58:52Z</SignedStart><SignedExpiry>2026-05-14T09:58:00Z</SignedExpiry><SignedService>f</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>lqhvTM1bt7UDd1pYFlpG6I8FiE2w75NbaTzrJhrhQTQ=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '1048576'
      x-ms-date:
      - Thu, 14 May 2026 08:58:55 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/tmplxp3p6gy?se=2026-05-14T09%3A58Z&sp=rcwd&spr=https&sv=2026-04-06&sr=f&skoid=a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e&sktid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&skt=2026-05-14T08%3A58%3A52Z&ske=2026-05-14T09%3A58%3A00Z&sks=f&skv=2026-04-06&sig=2oPV%2B9%2BUEPdrWgtBGSBuIEDu6XtrKIClIysiFHL7KYk%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB197090EC823"'
      last-modified:
      - Thu, 14 May 2026 08:58:58 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T08:58:58.3330851Z'
      x-ms-file-creation-time:
      - '2026-05-14T08:58:58.3330851Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T08:58:58.3330851Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 14326073338160214955*7958009584832355109
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
