interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:05 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF67B6F952"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:07 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:08 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF67B6F952"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:07 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:11 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><Containers><Container><Name>filesystem000003</Name><Properties><Last-Modified>Thu,
        20 Feb 2025 15:01:07 GMT</Last-Modified><Etag>\"0x8DD51BF67B6F952\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:12 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF6BAA3514"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:14 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/directory000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DD51BF6BAA3514"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:14 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 20 Feb 2025 15:01:14 GMT
      x-ms-group:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-owner:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:17 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF6BAA3514"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:14 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-owner:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:19 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"133845372743398676","etag":"0x8DD51BF6BAA3514","expiryTime":"0","group":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","isDirectory":"true","lastModified":"Thu,
        20 Feb 2025 15:01:14 GMT","name":"directory000004","owner":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:20 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF704CE708"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:22 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:22 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DD51BF704CE708"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:22 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 20 Feb 2025 15:01:22 GMT
      x-ms-group:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:25 GMT
      x-ms-version:
      - '2021-08-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=flush&position=1024&close=true
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF725CEC98"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:25 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:27 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"133845372743398676","etag":"0x8DD51BF6BAA3514","expiryTime":"0","group":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","isDirectory":"true","lastModified":"Thu,
        20 Feb 2025 15:01:14 GMT","name":"directory000004","owner":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","permissions":"rwxr-x---"},{"contentLength":"1024","creationTime":"133845372821169928","etag":"0x8DD51BF725CEC98","expiryTime":"0","group":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","lastModified":"Thu,
        20 Feb 2025 15:01:25 GMT","name":"file000005","owner":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:31 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF725CEC98"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:25 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-owner:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:33 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:35 GMT
      x-ms-rename-source:
      - /filesystemwl4vwamvoe/filenkphs55zb5lamqst
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/newfile?mode=legacy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF725CEC98"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:25 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:36 GMT
      x-ms-version:
      - '2021-08-06'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/newfile
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r--,other::---,mask::rwx
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:38 GMT
      x-ms-version:
      - '2021-08-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=setAccessControl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF6BAA3514"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:14 GMT
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:01:39 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BF6BAA3514"'
      last-modified:
      - Thu, 20 Feb 2025 15:01:14 GMT
      x-ms-acl:
      - user::rwx,group::r--,mask::rwx,other::---
      x-ms-group:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-owner:
      - a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
      x-ms-permissions:
      - rwxrwx---+
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
version: 1
