interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgtestnsp?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp","name":"rgtestnsp","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "satestnsp1", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-01-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"The storage
        account named satestnsp1 is already taken."}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "eastus",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Storage/storageAccounts/satestnsp1?api-version=2025-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Storage/storageAccounts/satestnsp1","name":"satestnsp1","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-10-21T05:41:04.7147937Z","key2":"2025-10-21T05:41:04.7147937Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-21T05:41:04.7147937Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-21T05:41:04.7147937Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-10-21T05:41:04.5585481Z","primaryEndpoints":{"dfs":"https://satestnsp1.dfs.core.windows.net/","web":"https://satestnsp1.z13.web.core.windows.net/","blob":"https://satestnsp1.blob.core.windows.net/","queue":"https://satestnsp1.queue.core.windows.net/","table":"https://satestnsp1.table.core.windows.net/","file":"https://satestnsp1.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://satestnsp1-secondary.dfs.core.windows.net/","web":"https://satestnsp1-secondary.z13.web.core.windows.net/","blob":"https://satestnsp1-secondary.blob.core.windows.net/","queue":"https://satestnsp1-secondary.queue.core.windows.net/","table":"https://satestnsp1-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Storage/storageAccounts/satestnsp1/networkSecurityPerimeterConfigurations?api-version=2025-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Storage/storageAccounts/satestnsp1/networkSecurityPerimeterConfigurations/3f49d565-5208-4f2f-9c1e-38ef56e41d36.nspassociation1","name":"3f49d565-5208-4f2f-9c1e-38ef56e41d36.nspassociation1","type":"Microsoft.Storage/storageAccounts/networkSecurityPerimeterConfigurations","properties":{"provisioningState":"Succeeded","networkSecurityPerimeter":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Network/networkSecurityPerimeters/nsp1","perimeterGuid":"3f49d565-5208-4f2f-9c1e-38ef56e41d36","location":"eastus"},"resourceAssociation":{"name":"nspassociation1","accessMode":"Learning"},"profile":{"name":"nspprofile1","accessRulesVersion":0,"accessRules":[],"diagnosticSettingsVersion":0,"enabledLogCategories":[]}}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Storage/storageAccounts/satestnsp1/networkSecurityPerimeterConfigurations/3f49d565-5208-4f2f-9c1e-38ef56e41d36.nspassociation1?api-version=2025-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Storage/storageAccounts/satestnsp1/networkSecurityPerimeterConfigurations/3f49d565-5208-4f2f-9c1e-38ef56e41d36.nspassociation1","name":"3f49d565-5208-4f2f-9c1e-38ef56e41d36.nspassociation1","type":"Microsoft.Storage/storageAccounts/networkSecurityPerimeterConfigurations","properties":{"provisioningState":"Succeeded","networkSecurityPerimeter":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Network/networkSecurityPerimeters/nsp1","perimeterGuid":"3f49d565-5208-4f2f-9c1e-38ef56e41d36","location":"eastus"},"resourceAssociation":{"name":"nspassociation1","accessMode":"Learning"},"profile":{"name":"nspprofile1","accessRulesVersion":0,"accessRules":[],"diagnosticSettingsVersion":0,"enabledLogCategories":[]}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgtestnsp/providers/Microsoft.Storage/storageAccounts/satestnsp1/networkSecurityPerimeterConfigurations/3f49d565-5208-4f2f-9c1e-38ef56e41d36.nspassociation1/reconcile?api-version=2025-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/b82f350f-9619-4add-91c8-7fc6ed74db7e?monitor=true&api-version=2025-01-01&t=638966301882833146&c=MIIHhjCCBm6gAwIBAgITHgeIzWb1oOWY4L6wkwAAB4jNZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUxMDE1MjEzOTU3WhcNMjYwMTEzMjEzOTU3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/b82f350f-9619-4add-91c8-7fc6ed74db7e?monitor=true&api-version=2025-01-01&t=638966301882833146&c=MIIHhjCCBm6gAwIBAgITHgeIzWb1oOWY4L6wkwAAB4jNZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUxMDE1MjEzOTU3WhcNMjYwMTEzMjEzOTU[...]
