interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-06-22T07:50:51.0659373Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-06-22T07:50:51.0659373Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:12 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA5423FAECAF72"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:13 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:13 GMT
      x-ms-meta:
      - '{''foo'': ''bar'', ''cat'': ''hat''}'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA5423FBCFBC9E"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:15 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:15 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA5423FAECAF72"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:13 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:18 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/?comp=list&maxresults=5000&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000004</Name><Properties><Last-Modified>Wed,
        22 Jun 2022 07:51:15 GMT</Last-Modified><Etag>\"0x8DA5423FBCFBC9E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share000003</Name><Properties><Last-Modified>Wed,
        22 Jun 2022 07:51:13 GMT</Last-Modified><Etag>\"0x8DA5423FAECAF72\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:19 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA5423FF278169"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:20 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:25 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA542402745B9B"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:26 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:28 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA5424046F8906"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:29 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-22T07:51:29.6320774Z'
      x-ms-file-creation-time:
      - '2022-06-22T07:51:29.6320774Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-22T07:51:29.6320774Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10437768384637056697*4069722764531326519
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:30 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA542405263B2A"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:30 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-22T07:51:30.8293930Z'
      x-ms-file-creation-time:
      - '2022-06-22T07:51:29.6320774Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-22T07:51:30.8293930Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10437768384637056697*4069722764531326519
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:32 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:34 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      content-range:
      - bytes 0-511/131072
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA542405263B2A"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:30 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-22T07:51:30.8293930Z'
      x-ms-file-creation-time:
      - '2022-06-22T07:51:29.6320774Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-22T07:51:30.8293930Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10437768384637056697*4069722764531326519
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1234'
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:36 GMT
      x-ms-file-attributes:
      - preserve
      x-ms-file-creation-time:
      - preserve
      x-ms-file-last-write-time:
      - preserve
      x-ms-file-permission:
      - preserve
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA54240946E839"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:37 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-22T07:51:37.7544249Z'
      x-ms-file-creation-time:
      - '2022-06-22T07:51:29.6320774Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-22T07:51:37.7544249Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10437768384637056697*4069722764531326519
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:39 GMT
      x-ms-meta:
      - '{''a'': ''b'', ''c'': ''d''}'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA54240AED2E5E"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:40 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:44 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:3f08f1b9-301a-0017-7c0c-86cb69000000\nTime:2022-06-22T07:51:45.8698727Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:45 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><DirectoryId>0</DirectoryId><Entries><File><Name>sample_file.bin</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1234</Content-Length><CreationTime>2022-06-22T07:51:29.6320774Z</CreationTime><LastAccessTime>2022-06-22T07:51:29.6320774Z</LastAccessTime><LastWriteTime>2022-06-22T07:51:37.7544249Z</LastWriteTime><ChangeTime>2022-06-22T07:51:43.2392844Z</ChangeTime><Last-Modified>Wed,
        22 Jun 2022 07:51:43 GMT</Last-Modified><Etag>\"0x8DA54240C8BD48C\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>10437768384637056697*4069722764531326519</PermissionKey></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-type:
      - test/type
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:48 GMT
      x-ms-file-attributes:
      - preserve
      x-ms-file-creation-time:
      - preserve
      x-ms-file-last-write-time:
      - preserve
      x-ms-file-permission:
      - preserve
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA54241085EC7B"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:49 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-22T07:51:49.9114619Z'
      x-ms-file-creation-time:
      - '2022-06-22T07:51:29.6320774Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-22T07:51:37.7544249Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10437768384637056697*4069722764531326519
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:54 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA542413C72FC2"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:55 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-06-22T07:51:55.3723330Z'
      x-ms-file-creation-time:
      - '2022-06-22T07:51:55.3723330Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-22T07:51:55.3723330Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5810111194306857406*4069722764531326519
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:55 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir000005</Name><FileId>13835093239654252544</FileId><Properties><CreationTime>2022-06-22T07:51:55.3723330Z</CreationTime><LastAccessTime>2022-06-22T07:51:55.3723330Z</LastAccessTime><LastWriteTime>2022-06-22T07:51:55.3723330Z</LastWriteTime><ChangeTime>2022-06-22T07:51:55.3723330Z</ChangeTime><Last-Modified>Wed,
        22 Jun 2022 07:51:55 GMT</Last-Modified><Etag>\"0x8DA542413C72FC2\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>5810111194306857406*4069722764531326519</PermissionKey></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:51:58 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA5424163E3BD6"'
      last-modified:
      - Wed, 22 Jun 2022 07:51:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '65536'
      x-ms-date:
      - Wed, 22 Jun 2022 07:52:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005/testfile.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA54241A61A7AF"'
      last-modified:
      - Wed, 22 Jun 2022 07:52:06 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-22T07:52:06.4509871Z'
      x-ms-file-creation-time:
      - '2022-06-22T07:52:06.4509871Z'
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2022-06-22T07:52:06.4509871Z'
      x-ms-file-parent-id:
      - '13835093239654252544'
      x-ms-file-permission-key:
      - 10437768384637056697*4069722764531326519
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:52:10 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000005\"><MaxResults>5000</MaxResults><DirectoryId>13835093239654252544</DirectoryId><Entries><File><Name>testfile.txt</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>65536</Content-Length><CreationTime>2022-06-22T07:52:06.4509871Z</CreationTime><LastAccessTime>2022-06-22T07:52:06.4509871Z</LastAccessTime><LastWriteTime>2022-06-22T07:52:07.3604668Z</LastWriteTime><ChangeTime>2022-06-22T07:52:07.3604668Z</ChangeTime><Last-Modified>Wed,
        22 Jun 2022 07:52:07 GMT</Last-Modified><Etag>\"0x8DA54241AEC6E3C\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>10437768384637056697*4069722764531326519</PermissionKey></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:52:12 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsageBytes>65536</ShareUsageBytes></ShareStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:52:15 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/testfile.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jun 2022 07:52:23 GMT
      x-ms-version:
      - '2021-06-08'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
version: 1
