interactions:
- request:
    body: '{"location": "WestUS", "properties": {"redisConfiguration": {}, "tenantSettings":
      {}, "sku": {"name": "Premium", "family": "p", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002\",\r\n
        \ \"location\": \"West US\",\r\n  \"name\": \"cliredis000002\",\r\n  \"type\":
        \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"redisVersion\": \"6.0\",\r\n    \"sku\": {\r\n      \"name\":
        \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    },\r\n
        \   \"enableNonSslPort\": false,\r\n    \"instances\": [\r\n      {\r\n        \"sslPort\":
        15000,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n
        \     },\r\n      {\r\n        \"sslPort\": 15001,\r\n        \"isMaster\":
        false,\r\n        \"isPrimary\": false\r\n      }\r\n    ],\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"tenantSettings\": {},\r\n    \"redisConfiguration\":
        {\r\n      \"maxclients\": \"7500\",\r\n      \"maxmemory-reserved\": \"642\",\r\n
        \     \"maxfragmentationmemory-reserved\": \"642\",\r\n      \"maxmemory-delta\":
        \"642\"\r\n    },\r\n    \"accessKeys\": {\r\n      \"primaryKey\": \"***=\",\r\n
        \     \"secondaryKey\": \"***=\"\r\n
        \   },\r\n    \"hostName\": \"cliredis000002.redis.cache.windows.net\",\r\n
        \   \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/1b11284b-02a9-4432-b1f1-69a019788e96?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2023-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 7018fa08-1d27-4b37-9579-89853b092fbf
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/1b11284b-02a9-4432-b1f1-69a019788e96?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US/asyncOperations/1b11284b-02a9-4432-b1f1-69a019788e96\",\r\n  \"name\":
        \"1b11284b-02a9-4432-b1f1-69a019788e96\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/1b11284b-02a9-4432-b1f1-69a019788e96?api-version=2023-04-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - 7018fa08-1d27-4b37-9579-89853b092fbf
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"keyType": "Primary"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002/regenerateKey?api-version=2023-04-01
  response:
    body:
      string: '{"primaryKey":"SkT62clr8rv5naQj8aI3cYJK2tecn0fiYAzCaBDli8M=","secondaryKey":"***="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 7018fa08-1d27-4b37-9579-89853b092fbf
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"mytag": "mytagval"}, "properties": {"redisConfiguration": {"maxfragmentationmemory-reserved":
      "642", "maxmemory-reserved": "642", "maxmemory-delta": "642"}, "redisVersion":
      "6.0", "enableNonSslPort": false, "tenantSettings": {}, "publicNetworkAccess":
      "Enabled", "sku": {"name": "Premium", "family": "P", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/operationresults/a6aa80f6-3e69-4f79-be60-8726c2a5fa29?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US/operationresults/a6aa80f6-3e69-4f79-be60-8726c2a5fa29\",\r\n  \"name\":
        \"a6aa80f6-3e69-4f79-be60-8726c2a5fa29\",\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/operationresults/a6aa80f6-3e69-4f79-be60-8726c2a5fa29?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/operationresults/a6aa80f6-3e69-4f79-be60-8726c2a5fa29?api-version=2023-04-01
      x-rp-server-mvid:
      - 7018fa08-1d27-4b37-9579-89853b092fbf
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/operationresults/a6aa80f6-3e69-4f79-be60-8726c2a5fa29?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US/operationresults/a6aa80f6-3e69-4f79-be60-8726c2a5fa29\",\r\n  \"name\":
        \"a6aa80f6-3e69-4f79-be60-8726c2a5fa29\",\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 7018fa08-1d27-4b37-9579-89853b092fbf
    status:
      code: 200
      message: OK
version: 1
