interactions:
- request:
    body: '{"location": "WestUS", "identity": {"type": "SystemAssigned, UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aj-tiwari/providers/Microsoft.ManagedIdentity/userAssignedIdentities/aj-ui":
      {}}}, "properties": {"redisConfiguration": {}, "tenantSettings": {}, "sku":
      {"name": "Basic", "family": "c", "capacity": 0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002\",\r\n
        \ \"location\": \"West US\",\r\n  \"name\": \"cliredis000002\",\r\n  \"type\":
        \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"redisVersion\": \"6.0\",\r\n    \"sku\": {\r\n      \"name\":
        \"Basic\",\r\n      \"family\": \"C\",\r\n      \"capacity\": 0\r\n    },\r\n
        \   \"enableNonSslPort\": false,\r\n    \"instances\": [\r\n      {\r\n        \"sslPort\":
        15000,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n
        \     }\r\n    ],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"tenantSettings\":
        {},\r\n    \"redisConfiguration\": {\r\n      \"maxclients\": \"256\",\r\n
        \     \"maxmemory-reserved\": \"30\",\r\n      \"maxfragmentationmemory-reserved\":
        \"30\",\r\n      \"maxmemory-delta\": \"30\"\r\n    },\r\n    \"accessKeys\":
        {\r\n      \"primaryKey\": \"tTfijV4ko84HlpjrfGGIIwx4ciXW88oYvAzCaFkSQfw=\",\r\n
        \     \"secondaryKey\": \"10OENKqGx8NHlAsdN4SI701HLVsmtgiOtAzCaOleKaE=\"\r\n
        \   },\r\n    \"hostName\": \"cliredis000002.redis.cache.windows.net\",\r\n
        \   \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n
        \ },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned, UserAssigned\",\r\n
        \   \"principalId\": \"1963b923-92a2-4815-a86b-5b5ad2ac9ffb\",\r\n    \"tenantId\":
        \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"userAssignedIdentities\":
        {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aj-tiwari/providers/Microsoft.ManagedIdentity/userAssignedIdentities/aj-ui\":
        {\r\n        \"principalId\": \"974ed832-2b0a-43f5-8bd9-370249be8299\",\r\n
        \       \"clientId\": \"fedc762b-323c-4d6c-a6ff-95074cf8214a\"\r\n      }\r\n
        \   }\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/6702adee-961c-403b-a288-df91128dd2d3?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2023-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 7018fa08-1d27-4b37-9579-89853b092fbf
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/6702adee-961c-403b-a288-df91128dd2d3?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US/asyncOperations/6702adee-961c-403b-a288-df91128dd2d3\",\r\n  \"name\":
        \"6702adee-961c-403b-a288-df91128dd2d3\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/6702adee-961c-403b-a288-df91128dd2d3?api-version=2023-04-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - 7018fa08-1d27-4b37-9579-89853b092fbf
    status:
      code: 200
      message: OK
[...]
