interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/redis?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/prn-rg/providers/Microsoft.Cache/Redis/prn-sdkfjdsf","location":"West
        US 2","name":"prn-sdkfjdsf","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"4.0.14","sku":{"name":"Premium","family":"P","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":true,"isPrimary":true},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"publicNetworkAccess":"Enabled","redisConfiguration":{"maxclients":"7500","maxmemory-reserved":"776","maxfragmentationmemory-reserved":"300","maxmemory-policy":"volatile-ttl","total-obuf-hardlimit-perc":"92","aof-backup-enabled":"true","rdb-backup-enabled":"false","maxmemory-delta":"776","aof-storage-connection-string-0":"DefaultEndpointsProtocol=https;BlobEndpoint=https://cliredisvmnyg4w27h52nanr.blob.core.windows.net/;AccountName=cliredisvmnyg4w27h52nanr;AccountKey=[key
        hidden]","aof-storage-connection-string-1":"DefaultEndpointsProtocol=https;BlobEndpoint=https://prnteststorage.blob.core.windows.net/;AccountName=prnteststorage;AccountKey=[key
        hidden]","preferred-data-persistence-auth-method":"sas"},"accessKeys":null,"hostName":"prn-sdkfjdsf.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]},"identity":{"type":"SystemAssigned","principalId":"4baeac34-6c3a-4a2d-8ae1-74ba35524e80","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redisob4ghxtitrltqxohxvqqaqsqcnlgkx3tee6tgjhjenoazopzufe3nkmyl3m7z/providers/Microsoft.Cache/Redis/cliredisjjz7o77hpromvqfn","location":"West
        US 2","name":"cliredisjjz7o77hpromvqfn","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Creating","redisVersion":"4.0.14","sku":{"name":"Premium","family":"P","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":false,"isPrimary":false},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"publicNetworkAccess":"Enabled","tenantSettings":{},"redisConfiguration":{"maxclients":"7500","maxmemory-reserved":"200","maxfragmentationmemory-reserved":"300","maxmemory-delta":"200"},"accessKeys":null,"hostName":"cliredisjjz7o77hpromvqfn.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redisgmuryj72kz5lpxtdhgpauupctsep3i2mahqpv62km3wiyvuhtl7he7xdmb4ln/providers/Microsoft.Cache/Redis/cliredisfjzooeuga5vkdcy2","location":"West
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis?api-version=2021-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
