interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/redis?api-version=2023-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/kj-aad-testing/providers/Microsoft.Cache/Redis/aad-tls-bug-flag","location":"West
        US","name":"aad-tls-bug-flag","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"6.0","sku":{"name":"Standard","family":"C","capacity":2},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":true,"isPrimary":true},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","redisConfiguration":{"maxclients":"2000","maxmemory-reserved":"354","maxfragmentationmemory-reserved":"352","aad-enabled":"False","maxmemory-policy":"allkeys-lru","maxmemory-delta":"354"},"accessKeys":null,"hostName":"aad-tls-bug-flag.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[],"updateChannel":"Stable"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redisvuqhntkrtb4mafvnyjrjxynxbgihkrohaj4oyhejapunqhw52rzx3y7u34lpn/providers/Microsoft.Cache/Redis/cliredisiv4qb6kumtr5i7p4","location":"West
        US","name":"cliredisiv4qb6kumtr5i7p4","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"6.0","sku":{"name":"Basic","family":"C","capacity":0},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":true,"isPrimary":true}],"publicNetworkAccess":"Enabled","tenantSettings":{},"redisConfiguration":{"maxclients":"256","maxmemory-reserved":"30","maxfragmentationmemory-reserved":"30","maxmemory-delta":"30"},"accessKeys":null,"hostName":"cliredisiv4qb6kumtr5i7p4.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[],"updateChannel":"Preview"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/kj-aad-testing/providers/Microsoft.Cache/Redis/basic-cache-with-aad","location":"West
        US","name":"basic-cache-with-aad","type":"Mic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis?api-version=2023-08-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
