interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "WestUS2",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Storage/storageAccounts/strcliredis2zenpj53ba3rp?api-version=2022-05-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/406516a2-67c1-4d76-8935-c130f494f24a?monitor=true&api-version=2022-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/406516a2-67c1-4d76-8935-c130f494f24a?monitor=true&api-version=2022-05-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Storage/storageAccounts/strcliredis2zenpj53ba3rp","name":"strcliredis2zenpj53ba3rp","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2022-12-24T15:02:47.1039825Z","key2":"2022-12-24T15:02:47.1039825Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-12-24T15:02:47.6821419Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-12-24T15:02:47.6821419Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-12-24T15:02:47.0259299Z","primaryEndpoints":{"dfs":"https://strcliredis2zenpj53ba3rp.dfs.core.windows.net/","web":"https://strcliredis2zenpj53ba3rp.z5.web.core.windows.net/","blob":"https://strcliredis2zenpj53ba3rp.blob.core.windows.net/","queue":"https://strcliredis2zenpj53ba3rp.queue.core.windows.net/","table":"https://strcliredis2zenpj53ba3rp.table.core.windows.net/","file":"https://strcliredis2zenpj53ba3rp.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-shell-storage-westus/providers/Microsoft.Storage/storageAccounts/cs410032001ef4b0f9c","name":"cs410032001ef4b0f9c","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{"ms-resource-usage":"azure-cloud-shell"},"properties":{"keyCreationTime":{"key1":"2022-10-31T21:41:15.6494218Z","key2":"2022-10-31T21:41:15.6494218Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-10-31T21:41:15.6494218Z"},"blob":{"keyType":"Accou[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Storage/storageAccounts/strcliredis2zenpj53ba3rp/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-12-24T15:02:47.1039825Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-12-24T15:02:47.1039825Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 24 Dec 2022 15:02:09 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://strcliredis2zenpj53ba3rp.blob.core.windows.net/testcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAE5BFF8A8C6C5"'
      last-modified:
      - Sat, 24 Dec 2022 15:03:09 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "WestUS2", "properties": {"redisConfiguration": {}, "tenantSettings":
      {}, "sku": {"name": "Premium", "family": "p", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002\",\r\n
        \ \"location\": \"West US 2\",\r\n  \"name\": \"cliredis000002\",\r\n  \"type\":
        \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"redisVersion\": \"6.0\",\r\n    \"sku\": {\r\n      \"name\":
        \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    },\r\n
        \   \"enableNonSslPort\": false,\r\n    \"instances\": [\r\n      {\r\n        \"sslPort\":
        15000,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n
        \     },\r\n      {\r\n        \"sslPort\": 15001,\r\n        \"isMaster\":
        false,\r\n        \"isPrimary\": false\r\n      }\r\n    ],\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"tenantSettings\": {},\r\n    \"redisConfiguration\":
        {\r\n      \"maxclients\": \"7500\",\r\n      \"maxmemory-reserved\": \"642\",\r\n
        \     \"maxfragmentationmemory-reserved\": \"642\",\r\n      \"maxmemory-delta\":
        \"642\"\r\n    },\r\n    \"accessKeys\": {\r\n      \"primaryKey\": \"****\",\r\n
        \     \"secondaryKey\": \"***\"\r\n
        \   },\r\n    \"hostName\": \"cliredis000002.redis.cache.windows.net\",\r\n
        \   \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/af54992c-26b5-40f6-afec-651484ae6d72?api-version=2022-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/af54992c-26b5-40f6-afec-651484ae6d72?api-version=2022-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US 2/asyncOperations/af54992c-26b5-40f6-afec-651484ae6d72\",\r\n  \"name\":
        \"af54992c-26b5-40f6-afec-651484ae6d72\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/af54992c-26b5-40f6-afec-651484ae6d72?api-version=2022-06-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"prefix": "redistest", "container": "https://strcliredis2zenpj53ba3rp.blob.core.windows.net/testcontainer?st=2022-12-24T14%3A01Z&se=2022-12-24T18%3A21Z&sp=rwdl&sv=2021-06-08&sr=c&sig=6gwEF8Nm9cDzoXtYPTCyEnM3tIjUxDe3hnqRnjcski8%3D",
      "preferred-data-archive-auth-method": "SAS"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002/export?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationresults/1591660c-18c3-4ec2-894e-1446ff0ed55e?api-version=2022-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationresults/1591660c-18c3-4ec2-894e-1446ff0ed55e?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationresults/1591660c-18c3-4ec2-894e-1446ff0ed55e?api-version=2022-06-01
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"files": ["https://strcliredis2zenpj53ba3rp.blob.core.windows.net/testcontainer/redistest?st=2022-12-24T14%3A01Z&se=2022-12-24T18%3A21Z&sp=rwdl&sv=2021-06-08&sr=c&sig=6gwEF8Nm9cDzoXtYPTCyEnM3tIjUxDe3hnqRnjcski8%3D"],
      "preferred-data-archive-auth-method": "SAS"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002/import?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationresults/6503f1c1-d16d-4702-8891-9222166d536a?api-version=2022-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tolani-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/test-uami":
      {}}}, "properties": {"enableNonSslPort": false, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002","location":"West
        US 2","name":"cliredis000002","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"6.0","sku":{"name":"Premium","family":"P","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":true,"isPrimary":true},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"publicNetworkAccess":"Enabled","tenantSettings":{},"redisConfiguration":{"maxclients":"7500","maxmemory-reserved":"642","maxfragmentationmemory-reserved":"642","maxmemory-delta":"642"},"accessKeys":null,"hostName":"cliredis000002.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tolani-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/test-uami":{"principalId":"1588532d-e046-4901-8b35-2d071681f000","clientId":"78058a3e-8861-46fe-89e3-9387eca26d6a"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2022-01-31-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/mi-importexport/providers/Microsoft.ManagedIdentity/userAssignedIdentities/importexportmi","name":"importexportmi","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"southeastasia","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"c3b5460f-66a9-4591-aeec-a97b66aee6ea","clientId":"755663ce-45d3-4fc3-b64c-9dc0afeefcc3"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tolani-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/test-uami","name":"test-uami","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"1588532d-e046-4901-8b35-2d071681f000","clientId":"78058a3e-8861-46fe-89e3-9387eca26d6a"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tolani-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/test-uami2","name":"test-uami2","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus3","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"7e92ddc1-fb75-42ae-ad6f-b440d234d82c","clientId":"7fae01ac-1b16-49cd-816f-acb13de1a1f8"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      - ''
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ids": ["1588532d-e046-4901-8b35-2d071681f000"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"1588532d-e046-4901-8b35-2d071681f000","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tolani-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/test-uami"],"appDisplayName":null,"appDescription":null,"appId":"78058a3e-8861-46fe-89e3-9387eca26d6a","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2022-10-06T17:51:04Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"test-uami","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["78058a3e-8861-46fe-89e3-9387eca26d6a","https://identity.azure.net/aO64M4pmYpOwTY/KxuRrAmYCAilOSDNpsRFsIn2ttm0="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"1F44E68F747000BEE0D4712369ACC64B55B2E3F8","displayName":"CN=78058a3e-8861-46fe-89e3-9387eca26d6a","endDateTime":"2023-02-21T10:25:00Z","key":null,"keyId":"5d423681-c49a-431b-bb8b-cd0282db8cc0","startDateTime":"2022-11-23T10:25:00Z","type":"AsymmetricX509Cert","usage":"Verify"},{"customKeyIdentifier":"DB8E5FDD7CA8490F6D8F38EA28A34BAFCF922976","displayName":"CN=78058a3e-8861-46fe-89e3-9387eca26d6a","endDateTime":"2023-01-04T17:46:00Z","key":null,"keyId":"126859e0-ab4f-4d67-aa6a-1b4b5bb96b8d","startDateTime":"2022-10-06T17:46:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0000252C"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Storage/storageAccounts/strcliredis2zenpj53ba3rp/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Blob%20Data%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Storage Blob Data Contributor","type":"BuiltInRole","description":"Allows
        for read, write and delete access to Azure Storage blob containers and data","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Storage/storageAccounts/blobServices/containers/delete","Microsoft.Storage/storageAccounts/blobServices/containers/read","Microsoft.Storage/storageAccounts/blobServices/containers/write","Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey/action"],"notActions":[],"dataActions":["Microsoft.Storage/storageAccounts/blobServices/containers/blobs/delete","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/read","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/move/action","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/add/action"],"notDataActions":[]}],"createdOn":"2017-12-21T00:01:24.7972312Z","updatedOn":"2021-11-11T20:13:54.9397456Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","type":"Microsoft.Authorization/roleDefinitions","name":"ba92f5b4-2d11-453d-a403-e96b0029c9fe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe",
      "principalId": "1588532d-e046-4901-8b35-2d071681f000", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Storage/storageAccounts/strcliredis2zenpj53ba3rp/providers/Microsoft.Authorization/roleAssignments/b506c940-a9a2-4321-ae79-126747a8ec60?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","principalId":"1588532d-e046-4901-8b35-2d071681f000","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Storage/storageAccounts/strcliredis2zenpj53ba3rp","condition":null,"conditionVersion":null,"createdOn":"2022-12-24T15:37:47.8615020Z","updatedOn":"2022-12-24T15:37:48.3055093Z","createdBy":null,"updatedBy":"3b3c91e9-85ae-4427-beb3-3d9607fc628b","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Storage/storageAccounts/strcliredis2zenpj53ba3rp/providers/Microsoft.Authorization/roleAssignments/b506c940-a9a2-4321-ae79-126747a8ec60","type":"Microsoft.Authorization/roleAssignments","name":"b506c940-a9a2-4321-ae79-126747a8ec60"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationresults/3abdd242-c18e-4bf2-a9e0-65e5c486f756?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
version: 1
