interactions:
- request:
    body: '{"location": "eastus2", "properties": {"redisConfiguration": {}, "tenantSettings":
      {}, "sku": {"name": "Premium", "family": "p", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002\",\r\n
        \ \"location\": \"East US 2\",\r\n  \"name\": \"cliredis000002\",\r\n  \"type\":
        \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"redisVersion\": \"6.0\",\r\n    \"sku\": {\r\n      \"name\":
        \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    },\r\n
        \   \"enableNonSslPort\": false,\r\n    \"instances\": [\r\n      {\r\n        \"sslPort\":
        15000,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n
        \     },\r\n      {\r\n        \"sslPort\": 15001,\r\n        \"isMaster\":
        false,\r\n        \"isPrimary\": false\r\n      }\r\n    ],\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"tenantSettings\": {},\r\n    \"redisConfiguration\":
        {\r\n      \"maxclients\": \"7500\",\r\n      \"maxmemory-reserved\": \"642\",\r\n
        \     \"maxfragmentationmemory-reserved\": \"642\",\r\n      \"maxmemory-delta\":
        \"642\"\r\n    },\r\n    \"accessKeys\": {\r\n      \"primaryKey\": \"ZvjzoxOaxBK0GHwEIAQPPZq6WwfU8CxnEAzCaERvdm0=\",\r\n
        \     \"secondaryKey\": \"8G5W5iPJrLFmXGjIi7hO9kOXEBnwaV0scAzCaLf6IE8=\"\r\n
        \   },\r\n    \"hostName\": \"cliredis000002.redis.cache.windows.net\",\r\n
        \   \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US%202/asyncOperations/1b394058-726d-4326-a241-7aac404cab2f?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2023-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US%202/asyncOperations/1b394058-726d-4326-a241-7aac404cab2f?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US 2/asyncOperations/1b394058-726d-4326-a241-7aac404cab2f\",\r\n  \"name\":
        \"1b394058-726d-4326-a241-7aac404cab2f\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US%202/asyncOperations/1b394058-726d-4326-a241-7aac404cab2f?api-version=2023-04-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "EastUS", "properties": {"redisConfiguration": {}, "tenantSettings":
      {}, "sku": {"name": "Premium", "family": "p", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002sec?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/asyncOperations/abc790f6-03d8-4662-94b5-b900470b4596?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/asyncOperations/abc790f6-03d8-4662-94b5-b900470b4596\",\r\n  \"name\":
        \"abc790f6-03d8-4662-94b5-b900470b4596\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/asyncOperations/abc790f6-03d8-4662-94b5-b900470b4596?api-version=2023-04-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"linkedRedisCacheId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002sec",
      "linkedRedisCacheLocation": "East US", "serverRole": "Secondary"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002/linkedServers/cliredis000002sec?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002/linkedServers/cliredis000002sec\",\r\n
        \ \"name\": \"cliredis000002sec\",\r\n  \"type\": \"Microsoft.Cache/Redis/linkedServers\",\r\n
        \ \"properties\": {\r\n    \"linkedRedisCacheId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002sec\",\r\n
        \   \"linkedRedisCacheLocation\": \"East US\",\r\n    \"serverRole\": \"Secondary\",\r\n
        \   \"geoReplicatedPrimaryHostName\": \"cliredis000002sec.geo.redis.cache.windows.net\",\r\n
        \   \"primaryHostName\": \"cliredis000002.redis.cache.windows.net\",\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US%202/asyncOperations/59835b5a-7c34-4ff5-900b-32b897f2a503?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002/linkedServers?api-version=2023-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002/linkedServers/cliredis000002sec","name":"cliredis000002sec","type":"Microsoft.Cache/Redis/linkedServers","properties":{"linkedRedisCacheId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002sec","linkedRedisCacheLocation":"East
        US","serverRole":"Secondary","geoReplicatedPrimaryHostName":"cliredis000002sec.geo.redis.cache.windows.net","primaryHostName":"cliredis000002.redis.cache.windows.net","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US%202/operationresults/57ac6f6d-9164-42b3-abfd-aa33b593b234?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US 2/operationresults/57ac6f6d-9164-42b3-abfd-aa33b593b234\",\r\n  \"name\":
        \"57ac6f6d-9164-42b3-abfd-aa33b593b234\",\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US%202/operationresults/57ac6f6d-9164-42b3-abfd-aa33b593b234?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US%202/operationresults/57ac6f6d-9164-42b3-abfd-aa33b593b234?api-version=2023-04-01
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationresults/fb4099bb-d419-4a80-a448-c6afdec199da?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/operationresults/fb4099bb-d419-4a80-a448-c6afdec199da\",\r\n  \"name\":
        \"fb4099bb-d419-4a80-a448-c6afdec199da\",\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationresults/fb4099bb-d419-4a80-a448-c6afdec199da?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationresults/fb4099bb-d419-4a80-a448-c6afdec199da?api-version=2023-04-01
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationresults/fb4099bb-d419-4a80-a448-c6afdec199da?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/operationresults/fb4099bb-d419-4a80-a448-c6afdec199da\",\r\n  \"name\":
        \"fb4099bb-d419-4a80-a448-c6afdec199da\",\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 77ca18bf-d566-43ae-95d3-5716bda387c1
    status:
      code: 200
      message: OK
version: 1
