interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/customers/ba897bfa-7111-465b-8a03-2729e540ef86/policies/default?api-version=2020-05-01
  response:
    body:
      string: '{"name":"default","properties":{"viewCharges":"NotAllowed"},"type":"Microsoft.Billing/billingAccounts/customers/policies"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1387.20
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/policies/default?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/policies/default","name":"default","properties":{"invoiceSectionLabelManagement":"Allowed","marketplacePurchases":"AllAllowed","reservationPurchases":"Allowed","viewCharges":"Allowed"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/policies"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1387.20
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"marketplacePurchases": "OnlyFreeAllowed", "reservationPurchases":
      "NotAllowed", "viewCharges": "Allowed"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/policies/default?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/policies/default","name":"default","properties":{"invoiceSectionLabelManagement":"Allowed","marketplacePurchases":"OnlyFreeAllowed","reservationPurchases":"NotAllowed","viewCharges":"Allowed"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/policies"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
      x-ms-service-version:
      - 10.6.1387.20
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/policies/default?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/policies/default","name":"default","properties":{"invoiceSectionLabelManagement":"Allowed","marketplacePurchases":"OnlyFreeAllowed","reservationPurchases":"NotAllowed","viewCharges":"Allowed"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/policies"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1387.20
    status:
      code: 200
      message: OK
version: 1
