interactions:
- request:
    body: null
    headers:
      return-client-request-id: ['true']
      x-client-CPU: [x86]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [0.5.0]
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2Fcf3dcabb-0836-4153-a295-5244ac7e23fd%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body: {string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/cf3dcabb-0836-4153-a295-5244ac7e23fd/.well-known/openid-configuration"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts?api-version=2018-03-01-preview
  response:
    body: {string: '{"value":[{"id":"/providers/Microsoft.Billing/enrollmentAccounts/cdf813b6-bdc2-4df5-b150-00ccfd7580e2","name":"cdf813b6-bdc2-4df5-b150-00ccfd7580e2","properties":{"principalName":"billtest608777@live.com","offerTypes":["MS-AZR-0017P"]},"type":"Microsoft.Billing/enrollmentAccounts"}]}'}
    headers:
      api-supported-versions: [2018-03-01-preview]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts/cdf813b6-bdc2-4df5-b150-00ccfd7580e2?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Billing/enrollmentAccounts/cdf813b6-bdc2-4df5-b150-00ccfd7580e2","name":"cdf813b6-bdc2-4df5-b150-00ccfd7580e2","properties":{"principalName":"billtest608777@live.com","offerTypes":["MS-AZR-0017P"]},"type":"Microsoft.Billing/enrollmentAccounts"}'}
    headers:
      api-supported-versions: [2018-03-01-preview]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
