interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingRoleDefinitions?api-version=2020-05-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4:7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingRoleDefinitions/50000000-aaaa-bbbb-cccc-100000000000","name":"50000000-aaaa-bbbb-cccc-100000000000","properties":{"description":"The
        Owner role gives the user all permissions including access management on the
        Organization.","permissions":[{"actions":["50000000-aaaa-bbbb-cccc-200000000000","50000000-aaaa-bbbb-cccc-200000000001","50000000-aaaa-bbbb-cccc-200000000002","50000000-aaaa-bbbb-cccc-200000000003","50000000-aaaa-bbbb-cccc-200000000004","50000000-aaaa-bbbb-cccc-200000000006","10000000-aaaa-bbbb-cccc-200000000001","10000000-aaaa-bbbb-cccc-200000000002","10000000-aaaa-bbbb-cccc-200000000003","10000000-aaaa-bbbb-cccc-200000000006","10000000-aaaa-bbbb-cccc-200000000007","50000000-aaaa-bbbb-cccc-200000000005","30000000-aaaa-bbbb-cccc-200000000000","30000000-aaaa-bbbb-cccc-200000000001","30000000-aaaa-bbbb-cccc-200000000004","30000000-aaaa-bbbb-cccc-200000000007","30000000-aaaa-bbbb-cccc-200000000009","30000000-aaaa-bbbb-cccc-200000000010","30000000-aaaa-bbbb-cccc-200000000015","40000000-aaaa-bbbb-cccc-200000000000","40000000-aaaa-bbbb-cccc-200000000006","40000000-aaaa-bbbb-cccc-200000000007","40000000-aaaa-bbbb-cccc-200000000008"]}],"roleName":"Billing
        account owner"},"type":"Microsoft.Billing/billingAccounts/billingRoleDefinitions"},{"id":"/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4:7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingRoleDefinitions/50000000-aaaa-bbbb-cccc-100000000001","name":"50000000-aaaa-bbbb-cccc-100000000001","properties":{"description":"The
        Contributor role gives the user all permissions except access management on
        the organization.","permissions":[{"actions":["50000000-aaaa-bbbb-cccc-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfiles/ZY2R-LX3G-BG7-TGB/billingRoleDefinitions?api-version=2020-05-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4:7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfiles/ZY2R-LX3G-BG7-TGB/invoiceSections/S5C-GD7Y-PJA-TGB/billingRoleDefinitions?api-version=2020-05-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4:7c9c4a38-593e-479e-8958-9a3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingRoleDefinitions/50000000-aaaa-bbbb-cccc-100000000000?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4:7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingRoleDefiniti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfiles/ZY2R-LX3G-BG7-TGB/billingRoleDefinitions/40000000-aaaa-bbbb-cccc-100000000000?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4:7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfiles/ZY2R-LX3G-BG7-TGB/billingRoleDefinitions/40000000-aaaa-bbbb-cccc-100000000000","name":"40000000-aaaa-bbbb-cccc-100000000000","properties":{"description":"The
        Owner role gives the user all permissions including access management rights
        to the Billing Group.","permissions":[{"actions":["40000000-aaaa-bbbb-cccc-200000000000","40000000-aaaa-bbbb-cccc-200000000001","40000000-aaaa-bbbb-cccc-200000000002","40000000-aaaa-bbbb-cccc-200000000003","40000000-aaaa-bbbb-cccc-200000000004","40000000-aaaa-bbbb-cccc-200000000005","40000000-aaaa-bbbb-cccc-200000000006","40000000-aaaa-bbbb-cccc-200000000007","40000000-aaaa-bbbb-cccc-200000000008","40000000-aaaa-bbbb-cccc-200000000011"]}],"roleName":"Billing
        profile owner"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/billingRoleDefinitions"}'
    headers:
      api-supported-versions:
      - 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1392.26
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfiles/ZY2R-LX3G-BG7-TGB/invoiceSections/S5C-GD7Y-PJA-TGB/billingRoleDefinitions/30000000-aaaa-bbbb-cccc-100000000000?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4:[...]
