interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/invoiceSections?api-version=2020-05-01
  response:
    body:
      string: '{"totalCount":5,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/invoiceSections/QTHC-PDIL-PJA-AJ4D-SGB","name":"QTHC-PDIL-PJA-AJ4D-SGB","properties":{"displayName":"Modern
        Ireland Customer","state":"Active","systemId":"QTHC-PDIL-PJA-AJ4D-SGB"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections"},{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/invoiceSections/45XH-MP4W-PJA-AJ4D-SGB","name":"45XH-MP4W-PJA-AJ4D-SGB","properties":{"displayName":"Modern
        Azure Customer BE","state":"Active","systemId":"45XH-MP4W-PJA-AJ4D-SGB"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/invoiceS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/invoiceSections/7S7S-YONO-PJA-AJ4D-SGB?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/invoiceSections/7S7S-YONO-PJA-AJ4D-SGB","name":"7S7S-YONO-PJA-AJ4D-SGB","properties":{"displayName":"Humongous
        Insurance DE1","state":"Active","systemId":"7S7S-YONO-PJA-AJ4D-SGB"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1387.20
    status:
      code: 200
      message: OK
version: 1
