interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles?api-version=2020-05-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/5XQV-V4U6-BG7-AJ4D-SGB","name":"5XQV-V4U6-BG7-AJ4D-SGB","properties":{"billingRelationshipType":"CSPPartner","billTo":{"addressLine1":"PLAMUATT2NetNew","addressLine2":"","city":"Paris","companyName":"PLAMUATT2NetNew","country":"FR","phoneNumber":"1234567890","postalCode":"75016","region":"Paris"},"currency":"CHF","displayName":"PLAMUATT2NetNew-CHF","enabledAzurePlans":[{"skuId":"0001","skuDescription":"Microsoft
        Azure Plan"}],"hasReadAccess":true,"invoiceDay":6,"invoiceEmailOptIn":false,"invoiceSections":{"hasMoreResults":false},"spendingLimit":"Off","status":"Active","systemId":"5XQV-V4U6-BG7-AJ4D-SGB","targetClouds":[]},"type":"Microsoft.Billing/billingAccounts/billingProfiles"},{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/7AAC-54QF-BG7-AJ4D-SGB","name":"7AAC-54QF-BG7-AJ4D-SGB","properties":{"billingRelationshipType":"CSPPartner","billTo":{"addressLine1":"PLAMUATT2NetNew","addressLine2":"","city":"Paris","companyName":"PLAMUATT2NetNew","country":"FR","phoneNumber":"1234567890","postalCode":"75016","region":"Pari[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles?api-version=2020-05-01&$expand=invoiceSections
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/5XQV-V4U6-BG7-AJ4D-SGB","name":"5XQV-V4U6-BG7-AJ4D-SGB","properties":{"billingRelationshipType":"CSPPartner","billTo":{"addressLine1":"PLAMUATT2NetNew","addressLine2":"","city":"Paris","companyName":"PLAMUATT2NetNew","country":"FR","phoneNumber":"1234567890","postalCode":"75016","region":"Paris"},"currency":"CHF","displayName":"PLAMUATT2NetNew-CHF","enabledAzurePlans":[{"skuId":"0001","skuDescription":"Microsoft
        Azure Plan"}],"hasReadAccess":true,"invoiceDay":6,"invoiceEmailOptIn":false,"invoiceSections":{"hasMoreResults":false,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/5XQV-V4U6-BG7-AJ4D-SGB/invoiceSections/WBEJ-VB7F-PJA-AJ4D-SGB","name":"WBEJ-VB7F-PJA-AJ4D-SGB","properties":{"displayName":"Modern
        Azure Customer CH","state":"Active","systemId":"WBEJ-VB7F-PJA-AJ4D-SGB"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/invoiceSections"}]},"spendingLimit":"Off","status":"Active","systemId":"5XQV-V4U6-BG7-AJ4D-SGB","targetClouds":[]},"type":"Microsoft.Billing/billingAccounts/billingProfiles"},{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/7AAC-54QF-BG7-AJ4D-SGB","name":"7AAC-54QF-BG7-AJ4D-SGB","properties"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/DN7P-GKOI-BG7-AJ4D-SGB?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/DN7P-GKOI-BG7-AJ4D-SGB","name":"DN7P-GKOI-BG7-AJ4D-SGB","properties":{"billingRelationshipType":"CSPPartner","billTo":{"addressLine1":"PLAMUATT2NetNew","addressLine2":"","city":"Paris","companyName":"PLAMUATT2NetNew","country":"FR","phoneNumber":"1234567890","postalCode":"75016","region":"Paris"},"currency":"DKK","displayName":"PLAMUATT2NetNew-DKK","enabledAzurePlans":[{"skuId":"0001","skuDescription":"Microsoft
        Azure Plan"}],"hasReadAccess":true,"invoiceDay":6,"invoiceEmailOptIn":false,"invoiceSections":{"hasMoreResults":false},"spendingLimit":"On","status":"Active","systemId":"DN7P-GKOI-BG7-AJ4D-SGB","targetClouds":[]},"type":"Microsoft.Billing/billingAccounts/billingProfiles"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1387.20
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/DN7P-GKOI-BG7-AJ4D-SGB?api-version=2020-05-01&$expand=invoiceSections
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/[...]
