interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/customers?api-version=2020-05-01
  response:
    body:
      string: '{"totalCount":31,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/customers/7b4d3841-6797-4a2a-bfc5-b61086965d14","name":"7b4d3841-6797-4a2a-bfc5-b61086965d14","properties":{"billingProfileDisplayName":"PLAMUATT2NetNew-GBP","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/XXGU-AF7A-BG7-AJ4D-SGB","displayName":"testtest0101"},"type":"Microsoft.Billing/billingAccounts/customers"},{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/customers/3fb246d1-0c52-4d94-87a1-1c5734c9e14d","name":"3fb246d1-0c52-4d94-87a1-1c5734c9e14d","properties":{"billingProfileDisplayName":"PLAMUATT2NetNew-DKK","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB/customers?api-version=2020-05-01
  response:
    body:
      string: '{"totalCount":5,"value":[{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/custo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5%3A8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/customers/ba897bfa-7111-465b-8a03-2729e540ef86?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/customers/ba897bfa-7111-465b-8a03-2729e540ef86","name":"ba897bfa-7111-465b-8a03-2729e540ef86","properties":{"billingProfileDisplayName":"PLAMUATT2NetNew-EUR","billingProfileId":"/providers/Microsoft.Billing/billingAccounts/aff095f4-f26b-5334-db79-29704a77c0e5:8d5301c9-db55-4eb6-8611-9db0417d6cb2_2019-05-31/billingProfiles/ROHX-DYIN-BG7-AJ4D-SGB","displayName":"Modern
        Azure Customer DE","enabledAzurePlans":[],"resellers":[]},"type":"Microsoft.Billing/billingAccounts/customers"}'
    headers:
      api-supported-versions:
      - 2018-11-01-preview, 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1387.20
    status:
      code: 200
      message: OK
[...]
