interactions:
- request:
    body: '{"properties": {"amount": 5000.0, "startDate": "2019-12-30T21:26:47.997Z",
      "endDate": "2020-12-30T21:26:47.997Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfiles/ZY2R-LX3G-BG7-TGB/instructions/inst-1?api-version=2020-05-01
  response:
    body:
      string: '{"name":"inst-1","properties":{"amount":5000.0,"creationDate":"0001-01-01T00:00:00+00:00","endDate":"2020-12-30T21:26:47.997+00:00","startDate":"2019-12-30T21:26:47.997+00:00"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/instructions"}'
    headers:
      api-supported-versions:
      - 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
      x-ms-service-version:
      - 10.6.1392.26
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/db038d21-b0d2-463c-942f-b09127c6f4e4%3A7c9c4a38-593e-479e-8958-9a338a0d8d02_2019-05-31/billingProfiles/ZY2R-LX3G-BG7-TGB/instructions/inst-1?api-version=2020-05-01
  response:
    body:
      string: '{"name":"inst-1","properties":{"amount":12.0,"creationDate":"2020-10-29T04:54:08.8780542+00:00","endDate":"2020-12-30T21:26:47.997+00:00","startDate":"2019-12-30T21:26:47.997+00:00"},"type":"Microsoft.Billing/billingAccounts/billingProfiles/instructions"}'
    headers:
      api-supported-versions:
      - 2019-10-01-preview, 2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-service-version:
      - 10.6.1392.26
    status:
      code: 200
      message: OK
version: 1
