interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "testcligetgroup1", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/testcligetgroup1?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup1","type":"Microsoft.Management/managementGroups","name":"testcligetgroup1","status":"NotStarted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/testcligetgroup1?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligetgroup1?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.2454
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/testcligetgroup1?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/testcligetgroup1","name":"testcligetgroup1","status":"Running"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/testcligetgroup1?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligetgroup1?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.2454
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/testcligetgroup1?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/testcligetgroup1","name":"testcligetgroup1","status":"Succeeded","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","displayName":"testcligetgroup1","details":{"version":31,"updatedTime":"2022-02-09T01:32:30.9911435Z","updatedBy":"27e85fe3-7b1b-4de4-8d55-d58291b5d701"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2454
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/testcligetgroup2?api-version=2021-04-01&$expand=children&$recurse=true
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup2","type":"Microsoft.Management/managementGroups","name":"testcligetgroup2","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","displayName":"testcligetgroup2","details":{"version":0,"updatedTime":"0001-01-01T00:00:00","updatedBy":null,"parent":{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup1","name":"testcligetgroup1","displayName":"testcligetgroup1"}},"children":[{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup3","type":"Microsoft.Management/managementGroups","name":"testcligetgroup3","displayName":"testcligetgroup3","children":[{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup4","type":"Microsoft.Management/managementGroups","name":"testcligetgroup4","displayName":"testcligetgroup4"}]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2454
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/testcligetgroup4?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup4","type":"Microsoft.Management/managementGroups","name":"testcligetgroup4","status":"NotStarted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/testcligetgroup4?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/testcligetgroup4?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.2454
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/testcligetgroup4?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/testcligetgroup4","name":"testcligetgroup4","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2454
    status:
      code: 200
      message: OK
[...]
