interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cli-test-kv-sd-000002''
        under resource group ''cli_test_keyvault_sd000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2340753'
      ocp-aad-diagnostics-server-name:
      - VkLzLCyII0iDP8ykjah6EPtmWAu4aRRS4RBNYuQI9l8=
      ocp-aad-session-key:
      - ftlQYysGAEioPZ05hr7gEl1IKU_UoqkLaPwqVIEuKw5LDTZzMmvVkcSsTCOQzZaFLVHfsBqnAjano5S00l11ovaiiMXSie5KhcL3U3HK7Gr9Ihs22iiFouPRSmg5ewHj.9HwS86AvKpHDqLHiR9rKpLxO2CF7kPSGE2x04J77BpE
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002","name":"cli-test-kv-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-sd-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-[...]
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["import", "restore", "purge", "get", "list", "backup", "delete", "create",
      "recover", "update"], "secrets": ["restore", "purge", "set", "get", "list",
      "b[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/a588bf3aed414354bb8ad77395c1eed8","attributes":{"enabled":true,"created":1594116321,"updated":1594116321,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/7167f5b4813449b9a5378428b8e304fb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2i4ZWfvrGYJj9_Fk0RaJKeEUdmEeiBgCFi4XKIo8tZOz4trlLu2YwAs8ULMoLlxlm61p9NyOGzbM9OGPwB6KVi4TpXQmI5oswic7YSYBbsPrZswMrXLfQEGi2w8-_pSj79fa4zTGWF5nACQOX3pqLKH4h_1vBGke8SpH_XISKCLmNSZYXfAD-pYY6vhreDbmuZCq125jWsVKRY4uJsMFNZtXQdNbhO7zgzlsLmOkAJkgFHv5xES_8MdWzvTgE--fsj3_i8vtiyc1boQnqxeHO1U7eiTtKQbufvVYQre0J2jt02UtvWxPBDbV93rBlonbEOAVH38HmV5_UkCbyWW5OQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594116324,"updated":1594116324,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "-----BEGIN PRIVATE KEY-----\nMIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQC6ktKsm/OX1Xo6\nYxRg5/zUQnTEC5Lb5sGtLPmgpbh1qmbXQyn+cC1A/pLL7G5//3vVvis707gTsxn2\n5mpL3B31krShElqEYhdm22MKt1EjPOpW2QX5wNTRdh3C2/KJuhQCnWoUmd1fwY6l\nQvSrJIyu6IjB7sO6IsL1Y2iqsSwNFf7Prr7NeizYkOqEZ1YVRcIp71lzthrRcAUG\no/rDdM61St/JWIM7F0RNyZTlTw1EFWGpE+RKN41zyfkWE4VdMctLMeL9XIPxGLse\nWmZXDwUwxb/yPy3MOfYE4ZCfzwOIBNmyI6jKz2qxtISPKrK/Ba+YWufjZ56G7yVx\ntmjllwazAgMBAAECggEAR6QLK2ZywfGiDntvHsrVxX[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1594116331,"scheduledPurgeDate":1601892331,"id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/a588bf3aed414354bb8ad77395c1eed8","attributes":{"enabled":true,"created":1594116321,"updated":1594116321,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedkeys/key1","deletedDate":1594116334,"scheduledPurgeDate":1601892334,"key":{"kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/7167f5b4813449b9a5378428b8e304fb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2i4ZWfvrGYJj9_Fk0RaJKeEUdmEeiBgCFi4XKIo8tZOz4trlLu2YwAs8ULMoLlxlm61p9NyOGzbM9OGPwB6KVi4TpXQmI5oswic7YSYBbsPrZswMrXLfQEGi2w8-_pSj79fa4zTGWF5nACQOX3pqLKH4h_1vBGke8SpH_XISKCLmNSZYXfAD-pYY6vhreDbmuZCq125jWsVKRY4uJsMFNZtXQdNbhO7zgzlsLmOkAJkgFHv5xES_8MdWzvTgE--fsj3_i8vtiyc1boQnqxeHO1U7eiTtKQbufvVYQre0J2jt02UtvWxPBDbV93rBlonbEOAVH38HmV5_UkCbyWW5OQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594116324,"updated":1594116324,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert1","deletedDate":1594116337,"scheduledPurgeDate":1601892337,"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/941cad788e3c4717935c6e3436c8d4ac","kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/cert1/941cad788e3c4717935c6e3436c8d4ac","sid":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/cert1/941cad788e3c4717935c6e3436c8d4ac","x5t":"XLACe2aagyq0ncVXgsRP3-dgFks","cer":"MIIDazCCAlOgAwIBAgIUPYpi/CMVjq2r+7PX1JWAzsUeFqQwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0xOTEwMTUwNjAxMDlaFw0yOTEwMTIwNjAxMDlaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC6ktKsm/OX1Xo6YxRg5/zUQnTEC5Lb5sGtLPmgpbh1qmbXQyn+cC1A/pLL7G5//3vVvis707gTsxn25mpL3B31krShElqEYhdm22MKt1EjPOpW2QX5wNTRdh3C2/KJuhQCnWoUmd1fwY6lQvSrJIyu6IjB7sO6IsL1Y2iqsSwNFf7Prr7NeizYkOqEZ1YVRcIp71lzthrRcAUGo/rDdM61St/JWIM7F0RNyZTlTw1EFWGpE+RKN41zyfkWE4VdMctLMeL9XIPxGLseWmZXDwUwxb/yPy3MOfYE4ZCfzwOIBNmyI6jKz2qxtISPKrK/Ba+YWufjZ56G7yVxtmjllwazAgMBAAGjUzBRMB0GA1UdDgQWBBRIwEHMjAQuWfatNPhtcBGSKHOXrTAfBgNVHSMEGDAWgBRIwEHMjAQuWfatNPhtcBGSKHOXrTAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCpSX9YnqyWuMBCcJ+xFzonYFNTeVDfSW3jmZhia1YJySrhtUkSk+ObFt3OS7ApP1YysEY1OLwt73ajnGFh0lwJ7bb42ThAVbDrY61aL290/NkHtX1ESRzd6pNrn66nEVUw40HWPjOzWqLEgQDhNv1jsOpFeLZufNbqnNkCdQh/B4A759FWMicpDWSS1YrIOkxa3Bxe2NH7yxpH8LCR2SSbaF/dtKJjUxXnd862mC5zQNZp5sMhjH0/qDCUN237DescgyGcWJHU19YZzoD3DcJxkDufBf1VRiWdv/mCA56lsUBU3FFydN5a3dkFjRw/6dpCZAE8aGCvioLFBAoeLeTP","attributes":{"enabled":true,"nbf":1571119269,"exp":1886479269,"created":1594116327,"updated":1594116327,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pem-file"},"x509_props":{"subject":"O=Internet
        Widgits Pty Ltd, S=Some-State, C=AU","ekus":[],"key_usage":[],"validity_months":120,"basic_constraints":{"ca":true}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1594116327,"updated":1594116327}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret1/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/a588bf3aed414354bb8ad77395c1eed8","attributes":{"enabled":true,"created":1594116321,"updated":1594116321,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedkeys/key1/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/7167f5b4813449b9a5378428b8e304fb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2i4ZWfvrGYJj9_Fk0RaJKeEUdmEeiBgCFi4XKIo8tZOz4trlLu2YwAs8ULMoLlxlm61p9NyOGzbM9OGPwB6KVi4TpXQmI5oswic7YSYBbsPrZswMrXLfQEGi2w8-_pSj79fa4zTGWF5nACQOX3pqLKH4h_1vBGke8SpH_XISKCLmNSZYXfAD-pYY6vhreDbmuZCq125jWsVKRY4uJsMFNZtXQdNbhO7zgzlsLmOkAJkgFHv5xES_8MdWzvTgE--fsj3_i8vtiyc1boQnqxeHO1U7eiTtKQbufvVYQre0J2jt02UtvWxPBDbV93rBlonbEOAVH38HmV5_UkCbyWW5OQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594116324,"updated":1594116324,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert1/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/941cad788e3c4717935c6e3436c8d4ac","kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/cert1/941cad788e3c4717935c6e3436c8d4ac","sid":"https://cli-test-kv-sd-000002.v[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret2?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedkeys/key2?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert2?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4147","name":"sdktestvault4147","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg7255/providers/Microsoft.KeyVault/vaults/sdktestvault4147","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletionDate":"2020-05-18T08:25:58Z","scheduledPurgeDate":"2020-08-16T08:25:58Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1508","name":"sdktestvault1508","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg493/providers/Microsoft.KeyVault/vaults/sdktestvault1508","location":"North
        Central US","tags":{"tag1":"value[...]
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "createMode": "recover"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-kv-sd-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzI5NzEzMTk4NDQ3OTQxOHxGQzYwMzQxRTM5NUE0MTIyQUFGRDI0RkY1RkI5MDI5Rg?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzI5NzEzMTk4NDQ3OTQxOHxGQzYwMzQxRTM5NUE0MTIyQUFGRDI0RkY1RkI5MDI5Rg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-07 10:06:37Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzI5NzEzMTk4NDQ3OTQxOHxGQzYwMzQxRTM5NUE0MTIyQUFGRDI0RkY1RkI5MDI5Rg?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzI5NzEzMTk4NDQ3OTQxOHxGQzYwMzQxRTM5NUE0MTIyQUFGRDI0RkY1RkI5MDI5Rg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-07 10:06:37Z","lastActionDateTime":"2020-07-07
        10:06:56Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-kv-sd-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-kv-sd-000002","name":"cli-test-kv-sd-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002","location":"eastus2","tags":{},"deletionDate":"2020-07-07T10:07:42Z","scheduledPurgeDate":"2020-10-05T10:07:42Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzI5NzEzMjg1OTY0NTgzMnxGQjkxRUI0QTE4REE0QjkwOTNGQUY5NjBDQ0RCRTE5NQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-07 10:08:04Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzI5NzEzMjg1OTY0NTgzMnxGQjkxRUI0QTE4REE0QjkwOTNGQUY5NjBDQ0RCRTE5NQ?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzI5NzEzMjg1OTY0NTgzMnxGQjkxRUI0QTE4REE0QjkwOTNGQUY5NjBDQ0RCRTE5NQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-07 10:08:04Z","lastActionDateTime":"2020-07-07
        10:08:25Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
