interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
>>>>>>> Rebase dev
>>>>>>> Rebase dev
        azure-graphrbac/0.60.0 Azure-SDK-For-Python
=======
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-graphrbac/0.60.0
        Azure-SDK-For-Python
>>>>>>> Rerun all tests
      accept-language:
      - en-US
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 19 May 2020 05:55:49 GMT
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - Wed, 22 Apr 2020 06:10:12 GMT
=======
<<<<<<< HEAD
      - Mon, 23 Mar 2020 10:20:32 GMT
>>>>>>> Rebase dev
>>>>>>> Rebase dev
      duration:
      - '2591201'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - s8b3SINXiq4yUQ7D+hkzg34bDluxs7CTY+E2hkr8Adc=
      ocp-aad-session-key:
      - QXh2qodN3skZAaMb8S2gyrlEswcU6RAG0pkJQ07sDQTIrCuAixkgTvY-iv_t58uYEc-9IMyFlenH4LVJGYFUGTbG45EgJkS8vaQwrwir50dIbLjinhsqIa60ALxrrcEB.n4HQEIklzoPt47m0vW7IMjnCyhHV1CJMDwzizDmJxeM
      pragma:
      - no-cache
      request-id:
<<<<<<< HEAD
      - 50b3abd9-5968-4f15-bd3b-34051204ca13
=======
<<<<<<< HEAD
      - 6887374d-8f27-41b0-b863-0551767f8fd4
=======
      - 1c1678ab-177d-4d05-81a0-d28bfe1c8c09
=======
      - Tue, 25 Feb 2020 08:21:19 GMT
      duration:
      - '2252694'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - JyXqsNiMkuF05SRHy84V1XjyoE0+riVAf3UXk8E8WKU=
      ocp-aad-session-key:
      - 3wJlAwatw_3oBZyEsAAtVjQBwyXSbtihw47dtozRhDrNLnRKPDOpJpcsElh0jbkWMCwLzfVHSu0RGevkIAINUH8[...]
- request:
<<<<<<< HEAD
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
=======
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
>>>>>>> Rerun all tests
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
=======
<<<<<<< HEAD
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization":
      false}}'
=======
      "enableSoftDelete": false}}'
>>>>>>> Rebase dev
>>>>>>> Rebase dev
=======
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization":
      false, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow",
      "ipRules": [], "virtualNetworkRules": []}}}'
>>>>>>> Rerun tests
=======
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
>>>>>>> Rerun all tests
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - '918'
=======
<<<<<<< HEAD
      - '840'
=======
      - '773'
>>>>>>> Rebase dev
>>>>>>> Rebase dev
=======
      - '952'
>>>>>>> Rerun tests
=======
      - '918'
>>>>>>> Rerun all tests
      Content-Type:
      - application/json; charset=utf-8
      ParameterSetName:
      - -g -n -l --enable-soft-delete
      User-Agent:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
    [...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0)[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0)[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,T[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
=======
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
>>>>>>> Rerun all tests
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      false, "enableSoftDelete": false, "softDeleteRetentionInDays": 90}}'
=======
<<<<<<< HEAD
      false, "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization":
      false}}'
=======
      false, "enableSoftDelete": false}}'
>>>>>>> Rebase dev
>>>>>>> Rebase dev
=======
      false, "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization":
      false}}'
>>>>>>> Rerun tests
=======
      fals[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
=======
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
>>>>>>> Rerun all tests
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      "enableSoftDelete": true, "softDeleteRetentionInDays": 17, "networkAcls": {"bypass":
>>>>>>> Rebase dev
      "AzureServices", "defaultAction": "Deny"}}}'
=======
<<<<<<< HEAD
      "enableSoftDelete": true, "softDeleteRetentionInDays": 17, "enableRbacAuthorization":
      false, "networkAcls": {"bypass": "[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
<<<<<<< HEAD
<<<<<<< HEAD
      ["get", "wrapKey"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      ["wrapKey", "get"], "secrets": ["get", "list", "set",[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
<<<<<<< HEAD
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.2.0
=======
      - keyvault delete-policy
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -n --object-id
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.1.0
>>>>>>> Rebase dev
>>>>>>> Rebase dev
<<<<<<< HEAD
>>>>>>> Rebase dev
=======
=======
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.3.0
>>>>>>> Rerun tests
>>>>>>> Rerun tests
=======
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-keyvault/2.2.0
        Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> Rerun all tests
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","networkAcls":{"bypass":"AzureServices","defaultAction":"Deny","ipRules":[],"virtualNetworkRules":[]},"accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","wrapKey"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}'
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","networkAcls":{"bypass":"AzureServices","defaultAction":"[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.2.0
>>>>>>> Rebase dev
<<<<<<< HEAD
>>>>>>> Rebase dev
=======
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.3.0
>>>>>>> Rerun tests
>>>>>>> Rerun tests
=======
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-keyvault/2.2.0
        Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> Rerun all tests
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.3.0
>>>>>>> Rerun tests
>>>>>>> Rerun tests
=======
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-keyvault/2.2.0
        Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> Rerun all tests
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 19 May 2020 05:56:49 GMT
=======
<<<<<<< HEAD
      - Wed, 22 Apr 2020 06:11:35 GMT
=======
      - Wed, 01 Apr 2020 06:39:17 GMT
>>>>>>> Rerun tests
>>>>>>> Rerun tests
=======
      - Tue, 26 May 2020 05:27:03 GMT
>>>>>>> Rerun all tests
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0)[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-k[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
=======
>>>>>>> Rerun tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0)[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.13 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.4.0
>>>>>>> Rerun tests
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI1NDY0NjEzODYyMDI4N3xBNTM2OTdGMUM0MTQ0NEFCQTUxRjMxOEUxN0FDMzM3QQ?api-version=2019-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"createdDateTime":"2020-05-19 05:56:52Z","lastActionDateTime":"2020-05-19
        05:57:07Z","status":"Succeeded"}'
=======
<<<<<<< HEAD
      string: '{"createdDateTime":"2020-04-22 06:11:41Z","status":"NotStarted"}'
=======
      string: '{"createdDateTime":"2020-03-23 10:22:00Z","status":"NotStarted"}'
=======
      - keyvault list-deleted
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.1.0
      accept-language:
      - en-US
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.3.0
>>>>>>> Rerun tests
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzIxMzE5OTYzNzgxNjI2OXxGMkE0OTQwRDRGMDI0Q0JDOUNCMUUwQUMzODFBMDJCOQ?api-version=2019-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bim-kv7","name":"bim-kv7","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv7","location":"northcentralus","tags":{},"deletionDate":"2020-01-31T17:11:34Z","scheduledPurgeDate":"2020-04-30T17:11:34Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bim-kv6","name":"bim-kv6","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv6","location":"northcentralus","tags":{},"deletionDate":"2020-01-30T17:11:30Z","scheduledPurgeDate":"2020-04-29T17:11:30Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/yugangwncu-kv","name":"yugangwncu-kv","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangwncu/providers/Microsoft.KeyVault/vaults/yugangwncu-kv","location":"northcentralus","tags":{},"deletionDate":"2020-01-04T17:11:31Z","scheduledPurgeDate":"2020-04-03T17:11:31Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bim-keyvault","name":"bim-keyvault","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-keyvault","location":"northcentralus","tags":{},"deletionDate":"2019-12-08T17:14:12Z","scheduledPurgeDate":"2020-03-07T17:14:12Z"}},{"id":"/subscript[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzI2MDY3NjI4NjQ5MDI1Mnw1MjYwNjA5OURGNjc0QzdBQUJFQUMxM0ZBNzFCRkUxRg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-05-26 05:27:07Z","lastActionDateTime":"2020-05-26
        05:27:27Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
>>>>>>> Rerun all tests
      expires:
      - '-1'
      pragma:
      - no-cache
<<<<<<< HEAD
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-original-request-ids:
      - 79ca051d-07af-4e65-b309-d5b1eb06673a
      - f91bc0a9-7d7b-4848-b470-b7256e6bef6c
      - e4d9765d-5c19-4d18-8923-46474ffb1aac
      - 1dba38a5-ee48-4433-90da-c9f719291ed4
      - 6d8247c5-4132-432a-9665-085eb755f967
      - f6b3c241-5c42-4bc7-a0ac-0844c23fb0f3
      - 09af6a82-ad47-4713-9f9c-034651b9681d
      - bb04d9a8-bfba-4426-8e4c-d7c9a1771186
      - d073daaf-644b-4441-90df-056d84f04fbd
      - b3034a53-20e5-4d89-8098-32ad7b9e2de6
      - 76450ba6-eaf1-45cf-9452-54e433d353a5
    [...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
=======
      - keyvault list-deleted
>>>>>>> Rerun all tests
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Az[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
=======
      - keyvault list-deleted
>>>>>>> Rerun all tests
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Az[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVtb9owFIX%2FSzTt0yh5XUOlaoLYdGH1dW1sKvgGIbzYFBBJG%2BKq%2F32Xbdp%2FKFIky9JNovPonHPfvX15rh%2B3e1t5d%2B8ecKl%2BZhSU7D%2FqsXfnber6WN11uy%2Fz%2FXxdvpT7%2BmbuXk%2FlTXF46Vavi6o4bY%2F19rCvuv4iWH2Pb4NOsFj5nXi5nHfmZRF1ikUvvA1Xfi%2Fp%2Bd3j6fC2XZanqsu2xelQHVb1za%2Byncxfd3V3We7Kulz%2BuVQ[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
=======
      - keyvault list-deleted
>>>>>>> Rerun all tests
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Az[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
      accept-language:
      - en-US
=======
<<<<<<< H[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
=======
      - keyvault list-deleted
>>>>>>> Rerun all tests
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Az[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
=======
      - keyvault list-deleted
>>>>>>> Rerun all tests
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Az[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
      accept-language:
      - en-US
====[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - keyvault list-deleted
=======
<<<<<<< HEAD
=======
>>>>>>> Rerun tests
      - keyvault purge
>>>>>>> Rebase dev
      Connection:
      - keep-alive
      ParameterSetName:
      - --query
      User-Agent:
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.14 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.6.0
=======
<<<<<<< HEAD
[...]
