interactions:
- request:
    body: '{"location": "eastus2euap", "sku": {"family": "B", "name": "Standard_B1"},
      "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "initialAdminObjectIds":
      ["3707fb2f-ac10-4591-a04f-8b0d786ea37d"], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rg000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-000002?api-version=2022-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/managedHsmOperationResults/7929d2aa-f528-4364-a656-b93b61c8a233?api-version=2022-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/managedHsmOperationResults/7929d2aa-f528-4364-a656-b93b61c8a233?api-version=2022-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/managedHsmOperationResults/7929d2aa-f528-4364-a656-b93b61c8a233?api-version=2022-07-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/managedHsmOperationResults/7929d2aa-f528-4364-a656-b93b61c8a233?api-version=2022-07-01
  response:
    body:
      string: '{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rg000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-000002","name":"cli-test-hsm-plr-000002","type":"Microsoft.KeyVault/managedHSMs","location":"eastus2euap","tags":{},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2022-11-15T03:35:52.679Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-11-15T03:35:52.679Z"},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","hsmUri":"https://cli-test-hsm-plr-000002.managedhsm.azure.net/","initialAdminObjectIds":["3707fb2f-ac10-4591-a04f-8b0d786ea37d"],"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":false,"provisioningState":"Succeeded","statusMessage":"The
        Managed HSM is provisioned and ready to use.","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"publicNetworkAccess":"Enabled","regions":[],"securityDomainProperties":{"activationStatus":"NotActivated","activationStatusMessage":"Your
        HSM has been provisioned, but cannot be used for cryptographic operations
        until it is activated. To activate the HSM, download the security domain."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/managedHSMs?api-version=2022-07-01
  response:
    body:
      string: '{"value":[{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_petiazvfb2dyvkbsxl4mtqpxjyppbsdqb7cqdgijjot4nxdhp7nm5raryvkzzb/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-pe-pcssbjuz","name":"cli-test-hsm-pe-pcssbjuz","type":"Microsoft.KeyVault/managedHSMs","location":"centraluseuap","tags":{},"systemData":{"createdBy":"azureclitest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2021-12-09T20:30:16.963Z","lastModifiedBy":"azureclitest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-12-09T20:30:16.963Z"},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","hsmUri":"https://cli-test-hsm-pe-pcssbjuz.managedhsm.azure.net/","initialAdminObjectIds":["3707fb2f-ac10-4591-a04f-8b0d786ea37d"],"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enablePurgeProtection":false,"provisioningState":"PartiallyDeleted","statusMessage":"Resource
        creation in progress. Allocating hardware...","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"publicNetworkAccess":"Enabled","purgeDateTimeUtc":"2022-03-10T03:13:48Z","regions":[]}},{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rgfnluab4sxdbooilzqfusfpv4pt6pz76dmqxnio2r3h4mj4jl45imzr7d/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-k5n2spz","name":"cli-test-hsm-plr-k5n2spz","type":"Microsoft.KeyVault/managedHSMs","location":"centraluseuap","tags":{},"systemData":{"createdBy":"azureclitest@azuresdkteam.onmicrosoft.com","createdByType":"User"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rg000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-000002/privateLinkResources?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rg000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-000002/privateLinkResources/managedhsm","name":"managedhsm","type":"Microsoft.KeyVault/managedHSMs/privateLinkResources","properties":{"groupId":"managedhsm","requiredMembers":["default"],"requiredZoneNames":["privatelink.managedhsm.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/deletedManagedHSMs/cli-test-hsm-plr-000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/deletedManagedHSMs/cli-test-hsm-plr-000002","name":"cli-test-hsm-plr-000002","type":"Microsoft.Keyvault/deletedManagedHSMs","properties":{"mhsmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rg000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-000002","location":"eastus2euap","deletionDate":"2022-11-15T03:46:14Z","scheduledPurgeDate":"2022-11-22T03:46:14Z","purgeProtectionEnabled":false,"tags":{}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/deletedManagedHSMs/cli-test-hsm-plr-000002/purge?api-version=2022-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/managedHsmOperationResults/c0530cec-41b1-423a-8a6c-48ddfcbddafa?api-version=2022-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2euap/managedHsmOperationResults/c0530cec-41b1-423a-8a6c-48ddfcbddafa?api-version=2022-07-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
