interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/create?api-version=7.5-preview.1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "oct-HSM", "key_size": 256, "key_ops": ["encrypt", "decrypt"],
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"attributes":{"created":1740040174,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1740040174},"key":{"key_ops":["encrypt","decrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/7515f4a6fed941162b2f3223f6c3d4fb","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '61'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/?api-version=7.5-preview.1
  response:
    body:
      string: '{"attributes":{"created":1740040174,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1740040174},"key":{"key_ops":["decrypt","encrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/7515f4a6fed941162b2f3223f6c3d4fb","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20241130-1-aecac196-develop
      x-ms-server-latency:
      - '24'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "A256GCM", "value": "dGhpcyBpcyBwbGFpbnRleHQ", "aad": "EBESExQVFhcYGRobHB0eHw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/7515f4a6fed941162b2f3223f6c3d4fb/encrypt?api-version=7.5-preview.1
  response:
    body:
      string: '{"aad":"EBESExQVFhcYGRobHB0eHw","alg":"A256GCM","iv":"Yft84ilgbUgz-NdD","kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/7515f4a6fed941162b2f3223f6c3d4fb","tag":"dmc80--8MvkelEhTF4wlhA","value":"nj96ziskdXpGuSRymAd9OEE"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "A256GCM", "value": "nj96ziskdXpGuSRymAd9OEE", "iv": "Yft84ilgbUgz-NdD",
      "aad": "EBESExQVFhcYGRobHB0eHw", "tag": "dmc80--8MvkelEhTF4wlhA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/7515f4a6fed941162b2f3223f6c3d4fb/decrypt?api-version=7.5-preview.1
  response:
    body:
      string: '{"alg":"A256GCM","kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/7515f4a6fed941162b2f3223f6c3d4fb","value":"dGhpcyBpcyBwbGFpbnRleHQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003?api-version=7.5-preview.1
  response:
    body:
      string: '{"attributes":{"created":1740040174,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1740040174},"deletedDate":1740040181,"key":{"key_ops":["encrypt","decrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/7515f4a6fed941162b2f3223f6c3d4fb","kty":"oct-HSM"},"recoveryId":"https://clitesthsmkey000002.managedhsm.azure.net/deletedkeys/oct256key-000003","scheduledPurgeDate":1740644981}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '26'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitesthsmkey000002.managedhsm.azure.net/deletedkeys/oct256key-000003?api-version=7.5-preview.1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '53'
    status:
      code: 204
      message: No Content
version: 1
