interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-graphrbac/0.60.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-graphrbac/0.60.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:47:22 GMT
      duration:
      - '2475949'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - n9EoHNORiYgBMsgALSud/hDyl4oSD9YeWVgLLFS/oSM=
      ocp-aad-session-key:
      - 9bzxaBoIRIzXjspdkdZP8DdoH_M8Hu-_FtZQs3WQ6Z8AH-95fQgoY7Y7jjwizgglz4cGudgVDrghF9d-EC0uPjnrj0c3EaK8-bFNfl3cTK2MrcVtjZWODUZO_uFXe34O.VInSt9K7nXuHHNoX6uQtX_kMPOynHlzk_T4hA2vKKgA
      pragma:
      - no-cache
      request-id:
      - 8ba76928-74c4-49b2-b298-2a7a9868ef79
=======
      - Thu, 19 Mar 2020 14:03:22 GMT
=======
      - Sun, 22 Mar 2020 05:30:23 GMT
>>>>>>> All tests passed
      duration:
      - '2526245'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - rKom6PMPEZ0rGSbK0aHZnJgbvmwPbE1xDrhvOPMIKQ0=
      ocp-aad-session-key:
      - NK69r3tTzA8uABBJ7sOWhePVeHP34y6YUHq3zesDh1dYyBSdIDZUGnyDowAfUbbu49IIQD8aWM3fsewN8pVLxF0WBEJAhaPmeL_Veb75LuEFyhD2PtTGXxRyLozRShkx.T3H8Sn1q-WV_eCncF0DnuLeDGr31imvI9xibUMCNqOA
      pragma:
      - no-cache
      request-id:
<<<<<<< HEAD
      - e3bc9cf5-4fd5-4de1-8fcd-8278fae10eea
>>>>>>> Update tests
=======
      - c0e8c6a6-8665-4b3b-a325-25f5311088e3
>>>>>>> All tests passed
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false}}'
    headers:
<<<<<<< HEAD
      CommandName:
      - keyvault create
=======
>>>>>>> Update tests
      Connection:
      - keep-alive
      Content-Length:
      - '839'
      Content-Type:
<<<<<<< HEAD
      - application/json; charset=utf-8
      ParameterSetName:
      - -g -n -l --sku --enable-soft-delete
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
=======
      - application/json
      User-Agent:
      - azsdk-python-azure-mgmt-keyvault/0.1.0 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> Update tests
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002","name":"cli-test-kv-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://cli-test-kv-sd-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:47:29 GMT
=======
      - Thu, 19 Mar 2020 14:03:32 GMT
>>>>>>> Update tests
=======
      - Sun, 22 Mar 2020 05:30:31 GMT
>>>>>>> All tests passed
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-service-version:
<<<<<<< HEAD
<<<<<<< HEAD
      - 1.1.0.271
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
=======
      - 1.1.0.275
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
>>>>>>> Update tests
=======
      - 1.1.0.276
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
>>>>>>> All tests passed
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - keyvault create
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -n -l --sku --enable-soft-delete
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
      Connection:
      - keep-alive
      User-Agent:
      - azsdk-python-azure-mgmt-keyvau[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      CommandName:
      - keyvault set-policy
      Connection:
      - keep-alive
      ParameterSetName:
      - -n --object-id --key-permissions --secret-permissions --certificate-permissions
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.KeyVault/vaults/azureclitest-vault","name":"azureclitest-vault","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover", "purge"], "secrets": ["get", "list", "set", "delete", "backup", "restore[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: PUT
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:48:08 GMT
=======
      - Thu, 19 Mar 2020 14:04:14 GMT
>>>>>>> Update tests
=======
      - Sun, 22 Mar 2020 05:31:08 GMT
>>>>>>> All tests passed
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000;includeSubDomains
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-network-info:
<<<<<<< HEAD
<<<<<<< HEAD
      - addr=167.220.255.68;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - eastus2
      x-ms-keyvault-service-version:
      - 1.1.0.897
=======
      - addr=59.63.206.167;act_addr_fam=InterNetwork;
=======
      - addr=167.220.255.68;act_addr_fam=InterNetwork;
>>>>>>> All tests passed
      x-ms-keyvault-region:
      - eastus2
      x-ms-keyvault-service-version:
      - 1.1.0.898
>>>>>>> Update tests
      x-powered-by:
      - ASP.NET
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: PUT
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"value":"ABC123","id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/df62652adf104585b6bb143ad3b6ad79","attributes":{"enabled":true,"created":1583848089,"updated":1583848089,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
=======
      string: '{"value":"ABC123","id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/7a6e85fa03e049b3a9722417dba72f46","attributes":{"enabled":true,"created":1584626657,"updated":1584626657,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
>>>>>>> Update tests
=======
      string: '{"value":"ABC123","id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/1ed3cd6432884758bef0[...]
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"key":{"kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/4ff909b939f84222a5335f21953fb55a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uAZYnus0VE0Br4FV5LdwPmi6MKiEge_QsCqS2ESUeCpy6JKH3RqDoUk2g_4gxjKvDyAIbHcXOg2qc06pu6JrHSEy_J1mBtxbvqsOPCdcwAUWddYDk-Qmw_o6BP0nLiEnxTfpVSW0Khqwr5KTUkdGIloVHVcKNVuCyTKZ88gz-2JUwy_wwFz3zzRBDOd4hwseLdPI6qpevNKy8gcloAW_h_HzsgDe-frdMYBWe9D0dmIaaw6RxkBSpSJ3iV_qRziR6sw8ZJqL7nakz7pr-FnlocIDoqXzsXerESC6aKG4qSE-tObiq5PSKixTMjagIqSNl4BDNh87GVZG4c6NBJo8Lw","e":"AQAB"},"attributes":{"enabled":true,"created":1583848093,"updated":1583848093,"recover[...]
[...]
- request:
    body: '{"value": "-----BEGIN PRIVATE KEY-----\nMIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQC6ktKsm/OX1Xo6\nYxRg5/zUQnTEC5Lb5sGtLPmgpbh1qmbXQyn+cC1A/pLL7G5//3vVvis707gTsxn2\n5mpL3B31krShElqEYhdm22MKt1EjPOpW2QX5wNTRdh3C2/KJuhQCnWoUmd1fwY6l\nQvSrJIyu6IjB7sO6IsL1Y2iqsSwNFf7Prr7NeizYkOqEZ1YVRcIp71lzthrRcAUG\no/rDdM61St/JWIM7F0RNyZTlTw1EFWGpE+RKN41zyfkWE4VdMctLMeL9XIPxGLse\nWmZXDwUwxb/yPy3MOfYE4ZCfzwOIBNmyI6jKz2qxtISPKrK/Ba+YWufjZ56G7yVx\ntmjllwazAgMBAAECggEAR6QLK2ZywfGiDntvHsrVxX[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1583848102,"scheduledPurgeDate":1591624102,"id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/df62652adf104585b6bb143ad3b6ad79","attributes":{"enabled":true,"created":1583848089,"updated":1583848089,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
=======
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1584626696,"scheduledPurgeDate":1592402696,"id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/7a6e85f[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1?api-version=7.0
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert1","deletedDate":1583848110,"scheduledPurgeDate":1591624110,"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/17a2dde3a7ce4707a38e6324d2730b12","kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/cert1/17a2dde3a7ce4707a38e6324d2730b12","sid":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/cert1/17a2dde3a7ce4707a38e6324d2730b12","x5t":"XLACe2aagyq0ncVXgsRP3-dgFks","cer":"MIIDazCCAlOgAwIBAgIUPYpi/CMVjq2r+7PX1JWAzsUeFqQwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0xOTEwMTUwNjAxMDlaFw0yOTEwMTIwNjAxMDlaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC6ktKsm/OX1Xo6YxRg5/zUQnTEC5Lb5sGtLPmgpbh1qmbXQyn+cC1A/pLL7G5//3vVvis707gTsxn25mpL3B31krShElqEYhdm22MKt1EjPOpW2QX5wNTRdh3C2/KJuhQCnWoUmd1fwY6lQvSrJIyu6IjB7sO6IsL1Y2iqsSwNFf7Prr7NeizYkOqEZ1YVRcIp71lzthrRcAUGo/rDdM61St/JWIM7F0RNyZTlTw1EFWGpE+RKN41zyfkWE4VdMctLMeL9XIPxGLseWmZXDwUwxb/yPy3MOfYE4ZCfzwOIBNmyI6jKz2qxtISPKrK/Ba+YWufjZ56G7yVxtmjllwazAgMBAAGjUzBRMB0GA1UdDgQWBBRIwEHMjAQuWfatNPhtcBGSKHOXrTAfBgNVHSMEGDAWgBRIwEHMjAQuWfatNPhtcBGSKHOXrTAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCpSX9YnqyWuMBCcJ+xFzonYFNTeVDfSW3jmZhia1YJySrhtUkSk+ObFt3OS7ApP1YysEY1OLwt73ajnGFh0lwJ7bb42ThAVbDrY61aL290/NkHtX1ESRzd6pNrn66nEVUw40HWPjOzWqLEgQDhNv1jsOpFeLZufNbqnNkCdQh/B4A759FWMicpDWSS1YrIOkxa3Bxe2NH7yxpH8LCR2SSbaF/dtKJjUxXnd862mC5zQNZp5sMhjH0/qDCUN237DescgyGcWJHU19YZzoD3DcJxkDufBf1VRiWdv/mCA56lsUBU3FFydN5a3dkFjRw/6dpCZAE8aGCvioLFBAoeLeTP","attributes":{"enabled":true,"nbf":1571119269,"exp":1886479269,"created":1583848097,"updated":1583848097,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pem-file"},"x509_props":{"subject":"O=Internet
        Widgits Pty Ltd, S=Some-State, C=AU","ekus":[],"key_usage":[],"validity_months":120,"basic_constraints":{"ca":true}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1583848097,"updated":1583848097}}}'
=======
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert1","deletedDate":1584626734,"scheduledPurgeDate":1592402734,"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/01e24a10180247a4a4a4e3f00e190ec8","kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/cert1/01e24a10180247a4a4a4e3f00e190ec8","sid":"https://cli-test-kv-sd-000002.v[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.a[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.a[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.a[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      CommandName:
      - keyvault recover
      Connection:
      - keep-alive
      ParameterSetName:
      - -n
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
=======
      Connection:
      - keep-alive
      User-Agent:
      - azsdk-python-azure-mgmt-keyvault/0.1.0 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> Update tests
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/yugangwncu-kv","name":"yugangwncu-kv","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangwncu/providers/Microsoft.KeyVault/vaults/yugangwncu-kv","location":"northcentralus","tags":{},"deletionDate":"2020-01-04T17:11:31Z","scheduledPurgeDate":"2020-04-03T17:11:31Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cmk-test-keyvault5sqfx2x","name":"cmk-test-keyvault5sqfx2x","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgmaeu767ym7nzvi3vj7xwbxxwidfk53lnm56h7zmeubkfbmpl4uwokt34w4hqdcl4n/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault5sqfx2x","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "createMode": "recover"}}'
    headers:
<<<<<<< HEAD
      CommandName:
      - keyvault recover
=======
>>>>>>> Update tests
      Connection:
      - keep-alive
      Content-Length:
      - '160'
      Content-Type:
<<<<<<< HEAD
      - application/json; charset=utf-8
      ParameterSetName:
      - -n
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - keyvault purge
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
>>>>>>> Update tests
      Connection:
      - keep-alive
      Content-Length:
      - '0'
<<<<<<< HEAD
      ParameterSetName:
      - -n
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
=======
      User-Agent:
      - azsdk-python-azure-mgmt-keyvault/0.1.0 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> Update tests
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-kv-sd-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:49:31 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzE5NDQ0OTcyNzEwOTAxOHxBNURDMzU2OTM0MEI0MEJBQTM4RUM0NUQ0QjM1NEQxQg?api-version=2019-09-01
=======
      - Thu, 19 Mar 2020 14:07:04 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzIwMjIzNjI1MT[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - keyvault purge
      Connection:
      - keep-alive
      ParameterSetName:
      - -n
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzE5NDQ0OTcyNzEwOTAxOHxBNURDMzU2OTM0MEI0MEJBQTM4RUM0NUQ0QjM1NEQxQg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-03-10 13:49:31Z","lastActionDateTime":"2020-03-10
        13:49:48Z","status":"Succeeded"}'
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
      Connection:
      - keep-alive
      User-Agent:
      - azsdk-python-azure-mgmt-keyvault/0.1.0 Python/3.7.6 (Windows-10-10.0.18362-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzIwNDUxOTg2NzA3MDI1NnwzRDE2MTQ0NjRGNEY0MzIxQUFFODYyOTJCNEY[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      CommandName:
      - keyvault recover
      Connection:
      - keep-alive
      ParameterSetName:
      - -n -l
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
=======
      Connection:
      - keep-alive
      User-Agent:
      - azsdk-python-azure-mgmt-keyvault/0.1.0 Python/3.7.6 [...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - keyvault purge
      Connection:
      - keep-alive
      ParameterSetName:
      - -n -l
      User-Agent:
[...]
