interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2134574'
      ocp-aad-diagnostics-server-name:
      - iV69uKCb5MaK0i6e/qAYSNhEb9/mkPqAEJ2SdPTOYcM=
      ocp-aad-session-key:
      - pjArgiHL05COG2Zh1ZrBt7hStdbquOMO6toWLp4FKwg9XYq88B7Bi_uWW828feVfkF4WP27-I01N-qRGOjuhK1-vRcbzzKPZZpeQ6UJpdLImnpMz7xDJzm-G9e3PtxUa.T-ZMwU7JOgkDqdE415ypj8bqxzHh2hnwaj11bQY78JA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_key_download000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-d-000002?api-version=2018-02-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_key_download000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-d-000002","name":"cli-test-kv-key-d-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-kv-key-d-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1182'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "h7ffwocPm8d414HUWGzrwqnHaMeOmqH9Bmm1IwT-IvQ",
      "crv": "P-256", "x": "clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc", "y": "h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/ce643135bee14866901d6e790165a62c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc","y":"h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},"attributes":{"enabled":true,"created":1580988535,"updated":1580988535,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/ce643135bee14866901d6e790165a62c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc","y":"h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},"attributes":{"enabled":true,"created":1580988535,"updated":1580988535,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "zL5lKpvA5G-5YsKYQfXZMlQzrMPtAbGBhzN5T_YBkLI",
      "crv": "SECP256K1", "x": "H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0", "y":
      "FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/be8ef00a484e4ae7af01e35defe84352","kty":"EC","key_ops":["sign","verify"],"crv":"SECP256K1","x":"H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0","y":"FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"},"attributes":{"enabled":true,"created":1580988565,"updated":1580988565,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/be8ef00a484e4ae7af01e35defe84352","kty":"EC","key_ops":["sign","verify"],"crv":"SECP256K1","x":"H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0","y":"FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"},"attributes":{"enabled":true,"created":1580988565,"updated":1580988565,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zJEYKuhIeHvKqZZtJRDtQjg17ChAZtY_yJfNqv30xnzkzOZwVmy7NViVQIRnkCYvAMCstja-EpEpeW02LD83teNQRKM9Nie74g7ehDn6ZZCSdQQ54TQemt26hMfnFVaUl376p0E398IP1leHcvYOaiVgT_ffUhNhgIUJ5sIphtf4D1p5bWFYvs_Gd-A-Fk38hnerpl7JRF4y6p5WGJzvXKKs0QVSaQ1NHD7L1tQ0xTKra3FS_BGwD7ZdgBZerqzBPgxRjuxzq2DQJlHtvINsFjJhsMtwI11UV5-tIBOEWPSBTIoQpUWGB-_4jZ44IpKlBDQuc1kqa2Y8-eO53Gxn-Q",
      "e": "AQAB", "d": "yt8yGotWI7aQ2_KEt3e79CoOv--DPvlHNEXn_6XvdFE0D0iRLASU_GinS96DXl-fyZ1LK0HK6lrvyK5YRTVEqKuQVSGWePiayat5XaSqAMOJm2bfh8nKeEdgzIH7WBwPLNcO-YQiXyEj16vidk4zKW17wJLP9HOoBG7rzN_Nkx0g2vmwPgb2MIpQQU9-O1pC3bbjfSfvahclfUTiUUTGId8RjnILP5ppToE0rm1N0NrCEBwUy7Z4DgOIOOeoOCB-RtPRqBKQCEAPHhu8c5pL_hAranvVdAP_Z41iFzWzvlftNXVA4gCp50-bs2zxk-PIZwNOVi1AEDtqj-WROB-rIQ",
      "dp": "Uhsfj7N_NR6fLEtvOBNu5Gof9QpzGoYWtoYXAbIGnMiTwoVg5LUNUOMhGHCcb7vknzwaWyNPrjjMZhpE5KK0a1hGQ8ZSm4luCNglXAptv9LKUq53GZ7QUwqoCxE0t1Dm_B-r0sXtH_Rp7vOL-t3NoUyTNcrP6q5SXiF4IW6TB5k",
      "dq": "MDQ4Qpvrhr1pr1qxn9F5oHdcqipqgZrgF6qszpbvt9ywrrdt1JdpC9RLTXIv4HSJuIXNiDTrDXNUKSdkc5Ih0sr3q-HsyVWR5j7bjKjcr_MBtaQUhXAeDJvzsDJQkFscONPjnl67rdMy_dLOPodnUPwqVWj39VN_pvj_iXlX9dE",
      "qi": "MlnTFV66f5o8xepzA2mmq98p8xawtv9fHvs7er1JgbUlFeAgid4vycPxHBVCfw9s9yp1rIUdmubCF2DMgf_t1UTB35BArN5iizwW9zh6ClNlSuZnXLld4W04eX1OYctIDWHxwmPQetYKPLKLZxb7Y-Fj0rzxXnsoSfTK_mGOgGA",
      "p": "9BRdHYHJhfR79UEXeVSj3jKKRFp7qCIzSTwxDATVjj0V-5nCqnzsTiGa7GU4me8BCPMhCgdrAvR87uouS9hwMk_FPlE4J4co4LInq0aZWiOmmqK6rUZGk5nZd8gS3TStCC659givRXs54_ZfbtK96rSwn8JiBfisYAG-rk45b3U",
      "q": "1o63lPiqS67G_EBHHrlL6KZODrpThobPbmsKPsu9xWEqabZcJjPXKcBHzVOeH-3REx3wzeZTFFlTUytswJ5hlu3kKVaYx8cq1lrb09hhy9W-o0GeqVs8YPt8Er4nIa[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-file/d4df004359b849e691c58101f4cb2fbb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zJEYKuhIeHvKqZZtJRDtQjg17ChAZtY_yJfNqv30xnzkzOZwVmy7NViVQIRnkCYvAMCstja-EpEpeW02LD83teNQRKM9Nie74g7ehDn6ZZCSdQQ54TQemt26hMfnFVaUl376p0E398IP1leHcvYOaiVgT_ffUhNhgIUJ5sIphtf4D1p5bWFYvs_Gd-A-Fk38hnerpl7JRF4y6p5WGJzvXKKs0QVSaQ1NHD7L1tQ0xTKra3FS_BGwD7ZdgBZerqzBPgxRjuxzq2DQJlHtvINsFjJhsMtwI11UV5-tIBOEWPSBTIoQpUWGB-_4jZ44IpKlBDQuc1kqa2Y8-eO53Gxn-Q","e":"AQAB"},"attributes":{"enabled":true,"created":1580988909,"updated":1580988909,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/811b8c4b96264eb28ea8a375866fed27","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"ng5KRHZA1loFZ2OqTkZPOPK0m0Ch_dtCv2a3OCch09g","y":"ZRYo-zCGRl2EwxErN8kBbS_fxGJDKOVX-4ikXPPDZ-s"},"attributes":{"enabled":true,"created":1580988955,"updated":1580988955,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/811b8c4b96264eb28ea8a375866fed27","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"ng5KRHZA1loFZ2OqTkZPOPK0m0Ch_dtCv2a3OCch09g","y":"ZRYo-zCGRl2EwxErN8kBbS_fxGJDKOVX-4ikXPPDZ-s"},"attributes":{"enabled":true,"created":1580988955,"updated":1580988955,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/5499ebd298c7447b861caf8f78839b73","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256K","x":"WzRwQCatogdmMoVT0Fr_82w2_o59DUMgqMTKOENnIFk","y":"4oR8-_lxutrrLpoXhZgrszPCRNgUDmYSVoz8kjFi390"},"attributes":{"enabled":true,"created":1580989003,"updated":1580989003,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/5499ebd298c7447b861caf8f78839b73","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256K","x":"WzRwQCatogdmMoVT0Fr_82w2_o59DUMgqMTKOENnIFk","y":"4oR8-_lxutrrLpoXhZgrszPCRNgUDmYSVoz8kjFi390"},"attributes":{"enabled":true,"created":1580989003,"updated":1580989003,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/cc44487823e240eba6fd43a01e65b04d","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sHNgBB0CfRfOOjCzjKnfsfDxlhDql0kyIRUHPAzs-Q8K3fu5y147rT_dHTevQwgiAaJfn3xLzqkIGDPkAalEFWjJpvtIadB4guEFpLUb7aqYm8i0ddYM_ZUq4Nk9eQ94p1R-d_A7vkBqXwoW3xCG2sYvFEHh4hv_ciNaZV-A_8fPFBByqUVl6B1gz1mQCUt607_f-X5paMyfpdMvaS3p15K8kVX4ArhjQ-LXMyRaILqfHPQsAIf1ccSKXSDzryOuvLWi5DV6UBxS2RTUYP4VFtu-qEkYpqcJD2NDpOqZiNumKqKo545NvP3iOxSLGSnsZL2ChZ4VY96feXHR2Eymjw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1580989009,"updated":1580989009,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/cc44487823e240eba6fd43a01e65b04d","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sHNgBB0CfRfOOjCzjKnfsfDxlhDql0kyIRUHPAzs-Q8K3fu5y147rT_dHTevQwgiAaJfn3xLzqkIGDPkAalEFWjJpvtIadB4guEFpLUb7aqYm8i0ddYM_ZUq4Nk9eQ94p1R-d_A7vkBqXwoW3xCG2sYvFEHh4hv_ciNaZV-A_8fPFBByqUVl6B1gz1mQCUt607_f-X5paMyfpdMvaS3p15K8kVX4ArhjQ-LXMyRaILqfHPQsAIf1ccSKXSDzryOuvLWi5DV6UBxS2RTUYP4VFtu-qEkYpqcJD2NDpOqZiNumKqKo545NvP3iOxSLGSnsZL2ChZ4VY96feXHR2Eymjw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1580989009,"updated":1580989009,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-4096-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-4096-hsm-file/2f860c0891b4481f818139bf15a66bed","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nZfDhMs7oRfOBIUerKy7G9FL1cDhu9A5mCYpIyH1_izd9MRYoI16gWLDHf-wTiCKdH1_2eN9W5XS-2PJs944MJ_SqnIbQvjH5AhdnSRUL5JEW0lWlJ8AUskyaWzW-ORnryTKtsLvg98SbXLqOPEMaH_cI1xMcn2B9ip1r6IkMV84blheDWHrEAiYeJi0Cb2qCr-co_AWtilS41HGWRU_50_5Ty4znXB_G9As5rlw28Jhf4Epn-FWt8J_FRPKfyoohkIlFG_Rjtkmk7co7PNS1axigrNVhv3yCfa7KyCBlBaa0X_CvFZxdzT0YYlGtkLUNgee3in_RZUTrUFpqC4eh6pLN_Vxc0z1w1CRJmgDNSrNEXx7zopygirnz6qje3lhiP2xA65fJjXzUUe6Tv_MZE9bC9vOYOGbJgtHXISsl4gAlIunfSvfXfKnCnb-J-_TLN3CrEUfCBqi6sj7wEeeMT1WZRnvo2hDpIjxuQKVk7OMGf-6-7mcEXFm_-81JvMG5L6Qke9ouhaPjfzBdy4V99GUXBhvSlAusEGDCclB5hY7FfEAX5THrS_VOhYyE3BLneAzOl20wdij3_uoAlIU-ZOGdvIVcHQCN9475VGQc0vy4DGcAmINtRKyoS1itQVjGQRsNO1JeO_cbTtu3UhIw-hW9F4rOJ41M9TjlhUzrjM","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1580989052,"updated":1580989052,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
