interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2236890'
      ocp-aad-diagnostics-server-name:
      - F+0yP1/iovhvk5VOGuzH+4JSs/ok0ZbZeIgR5yYgVQ4=
      ocp-aad-session-key:
      - zQdBqavsmP239PEo9BIhJnPhEd2Gg1SJCzfk0ZeZs8J2h3FyWAMwT3rvAaS4lxBl_Wxzz_x4YZKolb8mA7kwMPSQKGJ7FihjlMHiwRRvLZHkp4CgQUXylcbbjAWDjc5p.3HM54G65N_aFDcBsCIzWjaIvjUn3azcSHMcu2dBokwU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ec9bb2c432ef41bd849a6060117ea8dc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tS_JxscAheZfH8WNVq4xUvDRh166FS0ILZOTL1xWgnG-qK8uEvJamxh1GIt52Uah5jhSwoPk3fqDLEpwELIJ_aGJ1sVIPgoRyHT27bUmDlHN-UtIBLwbwy2346IAALj58JwQ3dmJ_bT96aTDeHAMJhNQOv3WaA_eQByzJowMkqQV2IRJ0AX8jfP8bomI5CbJ4FPx_HKpr9wdlLx7BfiP9S5eEC0Cn8H9TMIFhmwUEXcWoce5R1XSDAg8e14GnIWV-QpQyigKi0KoX8KE-06OIgKebNaSRX2NKlvf4apty9LRha5btTDU89W_nYKRZCZrgY_LIJEgclG7t49FhSXZzQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599888663,"updated":1599888663,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["import", "encrypt", "update", "delete", "create", "get", "decrypt", "restore",
      "backup", "recover", "list"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ec9bb2c432ef41bd849a6060117ea8dc","value":"Skeef4D087b-tfsvWqLgWtVjxTUpe9VgeyeWEYvLukOlB11z9kpWygG3gJJIMacX0haXVLGC-Qn8YfeURWlG7iA3SokDoE_wNMWlmGns3nyzI16N7SGGwwxSFL3UA_8-gchfo_HaxNXru9AIIWnalK7j5Gv_-TYxoiBPR1dBgejTtxe1ma3ZcImmamqXHCVM7j5D6EMn_NDRcbP9wzF9RvUpbrj_a7GoL6QCQExx8TUn_YEU78ybUIGpToXExP1nrYwQ1x_fRH2fbHf6zseo8QScU1IneA3yXJVOX7_6Iywzyg8M4pE6ThcfeekIpaUZ_FzUBs4AoJwyqkKfalwZPA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "Skeef4D087b-tfsvWqLgWtVjxTUpe9VgeyeWEYvLukOlB11z9kpWygG3gJJIMacX0haXVLGC-Qn8YfeURWlG7iA3SokDoE_wNMWlmGns3nyzI16N7SGGwwxSFL3UA_8-gchfo_HaxNXru9AIIWnalK7j5Gv_-TYxoiBPR1dBgejTtxe1ma3ZcImmamqXHCVM7j5D6EMn_NDRcbP9wzF9RvUpbrj_a7GoL6QCQExx8TUn_YEU78ybUIGpToXExP1nrYwQ1x_fRH2fbHf6zseo8QScU1IneA3yXJVOX7_6Iywzyg8M4pE6ThcfeekIpaUZ_FzUBs4AoJwyqkKfalwZPA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ec9bb2c432ef41bd849a6060117ea8dc","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599888663,"updated":1599888663,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599888663,"updated":1599888663,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d5d379ca25d44be2b5bee3c1023dcd5d","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"nmY4LoG6c8_HrXiyR9SO9B2XhmVUDukk0ZZF2W9cAv_p8sNXfoVyY9LiYz41-unpMZpO3r5AfivOGqQ9ck6oCfLCoiLwv9mTyoc_AerMCHIp-zUVTObwux8fTht1FYhKryZ8MMQd__RzOC1K--FWbg7rgBMi03o7C9ZgUwcxRdt5sGKSQ2CEy6xTsavR0TR6mvvJuN_-hycmyb2oKTOf8n33chN_bymKOq8UHR0avJ-kf-XJnPLkk7wkDghLjrSkgYO3H3Lizge2O_22ZvfMSuwQYxKbRbs3cXmWVJcPWH8MRr8t_nMghxXb9ebo0gkcRYwiuH0F3kUvzs2jZkONiQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599888673,"updated":1599888673,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d5d379ca25d44be2b5bee3c1023dcd5d","attributes":{"enabled":false,"created":1599888673,"updated":1599888673,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ec9bb2c432ef41bd849a6060117ea8dc","attributes":{"enabled":true,"created":1599888663,"updated":1599888663,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d5d379ca25d44be2b5bee3c1023dcd5d","attributes":{"enabled":false,"created":1599888673,"updated":1599888673,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ec9bb2c432ef41bd849a6060117ea8dc","attributes":{"enabled":true,"created":1599888663,"updated":1599888663,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d5d379ca25d44be2b5bee3c1023dcd5d","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"nmY4LoG6c8_HrXiyR9SO9B2XhmVUDukk0ZZF2W9cAv_p8sNXfoVyY9LiYz41-unpMZpO3r5AfivOGqQ9ck6oCfLCoiLwv9mTyoc_AerMCHIp-zUVTObwux8fTht1FYhKryZ8MMQd__RzOC1K--FWbg7rgBMi03o7C9ZgUwcxRdt5sGKSQ2CEy6xTsavR0TR6mvvJuN_-hycmyb2oKTOf8n33chN_bymKOq8UHR0avJ-kf-XJnPLkk7wkDghLjrSkgYO3H3Lizge2O_22ZvfMSuwQYxKbRbs3cXmWVJcPWH8MRr8t_nMghxXb9ebo0gkcRYwiuH0F3kUvzs2jZkONiQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599888673,"updated":1599888673,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ec9bb2c432ef41bd849a6060117ea8dc?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ec9bb2c432ef41bd849a6060117ea8dc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tS_JxscAheZfH8WNVq4xUvDRh166FS0ILZOTL1xWgnG-qK8uEvJamxh1GIt52Uah5jhSwoPk3fqDLEpwELIJ_aGJ1sVIPgoRyHT27bUmDlHN-UtIBLwbwy2346IAALj58JwQ3dmJ_bT96aTDeHAMJhNQOv3WaA_eQByzJowMkqQV2IRJ0AX8jfP8bomI5CbJ4FPx_HKpr9wdlLx7BfiP9S5eEC0Cn8H9TMIFhmwUEXcWoce5R1XSDAg8e14GnIWV-QpQyigKi0KoX8KE-06OIgKebNaSRX2NKlvf4apty9LRha5btTDU89W_nYKRZCZrgY_LIJEgclG7t49FhSXZzQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599888663,"updated":1599888663,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLlBqaXNDRExIdUh0X3pFNU1JTVp6eUE5YWpZY0dGLWlm[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d5d379ca25d44be2b5bee3c1023dcd5d","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"nmY4LoG6c8_HrXiyR9SO9B2XhmVUDukk0ZZF2W9cAv_p8sNXfoVyY9LiYz41-unpMZpO3r5AfivOGqQ9ck6oCfLCoiLwv9mTyoc_AerMCHIp-zUVTObwux8fTht1FYhKryZ8MMQd__RzOC1K--FWbg7rgBMi03o7C9ZgUwcxRdt5sGKSQ2CEy6xTsavR0TR6mvvJuN_-hycmyb2oKTOf8n33chN_bymKOq8UHR0avJ-kf-XJnPLkk7wkDghLjrSkgYO3H3Lizge2O_22ZvfMSuwQYxKbRbs3cXmWVJcPWH8MRr8t_nMghxXb9ebo0gkcRYwiuH0F3kUvzs2jZkONiQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599888673,"updated":1599888683,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLlBqaXNDRExIdUh0X3pFNU1JTVp6eUE5YWpZY0dGLWlmRjQxY3Z4NXFuUUlUUF9jekxwRWt4cVBaZXRkSDdST0FESTB5MFFqWTBldTV5LVgwR0lJTU96SHdjcG9pbGRELURpR2tPS09XdHFCNzNiMHVMVzJGRHFjT3pDdVNtLVNuQ2FhdlB3QzFreFVsNDk2UXF4dVF6V2E0NWF2VzIxX2R4d0Zlem1WMVBJZXFUeThoNUF4VzEweVllVWhrUmJYdHRjbkR[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/3ac8274f5f81471dbcc665b3ee7a7538","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1599888692,"updated":1599888692,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/f27905cf813644d0942015d7eb0de63b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"s6xyJn-Ft5yCgRpLCM5H11CutDmxmsXXewv0qmBoLSk","y":"T6l_uy575o1FgFmx0VgzDrmSoYsDCSgQoqPLoAUyrgU"},"attributes":{"enabled":true,"created":1599888698,"updated":1599888698,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/97fbefd7359d4a3a972f8a473e59d4a6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"zX_hzdA-yCAInh3YgKQWR-H37OpHAJjUIzar_xW_MdY","y":"5lnR_8nBxV06TJBD2UxUC5jsL8CRIm12BxhlTvHQJRQ"},"attributes":{"enabled":true,"created":1599888699,"updated":1599888699,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/160e313691934193b116f3b14671bc82","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1599888701,"updated":1599888701,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/e296bb33f4de4e089c19e7c0fc2bed5b","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1599888702,"updated":1599888702,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/f629d50a67254ef699f1c50b4c3266ac","kty":"RSA-HSM","key_ops":["import"],"n":"lVBFzt7CRj7Zl0L6cc-Tj67SHRgC0lOjjdiowDLXM5uTvxakqyCWeNADQzNC-8r3SSf3yzVcokPwQqtloXIhodcbmi1GCsFhmCnOX7fYTqIeaxExBwrDFSxBZ1E_36uVVjFzsKWaPbx-Pzln-mE6r2GCCX3X4jR4P_ZR41qvyOQaRjEsWFV-QE8CPLdem_a16BxWjuhLqs6QVvnuvsRQUkl0fmD7KW-AnuErmiIFJi5CFuW9nsze_QDIwkUDSs0E17s1Uj5BOSPqrAyUEXZACiF6Cx653BTvKWX9f4qBQf1QndSV9v3885S4npEG7N3BhfjmpVCgTTSZSMPlfqjXmw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600061544,"created":1599888744,"updated":1599888744,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/514a107b837447d2bff7914b849ffdda","kty":"RSA-HSM","key_ops":["import"],"n":"oMUzvOa7-dj1of61Wy9P4LR2Y2_DxU4OxuAyBeocpION9CvZBk9dWlNm7j0sUjnkzjuevpTB_aLcCVyFAXJlsZ2b410qBH4Aw1uodJyVbIV3C5og5scTZBlfVyXExf5zS3zDejNNqxo4ZmFNI9rODdQB7vcRDayvWOGL7wVYWf_1tP3vAWLuphQoMT3nn51ASFuDGRDc6FOn7vKRLf7NCjFwHdPG3lC8ZmNc8QcwoolacYscsDc96AlRqcsN0KOTMFfvINw-0NR3o_sZdccorY52clcDKZB4p_E1tizFRKkY0mMbfrKX-wp2cA-LceCkpVrH76nS-LKuGu-nvJQLe6bEOkuheTHmIIifcZ_AUH6fmjHncFiOhB6wTqgSWlty6Qvtw6CenC4-LkiD3RQba6ZsdL_lBOpnCwMkzZAuWU3NSZAMI12NEju8IVn0qFZGuUxYZSrlcvWm6cOY8-x_iVXn9-0eMROmmqn_Tp5yi4IwmSC0muKP6kxWZodIt9YjfljKH_18N8w4IyyEqBkig34JCIt1c5QPWTMk9xaze65r4msJcXWfUNMgsgItst5rgWhYYQXunUvYtneoxlRFpy04DsHwCz0aH3Sfu5rS0SA_0giqnx_Ik42d4QL-m2087qM2Qu1WOwd-FBxOmT4YvvHz9S6u9ItN4tTmcvDN-6k","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600061549,"created":1599888749,"updated":1599888749,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
