interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2448710'
      ocp-aad-diagnostics-server-name:
      - c8eK+61g+utWFw52xLWv2Ne8ko4WetXLcraNrY1rft0=
      ocp-aad-session-key:
      - 6ICRViaf9llUf4vnhxcuGpbaaDqEuJQvUP3n9Bk8bkDSQoeAVVv7SfNRnxq2WNfneDOZbPBxQXZkpBJMkPNK5PRIeXpXzKunrPKIt0aDFi-WL0t3y7x6AaXjITULorz8.Zc5YwT8E1Qnzto4mUAU0BhwaRombdooBeehJRfPkCvk
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/056e7d1a1c4c4b36bda892bad9095a0e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yXoDdmluXV5zvy9Yowllws7BwLGM2QSoLQbNyHhqh4Ry_Pv682RriZ8iQEXK97_uz5zsOhjdgHEn8TNmecGZsNsbYK_MiObmvYz_Pmk32HHb5VkcgulSEzNiY10tb93LVEHvTnn7i0zH4SycZqFS9XdQQUT11AvL65-sFrYb8qj7u5FtFJW_t3SB0cKR5-HnVjZx5mmUii4xYmR8PQ8WEGntyp1dMpz3s_dCJgdKyo6mxwjnKGGehjXu8qeb-EYH8Up1U5hMgLqgpo8yRvuqnF7gJPEqrIBCFZZMqYig6KUrgtmGL_zxipNv57c5qU3xkOPuKNz3NeZwxaCN2OFP9Q","e":"AQAB"},"attributes":{"enabled":true,"created":1600073080,"updated":1600073080,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["import", "list", "get", "restore", "encrypt", "decrypt", "update", "recover",
      "backup", "delete", "create"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/056e7d1a1c4c4b36bda892bad9095a0e","value":"Ysb4kl0I8lKCdT4A5YrbCaTXTWBWEivFkScr_Pnrt32hi2Ason3S_cUId1PcUQImi9LxzBDTEYhN-Dv2N30B3baHTQQFJyvDx-rfk4dSuX2OGArUZLDZCFlivpfhsJ4fAP0W5GoWe-dmC_dDERg4XrIajYtp3uPAxCQ9MNnyYDviDSuN72PpHL8x2LgUUekij5JFweoI_E2di01JL6qqXv9pAxmsFLUTFMlHrIHGIlTpWNXf_3TQ1hqlohc9iTAEF0BytHPXdNJ1vXMcLplWt9VOJG92c43ygzQ_bNZCdwz6u5iM-j0Yu7hyorwCvfrpXtTYIx3cTWeEg7BfHi84yA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "Ysb4kl0I8lKCdT4A5YrbCaTXTWBWEivFkScr_Pnrt32hi2Ason3S_cUId1PcUQImi9LxzBDTEYhN-Dv2N30B3baHTQQFJyvDx-rfk4dSuX2OGArUZLDZCFlivpfhsJ4fAP0W5GoWe-dmC_dDERg4XrIajYtp3uPAxCQ9MNnyYDviDSuN72PpHL8x2LgUUekij5JFweoI_E2di01JL6qqXv9pAxmsFLUTFMlHrIHGIlTpWNXf_3TQ1hqlohc9iTAEF0BytHPXdNJ1vXMcLplWt9VOJG92c43ygzQ_bNZCdwz6u5iM-j0Yu7hyorwCvfrpXtTYIx3cTWeEg7BfHi84yA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/056e7d1a1c4c4b36bda892bad9095a0e","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1600073080,"updated":1600073080,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1600073080,"updated":1600073080,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ffccc3e5f8ce42da85b1605b16f91691","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"yAN8cIaAst_OvANUFooJpgyhcXGJSG0AXg66FJkq0n41O8A6cLYH8954b4ViBfOCIrUsQjLckUfbGk_Se8hOZtAN7c_b8CCkSi_f2KjAwT20As-ANwunJ26mXEa3KLJ0k8uh6_EfRCJMLVS-d5EY8gkMX9KtBrF0CZ0AKkTA7CtAVKl8n8zcrn33u3rmdKlOkusKcdm7D0izJDDFjFJJ-yUUa7piCDgX6zp4aRi8y01JVGglznLl0LAUFoa8ywTcyDR2VvE9Mx0nlAHeg8MxBxhFxxhzkh_FmZbt9FByDitQTli01E2qYfzAobOsFbV5ITWS6tgC8eoNARGHjKpmHQ","e":"AQAB"},"attributes":{"enabled":false,"created":1600073091,"updated":1600073091,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/056e7d1a1c4c4b36bda892bad9095a0e","attributes":{"enabled":true,"created":1600073080,"updated":1600073080,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ffccc3e5f8ce42da85b1605b16f91691","attributes":{"enabled":false,"created":1600073091,"updated":1600073091,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/056e7d1a1c4c4b36bda892bad9095a0e","attributes":{"enabled":true,"created":1600073080,"updated":1600073080,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ffccc3e5f8ce42da85b1605b16f91691","attributes":{"enabled":false,"created":1600073091,"updated":1600073091,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ffccc3e5f8ce42da85b1605b16f91691","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"yAN8cIaAst_OvANUFooJpgyhcXGJSG0AXg66FJkq0n41O8A6cLYH8954b4ViBfOCIrUsQjLckUfbGk_Se8hOZtAN7c_b8CCkSi_f2KjAwT20As-ANwunJ26mXEa3KLJ0k8uh6_EfRCJMLVS-d5EY8gkMX9KtBrF0CZ0AKkTA7CtAVKl8n8zcrn33u3rmdKlOkusKcdm7D0izJDDFjFJJ-yUUa7piCDgX6zp4aRi8y01JVGglznLl0LAUFoa8ywTcyDR2VvE9Mx0nlAHeg8MxBxhFxxhzkh_FmZbt9FByDitQTli01E2qYfzAobOsFbV5ITWS6tgC8eoNARGHjKpmHQ","e":"AQAB"},"attributes":{"enabled":false,"created":1600073091,"updated":1600073091,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/056e7d1a1c4c4b36bda892bad9095a0e?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/056e7d1a1c4c4b36bda892bad9095a0e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yXoDdmluXV5zvy9Yowllws7BwLGM2QSoLQbNyHhqh4Ry_Pv682RriZ8iQEXK97_uz5zsOhjdgHEn8TNmecGZsNsbYK_MiObmvYz_Pmk32HHb5VkcgulSEzNiY10tb93LVEHvTnn7i0zH4SycZqFS9XdQQUT11AvL65-sFrYb8qj7u5FtFJW_t3SB0cKR5-HnVjZx5mmUii4xYmR8PQ8WEGntyp1dMpz3s_dCJgdKyo6mxwjnKGGehjXu8qeb-EYH8Up1U5hMgLqgpo8yRvuqnF7gJPEqrIBCFZZMqYig6KUrgtmGL_zxipNv57c5qU3xkOPuKNz3NeZwxaCN2OFP9Q","e":"AQAB"},"attributes":{"enabled":true,"created":1600073080,"updated":1600073080,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkk5VGMzdlRtTVpxMjU3ekNEdkFWM2tiX2RDV2NQTHQ2[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/ffccc3e5f8ce42da85b1605b16f91691","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"yAN8cIaAst_OvANUFooJpgyhcXGJSG0AXg66FJkq0n41O8A6cLYH8954b4ViBfOCIrUsQjLckUfbGk_Se8hOZtAN7c_b8CCkSi_f2KjAwT20As-ANwunJ26mXEa3KLJ0k8uh6_EfRCJMLVS-d5EY8gkMX9KtBrF0CZ0AKkTA7CtAVKl8n8zcrn33u3rmdKlOkusKcdm7D0izJDDFjFJJ-yUUa7piCDgX6zp4aRi8y01JVGglznLl0LAUFoa8ywTcyDR2VvE9Mx0nlAHeg8MxBxhFxxhzkh_FmZbt9FByDitQTli01E2qYfzAobOsFbV5ITWS6tgC8eoNARGHjKpmHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1600073091,"updated":1600073100,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkk5VGMzdlRtTVpxMjU3ekNEdkFWM2tiX2RDV2NQTHQ2cllpRHl4TVhuMm1MdThYMWhHUnBFY2UxZXI2d3pSMUtJRW9iYm5nSUJNRnVOam1MaGY2RHhGczBFMEdNd29mdkctQVJQTU90enNHVE1OZkstMURqLXV1UXFfa0lVZlVLUzRiNHA3dlZPSENhaVZ1Q1hvMnVpQ2VMbEVOUjlGNGlSWk83bnZFV1FFMXQ2ZDZfdU9XVm5GN3lXa25jOFlLQ0s3UzB[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/4ff64bd1400f4364b130c37432464cbe","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1600073110,"updated":1600073110,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/ff3a50f1b4d1427db02283aebda04e6d","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"PAgh8W4NDbgH5gZeq4i7HUKLIw7wiVO_IrtWDmNdq-w","y":"EslUgzFHMG5KXQ33QjQMTKMD_SNOUj9FXpDZ6NQBUqs"},"attributes":{"enabled":true,"created":1600073115,"updated":1600073115,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/b0f3c797d7804164ad253243ad29751e","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"nbUCwD8VqsVtWTXKS1WO--kOL_SOMoI29LyLlv9Yciw","y":"gtPY9QPT7qDc1DkMYXvnV6BCnNicrkh8_kJerzFZcds"},"attributes":{"enabled":true,"created":1600073117,"updated":1600073117,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/b94f283262df4e89a8267170843a7f4a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1600073119,"updated":1600073119,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/256e85fc42254e44b9b14c7d0cbc4605","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1600073120,"updated":1600073120,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/6f51b6aca54b403db31885544a3e5572","kty":"RSA-HSM","key_ops":["import"],"n":"yZj1fesLnklnJhHQ3LISV2NkrtR4rYpcU2LXs2_lyZ7G8seWx5A7zTfgIPKWR5lct3lP_tqyhfQXpqGk_WdqEvZyGvQhOeqZlFiIS4z3m29IEbWoGXGNwrtO_zFwTecT0U36WTMy9h9AgAE6xATU8HwNqnWOnJYdXvxHlnAoMEVrRHN6WOzjveB0Rh-JFx39gkz_5Eb-D3fx-vpLMrOdN5KqW6yQdGrJRIyK-TvU5lk_t56nUNzSwzFmFu75DuqwqRiu1yZUr8GDxscDoTO7dabbPf6S2Hfm_HUCUjsn2tGA4bgCAK-1zbRyj2TZX_lB69fAw74442nK1wmOxtF15w","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600245962,"created":1600073162,"updated":1600073162,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/3214548e47144e699bb1ed4fb6e171c8","kty":"RSA-HSM","key_ops":["import"],"n":"0haJzn7PTQxXDa7F2yldrup1UPvzkRDB8cksgqRgPhgXg5g6kAEmMdqaTFwrbQngzxPjghYO4mJGaOcTKcpm8vfhcBOT852gS_V3Md2EJLbq_6I7s4LwR5RSit0rA0jVHbuoiyg9k3ae-FS0MnbMo706g0Ab16hOyV3pvrywFKDHOwewgxJqNkRQgLujDti9K2M-JxVwgMlPZol_9KItcIpNfj9MUdGM7TysTogdLs5y4njAe2HvgQhJf6jV0gDzS9or50Gu6VimFje_4mdiTniK72717KLpF4adc330bP_111Tzmd_344s_nknw7EmTHg7rkwx4fUuP7pqCK8bz6bOVr9HufmnZ4pTDux0P0Q4Oa0Xzi-i9Kox-QXB2_4gYNViVOnhd8X7pUyBhJu_4AZ8mvEU-CDIdZcc7BE9qRxJEELbEU_wzZ4B5Yo4WgDkTDtma6Ddvs6CVeY2RR-rtDu9cgN-6rzDEWofBU5TpkFYeASgBIUs59D3ZR0vArPS39BToULLzYoMqsVg8YPLixUiONfkNv3Z4OGhKDXuwiO9FOGRNg1cX5i1g5i-vUq5T_byWfgXD_EJ4cfBh1AkHh9qp2AWoQnbIsh4IkhlCXvPO7yRA952IFoiIClVRmmY6w85bOAGmtl-fRmDxxUEVBbo_PorUYzzM9nZVNpESRD0","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600245967,"created":1600073167,"updated":1600073167,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
