interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2333568'
      ocp-aad-diagnostics-server-name:
      - zvwu3VMocUBIMruC0KJDTTeZTxwwXXMwR9v6B15ODBw=
      ocp-aad-session-key:
      - WfQQZ8UQ3PGuTOxmPZ_bUYBQN1fkfPYrS08fQkJuHa4qEHoLsT9maRF9s1qQqeqEqBuko4y1nZVStkkVIwdRPAmahwEQeT3el7O3DZbFqNU_8Fm98G_3OZ-48GWjcvH1.4k_phAodFZev8B2WytFtYZg9Rp1hfN24kuG3qmESDf0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/164820d925d246b79e3d28fb163e5cd2","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"r_2jgmRGpPx8fQlLmKEeuR0GbPl4HELHkQfXgzj3UnisFymft30SLUczHY2xJDTiU6ulbhrKk_MBnEzsswlSth2DCC_TH7N7IMsGbZaukN6m0nht5lXSwHi_ju4zzdGkK3DCYEGzlGuveyCGh-g2KaNiPcxu0izvLWanCwQlnIQAY9-_in0RCO4ukheRs2HGVL3jmzLNW-1i6A1TUhkaE7gOHgW61L-_CvwHkPgy9tNvbYD3rlJeZdnkVicxWH5-U3VL-i9_h8S2OdOYxImrKVmRojXMGg_qIDthqGWlF0FoSGdjKynzhyrHI6Vf196DHLPrz4lmMBqOrVVu-iz7zQ","e":"AQAB"},"attributes":{"enabled":true,"created":1597979485,"updated":1597979485,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim_pl_test_rg/providers/Microsoft.KeyVault/vaults/bimkv-nr-test","name":"bimkv-nr-test","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["list", "restore", "import", "decrypt", "create", "update", "get", "recover",
      "encrypt", "backup", "delete"], "secrets": ["get", "list", "set", "delete",
      [...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/164820d925d246b79e3d28fb163e5cd2","value":"pZBe_1-ACrhszLOtnHNw8mq2EBOAkFmCrmBorZibK1Hunit7cLAKZdaiAYEjS9MG8KqqrLZ1Him-kaAyL-NjCs_N34xmB-nIpBIK8oQEcDAuyXDa_KHOtbmILLrgA_pyHEuWCNYHGzZqCNnlQlr7uPmbc-kVi0GZROV_rwCbnNswmK9DaLwe5BYRUuR0B-k_EofaxRrUf7w9QSVDJxVoiHyNeZqopOrjLQmuHmo9MWlgw8ydrY2NjnJzg8hb772aUY0OLiPCb8DiHHv-bBBnZfzYL8MPVqla3Kbf9KXpTjiJqsGCWW53wILdrO7XFXqShJ2UltlVWFFxTNPirs6DlA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "pZBe_1-ACrhszLOtnHNw8mq2EBOAkFmCrmBorZibK1Hunit7cLAKZdaiAYEjS9MG8KqqrLZ1Him-kaAyL-NjCs_N34xmB-nIpBIK8oQEcDAuyXDa_KHOtbmILLrgA_pyHEuWCNYHGzZqCNnlQlr7uPmbc-kVi0GZROV_rwCbnNswmK9DaLwe5BYRUuR0B-k_EofaxRrUf7w9QSVDJxVoiHyNeZqopOrjLQmuHmo9MWlgw8ydrY2NjnJzg8hb772aUY0OLiPCb8DiHHv-bBBnZfzYL8MPVqla3Kbf9KXpTjiJqsGCWW53wILdrO7XFXqShJ2UltlVWFFxTNPirs6DlA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/164820d925d246b79e3d28fb163e5cd2","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1597979485,"updated":1597979485,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1597979485,"updated":1597979485,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/f9ac239e1f914eaaa6e4b4d1449b70a2","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"pDPqiA2BFCzzg3YRnTSLfGU8Tu3KyzyiRSwSzw8zU81-ACR3gQcQt4yW3loxoH9YyHkScX5K1WbCP4-wm2RB5NfGsKBpRvXsJBeVVgi7aQ_J4tDc_-jftljBg96ShuEQu0TtoaFN0JGr6odiB0f94nKcv5yFtqVjXbJrl2tLAZW8M0dH6_0uMGJmPiU9cmOgPqudqKq23huNn7wB4KB5tZfgE30iTuQccKwlf6pibSfAGLQiibEXVtucNQQ4awBNc29RbflFryxfiViIDHK_HBbT3U0kBr3GVkHgk_nH0ul3MOnPRQeejuQAKJgMPMiepeysmHSd3AergIbXsm1q7w","e":"AQAB"},"attributes":{"enabled":false,"created":1597979495,"updated":1597979495,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/164820d925d246b79e3d28fb163e5cd2","attributes":{"enabled":true,"created":1597979485,"updated":1597979485,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/f9ac239e1f914eaaa6e4b4d1449b70a2","attributes":{"enabled":false,"created":1597979495,"updated":1597979495,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/164820d925d246b79e3d28fb163e5cd2","attributes":{"enabled":true,"created":1597979485,"updated":1597979485,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/f9ac239e1f914eaaa6e4b4d1449b70a2","attributes":{"enabled":false,"created":1597979495,"updated":1597979495,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/f9ac239e1f914eaaa6e4b4d1449b70a2","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"pDPqiA2BFCzzg3YRnTSLfGU8Tu3KyzyiRSwSzw8zU81-ACR3gQcQt4yW3loxoH9YyHkScX5K1WbCP4-wm2RB5NfGsKBpRvXsJBeVVgi7aQ_J4tDc_-jftljBg96ShuEQu0TtoaFN0JGr6odiB0f94nKcv5yFtqVjXbJrl2tLAZW8M0dH6_0uMGJmPiU9cmOgPqudqKq23huNn7wB4KB5tZfgE30iTuQccKwlf6pibSfAGLQiibEXVtucNQQ4awBNc29RbflFryxfiViIDHK_HBbT3U0kBr3GVkHgk_nH0ul3MOnPRQeejuQAKJgMPMiepeysmHSd3AergIbXsm1q7w","e":"AQAB"},"attributes":{"enabled":false,"created":1597979495,"updated":1597979495,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/164820d925d246b79e3d28fb163e5cd2?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/164820d925d246b79e3d28fb163e5cd2","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"r_2jgmRGpPx8fQlLmKEeuR0GbPl4HELHkQfXgzj3UnisFymft30SLUczHY2xJDTiU6ulbhrKk_MBnEzsswlSth2DCC_TH7N7IMsGbZaukN6m0nht5lXSwHi_ju4zzdGkK3DCYEGzlGuveyCGh-g2KaNiPcxu0izvLWanCwQlnIQAY9-_in0RCO4ukheRs2HGVL3jmzLNW-1i6A1TUhkaE7gOHgW61L-_CvwHkPgy9tNvbYD3rlJeZdnkVicxWH5-U3VL-i9_h8S2OdOYxImrKVmRojXMGg_qIDthqGWlF0FoSGdjKynzhyrHI6Vf196DHLPrz4lmMBqOrVVu-iz7zQ","e":"AQAB"},"attributes":{"enabled":true,"created":1597979485,"updated":1597979485,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkdJUnNKYjBoZF9yeElCNjRWdkNZOHRSN3lweXNaLU91[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/f9ac239e1f914eaaa6e4b4d1449b70a2","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"pDPqiA2BFCzzg3YRnTSLfGU8Tu3KyzyiRSwSzw8zU81-ACR3gQcQt4yW3loxoH9YyHkScX5K1WbCP4-wm2RB5NfGsKBpRvXsJBeVVgi7aQ_J4tDc_-jftljBg96ShuEQu0TtoaFN0JGr6odiB0f94nKcv5yFtqVjXbJrl2tLAZW8M0dH6_0uMGJmPiU9cmOgPqudqKq23huNn7wB4KB5tZfgE30iTuQccKwlf6pibSfAGLQiibEXVtucNQQ4awBNc29RbflFryxfiViIDHK_HBbT3U0kBr3GVkHgk_nH0ul3MOnPRQeejuQAKJgMPMiepeysmHSd3AergIbXsm1q7w","e":"AQAB"},"attributes":{"enabled":true,"created":1597979495,"updated":1597979505,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkdJUnNKYjBoZF9yeElCNjRWdkNZOHRSN3lweXNaLU91a1ZaOE5qY1F4bm5WQ1BELTZ2MU5wUEJ0N2pKcnNtS1dZMTJqTm1VXzIxZVdWbUhVOGYtQjFaN1BjTi1UeUllektXZkJjTUsxNEZOVDVmM09pZVdLNUdyRzVScEppbHBFWEtYR2gwZGIwbjRyd1UxQndqdFltOWZrZHg1OW04UGxBSW50bk5IaUxqalZHeldzQll3c3BrOEExVjVBZWlRM1MzZXl[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/e1bdfd02b89040b5a18c88e6f0d9bcf6","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1597979520,"updated":1597979520,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/eece0dcbef9b47808b43758bc01c74dc","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"BavNzYsio2ogy9IPz-C7FXQMaDdkB4UiLQqR5uHNBYc","y":"s6KdrGrfM5ljKjW0VDd6RXE6eO6avrC5d4el_8KSgPU"},"attributes":{"enabled":true,"created":1597979525,"updated":1597979525,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/4d718d1d81344f769212b7c91b746bc0","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"Av4wDOKjdXrqCSvpb6YcbK1Da0RZ3tJKqWxqRraIcC8","y":"MWS5EKOCLVA7pmbu__OrMUHlhskSCksUsX3WabSPB8Y"},"attributes":{"enabled":true,"created":1597979526,"updated":1597979526,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/94460109dd2e4a29b82b374515cd961f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1597979528,"updated":1597979528,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/c6b252841661461081a126bf52f7d2ff","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1597979529,"updated":1597979529,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/3b3bd0bfb49a433d91c57231d84e53be","kty":"RSA-HSM","key_ops":["import"],"n":"24obXTightvXEm2lHTYMWtjv3Y_ckpvUoKSyUCHkPwkjdcZLYP63QWC8aU8MLOYx6EpDhTusbybpZD1cqvRyoY5ra7dOlHbL2bb4TnL9mJg-HRYvMojBRRZFjrJkzEo83gh2snqKooq3BYrd_P6KuWPmAeZIyLFqW9cNmQsY7A05-cEd254goxu_sk70SLa1E9k3xBQysq96EEOKIXqIHUxNlePx73cP-5uJT6dedD6KTUgUZRv568PgPGulvB-NspgL3R1xCTTyenjMZgKOimzcqd5HjELhirYNx4G7zEfwmIpjKLDaeODK7ARtDxfBb17_K5aAgb2xwyydot_cZQ","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1598152371,"created":1597979571,"updated":1597979571,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/6c545bf5fa3e414fba612389d977b550","kty":"RSA-HSM","key_ops":["import"],"n":"sYhblH8wU_jfrwMGvm1ypzb7eqhBBIRIrYEjZH9-cg7z80PNydwy9hOEUrdClEcLUhyAo-37lsa2jsjV6JOc6l1cemRvmulnsm7f7il5A2jR6nggKFGMFMtlDiLiIYpH0_Ra3qojJrk_KAM9c_DsdrlP3VQKhcFc5wS-Guw4_soeaGWq5n6ordK8fMN7SHO5CCVuGZKqINdNGXA1QaZd7eOaqFOgD8mc6u_qQbqzMyMccJPK2i_tJN8hMnpuWWX8idpsmfxtMTWx4sXSOqtAN9MsMCoVCjbY2lOqgFpXvLGKEMBq8L6XT173H7iL6BomhB0dNyWTeILvKw-8OaD6nVx7p-R-UPbDxK1cUOD11HzuTZ6FB6r8V-tNtegDTaBSvtIctzjhJJYvBezSkfaXXYjujnx4ZsAvUpv6JcaCl6cLhp-ktbHUof55_SwAIDUAggu0Mx783n2VtDvA1XIoj-qOGAzp5s3QA5AFYIbKW74cfHv0x12u8eBLHojt7xmdHuHfNYZegZqLH9XhWq5tpuYNV08zUo_MhyH2hXWLuqxGKT7nGDTM1iUCsAT4Pqfyy5gRT8DaLK5AjdYTOGgsFyFVbDHmC_nKmfS6WvO9UWtqNm3V79Z085zIPHbCDcsPqJm4pRo1nBDNIbtKo4xOcqoPVO7A342BZO5kdqCKnRU","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1598152378,"created":1597979578,"updated":1597979578,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
