interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/create?api-version=7.4-preview.1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '2'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "oct-HSM", "key_size": 256, "key_ops": ["encrypt", "decrypt"],
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"attributes":{"created":1698321372,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1698321372},"key":{"key_ops":["encrypt","decrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/fb65d6a2c3190d83040804ab0d426dcd","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '127'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/?api-version=7.4-preview.1
  response:
    body:
      string: '{"attributes":{"created":1698321372,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1698321372},"key":{"key_ops":["decrypt","encrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/fb65d6a2c3190d83040804ab0d426dcd","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20230831-2-9231e16f-07-lkg
      x-ms-server-latency:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "A256GCM", "value": "dGhpcyBpcyBwbGFpbnRleHQ", "aad": "EBESExQVFhcYGRobHB0eHw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/fb65d6a2c3190d83040804ab0d426dcd/encrypt?api-version=7.4-preview.1
  response:
    body:
      string: '{"aad":"EBESExQVFhcYGRobHB0eHw","alg":"A256GCM","iv":"EDryVp4O_yijQJEI","kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/fb65d6a2c3190d83040804ab0d426dcd","tag":"vaUuhTFUEEdWIrxJNEvylQ","value":"jh9jezydq4v-7mVhn5sVj-o"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "A256GCM", "value": "jh9jezydq4v-7mVhn5sVj-o", "iv": "EDryVp4O_yijQJEI",
      "aad": "EBESExQVFhcYGRobHB0eHw", "tag": "vaUuhTFUEEdWIrxJNEvylQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/fb65d6a2c3190d83040804ab0d426dcd/decrypt?api-version=7.4-preview.1
  response:
    body:
      string: '{"alg":"A256GCM","kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/fb65d6a2c3190d83040804ab0d426dcd","value":"dGhpcyBpcyBwbGFpbnRleHQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '38'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003?api-version=7.4-preview.1
  response:
    body:
      string: '{"attributes":{"created":1698321372,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1698321372},"deletedDate":1698321381,"key":{"key_ops":["encrypt","decrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/fb65d6a2c3190d83040804ab0d426dcd","kty":"oct-HSM"},"recoveryId":"https://clitesthsmkey000002.managedhsm.azure.net/deletedkeys/oct256key-000003","scheduledPurgeDate":1698926181}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '82'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitesthsmkey000002.managedhsm.azure.net/deletedkeys/oct256key-000003?api-version=7.4-preview.1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '69'
    status:
      code: 204
      message: No Content
version: 1
