interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002","name":"cli-test-kv-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-06-30T10:49:28.965Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-30T10:49:28.965Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-kv-sd-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv0630","name":"bez-kv0630","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez[...]
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["purge", "all"], "secrets": ["purge", "all"], "certificates":
      ["purge", "all"], "storage": ["all"]}}], "vaultUri": "https://cli-test-kv-sd-000002.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "provisioningState": "Succeeded", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002","name":"cli-test-kv-sd-000002","type":"Microsoft.[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/aaf6e22a72734d069a98203da776a2d0","attributes":{"enabled":true,"created":1656586234,"updated":1656586234,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/aec88bda18db454595dfe912d33c4752","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"58dqVJiYGrklZz9l_fTWcn1abwV5zpXiCrXODcu3rRNMBQOwYiIUm9yScjgv27-u3ICqixxh6suwaUosrHjI_tXn5W9X83AVsea3R4rJvT0MzV3uv3sJCjeXb9H0K9TlcnaPwvv0fzNPJlilEZ3NFTsfaii4I90PyhhpjbgQ6aNM6JrsghZELhzgIuRTAmg1I5Gk2Iz2ZehQD72pgeWyG6UxjHVbGQnaRVXW_8d-0pTKkArSDmWgbFVgu10-iBtkvRG-y-FwXX79SsbQSuMPhU1eZ2oCkz8xXCe1Mkhukusyl4M7kecRuk2R0APpjr1p3MjM8AfenFaeVXhnQy2j7Q","e":"AQAB"},"attributes":{"enabled":true,"created":1656586235,"updated":1656586235,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "-----BEGIN PRIVATE KEY-----\nMIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQC6ktKsm/OX1Xo6\nYxRg5/zUQnTEC5Lb5sGtLPmgpbh1qmbXQyn+cC1A/pLL7G5//3vVvis707gTsxn2\n5mpL3B31krShElqEYhdm22MKt1EjPOpW2QX5wNTRdh3C2/KJuhQCnWoUmd1fwY6l\nQvSrJIyu6IjB7sO6IsL1Y2iqsSwNFf7Prr7NeizYkOqEZ1YVRcIp71lzthrRcAUG\no/rDdM61St/JWIM7F0RNyZTlTw1EFWGpE+RKN41zyfkWE4VdMctLMeL9XIPxGLse\nWmZXDwUwxb/yPy3MOfYE4ZCfzwOIBNmyI6jKz2qxtISPKrK/Ba+YWufjZ56G7yVx\ntmjllwazAgMBAAECggEAR6QLK2ZywfGiDntvHsrVxX[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1656586236,"scheduledPurgeDate":1657191036,"id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/aaf6e22a72734d069a98203da776a2d0","attributes":{"enabled":true,"created":1656586234,"updated":1656586234,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedkeys/key1","deletedDate":1656586237,"scheduledPurgeDate":1657191037,"key":{"kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/aec88bda18db454595dfe912d33c4752","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"58dqVJiYGrklZz9l_fTWcn1abwV5zpXiCrXODcu3rRNMBQOwYiIUm9yScjgv27-u3ICqixxh6suwaUosrHjI_tXn5W9X83AVsea3R4rJvT0MzV3uv3sJCjeXb9H0K9TlcnaPwvv0fzNPJlilEZ3NFTsfaii4I90PyhhpjbgQ6aNM6JrsghZELhzgIuRTAmg1I5Gk2Iz2ZehQD72pgeWyG6UxjHVbGQnaRVXW_8d-0pTKkArSDmWgbFVgu10-iBtkvRG-y-FwXX79SsbQSuMPhU1eZ2oCkz8xXCe1Mkhukusyl4M7kecRuk2R0APpjr1p3MjM8AfenFaeVXhnQy2j7Q","e":"AQAB"},"attributes":{"enabled":true,"created":1656586235,"updated":1656586235,"recoveryLevel":"CustomizedRecoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert1","deletedDate":1656586237,"scheduledPurgeDate":1657191037,"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/26b1857ef2904b99bc431420ab491a0d","kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/cert1/26b1857ef2904b99bc431420ab491a0d","sid":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/cert1/26b1857ef2904b99bc431420ab491a0d","x5t":"XLACe2aagyq0ncVXgsRP3-dgFks","cer":"MIIDazCCAlOgAwIBAgIUPYpi/CMVjq2r+7PX1JWAzsUeFqQwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0xOTEwMTUwNjAxMDlaFw0yOTEwMTIwNjAxMDlaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC6ktKsm/OX1Xo6YxRg5/zUQnTEC5Lb5sGtLPmgpbh1qmbXQyn+cC1A/pLL7G5//3vVvis707gTsxn25mpL3B31krShElqEYhdm22MKt1EjPOpW2QX5wNTRdh3C2/KJuhQCnWoUmd1fwY6lQvSrJIyu6IjB7sO6IsL1Y2iqsSwNFf7Prr7NeizYkOqEZ1YVRcIp71lzthrRcAUGo/rDdM61St/JWIM7F0RNyZTlTw1EFWGpE+RKN41zyfkWE4VdMctLMeL9XIPxGLseWmZXDwUwxb/yPy3MOfYE4ZCfzwOIBNmyI6jKz2qxtISPKrK/Ba+YWufjZ56G7yVxtmjllwazAgMBAAGjUzBRMB0GA1UdDgQWBBRIwEHMjAQuWfatNPhtcBGSKHOXrTAfBgNVHSMEGDAWgBRIwEHMjAQuWfatNPhtcBGSKHOXrTAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCpSX9YnqyWuMBCcJ+xFzonYFNTeVDfSW3jmZhia1YJySrhtUkSk+ObFt3OS7ApP1YysEY1OLwt73ajnGFh0lwJ7bb42ThAVbDrY61aL290/NkHtX1ESRzd6pNrn66nEVUw40HWPjOzWqLEgQDhNv1jsOpFeLZufNbqnNkCdQh/B4A759FWMicpDWSS1YrIOkxa3Bxe2NH7yxpH8LCR2SSbaF/dtKJjUxXnd862mC5zQNZp5sMhjH0/qDCUN237DescgyGcWJHU19YZzoD3DcJxkDufBf1VRiWdv/mCA56lsUBU3FFydN5a3dkFjRw/6dpCZAE8aGCvioLFBAoeLeTP","attributes":{"enabled":true,"nbf":1571119269,"exp":1886479269,"created":1656586235,"updated":1656586235,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"policy":{"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pem-file"},"x509_props":{"subject":"O=Internet
        Widgits Pty Ltd, S=Some-State, C=AU","ekus":[],"key_usage":[],"validity_months":120,"basic_constraints":{"ca":true}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1656586235,"updated":1656586235}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret1/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-kv-sd-000002.vault.azure.net/secrets/secret1/aaf6e22a72734d069a98203da776a2d0","attributes":{"enabled":true,"created":1656586234,"updated":1656586234,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedkeys/key1/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/key1/aec88bda18db454595dfe912d33c4752","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"58dqVJiYGrklZz9l_fTWcn1abwV5zpXiCrXODcu3rRNMBQOwYiIUm9yScjgv27-u3ICqixxh6suwaUosrHjI_tXn5W9X83AVsea3R4rJvT0MzV3uv3sJCjeXb9H0K9TlcnaPwvv0fzNPJlilEZ3NFTsfaii4I90PyhhpjbgQ6aNM6JrsghZELhzgIuRTAmg1I5Gk2Iz2ZehQD72pgeWyG6UxjHVbGQnaRVXW_8d-0pTKkArSDmWgbFVgu10-iBtkvRG-y-FwXX79SsbQSuMPhU1eZ2oCkz8xXCe1Mkhukusyl4M7kecRuk2R0APpjr1p3MjM8AfenFaeVXhnQy2j7Q","e":"AQAB"},"attributes":{"enabled":true,"created":1656586235,"updated":1656586235,"recoveryLevel":"CustomizedRecoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert1/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-kv-sd-000002.vault.azure.net/certificates/cert1/26b1857ef2904b99bc431420ab491a0d","kid":"https://cli-test-kv-sd-000002.vault.azure.net/keys/cert1/26b1857ef2904b99bc431420ab491a0d","sid":"https://cli-test-kv-sd-000002.v[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedsecrets/secret2?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedkeys/key2?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-sd-000002.vault.azure.net/deletedcertificates/cert2?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/ps2839","name":"ps2839","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps9706/providers/Microsoft.KeyVault/vaults/ps2839","location":"North
        Central US","tags":{"key":"value"},"deletionDate":"2022-04-13T06:35:00Z","scheduledPurgeDate":"2022-07-12T06:35:00Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/ps5856","name":"ps5856","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps4833/providers/Microsoft.KeyVault/vaults/ps5856","location":"North
        Central US","tags":{},"deletionDate":"2022-04-13T06:31:01Z","scheduledPurgeDate":"2022-07-12T06:31:01Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-kutbqia","name":"cli-test-kv-mgmt-kutbqia","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmtgh43hu56wct2xnagyjolcsqxuz62h6fuupmfzbjintekrutclcgqj/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-kutbqia","location":"eastus","tags":{},"deletionDate":"2022-06-30T10:31:06Z","scheduledPurgeDate":"2022-09-28T10:31:06Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-vgidetw","name":"cli-test-kv-mgmt-vgidetw","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deletedca7ddo23ux2bfrdw7ctioybyttjvnpjt377rbiizqce7c/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-vgidetw","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "createMode": "recover"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000002","na[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-kv-sd-000002/purge?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzkyMTgzMTc4ODA4NzMwNXw0MDA4NjI4MTcwMzE0NTg5OTY0OTQ0ODJFOEU3RkY0Rg?api-version=2021-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzkyMTgzMTc4ODA4NzMwNXw0MDA4NjI4MTcwMzE0NTg5OTY0OTQ0ODJFOEU3RkY0Rg?api-version=2021-10-01
  response:
    body:
      string: '{"createdDateTime":"2022-06-30 10:52:57Z","lastActionDateTime":"2022-06-30
        10:52:58Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-kv-sd-000003?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-kv-sd-000003","name":"cli-test-kv-sd-000003","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-sd-000003","location":"eastus2","tags":{},"deletionDate":"2022-06-30T10:53:07Z","scheduledPurgeDate":"2022-07-07T10:53:07Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNzkyMTgzMTk4MjIzNjU5Nnw3QjZGRTVGMjc0MjU0REMyQjQ2N0QxMzQ0Nzg2RjFGQg?api-version=2021-10-01
  response:
    body:
      string: '{"createdDateTime":"2022-06-30 10:53:17Z","lastActionDateTime":"2022-06-30
        10:53:20Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
