interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2726729'
      ocp-aad-diagnostics-server-name:
      - +ZQCeST5sqkh8PfRlmTpQsH/+32BWqALmUNV8T7ZW80=
      ocp-aad-session-key:
      - u1WmLm0TSRJj022msYYqd2gxbUJ_HTFDupV_u4nKpmdDmxUNO310M7dwqR9xyPFC4X9DjADA3Z6pf_AHR87-KYf_OwtUbhn1iU9m8oGQ5pPZ-bg4BFydTOeZhGGV0k48.EIrThSNs_PeaQT8KILZcrjpAQU88PVXjvJjgo8xk_u0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv1","name":"bim-kv1","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkv2","name":"bimkv2","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/dogfood-env-pwd","name":"dogfood-env-pwd","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMDFjRGMwY0d4aA=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMDFjRGMwY0d4aA==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","networkAcls":{"bypass":"AzureServices","defaultAction":"Deny","ipRules":[],"virtualNetworkRules":[]},"accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault8946","name":"sdktestvault8946","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg8681/providers/Microsoft.KeyVault/vaults/sdktestvault8946","location":"North
        Central US","tags":{},"deletionDate":"2020-09-24T09:30:33Z","scheduledPurgeDate":"2020-12-23T09:30:33Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4147","name":"sdktestvault4147","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg7255/providers/Microsoft.KeyVault/vaults/sdktestvault4147","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletionDate":"2020-09-24T09:27:05Z","scheduledPurgeDate":"2020-12-23T09:27:05Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1508","name":"sdktestvault1508","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg493/providers/Microsoft.KeyVault/vaults/sdktestvault1508","location":"North
        Central [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzQzMjczMTUxNjM2NjEyNnw4N0Q2NkU5ODQxOTg0RjcwQjUwMEI2MjIzQjkwNDYxNw?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzQzMjczMTUxNjM2NjEyNnw4N0Q2NkU5ODQxOTg0RjcwQjUwMEI2MjIzQjkwNDYxNw?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-12-11 08:45:50Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzQzMjczMTUxNjM2NjEyNnw4N0Q2NkU5ODQxOTg0RjcwQjUwMEI2MjIzQjkwNDYxNw?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzQzMjczMTUxNjM2NjEyNnw4N0Q2NkU5ODQxOTg0RjcwQjUwMEI2MjIzQjkwNDYxNw?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-12-11 08:45:50Z","lastActionDateTime":"2020-12-11
        08:46:03Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZdBb%2BJIEIX%2FC1rtaQltsDMhUrTCcTfBSZfjdlcDvjnYgdAGHCAD8Wj%2B%2B5aTmdk9bTS3JBIIjC2QP9579epba10c9zcPa7trnX9rQaT01SUHrQY3mLTOW4v9vtqddzqrbJ3Ni1Wx3p9k9dO2OJltVp3d091utn2o9g%2Bb9a7D7pz7U%2FeL03bu7lnbzfOsnRWzXnt21%2B9%2B6d6zvtdnnWq7%2BfqQF9tdRz7Mtpvd5n5%2Fcl08m%2Byp3Hfyoiz2Rf5ysPs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZfRb6JKFMb%2FF3Nzn651EHBrk%2BYGlhlX2hlkmDMob1RoKyNK1a7KZv%2F3PXT3bu5bs29tExOcnEEzP75zvo9vvU15OtyuNmbfu%2FrWE5FUXz5ToaR3C0nvqvd4ODT7q8Ggzjf5Q1mXm8NF3j7vyovlth7sn%2B%2F2y92qOay2m%2F2A3Fn3I%2BeT1bfu7knfKYq8n5dLu7%2B8Gw8%2FDe%2FJ2B2TQbPbfl0V5W4%2F4Kvlbrvf3h8ubsqzzp%2FXh0FRrstDWbw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZdb%2BI4FIb%2FC1rt1VJsSJimUrUC4jCktUMcH0NzF0goxAmkhA6Q0fz3Pensrvau2rtOpViRdaJYevR%2B%2BHtnn11Oj7u9qTt33zsikOrrhAklR48Qde4629Opqu96vTLZJ89Zme1PN0nzesxu1oeyV7%2Bu6vVxV512h33dIyu6GVpfaJeuNqRrpWnSTbL1oLteOf0v%2FQ1xbIf0quPh2y7NjnWP79bHQ33YnG4esqtOXotTL82K7JSlb5v6z6Tadb%2Fhl%2Fjz%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZdj9o4FIb%2FC1rt1TLYkNBhpNEKGpsNHTvE8TGQu0AyDHECKWFKSNX%2Fvgc62sutejetlFw4sRKdR%2B%2BHv3b2WXN62u1t3Xn42mHjSEPUeei8nE5V%2FdDrlck%2B2WZltj%2FdJe3rMbvbHMpe%2FbquN8ddddod9nWPrOnz0PlAu3T9TLpOmibdJNsMupv1qP%2Bh%2F0xG7oj0quPhyy7NjnVP7DbHQ314Pt19yi4meS1OvTQrslOW3hb130m1637Bnfjxxz6ho[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZvb9pIEIe%2FCzrdqyOsCU5DpOhE8G4OJ7uO1zMD8TsDDoE14IJTjKt%2B9xtoVd2rnvourTCyVv4nP57fM%2FO5tcnr6nG5cfvWzeeWHCSASeum9VpV5f6m01lnm2yRr%2FNNdZE1b7v8YrZdd%2FZv0%2F1styyr5Xaz74ip93LV%2B%2BC1vemLaPfm86yd5bPL9mza737ovoi%2B3xedcrf9tJznu31HL2e77X77Ul085EfK3oqqM8%2BLvMrn58X%2B76xctj%2Fxm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVdb6M4FIb%2FS7Taq01jE%2Bg0lapVUkxapjbhcOw03BFw2mDyMYEOCaP57%2Buko72c1e5VZyW4OLaFxaP3POdbb6uPzdN6a%2Bre7bceGycok95t77Vp9vXtYLDJttmL3uhtc5V1bwd9le82g%2FptWeeH9b5Z77b1gCzp6tr9RPt0uSJ9tyiyfqbzYT9fjpxPzoqMvBEZ7A%2B7r%2BtCH%2BoBX%2BeHXb1bNVef9Ullb1UzKHSlG11civrPbL%2Fuf7Un7cfvHEJHf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dRRb9owEMDx74KmPY2SQEJHpWqijdNBa6cxdwfkLQRTwElISWghVb%2F7nK7a46S9dZXyEsmypZ%2Fu%2Fi%2BtXB2ru02uy9bFS4sNJ4CT1kVrXVVFedHpZHEeP6hM5dVZXB%2F26izZZZ3ysCiT%2FaaoNru87FgLe9V3zu22vVhZbWe5jNuxSnrtZDHonndX1sAdWJ1iv3vaLNW%2B7PBNst%2BVu1V1dqtOFB%2FSqrNUqarU8u2n%2FBEXm%2FaTOWkuv%2Bxa9qBtm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRRb9owFIX%2FC5r2NBoHkrapVE10sRkpdoi5NiVvJjEtOIFAQoFU%2Fe8z6573vFWyZFm%2Butb5fO5562z0qRmvNqbu3L118GAKYtq567w0TVXfOU6pNupZl3rTXKn2sNdX2bZ06sOizvarqlltN7WDFu7y2rtxu%2B5iibpenquu0lm%2Fmy2C3k1viQI%2FQE61376ucr2vHbrK9tt6u2yuHvVZqkPROLkudKPz34f6u6pW3VdbaZvf95AbdJFd7tcvtbEvbo3e3EMZH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRPb6MwEMW%2FS7Ta06bBCbSlUrVKi1lBiknMjBNxI%2BD8qYFQIA2l6ndfU%2B15z7uVfPDT2B75p3nvfVTKrn06lqoZ3b2P6DwCjEZ3o0PbVs3dZFIkZbKXhSzbq6Q%2F1%2FIqPRWT5rxt0vpYtcdT2UyMLdldmzdkTLY7Y2xmWTJOZDobp1t7ejPdGbZlG5OqPr0eM1k3k%2BCY1qfmtGuvFvJNJOe8nWQyl63MPkXzM6mO41d9Uj9%2BPzWIPTb0It%2B%2FNUp3PCl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRRb9owFIX%2FC5r2NJoYknapVE1AHFRaG%2BL43tC8hWAoOEBIQgmp%2Bt9nqj3veatkydfy9bX06Zzz3tmrpn7e7HXVuX%2Fv0EEkIercd17ruqjuLWuX7tO12ql9fZO2p1LdZIedVZ0WVVZuinpz2FeWvSCrW%2BeOdMliZXed5TLtpirrd7OF17vrrWzP9WyrKA9vm6UqK4ttsvJQHVb1zZO6YHrKa2upclWr5eeh%2BpUWm%2B6b6TTDH3o28bq2WeT7t0qbHw9a7R%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbuIwFEX%2FBY3maSA2TWiDhEbQOGjSJinOOQ7kLSTmZnKBhDZQ9d%2FHreYnppJfts7F0jp7v%2FdK2bXP%2B1I1vfF7j00jwKg37u3atm7GhlGkZbqVhSzbQXq7nOUgqwqjuayb7Lyv231VNgZZ083IvKd9ut6QvpnnaT%2BV2V0%2FW9vD%2B%2BGG2JZNjPpcve5zeW4Mf5%2Bdq6batIMneRXp5dgauTzKVuZfovmd1vv%2Bq%2B7UyydDQu0%2B0Y%2F%2B%2FNE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbtowFED%2FBU17Go0NmC2VqqkqDkvaGLjxvaF5C4lpwQEyEjqaqv8%2BU%2B0nVskvV7q6lo7Oeevtzbl92Oxt07t%2B68nbRGPSu%2B49t23dXHveLt%2FnT2Zn9u1V3p2O5qo47LzmtGqK46ZuN4d947EVX49H33mfr9asPyrLvJ%2BbYtgvVv7g%2B2DNfOEzrz4eXjalOTZevCmOh%2Bawbq%2FuzSvlp6r1SlOZ1pQfQ%2FMzrzf9F7fpjt8MGPf7zD3%2B9Utj3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPtbtowFAbge0HTfg0SA6ELUjU1i13xYac4xyc0%2F0wSVup8jYSWUfXeZ7bdxCpZsl7JsuVH73kb1MW5Xx9q0w3mbwN6F4OKB%2FPBU9%2B33dxxKl3rH0VV1P1IX07HYpQ1ldOddl12PLT9oak7x92R%2FWx6Q4Zkt3eH0zzXQ11kk2G288c3473re77rtMfm5ZAXx87hh%2BzYdM2%2BH62KX6hPZe%2FkRVn0Rf4ndN90exi%2B2JP28tuxS%2Fyhaxf5%2FKkz9sXGF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbuIwEIXfBa32amkcIG1TqVrBEtMGYpqJZ2hzFxJTwPlTElqg6ruvqfYltpJvjmc0I38%2B56NXqmO32JW67d199LxxJDHq3fW2XVe3d5ZVJGXyqgpVdlfJ%2BdCoq7QqrPawbtNmV3e7qmwttrY316Mbu2%2BvN6w%2FyrKkn6h02E%2FX7uBmsGGu4zKrbqq3Xaaa1gp2aVO11aa7mqsTJYe8szKVq05lX6L9ndS7%2FpvpNMPvB8x2%2B8wc%2B%2BePVpuNlVblvSz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRTtswFIbfpZp2tRK7NIUgoQlaBxYaF07OcUru0sSF4iQNSQoliHefO%2FYEu0KTfHP028fSp%2B9%2FH1R63803lWkHZ%2B8DcREhRYOzwWPX1e2Z45RplT7oUlfdUdrvGn2UbUun3a3arNnU3WZbtQ5b8fVkfMKHfLVmw3Gep8NUZ8fDbOWNTkZr5rkec%2Bpm%2B7LJddM64SZrtu123R3d6DeV7orOyXWhO53%2FGdqfab0Zvtibdvn5iHFvyOzh37%2B1xv64Nbo6x[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb9owEIb%2FC5r2aTROIGypVE202BVpY8TlfEC%2BhcSsxAlJSWhTqv73mW1%2FYpUsnU46%2BeTHz%2Fs%2BOOi%2Be9wfTDu4fh%2FwaYwqHlwPnrquaa8dp0oP6S9d6UN3lZ5PR32V1ZXTnrZtdtw33b4%2BtA7burvJ%2BLs7dLc7NhzneTpMdTYaZtvA%2B%2B7tWOAHzGmO9cs%2B18fWifbZsW7rXXf1oN8oPZWdk%2BtSdzr%2F07Q%2F02Y%2FfLGT9vIbj7n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPfbpswFMbfJZp2tRSbQFoqVVNbTBQaQzHnOBl3JDhNYiAUSJuk6rvP2fYSq%2BSb4%2FNP%2Fvn7Pga1Ovazba27we3HgN2ngOngdrDp%2B6a7tawqr%2FMXVam6v8rPh1ZdrfaV1R2W3ardNv12X3cWWdL12LmmQ7pck6FTFPkwV6vRcLX07Gt7TTzXI1bT7t%2B2hWo7i29X7b7br%2FurJ3WS%2BaHsrUKVqlfFn6D7mTfb4ZupNMPvbEK9ITGHfv%2FWabNxr1V9B5V[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNdb9owFIb%2FC5p2NRobCl0qVRMqdtW0dhrnnBOWu0DCCk5CSkIbqPrfZ7b9iVXyzeuvIz16n%2FdBXfTd46a27eD6fSBmMWA8uB48d13TXnteldXZr6Iq6u4iOx32xcVqV3ntYdmu9pum2%2Bzq1mNLvp5eXvEhX67Z8DLPs2FWrMbD1dIfXY3WzJ%2F4zGv2u9dNXuxbT21W%2B127W3cXD8WRskPZeXlRFl2R%2Fwntj6zZDF%2FdTff5zYhxf8jc4l%2B%2FtNZN3Nm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbuIwEEX%2FBa32aWlimtCmElqVxqlKG1MmngnkzRBTqJPAktANqfrva6r%2BxFbyy5VHtubonvdepdvmaVuZunfz3uO3icSkd9PbNM2%2BvnGcUlXqRZe6ai5Udzzoi9WudOrjsl4dtvtmu6tqx12y9dC7Yn22XLt9L89VX%2BnVZX%2B1DAZXg7Ub%2BIHr7A%2B7t22uD7UTb1eHXb1bNxeP%2BkTqWDROrgvd6Pwz1L%2FVftt%2Fs5P28dHAZUHftYf9%2FFEb%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb5swEIb%2FSzTt01LsBNZRqZpKMetoMaq5u6R8I%2BC0iYFQIF2aqv99TrU%2FsUq%2BD%2Bc72dKj93mbtPow3m1aM0wu3ibiKgPMJheTp3HshgvHaYq2eNSNbsez4rjv9Vm5a5xhvxrKftONm107OGzF19%2Fdcz7lqzWbulVVTAtdzqflyp%2Bdz9bM93zmdP3uZVPpfnCSTdnvht16PLvVr1Ts69GpdK1HXX00w8%2Bi20xf7KZ9%2FHLGuD9l9vCvXwZjf9wZ3V5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbpswFIbfJZp2tRQ7TdpRKZqaxKCRYopzzknCHQGnSyBAgbQpVd99ZttLrJJvfukcW%2F70%2Fe%2BDQl%2Fah0ORNYO794G4XwGuBneDX21bNXeWdYqL%2BEmfdNFexd251ldJebKa865J6kPVHsqisdiO72%2FGt3zId3s2HKdpPIx1cj1MdvbodrRn9sRmVlWXL4dU143lH5K6bMp9e7XUbxSf89ZKda5bnf4JzY%2B4OgxfzKS5fDpi3B4yc%2FjXL01mXiwzXUzhZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPvbtowFMXfBU37NIgNpF2QqqkUBzVtTGN8L6m%2FhcQU4vwbCS1Q9d1nur3EKl3JujpHvtJP57z3Kn3sHneVaXuT9x67XUpY9ia9bdc17cRxyqRKXnSpq26QnA97PUjr0mkP6zbd75puV1etQ9Z0czW%2Bpn263pD%2BOMuSfqLTUT9de8Pr4YZ4rkecZl%2B%2F7jK9b51wl%2B7rtt50gwd9wuRQdE6mC93p7HNpfyXNrv9qnfbzmyGhXp%2FYod%2B%2FtcZerI2ubmT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtTtswFIbvpZr2ayVOmwBBQhNQu1ohLjn1OQ35lyYutM7XkpS1Qdz7DNpNDMmW9UrHtvTofd5GlT72D7vKdKOrtxG%2FWSlcja5GL33fdFeOU6ZV%2BqxLXfVn6XBo9VlWl0532HRZu2v6XV11Dtu423Pvwh27my0be3mejlOdTcfZJphcTLYs8APmNG39ust12znhLmvrrt72Z%2Ff6ROmh6J1cF7rX%2BWfofqbNbvxqJ%2B3j1xPmBmNml%2Fv9W2fsj7XR1bUqg0OyO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNdT9swFIb%2FSzXtaiV2ScqChCYgdkVKHHHi45bcpYkLrfNFk0IaxH%2Bf2fYnhnRuXunYlh897%2Fuk1kN%2Fv6tNN7l8n7DrRGIyuZw8933bXTpOldXZk6503Z9l4%2FGgz%2FKmcrrjpssPu7bfNXXnkA3dzt0LOqWbLZm6RZFNM52fT%2FONP7uYbYnv%2BcRpD83rrtCHzol2%2BaHpmm1%2FttQnlR3L3il0qXtd%2FAndr6zdTV%2Ftpr38akaoPyV26PdvnbEvN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdTttAEEbfJap61eDdEAeMhKqUrKMYvGnWM2vLdxt7A8n6D9shJoh370L7EkWam5FG30hH53sbVXroH%2FaV6UY3byM2jwCj0c3oqe%2Bb7sZxSlWpR13qqr9Q52OrL7K6dLrjtsvafdPv66pzyJbuZtMrOqbbHRlP81yNlc4ux9nWm1xNdsRzPeI0bf2yz3XbOeE%2Ba%2Buu3vUX9%2FpVqmPRO7kudK%2Fzz6X7qZr9%2BMVe2vDbCaHemNih3791xn6sja5uofSOaTR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbqMwEEbfJVrt1abYSaBLpGiVBlOVFJMaj0O5c8D5MxACpE2p%2Bu7rrvoSW8k3Y4890vF33geVunaPh0q3g%2Bn7gMxjDvFgOth3Xd1OLauUldypUlXdjewvjbrJTqXVXjZt1hzq7nCqWgtt8NaZ3OIh3mzRcJLncihVNh5mG3d0O9oi13aRVTenl0OumtYKD1lzak%2Fb7map3oS8FJ2Vq0J1Kv9XtH9kfRi%2BmE7z%2BGyEsDtEZuGfP1ptJp60qma8dC9pfBUSpwk[...]
- request:
    body: null
    headers:
    method: GET
[...]
