interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-graphrbac/0.60.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-graphrbac/0.60.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:45:32 GMT
      duration:
      - '2429776'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - xsDuxg+DnSkPNi77Rg8RaRUuQ9cvtYMMdi27ynpDZuA=
      ocp-aad-session-key:
      - dPOHX6TDs1C7Ucjs2Pgk0-Iy6ctdoiKpt5E5XZv9oO2c6rVq3YosEbtflcFZAvuq9vakfW1kTKeIqe6tx3qiQI1kSZyiiBk26x4VUmKhOUJ8K4CqygZBzbU5Zky4kOhO.QhXfd7sLtk6PtfRt5peO9OyuX3nhj6H8Jaf-pteWWY8
      pragma:
      - no-cache
      request-id:
      - 2c0972f4-459f-49a9-984a-d0fd8df7208a
=======
      - Thu, 19 Mar 2020 14:37:57 GMT
=======
      - Sun, 22 Mar 2020 05:27:36 GMT
>>>>>>> All tests passed
=======
      - Wed, 25 Mar 2020 06:28:24 GMT
>>>>>>> updated
      duration:
      - '2843242'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - xRs+dGtF1cna6moTXp41LvB1EiQYFbmLsdOzyB02jr8=
      ocp-aad-session-key:
      - ZbdU9B1PElIw-8dpmx3-q3kpa_lhqZP3j3peK5nyjhhnw58W5bxlnKe5NL4VWJmlFh7-dDllnxlkjufTcOn8jjfeeOh9NS0iDRmgzPFuOZDNwk0bt9dvLVgAUYjS8MIk.LwC5CclOKjW6Crc-G6jewv7hMtrpaHc4NEtOYaSW9UQ
      pragma:
      - no-cache
      request-id:
<<<<<<< HEAD
<<<<<<< HEAD
      - 2c626ca4-f73a-43f7-99f5-c5e771d7fcea
>>>>>>> Update tests
=======
      - deefae64-17bc-46e3-863e-5d5dd711df6b
>>>>>>> All tests passed
=======
      - cba92bb1-f710-48d1-88be-64a4eb195d3c
>>>>>>> updated
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false}}'
    headers:
<<<<<<< HEAD
      CommandName:
      - keyvault create
=======
>>>>>>> Update tests
      Connection:
      - keep-alive
      Content-Length:
      - '839'
      Content-Type:
<<<<<<< HEAD
      - application/json; charset=utf-8
      ParameterSetName:
      - -g -n -l --sku --enable-soft-delete
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
=======
      - application/json
      User-Agent:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/0.1.0 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> Update tests
=======
      - azsdk-python-azure-mgmt-keyvault/3.0.0b1 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> updated
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_cert_contacts000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-ct-co-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_cert_contacts000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-ct-co-000002","name":"cli-test-kv-ct-co-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://cli-test-kv-ct-co-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:45:39 GMT
=======
      - Thu, 19 Mar 2020 14:38:06 GMT
>>>>>>> Update tests
=======
      - Sun, 22 Mar 2020 05:27:45 GMT
>>>>>>> All tests passed
=======
      - Wed, 25 Mar 2020 06:28:32 GMT
>>>>>>> updated
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-service-version:
<<<<<<< HEAD
<<<<<<< HEAD
      - 1.1.0.271
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
=======
      - 1.1.0.275
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1198'
>>>>>>> Update tests
=======
      - '1199'
>>>>>>> All tests passed
=======
      - 1.1.0.276
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
>>>>>>> updated
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - keyvault create
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -n -l --sku --enable-soft-delete
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
      Connection:
      - keep-alive
      User-Agent:
<<<<<<< HEAD
      - azsdk-python-azur[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: GET
    uri: https://cli-test-kv-ct-co-000002.vault.azure.net/certificates/contacts?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:46:12 GMT
=======
      - Thu, 19 Mar 2020 14:38:40 GMT
>>>>>>> Update tests
=======
      - Sun, 22 Mar 2020 05:28:20 GMT
>>>>>>> All tests passed
=======
      - Wed, 25 Mar 2020 06:29:06 GMT
>>>>>>> updated
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000;includeSubDomains
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-network-info:
<<<<<<< HEAD
      - addr=167.220.255.4;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.0.897
=======
      - addr=167.220.255.68;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.0.898
>>>>>>> Update tests
      x-powered-by:
      - ASP.NET
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"contacts": [{"email": "admin@contoso.com", "name": "John Doe", "phone":
      "123-456-7890"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: PUT
    uri: https://cli-test-kv-ct-co-000002.vault[...]
[...]
