interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002''
        under resource group ''cli_test_keyvault_mgmt000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2419030'
      ocp-aad-diagnostics-server-name:
      - DV2TfygIV/OnTrjdqCo1JaXefzSCAlT8exEQQ0th3/w=
      ocp-aad-session-key:
      - ECV7lOlGuMhB9KmIgmLwhmbRoj45KVTbP1-ebAoXlUWyx2Dp_SEEtrqBl8SMiZYWsoPtfC4GEQjWxPzKnqLQWDvmoeATHRuJqoqp6ovfQ6Lw1BkZVocSs-sZ3iRR54YU.e-HZn_THal7AYiObfUP0--v5WQnZsuf0_hDud18Q7Fw
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMDNZV3Q1WWpJMQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMDNZV3Q1WWpJMQ==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/s[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_mgmt000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001","name":"cli_test_keyvault_mgmt000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-07T10:03:09Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4147","name":"sdktestvault4147","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg7255/providers/Microsoft.KeyVault/vaults/sdktestvault4147","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletionDate":"2020-05-18T08:25:58Z","scheduledPurgeDate":"2020-08-16T08:25:58Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1508","name":"sdktestvault1508","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg493/providers/Microsoft.KeyVault/vaults/sdktestvault1508","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletio[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5NzEzMDU4ODAzODcxMnw4OTdERjBDQ0E4RDc0RkEyOENCMDZGOTc3OEIyMDcyMw?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5NzEzMDU4ODAzODcxMnw4OTdERjBDQ0E4RDc0RkEyOENCMDZGOTc3OEIyMDcyMw?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-07 10:04:17Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5NzEzMDU4ODAzODcxMnw4OTdERjBDQ0E4RDc0RkEyOENCMDZGOTc3OEIyMDcyMw?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5NzEzMDU4ODAzODcxMnw4OTdERjBDQ0E4RDc0RkEyOENCMDZGOTc3OEIyMDcyMw?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-07 10:04:17Z","lastActionDateTime":"2020-07-07
        10:04:34Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVdb9owFIb%2FC5p2NYrztUKlagrYYbAeuzZ2qvQOkpCSpFCRtICr%2FvedVFP3G0CKL6xYifLkfd7z3tvmx%2FZus62a3s17jwulf08Y1yq8M4veTe%2BpbV%2Bam8HgebldFvlzvm2vlvZ1n1%2Blu%2BdB87pq0v3mpd3sts2ArJz1T%2F%2Fa6TurNen7WbbsL%2FPU66erkXvtrskoGJHBy373tsnyfTOATbrfNbt1e%2FUnP8XL17odZHmdt3n2uWl%2BLV82%2FTc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVhb9owEIb%2FC5r2aRQnwAqVpingS5eud5mNnSn9RkmgxBQqQkviqv99xzZtv4HKkSIrp1h589xzr51t2Rxu11tXd65eO5Rq820KZHR0a2edq87D4fBUX%2FV6j%2FPtfFU%2BltvDxdw%2F78uLxe6xVz%2Ff14v9%2Bumw3m3rnrgPlp8Hl0E3uF%2BK7qAo5t15ueh3F%2Ffj8DJcivFwLHpP%2B93Luij3dQ%2FXi%2F2u3i0PF9%2FLNps%2Fbw69otyUh7L4vam%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVdb9owFIb%2FSzTtahTngxUqVVOIzZasPq6NTRXuIISUhEJF0pK46n%2FfybT1P1Apvsi3zuPzPufNOeRtc7c7VLVz8%2BaAUPpXxECr8M7MnRvnsWme65vh8Gl1WBX5U35orlb25ZRfZcenYf2yrrPT7rnZHQ%2F1kKzd7ffg2h246y0ZBJvNarDKM3%2BQrSfetbclk9GEDJ9Px9fdJj%2FVQ77LTsf6uG2ufufdYvWyb4abfJ83%2BebvSf1j9bwbvOKT%2BPFbj7iTA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXhbqJAFIXfhWz211oZxa02aTboDC5s70xnnKGx%2FxQRZawaoVWm6bvv1aR9B5tAmIEbCOee8913b5uf6of11lbe3bvHhdJ%2FR4xrFT6YiXfnrep6X9212y%2Bz7azIX%2FJtfTNzr4f8Jtu9tKvXeZUd1vt6vdtWbX9Olr%2BDW9Ii86XfChaLWWuWZ91WNh90bjtLf9Ab%2BO39Yfe2XuSHqg3r7LCrdsv65l%2FepLPXTd1e5Ju8zheXTfVntl%2B33rASX37f8cmg5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtbqJAFIbvhWz211r50C02aTbojF3czpnOOEND%2FyHgB2PVCC06Te99D03Te7CBhExCIOfJ877nzdmVp%2BZ%2BszO1c%2FPmAJfq74SCktG9njs3zrppDvVNv%2F%2Bc7bJV%2BVzumqvMvhzLq3z%2F3K9fFnV%2B3ByazX5X992Ft%2Fw9uPZ63mLp9gZFkfWyMg96%2BWLkX%2FtLdzQcuf3Dcf%2B6Kcpj3Web%2FLiv98vm6l95TrKXbdMvym3ZlMXHof6THTa9V[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbtowFIbvJZr2axTna4VK1RSww9L12LOxqdJ%2FkISUOAVE0gKueu8966TeQytZsi1Ztvzoed8Xb1ud%2BtvN1nbe1YvHhdK%2Fp4xrldyauXflPfT9vrsaDh%2BX22VdPVbb%2FmLpng7VRbF7HHZPq644bPb9ZrfthmTlr39Gl%2F7AX63JICrL5WBZFeGgWI2Dy2BNxvGYDPeH3fOmrA7dEDbFYdft1v3Fn%2Bq8WD61%2FbCs2qqvyvdN92u53wye8SRefh0QfzwgO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXRbtowFIbfJZp2NYqTwAqVqgmwYWE9x4uxU6V3IQRKTAGR0BBXffcddrE9QyvlxkoU63z%2Bv99v3r641A%2Fbva28uzcPpdI%2FJwK1Gj2YhXfnPdf1sbrrdl%2ByfbYpXop9fZO586m4yQ8v3eq8rPLT9lhvD%2Fuqy5b%2B%2Bnvv1u%2F4yzXr9FarrJMVedjJl8PgNlizYX%2FIusfT4XW7Kk5VF7b56VAd1vXNr6JNsvOu7q6KXVEXq7%2BL6kd23HZe6Uv6%2BX3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRjqIwFIbfhWz2apGCuKMmk43SYnDnlG1tmXiJWBWKYARHYDLvPs1msu%2FgJk2atic9ydf%2F67tVqa59ySvdWPN3iyw2Qm6suXVq20szd5xzWqVHdVZVO0qH21WNsvrsNLddk13zS5vXVeOgnXv46T%2B5trs7INvf71M7VdnYznYz78k7oNlkhpzLtX7L9%2BraOJBn17qpD%2B3ot%2BqT9Fa2zl6VqlX7v4vmV3rJ7TdTaS5%2F9pA7s5EZ7vdvjTYda62qZ6mTV56sBZc8FCSRGzmLX2QpDzhyQRw7KMid4qMHQk%2BgiHwQyRRkiAGD2d96seSYEuIxFK7YUAaxSAgvMhcK6EFG1o8vDt6Dg7jHOLsDZmOKoaNi0VPBp1yEmMmtD8MasyFDBogLOppQyQPQdBWLyItJNGECDIhX8h8EwnAwDITuAG%2FHtCBjKMIpEyWmiPlUA2KCLilhLhdHE4BkBSjy2JCETCwxJ%2BSLQ0AMv8XLw%2FthcEifDto8ve6NH12MT1OOtR9L6cZkveKSEoqJqTstTSQCKsgEzBk3PrFha3D8Q0Hk4s%2BDW9JRzO6xYMh8HYOZexjKKSXgc7ntqZQ9L%2FRACQ%2BYDgNeHBGX0mdFuOKYGYsi6%2BPjEw%3D%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/mysqljhilwhpmaii32pnguv5","name":"mysqljhilwhpmaii32pnguv5","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgxwmpnupm5fxfx2lgnuayxrylighipskpgpbw4sfli7k2dmpzzq47rerd6mlu3hzap/providers/Microsoft.KeyVault/vaults/mysqljhilwhpmaii32pnguv5","location":"eastus","tags":{},"deletionDate":"2020-05-16T02:48:02Z","scheduledPurgeDate":"2020-08-14T02:48:02Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/pgsqlzev7oihpvc73cgwzjaw","name":"pgsqlzev7oihpvc73cgwzjaw","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgnzrpogu26v5z7uravh53ra5yqyme3765v7xsfaukoupbokeahpksexsdf4inmdqys/providers/Microsoft.KeyVault/vaults/pgsqlzev7oihpvc73cgwzjaw","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtbtowFIbvJZr2a5AvsgJSNQXsVDCOUxs7Ff0XQqCJgSASSuKq977DVO0emGTJPtKRrffxcz6sY942i%2BKoa2v8YdFwKdXSGltvTXOqx7Z9SI%2FpLj%2Fkx6afmss572fVwa4v6zo7F6emqI617azd7c%2FBg9tz11unN9hs0l6aZ34vW4%2B8B2%2FrjIKRY5%2FO1Xuxyc%2B1DUV2rupq2%2FR%2F512SXvaNvcn3eZNv%2Fhb1r%2FRU9N6xEy9%2F9Bx31HNwud%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRdb9owFIb%2FSzTtaiFfsAJSVYXaIBjnZDZ2KnoXkhCSQIJIKMFV%2F%2FvMVu0%2FUMkXxx%2By5Ufvc96NKu3aZV6VjTF%2BN6i%2FEnJljI1d2x6bsWUdoirK0kNatb1InU9pL64PVnPeNPEpP7Z5XTWWvXG2P%2FsPjulstrbZT5LIjNLYM%2BPNyH1wt%2FZoMLKt46l%2By5P01FiQx6e6qbdt71d6DaPzvrWSdJ%2B2afJ30jxFx9x80yf15Y%2Bu7YxMWw%2Fn%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb5swEIb%2FC5r2aQRD2BoiVRPBpCKLbZnYVOwbAUPBBCIghbjqf5839U900lm6k08%2B3eP3fTM6sUzHupOjsX0zQv%2FE%2BMnYGi%2FTdB23lnXJuqwSF9FNq0zdBrHK%2B4s13s5jPtTXqe670QJnu%2FzhPtimfS6B6RZFZmYiX5v52XMenBJ43z1gXYf%2BtS7EMFqozod%2B7Mtp9Uvck%2BzWTlYhWjGJ4l8x%2FsyutfmqO%2FXjjw6wPRPosL9%2BGaWe2Ev[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPRbpswFAbgd0HTrkYwhKxJpGpKYxOlyzHCsanSOwImAxOIgBRw1XefNfUlOsk3lixb%2Fs7%2Fv1u1HPtDUavOWr9bZHPk4mitrT99f%2BvWjnNN6uQir7LuZ4m%2Bt3KWNlenu5%2B7tC1ufdHUnYPObv7Tf3Bt95wj28%2ByxE5kOrfT88p78HK0WqyQc2ubtyKTbedAkbZN1%2BT97Lec4uRe9U4mK9nL7N%2Bm%2B5XcCvvNnDSXP3rIXdnILPf7t06ZFxsl60eh4hc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhj6IwEIb%2FC7ncp0OKC7dqsrmoLQbOtmlt3eg3LIUDFIzgKt3sf996uT%2Bxl5n5MMmbmcyTed%2BdRt%2F7ddnUnTN7d9B8I%2BTGmTl%2F%2Bv7czTzvlDZpoU%2B66UepuV70SLUnr7seOnUpz33ZNp0HDn7%2BM3j2Xf%2BQAzfIstRNtXpy1WE6fh7nYBpOgXe%2BtG9lpi%2Bdh0t1abs270e%2F9bBNr8fey%2FRR9zr723S%2F0nPpvlmlHf4yBv7UBTb979%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbpswFIbfBU27GsEmYQ2RqinFjkQW2zKxU%2BWSgJOCE4iANEDVd9%2FZNPUdWsm%2BsM7ROfo%2F%2F%2F%2BbU5m%2B2xSVbZ3Fm0OXW6W3zsJ56bpru%2FC8S1qlJ3MxVTdJx1tjJll98drboc2a4toVddV66ICPP2cP2MWHI3JneZ66qcmmbnYI%2FQf%2FiMIgRN61qV%2BL3DStx4qsqdv62E1%2Bm2GX3s6dl5uz6Uz%2B79H%2BSq%2BF%2BwqdMPzRRzh0ERz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNha%2BowFIb%2FS7ncT6tNq71TYYxq4qjXk5KYdLhvtcbaRluxdWrG%2FvviZX9iFwKHcA4J5%2BF5P5xaXbtFWevWGX84JFoKuXTGzq7rju3Y8w5ZnRXqoOqul5nzSfXy5uC153Wbn8pjVzZ166G1v%2F0zePRdf71F7mCzydxM5X03X4%2BCx2CLRuEIecdT815u1Kn1oMxPTdtsu95fdUuz877zNmqvOrX5d2mfs2PpvttJ%2B%2FhTgPyRi%2Bzxf%2F9qtf2x0ap%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb5swEIb%2FC5r2aQRDYA2Rqimr3YksNrJjp%2FK%2BETAEnEAEpICr%2FvexqH%2Bik0463el0p%2FfRe29WrcZ%2BV9a6s9ZvFtrsudhba%2BvU99du7TiXpE4KdVF1v0jMrVWLtLk43e3YpW157cum7hxwdPPv%2FoNru8cc2H6WJXai0qWdHkPvwctBGITAubbNa5mptnNwmbZN1%2BT94reaDsnt3DuZOqteZfei%2B5FcS%2Ft1npyXP3rADW0wh%2Fv1S6fni41[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZJfb5swFMW%2FC5r2NIL5t4ZI1ZTWTsUW2zKxU2VvBAwFE4gwaYmrfve6075EK92Xo3t1j85P59Xp5Txtm15pZ%2FXqoPWOi13grJynaTrrleed8j6v5Un20yI3l1EuiuHk6ctRF2Nznpqh1x44%2BtXP6MZ3%2FWMF3KgsczeXRegWxyS4CSqQxAnwzuPw3JRy1B5uinHQQzUt%2FsjrPr90k1fKTk6y%2FCf0r%2FzcuM%2F20j6%2FDYCfuMCO%2F%2F2bVtZxULK%2FF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dJha6swFAbg%2FyLjfrrWRN1WC%2BPS26TF3SZiGh3bN6uxmlgtxs7Wsf%2B%2BbOxP7ML5cuDwHnh436xWXIZt3SptLd4svNzxZOdaC6sahpNeOM4xa7ODOIp2mGXTuRezvDs6%2BrzXeV%2BfhrprtQP2sLzz76EN9yWw%2FaLI7Ezknp3vA%2FfeLUFwGwDn1HevdSF67ZA67zvdlcPsn7im2bkZnEI0YhDF16L%2FZKfafjWXJvzBBTCwgRn460Yr87FTon1IVPrE0kf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZJva%2BMwDMa%2FSzju1dL8ufTWFMaRzu5or3Kwa3V079LE6bK0SYnTpfXYd5837kvcQAJJCD3ox%2FPmNOrSr6qm1s70zaHJWuI6dKbOc9%2Bf9NTzjlmT7dVRNf0oM%2BdOjfL26OnzTudddeqrttGevwvK39Ft4Aa70nejosjcTOW%2F3HwXh7dh6cfj2PdOXftaFarTHlR51%2Bq27Ed%2F1XWTnQ%2B9V6iD6lXx1eg%2F2alyX%2B2mPX4X%2BkHs%2BjaCnz90bRX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZLhbqMwEITfBZ366wg2hWuIVJ3S2JySxkY4dqr8JGAoNoEIk4ZQ9d3rVvcSd9JKox2NdqVP8%2B60chy2dauNs3h38HLHxc53Fs7rMJzNwvNOWZtV8iTbYZZNl17O8u7kmcvR5H19HuquNR44wvJX8ABdeCyBGxRF5mYyv3fzY%2BQ%2F%2BCWIwgh45757qwvZG4%2FUed%2BZrhxmz%2FK2zy7N4BWykYMsvhfzOzvX7ptN2uOPPoCRC%2BzAux9G24%2Bdlu2j0PsXtt9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dLhaqNAEAfwd5HjPtW4GtPGQCledg3mMhvc7FqSb0ZXq2s0qGmSLX3380pf4g4Ghj8MM%2FBjPoxG3oZN2ajeWHwYxN9xsXOMhfE2DOd%2BYVmnpEkKeZLNMEn0pZOTtD1Z%2FeXYp115Hsq26S10tPNH98k27WOOTDfLEjOR6dRMj57z5OTIm3nIOnfte5nJrregTLu2b%2FNh8lve4%2BRSD1YmaznI7Cv0L8m5NN%2FHyXH5s4Nsz0Rj2T9%2F9Gq82CrZPAsVv7J4zZl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dJRb6MwDADg%2F4JO93SUQOmtVJqmbkkRXB1EmjBtbxRCC2mhInT0mPbfL5vuT0zygy1btvTJ71Yrb8O2bpW2Vu8WWe%2B42HnWyjoOw0WvHOect%2FlBnmU7zPLp2stZ0Z0dfd3roq8vQ9212kF7t%2Frt37m2u6%2BQ7ZdlbueymNvFPvDuvAoFiwA5l757q0vZawfqou90Vw2zP%2FJvll9Pg1PKkxxk%2BVXoh%2FxS229m0iy%2F95Ab2MiE%2B%2FOHVuZip2R7L1T[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZJhb6MwDIb%2FC5ru0yiBwm1UqqZucafumqCkCVU%2FUgg9CIWK0LVl2n9fdro%2FMcmWbMvyq%2FeRP5xWXYd11WrjzD4cWGyE3ATOzPk7DCcz87xj1mYHdVTtMMnGc68meXf0zHlv8r46DVXXGg%2Ft%2FfJ3%2BOC7%2Fr5EblgUmZupfOrm%2Bzh4CEoURzHyTn33XhWqNx6p8r4zXTlM%2Fqhbmp2bwStUowZV%2FGvMU3aq3He7aY%2FPA%2BTHLrLh%2F7oz2ip2W[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZJva6NAEMa%2Fixx9dcZVkzYGypF0V0ibWdnNriV9Z3RN%2FBMNrqnW0u9%2B2%2BO%2BRGGGmWGGZ%2BDH82k1aux3RVNpa%2FVpkfVeyL1nraxz31%2F1ynEuSZOc1EU1%2FSyZbp2ape3F0bejTrvi2hdtox10dPP7%2BYNru8cc2fMsS%2BxEpb6dHgPvwctRsAiQc%2B3a9yJTnXagSLtWt3k%2Fe1EfcXKreydTtepV9m%2FQf5JrYb%2BbSyP%2B6CE3sJEJ9%2B6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZJhb6MwDIb%2FCzrdp6MkXXsrlaYTXdKpvcaoNGHqfaMQGAuFCugKmfbf5zvdn5jkV7Jly5Yfve9OrYd%2BV9amc5bvDg8OUh2mztJ56ftLt%2FS8c1InhT7rup8k9trqSdqcve566tK2vPRlU3ceOdH85%2ByeuvSUE3eWZYmb6PTOTU%2F%2B9H6aE3%2FuE%2B%2FSNm9lptvOE2XaNl2T95PfeoyTa9V7ma50r7N%2FRfcruZTuG07i8ocpob5LMOj3b53Bi43R9YMy8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dLNbqMwEADgd0FVT0uwCdmWSNWKrp2IbWyEM6ZKbwRMCiYQYVIoVd996WpfotJcRpofzaf5sBo19ruy0cZaf1g02IPcu9baeu37i1k7zjlt0pM6q6ZfpNO1U4usPTvmejRZV176sm2Mg464%2BOndYRsfC2R7eZ7aqcqWdnb03Tu3QP7KR86la9%2FKXHXGYWXWtaYt%2BsWTek%2FSa907uapVr%2FJ%2FifmVXkr7ba6chz%2B4CPs2mgPf3hg9b2y1ah6kTp5F8geEFBu[...]
- request:
    body: null
    headers:
    method: GET
[...]
