interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2090891'
      ocp-aad-diagnostics-server-name:
      - EUDBWud1VROW0ktIsTUCHxtQAUX7GL4vIgKLOvk0d7c=
      ocp-aad-session-key:
      - ML3j9ryZmiVjVByFhdyI6MmivKK0V_CSDFOIjfUHv2XLqmbHhBsVe3nxMxAWa9u-TQiMBiOwMKZRddp8ehLxGHmyb1_6NP5AeimY2GzUWZ55bSTndWe0hM_CsZFqAfuc.26fCENLERVFGItC10esuNBKsidTRi3JZhHTLcmrjc04
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev/providers/Microsoft.KeyVault/vaults/dev02071bcaabcb454b8d","name":"dev02071bcaabcb454b8d","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"app":"python+postgresql02071bcaabcb454b8d"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev2933633a8c33429cb1/providers/Microsoft.KeyVault/vaults/dev2933633a8c33429cb1","name":"dev2933633a8c33429cb1","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"app":"python+postgresql2933633a8c33429cb1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-devac2af23451674337b0/providers/Microsoft.Key[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMXNjbU4xYUdobA=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMXNjbU4xYUdobA==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/s[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4147","name":"sdktestvault4147","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg7255/providers/Microsoft.KeyVault/vaults/sdktestvault4147","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletionDate":"2020-05-18T08:25:58Z","scheduledPurgeDate":"2020-08-16T08:25:58Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1508","name":"sdktestvault1508","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg493/providers/Microsoft.KeyVault/vaults/sdktestvault1508","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletio[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNTI2ODgxMzM2ODAxM3xCNEZFRjcxRDMyMEQ0RDY4OUFGMDMxODhDRUNFQ0NEQg?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNTI2ODgxMzM2ODAxM3xCNEZFRjcxRDMyMEQ0RDY4OUFGMDMxODhDRUNFQ0NEQg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-28 09:54:40Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNTI2ODgxMzM2ODAxM3xCNEZFRjcxRDMyMEQ0RDY4OUFGMDMxODhDRUNFQ0NEQg?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNTI2ODgxMzM2ODAxM3xCNEZFRjcxRDMyMEQ0RDY4OUFGMDMxODhDRUNFQ0NEQg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-28 09:54:40Z","lastActionDateTime":"2020-07-28
        09:55:45Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZtj5pKFMe%2Fi7npq7ry5K1u0tyAM3ixe87sjDM0%2BM5FpA6ubtQtOE2%2Few99%2Bg5uIiFEouHH%2F%2Bnb4FB1l4fdoTkP7r8NUCj9%2F4yjVvGDWQ7uB18ul5fz%2FWj0vD6s6%2Bq5Olzu1u71VN2Vx%2BfR%2BfXpXJ52L5fd8XAeeU%2F%2B9t%2Fogz%2F0n7beMNps1sN1VYbD8mkafAi23nQ89UYvp%2BPX3aY6nUewK0%2FH83F7uftUXfP16%2F4y2lT76[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZ%2Fb6IwGMffi7ncX%2BcsiDddslzUFg9vT1lry4L%2FKSLaMl3EDemy934Pd8neg0sggUIgzyffH33vHPLL%2BWF%2FsFXn7r3DY6l%2BTxlXcvygF527zu58fqnuer3n1WFV5M%2F54Xyzcq%2Bn%2FCY7Pveq13WVnfYv5%2F3xUPXI2tv%2BDG69rrfekm6w2ay6qzzrd7P1yL%2F1t2Q0GJHey%2Bn4tt%2Fkp6oH%2B%2Bx0rI7b882fvElWr%2BW5t8nL%2FJxv%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtbtowFIbvBU37NYoTwgaVqgmw3cF6Tmrjkwr%2BQRIoCYWK0AKueu87mabuGqiUSPmO%2FPp5H781tvnpcLfellXj%2Bq2BsXW%2Fhgqd7d%2FRpHHdeDwcnqvrVutpvp2v8qd8e7ia%2B5d9fpXunlrVy6JK9%2Bvnw3q3rVpiESy%2FRz%2BCZrBYimaUZfPmPE%2FbzXTRC3%2BES9Hr9ETreb97XWf5vmrBOt3vqt3ycPU7Pyfzl82hleWb%2FJBnf0%2Bqn%2FPnd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbtbtowFIbvBU37NUo%2Bt1BpmhLsZHQ9J7WxmcI%2FGsKHTaEitICn3ftOqmr3QKVItpUo1nl83vf1n96uOR%2FvNzvb9m7%2F9LCU6ueIo5LpvZ70bnvr4%2FG5vR0Mnua7%2Bap5anbHm7l7OTQ39f5p0L48tvVh83zc7HftwHv0l1%2Bjb37ff1x6%2FWixmPfnTR3268dh8C1YesN46A2eD%2FvXzaI5tAPY1Id9u18eb341l%2Bn8ZXscLJptc2wWb4v2x%2Fx503%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVdb9owFIb%2FSzTtahQnTVaoVE0Jx9noeuza2FRwByR8JBQQSRtw1f%2FeA6v2H6gUX8SyEp1H7%2Fv4zdvkh%2FphtSkr7%2FbNE1KbPz0ujI4f7MC79ZZ1vatu2%2B3nyWayyJ%2FzTX01cS%2F7%2FGq2fW5XL9Nqtl%2Ft6tV2U7XZ1J%2F%2FDG%2F8lj%2Bds1aYZZPWJJ9dt2bTbnATzFk36rL2br99XWX5vmrjarbfVtt5ffU3Pw4nL%2Bu6neXrvM6z80v1a7J[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXhbpswFIXfBU37tTSGkJVUqqYQXzJYr6kdOxX9RwhJg9MkCrQhVH333W7V3iGTkAzCwjrfPefw5uzKtrnb7Gzt3Lw5MJ5pM3NunKemOdQ3%2Ff5zvsvX5XO5a67y7uVYXhX75379sqiL4%2BbQbPa7us8W7uq7f%2B323MWK9fzlMu%2FlZTHoFYuRd%2B2t2Gg4Yv3Dcf%2B6WZbHuo%2Bb4riv96vm6ld5nucv26a%2FLLdlUy7%2FPNQ%2F8sOm90o76eO3HnNHPUaX%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXRbtowFIbfJZp2NYoTwgqVqimpTxisx6mNTQV3EAIlpoBIWoKrvntPumrvwCRbliXLlj9%2F5%2Febt8vr6n6zs6V38%2BZBNNZm7N14T1V1KG%2Fa7ef5br7On%2FNddTV3L8f8Kts%2Ft8uXRZkdN4dqs9%2BVbbbwVz%2FDa7%2FlL1asFS6X89Y8zzqtbNEProMV63f7rH047l83y%2FxYtnGTHfflflVd%2FcnPk%2FnLtmov821e5cvPSflrfti0XmklbX4bML%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbtowFIbvJZr2axAngRWQqinFhoXh49nYqeBfCOHLfImEElz13nuYqt1DKzlyLNmJ%2FOh531fvUNTVeHOwpdd79Vg80Wbi9bx1VZ3Knu%2Fvs0O2KvbFoWpm7nIumvlx75eXeZmfN6dqczyUPpkHy5%2Bth6ARzJek0VosskZW5FEjn3fDh3BJuu0u8U%2Fn48tmUZxLn2%2Fy87E8Lqvmn%2BKWZpdd5S%2BKXVEVi3%2BL8ld22jRecCd%2B%2FDEkQbdBcATfv5UW%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRvb6IwHMffC7nco0MK6E1NlgvasuDZstaWBZ8hoKMoGsGhXfbe77fLcu%2FBS5qmbfon%2FfTz7bvVlNduWTV1a03fLRKspFpZU%2Bu1607t1HEOWZPtykPZdIPMXM7lID8enPayafNzdeqqY9M6aONufw4fXNvdbJE9LIrMzsrct%2FPNxHvwtmgymiDndD6%2BVUV5bh1a5edje9x2g9%2FlLcku%2B84pyn3ZlcXfTvsrO1X2G8yEzR895E5sBMX9%2Fq2t4cRjXTaPqk5eRLKQQolQkkSt1CReqr3a4silctfHuPYZpoga4lNMYSwZU0J9hsKQKeILGfSMKFeQ6EYN9WOS9gLnPrQN14H144uDd%2B8gmK49Jj9hkCGT3DBTjJnMkZC5RyUjQqc9w%2FuQq%2FBJyNTj%2BjVkdXSlRsyYJADihfwPQjC9u8J9RrHc%2BSAIiiUbC53MqV4QquDxdWBAmFusop6aYs4NsFC8pzodCsK%2FOMwJkyJY3n8%2BmOFXqqNhjD%2FzQUCLZMzhqrRWvlDRiMrAZyQ1Qu%2BfYrWecUlvQs9wrKgHawHHPxREBc93nhJAwW%2BxTEdMU7AjQkyvwY4aCQwfAmaY6wXU4RyShCA1ITVgkVljJlNIUmB9fPwB
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/mysql3qvjdvib6xkhujixj5f","name":"mysql3qvjdvib6xkhujixj5f","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg4xblx3jt3osvrt2csb2uderb37whlmilj6dtnip22yg7qv4d42c7hzo2xwzvwmprk/providers/Microsoft.KeyVault/vaults/mysql3qvjdvib6xkhujixj5f","location":"eastus","tags":{},"deletionDate":"2020-06-27T02:46:19Z","scheduledPurgeDate":"2020-09-25T02:46:19Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/pgsqlqqrtfx2bkgk7k6ewzbh","name":"pgsqlqqrtfx2bkgk7k6ewzbh","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgklmh6gb66uukor5tb365r2aksitc5qssvohfxsaqnkec6jdigcwzjvlvlycffy4ox/providers/Microsoft.KeyVault/vaults/pgsqlqqrtfx2bkgk7k6ewzbh","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRjqIwFIbfhWz2apECsqMmk4naMsG1ZVtbJs4dYnWgCkZwQCbz7nvcTPYd3KQ3Jzlp83%2F5v35Ype6aZV6a2pp8WGS6kmplTay3pjnVE8c5pmW610ddNoO0v5z1IKuOTn3Z1Nk5PzV5VdYO2ri7n8MH13Y3O2QPt9vUTnXm29lm7D14OzQOxsg5nav3fKvPtUPz7FzV1a4Z%2FNLXJL0cGmerD7rR279D%2FZSecvsdNuHyRw%2B5YxvBcb9%2Fqw28WBldPiqTvIhkIYU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRtb9owEID%2FSzTt00LeYAWkagrYVDDOqY2dKv0WkpDFgYBIKEmq%2FvcdVbX%2FwCSfdJYtW%2FfouXs3qqxt1kVV1sb03aD%2BRqqNMTX%2BNM2pnlrWIa7iPDtkVTOI%2B8s5GyTHg1VftnVyLk5Ncaxqy946u5%2FDB8d0tjvbHKZpbMZZ4pnJduI%2BuDt7MprY1ul8fCvS7FxbUCTnY33cNYPfWRfGl31jpdk%2Ba7L0c1P%2Fik%2BF%2BYY38fFH13Ympo3L%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbqMwEIXfBa32qoS%2FZBsiVVXAdkU2YwSxU%2FWSgKHYCUSBFELVd6%2B76kt0JUuj0cx4NJ%2FOeTcaMfbbulGdsXo38HrH%2BM5YGa99f%2B5WlnXKmqwSJ9H0s2y6XsQsb09Wdz10%2BaU%2B93XbdJZ9cMo%2F83vHdA6lbc6LIjMzkXtmfvDde7e0%2FYVvW%2BdL%2B1YX4tJZUOeXtmvLfvZX3PbZ9dhbhTiKXhT%2Fku4xO9fmm%2B7Unz%2B4tuObtn7O71%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dNhb6IwGAfw70Iu9%2BqQFuEmJsuF2ZK4sw%2BhUhd9h1AdrYIRnI5l331PLrcPsSVt0qZNm%2BfXf9%2BcRt%2F6Rd3Yzpm%2BOTxe5mrpTJ3nvj91U887Fk2x10fd9KNiuJz1qGyPXnfZduW5PvV123Qe2dLd7%2BCOunS7I25QVYVb6HLsltvIv%2FN3JAoj4p3O7Utd6XPnibo8t12760d%2F9euquBx6r9IH3evq36T7U5xq9wV34uH3PqGRS7DRnz86ize2Vjf3yq6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbpswFIbfBU27GsGQsIZI1ZTMJqLLMcKxqdgdAZMCCURAGnDVd68z9SU6yf%2BFJctH5zvfeTMaOQ67sql7Y%2FVmkPWei72xMl6G4dKvLOucNulRnmUzzFJ17eQsa89Wfz30WVdehrJtegsd7OLn4sE27UOBzEWep2Yqs7mZHTznwSmQ53rIunTta5nLrregzLq2b4th9kdOcXo9DVYuT3KQ%2Bb9L%2Fyu9lOarfqk%2Ff3SQ7ZlIH%2Fv7t77WFdtaNo%2Bijp9Z%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPRbtsgFAbgd7GmXc0xEGdNIlVTGnDlLmBBwJV359g4NU7sKHbqhKrvPjr1JTqJc4GEQHznP29eq6%2FDpm6b3lu%2BeWS1lWrrLb2XYTj1yyA45m2%2B10fdDpPcXs56UnTHoL%2Fs%2BuJcn4a6a%2FsA7GD1M7yDPtxVwA%2FLMvdzXUz9YrdAd6gCi9kCBKdz91qX%2BtwHtC7OXd9Vw%2BS3vqX55TAEpT7oQZf%2FNv2v%2FFT7r%2B6ku%2FweAbjwgVvw%2B7e%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtbpswFIbvBVX7NYL5yBoiVROJzQSLbeHYVOk%2FAiYFJxABaRJXvfd5U2%2Bik3xk%2Bej4WOfx%2B75bnbxNm6ZTo7V8t1C05WJrLa3XaTqPS8c5FV1xkCfZTbNCXwY5K%2FuTM172Yzk056npu9EBe7f%2BETy6truvgR1UVWEXsvTtch96j14NwnkInPPQvzWVHEYHN%2BXQj309zX7Le15cjpNTyaOcZPXvMP4szo39ZipN8ycPuKENzHK%2FPYzKvNgr2T0JlT%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdjpswEEbfBVW9KuG%2FGyKtKrI2VbYZRzg2K3pHwKTYBKJAFsJq371O1T7EVpobz1i2vqMzb0YrpmFbt6o3Vm8GjvaM742V8WsYzv3Ksk55mx%2FFSbTDIp%2BvF7EoupPVXw99canPQ921vWUfnOqr%2F%2BCYzqGyTb8sczMXhWcWh9B9cCs7DELbOl%2B617oUl96Curh0fVcNix%2FilubXZrBK0YhBlH8O%2Fbf8XJuv%2BqZ%2B%2FNG1ndC0dTmfP%2FVK%2F9g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dNxb6IwFADw70Iu99chBfGmJssFbV3wbElry%2BKfCEVpFYzghC777uvd9iW2pC%2FpS1%2F60l9eX51a9t2mqnXrzF8dFG252Dpz59h1l3bueeeszg7yLOtulJnbVY7y5uy1t32bX6tLVzV164G9X%2F4OH3zX35fADYsiczOZj918PwseghLMJjPgXa7NS1XIa%2BvhKr82bVN2o79ySLPbqfMKeZKdLP4n7Z%2FsUrkvttJe%2FhgAf%2BYCu%2FyfP1ptOzZa1o9Cp88[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb5swEIb%2FC5r2aQQDyRoiVROdTZQsZ2THTpV8I2AokEAUSAOu%2Bt%2FrTf0TnXRf7vTqTnr03JvVqKHflE3dWYs3i4RbIbfWwnrp%2B0u3cJxz0iSFOqumnyT6dlWTtD073e3Ypdfy0pdt0zno6OY%2Fpw%2Bu7R5zZE%2BzLLETlfp2egy8By9HwSxAzuXavpaZunYOlOm17dq8n%2FxR4y65nXonUyfVq%2Bxf0%2F1KLqX9apJm%2BaOH3MBGptzv37raXGxr1Tz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPRbpswFAbgd0HTrkYwhKwhUjWlsYlgOUZ2bKrsjoBDgQSiQJrgqu9eb%2BpLdJJvfsmydT6d%2F81q1X3YVG3TW4s3iyy3Qm6thfUyDOd%2B4TinrM1KdVLtMMn09aImeXdy%2Buu%2Bzy%2FVeai6tnfQ3j389B9c290fkO0XRWZnKp%2Fa%2BT7wHrwDCmYBcs6X7rUq1KV3oMovXd8dhslvNabZ9Tg4hTqqQRX%2FQv8rO1f2q7lpHn%2F0kBvYyBz3%2B7e%2BMT92j[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbuIwEEX%2FJar2aUOckLSAVK0CNlW62JaNnQreAjGQOCSIhJK46r%2Bvd9Wf6ErzMKMZzege3flwatV3q6LWrTP7cFC8FnLtzJxT113ameedszo7qrOqu1Fmblc12jdnr73t2v21uHRFU7ce2PmHx%2FDJd%2F3dAbhhnmdupvZjd7%2BbBk%2FBAUyjKfAu1%2Ba9yNW19XCxvzZtc%2BhGv9WQZreq83JVqU7l%2F4r2V3Yp3Hc7aZc%2FB8CfusCG%2F%2BOh1fZio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZHdbuIwFITfJar2akOcH1qCVK0AGwTLcWRjp2LvQuKkSSBBcSiQqu9et9qXqHRuRjqa0XzzbjXq1m%2FLptbW9N0is52QO8%2BaWq99f9ZTxzklTVKok2r6UTJcOjVK25OjLwedduW5L9tGO%2Bjg5o%2FBk2u7hxzZQZYldqJS304Poffk5Sgch8g5d%2B1bmalOO1CmXavbvB%2F9Vfc4uRx7J1NH1avsW%2Bg%2Fybm038ynMX%2F2kBvayJz760HXJrGtVfMs6%2FiFx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZJhT8IwEIb%2Fy2L85Fg3QRkJMWALAek1Gy1Gv42tg62wkXWgq%2FG%2FW%2F3gfyC5XN67XO7NPbkvp5Kf7aqolHZGXw6ZrLlYB87I2bftSY8875hUyU4eZdX2EnNuZC%2Btj54%2Bb3XaFKe2qCvtoa2fP%2FQffdff5sjtZ1niJjK9d9NtGDwGOQoHIfJOTX0pMtlojxZpU%2Bs6b3svstsk50PrZfIgW5n9FfopORXuxU7a5eMA%2BaGLbPi3N1pZx1rJaizU5jXeLHk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZLRbqMwEEX%2FBa36tASbJG2IVK1I7FRpYyM7dqo8EjAUTCDCpAGq%2Fvs6q%2F2Jau7DjDS6I507X06t%2Bm5X1No4yy8Hh3sh976zdD667mKWnneO6zhXZ1V3k3i8tmqSNGfPXE8maYtLVzS18cAJZo%2BzJ%2BjCUwbcWZrGbqySqZucAv%2FJz0AwD4B3aZvPIlWt8UiRtI1psm7ypoZDfK06L1WV6lT6bzB%2F4kvhftpNa%2F7sAxi4wAo%2B%2FDLaXmy0qp%2BlP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dJtb4IwEAfw70KWvRryIE4xMYuz1eC8ErDF1wiFYRUMRcWaffd1y77EkntzyeUu98v%2FYdS87zZVLaQxfRh4vqVs6xpT47PrznJqWae0Tkt%2B4nU3SNWl5YOsOVnyspdZW527qqmlZe%2Bd4tUbO6azL2zTy%2FPUTHk2NLO9747dwvZHvm2d2%2BZa5byVFlRZ28im6AYf%2FJ6kl2Nn5fzIO57%2FNvItPVfmVU%2Fq5TPXdnzT1uU8P0mhLzaC1zMmkl2crGnM4iXFC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dJRb4IwEADg%2F0KWPQ0pKNswWRazlkXntQFbl%2FmGpSCgYChOxrL%2FvrrsT5jcPTR3uSbf3bdVq75bFnWlrem3RWYrLlaeNbV2XXfUU8c5JHWSq4Oqu1EynFo1ks3B0aetlm1x7Iqm1g7autn95MG13W2G7EmaJnai5NiW28B78DIU%2BAFyjm3zWaSq1Q4Usm10k3WjN%2FW1Tk77zknVXnUq%2FXvo5%2BRY2J%2Bm0wx%2F8pAb2MiEe3ujK%2FNjU6n6SVTr93i94[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dDRaqNAFAbgd5GlV2ucUbONgbKYzjTEZo44mUlx74yOVk00qGl1St%2B97rIvUTg3Pxz%2BH74Po1HjsC%2BbujfWHwb1D0IebGNtvA7DtV9b1iVpkkJdVDMsEn3r1CJtL1Z%2FO%2FVpV16Hsm16C51w%2Fsu9xyY%2B5ch0sywxE5U6Znry7Hs7R97SQ9a1a9%2FKTHW9xcq0a%2Fs2HxbPajomt%2FNgZeqsBpX9C%2F3v5Fqab%2FPnXP5gI%2ByZaD5896Ov58W2Vs2[...]
- request:
    body: null
[...]
