interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1983829'
      ocp-aad-diagnostics-server-name:
      - YF0m9VfRaICKZ7BaPBWJYnZAznG+rGxvI3UhMCQZVCo=
      ocp-aad-session-key:
      - 02WftHqqbihbIIf6wfvNtbJR7zGzh8k1KmPYAhpqCSSJOEk5mrszyU6ShrkyTCl28D_888CDlhWDZ9P5ihsYizbfXTGuko89g4ZLZ9QtSEV5KUSEc93Z36njtFATIl_p.g_3uywcIyp1sFvfYJG7byiZQEoZTbL81oI3-yQudJdU
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2018-02-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1212d66de7a343bd904c31e5316bbe5d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"keWj_VYAQmqb7qiMBh0SFflEEcir5T1adENc3BkoeF2OUI4l2RWZO2x4eEXR3QHKXK7FidofPsjrOvWLqlJdM7wfz9y8ZfA3dsrJmAW-zGULRZ1KZqMPRWCo1x8VSLeoNHQmhtvHAUd_wBJytl2W7U-_ielOIhurFw7Rx-XiXVBK8Iqe3lstRaKC3PMHm0e-siPcMhsQyDMo6HkLqexB_s61TVkO0mD_pEMEzz4WbCouMlY207wgJw4ngFY5o5GiUyUso1g3VSrTI1XtNSP_0dqDBp0LuzBjJP7c3iJ2-i_Q8j6J801L5v--hJdxPi127keEMn8cB7pi-l6l1INjbw","e":"AQAB"},"attributes":{"enabled":true,"created":1581394251,"updated":1581394251,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1581394251,"updated":1581394251,"recoveryLevel":"Purgeable","recoverableDays":0}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1581394251,"updated":1581394251,"recoveryLevel":"Purgeable","recoverableDays":0}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d4debf1e989d41d5b215e0076018fab6","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"rsK4io95ZiAezgZ9XCs8Ronsu0KMCFEYBDN4v4M9IU__TLlIwjS8pwwaeZlVX_fRbqmvn18KJ0d-Cd1f4gOxDyUEFqsjyYNcazgrAIjXM1MFFX9FZhdCEBVjepMe_3T2hA0XJVtem8JhmGniki-VBBpnycTTdj0D2zy-znRdZIDjquYssDaDs8cEmYAx0tW7iKsnF3JwzBiwU0rNPy_Wplj6rwPu08LmRy6oHB2K8OyKpwlBCRTLnxxujkOgPegOmHYJZiYXJ8H_LNHLsvPYPh1vhVpQe5g0fonwHHf87YHt0LwEpUYhsYkeHc696IugW2iG7DYE40bT1Vy89U0QJw","e":"AQAB"},"attributes":{"enabled":false,"created":1581394261,"updated":1581394261,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1212d66de7a343bd904c31e5316bbe5d","attributes":{"enabled":true,"created":1581394251,"updated":1581394251,"recoveryLevel":"Purgeable","recoverableDays":0}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d4debf1e989d41d5b215e0076018fab6","attributes":{"enabled":false,"created":1581394261,"updated":1581394261,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1212d66de7a343bd904c31e5316bbe5d","attributes":{"enabled":true,"created":1581394251,"updated":1581394251,"recoveryLevel":"Purgeable","recoverableDays":0}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d4debf1e989d41d5b215e0076018fab6","attributes":{"enabled":false,"created":1581394261,"updated":1581394261,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d4debf1e989d41d5b215e0076018fab6","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"rsK4io95ZiAezgZ9XCs8Ronsu0KMCFEYBDN4v4M9IU__TLlIwjS8pwwaeZlVX_fRbqmvn18KJ0d-Cd1f4gOxDyUEFqsjyYNcazgrAIjXM1MFFX9FZhdCEBVjepMe_3T2hA0XJVtem8JhmGniki-VBBpnycTTdj0D2zy-znRdZIDjquYssDaDs8cEmYAx0tW7iKsnF3JwzBiwU0rNPy_Wplj6rwPu08LmRy6oHB2K8OyKpwlBCRTLnxxujkOgPegOmHYJZiYXJ8H_LNHLsvPYPh1vhVpQe5g0fonwHHf87YHt0LwEpUYhsYkeHc696IugW2iG7DYE40bT1Vy89U0QJw","e":"AQAB"},"attributes":{"enabled":false,"created":1581394261,"updated":1581394261,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1212d66de7a343bd904c31e5316bbe5d?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1212d66de7a343bd904c31e5316bbe5d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"keWj_VYAQmqb7qiMBh0SFflEEcir5T1adENc3BkoeF2OUI4l2RWZO2x4eEXR3QHKXK7FidofPsjrOvWLqlJdM7wfz9y8ZfA3dsrJmAW-zGULRZ1KZqMPRWCo1x8VSLeoNHQmhtvHAUd_wBJytl2W7U-_ielOIhurFw7Rx-XiXVBK8Iqe3lstRaKC3PMHm0e-siPcMhsQyDMo6HkLqexB_s61TVkO0mD_pEMEzz4WbCouMlY207wgJw4ngFY5o5GiUyUso1g3VSrTI1XtNSP_0dqDBp0LuzBjJP7c3iJ2-i_Q8j6J801L5v--hJdxPi127keEMn8cB7pi-l6l1INjbw","e":"AQAB"},"attributes":{"enabled":true,"created":1581394251,"updated":1581394251,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlZfOXRUeE9odDd1VTBoV3VHVFFQX0E4X0pOcUQxVzlH[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/d4debf1e989d41d5b215e0076018fab6","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"rsK4io95ZiAezgZ9XCs8Ronsu0KMCFEYBDN4v4M9IU__TLlIwjS8pwwaeZlVX_fRbqmvn18KJ0d-Cd1f4gOxDyUEFqsjyYNcazgrAIjXM1MFFX9FZhdCEBVjepMe_3T2hA0XJVtem8JhmGniki-VBBpnycTTdj0D2zy-znRdZIDjquYssDaDs8cEmYAx0tW7iKsnF3JwzBiwU0rNPy_Wplj6rwPu08LmRy6oHB2K8OyKpwlBCRTLnxxujkOgPegOmHYJZiYXJ8H_LNHLsvPYPh1vhVpQe5g0fonwHHf87YHt0LwEpUYhsYkeHc696IugW2iG7DYE40bT1Vy89U0QJw","e":"AQAB"},"attributes":{"enabled":true,"created":1581394261,"updated":1581394315,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlZfOXRUeE9odDd1VTBoV3VHVFFQX0E4X0pOcUQxVzlHVU9XdEEtdkthNmhFTEJlR2tvZm5tekRwRUc2RFFKZFRLZ21NTkxvQUhoaGVKVUZEckN5Nm94Rml3RVhiR1pORXNDVk43T1VDUmJHcmFJME1ZckZic2l6NTZlRFlwVDUxcVlUUGc0anFWLTU3NXBUdlQ5UE1DeDlvV2JtaWdrVnR5cURYRnV0LTdPT2RiRXJOaHNXVTdIZG0wZXktV2hubVdwRTI[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/8fbae31e923c41b7801e96101ecc467c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1581394342,"updated":1581394342,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/ce1185785e264487aa4cad9a88cba72b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"DfuIfjayjjA8SOp4fls6-OoaI3tZeXnIB1wnxQ4n0L4","y":"4498_EO0BC3TdvuJrzdaY9zMRI-CU2cJkHyzW423Vz0"},"attributes":{"enabled":true,"created":1581394352,"updated":1581394352,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/b8ac2e32f8074b248fd8672a468f8e36","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"tRn6lypibOS5m7icOuM7HTvTb1HPJp-fwVQSEaQ2jgc","y":"wyISBFKxxbn-OMHvv9fhZZccTYdYQunN15zsIEcuA0g"},"attributes":{"enabled":true,"created":1581394356,"updated":1581394356,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/02c156e7f38b43a7816c9b8e7faafabe","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1581394361,"updated":1581394361,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/83d341205ac5430c852ce76458d2a041","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1581394363,"updated":1581394363,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/5d4ce36560864a46af6160e392ca6708","kty":"RSA-HSM","key_ops":["import"],"n":"g8B-5jssTrxf8i8Sh1F-heuSUm1e-fKebZb9bdkL6CQlHRK9U1X4xIS2r58KEeuQnWmhiArvdJAY1kbVuw8EaIoU4NU9uZBS_H80L6G8ti3jk_HAWoVJbw2JH6FbLcdC_I3i__kUkpJIPtjfpFatNyhckEgNCHC3H4ghK0FbdJ1fO0epJkuSYB0GGgUK7nrP3WPNTaWs2nW7MLd2xU-bwK0smmSCNiHl_CloVfMCDL4fqOT3pEhY5vIgc_04yMrvOiSc-8EnLg6MAp_yuDJ79j-6sLiPnZHY6tm694Eav4bnRr40NASIgDPFAUB8W8YXn-a9-nhgiS7eKafxRwrLEw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1581567211,"created":1581394411,"updated":1581394411,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/1da69c1809884c4cbb953152dfe225a9","kty":"RSA-HSM","key_ops":["import"],"n":"sfBraezYBaeokIklSnr4URylWzMhjfWmFHsaQFVgHOuUwQymUSR5MdoRNgz-Z6EKqHSHH9V2_nxYL1FGQ_FoEenk0BzezJngu5PtWe8F2yy0T-f2bT9tAocwawzRZx4RaduGfSz17JvMY4mQGxJyKql9-vm6l2-aOBNDrowCcZmQ2lPRPfdBlCqbWnpFIZrk2cN8j0LI2ER4O3u_QFJeN_b9Hhi6_tWmfgybmOmMZdYZwJO2W7F9xRFDlllkcpJtqM5Nf3QcSyt1DSPaF1B6QX-x9kDaOMdpXMEivUpGlHsW6mUEui7J0leYUAqsz1-qCTNenZmSwqpV54ycpj34UMWmlUNrlqfP0L8t_tCYCAAbpA7iMruhYqyVb-jrIJsW4fWXWPnwy90DKMORMQ5SY6otnQvVHV5vl09gjMxNEJIVDEb5cu5OqzQ_Eg40h1e7DAaq0ROoCjmNjgYCv39TUHrwS48CImUF0ohbrl8e99bdP6zMzynhd2tZCb3mEVn-nScuXPHViosFsi9KPgubp-XCQzEXR8DNoB2C_5Kc0fxlBfaiIceWGO-q3GjNjoWxiIuxewVBAMF5RIv7KETV46xXYRgX-HEaTR8gi9Neju-Qyu2lAcpBwBAmtlqtzp-oLyqstAV15avnOwSYDJhWSxvpDN695FIwcdeWDu-YfH8","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1581567226,"created":1581394426,"updated":1581394426,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
