interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr1-000003/create?api-version=7.6-preview.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/4f00b3b6-2940-4f2c-b037-94637c180d30",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true, "exportable": true},
      "release_policy": {"data": "eyJhbnlPZiI6IFt7ImF1dGhvcml0eSI6ICJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8iLCAiYWxsT2YiOiBbeyJjbGFpbSI6ICJ4LW1zLXNneC1pcy1kZWJ1Z2dhYmxlIiwgImVxdWFscyI6ICJmYWxzZSJ9XX1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr1-000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"attributes":{"created":1786635263,"enabled":true,"exportable":true,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1786635263},"key":{"crv":"P-256","key_ops":["verify","deriveKey","sign"],"kid":"https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr1-000003/a98622774e0b4daea53fef9828658f67","kty":"EC-HSM","x":"6ztsFxRHw6AoZo-I5yW_DDk-StymX-_3pkx3ap-cp5o","y":"UWRxkq0YvD_D5y_R7a5l4MaS7LtxYKwY1S1qhmoTGw8"},"release_policy":{"contentType":"application/json;
        charset=utf-8","data":"eyJhbnlPZiI6W3siYWxsT2YiOlt7ImNsYWltIjoieC1tcy1zZ3gtaXMtZGVidWdnYWJsZSIsImVxdWFscyI6ImZhbHNlIn1dLCJhdXRob3JpdHkiOiJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8ifV0sInZlcnNpb24iOiIxLjAuMCJ9","immutable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '137'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/managedHSMs?api-version=2026-02-01
  response:
    body:
      string: '{"value":[{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_krp000001/providers/Microsoft.KeyVault/managedHSMs/clitesthsmkrp000002","name":"clitesthsmkrp000002","type":"Microsoft.KeyVault/managedHSMs","location":"uksouth","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-13T15:13:26.364Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-13T15:13:26.364Z"},"properties":{"tenantId":"4f00b3b6-2940-4f2c-b037-94637c180d30","hsmUri":"https://clitesthsmkrp000002.managedhsm.azure.net/","initialAdminObjectIds":["bb83257d-f1d0-412f-85a2-22c2b259e928"],"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":false,"provisioningState":"Succeeded","statusMessage":"The
        Managed HSM is provisioned and ready to use.","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[],"serviceTags":[]},"publicNetworkAccess":"Enabled","regions":[],"securityDomainProperties":{"activationStatus":"NotActivated","activationStatusMessage":"Your
        HSM has been provisioned, but cannot be used for cryptographic operations
        until it is activated. To activate the HSM, download the security domain."}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 08de3cb8-0d4f-488e-b5bc-07728759007c
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Attestation/Locations/uksouth/defaultProvider?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Attestation/attestationProviders/shareduks","name":"shareduks","type":"Microsoft.Attestation/attestationProviders","location":"UK
        South","properties":{"trustModel":"AAD","status":"Ready","attestUri":"https://shareduks.uks.attest.azure.net"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-maa-service-version:
      - 1.11.03495.6194
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"release_policy": {"data": "eyJhbnlPZiI6IFt7ImF1dGhvcml0eSI6ICJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8iLCAiYWxsT2YiOiBbeyJjbGFpbSI6ICJ4LW1zLXNneC1pcy1kZWJ1Z2dhYmxlIiwgImVxdWFscyI6ICJmYWxzZSJ9XX1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9",
      "immutable": true}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr2-000004/?api-version=7.6-preview.2
  response:
    body:
      string: '{"attributes":{"created":1786635268,"enabled":true,"exportable":true,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1786635270},"key":{"crv":"P-256","key_ops":["verify","deriveKey","sign"],"kid":"https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr2-000004/731a297c28e248629fb0b9177855e861","kty":"EC-HSM","x":"LiBP4s_3jdH_S2bEwKBHToLkIDEuPVCWzZk5thwypcg","y":"NtC0C-wt1xdfDWwlBHVErcgU3VEm-OXlP9cdcDCX7wc"},"release_policy":{"contentType":"application/json;
        charset=utf-8","data":"eyJhbnlPZiI6W3siYWxsT2YiOlt7ImNsYWltIjoieC1tcy1zZ3gtaXMtZGVidWdnYWJsZSIsImVxdWFscyI6ImZhbHNlIn1dLCJhdXRob3JpdHkiOiJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8ifV0sInZlcnNpb24iOiIxLjAuMCJ9","immutable":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '1033'
    status:
      code: 200
      message: OK
version: 1
