interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2295955'
      ocp-aad-diagnostics-server-name:
      - j2+dACro0vDkoGBeKfKdYm4jsXdhUShIqhH4z8XoJgc=
      ocp-aad-session-key:
      - tqR_DCByWNGSNT9nawS_91o_BMxv3cqV-2adeSjxIxpiRfqKL1hziH5BBkr-ljFY8E_UeTw3M9Pgv4Mu8AH5CzyGP3bf9gI_FjHQwcX9laAVYgnU9NMMgTps_ZdPr4gp.GMCOm9nOdvh0OLdjjyxPulMW4nDIQhnvZYJEF30vfJs
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMWpibTgwTm1GMw=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMWpibTgwTm1GMw==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bimkvTest","name":"bimkvTest","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvTest","location":"northcentralus","tags":{},"deletionDate":"2020-07-30T07:15:26Z","scheduledPurgeDate":"2020-10-28T07:15:26Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","location":"eastus","tags":{},"deletionDate":"2020-09-11T11:25:08Z","sched[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NDIwMzE5NzY1MzMyOXxERUMzNDg0Q0Y5QTc0OTVCOEE0RTc4RUNERjg0NjRBRA?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NDIwMzE5NzY1MzMyOXxERUMzNDg0Q0Y5QTc0OTVCOEE0RTc4RUNERjg0NjRBRA?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-09-11 11:25:18Z","lastActionDateTime":"2020-09-11
        11:25:22Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbdjuI2GIbvBVU9KosTyC6MNKoS7NBkx%2FbY2J5JzpgkA8Thp8Bsgld77%2F2y2257CWUkcuA4AvHkfR9%2FXwf7qrs8bPf2PLj7OmBcqj%2FmhCkZPujl4G6wuVyO57vRaLfar9bVrtpfPqzc26n6UBx2o%2FPby7k4bY%2BX7WF%2FHqEX7%2FXj5JM39F5e0XBSlqvhqirGw%2BJl5n%2FyX9EsmKHR8XT4si2r03lEt8XpcD68Xj58rq5m9dZcRmXVVJeq%2FL44%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbbjuI4EIbfBa32amnskMw0LbVWgCsMmbbdNra7yV0I4RCHwwI9pDOad9%2FKHPYZlpFy4UrsRPXp%2F%2F%2FK186%2BqC9P270%2Fdx6%2BdmA4M3bWeehsLpfj%2BaHX22X7bF3siv3lLmveTsVdftj1zm%2BLc37aHi%2Fbw%2F7cIwu6%2BhB%2BpF26WJFuuFxm3azI%2B918MQg%2BBisyiAakdzwdvmyXxenc49v8dDgfVpe7z8W7y96qS29ZVMWlWH4vzn9nx23[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtkqI4FIbvxdraX2sbEHa0q7q20IReezphEnJi6z9UpE3wo8UeMVNz73Ocndm9hXWqoCBUgOLhfZ986ezK9vS82bmmc%2F%2Blw5JcQ96577yeTofmvtfbFruiKrfl7nRX%2BPdjebfcb3vN%2B6JZHjeH02a%2Fa3pkEaz%2FjD4E3WCxJt1otSq6Rbnsd5eLYfghXJNhPCS9w3H%2FebMqj02Pb5bHfbNfn%2B4%2BlhdTvNen3qqsy1O5%2Bj5o%2FioOm%2B5nnIkPf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtbuI4FIbvBa3211JsSGagUrUi2OlC65Pa2AbyLyQpJQ4fhXQIHs297%2BnuaLSXsK0UK4l0FCuPnvf1986%2BbJvH7d6dO7ffO3w812beue28NM3xfNvr7bJ9til35b65yfzbqbzJD7ve%2BW19zk%2FbY7M97M89sqbPX4KvtEvXz6QbFEXWzcp80M3Xo%2F7X%2FjMZhSPSO54O37ZFeTr3xDY%2FHc6H5%2Bbmobza7K1uekVZl01Z%2FPNy%2FjM7brvfcBI%2Fftc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXfbpswFMbfJZp2tTR2Al2pVE0Bmw5Wm9rYXuGOAEmDyZ%2BFdCFMe%2Fedbt2eYa3EBcfHGPmn7%2FvOj9G27o93663tRtc%2FRnSeKp2OrkePx%2BO%2Bu55MNsW2WNWbenu8KIanQ31R7jaT7mnRlYf1%2FrjebbsJWuDlpfMRj%2FFiicZOVRXjoi5n43LhTT9Ol8hzPTTZH3bf11V96CZsXR523W55vPhSn03x1B4nVd3Wx7r6XXSfiv16%2FB12wuE3U4S9MYIHv3%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTfbtowFMbfBU27GsWBZCWVqinBJxSKncWxzchdSAIlJoGR0AZXffeZbdozrJV84eO%2FOr%2Fzfee1Vxddu9jVqundvfbAi7mIe3e9p7Y9NneDQZXW6baoirq9SfX5VNxkh2rQnNdNdtod292hbgZobW2%2B2rdW31pvUN%2FO87SfFtmon63d4e1wg1zHRYPj6fC8y4tTMyC77HRoDpv25rG4yPS8bwd5sS%2FaIv8dNN%2FS467%2FbE6ax%2B%2BHyHL7yAzr86dGmR8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZThbtowFIXfJZr2axQ7JC1UqqZQOyy0dhpjm5J%2FAQIlDoGRUIKrvvsuU7VnWCvZsux7ZcufzjlvTpW3zeOmMrVz%2B%2BbQYCLVxLl1XppmX992u9usytb5Nq%2Baq8weD%2FnVYrft1sd5vThs9s1mV9VdNMera%2B8Gd%2FB8hTrecpl1snzR6yzmA%2FfGXaGBP0Dd%2FWH3ulnmh7rLNovDrt6tmquH%2FKyzY9l0l3mZN%2Fny76b%2Bme03nVfohMvvXIQHHQQDf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTfbtowFIffBU27GiUGskKlakqx3SWtndr4uJC7kIQ%2FMQRGQklS9d1rpmrPsFbyzbEsH51P3%2Fm9doqsrh43hSk7N68d4k0VTDs3nXVVHcqbXm8XF%2FEq22VFdRW3p2N2lex3vfK0KJPj5lBt9kXZcxZo%2BXN4jbposXS6wzSNu3GWDLrJYty%2F7i%2BdsTt2eofj%2FmWTZseyxzbJcV%2Ful9XVQ9bo%2BLStemm2zaos%2FVuUv%2BLDpvtiX9rPb%2FsOGncde[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTvbtowFMXfBU37NIqdEEoqVRM0DqOtbxrj65Z8C8EwYv6NhBJc9d1npmrPsFWyZF35ypZ%2F95zz1trqpn5cbU3VunlrscFE4qR10%2FpZ1%2FvqptPZ5Nt8qTd6W1%2Fl9njQV8Vu06mOs6o4rPb1aretOmRGF73uNW3T2YK0u%2FN53s514beLWehdewsSBiHp7A%2B719VcH6oOXxWHXbVb1FcP%2Bqzy47ruzPVa13r%2Bp6i%2B5%2FtV%2B9V1ustvPULDNnGLfv1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNvb9owEMa%2FSzTt1WjsNFlJJTQBdhBt7dTGZ0rehRD%2BmYSIhAZS9bvPnap9hq2Spce%2BO%2Fl0P93z5pT5pXnalaZ27t8cOpwpmDn3zrZpqvredYu0TDd5kZfNTdqdT%2FlNdizc%2Bryss9OuanbHsnbREq9%2F%2Bne4h5dr1PNXq7SX5tltL1uG3p23RmEQIrc6HV93q%2FxUu2yXnY71cd3cPOZXnZ4PjbvKD3mTr%2F486l9pteu92kr7%2BcBDOOwhe%2FD3b7WxHY8mLwdg9FzqByVBRopqmEEYP8EB1mSKmdq0XGUe2y8w22d%2BrFjAyaHPu0UQEwg4FdeYbBCnrBXdlgjFfE62lNHpVRqGhFk4Pz45eP89CDK8sv3wyvdZF5Os%2BwARkw8gUzu0nDAKLadyxMh2wpSwcRvrbI5SLI2wIOb0KywE6xbYzn1r1WNWudJ9rgTmMO0EJGNpopFdAsL3loMRSHSi5QRaYaKxBPjkMKZcyeHTF%2FAHAcQ7gznJAusLq7rP1MNIEuOLT99wwhAjJmCIXi0Ke994AtFAdFOL4y8KCsPnf90lqgjPyeyiU5y8wCF51NGDBpOA1IkGDIFCF72MdCGpuSgtyxUKQSgep0b7CstRDiEoNeJy0vpwkLWkfjs3CWe0imDezIUJIqWimYaEwEvFOQ0gpZqnRX1RRTUR2PZTaOC8v%2F8G
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/deve13750118c474903bb","name":"deve13750118c474903bb","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-deve13750118c474903bb/providers/Microsoft.KeyVault/vaults/deve13750118c474903bb","location":"eastus","tags":{"app":"python-postgresql-32e0"},"deletionDate":"2020-08-04T07:03:43Z","scheduledPurgeDate":"2020-11-02T07:03:43Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/dev5f995857491a4bca93","name":"dev5f995857491a4bca93","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev5f995857491a4bca93/providers/Microsoft.KeyVault/vaults/de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdauMwEIXfxSx7taklx27rQliSWi5OK7lWRkqTO8dW%2FmQ7JnbaRKXvXrGUfYbdgoZhYBhxvjnz7jTq3D%2FtGt05d%2B8OGc9AzJw7Z9v3bXfnunXe5BtVq6a%2Fys3pqK6KQ%2B12p1VXHHdtvzs0nYtWeH3t3%2BABXq3RwC%2FLfJCrYjgoVqF3461RGITIbY%2BH112pjp1Ld8Xx0B3W%2FdWjusj8VPVuqSrVq%2FJP0f3O293g1Xba4SMP4XCA7MM%2Ff3Ta%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPvatswFMXfxYx9WmrJSdY4EIZbySFpJdeKpLT%2B5tjKH8uxvdhpHJW%2B%2B7RR9gxb4cLlwuVezo9z3pxK9d3jodKtM31zcLDiYuVMnX3XNe3UdY9ple7UUVXdTWrOJ3WT1Ue3PW%2Fa7HRoukNdtS7YwO330S0cwM0WDEZ5ng5SlQ0H2cb3br0t8Mc%2BcJtT%2FXrI1al1ySE71W297W4e1FWm57Jzc1WqTuV%2FhvZH2hwGr3bTHp95APoDYAt%2B%2FdJq%2B7HWq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhj5pAEIb%2FC2n6qciC2lOTS8PdLEbrzoZ1l0v9hrBSXAQjeCKX%2B%2B%2B3adof0cvMl0kmM8nzvu%2BbU%2Bu%2B25S1aZ3Fm0PDrVRbZ%2BH87rpzu%2FC8U1qnhT7puhulw%2FWiR1lz8trrvs0u5bkrm7r1yN4%2FfJ88%2BK6%2FPxB3kuepm%2Bps7Gb7efAQHMh8Oife%2BdK8lrm%2BtB4rs0vTNodu9FPfk%2FRadV6uK93p%2FM%2FQ%2FkjPpftqN%2B3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbptAEIbfBVW9KuZg3BhLUQXdDcL1LGK964jeYVgwB4NlcAwb5d2zqfISjTQjzUhzkD79%2F6vWiWncVV0zaJtXDXt7xvfaRjuN42XYGMY57dJSnEU3LlJ5u4pF1p%2BN4XYcsmt1Gau%2BGwzzaBU%2FnQdLt46FqTt5nuqpyJZ6dnTtB7sw3ZVrGpdr%2F1Ll4joYUGXXfuiLcfFHzIf01o5GLloxivxfM%2FxKL5X%2BoibV8UfbtFzdVGF9%2FzY06mPfiO6RN4dne[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPdTrMwGAfweyHmPZJRPqZjiTGwdgu8a0m7FqNnDAoCGyzA3MB471bjTWjSHvRJ06a%2F%2Fp93rZHXYVs2da8t3zXk7bjYaUvtdRhO%2FdIwjkmTFPIom2GWTOdOztL2aPTnfZ925Wko26Y3wN7M75x7Uzf3OdCdLEv0RKa2nu5d697KgTt3gXHq2rcyk11v4DLt2r7Nh9l%2FOcbJ%2BTAYmTzIQWbfi%2F4xOZX6m9qpDn%2BwgOnqQA3z301fqxvbWjYPoo6fWBxyJti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dNtb5swEADg%2F4KmfRrhJbCGSNVEYxOR5Yzs2FTdNwIm4SUQAWkSV%2F3v9aZp%2F2GV%2FOV8J1v36O7N6ORt2lZdMxrLNwOHOy52xtI4TtN5XFrWKeuygzzJbppl6jLIWd6frPGyH%2FOhOk9V342WvXfK796DYzr70ja9osjMTOZzM98H7oNb2oEf2NZ56F%2BrQg6jBVU%2B9GNfTrOf8p5ml3ayCtnKSRZ%2FgvFHdq7MV12pH390bScwbX2cr1%2FGRv%2FYN7J7F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPRbpswFAbgd0HVrkawgawhUlXR2KnIYiM7NhW5I2AYkEAUSJO46rvPi7aHWCXf2D46R%2Fr0nw%2BrU9dxXXftYM0%2FLBxuhNxYc%2BvXOB6HueMcsi6r1EF14yTT55Oa5P3BGc67IT%2FVx7Huu8EBO1j%2B8B%2BhDXclsP2iyOxM5Z6d7wL30S1BMA2Aczz173WhToND6vzUD305Tn6qW5Kd96NTqL0aVXG%2FDM%2FZsbbfTaVp%2FuQCGNjAHPjtYWjNxL5V3ZNsk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwFET%2FBa32aQm2A9sSqapI7azoxhdBbCr6RsBkMQlEQJqEqv9et%2BpPbKX74juWrTmaebVadRnXddsM1uLVYsFGyI21sP6N43FYOM4hb%2FOdOqh2nOXTqVezojs4w2k7FH19HOuuHRy0xdVv9wbbeFsh2y3L3M5VMbeLrU9uSIV8z0fOse9e6lL1g8Prou%2BGrhpnf9U1zU%2F70SnVXo2q%2FDwM9%2Fmxtl%2FMTfP4HUHYt5EZ%2FPPH0Jgfu0a1d7JJn5L0USQyWQmWyo30o7Xcy4qGmIvdGXTochFgEDHhNJgDhVuuy2XcSBxJeIgYc4FlHsjQS7S8JoKfEx3iWKcsooX164sD%2Be9B0MwACS6gmwtMhcen9DZGIU7Ecsk1%2FIlEPAdmAEg25%2BhxCdrsjQ40voDkBsQT%2BxaBoCEBGpyB7ggI9skBEDDjnXD9TAFlRsuIYbDiOnZNQDzD6cyNDiz%2B4vDAQCTB%2Bjv0oyFcZNeIMmObux%2Bx4Mi0hK1oRHcYGDe4OIaGTclHb6YCR6ZHXBdnkLH19vYO
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-chogkpy","name":"cli-test-kv-mgmt-chogkpy","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmtfzjs7w7kqfhltnb4vxdfnppyxfnmioo5yupznw4mpjabi5pn6ds75/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-chogkpy","location":"eastus","tags":{},"deletionDate":"2020-07-29T03:34:22Z","scheduledPurgeDate":"2020-10-27T03:34:22Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/devf4ca74b9ef0940d191","name":"devf4ca74b9ef0940d191","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-devf4ca74b9ef0940d191/providers/Microsoft.KeyVault/vaults/devf4ca74b9ef0940d191","location":"eastus","tags":{"app":"Django
        web app with PostgreSQLf4ca74b9e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbpswFIDfBU27KsH8dA2RqonFBqWLbdmxqdgdAZOBCURAmoSq715v6ku00vHFOfLx0fn0%2BdXq1HXa1p0erdWrhaKdkDtrZf2dptO4cpxj3uUHdVTdtMjn86AWRX90xvN%2BLIb6NNV9Nzpg71Y%2FggfXdvcVsIOyzO1cFb5d7EPvwatAeB8C5zT0L3WphtHBdTH0Y19Ni9%2FqlubndnJK1apJlf%2BT8Wd%2Bqu0Xc9M8%2FugBN7SBCff7t1Gbib1W3aPU6TNPnwS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbtpAEIXfxap6VeMfoAGkqMLZBZkya63ZcUTvjFnAXmMjbGKzUd49S9WXaKQ5FyONZqTvnHm3Ktm367xSjTV7t%2Bh8I3BjzaxT216ameOc0yo9yrOs2kGqb1c5yOqz09x2TXbNL21eV43j7rzDz9GTZ3u7g2uP9vvUTmU2tLPd1H%2FyD%2B50PHWdy7V%2By%2Ffy2jiQZ9e6qQ%2Ft4Le8J%2BmtbJ29LGUr93%2Bb5ld6ye03M2mWP%2FuuN7VdU973b40yF2slq2d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPfbpswFAbwd0HTrkb4E7KGSNWUxiaCxQfh2FTkjoChlAQiIIW46rvXmfoSq%2BQbS9axzk%2Ff9641Yhp2VVP32updw%2Bs943ttpb0Mw6VfGcY5bdJSnEUzzFJ57cQsa89Gfz32WVddhqptesM8WsVv58HSrWNh6k6ep3oqsrmeHV37wS5Md%2BGaxqVr36pcdL1Bqqxr%2B7YYZn%2FFLU6vp8HIxUkMIv936f%2Bkl0p%2FUy%2FV8EfbtFzdVMf6%2BaOv1Y9tLZpHX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbuIwEIXfJar2akOcH7YEqaoAOytYxsjGTkXvQuJAYkgQCU1x1Xdfa9WX2EpzM0ejGc2ncz6cRr3366rRnTP9cMhsK%2BTWmTrHvr90U887Z012UGfV9KPM3K5qlLdnr7vtu%2FxaXfqqbToP7f3yV%2FTou%2F6%2BRG5UFJmbqTx0830cPAYliscx8i7X9q0q1LXzoMqvbdeW%2FeiPuqfZ7dR7hTqpXhX%2Fmu45u1Tum520y58C5McusuX%2FeOi0vdhq1TxJnb7wd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRjtowEEX%2FJar61BAnhC4graqAHRS6Mwhjs4K3kASIDQkiYQNe7b%2FXrfYnutK8jHR1R3N077tTFff2pax044zfHRathFw5Y%2BfYtpdm7HnntEoPxbmo2l5qbteil9Vnr7ntmuxaXtqyrhqP7Pz9z%2FDJd%2F3dnrhhnqduWmR9N9uNgqdgT0aDEfEu1%2FqtzItr40GZXeum3re938Vjnd5OrZcXp6It8n9L8yu9lO6bVVrz54D4I5fY8b9%2Fa7S9WOuiepZ6%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbuIwEED%2FJVrtU0PsBLYEqaoInkh0sSMbO1V5C8SUxJAgEtrgqv9ea9Wf2ErzMtJcNEdnPrxGD%2F2qakznzT48mK%2BlWnsz79D3524WBKeiKV71STf9qLDXix7t2lPQXbfd7lKd%2B6ptugBt8f7P%2BB77eLtH%2FrgsC7%2FQu8jfbePwPtyjeBKj4Hxp36pSX7qAVrtL27X7fvRX3%2FLieuyDUh91r8t%2FSfdYnCv%2FzVW64Q8hwrGPXODfvzrjNrZGNw%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbqMwEIbfBa32agnnbYhUrQAbKWxsZMdO1dwRMAmHQASkIa767nVX24dopbn5pdGM9M03r1on5mlTdc2orV41GGwZ32or7TRNl3FlGOesy47iLLppkcnrIBZ5fzbG62HMh%2BoyVX03GubBKn%2B7D5ZuHUpTd4si0zORO3p%2B8O0HuzR9zzeNy9C%2FVIUYRgNV%2BdCPfTkt%2For7Lru2k1GIVkyi%2BBfGP9ml0l9Upxr%2BaJuWr5uqrJ8%2FxkZt7BvRPfJm90R[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdjpswEEbfBVW9KgFM6IZIq4rETpQ0toVjs6J3BAzLTyAKZAle7bvXafsSW2kuPBrL1hyd791o5X04lG3dG8t3AwVHLo7G0ngdhku%2FtKxz0iaFPMt2mCXqdpWztDtb%2Fe3Up9fyMpRd21v2ycm%2Fz58c0znltjnPssRMZOqa6ckHTyC3fc%2B3rcu1eyszee0tXKbXru%2FyYfZTTlFyawYrk40cZPan6X8kl9J80zf148%2FAdnzT1uV8%2FdLX%2Bseulu2zqKMXF[...]
- request:
    body: null
    headers:
    method: GET
[...]
