interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2486053'
      ocp-aad-diagnostics-server-name:
      - b4QnfGvpd7smyt/+n1m3RlPH4qnOta5fld3qy18y/TU=
      ocp-aad-session-key:
      - nmE40dind8vkft1ZoTuIaJA--KSLJgQ0fNskGY2JekiFinjUK7SnApya4PYkkjijzeHOcag2caOO2g5wwQnGCjMGDiTYqAhWiHULVM-4ORKSupYVkCxFj8jky45dg7dP.SW0Gi2vj3rQl5Evgec4tcg89T7L9hMoGGRNZnOImdkA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/6180d92fb36346f78167743b6d318cf5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v7CtQW6XB_pfQ-JvtybjSeck97VKUy3KOvINDg0iwfwoNHxrKBIk4_WT66YwOBfHk5-yq0pbbZC2tk238a-Lu4U5o6av1Vu5gywhtolkB70MV14WO_0T8L2dbpeIY_2SYgnXcekLRx9vupgG_-TI5x6MApUWtA7balXbEqzxALwbko8a9S2iYADlw7dzquNNEo_suRTFj7F9njfrQRzysK8uxppQb1A8r8aGYJ-Vbb-hQe1UszwS1BLBxnEkYdIZpkfNfUNd-G7baLQVUwzSHsIbwETqB21iMdbB1of1G0dXSuNg0Aiu4g47OoiNozZ6_xVL2w0jWB7hAreZv2vYjQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599638451,"updated":1599638451,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["create", "recover", "delete", "encrypt", "import", "update", "get", "decrypt",
      "list", "restore", "backup"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.2
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/6180d92fb36346f78167743b6d318cf5","value":"vCGps7fdaYPBuTlRCCPYuAqrZ4QoSpYJm8NwTARnbHT_tfcm85F_26o-QkloKs8uETUtvMq9Gan376S9iVHD8FRTKc-ZHfb-_XD6uIddawWtZ0Y4wbgr4fr6YFufOvHzmhDxQBGbw0bXet5E7ID26cszNyjpc1YS9h2BDRYsXK_vXzZMxcUjNiI9lMsy1jcooOVCclvSpGtCF4mS_za38kjPW89PlqoADXbkuCnar0Iv0E4gwAzlynaSdT_uh1HgEM6owTkaAmuuRZ5Ccvv1eD-ohb2-xN0-CjSoSVWswWqW4MnSMKZvH4ity9kZFG3yW1kOJb45Pv1gbOhnfHzs8g"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "vCGps7fdaYPBuTlRCCPYuAqrZ4QoSpYJm8NwTARnbHT_tfcm85F_26o-QkloKs8uETUtvMq9Gan376S9iVHD8FRTKc-ZHfb-_XD6uIddawWtZ0Y4wbgr4fr6YFufOvHzmhDxQBGbw0bXet5E7ID26cszNyjpc1YS9h2BDRYsXK_vXzZMxcUjNiI9lMsy1jcooOVCclvSpGtCF4mS_za38kjPW89PlqoADXbkuCnar0Iv0E4gwAzlynaSdT_uh1HgEM6owTkaAmuuRZ5Ccvv1eD-ohb2-xN0-CjSoSVWswWqW4MnSMKZvH4ity9kZFG3yW1kOJb45Pv1gbOhnfHzs8g"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.2
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/6180d92fb36346f78167743b6d318cf5","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599638451,"updated":1599638451,"recoveryLevel":"Purgeable","recoverableDays":0}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599638451,"updated":1599638451,"recoveryLevel":"Purgeable","recoverableDays":0}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/72d4e67bead6469da3b49fb117eda4fd","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"oqtrghSi80PnWtWWhYVM6gpG7m_ffbMGjIDqKmYH3nJ_hxG3scv8_i66KYZzGzG4aOLJ5WhsgZX7AEb58241EDmhNpU5sOUddAB1oI9aW4MI6CZNS_Mv3m3sa-4QlcLCfZQWA199ItrpiQKRkigwQviHKtoN46DPaRv9l8XWn36AtQkjJK7Y05ypRxhgtsQ1GFBsjtE7qK1zrbarrq4p5mEc6ReUyuGchhOv74CdEb6PP3yqHXZ2_Y1gxnmjXnI4kQFwULUPEzR2FO_dw8-2GNrPxeLe5wThxEA8vQdmjUB9nupeyfhLlykGsHuwMNeJR1oVfisph1Dcl3uTjBnLrQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599638464,"updated":1599638464,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/6180d92fb36346f78167743b6d318cf5","attributes":{"enabled":true,"created":1599638451,"updated":1599638451,"recoveryLevel":"Purgeable","recoverableDays":0}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/72d4e67bead6469da3b49fb117eda4fd","attributes":{"enabled":false,"created":1599638464,"updated":1599638464,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/6180d92fb36346f78167743b6d318cf5","attributes":{"enabled":true,"created":1599638451,"updated":1599638451,"recoveryLevel":"Purgeable","recoverableDays":0}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/72d4e67bead6469da3b49fb117eda4fd","attributes":{"enabled":false,"created":1599638464,"updated":1599638464,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/72d4e67bead6469da3b49fb117eda4fd","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"oqtrghSi80PnWtWWhYVM6gpG7m_ffbMGjIDqKmYH3nJ_hxG3scv8_i66KYZzGzG4aOLJ5WhsgZX7AEb58241EDmhNpU5sOUddAB1oI9aW4MI6CZNS_Mv3m3sa-4QlcLCfZQWA199ItrpiQKRkigwQviHKtoN46DPaRv9l8XWn36AtQkjJK7Y05ypRxhgtsQ1GFBsjtE7qK1zrbarrq4p5mEc6ReUyuGchhOv74CdEb6PP3yqHXZ2_Y1gxnmjXnI4kQFwULUPEzR2FO_dw8-2GNrPxeLe5wThxEA8vQdmjUB9nupeyfhLlykGsHuwMNeJR1oVfisph1Dcl3uTjBnLrQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599638464,"updated":1599638464,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/6180d92fb36346f78167743b6d318cf5?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/6180d92fb36346f78167743b6d318cf5","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v7CtQW6XB_pfQ-JvtybjSeck97VKUy3KOvINDg0iwfwoNHxrKBIk4_WT66YwOBfHk5-yq0pbbZC2tk238a-Lu4U5o6av1Vu5gywhtolkB70MV14WO_0T8L2dbpeIY_2SYgnXcekLRx9vupgG_-TI5x6MApUWtA7balXbEqzxALwbko8a9S2iYADlw7dzquNNEo_suRTFj7F9njfrQRzysK8uxppQb1A8r8aGYJ-Vbb-hQe1UszwS1BLBxnEkYdIZpkfNfUNd-G7baLQVUwzSHsIbwETqB21iMdbB1of1G0dXSuNg0Aiu4g47OoiNozZ6_xVL2w0jWB7hAreZv2vYjQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599638451,"updated":1599638451,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.2
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkVRSk5PSnNRME5xdUdRTVpEc1JuUHR1VkhzUzhhckZt[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/72d4e67bead6469da3b49fb117eda4fd","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"oqtrghSi80PnWtWWhYVM6gpG7m_ffbMGjIDqKmYH3nJ_hxG3scv8_i66KYZzGzG4aOLJ5WhsgZX7AEb58241EDmhNpU5sOUddAB1oI9aW4MI6CZNS_Mv3m3sa-4QlcLCfZQWA199ItrpiQKRkigwQviHKtoN46DPaRv9l8XWn36AtQkjJK7Y05ypRxhgtsQ1GFBsjtE7qK1zrbarrq4p5mEc6ReUyuGchhOv74CdEb6PP3yqHXZ2_Y1gxnmjXnI4kQFwULUPEzR2FO_dw8-2GNrPxeLe5wThxEA8vQdmjUB9nupeyfhLlykGsHuwMNeJR1oVfisph1Dcl3uTjBnLrQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599638464,"updated":1599638475,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkVRSk5PSnNRME5xdUdRTVpEc1JuUHR1VkhzUzhhckZtcHlteVRSaF9KYm1CM1B1WEZaMks4UDVYQldMcWJnOG1qcVdFMHJwekNPdzR2N3RacDdIcHVNX1hScXlaOVl5UjhDMEJySlU2am5LSG1uSlpqMnNMQXdXVzFtZnRZSzR2RXBCQmNZYkNpVFZjSllEN2FJc0dYclZNT2JVaUh2b0tDQlJSUkJBV3g5clhOWl85YmRhNHZiZzY4M1R0czBLNGx4c2Z[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/984245addbaa43e59dd2a216e6ea9cb9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1599638486,"updated":1599638486,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/a3043e86be924541b016e86e5932d027","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"Jyfp-DiH9bao_jsXZAXEv7dMKeOLlhGxpeoflax5yiU","y":"8esz4rF_C5Hw8iBBBnWd0YswxDmJ5Pjs22_MlrCdkMk"},"attributes":{"enabled":true,"created":1599638492,"updated":1599638492,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/3cb244b9e01e4a188f65520ee27c4299","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"pzid1ZyB65_hJ-SacIa3EF9bKUI32qmuaACHdw6NS20","y":"FBdZY8de2QEb78tG0zsnBrDbcLfLrOTBJz3fQQo2Wwk"},"attributes":{"enabled":true,"created":1599638494,"updated":1599638494,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/18764cbd7a9046cd830a4d26ef5dbedc","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1599638497,"updated":1599638497,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/7a5d719080624d4697fe6ffd3d0ac1d1","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1599638498,"updated":1599638498,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/1792888eb308451da5181d467f256272","kty":"RSA-HSM","key_ops":["import"],"n":"2-JuuNuh4YQpY55JElCP4oVWVKYoO-JYBbJ6XoD31DQ7QXSKG84TiF7LX8-DpbxnqfX9kl5xlZTVqoTP6qT9_zyIOAqa7fPjcJ8KjAK25wbI5AJI-QWeG_7ETMPhzOwKeDHNGxj-JMOIj7faqFI1Tw3gQfS96skQyPFUAvuTEMpdiV8egDxXOq2M-mW9y6RbGFwz16cEBlzfFnTZXSPPTVH_B3ej8x0PzW7SIqLi2vJz2sA3ufyljDhwPvO7LeWxgstBVm8Ymp-zleLGfdlZKL1G_v90YyoSO4UynPaHX_oFnOZT_mvJjpBecnS_I78DoullNFovh9FYRHmEDJcYjw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1599811340,"created":1599638540,"updated":1599638540,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/0f19cf2c5cf3435f9d8e6ad39902ebc8","kty":"RSA-HSM","key_ops":["import"],"n":"xMLCMBYok3MIEvuOPArZMgz7QBP96KtWh_p9UlC5KeT6uWbG8000CPKcyb8uqrtJ6hbRanSigcPi8hyg2-mkHmZKpovgkrX-rkXmTxDFIYdIp9uBfJYyR_AvVqczOUOlWaGIH8rFsmfyUXU-PKOvpa2CndWpmQQOv9YxFEHH8GOIh4M9v7gCLNWlj4flx41-hMr-QvdeIYLZcG4CDd75lmio1mGBDwIEIUNnTCQCzi1e6sdrZpPyVWAyzTQz0a_wVO37d2qBYvWsa_d9mVGWm66Lwc1LaiQsKCaSwyq2ahWHxZWN40PWDcGmKb6LRzQm68jyQIewXOW13nFOcuwbtvtqM-dtFOSFrX1TkeR7zuwy_4SItwU8vflx95t_SzJGHGGk5TEI4LAksb7XA8DDJCLEDRkj9LOqZxIGi_-jEgwf1_UOTxTPeF3UZFY-yOE9iBgkUIxtOOVJgT0ctQ5SKAa-TJM28F1QyNcS3-IpBT7zOMKM5GoLR5Te2KeWttMAwF48Wlhd6urj7gpkHmXtzjZuumm8l5ne-OSgHGpnk4Fj0WouvXhDppCsSYe9ek9p2voBmzQpu32PpirNKu2UortOOX7P5TFE_Xx-B2LuONoSj4W72amAbL_k5fkJiyLmHdmLWCfYAGBJTa8bjwWFSNH-whFfNp7KBud16HloRv8","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1599811344,"created":1599638544,"updated":1599638544,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
