interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identityzhw6jdyqkdp5pbkfupfou3dlgbv3q4ygx5ypoz2cnx5bjwcfstjj5j7/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-a5qsjn","name":"cli-test-keyvault-a5qsjn","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002","name":"cli-test-kv-se-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg5ujieqr472etx6yawe3k42cnd7prs7te4tzuiyppkimcfouh7u7h5xlbasa3h2hai/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-fgjxzkclrxnb","name[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002","name":"cli-test-kv-se-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2021-10-15T06:00:58.402Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-15T06:00:58.402Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-kv-se-sd-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1/d0831c6a7eb24542916da270efd2acb4","attributes":{"enabled":true,"created":1634277696,"updated":1634277696,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-se-sd-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1634277698,"scheduledPurgeDate":1634882498,"id":"https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1/d0831c6a7eb24542916da270efd2acb4","attributes":{"enabled":true,"created":1634277696,"updated":1634277696,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Conflict","message":"Secret secret1 is currently
        in a deleted but recoverable state, and its name cannot be reused; in this
        state, the secret can only be recovered or purged.","innererror":{"code":"ObjectIsDeletedButRecoverable"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Conflict","message":"Secret secret1 is currently
        in a deleted but recoverable state, and its name cannot be reused; in this
        state, the secret can only be recovered or purged.","innererror":{"code":"ObjectIsDeletedButRecoverable"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
version: 1
