interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2540639'
      ocp-aad-diagnostics-server-name:
      - 3zCXtmn1swhKoQrHm0puOnmVT0BlNpULTMcWZuz6e50=
      ocp-aad-session-key:
      - AC_Z276FY0I8Nw8Iq1-OGEVWkc2cKqDWYHKg6pLapt8JWwTpLpCeixd-E0By1jw-W0uKk8ymje_umvX7HmPrClAAhqbHogbqTAkoUBk4ZykwntdfDbV3i_H-jnzWpsSE.51cW2J1rggvns8Ddxi9SzvSPNz_9SYpSHXOYNM-G3Qo
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/65671b73e68b4d1d9c4c2017ec67f6ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zscxvwI6lQXMktra7P40JNmKRiQ3byHXDuxDx7PuRZZFWGmGXJilfCdMaoW4FShmhjzw3pxJJYnu7ZhoStNzvzxDjnl2Mt6dgWyVsTaRF6GjzbaD0h0XSfDYP0byQUqUfEqG9_KQNjrrjx16LdD0WMpi_mXoFipXbDHlLm_7yn4F3TdSl8v3Gv_kokIbr6cSefyv2osn8w1DFTjJJ7KIemDiV4hZl7FumlcJcGKzw4HTLHA6RzJa5bYKHUoQCHpJhUTkwPwC7S8mj2w2hjXgLHX-9ZZDwFIe2DU7hkCo4o92rpjl-zRsqJiBfMOYpeRfT3SL4aFCY8IBp_lf7na2cw","e":"AQAB"},"attributes":{"enabled":true,"created":1599800209,"updated":1599800209,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["encrypt", "update", "backup", "recover", "list", "create", "delete", "import",
      "restore", "decrypt", "get"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/65671b73e68b4d1d9c4c2017ec67f6ab","value":"gg0u9qVxaDRt_bEs8lh_k8DnLgZjM-3fECz-dmmOAitmeftrGMetvP3Nuq0wPYSTPf4vFaqAvGkYEzhgskkaJOJqxZTEvAs6YtYbqQ2FJt9OqEK2mGwqlro37H44_mr-CoIA8_V15bSCN3F0yQV1amSNUr8ytQR8IEbDi8EYFg06r3iHfx5_Li38PZ8V36UZ7syl8yyyXfb2NTD4VplEbJNwY5Ecjfem--fAgcDIzj2JID1WZIxQcO0tLyFftToHbZkRbjJbk38ny6yHvYKdaWiS8Mpu19e2tYnYxxR8ovedSdxaOMWyV-UxtveFMUnZ5jx1QPYDtYgbjPJHaFGgrQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "gg0u9qVxaDRt_bEs8lh_k8DnLgZjM-3fECz-dmmOAitmeftrGMetvP3Nuq0wPYSTPf4vFaqAvGkYEzhgskkaJOJqxZTEvAs6YtYbqQ2FJt9OqEK2mGwqlro37H44_mr-CoIA8_V15bSCN3F0yQV1amSNUr8ytQR8IEbDi8EYFg06r3iHfx5_Li38PZ8V36UZ7syl8yyyXfb2NTD4VplEbJNwY5Ecjfem--fAgcDIzj2JID1WZIxQcO0tLyFftToHbZkRbjJbk38ny6yHvYKdaWiS8Mpu19e2tYnYxxR8ovedSdxaOMWyV-UxtveFMUnZ5jx1QPYDtYgbjPJHaFGgrQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/65671b73e68b4d1d9c4c2017ec67f6ab","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599800209,"updated":1599800209,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599800209,"updated":1599800209,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e7da905f40d14e9bbcf4a7ff0bb63e9c","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"on-xvru8LqgfBGI7PXzOLPbOCm1zy_563cnZAnQ5AwFVFyEHvPCyJ-_8fvnEWLzKZkPdlzGwBBR60kEz4Cr1fPPLEekzaH0-MQC3ztFaLWCs7X18Mw6361IR7y_MqBe6we0YoHCCnwNaDc0ohaIqKQ0lq4oA7-NLfWXCAnwlroly04qmugawCNU7IsWLC2dt-sCgRfcx-xAoheK_w-3Ojcv78fNCPLRiikLFVUmRY6uT3OVDmo_QYBCXeAS7R1LXZKB5ZwW3X9VrBDJfGK22anuMjU7Bil3ciM8a4PU0-ZKtC24dwrUeFgFB4IyBuYbeXKP-fYMzcGa8N30C71gVxQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599800221,"updated":1599800221,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/65671b73e68b4d1d9c4c2017ec67f6ab","attributes":{"enabled":true,"created":1599800209,"updated":1599800209,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e7da905f40d14e9bbcf4a7ff0bb63e9c","attributes":{"enabled":false,"created":1599800221,"updated":1599800221,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/65671b73e68b4d1d9c4c2017ec67f6ab","attributes":{"enabled":true,"created":1599800209,"updated":1599800209,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e7da905f40d14e9bbcf4a7ff0bb63e9c","attributes":{"enabled":false,"created":1599800221,"updated":1599800221,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e7da905f40d14e9bbcf4a7ff0bb63e9c","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"on-xvru8LqgfBGI7PXzOLPbOCm1zy_563cnZAnQ5AwFVFyEHvPCyJ-_8fvnEWLzKZkPdlzGwBBR60kEz4Cr1fPPLEekzaH0-MQC3ztFaLWCs7X18Mw6361IR7y_MqBe6we0YoHCCnwNaDc0ohaIqKQ0lq4oA7-NLfWXCAnwlroly04qmugawCNU7IsWLC2dt-sCgRfcx-xAoheK_w-3Ojcv78fNCPLRiikLFVUmRY6uT3OVDmo_QYBCXeAS7R1LXZKB5ZwW3X9VrBDJfGK22anuMjU7Bil3ciM8a4PU0-ZKtC24dwrUeFgFB4IyBuYbeXKP-fYMzcGa8N30C71gVxQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599800221,"updated":1599800221,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/65671b73e68b4d1d9c4c2017ec67f6ab?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/65671b73e68b4d1d9c4c2017ec67f6ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zscxvwI6lQXMktra7P40JNmKRiQ3byHXDuxDx7PuRZZFWGmGXJilfCdMaoW4FShmhjzw3pxJJYnu7ZhoStNzvzxDjnl2Mt6dgWyVsTaRF6GjzbaD0h0XSfDYP0byQUqUfEqG9_KQNjrrjx16LdD0WMpi_mXoFipXbDHlLm_7yn4F3TdSl8v3Gv_kokIbr6cSefyv2osn8w1DFTjJJ7KIemDiV4hZl7FumlcJcGKzw4HTLHA6RzJa5bYKHUoQCHpJhUTkwPwC7S8mj2w2hjXgLHX-9ZZDwFIe2DU7hkCo4o92rpjl-zRsqJiBfMOYpeRfT3SL4aFCY8IBp_lf7na2cw","e":"AQAB"},"attributes":{"enabled":true,"created":1599800209,"updated":1599800209,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLmVfRFhLcmFPWlZqd2dac2Q5QzRJd2hnWENYcFBQOGxX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e7da905f40d14e9bbcf4a7ff0bb63e9c","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"on-xvru8LqgfBGI7PXzOLPbOCm1zy_563cnZAnQ5AwFVFyEHvPCyJ-_8fvnEWLzKZkPdlzGwBBR60kEz4Cr1fPPLEekzaH0-MQC3ztFaLWCs7X18Mw6361IR7y_MqBe6we0YoHCCnwNaDc0ohaIqKQ0lq4oA7-NLfWXCAnwlroly04qmugawCNU7IsWLC2dt-sCgRfcx-xAoheK_w-3Ojcv78fNCPLRiikLFVUmRY6uT3OVDmo_QYBCXeAS7R1LXZKB5ZwW3X9VrBDJfGK22anuMjU7Bil3ciM8a4PU0-ZKtC24dwrUeFgFB4IyBuYbeXKP-fYMzcGa8N30C71gVxQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599800221,"updated":1599800232,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLmVfRFhLcmFPWlZqd2dac2Q5QzRJd2hnWENYcFBQOGxXSHA2bDdELVg5d0FHRWVQNldMZlJoUUZjMTRtd1ZMNkRjY3NuVGowMDF2Um5TS0lqQmdTaVV3RFptTmhpVEwxVG1mbWdfWkFkZUgyclFCUk9RSURJSFZQYnRpb015Szc5bU1sMXZQT2l3alFnUEZyZDRMR1dtNmY4VmpLaWFzZGZiWExpNW5IS2NvSllfZ3NCcTlhd0k4SUo5V3hCQlRubldEbnd[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/c0df19266db5473b9f3048711ed85adf","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1599800243,"updated":1599800243,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/a48cd42297884f3fae659c12001e93fa","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"N1Aow2LrdvMARG76gpHQirsv_BxAuhprZcM9W7iIXBk","y":"OVQbNRZnzALjelzeF7YBZvuxiNhB7MIlWQjYMhTVRj8"},"attributes":{"enabled":true,"created":1599800249,"updated":1599800249,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/0424c4c703dc4cdbbcc1a0f1b187efa6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rGLYG6K1w_Ff5PUP8_BdHBz-BOJr4qTPQVUpVH03DAY","y":"UAJnnqev9OLkjFCtrWOSIv7TTHaUnOEf13ORzcmdVPc"},"attributes":{"enabled":true,"created":1599800251,"updated":1599800251,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/7d6f71a6f21d48248e4702aca9c60cbb","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1599800253,"updated":1599800253,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/b00d82dfd71b48818bbaac55fe360e0e","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1599800255,"updated":1599800255,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/0e6d98fdfdc04598a7a3345ac7a6122d","kty":"RSA-HSM","key_ops":["import"],"n":"m4JZpclesW92mhr1bByTdrSQYMjydEH4_Htmg9HbYj-Yjr2ikW3aGAnECGn-rAGYsVLbyGRMSqvW2EbS65FXv6rDEEoL9tUnjE8jjVzyh-CdmQT1mqpJSEV5BhvsTRFKB1Y0-FC-ombEJW6jol54p9nvHnJtET3EkT70TLzLyBo1tmbky4Z8LoqG35ffihphxqGfBXVtdI-2cEG3maNocy9DKJeZkDwkxnBly4KV_ttpwIhCAQqjs1t1xuqf0D32DcVOmb1CxcdotKH30KDiqOeCeqWjw2yljyCqijkysX7b7PwMqfs_3arwn1N-c-jC4PytBM8BF9AdRAga4_DFCQ","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1599973099,"created":1599800299,"updated":1599800299,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/a15ba293cbd743a9b7e2378a424e8b46","kty":"RSA-HSM","key_ops":["import"],"n":"17vcol2IQjZvV3Kafog6EIyUGkzjubUtKbgumPS5_PDhqsaK2aeXS959zByIHuwKsVzOD1iGI6y2DwkTLjtWAArfBu6FFTlC7kt7TTgRM8mNNd2gl-WCbth8QKb6gPB5tAJt2TGqFNDiKNCmVJi-a-SmpC7Ch_9hlj5IrAoBQ0t3zOu-br73ELAPAnckg6qL3tXYegwVyKsH1RJMEahCR4gTDMnBj0LqKpb4fFmC8fAnjUQ8r6oRorSQ9vIYRLaS7TxRQLG6-5HR0LB21PDmhoFLiX3-m8QEACEe6ocqzQrANv5Er9l7ZtvUTK9ZePpU7TWb0mURYGL1T6_AZ5UWy5JyfdNwiPXpsZ5EmnRyFMUAZFqxQaRIffAN7g9qWd1WtKs0Kw0HyKSqhjkAkrZLL6uhTWzLDwV3y8BOfpLy_038ttdraBHrchsm1GWkrnhVQpfpsy3ckZ8BXL0Kx5TO-yxjc-13U7UbkcgQBpUdcxLoTqHW4EGCG_FkqnfWCtGZdVQjZ2rk3zgOYephyPY4kfsvq36biCD-coCrPnQr0g-vbNGDUwaTUxy2POEEGWJBNvRfVIMZI7M8ynLZ_Yt3NzDahmMI4EFu1LLaBHJc0bQQtZRbEbcwq8jpNOa11cFL2WyzJQsgHx8zVqSExF5jwSbbu-8qFX0Zqx4aHTFU3Fs","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1599973104,"created":1599800304,"updated":1599800304,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
