interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002''
        under resource group ''cli_test_keyvault_mgmt000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2576460'
      ocp-aad-diagnostics-server-name:
      - pzL7MYz+13rwz6dcagI+grmERaSlcZRkvSrlIzhV0Hw=
      ocp-aad-session-key:
      - qmJyzB279Gt8y-iYh6v-sNGu3goByJ5El2ecELHgEWquo8Cxfn9uBjXNioiJdNSAgGdH2tS-RGZMEjZPB37e23U5lUsUCA-6DhHjgUCluKhjB4pPLs-I1WABBpnBiCqx.O-5fsAx9wPskYAdHpbUs_T0r_L-rRbtoNthEAC1R5rQ
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC1hbDRoNnZr"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC1hbDRoNnZr
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/s[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4147","name":"sdktestvault4147","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg7255/providers/Microsoft.KeyVault/vaults/sdktestvault4147","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletionDate":"2020-05-18T08:25:58Z","scheduledPurgeDate":"2020-08-16T08:25:58Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1508","name":"sdktestvault1508","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg493/providers/Microsoft.KeyVault/vaults/sdktestvault1508","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletio[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5MzU4NzI3NTI2NTIwMnwzODZFNDU1Q0YzNzc0MDhFOUQ4NjVBMzJFOEQwNTVDQg?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5MzU4NzI3NTI2NTIwMnwzODZFNDU1Q0YzNzc0MDhFOUQ4NjVBMzJFOEQwNTVDQg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-03 07:38:46Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5MzU4NzI3NTI2NTIwMnwzODZFNDU1Q0YzNzc0MDhFOUQ4NjVBMzJFOEQwNTVDQg?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzI5MzU4NzI3NTI2NTIwMnwzODZFNDU1Q0YzNzc0MDhFOUQ4NjVBMzJFOEQwNTVDQg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-03 07:38:46Z","lastActionDateTime":"2020-07-03
        07:39:01Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbtbtowFIbvBU37NYqTwAaVpongExbWY8%2FGzpT9oyGkOBQqQpvU0%2B59h%2B7rGqgEElYQiCfv%2B7z86O3L7nSz3ddN7%2FpHT0htPs9AGD29scvede%2FudHporgeD%2B9V%2BVZX35f50tfKPx%2FKqONwPmsfbpjhuH07bw74ZsNtg8374IegHtxvWH67Xq%2F6qLKJ%2BcTsJP4QbNhlN2ODheHjarstjM8BtcTw0h83p6kv5nK0ed6fButyVp3L9cmg%2BrR62%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVtb9owFIX%2FC5r2aZS8wAaVqgmww8J6r2tjU4VvkARKTAGRtAmu%2Bt93qab%2BByolypuV6Dw559y31j5vqvvt3pat27cWCqX%2FjDlqNbw3s9Zt66mqjuVtp%2FO83C83%2BXO%2Br26W7uWU36SH5075sirT0%2FZYbQ%2F7suOt%2FPXP7i%2B%2F7a%2FWXrubZcv2Mk%2FDdroaBL%2BCtTfoDbzO8XR43Wb5qezANj0dysO6uvmbn%2BfLl13VyfJdXuXZx0X5e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXdbtpAEIXfBVW9KsE2poVIUQXsODXN7GaXHUfkDmxDsAkg7MSwUd69k7TNOxDJI9nrP83Zc755aW3zY32z3pZV6%2FKlJZWxv8YgrRne0LR12Xqo63112ek8zrfzVf6Yb%2BuLuXs65Bfp7rFTPS2q9LDe1%2Bvdtup4C3%2F5Pfzht%2F3F0muHWTZvz%2FO0204Xg%2BBHsPQGvYHX2R92z%2BssP1QdXKeHXbVb1he%2F81Myf9rUnSzf5HWevV9UP%2Bf7dfuZn%2BS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3VXtbtowFH0XNO3XKE4CG1SqpgQ7Hay%2Bro1NFf5BCB82BUTSkrjqu%2B9STX0HKkVKrOs4Oifn4621L%2BrqYbt3Zev2rQVC6T9DBlrFD2bSum1tqupY3nY6z%2FP9fF08F%2FvqZu5fTsVNfnjulC%2BLMj9tj9X2sC87ZBGsfnZ%2FBe1gsSLt7nI5b8%2BLPGrni0H4K1yRQW9AOsfT4XW7LE5lh2%2Fz06E8rKqbv0Uznb%2Fsqs6y2BVVsfxYlL%2Fnx237FXfi4Xc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXfbtowFIffBU27GsX5wwaVqolgp4P12LWxU9E7SELAplCRtARXffcdetE9A1Xsi%2Bg4jvzp8%2B%2B8dXZl29xtdq7uXL91uFD6z5hxrUZ3Zta57qyb5rm%2B7vWeFrtFVT6Vu%2BZq4V8O5VW%2Bf%2BrVL8s6P2yem81%2BV%2FfIMlj9jH8F3WC5It24KBbdRZlH3Xw5DH%2BFKzLsD0nv%2BbB%2F3RTloe7BJj%2Fs6%2F2qufpbnrLFy7bpFeW2bMri46X%2BvXj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVdb6JAFED%2FC9ns01r5cotNmg06g4vbmdkZ79DImwKiTKtGsOg0%2Fe9702z6H9oEHkgI5B7OPbw6%2B%2BrSPez2pnXuXh0uFPyeUg4qftAL587Zdt2xvRsOn1f7VV09V%2FvuZmXPp%2BqmODwP2%2FO6LU67Y7c77Nuhu%2FY2P8Nbb%2BCtN%2B4gLMvVYFUVwaBYj%2F1bf%2BOOR2N3eDwdXnZldWqHbFecDu1h0938qa7Z6vzUDcvqqeqq8v2i%2FbU67gYveCc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRbtowFIbfJZp2NYgTYAWkagrYdGE9J7OxqcJdSAIloYBI2gRXffcepqnv0Eo5F5EtW%2Bfz%2F51X55C39f3uUFbO%2BNXBSOnfU4FaBfdm4Yydx7o%2BVWPXfUoOyTZ%2Fyg91N7HP57ybHp%2Fc6nldpefdqd4dD5XL1t7mZ%2F%2FG63jrDev0syzpJHna66TrkX%2Fjb9hoMGLu6Xx82WX5uXJhl56P1XFTd%2F%2Fkl2XyvK%2FdLN%2FndZ79%2B6l%2BJadd54V[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZR%2Fj5owGMffC1n215Dya6cmlwWuxeBsu9bWC%2FsPARGqYARP5HLvfXVZ7j24pE3zpE2bfvL5Pu9GUwz9qmpUZ8zfDRSshVwbc2Pf96dublnHtEnL4lg0%2FSQdL%2BdikrVHq7tsu%2BxcnfqqbToLbO3dd%2B%2FJNu3tDphenqdmWmSumW1nzpOzAzN%2FBqzTuX2r8uLcWbjKzm3X7vrJz%2BK2SS%2BH3sqLQ9EX%2Bd%2Bi%2B5GeKvNNn9SXPzvAnplAD%2Fvrl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNtb6MwDMe%2FCzrdq1ECLbdSaZraJq3aa4xIE6a7dxQC46FQFTog07770tO%2BxE6yX9iybPnnv9%2BNWg7dIa%2FL1li8G2R55OJoLIzXrru0C8s6R3WUybOsu0mkblc5iZuz1d5ObXzNL13e1K2FTnb6a%2FZom%2FYpReYsSSIzkvHUjE%2Be8%2BikyHM9ZF2uzVueyGtr0Ty%2BNm2TdpPfcgyjW9VZiaxkJ5N%2FQfscXXLzTVfq5k8Osj0TabN%2F%2FmhLPbEpZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbqMwEIbfBa32agnnbYhUraA2K7KxkR2bKr0jYBIwgQhICVR991pVX6IreS7mII%2Fmm3%2FetFbcx13VykHbvGkw2DO%2B1zbaeRyvw8YwLlmbncRFtOMqW269WOXdxRhuxyHvq%2BtYde1gmEer%2FO0%2BWLp1LE3dLYpMz0Tu6PnRtx%2Fs0vQ93zSuffdaFaIfDFTlfTd05bj6J%2BY0uzWjUYhGjKL4dIY%2F2bXSX1Wl%2BvzRNi1fN9Wzfv4YpOrYSdE%2Bcpk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPhaqswFAfwd5HL%2FTRrtHpXC2O4Jo7uNpGkiaP7ZjVatdVS7dSMvfvSy15iFwIhfw4J%2BXHOh9HIsd%2BUTd0Zyw8DBVsutsbSOPT9uVta1ilpkkKeZNPPEnW9yFnanqzuuu%2FSS3nuy7bpLLC38z%2FuvW3a%2BxyYbpYlZiLTuZnufefeyYHv%2BcA6X9r3MpOXzsJlemm7Nu9nf%2BUUJ9djb2XyKHuZ%2FTt0j8m5NN91pb78wQG2bwK97N%2B%2Fulq%2F2Naye[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhbpswFIXfBVX7NYIhZA2RqiqNTQTLNcKxqdp%2FBAwDE4gCKQlV333u1JfopCtZV7Jsne%2Bc82608jrsqlb1xurdIOs9F3tjZfwZhlO%2Fsqxj2qalPMp2mKXT5SxnWXe0%2Bsuhz87Vaai6trfQwS5%2Bufe2aR8KZLp5npqpzOZmdvCce6dA3sJD1uncvVW5PPcWVNm567timP2WtyS9NIOVy0YOMv%2B39I%2FpqTLf9E39%2BIODbM9Eeuwfd73SP3ZKtg9CJc8sC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32aQmGwDZEqlZJ7EZ0M0Z2bCp4I8RJgAQiIIVQ9d%2FrrvoTXckvVx7NaI7OvBmVGrpNXpWtMX8zyGIr5NaYG6euu7Zzy7qkVXpUF1V1k3S8NWqS1Rerve3arMmvXV5XrYV29uG3%2B2Cb9u6ATHe%2FT81UZVMz2%2FnOg3NAvucj69rUr%2FleNa0FedbUbX3oJn%2FVPUpv587aq7Pq1P5faP%2Bk19x81ZW6%2BaODbN9E%2Btk%2Ff7SlnliXqnqUZfTCo2fBJX8SJJJb6YcbeZYHHNggjgPF4IU4HkNx1BkQFckMShioWBJAzAV8XlNcIiDEpoV0Qlz2oeArTgKX44Xx64uD891BAA5cDWGEMdYQAhcKOuNFQlgR9BqIy0o2UAIuL44elXQdknigoxzZmKzYGGsQL%2BQ%2FEKIPcebBSLQMbAr4aIfiNKMk7uFz588%2FkWBKkjXIZ8yEnFIJjpahBxStoSi%2FOKwIFXyx%2Bfb3oV2Hu0YxgJCIFgudTzMmmE0lu4OMRy64xhGtQhl4nDytWCnvWgc7xMslFLHx%2Fv4B
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/mysqllf5pnp5fh6g3wtk3rtb","name":"mysqllf5pnp5fh6g3wtk3rtb","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgp7lqtio3dtvrgey5y4q4obwopsa7c4vb5zio5cr2idfjio7utc5lbnhxtdmlgh6jf/providers/Microsoft.KeyVault/vaults/mysqllf5pnp5fh6g3wtk3rtb","location":"eastus","tags":{},"deletionDate":"2020-04-25T11:46:54Z","scheduledPurgeDate":"2020-07-24T11:46:54Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/pgsql2pnh5t3mellsevoryph","name":"pgsql2pnh5t3mellsevoryph","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgwu5zysf3ayibk2c7f6jy2ka6czbp6iab4bjznfleivvleummevxsd3wglkd5csgzl/providers/Microsoft.KeyVault/vaults/pgsql2pnh5t3mellsevoryph","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhjqIwEIDfhVzu1yEF5VZMNhfcVoPnlLS2bHb%2FIVSFIhjBRdnsu2%2B97EvsZZo0nbQz6Zdv3q1aXbt1UevWmr1bJNwIubFm1qHrTu3McY5pne7VUdXdKB0uZzXKmqPTXrZtdi5OXdHUrYO27u735MG13e0O2ZM8T%2B1UZWM72wbeg7dDgR8g53Ru3opcnVsHiuzctM2uG%2F1VtyS9VJ2Tq0p1Kv93aP%2Bkp8J%2BMzdN8UcPuYGNzHJ%2F%2Fmi16dhoVT9KnTzzZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhbqMwDMffBZ3u0ygJ0FupNE3dJT3RaxKRJp36kUKgNC1UhQ7ItHe%2FdNpL7CRbsmXLln%2F6%2B92p1dCtq1q3zvzdwYuNkBtn7hy67tLOPe%2Bc1mmpzqruJqm5XdUka85ee9u32bW6dFVTtx7Yw%2BJX%2BAhduC%2BAG%2BZ56qYqC9xsH%2FmPfgGiaQS8y7V5q3J1bT1SZdembYpu8leN2%2FR26rxcnVSn8s%2BkfU4vlftmO%2B3wJx%2FAyAXW4M8frbYbG63[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZLhiqMwFIXfRZb9tdbE2p1aGBY7icVuk6BNHJx%2FVmNr02oxdkYd5t03O8xL7MK5cA5c7oWP8241cuh3daO0tXq3cLDnYu9aK%2BvU9ze9cpxr3uRHeZVNP8uneydnRXt19P2gi66%2B9XXbaAccYPXTe4A2PFTA9soyt3NZzO3i4LsPbgX8hQ%2BcW9e%2B1qXstEPqomt1W%2FWz33JM8%2Fuld0p5kb0sP4P%2Bld9q%2B9VsmuOPLoC%2BDYzg929amY%2Btks2jUOl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dJRT4MwEAfw70KMTzJaxnQsMYbZskzXEroW494YlAllsFDmEON3txq%2FhMm9XO5yl%2Fzy%2F7QaOfSbslHaWnxaONhysXWthfXW9ye9cJxj2qQHeZRNP0nHcycnWXt09Hmvs6489WXbaAfsYXHr3UEb7gtge3me2qnMpna29907twD%2BzAfOqWvfy1x22iFl1rW6LfrJs%2FxI0nPdO7msZS%2Fz30Y%2FpKfSfjeb5vi9C6BvA1Pw%2Bkor87FVsrkXKnlhyRNngoUcJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZJhi6MwEIb%2Fixz3aa1R29taKIu9pMVeE0k66dL7ZjW6otVi7K617H%2Ff3HJ%2FojAwvDDM8DzM3WrU0O%2FKptLW4m6RcA9y71kL663vL3rhOOekSQp1Vk0%2FScZrpyZpe3b09aTTrrz0ZdtoB53c%2FNf02bXdU47saZYldqJS305Pgffs5SiYBci5dO17malOO7RMu1a3eT%2F5o26H5Fr3TqZq1avsO%2BiX5FLa72bSLF96yA1sZMr9%2BUNX5mJbqWYpq8OrOGx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZLhbqMwDIDfBU336yiBsa1Umk67JlT06iDShGn3j0LYIC1UhG4l09596bSXmORPliXLlj773enkedw0ndLO4t0hD1sutoGzcF7G8agXnncouuJZHmQ3zgpzGuSs7A%2BePu10OTTHsek77aGdX9%2BGd77r72rkhlVVuIUsr91yFwV3QY2imwh5x6F%2FbSo5aA%2Bacuh1X4%2Bzf3LKi9N%2B9Cq5l6Osvgr9pzg27qvttMPvA%2BRHLrLh%2F7rSym7slezuhcofWb7mT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZLdbqMwEEbfBa32agnGJdsQqVpFsanYzdjCsVMldwQM5ScQYdIkVH33elf7EpXmZkafZnSO5t3p9G3cVF1jnOW7Q1dbqbbYWTqv43g2S887pV1a6pPuxlk6XQY9y%2FqTZy5Hkw3Veaz6znjo6Bc%2Fg0ff9Y8FcoM8T91UZw9udgzxIy5QOA%2BRdx76tyrXg%2FGgyobe9MU4%2B6Pvu%2FTSjl6uWz3q%2FF9jfqXnyn2zSbv8CSM%2FdJEt%2F%2Fs309iLfaO7J9XsX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dDvSsMwEADwdyniJ7umf6brQKRbsjFdEpolFf3Wpelsu7Wj6dyM%2BO5G8SWEO7iD4477fTqtugzrqm20M%2F10ULLhYhM4U%2BdtGI566nmHvM136qDaYZSbU69Gsjt4%2BrTVsq%2BOQ9W12gNbv7yN7nzX35bAjYoid3MlQ1du4%2BAuKEE8joF37Lv3qlC99nAl%2B0535TB6Uh9ZftoPXqH2alDFb6Mf8mPlvttJu%2Fw%2BAH7sAhv%2B9ZVu7MWuUe29aLJnlj1yJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZLRbqpAEIbfhZz0qshCtRWTplF3PGnrLGHdtdE7hMXCIhjAgjR9925Pzks0mbmYyWQm%2Fzf%2Fp1Wqvl1npW6s2acF842QG8%2BaWe9te25mjnOKyuioTqpsR9FwqdUork5Oczk0cZ2d26wqG4cc3PR%2B%2FODa7iEl9jhJIjtS8Z0dH3zvwUuJP%2FGJc66rjyxRdeNgFtdVU6Xt6FVdt9GlaJ1EFapVyb%2BieYrOmf1hJs3yR4%2B4vk1MuDd%2FGm0uVlqVj1Jv3%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZLRbqMwEEX%2FBa36tASbJG2IVK2S2lRJ40EQkyq8ETApNoEIkzZx1X9fd7U%2FUWleRnM0I525n04rrsOmbpV25p8OXWx5uvWdufM2DGc997xT3uZHcRLtMMrNpRejojt5%2BnLQRV%2Bfh7prtYcOuLqfPGAXHyrkTsoyd3NRjN3iEPgPfoWCaYC8c9%2B916Xotcfqou90Vw2jF3Hb5Zdm8ErRiEGU%2Fxr9Jz%2FX7rsl7fJHH%2BHARbbw3S%2Bt7MVOifYxVbvXZLf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZLdbqMwEEbfBa32agnmJ22IVK3Y2KnoZoxw7FTJHQGTAAlEmJTUVd%2B9btWXqDQ3MxrN6Ds6b1Yrb8Oqahtlzd8sEq25WHvW3DoOw0XNHeectdlBnmU7TDJ97eUk786Ouu5V3leXoepa5aC9W94F967t7ktkB0WR2ZnMfTvfh969V6JwGiLn0ncvVSF75UCV953qymHyX75usutpcAp5koMsvhr1N7tU9ovZNMcfPOSGNjLl%2Fv6lGvOxa2T7IJrNM9s8cSbYkpONWIswW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dLBbqMwEAbgd0HVnpZgIGxDpGqV1E7FbmwLx6ZibwRMA04gAlIMVd%2B9brUvUWkuo%2Fk1I32aN6uRethXjeqt9ZuFNgcuDp61tk7DcO3XjnPJmuxFXmQzLLL51slF3l6c%2Fnbs8666DlXb9A44uuWv5b1ru8cS2MuiyOxM5r6dH0Pv3itBGITAuXbta1XIrndwlXdt35bD4q%2Bckux2HpxCnuUgi6%2Bm%2F51dK%2FvVJM3yBw%2B4oQ1MuT%2FuemUutko2D0Ilzyz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZBdb4IwFIb%2FS7PsasiHOMXELFMw0dma1hbj7qAUx4dAaFXE%2BN%2Ft9i%2BWvDfPm5Nzcp47qESnNllVSDC9g%2BBzR9nOAVPwo1Qjp6Z5iqroKE6iUoOoP7diwOuTKc%2Bx5G3WqKyupGnFdvrujm3DjlPLcJMkMiLBhwaPPWfspJY38iyzaetLlohWmjDjbS3rVA2%2BxC2MzqUyE1EKJZI%2FkB9RkxkXPamXzxzL9gxLx359kYW%2BWBeimrEi3JNwTQkjSxqEbMe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZBba4MwAIX%2FSxh7mjU6XWuhjNmk4NZEao1lffMSr62KSW8p%2Fe9z%2BxeD83I4h3Pgu4OWX%2BW6ahsB5neAP7Yh25pgDkopezHX9WPcxgU%2F8lZOYnUa%2BCTtjro4JSIdql5WXSt0mBj5mzU1NCPJoWZlWazFPH3V0sQxp2YOHduBej905yrjg9BJlQ6d6HI5%2BeK3KD4dpJ7xA5c8%2BzPiPe4r7Tw2x%2FGFCQ1Hg6OM5yfRjI9dw9sFa6JdEH2GAQtWIY7Yljn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZDraoMwAIXfJYz9mjVRd7FQhi4KdU1Em1jaf15iZ7VaTHqz9N1n9xaDA4cDh3Pgu4FWXNSiamsJpjfgOUvGlwaYgh%2BlDnKq6%2Fu0TbdiL1o1SYdjLyZ5t9flMZN5Xx1U1bVShxkq36x3pKGshJpVFKmWitzU8sw23o0S2q821A99d6oK0UudVHnfya5Uk29xTdJjo%2FRCNEKJ4i%2FIz%2FRQaaexOY7PDIhsDY5Cz0%2ByHh%2B7WrQzXierOAlYzGOfeQlfcjtc8Ia[...]
- request:
    body: null
    headers:
    method: GET
[...]
