interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/create?api-version=7.5-preview.1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "oct-HSM", "key_size": 256, "key_ops": ["encrypt", "decrypt"],
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"attributes":{"created":1699280798,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1699280798},"key":{"key_ops":["encrypt","decrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/751187887ed94da39034a11f34cd54ee","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '112'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/?api-version=7.5-preview.1
  response:
    body:
      string: '{"attributes":{"created":1699280798,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1699280798},"key":{"key_ops":["decrypt","encrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/751187887ed94da39034a11f34cd54ee","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20230831-2-9231e16f-07-lkg
      x-ms-server-latency:
      - '305'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "A256GCM", "value": "dGhpcyBpcyBwbGFpbnRleHQ", "aad": "EBESExQVFhcYGRobHB0eHw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/751187887ed94da39034a11f34cd54ee/encrypt?api-version=7.5-preview.1
  response:
    body:
      string: '{"aad":"EBESExQVFhcYGRobHB0eHw","alg":"A256GCM","iv":"A4YQgLVAzfXfnvC4","kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/751187887ed94da39034a11f34cd54ee","tag":"F73Z9ssmKYnyHkXzkkWkvw","value":"_tb1s1siOl5CsnuOAwFWG0I"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '15'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "A256GCM", "value": "_tb1s1siOl5CsnuOAwFWG0I", "iv": "A4YQgLVAzfXfnvC4",
      "aad": "EBESExQVFhcYGRobHB0eHw", "tag": "F73Z9ssmKYnyHkXzkkWkvw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/751187887ed94da39034a11f34cd54ee/decrypt?api-version=7.5-preview.1
  response:
    body:
      string: '{"alg":"A256GCM","kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/751187887ed94da39034a11f34cd54ee","value":"dGhpcyBpcyBwbGFpbnRleHQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '13'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003?api-version=7.5-preview.1
  response:
    body:
      string: '{"attributes":{"created":1699280798,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1699280798},"deletedDate":1699280807,"key":{"key_ops":["encrypt","decrypt"],"kid":"https://clitesthsmkey000002.managedhsm.azure.net/keys/oct256key-000003/751187887ed94da39034a11f34cd54ee","kty":"oct-HSM"},"recoveryId":"https://clitesthsmkey000002.managedhsm.azure.net/deletedkeys/oct256key-000003","scheduledPurgeDate":1699885607}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '44'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitesthsmkey000002.managedhsm.azure.net/deletedkeys/oct256key-000003?api-version=7.5-preview.1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '56'
    status:
      code: 204
      message: No Content
version: 1
