interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2280375'
      ocp-aad-diagnostics-server-name:
      - Pic1F65Epb09dO+KPYO5B5p6FEUjmCGfdDxaTmD237o=
      ocp-aad-session-key:
      - E5w9R5jBW3qXE63ZpaGCN-SuC_4ohO-O-5CjqeW7OYB-o3ZRlsO1edyYatA_rMemidzY1C67Awl2YLDppEBnO12pt85LLaRLuYOt3HEzrAGRV_uOksLEOgMYKqC6SDEc.EwaK3ET54zppDxSYljts4wggq4_MM8qbx5E5jVVr_GU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/732bd5d480ab4b14b7026aa8c68e2a10","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"va2OPdPGAiY7lyPZ08tLqu1eBOAO6SjeeAI3cLmmbaIYAbpueKJzwAVfyv9RtNNIBknU37OW1-PmoJRkpLB44bVu7Ee8dsAX_W7wdw-sfWUh_Z3oYZNWxiT6WGjZtP7b9iON2LQ7zG2os_y94cINf4Ui4sNTdo6GeS7qnGP-iF_wJH_Q9473aYq9cA1cCJZut4_rkbcVYwJkqHEV2xPggF4pUu-ZdQAl68-d8myPFEof3qR4zcEXUr0Dbm0mB5u01oaZoLa5JmYcO5DMIrhzXoaLvuK5DKqON5O8Z0uODTWwrD4nUEqDqoFkyzkzvRJKRvHJ4EnUvY_ehBMznJ_AoQ","e":"AQAB"},"attributes":{"enabled":true,"created":1603082984,"updated":1603082984,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/dogfood-env-pwd","name":"dogfood-env-pwd","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim_pl_test_rg/providers/Microsoft.KeyVault/vaults/bimkv-nr-test","name":"bimkv-nr-test","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-000[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["recover", "encrypt", "update", "create", "delete", "get", "import", "list",
      "restore", "decrypt", "backup"], "secrets": ["get", "list", "set", "delete",
      [...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/732bd5d480ab4b14b7026aa8c68e2a10","value":"aD84mCeC3FyYIn3pyF6CED9QtWaEtq3KhHOwyyimnY2N7NY3qor1h25lBZHEqIWlD1VqsC7jqfKYr5fpb5c2MY79GQgmYuXvAk0t6DdQq7BtHY8VOkOBRkdo55T4lCbkNCfzDcK_LncnF3SlZEuT0XBqKfESF6DUxadkw7SodNaj0T2o5ABp9jBOfFs3DstZq4laF-nYKZhvc4y7HsSoVR7NsaVGEWZIZVLJwKFbfiWGPn8pSd_CtrhzijqcwZaxvAYfs78lkamp-oH0K_yk8TfJBOAXRJyDdACTJUvSH2BUa30Af_hHw_P24_x2matFp6DPyg_452oenkZtzpoVeA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "aD84mCeC3FyYIn3pyF6CED9QtWaEtq3KhHOwyyimnY2N7NY3qor1h25lBZHEqIWlD1VqsC7jqfKYr5fpb5c2MY79GQgmYuXvAk0t6DdQq7BtHY8VOkOBRkdo55T4lCbkNCfzDcK_LncnF3SlZEuT0XBqKfESF6DUxadkw7SodNaj0T2o5ABp9jBOfFs3DstZq4laF-nYKZhvc4y7HsSoVR7NsaVGEWZIZVLJwKFbfiWGPn8pSd_CtrhzijqcwZaxvAYfs78lkamp-oH0K_yk8TfJBOAXRJyDdACTJUvSH2BUa30Af_hHw_P24_x2matFp6DPyg_452oenkZtzpoVeA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/732bd5d480ab4b14b7026aa8c68e2a10","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1603082984,"updated":1603082984,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1603082986,"updated":1603082986,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1603082984,"updated":1603082984,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1603082986,"updated":1603082986,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3MiFNREF3TURBNElXdGxlUzlMUlZreUlUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/7ebd6e14404b47df88adf5f7e2cc7e58","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"uNZI6XMkQa6Psjm0MUoI4v-YD1ByUHVOiQX8SJDEIAk4m_h17h5kz9ZUbKjtxfljh0QNiWUfRLDqpcSTSwykcODd_jlmN_A4J-qacDwBoP9NtvE2Z90Ni3wY-_sghFfXSLsGe7Qr8lZdY7u-KFZk5uG-PRL0wmHZ5sorCDTiWvlNH3M8EMya8VA_CJhxgz6c4hl9w2SWerNT--_tIWmc6EOf3Y8dVUJsnlOhSdiPFGs2tKNvHBQoTGyj-Qm5C1vC4y1hTqrZicEVVsoRS0dDRCYAI_Hmmncvk_ald5ud2Dul2wSFQiytQrgJyCMLBLu2yiBqAjRv3MoC4AvZSElyUQ","e":"AQAB"},"attributes":{"enabled":false,"created":1603083000,"updated":1603083000,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/732bd5d480ab4b14b7026aa8c68e2a10","attributes":{"enabled":true,"created":1603082984,"updated":1603082984,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/7ebd6e14404b47df88adf5f7e2cc7e58","attributes":{"enabled":false,"created":1603083000,"updated":1603083000,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/732bd5d480ab4b14b7026aa8c68e2a10","attributes":{"enabled":true,"created":1603082984,"updated":1603082984,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/7ebd6e14404b47df88adf5f7e2cc7e58","attributes":{"enabled":false,"created":1603083000,"updated":1603083000,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMTYhTURBd01EUXhJV3RsZVM5TFJWa3hMemRGUWtRMlJURTBOREEwUWpRM1JFWTRPRUZFUmpWR04wVXlRME0zUlRVNElUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/7ebd6e14404b47df88adf5f7e2cc7e58","attributes":{"enabled":false,"created":1603083000,"updated":1603083000,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/7ebd6e14404b47df88adf5f7e2cc7e58","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"uNZI6XMkQa6Psjm0MUoI4v-YD1ByUHVOiQX8SJDEIAk4m_h17h5kz9ZUbKjtxfljh0QNiWUfRLDqpcSTSwykcODd_jlmN_A4J-qacDwBoP9NtvE2Z90Ni3wY-_sghFfXSLsGe7Qr8lZdY7u-KFZk5uG-PRL0wmHZ5sorCDTiWvlNH3M8EMya8VA_CJhxgz6c4hl9w2SWerNT--_tIWmc6EOf3Y8dVUJsnlOhSdiPFGs2tKNvHBQoTGyj-Qm5C1vC4y1hTqrZicEVVsoRS0dDRCYAI_Hmmncvk_ald5ud2Dul2wSFQiytQrgJyCMLBLu2yiBqAjRv3MoC4AvZSElyUQ","e":"AQAB"},"attributes":{"enabled":false,"created":1603083000,"updated":1603083000,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/732bd5d480ab4b14b7026aa8c68e2a10?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/732bd5d480ab4b14b7026aa8c68e2a10","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"va2OPdPGAiY7lyPZ08tLqu1eBOAO6SjeeAI3cLmmbaIYAbpueKJzwAVfyv9RtNNIBknU37OW1-PmoJRkpLB44bVu7Ee8dsAX_W7wdw-sfWUh_Z3oYZNWxiT6WGjZtP7b9iON2LQ7zG2os_y94cINf4Ui4sNTdo6GeS7qnGP-iF_wJH_Q9473aYq9cA1cCJZut4_rkbcVYwJkqHEV2xPggF4pUu-ZdQAl68-d8myPFEof3qR4zcEXUr0Dbm0mB5u01oaZoLa5JmYcO5DMIrhzXoaLvuK5DKqON5O8Z0uODTWwrD4nUEqDqoFkyzkzvRJKRvHJ4EnUvY_ehBMznJ_AoQ","e":"AQAB"},"attributes":{"enabled":true,"created":1603082984,"updated":1603082984,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuc3d6ZnhxdGlBSGltTTJwSHFRd0xIdWdWa3A1[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/7ebd6e14404b47df88adf5f7e2cc7e58","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"uNZI6XMkQa6Psjm0MUoI4v-YD1ByUHVOiQX8SJDEIAk4m_h17h5kz9ZUbKjtxfljh0QNiWUfRLDqpcSTSwykcODd_jlmN_A4J-qacDwBoP9NtvE2Z90Ni3wY-_sghFfXSLsGe7Qr8lZdY7u-KFZk5uG-PRL0wmHZ5sorCDTiWvlNH3M8EMya8VA_CJhxgz6c4hl9w2SWerNT--_tIWmc6EOf3Y8dVUJsnlOhSdiPFGs2tKNvHBQoTGyj-Qm5C1vC4y1hTqrZicEVVsoRS0dDRCYAI_Hmmncvk_ald5ud2Dul2wSFQiytQrgJyCMLBLu2yiBqAjRv3MoC4AvZSElyUQ","e":"AQAB"},"attributes":{"enabled":true,"created":1603083000,"updated":1603083014,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuc3d6ZnhxdGlBSGltTTJwSHFRd0xIdWdWa3A1Qlluc0NVTnFJemExa0plNUx0TjRYNEUzTnYwbHktbzI4di0yRzZVTkZCVHF0TDR0aEhtclpTdmVsb2pOZ1ppOUp1TUlGcmtBcmM3MXhtd1o0UXRNaFVHUmtFUE5JRnFxOEI0S1FtZXI2M2JlazFadllYU2c0TUdRNkJfeTJqalppQ1dKV29RWENRVnFVcnhxcFpRVTNUc2JtVENBcGgyMVlVX1h[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/b356446f60284ea29610eae4793a5f14","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1603083026,"updated":1603083026,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/bbadcd9b84454989a08b30818e7f63c8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"v8kSvPkInXwXsRKSIObU9ayO-eWqUCIsWDTBUS8NpNw","y":"2w2qXaHmdKfT5BZ8v-__UGn_YpjLpFr1L_cN3vQQQmA"},"attributes":{"enabled":true,"created":1603083033,"updated":1603083033,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/8dfd1029da534342a12fb8e3f82810cd","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"mGkSplP089xGU6VWpeTIqMuDaByFC_afesgjx5SNko4","y":"VWm5NYEFlFfNzkq74aGcjLMQvPqTvyR-8s8KEANsiG4"},"attributes":{"enabled":true,"created":1603083034,"updated":1603083034,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/983bcdadc2e54a33a77b0c3a290e33f5","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1603083036,"updated":1603083036,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/d504a2639b97473287d4f0a08b8319ba","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1603083038,"updated":1603083038,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/2f732eb967b54f108b23d20bb40648e0","kty":"RSA-HSM","key_ops":["import"],"n":"3v17cAAbO8jVU_wxykgitzQhMUBHeC3x8UTjE4c6WAwmzu5XF5RXmg0klbjZAXUvR1E4fcaqAdrj2F9lVtnVGVbvkyrI72NHHDq3JwzDspZheFyORYytHXLsz1QoHILUftwaC6q4KRj0h9ndvLzU_mVmNl31WBJXg-nP9ti21WT8vfVVDawXO0Yi50NFtf7U8wglcmt1yOn1NB1IsGacPq2avRWV6hTb-AP6INQlH7nsy3VgZLH4qX7kI7l3O0CuYSQc3Ba_gKXPBHJEajKVi1bVyp2GTzRD4zmKbxeDbFDzrM6rxKhDSp7v0s4RqUWmMlBT2Y8YVsb0BNvmkKy6AQ","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1603255882,"created":1603083082,"updated":1603083082,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/a089fc39992942dfa5e1cf1bf7f26dc5","kty":"RSA-HSM","key_ops":["import"],"n":"vz1Afil-K6HQWx5-QCuLFOKI4dIXAImZU8FrjUiOgvGyHftOaGVPbPybRNPegj6RwtJTdPuoC21h2NM6hyJBpaqYRYSPE42McIDRMypYEipZi1UF4xnDtTBFD0zVyVt9TujXqS4rU8QEtfaXnh-IZw-gjgcwVhzOwnUS25OuSB3M2a8pN-wVRi-hmk11VmCFxXEHYAapm5hJ5unZqta-ZBlGE-hG5aLh-sQ_VATi2wDggb9sXAKnx1uFV-VBDUlX6Ulg6vfmS5j2IyKpiGrKn0I5nZmzLUmLLMqrN0S5At9Qn98pocA9Jt2QhG0tEn2Qyd4X9gymkvenLnn51hzU7JhcMxctWyaqbmi_iic-t6rUSszhX_vqhTW1Hlf8UnI3oH0uTAWEOEp3G_YvMqA03yjqMX-GQA4wi-GXtJrD5qbdCr4uZUHKYocxU3SxCdMI_ICt4FKNFin0Dkvh12Orn2ogvx73b82rOukiSvBuQ7G3-BT5KSHFQ-D33kzQ_4_-9Fw-8fkT_TiFxGFKCkDJCDtgy5nlG738PLGnK-eadYdrs3WnJ9rFM6K1bPyjBuzVncyheYj8VYp8hmC0ypzWaX6ToVnEN_NlexDxASbOCjM_N0IHUIs7iVEItOt98eyg_I169OaJKxGrF1XWCWjfX6tk3dBsC6EbF-ugYtUPWLM","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1603255887,"created":1603083087,"updated":1603083087,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
