interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Zhiyi
        Huang","givenName":null,"jobTitle":null,"mail":"zhiyihuang@microsoft.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"zhiyihuang_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","id":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0000596D"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "sku": {"family": "B", "name": "Standard_B1"},
      "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "initialAdminObjectIds":
      ["a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e"], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mhsm_region000001/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-000002?api-version=2023-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/managedHsmOperationResults/6e97cb3f-3294-4509-b178-08f9d6f68342?api-version=2023-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/managedHsmOperationResults/6e97cb3f-3294-4509-b178-08f9d6f68342?api-version=2023-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/managedHsmOperationResults/6e97cb3f-3294-4509-b178-08f9d6f68342?api-version=2023-02-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/managedHsmOperationResults/6e97cb3f-3294-4509-b178-08f9d6f68342?api-version=2023-02-01
  response:
    body:
      string: '{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mhsm_region000001/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-000002","name":"clitest-mhsm-000002","type":"Microsoft.KeyVault/managedHSMs","location":"eastus2","tags":{},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-03-27T07:42:14.237Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-27T07:42:14.237Z"},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","hsmUri":"https://clitest-mhsm-000002.managedhsm.azure.net/","initialAdminObjectIds":["a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e"],"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":false,"provisioningState":"Succeeded","statusMessage":"The
        Managed HSM is provisioned and ready to use.","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"publicNetworkAccess":"Enabled","regions":[],"securityDomainProperties":{"activationStatus":"NotActivated","activationStatusMessage":"Your
        HSM has been provisioned, but cannot be used for cryptographic operations
        until it is activated. To activate the HSM, download the security domain."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest-mhsm-000002.managedhsm.azure.net/securitydomain/download?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"certificates": [{"kty": "RSA", "key_ops": ["verify", "encrypt", "wrapKey"],
      "n": "9l0iCXj0FyV9cDmEwOb40OFkpvH-FcJNH5_iXAXQj-_d34PGYpYUaxlWvayIFtLbxYHQQZ57xXZ5PmX5jmCndQmsymYVQEFXD4RVMv11Mfsn_tVeD5QXQ8qkZ5icQC-dBve77v-1CwJg3yLqvqMdB--fHVzogm8F_G5bqo5m6dgVpP--aTbI219l3clOGOMz8tPUZZaG6AOKwftqHhPHWcKcC_K8lP784vhQkaitMGr2seHmPyhZLTYdtv3Qd2YBWMMAErMeiUN2e96bn3azFBPd74b6tEjjUIwXnR9NEX4TRNb4JeXYPvjtyumjXQN4nMpIFhMZ92ZeAG42ceuyDQ",
      "e": "AQAB", "x5c": ["MIIDoTCCAomgAwIBAgIUQ9MFlEMQ93dk3SeqBPWTOzk4+4AwDQYJKoZIhvcNAQELBQAwYDELMAkGA1UEBhMCQ04xCzAJBgNVBAgMAlNIMREwDwYDVQQHDAhNaW5nSGFuZzEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMQ4wDAYDVQQDDAV5aXNoaTAeFw0yMTA5MjIwODA0NDdaFw0yMjA5MjIwODA0NDdaMGAxCzAJBgNVBAYTAkNOMQswCQYDVQQIDAJTSDERMA8GA1UEBwwITWluZ0hhbmcxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEOMAwGA1UEAwwFeWlzaGkwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQD2XSIJePQXJX1wOYTA5vjQ4WSm8f4Vwk0fn+JcBdCP793fg8ZilhRrGVa9rIgW0tvFgdBBnnvFdnk+ZfmOYKd1CazKZhVAQVcPhFUy/XUx+yf+1V4PlBdDyqRnmJxAL50G97vu/7ULAmDfIuq+ox0H758dXOiCbwX8bluqjmbp2BWk/75pNsjbX2XdyU4Y4zPy09RlloboA4rB+2oeE8dZwpwL8ryU/vzi+FCRqK0wavax4eY/KFktNh22/dB3ZgFYwwASsx6JQ3Z73pufdrMUE93vhvq0SONQjBedH00RfhNE1vgl5dg++O3K6aNdA3icykgWExn3Zl4AbjZx67INAgMBAAGjUzBRMB0GA1UdDgQWBBTkqx6/uAIe4Ek6Cbp0/+FOKkmgKjAfBgNVHSMEGDAWgBTkqx6/uAIe4Ek6Cbp0/+FOKkmgKjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCABHyOZ/52JPyHItAA6Uk4SovbYvplcbfjGAhMeKjpfAgZQRfJJYbPLu7p+eo8mZrosPMguSRJMwK0Wk9mIQqXgMXRXDwaR8lGx731NG+IUM2gVowGB3r7KYVxYLFjFW9M3mwm4Wr5DXKvTjkfz2bkg4vqDN1up4g+nLnPVbe8OEiUKQiTP2UY+qlonLCGQ0RVwKT9bW/JN4oDYX4t3yTXzioFiJMbEIbLZM2AdNSdyTb6LJALecxRFqDCDOSO9HTJ9vEZjlLWaw+EK9Iuuyl4sXkRY69Sc6WswhvzcVcYEWNgwBA3N3QXur25SsLNr/2G4VSqOoHtCH2Ved50S4OX"],
      "x5t": "PoSFtNEC3xzG4bXON9R2ZERMr_E", "x5t#S256": "KDtoDOcyfLJYATO9jyG7JxJaES5LOnxK_5FBTlHLSSE",
      "alg": "RSA-OAEP-256"}, {"kty": "RSA", "key_ops": ["verify", "encrypt", "wrapKey"],
      "n": "nHb9Ka280EBcURfByReMFVQI62_ff7NmyZW-s8lFGJsH40z7SlNm9GLuXaWbZdV73f35JpUgfM8b9BpASQUdms07SNO2Szpme-YMJ4yQO6LhdpHKj0RRw2NGCN0EG32WZox-eqiYOXexqjvj-j6NZeSR3nJXlL2-rs7fI4csbMmZc_2lPdqnwrRITMP5GFSKnAZUEhnY-IxnCVGWrHf4Y44kk-NUBa7UyLujdwS8Ni9fKoE06hfYskL0dkAjGQqEeKxzqlhLtr_7UoY5WM2jYtLuj3TOTnkF-Ptzqxc0hYgXrU2X34Yn_Jbgdqnn8t3oQv1M_JLozEYDSOJ9cFu-aQ",
      "e": "AQAB", "x5c": ["MIIDjzCCAnegAwIBAgIUDLVCbKxtJ9+a50F9z[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest-mhsm-000002.managedhsm.azure.net/securitydomain/upload/pending?api-version=7.2
  response:
    body:
      string: '{"status":"InProgress","status_details":"The Security Domain is being
        confirmed."}'
    headers:
      azure-asyncoperation:
      - https://clitest-mhsm-000002.managedhsm.azure.net/securitydomain/upload/pending?api-version=7.2
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20230312-1-12e5b134-feb-lkg
      x-ms-server-latency:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "sku": {"family": "B", "name": "Standard_B1"},
      "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "initialAdminObjectIds": ["a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e"], "enableSoftDelete":
      true, "softDeleteRetentionInDays": 7, "enablePurgeProtection": false, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}, "regions": [{"name": "testregion"}], "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mhsm_region000001/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-000002?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"400","message":"Invalid region name: testregion passed.
        The valid list of region names: usgovarizona, chinanorth, southafricawest,
        australiacentral2, southindia, japaneast, eastus2, germanynorth, francesouth,
        eastasia, westus, germanynortheast, chinaeast2, usgovtexas, northeurope, australiaeast,
        japanwest, norwayeast, westus2, westus3, westeurope, australiasoutheast, usdodeast,
        usdodcentral, germanywestcentral, germanycentral, westindia, usgovvirginia,
        southcentralus, francecentral, westcentralus, centralus, canadaeast, southeastasia,
        centralindia, switzerlandwest, uksouth, chinanorth2, koreacentral, ukwest,
        uaecentral, northcentralus, switzerlandnorth, australiacentral, canadacentral,
        norwaywest, chinaeast, brazilsouth, eastus, usgoviowa, koreasouth, uaenorth,
        southafricanorth, australiacentral, polandcentral, qatarcentral, swedencentral,
        northcentralus, southcentralus"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mhsm_region000001/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-000002/regions?api-version=2023-02-01
  response:
    body:
      string: '{"value":[{"name":"uksouth","provisioningState":"Succeeded"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedManagedHSMs?api-version=2023-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedManagedHSMs/clitest-mhsm-000002","name":"clitest-mhsm-000002","type":"Microsoft.Keyvault/deletedManagedHSMs","properties":{"mhsmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mhsm_region000001/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-000002","location":"eastus2","deletionDate":"2023-03-27T08:49:43Z","scheduledPurgeDate":"2023-04-03T08:49:43Z","purgeProtectionEnabled":false,"tags":{}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedManagedHSMs/clitest-mhsm-26d2x67u2tm","name":"clitest-mhsm-26d2x67u2tm","type":"Microsoft.Keyvault/deletedManagedHSMs","properties":{"mhsmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_mhsm_regionrwkpcuteibl3755cy5tfdn4bqrt66nn4c5m6p2oqwgxpjiqk6li4kid/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-26d2x67u2tm","location":"east[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedManagedHSMs/clitest-mhsm-000002/purge?api-version=2023-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/managedHsmOperationResults/f18d6ea9-ac14-47c4-ab9b-8125c8b2e88c?api-version=2023-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/managedHsmOperationResults/f18d6ea9-ac14-47c4-ab9b-8125c8b2e88c?api-version=2023-02-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
