interactions:
- request:
    body: '{"userPrincipalName": "clihsmroletest000003@AzureSDKTeam.onmicrosoft.com",
      "displayName": "clihsmroletest000003", "passwordProfile": {"password": "password-000005",
      "forceChangePasswordNextSignIn": false}, "mailNickname": "clihsmroletest000003",
      "accountEnabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/users
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","id":"208f4e7a-2350-4562-9502-3db0280e2bcd","businessPhones":[],"displayName":"clihsmroletest000003","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"clihsmroletest000003@AzureSDKTeam.onmicrosoft.com"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/208f4e7a-2350-4562-9502-3db0280e2bcd/Microsoft.DirectoryServices.User
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF000022CF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmrole000002.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2-preview
  response:
    body:
      string: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-build-version:
      - 1.0.20220503-3-e1430fa9-1.0.20220430-1-f02155ab-pre-openssl
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmrole000002.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8","name":"7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8","properties":{"assignableScopes":["/"],"description":"","permissions":[{"actions":[],"dataActions":["Microsoft.KeyVault/managedHsm/backup/start/action","Microsoft.KeyVault/managedHsm/backup/status/action","Microsoft.KeyVault/managedHsm/keys/backup/action"],"notActions":[],"notDataActions":[]}],"roleName":"Managed
        HSM Backup User","type":"AKVBuiltInRole"},"type":"Microsoft.Authorization/roleDefinitions"},{"id":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/33413926-3206-4cdd-b39a-83574fe37a17","name":"33413926-3206-4cdd-b39a-83574fe37a17","properties":{"assignableScopes":["/"],"description":"","permissions":[{"actions":[],"dataActions":["Microsoft.KeyVault/managedHsm/keys/read/action","Microsoft.KeyVault/managedHsm/keys/wrap/action","Microsoft.KeyVault/managedHsm/keys/unwrap/action"],"notActions":[],"notDa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?$filter=userPrincipalName%20eq%20'clihsmroletest000003@AzureSDKTeam.onmicrosoft.com'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users","value":[{"businessPhones":[],"displayName":"clihsmroletest000003","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"clihsmroletest000003@AzureSDKTeam.onmicrosoft.com","id":"208f4e7a-2350-4562-9502-3db0280e2bcd"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF000011F0"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmrole000002.managedhsm.azure.net/keys/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8","name":"7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8","properties":{"assignableScopes":["/"],"description":"","permissions":[{"actions":[],"dataActions":[[...]
- request:
    body: '{"properties": {"roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778",
      "principalId": "208f4e7a-2350-4562-9502-3db0280e2bcd"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitesthsmrole000002.managedhsm.azure.net/keys/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=7.2-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","name":"88888888-0000-0000-0000-000000000001","properties":{"principalId":"208f4e7a-2350-4562-9502-3db0280e2bcd","roleDefinitionId":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778","scope":"/keys"},"type":"Microsoft.Authorization/roleAssignments"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '34'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"ids": ["208f4e7a-2350-4562-9502-3db0280e2bcd"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"208f4e7a-2350-4562-9502-3db0280e2bcd","businessPhones":[],"displayName":"clihsmroletest000003","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"clihsmroletest000003@AzureSDKTeam.onmicrosoft.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00001B76"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b",
      "principalId": "208f4e7a-2350-4562-9502-3db0280e2bcd"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitesthsmrole000002.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=7.2-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","name":"88888888-0000-0000-0000-000000000002","properties":{"principalId":"208f4e7a-2350-4562-9502-3db0280e2bcd","roleDefinitionId":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b","scope":"/"},"type":"Microsoft.Authorization/roleAssignments"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '40'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmrole000002.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000003","name":"88888888-0000-0000-0000-000000000003","properties":{"principalId":"d80f6e33-34fa-45be-b78f-e2d142fd606d","roleDefinitionId":"Microsoft.KeyVault/providers/Microso[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitesthsmrole000002.managedhsm.azure.net/keys/providers/Microsoft.Authorization/roleAssignments?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000003","name":"88888888-0000-0000-0000-000000000003","properties":{"principalId":"d80f6e33-34fa-45be-b78f-e2d142fd606d","roleDefinitionId":"Microsoft.KeyVault/providers/Mi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'd80f6e33-34fa-45be-b78f-e2d142fd606d')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF000011EF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/users/208f4e7a-2350-4562-9502-3db0280e2bcd
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00002015"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/users/d80f6e33-34fa-45be-b78f-e2d142fd606d
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00002EBC"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
