interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys?api-version=7.2
  response:
    body:
      string: OK
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys?api-version=7.2
  response:
    body:
      string: '{"value":[{"attributes":{"created":1596179058,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179073},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key-zi2gxgxyphaoe6zny32x"},{"attributes":{"created":1596179076,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179076},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-plain"},{"attributes":{"created":1596179078,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179078},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-encrypted"},{"attributes":{"created":1596179080,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179080},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-eckey-plain"},{"attributes":{"created":1596179089,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179089},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key1"},{"attributes":{"created":1596179094,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179094},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key2"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/key-zi2gxgxyphaoe6zny32x?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179058,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179073},"deletedDate":1596179116,"key":{"e":"AQAB","key_ops":["decrypt","encrypt"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key-zi2gxgxyphaoe6zny32x/e8babeccf451078f825da22e8fd82372","kty":"RSA-HSM","n":"uLFsWjtTGqwd-j8oF5qbL3jyYUYBPfdePOVo8UWFbWXiWEDpd5NN3TYJUrhgYgKBhxAFj5qu18dAKeVOLmPyt9zIcOKlZzNNN0-a--FL9ijLXZcNGmpRSOleN4OXb3a57lrhLtKbLDyv6Xs7R71SLa5GXC0mto2RlbZ1myBLcEJcNsMpmauwI8x7GKtKokrMTuZ01gd-EKP0Raq4VVEmxV28IU6xo3F3iBcoaVihZK_U_8kf88MdXI0M0cciWU8_6bRDDosxjASrvVScn5Vm0s88ZtQmqZOLGia6c9_G2iD9v9a5mYzycAJGO-3jYLIOuM0TfYO7w1i00-c69mXaqw"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key-zi2gxgxyphaoe6zny32x","scheduledPurgeDate":1603955116}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-plain?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179076,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179076},"deletedDate":1596179118,"key":{"e":"AQAB","key_ops":["decrypt","encrypt","unwrapKey","sign","verify","wrapKey"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-plain/e08688d42f62029f8b307b9804b3ad94","kty":"RSA-HSM","n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-plain","scheduledPurgeDate":1603955118}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-encrypted?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179078,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179078},"deletedDate":1596179120,"key":{"e":"AQAB","key_ops":["decrypt","encrypt","unwrapKey","sign","verify","wrapKey"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-encrypted/c6407710e69c0e250d3559d8e9ae3ef4","kty":"RSA-HSM","n":"qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-encrypted","scheduledPurgeDate":1603955120}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/import-eckey-plain?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179080,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179080},"deletedDate":1596179122,"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-eckey-plain/b033cd1b13b80cec080dd8faffa78ad7","kty":"EC-HSM","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-eckey-plain","scheduledPurgeDate":1603955122}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/key1?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179089,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179089},"deletedDate":1596179124,"key":{"e":"AQAB","key_ops":["import"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key1/16cb6f5fbcac051fa76ef7eea206b79e","kty":"RSA-HSM","n":"pYDfrYJqL0wIWI35SxfJZDHEQ6taWumijSG_CblMz6mjYphTiZCYmH3JHErazeZPOPJePMS33bbynh3zKyhWVLucv4Qvt6apIUf6idjEobtEoffhEg88wDOU8Cm4XHVSPGQbRKvLztJH5nrPlo0XpquuB9yjkbvnH80Cj4Yvy0B8ZrilHtXE00CEb7ybh98hFRVxQUDtoyHrOb0EvkD66aiMhEo_zJyOxKq-MqbK6Y5dFDmWtOTblheX7koCw79vUIy0vxANUpCn_3DAfbT-gCXZ_6utCWQw-vBQBNTcwfX64uhr9siibnj8uLubLOAnjRHrW-hJLJFHFoVr5U1J_w"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key1","scheduledPurgeDate":1603955124}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys?api-version=7.2
  response:
    body:
      string: '{"value":[{"attributes":{"created":1596179058,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179073},"deletedDate":1596179116,"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key-zi2gxgxyphao[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key-zi2gxgxyphaoe6zny32x?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-plain?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-encrypted?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-eckey-plain?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/eckey1?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key1?api-version=7.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179165,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179165},"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/f453e350f3ef4bee850fbe6fad12cc65","kty":"EC-HSM","x":"PFK0DD4i15MWIr1zyZTEPvxN0r9KMF1oBx3M32YibZE","y":"w6q4NsgEzuLl6sp1fT2s0CwlTnkMLwQTEAblhNjL9yo"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179165,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179165},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/f453e350f3ef4bee850fbe6fad12cc65","kty":"EC-HSM","x":"PFK0DD4i15MWIr1zyZTEPvxN0r9KMF1oBx3M32YibZE","y":"w6q4NsgEzuLl6sp1fT2s0CwlTnkMLwQTEAblhNjL9yo"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179177,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179177},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/754e0a281c2b48e63f382047b2cdb42e","kty":"RSA-HSM","n":"rBqMLBBF2NNyG4awzUaiQuSqaoDx47wgBjJB2kxmXwpddZ5gq7mLnsbqqbmruJ1NERGGOUq2hHgFuWkIkwfzMJqX3L1FFXJcyh-_poWy18v3dafrB-1Lzbh1-kYnE9OknC1q3GEbGr3_sfzECoI-6KvGuJej78mwafcPg93mwb8wYznpoDu4pNVbP3lCz2yNTX8b0A_pqm5JaCtQnUwqvAvXdUl6ZPDD-09R016EA1OLI_FZ2InB1MIezj6B4hj8L1X3Vuwg0JxkwBIngUgJZrpjuPAU0T_WtqwKXfuHnP84WQnXFp0toWpR9ixbDHnV5HxbwTr7uY1ycgEtHtSDAQ"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179177,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179177},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/754e0a281c2b48e63f382047b2cdb42e","kty":"RSA-HSM","n":"rBqMLBBF2NNyG4awzUaiQuSqaoDx47wgBjJB2kxmXwpddZ5gq7mLnsbqqbmruJ1NERGGOUq2hHgFuWkIkwfzMJqX3L1FFXJcyh-_poWy18v3dafrB-1Lzbh1-kYnE9OknC1q3GEbGr3_sfzECoI-6KvGuJej78mwafcPg93mwb8wYznpoDu4pNVbP3lCz2yNTX8b0A_pqm5JaCtQnUwqvAvXdUl6ZPDD-09R016EA1OLI_FZ2InB1MIezj6B4hj8L1X3Vuwg0JxkwBIngUgJZrpjuPAU0T_WtqwKXfuHnP84WQnXFp0toWpR9ixbDHnV5HxbwTr7uY1ycgEtHtSDAQ"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-4096-hsm-file/?api-version=7.2
  response:
    body:
      string: '{"attributes":{"created":1596179189,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596179189},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-4096-hsm-file/1b3e37d417b707401bffdb3af382f558","kty":"RSA-HSM","n":"zk8hTS2s2omzqRoCwLDAyEmbAvPPD59AansR11evjX0HeXHzGCSL5FulfbRK2tCXKdORugiSlzMH8-TbGbbUXw9kb78aKCq7AgmaqByDeJOpuxby7v9vK3AFYombwmI4yrIT0paVjgCe9hO9SuyVbagCeYPoTrcy6RpnH98hFch-dWhmUpjSeQAaAZtm8uZV5T6-_zggnjKetHuz7hV64kk51jDiA5BxwLlWSU5x2oeTpiqgINCM4W_qCuy1iJWO6wRL9YHICD7XZd43t9zG1lYPBmzXSOe9mwGi2882E3vm0JtqQDeQtlKnxnD9r0X13LCLEGWUOl-WsKDkKd1Bg9nXcg2Ka5BpAh4ebTKLQridI2ZGfCYgBr8GDaEb2hniL-sW4p7iiBsbZffEEv9l9Klf5dQMh2194EcTqVW55M2DLbI8XWaaQWLUlRMRmzupR4TFDZ5tDg0X9QVTV65oUCLUoeBr6TWTTtTDWZ93GGzh_3e_qSFKdC9ggnPgSV_yX73c3TDx1tYyNMI0JhEydzR8VOn2oxSUhUh_abS0Adj_Yr_ymPSn5qbePunJt7hIv5bF8rMCtnDef7Lmivkj4sJqNT76wyzPblyC3VCqt4fBf6bZ5fCitIG72lLAHna2hz_fXfFmiHuUmV0qtyCYbnNgAmIKA_0DD-n-QxflUps"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
