interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/skr1-000001/create?api-version=7.4-preview.1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true, "exportable": true},
      "release_policy": {"data": "eyJhbnlPZiI6IFt7ImF1dGhvcml0eSI6ICJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8iLCAiYWxsT2YiOiBbeyJjbGFpbSI6ICJ4LW1zLXNneC1pcy1kZWJ1Z2dhYmxlIiwgImVxdWFscyI6ICJmYWxzZSJ9XX1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/skr1-000001/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"attributes":{"created":1670853142,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1670853142},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/skr1-000001/ace10f00983e03640df41322fc921cce","kty":"EC-HSM","x":"DL7ts0vxbgVZkrlmsfgCB7zpTcgXPM7mxVJdUNN3eqo","y":"iqYwpuZe77DJ_3yiKSDnA0chSUkqxnf7RE-Xkfrr2oY"},"release_policy":{"contentType":"application/json;
        charset=utf-8","data":"eyJhbnlPZiI6W3siYWxsT2YiOlt7ImNsYWltIjoieC1tcy1zZ3gtaXMtZGVidWdnYWJsZSIsImVxdWFscyI6ImZhbHNlIn1dLCJhdXRob3JpdHkiOiJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8ifV0sInZlcnNpb24iOiIxLjAuMCJ9","immutable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '323'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/confidential-computing-cvm/main/cvm_deployment/key/skr-policy.json
  response:
    body:
      string: "{\n  \"anyOf\": [\n    {\n      \"allOf\": [\n        {\n          \"claim\":
        \"x-ms-attestation-type\",\n          \"equals\": \"sevsnpvm\"\n        },\n
        \       {\n          \"claim\": \"x-ms-compliance-status\",\n          \"equals\":
        \"azure-compliant-cvm\"\n        }\n      ],\n      \"authority\": \"https://sharedeus.eus.attest.azure.net/\"\n
        \   },\n    {\n      \"allOf\": [\n        {\n          \"claim\": \"x-ms-attestation-type\",\n
        \         \"equals\": \"sevsnpvm\"\n        },\n        {\n          \"claim\":
        \"x-ms-compliance-status\",\n          \"equals\": \"azure-compliant-cvm\"\n
        \       }\n      ],\n      \"authority\": \"https://sharedwus.wus.attest.azure.net/\"\n
        \   },\n    {\n      \"allOf\": [\n        {\n          \"claim\": \"x-ms-attestation-type\",\n
        \         \"equals\": \"sevsnpvm\"\n        },\n        {\n          \"claim\":
        \"x-ms-compliance-status\",\n          \"equals\": \"azure-compliant-cvm\"\n
        \       }\n      ],\n      \"authority\": \"https://sharedneu.neu.attest.azure.net/\"\n
        \   },\n    {\n      \"allOf\": [\n        {\n          \"claim\": \"x-ms-attestation-type\",\n
        \         \"equals\": \"sevsnpvm\"\n        },\n        {\n          \"claim\":
        \"x-ms-compliance-status\",\n          \"equals\": \"azure-compliant-cvm\"\n
        \       }\n      ],\n      \"authority\": \"https://sharedweu.weu.attest.azure.net/\"\n
        \   }\n  ],\n  \"version\": \"1.0.0\"\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"994de2921c88e84da9358ba9d8540bf365ad6836eff38e4f17e1c90936fb628b"
      source-age:
      - '0'
      x-fastly-request-id:
      - 299892d1e7d98093978e26178f3c3ef9f1d55f36
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"release_policy": {"immutable": true, "data": "eyJhbnlPZiI6IFt7ImF1dGhvcml0eSI6ICJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8iLCAiYWxsT2YiOiBbeyJjbGFpbSI6ICJ4LW1zLXNneC1pcy1kZWJ1Z2dhYmxlIiwgImVxdWFscyI6ICJmYWxzZSJ9XX1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://ystesthsm.managedhsm.azure.net/keys/skr2-000002/?api-version=7.4-preview.1
  response:
    body:
      string: '{"attributes":{"created":1670853145,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1670853149},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/skr2-000002/eea6881ac6a3445f946d42350514ce59","kty":"EC-HSM","x":"qCIhlfiMnM7brC-0mNNgzB-_5LOJPn_jENTan9Ghv4U","y":"KhZZELSOKUlSyiuHuJOiJTCGrJu0d8SxMch4S6g6PXo"},"release_policy":{"contentType":"application/json;
        charset=utf-8","data":"eyJhbnlPZiI6W3siYWxsT2YiOlt7ImNsYWltIjoieC1tcy1zZ3gtaXMtZGVidWdnYWJsZSIsImVxdWFscyI6ImZhbHNlIn1dLCJhdXRob3JpdHkiOiJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8ifV0sInZlcnNpb24iOiIxLjAuMCJ9","immutable":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '167'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/keys/skr1-000001?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '4'
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/keys/skr1-000001?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1670853142,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1670853142},"deletedDate":1670853151,"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/skr1-000001/ace10f00983e03640df41322fc921cce","kty":"EC-HSM","x":"DL7ts0vxbgVZkrlmsfgCB7zpTcgXPM7mxVJdUNN3eqo","y":"iqYwpuZe77DJ_3yiKSDnA0chSUkqxnf7RE-Xkfrr2oY"},"recoveryId":"https://ystesthsm.managedhsm.azure.net/deletedkeys/skr1-000001","release_policy":{"anyOf":[{"allOf":[{"claim":"x-ms-sgx-is-debuggable","condition":"equals","value":"false"}],"authority":"https://sharedeus.eus.attest.azure.net/"}],"version":"0.2"},"scheduledPurgeDate":1678629151}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '103'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/deletedkeys/skr1-000001?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '106'
    status:
      code: 204
      message: ''
[...]
