interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0908d.managedhsm.azure.net/keys?api-version=7.0
  response:
    body:
      string: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0908d.managedhsm.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '67'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0908d.managedhsm.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '67'
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest0908d.managedhsm.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"UnknownError","message":"Unknown error (Activity
        ID: 06f5f39a-f3ef-11ea-b50a-0242ac120003)"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '240'
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest0908d.managedhsm.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1599823721,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1599823721},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://clitest0908d.managedhsm.azure.net/keys/ec-p256-hsm-file/46cd2da441d14da789d545252b90a203","kty":"EC-HSM","x":"3oa3RGiwrmeGM1dmaPrlH3cOvn9v7r7qAx2zM08I6ck","y":"qec_boApnaCL0mDKhg_EDb_ElhEmMsnsms4n9F1Wug8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '244'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0908d.managedhsm.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1599823721,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1599823721},"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://clitest0908d.managedhsm.azure.net/keys/ec-p256-hsm-file/46cd2da441d14da789d545252b90a203","kty":"EC-HSM","x":"3oa3RGiwrmeGM1dmaPrlH3cOvn9v7r7qAx2zM08I6ck","y":"qec_boApnaCL0mDKhg_EDb_ElhEmMsnsms4n9F1Wug8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest0908d.managedhsm.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"UnknownError","message":"Unknown error (Activity
        ID: fe32600e-f3ee-11ea-9620-0242ac120003)"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '198'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0908d.managedhsm.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1599823737,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1599823737},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://clitest0908d.managedhsm.azure.net/keys/rsa-2048-hsm-file/f9489fd7c1d0479480d95552394ed371","kty":"RSA-HSM","n":"i_M7T4IGcNSCRyRhi5AJ2sLAylf2cavk96fQhULvZ4oQeqV3E7rhTaNdlWGl8OOTdDJ0Wfc2jb3rWwE83AKh-XiwMeGYUcS6s021Dt2jUmuYeZu2u3XbzWM1ZessSKRUgodaZCkJzjlh6LmOTCKQVWQlOpwNtExh_KyMxoz5QZrfjdQXGt8_JHTY9YLMuvP1xUjV2Zc-nhG1C3JySSpDYqgrXfMuLUhjWg4c9TBbaJ8Dxx7N9rEaZGgPJ8Eb8P3JyKpSJCQmQKUNSGfBBuzABSdBOM4OIn6AfYAismaAKVU26HXf2jvtcflDGMJwrUtI79bGMvQ01k7VihSP2qYBmQ"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '13'
    status:
      code: 200
      message: OK
[...]
