interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2436515'
      ocp-aad-diagnostics-server-name:
      - ex5w/Lp7hiImECO0knspw6TymGMTRh4Rd+JV5D8XntE=
      ocp-aad-session-key:
      - L6gaRUR8OpQ8wb2D6pmFtWeO-ZDX5nRNB6EddLqKV4QMcH8cUW1F8WlHTZwbRa3iMo9ipVq6ldaM6KMbBoigH4qkojlrmfdINvVc0dwmHO-R3JVux1vuN5qcyrOHu-Lz.K-LkduVtTf2DB7BS-VgMI5svwq4WAsrM93G39S1Oqzk
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1183'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/0014a25a16e5467eb90dc6b727c1b30e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wNeVVtO46br_ci0Ul9dict-7SS9WfbHQpo-3AACmoRZfeqvN65Fx0SgtBs7oIOHsGP9PPiTDE3xEDQaHSQQLccKni9IOUJVp9H2oB3Pztda9W42-GDlCOs3c7WxMAqeIN5p3YtVX3a0R5dl6I2zrWN29QujsrGAifcLuoHTdFfpQE_4dKnyuysqAfydYiLmlP3mE0pBlCzJqZE-sINpokRpZgRLlBEpA_ORvsp44U6YWwhYM_-act2STVWVxTKII12IzocjPKMehsqCh8-bU9P3-huYU7Be-h7Xbku-X_xzc8p1xVjG3bDxIg4MRXGjXmI4ccRJBjFY8U2VlJGJolw","e":"AQAB"},"attributes":{"enabled":true,"created":1600155584,"updated":1600155584,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["update", "restore", "create", "delete", "get", "backup", "decrypt", "import",
      "list", "encrypt", "recover"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/0014a25a16e5467eb90dc6b727c1b30e","value":"LXekToDCJ_EHiO2rOX954Ql0fKjASsJNECGkjZH3bN-zkD1Y29towfw2ltMbFNWNjIR0fqArVaFlV1rwMcqTczGkdT93NT40tuNAxPP33AvOPz71P5DaPra2oyvy1f5HwCi0EF0fxyHb6hMnm_7_ya6tsoB3fm2FY6rEdgQ0YNjd2963vqfT9HL82vi9uSxMScYzW4zTxb8MIXJgykHlOy1-NSFugNKBvCIG9K05N0BHZ1iDk4uUWV98-4Wx0QFCEdGNzczxFDqa1-QXeIbNH97RtpCe0Ez5R2TPBhLY6lmXqQf17MyXIyGCl99AYEcitJT2K2Qbam6GToF85SyNfQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "LXekToDCJ_EHiO2rOX954Ql0fKjASsJNECGkjZH3bN-zkD1Y29towfw2ltMbFNWNjIR0fqArVaFlV1rwMcqTczGkdT93NT40tuNAxPP33AvOPz71P5DaPra2oyvy1f5HwCi0EF0fxyHb6hMnm_7_ya6tsoB3fm2FY6rEdgQ0YNjd2963vqfT9HL82vi9uSxMScYzW4zTxb8MIXJgykHlOy1-NSFugNKBvCIG9K05N0BHZ1iDk4uUWV98-4Wx0QFCEdGNzczxFDqa1-QXeIbNH97RtpCe0Ez5R2TPBhLY6lmXqQf17MyXIyGCl99AYEcitJT2K2Qbam6GToF85SyNfQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/0014a25a16e5467eb90dc6b727c1b30e","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1600155584,"updated":1600155584,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1600155585,"updated":1600155585,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1600155584,"updated":1600155584,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1600155585,"updated":1600155585,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3MiFNREF3TURBNElXdGxlUzlMUlZreUlUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f0cf2ab85064115b550495916cf9644","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"lJywxk9FuLkoj4kqBIbjO4v2QyYb3p5BNRZIdfHUjuCf063uDe4pGqdf1JxI7HdtcR-kJVqs2fo8LyvSwR02oAFac_I9YEJ9j2foO25sTVdO5mpqlYQALm9_33_ouhTue-tDWZxk7pNoaltkLonxD81Ox03Dgt_rr4seDqtgKF1l95m_mazxrSiU-SyFi7TrWZhOYQOCHWMjwYyD4pVfJWIAguBzsedlKMs_gN-EIbjZHumBUkeIlu2hoCT1YZ7WyCPct6rqLHjUtS7kfJ5glVrruFLBelsR6-YwmBRfOL19CzrpbXKb0umYr9bJre8Ndz4Pp01a8On41dIcloZo_w","e":"AQAB"},"attributes":{"enabled":false,"created":1600155598,"updated":1600155598,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/0014a25a16e5467eb90dc6b727c1b30e","attributes":{"enabled":true,"created":1600155584,"updated":1600155584,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f0cf2ab85064115b550495916cf9644","attributes":{"enabled":false,"created":1600155598,"updated":1600155598,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/0014a25a16e5467eb90dc6b727c1b30e","attributes":{"enabled":true,"created":1600155584,"updated":1600155584,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f0cf2ab85064115b550495916cf9644","attributes":{"enabled":false,"created":1600155598,"updated":1600155598,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMTYhTURBd01EUXhJV3RsZVM5TFJWa3hMek5HTUVOR01rRkNPRFV3TmpReE1UVkNOVFV3TkRrMU9URTJRMFk1TmpRMElUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f0cf2ab85064115b550495916cf9644","attributes":{"enabled":false,"created":1600155598,"updated":1600155598,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f0cf2ab85064115b550495916cf9644","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"lJywxk9FuLkoj4kqBIbjO4v2QyYb3p5BNRZIdfHUjuCf063uDe4pGqdf1JxI7HdtcR-kJVqs2fo8LyvSwR02oAFac_I9YEJ9j2foO25sTVdO5mpqlYQALm9_33_ouhTue-tDWZxk7pNoaltkLonxD81Ox03Dgt_rr4seDqtgKF1l95m_mazxrSiU-SyFi7TrWZhOYQOCHWMjwYyD4pVfJWIAguBzsedlKMs_gN-EIbjZHumBUkeIlu2hoCT1YZ7WyCPct6rqLHjUtS7kfJ5glVrruFLBelsR6-YwmBRfOL19CzrpbXKb0umYr9bJre8Ndz4Pp01a8On41dIcloZo_w","e":"AQAB"},"attributes":{"enabled":false,"created":1600155598,"updated":1600155598,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/0014a25a16e5467eb90dc6b727c1b30e?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/0014a25a16e5467eb90dc6b727c1b30e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wNeVVtO46br_ci0Ul9dict-7SS9WfbHQpo-3AACmoRZfeqvN65Fx0SgtBs7oIOHsGP9PPiTDE3xEDQaHSQQLccKni9IOUJVp9H2oB3Pztda9W42-GDlCOs3c7WxMAqeIN5p3YtVX3a0R5dl6I2zrWN29QujsrGAifcLuoHTdFfpQE_4dKnyuysqAfydYiLmlP3mE0pBlCzJqZE-sINpokRpZgRLlBEpA_ORvsp44U6YWwhYM_-act2STVWVxTKII12IzocjPKMehsqCh8-bU9P3-huYU7Be-h7Xbku-X_xzc8p1xVjG3bDxIg4MRXGjXmI4ccRJBjFY8U2VlJGJolw","e":"AQAB"},"attributes":{"enabled":true,"created":1600155584,"updated":1600155584,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkRZTFpJdU9jdGtWUzVmdnJGeER0ZWdadzZuV0x1cFFY[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f0cf2ab85064115b550495916cf9644","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"lJywxk9FuLkoj4kqBIbjO4v2QyYb3p5BNRZIdfHUjuCf063uDe4pGqdf1JxI7HdtcR-kJVqs2fo8LyvSwR02oAFac_I9YEJ9j2foO25sTVdO5mpqlYQALm9_33_ouhTue-tDWZxk7pNoaltkLonxD81Ox03Dgt_rr4seDqtgKF1l95m_mazxrSiU-SyFi7TrWZhOYQOCHWMjwYyD4pVfJWIAguBzsedlKMs_gN-EIbjZHumBUkeIlu2hoCT1YZ7WyCPct6rqLHjUtS7kfJ5glVrruFLBelsR6-YwmBRfOL19CzrpbXKb0umYr9bJre8Ndz4Pp01a8On41dIcloZo_w","e":"AQAB"},"attributes":{"enabled":true,"created":1600155598,"updated":1600155609,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkRZTFpJdU9jdGtWUzVmdnJGeER0ZWdadzZuV0x1cFFYS2ZXZWZHc3dOdjE0Z0FCczBtQXJFa2Zfd0xTODlrenhrVWhVaEN2UjZBOFVZV01mczY2Y2d1bzVvQVgyRS1BaWV3QU84ZGgyWTJQNExCN3YwdW95QUEtN19BMTMxa0VfVnVaVVVXaGN3bmVGQnVpc1V4dVd1cjl1SlNuTlB4bm05STZXZlFoWXFUNXF0N016akhld2V0VTZRZjBQZG9sRzRMSGV[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/e7c9e2c58f204f7284804156f7a68179","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1600155619,"updated":1600155619,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/8c735fb5846b4b29825d5a0ec721568f","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"iQzL-8ORgLyutFwmPG7PPdYk0H0coa4i0XunfjfkKXI","y":"p2ZEpmLGFZ0EGYBgXe49sqCG09nva44RWDZg54dCfXw"},"attributes":{"enabled":true,"created":1600155625,"updated":1600155625,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/33b85e80299649d1bd48659576399031","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"GinuwDRUre5VMI7aoOnK4_79kP_ZBJSZa0qvbHTrI4s","y":"VZbw1jMorw4t8uOIRweXH53jLNoaUrXvU1P-b_BiGcI"},"attributes":{"enabled":true,"created":1600155626,"updated":1600155626,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/e796f55cc410488f824417eb27ad49bf","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1600155628,"updated":1600155628,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/2455f191f35f4a11b825507f692c0466","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1600155630,"updated":1600155630,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/269f40bf69004dcc8e0e014cde18a22d","kty":"RSA-HSM","key_ops":["import"],"n":"743UWBPfbA7aSmVLqpx3fwyML-TvPT9Fp8s5ZEXTlml9R5c3QRfYqY4X8QacDQAkufNtTkixCwtWioqoLooEgSeJdzgkke-aEVaDpiBqEPv-HYC68boJQ703CWLEDFTqtqLZQOSBuAcI6zwHAluUOtSosgWlyhH5yhprcwC3TpJ6fxcm7QOzZ_g4slNkNLnhsFekSJEOwbmHgexi7vDemMBvMQa056pp9FQX55emGTq4k06U2LJqBSCKa9XX0u7CXRrYmf5rcKkAbmWDTpCX1YoLNj2PDk1IMgddIJsDCjs9fX4aMx7B3_EbxWn2HbSfh5yoGi7dHNds9OwLuFLT1Q","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600328472,"created":1600155672,"updated":1600155672,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/5fd85df6cb3c4d969c8b1bf350ccff89","kty":"RSA-HSM","key_ops":["import"],"n":"y4kdTboNW61gzuIvWWNTmWSjqjsuo-LNCgAbD9vr-TiSsOxpiVpkCZU5cdpOxZ1DBtwnpLn6oglU7B3R2gry_QN9YmD1-PIfl5E9dfQkQbOKtStG5V620x3yxIQYW2MbkYZC_Bv5Azwb9S2TOKcvc-xPMXqhVOrdbeEI2hF6taIt0aWiTGU9d49o8uaMSjl_uX4vXshJcvufG9-2QjK-cGbLLNt6_l8jUDwKXSSnibHiQKbaU17ZQ6tJAUjhpAgLCEvkcLOnqnC6icJ86bZM7x_JNNvu71shUGtc2Jn_NiUF_Sw-WqIPqLlPA0vMlQSrxiXFUSomlEHmjEICxru0yMytIlmkG9ys9q8gpXkoUN6B0BiG26gB_lq1o-P-nDMlAl8wyny-yYr3F_Y5UMP5gzyhPVxnqIoDaEin9Elu3CV-_nPA4mNYuhh2Xa6hri4NmkwPbQD6kwq8dhXohJDrU6Gvjm5tuz-hVvuYbPMrqxJoIeoIWCxn_CY-0v-ai5hlxnXDi9_yBVNqMqzkclguC9cqJXEcMV7vCcOlaxWxWmt9cDqF2K84F8dy0HJ_ZN4WrF9BEeRerlwiYUU7ud9AyVmhmwquuX8GFv_conFreCHwqLNr_yXdDfO1p4PjIas_WT7aezozqNSczNdvx1ThCjmUmhBh9iP7bqBDzDGEsA8","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600328476,"created":1600155676,"updated":1600155676,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
