interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/create?api-version=7.3-preview
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "oct-HSM", "key_size": 256, "key_ops": ["encrypt", "decrypt"],
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/create?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1636606667,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1636606667},"key":{"key_ops":["decrypt","encrypt"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/2e4493acafa50bb9ac285201343b50c7","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '246'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/?api-version=7.3-preview
  response:
    body:
      string: '{"attributes":{"created":1636606667,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1636606667},"key":{"key_ops":["encrypt","decrypt"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/2e4493acafa50bb9ac285201343b50c7","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20211018-1-9c44708a-develop
      x-ms-server-latency:
      - '46'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "A256GCM", "value": "dGhpcyBpcyBwbGFpbnRleHQ", "aad": "EBESExQVFhcYGRobHB0eHw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/2e4493acafa50bb9ac285201343b50c7/encrypt?api-version=7.3-preview
  response:
    body:
      string: '{"aad":"EBESExQVFhcYGRobHB0eHw","alg":"A256GCM","iv":"KUb110-XHFQ4UZ_I","kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/2e4493acafa50bb9ac285201343b50c7","tag":"VtvOkVmVbr6fxmcMpom6IQ","value":"NdkeIVHFPLL0M5oHXev9nvk"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "A256GCM", "value": "NdkeIVHFPLL0M5oHXev9nvk", "iv": "KUb110-XHFQ4UZ_I",
      "aad": "EBESExQVFhcYGRobHB0eHw", "tag": "VtvOkVmVbr6fxmcMpom6IQ"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/2e4493acafa50bb9ac285201343b50c7/decrypt?api-version=7.3-preview
  response:
    body:
      string: '{"alg":"A256GCM","kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/2e4493acafa50bb9ac285201343b50c7","value":"dGhpcyBpcyBwbGFpbnRleHQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1636606667,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1636606667},"deletedDate":1636606684,"key":{"key_ops":["decrypt","encrypt"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/2e4493acafa50bb9ac285201343b50c7","kty":"oct-HSM"},"recoveryId":"https://ystesthsm.managedhsm.azure.net/deletedkeys/oct256key-000001","scheduledPurgeDate":1644382684}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '102'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/deletedkeys/oct256key-000001?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '108'
    status:
      code: 204
      message: ''
version: 1
