interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2021-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002''
        under resource group ''cli_test_keyvault_mgmt000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"azureclilivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","id":"6b30bdc6-696a-46fb-82d7-739c2fb147b7"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SN1PEPF00017E1A"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-06-21T17:13:39.389Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-21T17:13:39.389Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"key":"value"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_l2jxesven72ux2swdqqwwlfe7qaqw2r2yjerc/providers/Microsoft.KeyVault/vaults/vault-t6gu4ihqqhnm7u","name":"vault-t6gu4ihqqhnm7u","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_snapshot_enpvvknibffs5qb7djufs7tb2usiid6j72isi/providers/Microsoft.KeyVault/va[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-06-21T17:13:39.389Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-21T17:13:39.389Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2021-10-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC15dmZtdmdh"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2021-10-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC15dmZtdmdh
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7", "permissions": {"keys":
      ["all"], "secrets": ["all"], "certificates": ["all"], "storage": ["all"]}}],
      "vaultUri": "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeploymen[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7", "permissions": {"keys":
      ["all"], "secrets": ["all"], "certificates": ["all"], "storage": ["all"]}}],
      "vaultUri": "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}, "provisioningState": "Succeeded",
      "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-06-21T17:13:39.389Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-21T17:14:15.804Z"},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","networkAcls":{"bypass":"AzureServices","defaultAction":"Deny","ipRules":[],"virtualNetworkRules":[]},"accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith%28displayName%2C%27cli-test-kv-mgmt-000002%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SN1PEPF00008F18"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "cli-test-kv-mgmt-000002", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "bfccc16f-b245-4dc8-869d-cb38727f3ed9", "deletedDateTime": null, "appId":
        "24e97aa2-1f59-4e2b-974b-0416b4bc4596", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2022-06-21T17:14:19.4997006Z", "displayName": "cli-test-kv-mgmt-000002",
        "description": null, "groupMembershipClaims": null, "identifierUris": [],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADandPersonalMicrosoftAccount", "tags": [],
        "tokenEncryptionKeyId": null, "defaultRedirectUri": null, "certification":
        null, "optionalClaims": null, "addIns": [], "api": {"acceptMappedClaims":
        null, "knownClientApplications": [], "requestedAccessTokenVersion": 2, "oauth2PermissionScopes":
        [], "preAuthorizedApplications": []}, "appRoles": [], "info": {"logoUrl":
        null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl": null,
        "termsOfServiceUrl": null}, "keyCredentials": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": {"redirectUris": []}, "requiredResourceAccess": [], "verifiedPublisher":
        {"displayName": null, "verifiedPublisherId": null, "addedDateTime": null},
        "web": {"homePageUrl": null, "logoutUrl": null, "redirectUris": [], "implicitGrantSettings":
        {"enableAccessTokenIssuance": false, "enableIdTokenIssuance": false}}, "spa":
        {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/bfccc16f-b245-4dc8-869d-cb38727f3ed9/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SN1PEPF00008F00"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7", "permissions": {"keys":
      ["wrapKey", "get"], "secrets": ["all"], "certificates": ["list", "get"], "storage":
      ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "6b30bdc6-696a-46fb-82d7-739c2fb147b7", "applicationId": "24e97aa2-1f59-4e2b-974b-0416b4bc4596",
      "permissions": {"keys": ["list", "get"]}}], "vaultUri": "https://cli-test-kv-mgmt-000002.vault.azure.net/",
      "enabledForDeployment": true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment":
      true, "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Deny", "ipRules": [], "virtualNetworkRules":
      []}, "provisioningState": "Succeeded", "publicNetworkA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20%2724e97aa2-1f59-4e2b-974b-0416b4bc4596%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"bfccc16f-b245-4dc8-869d-cb38727f3ed9","deletedDateTime":null,"appId":"24e97aa2-1f59-4e2b-974b-0416b4bc4596","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-06-[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/bfccc16f-b245-4dc8-869d-cb38727f3ed9
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SN1PEPF000136C7"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/ps2839","name":"ps2839","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps9706/providers/Microsoft.KeyVault/vaults/ps2839","location":"North
        Central US","tags":{"key":"value"},"deletionDate":"2022-04-13T06:35:00Z","scheduledPurgeDate":"2022-07-12T06:35:00Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/ps5856","name":"ps5856","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps4833/providers/Microsoft.KeyVault/vaults/ps5856","location":"North
        Central US","tags":{},"deletionDate":"2022-04-13T06:31:01Z","scheduledPurgeDate":"2022-07-12T06:31:01Z"}},{"id":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","location":"eastus","tags":{},"deletionDate":"2022-06-21T17:14:24Z","scheduledPurgeDate":"2022-09-19T17:14:24Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzkxNDI4NDkzMTE2Njg1M3xGQzdCNEM4OTk5Mjc0RTBBOTAyMEY4MTY0Njg5QzM0MQ?api-version=2021-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzkxNDI4NDkzMTE2Njg1M3xGQzdCNEM4OTk5Mjc0RTBBOTAyMEY4MTY0Njg5QzM0MQ?api-version=2021-10-01
  response:
    body:
      string: '{"createdDateTime":"2022-06-21 17:14:52Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzkxNDI4NDkzMTE2Njg1M3xGQzdCNEM4OTk5Mjc0RTBBOTAyMEY4MTY0Njg5QzM0MQ?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzkxNDI4NDkzMTE2Njg1M3xGQzdCNEM4OTk5Mjc0RTBBOTAyMEY4MTY0Njg5QzM0MQ?api-version=2021-10-01
  response:
    body:
      string: '{"createdDateTime":"2022-06-21 17:14:52Z","lastActionDateTime":"2022-06-21
        17:15:13Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZbvbuI4FMXfBa3201KSkOzQSqNVgm9Y2PpmbGxG6TdKwp%2BYQgV0Ch7Nu%2B8JszvvUBRFwVIU5ONzfvd87%2Bzq8%2Blxs3PHzsP3Dhfa%2FD0kNjp9tNPOQ2d9Or0eH3q9l%2Fluvqpf6t3pbu7fDvXdYv%2FSO749HxeHzetps98de8FzuPwz%2FhR2w%2Bdl0I2rat6d14t%2Bd%2FF8H32KlsF9ch%2F0Xg%2F7b5uqPhx7crM47I%2F75enun%2Foym79tT72q3ta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZbRbtowFIbfBU27GsUJZKWVqinUDoX12PWpnYne0RBSbAoVoSXxtHffoav2DuUiSpxEjvz5O%2F%2FJ786mbPa3q42vO5e%2FOyK9N%2Fa%2Bc9l52u9f6ste73m%2BmVflc7nZn83D6648K7bPvfr1sS52q5f9arupe%2BwxWn4fnEfd6HHJuoPFYt6dl0W%2FWzxexOfxkl0kF6z3stu%2BrRblru7Bqtht6%2B1yf%2FazbPP563rfW5Trcl8u3gf1j%2FnLqvtGb9LkV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZbRbtowFIbfBU27GsUJyRoqVVOoHRpWH9fGTgV3EEIgplARWoKrvvtOtmnaK5Q7O3Ecnc%2F%2F%2Fx%2B%2Fd3ZFc3zY7GzduXnvsHiizaRz01kfjy%2F1Ta%2F3PN%2FNy%2BK52B2v5u71UFzl%2B%2Bde%2Fbqo88Pm5bjZ7%2BoeWXir78G11%2FUWK9INlst5d17k%2FW6%2BGPjX%2FooMwgHpvRz2b5tlcah7fJMf9vV%2Bdbz6WZyz%2Bev22FsW2%2BJYLH9P6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZbRUuIwFIbfhdnZq0XSAis64%2BwASbWs58TEpA7cYSlIguBQlDaO776nuuM76EUvmsmkk2%2F%2B%2Fzt9bW2L6nC93vqydf7aEsNbY29b562Hw%2BGpPO90Hufb%2Bap4LLaHk3l43hcn%2Be6xUz7fl%2Fl%2B%2FXRY77Zlh91Hy9%2B906gd3S9Zu7dYzNvzIu%2B28%2Fuz%2BDResrP%2BGes87Xcv60WxLzuwzve7crc8nPwt6mz%2BvDl0FsWmOBSL95fyz%2Fx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZbRbtowFIbfBU27GsUJsNJK1USwQ8N6jmvXzpTe0RAoNoWK0BI87d130lV7h%2FYiii1Zjs6X%2F%2F%2FP%2Bd3ZVs3hZr31defyd0eM74y961x2Hg%2BH5%2Fqy13uab%2Ber6qnaHs7m4WVfnZW7p1798lCX%2B%2FXzYb3b1j32EC2%2FD86jbvSwZN3BYjHvzquy3y0fLuLzeMkuhhes97zfva4X1b7uwbrc7%2Brd8nD2szrl85fNobeoNtWhWrxt6h%2Fz53X3lU7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZZdb9owFIb%2FC5p2NYpJwgaVqilgpw3rOamNnYreQRIoMQVEaElc9b%2Fv0E77D3AXR%2FmQn7zvc%2FLe2hT14X61sVXr%2Br0lwok2k9Z16%2Flw2FXXnc7LbDNbFi%2FF5nA1c6%2F74irbvnSq13mV7Ve7w2q7qTps3l38DH512935grWDPJ%2B1Z0Xmt7P5wPvlLdigN2Cd3X77tsqLfdWBVbbfVtvF4epP0aSz1%2FWhkxfr4lDkn4vq92y3ar%2FRlfTwG4959Fz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZZdb9owFIb%2FC5p2NYoTkg0qVRNgh4bVJ7WxU6V3EMKHnQIiaZu66n%2FfyTZt%2BwtwEeXLcZQn532O3zv7oqnvdntbda7fO2w0V3reue5s6%2FpYXfd6T4v9YlM8Ffv6auGeT8VVfnjqVc%2FLKj%2FtjvXusK96ZOmtvwbfvK63XJNusFotuosi73fz5dD%2F5q%2FJMByS3vF0eNmtilPV47v8dKgO6%2FrqR%2FGWLp7LurcqyqIuVr9Oqu%2BL4677giNx8huf%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZXRbtowFIbfBU27GsVJYIVK1QT1SRtWH9fGpoI7CIFiU6hIWpJUffedbFPfgV5EiiPLUb58%2F3%2FeW%2FusLO63e5%2B3rt5bMJwYO2ldtZ6K4iW%2F6nSeF%2FvFJnvO9sXFon49Zhfp4bmTvy7z9Lh9KbaHfd5hy2D9s3sZtIPlmrW7q9WivcjSqJ0uB%2BFluGaD3oB1Xo6Ht%2B0qO%2BYdsU2Ph%2FywLi5%2BZ9V08borOqtslxXZ6u8i%2F7V42bbfaCcdfh2yk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZXRbtowFIbfJZp2NYoTwgaVqilgpw3rOamNTUXvIISATQERWpJUffcdVqnaK1BFVmQpcuTP%2F%2F%2F5zdvm1fF%2BvXWld%2F3miWiszdi79lbH4768brefZ9tZkT%2Fn2%2BPVrHk55FfZ7rldvszL7LDeH9e7bdlmc3%2F5M%2Fzlt%2Fz5krXCxWLWmuVZp5XN%2B8GvYMn63T5r7w%2B71%2FUiP5RtWGeHXblbHq%2F%2B5PVk9rI5thf5Jj%2Fmi3%2BT8vdsv26[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZRhj5pAEIb%2FC2n6qciy2p6aXBpxFwO9Hbq4y0W%2FIaAHq2AET9jL%2FfeubdP%2FcP04yWQm7zPvvG9WXfTdU1mr1pq%2FWXSxFnJtza2Xrju3c8c5pXV6KE5F3Y1Sfb0Uo6w5Oe1112aX8tyVTd06aOfuv00eXNvd7ZE9yfPUTotsbGe7GX7AezT7OkPO%2BdK8lnlxaR1WZpembfbd6EcxJOn12Dl5cSy6Iv9dtN%2FTc2m%2Fmk4z%2FBEjbOYiG7mfP7XKbGxUUT9KlTzHSShiGfuCJnItZ9GTPMo9CVwmMhSJw42JwwCa90yrHipvGlN%2FFYmjB0S5oCUGutGmbxzR0IslLBnyfZDhMlYb68tfDvjDgyAUscoIJQGOiMKRCKeAfA%2BUHLgOblwmHtBgAlphVlHNUDCOxb1e9KY2IJ7p%2F2AIo2cwem6gMw3Vpo9IODUHJ5HkKK5yj8ktAbJdMhUMXEmjfYGhevEMO5eL4B%2BHj24IFwjFQIIBSGYEmkNXxylHG800xyC4yytYATGwVICAMAPLX0GVeLwKV0zdDfEnITCVi58f%2FjsE6%2B8gGJEmEjIXqu3UwHHjyjOCM%2FMNcgKUjTnyqYkNBDo38RBgpk0Ppdb7%2By8%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/acctestkv-ri08o","name":"acctestkv-ri08o","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-220513203759924663/providers/Microsoft.KeyVault/vaults/acctestkv-ri08o","location":"eastus","tags":{},"deletionDate":"2022-05-13T12:47:43Z","scheduledPurgeDate":"2022-08-11T12:47:43Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/acctestkv-88gv7","name":"acctestkv-88gv7","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-220513195544421798/providers/Microsoft.KeyVault/vaults/acctestkv-88gv7","location":"eastus","tags":{},"deletionDate":"2022-05-13T12:09:53Z","scheduledPurgeDate":"2022-08-11T12:09:53Z","pur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZNdb5swFIb%2FC5p2NYKBsCaRqimpzURX27VjU7E7AiblIxABKcRV%2F%2FvcatJ%2BQ3d5PnSO9Oh5X61WzeND2daDtXm10HYv5N7aWM%2FjeB42jnNK2%2FSoTqodF6m%2B9GqRdSdnuByGrC%2FPY9m1gwMObvF9eePa7qEA9jLPUztVmW9nh7V34xVgHayBc%2B67lzJX%2FeDgMuu7oSvGxS91jdNLMzq5atSo8o9i%2BJGeS%2FvFbJrjtx7wzF1gA%2Ffrl6E2H7t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZPdjpswEIXfBVW9KsE4STeJtKrI2lmRru2a2KzSO2IMy08gArIEr%2Fbd61aV%2Bgzbq9FIoxnNOd95cxp9G56KpuqdzZuDg4OQB2fjvAzDpd943jlpklyfdTPMEnPt9Ey1Z6%2B%2FnnrVFZehaJveAyc%2F%2B7q4813%2FlAF3kaaJm2g1d9VpDe9gBtbLNfAuXftapLrrPVKoru3bbJh911OcXOvBS3WtB53%2BafpvyaVwX%2B2kXX4PAbR7gQv8z5%2F6yl5sK93cy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3dPRbpswFAbgd0HTrkYwBNYkUjWF2VSw2q4dO1VyR8BQcAJRIKVQ9d3nTpX6DN2FJVuyjnW%2B8%2FvVatRLf181urNWrxZab4TcWCvrqe%2FP3cpxTmmTluqkmn6WTteLmmXtyemuhy67VOe%2BapvOAQe3%2BOnfuLZ7KIDt53lqpyqb29lh6d14BVgGS%2BCcL%2B1zlatL5%2BAqu7RdW%2FSzP2rcptdj7%2BTqqHqV%2Fzt0v9JzZT%2Bbm6b4rQc8UxfYwP3%2BrdP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZPRbpswFIbfBU27GsEYsiaRqonUTkRWm9qxqbI7AibFJhAF0hKqvvucadKeobs48n8s6xzp0%2Bd3p1FD%2F1g1pnMW7w6OtkJunYXz0venbuF5x6zJDuqomn6SjZezmuTt0esu%2By4%2FV6e%2BapvOA3u%2F%2FB7e%2Ba6%2FL4EbFkXmZioP3Hw%2Fh3ewBPPpHHinc%2FtaFerceaTKz23Xlv3kp7qm2aXuvULVqlfFn6b7kZ0q99W%2BtMPvIYB2LnCB%2F%2FVLZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=3ZPRjpswEEX%2FBVV9KsGQpJtEWlWhNlHojqmJzYpHAoZiCERANsBq%2F73utj%2BxfbgPVxrd0RzdeTUaOQ5PZVP1xu7VIPsTFydjZ%2Fwahmu%2Fs6xL0iSFvMhmWCTzrZOLtL1Y%2Fe3cp115Hcq26S10tvOvqwfbtM85MldZlpiJTJdmet46D06Otustsq5d%2B1JmsustKNOu7dt8WPyQU5Tc6sHKZC0Hmb2b%2FltyLc0XPanDHx3k6FxkIvvzp77SG9tKNo%2Biip7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01&%24skiptoken=1ZLfbpswFMbfBU29GsFm0CaRqimTnYm2NsXxYcolAZOBE4gwaYijvnu9adKeoRdHOv90jr6fvpvXqWl8aTptvOXNo6uNhI239H6P48ksg%2BBYdMVeHVU3zgp7HtSs7I%2BBOe9MOTSnsek7E6Adru%2BjB%2BzjXY38qKoKv1DlN7%2FcLcKHsEaLeIGC09C%2FNZUaTMCacuhNX4%2BzZ3XNi%2FNhDCp1UKOq%2Fhbme3Fq%2FDe36Y4%2Fhih0d5GP8N0Xo93HXqvuEXT[...]
- request:
    body: null
    headers:
    method: GET
[...]
