interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2410836'
      ocp-aad-diagnostics-server-name:
      - YiZiuGhpNmlNSrvPCvEOpygS+8xGgrYlPMizYmXYqo8=
      ocp-aad-session-key:
      - lz19fig0hxs6KiPN7yphPonVgOzQKElwDJQt1Oag7OepJW3XZZ2OG21Rc6-4FcA5YDSR9lMGGdSW_ciTqDJC9Qtj59r72_19qtXOM-GyGhs8UO9S3OoGmaU6dwHh-Ztm.qjIFQeNva2KipU_-GTUS4jQL-aCu0vlvfjXLhShg7Gc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev/providers/Microsoft.KeyVault/vaults/dev02071bcaabcb454b8d","name":"dev02071bcaabcb454b8d","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"app":"python+postgresql02071bcaabcb454b8d"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev5c21751d670e463599/providers/Microsoft.KeyVault/vaults/dev5c21751d670e463599","name":"dev5c21751d670e463599","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"app":"python-postgresql-f973"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-devf119ab01542b4f5893/providers/Microsoft.KeyVault/vaults/devf119ab01542b4f5893","name":"devf119ab01542b4f5893","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"app":"python-postgresql-52d4"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim_pl_test_rg/providers/Microsoft.KeyVault/vaults/bimkv-nr-test","name":"bimkv-nr-test","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC1qMzZvZ3Zr"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC1qMzZvZ3Zr
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/s[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bimkvTest","name":"bimkvTest","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvTest","location":"northcentralus","tags":{},"deletionDate":"2020-07-30T07:15:26Z","scheduledPurgeDate":"2020-10-28T07:15:26Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4147","name":"sdktestvault4147","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg7255/providers/Microsoft.KeyVault/vaults/sdktestvault4147","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletionDate":"2020-05-18T08:25:58Z","scheduledPurgeDate":"2020-08-16T08:25:58Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1508","name":"sdktestvault1508","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg493/providers/Microsoft.KeyVault/vaults/sdktestvault1508","location":"North
        Central [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNzc2NDg4ODAyOTI5MHw0NEFGNzUzMDlBOUM0MTZDOEUwMDMxQUY1MThDQUMzRg?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNzc2NDg4ODAyOTI5MHw0NEFGNzUzMDlBOUM0MTZDOEUwMDMxQUY1MThDQUMzRg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-31 07:14:47Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNzc2NDg4ODAyOTI5MHw0NEFGNzUzMDlBOUM0MTZDOEUwMDMxQUY1MThDQUMzRg?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxNzc2NDg4ODAyOTI5MHw0NEFGNzUzMDlBOUM0MTZDOEUwMDMxQUY1MThDQUMzRg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-31 07:14:47Z","lastActionDateTime":"2020-07-31
        07:16:08Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbvbuI4FMXfBY3201LydydUGo2S2GHD9tq1sRml32gIKTaFitAheDTvvjedzrwDlRJFDgjk49859%2FwY7Zv%2BdLfd2250%2B2PEuFT%2F5pQpmd7pxeh29HQ6vXS3k8nzar9qm%2Bdmf7pZuddjc1Mfnifd62NXH7cvp%2B1h3028R3%2FzT%2FTZH%2FuPG28crder8aqpw3H9OA0%2BBxtvGk%2B9ycvx8H27bo7dBLb18dAdNqeb%2F5rLcvW6O03Wza45Neu3Rfd19[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbhbtowFIXfBU37NYoTwgaVqgmww8J67drYVOEfhECxKSCSluCq776bruo7gBQpiRMlukfnfMdvjV1elfebnSsat28NLpT%2BM2Rcq%2F69mTRuG09leShuW63n%2BW6%2Bzp%2FzXXkz9y%2FH%2FCbbP7eKl0WRHTeHcrPfFS2yCFY%2Fo19BM1isSDNaLufNeZ61m9miF%2F4KV6TX6ZHW4bh%2F3SzzY9GCTXbcF%2FtVefM3P0%2FnL9uytcy3eZkvP26K3%2FPDpvm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbRjto6EIbfBR31qixOSE5hpeoI8IQTujOpjZ0q3LEhsDgsrIAtwVXfvZOttO%2FASrmJZDny7%2B%2F%2FJr86%2B6o5P2z39alz%2F6tDmTb%2FT4CMHj3Yeee%2B83Q%2Bv5zue73n5X65qZ6r%2Fflu6V%2BP1V15eO6dXh9P5XH7ct4e9qeeeAzW%2F0Zfgm7wuBbdaLVadpdV2e%2BWj8PwS7gWw3goei%2FHw8%2Ftqjqeergtj4fTYX2%2B%2B1Zd8%2BXr7txbV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbrjuJGEEbfBUX5FQZfszDSKrLpMjGZKm833azMPwbMpXsGRphZoFf77ilHyeYZGMmW1bJly6frO1Xfe4fmen7aH1zbe%2Fzeo0rpP8dAWmVPZtZ77O3O57f2cTB4XR6W2%2Ba1OZwflv791Dysjq%2BD9v25XZ32b%2Bf98dAOgudw83vyKeyHz5ugn6zXy%2F6yWcX91fMo%2BhRtglE6CgZvp%2BO3%2Fbo5tQPcr07H9rg5P%2FzV3ObL95fzYN28NOdm%2Fc%2Bi%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZfb9owFMW%2FC5r2NIoDYYVK1ZRgh6Xrva6NTRXeIIQ%2FMYWK0AZc9bvvtpq6zwBSXhxbiXx8zu%2F4rbEtjof79dZVjZu3Bkptfg8EGh3d21HjprE6HJ6rm1brabqdLounYnu4mvqXfXGV755a1cusyvfr58N6t61abBYsfobXQTOYLVgznM%2BnzWmRd5r5rN%2B%2Bbi9Yv9tnref97nU9L%2FZVC9b5flftFoerP8VpPH3ZHFrzYlMcivnnoPo1fV43X2klffy2zYJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXvbpswFMXfBU37tARDYE0qVVOoTUbWa9eOnYp9I0D%2BQJpEgZTUVd%2B9N920d8gkpCtky9b93XOO35xdeW4fNru6cW7fHDaeaTNzbp112x6aW9d9znbZqnwud20%2Fs6dj2c%2F3z25zWjT5cXNoN%2Ftd45KFt%2Fwe3Hg9b7EkvaAosl5W5oNevhj5N%2F6SjMIRcQ%2FH%2FcumKI%2BNC5v8uG%2F2y7b%2Fq3ydZ6dt6xbltmzL4vOn%2BZEdNr0X3ImH3%2FnEG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXRbpswFIbfBU27WhpDyJpUqiaoTQbrsWvHpkrvCJAukCZRIIW46rvvpKv2DpmEhAxHID5%2F%2F8%2Bbsy379n69rRvn5s1hwVybuXPj%2FG7bfXMzHL5k2%2By5fCm37VVmj4fyKt%2B9DJvjsskP63273m2bIVm6q%2B%2F%2BtTtwlysy8IsiG2RlPhrky6l37a3IdDwlw%2F1h97ouykMzhHV%2B2DW7VXv1qzyl2XHTDotyU7Zl8bFofmT79eAVJ%2FHhtx5xpwOCh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbpswFIbvBU37tRTz0TWpVE1JbTq6%2BHh2bCr2jwRCgvOlQFriqve%2Bk6naPbSS0RHSEdZ5eM%2Fz6u2qvpuud7b1bl89Np5pM%2FNuvVXXHdpb398Wu6KuttWuuyrc6VhdLfZbvz3N28VxfejW%2B13rk3mw%2FB7fBINgviSDuCyLQVEtosFiPgpvwiUZXY%2BIfzjun9dldWx9vl4c9%2B1%2B2V39qs5Zcdp0flltqq4q%2F720P4rDevCMnfjxu5AEowHBE3z90[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTfbtowGMXfJZp2tZD%2FKyBVU8AOgmFnNnaqcBeSQGOHBJFQiKu%2B%2B0xV7R2G5BtLR5%2Fl33fOeTea8tavq0Z2xvTdgOGG8Y0xNV77%2FtRNLeuYNdmhPJZNP8rU5VyO8vZodZddl5%2BrU1%2B1TWfZO2f%2F039yTGe3t02%2FKDIzK3PPzHcT98nd25NgYlunc%2FtWFeW5s1CVn9uu3fej3%2BWQZJe6t4qyLvuy%2BLx0v7JTZb5ppR7%2B7NrOxLT1cb5%2F6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNvb5swEMa%2FC5r2agTzJ2sSqZogmIisZ2bHpsreESAEnEAUSElc9bvPm6p9h1byyfLd6az76Xlejba8DU91K3tj8Wpgf8PFxlgYh2E49wvLOmVtVpWnsh0mmbpeyknenaz%2BuuvzS30e6q7tLbSz99%2B9B9u0d3tkekWRmVmZu2a%2BmzsPzh7Np3NknS%2FdS12Ul96COr90fbcfJj%2FLe5pdj4NVlMdyKIt%2Fj%2F5Hdq7NF92phz86yJ6bSB%2F765de6h87Wba[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTfbpswFIffBU27GsH8yZpEqiYaOxUsPsyOTUXvCCEMnEAUSANUffc5U7V3WCRfHMtHtvT59513o877bl3WqjUW7wbxN0JujIXxu%2BtO7cKyjmmdFvkxr7tJOl7O%2BSRrjlZ72bbZuTx1ZVO3Ftra%2B%2B%2Feg23a2z0yvd0uNdM8c81sO3cenD2aT%2BfIOp2bt3KXn1uLltm5aZt9N%2FmZD3F6OXTWLj%2FkXb77u2l%2FpKfSfNOd%2BvJHB9lzE%2Bllf%2F3SKv1io%2FL6Uar4hceh4JKvBInlRs6jtTzIPQ5sKoorVMoBoXQdXGEsrnR8moHwXV4lHlWJB%2BNhCVi6MCovEgzxKuuZeF1RLAcmqPHtk4NzJyBcwEEPVeZQHM4AEZdVAdIgbECxBuG7DBF9XkyZYDarQkwJG2AMNIgXcieBuFJBvAgH%2BtP9IcKHGRW05zKxOS6moCTSjBCowNNB0cFRw40ZF4lLsfrksCQguL%2B%2BAz9GNqVVoeNAtR9JD2M8oxXzKGIuJdTmEgiQcMlU%2BMzG1yUoIAytnriKV0BufvxDQaT%2F6z%2B3ZKA40whuSAIUYV%2BbEM441likHgcV7VnFbMCFG0ni6HEysopoo3QyFDyDSoyPjz8%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/pgsqlbxmmj3ud56hvskghpqa","name":"pgsqlbxmmj3ud56hvskghpqa","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgpcftbeuef7ofyg2uqcdz4trlcduvin6dlzsua6xn64lecvpuivuq3wxznnkocf7ip/providers/Microsoft.KeyVault/vaults/pgsqlbxmmj3ud56hvskghpqa","location":"eastus","tags":{},"deletionDate":"2020-07-18T02:43:00Z","scheduledPurgeDate":"2020-10-16T02:43:00Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/mysqlu5tow75uno77vk3pvv2","name":"mysqlu5tow75uno77vk3pvv2","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgxakszdqwy624dayjprb4dytismeqjd3mjy6n4shabbs4u4siv3hw3cvtee24fe3bg/providers/Microsoft.KeyVault/vaults/mysqlu5tow75uno77vk3pvv2","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32aQnglG2JVFUJNhXZjC0cmyp9I2AIkEAUSKFU%2Ffe6VX9iK9kPHl%2FZ8pnjN6NRY78pm7ozFm8GWW6F3BoL49D3525hWaekSQp1Uk0%2FS6brRc3S9mR1132XXspzX7ZNZ9l7J%2F97c%2BuYzj63zZssS8xEpXMz3XvoFuW253q2db60L2WmLp0FZXppuzbvZ%2F%2FUa5xcj72VqaPqVfa16B6Sc2m%2B6KQ%2B%2FB7Zjmfaeji%2Ff3W1vrGtV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dNRa%2BJAEAfw7xKOe7qYTTRXFcqh3Y2Y60zYddeibzFZNZuYiImtbul3bzj6Ja4wLwN%2FZuDHzLtT61v3XNRl60zfHTZbSbVyps6x687t1PNOaZ0e9EnX3SC114seZM3Ja6%2B7NrsU565o6tYjO3%2F%2Fe%2FTgu%2F5uT9xRnqduqrOhm%2B0mwUOwJ5NwQrzzpXktcn1pPSiyS9M2%2B27wV9%2FX6bXqvFxXutP5v6b9k54L97VP9sMfA%2BJPXNKX%2F%2FNHW%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNha%2BJAEIb%2FSzjuU2M20bsaoRzqToueMyFxN8V%2Bi8mqcTURE2vc0v%2FevaN%2FooWBYeBlhnnmnTenUl27KCvdOKM3B8ZLIZfOyNm17akZed4xq7KtOqqq7WXmcla9vD56zWXd5Ofy1JZ11Xhs7W9%2BD%2B59119vmDsoiszNVN5383UY3AcbFv4KmXc6169loc6Nh2V%2Brpt60%2Fb%2BqluaXQ6tV6iDalXxv2j%2BZKfSfbVK2%2FwhYH7oMhv%2Bzx%2BNt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNRb6MwDMe%2FC5ru6SiBwq1Umk6sSU%2FsGiPShKl7oxA6SAsV0JVm2ne%2F3GlfYiflwZbtWP7573erldO4qVs1WMt3i0RbLrbW0nodx%2FOwdJxT3uYHeZLtOMv1pZezojs5w2U%2FFH19HuuuHRy0d6sf%2Fr1ru%2FsK2X5Z5nYui7ld7EPv3qtQGITIOffdW13KfnBoXfTd0FXj7Le8ZfnlODqlPMpRlv%2Bc4Wd%2Bru03k2k%2Bf%2FCQG9rIPPfb3aBMx07J9kG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNRb5swEID%2FC5r2NILByRoiVROrTUQWH4LYVOkbAZOBCUSBlMZV%2F%2Fvcqn%2Bik%2B7Bdzr7pO%2F8vVqdfBm3dacGa%2FVq0WDHxc5aWX%2FH8TysHOeUd%2FlRnmQ3znJ9vchZ0Z%2Bc4XoYikt9Huu%2BGxx0cKuf8zvXdg8Vsudlmdu5LLBdHHzvzquQv%2FCRc770z3UpL4PD6uLSD301zv7IW5Zf29EpZStHWX4kw6%2F8XNvPptM8fu8h17eRCff7t0GZib2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dNhb6IwGMDx70KWe3VIEdnEZLk4W4w7n4dQWxZ8h1gVqmAEJ7Lsu1%2Bz3H2IXdI3bZo2%2BeX%2FfFiV6tplUenGmnxYbLoScmVNrEPbnpuJ45yyKturk6raQdZfL2qQ1yenuW6a%2FFKc26KuGods3N3j6Mm13c2O2KPtNrMzlXt2vgmGT8MdCfyAOOdL%2FV5s1aVxoMgvdVPv2sFvdU%2By67F1tuqoWrX92jS%2FsnNhv5ub5vHnIXEDm5jl%2FnhotPmx1qp6ljp54[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPvaqswFADwd5FxP11r%2FNO7WhiXrknBrSclaeLwo9Xo1FaL2rVm7N1vNvYSu5ADCSfkkF9O3q1W3cZt1TaDtXy3yGov5N5aWq%2FjeB6WjnNK27RUJ9WOs1RfejXLupMzXA5D1lfnserawUEHt%2FgT3Lu2eyiQHeR5aqcq8%2B3sEHr3XoHCeYicc9%2B9VbnqBweqrO%2BGrhhnz2qK08txdHJ1VKPKvxbD3%2FRc2W9mpzn8wUNuaCMz3F93Q2Mqdo1qH2QTv%2FD4S[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPhbpswEADgd0HTfo1gCKxJpGpKYhMl6x2yY6ei%2Fwg4DEggCqQJVH33udP2EJ10knU6y9Z9unuzan3vnoq6aq3Zm8XmW6m21sz61XXnduY4p6ROcn3SdTdKhutFj9Lm5LTXfZteinNXNHXrkL17%2BO4%2FuLa7PxDbz7LETnQ6ttP91HvwDmQaTIlzvjSvRaYvrQNFemna5tCNfup%2Bl1yPnZPpo%2B509idpfyTnwn41N83jjx5xpzYx4X790lbmx6bS9aOqds9it5F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNtb%2BIwDID%2FSzXdpyttWrhRpGmCJZzgcKqEpFP5VkpgfaFFtGyQaf%2F9vNP%2BxE6KZFu2YunR43enMdd%2BVTRV50zeHTZdK712Js5L35%2B6iecdsyY7mKNp%2BkFmL2czyNuj1122XX4uTn3RNp3nb8n%2B1%2FCeuGS7993hbpe5mclDN99GwX2w96NR5Hunc%2Fta7My586DIz23X7vvBH3NLskvdeztTm97s%2FhXdY3Yq3FecxM8fAp9Ero%2BP%2FLjrKtz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBVX7tARDoE0iVSsaOxHZ2MgOpkrfCDgUQyAKpA2u%2Bu87u%2BpPdCWP5NEdzcjHdz6sVt2GbdXWvbX4sEi4S%2BTOWlivw3DuF45zytqsVCfVDpPMXC9qkncnp78e%2BvxSnYeqa3sHHdzjvf%2Fg2u7hiGy%2FKDI7U%2FnUzg9z78E7onkwR8750r1Vhbr0Dq3yS9d3x2HyW41pdm0Gp1CNGlTxL%2Bl%2FZefKfoNKaP7oIXduIzjuj7u%2Bholdrdp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRjpswEEX%2FBVV9KsGGpLuJtKogNiun8SCIzSp9I%2BCk4ASiQJbEq%2F33utX%2BxFYaP4x05dGcuffNadVtWNet7p3Fm0PDjZAbZ%2BH8HoZzv%2FC8U9EWB3VS7TApzPWiJmV38vrrri8v9Xmou7b30A7vv08fsIt3e%2BROq6pwC1UGbrmb%2Bw%2F%2BHs1nc%2BSdL91rXalL7%2FG6vHR9tx8mP9U9L67HwavUUQ2q%2Btf0P4pz7b5apf38yUd47iJb%2BOuXX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNha6NAEIb%2Fixz36YyridckUIrtrsFcdhY3uyn9aHST6hoN0dS4pf%2B9S%2Bmf6MEMMwPDDDy877vTqFu%2FKRvdOct3h0RbIbfO0nnt%2B3O39LxT1mRHdVJNP8nM9aImeXvyuuu%2Byy%2FluS%2FbpvPQ3j%2F8nd35rr8%2FIHdWFJmbqXzq5vtFcBcc0CJcIO98ad%2FKQl06j5b5pe3aQz%2F5p8Zddq17r1C16lXxNXQP2bl03%2BymPX4fIH%2FhIhv%2B71%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNdb5swFED%2FC5r2NIIhZE0iVVMSm4quvsiOTdW8EXAoNoEokPJR9b8PVduP6KT7YunqWjo6592qVN8%2BFZVprPW7RTZ7IffW2npt20uzdpxzUiW5OquqnSXj7apmaX12mtuxSa%2FFpS3qqnHQ0T399O9c2z2ekO1nWWInKp3b6XHl3XkntFqskHO51m9Fpq6NQ4v0Wjf1qZ39VkOc3MrWyVSpWpV9PppfyaWw36bN6fi9h9yVjaZxv39rzPRjbVR1L038zONHwSUPBIn[...]
- request:
    body: null
    headers:
    method: GET
[...]
