interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2362951'
      ocp-aad-diagnostics-server-name:
      - /S3W2cZkhZEhwDHc3pFDTWfsNg9/2f0eQ0VpDdTZCYU=
      ocp-aad-session-key:
      - oxV_ZXtnE6h9CgNhOhHnDT1hsydorJj7NJMs-hB9FYgADzQD642W68fVvdnPuAjqwiPwo27l5DIn8i6MyHCiE87ZPLridNmGe1YhMQZF-VjB9obHNDyUD0_YnweizEy6.WXfdIn4iunvmTyqnuU8VR6M8craaxy_3nfO4nw0m394
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim_pl_test_rg/providers/Microsoft.KeyVault/vaults/bimkv-nr-test","name":"bimkv-nr-test","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMDJNamRwYVhJeg=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMDJNamRwYVhJeg==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bimkvTest","name":"bimkvTest","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvTest","location":"northcentralus","tags":{},"deletionDate":"2020-07-30T07:15:26Z","scheduledPurgeDate":"2020-10-28T07:15:26Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-67cul7c","name":"cli-test-kv-mgmt-67cul7c","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmthi45zffqcjxhv2y75bqwlbvdlu3e2p7oprwvo7rhqitcbiogooazh/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-67cul7c","location":"eastus","tag[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzMzNTk2NTE0MzE5Nzc3MHw0NjA2NzgyMjQ4NzA0NjBBQjAyQUJDQkQzOUUzQjQ1OQ?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzMzNTk2NTE0MzE5Nzc3MHw0NjA2NzgyMjQ4NzA0NjBBQjAyQUJDQkQzOUUzQjQ1OQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-08-21 08:48:33Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzMzNTk2NTE0MzE5Nzc3MHw0NjA2NzgyMjQ4NzA0NjBBQjAyQUJDQkQzOUUzQjQ1OQ?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzMzNTk2NTE0MzE5Nzc3MHw0NjA2NzgyMjQ4NzA0NjBBQjAyQUJDQkQzOUUzQjQ1OQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-08-21 08:48:33Z","lastActionDateTime":"2020-08-21
        08:48:46Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZfrbuI4GIbvBa3211JCEnag0mhFsNNNtp9dGzuj9B8NgRJTqAodiEdz7%2Fumc7gHkEBREALlyXvKt96uPh%2FvNzt36N1%2B6wmpzb8zLoye3tt577b3fDy%2BHm4Hg5fFbrGuX%2Brd8Wbh39%2Fqm2r%2FMji8Px2qt83rcbPfHQbB03D1d%2Fxp2B8%2BrYJ%2BvFwu%2Bou6ivrV0yT8FK6CyWgSDF7f9l83y%2FrtMKBN9bY%2F7FfHm%2F%2Fqtli8b4%2BDZb2tj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXRbtowFIbfBU27GsUJsEGlakqwk4XVx7U5zpTe0RAoDoWK0JV46rvvZK32Dq2EFJJYic6X%2F%2F%2F8p7evzqfr7b5uepd%2FeiJaoF30Lnv3p9NjczkYPCz3y031UO1PF0v%2FdKwuysPDoHm6a8rj9vG0PeybAbsL1l9H34J%2BcLdm%2FdFqtewvq3LYL%2B%2Bm4bdwzabjKRs8Hg%2B%2Ft6vq2AzktjwemsP6dPGzavPl0%2B40WFW76lSt%2Fp0035eP2%2F5vW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbtbtowFIbvJZr2axQnJGuoVE0Bmw5W27U5poJ%2FkIRAkgIiaQmueu87sK73AFKkKFY%2B5Cfv%2B9jvziZt6sf1pqicu3eHRWMwY%2BfOWdX1rrprt1%2Fmm3mWvqSb%2BmZuX%2FfpTbx9aVeviyrer3f1erup2mThLn%2F6t27LXSxJy0%2BSeWuexp1WvOh6t96SdIMuae%2F227d1ku6rNl%2FH%2B221XdY3f9LjZP5a1u0kLdM6Tc4X1a%2F5bt16wzvx5fcecbs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXRbtowFIbfBU27GsUJYYVK1UTqAwvrsWtjpwp3NASKTaEitICrvvvO1mp7BpCSCydWIn%2F%2B%2F89vjXV12N0u175uXL01oD82dty4ajzuds%2F1Vav1NF1PF9VTtd5dTMPLtrooN0%2Bt%2BuWhLrfL591ys65b7CGaf08uo2b0MGfNZDabNqdV2W6WD734Mp6zXqfHWs%2FbzetyVm3rFi7L7abezHcXv6pjPn1Z7VqzalXtqtnfQf1j%2BrxsvtJM%2Bvh1zKJek9E[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtjto4FIbvBa321zI4H7QwUrVKsEOZnXNcG5sq848J4cNmYESYhrjqvffQjvYeqBQpshUl8pvnfc733qG%2BnB93B9%2F07r%2F3RDY3dt67723P59fmfjB4WR6Wm%2FqlPpzvluHtVN9Vx5dB8%2FbcVKfd63l3PDQD9hytP6Qfo370vGb9dLVa9pd1lfSr53H8MV6z8XDMBq%2Bn47fdqj41A9hVp2NzXJ%2Fv%2Fqu7xfJtfx6s6n19rle%2FFs2%2Fy9dd%2Fxs9SS%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbtowFIbvJZr2axTngxUqVVOCHZauPq6NnSr8CyFQEgqIhEJc9d536KbdA5MiRTmOEvn18z7vzrY8t4%2Frbd04d%2B8OC6faTJ0756Vt981dv%2F%2Bab%2FNV%2BVpu25vcHg%2FlTbF77TfHeVMc1vt2vds2fTJ3l9%2BDW7fnzpekFywWeS8vC79XzEferbcko8GI9PeH3dt6UR6aPl8Xh12zW7Y3v8ouzY%2Bbtr8oN2VbLj4fmh%2F5ft17wzfx4%2FcecUc9gpf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbtowFIbvJZr2axAnkBUqVVPApkvXczwbm4qfIYSPhC%2BRUIir3vsOFdo9tFKsKLZlS0%2Be933zdvmlfl7vysq7f%2FNEPDZ27N17q7o%2BVPe%2Bv0136TLf5ru6nbrTMW9n%2B61fnWZVdlwf6vV%2BV%2FlsFix%2Bdu%2BCVjBbsFZ3Pk9baZ51WtmsH96FC9aP%2Bsw%2FHPev63l%2BrHxYZ8d9tV%2FU7T95M0lPm9qf55u8zucfH9Wv9LBuvdJOOvwhZEG%2FxegJvn%2BrSrpxX%2Ba7B1tOXvTkyWirR0ZM7Nj25bPd2AVPAjDLMxbiLHlyRmMjKOAiDfZ0CWdtph3lVkKZwQDFaKDKhPYtG2mTRgq4qAJpPvF%2B3DiEnx4EX4boxBl44pCrAPmqh%2BXUodUDZUSEBgXysgt8xaFQoeTKaaMFrY%2B0BQIxltb8Hgo0On7%2B%2FGJIkwWSW2KxdGjiBgoSoyhDZSGSPCMu%2BIhcdICNOLqyATd5VIVogOMInCAeL%2BJLBITbAI1ixIP%2BeczAPPWkUBGY7AxMdNGRA8JScMoLMv0IDIW0FA6bMG3iG4cvowXe1AeedT%2FU4NhDl100h%2BiqA%2FINxUR14KqNg1AxPVQOh2AVdc01Jv9RCBv%2F%2FeytQdXZAbek6oxpkAV80gNXRsAHI6rQCNiUMD0NyQZaE6EuhJNGhGinAb299%2Fd%2F
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/devf119ab01542b4f5893","name":"devf119ab01542b4f5893","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-devf119ab01542b4f5893/providers/Microsoft.KeyVault/vaults/devf119ab01542b4f5893","location":"eastus","tags":{"app":"python-postgresql-52d4"},"deletionDate":"2020-07-31T10:49:53Z","scheduledPurgeDate":"2020-10-29T10:49:53Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-yfoztlt","name":"cli-test-kv-mgmt-yfoztlt","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmtzvud77kkzkz2gdo232eix27ufapenyfn2utmgc53gvhy536bcc3i4/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-yfoztlt","location":"eastus","tags":{},"deletionDate":"2020-07-31T07:20:30Z","scheduledPurgeDate":"2020-10-29T07:20:30Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/dev89df26b270db4cc2b2","name":"dev89df26b270db4cc2b2","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev89df26b270db4cc2b2/providers/Microsoft.KeyVault/vaults/dev89df26b270db4cc2b2","location":"eastus","tags":{"app":"python-postgresql7e0b"},"deletionDate":"2020-07[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTfbtowFIffJZp2NYgTyAqVqilgh4X1HM%2FBpkrvQggZCQVE0hJc9d13mKq9Qyv5wv9k63z6zu%2FV2Rdde7%2Fd141z%2B%2BqIcKHNwrl1%2FrTtsbl13adsn5XFU7Fv%2B5l9PhX9%2FPDkNs%2BrJj9tj%2B32sG9ctvI234c3Xs9bbVhvuF5nvazIB718NfZv%2FA0bB2PmHk%2BHl%2B26ODUubPPToTls2v6v4rLMnnetuy52RVus%2Fy2aH9lx23uhm%2FT4nc%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZThbtowFIXfJZr2axA7hBWQqinFpgurb2Zjp6L%2FQggZdguIhEJc9d13O1V7h1ayZV3LsnU%2Fn3Negl11ae%2B2O9cEk5eAJwttFsEk%2BNO2h2YShk%2FFrqirp2rX9gt%2FOlb9cv8UNqdVUx63h3a73zUhWdHN9%2FiK9uhqQ3rxel30iqoc9MrVOLqKNmQ8HJPwcNw%2Fb9fVsQnFtjzum%2F2m7f%2Bqurw4Pbbhunqs2mr9r2h%2BFIdt7xlP4uXXEaHjHsFBv35[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPvbtowFMXfJZr2aSF%2FWQGpmhJsUFjvTWPsVO23kARIDAGRUIKrvvtMte0dWsmSZd1rX52fz3kzmrLvHqpGtsbkzaDBkoulMTG2XXdsJ5a1z5psU%2B7Lphtk6nwqB%2Flhb7XnVZufqmNXHZrWslfO%2Bqd%2F55jOam2bflFkZlbmnpmvxu6du7bHw7FtHU%2BH16ooT60FVX46tId1N%2FhdXtPsvOusotyVXVl8HNpf2bEyX3WnfvzetZ2xaevlfP%2FWSj3xIMvmX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRbpswFIbfBU27GsHQsCaRqonETkTWY4ZjUyV3BEgGTiAKpBRXffedTdveoZVsWbYsH51P3%2B9Xqy5eusey1q01e7VYsJFqY82sn113aWeOc07r9Fici7obpeZ2LUZZc3ba277NruWlK5u6dcjePXwd37u2uz8Qe5znqZ0W2Z2d7afevXcgU39KnMu1eS7z4to6UGbXpm0O3eh7MSTp7dQ5eXEquiL%2Fs2m%2FpZfSfsab%2BPiDR9ypTXC4nz%2B1Gis2uqgflE6eRLK[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dTdbpswGAbge0HTjkYwP1mTSNVEYjOlqz9mx6bKIQFCMQlEgTTgqvdeZ6p2D63kk0%2BybPnR%2B%2FrVaoqhf6yaurMWrxYJN0JurIX13PenbuE4x7RJy%2BJYNP0k1ZdzMcnao9Nddl12rk591Tadg3bu%2Fmdw59rubo%2FsIM9TOy0y3852c%2B%2FO26P5dI6c07l9qfLi3Dm0ys5t1%2B77yZ9iTNLLoXfy4lD0Rf5v6H6lp8p%2BMTvN4fcecuc2Msv9%2Fq2rzY1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbqMwEED%2FBa32qQSbkG0SqaqysRvRzRjh2FTJGwGTBROIAimXqv9eb9Wf2ErzMqPRjHTmzJtVqb7d5pVurOWbRVc7IXfW0vrbtpdm6TjnuIpP6qyqdhKPt6uaJPXZaW7HJrnmlzavq8ZBR5z98u6xjY8Zsr00je1YJVM7OS7cezdDi9kCOZdr%2FZqn6to4kCfXuqmzdvJHDVF8K1snVaVqVfqZNI%2FxJbdfTacZ%2FuAivLCRCfzzR6PNxlqr6kHq6IVHz4JL%2FiR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb9owEIb%2FSzTt00IcAysgVVOCzQTjDtnYVOm3kBiaBBJEQhNS9b%2FXm%2FonVt1JJ58sn%2B7x%2B745pemadVYWtTN7c3iwVXrrzJyXprnUM887x2V8NGdTNoO4v13NIKnOXn3b18k1uzRZVdYe2fuHn6MH3%2FX3B%2BKO0jR2Y5MM3WQ%2FpQ%2F0QKbjKfEu1%2Bo1S8219iBLrlVdHZrBH3PfxbdT46XmZBqT%2FjvUv%2BJL5r7am%2FbxR0r8qUts%2Bt%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhj6IwEIb%2FC7ncp0MKsrdqsrmoLRc8O6a1ZaPfECpCEYzgit3sf7%2Fmsn%2FiNpkPM8mbmeTJM%2B9Oo4Z%2BXTa6c2bvDplvhdw6M%2BfU95du5nnntEkLdVZNP0rN7apGWXv2utuhy67lpS%2FbpvPQwT%2F%2BDJ991z8ckRvmeeqmKhu72WEaPAdHNH2aIu9ybd%2FKXF07j5bZte3aYz%2F6ox5Jeqt7L1e16lX%2Bb%2Bh%2BpZfSfbNJu%2FwlQP7URbb8798[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRjpswEEX%2FBVV9KsFA6CaRVhXEpoLGg%2BwYVukbAZMACUSBbIhX%2B%2B91q%2F2JrjTzMLpXM5qjmTejk9O4qbt2MFZvBvG3It0aK%2BM4jpdhZVnnvMsP8iy7cZar21XOiv5sDbf9UFzry1j33WChvV19nz%2FZpr2vkDkvy9zMZeGaxX7pPDkVWnpLZF2u%2FWtdyutg0bq49kNfjbNf8pHlt9NolfIkR1n%2BK4Yf%2BaU2X7VTN392kL00kQ7765eh1RP7VnbPa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb%2BIwDIb%2FSzXdpytNu3YDpOkEJEzlcFBCzFS%2BlTZAW2gRLQMy7b9f7rQ%2FcZP8xfIrW35e%2B8Op9a2bF3XVOsMPh42WCpfO0Nl33akdet4xrdOdPuq666Xmcta9rDl67WXTZufi1BVN3Xpk42%2Bfwmff9Tdb4oZ5nrqpzh7dbDMInoMtGUQD4p3OzXuR63PrQZGdm7bZdr3f%2Br5KL4fOy%2FVBdzr%2Fl7S%2F0lPhvlulbf4SEH%2FgEhv%2Bj4e2shObS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbqMwEIbfBa32agnmtA2RqlUSk4hsbGTHpsolAUM4BCJMmuCq71531ZfYSr4ZazTW%2F83nN6MTj3FfdY00Fm9GuDwwfjAWxnkcr3JhWZe0S0txEd04S9VtELOsv1jydpLZUF3Hqu%2BkBU528dt7sk37VADTy%2FPUTEXmmtkpcJ6cAgR%2BAKzr0L9WuRikhaps6GVfjLO%2FYkrSWztauWjFKPJ%2FhfyTXivzVXfq4c8OsAMT6GP%2F%2FCEb%2FWLfiO6ZN8kLTXa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhbqMwDMffBZ3u01ECtLdSaTpBEyR6TRA0Yeq%2BUQiMhEIFdC2Z9u7LTXuJm2TJtmTZ8s9%2Fvxkdv0%2F7ppOjsXkzkH%2Bg7GBsjJdpuowbyzrnXV7zM%2B%2BmRa6uA18U%2Fdkar6exGJrL1PTdaIGTXf1ePtimfaqAuSzL3Mx54ZrFyXMenAp4Kw9Yl6F%2FbUo%2BjBZuiqEf%2B2pa%2FOVzll%2FbySp5yydefibjn%2FzSmK%2B6Ujd%2FdIDtmUCb%2FfPHK[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNdb5swFIb%2FC5p2VQI2ZA2RqiqJTUQWG9mxU7V3BAzhIxABaRJX%2Fe%2Fzpu1HrNK5OTpfOo%2Fe98Nq1W3clm09WPMPCy92Qu6suXUcx%2FMwd5xT0iaFOql2nCT60qtJ2p2c4XIY0r48j2XXDo57APkP%2FxHY4JC7tp9liZ2o1LPTQwAfYe4G08B1zn33XmaqHxxSpn03dPk4%2Banu%2B%2BTSjE6mGjWq7E8yPCfn0n43nWb5E3RBYLsmwPdvQ20udrVqn2S9f%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdjqJAEIXfhUz2apEfcUZMJhugG6NrF6HtdoJ3CC1CIxjBQZnMu2%2FvZF9iJ6m6OEmlKvXlnA%2BtEfd%2BUzay0xYfGva2jG%2B1hXbq%2B0u3MIxz2qSFOIumn6Tj7SomWXs2utuhy67lpS%2FbpjPMg3V8dl4s3TocTd3J81RPRTbVs4Nrv9hH0525pnG5tu9lLq6dQcrs2nbtsZ%2F8Fo9deqt7Ixe16EX%2BJbpf6aXU39WkWv5qm5arm6qsH0%2BdVBdbKZpXLnd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNvi6MwEIe%2Fixz36qz%2Fb2thOayJS3udSNLExXtnNXbVVku12zXLfvcLx36JPQgMgWGG38Mz70Yv36Zd03ejsXo3cLTnYm%2BsjJdpuowryzoXfXGUZ9lPi0LdrnJRDmdrvB3G8tpcpmboR8s%2BOPVP%2F8ExnUNtm35VFWYhS88sD6H74NZ2GIS2dbkOr00lr6MFTXkdxqGeFr%2FlnBW302RV8iQnWf37jL%2BKS2O%2B6k49%2FNG1ndC09XO%2Bfxs7vXHoZP8ou[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPRbpswFAbgd0HTrkawIawhUlUltTuRxUYmNhW9I2AycAIRkIZQ9d13OvUlOsk3lo9snc%2F%2FebMaPQ7bqjG9tXyz6Gon1c5aWn%2BG4dwvHeeUNdlBn3QzzLLp0ulZ3p6c%2FrLv8646D1Xb9A7a4%2FLn%2FA7beF8ie14UmZ3p3LPzfeDeuSUK%2FAA55659rQrd9Q6r8q7t23KY%2Fda3JLscB6fQRz3o4t%2Bmf8jOlf0KlXD5vYtwYCNY%2BPu33sCLrdHNvTLJc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhj6IwEIb%2FC7ncp0MKcrdisrkgLQbPllBbNvoNobiAghFcsZv97zde7n7EXtJJO2mnk%2FfJO%2B9Gq8ZhXbVNb8zfDeJvhNwYc%2BN1GM793LJOWZsd1Em1wyTT14ua5N3J6q%2F7Pr9U56Hq2t5Ce7v84T7Zpr0vkekWRWZmKp%2Ba%2Bd5znpwSed89ZJ0v3VtVqEtv0Sq%2FdH1XDpNf6p5m1%2BNgFeqoBlX8Sfqf2bky3%2BAlfP7sINszESz765e%2BgY5do9p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNtj6IwEMe%2FC9ncq0MK6K6abC4oxeDZIa0tG%2FcdQmFpFYzgqmz2u1%2Fvsl9iL%2BkknYfMZH75z4fVyFu%2FqRvdWfMPCwdbLrbW3Hrr%2B1M3d5xj1mSVPMqmH2XD5SxHeXt0usu%2By8%2F1qa%2FbpnPQ3i0fx0%2Bu7e5LZI%2BLIrMzmft2vp95T16JZpMZck7n9r0u5LlzSJ2f264t%2B9FveU%2Bzy6F3CnmQvSz%2BOd2v7FTb76bSNH%2F2kDuzkXnuj4d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhjqIwEIDfhVzu1yEF8VZMNhewdaNnhxQ7bPb%2BIVQFFIzgot3su1%2F3si%2Bxl0wzmWTSZr5%2B82Y16tavy6burNmbxcKNxI01sw59f%2B5mjnPKmmyvTqrpR5m%2BXtQob09Od912%2BaU892XbdA7Zuruf%2FoNru9sdsf2iyOxM5WM73wbeg7cjwSQgzvnSvpaFunQOL%2FNL27W7fvRb3dPseuydQh1Vr4p%2FRfcrO5f2q%2Bk0lz96xA1sYsL9%2Fq2rzYttr[...]
- request:
    body: null
    headers:
    method: GET
[...]
