interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2026-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-08-09T16:20:20.701Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-08-09T16:20:20.701Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"4f00b3b6-2940-4f2c-b037-94637c180d30","accessPolicies":[{"tenantId":"4f00b3b6-2940-4f2c-b037-94637c180d30","objectId":"bb83257d-f1d0-412f-85a2-22c2b259e928","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"sku": {"family": "A",
      "name": "standard"}, "tenantId": "4f00b3b6-2940-4f2c-b037-94637c180d30", "accessPolicies":
      [{"tenantId": "4f00b3b6-2940-4f2c-b037-94637c180d30", "objectId": "bb83257d-f1d0-412f-85a2-22c2b259e928",
      "permissions": {"keys": ["rotate", "all"], "secrets": ["all"], "certificates":
      ["all"], "storage": ["all"]}}], "enabledForDeployment": false, "enabledForDiskEncryption":
      false, "enabledForTemplateDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "vaultUri": "https://cli-test-kv-key-000002.vault.azure.net/",
      "provisioningState": "Succeeded", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2026-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Micro[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer, PoP, or MTLS_POP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/4f00b3b6-2940-4f2c-b037-94637c180d30",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/f57ed4f66d8246628d69cd08d32bf5ad","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uvyrfEbi1qeTJI2YvFvqW_fztqWOb4lpqqhP-oc0U_xEOju1D6sQ4E4oLgq0Iu25-eB8W7BW17CG38pXpo3uzLiCu8pecJBlHhd8sd4FdDgq9Luc8qUVzROX7-Fy1q9g9ptEudi2UHWI3WS5DAQchIqK9gwoOJBj5stNkgs_je_Sk1jO0avOLEZj_3rWN8XM3N0I-leqntbOmVxgk7xE3U5Xr3MtDQWmhyVkiC20VC6IEIXMG_v2WuAEshaqROsilCmpOknFaAW8F-QHlGZ8njlR1g3Zk8k7pXBxcWKBJyLE_0A9TFO5OrDavDzQpX4DEdxj221MEt-vV8FpbUIIWQ","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"created":1786292459,"updated":1786292459,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"lifetimeActions": [{"action": {"type": "Rotate"}, "trigger": {"timeAfterCreate":
      "P15D"}}, {"action": {"type": "Notify"}, "trigger": {"timeBeforeExpiry": "P7D"}}],
      "attributes": {"expiryTime": "P30D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/rotationpolicy?api-version=7.6-preview.2
  response:
    body:
      string: '{"id":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/rotationpolicy","lifetimeActions":[{"trigger":{"timeAfterCreate":"P15D"},"action":{"type":"Rotate"}},{"trigger":{"timeBeforeExpiry":"P7D"},"action":{"type":"Notify"}}],"attributes":{"expiryTime":"P30D","created":1786292461,"updated":1786292461}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/rotate?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/3ecfd1e55da049639b001c445c7dc9cc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xFUNLyVKwqacX_ZLHGlGUlHt2iHLgMkKlQMQMprljfUZRTtzw71kdvUVB2T-0vl-bj8bGDRqnhiIAvQmxklEbpVQgy8UtALa8obOoqdSBhXWpKE73pGdVeyWS7ct3f_rNC5gjDcrgFG6mC-jLSnrsc2-W8YB0uOMAXrSd0QVa4FADgXsAVzybEM0GiAFnyWaoQjWQ8eOUB4-OJdfzAareOAjQRHKK2h7sN0RTlFpXCbaQqGyzKqNfWq5JkueFUiwnTf62B2XtYIzSMLyhRKpGK54ZK0M0bHJl2K2yXgjyFCeAJAPFdzEnjZtlMbR7IX2rznH1c36-nu7Kzot2JnlvQ","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"exp":1788884463,"created":1786292463,"updated":1786292463,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
