interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-08T07:49:26.138Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-08T07:49:26.138Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"7b31ddc4-9101-4ef0-a387-79ce181cacdb","accessPolicies":[{"tenantId":"7b31ddc4-9101-4ef0-a387-79ce181cacdb","objectId":"cfd63e61-7aec-4d54-ba2c-394c6d10df25","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"vaultUri":"https://cli-test-kv-se-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cli-test-kv-se-000002%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "7b31ddc4-9101-4ef0-a387-79ce181cacdb",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "7b31ddc4-9101-4ef0-a387-79ce181cacdb", "objectId": "cfd63e61-7aec-4d54-ba2c-394c6d10df25",
      "permissions": {"keys": ["all"], "secrets": ["purge", "all"], "certificates":
      ["all"], "storage": ["all"]}}], "vaultUri": "https://cli-test-kv-se-000002.vault.azure.net/",
      "enabledForDeployment": false, "enabledForDiskEncryption": false, "enabledForTemplateDeployment":
      false, "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "enableRbacAuthorization":
      false, "provisioningState": "Succeeded", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Mi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/7b31ddc4-9101-4ef0-a387-79ce181cacdb",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/86a937f5a4d8461895c62eaa7bcd97b3","attributes":{"enabled":true,"created":1757317814,"updated":1757317814,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=7.4
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1757317814,"updated":1757317814,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret2","attributes":{"enabled":true,"created":1757317816,"updated":1757317816,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?maxresults=10&api-version=7.4
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1757317814,"updated":1757317814,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret2","attributes":{"enabled":true,"created":1757317816,"updated":1757317816,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=7.4&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE4MCFNREF3TURFMElYTmxZM0psZEM5VFJVTlNSVlF5SVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ&maxresults=1
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret2","attributes":{"enabled":true,"created":1757317816,"updated":1757317816,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "DEF456", "tags": {"test": "foo", "file-encoding": "utf-8"},
      "contentType": "test type"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4b4e96897d7f49a7b0e846c47a212879","attributes":{"enabled":true,"created":1757317822,"updated":1757317822,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=7.4
  response:
    body:
      string: '{"value":[{"contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4b4e96897d7f49a7b0e846c47a212879","attributes":{"enabled":true,"created":1757317822,"updated":1757317822,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/86a937f5a4d8461895c62eaa7bcd97b3","attributes":{"enabled":true,"created":1757317814,"updated":1757317814,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?maxresults=10&api-version=7.4
  response:
    body:
      string: '{"value":[{"contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4b4e96897d7f49a7b0e846c47a212879","attributes":{"enabled":true,"created":1757317822,"updated":1757317822,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/86a937f5a4d8461895c62eaa7bcd97b3","attributes":{"enabled":true,"created":1757317814,"updated":1757317814,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=7.4&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjQhTURBd01EUTNJWE5sWTNKbGRDOVRSVU5TUlZReEx6ZzJRVGt6TjBZMVFUUkVPRFEyTVRnNU5VTTJNa1ZCUVRkQ1EwUTVOMEl6SVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ&maxresults=1
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/86a937f5a4d8461895c62eaa7bcd97b3","attributes":{"enabled":true,"created":1757317814,"updated":1757317814,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/?api-version=7.4
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4b4e96897d7f49a7b0e846c47a212879","attributes":{"enabled":true,"created":1757317822,"updated":1757317822,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/86a937f5a4d8461895c62eaa7bcd97b3?api-version=7.4
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/86a937f5a4d8461895c62eaa7bcd97b3","attributes":{"enabled":true,"created":1757317814,"updated":1757317814,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/backup?api-version=7.4
  response:
    body:
      string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUpqTURjeU0ySXpPQzAxWmpBM0xUUTNZVEl0T1RNeVppMHpaREZqT1RNNE9EQTBPVElpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuTUhEY0VJOV9pRkRxX0R2RDVrMkhyeUd6VnVMY2t5UHpoWm1KdTlnaHZFWWF1RnRnNjlqU1UzeEF5RTB0VGJpSmo[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-se-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1757317834,"scheduledPurgeDate":1757922634,"contentType":"test
        type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4b4e96897d7f49a7b0e846c47a212879","attributes":{"enabled":false,"created":1757317822,"updated":1757317831,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cli-test-kv-se-000002.vault.azure.net/deletedsecrets/secret1?api-version=7.4
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUpqTURjeU0ySXpPQzAxWmpBM0xUUTNZVEl0T1RNeVppMHpaREZqT1RNNE9EQTBPVElpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuTUhEY0VJOV9pRkRxX0R2RDVrMkhyeUd6VnVMY2t5UHpoWm1KdTlnaHZFWWF1RnRnNjlqU1UzeEF5RTB0VGJpSmoxQkQ1dUo0TExDbldhZUMtTTBNRmx2SVpTZ1FYMy1FS3IxNW4tLVBLdWI3SXpBYUhVOWtnR0RTdGhyUVJBdTFKU3dQNV8yR01UejVsRHN5TlgyRVo3YUttdzE5Uk5IWUVRQTBfam5CekJ3eGlJR2p6WWI2SVJ0YUtfVTN[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/61440ed27e22413cbf7bd43cfb865348","attributes":{"enabled":true,"created":1757317966,"updated":1757317966,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/61440ed27e22413cbf7bd43cfb865348","attributes":{"enabled":true,"created":1757317966,"updated":1757317966,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/8797b4107cd349bd97fa45e97057f637","attributes":{"enabled":true,"created":1757317970,"updated":1757317970,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/8797b4107cd349bd97fa45e97057f637","attributes":{"enabled":true,"created":1757317970,"updated":1757317970,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/a276a7a4954e479e8702ab81db978ce2","attributes":{"enabled":true,"created":1757317974,"updated":1757317974,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/a276a7a4954e479e8702ab81db978ce2","attributes":{"enabled":true,"created":1757317974,"updated":1757317974,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/9c3589dc8aed45bfa2cce30038a1c7b7","attributes":{"enabled":true,"created":1757317978,"updated":1757317978,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/?api-version=7.4
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/9c3589dc8aed45bfa2cce30038a1c7b7","attributes":{"enabled":true,"created":1757317978,"updated":1757317978,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64?api-version=7.4
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/2f48866a609f4bd5b46da6ea2c6be6ad","attributes":{"enabled":true,"created":1757317982,"updated":1757317982,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/?api-version=7.4
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/2f48866a609f4bd5b46da6ea2c6be6ad","attributes":{"enabled":true,"created":1757317982,"updated":1757317982,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex?api-version=7.4
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/cb3fa6506e1342f0859b7777e2d642ec","attributes":{"enabled":true,"created":1757317986,"updated":1757317986,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/?api-version=7.4
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/cb3fa6506e1342f0859b7777e2d642ec","attributes":{"enabled":true,"created":1757317986,"updated":1757317986,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/?api-version=7.4
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/cb3fa6506e1342f0859b7777e2d642ec","attributes":{"enabled":true,"created":1757317986,"updated":1757317986,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
