interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2746243'
      ocp-aad-diagnostics-server-name:
      - m44jz5vCS9u4O5sSSVss6CKrthWLHfOPU5++FHDbfV8=
      ocp-aad-session-key:
      - u6HosQpvkYu6d0aAD387chaKPFZBMvcqiBgV92fEZUdKgs0BYwxpsi3_V6op5XT-4kApSDiSK9ovpjoFZFTwpBlAUygpMjoXt6fW07lvJdmYswjWFWcwTC8fXnplPHWh.kvCOHX6MObgqs-x21UFv03wDIFcgdUJDhHZujHiBaPo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kevault-000002?api-version=2018-02-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kevault-000002","name":"cli-test-kevault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-kevault-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/40170a9c46b14a41afd0244764db8557","attributes":{"enabled":true,"created":1575625851,"updated":1575625851,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1575625851,"updated":1575625851,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "DEF456", "tags": {"test": "foo", "file-encoding": "utf-8"},
      "contentType": "test type", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/1b4247e77f914c0c952769aca2b2249f","attributes":{"enabled":true,"created":1575625854,"updated":1575625854,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/1b4247e77f914c0c952769aca2b2249f","attributes":{"enabled":true,"created":1575625854,"updated":1575625854,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/40170a9c46b14a41afd0244764db8557","attributes":{"enabled":true,"created":1575625851,"updated":1575625851,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/?api-version=7.0
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/1b4247e77f914c0c952769aca2b2249f","attributes":{"enabled":true,"created":1575625854,"updated":1575625854,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/40170a9c46b14a41afd0244764db8557?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/40170a9c46b14a41afd0244764db8557","attributes":{"enabled":true,"created":1575625851,"updated":1575625851,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlNuSGVLM25fdFBKU1VhbnY2Y2U2UDZGZ[...]
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlNuSGVLM25fdFBKU1VhbnY2Y2U2UDZGZ08ya1M3bDB0WGNWMmh0aU9mdjI2eVZPVWJJdWlIVHdSbTdZMW82YUstR3FxN3kwdl9SbW9DMW9LZnRBelZNeVhLMS01OGpwUlNhNWV2V3g2TzhfeVpiRkxOb2huYi1KZHJ3MHdELWtKU3Jjd1RVUk11VTBvZ19qdjN4NEZaV1p0NHlUY2dDVUN4amtobW14UlVIdUlmZ2hQU2lqU055RVNBTk5LalhsQnF[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/dac0ec476dca446f905a22fd857dadff","attributes":{"enabled":true,"created":1575625872,"updated":1575625872,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/dac0ec476dca446f905a22fd857dadff","attributes":{"enabled":true,"created":1575625872,"updated":1575625872,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/d4393e83cc544bc6881f7658f76a48db","attributes":{"enabled":true,"created":1575625875,"updated":1575625875,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/d4393e83cc544bc6881f7658f76a48db","attributes":{"enabled":true,"created":1575625875,"updated":1575625875,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/d9bbeaa527ef4068a7bd87d7d85bd1e0","attributes":{"enabled":true,"created":1575625878,"updated":1575625878,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/d9bbeaa527ef4068a7bd87d7d85bd1e0","attributes":{"enabled":true,"created":1575625878,"updated":1575625878,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/5a05858be70d4f46840501c933832ef9","attributes":{"enabled":true,"created":1575625881,"updated":1575625881,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/5a05858be70d4f46840501c933832ef9","attributes":{"enabled":true,"created":1575625881,"updated":1575625881,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64?api-version=7.0
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/b2ca93f11f4444058eddd7c8effad184","attributes":{"enabled":true,"created":1575625884,"updated":1575625884,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/?api-version=7.0
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/b2ca93f11f4444058eddd7c8effad184","attributes":{"enabled":true,"created":1575625884,"updated":1575625884,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex?api-version=7.0
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/c82865c90708443d90dbc0aa53238e74","attributes":{"enabled":true,"created":1575625887,"updated":1575625887,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/?api-version=7.0
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/c82865c90708443d90dbc0aa53238e74","attributes":{"enabled":true,"created":1575625887,"updated":1575625887,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-keyvault","name":"bim-keyvault","[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kevault-000002.vault.azure.net/", "enabledForDeployment":
      false, "enableSoftDelete": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kevault-000002?api-version=2018-02-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-te[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kevault-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1575625914,"scheduledPurgeDate":1583401914,"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/0fda87c5c7a84921a7d5dc1f8f6859d6","attributes":{"enabled":true,"created":1575625913,"updated":1575625913,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/deletedsecrets/secret1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kevault-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1575625914,"scheduledPurgeDate":1583401914,"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/0fda87c5c7a84921a7d5dc1f8f6859d6","attributes":{"enabled":true,"created":1575625913,"updated":1575625913,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/deletedsecrets/secret1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kevault-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1575625914,"scheduledPurgeDate":1583401914,"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/0fda87c5c7a84921a7d5dc1f8f6859d6","attributes":{"enabled":true,"created":1575625913,"updated":1575625913,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
