interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr1-000003/create?api-version=7.6-preview.2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/b5ee6c06-c2c2-4e3c-8606-5f170cee077a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true, "exportable": true},
      "release_policy": {"data": "eyJhbnlPZiI6IFt7ImF1dGhvcml0eSI6ICJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8iLCAiYWxsT2YiOiBbeyJjbGFpbSI6ICJ4LW1zLXNneC1pcy1kZWJ1Z2dhYmxlIiwgImVxdWFscyI6ICJmYWxzZSJ9XX1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr1-000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"attributes":{"created":1745290435,"enabled":true,"exportable":true,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1745290435},"key":{"crv":"P-256","key_ops":["verify","deriveKey","sign"],"kid":"https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr1-000003/db7ce8b256bf4e162b3991ed2b1f4263","kty":"EC-HSM","x":"PPONCYFUlSFacbQbn2tVYo11_I56sT4fwLj3LXA1HWE","y":"S9jwA2tmOlruWoKFNvv6RSYAjCBSHON6z8cnpOAMBO4"},"release_policy":{"contentType":"application/json;
        charset=utf-8","data":"eyJhbnlPZiI6W3siYWxsT2YiOlt7ImNsYWltIjoieC1tcy1zZ3gtaXMtZGVidWdnYWJsZSIsImVxdWFscyI6ImZhbHNlIn1dLCJhdXRob3JpdHkiOiJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8ifV0sInZlcnNpb24iOiIxLjAuMCJ9","immutable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '518'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/managedHSMs?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_krp000001/providers/Microsoft.KeyVault/managedHSMs/clitesthsmkrp000002","name":"clitesthsmkrp000002","type":"Microsoft.KeyVault/managedHSMs","location":"uksouth","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-04-22T02:41:25.559Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-22T02:41:25.559Z"},"properties":{"tenantId":"b5ee6c06-c2c2-4e3c-8606-5f170cee077a","hsmUri":"https://clitesthsmkrp000002.managedhsm.azure.net/","initialAdminObjectIds":["9aec9bf7-7066-4c57-bc6d-3bc7935e826d"],"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":false,"provisioningState":"Succeeded","statusMessage":"The
        Managed HSM is provisioned and ready to use.","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"publicNetworkAccess":"Enabled","regions":[],"securityDomainProperties":{"activationStatus":"NotActivated","activationStatusMessage":"Your
        HSM has been provisioned, but cannot be used for cryptographic operations
        until it is activated. To activate the HSM, download the security domain."}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - a5d88dd3-6039-436f-a0e9-b3a6ffb8c0d8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Attestation/Locations/uksouth/defaultProvider?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Attestation/attestationProviders/shareduks","name":"shareduks","type":"Microsoft.Attestation/attestationProviders","location":"UK
        South","properties":{"trustModel":"AAD","status":"Ready","attestUri":"https://shareduks.uks.attest.azure.net"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-maa-service-version:
      - 1.11.03004.4066
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"release_policy": {"data": "eyJhbnlPZiI6IFt7ImF1dGhvcml0eSI6ICJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8iLCAiYWxsT2YiOiBbeyJjbGFpbSI6ICJ4LW1zLXNneC1pcy1kZWJ1Z2dhYmxlIiwgImVxdWFscyI6ICJmYWxzZSJ9XX1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9",
      "immutable": true}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr2-000004/?api-version=7.6-preview.2
  response:
    body:
      string: '{"attributes":{"created":1745290439,"enabled":true,"exportable":true,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1745290441},"key":{"crv":"P-256","key_ops":["verify","deriveKey","sign"],"kid":"https://clitesthsmkrp000002.managedhsm.azure.net/keys/skr2-000004/469f11482537405bad10217484f5efb4","kty":"EC-HSM","x":"azjMVagtpEYUdw5KDwDsfWKMgTpuw8Ro5_qC56HekBg","y":"XugycqKmVdTe-gY9tQHzr01SE_uRcxbqeuztcXC-Oh0"},"release_policy":{"contentType":"application/json;
        charset=utf-8","data":"eyJhbnlPZiI6W3siYWxsT2YiOlt7ImNsYWltIjoieC1tcy1zZ3gtaXMtZGVidWdnYWJsZSIsImVxdWFscyI6ImZhbHNlIn1dLCJhdXRob3JpdHkiOiJodHRwczovL3NoYXJlZGV1cy5ldXMuYXR0ZXN0LmF6dXJlLm5ldC8ifV0sInZlcnNpb24iOiIxLjAuMCJ9","immutable":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '893'
    status:
      code: 200
      message: OK
version: 1
