interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2787514'
      ocp-aad-diagnostics-server-name:
      - 26JYzEj1KAujzamlU8eWwpzZ/9HTI+y7gakRbWjTnUk=
      ocp-aad-session-key:
      - bF7bzhYiKRj4p8JS0efNuBCXR4vMnrIqzkCjlY2Bu746nHljK6SbMUkCmRyHGP_njhBjiwW7tj1tewxkFzSQbvBMkkjCov5RyBswrAv15SzzVj47L9QhpLWqLVZEVRN4.pcK5nON06cJ9DO-QekgLEjCo_ffm2nBAeITNMqN8SuY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.KeyVault/vaults/azureclitest-vault","name":"azureclitest-vault","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC1ja3VmbHJx"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=Y2xpLXRlc3Qta3YtbWdtdC1ja3VmbHJx
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "networkAcls": {"bypass": "AzureServices", "defaultAction":
      "Deny"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","networkAcls":{"bypass":"AzureServices","defaultAction":"Deny","ipRules":[],"virtualNetworkRules":[]},"accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/yugangwncu-kv","name":"yugangwncu-kv","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangwncu/providers/Microsoft.KeyVault/vaults/yugangwncu-kv","location":"northcentralus","tags":{},"deletionDate":"2020-01-04T17:11:31Z","scheduledPurgeDate":"2020-04-03T17:11:31Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cmk-test-keyvault5sqfx2x","name":"cmk-test-keyvault5sqfx2x","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgmaeu767ym7nzvi3vj7xwbxxwidfk53lnm56h7zmeubkfbmpl4uwokt34w4hqdcl4n/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault5sqfx2x","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzE5NTA2NTk5OTg3MTcwOXw3QUIyOTcyNzRFQ0Y0NzYyODBGOTYzMTRCMjk5MjA4Ng?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzE5NTA2NTk5OTg3MTcwOXw3QUIyOTcyNzRFQ0Y0NzYyODBGOTYzMTRCMjk5MjA4Ng?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-03-11 06:56:38Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzE5NTA2NTk5OTg3MTcwOXw3QUIyOTcyNzRFQ0Y0NzYyODBGOTYzMTRCMjk5MjA4Ng?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzE5NTA2NTk5OTg3MTcwOXw3QUIyOTcyNzRFQ0Y0NzYyODBGOTYzMTRCMjk5MjA4Ng?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-03-11 06:56:38Z","lastActionDateTime":"2020-03-11
        06:57:07Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3Vfdjto4GH0XtNqrZXACbGGkqkqwQ8POZ9fGpsrcMZABbAZGwJSQqu%2Fek1m1fQaQghKHTyCfnL98b%2B3K6vSw2YVj6%2F57SypjP4%2BEtCZ5cNPWfWt9Or0e7zudl%2Fluvipfyt3pbl6%2FHcq7xf6lc3x7Oi4Om9fTZr87dthT9Pxv70PUjp6eWbu3XM7b83LRbS%2BehvGH%2BJkN%2B0PWeT3sv22W5eHYoc3isD%2Fun093%2F5WX2fxte%2Bosy215Kpfvi%2BO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXdbtowGIbvBU07GsX5YQ2VqimNHQbr58zGThXOQhJ%2BYgqIpIW46r3vY9rPNRQpB45kOfoev%2B%2BTt96uOrePm51pendvPRbOlJ717nrrtj00d4PBc77LV9VztWtvcvtyrG6K%2FfOgeVk0xXFzaDf7XTMgC2f51b91%2Bs5iSfp%2BWeb9vCq8frEYubfukoyGIzI4HPevm7I6NgPYFMd9s1%2B2Nz%2BqLs1ftu2grLZVW5W%2FX5pv%2BWHTf8WdePi9S5xRn%2BD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtbtowFIbvJZr2ayHOR1dAqqYEOwzGcWZjU8G%2FkIQ0cSCIhDa46r3PnabdQytZsi1bPjqPn%2FfVOhVDv6pOqrOmr9Y6keLnjFDBw5VcW1Prqe%2FP3dRxjukpLYtjcepHqb5eilHWHp3uuu%2ByS3Xuq%2FbUOWjvHr4H967t7g%2FIDvI8tdMi8%2B1sP%2FHuvQOa3E2Qc760z1VeXDoHquzSdu2hH%2F0qbpv02vROXjRFX%2BR%2FN92P9FzZz%2BamefzBQ%2B7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNRb6JAEID%2FC7ncU5EF8SomzYW6i6fnLLfrro2%2BISwWVsEIVqTpf%2B%2F2crn%2F0CbzMpnJTObLN69Wpbp2WVS6sSav1iqW4teUUMHDpVxZE%2Bu5bU%2FNxHGOSZXs1VFV7SDpL2c1SOuj01x2TXouTm1RV42Ddm7%2Bw793bXeXI9vPssROVDq0013g3Xs5CkYBck7n%2BqXI1LlxoEjPdVPn7eC3uq2Ty6F1MnVQrcr%2BJs3P5FTYL6bTDH%2FwkBvYyIT7%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPfbtowFIffJZp2tZA%2FpCtBqqasPulg2J6DTyq4C8FAHEgQCS246rvXraa9QyedG%2F90ji19%2Fs6L06hLP6uaunPGL86co%2Fx1D0xmyQznztjZ9f2xG3veoWiKrTqoph8U5nxSg7I9eN151ZWn6thXbdN5%2FirYfI9uAzdYbXw3Wq8Lt1Dl0C1XcXgbbvz4Jva946l9qtbq1Hm0Kk9t1276wW91zYvzvvfWaq96tf44dD%2BKY%2BU%2B2U57%2BV3oB7Hr2wq%2Bf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZDbboIwAIbfhSy7GnIY28TELGDLorMlYotxdxwKgyIYWhVrfPcR32LJf%2FMn%2FyH5blrLBrmuWi602U3bwS2hW22m%2FUp5FDPDOCRtUrIDa%2BUkUaeeTbLuYIhTKrK%2BOsqqa4Vhplbx7nxYupUWpu7keaInLHvVs9S1P%2BzCdN9c0zj23bnKWS8MVGV9J7pCTr7ZNU5OjTRy1jDJ8ocRn8mx0s9jchyf26bl6uYo6%2FlJ8PGx46ydUx7vonhFIhoFBMZ0S91wTRt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3VDbboIwAP0XsuxpSAHdxMQsm%2B0WnK0BW4x7g1IYFMFQvFDjv4%2F5GUvOeTjJuSTnatTi0q2KWipjdjW2aEPZxpgZP113UDPL2sd1nIu9qLtRrI%2BtGPFmb6ljonhbHLqiqZUFEjt7Hr%2FYpp1kwBynaWzGgrsmTzznxcmAN%2FGAdWibU5GKVlm44G2jmqwbfYk%2Bio9VZ6WiEp1I70K9xofCPA3OoXzuANszwQD78UHJYbGRop4zGW3DaElDFn5QFLEN89YrVrEM%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dBtb4IwEAfw70KWvRoCilNMzOJsTeZsCbXFuHdQCrIqEFofwPjd1%2FgxllxyueR%2Fd8nvblXipjdlJZU1u1s7uKVsa82sg9aNmjnOKamSQpxEpQdJf27FgNcnR51Txduy0WVdKcdNvfzdn3i2l%2Bau7WdZYieCj2yeBsPJMHeDceA6TVtfyky0ykElb2tV53rwLbo4OR%2B1k4mj0CJ7DuojaUr7YpLm%2BHzoeoHtmvJeX5Q0H2spqjmT8Y7Ea0oYWVEYsy0Lwg07shx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZDtboIwFIbvhSz7NWxhMsXELH5U42ZLwBbj%2FvFRFFEgtDqo8d7XcBlLzpuTNznnvDnPwyh5K7d5WQhj8jD2aEfZzpgYJylrMQHgGpXRkV95KQeRujV8kFRXIG6xSJq8lnlVCgBjK%2FsYjizTijNoDtM0MiOevJtJ7NojO4Ou40JQN9U9T3kjAM6TphJVJgffvAuj20WClF%2B45GlvxGdU5%2BZdT%2BrjUxtargl1Wa8votCJVcHLKSvCfRB%2B0YAFK4pCtmOut2UXl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dDtaoMwGAXge5GxX7PGr60WyihLCnZNJGli6f75ETu1VTHpl6X3PullDN4%2FB17OgeduNPKq12VTK2N2N7Zow8XGmBm%2FWndqZlnHpEn28igbPUmGUy8nWXu01ClVWV92umwbZYHULt69D9u00wKYXp4nZiIz18zSwPlwChD4AbC6vj2XueyVhcusb1Vb6Mm3vMXJ6aCtXB6klvkzqM%2BkK83z%2BDmWzx1gByYYz359UfW42NaymYs63rJ4xZlgS45isRFBtBYHUcDQx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dDbboIwGADgdyHLroa0iFNMzDJHNThbUmwxu%2BRQGKJAaB2K8d3X%2BRhL%2Fpv%2FnHw3oxYXtS3rShrzm7FHO8Z3xtz4VqqVc8s6xXVciJOo1Sgezp0Ypc3JkudEpl3ZqrKppQUSmL86U2jCJAemk2WxGYt0bKaJa0%2FtHLgTF1ht1%2FyUmeikhcu0a2STq9GnuEbx%2BaisTByFEtkjkW9xW5o%2FelIfX9gAuibQAZ%2BfZKU%2FNpWoF7yK9mG0YSEPVwxFfMfdY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZDdboIwAIXfhSy7GlKQbWJiFrRgdLam2GK2O36K0iIQiooY333Et1hybk5yfpLvrpW8azd5KZU2vWt7b0fZTptqx7at1dQwTlEZHfiJl%2B0o6s8NHyXVyVDnWCVNXrd5VSoDxGb2YX%2BauhlnQLfTNNIjnoz1JHasTysDzrsDjLqpLnnKG2WgPGkqVWXt6JvfwuhctEbKC97y9GnUV1Tn%2BmVIDuMzC5iODgaZry9KDo%2BV5OWMyXAfhGsasMCnXsh2zNluWMEyuDIRP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZDdaoMwAIXfRcauZo1at1ooo20itGsipolll%2F5E60%2B1mLSope8%2B6WMMzs2Bj3Pge2iN6NWhaCqpLR%2FaCR0ZP2pL7azUVS4N4xI1US4uolGzaLx1Ypa0F0PeYpl0xVUVbSMNEJvZ5%2FzL1M04A%2Fo8TSM9EomtJ7FrfVkZcB0XGNeuvRep6KSBi6RrZZup2Y8YwuhWKyMVtVAifRX5HV0L%2FT6R0%2FjKAqargynm%2B5uspse2Es2KV%2BGJhntGOfUYCvmRu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=HY1ba4MwAEb%2Fi4y9aaLVdQplILHg1qRMTUofo8Z6V0zsxdL%2FPhl8LwcO53tqvbirQ9U3UvOe2imIExprnlYqNUoPgI73%2FCI60SuDL%2FMkjGzogJxTmU3VqKqhlwCmZvFhb03dTAuo23nOdS6yjZ6lrrW1Cug6LgTjNFyrXEwS4CqbBjkUyvgRD8bnVoFctEKJ%2FB%2FkFx8r%2Fbqaa3xnQdPV4Trz%2FU026%2BPQiH5HG3aK2HcS0WifBIzG1D0eaEsLFJo4uTwIaiyM6AMvvw6uzxuM2CdBmRPVoU1geMeU3ggq%2FaguEUn8PQ6YTxp6O9IzJAvWXq8%2F
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - a9b2e99b-eb41-4e45-b861-81f1b0747ad5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzE5NTA2Nzc1MzA0ODE4N3w5MENDRTYzOTc3OUU0RTc3QUE2NUQ0QTcwODkyMzg4Mg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-03-11 06:59:34Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNzE5NTA2Nzc1MzA0ODE4N3w5MENDRTYzOTc3OUU0RTc3QUE2NUQ0QTcwODkyMzg4Mg?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": true, "enablePurgeProtection": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000005?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-k[...]
