interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"attributes":{"created":1581595224,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595245},"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key-337yhkbutrw3jywgvzme"},{"attributes":{"created":1581595256,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595256},"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key1"},{"attributes":{"created":1581595263,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595263},"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key2"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/key-337yhkbutrw3jywgvzme?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581595224,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595245},"deletedDate":1581595292,"key":{"e":"AQAB","key_ops":["encrypt","decrypt"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key-337yhkbutrw3jywgvzme/ccd82d42721808beb500c6d162c7986e","kty":"RSA-HSM","n":"uyYKpgVj2tlKHOFnc96kV3TrnM81gfpuYxPuLhVJLeDm9A9dvpaaar0K5-OZcWT-PJFQD2zQOo2fkpV8yZx-QCdDoYxi8eL1h38TzjTFsok-D7jQXGN8a32YPOc99g7A9SVwdszvD-DYcknc5ydJE8RdRDcNIJPdIeXmBlkzePIFgFNAtfmrg5ui5hB9I-UQNwrhc8niT0vSIBUy0dB71C5g3lewgFuU6bowFoRz6QOmhbQwZZYAlWNYuQl1zJEb89Mayqj5V2SuBnkBOMTH1SJbhNLiyt1J1Cye_rKF9LuNknhsabSFE-5KcipcVpWRHGtkUIpB-rpvq5dIhxv1Aw"},"recoveryId":"https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key-337yhkbutrw3jywgvzme","scheduledPurgeDate":1589371292}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581595256,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595256},"deletedDate":1581595294,"key":{"e":"AQAB","key_ops":["import"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key1/65fe69dfdb410069a45cce9707ac2b63","kty":"RSA-HSM","n":"kyaci0cEeDw9a3lUwT9D2kgCT2qQpY4lSFqzRdQlE1ZIwZRPt4yl9vh1y53PjVTNzPgoACQLhXDE1Q5G4F1zqn18V8a2h4Y6d2UqOXY5tUGgylSiBFToFTWML8kjSaiv7VqupUD11ZII3HqNc0hwK2wEvwFRlwFym7ojhgrIAC6bilp6LEyloYS0NiRNIpiG6blgjHiCsi71JKrLw8QG01N8hrfH_Nan5UmUOyLFEdpFyf6dbr7bll4gBt0Zrc7KR-OlQp67kkCPVTmZKkA-lp_Xi2rBTKL6WXvYNB972a02SmnF74ECRcvzInbd7n-x7hgUNTz5pJ70H6JdaPLGNw"},"recoveryId":"https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key1","scheduledPurgeDate":1589371294}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"attributes":{"created":1581595224,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595245},"deletedDate":1581595292,"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key-337yhkbutrw3jywgvzme",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key-337yhkbutrw3jywgvzme?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/eckey1?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key1?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581595333,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595333},"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/3a867d55ac8a48a299b815aa262b8428","kty":"EC-HSM","x":"EwBepOQ-lZYal5xySpLrhheM4riU1RwSJ8naWmFCrd8","y":"mWdlddvyUm3iZRp_hhIRh3yW0CDTenWCl-vO8AvafnI"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581595333,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595333},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/3a867d55ac8a48a299b815aa262b8428","kty":"EC-HSM","x":"EwBepOQ-lZYal5xySpLrhheM4riU1RwSJ8naWmFCrd8","y":"mWdlddvyUm3iZRp_hhIRh3yW0CDTenWCl-vO8AvafnI"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581595347,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595347},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/d2b1c9afde5a01a424a3de72375ffa50","kty":"RSA-HSM","n":"qshfz4v_g2Mm3P9fgJiOSG_pT0334UkDW91mfnd0ID28jve6tFYbggEyrZkX3NRVtTZLj9mhaNUteY0pVSgze_P7N_cEYb2jcBawvEg4hHfE6igxYJ3tTkHi5CFtz7VvrNmL-rnQKfXnuaLYgQLe9q3tuuRQlJxE_sx-9EMqb3Dq7KYf3S5pSZp6ExCF9wiaNYcLsSZCvpnWUedSr1L2JAsSs81XjgDWLPJ3BQFbKbfIhkJql7j785yH4i_gzDAK7MfNuLbO29iEZndO0Q9XWEHTaAY6bymX0tcDhiCBS53kuOtBqsxkoFjwl4GZ7uFmeC5Wp57yS8Lx-rUlmdWkLQ"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581595347,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595347},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/d2b1c9afde5a01a424a3de72375ffa50","kty":"RSA-HSM","n":"qshfz4v_g2Mm3P9fgJiOSG_pT0334UkDW91mfnd0ID28jve6tFYbggEyrZkX3NRVtTZLj9mhaNUteY0pVSgze_P7N_cEYb2jcBawvEg4hHfE6igxYJ3tTkHi5CFtz7VvrNmL-rnQKfXnuaLYgQLe9q3tuuRQlJxE_sx-9EMqb3Dq7KYf3S5pSZp6ExCF9wiaNYcLsSZCvpnWUedSr1L2JAsSs81XjgDWLPJ3BQFbKbfIhkJql7j785yH4i_gzDAK7MfNuLbO29iEZndO0Q9XWEHTaAY6bymX0tcDhiCBS53kuOtBqsxkoFjwl4GZ7uFmeC5Wp57yS8Lx-rUlmdWkLQ"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-4096-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581595361,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581595361},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-4096-hsm-file/8b97b248018b08150dba7f34b347b871","kty":"RSA-HSM","n":"3X0jMpsPbTQfwmYIGKW6aqmJPhGFAJYkGUGO3iZJqFOmC7ZAXvQIg6DM2kMDSi3lI85R-TzFm5Oj8sIamn13DL__NxLUQDGFcAP2Gk3sLu4V3bts3FhDcOQeFRv03y87NG9ufgl_Jr7KHApsRFN5TLz_bIx9ThKf2IzCaWjdul69q7tEZGQUqkRRykEkF5L-y28gS-tACl5s4MlDKUlFwUSQLzVNWlEravF5msoASnFCZpG0ENnTe4CK4tFNmxUj3ejblpBCqd0bqMCbP1kXxgfAEitOT3MmERwgDZz2f83jb7GFrI9LE6DDlzJ5dhPMwXmj_GQGvxvnSeRvVnrMXuLsEPQdMAJLkx6T8xST2VRew1cptX1n6CEy89bxaqIYCzni1cRgykOdJ5Yt6iG-oJc_LHTngY4vbny8v3ymU8J_R34lrURfGWu6UObLdtQkwcU-uw5idctXkW_B98gn9Yq-xufaBY3JYzDBMUkdenVxnZXiUvMe-9WK5WOvdJ6A2ZY9Xd9F04-Ryl1cOie5VuKnSnBQjGyJm7SmNXBy0DvH1XqBCGkea5nnFDGsDH5rqRKAUHo5qyUEP7CUuLw0suqh7vmzzAnTpWnMvuhF-mfSsJhXXVEAQ949kF5u9c8wRng50F2EIrQp89L8z9BJKGkcZN1UJrBXkg57cF0tUmU"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
