interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2359970'
      ocp-aad-diagnostics-server-name:
      - zvwu3VMocUBIMruC0KJDTTeZTxwwXXMwR9v6B15ODBw=
      ocp-aad-session-key:
      - bqH9QCQmtXXQb1WCnSylrCkw4LNlQj7bnX-Am_f66Ujq8igUKnE73EbUs-5DaQA7DEWwuv1BJQGbPVfGpqHP7utvIKVzEUTG_Q8ku41MQurE4MRc93jUxk28BHVLZfnS.Nm_h0R7NKIGt5V1j-YCgahaCaSqBCq3cXxFUb_Madyw
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/af7e80514b4e420d8e485c2a55439603","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"80HurULtvDLDC1LesfZnZdA0txR-3zQmky6xG2kMmt29xAf3ZFp__kFVrBiBjRoHBjfc8zweq781Y6_1nw2u5oYJizxTj7GWXq_-8Ji5qhAalPiQO1hwSz4cpTbLZ2YaCQ9yy5-UcE67p-WzlMW9SWruyfPt5MgXRbRCzI8KeOIH3Lk_6r7aT4e1PFnl2fLh-e77vz0fWAti4PxD-2TxNI-qzvDcAhp1HnIyUKlSk05PFKuluK5BcfYsTZYZbh_B-cmar-qbpuKdH07wvDft7ZpT5WrzUzlWOUNnZ5RFpISZOJcCV16qJgFB_8O97jzTw24oQKMPnaYxoTmn_RaXGQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594279282,"updated":1594279282,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["delete", "create", "get", "backup", "import", "recover", "decrypt", "update",
      "encrypt", "list", "restore"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "MTIzNDU2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/af7e80514b4e420d8e485c2a55439603","value":"ea8e84pZ-19x2yuv-8DzaaHase4qA4Bry6a_bkEAyKqkSkD0pRecPz-pXOqbDWcOdII4MlLfv4NvWgKkpiQKb_xTXWZTUuaYg0olc6VA1cBbpnk4bajDOXwEv_8bfNbqFGqIOJD_TAQ16M67N5Fn-3hQNFMkyRiWn-KucQ8aSK9ZzntKFKqU_xJvdJS74mQoP3fkuEjU42JDkj99dX4JTydo1e3R511_Ovtf9rTPBiUq_66K3TDblX1Dd8zBA_hXzTxh0I_u7FJjh1_Ilf6v6kGtOW9PsVVb8iL6qTbLSg-KdIJe8nZieLfUBmzsmF6eDEXOslW7uZbLQTW2xlizgQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "ea8e84pZ-19x2yuv-8DzaaHase4qA4Bry6a_bkEAyKqkSkD0pRecPz-pXOqbDWcOdII4MlLfv4NvWgKkpiQKb_xTXWZTUuaYg0olc6VA1cBbpnk4bajDOXwEv_8bfNbqFGqIOJD_TAQ16M67N5Fn-3hQNFMkyRiWn-KucQ8aSK9ZzntKFKqU_xJvdJS74mQoP3fkuEjU42JDkj99dX4JTydo1e3R511_Ovtf9rTPBiUq_66K3TDblX1Dd8zBA_hXzTxh0I_u7FJjh1_Ilf6v6kGtOW9PsVVb8iL6qTbLSg-KdIJe8nZieLfUBmzsmF6eDEXOslW7uZbLQTW2xlizgQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/af7e80514b4e420d8e485c2a55439603","value":"MTIzNDU2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1594279282,"updated":1594279282,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1594279282,"updated":1594279282,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e37aade60d694a56a3f21df61b108255","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"vJ6WnWQAe-Mbhi8gJ1IrRz83Pcv0MZmqvNbGywiO_-Mq1aSBVofXCBt1LQ9v7wTKr_HWSkKMOl3LVH8QIlyUzZ6VqP66OPwzrB8DjvGB1m7ddLJt9H2WJ0z6pUnRxrNiziSEjrPMMxqe-Nv7UbEzQfzwPbVlEUHQSHjan5lE8z-h_Pag_kLaGikVdm-q-gRwq4-bPy0_Kro0kLN7Nqa4GOEIvmEKsGiK4kLEdYNJsyfAzPyaK6Qi2LaEn0pt6sq-X3hMvxXABF8v-sbfacNSx94e-lAVoOeQqwh-DpqWIYcqDSILt9DYgagDlPSGpKPC94NIDzEjX8lEOLNrEu0AfQ","e":"AQAB"},"attributes":{"enabled":false,"created":1594279293,"updated":1594279293,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/af7e80514b4e420d8e485c2a55439603","attributes":{"enabled":true,"created":1594279282,"updated":1594279282,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e37aade60d694a56a3f21df61b108255","attributes":{"enabled":false,"created":1594279293,"updated":1594279293,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/af7e80514b4e420d8e485c2a55439603","attributes":{"enabled":true,"created":1594279282,"updated":1594279282,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e37aade60d694a56a3f21df61b108255","attributes":{"enabled":false,"created":1594279293,"updated":1594279293,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e37aade60d694a56a3f21df61b108255","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"vJ6WnWQAe-Mbhi8gJ1IrRz83Pcv0MZmqvNbGywiO_-Mq1aSBVofXCBt1LQ9v7wTKr_HWSkKMOl3LVH8QIlyUzZ6VqP66OPwzrB8DjvGB1m7ddLJt9H2WJ0z6pUnRxrNiziSEjrPMMxqe-Nv7UbEzQfzwPbVlEUHQSHjan5lE8z-h_Pag_kLaGikVdm-q-gRwq4-bPy0_Kro0kLN7Nqa4GOEIvmEKsGiK4kLEdYNJsyfAzPyaK6Qi2LaEn0pt6sq-X3hMvxXABF8v-sbfacNSx94e-lAVoOeQqwh-DpqWIYcqDSILt9DYgagDlPSGpKPC94NIDzEjX8lEOLNrEu0AfQ","e":"AQAB"},"attributes":{"enabled":false,"created":1594279293,"updated":1594279293,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/af7e80514b4e420d8e485c2a55439603?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/af7e80514b4e420d8e485c2a55439603","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"80HurULtvDLDC1LesfZnZdA0txR-3zQmky6xG2kMmt29xAf3ZFp__kFVrBiBjRoHBjfc8zweq781Y6_1nw2u5oYJizxTj7GWXq_-8Ji5qhAalPiQO1hwSz4cpTbLZ2YaCQ9yy5-UcE67p-WzlMW9SWruyfPt5MgXRbRCzI8KeOIH3Lk_6r7aT4e1PFnl2fLh-e77vz0fWAti4PxD-2TxNI-qzvDcAhp1HnIyUKlSk05PFKuluK5BcfYsTZYZbh_B-cmar-qbpuKdH07wvDft7ZpT5WrzUzlWOUNnZ5RFpISZOJcCV16qJgFB_8O97jzTw24oQKMPnaYxoTmn_RaXGQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594279282,"updated":1594279282,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLnBlTkl0b1hFN01acWNVVDd5dkFkTXM0R0NzOWNRRHhX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/e37aade60d694a56a3f21df61b108255","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"vJ6WnWQAe-Mbhi8gJ1IrRz83Pcv0MZmqvNbGywiO_-Mq1aSBVofXCBt1LQ9v7wTKr_HWSkKMOl3LVH8QIlyUzZ6VqP66OPwzrB8DjvGB1m7ddLJt9H2WJ0z6pUnRxrNiziSEjrPMMxqe-Nv7UbEzQfzwPbVlEUHQSHjan5lE8z-h_Pag_kLaGikVdm-q-gRwq4-bPy0_Kro0kLN7Nqa4GOEIvmEKsGiK4kLEdYNJsyfAzPyaK6Qi2LaEn0pt6sq-X3hMvxXABF8v-sbfacNSx94e-lAVoOeQqwh-DpqWIYcqDSILt9DYgagDlPSGpKPC94NIDzEjX8lEOLNrEu0AfQ","e":"AQAB"},"attributes":{"enabled":true,"created":1594279293,"updated":1594279304,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLnBlTkl0b1hFN01acWNVVDd5dkFkTXM0R0NzOWNRRHhXZ3BSMTF5UHpPT1J4a3VGM2RUYk9XTjJDbHhhVHVHSm5NSklwMVMtb0JqZXV0ME1PUDcxNHJOOEdTUmF4TUlwV3pSTXMxT0ZlekNyYnlFZUhrRTkySzNPRWU2Wk1jel9IRUlNeDY3Wk4xTXA1eHgxV21iT1pEeFpFZDByR0ZQVEx3QnBlaHZDOVVDYl9ieXNkeXMzQXd2d0QyZjdLbkZaTzBUbzB[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/1369e38598264a2db4794e90fab00f54","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1594279315,"updated":1594279315,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/f7e10ee7a89c4c7f9d791bc48bd8d384","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"5_dDftaw89zeIx1l27gFg8ssrNe47hPIJtN5WV5PBYc","y":"-Yshx9leSYTfU9gSaxBkakPKlIf0xZdEFOq0wGLWTVE"},"attributes":{"enabled":true,"created":1594279321,"updated":1594279321,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/6b95555cdea448d2a4970d92dd48bd23","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"3lqEMfKuT5tRV9AIgfHwWvHHy1iKiqJ8-j4d11n0wFk","y":"N_RcnV5b5C-EJs2YM_ZIai5n1agC0k8yxlZsgTlJO90"},"attributes":{"enabled":true,"created":1594279323,"updated":1594279323,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/e0b8c8807d1c4859ab42ea48ef2b911d","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1594279327,"updated":1594279327,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/27b3d46addf54c509a5a53de36a9715d","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1594279328,"updated":1594279328,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/97a71d6282394aa2a6cde2397237b5a1","kty":"RSA-HSM","key_ops":["import"],"n":"xi1ff2Mj9AbtaT8HzdyxlBgRToOJX86p5rw9c-JhxVaE-FreL7z4By8AXfUM1GfiFVe0T_VE0Mqeibtn5Y5F6qnaZBBmxVSOuyAWW1tiFHU8G4-C0g7cDsah1tUvAkP8M69putopAlEvkZMQSphwOWypAzrEIWUgonhYyMebTruFRw-s7Jy10_Spdl69jIAKOBk_6xb8eyIeooyApXuLBufVU1R2zzwSlwgOerN2Nmez2ob8jdiWG3CoirixtRHiyGR3n4gYsHg3ph8dkWG_ehqahnytse_uSEb6WtIliCQ-qrN9ebjU0AmXOMUfSywWKNXAhG2PRVPRCOwAT-s1aw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1594452171,"created":1594279371,"updated":1594279371,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/f74682b888c247169f662e5105997edf","kty":"RSA-HSM","key_ops":["import"],"n":"i3FuKcY_z4N2Ljt3Hy7CKqndVyC3ube7BUhsX6QEGEKYB4Zy6R4vO2fN2ISutbJDM_0ENueq45AAVC8Do5NCeuKo1wN5BuKAYI_UpIxaOzCeGeQCN5-DMdOEhxbPJTm273Tgj4MR4i2Kohli63XnRlSqOzSMvghrD4pym3DrlLfAixN5VhgWZCiNOAhm4hsOzzU0b-b2G2M13M63658vJhaJpZe5eQ2XvWXQ9CStYxHZCAFONfN7dW_LJwmf6t6ppDax7l99Vg2BVMqcFFlWtBrYiW-W7oI8XRC3ZQ27d-meUebGEPi6XQaWJIg0vPvyzfLDCVKmdfi3BcLMyNs6NS-IVrC13gXjD16h3tJkq7pWROygW-KX4naKvWVJOGi4Ec0eSTRlj9fklF9ykpkFY2_vhr_w9oiSvM4_5nCrKKw61KHI8eGYCBABXHWf1ECgdslhgKwElKU8dp6BsGYgbspvDKjGhBsCDioJVXFKRcElGNhF2B76ft_t7LJYhHxOOq121qVGlTXlu9fRnJ5Ie0ncYum83D4pcy88yOm4cTM7LSFuihYJya-EjAxDqFj8Wnw8mQYM232vknawk2Jz3FCouOAwV0Cx5OyvHUXd9EzyeLry_cs0IUSysDHsEBBNkoQucEbVeklcIFWLi2h8MzzV6gcInsMkk4diUt6T6XU","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1594452179,"created":1594279379,"updated":1594279379,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
