interactions:
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/10.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
=======
=======
>>>>>>> Update tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-network/9.0.0 Azure-SDK-For-Python AZURECLI/2.2.0
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-network/9.0.0
        Azure-SDK-For-Python AZURECLI/2.2.0
>>>>>>> Test
<<<<<<< HEAD
>>>>>>> Test
=======
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-network/9.0.0 Azure-SDK-For-Python AZURECLI/2.2.0
>>>>>>> Update tests
>>>>>>> Update tests
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_network_rule000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000008?api-version=2020-04-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"cli-test-vnet-000008\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_network_rule000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000008\",\r\n
        \ \"etag\": \"W/\\\"941faad0-9643-43c2-adb8-020a5e59a7c6\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
<<<<<<< HEAD
        \   \"resourceGuid\": \"50141bb5-5091-471f-a407-0b40ad15c46a\",\r\n    \"addressSpace\":
=======
        \   \"resourceGuid\": \"835b2af7-f477-4dc2-afbb-15c101aa1c33\",\r\n    \"addressSpace\":
=======
      string: "{\r\n  \"name\": \"cli-test-vnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_network_rule000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000003\",\r\n
        \ \"etag\": \"W/\\\"2b711f01-8261-4154-a1d4-332ea3250070\\\"\"[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/10.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/692938fe-293c-4150-b3da-0d641602b84c?api-version=2020-04-01
=======
=======
>>>>>>> Update tests
<<<<<<< HEAD[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_network_rule000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000008",
      "location": "eastus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/21", "serviceEndpoints": [{"service": "Microsoft.KeyVault"}]},
      "name": "cli-test-subnet-000011"}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/10.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
=======
=======
>>>>>>> Update tests
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-network/9.0.0 Azure-SDK-For-Python AZURECLI/2.2.0
=======
      - python/3[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/466410af-8f63-4816-9215-2698de9bdcba?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/466410af-8f63-4816-9215-2698de9bdcba?api-version=2019-11-01
>>>>>>> data-plane
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 15 May 2020 10:17:20 GMT
=======
=======
>>>>>>> All tests passed
=======
>>>>>>> updated
<<<<<<< HEAD
      - Wed, 25 Mar 2020 09:34:36 GMT
=======
      - Thu, 19 Mar 2020 09:34:13 GMT
>>>>>>> Update tests
<<<<<<< HEAD
>>>>>>> Update tests
=======
=======
      - Sun, 22 Mar 2020 05:30:56 GMT
>>>>>>> All tests passed
<<<<<<< HEAD
>>>>>>> All tests passed
=======
=======
      - Wed, 25 Mar 2020 06:31:12 GMT
>>>>>>> updated
>>>>>>> updated
=======
      - Thu, 02 Apr 2020 03:49:42 GMT
>>>>>>> data-plane
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - f6bd1a88-3c16-432d-8a54-6c7168299bc2
=======
=======
>>>>>>> All tests passed
=======
>>>>>>> updated
<<<<<<< HEAD
      - 6545769a-724a-4b86-8de1-ad705c964f8f
=======
      - 5ca16c19-0711-46d0-9a49-f87ceabf3f96
>>>>>>> Update tests
<<<<<<< HEAD
>>>>>>> Update tests
=======
=======
      - 1abef1f3-9112-4ff0-b912-c56abf76d838
>>>>>>> All tests passed
<<<<<<< HEAD
>>>>>>> All tests passed
=======
=======
      - bd979ccc-03bb-4bf3-926e-58b093cd7da7
>>>>>>> updated
>>>>>>> updated
=======
      - 6c017da8-d7e5-4013-95d8-cc50c97023e2
>>>>>>> data-plane
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/10.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_network_rule000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000008/subnets/cli-test-subnet-000011?api-ver[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-graphrbac/0.60.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-graphrbac/0.60.0 Azure-SDK-For-Python
>>>>>>> data-plane
      accept-language:
      - en-US
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
<<<<<<< HEAD
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9a0f0a3f-b307-4ae3-bb6a-27a65244de7e","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-07-10T06:39:27Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Fan
        Qiu","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"fanqiu@microsoft.com","mailNickname":"fanqiu_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["fanqiu@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:fanqiu@microsoft.com"],"refreshTokensValidFromDateTime":"2019-07-10T06:39:26Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9a0f0a3f-b307-4ae3-bb6a-27a65244de7e/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"fanqiu_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-07-10T06:40:50Z","userType":"Guest"}'
=======
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creatio[...]
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: 'b''{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9a0f0a3f-b307-4ae3-bb6a-27a65244de7e",
=======
    body: 'b''{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
>>>>>>> data-plane
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
<<<<<<< HEAD
<<<<<<< HEAD
      "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [{"value": "1.2.3.4/32"}, {"value": "2.3.4.0/24"}],
      "virtualNetworkRules": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_network_rule000001/providers/microsoft.network/virtualnetworks/cli-test-vnet-000008/subnets/cli-test-subnet-000011"}]}}}'''
=======
      "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow", "ipRules": [{"value":
      "1.2.3.4/32"}, {"value": "2.3.4.0/24"}], "virtualNetworkRules": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_network_rule000001/providers/microsoft.network/virtualnetworks/cli-test-vnet-000008/subnets/cli-test-subnet-000011"}]}}}'''
=======
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false}}'
>>>>>>> All tests passed
>>>>>>> All tests passed
=======
      "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow", "ipRules": [{"value":
      "1.2.3.4/32"}, {"value": "2.3.4.0/24"}], "virtualNetworkRules": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_network_rule000001/providers/microsoft.network/virtualnetworks/cli-test-vnet-000008/subnets/cli-test-subnet-000011"}]}}}'''
>>>>>>> data-plane
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - '1194'
=======
<<<<<<< HEAD
      - '1228'
=======
      - '840'
>>>>>>> All tests passed
>>>>>>> All tests passed
      Content-Type:
      - application/json; charset=utf-8
      ParameterSetName:
      - -n -l -g --network-acls
      User-Agent:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-keyvault/2.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.2.0
>>>>>>> updated
      accept-language:
      - en-US
=======
      - azsdk-python-azure-mgmt-keyvault/3.0.0b1 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> upd[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - application/json
=======
      - '*/*'
>>>>>>> data-plane
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - keyvault create
      Connection:
      - keep-alive
      ParameterSetName:
      - -n -l -g --network-acls
      User-Agent:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-keyvault/2.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
=======
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-keyvault/2.2.0 Azure-SDK-For-Python AZURECLI/2.2.0
=======
      - azsdk-python-azure-mgmt-keyvault/3.0.0b1[...]
[...]
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: 'b''{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9a0f0a3f-b307-4ae3-bb6a-27a65244de7e",
=======
    body: 'b''{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies[...]
[...]
- request:
<<<<<<< HEAD
<<<<<<< HEAD
    body: '{"location": "eastus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
=======
    body: 'b''{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-nr-000002.vault.azure.net/", "enabledForDeployment": false,
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization":
      false, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Deny", "ipRules":
      [], "virtualNetworkRules": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_network_rule000001/providers/microsoft.network/virtualnetworks/cli-test-vnet-000003/subnets/cli-test-subnet-000004"}]}}}'''
>>>>>>> All tests passed
=======
    body: '{"location":[...]
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-nr-000002.vault.azure.net/", "enabledForDeployment": false,
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization":
      false, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Deny", "ipRules":
      [], "virtualNetworkRules": []}}}'
    headers:
<<<<<<< HEAD
=======
      CommandName:
      - keyvault network-rule remove
>>>>>>> data-plane
      Connection:
      - keep-alive
      Content-Length:
      - '1059'
      Content-Type:
      - application/json
<<<<<<< HEAD
      User-Agent:
      - azsdk-python-azure-mgmt-keyvault/3.0.0b1 Python/3.7.6 (Windows-10-10.0.18362-SP0)
=======
      ParameterSetName:
      - --subnet --name --resource-group
      User-Agent:
      - AZURECLI/2.3.1 azsdk-python-azure-mgmt-keyvault/3.0.0b1 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> data-plane
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000000000[...]
[...]
