interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cli-test-kv-se-sd-000002%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002","name":"cli-test-kv-se-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002","name":"cli-test-kv-se-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-09-08T03:26:16.051Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-08T03:26:16.051Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"7b31ddc4-9101-4ef0-a387-79ce181cacdb","accessPolicies":[],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":true,"vaultUri":"https://cli-test-kv-se-sd-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/7b31ddc4-9101-4ef0-a387-79ce181cacdb",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Forbidden","message":"Caller is not authorized to
        perform action on resource.\r\nIf role assignments, deny assignments or role
        definitions were changed recently, please observe propagation time.\r\nCaller:
        appid=04b07795-8ddb-461a-bbee-02f9e1bf7b46;oid=cfd63e61-7aec-4d54-ba2c-394c6d10df25;iss=https://sts.windows.net/7b31ddc4-9101-4ef0-a387-79ce181cacdb/\r\nAction:
        ''Microsoft.KeyVault/vaults/secrets/setSecret/action''\r\nResource: ''/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_secret_soft_delete000001/providers/microsoft.keyvault/vaults/cli-test-kv-se-sd-000002/secrets/secret1''\r\nAssignment:
        (not found)\r\nDenyAssignmentId: null\r\nDecisionReason: null \r\nVault: cli-test-kv-se-sd-000002;location=eastus\r\n","innererror":{"code":"ForbiddenByRbac"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 403
      message: Forbidden
[...]
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Forbidden","message":"Caller is not authorized to
        perform action on resource.\r\nIf role assignments, deny assignments or role
        definitions were changed recently, please observe propagation time.\r\nCaller:
        appid=04b07795-8ddb-461a-bbee-02f9e1bf7b46;oid=cfd63e61-7aec-4d54-ba2c-394c6d10df25;iss=https://sts.windows.net/7b31ddc4-9101-4ef0-a387-79ce181cacdb/\r\nAction:
        ''Microsoft.KeyVault/vaults/secrets/setSecret/action''\r\nResource: ''/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_secret_soft_delete000001/providers/microsoft.keyvault/vaults/cli-test-kv-se-sd-000002/secrets/secret1''\r\nAssignment:
        (not found)\r\nDenyAssignmentId: null\r\nDecisionReason: null \r\nVault: cli-test-kv-se-sd-000002;location=eastus\r\n","innererror":{"code":"ForbiddenByRbac"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 403
      message: Forbidden
version: 1
