interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2635071'
      ocp-aad-diagnostics-server-name:
      - hYcM8xGo3UDnolVC93y3QsXQUHmcq33QIFHDssXymn4=
      ocp-aad-session-key:
      - 4AQULtYifF1l07Ij20tgYqt6PxKbm3x6rSXKhwkQelzd_GAySvK3cnBYg0qOIOZdWSgIFuCdpHMYLfsWcz9P-YTTqoF5osduhKz0Fi0N_WRnBaZN0yCefqushWjDH4AS.3Zawxku9iF6Ho_1n-jZ5BjrGkYgeEalXlhFN-EXvRfs
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/9af9c9ec22104924ab576ce13ba9b082","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zy-aVIu9QcNzif2SWbCYEPBaEF8LbXQVIdiqWOsNuQrbTEscUGtDbahu8ZSTe2mGVBuadQ7IuIVfNxkkv6-iv75s8Ke43SK9NN32TmixqErRc-6I0roU05jxInr1_xCoB34Tzcha7G-jXCkJCBjF_sKSTJFpIbfd-nhUblIJwQD2dL8yNJSy-6r7ER-XbTJE9HyycrHwjrqYFn5a_y6pzUlcqBK6-vM-5QZsKH51-xe_4mru4lmSvs-3WXG5GBuyen_fDwScPxnh2VBMXHUh_t-rg0RFgwv7Kn9NPeKIOvr-5Q1L8bSKa7bIipfZCspVHjY5T3-KuV4EDn81r8xeXQ","e":"AQAB"},"attributes":{"enabled":true,"created":1597981975,"updated":1597981975,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim_pl_test_rg/providers/Microsoft.KeyVault/vaults/bimkv-nr-test","name":"bimkv-nr-test","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["list", "update", "create", "recover", "backup", "restore", "get", "import",
      "decrypt", "encrypt", "delete"], "secrets": ["get", "list", "set", "delete",
      [...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/9af9c9ec22104924ab576ce13ba9b082","value":"dN9ahXuRvhumKLEMWDXLtpd_Q0aenGlZIj4K86R432enipeiFK0f9eigmUi0D3lAi0aHwAgyxsFxpfat44ZTFfv-kmZL9dhDq229RGw2B14FmNWUOdcAx3B1ICTpC0_dvbRoI52-IU9OZdSt1n9-oCcb9Q4dDcxC97K7EiQbOWueeaiVMdtK5Gaw_LqwlOOf9CSXtoBrDWbL-M-y_HxNemdcDNgiYnWRkbAiLZPoopoyJKV1msDpycGokZxfx4IYEUKtIiF-lifLQcdyiErG20-An6q13ErJupnDD6xJBPGIdxg4dWq3sD7u-3G0IvyBSSPIiPoObFqvmeGW8Ii1Mg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "dN9ahXuRvhumKLEMWDXLtpd_Q0aenGlZIj4K86R432enipeiFK0f9eigmUi0D3lAi0aHwAgyxsFxpfat44ZTFfv-kmZL9dhDq229RGw2B14FmNWUOdcAx3B1ICTpC0_dvbRoI52-IU9OZdSt1n9-oCcb9Q4dDcxC97K7EiQbOWueeaiVMdtK5Gaw_LqwlOOf9CSXtoBrDWbL-M-y_HxNemdcDNgiYnWRkbAiLZPoopoyJKV1msDpycGokZxfx4IYEUKtIiF-lifLQcdyiErG20-An6q13ErJupnDD6xJBPGIdxg4dWq3sD7u-3G0IvyBSSPIiPoObFqvmeGW8Ii1Mg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/9af9c9ec22104924ab576ce13ba9b082","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1597981975,"updated":1597981975,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1597981975,"updated":1597981975,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f824b18e22945b9b5c0f3cfc8c16081","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"rGUN806nr3AcEfkSNrV4P0J0PYfqLfN1xQIwdXEgLyG92OQtpWbWbLepOe-C6xRdZDB9yA6qTmxmYNdUe-YZwdIhX3zKJLij2816DffDeLBBg_UcxoV71jJVmkabkFW9TYf6Gge8jZ6m5CMRAsDbM3Vl4TVaVa4HowiubJ7REbXiVH7KBsSLSuuOutG2HuI1bpltp8IjAzBZIEMe9JoAyK5E-s3jk4ezT0R2D6tigAzj8PiVhhrJ8Tg-mZQRi-AUyGRIqExPT0Obuo4wvmdeg1njsZC_n-tjLy2YXWEjrvv4Mf2G_QiZLd-gUbbP8w0kE34euwFr0oqULeCAZIb5Bw","e":"AQAB"},"attributes":{"enabled":false,"created":1597981989,"updated":1597981989,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f824b18e22945b9b5c0f3cfc8c16081","attributes":{"enabled":false,"created":1597981989,"updated":1597981989,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/9af9c9ec22104924ab576ce13ba9b082","attributes":{"enabled":true,"created":1597981975,"updated":1597981975,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f824b18e22945b9b5c0f3cfc8c16081","attributes":{"enabled":false,"created":1597981989,"updated":1597981989,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/9af9c9ec22104924ab576ce13ba9b082","attributes":{"enabled":true,"created":1597981975,"updated":1597981975,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f824b18e22945b9b5c0f3cfc8c16081","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"rGUN806nr3AcEfkSNrV4P0J0PYfqLfN1xQIwdXEgLyG92OQtpWbWbLepOe-C6xRdZDB9yA6qTmxmYNdUe-YZwdIhX3zKJLij2816DffDeLBBg_UcxoV71jJVmkabkFW9TYf6Gge8jZ6m5CMRAsDbM3Vl4TVaVa4HowiubJ7REbXiVH7KBsSLSuuOutG2HuI1bpltp8IjAzBZIEMe9JoAyK5E-s3jk4ezT0R2D6tigAzj8PiVhhrJ8Tg-mZQRi-AUyGRIqExPT0Obuo4wvmdeg1njsZC_n-tjLy2YXWEjrvv4Mf2G_QiZLd-gUbbP8w0kE34euwFr0oqULeCAZIb5Bw","e":"AQAB"},"attributes":{"enabled":false,"created":1597981989,"updated":1597981989,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/9af9c9ec22104924ab576ce13ba9b082?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/9af9c9ec22104924ab576ce13ba9b082","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zy-aVIu9QcNzif2SWbCYEPBaEF8LbXQVIdiqWOsNuQrbTEscUGtDbahu8ZSTe2mGVBuadQ7IuIVfNxkkv6-iv75s8Ke43SK9NN32TmixqErRc-6I0roU05jxInr1_xCoB34Tzcha7G-jXCkJCBjF_sKSTJFpIbfd-nhUblIJwQD2dL8yNJSy-6r7ER-XbTJE9HyycrHwjrqYFn5a_y6pzUlcqBK6-vM-5QZsKH51-xe_4mru4lmSvs-3WXG5GBuyen_fDwScPxnh2VBMXHUh_t-rg0RFgwv7Kn9NPeKIOvr-5Q1L8bSKa7bIipfZCspVHjY5T3-KuV4EDn81r8xeXQ","e":"AQAB"},"attributes":{"enabled":true,"created":1597981975,"updated":1597981975,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkVYR2ZWcTkwbHBNbXRJandWRVNZb1BfNDUya3p2Z0JZ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3f824b18e22945b9b5c0f3cfc8c16081","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"rGUN806nr3AcEfkSNrV4P0J0PYfqLfN1xQIwdXEgLyG92OQtpWbWbLepOe-C6xRdZDB9yA6qTmxmYNdUe-YZwdIhX3zKJLij2816DffDeLBBg_UcxoV71jJVmkabkFW9TYf6Gge8jZ6m5CMRAsDbM3Vl4TVaVa4HowiubJ7REbXiVH7KBsSLSuuOutG2HuI1bpltp8IjAzBZIEMe9JoAyK5E-s3jk4ezT0R2D6tigAzj8PiVhhrJ8Tg-mZQRi-AUyGRIqExPT0Obuo4wvmdeg1njsZC_n-tjLy2YXWEjrvv4Mf2G_QiZLd-gUbbP8w0kE34euwFr0oqULeCAZIb5Bw","e":"AQAB"},"attributes":{"enabled":true,"created":1597981989,"updated":1597982001,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkVYR2ZWcTkwbHBNbXRJandWRVNZb1BfNDUya3p2Z0JZMmRjSWZERTdqd0N6aVQ1NnViSWI5c3F1M1VlbTRIMENzS1FMZGdmbndpS1lLcXI1Wm80eENNdFg4TkhFZmI3VENrNF9Xdi1fdXhPRnhOTDN1clF4V2RXNFVoMzNvQzlBRVR5V2Y1TDlpQXZaTEo0Z1dYRjg0WTdGM0paVzVuS1hBbFFxT1V2Z2FHV0RNQ3laLU1GSGJXNlZ2dU5EWHEwZldHTFl[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/400d656b63f647ae872f8a5d09d54250","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1597982011,"updated":1597982011,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/8d14f5e598d0470c84db58bbae777af0","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"FajzrvIyRnGTzVw0U1uLlDt38FfklhPPQnq6he7APDY","y":"t4ke-juiwt2NsgiqyoDCOXWn28s7d85C0Xh66kZQ0LY"},"attributes":{"enabled":true,"created":1597982016,"updated":1597982016,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/e8a084ce49ad44898a3e743a0695655a","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"t9YgD4EO00zUi4N8m2IOcm6BBjL2tWMW8AUdebl10So","y":"x1Um0h5JtMwyf2PoPdfkNIIGb13WIYco6cnSV8xza10"},"attributes":{"enabled":true,"created":1597982017,"updated":1597982017,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/528b8402dba5410fbba07ff58d420674","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1597982020,"updated":1597982020,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/7357699c2da84e96b5c833599fdadcc3","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1597982021,"updated":1597982021,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/3d7dd9cc12ad4a10876cb61cc4768434","kty":"RSA-HSM","key_ops":["import"],"n":"xLO_ni-MMvmQxV7xeQB-8evT6CSC-VD8Bo6_nYetRI03pZPpVQznsLIFq9D4UUXORjccP2UqBSOdNDd3OoKE1TBb4SH31DKkK3hhMgOoNsvRrcgzRZLoNzkTcfyhWOYjsYbmbeDsa15YdTEwfcCOGae8XU28fuhfqtR0SyKg8LwbqK1kkUGggKggbUfwu9wnFFb9AIdfjDUKmLY605CJ5VO-rjpxKfoBOc4zm-i13dISG1Cz5r_6AkBjeDKLqz1CeCLiPoboDMuxTWJ6w4413h8vayniItdJjJugtxj2Pj_ywHqGJMwtGEj2KSK0ZHADbbWiuqSovUH_BBGKOFIhaw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1598154861,"created":1597982061,"updated":1597982061,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/afd0310bbcc04b5b8b5b34ce4aa23d7c","kty":"RSA-HSM","key_ops":["import"],"n":"wBHaiIPwhNo-uEtaGXOBS9H6VORx2WAGdPq2eL8r7lR2YTp6ncnniGu6O-PSBvm9c9kee43Opb8y8N8QsXYfUoO7GgBcMeUNVQOLyasjGGpW_XwQZ4cj2S565jgLoneysIahRjS5EgFZDxqIiG5Er6kvK9K28SFWwyy-rhoPubkFy_O71EmUkQJaa3xY1RCiPLUATrCRJ_ThX4tZaKVCfS0CpQTYcDZuGOJ2rbo85PGipY8_VK-3wGnFXDistl85g3hebmD8e8uV7rSPpI0oQpEoM7BXCmJCmbk2Qm-O-hx6EkwVZvhLOjVJj2VgFSSqFNiBD26eK8F5yoK33QRLm9nWbBYZtPoxlRJLbQ5prxudL3Gb51Zj87WrFhsGHessIwHZoMkA1e9f2Om_xrhzq4iP-ydiblBuHzGNXB0jW7UwFCFupD0CpduAg0yzXquSeE5SYwcj9aD-Sf-jhBT-Ziolu2aNIJLzFpHc6aBLlV_GCPUiO1nNht7zaxGrmLB4ubkFL5bw-Jq8ow_fZaBexPBPOGbPfzRoTcI-jjCpbJ5afuK5GSUVwPdiWoPa9GNJovaI5Y5ZkWqGa2Er8E8T2q0v3J7fik8B754Idyrmw8NpaQEuAtgSVpOJ9Qf1Rh2BMmdZc6n6n_dFwQ-wvHfMZFSvRYfNnc40iUQCcxF9OJ8","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1598154865,"created":1597982065,"updated":1597982065,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
