interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deleted000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002''
        under resource group ''cli_test_keyvault_list_deleted000001'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"azureclilivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","id":"6b30bdc6-696a-46fb-82d7-739c2fb147b7"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"BY3PEPF00015DD7"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7", "permissions": {"keys":
      ["all"], "secrets": ["all"], "certificates": ["all"], "storage": ["all"]}}],
      "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deleted000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deleted000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-08-22T09:14:51.566Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-22T09:14:51.566Z"},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"family": "B", "name": "Standard_B1"}, "properties":
      {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "initialAdminObjectIds":
      ["3707fb2f-ac10-4591-a04f-8b0d786ea37d"], "enableSoftDelete": true, "softDeleteRetentionInDays":
      90, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deleted000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-mgmt-000003?api-version=2021-04-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/managedHsmOperationResults/b2547f1f-0104-48d8-af11-6887797fdfca?api-version=2021-04-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/managedHsmOperationResults/b2547f1f-0104-48d8-af11-6887797fdfca?api-version=2021-04-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/managedHsmOperationResults/b2547f1f-0104-48d8-af11-6887797fdfca?api-version=2021-04-01-preview
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/managedHsmOperationResults/b2547f1f-0104-48d8-af11-6887797fdfca?api-version=2021-04-01-preview
  response:
    body:
      string: '{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deleted000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-mgmt-000003","name":"cli-test-hsm-mgmt-000003","type":"Microsoft.KeyVault/managedHSMs","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-08-22T09:15:23.902Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-22T09:15:23.902Z"},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","hsmUri":"https://cli-test-hsm-mgmt-000003.managedhsm.azure.net/","initialAdminObjectIds":["3707fb2f-ac10-4591-a04f-8b0d786ea37d"],"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enablePurgeProtection":false,"provisioningState":"Succeeded","statusMessage":"The
        Managed HSM is provisioned and ready to use.","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-r","name":"bez-r","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deleted000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgeb357uqe4rbtll76kafq7auoryspmiuzeyiopbi3txhwiq4ldooz3efcpjpk2lvwv/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-273ttl26wkbf","name":"sfrp-cli-kv-273ttl26wkbf","type":"Microsoft.KeyVault/vaults","location":"eastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/hangkey","name":"hangkey","type":"Microsoft.KeyVault/vaults","location":"koreasouth","tags":{"kk":"kk"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python-sdk-test/providers/Microsoft.KeyVault/vaults/python-devops-key","name":"python-devops-key","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python-sdk-test/providers/Microsoft.KeyVault/vaults/SDKAutoPipelineSecrets","name":"SDKAutoPipelineSecrets","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yishitest/providers/Microsoft.KeyVault/vaults/ystestkv","name":"ystestkv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/managedHSMs?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"family":"B","name":"Standard_B1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-mhsm-rg/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-3l4rc7c6x2d","name":"clitest-mhsm-3l4rc7c6x2d","typ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_list_deleted000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","location":"eastus","tags":{},"deletionDate":"2022-08-22T09:29:05Z","scheduledPurgeDate":"2022-08-29T09:29:05Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/vault3-yaezpw6xunwmc","name":"vault3-yaezpw6xunwmc","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_htus6ztqmkqqwbvuzqcvmlxsutq7o3mwrz/providers/Microsoft.KeyVault/vaults/vault3-yaezpw6xunwmc","location":"eastus","tags":{},"deletionDate":"2022-08-22T07:20:10Z","scheduledPurgeDate":"2022-08-29T07:20:10Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cmk-test-keyvaultz2beoyz","name":"cmk-test-keyvaultz2beoyz","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgt5kzzmud37dffahs4oqllnigyetqn7kli543aswkyugj54hrfn3rmy527zmcqcqyt/providers/Microsoft.KeyVault/vaults/cmk-test-keyvaultz2beoyz","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZbdbuJIFITfBa32agm2gQ2JNFoZus2YzTlON92MnDtizI87gQjIYHo0775lZrTvAFeWLctWl6q%2Bqh%2BtbVkfnzZbd2g9%2FmjJeGrstPXYWh%2BPH4fHTud9vp2vyvdye7yb%2B899eVfs3juHz9dDsd98HDe77aETvIbLv3v3YTt8XQbt3mIxb8%2FLotsuXh%2Bi%2B2gZPPQfgs7Hfvd9syj3hw5tiv3usFse7%2F4tz7P559uxsyjfymO5uNwc%2Fpl%2FbNrf8SY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZZdb9o8FMe%2FC5p2NYoTYKWVpinBJwzWc1K7NlO4o0l4cShUhA7iad%2F9Odkz7TvQu1iObOWX%2F8v51dmXl9PDdl%2FVnftfHYiejH3q3Hc2p9Nrfd%2FrvSz3y3X5Uu5PN0v%2Fdixv8sNLr357rvPj9vW0PezrnngOVp8Ht0E3eF6J7qAolt1lmfe7%2BfNdeBuuxN3wTvRej4ef26I81j3c5sdDfVidbr6XzXz5tjv1inJXnsriz6L%2Bunzddn%2Fym3z4l1CEYVf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZVdb9owFIb%2FC5p2NYqTwAqVqilgh4bVJ7WxU6V3EMKHTQGRtAFX%2Fe87GdP%2BA72IrBAEOk%2Fe9zkfrV1xqh43O1u27j5aLJwqPW3dtdZVdSjvOp3X2W62Kl6LXXUzc2%2FH4ibfv3bKt3mZHzeHarPflR0y95Y%2Fu7de25svSbu7WMzasyIP2vl84N%2F6SzLoDUjncNy%2FbxbFsezwTX7cl%2FtldfO7OKezt23VWRTboioWf2%2FKX7PDpv2O38Qfv%2FeJ77f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZXRbtowFIbfJZp2NYoTwhoqVVPAzhrW49TGThXuIASKTQGRtARXffcdOql7BnrhC8eWo%2FP5P5%2FfvG3VNvfrra29mzePxROlJ96N99Q0%2B%2Fqm232ebWer6rnaNlcz93Korsrdc7d%2BmdflYb1v1rtt3SVzf%2FkzvPY7%2FnxJOuFiMevMqrLXKeeD4DpYkkF%2FQLr7w%2B51vagOdRfW5WFX75bN1Z%2FqlM9eNk13UW2qplp8TOpfs%2F2684o78fDbgARBh1x[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZXRbtowFIbfJZp2NUoSwgqVqongA6Orj2tjp6J3kIQUhwIiaQmu%2Bu47jKnvQJWLKJGVyJ%2F%2F%2Fzvv3iZv6vvVpqy8m3cPBlNtpt6N91zXu%2Bqm3X6Zb%2BZF%2FpJv6qu5e93nV%2Bn2pV29Lqp0v9rVq%2B2mavuLYPkzug5awWLpt6Ism7fmedpppYt%2BeB0u%2FX6377d3%2B%2B3bKsv3VZuv0v222i7rqz%2F5MZm%2Frut2lq%2FzOs%2F%2BPVS%2F5rt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZXfbtowFIffJZp2NYpJwgqVqonUDg3rsWtjU6V3EMIfhwIiaZO46rvvsEnVXoFe5MKKZet8%2Fp3vvHv7vKketvui9G7ePTaaajP1brxNVR3Lm273Zb6fr%2FOXfF9dzd3rKb%2FKDi%2Fd8nVRZqftsdoe9mWXLHqrn%2BF1r9NbrEgnXC7nnXmeBZ1sMfSv%2FRUZ9oekezwd3rbL%2FFR2YZudDuVhVV39ztvZ%2FHVXdZf5Lq%2Fy5d9F%2BWt%2B3HbecCcefusT3%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZXRbtowFIbfBU27GsUJYYVK1RTICYP1HNfGTpXeQRICMYWKpAVc9d1nuqnvQC98Eek4UT79%2F3feWtvi2Nytt6Zu3by1IJwpPWvdtFZN81zfdDpP8%2B28LJ6KbXM1ty%2F74irbPXXql0Wd7dfPzXq3rTts4S1%2FBtde21ssWTvI83l7XmTddrYY%2BNf%2Bkg16A9Z53u9e13mxrzu4zva7erdsrv4Up2T%2Bsmk6ebEpmiL%2FeKh%2FzZ%2FX7Vc36V5%2B6zPfb7P[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZXRbtowFIbfJZp2NRonhBUqVRNgpwvrOW6MTcXuQhIoMQVE0kJc9d136KTtGeilpWNb%2BvV9%2F3nztuWpuV9vbe3dvHliONVm6t14T02zr298%2FznbZqvyudw2V5l7OZRX%2Be7Zr18WdX5Y75v1blv7bBEsv0fXQSdYLFknKoqsk5V5t5MvBuF1uGSD3oD5%2B8PudV2Uh9qHdX7Y1btlc%2FWrbGfZy6bxi3JTNmXxcah%2FZPt155Um6fHbkIVhh113WPD1S23px50[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZTdjtowEEbfJap61RDHQPmRVlXADgrF9o6xs4K7EAIkhgSRsBuy2nevVVXqM%2BxeemTNaI7OfO9OmbXNKi9N7UzfHRqslV47U%2BfUNNd66nmXpEyO2SUrm17S3W9ZL60uXn3f1ektvzZ5VdYe2vmHn4OR7%2Fq7A3IH%2B33iJlnad9PdBI%2FwAU2GE%2BRdb9Vrvs9utcfy9FbV1aHp%2Fc4ecXI%2FN94%2BO2dNtv%2F7qH8l19x9tT9t8yeMMHbRyEX%2B92%2B1s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3dPdbpswGIDhe0HTjkYwkCw%2FUjWF2CCy2NSOnYqcESAEm%2FwokIa46r3PnSbtGtpDy5at79HrN%2BtU9t2qPqnWmr1ZaL7mYm3NrEPXXdqZ4xyzU1aVx%2FLUDTJ9u5aD%2FHx02tuuza%2F1pavPp9YBO3f%2Fczh2bXe3B%2FawKDI7K3PfzndTb%2BztwXQ0Bc7len6ti%2FLaOrjOr%2Bf2vO8Gv8vHJrs1nVOUTdmVxd9F%2Byu71ParOWkuf%2FKA59lgbAP3%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZTdjqIwFIDfhWz2apGCuP4kkw3aYnTtYVpbJs4dAiKtghEclcm8%2B9bNJvsMM1fNaU%2FanK%2FfOe9Wld%2FaVVnpxpq8WyRYC7m2Jta%2BbU%2FNxHGOSZUU%2BTGv2l7SXc55L62PTnPZNum5PLVlXTUO2rq7n%2F7Qtd3tDtl%2BliV2kqd9O92OvaG3Q%2BPBGDmnc%2F1WZvm5cWiZnuum3rW93%2Fk9Ti6H1snyQ97m2d%2Bg%2BZWcSvvNZJrLnzzkeTYa2sj9%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZTfbpswFIffBU27GsEQsvyRqonEpkqWY2bHpsruCBAGTiAKpBBXffe51aQ9Q3vlc46ObOnT9%2FOLVedDty1r1VqLF4sEOyF31sL603WXduE456ROivyc190o0bdrPkqbs9PeDm16LS9d2dStgw7u8bs%2FdW33cES2n2WJneTp2E4Pc2%2FqHdF8MkfO5do8l1l%2BbR0o02vTNsdu9DO%2Fx8nt1DlZfsq7PHtv2h%2FJpbSfzaa5%2FMFDnmejqY3cr19aZV5sVF4%2FS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3dPbbqMwEAbgd0GrvSoBHNgcpGpF4smKbmxqx6YidwRMCiQQBdIQqr77OtW%2BRHtpaTSj%2Beb3u1GrvlsXddUa83cD%2FI2QG2NuvHbdqZ1b1jGpk706qrobJcPlrEZpc7Tay65Nz8WpK5q6teydk%2F9yJ47p7HLbdLMsMROVjs10N0MTlNszb2Zbp3PzVmTq3FqkSM9N2%2BTd6K%2B6Rcnl0FmZOqhOZZ%2BP9ndyKsw3XambPyIbIdOemLbz80db6YlNpepHWUUvPHo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZPbbuIwEIbfJVrt1YY4hi4HqaoSbFBZxlkbO1V7FxwDSSBBJBRw1Xdfs9qX6F6MRiPNQfPPNx9eba7dsqir1pt8eDRaSbXyJt6u647tJAgOWZ1tzcHUXS%2Bz55Pp6eYQtOd1q0%2FFsSuaug3QOtz8HAxDP1xvkD%2FI88zPjO77ej3GQ7xB44cxCo6n5r3IzakNoNCnpm02Xe%2BXuaXZed8FudmbzuR%2Fg%2FYpOxb%2Bu8t0zR8xwthHQx%2BF37%2B1lZvYVKZ%2BV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZPdbqMwEEbfBa32agmGkM2PVK0SMFG6sakdD1VyR8CkYAJRIIVS9d3XG%2FUl2gtf2Po81pw5fjcq2bfbvFKNsXg38HInYGcsjJe2vTQLyzrHVXySZ1m1o3i4XeUoqc9Wczs2yTW%2FtHldNRY62tlvd2qb9jFDppumsRnLZGwmx7kzdTI0n8yRdbnWr3kqr41F8uRaN3XWjv7Ktyi%2Bla2VylK2Mr1vmj%2FxJTdfdVIXf3CQ45hoaiL7549G6RdrJasHUNEzjx4FBx4IH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZPdjpswEIXfBVW9KsEQ0vxIqwpqE5HGw%2BLYWWXvCDgBTCAKZJN4te9et%2BpLbC%2FmYqTRjOY757xbrbwP66pVvbV4t0iw4WJjLaxyGM79wnFOWZsd5Um2wyjT14sc5d3J6a%2F7Pr9U56Hq2t5Be%2Ffw3Z%2B6trs%2FINsviszOZD628%2F3cm3oHNJ%2FMkXO%2BdG9VIS%2B9Q6v80vXdYRj9ko9tdm0Gp5CNHGTxt%2Bl%2FZOfKfjOTZvmThzzPRlMbuV%2B%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZPbjtowEIbfJap6tSFOCOUgrarAOFIontTGZkXvQjAQAgkiYSFe7bvXW%2FUldi%2F%2BizloRvPpnzen0o92UVRl40zeHBotpVo6E%2BfQtpdm4nnnrMr2%2BqyrtpeZ21X38vrsNbdNk1%2BLS1vUVeORjb%2F7EQ5919%2FsiBtut5mb6bzv5ptxMAx2ZDwYE%2B9yrV%2BLrb42Hivya93Uu7b3S3er7HZqva0%2B6VZv%2FwXNz%2BxSuK%2B20w5%2FDkgQuGToEv%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZNdb5swFIb%2FC5p2NYIxZPmQqopgEyWLzUxsKnpHwFBwAhGQfrjqf5877U90F8fSObJsvY%2Be82518nU6NJ0arfW7hYMjF0drbT1N03VcO84l7%2FJaXmQ3zXJ9G%2BSs6C%2FOeDuNxdBcp6bvRgec3Oqnv3Bt91QB2y%2FL3M5l4dnFaQUXsAKr%2BQo416F%2Fbko5jA5piqEf%2B2qa%2FZJvaX47T04pz3KS5d9mvM%2Bvjf1sbprH7yCA0AYLG7jfv43K%2FNgr2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZNvb5swEIe%2FC5r2agTjwPJHqqYkdie6%2BiiOLxV7R8BJgQSiQEriqt997rQv0b2w7k46naVHz%2B%2FNafS1fyybunPmbw5frBWunbnz0venbu55x6zJ9vqom36UmctZj%2FL26HWXbZefy1Nftk3nka2%2F%2Bx5MfNff7ogbFEXmZjofu%2Fl2Rid0R2bhjHinc%2FtaFvrceaLMz23X7vrRL33bZJdD7xX6oHtd%2FB26H9mpdF%2Ftpj1%2BRwmlLpm4xP%2F6pav[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZPdjpswEEbfBa16VYKB0PxIqxXBJkobD8WxWWXvCJgEnEAEZJOw2nevU%2FUlthdz8UmjGenMmQ%2Bjlrd%2BXdaqM%2BYfBvE3XGyMuXHo%2B3M3t6xTWqd7eZJ1P0qHSytHWXOyusuuy9ry3JdN3VloZxc%2FxhPbtHcFMsd5npqpzFwz282ciVOgmTdD1rlt3stctp1Fy6xtuqboR7%2FkPUkvx97K5VH2Mv8bupf0XJrvulMPf3aQ45hoYiL721On9MZGyfpZqOSVJT8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZPbjpswFEX%2FBVV9KsFc0lykUUViU5HGpnZsRjwSMCmQQARkAI%2Fm3%2BtW8xMzD36wfHSsvbT2q9HIaTiWTd0b21cD%2BScuTsbW%2BDMM935rWbe0SS%2FyJpthkapHJxdZe7P6x7nPuvI%2BlG3TW%2BBsF9%2B9lW3a5wKYXp6nZioz18zOG2flFGCz3ADr3rUvZS673sJl1rV9WwyLX3KO08d1sHJ5lYPM%2F1%2F6H%2Bm9NF%2F0pF7%2B5ADHMcHKBPbXL32tf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3dPbjpswEAbgd0FVr0owhDQHaVWRtRMljYfFsbOid8SYBEggCmQBr%2Fbd61Z9ie3lSNaM%2FM0%2F71al%2BnaXV2VjLd4tEuy52FsL69y2t2bhONekSk7qqqp2lOjHXY1kfXWax7GR9%2FzW5nXVOOjoZt%2F9qWu7xwzZfpomdqLk2JbHuTf1MjSfzJFzu9dvearujUNzea%2BbOmtHP9VwSB6X1knVRbUq%2FVs0P5Jbbr%2BZl6b5k4c8z0ZTG7lfvzSlmViXqnoS5eG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZJda4MwFIb%2Fi4xdzRqtrh9QRkuy0a6JJE0s7s5q7DRWi7Ffjv33ZWN%2FYrs4nPfA4Rzeh%2FfDquW1Wxe10tb0w0LzDRcba2q9d91RTx3nkNTJXh5k3Q2S%2FtTKQdocHH3a6bQtjl3R1NoBOzd%2F9Eeu7e5yYPtZltiJTId2upt4Iy8Hk2ACnGPbnItMttrBRdo2usm7wau8Rcmp6pxMVrKT2c%2Bgn5JjYZ%2FNpjk%2B84Dn2WBkA%2Ff%2BTivzsVGyngkVbVm04[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZLfboIwFMbfhSy7GlJQ5p%2FELC6txm0taW0x7A5LcVAFQ3EKZu%2B%2BbtlT7OJLznfOyTnJL9%2FNqdS1fSsqbZzZzUGLDRcbZ%2BZ8tO3JzDzvmFbpXh1V1Q7S%2FtyogayPnjnvjGyKU1vUlfHAzs8fR2Pf9Xc5cEdZlrqpkkNX7qbBOMjBNJwC79TUn0WmGuPhQja1qfN28Kq6OD0fWi9TB9Wq7NeYp%2FRUuJ920x6fByAIXDB2gX9%2FZ7T9WGtVzYWOtyx%2B4Uy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3dLfbpswFAbwd0HTrkYwDln%2BSNWUDFNlqw%2ByY1M1d8SYFJxAhEkTXPXdi6a9xHZ5pKPz6fz0vXuNvvdPVWOst3r3yHon5M5bea99f7GrIDjnTX7UZ930k9xdOz1R7Tmw14NVXXXpq7axATqE5fdoHvrhoUR%2BVBS5n2s19dVhiee4RMvZEgWXrn2rCt3ZgFaqa21b9pPfesjy66kPCn3SvS7%2BDPZHfqn8t3FzPP6AEcY%2Bmvso%2FPrFmjGxNbp5kCZ75tkvwSVPB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZJdb4IwFIb%2FC1l2NaSAmx%2BJWZTCgrMlxRajd0iLAgqGoiLG%2F75u2Z%2FYrk7OyfnI%2B5z3rpWibRZZWUhtfNfc6ZKypTbW9k1zkmPDOMZlvBNHUTa9uDvXopdUR0OetzKps1OTVaU0wNZM3%2FoDUze3KdD7nMd6LBJbT7Yja2ClYPQ6Asapri4ZF7U0UJbUlazSpvcpblF8PjQGFwfRCP6TyPf4lOkX1amWTyxgWToY6MB8fpKFulgVopywIlqF0ZyGLPSoG7ElG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3ZLdbqMwEEbfBa16tQSb0OZHqlZd2YlIO0Z2bKr2joDJYhOIgLTEVd996WpfYvdiLj5pNKPv6Hx4jR6Hp6qxvbf%2B8OjDXqq9t%2FZ%2BDcO5XwfBKWuyoz7pZphl7tLpWd6egv5y6POuOg9V2%2FQBOuDyLlpgHx9K5EdFkfmZzud%2BfliFi7BEq9sVCs5d%2B1YVuusDqPKu7dtymD3qa5pd6iEodK0HXfwJ%2FY%2FsXPlv0%2BZ0%2FD5EYeijhY%2FwzbfeTh9bq5t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=3dLNbtswDADgdzGGneZYVqzlByiGZpKDdqUCK1KK5ubIcuqf2IHltImKvvuEYS%2BxHXggQJDgR34EnbmOT1XX2GD5EbD7rVTbYBm8juPZLqPolHf50ZxMN05ydxnMRPenyF4OVg%2FVeaz6zkboEJffk1kcxocShUlR5GFu9DTUhwWe4RItyAJF56F%2Fqwoz2AgqPfS2L8fJL3Pb5Zd2jArTmtEUfxL7Iz9X4Zuv9M3vMMI4RLMQxV%2B%2F2MZP7BvT3alm9yx2j1IokUq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=1dDdboIwFAfwd2mWXQ0pHU4xMctYi9GtJWCL2e74KIwPwVB0ivHd1%2B0tdnFycvI%2FOSf5XUErz8N72dYKLK6AvGy52CKwAF%2FDcFAL09zHbVzIvWyHSTweezlJu72pjolK%2B%2FIwlF2rTJhY%2BZM9swwryaFhZ1lsxDJ9NNLEQTOUQ2fqQPPQd6cyk70yaZn2neryYfImL1F8bAYzk40cZPY3qOf4UBonvamPLxFEyIAzA1r3d6rWH7tatktRR7sw2vBQhB4nkdgKx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=1ZBdb4IwFIb%2FS7PsakgpOsXELHNAwmZLWluMu%2BOjMKgCoTgdxv8%2B3L%2FYxXNxct68J%2Be5glpe%2Bk1ZKw2WV%2BC9brnYIrAEX33f6qVpHuM6LuRR1v0kHk6dnKTN0dSnRKdd2fZlU2sTJlb%2BPJ1bhpXk0JhmWWzEMrWNNHHQHOXQmTnQbLvmu8xkp01cpl2jm7yffMifKD4dejOTB9nL7G%2FQL3FbGt9jcixfIYiQAecGtB4ftBovNkrWK6GiHYveORPM514[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=1ZDdboIwAIXfpVl2NaRFnGJiFrWwyNYSsMVsd%2FwUhigQWp3W%2BO5je4vdnS85OSf5bqARF%2FVeNbUE8xtwl1vGtxaYgy%2BlOjk3zWPSJKU4ikaNEn3qxShrj6Y8pTLrq05VbSNNmKLi2Z4iA6UFNOw8T4xEZGMjSx1rahXQmTjQ7Pr2XOWilyapsr6VbaFGb%2BIaJ6eDMnNxEErkfyBfkq4yzkNzGF9Y0LIMODUgenyQ9fDY1qJZ8DreRbHPIh55zI35ljvBOz%2FwA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=1ZDdboIwAIXfpVl2NaQgTjExi67MsNkSaovxkp%2BiUARC0QHGdx%2FbW%2BzyJCfn5PvuoBRdu8tKqcDyDpz1nvG9CZbg3La1Wur6JSzDk7iIsp2Ew7URk7i66OoaqbjJ6jarSqXDyEhfrbmhGVEKNStJQi0U8VSLI9ucmym0ZzbU66a6ZYlolI6zuKlUlbaTL9EH4bVo9UQUohXJX1BvYZ1pt7E5jq9MaJoanGvQeH5ScnyspChXXAYHGnwyyukHcwK%2B57a34wVPkWtgF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=1dDdboIwAAXgd2mWXQ1pUaeYmMWsZdHZGrDF6B0%2FxUERDK0LYHz3sb3FLk9yck7y3UElW7PNK6XB4g7Ias%2FF3gEL8GXMVS9s%2BxJV0VleZGVGUX9r5CipL7a%2BxTpp8qvJ60rbMEbZ62SGLBRn0JqkaWRFMhlbSew6MyeD7tSF9rWpv%2FNUNtqmedLUus7M6FN2YXQrjZ3KUhqZ%2FgX9Fl1z63toDuNLBzqOBWcWRM9PWg2PtZLVUqjwEIQbHojA4yQUe%2BHutqI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=1ZBRb4IwAIT%2FC1n2NKStOMXELE5KMmdLqC3GRyjFAQqG1gUx%2Fvcx9yv2dne53CXfzapVZzZFXWlrfrPwcsvFFllz68uYs547zimpk4M6qdqMkv7SqpFsTo6%2BpFq2xdkUTa0dkML81Z1CG6Y5sN0sS%2BxEybEtUw9NUQ68iQecc9t8F5lqtUMK2Ta6yc3oU13j5HI0TqaOyqjsYfRbci7s76E5jC8QQMgGUxvA5yddDY9NpeqFqOIdi9ecCRZwHIut8MKNOIrc%2F4C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-07-01&%24skiptoken=1dDRboIwGAXgd2mWXQ0poHOYmMWMbmGzJSDFuDsoxUERCK2KNb77cG%2Bxi%2F%2FiJH%2FOSb4raPig1mUjJFhcAVptYrqxwQL8KNXJhWke0ibd8wNv1CTVx55PWHsw5TGTrC87VbaNNGFmFc%2FTuWVYWQGNaZ6nRsqZY7DMted2Ad2ZC82ub09lzntp4pL1rWwLNfnilyQ91srMec0Vz%2F%2BCfE270jiNn2P50oa2bcC5Aa3HBynGxVbwZklFso2Szzii0XuMErqhbrC[...]
- request:
    body: null
    headers:
    method: GET
[...]
