interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"yishiwang@microsoft.com","createdByType":"User","createdAt":"2023-07-18T04:28:33.26Z","lastModifiedBy":"yishiwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-18T04:28:33.26Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2S2ujOVKLs7rAorvokVMvnUiuLg7OJza80s56g1VZgW4MTRGQ-ZAAmqe8I5AXdvphjNKckACkeRZNCtGYqLHnheP21mPXLXsFicYgnSoQSyOUlUH-DXKFiYxHj9QZ4nKlGmRN8QatPIHwSvRVf_x5YaciAGE-MdrmHmQ5wkjw5m4wfk9zVZ5NrCQQxMgzT8RQhr4_G7n-teBCxypbSInZnVCIdbTO0wVK0pY06D4lWDeCpchL-KmvcjIjTIKaITDb3bf5j8uacrB2Gsv5J9Xc44Zxm28YqOo6VPxmadDD3_O7R7WucEueemk0_snKyGvr9D_soEuLHzhGBOliAeIHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzurePowerShellLiveTest/providers/Microsoft.KeyVault/vaults/LiveTestKeyVault","name":"LiveTestKeyVault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000003","name":"cli-test-kv-key-000003","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/hangkey","name":"hangkey","type":"Microsoft.KeyVault/vaults","location":"koreasouth","tags":{"kk":"kk","zz":"kk","--kk":"zz"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/similar0327002194","name":"similar0327002194","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiaslivmmirg/providers/Microsoft.KeyVault/vaults/jlkv0516","name":"jlkv0516","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-00[...]
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "3707fb2f-ac10-4591-a04f-8b0d786ea37d",
      "permissions": {"keys": ["all", "purge", "encrypt", "decrypt"], "secrets": ["all"],
      "certificates": ["all"], "storage": ["all"]}}], "vaultUri": "https://cli-test-kv-key-000002.vault.a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2S2ujOVKLs7rAorvokVMvnUiuLg7OJza80s56g1VZgW4MTRGQ-ZAAmqe8I5AXdvphjNKckACkeRZNCtGYqLHnheP21mPXLXsFicYgnSoQSyOUlUH-DXKFiYxHj9QZ4nKlGmRN8QatPIHwSvRVf_x5YaciAGE-MdrmHmQ5wkjw5m4wfk9zVZ5NrCQQxMgzT8RQhr4_G7n-teBCxypbSInZnVCIdbTO0wVK0pY06D4lWDeCpchL-KmvcjIjTIKaITDb3bf5j8uacrB2Gsv5J9Xc44Zxm28YqOo6VPxmadDD3_O7R7WucEueemk0_snKyGvr9D_soEuLHzhGBOliAeIHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "XKAXZSktDyP1TjJBQOU7cf1J3UU-qAEPIkY_hw22bp5d6mT3tdBwgpBBLqGTiZVKfMrl4LtnPNrp1GWWvA5VqJk0TJypALOGnsyPKmWwPJ2RIr7TmvJCRJ1L6IDdprAgmu6stGcDhvc6sBIfWpDvaTXr_HC9TOh5O1ibR8kZa8BEu20iyD7WcfF6d5tiacJZQW7ST7Cfb_X6jm9hfMPxJMyzvp4LO8eywncWNdSCDhCb2K8d-dRnPjghaCQuzOhhBnTG0ZpxWktEpc0uS8aYEvUDTOm8WiZtYcnL0CQz34lkRAo_YhmNAiqS_9yCz5dwxbXi2dCsAgoqW2lGr-oaaA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0/decrypt?api-version=7.4-preview.1
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RS256", "value": "MTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTI"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0/sign?api-version=7.4-preview.1
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","value":"guOgFK3yO3_2DgkILoLERITSMe5t4GwPkSd6SGWVVYcCkObeqhckG5cEv5tPxigBr5Z7VMv8pD0JsuNUtr2eDivp_EG4FWgWgqWMV0CSmw0_QTpgR4CgqplQ22l55_k8giUV8cLGy1HczpY-Lf7MriYP8kgehkuSlOFIGD4aZ0IRy-A4t4pfKhztsrJADc1lauX13osjJErV0QEi3zMFVAnsfxH9Ush1l_GZIdvFFVi390F8ljIxmA9Jftv4zsWoC0WNQNqeeQswB3btQ-FzeP1dMTmatntZ4WryT8FfPtKYyNo_Ke-rD0jk8kSxsyzPbmI5nJ_WeNHQitK2PFf9Kg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004","attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2-000005","attributes":{"enabled":true,"created":1689654592,"updated":1689654592,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004","attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2-000005","attributes":{"enabled":true,"created":1689654592,"updated":1689654592,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE5NiFNREF3TURJNElXdGxlUzlMUlZreUxVOVhTVE5MUXpWVFVVaEZRbGRYU2xsR1RGVWhNREF3TURJNElUazVPVGt0TVRJdE16RlVNak02TlRrNk5Ua3VPVGs1T1RrNU9Wb2giLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/ac532d04ae234cff8de83612d585f975","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"v43kok9aawcs6Mb4lnVE3cqErHOZtGndr6ZZcLyyCKISDQln1QmLdCsCjQUqzfYD1ByTS6ON9gyM_NoVNLyEiwCBpvhRYgdnwW9jBwmKojzE2V8-yhdNS4e-l_Uip98SInQUPg2G188Kv8WEw0dDwMvRJrB21HQP77bpQ9aJveHUPt0v5Y6c-O1zeJ0IFNlVy2kloCRUZwsuHPrP_UkH78wlCCDm5GAkN7NEvqd5GrU28GdAMdEQa3aj39LbUEZ1fJVHAqfeBj3zKt3jKMLQWVXTygQJxEo80CUGBrqVB1huMb7q3R9LymKztvGLgwmL1hbavsTHwpbI3Yh3moHPKQ","e":"AQAB"},"attributes":{"enabled":false,"created":1689654614,"updated":1689654614,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/ac532d04ae234cff8de83612d585f975","attributes":{"enabled":false,"created":1689654614,"updated":1689654614,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/ac532d04ae234cff8de83612d585f975","attributes":{"enabled":false,"created":1689654614,"updated":1689654614,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/versions?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExNDAhTURBd01EWXhJV3RsZVM5TFJWa3hMVGRJVURKR1JrY3pWVTFTTjFGWVZFeERRbGt2UkRGQk5FRkRNRE5GUmpBeU5FUTJORUV6UlRKRFEwVTRPVVkxTVRSRlFqQWhNREF3TURJNElUazVPVGt0TVRJdE16RlVNak02TlRrNk5Ua3VPVGs1T1RrNU9Wb2giLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/d1a4ac03ef024d64a3e2cce89f514eb0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2S2ujOVKLs7rAorvokVMvnUiuLg7OJza80s56g1VZgW4MTRGQ-ZAAmqe8I5AXdvphjNKckACkeRZNCtGYqLHnheP21mPXLXsFicYgnSoQSyOUlUH-DXKFiYxHj9QZ4nKlGmRN8QatPIHwSvRVf_x5YaciAGE-MdrmHmQ5wkjw5m4wfk9zVZ5NrCQQxMgzT8RQhr4_G7n-teBCxypbSInZnVCIdbTO0wVK0pY06D4lWDeCpchL-KmvcjIjTIKaITDb3bf5j8uacrB2Gsv5J9Xc44Zxm28YqOo6VPxmadDD3_O7R7WucEueemk0_snKyGvr9D_soEuLHzhGBOliAeIHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1689654590,"updated":1689654590,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuZDFBbDlxTThSWmlmZTFURDJ4VEJzU[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/key1-000004","deletedDate":1689654633,"scheduledPurgeDate":1690259433,"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1-000004/ac532d04ae234cff8de83612d585f975","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"v43kok9aawcs6Mb4lnVE3cqErHOZtGndr6ZZcLyyCKISDQln1QmLdCsCjQUqzfYD1ByTS6ON9gyM_NoVNLyEiwCBpvhRYgdnwW9jBwmKojzE2V8-yhdNS4e-l_Uip98SInQUPg2G188Kv8WEw0dDwMvRJrB21HQP77bpQ9aJveHUPt0v5Y6c-O1zeJ0IFNlVy2kloCRUZwsuHPrP_UkH78wlCCDm5GAkN7NEvqd5GrU28GdAMdEQa3aj39LbUEZ1fJVHAqfeBj3zKt3jKMLQWVXTygQJxEo80CUGBrqVB1huMb7q3R9LymKztvGLgwmL1hbavsTHwpbI3Yh3moHPKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1689654614,"updated":1689654630,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/key1-000004?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuZDFBbDlxTThSWmlmZTFURDJ4VEJzUXZQMlA0S2FRdGdsbk91Q0NndEt5Z0N0MDRYSndHRHZRRmRST29sOXJCenN0SHJOSXRBNkl3alJtdEFpTlh6NWJsbF9HaFNQTDczejd4RVVNVV9oVWxlNjJEU2FnTE91SVNmR1dldmhCbnZoSV9KUUVrRUdoTi1SVGJCVmppTG90dm9rVU1fejU0Q1VrSFJaVHNqUU9HZWVjNGs0c0UzMHNtTkZua0hKVml[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/727316c233e1442987e10bc381a4a250","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1689654885,"updated":1689654885,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/8b570afe4f1d4cdcb5442e151e867f22","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"3SzpWRryRNQZELvDv4cfMof_LVI0ZRXCOLLE_lnoWGU","y":"38t87USg9RTDyI9OojWWya0Rdq2z8F9SrsnbtCGg8o0"},"attributes":{"enabled":true,"created":1689654893,"updated":1689654893,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/eckey1","deletedDate":1689654896,"scheduledPurgeDate":1690259696,"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/57f6f7fb77a54f7ebfc1733e293f52c9","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"JgHHALGWYSALTQS4LhEv0myGU4_6WMp2qh9vaWI_U5c","y":"8YnXF8YwhJbLXx1QhdZZh3LgNBZu75LLGbkxl_V0VhY"},"attributes":{"enabled":true,"created":1689654894,"updated":1689654894,"recoveryLevel":"CustomizedRecoverable+Purgeable","exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/d5a92618971944b68ed10ad535a58b3b","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1689654897,"updated":1689654897,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/14ddcf2437e84564810dbbb36ffbcf18","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1689654899,"updated":1689654899,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/f7e2bb69b3364f3f821e8e84535d56e6","kty":"RSA-HSM","key_ops":["import"],"n":"mtR0EUT07I8pKIulI3csKtjqDVTrOko_pM3S5N7ADsEZHtIrze38GJCsTnJ5HeZcMBMsbEGkkNbI7VMa6_Zsyk0_qgMNFI_4FZAyRKc-u5z9SF7wad3ggcspZHjKfwimoGdX8LAHXQcO3Pv6bE8-ZCDrzICikvZHkOENdf2Fy96-PnGDLbVF6VE_Sl_L8u9OjAnFjHbcfFGD4pVL9sc-D-JkRk7vE6-D699vdKKMsDaN971O6OJFpg0o4PAyVa4a9J-f8VDD5rM_pq4Il6nN-f-YQUMmiNeh39Gh4R8uRkXqK7H4wmOsVcgH3McgGAfNH4H5PkFx2TupBzrRvUUMbw","e":"AQAB"},"attributes":{"enabled":true,"exp":1689827701,"created":1689654901,"updated":1689654901,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/3debae54b2f747448a614f0a0bd351a1","kty":"RSA-HSM","key_ops":["import"],"n":"q4vv7limpWQbeQjLqNBLWtwaLJcPyEteXHjZ61fjqzFa3lFdgAef6VhOy3yYvR_6RgfLRYOLCXavdZCh_2g04UhG__z1F804UBI6KjnQmgHkkhk_PQkACYCpVa5bWsqbXz_jfSalYz7QAcIhkrC9vxnyKoINHRlSBZ9XTazd5F62ixsjTVC_Z77MZR9_A1hig0D7EeCcXA7bSmHrypI8CnYANDMGplkULnzUBXXaFj10XrNwCOnKp-2yo9d2xuuJwKNJRSN1Ooa6H61HBxKFxjjjHsnJefT4bedi4tnr8xm7-Q5f9ljz8FkgozFn7kLon-9pkHRzn5GOeq7ZggVHB4LO9W7n6Po_whhOKmF6foUrofwt1OjixgJvoDYH6Obnbj2BkQGWoPQK7n5OrJbLCEGHQeQatmG81x6K9tbTmCqUVafEYV903tJpltlbo7cTAy8pda2IqnAHZTswUFxKCgX_QwZKcNOqmCgqitLP-KuPNpydjwK7fAHZWMItXaUiaZU6Yaat6vZUFf30qRWRcjItTYcC58yCXeuyJu8Min0vjIS-5kn62jGOmi1Fv1889JlOQ4NwTyUwDZoGAGdAhbVWwYmL7ucNLqFYIUwrTn02NzgBxMQazvTc6YUrxZnboLyTk9H7FmUh3WYIK7q4t8vgv4qjiT2fOrlOB3dNeWU","e":"AQAB"},"attributes":{"enabled":true,"exp":1689827706,"created":1689654906,"updated":1689654906,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
