interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2489386'
      ocp-aad-diagnostics-server-name:
      - 3FI+PF+MkCFqWcUa1Fedr2Mi0nzUSo0QEs/pQ0mB0TE=
      ocp-aad-session-key:
      - Q8I4UNZAL2tzsbBhSjyoDkxeg5CBdgl4LiWhXcOPHl0IsXNsZ2y93aYhJoglvLJ1DKjHnmez3CArW53-PsiFWSdwOs1glUG5g-IPts1zYjLjRO_SsWq_oxuO43OfaASF.YDwRwLv2qQngqySuIndhBxFfosDxWcAVDoaWbqaAMjE
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/18137309226847bb8389030b2a8b311f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2M2guvQbK-O18er-i4edpxmOe1QcF8IyOUNYNuMc5tPOdlrJ3TSvlfokEnk15ZlkB_FFNVi1TYU6PMAWaG7ZxEJy_ibjOLtMWQrGlJI0vI2kcZGIlKEoXCGS3Zj3WRJr4S_5rdy8wSnCA_0jX0ND5GbAo2oHObq933G3n_SQVvOYix2q3N9DvL-Ss-hqMszQXkZyC8kzQu3XrCtrj0AHjCyfgyXoobdtcVmXpNqerpckxbpGEm1JL0kGgroAogVA8eKilI5u-4JjFolrUJvtzK9XQ_mUhMsyQQsM4j6u6hpD0OJRYdTeA-zhehMXuMzTfJRXo9k_Q1Nakkjl2iYaHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599474715,"updated":1599474715,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["encrypt", "delete", "update", "create", "restore", "recover", "list", "decrypt",
      "import", "backup", "get"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.2
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/18137309226847bb8389030b2a8b311f","value":"eowLJGRvievKb-4TBZc4f0UHy29HHEqakJ7DMQj2jnB9mJBzTYMM_uJ8gBElbnG6KGLZUtL0Cg17WSh2N5lAuPTjuR12XukdU2xgj4peVos-n1c5aR46CmO5UDZ97F-KFV08w59Cupz3T92GFEQnsajO5gIvxKrODAVmOvZR-fudckjzEpyveoLiVO6xFtLM6w5_ryIYoQJKcjtNsWg_GIBz7bQDSgvyT9T0f7H8zINy1BG8wDWo6oZXsAcQnX3Gv5BbVd-pCHvDTNebT4jBJuJGwZh-7fNJ3rDEeqc5qY996ZlpPw_4ijhSYDgtkyJsV9XN672N_rOoPNlo14vHeA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "eowLJGRvievKb-4TBZc4f0UHy29HHEqakJ7DMQj2jnB9mJBzTYMM_uJ8gBElbnG6KGLZUtL0Cg17WSh2N5lAuPTjuR12XukdU2xgj4peVos-n1c5aR46CmO5UDZ97F-KFV08w59Cupz3T92GFEQnsajO5gIvxKrODAVmOvZR-fudckjzEpyveoLiVO6xFtLM6w5_ryIYoQJKcjtNsWg_GIBz7bQDSgvyT9T0f7H8zINy1BG8wDWo6oZXsAcQnX3Gv5BbVd-pCHvDTNebT4jBJuJGwZh-7fNJ3rDEeqc5qY996ZlpPw_4ijhSYDgtkyJsV9XN672N_rOoPNlo14vHeA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.2
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/18137309226847bb8389030b2a8b311f","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599474715,"updated":1599474715,"recoveryLevel":"Purgeable","recoverableDays":0}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1599474715,"updated":1599474715,"recoveryLevel":"Purgeable","recoverableDays":0}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/542be36c3dfa4414952e94429452cdec","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"nnfbM5N7zvH4CMzIO-Yo_hTo6Kczji31NdDNf_XfTSYoQ1Ldup5BEmaHxmZ2hpA4DAci0cu-xqaa4MVxh3Jf4picnhs145OxiQaW5-aFgA6s_Xo6KgY7UEdpdZ6NC5tluF9G66Nkz2etms0p_O9RhhW-v8LRJN_g1r6Ma6HG8S8nVkrHgqry38Q7WytYQlU9Ofu24bRYEmSXQacCh_pN5kQTVIYZTQIALpzFnFcYTb4mF-slKsIROT-m6NrJduzgt6630yby9V2DDF_4K3DB7z973OEnO2EmWxznHm5Ba4MaGEPzi3XUsrbgTWeBN-E3cjbAPZKfgMTCKyYo1G-joQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599474728,"updated":1599474728,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/18137309226847bb8389030b2a8b311f","attributes":{"enabled":true,"created":1599474715,"updated":1599474715,"recoveryLevel":"Purgeable","recoverableDays":0}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/542be36c3dfa4414952e94429452cdec","attributes":{"enabled":false,"created":1599474728,"updated":1599474728,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.2
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/18137309226847bb8389030b2a8b311f","attributes":{"enabled":true,"created":1599474715,"updated":1599474715,"recoveryLevel":"Purgeable","recoverableDays":0}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/542be36c3dfa4414952e94429452cdec","attributes":{"enabled":false,"created":1599474728,"updated":1599474728,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/542be36c3dfa4414952e94429452cdec","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"nnfbM5N7zvH4CMzIO-Yo_hTo6Kczji31NdDNf_XfTSYoQ1Ldup5BEmaHxmZ2hpA4DAci0cu-xqaa4MVxh3Jf4picnhs145OxiQaW5-aFgA6s_Xo6KgY7UEdpdZ6NC5tluF9G66Nkz2etms0p_O9RhhW-v8LRJN_g1r6Ma6HG8S8nVkrHgqry38Q7WytYQlU9Ofu24bRYEmSXQacCh_pN5kQTVIYZTQIALpzFnFcYTb4mF-slKsIROT-m6NrJduzgt6630yby9V2DDF_4K3DB7z973OEnO2EmWxznHm5Ba4MaGEPzi3XUsrbgTWeBN-E3cjbAPZKfgMTCKyYo1G-joQ","e":"AQAB"},"attributes":{"enabled":false,"created":1599474728,"updated":1599474728,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/18137309226847bb8389030b2a8b311f?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/18137309226847bb8389030b2a8b311f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2M2guvQbK-O18er-i4edpxmOe1QcF8IyOUNYNuMc5tPOdlrJ3TSvlfokEnk15ZlkB_FFNVi1TYU6PMAWaG7ZxEJy_ibjOLtMWQrGlJI0vI2kcZGIlKEoXCGS3Zj3WRJr4S_5rdy8wSnCA_0jX0ND5GbAo2oHObq933G3n_SQVvOYix2q3N9DvL-Ss-hqMszQXkZyC8kzQu3XrCtrj0AHjCyfgyXoobdtcVmXpNqerpckxbpGEm1JL0kGgroAogVA8eKilI5u-4JjFolrUJvtzK9XQ_mUhMsyQQsM4j6u6hpD0OJRYdTeA-zhehMXuMzTfJRXo9k_Q1Nakkjl2iYaHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599474715,"updated":1599474715,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.2
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkExZTU0UmcyM1JZRkgwSHAzQ1JESnMzWlN1TzBudmxx[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/542be36c3dfa4414952e94429452cdec","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"nnfbM5N7zvH4CMzIO-Yo_hTo6Kczji31NdDNf_XfTSYoQ1Ldup5BEmaHxmZ2hpA4DAci0cu-xqaa4MVxh3Jf4picnhs145OxiQaW5-aFgA6s_Xo6KgY7UEdpdZ6NC5tluF9G66Nkz2etms0p_O9RhhW-v8LRJN_g1r6Ma6HG8S8nVkrHgqry38Q7WytYQlU9Ofu24bRYEmSXQacCh_pN5kQTVIYZTQIALpzFnFcYTb4mF-slKsIROT-m6NrJduzgt6630yby9V2DDF_4K3DB7z973OEnO2EmWxznHm5Ba4MaGEPzi3XUsrbgTWeBN-E3cjbAPZKfgMTCKyYo1G-joQ","e":"AQAB"},"attributes":{"enabled":true,"created":1599474728,"updated":1599474753,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkExZTU0UmcyM1JZRkgwSHAzQ1JESnMzWlN1TzBudmxxS1l2c012aDllT0JrV3JieDhUeTN1WWxiSTI4N0V4Qm9ZbS1vV3VIWXNCaXBGVUFoX05iVDA4M055b0w3RlBZMDM2eldaTnEwX0EtV3BoZjliR1BhOG92UHpGWkcwVG1NOW1QN01XdGJSWV9EOExLWjZXVTh4dVJweW9KMXpKaGQ1Z3p5MmFTRklvV0U5WDUtVGtxaWFPWFpJVHJVRndZc0cwUDV[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/4233dfc5558a4026bbe3187f3524fb3e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1599474764,"updated":1599474764,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/b53b5ba2b7d84c45b315babef3be0a4c","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"qOMYHlILE5G8NrrTlTl9ohm5bBNrMQ7ueUL_qcT4OpI","y":"OidaIfef6oaQ2GsBDQh3YZZUioShTUoHfmwdeDRHyXk"},"attributes":{"enabled":true,"created":1599474769,"updated":1599474769,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/2eb7f60212604cbaa313770cdf1544ed","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"7uHiUDBgc4UnBnGjXcG5jOFV11Ni3d7O3JBT-7wQaTM","y":"oQT_iI3SGZI-TONgOOdvM_IkoNbuZ4YcioZNbqfgi0M"},"attributes":{"enabled":true,"created":1599474771,"updated":1599474771,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/6f8f34186ec84776918be184b652dbcf","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1599474773,"updated":1599474773,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/15c3990548434d05b8730d774e140a05","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1599474775,"updated":1599474775,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/5122ed9a0ac0453291eb3e82982f86e3","kty":"RSA-HSM","key_ops":["import"],"n":"pxKtFPR2VYUo0l2BbjB28UVScPlr949iMR_K48iGI0mEGu3ZRSKBHndPiA6F1URJa4CH4UPDlWzC47ZbllXsejstpPqbFz6b32Y4HPDUVcioeGrhhva6mxsP9tK17lGpfN4TUY4ygjlzKubAL0jT5vfz3c4GAT4cs3btpsPxDrvntUL-2_yGvgAs_U_ZBMZYN_IhBBNjTxS_67aqmXswWfdHD359l69MGlZMYDGttAV0diWvGa-f0Cg8DQ9ujojGWB0IAEHQtqT2kDn6K96G_MMQy4DShRuvvX7vzAIlCCag851vIJRkPGAq_8olX3U4iaO3_N7KYRjObPRUaBEqLw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1599647619,"created":1599474819,"updated":1599474819,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/116096e97292497381d465d5d5d71b4a","kty":"RSA-HSM","key_ops":["import"],"n":"tPCbm048fcX5QLP_5CkGZ__ioknUOEpfvB3c2wgpr2Q4zkoB1i6CpsXqMV9qedauTITeFZLvU--AqKl5Fo3ICxBwrLpSzz5YhOFtbLn3XG3ggRpXg2IxvXhCvxfROSCFF8Z-CMVQj4uwq0xTFonpIC3nR-3LzThY_or60yGgJhVV6t8ftgnP2Wf3AwZUD2Jd3lTRIYXeB9Dl_6dDjyBPH1l5fzh6Nis2uWM-v5jk-urn9tMdMeT1zeYj-6p5QdRRl-psBCLz67OFvn9F-zavhT8muFS2MJDJVuaLvLit7XSsQjo0cemgdrh3acKot4tixxxakO3VrY1mXaMbOzPxKiv76cwVtaVV8d36xzZ0heZYYQ5KKf0o7j4Owo2UldNEt83t04l958CY29oa0iERm4M9u2C9ImTCEwpb7yVvJwcwhm-7QSAgWO-_hvB2u6AP7iMSWH3drS4bLQ_pafTzUwi8ZO7y5rPu59JWNnA-nv4XEGbPwL0TdqweJL8xTPnWmJFW0Iqlx_hdjwlJGt1W2XLI7oM5zn9T8bw9hAssy-adObiKOBeZ1K2GlCRKbV-0ifTn3QkQKb7cSisbX-6QCT8sfLWCOMoRSQDFyOvxeGsmbK1t2ld0fy6LVfE8vWzUyjj7leuFvKKDtF3IL_hktFVhvlHmk7tVWwIZdK1flzM","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1599647624,"created":1599474824,"updated":1599474824,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
