interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1760042'
      ocp-aad-diagnostics-server-name:
      - YCeo6veNZzyqH4rqbg7XRrujjIhZ2D1Pk7fkPTQFub8=
      ocp-aad-session-key:
      - 92rtZycUI7U1sncWghY40woe7Q2wTztsa0u9DA3fVFt-QzvBdv5R9kHcbsjwEuA9gjgpDsEg1_2JUgNglUUFYvcZnGMRyswQSi7mFHYs2_S_naZ-gLmkjH6jvbdWkxg5.wcEKx4_Fp28fHtoQMOdoAM3GIgxbVBtAsSffkTmAjhw
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev/providers/Microsoft.KeyVault/vaults/dev02071bcaabcb454b8d","name":"dev02071bcaabcb454b8d","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"app":"python+postgresql02071bcaabcb454b8d"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5555","name":"bim-kv5555","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}},{"id":"/subscriptions/0000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMWlablJvY25veQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMWlablJvY25veQ==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/s[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault4147","name":"sdktestvault4147","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg7255/providers/Microsoft.KeyVault/vaults/sdktestvault4147","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletionDate":"2020-05-18T08:25:58Z","scheduledPurgeDate":"2020-08-16T08:25:58Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault1508","name":"sdktestvault1508","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktestrg493/providers/Microsoft.KeyVault/vaults/sdktestvault1508","location":"North
        Central US","tags":{"tag1":"value1","tag2":"value2","tag3":"value3"},"deletio[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxMTkwNzcxMjg5MzQ3M3wwOTk4MkI0NkRDM0Q0RjIyOTZFMDVCOTA5Mjk2NjFBNQ?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxMTkwNzcxMjg5MzQ3M3wwOTk4MkI0NkRDM0Q0RjIyOTZFMDVCOTA5Mjk2NjFBNQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-24 12:32:50Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxMTkwNzcxMjg5MzQ3M3wwOTk4MkI0NkRDM0Q0RjIyOTZFMDVCOTA5Mjk2NjFBNQ?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzMxMTkwNzcxMjg5MzQ3M3wwOTk4MkI0NkRDM0Q0RjIyOTZFMDVCOTA5Mjk2NjFBNQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-07-24 12:32:50Z","lastActionDateTime":"2020-07-24
        12:34:33Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbvbqM4FMXfJVrtp01jCOwklUarEJsu2d7r2rEZ0W8pECY4TaqQDolH8%2B572R3NO6QSCCHxRz4%2B53fu99GhvpwfdwfXje6%2Fj1Bq8%2FdSoNGLR7se3Y%2B%2Bns9v3f1k8ro5bJr6tT6c7zb%2B%2FVTflcfXSff%2B0pWn3dt5dzx0E%2FYSbP%2BMPgXj4GXLxlFVbcabupyOy5d5%2BCncsnk8Z5O30%2FHbrqpP3QR25enYHbfnu3%2Fqa755358nVb2vz3X13[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbRbqJAFIbfxWz2aq0D4labNBtxhq5uz5nOOGND7ywiOlhtxFaZpu%2B%2Bh2a372ATCIEhEP58%2F3d4a23z0%2BF2vS2r1tVbC6U2v0cCjR7e2mnrqrU6HJ6rq07nab6dF%2FlTvj1czP3LPr%2FIdk%2Bd6uWxyvbr58N6t6067DFY%2Fowug3bwuGTtaLGYt%2Bd51m1nj4PwMlyyQW%2FAOs%2F73et6ke%2BrDqyz%2Fa7aLQ8Xf%2FJ6Nn%2FZHDqLfJMf8sXHSfV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtbqJAFIbvhWz211oBYatNmo0yo4vbcyjjDA3%2BU8QPxqoRWnCa3vsemv24BptACGGAnOe885w365A31cPuoEvr7s3CSMifAUcphg9qZt1Z26o6lXfd7vPisNjkz%2FmhulmYl3N%2Bkx2fu%2BXLsszOu1O1Ox7Krr101t%2B9W6fjLNd2x1utFp1FnvU62XLg3rpre%2BAP7O7pfHzdrfJz2YVddj6Wx3V18yu%2FJIuXfdVd5fu8ylcfN%2BWPxWnXeaWV9PF713YGH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVtb9owFIX%2FSzTt0ygOCStUqiaCL4yu97o2NhX9BiG8xBQqkhZI1f%2B%2BC5v6H6iUyHaUF%2FnknOe8B5vsUN6vNr4Ibt4DUsb%2B7gJZ07l3w%2BAmWJblS3FTrz9PNpNF9pxtyqtJ9brLrtLtc714nRbpbvVSrraboi6m4fxnfB3Wwulc1OLZbFKbZGlUS6ftxnVjLtrNtqi%2F7LZvq1m2K%2Bq4SnfbYjsvr%2F5kx9HkdV3WZ9k6K7PZeVH8mrysam98J7%2F8t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXRbtowFIbfBU27GsUJZINK1RSw04X1HNfGTkXvIISAQ6EiaQFXffcdpqrvQKXcHMVK5E%2F%2F%2F5231rY4NnfrbVW3rt9aKLX5MxJodHxnJ63r1qppnuvrTudptp2VxVOxba5m%2FmVfXOW7p079Mq%2Fz%2Ffq5We%2B2dYfNg%2BXP3q%2BgHcyXrN1bLGbtWZF32%2Fl8EP4Kl2wQDVjneb97XS%2BKfd2Bdb7f1btlc%2FW3OGWzl03TWRSboikW%2F4f69%2Bx53[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXrbuIwEIXfJVrtr6U4t12oVK0SbLrpdsa1sanYf1xCIKGASFqCq777DlXVd6BSolzGSjSfzznz6m3ztrlfb6vau371UGrzZyDQ6OTejrxrb9U0%2B%2Fq6232abqdF%2FpRvm6upez7kV%2FPdU7d%2BntXzw3rfrHfbustm%2FvJn9Mvv%2BLMl60SLxbQzzedhZz7rB7%2BCJevHfdbdH3Yv60V%2BqLuwnh929W7ZXP3NT%2BPp86bpLvJN3uSL94f693S%2F7rzQSvr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtbqJAFIbvhWz211r5clebNBvpDK5uz6EzztDgP0W0zlhthBadpve%2Bx03Te7AJhBAOkPPk%2FXjzdtWxudvsbO1dv3mYSfXnlqOSwzs99a69x6Z5rq%2B73af5br6unqpdczV3L4fqqtw%2FdeuXRV0eNs%2FNZr%2Bru%2F4iWP2MfwWdYLHyO%2FFyOe%2FMqzLqlItB%2BCtc%2BYPewO8%2BH%2Favm2V1qLuwKQ%2F7er9qrv5Wp3z%2Bsm26y2pbNdXy%2F039e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbtowFIbvJZr2azQfwAqVqilgh6XrOZ6NnYr%2BC0mgxBQQCU3iqvc%2Bp6p2D61kybJ1ZOs8fvy%2BOoeire93B105N68ODZdSLZ0b56muT9WN6z6nh3RbPBeH%2Bio1l3NxlR2f3eqyrrLz7lTvjofK9db%2B5ufo2h%2F46403GOV5OkiLbDjI1tPgOth40%2FHUc0%2Fn48suL86VC7vsfKyOm%2FrqT9El6WVfu3mxL%2Boif19Uv9LTbvBiK%2B3ht4HnTweeHf7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRjqIwFIbfhWz2apWCuKMmkw3aMsG1h21tmTB3iMhgFYzgIJ3Mu2%2FHTPYd3KRN2%2BSkTb98%2F3m3qvzarspKNdbs3SL%2BWsi1NbNe2%2FbUzGz7mFZpkR%2Fzqh2m%2BnLOh1l9tJvLpsnO5akt66qx0cbZ%2FfQenIGz2aGBt92mgzTPRoNsM3Uf3B2ajqfIPp3rt3Kbnxubltm5bupdO%2Fyd93F6ObT2Nj%2Fkbb69HZpf6akcvJlKc%2Fmji5zpAJnhfP%2FWKPNirfLqUar4mcdLwSUPBInlWk6jlTzIHQ4dKoouEskoEoWmOOthTxHo%2BYSqcMTEC2GKdVSGHpA4iLDqmSaIfdbI5ErREjNBrB9fHNx7BwGajakwn9tnHsX%2BFXQ8YZoTwNs5IAiASBdI4hkgHdXM4xgIx0qDOGAufAPimfwPQoD2HdiHPejCBU3NDCZcKIdJcmUqxqCVESIcc7lcgABCSUBAvD5x9bnKLw4Ls%2Bf%2B6v7zcdNiX7gU0w50ctOC7plHERtRQh0ugQBZLphaPjH9sgAFhKFgzlVslKEGxz8URPp%2F7jwlVzBtwyTEWF94VFPTPuIJlbExIUOcJH2E5wZH0oEiHSWs5zhEET4smI6xSZX18fEX
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/pgsqll5pucck6ig7gg4yakay","name":"pgsqll5pucck6ig7gg4yakay","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgzw3rbrzt5vpdcbygpnsuvbfjb3a4lrtswsfiwae4uzzqhhxby4qgkbffro4fnsj34/providers/Microsoft.KeyVault/vaults/pgsqll5pucck6ig7gg4yakay","location":"eastus","tags":{},"deletionDate":"2020-06-20T02:42:44Z","scheduledPurgeDate":"2020-09-18T02:42:44Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cmk-test-keyvaultqkq4ya5","name":"cmk-test-keyvaultqkq4ya5","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgrqp3oumshqejm277o23epejcwxsluzleecj5asyawgkzk7v5sqp3jmwqaqsbju74n/providers/Microsoft.KeyVault/vaults/cmk-test-keyvaultqkq4ya5","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbpswFIbvBU37NcJn1iRSNSXYRLDa1I5N1f4jhKQYAlEgJbjqve90qnYPmWTJsmzZOo%2Bf874bTXHtH8qm6ozFu4GXGyE3xsJ47ftTt7CsY9Zkh%2BJYNP0k05dzMcnbo9Vdtl1%2BLk992TadZW%2Bd%2FU%2F%2FzjGd7d42%2Fd0uM7Mi98x8O3fv3L09n85t63Ru38pdce4sUubntmv3%2FeR3MabZpe6tXVEXfbH7u%2Bh%2BZafSfIOTcPm9aztz04bhfP%2FWV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRjqIwFIbfhWz2apGCsKMmkw3aMsG1ZVtbJ3qHgAhVNIIjdjLvvmc3k30HN%2BlNm5PTnC%2Fff96tpui7RdXo1pq8WyRcSrW0Jta%2B687txHGOaZOWxbFoukFqrpdikJ2OTnvdttmlOnfVqWkdtHV33%2F0n13a3O2T7eZ7aaZEN7Ww79p68HRoHY%2BScL6e3Ki8urUOr7HJqT7tu8LO4r9LroXPy4lB0Rf730v5Iz5X9BpXQ%2FNlD7thGcNyvX1oNP5500TwrvXoVq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTdjtowEEbfJap61RDnhy4grSoaG5R0Z7IONqv0LiQhSwIJImEJXu2711Rt34FKvhmNZWuOz%2Bd3oymG%2FmnX1J0xezfYfCXkypgZr31%2F7GaWdUibtCwORdOPUnU%2BFaOsPVjdedNlp92x37VNZ5GNvf3qPdimvdkS08vz1EyLzDWzzdR5cLZkOp4S63hq33Z5ceos2GWntmu3%2FehHcV2n531v5cW%2B6Iv8d9F9S487803v1Ic%2FOsSemkQv%2B%2FOnrtY3tnX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32aQk2JNskUlWl9RCRjQfh2FT0jYCTAAlEgbSEqv%2B%2BbrU%2F0ZU8ki2NbM3xue9WrftuXdRVa83fLVhspNpYc%2BvQded27jintE73%2BqTrbpQO14seZc3Jaa%2FbNrsU565o6tYhW7r7Pb6jNt3uiD3O89ROdebZ2Xbm3rk7MpvMiHO%2BNK9Fri%2Btw4vs0rTNrhv90bc4vR47J9dH3en869A%2BpOfCfjWd5vJ7l9CZTcyiP3%2B0lXmxqXR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtbpswFIbvBU37NcJXsiaRqiqpnYguxwhiU6X%2FCJgUTCAC0oCr3vtOp95EJ9k6svwlP37ed6OWQ78ratUZy3eDrvZc7I2l8dr3l25pWeekTk7yLOt%2BkuhrKydpc7a667FL2%2BLSF03dWfbRyX9P7xzTOea2Oc2yxExk6pnpceHeubm9mC1s69I2b0Um286CIm2brsn7yR85xsm16q1MVrKX2b9B95BcCvMNV%2BLh967tLEwbm%2FPzR6fwxkbJ%2Bl6o%2BDmKn3g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPdbpswFAfwd0HTrkowH1lDpGrKYqeC5RjZsamyOwIOAycQBdIQqr573W4v0Uq%2BsH0sW%2Benv1%2BsRg39ump0Z81fLLLYCLmx5tbfvj91c8c5Zk1WqqNq%2Bkk2Xs5qkrdHp7vsuvxcnfqqbToH7dz9j%2BDetd3dHtlBUWR2pnLfznehd%2B%2FtUTgNkXM6t89Voc6dA1V%2Bbrt2309%2Bq1uaXQ69U6iD6lXxseh%2BZqfKfjYnzeUPHnJDG5nhfv%2FWafNiq1X[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhbtowFIXfJZr2ayGOAysgVRPFRkqHL4qxU7F%2FITEhDiSIhJKk6rv3bupLdJKv7CNdXet8OvfNqUzXrouqbJz5m8MXW6W3ztw5tu2lmXveOamS3JxN1Y6S4XY1o7Q%2Be81t36TX4tIWddV4ZO8ffo4ffNffH4g7zrLETUwauOl%2BRh%2FogcwmM%2BJdrvVrkZlr44kivdZNfWhHv00fJ7dT62XmZFqT%2FRPNr%2BRSuK%2FYicMfKfFnLsHjf%2F%2FWlPhjXZrqU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb6JAEIb%2FC7ncp0MWlKuaNBe8XQxeZwjrro1%2BQ0AKq2gEi2zT%2F969S%2F9EL5kvk7wzkzx55s1qinv3VDWqteZvFgvWQq6tufXSdZd27jintEnL4lQ03SjVt2sxys4np73t2%2BxaXbrq3LQO2buHn5MH13b3B2JP8jy10yIb29l%2B5j14BzLzZ8S5XM%2BvVV5cWweq7Hpuz4du9KcYNunt2Dl5cSy6Iv%2FXtL%2FSS2W%2FmqRZ%2FugRd2YTU%2B73b60yF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbpswGEDfBVW7GsEmdE0iVVMauxNZ%2FCE7NhW9I2ASfgJRIA1Q9d3nVH2JTvLNJ3%2BypaNz3q1a990mr8vWWrxbdLmVamstrEPXndqF4xzjOt7ro667STxeznqSNEenveza5JyfurypWwftcPbLe8A23mXI9tI0tmOdTO1kN3cf3AzN7%2BfIOZ2btzzV59ZheXJu2ibrJn%2F1EMaXqnNSXelOp59D%2Bzs%2B5fab2TSPP7oIz21kDv5x15bmx6bU9aMqwxcRrqVQ4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPrbpswFIDfBU37NcI1a4hUTUlsKrrYCMemYv%2BIMZRLIAqkAaq%2B%2B06mvkQn2fLt6Fjn03fetVaNw75s615bv2t4c%2BDioK2112E492vDOKVtWqiTaodFOl8vaiG7k9Ffj728lOeh7NreMI9W%2FtN9sHTrmJu6m2Wpnirp6PLo2Q92bnpLzzTOl%2B6tzNSlN0gpL13f5cPit5ri9NoMRqYaNajs36H%2FlZ5L%2FQ0iIfmjbVqebsKwvn%2Fra%2Fixq1X7KOr4h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNdb5swFIb%2FC5p2NYL5yJpEqiaKnYksx8iOTZXeETAESCAKpElc9b%2FXm%2FonOuncWOeVLT1%2B3jerU7dxXXftYC3eLBJuhNxYC2s%2Fjqdh4TjHrMsqdVTdOMn05awmeX90hstuyM%2F1aaz7bnDQzi1%2FBg%2Bu7e5KZAdFkdmZyn073829B69E8%2BkcOadz%2F1oX6jw4UOfnfujLcfJH3dPschidQh3UqIp%2Fh%2BFXdqrtV5M0lz96yJ3byIz7%2FdvQmhf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb6JAEIb%2FC7ncpyILxauYNI3tjgbPnQ24a2O%2FISwKq2AAq9L0v3e99E%2F0kkkmM3kzk3ky74dVqUu3KCrdWuMPCyZLIZfW2Np13bEdO84hqZKtOqiqGyT9qVGDtD447WnTpk1x7Iq6ah2ycfM%2F%2FoNru5uc2H6WJXai0ns73QTeg5eTYBgQ59jU70WmmtZhRdrUbZ13g7%2FqukpO%2B87J1F51KvtXtE%2FJsbDfjdIMf%2FSIG9jEhPv7V6vNxlqr6lHq1Wu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dJhb6owFAbg%2F0Ju7qeLFJRtmCw3Xnsw7tpjqK3L9g2hIFTBUNyUZf993bI%2FsaT90OTkNO%2BT981p1KVfVY02zvTNgdlGyE3gTJ1935%2FM1POOaZOW6qiafpQO506NsvbomfPOZF116qu2MR7Z%2BcXN5NZ3%2FV1B3Emep26qsrGb7aLgNihIFEbEO3XtS5WrznisyrrWtEU%2F%2Bq%2Bu2%2FR86L1cHVSv8q%2BH%2BZueKvfFTtrl9wHxI5fY4%2F%2F%2BZbT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dJxa6swEADw7yKP%2FTWrsbrNwhilscX3mkjSXEfff1aj1bRajJ1txr773GAfYnBwBI477pd7txp57ddVo7Q1e7ei%2BUbAxrNm1qHvz3rmOKe0SUt5kk0%2FSc2lk5OsPTn6stdZV537qm204%2B5R8eA%2FIhvtC9f28zy1U5lN7Wwfeo9e4YZB6Drnrn2rctlph1RZ1%2Bq26Cf%2F5G2bXo69k8uj7GX%2B%2FdAv6bmy38bKsfmz56LQdsdAd3%2B0Gie2SjbPoLavf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZLdbqMwEEbfBa32qgTzk22IVK2i2qnSzdiC2KmaOwKGBROIMGmIq777uqu%2BRKW5%2BTSjGc3ReXc6OY3bulPaWb47ZLXjYhc4S%2BfvOJ710vNOWZdV8iS7cZaZyyBneX%2Fy9OWo86E%2Bj3XfaQ8d%2FfJXdO%2B7%2FrFEblQUmZvJPHTzYxzcByWK5zHyzkP%2FVhdy0B7U%2BdDrvhxnf%2BRtn13a0StkK0dZ%2FA%2F6d3au3Tc7aZc%2FBMiPXWTL%2F%2FlDK[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dLRaqNAFAbgd5Flr9Y4Y5NtDJSinYkkmzniZMaS3hkdjZpocEyTTOm7r13YhyicmwOH%2F8DH%2F2G16jZsqrbR1uLDov5WyK1rLazDMJz1wnFOaZuW6qTaYZKaS68mWXdy9GWvs746D1XXagftcfF7%2BohtvC%2BQPc3z1E5V9mBne899dAvkzTzknPvuvcpVrx1WZX2nu2KY%2FFH3JL0cBydXRzWo%2FN%2Bin9NzZb%2BPl2P4k4uwZ6Nx8M8fuhk%2Fdo1qn2STvPJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1dLhiptAEADgd5HSXzWue6YXA0cx3U1Jmhlxs5sj%2FWd0Tc0aDWrOxOPe%2FfZKX%2BJgBmZgmIGPeXVqfes3ZW06Z%2F7q8Ggr1ZY6c%2Bdv31%2B6ueed0zo96rOu%2B0k6Xls9yZqz110PXdaWl75s6s4jB7%2F4Hjz6rn8oiBvkeeqmOntws0NIH2lBwmlIvEvbvJS5bjsPyqxtuqboJ7%2F1fZdeq97LdaV7nf9ruh%2FppXRf7KRd%2FkSJH7rEhv%2F1S2fsxcbo%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=1ZJhT4MwEIb%2FCzF%2BklFg6liyGKHFqOsROopx3xgUhG6wUOa2Gv%2B7aPwTS%2B7LXd7cJc89X0YrTsOybqUy5l8GeVwlfOUYc%2BNjGPZqblm7rM0qsRPtMMn0oReTvNtZ6rBReV%2Fvh7prlYU2dnk3vbdNe1Mic1oUmZmJ3DXzjefcOyXybj1k7fvusy5Eryxa532nunKYvIpzmh22g1WIrRhE8deoh2xfm59jcly%2BcJDtmWgs%2B%2FpKyfFiJ0W74DJ9Y%2BlLw[...]
- request:
    body: null
[...]
