interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"hanglei@microsoft.com","createdByType":"User","createdAt":"2022-07-29T08:43:10.543Z","lastModifiedBy":"hanglei@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-07-29T08:43:10.543Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"fe87037c-4c23-46ac-9fcf-5ad3d7e5ba3e","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv0630","name":"bez-kv0630","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez[...]
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "fe87037c-4c23-46ac-9fcf-5ad3d7e5ba3e",
      "permissions": {"keys": ["all", "purge"], "secrets": ["all"], "certificates":
      ["all"], "storage": ["all"]}}], "vaultUri": "https://cli-test-kv-key-000002.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "provisioningState": "Succeeded", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/80f2681c8035427e9c0cb29f02c3fdcf","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"_JyAnO6H16csBk0H0gGohxoiRveGgE6bHEVEPrV_XcWYSYLMjHqsxIQtJTeSMdBqARqPu9YJC25RLw_lDyEDy93CBLj8DGRKBgKgUgoo9vHxGTIxnlGWAcv1yjX5Sx7R0CWtm8uCbQCjf99jDKIrhiqPZ90AygAzZfZlBO9eKItgSb1tyXcQSfFjz6Eq-iaXtYTcKgXSLPyEISQNIHR7ljDl8h3N8U7cQQIt-HFfZvVD7E-al9sDT3gc9oK1Cxpmijwq93Y7A-97xXzKEkOvmVGrjAL67ncddMbRmK29fDsDf7FXaXt_u9L_XKkzanqYGlYRzWhbEbFpU_yBQfHipQ","e":"AQAB"},"attributes":{"enabled":true,"created":1659084230,"updated":1659084230,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003?api-version=7.3
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/key-000003","deletedDate":1659084232,"scheduledPurgeDate":1659689032,"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/80f2681c8035427e9c0cb29f02c3fdcf","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"_JyAnO6H16csBk0H0gGohxoiRveGgE6bHEVEPrV_XcWYSYLMjHqsxIQtJTeSMdBqARqPu9YJC25RLw_lDyEDy93CBLj8DGRKBgKgUgoo9vHxGTIxnlGWAcv1yjX5Sx7R0CWtm8uCbQCjf99jDKIrhiqPZ90AygAzZfZlBO9eKItgSb1tyXcQSfFjz6Eq-iaXtYTcKgXSLPyEISQNIHR7ljDl8h3N8U7cQQIt-HFfZvVD7E-al9sDT3gc9oK1Cxpmijwq93Y7A-97xXzKEkOvmVGrjAL67ncddMbRmK29fDsDf7FXaXt_u9L_XKkzanqYGlYRzWhbEbFpU_yBQfHipQ","e":"AQAB"},"attributes":{"enabled":true,"created":1659084230,"updated":1659084230,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.3
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/deletedkeys?api-version=7.3
  response:
    body:
      string: '{"value":[{"recoveryId":"https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/key-000003","deletedDate":1659084232,"scheduledPurgeDate":1659689032,"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003","attributes":{"enabled":true,"created":1659084230,"updated":1659084230,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/key-000003?api-version=7.3
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/key-000003","deletedDate":1659084232,"scheduledPurgeDate":1659689032,"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/80f2681c8035427e9c0cb29f02c3fdcf","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"_JyAnO6H16csBk0H0gGohxoiRveGgE6bHEVEPrV_XcWYSYLMjHqsxIQtJTeSMdBqARqPu9YJC25RLw_lDyEDy93CBLj8DGRKBgKgUgoo9vHxGTIxnlGWAcv1yjX5Sx7R0CWtm8uCbQCjf99jDKIrhiqPZ90AygAzZfZlBO9eKItgSb1tyXcQSfFjz6Eq-iaXtYTcKgXSLPyEISQNIHR7ljDl8h3N8U7cQQIt-HFfZvVD7E-al9sDT3gc9oK1Cxpmijwq93Y7A-97xXzKEkOvmVGrjAL67ncddMbRmK29fDsDf7FXaXt_u9L_XKkzanqYGlYRzWhbEbFpU_yBQfHipQ","e":"AQAB"},"attributes":{"enabled":true,"created":1659084230,"updated":1659084230,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/deletedkeys/key-000003/recover?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key-000003/80f2681c8035427e9c0cb29f02c3fdcf","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"_JyAnO6H16csBk0H0gGohxoiRveGgE6bHEVEPrV_XcWYSYLMjHqsxIQtJTeSMdBqARqPu9YJC25RLw_lDyEDy93CBLj8DGRKBgKgUgoo9vHxGTIxnlGWAcv1yjX5Sx7R0CWtm8uCbQCjf99jDKIrhiqPZ90AygAzZfZlBO9eKItgSb1tyXcQSfFjz6Eq-iaXtYTcKgXSLPyEISQNIHR7ljDl8h3N8U7cQQIt-HFfZvVD7E-al9sDT3gc9oK1Cxpmijwq93Y7A-97xXzKEkOvmVGrjAL67ncddMbRmK29fDsDf7FXaXt_u9L_XKkzanqYGlYRzWhbEbFpU_yBQfHipQ","e":"AQAB"},"attributes":{"enabled":true,"created":1659084230,"updated":1659084230,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/deletedkeys?api-version=7.3
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
