interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_pecnnb67eqgb3s5ilaq4b4l7cfgjzwemd7pamemy7dtctpmo4re7poljw/providers/Microsoft.KeyVault/vaults/cli-test-kv-pec-nwbkraaf","name":"cli-test-kv-pec-nwbkraaf","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_plr000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-plr-000002","name":"cli-test-kv-plr-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgflg4nxtulmudfox23xvcar77ngr5h2ec3bibwvdhxelx5j6ggxf4zqktp6it2rnrp/providers/Microsoft.KeyVault/vaults/keyvaultvsm4pkmfjarf","name":"keyvaultvsm4pkmfjarf","type":"Microsoft.KeyVault/vaults","location":"centralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python-sdk-test/providers/Microsoft.KeyVault/vaults/python-devops-key","name":"python-devops-key","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python-sdk-test/providers/Microsoft.KeyVault/vaults/SDKAutoPipelineSecrets","name":"SDKAutoPipelineSecrets","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yishitest/providers/Microsoft.KeyVault/vaults/ystestkv","name":"ystestkv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_plr000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-plr-000002/privateLinkResources?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_plr000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-plr-000002/privateLinkResources/vault","name":"vault","type":"Microsoft.KeyVault/vaults/privateLinkResources","properties":{"groupId":"vault","requiredMembers":["default"],"requiredZoneNames":["privatelink.vaultcore.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
