interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27fey_microsoft.com%23EXT%23%40AzureSDKTeam.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"0a592c45-613e-4f1b-9023-7c4414fd53bf","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-08-07T22:18:30Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Feiyue
        Yu","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"fey@microsoft.com","mailNickname":"fey_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["fey@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:fey@microsoft.com"],"refreshTokensValidFromDateTime":"2019-08-07T22:18:30Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/0a592c45-613e-4f1b-9023-7c4414fd53bf/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"fey_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-08-08T01:44:26Z","userType":"Guest"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2371966'
      ocp-aad-diagnostics-server-name:
      - Drw2XA9KyQgsrpvmmqtwgHiZqOOXvdLCC08yhhod2oI=
      ocp-aad-session-key:
      - wBLA9LzMpAxpSI8utN0jiPuvdwG-6TOQIzSEzFdsPBd313zYMkAgOMzCDXQdTrWwQfJqsfFoXQMWc4zysott4q7BE-FCNU1bGftazBbW4JhB90it_v6MubwYz5igA91I.KxEBN6w3pBf29JWQvC1G1d0LP9vyp8PCl-VhuZJ5eJ0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest0913.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.2-preview
  response:
    body:
      string: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest0913.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Authorization/roleAssignments/f9c3cc35-47d8-4412-90bf-cd8691812670","name":"f9c3cc35-47d8-4412-90bf-cd8691812670","properties":{"principalId":"0d504196-1423-4569-9a6e-15149656f0ee","roleDefinitionId":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778","scope":"/keys"},"type":"Microsoft.Authorization/roleAssignments"},{"id":"/providers/Microsoft.Authorization/roleAssignments/4877254d-2665-4a1a-a348-877f4f1c55a8","name":"4877254d-2665-4a1a-a348-877f4f1c55a8","properties":{"principalId":"0a592c45-613e-4f1b-9023-7c4414fd53bf","roleDefinitionId":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778","scope":"/keys"},"type":"Microsoft.Authorization/roleAssignments"},{"id":"/providers/Microsoft.Authorization/roleAssignme[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest0913.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a290e904-7015-4bba-90c8-60543313cdb4","name":"a290e904-7015-4bba-90c8-60543313cdb4","properties":{"assignableScopes":["/"],"description":"","permissions":[{"actions":[],"dataActions":["Microsoft.KeyVault/managedHsm/keys/read/action","Microsoft.KeyVault/managedHsm/keys/write/action","Microsoft.KeyVault/managedHsm/keys/deletedKeys/read/action","Microsoft.KeyVault/managedHsm/keys/deletedKeys/recover/action","Microsoft.KeyVault/managedHsm/keys/backup/action","Microsoft.KeyVault/managedHsm/keys/restore/action","Microsoft.KeyVault/managedHsm/roleAssignments/delete/action","Microsoft.KeyVault/managedHsm/roleAssignments/read/action","Microsoft.KeyVault/managedHsm/roleAssignments/wri[...]
- request:
    body: '{"objectIds": ["0a592c45-613e-4f1b-9023-7c4414fd53bf"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"0a592c45-613e-4f1b-9023-7c4414fd53bf","deletionTimestamp":null,"accountEnabled":true,"ageGroup"[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clitest0913.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/4877254d-2665-4a1a-a348-877f4f1c55a8?api-version=7.2-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Authorization/roleAssignments/4877254d-2665-4a1a-a348-877f4f1c55a8","name":"4877254d-2665-4a1a-a348-877f4f1c55a8","properties":{"principalId":"0a592c45-613e-4f1b-9023-7c4414fd53bf","roleDefinitionId":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778","scope":"/keys"},"type":"Microsoft.Authorization/roleAssignments"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '38'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27jiasli_microsoft.com%23EXT%23%40AzureSDKTeam.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"0d504196-1423-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27yungez_microsoft.com%23EXT%23%40AzureSDKTeam.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"7e58ddef-4719-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest0913.managedhsm.azure.net/keys/providers/Microsoft.Authorization/roleDefinitions?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a290e904-7015-4bba-90c8-60543313cdb4","name":"a290e904-7015-4bba-90c8-60543313cdb4","properties":{"assignableScopes":["/"],"description":"","permissions":[{"actions":[],"dataActions":["Microsof[...]
- request:
    body: '{"properties": {"roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778",
      "principalId": "0a592c45-613e-4f1b-9023-7c4414fd53bf"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest0913.managedhsm.azure.net/keys/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=7.2-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","name":"88888888-0000-0000-0000-000000000001","properties":{"principalId":"0a592c45-613e-4f1b-9023-7c4414fd53bf","roleDefinitionId":"Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/515eb02d-2335-4d2d-92f2-b1cbdf9c3778","scope":"/keys"},"type":"Microsoft.Authorization/roleAssignments"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '40'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest0913.managedhsm.azure.net/keys/providers/Microsoft.Authorization/roleAssignments?api-version=7.2-preview
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","name":"88888888-0000-0000-0000-000000000001","properties":{"principalId":"0a592c45-613e-4f1b-9023-7c4414fd53bf","roleDefinitionId":"Microsoft.KeyVault/providers/Microsoft.A[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%277e58ddef-4719-4c36-a485-4c2a0a843a46%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2163963'
      ocp-aad-diagnostics-server-name:
      - u84kEvNmBHxW4/vtHqUleUYQGGbAjaquR19gMFnyQJs=
      ocp-aad-session-key:
      - zGb7N86puKRb5XQhL0-_zglyTMzmXZM0Yhb3JxOvIXr-eoqF7N5VfPlrRzYS9I0VsBS9yMXiLmd0QKKwUrpF949-jGdt46_kzuUmYREBlebe1T7F2McOjLjpYRw0u10s.aTFQsfXVXRgmG2XBVswXNucvov1mbiO7LzYm__JomU0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
