interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2330196'
      ocp-aad-diagnostics-server-name:
      - xguPw8Z/ZczT5yPbDDvGkQM2Upn8A70k96nygYpoTFs=
      ocp-aad-session-key:
      - UjelAdpVt_S_uSDMAR_c2Dgbpi3sg6TQvo33YYaA3eVBsHuNN9Dz4IdvB23JZHYkfxyX1rAb1vaMEj5Y2xqbkbQcQi3RHC1u5GpZ1yOgxgos4uL1djm84mMR4H4M05ZK.LFOImbYymZj-pVONEfpatdEN0yjJV8XKEOgKPvKNy9g
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      true, "softDeleteRetentionInDays": 7, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-kv-se-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv1","name":"bim-kv1","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkv2","name":"bimkv2","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/dogfood-env-pwd","name":"dogfood-env-pwd","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["recover", "delete", "list", "restore", "purge", "backup",
 [...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/24a56956872043cc846cd57356a5eff2","attributes":{"enabled":true,"created":1607676797,"updated":1607676797,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1607676797,"updated":1607676797,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret2","attributes":{"enabled":true,"created":1607676798,"updated":1607676798,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1607676797,"updated":1607676797,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret2","attributes":{"enabled":true,"created":1607676798,"updated":1607676798,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE4MCFNREF3TURFMElYTmxZM0psZEM5VFJVTlNSVlF5SVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ&maxresults=1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"value": "DEF456", "tags": {"test": "foo", "file-encoding": "utf-8"},
      "contentType": "test type", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c2d5e108135f4f259e741d3eb008eea1","attributes":{"enabled":true,"created":1607676806,"updated":1607676806,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/24a56956872043cc846cd57356a5eff2","attributes":{"enabled":true,"created":1607676797,"updated":1607676797,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}},{"contentType":"test
        type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c2d5e108135f4f259e741d3eb008eea1","attributes":{"enabled":true,"created":1607676806,"updated":1607676806,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/24a56956872043cc846cd57356a5eff2","attributes":{"enabled":true,"created":1607676797,"updated":1607676797,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}},{"contentType":"test
        type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c2d5e108135f4f259e741d3eb008eea1","attributes":{"enabled":true,"created":1607676806,"updated":1607676806,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjQhTURBd01EUTNJWE5sWTNKbGRDOVRSVU5TUlZReEwwTXlSRFZGTVRBNE1UTTFSalJHTWpVNVJUYzBNVVF6UlVJd01EaEZSVUV4SVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ&maxresults=1
  response:
    body:
      string: '{"value":[{"contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c2d5e108135f4f259e741d3eb008eea1","attributes":{"enabled":true,"created":1607676806,"updated":1607676806,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/?api-version=7.0
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c2d5e108135f4f259e741d3eb008eea1","attributes":{"enabled":true,"created":1607676806,"updated":1607676806,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/24a56956872043cc846cd57356a5eff2?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/24a56956872043cc846cd57356a5eff2","attributes":{"enabled":true,"created":1607676797,"updated":1607676797,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAucUUzT1lja2FiSHBaVXNLQ0ZFb0Z[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-se-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1607676819,"scheduledPurgeDate":1608281619,"contentType":"test
        type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c2d5e108135f4f259e741d3eb008eea1","attributes":{"enabled":false,"created":1607676806,"updated":1607676816,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-se-000002.vault.azure.net/deletedsecrets/secret1?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAucUUzT1lja2FiSHBaVXNLQ0ZFb0ZaQTUtcVVMM0xEaWlGT0dkRDRYYkR0a2d5UURLZ1dBSWp5N3V3VU1vaWpDS3prSzI3MkN5MWowOUdPTk5PLWdHRlZMeGxKd3prQkVYWm4wd1NVZEZBSTFJSklVSTNwOGlRTUE3bm5IU0x2S2JENDNVTUtHY1d1SjJVcGtXUS1RdzhlUlNXT0hDSzg1UDl6UndQRmpSakJzUTdzRmk0UDROeEhaT3lEWDg[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/300dc3fbaeda4cbbb0fe966a6056c69e","attributes":{"enabled":true,"created":1607676852,"updated":1607676852,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/300dc3fbaeda4cbbb0fe966a6056c69e","attributes":{"enabled":true,"created":1607676852,"updated":1607676852,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/b7dc969e88f4402a991fbf57d045dc8f","attributes":{"enabled":true,"created":1607676855,"updated":1607676855,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/b7dc969e88f4402a991fbf57d045dc8f","attributes":{"enabled":true,"created":1607676855,"updated":1607676855,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/488c1fcb7baa45c79ae45cf1d023c9f2","attributes":{"enabled":true,"created":1607676857,"updated":1607676857,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/488c1fcb7baa45c79ae45cf1d023c9f2","attributes":{"enabled":true,"created":1607676857,"updated":1607676857,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/6a0771a48fc84cdc9a859fcb6e0b69ae","attributes":{"enabled":true,"created":1607676860,"updated":1607676860,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/6a0771a48fc84cdc9a859fcb6e0b69ae","attributes":{"enabled":true,"created":1607676860,"updated":1607676860,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64?api-version=7.0
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/c71090e2e1b24a6a887c21209c8170e2","attributes":{"enabled":true,"created":1607676863,"updated":1607676863,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/?api-version=7.0
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/c71090e2e1b24a6a887c21209c8170e2","attributes":{"enabled":true,"created":1607676863,"updated":1607676863,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex?api-version=7.0
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/4feb6dd3c57a475e84e457731a30bc44","attributes":{"enabled":true,"created":1607676865,"updated":1607676865,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/?api-version=7.0
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/4feb6dd3c57a475e84e457731a30bc44","attributes":{"enabled":true,"created":1607676865,"updated":1607676865,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
