interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2460019'
      ocp-aad-diagnostics-server-name:
      - c961QXj+XitIe9ndNvmA8K1Z1/zgJelmYQNKQ1J3RwA=
      ocp-aad-session-key:
      - Wzb5QVlOPKtZrpy_Doarf4MNmwV52PyZ2HJ9DNmjW8HVakz5LOfoAVYHTU5PwwZ0_fBGF-l_4lGimYj4RFYQzNtY0mIw2WOekdTfyndkZT10yJlu-tzgO3g6sCJeV772.tFnZPCNbzmxLSJYpMzSjjUHzUSwNXbUSmIkxb8cd_h4
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"y3VesZEgM1ZeoXIEibFyhn9RHXAgkLKEVPEFlHHfrQ1Ak8-TvqfujuQhuUNMXcUarOlJK0D6tB7G4gKMIM3cFGruBMReT_zfkA-1Sko7zBSXw9OXE8iZK2fzM-aggirQnxzbe7SPsQqgabDEQ7mwPNvMBGsn6X11Q8pInRVTC5mQfrLUQ6dEVP8ZvEdX0ukfZ2PloAM_zsL2red6vrMPYW4F4ZTU5vr2v2qXNmPszm9-2qzo2XmCyRe4_4rLevDefw3bWjXsry2yGsokCoK3Bh7CsW9UKekf83ntv9909fYPppOTz7g9kp7b70vVaG814qLKCT9h6SRlG76o1ozdzw","e":"AQAB"},"attributes":{"enabled":true,"created":1600758663,"updated":1600758663,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkv0921","name":"bimkv0921","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00000[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["decrypt", "restore", "get", "create", "import", "backup", "encrypt", "delete",
      "update", "recover", "list"], "secrets": ["get", "list", "set", "delete", "backu[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "YWJjZGVm"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/encrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2","value":"qTg9od20TbT9YqSxxwtLoKDRnkQ_qMulrMHadjzzkiqJ6CnQ8EPuuXOt4cvp1KnCBYid81OnSglIhLLzqw0t3WcWMACUL3OvB0tNrQS2IuyFnJKpMcOZYf9KsOotSL6_Gscwk2gvcWbFUYuhcJUKPlI3MNTsOo7NjxdiJCsKQG_H3HwxWjbfX8BbpJwJ2GFeKEuBw3xgo-Dg-oEqBHpy0dSEcFv8DCq1pJTmJ0ValJ4kwU885G-TbkXtQb9iMQlVxz2A-o3Gmw-vhWsDVQuV-s7HWjBRMsdIzP7w2rBxtM-_z4KGhQcRtXTIA4VksBI5NvP3KhQ7Ixw2DTrtwTSBdQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "RSA-OAEP", "value": "qTg9od20TbT9YqSxxwtLoKDRnkQ_qMulrMHadjzzkiqJ6CnQ8EPuuXOt4cvp1KnCBYid81OnSglIhLLzqw0t3WcWMACUL3OvB0tNrQS2IuyFnJKpMcOZYf9KsOotSL6_Gscwk2gvcWbFUYuhcJUKPlI3MNTsOo7NjxdiJCsKQG_H3HwxWjbfX8BbpJwJ2GFeKEuBw3xgo-Dg-oEqBHpy0dSEcFv8DCq1pJTmJ0ValJ4kwU885G-TbkXtQb9iMQlVxz2A-o3Gmw-vhWsDVQuV-s7HWjBRMsdIzP7w2rBxtM-_z4KGhQcRtXTIA4VksBI5NvP3KhQ7Ixw2DTrtwTSBdQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/decrypt?api-version=7.0
  response:
    body:
      string: '{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2","value":"YWJjZGVm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1600758663,"updated":1600758663,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1600758665,"updated":1600758665,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1600758663,"updated":1600758663,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1600758665,"updated":1600758665,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3MiFNREF3TURBNElXdGxlUzlMUlZreUlUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3a79fa3e6556448cae914b4dcfb7a184","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"usirTpkFTLLvA5Ol1ct_pt_Uuj2mD9RaR0FbY5A75TQWx5oKLN3V7tAOF8wkBohDXEauDSSUU_JseS0RNr0yYlTyypsbi-JTv7LcgqkN_G-Yz-OFhmLZWKRxA5B9PH4i4rXAZehJcimm2-NBhoEux5H1vNyS36IeruNkNzMqKA1J3VapKsFOOR9moJKgWlk_pjfHV2DW1QipyP56EjUHqQgLtDuTf1fR5waYsnL5hLtxxBmitCQFGY6__EHouxQFUDtgpBxeSBQkLB-RezP-00o5KYxhqeUjPH_H799Ld3_1E8msza9imERTaoq7-A38PwXkMdQtOSd0Q7wtA-uE9Q","e":"AQAB"},"attributes":{"enabled":false,"created":1600758678,"updated":1600758678,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3a79fa3e6556448cae914b4dcfb7a184","attributes":{"enabled":false,"created":1600758678,"updated":1600758678,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2","attributes":{"enabled":true,"created":1600758663,"updated":1600758663,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3a79fa3e6556448cae914b4dcfb7a184","attributes":{"enabled":false,"created":1600758678,"updated":1600758678,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2","attributes":{"enabled":true,"created":1600758663,"updated":1600758663,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMTYhTURBd01EUXhJV3RsZVM5TFJWa3hMemcwTUVGR09EVTNRMEpDUlRSQ05VRkJRalZHTVRNNE5VTkJSREV3TWtFeUlUQXdNREF5T0NFNU9UazVMVEV5TFRNeFZESXpPalU1T2pVNUxqazVPVGs1T1RsYUlRLS0iLCJUYXJnZXRMb2NhdGlvbiI6MH0&maxresults=1
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2","attributes":{"enabled":true,"created":1600758663,"updated":1600758663,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3a79fa3e6556448cae914b4dcfb7a184","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"usirTpkFTLLvA5Ol1ct_pt_Uuj2mD9RaR0FbY5A75TQWx5oKLN3V7tAOF8wkBohDXEauDSSUU_JseS0RNr0yYlTyypsbi-JTv7LcgqkN_G-Yz-OFhmLZWKRxA5B9PH4i4rXAZehJcimm2-NBhoEux5H1vNyS36IeruNkNzMqKA1J3VapKsFOOR9moJKgWlk_pjfHV2DW1QipyP56EjUHqQgLtDuTf1fR5waYsnL5hLtxxBmitCQFGY6__EHouxQFUDtgpBxeSBQkLB-RezP-00o5KYxhqeUjPH_H799Ld3_1E8msza9imERTaoq7-A38PwXkMdQtOSd0Q7wtA-uE9Q","e":"AQAB"},"attributes":{"enabled":false,"created":1600758678,"updated":1600758678,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/840af857cbbe4b5aab5f1385cad102a2","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"y3VesZEgM1ZeoXIEibFyhn9RHXAgkLKEVPEFlHHfrQ1Ak8-TvqfujuQhuUNMXcUarOlJK0D6tB7G4gKMIM3cFGruBMReT_zfkA-1Sko7zBSXw9OXE8iZK2fzM-aggirQnxzbe7SPsQqgabDEQ7mwPNvMBGsn6X11Q8pInRVTC5mQfrLUQ6dEVP8ZvEdX0ukfZ2PloAM_zsL2red6vrMPYW4F4ZTU5vr2v2qXNmPszm9-2qzo2XmCyRe4_4rLevDefw3bWjXsry2yGsokCoK3Bh7CsW9UKekf83ntv9909fYPppOTz7g9kp7b70vVaG814qLKCT9h6SRlG76o1ozdzw","e":"AQAB"},"attributes":{"enabled":true,"created":1600758663,"updated":1600758663,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkFSaTJOSVVfOUJqSEd3ckJBb1ZaOGtTQjZEMDNBeEZ3[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/3a79fa3e6556448cae914b4dcfb7a184","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"usirTpkFTLLvA5Ol1ct_pt_Uuj2mD9RaR0FbY5A75TQWx5oKLN3V7tAOF8wkBohDXEauDSSUU_JseS0RNr0yYlTyypsbi-JTv7LcgqkN_G-Yz-OFhmLZWKRxA5B9PH4i4rXAZehJcimm2-NBhoEux5H1vNyS36IeruNkNzMqKA1J3VapKsFOOR9moJKgWlk_pjfHV2DW1QipyP56EjUHqQgLtDuTf1fR5waYsnL5hLtxxBmitCQFGY6__EHouxQFUDtgpBxeSBQkLB-RezP-00o5KYxhqeUjPH_H799Ld3_1E8msza9imERTaoq7-A38PwXkMdQtOSd0Q7wtA-uE9Q","e":"AQAB"},"attributes":{"enabled":true,"created":1600758678,"updated":1600758689,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLkFSaTJOSVVfOUJqSEd3ckJBb1ZaOGtTQjZEMDNBeEZ3ak5Wcll6RUptVmxnZFRZci1GcDBJY255ei1ZeGdaUWY1UGk5LWgtWHViMVZRZEl6T05GenhrTHpFM0FMVldGN0hDcDJmUWFWOVFxTnJNVWJ4MTNxcHZ2SVdGV2ZLeVJPR2ZRZ2JKLWQ0RHdDeURNbENjSFV2TkJYN3NLNlpEaDJhTk00bjQ0ejNheC13U2NuQXpsbWF3SFk0dE1oc2tXckNncV9[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/c6d51f7a930b4c08a4cfebb68b83f8bc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1600758700,"updated":1600758700,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/f6de0d6a3ace4a94a6041cc921018b77","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"nczRSzOPDoBpKkrdCwCx9ujNEZKOI1EGSyi1KpKOc9A","y":"gBA62NMUm8QMVLcv5Ej4_nc8yJz0g5Un3YiS2w0vBTc"},"attributes":{"enabled":true,"created":1600758706,"updated":1600758706,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/02630864d547407388bda5314d763dd0","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"G9e88Ww93xbA7AfrdQrS--8tGCdOkdTDF3BNcrfgorQ","y":"WWf4OI5Kv4wH2-6At3cxrZ8h7UWGrM9LwSHoolLRKyo"},"attributes":{"enabled":true,"created":1600758707,"updated":1600758707,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/dfa74e0e2d0a4c259f18cc1d9e5e38fa","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1600758710,"updated":1600758710,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/82da95ba74bf48b48e6b48f3a7194058","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1600758711,"updated":1600758711,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/5aac3846f50f4d358345509fef51005e","kty":"RSA-HSM","key_ops":["import"],"n":"m35AHFa9wQNf4dnksTgs8BKxc1I_AYyFce6ZwLG_tdFv81u24N2ZIruY59lBHz8vHXlaVYSqYUNY0NUVw0Vx5-3mhJHIERaE1hUkbuJEA3JcYNZALppCMcJoaEvmAlPeUZRg_RMMGbOY7dO96oc2RE7xPJUJkUkHmVcAHhi_gTx_MmAFRLCP1VON5NZLRyxVy8gwluij1NMLBOj5YmqF7GMaz6GINBuJuF-O3bmgg2zTCfc1Mp0R0dvFDmhY2S3LgI9HcxU5H3WUSSk7mjL8lNVpCie2sEBHISHer3odcug12qxCDpvGH47-Yq78TbbirctMX38saQoJ-JSBBuAe1w","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600931552,"created":1600758752,"updated":1600758752,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.2
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/54d888e9e1214005b847ea839002a08a","kty":"RSA-HSM","key_ops":["import"],"n":"vQl-yJN7UilCnxZakrA6iQ0AcYXBBpJ9P4EEUa2KhIKYSZ5DCv4Q5KHWC4bXTpvvTi7-WAY5CH_IWE6mwVG-PyGvW2LEitz2UnIkkg6FtZgitbD9lO_mAI7tPzhKbhH2INycc1Y-EGbS25tKP7ZivOhVzkXJmXzrhHo8PAgup-6ya7V8qYWXLVIdOR3sPmpmW80LnphmN52tsv32lNolJLbdmNhyX9Xmsf2o995qLrDr1u7Julk-rrlgx0hPmsBhcpo9wJyEbEZO8s4KxRQF3O2pFRnxS9Y79naJwx3AxXMUl5sBu2DBvaTKETxXlq08a7TDnuZWg6R6vf8xDm5JafjgX8vxpJp7IQtEMfp93V6NwKgSVvzxvRyGb-Ek1undxeDXWvmTEKddtA9z_3R0fZ6NNfR8jms4aDgYu_qJuWH3zBODo-Nw4DGwHRjofVyVNWPKDL9Q0Bk4ha16md5GKz5pHBRJfTYhSgbInNbO58oHVKBI4gzxuPibZvmPsb7l_8PlqeubQ6Np7BtDQswFmT8Rmm0yfeeLhOCUohCiw7HxY260mYiPgQ70c9LkW21VDRSEzNeE5s18ouYr6KSheajkDRwwJTRv5oxQ9WWHdPQIeFcrgT6Qgnj_sUR67k7d4FoCm6U3bP_jikIaWMXh84jjoO7TKl5rTcuP0z8JvDk","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1600931558,"created":1600758758,"updated":1600758758,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
