interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2365959'
      ocp-aad-diagnostics-server-name:
      - qqS1nW/f2C4cOWske2GOiO1B2u+X+QokNWOXbFADc9I=
      ocp-aad-session-key:
      - Ex4Eh-H01hbLdHxNyIxo1wxiZM4XvQf9bZ3mEVinKAu1wllFp7nKr5zhPODtc-FusKatz6quzNvOHlyE8I_M2OmTB4e4RlgLJ4rMDftFMHqRoczn1-dHatiQn--6_wY6.UDSa_WorP96wNi4E77Gk3tsEuwpQJ49_bKuFEOTwaTA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_key_download000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-d-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_key_download000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-d-000002","name":"cli-test-kv-key-d-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"vaultUri":"https://cli-test-kv-key-d-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "h7ffwocPm8d414HUWGzrwqnHaMeOmqH9Bmm1IwT-IvQ",
      "crv": "P-256", "x": "clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc", "y": "h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/c53d1c7e0f5540f48380f3770a466e37","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc","y":"h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},"attributes":{"enabled":true,"created":1583847976,"updated":1583847976,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/c53d1c7e0f5540f48380f3770a466e37","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc","y":"h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},"attributes":{"enabled":true,"created":1583847976,"updated":1583847976,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "zL5lKpvA5G-5YsKYQfXZMlQzrMPtAbGBhzN5T_YBkLI",
      "crv": "SECP256K1", "x": "H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0", "y":
      "FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/438cdefe31af4685b2ebe08b9987bf5c","kty":"EC","key_ops":["sign","verify"],"crv":"SECP256K1","x":"H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0","y":"FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"},"attributes":{"enabled":true,"created":1583847997,"updated":1583847997,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/438cdefe31af4685b2ebe08b9987bf5c","kty":"EC","key_ops":["sign","verify"],"crv":"SECP256K1","x":"H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0","y":"FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"},"attributes":{"enabled":true,"created":1583847997,"updated":1583847997,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zJEYKuhIeHvKqZZtJRDtQjg17ChAZtY_yJfNqv30xnzkzOZwVmy7NViVQIRnkCYvAMCstja-EpEpeW02LD83teNQRKM9Nie74g7ehDn6ZZCSdQQ54TQemt26hMfnFVaUl376p0E398IP1leHcvYOaiVgT_ffUhNhgIUJ5sIphtf4D1p5bWFYvs_Gd-A-Fk38hnerpl7JRF4y6p5WGJzvXKKs0QVSaQ1NHD7L1tQ0xTKra3FS_BGwD7ZdgBZerqzBPgxRjuxzq2DQJlHtvINsFjJhsMtwI11UV5-tIBOEWPSBTIoQpUWGB-_4jZ44IpKlBDQuc1kqa2Y8-eO53Gxn-Q",
      "e": "AQAB", "d": "yt8yGotWI7aQ2_KEt3e79CoOv--DPvlHNEXn_6XvdFE0D0iRLASU_GinS96DXl-fyZ1LK0HK6lrvyK5YRTVEqKuQVSGWePiayat5XaSqAMOJm2bfh8nKeEdgzIH7WBwPLNcO-YQiXyEj16vidk4zKW17wJLP9HOoBG7rzN_Nkx0g2vmwPgb2MIpQQU9-O1pC3bbjfSfvahclfUTiUUTGId8RjnILP5ppToE0rm1N0NrCEBwUy7Z4DgOIOOeoOCB-RtPRqBKQCEAPHhu8c5pL_hAranvVdAP_Z41iFzWzvlftNXVA4gCp50-bs2zxk-PIZwNOVi1AEDtqj-WROB-rIQ",
      "dp": "Uhsfj7N_NR6fLEtvOBNu5Gof9QpzGoYWtoYXAbIGnMiTwoVg5LUNUOMhGHCcb7vknzwaWyNPrjjMZhpE5KK0a1hGQ8ZSm4luCNglXAptv9LKUq53GZ7QUwqoCxE0t1Dm_B-r0sXtH_Rp7vOL-t3NoUyTNcrP6q5SXiF4IW6TB5k",
      "dq": "MDQ4Qpvrhr1pr1qxn9F5oHdcqipqgZrgF6qszpbvt9ywrrdt1JdpC9RLTXIv4HSJuIXNiDTrDXNUKSdkc5Ih0sr3q-HsyVWR5j7bjKjcr_MBtaQUhXAeDJvzsDJQkFscONPjnl67rdMy_dLOPodnUPwqVWj39VN_pvj_iXlX9dE",
      "qi": "MlnTFV66f5o8xepzA2mmq98p8xawtv9fHvs7er1JgbUlFeAgid4vycPxHBVCfw9s9yp1rIUdmubCF2DMgf_t1UTB35BArN5iizwW9zh6ClNlSuZnXLld4W04eX1OYctIDWHxwmPQetYKPLKLZxb7Y-Fj0rzxXnsoSfTK_mGOgGA",
      "p": "9BRdHYHJhfR79UEXeVSj3jKKRFp7qCIzSTwxDATVjj0V-5nCqnzsTiGa7GU4me8BCPMhCgdrAvR87uouS9hwMk_FPlE4J4co4LInq0aZWiOmmqK6rUZGk5nZd8gS3TStCC659givRXs54_ZfbtK96rSwn8JiBfisYAG-rk45b3U",
      "q": "1o63lPiqS67G_EBHHrlL6KZODrpThobPbmsKPsu9xWEqabZcJjPXKcBHzVOeH-3REx3wzeZTFFlTUytswJ5hlu3kKVaYx8cq1lrb09hhy9W-o0GeqVs8YPt8Er4nIa[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-file/0ae280551b1a42d88e7c3d96fbf8620a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zJEYKuhIeHvKqZZtJRDtQjg17ChAZtY_yJfNqv30xnzkzOZwVmy7NViVQIRnkCYvAMCstja-EpEpeW02LD83teNQRKM9Nie74g7ehDn6ZZCSdQQ54TQemt26hMfnFVaUl376p0E398IP1leHcvYOaiVgT_ffUhNhgIUJ5sIphtf4D1p5bWFYvs_Gd-A-Fk38hnerpl7JRF4y6p5WGJzvXKKs0QVSaQ1NHD7L1tQ0xTKra3FS_BGwD7ZdgBZerqzBPgxRjuxzq2DQJlHtvINsFjJhsMtwI11UV5-tIBOEWPSBTIoQpUWGB-_4jZ44IpKlBDQuc1kqa2Y8-eO53Gxn-Q","e":"AQAB"},"attributes":{"enabled":true,"created":1583848003,"updated":1583848003,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/0baf000244b3422d91ee09131813da08","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"1mVMVGSDAZXFxucXkXrxHNEcjiAXmLhCVfwiFKcicPc","y":"nKpS4wYEHJasAsL4VgH4S8Xp8lBXbTeen-XnzqmIon8"},"attributes":{"enabled":true,"created":1583848022,"updated":1583848022,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/0baf000244b3422d91ee09131813da08","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"1mVMVGSDAZXFxucXkXrxHNEcjiAXmLhCVfwiFKcicPc","y":"nKpS4wYEHJasAsL4VgH4S8Xp8lBXbTeen-XnzqmIon8"},"attributes":{"enabled":true,"created":1583848022,"updated":1583848022,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/9c2d3e2c83d045b4825e8487672da3d6","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256K","x":"C1nQwU4Ug_3_cwbdWqQSqIlIp3wy-0d7DVoYEM-jS3s","y":"efG4MpWj_OYWr_69khaC7KWzVGwwweGEqdhrE4lDRZ8"},"attributes":{"enabled":true,"created":1583848058,"updated":1583848058,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/9c2d3e2c83d045b4825e8487672da3d6","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256K","x":"C1nQwU4Ug_3_cwbdWqQSqIlIp3wy-0d7DVoYEM-jS3s","y":"efG4MpWj_OYWr_69khaC7KWzVGwwweGEqdhrE4lDRZ8"},"attributes":{"enabled":true,"created":1583848058,"updated":1583848058,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/658b69ae73334cf690dd2647df13500f","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ut1S38X-XkExTdeyJziBOce_xDlU02dFaJ_4B1QTmHyzhgB7nLa2VqIhepHQQYqZmftQkaSrwJStEXOIhz1bwgXtoSEzx41U2Sy80aRqvwr4sfTBOt94zZtJq8Rl2UJi4wRiTzs0pMLyoZjypSq79vqqLPQz-xdPQeK7furdQBGf1vX8z9TNviFI3O3MTAtTbVFHK_CvfMTlEwQ03jpRK9O7LRDIgl1iyXExOZyNKpihbAjBR3POyailzoqmUsSgYGpXVcvIIzY1tVDhCpsnwnTD7XCD5et3plFyMHTXSQojrScZO9aGm4CqQkc_eHq94dwOuRhP7q_OZ2Wf3Y5x-Q","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1583848065,"updated":1583848065,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/658b69ae73334cf690dd2647df13500f","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ut1S38X-XkExTdeyJziBOce_xDlU02dFaJ_4B1QTmHyzhgB7nLa2VqIhepHQQYqZmftQkaSrwJStEXOIhz1bwgXtoSEzx41U2Sy80aRqvwr4sfTBOt94zZtJq8Rl2UJi4wRiTzs0pMLyoZjypSq79vqqLPQz-xdPQeK7furdQBGf1vX8z9TNviFI3O3MTAtTbVFHK_CvfMTlEwQ03jpRK9O7LRDIgl1iyXExOZyNKpihbAjBR3POyailzoqmUsSgYGpXVcvIIzY1tVDhCpsnwnTD7XCD5et3plFyMHTXSQojrScZO9aGm4CqQkc_eHq94dwOuRhP7q_OZ2Wf3Y5x-Q","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1583848065,"updated":1583848065,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-4096-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-4096-hsm-file/de30dcf239b54f539a77c2a675e0e0be","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uMDP__ln7NYAJROTCFIDgVMcIxkJbVozN2Ftyh6KDP6N_N0h8bljxRA3WNL6DdCNaJNbGFRlsCd34KhWk5sti7TVREmm_r6vPvUV_cORdCguaeOpXXoypqkG_Z1K6ImWaRqJaF8cAgCc5DMEWxeVs-F-XnOFIKKyDk42xAvilmxWYUr32IQCzoOporKYetTUFNz7dj40SLa1PPJ7r1_Bk8F62WPwT4wmiY-tltwkJrAgC8ptl3TeL3HUtCc0cya3VaPtsIcukfldlCUggpLWzyddt_gfN9QebWIWnTMbNOYPZMju_p9A2MO_B3jqJUOI1ur3rISHACjoeiDCeowxDYrJsmMXtJpt7_eS3xqn3F1zahm8ZPV0sseUsUFpA9P1zukdBbXcIJG5aH3XxyLBWPBJk3lMQxXbiMxfs1nTMXwHQef09GV_Ede6fCDA9GqlAnGPinfQwATEaSPhXvss3nybXN2cy_wVebNANySMAodc4c9sstdZ9vIEhQpzGnqvN2E_aJ8h4oeur4egtgIGiwcTXvTODRi79LORzzn5qboAxxNW4tASyiuOqQfAGRSu5ISzcdO-TRI4iw6sKtP91ljYywgwmGJH2UM8WuWJabVHm4jiN8Sto4jUO1RBpwOuuw-r-FLMpGJkybO9XQLLnrOwRpBClETrfV15INYdhEk","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1583848090,"updated":1583848090,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
