interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://managedhsm.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"attributes":{"created":1581591500,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591523},"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key-kge6e64ezwjed6sqosfd"},{"attributes":{"created":1581591537,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591537},"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key1"},{"attributes":{"created":1581591544,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591544},"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key2"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/key-kge6e64ezwjed6sqosfd?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581591500,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591523},"deletedDate":1581591577,"key":{"e":"AQAB","key_ops":["encrypt","decrypt"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key-kge6e64ezwjed6sqosfd/2638c973702407d4b0ba750679401c82","kty":"RSA-HSM","n":"3JXj0cDhIPMuwNKyF_IgozIkWdLmS6HiIcu59qUosQPePUWNXXUOWocjC47-fVrPrUrQHPFWPyLSSU75VjYio-zaqWIOUNCxcLoghvGcspDCbvLTqKbjVxf6voa7f5aqfPX7KhyBAiDrOpqaZEdErSMOKUc-ULQD3QWWvxihQDRTu3nB6TS_OxKFJwMD49hRRpJlxYQuL3s6TlwwV8B87ucOcbiDEbMqieWSuQBDDQhg7KxAV1dbe39md6Tz9uPLLCi-PXiT4WcXFucZIEj_OndFmDlBh7_hBKUfBKXcYRsJUKiEgc24kYQKJvoz9bxD-bAl6PSIM_6aYZ9DAGMQ5Q"},"recoveryId":"https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key-kge6e64ezwjed6sqosfd","scheduledPurgeDate":1589367577}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581591537,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591537},"deletedDate":1581591580,"key":{"e":"AQAB","key_ops":["import"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key1/2a5d53438c710a0ebdd4e61a1bef5a06","kty":"RSA-HSM","n":"xLI4qdrGVSFB3M1YkTd-QDkl4yvoOEr0TNLkczQ1DS4eobIl5jkzIdttR1xiaQxAfgTyOKDfuI669oW07V3FqHOJmYdezCo805HbpHr-YKwBEZjZJgAb3RYkYi_xD8LR9dsZ9ufV4lFBVWZyiZPxbGa7XNRA1ZkThYySaQKHqGabrpnz7_hVajkDgx0_E4RfbpVf2K7mqgYuAvm59TdSYCZgerp-H2YhkWILgx8-EzcKAWBf3EMrVuPFtft5rfmUXB8DuZ85FoJO3JKLtS-jtOHW20qkrF_wJKsey1BAayWsXdVOU46sB0YCaHS4EFA6yjVvlY6U_6IldovWJ7qCVw"},"recoveryId":"https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key1","scheduledPurgeDate":1589367580}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"attributes":{"created":1581591500,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591523},"deletedDate":1581591576,"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/key-kge6e64ezwjed6sqosfd",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key-kge6e64ezwjed6sqosfd?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/eckey1?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus.clitest.managedhsm-preview.azure.net/deletedkeys/key1?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581591621,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591621},"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/e94c17ece6b704d3a955e0d4f376f955","kty":"EC-HSM","x":"gW3mq_9c2N7bIcuIh5QyBrH3wI_5T3xaoFPOkfeLADc","y":"J1YLdXv6uz0a31WoVaW9lnqsDM3TrhGNhME0AnAPkxs"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581591621,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591621},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/ec-p256-hsm-file/e94c17ece6b704d3a955e0d4f376f955","kty":"EC-HSM","x":"gW3mq_9c2N7bIcuIh5QyBrH3wI_5T3xaoFPOkfeLADc","y":"J1YLdXv6uz0a31WoVaW9lnqsDM3TrhGNhME0AnAPkxs"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581591640,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591640},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/4c6aab258e0002ee201c8fd96b280a9f","kty":"RSA-HSM","n":"3Xd9YeSQG-nS_6bqfr_7SsHHpeYrXbJcFY3fEbpnY45Fbw7Cr0LFM36grVHGh-v2pogE-tzmnRwJli8asQcWfvSfA0UYRYz4cLpc1gnBwsmQZPtQi1SHH3gCBKLZwqU5ro6txHLLknsJo_4M0D0gpBBLA8uEtkJmZ8kPga4htvRczA2MKmDx0hJ5LB8LEhbQQcC-E7Q9jCdGMyhnypTLXASxIqqnh19fyDa57c5s6CcymOuRFUUKx0rZ17JMNGvs0C1dPMGj2qC3yF5uzX4Nwfx1U5CE1PoPxRhMxliYDAzvRn8o4PrnD65oLZIg6amzTDf-mbHNi5gi_l90BhEHuw"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581591640,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591640},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-2048-hsm-file/4c6aab258e0002ee201c8fd96b280a9f","kty":"RSA-HSM","n":"3Xd9YeSQG-nS_6bqfr_7SsHHpeYrXbJcFY3fEbpnY45Fbw7Cr0LFM36grVHGh-v2pogE-tzmnRwJli8asQcWfvSfA0UYRYz4cLpc1gnBwsmQZPtQi1SHH3gCBKLZwqU5ro6txHLLknsJo_4M0D0gpBBLA8uEtkJmZ8kPga4htvRczA2MKmDx0hJ5LB8LEhbQQcC-E7Q9jCdGMyhnypTLXASxIqqnh19fyDa57c5s6CcymOuRFUUKx0rZ17JMNGvs0C1dPMGj2qC3yF5uzX4Nwfx1U5CE1PoPxRhMxliYDAzvRn8o4PrnD65oLZIg6amzTDf-mbHNi5gi_l90BhEHuw"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-4096-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1581591660,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1581591660},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus.clitest.managedhsm-preview.azure.net/keys/rsa-4096-hsm-file/31ed7ebc77800a008a7c3b9b9640ebf5","kty":"RSA-HSM","n":"pwIXXasFnUA5YovdGbQ10Vn_yHbwz9PSFv1IuRGdndxl6usdaIdndrwK0LQz0eBGiyeRNiVo1coZuDQKU3aK_B0mqUcMvdHKCOPwjT7ZRLijb2pSTlxAVHgNRxI86tNJh_1eYm-vlDvxaClBZCZpI29munpWkt5TCQphX12QPVupyxr0QkaLjcZzrjgFS_DO2oBRin60gFcDg7Xeh3iwZM6uHB5xLGubuxwdszmZFOkHiicjoIUTPwqb1h8nNa02ubBWeFzGIca49mBWfFYqaFDrD5qyprptPH7D2oNO40UG4hTf95EvFqHdvOaMnuQ_0QUrl3huELs1NBfUBCnkN4nprHI6aLtmVeTSPYv_Q2goT0OzNh_oj3GC-1MaPOuyiMJC4pg801jMiPZODahWPUDcRSTtORezQlQUfkoXyyRJeMf-C-XkaIdTZ719WUHlAvDTCRXe61LZ4orwanvYb-QVvc_glXclkrnt8P-vH252I55YV8V6liDEffaqkjtSAAmMwa9kFvFaoE-MhYR4Rz3cZmUkZuHPNRB9XlMgC6aDYc93xYm_f2c2bnmh8etdCYZj6mIsCiHegOWoRIRdms21fS7ehJguSS-3Ecyth-P_tdAAk3Fn31vXIXJ1lzMGJr-LZ3j-wu-DPddN1jGhhYUOf_wTqU0nKh-VSM5Zj7E"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
