interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2287637'
      ocp-aad-diagnostics-server-name:
      - VjKB0tVcF+eEuudpWUNelIR++QiC1ib5U9TaZHwcypE=
      ocp-aad-session-key:
      - -CdWqC26V7LVgEGCtr_C_6ZC8Zbbwj2o3O_hlr6Yc_UV6DE4EnHNQnQl0iIKDpXEy5945KPmVCi1k5rslQizcq-nYTNYIAZntz_uMwvLdDcBTgKnOnazQ-ggPNn-lt9L.3dmuS-HCiwia-ci5_IH9fOslCOfRULB9IMroIIUftak
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1185'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMXJiM2MxYmpSbQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMXJiM2MxYmpSbQ==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bimkvTest","name":"bimkvTest","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvTest","location":"northcentralus","tags":{},"deletionDate":"2020-07-30T07:15:26Z","scheduledPurgeDate":"2020-10-28T07:15:26Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","location":"eastus","tags":{},"deletionDate":"2020-09-15T07:40:01Z","scheduledPurgeDate":"2020-12-14T07:40:01Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-jtdepzx","name":"cli-test-kv-mgmt-jtdepzx","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmtzzanbdbz2qmrv45663rpjbqs7in72actq5l6qod26qaxd4p65w2yl/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-jtdepzx","location":"eastus","tags":{},"deletionDate":"2020-09-15T07:35:34Z","scheduledPurgeDate":"2020-12-14T07:35:34Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-se-sd-waihf5","name":"cli-test-kv-se-sd-waihf5","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_deletevdcbeqxffkbx32k62owo3shsd675bglwjkuv3ys/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-waihf5","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NzUyNDEyODY2NjA2MnwzRkRBQTEyMjQxMTM0OEJDOEQyQTMyODlFN0Q5RkJEMQ?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NzUyNDEyODY2NjA2MnwzRkRBQTEyMjQxMTM0OEJDOEQyQTMyODlFN0Q5RkJEMQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-09-15 07:40:11Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NzUyNDEyODY2NjA2MnwzRkRBQTEyMjQxMTM0OEJDOEQyQTMyODlFN0Q5RkJEMQ?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NzUyNDEyODY2NjA2MnwzRkRBQTEyMjQxMTM0OEJDOEQyQTMyODlFN0Q5RkJEMQ?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-09-15 07:40:11Z","lastActionDateTime":"2020-09-15
        07:40:28Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbtcqJIFIbvxdraX2tsVGY0VaktsBsXJn2w2z6t8s8ISQT8WDUj9tTc%2Bx4z2b2GNVVQgIIWT78f50drWzSnx%2FW2Orbuf7Qg1eavkQCjg0ectu5br6fT%2Fnjf6WyW2%2BVLsSm2p7ulezsUd6vdpnN8ezquDuv9ab3bHjvsyXv%2B0v%2Fqtb2nZ9bu5%2FmyvSxWvfbqadj92n1mQ3%2FIOvvD7vs6Lw7HjlyvDrvj7vl096242OVbferkRV2civz94vjncr9uf6c76[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXtbuI4FIbvBa3211KcQDpQqVoBdhjS%2BqRxfEyTf4EEShI%2BFugQPJp730O3O9cwjBRFcZQP%2BdHzvud7a1s0p%2Bf1tjq2Hr63xDDWGLceWm%2Bn0%2F740Olssm22KjbF9nSX2fdDcbfYbTrH9%2FlxcVjvT%2Bvd9thhc2d53%2FvitJ35krV7eZ61s2LRbS%2FmA%2FeLu2QDb8A6%2B8Pu2zovDseOXC8Ou%2BNuebp7Ki4me69Pnbyoi1ORfyyOf2f7dfsbPUk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbdjtpIEIXfBa32ahnaYCcw0iiC6fIsZLo9XXQ14DuP7SG4%2BVtgYnCUd99iN8ozhEj2RZdKturzOaf8rbUtz6fn1dYfW%2FffWjCcWpq27ltfTqf98b7T2WTbbFluyu3pLmveD%2BVdvtt0ju%2Bvx%2Fyw2p9Wu%2B2xI16Dtw%2Fhx6AdvL6JdlgUWTsr8147fx10P3bfxCAaiM7%2BsPu6KsrDsaNW%2BWF33L2d7j6XF5e9r0%2BdolyXp7L473D8lO1X7a%2FcyQ9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3Zbtjto6EIbvBVXn12FxIGlhpVUV8IRDup5sHNss%2BQdJliXma4EtwVXvvUNb9RoOlSJZVuxE88TvM%2FnW2lbN6XG1tcfW%2FbcWhJnSWeu%2B9Xo67Y%2F3nc5mvp0vq021Pd3N3fuhuit2m87xfXEsDqv9abXbHjts4b189D95bW%2Fxwtp%2BWc7b86rotYvFoPup%2B8IGwYB19ofd11VZHY4dsSoOu%2BPu5XT3pbqY%2Bfv61CmrdXWqyp%2BT4%2Bf5ftX%2BSiv[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtjto4FIbvBa321zI4QFoYabQiYyclHdu142OG%2FAsQPuIAWcKUkKr3vod%2B7S0slRIpjqxEfs77Pl86h7w5v%2BwOru48fumwSWIg6Tx2tudzVT%2F2evvskG3yfX44P2Tt2yl%2FWB73vfptUS9Pu%2Bq8Ox7qHll463fD917XW6xJd7haZd0sXw66y8W4%2F76%2FJmN%2FTHrV6fh5t8pPdY%2FvlqdjfVyfHz7mV5u9lefeKi%2Fzc776tqj%2Fzqpd9zPuxI8%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZR%2Fb%2BIgGMffi7ncX%2Bektt10yXKxQr06gYGA0%2F9qrVWoP87WVVn23o%2FslnsNtyUkhEAgz5fP83lt7fNLPdnuTdW6f22hwVTIaeu%2BtanrY3Xf6ezSfVrku3xf36T2fMpvssOuU52XVXbaHuvtYV91wNJb3wZ3XttbrkE7WK3Sdppnfjtb9rt33TXoh33QOZ4OL9tVfqo6eJudDtVhXd885leVnsu6s8rLvM5X74vqZ3rctl%2FcSXf5Qxd4%2FTZww%2Fv%2Br[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRvb%2BIgHMffS3O5R%2Bek%2FzZdslxaoXd2gw4ENvustrVaavVsncqy9z68LPcabksggfwIhA%2FfD69WW576h3WrOuv21ULBjIuZdWut%2Bn7X3Q6Hm6zNqnJTtv1Vpg%2F78irfbobdYdHl%2B%2FWuX2%2FbbggW9vLau7EH9mIJBl5RZIOszN1Bvhg7N84SjP0xGO7225d1Ue67IV7n%2B223XfZX9%2BVZZoemHxZlU%2FZl8XfS%2Fcx268GLWWk2v3OAPR4A0%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRtb5swEID%2FSzTt09IYAm1TqZqS2LQk9TEc2y18I0BeMJAskIa46n%2BfM1X7DWslW%2FKdLJ%2Fu0XN%2B69V51z5ta9X07t56ZLzgYtG7623adt%2FcDQZVUifrvMrr9irRx0N%2Ble6qQXNcNulhu2%2B3u7oZoKW1unZurL61XKG%2Bk2VJP8nTYT9djuwbe4VG7ggN9ofd6zbLD82AbtPDrtmt2qt5fpbJsWwHWV7mbZ79DZqfyX7bfzU3zeP3NrJGfWSW9f1bo0z[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRbuIwEEX%2FBa32aSk2kJZUqlYJtltobddm7G7zFkKgxEAQCSWk6r%2BvVVX7DdtKfvBII4%2Fm6Fy%2FdXZ5Uz%2Bsd67qXL91aDQDM%2Btcd17qel9d93rbdJeu8m2%2Bqy%2FS9njIL7Jy26uO8yo7rPf1utxVPTTHy8vhFe7i%2BRJ1h4tF2k3zbNDN5mH%2Fqr9EYRCi3v5Qvq4X%2BaHq8XV2KKtyWV%2Fc52ebHjd1b5Fv8jpffBTV73S%2F7r76Tv%2F4TR%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbpswFIbfBU27WooNoQ2VqonOJiKtTW1sZ%2BGOAEmDE5IG0hBXffd5U7VnWCcfX%2Fj8v8%2BRPp3z5rT10D9uWt05t28OjjIhM%2BfWee77Q3fruruiLdb1rm77q8KcjvVVud%2B53WnZlcfNod%2Fs284FS7i6Ht%2FAEVyuwGhcVcWoqEt%2FVC5D78ZbgTAIgXs47l83VX3sXLIpj%2Ftuv%2BqvHuqLKk7b3q3qbd3X1Z9H9704bEav1mmL33kAhiNgA3790mnbc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb5swEIb%2FC5r2aWkMoW2oVE00NlXS2hTn7DR8I%2BCkwQRYIA246n8fnbb9hq3SnV690uk96dHdm1Wqrn3cl7qxbt4s4i9BLK0b66Vt6%2BZmPD4kZbJTB1W2F4k5HdVFWh3GzWnTpMd93e6rshmjjb29cq%2Ftkb3ZopGbZckoUelklG4859rZIu%2FSQ%2BP6WL3uM3VsxnSfHqum2rYXD6qXyalox5kqVKuyX6b5ntT70eswOYTfOsj2Rmgo%2B%2BuXRg8bK63KW6HlissFcMEDIFIshRc%2BikJs8dymsDszvDYhRCiEdPDrM8VyyvX8zHE04TlxGBHu0A4z2nBMEcWDQkFCKGYcE%2Bvbbw7O%2Fw6C5tGE4V3HwHcHMC41iylFxImM7kLYOdSwe4ZfgpAsZszEdwwkjgxxOF67HKIBxIp8hoOgxrfpB4dcdIP21MRTDmtDTTrhmtpRTl2G5y5D8z7KScdhjjieOxyES9EfDjPCgPuPn%2BE%2F%2FC7EUR%2FCumeYdDR%2FmTIR9Qw%2Bmt1TERmGA8I1GZDxOybYjOHURMZ3QyyGs%2FiLggj%2F6V%2F%2FEjh4p3jZycSOn0URP8hgIYWOBZexFLa4BNTJTSAPnOgOJC8z5IkIWJho0cOqzhmxf4jngilduWDzZWQvAtAZU4U%2Bi1XNFbkMBAShOrQTeK5LWgwWZJjYxRUIHg95hAO6td7ffwI%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/dev4e8608cc03b749e79b","name":"dev4e8608cc03b749e79b","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev4e8608cc03b749e79b/providers/Microsoft.KeyVault/vaults/dev4e8608cc03b749e79b","location":"eastus","tags":{"app":"python-postgresql-5b99"},"deletionDate":"2020-08-17T09:21:01Z","scheduledPurgeDate":"2020-11-15T09:21:01Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/dev02071bcaabcb454b8d","name":"dev02071bcaabcb454b8d","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev/providers/Microsoft.KeyVault/vaults/dev02071bcaabcb454b8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhbtowFIXfJZr2azR2IGtTCU0pcarQ2mnMvYbyL0Cg4JAgEkpw1XevN1V7hq2SLevoXtu6n855c6qiax%2B3lW6c2zeHhRPAiXPrvLTtobl13X1e5ZtiX1TtVW5Ox%2BJqWe%2Fd5rRolsftod3WVeOSBV3%2FHFzTHl2sSW%2BwWuW9vFj2e8tF4F17axL4AXEPx%2Fp1uyqOjcu3y2Pd1Ov26qG4qPxUtu6qKIu2WP0Rza%2F8sO292k77%2BNAjNOgRu%2Bj3b422P9a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtbpswFIbvBU37tZSPwFoqVVOKTZW0tovj47T8I8EhwQRYIG2g6r3Xmqpdw1bJlnV0jmz50fO%2BWbU69w%2F7WnfW9ZuFZ0sBS%2Bva2vV9213b9iGrs0IdVN1fZOPpqC42zcHuTutuc9y3%2Fb6pO9tZu9uf%2FqU7cddbZ%2BLneTbJ1GY62axD79LbOmEQOnZ7bF72uTp2Ntlvjk3XbPuLezXI7FT1dq4q1av8T9H9ytr95MVMmstvPMcNJ45Z7vdvnTYvNlrVN6Dli[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32qQSbJtskUrVKY1PBZozs2FQ8EjAskEAUSJO46r%2FXu%2BpPtNK8jGY0o3t075vT6eu4qbt2cJZvDl1tpdo6S%2BfvOB6Hpecdsi6r9EF34yQz55Oe5P3BG867IT%2FVx7Huu8FDO1z%2Bmj5gF%2B9K5E6LInMznd%2B7%2BW7hP%2FglWswWyDue%2Bte60KfBgzo%2F9UNfjpM%2F%2BpZk5%2F3oFXqvR138b4bf2bF2X%2B2mPf7oI7xwkS388[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPfbpswFIffBU27GsH8yRoiVROtnYgsNrJjU7V3BAzDTiAC0hCqvnudbi%2BxSr458tGx%2FJ3v92Y1chy2daN7a%2FlmoWjHxc5aWn%2BG4dQvHeeYNVklj7IZZtl07uQsb49Of973eVefhrptegfs3fJncOfa7r4EdlAUmZ3J3LfzfejdeSUI5yFwTl37Whey6x1c513bt%2BUw%2By2vaXY%2BDE4hD3KQxWfR%2F8pOtf1qOs3wew%2B4oQ3Mcb9%2F67V5sdWyuRc6f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNRb5swEID%2FC5r2NIJNkjWJVE2sNhVbbGTHpqJvBAzDEIgCKcFV%2F%2Fu8qn9ile7B5%2FOdpU%2FfvTqduo37umsGZ%2Ffq4OAg5MHZOX%2FG8TzsPO%2BUdVmlTqobF5m5XtQi70%2FecD0O%2BaU%2Bj3XfDR44wvL76g668FgCd1UUmZupfOnmx61%2F55dgu94C73zpX%2BpCXQaP1PmlH%2FpyXPxWc5Jd29ErVKtGVbwnw4%2FsXLsv9qUdfu8DuHWBDfj1y9D[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhbqMwDMffBZ3u01ECbW%2Bl0nQqJUz0mqCkCRP7RiFQkhaqQkebae9%2B2bSXuEmOZDuWLf%2F095vVituwbVrVW8s3C652jO%2BspXUYhnO%2FdJxT3ua1OIl2mOT6ehGTojs5%2FXXfF5fmPDRd2ztg71a%2FZw%2Bu7e4rYM%2FKMrdzUUztYu97D14F%2FLkPnPOle21Kcekd1BSXru%2BqYfJX3NP8ehycUhzFIMrPoP%2BTnxv71VSa5o8ecH0bGHN%2F%2FuiVm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBVX7tASbhDZEqlYkNhXdjJEdmyp5I8RpgQSiQBriqv%2B%2B1m5%2FYivNy2hGM5oz9344jR76ZdnUnTP7cGi0kmrlzJy3vj91M8875k3%2Bqo%2B66Ue5uZz1qGiPXnfZdsW5PPVl23Qe2uL9%2FeQBu3i7R%2B5kt8vdXBdjt9iG%2FoO%2FR2EQIu90bt%2FLnT53HpTFue3afT%2F6rW9Zfjn03k4fdK93f5PuV34q3XfbaYc%2F%2BgiHLrKBf9x1t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPtatswFAbgezFjv%2Bb4o84aB8pwIiU4y5GRIrmk%2FxxbTm0ldoid2lHpvU8bvYkVDogDBwk9vOfdauTYb6tGddb83cLRjoudNbde%2B%2F7SzR3nnDXZUZ5l008yfbvKSd6ene526PJrdemrtukc9%2BCVP4NHz%2FYOpWsHRZHZmcwf7PwQ%2Bo9%2B6YbT0HUu1%2FatKuS1c6DKr23Xlv3kt7yn2e3UO4U8yV4W%2F5ruV3ap7DczaS5%2F8l0vtF1T3vdvnTIvtko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbqMwEIXfBVV7tQSbhG2IVK1IbVZ0Y0d2bKr0joCh2ASiQEpK1XdfK%2BpLbKW5OdL8aD6d8%2BG06jps6tb0zurDwdFOyJ2zcl6H4dSvPO%2BYtVmljqodZtl0OatZ3h29%2FnLo83N9Guqu7T1wgOWvxT104aEE7qIoMjdT%2BdzND6F%2F75cgDELgnc7dW12oc%2B%2BROj93fVcOs7%2FqPc0uzeAVqlGDKm6i%2F52davfNdtrlDz6AoQtswR93vbEXO6PaB2nSZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32qQSbwDZEqioSm4hsbIRjU5E3AiYFJxAF0gJV%2F73Wqj%2BxleZlRqMZ3aN7P4xGDv2ualRnLD8M7O%2B52BtL47Xvr93Ssi5Zk53kRTb9LJvuNznL24vV3Y9dfquufdU2nQWOsPzjPEITHktgOkWRmZnM52Z%2B9OxHuwSe6wHremvfqkLeOotU%2Ba3t2rKf%2FZVjkt3PvVXIs%2Bxl8a%2FpnrNrZb7pTX38yQbQM4Eu%2BPtXp%2FTHVsnmSaj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNha6NAEIb%2Fixz36Yyu2msMlMNk12Iuu7Jm12K%2BGV2tbqIhmka39L93OfonrjAwDLzMMM878250Yhp3TScHY%2FVuoGDP%2BN5YGa%2FjeBlWlnXOu7wWZ9GNi1zdrmJR9GdruB2H4tpcxqbvBss%2Bguq39whMcKxs0yvL3MxF4ZrF0Xcencr2H3zbulz7t6YU18HCTXHth74aF3%2FFnOa302iV4iRGUf4rhj%2F5pTHftFI3f3Js4Ju2DvDzxyD1xF6K7onL9CVJt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNRb6MwDMe%2FCzrd01EIo7e20jTRJavY1UZJCdP2RiFtIS1Uha4l0777Zad9iZvkF%2F9t2fLP9rvTqGu%2FrBrdObN3h0WrVK6cmbPr%2B2M387xD3uRbdVBNP8rN%2BaRGRXvwuvO6K07Vsa%2FapvP8Ndn8Dm%2BJS9Yb3w3LMndzVdy4xXoa3AYbfzqe%2Bt7x1L5VpTp1HlTFqe3aTT%2F6o4YsP%2B97r1R71avyn9Pd58fKfbOZtvhd4JOp61sjP3902nZstWrup[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbqMwEEbfBa32qgTjNNsQqVolsZFgM0Y4NpX2joBJ%2BQlEgTTgqu9ed7cv0UpzM9JoRt%2FRmVerVeOwK9u6t1avFl3vhdxbK%2Bt5GM79ynFOaZse1Um1wyzV14uaZd3J6a%2BHPruU56Hs2t5BB7f4df%2Fg2u6hQPZ9nqd2qrK5nR08%2FIAL5C085Jwv3UuZq0vvQJldur4rhtkfNSXptRmcXDVqUPm%2Fpv%2Bdnkv7xUya5Y8YuZ6NTLk%2Ff%2FS1udjVqn2Ud[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPbbqMwEIbfBVV7tQRD2G0SqapobCLYjBGOnSq5I2Aoh0AEpA2u%2Bu7rrvoSW8lzYWkOmm%2F%2B%2F91o5W3clm09GKt3g3g7LnbGyngZx8uwsqxz0iaFPMt2nCXq2stZ2p2t4Xoa0r68jGXXDhY62flv99427VOOTDfLEjOR6dxMT0vn3snR8tcSWZe%2Bey0z2Q8WlGnfDV0%2Bzv7IaZ9cm9HKZCNHmf37DI%2FJpTRfdaZu%2FuAge2ki%2Fewfd0OtJ3a1bB9EvX9[...]
- request:
    body: null
    headers:
    method: GET
[...]
