interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9a0f0a3f-b307-4ae3-bb6a-27a65244de7e","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-07-10T06:39:27Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Fan
        Qiu","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"fanqiu@microsoft.com","mailNickname":"fanqiu_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["fanqiu@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:fanqiu@microsoft.com"],"refreshTokensValidFromDateTime":"2019-07-10T06:39:26Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9a0f0a3f-b307-4ae3-bb6a-27a65244de7e/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"fanqiu_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-07-10T06:40:50Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2359542'
      ocp-aad-diagnostics-server-name:
      - efFUEoCW1utQUpjqc6YbFCBpKb/KMY03QRn1cBfJRHQ=
      ocp-aad-session-key:
      - YQuENrnSv8MbQpSRpT3-TWydX30_EATEhEITpLr228vSFoNtdC0N0IUb180oRhIAsH_o0JND8UtAku6HzC-gmQ2f5MyGd3L3sm_Frmix0__yEYPCNgcX67Y8O1hJVjAvOVswA7P-5ZCxpdN2A6mS4oTVPn5htGfzrxrSVvAyofU.5adx8VGniWRzO0JrYCWkYk-vEZhT7UxJhohPAzGkbgs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9a0f0a3f-b307-4ae3-bb6a-27a65244de7e", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_key000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-000002","name":"cli-test-kv-key-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9a0f0a3f-b307-4ae3-bb6a-27a65244de7e","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://cli-test-kv-key-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1f35d36aa3534497b2d8625c693fb4d9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0XIs072gov7UnqBasclW2oxYDb6ovIIor0pRrNij5LHGwf3OBdrmyGAhAKCHTss7Jx7aczH-h5atqbO4OIPFE_AOVwESZCwduI-TLpTYKKn0WhvJ0S2eXqRt78MaDXU5m6RkbK0gvsmSeRQWJWXzu55Ob8O7duH7-ZcS0tZvEqiG6qBl3TWsY-wbfuVvX56SAWJgon5uyF9zYV4nNUC9wa7BBROcS1DeLMi7ERLYf12dzff-FDpcBJPQI9Ii7MddvoW5MXZGkscAVGHZ7V6mJ-yMBVfH3kwyzKXEGXYLqg-kla7LUjm9I88PowgtXhm8iX0inuoqmF0T3JrMhKlfyQ","e":"AQAB"},"attributes":{"enabled":true,"created":1586219620,"updated":1586219620,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1586219620,"updated":1586219620,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1586219620,"updated":1586219620,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt"], "attributes": {"enabled":
      false}, "tags": {"test": "foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/a702393e170a44e5b47386cf38a78096","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"3yfMHNUmqaRHpYHzTsLPcMzRb4YIZAJ8OOJpYkDnTaDZGJLh-ZhkyaeD55tQJn8Ef1UBVPKgX3aX1XH_74bCJ0bMPHxYygpVd_5-yXYcVLTo-klUHD46VwBOKQYujDfalf0pxs3f7C4ug8XCBlrP0hW9eB098wFcTApkRGsvc8rtCvFaJEYwXDIqQWCVwKl_GFa2hqzOpF4AoMXhUcG8XQoDyqb_YGD8eWudvxJskzUmGYLrxpohL0wlEHB_P9xbFZxsynuPQO0fm4ikErTMEOJ3S4-sscEHkcSJ8K8xKifAg6qWesQ-Mvz6AzUqyPVZ1oXfcibiJO8orquyjMKHgQ","e":"AQAB"},"attributes":{"enabled":false,"created":1586219627,"updated":1586219627,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1f35d36aa3534497b2d8625c693fb4d9","attributes":{"enabled":true,"created":1586219620,"updated":1586219620,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/a702393e170a44e5b47386cf38a78096","attributes":{"enabled":false,"created":1586219627,"updated":1586219627,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1f35d36aa3534497b2d8625c693fb4d9","attributes":{"enabled":true,"created":1586219620,"updated":1586219620,"recoveryLevel":"Purgeable"}},{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/a702393e170a44e5b47386cf38a78096","attributes":{"enabled":false,"created":1586219627,"updated":1586219627,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/a702393e170a44e5b47386cf38a78096","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"3yfMHNUmqaRHpYHzTsLPcMzRb4YIZAJ8OOJpYkDnTaDZGJLh-ZhkyaeD55tQJn8Ef1UBVPKgX3aX1XH_74bCJ0bMPHxYygpVd_5-yXYcVLTo-klUHD46VwBOKQYujDfalf0pxs3f7C4ug8XCBlrP0hW9eB098wFcTApkRGsvc8rtCvFaJEYwXDIqQWCVwKl_GFa2hqzOpF4AoMXhUcG8XQoDyqb_YGD8eWudvxJskzUmGYLrxpohL0wlEHB_P9xbFZxsynuPQO0fm4ikErTMEOJ3S4-sscEHkcSJ8K8xKifAg6qWesQ-Mvz6AzUqyPVZ1oXfcibiJO8orquyjMKHgQ","e":"AQAB"},"attributes":{"enabled":false,"created":1586219627,"updated":1586219627,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1f35d36aa3534497b2d8625c693fb4d9?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/1f35d36aa3534497b2d8625c693fb4d9","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"0XIs072gov7UnqBasclW2oxYDb6ovIIor0pRrNij5LHGwf3OBdrmyGAhAKCHTss7Jx7aczH-h5atqbO4OIPFE_AOVwESZCwduI-TLpTYKKn0WhvJ0S2eXqRt78MaDXU5m6RkbK0gvsmSeRQWJWXzu55Ob8O7duH7-ZcS0tZvEqiG6qBl3TWsY-wbfuVvX56SAWJgon5uyF9zYV4nNUC9wa7BBROcS1DeLMi7ERLYf12dzff-FDpcBJPQI9Ii7MddvoW5MXZGkscAVGHZ7V6mJ-yMBVfH3kwyzKXEGXYLqg-kla7LUjm9I88PowgtXhm8iX0inuoqmF0T3JrMhKlfyQ","e":"AQAB"},"attributes":{"enabled":true,"created":1586219620,"updated":1586219620,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLmpGS09uZlA4UTZ3UmpMU0VnYS1LYjQzMHdJcHc0VUFX[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/key1/a702393e170a44e5b47386cf38a78096","kty":"RSA","key_ops":["encrypt","decrypt"],"n":"3yfMHNUmqaRHpYHzTsLPcMzRb4YIZAJ8OOJpYkDnTaDZGJLh-ZhkyaeD55tQJn8Ef1UBVPKgX3aX1XH_74bCJ0bMPHxYygpVd_5-yXYcVLTo-klUHD46VwBOKQYujDfalf0pxs3f7C4ug8XCBlrP0hW9eB098wFcTApkRGsvc8rtCvFaJEYwXDIqQWCVwKl_GFa2hqzOpF4AoMXhUcG8XQoDyqb_YGD8eWudvxJskzUmGYLrxpohL0wlEHB_P9xbFZxsynuPQO0fm4ikErTMEOJ3S4-sscEHkcSJ8K8xKifAg6qWesQ-Mvz6AzUqyPVZ1oXfcibiJO8orquyjMKHgQ","e":"AQAB"},"attributes":{"enabled":true,"created":1586219627,"updated":1586219645,"recoveryLevel":"Purgeable"},"tags":{"test":"foo"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "JkF6dXJlS2V5VmF1bHRLZXlCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLmpGS09uZlA4UTZ3UmpMU0VnYS1LYjQzMHdJcHc0VUFXYmxUVHl3bGRxRmotd1lMd0RRZUMtakhab0RFaEZoWHVwamlvR2VIdjl4R3BRdDg1RWZDZDVoMUFsWjhuVEJuc2k3a3dIS3ctTDNFRFJpZ1FBOVJtcmZnOFZiVHhPYmhodU1OWjN0aGpvX2lKVUNoUWhZbWN6cmFEZFhEWXNCSkZFdkRXaTZXTkEzQUl2bUZSenk1VEM2dVJCN0g1SXRBM3RtaFp[...]
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U",
      "e": "AQAB", "d": "aY2BCD3ejBI4MWflWmq0pCZGgh_THwe5kpL2xX1-0vdGkX4CXVkpg0YLaZ4T_9y_pzWRPccvchcpvP6LkpAe1R_jsmfP8QedT2yDTf4T-mE1hyl4D5zyObHjQ-g6uUMT6FpeTgoSkcU90PK-lF31igCitfVgeSNIC7Fq-9ZywWE",
      "dp": "OWxWym28y_4zUTOnaqxaUh3MLmR8M36lAhWZeWo1fcanHjD5GMB9yXSxSwH8wsiQg85EuGC7SMwwzMj49wF-tQ",
      "dq": "usuhE4XnU_bn3Q24t7_18iTnbEafjLyAnLhGcE5L-Rkry-i8shW9BMhh5v6qUFoZHsrxi6CegoFNmmSNuGdVSQ",
      "qi": "zkPMVRQgdyavd6Lwr9mhvezvtoFa9ABIYSzG5I0F_QS6HWtoQRgsrl9kGgvNEvZIPaFGCam1yW0txknvOzn2Ew",
      "p": "8u_9d7zTn7zT-2wBfiMVgfoOP5GmqV6eOrWcRHo0yG0mkYbrt-hxdvoDdye1Hj9ZGKcd590Gpu8nVLDJvuVwPQ",
      "q": "2Fbzajbs4F1bTH6bmvkShrqRbx-XIW_qnbOtGs7ds2VIcqQIwM5c8Y1YvqBKn6LP5nd_qBAmvVjSAMdh73382Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-key-plain/f521f9cc45e9414e9c37a9fa53d8dc73","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U","e":"AQAB"},"attributes":{"enabled":true,"created":1586219666,"updated":1586219666,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Hsm": true, "key": {"kty": "RSA", "n": "qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ",
      "e": "AQAB", "d": "U8ohMChjSPuNpXMGEGjDQAIeo5WAHtsDWIaxMYXUHQ6J_D8DQrz1eBeeWDxhiHUxnm[...]
[...]
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/35b208ce185f41e49ac4ce695be85fc6","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"rI21EDgvSeeIY4OzMU27PxeV3eHKm6q1JF-iee3xG2U","y":"h29jls6Z-vxqg9lm_kwEI9hA0KbzsZztwgwDYjDIIg8"},"attributes":{"enabled":true,"created":1586219671,"updated":1586219671,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/eckey1/44c6307b4bd04d5a927804a151733612","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"wpFzStmVYOZLI-N2uTRUMDeG_2pv12iG8hk5wLg2U6M","y":"IgQ7ST7SHmlaFf1fT9ag3LCexFTju8Nraa1lsZOlWoA"},"attributes":{"enabled":true,"created":1586219674,"updated":1586219674,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "iSHNXO4xIu4VArH0o-PLYrKy6VaJxvjEGQVT-rz1IU4",
      "crv": "P-256", "x": "li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM", "y": "ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-plain/5603cc2f3a4b43988fc7ec40f51624d8","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"attributes":{"enabled":true,"created":1586219679,"updated":1586219679,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "AfqngG4fnCqOyjTsRiBL6sxt61XHHwLSN3YjLhHWrFTdV9Uev7c-3oiXXwExwLkeEMZk1bOuSJO3_rZbX0ymkwAM",
      "crv": "P-521", "x": "AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS",
      "y": "AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000002.vault.azure.net/keys/import-eckey-encrypted/e9630234e88a4d27b8796a5ccd4303c2","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AbrVIZG8gPu6vTAbrs7OFStWCCDzbH29jAKaQqCaMS36wZvYjpT7ErJdE6RuqDs4m9iIb8VaP1FU5go4vAEIVvyS","y":"AXjftbkXFhvx5d0ooAHtNwY-1xgXAUtpKLiZKiWMjRchKaX6YRc2wHCCib1KqstdqGxrqKhv99_V9Al57QcLL71Q"},"attributes":{"enabled":true,"created":1586219681,"updated":1586219681,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key1/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key1/24dc02dddf0e40858c3366d62570eb58","kty":"RSA-HSM","key_ops":["import"],"n":"lgdLSw4L8950sQg5nAy1cRAEmfnu7qn85NaOwIkR0AcW_cpBFmLXB6hlzCCVk0C4xyrNHhNZnhUR6klEd-_H1n5ACRNucDhffnZI76QL3gJi0_X2ir5CrWjqilL86ltAKTMgOlOMmn55FfKq4parS0LN_bQGm-FllnTB7J4YszAtWVoI-v75MivwCT1wO-knn86CyuRO2mfUunOoxa_xLPXCgGgZwdL197xXV_WndEb9W4RRUBCoeIA_QkE_N5Y2SdtW1thD5GdEWnPxy3_499ufAPaP0itNBsi4cVW9Z61-ETX_fUAqvZT9tzsKAyuCORwSJto3LPRWMnb0vcRxQw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1586392531,"created":1586219731,"updated":1586219731,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 4096, "key_ops": ["import"], "attributes":
      {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-000003.vault.azure.net/keys/key2/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-000003.vault.azure.net/keys/key2/044b5ebb6431414eb9ccf2a702cc5341","kty":"RSA-HSM","key_ops":["import"],"n":"vycpUaL5EcUA24MlXKAHrnR4kAQRwffHM8-qQ7I3xdUQrS1HyKNF252mxo7s33UnEFoOxdW5rI6oo561VPbdS6H2jvoZPVL6lcPs6N5j-xL2H15hM-eUyV7qP0nV0AkAZFRw7R8XV5-p7fJz9EiiYJb5csHKqGAiiVO8c3_SOKsOmTAGxjltJsnPCjYCqIjLa1t-P3084seCAk7cngzpka3n9Uo2sGnGIFz_7Xm_XGnhLIfDXhGTR341mrn15EKp_y1kMnt-wt5dqkMX8Qa2Arqvp0K3mOE_ml_wksbvvlbxM9KqsPO3sIEBC-XZe3Skk97-HRnBBeOtcKcIVpHb3xlkarWttqEbcmPem81VjYF9O75V9lt6v3TGnwZLnG2lxYadWlyucPdesdp4TmYMbDwGJCSmj9Ow9kNVzr-Ek77mizJGumUZsq5yL3GC_z0XOftUFK17ugj-4bUuObjNJo7W-SESwe2-YNt_ZpWQ7XGJmmbhbj47g8Snt_L10O54G001XVh2QmzrqL7CeTjyNOPeJ2Ls-Tmh-ebBRFn0Hzw9gQXE0lG-i2VnqGb7upck3Bh-uyriTUu_eI2dRSRV9v6JPyeZXzR0Iyo-R8Ab70CJfQb-Pr2KKs88ta66f91KRFymADvJmioRS9wg6yIJnzh4KYj9SkQQrwXJ02gGHUU","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":1586392539,"created":1586219739,"updated":1586219739,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
