interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"0d504196-1423-4569-9a6e-15149656f0ee","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-07-26T02:02:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Leo
        Li","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"jiasli@microsoft.com","mailNickname":"jiasli_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["jiasli@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:jiasli@microsoft.com"],"refreshTokensValidFromDateTime":"2019-07-26T02:02:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/0d504196-1423-4569-9a6e-15149656f0ee/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"jiasli_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-07-26T02:03:29Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2488614'
      ocp-aad-diagnostics-server-name:
      - MsR8dNtw/2nXn4ZEvTFyfkw61QFDCp+xMP8KxEby8jA=
      ocp-aad-session-key:
      - kV-tj_nCzNU5qS6TDU6KGbUdleyeFhgL6nWiPCbbb-MKQnPtTDR7S_8u9trUNa-w8dSWrhwyX_5c1JBSFQZ-Y5rl1W8qh6PE_EI-05cuHLnDrnpaYJEJSelPY8D3fuZw.1pnnQ_FcgUjmH6KNwtP_veeQW-BkLcOZYkokuMxC6cY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "0d504196-1423-4569-9a6e-15149656f0ee", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_key_download000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-d-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_key_download000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-key-d-000002","name":"cli-test-kv-key-d-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"0d504196-1423-4569-9a6e-15149656f0ee","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"vaultUri":"https://cli-test-kv-key-d-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "h7ffwocPm8d414HUWGzrwqnHaMeOmqH9Bmm1IwT-IvQ",
      "crv": "P-256", "x": "clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc", "y": "h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/2a0d17f4f63e403cb19c69cd40e34bc0","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc","y":"h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},"attributes":{"enabled":true,"created":1581608838,"updated":1581608838,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-file/2a0d17f4f63e403cb19c69cd40e34bc0","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"clUrtHdYtNdfl7cueN47hqM6SuyPn18rpsLutGJ_qHc","y":"h6r2XZy9W_miQTUXmZWktuC5SVY7JsZ_2XINQSA9EVo"},"attributes":{"enabled":true,"created":1581608838,"updated":1581608838,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "EC", "d": "zL5lKpvA5G-5YsKYQfXZMlQzrMPtAbGBhzN5T_YBkLI",
      "crv": "SECP256K1", "x": "H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0", "y":
      "FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/cdd2afcd4d5d4b188ec030ceec54d66a","kty":"EC","key_ops":["sign","verify"],"crv":"SECP256K1","x":"H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0","y":"FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"},"attributes":{"enabled":true,"created":1581608850,"updated":1581608850,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-file/cdd2afcd4d5d4b188ec030ceec54d66a","kty":"EC","key_ops":["sign","verify"],"crv":"SECP256K1","x":"H7Thoa_qhy7HoBSFPKOL9edHRqr305sCa7ozYkRLIe0","y":"FkffDAOC8F6WQxd3aNAjDaiGC80ybBt-wy54EGeKyT8"},"attributes":{"enabled":true,"created":1581608850,"updated":1581608850,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Hsm": false, "key": {"kty": "RSA", "n": "zJEYKuhIeHvKqZZtJRDtQjg17ChAZtY_yJfNqv30xnzkzOZwVmy7NViVQIRnkCYvAMCstja-EpEpeW02LD83teNQRKM9Nie74g7ehDn6ZZCSdQQ54TQemt26hMfnFVaUl376p0E398IP1leHcvYOaiVgT_ffUhNhgIUJ5sIphtf4D1p5bWFYvs_Gd-A-Fk38hnerpl7JRF4y6p5WGJzvXKKs0QVSaQ1NHD7L1tQ0xTKra3FS_BGwD7ZdgBZerqzBPgxRjuxzq2DQJlHtvINsFjJhsMtwI11UV5-tIBOEWPSBTIoQpUWGB-_4jZ44IpKlBDQuc1kqa2Y8-eO53Gxn-Q",
      "e": "AQAB", "d": "yt8yGotWI7aQ2_KEt3e79CoOv--DPvlHNEXn_6XvdFE0D0iRLASU_GinS96DXl-fyZ1LK0HK6lrvyK5YRTVEqKuQVSGWePiayat5XaSqAMOJm2bfh8nKeEdgzIH7WBwPLNcO-YQiXyEj16vidk4zKW17wJLP9HOoBG7rzN_Nkx0g2vmwPgb2MIpQQU9-O1pC3bbjfSfvahclfUTiUUTGId8RjnILP5ppToE0rm1N0NrCEBwUy7Z4DgOIOOeoOCB-RtPRqBKQCEAPHhu8c5pL_hAranvVdAP_Z41iFzWzvlftNXVA4gCp50-bs2zxk-PIZwNOVi1AEDtqj-WROB-rIQ",
      "dp": "Uhsfj7N_NR6fLEtvOBNu5Gof9QpzGoYWtoYXAbIGnMiTwoVg5LUNUOMhGHCcb7vknzwaWyNPrjjMZhpE5KK0a1hGQ8ZSm4luCNglXAptv9LKUq53GZ7QUwqoCxE0t1Dm_B-r0sXtH_Rp7vOL-t3NoUyTNcrP6q5SXiF4IW6TB5k",
      "dq": "MDQ4Qpvrhr1pr1qxn9F5oHdcqipqgZrgF6qszpbvt9ywrrdt1JdpC9RLTXIv4HSJuIXNiDTrDXNUKSdkc5Ih0sr3q-HsyVWR5j7bjKjcr_MBtaQUhXAeDJvzsDJQkFscONPjnl67rdMy_dLOPodnUPwqVWj39VN_pvj_iXlX9dE",
      "qi": "MlnTFV66f5o8xepzA2mmq98p8xawtv9fHvs7er1JgbUlFeAgid4vycPxHBVCfw9s9yp1rIUdmubCF2DMgf_t1UTB35BArN5iizwW9zh6ClNlSuZnXLld4W04eX1OYctIDWHxwmPQetYKPLKLZxb7Y-Fj0rzxXnsoSfTK_mGOgGA",
      "p": "9BRdHYHJhfR79UEXeVSj3jKKRFp7qCIzSTwxDATVjj0V-5nCqnzsTiGa7GU4me8BCPMhCgdrAvR87uouS9hwMk_FPlE4J4co4LInq0aZWiOmmqK6rUZGk5nZd8gS3TStCC659givRXs54_ZfbtK96rSwn8JiBfisYAG-rk45b3U",
      "q": "1o63lPiqS67G_EBHHrlL6KZODrpThobPbmsKPsu9xWEqabZcJjPXKcBHzVOeH-3REx3wzeZTFFlTUytswJ5hlu3kKVaYx8cq1lrb09hhy9W-o0GeqVs8YPt8Er4nIa[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-file/cda0d0f272e84228a078186771773deb","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zJEYKuhIeHvKqZZtJRDtQjg17ChAZtY_yJfNqv30xnzkzOZwVmy7NViVQIRnkCYvAMCstja-EpEpeW02LD83teNQRKM9Nie74g7ehDn6ZZCSdQQ54TQemt26hMfnFVaUl376p0E398IP1leHcvYOaiVgT_ffUhNhgIUJ5sIphtf4D1p5bWFYvs_Gd-A-Fk38hnerpl7JRF4y6p5WGJzvXKKs0QVSaQ1NHD7L1tQ0xTKra3FS_BGwD7ZdgBZerqzBPgxRjuxzq2DQJlHtvINsFjJhsMtwI11UV5-tIBOEWPSBTIoQpUWGB-_4jZ44IpKlBDQuc1kqa2Y8-eO53Gxn-Q","e":"AQAB"},"attributes":{"enabled":true,"created":1581608854,"updated":1581608854,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/dffe5f6749d64c64af9d4ad548a913cc","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"cpdcmMiUqtty66ANS3XVmcQhDB8KH9ndwDsOLzWMpjg","y":"l6fijYJ_xEXGjSsatVcOmsNLTcnZRoXRJUyShFpOAxs"},"attributes":{"enabled":true,"created":1581608868,"updated":1581608868,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256-hsm-file/dffe5f6749d64c64af9d4ad548a913cc","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256","x":"cpdcmMiUqtty66ANS3XVmcQhDB8KH9ndwDsOLzWMpjg","y":"l6fijYJ_xEXGjSsatVcOmsNLTcnZRoXRJUyShFpOAxs"},"attributes":{"enabled":true,"created":1581608868,"updated":1581608868,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256K"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/49a1c17ae2704a98832f60f2d16ef64a","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256K","x":"UB_YYUe3iVK2kwZWe-l6d1cPVi-3YHfldHYHmEMy_E8","y":"MJXsOvQsjbAf7ewKhvlTbVjfeM2-CbNyFbrKFvHVDj4"},"attributes":{"enabled":true,"created":1581608892,"updated":1581608892,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/ec-p256k-hsm-file/49a1c17ae2704a98832f60f2d16ef64a","kty":"EC-HSM","key_ops":["sign","verify"],"crv":"P-256K","x":"UB_YYUe3iVK2kwZWe-l6d1cPVi-3YHfldHYHmEMy_E8","y":"MJXsOvQsjbAf7ewKhvlTbVjfeM2-CbNyFbrKFvHVDj4"},"attributes":{"enabled":true,"created":1581608892,"updated":1581608892,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/334480c65e7849b6a5f70ba756fec103","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xfs49WNK3jg1vNcMYyKUZmHnFbxy6i9Fx6jVzWDzDqD7tmsXCehK3OD4L61TFChsoQnz2UeCG-HczLXvbe9zTILU58NN4NUDGM1Yzyet4naYvYD-2iB8I1Ntho3kAu_hbwzIxaEqjMZwDNYUQZgpkFRz6e_MTLfyAsqLJFBKSm_G82_8Dhs-zfMeIixC6T-gdMNjco1opeopqrU6mAfgBwUoJEXcF0h8EGPUPRSiG1EW3OIOwP5x4UWIJIdU1N5uJ7qSfuAl5Ibj4ZAn9v2zK2td3s8YgGxT3L1DhZTBx3rM5slL5Fde1LCdx3ehuezC6J0e05bPjaPbxgB_R41hgw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1581608897,"updated":1581608897,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-2048-hsm-file/334480c65e7849b6a5f70ba756fec103","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xfs49WNK3jg1vNcMYyKUZmHnFbxy6i9Fx6jVzWDzDqD7tmsXCehK3OD4L61TFChsoQnz2UeCG-HczLXvbe9zTILU58NN4NUDGM1Yzyet4naYvYD-2iB8I1Ntho3kAu_hbwzIxaEqjMZwDNYUQZgpkFRz6e_MTLfyAsqLJFBKSm_G82_8Dhs-zfMeIixC6T-gdMNjco1opeopqrU6mAfgBwUoJEXcF0h8EGPUPRSiG1EW3OIOwP5x4UWIJIdU1N5uJ7qSfuAl5Ibj4ZAn9v2zK2td3s8YgGxT3L1DhZTBx3rM5slL5Fde1LCdx3ehuezC6J0e05bPjaPbxgB_R41hgw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1581608897,"updated":1581608897,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-4096-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-kv-key-d-000002.vault.azure.net/keys/rsa-4096-hsm-file/7c0ede1a279e49d7b0c818aeab08a0d4","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"-0gJ-fZlFPbhouUd23djRwrIl3502PV3AEWuQp5dzhwXFtDAs33YS6CpAiQ1oCg2fjiiUYG-T1H2ehNpD5III2Ma2hz4i8N8x9O6e6XNVEptcbPBlPXlotOV_cJc_S5xreus0RaxN6yQeowc1oyiC2Qc-gNlTg5g0k1nU1UG5yZSfmgk8TN7FV6nWYaMjco3f6XA8Cm5UwV8w03MmWeXUADHafltPwMGyFX0RbCE9s1gBpC7huAIyFaMIN3NATMzxLlds04t3bnjyEB6254955_O96YICgXcXRWCHaKaEtIWmoNY1958n2x7gArLZn9AAJV2RejYt3R08sH0PrOTnGJQtShDwyu1sku2sRl4VrH8zKrILSVHGH-DzqexI7y0kiDIfkZuhy7nkG-yJ0wDjta6e-QRNTkCG3f9XyGmlTFRJD5SZXJU0JjhMoUPDU8PzUqSWs2NR6TSXmTp9hvP4ao4QNb-UEhnFIyebOiRVQ6FtOh-y2gFn22Jy5E4KBEybetLRjnik3OhMtN1wXOwldPPH1q0yKS0t6LQgnXQe8Ro8VsJDFEU9owWx1BJeDQFsB7xzyrYs1dmMTYJ_bEC504a9b_PiPmctOJqOTcNQ5OxQ65LcbWgEQ7I4k_ZsT3VAgGMnPIYjEQn5vFVUZ9rsQ94Rad4AgSlyYrqtMnl5s8","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1581608915,"updated":1581608915,"recoveryLevel":"Purgeable","recoverableDays":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
