interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0914.managedhsm.azure.net/keys?api-version=7.0
  response:
    body:
      string: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '0'
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0914.managedhsm.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '74'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0914.managedhsm.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '73'
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest0914.managedhsm.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1600071175,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1600071175},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://clitest0914.managedhsm.azure.net/keys/ec-p256-hsm-file/281eded9f27a00551d8f5259b5978316","kty":"EC-HSM","x":"CiQP6RwmlTmv9g7rgcE6GHkFJSoOjRxog2OyxrBK63w","y":"6aa0g_xDClZNRq1m6UqkVcFxYADXnxFWwRpZ2OVZXtM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '272'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0914.managedhsm.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1600071175,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1600071175},"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://clitest0914.managedhsm.azure.net/keys/ec-p256-hsm-file/281eded9f27a00551d8f5259b5978316","kty":"EC-HSM","x":"CiQP6RwmlTmv9g7rgcE6GHkFJSoOjRxog2OyxrBK63w","y":"6aa0g_xDClZNRq1m6UqkVcFxYADXnxFWwRpZ2OVZXtM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '15'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest0914.managedhsm.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1600071186,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1600071186},"key":{"e":"AQAB","key_ops":["wrapKey","decrypt","encrypt","unwrapKey","sign","verify"],"kid":"https://clitest0914.managedhsm.azure.net/keys/rsa-2048-hsm-file/dfe7812d0c8543b51f7fad58fbfa63e3","kty":"RSA-HSM","n":"iB6oVwd8aenW7qZAf6JmRqCG_dpZa8OxUlSmhXg4kIUYBj_V8FsENJum978xxGqIn6gqSHy9b4lEgBTzBZfq0rs-1URYKJVPGso9p4V0xqgL7z0bLI_BUOqadlv8xnXlqnLFzkwdDtyIsD1O72HFwGjguxHbVrzKF1ksassopo0g239PLatq4n7a57AoHzCPR2uf5GytHzfh0K1Tp8NzcACbiSXaVvZZ8lJ4wXTxTxx70kD3g70w67k_xutVGUmbhuLpxWKvFULJU0ne9rCruolycIkjy_zBjVb7XOtkYikPNCHzziIuV9nmFIn0lHH1BjGjogaQ7RmrT80zwsn47Q"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '234'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest0914.managedhsm.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1600071186,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1600071186},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","decrypt","encrypt","wrapKey"],"kid":"https://clitest0914.managedhsm.azure.net/keys/rsa-2048-hsm-file/dfe7812d0c8543b51f7fad58fbfa63e3","kty":"RSA-HSM","n":"iB6oVwd8aenW7qZAf6JmRqCG_dpZa8OxUlSmhXg4kIUYBj_V8FsENJum978xxGqIn6gqSHy9b4lEgBTzBZfq0rs-1URYKJVPGso9p4V0xqgL7z0bLI_BUOqadlv8xnXlqnLFzkwdDtyIsD1O72HFwGjguxHbVrzKF1ksassopo0g239PLatq4n7a57AoHzCPR2uf5GytHzfh0K1Tp8NzcACbiSXaVvZZ8lJ4wXTxTxx70kD3g70w67k_xutVGUmbhuLpxWKvFULJU0ne9rCruolycIkjy_zBjVb7XOtkYikPNCHzziIuV9nmFIn0lHH1BjGjogaQ7RmrT80zwsn47Q"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20200827-3-83ffcc79-develop
      x-ms-server-latency:
      - '16'
    status:
      code: 200
      message: OK
[...]
