interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-graphrbac/0.60.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-graphrbac/0.60.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:46:29 GMT
      duration:
      - '2991777'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - 1xKkKNXlZH9/UfFZHBaUKUlYOYWLeRVZUJpmsmgJSbc=
      ocp-aad-session-key:
      - GBdpDGIY0qNO3NhdSXke7NDMjJkSOaxNPPFqimGv2JKlR451ZhHZ2bYgHrfZI8ZpX-6bvZQQ1c2cXCmcmD-RYQUi1XSzqO0dBZIScQdLDevHwtweFHT8wyQDhrw_KRgD.qjIp6kgcUaZuNw93C2VdPt9Qj-x1TKZ0YbReB01MU7Q
      pragma:
      - no-cache
      request-id:
      - b679df0a-1f8a-446b-9e2d-d1b602cf0d0a
=======
      - Thu, 19 Mar 2020 14:29:49 GMT
=======
      - Sun, 22 Mar 2020 05:28:33 GMT
>>>>>>> All tests passed
      duration:
      - '2594523'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - 9WXYjtljUni6R4x3ceMCi6jN8lbj4nyUqEgooMOCvq8=
      ocp-aad-session-key:
      - uBWkbNrV4m5S_dlg-pHIvMQDKJc3eiEO9DPeheXpiCgNRm6GWb7ZfDQK8chv70SjZwidxs3CEI0bBHMYt_YycXWuGC10a-Dod707oHlFyaTo-I_gji5pa-pNem2TW1rb.MyVXDP2lksp2NkoI3q2NDuJSxX-Qn4M-r8byAZixQkU
      pragma:
      - no-cache
      request-id:
<<<<<<< HEAD
      - aed0c952-c988-4021-a376-917aa58ddba4
>>>>>>> Update tests
=======
      - 94827125-11c5-412a-945a-3606c7f2fcf8
>>>>>>> All tests passed
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false}}'
    headers:
<<<<<<< HEAD
      CommandName:
      - keyvault create
=======
>>>>>>> Update tests
      Connection:
      - keep-alive
      Content-Length:
      - '839'
      Content-Type:
<<<<<<< HEAD
      - application/json; charset=utf-8
      ParameterSetName:
      - -g -n -l --sku --enable-soft-delete
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
      accept-language:
      - en-US
=======
      - application/json
      User-Agent:
      - azsdk-python-azure-mgmt-keyvault/0.1.0 Python/3.7.6 (Windows-10-10.0.18362-SP0)
>>>>>>> Update tests
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_cert_issuer000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-ct-is-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_cert_issuer000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-ct-is-000002","name":"cli-test-kv-ct-is-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://cli-test-kv-ct-is-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:46:38 GMT
=======
      - Thu, 19 Mar 2020 14:29:59 GMT
>>>>>>> Update tests
=======
      - Sun, 22 Mar 2020 05:28:41 GMT
>>>>>>> All tests passed
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-service-version:
<<<<<<< HEAD
      - 1.1.0.271
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
=======
      - 1.1.0.275
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1199'
>>>>>>> Update tests
=======
      - '1198'
>>>>>>> All tests passed
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - application/json
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - keyvault create
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -n -l --sku --enable-soft-delete
      User-Agent:
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-mgmt-keyvault/2.1.1
        Azure-SDK-For-Python AZURECLI/2.2.0
=======
      - '*/*'
      Accept-Encoding:
      - gzip, deflate
      Connection:
      - keep-alive
      User-Agent:
      - azsdk-python-azure-mgmt-keyvau[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: PUT
    uri: https://cli-test-kv-ct-is-000002.vault.azure.net/certificates/issuers/issuer1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:47:10 GMT
=======
      - Thu, 19 Mar 2020 14:30:31 GMT
>>>>>>> Update tests
=======
      - Sun, 22 Mar 2020 05:29:18 GMT
>>>>>>> All tests passed
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000;includeSubDomains
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-network-info:
<<<<<<< HEAD
      - addr=167.220.255.4;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.0.897
=======
      - addr=167.220.255.68;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.0.898
>>>>>>> Update tests
      x-powered-by:
      - ASP.NET
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"provider": "Test", "credentials": {}, "org_details": {"admin_details":
      []}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: PUT
    uri: https://cli-test-kv-ct-is-000002.vault.azure.net/certificates/issuers/issuer1?api-version=7.0
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"id":"https://cli-test-kv-ct-is-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{},"org_details":{"zip":0,"admin_details":[]},"attributes":{"enabled":true,"created":1583848033,"updated":1583848033}}'
=======
      string: '{"id":"https://cli-test-kv-ct-is-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{},"org_details":{"zip":0,"admin_details":[]},"attributes":{"enabled":true,"created":1584628232,"updated":1584628232}}'
>>>>>>> Update tests
=======
      string: '{"id":"https://cli-test-kv-ct-is-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{},"org_details":{"zip":0,"admin_details":[]},"attributes":{"en[...]
[...]
- request:
    body: '{"provider": "Test", "credentials": {"account_id": "test_account"}, "org_details":
      {"id": "TestOrg", "admin_details": []}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: GET
    uri: https://cli-test-kv-ct-is-000002.vault[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: GET
    uri: https://cli-test-kv-ct-is-000002.vault.azure.net/certificates/issuers?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-ct-is-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Tue, 10 Mar 2020 13:47:24 GMT
=======
      - Thu, 19 Mar 2020 14:30:47 GMT
>>>>>>> Update tests
=======
      - Sun, 22 Mar 2020 05:29:45 GMT
>>>>>>> All tests passed
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000;includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-network-info:
<<<<<<< HEAD
      - addr=167.220.255.4;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.0.897
=======
      - addr=167.220.255.68;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.0.898
>>>>>>> Update tests
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"provider": "Test", "credentials": {}, "org_details": {"id": "TestOrg",
      "admin_details": [{"first_name": "Test", "last_name": "Admin", "email": "test@test.com",
      "phone": "123-456-7890"}]}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.2 azure-keyvault/7.0
        Azure-SDK-For-Python
=======
      - python/3.7.6 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-keyvault/7.0 Azure-SDK-For-Python
>>>>>>> Update tests
      accept-language:
      - en-US
    method: PUT
    uri: https://cl[...]
[...]
