interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/create?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
      x-ms-server-latency:
      - '1'
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "oct-HSM", "key_size": 256, "key_ops": ["encrypt", "decrypt"],
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/create?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1659086818,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1659086818},"key":{"key_ops":["encrypt","decrypt"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/0c83a42a881c4df6be353670ddb2a714","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '327'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1659086818,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1659086818},"key":{"key_ops":["decrypt","encrypt"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/0c83a42a881c4df6be353670ddb2a714","kty":"oct-HSM"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-build-version:
      - 1.0.20220714-2-203c012e-develop
      x-ms-server-latency:
      - '119'
    status:
      code: 200
      message: OK
- request:
    body: '{"alg": "A256GCM", "value": "dGhpcyBpcyBwbGFpbnRleHQ", "aad": "EBESExQVFhcYGRobHB0eHw"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/0c83a42a881c4df6be353670ddb2a714/encrypt?api-version=7.3
  response:
    body:
      string: '{"aad":"EBESExQVFhcYGRobHB0eHw","alg":"A256GCM","iv":"Rh7B43xIZsv_OIFs","kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/0c83a42a881c4df6be353670ddb2a714","tag":"iQp88KD4boYUgkTJVcaY2Q","value":"Xmqt_wta3E378qbKu2MM_K4"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"alg": "A256GCM", "value": "Xmqt_wta3E378qbKu2MM_K4", "iv": "Rh7B43xIZsv_OIFs",
      "aad": "EBESExQVFhcYGRobHB0eHw", "tag": "iQp88KD4boYUgkTJVcaY2Q"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/0c83a42a881c4df6be353670ddb2a714/decrypt?api-version=7.3
  response:
    body:
      string: '{"alg":"A256GCM","kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/0c83a42a881c4df6be353670ddb2a714","value":"dGhpcyBpcyBwbGFpbnRleHQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '18'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001?api-version=7.3
  response:
    body:
      string: '{"attributes":{"created":1659086818,"enabled":true,"exportable":false,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1659086818},"deletedDate":1659086828,"key":{"key_ops":["encrypt","decrypt"],"kid":"https://ystesthsm.managedhsm.azure.net/keys/oct256key-000001/0c83a42a881c4df6be353670ddb2a714","kty":"oct-HSM"},"recoveryId":"https://ystesthsm.managedhsm.azure.net/deletedkeys/oct256key-000001","scheduledPurgeDate":1666862828}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '83'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ystesthsm.managedhsm.azure.net/deletedkeys/oct256key-000001?api-version=7.3
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-server-latency:
      - '147'
    status:
      code: 204
      message: ''
version: 1
