interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"0d504196-1423-4569-9a6e-15149656f0ee","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-07-26T02:02:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Leo
        Li","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"jiasli@microsoft.com","mailNickname":"jiasli_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["jiasli@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:jiasli@microsoft.com"],"refreshTokensValidFromDateTime":"2019-07-26T02:02:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/0d504196-1423-4569-9a6e-15149656f0ee/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"jiasli_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-07-26T02:03:29Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2494735'
      ocp-aad-diagnostics-server-name:
      - PVmdQVFo4vbIl3qFfJQXwZ8eIdlDxR0EypQwMc2EbEk=
      ocp-aad-session-key:
      - fZqxdOx6a76vMw4mGQEUsmgCPC1qhjldCsc9i6uFjfvLoImsQCUgU8bCm2v90ZPtPP7W9kRkANHvbebZt5vLUemkVvtfnF2nfQ5dI-r6UYV10ibZrs0aOyYoXjauakT0.yO71LH78qk9U7AgNfhwY1HAD4O8IEve9qNM88F_kgEE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "0d504196-1423-4569-9a6e-15149656f0ee", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"0d504196-1423-4569-9a6e-15149656f0ee","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"vaultUri":"https://cli-test-kv-se-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/591036b9cfe740fcabb3ebea47860b2f","attributes":{"enabled":true,"created":1581608837,"updated":1581608837,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1581608837,"updated":1581608837,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1581608837,"updated":1581608837,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "DEF456", "tags": {"test": "foo", "file-encoding": "utf-8"},
      "contentType": "test type", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=7.0
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4759853ef99d4ebdb6dde2cfc0e7a925","attributes":{"enabled":true,"created":1581608841,"updated":1581608841,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4759853ef99d4ebdb6dde2cfc0e7a925","attributes":{"enabled":true,"created":1581608841,"updated":1581608841,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/591036b9cfe740fcabb3ebea47860b2f","attributes":{"enabled":true,"created":1581608837,"updated":1581608837,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?maxresults=10&api-version=7.0
  response:
    body:
      string: '{"value":[{"contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4759853ef99d4ebdb6dde2cfc0e7a925","attributes":{"enabled":true,"created":1581608841,"updated":1581608841,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/591036b9cfe740fcabb3ebea47860b2f","attributes":{"enabled":true,"created":1581608837,"updated":1581608837,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/?api-version=7.0
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/4759853ef99d4ebdb6dde2cfc0e7a925","attributes":{"enabled":true,"created":1581608841,"updated":1581608841,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/591036b9cfe740fcabb3ebea47860b2f?api-version=7.0
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/591036b9cfe740fcabb3ebea47860b2f","attributes":{"enabled":true,"created":1581608837,"updated":1581608837,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/backup?api-version=7.0
  response:
    body:
      string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLkh4UHQtS2VwQlhzQVhkOFlHeGh4M1lFczR[...]
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLkh4UHQtS2VwQlhzQVhkOFlHeGh4M1lFczRkR0ZGSUhlQ0h1RDZ2SWtyTW1tRnZaWEtVT2N6ZWZYOUxBSHgyd0ZPWjc3NWxQUjBVME53aWdDdV8wcDA3MXNCTEUyVjd2TUZlbWdrRXY2UFZYZjhvMFNzQzhWTzZlQkt2QWpvZm9KelI2dHlUbllTTWRRX0VNNVdGMElsX09EOVU3MDc1WktiZWdyME9xbmZuTEpSR3p6ZWQ1YkxLeUZmX2pVUUMxcTl[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/292f07ab8ec74024a5567349bb91c924","attributes":{"enabled":true,"created":1581608858,"updated":1581608858,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/292f07ab8ec74024a5567349bb91c924","attributes":{"enabled":true,"created":1581608858,"updated":1581608858,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/d9be137280484f7fb81fa4a303873df3","attributes":{"enabled":true,"created":1581608860,"updated":1581608860,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/d9be137280484f7fb81fa4a303873df3","attributes":{"enabled":true,"created":1581608860,"updated":1581608860,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/ce61eb4aca9f4acfad88d99ecaea52ea","attributes":{"enabled":true,"created":1581608863,"updated":1581608863,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/ce61eb4aca9f4acfad88d99ecaea52ea","attributes":{"enabled":true,"created":1581608863,"updated":1581608863,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/91431bdb968045af84c600a0b55a77d0","attributes":{"enabled":true,"created":1581608865,"updated":1581608865,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/?api-version=7.0
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/91431bdb968045af84c600a0b55a77d0","attributes":{"enabled":true,"created":1581608865,"updated":1581608865,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldAo=\n",
      "tags": {"file-encoding": "base64"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64?api-version=7.0
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldAo=\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/32f80bf87ea74e1292c8201f8e206108","attributes":{"enabled":true,"created":1581608867,"updated":1581608867,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/?api-version=7.0
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldAo=\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/32f80bf87ea74e1292c8201f8e206108","attributes":{"enabled":true,"created":1581608867,"updated":1581608867,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740a",
      "tags": {"file-encoding": "hex"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex?api-version=7.0
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/32c7c34cdd0248778f77f2c735d5d30e","attributes":{"enabled":true,"created":1581608869,"updated":1581608869,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/?api-version=7.0
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/32c7c34cdd0248778f77f2c735d5d30e","attributes":{"enabled":true,"created":1581608869,"updated":1581608869,"recoveryLevel":"Purgeable","recoverableDays":0},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
