interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys?api-version=7.0
  response:
    body:
      string: OK
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://managedhsm.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys?api-version=7.0
  response:
    body:
      string: '{"value":[{"attributes":{"created":1596110431,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110447},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key-g5dhet5pm5kbws36ip5a"},{"attributes":{"created":1596110449,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110449},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-plain"},{"attributes":{"created":1596110452,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110452},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-encrypted"},{"attributes":{"created":1596110454,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110454},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-eckey-plain"},{"attributes":{"created":1596110463,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110463},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key1"},{"attributes":{"created":1596110468,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110468},"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key2"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/key-g5dhet5pm5kbws36ip5a?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110431,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110447},"deletedDate":1596110497,"key":{"e":"AQAB","key_ops":["decrypt","encrypt"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key-g5dhet5pm5kbws36ip5a/6c220ae711be00058cf1426d16bf5f7e","kty":"RSA-HSM","n":"0-Vlbe09s7Ohtdt44J0P0ufJ7f5yiCw0pfTdoVU1U5rhAOxziIMfq3OE4ZCXYBn23G_XXjhFUiHT_GxxnW7KKpjfdxeBUnP1ruOewHLYgBxAiua99Afv6GXrGyounYvwj0pfRhwoGtDT8ruBdGiJM9xhmZzIW3U3Hk2vQK9_KBY7_2VLjCpU4phYjZGl-V2xJSxcEWQNTVJCtuZkmYoRRVlP-Yg1aTuN01puUOCFsjJIuWZJQyvxI725fCZPQ9uD4pWd5l3oYMO7wvH2lH80JC2ZK8s5xbMbORSoTBRk48-7hbD9BTWd8dB0hyZ_nigqILFz3oQy2_x_dChKxO4fjQ"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key-g5dhet5pm5kbws36ip5a","scheduledPurgeDate":1603886497}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-plain?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110449,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110449},"deletedDate":1596110500,"key":{"e":"AQAB","key_ops":["decrypt","encrypt","unwrapKey","sign","verify","wrapKey"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-plain/876cb171bbc102d11c3a9e2e98a45422","kty":"RSA-HSM","n":"zU0BesajA0-OXjH_bMo9dKMf74QMLYQO0UlhQoiuv15GUE-HvaeKXNLeOeuDmNSq2o-VDTsI6Ayr43c3vI_Jd0fcU5gVamLekxDmgdk4yZkBZHOlUFaCdRew7ClTIKTfeW9EoVeCfu-zlkpGoOPksotSqc9mWtS2GbnO2mvBL7U"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-plain","scheduledPurgeDate":1603886500}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-encrypted?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110452,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110452},"deletedDate":1596110502,"key":{"e":"AQAB","key_ops":["decrypt","encrypt","unwrapKey","sign","verify","wrapKey"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-key-encrypted/a2c229b74c3506d7a8e928fed8896dd5","kty":"RSA-HSM","n":"qkHvPSMiPoU5RnLI2v7EW5MvfHcObL_QJo83qmWgKCbaaFG3zQNLrJKCWCQUtP2ovB1Zr1_gpl7mO-NXY-W4LfzAMt-PrqR1oADK1LXZDZrsVvhTN3WQoUUDnGwu6tRajwES-uOMGutkCemW73jXKQDhESx7bETlD8YbxKfHtI6Ykx8YBwhTsuFLWmcvn4EveLGQBwMXZfwQil1qNMLcZsVGZlpNkufpLG0BO57METo6910K3q2CIs83mhylY6eCjqAeVtX9Qi5lt4Mz8gfXV5csDM2s7w84L0tz8_VpaC8rQqgyB16t7z0LMOPICEkODmQ8WInSfAcq7Jw2QoO5oQ"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-encrypted","scheduledPurgeDate":1603886502}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110454,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110454},"deletedDate":1596110503,"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/import-eckey-plain/499a49965df804e01792c88e16e504f6","kty":"EC-HSM","x":"li86GrOlNxhcyInofgyKTYvekq3QGpspRuByNRSR5CM","y":"ypRUUQHi84SwobPHhHHDzqXSPGPUvvijyt-i6AiQA0Y"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-eckey-plain","scheduledPurgeDate":1603886503}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/key1?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110463,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110463},"deletedDate":1596110506,"key":{"e":"AQAB","key_ops":["import"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key1/39929c113c320a540dd19ffed987e312","kty":"RSA-HSM","n":"pt7C4uHb8QutMolteL-klmCuEHLswVt2Py9uVlgkJWsiCW5DGX7djaqM5f6VY-pJjJEBgrhzKHgPK8EZH5kZrq_uHorG4RhAskuTSOjKOK_oLWlv-CmsiOdOYKvLRFhkN3qiL2DyRAl03dAIlB_md7XCP11c9e-doMSXGnLhWvb03yIMZlBHNeDmSq5-N6HJPhjk65F2lOucciDj6Smhd-eCj8ZmXNeDO3_JlgiZS8LjiCms0cOdsgL7Gl23ZCj-_H5a_vVO0YIT6H0r-6SkkwrYBR5cc2ogLpzWTlyslrLw-Nw2TGGSa2cS2Q7Bd3bMxe5W8YFatW_bBpLbq6xKVQ"},"recoveryId":"https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key1","scheduledPurgeDate":1603886506}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"attributes":{"created":1596110431,"enabled":true,"exportable":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110447},"deletedDate":1596110497,"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/key-g5dhet5pm5kb[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key-g5dhet5pm5kbws36ip5a?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-plain?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-key-encrypted?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/import-eckey-plain?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/eckey1?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://eastus2.clitestnew.managedhsm.azure.net/deletedkeys/key1?api-version=7.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: ''
[...]
- request:
    body: '{"kty": "EC-HSM", "attributes": {"enabled": true}, "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110546,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110546},"key":{"crv":"P-256","key_ops":["sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/6eb620e7b428491c8eee5ff5daab7646","kty":"EC-HSM","x":"rSc_xMGOvN1jDO72v5p8iZHIYhhycjSu_hSXAcAV1sg","y":"P4dOhffkpys9O1oN0RVajoI25C9quCOSj2crn30XQNc"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110546,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110546},"key":{"crv":"P-256","key_ops":["verify","sign"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/ec-p256-hsm-file/6eb620e7b428491c8eee5ff5daab7646","kty":"EC-HSM","x":"rSc_xMGOvN1jDO72v5p8iZHIYhhycjSu_hSXAcAV1sg","y":"P4dOhffkpys9O1oN0RVajoI25C9quCOSj2crn30XQNc"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/create?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110558,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110558},"key":{"e":"AQAB","key_ops":["verify","sign","unwrapKey","encrypt","decrypt","wrapKey"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/6953eb4891a20b1f3acf86affb8e3970","kty":"RSA-HSM","n":"yPz1muxi5pdZ2_2JlBUhxoKgGQ6Ijix1xEJ9OpOnqeiV_CKZi4DT_ejiZi8C0Vv_gnAx6CVWzCpxj9LULdtlAEgfOiWvHaa64IIAeOBNKSIWos0zQtqX_rFu3AY1sZ304PniHBEP0jxarc39HF1R_x6vx3HFRibTmpoLZ7YPQ7nLCQZ-QIFmc_k9kGeApZsYSq-WXNKZ85k01-xJOonndotJWsNM1RXtoqTzUPNlsUOKAdyMUsfh96D4zz9xIB0H6To8FSPC6PPvs_oCRBx1ZGTSK4LgCDV0BFjDnwDjE58VI8o_prQ-WreoniPegyq7zW-DGZQIg6J7g1xoDY_z9w"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110558,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110558},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-2048-hsm-file/6953eb4891a20b1f3acf86affb8e3970","kty":"RSA-HSM","n":"yPz1muxi5pdZ2_2JlBUhxoKgGQ6Ijix1xEJ9OpOnqeiV_CKZi4DT_ejiZi8C0Vv_gnAx6CVWzCpxj9LULdtlAEgfOiWvHaa64IIAeOBNKSIWos0zQtqX_rFu3AY1sZ304PniHBEP0jxarc39HF1R_x6vx3HFRibTmpoLZ7YPQ7nLCQZ-QIFmc_k9kGeApZsYSq-WXNKZ85k01-xJOonndotJWsNM1RXtoqTzUPNlsUOKAdyMUsfh96D4zz9xIB0H6To8FSPC6PPvs_oCRBx1ZGTSK4LgCDV0BFjDnwDjE58VI8o_prQ-WreoniPegyq7zW-DGZQIg6J7g1xoDY_z9w"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-4096-hsm-file/?api-version=7.0
  response:
    body:
      string: '{"attributes":{"created":1596110570,"enabled":true,"recoverableDays":90,"recoveryLevel":"Recoverable+Purgeable","updated":1596110570},"key":{"e":"AQAB","key_ops":["wrapKey","encrypt","decrypt","unwrapKey","sign","verify"],"kid":"https://eastus2.clitestnew.managedhsm.azure.net/keys/rsa-4096-hsm-file/bd333d3ca7d4416221cb743c37e80104","kty":"RSA-HSM","n":"xWhUCiy87nhxB-TC9rEN1sZdRwCxLpFsTivszkILo767meQ2oeSnGe8xQuBPOhcJ3ykWoGTbXZ-8gWrpY3ZVWqePrD3BCAdboyBaDFga4vhgBo6olD6YixU6AtsoMkb7ntYcqNMUyoaAe4BUeKraDQaw5UE-xHuaypyQt8aYTZn3fj-muGZ2P7ajk-_eZJckOBAV5tZ3uOw76BqefEGMe04L9wmwppvblCx0jpqP3gq9pl-nkG_bpjzsMOKjeEa8kB1HdhjZHl0vN9NPRDQAjLpAs2mLoCu4J3qhGpqyUCArmEMG-PIXIAaUGxNIqNgr9v7fOwW8kyX3MFbF4m3e3fRLYlIcODDHc0zM2UyPO9XiucZkNmy_o5JB2or1b3I4khnT2CPYEJoYcUc7zyqUS4HE6DLg0pGz9WarAMQgU9iKCxn15vbloHD0oUVWWZOcqd1Xhn5mL8T6c1aiP_mU3swv8YA1GNJdIhp-iwAJy2iG9hegaPaWSQAIye8CSK6JgaQIkCVX_o7br1V66EIP2qAVGGNOZ7IzYQRvSJXLz7Q70og0AC9huEMUtpHJnzJZimi4MF4zw3E2Uxe6-Q5-S1ecFWtE47tLvPXO8LH_T_cCCMpDd52a6SfiZHjk3P19MJ_mrxbG_Rim1HQSp_d7RImj5vBzgtlzZrXr1hFVWq0"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
