interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2503161'
      ocp-aad-diagnostics-server-name:
      - LCO7FoMbsDqj6PZQWNe/+mbi+pD489y5Br2Wb/dACnQ=
      ocp-aad-session-key:
      - hKp8Uw4ljdj7L6FvYGQ-GuW-2hKDR-RhQfmoioOyIQ-p6xs3_AZ3X5soRi3-C-sGEvQIwu2Jqqq-ufPrZtFUy4cQhjquKZFpmzi05iAcMi4lVQ3cYeXJ9K9QsCeQbE75._nA8nqJ9vpWwATHnR8ySLFztHpMy88giB62icYlzYsI
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMW1hRFp6ZUdoaw=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMW1hRFp6ZUdoaw==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bimkvTest","name":"bimkvTest","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvTest","location":"northcentralus","tags":{},"deletionDate":"2020-07-30T07:15:26Z","scheduledPurgeDate":"2020-10-28T07:15:26Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","location":"eastus","tags":{},"deletionDate":"2020-09-07T09:23:14Z","scheduledPurgeDate":"2020-12-06T09:23:14Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/pgsqlv4cftzayjd5adxodrrr","name":"pgsqlv4cftzayjd5adxodrrr","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgdenscfphsmvtwgerwgyhsdz45op7duiuntmkpeu4htsktmgq27xoz7lfahwdhixku/providers/Microsoft.KeyVault/vaults/pgsqlv4cftzayjd5adxodrrr","location":"eastus","tags":{},"deletionDate":"2020-09-05T05:44:55Z","scheduledPurgeDate":"2020-12-04T05:44:55Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/mysql5rt2dy7vfomlr347n6m","name":"mysql5rt2dy7vfomlr347n6m","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgrabrfgeffnkvekpl47jwfmjj3jwlsfavoffjr7wbzdtvaikmvdie6a3pu6iuwx5ie/providers/Microsoft.KeyVault/vaults/mysql5rt2dy7vfomlr347n6m","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1MDY3NDA3NTc2ODE1M3w5OEJBRUVCNEUzMUY0ODBEQTJEODQzRjYzMzlFQzAxMg?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1MDY3NDA3NTc2ODE1M3w5OEJBRUVCNEUzMUY0ODBEQTJEODQzRjYzMzlFQzAxMg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-09-07 09:23:26Z","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1MDY3NDA3NTc2ODE1M3w5OEJBRUVCNEUzMUY0ODBEQTJEODQzRjYzMzlFQzAxMg?api-version=2019-09-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1MDY3NDA3NTc2ODE1M3w5OEJBRUVCNEUzMUY0ODBEQTJEODQzRjYzMzlFQzAxMg?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-09-07 09:23:26Z","lastActionDateTime":"2020-09-07
        09:23:55Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbtbuI4FIbvBa3211KcQGagUrUi2GGTqZ36YLtN%2FtEkpcR8LdBJ8GjufU6q1cxcwlIJBAdHQTy8H%2Bdbb1e15%2Fv1zp56t996IgX1z4wJBdN7vejd9l7P58PpdjDYLnfLVbWtduebpXs7VjfFfjs4vT2fiuP6cF7vd6cBefZePo0%2Be33v%2BYX0R2W57C%2BrYtgvnif%2BZ%2F%2BFTIIJGRyO%2B6%2FrsjqeBnxdHPen%2Fcv55kt1Mcu3zXlQVpvqXJXvw%2Bn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXrjto4FMffBa320zI4IWlhpNGKYJuSju3xwfZM8i2QMEMSLkuYkknVd%2B%2Bh2%2FYZykiRrJOr%2FMv%2F8rW3K9rT%2FWZXNb3brz02WRi76N32Xk6nQ3M7GGyzXfZcbIvd6SbrXo%2FFzWq%2FHTSvy2Z13BxOm%2F2uGZClt%2F4QfPT63nJN%2BkGeZ%2F2sWA37q%2BXY%2F%2BivyTgck8HhuP%2ByyYtjMxCb1XHf7Nenm8%2FFm8te69MgL%2BriVOQ%2Fhub[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXdbpswGIbvJZp2tDSGwNZUqqY0Nh1ZbYb57LScEUJ%2B7Pw1pAM87d73dat6DWslOLAxID%2B8z8uv3r5qz3ebva17V796bJyBynpXvfX5fKyvBoNdsS9W1a7any8K93SqLsrDblA%2FzevytDmeN4d9PSBzb%2Fk5%2BOL1vfmS9IPFougXVTnsl%2FOR%2F8VfklE4IoPj6fBzs6hO9YBvytOhPizPF9%2BrThdP2%2FNgUW2rc7X4O6i%2FFsdN%2FyeuxIdf%2B8Qb9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZXhbuI4GEXfBa3211KchMxApWoF2GGhtVObzwbyLyShJQ6QQjoBj%2Bbd92NntNpH2FaKFTm2EuXo3uPvnUNxaZ52B3vu3H%2FvsNEC9KJz33ltmvp83%2Bvt00P6UuyLQ3OXuvdTcZcd973z%2B%2BacnXZ1szsezj2y8bZf%2Bl%2B9rrfZkm4%2Fz9NuWmRBN9sM%2Fa%2F%2BlgzDIenVp%2BO3XV6czj2%2By07H83Hb3D0WV5O%2BV00vL6qiKfJ%2FJuc%2F03rX%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRtb%2BI4FIX%2FC1rtp6XYkHSgUrUi2OmQqe3aXHsavoUkFOLwsoQOkNH897nM7Mz%2BhW2lSMnN9Yvuo3PO1862PB8f11vfdO6%2Bdvh4BnbWueusjsd9c9frbbJt9lJuyu3xJmtfD%2BVNvtv0mtdFkx%2FW%2B%2BN6t216ZEGXt8EH2qWLJekGRZF1szIfdPPFqP%2BhvySjcER6%2B8Puy7ooD01PrPPDrtktjzefyovLXutjryjr8lgWP4rm72y%2F7n7BlXj4fZ%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbpswFIbvJZr2a2nM19ZUqqYsPmRk9fHs%2BDgr%2F0ggaSBfC7QlVLv3ue20a1gn2bIwCMTj932eevuibW42%2B6ruXT31YDQzNOtd9e6a5lhfDQa7bJ%2Bti12xby6y7v5UXCwPu0F9v6iXp82x2Rz29YAtvNXH8JPX9xYr1g%2FzPOtnxTLoLxdD%2F5O%2FYsNoyAbH0%2BFhkxeneiA2y9OhPqyai2%2FF2Wb322aQF9uiKfKXi%2Fpzdtz0H9yT7uXXPvOGfeaG9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTtbtowGIXvBU37NYoTQksqVRPFDgvFb2bHryn5F0L4Ml8joYCr3vu8ads1rJUs%2BevIlh%2Bf8742duWlHq12pmrcvzZYL1WYNu4by7o%2BVPet1jbf5YtyW%2B7qm9yejuVNsd%2B2qtO0Ko6rQ73a76oWmXrz2%2BDOa3rTOWkGs1nezMui3SymoX%2Fnz0nYCUnrcNy%2FrGblsWrxVXHcV%2Ft5ffNUXnV%2B2tStWbkp63L2e1J9zQ%2Br5otTusMffOKFTeKa9%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRtb9owEID%2FC5r2aRQ7kBUqVVPATgetL43xuZBvIQkvCQRGQgmu%2Bt%2FrTtV%2Bw1rJ0snS6ax77jm%2FtMqsqR82ZVG1bl5a3JsqnLZuWuu6PlQ3nc4uLuNVtsvK%2Bio2p2N2lex3neq0qJLj5lBv9mXVIQu6%2FNm7pm26WJJ2L03jdpwl3XayGDjXzpIM3AHpHI77502aHauO2CTHfbVf1lf32UXHp23dSbNtVmfp30v1Kz5s2s820xa%2FdQgdtIk99Pu3qrAv7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRvb9owEMa%2FC5r2ahQHAoVK1RSww6C1XR%2B2W%2FIuJIYS828kNOCq333uVO0zrJUsWec72bqfn%2BdeGztzru7XO1s2bl4bJJpJNWvcNJ6r6lDetFrbdJeuzNbsqqvUnY7mKttvW%2BVpUWbH9aFa73dlCy2CZS%2B8DprBYomaYZ6nzdRknWa2GLSv20s06A5Q63Dcv6xzcyxbdJ0d9%2BV%2BWV3dmYtOT5uqlZuNqUz%2BNyh%2Fpod188VX%2Bstv2ygYNJFfwfd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb9owEIb%2FSzTt02jiENYGqZpI7CDS2pmNz5R8CxAocRIiEkqg6n%2BfW1X7DVuls05nnXy6x%2B%2F7atV53z3ua91a41eLTOYS5tbYeu66ph3bdpXV2S6v8rq7ya6nY36zPlR2e1q16%2BO%2B6faHurWdFdr%2B9G7RAK22zsDbbLJBlq%2BHg%2FXKd2%2FdreOPfMdujoeX%2FSY%2Ftjbdr4%2BH9rDtbh7yi8pOZWdv8jLv8s1H0f7Kmv3gxXSax%2B9dB%2FkDxwT6%2Fq3VZuJB5%2FU9aLUQKpYCRCSJgjn4ySOUsMUzROXuzApyTvDszCSMaEH7RLI7oelZyOWQX58Jl0HASBRwPTN9u0sCs0tCaM8LZu5n1o9PDu5%2FDwKb5TE35yOjdxAUPwcCUwOnDGmxHDJcTgWZXThEAQVwEhKHQq6vTC4NiAX5CoKgV43odeeyYmIEoXsm0zsqaS8wCwUBj8kAMxJPKZAhK6gnMB9SiKfcCEYUk08OIWFSTB6%2FgD%2FwzjNf7yaYoAQvneQdhxYGBZsmRIRMxyEjIhJYjxJchqIgLi%2B48UgcUaAGx18UBCa%2F%2F3WXyMo%2FpfNeZSh9gjJ9UFGsQKcgVKoAwUg6vVpFqhJE91KJeuP4wCVLMq08iUSQgw9SBkxMzx6UohXEOy90yihpIlh0C65HkZTRXEGK4alhjIwgI4plVdvLqplyZOZJ5956e%2FsD
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/devf119ab01542b4f5893","name":"devf119ab01542b4f5893","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-devf119ab01542b4f5893/providers/Microsoft.KeyVault/vaults/devf119ab01542b4f5893","location":"eastus","tags":{"app":"python-postgresql-52d4"},"deletionDate":"2020-07-31T10:49:53Z","scheduledPurgeDate":"2020-10-29T10:49:53Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-yfoztlt","name":"cli-test-kv-mgmt-yfoztlt","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmtzvud77kkzkz2gdo232eix27ufapenyfn2utmgc53gvhy536bcc3i4/p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbpswGIbvBU07WoohoS2VqonEJkpam9r57DScESA%2FOBAUSEOoeu%2FzpmrXsFXyiS3L1vt87%2FNuVXnXPu8r3VgP7xYJFiAX1oO1a9u6ebDtMqmSbV7mVXuT9OdTfpMeS7s5r5v0tK%2Fb%2FbFqbLR2NrejO2fgrDdoMMqyZJDk6XCQrn33zt0g3%2FORXZ%2BOb%2FssPzU23aenY3PctDdP%2BVUl50NrZ%2Fkhb%2FPsz6b5mdT7wZu5aR5%2FdJHjD5BZzvdvj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtTtswFIbvJZr2ayV2mgBBQlPADmvBp8S1Tcm%2FNHE%2F4iStmpSUIO59HkK7hg3J0tGr4w%2F5Oe%2F75jT61D1sG9M6V28OjeZCzp0rZ9N1%2B%2FbKdeusyda61k13lg3Hgz7Ld7XbHpdtftjuu%2B2uaV20xKtz%2FwKP8HKFRn5RZKNM5%2BNRvgy9C2%2BFwiBE7v6we9kW%2BtC6bJsfdu1u1Z3d61eVHavOLXSlO118iPZntt%2BOXuxOe%2Fm1h3A4Qnbh799[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPdbpswFAfwd0HTrpaCCWyhUjURbKSktakdH6fhjhDnAxNggbQJVd99dKr2DFsl3xzJOkf6nfN%2FtSp96R4OlWmt21eLhAsJC%2BvW2ndd097a9jGrsp0%2B6qq7yfrzSd%2Fk9dFuz%2Bs2Px2a7lBXre2s0fa79wON0HrrjLzNJhtlOh%2BP8nXg%2FnC3TuAHjt2c6ufDRp9amx7yU93W2%2B7mXl9Vdi47e6NL3enNn6L9mTWH0fPwc2h%2B5zooGDnDQ1%2B%2FtGa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb5swEIb%2FC5r2aQRDYQ2RqonEJiKLbUFsKvaNgKFAAhEmLXHV%2F15n2p9YJd8H6053uufe993oxTztm76TxurdQMGB8YOxMl6m6SJXlnXO%2B7wWZ9FPi1xdR7EohrMlr0dZjM1laoZeWuBoVz%2FdR9u0jxUw3bLMzVwUD2Zx9J1HpwK%2B5wPrMg6vTSlGaeGmGAc5VNPit7il%2BfU0WaU4iUmUfz%2FyV35pzFddqZs%2FOcD2TaCf%2Ff2b7PTEoRP9E%2B%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb9owEIb%2FSzTt00LsJKyAVE0JPioYZ2Rjp0q%2FhWBYGkgQCQVc9b%2FPmvonVum%2BnHS60z16n3evMbd%2BWTV1503ePUjWSq%2B9ifen70%2FdJAiORVPszdE0%2FaCwl7MZlO0x6C6brjxXp75qmy4gG7r7GT9Qn252xI%2B328IvTBn55WYcPoQ7Mh6OSXA6t2%2FV1py7AKvy3Hbtrh%2F8NvesuBz6YGsOpjfbf033qzhV%2FpubdMsfQ0LHPnFFv3%2Frane[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32qQSbkG2IVFUkNiu68SATmyp5I2Cy4ASiQEpC1X%2BvtepPbKV5mdHVjHTu3HerUbd%2BXTW6sxbvFg02Qm6shfW378%2FdwnFOWZMd1Ek1%2FSQbrxc1yduT0133XX6pzn3VNp2D9rj85T1iG%2B9LZHtFkdmZyqd2vvfdR7dE%2FsxHzvnSvlWFunQOq%2FJL27VlP%2Fmj7ml2PfZOoY6qV8W%2FpnvOzpX9ZpRm%2BZOLsG8jU%2Fjnj06bi61Wz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdjtowEIXfJap61RDbJF1AWlUBOxUUTxRjZ8XehcRkk0CCSFjAq333eqv2IbrS3MyPZnQ%2BnXlzWn0b1lXb9M7szWHhRqqNM3NehuHUzzzvmLVZqY%2B6HUaZuZz1KO%2BOXn%2FZ9fm5Og1V1%2FYe2uH9d%2F8Bu3i3R65fFJmb6Xzs5rspeSB7NA2myDudu9eq0Ofe41V%2B7vpuP4x%2B6XuaXQ6DV%2BiDHnTxJ%2Bl%2FZKfKfbWTdvkjQXjqIhv465e%2BsRe7R[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhiqMwFIXfRZb9tdZo251aGBZrIjjbREwTh%2FGfjdHRWC3Vjm2GefcJy7zEDtwLNxDu5Xyc82718jbtm16N1vbdQsGB8YO1tV6n6TxuHedU9EUtT7KfFoW%2BXuRCDCdnvB5HcWnOUzP0owOObvV79eDa7rEC9qosC7uQYmmLo%2B89eBXw1z5wzpfhrSnlZXRwIy7DOFTT4q%2B8Z8W1m5xSdnKS5b%2FH%2BKc4N%2Fab%2BWmWP3rA9W1gyv35Y1Tm4qBk%2F8hV9ky[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdbqMwEIXfBa32qgTzk22IVFVhbVZk40E4NhW9I8RJiBOIgLTBVd%2B97qovsZXmXIzOaEb6dObNauRtWNWN6q35m0UWay7W1tw6DMOlnzvOuWzKvTzLZpiU%2BtrJSdWenf666auuvgx12%2FQO2ri7X8G9a7ubHbKD7ba0S1n5drUJvXtvh8JpiJxL177UW9n1Dq2rru3b3TD5K8e8vJ4GZytPcpDbf03%2FWF5q%2B8VMmuUPHnJDG5lyf%2F7olbnYKtk8CJU%2FsXz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhi%2BIwEIb%2FSznu09Ymtd6qsByujVDPiSQmXeq32kavSW3F1rWbZf%2F7hWP%2FxC4MDMO8zMDD%2B757jRr6TdWYzpu%2Fe2SxE3Lnzb2%2FfX%2Fp5kFwzpv8pM6q6Ue5vV3VqGjPQXc7dMW1uvRV23QBOuDjr%2BgR%2B%2FhwRH5Ulrmfq2LsF4dZ%2BBge0WwyQ8Hl2r5Wpbp2AVTFte3aYz%2F6o97S%2FFb3Qalq1avy%2F9D9zi%2BV%2F%2BqU7vhTiPDMR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb%2BIwDIb%2FS3W6T1fqtnADpOnESIbgcKKEpBP7VtoAbaBFtGxrp%2F33y532J26SLcuSZet95Pfdq8xbuy4q23jTd4%2FONkpvvKl3bNtLMw2Cc1qlB3M2VTtI%2B9vVDLL6HDS3XZNdi0tb1FUTwC7c%2FxzehX6424M%2FzPPUT00W%2B9luEt1Fe5iMJhBcrvVLkZtrE2CRXeum3reD36ZL0tupDXJzMq3J%2FzXNr%2FRS%2BC9u0i2%2FjyCc%2BOAi%2FP6ts[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPdauMwEEbfxZS9Wse%2F2caBUuJIKc5GElIkl%2BTOseWuZccOsdPGKn33KqUvsYWBbwSDBGeO3q1WXodN1da9NX%2B34GLLxdaaW%2F%2BG4dTPHeeYtdmLPMp2mGT6cpaTvDs6%2FeXQ5%2BfqNFRd2zvuwSv%2FhPee7R1K1w6LIrMzmQd2foj8e790o2nkOqdz91oV8tw7qMrPXd%2BVw%2BSvHNPs0gxOIRs5yOLr0D9mp8p%2BNZPm8gff9SLbNeX9uutr82JXy%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbuIwEEX%2FJVrtU0OcELaAVFWAHRQWT2Rjp6JvwTE0MSSIhAZS9d9rrfoTW2keZkajGc3VuR9OpW%2FtuqhM40w%2FHDLbCLlxps5b256bqeedsio76JOu2kHWXy96oOqT11x3jboU57aoq8ZDO3%2F%2FJ3z0XX%2B3R26Y55mbaTV01W4SPAZ7NBlNkHe%2B1O9Fri%2BNRwt1qZt63w7%2B6nuaXY%2Btl%2BujbnX%2Br2ies3PhvttJu%2FwpQP7ERTb8378aYy%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dNfb5swEADw74KmPY3wJ2ENkaopYLtKFl9kYlPBGwFDwASiQLqGqt99XtUvsUr2w8knW%2Ffz3ZvRyddxV3dqMFZvBl4fuDgYK%2BM0jpdhZVnnrMsqeZbdOMum21XO8v5sDbfjkF%2Fry1j33WDZR6f8uXhwTOdY2uaiKDIzk%2FnczI%2B%2B%2B%2BCWtu%2F5tnW59i91Ia%2BDRev82g99Oc5%2By3uc3drRKmQrR1l8BMOv7FKbLzpTX%2F7o2o5v2no5378NSr%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbuIwEEX%2FJVrtU0OcQLaAVFWAnSos48jGTgVvITGQGBJEQmlc9d9rrfoTXWleZnQ1Ix2d%2BXBq9d6tylq3zvTDIbO1kGtn6hy77tJOPe%2Bc1dlBnVXdDTJzu6pB3py99rZr82t56cqmbj208%2Fd%2FRo%2B%2B6%2B%2F2yB0VReZmKh%2B6%2BW4SPAZ7NAknyLtcm7eyUNfWgzK%2FNm2z7wZ%2FVZ9mt1PnFeqkOlX8a9rn7FK6bzZplz8FyJ%2B4yJb%2F%2B[...]
- request:
    body: null
    headers:
    method: GET
[...]
