interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2212298'
      ocp-aad-diagnostics-server-name:
      - QlJ/a4ZnsyendoaPK0HX7IkzZkAn0WBB3t6eh8cDBic=
      ocp-aad-session-key:
      - mToXibyemNXepFjctNtZh2bxKmmOaytb2xvST_hJE_AcClyZ5bZLAk4UfQOswGJqxq0tibXwTU9SZFhLW6k2VBdT8dQczUqwzjIb9Ozd8AXZ4HdKlDPIIZoZtITf6jqS.1veQGAVaDwE84e-oPidwCCBmlWn-4DLGMTrdB8eHqBE
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": false, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules":
      []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvtest20200513","name":"bimkvtest20200513","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimtestsd1","name":"bimtestsd1","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-kv-mgmt-000002.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMXBiRzFqWlhWaQ=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxZMnhwTFhSbGMzUXRhM1l0YldkdGRDMXBiRzFqWlhWaQ==
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/managedHSMs?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "vaultUri":
      "https://cli-test-kv-mgmt-000002.vault.azure.net/", "enabledForDeployment":
      true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "networkAcls": {"bypass":
      "AzureServices", "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/bimkvTest","name":"bimkvTest","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkvTest","location":"northcentralus","tags":{},"deletionDate":"2020-07-30T07:15:26Z","scheduledPurgeDate":"2020-10-28T07:15:26Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002","name":"cli-test-kv-mgmt-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-000002","location":"eastus","tags":{},"deletionDate":"2020-09-13T08:13:27Z","sched[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-000002/purge?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NTgxNjIwNTQ2NTA3NXxGMUY2OUY3MzFCQzM0NjMxOTYwNzFCOUIyNTVCMTI1OA?api-version=2019-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/operationResults/VVR8MDYzNzM1NTgxNjIwNTQ2NTA3NXxGMUY2OUY3MzFCQzM0NjMxOTYwNzFCOUIyNTVCMTI1OA?api-version=2019-09-01
  response:
    body:
      string: '{"createdDateTime":"2020-09-13 08:13:39Z","lastActionDateTime":"2020-09-13
        08:13:44Z","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZbRbuI4FIbfBa32aikOSWagUrVKsMMmUx9jY5vCHYWUEgNlgQ7Eo3n3OWk7%2BwxLJSISEojy8f%2Ff8Y%2FWrryc7tc7d2zd%2FmiBUPqfAQOtknszbt22nk%2Bn%2FfG209nOd%2FNVuS13p5u5fz2UN4uXbef4%2BnhcHNb70%2Fpld%2ByQx%2BDpS%2FQ1aAePT6QdLZfz9rxchO3FY7%2F7tftE%2BnGfdPaHl%2B%2FrZXk4dvh6cXg5vjydbr6VtZ2%2Fbk6dZbk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVtb%2BI4FIX%2FC1rtp6U4adKBStUKsMOQ1teNsU3Jt5AEShxeltABPJr%2Fvjfd0fyGZaQoiW%2FedJ%2Bcc%2B73zq68nF42O9t0Hr932HCm9Kzz2Hk%2FnQ7NY6%2B3zXbZutyWu9Nd5j6O5V2%2B3%2Faaj2WTHzeH02a%2Fa3pk6a0egi9e11uuSDcoiqyblfl9N18O%2FC%2F%2BigzCAekdjvtvm6I8Nj2%2ByY%2F7Zr863T2XV5N91KdeUdblqSw%2BF83f2WH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZdj6JIFIb%2Fi9ns1dqCwox20pmgVfTqdBVd5TmlcoeA3VL4sWoPH5P573Ps7cxvGCeBC0gFch7e5y2%2Bd%2FZ5fXna7u25c%2F%2B9w4M54Lxz33m9XI7n%2B15vl%2ByTl3yX7y93Sft2yu%2FSw653fluf09P2eNke9uees3Y3n7zPbtddb5yul2VJN8nTQTddj%2Fqf%2Bxtn5I%2Bc3vF0%2BLbN8tO5J7bp6XA%2BbC53X%2FPGJG%2FlpZflZX7Js%2FeL85fku[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZZrj9o4FIb%2FC6r20zLkRgsjjSrAJyzp%2BHjs2GbIN0jCJeY2wJTgqv99ndmqv2GpFCmycpIozznP6%2Fxo7cv68rzZm3Pr8UcLBqlUaeuxtb5cjufHTmc3389X5a7cXx7m9v1UPuSHXef8vjjnp83xsjnszx1v4S8%2FR1%2F8tr9Yeu2oKObteZmH7XzRD74ES6%2Ff7Xud4%2BnwfVOUp3OHbvLT4XxYXh6%2BlTc9f99eOkW5LS9l8bE4f50fN%2B3vrtI9%2FCnw%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZVdj9o4FIb%2FC1rt1TI4QFoYabSC8QkNHdu1Y5shdyGEjziELGFKSNX%2F3sNst79hqZSL4yRK5Efv%2B%2Fhbp8ya88u%2BdHXn8VsHJpE2Ueexszufq%2Fqx1zskZbLNDll5fkjat1P2kB4PvfptVaenfXXeH8u6R1be5sPwo9f1VhvSHa7XSTfJ0kE3XY37H%2FsbMvbHpFedjl%2F36%2BxU99g%2BPR3r4%2Bb88Dm72uStOPfWWZGds%2FX7ov47qfbdr%2Fgmfvy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRdb9owFIb%2FC5p2NYoDSQeVqomQkw5aO7XxMS13kISPmK%2BRUMBV%2F%2FsO1bT9hbVSfBHpOJEfP%2B%2F7Wtvkp%2BphubFl7ea1Bt2hxmHtpraoql1502isJ5vJPF%2Fnm%2Bpq4g77%2FCrdrhvlYVqm%2B%2BWuWm43ZYNNvdm1%2F92re9MZq%2FtZNqlP8rRVT6ed5vfmjHWCDmvs9tuXZZbvywZfpvttuZ1VV%2Ff52UwOq6qR5au8yrP3l%2FLHZLesv9Akf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTdbqMwEIXfJVrt1aYxBNqkUrVKYtNNWg%2FFsd3CHQHygwnJBlLAVd%2B9blXtM2wreS7GM%2FJoPp3jl16ZtfX9rlRV7%2FqlRyZLLpa96962ro%2FV9WCwj8t4k%2B2zsr6I9fmUXSSH%2FaA6r6rktDvWu0NZDdDKWl86V1bfWq1R30nTuB9nybCfrMb2lb1GY3eMBsfT4XmXZqdqQHfJ6VAd1vXFXdbJ%2BFzUgzQrsjpLP5Lqd3zc9Z9Np3n8xkbWuI%2FMsX7%2Bq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTdbpswFIDfJZp2tRSThDZUqiYSTBpSm9mx3YY7QsgPBsICaairvvtOp2rPsFayL%2FwjH53P3zmvvSrr2odDpZve7WsPe0shl73b3r5t6%2BbWssqkSnZZmVXtVWLOp%2BwqPZZWc1436elQt4dj1VhobW%2BvRzd2315vUX%2B02ST9JEuH%2FXTtDm4GW%2BQ6LrLq0%2FH5sMlOjUUO6enYHLft1SJ7Ucm5aK1NVmRttvm7aH4m9aH%2FDDfh8bsBst0%2BgmF%2F%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZTRbtowFIbfJZp2NYoNpIVK1ZTUzhrKsWtju4O7kARKDASRUEKqvvvMVO0Z1sq%2B8JEtH%2F2f%2Fv%2B8ebu8qSfrna282zePBlOlp96t91LX%2B%2Bq2290mu2SVb%2FNdfZW0x0N%2BlZbbbnVcVOlhva%2FX5a7qogVeXg9ucAcvlqgzyLKkk%2BRpv5MuRr2b3hKN%2FBHq7g%2Fl6zrLD1UX1umhrMplffWYn01y3NTdLN%2FkdZ79LaqfyX7deXUv3ed3PYRHHeQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZRRb9owEID%2FC5r2NBo7JC1UqqbQOAxaXxrHZxbeQhIoCQRKQhtc9b%2FPnar9hrWS78H26Sx%2F%2Bu5ee3XRtfebump616895sUS495177FtD821Ze3SOl0Xu6JuL1J9OhYX2X5nNadlkx03h3azrxuLLOnq0rmifbpckb6T52k%2FLbJBP1uO7Ct7RUbuiFiH4%2F55kxfHxuKb7Lhv9qv24q44q%2FS0ba282BZtkf%2FdND%2FTw6b%2FbDJN8Rub0FGfmEW%2Ff2s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPtbtowFAbge4mm%2FRpNnEAHlaqJNU4FrZ3ZnGNK%2FoXEUHAIjITmo%2Bq9z6q2XcNWyZJ1bOtYfvT61Sl1Wz%2FuSlM5N68OnS4AF86N81zXp%2BrGdQ9pmW71QZf1VdpfzvoqOx7c6rKusvPuVO%2BOZeV6a7K5Hn4lA7LeeINhnqeDVGfBIFtP%2FK%2F%2BxpuMJp57Oh9fdrk%2BVy7bZedjddzUVw%2B6U%2BmlqN1cF7rW%2BXtRfUtPu8GLPWmb3%2FoemQw8O[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPRbpswFAbgd4mmXS3FEFhDpGpKsC0lrU1xfJyWO0IIDSYQBdIRV333eVO1Z9gq%2BebIli1%2F%2Bv%2B3UVMM%2FcOh0d1o9jYi87WE9Wg2eun7UzdznGPWZGVxLJr%2BJjOXc3GTt0enu2y7%2FHw49Ye26Ry0dfff%2FVt37G73aOzvdtk4K%2FLJON%2BG3q23R2EQIud0bl8Pu%2BLcOeyQn9uu3fc398VVZZe6d3ZFXfTF7s%2FQ%2FchOh%2FGrPWkvv%2FOQG46[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dPRbtsgFAbgd7GmXS01uPZaV6qmdOAqaYGaAKl95zjESXDsLHaamKrvXjZVe4atEjdHII7Op%2FO%2Feo0%2B94%2BbxnTezauHxzMhZ96Nt%2B77fXfj%2B7uiKSq9001%2FUdjjQV%2BU7c7vjouuPGz2%2FaZtOh8s4Op7eAVHcLECo3C5LEaFLi9H5SIOroIViKMY%2BPtD%2B7JZ6kPnk015aLt21V886EEVx7r3l7rWvV7%2BKbofxX4zenEv3ee3AYDxCLgDv37pjOvYGt3cSqPmXE0FlzwRWMmZjNmjrOUKTSAR1YmKMiDbDJJtGTJBIorqa2qziCEZUZwODFWAYnJK7RqlgoQUrTHBk4EbAlKTed8%2BHIL%2FHYLYMSTWDW0dDMoCJug13dJ7JrOQYX5PLIEUJ4ghExCg7hxOwB1EaschwdJBzPFnWAhiJyERmaXWDERMBmLvrp1LyGWepPYOMzS9p0ghgqozQzWiEgMmKsidjbP4cPiJqeDjx0%2BQD5QBauVAtulARWWZcPlABLpRT1zShImpW4Xf99WJABymAp%2FoNnUc04RsJ47jLwWW46d%2FPSViFx%2Fz2VkVMH%2BWdf6gkqmSJpdc5UpCGQlwVotE7Tg2Z6F4oyXE2eWa6RpDMd9PCY5x%2BrxmhWlDaXiucaTUc80LA0M533MiI5xb%2BqSkHESzb3Sd%2FOKCMp4YK%2BY94yA6zAW49d7e3gE%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/deve13750118c474903bb","name":"deve13750118c474903bb","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-deve13750118c474903bb/providers/Microsoft.KeyVault/vaults/deve13750118c474903bb","location":"eastus","tags":{"app":"python-postgresql-32e0"},"deletionDate":"2020-08-04T07:03:43Z","scheduledPurgeDate":"2020-11-02T07:03:43Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/dev5f995857491a4bca93","name":"dev5f995857491a4bca93","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sample-djangoapp-dev5f995857491a4bca93/providers/Microsoft.KeyVault/vaults/de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtbpswFIbvBU37NYJNyBoiVRMLzkQX28KxqdJ%2FBAzhIxAF0gRXvfedTb2JVbIlv7Z1LD1%2BzpvV6fu4rbpmsFZvFgl2Uu2slXUcx%2FOwcpxT2qWlPulunKXmetGzrD85w%2FUwZJfqPFZ9NzjogIvv3gO28aFAtpfnqZ3qbG5nB999cAvkL3zknC%2F9a5Xry%2BDQKrv0Q1%2BMs996StJrOzq5bvWo839h%2BJGeK%2FsVbkLxRxdh30Yw8NcvQwMv9o3uHlWTPIvkSQolNpIkaqd8vlWtKsIIU1nemCwxk5HHTORySSdWPy2ZKefMEBMbOhd1ZBjZe4xEJkYEwTRcCcLlcS0aZX374OD%2B7yCoCRa0ju88VIaZPcBolyxsN6xWrpAEQCUbFka3WG0ID%2Bmdyj0SMsAxYAFAAOKZfAYhqFEel2TB6gbxMLpz%2BbIUhK1F3XiQUWxeQpABx%2FXxJ23oBMww7HsggxfX9IPDmjApgu0n6I%2BwdEGNOXz9Xz1uXIqlaGIjajoBFgJnhoWwrssFBRUgY2rYLy6DiUJ%2FvL%2F%2FAQ%3D%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/mysqlkrbxe2pvfbpnvj66t5d","name":"mysqlkrbxe2pvfbpnvj66t5d","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgez5j5dyeswhhmsyvdr5uwemp4z4qisuoaldjvx5ucmjyakgmf5kkoovywknwvfqn3/providers/Microsoft.KeyVault/vaults/mysqlkrbxe2pvfbpnvj66t5d","location":"eastus","tags":{},"deletionDate":"2020-08-01T02:46:07Z","scheduledPurgeDate":"2020-10-30T02:46:07Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/pgsql2t7wtrflykwzys2wfst","name":"pgsql2t7wtrflykwzys2wfst","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgtdxi5o3gypxihjm4ir3dxluvuawiggiqqjh3i6y52ke3hk4vflgdivdifbyfou7xq/providers/Microsoft.KeyVault/vaults/pgsql2t7wtrflykwzys2wfst","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dN%2Fa6MwGAfw9yLH%2FTVrovZWC2O0Jh7dNSlJE0f7n9Xo%2BaNa1K4zY%2B992bE3cYNACHyTwOd5njerVa%2FjtmzrwVq%2BWXi1F3JvLa2%2F43gZlo5zTtqkUGfVjrNEX3s1S7uzM1xPQ9qXl7Hs2sEBJ5j%2F8u%2BhDU85sP0sS%2BxEpZ6dngL33s1BMA%2BAc%2Bm7lzJT%2FeCQMu27ocvH2R81xcm1GZ1MNWpU2b%2FD8JhcSvvFJM3jDy6AgQ3Mgj9%2FDLX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNhb6JAEIb%2FC2nu0yELyFVMmkbcpbHnDtl110a%2FIaweLIIRLErT%2F37rpX%2Fimpn5MMmbmcyTdz6sWl27ZVHr1pp%2BWGS2EnJlTa0%2FXXdqp45zTOv0oI6q7kbpcDmrUdYcnfaya7NzceqKpm4dtHP3v8aPru3u9sge53lqpyrz7WwXeo%2FeHoVBiJzTuXkvcnVuHVpk56Zt9t3ot7qt00vVObmqVKfyf037nJ4K%2B90ozfAnD7mhjUy6Px5abTY2WtVPUq%2F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNta6swGIb%2Fixz26Vhf2m61MA7apNCeJpI0cdhvVmOnsVrUrpqx%2F7507E9sEAgPeSPXc93vRi2GflfUsjOW7wb094zvjaXx2veXbmlZ56ROTuIs6n6SqGsrJmlztrrrsUvb4tIXTd1Z9tHJH2dPjukcc9ucZVliJiKdmunRc5%2Fc3Pbmnm1d2uatyETbWahI26Zr8n7yX4xRcq16KxOV6EX2VXT%2Fkkthvumd%2BvJn13Y809bDefjTSf1iI0X9zGX0QqMto5yuGYz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32aQmGkG0SqVrR2CCyGSMTm6p5I%2BAQIIEokEJd9d%2FrrPoTW2leZnQ1ozm6991o5NhvyqbujOW7QbwtF1tjaRz7%2FtItLeucNmkhz7LpJ6m6XeUka89Wd9t32bW89GXbdBba24ff7oNt2vsDMt08T81UZlMz2y%2BcB%2BeAFrMFsi7X9rXM5bWzoMyubdce%2Bslf%2BZakt1Nv5fIke5n%2Fa7o%2F6aU0X7VSL390kL0wkS7754%2Bu1hfbWja[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPhbpswEIDfBU37NYJN6JpEqiZaG0SWc2RiU6X%2FCJgWTCAKpKGu%2Bu7zpr7EKlk6ne50p%2Fv0%2Bd3p1DRu6k4PzurdoeFOyJ2zcl7G8TSsPO%2BYd%2FmzOqpunOXmclazoj96w%2BUwFOf6NNZ9N3jogKufwS128aFCblCWuZurYu4Wh6V%2F61doebNE3uncv9alOg8e1MW5H%2FpqnP1Wb1l%2BaUevVK0aVfkvGX7lp9p9tZ12%2BJ2P8NJF9uHv3wZtN%2FZad[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32aQmGhm0SqVolsYnoxoNwbCryRsCkQAIRkBJc9d%2FrrPoTW2lePDOydY%2FvfTdqeeu3RV11xuLdIMsdFztjYbz2%2FaVbWNY5qZOjPMu6nyTq2spJ2pyt7nro0ra49EVTdxY62Pnv6aNt2occmdMsS8xEpg9mepg7j06O5u4cWZe2eSsy2XYWLdK26Zq8n%2FyVY5RcT72VyZPsZfbv0P1JLoX5pjf15U8Osucm0mX%2F%2FNFV%2BsWmkvWTqKIXF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3dNRb5swEADg%2F4KmPZWACVlLpKoisTsliw%2FZsanYGwFDMQlEgTRA1f9ea%2BqfWKXzw0knW%2Ff57t1q1NDvqqburOW7RcK9kHtrab32%2FblbOs4pbdJSnVTTz9LpelGzrD053fXQZZfq3Fdt0znuARW%2F%2FHtko0Ph2n6ep3aqsrmdHQLv3ivcYBG4zvnSvlW5unQOrbJL27VFP%2Fujxji9HnsnV0fVq%2Fxf0j2l58p%2BM5Xm8kfPRYHtmkA%2Ff3S1ebGtVfM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPtiqMwFEDfRZb9tdZodacWhqVt0sFubyRp4uBPW1OrsVrUzkwd5t0nXeYldiBwCfcLDue%2BW416G7Zlo3tr%2Fm6RxU7InTW3TsNw6eeOc86arFBn1QyTbLx2anJoz05%2F3feHrrwMZdv0Dtq7x9%2F%2Bg2u7%2ByOy%2FTzP7EwdpvZhH3oP3hGFQYicS9e%2BlLnqegfKQ9f27XGY%2FFW3JLvWg5OrWg0q%2F%2Ffp%2F2SX0n4xlWb4o4fc0EbmuT9%2F9NpsbLV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNRb5swEID%2FC5r2NIKhdA2RqinEpiKLjez4qNgbAScBEogCacBV%2F%2FusqX9ile4eTjrd6T7d9261ahw2Vdv01uLdIsuthK21sI7DcOkXjnPO2%2FygzqodZrm%2BXdWs6M5Of9v1xbW6DFXX9g7aufuf%2FpNru7s9sv2yzO1cFQ92sQu8J2%2BPgscAOZdr91aV6to7tCquXd%2Fth9lvNaX57TQ4pTqpQZX%2Fiv5XfqnsN9Nphj97yA1sZML9%2Fq1vzMauUe0zN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZNha6NAEIb%2Fi5T7dMbVpG0MlCPtaDCXHdHsWtJvRlejm2hQ08Qt%2Fe%2B3d%2FRPXGFgmGGY4X1458NoxG3YVI3sjcWH4S23jG%2BNhXEYhnO%2FsKxT2qSlOIlmmKTq0olJ1p6s%2FrLvs646D1Xb9BbZ28XD7NE27X1BzFmep2YqsqmZ7V3n0SmIe%2B8S69y171Uuut6iVda1fVsMk99iTNLLcbBycRSDyP8V%2Fa%2F0XJnvelIvf3KI7ZpEh%2F3jrpf6YitF88R[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32qQRDYBsiVasQG4lsxgjHTpV9I%2BAkGAJRIE1x1X%2Bvd9WfaKV5mavRjObo3jerla%2FDumrr3pq%2FWWSx4WJjza3TMFz6ueOc8zY%2FyrNsh0mub1c5Kbqz09%2F2fXGtLkPVtb2D9u7hl%2F%2Fo2u7%2BgGy%2FLHM7l8XULvah9%2BgdUBiEyLlcu5eqlNfegaq4dn13GCZ%2F5LjNb83glLKRgyz%2FN%2F3v%2FFLZL2bSLH%2FykBvayJT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=3ZPRbqMwEEX%2FBa32aQmGkG2IVK2ysROlGw%2ByY6eibwRMCiYQBdKCq%2F573dX%2BxFaalxldzUhn7n1zGjX0u7LRnbN4c8hyL%2BTeWTjPfX%2FpFp53Tpv0pM6q6SepuV3VJGvPXnc7dtm1vPRl23QeOvrFz%2FDOd%2F1jgdwwz1M3VdnUzY5RcBcUKJpFyLtc25cyV9fOo2V2bbu26Cd%2F1HhIb3Xv5apWvcr%2FNt2v9FK6L1Zpl98HyI9cZMv%2F%2Fq3T9mKrV[...]
- request:
    body: null
    headers:
    method: GET
[...]
