interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cli-test-kv-se-sd-000002%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002","name":"cli-test-kv-se-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret_soft_delete000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-sd-000002","name":"cli-test-kv-se-sd-000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-07-25T07:37:09.395Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-25T07:37:09.395Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-kv-se-sd-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1/a55f6fdec8854866b165fd255d4416bb","attributes":{"enabled":true,"created":1690270664,"updated":1690270664,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-se-sd-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1690270664,"scheduledPurgeDate":1690875464,"id":"https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1/a55f6fdec8854866b165fd255d4416bb","attributes":{"enabled":true,"created":1690270664,"updated":1690270664,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/deletedsecrets?api-version=7.4
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Conflict","message":"Secret secret1 is currently
        in a deleted but recoverable state, and its name cannot be reused; in this
        state, the secret can only be recovered or purged.","innererror":{"code":"ObjectIsDeletedButRecoverable"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cli-test-kv-se-sd-000002.vault.azure.net/secrets/secret1?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Conflict","message":"Secret secret1 is currently
        in a deleted but recoverable state, and its name cannot be reused; in this
        state, the secret can only be recovered or purged.","innererror":{"code":"ObjectIsDeletedButRecoverable"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 409
      message: Conflict
version: 1
