interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=2&$orderby=numRecords%20desc&$select=policyAssignmentId%2C%20resourceId%2C%20numRecords&$filter=policyDefinitionAction%20eq%20%27audit%27&$apply=groupby%28%28policyAssignmentId%2C%20resourceId%29%2C%20aggregate%28%24count%20as%20numRecords%29%29
  response:
    body: {string: '{"@odata.context":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default","@odata.count":2,"value":[{"@odata.id":null,"@odata.context":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity","policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/databricks-rg-topology-private-gk-5ipya7gfhnzaw/providers/microsoft.network/virtualnetworks/workers-vnet/subnets/public-subnet","numRecords":15798},{"@odata.id":null,"@odata.context":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity","policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/databricks-rg-topology-private-gk-5ipya7gfhnzaw/providers/microsoft.network/virtualnetworks/workers-vnet/subnets/public-subnet","numRecords":15798}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$top=2&$orderby=numRecords%20desc&$select=policyAssignmentId%2C%20resourceId%2C%20numRecords&$filter=policyDefinitionAction%20eq%20%27audit%27&$apply=groupby%28%28policyAssignmentId%2C%20resourceId%29%2C%20aggr[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2018-04-04&$top=2&$filter=policyDefinitionAction%20eq%20%27audit%27
  response:
    body: {string: '{"@odata.context":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary","@odata.count":1,"value":[{"@odata.id":null,"@odata.context":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity","results":{"queryResultsUri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-05-16
        18:58:45Z&$to=2018-05-17 18:58:45Z&$filter=(policyDefinitionAction eq ''audit'')
        and IsCompliant eq false","nonCompliantResources":4856,"nonCompliantPolicies":22},"policyAssignments":[{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/3c53617ee139444db82514a5","policySetDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policysetdefinitions/5c7950f6-99c0-4ead-a646-b0b9b7832559","results":{"queryResultsUri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-05-16
        18:58:45Z&$to=2018-05-17 18:58:45Z&$filter=(policyDefinitionAction eq ''audit'')
        and IsCompliant eq false and PolicyAssignmentId eq ''/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/3c53617ee139444db82514a5''","nonCompliantResources":4856,"nonCompliantPolicies":1},"policyDefinitions":[{"policyDefinitionReferenceId":"1748719353954991994","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policydefinitions/textboxdefaultvalue","effect":"audit","results":{"queryResultsUri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-05-16
        18:58:45Z&$to=2018-05-17 18:58:45Z&$filter=(policyDefinitionAction eq ''audit'')
        and IsCompliant eq false and PolicyAssignmentId eq ''/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/3c53617ee139444db825[...]
