interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2018-05-21T18:09:19Z", "cause":
      "automation", "product": "azurecli"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"date":"2018-05-21T18:09:19Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "location": "westus", "kind": "Storage"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-01-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/5dcbf15d-e822-437a-a076-d70e5bf66430?monitor=true&api-version=2016-01-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/5dcbf15d-e822-437a-a076-d70e5bf66430?monitor=true&api-version=2016-01-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"encryption":{"services":{"blob":{"enabled":true,"lastEnabledTime":"2018-05-21T18:09:22.8410072Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-05-21T18:09:22.7004224Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-01-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"t1edqQgdsyf/TdoFoR1qPb6yDJtgc/HxjaLw+oL6dWSPJKwna+4Rx5lNS+w928/Tk3Hm+KFDEzzbxLnZH2IPPQ==","permissions":"FULL"},{"keyName":"key2","value":"LwWQq/Tm2Gj7Uv+ZcVb4NJ9UbJM2EIsDulHhEyYFuT+4JeTXcoHQVy7WGhHkh8kZ0dP5LOrXZHuHC9w6uxmjjQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 21 May 2018 18:09:42 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5BF4606B779F2"']
      last-modified: ['Mon, 21 May 2018 18:09:42 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 21 May 2018 18:09:42 GMT']
      x-ms-version: ['2015-04-05']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 404, message: The specified blob does not exist.}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 21 May 2018 18:09:42 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      etag: ['"0x8D5BF4607565835"']
      last-modified: ['Mon, 21 May 2018 18:09:43 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 21 May 2018 18:09:43 GMT']
      x-ms-version: ['2015-04-05']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      content-type: [application/octet-stream]
      etag: ['"0x8D5BF4607565835"']
      last-modified: ['Mon, 21 May 2018 18:09:43 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 21 May 2018 18:09:43 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container&comp=list&maxresults=1
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"\
        cont000004\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000003</Name><Properties><Last-Modified>Mon,\
        \ 21 May 2018 18:09:43 GMT</Last-Modified><Etag>0x8D5BF4607565835</Etag><Content-Length>4194304</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>tc+p1sj+vWGPkawoQ9UKHA==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-blob-content-type: [application/test-content]
      x-ms-date: ['Mon, 21 May 2018 18:09:44 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003?comp=properties
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5BF460830247A"']
      last-modified: ['Mon, 21 May 2018 18:09:44 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 21 May 2018 18:09:45 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 21 May 2018 18:09:45 GMT']
      x-ms-range: [bytes=None-]
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: '!!! The response body has been omitted from the recording because
        it is larger than 128 KB. It will be replaced with blank content of 4194304
        bytes while replay. <CTRL-REPLACE>4194304'}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      content-type: [application/test-content]
      etag: ['"0x8D5BF460830247A"']
      last-modified: ['Mon, 21 May 2018 18:09:44 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdCQjRQVU1WRkE1QzJIWDM0VjdGN09YUktJQktYQUwyVUZIVXw4N0VGMTE5ODBGRjlEQzRDLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
