interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.EventGrid/topicTypes?api-version=2018-01-01
  response:
    body: {string: '{"value":[{"properties":{"provider":"Microsoft.Eventhub","displayName":"Event
        Hubs Namespaces","description":"Microsoft Event Hubs service events.","resourceRegionType":"RegionalResource","provisioningState":"Succeeded","supportedLocations":["West
        US 2","West Central US","East US 2 EUAP","East US","West US","Central US","East
        US 2","West Europe","North Europe","Southeast Asia","East Asia","Japan East","Japan
        West","Australia East","Australia Southeast"]},"id":"providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces","name":"Microsoft.Eventhub.Namespaces","type":"Microsoft.EventGrid/topicTypes"},{"properties":{"provider":"Microsoft.Storage","displayName":"Storage
        Accounts","description":"Microsoft Storage service events.","resourceRegionType":"RegionalResource","provisioningState":"Succeeded","supportedLocations":["West
        US 2","West Central US","East US 2 EUAP","East US","West US","Central US","East
        US 2","West Europe","North Europe","Southeast Asia","East Asia","Japan East","Japan
        West","Australia East","Australia Southea[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.EventGrid/topicTypes/Microsoft.Resources.Subscriptions?api-version=2018-01-01
  response:
    body: {string: '{"properties":{"provider":"Microsoft.Resources","displayName":"Azure
        Subscriptions","description":"Resource management events under an Azure subscription","resourceRegionType":"GlobalResource","provisioningState":"Succeeded","supportedLocations":[]},"id":"providers/Microsoft.EventGrid/topicTypes/Microsoft.Resources.Subscriptions","name":"Microsoft.Resources.Subscriptions","type":"Microsoft.EventGrid/topicTypes"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.EventGrid/topicTypes/Microsoft.Resources.Subscriptions/eventTypes?api-version=2018-01-01
  response:
    body: {string: '{"value":[{"properties":{"displayName":"Resource Write Success","description":"Raised
        when a resource create or update operation succeeds.","schemaUrl":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventgrid/data-plane/Microsoft.Resources/stable/2018-01-01/Resources.json"},"id":"providers/Microsoft.EventGrid/topicTypes/Microsoft.Resources.Subscriptions/eventTypes/Microsoft.Resources.ResourceWriteSuccess","name":"Microsoft.Resources.ResourceWriteSuccess","type":"Microsoft.EventGrid/topicTypes/eventTypes"},{"properties":{"displayName":"Resource
        Write Failure","description":"Raised when a resource creat[...]
