interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-05-17T20:39:18Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_alt000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001","name":"cli_test_cross_rg_alt000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-05-17T20:39:18Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-05-17T20:39:21Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002","name":"cli_test_cross_rg_deploy000002","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-05-17T20:39:21Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"StorageAccountName1": {"type":
      "string", "defaultValue": "test1ddosdatest72"}, "StorageAccountName2": {"type":
      "string", "defaultValue": "test1ddfosatdest73"}, "CrossRg": {"type": "string",
      "defaultValue": "crossrg5"}}, "variables": {}, "resources": [{"apiVersion":
      "2017-05-10", "name": "nestedTemplate", "type": "Microsoft.Resources/deployments",
      "resourceGroup": "[parameters(\''CrossRg\'')]", "properties": {"mode": "Incremental",
      "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "[parameters(\''StorageAccountName2\'')]",
      "apiVersion": "2015-06-15", "location": "West US", "properties": {"accountType":
      "Standard_LRS"}}], "outputs": {"result": {"value": "Hello World", "type": "string"}}},
      "parameters": {}}}, {"type": "Microsoft.Storage/storageAccounts", "name": "[parameters(\''StorageAccountName1\'')]",
      "apiVersion": "2015-06-15", "location": "West US", "properties": {"accountType":
      "Standard_LRS"}}]}, "parameters": {"CrossRg": {"value": "cli_test_cross_rg_alt000001"},
      "StorageAccountName1": {"value": "crossrgdoknv7hjsa2aqkvcc"}, "StorageAccountName2":
      {"value": "crossrgfup6g3s6pyk7a33n3"}}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2016-02-01
  response:
    body: {string: '{"error":{"code":"InvalidTemplate","message":"Deployment template
        validation failed: ''The template resource ''nestedTemplate'' at line ''1''
        and column ''420'' is invalid. The api-version ''2016-02-01'' used to deploy
        the template does not support ''ResourceGroup'' property. Please use api-version
        ''2017-05-10'' or later to deploy the template. Please see https://aka.ms/arm-template/#resources
        for usage details.''."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_alt000001?api-version=2016-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQ1JPU1M6NUZSRzo1RkFMVDJQTklYSlJaQVpRR0hLRDdONXxEMEZDOTE1MDUyNDU4NkFFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
