interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false, "autoGeneratedDomainNameLabelScope": "TenantReuse"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-03T02:29:45.829285+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-03T02:29:45.829285+00:00"},"properties":{"loginServer":"clireg000002-hdcpbcdbdhhzcefw.azurecr.io","creationDate":"2026-04-03T02:29:45.829285Z","provisioningState":"Succeeded","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-04-03T02:29:53.2376342+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-04-03T02:29:53.2376937+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"TenantReuse"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clireg000002", "type": "Microsoft.ContainerRegistry/registries",
      "autoGeneratedDomainNameLabelScope": "Unsecure"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2026-01-01-preview
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"The registry
        clireg000002 is already in use."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries?api-version=2026-01-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-03T02:29:45.829285+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/listUsages?api-version=2026-01-01-preview
  response:
    body:
      string: '{"value":[{"name":"Size","limit":536870912000,"currentValue":0,"unit":"Bytes"},{"name":"MaximumStorageCapacity","limit":109951162777600,"currentValue":0,"unit":"Bytes"},{"name":"Webhooks","limit":500,"currentValue":0,"unit":"Count"},{"name":"Geo-replications","limit":-1,"currentValue":0,"unit":"Count"},{"name":"IPRules","limit":200,"currentValue":0,"unit":"Count"},{"name":"VNetRules","limit":100,"currentValue":0,"unit":"Count"},{"name":"PrivateEndpointConnections","limit":200,"currentValue":0,"unit":"Count"},{"name":"ScopeMaps","limit":50000,"currentValue":0,"unit":"Count"},{"name":"Tokens","limit":50000,"currentValue":0,"unit":"Count"}]}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"adminUserEnabled": true}, "tags": {"foo": "bar", "cat":
      ""}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zoey_dct_rg/providers/Microsoft.ContainerRegistry/registries/zoeydct0922","name":"zoeydct0922","type":"Microsoft.ContainerRegis[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/listCredentials?api-version=2026-01-01-preview
  response:
    body:
      string: '{"username":"clireg000002","passwords":[{"name":"password","value":"***"},{"name":"password2","value":"***"}]}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus/operationResults/delete-clireg000002-47a84a8b-2f05-11f1-a25c-44a3bbbaa7c4?api-version=2026-01-01-preview&t=639107803198684440&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwN[...]
