interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/savaradh-eastus2euap/providers/Microsoft.KeyVault/vaults/savaradhkeyvault","name":"savaradhkeyvault","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"6274415f-b1ed-4c2f-a28b-50a426e2149b","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://clitest000002.vault.azure.net/","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "6274415f-b1ed-4c2f-a28b-50a426e2149b",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "vaultUri": "https://clitest000002.vault.azure.net/", "enabledForDeployment":
      false, "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "enablePurgeProtection":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/testkey000003/8c4c99bf33da476b8297e4334962e554","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yH5eihl0VkOmcUajkwCAVnYkqKt3D9Th8pkx4ahHaPze2FN7qwAnFnTusHfsDHfow5bJ6_Z2arJ_5544WGSDIoIWIgGockGHQ4MNQQqcZ_iknIQx5afOQFLDCKI_za0xBWThyaYe52n45hbO9aKXqqqNv0DpbdQOxYa8CSpJ0as6Ix5M9nKcfl-sQXtAON6xn5BtxKbPnPTIrwrqhcOGBEoiZKvgLcBkI2SypqjIRrplVTryLlOInZGuCtWF_tQ_jlB7FiW8XGWiRuDCPKdPx_hYT_5J09GIXDh_-fGS32FvVgu2tz2dLder2T6ZOwDNK2vrxpFaP8T0BKWnqSENtw","e":"AQAB"},"attributes":{"enabled":true,"created":1600980709,"updated":1600980709,"recoveryLevel":"Recoverable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-09-24T20:51:05Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005","name":"testidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"ece5464b-ad79-4294-8960-7a4ad8c940b0","clientId":"20649a65-7217-4c54-98f4-692a855af9bd","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=ece5464b-ad79-4294-8960-7a4ad8c940b0&aid=20649a65-7217-4c54-98f4-692a855af9bd"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":
      {}}}, "properties": {"adminUserEnabled": false, "encryption": {"status": "enabled",
      "keyVaultProperties": {"keyIdentifier": "https://clitest000002.vault.azure.net/keys/testkey000003/8c4c99bf33da476b8297e4334962e554",
      "identity": "20649a65-7217-4c54-98f4-692a855af9bd"}}, "publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006?api-version=2019-12-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006","name":"testreg000006","location":"westus","tags":{},"systemData":{"createdBy":"savaradh@microsoft.com","createdByType":"User","createdAt":"2020-09-24T20:51:54.2200172+00:00","lastModifiedBy":"savaradh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-09-24T20:51:54.2200172+00:00"},"properties":{"loginServer":"testreg000006.azurecr.io","creationDate":"2020-09-24T20:51:54.2200172Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","virtualNetworkRules":[],"ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2020-09-24T20:51:58.4013035+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-c64f1d62-fea7-11ea-a25a-00155de9c581?api-version=2019-12-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-c64f1d62-fea7-11ea-a25a-00155de9c581?api-version=2019-12-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-c64f1d62-fea7-11ea-a25a-00155de9c581?api-version=2019-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/rotatekey000004/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/rotatekey000004/d5ab3ebc49284888bb5adbbb5c650e38","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pns5uqpcTYgf3skCt0ng6wbpWcCuBiuWXIz5nnGNz4Vm_m4FNv9UQ0l_ZP_e6NoLVkodb2QTeRjSe7enCN2IBX96zZXJZ6w9gE_2dknFAphGkNWZ27BCV4JuzSxegVuDNsEPC7gcvP247-Jq_SJUiduJvrJyUCti5vWb1T2hCAYMl-QFbNAOqO8LST-Vfugq_kgqBTC8foZh-1y0LeY9RfgwcfF0RCUsz0fKRYWMNSrQADTYtir5PHB0X7tdGJ4EbpAlrEY19K-MaL6solDcMYXF_NRHqCtT5NPRHM9IXZumE_fLDAC-QQopgvp-3ZSpASiB2dzurLooJpNQBJLxYQ","e":"AQAB"},"attributes":{"enabled":true,"created":1600980730,"updated":1600980730,"recoveryLevel":"Recoverable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
