interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+1
        (425) 4219965"],"displayName":"Clark Porter","givenName":"Clark","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"test@example.com","mobilePhone":null,"officeLocation":"HOME
        OFFICE","preferredLanguage":null,"surname":"Porter","userPrincipalName":"test@example.com","id":"68abb7a6-9056-4d60-bf87-3b50a45559cd"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"001","RoleInstance":"PH2PEPF00002F79"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2768abb7a6-9056-4d60-bf87-3b50a45559cd%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"000","RoleInstance":"PH1PEPF0001A2F2"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["68abb7a6-9056-4d60-bf87-3b50a45559cd"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"68abb7a6-9056-4d60-bf87-3b50a45559cd","businessPhones":["+1
        (425) 4219965"],"displayName":"Clark Porter","givenName":"Clark","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"test@example.com","mobilePhone":null,"officeLocation":"HOME
        OFFICE","preferredLanguage":null,"surname":"Porter","userPrincipalName":"test@example.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"000","RoleInstance":"PH1PEPF0001162F"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Administrator%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Administrator","type":"BuiltInRole","description":"Perform
        all data plane operations on a key vault and all objects in it, including
        certificates, keys, and secrets. Cannot manage key vault resources or manage
        role assignments. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*","Microsoft.KeyVault/checkNameAvailability/read","Microsoft.KeyVault/deletedVaults/read","Microsoft.KeyVault/locations/*/read","Microsoft.KeyVault/vaults/*/read","Microsoft.KeyVault/operations/read"],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/*"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:46.2349235Z","updatedOn":"2021-11-11T20:14:30.2542755Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","type":"Microsoft.Authorization/roleDefinitions","name":"00482a5a-887f-4fb3-b363-3b7fe8e74483"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483",
      "principalId": "68abb7a6-9056-4d60-bf87-3b50a45559cd", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Authorization/roleAssignments/a6e105d4-4633-4507-b23b-f3cfab72b023?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","principalId":"68abb7a6-9056-4d60-bf87-3b50a45559cd","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","condition":null,"conditionVersion":null,"createdOn":"2026-04-21T21:11:42.7355198Z","updatedOn":"2026-04-21T21:11:43.2325202Z","createdBy":null,"updatedBy":"68abb7a6-9056-4d60-bf87-3b50a45559cd","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Authorization/roleAssignments/a6e105d4-4633-4507-b23b-f3cfab72b023","type":"Microsoft.Authorization/roleAssignments","name":"a6e105d4-4633-4507-b23b-f3cfab72b023"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer, PoP, or MTLS_POP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/testkey000003/b1940c75602146bca5b819f327f6d054","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"lc9IJea9MMTxhshUkw898WDdkqI3sE9t9JfvtaxePC1oocNEvDGBP1gqu1tmt8Vz1-curj2K9PJxtbn9cmLiY_78IUCuPJbQyk0-O-GZjnWadwfl0HE1Uq9p2lRsrVhw56PDWUrv76I-blMXUg-gaMLFwqdzesAKwDe2DSTWlfRbUSM9az1g9q65LvuZTB5RTNT-QXBvz4CLC7CteXxy8kzFbJ_fRsaf-tgIx5SGZIrBpj86LZYRERf2zxdid-QTkmuJVpwQEeE2SzhPA3ttd_n0UPc1H3lxijgkThVr5l_mzYNcIBrbK5AXJwJpDy_5kbtKfRz0BMry-zoNN5-k4Q","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"created":1776805922,"updated":1776805922,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_encryption_with_cmk","date":"2026-04-21T21:11:06Z","module":"acr"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005?api-version=2024-11-30
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005","name":"testidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"f331661d-5bf2-4d2f-a591-43f68be793d5","clientId":"0afa1025-9b50-4fda-8655-2ea1fa2dbadb"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"ids": ["f331661d-5bf2-4d2f-a591-43f68be793d5"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"f331661d-5bf2-4d2f-a591-43f68be793d5","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005"],"appDisplayName":null,"appDescription":null,"appId":"0afa1025-9b50-4fda-8655-2ea1fa2dbadb","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdByAppId":"ef5d5c69-a5df-46bb-acaf-426f161a21a2","createdDateTime":"2026-04-21T21:12:03Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"testidentity000005","homepage":null,"isDisabled":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["0afa1025-9b50-4fda-8655-2ea1fa2dbadb","https://identity.azure.net/QMS56GsGMVuwXilYDBNdudj1mDCisnAxKg1QKjCZmT0="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"03A5920090710874A868CAAA3EECC3311852659A","displayName":"CN=0afa1025-9b50-4fda-8655-2ea1fa2dbadb","endDateTime":"2026-07-20T21:07:00Z","key":null,"keyId":"9a2d1d20-e777-4899-992c-8411ed9f8b6b","startDateTime":"2026-04-21T21:07:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"000","RoleInstance":"PH1PEPF0004F0EB"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Crypto%20Service%20Encryption%20User%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Crypto Service Encryption
  [...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e147488a-f6f5-4113-8e2d-b22465e65bf6",
      "principalId": "f331661d-5bf2-4d2f-a591-43f68be793d5", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/provi[...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false, "encryption": {"status": "enabled", "keyVaultProperties": {"keyIdentifier":
      "https://clitest000002.vault.azure.net/keys/testkey000003/b1940c75602146bca5b819f327f6d054",
      "identity": "0afa1025-9b50-4fda-8655-2ea1fa2dbadb"}}}, "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","identity":{"type":"userAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":{"principalId":"f331661d-5bf2-4d2f-a591-43f68be793d5","clientId":"0afa1025-9b50-4fda-8655-2ea1fa2dbadb"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006","name":"testreg000006","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-21T21:12:38.9822916+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-21T21:12:38.9822916+00:00"},"properties":{"loginServer":"testreg000006.azurecr.io","creationDate":"2026-04-21T21:12:38.9822916Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-04-21T21:12:48.1504686+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-04-21T21:12:48.1505079+00:00","status":"disabled"}},"encryption":{"status":"enabled","keyVaultProperties":{"keyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/b1940c75602146bca5b819f327f6d054","versionedKeyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/b1940c75602146bca5b819f327f6d054","identity":"0afa1025-9b50-4fda-8655-2ea1fa2dbadb","keyRotationEnabled":false}},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-d334328e-3dc6-11f1-946b-7ced8de4761b?api-version=2026-01-01-preview&t=639124027683420608&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-d334328e-3dc6-11f1-946b-7ced8de4761b?api-version=2026-01-01-preview&t=639124027683420608&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XD[...]
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/rotatekey000004/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/rotatekey000004/2230587e66dc42158bd74dc2b1234f47","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1lhQwCf8nUmRw04xuZJyhWmynsV20c018oc8HAc1Vcpz2F_u-oAYb5RMk57rst5q-GwZqMOL3LEG074GGMoxN7zwuQSyqcfA87TH8KYBbY4pnCrJ9vyk-1c-iNiCdZzGT-gAFw8rlS7OwEbR8zwmQtRSnAXAYYnCuPHrk5BJmVoxKbNeXOK7wJhQ8_3hFsYzYbosV6CX338nwBT0bVb3hqa_OaJh4PrtgyRJs_w1jeRoBy26PPHRYJlu6yqA1A0eaNzkpMrlSY7jybx1-fYcrnPcJ_2GqovI8RwC5CyBcYxqqj_H5L8HW_j11spM81Ke9uNqyfoCsfopf-xx0WPnEQ","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"created":1776805969,"updated":1776805969,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-da1e2d8b-3dc6-11f1-ba0f-7ced8de4761b?api-version=2026-01-01-preview&t=639124027727315431&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XD[...]
[...]
