interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/testkey000003/3c1d23fec54040e78781eb88bf52ef7a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"s9Gkcjp3o15RNSx7_1C9ZCUBoyIbNT2NmVUfNpoABPMpC4SZbbBTuUo1wjsFxgNZshRIP3s9cmm76xUBYowxw9cXvuCx3cQlV7M2rO8MOxrzcGzL7-p2qWjvhS8deFGHO0g2R9LEywz8jWa2FahbAO0CedYdL1S8z-uxRJRTzSmMn-LmNC1Oga9Xwp_sMapHsQRdMBeIQR31r1Nr2WCCnguVq2d4p2XkJO6Krli95-9wycbOE83nr-SQjuH_nVHJHPSNOsH6QBf9rHV3b0WfIjOoTyoHpssx_lugY4q6CBQbU5IJG9kl0CX4ugrSxonOOkGmLW0K0XUAJbjG6HHKkQ","e":"AQAB"},"attributes":{"enabled":true,"created":1703203029,"updated":1703203029,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_encryption_with_cmk","date":"2023-12-21T23:56:33Z","module":"acr"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005","name":"testidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"0de63f7d-beca-4cf6-b641-cdcfef67c73e","clientId":"aecb151b-96a1-4594-882c-e5ca361c51df"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27clitest000002%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"raymondluo@microsoft.com","createdByType":"User","createdAt":"2023-12-21T23:56:36.303Z","lastModifiedBy":"raymondluo@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-12-21T23:56:36.303Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"fae8901b-9b7e-4d69-9218-53450409c8e9","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://clitest000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "fae8901b-9b7e-4d69-9218-53450409c8e9",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "0de63f7d-bec[...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":
      {}}}, "properties": {"adminUserEnabled": false, "encryption": {"status": "enabled",
      "keyVaultProperties": {"keyIdentifier": "https://clitest000002.vault.azure.net/keys/testkey000003/3c1d23fec54040e78781eb88bf52ef7a",
      "identity": "aecb151b-96a1-4594-882c-e5ca361c51df"}}, "anonymousPullEnabled":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006?api-version=2023-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","identity":{"type":"userAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":{"principalId":"0de63f7d-beca-4cf6-b641-cdcfef67c73e","clientId":"aecb151b-96a1-4594-882c-e5ca361c51df"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006","name":"testreg000006","location":"westus","tags":{},"systemData":{"createdBy":"raymondluo@microsoft.com","createdByType":"User","createdAt":"2023-12-21T23:57:13.3199686+00:00","lastModifiedBy":"raymondluo@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-12-21T23:57:13.3199686+00:00"},"properties":{"loginServer":"testreg000006.azurecr.io","creationDate":"2023-12-21T23:57:13.3199686Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-12-21T23:57:20.9556786+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-12-21T23:57:20.9557265+00:00","status":"disabled"}},"encryption":{"status":"enabled","keyVaultProperties":{"keyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/3c1d23fec54040e78781eb88bf52ef7a","versionedKeyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/3c1d23fec54040e78781eb88bf52ef7a","identity":"aecb151b-96a1-4594-882c-e5ca361c51df","keyRotationEnabled":false}},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-a90cb573-a05c-11ee-9a60-701ab8feb8dd?api-version=2023-11-01-preview&t=638387998410700230&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-a90cb573-a05c-11ee-9a60-701ab8feb8dd?api-version=2023-11-01-preview&t=638387998410700230&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/rotatekey000004/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/rotatekey000004/209090786e4a49e9b412c3d7d1e3040c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rPF4XS3_fSq_s4_Pov8cqs9K-VO7ZY_ox_7rCWNciCr4DiMntikVftOHJy1HZv7BSJGNO1Od7JxChxVCUJGqFCgNNGhopCBIVZBIs6_EARpNG5ow_CuWB3fe7PmIFlKTxWARdwrDNaFNBXTocbktlu1HnaCv4g98ifPefOD4wp3rhGhR9cQFlj49uY20g8aXHzhjUn57r2O9SydCoi1Cc_RJuZIh1_5_hBU6axFvFL5a9uGWDw2r7ICXbepqsrOh5SrFQao5piXQBWhCag57bfLskDPQqwNmM-PoyRQ3CFpZLjeQrgvy4RRN9uF2NMUCsjpPNTPkAYVkKP_gAS1PeQ","e":"AQAB"},"attributes":{"enabled":true,"created":1703203052,"updated":1703203052,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-b4dc4a4e-a05c-11ee-9af5-701ab8feb8dd?api-version=2023-11-01-preview&t=638387998544472736&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
