interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-01T23:26:46.6169202+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-01T23:26:46.6169202+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2026-04-01T23:26:46.6169202Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-04-01T23:26:49.0575756+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-04-01T23:26:49.0576177+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"testTaskRun\"}, \"sourceLocation\": {\"value\":
      \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\"}, \"dockerFilePath\":
      {\"value\": \"Dockerfile\"}, \"image\": {\"value\": \"testtaskrun:v1\"}}, \"mode\":
      \"Incremental\", template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for all resources.\"\n
      \     }\n    },\n    \"registryName\": {\n      \"type\": \"string\",\n      \"minLength\":
      5,\n      \"maxLength\": 50,\n      \"metadata\": {\n        \"description\":
      \"Name of your Azure Container Registry\"\n      }\n    },\n    \"taskRunName\":
      {\n      \"type\": \"string\",\n      \"minLength\": 5,\n      \"maxLength\":
      50,\n      \"metadata\": {\n        \"description\": \"Name of your Task Run
      and tag generated\"\n      }\n    },\n    \"sourceLocation\": {\n      \"type\":
      \"string\",\n\t  \"defaultValue\": \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\",\n
      \     \"metadata\": {\n        \"description\": \"Source Location\"\n      }\n
      \   },\n    \"dockerFilePath\": {\n      \"type\": \"string\",\n\t    \"defaultValue\":
      \"Dockerfile\",\n      \"metadata\": {\n        \"description\": \"Name of dockerFile\"\n
      \     }\n    },\n    \"image\": {\n      \"type\": \"string\",\n\t  \"defaultValue\":
      \"mytest:v1\",\n      \"metadata\": {\n        \"description\": \"Image name\"\n
      \     }\n    }\t\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.ContainerRegistry/registries/taskRuns/\",\n
      \     \"name\": \"[concat(parameters('registryName'), '/', parameters('taskRunName'))]\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"apiVersion\": \"2019-06-01-preview\",\n
      \     \"properties\": {\n          \"runRequest\": {\n            \"type\":
      \"DockerBuildRequest\",\n            \"imageNames\": [\n                \"[parameters('image')]\"\n
      \           ],\n            \"sourceLocation\": \"[parameters('sourceLocation')]\",\n
      \           \"dockerFilePath\": \"[parameters('dockerFilePath')]\",\n            \"values\":
      [],\n            \"isPushEnabled\": true,\n            \"platform\": {\n                \"os\":
      \"linux\",\n                \"architecture\": \"amd64\"\n            },\n            \"credentials\":
      {}\n        }\n      }\n    }\n  ],\n  \"outputs\": {\n    \"taskRunName\":
      {\n      \"type\": \"string\",\n      \"value\": \"[parameters('taskRunName')]\"\n
      \   }\n  }\n}\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/taskrunquickbuildsample","name":"taskrunquickbuildsample","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17630739476866960417","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"testTaskRun"},"sourceLocation":{"type":"String","value":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"dockerFilePath":{"type":"String","value":"Dockerfile"},"image":{"type":"String","value":"testtaskrun:v1"}},"extensions":[],"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-04-01T23:26:49.7720311Z","duration":"PT0S","correlationId":"98c8c178-08c0-408c-814d-bc462d697b4c","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"testTaskRun\"}, \"sourceLocation\": {\"value\":
      \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\"}, \"dockerFilePath\":
      {\"value\": \"Dockerfile\"}, \"image\": {\"value\": \"testtaskrun:v1\"}}, \"mode\":
      \"Incremental\", template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584265208746026596?api-version=2025-04-01&t=639106828117426540&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/taskrunquickbuildsample","name":"taskrunquickbuildsample","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17630739476866960417","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"testTaskRun"},"sourceLocation":{"type":"String","value":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"dockerFilePath":{"type":"String","value":"Dockerfile"},"image":{"type":"String","value":"testtaskrun:v1"}},"extensions":[],"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-04-01T23:27:27.3025772Z","duration":"PT36.4349488S","correlationId":"877c1c8f-3945-41b7-9a90-6aa775d4c42d","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"outputs":{"taskRunName":{"type":"String","value":"testTaskRun"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun","resourceType":"Microsoft.ContainerRegistry/registries/taskRuns"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"DockerBuildRequest","imageNames":["testtaskrun:v1"],"isPushEnabled":true,"noCache":false,"dockerFilePath":"Dockerfile","platform":{"os":"linux","architecture":"amd64"},"sourceLocation":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"runResult":{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Succeeded","lastUpdatedTime":"2026-04-01T23:27:13+00:00","runType":"QuickRun","createTime":"2026-04-01T23:26:53.8290424+00:00","startTime":"2026-04-01T23:26:54.1220342+00:00","finishTime":"2026-04-01T23:27:13.0463834+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"testtaskrun","tag":"v1","digest":"sha256:a38d945e39f61a72f89114d50a9aaae4d96a3acd54ebeb05246edfcc34a23732"}],"platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1"}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun","name":"testTaskRun","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-01T23:26:53.5468109+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-01T23:26:53.5468109+00:00"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"DockerBuildRequest","imageNames":["testtaskrun:[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun?api-version=2025-03-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
