interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2019-05-01
  response:
    body:
<<<<<<< HEAD
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2019-08-28T17:52:01.5958186Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{}}}'
=======
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2019-08-30T02:44:37.3767074Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{}}}'
>>>>>>> record tests
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 28 Aug 2019 17:52:05 GMT
=======
      - Fri, 30 Aug 2019 02:44:38 GMT
>>>>>>> record tests
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-resource/3.1.0
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 resourcemanagementclient/2.2.0
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2019-05-10
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg5gtlesttmrde7nicquwvk6vjtbkyub5ghk5hscx27shkwmorpcsuwtbhlhyab75js/providers/Microsoft.ContainerRegistry/registries/cliregcsrgzbfmz5alf7","name":"cliregcsrgzbfmz5alf7","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegis[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"serviceUri": "http://www.microsoft.com",
      "status": "enabled", "actions": ["push"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/webhooks/cliregwebhook?api-version=2019-05-01
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/webhooks","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/webhooks/cliregwebhook","name":"cliregwebhook","location":"westus","tags":{},"properties":{"status":"enabled","scope":"","actions":["push"],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 28 Aug 2019 17:52:07 GMT
=======
      - Fri, 30 Aug 2019 02:44:40 GMT
>>>>>>> record tests
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-0000000[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-0000000[...]
[...]
- request:
    body: '{"properties": {"customHeaders": {"key": "value"}, "scope": "hello-world"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: PATCH
    uri: h[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/webhooks/cliregwebhook/getCallbackConfig?api-version=2019-05-01
  response:
    body:
      string: '{"serviceUri":"http://www.microsoft.com","customHeaders":{"key":"value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 28 Aug 2019 17:52:11 GMT
=======
      - Fri, 30 Aug 2019 02:44:44 GMT
>>>>>>> record tests
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/webhooks/cliregwebhook/ping?api-version=2019-05-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"e8429879-ae80-40c5-9d61-e7bd8c4e67f6"}'
=======
      string: '{"id":"2886a715-3cf8-4074-817e-1675b6609184"}'
>>>>>>> record tests
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 28 Aug 2019 17:52:13 GMT
=======
      - Fri, 30 Aug 2019 02:44:45 GMT
>>>>>>> record tests
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/webhooks/cliregwebhook/listEvents?api-version=2019-05-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"eventRequestMessage":{"content":{"id":"e8429879-ae80-40c5-9d61-e7bd8c4e67f6","timestamp":"2019-08-28T17:52:13.356252Z","action":"ping"},"headers":{"key":"value","Content-Type":"application/json;
        charset=utf-8","Content-Length":"104"},"method":"POST","requestUri":"http://www.microsoft.com/","version":"1.1"},"eventResponseMessage":{"content":"","headers":{"Connection":"keep-alive","Cache-Control":"max-age=541","Date":"Wed,
        28 Aug 2019 17:52:13 GMT","ETag":"\"b32eb28a8638f67782dc086e60452687:1519772838\"","Server":"Apache","Content-Length":"0"},"reasonPhrase":"Forbidden","statusCode":"403","version":"1.1"},"id":"e8429879-ae80-40c5-9d61-e7bd8c4e67f6"}]}'
=======
      string: '{"value":[{"eventRequestMessage":{"content":{"id":"2886a715-3cf8-4074-817e-1675b6609184","timestamp":"2019-08-30T02:44:46.0217816Z","action":"ping"},"headers":{"key":"value","Content-Type":"application/json;
        charset=utf-8","Content-Length":"104"},"method":"POST","requestUri":"http://www.microsoft.com/","version":"1.1"},"eventResponseMessage":{"content":"","headers":{"Connection":"keep-alive","Cache-Control":"max-age=600","Date":"Fri,
        30 Aug 2019 02:44:46 GMT","ETag":"\"b32eb28a8638f67782dc086e60452687:1519772838\"","Server":"Apache","Content-Length":"0"},"reasonPhrase":"Forbidden","statusCode":"403","version":"1.1"},"id":"2886a715-3cf8-4074-817e-1675b6609184"}]}'
>>>>>>> record tests
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 28 Aug 2019 17:52:13 GMT
=======
      - Fri, 30 Aug 2019 02:44:46 GMT
>>>>>>> record tests
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
=======
      - python/3.6.3 (Windows-10-10.0.18362-SP0) msrest/0.6.8 msrest_azure/0.6.1 azure-mgmt-containerregistry/3.0.0rc5
>>>>>>> record tests
        Azure-SDK-For-Python AZURECLI/2.0.72
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/listUsages?api-version=2019-05-01
  response:
    body:
      string: '{"value":[{"name":"Size","limit":107374182400,"currentValue":0,"unit":"Bytes"},{"name":"Webhooks","limit":10,"currentValue":1,"unit":"Count"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 28 Aug 2019 17:52:15 GMT
=======
      - Fri, 30 Aug 2019 02:44:47 GMT
>>>>>>> record tests
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
