interactions:
- request:
    body: '{"location": "southeastasia", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      false, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrrbac_000001/providers/Microsoft.ContainerRegistry/registries/clitestrbac000002?api-version=2025-03-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrrbac_000001/providers/Microsoft.ContainerRegistry/registries/clitestrbac000002","name":"clitestrbac000002","location":"southeastasia","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-04-28T16:23:19.806189+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-28T16:23:19.806189+00:00"},"properties":{"loginServer":"clitestrbac000002.azurecr.io","creationDate":"2025-04-28T16:23:19.806189Z","provisioningState":"Creating","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2025-04-28T16:23:25.7898868+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2025-04-28T16:23:25.7899296+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2025-03-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrrbac_000001/providers/Microsoft.ContainerRegistry/registries/clitestrbac000002/operationStatuses/registries-176af2d9-244d-11f0-882b-00155d325208?api-version=2025-03-01-preview&t=638814542061191254&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgxMTE1WhcNMjUxMDE1MDgxMTE1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrrbac_000001/providers/Microsoft.ContainerRegistry/registries/clitestrbac000002/operationStatuses/registries-176af2d9-244d-11f0-882b-00155d325208?api-version=2025-03-01-preview&t=638814542061191254&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
[...]
- request:
    body: '{"sku": {"name": "Premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrrbac_000001/providers/Microsoft.ContainerRegistry/registries/clitestrbac000002?api-version=2025-03-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrrbac_000001/providers/Microsoft.ContainerRegistry/registries/clitestrbac000002","name":"clitestrbac000002","location":"southeastasia","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-04-28T16:23:19.806189+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-28T16:23:35.9851485+00:00"},"properties":{"loginServer":"clitestrbac000002.azurecr.io","creationDate":"2025-04-28T16:23:19.806189Z","provisioningState":"Succeeded","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2025-04-28T16:23:25.7898868+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2025-04-28T16:23:25.7899296+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"AbacRepositoryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2025-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrrbac_000001/providers/Microsoft.ContainerRegistry/registries/clitestrbac000002?api-version=2025-03-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2025-03-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '800'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '12000'
    status:
      code: 200
      message: OK
version: 1
