interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Nihal
        Varadachari","givenName":"Nihal","jobTitle":"Software Engineer II","mail":"test@example.com","mobilePhone":null,"officeLocation":"MELBOURNE-FRESH","preferredLanguage":null,"surname":"Varadachari","userPrincipalName":"test@example.com","id":"4b5b0cef-cf82-4cf5-9ab1-ff84c9f11f35"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF0000548F"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%274b5b0cef-cf82-4cf5-9ab1-ff84c9f11f35%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF0000548F"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["4b5b0cef-cf82-4cf5-9ab1-ff84c9f11f35"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"4b5b0cef-cf82-4cf5-9ab1-ff84c9f11f35","businessPhones":[],"displayName":"Nihal
        Varadachari","givenName":"Nihal","jobTitle":"Software Engineer II","mail":"test@example.com","mobilePhone":null,"officeLocation":"MELBOURNE-FRESH","preferredLanguage":null,"surname":"Varadachari","userPrincipalName":"test@example.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SY2PEPF00014B65"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Authorization/roleDefinitions?api-version=2022-05-01-preview&$filter=roleName%20eq%20%27Key%20Vault%20Administrator%27
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Administrator","type":"BuiltInRole","description":"Perform
        all data plane operations on a key vault and all objects in it, including
        certificates, keys, and secrets. Cannot manage key vault resources or manage
        role assignments. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*","Microsoft.KeyVault/checkNameAvailability/read","Microsoft.KeyVault/deletedVaults/read","Microsoft.KeyVault/locations/*/read","Microsoft.KeyVault/vaults/*/read","Microsoft.KeyVault/operations/read"],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/*"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:46.2349235Z","updatedOn":"2021-11-11T20:14:30.2542755Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","type":"Microsoft.Authorization/roleDefinitions","name":"00482a5a-887f-4fb3-b363-3b7fe8e74483"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483",
      "principalId": "4b5b0cef-cf82-4cf5-9ab1-ff84c9f11f35", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Authorization/roleAssignments/5f82f714-51af-4237-b80d-49e0ea54100a?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","principalId":"4b5b0cef-cf82-4cf5-9ab1-ff84c9f11f35","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","condition":null,"conditionVersion":null,"createdOn":"2026-09-10T06:46:04.7000315Z","updatedOn":"2026-09-10T06:46:05.7194344Z","createdBy":null,"updatedBy":"4b5b0cef-cf82-4cf5-9ab1-ff84c9f11f35","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Authorization/roleAssignments/5f82f714-51af-4237-b80d-49e0ea54100a","type":"Microsoft.Authorization/roleAssignments","name":"5f82f714-51af-4237-b80d-49e0ea54100a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer, PoP, or MTLS_POP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/testkey000003/3f3ddaa9580544b0af62a75be1a01776","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rGFUPuowwNIT7JkZXjBvo_Mdre1n2_wbfHqzgzdTpXNb3_jZNU_NpIRH1VVXbUkeybtcTnR0uxw0hffXkCNz4JIEEDoS8bQNmRAMMCxrDUohPe2v2M9vJsrKE8fGSThqGHvIBCCdz67a53AgU5bzzCh9AGfs3bFLP7c9ee_I7fUwwqz6LNe3C9BOe4SSc0K2IG6qhJf015n4KD2zsRLM2vrt4Co7JFiln1v9BpKRaiDpCIkQHDHszVg2Q1A4r_i_HdzuyxTc_Pv5QevjOVGybJuo27i-fXy32-_XWdPp_TZSepBNslsgsqhEWlGVwjcAxoiAkC8s1XFl_GmvA9d_0Q","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"created":1789022787,"updated":1789022787,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_encryption_with_cmk","date":"2026-09-10T06:45:20Z","module":"acr"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005?api-version=2025-05-31-preview
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005","name":"testidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","assignmentRestrictions":{"providers":[]},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"8256dcbb-d068-4766-9458-87f37b5182d1","clientId":"a0645f53-e8f0-49bb-b2e2-5b3b93207b15"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"ids": ["8256dcbb-d068-4766-9458-87f37b5182d1"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"8256dcbb-d068-4766-9458-87f37b5182d1","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005"],"appDisplayName":null,"appDescription":null,"appId":"a0645f53-e8f0-49bb-b2e2-5b3b93207b15","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdByAppId":"ef5d5c69-a5df-46bb-acaf-426f161a21a2","createdDateTime":"2026-09-10T06:46:29Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"testidentity000005","homepage":null,"isDisabled":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["a0645f53-e8f0-49bb-b2e2-5b3b93207b15","https://identity.azure.net/yssqc5uzP58n9rjL4YhYYBhFYGgwesI64W88Xx+oSOc="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"DC59EA3DE13292E435C841C48FCD7E4D3F9EE5CD","displayName":"CN=a0645f53-e8f0-49bb-b2e2-5b3b93207b15","endDateTime":"2026-12-09T06:41:00Z","key":null,"keyId":"78149004-b095-4060-b44c-c62852c5a660","startDateTime":"2026-09-10T06:41:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF00005C26"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Authorization/roleDefinitions?api-version=2022-05-01-preview&$filter=roleName%20eq%20%27Key%20Vault%20Crypto%20Service%20Encryption%20User%27
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Crypto Service Encryption
  [...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e147488a-f6f5-4113-8e2d-b22465e65bf6",
      "principalId": "8256dcbb-d068-4766-9458-87f37b5182d1", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/provi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005?api-version=2024-11-30
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005","name":"testidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"8256dcbb-d068-4766-9458-87f37b5182d1","clientId":"a0645f53-e8f0-49bb-b2e2-5b3b93207b15"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false, "encryption": {"status": "enabled", "keyVaultProperties": {"keyIdentifier":
      "https://clitest000002.vault.azure.net/keys/testkey000003/3f3ddaa9580544b0af62a75be1a01776",
      "identity": "a0645f53-e8f0-49bb-b2e2-5b3b93207b15"}}}, "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006?api-version=2026-09-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","identity":{"type":"userAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":{"principalId":"8256dcbb-d068-4766-9458-87f37b5182d1","clientId":"a0645f53-e8f0-49bb-b2e2-5b3b93207b15"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006","name":"testreg000006","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-09-10T06:47:08.072564+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-09-10T06:47:08.072564+00:00"},"properties":{"loginServer":"testreg000006.azurecr.io","creationDate":"2026-09-10T06:47:08.072564Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","virtualNetworkRules":[],"ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-09-10T06:47:15.6433122+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-09-10T06:47:15.6433492+00:00","status":"disabled"}},"encryption":{"status":"enabled","keyVaultProperties":{"keyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/3f3ddaa9580544b0af62a75be1a01776","versionedKeyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/3f3ddaa9580544b0af62a75be1a01776","identity":"a0645f53-e8f0-49bb-b2e2-5b3b93207b15","keyRotationEnabled":false}},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure","writableCacheRepos":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2026-09-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-709dda85-ace3-11f1-90ea-3cefa50a58cc?api-version=2026-09-01-preview&t=639246196358065708&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2NTU0MVoXDTI3MDIwNjIyNTU0MVowQDE-MDwGA1UEAxM1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-709dda85-ace3-11f1-90ea-3cefa50a58cc?api-version=2026-09-01-preview&t=639246196358065708&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XD[...]
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/rotatekey000004/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/rotatekey000004/8a0d23fc8617407d9df2b80d2a38c1ce","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"tvdUS635HlFuhJjYme4TS4FnR7M5mCsoEweN2Rybtb0vNwb1EMuARvIg1Q00UN7AlCZnmihsrnLHgSSk8dBvXoVw9wZb-hCjQa9LTQ5kQM2NRCQGkVVRczi1_AdpRugquoD1jFN2nlUPT20gTNRSBNSPSmRM7VX8fULw7K9P-yNrIZ2-cdZ57ij6brELVng-CgttKSwOuYdqBlJVL7rQUhxURUGvM0QbYTx-h_QjQVNUcoTMYDC7CF0VQ8npwQWPnnCD-z0VaP6Bd6Z99Xzdj1gSl-5rMFh06NFJEI688dyOCx3-uQq59bb9fTfzoM4o_8HWK02j2YgVgc_D4i6TyQ","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"created":1789022838,"updated":1789022838,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-783c7abf-ace3-11f1-8908-3cefa50a58cc?api-version=2026-09-01-preview&t=639246196416945655&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XD[...]
[...]
