interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"mabenedi@microsoft.com","createdByType":"User","createdAt":"2023-02-24T20:55:31.0875721+00:00","lastModifiedBy":"mabenedi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T20:55:31.0875721+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2023-02-24T20:55:31.0875721Z","provisioningState":"Creating","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2023-02-24T20:55:43.3557881+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2023-02-24T20:55:43.3557881+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-932c6818-b485-11ed-a2c5-c8348e33fc9f?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-932c6818-b485-11ed-a2c5-c8348e33fc9f?api-version=2022-02-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-932c6818-b485-11ed-a2c5-c8348e33fc9f?api-version=2022-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mabenedi/providers/Microsoft.ContainerRegistry/registries/mabenedicorp","name":"mabenedicorp","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Premium","tier":"Premium"},"location":"westus2","tags":{},"systemData":{"createdBy":"mabenedi@microsoft.com","createdByType":"User","createdAt":"2022-06-04T01:14:05.5356959Z","lastModifiedBy":"mabenedi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"loginServer":
      "docker.io", "authCredentials": [{"name": "Credential1", "usernameSecretIdentifier":
      "https://cliimportkv73021.vault.azure.net/secrets/SPusername", "passwordSecretIdentifier":
      "https://cliimportkv73021.vault.azure.net/secrets/SPpassword"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets/test1?api-version=2023-01-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/credentialSets","identity":{"principalId":"48c9910b-05c6-4c5a-834b-a949c3df8134","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"systemAssigned"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets/test1","name":"test1","systemData":{"createdBy":"mabenedi@microsoft.com","createdByType":"User","createdAt":"2023-02-24T20:55:54.8352545+00:00","lastModifiedBy":"mabenedi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T20:55:54.8352545+00:00"},"properties":{"loginServer":"docker.io","authCredentials":[{"name":"Credential1","usernameSecretIdentifier":"https://cliimportkv73021.vault.azure.net/secrets/SPusername","passwordSecretIdentifier":"https://cliimportkv73021.vault.azure.net/secrets/SPpassword","credentialHealth":{"status":"Unhealthy","errorCode":"Forbidden","errorMessage":"The
        user, group or application ''name=Microsoft.ContainerRegistry/registries;appid=ec92e4f0-c899-41f2-a198-e25c9b9837f8;oid=48c9910b-05c6-4c5a-834b-a949c3df8134;iss=https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/''
        does not have secrets get permission on key vault ''cliimportkv73021;location=westus''.
        For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125287"}}],"creationDate":"2023-02-24T20:55:55.5905237+00:00","provisioningState":"Creating"}}'
    headers:
      api-supported-versions:
      - 2023-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets/test1/operationStatuses/credentialsets-853b3471-a1d9-4c73-a647-31442a499e73?api-version=2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets/test1/operationStatuses/credentialsets-853b3471-a1d9-4c73-a647-31442a499e73?api-version=2023-01-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2023-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets/test1/operationStatuses/credentialsets-853b3471-a1d9-4c73-a647-31442a499e73?api-version=2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets?api-version=2023-01-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.ContainerRegistry/registries/credentialSets","identity":{"principalId":"48c9910b-05c6-4c5a-834b-a949c3df8134","tenantId":"72f988bf-86f1-41af-91ab-2d7c[...]
[...]
- request:
    body: '{"properties": {"credentialSetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets/test1",
      "sourceRepository": "docker.io/library/ubuntu", "targetRepository": "ubuntu"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/cacheRules/test1?api-version=2023-01-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/cacheRules","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/cacheRules/test1/operationStatuses/cacherules-9fafc680-5537-43d2-98e8-4ad575b337b0?api-version=2023-01-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2023-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/cacheRules/test1/operationStatuses/cacherules-9fafc680-5537-43d2-98e8-4ad575b337b0?api-version=2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/cacheRules?api-version=2023-01-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.ContainerRegistry/registries/cacheRules","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/cacheRules/test1","name":"test1","systemData":{"createdBy":"mabenedi@microsoft.com","createdByType":"User","createdAt":"2023-02-24T20:56:22.362994+00:00","lastModifiedBy":"mabenedi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T20:56:22.362994+00:00"},"properties":{"credentialSetResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/credentialSets/test1","sourceRepository":"docker.io/library/ubuntu","targetRepository":"ubuntu","creationDate":"2023-02-24T20:56:22.6402572+00:00","provisioningState":"Succeeded"}}]}'
    headers:
      api-supported-versions:
      - 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/WESTUS/operationResults/cacherules-862ed319-0805-48b1-94ec-ab500a55cf61?api-version=2023-01-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/WESTUS/operationResults/credentialsets-d45cafdb-61ef-477a-984d-eabe80b5d157?api-version=2023-01-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2022-02-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
