interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_export_policy","date":"2025-01-09T20:45:07Z","module":"acr"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false, "networkRuleSet": {"defaultAction": "Deny"}, "policies": {"exportPolicy":
      {"status": "enabled"}}, "publicNetworkAccess": "Disabled", "anonymousPullEnabled":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2024-11-01-preview
  response:
    body:
      string: '{"error":{"code":"NoRegisteredProviderFound","message":"No registered
        resource provider found for location ''westus'' and API version ''2024-11-01-preview''
        for type ''registries''. The supported api-versions are ''2017-03-01, 2017-10-01,
        2019-05-01, 2019-12-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-09-01, 2021-12-01-preview, 2022-02-01-preview, 2022-12-01, 2023-01-01-preview,
        2023-06-01-preview, 2023-07-01, 2023-08-01-preview, 2023-11-01-preview''.
        The supported locations are ''westus, eastus, southcentralus, westeurope,
        northeurope, uksouth, ukwest, australiaeast, australiasoutheast, centralindia,
        koreacentral, francecentral, southafricanorth, uaenorth, eastasia, japaneast,
        japanwest, southeastasia, southindia, brazilsouth, canadaeast, canadacentral,
        centralus, eastus2, northcentralus, westcentralus, westus2, switzerlandnorth,
        uaecentral, switzerlandwest, germanywestcentral, brazilsoutheast, norwayeast,
        koreasouth, westus3, norwaywest, swedencentral, jioindiawest, jioindiacentral,
        australiacentral2, australiacentral, qatarcentral, germanynorth, polandcentral,
        francesouth, italynorth, israelcentral, spaincentral, mexicocentral, newzealandnorth''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
version: 1
