interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-22T08:32:11Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"sku": {"name": "PerGB2018"}, "retentionInDays":
      30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/wprkspace000003?api-version=2020-03-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\"\
        : \"2e3b6400-a08c-4370-b930-2ad2c9e17cc9\",\r\n    \"provisioningState\":\
        \ \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n  \
        \    \"maxCapacityReservationLevel\": 3000,\r\n      \"lastSkuUpdate\": \"\
        Tue, 22 Dec 2020 08:32:16 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\
        \n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\":\
        \ 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n  \
        \  },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n\
        \      \"quotaNextResetTime\": \"Wed, 23 Dec 2020 03:00:00 GMT\",\r\n    \
        \  \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\"\
        : \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n  \
        \  \"createdDate\": \"Tue, 22 Dec 2020 08:32:16 GMT\",\r\n    \"modifiedDate\"\
        : \"Tue, 22 Dec 2020 08:32:16 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/wprkspace000003\"\
        ,\r\n  \"name\": \"wprkspace000003\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\"\
        ,\r\n  \"location\": \"westus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      false, "publicNetworkAccess": "Enabled", "networkRuleBypassOptions": "AzureServices"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2020-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"azureclitest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2020-12-22T08:32:50.0745557+00:00","lastModifiedBy":"azureclitest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-12-22T08:32:50.0745557+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2020-12-22T08:32:50.0745557Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2020-12-22T08:32:50.9558227+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"metrics": [{"category": "AllMetrics", "enabled": true,
      "retentionPolicy": {"enabled": true, "days": 0}}], "logs": [{"category": "ContainerRegistryRepositoryEvents",
      "enabled": true, "retentionPolicy": {"enabled": true, "days": 0}}, {"category":
      "ContainerRegistryLoginEvents", "enabled": true, "retentionPolicy": {"enabled":
      true, "days": 0}}], "workspaceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.OperationalInsights/workspaces/wprkspace000003"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/microsoft.insights/diagnosticSettings/clireg000002-diagnostic-settings?api-version=2017-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.containerregistry/registries/clireg000002/providers/microsoft.insights/diagnosticSettings/clireg000002-diagnostic-settings","type":"Microsoft.Insights/diagnosticSettings","name":"clireg000002-diagnostic-settings","location":null,"kind":null,"tags":null,"properties":{"storageAccountId":null,"serviceBusRuleId":null,"workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.OperationalInsights/workspaces/wprkspace000003","eventHubAuthorizationRuleId":null,"eventHubName":null,"metrics":[{"timeGrain":"PT1M","category":"AllMetrics","enabled":true,"retentionPolicy":{"enabled":true,"days":0}}],"logs":[{"category":"ContainerRegistryRepositoryEvents","enabled":true,"retentionPolicy":{"enabled":true,"days":0}},{"category":"ContainerRegistryLoginEvents","enabled":true,"retentionPolicy":{"enabled":true,"days":0}}],"logAnalyticsDestinationType":null},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
