interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+1
        (425) 4219965"],"displayName":"Clark Porter","givenName":"Clark","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"test@example.com","mobilePhone":null,"officeLocation":"HOME
        OFFICE","preferredLanguage":null,"surname":"Porter","userPrincipalName":"test@example.com","id":"68abb7a6-9056-4d60-bf87-3b50a45559cd"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"002","RoleInstance":"PH3PEPF000273E6"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false, "roleAssignmentMode": "AbacRepositoryPermissions"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-03-24T00:29:01.695747+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-03-24T00:29:01.695747+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2026-03-24T00:29:01.695747Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-03-24T00:29:08.5684355+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-03-24T00:29:08.5684759+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"AbacRepositoryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"location":"westus3","type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-registry-create-test/providers/Microsoft.ContainerRegistry/registries/acr06jan2025cp1","name":"acr06jan2025cp1","sku":{"name":"Premium","tier":"Premium"},"tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-01-07T00:50:22.6092217Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedA[...]
[...]
- request:
    body: '{"imageNames": ["myimage:tag"], "isPushEnabled": true, "sourceLocation":
      "https://github.com/Azure-Samples/acr-build-helloworld-node.git", "platform":
      {"os": "linux", "architecture": "amd64"}, "dockerFilePath": "Dockerfile", "arguments":
      [], "credentials": {"sourceRegistry": {"identity": "[caller]"}}, "type": "DockerBuildRequest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scheduleRun?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Queued","lastUpdatedTime":"2026-03-24T00:29:09+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-03-24T00:29:09.7146058+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Queued","lastUpdatedTime":"2026-03-24T00:29:09+00:00","runType":"QuickRun","createTime":"2026-03-24T00:29:09.7921247+00:00","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-03-24T00:29:09.7146058+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Failed","lastUpdatedTime":"2026-03-24T00:29:25+00:00","runType":"QuickRun","createTime":"2026-03-24T00:29:09.7921247+00:00","startTime":"2026-03-24T00:29:10.1344884+00:00","finishTime":"2026-03-24T00:29:25.8609405+00:00","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"runErrorMessage":"failed
        during run, err: exit status 1","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-03-24T00:29:09.7146058+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2768abb7a6-9056-4d60-bf87-3b50a45559cd%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"000","RoleInstance":"PH1PEPF0001291B"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["68abb7a6-9056-4d60-bf87-3b50a45559cd"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"68abb7a6-9056-4d60-bf87-3b50a45559cd","businessPhones":["+1
        (425) 4219965"],"displayName":"Clark Porter","givenName":"Clark","jobTitle":"SENIOR
        SOFTWARE ENGINEER","mail":"test@example.com","mobilePhone":null,"officeLocation":"HOME
        OFFICE","preferredLanguage":null,"surname":"Porter","userPrincipalName":"test@example.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"000","RoleInstance":"PH1PEPF00020422"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Container%20Registry%20Repository%20Contributor%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Container Registry Repository
        Contributor","type":"BuiltInRole","description":"Allows for read, write, and
        delete access to Azure Container Registry repositories, but excluding catalog
        listing.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.ContainerRegistry/registries/repositories/metadata/read","Microsoft.ContainerRegistry/registries/repositories/content/read","Microsoft.ContainerRegistry/registries/repositories/metadata/write","Microsoft.ContainerRegistry/registries/repositories/content/write","Microsoft.ContainerRegistry/registries/repositories/metadata/delete","Microsoft.ContainerRegistry/registries/repositories/content/delete"],"notDataActions":[]}],"createdOn":"2024-06-05T15:32:11.5848534Z","updatedOn":"2025-10-03T17:14:16.6197074Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c","type":"Microsoft.Authorization/roleDefinitions","name":"2efddaa5-3f1f-4df3-97df-af3f13818f4c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c",
      "principalId": "68abb7a6-9056-4d60-bf87-3b50a45559cd", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c","principalId":"68abb7a6-9056-4d60-bf87-3b50a45559cd","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","condition":null,"conditionVersion":null,"createdOn":"2026-03-24T00:29:41.4158281Z","updatedOn":"2026-03-24T00:29:41.5814734Z","createdBy":null,"updatedBy":"68abb7a6-9056-4d60-bf87-3b50a45559cd","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf2?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf2","status":"Succeeded","lastUpdatedTime":"2026-03-24T00:30:49+00:00","runType":"QuickRun","createTime":"2026-03-24T00:30:29.1272003+00:00","startTime":"2026-03-24T00:30:29.3832244+00:00","finishTime":"2026-03-24T00:30:49.3310011+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"myimage","tag":"tag","digest":"sha256:ccbb859f8ee0f0bbc1c6feec7eb6c94e0bc8395aa891e8bf4e495c699fcb1907"}],"platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf2","name":"cf2","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-03-24T00:30:29.0359948+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus/operationResults/registries-bbdda5b8-2718-11f1-ad4d-70a8a51b6037?api-version=2026-01-01-preview&t=639099090617951277&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westus/operationResults/registries-bbdda5b8-2718-11f1-ad4d-70a8a51b6037?api-version=2026-01-01-preview&t=639099090621240903&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQD[...]
