interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2021-08-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"eastus","tags":{},"systemData":{"createdBy":"rosanch@microsoft.com","createdByType":"User","createdAt":"2022-03-03T01:48:00.3681317+00:00","lastModifiedBy":"rosanch@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-03T01:48:00.3681317+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2022-03-03T01:48:00.3681317Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","virtualNetworkRules":[],"ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2022-03-03T01:48:02.695302+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2021-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-f48906d2-9a93-11ec-91a3-40b0343b6fb7?api-version=2021-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-f48906d2-9a93-11ec-91a3-40b0343b6fb7?api-version=2021-08-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2021-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-f48906d2-9a93-11ec-91a3-40b0343b6fb7?api-version=2021-08-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/onprem/providers/Microsoft.ContainerRegistry/registries/rosanch1","name":"rosanch1","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Premium","tier":"Premium"},"location":"eastus2euap","tags":{},"systemData":{"createdBy":"rosanch@microsoft.com","createdByType":"User","createdAt":"2020-12-23T02:38:45.9649147Z","lastModifiedBy":"rosanch@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-12-23T02[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/connectedregistry?api-version=2020-11-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource connectedregistry
        could not be found."},"status":"Failed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"actions": ["repositories/repo1/content/read", "repositories/repo1/content/write",
      "repositories/repo1/content/delete", "repositories/repo1/metadata/read", "repositories/repo1/metadata/write",
      "repositories/repo2/content/read", "repositories/repo2/content/write", "repositories/repo2/content/delete",
      "repositories/repo2/metadata/read", "repositories/repo2/metadata/write", "repositories/repo3/content/read",
      "repositories/repo3/content/write", "repositories/repo3/content/delete", "rep[...]
- request:
    body: '{"properties": {"scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/connectedregistry",
      "status": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry?api-version=2020-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tokens","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry","name":"connectedregistry","systemData":{"createdBy":"rosanch@microsoft.com","createdByType":"User","createdAt":"2022-03-03T01:48:21.6750096+00:00","lastModifiedBy":"rosanch@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-03T01:48:21.6750096+00:00"},"properties":{"creationDate":"2022-03-03T01:48:21.9619056+00:00","provisioningState":"Creating","scopeMapId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/connectedregistry","credentials":{"passwords":[]},"status":"enabled"}}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry/operationStatuses/token-ffc585c0-9a93-11ec-9556-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry/operationStatuses/token-ffc585c0-9a93-11ec-9556-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry/operationStatuses/token-ffc585c0-9a93-11ec-9556-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"mode": "readwrite", "parent": {"syncProperties": {"tokenId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry",
      "schedule": "* * * * *", "messageTtl": "P2D"}}, "logging": {"logLevel": "Information",
      "auditLogStatus": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries/connectedregistry?api-version=2021-08-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/connectedRegistries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries/connectedregistry","name":"connectedregistry","systemData":{"createdBy":"rosanch@microsoft.com","createdByType":"User","createdAt":"2022-03-03T01:48:33.4118792+00:00","lastModifiedBy":"rosanch@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-03T01:48:33.4118792+00:00"},"properties":{"provisioningState":"Succeeded","mode":"ReadWrite","connectionState":"Offline","activation":{"status":"Inactive"},"parent":{"syncProperties":{"tokenId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry","schedule":"*
        * * * *","messageTtl":"P2D","gatewayEndpoint":"clireg000002.eastus.data.azurecr.io"}},"loginServer":{"tls":{"certificate":{}}},"logging":{"logLevel":"Information","auditLogStatus":"Disabled"}}}'
    headers:
      api-supported-versions:
      - 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/syncToken-scope-map?api-version=2020-11-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource syncToken-scope-map
        could not be found."},"status":"Failed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/syncToken-scope-map",
      "status": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/syncToken/operationStatuses/token-08d99966-9a94-11ec-8010-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/syncToken/operationStatuses/token-08d99966-9a94-11ec-8010-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/clientToken-scope-map?api-version=2020-11-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource clientToken-scope-map
        could not be found."},"status":"Failed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/clientToken-scope-map",
      "status": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/regis[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/clientToken/operationStatuses/token-10898362-9a94-11ec-ba0a-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/clientToken/operationStatuses/token-10898362-9a94-11ec-ba0a-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"mode": "readonly", "parent": {"syncProperties": {"tokenId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/syncToken",
      "schedule": "0 0/10 * * *", "syncWindow": "PT4H", "messageTtl": "P2D"}}, "clientTokenIds":
      ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/clientToken"],
      "logging": {"logLevel": "Warning", "auditLogStatus": "Disabled"}, "notificationsList":
      ["hello-world:tag:push"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries/rootregistry?api-version=2021-08-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/connectedRegistries","id":"/subscriptions/00000000-0000-000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries?api-version=2021-08-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.ContainerRegistry/registries/connectedRegistries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/provi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/syncToken-scope-map/operationStatuses/token-19cbc1e6-9a94-11ec-a507-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/syncToken-scope-map/operationStatuses/token-19cbc1e6-9a94-11ec-a507-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/child?api-version=2020-11-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource child could
        not be found."},"status":"Failed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/child",
      "status": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/child/operationStatuses/token-19cbc1e6-9a94-11ec-a507-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/child/operationStatuses/token-19cbc1e6-9a94-11ec-a507-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"mode": "readonly", "parent": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries/rootregistry",
      "syncProperties": {"tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/child",
      "schedule": "* * * * *", "messageTtl": [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/child/operationStatuses/token-29b8c782-9a94-11ec-a11a-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/child/operationStatuses/token-29b8c782-9a94-11ec-a11a-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/grandchild?api-version=2020-11-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource grandchild
        could not be found."},"status":"Failed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/grandchild",
      "status": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clire[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/grandchild/operationStatuses/token-29b8c782-9a94-11ec-a11a-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/grandchild/operationStatuses/token-29b8c782-9a94-11ec-a11a-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"mode": "readonly", "parent": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries/child",
      "syncProperties": {"tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/grandchild",
      "schedule": "* * * * *", "messageTtl": "P[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/clientToken2-scope-map?api-version=2020-11-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource clientToken2-scope-map
        could not be found."},"status":"Failed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/clientToken2-scope-map",
      "status": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/regi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/clientToken2/operationStatuses/token-435b362e-9a94-11ec-980e-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/clientToken2/operationStatuses/token-435b362e-9a94-11ec-980e-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/syncToken",
      "name": "password2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/generateCredentials?api-version=2020-11-01-preview
  response:
    body:
      string: '{"username":"syncToken","passwords":[{"creationTime":"2022-03-03T01:50:34.2450122+00:00","name":"password2","value":"j9H=qQH69lC5fjvCvHejtJ7NAREwv/8W"}]}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/grandchild/operationStatuses/token-514d24e6-9a94-11ec-97dd-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/grandchild/operationStatuses/token-514d24e6-9a94-11ec-97dd-40b0343b6fb7?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/EASTUS/operationResults/token-9a88e49c-9a94-11ec-987a-40b0343b6fb7?api-version=2020-11-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2021-08-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-08-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
