interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001","name":"cli_test_acrabac_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_abac_task","date":"2026-04-21T20:51:00Z","module":"acr"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003?api-version=2024-11-30
  response:
    body:
      string: '{"error":{"code":"429","message":"Request is temporarily throttled
        because tenant 72f988bf-86f1-41af-91ab-2d7cd011db47 has issued too many requests.
        Retry after 5 seconds."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003?api-version=2024-11-30
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003","name":"acr000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"61a812a4-c032-4f8c-9290-5704be545ddf","clientId":"573a5852-5497-4b06-8067-5d5f01cffa8a"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false, "roleAssignmentMode": "AbacRepositoryPermissions"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-21T20:51:13.1679774+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-21T20:51:13.1679774+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2026-04-21T20:51:13.1679774Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-04-21T20:51:20.2374272+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-04-21T20:51:20.2374673+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"regionalEndpoints":"Disabled","dataEndpointHostNames":[],"regionalEndpointHostNames":[],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"AbacRepositoryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27573a5852-5497-4b06-8067-5d5f01cffa8a%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"61a812a4-c032-4f8c-9290-5704be545ddf","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003"],"appDisplayName":null,"appDescription":null,"appId":"573a5852-5497-4b06-8067-5d5f01cffa8a","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdByAppId":"ef5d5c69-a5df-46bb-acaf-426f161a21a2","createdDateTime":"2026-04-21T20:51:11Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"acr000003","homepage":null,"isDisabled":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["573a5852-5497-4b06-8067-5d5f01cffa8a","https://identity.azure.net/CqvgPAp91zYhlPTTVadfvO4jnLaaZTHUGgYHJLLFnhU="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"268D4560063256C95F3AD7AEDDC4796A59E69532","displayName":"CN=573a5852-5497-4b06-8067-5d5f01cffa8a","endDateTime":"2026-07-20T20:46:00Z","key":null,"keyId":"f7db6e0e-3c4e-42aa-93bd-499973ebfe16","startDateTime":"2026-04-21T20:46:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 3","Slice":"E","Ring":"2","ScaleUnit":"001","RoleInstance":"PH2PEPF0003558C"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Container%20Registry%20Repository%20Contributor%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Container Registry Repository
        Contributor","type":"BuiltInRole","description":"Allows for read, write, and
        delete access to Azure Container Registry repositories, but excluding catalog
        listing.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.ContainerRegistry/registries/repositories/metadata/read","Microsoft.ContainerRegistry/registries/repositories/content/read","Microsoft.ContainerRegistry/registries/repositories/metadata/write","Microsoft.ContainerRegistry/registries/repositories/content/write","Microsoft.ContainerRegistry/registries/repositories/metadata/delete","Microsoft.ContainerRegistry/registries/repositories/content/delete"],"notDataActions":[]}],"createdOn":"2024-06-05T15:32:11.5848534Z","updatedOn":"2025-10-03T17:14:16.6197074Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c","type":"Microsoft.Authorization/roleDefinitions","name":"2efddaa5-3f1f-4df3-97df-af3f13818f4c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c",
      "principalId": "61a812a4-c032-4f8c-9290-5704be545ddf", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c","principalId":"61a812a4-c032-4f8c-9290-5704be545ddf","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","condition":null,"conditionVersion":null,"createdOn":"2026-04-21T20:51:51.5895359Z","updatedOn":"2026-04-21T20:51:51.9065423Z","createdBy":null,"updatedBy":"68abb7a6-9056-4d60-bf87-3b50a45559cd","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resourcegroupsamesub/providers/Microsoft.ContainerRegistry/registries/sourceregistrysamesubt2lx3scb6coe5efkssu","name":"sourcer[...]
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westus", "properties":
      {"trigger": {"baseImageTrigger": {"baseImageTriggerType": "Runtime", "status":
      "Enabled", "name": "defaultBaseimageTriggerName", "updateTriggerPayloadType":
      "Default"}}, "isSystemTask": false, "step": {"imageNames": ["testtask:v1"],
      "isPushEnabled": true, "noCache": false, "dockerFilePath": "Dockerfile", "arguments":
      [], "contextPath": "https://github.com/Azure-Samples/acr-build-helloworld-node",
      "type": "Docker"}, "status": "Enabled", "timeout": 3600, "platform": {"os":
      "linux", "architecture": "amd64"}, "agentConfiguration": {"cpu": 2}, "credentials":
      {"sourceRegistry": {"identity": "[system]"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","identity":{"principalId":"60eaaad4-01a5-43ae-b95d-e8796ab8708d","te[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask/listDetails?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","identity":{"principalId":"60eaaad4-01a5-43ae-b95d-e8796ab8708d","tenantId":"72f988bf-86f1-41af-91ab-2d7[...]
- request:
    body: '{"taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask",
      "overrideTaskStepProperties": {"arguments": [], "values": []}, "type": "TaskRunRequest"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scheduleRun?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Queued","lastUpdatedTime":"2026-04-21T20:51:58+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-21T20:51:58.5987379+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Queued","lastUpdatedTime":"2026-04-21T20:51:58+00:00","runType":"QuickRun","createTime":"2026-04-21T20:51:58.6895175+00:00","task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-21T20:51:58.5987379+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Failed","lastUpdatedTime":"2026-04-21T20:52:23+00:00","runType":"QuickRun","createTime":"2026-04-21T20:51:58.6895175+00:00","startTime":"2026-04-21T20:51:59.0199877+00:00","finishTime":"2026-04-21T20:52:23.2368318+00:00","task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"runErrorMessage":"failed
        during run, err: exit status 1","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-21T20:51:58.5987379+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"taskrun1\"}, \"taskName\": {\"value\": \"testTask\"},
      \"taskRunId\": {\"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask\"}},
      \"mode\": \"Incremental\", template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for all resources.\"\n
      \     }\n    },\n    \"registryName\": {\n      \"type\": \"string\",\n      \"minLength\":
      5,\n      \"maxLength\": 50,\n      \"metadata\": {\n        \"description\":
      \"Name of your Azure Container Registry\"\n      }\n    },\n    \"taskRunName\":
      {\n      \"type\": \"string\",\n      \"minLength\": 5,\n      \"maxLength\":
      50,\n      \"metadata\": {\n        \"description\": \"Name of your Task Run\"\n
      \     }\n    },\n    \"taskName\": {\n      \"type\": \"string\",\n      \"minLength\":
      5,\n      \"maxLength\": 50,\n      \"metadata\": {\n        \"description\":
      \"Name of the Task to bind task run\"\n      }\n    },\n    \"taskRunId\": {\n
      \     \"type\": \"string\",\n      \"metadata\": {\n        \"description\":
      \"Resource ID of task to bind task run\"\n      },\n      \"defaultValue\":
      \"\"\n    }\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.ContainerRegistry/registries/taskRuns/\",\n
      \     \"name\": \"[concat(parameters('registryName'), '/', parameters('taskRunName'))]\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"apiVersion\": \"2025-03-01-preview\",\n
      \     \"properties\": {\n        \"runRequest\": {\n          \"type\": \"TaskRunRequest\",\n
      \         \"taskName\": \"[parameters('taskName')]\",\n          \"taskId\":
      \"[parameters('taskRunId')]\",\n          \"values\": [],\n          \"timeout\":
      3600,\n          \"platform\": {\n            \"os\": \"linux\",\n            \"architecture\":
      \"amd64\"\n          },\n          \"agentConfiguration\": {\n            \"cpu\":
      2\n          }\n        }\n      }\n    }\n  ],\n  \"outputs\": {\n    \"registry\":
      {\n      \"type\": \"string\",\n      \"value\": \"[parameters('registryName')]\"\n
      \   }\n  }\n}\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/task_abac_taskrun_manualrun","name":"task_abac_taskrun_manualrun","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7645787250009810753","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"taskrun1"},"taskName":{"type":"String","value":"testTask"},"taskRunId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask"}},"extensions":[],"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-04-21T20:52:29.8452552Z","duration":"PT0S","correlationId":"a5df071d-8391-4e2f-bd7f-bada5db064cd","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"taskrun1\"}, \"taskName\": {\"value\": \"testTask\"},
      \"taskRunId\": {\"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask\"}},
      \"mode\": \"Incremental\", template:{\n  \"$schema\": \"https://schema.management.azure.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584248021348673998?api-version=2025-04-01&t=639124015511318922&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1ND[...]
[...]
- request:
    body: '{"ids": ["60eaaad4-01a5-43ae-b95d-e8796ab8708d"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"60eaaad4-01a5-43ae-b95d-e8796ab8708d","deletedDateTime":null,"accountEnabled":true,"alternat[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf3?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf3","status":"Succeeded","lastUpdatedTime":"2026-04-21T20:55:18+00:00","runType":"QuickRun","createTime":"2026-04-21T20:54:51.3538449+00:00","startTime":"2026-04-21T20:54:51.9717041+00:00","finishTime":"2026-04-21T20:55:18.2416787+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"testtask","tag":"v1","digest":"sha256:f9d0ca7162ff3f67a9fdf4bd922dec3b116e1e740d2025abbebb1b0514de5112"}],"task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf3","name":"cf3","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-21T20:54:51.2649855+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584248019620701895?api-version=2025-04-01&t=639124017249009201&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1ND[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/task_abac_taskrun_manualrun","name":"task_abac_taskrun_manualrun","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7645787250009810753","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"taskrun1"},"taskName":{"type":"String","value":"testTask"},"taskRunId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask"}},"extensions":[],"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-04-21T20:55:56.0761989Z","duration":"PT32.675342S","correlationId":"836fb680-751e-468d-8f5a-97800b102136","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"outputs":{"registry":{"type":"String","value":"clireg000002"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1","resourceType":"Microsoft.ContainerRegistry/registries/taskRuns"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"TaskRunRequest","taskId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask"},"runResult":{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf4","status":"Succeeded","lastUpdatedTime":"2026-04-21T20:55:46+00:00","runType":"QuickRun","createTime":"2026-04-21T20:55:25.4254251+00:00","startTime":"2026-04-21T20:55:26.0829304+00:00","finishTime":"2026-04-21T20:55:46.5250409+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"testtask","tag":"v1","digest":"sha256:b1fe04ca9c505e2be3fdb2ff0e976cb8aa19f1d779598286ea8b2a368cfd297a"}],"task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf4","name":"cf4"}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1","name":"taskrun1","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-04-21T20:55:25.3336928+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-04-21T20:55:25.3336928+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
[...]
