interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/testkey000003/85d974a717944eebba4a4b755dc12563","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"sgZiClaSl9HbuPZN618LUPLHjmAeBEKA-l4xxNJkfWq-1QvZeraeG5N15o4pGHpjvBGQWLXtH7gzwfqxAZqxYSIjPGY6VxOMoyvjFBwCMc1CJRBsSKdJkhfujjqhtKf5CGK3fWYo0JZJgPUFFCiCiR97ZUSWfQ4rNeFZH9bn0np7ovCeeQ1T0Vc0GiJe7RQlZ-Pk4YGkAcORPDs1yQ4M1VSvh2kcuLTJLeCeqh9X88F5NhBh-HvSfiFqEy2tTUjfpCcpA8Joy9L8AOzIrbznbJ8jE1XQG_AeN1tc-NnDrOVypVJXRaiTDwS7Q6jPIDEtODSB2MpFihFJZT0YpFahEQ","e":"AQAB"},"attributes":{"enabled":true,"created":1743114619,"updated":1743114619,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_encryption_with_cmk","date":"2025-03-27T22:29:33Z","module":"acr"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005","name":"testidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"ad347386-2bad-468d-ac71-c4fe78e78e94","clientId":"26c75070-4ec5-4394-9a23-c358a9565787"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27ad347386-2bad-468d-ac71-c4fe78e78e94%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"MW2PEPF0000E057"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["ad347386-2bad-468d-ac71-c4fe78e78e94"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"ad347386-2bad-468d-ac71-c4fe78e78e94","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005"],"appDisplayName":null,"appDescription":null,"appId":"26c75070-4ec5-4394-9a23-c358a9565787","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2025-03-27T22:30:22Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"testidentity000005","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["26c75070-4ec5-4394-9a23-c358a9565787","https://identity.azure.net/aZU66MrBxSOlz3TqBEShl0LcTMkMB+Todus8yX+c6GM="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"EF63F5E69E953893D7AF5D42E9604A7090622FCB","displayName":"CN=26c75070-4ec5-4394-9a23-c358a9565787","endDateTime":"2025-06-25T22:25:00Z","key":null,"keyId":"79bd6d63-3052-4364-999a-95dd59467419","startDateTime":"2025-03-27T22:25:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      location:
      - https://graph.microsoft.com/
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"MWH0EPF0005A6B5"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Crypto%20Service%20Encryption%20User%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Crypto Service Encryption
        User","type":"BuiltInRole","description":"Read metadata of keys and perform
        wrap/unwrap operations. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.EventGrid/eventSubscriptions/write","Microsoft.EventGrid/eventSubscriptions/read","Microsoft.EventGrid/eventSubscriptions/delete"],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/keys/read","Microsoft.KeyVault/vaults/keys/wrap/action","Microsoft.KeyVault/vaults/keys/unwrap/action"],"notDataActions":[]}],"createdOn":"2020-05-20T20:55:19.2398470Z","updatedOn":"2021-11-11T20:14:31.8443056Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e147488a-f6f5-4113-8e2d-b22465e65bf6","type":"Microsoft.Authorization/roleDefinitions","name":"e147488a-f6f5-4113-8e2d-b22465e65bf6"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e147488a-f6f5-4113-8e2d-b22465e65bf6",
      "principalId": "ad347386-2bad-468d-ac71-c4fe78e78e94", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Authorization/roleAssignments/cd1571f0-0dcc-4a85-9b7f-a2b2eb5f8388?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e147488a-f6f5-4113-8e2d-b22465e65bf6","principalId":"ad347386-2bad-468d-ac71-c4fe78e78e94","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002","condition":null,"conditionVersion":null,"createdOn":"2025-03-27T22:30:39.7488667Z","updatedOn":"2025-03-27T22:30:39.9068667Z","createdBy":null,"updatedBy":"1cf15f1f-c610-4e5c-b680-970697d1bbba","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000002/providers/Microsoft.Authorization/roleAssignments/cd1571f0-0dcc-4a85-9b7f-a2b2eb5f8388","type":"Microsoft.Authorization/roleAssignments","name":"cd1571f0-0dcc-4a85-9b7f-a2b2eb5f8388"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Premium"}, "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":
      {}}}, "properties": {"adminUserEnabled": false, "encryption": {"status": "enabled",
      "keyVaultProperties": {"keyIdentifier": "https://clitest000002.vault.azure.net/keys/testkey000003/85d974a717944eebba4a4b755dc12563",
      "identity": "26c75070-4ec5-4394-9a23-c358a9565787"}}, "anonymousPullEnabled":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006?api-version=2024-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","identity":{"type":"userAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testidentity000005":{"principalId":"ad347386-2bad-468d-ac71-c4fe78e78e94","clientId":"26c75070-4ec5-4394-9a23-c358a9565787"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006","name":"testreg000006","location":"westus","tags":{},"systemData":{"createdBy":"trisavo@microsoft.com","createdByType":"User","createdAt":"2025-03-27T22:30:51.1111904+00:00","lastModifiedBy":"trisavo@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-27T22:30:51.1111904+00:00"},"properties":{"loginServer":"testreg000006.azurecr.io","creationDate":"2025-03-27T22:30:51.1111904Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2025-03-27T22:31:00.8247667+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2025-03-27T22:31:00.8248171+00:00","status":"disabled"}},"encryption":{"status":"enabled","keyVaultProperties":{"keyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/85d974a717944eebba4a4b755dc12563","versionedKeyIdentifier":"https://clitest000002.vault.azure.net/keys/testkey000003/85d974a717944eebba4a4b755dc12563","identity":"26c75070-4ec5-4394-9a23-c358a9565787","keyRotationEnabled":false}},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2024-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-21c7b91d-0b5b-11f0-9c0d-000d3a06bba1?api-version=2024-11-01-preview&t=638787114610176115&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-21c7b91d-0b5b-11f0-9c0d-000d3a06bba1?api-version=2024-11-01-preview&t=638787114610176115&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/rotatekey000004/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/rotatekey000004/37437cebbf9a468a82c6fb014313b352","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1NBiPjCZgI0_JgqjzZ4Bypx8TldvyJvXjtCU0nUh2dVxkHCVB1huR_ojD1TLTLGqb-Gg_B4xUOZpQQXLOmjHsr_TaZrXSFIzEcN-IveyBmc3GHNGMYPorpjDkCHf9ZQqIkst87bQnRh9LDmUsaHHSGwx9C88SMfkZNNij92BHywkHmeCn0jPO8beVXPT4UmNBz5JyYxNE0wRXp19VpSQLyi0vdnCI_lzU0vxWYOVWciI_IqqtFviwj6aUJMUwIpxDS6nxFGH6nSH0GyYVAZrB8GTUB8VeIooTShLRahKdLFOPbvDOwTGWKb0x2TuE3-qxi1deyN7AnVsiiPdUL6uxQ","e":"AQAB"},"attributes":{"enabled":true,"created":1743114662,"updated":1743114662,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/testreg000006/operationStatuses/registries-2a581c7b-0b5b-11f0-b90a-000d3a06bba1?api-version=2024-11-01-preview&t=638787114678174091&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
