interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Premium"}, "properties": {"adminUserEnabled":
      false, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2025-03-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"eastus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-06-16T20:13:22.2471038+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-16T20:13:22.2471038+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2025-06-16T20:13:22.2471038Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2025-06-16T20:13:30.2972883+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2025-06-16T20:13:30.2973332+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2025-03-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-595dcdc3-4aee-11f0-88c1-000d3a13a671?api-version=2025-03-01-preview&t=638857016104821135&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE3MDcxODAyWhcNMjUxMDE0MDcxODAyWjBAMT4wPAYD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-595dcdc3-4aee-11f0-88c1-000d3a13a671?api-version=2025-03-01-preview&t=638857016104821135&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/joshbaunach-acr-tutorial/providers/Microsoft.ContainerRegistry/registries/joshbaunachacrtutorialregistry074","name":"joshbaunachacrtutorialregistry074","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2022-07-05T20:19:51.6847181Z","lastModifiedBy":"test@example.com","lastModif[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-5f60e468-4aee-11f0-b738-000d3a13a671?api-version=2025-03-01-preview&t=638857016137644157&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/connectedregistry?api-version=2024-11-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource connectedregistry
        could not be found."},"status":"Failed"}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview, 2022-02-01-preview, 2022-12-01, 2023-01-01-preview, 2023-06-01-preview,
        2023-07-01, 2023-08-01-preview, 2023-11-01-preview, 2024-01-01-preview, 2024-11-01-preview,
        2025-03-01-preview, 2025-04-01, 2025-05-01-preview, 2025-09-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"actions": ["repositories/repo1/content/read", "repositories/repo1/content/write",
      "repositories/repo1/content/delete", "repositories/repo1/metadata/read", "repositories/repo1/metadata/write",
      "repositories/repo2/content/read", "repositories/repo2/content/write", "repositories/repo2/content/delete",
      "repositories/repo2/metadata/read", "repositories/repo2/metadata/write", "repositories/repo3/content/read",
      "repositories/repo3/content/write", "repositories/repo3/content/delete", "rep[...]
- request:
    body: '{"properties": {"scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/connectedregistry",
      "status": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry?api-version=2024-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tokens","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry","name":"connectedregistry","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-06-16T20:13:35.1944304+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-16T20:13:35.1944304+00:00"},"properties":{"creationDate":"2025-06-16T20:13:35.2837752+00:00","provisioningState":"Creating","scopeMapId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scopeMaps/connectedregistry","credentials":{"passwords":[]},"status":"enabled"}}'
    headers:
      api-supported-versions:
      - 2019-05-01-preview, 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview,
        2021-12-01-preview, 2022-02-01-preview, 2022-12-01, 2023-01-01-preview, 2023-06-01-preview,
        2023-07-01, 2023-08-01-preview, 2023-11-01-preview, 2024-01-01-preview, 2024-11-01-preview,
        2025-03-01-preview, 2025-04-01, 2025-05-01-preview, 2025-09-01-preview
      azure-asyncoperation:
      - https://management.azure.com[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry/operationStatuses/token-5f60e468-4aee-11f0-b738-000d3a13a671?api-version=2024-11-01-preview&t=638857016154288243&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU[...]
[...]
- request:
    body: '{"properties": {"mode": "readwrite", "parent": {"syncProperties": {"tokenId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry",
      "schedule": "* * * * *", "messageTtl": "P2D"}}, "logging": {"logLevel": "Information",
      "auditLogStatus": "Disabled"}, "garbageCollection": {"enabled": false, "schedule":
      "0 0 * * *"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries/connectedregistry?api-version=2025-04-01
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/connectedRegistries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/connectedRegistries/connectedregistry","name":"connectedregistry","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-06-16T20:13:36.9102956+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-16T20:13:36.9102956+00:00"},"properties":{"provisioningState":"Succeeded","mode":"ReadWrite","connectionState":"Offline","activation":{"status":"Inactive"},"parent":{"syncProperties":{"tokenId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tokens/connectedregistry","schedule":"*
        * * * *","messageTtl":"P2D","gatewayEndpoint":"clireg000002.eastus.data.azurecr.io"}},"loginServer":{"tls":{"certificate":{}}},"logging":{"logLevel":"Information","auditLogStatus":"Disabled"},"garbageCollection":{"enabled":false,"schedule":"0
        0 * * *"}}}'
    headers:
      api-supported-versions:
      - 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-12-01-preview,
        2022-02-01-preview, 2023-01-01-preview, 2023-06-01-preview, 2023-08-01-preview,
        2023-11-01-preview, 2024-01-01-preview, 2024-11-01-preview, 2025-03-01-preview,
        2025-04-01, 2025-05-01-preview, 2025-09-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2025-03-01-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2025-03-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
