interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001","name":"cli_test_acrabac_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_acr_abac_task","date":"2025-07-07T08:03:07Z","module":"acr"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003","name":"acr000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"3c5181f9-bb16-4998-96bd-da5bd950cbba","clientId":"cd94c2c7-fc57-4239-8553-c3432572d1d6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false, "anonymousPullEnabled": false, "roleAssignmentMode": "AbacRepositoryPermissions"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2025-03-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-07T08:03:19.4632236+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T08:03:19.4632236+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2025-07-07T08:03:19.4632236Z","provisioningState":"Creating","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2025-07-07T08:03:27.3944204+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2025-07-07T08:03:27.3944542+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"AbacRepositoryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2025-03-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-d73c50fa-5b08-11f0-8f96-644ed7a2823f?api-version=2025-03-01-preview&t=638874722078074291&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-d73c50fa-5b08-11f0-8f96-644ed7a2823f?api-version=2025-03-01-preview&t=638874722078074291&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27cd94c2c7-fc57-4239-8553-c3432572d1d6%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"3c5181f9-bb16-4998-96bd-da5bd950cbba","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acr000003"],"appDisplayName":null,"appDescription":null,"appId":"cd94c2c7-fc57-4239-8553-c3432572d1d6","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2025-07-07T08:03:16Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"acr000003","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["cd94c2c7-fc57-4239-8553-c3432572d1d6","https://identity.azure.net/hT8TmJUY/IADNj7mVRzxfWBg99+PQUq8RuYEOvGKPdo="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"FE2076A87B896A6B724030DAA234BCC4CE1FAD66","displayName":"CN=cd94c2c7-fc57-4239-8553-c3432572d1d6,
        DC=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","endDateTime":"2025-10-05T07:58:00Z","key":null,"keyId":"e38a91ab-706b-4567-a09d-ee8b8d9efab0","startDateTime":"2025-07-07T07:58:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"TY1PEPF00017178"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Container%20Registry%20Repository%20Contributor%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Container Registry Repository
        Contributor","type":"BuiltInRole","description":"Allows for read, write, and
        delete access to Azure Container Registry repositories, but excluding catalog
        listing. This role is in preview and subject to change.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.ContainerRegistry/registries/repositories/metadata/read","Microsoft.ContainerRegistry/registries/repositories/content/read","Microsoft.ContainerRegistry/registries/repositories/metadata/write","Microsoft.ContainerRegistry/registries/repositories/content/write","Microsoft.ContainerRegistry/registries/repositories/metadata/delete","Microsoft.ContainerRegistry/registries/repositories/content/delete"],"notDataActions":[]}],"createdOn":"2024-06-04T15:21:46.0883585Z","updatedOn":"2024-08-16T03:51:07.7001115Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c","type":"Microsoft.Authorization/roleDefinitions","name":"2efddaa5-3f1f-4df3-97df-af3f13818f4c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c",
      "principalId": "3c5181f9-bb16-4998-96bd-da5bd950cbba", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2efddaa5-3f1f-4df3-97df-af3f13818f4c","principalId":"3c5181f9-bb16-4998-96bd-da5bd950cbba","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","condition":null,"conditionVersion":null,"createdOn":"2025-07-07T08:03:39.9461701Z","updatedOn":"2025-07-07T08:03:41.0421833Z","createdBy":null,"updatedBy":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2025-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg4oy2f2b6fj7hc33q465gnibwxo5p44ly5cj33nr5jpqulsd6dlpdvxjf65qbb2bkk/providers/Microsoft.ContainerRegistry/registries/cl[...]
[...]
- request:
    body: '{"location": "westus", "identity": {"type": "SystemAssigned"}, "properties":
      {"status": "Enabled", "platform": {"os": "linux", "architecture": "amd64"},
      "agentConfiguration": {"cpu": 2}, "timeout": 3600, "step": {"type": "Docker",
      "contextPath": "https://github.com/Azure-Samples/acr-build-helloworld-node",
      "imageNames": ["testtask:v1"], "isPushEnabled": true, "noCache": false, "dockerFilePath":
      "Dockerfile", "arguments": []}, "trigger": {"baseImageTrigger": {"baseImageTriggerType":
      "Runtime", "updateTriggerPayloadType": "Default", "status": "Enabled", "name":
      "defaultBaseimageTriggerName"}}, "credentials": {"sourceRegistry": {"identity":
      "[system]"}}, "isSystemTask": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","identity":{"principalId":"ca6957f5-356f-4358-95e6-37e7a8d8e085","tenantId":"54826b22-38[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask/listDetails?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/tasks","identity":{"principalId":"ca6957f5-356f-4358-95e6-37e7a8d8e085","tenantId":"54826b22-38d6-4fb2-bad9-b7b[...]
- request:
    body: '{"type": "TaskRunRequest", "isArchiveEnabled": false, "taskId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask",
      "overrideTaskStepProperties": {"arguments": [], "values": []}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/scheduleRun?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Queued","lastUpdatedTime":"2025-07-07T08:03:53+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T08:03:53.2434221+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Running","lastUpdatedTime":"2025-07-07T08:03:53+00:00","runType":"QuickRun","createTime":"2025-07-07T08:03:53.3591343+00:00","startTime":"2025-07-07T08:03:53.7385132+00:00","task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T08:03:53.2434221+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Failed","lastUpdatedTime":"2025-07-07T08:04:13+00:00","runType":"QuickRun","createTime":"2025-07-07T08:03:53.3591343+00:00","startTime":"2025-07-07T08:03:53.7385132+00:00","finishTime":"2025-07-07T08:04:13.3531133+00:00","task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"runErrorMessage":"failed
        during run, err: exit status 1","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T08:03:53.2434221+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"taskrun1\"}, \"taskName\": {\"value\": \"testTask\"},
      \"taskRunId\": {\"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask\"}},
      \"mode\": \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"location\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"[resourceGroup().location]\",\r\n
      \     \"metadata\": {\r\n        \"description\": \"Location for all resources.\"\r\n
      \     }\r\n    },\r\n    \"registryName\": {\r\n      \"type\": \"string\",\r\n
      \     \"minLength\": 5,\r\n      \"maxLength\": 50,\r\n      \"metadata\": {\r\n
      \       \"description\": \"Name of your Azure Container Registry\"\r\n      }\r\n
      \   },\r\n    \"taskRunName\": {\r\n      \"type\": \"string\",\r\n      \"minLength\":
      5,\r\n      \"maxLength\": 50,\r\n      \"metadata\": {\r\n        \"description\":
      \"Name of your Task Run\"\r\n      }\r\n    },\r\n    \"taskName\": {\r\n      \"type\":
      \"string\",\r\n      \"minLength\": 5,\r\n      \"maxLength\": 50,\r\n      \"metadata\":
      {\r\n        \"description\": \"Name of the Task to bind task run\"\r\n      }\r\n
      \   },\r\n    \"taskRunId\": {\r\n      \"type\": \"string\",\r\n      \"metadata\":
      {\r\n        \"description\": \"Resource ID of task to bind task run\"\r\n      },\r\n
      \     \"defaultValue\": \"\"\r\n    }\r\n  },\r\n  \"resources\": [\r\n    {\r\n
      \     \"type\": \"Microsoft.ContainerRegistry/registries/taskRuns/\",\r\n      \"name\":
      \"[concat(parameters('registryName'), '/', parameters('taskRunName'))]\",\r\n
      \     \"location\": \"[parameters('location')]\",\r\n      \"apiVersion\": \"2025-03-01-preview\",\r\n
      \     \"properties\": {\r\n        \"runRequest\": {\r\n          \"type\":
      \"TaskRunRequest\",\r\n          \"taskName\": \"[parameters('taskName')]\",\r\n
      \         \"taskId\": \"[parameters('taskRunId')]\",\r\n          \"values\":
      [],\r\n          \"timeout\": 3600,\r\n          \"platform\": {\r\n            \"os\":
      \"linux\",\r\n            \"architecture\": \"amd64\"\r\n          },\r\n          \"agentConfiguration\":
      {\r\n            \"cpu\": 2\r\n          }\r\n        }\r\n      }\r\n    }\r\n
      \ ],\r\n  \"outputs\": {\r\n    \"registry\": {\r\n      \"type\": \"string\",\r\n
      \     \"value\": \"[parameters('registryName')]\"\r\n    }\r\n  }\r\n}\r\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/task_abac_taskrun_manualrun","name":"task_abac_taskrun_manualrun","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7645787250009810753","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"taskrun1"},"taskName":{"type":"String","value":"testTask"},"taskRunId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-07-07T08:04:28.9432693Z","duration":"PT0S","correlationId":"831461f7-a6f3-443a-a46e-33843e8dcfe2","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"taskrun1\"}, \"taskName\": {\"value\": \"testTask\"},
      \"taskRunId\": {\"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask\"}},
      \"mode\": \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584497314137015670?api-version=2025-04-01&t=638874722752544215&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MD[...]
[...]
- request:
    body: '{"ids": ["ca6957f5-356f-4358-95e6-37e7a8d8e085"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"ca6957f5-356f-4358-95e6-37e7a8d8e085","deletedDateTime":null,"accountEnabled":true,"alternat[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf3?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf3","status":"Succeeded","lastUpdatedTime":"2025-07-07T08:06:35+00:00","runType":"QuickRun","createTime":"2025-07-07T08:06:11.340915+00:00","startTime":"2025-07-07T08:06:11.6445038+00:00","finishTime":"2025-07-07T08:06:35.34071+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"testtask","tag":"v1","digest":"sha256:52f1a4ae164f804ea9287cd2c21b7a7d65aebbc7dcd372cc4575fb43ed655910"}],"task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf3","name":"cf3","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T08:06:10.9682472+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584497312766150390?api-version=2025-04-01&t=638874724131377269&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.Resources/deployments/task_abac_taskrun_manualrun","name":"task_abac_taskrun_manualrun","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7645787250009810753","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"taskrun1"},"taskName":{"type":"String","value":"testTask"},"taskRunId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-07-07T08:07:30.359519Z","duration":"PT41.5030968S","correlationId":"ab4d4f95-b86e-4d17-9825-78794962ff15","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"outputs":{"registry":{"type":"String","value":"clireg000002"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1?api-version=2025-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"TaskRunRequest","taskId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/tasks/testTask"},"runResult":{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf4","status":"Succeeded","lastUpdatedTime":"2025-07-07T08:07:13+00:00","runType":"QuickRun","createTime":"2025-07-07T08:06:54.1482526+00:00","startTime":"2025-07-07T08:06:54.4021183+00:00","finishTime":"2025-07-07T08:07:13.3244332+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"testtask","tag":"v1","digest":"sha256:6b53485af204556304174c1a83273b793ca741f190a978daa9205495f8f35b11"}],"task":"testTask","platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf4","name":"cf4"}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrabac_000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/taskrun1","name":"taskrun1","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-07T08:06:54.0958537+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T08:06:54.0958537+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
[...]
