interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2019-12-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"savaradh@microsoft.com","createdByType":"User","createdAt":"2020-09-24T20:51:55.1839014+00:00","lastModifiedBy":"savaradh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-09-24T20:51:55.1839014+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2020-09-24T20:51:55.1839014Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2020-09-24T20:52:06.0853498+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"\
      }, \"taskRunName\": {\"value\": \"testTaskRun\"}, \"sourceLocation\": {\"value\"\
      : \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\"}, \"dockerFilePath\"\
      : {\"value\": \"Dockerfile\"}, \"image\": {\"value\": \"testtaskrun:v1\"}},\
      \ \"mode\": \"Incremental\", template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\"\
      ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\"\
      : {\n      \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\"\
      ,\n      \"metadata\": {\n        \"description\": \"Location for all resources.\"\
      \n      }\n    },\n    \"registryName\": {\n      \"type\": \"string\",\n  \
      \    \"minLength\": 5,\n      \"maxLength\": 50,\n      \"metadata\": {\n  \
      \      \"description\": \"Name of your Azure Container Registry\"\n      }\n\
      \    },\n    \"taskRunName\": {\n      \"type\": \"string\",\n      \"minLength\"\
      : 5,\n      \"maxLength\": 50,\n      \"metadata\": {\n        \"description\"\
      : \"Name of your Task Run and tag generated\"\n      }\n    },\n    \"sourceLocation\"\
      : {\n      \"type\": \"string\",\n\t  \"defaultValue\": \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\"\
      ,\n      \"metadata\": {\n        \"description\": \"Source Location\"\n   \
      \   }\n    },\n    \"dockerFilePath\": {\n      \"type\": \"string\",\n\t  \
      \  \"defaultValue\": \"Dockerfile\",\n      \"metadata\": {\n        \"description\"\
      : \"Name of dockerFile\"\n      }\n    },\n    \"image\": {\n      \"type\"\
      : \"string\",\n\t  \"defaultValue\": \"mytest:v1\",\n      \"metadata\": {\n\
      \        \"description\": \"Image name\"\n      }\n    }\t\n  },\n  \"resources\"\
      : [\n    {\n      \"type\": \"Microsoft.ContainerRegistry/registries/taskRuns/\"\
      ,\n      \"name\": \"[concat(parameters('registryName'), '/', parameters('taskRunName'))]\"\
      ,\n      \"location\": \"[parameters('location')]\",\n      \"apiVersion\":\
      \ \"2019-06-01-preview\",\n      \"properties\": {\n          \"runRequest\"\
      : {\n            \"type\": \"DockerBuildRequest\",\n            \"imageNames\"\
      : [\n                \"[parameters('image')]\"\n            ],\n           \
      \ \"sourceLocation\": \"[parameters('sourceLocation')]\",\n            \"dockerFilePath\"\
      : \"[parameters('dockerFilePath')]\",\n            \"values\": [],\n       \
      \     \"isPushEnabled\": true,\n            \"platform\": {\n              \
      \  \"os\": \"linux\",\n                \"architecture\": \"amd64\"\n       \
      \     },\n            \"credentials\": {}\n        }\n      }\n    }\n  ],\n\
      \  \"outputs\": {\n    \"taskRunName\": {\n      \"type\": \"string\",\n   \
      \   \"value\": \"[parameters('taskRunName')]\"\n    }\n  }\n}\n}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/taskrunquickbuildsample","name":"taskrunquickbuildsample","type":"Microsoft.Resources/deployments","properties":{"templateHash":"13112214626039113742","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"testTaskRun"},"sourceLocation":{"type":"String","value":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"dockerFilePath":{"type":"String","value":"Dockerfile"},"image":{"type":"String","value":"testtaskrun:v1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-09-24T20:52:07.0833465Z","duration":"PT0S","correlationId":"0a1d4c50-9809-445c-adcd-f3549deefd15","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"\
      }, \"taskRunName\": {\"value\": \"testTaskRun\"}, \"sourceLocation\": {\"value\"\
      : \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\"}, \"dockerFilePath\"\
      : {\"value\": \"Dockerfile\"}, \"image\": {\"value\": \"testtaskrun:v1\"}},\
      \ \"mode\": \"Incremental\", template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deployme[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586006261580028683?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/taskrunquickbuildsample","name":"taskrunquickbuildsample","type":"Microsoft.Resources/deployments","properties":{"templateHash":"13112214626039113742","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"testTaskRun"},"sourceLocation":{"type":"String","value":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"dockerFilePath":{"type":"String","value":"Dockerfile"},"image":{"type":"String","value":"testtaskrun:v1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-09-24T20:52:45.1519481Z","duration":"PT37.6771974S","correlationId":"34fa10e4-b09f-45bd-a09a-2fe2e72dd443","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"outputs":{"taskRunName":{"type":"String","value":"testTaskRun"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"DockerBuildRequest","imageNames":["testtaskrun:v1"],"isPushEnabled":true,"noCache":false,"dockerFilePath":"Dockerfile","platform":{"os":"linux","architecture":"amd64"},"sourceLocation":"https://github.com/Azure-Samples/acr-build-helloworld-node.git","isArchiveEnabled":true},"runResult":{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Succeeded","lastUpdatedTime":"2020-09-24T20:52:38+00:00","runType":"QuickRun","createTime":"2020-09-24T20:52:09.6642261+00:00","startTime":"2020-09-24T20:52:09.9196114+00:00","finishTime":"2020-09-24T20:52:38.6748839+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"testtaskrun","tag":"v1","digest":"sha256:bd0d87b80cebdfe70296bdf15575c413f34a6e5be83d5bfd64c7c383f59e7dd5"}],"platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":true},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1"}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun","name":"testTaskRun","systemData":{"createdBy":"savaradh@microsoft.com","createdByType":"User","createdAt":"2020-09-24T20:52:09.3020785+00:00","lastModifiedBy":"savaradh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-09-24T20:52:09.3020785+00:00"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"DockerBuildRequest","imageNames":["testtaskrun:[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun?api-version=2019-06-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
