interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002?api-version=2020-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002","name":"clireg000002","location":"westus","tags":{},"systemData":{"createdBy":"8c41a920-007a-4844-a189-2d0efe39f51e","createdByType":"Application","createdAt":"2021-07-12T08:56:57.8771992+00:00","lastModifiedBy":"8c41a920-007a-4844-a189-2d0efe39f51e","lastModifiedByType":"Application","lastModifiedAt":"2021-07-12T08:56:57.8771992+00:00"},"properties":{"loginServer":"clireg000002.azurecr.io","creationDate":"2021-07-12T08:56:57.8771992Z","provisioningState":"Creating","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2021-07-12T08:56:59.83325+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-19bf950b-e2ef-11eb-9f8d-f48e389cc17c?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-19bf950b-e2ef-11eb-9f8d-f48e389cc17c?api-version=2020-11-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/operationStatuses/registries-19bf950b-e2ef-11eb-9f8d-f48e389cc17c?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"testTaskRun\"}, \"sourceLocation\": {\"value\":
      \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\"}, \"dockerFilePath\":
      {\"value\": \"Dockerfile\"}, \"image\": {\"value\": \"testtaskrun:v1\"}}, \"mode\":
      \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"location\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"[resourceGroup().location]\",\r\n
      \     \"metadata\": {\r\n        \"description\": \"Location for all resources.\"\r\n
      \     }\r\n    },\r\n    \"registryName\": {\r\n      \"type\": \"string\",\r\n
      \     \"minLength\": 5,\r\n      \"maxLength\": 50,\r\n      \"metadata\": {\r\n
      \       \"description\": \"Name of your Azure Container Registry\"\r\n      }\r\n
      \   },\r\n    \"taskRunName\": {\r\n      \"type\": \"string\",\r\n      \"minLength\":
      5,\r\n      \"maxLength\": 50,\r\n      \"metadata\": {\r\n        \"description\":
      \"Name of your Task Run and tag generated\"\r\n      }\r\n    },\r\n    \"sourceLocation\":
      {\r\n      \"type\": \"string\",\r\n\t  \"defaultValue\": \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\",\r\n
      \     \"metadata\": {\r\n        \"description\": \"Source Location\"\r\n      }\r\n
      \   },\r\n    \"dockerFilePath\": {\r\n      \"type\": \"string\",\r\n\t    \"defaultValue\":
      \"Dockerfile\",\r\n      \"metadata\": {\r\n        \"description\": \"Name
      of dockerFile\"\r\n      }\r\n    },\r\n    \"image\": {\r\n      \"type\":
      \"string\",\r\n\t  \"defaultValue\": \"mytest:v1\",\r\n      \"metadata\": {\r\n
      \       \"description\": \"Image name\"\r\n      }\r\n    }\t\r\n  },\r\n  \"resources\":
      [\r\n    {\r\n      \"type\": \"Microsoft.ContainerRegistry/registries/taskRuns/\",\r\n
      \     \"name\": \"[concat(parameters('registryName'), '/', parameters('taskRunName'))]\",\r\n
      \     \"location\": \"[parameters('location')]\",\r\n      \"apiVersion\": \"2019-06-01-preview\",\r\n
      \     \"properties\": {\r\n          \"runRequest\": {\r\n            \"type\":
      \"DockerBuildRequest\",\r\n            \"imageNames\": [\r\n                \"[parameters('image')]\"\r\n
      \           ],\r\n            \"sourceLocation\": \"[parameters('sourceLocation')]\",\r\n
      \           \"dockerFilePath\": \"[parameters('dockerFilePath')]\",\r\n            \"values\":
      [],\r\n            \"isPushEnabled\": true,\r\n            \"platform\": {\r\n
      \               \"os\": \"linux\",\r\n                \"architecture\": \"amd64\"\r\n
      \           },\r\n            \"credentials\": {}\r\n        }\r\n      }\r\n
      \   }\r\n  ],\r\n  \"outputs\": {\r\n    \"taskRunName\": {\r\n      \"type\":
      \"string\",\r\n      \"value\": \"[parameters('taskRunName')]\"\r\n    }\r\n
      \ }\r\n}\r\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/taskrunquickbuildsample","name":"taskrunquickbuildsample","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17630739476866960417","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"testTaskRun"},"sourceLocation":{"type":"String","value":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"dockerFilePath":{"type":"String","value":"Dockerfile"},"image":{"type":"String","value":"testtaskrun:v1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-07-12T08:57:15.2572632Z","duration":"PT0S","correlationId":"cd121501-6906-49c1-8221-1681f1ec55a3","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"registryName\": {\"value\": \"clireg000002\"},
      \"taskRunName\": {\"value\": \"testTaskRun\"}, \"sourceLocation\": {\"value\":
      \"https://github.com/Azure-Samples/acr-build-helloworld-node.git\"}, \"dockerFilePath\":
      {\"value\": \"Dockerfile\"}, \"image\": {\"value\": \"testtaskrun:v1\"}}, \"mode\":
      \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTempl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585755266486922557?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/taskrunquickbuildsample","name":"taskrunquickbuildsample","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17630739476866960417","parameters":{"location":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"clireg000002"},"taskRunName":{"type":"String","value":"testTaskRun"},"sourceLocation":{"type":"String","value":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"dockerFilePath":{"type":"String","value":"Dockerfile"},"image":{"type":"String","value":"testtaskrun:v1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-07-12T08:58:30.1296877Z","duration":"PT1M13.3443156S","correlationId":"f97f097c-90cf-430e-acb2-0554cc240aec","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries/taskRuns","locations":["westus"]}]}],"dependencies":[],"outputs":{"taskRunName":{"type":"String","value":"testTaskRun"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"DockerBuildRequest","imageNames":["testtaskrun:v1"],"isPushEnabled":true,"noCache":false,"dockerFilePath":"Dockerfile","platform":{"os":"linux","architecture":"amd64"},"sourceLocation":"https://github.com/Azure-Samples/acr-build-helloworld-node.git"},"runResult":{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"cf1","status":"Succeeded","lastUpdatedTime":"2021-07-12T08:58:00+00:00","runType":"QuickRun","createTime":"2021-07-12T08:57:22.5563935+00:00","startTime":"2021-07-12T08:57:22.7743923+00:00","finishTime":"2021-07-12T08:58:00.6538516+00:00","outputImages":[{"registry":"clireg000002.azurecr.io","repository":"testtaskrun","tag":"v1","digest":"sha256:80c598325b927acd22d085643ca1bd537253da17e45ea7786f89eb18e83f58a0"}],"platform":{"os":"linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/runs/cf1","name":"cf1"}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun","name":"testTaskRun","systemData":{"createdBy":"8c41a920-007a-4844-a189-2d0efe39f51e","createdByType":"Application","createdAt":"2021-07-12T08:57:21.3355324+00:00","lastModifiedBy":"8c41a920-007a-4844-a189-2d0efe39f51e","lastModifiedByType":"Application","lastModifiedAt":"2021-07-12T08:57:21.3355324+00:00"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/taskRuns","properties":{"provisioningState":"Succeeded","runRequest":{"type":"DockerBuildRequest","imageNames":["testtaskrun:[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000002/taskRuns/testTaskRun?api-version=2019-06-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
