interactions:
- request:
    body: null
    headers:
      return-client-request-id: ['true']
      x-client-CPU: [x86]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [0.5.0]
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body: {string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/common/.well-known/openid-configuration"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"date": "2018-04-04T00:04:03Z", "cause": "automation", "product":
      "azurecli"}, "location": "southeastasia"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"southeastasia","tags":{"date":"2018-04-04T00:04:03Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "southeastasia", "properties": {"administratorLoginPassword":
      "SecretPassword123", "administratorLogin": "admin123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-04-04T00:04:06.55Z"}'}
    headers:
      azure-asyncoperation: ['https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/cf822076-bff5-4d6b-a58b-0ad0c694cd32?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/cf822076-bff5-4d6b-a58b-0ad0c694cd32?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/cf822076-bff5-4d6b-a58b-0ad0c694cd32?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"cf822076-bff5-4d6b-a58b-0ad0c694cd32","status":"InProgress","startTime":"2018-04-04T00:04:06.55Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.sqltest-eg1.mscds.com"},"location":"southeastasia","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "southeastasia", "properties": {"dtu": 125, "edition": "Premium",
      "databaseDtuMin": 0, "storageMB": 51200, "databaseDtuMax": 50}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CREATE","startTime":"\/Date(1522800358109+0000)\/"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/6b4c3515-53dc-40fc-8da8-e493cfa5d922?api-version=2015-05-01']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/6b4c3515-53dc-40fc-8da8-e493cfa5d922?api-version=2015-05-01
  response:
    body: {string: '{"operation":"CreateLogicalElasticPool","startTime":"2018-04-04T00:05:58.093Z"}'}
    headers:
      azure-asyncoperation: ['https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolAzureAsyncOperation/6b4c3515-53dc-40fc-8da8-e493cfa5d922?api-version=2015-05-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/6b4c3515-53dc-40fc-8da8-e493cfa5d922?api-version=2015-05-01']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolAzureAsyncOperation/6b4c3515-53dc-40fc-8da8-e493cfa5d922?api-version=2015-05-01
  response:
    body: {string: '{"name":"6b4c3515-53dc-40fc-8da8-e493cfa5d922","status":"InProgress","startTime":"2018-04-04T00:05:58.093Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1","name":"operationtestep1","type":"Microsoft.Sql/servers/elasticPools","location":"Southeast
        Asia","kind":"","properties":{"creationDate":"2018-04-04T00:05:58.233Z","edition":"Premium","state":"Ready","dtu":125,"databaseDtuMin":0,"databaseDtuMax":50,"storageMB":51200,"zoneRedundant":false}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/Southeast%20Asia/elasticPoolOperationResults/00f49a97-5fcb-4b06-a2ba-24ede9f9208c?api-version=2015-05-01
  response:
    body: {string: '{"operation":"UpdateLogicalElasticPool","startTime":"2018-04-04T00:08:35.243Z"}'}
    headers:
      azure-asyncoperation: ['https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolAzureAsyncOperation/00f49a97-5fcb-4b06-a2ba-24ede9f9208c?api-version=2015-05-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/00f49a97-5fcb-4b06-a2ba-24ede9f9208c?api-version=2015-05-01']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1/operations?api-version=2017-10-01-preview
  response:
    body: {string: '{"value":[{"properties":{"elasticPoolName":"operationtestep1","operation":"UPDATE","operationFriendlyName":"UPDATE","percentComplete":100,"serverName":"clitestserver000002","startTime":"2018-04-04T00:08:35.243Z","state":"COMPLETED","estimatedCompletionTime":"2018-04-04T00:31:10.27Z","description":"''UpdateLogicalElasticPool''
        on pool ''operationtestep1'', target Edition ''Premium'', target pool DTU
        ''250''.","isCancellable":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1/operations/00f49a97-5fcb-4b06-a2ba-24ede9f9208c","name":"00f49a97-5fcb-4b06-a2ba-24ede9f9208c","type":"Microsoft.Sql/servers/elasticPools/operations"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1/operations/00f49a97-5fcb-4b06-a2ba-24ede9f9208c/cancel?api-version=2017-10-01-preview
  response:
    body: {string: '{"error":{"code":"CannotCancelOperation","message":"Cannot cancel
        management operation ''00f49a97-5fcb-4b06-a2ba-24ede9f9208c'' in the current
        state."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 409, message: Conflict}
[...]
