interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "date": "2018-07-03T17:48:03Z",
      "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","date":"2018-07-03T17:48:03Z","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-07-03T17:48:10.417Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/40b699bf-a72d-4f9e-8d66-f8cbe66e9236?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverOperationResults/40b699bf-a72d-4f9e-8d66-f8cbe66e9236?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/40b699bf-a72d-4f9e-8d66-f8cbe66e9236?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"40b699bf-a72d-4f9e-8d66-f8cbe66e9236","status":"InProgress","startTime":"2018-07-03T17:48:10.417Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000003.database.windows.net"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003","name":"clitestserver000003","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"2018-07-03T17:49:48.843Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/effa0461-53d5-402c-8c59-d248ade9270d?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseOperationResults/effa0461-53d5-402c-8c59-d248ade9270d?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/effa0461-53d5-402c-8c59-d248ade9270d?api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"effa0461-53d5-402c-8c59-d248ade9270d","status":"InProgress","startTime":"2018-07-03T17:49:48.843Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard","capacity":10},"kind":"v12.0,user","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":268435456000,"status":"Online","databaseId":"9c89ddd9-6da1-4970-a3b1-c28d9c75f772","creationDate":"2018-07-03T17:50:27.33Z","currentServiceObjectiveName":"S0","requestedServiceObjectiveName":"S0","defaultSecondaryLocation":"eastus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"earliestRestoreDate":"2018-07-03T18:20:27.33Z","readScale":"Disabled","currentSku":{"name":"Standard","tier":"Standard","capacity":10}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"location": "westus", "properties": {"sourceDatabaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01",
      "createMode": "Copy"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb02?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateDatabaseAsCopy","startTime":"2018-07-03T17:50:38.367Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/4328329a-9881-4aa5-a3e3-b9eb28012a64?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseOperationResults/4328329a-9881-4aa5-a3e3-b9eb28012a64?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/capabilities?api-version=2017-10-01-preview&include=supportedElasticPoolEditions
  response:
    body: {string: '{"name":"West US","supportedServerVersions":[{"name":"12.0","supportedElasticPoolEditions":[{"name":"Standard","supportedElasticPoolPerformanceLevels":[{"performanceLevel":{"value":50.0,"unit":"DTU"},"sku":{"name":"StandardPool","tier":"Standard","capacity":50},"supportedLicenseTypes":[],"maxDatabaseCount":100,"includedMaxSize":{"limit":50,"unit":"Gigabytes"},"supportedMaxSizes":[{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Default"},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":200,"unit":"Gigabytes"},"maxValue":{"limit":200,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":300,"unit":"Gigabytes"},"maxValue":{"limit":300,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":400,"unit":"Gigabytes"},"maxValue":{"limit":400,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Gigabytes"},"maxValue":{"limit":500,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"}],"supportedPerDatabaseMaxSizes":[{"minValue":{"limit":100,"unit":"Megabytes"},"maxValue":{"limit":100,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Megabytes"},"maxValue":{"limit":500,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":1,"unit":"Gigabytes"},"maxValue":{"limit":1,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":2,"unit":"Gigabytes"[...]
- request:
    body: '{"properties": {"perDatabaseSettings": {}}, "location": "westus", "sku":
      {"tier": "Standard", "capacity": 100, "name": "StandardPool"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000004/elasticPools/pool1?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalElasticPool","startTime":"2018-07-03T17:53:04.64Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/locations/westus/elasticPoolAzureAsyncOperation/105c8709-7de0-4401-8ff6-4ce2a4065298?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/locations/westus/elasticPoolOperationResults/105c8709-7de0-4401-8ff6-4ce2a4065298?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/locations/westus/elasticPoolAzureAsyncOperation/105c8709-7de0-4401-8ff6-4ce2a4065298?api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"105c8709-7de0-4401-8ff6-4ce2a4065298","status":"InProgress","startTime":"2018-07-03T17:53:04.64Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000004/elasticPools/pool1?api-version=2017-10-01-preview
  response:
    body: {string: '{"sku":{"name":"StandardPool","tier":"Standard","capacity":100},"kind":"","properties":{"state":"Ready","creationDate":"2018-07-03T17:53:04.78Z","maxSizeBytes":107374182400,"perDatabaseSettings":{"minCapacity":0.0,"maxCapacity":100.0},"zoneRedundant":false},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000004/elasticPools/pool1","name":"pool1","type":"Microsoft.Sql/servers/elasticPools"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "westus", "properties": {"sourceDatabaseId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01",
      "createMode": "Copy", "elasticPoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000004/elasticPools/pool1"}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000004/databases/cliautomationdb02?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateDatabaseAsCopy","startTime":"2018-07-03T17:53:43.257Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/151cf84b-a969-43ba-874e-ff6b116ece56?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/locations/westus/databaseOperationResults/151cf84b-a969-43ba-874e-ff6b116ece56?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
