interactions:
- request:
    body: '{"location": "southeastasia", "tags": {"date": "2018-04-04T21:51:22Z",
      "cause": "automation", "product": "azurecli"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"southeastasia","tags":{"date":"2018-04-04T21:51:22Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"administratorLogin": "admin123", "administratorLoginPassword":
      "SecretPassword123"}, "location": "southeastasia"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-04-04T21:51:29.857Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/88c15695-5a2c-4af4-8ada-6943f4b05989?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/88c15695-5a2c-4af4-8ada-6943f4b05989?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/88c15695-5a2c-4af4-8ada-6943f4b05989?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"88c15695-5a2c-4af4-8ada-6943f4b05989","status":"InProgress","startTime":"2018-04-04T21:51:29.857Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"southeastasia","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"dtu": 125, "edition": "Premium", "databaseDtuMin": 0,
      "storageMB": 51200, "databaseDtuMax": 50}, "location": "southeastasia"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CREATE","startTime":"\/Date(1522878746257+0000)\/"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/0b9abc9f-2dc6-40cc-bbff-ab7f0c964471?api-version=2015-05-01']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/0b9abc9f-2dc6-40cc-bbff-ab7f0c964471?api-version=2015-05-01
  response:
    body: {string: '{"operation":"CreateLogicalElasticPool","startTime":"2018-04-04T21:52:26.227Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolAzureAsyncOperation/0b9abc9f-2dc6-40cc-bbff-ab7f0c964471?api-version=2015-05-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/0b9abc9f-2dc6-40cc-bbff-ab7f0c964471?api-version=2015-05-01']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolAzureAsyncOperation/0b9abc9f-2dc6-40cc-bbff-ab7f0c964471?api-version=2015-05-01
  response:
    body: {string: '{"name":"0b9abc9f-2dc6-40cc-bbff-ab7f0c964471","status":"Succeeded","startTime":"2018-04-04T21:52:26.227Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1","name":"operationtestep1","type":"Microsoft.Sql/servers/elasticPools","location":"Southeast
        Asia","kind":"","properties":{"creationDate":"2018-04-04T21:52:26.413Z","edition":"Premium","state":"Ready","dtu":125,"databaseDtuMin":0,"databaseDtuMax":50,"storageMB":51200,"zoneRedundant":false}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/Southeast%20Asia/elasticPoolOperationResults/1af6a89e-469d-42cf-9afc-f419ecdbb2d9?api-version=2015-05-01
  response:
    body: {string: '{"operation":"UpdateLogicalElasticPool","startTime":"2018-04-04T21:53:18.593Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolAzureAsyncOperation/1af6a89e-469d-42cf-9afc-f419ecdbb2d9?api-version=2015-05-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/southeastasia/elasticPoolOperationResults/1af6a89e-469d-42cf-9afc-f419ecdbb2d9?api-version=2015-05-01']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1/operations?api-version=2017-10-01-preview
  response:
    body: {string: '{"value":[{"properties":{"elasticPoolName":"operationtestep1","operation":"UPDATE","operationFriendlyName":"UPDATE","percentComplete":100,"serverName":"clitestserver000002","startTime":"2018-04-04T21:53:18.593Z","state":"COMPLETED","estimatedCompletionTime":"2018-04-04T21:54:08.557Z","description":"''UpdateLogicalElasticPool''
        on pool ''operationtestep1'', target Edition ''Premium'', target pool DTU
        ''250''.","isCancellable":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1/operations/1af6a89e-469d-42cf-9afc-f419ecdbb2d9","name":"1af6a89e-469d-42cf-9afc-f419ecdbb2d9","type":"Microsoft.Sql/servers/elasticPools/operations"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/operationtestep1/operations/1af6a89e-469d-42cf-9afc-f419ecdbb2d9/cancel?api-version=2017-10-01-preview
  response:
    body: {string: '{"error":{"code":"CannotCancelOperation","message":"Cannot cancel
        management operation ''1af6a89e-469d-42cf-9afc-f419ecdbb2d9'' in the current
        state."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 409, message: Conflict}
[...]
