interactions:
- request:
    body: '{"location": "westus", "tags": {"cause": "automation", "date": "2018-05-02T20:19:38Z",
      "product": "azurecli"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"cause":"automation","date":"2018-05-02T20:19:38Z","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"administratorLoginPassword": "SecretPassword123",
      "administratorLogin": "admin123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-05-02T20:19:41.867Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/e45384a0-3565-4ee0-89be-a344ca12517b?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverOperationResults/e45384a0-3565-4ee0-89be-a344ca12517b?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/e45384a0-3565-4ee0-89be-a344ca12517b?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"e45384a0-3565-4ee0-89be-a344ca12517b","status":"InProgress","startTime":"2018-05-02T20:19:41.867Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/capabilities?api-version=2017-10-01-preview&include=supportedEditions
  response:
    body: {string: '{"name":"West US","supportedServerVersions":[{"name":"12.0","supportedEditions":[{"name":"System","supportedServiceLevelObjectives":[{"id":"26e021db-f1f9-4c98-84c6-92af8ef433d7","name":"System","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"limit":30,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"performanceLevel":{"value":0.0,"unit":"DTU"},"sku":{"name":"System","tier":"System","capacity":0},"supportedLicenseTypes":[],"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"id":"29dd7459-4a7c-4e56-be22-f0adda49440d","name":"System0","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"lim[...]
- request:
    body: '{"sku": {"name": "DW100"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"2018-05-02T20:20:31.76Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/becf915e-04eb-4ff8-9d7d-f3ebe53eb174?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseOperationResults/becf915e-04eb-4ff8-9d7d-f3ebe53eb174?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/becf915e-04eb-4ff8-9d7d-f3ebe53eb174?api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"becf915e-04eb-4ff8-9d7d-f3ebe53eb174","status":"InProgress","startTime":"2018-05-02T20:20:31.76Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body: {string: '{"sku":{"name":"DataWarehouse","tier":"DataWarehouse","capacity":750},"kind":"v12.0,user,datawarehouse","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":263882790666240,"status":"Online","databaseId":"8f999ff1-d060-4778-8d96-6dc8ab11123b","creationDate":"2018-05-02T20:20:31.883Z","currentServiceObjectiveName":"DW100","requestedServiceObjectiveName":"DW100","defaultSecondaryLocation":"East
        US","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"readScale":"Disabled","currentSku":{"name":"DataWarehouse","tier":"DataWarehouse","capacity":750}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases?api-version=2017-10-01-preview
  response:
    body: {string: '{"value":[{"sku":{"name":"DataWarehouse","tier":"DataWarehouse","capacity":750},"kind":"v12.0,user,datawarehouse","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":263882790666240,"status":"Online","databaseId":"8f999ff1-d060-4778-8d96-6dc8ab11123b","creationDate":"2018-05-02T20:20:31.883Z","currentServiceObjectiveName":"DW100","requestedServiceObjectiveName":"DW100","defaultSecondaryLocation":"East
        US","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"readScale":"Disabled","currentSku":{"name":"DataWarehouse","tier":"DataWarehouse","capacity":750}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"},{"sku":{"name":"System","tier":"System","capacity":0},"kind":"v12.0,system","managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":32212254720,"status":"Online","databaseId":"fc8184cc-2734-4659-b6f5-087b5cf08506","creationDate":"2018-05-02T20:19:43.6Z","currentServiceObjectiveName":"System2","requestedServiceObjectiveName":"System2","defaultSecondaryLocation":"East
        US","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"readScale":"Disabled","currentSku":{"name":"System","tier":"System","capacity":0}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/master","name":"master","type":"Microsoft.Sql/servers/databases"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/pause?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"DeactivateDatabaseAsync","startTime":"2018-05-02T20:23:39.79Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/6b5b5f2b-965b-40ea-8f2e-b012621fc57f?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/databaseOperationResults/6b5b5f2b-965b-40ea-8f2e-b012621fc57f?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/6b5b5f2b-965b-40ea-8f2e-b012621fc57f?api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"6b5b5f2b-965b-40ea-8f2e-b012621fc57f","status":"InProgress","startTime":"2018-05-02T20:23:39.93Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/resume?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"ActivateDatabaseAsync","startTime":"2018-05-02T20:24:58.053Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/e6b7e20a-a3ec-4c11-8063-fd3b34bc9fd4?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/databaseOperationResults/e6b7e20a-a3ec-4c11-8063-fd3b34bc9fd4?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"sku": {"tier": "DataWarehouse", "capacity": 750, "name": "DataWarehouse"},
      "location": "westus", "properties": {"collation": "SQL_Latin1_General_CP1_CI_AS",
      "catalogCollation": "SQL_Latin1_General_CP1_CI_AS", "readScale": "Disabled",
      "zoneRedundant": false, "maxSizeBytes": 21990232555520}, "tags": {"key1": "value1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"UpdateLogicalDatabase","startTime":"2018-05-02T20:26:32.317Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/6007d67a-479e-440d-a551-cd95111c2f38?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseOperationResults/6007d67a-479e-440d-a551-cd95111c2f38?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
