interactions:
- request:
    body: '{"location": "centralus", "tags": {"date": "2018-05-02T21:22:28Z", "product":
      "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"centralus","tags":{"date":"2018-05-02T21:22:28Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "centralus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-05-02T21:22:31.903Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/serverAzureAsyncOperation/e221874c-2c74-4eae-ab68-6d1e7d1eb80c?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/serverOperationResults/e221874c-2c74-4eae-ab68-6d1e7d1eb80c?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/serverAzureAsyncOperation/e221874c-2c74-4eae-ab68-6d1e7d1eb80c?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"e221874c-2c74-4eae-ab68-6d1e7d1eb80c","status":"InProgress","startTime":"2018-05-02T21:22:31.903Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"centralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/centralus/capabilities?include=supportedElasticPoolEditions&api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"Central US","supportedServerVersions":[{"name":"12.0","supportedElasticPoolEditions":[{"name":"Standard","supportedElasticPoolPerformanceLevels":[{"performanceLevel":{"value":50.0,"unit":"DTU"},"sku":{"name":"StandardPool","tier":"Standard","capacity":50},"supportedLicenseTypes":[],"maxDatabaseCount":100,"includedMaxSize":{"limit":50,"unit":"Gigabytes"},"supportedMaxSizes":[{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Default"},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":200,"unit":"Gigabytes"},"maxValue":{"limit":200,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":300,"unit":"Gigabytes"},"maxValue":{"limit":300,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":400,"unit":"Gigabytes"},"maxValue":{"limit":400,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Gigabytes"},"maxValue":{"limit":500,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"}],"supportedPerDatabaseMaxSizes":[{"minValue":{"limit":100,"unit":"Megabytes"},"maxValue":{"limit":100,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Megabytes"},"maxValue":{"limit":500,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":1,"unit":"Gigabytes"},"maxValue":{"limit":1,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":2,"unit":"Gigabytes"[...]
- request:
    body: '{"location": "centralus", "properties": {"perDatabaseSettings": {}, "zoneRedundant":
      false}, "sku": {"tier": "Premium", "capacity": 125, "name": "PremiumPool"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/createUnzonedUpdateToZonedPool?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalElasticPool","startTime":"2018-05-02T21:23:23.413Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/elasticPoolAzureAsyncOperation/2f8c41fd-ce92-4aa1-89a8-c76bd311df70?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/elasticPoolOperationResults/2f8c41fd-ce92-4aa1-89a8-c76bd311df70?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/elasticPoolAzureAsyncOperation/2f8c41fd-ce92-4aa1-89a8-c76bd311df70?api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"2f8c41fd-ce92-4aa1-89a8-c76bd311df70","status":"InProgress","startTime":"2018-05-02T21:23:23.413Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/createUnzonedUpdateToZonedPool?api-version=2017-10-01-preview
  response:
    body: {string: '{"sku":{"name":"PremiumPool","tier":"Premium","capacity":125},"kind":"","properties":{"state":"Ready","creationDate":"2018-05-02T21:23:23.587Z","maxSizeBytes":268435456000,"perDatabaseSettings":{"minCapacity":0.0,"maxCapacity":125.0},"zoneRedundant":false},"location":"Central
        US","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/createUnzonedUpdateToZonedPool","name":"createUnzonedUpdateToZonedPool","type":"Microsoft.Sql/servers/elasticPools"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "centralus", "properties": {"perDatabaseSettings": {}, "zoneRedundant":
      true}, "sku": {"tier": "Premium", "capacity": 125, "name": "PremiumPool"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/createZonedUpdateToUnzonedPool?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalElasticPool","startTime":"2018-05-02T21:25:38.027Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/elasticPoolAzureAsyncOperation/3c80d9d7-d00a-4626-afdb-8f376788ee94?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/elasticPoolOperationResults/3c80d9d7-d00a-4626-afdb-8f376788ee94?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"location": "centralus", "properties": {"perDatabaseSettings": {}}, "sku":
      {"tier": "Premium", "capacity": 125, "name": "PremiumPool"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/updateNoParamForUnzonedPool?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalElasticPool","startTime":"2018-05-02T21:27:50.027Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/elasticPoolAzureAsyncOperation/c8c1c80b-8d7f-4f98-8045-34b6b55040d8?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/centralus/elasticPoolOperationResults/c8c1c80b-8d7f-4f98-8045-34b6b55040d8?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
