interactions:
- request:
    body: '{"location": "westcentralus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Network/virtualNetworks/cl_pilot/subnets/CLean",
      "licenseType": "LicenseIncluded", "vCores": 8, "storageSizeInGB": 64}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertManagedServer","startTime":"2018-05-24T12:34:20.077Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/managedInstanceAzureAsyncOperation/f34b3ae7-421e-4c84-8f23-0eefe40059f1?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/managedInstanceOperationResults/f34b3ae7-421e-4c84-8f23-0eefe40059f1?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/managedInstanceAzureAsyncOperation/f34b3ae7-421e-4c84-8f23-0eefe40059f1?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"f34b3ae7-421e-4c84-8f23-0eefe40059f1","status":"InProgress","startTime":"2018-05-24T12:34:20.077Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2015-05-01-preview
  response:
    body: {string: '{"sku":{"name":"GP_Gen4","tier":"GeneralPurpose","family":"Gen4","capacity":8},"properties":{"fullyQualifiedDomainName":"clitestmi000001.wcus17662feb9ce98.database.windows.net","administratorLogin":"admin123","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Network/virtualNetworks/cl_pilot/subnets/CLean","state":"Ready","licenseType":"LicenseIncluded","vCores":8,"storageSizeInGB":64},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001","name":"clitestmi000001","type":"Microsoft.Sql/managedInstances"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"collation": "Latin1_General_100_CS_AS_SC"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01?api-version=2017-03-01-preview
  response:
    body: {string: '{"operation":"CreateManagedDatabase","startTime":"2018-05-24T12:36:28.303Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/fe833c47-4b98-47d3-89ff-901498a68747?api-version=2017-03-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/fe833c47-4b98-47d3-89ff-901498a68747?api-version=2017-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/fe833c47-4b98-47d3-89ff-901498a68747?api-version=2017-03-01-preview
  response:
    body: {string: '{"name":"fe833c47-4b98-47d3-89ff-901498a68747","status":"Succeeded","startTime":"2018-05-24T12:36:28.303Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01?api-version=2017-03-01-preview
  response:
    body: {string: '{"properties":{"collation":"Latin1_General_100_CS_AS_SC","status":"Online","creationDate":"2018-05-24T12:36:28.477Z","defaultSecondaryLocation":"westus2"},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/managedInstances/databases"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases?api-version=2017-03-01-preview
  response:
    body: {string: '{"value":[{"properties":{"collation":"Latin1_General_100_CS_AS_SC","status":"Online","creationDate":"2018-05-24T12:36:28.477Z","defaultSecondaryLocation":"westus2"},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/managedInstances/databases"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl_pilot/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01?api-version=2017-03-01-preview
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.Sql/managedInstances/databases'' with name ''cliautomationdb01''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/managedInstanceAzureAsyncOperation/d6402eed-ce6d-4f1c-8596-589b3ce2cfbd?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"d6402eed-ce6d-4f1c-8596-589b3ce2cfbd","status":"Succeeded","startTime":"2018-05-24T12:37:06.173Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
