interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-06-29T21:01:09Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-06-29T21:01:09Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-06-29T21:01:14.257Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/12220d1d-a971-4e95-a845-fce1240038ff?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverOperationResults/12220d1d-a971-4e95-a845-fce1240038ff?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/12220d1d-a971-4e95-a845-fce1240038ff?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"12220d1d-a971-4e95-a845-fce1240038ff","status":"InProgress","startTime":"2018-06-29T21:01:14.257Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "identity": {"type": "SystemAssigned"}, "properties":
      {"administratorLogin": "admin123", "version": "12.0"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-06-29T21:02:06.87Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/fadc5a62-9b14-4cac-aad0-fc9ef275e1d7?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverOperationResults/fadc5a62-9b14-4cac-aad0-fc9ef275e1d7?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"identity":{"principalId":"f0390391-cceb-457b-8b90-7fbf61fca847","type":"SystemAssigned","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sqltdebyok000003?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"2018-06-29T21:02:13.477Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/cd582ae8-65a2-4a95-ad82-454e6f1d751b?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseOperationResults/cd582ae8-65a2-4a95-ad82-454e6f1d751b?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/cd582ae8-65a2-4a95-ad82-454e6f1d751b?api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"cd582ae8-65a2-4a95-ad82-454e6f1d751b","status":"InProgress","startTime":"2018-06-29T21:02:13.477Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sqltdebyok000003?api-version=2017-10-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard","capacity":10},"kind":"v12.0,user","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":268435456000,"status":"Online","databaseId":"454e67a2-502b-4ef7-9908-09aaacecb372","creationDate":"2018-06-29T21:02:43.747Z","currentServiceObjectiveName":"S0","requestedServiceObjectiveName":"S0","defaultSecondaryLocation":"eastus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"earliestRestoreDate":"2018-06-29T21:32:43.747Z","readScale":"Disabled","currentSku":{"name":"Standard","tier":"Standard","capacity":10}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sqltdebyok000003","name":"sqltdebyok000003","type":"Microsoft.Sql/servers/databases"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2016-01-21T22:10:16Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"admin3","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"admin3","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin3","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["yugangw@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2018-06-11T19:00:31Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"sdk","telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"admin3@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['494338']
      ocp-aad-diagnostics-server-name: [PkCvv/QKIhw9uu/OmXUHm5LBeaURLjYgLYT6Rc6GAzs=]
      ocp-aad-session-key: [y_t-4mQoS9bjmHmpVRT21lnF7b2BoA6FMosw6-dgYbGM8uCSrJqOZZ954UZylNRkqdYMC9K__n1QUPAgF99ryeEO5h_d-yUy1pLWrlbg3V5jpbKFkK5hnxgrF-EZsawL.8sU8I_W2EWj9dgy89NwteZ8SLuEmIjLvasm7z3_CYtE]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "e7e158d3-7cdc-47cd-8825-5859d7ab2b55",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sqltdebyok000004?api-version=2018-02-14
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sqltdebyok000004","name":"sqltdebyok000004","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://sqltdebyok000004.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "e7e158d3-7cdc-47cd-8825-5859d7ab2b55",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore[...]
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://sqltdebyok000004.vault.azure.net/keys/sqltdebyok000005/create?api-version=7.0
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://sqltdebyok000004.vault.azure.net/keys/sqltdebyok000005/create?api-version=7.0
  response:
    body: {string: '{"key":{"kid":"https://sqltdebyok000004.vault.azure.net/keys/sqltdebyok000005/ad2e660848814e17bdd7058dc8060b0c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wsfmoODQBXtpqp4j1awxaXkz49TFowvfao_RhycKctQUUBWzEUEkKErhy_GiYKk1sS6HF-qfeB31Gyiu0oaCycJKh4rVdY0Qm6OYHeGh_PDo0kdxuoV0MLiQjus3kQyNr5Nkw9JUO1KMjPar1R9SCDYl-FwzoFnrbOsKEvrnCdkTW9_3XcsBJJGea2snc8EUonPNm-Ya7kY1-fJd2MNfoWCCxTzdAkDN1szMGMKLJrIgCnzSYHZWfLso3EvAw88KRNP82q24FToENcnNmn64qic5C6tUnURlQprxLVAr0Mn7BON7YDtTxPsJbkgjH1xCL-01I1rKlN9oqPoneMuHyQ","e":"AQAB"},"attributes":{"enabled":true,"created":1530306204,"updated":1530306204,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"properties": {"serverKeyType": "AzureKeyVault", "uri": "https://sqltdebyok000004.vault.azure.net/keys/sqltdebyok000005/ad2e660848814e17bdd7058dc8060b0c"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/keys/sqltdebyok000004_sqltdebyok000005_ad2e660848814e17bdd7058dc8060b0c?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServerEncryptionKeys","startTime":"2018-06-29T21:03:26.327Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverKeyAzureAsyncOperation/f4a0c329-e39e-4b61-8a71-ee410fd9c7ed?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverKeyOperationResults/f4a0c329-e39e-4b61-8a71-ee410fd9c7ed?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverKeyAzureAsyncOperation/f4a0c329-e39e-4b61-8a71-ee410fd9c7ed?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"f4a0c329-e39e-4b61-8a71-ee410fd9c7ed","status":"InProgress","startTime":"2018-06-29T21:03:26.327Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/keys/sqltdebyok000004_sqltdebyok000005_ad2e660848814e17bdd7058dc8060b0c?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"azurekeyvault","location":"West US","properties":{"serverKeyType":"AzureKeyVault","uri":"https://sqltdebyok000004.vault.azure.net/keys/sqltdebyok000005/ad2e660848814e17bdd7058dc8060b0c","thumbprint":"700B66AAE1EF4AD71DF821A20CD01A8EF3202A92","creationDate":"2018-06-29T21:03:28.827Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/keys/sqltdebyok000004_sqltdebyok000005_ad2e660848814e17bdd7058dc8060b0c","name":"sqltdebyok000004_sqltdebyok000005_ad2e660848814e17bdd7058dc8060b0c","type":"Microsoft.Sql/servers/keys"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/keys?api-version=2015-05-01-preview
  response:
    body: {string: '{"value":[{"kind":"azurekeyvault","location":"West US","properties":{"serverKeyType":"AzureKeyVault","uri":"https://sqltdebyok000004.vault.azure.net/keys/sqltdebyok000005/ad2e660848814e17bdd7058dc8060b0c","thumbprint":"700B66AAE1EF4AD71DF821A20CD01A8EF3202A92","creationDate":"2018-06-29T21:03:28.827Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/keys/sqltdebyok000004_sqltdebyok000005_ad2e660848814e17bdd7058dc8060b0c","name":"sqltdebyok000004_sqltdebyok000005_ad2e660848814e17bdd7058dc8060b0c","type":"Microsoft.Sql/servers/keys"},{"kind":"servicemanaged","properties":{"serverKeyType":"ServiceManaged"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/keys/ServiceManaged","name":"ServiceManaged","type":"Microsoft.Sql/servers/keys"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/encryptionProtector/current?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"servicemanaged","properties":{"serverKeyName":"ServiceManaged","serverKeyType":"ServiceManaged"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/encryptionProtector/current","name":"current","type":"Microsoft.Sql/servers/encryptionProtector"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/encryptionProtectorAzureAsyncOperation/def73059-4d50-4bfa-93b5-88bd1b01dfa8?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"def73059-4d50-4bfa-93b5-88bd1b01dfa8","status":"InProgress","startTime":"2018-06-29T21:03:34.217Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/0f726dde-4779-4aae-b6e2-1d420a2c4219?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"0f726dde-4779-4aae-b6e2-1d420a2c4219","status":"Failed","startTime":"2018-06-28T19:58:13.197Z","error":{"code":"RegionDoesNotAllowProvisioning","message":"Location
        ''West US'' is not accepting creation of new Windows Azure SQL Database servers
        at this time."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
