interactions:
- request:
    body: '{"location": "eastus2", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"eastus2","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "eastus2", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-02-20T19:31:17.877Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/64c541ad-67e7-4cc8-bcb1-8173d9af34f9?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/64c541ad-67e7-4cc8-bcb1-8173d9af34f9?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/64c541ad-67e7-4cc8-bcb1-8173d9af34f9?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"64c541ad-67e7-4cc8-bcb1-8173d9af34f9","status":"InProgress","startTime":"2018-02-20T19:31:17.877Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "eastus2", "properties": {"storageMB": 1228800, "databaseDtuMax":
      50, "dtu": 1200, "edition": "Standard", "databaseDtuMin": 10}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CREATE","startTime":"\/Date(1519155128671+0000)\/"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01/operationResults/8674409c-d141-4246-898d-51f4bcab6cae?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01/operationResults/8674409c-d141-4246-898d-51f4bcab6cae?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operation":"CREATE","startTime":"\/Date(1519155128657)\/"}'}
    headers:
      content-type: [application/json]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01/operationResults/8674409c-d141-4246-898d-51f4bcab6cae?api-version=2014-04-01-Preview']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01/operationResults/8674409c-d141-4246-898d-51f4bcab6cae?api-version=2014-04-01-Preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01","name":"cliautomationpool01","type":"Microsoft.Sql/servers/elasticPools","location":"East
        US 2","kind":null,"properties":{"creationDate":"2018-02-20T19:32:08.813Z","edition":"Standard","state":"Ready","dtu":1200,"databaseDtuMin":10,"databaseDtuMax":50,"storageMB":1228800,"zoneRedundant":null}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01","name":"cliautomationpool01","type":"Microsoft.Sql/servers/elasticPools","location":"East
        US 2","kind":null,"properties":{"creationDate":"2018-02-20T19:32:08.813Z","edition":"Standard","state":"Ready","dtu":1200,"databaseDtuMin":10,"databaseDtuMax":50,"storageMB":1228800,"zoneRedundant":false}}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "East US 2", "tags": {"key1": "value1"}, "properties": {"storageMB":
      51200, "databaseDtuMax": 50, "dtu": 50, "edition": "Standard", "databaseDtuMin":
      10}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"UPDATE","startTime":"\/Date(1519155193192+0000)\/"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01/operationResults/ced45da8-a279-41f4-b33a-ccfc2153a7a0?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"location": "eastus2", "properties": {"elasticPoolName": "cliautomationpool01"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"\/Date(1519155356981+0000)\/"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/azureAsyncOperation/a5fddb7e-7e28-4cb8-b7d2-1c279feddaeb?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/operationResults/a5fddb7e-7e28-4cb8-b7d2-1c279feddaeb?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/azureAsyncOperation/a5fddb7e-7e28-4cb8-b7d2-1c279feddaeb?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operationId":"a5fddb7e-7e28-4cb8-b7d2-1c279feddaeb","status":"Succeeded","error":null}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/azureAsyncOperation/a5fddb7e-7e28-4cb8-b7d2-1c279feddaeb?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02","name":"cliautomationdb02","type":"Microsoft.Sql/servers/databases","location":"East
        US 2","kind":"v12.0,user","properties":{"databaseId":"7361ced0-0601-4c93-bd8c-7820c8d16bf0","edition":"Standard","status":"Online","serviceLevelObjective":"ElasticPool","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2018-02-20T19:35:57.34Z","currentServiceObjectiveId":"d1737d22-a8ea-4de7-9bd0-33395d2a7419","requestedServiceObjectiveId":"d1737d22-a8ea-4de7-9bd0-33395d2a7419","requestedServiceObjectiveName":"ElasticPool","sampleName":null,"defaultSecondaryLocation":"Central
        US","earliestRestoreDate":"2018-02-20T20:06:12.883Z","elasticPoolName":"cliautomationpool01","containmentState":2,"readScale":"Disabled","failoverGroupId":null,"zoneRedundant":false,"isUpgradeRequested":false}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01/databases?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02","name":"cliautomationdb02","type":"Microsoft.Sql/servers/databases","location":"East
        US 2","kind":"v12.0,user","properties":{"databaseId":"7361ced0-0601-4c93-bd8c-7820c8d16bf0","edition":"Standard","status":"Online","serviceLevelObjective":"ElasticPool","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2018-02-20T19:35:57.34Z","currentServiceObjectiveId":"d1737d22-a8ea-4de7-9bd0-33395d2a7419","requestedServiceObjectiveId":"d1737d22-a8ea-4de7-9bd0-33395d2a7419","requestedServiceObjectiveName":"ElasticPool","createMode":null,"sampleName":null,"sourceDatabaseId":null,"defaultSecondaryLocation":"Central
        US","earliestRestoreDate":"2018-02-20T20:06:12.883Z","restorePointInTime":null,"sourceDatabaseDeletionDate":null,"blobUriAndSasKey":null,"recoveryServicesRecoveryPointResourceId":null,"elasticPoolName":"cliautomationpool01","containmentState":2,"readScale":"Disabled","failoverGroupId":null,"zoneRedundant":false,"isUpgradeRequested":false}}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
