interactions:
- request:
    body: '{"tags": {"cause": "automation", "date": "2018-05-01T01:02:10Z", "product":
      "azurecli"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"cause":"automation","date":"2018-05-01T01:02:10Z","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"administratorLoginPassword": "SecretPassword123",
      "administratorLogin": "admin123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2018-05-01T01:02:13.513Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/4d639722-4dd5-4c4c-b09d-1f39da784450?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverOperationResults/4d639722-4dd5-4c4c-b09d-1f39da784450?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/4d639722-4dd5-4c4c-b09d-1f39da784450?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"4d639722-4dd5-4c4c-b09d-1f39da784450","status":"InProgress","startTime":"2018-05-01T01:02:13.513Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kind": "Storage", "location": "westus", "properties": {"supportsHttpsTrafficOnly":
      false}, "sku": {"name": "Standard_LRS"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/18bd6552-cc23-43f3-bd11-86f5d8683819?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/18bd6552-cc23-43f3-bd11-86f5d8683819?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003","name":"clitest000003","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-05-01T01:03:01.4013343Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-05-01T01:03:01.4013343Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-05-01T01:03:01.2763048Z","primaryEndpoints":{"blob":"https://clitest000003.blob.core.windows.net/","queue":"https://clitest000003.queue.core.windows.net/","table":"https://clitest000003.table.core.windows.net/","file":"https://clitest000003.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"KwLpRP1LkNBk7MIOKrUpFGj4G4Zu/MlBsDzwdjCHJDhIQIyW76lLu+4tCXk5O3mKQFWuwgUbUFKckyxB1GuUYw==","permissions":"FULL"},{"keyName":"key2","value":"ri6pYjkOBeHavkEUR9MhpMJvdFdLj1lie5RpiPG6rhWzley+yiXSv+tyGgRustILTdE+SF+H8Lc7M4MsMkWEnA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"startIpAddress": "0.0.0.0", "endIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/firewallRules/allowAllIps?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/firewallRules/allowAllIps","name":"allowAllIps","type":"Microsoft.Sql/servers/firewallRules","location":"West
        US","kind":"v12.0","properties":{"startIpAddress":"0.0.0.0","endIpAddress":"0.0.0.0"}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"2018-05-01T01:03:23.713Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/93db0589-ca93-4d63-9920-138cf79f86c9?api-version=2017-10-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseOperationResults/93db0589-ca93-4d63-9920-138cf79f86c9?api-version=2017-10-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/databaseAzureAsyncOperation/93db0589-ca93-4d63-9920-138cf79f86c9?api-version=2017-10-01-preview
  response:
    body: {string: '{"name":"93db0589-ca93-4d63-9920-138cf79f86c9","status":"InProgress","startTime":"2018-05-01T01:03:23.713Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard","capacity":10},"kind":"v12.0,user","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":268435456000,"status":"Online","databaseId":"1ae88dc3-06e5-4c7a-8d55-3a4d1c433215","creationDate":"2018-05-01T01:03:23.95Z","currentServiceObjectiveName":"S0","requestedServiceObjectiveName":"S0","defaultSecondaryLocation":"East
        US","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"earliestRestoreDate":"2018-05-01T01:33:56.573Z","readScale":"Disabled","currentSku":{"name":"Standard","tier":"Standard","capacity":10}},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-DB1-7u2j6w43d3vgq/providers/Microsoft.Storage/storageAccounts/dbstoragez7emlp5x47dek","name":"dbstoragez7emlp5x47dek","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{"application":"databricks","databricks-environment":"true"},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-03-15T00:15:59.1909604Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-03-15T00:15:59.1909604Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2018-03-15T00:15:59.1597315Z","primaryEndpoints":{"blob":"https://dbstoragez7emlp5x47dek.blob.core.windows.net/","table":"https://dbstoragez7emlp5x47dek.table.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available"}},{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-vanark-test-dbk-stage-rv4pgkrzyxsfk/providers/Microsoft.Storage/storageAccounts/dbstorageu55jwnkk35pw6","name":"dbstorageu55jwnkk35pw6","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{"state":"initialized","application":"databricks","databricks-environment":"true"},"properties":{"networkAcls":{"bypass":"[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 May 2018 01:05:52 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/bacpacs?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5AEFFAFDAFFCA"']
      last-modified: ['Tue, 01 May 2018 01:05:53 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"storageKey": "KwLpRP1LkNBk7MIOKrUpFGj4G4Zu/MlBsDzwdjCHJDhIQIyW76lLu+4tCXk5O3mKQFWuwgUbUFKckyxB1GuUYw==",
      "administratorLoginPassword": "SecretPassword123", "administratorLogin": "admin123",
      "storageKeyType": "StorageAccessKey", "authenticationType": "SQL", "storageUri":
      "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac.bacpac"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/export?api-version=2014-04-01
  response:
    body: {string: '{"operation":"Export","startTime":"\/Date(1525136755739)\/"}'}
    headers:
      content-type: [application/xml; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/c408bc49-1f07-41ae-86dc-94f03051b2fe?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/c408bc49-1f07-41ae-86dc-94f03051b2fe?api-version=2014-04-01-Preview
  response:
    body: {string: '{"blobUri":"https:\/\/clitest000003.blob.core.windows.net\/bacpacs\/testbacpac.bacpac","databaseName":"cliautomationdb01","errorMessage":null,"lastModifiedTime":"5\/1\/2018
        1:05:55 AM","queuedTime":"5\/1\/2018 1:05:55 AM","requestId":"c408bc49-1f07-41ae-86dc-94f03051b2fe","requestType":"Export","serverName":"clitestserver000002.database.windows.net","status":"Running,
        Progress = 0%"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/c408bc49-1f07-41ae-86dc-94f03051b2fe?api-version=2014-04-01-Preview']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: 'b''{"storageKey": "?sr=b&sig=BtQ6ucLusPo/wGOehbBQtzv4F2Fh37VulYBbXh%2BjsiQ%3D&sp=rw&sv=2017-07-29&se=9999-12-25T00%3A00%3A00Z",
      "administratorLoginPassword": "SecretPassword123", "administratorLogin": "admin123",
      "storageKeyType": "SharedAccessKey", "authenticationType": "SQL", "storageUri":
      "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac2.bacpac"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/export?api-version=2014-04-01
  response:
    body: {string: '{"operation":"Export","startTime":"\/Date(1525136941741)\/"}'}
    headers:
      content-type: [application/xml; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/db2263d6-ef85-4118-ba02-ec783ed5cab2?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: 'b''{"properties": {"storageKey": "KwLpRP1LkNBk7MIOKrUpFGj4G4Zu/MlBsDzwdjCHJDhIQIyW76lLu+4tCXk5O3mKQFWuwgUbUFKckyxB1GuUYw==",
      "administratorLoginPassword": "SecretPassword123", "administratorLogin": "admin123",
      "storageKeyType": "StorageAccessKey", "authenticationType": "SQL", "storageUri":
      "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac.bacpac", "operationMode":
      "Import"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import?api-version=2014-04-01
  response:
    body: {string: '{"operation":"Import","startTime":"\/Date(1525140787295)\/"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import/importExtensionOperationResults/8c7d82e0-6e41-4dfd-8f57-a2a3cf29ef89?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import/importExtensionOperationResults/8c7d82e0-6e41-4dfd-8f57-a2a3cf29ef89?api-version=2014-04-01-Preview
  response:
    body: {string: '{"blobUri":"https:\/\/clitest000003.blob.core.windows.net\/bacpacs\/testbacpac.bacpac","databaseName":"cliautomationdb02","errorMessage":null,"lastModifiedTime":"5\/1\/2018
        2:13:07 AM","queuedTime":"5\/1\/2018 2:13:07 AM","requestId":"8c7d82e0-6e41-4dfd-8f57-a2a3cf29ef89","requestType":"Import","serverName":"clitestserver000002.database.windows.net","status":"Running,
        Progress = 5.00 %"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import/importExtensionOperationResults/8c7d82e0-6e41-4dfd-8f57-a2a3cf29ef89?api-version=2014-04-01-Preview']
    status: {code: 202, message: Accepted}
[...]
