interactions:
- request:
    body: '{"properties": {"encryptionState": "Disabled"}, "location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeStore/accounts/cliadls1234531?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"9ebe4740-a5da-403d-aa0f-8dac79ea603e","creationTime":null,"lastModifiedTime":null},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeStore/accounts/cliadls1234531","name":"cliadls1234531","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/9ebe4740-a5da-403d-aa0f-8dac79ea603e0?api-version=2016-11-01&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/test-adla-job-mgmt/providers/Microsoft.DataLakeStore/accounts/cliadls1234531/operationresults/0?api-version=2016-11-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/9ebe4740-a5da-403d-aa0f-8dac79ea603e0?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeStore/accounts/cliadls1234531?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadls1234531.azuredatalakestore.net","accountId":"9ebe4740-a5da-403d-aa0f-8dac79ea603e","creationTime":"2017-03-08T18:46:05.1166397Z","lastModifiedTime":"2017-03-08T18:46:05.1166397Z"},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeStore/accounts/cliadls1234531","name":"cliadls1234531","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"defaultDataLakeStoreAccount": "cliadls1234531", "queryStoreRetention":
      30, "maxDegreeOfParallelism": 30, "dataLakeStoreAccounts": [{"name": "cliadls1234531"}],
      "maxJobCount": 3}, "location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla1234530?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"cliadls1234531","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls1234531"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"57218542-24c1-403e-9447-4efe1d134290","creationTime":null,"lastModifiedTime":null},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla1234530","name":"cliadla1234530","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/57218542-24c1-403e-9447-4efe1d1342900?api-version=2016-11-01&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/test-adla-job-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla1234530/operationresults/0?api-version=2016-11-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/57218542-24c1-403e-9447-4efe1d1342900?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla1234530?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallRules":[],"defaultDataLakeStoreAccount":"cliadls1234531","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls1234531"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":250,"systemMaxJobCount":20,"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadla1234530.azuredatalakeanalytics.net","accountId":"57218542-24c1-403e-9447-4efe1d134290","creationTime":"2017-03-08T18:46:58.0309607Z","lastModifiedTime":"2017-03-08T18:46:58.0309607Z"},"location":"eastus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-adla-job-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla1234530","name":"cliadla1234530","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"script": "DROP DATABASE IF EXISTS FOO; CREATE DATABASE
      FOO;", "type": "USql"}, "degreeOfParallelism": 1, "name": "clijobtest", "priority":
      1000, "type": "USql"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cliadla1234530.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"adlsvc01@benwgoldoutlook.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-03-08T18:47:41.4085592+00:00","state":"Compiling","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2017-03-08T18:47:41.4085592+00:00","details":"userName:;submitMachine:N/A"}],"properties":{"owner":"adlsvc01@benwgoldoutlook.onmicrosoft.com","resources":[],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","algebraFilePath":"adl://cliadls1234531.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/03/08/18/47/00000000-0000-0000-0000-000000000000/algebra.xml","compileMode":"Semantic","errorSource":"Unknown","totalCompilationTime":"PT0S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","expirationTimeUtc":"0001-01-01T00:00:00Z","type":"USql"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cliadla1234530.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000/CancelJob?api-version=2016-11-01
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla1234530.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"adlsvc01@benwgoldoutlook.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-03-08T18:47:41.4085592+00:00","endTime":"2017-03-08T18:47:43.5335816+00:00","state":"Ended","result":"Cancelled","errorMessage":[{"errorId":"I_USER_CJS_CANCELEDBYUSER","name":"CANCELED_BY_USER","severity":"Info","source":"User","component":"CJS","message":"Job
        was cancelled.","details":"","description":"Job was cancelled by adlsvc01@benwgoldoutlook.onmicrosoft.com.","resolution":"","helpLink":"","innerError":null}],"stateAuditRecords":[{"newState":"New","timeStamp":"2017-03-08T18:47:41.4085592+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2017-03-08T18:47:41.611672+00:00","details":"CcsAttempts:1;Status:Dispatched"},{"newState":"Ended","timeStamp":"2017-03-08T18:47:43.5335816+00:00","details":"result:CanceledByUser"}],"properties":{"owner":"adlsvc01@benwgoldoutlook.onmicrosoft.com","resources":[{"name":"Profile","resourcePath":"adl://cliadls1234531.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/03/08/18/47/00000000-0000-0000-0000-000000000000/profile","type":"StatisticsResource"},{"name":"__ScopeRuntimeStatistics__.xml","resourcePath":"adl://cliadls1234531.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/03/08/18/47/00000000-0000-0000-0000-000000000000/__ScopeRuntimeStatistics__.xml","type":"StatisticsResource"}],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","script":"DROP
        DATABASE IF EXISTS FOO; CREATE DATABASE FOO;","algebraFilePath":"adl://cliadls1234531.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/03/08/18/47/00000000-0000-0000-0000-000000000000/algebra.xml","compileMode":"Semantic","errorSource":"UserError","totalCompilationTime":"PT1.9219096S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","expirationTimeUtc":"0001-01-01T00:00:00","type":"USql"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla1234530.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000
  response:
    body: {string: '{"jobId":"b8650c06-042f-11e7-8529-645106422854","name":"clijobtest","type":"USql","submitter":"adlsvc01@benwgoldoutlook.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-03-08T18:47:46.5336697+00:00","startTime":"2017-03-08T18:48:15.5342393+00:00","state":"Running","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2017-03-08T18:47:46.5336697+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2017-03-08T18:47:46.6430253+00:00","details":"CcsAttempts:1;Status:Dispatched"},{"newState":"Queued","timeStamp":"2017-03-08T18:48:02.237094+00:00"},{"newState":"Scheduling","timeStamp":"2017-03-08T18:48:02.2527202+00:00","details":"Detail:Dispatching
        job t[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla1234530.azuredatalakeanalytics.net/Jobs?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"jobId":"b8650c06-042f-11e7-8529-645106422854","name":"clijobtest","type":"USql","submitter":"adlsvc01@benwgoldoutlook.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-03-08T18:47:46.5336697+00:00","startTime":"2017-03-08T18:48:15.5342393+00:00","endTime":"2017-03-08T18:48:15.5498664+00:00","state":"Ended","result":"Succeeded"},{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"adlsvc01@benwgoldoutlook.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-03-08T18:47:41.4085592+00:00","endTime":"2017-03-08T18:47:43.5335816+00:00","state":"Ended","result":"Cancelled"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
