interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "westus", "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-06-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/eb1aeec6-e6bb-4b11-935a-230b8c9afa44?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/eb1aeec6-e6bb-4b11-935a-230b8c9afa44?monitor=true&api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-08-01T23:02:00.6943802Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"6g09CwthZgDYQJ7gSEdXPqLUPIWzV95AqjUBuExdj5eIF3AYecWErtfxfYRY5+LqCHb2cajXPFVFUL+x5+7Wmw=="},{"keyName":"key2","permissions":"Full","value":"+q7aUV7Plqd8VLDEQI8hjSxve3PY4MKcDV3Ndsguv4E83hIPQQmbFKCuFBN9Pxxp/ZEuIbriZ7yQL7iyDqUrwQ=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1188']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"type": "Microsoft.ContainerRegistry/registries", "name":
      "clireg000004"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01
  response:
    body: {string: !!python/unicode '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2017-05-10&$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgwdoj4mvxmvyu35kcvoej5eix4u7o57lpkxyee6duiypt7th5nrjptnsb[...]
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {"registryLocation":
      {"value": "westus"}, "storageAccountResourceGroup": {"value": "clitest.rg000001"},
      "adminUserEnabled": {"value": false}, "registrySku": {"value": "Basic"}, "registryName":
      {"value": "clireg000004"}, "storageAccountName": {"value": "clitest000002"}},
      "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"registryLocation": {"type": "string",
      "metadata": {"description": "The location of the container registry. This cannot
      be changed after the resource is created."}}, "storageAccountResourceGroup":
      {"type": "string", "metadata": {"description": "The resource group of the storage
      account."}}, "adminUserEnabled": {"defaultValue": false, "type": "bool", "metadata":
      {"description": "The value that indicates whether the admin user is enabled."}},
      "registrySku": {"defaultValue": "Basic", "type": "string", "metadata": {"description":
      "The SKU of the container registry."}}, "registryName": {"type": "string", "metadata":
      {"description": "The name of the container registry."}}, "storageAccountName":
      {"type": "string", "metadata": {"description": "The name of the storage account
      used by the container registry."}}, "registryApiVersion": {"defaultValue": "2017-03-01",
      "type": "string", "metadata": {"description": "The API version of the container
      registry."}}}, "resources": [{"sku": {"name": "[parameters(''registrySku'')]"},
      "name": "[parameters(''registryName'')]", "apiVersion": "[parameters(''registryApiVersion'')]",
      "location": "[parameters(''registryLocation'')]", "type": "Microsoft.ContainerRegistry/registries",
      "properties": {"storageAccount": {"accessKey": "[listKeys(resourceId(parameters(''storageAccountResourceGroup''),
      ''Microsoft.Storage/storageAccounts'', parameters(''storageAccountName'')),
      ''2016-12-01'').keys[0].value]", "name": "[parameters(''storageAccountName'')]"},
      "adminUserEnabled": "[parameters(''adminUserEnabled'')]"}}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry","name":"Microsoft.ContainerRegistry","properties":{"templateHash":"15324488729239592042","parameters":{"registryLocation":{"type":"String","value":"westus"},"storageAccountResourceGroup":{"type":"String","value":"clitest.rg000001"},"adminUserEnabled":{"type":"Bool","value":false},"registrySku":{"type":"String","value":"Basic"},"registryName":{"type":"String","value":"clireg000004"},"storageAccountName":{"type":"String","value":"clitest000002"},"registryApiVersion":{"type":"String","value":"2017-03-01"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-08-01T23:02:41.4185894Z","duration":"PT0.5214174S","correlationId":"85045a83-095a-4879-94d4-d08b5dbf3f6a","providers":[{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"clitest000002","actionName":"listKeys","apiVersion":"2016-12-01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","resourceType":"Microsoft.ContainerRegistry/registries","resourceName":"clireg000004"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry/operationStatuses/08586999783245804473?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586999783245804473?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004?api-version=2017-03-01
  response:
    body: {string: !!python/unicode '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","name":"clireg000004","location":"westus","tags":{},"properties":{"loginServer":"clireg000004.azurecr.io","creationDate":"2017-08-01T23:02:50.5672958Z","provisioningState":"Succeeded","adminUserEnabled":false,"storageAccount":{"name":"clitest000002"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"type": "Microsoft.ContainerRegistry/registries", "name":
      "clireg000004"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01
  response:
    body: {string: !!python/unicode '{"nameAvailable":false,"reason":"AlreadyExists","message":"The
        registry clireg000004 is already in use."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries?api-version=2017-03-01
  response:
    body: {string: !!python/unicode '{"value":[{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","name":"clireg000004","location":"westus","tags":{},"properties":{"loginServer":"clireg000004.azurecr.io","creationDate":"2017-08-01T23:02:50.5672958Z","provisioningState":"Succeeded","adminUserEnabled":false,"storageAccount":{"name":"clitest000002"}}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2017-05-10&$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","name":"clireg000004","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"adminUserEnabled": true}, "tags": {"foo":
      "bar", "cat": ""}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004?api-version=2017-03-01
  response:
    body: {string: !!python/unicode '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","name":"clireg000004","location":"westus","tags":{"foo":"bar","cat":""},"properties":{"loginServer":"clireg000004.azurecr.io","creationDate":"2017-08-01T23:02:50.5672958Z","provisioningState":"Succeeded","adminUserEnabled":true,"storageAccount":{"name":"clitest000002"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1187']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004/listCredentials?api-version=2017-03-01
  response:
    body: {string: !!python/unicode '{"username":"clireg000004","passwords":[{"name":"password","value":"r/q=Up/FB+y4fipCetx3FqDIKj2G75iD"},{"name":"password2","value":"s/Zt+QEtrId2EZqYAjvO=ZIGANeA0L/R"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"name": "password"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004/regenerateCredential?api-version=2017-03-01
  response:
    body: {string: !!python/unicode '{"username":"clireg000004","passwords":[{"name":"password","value":"k=E+/kgEygI2IeO=stXRA/xUOaAh8hxg"},{"name":"password2","value":"s/Zt+QEtrId2EZqYAjvO=ZIGANeA0L/R"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdYSkZJREdRUkRMUkQzNUFLWk02Skk1TUQyVEFXSk40SEhQTXxFRkY4QjFCMEY3MDkzRjc0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1188']
    status: {code: 202, message: Accepted}
version: 1
