interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "westus", "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-06-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/cd23be66-c6fe-45aa-b339-654fe89f0dc1?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/cd23be66-c6fe-45aa-b339-654fe89f0dc1?monitor=true&api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-08-01T23:05:34.3724980Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"2YVwg6NfZ/BvKTt3DseLtPlch12AAkM7g7rhSJ0E5fSsU0jSxaZ44Xg7er2/KGUfPvV36qHBjCV8KUachad4Lw=="},{"keyName":"key2","permissions":"Full","value":"9ppeedOFckwCk7dtmpbgEYJDRiEwYz4yvEREZJq66liH/Qghwje7jrFx6buf4J9fei9CyEU4ik7YTIGBrro2zw=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1187']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:53 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DC50335B"']
      last-modified: ['Tue, 01 Aug 2017 23:05:53 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:53 GMT']
      x-ms-meta-cat: [hat]
      x-ms-meta-foo: [bar]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DC5498F2"']
      last-modified: ['Tue, 01 Aug 2017 23:05:53 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:54 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DC50335B"']
      last-modified: ['Tue, 01 Aug 2017 23:05:53 GMT']
      x-ms-share-quota: ['5120']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:54 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000004?comp=metadata&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DC5498F2"']
      last-modified: ['Tue, 01 Aug 2017 23:05:53 GMT']
      x-ms-meta-cat: [hat]
      x-ms-meta-foo: [bar]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:54 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\"><Shares><Share><Name>share000003</Name><Properties><Last-Modified>Tue,
        01 Aug 2017 23:05:53 GMT</Last-Modified><Etag>\"0x8D4D931DC50335B\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share000004</Name><Properties><Last-Modified>Tue,
        01 Aug 2017 23:05:53 GMT</Last-Modified><Etag>\"0x8D4D931DC5498F2\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:54 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?comp=metadata&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DC857998"']
      last-modified: ['Tue, 01 Aug 2017 23:05:54 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:55 GMT']
      x-ms-share-quota: ['3']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?comp=properties&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DD08CB3A"']
      last-modified: ['Tue, 01 Aug 2017 23:05:55 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['131072']
      x-ms-date: ['Tue, 01 Aug 2017 23:05:55 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DD621054"']
      last-modified: ['Tue, 01 Aug 2017 23:05:55 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:56 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body: {string: !!python/unicode "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1234']
      x-ms-date: ['Tue, 01 Aug 2017 23:05:56 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DE351609"']
      last-modified: ['Tue, 01 Aug 2017 23:05:57 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:57 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=metadata
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DE6B98FD"']
      last-modified: ['Tue, 01 Aug 2017 23:05:57 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:58 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><Entries><File><Name>sample_file.bin</Name><Properties><Content-Length>1234</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-type: [test/type]
      x-ms-date: ['Tue, 01 Aug 2017 23:05:58 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DF027569"']
      last-modified: ['Tue, 01 Aug 2017 23:05:58 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:59 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931DF64A3FC"']
      last-modified: ['Tue, 01 Aug 2017 23:05:59 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:59 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><Entries><Directory><Name>dir000005</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:05:59 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?comp=metadata&restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931E00BAFED"']
      last-modified: ['Tue, 01 Aug 2017 23:06:00 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['65536']
      x-ms-date: ['Tue, 01 Aug 2017 23:06:01 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005/testfile.txt
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4D931E0CFBED3"']
      last-modified: ['Tue, 01 Aug 2017 23:06:01 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:06:02 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000005\"><Entries><File><Name>testfile.txt</Name><Properties><Content-Length>65536</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:06:02 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?comp=stats&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsage>1</ShareUsage></ShareStats>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:06:02 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/testfile.txt
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: The specified resource does not exist.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 01 Aug 2017 23:06:03 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:43247783-001a-0042-3a1a-0baaab000000\nTime:2017-08-01T23:06:02.9509259Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: The specified resource does not exist.}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdNVDZFREQ1MkpQRlBGTFlLWjRYT0FERTU3TjJTSVlXV01BNnwwQTY2MEE3MDEzMzVFMDNFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1187']
    status: {code: 202, message: Accepted}
version: 1
