interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"kind": "Storage", "sku": {"name": "Standard_LRS"}, "properties": {"supportsHttpsTrafficOnly":
      false}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/950ad4cd-3e66-4ba8-bc33-2f6ec31f0fa0?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/950ad4cd-3e66-4ba8-bc33-2f6ec31f0fa0?monitor=true&api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/950ad4cd-3e66-4ba8-bc33-2f6ec31f0fa0?monitor=true&api-version=2017-06-01']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/950ad4cd-3e66-4ba8-bc33-2f6ec31f0fa0?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-08-31T17:10:02.3829737Z","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-06-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"Guu19EB0Zb07z+HG0CSrGupMAKRSisJV7Vb4hw+Kr+D5lWoFJoTqIY+R/n4h/nAPhyLGrWzeOqQ65M61yyh2zg=="},{"keyName":"key2","permissions":"Full","value":"FA67hqqdfiBvtJ/hT/7yyIqA49CuI5A4/DCJbkTVYWJOCjOYSWypysQ1GO0ZxOC011OoFRcIpWO6nf4OXYlpUg=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/regenerateKey?api-version=2017-06-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"RMtejun2H0YUVnk9yKgV6yhPb9Ou0ONad451nikBfRJxvLcvCXv3quQZIg+uZVUEx74McOCPRggYP77z93Sz4w=="},{"keyName":"key2","permissions":"Full","value":"FA67hqqdfiBvtJ/hT/7yyIqA49CuI5A4/DCJbkTVYWJOCjOYSWypysQ1GO0ZxOC011OoFRcIpWO6nf4OXYlpUg=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkcyQUJDSVpJWlpSR0JOVEpPS1VKQTJJSVFHQUU0UVRJQk5PNnwyOTE3OEMwRkM1M0E2MUJELVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
