interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/dc3baab1-65b0-485a-9f27-c7340df8fdf3?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/dc3baab1-65b0-485a-9f27-c7340df8fdf3?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-12-11T00:27:00.3618954Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-11T00:27:00.3648951Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-11T00:27:00.3648951Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-06-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"J1RMD5/RQYc3NxnlQXYD043H9Q9srz8OG3Gg37X4rSKbrEcPTZHqXTd13D1b+HnP+L+VkkEVQdb9f+gx8fQHbA=="},{"keyName":"key2","permissions":"Full","value":"9IzrgL77p6hhdylUVWnMs13ijPw2/frKCWoE5pu3ZeLURKgXcvk7cisd47Cb44cNJ2EtkqGm6tsAIpwliRGT+A=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 11 Dec 2017 00:27:20 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5402DF054277E"']
      last-modified: ['Mon, 11 Dec 2017 00:27:19 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 11 Dec 2017 00:27:21 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5402DF0AA3D60"']
      last-modified: ['Mon, 11 Dec 2017 00:27:19 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['524288']
      x-ms-date: ['Mon, 11 Dec 2017 00:27:21 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5402DF10EB6CB"']
      last-modified: ['Mon, 11 Dec 2017 00:27:20 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Mon, 11 Dec 2017 00:27:22 GMT']
      x-ms-range: [bytes=0-524287]
      x-ms-version: ['2017-04-17']
      x-ms-write: [update]
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body: {string: ''}
    headers:
      content-md5: [WQcVkAmdId1DmJZZIzi/lQ==]
      etag: ['"0x8D5402DF1822736"']
      last-modified: ['Mon, 11 Dec 2017 00:27:21 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 11 Dec 2017 00:27:23 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5402DF1822736"']
      last-modified: ['Mon, 11 Dec 2017 00:27:21 GMT']
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitestvhh4xbvyqshpjx3wl.file.core.windows.net/shareqswtkgzfulx57gk5dmj/dir1/source_file.txt']
      x-ms-date: ['Mon, 11 Dec 2017 00:27:23 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5402DF256B4E0"']
      last-modified: ['Mon, 11 Dec 2017 00:27:22 GMT']
      x-ms-copy-id: [cc75dd15-c8b1-4b51-a582-2cb4cf8a6723]
      x-ms-copy-status: [success]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 11 Dec 2017 00:27:24 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5402DF256B4E0"']
      last-modified: ['Mon, 11 Dec 2017 00:27:22 GMT']
      x-ms-copy-completion-time: ['Mon, 11 Dec 2017 00:27:22 GMT']
      x-ms-copy-id: [cc75dd15-c8b1-4b51-a582-2cb4cf8a6723]
      x-ms-copy-progress: [524288/524288]
      x-ms-copy-source: ['https://clitestvhh4xbvyqshpjx3wl.file.core.windows.net/shareqswtkgzfulx57gk5dmj/dir1/source_file.txt']
      x-ms-copy-status: [success]
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdER0lRTk1WVk9USk9GQ0xMT0NGUlFTSURHWkpVMzNXMlBDNnw2OTQ1RTA2NTFBN0UwRDI2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
