interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1187']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"supportsHttpsTrafficOnly": false},
      "sku": {"name": "Standard_LRS"}, "kind": "Storage"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/90169756-4838-47b2-a483-b5008e4986b0?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/90169756-4838-47b2-a483-b5008e4986b0?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-12-19T04:23:56.4559180Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-19T04:23:56.5029230Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-19T04:23:56.5029230Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"qMW3GiHpf5eS1gMtc3kOholUj5RmJzIyI5PXoLKkt0vPxzdtRkHOBAHfs7W0J+A4pa9mi/X49EvDdX5GOj3tIg=="},{"keyName":"key2","permissions":"Full","value":"oNL9OKfPuvBEZrIY9upFKhnCD5Oj2LXIKelZ3ra7bM9TDDe4D7MSB9GKfClUUkVCp32BJ0+/pg8dKGM45pw54w=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:24:19 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546985DF43951"']
      last-modified: ['Tue, 19 Dec 2017 04:24:16 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: "# --------------------------------------------------------------------------------------------\r\
      \n# Copyright (c) Microsoft Corporation. All rights reserved.\r\n# Licensed\
      \ under the MIT License. See License.txt in the project root for license information.\r\
      \n# --------------------------------------------------------------------------------------------\r\
      \n\r\nimport os\r\nimport re\r\nimport unittest\r\nfrom datetime import datetime,\
      \[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:24:21 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=metadata
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546985E88B5F1"']
      last-modified: ['Tue, 19 Dec 2017 04:24:17 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkczT1FUWkQ0VURXNVU1SDdTWTQzWlhRUzZOWVhYV0tDWTNBSXw0NjY2Qjg2Rjc3MEJFNzlGLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
version: 1
