interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1190']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/ff05a677-5db3-4748-8766-42938e4affb7?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/ff05a677-5db3-4748-8766-42938e4affb7?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-10-25T00:01:38.6571927Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-10-25T00:01:38.6601941Z"},"file":{"enabled":true,"lastEnabledTime":"2017-10-25T00:01:38.6601941Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-06-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"JdVNa1DNE0m2u2yfYmBick8QcRFkE5/24XbBZYgMFscmdjHFcv3+596ZVB/sOh4xEEhEsnc2JnGitFBwS+/9SQ=="},{"keyName":"key2","permissions":"Full","value":"PtDfBxD3r/LZZc/7Oaxi6XYADf05/hrGXTlAoNtsG60T5SaseM5FifOSTgN23rBBFcJkblZC7iUZYqqxt8BkNg=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Oct 2017 00:01:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D51B3B9C350289"']
      last-modified: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob%C4%9F%C5%9F%C5%9E
  response:
    body: {string: ''}
    headers:
      content-md5: [zjOP5omXeKrPwoQU8tlJiw==]
      content-type: [application/octet-stream]
      etag: ['"0x8D51B3B9C4EC168"']
      last-modified: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitest4e6ua6brnu2stjdmj.blob.core.windows.net/contpv54wwkciyigyxycewc2/blob%C4%9F%C5%9F%C5%9E']
      x-ms-date: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob%C4%9F%C5%9F%C5%9E
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D51B3B9CA02946"']
      last-modified: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-copy-id: [0dcc10fa-8d85-4908-80d0-e02b2c46c246]
      x-ms-copy-status: [success]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob%C4%9F%C5%9F%C5%9E
  response:
    body: {string: ''}
    headers:
      content-md5: [zjOP5omXeKrPwoQU8tlJiw==]
      content-type: [application/octet-stream]
      etag: ['"0x8D51B3B9CA02946"']
      last-modified: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-copy-completion-time: ['Wed, 25 Oct 2017 00:01:58 GMT']
      x-ms-copy-id: [0dcc10fa-8d85-4908-80d0-e02b2c46c246]
      x-ms-copy-progress: [16384/16384]
      x-ms-copy-source: ['https://clitest4e6ua6brnu2stjdmj.blob.core.windows.net/contpv54wwkciyigyxycewc2/blob%C4%9F%C5%9F%C5%9E']
      x-ms-copy-status: [success]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Oct 2017 00:01:59 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"\
        cont000003\"><Blobs><Blob><Name>blob\xC9</Name><Properties><Last-Modified>Wed,\
        \ 25 Oct 2017 00:01:59 GMT</Last-Modified><Etag>0x8D51B3B9CE8DCA3</Etag><Content-Length>16384</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>zjOP5omXeKrPwoQU8tlJiw==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob\u011F\
        \u015F\u015E</Name><Properties><Last-Modified>Wed, 25 Oct 2017 00:01:58 GMT</Last-Modified><Etag>0x8D51B3B9C4EC168</Etag><Content-Length>16384</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>zjOP5omXeKrPwoQU8tlJiw==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdNV0tYRVhNTUVJQzRDU1FQRzYyTDRESkY2RUlCMzRIM0NWVnwzQjAyQkQ2MUU3MzA0RTQ5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
