interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"supportsHttpsTrafficOnly": false}, "sku": {"name": "Standard_RAGRS"},
      "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/3ed38803-6a59-4b1f-b61c-d9c19b7c1eba?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/3ed38803-6a59-4b1f-b61c-d9c19b7c1eba?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-12-19T04:22:02.7958310Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-19T04:22:02.7988329Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-19T04:22:02.7988329Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","secondaryEndpoints":{"blob":"https://clitest000002-secondary.blob.core.windows.net/","queue":"https://clitest000002-secondary.queue.core.windows.net/","table":"https://clitest000002-secondary.table.core.windows.net/"},"secondaryLocation":"eastus","statusOfPrimary":"available","statusOfSecondary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_RAGRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"mLxCIBvgza2KMR61PCUekIM+l/je/MhCsJY+pLGPxhxyCcd5mwtK2uXP36bpUiEdjFl/o4Jt0ZmSXy06RuPvhA=="},{"keyName":"key2","permissions":"Full","value":"KQvp+aZiMtNqqAGpRslvZnApfuNV9Jwzmb1z0Q/hMlPv472NSoIlNoSsJxlrsw1LVSOQT0CvXnnOXrycjusg4Q=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:26 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:26 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-approximate-messages-count: ['0']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:27 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:28 GMT']
      x-ms-meta-e: [f]
      x-ms-meta-g: [h]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:30 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<SignedIdentifiers><SignedIdentifier><Id>policy000004</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:30 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:35 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>837883b0-9919-446a-808d-172846871e79</MessageId><InsertionTime>Tue,\
        \ 19 Dec 2017 04:22:32 GMT</InsertionTime><ExpirationTime>Tue, 26 Dec 2017\
        \ 04:22:32 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjB+R/YB40wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 19 Dec 2017 04:22:32 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>837883b0-9919-446a-808d-172846871e79</MessageId><InsertionTime>Tue,\
        \ 19 Dec 2017 04:22:32 GMT</InsertionTime><ExpirationTime>Tue, 26 Dec 2017\
        \ 04:22:32 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test\
        \ message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:37 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/837883b0-9919-446a-808d-172846871e79?popreceipt=AgAAAAMAAAAAAAAABqRFEIF40wE%3D&visibilitytimeout=1
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAiPhj/4B40wEBAAAA]
      x-ms-time-next-visible: ['Tue, 19 Dec 2017 04:22:35 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:42 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?numofmessages=32&peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>837883b0-9919-446a-808d-172846871e79</MessageId><InsertionTime>Tue,\
        \ 19 Dec 2017 04:22:32 GMT</InsertionTime><ExpirationTime>Tue, 26 Dec 2017\
        \ 04:22:32 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new\
        \ message!</MessageText></QueueMessage><QueueMessage><MessageId>adb51dcc-9d8a-4fc3-b622-67df5bceafc0</MessageId><InsertionTime>Tue,\
        \ 19 Dec 2017 04:22:38 GMT</InsertionTime><ExpirationTime>Tue, 26 Dec 2017\
        \ 04:22:38 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second\
        \ message</MessageText></QueueMessage><QueueMessage><MessageId>54ed63f6-3c23-4beb-87dd-eaf130f3ebf1</MessageId><InsertionTime>Tue,\
        \ 19 Dec 2017 04:22:38 GMT</InsertionTime><ExpirationTime>Tue, 26 Dec 2017\
        \ 04:22:38 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third\
        \ message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:43 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/837883b0-9919-446a-808d-172846871e79?popreceipt=AgAAAAMAAAAAAAAAD8KyE4F40wE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:45 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The\
        \ specified queue does not exist.\nRequestId:5010a2ee-0003-000d-6a81-78d765000000\n\
        Time:2017-12-19T04:22:42.7923796Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: The specified queue does not exist.}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:46 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?comp=stats&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc3S0xVWjZPUUpLNEdKMjdVUVVaVTMyVkNHVEI0MlAzQkpBTnxDODI3RDk1OTU1QjM3MThDLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
version: 1
