interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"supportsHttpsTrafficOnly": false},
      "sku": {"name": "Standard_RAGRS"}, "kind": "Storage"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/429ee178-8325-444a-9cc5-6ffbeb4e5112?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/429ee178-8325-444a-9cc5-6ffbeb4e5112?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-08-31T17:23:01.7394892Z","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","secondaryEndpoints":{"blob":"https://clitest000002-secondary.blob.core.windows.net/","queue":"https://clitest000002-secondary.queue.core.windows.net/","table":"https://clitest000002-secondary.table.core.windows.net/"},"secondaryLocation":"eastus","statusOfPrimary":"available","statusOfSecondary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_RAGRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-06-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"YnjHexpEP+A2VwboKs293QccOZsNoW2SvrYdwaCZWhLHmyAshjnDbcyGB6ydXVn8ZKl3/iUVWOPpvQj1qzK3JA=="},{"keyName":"key2","permissions":"Full","value":"RRhyl1w2ri1Xz4Lcj5ORK/B0y637LSrrwsui7fQJPJK12rB7XSlAICSIswBZVypootvaaoolQK1zHwsvGzUqaA=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:20 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:21 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-approximate-messages-count: ['0']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:21 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:22 GMT']
      x-ms-meta-e: [f]
      x-ms-meta-g: [h]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:23 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<SignedIdentifiers><SignedIdentifier><Id>policy000004</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:23 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:27 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4d1b74e7-3234-4085-b3cf-da50b42a8c3b</MessageId><InsertionTime>Thu,
        31 Aug 2017 17:23:27 GMT</InsertionTime><ExpirationTime>Thu, 07 Sep 2017 17:23:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAaMDE230i0wE=</PopReceipt><TimeNextVisible>Thu,
        31 Aug 2017 17:23:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:27 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4d1b74e7-3234-4085-b3cf-da50b42a8c3b</MessageId><InsertionTime>Thu,
        31 Aug 2017 17:23:27 GMT</InsertionTime><ExpirationTime>Thu, 07 Sep 2017 17:23:27
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/4d1b74e7-3234-4085-b3cf-da50b42a8c3b?visibilitytimeout=1&popreceipt=AgAAAAMAAAAAAAAAQrQB7n0i0wE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAssL83H0i0wEBAAAA]
      x-ms-time-next-visible: ['Thu, 31 Aug 2017 17:23:29 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:31 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?numofmessages=32&peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4d1b74e7-3234-4085-b3cf-da50b42a8c3b</MessageId><InsertionTime>Thu,
        31 Aug 2017 17:23:27 GMT</InsertionTime><ExpirationTime>Thu, 07 Sep 2017 17:23:27
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>9ef32f9d-dd60-410e-9a35-3cf8eb1f1131</MessageId><InsertionTime>Thu,
        31 Aug 2017 17:23:31 GMT</InsertionTime><ExpirationTime>Thu, 07 Sep 2017 17:23:31
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>d89ebb15-70ee-4064-a2d9-2abae514422e</MessageId><InsertionTime>Thu,
        31 Aug 2017 17:23:31 GMT</InsertionTime><ExpirationTime>Thu, 07 Sep 2017 17:23:31
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:32 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/4d1b74e7-3234-4085-b3cf-da50b42a8c3b?popreceipt=AgAAAAMAAAAAAAAAdFPF8H0i0wE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:34 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:de348958-0003-0103-287d-221186000000\nTime:2017-08-31T17:23:34.6165731Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: The specified queue does not exist.}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 31 Aug 2017 17:23:34 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?comp=stats&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu,
        31 Aug 2017 17:21:41 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdXUVZWRTNGTklRUkNDTEpKUE1IVVhEWDJHQ1I1RzJBSEFRQ3w5RTI4N0RGNjhCMzcwQURDLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 202, message: Accepted}
version: 1
