interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/6acfd1e7-7019-430d-b739-9afc7436494a?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/6acfd1e7-7019-430d-b739-9afc7436494a?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-09-20T18:43:08.5884023Z","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-06-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"V7oGM9ejf8XxlOfc+lXeEKgRcBc2ZdlwoWpnNvVQ4n9VRBIUyC++1nE3Oeylksy+SgkRnA+EFi7OIx3BHUTZZg=="},{"keyName":"key2","permissions":"Full","value":"MKClkJVFo2vO1SklPTCKD+Zyh/esPaW6HqTyqdUoQMKbH+yOBPbiUwWmEE4vlX3JXJcu/B6BhlHhJcQ28uEgzA=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 20 Sep 2017 18:43:27 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D500577BEBD96E"']
      last-modified: ['Wed, 20 Sep 2017 18:43:28 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 20 Sep 2017 18:43:28 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D500577BEBD96E"']
      last-modified: ['Wed, 20 Sep 2017 18:43:28 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 20 Sep 2017 18:43:28 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D500577BEBD96E"']
      last-modified: ['Wed, 20 Sep 2017 18:43:28 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers />'
    headers:
      x-ms-blob-public-access: [blob]
      x-ms-date: ['Wed, 20 Sep 2017 18:43:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D500577C227416"']
      last-modified: ['Wed, 20 Sep 2017 18:43:28 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 20 Sep 2017 18:43:29 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><Containers><Container><Name>cont000003</Name><Properties><Last-Modified>Wed,
        20 Sep 2017 18:43:29 GMT</Last-Modified><Etag>\"0x8D500577C94AC16\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 20 Sep 2017 18:43:30 GMT']
      x-ms-meta-foo: [bar]
      x-ms-meta-moo: [bak]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=metadata
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D500577D22D58E"']
      last-modified: ['Wed, 20 Sep 2017 18:43:30 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Modified-Since: ['Fri, 01 Apr 2016 12:00:00 GMT']
      x-ms-date: ['Wed, 20 Sep 2017 18:43:31 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['60']
      x-ms-proposed-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=lease
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D500577D6FCB56"']
      last-modified: ['Wed, 20 Sep 2017 18:43:30 GMT']
      x-ms-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 20 Sep 2017 18:43:32 GMT']
      x-ms-lease-action: [break]
      x-ms-lease-break-period: ['30']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container&comp=lease
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D500577D6FCB56"']
      last-modified: ['Wed, 20 Sep 2017 18:43:30 GMT']
      x-ms-lease-time: ['30']
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 20 Sep 2017 18:43:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:00118c76-001e-001e-4640-328e39000000\nTime:2017-09-20T18:43:34.2049532Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: The specified container does not exist.}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdRV0VEVlJNN0FQUUZDNE02N0dLQVdMNUNQSUVXRk01NFJVTHwwODFFMDcxMDZGRjMwRDVELVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 202, message: Accepted}
version: 1
