interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1179']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"supportsHttpsTrafficOnly": false},
      "sku": {"name": "Standard_LRS"}, "kind": "Storage"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/941092df-760d-4507-97e2-5c5ce75a431c?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/941092df-760d-4507-97e2-5c5ce75a431c?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-12-19T04:22:01.4607210Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-19T04:22:01.4627173Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-19T04:22:01.4627173Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"ryYojwMP3dI6EKp5zNCx3nUCnfCGC9Z2OSGP9Ib8K0PrX0yRfZTdLP7O3h78IJbym/wxdvYcQpUleSsPiggLGA=="},{"keyName":"key2","permissions":"Full","value":"jqBoRB8Asjc71dcystOU9uQ4mlODRM7lLsNzBVOsArdy7V1ritD0vjYCLScyLYlMyUQM/ABRkCidXpVXHunoNQ=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1180']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:25 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D54698198E0C3A"']
      last-modified: ['Tue, 19 Dec 2017 04:22:22 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:25 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D54698198E0C3A"']
      last-modified: ['Tue, 19 Dec 2017 04:22:22 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:26 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?comp=acl&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D54698198E0C3A"']
      last-modified: ['Tue, 19 Dec 2017 04:22:22 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers />'
    headers:
      x-ms-blob-public-access: [blob]
      x-ms-date: ['Tue, 19 Dec 2017 04:22:26 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?comp=acl&restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546981A26FD3C"']
      last-modified: ['Tue, 19 Dec 2017 04:22:23 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:29 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><Containers><Container><Name>cont000003</Name><Properties><Last-Modified>Tue,\
        \ 19 Dec 2017 04:22:24 GMT</Last-Modified><Etag>\"0x8D546981AF56F6B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:30 GMT']
      x-ms-meta-foo: [bar]
      x-ms-meta-moo: [bak]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?comp=metadata&restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546981C53DF95"']
      last-modified: ['Tue, 19 Dec 2017 04:22:26 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Modified-Since: ['Fri, 01 Apr 2016 12:00:00 GMT']
      x-ms-date: ['Tue, 19 Dec 2017 04:22:32 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['60']
      x-ms-proposed-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?comp=lease&restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546981CFD0F9E"']
      last-modified: ['Tue, 19 Dec 2017 04:22:27 GMT']
      x-ms-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:36 GMT']
      x-ms-lease-action: [break]
      x-ms-lease-break-period: ['30']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?comp=lease&restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546981CFD0F9E"']
      last-modified: ['Tue, 19 Dec 2017 04:22:27 GMT']
      x-ms-lease-time: ['29']
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The\
        \ specified container does not exist.\nRequestId:eccedbe9-001e-0037-7681-78af9d000000\n\
        Time:2017-12-19T04:22:37.2006402Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: The specified container does not exist.}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdHQTRMRlpIQllUQVRSUDQ0V1hRSFZWWTdORlhSVkNDWkJQMnxFRkJFRjUwN0RCQzA4OUQwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
