interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 05 Apr 2016 23:25:57 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://travistestresourcegr3014.blob.core.windows.net/testcontainer1234?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://travistestresourcegr3014.blob.core.windows.net/\"\
        \ ContainerName=\"testcontainer1234\"><Blobs><Blob><Name>testblobl</Name><Properties><Last-Modified>Thu,\
        \ 24 Mar 2016 16:04:34 GMT</Last-Modified><Etag>0x8D353FDFE4824F8</Etag><Content-Length>89344384</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition\
        \ /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
version: 1
