interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 06 Apr 2016 15:35:08 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://travistestresourcegr3014.file.core.windows.net/testshare01/testdir1?restype=directory&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://travistestresourcegr3014.file.core.windows.net/\"\
        \ ShareName=\"testshare01\" DirectoryPath=\"testdir1\"><Entries><Directory><Name>test</Name><Properties\
        \ /></Directory><File><Name>test.txt</Name><Properties><Content-Length>89344384</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
version: 1
