# Azure DevOps task for automation test using azdev and pytest

parameters:
- name: pythonVersion
  type: string
  default: 3.8
- name: profile
  type: string
  default: latest
- name: fullTest
  displayName: Run full test?
  type: boolean
  default: false
- name: module
  displayName: Run test for specific module
  type: string
  default: ''

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: ${{ parameters.pythonVersion }}
      displayName: "Use Python ${{ parameters.pythonVersion }}"
  - template: ./azdev_setup.yml
  - bash: |
      set -ev

      source env/bin/activate

      echo pythonVersion: ${{ parameters.pythonVersion }}
      echo profile: ${{ parameters.profile }}
      echo fullTest: ${{ parameters.fullTest }}
      echo module: ${{ parameters.module }}
      echo Build.Reason: $(Build.Reason)

      series_modules="appservice botservice cloud network"

      # Test specific module
      module="${{ parameters.module }}"
      if [[ -n $module ]]; then
        echo "Running test for module '$module'"
        # Determine whether the module belongs to series_modules
        if [[ "$series_modules" =~ "$module" ]]
        then
          echo "Running in series"
          azdev test --no-exitfirst --verbose --series $module --pytest-args "--durations=0"
        else
          echo "Running in parallels"
          azdev test --no-exitfirst --verbose $module --pytest-args "--durations=0"
        fi
        exit 0
      fi

      if [[ "$(Build.Reason)" == "PullRequest" && "${{ parameters.fullTest }}" == 'False' ]]; then
        echo "Running incremental test"
        # If CI is set to shallow fetch, target branch should be expilictly fetched.
        git fetch origin --depth=1 $(System.PullRequest.TargetBranch)
        azdev test --no-exitfirst --repo=./ --src=HEAD --tgt=origin/$(System.PullRequest.TargetBranch) --cli-ci --profile ${{ parameters.profile }} --verbose --series --pytest-args "--durations=0"
        # azdev test --no-exitfirst --repo=./ --src=HEAD --tgt=origin/$(System.PullRequest.TargetBranch) --cli-ci --profile ${{ parameters.profile }} --verbose --pytest-args "--durations=0"
      else
        echo "Running full test"
        # azdev test --no-exitfirst --profile ${{ parameters.profile }} --verbose --series --pytest-args "--durations=0"
        azdev test --no-exitfirst --profile ${{ parameters.profile }} --verbose --pytest-args "--durations=0"
      fi
    displayName: "azdev test"
    env:
      ADO_PULL_REQUEST_LATEST_COMMIT: $(System.PullRequest.TargetBranch)
