parameters:
  - name: CLIRepoPath
    type: string
    default: '.'
  - name: CLIExtensionRepoPath
    type: string
    default: ''

steps:
  - bash: |
      set -ev

      python -m venv env
      chmod +x env/bin/activate
      . env/bin/activate

      pip install -q git+https://github.com/bquantump/azure-cli-dev-tools.git@master

      azdev --version

      azdev test -h

      #if [ -z "$CLI_EXT_REPO_PATH" ]; then
      #  azdev setup -c $CLI_REPO_PATH
      #else
      azdev setup -c $CLI_REPO_PATH -r $CLI_EXT_REPO_PATH
      # fi
    displayName: 'Azdev Setup'
    env:
      CLI_REPO_PATH: ${{ parameters.CLIRepoPath }}
      CLI_EXT_REPO_PATH: ${{ parameters.CLIExtensionRepoPath }}
