interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-03-19T16:29:26Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-03-19T16:29:26Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/8e770810-cb0d-4511-85ed-76576d2d1d2c?monitor=true&api-version=2017-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/8e770810-cb0d-4511-85ed-76576d2d1d2c?monitor=true&api-version=2017-10-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-03-19T16:29:27.7517024Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-03-19T16:29:27.7517024Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-03-19T16:29:27.5329445Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:30:07 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6AC8826CD638A"'
      last-modified:
      - Tue, 19 Mar 2019 16:30:08 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Tue, 19 Mar 2019 16:30:08 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6AC882705A223"'
      last-modified:
      - Tue, 19 Mar 2019 16:30:08 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:30:09 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6AC882705A223"'
      last-modified:
      - Tue, 19 Mar 2019 16:30:08 GMT
      x-ms-snapshot:
      - '2019-03-19T16:30:09.5158040Z'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestefwajk2pnf3zy4qqf.blob.core.windows.net/conte3atd2mpwhhj7aggyvsu/src?se=2019-03-20T16%3A30%3A11Z&sp=r&spr=https&sv=2017-11-09&sr=b&sig=22qgvxiaem5eZEYwtL0L8pYVR6kyy2dUb8DgY6aPUH0%3D&snapshot=2019-03-19T16:30:09.5158040Z
      x-ms-date:
      - Tue, 19 Mar 2019 16:30:11 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6AC8828C7171A"'
      last-modified:
      - Tue, 19 Mar 2019 16:30:11 GMT
      x-ms-copy-id:
      - 8272d523-34d4-470a-bef7-425c9dac7ed9
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2017-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdDSzVCTk0zQkRGSFQyVFlNNkpYQTI3Vk1BQUtQNlJIVjJGRnxBRkE0M0JGOEE1MkI2REM0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
