interactions:
- request:
    body: null
    headers:
      return-client-request-id: ['true']
      x-client-CPU: [x86]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [0.5.0]
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F83398c96-804e-4d3b-90f6-f96a096c64d5%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body: {string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/83398c96-804e-4d3b-90f6-f96a096c64d5/.well-known/openid-configuration"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders?api-version=2018-06-01
  response:
    body: {string: '{"value":[{"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057","type":"Microsoft.Capacity/reservationOrders","name":"79001a2a-ec6b-408b-b1bf-d6651cebd057","etag":7,"properties":{"displayName":"bigCatTest_NCv2","requestDateTime":"2018-05-29T21:28:02.9894409Z","createdDateTime":"2018-05-29T21:29:29.9484494Z","expiryDate":"2019-05-29","term":"P1Y","provisioningState":"Succeeded","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/7e4e7046-6e22-4140-8285-6931d2bf7791"}],"originalQuantity":2}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
