interactions:
- request:
    body: null
    headers:
      return-client-request-id: ['true']
      x-client-CPU: [x86]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [0.5.0]
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F83398c96-804e-4d3b-90f6-f96a096c64d5%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body: {string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/83398c96-804e-4d3b-90f6-f96a096c64d5/.well-known/openid-configuration"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/7e4e7046-6e22-4140-8285-6931d2bf7791?api-version=2018-06-01
  response:
    body: {string: '{"sku":{"name":"Standard_NC12s_v2"},"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/7e4e7046-6e22-4140-8285-6931d2bf7791","type":"Microsoft.Capacity/reservationOrders/reservations","name":"79001a2a-ec6b-408b-b1bf-d6651cebd057/7e4e7046-6e22-4140-8285-6931d2bf7791","etag":11,"location":"westeurope","properties":{"appliedScopeType":"Shared","quantity":2,"provisioningState":"Succeeded","expiryDate":"2019-05-29","displayName":"bigCatTest_NCv2","effectiveDateTime":"2018-05-29T21:36:12.1334534Z","lastUpdatedDateTime":"2018-05-29T21:36:14.2816193Z","reservedResourceType":"VirtualMachines","autoFit":"InstanceFlexibilityOn"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"quantities": [1, 1], "reservationId": "/providers/Microsoft.Capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/7e4e7046-6e22-4140-8285-6931d2bf7791"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/split?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_NC12s_v2"},"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/d9f14956-c758-4be9-a1ef-042b3a1fed76","type":"Microsoft.Capacity/reservationOrders/reservations","name":"79001a2a-ec6b-408b-b1bf-d6651cebd057/d9f14956-c758-4be9-a1ef-042b3a1fed76","etag":2,"kind":"Microsoft.Compute","location":"westeurope","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Succeeded","expiryDate":"2019-05-29","displayName":"bigCatTest_NCv2","effectiveDateTime":"2018-05-29T21:37:19.5041562Z","lastUpdatedDateTime":"2018-05-29T21:37:22.6682931Z","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/7e4e7046-6e22-4140-8285-6931d2bf7791"}}},{"sku":{"name":"Standard_NC12s_v2"},"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/6f163126-87fd-4c27-955b-a4a5c264fe1b","type":"Microsoft.Capacity/reservationOrders/reservations","name":"79001a2a-ec6b-408b-b1bf-d6651cebd057/6f163126-87fd-4c27-955b-a4a5c264fe1b","etag":2,"kind":"Microsoft.Compute","loc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationorders/79001a2a-ec6b-408b-b1bf-d6651cebd057/split/operationresults/7e4e7046-6e22-4140-8285-6931d2bf7791_12?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_NC12s_v2"},"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/d9f14956-c758-4be9-a1ef-042b3a1fed76","type":"M[...]
[...]
- request:
    body: '{"properties": {"sources": ["/providers/Microsoft.Capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/d9f14956-c758-4be9-a1ef-042b3a1fed76",
      "/providers/Microsoft.Capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/6f163126-87fd-4c27-955b-a4a5c264fe1b"]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/merge?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_NC12s_v2"},"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/d9f14956-c758-4be9-a1ef-042b3a1fed76","type":"Microsoft.Capacity/reservationOrders/reservations","name":"79001a2a-ec6b-408b-b1bf-d6651cebd057/d9f14956-c758-4be9-a1ef-042b3a1fed76","etag":5,"kind":"Microsoft.Compute","location":"westeurope","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Cancelled","expiryDate":"2019-05-29","displayName":"bigCatTest_NCv2","effectiveDateTime":"2018-05-29T21:37:44.4317888Z","extendedStatusInfo":{"statusCode":"Merged","message":"This
        reservation was merged and is no longer active."},"lastUpdatedDateTime":"2018-05-29T21:37:44.4317888Z","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/7e4e7046-6e22-4140-8285-6931d2bf7791"},"mergeProperties":{"mergeDestination":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/fe0ad01b-8b24-4527-a1a3-db00e5f83a8f"}}},{"sku":{"name":"Standard_NC12s_v2"},"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/6f163126-87fd-4c27-955b-a4a5c264fe1b","type":"Microsoft.Capacity/reservationOrders/reservations","name":"79001a2a-ec6b-408b-b1bf-d6651cebd057/6f163126-87fd-4c27-955b-a4a5c264fe1b","etag":4,"kind":"Microsoft.Compute","loc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationorders/79001a2a-ec6b-408b-b1bf-d6651cebd057/merge/operationresults/d9f14956-c758-4be9-a1ef-042b3a1fed76_3?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_NC12s_v2"},"id":"/providers/microsoft.capacity/reservationOrders/79001a2a-ec6b-408b-b1bf-d6651cebd057/reservations/d9f14956-c758-4be9-a1ef-042b3a1fed76","type":"Mi[...]
