interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a?api-version=2017-11-01
  response:
    body: {string: '{"id":"/providers/microsoft.capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a","type":"Microsoft.Capacity/reservationOrders","name":"86d9870a-bf1e-4635-94c8-b0f08932bc3a","etag":16,"properties":{"displayName":"hyo_TestYong","requestDateTime":"2017-11-02T19:38:26.684952Z","createdDateTime":"2017-11-02T19:42:55.5893862Z","expiryDate":"2018-11-02","term":"P1Y","provisioningState":"Succeeded","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a/reservations/b17accea-8a13-4a80-9ca9-cc3bb7772f39"},{"id":"/providers/microsoft.capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a/reservations/36beb8e4-db5f-4502-ae42-630e464a5437"},{"id":"/providers/microsoft.capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a/reservations/7f08f1bc-0f4a-4bb7-9d50-d1d8d656179b"},{"id":"/providers/microsoft.capacity/reservationOrders/86d9870a-bf1[...]
