interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/de06a4f6-06a7-41c7-9bfb-822863669d05/revisions?api-version=2018-06-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/de06a4f6-06a7-41c7-9bfb-822863669d05/revisions/7","type":"Microsoft.Capacity/reservationOrders/reservations/revisions","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775/de06a4f6-06a7-41c7-9bfb-822863669d05/7","etag":7,"location":"eastasia","properties":{"appliedScopeType":"Shared","quantity":2,"provisioningState":"Succeeded","expiryDate":"2019-06-12","displayName":"CLI_testing","effectiveDateTime":"2018-06-12T01:14:26.9774076Z","lastUpdatedDateTime":"2018-06-12T01:14:26.9774076Z","reservedResourceType":"VirtualMachines","autoFit":"InstanceFlexibilityOff","instanceFlexibility":"Off","skuDescription":"Standard_B1ms"}},{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/de06a4f6-06a7-41c7-9bfb-822863669d05/revisions/6","type":"Microsoft.Capacity/reservationOrders/reservations/revisions","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775/de06a4f6-06a7-41c7-9bfb-822863669d05/6","etag":6,"location":"eastasia","properties":{"appliedScopeType":"Shared","quantity":2,"provisioningState":"ConfirmedBilling","expiryDate":"2019-06-12","displayName":"CLI_testing","effectiveDateTime":"2018-06-12T01:11:57.7302445Z","extendedStatusInfo":{"statusCode":"Pending","message":"Your
        payment has been successfully processed. We are finalizing your reservation."},"lastUpdatedDateTime":"2018-06-12T01:13:53.832704Z","reservedResourceType":"VirtualMachines","autoFit":"InstanceFlexibilityOff","instanceFlexibility":"Off","skuDescription":"Standard_B1ms"}},{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/de06a4f6-06a7-41c7-9bfb-822863669d05/revisions/5","type":"Microsoft.Capacity/res[...]
