interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775?api-version=2018-06-01
  response:
    body: {string: '{"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775","type":"Microsoft.Capacity/reservationOrders","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775","etag":7,"properties":{"displayName":"CLI_testing","requestDateTime":"2018-06-12T01:11:57.7302445Z","createdDateTime":"2018-06-12T01:14:26.9774076Z","expiryDate":"2019-06-12","term":"P1Y","provisioningState":"Succeeded","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/de06a4f6-06a7-41c7-9bfb-822863669d05"}],"originalQuantity":2}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
