interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a/reservations/0532ae1c-3c80-48a9-ae18-19cc2b6f4791?api-version=2017-11-01
  response:
    body: {string: '{"sku":{"name":"Standard_DS1"},"id":"/providers/microsoft.capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a/reservations/0532ae1c-3c80-48a9-ae18-19cc2b6f4791","type":"Microsoft.Capacity/reservationOrders/reservations","name":"86d9870a-bf1e-4635-94c8-b0f08932bc3a/0532ae1c-3c80-48a9-ae18-19cc2b6f4791","etag":2,"kind":"Microsoft.Compute","location":"japaneast","properties":{"appliedScopes":["/subscriptions/00000000-0000-0000-0000-000000000000"],"appliedScopeType":"Single","quantity":3,"provisioningState":"Succeeded","expiryDate":"2018-11-02","displayName":"hyo_TestYong","effectiveDateTime":"2017-11-06T18:34:04.8870098Z","lastUpdatedDateTime":"2017-11-06T18:34:09.6682436Z","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/86d9870a-bf1e-4635-94c8-b0f08932bc3a/reservations/a5748744-7432-477d-bc3c-b5f734be5f8d"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
