interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/4ed87136-43a4-4b7f-9a54-52b31740eea3?api-version=2018-06-01
  response:
    body: {string: '{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/4ed87136-43a4-4b7f-9a54-52b31740eea3","type":"Microsoft.Capacity/reservationOrders/reservations","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775/4ed87136-43a4-4b7f-9a54-52b31740eea3","etag":4,"location":"eastasia","properties":{"appliedScopeType":"Shared","quantity":2,"provisioningState":"Succeeded","expiryDate":"2019-06-12","displayName":"CLI_testing","effectiveDateTime":"2018-06-14T17:26:02.1986767Z","lastUpdatedDateTime":"2018-06-14T17:26:10.9055522Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Standard_B1ms","mergeProperties":{"mergeSources":["/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/b7083f62-5709-4efc-92d6-96c6be0bfb4b","/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/7e02bc47-e982-4c0f-9ecb-154eec5ffe6a"]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"quantities": [1, 1], "reservationId": "/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/4ed87136-43a4-4b7f-9a54-52b31740eea3"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/split?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/c379d4f5-44e6-4990-90fc-2999fafcec3a","type":"Microsoft.Capacity/reservationOrders/reservations","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775/c379d4f5-44e6-4990-90fc-2999fafcec3a","etag":2,"location":"eastasia","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Succeeded","expiryDate":"2019-06-12","displayName":"CLI_testing","effectiveDateTime":"2018-06-20T22:48:44.905158Z","lastUpdatedDateTime":"2018-06-20T22:48:53.4657583Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Standard_B1ms","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/4ed87136-43a4-4b7f-9a54-52b31740eea3"}}},{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/010139b6-c3f4-4b3a-9530-f928616507dc","type":"Microsoft.Capacity/reservationOrders/reservations","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775/010139b6-c3f4-4b3a-9530-f928616507dc","etag":2,"location":"eastasia","properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationorders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/split/operationresults/4ed87136-43a4-4b7f-9a54-52b31740eea3_5?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/c379d4f5-44e6-4990-90fc-2999fafcec3a","type":"Microsoft.Capacity/rese[...]
- request:
    body: '{"properties": {"sources": ["/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/c379d4f5-44e6-4990-90fc-2999fafcec3a",
      "/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/010139b6-c3f4-4b3a-9530-f928616507dc"]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/merge?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/c379d4f5-44e6-4990-90fc-2999fafcec3a","type":"Microsoft.Capacity/reservationOrders/reservations","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775/c379d4f5-44e6-4990-90fc-2999fafcec3a","etag":5,"location":"eastasia","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Cancelled","expiryDate":"2019-06-12","displayName":"CLI_testing","effectiveDateTime":"2018-06-20T22:49:16.9558763Z","extendedStatusInfo":{"statusCode":"Merged","message":"This
        reservation was merged and is no longer active."},"lastUpdatedDateTime":"2018-06-20T22:49:16.9558763Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Standard_B1ms","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/4ed87136-43a4-4b7f-9a54-52b31740eea3"},"mergeProperties":{"mergeDestination":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/e208f907-6d08-4b07-b857-91071cac521b"}}},{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/010139b6-c3f4-4b3a-9530-f928616507dc","type":"Microsoft.Capacity/reservationOrders/reservations","name":"98e884a1-2e01-4c9a-987e-e4e8be8f2775/010139b6-c3f4-4b3a-9530-f928616507dc","etag":4,"location":"eastasia","properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationorders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/merge/operationresults/c379d4f5-44e6-4990-90fc-2999fafcec3a_3?api-version=2018-06-01
  response:
    body: {string: '[{"sku":{"name":"Standard_B1ms"},"id":"/providers/microsoft.capacity/reservationOrders/98e884a1-2e01-4c9a-987e-e4e8be8f2775/reservations/c379d4f5-44e6-4990-90fc-2999fafcec3a","type":"Microsoft.Capacity/rese[...]
