interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2018-05-15T23:43:05Z", "product":
      "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_nat_pools000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001","name":"cli_test_lb_nat_pools000001","location":"westus","tags":{"date":"2018-05-15T23:43:05Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-02-01&$filter=resourceGroup%20eq%20%27cli_test_lb_nat_pools000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"contentVersion": "1.0.0.0", "resources":
      [{"name": "PublicIPlb1", "properties": {"publicIPAllocationMethod": "Dynamic"},
      "tags": {}, "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [],
      "type": "Microsoft.Network/publicIPAddresses"}, {"name": "lb1", "properties":
      {"frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd", "properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}}}],
      "backendAddressPools": [{"name": "lb1bepool"}]}, "tags": {}, "location": "westus",
      "apiVersion": "2015-06-15", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "type": "Microsoft.Network/loadBalancers"}], "variables": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "outputs": {"loadBalancer": {"value": "[reference(\''lb1\'')]",
      "type": "object"}}}, "mode": "Incremental", "parameters": {}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_nat_pools000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Resources/deployments/lb_deploy_Hwj2GJTJzbcV2dZaVDJnwXbwo0sA6Z46","name":"lb_deploy_Hwj2GJTJzbcV2dZaVDJnwXbwo0sA6Z46","properties":{"templateHash":"12621245982323435534","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-05-15T23:43:08.4921334Z","duration":"PT0.5360501S","correlationId":"8bf12c95-e83b-49d5-8464-74dbe088ff23","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_nat_pools000001/providers/Microsoft.Resources/deployments/lb_deploy_Hwj2GJTJzbcV2dZaVDJnwXbwo0sA6Z46/operationStatuses/08586751790975215312?api-version=2016-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_nat_pools000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586751790975215312?api-version=2016-02-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"3bdc124b-2abb-4dbe-8dcd-57b0d831c38d\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"c5af0184-a9d2-4faf-883b-395dd2286346\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"3bdc124b-2abb-4dbe-8dcd-57b0d831c38d\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"3bdc124b-2abb-4dbe-8dcd-57b0d831c38d\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3bdc124b-2abb-4dbe-8dcd-57b0d831c38d"]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"outboundNatRules":
      [], "backendAddressPools": [{"name": "lb1bepool", "properties": {"provisioningState":
      "Succeeded"}, "etag": "W/\\"3bdc124b-2abb-4dbe-8dcd-57b0d831c38d\\"", "id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"}],
      "provisioningState": "Succeeded", "probes": [], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"provisioningState": "Succeeded",
      "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "etag": "W/\\"3bdc124b-2abb-4dbe-8dcd-57b0d831c38d\\"", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "loadBalancingRules": [], "resourceGuid": "c5af0184-a9d2-4faf-883b-395dd2286346",
      "inboundNatRules": [], "inboundNatPools": [{"name": "rule1000", "properties":
      {"backendPort": 1000, "frontendPortRangeStart": 1000, "frontendPortRangeEnd":
      1999, "protocol": "Tcp", "frontendIPConfiguration": {"name": "LoadBalancerFrontEnd",
      "properties": {"provisioningState": "Succeeded", "privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "etag": "W/\\"3bdc124b-2abb-4dbe-8dcd-57b0d831c38d\\"", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_nat_pools000001/providers/Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/97924621-fbb3-4579-ad9b-d57e78a5cee3?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_nat_pools000001?api-version=2016-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGTEI6NUZOQVQ6NUZQT09MU1BCV1FBVjRCT0RCSU9BUjc1SXxBQzM1QUNGMEUwNjE5NkI1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
