interactions:
- request:
    body: grant_type=refresh_token&client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46&refresh_token=AQABAAAAAAA9kTklhVy7SJTGAzR-p1BcSIGrB-jtIpUhEcI21h4jZtYM891Gjws3NGlj037VyPiMMPDaDRo6mNEtOAaGFNX19SqXmTXDnvV-Pjow6k2zFd_a-1K1kjNJjoBp-VuatMd2WqzSSrDbT63BJxnXK7EMw_Ch5CLPNi1Nr_e9XzVzHVisSyppDUkmJb9IjgSCYM8dW4prSCTUQnlad4EmGeLrcEwjbPhcZIxLbojwpokS8XiMlRhwRSqagMizZrjLY8xU1d--5WHpvQR-ZjOV75FHc16S8jWDCTQfluT3hBytwssz4LO6Y5YcoitqZhR_ic0ckipB8hl_HCpEfXvrQC_4fV72-M84EB16agid9pVL6-BaaReEbAsNP0JsqgUIpTgdHKAhykf4TRlsCbh5-g4y6JwuSQ7_uwG8iZBGZrvagE2yMQ69q6bKXPsQ-PF3IPD-8hWgtJ2HP67K6EQBPLWT9ePV_AcwHnkOmkCT8ij9sZafFoN4b6XwMd06QUs9qQy3-S00laO75gkKEioRPBUQWPfh1g2Yn3dSxB4jl-cmyc1HxA8F_4ES8kodiaTrn2p9Rl1bI8n_ZJhPpcBaJ0BODgVoBsKhczz4ZBFri7wg75IE9nzFjqo4M3SfDc_WsJPZsHuex6-i8gLrQ5rwxakRapsKaT5eoiL4ucg9nVDnx7Grs5Bm8-B82VqQ5_sSOH-wu7Ro-iwCyLggCQ8Fi32VpaRrpfvK-nWmg82RWEQW8-fjpHJ2XXrJNxacpFR0q5XWpi9ajPXA7zcG6WYkBJSPcrJunp9xvCX6YXya_GpEjSIl5KGMXQvwkSp3j6M-4jbmam9XRzvhJoHHKJd22Ujz8PutZiiqInJCVP2shEivGJe3QUzVp_w-PPas0ER5QBBoiji8KgTcBcyMK8EERdrIgNzqkYILAhUjK0Aj9fXsQFXOWUkMai1dHm76_nIASoYgAA&resource=https%3A%2F%2Fadminmanagement.azurestackci05.onmicrosoft.com%2F7caeed5f-3bc3-435a-b558-5d5b7b0f1818
    headers:
      content-type: [application/x-www-form-urlencoded]
      return-client-request-id: ['true']
      x-client-CPU: [x86]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [0.4.3]
    method: POST
    uri: https://login.windows.net//89d6038f-a00e-452b-9e78-c953400c6865/oauth2/token
  response:
    body: {string: '{"token_type":"Bearer","scope":"user_impersonation","expires_in":"3599","ext_expires_in":"262800","expires_on":"1501478052","not_before":"1501474152","resource":"https://adminmanagement.azurestackci05.onmicrosoft.com/7caeed5f-3bc3-435a-b558-5d5b7b0f1818","access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlZXVkljMVdEMVRrc2JiMzAxc2FzTTVrT3E1USIsImtpZCI6IlZXVkljMVdEMVRrc2JiMzAxc2FzTTVrT3E1USJ9.eyJhdWQiOiJodHRwczovL2FkbWlubWFuYWdlbWVudC5henVyZXN0YWNrY2kwNS5vbm1pY3Jvc29mdC5jb20vN2NhZWVkNWYtM2JjMy00MzVhLWI1NTgtNWQ1YjdiMGYxODE4IiwiaXNzIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvODlkNjAzOGYtYTAwZS00NTJiLTllNzgtYzk1MzQwMGM2ODY1LyIsImlhdCI6MTUwMTQ3NDE1MiwibmJmIjoxNTAxNDc0MTUyLCJleHAiOjE1MDE0NzgwNTIsImFjciI6IjEiLCJhaW8iOiJBVFFBeS84RUFBQUFhYWdrVXBLeFZYWXJsWHU5ZEdPdHczOG[...]
- request:
    body: '{"location": "local", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_stack_scenario000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001","name":"cli_test_nic_stack_scenario000001","location":"local","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "local", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "mysubnet"}], "dhcpOptions": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/virtualNetworks/myvnet?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"myvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/virtualNetworks/myvnet\"\
        ,\r\n  \"etag\": \"W/\\\"e329d792-75b5-4caf-8b90-13feb2262565\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"local\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"6c11b57c-3700-4644-8d9d-1e91076bddf8\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"mysubnet\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet\"\
        ,\r\n        \"etag\": \"W/\\\"e329d792-75b5-4caf-8b90-13feb2262565\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ]\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/059b6780-70f2-4f7e-912a-468d04b258e3?api-version=2015-06-15']
      content-type: [application/json; charset=utf-8]
      www-authenticate: [oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvtxAYt/+1dXXZ2ZM6VpRpdK4MycChjN7lquPmKc42syptK1eqWC3z08OoocIYWjSD4k0WuAIK7m1iYA4OKnBXvMKLXbi5RzjGJu+UowYS9s+dpvcZLEg+5TfiE11i/UMjrD9OBErInHkXa/8Mf9nA]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/059b6780-70f2-4f7e-912a-468d04b258e3?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: [oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvqvo6tctp/0cXtVzWEO4h+4wbMUspUpgAC/Kbq0ZcMOx/rhGr6cUs8e2cwmYF+LEu4S6Mm3ZppbJP6pslzSIVE7A06C1KQJ/42ExAkpNGbMEIlhG7ShZieF+U7InIA2XQqP0+k8kFjRGZ+swmGHGT]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "local"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/mynsg?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"mynsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/mynsg\"\
        ,\r\n  \"etag\": \"W/\\\"27bc178e-32b8-4c97-b1a0-d0a3fb522ea7\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"local\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"f9441316-b4ec-4ab5-8b0f-550e283d4a76\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/mynsg/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"27bc178e-32b8-4c97-b1a0-d0a3fb522ea7\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\"\r\n        }\r\n      },\r\n      {\r\
        \n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/mynsg/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"27bc178e-32b8-4c97-b1a0-d0a3fb522ea7\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provi[...]
[...]
- request:
    body: '{"location": "local"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/myothernsg?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"myothernsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-0000000000[...]
[...]
- request:
    body: '{"location": "local", "properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Dynamic"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/publicIPAddresses/publicip1?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"publicip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-02-01&$filter=resourceGroup%20eq%20%27cli_test_nic_stack_scenario000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {}, "mode": "Incremental", "template":
      {"parameters": {}, "contentVersion": "1.0.0.0", "variables": {}, "resources":
      [{"type": "Microsoft.Network/publicIPAddresses", "name": "PublicIPmylb", "dependsOn":
      [], "location": "local", "tags": {}, "properties": {"publicIPAllocationMethod":
      "Dynamic"}, "apiVersion": "2015-06-15"}, {"type": "Microsoft.Network/loadBalancers",
      "name": "mylb", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPmylb"],
      "location": "local", "tags": {}, "properties": {"frontendIPConfigurations":
      [{"properties": {"publicIPAddress": {"id": "/subscriptions/12DFF41F-BD88-42A6-9E9A-79898CA9EEEB/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb"}},
      "name": "LoadBalancerFrontEnd"}], "backendAddressPools": [{"name": "mylbbepool"}]},
      "apiVersion": "2015-06-15"}], "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"loadBalancer": {"value": "[reference(\''mylb\'')]", "type": "object"}}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Resources/deployments/lb_deploy_CZ14EjNY6ridhlUSsF4tqM4yWBuYASAy","name":"lb_deploy_CZ14EjNY6ridhlUSsF4tqM4yWBuYASAy","properties":{"templateHash":"15519537599852144351","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-07-31T04:15:57.9879221Z","duration":"PT0.0626619S","correlationId":"7cfcad29-c1c8-48b5-bca4-4a00d5700016","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["local"]},{"resourceType":"loadBalancers","locations":["local"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPmylb"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb","resourceType":"Microsoft.Network/loadBalancers","resourceName":"mylb"}]}}'}
    headers:
      azure-asyncoperation: ['https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Resources/deployments/lb_deploy_CZ14EjNY6ridhlUSsF4tqM4yWBuYASAy/operationStatuses/08587001323275565869?api-version=2016-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202017-06-19T12%3A15%3A56Z%20and%20correlationId%20eq%20%277cfcad29-c1c8-48b5-bca4-4a00d5700016%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587001323275565869?api-version=2016-02-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"mylb\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb\"\
        ,\r\n  \"etag\": \"W/\\\"d05a2ef5-e968-42eb-9e61-33b6e5d132ee\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"local\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"e88b17f5-2713-4edf-b375-2719db4246b8\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"d05a2ef5-e968-42eb-9e61-33b6e5d132ee\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"mylbbepool\",\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool\"\
        ,\r\n        \"etag\": \"W/\\\"d05a2ef5-e968-42eb-9e61-33b6e5d132ee\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"d05a2ef5-e968-42eb-9e61-33b6e5d132ee"]
      www-authenticate: [oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv8iF/ibrYuuoKuA3hhhNVV46bmkPlpJkKk/Ky/cngMAnPF0kQ96O+GqAdgdcigDw1zZTPBPPWLI2PmzFR0hIQM+0j6GcQ3Ic736D/ZZwVQ5oKNz/NHo1KcdHDTvgWzBQLc1r5M3SA/8HJoQhkTeh0]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb",
      "tags": {}, "properties": {"frontendIPConfigurations": [{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb"},
      "provisioningState": "Succeeded", "privateIPAllocationMethod": "Dynamic"}, "etag":
      "W/\\"d05a2ef5-e968-42eb-9e61-33b6e5d132ee\\"", "name": "LoadBalancerFrontEnd"}],
      "provisioningState": "Succeeded", "loadBalancingRules": [], "outboundNatRules":
      [], "backendAddressPools": [{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool",
      "properties": {"provisioningState": "Succeeded"}, "etag": "W/\\"d05a2ef5-e968-42eb-9e61-33b6e5d132ee\\"",
      "name": "mylbbepool"}], "resourceGuid": "e88b17f5-2713-4edf-b375-2719db4246b8",
      "probes": [], "inboundNatRules": [{"properties": {"protocol": "Tcp", "frontendIPConfiguration":
      {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/publicIPAddresses/PublicIPmylb"},
      "provisioningState": "Succeeded", "privateIPAllocationMethod": "Dynamic"}, "etag":
      "W/\\"d05a2ef5-e968-42eb-9e61-33b6e5d132ee\\"", "name": "LoadBalancerFrontEnd"},
      "frontendPort": 100, "enableFloatingIP": false, "backendPort": 100}, "name":
      "rule1"}], "inboundNatPools": []}, "etag": "W/\\"d05a2ef5-e968-42eb-9e61-33b6e5d132ee\\"",
      "location": "local"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\[...]
[...]
- request:
    body: 'b''{"location": "local", "properties": {"enableIPForwarding": false, "dnsSettings":
      {"dnsServers": []}, "ipConfigurations": [{"properties": {"subnet": {"id": "/subscriptions/12DFF41F-BD88-42A6-9E9A-79898CA9EEEB/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "ipconfig1"}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/pro[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-nic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces/cli-test-nic\"\
        ,\r\n  \"etag\": \"W/\\\"41443f2f-6d5e-4f93-a696-1363881ae913\\\"\",\r\n \
        \ \"location\": \"local\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"5e0a7cf3-de7c-4e81-846f-3e62f6c677b8\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"41443f2f-6d5e-4f93-a696-1363881ae913\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet\"\
        \r\n          },\r\n          \"primary\": true\r\n        }\r\n      }\r\n\
        \    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"\
        appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n\
        \  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"41443f2f-6d5e-4f93-a696-1363881ae913"]
      www-authenticate: [oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvOLPKKLSCyfYCgS/Kvm2qNwk1uko8HpHpcs56Rzo1VMw4ctl6NQGGgvUdIZOJ1l1AWiM7kdHKBejsETtmq7AS28w9OHqDkYUHaY6AwHbVYhle29Vb2o/VYlK5AE58i2NuvaU4zesmO3Dp1jKq7Xvn]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "local", "properties": {"enableIPForwarding": true, "dnsSettings":
      {"dnsServers": ["100.1.2.3"], "internalDnsNameLabel": "test"}, "ipConfigurations":
      [{"properties": {"subnet": {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"},
      "loadBalancerInboundNatRules": [{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/inboundNatRules/rule1"},
      {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/inboundNatRules/rule2"}],
      "publicIPAddress": {"id": "/subscriptions/12DFF41F-BD88-42A6-9E9A-79898CA9EEEB/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/publicIPAddresses/publicip1"},
      "privateIPAllocationMethod": "Static", "privateIPAddress": "10.0.0.15", "loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/mylbbepool"},
      {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/loadBalancers/mylb/backendAddressPools/bap1"},
      {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario0000[...]
[...]
- request:
    body: 'b''{"location": "local", "properties": {"enableIPForwarding": false, "dnsSettings":
      {"dnsServers": []}, "ipConfigurations": [{"properties": {"subnet": {"id": "/subscriptions/12DFF41F-BD88-42A6-9E9A-79898CA9EEEB/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "ipconfig1"}], "networkSecurityGroup":
      {"id": "/subscriptions/12DFF41F-BD88-42A6-9E9A-79898CA9EEEB/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/mynsg"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces/cli-test-nic?api-version=2015-06-[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-nic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-nic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-00[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces/cli-test-nic",
      "properties": {"enableIPForwarding": true, "dnsSettings": {"internalDnsNameLabel":
      "noodle", "appliedDnsServers": []}, "networkSecurityGroup": {"id": "/subscriptions/12DFF41F-BD88-42A6-9E9A-79898CA9EEEB/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/myothernsg"},
      "resourceGuid": "5e0a7cf3-de7c-4e81-846f-3e62f6c677b8", "provisioningState":
      "Succeeded", "ipConfigurations": [{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces/cli-test-nic/ipConf[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkInterfaces/cli-test-nic",
      "properties": {"enableIPForwarding": false, "dnsSettings": {"dnsServers": [],
      "internalDnsNameLabel": "doodle", "appliedDnsServers": [], "internalFqdn": "noodle.ps0rc1aag3cendm3d0iqo0435a.a--x.internal.cloudapp.net"},
      "networkSecurityGroup": {"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001/providers/Microsoft.Network/networkSecurityGroups/myothernsg"},
      "resourceGuid": "5e0a7cf3-de7c-4e81-846f-3e62f6c677b8", "provisioningState":
      "Succeeded", "ipConfigurations": [{"id": "/subscriptions/12dff41f-bd88-42a6-9e9a-79898ca9eeeb/resourceGroups/cli_test_nic_stack_scenario000001[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_stack_scenario000001?api-version=2016-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://adminmanagement.local.azurestack.external/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGTklDOjVGU1RBQ0s6NUZTQ0VOQVJJT0VOUkRJRUtTUEhCQXxDRTA4REU0RTdFRjUzMEJBLUxPQ0FMIiwiam9iTG9jYXRpb24iOiJsb2NhbCJ9?api-version=2016-02-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1182']
    status: {code: 202, message: Accepted}
version: 1
