interactions:
- request:
    body: null
    headers:
      return-client-request-id: ['true']
      x-client-CPU: [x64]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [0.5.0]
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F6b2064b9-34bd-46e6-9092-52f2dd5f7fc0%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body: {string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/6b2064b9-34bd-46e6-9092-52f2dd5f7fc0/.well-known/openid-configuration"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: grant_type=client_credentials&client_id=98eaff87-4e5d-4e48-8dad-4bd2df8bd01a&resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_secret=ManangementGroupServicePrincipal%40123
    headers:
      content-type: [application/x-www-form-urlencoded]
      return-client-request-id: ['true']
      x-client-CPU: [x64]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [0.5.0]
    method: POST
    uri: https://login.windows-ppe.net/6b2064b9-34bd-46e6-9092-52f2dd5f7fc0/oauth2/token
  response:
    body: {string: '{"token_type":"Bearer","expires_in":"3600","ext_expires_in":"262800","expires_on":"1518134120","not_before":"1518130220","resource":"https://management.core.windows.net/","access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImFGSTdlVlZwVl8yOFNZblJsMWRiTmI4UVZMQSIsImtpZCI6ImFGSTdlVlZwVl8yOFNZblJsMWRiTmI4UVZMQSJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldC8iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLXBwZS5uZXQvNmIyMDY0YjktMzRiZC00NmU2LTkwOTItNTJmMmRkNWY3ZmMwLyIsImlhdCI6MTUxODEzMDIyMCwibmJmIjoxNTE4MTMwMjIwLCJleHAiOjE1MTgxMzQxMjAsImFpbyI6IjQyUmdZRmh3YnpmSC9iMThCWnJIdFR1TXVoazNBd0E9IiwiYXBwaWQiOiI5OGVhZmY4Ny00ZTVkLTRlNDgtOGRhZC00YmQyZGY4YmQwMWEiLCJhcHBpZGFjciI6IjEiLCJlX2V4cCI6MjYyODAwLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLXBwZS5uZXQvNmIyMDY0YjktMzRiZC00NmU2LTkwOTItNTJmMmRkNWY3ZmMwLyIsIm9pZCI6IjhiOGYyNDY0LTZhZDAtNDMyNy1iOWRhLTVjYzhhYzJjNjUwZCIsInN1YiI6IjhiOGYyNDY0LTZhZDAtNDMyNy1iOWRhLTVjYzhhYzJjNjUwZCIsInRpZCI6IjZiMjA2NGI5LTM0YmQtNDZlNi05MDkyLTUyZjJkZDVmN2ZjMCIsInV0aSI6Il84MnM1bUJCQmtDQm5XTldfaE1BQUEiLCJ2ZXIiOiIxLjAifQ.ReqTsDWZCoOh3pMt-8VnCG_VPoo7fBTKaHOalgmUWsGu7-cGdpJQfAPNupILIIzw2LS2plbgUaBSMMihv-oYZ46hh737BRNRt6Iin3S0auvcOyHcl-QMBIHIEPWxjbxy022Kk1TVhoelUWq1lBnzRG4QBy90hPgAG29qlFrAexFMvG5kPydcHCl7IPR1FMBCxOghFwmiStSkwLCAXxP3ty_ufyQ1u8DfEoJv2C6XE2p3E93JmPtCxL8US840rQo9FxVBZDSStywJ1jBVI5kQ20n4XWPIdz-ch0JJ5A3Z9n_Q9EaJHR4nozOEAO39tceFYYfRcgQGyPe3GC6chIHDdw"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"managementGroups","locations":[],"apiVersions":["2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"getEntities","locations":[],"apiVersions":["2018-01-01-preview"]},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2018-01-01-preview"]},{"resourceType":"operationResults","locations":[],"apiVersions":["2018-01-01-preview"]},{"resourceType":"operations","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]}],"registrationState":"Registered"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"managementGroups","locations":[],"apiVersions":["2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"getEntities","locations":[],"apiVersions":["2018-01-01-preview"]},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2018-01-01-preview"]},{"resourceType":"operationResults","locations":[],"apiVersions":["2018-01-01-preview"]},{"resourceType":"operations","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]}],"registrationState":"Registered"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Management/managementGroups?api-version=2017-11-01-preview
  response:
    body: {string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/testGroup123","type":"/providers/Microsoft.Management/managementGroups","name":"testGroup123","properties":{"tenantId":"6b2064b9-34bd-46e6-9092-52f2dd5f7fc0","displayName":"New
        Display Name"}},{"id":"/providers/Microsoft.Management/managementGroups/testGroup123Child1","type":"/providers/Microsoft.Management/managementGroups","name":"testGroup123Child1","properties":{"tenantId":"6b2064b9-34bd-46e6-9092-52f2dd5f7fc0","displayName":"TestGroup123->Child1"}},{"id":"/providers/Microsoft.Management/managementGroups/testGroup123Child1Child1","type":"/providers/Microsoft.Management/managementGroups","name":"testGroup123Child1Child1","properties":{"tenantId":"6b2064b9-34bd-46e6-9092-52f2dd5f7fc0","displayName":"TestGroup123->Child1->Child1"}},{"id":"/providers/Microsoft.Management/managementGroups/6b2064b9-34bd-46e6-9092-52f2dd5f7fc0","type":"/providers/Microsoft.Management/managementGroups","name":"6b2064b9-34bd-46e6-9092-52f2dd5f7fc0","properties":{"tenantId":"6b2064b9-34bd-46e6-9092-52f2dd5f7fc0","displayName":"6b2064b9-34bd-46e6-9092-52f2dd5f7fc0"}}],"@nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.510]
    status: {code: 200, message: OK}
version: 1
