interactions:
- request:
    body: '{"tags": {"date": "2018-08-14T19:45:38Z", "product": "azurecli", "cause":
      "automation"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_create_rbac_sp_with_cert000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_cert000001","name":"cli_create_rbac_sp_with_cert000001","location":"westus","tags":{"date":"2018-08-14T19:45:38Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['644518']
      ocp-aad-diagnostics-server-name: [+Vo1vaQr1J6K57B7CK/pVo20E97sFK7LOud+zxDHFNk=]
      ocp-aad-session-key: [XykI88k5NmVaaBCi3BcYV0f2MtNQuWqBXbLjASs4Hhk_t3BI4AeqUW00r90sdtVPIzPOYjYR2gmeIKT08knvOLBJcrdcJP0ddTo_VsO-ehTs_XwHuy0S3Cuu_LlrRcEt.NC0J51RzOeQFthHP4-mp6hFKZkPqGyhRbVNULIlB2dM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"availableToOtherTenants": false, "displayName": "azure-cli-2018-08-14-19-45-42",
      "identifierUris": ["http://cli_create_rbac_sp_with_cert000001"], "homepage":
      "http://azure-cli-2018-08-14-19-45-42", "keyCredentials": [{"value": "MIICoTCCAYkCAgPoMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMMCUNMSS1Mb2dp\\\\nbjAiGA8yMDE4MDgxNDE5NDU0MVoYDzIwMTkwODE0MTk0NTQzWjAUMRIwEAYDVQQD\\\\nDAlDTEktTG9naW4wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCrfaQ2\\\\nb1Gq+TJHezQirnQOB/o1CE8Rb39DFrfNGB2Km/KX3kalO/hkranahHVRwofG8Pr+\\\\n9Jjhbe3YarsHL9T+pH7BObAKRwWhhNY+29qGjYFt9MyjLhpPco86JUK+2/yDg7Ga\\\\nvbIZDbw+Lj1zHIvE82O0Xwc6YNi36A4lAhMnZG9mknVwuMfVZO+eMPfJB/RJnG1X\\\\nihcBOXvfseENcWWKEBzRwn7c7/dM8XtKXYjlGKLPVhgqXvakesSq+GTGd2Qhhyz7\\\\nelBz3qpKSKXcZbk2mBkyqya1Hxa86c3F35MIDwDZBPSOMPlz591tUgY52wSrb+QC\\\\ndr1VqPN3CRfyLcpvAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBAAsFFOBMFuMOmh7N\\\\nfOcxUDmIUCTB5zMmSxqLNJK+neI2kXclbnlu3gCH+k9tfcrlMYhwGWXeUsVSS0rk\\\\nr0klMQFaUp+m4XFCPwGZLdwn0pStMBy6R7B8HwNFkwUPZwK8desZf1EKRwMuPOdi\\\\nz8xsJOx/24JyeNkl9jVag4V150z/H8s53Mrhg3JfCys9Bo1v5wYpr3OshUDpprdG\\\\nTTBnG95ZCGZXhiZ/JkokIPYK8Y2gbYYzG+0Syxb9T63foAdgvlpd2BcdivrpdsC5\\\\n5RQJ43+8fukerQcmh+NW4UtTWT2uZa0wPgDz5+xyzCpeqR23kdluU0yog4Rgm0cp\\\\nTq91kGw=",
      "usage": "Verify", "keyId": "88888888-0000-0000-0000-000000000001", "type":
      "AsymmetricX509Cert", "endDate": "2019-08-14T19:45:42.260865Z", "startDate":
      "2018-08-14T19:45:42.260865Z"}]}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"865392f5-412d-4a50-ad3a-b56bf3fb79b6","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"c952600e-2bb8-4dc9-8bec-06570236c9b0","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-08-14-19-45-42","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-08-14-19-45-42","identifierUris":["http://cli_create_rbac_sp_with_cert000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[{"customKeyIdentifier":"BE67B03898180CF0A8AE3511E7695A085C9A9743","endDate":"2019-08-14T19:45:42.260865Z","keyId":"88888888-0000-0000-0000-000000000001","startDate":"2018-08-14T19:45:42.260865Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-08-14-19-45-42 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-08-14-19-45-42","id":"1bf6a0cb-9594-44bc-9041-cc4a162a074b","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-08-14-19-45-42 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-08-14-19-45-42","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['3213826']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/865392f5-412d-4a50-ad3a-b56bf3fb79b6/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [HsKElesTxiLgdPMB0FbOxcZnfgWfQ52qrxu3V/VUL9s=]
      ocp-aad-session-key: [2TovZxY-TTT9egy-AZuJuWxP7kHqziyGoGIja_pU6gdUxm-ji-bSkbi2V0s6vNUuOMDPZAsvcc0E5VH0nk_HUk-DnZCG65e360IiUJjPP40wq7XdtFSJ003l2HJQwkiu3hND3DJIitmzyJSf_Hj89A.K4t1aHvLojxi2qlMILTj0A6oku5_XIQMVpw25_IiMpc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "c952600e-2bb8-4dc9-8bec-06570236c9b0", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"94b08c4c-d4e3-4cba-a80a-ebeb090cd7ad","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2018-08-14-19-45-42","appId":"c952600e-2bb8-4dc9-8bec-06570236c9b0","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2018-08-14-19-45-42","errorUrl":null,"homepage":"http://azure-cli-2018-08-14-19-45-42","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-08-14-19-45-42 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-08-14-19-45-42","id":"1bf6a0cb-9594-44bc-9041-cc4a162a074b","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-08-14-19-45-42 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-08-14-19-45-42","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["c952600e-2bb8-4dc9-8bec-06570236c9b0","http://cli_create_rbac_sp_with_cert000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1289069']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/94b08c4c-d4e3-4cba-a80a-ebeb090cd7ad/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [vdUmtydNTpMx136Z9PTgdhjXCVJ7LZw+B1PUKRqBNeo=]
      ocp-aad-session-key: [c2qj19_IYfADkVHTfBqykgFyLokd-zyn6pplfCqbYO-nwFH5Ncm-hDObDY4keyoXlUYToHV3VcthBIP3i03RCjuXOGJw-KvvfiLkVFJcODTovRNdUtDo2pPYirEePMf0Q-gVbO2-HTxsFc_11WqoKg.BJ0HKgBTQADpnHPVwJl9FdIU45_0qrB_047LJ42JSXQ]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01&$filter=roleName%20eq%20%27Contributor%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2018-05-30T19:22:32.4538167Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"principalId": "94b08c4c-d4e3-4cba-a80a-ebeb090cd7ad",
      "roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=2015-07-01
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"94b08c4c-d4e3-4cba-a80a-ebeb090cd7ad","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2018-08-14T19:45:44.2389762Z","updatedOn":"2018-08-14T19:45:44.2389762Z","createdBy":null,"updatedBy":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000002"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['5']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_cert000001/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01&$filter=roleName%20eq%20%27Contributor%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2018-05-30T19:22:32.4538167Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"principalId": "94b08c4c-d4e3-4cba-a80a-ebeb090cd7ad",
      "roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_cert000001/providers/Micro[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27c952600e-2bb8-4dc9-8bec-06570236c9b0%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['2932122']
      ocp-aad-diagnostics-server-name: [PWJF5MXsNJeXfk2GpX0VavQ33Q7BBlAFQ1PBOgmVl+Y=]
      ocp-aad-session-key: [hrW-CIjaL0xdLyzXTm64UwI3JLXyCSQdlfQZXbWBLQk8PnCRpWsCsXzUhNo-ZXH-lIjXExDBbEU-1mFdw1SYl8aBMQwtBPwDk4KU-_C-EMWAK25uywZ_l6EcxjFnksugu1AjLci9WXQ2xXlDlI-s5Q.l3JF4IYs1TgL6aJHKWnFLYrDkNvA2oPfwdkQpOwIsWs]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=appId%20eq%20%27c952600e-2bb8-4dc9-8bec-06570236c9b0%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Microsoft.DirectoryS[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/865392f5-412d-4a50-ad3a-b56bf3fb79b6?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","object[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value"[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_create_rbac_sp_with_cert000001?api-version=2016-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZDUkVBVEU6NUZSQkFDOjVGU1A6NUZXSVRIOjVGQ0VSVEFNNFU0WFlSVXxFMUY2RjdEMTIzQzczRUQzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
