interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-06-28T18:52:49Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_sa000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001","name":"cli_test_keyvault_sa000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-06-28T18:52:49Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6ff0a69b-8c04-4618-873e-4a1ee85e5296","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"},{"disabledPlans":[],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"f82a60b8-1ee3-4cfb-a4fe-1c6a53c2656c"},{"disabledPlans":[],"skuId":"d3b4fe1f-9992-4930-8acb-ca6ec609365e"},{"disabledPlans":[],"skuId":"c52ea49f-fe5d-4e95-93ba-1de91d380f89"}],"assignedPlans":[{"assignedTimestamp":"2018-04-24T02:39:03Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2018-04-24T02:39:03Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"2bdbaf8f-738f-4ac7-9234-3c3ee2ce7d0f"},{"assignedTimestamp":"2018-04-24T02:39:03Z","capabilityStatus":"Deleted","service":"SharePoint","servicePlanId":"2125cfd7-2110-4567-83c4-c1cd5275163d"},{"assignedTimestamp":"2018-04-24T02:39:03Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"da792a53-cbc0-4184-a10d-e544dd34b3c1"},{"as[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "6ff0a69b-8c04-4618-873e-4a1ee85e5296", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002?api-version=2018-02-14
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"6ff0a69b-8c04-4618-873e-4a1ee85e5296","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-keyvault-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/44ce0944-2908-46c5-94dc-9cd193f4638d?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/44ce0944-2908-46c5-94dc-9cd193f4638d?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001","name":"clitestkvsa0000001","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-06-28T18:53:34.0845104Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-06-28T18:53:34.0845104Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-06-28T18:53:33.9439048Z","primaryEndpoints":{"blob":"https://clitestkvsa0000001.blob.core.windows.net/","queue":"https://clitestkvsa0000001.queue.core.windows.net/","table":"https://clitestkvsa0000001.table.core.windows.net/","file":"https://clitestkvsa0000001.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://clitestkvsa0000001-secondary.blob.core.windows.net/","queue":"https://clitestkvsa0000001-secondary.queue.core.windows.net/","table":"https://clitestkvsa0000001-secondary.table.core.windows.net/"}}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Account%20Key%20Operator%20Service%20Role%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Storage Account Key Operator
        Service Role","type":"BuiltInRole","description":"Storage Account Key Operators
        are allowed to list and regenerate keys on Storage Accounts","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Storage/storageAccounts/listkeys/action","Microsoft.Storage/storageAccounts/regeneratekey/action"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2017-04-13T18:26:11.5770570Z","updatedOn":"2017-04-13T20:57:14.5990198Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/81a9662b-bebf-436f-a333-f67b29880f12","type":"Microsoft.Authorization/roleDefinitions","name":"81a9662b-bebf-436f-a333-f67b29880f12"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['5']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27cfa8b339-82a2-471a-a3c9-0fc0be7a4093%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"93c27d83-f79b-4cb2-8dd4-4aa716542e74","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Azure
        Key Vault","appId":"cfa8b339-82a2-471a-a3c9-0fc0be7a4093","appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Azure
        Key Vault","errorUrl":null,"homepage":null,"keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application full access to the Azure Key Vault service on behalf of the
        signed-in user","adminConsentDisplayName":"Have full access to the Azure Key
        Vault service","id":"f53da476-18e3-4152-8e01-aec403e6edc0","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application full access to the Azure Key Vault service on your behalf","userConsentDisplayName":"Have
        full access to the Azure Key Vault service","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["https://vault.azure.net","AzureKeyVault","cfa8b339-82a2-471a-a3c9-0fc0be7a4093"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['601028']
      ocp-aad-diagnostics-server-name: [s2UwUVi+htM/n2YkhPwXRPeUZqg0DtftoAt5dzpH0b8=]
      ocp-aad-session-key: [2Npkz8A89Bw48MmflGMlqu34BR0JRivWpGq2KcSCC5DZiezM5vqrM7_H8BY-Y1F3_FpwEtB9_I1dNGdqr9X3co51Xoa52HWER9lMHhcUlvqCY986Ldxg-tFH5ayI8RM5.qzltZacby3R5PwaR4LFO88Im8mnFpIeeYRyLm1iAXLg]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/81a9662b-bebf-436f-a333-f67b29880f12",
      "principalId": "93c27d83-f79b-4cb2-8dd4-4aa716542e74"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001/providers/Microsoft.Authorization/roleAssignments/2f2aba17-be97-4a3f-aa50-d3482e26200f?api-version=2018-01-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/81a9662b-bebf-436f-a333-f67b29880f12","principalId":"93c27d83-f79b-4cb2-8dd4-4aa716542e74","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001","createdOn":"2018-06-28T18:54:00.3989859Z","updatedOn":"2018-06-28T18:54:00.3989859Z","createdBy":null,"updatedBy":"6ff0a69b-8c04-4618-873e-4a1ee85e5296"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001/providers/Microsoft.Authorization/roleAssignments/2f2aba17-be97-4a3f-aa50-d3482e26200f","type":"Microsoft.Authorization/roleAssignments","name":"2f2aba17-be97-4a3f-aa50-d3482e26200f"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
      x-ms-request-charge: ['8']
    status: {code: 201, message: Created}
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001?api-version=7.0-preview
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: 'b''{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001",
      "activeKeyName": "key1", "autoRegenerateKey": true, "regenerationPeriod": "P90D",
      "attributes": {"enabled": true}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001","activeKeyName":"key1","autoRegenerateKey":true,"regenerationPeriod":"P90D","attributes":{"enabled":true,"created":1530212055,"updated":1530212055,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"templateUri": "se=2020-01-01&sp=rwdlacup&spr=https&sv=2017-07-29&ss=bqtf&srt=sco&sig=AA/g6eLmr7SOYFBKsMyy6VibIhKpbS5gQLnPd5AGDJE%3D",
      "sasType": "account", "validityPeriod": "PT4H", "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/allacctaccess?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/allacctaccess","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-allacctaccess","templateUri":"se=2020-01-01&sp=rwdlacup&spr=https&sv=2017-07-29&ss=bqtf&srt=sco&sig=AA/g6eLmr7SOYFBKsMyy6VibIhKpbS5gQLnPd5AGDJE%3D","sasType":"account","validityPeriod":"PT4H","attributes":{"enabled":true,"created":1530212056,"updated":1530212056,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-allacctaccess/?api-version=7.0-preview
  response:
    body: {string: '{"value":"?sv=2017-07-29&ss=bqtf&srt=sco&sp=rwdlacup&se=2018-06-28T22:54:16Z&spr=https&sig=PDF8s36Nq5HvJ5qvyf3zpnfHUFEssqDLcTCRvcRK5M8%3D","contentType":"application/vnd.ms-sastoken-storage","id":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-allacctaccess","managed":true,"attributes":{"enabled":true,"exp":1530226456,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 28 Jun 2018 18:54:17 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitestkvsa0000001.blob.core.windows.net/cont1?sv=2017-07-29&ss=bqtf&srt=sco&sp=rwdlacup&se=2018-06-28T22:54:16Z&spr=https&sig=PDF8s36Nq5HvJ5qvyf3zpnfHUFEssqDLcTCRvcRK5M8%3D&restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5DD288CC0E7E6"']
      last-modified: ['Thu, 28 Jun 2018 18:54:17 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: 'TestSecretTestSecretTestSecretTestSecret

      '
    headers:
      x-ms-blob-content-type: [text/plain]
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 28 Jun 2018 18:54:17 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitestkvsa0000001.blob.core.windows.net/cont1/blob1?sv=2017-07-29&ss=bqtf&srt=sco&sp=rwdlacup&se=2018-06-28T22:54:16Z&spr=https&sig=PDF8s36Nq5HvJ5qvyf3zpnfHUFEssqDLcTCRvcRK5M8%3D
  response:
    body: {string: ''}
    headers:
      content-md5: [A8g/tXsJaBMo6jXd7y1gig==]
      etag: ['"0x8D5DD288D29EDFE"']
      last-modified: ['Thu, 28 Jun 2018 18:54:17 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ssrg/providers/Microsoft.Storage/storageAccounts/msa[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"NKo9XHTu6HDE92lP1PepR++nAbEOlb/5x4pq6bi8+MpyTAqjWTHeJv18aUm6hWJ6wmoDSYx19hivZREJqECFOw==","permissions":"FULL"},{"keyName":"key2","value":"FvjYiPCrRFD53yYWh9Wn1CmsMEhRj596PBva3k5NZm2USYwJYUifC2FA/UVHj0E2q/1xx43VWaV4LHULQDOBBQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"templateUri": "https://clitestkvsa0000001.blob.core.windows.net/cont1/blob1?sp=r&sv=2017-07-29&sr=b&sig=ivQ3xmC%2BEt9TQMnjjPWWDLaFrgxZRJmrrE9PK1Oc9DU%3D",
      "sasType": "service", "validityPeriod": "P1D", "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/blob1r?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/blob1r","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-blob1r","templateUri":"https://clitestkvsa0000001.blob.core.windows.net/cont1/blob1?sp=r&sv=2017-07-29&sr=b&sig=ivQ3xmC%2BEt9TQMnjjPWWDLaFrgxZRJmrrE9PK1Oc9DU%3D","sasType":"service","validityPeriod":"P1D","attributes":{"enabled":true,"created":1530212059,"updated":1530212059,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-blob1r/?api-version=7.0-preview
  response:
    body: {string: '{"value":"?sv=2017-07-29&sr=b&sp=r&se=2018-06-29T18%3A54%3A20Z&sig=XszAaAfj8Kq8Vr7ix%2F0GRoBicjPiHmakH0DZoYHZROw%3D","contentType":"application/vnd.ms-sastoken-storage","id":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-blob1r","managed":true,"attributes":{"enabled":true,"exp":1530298460,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 28 Jun 2018 18:54:20 GMT']
      x-ms-version: ['2017-07-29']
    method: HEAD
    uri: https://clitestkvsa0000001.blob.core.windows.net/cont1/blob1?sv=2017-07-29&sr=b&sp=r&se=2018-06-29T18%3A54%3A20Z&sig=XszAaAfj8Kq8Vr7ix%2F0GRoBicjPiHmakH0DZoYHZROw%3D
  response:
    body: {string: ''}
    headers:
      content-md5: [A8g/tXsJaBMo6jXd7y1gig==]
      content-type: [text/plain]
      etag: ['"0x8D5DD288D29EDFE"']
      last-modified: ['Thu, 28 Jun 2018 18:54:17 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/regeneratekey?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001","activeKeyName":"key1","autoRegenerateKey":true,"regenerationPeriod":"P90D","attributes":{"enabled":true,"created":1530212062,"updated":1530212062,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 28 Jun 2018 18:54:23 GMT']
      x-ms-version: ['2017-07-29']
    method: HEAD
    uri: https://clitestkvsa0000001.blob.core.windows.net/cont1/blob1?sv=2017-07-29&sr=b&sp=r&se=2018-06-29T18%3A54%3A23Z&sig=f%2BJqzTt9gOZ3T3GYXxTxH0LBcMT4hoviIVBBCxUJBQQ%3D
  response:
    body: {string: ''}
    headers:
      content-md5: [A8g/tXsJaBMo6jXd7y1gig==]
      content-type: [text/plain]
      etag: ['"0x8D5DD288D29EDFE"']
      last-modified: ['Thu, 28 Jun 2018 18:54:17 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas?api-version=7.0-preview
  response:
    body: {string: '{"value":[{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/allacctaccess","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-allacctaccess","attributes":{"enabled":true,"created":1530212056,"updated":1530212056,"recoveryLevel":"Purgeable"}},{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/blob1r","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-blob1r","attributes":{"enabled":true,"created":1530212059,"updated":1530212059,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/blob1r?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/blob1r","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-blob1r","templateUri":"https://clitestkvsa0000001.blob.core.windows.net/cont1/blob1?sp=r&sv=2017-07-29&sr=b&sig=ivQ3xmC%2BEt9TQMnjjPWWDLaFrgxZRJmrrE9PK1Oc9DU%3D","sasType":"service","validityPeriod":"P1D","attributes":{"enabled":true,"created":1530212059,"updated":1530212059,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/allacctaccess?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001/sas/allacctaccess","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/clitestkvsa0000001-allacctaccess","templateUri":"se=2020-01-01&sp=rwdlacup&spr=https&sv=2017-07-29&ss=bqtf&srt=sco&sig=AA/g6eLmr7SOYFBKsMyy6VibIhKpbS5gQLnPd5AGDJE%3D","sasType":"account","validityPeriod":"PT4H","attributes":{"enabled":true,"created":1530212056,"updated":1530212056,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/secrets?api-version=7.0-preview
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/storage?api-version=7.0-preview
  response:
    body: {string: '{"value":[{"id":"https://cli-test-keyvault-000002.vault.azure.net/storage/clitestkvsa0000001","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sa000001/providers/Microsoft.Storage/storageAccounts/clitestkvsa0000001","attributes":{"enabled":true,"created":1530212062,"updated":1530212062,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_sa000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGS0VZVkFVTFQ6NUZTQVM1TTRXU1U1RlROWFYzRFhQVUFPVXwyMzVCQTc4RjcwOEQxMUY0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
