interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.Storage/storageAccounts/cliadlwasb123450/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"Ky7qYiOAxHUVoljo0X3kgTcS7wyO8sO3JDaNzQhvk4fLoy0xXCDSkuOvvM8VyY9SSmA2wdIF6kd4D1pHhP06uw=="},{"keyName":"key2","permissions":"Full","value":"WZcCk4P/D5a+tRGfUM/FM1rQm78W1MfxDWAuohwI9cV/W5j48OnC/lcIHNzqVnlvtFyZjICK4s1WpgjYGZ7hDw=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "eastus2", "properties": {"defaultDataLakeStoreAccount": "cliadls123450",
      "maxDegreeOfParallelism": 30, "queryStoreRetention": 30, "maxJobCount": 3, "dataLakeStoreAccounts":
      [{"name": "cliadls123450"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"cliadls123450","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls123450"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"293b9366-7be6-4122-864e-6d943bbc284a"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450","name":"cliadla123450","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/293b9366-7be6-4122-864e-6d943bbc284a0?api-version=2016-11-01&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourcegroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/operationresults/0?api-version=2016-11-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/293b9366-7be6-4122-864e-6d943bbc284a0?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","debugDataAccessLevel":"All","firewallRules":[],"defaultDataLakeStoreAccount":"cliadls123450","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls123450"}],"publicDataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"adltrainingsampledata"},{"properties":{"suffix":"azuredatalakestore.net"},"name":"ghinsights"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":100,"systemMaxJobCount":20,"maxDegreeOfParallelismPerJob":30,"minPriorityPerJob":1,"computePolicies":[],"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadla123450.azuredatalakeanalytics.net","accountId":"293b9366-7be6-4122-864e-6d943bbc284a","creationTime":"2017-11-02T00:36:52.5862431Z","lastModifiedTime":"2017-11-02T00:36:52.5862431Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450","name":"cliadla123450","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"cliadla123450.azuredatalakeanalytics.net","accountId":"293b9366-7be6-4122-864e-6d943bbc284a","creationTime":"2017-11-02T00:36:52.5862431Z","lastModifiedTime":"2017-11-02T00:36:52.5862431Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450","name":"cliadla123450","type":"Microsoft.DataLakeAnalytics/accounts"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"begoldsmdla01.azuredatalakeanalytics.net","accountId":"26aa3b77-01a7-486a-af33-fedb4ced8b8b","creationTime":"2017-04-13T18:27:51.865156Z","lastModifiedTime":"2017-04-13T18:27:51.865156Z"},"location":"eastus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/begoldsmadlsrg01/providers/Microsoft.DataLakeAnalytics/accounts/begoldsmdla01","name":"begoldsmdla01","type":"Microsoft.DataLakeAnalytics/accounts"},{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"cliadla123450.azuredatalakeanalytics.net","accountId":"293b9366-7be6-4122-864e-6d943bbc284a","creationTime":"2017-11-02T00:36:52.5862431Z","lastModifiedTime":"2017-11-02T00:36:52.5862431Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450","name":"cliadla123450","type":"Microsoft.DataLakeAnalytics/accounts"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/DataLakeStoreAccounts/cliadls123451?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/dataLakeStoreAccounts/cliadls123451","name":"cliadls123451","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/DataLakeStoreAccounts/?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/dataLakeStoreAccounts/cliadls123450","name":"cliadls123450","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"},{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/dataLakeStoreAccounts/cliadls123451","name":"cliadls123451","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"accessKey": "Ky7qYiOAxHUVoljo0X3kgTcS7wyO8sO3JDaNzQhvk4fLoy0xXCDSkuOvvM8VyY9SSmA2wdIF6kd4D1pHhP06uw=="}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/StorageAccounts/cliadlwasb123450?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"suffix":"core.windows.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/storageAccounts/cliadlwasb123450","name":"cliadlwasb123450","type":"Microsoft.DataLakeAnalytics/accounts/storageAccounts"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/StorageAccounts/?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"suffix":"core.windows.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/storageAccounts/cliadlwasb123450","name":"cliadlwasb123450","type":"Microsoft.DataLakeAnalytics/accounts/storageAccounts"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"objectId": "8ce05900-7a9e-4895-b3f0-0fbcee507803", "objectType":
      "User", "maxDegreeOfParallelismPerJob": 2}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/computePolicies/pycliuserpolicy?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"objectId":"8ce05900-7a9e-4895-b3f0-0fbcee507803","objectType":"User","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/computePolicies/pycliuserpolicy","name":"pycliuserpolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"objectId": "0583cfd7-60f5-43f0-9597-68b85591fc69", "objectType":
      "Group", "maxDegreeOfParallelismPerJob": 2}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/computePolicies/pycligrouppolicy?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"objectId":"0583cfd7-60f5-43f0-9597-68b85591fc69","objectType":"Group","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/computePolicies/pycligrouppolicy","name":"pycligrouppolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/computePolicies?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"objectId":"0583cfd7-60f5-43f0-9597-68b85591fc69","objectType":"Group","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/computePolicies/pycligrouppolicy","name":"pycligrouppolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"},{"properties":{"objectId":"8ce05900-7a9e-4895-b3f0-0fbcee507803","objectType":"User","maxDegreeOfParallelismPerJob":2,"minPriorityPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts/cliadla123450/computePolicies/pycliuserpolicy","name":"pycliuserpolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-adla-mgmt/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
