interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-31T17:14:25Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-31T17:14:25Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2018-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/1773d150-14f9-4d21-a030-205411cb57dc?api-version=2018-12-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/1773d150-14f9-4d21-a030-205411cb57dc?api-version=2018-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadaeast","properties":{"accountEndpoint":"clibatch000002.canadaeast.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"BatchService"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D6879F977B68A0"']
      last-modified: ['Thu, 31 Jan 2019 17:14:43 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2018-12-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"EBXRD/kHUboXajmYzL5AO1u7XWcj/yTyr5zXxDQecasWBQZpTI3N1xaHHKFMoIR9ohfBqQX0e8fsMgzXrSBOxA==","secondary":"ipKZRjiHnSAbhnbws9Lp3hpjSyz4CnZDAPSMLq1/7m/wlIDFI2TqsVHkLlDHhgASeef++Xfemtyfpt+6i/j/HQ=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:14:45 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/pools?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch25i25ibcpfynefc7.canadaeast.batch.azure.com/pools/xplatJobForTaskTests']
      dataserviceversion: ['3.0']
      etag: ['0x8D6879F9930DB72']
      last-modified: ['Thu, 31 Jan 2019 17:14:45 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/pools/xplatJobForTaskTests']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "cli-test-job-1", "constraints": {"maxTaskRetryCount": 5}, "jobManagerTask":
      {"id": "JobManager", "commandLine": "cmd /c set AZ_BATCH_TASK_ID", "environmentSettings":
      [{"name": "CLI_TEST_VAR", "value": "CLI_TEST_VAR_VALUE"}]}, "poolInfo": {"poolId":
      "xplatJobForTaskTests"}, "metadata": [{"name": "test", "value": "value"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:14:46 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch25i25ibcpfynefc7.canadaeast.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D6879F99CA640C']
      last-modified: ['Thu, 31 Jan 2019 17:14:46 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:14:47 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1\"\
        ,\"eTag\":\"0x8D6879F99CA640C\",\"lastModified\":\"2019-01-31T17:14:46.9231628Z\"\
        ,\"creationTime\":\"2019-01-31T17:14:46.8507363Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-01-31T17:14:46.9231628Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":5\r\n  },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\"\
        ,\"commandLine\":\"cmd /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\
        \n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\
        \r\n      }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n    },\"userIdentity\"\
        :{\r\n      \"autoUser\":{\r\n        \"elevationLevel\":\"nonadmin\"\r\n\
        \      }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\"\
        :true\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"xplatJobForTaskTests\"\r\n\
        \  },\"metadata\":[\r\n    {\r\n      \"name\":\"test\",\"value\":\"value\"\
        \r\n    }\r\n  ],\"executionInfo\":{\r\n    \"startTime\":\"2019-01-31T17:14:46.9231628Z\"\
        ,\"poolId\":\"xplatJobForTaskTests\"\r\n  },\"onAllTasksComplete\":\"noaction\"\
        ,\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D6879F99CA640C']
      last-modified: ['Thu, 31 Jan 2019 17:14:46 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"poolInfo": {"poolId": "xplatJobForTaskTests"}, "onAllTasksComplete":
      "terminatejob"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      If-Unmodified-Since: ['Thu, 31 Jan 2019 09:14:46 GMT']
      ocp-date: ['Thu, 31 Jan 2019 17:14:49 GMT']
      return-client-request-id: ['false']
    method: PUT
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"ConditionNotMet\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\"\
        :\"The condition specified using HTTP conditional header(s) is not met.\\\
        nRequestId:745ab86a-9a39-40aa-8e63-5e6a69b9e97b\\nTime:2019-01-31T17:14:49.6270096Z\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdWNU5PVE5MUkxNT1RXUzVFR0RENUdJNENUWDNESFVVRTVDNnxCNzBDQUMwRkI5MzY3MEM2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
