interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "koreacentral"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-09-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/685852bd-5b88-41c9-9004-57ec822268a6?api-version=2017-09-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/685852bd-5b88-41c9-9004-57ec822268a6?api-version=2017-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"koreacentral","properties":{"accountEndpoint":"clibatch000002.koreacentral.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D59360DF251530"']
      last-modified: ['Mon, 26 Mar 2018 21:31:01 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-09-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"rHMtb1a+l5yE9ZJ+yajODz+LPNnamHdu9B9fQadu3R7D+qYpAhTMAWV4kOq/RIwxSeRh5O0nYnm+44/QHA4Fnw==","secondary":"h1GEI0pGgtRDBi250khhDb6y0gHVquAUabE5SZf9hWd6lgCpu5P6Px8QHstU2yLjSNo2mshPxXF0pHzYGxNM5Q=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"cloudServiceConfiguration": {"osFamily": "4"}, "vmSize": "small", "id":
      "azure-cli-test-paas"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-paas']
      dataserviceversion: ['3.0']
      etag: ['0x8D59360E3A54EBD']
      last-modified: ['Mon, 26 Mar 2018 21:31:08 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas']
    status: {code: 201, message: Created}
- request:
    body: '{"vmSize": "Standard_A1", "virtualMachineConfiguration": {"imageReference":
      {"offer": "UbuntuServer", "sku": "16.04.0-LTS", "publisher": "Canonical"}, "nodeAgentSKUId":
      "batch.node.ubuntu 16.04"}, "id": "azure-cli-test-iaas"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-iaas']
      dataserviceversion: ['3.0']
      etag: ['0x8D59360E5E0BE8C']
      last-modified: ['Mon, 26 Mar 2018 21:31:12 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas']
    status: {code: 201, message: Created}
- request:
    body: '{"cloudServiceConfiguration": {"targetOSVersion": "*", "osFamily": "4"},
      "userAccounts": [{"name": "cliTestUser", "password": "SRYES@#%#_DSFH", "elevationLevel":
      "admin"}], "startTask": {"waitForSuccess": true, "userIdentity": {"username":
      "cliTestUser"}, "commandLine": "cmd /c echo test"}, "vmSize": "small", "resizeTimeout":
      "PT15M", "id": "azure-cli-test-json"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-json']
      dataserviceversion: ['3.0']
      etag: ['0x8D59360E98BE656']
      last-modified: ['Mon, 26 Mar 2018 21:31:18 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json\"\
        ,\"eTag\":\"0x8D59360E98BE656\",\"lastModified\":\"2018-03-26T21:31:18.7196502Z\"\
        ,\"creationTime\":\"2018-03-26T21:31:18.7196502Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-03-26T21:31:18.7196502Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2018-03-26T21:31:18.796652Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\"\
        :{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n    \
        \  \"username\":\"cliTestUser\"\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"userAccounts\":[\r\n    {\r\n      \"name\":\"cliTestUser\"\
        ,\"elevationLevel\":\"admin\"\r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\"\
        :{\r\n    \"osFamily\":\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\"\
        :\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D59360E98BE656']
      last-modified: ['Mon, 26 Mar 2018 21:31:18 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?timeout=30&maxresults=1000&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas\"\
        ,\"eTag\":\"0x8D59360E5E0BE8C\",\"lastModified\":\"2018-03-26T21:31:12.5648012Z\"\
        ,\"creationTime\":\"2018-03-26T21:31:12.5648012Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-03-26T21:31:12.5648012Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2018-03-26T21:31:13.2438194Z\"\
        ,\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n \
        \     },\"virtualMachineConfiguration\":{\r\n        \"imageReference\":{\r\
        \n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\"\
        :\"16.04.0-LTS\",\"version\":\"latest\"\r\n        },\"nodeAgentSKUId\":\"\
        batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n      \"id\":\"azure-cli-test-json\"\
        ,\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json\"\
        ,\"eTag\":\"0x8D59360E98BE656\",\"lastModified\":\"2018-03-26T21:31:18.7196502Z\"\
        ,\"creationTime\":\"2018-03-26T21:31:18.7196502Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-03-26T21:31:18.7196502Z\",\"allocationState\[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?timeout=30&maxresults=1000&$filter=id%20eq%20%27azure-cli-test-paas%27&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli-test-paas\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas\"\
        ,\"eTag\":\"0x8D59360E3A54EBD\",\"lastModified\":\"2018-03-26T21:31:08.8198333Z\"\
        ,\"creationTime\":\"2018-03-26T21:31:08.8198333Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-03-26T21:31:08.8198333Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2018-03-26T21:31:08.9238375Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n \
        \     },\"cloudServiceConfiguration\":{\r\n        \"osFamily\":\"4\",\"targetOSVersion\"\
        :\"*\",\"currentOSVersion\":\"*\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"targetDedicatedNodes": 5}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas/resize?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-paas/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D59360F15876DB']
      last-modified: ['Mon, 26 Mar 2018 21:31:31 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas?timeout=30&$select=allocationState%2C%20targetDedicatedNodes&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"allocationState\":\"resizing\",\"targetDedicatedNodes\":5\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D59360F15876DB']
      last-modified: ['Mon, 26 Mar 2018 21:31:31 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas/stopresize?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-paas/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D59360F361B6EF']
      last-modified: ['Mon, 26 Mar 2018 21:31:35 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D59360F44F387B']
      last-modified: ['Mon, 26 Mar 2018 21:31:36 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?timeout=30&$select=enableAutoScale&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"enableAutoScale\":true\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D59360F44F387B']
      last-modified: ['Mon, 26 Mar 2018 21:31:36 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\"\
        ,\"timestamp\":\"2018-03-26T21:31:39.7641404Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\
        \r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatcheuv5kmizgrqs55wq.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D59360F71197DA']
      last-modified: ['Mon, 26 Mar 2018 21:31:41 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/poolusagemetrics?timeout=30&maxresults=1000&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#poolusagemetrics\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?timeout=30&$select=startTask&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"username\":\"cliTestUser\"\r\n    },\"maxTaskRetryCount\":0,\"\
        waitForSuccess\":true\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D59360E98BE656']
      last-modified: ['Mon, 26 Mar 2018 21:31:18 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?timeout=30&$select=startTask&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"startTask\":{\r\n    \"commandLine\":\"new_value\",\"userIdentity\":{\r\
        \n      \"autoUser\":{\r\n        \"elevationLevel\":\"nonadmin\"\r\n    \
        \  }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":false\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D59360FA8F73AA']
      last-modified: ['Mon, 26 Mar 2018 21:31:47 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/nodeagentskus?timeout=30&maxresults=1000&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedI[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?timeout=30&$select=state&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"state\":\"deleting\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D59360FD54FF1F']
      last-modified: ['Mon, 26 Mar 2018 21:31:51 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"cloudServiceConfiguration": {"osFamily": "4"}, "vmSize": "small", "applicationPackageReferences":
      [{"applicationId": "does-not-exist"}], "id": "app_package_test"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n    \"\
        lang\":\"en-US\",\"value\":\"One or more of the specified application package\
        \ references are invalid.\\nRequestId:62ab60f9-0e30-4c7d-8baa-f97b9c3e84cd\\\
        nTime:2018-03-26T21:31:55.1457089Z\"\r\n  },\"values\":[\r\n    {\r\n    \
        \  \"key\":\"does-not-exist\",\"value\":\"The specified application package\
        \ does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: PATCH
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n    \"\
        lang\":\"en-US\",\"value\":\"One or more of the specified application package\
        \ references are invalid.\\nRequestId:0101080a-a518-410d-aacf-9532e4e938e6\\\
        nTime:2018-03-26T21:31:56.6849441Z\"\r\n  },\"values\":[\r\n    {\r\n    \
        \  \"key\":\"does-not-exist\",\"value\":\"The specified application package\
        \ does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
[...]
