interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-31T17:14:51Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-31T17:14:51Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "japanwest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2018-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/61b7bbfc-e8d8-47e8-80d4-bb1fbd499891?api-version=2018-12-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/61b7bbfc-e8d8-47e8-80d4-bb1fbd499891?api-version=2018-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"japanwest","properties":{"accountEndpoint":"clibatch000002.japanwest.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"BatchService"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D6879FA79A6173"']
      last-modified: ['Thu, 31 Jan 2019 17:15:10 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2018-12-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"hI5jih3xrbzyl1fixf/uu3eJSpnDkJxA9F+KNzIyeUAGlG4GueaUQAvcnmgjgc5GfDVVTdMJJRVkJqqT3cc9KQ==","secondary":"f4Zo1LL8CWjgZOP5sFTtbzQK8nsbiTBNPKYjqMMD7hFMx0RgBcY+scr3nCYIi/qlJGGT9WnP3xi5hS8zbT5ByA=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "targetDedicatedNodes": 0, "startTask": {"commandLine": "cmd
      /c echo test", "userIdentity": {"autoUser": {"scope": "task", "elevationLevel":
      "admin"}}, "waitForSuccess": true}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:15:12 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchxwyieox4jbyb4yll.japanwest.batch.azure.com/pools/xplatCreatedPool']
      dataserviceversion: ['3.0']
      etag: ['0x8D6879FA9733292']
      last-modified: ['Thu, 31 Jan 2019 17:15:13 GMT']
      location: ['https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "a", "offer": "b", "sku": "c"}, "nodeAgentSKUId":
      "batch.node.windows amd64"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:15:13 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidPropertyValue\",\"message\":{\r\n    \"lang\":\"en-US\"\
        ,\"value\":\"The value provided for one of the properties in the request body\
        \ is invalid.\\nRequestId:5ac0f377-2eeb-4bc5-adff-4aa5debe2001\\nTime:2019-01-31T17:15:13.9232666Z\"\
        \r\n  },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\"\
        :\"imageReference\"\r\n    },{\r\n      \"key\":\"Reason\",\"value\":\"The\
        \ specified imageReference with publisher a offer b sku c is not supported.\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 400, message: The value provided for one of the properties in the
        request body is invalid.}
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Compute/images/custom_image"},
      "nodeAgentSKUId": "batch.node.windows amd64"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:15:14 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-12-01.8.0&timeout=30
  response:
    b[...]
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:15:15 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D6879FA9733292\",\"lastModified\":\"2019-01-31T17:15:13.1952786Z\"\
        ,\"creationTime\":\"2019-01-31T17:15:13.1952786Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-01-31T17:15:13.1952786Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2019-01-31T17:15:13.6632801Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\"\
        :{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n    \
        \  \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\":\"admin\"\
        \r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n \
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"osVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D6879FA9733292']
      last-modified: ['Thu, 31 Jan 2019 17:15:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"targetDedicatedNodes": 5, "targetLowPriorityNodes": 3}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:15:16 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchxwyieox4jbyb4yll.japanwest.batch.azure.com/pools/xplatCreatedPool/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D6879FABAD853E']
      last-modified: ['Thu, 31 Jan 2019 17:15:16 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:15:18 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/nodecounts?api-version=2018-12-01.8.0&maxresults=10&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#poolnodecounts\"\
        ,\"value\":[\r\n    {\r\n      \"poolId\":\"xplatCreatedPool\",\"dedicated\"\
        :{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"\
        preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"\
        startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"\
        total\":0\r\n      },\"lowPriority\":{\r\n        \"creating\":0,\"idle\"\
        :0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\"\
        :0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\"\
        :0,\"waitingForStartTask\":0,\"total\":0\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:15:18 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchxwyieox4jbyb4yll.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D6879FABAD853E']
      last-modified: ['Thu, 31 Jan 2019 17:15:16 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:19 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D6879FABAD853E\",\"lastModified\":\"2019-01-31T17:15:16.932947Z\"\
        ,\"creationTime\":\"2019-01-31T17:15:13.1952786Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-01-31T17:15:13.1952786Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2019-01-31T17:15:22.2296949Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":5,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :3,\"resizeErrors\":[\r\n    {\r\n      \"code\":\"ResizeStopped\",\"message\"\
        :\"Desired number of dedicated nodes could not be allocated due to a stop\
        \ resize operation\"\r\n    },{\r\n      \"code\":\"ResizeStopped\",\"message\"\
        :\"Desired number of low priority nodes could not be allocated due to a stop\
        \ resize operation\"\r\n    }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\"\
        :\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"osVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D6879FABAD853E']
      last-modified: ['Thu, 31 Jan 2019 17:15:16 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"startTask": {"commandLine": "cmd /c echo updated", "waitForSuccess":
      true}, "certificateReferences": [], "applicationPackageReferences": [], "metadata":
      []}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:17:20 GMT']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchxwyieox4jbyb4yll.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D6879FF57093C2']
      last-modified: ['Thu, 31 Jan 2019 17:17:20 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:20 GMT']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D6879[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdSN01NUFJPTFNJSVdVWkFJMlBRRENDUko0WlRQSVJSTlVYS3w2MkFFMDhEOUY0NTczRUJDLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
