interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-09-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/187464ee-175c-4f66-8cca-6350f980c3af?api-version=2017-09-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/187464ee-175c-4f66-8cca-6350f980c3af?api-version=2017-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D593604A8575E6"']
      last-modified: ['Mon, 26 Mar 2018 21:26:51 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-09-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"wF8rfWCHgjoU5f3LbwyEpYgJ1fZDZrbAqi8nn0LllLKeN1BjOxIf32aRw6avuFWTU7wU9+n0m+xNaWt8VTPEWQ==","secondary":"lDWXN8/eBGH5QKiB9RDWLA4aP+6COOdw7pgZ+peNTUk+zLeFfO3USq4bIT+ve12bEscmXRSRce28M4dTc0SZrA=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"jobSpecification": {"jobReleaseTask": {"resourceFiles": [{"filePath":
      "jobReleaseFilePath", "blobSource": "https://testacct.blob.core.windows.net/"}],
      "commandLine": "cmd /c dir /s", "id": "jobRelease", "environmentSettings": [{"name":
      "jobReleaseName1", "value": "jobReleaseValue1"}, {"name": "jobReleaseName2",
      "value": "jobReleaseValue2"}]}, "displayName": "jobSpecDisplayName", "priority":
      1, "jobManagerTask": {"killJobOnCompletion": false, "environmentSettings": [{"name":
      "name1", "value": "value1"}, {"name": "name2", "value": "value2"}], "id": "jobManager",
      "commandLine": "cmd /c dir /s", "constraints": {"maxWallClockTime": "PT1H"},
      "displayName": "jobManagerDisplay", "resourceFiles": [{"filePath": "filePath",
      "blobSource": "https://testacct.blob.core.windows.net/"}]}, "constraints": {"maxTaskRetryCount":
      5, "maxWallClockTime": "P1D"}, "metadata": [{"name": "specMeta1", "value": "specMetaValue1"},
      {"name": "specMeta2", "value": "specMetaValue2"}], "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "jobPreparationTask": {"id": "jobPrep", "commandLine": "cmd
      /c dir /s", "constraints": {"maxTaskRetryCount": 2}, "resourceFiles": [{"filePath":
      "jobPrepFilePath", "blobSource": "https://testacct.blob.core.windows.net/"}],
      "environmentSettings": [{"name": "jobPrepName1", "value": "jobPrepValue1"},
      {"name": "jobPrepName2", "value": "jobPrepValue2"}]}, "poolInfo": {"autoPoolSpecification":
      {"keepAlive": false, "pool": {"cloudServiceConfiguration": {"targetOSVersion":
      "*", "osFamily": "4"}, "vmSize": "small", "certificateReferences": [{"thumbprint":
      "0123456789ABCDEF", "storeName": "certStore", "storeLocation": "localmachine",
      "thumbprintAlgorithm": "sha1", "visibility": ["starttask"]}], "startTask": {"commandLine":
      "cmd /c dir /s"}}, "poolLifetimeOption": "jobschedule", "autoPoolIdPrefix":
      "TestSpecPrefix"}}}, "metadata": [{"name": "meta2", "value": "value2"}, {"name":
      "meta1", "value": "value1"}], "id": "xplatJobScheduleJobTests", "displayName":
      "displayName", "schedule": {"recurrenceInterval": "P2D"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobschedules?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchue5duxiy45mcmtaj.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests']
      dataserviceversion: ['3.0']
      etag: ['0x8D593604D6DE1A2']
      last-modified: ['Mon, 26 Mar 2018 21:26:56 GMT']
      location: ['https://clibatch000002.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests/jobs?timeout=30&maxresults=1000&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#jobs\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"xplatJobScheduleJobTests:job-1\",\"\
        displayName\":\"jobSpecDisplayName\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobScheduleJobTests:job-1\"\
        ,\"eTag\":\"0x8D593604D867793\",\"lastModified\":\"2018-03-26T21:26:56.9594771Z\"\
        ,\"creationTime\":\"2018-03-26T21:26:56.877213Z\",\"state\":\"completed\"\
        ,\"stateTransitionTime\":\"2018-03-26T21:26:57.1264795Z\",\"previousState\"\
        :\"active\",\"previousStateTransitionTime\":\"2018-03-26T21:26:56.9594771Z\"\
        ,\"priority\":1,\"usesTaskDependencies\":false,\"constraints\":{\r\n     \
        \   \"maxWallClockTime\":\"P1D\",\"maxTaskRetryCount\":5\r\n      },\"jobManagerTask\"\
        :{\r\n        \"id\":\"jobManager\",\"displayName\":\"jobManagerDisplay\"\
        ,\"commandLine\":\"cmd /c dir /s\",\"resourceFiles\":[\r\n          {\r\n\
        \            \"blobSource\":\"https://testacct.blob.core.windows.net/\",\"\
        filePath\":\"filePath\"\r\n          }\r\n        ],\"environmentSettings\"\
        :[\r\n          {\r\n            \"name\":\"name1\",\"value\":\"value1\"\r\
        \n          },{\r\n            \"name\":\"name2\",\"value\":\"value2\"\r\n\
        \          }\r\n        ],\"constraints\":{\r\n          \"maxWallClockTime\"\
        :\"PT1H\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\"\
        :5\r\n        },\"userIdentity\":{\r\n          \"autoUser\":{\r\n       \
        \     \"elevationLevel\":\"nonadmin\"\r\n          }\r\n        },\"runExclusive\"\
        :true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":false\r\n    \
        \  },\"jobPreparationTask\":{\r\n        \"id\":\"jobPrep\",\"commandLine\"\
        :\"cmd /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"blobSource\"\
        :\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobPrepFilePath\"\
        \r\n          }\r\n        ],\"environmentSettings\":[\r\n          {\r\n\
        \            \"name\":\"jobPrepName1\",\"value\":\"jobPrepValue1\"\r\n   \
        \       },{\r\n            \"name\":\"jobPrepName2\",\"value\":\"jobPrepValue2\"\
        \r\n          }\r\n        ],\"constraints\":{\r\n          \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":2\r\n        },\"userIdentity\":{\r\n          \"autoUser\"\
        :{\r\n            \"elevationLevel\":\"nonadmin\"\r\n          }\r\n     \
        \   },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n \
        \     },\"jobReleaseTask\":{\r\n        \"id\":\"jobRelease\",\"commandLine\"\
        :\"cmd /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"blobSource\"\
        :\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobReleaseFilePath\"\
        \r\n          }\r\n        ],\"environmentSettings\":[\r\n          {\r\n\
        \            \"name\":\"jobReleaseName1\",\"value\":\"jobReleaseValue1\"\r\
        \n          },{\r\n            \"name\":\"jobReleaseName2\",\"value\":\"jobReleaseValue2\"\
        \r\n          }\r\n        ],\"maxWallClockTime\":\"PT15M\",\"retentionTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"userIdentity\":{\r\n          \"autoUser\"\
        :{\r\n            \"elevationLevel\":\"nonadmin\"\r\n          }\r\n     \
        \   }\r\n      },\"commonEnvironmentSettings\":[\r\n        {\r\n        \
        \  \"name\":\"commonName1\",\"value\":\"commonValue1\"\r\n        },{\r\n\
        \          \"name\":\"commonName2\",\"value\":\"commonValue2\"\r\n       \
        \ }\r\n      ],\"poolInfo\":{\r\n        \"autoPoolSpecification\":{\r\n \
        \         \"autoPoolIdPrefix\":\"TestSpecPrefix\",\"poolLifetimeOption\":\"\
        jobschedule\",\"keepAlive\":false,\"pool\":{\r\n            \"vmSize\":\"\
        small\",\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n             \
        \ \"nodeFillType\":\"Spread\"\r\n            },\"resizeTimeout\":\"PT15M\"\
        ,\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\"\
        :false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n        \
        \      \"commandLine\":\"cmd /c dir /s\",\"userIdentity\":{\r\n          \
        \      \"autoUser\":{\r\n                  \"elevationLevel\":\"nonadmin\"\
        \r\n                }\r\n              },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :false\r\n            },\"certificateReferences\":[\r\n              {\r\n\
        \                \"thumbprint\":\"0123456789abcdef\",\"thumbprintAlgorithm\"\
        :\"sha1\",\"storeLocation\":\"LocalMachine\",\"storeName\":\"certStore\",\"\
        visibility\":[\r\n                  \"starttask\"\r\n                ]\r\n\
        \              }\r\n            ],\"cloudServiceConfiguration\":{\r\n    \
        \          \"osFamily\":\"4\",\"targetOSVersion\":\"*\"\r\n            }\r\
        \n          }\r\n        }\r\n      },\"metadata\":[\r\n        {\r\n    \
        \      \"name\":\"specMeta1\",\"value\":\"specMetaValue1\"\r\n        },{\r\
        \n          \"name\":\"specMeta2\",\"value\":\"specMetaValue2\"\r\n      \
        \  }\r\n      ],\"executionInfo\":{\r\n        \"startTime\":\"2018-03-26T21:26:56.9594771Z\"\
        ,\"endTime\":\"2018-03-26T21:26:57.1264795Z\",\"poolId\":\"TestSpecPrefix_BC967D86-4EF5-44DF-AF6C-4613E75761F1\"\
        ,\"schedulingError\":{\r\n          \"category\":\"UserError\",\"code\":\"\
        InvalidCertificatesInAutoPool\",\"message\":\"One or more certificates specified\
        \ for the pool are invalid\",\"details\":[\r\n            {\r\n          \
        \    \"name\":\"sha1-0123456789abcdef\",\"value\":\"The specified certificate\
        \ does not exist.\"\r\n            }\r\n          ]\r\n        }\r\n     \
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n\
        \    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs?timeout=30&maxresults=1000&api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#jobs\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"xplatJob\",\"displayName\":\"displayName\"\
        ,\"url\":[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJob?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests?timeout=30&api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc1UlBTUlFFRFhaV043RFdFU1JUR0lYUURKR0tISTQ1UUtBNXwxQzFGQjI4RUMyOEE3MkE0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
