interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "japanwest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/9ca3d168-c662-4d83-8f34-c50a92a56f52?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/9ca3d168-c662-4d83-8f34-c50a92a56f52?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"japanwest","properties":{"accountEndpoint":"clibatch000002.japanwest.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5936F0839867D"']
      last-modified: ['Mon, 26 Mar 2018 23:12:23 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"Co9IFXAY9YnSnUOyITrG7Gbj4T0sHzM+DaTycjq01fR88GDzR7IToHHL6d8oLSNbIYM9etHzm7jnYzw7AviQCQ==","secondary":"US/Rj1R8l5a/E0Xs5vlbhAtzXETpoOOI6dsjanEZbgLrKu2vanxH0gcwxdX0TGrdXRjwMlVLBaoTwRZsKImfVA=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"startTask": {"commandLine": "cmd /c echo test", "waitForSuccess": true,
      "userIdentity": {"autoUser": {"elevationLevel": "admin", "scope": "task"}}},
      "id": "xplatCreatedPool", "vmSize": "small", "cloudServiceConfiguration": {"osFamily":
      "4", "targetOSVersion": "*"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchbyogr5b4nrqfyf42.japanwest.batch.azure.com/pools/xplatCreatedPool']
      dataserviceversion: ['3.0']
      etag: ['0x8D5936F0BB5F19F']
      last-modified: ['Mon, 26 Mar 2018 23:12:28 GMT']
      location: ['https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool']
    status: {code: 201, message: Created}
- request:
    body: '{"vmSize": "Standard_A1", "id": "pool_image1", "virtualMachineConfiguration":
      {"imageReference": {"offer": "b", "publisher": "a", "sku": "c"}, "nodeAgentSKUId":
      "batch.node.windows amd64"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidPropertyValue\",\"message\":{\r\n    \"lang\":\"en-US\"\
        ,\"value\":\"The value provided for one of the properties in the request body\
        \ is invalid.\\nRequestId:320188c1-2637-4b4e-bddf-7d5aab9e2aa9\\nTime:2018-03-26T23:12:31.0481982Z\"\
        \r\n  },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\"\
        :\"imageReference\"\r\n    },{\r\n      \"key\":\"Reason\",\"value\":\"The\
        \ specified imageReference with publisher a offer b sku c is not supported.\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 400, message: The value provided for one of the properties in the
        request body is invalid.}
- request:
    body: '{"vmSize": "Standard_A1", "id": "pool_image1", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Compute/images/custom_image"},
      "nodeAgentSKUId": "batch.node.windows amd64"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https:/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D5936F0BB5F19F\",\"lastModified\":\"2018-03-26T23:12:28.9919391Z\"\
        ,\"creationTime\":\"2018-03-26T23:12:28.9919391Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-03-26T23:12:28.9919391Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2018-03-26T23:12:29.2087231Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\"\
        :{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n    \
        \  \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\":\"admin\"\
        \r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n \
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D5936F0BB5F19F']
      last-modified: ['Mon, 26 Mar 2018 23:12:28 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"targetDedicatedNodes": 5, "targetLowPriorityNodes": 3}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchbyogr5b4nrqfyf42.japanwest.batch.azure.com/pools/xplatCreatedPool/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D5936F0FF88945']
      last-modified: ['Mon, 26 Mar 2018 23:12:36 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/nodecounts?api-version=2018-03-01.6.1&maxresults=10&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#poolnodecounts\"\
        ,\"value\":[\r\n    {\r\n      \"poolId\":\"xplatCreatedPool\",\"dedicated\"\
        :{\r\n        \"creating\":0,\"idle\":0,\"offline\":0,\"preempted\":0,\"rebooting\"\
        :0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\"\
        :0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n      },\"lowPriority\"\
        :{\r\n        \"creating\":0,\"idle\":0,\"offline\":0,\"preempted\":0,\"rebooting\"\
        :0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\"\
        :0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n      }\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchbyogr5b4nrqfyf42.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D5936F12665D5A']
      last-modified: ['Mon, 26 Mar 2018 23:12:40 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D5936F12665D5A\",\"lastModified\":\"2018-03-26T23:12:40.2144602Z\"\
        ,\"creationTime\":\"2018-03-26T23:12:28.9919391Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-03-26T23:12:28.9919391Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2018-03-26T23:13:45.3871649Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":5,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :3,\"resizeErrors\":[\r\n    {\r\n      \"code\":\"ResizeStopped\",\"message\"\
        :\"Desired number of dedicated nodes could not be allocated due to a stop\
        \ resize operation\"\r\n    },{\r\n      \"code\":\"ResizeStopped\",\"message\"\
        :\"Desired number of low priority nodes could not be allocated due to a stop\
        \ resize operation\"\r\n    }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\"\
        :\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D5936F12665D5A']
      last-modified: ['Mon, 26 Mar 2018 23:12:40 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"metadata": [], "certificateReferences": [], "applicationPackageReferences":
      [], "startTask": {"commandLine": "cmd /c echo updated", "waitForSuccess": true}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchbyogr5b4nrqfyf42.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D5936F5DA66ABB']
      last-modified: ['Mon, 26 Mar 2018 23:14:46 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdDTklXTjRNSElPNDdTSkhGU0RON0RQU1pRT05HUkJZSE9YRnw4MzMwOUY4NzNBOTgzMTIyLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
