interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-31T17:17:24Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-31T17:17:24Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "koreacentral"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2018-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/fda25136-a82a-428c-afc3-acc545e52dcf?api-version=2018-12-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/fda25136-a82a-428c-afc3-acc545e52dcf?api-version=2018-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"koreacentral","properties":{"accountEndpoint":"clibatch000002.koreacentral.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"BatchService"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D687A00284F443"']
      last-modified: ['Thu, 31 Jan 2019 17:17:42 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2018-12-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"uLNsb2OQfwH1bENrn7/OObn+hJLGryl/yyJfz7KNWrJG9aKhNmLVi6YEDcEIUpQVdw1gS44bTldImbaqtlrnHA==","secondary":"5fytP7X3btkBK2sqAXrzPFqAOiS7rt/FHR34qDSa0N5GT7Z+syMJX+cZS3L72AbwlkVHz6bNPu9pPezEKYTAGQ=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "azure-cli-test-paas", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:17:45 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-paas']
      dataserviceversion: ['3.0']
      etag: ['0x8D687A0048313B1']
      last-modified: ['Thu, 31 Jan 2019 17:17:45 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:17:46 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-iaas']
      dataserviceversion: ['3.0']
      etag: ['0x8D687A0056D7ED0']
      last-modified: ['Thu, 31 Jan 2019 17:17:47 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "resizeTimeout": "PT15M", "targetDedicatedNodes": 2, "startTask":
      {"commandLine": "cmd /c echo test", "userIdentity": {"username": "cliTestUser"},
      "waitForSuccess": true}, "userAccounts": [{"name": "cliTestUser", "password":
      "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:17:48 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-json']
      dataserviceversion: ['3.0']
      etag: ['0x8D687A006B39589']
      last-modified: ['Thu, 31 Jan 2019 17:17:49 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:49 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json\"\
        ,\"eTag\":\"0x8D687A006B39589\",\"lastModified\":\"2019-01-31T17:17:49.6453513Z\"\
        ,\"creationTime\":\"2019-01-31T17:17:49.6453513Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-01-31T17:17:49.6453513Z\",\"allocationState\"\
        :\"resizing\",\"allocationStateTransitionTime\":\"2019-01-31T17:17:49.6453513Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\"\
        :{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n    \
        \  \"username\":\"cliTestUser\"\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"userAccounts\":[\r\n    {\r\n      \"name\":\"cliTestUser\"\
        ,\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n        \"\
        loginMode\":\"interactive\"\r\n      }\r\n    }\r\n  ],\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"\
        cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D687A006B39589']
      last-modified: ['Thu, 31 Jan 2019 17:17:49 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:51 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-12-01.8.0&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas\"\
        ,\"eTag\":\"0x8D687A0056D7ED0\",\"lastModified\":\"2019-01-31T17:17:47.508296Z\"\
        ,\"creationTime\":\"2019-01-31T17:17:47.508296Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-01-31T17:17:47.508296Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2019-01-31T17:17:47.8191241Z\"\
        ,\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n \
        \     },\"virtualMachineConfiguration\":{\r\n        \"imageReference\":{\r\
        \n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\"\
        :\"16.04.0-LTS\",\"version\":\"latest\"\r\n        },\"nodeAgentSKUId\":\"\
        batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n      \"id\":\"azure-cli-test-json\"\
        ,\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json\"\
        ,\"eTag\":\"0x8D687A006B39589\",\"lastModified\":\"2019-01-31T17:17:49.6453513Z\"\
        ,\"creationTime\":\"2019-01-31T17:17:49.6453513Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-01-31T17:17:49.6453513Z\",\"allocationState\"\
        :\"resizing\",\"allocationStateTransitionTime\":\"2019-01-31T17:17:49.6453513Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\"\
        :{\r\n        \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n\
        \          \"username\":\"cliTestUser\"\r\n        },\"maxTaskRetryCount\"\
        :0,\"waitForSuccess\":true\r\n      },\"userAccounts\":[\r\n        {\r\n\
        \          \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\"\
        :{\r\n            \"loginMode\":\"interactive\"\r\n          }\r\n       \
        \ }\r\n      ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n      \
        \  \"nodeFillType\":\"Spread\"\r\n      },\"cloudServiceConfiguration\":{\r\
        \n        \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n      }\r\n    },{\r\n\
        \      \"id\":\"azure-cli-test-paas\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas\"\
        ,\"eTag\":\"0x8D687A0048313B1\",\"lastModified\":\"2019-01-31T17:17:45.9720113Z\"\
        ,\"creationTime\":\"2019-01-31T17:17:45.9720113Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-01-31T17:17:45.9720113Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2019-01-31T17:17:46.3260103Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n \
        \     },\"cloudServiceConfiguration\":{\r\n        \"osFamily\":\"4\",\"osVersion\"\
        :\"*\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:52 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-12-01.8.0&$filter=id%20eq%20%27azure-cli-test-paas%27&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli[...]
- request:
    body: '{"targetDedicatedNodes": 5}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:17:53 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas/resize?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-paas/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D687A009384F25']
      last-modified: ['Thu, 31 Jan 2019 17:17:53 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:54 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas?api-version=2018-12-01.8.0&$select=allocationState%2C%20targetDedicatedNodes&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"allocationState\":\"resizing\",\"targetDedicatedNodes\":5\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D687A009384F25']
      last-modified: ['Thu, 31 Jan 2019 17:17:53 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:54 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas/stopresize?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-paas/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D687A009384F25']
      last-modified: ['Thu, 31 Jan 2019 17:17:53 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:17:55 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D687A00AB65533']
      last-modified: ['Thu, 31 Jan 2019 17:17:56 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:56 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?api-version=2018-12-01.8.0&$select=enableAutoScale&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"enableAutoScale\":true\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D687A00AB65533']
      last-modified: ['Thu, 31 Jan 2019 17:17:56 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:17:57 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\"\
        ,\"timestamp\":\"2019-01-31T17:17:58.2220233Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\
        \r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:17:58 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch2akhdasveb4isr6d.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D687A00AB65533']
      last-modified: ['Thu, 31 Jan 2019 17:17:56 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:18:00 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/poolusagemetrics?api-version=2018-12-01.8.0&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#poolusagemetrics\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:18:01 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?api-version=2018-12-01.8.0&$select=startTask&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"username\":\"cliTestUser\"\r\n    },\"maxTaskRetryCount\":0,\"\
        waitForSuccess\":true\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D687A006B39589']
      last-modified: ['Thu, 31 Jan 2019 17:17:49 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"startTask": {"commandLine": "new_value"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Jan 2019 17:18:02 GMT']
      return-client-request-id: ['false']
    method: PATCH
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"OperationTimedOut\",\"message\":{\r\n    \"lang\":\"en-US\",\"\
        value\":\"Operation could not be completed within the specified time.\\nRequestId:75e1cd16-5380-40df-936a-9792dbb4c03f\\\
        nTime:2019-01-31T17:18:28.8600436Z\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 500, message: Operation could not be completed within the specified
        time.}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:19:17 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?api-version=2018-12-01.8.0&$select=startTask&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"startTask\":{\r\n    \"commandLine\":\"new_value\",\"userIdentity\":{\r\
        \n      \"autoUser\":{\r\n        \"elevationLevel\":\"nonadmin\"\r\n    \
        \  }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":false\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D687A03ADB765E']
      last-modified: ['Thu, 31 Jan 2019 17:19:17 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:19:18 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/nodeagentskus?api-version=2018-12-01.8.0&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImage[...]
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:19:19 GMT']
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Thu, 31 Jan 2019 17:19:20 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?api-version=2018-12-01.8.0&$select=state&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\"\
        ,\"state\":\"deleting\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D687A03C75BEA8']
      last-modified: ['Thu, 31 Jan 2019 17:19:19 GMT']
    status: {code: 200, message: OK}
[...]
