interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard"}, "location": "westus", "properties": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2016-06-01
  response:
    body: {string: '{"location":"westus","name":"clitest-vault000002","etag":"W/\"datetime''2017-08-31T08%3A06%3A15.4277287Z''\"","properties":{"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/DefaultPolicy?api-version=2016-12-01
  response:
    body: {string: '{"id":"/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/DefaultPolicy","name":"DefaultPolicy","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureIaasVM","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2017-08-31T18:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2017-08-31T18:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}},"protectedItemsCount":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"schedulePolicy": {"schedulePolicyType": "SimpleSchedulePolicy",
      "scheduleRunFrequency": "Daily", "scheduleRunTimes": ["2017-08-31T18:00:00.000Z"],
      "scheduleWeeklyFrequency": 0}, "retentionPolicy": {"dailySchedule": {"retentionDuration":
      {"count": 30, "durationType": "Days"}, "retentionTimes": ["2017-08-31T18:00:00.000Z"]},
      "retentionPolicyType": "LongTermRetentionPolicy"}, "backupManagementType": "AzureIaasVM",
      "protectedItemsC[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['10']
      x-fastly-request-id: [a8d1b476ce1c57dfc5716cda3703e0d0cb62105b]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-06-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"properties": {"mode": "Incremental", "template": {"variables":
      {}, "contentVersion": "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {}, "parameters": {}, "resources": [{"type": "Microsoft.Network/virtualNetworks",
      "dependsOn": [], "name": "clitest-vm000005VNET", "tags": {}, "apiVersion": "2015-06-15",
      "location": "westus", "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "clitest-vm000005Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups", "dependsOn":
      [], "name": "clitest-vm000005NSG", "tags": {}, "location": "westus", "apiVersion":
      "2015-06-15", "properties": {"securityRules": [{"name": "rdp", "properties":
      {"sourceAddressPrefix": "*", "destinationPortRange": "3389", "priority": 1000,
      "access": "Allow", "destinationAddressPrefix": "*", "sourcePortRange": "*",
      "protocol": "Tcp", "direction": "Inbound"}}]}}, {"type": "Microsoft.Network/publicIPAddresses",
      "dependsOn": [], "name": "clitest-vm000005PublicIP", "tags": {}, "location":
      "westus", "apiVersion": "2015-06-15", "properties": {"publicIPAllocationMethod":
      "dynamic"}}, {"type": "Microsoft.Network/networkInterfaces", "dependsOn": ["Microsoft.Network/virtualNetworks/clitest-vm000005VNET",
      "Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG", "Microsoft.Network/publicIpAddresses/clitest-vm000005PublicIP"],
      "name": "clitest-vm000005VMNic", "tags": {}, "location": "westus", "apiVersion":
      "2015-06-15", "properties": {"ipConfigurations": [{"name": "ipconfigclitest-vm000005",
      "properties": {"subnet": {"id": "/subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000005VNET/subnets/clitest-vm000005Subnet"},
      "publicIPAddress": {"id": "/subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP"},
      "privateIPAllocationMethod": "Dynamic"}}], "networkSecurityGroup": {"id": "/subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG"}}},
      {"type": "Microsoft.Compute/virtualMachines", "dependsOn": ["Microsoft.Network/networkInterfaces/clitest-vm000005VMNic"],
      "name": "clitest-vm000005", "tags": {}, "location": "westus", "apiVersion":
      "2017-03-30", "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"},
      "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic"}]},
      "storageProfile": {"imageReference": {"version": "latest", "sku": "2012-R2-Datacenter",
      "publisher": "MicrosoftWindowsServer", "offer": "WindowsServer"}, "osDisk":
      {"managedDisk": {"storageAccountType": "Premium_LRS"}, "name": "osdisk_7c05154d55",
      "caching": null, "createOption": "fromImage"}}, "osProfile": {"adminUsername":
      "anudeeb", "adminPassword": "%j^VYw9Q3Z@Cu$*h", "computerName": "clitest-vm000005"}}}]},
      "parameters": {}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_0mPFUuXaKv1UF2BXoeXZWK4JcUaL9EJS","name":"vm_deploy_0mPFUuXaKv1UF2BXoeXZWK4JcUaL9EJS","properties":{"templateHash":"5079204107346065943","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-08-31T08:06:34.9692723Z","duration":"PT3.1916798S","correlationId":"fa31d14d-19da-4714-ba1d-c6df36b29fd9","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000005VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"clitest-vm000005VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"clitest-vm000005NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"clitest-vm000005PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clitest-vm000005VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clitest-vm000005VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"clitest-vm000005"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_0mPFUuXaKv1UF2BXoeXZWK4JcUaL9EJS/operationStatuses/08586974400937000374?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586974400937000374?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005?$expand=instanceView&api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"7bd382f1-f759-4cc8-925c-e8ab9377a3ef\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"\
        WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"\
        version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Windows\",\r\n        \"name\": \"osdisk_7c05154d55\",\r\n        \"createOption\"\
        : \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\"\
        : {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/osdisk_7c05154d55\"\
        \r\n        },\r\n        \"diskSizeGB\": 128\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"clitest-vm000005\"\
        ,\r\n      \"adminUsername\": \"anudeeb\",\r\n      \"windowsConfiguration\"\
        : {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\"\
        : true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.7.1198.802\"\
        ,\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"GuestAgent is running and accepting\
        \ new configurations.\",\r\n            \"time\": \"2017-08-31T08:11:14+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"osdisk_7c05154d55\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2017-08-31T08:07:19.2722078+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\"\
        : [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\
        \n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2017-08-31T08:10:33.3255528+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005\"\
        ,\r\n  \"name\": \"clitest-vm000005\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"clitest-vm000005VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"9a6ce5f6-abc6-428c-b0ea-3d7a63fe6d39\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5a8ff5a8-7e0b-4839-a0f8-d14f5925ec2f\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigclitest-vm000005\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic/ipConfigurations/ipconfigclitest-vm000005\"\
        ,\r\n        \"etag\": \"W/\\\"9a6ce5f6-abc6-428c-b0ea-3d7a63fe6d39\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000005VNET/subnets/clitest-vm000005Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"0d105hthv3dezpxxgrfubv511d.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-33-5D-8E\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"9a6ce5f6-abc6-428c-b0ea-3d7a63fe6d39"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"clitest-vm000005PublicIP\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"340de49e-720e-4c2b-a23f-1b95c28bca13\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9e974965-8c9d-491c-9160-f2a55327ddb5\"\
        ,\r\n    \"ipAddress\": \"13.88.176.236\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic/ipConfigurations/ipconfigclitest-vm000005\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"340de49e-720e-4c2b-a23f-1b95c28bca13"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"7bd382f1-f759-4cc8-925c-e8ab9377a3ef\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standar[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectableItems?$filter=backupManagementType%20eq%20%27AzureIaasVM%27&api-version=2016-12-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/refreshContainers?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/255034ee-acf8-4d9b-a22f-ac43e18ad0ae?api-version=2016-12-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/255034ee-acf8-4d9b-a22f-ac43e18ad0ae?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/255034ee-acf8-4d9b-a22f-ac43e18ad0ae?api-version=2016-12-01']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectableItems?$filter=backupManagementType%20eq%20%27AzureIaasVM%27&api-version=2016-12-01
  response:
    body: {string: '{"value":[{"id":"/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;clitest.rg000001;clitest-vm000005/protectableItems/vm;iaasvmcontainerv2;clitest.rg000001;clitest-vm000005","name":"iaasvmcontainerv2;clitest.rg000001;clitest-vm000005","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005","virtualMachineVersion":"Compute","resourceGroup":"clitest.rg000001","backupManagementType":"AzureIaasVM","protectableItemType":"Microsoft.Compute/virtualMachines","friendlyName":"clitest-vm000005","protectionState":"NotProtected"}},{"id":"/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;clitest.rg000001;clitest-vm000006/protectableItems/vm;iaasvmcontainerv2;clitest.rg000001;clitest-vm000006","name":"iaasvmcontainerv2;clitest.rg000001;clitest-vm000006","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000006","virtualMachineVersion":"Compute","resourceGroup":"clitest.rg000001","backupManagementType":"AzureIaasVM","protectableItemType":"Microsoft.Compute/virtualMachines","friendlyName":"clitest-vm000006","protectionState":"NotProtected"}}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''{"properties": {"policyId": "/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/DefaultPolicy",
      "sourceResourceId": "/subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005",
      "protectedItemType": "Microsoft.Compute/virtualMachines"}}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bclitest.rg000001%3Bclitest-vm000005/protectedItems/vm%3Biaasvmcontainerv2%3Bclitest.rg000001%3Bclitest-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/4b41626c-70b9-4b5f-b475-b811f29e0520/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupOperations/2d1036b0-d8f8-4ece-87ce-081aa613da3a?api-version=2016-12-01
  response:
    body: {string: '{"id":"2d1036b0-d8f8-4ece-87ce-081aa613da3a","name":"2d1036b0-d8f8-4ece-87ce-081aa613da3a","status":"InProgress","startTime":"2017-08-31T08:15:42.0351587Z","endTime":"0001-01-01T00:00:00"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
[...]
