interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-04-02T14:57:14Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001","name":"cli_test_vm_lb_integration000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-04-02T14:57:14Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Compute/availabilitySets", "name": "av1", "location": "westus",
      "tags": {}, "apiVersion": "2017-12-01", "properties": {"platformFaultDomainCount":
      2}, "sku": {"name": "Aligned"}}], "outputs": {}}, "parameters": {}, "mode":
      "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/av_set_deploy_bltu9dl3DhSAp74c1utCwRawBfDdfsX3","name":"av_set_deploy_bltu9dl3DhSAp74c1utCwRawBfDdfsX3","properties":{"templateHash":"13249355983112717848","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-04-02T14:57:20.5824623Z","duration":"PT0.467612S","correlationId":"5e536048-be7f-4bb5-a1fb-55a2f8669757","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/av_set_deploy_bltu9dl3DhSAp74c1utCwRawBfDdfsX3/operationStatuses/08586789258453627652?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586789258453627652?api-version=2017-05-10
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/av_set_deploy_bltu9dl3DhSAp74c1utCwRawBfDdfsX3","name":"av_set_deploy_bltu9dl3DhSAp74c1utCwRawBfDdfsX3","properties":{"templateHash":"13249355983112717848","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-04-02T14:57:31.6560959Z","duration":"PT11.5412456S","correlationId":"5e536048-be7f-4bb5-a1fb-55a2f8669757","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 5,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1\"\
        ,\r\n  \"name\": \"av1\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n\
        \  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4199,Microsoft.Compute/LowCostGet30Min;33557']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['57']
      x-fastly-request-id: [2b1165bed32e20c388e386643143374310462553]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute","namespace":"Microsoft.Compute","authorizations":[{"applicationId":"60e6cd67-9c8c-4951-9b3c-23c25a2169af","roleDefinitionId":"e4770acb-272e-4dc8-87f3-12f44a612224"},{"applicationId":"a303894e-f1d8-4a37-bf10-67aa654a0596","roleDefinitionId":"903ac751-8ad5-4e5a-bfc2-5e49f450a241"},{"applicationId":"a8b6bf88-1d1a-4626-b040-9a729ea93c65","roleDefinitionId":"45c8267c-80ba-4b96-9a43-115b8f49fccd"}],"resourceTypes":[{"resourceType":"availabilitySets","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast","Brazil South","South India","Central India","West
        India","Canada Central","Canada East","West US 2","West Central US","UK South","UK
        West","Korea Central","Korea South","France Central","East US 2 EUAP","Central
        US EUAP"],"apiVersions":["2017-12-01","2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"virtualMachines","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","West
        Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast","Brazil South","South India","Central India","West
        India","Canada Central","Canada East","West US 2","West Central US","UK South","UK
        West","Korea Central","Korea South","France Central","East US 2 EUAP","Central
        US EUAP","North Europe"],"apiVersions":["2017-12-01","2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"zoneMappings":[{"location":"East
        US 2","zones":["1","2","3"]},{"location":"Central US","zones":["1","2","3"]},{"location":"West
        Europe","zones":["1","2","3"]},{"location":"East US 2 EUAP","zones":["1","2","3"]},{"location":"Central
        US EUAP","zones":["1","2"]},{"location":"France Central","zones":["1","2","3"]},{"location":"Southeast
        Asia","zones":["1","2","3"]}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"},{"resourceType":"virtualMachines/exten[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 5,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1\"\
        ,\r\n  \"name\": \"av1\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n\
        \  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4198,Microsoft.Compute/LowCostGet30Min;33556']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm1NSG", "apiVersion": "2015-06-15", "location": "westus", "tags":
      {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "vm1VMNic", "location":
      "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG"], "properties": {"ipConfigurations":
      [{"name": "ipconfigvm1", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"}}},
      {"apiVersion": "2017-12-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "16.04-LTS", "version":
      "latest"}}, "availabilitySet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1"},
      "osProfile": {"computerName": "vm1", "adminUsername": "ubuntuadmin", "linuxConfiguration":
      {"disablePasswordAuthentication": true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAABAQDLkUy/BFb7o47gQqFcMiioYD4w3Tu/7bpy7t/3pQVhjmsEEaWk09dA1Ju1UbukKaLpOprch/r9bgUWu1oTEP7E5evwaJl0TvLX0gsxGGItfPc58bbQ77uxuXhMfYEZ6oiS+Ybt5nUjjDUUNhSIrKSLhCHCmQ9JnOd/AObf9G4iR38bsABIAVxmbYT6OQKm4oRwNs1c99B5TsfnREFs7yawCV3hjKVHsD3bRo83bBbBG3d/CHYfcnEbpK4weagw899YodAXDiUh0qYfOy0mGz4zWaQ4rcCitk9od/WSDhLAOy74cqwzKJwoR9DcALxkWVMuJW7xBF9tWEroVvFrh6/N",
      "path": "/home/ubuntuadmin/.ssh/authorized_keys"}]}}}}}], "outputs": {}}, "parameters":
      {}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/vm_deploy_oKoS0zMkYTSOfTG2KKs2fCs8JnHA5iPe","name":"vm_deploy_oKoS0zMkYTSOfTG2KKs2fCs8JnHA5iPe","properties":{"templateHash":"2612696512176538756","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-04-02T15:00:32.3289607Z","duration":"PT2M37.1709707S","correlationId":"5a5e1472-8b04-4e24-a170-6f17e786ec3b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"}[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"3ad48e95-f0f4-4a50-88a7-d8f46a338e92\"\
        ,\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/AV1\"\
        \r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\
        \r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n\
        \        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"vm1_OsDisk_1_cb17ebae7be94441ac98bee8dc2768f1\",\r\n   \
        \     \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_cb17ebae7be94441ac98bee8dc2768f1\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm1\"\
        ,\r\n      \"adminUsername\": \"ubuntuadmin\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": true,\r\n        \"ssh\"\
        : {\r\n          \"publicKeys\": [\r\n            {\r\n              \"path\"\
        : \"/home/ubuntuadmin/.ssh/authorized_keys\",\r\n              \"keyData\"\
        : \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLkUy/BFb7o47gQqFcMiioYD4w3Tu/7bpy7t/3pQVhjmsEEaWk09dA1Ju1UbukKaLpOprch/r9bgUWu1oTEP7E5evwaJl0TvLX0gsxGGItfPc58bbQ77uxuXhMfYEZ6oiS+Ybt5nUjjDUUNhSIrKSLhCHCmQ9JnOd/AObf9G4iR38bsABIAVxmbYT6OQKm4oRwNs1c99B5TsfnREFs7yawCV3hjKVHsD3bRo83bBbBG3d/CHYfcnEbpK4weagw899YodAXDiUh0qYfOy0mGz4zWaQ4rcCitk9od/WSDhLAOy74cqwzKJwoR9DcALxkWVMuJW7xBF9tWEroVvFrh6/N\"\
        \r\n            }\r\n          ]\r\n        }\r\n      },\r\n      \"secrets\"\
        : []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"platformUpdateDomain\": 0,\r\n      \"platformFaultDomain\"\
        : 0,\r\n      \"computerName\": \"vm1\",\r\n      \"osName\": \"ubuntu\",\r\
        \n      \"osVersion\": \"16.04\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\"\
        : \"2.2.25\",\r\n        \"statuses\": [\r\n          {\r\n            \"\
        code\": \"ProvisioningState/succeeded\",\r\n            \"level\": \"Info\"\
        ,\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\"\
        : \"Guest Agent is running\",\r\n            \"time\": \"2018-04-02T15:00:57+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm1_OsDisk_1_cb17ebae7be94441ac98bee8dc2768f1\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2018-04-02T14:58:44.9183826+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n         \
        \ \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n          \"time\": \"2018-04-02T15:00:12.2650304+00:00\"\r\n       \
        \ },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n     \
        \     \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\
        \n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"name\": \"vm1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4190,Microsoft.Compute/LowCostGet30Min;33549']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2018-01-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"4a3993a5-834b-48e9-87ce-23960253d86f\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a131be71-5622-4261-835a-eaebf366bebb\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        ,\r\n        \"etag\": \"W/\\\"4a3993a5-834b-48e9-87ce-23960253d86f\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"v3lviklndqge5dfl5fsswv2src.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-30-8E-54\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        \r\n    },\r\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4a3993a5-834b-48e9-87ce-23960253d86f"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"3ad48e95-f0f4-4a50-88a7-d8f46a338e92\"\
        ,\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscri[...]
[...]
- request:
    body: '{"properties": {"protocol": "*", "sourcePortRange": "*", "destinationPortRange":
      "80", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "allow", "priority": 900, "direction": "inbound"}, "name": "open-port-80"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG/securityRules/open-port-80?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"name\": \"open-port-80\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG/securityRules/open-port-80\"\
        ,\r\n  \"etag\": \"W/\\\"f5fd73b9-6e5a-4032-bfbe-5ac22dd563ee\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        protocol\": \"*\",\r\n    \"sourcePortRange\": \"*\",\r\n    \"destinationPortRange\"\
        : \"80\",\r\n    \"sourceAddressPrefix\": \"*\",\r\n    \"destinationAddressPrefix\"\
        : \"*\",\r\n    \"access\": \"Allow\",\r\n    \"priority\": 900,\r\n    \"\
        direction\": \"Inbound\",\r\n    \"sourcePortRanges\": [],\r\n    \"destinationPortRanges\"\
        : [],\r\n    \"sourceAddressPrefixes\": [],\r\n    \"destinationAddressPrefixes\"\
        : []\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8d69d3b2-40df-440b-bf0a-9677553d4967?api-version=2018-02-01']
[...]
