interactions:
- request:
    body: '{"tags": {"product": "azurecli", "cause": "automation", "date": "2018-10-01T18:03:31Z"},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001","name":"cli_test_vm_secrets000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-10-01T18:03:31Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7.3\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"16.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2016Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-R2-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2008-R2-SP1\",\n            \"version\":\"latest\"\n
        \         }\n        }\n      }\n    }\n  }\n}\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['0']
      x-fastly-request-id: [9eef23f68c1edf2168d3d80bc289701f05c851ed]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2016-01-21T22:10:16Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"admin3","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"admin3","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin3","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["yugangw@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2018-09-11T22:32:04Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"sdk","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/e7e158d3-7cdc-47cd-8825-5859d7ab2b55/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"admin3@AzureSDKTeam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['466284']
      ocp-aad-diagnostics-server-name: [pnOScdeawrYYFPJuX1Io7DBmy+ms5G0/BcDi1ugwLKQ=]
      ocp-aad-session-key: [o_JH4gq2KrgKwAzflyLlWXxGe1KnJLugpWEfoyc2tcKNydFtJug4TthRX0h13BZfUyRR_TAoTFDiVFkHazQfWg5z5NLmiBnmGGDwTm1HjwJVIISVMfTZ6KINhKDZlQQ0.s5nRtmmLnHbzElS9-Uao0td5XKntgaWItFNqnXohs9E]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"enabledForDeployment": true, "enabledForTemplateDeployment":
      true, "accessPolicies": [{"permissions": {"secrets": ["get", "list", "set",
      "delete", "backup", "restore", "recover"], "keys": ["get", "create", "delete",
      "list", "update", "import", "backup", "restore", "recover"], "certificates":
      ["get", "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover"], "storage":
      ["get", "list", "delete", "set", "update", "regeneratekey", "setsas", "listsas",
      "getsas", "deletesas"]}, "objectId": "e7e158d3-7cdc-47cd-8825-5859d7ab2b55",
      "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}], "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002?api-version=2018-02-14
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002","name":"vmlinuxkv000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","permissions":{"secrets":["get","list","set","delete","backup","restore","recover"],"keys":["get","create","delete","list","update","import","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmlinuxkv000002.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"issuer": {"name": "Self"}, "x509_props": {"validity_months":
      60, "key_usage": ["digitalSignature", "nonRepudiation", "keyEncipherment", "keyAgreement",
      "keyCertSign"], "subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com"}, "key_props": {"key_size": 2048, "exportable": true,
      "reuse_key": false, "kty": "RSA"}, "attributes": {"enabled": true}, "lifetime_actions":
      [{"trigger": {"lifetime_percentage": 90}, "action": {"action_type": "AutoRenew"}}],
      "secret_props": {"contentType": "application/x-pkcs12"}}, "attributes": {"enabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMuf8gFSp+J7Pm5j5tt4MmawXxd/CgxEXI02FN0zQEqMqvkbu2vuf1n1qT7i9alBi3lVQVMQ7Dyvp7GxA6g5xOgMBTcoqqTs7d+/QAR1D7rLJ3BICAyYhSvdELXzXG873VxwFS2uOq5pOWEB66v3T6pUyfR/mQaUUQBsm5b19iZJvtrZNQksAIGy7TenDh9h0ZKvb02WHyahrxYlPVuIb3L3ioYvMvRMR0a8Wchrq6AeztTjr/gvvLYXTCsQU46dsXdxrjB9ffjTzzqhwpwsG5cIJ4HtnZUGDeXg9llcYgoVkslIbjSavf9RmyKAvxpRhJ/ppp4Q3v6wsg8lf0Y+i8MCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCwq29TLRGcIm6JsQeWHzu5BFb/YuKmMKBq73M+1pNEHfN/ACrUTcllrme6/ZnoO6Zbta+QwtNDmPvVbIkKMNnsG0d+Zc0qVyNYKAR9IhIgk5S9RYJB0AnDfEwrenOunpYSKAO0l+d0rYC6BU07hyeh0Bq05J/7ezURItW+mIqIlDtm2ahSE88qR+gbW4Vu1Kr8Ep8i/yJTEPz46UWChuIjLDqbJUFEhTOs4yahpWaNDCj6+WDdpEx00vs4HSkbf56HW40N4BgDg1jZBIHzWn+W8uf0YrOVKsTdlXOgsJSzVil760DPNa21ZVxZFjRFxzJHk+03X+7Bn1+AXyzUgdnT","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"ac15e5f717dc4949866c5195fd3ce7e8"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0&request_id=ac15e5f717dc4949866c5195fd3ce7e8']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQsw[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMuf8gFSp+J7Pm5j5tt4MmawXxd/CgxEXI02FN0zQEqMqvkbu2vuf1n1qT7i9alBi3lVQVMQ7Dyvp7GxA6g5xOgMBTcoqqTs7d+/QAR1D7rLJ3BICAyYhSvdELXzXG873VxwFS2uOq5pOWEB66v3T6pUyfR/mQaUUQBsm5b19iZJvtrZNQksAIGy7TenDh9h0ZKvb02WHyahrxYlPVuIb3L3ioYvMvRMR0a8Wchrq6AeztTjr/gvvLYXTCsQU46dsXdxrjB9ffjTzzqhwpwsG5cIJ4HtnZUGDeXg9llcYgoVkslIbjSavf9RmyKAvxpRhJ/ppp4Q3v6wsg8lf0Y+i8MCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCwq29TLRGcIm6JsQeWHzu5BFb/YuKmMKBq73M+1pNEHfN/ACrUTcllrme6/ZnoO6Zbta+QwtNDmPvVbIkKMNnsG0d+Zc0qVyNYKAR9IhIgk5S9RYJB0AnDfEwrenOunpYSKAO0l+d0rYC6BU07hyeh0Bq05J/7ezURItW+mIqIlDtm2ahSE88qR+gbW4Vu1Kr8Ep8i/yJTEPz46UWChuIjLDqbJUFEhTOs4yahpWaNDCj6+WDdpEx00vs4HSkbf56HW40N4BgDg1jZBIHzWn+W8uf0YrOVKsTdlXOgsJSzVil760DPNa21ZVxZFjRFxzJHk+03X+7Bn1+AXyzUgdnT","cancellation_requested":false,"status":"completed","target":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1","request_id":"ac15e5f717dc4949866c5195fd3ce7e8"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/secrets/cert1/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/406ece0db1b3464ea14cfb2163cae3ea","managed":true,"attributes":{"enabled":false,"nbf":1538416511,"exp":1696183511,"created":1538417111,"updated":1538417111,"recoveryLevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/5d40de1119be4d12ae9a08c8194cbd5f","managed":true,"attributes":{"enabled":true,"nbf":1538416529,"exp":1696183529,"created":1538417129,"updated":1538417129,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_encryption6jkpedwq6ypf343i7itar5bkvey75tlgasmye2k3ylx72mizjvu3t/providers/Micro[...]
[...]
- request:
    body: 'b''b\''{"properties": {"mode": "Incremental", "template": {"parameters":
      {}, "variables": {}, "outputs": {}, "resources": [{"tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24"}, "name": "vm-nameSubnet"}]}, "dependsOn": [],
      "location": "westus", "type": "Microsoft.Network/virtualNetworks", "name": "vm-nameVNET",
      "apiVersion": "2015-06-15"}, {"tags": {}, "properties": {"securityRules": [{"properties":
      {"destinationPortRange": "22", "sourcePortRange": "*", "protocol": "Tcp", "priority":
      1000, "sourceAddressPrefix": "*", "direction": "Inbound", "destinationAddressPrefix":
      "*", "access": "Allow"}, "name": "default-allow-ssh"}]}, "dependsOn": [], "location":
      "westus", "type": "Microsoft.Network/networkSecurityGroups", "name": "vm-nameNSG",
      "apiVersion": "2015-06-15"}, {"tags": {}, "properties": {"publicIPAllocationMethod":
      null}, "dependsOn": [], "location": "westus", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-namePublicIP", "apiVersion": "2018-01-01"}, {"tags": {}, "properties":
      {"networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG"},
      "ipConfigurations": [{"properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET/subnets/vm-nameSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP"}},
      "name": "ipconfigvm-name"}]}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm-nameVNET",
      "Microsoft.Network/networkSecurityGroups/vm-nameNSG", "Microsoft.Network/publicIpAddresses/vm-namePublicIP"],
      "location": "westus", "type": "Microsoft.Network/networkInterfaces", "name":
      "vm-nameVMNic", "apiVersion": "2015-06-15"}, {"tags": {}, "properties": {"storageProfile":
      {"imageReference": {"version": "latest", "publisher": "Canonical", "sku": "16.04-LTS",
      "offer": "UbuntuServer"}, "osDisk": {"caching": "ReadWrite", "createOption":
      "fromImage", "name": null, "managedDisk": {"storageAccountType": null}}}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic"}]},
      "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "osProfile": {"adminUsername":
      "ubuntu", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n", "path": "/home/ubuntu/.ssh/authorized_keys"}]}}, "secrets":
      [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002"},
      "vaultCertificates": [{"certificateUrl": "https://vmlinuxkv000002.vault.azure.net/secrets/cert1/5d40de1119be4d12ae9a08c8194cbd5f"}]}],
      "computerName": "vm-name"}}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm-nameVMNic"],
      "location": "westus", "type": "Microsoft.Compute/virtualMachines", "name": "vm-name",
      "apiVersion": "2018-10-01"}], "contentVersion": "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#"},
      "parameters": {}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_4guOuyvcSiKQPmKQ3DwwLf8t9rGWJeRQ","name":"vm_deploy_4guOuyvcSiKQPmKQ3DwwLf8t9rGWJeRQ","properties":{"templateHash":"7129598776543729237","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-10-01T18:05:37.6676562Z","duration":"PT0.6667125S","correlationId":"c55ba1b6-ea96-42f5-9460-ed38162a0e21","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-nameNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-namePublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/virtualMachines/vm-name","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-name"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_4guOuyvcSiKQPmKQ3DwwLf8t9rGWJeRQ/operationStatuses/08586631897484766853?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586631897484766853?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_4guOuyvcSiKQPmKQ3DwwLf8t9rGWJeRQ","name":"vm_deplo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/virtualMachines/vm-name?$expand=instanceView&api-version=2018-10-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"cfb73da3-2d93-4e8d-9ead-b7259dc34fbf\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\":
        {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm-name_OsDisk_1_e536a0701d0e4fabbc6b6ab5351ab7c9\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/disks/vm-name_OsDisk_1_e536a0701d0e4fabbc6b6ab5351ab7c9\"\r\n
        \       },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-name\",\r\n
        \     \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n
        \       \"disablePasswordAuthentication\": true,\r\n        \"ssh\": {\r\n
        \         \"publicKeys\": [\r\n            {\r\n              \"path\": \"/home/ubuntu/.ssh/authorized_keys\",\r\n
        \             \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\r\n            }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
        true\r\n      },\r\n      \"secrets\": [\r\n        {\r\n          \"sourceVault\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002\"\r\n
        \         },\r\n          \"vaultCertificates\": [\r\n            {\r\n              \"certificateUrl\":
        \"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/5d40de1119be4d12ae9a08c8194cbd5f\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"allowExtensionOperations\":
        true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm-name\",\r\n      \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"16.04\",\r\n
        \     \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.31\",\r\n        \"statuses\":
        [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2018-10-01T18:07:39+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm-name_OsDisk_1_e536a0701d0e4fabbc6b6ab5351ab7c9\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2018-10-01T18:06:11.9716715+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\":
        [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2018-10-01T18:07:09.7795203+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/virtualMachines/vm-name\",\r\n
[...]
