interactions:
- request:
    body: '{"tags": {"cause": "automation", "date": "2018-10-01T18:31:01Z", "product":
      "azurecli"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001","name":"cli_test_vm_with_specialized_unmanaged_disk000001","location":"westus","tags":{"cause":"automation","date":"2018-10-01T18:31:01Z","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7.3\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"16.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2016Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-R2-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2008-R2-SP1\",\n            \"version\":\"latest\"\n
        \         }\n        }\n      }\n    }\n  }\n}\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['245']
      x-fastly-request-id: [4687c58ed51f04480ce10f150d05251a39dc0f90]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Storage/storageAccounts?api-version=2018-03-01-preview
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "parameters": {"adminPassword":
      {"value": "testPassword0"}}, "template": {"contentVersion": "1.0.0.0", "resources":
      [{"properties": {"accountType": "Premium_LRS"}, "dependsOn": [], "name": "vhdstorageaf77275e8ef4ad",
      "apiVersion": "2015-06-15", "tags": {}, "location": "westus", "type": "Microsoft.Storage/storageAccounts"},
      {"properties": {"subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vm1Subnet"}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "dependsOn": [], "name": "vm1VNET", "apiVersion": "2015-06-15", "tags": {},
      "location": "westus", "type": "Microsoft.Network/virtualNetworks"}, {"properties":
      {"securityRules": [{"properties": {"protocol": "Tcp", "sourcePortRange": "*",
      "direction": "Inbound", "destinationAddressPrefix": "*", "access": "Allow",
      "priority": 1000, "destinationPortRange": "22", "sourceAddressPrefix": "*"},
      "name": "default-allow-ssh"}]}, "dependsOn": [], "name": "vm1NSG", "apiVersion":
      "2015-06-15", "tags": {}, "location": "westus", "type": "Microsoft.Network/networkSecurityGroups"},
      {"properties": {"publicIPAllocationMethod": null}, "dependsOn": [], "name":
      "vm1PublicIP", "apiVersion": "2018-01-01", "tags": {}, "location": "westus",
      "type": "Microsoft.Network/publicIPAddresses"}, {"properties": {"networkSecurityGroup":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"},
      "ipConfigurations": [{"properties": {"privateIPAllocationMethod": "Dynamic",
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"},
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"}},
      "name": "ipconfigvm1"}]}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "name": "vm1VMNic", "apiVersion": "2015-06-15", "tags": {}, "location": "westus",
      "type": "Microsoft.Network/networkInterfaces"}, {"properties": {"osProfile":
      {"adminPassword": "[parameters(\''adminPassword\'')]", "adminUsername": "ubuntu",
      "computerName": "vm1"}, "storageProfile": {"osDisk": {"caching": "ReadWrite",
      "name": "osdisk_af77275e8e", "createOption": "fromImage", "vhd": {"uri": "https://vhdstorageaf77275e8ef4ad.blob.core.windows.net/vhds/osdisk_af77275e8e.vhd"}},
      "imageReference": {"publisher": "credativ", "version": "latest", "offer": "Debian",
      "sku": "8"}}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]},
      "hardwareProfile": {"vmSize": "Standard_DS1_v2"}}, "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstorageaf77275e8ef4ad",
      "Microsoft.Network/networkInterfaces/vm1VMNic"], "name": "vm1", "apiVersion":
      "2018-10-01", "tags": {}, "location": "westus", "type": "Microsoft.Compute/virtualMachines"}],
      "parameters": {"adminPassword": {"metadata": {"description": "Secure adminPassword"},
      "type": "securestring"}}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {}, "variables": {}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Resources/deployments/vm_deploy_P7l8TydZTD2aceL0tueVHcEHfdgNuZsZ","name":"vm_deploy_P7l8TydZTD2aceL0tueVHcEHfdgNuZsZ","properties":{"templateHash":"1335666701771813329","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-10-01T18:31:08.4107836Z","duration":"PT0.8058757S","correlationId":"86bde1e9-471f-44ef-8b56-2ad4dcc954a3","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586631882178727325?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Resources/deployments/vm_deploy_P7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2018-10-01&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"05bb5350-d3e6-4433-af8f-d6aafaa145d4\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"credativ\",\r\n        \"offer\": \"Debian\",\r\n        \"sku\": \"8\",\r\n
        \       \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Linux\",\r\n        \"name\": \"osdisk_af77275e8e\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstorageaf77275e8ef4ad.blob.core.windows.net/vhds/osdisk_af77275e8e.vhd\"\r\n
        \       },\r\n        \"caching\": \"ReadWrite\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vm1\",\r\n      \"adminUsername\": \"ubuntu\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        false,\r\n        \"provisionVMAgent\": true\r\n      },\r\n      \"secrets\":
        [],\r\n      \"allowExtensionOperations\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm1\",\r\n      \"osName\": \"debian\",\r\n      \"osVersion\": \"8.11\",\r\n
        \     \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.31\",\r\n        \"statuses\":
        [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2018-10-01T18:33:38+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"osdisk_af77275e8e\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2018-10-01T18:31:45.4887421+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\":
        [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2018-10-01T18:33:03.4572518+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1\",\r\n
        \ \"name\": \"vm1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;3965,Microsoft.Compute/LowCostGet30Min;31871']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2018-01-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\",\r\n
        \ \"etag\": \"W/\\\"f2ac7452-f756-42f6-8326-6be5c6e184bd\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"f5336364-8798-433e-893f-32d778361095\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\",\r\n
        \       \"etag\": \"W/\\\"f2ac7452-f756-42f6-8326-6be5c6e184bd\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\",\r\n          \"isInUseWithService\": false\r\n        }\r\n      }\r\n
        \   ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\":
        [],\r\n      \"internalDomainNameSuffix\": \"swvgmkff2rketipwabqajmmhre.dx.internal.cloudapp.net\"\r\n
        \   },\r\n    \"macAddress\": \"00-0D-3A-59-A4-17\",\r\n    \"enableAcceleratedNetworking\":
        false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f2ac7452-f756-42f6-8326-6be5c6e184bd"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2018-01-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\",\r\n
        \ \"etag\": \"W/\\\"11dccc2a-ecda-492f-b013-d180b7ed6c6b\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"ac7497f4-b377-4097-a5cd-a12f95b96000\",\r\n
        \   \"ipAddress\": \"40.112.135.119\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"11dccc2a-ecda-492f-b013-d180b7ed6c6b"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2018-10-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"05bb5350-d3e6-4433-af8f-d6aafaa145d4\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \ [...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2018-10-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/b319e01b-bf86-448d-a53e-907c7e5751a6?api-version=2018-10-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/b319e01b-bf86-448d-a53e-907c7e5751a6?monitor=true&api-version=2018-10-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1197']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/b319e01b-bf86-448d-a53e-907c7e5751a6?api-version=2018-10-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-10-01T18:33:53.9642241+00:00\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"name\": \"b319e01b-bf86-448d-a53e-907c7e5751a6\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14932,Microsoft.Compute/GetOperation30Min;29814']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/b319e01b-bf86-448d-a53e-907c7e5751a6?api-version=2018-10-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-10-01T18:33:53.9642241+00:00\",\r\n
        \ \"endTime\": \"2018-10-01T18:36:15.5049285+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"b319e01b-bf86-448d-a53e-907c7e5751a6\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14894,Microsoft.Compute/GetOperation30Min;29711']
    status: {code: 200, message: OK}
[...]
