interactions:
- request:
    body: '{"tags": {"product": "azurecli", "cause": "automation", "date": "2018-06-03T18:56:52Z"},
      "location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_zones000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_zones000001","name":"cli_test_vmss_zones000001","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2018-06-03T18:56:52Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/skus?api-version=2017-09-01
  response:
    body: {string: '{"value":[{"resourceType":"availabilitySets","name":"Classic","locations":["eastus"],"locationInfo":[{"location":"eastus","zones":[]}],"capabilities":[{"name":"MaximumPlatformFaultDomainCount","value":"3"}],"restrictions":[]},{"resourceType":"availabilitySets","name":"Aligned","locations":["eastus"],"locationInfo":[{"location":"eastus","zones":[]}],"capabilities":[{"name":"MaximumPlatformFaultDomainCount","value":"3"}],"restrictions":[]},{"resourceType":"availabilitySets","name":"Classic","locations":["eastus2"],"locationInfo":[{"location":"eastus2","zones":[]}],"capabilities":[{"name":"MaximumPlatformFaultDomainCount","value":"3"}],"restrictions":[]},{"resourceType":"availabilitySets","name":"Aligned","locations[...]
