interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_options000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001","name":"cli_test_vmss_create_options000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['251']
      x-fastly-request-id: [7c3416f1db7cf40ede4cdef3818fb8af5945ec70]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "template": {"contentVersion":
      "1.0.0.0", "variables": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "vmss1VNET", "tags": {}, "location": "westus", "type":
      "Microsoft.Network/virtualNetworks", "properties": {"subnets": [{"name": "vmss1Subnet",
      "properties": {"addressPrefix": "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}, "dependsOn": [], "apiVersion": "2015-06-15"}, {"name": "vmss1LBPublicIP",
      "sku": {"name": "Basic"}, "tags": {}, "location": "westus", "dependsOn": [],
      "properties": {"publicIPAllocationMethod": "Dynamic"}, "type": "Microsoft.Network/publicIPAddresses",
      "apiVersion": "2018-01-01"}, {"name": "vmss1LB", "sku": {"name": "Basic"}, "tags":
      {}, "location": "westus", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "properties": {"backendAddressPools":
      [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss1LBNatPool", "properties": {"frontendPortRangeEnd":
      "50119", "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss1LB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "backendPort": 22, "protocol": "tcp", "frontendPortRangeStart": "50000"}}]},
      "type": "Microsoft.Network/loadBalancers", "apiVersion": "2018-01-01"}, {"name":
      "vmss1", "sku": {"name": "Standard_D1_v2", "capacity": 2}, "tags": {}, "location":
      "westus", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/loadBalancers/vmss1LB"],
      "properties": {"singlePlacementGroup": true, "virtualMachineProfile": {"networkProfile":
      {"networkInterfaceConfigurations": [{"name": "vmss19eb9Nic", "properties": {"ipConfigurations":
      [{"name": "vmss19eb9IPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}],
      "primary": "true"}}]}, "storageProfile": {"imageReference": {"sku": "8", "offer":
      "Debian", "version": "latest", "publisher": "credativ"}, "osDisk": {"caching":
      "ReadWrite", "createOption": "FromImage", "managedDisk": {"storageAccountType":
      "Standard_LRS"}}}, "osProfile": {"computerNamePrefix": "vmss19eb9", "adminUsername":
      "clitest1", "adminPassword": "[parameters(\''adminPassword\'')]"}}, "upgradePolicy":
      {"mode": "manual"}, "overprovision": true}, "type": "Microsoft.Compute/virtualMachineScaleSets",
      "apiVersion": "2017-12-01"}], "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'', \''vmss1\''),providers(\''Microsoft.Compute\'',
      \''virtualMachineScaleSets\'').apiVersions[0])]"}}, "parameters": {"adminPassword":
      {"type": "securestring", "metadata": {"description": "Secure adminPassword"}}}},
      "parameters": {"adminPassword": {"value": "testPassword0"}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_options000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Resources/deployments/vmss_deploy_iHIQZhDaNcH7zKsU7bELV6xjgWo2CQ4B","name":"vmss_deploy_iHIQZhDaNcH7zKsU7bELV6xjgWo2CQ4B","properties":{"templateHash":"2712578144952387854","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-03-20T21:40:03.2303468Z","duration":"PT0.5919139S","correlationId":"c896c868-f027-46d2-a6d1-7095cf511e1b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_options000001/providers/Microsoft.Resources/deployments/vmss_deploy_iHIQZhDaNcH7zKsU7bELV6xjgWo2CQ4B/operationStatuses/08586800248828392045?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_options000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586800248828392045?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "location": "westus", "tags": {}, "properties":
      {"diskSizeGB": 1, "creationData": {"createOption": "Empty"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/disks/d1?api-version=2018-04-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n\
        \  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\"\
        : \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 1,\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"isArmResource\": true\r\n  },\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"name\": \"d1\"\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/a2f5b173-1ace-42f1-a428-00f09597b9ba?api-version=2018-04-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/a2f5b173-1ace-42f1-a428-00f09597b9ba?monitor=true&api-version=2018-04-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;3996']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/a2f5b173-1ace-42f1-a428-00f09597b9ba?api-version=2018-04-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-03-20T21:42:38.1085802+00:00\",\r\
        \n  \"endTime\": \"2018-03-20T21:42:38.3429923+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"sku\":{\"name\"\
        :\"Standard_LRS\",\"tier\":\"Standard\"},\"properties\":{\"creationData\"\
        :{\"createOption\":\"Empty\"},\"diskSizeGB\":1,\"timeCreated\":\"2018-03-20T21:42:38.124202+00:00\"\
        ,\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\"\
        :\"Microsoft.Compute/disks\",\"location\":\"westus\",\"tags\":{},\"id\":\"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/disks/d1\"\
        ,\"name\":\"d1\"}\r\n  },\r\n  \"name\": \"a2f5b173-1ace-42f1-a428-00f09597b9ba\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;49994,Microsoft.Compute/GetOperation30Min;249980']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"0\",\r\
        \n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"\
        latestModelApplied\": true,\r\n        \"vmId\": \"65dd0efc-bb8c-4f6d-b938-40b99fc80ec4\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"credativ\",\r\n            \"offer\": \"Debian\"\
        ,\r\n            \"sku\": \"8\",\r\n            \"version\": \"8.0.201803130\"\
        \r\n          },\r\n          \"osDisk\": {\r\n            \"osType\": \"\
        Linux\",\r\n            \"name\": \"vmss1_vmss1_0_OsDisk_1_0a46557610bd4916893541c3c47a2411\"\
        ,\r\n            \"createOption\": \"FromImage\",\r\n            \"caching\"\
        : \"ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Standard_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_0a46557610bd4916893541c3c47a2411\"\
        \r\n            },\r\n            \"diskSizeGB\": 30\r\n          },\r\n \
        \         \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vmss19eb9000000\",\r\n          \"adminUsername\"\
        : \"clitest1\",\r\n          \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\"\
        : false\r\n          },\r\n          \"secrets\": []\r\n        },\r\n   \
        \     \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss19eb9Nic\"\
        }]},\r\n        \"provisioningState\": \"Updating\"\r\n      },\r\n      \"\
        type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n\
        \      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VMSS_CREATE_OPTIONSZZ7QV54YOQQFKEOWEBXF547AVFLEGADTZAQQZMM73BUNXQM/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n      \"name\": \"vmss1_0\"\r\n    },\r\n    {\r\n      \"instanceId\"\
        : \"1\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"vmId\": \"3223b7b4-b73d-4bc3-8694-f96f825d31e7\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"credativ\",\r\n            \"offer\": \"Debian\"\
        ,\r\n            \"sku\": \"8\",\r\n            \"version\": \"8.0.201803130\"\
        \r\n          },\r\n          \"osDisk\": {\r\n            \"osType\": \"\
        Linux\",\r\n            \"name\": \"vmss1_vmss1_1_OsDisk_1_9458a15b377f45fba4ad8[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"instanceId\": \"0\",\r\n  \"sku\": {\r\n    \"name\"\
        : \"Standard_D1_v2\",\r\n    \"tier\": \"Standard\[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss19eb9Nic"}]},
      "storageProfile": {"dataDisks": [{"managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/disks/d1"},
      "createOption": "Attach", "caching": "ReadWrite", "lun": 0}], "imageReference":
      {"sku": "8", "publisher": "credativ", "version": "8.0.201803130", "offer": "Debian"},
      "osDisk": {"name": "vmss1_vmss1_0_OsDisk_1_0a46557610bd4916893541c3c47a2411",
      "managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_0a46557610bd4916893541c3c47a2411",
      "storageAccountType": "Standard_LRS"}, "diskSizeGB": 30, "caching": "ReadWrite",
      "createOption": "FromImage", "osType": "Linux"}}, "osProfile": {"linuxConfiguration":
      {"disablePasswordAuthentication": false}, "secrets": [], "computerName": "vmss19eb9000000",
      "adminUsername": "clitest1"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_options000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"instanceId\": \"0\",\r\n  \"sku\": {\r\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/55d148fa-2abc-47ac-9989-5b3357c263a0?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-03-20T21:43:12.7826866+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"55d148fa-2abc-47ac-9989-5b3357c263a0\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;11986,Microsoft.Compute/GetOperation30Min;23916']
    status: {code: 200, message: OK}
[...]
