interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-02-05T21:24:54Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001","name":"cli_test_vm_secrets000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-02-05T21:24:54Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.5\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"9\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7-RAW\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"15\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"18.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2019Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2019-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2016Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2016-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012R2Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2008R2SP1\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n
        \           \"version\":\"latest\"\n          }\n        }\n      }\n    }\n
        \ }\n}\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"f5944d69cdbfb4a2bb2ddda8c5f050bde5bbcb32"']
      source-age: ['225']
      x-fastly-request-id: [33037ae86296610e67bbeec8e9f397b642de74b2]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"a1239024-a78f-4b62-a84e-3119f8924ffb","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["818523f5-016b-4355-9be8-ed6944946ea7","fa200448-008c-4acb-abd4-ea106ed2199d","50554c47-71d9-49fd-bc54-42a2765c555c","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"f30db892-07e9-47e9-837c-80727f46fd3d"},{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"}],"assignedPlans":[{"assignedTimestamp":"2018-12-01T17:31:35Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2018-12-01T17:31:35Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2018-12-01T17:31:35Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assignedTimestamp":"2018-12-01T17:31:35Z","capabilityStatus":"Enabled","service":"MicrosoftOffice","servicePlanId":"fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"}[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "a1239024-a78f-4b62-a84e-3119f8924ffb",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enabledForDeployment": true, "enabledForTemplateDeployment": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002?api-version=2018-02-14
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002","name":"vmlinuxkv000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"a1239024-a78f-4b62-a84e-3119f8924ffb","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmlinuxkv000002.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": false}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com", "key_usage": ["digitalSignature", "nonRepudiation",
      "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months": 60}, "lifetime_actions":
      [{"trigger": {"lifetime_percentage": 90}, "action": {"action_type": "AutoRenew"}}],
      "issuer": {"name": "Self"}, "attributes": {"enabled": true}}, "attributes":
      {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKlsU0+5TJGiB4UZxo3P/iMHgcwA677QqKNvJkcVaShyV4MvMkp2DP0IyNjc+NuclnBluVOrcGmU20d2dWc1z1DW8nh+OHGgRFVoWpcsGgjAGWms0lVFD16autwqywXa+sUrUov/L7ZGpoujFG2BFxPDq9H5ocjFTgiIzhvlWDWgPLvcI7t6WVYzcif7vIDScxA1H/xW4+Z6rcT7iN4Xk3u0SZ7cgyFdTCk2MGr2R+fv2hd4StCTsPshp9QZAPsPA6Cz9VDQeu/pwr9avg5DygO9LQap1sDPQlIEWnk4UlWavOy/9wwAz4tkBycxtAfLxl60HunF5fG968TGmvsII+ECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAXcFOp+8ggq2safVbwHD1b8dv+odSG2u9JMKTLcvUqXgOGFmC83jtcVrWu3pgWK+IPnc5YKf7+mFImeTrYuGQGyY0lrdjIAy4SOLed3JWOvgJTjYDDIxgJ935FheTzQtNsTnMdpyqoS4o2OTbJduACfNJbz0PwqOvb+L9UNwjPJDds9+F5iM0DXkFbwgGvM4dwVl4x/LI0pbCTsGWJ3d9ATRp3JEhrw5wjhtOZd0SQCt4X315nHnnwk35x5PEBGRsuX1MLXU6py2g7AqQOOZUKwcAOklJPatbu0u9fARBlRQ3uORHw6i383ZZ20VemDXvfUBw2J8Z39+n7NQvKMHsx","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"ffe4c46fbe2d41628560626a83e3af1c"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0&request_id=ffe4c46fbe2d41628560626a83e3af1c']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQsw[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKlsU0+5TJGiB4UZxo3P/iMHgcwA677QqKNvJkcVaShyV4MvMkp2DP0IyNjc+NuclnBluVOrcGmU20d2dWc1z1DW8nh+OHGgRFVoWpcsGgjAGWms0lVFD16autwqywXa+sUrUov/L7ZGpoujFG2BFxPDq9H5ocjFTgiIzhvlWDWgPLvcI7t6WVYzcif7vIDScxA1H/xW4+Z6rcT7iN4Xk3u0SZ7cgyFdTCk2MGr2R+fv2hd4StCTsPshp9QZAPsPA6Cz9VDQeu/pwr9avg5DygO9LQap1sDPQlIEWnk4UlWavOy/9wwAz4tkBycxtAfLxl60HunF5fG968TGmvsII+ECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAXcFOp+8ggq2safVbwHD1b8dv+odSG2u9JMKTLcvUqXgOGFmC83jtcVrWu3pgWK+IPnc5YKf7+mFImeTrYuGQGyY0lrdjIAy4SOLed3JWOvgJTjYDDIxgJ935FheTzQtNsTnMdpyqoS4o2OTbJduACfNJbz0PwqOvb+L9UNwjPJDds9+F5iM0DXkFbwgGvM4dwVl4x/LI0pbCTsGWJ3d9ATRp3JEhrw5wjhtOZd0SQCt4X315nHnnwk35x5PEBGRsuX1MLXU6py2g7AqQOOZUKwcAOklJPatbu0u9fARBlRQ3uORHw6i383ZZ20VemDXvfUBw2J8Z39+n7NQvKMHsx","cancellation_requested":false,"status":"completed","target":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1","request_id":"ffe4c46fbe2d41628560626a83e3af1c"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/secrets/cert1/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/d085d007e77b4fc38327db4e65420598","managed":true,"attributes":{"enabled":false,"nbf":1549401392,"exp":1707168392,"created":1549401992,"updated":1549401992,"recoveryLevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/fc74e319ed4e4b249af7e8a6f0fc0d88","managed":true,"attributes":{"enabled":true,"nbf":1549401398,"exp":1707168398,"created":1549401998,"updated":1549401998,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002","name":"vmli[...]
[...]
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm-nameVNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm-nameSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm-nameNSG", "apiVersion":
      "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-namePublicIP", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "vm-nameVMNic", "location":
      "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm-nameVNET",
      "Microsoft.Network/networkSecurityGroups/vm-nameNSG", "Microsoft.Network/publicIpAddresses/vm-namePublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm-name", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET/subnets/vm-nameSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG"}}},
      {"apiVersion": "2018-10-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-name", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm-nameVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version":
      "latest"}}, "osProfile": {"computerName": "vm-name", "adminUsername": "ubuntu",
      "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n", "path": "/home/ubuntu/.ssh/authorized_keys"}]}}, "secrets":
      [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002"},
      "vaultCertificates": [{"certificateUrl": "https://vmlinuxkv000002.vault.azure.net/secrets/cert1/fc74e319ed4e4b249af7e8a6f0fc0d88"}]}]}}}],
      "outputs": {}}, "parameters": {}, "mode": "Incremental"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_aKvThMdEOA0TRxWazGh3tNPzLDJtwoAq","name":"vm_deploy_aKvThMdEOA0TRxWazGh3tNPzLDJtwoAq","properties":{"templateHash":"9953760730405861693","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-02-05T21:26:50.7252477Z","duration":"PT1.2267618S","correlationId":"8b4f1140-39df-415f-be27-6bf46b9cf439","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-nameNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-namePublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/virtualMachines/vm-name","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-name"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_aKvThMdEOA0TRxWazGh3tNPzLDJtwoAq/operationStatuses/08586522048759791465?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586522048759791465?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_aKvThMdEOA0TRxWazGh3tNPzLDJtwoAq","name":"vm_deplo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/virtualMachines/vm-name?$expand=instanceView&api-version=2018-10-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"069acd58-4205-41f1-b407-fc50d0aca164\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"18.04-LTS\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\":
        {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm-name_disk1_d06a66080a8d46f08089bf8ac2819481\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/disks/vm-name_disk1_d06a66080a8d46f08089bf8ac2819481\"\r\n
        \       },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-name\",\r\n
        \     \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n
        \       \"disablePasswordAuthentication\": true,\r\n        \"ssh\": {\r\n
        \         \"publicKeys\": [\r\n            {\r\n              \"path\": \"/home/ubuntu/.ssh/authorized_keys\",\r\n
        \             \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\r\n            }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
        true\r\n      },\r\n      \"secrets\": [\r\n        {\r\n          \"sourceVault\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002\"\r\n
        \         },\r\n          \"vaultCertificates\": [\r\n            {\r\n              \"certificateUrl\":
        \"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/fc74e319ed4e4b249af7e8a6f0fc0d88\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"vmAgent\":
        {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n        \"statuses\": [\r\n
        \         {\r\n            \"code\": \"ProvisioningState/Unavailable\",\r\n
        \           \"level\": \"Warning\",\r\n            \"displayStatus\": \"Not
        Ready\",\r\n            \"message\": \"VM status blob is found but not yet
        populated.\",\r\n            \"time\": \"2019-02-05T21:27:53+00:00\"\r\n          }\r\n
        \       ]\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\":
        \"vm-name_disk1_d06a66080a8d46f08089bf8ac2819481\",\r\n          \"statuses\":
        [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2019-02-05T21:27:14.9573+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\":
        [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2019-02-05T21:27:44.6770175+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n
[...]
