interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2018-07-16T22:23:17Z", "cause":
      "automation", "product": "azurecli"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001","name":"cli_test_vm_lb_integration000001","location":"westus","tags":{"date":"2018-07-16T22:23:17Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"properties": {"template": {"variables": {}, "resources": [{"sku": {"name":
      "Aligned"}, "name": "av1", "apiVersion": "2018-06-01", "tags": {}, "properties":
      {"platformFaultDomainCount": 2}, "location": "westus", "type": "Microsoft.Compute/availabilitySets"}],
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "outputs": {}, "parameters": {}}, "parameters":
      {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/av_set_deploy_AvoaLsQMKvl9EiW2Bhgs8jsW495607tL","name":"av_set_deploy_AvoaLsQMKvl9EiW2Bhgs8jsW495607tL","properties":{"templateHash":"11755557146386056300","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-07-16T22:23:27.5648975Z","duration":"PT0.3860671S","correlationId":"faf0b0cd-352d-4851-8efb-2297ea1e84dc","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/av_set_deploy_AvoaLsQMKvl9EiW2Bhgs8jsW495607tL/operationStatuses/08586698270782987823?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586698270782987823?api-version=2018-05-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/av_set_deploy_AvoaLsQMKvl9EiW2Bhgs8jsW495607tL","name":"av_set_deploy_AvoaLsQMKvl9EiW2Bhgs8jsW495607tL","properties":{"templateHash":"11755557146386056300","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-07-16T22:23:38.0134288Z","duration":"PT10.8345984S","correlationId":"faf0b0cd-352d-4851-8efb-2297ea1e84dc","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\":
        5,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\n
        \ },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1\",\r\n
        \ \"name\": \"av1\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4199,Microsoft.Compute/LowCostGet30Min;33590']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7.3\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"16.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2016Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-R2-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2008-R2-SP1\",\n            \"version\":\"latest\"\n
        \         }\n        }\n      }\n    }\n  }\n}\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['0']
      x-fastly-request-id: [eb112bc6f1911dc7a62b2b9d201ba689e80acfc5]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute","namespace":"Microsoft.Compute","authorizations":[{"applicationId":"60e6cd67-9c8c-4951-9b3c-23c25a2169af","roleDefinitionId":"e4770acb-272e-4dc8-87f3-12f44a612224"},{"applicationId":"a303894e-f1d8-4a37-bf10-67aa654a0596","roleDefinitionId":"903ac751-8ad5-4e5a-bfc2-5e49f450a241"},{"applicationId":"a8b6bf88-1d1a-4626-b040-9a729ea93c65","roleDefinitionId":"45c8267c-80ba-4b96-9a43-115b8f49fccd"},{"applicationId":"5e5e43d4-54da-4211-86a4-c6e7f3715801","roleDefinitionId":"ffcd6e5b-8772-457d-bb17-89703c03428f"}],"resourceTypes":[{"resourceType":"availabilitySets","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast","Brazil South","South India","Central India","West
        India","Canada Central","Canada East","West US 2","West Central US","UK South","UK
        West","Korea Central","Korea South","France Central","East US 2 EUAP","Central
        US EUAP"],"apiVersions":["2018-06-01","2018-04-01","2017-12-01","2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"virtualMachines","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast","Brazil South","South India","Central India","West
        India","Canada Central","Canada East","West US 2","West Central US","UK South","UK
        West","Korea Central","Korea South","France Central","East US 2 EUAP","Central
        US EUAP"],"apiVersions":["2018-06-01","2018-04-01","2017-12-01","2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"zoneMappings":[{"location":"East
        US 2","zones":["1","2","3"]},{"location":"Central US","zones":["1","2","3"]},{"location":"West
        Europe","zones":["1","2","3"]},{"location":"East US 2 EUAP","zones":["1","2","3"]},{"location":"Central
        US EUAP","zones":["1","2"]},{"location":"France Central","zones":["1","2","3"]},{"location":"Southeast
        Asia","zones":["1","2","3"]},{"location":"West US 2","zones":["1","2","3"]}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceId[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\":
        5,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\n
        \ },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1\",\r\n
        \ \"name\": \"av1\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4198,Microsoft.Compute/LowCostGet30Min;33589']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"variables": {}, "resources": [{"name":
      "vm1VNET", "apiVersion": "2015-06-15", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "vm1Subnet"}]}, "location": "westus", "dependsOn": [],
      "type": "Microsoft.Network/virtualNetworks"}, {"name": "vm1NSG", "apiVersion":
      "2015-06-15", "tags": {}, "properties": {"securityRules": [{"properties": {"sourcePortRange":
      "*", "sourceAddressPrefix": "*", "priority": 1000, "direction": "Inbound", "protocol":
      "Tcp", "destinationAddressPrefix": "*", "access": "Allow", "destinationPortRange":
      "22"}, "name": "default-allow-ssh"}]}, "location": "westus", "dependsOn": [],
      "type": "Microsoft.Network/networkSecurityGroups"}, {"name": "vm1VMNic", "apiVersion":
      "2015-06-15", "tags": {}, "properties": {"ipConfigurations": [{"properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "ipconfigvm1"}], "networkSecurityGroup":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"}},
      "location": "westus", "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG"], "type": "Microsoft.Network/networkInterfaces"},
      {"name": "vm1", "apiVersion": "2018-06-01", "tags": {}, "properties": {"osProfile":
      {"adminUsername": "ubuntuadmin", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6ynxWeY589bvuJVjtobA+qIlWQwycoeRTYNyEUssLQdCWq7YRUxBhXZzf8O8qe8vz8JsxIgX2ynyn9mxNGAi16gDpkjM9jZ7ATfS4fnuugtx3khjbCOBUJ2A/5GcAwErCZwJ8aaRmuLaG26h9JJaP+amPCty6qXo3i6wnoE3PGy6UyDMr4mdPMT3K1IeWr71GiZ7lTEaBCDclFA628QE4VT0fuGcG/qnm6Q0cLZsyARtYCnTRZGyA+4aWTn/jDBlQY0cgH67nTtimUjkiS67Gd64xA/lri0ybb+ZzwGOxU3QysoYGvDl2TatYHjacS8h1la8qHVTe00Nj7K/NC/z3Q==
      yugangw2@YUGANGLP2\\n", "path": "/home/ubuntuadmin/.ssh/authorized_keys"}]}},
      "computerName": "vm1"}, "availabilitySet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/av1"},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}, "createOption": "fromImage", "name": null}, "imageReference": {"sku":
      "16.04-LTS", "version": "latest", "publisher": "Canonical", "offer": "UbuntuServer"}},
      "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]}},
      "location": "westus", "dependsOn": ["Microsoft.Network/networkInterfaces/vm1VMNic"],
      "type": "Microsoft.Compute/virtualMachines"}], "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "outputs": {}, "parameters": {}}, "parameters":
  [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Resources/deployments/vm_deploy_RUwlTdjtS4Yg1SsL4TTmIlatYmu712wz","name":"vm_deploy_RUwlTdjtS4Yg1SsL4TTmIlatYmu712wz","properties":{"templateHash":"17284896248678496735","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-07-16T22:26:29.6957121Z","duration":"PT2M26.4733255S","correlationId":"76910ece-12ea-4772-a7ef-c8f0e527f9ed","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"}[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"fc0cda86-3aa8-49df-b0d2-da1ce6835a9b\",\r\n
        \   \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/availabilitySets/AV1\"\r\n
        \   },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n
        \   },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\":
        {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm1_OsDisk_1_7b8e98187cc84331902a16afce926a4d\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_7b8e98187cc84331902a16afce926a4d\"\r\n
        \       },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm1\",\r\n
        \     \"adminUsername\": \"ubuntuadmin\",\r\n      \"linuxConfiguration\":
        {\r\n        \"disablePasswordAuthentication\": true,\r\n        \"ssh\":
        {\r\n          \"publicKeys\": [\r\n            {\r\n              \"path\":
        \"/home/ubuntuadmin/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6ynxWeY589bvuJVjtobA+qIlWQwycoeRTYNyEUssLQdCWq7YRUxBhXZzf8O8qe8vz8JsxIgX2ynyn9mxNGAi16gDpkjM9jZ7ATfS4fnuugtx3khjbCOBUJ2A/5GcAwErCZwJ8aaRmuLaG26h9JJaP+amPCty6qXo3i6wnoE3PGy6UyDMr4mdPMT3K1IeWr71GiZ7lTEaBCDclFA628QE4VT0fuGcG/qnm6Q0cLZsyARtYCnTRZGyA+4aWTn/jDBlQY0cgH67nTtimUjkiS67Gd64xA/lri0ybb+ZzwGOxU3QysoYGvDl2TatYHjacS8h1la8qHVTe00Nj7K/NC/z3Q==
        yugangw2@YUGANGLP2\\n\"\r\n            }\r\n          ]\r\n        },\r\n
        \       \"provisionVMAgent\": true\r\n      },\r\n      \"secrets\": [],\r\n
        \     \"allowExtensionOperations\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"platformUpdateDomain\":
        0,\r\n      \"platformFaultDomain\": 0,\r\n      \"computerName\": \"vm1\",\r\n
        \     \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"16.04\",\r\n      \"vmAgent\":
        {\r\n        \"vmAgentVersion\": \"2.2.26\",\r\n        \"statuses\": [\r\n
        \         {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2018-07-16T22:26:36+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm1_OsDisk_1_7b8e98187cc84331902a16afce926a4d\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2018-07-16T22:25:02.0751659+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\":
        [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2018-07-16T22:26:15.9189955+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1\",\r\n
        \ \"name\": \"vm1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4195,Microsoft.Compute/LowCostGet30Min;33585']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2018-01-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\",\r\n
        \ \"etag\": \"W/\\\"691b320a-c1de-4dd6-8a0d-4770997f5578\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"db7728ea-ae92-4523-8be7-311e63e2d306\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\",\r\n
        \       \"etag\": \"W/\\\"691b320a-c1de-4dd6-8a0d-4770997f5578\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\",\r\n          \"isInUseWithService\": false\r\n        }\r\n      }\r\n
        \   ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\":
        [],\r\n      \"internalDomainNameSuffix\": \"0ade1gleo1qeri31njpcys2cyb.dx.internal.cloudapp.net\"\r\n
        \   },\r\n    \"macAddress\": \"00-0D-3A-58-D4-6E\",\r\n    \"enableAcceleratedNetworking\":
        false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1\"\r\n
        \   },\r\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"691b320a-c1de-4dd6-8a0d-4770997f5578"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"fc0cda86-3aa8-49df-b0d2-da1ce6835a9b\",\r\n
        \   \"availabilitySet\": {\r\n      \"id\": \"/subscrip[...]
[...]
- request:
    body: '{"properties": {"sourcePortRange": "*", "sourceAddressPrefix": "*", "priority":
      900, "direction": "inbound", "destinationAddressPrefix": "*", "access": "allow",
      "protocol": "*", "destinationPortRange": "80"}, "name": "open-port-80"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG/securityRules/open-port-80?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"name\": \"open-port-80\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_lb_integration000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG/securityRules/open-port-80\",\r\n
        \ \"etag\": \"W/\\\"766f5978-38e3-4253-bb10-8626d5e53be0\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"protocol\": \"*\",\r\n
        \   \"sourcePortRange\": \"*\",\r\n    \"destinationPortRange\": \"80\",\r\n
        \   \"sourceAddressPrefix\": \"*\",\r\n    \"destinationAddressPrefix\": \"*\",\r\n
        \   \"access\": \"Allow\",\r\n    \"priority\": 900,\r\n    \"direction\":
        \"Inbound\",\r\n    \"sourcePortRanges\": [],\r\n    \"destinationPortRanges\":
        [],\r\n    \"sourceAddressPrefixes\": [],\r\n    \"destinationAddressPrefixes\":
        []\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/fcdfe301-0435-4a6b-bc27-a5fcd301490e?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/fcdfe301-0435-4a6b-bc27-a5fcd301490e?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
[...]
