interactions:
- request:
    body: '{"tags": {"cause": "automation", "product": "azurecli", "date": "2019-03-24T01:10:04Z"},
      "location": "eastus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-ultrassd000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-ultrassd000001","name":"cli-test-ultrassd000001","location":"eastus2","tags":{"cause":"automation","product":"azurecli","date":"2019-03-24T01:10:04Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"zones": ["3"], "location": "eastus2", "tags": {}, "properties": {"diskIOPSReadWrite":
      500, "creationData": {"createOption": "Empty"}, "diskSizeGB": 4, "diskMBpsReadWrite":
      8}, "sku": {"name": "UltraSSD_LRS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-ultrassd000001/providers/Microsoft.Compute/disks/d1?api-version=2018-09-30
  response:
    body:
      string: "{\r\n  \"zones\": [\r\n    \"3\"\r\n  ],\r\n  \"sku\": {\r\n    \"name\":
        \"UltraSSD_LRS\"\r\n  },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n
        \     \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 4,\r\n
        \   \"diskIOPSReadWrite\": 500,\r\n    \"diskMBpsReadWrite\": 8,\r\n    \"readOnly\":
        false,\r\n    \"diskIOPSReadOnly\": 500,\r\n    \"diskMBpsReadOnly\": 8,\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true\r\n
        \ },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"name\": \"d1\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/d3b0a9e3-0f4f-40c2-bb51-fdab8a4aa33a?api-version=2018-09-30
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/d3b0a9e3-0f4f-40c2-bb51-fdab8a4aa33a?monitor=true&api-version=2018-09-30
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/d3b0a9e3-0f4f-40c2-bb51-fdab8a4aa33a?api-version=2018-09-30
  response:
    body:
      string: "{\r\n  \"startTime\": \"2019-03-24T01:10:10.9685064+00:00\",\r\n  \"endTime\":
        \"2019-03-24T01:10:11.3122727+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"zones\":[\"3\"],\"sku\":{\"name\":\"UltraSSD_LRS\",\"tier\":\"Ultra\"},\"properties\":{\"creationData\":{\"createOption\":\"Empty\"},\"diskSizeGB\":4,\"diskIOPSReadWrite\":500,\"diskMBpsReadWrite\":8,\"readOnly\":false,\"diskIOPSReadOnly\":500,\"diskMBpsReadOnly\":8,\"maxShares\":1,\"timeCreated\":\"2019-03-24T01:10:10.9685064+00:00\",\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\":\"Microsoft.Compute/disks\",\"location\":\"eastus2\",\"tags\":{},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-ultrassd000001/providers/Microsoft.Compute/disks/d1\",\"name\":\"d1\"}\r\n
        \ },\r\n  \"name\": \"d3b0a9e3-0f4f-40c2-bb51-fdab8a4aa33a\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49998,Microsoft.Compute/GetOperation30Min;399988
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"zones": ["3"], "location": "eastus2", "tags": {}, "properties": {"diskIOPSReadWrite":
      510, "creationData": {"createOption": "Empty"}, "diskSizeGB": 4, "diskMBpsReadWrite":
      10}, "sku": {"name": "UltraSSD_LRS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-ultrassd000001/providers/Microsoft.Compute/disks/d1?api-version=2018-09-30
  response:
    body:
      string: "{\r\n  \"zones\": [\r\n    \"3\"\r\n  ],\r\n  \"physicalZone\": \"useast2-AZ02\",\r\n
        \ \"sku\": {\r\n    \"name\": \"UltraSSD_LRS\"\r\n  },\r\n  \"properties\":
        {\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 4,\r\n    \"diskIOPSReadWrite\": 510,\r\n    \"diskMBpsReadWrite\":
        10,\r\n    \"readOnly\": false,\r\n    \"diskIOPSReadOnly\": 500,\r\n    \"diskMBpsReadOnly\":
        8,\r\n    \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true,\r\n
        \   \"faultDomain\": 0\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\":
        {},\r\n  \"name\": \"d1\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/88567ec0-a0be-4808-9d6b-b69ce7272f44?api-version=2018-09-30
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/88567ec0-a0be-4808-9d6b-b69ce7272f44?monitor=true&api-version=2018-09-30
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;998,Microsoft.Compute/CreateUpdateDisks30Min;7998
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-ultrassd000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6MkRURVNUOjJEVUxUUkFTU0RKQk9ER0lKMjZFRjJIWkVVQ1BRT1IzQlBQTnxGNUI5ODUwMzdFNzREODlGLUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
