interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-06-29T21:05:29Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001","name":"cli_test_vm_secrets000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-06-29T21:05:29Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7.3\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"16.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2016Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-R2-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2008-R2-SP1\",\n            \"version\":\"latest\"\n
        \         }\n        }\n      }\n    }\n  }\n}\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['0']
      x-fastly-request-id: [aee4ba79cafceb74e272ba876b3836a8f1e50f4a]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2016-01-21T22:10:16Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"admin3","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"admin3","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin3","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["yugangw@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2018-06-11T19:00:31Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"sdk","telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"admin3@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['419840']
      ocp-aad-diagnostics-server-name: [hjR4RY9nRvxALTOJY4KnXfIpjm/qwj5JntibyjsUFsE=]
      ocp-aad-session-key: [fd4hehU8EaeJW6SJV450t7XJxiTTvpdJm0yzOnA6EiqmCE1e6Ev1KsjNKCjQoBiwqLEaKbCbiVL2Qt7Zbl3lybZO5QyHunVELyZJs_raU2pB3axPd5Q1s42XqrUe8cm-RnvdLffhpl4nWX4kO44bfQ.-PlYAQDQXFu0f1T5a5mwL8jMyP4s8fJPsukH_gRaP60]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "e7e158d3-7cdc-47cd-8825-5859d7ab2b55",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enabledForDeployment": true, "enabledForTemplateDeployment": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002?api-version=2018-02-14
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002","name":"vmlinuxkv000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmlinuxkv000002.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": false}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com", "key_usage": ["digitalSignature", "nonRepudiation",
      "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months": 60}, "lifetime_actions":
      [{"trigger": {"lifetime_percentage": 90}, "action": {"action_type": "AutoRenew"}}],
      "issuer": {"name": "Self"}, "attributes": {"enabled": true}}, "attributes":
      {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKFsBDAt1UzPuCI/ivt5it8hFP8rhDMe8C7xVdlXLvBA/+J5eBu9z/jeGTpYzaGQtVSAYhYF2gI1xzaJO4ZgaGOEOpqJpIp9fM3cRso2ZkPnfH3GJ+0OywO4Xxd2h0U2a0wXCTXUvsQLeCaPPcAQU9By09Ct8kg3q6p1zUhNCP5Q0Iq2Z1r7USChOWcYwm66gnWZXpLmTI9BCXZjNQEJoHRlBVOnFLKIuc8qc3TriT8sXexaLWdYHk4mxWKs9N+ucGqd6jUZeoI1HtcDNitBxjfz4XwnI1SLFmlIIk215mLGIOP21o8/MSLPLpU7e96dSXZtD22mj+un8D345/QQuVkCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBS+Day6lHoE81LEuq6+vDVDX4+Zzv1pK/ZaowZ6eAIMKEQ7ihFw+9Dl6ne2qhQcdDwCrHQv0pLO+LFDhYomizGRVL43hs/4h0qat1v2HJUG78NjeXmXKw1uRRM2C4Fyxb/s2Qj16BsHYWLJISFFCbs9DlkxqQQCc3ZqnqXMIOmbJ6SXy68DLevQCmTgY/D4NmBKXqMnW4cTJaG0+fecDyf02DJJOnUtTaY2hvsG8cdsP9eVtcgNKMhWKDGWRS4niuQ/sXSnSILwKC49HVFRoQWW9HRDs6LIPiJqYcuy4vJqgNcCppfKxBuMIEeDgNhW4Bpr2FZdxF35agoPCBadT4j","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"3fa5671cdc10487dbd927b071e006d03"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0&request_id=3fa5671cdc10487dbd927b071e006d03']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQsw[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKFsBDAt1UzPuCI/ivt5it8hFP8rhDMe8C7xVdlXLvBA/+J5eBu9z/jeGTpYzaGQtVSAYhYF2gI1xzaJO4ZgaGOEOpqJpIp9fM3cRso2ZkPnfH3GJ+0OywO4Xxd2h0U2a0wXCTXUvsQLeCaPPcAQU9By09Ct8kg3q6p1zUhNCP5Q0Iq2Z1r7USChOWcYwm66gnWZXpLmTI9BCXZjNQEJoHRlBVOnFLKIuc8qc3TriT8sXexaLWdYHk4mxWKs9N+ucGqd6jUZeoI1HtcDNitBxjfz4XwnI1SLFmlIIk215mLGIOP21o8/MSLPLpU7e96dSXZtD22mj+un8D345/QQuVkCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBS+Day6lHoE81LEuq6+vDVDX4+Zzv1pK/ZaowZ6eAIMKEQ7ihFw+9Dl6ne2qhQcdDwCrHQv0pLO+LFDhYomizGRVL43hs/4h0qat1v2HJUG78NjeXmXKw1uRRM2C4Fyxb/s2Qj16BsHYWLJISFFCbs9DlkxqQQCc3ZqnqXMIOmbJ6SXy68DLevQCmTgY/D4NmBKXqMnW4cTJaG0+fecDyf02DJJOnUtTaY2hvsG8cdsP9eVtcgNKMhWKDGWRS4niuQ/sXSnSILwKC49HVFRoQWW9HRDs6LIPiJqYcuy4vJqgNcCppfKxBuMIEeDgNhW4Bpr2FZdxF35agoPCBadT4j","cancellation_requested":false,"status":"completed","target":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1","request_id":"3fa5671cdc10487dbd927b071e006d03"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/secrets/cert1/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/725bf8fa11dd4aa5a983faf89c4c1e5a","managed":true,"attributes":{"enabled":true,"nbf":1530305849,"exp":1688072849,"created":1530306450,"updated":1530306450,"recoveryLevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/88d5fe291e524d88b9b72c79f0f5155c","managed":true,"attributes":{"enabled":false,"nbf":1530305831,"exp":1688072831,"created":1530306432,"updated":1530306432,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sdn4hgbuocg6abgeeircarwpzfy46unxs4rnnl2en2ior23awxanpaglk/providers/Micro[...]
[...]
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm-nameVNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm-nameSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm-nameNSG", "apiVersion":
      "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-namePublicIP", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "vm-nameVMNic", "location":
      "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm-nameVNET",
      "Microsoft.Network/networkSecurityGroups/vm-nameNSG", "Microsoft.Network/publicIpAddresses/vm-namePublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm-name", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET/subnets/vm-nameSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG"}}},
      {"apiVersion": "2017-12-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-name", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm-nameVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "16.04-LTS", "version":
      "latest"}}, "osProfile": {"computerName": "vm-name", "adminUsername": "ubuntu",
      "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n", "path": "/home/ubuntu/.ssh/authorized_keys"}]}}, "secrets":
      [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002"},
      "vaultCertificates": [{"certificateUrl": "https://vmlinuxkv000002.vault.azure.net/secrets/cert1/725bf8fa11dd4aa5a983faf89c4c1e5a"}]}]}}}],
      "outputs": {}}, "parameters": {}, "mode": "Incremental"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_gZip1hArUMLyDpMfmv5vs2FJw2gWGBfp","name":"vm_deploy_gZip1hArUMLyDpMfmv5vs2FJw2gWGBfp","properties":{"templateHash":"3996678731537516487","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-06-29T21:07:37.8956495Z","duration":"PT1.183518S","correlationId":"046b19a2-b400-464e-8d8f-d82bebca89c3","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-nameNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-namePublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/virtualMachines/vm-name","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-name"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_gZip1hArUMLyDpMfmv5vs2FJw2gWGBfp/operationStatuses/08586713004287654903?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202018-05-19T05%3A07%3A46Z%20and%20correlationId%20eq%20%27046b19a2-b400-464e-8d8f-d82bebca89c3%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202018-05-19T05%3A07%3A56Z%20and%20correlationId%20eq%20%27046b19a2-b400-464e-8d8f-d82bebca89c3%27
  response:
    body: {string: '{"value":[{"authorization":{"action":"Microsoft.Resources/deployments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_gZip1hArUMLyDpMfmv5vs2FJw2gWGBfp"},"caller":"admin3@AzureSDKTeam.onmicrosoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/","iat":"1530304544","nbf":"1530304544","exp":"1530308444","http://schemas.microsoft.com/claims/authnclassreference":"1","aio":"Y2dgYHjJxVO77MgOk7v1xiZ6OpfCKh0ntoqxJd9o/e9oUdA/RR0A","http://schemas.microsoft.com/claims/authnmethodsreferences":"pwd","appid":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","appidacr":"0","e_exp":"262800","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname":"sdk","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname":"admin3","groups":"e4bb0b56-1014-40f8-88ab-3d8a8cb0e086,8a9b1617-fc8d-4aa9-a42f-99868d314699,54803917-4c71-4d6c-8bdf-bbd931010f8c","ipaddr":"167.220.57.108","name":"admin3","http://schemas.microsoft.com/identity/claims/objectidentifier":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","puid":"10033FFF95D44E84","http://schemas.microsoft.com/identity/claims/scope":"user_impersonation","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier":"hQzywoqS-A-G02I9zdNSFkFwtv0epgiVcUlvmOdFGhQ","http://schemas.microsoft.com/identity/claims/tenantid":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name":"admin3@AzureSDKTeam.onmicrosoft.com","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn":"admin3@AzureSDKTeam.onmicrosoft.com","uti":"QQI93MSv9Ueb6lrkZRYZAA","ver":"1.0","wids":"62e90394-69f5-4237-9190-012177145e10"},"correlationId":"046b19a2-b400-464e-8d8f-d82bebca89c3","description":"","eventDataId":"a77f6991-5185-43ff-bfd2-10864fea0f19","eventName":{"value":"EndRequest","localizedValue":"End
        request"},"category":{"value":"Administrative","localizedValue":"Administrative"},"httpRequest":{"clientRequestId":"71de3fe8-7be0-11e8-8a76-4c32759c53db","clientIpAddress":"167.220.102.108","method":"PUT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_gZip1hArUMLyDpMfmv5vs2FJw2gWGBfp/events/a77f6991-5185-43ff-bfd2-10864fea0f19/ticks/636659032580991057","level":"Informational","resourceGroupName":"cli_test_vm_secrets000001","resourceProviderName":{"value":"Microsoft.Resources","localizedValue":"Microsoft
        Resources"},"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_gZip1hArUMLyDpMfmv5vs2FJw2gWGBfp","resourceType":{"value":"Microsoft.Resources/deployments","localizedValue":"Microsoft.Resources/deployments"},"operationId":"046b19a2-b400-464e-8d8f-d82bebca89c3","operationName":{"value":"Microsoft.Resources/deployments/write","localizedValue":"Create
        Deployment"},"properties":{"statusCode":"Created","serviceRequestId":null},"status":{"value":"Accepted","localizedValue":"Accepted"},"subStatus":{"value":"Created","localizedValue":"Created
        (HTTP Status Code: 201)"},"eventTimestamp":"2018-06-29T21:07:38.0991057Z","submissionTimestamp":"2018-06-29T21:07:52.2860321Z","subscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},{"authorization":{"action":"Microsoft.Resources/deployments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/vm_deploy_gZip1hArUMLyDpMfmv5vs2FJw2gWGBfp"},"caller":"admin3@AzureSDKTeam.onmicrosoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.ne[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586713004287654903?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586713004287654903?api-version=2018-05-01
  response:
    body: {string: '{"status":"Failed","error":{"code":"DeploymentFailed","message":"At
        least one resource deployment operation failed. Please list deployment operations
        for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n  \"error\":
        {\r\n    \"code\": \"SkuNotAvailable\",\r\n    \"message\": \"The requested
        size for resource ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Compute/virtualMachines/vm-name''
        is currently not available in location ''westus'' zones '''' for subscription
[...]
