interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-28T21:53:42Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_secrets000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001","name":"cli_test_vm_secrets000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-28T21:53:42Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['0']
      x-fastly-request-id: [46bf11f07b16e25c856405138e2cdeaad62bc2fe]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"d12dc20d-54ce-4951-abd5-5f531f1dbca2","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["8e0c0a52-6a6c-4d40-8370-dd62790dcd70","4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"}],"assignedPlans":[{"assignedTimestamp":"2018-09-21T16:34:03Z","capabilityStatus":"Enabled","service":"MicrosoftCommunicationsOnline","servicePlanId":"018fb91e-cee3-418c-9063-d7562978bdaf"},{"assignedTimestamp":"2018-09-21T16:34:03Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2018-09-21T16:34:03Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2018-09-21T16:34:03Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"as[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "d12dc20d-54ce-4951-abd5-5f531f1dbca2",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enabledForDeployment": true, "enabledForTemplateDeployment": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002?api-version=2018-02-14
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_secrets000001/providers/Microsoft.KeyVault/vaults/vmlinuxkv000002","name":"vmlinuxkv000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"d12dc20d-54ce-4951-abd5-5f531f1dbca2","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmlinuxkv000002.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": false}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com", "key_usage": ["digitalSignature", "nonRepudiation",
      "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months": 60}, "lifetime_actions":
      [{"trigger": {"lifetime_percentage": 90}, "action": {"action_type": "AutoRenew"}}],
      "issuer": {"name": "Self"}, "attributes": {"enabled": true}}, "attributes":
      {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/create?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ3KnDy6xZxX2FoJqYOrmHHXEw3Dz/eVnKRU4yQd6CXBvlaN50VMiMLsKq0gyiVCSmmbwAzw1t4757mfIvo/19beSIt1rsS7csEHENIGfdTQQI2GDmTpTtDlz5gnlPgFRrYJl8/Mkjla7fwi2mSpClRFvBoATtjw5iYYodTmtzn3I0s2vJjK8pS1auOX1g9FIOh9adqF9kUp4mHB1H70BohOxF7BU/zx6nO0vTAPcyt9sZQUDnt2cbNk3DkZF4NtlxfjBQ9yPXU6cPOtpNXPrNs87WW6H/eJl4EgCaZ0k/6nJ4iMASrXx/D75nHRBd4/1AqnipF6ygfxveU630EZ/bECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCZTlhX4krWg12DKv8ElSvf6nSNKHgreOKXwE7+7znsfFGClR2y1ASRX2Y/3SAJi8Zjay5gbpP6G1Sph8lQp8bI9EmkX2JxCx/bwVndtALR7iShGVI4eZl+koB8DJ5Y5YupFab9DrG1HKu1+0VPq7eqc7w3ttQzFdMyeuZZVgNdHEwRDC7V5o45A2X3uI3Bi/XtG49iun14M0+RcuYvQqFuB/+RNN3vPUHs025goDf7EYc33Wigu7vpjdQ8SbvKhCYflAHlqmlzONPgM3obQzZ8oTtH7m24ZLaVWVKj2XqApFrIGqdx3CkHNorwAsrAwO2XkQV1zjMdlGwvDQvkDggy","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"b3463cffae8c4a0db912647ecda18e90"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0&request_id=b3463cffae8c4a0db912647ecda18e90']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQsw[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ3KnDy6xZxX2FoJqYOrmHHXEw3Dz/eVnKRU4yQd6CXBvlaN50VMiMLsKq0gyiVCSmmbwAzw1t4757mfIvo/19beSIt1rsS7csEHENIGfdTQQI2GDmTpTtDlz5gnlPgFRrYJl8/Mkjla7fwi2mSpClRFvBoATtjw5iYYodTmtzn3I0s2vJjK8pS1auOX1g9FIOh9adqF9kUp4mHB1H70BohOxF7BU/zx6nO0vTAPcyt9sZQUDnt2cbNk3DkZF4NtlxfjBQ9yPXU6cPOtpNXPrNs87WW6H/eJl4EgCaZ0k/6nJ4iMASrXx/D75nHRBd4/1AqnipF6ygfxveU630EZ/bECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCZTlhX4krWg12DKv8ElSvf6nSNKHgreOKXwE7+7znsfFGClR2y1ASRX2Y/3SAJi8Zjay5gbpP6G1Sph8lQp8bI9EmkX2JxCx/bwVndtALR7iShGVI4eZl+koB8DJ5Y5YupFab9DrG1HKu1+0VPq7eqc7w3ttQzFdMyeuZZVgNdHEwRDC7V5o45A2X3uI3Bi/XtG49iun14M0+RcuYvQqFuB/+RNN3vPUHs025goDf7EYc33Wigu7vpjdQ8SbvKhCYflAHlqmlzONPgM3obQzZ8oTtH7m24ZLaVWVKj2XqApFrIGqdx3CkHNorwAsrAwO2XkQV1zjMdlGwvDQvkDggy","cancellation_requested":false,"status":"completed","target":"https://vmlinuxkv000002.vault.azure.net/certificates/cert1","request_id":"b3463cffae8c4a0db912647ecda18e90"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmlinuxkv000002.vault.azure.net/secrets/cert1/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/25b265d8c2574ff8a4d62108f9ba5419","managed":true,"attributes":{"enabled":true,"nbf":1538171141,"exp":1695938141,"created":1538171741,"updated":1538171741,"recoveryLevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmlinuxkv000002.vault.azure.net/secrets/cert1/459b42bc18de4744af9a947256847bb4","managed":true,"attributes":{"enabled":false,"nbf":1538171126,"exp":1695938126,"created":1538171726,"updated":1538171726,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
