interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-04-19T22:39:33Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001","name":"cli_test_vm_list_ip000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-04-19T22:39:33Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2019-02-01
  response:
    body:
      string: '{"value":[{"name":"gwip1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_cross_premise_connectionlmuf6ovzuhzue7a3p3o4t3ikk3c4/providers/Microsoft.Network/publicIPAddresses/gwip1","etag":"W/\"b0b25bb9-1bc0-4678-9460-a90c90c74dc3\"","location":"westus","properties":{"provisioningState":"Succeeded","resourceGuid":"7e688d6f-cc55-4d65-be84-d7ccfe3f2efd","ipAddress":"138.91.242.105","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_cross_premise_connectionlmuf6ovzuhzue7a3p3o4t3ikk3c4/providers/Microsoft.Network/virtualNetworkGateways/gw1/ipConfigurations/vnetGatewayConfig0"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic","tier":"Regional"}},{"name":"gwip2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_cross_premise_connectionlmuf6ovzuhzue7a3p3o4t3ikk3c4/providers/Microsoft.Network/publicIPAddresses/gwip2","etag":"W/\"46632854-d3fd-4908-83ee-81a2b2c83ec4\"","location":"westus","properties":{"provisioningState":"Succeeded","resourceGuid":"95cdab8e-e643-40d8-b1d0-59250686b82c","ipAddress":"138.91.240.94","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2019-02-01
  response:
    body:
      string: '{"value":[{"name":"nic1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_app_gatewayb6zqdelxjd2ih6lyalqaj6jrvw6vdbe3lggfrv6rw2muoy2cgej/providers/Microsoft.Network/networkInterfaces/nic1","etag":"W/\"f3b94c9c-4e37-46bf-9fd7-641f9cc88028\"","location":"westus","properties":{"provisioningState":"Updating","resourceGuid":"00269952-a68b-4cdd-8051-4c89b98f293f","ipConfigurations":[{"name":"ipconfig1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_app_gatewayb6zqdelxjd2ih6lyalqaj6jrvw6vdbe3lggfrv6rw2muoy2cgej/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1","etag":"W/\"f3b94c9c-4e37-46bf-9fd7-641f9cc88028\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Updating","privateIPAddress":"10.0.1.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_app_gatewayb6zqdelxjd2ih6lyalqaj6jrvw6vdbe3lggfrv6rw2muoy2cgej/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet2"},"primary":true,"privateIPAddressVersion":"IPv4","applicationGatewayBackendAddressPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_app_gatewayb6zqdelxjd2ih6lyalqaj6jrvw6vdbe3lggfrv6rw2muoy2cgej/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_app_gatewayb6zqdelxjd2ih6lyalqaj6jrvw6vdbe3lggfrv6rw2muoy2cgej/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/bepool2"}]}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"vlq2tqolx3eelnpqrjailsjrub.dx.internal.cloudapp.net"},"enableAcceleratedNetworking":false,"enableIPForwarding":false,"hostedWorkloads":[],"tapConfigurations":[]},"type":"Microsoft.Network/networkInterfaces"},{"name":"vm1VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_open_portpq2ouxkpndnkp6l6ccugmr4zdzahhe3xs74ihef4hx6v5dvswbsrqkuyz/providers/Microsoft.Network/networkInterfaces/vm1VMNic","etag":"W/\"7d35f3f1-6970-4ebf-abbf-cf919bbbd909\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"59b7ee9c-542d-4348-bc11-d84ae84ce380","ipConfigurations":[{"name":"ipconfigvm1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_open_portpq2ouxkpndnkp6l6ccugmr4zdzahhe3xs74ihef4hx6v5dvswbsrqkuyz/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1","etag":"W/\"7d35f3f1-6970-4ebf-abbf-cf919bbbd909\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_open_portpq2ouxkpndnkp6l6ccugmr4zdzahhe3xs74ihef4hx6v5dvswbsrqkuyz/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_open_portpq2ouxkpndnkp6l6ccugmr4zdzahhe3xs74ihef4hx6v5dvswbsrqkuyz/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"n4x3bok3woee5dprtyps2xppkb.dx.internal.cloudapp.net"},"macAddress":"00-0D-3A-30-89-C3","enableAcceleratedNetworking":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_open_portpq2ouxkpndnkp6l6ccugmr4zdzahhe3xs74ihef4hx6v5dvswbsrqkuyz/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"},"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_open_portpq2ouxkpndnkp6l6ccugmr4zdzahhe3xs74ihef4hx6v5dvswbsrqkuyz/providers/Microsoft.Compute/virtualMachines/vm1"},"hostedWorkloads":[],"tapConfigurations":[]},"type":"Microsoft.Network/networkInterfaces"},{"name":"vm2VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nw_connection_monitorhj5m3rvkakosrntw2ktzp25y56icqerw6wu5dgod3qnrk/providers/Microsoft.Network/networkInterf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions?$top=1&$orderby=name%20desc&api-version=2019-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"centralus\",\r\n    \"name\": \"14.04.201903150\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/centralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201903150\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions/14.04.201903150?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"replicaType\": \"Unmanaged\",\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n
        \     \"sizeInGb\": 30\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n
        \ \"location\": \"centralus\",\r\n  \"name\": \"14.04.201903150\",\r\n  \"id\":
        \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/centralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201903150\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm-with-public-ipVNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "centralus", "apiVersion": "2015-06-15", "dependsOn": [], "tags":
      {}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "vm-with-public-ipSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"type": "Microsoft.Network/networkSecurityGroups", "name": "vm-with-public-ipNSG",
      "apiVersion": "2015-06-15", "location": "centralus", "tags": {}, "dependsOn":
      [], "properties": {"securityRules": [{"name": "default-allow-ssh", "properties":
      {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-with-public-ipPublicIP", "location": "centralus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "dynamic"}, "zones": ["2"]},
      {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm-with-public-ipVMNic", "location": "centralus", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vm-with-public-ipVNET", "Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG",
      "Microsoft.Network/publicIpAddresses/vm-with-public-ipPublicIP"], "properties":
      {"ipConfigurations": [{"name": "ipconfigvm-with-public-ip", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET/subnets/vm-with-public-ipSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG"}}},
      {"apiVersion": "2019-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-with-public-ip", "location": "centralus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "14.04.4-LTS", "version":
      "latest"}}, "osProfile": {"computerName": "vm-with-public-ip", "adminUsername":
      "ubuntu", "adminPassword": "[parameters(\''adminPassword\'')]"}}, "zones": ["2"]}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "testPassword0"}},
      "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_0YBWFPY9YWYLSTcsmPKWd4yskZo4E5n0","name":"vm_deploy_0YBWFPY9YWYLSTcsmPKWd4yskZo4E5n0","properties":{"templateHash":"9303757669122113410","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-04-19T22:39:40.0508352Z","duration":"PT1.1691349S","correlationId":"66670ed4-ed97-4562-90eb-4b4e164479ee","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["centralus"]},{"resourceType":"networkSecurityGroups","locations":["centralus"]},{"resourceType":"publicIPAddresses","locations":["centralus"]},{"resourceType":"networkInterfaces","locations":["centralus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["centralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-with-public-ipVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-with-public-ipPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-with-public-ip"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_0YBWFPY9YWYLSTcsmPKWd4yskZo4E5n0/operationStatuses/08586458933065959362?api-version=2018-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586458933065959362?api-version=2018-05-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip?$expand=instanceView&api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"b32b5252-83c4-4a78-a069-e94ec9fb1eda\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"14.04.4-LTS\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\":
        {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm-with-public-ip_OsDisk_1_fcdc5309a6bf47b5a28a0257dc94819d\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/disks/vm-with-public-ip_OsDisk_1_fcdc5309a6bf47b5a28a0257dc94819d\"\r\n
        \       },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-with-public-ip\",\r\n
        \     \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n
        \       \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\":
        true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm-with-public-ip\",\r\n      \"osName\": \"ubuntu\",\r\n      \"osVersion\":
        \"14.04\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.38\",\r\n
        \       \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2019-04-19T22:41:12+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm-with-public-ip_OsDisk_1_fcdc5309a6bf47b5a28a0257dc94819d\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2019-04-19T22:39:56.1493618+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\":
        [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2019-04-19T22:40:55.8692753+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  },\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"centralus\",\r\n
        \ \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\",\r\n
        \ \"name\": \"vm-with-public-ip\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3992,Microsoft.Compute/LowCostGet30Min;31992
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-with-public-ipVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/netwo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-with-public-ipPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"vmId\":
        \"b32b5252-83c4-4a78-a069-e94ec9fb1eda\",\r\n        \"hardwareProfile\":
        {\r\n          \"vmSize\": \"Standard_DS1_v2[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip/vmSizes?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_DS1_v2\",\r\n
        \     \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        7168,\r\n      \"memoryInMB\": 3584,\r\n      \"maxDataDiskCount\": 4\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_DS2_v2\",\r\n      \"numberOfCores\":
        2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        14336,\r\n      \"memoryInMB\": 7168,\r\n      \"maxDataDiskCount\": 8\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_DS3_v2\",\r\n      \"numberOfCores\":
        4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        28672,\r\n      \"memoryInMB\": 14336,\r\n      \"[...]
[...]
