interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_generalize_vm000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001","name":"cli_test_generalize_vm000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['267']
      x-fastly-request-id: [204781b6888c059ba0f01ee96acba2f2556a9c1c]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"contentVersion": "1.0.0.0", "parameters":
      {"adminPassword": {"metadata": {"description": "Secure adminPassword"}, "type":
      "securestring"}}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "outputs": {}, "resources": [{"apiVersion": "2015-06-15", "location":
      "westus", "type": "Microsoft.Storage/storageAccounts", "properties": {"accountType":
      "Premium_LRS"}, "name": "vhdstorage6544de4efd5d6d", "dependsOn": [], "tags":
      {}}, {"apiVersion": "2015-06-15", "name": "vm-generalizeVNET", "type": "Microsoft.Network/virtualNetworks",
      "properties": {"subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vm-generalizeSubnet"}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "location": "westus", "dependsOn": [], "tags": {}}, {"apiVersion": "2015-06-15",
      "location": "westus", "type": "Microsoft.Network/networkSecurityGroups", "properties":
      {"securityRules": [{"properties": {"direction": "Inbound", "destinationPortRange":
      "22", "priority": 1000, "access": "Allow", "protocol": "Tcp", "destinationAddressPrefix":
      "*", "sourceAddressPrefix": "*", "sourcePortRange": "*"}, "name": "default-allow-ssh"}]},
      "name": "vm-generalizeNSG", "dependsOn": [], "tags": {}}, {"apiVersion": "2018-01-01",
      "location": "westus", "type": "Microsoft.Network/publicIPAddresses", "properties":
      {"publicIPAllocationMethod": "dynamic"}, "name": "vm-generalizePublicIP", "dependsOn":
      [], "tags": {}}, {"apiVersion": "2015-06-15", "location": "westus", "type":
      "Microsoft.Network/networkInterfaces", "properties": {"ipConfigurations": [{"properties":
      {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/publicIPAddresses/vm-generalizePublicIP"},
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/virtualNetworks/vm-generalizeVNET/subnets/vm-generalizeSubnet"}},
      "name": "ipconfigvm-generalize"}], "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkSecurityGroups/vm-generalizeNSG"}},
      "name": "vm-generalizeVMNic", "dependsOn": ["Microsoft.Network/virtualNetworks/vm-generalizeVNET",
      "Microsoft.Network/networkSecurityGroups/vm-generalizeNSG", "Microsoft.Network/publicIpAddresses/vm-generalizePublicIP"],
      "tags": {}}, {"apiVersion": "2017-12-01", "location": "westus", "type": "Microsoft.Compute/virtualMachines",
      "properties": {"storageProfile": {"imageReference": {"sku": "16.04-LTS", "publisher":
      "Canonical", "version": "latest", "offer": "UbuntuServer"}, "osDisk": {"createOption":
      "fromImage", "name": "osdisk_6544de4efd", "caching": "ReadWrite", "vhd": {"uri":
      "https://vhdstorage6544de4efd5d6d.blob.core.windows.net/vhds/osdisk_6544de4efd.vhd"}}},
      "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "osProfile": {"computerName":
      "vm-generalize", "adminPassword": "[parameters(\''adminPassword\'')]", "adminUsername":
      "ubuntu"}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkInterfaces/vm-generalizeVMNic"}]}},
      "name": "vm-generalize", "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstorage6544de4efd5d6d",
      "Microsoft.Network/networkInterfaces/vm-generalizeVMNic"], "tags": {}}]}, "parameters":
      {"adminPassword": {"value": "testPassword0"}}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_generalize_vm000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Resources/deployments/vm_deploy_qxM1uVcn7pPLElqm3vy9zqb1gHgWBiZM","name":"vm_deploy_qxM1uVcn7pPLElqm3vy9zqb1gHgWBiZM","properties":{"templateHash":"11193076962685016061","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-03-21T01:34:36.9739757Z","duration":"PT0.3924566S","correlationId":"b396c41f-298d-40dd-94da-717335d6c41e","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/virtualNetworks/vm-generalizeVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-generalizeVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkSecurityGroups/vm-generalizeNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-generalizeNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/publicIPAddresses/vm-generalizePublicIP","resourceType":"Microsoft.Network/publicIPAd[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_generalize_vm000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586800108088961160?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_generalize_vm000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Resources/deployments/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize?api-version=2017-12-01&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"c9bdcde8-fdea-4e3b-8f24-a852dfd93f7d\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"osdisk_6544de4efd\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstorage6544de4efd5d6d.blob.core.windows.net/vhds/osdisk_6544de4efd.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vm-generalize\",\r\n      \"adminUsername\"\
        : \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkInterfaces/vm-generalizeVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"computerName\": \"vm-generalize\",\r\n      \"osName\": \"\
        ubuntu\",\r\n      \"osVersion\": \"16.04\",\r\n      \"vmAgent\": {\r\n \
        \       \"vmAgentVersion\": \"2.2.23\",\r\n        \"statuses\": [\r\n   \
        \       {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n  \
        \          \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\"\
        ,\r\n            \"message\": \"Guest Agent is running\",\r\n            \"\
        time\": \"2018-03-21T01:37:10+00:00\"\r\n          }\r\n        ],\r\n   \
        \     \"extensionHandlers\": []\r\n      },\r\n      \"disks\": [\r\n    \
        \    {\r\n          \"name\": \"osdisk_6544de4efd\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2018-03-21T01:35:00.3541387+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\"\
        : [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\
        \n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2018-03-21T01:36:27.6983487+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize\"\
        ,\r\n  \"name\": \"vm-generalize\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4795,Microsoft.Compute/LowCostGet30Min;38384']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkInterfaces/vm-generalizeVMNic?api-version=2018-01-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-generalizeVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkInterfaces/vm-generalizeVMNic\"\
        ,\r\n  \"etag\": \"W/\\\"c618324c-fc73-4778-97cf-e7b52539f097\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a494963d-0ba7-4de4-8212-d5c8e836130b\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm-generalize\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkInterfaces/vm-generalizeVMNic/ipConfigurations/ipconfigvm-generalize\"\
        ,\r\n        \"etag\": \"W/\\\"c618324c-fc73-4778-97cf-e7b52539f097\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/publicIPAddresses/vm-generalizePublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/virtualNetworks/vm-generalizeVNET/subnets/vm-generalizeSubnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"exunmzzwt44u1oceocothegurf.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-3B-02-58\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkSecurityGroups/vm-generalizeNSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize\"\
        \r\n    },\r\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"c618324c-fc73-4778-97cf-e7b52539f097"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/publicIPAddresses/vm-generalizePublicIP?api-version=2018-01-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-generalizePublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/publicIPAddresses/vm-generalizePublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"4fe29725-d7b7-4c96-a850-df5d68ab0e52\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"26a7da08-8521-4734-9c70-61eb26aebefa\"\
        ,\r\n    \"ipAddress\": \"13.91.245.241\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Network/networkInterfaces/vm-generalizeVMNic/ipConfigurations/ipconfigvm-generalize\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4fe29725-d7b7-4c96-a850-df5d68ab0e52"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize/powerOff?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/9eee71dc-6f1b-4964-99ad-a2895a74c4cb?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/9eee71dc-6f1b-4964-99ad-a2895a74c4cb?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1196']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/9eee71dc-6f1b-4964-99ad-a2895a74c4cb?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-03-21T01:37:13.217579+00:00\",\r\n\
        \  \"endTime\": \"2018-03-21T01:37:24.3269701+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"9eee71dc-6f1b-4964-99ad-a2895a74c4cb\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;11987,Microsoft.Compute/GetOperation30Min;23969']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize/generalize?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1195']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"c9bdcde8-fdea-4e3b-8f24-a852dfd93f7d\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": [...]
- request:
    body: '{"overwriteVhds": true, "destinationContainerName": "vhds", "vhdPrefix":
      "vmtest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize/capture?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/66fd0922-9cd7-4f7c-8894-d3edc7c72e3a?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/66fd0922-9cd7-4f7c-8894-d3edc7c72e3a?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/UpdateVM3Min;237,Microsoft.Compute/UpdateVM30Min;1194']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/66fd0922-9cd7-4f7c-8894-d3edc7c72e3a?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-03-21T01:37:46.0301515+00:00\",\r\
        \n  \"endTime\": \"2018-03-21T01:37:46.1708298+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"$schema\":\"http://schema.management.azure.com/schemas/2014-04-01-preview/VM_IP.json\"\
        ,\"contentVersion\":\"1.0.0.0\",\"parameters\":{\"vmName\":{\"type\":\"string\"\
        },\"vmSize\":{\"type\":\"string\",\"defaultValue\":\"Standard_DS1_v2\"},\"\
        adminUserName\":{\"type\":\"string\"},\"adminPassword\":{\"type\":\"securestring\"\
        },\"networkInterfaceId\":{\"type\":\"string\"}},\"resources\":[{\"apiVersion\"\
        :\"2017-12-01\",\"properties\":{\"hardwareProfile\":{\"vmSize\":\"[parameters('vmSize')]\"\
        },\"storageProfile\":{\"osDisk\":{\"osType\":\"Linux\",\"name\":\"vmtest-osDisk.c9bdcde8-fdea-4e3b-8f24-a852dfd93f7d.vhd\"\
        ,\"createOption\":\"FromImage\",\"image\":{\"uri\":\"https://vhdstorage6544de4efd5d6d.blob.core.windows.net/system/Microsoft.Compute/Images/vhds/vmtest-osDisk.c9bdcde8-fdea-4e3b-8f24-a852dfd93f7d.vhd\"\
        },\"vhd\":{\"uri\":\"https://vhdstorage6544de4efd5d6d.blob.core.windows.net/vmcontainera470967b-2ef9-4b58-b8a4-7834ce240c06/osDisk.a470967b-2ef9-4b58-b8a4-7834ce240c06.vhd\"\
        },\"caching\":\"ReadWrite\"}},\"osProfile\":{\"computerName\":\"[parameters('vmName')]\"\
        ,\"adminUsername\":\"[parameters('adminUsername')]\",\"adminPassword\":\"\
        [parameters('adminPassword')]\"},\"networkProfile\":{\"networkInterfaces\"\
        :[{\"id\":\"[parameters('networkInterfaceId')]\"}]},\"provisioningState\"\
        :0},\"type\":\"Microsoft.Compute/virtualMachines\",\"location\":\"westus\"\
        ,\"name\":\"[parameters('vmName')]\"}]}\r\n  },\r\n  \"name\": \"66fd0922-9cd7-4f7c-8894-d3edc7c72e3a\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;11987,Microsoft.Compute/GetOperation30Min;23967']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"properties": {"sourceVirtualMachine": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize"}},
      "location": "westus", "tags": {}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/images/myImage?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"sourceVirtualMachine\": {\r\n\
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/virtualMachines/vm-generalize\"\
        \r\n    },\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n       \
        \ \"osType\": \"Linux\",\r\n        \"osState\": \"Generalized\",\r\n    \
        \    \"diskSizeGB\": 30,\r\n        \"blobUri\": \"https://vhdstorage6544de4efd5d6d.blob.core.windows.net/vhds/osdisk_6544de4efd.vhd\"\
        ,\r\n        \"caching\": \"ReadWrite\",\r\n        \"storageAccountType\"\
        : \"Standard_LRS\"\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n  \
        \  \"provisioningState\": \"Creating\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/images\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_generalize_vm000001/providers/Microsoft.Compute/images/myImage\"\
        ,\r\n  \"name\": \"myImage\"\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/25a3d517-f7b8-4ebd-af94-0b75d8eaaa7c?api-version=2017-12-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/CreateImages3Min;39,Microsoft.Compute/CreateImages30Min;196']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
