interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_msi000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001","name":"cli_test_vmss_msi000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['0']
      x-fastly-request-id: [194a52df0dace884dfb002439fc47976bd58456c]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview&$filter=roleName%20eq%20%27Contributor%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action"],"dataActions":[],"notDataActions":[]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-12-14T02:04:45.1393855Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "parameters": {"adminPassword":
      {"value": "PasswordPassword1!"}}, "template": {"parameters": {"adminPassword":
      {"metadata": {"description": "Secure adminPassword"}, "type": "securestring"}},
      "resources": [{"properties": {"subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vmss1Subnet"}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "dependsOn": [], "tags": {}, "apiVersion": "2015-06-15", "location": "westus",
      "name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks"}, {"properties":
      {"publicIPAllocationMethod": "Dynamic"}, "dependsOn": [], "sku": {"name": "Basic"},
      "tags": {}, "apiVersion": "2018-01-01", "location": "westus", "name": "vmss1LBPublicIP",
      "type": "Microsoft.Network/publicIPAddresses"}, {"properties": {"inboundNatPools":
      [{"properties": {"backendPort": 22, "frontendPortRangeStart": "50000", "protocol":
      "tcp", "frontendPortRangeEnd": "50119", "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss1LB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"}},
      "name": "vmss1LBNatPool"}], "frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "backendAddressPools": [{"name": "vmss1LBBEPool"}]},
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"],
      "sku": {"name": "Basic"}, "tags": {}, "apiVersion": "2018-01-01", "location":
      "westus", "name": "vmss1LB", "type": "Microsoft.Network/loadBalancers"}, {"dependsOn":
      ["Microsoft.Compute/virtualMachineScaleSets/vmss1"], "properties": {"roleDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "[reference(\''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/providers/Microsoft.ManagedIdentity/Identities/default\'',
      \''2015-08-31-PREVIEW\'').principalId]", "scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001"},
      "name": "3bb13f5b-c773-4d7d-9601-964cd8c81a07", "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2015-07-01"}, {"properties": {"upgradePolicy": {"mode": "manual"},
      "overprovision": true, "singlePlacementGroup": true, "virtualMachineProfile":
      {"osProfile": {"computerNamePrefix": "vmss140c8", "adminUsername": "admin123",
      "adminPassword": "[parameters(\''adminPassword\'')]"}, "networkProfile": {"networkInterfaceConfigurations":
      [{"properties": {"ipConfigurations": [{"properties": {"loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]},
      "name": "vmss140c8IPConfig"}], "primary": "true"}, "name": "vmss140c8Nic"}]},
      "extensionProfile": {"extensions": [{"properties": {"settings": {"port": 50342},
      "autoUpgradeMinorVersion": true, "type": "ManagedIdentityExtensionForLinux",
      "publisher": "Microsoft.ManagedIdentity", "typeHandlerVersion": "1.0"}, "name":
      "ManagedIdentityExtensionForLinux"}]}, "storageProfile": {"osDisk": {"caching":
      "ReadWrite", "createOption": "FromImage", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"version": "latest", "sku": "8", "offer": "Debian",
      "publisher": "credativ"}}}}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB"], "sku": {"capacity": 1, "name": "Standard_D1_v2"},
      "tags": {}, "apiVersion": "2017-12-01", "location": "westus", "name": "vmss1",
      "type": "Microsoft.Compute/virtualMachineScaleSets", "identity": {"type": "SystemAssigned"}}],
      "variables": {}, "outputs": {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_msi000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Resources/deployments/vmss_deploy_4ZgeFrUcN4EIkYL4F3pmKt6Q5SGDXxyI","name":"vmss_deploy_4ZgeFrUcN4EIkYL4F3pmKt6Q5SGDXxyI","properties":{"templateHash":"11073519735564023226","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-03-12T19:57:38.5824363Z","duration":"PT0.5788278S","correlationId":"a325f871-f84d-4a10-8bad-eccfc979459e","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleAssignments","locations":[null]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_msi000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586807222274740217?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss140c8\",\r\n        \"adminUsername\"\
        : \"admin123\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : false\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\"\
        ,\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\
        \n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n\
        \        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"\
        credativ\",\r\n          \"offer\": \"Debian\",\r\n          \"sku\": \"8\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss140c8Nic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\"\
        :[{\"name\":\"vmss140c8IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\
        \n          {\r\n            \"properties\": {\r\n              \"publisher\"\
        : \"Microsoft.ManagedIdentity\",\r\n              \"type\": \"ManagedIdentityExtensionForLinux\"\
        ,\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"autoUpgradeMinorVersion\"\
        : true,\r\n              \"settings\": {\"port\":50342}\r\n            },\r\
        \n            \"name\": \"ManagedIdentityExtensionForLinux\"\r\n         \
        \ }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"overprovision\": true,\r\n    \"uniqueId\": \"51770091-bcf4-4724-9d2b-f046cb34e6d9\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n \
        \   \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"8b6be66f-d430-4846-93df-b0ec4f09aea5\"\
        ,\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n  },\r\n\
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;189,Microsoft.Compute/GetVMScaleSet30Min;983']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss1VNET\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET\"\
        ,\r\n      \"etag\": \"W/\\\"2045ba0e-bf5c-4f80-95b9-d1b142154c0a\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"location\"\
        : \"westus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n      \
        \  \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"0374a53c-20d6-4f0c-8215-463a07620961\"\
        ,\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": [\r\n \
        \           \"10.0.0.0/16\"\r\n          ]\r\n        },\r\n        \"subnets\"\
        : [\r\n          {\r\n            \"name\": \"vmss1Subnet\",\r\n         \
        \   \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        ,\r\n            \"etag\": \"W/\\\"2045ba0e-bf5c-4f80-95b9-d1b142154c0a\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n\
        \              \"ipConfigurations\": [\r\n                {\r\n          \
        \        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss140c8Nic/ipConfigurations/vmss140c8IPConfig\"\
        \r\n                }\r\n              ]\r\n            }\r\n          }\r\
        \n        ],\r\n        \"virtualNetworkPeerings\": [],\r\n        \"enableDdosProtection\"\
        : false,\r\n        \"enableVmProtection\": false\r\n      }\r\n    }\r\n\
        \  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview&$filter=roleName%20eq%20%27reader%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"Lets
        you view everything, but not make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2018-01-30T18:08:25.4031403Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss2?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss292d9\",\r\n        \"adminUsername\"\
        : \"admin123\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\"\
        : true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n  \
        \      \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n    \
        \    \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n     \
        \     \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n    \
        \        \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n     \
        \   },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n          \"offer\": \"W[...]
[...]
- request:
    body: 'b''{"properties": {"upgradePolicy": {"mode": "Manual", "automaticOSUpgrade":
      false}, "overprovision": true, "singlePlacementGroup": true, "virtualMachineProfile":
      {"osProfile": {"secrets": [], "computerNamePrefix": "vmss327fc", "linuxConfiguration":
      {"disablePasswordAuthentication": false}, "adminUsername": "admin123"}, "storageProfile":
      {"osDisk": {"caching": "ReadWrite", "createOption": "FromImage", "managedDisk":
      {"storageAccountType": "Standard_LRS"}}, "imageReference": {"version": "latest",
      "sku": "8", "offer": "Debian", "publisher": "credativ"}}, "networkProfile":
      {"networkInterfaceConfigurations": [{"properties": {"dnsSettings": {"dnsServers":
      []}, "enableIPForwarding": false, "primary": true, "enableAcceleratedNetworking":
      false, "ipConfigurations": [{"properties": {"privateIPAddressVersion": "IPv4",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_te[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/20154af0-cd4a-440c-806f-41cb68acdd19?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-03-12T20:10:00.3006565+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"20154af0-cd4a-440c-806f-41cb68acdd19\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;11970,Microsoft.Compute/GetOperation30Min;23891']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/20154af0-cd4a-440c-806f-41cb68acdd19?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-03-12T20:10:00.3006565+00:00\",\r\
        \n  \"endTime\": \"2018-03-12T20:12:15.290259+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"20154af0-cd4a-440c-806f-41cb68acdd19\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;11985,Microsoft.Compute/GetOperation30Min;23880']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "3b4d5d42-f7a9-4500-9b30-685a364850b9"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2018-01-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"3b4d5d42-f7a9-4500-9b30-685a364850b9","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","createdOn":"2018-03-12T20:12:46.5195375Z","updatedOn":"2018-03-12T20:12:46.5195375Z","createdBy":null,"updatedBy":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
      x-ms-request-charge: ['4']
    status: {code: 201, message: Created}
[...]
