interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-04-16T22:13:13Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001","name":"cli_test_vmss_create_none000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-04-16T22:13:13Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.5\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"9\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7-RAW\",\n            \"version\":\"latest\"\n    \
        \      },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n   \
        \         \"offer\":\"SLES\",\n            \"sku\":\"15\",\n            \"\
        version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n          \
        \  \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\",\n\
        \            \"sku\":\"18.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2019Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2019-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"f5944d69cdbfb4a2bb2ddda8c5f050bde5bbcb32"'
      source-age:
      - '153'
      x-fastly-request-id:
      - 54fcb852721189d11515a7676e7789f619ec8bfc
      x-geo-block-list:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1", "location": "westus",
      "tags": {}, "apiVersion": "2019-03-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET"],
      "sku": {"name": "Basic_A1", "capacity": 2}, "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual"}, "virtualMachineProfile": {"storageProfile":
      {"osDisk": {"createOption": "FromImage", "caching": "ReadWrite", "managedDisk":
      {"storageAccountType": null}}, "imageReference": {"publisher": "credativ", "offer":
      "Debian", "sku": "9", "version": "latest"}}, "osProfile": {"computerNamePrefix":
      "vmss13bc1", "adminUsername": "ubuntu", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"path": "/home/ubuntu/.ssh/authorized_keys", "keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\n"}]}}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss13bc1Nic", "properties": {"primary": "true", "ipConfigurations":
      [{"name": "vmss13bc1IPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"}}}]}}]}},
      "singlePlacementGroup": null}}], "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'', \''vmss1\''),providers(\''Microsoft.Compute\'',
      \''virtualMachineScaleSets\'').apiVersions[0])]"}}}, "parameters": {}, "mode":
      "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVThM","name":"vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVThM","properties":{"templateHash":"16784347957465429861","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-04-16T22:13:18.2327155Z","duration":"PT1.4168136S","correlationId":"5a8b0dc0-fd24-433a-bcb0-273407f2f507","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVThM/operationStatuses/08586461540886617123?api-version=2018-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202019-03-06T06%3A13%3A25Z%20and%20correlationId%20eq%20%275a8b0dc0-fd24-433a-bcb0-273407f2f507%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202019-03-06T06%3A13%3A46Z%20and%20correlationId%20eq%20%275a8b0dc0-fd24-433a-bcb0-273407f2f507%27
  response:
    body:
      string: '{"value":[{"authorization":{"action":"Microsoft.Resources/deployments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVThM"},"caller":"oladewal@microsoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/","iat":"1555452417","nbf":"1555452417","exp":"1555456317","_claim_names":"{\"groups\":\"src1\"}","_claim_sources":"{\"src1\":{\"endpoint\":\"https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/d12dc20d-54ce-4951-abd5-5f531f1dbca2/getMemberObjects\"}}","http://schemas.microsoft.com/claims/authnclassreference":"1","aio":"AVQAq/8LAAAAuk+G3qmY8quhBv5Iy7YnMMCBkuCrNPRyB6eroqjJ9YOCDYJXHGK5nHdr5/HWey1lbY249LDZea2caimAG48SQyp+oF30VnEz4Py3+h8n91c=","http://schemas.microsoft.com/claims/authnmethodsreferences":"pwd,mfa","appid":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","appidacr":"0","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname":"Adewale","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname":"Tosin","ipaddr":"131.107.147.24","name":"Tosin
        Adewale","http://schemas.microsoft.com/identity/claims/objectidentifier":"d12dc20d-54ce-4951-abd5-5f531f1dbca2","onprem_sid":"S-1-5-21-2127521184-1604012920-1887927527-32751642","puid":"10037FFEACE8925D","http://schemas.microsoft.com/identity/claims/scope":"user_impersonation","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier":"FJtyFHiLGTRRtUm2S1jp0T-c6F1bO-_JHd3FZ9firI0","http://schemas.microsoft.com/identity/claims/tenantid":"72f988bf-86f1-41af-91ab-2d7cd011db47","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name":"oladewal@microsoft.com","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn":"oladewal@microsoft.com","uti":"-Lcuk2HxxE206pKO7FIIAA","ver":"1.0"},"correlationId":"5a8b0dc0-fd24-433a-bcb0-273407f2f507","description":"","eventDataId":"3718e667-0a34-4ced-8ee0-1a68914c8ab3","eventName":{"value":"EndRequest","localizedValue":"End
        request"},"category":{"value":"Administrative","localizedValue":"Administrative"},"httpRequest":{"clientRequestId":"d4312b3a-6094-11e9-9309-88e9fe6691ee","clientIpAddress":"131.107.147.24","method":"PUT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVThM/events/3718e667-0a34-4ced-8ee0-1a68914c8ab3/ticks/636910495984422873","level":"Informational","resourceGroupName":"cli_test_vmss_create_none000001","resourceProviderName":{"value":"Microsoft.Resources","localizedValue":"Microsoft
        Resources"},"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVThM","resourceType":{"value":"Microsoft.Resources/deployments","localizedValue":"Microsoft.Resources/deployments"},"operationId":"5a8b0dc0-fd24-433a-bcb0-273407f2f507","operationName":{"value":"Microsoft.Resources/deployments/write","localizedValue":"Create
        Deployment"},"properties":{"statusCode":"Created","serviceRequestId":null},"status":{"value":"Accepted","localizedValue":"Accepted"},"subStatus":{"value":"Created","localizedValue":"Created
        (HTTP Status Code: 201)"},"eventTimestamp":"2019-04-16T22:13:18.4422873Z","submissionTimestamp":"2019-04-16T22:13:37.1210766Z","subscriptionId":"00977cdb-163f-435f-9c32-39ec8ae61f4d","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},{"authorization":{"action":"Microsoft.Resources/deployments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVThM"},"caller":"oladewal@microsoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/","iat":"1555452[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586461540886617123?api-version=2018-05-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202019-03-06T06%3A13%3A56Z%20and%20correlationId%20eq%20%275a8b0dc0-fd24-433a-bcb0-273407f2f507%27
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''microsoft.insights'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Resources/deployments/vmss_deploy_COSAyv6MwOpv5BbfLhmxDoVdt6BXVTh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_A1\",\r\n    \"tier\": \"\
        Basic\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\"\
        : true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\
        \n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"\
        computerNamePrefix\": \"vmss13bc1\",\r\n        \"adminUsername\": \"ubuntu\"\
        ,\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : true,\r\n          \"ssh\": [...]
[...]
- request:
    body: 'b''{"location": "westus", "tags": {"test": "success"}, "sku": {"name":
      "Basic_A1", "tier": "Basic", "capacity": 2}, "properties": {"upgradePolicy":
      {"mode": "Manual"}, "virtualMachineProfile": {"osProfile": {"computerNamePrefix":
      "vmss13bc1", "adminUsername": "ubuntu", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"path": "/home/ubuntu/.ssh/authorized_keys", "keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\n"}]}, "provisionVMAgent": true}, "secrets": []}, "storageProfile":
      {"imageReference": {"publisher": "credativ", "offer": "Debian", "sku": "9",
      "version": "latest"}, "osDisk": {"caching": "ReadWrite", "createOption": "FromImage",
      "managedDisk": {"storageAccountType": "Standard_LRS"}}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss13bc1Nic", "properties": {"primary": true, "enableAcceleratedNetworking":
      false, "dnsSettings": {"dnsServers": []}, "ipConfigurations": [{"name": "vmss13bc1IPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "privateIPAddressVersion": "IPv4"}}], "enableIPForwarding": false}}]}}, "overprovision":
      true, "singlePlacementGroup": true}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_A1\",\r\n    \"tier\": \"\
        Bas[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/94be30fa-846b-4dec-8434-d2ed7b5ee8ef?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2019-04-16T22:16:22.8125882+00:00\",\r\n  \"\
        status\": \"InProgress\",\r\n  \"name\": \"94be30fa-846b-4dec-8434-d2ed7b5ee8ef\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14962,Microsoft.Compute/GetOperation30Min;29572
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_none000001/providers/Microsoft.Network/publicIPAddresses/vmss1PublicIP?api-version=2018-12-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/publicIPAddresses/vmss1PublicIP''
        under resource group ''cli_test_vmss_create_none000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
