interactions:
- request:
<<<<<<< HEAD
    body: '{"location": "westus", "tags": {"cause": "automation", "date": "2018-06-07T16:01:40Z",
      "product": "azurecli"}}'
=======
    body: '{"location": "westus", "tags": {"date": "2018-06-03T04:46:31Z", "cause":
      "automation", "product": "azurecli"}}'
>>>>>>> rerecording
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.4 (Windows-10-10.0.17134-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.29 resourcemanagementclient/1.2.1 Azure-SDK-For-Python
          AZURECLI/2.0.37]
=======
      User-Agent: [python/3.5.4 (Windows-10-10.0.16299-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.31 resourcemanagementclient/1.2.1 Azure-SDK-For-Python
          AZURECLI/2.0.34]
>>>>>>> rerecording
      accept-language: [en-US]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_extension000001?api-version=2017-05-10
  response:
<<<<<<< HEAD
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001","name":"cli_test_vmss_extension000001","location":"westus","tags":{"cause":"automation","date":"2018-06-07T16:01:40Z","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
=======
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001","name":"cli_test_vmss_extension000001","location":"westus","tags":{"date":"2018-06-03T04:46:31Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
>>>>>>> rerecording
    headers:
      content-type: [application/json; charset=utf-8]
<<<<<<< HEAD
      date: ['Thu, 07 Jun 2018 16:01:41 GMT']
=======
      date: ['Sun, 03 Jun 2018 04:46:35 GMT']
>>>>>>> rerecording
      expires: ['-1']
      pragma: [no-cache]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      x-content-type-options: [nosniff]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
<<<<<<< HEAD
      date: ['Thu, 07 Jun 2018 16:01:42 GMT']
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      expires: ['Thu, 07 Jun 2018 16:06:42 GMT']
=======
      date: ['Sun, 03 Jun 2018 04:46:37 GMT']
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      expires: ['Sun, 03 Jun 2018 04:51:37 GMT']
>>>>>>> rerecording
      source-age: ['0']
      strict-transport-security: [max-age=31536000]
      vary: ['Authorization,Accept-Encoding']
      via: [1.1 varnish]
      x-cache: [MISS]
      x-cache-hits: ['0']
      x-content-type-options: [nosniff]
<<<<<<< HEAD
      x-fastly-request-id: [1cf6d38f83bcb537bf5e32667fbfb7f9c2c30646]
      x-frame-options: [deny]
      x-geo-block-list: ['']
      x-github-request-id: ['6E78:6747:66A146:690626:5B1956E6']
      x-served-by: [cache-dfw18624-DFW]
      x-timer: ['S1528387303.876930,VS0,VE70']
=======
      x-fastly-request-id: [66dcd16333e2f86192fc493b844d0ff42dd0fbe3]
      x-frame-options: [deny]
      x-geo-block-list: ['']
      x-github-request-id: ['9A62:6410:3C3ACA1:3FCC8B1:5B1372AB']
      x-served-by: [cache-sea1046-SEA]
      x-timer: ['S1528001197.238876,VS0,VE93']
>>>>>>> rerecording
      x-xss-protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.4 (Windows-10-10.0.17134-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.29 networkmanagementclient/2.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.37]
=======
      User-Agent: [python/3.5.4 (Windows-10-10.0.16299-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.31 networkmanagementclient/2.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.34]
>>>>>>> rerecording
      accept-language: [en-US]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
<<<<<<< HEAD
      date: ['Thu, 07 Jun 2018 16:01:42 GMT']
=======
      date: ['Sun, 03 Jun 2018 04:46:38 GMT']
>>>>>>> rerecording
      expires: ['-1']
      pragma: [no-cache]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      vary: [Accept-Encoding]
      x-content-type-options: [nosniff]
    status: {code: 200, message: OK}
- request:
<<<<<<< HEAD
    body: 'b''{"properties": {"mode": "Incremental", "parameters": {"adminPassword":
      {"value": "testPassword0"}}, "template": {"resources": [{"location": "westus",
      "type": "Microsoft.Network/virtualNetworks", "name": "vmss1VNET", "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]},
      "dependsOn": [], "apiVersion": "2015-06-15"}, {"location": "westus", "type":
      "Microsoft.Network/publicIPAddresses", "name": "vmss1LBPublicIP", "tags": {},
      "properties": {"publicIPAllocationMethod": "Dynamic"}, "dependsOn": [], "apiVersion":
      "2018-01-01"}, {"location": "westus", "type": "Microsoft.Network/loadBalancers",
      "name": "vmss1LB", "tags": {}, "properties": {"inboundNatPools": [{"name": "vmss1LBNatPool",
      "properties": {"frontendPortRangeStart": "50000", "protocol": "tcp", "backendPort":
      22, "frontendPortRangeEnd": "50119", "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss1LB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"}}}],
      "backendAddressPools": [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}]},
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"],
      "apiVersion": "2018-01-01"}, {"location": "westus", "sku": {"name": "Standard_D1_v2",
      "capacity": 1}, "type": "Microsoft.Compute/virtualMachineScaleSets", "name":
      "vmss1", "tags": {}, "properties": {"singlePlacementGroup": null, "upgradePolicy":
      {"mode": "manual"}, "overprovision": true, "virtualMachineProfile": {"storageProfile":
      {"imageReference": {"publisher": "Canonical", "sku": "16.04-LTS", "offer": "UbuntuServer",
      "version": "latest"}, "osDisk": {"createOption": "FromImage", "caching": "ReadWrite",
      "managedDisk": {"storageAccountType": null}}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss1e01eNic", "properties": {"primary": "true", "ipConfigurations":
      [{"name": "vmss1e01eIPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}]}}]},
      "osProfile": {"adminUsername": "admin123", "computerNamePrefix": "vmss1e01e",
      "adminPassword": "[parameters(\''adminPassword\'')]"}}}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB"], "apiVersion": "2017-12-01"}], "variables":
      {}, "contentVersion": "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}, "parameters": {"adminPassword": {"metadata": {"description":
      "Secure adminPassword"}, "type": "securestring"}}}}}'''
=======
    body: 'b''{"properties": {"template": {"variables": {}, "contentVersion": "1.0.0.0",
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "vmss1Subnet"}]},
      "location": "westus", "dependsOn": [], "tags": {}, [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.4 (Windows-10-10.0.17134-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.29 resourcemanagementclient/1.2.1 Azure-SDK-For-Python
          AZURECLI/2.0.37]
      accept-language: [en-US]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_extension000001/providers/Micr[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.4 (Windows-10-10.0.17134-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.29 resourcemanagementclient/1.2.1 Azure-SDK-For-Python
          AZURECLI/2.0.37]
=======
      User-Agent: [python/3.5.4 (Windows-10-10.0.16299-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.31 resourcemanagementclient/1.2.1 Azure-SDK-For-Python
          AZURECLI/2.0.34]
>>>>>>> rerecording
      accept-language: [en-US]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_extension000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
<<<<<<< HEAD
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Resources/deployments/vmss_deploy_hha3ufRkIyu1JoVeHL6BrQ0POvNfxydD","name":"vmss_deploy_hha3ufRkIyu1JoVeHL6BrQ0POvNfxydD","properties":{"templateHash":"14435097312849488586","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-06-07T16:04:00.8171428Z","duration":"PT2M15.9384504S","correlationId":"6c04a671-8049-4918-820a-dc3c21011feb","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}],"outputs":{"vmss":{"type":"Object","value":{"singlePlacementGroup":true,"upgradePolicy":{"mode":"Manual","automaticOSUpgrade":false},"virtualMachineProfile":{"osProfile":{"computerNamePrefix":"vmss1e01e","adminUsername":"admin123","linuxConfiguration":{"disablePasswordAuthentication":false},"secrets":[]},"storageProfile":{"osDisk":{"createOption":"FromImage","caching":"ReadWrite","managedDisk":{"storageAccountType":"Standard_LRS"}},"imageReference":{"publisher":"Canonical","offer":"UbuntuServer","sku":"16.04-LTS","version":"latest"}},"networkProfile":{"networkInterfaceConfigurations":[{"name":"vmss1e01eNic","properties":{"primary":true,"enableAcceleratedNetworking":false,"dnsSettings":{"dnsServers":[]},"enableIPForwarding":false,"ipConfigurations":[{"name":"vmss1e01eIPConfig","properties":{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},"privateIPAddressVersion":"IPv4","loadBalancerBackendAddressPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],"loadBalancerInboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}]}}]}},"provisioningState":"Succeeded","overprovision":true,"uniqueId":"98275e26-8025-49a8-9e9a-f4998c31efed"}}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/loadBalancers/vmss1LB"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"},{"id":"/sub[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.4 (Windows-10-10.0.17134-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.29 computemanagementclient/4.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.37]
=======
      User-Agent: [python/3.5.4 (Windows-10-10.0.16299-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.31 computemanagementclient/4.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.34]
>>>>>>> rerecording
      accept-language: [en-US]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2018-04-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
<<<<<<< HEAD
        \      \"computerNamePrefix\": \"vmss1e01e\",\r\n        \"adminUsername\"\
=======
        \      \"computerNamePrefix\": \"vmss1496f\",\r\n        \"adminUserna[...]
- request:
<<<<<<< HEAD
    body: 'b''{"location": "westus", "sku": {"name": "Standard_D1_v2", "capacity":
      1, "tier": "Standard"}, "properties": {"singlePlacementGroup": true, "upgradePolicy":
      {"mode": "Manual", "automaticOSUpgrade": false}, "overprovision": true, "virtualMachineProfile":
      {"extensionProfile": {"extensions": [{"name": "NetworkWatcherAgentLinux", "properties":
      {"publisher": "Microsoft.Azure.NetworkWatcher", "type": "NetworkWatcherAgentLinux",
      "protectedSettings": {"username": "myadmin", "ssh_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8InHIPLAu6lMc0d+5voyXqigZfT5r6fAM1+FQAi+mkPDdk2hNq1BG0Bwfc88Gm7BImw8TS+x2bnZmhCbVnHd6BPCDY7a+cHCSqrQMW89Cv6Vl4ueGOeAWHpJTV9CTLVz4IY1x4HBdkLI2lKIHri9+z7NIdvFk7iOkMVGyez5H1xDbF2szURxgc4I2/o5wycSwX+G8DrtsBvWLmFv9YAPx+VkEHQDjR0WWezOjuo1rDn6MQfiKfqAjPuInwNOg5AIxXAOResrin2PUlArNtdDH1zlvI4RZi36+tJO7mtm3dJiKs4Sj7G6b1CjIU6aaj27MmKy3arIFChYav9yYM3IT"},
      "typeHandlerVersion": "1.4", "autoUpgradeMinorVersion": true, "forceUpdateTag":
      "9ab81427-f7b5-4694-bcaf-1084b6667de6"}}]}, "storageProfile": {"imageReference":
      {"publisher": "Canonical", "sku": "16.04-LTS", "offer": "UbuntuServer", "version":
      "latest"}, "osDisk": {"createOption": "FromImage", "caching": "ReadWrite", "managedDisk":
      {"storageAccountType": "Standard_LRS"}}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss1e01eNic", "properties": {"enableAcceleratedNetworking": false,
      "primary": true, "enableIPForwardin[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      User-Agent: [python/3.5.4 (Windows-10-10.0.17134-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.29 computemanagementclient/4.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.37]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/ec01bde9-27af-4fdb-943a-b3d706501ed2?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-06-07T16:04:20.7337037+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"ec01bde9-27af-4fdb-943a-b3d706501ed2\"\
=======
      User-Agent: [python/3.5.4 (Windows-10-10.0.16299-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.31 computemanagementclient/4.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.34]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/dbe566df-33bb-4521-b88d-0237aabc4bcf?api-version=2018-04-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-06-03T04:49:17.6284539+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"dbe566df-33bb-4521-b88d-0237aabc4bcf\"\
>>>>>>> rerecording
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
<<<<<<< HEAD
      date: ['Thu, 07 Jun 2018 16:04:31 GMT']
=======
      date: ['Sun, 03 Jun 2018 04:49:27 GMT']
>>>>>>> rerecording
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
      x-content-type-options: [nosniff]
<<<<<<< HEAD
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29968']
=======
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14987,Microsoft.Compute/GetOperation30Min;29863']
>>>>>>> rerecording
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      User-Agent: [python/3.5.4 (Windows-10-10.0.17134-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.29 computemanagementclient/4.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.37]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/ec01bde9-27af-4fdb-943a-b3d706501ed2?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-06-07T16:04:20.7337037+00:00\",\r\
        \n  \"endTime\": \"2018-06-07T16:06:04.6761974+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"ec01bde9-27af-4fdb-943a-b3d706501ed2\"\r\n}"}
=======
      User-Agent: [python/3.5.4 (Windows-10-10.0.16299-SP0) requests/2.18.4 msrest/0.4.29
          msrest_azure/0.4.31 computemanagementclient/4.0.0rc2 Azure-SDK-For-Python
          AZURECLI/2.0.34]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/wes[...]
[...]
