interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001","name":"cli_test_vmss_create_linux_secrets000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"admin3","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"admin3","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin3","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["yugangw@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-12-06T22:29:46Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"sdk","telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"admin3@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['708322']
      ocp-aad-diagnostics-server-name: [Dv72AcCemnmm/GYguwEfXSa0gt5rEWvxyBbksyTbSc4=]
      ocp-aad-session-key: [TxFU2O99iJrzyXqsMqGL5dF-Yf1GzsRZPxnyC5h_Ox_3ouWxZzpK78NvnuVffMBIfjy6KaGVbgrw47N1kwHrbHLoKrRL6pTrkJhP6Klr785qTr029YpFxokfot3e5tjK.zGrWvpkwbQI2iskvln8U_uilWrfhNzLnvD17OXLnHF0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"sku": {"family": "A", "name": "standard"}, "enabledForTemplateDeployment":
      true, "accessPolicies": [{"objectId": "e7e158d3-7cdc-47cd-8825-5859d7ab2b55",
      "permissions": {"certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "keys": ["get", "create", "delete", "list", "update",
      "import", "backup", "restore", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"],
      "secrets": ["get", "list", "set", "delete", "backup", "restore", "recover"]},
      "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}], "enabledForDeployment":
      true, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334","name":"vmcreatelinuxsecret3334","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","permissions":{"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"keys":["get","create","delete","list","update","import","backup","restore","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"],"secrets":["get","list","set","delete","backup","restore","recover"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmcreatelinuxsecret3334.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"policy": {"key_props": {"key_size": 2048, "kty": "RSA", "reuse_key":
      false, "exportable": true}, "attributes": {"enabled": true}, "lifetime_actions":
      [{"trigger": {"lifetime_percentage": 90}, "action": {"action_type": "AutoRenew"}}],
      "x509_props": {"validity_months": 60, "subject": "C=US, ST=WA, L=Redmon, O=Test
      Noodle, OU=TestNugget, CN=www.mytestdomain.com", "key_usage": ["digitalSignature",
      "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"]}, "issuer":
      {"name": "Self"}, "secret_props": {"contentType": "application/x-pkcs12"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"key_props": {"key_size": 2048, "kty": "RSA", "reuse_key":
      false, "exportable": true}, "attributes": {"enabled": true}, "lifetime_actions":
      [{"trigger": {"lifetime_percentage": 90}, "action": {"action_type": "AutoRenew"}}],
      "x509_props": {"validity_months": 60, "subject": "C=US, ST=WA, L=Redmon, O=Test
      Noodle, OU=TestNugget, CN=www.mytestdomain.com", "key_usage": ["digitalSignature",
      "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"]}, "issuer":
      {"name": "Self"}, "secret_props": {"contentType": "application/x-pkcs12"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALxT5CHcVzm/stIYH00SIExC445f3Cgth6W3R+e0o7q15iVa2aLP0JJcjP9r41HlGhyAkQ92qLvf4RslQcEm6ZCdCddmxa6Dn1NUh13DvGJEMK+2HbJSWlNYF5o8J6xqlSKY0mwOB6Sn/VdgtAaC+Mt5Ext4nONUyiMbfj/Wt4HhLS9OQY3zKq6zOi4xiEe5OY9aAsc5/7PzuvhqLR50+1o5Uar94O1FojOWhufMap3hhNjePmUW/HLPHfUQoQqQMLaBjgB6u9Uu+eTmPPUeibAImH4jCaVFAdsmNEBZmKWftyZ+xPpnLai4PGxkfEEHuFM1DRQEq/s5RZmZdasLnOMCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCVoor2yYO4LR+H0XXG9wJ1yRiQ3rqEmYJMt4yMGX4GO62UzJOvguppA731I2F0xquS1eNW7ePsNwA3A0Y1UL/rYQZWrd9mP1S52I8AseyUzpYc0dQ68KL0brbl1lVIyBMqZRZFgLsDCiNAgdzdQEJJ5JWepAMxqPKfGPW3ahTTM3Vl42LxbtRq1nAqbT2XtvxgBuiBBIAE+oNA4bjJkIYxr6lrD+TTifh7DxpBH+h5lASzVeq9bGcEg+41YYohNlhZADGwBPcqgTfauuT6kqKsuYFh21ozizTmx/yLGSCYXksZ4pE3OjuSyoPDieW8EphadQJbcVHGkC8zkVmkSAvE","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"91e6ac0733684d4fb9a6aaf1f9cb0603"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01&request_id=91e6ac0733684d4fb9a6aaf1f9cb0603']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALxT5CHcVzm/stIYH00SIExC445f3Cgth6W3R+e0o7q15iVa2aLP0JJcjP9r41HlGhyAkQ92qLvf4RslQcEm6ZCdCddmxa6Dn1NUh13DvGJEMK+2HbJSWlNYF5o8J6xqlSKY0mwOB6Sn/VdgtAaC+Mt5Ext4nONUyiMbfj/Wt4HhLS9OQY3zKq6zOi4xiEe5OY9aAsc5/7PzuvhqLR50+1o5Uar94O1FojOWhufMap3hhNjePmUW/HLPHfUQoQqQMLaBjgB6u9Uu+eTmPPUeibAImH4jCaVFAdsmNEBZmKWftyZ+xPpnLai4PGxkfEEHuFM1DRQEq/s5RZmZdasLnOMCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCVoor2yYO4LR+H0XXG9wJ1yRiQ3rqEmYJMt4yMGX4GO62UzJOvguppA731I2F0xquS1eNW7ePsNwA3A0Y1UL/rYQZWrd9mP1S52I8AseyUzpYc0dQ68KL0brbl1lVIyBMqZRZFgLsDCiNAgdzdQEJJ5JWepAMxqPKfGPW3ahTTM3Vl42LxbtRq1nAqbT2XtvxgBuiBBIAE+oNA4bjJkIYxr6lrD+TTifh7DxpBH+h5lASzVeq9bGcEg+41YYohNlhZADGwBPcqgTfauuT6kqKsuYFh21ozizTmx/yLGSCYXksZ4pE3OjuSyoPDieW8EphadQJbcVHGkC8zkVmkSAvE","cancellation_requested":false,"status":"completed","target":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1","request_id":"91e6ac0733684d4fb9a6aaf1f9cb0603"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/0ec53e75dd924ac1a2f9f3947a3a2966","managed":true,"attributes":{"enabled":true,"nbf":1519858901,"exp":1677625901,"created":1519859501,"updated":1519859501,"recoveryLevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/42e1116f5c614546beefe42c1e9e3f02","managed":true,"attributes":{"enabled":false,"nbf":1519858889,"exp":1677625889,"created":1519859490,"updated":1519859490,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334","name":"vmcreatelinuxsecret3334","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1nemv_abc233482b25/providers/Microsoft.KeyVault/vaults/vault91532514986","name":"vault91532514986","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['0']
      x-fastly-request-id: [c81280ae3d8d5d435de701cfbe7a7ed20a661400]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {}, "mode": "Incremental", "template":
      {"outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1-name\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]"}},
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"tags": {}, "name": "vmss1-nameVNET", "type": "Microsoft.Network/virtualNetworks",
      "apiVersion": "2015-06-15", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vmss1-nameSubnet"}]}, "dependsOn": [], "location": "westus"}, {"tags":
      {}, "sku": {"name": "Basic"}, "type": "Microsoft.Network/publicIPAddresses",
      "apiVersion": "2017-11-01", "properties": {"publicIPAllocationMethod": "Dynamic"},
      "name": "vmss1-nameLBPublicIP", "dependsOn": [], "location": "westus"}, {"tags":
      {}, "sku": {"name": "Basic"}, "type": "Microsoft.Network/loadBalancers", "apiVersion":
      "2017-11-01", "properties": {"frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "inboundNatPools": [{"properties": {"protocol":
      "tcp", "backendPort": 22, "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss1-nameLB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119"}, "name":
      "vmss1-nameLBNatPool"}], "backendAddressPools": [{"name": "vmss1-nameLBBEPool"}]},
      "name": "vmss1-nameLB", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1-nameVNET",
      "Microsoft.Network/publicIpAddresses/vmss1-nameLBPublicIP"], "location": "westus"},
      {"tags": {}, "sku": {"capacity": 2, "name": "Standard_D1_v2"}, "type": "Microsoft.Compute/virtualMachineScaleSets",
      "apiVersion": "2017-12-01", "properties": {"upgradePolicy": {"mode": "manual"},
      "overprovision": true, "virtualMachineProfile": {"networkProfile": {"networkInterfaceConfigurations":
      [{"properties": {"primary": "true", "ipConfigurations": [{"properties": {"loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/backendAddressPools/vmss1-nameLBBEPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET/subnets/vmss1-nameSubnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/inboundNatPools/vmss1-nameLBNatPool"}]},
      "name": "vmss1eff5IPConfig"}]}, "name": "vmss1eff5Nic"}]}, "storageProfile":
      {"osDisk": {"caching": "ReadWrite", "managedDisk": {"storageAccountType": null},
      "createOption": "FromImage"}, "imageReference": {"sku": "8", "publisher": "credativ",
      "version": "latest", "offer": "Debian"}}, "osProfile": {"computerNamePrefix":
      "vmss1eff5", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"path": "/home/deploy/.ssh/authorized_keys", "keyData": "ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\n"}]}}, "secrets": [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334"},
      "vaultCertificates": [{"certificateUrl": "https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/0ec53e75dd924ac1a2f9f3947a3a2966"}]}],
      "adminUsername": "deploy"}}, "singlePlacementGroup": true}, "name": "vmss1-name",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1-nameVNET", "Microsoft.Network/loadBalancers/vmss1-nameLB"],
      "location": "westus"}], "contentVersion": "1.0.0.0", "variables": {}, "parameters":
      {}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Resources/deployments/vmss_deploy_Zm811MzZyJicRKot23OiaDhXU49gefCp","name":"vmss_deploy_Zm811MzZyJicRKot23OiaDhXU49gefCp","properties":{"templateHash":"13263342201207698170","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-02-28T23:11:50.5963955Z","duration":"PT0.5861065S","correlationId":"a58097ee-ac46-4cc5-bbae-2a56d7f21d00","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1-nameLBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1-name"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Resources/deployments/vmss_deploy_Zm811MzZyJicRKot23OiaDhXU49gefCp/operationStatuses/08586817473754673370?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586817473754673370?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsof[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss1eff5\",\r\n        \"adminUsername\"\
        : \"deploy\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n     \
        \         {\r\n                \"path\": \"/home/deploy/.ssh/authorized_keys\"\
        ,\r\n                \"keyData\":[...]
[...]
