interactions:
- request:
    body: '{"tags": {"product": "azurecli", "cause": "automation", "date": "2018-07-15T00:02:06Z"},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-07-15T00:02:06Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7.3\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"16.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2016Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-R2-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2008-R2-SP1\",\n            \"version\":\"latest\"\n
        \         }\n        }\n      }\n    }\n  }\n}\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['207']
      x-fastly-request-id: [4136e331dd5cd3133d55712f61b427c21152528a]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"tags": {}, "dependsOn": [], "name": "vmss1VNET", "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24"}, "name": "vmss1Subnet"}]}, "apiVersion": "2015-06-15",
      "location": "westus", "type": "Microsoft.Network/virtualNetworks"}, {"tags":
      {}, "type": "Microsoft.Network/publicIPAddresses", "dependsOn": [], "name":
      "vmss1LBPublicIP", "properties": {"publicIPAllocationMethod": "Static"}, "apiVersion":
      "2018-01-01", "location": "westus", "sku": {"name": "Standard"}}, {"tags": {},
      "type": "Microsoft.Network/loadBalancers", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "name": "vmss1LB", "properties":
      {"backendAddressPools": [{"name": "vmss1LBBEPool"}], "loadBalancingRules": [{"properties":
      {"protocol": "tcp", "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss1LB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "enableFloatingIP": false, "frontendPort": 80, "backendAddressPool": {"id":
      "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''vmss1LB\''), \''/backendAddressPools/\'',
      \''vmss1LBBEPool\'')]"}, "idleTimeoutInMinutes": 5, "backendPort": 80}, "name":
      "LBRule"}], "frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "inboundNatPools": [{"properties": {"protocol":
      "tcp", "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss1LB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "backendPort": 22, "frontendPortRangeStart": "50000", "frontendPortRangeEnd":
      "50119"}, "name": "vmss1LBNatPool"}]}, "apiVersion": "2018-01-01", "location":
      "westus", "sku": {"name": "Standard"}}, {"tags": {}, "dependsOn": [], "name":
      "vmss1NSG", "properties": {"securityRules": [{"properties": {"protocol": "Tcp",
      "priority": 1000, "access": "Allow", "destinationAddressPrefix": "*", "sourceAddressPrefix":
      "*", "direction": "Inbound", "destinationPortRange": "22", "sourcePortRange":
      "*"}, "name": "default-allow-ssh"}]}, "apiVersion": "2015-06-15", "location":
      "westus", "type": "Microsoft.Network/networkSecurityGroups"}, {"tags": {}, "type":
      "Microsoft.Compute/virtualMachineScaleSets", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB", "Microsoft.Network/networkSecurityGroups/vmss1NSG"],
      "name": "vmss1", "properties": {"upgradePolicy": {"mode": "manual"}, "overprovision":
      false, "singlePlacementGroup": false, "virtualMachineProfile": {"osProfile":
      {"linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"path": "/home/ubuntuadmin/.ssh/authorized_keys", "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6ynxWeY589bvuJVjtobA+qIlWQwycoeRTYNyEUssLQdCWq7YRUxBhXZzf8O8qe8vz8JsxIgX2ynyn9mxNGAi16gDpkjM9jZ7ATfS4fnuugtx3khjbCOBUJ2A/5GcAwErCZwJ8aaRmuLaG26h9JJaP+amPCty6qXo3i6wnoE3PGy6UyDMr4mdPMT3K1IeWr71GiZ7lTEaBCDclFA628QE4VT0fuGcG/qnm6Q0cLZsyARtYCnTRZGyA+4aWTn/jDBlQY0cgH67nTtimUjkiS67Gd64xA/lri0ybb+ZzwGOxU3QysoYGvDl2TatYHjacS8h1la8qHVTe00Nj7K/NC/z3Q==
      yugangw2@YUGANGLP2\\n"}]}}, "adminUsername": "ubuntuadmin", "computerNamePrefix":
      "vmss1c6af"}, "storageProfile": {"imageReference": {"offer": "UbuntuServer",
      "publisher": "Canonical", "sku": "16.04-LTS", "version": "latest"}, "osDisk":
      {"createOption": "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}}, "networkProfile": {"networkInterfaceConfigurations": [{"properties":
      {"networkSecurityGroup": {"id": "[resourceId(\''Microsoft.Network/networkSecurityGroups\'',
      \''vmss1NSG\'')]"}, "ipConfigurations": [{"properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}],
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}]},
      "name": "vmss1c6afIPConfig"}], "primary": "true"}, "name": "vmss1c6afNic"}]}}},
      "apiVersion": "2018-06-01", "location": "westus", "sku": {"capacity": 101, "name":
      "Standard_DS1_v2"}}], "variables": {}, "contentVersion": "1.0.0.0", "parameters":
      {}, "outputs": {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}}, "parameters": {}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2018-05-01
  response:
    body: {string: '{"error":{"code":"InvalidTemplateDeployment","message":"The template
        deployment ''vmss_deploy_1JmIzpBBsFoJLJSM17vCJXzdyfdadxSE'' is not valid according
        to the validation procedure. The tracking id is ''375c3d71-1107-40cc-a9ff-eee797cf1bda''.
        See inner errors for details. Please see https://aka.ms/arm-deploy for usage
        details.","details":[{"code":"QuotaExceeded","message":"Operation results
        in exceeding quota limits of Core. Maximum allowed: 100, Current in use: 1,
        Additional requested: 101. Please read more about quota increase at http://aka.ms/corequotaincrease."}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 400, message: Bad Request}
[...]
