interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-10T16:04:06Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001","name":"cli_test_vmss_rolling_update000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-10T16:04:06Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_vmss_rolling_update000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2018-05-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2018-08-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPlb1", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Dynamic"}, "sku": {"name": "Basic"}}, {"type":
      "Microsoft.Network/loadBalancers", "name": "lb1", "location": "westus", "tags":
      {}, "apiVersion": "2018-08-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "properties": {"backendAddressPools": [{"name": "lb1bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}}}]},
      "sku": {"name": "Basic"}}], "outputs": {"loadBalancer": {"type": "object", "value":
      "[reference(\''lb1\'')]"}}}, "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/lb_deploy_lUpQqzdY3t4Jnm3Gg3cXm8YFgSXMh9lq","name":"lb_deploy_lUpQqzdY3t4Jnm3Gg3cXm8YFgSXMh9lq","properties":{"templateHash":"17886497686539032906","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-09-10T16:04:13.19717Z","duration":"PT0.774004S","correlationId":"e7496154-762b-4c45-9052-634912ec6ea9","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/lb_deploy_lUpQqzdY3t4Jnm3Gg3cXm8YFgSXMh9lq/operationStatuses/08586650114330544549?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1183']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586650114330544549?api-version=2018-05-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1\",\r\n
        \ \"etag\": \"W/\\\"bfea411f-9e0a-4210-ae04-9fabfba4f179\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"02d41ada-1695-4070-a89e-fb2c06597f21\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"bfea411f-9e0a-4210-ae04-9fabfba4f179\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\r\n
        \         }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\":
        [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\",\r\n
        \       \"etag\": \"W/\\\"bfea411f-9e0a-4210-ae04-9fabfba4f179\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n
        \     }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n
        \   \"inboundNatRules\": [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\":
        []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"bfea411f-9e0a-4210-ae04-9fabfba4f179"]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1",
      "location": "westus", "tags": {}, "sku": {"name": "Basic"}, "properties": {"frontendIPConfigurations":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "provisioningState": "Succeeded"}, "name": "LoadBalancerFrontEnd", "etag": "W/\\"bfea411f-9e0a-4210-ae04-9fabfba4f179\\""}],
      "backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "properties": {"provisioningState": "Succeeded"}, "name": "lb1bepool", "etag":
      "W/\\"bfea411f-9e0a-4210-ae04-9fabfba4f179\\""}], "loadBalancingRules": [],
      "probes": [{"properties": {"protocol": "Http", "port": 80, "requestPath": "/"},
      "name": "probe1"}], "inboundNatRules": [], "inboundNatPools": [], "outboundRules":
      [], "resourceGuid": "02d41ada-1695-4070-a89e-fb2c06597f21", "provisioningState":
      "Succeeded"}, "etag": "W/\\"bfea411f-9e0a-4210-ae04-9fabfba4f179\\""}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Micros[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/71aed225-38f7-44b3-95e6-37ecbb99d3dd?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1",
      "location": "westus", "tags": {}, "sku": {"name": "Basic"}, "properties": {"frontendIPConfigurations":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "provisioningState": "Succeeded"}, "name": "LoadBalancerFrontEnd", "etag": "W/\\"759f4819-96fb-4fb9-bbc5-47231a4211ec\\""}],
      "backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "properties": {"provisioningState": "Succeeded"}, "name": "lb1bepool", "etag":
      "W/\\"759f4819-96fb-4fb9-bbc5-47231a4211ec\\""}], "loadBalancingRules": [{"properties":
      {"frontendIPConfiguration": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "provisioningState": "Succeeded"}, "name": "LoadBalancerFrontEnd", "etag": "W/\\"759f4819-96fb-4fb9-bbc5-47231a4211ec\\""},
      "backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "properties": {"provisioningState": "Succeeded"}, "name": "lb1bepool", "etag":
      "W/\\"759f4819-96fb-4fb9-bbc5-47231a4211ec\\""}, "probe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1",
      "properties": {"protocol": "Http", "port": 80, "intervalInSeconds": 15, "numberOfProbes":
      2, "requestPath": "/", "provisioningState": "Succeeded"}, "name": "probe1",
      "etag": "W/\\"759f4819-96fb-4fb9-bbc5-47231a4211ec\\""}, "protocol": "Tcp",
      "loadDistribution": "default", "frontendPort": 80, "backendPort": 80, "enableFloatingIP":
      false}, "name": "rule1"}], "probes": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1",
      "properties": {"protocol": "Http", "port": 80, "intervalInSeconds": 15, "numberOfProbes":
      2, "requestPath": "/", "provisioningState": "Succeeded"}, "name": "probe1",
      "etag": "W/\\"759f4819-96fb-4fb9-bbc5-47231a4211ec\\""}], "inboundNatRules":
      [], "inboundNatP[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7.3\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"16.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2016Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-R2-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2008-R2-SP1\",\n            \"version\":\"latest\"\n
        \         }\n        }\n      }\n    }\n  }\n}\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['172']
      x-fastly-request-id: [973941b4daa063e68423642cf8ab99fafd647249]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1", "location": "westus",
      "tags": {}, "apiVersion": "2018-06-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET"],
      "sku": {"name": "Standard_DS1_v2", "capacity": 2}, "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual"}, "virtualMachineProfile": {"storageProfile":
      {"osDisk": {"createOption": "FromImage", "caching": "ReadWrite", "managedDisk":
      {"storageAccountType": null}}, "imageReference": {"publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "16.04-LTS", "version": "latest"}}, "osProfile":
      {"computerNamePrefix": "vmss12025", "adminUsername": "clitester1", "adminPassword":
      "[parameters(\''adminPassword\'')]"}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss12025Nic", "properties": {"primary": "true", "ipConfigurations":
      [{"name": "vmss12025IPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/inboundNatPools/nat-pool1"}]}}]}}],
      "healthProbe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1"}}},
      "singlePlacementGroup": null}}], "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'', \''vmss1\''),providers(\''Microsoft.Compute\'',
      \''virtualMachineScaleSets\'').apiVersions[0])]"}}}, "parameters": {"adminPassword":
      {"value": "Testqwer1234!"}}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_t[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n    \"tier\":
        \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\":
        true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\":
        false\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\":
        {\r\n        \"computerNamePrefix\": \"vmss12025\",\r\n        \"adminUsername\":
        \"clitester1\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\":
        false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\":
        [],\r\n        \"allowExtensionOperations\": true\r\n      },\r\n      \"storageProfile\":
        {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n
        \         \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n
        \           \"storageAccountType\": \"Premium_LRS\"\r\n          }\r\n        },\r\n
        \       \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n
        \         \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"16.04-LTS\",\r\n
        \         \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\":
        {\"healthProbe\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1\"},\"networkInterfaceConfigurations\":[{\"name\":\"vmss12025Nic\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"vmss12025IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"}],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/inboundNatPools/nat-pool1\"}]}}]}}]}\r\n
        \   },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\":
        true,\r\n    \"uniqueId\": \"60a34a1e-03f6-473b-b890-3d169b3b175a\"\r\n  },\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\",\r\n
        \ \"name\": \"vmss1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;199,Microsoft.Compute/GetVMScaleSet30Min;1299']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/de0d1637-3a54-4072-9dac-ff890f7a2cc6?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-09-10T16:08:31.78781+00:00\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"name\": \"de0d1637-3a54-4072-9dac-ff890f7a2cc6\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14988,Microsoft.Compute/GetOperation30Min;29988']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/de0d1637-3a54-4072-9dac-ff890f7a2cc6?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-09-10T16:08:31.78781+00:00\",\r\n
        \ \"endTime\": \"2018-09-10T16:10:27.6979928+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"de0d1637-3a54-4072-9dac-ff890f7a2cc6\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14906,Microsoft.Compute/GetOperation30Min;29906']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"instanceIds": ["*"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/manualupgrade?api-version=2018-06-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/7eb49ceb-c7f7-410f-8731-9cb5239de718?api-version=2018-06-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/7eb49ceb-c7f7-410f-8731-9cb5239de718?monitor=true&api-version=2018-06-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/VMScaleSetActions3Min;237,Microsoft.Compute/VMScaleSetActions30Min;1197,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1192,Microsoft.Compute/VmssQueuedVMOperations;4798']
      x-ms-ratelimit-remaining-subscription-writes: ['1185']
      x-ms-request-charge: ['2']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n    \"tier\":
        \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\":
        true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Rolling\",\r\n      \"rollingUpgradePolicy\":
        {\r\n        \"maxBatchInstancePercent\": 20,\r\n        \"maxUnhealthyInstancePercent\":
        20,\r\n        \"maxUnhealthyUpgradedInstancePercent\": 20,\r\n        \"pauseTimeBetweenBatches\":
        \"PT0S\"\r\n      },\r\n      \"automaticOSUpgrade\": false\r\n    },\r\n
        \   \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\":
        \"vmss12025\",\r\n        \"adminUsername\": \"clitester1\",\r\n        \"linuxConfiguration\":
        {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\":
        true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\":
        true\r\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"name\": \"PublicIPlb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\",\r\n
        \ \"etag\": \"W/\\\"faf0e5e3-b2d9-4c97-bba0-05d12b8167ce\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"a03b9cb2-c7cf-4c45-a94f-ef8a7e5f5ddb\",\r\n
        \   \"ipAddress\": \"40.78.71.174\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"faf0e5e3-b2d9-4c97-bba0-05d12b8167ce"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://40.78.71.174/
  response:
    body: {string: "<!DOCTYPE html>\n<html>\n<head>\n<title>Welcome to nginx!</title>\n<style>\n
        \   body {\n        width: 35em;\n        margin: 0 auto;\n        font-family:
        Tahoma, Verdana, Arial, sans-serif;\n    }\n</style>\n</head>\n<body>\n<h1>Welcome
        to nginx!</h1>\n<p>If you see this page, the nginx web server is successfully
[...]
