interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001","name":"cli_test_invoke_action000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1184']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['214']
      x-fastly-request-id: [22d68c0b0a81599f861b52c86e2aa011cd692037]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''{"properties": {"parameters": {}, "template": {"variables":
      {}, "contentVersion": "1.0.0.0", "outputs": {}, "parameters": {}, "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"type": "Microsoft.Storage/storageAccounts", "dependsOn": [],
      "location": "westus", "properties": {"accountType": "Premium_LRS"}, "name":
      "vhdstorageec72a24818eb77", "tags": {}, "apiVersion": "2015-06-15"}, {"type":
      "Microsoft.Network/virtualNetworks", "dependsOn": [], "location": "westus",
      "properties": {"subnets": [{"name": "cli-test-vm000002Subnet", "properties":
      {"addressPrefix": "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "name": "cli-test-vm000002VNET", "tags": {}, "apiVersion": "2015-06-15"}, {"type":
      "Microsoft.Network/networkSecurityGroups", "dependsOn": [], "location": "westus",
      "properties": {"securityRules": [{"name": "default-allow-ssh", "properties":
      {"destinationPortRange": "22", "destinationAddressPrefix": "*", "protocol":
      "Tcp", "sourcePortRange": "*", "sourceAddressPrefix": "*", "priority": 1000,
      "access": "Allow", "direction": "Inbound"}}]}, "name": "cli-test-vm000002NSG",
      "tags": {}, "apiVersion": "2015-06-15"}, {"type": "Microsoft.Network/publicIPAddresses",
      "dependsOn": [], "location": "westus", "properties": {"publicIPAllocationMethod":
      "dynamic"}, "apiVersion": "2017-11-01", "tags": {}, "name": "cli-test-vm000002PublicIP"},
      {"type": "Microsoft.Network/networkInterfaces", "dependsOn": ["Microsoft.Network/virtualNetworks/cli-test-vm000002VNET",
      "Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG", "Microsoft.Network/publicIpAddresses/cli-test-vm000002PublicIP"],
      "location": "westus", "properties": {"networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG"},
      "ipConfigurations": [{"name": "ipconfigcli-test-vm000002", "properties": {"publicIPAddress":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP"},
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm000002VNET/subnets/cli-test-vm000002Subnet"},
      "privateIPAllocationMethod": "Dynamic"}}]}, "apiVersion": "2015-06-15", "tags":
      {}, "name": "cli-test-vm000002VMNic"}, {"type": "Microsoft.Compute/virtualMachines",
      "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstorageec72a24818eb77",
      "Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic"], "location": "westus",
      "properties": {"networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic"}]},
      "osProfile": {"adminUsername": "ubuntu", "computerName": "cli-test-vm000002",
      "adminPassword": "Longpassword#1000003"}, "hardwareProfile": {"vmSize": "Standard_DS1_v2"},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": "osdisk_ec72a24818",
      "vhd": {"uri": "https://vhdstorageec72a24818eb77.blob.core.windows.net/vhds/osdisk_ec72a24818.vhd"},
      "caching": "ReadWrite"}, "imageReference": {"version": "latest", "sku": "16.04-LTS",
      "offer": "UbuntuServer", "publisher": "Canonical"}}}, "apiVersion": "2017-12-01",
      "tags": {}, "name": "cli-test-vm000002"}]}, "mode": "Incremental"}}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Resources/deployments/vm_deploy_6RgfgUt3xX7a2SbU2QA7nV8VuMLTaWo0","name":"vm_deploy_6RgfgUt3xX7a2SbU2QA7nV8VuMLTaWo0","properties":{"templateHash":"10418218024692177998","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-12-19T04:36:09.0768657Z","duration":"PT0.4751712S","correlationId":"136976ef-dd1b-42a8-947b-4fd949ebf163","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"cli-test-vm000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"cli-test-vm000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP","resourceType":"Microsoft.Ne[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586879487168759504?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Resources/deployments/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002?api-version=2017-12-01&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"d77e50eb-6aa8-40e0-9481-db32b822fac4\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"osdisk_ec72a24818\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstorageec72a24818eb77.blob.core.windows.net/vhds/osdisk_ec72a24818.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"cli-test-vm000002\",\r\n      \"adminUsername\"\
        : \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"computerName\": \"cli-test-vm000002\",\r\n      \"osName\"\
        : \"ubuntu\",\r\n      \"osVersion\": \"16.04\",\r\n      \"vmAgent\": {\r\
        \n        \"vmAgentVersion\": \"2.2.19\",\r\n        \"statuses\": [\r\n \
        \         {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n\
        \            \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\"\
        ,\r\n            \"message\": \"Guest Agent is running\",\r\n            \"\
        time\": \"2017-12-19T04:38:41+00:00\"\r\n          }\r\n        ],\r\n   \
        \     \"extensionHandlers\": []\r\n      },\r\n      \"disks\": [\r\n    \
        \    {\r\n          \"name\": \"osdisk_ec72a24818\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2017-12-19T04:36:37.6788579+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\"\
        : [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\
        \n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2017-12-19T04:38:27.0382083+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002\"\
        ,\r\n  \"name\": \"cli-test-vm000002\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4950,Microsoft.Compute/LowCostGet30Min;39737']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-vm000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"2fa9d519-8648-4c37-9a76-3650415f0a1c\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"acac7047-1e12-44f6-8d75-ed5490183d2d\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigcli-test-vm000002\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic/ipConfigurations/ipconfigcli-test-vm000002\"\
        ,\r\n        \"etag\": \"W/\\\"2fa9d519-8648-4c37-9a76-3650415f0a1c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm000002VNET/subnets/cli-test-vm000002Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"wtdmfi3l133u1lrdtkbaz33tyh.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-30-E1-B7\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002\"\
        \r\n    },\r\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2fa9d519-8648-4c37-9a76-3650415f0a1c"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-vm000002PublicIP\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"84da9aa6-06e1-4590-b1f4-9a63e657366e\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"08ddf9e7-1b9c-47c2-90f0-75e448faa8d5\"\
        ,\r\n    \"ipAddress\": \"104.42.137.57\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_invoke_action000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic/ipConfigurations/ipconfigcli-test-vm000002\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"84da9aa6-06e1-4590-b1f4-9a63e657366e"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute","namespace":"Microsoft.Compute","authorization":{"applicationId":"60e6cd67-9c8c-4951-9b3c-23c25a2169af","roleDefinitionId":"e4770acb-272e-4dc8-87f3-12f44a612224"},"resourceTypes":[{"resourceType":"availabilitySets","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast","Brazil South","South India","Central India","West
        India","Canada Central","Canada East","West US 2","West Central US","UK South","UK
        West","Korea Central","Korea South","East US 2 EUAP","Central US EUAP"],"apiVersions":["2017-12-01","2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"virtualMachines","locations":["East
        US","West US","North Central US","South Central US","East Asia","Southeast
        Asia","Japan East","Japan West","Australia East","Australia Southeast","Brazil
        South","South India","Central India","West India","Canada Central","Canada
        East","West US 2","West Central US","UK South","UK West","Korea Central","Korea
        South","East US 2 EUAP","Central US EUAP","Central US","East US 2","West Europe","North
        Europe"],"apiVersions":["2017-12-01","2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"zoneMappings":[{"location":"East
        US 2","zones":["1","2","3"]},{"location":"Central US","zones":["1","2","3"]},{"location":"West
        Europe","zones":["1","2","3"]},{"location":"East US 2 EUAP","zones":["1","2","3"]},{"location":"Central
        US EUAP","zones":["1","2"]}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"},{"resourceType":"virtualMachines/extensions","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002/powerOff?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/2ef114f0-8de7-4b42-806e-27c7d78e20b9?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/2ef114f0-8de7-4b42-806e-27c7d78e20b9?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVM3Min;291,Microsoft.Compute/DeleteVM30Min;1458']
      x-ms-ratelimit-remaining-subscription-writes: ['1190']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/2ef114f0-8de7-4b42-806e-27c7d78e20b9?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-19T04:38:44.2100844+00:00\",\r\
        \n  \"endTime\": \"2017-12-19T04:38:56.819454+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"2ef114f0-8de7-4b42-806e-27c7d78e20b9\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;2038,Microsoft.Compute/GetOperation30Min;17017']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002/generalize?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVM3Min;290,Microsoft.Compute/DeleteVM30Min;1457']
      x-ms-ratelimit-remaining-subscription-writes: ['1179']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002/deallocate?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f73cfddb-58fb-4c4c-a15c-bfbc508ee3f9?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f73cfddb-58fb-4c4c-a15c-bfbc508ee3f9?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVM3Min;289,Microsoft.Compute/DeleteVM30Min;1456']
      x-ms-ratelimit-remaining-subscription-writes: ['1159']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"destinationContainerName": "container", "overwriteVhds": "true", "vhdPrefix":
      "myPrefix"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_invoke_action000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002/capture?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/1200a1fc-e4a6-4758-a42c-235acfdbe207?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/1200a1fc-e4a6-4758-a42c-235acfdbe207?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/CreateUpdateVM3Min;298,Microsoft.Compute/CreateUpdateVM30Min;1453']
      x-ms-ratelimit-remaining-subscription-writes: ['1173']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/1200a1fc-e4a6-4758-a42c-235acfdbe207?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-19T04:41:24.650662+00:00\",\r\n\
        \  \"endTime\": \"2017-12-19T04:41:24.9006483+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"$schema\":\"http://schema.management.azure.com/schemas/2014-04-01-preview/VM_IP.json\"\
        ,\"contentVersion\":\"1.0.0.0\",\"parameters\":{\"vmName\":{\"type\":\"string\"\
        },\"vmSize\":{\"type\":\"string\",\"defaultValue\":\"Standard_DS1_v2\"},\"\
        adminUserName\":{\"type\":\"string\"},\"adminPassword\":{\"type\":\"securestring\"\
        },\"networkInterfaceId\":{\"type\":\"string\"}},\"resources\":[{\"apiVersion\"\
        :\"2017-12-01\",\"properties\":{\"hardwareProfile\":{\"vmSize\":\"[parameters('vmSize')]\"\
        },\"storageProfile\":{\"osDisk\":{\"osType\":\"Linux\",\"name\":\"myPrefix-osDisk.d77e50eb-6aa8-40e0-9481-db32b822fac4.vhd\"\
        ,\"createOption\":\"FromImage\",\"image\":{\"uri\":\"https://vhdstorageec72a24818eb77.blob.core.windows.net/system/Microsoft.Compute/Images/container/myPrefix-osDisk.d77e50eb-6aa8-40e0-9481-db32b822fac4.vhd\"\
[...]
