interactions:
- request:
    body: 'b''{"name": "cli-test-lock000001", "properties": {"level": "ReadOnly"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001?api-version=2016-09-01
  response:
    body: {string: '{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001","type":"Microsoft.Authorization/locks","name":"cli-test-lock000001"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks?api-version=2016-09-01
  response:
    body: {string: '{"value":[{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001","type":"Microsoft.Authorization/locks","name":"cli-test-lock000001"},{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lockrcpkcaneksxzcvjtqmrvj7vd4cf3mpwybe4","type":"Microsoft.Authorization/locks","name":"cli-test-lockrcpkcaneksxzcvjtqmrvj7vd4cf3mpwybe4"},{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_readonly_resource_group_lockyg55mqk35gnyugailubkgryitidvrczwp5xsvj/providers/Microsoft.Authorization/locks/cli-test-lockmirbpraflhwmjkhcbmpimd2vlzjrcvkrnkp","type":"Microsoft.Authorization/locks","name":"cli-test-lockmirbpraflhwmjkhcbmpimd2vlzjrcvkrnkp"},{"properties":{"level":"CanNotDelete"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cannotdelete_resource_group_lockshyn6vu4ouyymz7cn6eqcj3hngarh6ahhn/providers/Microsoft.Authorization/locks/cli-test-lockxljkeaunujkjx3ymbsgexg36nnd3cabthkl","type":"Microsoft.Authorization/locks","name":"cli-test-lockxljkeaunujkjx3ymbsgexg36nnd3cabthkl"},{"properties":{"level":"CanNotDelete","notes":""},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw2/providers/Microsoft.Authorization/locks/nodel","type":"Microsoft.Authorization/locks","name":"nodel"},{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_readonly_resource_lockgtrguxbytxj6d2mvdjo6pca5scgafx55no2tafhh77tg/providers/Microsoft.Network/virtualNetworks/cli.lock.rsrchjnwouiiaquvdi7js/providers/Microsoft.Authorization/locks/cli-test-lock[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000003?api-version=2016-09-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
version: 1
