interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks?api-version=2016-09-01
  response:
    body: {string: '{"value":[{"properties":{"level":"CanNotDelete","notes":""},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangwe/providers/Microsoft.Authorization/locks/nod","type":"Microsoft.Authorization/locks","name":"nod"},{"properties":{"level":"CanNotDelete","notes":"keep
        RG but allow deletes."},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-test/providers/Microsoft.Network/virtualNetworks/vnet1/providers/Microsoft.Authorization/locks/vnetlock","type":"Microsoft.Authorization/locks","name":"vnetlock"},{"properties":{"level":"CanNotDelete","notes":"please
        keep"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test/providers/Microsof[...]
