interactions:
- request:
    body: '{"location": "eastus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_delete_dependent_resources000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001","name":"cli_test_delete_dependent_resources000001","location":"eastus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1147']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['40']
      x-fastly-request-id: [fef1143f95c664085e7d4f426b405f209d831c2d]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "cli-test-vm000002VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "eastus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {"cli-test-tag000003":
      ""}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "cli-test-vm000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"type": "Microsoft.Network/networkSecurityGroups", "name": "cli-test-vm000002NSG",
      "apiVersion": "2015-06-15", "location": "eastus", "tags": {"cli-test-tag000003":
      ""}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"apiVersion": "2017-09-01",
      "type": "Microsoft.Network/publicIPAddresses", "name": "cli-test-vm000002PublicIP",
      "location": "eastus", "tags": {"cli-test-tag000003": ""}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "dynamic"}}, {"apiVersion": "2015-06-15", "type":
      "Microsoft.Network/networkInterfaces", "name": "cli-test-vm000002VMNic", "location":
      "eastus", "tags": {"cli-test-tag000003": ""}, "dependsOn": ["Microsoft.Network/virtualNetworks/cli-test-vm000002VNET",
      "Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG", "Microsoft.Network/publicIpAddresses/cli-test-vm000002PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigcli-test-vm000002", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm000002VNET/subnets/cli-test-vm000002Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG"}}},
      {"apiVersion": "2017-03-30", "type": "Microsoft.Compute/virtualMachines", "name":
      "cli-test-vm000002", "location": "eastus", "tags": {"cli-test-tag000003": ""},
      "dependsOn": ["Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      null, "managedDisk": {"storageAccountType": null}}, "imageReference": {"publisher":
      "Canonical", "offer": "UbuntuServer", "sku": "16.04-LTS", "version": "latest"}},
      "osProfile": {"computerName": "cli-test-vm000002", "adminUsername": "ubuntu",
      "adminPassword": "Password#1000004"}}}], "outputs": {}}, "parameters": {}, "mode":
      "Incremental"}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Resources/deployments/vm_deploy_hfJUJK085CjPMI0m0jlm82eGXQdBGmdl","name":"vm_deploy_hfJUJK085CjPMI0m0jlm82eGXQdBGmdl","properties":{"templateHash":"13420138099135834048","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-09-27T00:00:11.9062497Z","duration":"PT1.4510638S","correlationId":"0cbea5ef-d584-46b5-a1c4-3f586860a730","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus"]},{"resourceType":"networkSecurityGroups","locations":["eastus"]},{"resourceType":"publicIPAddresses","locations":["eastus"]},{"resourceType":"networkInterfaces","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"cli-test-vm000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"cli-test-vm000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"cli-test-vm000002PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"cli-test-vm000002VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"cli-test-vm000002VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"cli-test-vm000002"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Resources/deployments/vm_deploy_hfJUJK085CjPMI0m0jlm82eGXQdBGmdl/operationStatuses/08586951364750224528?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1137']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586951364750224528?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002?$expand=instanceView&api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"ce24bd9c-6096-4bdb-9da9-c029b883f6c8\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"cli-test-vm000002_OsDisk_1_8b43817a7c954cc692b74ef944fb0c04\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/disks/cli-test-vm000002_OsDisk_1_8b43817a7c954cc692b74ef944fb0c04\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"cli-test-vm000002\"\
        ,\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.17\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
        \       \"time\": \"2017-09-27T00:02:16+00:00\"\r\n          }\r\n       \
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"cli-test-vm000002_OsDisk_1_8b43817a7c954cc692b74ef944fb0c04\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2017-09-27T00:00:39.3828124+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-vm000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"b3bbcc16-3794-46db-a081-02ff1be8b6b0\\\"\",\r\n \
        \ \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"cli-test-tag000003\"\
        : \"\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"a38e8481-8e80-4964-8b00-2efa2950be9b\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigcli-test-vm000002\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic/ipConfigurations/ipconfigcli-test-vm000002\"\
        ,\r\n        \"etag\": \"W/\\\"b3bbcc16-3794-46db-a081-02ff1be8b6b0\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm000002VNET/subnets/cli-test-vm000002Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"qzgfqlnvoktu5cdqhlp3lqwfuh.bx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-10-F4-BB\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"b3bbcc16-3794-46db-a081-02ff1be8b6b0"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-vm000002PublicIP\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm000002PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"11522818-0d22-40d0-a696-99297cf602b2\\\"\",\r\n \
        \ \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"cli-test-tag000003\"\
        : \"\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"1912403a-d4d3-48cf-b387-da66b81b6066\",\r\n \
        \   \"ipAddress\": \"13.82.24.65\",\r\n    \"publicIPAddressVersion\": \"\
        IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic/ipConfigurations/ipconfigcli-test-vm000002\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"11522818-0d22-40d0-a696-99297cf602b2"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test-tag000003%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DELETE_DEPENDENT_RESOURCESS63J3GXC6M53U4R34CGZQYVRTWLJ6WGRXC3WB42F/providers/Microsoft.Compute/disks/cli-test-vm000002_OsDisk_1_8b43817a7c954cc692b74ef944fb0c04","name":"cli-test-vm000002_OsDisk_1_8b43817a7c954cc692b74ef944fb0c04","type":"Microsoft.Compute/disks","sku":{"name":"Premium_LRS","tier":"Premium"},"managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002","location":"eastus"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002","name":"cli-test-vm000002","type":"Microsoft.Compute/virtualMachines","location":"eastus"},{"id":"/subscriptions/00000000-0000-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute","namespace":"Microsoft.Compute","authorization":{"applicationId":"60e6cd67-9c8c-4951-9b3c-23c25a2169af","roleDefinitionId":"e4770acb-272e-4dc8-87f3-12f44a612224"},"resourceTypes":[{"resourceType":"availabilitySets","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast","Brazil South","South India","Central India","West
        India","Canada Central","Canada East","West US 2","West Central US","UK South","UK
        West","Korea Central","Korea South","East US 2 EUAP","Central US EUAP"],"apiVersions":["2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"virtualMachines","locations":["East
        US","West US","North Central US","South Central US","North Europe","East Asia","Southeast
        Asia","Japan East","Japan West","Australia East","Australia Southeast","Brazil
        South","South India","Central India","West India","Canada Central","Canada
        East","West US 2","West Central US","UK South","UK West","Korea Central","Korea
        South","East US 2 EUAP","Central US EUAP","Central US","East US 2","West Europe"],"apiVersions":["2017-03-30","2016-08-30","2016-04-30-preview","2016-03-30","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-30"}],"zoneMappings":[{"location":"East
        US 2","zones":["1","2","3"]},{"location":"Central US","zones":["1","2","3"]},{"location":"West
        Europe","zones":["1","2","3"]},{"location":"East US 2 EUAP","zones":["1","2","3"]},{"location":"Central
        US EUAP","zones":["1","2"]}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"},{"resourceType":"virtualMachines/extensions","locations":["East
        US","East US 2","West US","Central US","North Central US","South Central US","[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"}],"resourceTypes":[{"resourceType":"virt[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/CLI_TEST_DELETE_DEPENDENT_RESOURCESS63J3GXC6M53U4R34CGZQYVRTWLJ6WGRXC3WB42F/providers/Microsoft.Compute/disks/cli-test-vm000002_OsDisk_1_8b43817a7c954cc692b74ef944fb0c04?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"OperationNotAllowed\",\r\
        \n    \"message\": \"Disk cli-test-vm000002_OsDisk_1_8b43817a7c954cc692b74ef944fb0c04\
        \ is attached to VM /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002.\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1145']
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/7b8a1761-0aa2-42d7-96b8-134673319d7d?api-version=2017-03-30']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/7b8a1761-0aa2-42d7-96b8-134673319d7d?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1144']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"NicInUse\",\r\n    \"message\"\
        : \"Network Interface /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic\
        \ is used by existing VM /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm000002.\"\
        ,\r\n    \"details\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1166']
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"InUseNetworkSecurityGroupCannotBeDeleted\"\
        ,\r\n    \"message\": \"Network security group /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm000002NSG\
        \ cannot be deleted because it is in use by the following resources: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_delete_dependent_resources000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm000002VMNic.\"\
        ,\r\n    \"details\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1146']
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
[...]
