{
  "swagger": "2.0",
  "info": {
    "title": "VMCreationClient",
    "version": "2015-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}": {
      "put": {
        "tags": [
          "VM"
        ],
        "operationId": "VM_CreateOrUpdate",
        "description": "Create or update a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deployment.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "x-ms-client-flatten": true,
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment_VM"
            },
            "description": "Additional parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Deployment_VM": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties_VM",
          "description": "Gets or sets the deployment properties.",
          "x-ms-client-flatten": true
        }
      },
      "description": "Deployment operation parameters."
    },
    "DeploymentProperties_VM": {
      "properties": {
        "templateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink.",
          "x-ms-client-flatten": true
        },
        "parameters": {
          "$ref": "#/definitions/VMParameters",
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
          "x-ms-client-flatten": true
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "required": [
        "templateLink",
        "parameters",
        "mode"
      ],
      "description": "Deployment properties."
    },
    "TemplateLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template.",
          "enum": [
            "https://azuresdkci.blob.core.windows.net/templatehost/CreateVM/azuredeploy.json"
          ]
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the template."
    },
    "VMParameters": {

      "properties": {
        "storageContainerName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_storageContainerName",
          "x-ms-client-flatten": true
        },
        "virtualNetworkName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_virtualNetworkName",
          "x-ms-client-flatten": true
        },
        "subnetIpAddressPrefix": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_subnetIpAddressPrefix",
          "x-ms-client-flatten": true
        },
        "privateIpAddressAllocation": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_privateIpAddressAllocation",
          "x-ms-client-flatten": true
        },
        "dnsNameForPublicIP": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_dnsNameForPublicIP",
          "x-ms-client-flatten": true
        },
        "storageAccountType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_storageAccountType",
          "x-ms-client-flatten": true
        },
        "osDiskUri": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osDiskUri",
          "x-ms-client-flatten": true
        },
        "_artifactsLocation": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter__artifactsLocation"
        },
        "name": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_name",
          "x-ms-client-flatten": true
        },
        "virtualNetworkType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_virtualNetworkType",
          "x-ms-client-flatten": true
        },
        "adminPassword": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_adminPassword",
          "x-ms-client-flatten": true
        },
        "osSKU": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osSKU",
          "x-ms-client-flatten": true
        },
        "subnetName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_subnetName",
          "x-ms-client-flatten": true
        },
        "osType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osType",
          "x-ms-client-flatten": true
        },
        "adminUsername": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_adminUsername",
          "x-ms-client-flatten": true
        },
        "osVersion": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osVersion",
          "x-ms-client-flatten": true
        },
        "osDiskName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osDiskName",
          "x-ms-client-flatten": true
        },
        "sshKeyPath": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_sshKeyPath",
          "x-ms-client-flatten": true
        },
        "osOffer": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osOffer",
          "x-ms-client-flatten": true
        },
        "publicIpAddressAllocation": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddressAllocation",
          "x-ms-client-flatten": true
        },
        "authenticationType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_authenticationType",
          "x-ms-client-flatten": true
        },
        "storageAccountName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_storageAccountName",
          "x-ms-client-flatten": true
        },
        "storageRedundancyType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_storageRedundancyType",
          "x-ms-client-flatten": true
        },
        "size": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_size",
          "x-ms-client-flatten": true
        },
        "publicIpAddressType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddressType",
          "x-ms-client-flatten": true
        },
        "virtualNetworkIpAddressPrefix": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_virtualNetworkIpAddressPrefix",
          "x-ms-client-flatten": true
        },
        "availabilitySetId": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_availabilitySetId",
          "x-ms-client-flatten": true
        },
        "sshKeyValue": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_sshKeyValue",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_location",
          "x-ms-client-flatten": true
        },
        "osPublisher": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osPublisher",
          "x-ms-client-flatten": true
        },
        "availabilitySetType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_availabilitySetType",
          "x-ms-client-flatten": true
        },
        "publicIpAddressName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddressName",
          "x-ms-client-flatten": true
        },
        "dnsNameType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_dnsNameType",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "adminUsername",
        "virtualMachineName"
      ]
    },
    "DeploymentParameter_storageContainerName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of storage container for the VM OS disk.",
          "x-ms-client-name": "storageContainerName"
        }
      }
    },
    "DeploymentParameter_virtualNetworkName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of virtual network to add VM to.",
          "x-ms-client-name": "virtualNetworkName"
        }
      }
    },
    "DeploymentParameter_subnetIpAddressPrefix": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The subnet address type.",
          "x-ms-client-name": "subnetIpAddressPrefix"
        }
      }
    },
    "DeploymentParameter_privateIpAddressAllocation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Dynamic of Static private IP address allocation.",
          "x-ms-client-name": "privateIpAddressAllocation"
        }
      }
    },
    "DeploymentParameter_dnsNameForPublicIP": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Globally unique DNS Name for the Public IP used to access the Virtual Machine.",
          "x-ms-client-name": "dnsNameForPublicIP"
        }
      }
    },
    "DeploymentParameter_storageAccountType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Whether to use an existing storage account or create a new one.",
          "x-ms-client-name": "storageAccountType"
        }
      }
    },
    "DeploymentParameter_osDiskUri": {
      "properties": {
        "value": {
          "type": "string",
          "description": "URI for a custom VHD image.",
          "x-ms-client-name": "osDiskUri"
        }
      }
    },
    "DeploymentParameter__artifactsLocation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Container URI of of the template.",
          "enum": [
            "https://azuresdkci.blob.core.windows.net/templatehost/CreateVM"
          ]
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_name": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The VM resource name.",
          "x-ms-client-name": "name"
        }
      },
      "required": [
        "value"
      ]

    },
    "DeploymentParameter_virtualNetworkType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Whether to use an existing VNet or create a new one.",
          "x-ms-client-name": "virtualNetworkType"
        }
      }
    },
    "DeploymentParameter_adminPassword": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Password for the Virtual Machine.  Required if SSH (Linux only) is not specified.",
          "x-ms-client-name": "adminPassword"
        }
      }
    },
    "DeploymentParameter_osSKU": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS SKU to install.",
          "x-ms-client-name": "osSKU"
        }
      }
    },
    "DeploymentParameter_subnetName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The subnet name.",
          "x-ms-client-name": "subnetName"
        }
      }
    },
    "DeploymentParameter_osType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Common OS choices.  Choose 'Custom' to specify an image with the osPublisher, osOffer, osSKU, and osVersion parameters.",
          "x-ms-client-name": "osType"
        }
      }
    },
    "DeploymentParameter_adminUsername": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Username for the Virtual Machine.",
          "x-ms-client-name": "adminUsername"
        }
      },
      "required": [
        "value"
      ]

    },
    "DeploymentParameter_osVersion": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS version to install.",
          "x-ms-client-name": "osVersion"
        }
      }
    },
    "DeploymentParameter_osDiskName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of new VM OS disk.",
          "x-ms-client-name": "osDiskName"
        }
      }
    },
    "DeploymentParameter_sshKeyPath": {
      "properties": {
        "value": {
          "type": "string",
          "description": "VM file path for SSH key.",
          "x-ms-client-name": "sshKeyPath"
        }
      }
    },
    "DeploymentParameter_osOffer": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS Offer to install.",
          "x-ms-client-name": "osOffer"
        }
      }
    },
    "DeploymentParameter_publicIpAddressAllocation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Dynamic or Static public IP address allocation.",
          "x-ms-client-name": "publicIpAddressAllocation"
        }
      }
    },
    "DeploymentParameter_authenticationType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Authentication method: password-only or add ssh-keys (Linux-only).",
          "x-ms-client-name": "authenticationType"
        }
      }
    },
    "DeploymentParameter_storageAccountName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of storage account for the VM OS disk.",
          "x-ms-client-name": "storageAccountName"
        }
      }
    },
    "DeploymentParameter_storageRedundancyType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The VM storage type.",
          "x-ms-client-name": "storageRedundancyType"
        }
      }
    },
    "DeploymentParameter_size": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The VM Size that should be created  (e.g. Standard_A2)",
          "x-ms-client-name": "size"
        }
      }
    },
    "DeploymentParameter_publicIpAddressType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Use a public IP Address for the VM Nic. (new, existing or none).",
          "x-ms-client-name": "publicIpAddressType"
        }
      }
    },
    "DeploymentParameter_virtualNetworkIpAddressPrefix": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The IP address prefix.",
          "x-ms-client-name": "virtualNetworkIpAddressPrefix"
        }
      }
    },
    "DeploymentParameter_availabilitySetId": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Existing availability set for the VM.",
          "x-ms-client-name": "availabilitySetId"
        }
      }
    },
    "DeploymentParameter_sshKeyValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "SSH key file data.",
          "x-ms-client-name": "sshKeyValue"
        }
      }
    },
    "DeploymentParameter_location": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Location for VM resources.",
          "x-ms-client-name": "location"
        }
      }
    },
    "DeploymentParameter_osPublisher": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS publisher of the OS image.",
          "x-ms-client-name": "osPublisher"
        }
      }
    },
    "DeploymentParameter_availabilitySetType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Flag to add the VM to an existing availability set.",
          "x-ms-client-name": "availabilitySetType"
        }
      }
    },
    "DeploymentParameter_publicIpAddressName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of public IP address to use.",
          "x-ms-client-name": "publicIpAddressName"
        }
      }
    },
    "DeploymentParameter_dnsNameType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Associate VMs with a public IP address to a DNS name (new or none).",
          "x-ms-client-name": "dnsNameType"
        }
      }
    },
    "ParametersLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the deployment paramaters."
    },
    "ProviderResourceType": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the resource type."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the collection of locations where this resource type can be created in."
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the api version."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the properties."
        }
      },
      "description": "Resource type managed by the resource provider."
    },
    "Provider": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the provider id."
        },
        "namespace": {
          "type": "string",
          "description": "Gets or sets the namespace of the provider."
        },
        "registrationState": {
          "type": "string",
          "description": "Gets or sets the registration state of the provider."
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "description": "Gets or sets the collection of provider resource types."
        }
      },
      "description": "Resource provider information."
    },
    "BasicDependency": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "Dependency": {
      "properties": {
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicDependency"
          },
          "description": "Gets the list of dependencies."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "DeploymentPropertiesExtended": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the state of the provisioning."
        },
        "correlationId": {
          "type": "string",
          "description": "Gets or sets the correlation ID of the deployment."
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the timestamp of the template deployment."
        },
        "outputs": {
          "type": "object",
          "description": "Gets or sets key/value pairs that represent deploymentoutput."
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "description": "Gets the list of resource providers needed for the deployment."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          },
          "description": "Gets the list of deployment dependencies."
        },
        "template": {
          "type": "object",
          "description": "Gets or sets the template content. Use only one of Template or TemplateLink."
        },
        "TemplateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink."
        },
        "parameters": {
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink."
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink",
          "description": "Gets or sets the URI referencing the parameters. Use only one of Parameters or ParametersLink."
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "description": "Deployment properties with additional details."
    },
    "DeploymentExtended": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the deployment."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the deployment."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "Gets or sets deployment properties."
        }
      },
      "required": [
        "name"
      ],
      "description": "Deployment information."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
