{
  "swagger": "2.0",
  "info": {
    "title": "ResourceManagementClient",
    "version": "2015-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}": {
      "put": {
        "tags": [
          "VM"
        ],
        "operationId": "VM_CreateOrUpdate",
        "description": "Create a named template deployment using a template.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deployment.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "x-ms-client-flatten": true,
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment_VM"
            },
            "description": "Additional parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Deployment_VM": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties_VM",
          "description": "Gets or sets the deployment properties.",
          "x-ms-client-flatten": true
        }
      },
      "description": "Deployment operation parameters."
    },
    "DeploymentProperties_VM": {
      "properties": {
        "templateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink.",
          "x-ms-client-flatten": true
        },
        "parameters": {
          "$ref": "#/definitions/VMParameters",
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
          "x-ms-client-flatten": true
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "required": [
        "templateLink",
        "parameters",
        "mode"
      ],
      "description": "Deployment properties."
    },
    "TemplateLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template.",
          "enum": [
            "https://azuretemplatehost.blob.core.windows.net/templatehost/CreateVM/azuredeploy.json"
          ]
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the template."
    },
    "VMParameters": {
      "properties": {
        "osPublisher": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osPublisher",
          "x-ms-client-flatten": true
        },
        "adminPassword": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_adminPassword",
          "x-ms-client-flatten": true
        },
        "ipAddressType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_ipAddressType",
          "x-ms-client-flatten": true
        },
        "storageType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_storageType",
          "x-ms-client-flatten": true
        },
        "size": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_size",
          "x-ms-client-flatten": true
        },
        "adminUsername": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_adminUsername",
          "x-ms-client-flatten": true
        },
        "dnsNameForPublicIP": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_dnsNameForPublicIP",
          "x-ms-client-flatten": true
        },
        "ipAddressPrefix": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_ipAddressPrefix",
          "x-ms-client-flatten": true
        },
        "virtualMachineName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_virtualMachineName",
          "x-ms-client-flatten": true
        },
        "subnetPrefix": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_subnetPrefix",
          "x-ms-client-flatten": true
        },
        "osSKU": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osSKU",
          "x-ms-client-flatten": true
        },
        "osOffer": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osOffer",
          "x-ms-client-flatten": true
        },
        "osVersion": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_osVersion",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "adminPassword",
        "adminUsername",
        "dnsNameForPublicIP",
        "virtualMachineName"
      ]
    },
    "DeploymentParameter_ipAddressType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Dynamic or Static IP address allocation."
        }
      }
    },
    "DeploymentParameter_osOffer": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS Offer to install."
        }
      }
    },
    "DeploymentParameter_adminUsername": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Username for the Virtual Machine."
        }
      }
    },
    "DeploymentParameter_virtualMachineName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The VM name that is displayed in the portal."
        }
      }
    },
    "DeploymentParameter_adminPassword": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Password for the Virtual Machine."
        }
      }
    },
    "DeploymentParameter_osSKU": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS SKU to install."
        }
      }
    },
    "DeploymentParameter_osPublisher": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS publisher of the OS image."
        }
      }
    },
    "DeploymentParameter_storageType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The VM storage type."
        }
      }
    },
    "DeploymentParameter_osVersion": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The OS version to install."
        }
      }
    },
    "DeploymentParameter_subnetPrefix": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The subnet address type."
        }
      }
    },
    "DeploymentParameter_dnsNameForPublicIP": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Globally unique DNS Name for the Public IP used to access the Virtual Machine."
        }
      }
    },
    "DeploymentParameter_ipAddressPrefix": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The IP address prefix."
        }
      }
    },
    "DeploymentParameter_size": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The VM Size that should be created."
        }
      }
    },
    "ParametersLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the deployment paramaters."
    },
    "ProviderResourceType": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the resource type."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the collection of locations where this resource type can be created in."
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the api version."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the properties."
        }
      },
      "description": "Resource type managed by the resource provider."
    },
    "Provider": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the provider id."
        },
        "namespace": {
          "type": "string",
          "description": "Gets or sets the namespace of the provider."
        },
        "registrationState": {
          "type": "string",
          "description": "Gets or sets the registration state of the provider."
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "description": "Gets or sets the collection of provider resource types."
        }
      },
      "description": "Resource provider information."
    },
    "BasicDependency": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "Dependency": {
      "properties": {
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicDependency"
          },
          "description": "Gets the list of dependencies."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "DeploymentPropertiesExtended": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the state of the provisioning."
        },
        "correlationId": {
          "type": "string",
          "description": "Gets or sets the correlation ID of the deployment."
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the timestamp of the template deployment."
        },
        "outputs": {
          "type": "object",
          "description": "Gets or sets key/value pairs that represent deploymentoutput."
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "description": "Gets the list of resource providers needed for the deployment."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          },
          "description": "Gets the list of deployment dependencies."
        },
        "template": {
          "type": "object",
          "description": "Gets or sets the template content. Use only one of Template or TemplateLink."
        },
        "TemplateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink."
        },
        "parameters": {
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink."
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink",
          "description": "Gets or sets the URI referencing the parameters. Use only one of Parameters or ParametersLink."
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "description": "Deployment properties with additional details."
    },
    "DeploymentExtended": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the deployment."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the deployment."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "Gets or sets deployment properties."
        }
      },
      "required": [
        "name"
      ],
      "description": "Deployment information."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
