interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone_import_export000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001","name":"cli_dns_zone_import_export000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com","name":"zone1.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-6138-3fd3b190d301","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":5000,"nameServers":["ns1-07.azure-dns.com.","ns2-07.azure-dns.net.","ns3-07.azure-dns.org.","ns4-07.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [00000002-0000-0000-6138-3fd3b190d301]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/SOA/@?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"66e24186-8a50-464b-bd0c-82e7f3922042","properties":{"fqdn":"zone1.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-07.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [66e24186-8a50-464b-bd0c-82e7f3922042]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/NS/@?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"89820cff-ef13-4305-a0f7-2f32649f5dce","properties":{"fqdn":"zone1.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-07.azure-dns.com."},{"nsdname":"ns2-07.azure-dns.net."},{"nsdname":"ns3-07.azure-dns.org."},{"nsdname":"ns4-07.azure-dns.info."}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [89820cff-ef13-4305-a0f7-2f32649f5dce]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns.contoso.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/NS/myns.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/NS\/myns.zone1.com","name":"myns.zone1.com","type":"Microsoft.Network\/dnszones\/NS","etag":"26de1822-2b31-4460-94b2-72e31606990a","properties":{"fqdn":"myns.zone1.com.zone1.com.","TTL":3600,"NSRecords":[{"nsdname":"ns.contoso.com."}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [26de1822-2b31-4460-94b2-72e31606990a]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 1, "exchange":
      "mail.contoso.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/MX/mymx.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/MX\/mymx.zone1.com","name":"mymx.zone1.com","type":"Microsoft.Network\/dnszones\/MX","etag":"d63d6e6d-00b8-4203-bddf-6127c51f6972","properties":{"fqdn":"mymx.zone1.com.zone1.com.","TTL":3600,"MXRecords":[{"exchange":"mail.contoso.com.","preference":1}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [d63d6e6d-00b8-4203-bddf-6127c51f6972]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "10.0.0.10"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/A/manuala.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/A\/manuala.zone1.com","name":"manuala.zone1.com","type":"Microsoft.Network\/dnszones\/A","etag":"85f35f8d-a4fd-4ec6-849b-d0f6f3f07fda","properties":{"fqdn":"manuala.zone1.com.zone1.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [85f35f8d-a4fd-4ec6-849b-d0f6f3f07fda]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 0, "ARecords": [{"ipv4Address": "10.0.1.0"}, {"ipv4Address":
      "10.0.1.1"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/A/mya.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/A\/mya.zone1.com","name":"mya.zone1.com","type":"Microsoft.Network\/dnszones\/A","etag":"90ca152f-70f1-451e-9794-f3f58fde52a8","properties":{"fqdn":"mya.zone1.com.zone1.com.","TTL":0,"ARecords":[{"ipv4Address":"10.0.1.0"},{"ipv4Address":"10.0.1.1"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [90ca152f-70f1-451e-9794-f3f58fde52a8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "AAAARecords": [{"ipv6Address": "2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/AAAA/myaaaa.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/AAAA\/myaaaa.zone1.com","name":"myaaaa.zone1.com","type":"Microsoft.Network\/dnszones\/AAAA","etag":"fca254fc-5c5a-4f4d-86a9-e68e41df25f8","properties":{"fqdn":"myaaaa.zone1.com.zone1.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [fca254fc-5c5a-4f4d-86a9-e68e41df25f8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "contoso.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/CNAME/mycname.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/CNAME\/mycname.zone1.com","name":"mycname.zone1.com","type":"Microsoft.Network\/dnszones\/CNAME","etag":"6de2690e-82ce-4d5a-97d2-e96b4479d796","properties":{"fqdn":"mycname.zone1.com.zone1.com.","TTL":3600,"CNAMERecord":{"cname":"contoso.com."}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [6de2690e-82ce-4d5a-97d2-e96b4479d796]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "myptrdname"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/PTR/myname.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/PTR\/myname.zone1.com","name":"myname.zone1.com","type":"Microsoft.Network\/dnszones\/PTR","etag":"0551f6d0-8314-4176-a2bf-e58a98dee173","properties":{"fqdn":"myname.zone1.com.zone1.com.","TTL":3600,"PTRRecords":[{"ptrdname":"myptrdname"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [0551f6d0-8314-4176-a2bf-e58a98dee173]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "contoso.com"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/PTR/myptr.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/PTR\/myptr.zone1.com","name":"myptr.zone1.com","type":"Microsoft.Network\/dnszones\/PTR","etag":"19bf71cb-dc53-422a-86ff-9f6af1ce674a","properties":{"fqdn":"myptr.zone1.com.zone1.com.","TTL":3600,"PTRRecords":[{"ptrdname":"contoso.com"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [19bf71cb-dc53-422a-86ff-9f6af1ce674a]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["manualtxt"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/TXT/myname2.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/TXT\/myname2.zone1.com","name":"myname2.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"0278b9a9-b6be-40ec-84df-18a7e4c9dc4a","properties":{"fqdn":"myname2.zone1.com.zone1.com.","TTL":3600,"TXTRecords":[{"value":["manualtxt"]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [0278b9a9-b6be-40ec-84df-18a7e4c9dc4a]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 7200, "TXTRecords": [{"value": ["abc def"]}, {"value":
      ["foo bar"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/TXT/mytxt2.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/TXT\/mytxt2.zone1.com","name":"mytxt2.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"cfc4357d-001d-4004-93ec-c5c51cef391c","properties":{"fqdn":"mytxt2.zone1.com.zone1.com.","TTL":7200,"TXTRecords":[{"value":["abc
        def"]},{"value":["foo bar"]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [cfc4357d-001d-4004-93ec-c5c51cef391c]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["hi"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/TXT/mytxtrs.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/TXT\/mytxtrs.zone1.com","name":"mytxtrs.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"5e7148ee-e5ba-4d17-96e0-42bf15f3065c","properties":{"fqdn":"mytxtrs.zone1.com.zone1.com.","TTL":3600,"TXTRecords":[{"value":["hi"]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [5e7148ee-e5ba-4d17-96e0-42bf15f3065c]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"priority": 1, "weight": 2,
      "port": 1234, "target": "target.contoso.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/SRV/mysrv.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/SRV\/mysrv.zone1.com","name":"mysrv.zone1.com","type":"Microsoft.Network\/dnszones\/SRV","etag":"fb3ef126-f667-43f6-b1d3-3f4b896b68a9","properties":{"fqdn":"mysrv.zone1.com.zone1.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.contoso.com.","weight":2}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [fb3ef126-f667-43f6-b1d3-3f4b896b68a9]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 60, "caaRecords": [{"flags": 0, "tag": "issue",
      "value": "ca1.contoso.com"}, {"flags": 128, "tag": "iodef", "value": "mailto:test@contoso.com"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/CAA/caa1.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/zone1.com\/CAA\/caa1.zone1.com","name":"caa1.zone1.com","type":"Microsoft.Network\/dnszones\/CAA","etag":"c82f8ac8-a49e-48e8-bc42-e82cce836d62","properties":{"fqdn":"caa1.zone1.com.zone1.com.","TTL":60,"caaRecords":[{"flags":0,"tag":"issue","value":"ca1.contoso.com"},{"flags":128,"tag":"iodef","value":"mailto:test@contoso.com"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [c82f8ac8-a49e-48e8-bc42-e82cce836d62]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/zone1.com/recordsets?api-version=2017-09-01
  response:
    body: {string: '{"value":[{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsof[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone_import_export000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZETlM6NUZaT05FOjVGSU1QT1JUOjVGRVhQT1JUMkNVTU1LUlVITlRKMnw0NkVDQzU1MUFFMjYwQzhBLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
