interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-09T15:35:55Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone5_import000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001","name":"cli_dns_zone5_import000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-09T15:35:55Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com","name":"zone5.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-ef0a-41cc5248d401","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":5000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-06.ppe.azure-dns.com.","ns2-06.ppe.azure-dns.net.","ns3-06.ppe.azure-dns.org.","ns4-06.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [00000002-0000-0000-ef0a-41cc5248d401]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/SOA/@?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"03ad32d2-ae62-409b-b59c-39a4ef67cef1","properties":{"fqdn":"zone5.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-06.ppe.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [03ad32d2-ae62-409b-b59c-39a4ef67cef1]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['497']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "1.2.3.4"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/A/@?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/A\/@","name":"@","type":"Microsoft.Network\/dnszones\/A","etag":"7f0fd0a4-4703-4b0b-b63d-942228f2c1b8","properties":{"fqdn":"zone5.com.","TTL":3600,"ARecords":[{"ipv4Address":"1.2.3.4"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [7f0fd0a4-4703-4b0b-b63d-942228f2c1b8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "0.1.2.3"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/A/default?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/A\/default","name":"default","type":"Microsoft.Network\/dnszones\/A","etag":"cc8f8ba2-0978-453d-a0c8-07b51c6aad91","properties":{"fqdn":"default.zone5.com.","TTL":3600,"ARecords":[{"ipv4Address":"0.1.2.3"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [cc8f8ba2-0978-453d-a0c8-07b51c6aad91]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "test.zone5.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/CNAME/tc?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/CNAME\/tc","name":"tc","type":"Microsoft.Network\/dnszones\/CNAME","etag":"639f7d53-dce4-4265-badd-4333b2d3f94e","properties":{"fqdn":"tc.zone5.com.","TTL":3600,"CNAMERecord":{"cname":"test.zone5.com."},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [639f7d53-dce4-4265-badd-4333b2d3f94e]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "2.3.4.5"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/A/www?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/A\/www","name":"www","type":"Microsoft.Network\/dnszones\/A","etag":"8c83ec0c-9fa1-4886-bb78-49e3e8c7cfd5","properties":{"fqdn":"www.zone5.com.","TTL":3600,"ARecords":[{"ipv4Address":"2.3.4.5"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [8c83ec0c-9fa1-4886-bb78-49e3e8c7cfd5]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "r1.zone5.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/CNAME/test-cname?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/CNAME\/test-cname","name":"test-cname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"78a4d1e6-83e3-4eb1-a391-abe139a4a012","properties":{"fqdn":"test-cname.zone5.com.","TTL":3600,"CNAMERecord":{"cname":"r1.zone5.com."},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [78a4d1e6-83e3-4eb1-a391-abe139a4a012]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "m1.zone5.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/MX/test-mx?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/MX\/test-mx","name":"test-mx","type":"Microsoft.Network\/dnszones\/MX","etag":"4e3ceeec-41d2-4ae4-8286-58dcf73623b7","properties":{"fqdn":"test-mx.zone5.com.","TTL":3600,"MXRecords":[{"exchange":"m1.zone5.com.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [4e3ceeec-41d2-4ae4-8286-58dcf73623b7]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns1.zone5.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/NS/test-ns?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/NS\/test-ns","name":"test-ns","type":"Microsoft.Network\/dnszones\/NS","etag":"971b51c7-8513-48c9-84af-af46932b9721","properties":{"fqdn":"test-ns.zone5.com.","TTL":3600,"NSRecords":[{"nsdname":"ns1.zone5.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [971b51c7-8513-48c9-84af-af46932b9721]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"priority": 1, "weight": 2,
      "port": 3, "target": "srv1.zone5.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/SRV/test-srv?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/SRV\/test-srv","name":"test-srv","type":"Microsoft.Network\/dnszones\/SRV","etag":"50ee5277-309a-49ee-b1dd-9808df5287c2","properties":{"fqdn":"test-srv.zone5.com.","TTL":3600,"SRVRecords":[{"port":3,"priority":1,"target":"srv1.zone5.com.","weight":2}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [50ee5277-309a-49ee-b1dd-9808df5287c2]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "r1."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/CNAME/test-cname2?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/CNAME\/test-cname2","name":"test-cname2","type":"Microsoft.Network\/dnszones\/CNAME","etag":"101dd006-afef-465a-a7c7-035a0d6a29d1","properties":{"fqdn":"test-cname2.zone5.com.","TTL":3600,"CNAMERecord":{"cname":"r1."},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [101dd006-afef-465a-a7c7-035a0d6a29d1]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "m1."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/MX/test-mx2?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/MX\/test-mx2","name":"test-mx2","type":"Microsoft.Network\/dnszones\/MX","etag":"052e96d3-da57-4eee-a773-28f8d96133dd","properties":{"fqdn":"test-mx2.zone5.com.","TTL":3600,"MXRecords":[{"exchange":"m1.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [052e96d3-da57-4eee-a773-28f8d96133dd]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns1."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/NS/test-ns2?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/NS\/test-ns2","name":"test-ns2","type":"Microsoft.Network\/dnszones\/NS","etag":"1060ad19-24f5-4456-b5b2-6f2bda3c459d","properties":{"fqdn":"test-ns2.zone5.com.","TTL":3600,"NSRecords":[{"nsdname":"ns1."}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [1060ad19-24f5-4456-b5b2-6f2bda3c459d]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"priority": 1, "weight": 2,
      "port": 3, "target": "srv1."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/SRV/test-srv2?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/SRV\/test-srv2","name":"test-srv2","type":"Microsoft.Network\/dnszones\/SRV","etag":"08556d52-5adf-484a-b2e0-cb2bd009d805","properties":{"fqdn":"test-srv2.zone5.com.","TTL":3600,"SRVRecords":[{"port":3,"priority":1,"target":"srv1.","weight":2}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [08556d52-5adf-484a-b2e0-cb2bd009d805]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "3.4.5.6"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/A/subzone?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/A\/subzone","name":"subzone","type":"Microsoft.Network\/dnszones\/A","etag":"3185d971-6ec3-4477-992c-cd17380875e0","properties":{"fqdn":"subzone.zone5.com.","TTL":3600,"ARecords":[{"ipv4Address":"3.4.5.6"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [3185d971-6ec3-4477-992c-cd17380875e0]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "4.5.6.7"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/A/www.subzone?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/A\/www.subzone","name":"www.subzone","type":"Microsoft.Network\/dnszones\/A","etag":"bc88936d-8207-47fa-951b-09ce39f49565","properties":{"fqdn":"www.subzone.zone5.com.","TTL":3600,"ARecords":[{"ipv4Address":"4.5.6.7"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [bc88936d-8207-47fa-951b-09ce39f49565]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "r1.subzone.zone5.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/CNAME/test-cname.subzone?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/CNAME\/test-cname.subzone","name":"test-cname.subzone","type":"Microsoft.Network\/dnszones\/CNAME","etag":"8f0c60e1-c592-4ace-82e5-7fa09598885d","properties":{"fqdn":"test-cname.subzone.zone5.com.","TTL":3600,"CNAMERecord":{"cname":"r1.subzone.zone5.com."},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [8f0c60e1-c592-4ace-82e5-7fa09598885d]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "bar.foo.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/CNAME/record?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/CNAME\/record","name":"record","type":"Microsoft.Network\/dnszones\/CNAME","etag":"9861956a-758f-43c3-99f4-d45e6cb4f3b5","properties":{"fqdn":"record.zone5.com.","TTL":3600,"CNAMERecord":{"cname":"bar.foo.com."},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [9861956a-758f-43c3-99f4-d45e6cb4f3b5]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "7.8.9.0"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/A/test?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/A\/test","name":"test","type":"Microsoft.Network\/dnszones\/A","etag":"103c5b04-d357-4f45-b383-bbd505a85e2e","properties":{"fqdn":"test.zone5.com.","TTL":3600,"ARecords":[{"ipv4Address":"7.8.9.0"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [103c5b04-d357-4f45-b383-bbd505a85e2e]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/recordsets?api-version=2018-05-01
  response:
    body: {string: '{"value":[{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/A\/@","name":"@","type":"Microsoft.Network\/dnszones\/A","etag":"7f0fd0a4-4703-4b0b-b63d-942228f2c1b8","properties":{"fqdn":"zone5.com.","TTL":3600,"ARecords":[{"ipv4Address":"1.2.3.4"}],"targetResource":{},"provisioningState":"Succeeded"}},{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone63672104176510601829d1f8e8?api-version=2018-05-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsOperationResults/delzone63672104176510601829d1f8e8?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone63672104176510601829d1f8e8?api-version=2018-05-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['499']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone5_import000001/providers/Microsoft.Network/dnsZones/zone5.com/NS/@?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone5_import000001\/providers\/Microsoft.Network\/dnszones\/zone5.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"37e36d1e-bb58-4c53-8148-9f2a10e3398e","properties":{"fqdn":"zone5.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-06.ppe.azure-dns.com."},{"nsdname":"ns2-06.ppe.azure-dns.net."},{"nsdname":"ns3-06.ppe.azure-dns.org."},{"nsdname":"ns4-06.ppe.azure-dns.info."}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [37e36d1e-bb58-4c53-8148-9f2a10e3398e]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['499']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone5_import000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZETlM6NUZaT05FNTo1RklNUE9SVFRMRFNGWk5aSE1QQ0dSWlhWWDZPU3w2OTU2QUI0RkEzOTc1NDYyLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
