interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-04-03T21:43:59Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001","name":"cli_test_express_route000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-04-03T21:43:59Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AT&T Netbond\
        \ Test\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\"\
        ,\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringLocations\": [\r\n          \"Area51\",\r\n        \
        \  \"ASCVA001\",\r\n          \"SN1CA001\"\r\n        ],\r\n        \"bandwidthsOffered\"\
        : [\r\n          {\r\n            \"offerName\": \"50Mbps\",\r\n         \
        \   \"valueInMbps\": 50\r\n          },\r\n          {\r\n            \"offerName\"\
        : \"100Mbps\",\r\n            \"valueInMbps\": 100\r\n          },\r\n   \
        \       {\r\n            \"offerName\": \"200Mbps\",\r\n            \"valueInMbps\"\
        : 200\r\n          },\r\n          {\r\n            \"offerName\": \"500Mbps\"\
        ,\r\n            \"valueInMbps\": 500\r\n          },\r\n          {\r\n \
        \           \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\": 1000\r\
        \n          },\r\n          {\r\n            \"offerName\": \"2Gbps\",\r\n\
        \            \"valueInMbps\": 2000\r\n          },\r\n          {\r\n    \
        \        \"offerName\": \"5Gbps\",\r\n            \"valueInMbps\": 5000\r\n\
        \          },\r\n          {\r\n            \"offerName\": \"10Gbps\",\r\n\
        \            \"valueInMbps\": 10000\r\n          }\r\n        ]\r\n      }\r\
        \n    },\r\n    {\r\n      \"name\": \"BT Test\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\"\
        ,\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringLocations\": [\r\n          \"Area51\"\r\n        ],\r\
        \n        \"bandwidthsOffered\": [\r\n          {\r\n            \"offerName\"\
        : \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n          },\r\n     \
        \     {\r\n            \"offerName\": \"100Mbps\",\r\n            \"valueInMbps\"\
        : 100\r\n          },\r\n          {\r\n            \"offerName\": \"200Mbps\"\
        ,\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n \
        \           \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\
        \n          [...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Premium_MeteredData", "tier": "Premium",
      "family": "MeteredData"}, "properties": {"serviceProviderProperties": {"serviceProviderName":
      "Microsoft ER Test", "peeringLocation": "Area51", "bandwidthInMbps": 50}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"b9462499-63fa-46da-ae51-631bca831369\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"d4620dc4-0430-4a0d-82a8-a0e03d19c831\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Microsoft ER Test\",\r\n      \"peeringLocation\"\
        : \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\"\
        : \"Disabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"serviceKey\"\
        : \"00000000-0000-0000-0000-000000000000\",\r\n    \"serviceProviderProvisioningState\"\
        : \"NotProvisioned\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\"\
        ,\r\n    \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\
        \n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5c436d8e-7ae7-4c18-adfe-423b8948e1e7?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5c436d8e-7ae7-4c18-adfe-423b8948e1e7?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5c436d8e-7ae7-4c18-adfe-423b8948e1e7?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\"\
        : \"InvalidAuthenticationTokenTenant\",\r\n    \"message\": \"The access token\
        \ is from the wrong issuer 'https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/'.\
        \ It must match the tenant 'https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/'\
        \ associated with this subscription. Please use the authority (URL) 'https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47'\
        \ to get the token. Note, if the subscription is transferred to another tenant\
        \ there is no impact to the services, but information about new tenant could\
        \ take time to propagate (up to an hour). If you just transferred your subscription\
        \ and see this error message, please try back later.\",\r\n    \"details\"\
        : []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGRVhQUkVTUzo1RlJPVVRFN1BYRkFISko0NUFCQ1ZaQzYyTnwzNkYxMzg0MTAzRTYyMjE0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
