interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"date": "2018-09-10T17:03:01Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route_ipv6_peering000001?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001","name":"cli_test_express_route_ipv6_peering000001","location":"westus","tags":{"date":"2018-09-10T17:03:01Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"sku": {"tier": "Premium", "name": "Premium_MeteredData",
      "family": "MeteredData"}, "location": "westus", "properties": {"serviceProviderProperties":
      {"serviceProviderName": "Ibiza Test Provider", "bandwidthInMbps": 50, "peeringLocation":
      "Area51"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2018-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"e37a819b-39e3-42f5-833d-3edf8626a5f7\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"d697207e-a770-4cf2-a9c4-5cf1ec1688de\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"\
        peeringLocation\": \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\
        \n    \"circuitProvisioningState\": \"Disabled\",\r\n    \"allowClassicOperations\"\
        : false,\r\n    \"serviceKey\": \"00000000-0000-0000-0000-000000000000\",\r\
        \n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"\
        allowGlobalReach\": false\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\"\
        ,\r\n    \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\
        \n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/02a9e540-2ab1-4655-87e6-2a09206d4653?api-version=2018-08-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/02a9e540-2ab1-4655-87e6-2a09206d4653?api-version=2018-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2018-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"4dbe7444-2106-4105-8cb8-9464593f271d\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"d697207e-a770-4cf2-a9c4-5cf1ec1688de\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"\
        peeringLocation\": \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\
        \n    \"circuitProvisioningState\": \"Enabled\",\r\n    \"allowClassicOperations\"\
        : false,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"serviceKey\": \"a774dfef-de71-40e7-a661-c1a8784d6809\"\
        ,\r\n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n   \
        \ \"allowGlobalReach\": false,\r\n    \"stag\": 6\r\n  },\r\n  \"sku\": {\r\
        \n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n\
        \    \"family\": \"MeteredData\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"secondaryPeerAddressPrefix": "105.0.0.0/30",
      "microsoftPeeringConfig": {"routingRegistryName": "LEVEL3", "advertisedPublicPrefixes":
      ["104.0.0.0/30"], "customerASN": 10000}, "primaryPeerAddressPrefix": "104.0.0.0/30",
      "peerASN": 10002, "vlanId": 103, "peeringType": "MicrosoftPeering"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering?api-version=2018-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"MicrosoftPeering\",\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering\"\
        ,\r\n  \"etag\": \"W/\\\"f94f6fdf-75c9-4ebd-8088-572998e30861\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        peeringType\": \"MicrosoftPeering\",\r\n    \"azureASN\": 0,\r\n    \"peerASN\"\
        : 10002,\r\n    \"primaryPeerAddressPrefix\": \"104.0.0.0/30\",\r\n    \"\
        secondaryPeerAddressPrefix\": \"105.0.0.0/30\",\r\n    \"state\": \"Enabled\"\
        ,\r\n    \"vlanId\": 103,\r\n    \"lastModifiedBy\": \"\",\r\n    \"microsoftPeeringConfig\"\
        : {\r\n      \"advertisedPublicPrefixes\": [\r\n        \"104.0.0.0/30\"\r\
        \n      ],\r\n      \"advertisedPublicPrefixesState\": \"NotConfigured\",\r\
        \n      \"customerASN\": 10000,\r\n      \"legacyMode\": 0,\r\n      \"routingRegistryName\"\
        : \"LEVEL3\"\r\n    },\r\n    \"connections\": []\r\n  },\r\n  \"type\": \"\
        Microsoft.Network/expressRouteCircuits/peerings\"\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8cbd02b9-5206-4d2f-b4b1-43775e2a29dd?api-version=2018-08-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering?api-version=2018-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"MicrosoftPeering\",\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering\"\
        ,\r\n  \"etag\": \"W/\\\"e8ae4dba-2d10-4897-ab6c-9ff087999501\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        peeringType\": \"MicrosoftPeering\",\r\n    \"azureASN\": 12076,\r\n    \"\
        peerASN\": 10002,\r\n    \"primaryPeerAddressPrefix\": \"104.0.0.0/30\",\r\
        \n    \"secondaryPeerAddressPrefix\": \"105.0.0.0/30\",\r\n    \"primaryAzurePort\"\
        : \"A51-IBIZA-06GMR-CIS-1-PRI-A\",\r\n    \"secondaryAzurePort\": \"A51-IBIZA-06GMR-CIS-2-SEC-A\"\
        ,\r\n    \"state\": \"Enabled\",\r\n    \"vlanId\": 103,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"lastModifiedBy\": \"Customer\",\r\n    \"microsoftPeeringConfig\"\
        : {\r\n      \"advertisedPublicPrefixes\": [\r\n        \"104.0.0.0/30\"\r\
        \n      ],\r\n      \"advertisedPublicPrefixesState\": \"ValidationNeeded\"\
        ,\r\n      \"customerASN\": 10000,\r\n      \"legacyMode\": 0,\r\n      \"\
        routingRegistryName\": \"LEVEL3\"\r\n    },\r\n    \"connections\": []\r\n\
        \  },\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"secondaryPeerAddressPrefix": "105.0.0.0/30",
      "lastModifiedBy": "Customer", "primaryPeerAddressPrefix": "104.0.0.0/30", "gatewayManagerEtag":
      "", "peerASN": 10002, "vlanId": 103, "peeringType": "MicrosoftPeering", "connections":
      [], "primaryAzurePort": "A51-IBIZA-06GMR-CIS-1-PRI-A", "state": "Enabled", "secondaryAzurePort":
      "A51-IBIZA-06GMR-CIS-2-SEC-A", "microsoftPeeringConfig": {"legacyMode": 0, "routingRegistryName":
      "LEVEL3", "advertisedPublicPrefixes": ["104.0.0.0/30"], "advertisedPublicPrefixesState":
      "ValidationNeeded", "customerASN": 10000}, "azureASN": 12076, "ipv6PeeringConfig":
      {"secondaryPeerAddressPrefix": "2002:db00::/126", "microsoftPeeringConfig":
      {"routingRegistryName": "LEVEL3", "advertisedPublicPrefixes": ["2001:db00::/126"],
      "customerASN": 100001}, "primaryPeerAddressPrefix": "2001:db00::/126"}, "provisioningState":
      "Succeeded"}, "name": "MicrosoftPeering", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peering[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route_ipv6_peering000001?api-version=2018-05-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGRVhQUkVTUzo1RlJPVVRFOjVGSVBWNjo1RlBFRVJJTkdXTHwxNDMzOEE0Q0RDODNBN0JCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
