interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-03-01T09:38:10Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest_privatedns000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001","name":"clitest_privatedns000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-03-01T09:38:10Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-None-Match: ['*']
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsZones/clitest.privatedns.com000002?api-version=2018-09-01
  response:
    body: {string: '{}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtjNzYwNmFkNy0yMTA3LTRhMTEtYjMyYy1hMDUwOTY0MDBmMDE=?api-version=2018-09-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtjNzYwNmFkNy0yMTA3LTRhMTEtYjMyYy1hMDUwOTY0MDBmMDE=?api-version=2018-09-01']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtjNzYwNmFkNy0yMTA3LTRhMTEtYjMyYy1hMDUwOTY0MDBmMDE=?api-version=2018-09-01
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtjNzYwNmFkNy0yMTA3LTRhMTEtYjMyYy1hMDUwOTY0MDBmMDE=?api-version=2018-09-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtjNzYwNmFkNy0yMTA3LTRhMTEtYjMyYy1hMDUwOTY0MDBmMDE=?api-version=2018-09-01']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsZones/clitest.privatedns.com000002?api-version=2018-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/9e900494-c413-45af-bd52-0afe6ac97b06\/resourceGroups\/clitest_privatedns000001\/providers\/Microsoft.Network\/privateDnsZones\/clitest.privatedns.com000002","name":"clitest.privatedns.com000002","type":"Microsoft.Network\/privateDnsZones","etag":"256d35b6-4355-453f-9211-da121a9889cb","location":"global","properties":{"maxNumberOfRecordSets":5000,"maxNumberOfVirtualNetworkLinks":10,"maxNumberOfVirtualNetworkLinksWithRegistration":1,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [256d35b6-4355-453f-9211-da121a9889cb]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/virtualNetworks/clitestprivatednsvnet000003?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"name\": \"clitestprivatednsvnet000003\",\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/virtualNetworks/clitestprivatednsvnet000003\"\
        ,\r\n  \"etag\": \"W/\\\"8b18a036-8fcf-40ca-9be5-b9a0490ff92f\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"eb3f28b7-7437-4258-9037-9a5cf1da522d\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":\
        \ [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d0d868a1-eef6-4cfa-9597-9f34116df31c?api-version=2018-12-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d0d868a1-eef6-4cfa-9597-9f34116df31c?api-version=2018-12-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"location": "global", "properties": {"virtualNetwork": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/virtualNetworks/clitestprivatednsvnet000003"},
      "registrationEnabled": false}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-None-Match: ['*']
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsZones/clitest.privatedns.com000002/virtualNetworkLinks/clitestprivatednslink000004?api-version=2018-09-01
  response:
    body: {string: '{}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7NTlhM2RmOTMtOGM2Ni00OTVjLTg0NTctM2M5OTZhZDc2YTYx?api-version=2018-09-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7NTlhM2RmOTMtOGM2Ni00OTVjLTg0NTctM2M5OTZhZDc2YTYx?api-version=2018-09-01']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7NTlhM2RmOTMtOGM2Ni00OTVjLTg0NTctM2M5OTZhZDc2YTYx?api-version=2018-09-01
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7NTlhM2RmOTMtOGM2Ni00OTVjLTg0NTctM2M5OTZhZDc2YTYx?api-version=2018-09-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7NTlhM2RmOTMtOGM2Ni00OTVjLTg0NTctM2M5OTZhZDc2YTYx?api-version=2018-09-01']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_privatedns000001/providers/Microsoft.Network/privateDnsZones/clitest.privatedns.com000002/virtualNetworkLinks/clitestprivatednslink000004?api-version=2018-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/9e900494-c413-45af-bd52-0afe6ac97b06\/resourceGroups\/clitest_privatedns000001\/providers\/Microsoft.Network\/privateDnsZones\/clitest.privatedns.com000002\/virtualNetworkLinks\/clitestprivatednslink000004","name":"clitestprivatednslink000004","type":"Microsoft.Network\/privateDnsZones\/virtualNetworkLinks","etag":"\"0200f133-0000-0000-0000-5c78fdc60000\"","location":"global","properties":{"provisioningState":"Succeeded","registrationEnabled":false,"virtualNetwork":{"id":"\/subscriptions\/9e900494-c413-45af-bd52-0afe6ac97b06\/resourceGroups\/clitest_privatedns000001\/providers\/Microsoft.Network\/virtualNetworks\/clitestprivatednsvnet000003"},"virtualNetworkLinkState":"Completed"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0200f133-0000-0000-0000-5c78fdc60000"']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest_privatedns000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjVGUFJJVkFURUROU0NaNFhOVjc2S1lLV1BUSzZDNjVLSkhTTzRRSnxDMUNDNUU5NTUzMzM3RTc3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
