interactions:
- request:
    body: grant_type=client_credentials&client_id=857d04e9-7a99-439d-921e-1792401ab240&resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_secret=hmj9zumLoeHaumhRZQXDEOovpKmGCwSZbQ5fRz2wA%2Fo%3D
    headers:
      content-type: [application/x-www-form-urlencoded]
      return-client-request-id: ['true']
      x-client-CPU: [x64]
      x-client-OS: [win32]
      x-client-SKU: [Python]
      x-client-Ver: [1.0.2]
    method: POST
    uri: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token
  response:
    body: {string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"0","expires_on":"1535675123","not_before":"1535671223","resource":"https://management.core.windows.net/","access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IjdfWnVmMXR2a3dMeFlhSFMzcTZsVWpVWUlHdyIsImtpZCI6IjdfWnVmMXR2a3dMeFlhSFMzcTZsVWpVWUlHdyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldC8iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwiaWF0IjoxNTM1NjcxMjIzLCJuYmYiOjE1MzU2NzEyMjMsImV4cCI6MTUzNTY3NTEyMywiYWlvIjoiNDJCZ1lQaDFxUFhROGJ3dlRPYlNrejV1WkU2ZUFBQT0iLCJhcHBpZCI6Ijg1N2QwNGU5LTdhOTktNDM5ZC05MjFlLTE3OTI0MDFhYjI0MCIsImFwcGlkYWNyIjoiMSIsImlkcCI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0Ny8iLCJvaWQiOiI3ODQwMjUxOS01ZWQ0LTQwMGMtOGVjNC1iYjBmZjA3YjI5M2MiLCJzdWIiOiI3ODQwMjUxOS01ZWQ0LTQwMGMtOGVjNC1iYjBmZjA3YjI5M2MiLCJ0aWQiOiI3MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDciLCJ1dGkiOiJHMTdjMU1DZWRFRzFYX2lwa2c0Q0FBIiwidmVyIjoiMS4wIn0.YLEj-rR2ZcMK9eVyhqmk2or5lQ8K9vrQLyTM4KwZzzvzYywvs0vJ1-4VlpT783lU8p8lhGmH_ldmg1SdSe3X5yND1X-vCu6a6IGUEYUocv1c4d9g6woezSA3aGxyKIh2-cSLah4kl3dzmuOA81f-WKtmGM1LT-Xk3MaaZk9-MzS4qt0LWSkwnn-aDZDcBlMy_wmuifwR7e0OQ8mNp3EgzcdB2ejb0x0EElEVArB8pJaSQwBv6BQLWy2vx5PtQmppIRdOF0x0pNXP23CO8w8lnGNMvI5af_dpRQKXSrkMOZHeRLGDPXmKfJ_VoYGEVPsWSiuQiQKiOP2h0Q8C5_365g"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/availableDelegations?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Web.serverFarms\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/availableDelegations/Microsoft.Web.serverFarms\",\r\n
        \     \"type\": \"Microsoft.Network/availableDelegations\",\r\n      \"serviceName\":
        \"Microsoft.Web/serverFarms\",\r\n      \"actions\": [\r\n        \"Microsoft.Network/virtualNetworks/subnets/action\"\r\n
        \     ]\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Sql.sqlDatabase\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/availableDelegations/Microsoft.Sql.sqlDatabase\",\r\n
        \     \"type\": \"Microsoft.Network/availableDelegations\",\r\n      \"serviceName\":
        \"Microsoft.Sql/sqlDatabase\",\r\n      \"actions\": []\r\n    },\r\n    {\r\n
 [...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tjp-vm?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-vm","name":"tjp-vm","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-vm/providers/Microsoft.Network/locations/westus/availableDelegations?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Web.serverFarms\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup/tjp-vm/providers/Microsoft.Netw[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-vm/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-vm/providers/Microsoft.Network/virtualNetworks/vnet1\",\r\n
        \ \"etag\": \"W/\\\"b0ba0383-93a0-4a38-92fb-13113656e3bf\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"084f0fe1-b452-468c-a239-7ac42322468a\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus.validation/operations/f70f3b13-12ff-4cf5-b3d1-b177475253f9?api-version=2018-08-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus.validation/operations/f70f3b13-12ff-4cf5-b3d1-b177475253f9?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties":
      {"serviceName": "Microsoft.Sql/servers"}, "name": "0"}]}, "name": "subnet1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-vm/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1?api-version=2018-08-01
  response:
    body: {string: "{\r\n  \"name\": \"subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-vm/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\",\r\n
        \ \"etag\": \"W/\\\"584f007a-e9dd-4223-adc0-362a9392d825\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [\r\n      {\r\n        \"name\": \"0\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-vm/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1/delegations/0\",\r\n
        \       \"etag\": \"W/\\\"584f007a-e9dd-4223-adc0-362a9392d825\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"serviceName\": \"Microsoft.Sql/servers\",\r\n          \"actions\":
        []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n
        \     }\r\n    ],\r\n    \"purpose\": \"InterfaceEndpoints\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"}
    headers:
      azure-asyncoperation: ['https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus.validation/operations/53ba95bd-ab59-4ef9-8aed-0cd4f6e71b80?api-version=2018-08-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
