interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-09T15:34:10Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone3_import000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001","name":"cli_dns_zone3_import000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-09T15:34:10Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com","name":"zone3.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-e1a8-a58d5248d401","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":5000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-06.ppe.azure-dns.com.","ns2-06.ppe.azure-dns.net.","ns3-06.ppe.azure-dns.org.","ns4-06.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [00000002-0000-0000-e1a8-a58d5248d401]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/SOA/@?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"996dca14-caa7-4654-bc4f-f63eedaeb8f9","properties":{"fqdn":"zone3.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-06.ppe.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [996dca14-caa7-4654-bc4f-f63eedaeb8f9]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['499']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/NS/@?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"2b2fdcee-182b-4a59-a009-10d11761694c","properties":{"fqdn":"zone3.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-06.ppe.azure-dns.com."},{"nsdname":"ns2-06.ppe.azure-dns.net."},{"nsdname":"ns3-06.ppe.azure-dns.org."},{"nsdname":"ns4-06.ppe.azure-dns.info."}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [2b2fdcee-182b-4a59-a009-10d11761694c]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['498']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "1.2.3.4"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/A/test-a?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/A\/test-a","name":"test-a","type":"Microsoft.Network\/dnszones\/A","etag":"03a5c433-9ecf-44be-baae-d6dde28b2298","properties":{"fqdn":"test-a.zone3.com.","TTL":3600,"ARecords":[{"ipv4Address":"1.2.3.4"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [03a5c433-9ecf-44be-baae-d6dde28b2298]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11996']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "AAAARecords": [{"ipv6Address": "2001:cafe:130::100"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/AAAA/test-aaaa?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/AAAA\/test-aaaa","name":"test-aaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"4d348463-fcf8-463d-bbef-654c3d3c6367","properties":{"fqdn":"test-aaaa.zone3.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:cafe:130::100"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [4d348463-fcf8-463d-bbef-654c3d3c6367]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "target.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/CNAME/test-cname?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/CNAME\/test-cname","name":"test-cname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"5d08719d-305b-47ce-a868-aae42b9e96f2","properties":{"fqdn":"test-cname.zone3.com.","TTL":3600,"CNAMERecord":{"cname":"target.com."},"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [5d08719d-305b-47ce-a868-aae42b9e96f2]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "mail.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/MX/test-mx?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/MX\/test-mx","name":"test-mx","type":"Microsoft.Network\/dnszones\/MX","etag":"2d597484-8545-4841-a4ff-3a8485bad77c","properties":{"fqdn":"test-mx.zone3.com.","TTL":3600,"MXRecords":[{"exchange":"mail.com.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [2d597484-8545-4841-a4ff-3a8485bad77c]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns1.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/NS/test-ns?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/NS\/test-ns","name":"test-ns","type":"Microsoft.Network\/dnszones\/NS","etag":"f32330a1-f3be-43dd-a094-f38851a53e05","properties":{"fqdn":"test-ns.zone3.com.","TTL":3600,"NSRecords":[{"nsdname":"ns1.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [f32330a1-f3be-43dd-a094-f38851a53e05]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"priority": 1, "weight": 2,
      "port": 3, "target": "target.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/SRV/_sip._tcp.test-srv?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/SRV\/_sip._tcp.test-srv","name":"_sip._tcp.test-srv","type":"Microsoft.Network\/dnszones\/SRV","etag":"444fcf87-8c7f-4ea9-b2da-c30a59819940","properties":{"fqdn":"_sip._tcp.test-srv.zone3.com.","TTL":3600,"SRVRecords":[{"port":3,"priority":1,"target":"target.com.","weight":2}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [444fcf87-8c7f-4ea9-b2da-c30a59819940]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["string 1"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/TXT/test-txt?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/TXT\/test-txt","name":"test-txt","type":"Microsoft.Network\/dnszones\/TXT","etag":"dc5e9a61-8258-4efc-b0ff-81a2fbcb85e7","properties":{"fqdn":"test-txt.zone3.com.","TTL":3600,"TXTRecords":[{"value":["string
        1"]}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [dc5e9a61-8258-4efc-b0ff-81a2fbcb85e7]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "12.1.2.3"},
      {"ipv4Address": "12.2.3.4"}, {"ipv4Address": "12.3.4.5"}, {"ipv4Address": "12.4.5.6"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/A/d1?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/A\/d1","name":"d1","type":"Microsoft.Network\/dnszones\/A","etag":"9943b97f-718b-40b8-8b19-3e80f1e3f17f","properties":{"fqdn":"d1.zone3.com.","TTL":3600,"ARecords":[{"ipv4Address":"12.1.2.3"},{"ipv4Address":"12.2.3.4"},{"ipv4Address":"12.3.4.5"},{"ipv4Address":"12.4.5.6"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [9943b97f-718b-40b8-8b19-3e80f1e3f17f]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "hood.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/NS/d1?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/NS\/d1","name":"d1","type":"Microsoft.Network\/dnszones\/NS","etag":"d26e2f19-aa27-4f83-8ce5-5a587243acc3","properties":{"fqdn":"d1.zone3.com.","TTL":3600,"NSRecords":[{"nsdname":"hood.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [d26e2f19-aa27-4f83-8ce5-5a587243acc3]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["fishfishfish"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/TXT/d1?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/TXT\/d1","name":"d1","type":"Microsoft.Network\/dnszones\/TXT","etag":"c3c5b039-b9c8-4de5-856b-c6e6e6cb39d1","properties":{"fqdn":"d1.zone3.com.","TTL":3600,"TXTRecords":[{"value":["fishfishfish"]}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [c3c5b039-b9c8-4de5-856b-c6e6e6cb39d1]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "11.1.2.3"},
      {"ipv4Address": "11.2.3.3"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/A/f1?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/A\/f1","name":"f1","type":"Microsoft.Network\/dnszones\/A","etag":"952c9eee-fe39-4f20-ab4d-2101c7f9c276","properties":{"fqdn":"f1.zone3.com.","TTL":3600,"ARecords":[{"ipv4Address":"11.1.2.3"},{"ipv4Address":"11.2.3.3"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [952c9eee-fe39-4f20-ab4d-2101c7f9c276]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"priority": 10, "weight":
      20, "port": 30, "target": "foo.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/SRV/_sip._tcp?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/SRV\/_sip._tcp","name":"_sip._tcp","type":"Microsoft.Network\/dnszones\/SRV","etag":"4e1b1bd4-248c-4b0c-8379-eca5351a983e","properties":{"fqdn":"_sip._tcp.zone3.com.","TTL":3600,"SRVRecords":[{"port":30,"priority":10,"target":"foo.com.","weight":20}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [4e1b1bd4-248c-4b0c-8379-eca5351a983e]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 100, "exchange":
      "mail.test.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/MX/mail?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/MX\/mail","name":"mail","type":"Microsoft.Network\/dnszones\/MX","etag":"2069a920-2cb6-482a-83db-9a5b9cfa406d","properties":{"fqdn":"mail.zone3.com.","TTL":3600,"MXRecords":[{"exchange":"mail.test.com.","preference":100}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [2069a920-2cb6-482a-83db-9a5b9cfa406d]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "1.2.3.4"}, {"ipv4Address":
      "2.3.4.5"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/A/noclass?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/A\/noclass","name":"noclass","type":"Microsoft.Network\/dnszones\/A","etag":"04954345-5d3f-410a-9fc1-6183fc95ef24","properties":{"fqdn":"noclass.zone3.com.","TTL":3600,"ARecords":[{"ipv4Address":"1.2.3.4"},{"ipv4Address":"2.3.4.5"}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [04954345-5d3f-410a-9fc1-6183fc95ef24]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["string 1 only"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/TXT/txt1?api-version=2018-05-01
  response:
    body: {string: '{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/TXT\/txt1","name":"txt1","type":"Microsoft.Network\/dnszones\/TXT","etag":"14041c57-03d2-4bdd-a390-9c8a5beadf99","properties":{"fqdn":"txt1.zone3.com.","TTL":3600,"TXTRecords":[{"value":["string
        1 only"]}],"targetResource":{},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [14041c57-03d2-4bdd-a390-9c8a5beadf99]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com/recordsets?api-version=2018-05-01
  response:
    body: {string: '{"value":[{"id":"\/subscriptions\/e05dbbce-79c2-45a2-a7ef-f1058856feb3\/resourceGroups\/cli_dns_zone3_import000001\/providers\/Microsoft.Network\/dnszones\/zone3.com\/NS\/@","name":"@","type":"Microsof[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsZones/zone3.com?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone63672104071612627952df86df?api-version=2018-05-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsOperationResults/delzone63672104071612627952df86df?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone3_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone63672104071612627952df86df?api-version=2018-05-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['499']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone3_import000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZETlM6NUZaT05FMzo1RklNUE9SVDNRWFBKNTdTVktGU1pRQ1hLUk5VQ3wwMTFCRDBBM0RCRkUwRDhFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14997']
    status: {code: 202, message: Accepted}
version: 1
