interactions:
- request:
    body: '{"sku": {"name": "S0"}, "kind": "AIServices", "location": "eastus", "properties":
      {"allowProjectManagement": true}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2026-01-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002","name":"cog000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"58045088-0000-0100-0000-69d7ef540000\"","location":"eastus","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://eastus.api.cognitive.microsoft.com/","internalId":"f295690dd9d64ca88bb7df0b4f802990","dateCreated":"2026-04-09T18:26:27.6700681Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/05805d9f-c242-482a-8f2b-e49c2e5749dc?api-version=2017-04-18&t=639113559886449406&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5b[...]
[...]
- request:
    body: '{"properties": {"managedNetwork": {"isolationMode": "AllowOnlyApprovedOutbound"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/mnet:f295690d-d9d6-4ca8-8bb7-df0b4f802990:f295690d-d9d6-4ca8-8bb7-df0b4f802990-a7ea4fee_2f3e3a0b-7598-4c38-a9ec-33f123570f8c?api-version=2026-01-15-preview
      azureml-served-by-cluster:
      - vienna-eastus-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
      x-ms-async-operation-timeout:
      - PT50M
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.697'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/mnet:f295690d-d9d6-4ca8-8bb7-df0b4f802990:f295690d-d9d6-4ca8-8bb7-df0b4f802990-a7ea4fee_2f3e3a0b-7598-4c38-a9ec-33f123570f8c?api-version=2026-01-15-preview
  response:
    body:
      string: "{\n  \"id\": \"f295690d-d9d6-4ca8-8bb7-df0b4f802990-a7ea4fee_2f3e3a0b-7598-4c38-a9ec-33f123570f8c\",\n
        \ \"status\": \"InProgress\"\n}"
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.074'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","managedNetwork":{"isolationMode":"AllowOnlyApprovedOutbound","networkId":"f295690d-d9d6-4ca8-8bb7-df0b4f802990","outboundRules":{"__SYS_ST_AzureActiveDirectory_TCP":{"status":"Active","category":"Required","type":"ServiceTag","destination":{"serviceTag":"AzureActiveDirectory","protocol":"TCP","portRanges":"80,
        443","action":"Allow","addressPrefixes":[]}}},"status":{"status":"Active"},"firewallSku":"Standard","enableNetworkMonitor":false,"enableFirewallLog":false,"provisionNetworkNow":true,"managedNetworkKind":"V2","provisioningState":"Succeeded","changeableIsolationModes":[]}}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.191'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default/provision?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/mnet:f295690d-d9d6-4ca8-8bb7-df0b4f802990:f295690d-d9d6-4ca8-8bb7-df0b4f802990-a7ea4fee_7a3a3d74-13e5-41c5-8395-1973e480963b?api-version=2026-01-15-preview
      azureml-served-by-cluster:
      - vienna-eastus-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
      x-ms-async-operation-timeout:
      - PT50M
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.161'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
