interactions:
- request:
    body: '{"sku": {"name": "S0"}, "kind": "AIServices", "location": "eastus", "properties":
      {"allowProjectManagement": true}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2026-01-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002","name":"cog000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"9c034a5d-0000-0100-0000-69d5306f0000\"","location":"eastus","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://eastus.api.cognitive.microsoft.com/","internalId":"074a86f79b2a4cdfa786e8da3d1b9ec7","dateCreated":"2026-04-07T16:27:27.3268077Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/d60fe342-4e8c-4e14-8a48-7699d129e65b?api-version=2017-04-18&t=639111760481215374&c=MIIIJjCCBw6gAwIBAgIQXAg_KQfqNmXWsnKmcWm-CjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDMwMzE4NDAwNFoXDTI2MDgzMDAwNDAwNFowQDE-MDwGA1UEAxM1YXN5b[...]
[...]
- request:
    body: '{"properties": {"managedNetwork": {"isolationMode": "AllowOnlyApprovedOutbound"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/mnet:074a86f7-9b2a-4cdf-a786-e8da3d1b9ec7:074a86f7-9b2a-4cdf-a786-e8da3d1b9ec7-a7ea4fee_44ecfd8f-cbbf-4079-a735-c65d236d6d2b?api-version=2026-01-15-preview
      azureml-served-by-cluster:
      - vienna-eastus-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
      x-ms-async-operation-timeout:
      - PT50M
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.685'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/mnet:074a86f7-9b2a-4cdf-a786-e8da3d1b9ec7:074a86f7-9b2a-4cdf-a786-e8da3d1b9ec7-a7ea4fee_44ecfd8f-cbbf-4079-a735-c65d236d6d2b?api-version=2026-01-15-preview
  response:
    body:
      string: "{\n  \"id\": \"074a86f7-9b2a-4cdf-a786-e8da3d1b9ec7-a7ea4fee_44ecfd8f-cbbf-4079-a735-c65d236d6d2b\",\n
        \ \"status\": \"InProgress\"\n}"
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.077'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","managedNetwork":{"isolationMode":"AllowOnlyApprovedOutbound","networkId":"074a86f7-9b2a-4cdf-a786-e8da3d1b9ec7","outboundRules":{"__SYS_ST_AzureActiveDirectory_TCP":{"status":"Active","category":"Required","type":"ServiceTag","destination":{"serviceTag":"AzureActiveDirectory","protocol":"TCP","portRanges":"80,
        443","action":"Allow","addressPrefixes":[]}}},"status":{"status":"Active"},"firewallSku":"Standard","enableNetworkMonitor":false,"enableFirewallLog":false,"provisionNetworkNow":true,"managedNetworkKind":"V2","provisioningState":"Succeeded","changeableIsolationModes":[]}}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.106'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"category": "UserDefined", "destination": "*.azure.com",
      "type": "FQDN"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default/outboundRules/fqdn-rule-3?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    heade[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default/outboundRules?api-version=2026-01-15-preview
  response:
    body:
      string: '{"value":[{"properties":{"status":"Active","category":"UserDefined","type":"FQDN","destination":"*.azure.com"}},{"properties":{"status":"Active","category":"UserDefined","type":"FQDN","destination":"*.ai.azure.com"}},{"properties":{"status":"Active","category":"Required","type":"ServiceTag","destination":{"serviceTag":"AzureActiveDirectory","protocol":"TCP","portRanges":"80,
        443","action":"Allow","addressPrefixes":[]}}}]}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.191'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
