interactions:
- request:
    body: '{"kind": "OpenAI", "sku": {"name": "S0"}, "location": "JAPANEAST", "properties":
      {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002?api-version=2025-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002","name":"cs_cli_test_000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"5c02a25b-0000-2300-0000-6900d7b60000\"","location":"JAPANEAST","sku":{"name":"S0"},"kind":"OpenAI","properties":{"endpoint":"https://japaneast.api.cognitive.microsoft.com/","internalId":"cf714d22a3c34a0ea5f5ed6bdde25ee1","dateCreated":"2025-10-28T14:48:21.7749336Z","apiProperties":{},"callRateLimit":{"rules":[{"key":"openai.dalle.post","renewalPeriod":1,"count":30,"matchPatterns":[{"path":"dalle/*","method":"POST"},{"path":"openai/images/*","method":"POST"}]},{"key":"openai.dalle.other","renewalPeriod":1,"count":30,"matchPatterns":[{"path":"dalle/*","method":"*"},{"path":"openai/operations/images/*","method":"*"}]},{"key":"openai.assistants.list","renewalPeriod":60,"count":120,"matchPatterns":[{"path":"openai/assistants","method":"GET"}]},{"key":"openai.threads.list","renewalPeriod":60,"count":120,"matchPatterns":[{"path":"openai/threads","method":"GET"}]},{"key":"openai.vectorst[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/JAPANEAST/operationResults/8d9ebbb9-2823-4f6b-a0db-4ceb8d7718de?api-version=2017-04-18&t=638972597022747676&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002/deployments?api-version=2025-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard", "capacity": 1}, "properties": {"model": {"format":
      "OpenAI", "name": "gpt-35-turbo", "version": "0125"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002/deployments/mock-deployment?api-version=2025-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002/deployments/dpy","type":"Microsoft.CognitiveServices/accounts/deployments","name":"dpy","sku":{"name":"Standard","capacity":1},"properties":{"model":{"format":"OpenAI","name":"gpt-35-turbo","version":"0125"},"versionUpgradeOption":"OnceNewDefaultVersionAvailable","currentCapacity":1,"capabilities":{"completion":"true","maxContextToken":"16385","maxOutputToken":"4096","chatCompletion":"true","assistants":"true"},"provisioningState":"Succeeded","rateLimits":[{"key":"request","renewalPeriod":10,"count":1},{"key":"token","renewalPeriod":60,"count":1000}]},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-28T14:48:25.3936328Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-28T14:48:25.3936328Z"},"etag":"\"21313ed5-3ec9-497d-ad67-93abe1fbf1bd\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"21313ed5-3ec9-497d-ad67-93abe1fbf1bd"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
