interactions:
- request:
    body: '{"kind": "TextAnalytics", "location": "westeurope", "properties": {}, "sku":
      {"name": "S0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002?api-version=2017-04-18
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002","name":"cs_cli_test_000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"30009f3c-0000-0d00-0000-5ed75f560000\"","location":"westeurope","sku":{"name":"S0"},"kind":"TextAnalytics","properties":{"endpoint":"https://westeurope.api.cognitive.microsoft.com/","internalId":"b1424536d3864cc8801514f3bddd5550","dateCreated":"2020-06-03T08:29:10.3446223Z","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"30009f3c-0000-0d00-0000-5ed75f560000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002/usages?api-version=2017-04-18
  response:
    body:
      string: '{"value":[{"name":{"value":"CognitiveServices.TextAnalytics.Commitment.S0","localizedValue":"CognitiveServices.TextAnalytics.Commitment.S0"},"status":"Included","currentValue":0.0,"limit":25000.0,"nextResetTime":"2020-07-01T00:00:00Z"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
