interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westeurope/models?api-version=2023-05-01
  response:
    body:
      string: '{"value":[{"kind":"OpenAI","skuName":"S0","model":{"format":"OpenAI","name":"ada","version":"1","isDefaultVersion":false,"skus":[{"name":"Standard","usageName":"OpenAI.Standard.ada","capacity":{"maximum":10000,"default":120},"deprecationDate":"2024-03-01T00:00:00Z","ratelimits":[{"key":"request","renewalPeriod":10,"count":1},{"key":"token","renewalPeriod":60,"count":1000}]}],"maxCapacity":3,"capabilities":{"fineTune":"true","inference":"false","scaleType":"Manual","completion":"true","search":"true","FineTuneTokensMaxValue":"2000000000"},"finetuneCapabilities":{"scaleType":"Manual,Standard","completion":"true","search":"true","FineTuneTokensMaxValue":"2000000000"},"deprecation":{"fineTune":"2024-07-05T00:00:00Z","inference":"2024-07-05T00:00:00Z"},"lifecycleStatus":"Preview","systemData":{"createdBy":"Microsoft","createdAt":"2022-03-01T00:00:00Z","lastModifiedBy":"Microsoft","lastModifiedAt":"2023-07-06T00:00:00Z"}}},{"kind":"OpenAI","skuName":"S0","model":{"format":"OpenAI","name":"babbage","version":"1","isDefaultVersion":false,"skus":[{"name":"Standard","usageName":"OpenAI.Standard.babbage","capacity":{"maximum":10000,"default":120},"deprecationDate":"2024-03-01T00:00:00Z","ratelimits":[{"key":"request","renewalPeriod":10,"count":1},{"key":"token","renewalPeriod":60,"count":1000}]}],"maxCapacity":3,"capabilities":{"fineTune":"true","inference":"false","scaleType":"Manual","comple[...]
