interactions:
- request:
    body: '{"sku": {"name": "S0"}, "kind": "AIServices", "location": "eastus", "properties":
      {"allowProjectManagement": true}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2026-01-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002","name":"cog000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"95035ee7-0000-0100-0000-69d51ca40000\"","location":"eastus","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://eastus.api.cognitive.microsoft.com/","internalId":"478f68407c60418b9eadb431c6ea9b4d","dateCreated":"2026-04-07T15:02:59.7007675Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/0fd91f95-3b28-416f-afec-cba1d7c2ada5?api-version=2017-04-18&t=639111709806401426&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDIxOTAxNTQ1MloXDTI2MDgxNDA3NTQ1MlowQDE-MDwGA1UEAxM1YXN5b[...]
[...]
- request:
    body: '{"properties": {"managedNetwork": {"isolationMode": "AllowOnlyApprovedOutbound"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/mnet:478f6840-7c60-418b-9ead-b431c6ea9b4d:478f6840-7c60-418b-9ead-b431c6ea9b4d-a7ea4fee_256006bd-37db-4a02-8e25-fa17f3219259?api-version=2026-01-15-preview
      azureml-served-by-cluster:
      - vienna-eastus-02
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
      x-ms-async-operation-timeout:
      - PT50M
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.514'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/mnet:478f6840-7c60-418b-9ead-b431c6ea9b4d:478f6840-7c60-418b-9ead-b431c6ea9b4d-a7ea4fee_256006bd-37db-4a02-8e25-fa17f3219259?api-version=2026-01-15-preview
  response:
    body:
      string: "{\n  \"id\": \"478f6840-7c60-418b-9ead-b431c6ea9b4d-a7ea4fee_256006bd-37db-4a02-8e25-fa17f3219259\",\n
        \ \"status\": \"InProgress\"\n}"
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.052'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default?api-version=2026-01-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","managedNetwork":{"isolationMode":"AllowOnlyApprovedOutbound","networkId":"478f6840-7c60-418b-9ead-b431c6ea9b4d","outboundRules":{"__SYS_ST_AzureActiveDirectory_TCP":{"status":"Active","category":"Required","type":"ServiceTag","destination":{"serviceTag":"AzureActiveDirectory","protocol":"TCP","portRanges":"80,
        443","action":"Allow","addressPrefixes":[]}}},"status":{"status":"Active"},"firewallSku":"Standard","enableNetworkMonitor":false,"enableFirewallLog":false,"provisionNetworkNow":true,"managedNetworkKind":"V2","provisioningState":"Succeeded","changeableIsolationModes":[]}}}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.131'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"category": "UserDefined", "destination": "*.openai.azure.com",
      "type": "FQDN"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default/outboundRules/test-fqdn-rule?api-version=2026-01-15-preview
  response:
    body:
      string: ''[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002/managedNetworks/default/outboundRules?api-version=2026-01-15-preview
  response:
    body:
      string: '{"value":[{"properties":{"status":"Active","category":"UserDefined","type":"FQDN","destination":"*.openai.azure.com"}},{"properties":{"status":"Active","category":"Required","type":"ServiceTag","destination":{"serviceTag":"AzureActiveDirectory","protocol":"TCP","portRanges":"80,
        443","action":"Allow","addressPrefixes":[]}}}]}'
    headers:
      azureml-served-by-cluster:
      - vienna-eastus-02
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.082'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cog000002?api-version=2026-01-15-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
