interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westeurope/usages?api-version=2023-05-01
  response:
    body:
      string: '{"value":[{"name":{"value":"OpenAI.Standard.ada","localizedValue":"Tokens
        Per Minute (thousands) - Ada"},"currentValue":120,"limit":240,"unit":"Count"},{"name":{"value":"OpenAI.Standard.babbage","localizedValue":"Tokens
        Per Minute (thousands) - Babbage"},"currentValue":122,"limit":240,"unit":"Count"},{"name":{"value":"OpenAI.Standard.code-cushman-001","localizedValue":"Tokens
        Per Minute (thousands) - Code-Cushman-001"},"currentValue":360,"limit":360,"unit":"Count"},{"name":{"value":"OpenAI.Standard.code-cushman-fine-tune-002","localizedValue":"Tokens
        Per Minute (thousands) - code-cushman-fine-tune-002"},"current[...]
