interactions:
- request:
    body: '{"kind": "OpenAI", "sku": {"name": "S0"}, "location": "westus2", "properties":
      {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002","name":"cs_cli_test_000002","type":"Microsoft.CognitiveServices/accounts","etag":"\"1f01234b-0000-0800-0000-624244ce0000\"","location":"westus2","sku":{"name":"S0"},"kind":"OpenAI","properties":{"endpoint":"https://westus2.api.cognitive.microsoft.com/","internalId":"441e7578776f453b9d4f71276b1707f7","dateCreated":"2022-03-28T23:29:18.4354241Z","callRateLimit":{"rules":[{"key":"openai","renewalPeriod":1,"count":30,"dynamicThrottlingEnabled":false,"matchPatterns":[{"path":"openai/*","method":"*"}]},{"key":"default","renewalPeriod":1,"count":30,"dynamicThrottlingEnabled":false,"matchPatterns":[{"path":"*","method":"*"}]}]},"backupUpperLimit":20,"isMigrated":false,"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","capabilities":[{"name":"VirtualNetworks"}],"endpoints":{"OpenAI
        Language Model Instance API":"https://westus2.api.cognitive.microsoft.com/","OpenAI
        Language Model Instance API 11-01-preview":"https://westus2.api.cognitive.microsoft.com/","OpenAI
        API 2022-03-01-preview":"https://westus2.api.cognitive.microsoft.com/"},"provisioningState":"Creating"},"systemData":{"createdBy":"yuanyang@microsoft.com","createdByType":"User","createdAt":"2022-03-28T23:29:18.3344913Z","lastModifiedBy":"yuanyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-28T23:29:18.3344913Z"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/baea6eed-c9d6-43e0-ba76-fb348e5e84e7?api-version=2017-04-18
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1f01234b-0000-0800-0000-624244ce0000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/baea6eed-c9d6-43e0-ba76-fb348e5e84e7?api-version=2017-04-18
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/baea6eed-c9d6-43e0-ba76-fb348e5e84e7","name":"baea6eed-c9d6-43e0-ba76-fb348e5e84e7","status":"Creating","startTime":"2022-03-28T23:29:18Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/baea6eed-c9d6-43e0-ba76-fb348e5e84e7?api-version=2017-04-18
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus2/operationResults/baea6eed-c9d6-43e0-ba76-fb348e5e84e7","name":"baea6eed-c9d6-43e0-ba76-fb348e5e84e7","status":"Succeeded","startTime":"2022-03-28T23:29:18Z","endTime":"2022-03-29T00:18:43Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002/deployments?api-version=2022-03-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"model": {"format": "OpenAI", "name": "ada", "version":
      "1"}, "scaleSettings": {"scaleType": "Manual", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002/deployments/mock-deployment?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.CognitiveServices/accounts/cs_cli_test_000002/deployments/dpy","type":"Microsoft.CognitiveServices/accounts/deployments","name":"dpy","properties":{"model":{"format":"OpenAI","name":"ada","version":"1"},"scaleSettings":{"scaleType":"Manual","capacity":1},"provisioningState":"Creating"},"systemData":{"createdBy":"yuanyang@microsoft.com","createdByType":"User","createdAt":"2022-03-29T00:19:00.6850395Z","lastModifiedBy":"yuanyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-29T00:19:00.6850395Z"},"etag":"\"384fb15a-48a5-46d5-bc5a-fba1ef7c3246\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"384fb15a-48a5-46d5-bc5a-fba1ef7c3246"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
