interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2203913'
      ocp-aad-diagnostics-server-name:
      - J5W1aFTGa+9Ktpwq7jejrBeOZZl7Fm7rhKv1KngFtPE=
      ocp-aad-session-key:
      - 0rXpqZHcXi_ax09vPiNBvId8LdDOhGhYx9M048D-agcLi_PnKunikKe5-woenv6rmURfoIoSlmfUB1GAfWz4ORHz2vkVn4y8CMUqXe1Hf8WyvquAPMaUEcnqaIMfFlMmsnjxz2D1J2Vh7LeLxgj8xnSxdVrCxVMzp7-xLEyYIYY.mw_IJcWYXNXy-dnfUc4aZLMISZ_AaGM9AiQjFbwbPfQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli_create_rbac_sp_with_cert000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2333785'
      ocp-aad-diagnostics-server-name:
      - zUe8ZYaKatjoHb/aHXtCthgIcK4iubnaPZXyP1+ZA+Q=
      ocp-aad-session-key:
      - hgOSe46DqfNxvzP6ReXwOjiCb35tMYLNVyUFsURMK0L34QJTnqybBNYg1ym-LaS3k3tWUcUPnTiYNRMMxgsoEVGqyQqJs93AWJwwSHrGbJd3aKmowjFqVrEffcw5UT-SU5zBv6tGKYJkpLJPQv-xN2jAPjDVxku_QtA4cfzIHJE.VkD99EFxx75I4bENqKj7LAZdZq-LnZkllLfMGOIYoas
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli_create_rbac_sp_with_cert000001",
      "keyCredentials": [{"startDate": "2020-09-07T08:02:28.46114Z", "endDate": "2021-09-07T08:02:28.46114Z",
      "value": "MIICoTCCAYkCAgPoMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMMCUNMSS1Mb2dp\nbjAiGA8yMDIwMDkwNzA4MDIyN1oYDzIwMjEwOTA3MDgwMjI5WjAUMRIwEAYDVQQD\nDAlDTEktTG9naW4wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDaiBhr\nPEbbOklIjXNizpdmtkWo3dfintWvw8WPuY8M1/e5uy9n5w6VT0856vCYxbHgn0xZ\nb6Tm83Bw8itTD9Ey/cGARFh5ujpwRhdVp1cs4xACorh4hpyLJy0Ixy6tZVBIV06B\nawnQzznmtQ/vL6Rr9JhD6Yi1XahhgHMOLF6/taFedlKYM9p6Sxq3jTU4HkOXtkRK\nOoNmSoaKCfjV/Ot8FOHOL94xmnGfxX2uADOSf+dhzt6yvSvx5V1lrX8N8VvurBX8\nKN9Gd96noG+ymc3TJZCw1PbWAbjj8v/Eknd+1VfnnX/Os2FZoID2VWmgwwGgcAzx\nyyV/TcF1l8vrO28bAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBADgmt/LguUAFKPNM\n82QPsHhgYAyF2GXfaNt5xaNWAs9AeII/TuDutFRetT7d4mz2kHrs1/4arwjA4egO\nrYftnySDQLzi+trgeOSCUitCsSm9ysX6B+kKgHWfxh35jE9JoWkaoCBblIYFc+pp\n6YIY1t2PiCsb1HnQyoOyqMFYTsVGtxbg+gRwp/4EY+jFmsDwkzPZsxIew5gzNiYB\npQ0eXDGQjMLfSCcc14BsdP7/dIX3iHUj+i/2l75ryHMR7rYFa2N+67OLTZvb1s2z\nYlSkPd0KWqmaZ+Jc6QVlrDcynozzHQNXAzNroXaofrklVxxpp0z3+OjVCDOSVwiU\nvWzIFn4=",
      "keyId": "88888888-0000-0000-0000-000000000001", "usage": "Verify", "type":
      "AsymmetricX509Cert"}], "displayName": "cli_create_rbac_sp_with_cert000001",
      "identifierUris": ["http://cli_create_rbac_sp_with_cert000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "d62aa3ad-0b86-4fe8-a163-025b7b32de84", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "a1a9b1a1-5acb-4427-af8c-c75e214de560",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli_create_rbac_sp_with_cert000001", "errorUrl": null,
        "groupMembershipClaims": null, "homepage": "https://cli_create_rbac_sp_with_cert000001",
        "identifierUris": ["http://cli_create_rbac_sp_with_cert000001"], "informationalUrls":
        {"termsOfService": null, "support": null, "privacy": null, "marketing": null},
        "isDeviceOnlyAuthSupported": null, "keyCredentials": [{"customKeyIdentifier":
        "2F557E28F04BA8046E117529A4648368F863DC3A", "endDate": "2021-09-07T08:02:28.46114Z",
        "keyId": "88888888-0000-0000-0000-000000000001", "startDate": "2020-09-07T08:02:28.46114Z",
        "type": "AsymmetricX509Cert", "usage": "Verify", "value": null}], "knownClientApplications":
        [], "logoutUrl": null, "logo@odata.mediaEditLink": "directoryObjects/d62aa3ad-0b86-4fe8-a163-025b7b32de84/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/d62aa3ad-0b86-4fe8-a163-025b7b32de84/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli_create_rbac_sp_with_cert000001 on behalf
        of the signed-in user.", "adminConsentDisplayName": "Access cli_create_rbac_sp_with_cert000001",
        "id": "4c50a62f-98b0-4169-952b-b43d3c252b88", "isEnabled": true, "type": "User",
        "userConsentDescription": "Allow the application to access cli_create_rbac_sp_with_cert000001
        on your behalf.", "userConsentDisplayName": "Access cli_create_rbac_sp_with_cert000001",
        "value": "user_impersonation"}], "oauth2RequirePostResponse": false, "optionalClaims":
        null, "orgRestrictions": [], "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "passwordCredentials": [], "publicClient":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5106460'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d62aa3ad-0b86-4fe8-a163-025b7b32de84/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - hfufYGeQyn5Pi6PUGsgtSbgnWQoj0HViM9+IAB7dSp8=
      ocp-aad-session-key:
      - r5sVHpDNoO2UKUFCPGw5IOyylKe_f83iV4HTiU12cxtcONqzjkV_zLbb4jg0CnGiyYuSgiyvnqImmeaeZdrWAKLBpkvsOQRPvZcx_dqBGqyrA4nB-Kvwh6DlL_0ZvK4yYt2iiZfqnNmVewcT76jdsDhmzPSvBQMkYRuFkbmLDEk.3Cv5G3COsSkjp2Rqpe-YULV-QjhbbA9l3j_bR8my1p4
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "a1a9b1a1-5acb-4427-af8c-c75e214de560"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"d7715695-4665-4845-a99e-9893013479f9","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli_create_rbac_sp_with_cert000001","appId":"a1a9b1a1-5acb-4427-af8c-c75e214de560","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli_create_rbac_sp_with_cert000001","errorUrl":null,"homepage":"https://cli_create_rbac_sp_with_cert000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli_create_rbac_sp_with_cert000001 on behalf of
        the signed-in user.","adminConsentDisplayName":"Access cli_create_rbac_sp_with_cert000001","id":"4c50a62f-98b0-4169-952b-b43d3c252b88","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli_create_rbac_sp_with_cert000001 on your behalf.","userConsentDisplayName":"Access
        cli_create_rbac_sp_with_cert000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["a1a9b1a1-5acb-4427-af8c-c75e214de560","http://cli_create_rbac_sp_with_cert000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3339300'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d7715695-4665-4845-a99e-9893013479f9/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - p38q61VL3vxkaK7bcPBGFXMhnMrGtZZS3iy6gCnTPpA=
      ocp-aad-session-key:
      - 0IbX8kw4Yb8G9nM3Uc60FT3coCSOE6pqIxCcTPbiLv4icg5KXA1TNt6bJnIuK0JJKoz3eT9VmIwxioHLIFPcGy6XsAlZ3Lvx_4Ubb5mjurwJP8mw2ZFQ88D59UkGOPLEHBHryWSvYY7mztUkyfCgub4Q4FL93mhO8XYmsyGNizE.KdOI8f4_tmk50Vkgu4uRp_jv4tynlNS1FtJp6agi1ig
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-08-14T20:15:12.5169529Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "d7715695-4665-4845-a99e-9893013479f9"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=2015-07-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"d7715695-4665-4845-a99e-9893013479f9","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2020-09-07T08:02:31.1391228Z","updatedOn":"2020-09-07T08:02:31.1391228Z","createdBy":null,"updatedBy":"0d504196-1423-4569-9a6e-15149656f0ee"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000002"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_cert000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-08-14T20:15:12.5169529Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "d7715695-4665-4845-a99e-9893013479f9"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_cert000001/providers[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","val[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27a1a9b1a1-5acb-4427-af8c-c75e214de560%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2161136'
      ocp-aad-diagnostics-server-name:
      - HXkvmHH1rvAzstsXxUC6x9utpN62tE8VfUnJzeTK/MI=
      ocp-aad-session-key:
      - C1eYcJjV66VLlYc50an2z2dHn_YlAdgAVLHfRklZW_Dkp7qdDBZaEJ_pBZi8leyZm8RHjGfYxHINRIuux1evPmyMo-xLCMGUCJjLCqsZCKPiRIOEFIER2xyzB34rfnKh07dcTMAfQiDr4IXTZZmi7c5wAOADtwdckUBVMleH-6Y.Ldp8hXnD40-qL2A5BKe2oAWQHmIRSOksGhqEyXXHihg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27a1a9b1a1-5acb-4427-af8c-c75e214de560%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d62aa3ad-0b86-4fe8-a163-025b7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/d62aa3ad-0b86-4fe8-a163-025b7b32de84?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d62aa3ad-0b86-4fe8-a163-025b7b32de84","deletionTimestamp"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_cert000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","obj[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/d62aa3ad-0b86-4fe8-a163-025b7b32de84?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4020474'
      ocp-aad-diagnostics-server-name:
      - IOdsJAPdYTZmB3b4UqQoOs/4ZToSLpTLa0+RwWjnlQc=
      ocp-aad-session-key:
      - M9LpdrGs1Oev5Ku-oufgH0J0p8aThTW3uBn61DWxjJxcAu0baNS6CouJIrD5S-LHjeMUCjyJ9sjxHLtkj9gzWbCwTsfbJW0nfgsnWqvpFqEv0PvW7GPLBkSHmM2ML0Rl7vmdu8M5xPN2rAp4FRm7UD1DnwSJo2c5qAEznoXo05o.bpEY2KIHIcymNHU4wrdjQIKUOnhRAmm_Wf8wo7JvTAU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
