interactions:
- request:
    body: '{"location": "centraluseuap", "tags": {"key": "value"}, "sku": {"name":
      "Standard_S1", "capacity": 1}, "properties": {"publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"webpubsub000002.webpubsub.azure.com","publicPort":443,"serverPort":443,"version":"1.0-preview","privateEndpointConnections":[],"sharedPrivateLinkResources":[],"tls":{"clientCertEnabled":false},"features":[{"flag":"EnableConnectivityLogs","value":"False","properties":{}},{"flag":"EnableMessagingLogs","value":"False","properties":{}},{"flag":"EnableLiveTrace","value":"False","properties":{}}],"eventHandler":{"items":null},"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI","Trace"],"deny":null},"privateEndpoints":[]},"publicNetworkAccess":"Enabled"},"systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2021-04-20T02:31:42.0836526Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-04-20T02:31:42.0836526Z"},"location":"centraluseuap","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/WebPubSub/webpubsub000002","name":"webpubsub000002","type":"Microsoft.SignalRService/WebPubSub"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationStatuses/c8175171-049f-4bb5-b18d-3a7ab33345af/WebPubSub/webpubsub000002?api-version=2021-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationResults/c8175171-049f-4bb5-b18d-3a7ab33345af/WebPubSub/webpubsub000002?api-version=2021-04-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - a2f7c14d-3749-40f0-a36e-ddee0281a049
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationStatuses/c8175171-049f-4bb5-b18d-3a7ab33345af/WebPubSub/webpubsub000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationStatuses/c8175171-049f-4bb5-b18d-3a7ab33345af/WebPubSub/webpubsub000002","name":"c8175171-049f-4bb5-b18d-3a7ab33345af","status":"Running","startTime":"2021-04-20T02:31:44.3467265Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - a2f7c14d-3749-40f0-a36e-ddee0281a049
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationStatuses/c8175171-049f-4bb5-b18d-3a7ab33345af/WebPubSub/webpubsub000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationStatuses/c8175171-049f-4bb5-b18d-3a7ab33345af/WebPubSub/webpubsub000002","name":"c8175171-049f-4bb5-b18d-3a7ab33345af","status":"Succeeded","startTime":"2021-04-20T02:31:44.3467265Z","endTime":"2021-04-20T02:32:54.5291751Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - a2f7c14d-3749-40f0-a36e-ddee0281a049
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"eventHandler": {"items": {"myHub": [{"urlTemplate": "http://host.com",
      "userEventPattern": "event1,event2", "systemEventPattern": "connect"}]}}, "publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/webPubSub/webpubsub000002?api-version=2021-04-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationStatuses/7107b05b-56cb-498d-b246-9973b203b23b/WebPubSub/webpubsub000002?api-version=2021-04-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/centraluseuap/operationResults/7107b05b-56cb-498d-b246-9973b203b23b/WebPubSub/webpubsub000002?api-version=2021-04-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - a2f7c14d-3749-40f0-a36e-ddee0281a049
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/webPubSub?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":20},"properties":{"provisioningState":"Succeeded","externalIP":"168.61.142.65","hostName":"chenylwpscli1.webpubsub.azure.com","publicPort":443,"serverPort":443,"version":"1.0","privateEndpointConnections":[],"sharedPrivateLinkResources":[],"tls":{"clientCertEnabled":false},"features":[{"flag":"EnableConnectivityLogs","value":"False","properties":{}},{"flag":"EnableMessagingLogs","value":"False","properties":{}},{"flag":"EnableLiveTrace","value":"False","properties":{}}],"eventHandler":{"items":{"hub1":[{"urlTemplate":"https://abc.com","userEventPattern":"a","systemEventPattern":null}]}},"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI","Trace"],"deny":null},"privateEndpoints":[]},"publicNetworkAccess":"Enabled"},"systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2021-04-14T09:25:52.860159Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-04-19T07:49:28.111[...]
[...]
