interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201705-217089190378988/providers/Microsoft.Consumption/usageDetails?$expand=meterDetails&$filter=usageEnd%20ge%202017-03-03T23%3A59%3A59Z%20and%20usageEnd%20le%202017-04-04T23%3A59%3A59Z&$top=5&api-version=2017-04-24-preview
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/4d8c2ef3374a337ce1fd755fb8b69840","type":"Microsoft.Consumption/usageDetails","name":"4d8c2ef3374a337ce1fd755fb8b69840","tags":{"AccountName":"abcd","PoolName":"hjkl","MeteredService":"Compute","MeteredServiceType":"External","CloudServiceName":"304F6604-3F74-4D34-88CB-9CE0AFE7FAE2-CloudService","PoolSubscriptionId":"7122b0e6-cf8f-4ce6-9bd3-d700ed2bcc03"},"properties":{"billingPeriodId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201705-1","invoiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201705-217089190378988","usageStart":"2017-04-04T00:00:00Z","usageEnd":"2017-04-04T23:59:59Z","instanceName":"abcd","instanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/abcdef/providers/Microsoft.Batch/batchAccounts/abcd","instanceLocation":"krsouth","currency":"USD","usageQuantity":0.000273,"billableQuantity":0.0,"pretaxCost":0.0,"isEstimated":false,"meterId":"fe167397-a38d-43c3-9bb3-8e2907e56a41","meterDetails":{"meterName":"Data
        Transfer Out (GB)","meterCategory":"Networking","unit":"GB","meterLocation":"Zone
        2","totalIncludedQuantity":5.00000000}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/96a719e9972f564e3904d122c43cfc0d","type":"Microsoft.Consumption/usageDetails","name":"96a719e9972f564e3904d122c43cfc0d","properties":{"billingPeriodId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201705-1","invoiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201705-217089190378988","usageStart":"2017-04-04T00:00:00Z","usageEnd":"2017-04-04T23:59:59Z","instanceName":"SSSSS","instanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NewSearchGroup/providers/Microsoft.HDInsight/clusters/SSSSS","instanceLocation":"westus","currency":"USD","usageQuantity":30.0,"billableQuantity":30.0,"pretaxCost":9.600027807428065950698902935,"isEstimated":false,"meterId":"fa9dc70f-f562-44af-b965-b4576aefed95","meterDetails":{"meterName":"Compute
        Hours","meterCategory":"Business Analytics","meterSubCategory":"A3 HDInsight
        (Non-Windows)","unit":"Hours","totalIncludedQuantity":0.00000000,"pretaxStandardRate":0.3200}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/f07199feb5a5dabb6795a1fa1276b46a","type":"Microsoft.Consumption/usageDetails","name":"f07199feb5a5dabb6795a1fa1276b46a","properties":{"billingPeriodId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201705-1","invoiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201705-217089190378988","u[...]
