interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '628602'
      ocp-aad-diagnostics-server-name:
      - Fo1QicrIhHj2KR1ZzWvNa2KLRHgOjpt7/hmcNDActAs=
      ocp-aad-session-key:
      - rNgp3-lp7SUQqzLiX95nY6ktksntBm272y1OlX4IWlR02Gb86t7-4kgITeMvAIGhWlFRBFPPcQfXMJG_B9MRKehCuU6q-lMEZZjcTShFI8jZ67RI-2UI6hQOziHjGeVhUjDVrO6Dwriez7jXKsRPkQ.3N-PgQ85ozWok1ZZ6GZgtgLKkqkaSnkw5szH1CM2OEo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "identifierUris": ["http://cli-app-000001"],
      "displayName": "cli-app-000001", "homepage": "https://cli-app-000001", "passwordCredentials":
      [{"endDate": "2020-03-12T19:54:25.212421Z", "startDate": "2019-03-12T19:54:25.212421Z",
      "customKeyIdentifier": "//5yAGIAYQBjAA==", "value": "71d12816-2581-4a69-89ab-e4c93e6d514a",
      "keyId": "6bf363b9-591d-4454-955d-5689f7b177e9"}]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"25ab3d31-f7e5-4d24-ac5e-34db171cd603","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"8afa51a1-6bcc-4ec0-973f-cba9e9f98071","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-app-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli-app-000001","identifierUris":["http://cli-app-000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/25ab3d31-f7e5-4d24-ac5e-34db171cd603/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/25ab3d31-f7e5-4d24-ac5e-34db171cd603/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"82ec2cc1-d2a7-4198-bd6a-42b23b4618c9","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-03-12T19:54:25.212421Z","keyId":"6bf363b9-591d-4454-955d-5689f7b177e9","startDate":"2019-03-12T19:54:25.212421Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5124333'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/25ab3d31-f7e5-4d24-ac5e-34db171cd603/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - 5uQDuWNQfMZyayPDO2FzgKiYgsjpZMmhw8GRP+g4gGA=
      ocp-aad-session-key:
      - Ihs2bjtuNirCk3-LGmcKQvftNMjiDJyeEmlT7qofEGrbEAdZD8ksQbOD4xgUYFf0B448jGstkZtMHE6UWaY2mOSbUpsdF51lEAyqpcKF_TSrXiGBnLENGgpkhvsBZjjyRdaBYt71nSsSbroR2uTzEQ.Yoy1fYqXo8Tamf-zG-i9P8-vIv5UAtLEIoUrdaekWE8
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"appId": "8afa51a1-6bcc-4ec0-973f-cba9e9f98071", "accountEnabled": "True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4d345390-cf32-454b-b505-72351f73e6a0","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"8afa51a1-6bcc-4ec0-973f-cba9e9f98071","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"82ec2cc1-d2a7-4198-bd6a-42b23b4618c9","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["8afa51a1-6bcc-4ec0-973f-cba9e9f98071","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2494998'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/4d345390-cf32-454b-b505-72351f73e6a0/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - nzVAAlQLs5CTlSDySYD5R0ZEQHgP45Mt3jtr6wRrsuA=
      ocp-aad-session-key:
      - 2Yv9o_c3XVfcl3D7dpsaqRAVATa6s87YwyL89fPbMgcRbIBf2bEhRk4JJ5ph3QP253LNiZ4_xCp6OtbsXVHUJUEqdqj938kcTtYAi_zkdtJVEAWvzj3kPA8EdjPe58a6Eja1uQyzA5oorwfr83wMMA.HMKHNN-SjmgC2mC_zwXGw_DWOgWcV5Y_4uxTi6Dxm7w
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%278afa51a1-6bcc-4ec0-973f-cba9e9f98071%27%29
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '594213'
      ocp-aad-diagnostics-server-name:
      - BOyHBDAxSIKAYJlLPcX4gbSnf6edPNykjDKKitPiTVQ=
      ocp-aad-session-key:
      - fJvTwfH0vtHuDU3BhfQEZEwwwQF_e5c5MbEjxR3q4tuWW6WpNwegoyF8fEB1OaNJmjmrHTM4UN8hm3150QXkht0BA03bgbJFiCipSjaXM6lL9Ryar9dxizmHub_V0PfEiXKaY-ef_QfNCJE81gv6Sw.XKT2p-po83uPISa4FHvvjvr8cNubQ7HVcnDPg7b0-ro
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=appId%20eq%20%278afa51a1-6bcc-4ec0-973f-cba9e9f98071%27
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"25ab3d31-f7e5-4d24-ac5e-34db1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/25ab3d31-f7e5-4d24-ac5e-34db171cd603?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"25ab3d31-f7e5-4d24-ac5e-34db171cd603","deletionTimestamp"[...]
- request:
    body: '{"requiredResourceAccess": [{"resourceAppId": "00000002-0000-0000-c000-000000000000",
      "resourceAccess": [{"id": "a42657d6-7f20-40e3-b6f0-cee03008a62a", "type": "Scope"}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/25ab3d31-f7e5-4d24-ac5e-34db171cd603?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3849977'
      ocp-aad-diagnostics-server-name:
      - gs8C01f5KRN9nNLnTmZX5CWrEWq6NpXoaIB755uhVTs=
      ocp-aad-session-key:
      - pE6RNIQYSjsJ14yMdCTl8I93h6gHcu4_ii_sb_YNqlQAdIR-ZyJGYxwaN1J2sRBCYaLaz8VvbzbkyoTaikvLvPvmjUspRxtvyxtWBFkzF4zFXJmq_FqTWbjxqL9ZPDhDNaRae_GkI7AdHiBMiW4cdQ.KfMDEj-PNpqCbeKMf4P-QKGNssWEdYTsA_gNuBzJOEc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%278afa51a1-6bcc-4ec0-973f-cba9e9f98071%27%29
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000002-0000-0000-c000-000000000000%27%29
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"fba255ef-08f7-4f9b-b673-318fcb87f042","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Windows
        Azure Active Directory","appId":"00000002-0000-0000-c000-000000000000","appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read and write all domain properties without a signed in user.  Also
        allows the app to add,  verify and remove domains.","displayName":"Read and
        write domains","id":"aaff0dfd-0295-48b6-a5cc-9f465bc87928","isEnabled":true,"value":"Domain.ReadWrite.All"},{"allowedMemberTypes":["Application"],"description":"Allows
        the app to create, read, update and delete applications and service principals
        without a signed-in user.  Does not allow managem[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?api-version=1.6&$filter=clientId%20eq%20%274d345390-cf32-454b-b505-72351f73e6a0%27
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '514656'
      ocp-aad-diagnostics-server-name:
      - IvZLzCWcIFkxniLh6wneapEsVoTEBBYbEdFPeHsJSbc=
      ocp-aad-session-key:
      - JB6UEKqd2aqRsXnfxInmUkHcgMEv2p_6IMTwk5BTux4ICbgY6ez7PmURmZ6hSehAORJVQRibf1Eqf0Ko5VrywrfOPPdQDpvh74mkl_x6EqK8I7xKVz6p3vS19ifogJaIK0YwQn21UaeDNNOZeTFyZw.LvWBi69nlqiFvMRoAiuwDcCNqczSyuuc6Gn74F2Iqsw
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"clientId": "4d345390-cf32-454b-b505-72351f73e6a0", "odata.type": "Microsoft.DirectoryServices.OAuth2PermissionGrant",
      "resourceId": "fba255ef-08f7-4f9b-b673-318fcb87f042", "expiryTime": "2020-03-12T19:54:28.310403",
      "startTime": "2019-03-12T19:54:28.310403", "consentType": "AllPrincipals", "scope":
      "user_impersonation"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants/@Element","clientId":"4d345390-cf32-454b-b505-72351f73e6a0","consentType":"AllPrincipals","expiryTime":"2020-03-12T19:54:28.310403","objectId":"kFM0TTLPS0W1BXI1H3PmoO9Vovv3CJtPtnMxj8uH8EI","principalId":null,"resourceId":"fba255ef-08f7-4f9b-b673-318fcb87f042","scope":"user_impersonation","startTime":"2019-03-12T19:54:28.310403"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2325095'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants/kFM0TTLPS0W1BXI1H3PmoO9Vovv3CJtPtnMxj8uH8EI
      ocp-aad-diagnostics-server-name:
      - Gb2x7qjWXmcL1WXWw2JJMQYvUggHuquZ6MYO+AXjTx8=
      ocp-aad-session-key:
      - qgVZsoIzzv9AaZAY9SWIFYe04fdG9rxSdHBmaziVOvNSS_36Ll9zKaaD0h0__CNHYBJEZ2xKUi0mResDRUlDArKPtY8XFnB3VSjpL_RF7wlIHE_fyIR6hLeW1-UQm2qwrNrOMreaxSi_55yJfD4VVA.-hzPGUEV29tcyxK2KxWxXyk98x6FRFbWAy2JkCth1fM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/fba255ef-08f7-4f9b-b673-318fcb87f042?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"fba255ef-08f7-4f9b-b673-318fcb87f042","del[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants/kFM0TTLPS0W1BXI1H3PmoO9Vovv3CJtPtnMxj8uH8EI?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2210185'
      ocp-aad-diagnostics-server-name:
      - YPZ+mmPL+OBXd1POeb7UT5BEZEjGrQEKHfYavB10Rao=
      ocp-aad-session-key:
      - obGnhxcCiJTptE_RWgpiQuXn2vHm2sQZCyLRr9x4PAsskZcRaJe2Y7J0si5C8WI5Z4KjeRmVmRdvrN_UIJl7P6-OF921ns6-bOKz43Gr3aNYrAsnBifWHK3eGvSQ1gwN4rQNhSqrzRmnBr7aa0zHvw.e_KRFOjKvCl3fLkZd9mFZ5_VP1_LS4ISZP5ozy_3ec8
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
