interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '660274'
      ocp-aad-diagnostics-server-name:
      - gXfFarcv2ysN8TtqVPgD1PYEnzY+oOLIPXpP5S4Cj3o=
      ocp-aad-session-key:
      - _LKSnuO9QAj1d4pMDFY0NdFefQ3bbiCZJpjw_beKkT6l7_zm9pgmEdr2t3EbrmNPRvp9h-vVmdzX9P6py0pAJyLE-pdLQl7pdYhEpZ7lE5PAs3DlQ91zeUk_vEMHel__.C8rRvHFGExBNN88Xs_vpYDVs_l8Xw9cB3mJa1VqJ7r4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"identifierUris": ["http://cli-app-000001"], "availableToOtherTenants":
      false, "passwordCredentials": [{"endDate": "2020-03-15T05:02:03.791859Z", "customKeyIdentifier":
      "//5yAGIAYQBjAA==", "keyId": "07c95907-800c-40c1-8ff8-1763e8a95604", "value":
      "e6a93bff-e04e-41ef-9482-95f82186d769", "startDate": "2019-03-15T05:02:03.791859Z"}],
      "displayName": "cli-app-000001", "homepage": "https://cli-app-000001"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"a7227eb0-1a3b-4227-880a-96b442abe1cc","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"31f785ab-5fb9-4e23-86cb-aab687c0ffe4","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-app-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli-app-000001","identifierUris":["http://cli-app-000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/a7227eb0-1a3b-4227-880a-96b442abe1cc/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/a7227eb0-1a3b-4227-880a-96b442abe1cc/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"2839ee05-67b9-41a7-9acf-42d3d8306441","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-03-15T05:02:03.791859Z","keyId":"07c95907-800c-40c1-8ff8-1763e8a95604","startDate":"2019-03-15T05:02:03.791859Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6014344'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/a7227eb0-1a3b-4227-880a-96b442abe1cc/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - ZjHZO3O4NIf+M/e/Wc/l43gSl5nmFS4mWXsN6QDBGBw=
      ocp-aad-session-key:
      - n6-4Iu-RZXv0FLLdYYEHpPcfm2FooB-nJEhYniPDp-oz1Nmx6LLn6GTdstc2-7P7ylyTEAhFLoO-ul4ywX73--MHdpH8tVpG4XaySCOgjAKEC33TGvOEmhThTszXmaleBbu3Ro3gEiEO9qa2PsFVew.jD1oaU1i3ymhkkZ_BEW6OpBicbsuhgH2TckVzj_C4Js
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"appId": "31f785ab-5fb9-4e23-86cb-aab687c0ffe4", "accountEnabled": "True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a27821df-3d39-4764-aefb-8beabaecbb05","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"31f785ab-5fb9-4e23-86cb-aab687c0ffe4","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"2839ee05-67b9-41a7-9acf-42d3d8306441","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["31f785ab-5fb9-4e23-86cb-aab687c0ffe4","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2497871'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/a27821df-3d39-4764-aefb-8beabaecbb05/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - s2UwUVi+htM/n2YkhPwXRPeUZqg0DtftoAt5dzpH0b8=
      ocp-aad-session-key:
      - I29kTZpEiDfp2jSFoHNURCIP75uzPxL6Z9hhMSYABQuYy8QZumpH1C0fk1cbh6E8rIm22_41gwPvv5eCbiG_gvdHEeV6nZkK0i-cXYq5x7ZxSDLgXV-cPcg-QGpqIq1tgi5XEr-JbvR0GQ95W6L0-g.ftQTUoQcEYEhs5LbrVZyYLrD8MPneQAJhkNLoD_BgEQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","o[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/a27821df-3d39-4764-aefb-8beabaecbb05?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a27821df-3d39-4764-aefb-8beabaecbb05","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"a7227eb0-1a3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/a7227eb0-1a3b-4227-880a-96b442abe1cc/passwordCredentials?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)","value":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-03-15T05:02:03.791859Z","keyId":"07c95907-800c-40c1-8ff8-1763e8a95604","startDate":"2019-03-15T05:02:03.791859Z","value":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '985404'
      ocp-aad-diagnostics-server-name:
      - 4ccdJd4mkkHNssd76DGmxOgl+8nnZCpcIYgj8ttmA9c=
      ocp-aad-session-key:
      - lIzsqdYTy4738VEPiZgFQizSj8ERSYdeTSCMZbDE_VkQ6EN4XROGoBS9B80gu8MuwxN47lXjx2quGYOfb8S1VvgP93JKeN0uxqCEjS8sTVsxlo5Exd1xQDldVNExpuuTK-Q97410k7902WJBWpG1wQ.86u_u6VCCgcc5yPKnLz26bWr2lolTt5wU2i_qDxXV8M
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fcli-app-000001%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%2731f785ab-5fb9-4e23-86cb-aab687c0ffe4%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '566114'
      ocp-aad-diagnostics-server-name:
      - MjPAJVvgC3key9HyT1tst0r01pKZJnpyPQ4YiB+LaOA=
      ocp-aad-session-key:
      - 7JUCqb9iFjkmIPuxZ9IvBZZQBcJ4s4nlUMC4SL1kUkCcNj204bKBWDgmLwBzpQp8q1PB5waSlHKdQ9beAbhyNDp1bgJYIC3W-YfYhu0oHdRmCAmUBvgymsSNjlTCOFfQWjmJahCrgyyIPtzlvL7NLg.tvzp7DhLwdW2J_KoZd7OiQe7tn75wJxOtszrPOnyeTI
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%2731f785ab-5fb9-4e23-86cb-aab687c0ffe4%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"a7227eb0-1a3b-4227-880a-96b44[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/a7227eb0-1a3b-4227-880a-96b442abe1cc?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"a7227eb0-1a3b-4227-880a-96b442abe1cc","deletionTimestamp"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/a7227eb0-1a3b-4227-880a-96b442abe1cc?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4652742'
      ocp-aad-diagnostics-server-name:
      - 0srqSnL++QndRiokVAFWd21bIKwfjfUuiaZB90zgWfk=
      ocp-aad-session-key:
      - Zsay8dTaXiFySIHjB8pCHiP9592EkzTqOJJa8rQfrQbUJUJR6kRjjazoR5tsureNKE2Ks_BxS2peyH7rTQX7r85kjVQKOa1k8rVbSHhmxDDU5rh-pQHmroMPQ4H2FiZYgdOGQnnqvJ-A9U8_SWYe0g.DiaudnUNTW43C7zK34ZJ6c9OyFvx5G4md_Qy1N-L0kU
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
