interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['469086']
      ocp-aad-diagnostics-server-name: [Fo1QicrIhHj2KR1ZzWvNa2KLRHgOjpt7/hmcNDActAs=]
      ocp-aad-session-key: [2pa69N5xxJqly9j1npoA-3_w88jeuUXxTdA3droiGt5bShsMWQo3iwowGXbfhVmpDFfGbi3txcxJPbIr9XrDFZdiCwe79-sVPxzioN7YZFbumD7-yxNMnBKOuAzPrvrl.zWbQJhjMd1pMtADZy3BkUjnxdDaTH1tOUeHGFwrZAzI]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"identifierUris": ["http://cli-app-000001"], "passwordCredentials":
      [{"endDate": "2019-11-26T03:16:59.665363Z", "customKeyIdentifier": "//5yAGIAYQBjAA==",
      "value": "70f6cf07-b7a7-4aa6-8f34-5b38e2f3f357", "keyId": "011674bd-f4f5-4588-8296-1ad362010395",
      "startDate": "2018-11-26T03:16:59.665363Z"}], "availableToOtherTenants": false,
      "displayName": "cli-app-000001", "homepage": "https://cli-app-000001"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"f7058ad9-ab6c-4337-badc-9b8841461581","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"9a0892fc-a72f-4e64-8499-31e813f205f5","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-app-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli-app-000001","identifierUris":["http://cli-app-000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"40bc868a-651c-4b0b-9ddf-ce4fd350164e","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2019-11-26T03:16:59.665363Z","keyId":"011674bd-f4f5-4588-8296-1ad362010395","startDate":"2018-11-26T03:16:59.665363Z","value":null}],"publicClient":null,"publisherDomain":"walterwyghotmail.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4840759']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/f7058ad9-ab6c-4337-badc-9b8841461581/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [wyZ2chLc7keUKHMJZ5WTQztb1eGl2liBganf3B36Fuk=]
      ocp-aad-session-key: [XkTVxLG0sybJhqW-GGxRSEgG5vcUWqnBSbXoULYOTtfbMdKdP0XjKULM8byja8dCrlSwq0ua1rJ6ut-xBHHolfS0k3AG7SgfZxzWnPaUqqfmRCAOQoJRwsdpnc2P9MBS8gz-R0T1r5tV8L6wdrQM7w.sHAUzixmy5gZQn8GxJ6wlO-HJmR-Jtqz4siI7Wg11Gs]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": true, "appId": "9a0892fc-a72f-4e64-8499-31e813f205f5"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4bcfe84d-40de-47ce-a1e0-2466086a916a","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"9a0892fc-a72f-4e64-8499-31e813f205f5","appOwnerTenantId":"26833e2e-ee80-4a9d-b24c-ffe135b7ff87","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"40bc868a-651c-4b0b-9ddf-ce4fd350164e","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Default
        Directory","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["9a0892fc-a72f-4e64-8499-31e813f205f5","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['2253181']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/4bcfe84d-40de-47ce-a1e0-2466086a916a/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [nz/XGp5Lt3UpE9jJSAaQvlkMcNgkH4RQOBn3fI2s7Mc=]
      ocp-aad-session-key: [9HxjY-IImFPnj2fLJ1U2e-fwVZ1zDM1fEwwLHM3W--PfT-xO9slm4WaZl2Y4HC319kY8qwmNBRxoE81fCprxHvUwIe2z45wE7OiAGwuuTT9ckb5ojqquq7pzbMdom9-FsrYcUqFKMnJ8e1H1GEmRWg.fukC5MkHS6YpvqR8TBIpF5RxrwmsPahAZTgP0VSx67Y]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","object[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/4bcfe84d-40de-47ce-a1e0-2466086a916a?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4bcfe84d-40de-47ce-a1e0-2466086a916a","deletion[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"f7058ad9-ab6c-4337-badc-9b8841461581","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"9a0892fc-a72f-4e64-8499-31e813f205f5","appRoles":[],"availableToOtherTenants":false,"displayName":"cli-app-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli-app-000001","identifierUris":["http://cli-app-000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/f7058ad9-ab6c-4337-badc-9b8841461581/Microsoft.DirectoryServices.Application/logo","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/f7058ad9-ab6c-4337-badc-9b8841461581/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"40bc868a-651c-4b0b-9ddf-ce4fd350164e","isEnabled":true,"type":"User","userConsentDescrip[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/f7058ad9-ab6c-4337-badc-9b8841461581/passwordCredentials?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)","value":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2019-11-26T03:16:59.665363Z","keyId":"011674bd-f4f5-4588-8296-1ad362010395","startDate":"2018-11-26T03:16:59.665363Z","value":null}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['473329']
      ocp-aad-diagnostics-server-name: [lmh4uV9dRst8pgCGYL7c2IeXRHfrviQ1EsDxe5f7RfI=]
      ocp-aad-session-key: [ucVJgyZIMVtt-8M8WsixVfrAVexCaxU9BSe_QuvAWGJcZ5xPDIqE6SVV_9D-2s82I6oK2IcTwrtkyUJmldGrCDjqu6qfqho67mXkjJ0T1cUtEo2SK-qOoGyRiCzHd3178T5fml05JALc9UQplCDWQA.Ric1_t1T1zcpwWl6VDJTKY1lvXqYeUdpbgjyXyDyTvg]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fcli-app-000001%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%279a0892fc-a72f-4e64-8499-31e813f205f5%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['298601']
      ocp-aad-diagnostics-server-name: [s2UwUVi+htM/n2YkhPwXRPeUZqg0DtftoAt5dzpH0b8=]
      ocp-aad-session-key: [hD1VXDnHEPw963eON_DzOGCsE5CQg_4JKrFHqOHOMfELEoJPxWKS7hTMdrkAIiZfP2r7eV8EVfgMkdU3CFwfHUh9ebOeAJtrXTuiEQG9TtCGuEku0HcUGGnuS8-4nFSaZbUphnbn5t9tBOWRLQacJA.015QDel2GK6KpCoDpUYEwbbL6xgaM5vimJuryjpCRqU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=appId%20eq%20%279a0892fc-a72f-4e64-8499-31e813f205f5%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"f7058ad9-ab6c-4337-badc-9b88414615[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/f7058ad9-ab6c-4337-badc-9b8841461581?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"f7058ad9-ab6c-4337-badc-9b8841461581","deletionTimestamp":null[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/f7058ad9-ab6c-4337-badc-9b8841461581?api-version=1.6
  response:
    body: {string: ''}
    headers:
      duration: ['3663378']
      ocp-aad-diagnostics-server-name: [wxTJ9LAVu6rJckmzKPdCGIT+txU9u3PTf1/IKRCG7+c=]
      ocp-aad-session-key: [dpwst3XAEoii23nNb0FyAOqPhaDee1gvYzAD7u6UKawj2s4UhgzkZmhPJAivedm7rDB8tDG7rhCMJacNYi-PxjVq0gn5s6lVVvaKUsZayr6JNYx6pfwmvbXv4i72TY8QUDEV6Z0w5KGqlW2EZb0M_Q.fVRIXdzY0hruVh8y3-eoFKgrnpZGIf-gMVQKD3X8HdU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
version: 1
