interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "date": "2018-08-11T16:56:14Z",
      "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_assignments_for_coadmins000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_assignments_for_coadmins000001","name":"cli_test_assignments_for_coadmins000001","location":"westus","tags":{"product":"azurecli","date":"2018-08-11T16:56:14Z","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","principalId":"b3d04e67-a59d-472a-984d-55b2d09b3ccb","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2018-01-29T19:13:34.6432127Z","updatedOn":"2018-01-29T19:13:34.6432127Z","createdBy":"5963f50c-7c43-405c-af7e-53294de76abd","updatedBy":"5963f50c-7c43-405c-af7e-53294de76abd"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/c9783116-ace4-4d76-95ee-9208239c071d","type":"Microsoft.Authorization/roleAssignments","name":"c9783116-ace4-4d76-95ee-9208239c071d"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"086f476b-db1c-473c-af4d-de762942233e","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2018-07-12T05:08:08.3627108Z","updatedOn":"2018-07-12T05:08:08.3627108Z",[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/classicAdministrators?api-version=2015-06-01
  response:
    body: {string: '{"value":[{"properties":{"emailAddress":"cadaco@microsoft.com","role":"ServiceAdministrator"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/classicAdministrators/10037FFE801AB1CA","type":"Microsoft.Authorization/classicAdministrators","name":"10037FFE801AB1CA"},{"properties":{"emailAddress":"markcowl@microsoft.com","role":"CoAdministrator"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/classicAdministrators/10030000801BEB7B","type":"Microsoft.Authorization/classicAdministra[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27cadaco%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27markcowl%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27janezhou%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27markcowl%40live.com%27%20or%20userPrincipalName%20eq%20%27admin%40AzureSDKTeam.onmicrosoft.com%27%20or%20userPrincipalName%20eq%20%27admin2%40AzureSDKTeam.onmicrosoft.com%27%20or%20userPrincipalName%20eq%20%27amzavery%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27hovsepm%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27jianghlu%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27mayurid%40microsoft.com%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"7a938a30-4226-420e-996f-4d48bca6d537","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2016-01-06T02:09:42Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Admin","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2018-02-15T20:46:54Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"admin@AzureSDKTeam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"},{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":[],"skuId":"a403ebcc-fae0-4ca2-8c8c-7a907fd6c235"}],"assignedPlans":[{"assignedTimestamp":"2017-12-07T23:01:21Z","capabilityStatus":"Enabled","service":"AzureAnalysis","servicePlanId":"2049e525-b859-401b-b2a0-e0a31c4b1fe4"}],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2016-01-06T17:18:25Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2018-06-29T20:46:18Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":"US","userIdentities":[],"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['497720']
      ocp-aad-diagnostics-server-name: [YPCVOwAR3XOdfRvDdWZX3yHf1fnOOll9dsEetoCYv9Y=]
      ocp-aad-session-key: [WCZfjynb-c1zhcWItWv5BfJ2Pni7lyOqMYGcFDwpTDUbauXlRWMbzMhWBj2ucJNOTCM79-Q3fyBmpGIyHKELo7-Qeez5ahwVMCvpcD0Ve6cieAL6v4qg2QlXPLdaa7AY.rq8AUHzAFDa4EDf6U0P55iV7HyW2Ww3VZBTC3F1uSIc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27yugangw%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27admin3%40azuresdkteam.onmicrosoft.com%27%20or%20userPrincipalName%20eq%20%27asirveda%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27lmazuel%40microsoft.com%27%20or%20userPrincipalName%20eq%20%27adptest%40micr[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body: {string: "{\"value\":[{\"properties\":{\"roleName\":\"cli-test-roleb3inxew\",\"type\":\"CustomRole\",\"description\":\"Can
        monitor compute, network and storage, and restart virtual machines\",\"assignableScopes\":[\"/subscriptions/00000000-0000-0000-0000-000000000000\"],\"permissions\":[{\"actions\":[\"Microsoft.Compute/*/read\",\"Microsoft.Compute/virtualMachines/start/action\",\"Microsoft.Compute/virtualMachines/restart/action\",\"Microsoft.Network/*/read\",\"Microsoft.Storage/*/read\",\"Microsoft.Authorization/*/read\",\"Microsoft.Resources/subscriptions/resourceGroups/read\",\"Microsoft.Resources/subscriptions/resourceGroups/resources/read\",\"Microsoft.Insights/alertRules/*\",\"Microsoft.Support/*\"],\"notActions\":[],\"dataActions\":[\"Microsoft.Storage/storageAccounts/blobServices/containers/blobs/*\"],\"notDataActions\":[\"Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write\"]}],\"createdOn\":\"2018-04-27T05:36:16.3289170Z\",\"updatedOn\":\"2018-04-27T05:36:16.3289170Z\",\"createdBy\":\"93a01e49-673a-4e15-8230-51214a737962\",\"updatedBy\":\"93a01e49-673a-4e15-8230-51214a737962\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/c73a5f3a-180e-4724-b522-a8b65f0ffb9b\",\"type\":\"Microsoft.Authorization/roleDefinitions\",\"name\":\"c73[...]
- request:
    body: '{"objectIds": ["5e368f3c-45f3-4304-af5b-7624a3ae2662", "7bc6d9a8-8e5d-4836-9359-a01badceb820",
      "471b7117-84ba-4239-96c1-8379c67d9ff6", "e0ab6f66-c88c-424f-a88a-935f50f4e6cb",
      "ef786e3d-8aed-4e9b-a622-3eeaeee3445e", "060d3fd7-d5cd-48bb-abe0-48048bbd46e7",
      "177fcfb4-9d28-4a61-8930-840aaea2312d", "343e052c-4d73-4c69-bacc-c2fa5988ce4d",
      "8705db5d-c085-48b6-a8d5-1420c935b4b8", "64cedab6-4f3b-4ccd-88d3-cb16ca5dea63",
      "d193e88a-f6cd-42a0-8088-8c2218dfa425", "4b4009b8-a254-4e6d-aaeb-b2c[...]
