interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-04-14T03:47:20Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_create_rbac_sp_minimal000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_minimal000001","name":"cli_create_rbac_sp_minimal000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-04-14T03:47:20Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_minimal000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '596633'
      ocp-aad-diagnostics-server-name:
      - Lvh0/G78olXOk4T0L5DDgaqMqxW05ALila/UzU46pxE=
      ocp-aad-session-key:
      - zIPjuOpgNNPH3qvwf8UPh_X9aeD-sU60R-XpCbTKV54K9Rvask8Vc8VBIjwnFnalTTSwi6ZXyHJbYQ0NX38PhwrCNKQfdI14pHTq0U0Uk9AksDeGiTUnNri9k6HkdrPOJpjleG4xgyFeYv2uaOp0FA.370xXG641A8ugBefLK_SsI3i-lmbCp5Bcf9Qn0Vhx7c
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli_create_rbac_sp_minimal000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '508728'
      ocp-aad-diagnostics-server-name:
      - R24SEsKL6l8WwGja0LsRtb5gfSEzPaANsccbqgL6qjQ=
      ocp-aad-session-key:
      - 838Yn-z6XSuMlVdBxHMbHbYvtjdQ17lTiMdUYbzDjr5zowTGj1tjMIogV9vbjdmfZ4AP1XEMsAf707mMgkrRRqPTTTmM4R9ab39USb-zVdjA62krHrJzVmFDVZ_wIMjItRbgbG6bp5eMTgg7wvmbyg.6Vh43aoFoJ5CeQIU3hv6totvet2i1oBjdAPvHhVah6c
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://cli_create_rbac_sp_minimal000001",
      "passwordCredentials": [{"startDate": "2019-04-14T03:47:26.051361Z", "endDate":
      "2020-04-14T03:47:26.051361Z", "keyId": "4b4a7238-52ff-430c-9f13-e2db543b11c2",
      "value": "33214882-f7fb-476b-8392-4ea467f089da", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli_create_rbac_sp_minimal000001", "identifierUris": ["http://cli_create_rbac_sp_minimal000001"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"672798f5-335c-4673-a59b-f83bab7b820e","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"77aa97b9-b8e0-47a1-88a1-a8f9aac1c6c7","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"cli_create_rbac_sp_minimal000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli_create_rbac_sp_minimal000001","identifierUris":["http://cli_create_rbac_sp_minimal000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/672798f5-335c-4673-a59b-f83bab7b820e/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/672798f5-335c-4673-a59b-f83bab7b820e/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on behalf of the
        signed-in user.","adminConsentDisplayName":"Access cli_create_rbac_sp_minimal000001","id":"8aba45c9-d0eb-4b48-bafd-214ee11eef81","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on your behalf.","userConsentDisplayName":"Access
        cli_create_rbac_sp_minimal000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-04-14T03:47:26.051361Z","keyId":"4b4a7238-52ff-430c-9f13-e2db543b11c2","startDate":"2019-04-14T03:47:26.051361Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2580075'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/672798f5-335c-4673-a59b-f83bab7b820e/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - Ejlln//HW8QHQEvfdHqbS3KozJkF5qO/py2QoUOMx9s=
      ocp-aad-session-key:
      - tIIY3xJwwQDjihkbQH9ydBRJvzWfGvJKRE_p0YXwv2q7saHCxpKrPzQJp2fhDWOGMvvi12iJX8-5e3kWdrMAOJdzvJ5CtV1pgkTvhDTW3-zxu_2wpuj2F0rxW6YkF7_uqjWHlbepATEgI-Jz1rzELQ.5Rlt1VOxyiIj43YkgM6BogIQjKfsoHiHrYBSqXSIkE4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "77aa97b9-b8e0-47a1-88a1-a8f9aac1c6c7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"2c95ed86-8713-4711-8c23-a51d99f7a6be","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli_create_rbac_sp_minimal000001","appId":"77aa97b9-b8e0-47a1-88a1-a8f9aac1c6c7","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli_create_rbac_sp_minimal000001","errorUrl":null,"homepage":"https://cli_create_rbac_sp_minimal000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on behalf of the
        signed-in user.","adminConsentDisplayName":"Access cli_create_rbac_sp_minimal000001","id":"8aba45c9-d0eb-4b48-bafd-214ee11eef81","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on your behalf.","userConsentDisplayName":"Access
        cli_create_rbac_sp_minimal000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["77aa97b9-b8e0-47a1-88a1-a8f9aac1c6c7","http://cli_create_rbac_sp_minimal000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1676406'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/2c95ed86-8713-4711-8c23-a51d99f7a6be/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - BXRgh3eu6YIFumaSZy7lFEXIwtoZR+AXCAi0P8igTHU=
      ocp-aad-session-key:
      - bybhzsPizcYD_A2Q0FVRZONNR3A35-qlkplcCM7ZSwgBXUvxzRnM2gyohHSzDtzL5yIeYzRbDV7fGnJv0Q7db-ySHm_TKx7m2cG_RyIltFxCg8rf8kRFnBoaMZ3jshX4kgJP8jM-Of1V8vGL0IXk1g.Z62JxD2Sk6yBFKSy4cfVeZwn9OW8-HMugJAfAPLOaXI
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_minimal000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objec[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/672798f5-335c-4673-a59b-f83bab7b820e?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '41364198'
      ocp-aad-diagnostics-server-name:
      - rM1KdcCuqoQ1CDuAZFk7Kx6C9y26eNQPriKUdQHzxw8=
      ocp-aad-session-key:
      - uRTYP5NyTPihFfgq0YEl6T1BbsD4jv7W6prKKZbjAhuhdZ-7kt35jjxXhn3XhMmImnkAOw5JFmqrTt9SUR99R6xFtq1wfOC-eC8fDQnfpny2oJwE6L1faFRdp0xxs6PoK8r0aWNgY6L306LFNxCqaw.RrE1wBTOIWr3cW2hp0nc9YUAixOD2982CsimBaNW_SE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_create_rbac_sp_minimal000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZDUkVBVEU6NUZSQkFDOjVGU1A6NUZNSU5JTUFMUlhCNjNEMlVTQ1FEU3w4NDMxNjU1OTQ4OTJBQjEwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
