interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '628801'
      ocp-aad-diagnostics-server-name:
      - hBrSXgYT6AiW34OnRqqllTrcBhIOEaEk4E+/a+pb/0s=
      ocp-aad-session-key:
      - zhpCE9xsnqp6ut4uUlv3MCYwLm4aw2NYkbzAwwUeTVvwpQKmWtICpQ3edEkdGckj4ZqQ_HKuo4obBismt_5-PKZ7uCYMMtam8K-58rdK4YNCim5JfIgZ7PulER7UGRjMrhr_402Ib2Jq3VWuJXPV8w.zmlG9Uj3_oPbd2Bo5IJAs7H7yCyffg9FCOjjMi7xjyU
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '685477'
      ocp-aad-diagnostics-server-name:
      - USO0vXsiH/WugU0+xVoguNv4Wxgbvvn8Zb8qUwfOkVw=
      ocp-aad-session-key:
      - 0lUX3OcH3ISJWN9FilmWNAtspIItBT1GO18o3HcbxvFkq1dgEk57uzJFRdLzByrEnee1OswkUXn5YoXDMGo6aVsCO6WWK9hZjlYdwHCN_2O-Qjm_YbbanNclvCUEoFq2FcxYwahYCIEc_dOMgzG1RA.WQSiKswjBCKJa38kEPpySUPa7qjPEvx7jny08V91CuE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli-app-000001",
      "passwordCredentials": [{"startDate": "2019-05-26T04:21:22.418428Z", "endDate":
      "2020-05-26T04:21:22.418428Z", "keyId": "498729b3-2ef5-467a-99b9-418ad1153bdb",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli-app-000001", "identifierUris": ["http://cli-app-000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "ee36666c-68da-4196-ae4f-1a38956a777c", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "6fef4e8f-554d-473b-8fa8-35cc86855b23",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://cli-app-000001", "identifierUris": ["http://cli-app-000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/ee36666c-68da-4196-ae4f-1a38956a777c/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/ee36666c-68da-4196-ae4f-1a38956a777c/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000001", "id": "4ee149fc-824e-40f0-8df7-01af9a902dc5",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2020-05-26T04:21:22.418428Z",
        "keyId": "498729b3-2ef5-467a-99b9-418ad1153bdb", "startDate": "2019-05-26T04:21:22.418428Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "microsoft.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '7060584'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/ee36666c-68da-4196-ae4f-1a38956a777c/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - ohcYABmqp+jn/aEb/sdEEw2xLJO30rLgM0J/8tIjvMU=
      ocp-aad-session-key:
      - nkjSbU4sXvOkfnkmRtGBG9sGbrD_9zSNJT3D6U5DDhxZVLqfkFT8rXScWyrGbww0AFXFbIQ3bHMeVXdYoWdQo7s0HUH99Y2-i7-5F6OKOy4kfGBhfdyQ2riMk-vk6DhDrFn-UT9RTt1cn4o7Hmm33w.EQwiTxibiMi0BDGoTGwW4WgQ1EmELAfegVxXULL9yhU
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "6fef4e8f-554d-473b-8fa8-35cc86855b23"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"0f9788ca-fe86-46a9-8250-523c231ef304","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"6fef4e8f-554d-473b-8fa8-35cc86855b23","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"4ee149fc-824e-40f0-8df7-01af9a902dc5","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["6fef4e8f-554d-473b-8fa8-35cc86855b23","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4141947'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/0f9788ca-fe86-46a9-8250-523c231ef304/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - hBrSXgYT6AiW34OnRqqllTrcBhIOEaEk4E+/a+pb/0s=
      ocp-aad-session-key:
      - VX7Lapn6WDVXubKStbGj2B6P3Vuk1_tDunL5wDIYhpQLinazExm_QYziOtBcGhz0WRXDQe8mvUOMdvcwuV8E-1YPtAMKwBDd0S1x-z9Jsu-KAeDvEJfl11aPBwNmVJ8vIyQne0eYwWLp2I_ipTVEIw.kzl9QqP0vzb6sFMuo150wa3SWK36MwDhBKphFMJYIAg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","o[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/0f9788ca-fe86-46a9-8250-523c231ef304?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"0f9788ca-fe86-46a9-8250-523c231ef304","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"ee36666c-68d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/ee36666c-68da-4196-ae4f-1a38956a777c/passwordCredentials?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)","value":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-05-26T04:21:22.418428Z","keyId":"498729b3-2ef5-467a-99b9-418ad1153bdb","startDate":"2019-05-26T04:21:22.418428Z","value":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '708771'
      ocp-aad-diagnostics-server-name:
      - r0o8Zfv+/EsfSzvffV1oL1MCccQ68EumyGGwG7/SNv8=
      ocp-aad-session-key:
      - Bg5l5j22ZWLfyRI3Xj7xMAgSPkqHo9CgpWYnWkVPIa5e1RfXATPpnRo1Cz-gsFxb4xd6gMH8HLFtPyOMwl4nu7m-Z60bEiHeo_eLAicNvDulm-0qTELzRvF7OT1bkwfBs5BGJt2XW9_Xyss6wu2sug.3qWVWbd_-j945FnzoMyeFDzzWT-utGAiUnNhDtGKeFg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fcli-app-000001%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%276fef4e8f-554d-473b-8fa8-35cc86855b23%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '714619'
      ocp-aad-diagnostics-server-name:
      - Y+zD48Ehiz4O0zsLgVLhmty83vCQXyE4/pJnc8xhwMg=
      ocp-aad-session-key:
      - jhfccqEDxzVBlEdUDktUuwLuyi9QFGZqVjl8NQDafeApM62mIxFJW2hMABtWQJJf9xwDyk-aoGzJij3QKpbrcRns4Pxz278uz7jNVUqVfdiUAcXo3u0xehedcGuvM9pezQoP4iYv9qPrsD07XWeNFA.wbH4IzqxTxGPcMuubUqOZtJTu60bkFXiVYrDsVDYnac
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%276fef4e8f-554d-473b-8fa8-35cc86855b23%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"ee36666c-68da-4196-ae4f-1a389[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/ee36666c-68da-4196-ae4f-1a38956a777c?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"ee36666c-68da-4196-ae4f-1a38956a777c","deletionTimestamp"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/1b582440-abcc-4319-9981-d73074340efc?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3700373'
      ocp-aad-diagnostics-server-name:
      - k6DXA5yNyWftcpEJP1tvwNHdPg4ncMNCM8cbCEznAdU=
      ocp-aad-session-key:
      - g0tiNNBeukezTDLAI609dm1jTkZLcWbWwECC0DRqmPR3nsUw4Izv-tmFoV4XD2ZLK3gil9Uh2u01b2N3imPhhNUJGxJCHv1mpENAojvAe-8zTyTjjgpCHrkPdgQXQUEC8D2H1ftsaWJdpX_K6lq67g.uuq3hl1-LizFFH02SVbxOQjRdXksOLnyoE88LHTgbqg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
