interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-04-19T22:36:47Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_role_assign000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_assign000001","name":"cli_role_assign000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-04-19T22:36:47Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"accountEnabled": true, "displayName": "tester123", "passwordProfile":
      {"password": "Test123456789", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "testuser000002@azuresdkteam.onmicrosoft.com", "mailNickname": "testuser000002"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Authorization_RequestDenied","message":{"lang":"en","value":"Insufficient
        privileges to complete the operation."},"requestId":"80f787f3-4ada-4a9b-beb8-09d90e75eaf0","date":"2019-04-19T22:36:48"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1192799'
      ocp-aad-diagnostics-server-name:
      - XC37a6rlJsCeGLMfJenTNZI4+ije7D/luiwxI9jCogI=
      ocp-aad-session-key:
      - xuIGZnT4cQNDST8o0Fqb0-_ZJ513LeLUOLZnMV-M_C-1656MBWQjONzWIe11W-kGFSviDIFsZT2DcwzSnAWnGD-M3nD2ybcF7fSkANZ_B3ceFrIF3KQBbE3xU7VBiI75056jxbOV0tI6R3gE3NJ7YA._N949AITqYrHJL8sNK__01fwJH7Ru6Ya3HlqTUt0dYM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_role_assign000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZST0xFOjVGQVNTSUdOWEw0SlM0NkNFSzdPMlAyWEFOQ0tTVkdXU0NRRHxFOUE2NDgwRUVCNUREQzQ2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
