interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-02T03:18:14Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_role_audit000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001","name":"cli_role_audit000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-02T03:18:14Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"accountEnabled": true, "displayName": "tester123", "passwordProfile":
      {"password": "Test123456789", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "testuser000002@azuresdkteam.onmicrosoft.com", "mailNickname": "testuser000002"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"dde83ddd-f761-4d8e-8bf2-a671eb997567","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-05-02T03:18:24Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"tester123","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"testuser000002","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2019-05-02T03:18:24.5802696Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/dde83ddd-f761-4d8e-8bf2-a671eb997567/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"testuser000002@azuresdkteam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2243305'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/dde83ddd-f761-4d8e-8bf2-a671eb997567/Microsoft.DirectoryServices.User
      ocp-aad-diagnostics-server-name:
      - LIsvepV0yWsv17jftCrqPcUrT8/sKGPKtFREgCo1I3k=
      ocp-aad-session-key:
      - _7g0PhGl3O0D5M1GIYhBzjQY3cDKWyjm0TwM3bU0qPKSLmit6Rp0OClA_G78xRpxEHxZx8ghEm6w66PrtxJaeLjSwIVBRQWsP0SE4zI2PdjUdozPPX0PtnKzlLvwIuCQi_VYyRUO4cuwSrjUJv7InyIt9D-zVJer3eGgrloOQxc.gGtFlnHttcFbiN1aKbTvL2f30_6JEGigRlpl5gebrY0
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2019-02-05T21:24:38.4580610Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27testuser000002%40azuresdkteam.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"dde83ddd-f761-4d8e-8bf2-a671e[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "dde83ddd-f761-4d8e-8bf2-a671eb997567"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2018-01-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"dde83ddd-f761-4d8e-8bf2-a671eb997567","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001","createdOn":"2019-05-02T03:18:43.7396236Z","updatedOn":"2019-05-02T03:18:43.7396236Z","createdBy":null,"updatedBy":"89ed5be8-ff97-41b5-ab11-055e1e3cc34b"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-ms-request-charge:
      - '2'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=resourceProvider%20eq%20Microsoft.Authorization%20and%20eventTimestamp%20ge%202019-05-01T03%3A18%3A45Z%20and%20eventTimestamp%20le%202019-05-02T03%3A19%3A48Z
  response:
    body:
      string: '{"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=resourceProvider%20eq%20Microsoft.Authorization%20and%20eventTimestamp%20ge%202019-05-01T03%3A18%3A45Z%20and%20eventTimestamp%20le%202019-05-02T03%3A19%3A48Z&$skipToken=US1:0636922891392538046:9bc6d70c;EU1:-1:FFFFFFFF;AS1:-1:FFFFFFFF","value":[{"authorization":{"action":"Microsoft.Authorization/roleAssignments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001"},"caller":"yugangw@microsoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/","iat":"1556766503","nbf":"1556766503","exp":"1556770403","http://schemas.microsoft.com/claims/authnclassreference":"1","aio":"AWQAm/8LAAAAD98jXU3Ju/bfI8n16A6bGOz7Gex4M8UTq9PqCYJVp8zjAatw/JeKh8nGtuEXPjv1EN3elk1r34LeJ/h1ejszWmIOapLQ+8C8OpvIy4koz+jfE4T34uJe7hIWE2dvTT+Z","altsecid":"5::10030000801C44D3","http://schemas.microsoft.com/claims/authnmethodsreferences":"wia","appid":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","appidacr":"0","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress":"yugangw@microsoft.com","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname":"Wang","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname":"Yugang","groups":"e4bb0b56-1014-40f8-88ab-3d8a8cb0e086","http://schemas.microsoft.com/identity/claims/identityprovider":"https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/","ipaddr":"73.225.4.90","name":"Yugang
        Wang","http://schemas.microsoft.com/identity/claims/objectidentifier":"89ed5be8-ff97-41b5-ab11-055e1e3cc34b","puid":"1003BFFD959F8955","http://schemas.microsoft.com/identity/claims/scope":"user_impersonation","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier":"2DXnONc5EAr6a_3UrkRRbQAvGnxzqAa-HLVs1rWwgtI","http://schemas.microsoft.com/identity/claims/tenantid":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name":"yugangw@microsoft.com","uti":"0Gtp-kKn7E2dWaKBbsgGAA","ver":"1.0","wids":"62e90394-69f5-4237-9190-012177145e10"},"correlationId":"fd92ea2c-330a-4938-8d40-736b125deec3","description":"","eventDataId":"a4d6f5b3-9411-4ab6-a926-ead5b890d0ee","eventName":{"value":"EndRequest","localizedValue":"End
        request"},"category":{"value":"Administrative","localizedValue":"Administrative"},"httpRequest":{"clientRequestId":"fb402ff4-6c88-11e9-990e-e470b8925fda","clientIpAddress":"73.225.4.90","method":"PUT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001/events/a4d6f5b3-9411-4ab6-a926-ead5b890d0ee/ticks/636923639258217972","level":"Informational","resourceGroupName":"cli_role_audit000001","resourceProviderName":{"value":"Microsoft.Authorization","localizedValue":"Microsoft.Authorization"},"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","resourceType":{"value":"Microsoft.Authorization/roleAssignments","localizedValue":"Microsoft.Authorization/roleAssignments"},"operationId":"fd92ea2c-330a-4938-8d40-736b125deec3","operationName":{"value":"Microsoft.Authorization/roleAssignments/write","localizedValue":"Create
        role assignment"},"properties":{"statusCode":"Created","serviceRequestId":"9d60c4f5-aa26-40c8-a7c1-21259610ca1f"},"status":{"value":"Succeeded","localizedValue":"Succeeded"},"subStatus":{"value":"Created","localizedValue":"Created
        (HTTP Status Code: 201)"},"eventTimestamp":"2019-05-02T03:18:45.8217972Z","submissionTimestamp":"2019-05-02T03:19:02.1298248Z","subscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},{"authorization":{"action":"Microsoft.Authorization/roleAssignments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001"},"caller":"yugangw@microsoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/","iat":"1556766503"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=resourceProvider%20eq%20Microsoft.Authorization%20and%20eventTimestamp%20ge%202019-05-01T03%3A18%3A45Z%20and%20eventTimestamp%20le%202019-05-02T03%3A19%3A48Z&$skipToken=US1:0636922891392538046:9bc6d70c;EU1:-[...]
