interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_role_audit000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001","name":"cli_role_audit000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"mailNickname": "testuser000002", "accountEnabled": true, "displayName":
      "tester123", "userPrincipalName": "testuser000002@azuresdkteam.onmicrosoft.com",
      "passwordProfile": {"password": "Test123456789", "forceChangePasswordNextLogin":
      false}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"83dae527-95e5-4da2-b612-3b8e2d6b749c","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"tester123","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"testuser000002","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2018-03-20T17:57:53.3563151Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"testuser000002@azuresdkteam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['12832339']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/83dae527-95e5-4da2-b612-3b8e2d6b749c/Microsoft.DirectoryServices.User']
      ocp-aad-diagnostics-server-name: [cchiu08RtZQ3+O1oL4RWyxlt169wEFih863TtAv+d54=]
      ocp-aad-session-key: [ohA8JtSm2HHiqDaERnbmzuTw1HVsge1TWCkMdvRV4mZJ-w13pk3mr9icM8HHXjrV-83MGX6oadiv9Y_m3KVPduuQHLWIq50fE7KSDhwZy9DcC2A8B7CPC62TIG2JWqNfPBHZmboysTvmXIIl5-MZ7JQJ9-DuI4_t5qYcG-J-STOFvhUKwntdJFWqWF6UDYL_7Fr5S_3qanOxB5BcSvDnKQ.XU0BDHfDNU7hCbsLazKRggy_lVlLYbu1Yv8aQszdEWw]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview&$filter=roleName%20eq%20%27contributor%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action"],"dataActions":[],"notDataActions":[]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-12-14T02:04:45.1393855Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6&$filter=userPrincipalName%20eq%20%27testuser000002%40azuresdkteam.onmicrosoft.com%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User","value":[{"odata.type":"Microsoft.Dir[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "83dae527-95e5-4da2-b612-3b8e2d6b749c"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2018-01-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"83dae527-95e5-4da2-b612-3b8e2d6b749c","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001","createdOn":"2018-03-20T17:58:10.8928818Z","updatedOn":"2018-03-20T17:58:10.8928818Z","createdBy":null,"updatedBy":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['3']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=resourceProvider%20eq%20Microsoft.Authorization%20and%20eventTimestamp%20ge%202018-03-19T17%3A58%3A13Z%20and%20eventTimestamp%20le%202018-03-20T17%3A59%3A13Z
  response:
    body: {string: '{"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=resourceProvider%20eq%20Microsoft.Authorization%20and%20eventTimestamp%20ge%202018-03-19T17%3A58%3A13Z%20and%20eventTimestamp%20le%202018-03-20T17%3A59%3A13Z&$skipToken=US1:0636571418326296248:f5d03c8a;EU1:-1:FFFFFFFF;AS1:-1:FFFFFFFF","value":[{"authorization":{"action":"Microsoft.Authorization/roleAssignments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001"},"caller":"admin3@AzureSDKTeam.onmicrosoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/","iat":"1521567749","nbf":"1521567749","exp":"1521571649","http://schemas.microsoft.com/claims/authnclassreference":"1","aio":"ASQA2/8GAAAAp/K4aO827vqg87FhymtIT0cHvmA6G7poPpJ82/cEvYA=","http://schemas.microsoft.com/claims/authnmethodsreferences":"pwd","appid":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","appidacr":"0","e_exp":"262800","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname":"sdk","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname":"admin3","groups":"e4bb0b56-1014-40f8-88ab-3d8a8cb0e086,8a9b1617-fc8d-4aa9-a42f-99868d314699,54803917-4c71-4d6c-8bdf-bbd931010f8c","ipaddr":"167.220.1.234","name":"admin3","http://schemas.microsoft.com/identity/claims/objectidentifier":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","puid":"10033FFF95D44E84","http://schemas.microsoft.com/identity/claims/scope":"user_impersonation","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier":"hQzywoqS-A-G02I9zdNSFkFwtv0epgiVcUlvmOdFGhQ","http://schemas.microsoft.com/identity/claims/tenantid":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name":"admin3@AzureSDKTeam.onmicrosoft.com","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn":"admin3@AzureSDKTeam.onmicrosoft.com","uti":"4X0A4QDoP0CTsh0fozdYAA","ver":"1.0","wids":"62e90394-69f5-4237-9190-012177145e10"},"correlationId":"e5c7de8e-774c-4e35-b21d-43016fb4223d","description":"","eventDataId":"66dd28de-658e-4af6-b0bc-f161b6f20953","eventName":{"value":"EndRequest","localizedValue":"End
        request"},"category":{"value":"Administrative","localizedValue":"Administrative"},"httpRequest":{"clientRequestId":"3ff45eae-2c68-11e8-bd80-64510658e3b3","clientIpAddress":"167.220.1.234","method":"PUT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001/events/66dd28de-658e-4af6-b0bc-f161b6f20953/ticks/636571654936124263","level":"Informational","resourceGroupName":"cli_role_audit000001","resourceProviderName":{"value":"Microsoft.Authorization","localizedValue":"Microsoft.Authorization"},"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","resourceType":{"value":"Microsoft.Authorization/roleAssignments","localizedValue":"Microsoft.Authorization/roleAssignments"},"operationId":"e5c7de8e-774c-4e35-b21d-43016fb4223d","operationName":{"value":"Microsoft.Authorization/roleAssignments/write","localizedValue":"Microsoft.Authorization/roleAssignments/write"},"properties":{"statusCode":"Created","serviceRequestId":"40db0f64-81d8-42e3-b3a3-d9d1e13ccbc5"},"status":{"value":"Succeeded","localizedValue":"Succeeded"},"subStatus":{"value":"Created","localizedValue":"Created
        (HTTP Status Code: 201)"},"eventTimestamp":"2018-03-20T17:58:13.6124263Z","submissionTimestamp":"2018-03-20T17:58:38.0969054Z","subscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},{"authorization":{"action":"Microsoft.Authorization/roleAssignments/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_role_audit000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001"},"caller":"admin3@AzureSDKTeam.onmicrosoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/","iat[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=resourceProvider%20eq%20Microsoft.Authorization%20and%20eventTimestamp%20ge%202018-03-19T17%3A58%3A13Z%20and%20eventTimestamp%20le%202018-03-20T17%3A59%3A13Z&$skipToken=US1:0636571418326296248:f5d03c8a;EU1:-1:FFFF[...]
