interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift/locations/eastus/openShiftVersions?api-version=2025-07-25
  response:
    body:
      string: "{\n    \"value\": [\n        {\n            \"name\": \"4.18.26\",\n
        \           \"type\": \"Microsoft.RedHatOpenShift/OpenShiftVersion\",\n            \"properties\":
        {\n                \"version\": \"4.18.26\"\n            }\n        },\n        {\n
        \           \"name\": \"4.19.20\",\n            \"type\": \"Microsoft.RedHatOpenShift/OpenShiftVersion\",\n
        \           \"properties\": {\n                \"version\": \"4.19.20\"\n
        \           }\n        },\n        {\n            \"name\": \"4.20.15\",\n
        \           \"type\": \"Microsoft.RedHatOpenShift/OpenShiftVersion\",\n            \"properties\":
        {\n                \"version\": \"4.20.15\"\n            }\n        },\n        {\n
        \           \"name\": \"4.18.34\",\n            \"type\": \"Microsoft.RedHatOpenShift/OpenShiftVersion\",\n
        \           \"properties\": {\n                \"version\": \"4.18.34\"\n
        \           }\n        },\n        {\n            \"name\": \"4.19.24\",\n
        \           \"type\": \"Microsoft.RedHatOpenShift/OpenShiftVersion\",\n            \"properties\":
        {\n                \"version\": \"4.19.24\"\n            }\n        }\n    ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
