interactions:
- request:
    body: '{"location": "ukwest", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"ukwest","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "ukwest",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/515beb97-27ef-4167-9ea8-5026ce7a9d91?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/515beb97-27ef-4167-9ea8-5026ce7a9d91?monitor=true&api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/515beb97-27ef-4167-9ea8-5026ce7a9d91?monitor=true&api-version=2017-06-01']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/ukwest/asyncoperations/515beb97-27ef-4167-9ea8-5026ce7a9d91?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7","kind":"Storage","location":"ukwest","name":"clibatchteststorage7","properties":{"creationTime":"2017-11-29T20:21:36.6204836Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-11-29T20:21:36.6214836Z"},"file":{"enabled":true,"lastEnabledTime":"2017-11-29T20:21:36.6214836Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clibatchteststorage7.blob.core.windows.net/","file":"https://clibatchteststorage7.file.core.windows.net/","queue":"https://clibatchteststorage7.queue.core.windows.net/","table":"https://clibatchteststorage7.table.core.windows.net/"},"primaryLocation":"ukwest","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "ukwest", "properties": {"autoStorage": {"storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/operationResults/e03b9737-7c06-4629-93c5-93db8c64da36?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/operationResults/e03b9737-7c06-4629-93c5-93db8c64da36?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7","name":"clibatchtest7","type":"Microsoft.Batch/batchAccounts","location":"ukwest","properties":{"accountEndpoint":"clibatchtest7.ukwest.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":100,"lowPriorityCoreQuota":100,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7","lastKeySync":"2017-11-29T20:43:21.2644106Z"},"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D53769DDA34396"']
      last-modified: ['Wed, 29 Nov 2017 20:43:37 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"allowUpdates": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2017-05-01
  response:
    body: {string: '{"id":"testapp","packages":[],"allowUpdates":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications?api-version=2017-05-01
  response:
    body: {string: '{"value":[{"id":"testapp","packages":[],"allowUpdates":true}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0?api-version=2017-05-01
  response:
    body: {string: '{"id":"testapp","version":"1.0","storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-9af6499b-2769-4cd4-b202-4aee24c56773?sv=2015-04-05&sr=b&sig=ZunrgXcL3UOeqgFINJLm0UbXNRzw3Oe4onq%2BC%2FxslmI%3D&st=2017-11-29T20%3A38%3A44Z&se=2017-11-30T00%3A43%3A44Z&sp=rw","storageUrlExpiry":"2017-11-30T00:43:44.559014Z","state":"pending"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: storage blob test sample file
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 29 Nov 2017 20:43:45 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-9af6499b-2769-4cd4-b202-4aee24c56773?sv=2015-04-05&sr=b&sig=ZunrgXcL3UOeqgFINJLm0UbXNRzw3Oe4onq%2BC%2FxslmI%3D&st=2017-11-29T20%3A38%3A44Z&se=2017-11-30T00%3A43%3A44Z&sp=rw
  response:
    body: {string: ''}
    headers:
      content-md5: [JeBon6PeparxrbCKMR+6hw==]
      etag: ['"0x8D53769E2683DB2"']
      last-modified: ['Wed, 29 Nov 2017 20:43:45 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '{"format": "zip"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0/activate?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D53769E1F6119B"']
      last-modified: ['Wed, 29 Nov 2017 20:43:44 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0?api-version=2017-05-01
  response:
    body: {string: '{"id":"testapp","version":"1.0","storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-9af6499b-2769-4cd4-b202-4aee24c56773?sv=2015-04-05&sr=b&sig=Cl6IPKToyd5E3nVQSYouLa77FhWBDkDiq8yMeqhuZkw%3D&st=2017-11-29T20%3A38%3A47Z&se=2017-11-30T00%3A43%3A47Z&sp=rw","storageUrlExpiry":"2017-11-30T00:43:47.1982123Z","state":"active","format":"zip","lastActivationTime":"2017-11-29T20:43:46.181587Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D53769E2FCB56F"']
      last-modified: ['Wed, 29 Nov 2017 20:43:46 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"defaultVersion": "1.0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D53769DF014C9D"']
      last-modified: ['Wed, 29 Nov 2017 20:43:39 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
[...]
