interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/107be75b-dd62-42bc-9c78-d3ad346e397d?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/107be75b-dd62-42bc-9c78-d3ad346e397d?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadaeast","properties":{"accountEndpoint":"clibatch000002.canadaeast.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":50,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D4D5E2F7196881"']
      last-modified: ['Fri, 28 Jul 2017 18:03:35 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"RPmLRnPxzKKyKEF1tcBjIbvBmAYPj+oWCBvfwxy22YQmc9Mwk1tmkAbtEqrDB2lduoNeRxvTGAlV+xxuZ+lobA==","secondary":"9fxz/rjezJ0lrP3Uc7vrBwet+Yvp3dlkK2+yUdprQPwd6FKqQfurjstRl3IicR83bGYrJOOxUU4L17neEeRAPw=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"cloudServiceConfiguration": {"osFamily": "4"}, "vmSize": "small", "id":
      "azure-cli-test-paas"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/pools?api-version=2017-09-01.6.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchqb6rej4rixfghyg6.canadaeast.batch.azure.com/pools/azure-cli-test-paas']
      dataserviceversion: ['3.0']
      etag: ['0x8D4D5E2F7CEFBFB']
      last-modified: ['Fri, 28 Jul 2017 18:03:36 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/pools/azure-cli-test-paas']
    status: {code: 201, message: Created}
- request:
    body: '{"constraints": {"maxTaskRetryCount": 5}, "poolInfo": {"poolId": "azure-cli-test-paas"},
      "id": "cli-test-job-1", "metadata": [{"value": "value", "name": "test"}], "jobManagerTask":
      {"environmentSettings": [{"value": "CLI_TEST_VAR_VALUE", "name": "CLI_TEST_VAR"}],
      "commandLine": "cmd /c set AZ_BATCH_TASK_ID", "id": "JobManager"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs?api-version=2017-09-01.6.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchqb6rej4rixfghyg6.canadaeast.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D4D5E2F8AE6288']
      last-modified: ['Fri, 28 Jul 2017 18:03:37 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2017-09-01.6.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1\"\
        ,\"eTag\":\"0x8D4D5E2F8AE6288\",\"lastModified\":\"2017-07-28T18:03:37.75858Z\"\
        ,\"creationTime\":\"2017-07-28T18:03:37.6835524Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-07-28T18:03:37.75858Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":5\r\n  },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\"\
        ,\"commandLine\":\"cmd /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\
        \n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\
        \r\n      }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\
        \n    },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"elevationLevel\"\
        :\"nonadmin\"\r\n      }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\"\
        :true,\"killJobOnCompletion\":true\r\n  },\"poolInfo\":{\r\n    \"poolId\"\
        :\"azure-cli-test-paas\"\r\n  },\"metadata\":[\r\n    {\r\n      \"name\"\
        :\"test\",\"value\":\"value\"\r\n    }\r\n  ],\"executionInfo\":{\r\n    \"\
        startTime\":\"2017-07-28T18:03:37.75858Z\",\"poolId\":\"azure-cli-test-paas\"\
        \r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\
        \r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D4D5E2F8AE6288']
      last-modified: ['Fri, 28 Jul 2017 18:03:37 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"poolInfo": {"poolId": "azure-cli-test-paas"}, "onAllTasksComplete": "terminateJob"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      If-Unmodified-Since: ['Fri, 28 Jul 2017 11:03:36 GMT']
      return-client-request-id: ['false']
    method: PUT
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2017-09-01.6.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"ConditionNotMet\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\"\
        :\"The condition specified using HTTP conditional header(s) is not met.\\\
        nRequestId:6d4f868f-ef01-455e-82c6-5f2c5e3a8bb8\\nTime:2017-07-28T18:03:43.5017407Z\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdCVklOWklSNkRKREpaVDU2TVJKS09MUTNKRFY2NlRPQVZDN3wzNTk1MjQwNTYyRTlGQTg1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
