interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vpn_gateway?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway","name":"cli_test_vpn_gateway","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"ipConfigurations": [{"properties":
      {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/publicIPAddresses/pubip1"},
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworks/myvnet1/subnets/GatewaySubnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "vnetGatewayConfig"}], "gatewayType":
      "Vpn", "sku": {"tier": "Basic", "name": "Basic"}, "vpnType": "RouteBased"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway1?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"gateway1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway1\"\
        ,\r\n  \"etag\": \"W/\\\"7724a506-20a0-428c-a342-25830ec1eb91\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"6659d7f9-c0f4-4e44-9152-4e486ec2da07\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"vnetGatewayConfig\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway1/ipConfigurations/vnetGatewayConfig\"\
        ,\r\n        \"etag\": \"W/\\\"7724a506-20a0-428c-a342-25830ec1eb91\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/publicIPAddresses/pubip1\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworks/myvnet1/subnets/GatewaySubnet\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sku\": {\r\n  \
        \    \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\"\
        : 2\r\n    },\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\": \"RouteBased\"\
        ,\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n    \"vpnClientConfiguration\"\
        : {\r\n      \"vpnClientRootCertificates\": [],\r\n      \"vpnClientRevokedCertificates\"\
        : []\r\n    }\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/6f9d8c3a-920f-4008-9d7c-93f5fc3a26f3?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "properties": {"ipConfigurations": [{"properties":
      {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/publicIPAddresses/pubip3"},
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworks/myvnet3/subnets/GatewaySubnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "vnetGatewayConfig"}], "bgpSettings":
      {"peerWeight": 50, "bgpPeeringAddress": "10.2.250.250", "asn": 12345}, "gatewayType":
      "Vpn", "enableBgp": true, "vpnType": "RouteBased", "sku": {"tier": "Standard",
      "name": "Standard"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway3?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"gateway3\",\r\n  \"i[...]
[...]
- request:
    body: '{"properties": {"parameters": {}, "mode": "Incremental", "template": {"parameters":
      {}, "contentVersion": "1.0.0.0", "resources": [{"location": "westus", "type":
      "Microsoft.Network/connections", "name": "myconnection", "tags": {}, "dependsOn":
      [], "properties": {"sharedKey": "123", "routingWeight": 10, "connectionType":
      "Vnet2Vnet", "enableBgp": false, "authorizationKey": null, "virtualNetworkGateway1":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway1"},
      "virtualNetworkGateway2": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway2"}},
      "apiVersion": "2015-06-15"}], "variables": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"resource": {"value": "[reference(''myconnection'')]", "type": "object"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vpn_gateway/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Resources/deployments/vpn_connection_deploy_xJrEclw86ycKnEwkxQOBS1CD4sjsUeMx","name":"vpn_connection_deploy_xJrEclw86ycKnEwkxQOBS1CD4sjsUeMx","properties":{"templateHash":"15036885048938914802","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-03-03T17:57:48.597676Z","duration":"PT0.5542652S","correlationId":"a2dc863e-4b92-4e8a-a60f-ba08cdb6ab34","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"connections","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vpn_gateway/providers/Microsoft.Resources/deployments/vpn_connection_deploy_xJrEclw86ycKnEwkxQOBS1CD4sjsUeMx/operationStatuses/08587130430174342360?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vpn_gateway/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587130430174342360?api-version=2016-09-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/connections/myconnection?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"myconnection\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.[...]
[...]
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"sharedKey": "123", "routingWeight":
      25, "resourceGuid": "66f59e57-562a-4ae9-8599-98a3ffa1f688", "connectionType":
      "Vnet2Vnet", "enableBgp": false, "virtualNetworkGateway1": {"location": "westus",
      "properties": {"ipConfigurations": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway1/ipConfigurations/vnetGatewayConfig",
      "properties": {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/publicIPAddresses/pubip1"},
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworks/myvnet1/subnets/GatewaySubnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "vnetGatewayConfig", "etag":
      "W/\"acdb4703-1750-4609-ab56-d17912958607\""}], "activeActive": false, "bgpSettings":
      {"peerWeight": 0, "bgpPeeringAddress": "10.0.0.254", "asn": 65515}, "resourceGuid":
      "6659d7f9-c0f4-4e44-9152-4e486ec2da07", "gatewayType": "Vpn", "enableBgp": false,
      "vpnType": "RouteBased", "sku": {"tier": "Basic", "name": "Basic", "capacity":
      2}}, "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway1",
      "etag": "W/\"acdb4703-1750-4609-ab56-d17912958607\""}, "virtualNetworkGateway2":
      {"location": "westus", "properties": {"ipConfigurations": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_gateway/providers/Microsoft.Network/virtualNetworkGateways/gateway2/ipConfigurations/vnetGa[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b7fda546-1bc9-4c16-86c2-b63b407164ee?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
    status: {code: 200, message: OK}
[...]
