interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/local_gateway_scenario?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario","name":"local_gateway_scenario","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"gatewayIpAddress": "10.1.1.1", "localNetworkAddressSpace":
      {}}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-loc-gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway\"\
        ,\r\n  \"etag\": \"W/\\\"7e14ed17-a801-4b84-968d-a9866dff85b8\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/localNetworkGateways\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"e1fa4ad1-0842-45c8-a0b3-3916666386b1\",\r\n \
        \   \"localNetworkAddressSpace\": {\r\n      \"addressPrefixes\": []\r\n \
        \   },\r\n    \"gatewayIpAddress\": \"10.1.1.1\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/1d5616b0-88ec-4692-a170-16c718974907?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1d5616b0-88ec-4692-a170-16c718974907?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-loc-gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway\"\
        ,\r\n  \"etag\": \"W/\\\"02a8b281-3b51-45cc-a153-d8fed0cf5c19\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/localNetworkGateways\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"e1fa4ad1-0842-45c8-a0b3-3916666386b1\",\r\n \
        \   \"localNetworkAddressSpace\": {\r\n      \"addressPrefixes\": []\r\n \
        \   },\r\n    \"gatewayIpAddress\": \"10.1.1.1\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"02a8b281-3b51-45cc-a153-d8fed0cf5c19"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-loc-gateway\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway\"\
        ,\r\n      \"etag\": \"W/\\\"02a8b281-3b51-45cc-a153-d8fed0cf5c19\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/localNetworkGateways\",\r\n      \"\
        location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\"\
        : \"Succeeded\",\r\n        \"resourceGuid\": \"e1fa4ad1-0842-45c8-a0b3-3916666386b1\"\
        ,\r\n        \"localNetworkAddressSpace\": {\r\n          \"addressPrefixes\"\
        : []\r\n        },\r\n        \"gatewayIpAddress\": \"10.1.1.1\"\r\n     \
        \ }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/local_gateway_scenario/providers/Microsoft.Network/localNetworkGateways/cli-test-loc-gateway?api-version=2017-03-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/cfa40fbf-2418-4e6a-83f5-aeb91b6d2ad2?api-version=2017-03-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/cfa40fbf-2418-4e6a-83f5-aeb91b6d2ad2?api-version=2017-03-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cfa40fbf-2418-4e6a-83f5-aeb91b6d2ad2?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\"\
        : \"InternalServerError\",\r\n    \"message\": \"An error occured.\",\r\n\
        \    \"details\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
