interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip","name":"cli_test_ag_public_ip","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_public_ip%27%20and%20name%20eq%20%27vnet4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_public_ip%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {}, "mode": "Incremental", "template": {"variables":
      {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'', ''test4'')]"},
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "outputs": {"applicationGateway": {"type": "object",
      "value": "[reference(''test4'')]"}}, "parameters": {}, "resources": [{"type":
      "Microsoft.Network/virtualNetworks", "dependsOn": [], "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.1/16"]}, "subnets": [{"name": "subnet1", "properties":
      {"addressPrefix": "10.0.0.1/28"}}]}, "apiVersion": "2015-06-15", "name": "vnet4",
      "location": "westus", "tags": {}}, {"type": "Microsoft.Network/publicIPAddresses",
      "name": "publicip4", "properties": {"publicIPAllocationMethod": "Dynamic"},
      "apiVersion": "2015-06-15", "tags": {}, "location": "westus", "dependsOn": []},
      {"type": "Microsoft.Network/applicationGateways", "name": "test4", "properties":
      {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "frontendPorts":
      [{"name": "appGatewayFrontendPort", "properties": {"Port": 80}}], "httpListeners":
      [{"name": "appGatewayHttpListener", "properties": {"SslCertificate": null, "Protocol":
      "Http", "FrontendIpConfiguration": {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"}}}],
      "backendHttpSettingsCollection": [{"name": "appGatewayBackendHttpSettings",
      "properties": {"Port": 80, "Protocol": "Http", "CookieBasedAffinity": "Disabled"}}],
      "frontendIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_public_ip/providers/Microsoft.Network/publicIPAddresses/publicip4"}}}],
      "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties": {"subnet":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_public_ip/providers/Microsoft.Network/virtualNetworks/vnet4/subnets/subnet1"}}}],
      "requestRoutingRules": [{"Name": "rule1", "properties": {"RuleType": "Basic",
      "httpListener": {"id": "[concat(variables(''appGwID''), ''/httpListeners/appGatewayHttpListener'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "backendAddressPool": {"id": "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"}}}],
      "sku": {"tier": "Standard", "name": "Standard_Medium", "capacity": 2}}, "apiVersion":
      "2015-06-15", "tags": {}, "location": "westus", "dependsOn": ["Microsoft.Network/virtualNetworks/vnet4",
      "Microsoft.Network/publicIpAddresses/publicip4"]}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip/providers/Microsoft.Resources/deployments/ag_deploy_iGYXgp26WIT2lIpvHiZDS5ecAOan61PF","name":"ag_deploy_iGYXgp26WIT2lIpvHiZDS5ecAOan61PF","properties":{"templateHash":"13303981556869109413","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-03-29T20:12:26.6048913Z","duration":"PT0.6934402S","correlationId":"acada4ab-2527-44d9-b198-d2f6d29b0a76","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip/providers/Microsoft.Network/virtualNetworks/vnet4","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet4"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip/providers/Microsoft.Network/publicIpAddresses/publicip4","resourceType":"Microsoft.Network/publicIpAddresses","resourceName":"publicip4"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip/providers/Microsoft.Network/applicationGateways/test4","resourceType":"Microsoft.Network/applicationGateways","resourceName":"test4"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_ag_public_ip/providers/Microsoft.Resources/deployments/ag_deploy_iGYXgp26WIT2lIpvHiZDS5ecAOan61PF/operationStatuses/08587107885395661728?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587107885395661728?api-version=2016-09-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
