interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AT&T Netbond\
        \ Test\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\"\
        ,\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringLocations\": [\r\n          \"Area51\",\r\n        \
        \  \"ASCVA001\",\r\n          \"SN1CA001\"\r\n        ],\r\n        \"bandwidthsOffered\"\
        : [\r\n          {\r\n            \"offerName\": \"50Mbps\",\r\n         \
        \   \"valueInMbps\": 50\r\n          },\r\n          {\r\n            \"offerName\"\
        : \"100Mbps\",\r\n            \"valueInMbps\": 100\r\n          },\r\n   \
        \       {\r\n            \"offerName\": \"200Mbps\",\r\n            \"valueInMbps\"\
        : 200\r\n          },\r\n          {\r\n            \"offerName\": \"500Mbps\"\
        ,\r\n            \"valueInMbps\": 500\r\n          },\r\n          {\r\n \
        \           \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\": 1000\r\
        \n          },\r\n          {\r\n            \"offerName\": \"2Gbps\",\r\n\
        \            \"valueInMbps\": 2000\r\n          },\r\n          {\r\n    \
        \        \"offerName\": \"5Gbps\",\r\n            \"valueInMbps\": 5000\r\n\
        \          },\r\n          {\r\n            \"offerName\": \"10Gbps\",\r\n\
        \            \"valueInMbps\": 10000\r\n          }\r\n        ]\r\n      }\r\
        \n    },\r\n    {\r\n      \"name\": \"BT Test\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\"\
        ,\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringLocations\": [\r\n          \"Area51\"\r\n        ],\r\
        \n        \"bandwidthsOffered\": [\r\n          {\r\n            \"offerName\"\
        : \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n          },\r\n     \
        \     {\r\n            \"offerName\": \"100Mbps\",\r\n            \"valueInMbps\"\
        : 100\r\n          },\r\n          {\r\n            \"offerName\": \"200Mbps\"\
        ,\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n \
        \           \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\
        \n          [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route","name":"cli_test_express_route","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"sku": {"family": "MeteredData", "tier": "Premium", "name": "Premium_MeteredData"},
      "properties": {"serviceProviderProperties": {"bandwidthInMbps": 50, "peeringLocation":
      "Area51", "serviceProviderName": "Microsoft ER Test"}}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"25c1f596-69ef-4362-bb2c-74f3e713649e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"601f9751-b7ea-4b94-be06-9b2fccb926fb\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Microsoft ER Test\",\r\n      \"peeringLocation\"\
        : \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\"\
        : \"Disabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"serviceKey\"\
        : \"00000000-0000-0000-0000-000000000000\",\r\n    \"serviceProviderProvisioningState\"\
        : \"NotProvisioned\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\"\
        ,\r\n    \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\
        \n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/13aaeda9-1ca5-46d0-baa4-53453fac961d?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/13aaeda9-1ca5-46d0-baa4-53453fac961d?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"e5a11d1a-3891-4337-82b6-dc71d7c89993\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"601f9751-b7ea-4b94-be06-9b2fccb926fb\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Microsoft ER Test\",\r\n      \"peeringLocation\"\
        : \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\"\
        : \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"serviceKey\": \"b29656a9-1a89-4194-8252-2835869426be\",\r\
        \n    \"serviceProviderProvisioningState\": \"NotProvisioned\"\r\n  },\r\n\
        \  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"\
        Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microso[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/stats?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"primaryBytesIn\": 0,\r\n  \"primaryBytesOut\": 0,\r\n\
        \  \"secondaryBytesIn\": 0,\r\n  \"secondaryBytesOut\": 0\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"sku": {"family": "MeteredData", "tier": "Premium", "name": "Premium_MeteredData"},
      "tags": {"test": "Test"}, "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1",
      "properties": {"authorizations": [], "allowClassicOperations": false, "gatewayManagerEtag":
      "", "provisioningState": "Succeeded", "serviceProviderProperties": {"bandwidthInMbps":
      50, "peeringLocation": "Area51", "serviceProviderName": "Microsoft ER Test"},
      "serviceProviderProvisioningState": "NotProvisioned", "circuitProvisioningState":
      "Enabled", "serviceKey": "b29656a9-1a89-4194-8252-2835869426be", "peerings":
      []}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscription[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"auth1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\"\
        ,\r\n  \"etag\": \"W/\\\"f056fb62-5f25-4360-a645-0e5005f676bf\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        authorizationKey\": \"460fb385-24a1-405f-a3a5-b01b3d0e72cd\",\r\n    \"authorizationUseStatus\"\
        : \"Available\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/074cb73c-f512-4094-99f5-9cdafc163b9a?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"auth1\",\r\n\
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\"\
        ,\r\n      \"etag\": \"W/\\\"def9311c-7e72-4505-af90-0d33b08a79a1\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"authorizationKey\": \"460fb385-24a1-405f-a3a5-b01b3d0e72cd\"\
        ,\r\n        \"authorizationUseStatus\": \"Available\"\r\n      }\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1?api-version=2017-03-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/b7f4e92e-1ee2-4d9e-92e2-e2d1389441ee?api-version=2017-03-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/b7f4e92e-1ee2-4d9e-92e2-e2d1389441ee?api-version=2017-03-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"properties": {"peerASN": 10000, "peeringType": "AzurePublicPeering",
      "vlanId": 100, "secondaryPeerAddressPrefix": "101.0.0.0/30", "primaryPeerAddressPrefix":
      "100.0.0.0/30"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"AzurePublicPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering\"\
        ,\r\n  \"etag\": \"W/\\\"e4554025-4972-4f97-934e-70d5af248c42\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        peeringType\": \"AzurePublicPeering\",\r\n    \"azureASN\": 0,\r\n    \"peerASN\"\
        : 10000,\r\n    \"primaryPeerAddressPrefix\": \"100.0.0.0/30\",\r\n    \"\
        secondaryPeerAddressPrefix\": \"101.0.0.0/30\",\r\n    \"state\": \"Disabled\"\
        ,\r\n    \"vlanId\": 100,\r\n    \"lastModifiedBy\": \"\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/c8536a52-5820-4f43-b52f-631c85163dc7?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"AzurePublicPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering\"\
        ,\r\n  \"etag\": \"W/\\\"9a597732-5e86-419f-bd47-b4031e671759\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        peeringType\": \"AzurePublicPeering\",\r\n    \"azureASN\": 12076,\r\n   \
        \ \"peerASN\": 10000,\r\n    \"primaryPeerAddressPrefix\": \"100.0.0.0/30\"\
        ,\r\n    \"secondaryPeerAddressPrefix\": \"101.0.0.0/30\",\r\n    \"primaryAzurePort\"\
        : \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n    \"secondaryAzurePort\": \"A51-TEST-06GMR-CIS-2-SEC-A\"\
        ,\r\n    \"state\": \"Enabled\",\r\n    \"vlanId\": 100,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"lastModifiedBy\": \"Customer\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"peerASN": 10001, "peeringType": "AzurePrivatePeering",
      "vlanId": 101, "secondaryPeerAddressPrefix": "103.0.0.0/30", "primaryPeerAddressPrefix":
      "102.0.0.0/30"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePriva[...]
[...]
- request:
    body: '{"properties": {"primaryPeerAddressPrefix": "104.0.0.0/30", "peerASN":
      10002, "vlanId": 103, "secondaryPeerAddressPrefix": "105.0.0.0/30", "peeringType":
      "MicrosoftPeering", "microsoftPeeringConfig": {"customerASN": 10000, "advertisedPublicPrefixes":
      ["104.0.0.0/30"], "routingRegistryName": "LEVEL3"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"MicrosoftPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering\"\
        ,\r\n  \"etag\": \"W/\\\"24757d52-1f14-403e-afe7-3e4028f159db\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        peeringType\": \"MicrosoftPeering\",\r\n    \"azureASN\": 0,\r\n    \"peerASN\"\
        : 10002,\r\n    \"primaryPeerAddressPrefix\": \"104.0.0.0/30\",\r\n    \"\
        secondaryPeerAddressPrefix\": \"105.0.0.0/30\",\r\n    \"state\": \"Disabled\"\
        ,\r\n    \"vlanId\": 103,\r\n    \"lastModifiedBy\": \"\",\r\n    \"microsoftPeeringConfig\"\
        : {\r\n      \"advertisedPublicPrefixes\": [\r\n        \"104.0.0.0/30\"\r\
        \n      ],\r\n      \"advertisedPublicPrefixesState\": \"NotConfigured\",\r\
        \n      \"customerASN\": 10000,\r\n      \"routingRegistryName\": \"LEVEL3\"\
        \r\n    }\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/73777a23-3ce7-45e7-92ae-f2a28182ba63?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/73777a23-3ce7-45e7-92ae-f2a28182ba63?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\"\
        : \" UnauthorizedForMicrosoftPeering\",\r\n    \"message\": \" The Customer\
        \ subscription id 0b1f6471-1bf0-4dda-aec3-cb9272f09590 is not authorized for\
        \ creating Microsoft Peering. Read about requesting approval at https://support.microsoft.com/kb/3181709\
        \ \",\r\n    \"details\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AzurePublicPeering\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering\"\
        ,\r\n      \"etag\": \"W/\\\"24375a2a-f900-43f4-9fa2-4b8c304e5fec\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringType\": \"AzurePublicPeering\",\r\n        \"azureASN\"\
        : 12076,\r\n        \"peerASN\": 10000,\r\n        \"primaryPeerAddressPrefix\"\
        : \"100.0.0.0/30\",\r\n        \"secondaryPeerAddressPrefix\": \"101.0.0.0/30\"\
        ,\r\n        \"primaryAzurePort\": \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n   \
        \     \"secondaryAzurePort\": \"A51-TEST-06GMR-CIS-2-SEC-A\",\r\n        \"\
        state\": \"Enabled\",\r\n        \"vlanId\": 100,\r\n        \"gatewayManagerEtag\"\
        : \"\",\r\n        \"lastModifiedBy\": \"Customer\"\r\n      }\r\n    },\r\
        \n    {\r\n      \"name\": \"AzurePrivatePeering\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivatePeering\"\
        ,\r\n      \"etag\": \"W/\\\"24375a2a-f900-43f4-9fa2-4b8c304e5fec\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringType\": \"AzurePrivatePeering\",\r\n        \"azureASN\"\
        : 12076,\r\n        \"peerASN\": 10001,\r\n        \"primaryPeerAddressPrefix\"\
        : \"102.0.0.0/30\",\r\n        \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\"\
        ,\r\n        \"primaryAzurePort\": \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n   \
        \     \"secondaryAzurePort\": \"A51-TEST-06GMR-CIS-2-SEC-A\",\r\n        \"\
        state\": \"Enabled\",\r\n        \"vlanId\": 101,\r\n        \"gatewayManagerEtag\"\
        : \"\",\r\n        \"lastModifiedBy\": \"Customer\"\r\n      }\r\n    }\r\n\
        \  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/arpTables/primary?api-version=2017-03-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/523958ec-9e90-431d-a4cc-c326eb9bd71e?api-version=2017-03-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/523958ec-9e90-431d-a4cc-c326eb9bd71e?api-version=2017-03-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/523958ec-9e90-431d-a4cc-c326eb9bd71e?api-version=2017-03-01']
      Retry-After: ['10']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/routeTables/primary?api-version=2017-03-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/f60a3a7e-ed4a-4663-bbfd-bf2f02ecbda7?api-version=2017-03-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"value\": []\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
