interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-57a5-731ee8b2d201","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":5000,"nameServers":["ns1-01.azure-dns.com.","ns2-01.azure-dns.net.","ns3-01.azure-dns.org.","ns4-01.azure-dns.info."],"numberOfRecordSets":2}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [00000002-0000-0000-57a5-731ee8b2d201]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/NS/@?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"e3e48597-10cf-4157-91ba-f6562cb5ecbf","properties":{"fqdn":"myzone.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-01.azure-dns.com."},{"nsdname":"ns2-01.azure-dns.net."},{"nsdname":"ns3-01.azure-dns.org."},{"nsdname":"ns4-01.azure-dns.info."}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [e3e48597-10cf-4157-91ba-f6562cb5ecbf]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["manualtxt"]}]},
      "type": "txt", "name": "myname2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myname2?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/myname2","name":"myname2","type":"Microsoft.Network\/dnszones\/TXT","etag":"b80fb4b8-91a4-4052-b681-c495fe6a5b42","properties":{"fqdn":"myname2.myzone.com.","TTL":3600,"TXTRecords":[{"value":["manualtxt"]}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [b80fb4b8-91a4-4052-b681-c495fe6a5b42]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"type": "srv", "properties": {"SRVRecords": [{"target": "target.contoso.com.",
      "weight": 2, "priority": 1, "port": 1234}], "TTL": 3600}, "name": "mysrv"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/SRV/mysrv?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SRV\/mysrv","name":"mysrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"8151ad17-9503-4957-9abb-5e4edf5810b3","properties":{"fqdn":"mysrv.myzone.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.contoso.com.","weight":2}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [8151ad17-9503-4957-9abb-5e4edf5810b3]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "contoso.com"}]},
      "type": "ptr", "name": "myptr"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myptr?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myptr","name":"myptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"87b0fd22-5ff3-4176-890c-ca670f8a018b","properties":{"fqdn":"myptr.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"contoso.com"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [87b0fd22-5ff3-4176-890c-ca670f8a018b]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"type": "ns", "properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns.contoso.com."}]},
      "name": "myns"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/NS/myns?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/myns","name":"myns","type":"Microsoft.Network\/dnszones\/NS","etag":"3159ef0d-ab0d-4fae-bf57-3753e508037a","properties":{"fqdn":"myns.myzone.com.","TTL":3600,"NSRecords":[{"nsdname":"ns.contoso.com."}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [3159ef0d-ab0d-4fae-bf57-3753e508037a]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/SOA/@?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"902da8e2-2610-4ebf-8ef0-78d38c375005","properties":{"fqdn":"myzone.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-01.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [902da8e2-2610-4ebf-8ef0-78d38c375005]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"TTL": 0, "ARecords": [{"ipv4Address": "10.0.1.0"}, {"ipv4Address":
      "10.0.1.1"}]}, "type": "a", "name": "mya"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/A/mya?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/mya","name":"mya","type":"Microsoft.Network\/dnszones\/A","etag":"9891cba3-c70b-438c-8e39-6f97306a2a7d","properties":{"fqdn":"mya.myzone.com.","TTL":0,"ARecords":[{"ipv4Address":"10.0.1.0"},{"ipv4Address":"10.0.1.1"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [9891cba3-c70b-438c-8e39-6f97306a2a7d]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"AAAARecords": [{"ipv6Address": "2001:4898:e0:99:6dc4:6329:1c99:4e69"}],
      "TTL": 3600}, "type": "aaaa", "name": "myaaaa"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myaaaa?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/AAAA\/myaaaa","name":"myaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"af8e47c1-584a-4e73-887e-397d116a0d2e","properties":{"fqdn":"myaaaa.myzone.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [af8e47c1-584a-4e73-887e-397d116a0d2e]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 7200, "TXTRecords": [{"value": ["abc def"]}, {"value":
      ["foo bar"]}]}, "type": "txt", "name": "mytxt2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/TXT/mytxt2?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/mytxt2","name":"mytxt2","type":"Microsoft.Network\/dnszones\/TXT","etag":"88835f52-55a2-454f-808b-ebee9f47dcee","properties":{"fqdn":"mytxt2.myzone.com.","TTL":7200,"TXTRecords":[{"value":["abc
        def"]},{"value":["foo bar"]}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [88835f52-55a2-454f-808b-ebee9f47dcee]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "contoso.com."}},
      "type": "cname", "name": "mycname"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/mycname?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CNAME\/mycname","name":"mycname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"32551ac9-06c0-402a-8d8d-f7ee4c5c7516","properties":{"fqdn":"mycname.myzone.com.","TTL":3600,"CNAMERecord":{"cname":"contoso.com."}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [32551ac9-06c0-402a-8d8d-f7ee4c5c7516]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 1, "exchange":
      "mail.contoso.com."}]}, "type": "mx", "name": "mymx"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/MX/mymx?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/MX\/mymx","name":"mymx","type":"Microsoft.Network\/dnszones\/MX","etag":"5edc56dd-f433-4e61-b0f0-b0b866dbeb6f","properties":{"fqdn":"mymx.myzone.com.","TTL":3600,"MXRecords":[{"exchange":"mail.contoso.com.","preference":1}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [5edc56dd-f433-4e61-b0f0-b0b866dbeb6f]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["hi"]}]}, "type":
      "txt", "name": "mytxtrs"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/TXT/mytxtrs?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/mytxtrs","name":"mytxtrs","type":"Microsoft.Network\/dnszones\/TXT","etag":"150c60bf-ff76-4fdd-ace9-8a4ab941c4cc","properties":{"fqdn":"mytxtrs.myzone.com.","TTL":3600,"TXTRecords":[{"value":["hi"]}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [150c60bf-ff76-4fdd-ace9-8a4ab941c4cc]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "10.0.0.10"}]},
      "type": "a", "name": "manuala"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/A/manuala?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/manuala","name":"manuala","type":"Microsoft.Network\/dnszones\/A","etag":"44c4927d-109a-4ed2-86ee-5c1623691cce","properties":{"fqdn":"manuala.myzone.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [44c4927d-109a-4ed2-86ee-5c1623691cce]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "myptrdname"}]},
      "type": "ptr", "name": "myname"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myname?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myname","name":"myname","type":"Microsoft.Network\/dnszones\/PTR","etag":"00dfe37c-4e1e-4eed-a670-a5c24c1596ba","properties":{"fqdn":"myname.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"myptrdname"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [00dfe37c-4e1e-4eed-a670-a5c24c1596ba]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/recordsets?api-version=2016-04-01
  response:
    body: {string: '{"value":[{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/[...]
