interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource","name":"cli_test_nic_subresource","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"subnets": [{"name":
      "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}], "addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1\"\
        ,\r\n  \"etag\": \"W/\\\"8400be18-5c2c-491b-8c3e-880ae5bd2bf0\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"fc955858-a2c0-487c-9645-fa0afa72c206\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        ,\r\n        \"etag\": \"W/\\\"8400be18-5c2c-491b-8c3e-880ae5bd2bf0\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/7b442df5-caf7-4d9c-877b-256dbee0dc9e?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['3']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7b442df5-caf7-4d9c-877b-256dbee0dc9e?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "properties": {"enableIPForwarding": false, "ipConfigurations":
      [{"name": "ipconfig1", "properties": {"privateIPAddressVersion": "IPv4", "subnet":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAllocationMethod": "Dynamic"}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"nic1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1\"\
        ,\r\n  \"etag\": \"W/\\\"480f092f-26d2-4b56-9508-aa6e60547eb7\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"a7144b11-043a-454f-9978-4927a40df710\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"480f092f-26d2-4b56-9508-aa6e60547eb7\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"lbmjl5gauj4erfsf5ifpu2wcag.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\"\
        : false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n\
        }"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/bc38e61b-35f9-4615-930b-4d11b6d3c91c?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1",
      "etag": "W/\"480f092f-26d2-4b56-9508-aa6e60547eb7\"", "location": "westus",
      "properties": {"enableIPForwarding": false, "provisioningState": "Succeeded",
      "dnsSettings": {"appliedDnsServers": [], "internalDomainNameSuffix": "lbmjl5gauj4erfsf5ifpu2wcag.dx.internal.cloudapp.net",
      "dnsServers": []}, "ipConfigurations": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1",
      "etag": "W/\"480f092f-26d2-4b56-9508-aa6e60547eb7\"", "name": "ipconfig1", "properties":
      {"privateIPAddress": "10.0.0.4", "provisioningState": "Succeeded", "privateIPAddressVersion":
      "IPv4", "subnet":[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"publicIPAllocationMethod": "Dynamic",
      "idleTimeoutInMinutes": 4, "publicIPAddressVersion": "IPv4"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"publicip2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2\"\
        ,\r\n  \"etag\": \"W/\\\"9326d70f-2215-40bc-98ca-6e14c719edac\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"96e95e72-1157-4a19-a525-e23e818784f9\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"type\": \"\
        Microsoft.Network/publicIPAddresses\"\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/cc21fda7-13c8-4d0d-8541-0875923f735e?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['3']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"publicip2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2\"\
        ,\r\n  \"etag\": \"W/\\\"a696d1b4-fee5-4a06-ad8d-91fb46be86b0\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"96e95e72-1157-4a19-a525-e23e818784f9\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"type\": \"\
        Microsoft.Network/publicIPAddresses\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"a696d1b4-fee5-4a06-ad8d-91fb46be86b0"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_nic_subresource%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"variables": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"loadBalancer": {"value": "[reference(''lb1'')]", "type": "object"}},
      "parameters": {}, "contentVersion": "1.0.0.0", "resources": [{"apiVersion":
      "2015-06-15", "location": "westus", "name": "PublicIPlb1", "tags": {}, "dependsOn":
      [], "type": "Microsoft.Network/publicIPAddresses", "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"apiVersion": "2015-06-15", "location": "westus", "name": "lb1",
      "tags": {}, "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "type": "Microsoft.Network/loadBalancers", "properties": {"backendAddressPools":
      [{"name": "lb1bepool"}], "frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}}}]}}]},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/lb_deploy_sVGYJ7bQH0X0qdaa58BN1cuiC79gWUve","name":"lb_deploy_sVGYJ7bQH0X0qdaa58BN1cuiC79gWUve","properties":{"templateHash":"7578931958605579582","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-03-29T23:43:40.9685074Z","duration":"PT0.5122425S","correlationId":"e04a259e-5b8d-4710-bb0b-26c95306fe1c","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIpAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIpAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/lb_deploy_sVGYJ7bQH0X0qdaa58BN1cuiC79gWUve/operationStatuses/08587107758650213517?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587107758650213517?api-version=2016-09-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/[...]
- request:
    body: '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"a0bb5ef7-c96f-4b9b-94a6-eeb17d3f78db\"", "location": "westus",
      "tags": {}, "properties": {"outboundNatRules": [], "provisioningState": "Succeeded",
      "inboundNatRules": [{"name": "rule1", "properties": {"backendPort": 100, "protocol":
      "Tcp", "frontendPort": 100, "enableFloatingIP": false, "frontendIPConfiguration":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "etag": "W/\"a0bb5ef7-c96f-4b9b-94a6-eeb17d3f78db\"", "name": "LoadBalancerFrontEnd",
      "properties": {"provisioningState": "Succeeded", "privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}}}}}],
      "probes": [], "inboundNatPools": [], "resourceGuid": "4ba1ddcd-15d2-41b2-b97e-5c245e01a5ca",
      "frontendIPConfigurations": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "etag": "W/\"a0bb5ef7-c96f-4b9b-94a6-eeb17d3f78db\"", "name": "LoadBalancerFrontEnd",
      "properties": {"provisioningState": "Succeeded", "privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}}}],
      "loadBalancingRules": [], "backendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\"a0bb5ef7-c96f-4b9b-94a6-eeb17d3f78db\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-000[...]
[...]
- request:
    body: '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1",
      "etag": "W/\"6db18840-a0e2-4e0a-944b-ed6ec638e5bc\"", "location": "westus",
      "properties": {"enableIPForwarding": false, "provisioningState": "Succeeded",
      "dnsSettings": {"appliedDnsServers": [], "internalDomainNameSuffix": "lbmjl5gauj4erfsf5ifpu2wcag.dx.internal.cloudapp.net",
      "dnsServers": []}, "ipConfigurations": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1",
      "etag": "W/\"6db18840-a0e2-4e0a-944b-ed6ec638e5bc\"", "name": "ipconfig1", "properties":
      {"privateIPAddress": "10.0.0.15", "provisioningState": "Succeeded", "privateIPAddressVersion":
      "IPv4", "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap1"},
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap2"}],
      "primary": true, "privateIPAllocationMethod": "static", "loadBalancerInboundNatRules":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/rule1"},
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/rule2"}]}}],
      "resourceGuid": "a7144b11-043a-454f-9978-4927a40df710", "enableAcceleratedNetworking":
      false}}'
    headers:
      Content-Type:[...]
[...]
