interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_private_ip?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip","name":"cli_test_ag_private_ip","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_private_ip%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"contentVersion": "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"applicationGateway": {"type": "object", "value": "[reference(''ag3'')]"}},
      "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag3'')]"}, "resources": [{"name": "ag3Vnet", "dependsOn": [], "tags": {},
      "type": "Microsoft.Network/virtualNetworks", "apiVersion": "2015-06-15", "location":
      "westus", "properties": {"subnets": [{"name": "subnet1", "properties": {"addressPrefix":
      "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}}, {"name":
      "ag3", "apiVersion": "2015-06-15", "tags": {}, "type": "Microsoft.Network/applicationGateways",
      "dependsOn": ["Microsoft.Network/virtualNetworks/ag3Vnet"], "location": "westus",
      "properties": {"sku": {"capacity": 2, "tier": "Standard", "name": "Standard_Medium"},
      "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties": {"subnet":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}}}],
      "backendHttpSettingsCollection": [{"name": "appGatewayBackendHttpSettings",
      "properties": {"Protocol": "Http", "CookieBasedAffinity": "Disabled", "Port":
      80}}], "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      443}}], "sslCertificates": [{"name": "ag3SslCert", "properties": {"data": "MIIJuwIBAzCCCXcGCSqGSIb3DQEHAaCCCWgEgglkMIIJYDCCBgkGCSqGSIb3DQEHAaCCBfoEggX2MIIF8jCCBe4GCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAhXEBfBWkIAigICB9AEggTY4EM/sz3ldecsIvpg3F/ymL4YqRboZbvA4LwwdTC1fuOwcxs4sJ/b3OPDwiWqEE9GinOh7+Kr1dVpH1lff+d8B/ZIM8qTC/ywoHwGJch8zNZIpLQZ997cyI64MyhpFx7Fyf5AcDdw0wTS2cvl1P531TR3epCVH/3EPHbn43nj7BClm9isGD3rxURfw/NIdAwremab16tsnl8OTKSBv1goCnuvVpPGDwSNb1B5VmF7zVQ80oIOp0EGiTMSeMAz1LDTwZIBzC1hU+xd8N+n2FI2GIb6w05aTob1qa6jui0aIzCe851mHS75zGTvVyzDRqDrRsmI34wvmk+H1VY1ku[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3?api-version=2017-03-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag3''
        under resource group ''cli_test_ag_private_ip'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"ag3\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3\"\
        ,\r\n  \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"e7a0c249-411b-4da9-99af-07194bb5de13\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\"\
        : \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\"\
        : [\r\n      {\r\n        \"name\": \"ag3SslCert\",\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/sslCertificates/ag3SslCert\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"publicCertData\": \"\",\r\n          \"httpListeners\": [\r\
        \n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.15\",\r\n          \"privateIPAllocationMethod\"\
        : \"Static\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1\"\
        \r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n  \
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"frontendPorts\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendPort\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/frontendPorts/appGatewayFrontendPort\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"port\": 443,\r\n          \"httpListeners\": [\r\n      \
        \      {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"appGatewayBackendPool\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/backendAddressPools/appGatewayBackendPool\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"backendAddresses\": [],\r\n          \"requestRoutingRules\"\
        : [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"\
        appGatewayBackendHttpSettings\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n    \
        \      \"cookieBasedAffinity\": \"Disabled\",\r\n          \"requestTimeout\"\
        : 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n       \
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"httpListeners\": [\r\n      {\r\n        \"name\": \"appGatewayHttpListener\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/httpListeners/appGatewayHttpListener\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/frontendIPConfigurations/appGatewayFrontendIP\"\
        \r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/frontendPorts/appGatewayFrontendPort\"\
        \r\n          },\r\n          \"protocol\": \"Https\",\r\n          \"sslCertificate\"\
        : {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/sslCertificates/ag3SslCert\"\
        \r\n          },\r\n          \"requireServerNameIndication\": false,\r\n\
        \          \"requestRoutingRules\": [\r\n            {\r\n              \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n  \
        \      \"name\": \"rule1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/requestRoutingRules/rule1\"\
        ,\r\n        \"etag\": \"W/\\\"ffc16187-d854-48f7-9684-dbedaec20bc1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"ruleType\": \"Basic\",\r\n          \"httpListener\": {\r\
        \n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/httpListeners/appGatewayHttpListener\"\
        \r\n          },\r\n          \"backendAddressPool\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/backendAddressPools/appGatewayBackendPool\"\
        \r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"probes\": []\r\n\
        \  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"ffc16187-d854-48f7-9684-dbedaec20bc1"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {}, "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3",
      "etag": "W/\"ffc16187-d854-48f7-9684-dbedaec20bc1\"", "location": "westus",
      "properties": {"sku": {"capacity": 2, "tier": "Standard", "name": "Standard_Medium"},
      "urlPathMaps": [], "backendHttpSettingsCollection": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/backendHttpSettingsCollection/appGatewayBackendHttpSettings",
      "etag": "W/\"ffc16187-d854-48f7-9684-dbedaec20bc1\"", "name": "appGatewayBackendHttpSettings",
      "properties": {"protocol": "Http", "port": 80, "requestTimeout": 30, "cookieBasedAffinity":
      "Disabled", "provisioningState": "Updating"}}], "frontendPorts": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/frontendPorts/appGatewayFrontendPort",
      "etag": "W/\"ffc16187-d854-48f7-9684-dbedaec20bc1\"", "name": "appGatewayFrontendPort",
      "properties": {"port": 443, "provisioningState": "Updating"}}], "gatewayIPConfigurations":
      [{"id": "/subs[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/99008ea3-47c5-4a52-8b0f-39158404b019?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {}, "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3",
      "etag": "W/\"63c8a794-c4be-4cdb-9e61-2f39e2e1a145\"", "location": "westus",
      "properties": {"sku": {"capacity": 2, "tier": "Standard", "name": "Standard_Medium"},
      "urlPathMaps": [], "backendHttpSettingsCollection": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/backendHttpSettingsCollection/appGatewayBackendHttpSettings",
      "etag": "W/\"63c8a794-c4be-4cdb-9e61-2f39e2e1a145\"", "name": "appGatewayBackendHttpSettings",
      "properties": {"protocol": "Http", "port": 80, "requestTimeout": 30, "cookieBasedAffinity":
      "Disabled", "provisioningState": "Succeeded"}}], "frontendPorts": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/frontendPorts/appGatewayFrontendPort",
      "etag": "W/\"63c8a794-c4be-4cdb-9e61-2f39e2e1a145\"", "name": "appGatewayFrontendPort",
      "properties": {"port": 443, "provisioningState": "Succeeded"}}], "sslPolicy":
      {"disabledSslProtocols": ["TLSv1_0", "TLSv1_1"]}, "gatewayIPConfigurations":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Network/applicationGateways/ag3/gatewayIPConfigurations/appGatewayFrontendIP",
      "etag": "W/\"63c8a794-c4be-4cdb-9e61-2f39e2e1a145\"", "name": "appGatewayFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ip/providers/Microsoft.Ne[...]
[...]
