interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.Network/virtualNetworks/dms.clitest.vn000002/subnets/default?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.Network/virtualNetworks/dms.clitest.vn000002/subnets/default\",\r\n
        \ \"etag\": \"W/\\\"6068b39a-dabb-4714-9d94-8072cb316d0a\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6068b39a-dabb-4714-9d94-8072cb316d0a"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "properties": {"virtualSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.Network/virtualNetworks/dms.clitest.vn000002/subnets/default"},
      "sku": {"name": "Standard_2vCores"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2018-03-31-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Accepted","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.Network/virtualNetworks/dms.clitest.vn000002/subnets/default"},"etag":"wpVK3P+zNjOs6zli609cnHKexWff4RfqcHO/rUoxbY4=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003","kind":"Cloud","location":"centralus","name":"dmsclitest000003","sku":{"name":"Standard_2vCores","size":"2
        vCores","tier":"Standard"},"type":"Microsoft.DataMigration/services"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/2d44fe9e-551f-4a84-a1be-9594fc0a4094?api-version=2018-03-31-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"wpVK3P+zNjOs6zli609cnHKexWff4RfqcHO/rUoxbY4="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/2d44fe9e-551f-4a84-a1be-9594fc0a4094?api-version=2018-03-31-preview
  response:
    body:
      string: '{"name":"2d44fe9e-551f-4a84-a1be-9594fc0a4094","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/2d44fe9e-551f-4a84-a1be-9594fc0a4094","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2018-03-31-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","virtualNicId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.Network/networkInterfaces/NIC-pav5hck5kes36wzqfhi8qpb8","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.Network/virtualNetworks/dms.clitest.vn000002/subnets/default"},"etag":"50k2DzSRNkN4mVzaBwlkxvNzJegqaIKwVNztWgbC8W8=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003","kind":"Cloud","location":"centralus","name":"dmsclitest000003","sku":{"name":"Standard_2vCores","size":"2
        vCores","tier":"Standard"},"type":"Microsoft.DataMigration/services"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"50k2DzSRNkN4mVzaBwlkxvNzJegqaIKwVNztWgbC8W8="'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "properties": {"sourcePlatform": "SQL", "targetPlatform":
      "SQLDB"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004?api-version=2018-03-31-preview
  response:
    body:
      string: '{"properties":{"sourcePlatform":"SQL","targetPlatform":"SQLDB","creationTime":"2020-08-27T06:00:46.2049437+00:00","provisioningState":"Succeeded"},"etag":"3q1q/Fux1+C39AhDhCsaqiCgvz7k75fKDfTJjClMu9M=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004","location":"centralus","name":"project000004","type":"Microsoft.DataMigration/services/projects"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3q1q/Fux1+C39AhDhCsaqiCgvz7k75fKDfTJjClMu9M="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005?api-version=2018-03-31-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"taskType": "Migrate.SqlServer.SqlDb", "input": {"sourceConnectionInfo":
      {"userName": "testuser", "password": "testpassword", "type": "SqlConnectionInfo",
      "dataSource": "notarealsourceserver", "authentication": "SqlAuthentication",
      "encryptConnection": true, "trustServerCertificate": true}, "targetConnectionInfo":
      {"userName": "testuser", "password": "testpassword", "type": "SqlConnectionInfo",
      "dataSource": "notarealtargetserver", "authentication": "SqlAuthentication",
      "encryptConnection": true, "trustServerCertificate": true}, "selectedDatabases":
      [{"name": "SourceDatabase1", "targetDatabaseName": "TargetDatabase1", "makeSourceDbReadOnly":
      false, "tableMap": {"dbo.TestTableSource1": "dbo.TestTableTarget1", "dbo.TestTableSource2":
      "dbo.TestTableTarget2"}}], "validationOptions": {"enableSchemaValidation": false,
      "enableDataIntegrityValidation": false, "enableQueryAnalysisValidation": false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005?api-version=2018-03-31-preview
  response:
    body:
      string: '{"properties":{"input":{"sourceConnectionInfo":{"userName":"testuser","password":"VRfRrd1AhEh/NynHfUWeN+m7jmnY4HF2bUQJWj5SqAw=","type":"SqlConnectionInfo","dataSource":"notarealsourceserver","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"targetConnectionInfo":{"userName":"testuser","password":"VRfRrd1AhEh/NynHfUWeN+m7jmnY4HF2bUQJWj5SqAw=","type":"SqlConnectionInfo","dataSource":"notarealtargetserver","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"selectedDatabases":[{"name":"SourceDatabase1","targetDatabaseName":"TargetDatabase1","makeSourceDbReadOnly":false,"tableMap":{"dbo.TestTableSource1":"dbo.TestTableTarget1","dbo.TestTableSource2":"dbo.TestTableTarget2"}}],"validationOptions":{"enableSchemaValidation":false,"enableDataIntegrityValidation":false,"enableQueryAnalysisValidation":false},"encryptedKeyForSecureFields":"4/oL9MzlkAVCsnj3yXkDcb4wU91ocTfa0AxGkbFTrTtjcdszf3CND7vGXrPFm/prl4O+ZHBOHEx72FHZQLzpc5Qzr1cdJlZwNeSrlqaCVo765q5lxIMB8OnbnlrFSIzoNSZrMDjxByQRQOzz2RH4MWg3SY3Eje/bWkvA65ZgRxUe6K7L7RIQLSU9udQ3c53jfq7zLdFA8XrgQ6wmhYTNfT4wEqYGLJeAf4xbD2XXSWjkVVnNC9yDZIhhHA4OByG5nbSI2TnV0K+ceDOs/jGLVKjfqzX5SypC3xJ0IZBYBZfW48loGJVonTVW693AWCJePTZoY/3h4NetZ1qvg/1KZA=="},"taskId":"1c10f1ee-3c88-46d5-886a-460f02669e75","taskType":"Migrate.SqlServer.SqlDb","state":"Queued","isCloneable":true,"createdOn":"2020-08-27T06:00:51.4540423+00:00"},"etag":"tM9Wx+KIiD7qEXrSxZA6BjpQ1ir258dNUUi+pKA0RlI=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005","name":"task1000005","type":"Microsoft.DataMigration/services/projects/tasks"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"tM9Wx+KIiD7qEXrSxZA6BjpQ1ir258dNUUi+pKA0RlI="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005/cancel?api-version=2018-03-31-preview
  response:
    body:
      string: '{"properties":{"input":{"sourceConnectionInfo":{"userName":"testuser","password":"VR[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks?api-version=2018-03-31-preview&taskType=Migrate.SqlServer.SqlDb
  response:
    body:
      string: '{"value":[{"properties":{"input":{"sourceConnectionInfo":{"userName":"testuser","password":"VRfRrd1AhEh/NynHfUWeN+m7jmnY4HF2bUQJWj5SqAw=","type":"SqlConnectionInfo","dataSource":"notarealsourceserver","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"targetConnectionInfo":{"userName":"testuser","password":"VRfRrd1AhEh/NynHfUWeN+m7jmnY4HF2bUQJWj5SqAw=","type":"SqlConnectionInfo","dataSource":"notarealtargetserver","authentication":"SqlAuthentication","encryptCon[...]
- request:
    body: '{"name": "task1000005", "type": "tasks"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003%2Fprojects%2Fproject000004/checkNameAvailability?api-version=2018-03-31-preview
  response:
    body:
      string: '{"reason":"AlreadyExists","message":"The resource name is already in
        use.","nameAvailable":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005?deleteRunningTasks=true&api-version=2018-03-31-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test_000001/providers/Microsoft.DataMigration/services/dmsclitest000003?deleteRunningTasks=true&api-version=2018-03-31-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/952f2da6-79b3-4f77-9629-c353a8a242b1?api-version=2018-03-31-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationResults/952f2da6-79b3-4f77-9629-c353a8a242b1?api-version=2018-03-31-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/952f2da6-79b3-4f77-9629-c353a8a242b1?api-version=2018-03-31-preview
  response:
    body:
      string: '{"name":"952f2da6-79b3-4f77-9629-c353a8a242b1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/952f2da6-79b3-4f77-9629-c353a8a242b1","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
