interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"Subnet-1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1\",\r\n
        \ \"etag\": \"W/\\\"8cdd2087-682b-45ee-ae69-b550360dd894\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"172.16.7.64/27\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DMSLoadResources/providers/Microsoft.Network/networkInterfaces/sqlsource307/ipConfigurations/ipconfig1\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DMSLoadResources/providers/Microsoft.Network/networkInterfaces/mysqlsource947/ipConfigurations/ipconfig1\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscription[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/skus?api-version=2021-06-30
  response:
    body:
      string: '{"value":[{"resourceType":"services","name":"Premium_4vCores","tier":"Premium","size":"4
        vCores","locations":["Australia East"],"locationInfo":[{"location":"Australia
        East","zones":[],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"services","name":"Premium_4vCores","tier":"Premium","size":"4
        vCores","locations":["Australia Southeast"],"locationInfo":[{"location":"Australia
        Southeast","zones":[],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"services","name":"Premium_4vCores","tier":"Premium","size":"4
        vCores","locations":["Brazil South"],"locationInfo":[{"location":"Brazil South","zones":[],"zoneDetails":[]}],"restrictions":[]},{"resourceType":"services","name":"Premium[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2021-06-30
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.DataMigration/services/dmsclitest000003''
        under resource group ''dms_cli_test000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {"area": "cli", "env": "test"}, "location": "centralus", "sku":
      {"name": "Premium_4vCores"}, "properties": {"virtualSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"provisioningState":"Accepted","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1"},"etag":"zaRlZjbm819zyuH+giXJPijQrAK6DHa63r784xhln2U=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003","kind":"Cloud","location":"centralus","name":"dmsclitest000003","sku":{"name":"Premium_4vCores","size":"4
        vCores","tier":"Premium"},"tags":{"area":"cli","env":"test"},"type":"Microsoft.DataMigration/services"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/fea72cdb-f953-4814-9f93-4fa1a17a8868?api-version=2021-06-30
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"zaRlZjbm819zyuH+giXJPijQrAK6DHa63r784xhln2U="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/fea72cdb-f953-4814-9f93-4fa1a17a8868?api-version=2021-06-30
  response:
    body:
      string: '{"name":"fea72cdb-f953-4814-9f93-4fa1a17a8868","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/fea72cdb-f953-4814-9f93-4fa1a17a8868","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","virtualNicId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.Network/networkInterfaces/NIC-m9c449xs5sv7tg6hzhu8wi26","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1"},"etag":"TOSzxq/v8wQ2Gi9Zc2w9uFYtCxxfkukXN3UwANMs21A=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003","kind":"Cloud","location":"centralus","name":"dmsclitest000003","sku":{"name":"Premium_4vCores","size":"4
        vCores","tier":"Premium"},"tags":{"area":"cli","env":"test"},"type":"Microsoft.DataMigration/services"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"TOSzxq/v8wQ2Gi9Zc2w9uFYtCxxfkukXN3UwANMs21A="'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services?api-version=2021-06-30
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","virtualNicId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.Network/networkInterfaces/NIC-m9c449xs5sv7tg6hzhu8wi26","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003","kind":"Cloud","location":"centralus","name":"dmsclitest000003","sku":{"name":"Premium_4vCores","size":"4
        vCores","tier":"Premium"},"tags":{"area":"cli","env":"test"},"type":"Microsoft.DataMigration/services"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/checkStatus?api-version=2021-06-30
  response:
    body:
      string: '{"agentVersion":"5.1.5289.3","status":"Online","provisioningState":"Succeeded","vmSize":"Standard_F4","supportedTaskTypes":["Connect.MongoDb","Migrate.MongoDb","Validate.MongoDb","ConnectToSource.PostgreSql.Sync","ConnectToSource.AWSRDSPostgreSql.Sync","ConnectToTarget.AzureDbForPostgreSql.Sync","GetUserTablesMySql","GetUserTablesPostgreSql","Migrate.PostgreSql.AzureDbForPostgreSql.Sync","Migrate.PostgreSql.AzureDbForPostgreSql.SyncV2","Migrate.AWSRDSPostgreSql.AzureDbForPostgreSql.Sync","Migrate.MySql.AzureDbForMySql","ValidateMigrationInput.MySql.AzureDbForMySql","GetTDECertificates.Sql","Migrate.Ssis","Migrate.SqlServer.AzureSqlDbMI","MigrateSchemaSqlServerSqlDb","ValidateSsisMigrationInput.SqlServer","ValidateMigrationInput.SqlServer.AzureSqlDbMI","ConnectToTarget.AzureDbForMySql","ConnectToSource.SqlServer","GetUserTables.Sql","ConnectToTarget.AzureSqlDbMI","ConnectToTarget.SqlDb","ConnectToTarget.SqlServer","Migrate.SqlServer.SqlDb","Migrate.SqlServer.SqlServer","ValidateMigrationInput.SqlServer.SqlServer","ConnectToSource.MySql","GetProjectDetails.MySql.Sql","ConnectToTarget.AzureSqlDbMI.Sync.LRS","ValidateMigrationInput.SqlServer.AzureSqlDbMI.Sync.LRS","Migrate.SqlServer.AzureSqlDbMI.Sync.LRS"],"workerType":"Cloud","registeredWorker":"","agentConfiguration":{"maxParallelMigrationActivities":-1,"enableWindowsLoginsMigrationToMi":false,"disableTlsEnforcement":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/stop?api-version=2021-06-30
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/09c8b585-2be2-4f0c-8bec-4a04dc98e910?api-version=2021-06-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationResults/09c8b585-2be2-4f0c-8bec-4a04dc98e910?api-version=2021-06-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationResults/09c8b585-2be2-4f0c-8bec-4a04dc98e910?api-version=2021-06-30
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/start?api-version=2021-06-30
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/181d643d-063f-43b5-a8e4-b6e1ef5b81ad?api-version=2021-06-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationResults/181d643d-063f-43b5-a8e4-b6e1ef5b81ad?api-version=2021-06-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"name": "dmsclitest000003", "type": "services"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2021-06-30
  response:
    body:
      string: '{"reason":"AlreadyExists","message":"The resource name is already in
        use.","nameAvailable":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "dmsclitest000003", "type": "services"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2021-06-30
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
