interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"Subnet-1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1\",\r\n
        \ \"etag\": \"W/\\\"8cdd2087-682b-45ee-ae69-b550360dd894\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"172.16.7.64/27\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DMSLoadResources/providers/Microsoft.Network/networkInterfaces/sqlsource307/ipConfigurations/ipconfig1\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DMSLoadResources/providers/Microsoft.Network/networkInterfaces/mysqlsource947/ipConfigurations/ipconfig1\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscription[...]
- request:
    body: '{"tags": {"area": "cli", "env": "test"}, "location": "centralus", "sku":
      {"name": "Premium_4vCores"}, "properties": {"virtualSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"provisioningState":"Accepted","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1"},"etag":"bhBZHEPcKsOiGo8mfOTUl3WMyZa6T+5waV9ecas2DP4=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003","kind":"Cloud","location":"centralus","name":"dmsclitest000003","sku":{"name":"Premium_4vCores","size":"4
        vCores","tier":"Premium"},"tags":{"area":"cli","env":"test"},"type":"Microsoft.DataMigration/services"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/418b70d0-7285-4e35-b69c-38f7b3f1c460?api-version=2021-06-30
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bhBZHEPcKsOiGo8mfOTUl3WMyZa6T+5waV9ecas2DP4="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/418b70d0-7285-4e35-b69c-38f7b3f1c460?api-version=2021-06-30
  response:
    body:
      string: '{"name":"418b70d0-7285-4e35-b69c-38f7b3f1c460","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/418b70d0-7285-4e35-b69c-38f7b3f1c460","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","virtualNicId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.Network/networkInterfaces/NIC-urr9xs45fuh8nkeqpfbqge5e","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-5044/subnets/Subnet-1"},"etag":"zN7lxM8FLID+rXG3YzZFqAnjPtIzMFfygCkiI+4gazQ=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003","kind":"Cloud","location":"centralus","name":"dmsclitest000003","sku":{"name":"Premium_4vCores","size":"4
        vCores","tier":"Premium"},"tags":{"area":"cli","env":"test"},"type":"Microsoft.DataMigration/services"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"zN7lxM8FLID+rXG3YzZFqAnjPtIzMFfygCkiI+4gazQ="'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "properties": {"sourcePlatform": "sql", "targetPlatform":
      "sqldb"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"sourcePlatform":"SQL","targetPlatform":"SQLDB","creationTime":"2021-10-07T19:37:12.3053333+00:00","provisioningState":"Succeeded"},"etag":"yDcRkNo1RVIp3XEdMjkZueblW3Gl25dHpEPOIK9DnUg=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004","location":"centralus","name":"project000004","type":"Microsoft.DataMigration/services/projects"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"yDcRkNo1RVIp3XEdMjkZueblW3Gl25dHpEPOIK9DnUg="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "centralus", "properties": {"sourcePlatform": "postgresql",
      "targetPlatform": "azuredbforpostgresql"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectpg000007?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"sourcePlatform":"PostgreSQL","targetPlatform":"AzureDbForPostgreSQL","creationTime":"2021-10-07T19:37:15.4325096+00:00","provisioningState":"Succeeded"},"etag":"ZIg4chlzIsHSKjIbxph8VfSyOMyzRjXUBLfQm35Cxf0=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectpg000007","location":"centralus","name":"projectpg000007","type":"Microsoft.DataMigration/services/projects"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ZIg4chlzIsHSKjIbxph8VfSyOMyzRjXUBLfQm35Cxf0="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "centralus", "properties": {"sourcePlatform": "mysql", "targetPlatform":
      "azuredbformysql"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectmysql000009?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"sourcePlatform":"MySQL","targetPlatform":"AzureDbForMySQL","creationTime":"2021-10-07T19:37:18.4925676+00:00","provisioningState":"Succeeded"},"etag":"V2ksfjNKqjfmdiqI3N4P5LFODDTBNqsY6U2+UtWnca0=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectmysql000009","location":"centralus","name":"projectmysql000009","type":"Microsoft.DataMigration/services/projects"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"V2ksfjNKqjfmdiqI3N4P5LFODDTBNqsY6U2+UtWnca0="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005?api-version=2021-06-30
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectpg000007/tasks/taskpg000008?api-version=2021-06-30
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectmysql000009/tasks/taskmysql000010?api-version=2021-06-30
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"taskType": "Migrate.SqlServer.SqlDb", "input": {"sourceConnectionInfo":
      {"type": "SqlConnectionInfo", "userName": "testuser", "password": "testpassword",
      "dataSource": "notarealsourceserver", "authentication": "SqlAuthentication",
      "encryptConnection": true, "trustServerCertificate": true}, "targetConnectionInfo":
      {"type": "SqlConnectionInfo", "userName": "testuser", "password": "testpassword",
      "dataSource": "notarealtargetserver", "authentication": "SqlAuthentication",
      "encryptConnection": true, "trustServerCertificate": true}, "selectedDatabases":
      [{"name": "SourceDatabase1", "targetDatabaseName": "TargetDatabase1", "makeSourceDbReadOnly":
      false, "tableMap": {"dbo.TestTableSource1": "dbo.TestTableTarget1", "dbo.TestTableSource2":
      "dbo.TestTableTarget2"}}], "validationOptions": {"enableSchemaValidation": false,
      "enableDataIntegrityValidation": false, "enableQueryAnalysisValidation": false}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"input":{"sourceConnectionInfo":{"type":"SqlConnectionInfo","userName":"testuser","password":"OpX9+TFWt7APPo6vp2q6FzwyFZSRPRdZ/san83CN+hA=","dataSource":"notarealsourceserver","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"targetConnectionInfo":{"type":"SqlConnectionInfo","userName":"testuser","password":"OpX9+TFWt7APPo6vp2q6FzwyFZSRPRdZ/san83CN+hA=","dataSource":"notarealtargetserver","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"selectedDatabases":[{"name":"SourceDatabase1","targetDatabaseName":"TargetDatabase1","makeSourceDbReadOnly":false,"tableMap":{"dbo.TestTableSource1":"dbo.TestTableTarget1","dbo.TestTableSource2":"dbo.TestTableTarget2"}}],"validationOptions":{"enableSchemaValidation":false,"enableDataIntegrityValidation":false,"enableQueryAnalysisValidation":false},"encryptedKeyForSecureFields":"S4D/Kl1BG8ckBazBlWhkCfohizy9tSaCnj1yreSujeJE2VSKnyRGe6/B5N6X1g3E3lf/Ow3qgR/eLPhlWTysVTT/IyPuK6Ay/gD4i98HESZdIDs8RiVQipViLCpDWomytm/sqq3ZTuYE3Qg/OryQ1DbbgBVqL2yf8Yr/KkLJlEK0C3fNHXYe+1uy3BsjlNgs/A6FurO41V93QXWyD2MUCREMqMHET2DEUR/thqk7cO9tzjOP1WJQa4jeAoAvpMY5ltc4bt7qUN6iAxlJgIhCnF4pTmzSOxWiMy0Bgjn7jZKjMoKMbgzQLy6DRJ4/ymUaIZOqLC8cMwqZAltrS84DFA=="},"taskId":"a1ec088c-e916-48ca-aca2-fbcd385393f8","taskType":"Migrate.SqlServer.SqlDb","state":"Queued","isCloneable":true,"createdOn":"2021-10-07T19:37:21.7482235+00:00"},"etag":"VSj5cNb0hx2qETYvJIJTyp/2VTaluQQXKahsbgwqGk4=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005","name":"task1000005","type":"Microsoft.DataMigration/services/projects/tasks"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"VSj5cNb0hx2qETYvJIJTyp/2VTaluQQXKahsbgwqGk4="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005/cancel?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"input":{"sourceConnectionInfo":{"type":"SqlConnectionInfo","userName":"testuser","password":"OpX9+TFWt7APPo6vp2q6FzwyFZSRPRdZ/san83CN+hA=[...]
[...]
- request:
    body: '{"properties": {"taskType": "Migrate.PostgreSql.AzureDbForPostgreSql.SyncV2",
      "input": {"selectedDatabases": [{"name": "SourceDatabase1", "targetDatabaseName":
      "TargetDatabase1", "selectedTables": [{"name": "public.TestTableSource1"}, {"name":
      "public.TestTableSource2"}]}], "targetConnectionInfo": {"type": "PostgreSqlConnectionInfo",
      "userName": "testuser", "password": "testpassword", "serverName": "notarealtargetserver",
      "databaseName": "notarealdatabasename", "port": 5432, "encryptConnection": true,
      "trustServerCertificate": false}, "sourceConnectionInfo": {"type": "PostgreSqlConnectionInfo",
      "userName": "testuser", "password": "testpassword", "serverName": "notarealsourceserver",
      "databaseName": "notarealdatabasename", "port": 5432, "encryptConnection": false,
      "trustServerCertificate": true}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectpg000007/tasks/taskpg000008/cancel?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"input":{"selectedDatabases":[{"name":"SourceDatabase1","targetDatabaseName":"TargetDatabase1","selectedTables":[{"name":"public.TestTa[...]
[...]
- request:
    body: '{"properties": {"taskType": "Migrate.MySql.AzureDbForMySql", "input": {"sourceConnectionInfo":
      {"type": "MySqlConnectionInfo", "userName": "testuser", "password": "testpassword",
      "serverName": "notarealsourceserver", "port": 3306, "encryptConnection": false},
      "targetConnectionInfo": {"type": "MySqlConnectionInfo", "userName": "testuser",
      "password": "testpassword", "serverName": "notarealtargetserver", "port": 3306,
      "encryptConnection": true}, "selectedDatabases": [{"name": "SourceDatabase1",
      "targetDatabaseName": "TargetDatabase1", "tableMap": {"sourceSchema.tableName":
      "targetSchema.tableName"}}], "makeSourceServerReadOnly": true, "optionalAgentSettings":
      {"DesiredRangesCount": "4", "QueryTableDataRangeTaskCount": "8"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectmysql000009/tasks/taskmysql000010?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"input":{"sourceConnectionInfo":{"type":"MySqlConnectionInfo","userName":"testuser","password":"SrimcBlRhrOL[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/projectmysql000009/tasks/taskmysql000010/cancel?api-version=2021-06-30
  response:
    body:
      string: '{"properties":{"input":{"sourceConnectionInfo":{"type":"MySqlConnectionInfo","userName":"testuser","password":"SrimcBlRhrOL2xrsBet25cPWQZaKMFX48[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks?api-version=2021-06-30&taskType=Migrate.SqlServer.SqlDb
  response:
    body:
      string: '{"value":[{"properties":{"input":{"sourceConnectionInfo":{"type":"SqlConnectionInfo","userName":"testuser","password":"OpX9+TFWt7APPo6vp2q6FzwyFZSRPRdZ/san83CN+hA=","dataSource":"notarealsourceserver","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"targetConnectionInfo":{"type":"SqlConnectionInfo","userName":"testuser","password":"OpX9+TFWt7APPo6vp2q6FzwyFZSRPRdZ/san83CN+hA=","dataSource":"notarealtargetserver","authentication":"SqlAuthentication","encryptCon[...]
- request:
    body: '{"name": "task1000005", "type": "tasks"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003%2Fprojects%2Fproject000004/checkNameAvailability?api-version=2021-06-30
  response:
    body:
      string: '{"reason":"AlreadyExists","message":"The resource name is already in
        use.","nameAvailable":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003/projects/project000004/tasks/task1000005?api-version=2021-06-30&deleteRunningTasks=true
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_cli_test000001/providers/Microsoft.DataMigration/services/dmsclitest000003?api-version=2021-06-30&deleteRunningTasks=true
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/2e44048c-5667-430d-be70-23b1d329ca78?api-version=2021-06-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationResults/2e44048c-5667-430d-be70-23b1d329ca78?api-version=2021-06-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/2e44048c-5667-430d-be70-23b1d329ca78?api-version=2021-06-30
  response:
    body:
      string: '{"name":"2e44048c-5667-430d-be70-23b1d329ca78","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/2e44048c-5667-430d-be70-23b1d329ca78","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
