interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6&$filter=userPrincipalName%20eq%20%27example%40example.com%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-01-03T20:58:19Z","showInAddressList":null,"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/5963f50c-7c43-405c-af7e-53294de76abd/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['921667']
      ocp-aad-diagnostics-server-name: [62GtVCvRcZCtOZCobkymTssN6Wq9mZtp7TF7aoH8iz4=]
      ocp-aad-session-key: [A6RF-5Cg6s9sjQRPJ5hyMkEn07_0sjDOgBjFlALnTg-RcshogL3olq9zdIkHGaj7-uPqr8OGm3UbQ0F_ZyEwYgaGaTTxyB1bGIczwjcueQaw5vhuzmiicrcIIdCrQW_t.L1O2hKOBo0LTx8UB5c_h7b5HrzdQtK4ZXXVFg9gs6UA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"accessPolicies": [{"objectId": "5963f50c-7c43-405c-af7e-53294de76abd",
      "permissions": {"secrets": ["all"], "certificates": ["all"], "keys": ["get",
      "create", "delete", "list", "update", "import", "backup", "restore"]}, "tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}], "enabledForTemplateDeployment": true,
      "sku": {"family": "A", "name": "standard"}, "enabledForDeployment": true, "tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333?api-version=2015-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333","name":"vmcreatelinuxsecret3333","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"secrets":["all"],"certificates":["all"],"keys":["get","create","delete","list","update","import","backup","restore"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmcreatelinuxsecret3333.vault.azure.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "policy": {"issuer": {"name": "Self"},
      "x509_props": {"subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com", "key_usage": ["digitalSignature", "nonRepudiation",
      "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months": 60}, "attributes":
      {"enabled": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "key_props": {"exportable": true, "key_size": 2048, "kty": "RSA", "reuse_key":
      false}, "lifetime_actions": [{"action": {"action_type": "AutoRenew"}, "trigger":
      {"lifetime_percentage": 90}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"attributes": {"enabled": true}, "policy": {"issuer": {"name": "Self"},
      "x509_props": {"subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com", "key_usage": ["digitalSignature", "nonRepudiation",
      "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months": 60}, "attributes":
      {"enabled": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "key_props": {"exportable": true, "key_size": 2048, "kty": "RSA", "reuse_key":
      false}, "lifetime_actions": [{"action": {"action_type": "AutoRenew"}, "trigger":
      {"lifetime_percentage": 90}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKrpjHXGO07fQvLAnGCTqcIlhnFgryCmr8ptoJ4w933oxWQ3NecVUvQIIarhFDFlOa2LGhXfGs0DUttzBjcDTedWixqV2Jo2hFw6ruPix8r1nWwVCdXl9PirGLnTbs3v6o0BJg1SktEGgORc2ai/2H+ZfBS+lxV2rbcCMpnJkQ6RGEte1CQiiqDnSg++qHl2wFQn/ztWuZhW/ApxArVDJmvpf+nNuWHw1CjaBQ53xhFguxLA7C2e/vH4tW2CgwVZ1Dq64RorxvgJvXfo8nmJw7mPAOdGVA23Y1Q/0JqJzMuE/y52Y1i8+aGoXZmNNa5TDe2Sve+JxmgzHwGpcLKjFN8CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBSZiR2n4xeUqEA2znbw7G8zYMRutLOW9+syg47/rjMbSefLy8CTgUuM5QscGV+600aUjlpRxqy4693SHi5L3gzbjo74rHHV0RPXQHs903kCIwlFawioDbVQaWvqqwM0jDNty98vpygQ4DYreRvqVwPztykWEAOETLy25kPshCZF6QCxWqyfn0jJOuSyzBoanEGz+awMQxxd3roB8TTDiPpQNxOjOHnqVKW7eZOZIkhaKTVLlLIolwrwwBCeNpM9PuzJkuNg4VNR74OgWFcOTc+PZFqeoF8jTm+f27eMFnVIUrUd9WkTJ0pzvh4Ear8EqDFV2U4wnnvYu75zhP/wsH1","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"45c1477af5a44a4c9bab7cd0e9bdb984"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01&request_id=45c1477af5a44a4c9bab7cd0e9bdb984']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKrpjHXGO07fQvLAnGCTqcIlhnFgryCmr8ptoJ4w933oxWQ3NecVUvQIIarhFDFlOa2LGhXfGs0DUttzBjcDTedWixqV2Jo2hFw6ruPix8r1nWwVCdXl9PirGLnTbs3v6o0BJg1SktEGgORc2ai/2H+ZfBS+lxV2rbcCMpnJkQ6RGEte1CQiiqDnSg++qHl2wFQn/ztWuZhW/ApxArVDJmvpf+nNuWHw1CjaBQ53xhFguxLA7C2e/vH4tW2CgwVZ1Dq64RorxvgJvXfo8nmJw7mPAOdGVA23Y1Q/0JqJzMuE/y52Y1i8+aGoXZmNNa5TDe2Sve+JxmgzHwGpcLKjFN8CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBSZiR2n4xeUqEA2znbw7G8zYMRutLOW9+syg47/rjMbSefLy8CTgUuM5QscGV+600aUjlpRxqy4693SHi5L3gzbjo74rHHV0RPXQHs903kCIwlFawioDbVQaWvqqwM0jDNty98vpygQ4DYreRvqVwPztykWEAOETLy25kPshCZF6QCxWqyfn0jJOuSyzBoanEGz+awMQxxd3roB8TTDiPpQNxOjOHnqVKW7eZOZIkhaKTVLlLIolwrwwBCeNpM9PuzJkuNg4VNR74OgWFcOTc+PZFqeoF8jTm+f27eMFnVIUrUd9WkTJ0pzvh4Ear8EqDFV2U4wnnvYu75zhP/wsH1","cancellation_requested":false,"status":"completed","target":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1","request_id":"45c1477af5a44a4c9bab7cd0e9bdb984"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/6b6e10412fc54a0284bb4c6bc2ca9519","managed":true,"attributes":{"enabled":true,"nbf":1489092260,"exp":1646859260,"created":1489092861,"updated":1489092861}},{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/74a3528a979e43ae969dbd5addfa2877","managed":true,"attributes":{"enabled":false,"nbf":1489092247,"exp":1646859247,"created":1489092848,"updated":1489092848}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2015-11-01&$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333","name":"vmcreatelinuxsecret3333","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-kv/providers/Microsoft.KeyVault/vaults/python-sdk-test-keyvault","name":"python-sdk-test-keyvault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tjp-kv/providers/Microsoft.KeyVault/vaults/tjpkeyvault3","name":"tjpkeyvault3","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets","name":"cli_test_vmss_create_linux_secrets","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['0']
      X-Fastly-Request-ID: [5c03cd0f550e3695d1ea5dab3afdaccca51c5e1c]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks?api-version=2016-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"dependsOn": [], "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vmss1-nameSubnet"}]}, "apiVersion": "2015-06-15", "location": "westus",
      "tags": {}, "type": "Microsoft.Network/virtualNetworks", "name": "vmss1-nameVNET"},
      {"dependsOn": [], "properties": {"publicIPAllocationMethod": "dynamic"}, "name":
      "vmss1-nameLBPublicIP", "location": "westus", "tags": {}, "type": "Microsoft.Network/publicIPAddresses",
      "apiVersion": "2015-06-15"}, {"dependsOn": ["Microsoft.Network/publicIpAddresses/vmss1-nameLBPublicIP"],
      "properties": {"frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "inboundNatPools": [{"properties": {"protocol":
      "tcp", "backendPort": 22, "frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1-nameLB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "frontendPortRangeEnd": "50119", "frontendPortRangeStart": "50000"}, "name":
      "vmss1-nameLBNatPool"}], "backendAddressPools": [{"name": "vmss1-nameLBBEPool"}]},
      "name": "vmss1-nameLB", "location": "westus", "tags": {}, "type": "Microsoft.Network/loadBalancers",
      "apiVersion": "2015-06-15"}, {"dependsOn": ["Microsoft.Network/virtualNetworks/vmss1-nameVNET",
      "Microsoft.Network/loadBalancers/vmss1-nameLB"], "properties": {"singlePlacementGroup":
      true, "upgradePolicy": {"mode": "Manual"}, "virtualMachineProfile": {"storageProfile":
      {"imageReference": {"publisher": "credativ", "version": "latest", "offer": "Debian",
      "sku": "8"}, "osDisk": {"createOption": "FromImage", "managedDisk": {"storageAccountType":
      "Standard_LRS"}, "caching": "ReadOnly"}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"properties": {"primary": "true", "ipConfigurations": [{"properties": {"loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/backendAddressPools/vmss1-nameLBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/inboundNatPools/vmss1-nameLBNatPool"}],
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET/subnets/vmss1-nameSubnet"}},
      "name": "vmss1dmubIPConfig"}]}, "name": "vmss1dmubNic"}]}, "osProfile": {"secrets":
      [{"sourceVault": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333"},
      "vaultCertificates": [{"certificateUrl": "https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/6b6e10412fc54a0284bb4c6bc2ca9519"}]}],
      "adminUsername": "deploy", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"path": "/home/deploy/.ssh/authorized_keys", "keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "computerNamePrefix": "vmss1dmub"}}, "overprovision":
      true}, "sku": {"tier": "Standard", "name": "Standard_D1_v2", "capacity": 2},
      "name": "vmss1-name", "location": "westus", "tags": {}, "type": "Microsoft.Compute/virtualMachineScaleSets",
      "apiVersion": "2016-04-30-preview"}], "variables": {"vhdContainers": ["[concat(''https://'',
      variables(''storageAccountNames'')[0], ''.blob.core.windows.net/vhds'')]", "[concat(''https://'',
      variables(''storageAccountNames'')[1], ''.blob.core.windows.net/vhds'')]", "[concat(''https://'',
      variables(''storageAccountNames'')[2], ''.blob.core.windows.net/vhds'')]", "[concat(''https://'',
      variables(''storageAccountNames'')[3], ''.blob.core.windows.net/vhds'')]", "[concat(''https://'',
      variables(''storageAccountNames'')[4], ''.blob.core.windows.net/vhds'')]"],
      "storageAccountNames": ["vmss1dmub0", "vmss1dmub1", "vmss1dmub2", "vmss1dmub3",
      "vmss1dmub4"]}, "contentVersion": "1.0.0.0", "parameters": {}, "outputs": {"VMSS":
      {"value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1-name''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]",
      "type": "object"}}}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_ZA3yEYzXT0UFnFD9PEuiDRVyj85BnXZi","name":"vmss_deploy_ZA3yEYzXT0UFnFD9PEuiDRVyj85BnXZi","properties":{"templateHash":"4678752365076987065","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-03-09T20:54:35.8743212Z","duration":"PT0.5864032S","correlationId":"bb6d3c57-1412-4bd9-bcee-b0e1a016e461","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIpAddresses/vmss1-nameLBPublicIP","resourceType":"Microsoft.Network/publicIpAddresses","resourceName":"vmss1-nameLBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1-name"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_ZA3yEYzXT0UFnFD9PEuiDRVyj85BnXZi/operationStatuses/08587125140101897312?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587125140101897312?api-version=2016-09-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  }[...]
