interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\
        \n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"vmss151hq\"\
        ,\r\n        \"adminUsername\": \"admin123\",\r\n        \"linuxConfiguration\"\
        : {\r\n          \"disablePasswordAuthentication\": false\r\n        },\r\n\
        \        \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n  \
        \      \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n   \
        \       \"caching\": \"ReadOnly\",\r\n          \"managedDisk\": {\r\n   \
        \         \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n    \
        \    },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\"\
        ,\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"14.04.4-LTS\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss151hqNic\"\
        ,\"properties\":{\"primary\":true,\"ipConfigurations\":[{\"name\":\"vmss151hqIPConfig\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"02a57772-9fad-45b5-ac15-cdf306a7d0fe\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {}, "properties": {"virtualMachineProfile": {"storageProfile":
      {"osDisk": {"caching": "ReadOnly", "managedDisk": {"storageAccountType": "Standard_LRS"},
      "createOption": "fromImage"}, "imageReference": {"sku": "14.04.4-LTS", "version":
      "latest", "offer": "UbuntuServer", "publisher": "Canonical"}}, "osProfile":
      {"secrets": [], "computerNamePrefix": "vmss151hq", "adminUsername": "admin123",
      "linuxConfiguration": {"disablePasswordAuthentication": false}}, "networkProfile":
      {"networkInterfaceConfigurations": [{"properties": {"primary": true, "ipConfigurations":
      [{"properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]},
      "name": "vmss151hqIPConfig"}]}, "name": "vmss151hqNic"}]}, "extensionProfile":
      {"extensions": [{"properties": {"protectedSettings": {"ssh_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8InHIPLAu6lMc0d+5voyXqigZfT5r6fAM1+FQAi+mkPDdk2hNq1BG0Bwfc88Gm7BImw8TS+x2bnZmhCbVnHd6BPCDY7a+cHCSqrQMW89Cv6Vl4ueGOeAWHpJTV9CTLVz4IY1x4HBdkLI2lKIHri9+z7NIdvFk7iOkMVGyez5H1xDbF2szURxgc4I2/o5wycSwX+G8DrtsBvWLmFv9YAPx+VkEHQDjR0WWezOjuo1rDn6MQfiKfqAjPuInwNOg5AIxXAOResrin2PUlArNtdDH1zlvI4RZi36+tJO7mtm3dJiKs4Sj7G6b1CjIU6aaj27MmKy3arIFChYav9yYM3IT",
      "username": "myadmin"}, "type": "VMAccessForLinux", "typeHandlerVersion": "1.4",
      "autoUpgradeMinorVersion": true, "publisher": "Microsoft.OSTCExtensions"}, "name":
      "VMAccessForLinux"}]}}, "upgradePolicy": {"mode": "Manual"}, "overprovision":
      true, "singlePlacementGroup": true}, "sku": {"tier": "Standard", "capacity":
      2, "name": "Standard_D1_v2"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_extension/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/52ab6e5a-8a0a-4829-911a-4bae123a7810?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-02-27T22:02:09.5078006+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"52ab6e5a-8a0a-4829-911a-4bae123a7810\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/52ab6e5a-8a0a-4829-911a-4bae123a7810?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-02-27T22:02:09.5078006+00:00\",\r\
        \n  \"endTime\": \"2017-02-27T22:04:01.1407748+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"52ab6e5a-8a0a-4829-911a-4bae123a7810\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
