interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-diskattach-test?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"6c69ef73-f3c4-411e-b70b-0e520d032c82\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1\"\r\n\
        \    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n  \
        \      \"publisher\": \"OpenLogic\",\r\n        \"offer\": \"CentOS\",\r\n\
        \        \"sku\": \"7.2\",\r\n        \"version\": \"latest\"\r\n      },\r\
        \n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\"\
        : \"osdisk_DqS7Ci2AyY\",\r\n        \"createOption\": \"FromImage\",\r\n \
        \       \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n    \
        \      \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/disks/osdisk_DqS7Ci2AyY\"\
        \r\n        }\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vm-diskattach-test\",\r\n      \"adminUsername\"\
        : \"admin123\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-diskattach-testVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-diskattach-test\"\
        ,\r\n  \"name\": \"vm-diskattach-test\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"osProfile": {"linuxConfiguration":
      {"disablePasswordAuthentication": false}, "computerName": "vm-diskattach-test",
      "adminUsername": "admin123", "secrets": []}, "storageProfile": {"imageReference":
      {"publisher": "OpenLogic", "offer": "CentOS", "version": "latest", "sku": "7.2"},
      "osDisk": {"createOption": "fromImage", "caching": "ReadWrite", "osType": "Linux",
      "name": "osdisk_DqS7Ci2AyY", "managedDisk": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-test-disk/providers/Microsoft.Compute/disks/osdisk_DqS7Ci2AyY",
      "storageAccountType": "Premium_LRS"}}, "dataDisks": [{"diskSizeGB": 1, "lun":
      0, "name": "d1", "createOption": "empty"}]}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-diskattach-testVMNic"}]},
      "hardwareProfile": {"vmSize": "Standard_DS1"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-dis[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/aa6abb1d-4540-431e-85a1-282991982e99?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-02-17T22:02:28.0264782+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"aa6abb1d-4540-431e-85a1-282991982e99\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/aa6abb1d-4540-431e-85a1-282991982e99?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-02-17T22:02:28.0264782+00:00\",\r\
        \n  \"endTime\": \"2017-02-17T22:03:11.567053+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"aa6abb1d-4540-431e-85a1-282991982e99\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
