interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-01-03T20:58:19Z","showInAddressList":null,"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":null,"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['886441']
      ocp-aad-diagnostics-server-name: [tp+Oc95+GqW2WwmkjHOYxRA2IQ7tMWEeuupn2uRTBrQ=]
      ocp-aad-session-key: [21Yt1_klxqvIBlmjS_tL-8F6v-X599qz0Q2yY3lTSKecs6EAnMcX4549C7iCPTKJartYawKIjkh7znKd3lZkZ7lqQdQjAqKhUavfZNmry5-yWFT_uyEVDkAdZMvSoilb.7tS5Rx3fu5i16yavfx9wOhii7l6D0SI6qvxmRFLIc54]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"enabledForTemplateDeployment": true,
      "accessPolicies": [{"objectId": "5963f50c-7c43-405c-af7e-53294de76abd", "tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "permissions": {"secrets": ["all"],
      "keys": ["get", "create", "delete", "list", "update", "import", "backup", "restore"],
      "certificates": ["all"]}}], "enabledForDeployment": true, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333?api-version=2015-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333","name":"vmcreatelinuxsecret3333","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"secrets":["all"],"keys":["get","create","delete","list","update","import","backup","restore"],"certificates":["all"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmcreatelinuxsecret3333.vault.azure.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"policy": {"lifetime_actions": [{"action": {"action_type": "AutoRenew"},
      "trigger": {"lifetime_percentage": 90}}], "key_props": {"exportable": true,
      "reuse_key": false, "key_size": 2048, "kty": "RSA"}, "issuer": {"name": "Self"},
      "secret_props": {"contentType": "application/x-pkcs12"}, "x509_props": {"key_usage":
      ["digitalSignature", "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 60, "subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com"}, "attributes": {"enabled": true}}, "attributes": {"enabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"lifetime_actions": [{"action": {"action_type": "AutoRenew"},
      "trigger": {"lifetime_percentage": 90}}], "key_props": {"exportable": true,
      "reuse_key": false, "key_size": 2048, "kty": "RSA"}, "issuer": {"name": "Self"},
      "secret_props": {"contentType": "application/x-pkcs12"}, "x509_props": {"key_usage":
      ["digitalSignature", "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 60, "subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget,
      CN=www.mytestdomain.com"}, "attributes": {"enabled": true}}, "attributes": {"enabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKjBKHHCCCtLOoMBhfWWfpf0IeOEUQ3NVLJlmKQyurBPzXr/DFnvW4cnxv5Hpzljb58YFwFUVYJUORN+TupHvxcoHRLH4SI9G/5uXhlYytVvEPJzclmcVyZecctdli6zGntnT66UP6GjrSe2pF2waf2MtxUf5ZpiMH451FcPl8BfHnjXGrRaCSDlm03KhEPb1jwsQrudmRwGldVEzSkbfvda8VhLshRY9MaOHYRTXeKl9oj5Qgm/dBgX6tVW/b+yyCi8kiNt53OQyIwThlTVpFOz2erCC0hHILlMyQtdTqJcdFitET2KClxv1VXUXK3h7ip5HjnoMHns66rK5ACiKTsCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBAJWscQkm3q8fE7LEoGcXwPkR2AeCtjFpAGDNsqfLSeZhvICZZcEcn01znJgrjVLbuGkzPsJa6cR+IADvp50SSH3kyDbfYhUQ79BlVy3pXL3wPj9GQUMD8ayHUJkLNyFR8FvzqBd+e12FeOZjOXPJt1zeqB5nKIZ1rkDlGAfpo04/eLi1lFR4nfFftCEtOZ5OaNeiJm43TiGatImTPAN87jb75Q0hWaPGDHk9wfledTfseV8Sbh5AOryQ5n+GFnC2shc9TNgyiutrOEMxjndFj/hkacFfMXAB0i8wwHZ1GUobKarb3oZktCHBSyhI3rwzLrofuyUvV/1v+BLaGiFmn","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"2f044c07a208459d97789574db5a010b"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01&request_id=2f044c07a208459d97789574db5a010b']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKjBKHHCCCtLOoMBhfWWfpf0IeOEUQ3NVLJlmKQyurBPzXr/DFnvW4cnxv5Hpzljb58YFwFUVYJUORN+TupHvxcoHRLH4SI9G/5uXhlYytVvEPJzclmcVyZecctdli6zGntnT66UP6GjrSe2pF2waf2MtxUf5ZpiMH451FcPl8BfHnjXGrRaCSDlm03KhEPb1jwsQrudmRwGldVEzSkbfvda8VhLshRY9MaOHYRTXeKl9oj5Qgm/dBgX6tVW/b+yyCi8kiNt53OQyIwThlTVpFOz2erCC0hHILlMyQtdTqJcdFitET2KClxv1VXUXK3h7ip5HjnoMHns66rK5ACiKTsCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBAJWscQkm3q8fE7LEoGcXwPkR2AeCtjFpAGDNsqfLSeZhvICZZcEcn01znJgrjVLbuGkzPsJa6cR+IADvp50SSH3kyDbfYhUQ79BlVy3pXL3wPj9GQUMD8ayHUJkLNyFR8FvzqBd+e12FeOZjOXPJt1zeqB5nKIZ1rkDlGAfpo04/eLi1lFR4nfFftCEtOZ5OaNeiJm43TiGatImTPAN87jb75Q0hWaPGDHk9wfledTfseV8Sbh5AOryQ5n+GFnC2shc9TNgyiutrOEMxjndFj/hkacFfMXAB0i8wwHZ1GUobKarb3oZktCHBSyhI3rwzLrofuyUvV/1v+BLaGiFmn","cancellation_requested":false,"status":"completed","target":"https://vmcreatelinuxsecret3333.vault.azure.net/certificates/cert1","request_id":"2f044c07a208459d97789574db5a010b"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/436416e45f324ef488b8bfea21cb2056","managed":true,"attributes":{"enabled":false,"nbf":1490803136,"exp":1648570136,"created":1490803737,"updated":1490803737}},{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/d14d3127b98c4f269e3e97d6c1817cd5","managed":true,"attributes":{"enabled":true,"nbf":1490803155,"exp":1648570155,"created":1490803755,"updated":1490803755}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333","name":"vmcreatelinuxsecret3333","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw/providers/Microsoft.KeyVault/vaults/yugangw-keyvault","name":"yugangw-keyvault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets","name":"cli_test_vmss_create_linux_secrets","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['0']
      X-Fastly-Request-ID: [7451c102d2810158c084c305ce1d9dabfe5cb7e2]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks?api-version=2017-03-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"mode": "Incremental", "parameters": {}, "template": {"variables":
      {}, "parameters": {}, "outputs": {"VMSS": {"value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1-name''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]",
      "type": "object"}}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2015-06-15", "type":
      "Microsoft.Network/virtualNetworks", "location": "westus", "tags": {}, "dependsOn":
      [], "name": "vmss1-nameVNET", "properties": {"subnets": [{"name": "vmss1-nameSubnet",
      "properties": {"addressPrefix": "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/publicIPAddresses",
      "location": "westus", "tags": {}, "dependsOn": [], "name": "vmss1-nameLBPublicIP",
      "properties": {"publicIPAllocationMethod": "dynamic"}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/loadBalancers", "location": "westus", "tags": {},
      "dependsOn": ["Microsoft.Network/publicIpAddresses/vmss1-nameLBPublicIP"], "name":
      "vmss1-nameLB", "properties": {"frontendIPConfigurations": [{"name": "loadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP"}}}],
      "backendAddressPools": [{"name": "vmss1-nameLBBEPool"}], "inboundNatPools":
      [{"name": "vmss1-nameLBNatPool", "properties": {"frontendPortRangeStart": "50000",
      "backendPort": 22, "protocol": "tcp", "frontendPortRangeEnd": "50119", "frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1-nameLB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}}}]}}, {"apiVersion":
      "2016-04-30-preview", "type": "Microsoft.Compute/virtualMachineScaleSets", "properties":
      {"upgradePolicy": {"mode": "Manual"}, "overprovision": true, "virtualMachineProfile":
      {"networkProfile": {"networkInterfaceConfigurations": [{"name": "vmss1scefNic",
      "properties": {"ipConfigurations": [{"name": "vmss1scefIPConfig", "properties":
      {"loadBalancerInboundNatPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/inboundNatPools/vmss1-nameLBNatPool"}],
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/backendAddressPools/vmss1-nameLBBEPool"}],
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET/subnets/vmss1-nameSubnet"}}}],
      "primary": "true"}}]}, "storageProfile": {"osDisk": {"caching": "ReadWrite",
      "createOption": "FromImage", "managedDisk": {"storageAccountType": "Standard_LRS"}},
      "imageReference": {"offer": "Debian", "version": "latest", "publisher": "credativ",
      "sku": "8"}}, "osProfile": {"secrets": [{"sourceVault": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3333"},
      "vaultCertificates": [{"certificateUrl": "https://vmcreatelinuxsecret3333.vault.azure.net/secrets/cert1/d14d3127b98c4f269e3e97d6c1817cd5"}]}],
      "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"path": "/home/deploy/.ssh/authorized_keys", "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "computerNamePrefix": "vmss1scef", "adminUsername":
      "deploy"}}, "singlePlacementGroup": true}, "location": "westus", "tags": {},
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1-nameVNET", "Microsoft.Network/loadBalancers/vmss1-nameLB"],
      "name": "vmss1-name", "sku": {"tier": "Standard", "capacity": 2, "name": "Standard_D1_v2"}}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_NPQcCSdYBpFzIzPgnroK38BTTn94QbAX","name":"vmss_deploy_NPQcCSdYBpFzIzPgnroK38BTTn94QbAX","properties":{"templateHash":"17910292165553364139","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-03-29T16:09:27.5962322Z","duration":"PT1.2046201S","correlationId":"9f5c57b0-6d13-473c-8de4-9216b2fc3596","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIpAddresses/vmss1-nameLBPublicIP","resourceType":"Microsoft.Network/publicIpAddresses","resourceName":"vmss1-nameLBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1-name"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_NPQcCSdYBpFzIzPgnroK38BTTn94QbAX/operationStatuses/08587108031190860177?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587108031190860177?api-version=2016-09-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  }[...]
