interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Microsoft.Azure.Diagnostics/artifacttypes/vmextension/types?api-version=2016-04-30-preview
  response:
    body: {string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"\
        IaaSDiagnostics\",\r\n    \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/westus/Publishers/Microsoft.Azure.Diagnostics/ArtifactTypes/VMExtension/Types/IaaSDiagnostics\"\
        \r\n  }\r\n]"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Microsoft.Azure.Diagnostics/artifacttypes/vmextension/types/IaaSDiagnostics/versions?api-version=2016-04-30-preview
  response:
    body: {string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"\
        1.1.0.0\",\r\n    \"id\": \[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Microsoft.Azure.Diagnostics/artifacttypes/vmextension/types/IaaSDiagnostics/versions/1.6.4.0?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\"\
        ,\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\
        \n    \"supportsMultipleExtensions\": false\r\n  },\r\n  \"location\": \"\
        westus\",\r\n  \"name\": \"1.6.4.0\",\r\n  \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/westus/Publishers/Microsoft.Azure.Diagnostics/ArtifactTypes/VMExtension/Types/IaaSDiagnostics/Versions/1.6.4.0\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
