interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"0\",\r\
        \n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"\
        latestModelApplied\": true,\r\n        \"vmId\": \"5c94da1a-9d2f-4be5-9659-be1bce27b233\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"Canonical\",\r\n            \"offer\": \"UbuntuServer\"\
        ,\r\n            \"sku\": \"16.04-LTS\",\r\n            \"version\": \"16.04.201703070\"\
        \r\n          },\r\n          \"osDisk\": {\r\n            \"osType\": \"\
        Linux\",\r\n            \"name\": \"vmss1_vmss1_0_OsDisk_1_a6cb1cb57e21456aa681cf71da5ce278\"\
        ,\r\n            \"createOption\": \"FromImage\",\r\n            \"caching\"\
        : \"ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Standard_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_a6cb1cb57e21456aa681cf71da5ce278\"\
        \r\n            }\r\n          },\r\n          \"dataDisks\": []\r\n     \
        \   },\r\n        \"osProfile\": {\r\n          \"computerName\": \"vmss10jpv000000\"\
        ,\r\n          \"adminUsername\": \"admin123\",\r\n          \"linuxConfiguration\"\
        : {\r\n            \"disablePasswordAuthentication\": false\r\n          },\r\
        \n          \"secrets\": []\r\n        },\r\n        \"networkProfile\": {\"\
        networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss10jpvNic\"\
        }]},\r\n        \"provisioningState\": \"Updating\"\r\n      },\r\n      \"\
        type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n\
        \      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VMSS_VMS_KNM1_/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n      \"name\": \"vmss1_0\"\r\n    },\r\n    {\r\n      \"instanceId\"\
        : \"1\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"vmId\": \"76c988cf-d70f-4db9-8eb7-94ea8454f231\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"Canonical\",\r\n            \"offer\": \"UbuntuServer\"\
        ,\r\n            \"sku\": \"16.04-LTS\",\r\n            \"version\": \"16.04.201703070\"\
        \r\n          },\r\n          \"osDisk\": {\r\n            \"osType\": \"\
        Linux\",\r\n            \"name\": \"vmss1_vmss1_1_OsDisk_1_39ee[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"instanceId\": \"0\",\r\n  \"sku\": {\r\n    \"name\"\
        : \"Standard_D1_v2\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"latestModelApplied\": true,\r\n    \"vmId\": \"5c94da1a-9d2f-4be5-9659-be1bce27b233\"\
        ,\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"\
        publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n  \
        \      \"sku\": \"16.04-LTS\",\r\n        \"version\": \"16.04.201703070\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n\
        \        \"name\": \"vmss1_vmss1_0_OsDisk_1_a6cb1cb57e21456aa681cf71da5ce278\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_a6cb1cb57e21456aa681cf71da5ce278\"\
        \r\n        }\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vmss10jpv000000\",\r\n      \"adminUsername\"\
        : \"admin123\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss10jpvNic\"\
        }]},\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n  \"name\": \"vmss1_0\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/restart?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/9361ac49-5b7c-4bb9-a5f1-bf1b57331fc2?api-version=2016-04-30-preview']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/9361ac49-5b7c-4bb9-a5f1-bf1b57331fc2?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/9361ac49-5b7c-4bb9-a5f1-bf1b57331fc2?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-03-20T19:25:52.4633722+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"9361ac49-5b7c-4bb9-a5f1-bf1b57331fc2\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/9361ac49-5b7c-4bb9-a5f1-bf1b57331fc2?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-03-20T19:25:52.4633722+00:00\",\r\
        \n  \"endTime\": \"2017-03-20T19:27:28.7749681+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"9361ac49-5b7c-4bb9-a5f1-bf1b57331fc2\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0/instanceView?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"placementGroupId\": \"f6cee656-1cfb-4905-af98-5fee8e7db1e0\"\
        ,\r\n  \"platformUpdateDomain\": 0,\r\n  \"platformFaultDomain\": 0,\r\n \
        \ \"vmAgent\": {\r\n    \"vmAgentVersion\": \"2.2.2\",\r\n    \"statuses\"\
        : [\r\n      {\r\n        \"code\": \"ProvisioningState/succeeded\",\r\n \
        \       \"level\": \"Info\",\r\n        \"displayStatus\": \"Ready\",\r\n\
        \        \"message\": \"Guest Agent is running\",\r\n        \"time\": \"\
        2017-03-20T19:27:23+00:00\"\r\n      }\r\n    ],\r\n    \"extensionHandlers\"\
        : []\r\n  },\r\n  \"statuses\": [\r\n    {\r\n      \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n      \"level\": \"Info\",\r\n      \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n      \"time\": \"2017-03-20T19:27:22.3191597+00:00\"\r\n\
        \    },\r\n    {\r\n      \"code\": \"PowerState/starting\",\r\n      \"level\"\
        : \"Info\",\r\n      \"displayStatus\": \"VM starting\"\r\n    }\r\n  ]\r\n\
        }"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/poweroff?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/703d88ee-34ec-4623-bf49-ca0d8906656b?api-version=2016-04-30-preview']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/703d88ee-34ec-4623-bf49-ca0d8906656b?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/start?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/cd2769c2-83c1-474e-b000-5f1a4f43263c?api-version=2016-04-30-preview']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/cd2769c2-83c1-474e-b000-5f1a4f43263c?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/deallocate?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/9c12a435-3f26-409e-8240-89bd08647a0c?api-version=2016-04-30-preview']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/9c12a435-3f26-409e-8240-89bd08647a0c?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A?api-version=2016-04-30-preview
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/11fbea2c-1e31-4e65-8059-c44f6666089a?api-version=2016-04-30-preview']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/11fbea2c-1e31-4e65-8059-c44f6666089a?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
