interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/8c001b7c-bfa7-4a80-8770-7da057285bad?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/8c001b7c-bfa7-4a80-8770-7da057285bad?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-02-08T19:36:50.9747872Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-02-08T19:36:50.9747872Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-02-08T19:36:50.9435347Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"McfbAUdjb/RVU3qTjdgIr6UxAgXkMcj2KPAtEWqUQ2yQfoeMPXoAB5Hg5pO6RSx8y+q/wjoR3imnQ+xJ9oWEtQ==","permissions":"FULL"},{"keyName":"key2","value":"zK4P0jitAgSCMZMaTk1+HcdaPsVfGyRWgYitU+iVpc1tU5WQelAorllGKbB5Yrmc//1j48r7CF3Ac4GvRPgKAQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 19:37:10 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D56F2B59104B06"']
      last-modified: ['Thu, 08 Feb 2018 19:37:11 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 19:37:11 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=snapshot
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D56F2B597CEACA"']
      last-modified: ['Thu, 08 Feb 2018 19:37:11 GMT']
      x-ms-snapshot: ['2018-02-08T19:37:12.1381903Z']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 19:37:11 GMT']
      x-ms-version: ['2017-07-29']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?snapshot=2018-02-08T19%3A37%3A12.1381903Z
  response:
    body: {string: ''}
    headers:
      content-md5: [DfvoqkwgtS4bi/PLbL3xkw==]
      content-type: [application/octet-stream]
      etag: ['"0x8D56F2B597CEACA"']
      last-modified: ['Thu, 08 Feb 2018 19:37:11 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdVTFA3NEpKVExQVDY1VFlLR0hHSjdVTUxIWTRFTkZOUUpLVnw3MzJCNTA2Q0IwNkNDNTAzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 202, message: Accepted}
version: 1
