interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a6dc502e-7696-4dbe-a9ef-d0e888461326?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1178']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a6dc502e-7696-4dbe-a9ef-d0e888461326?monitor=true&api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a6dc502e-7696-4dbe-a9ef-d0e888461326?monitor=true&api-version=2017-10-01']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a6dc502e-7696-4dbe-a9ef-d0e888461326?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-02-08T18:09:39.8672416Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-02-08T18:09:39.8672416Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-02-08T18:09:39.8047876Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"fUCEtNowYlfvLI6DZP3F0VdcVCD3VIea0d+c5hS5REi510SubTalfMysl5BAUeOlGahl33Ic4WDJcncutDJkZA==","permissions":"FULL"},{"keyName":"key2","value":"ZNUhM80FIWzo9jyGMRKJIhUHYeWlJvqNzQN4qDDCzMzooWkhSgdOBvX2hmK2k4R0sVb4Urz6xKaX2lQAQ3OpjA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1190']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 18:10:19 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://clitest000002.file.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 08 Feb 2018 18:10:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.table.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 18:10:20 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 18:10:20 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Cors><CorsRule><AllowedOrigins>http://example.com</AllowedOrigins><AllowedMethods>POST</AllowedMethods><MaxAgeInSeconds>60</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule></Cors></StorageServiceProperties>'
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 18:10:21 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 08 Feb 2018 18:10:22 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://clitest000002.file.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors><CorsRule><AllowedMethods>POST</AllowedMethods><AllowedOrigins>http://example.com</AllowedOrigins><AllowedHeaders\
        \ /><ExposedHeaders /><MaxAgeInSeconds>60</MaxAgeInSeconds></CorsRule></Cors></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdOWDdUVURRVzJNTkVOVDZMVldKWVVQRjM2WFNCWTdIUzJCT3xENjY1ODM0ODkwMjE3NTVFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1190']
    status: {code: 202, message: Accepted}
version: 1
