interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-07-02T19:03:35Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-07-02T19:03:35Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/3501f644-b5f7-4006-92f9-c08e02e2ac55?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/3501f644-b5f7-4006-92f9-c08e02e2ac55?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-07-02T19:03:38.8703580Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-07-02T19:03:38.8703580Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-07-02T19:03:38.6360013Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"w3kqN6C2IC/uDkGsTL6nJPOt6p0zdYgpNAZyQcA4mJl389RaJ9zyiuVtYDXevZJY7K9KHa//SIdJ9u0d9a8i/Q==","permissions":"FULL"},{"keyName":"key2","value":"dc1Tn1uW5dGEWXtU29vpTf5vdFgmH4NChY942C+nwiXBY5KTtZpFnpv1joWfBz65CD2ekjIwDhL+3YC+l727Bg==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Jul 2018 19:03:58 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5E04E912715A2"']
      last-modified: ['Mon, 02 Jul 2018 19:03:59 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Jul 2018 19:03:59 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5E04E919DEF6C"']
      last-modified: ['Mon, 02 Jul 2018 19:03:59 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['524288']
      x-ms-date: ['Mon, 02 Jul 2018 19:04:00 GMT']
      x-ms-type: [file]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5E04E91FD8BDB"']
      last-modified: ['Mon, 02 Jul 2018 19:04:00 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Mon, 02 Jul 2018 19:04:00 GMT']
      x-ms-range: [bytes=0-524287]
      x-ms-version: ['2018-03-28']
      x-ms-write: [update]
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body: {string: ''}
    headers:
      content-md5: [WQcVkAmdId1DmJZZIzi/lQ==]
      etag: ['"0x8D5E04E9219A635"']
      last-modified: ['Mon, 02 Jul 2018 19:04:00 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Jul 2018 19:04:00 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5E04E9219A635"']
      last-modified: ['Mon, 02 Jul 2018 19:04:00 GMT']
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitestyb5l3liemn5nutcd2.file.core.windows.net/sharemcfrw723ponnne3hbsg/dir1/source_file.txt']
      x-ms-date: ['Mon, 02 Jul 2018 19:04:01 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5E04E92FBFFFE"']
      last-modified: ['Mon, 02 Jul 2018 19:04:02 GMT']
      x-ms-copy-id: [99120b70-64f0-4acd-ba53-d5edf91a5532]
      x-ms-copy-status: [success]
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Jul 2018 19:04:02 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5E04E92FBFFFE"']
      last-modified: ['Mon, 02 Jul 2018 19:04:02 GMT']
      x-ms-copy-completion-time: ['Mon, 02 Jul 2018 19:04:02 GMT']
      x-ms-copy-id: [99120b70-64f0-4acd-ba53-d5edf91a5532]
      x-ms-copy-progress: [524288/524288]
      x-ms-copy-source: ['https://clitestyb5l3liemn5nutcd2.file.core.windows.net/sharemcfrw723ponnne3hbsg/dir1/source_file.txt']
      x-ms-copy-status: [success]
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdJNlhTVjI2TkZGTDVPT0xERkI2SzJOTFE3SkNEREMyNldOWHwwOThEQUY3NzY3NEFFRERBLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
