interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/d81a85be-8e20-4773-ae9e-928f958b9338?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/d81a85be-8e20-4773-ae9e-928f958b9338?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-01-23T23:06:58.9999313Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-01-23T23:06:58.9999313Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-01-23T23:06:58.9687125Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"TdyEM+eWdLgfnaeHRuRO6oAMIiuy11ELgo/U9uAoZtTGjSQe/CPJztNiZtdyNlikVNmo6EumPH30ejz9GXcFBw==","permissions":"FULL"},{"keyName":"key2","value":"BO+RYbbd8lwHTYba6SFXTh+3uXk1AuO1xKvrdbfJefYGSF/W/7ppKAQYhVPbUjuqUrKk+B9pbtCEC1Gp2RTd1g==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jan 2018 23:07:17 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D562B60C1BE0BF"']
      last-modified: ['Tue, 23 Jan 2018 23:07:16 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jan 2018 23:07:17 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: The specified blob does not exist.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jan 2018 23:07:18 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      content-type: [application/octet-stream]
      etag: ['"0x8D562B60D164586"']
      last-modified: ['Tue, 23 Jan 2018 23:07:18 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jan 2018 23:07:18 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container&comp=list&maxresults=1
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"\
        cont000004\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000003</Name><Properties><Last-Modified>Tue,\
        \ 23 Jan 2018 23:07:18 GMT</Last-Modified><Etag>0x8D562B60D164586</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      x-ms-blob-content-type: [application/test-content]
      x-ms-date: ['Tue, 23 Jan 2018 23:07:19 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003?comp=properties
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D562B60DFCB312"']
      last-modified: ['Tue, 23 Jan 2018 23:07:20 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jan 2018 23:07:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jan 2018 23:07:20 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      [...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jan 2018 23:07:21 GMT']
      x-ms-range: [bytes=10-499]
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"}
    headers:
      content-range: [bytes 10-499/1024]
      content-type: [application/test-content]
      etag: ['"0x8D562B60DFCB312"']
      last-modified: ['Tue, 23 Jan 2018 23:07:20 GMT']
      x-ms-blob-content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdJTDJJTkhWWlpXT01MNFZSRkdBNk5JVVg1UDczSEtHUllYVXwyRjc1MjQwODFFMkIyNDVGLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
