interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "properties": {"supportsHttpsTrafficOnly":
      false}, "location": "westus", "kind": "Storage"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/13a6f13e-ac52-43ff-8c9f-80cd3b82ea0d?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/13a6f13e-ac52-43ff-8c9f-80cd3b82ea0d?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-12-19T04:22:02.3157924Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-19T04:22:02.3177943Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-19T04:22:02.3177943Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"T6OUKfe3sltlZfYGivsaJdReQE2Hf4UgxTTXvBbgu9wZUAeEfiGrfBXadewFDqXvCbKc4rgl/uRydrvkLTb/Gg=="},{"keyName":"key2","permissions":"Full","value":"tLmbDnHlIcijfn1/DroYQRC5OsxmjKvzZBp+MLmrdHANKf7/GWlyv5AD5laUEFC8/6katy/vNNRXPyZLybe6Rg=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:25 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5469819B2F321"']
      last-modified: ['Tue, 19 Dec 2017 04:22:22 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:27 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546981A9919CA"']
      last-modified: ['Tue, 19 Dec 2017 04:22:23 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['524288']
      x-ms-date: ['Tue, 19 Dec 2017 04:22:28 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546981B5ADF6E"']
      last-modified: ['Tue, 19 Dec 2017 04:22:25 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:28 GMT']
      x-ms-range: [bytes=0-524287]
      x-ms-version: ['2017-04-17']
      x-ms-write: [update]
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body: {string: ''}
    headers:
      content-md5: [WQcVkAmdId1DmJZZIzi/lQ==]
      etag: ['"0x8D546981BA1E064"']
      last-modified: ['Tue, 19 Dec 2017 04:22:25 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:29 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D546981BA1E064"']
      last-modified: ['Tue, 19 Dec 2017 04:22:25 GMT']
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitest7wjlyqcrmbdgdugvh.file.core.windows.net/share5x5fpwqmwojidal24mo/dir1/source_file.txt']
      x-ms-date: ['Tue, 19 Dec 2017 04:22:30 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D546981CBCABA8"']
      last-modified: ['Tue, 19 Dec 2017 04:22:27 GMT']
      x-ms-copy-id: [db66af1c-b44d-4c4e-a632-aa2ced426d73]
      x-ms-copy-status: [success]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Dec 2017 04:22:31 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D546981CBCABA8"']
      last-modified: ['Tue, 19 Dec 2017 04:22:27 GMT']
      x-ms-copy-completion-time: ['Tue, 19 Dec 2017 04:22:27 GMT']
      x-ms-copy-id: [db66af1c-b44d-4c4e-a632-aa2ced426d73]
      x-ms-copy-progress: [524288/524288]
      x-ms-copy-source: ['https://clitest7wjlyqcrmbdgdugvh.file.core.windows.net/share5x5fpwqmwojidal24mo/dir1/source_file.txt']
      x-ms-copy-status: [success]
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdJTEdWUU5BUUlOWjJGSkxUUENBU0czNUhIRVk2TFpKMjJGRXw3NDkxMjA5NTZGREU0NTVCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
