interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-02T01:12:49Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-02T01:12:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-11-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/9f9f69b9-f9a0-4f60-917c-33a34fdbb52b?monitor=true&api-version=2018-11-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/9f9f69b9-f9a0-4f60-917c-33a34fdbb52b?monitor=true&api-version=2018-11-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-05-02T01:12:51.7076548Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-05-02T01:12:51.7076548Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-05-02T01:12:51.5357748Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://clitest000002-secondary.blob.core.windows.net/","queue":"https://clitest000002-secondary.queue.core.windows.net/","table":"https://clitest000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-11-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:11 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:13 GMT
      x-ms-meta-e:
      - f
      x-ms-meta-g:
      - h
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:14 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<SignedIdentifiers><SignedIdentifier><Id>policy000004</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cecf6aa0-657c-45d2-9298-7fc550eff7a3</MessageId><InsertionTime>Thu,
        02 May 2019 01:13:19 GMT</InsertionTime><ExpirationTime>Thu, 09 May 2019 01:13:19
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyQSSOoQA1QE=</PopReceipt><TimeNextVisible>Thu,
        02 May 2019 01:13:19 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cecf6aa0-657c-45d2-9298-7fc550eff7a3</MessageId><InsertionTime>Thu,
        02 May 2019 01:13:19 GMT</InsertionTime><ExpirationTime>Thu, 09 May 2019 01:13:19
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/cecf6aa0-657c-45d2-9298-7fc550eff7a3?popreceipt=AgAAAAMAAAAAAAAAhv0ITYQA1QE%3D&visibilitytimeout=1
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAArwURPIQA1QEBAAAA
      x-ms-time-next-visible:
      - Thu, 02 May 2019 01:13:22 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cecf6aa0-657c-45d2-9298-7fc550eff7a3</MessageId><InsertionTime>Thu,
        02 May 2019 01:13:19 GMT</InsertionTime><ExpirationTime>Thu, 09 May 2019 01:13:19
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>0f4d3cb8-9298-4812-9bf5-aa7424feaed3</MessageId><InsertionTime>Thu,
        02 May 2019 01:13:24 GMT</InsertionTime><ExpirationTime>Thu, 09 May 2019 01:13:24
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>74bf1889-1beb-422a-8e38-ccc2b862e0ff</MessageId><InsertionTime>Thu,
        02 May 2019 01:13:24 GMT</InsertionTime><ExpirationTime>Thu, 09 May 2019 01:13:24
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/cecf6aa0-657c-45d2-9298-7fc550eff7a3?popreceipt=AgAAAAMAAAAAAAAAPfobUIQA1QE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:b0e2bf0a-b003-009e-4784-002c86000000\nTime:2019-05-02T01:13:29.0902509Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - QueueNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified queue does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 01:13:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdBUk1NQTdHV1FYTk1OQjRBSkhRTkxWNVNZVzJENVhRMjNNRnxBODQwNjNFRDQ4OUExQzZCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
