interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-11-16T21:44:34Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-11-16T21:44:34Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-07-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/e68e3bc9-9599-408d-88fc-d8f01fd9eced?monitor=true&api-version=2018-07-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/e68e3bc9-9599-408d-88fc-d8f01fd9eced?monitor=true&api-version=2018-07-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-11-16T21:44:40.1770235Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-11-16T21:44:40.1770235Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-11-16T21:44:40.0675763Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-07-01
  response:
    body: {string: '{"keys": [{"keyName": "key1", "value": "veryFakedStorageAccountKey==",
        "permissions": "FULL"}, {"keyName": "key2", "value": "veryFakedStorageAccountKey==",
        "permissions": "FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 16 Nov 2018 21:45:00 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D64C0CC2C75BB8"']
      last-modified: ['Fri, 16 Nov 2018 21:45:01 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 16 Nov 2018 21:45:04 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D64C0CC4DF2DF6"']
      last-modified: ['Fri, 16 Nov 2018 21:45:04 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['524288']
      x-ms-date: ['Fri, 16 Nov 2018 21:45:05 GMT']
      x-ms-type: [file]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D64C0CC58C7DFB"']
      last-modified: ['Fri, 16 Nov 2018 21:45:05 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 16 Nov 2018 21:45:05 GMT']
      x-ms-range: [bytes=0-524287]
      x-ms-version: ['2018-03-28']
      x-ms-write: [update]
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body: {string: ''}
    headers:
      content-md5: [WQcVkAmdId1DmJZZIzi/lQ==]
      etag: ['"0x8D64C0CC5DC0C43"']
      last-modified: ['Fri, 16 Nov 2018 21:45:06 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 16 Nov 2018 21:45:06 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D64C0CC5DC0C43"']
      last-modified: ['Fri, 16 Nov 2018 21:45:06 GMT']
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitesttzh2e2sppur4rli7s.file.core.windows.net/shareesezpm2ug5hatg7ruzb/dir1/source_file.txt']
      x-ms-date: ['Fri, 16 Nov 2018 21:45:07 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D64C0CC8235B45"']
      last-modified: ['Fri, 16 Nov 2018 21:45:10 GMT']
      x-ms-copy-id: [5cf0df19-5d73-43b3-a4e9-2a2282584491]
      x-ms-copy-status: [success]
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 16 Nov 2018 21:45:10 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D64C0CC8235B45"']
      last-modified: ['Fri, 16 Nov 2018 21:45:10 GMT']
      x-ms-copy-completion-time: ['Fri, 16 Nov 2018 21:45:09 GMT']
      x-ms-copy-id: [5cf0df19-5d73-43b3-a4e9-2a2282584491]
      x-ms-copy-progress: [524288/524288]
      x-ms-copy-source: ['https://clitesttzh2e2sppur4rli7s.file.core.windows.net/shareesezpm2ug5hatg7ruzb/dir1/source_file.txt']
      x-ms-copy-status: [success]
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdXMk1YWEpVM041WVgzTVZRRENIREc1MlZNSk03WkJXTVU1R3xBMURGREMzMTdFMzUwQkUzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
