interactions:
- request:
    body: '{"location": "global", "sku": {"name": "S0"}, "kind": "Gen1", "properties":
      {"disableLocalAuth": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005?api-version=2021-02-01
  response:
    body:
      string: '{"error":{"code":"InvalidParameter","message":"Sku S0, S1 with Kind
        Gen1 is deprecated and no longer available for Azure Maps pricing tiers.","target":"sku,
        kind","details":[]}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
version: 1
