interactions:
- request:
    body: '{"location": "global", "sku": {"name": "S0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005?api-version=2018-05-01
  response:
    body:
      string: "{\r\n  \"type\": \"Microsoft.Maps/accounts\",\r\n  \"sku\": {\r\n \
        \   \"name\": \"S0\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"x-ms-client-id\": \"f2bc9d5c-9aa5-4095-ad10-1afea0ca6e9b\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005\"\
        ,\r\n  \"name\": \"cli-000005\",\r\n  \"location\": \"global\",\r\n  \"tags\"\
        : {}\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "global", "sku": {"name": "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Maps/accounts/clis1-000008?api-version=2018-05-01
  response:
    body:
      string: "{\r\n  \"type\": \"Microsoft.Maps/accounts\",\r\n  \"sku\": {\r\n \
        \   \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"x-ms-client-id\": \"13c70d64-bcc3-4053-96eb-d913ad9f58a0\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Maps/accounts/clis1-000008\"\
        ,\r\n  \"name\": \"clis1-000008\",\r\n  \"location\": \"global\",\r\n  \"\
        tags\": {}\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "global", "tags": {"key-000003": "val-000004"}, "sku": {"name":
      "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005?api-version=2018-05-01
  response:
    body:
      string: "{\r\n  \"type\": \"Microsoft.Maps/accounts\",\r\n  \"sku\": {\r\n \
        \   \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"x-ms-client-id\": \"f2bc9d5c-9aa5-4095-ad10-1afea0ca6e9b\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005\"\
        ,\r\n  \"name\": \"cli-000005\",\r\n  \"location\": \"global\",\r\n  \"tags\"\
        : {\r\n    \"key-000003\": \"val-000004\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts?api-version=2018-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.Maps/accounts\"\
        ,\r\n      \"sku\": {\r\n        \"name\": \"S1\",\r\n        \"tier\": \"\
        Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"x-ms-client-id\"\
        : \"f2bc9d5c-9aa5-4095-ad10-1afea0ca6e9b\"\r\n      },\r\n      \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005\"\
        ,\r\n      \"name\": \"cli-000005\",\r\n      \"location\": \"global\",\r\n\
        \      \"tags\": {\r\n        \"key-000003\": \"val-000004\"\r\n      }\r\n\
        \    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005/listKeys?api-version=2018-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005\"\
        ,\r\n  \"primaryKey\": \"MQlixfEVyO3QPC0x8EGxwIC5ezqd3hQ3yXG0x8Li2Ys\",\r\n\
        \  \"secondaryKey\": \"d83hzDHGfTCvDlANIM6bc3c3Hbz0vVVUQoON2BMWgMo\",\r\n\
        \  \"primaryKeyLastUpdated\": \"2020-08-27T07:12:10.4520366Z\",\r\n  \"secondaryKeyLastUpdated\"\
        : \"2020-08-27T07:12:10.4520366Z\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "primary"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005/regenerateKey?api-version=2018-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Maps/accounts/cli-000005\"\
        ,\r\n  \"primaryKey\": \"TYpawLnU4XNyvRP3Bkwy6n9HrMUz-8rBGJQ9oNSP3d4\",\r\n\
        \  \"secondaryKey\": \"d83hzDHGfTCvDlANIM6bc3c3Hbz0vVVUQoON2BMWgMo\",\r\n\
        \  \"primaryKeyLastUpdated\": \"2020-08-27T07:12:46.931624Z\",\r\n  \"secondaryKeyLastUpdated\"\
        : \"2020-08-27T07:12:10.4520366Z\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Maps/accounts?api-version=2018-05-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
