interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_zones000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001","name":"cli_test_disk_zones000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2022-12-16T02:38:45Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}, "sku": {"name": "Premium_LRS"}, "zones":
      ["2"], "properties": {"hyperVGeneration": "V1", "creationData": {"createOption":
      "Empty"}, "diskSizeGB": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks/disk123?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk123\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus2\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n\
        \  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"\
        creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"\
        diskSizeGB\": 1,\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/595dc97e-74eb-4976-8bdd-97e024798725?p=ce96b30d-0275-4436-80e4-d93926dd88a7&api-version=2022-07-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/595dc97e-74eb-4976-8bdd-97e024798725?p=ce96b30d-0275-4436-80e4-d93926dd88a7&monitor=true&api-version=2022-07-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;998,Microsoft.Compute/CreateUpdateDisks30Min;7994
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/595dc97e-74eb-4976-8bdd-97e024798725?p=ce96b30d-0275-4436-80e4-d93926dd88a7&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-12-16T02:38:56.6448217+00:00\",\r\n  \"\
        endTime\": \"2022-12-16T02:38:56.7698284+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk123\",\r\
        \n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus2\"\
        ,\r\n  \"tags\": {},\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"sku\":\
        \ {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\": \"Premium\"\r\n  },\r\
        \n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\"\
        : {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\":\
        \ 1,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\": 25,\r\
        \n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\
        \r\n    },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\"\
        : \"Enabled\",\r\n    \"timeCreated\": \"2022-12-16T02:38:56.6448217+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\"\
        ,\r\n    \"diskSizeBytes\": 1073741824,\r\n    \"uniqueId\": \"daab06a3-fa3c-4629-86ae-eacab11b35a3\"\
        ,\r\n    \"tier\": \"P1\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"595dc97e-74eb-4976-8bdd-97e024798725\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49989,Microsoft.Compute/GetOperation30Min;399929
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"disk123\",\r\n  \
        \    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\r\n      \"type\": \"Microsoft.Compute/disks\",\r\n      \"location\": \"\
        eastus2\",\r\n      \"tags\": {},\r\n      \"zones\": [\r\n        \"2\"\r\
        \n      ],\r\n      \"sku\": {\r\n        \"name\": \"Premium_LRS\",\r\n \
        \       \"tier\": \"Premium\"\r\n      },\r\n      \"properties\": {\r\n \
        \       \"hyperVGeneration\": \"V1\",\r\n        \"creationData\": {\r\n \
        \         \"createOption\": \"Empty\"\r\n        },\r\n        \"diskSizeGB\"\
        : 1,\r\n        \"diskIOPSReadWrite\": 120,\r\n        \"diskMBpsReadWrite\"\
        : 25,\r\n        \"encryption\": {\r\n          \"type\": \"EncryptionAtRestWithPlatformKey\"\
        \r\n        },\r\n        \"networkAccessPolicy\": \"AllowAll\",\r\n     \
        \   \"publicNetworkAccess\": \"Enabled\",\r\n        \"timeCreated\": \"2022-12-16T02:38:56.6448217+00:00\"\
        ,\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"diskState\"\
        : \"Unattached\",\r\n        \"diskSizeBytes\": 1073741824,\r\n        \"\
        uniqueId\": \"daab06a3-fa3c-4629-86ae-eacab11b35a3\",\r\n        \"tier\"\
        : \"P1\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostGet3Min;239,Microsoft.Compute/HighCostGet30Min;1919
    status:
      code: 200
      message: OK
version: 1
