interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_update_gallery_permissions_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001","name":"cli_test_update_gallery_permissions_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","date":"2022-10-18T07:34:39Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "tags": {}, "properties": {"sharingProfile":
      {"permissions": "Community", "communityGalleryInfo": {"publisherUri": "pubUri",
      "publisherContact": "test@123.com", "eula": "eula", "publicNamePrefix": "pubName"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001/providers/Microsoft.Compute/galleries/gallery1000002?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery1000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001/providers/Microsoft.Compute/galleries/gallery1000002\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GALLERY1WGJSKHF\"\r\n    },\r\n    \"sharingProfile\":
        {\r\n      \"permissions\": \"Community\",\r\n      \"communityGalleryInfo\":
        {\r\n        \"communityGalleryEnabled\": false,\r\n        \"publisherUri\":
        \"pubUri\",\r\n        \"publisherContact\": \"test@123.com\",\r\n        \"eula\":
        \"eula\",\r\n        \"publicNames\": [\r\n          \"pubName-adfb377b-298c-48a4-8019-88344e2bbad3\"\r\n
        \       ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/EastUS2EUAP/capsOperations/f5d4cd45-a06a-4950-9bf7-66362c63d74f?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/EastUS2EUAP/capsOperations/f5d4cd45-a06a-4950-9bf7-66362c63d74f?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-10-18T07:34:52.0593971+00:00\",\r\n  \"endTime\":
        \"2022-10-18T07:34:54.0906548+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"f5d4cd45-a06a-4950-9bf7-66362c63d74f\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1198,Microsoft.Compute/GetOperationStatus30Min;4198
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001/providers/Microsoft.Compute/galleries/gallery1000002?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery1000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001/providers/Microsoft.Com[...]
- request:
    body: '{"operationType": "Reset"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001/providers/Microsoft.Compute/galleries/gallery1000002/share?api-version=2022-03-03
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/EastUS2EUAP/capsOperations/bf8c2261-ad12-47b3-9b80-3b32714d201a?api-version=2022-03-03
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/EastUS2EUAP/capsOperations/bf8c2261-ad12-47b3-9b80-3b32714d201a?monitor=true&api-version=2022-03-03
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PostShareGallery3Min;9,Microsoft.Compute/PostShareGallery30Min;59
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/EastUS2EUAP/capsOperations/bf8c2261-ad12-47b3-9b80-3b32714d201a?monitor=true&api-version=2022-03-03
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1195,Microsoft.Compute/GetOperationStatus30Min;4195
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001/providers/Microsoft.Compute/galleries/gallery1000002?api-version=2021-10-01&$select=Permissions
  response:
    body:
      string: "{\r\n  \"name\": \"gallery1000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_update_gallery_permissions_000001/providers/Microsoft.Compute/galleries/gallery1000002\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GALLERY1WGJSKHF\"\r\n    },\r\n    \"sharingProfile\":
        {\r\n      \"permissions\": \"Private\"\r\n    },\r\n    \"provisioningState\":
        \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetGallery3Min;344,Microsoft.Compute/GetGallery30Min;2494
    status:
      code: 200
      message: OK
[...]
