interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_confidential_disk_encryption_set_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001","name":"cli_test_confidential_disk_encryption_set_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-06-24T02:23:07Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/vault-000002''
        under resource group ''cli_test_confidential_disk_encryption_set_000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Ruijun
        Hu (Wicresoft North America Ltd)","givenName":null,"jobTitle":null,"mail":"v-ruih@microsoft.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"v-ruih_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","id":"0b98dfb6-3b8c-40ae-a9c4-fd47d1741ef5"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "Premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "0b98dfb6-3b8c-40ae-a9c4-fd47d1741ef5", "permissions": {"keys":
      ["all"], "secrets": ["all"], "certificates": ["all"], "storage": ["all"]}}],
      "softDeleteRetentionInDays": 90, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"v-ruih@microsoft.com","createdByType":"User","createdAt":"2022-06-24T02:23:23.266Z","lastModifiedBy":"v-ruih@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-24T02:23:23.266Z"},"properties":{"sku":{"family":"A","name":"Premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"0b98dfb6-3b8c-40ae-a9c4-fd47d1741ef5","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enablePurgeProtection":true,"vaultUri":"https://vault-000002.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000003/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA-HSM", "key_size": 3072, "key_ops": ["wrapKey", "unwrapKey"],
      "attributes": {"enabled": true, "exportable": true}, "release_policy": {"data":
      "eyJhbnlPZiI6IFt7ImFsbE9mIjogW3siY2xhaW0iOiAieC1tcy1hdHRlc3RhdGlvbi10eXBlIiwgImVxdWFscyI6ICJzZXZzbnB2bSJ9LCB7ImNsYWltIjogIngtbXMtY29tcGxpYW5jZS1zdGF0dXMiLCAiZXF1YWxzIjogImF6dXJlLWNvbXBsaWFudC1jdm0ifV0sICJhdXRob3JpdHkiOiAiaHR0cHM6Ly9zaGFyZWRldXMuZXVzLmF0dGVzdC5henVyZS5uZXQvIn0sIHsiYWxsT2YiOiBbeyJjbGFpbSI6ICJ4LW1zLWF0dGVzdGF0aW9uLXR5cGUiLCAiZXF1YWxzIjogInNldnNucHZtIn0sIHsiY2xhaW0iOiAieC1tcy1jb21wbGlhbmNlLXN0YXR1cyIsICJlcXVhbHMiOiAiYXp1cmUtY29tcGxpYW50LWN2bSJ9XSwgImF1dGhvcml0eSI6ICJodHRwczovL3NoYXJlZHd1cy53dXMuYXR0ZXN0LmF6dXJlLm5ldC8ifSwgeyJhbGxPZiI6IFt7ImNsYWltIjogIngtbXMtYXR0ZXN0YXRpb24tdHlwZSIsICJlcXVhbHMiOiAic2V2c25wdm0ifSwgeyJjbGFpbSI6ICJ4LW1zLWNvbXBsaWFuY2Utc3RhdHVzIiwgImVxdWFscyI6ICJhenVyZS1jb21wbGlhbnQtY3ZtIn1dLCAiYXV0aG9yaXR5IjogImh0dHBzOi8vc2hhcmVkbmV1Lm5ldS5hdHRlc3QuYXp1cmUubmV0LyJ9LCB7ImFsbE9mIjogW3siY2xhaW0iOiAieC1tcy1hdHRlc3RhdGlvbi10eXBlIiwgImVxdWFscyI6ICJzZXZzbnB2bSJ9LCB7ImNsYWltIjogIngtbXMtY29tcGxpYW5jZS1zdGF0dXMiLCAiZXF1YWxzIjogImF6dXJlLWNvbXBsaWFudC1jdm0ifV0sICJhdXRob3JpdHkiOiAiaHR0cHM6Ly9zaGFyZWR3ZXUud2V1LmF0dGVzdC5henVyZS5uZXQvIn1dLCAidmVyc2lvbiI6ICIxLjAuMCJ9"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000003/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vault-000002.vault.azure.net/keys/key-000003/7d907014c5fb460a92461d770aab8d0c","kty":"RSA-HSM","key_ops":["wrapKey","unwrapKey"],"n":"qToQpegiCv3BEnLf6l9zMm8URwYt6ex1RSI9AYX9LcT18zHXckr6TWTdSn8vLjeEqc70x_7g7TkvztbWDPEvrXFbJUT6gB8QFXilNHYq2GHRIGiKtwTTlyr8U7TIwwHLtZkOZD-znX-0EDM2PF73LS7HiRCtLulispkFNwiLgVMJ3tyP0Av5YYGMrkPZvLRUImrvLmCGd6Ls16LjC5ncW2hDPgUAage90vlNonuop9ob6GwsiJygrZE31Mg39AplFTvw9Vt2fj1JIuceNvUd0xO1fr3AJmYEqsPsXKQ8Z6IvJKhocRO1N4fdOIbV8wNsNkdlP__9R7pzZwU6N2HDwvipgjGpgPBScDKZ07GMCBW8SsIn6jhIGVisyn6Aaot6MdSYWIKLKWwH54z75oSZEa6_uGe8Kgi71mDWSLBo3LRNWOipFr4tmqfyrsVIK2o5la_OS9gkyrpYDY_5kTBuqRZtx0smS5tiOZBCxfR1fAwjJqxC9ZDZq1mnIgkLUwjJ","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1656037445,"updated":1656037445,"recoveryLevel":"Recoverable","recoverableDays":90,"exportable":true},"release_policy":{"contentType":"application/json;
        charset=utf-8","data":"eyJ2ZXJzaW9uIjoiMS4wLjAiLCJhbnlPZiI6W3siYXV0aG9yaXR5IjoiaHR0cHM6Ly9zaGFyZWRldXMuZXVzLmF0dGVzdC5henVyZS5uZXQvIiwiYWxsT2YiOlt7ImNsYWltIjoieC1tcy1hdHRlc3RhdGlvbi10eXBlIiwiZXF1YWxzIjoic2V2c25wdm0ifSx7ImNsYWltIjoieC1tcy1jb21wbGlhbmNlLXN0YXR1cyIsImVxdWFscyI6ImF6dXJlLWNvbXBsaWFudC1jdm0ifV19LHsiYXV0aG9yaXR5IjoiaHR0cHM6Ly9zaGFyZWR3dXMud3VzLmF0dGVzdC5henVyZS5uZXQvIiwiYWxsT2YiOlt7ImNsYWltIjoieC1tcy1hdHRlc3RhdGlvbi10eXBlIiwiZXF1YWxzIjoic2V2c25wdm0ifSx7ImNsYWltIjoieC1tcy1jb21wbGlhbmNlLXN0YXR1cyIsImVxdWFscyI6ImF6dXJlLWNvbXBsaWFudC1jdm0ifV19LHsiYXV0aG9yaXR5IjoiaHR0cHM6Ly9zaGFyZWRuZXUubmV1LmF0dGVzdC5henVyZS5uZXQvIiwiYWxsT2YiOlt7ImNsYWltIjoieC1tcy1hdHRlc3RhdGlvbi10eXBlIiwiZXF1YWxzIjoic2V2c25wdm0ifSx7ImNsYWltIjoieC1tcy1jb21wbGlhbmNlLXN0YXR1cyIsImVxdWFscyI6ImF6dXJlLWNvbXBsaWFudC1jdm0ifV19LHsiYXV0aG9yaXR5IjoiaHR0cHM6Ly9zaGFyZWR3ZXUud2V1LmF0dGVzdC5henVyZS5uZXQvIiwiYWxsT2YiOlt7ImNsYWltIjoieC1tcy1hdHRlc3RhdGlvbi10eXBlIiwiZXF1YWxzIjoic2V2c25wdm0ifSx7ImNsYWltIjoieC1tcy1jb21wbGlhbmNlLXN0YXR1cyIsImVxdWFscyI6ImF6dXJlLWNvbXBsaWFudC1jdm0ifV19XX0","immutable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "identity": {"type": "SystemAssigned"}, "properties":
      {"encryptionType": "ConfidentialVmEncryptedWithCustomerKey", "activeKey": {"keyUrl":
      "https://vault-000002.vault.azure.net/keys/key-000003/7d907014c5fb460a92461d770aab8d0c"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des-000004?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"identity\": {\r\n    \"type\":
        \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n
        \     \"keyUrl\": \"https://vault-000002.vault.azure.net/keys/key-000003/7d907014c5fb460a92461d770aab8d0c\"\r\n
        \   },\r\n    \"encryptionType\": \"ConfidentialVmEncryptedWithCustomerKey\",\r\n
        \   \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/0f6e2076-bf6a-4c5c-8b6b-c475a6492a29?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&api-version=2022-03-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/0f6e2076-bf6a-4c5c-8b6b-c475a6492a29?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&monitor=true&api-version=2022-03-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostDiskEncryptionSet3Min;99,Microsoft.Compute/HighCostDiskEncryptionSet30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/0f6e2076-bf6a-4c5c-8b6b-c475a6492a29?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-06-24T02:24:14.9987469+00:00\",\r\n  \"endTime\":
        \"2022-06-24T02:24:15.2799946+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"name\":\"des-000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des-000004\",\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"westus\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"de62f7b3-c4f9-4859-800d-e70a7f971b70\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"},\"properties\":{\"activeKey\":{\"keyUrl\":\"https://vault-000002.vault.azure.net/keys/key-000003/7d907014c5fb460a92461d770aab8d0c\"},\"encryptionType\":\"ConfidentialVmEncryptedWithCustomerKey\",\"provisioningState\":\"Succeeded\"}}\r\n
        \ },\r\n  \"name\": \"0f6e2076-bf6a-4c5c-8b6b-c475a6492a29\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49995,Microsoft.Compute/GetOperation30Min;399969
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des-000004?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"des-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des-000004\",\r\n
        \ \"type\": \"Microsoft.Compute/diskEncryptionSets\",\r\n  \"location\": \"westus\",\r\n
        \ \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\":
        \"de62f7b3-c4f9-4859-800d-e70a7f971b70\",\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n      \"keyUrl\": \"https://vault-000002.vault.azure.net/keys/key-000003/7d907014c5fb460a92461d770aab8d0c\"\r\n
        \   },\r\n    \"encryptionType\": \"ConfidentialVmEncryptedWithCustomerKey\",\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;4805,Microsoft.Compute/LowCostGet30Min;37876
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"key":"value"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscripti[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "Premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "0b98dfb6-3b8c-40ae-a9c4-fd47d1741ef5", "permissions": {"keys":
      ["all"], "secrets": ["all"], "certificates": ["all"], "storage": ["all"]}},
      {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "de62f7b3-c4f9-4859-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'de62f7b3-c4f9-4859-800d-e70a7f971b70')
  response:
    body:
      string: '{"error":{"code":"Authorization_RequestDenied","message":"Insufficient
        privileges to complete the operation.","innerError":{"date":"2022-06-24T02:25:05","request-id":"69cd5ec9-0338-4d9c-abf8-01c447a45d3d","client-request-id":"69cd5ec9-0338-4d9c-abf8-01c447a45d3d"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF00008C27"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"View
        all resources, but does not allow you to make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:47.8628684Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "de62f7b3-c4f9-4859-800d-e70a7f971b70"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"de62f7b3-c4f9-4859-800d-e70a7f971b70","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002","condition":null,"conditionVersion":null,"createdOn":"2022-06-24T02:25:05.8121709Z","updatedOn":"2022-06-24T02:25:06.3746784Z","createdBy":null,"updatedBy":"0b98dfb6-3b8c-40ae-a9c4-fd47d1741ef5","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/windows-cvm/skus/2022-datacenter-cvm/versions?$top=1&$orderby=name%20desc&api-version=2022-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"20348.469.220106\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/windows-cvm/Skus/2022-datacenter-cvm/Versions/20348.469.220106\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/windows-cvm/skus/2022-datacenter-cvm/versions/20348.469.220106?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n
        \   \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\":
        \"SecurityType\",\r\n        \"value\": \"TrustedLaunchAndConfidentialVmSupported\"\r\n
        \     }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\":
        \"Windows\",\r\n      \"sizeInGb\": 16\r\n    },\r\n    \"dataDiskImages\":
        []\r\n  },\r\n  \"location\": \"westus\",\r\n  \"name\": \"20348.469.220106\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/windows-cvm/Skus/2022-datacenter-cvm/Versions/20348.469.220106\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "sku": {"name": "Premium_LRS"}, "properties":
      {"hyperVGeneration": "V2", "creationData": {"createOption": "FromImage", "imageReference":
      {"id": "/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/windows-cvm/Skus/2022-datacenter-cvm/Versions/20348.469.220106"}},
      "securityProfile": {"securityType": "ConfidentialVM_DiskEncryptedWithCustomerKey",
      "secureVMDiskEncryptionSetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des-000004"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/disks/d1-000005?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"d1-000005\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n
        \ \"properties\": {\r\n    \"osType\": \"Windows\",\r\n    \"hyperVGeneration\":
        \"V2\",\r\n    \"supportedCapabilities\": {\r\n      \"architecture\": \"x64\"\r\n
        \   },\r\n    \"creationData\": {\r\n      \"createOption\": \"FromImage\",\r\n
        \     \"imageReference\": {\r\n        \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/windows-cvm/Skus/2022-datacenter-cvm/Versions/20348.469.220106\"\r\n
        \     }\r\n    },\r\n    \"securityProfile\": {\r\n      \"securityType\":
        \"ConfidentialVM_DiskEncryptedWithCustomerKey\",\r\n      \"secureVMDiskEncryptionSetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des-000004\"\r\n
        \   },\r\n    \"provisioningState\": \"Updating\",\r\n    \"isArmResource\":
        true\r\n  },\r\n  \"associatedXStoreEntities\": [\r\n    {\r\n      \"id\":
        \"73df2b83-58c7-4682-be02-aa0bc60a5080\",\r\n      \"type\": \"VmgsBlob\",\r\n
        \     \"name\": \"73df2b83-58c7-4682-be02-aa0bc60a5080_vmgs\",\r\n      \"accessibleExternally\":
        false,\r\n      \"alignWithDisk\": true,\r\n      \"deleteOnDetach\": false,\r\n
        \     \"pseudoSubscriptionId\": \"00000000-0000-0000-0000-000000000000\",\r\n
        \     \"sourceSubscriptionId\": \"00000000-0000-0000-0000-000000000000\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/066360e0-5d9a-4913-a674-d8e699887d1a?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&api-version=2022-03-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/066360e0-5d9a-4913-a674-d8e699887d1a?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&monitor=true&api-version=2022-03-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7997
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/066360e0-5d9a-4913-a674-d8e699887d1a?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-06-24T02:25:41.6241413+00:00\",\r\n  \"endTime\":
        \"2022-06-24T02:41:14.815497+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"name\":\"d1-000005\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/disks/d1-000005\",\"type\":\"Microsoft.Compute/disks\",\"location\":\"westus\",\"tags\":{},\"sku\":{\"name\":\"Premium_LRS\",\"tier\":\"Premium\"},\"properties\":{\"osType\":\"Windows\",\"hyperVGeneration\":\"V2\",\"supportedCapabilities\":{\"architecture\":\"x64\"},\"creationData\":{\"createOption\":\"FromImage\",\"imageReference\":{\"id\":\"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/windows-cvm/Skus/2022-datacenter-cvm/Versions/20348.469.220106\"}},\"diskSizeGB\":16,\"diskIOPSReadWrite\":120,\"diskMBpsReadWrite\":25,\"encryption\":{\"type\":\"EncryptionAtRestWithPlatformKey\"},\"networkAccessPolicy\":\"AllowAll\",\"securityProfile\":{\"securityType\":\"ConfidentialVM_DiskEncryptedWithCustomerKey\",\"secureVMDiskEncryptionSetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_confidential_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des-000004\"},\"publicNetworkAccess\":\"Enabled\",\"timeCreated\":\"2022-06-24T02:25:41.6553978+00:00\",\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\",\"diskSizeBytes\":17181966336,\"uniqueId\":\"6d924b93-4462-4ee4-b68d-9d1068704467\",\"tier\":\"P3\"}}\r\n
        \ },\r\n  \"name\": \"066360e0-5d9a-4913-a674-d8e699887d1a\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49985,Microsoft.Compute/GetOperation30Min;399891
    status:
      code: 200
      message: OK
[...]
