interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2022-02-23T10:39:35Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gellery000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GELLERYYT74NPF7\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/capsOperations/07ef92e5-be17-4821-9a51-5710a5a4e637?api-version=2021-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/capsOperations/07ef92e5-be17-4821-9a51-5710a5a4e637?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-02-23T10:40:13.901091+00:00\",\r\n  \"endTime\":
        \"2022-02-23T10:40:14.1198348+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"07ef92e5-be17-4821-9a51-5710a5a4e637\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1198,Microsoft.Compute/GetOperationStatus30Min;4198
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"supportedOSType": "Windows"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"app000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/applications\",\r\n  \"location\":
        \"eastus\",\r\n  \"properties\": {\r\n    \"supportedOSType\": \"Windows\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryApplication3Min;149,Microsoft.Compute/CreateUpdateGalleryApplication30Min;749
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Wed, 23 Feb 2022 10:41:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://account000002.blob.core.windows.net/container000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F6B90C00B3B3"'
      last-modified:
      - Wed, 23 Feb 2022 10:41:28 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-content-type:
      - text/plain
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Wed, 23 Feb 2022 10:41:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://account000002.blob.core.windows.net/container000005/blob000006
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F6B90CDC4BDC"'
      last-modified:
      - Wed, 23 Feb 2022 10:41:29 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "copy .\\AppInstall.txt .\\AppDidInstall.txt\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 10:41:29 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://account000002.blob.core.windows.net/container000005/blob000006?comp=page
  response:
    body:
      string: ''
    headers:
      content-md5:
      - McZjRnERC52gsI377ZT/nA==
      etag:
      - '"0x8D9F6B90D0C54F2"'
      last-modified:
      - Wed, 23 Feb 2022 10:41:29 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"publishingProfile": {"source": {"mediaLink":
      "https://account000002.blob.core.windows.net/container000005/blob000006"}, "manageActions":
      {"install": "install", "remove": "remove"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/applications/versions\",\r\n  \"location\":
        \"eastus\",\r\n  \"properties\": {\r\n    \"publishingProfile\": {\r\n      \"source\":
        {\r\n        \"mediaLink\": \"https://account000002.blob.core.windows.net/container000005/blob000006\"\r\n
        \     },\r\n      \"manageActions\": {\r\n        \"install\": \"install\",\r\n
        \       \"remove\": \"remove\"\r\n      },\r\n      \"enableHealthCheck\":
        false,\r\n      \"targetRegions\": [\r\n        {\r\n          \"name\": \"East
        US\",\r\n          \"regionalReplicaCount\": 1,\r\n          \"storageAccountType\":
        \"Standard_LRS\"\r\n        }\r\n      ],\r\n      \"replicaCount\": 1,\r\n
        \     \"excludeFromLatest\": false,\r\n      \"publishedDate\": \"2022-02-23T10:41:36.8386411+00:00\",\r\n
        \     \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/capsOperations/aced9bde-b6cf-4f17-890e-8157f85711a4?api-version=2021-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryApplicationVersion3Min;149,Microsoft.Compute/CreateUpdateGalleryApplicationVersion30Min;749
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "tags": {"tag": "test"}, "properties": {"publishingProfile":
      {"source": {"mediaLink": "https://account000002.blob.core.windows.net/container000005/blob000006"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0?api-version=2021-07-01
  response:
    body:
      string: "[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions?api-version=2021-07-01
  response:
    body:
      string: '{"value":[{"name":"1.0.0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0","type":"Microsoft.Compute/galleries/applications/versions","location":"eastus","tags":{"tag":"test"},"properties":{"publishingProfile":{"source":{"mediaLink":"https://account000002.blob.core.windows.net/container000005/blob000006"},"manageActions":{"install":"install","remove":"remove"},"enableHealthCheck":false,"targetRegions":[{"name":"East
        US","regionalReplicaCount":1,"storageAccountType":"Standard_LRS"}],"replicaCount":1,"excludeFromLatest":false,"publishedDate":"2022-02-23T10:41:36.8386411+00:00","storageAccountType":"Standard_LRS"},"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 3853b90f-de10-44d7-8c96-90a28e4b7ef4
      - 4a1d53f4-1778-429c-a875-e689f85baeac
      - 5eb618d0-237e-4a9f-a5cc-15b2c17e79d0
      - 42fbad6e-a761-44f0-bfc4-744d09755ad3
      - 23d7481d-4a06-499e-939a-790eabeb8069
      - 2372f13a-e6a8-413e-a351-ea45df6a5310
      - 8774ec85-4404-4554-9097-206123864de8
      - 87486723-eca0-4a73-9585-47beacbd8d3b
      - c08b0ee3-6eda-49be-be97-170e86db0811
      - b8c8ccc8-c2db-4c89-868f-64e21cd6431a
      - 8461c1ec-5c0b-406b-a605-e1b66b0976b3
    [...]
[...]
