interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_host_management_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001","name":"cli_test_vm_host_management_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-18T03:02:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"platformFaultDomainCount": 3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_HOUNQEAATBCM3QKYTA2DTRWKPTDK3DCOOEL74EEIMBJCVMU/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"platformFaultDomainCount\": 3,\r\n    \"supportAutomaticPlacement\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"my-host-group\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_HOUNQEAATBCM3QKYTA2DTRWKPTDK3DCOOEL74EEIMBJCVMU/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \     \"type\": \"Microsoft.Compute/hostGroups\",\r\n      \"location\": \"westus\",\r\n
        \     \"properties\": {\r\n        \"platformFaultDomainCount\": 3,\r\n        \"supportAutomaticPlacement\":
        false\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;249
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "DSv3-Type1"}, "properties": {"platformFaultDomain":
      2}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus\",\r\n
        \ \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n  \"properties\":
        {\r\n    \"platformFaultDomain\": 2,\r\n    \"autoReplaceOnFailure\": true,\r\n
        \   \"hostId\": \"84145a13-7bac-4ed8-9853-d7a98051bd6b\",\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"timeCreated\": \"2022-05-18T03:03:00.6958531+00:00\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e16ab4e3-54e7-4882-9f92-b9cfe270ffbd?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;118,Microsoft.Compute/PutDeleteDedicatedHost30Min;598
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e16ab4e3-54e7-4882-9f92-b9cfe270ffbd?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-05-18T03:03:00.6333358+00:00\",\r\n  \"endTime\":
        \"2022-05-18T03:03:01.5708483+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"e16ab4e3-54e7-4882-9f92-b9cfe270ffbd\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus\",\r\n
        \ \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n  \"properties\":
        {\r\n    \"platformFaultDomain\": 2,\r\n    \"autoReplaceOnFailure\": true,\r\n
        \   \"hostId\": \"84145a13-7bac-4ed8-9853-d7a98051bd6b\",\r\n    \"virtualMachines\":
        [],\r\n    \"provisioningTime\": \"2022-05-18T03:03:01.3833426+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2022-05-18T03:03:00.6958531+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;247,Microsoft.Compute/GetDedicatedHost30Min;998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"my-host\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_HOUN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_HOUNQEAATBCM3QKYTA2DTRWKPTDK3DCOOEL74EEIMBJCVMU/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"platformFaultDomainCount\": 3,\r\n    \"hosts\":
        [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_HOUNQEAATBCM3QKYTA2DTRWKPTDK3DCOOEL74EEIMBJCVMU/providers/Microsoft.Compute/hostGroups/MY-HOST-GROUP/hosts/MY-HOST\"\r\n
        \     }\r\n    ],\r\n    \"supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost30Min;996
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {"foo": "bar"}, "properties": {"platformFaultDomainCount":
      3, "supportAutomaticPlacement": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_HOUNQEAATBCM3QKYTA2DTRWKPTDK3DCOOEL74EEIMBJCVMU/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;117,Microsoft.Compute/PutDeleteDedicatedHost30Min;597
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        2,\r\n    \"autoReplaceOnFailure\": true,\r\n    \"hostId\": \"84145a13-7bac-4ed8-9853-d7a98051bd6b\",\r\n
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2022-05-18T03:03:01.3833426+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2022-05-18T03:03:00.6958531+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;243,Microsoft.Compute/GetDedicatedHost30Min;993
    status:
      code: 200
      message: OK
version: 1
