interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vm_vmss_extension_autoupgrade_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001","name":"cli_vm_vmss_extension_autoupgrade_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_vm_vmss_extension_autoupgrade","date":"2026-05-07T07:40:22Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-focal/skus/20_04-lts-gen2/versions?$expand=properties&$orderby=name%20desc&$top=1&api-version=2024-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"properties\": {\r\n      \"hyperVGeneration\": \"V2\",\r\n
        \     \"architecture\": \"x64\",\r\n      \"replicaType\": \"Managed\",\r\n
        \     \"replicaCount\": 10,\r\n      \"goLiveDate\": \"2025-05-21T00:00:00+00:00\"\r\n
        \   },\r\n    \"extendedLocation\": null,\r\n    \"location\": \"eastus2\",\r\n
        \   \"name\": \"20.04.202505200\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-focal/Skus/20_04-lts-gen2/Versions/20.04.202505200\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-focal/skus/20_04-lts-gen2/versions/20.04.202505200?api-version=2024-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n
        \   \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"Active\"\r\n    },\r\n    \"imageDiscontinuationStatus\": {\r\n      \"imageDiscontinuationState\":
        \"None\",\r\n      \"imageDiscontinuationDate\": \"9999-12-31T23:59:59.9999999+00:00\"\r\n
        \   },\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n
        \       \"value\": \"TrustedLaunchSupported\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n      },\r\n
        \     {\r\n        \"name\": \"DiskControllerTypes\",\r\n        \"value\":
        \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n
        \     \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 30\r\n    },\r\n
        \   \"dataDiskImages\": [],\r\n    \"goLiveDate\": \"2025-05-21T00:00:00+00:00\"\r\n
        \ },\r\n  \"location\": \"eastus2\",\r\n  \"name\": \"20.04.202505200\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-focal/Skus/20_04-lts-gen2/Versions/20.04.202505200\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1?api-version=2024-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/vnet1''
        under resource group ''cli_vm_vmss_extension_autoupgrade_000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"40c49ff3-c6ae-436d-b28e-b8e268841980","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"d66e9e8e-53a4-420c-866d-5bb39aaea675","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"dnszones","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01","2015-05-04-preview"],"defaultApiVersion":"2018-05-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-04-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-04-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-04-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"dnsOperationResults","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01"],"defaultApiVersion":"2018-05-01","capabilities":"None"},{"resourceType":"dnsOperationStatuses","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2025-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/vnet1''
        under resource group ''cli_vm_vmss_extension_autoupgrade_000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm1000002NSG", "apiVersion": "2015-06-15", "location": "eastus2", "tags":
      {}, "dependsOn": []}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm1000002PublicIP", "location": "eastus2", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm1000002VMNic", "location": "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1",
      "Microsoft.Network/networkSecurityGroups/vm1000002NSG", "Microsoft.Network/publicIpAddresses/vm1000002PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm1000002", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/publicIPAddresses/vm1000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/networkSecurityGroups/vm1000002NSG"}}},
      {"apiVersion": "2025-04-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1000002", "location": "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_D2s_v3"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "canonical", "offer": "0001-com-ubuntu-server-focal",
      "sku": "20_04-lts-gen2", "version": "latest"}}, "osProfile": {"computerName":
      "vm1000002", "adminUsername": "azureuser", "adminPassword": "[parameters(''adminPassword'')]"},
      "securityProfile": {"securityType": "TrustedLaunch", "uefiSettings": {"secureBootEnabled":
      true, "vTpmEnabled": true}}}, "identity": {"type": "SystemAssigned"}}], "outputs":
      {}}, "parameters": {"adminPassword": {"value": "testPassword0"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Resources/deployments/vm_deploy_joJbnUXiQqB5w8HwmPOneTdLfnYRzl1a","name":"vm_deploy_joJbnUXiQqB5w8HwmPOneTdLfnYRzl1a","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14932298558843992942","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2026-05-07T07:40:47.3033454Z","duration":"PT0.0004583S","correlationId":"784fac69-aa7c-481c-8853-76e7e5b92489","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2"]},{"resourceType":"networkSecurityGroups","locations":["eastus2"]},{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"networkInterfaces","locations":["eastus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/networkSecurityGroups/vm1000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/publicIPAddresses/vm1000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm1000002PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1000002VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1000002VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Compute/virtualMachines/vm1000002","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm1000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Resources/deployments/vm_deploy_joJbnUXiQqB5w8HwmPOneTdLfnYRzl1a/operationStatuses/08584234672381635797?api-version=2024-11-01&t=639137364481783376&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584234672381635797?api-version=2024-11-01&t=639137364481783376&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1M[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Compute/virtualMachines/vm1000002?$expand=instanceView&api-version=2025-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Compute/virtualMachines/vm1000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n
        \   \"principalId\": \"27042eab-add4-48c4-8bee-8d4e2be4e133\",\r\n    \"tenantId\":
        \"ed94de55-1f87-4278-9651-525e7ba467d6\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"vmId\": \"eaeb295c-dfa8-4ee9-85a8-f41a699161eb\",\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"canonical\",\r\n        \"offer\": \"0001-com-ubuntu-server-focal\",\r\n
        \       \"sku\": \"20_04-lts-gen2\",\r\n        \"version\": \"latest\",\r\n
        \       \"exactVersion\": \"20.04.202505200\"\r\n      },\r\n      \"osDisk\":
        {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm1000002_OsDisk_1_5bc538160e974578a29f4d853390a38e\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Compute/disks/vm1000002_OsDisk_1_5bc538160e974578a29f4d853390a38e\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": [],\r\n      \"diskControllerType\":
        \"SCSI\"\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm1000002\",\r\n
        \     \"adminUsername\": \"azureuser\",\r\n      \"linuxConfiguration\": {\r\n
        \       \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n
        \         \"assessmentMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n
        \     \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
        true\r\n    },\r\n    \"securityProfile\": {\r\n      \"uefiSettings\": {\r\n
        \       \"secureBootEnabled\": true,\r\n        \"vTpmEnabled\": true\r\n
        \     },\r\n      \"securityType\": \"TrustedLaunch\"\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vm_vmss_extension_autoupgrade_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic\"}]},\r\n
        \   \"instanceView\": {\r\n      \"computerName\": \"vm1000002\",\r\n      \"osName\":
        \"ubuntu\",\r\n      \"osVersion\": \"20.04\",\r\n      \"vmAgent\": {\r\n
        \       \"vmAgentVersion\": \"2.15.1.3\",\r\n        \"statuses\": [\r\n          {\r\n
        \           \"code\": \"ProvisioningState/succeeded\",\r\n            \"level\":
        \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\":
        \"Guest Agent is running\",\r\n            \"time\": \"2026-05-07T07:42:14+00:00\"\r\n
        \         }\r\n        ],\r\n        \"extensionHandlers\": []\r\n      },\r\n
        \     \"disks\": [\r\n        {\r\n          \"name\": \"vm1000002_OsDisk_1_5bc538160e974578a29f4d853390a38e\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2026-05-07T07:41:42.2836695+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V2\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2026-05-07T07:42:06.9852327+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2026-05-07T07:40:53.3791925+00:00\"\r\n
        \ },\r\n  \"etag\": \"\\\"2\\\"\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-need-to-refresh-epl-cache:
      - 'False'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23995,Microsoft.Compute/LowCostGetResource;31
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers?api-version=2024-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"netfoundryinc\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/netfoundryinc\"\r\n
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Microsoft.Azure.Security.LinuxAttestation/artifacttypes/vmextension/types?api-version=2024-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"GuestAttestation\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/Microsoft.Azure.Security.LinuxAttestation/ArtifactTypes/VMExtension/Types/GuestAttestation\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMExtensionTypes3Min;17999,Microsoft.Compute/ListVMExtensionTypes30Min;22499
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Microsoft.Azure.Security.LinuxAttestation/artifacttypes/vmextension/types/GuestAttestation/versions?api-version=2024-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"1.0.1.10\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-[...]
