interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point_encryption_local000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001","name":"cli_test_restore_point_encryption_local000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_restore_point_encryption_local","date":"2023-10-31T10:04:28Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.KeyVault/vaults/vault000002?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/vault000002''
        under resource group ''cli_test_restore_point_encryption_local000001'' was
        not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Jingsong
        Zhang (WICRESOFT NORTH AMERICA LTD)","givenName":null,"jobTitle":null,"mail":"v-jingszhang@microsoft.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"v-jingszhang_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","id":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"TYO1EPF00003E5E"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "d44a2991-98c6-47c3-b59b-2b30d72cfcc2",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enabledForDiskEncryption": true, "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.KeyVault/vaults/vault000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.KeyVault/vaults/vault000002","name":"vault000002","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-10-31T10:04:29.047Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-31T10:04:29.047Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enablePurgeProtection":true,"vaultUri":"https://vault000002.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault000002.vault.azure.net/keys/key000005/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault000002.vault.azure.net/keys/key000005/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://vault000002.vault.azure.net/keys/key000005/c6f95b16518d47ce8b13f5505afc76ca","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xQfM68FTQBsTpXGEJdm89rCQQcytz_zqSSL0VseJBD4V89wZfNHk7u_M6KPuYiwNYP33cNM6Mf8dMrx12AAlgyN7-c_bG8DCsOfF9JzJ6QBaT4W6-7aXN8EKtYJ3KB85gcUo9X0chzINpmFlkQuVfuX39zw1yfRUbjjFHF_py0i2sIRGYwFsFyA1R-XY6iAqobEztvBtkzCg6H0RqNBCCL1hPySmzYJ2I4m4JbFnDwOOsc_rr-OIPPONndgXfrDrZCCiT_FLid8tzzczfxC9bptJyXuYg18blxRb4ob8GYXblxJ0b1NpTU32XVJWwBQ_-H3ZgsE_kb_ddDm9Wk6ZhQ","e":"AQAB"},"attributes":{"enabled":true,"created":1698746705,"updated":1698746705,"recoveryLevel":"Recoverable","recoverableDays":90,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 10}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000009?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk_000009\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000009\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus2euap\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n\
        \  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"\
        creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"\
        diskSizeGB\": 10,\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/9f9cb2d9-8469-4a33-bfc1-23485c9de241?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-07-02&t=638343435090648860&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAyMTgwNDI4WhcNMjQwNzI3MTgwNDI4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/9f9cb2d9-8469-4a33-bfc1-23485c9de241?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-07-02&t=638343435090648860&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000009?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk_000009\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000009\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus2euap\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n\
        \    \"tier\": \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\"\
        : \"V1\",\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\
        \n    },\r\n    \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n\
        \    \"diskMBpsReadWrite\": 25,\r\n    \"encryption\": {\r\n      \"type\"\
        : \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"networkAccessPolicy\"\
        : \"AllowAll\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"timeCreated\"\
        : \"2023-10-31T10:05:08.9452961+00:00\",\r\n    \"provisioningState\": \"\
        Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\"\
        : 10737418240,\r\n    \"uniqueId\": \"fb722ff4-b141-4bfe-9a5f-81b2d4ee6b8e\"\
        ,\r\n    \"tier\": \"P3\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;14973,Microsoft.Compute/LowCostGet30Min;119878
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/d172ccb4-967d-4b87-9322-9b7167cc25e9?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-07-02&t=638343435125046721&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/f779aa74-c9c3-447f-b721-eeeb42cf2b94?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-07-02&t=638343435159126702&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwO[...]
[...]
- request:
    body: '{"location": "eastus2euap", "identity": {"type": "SystemAssigned"}, "properties":
      {"encryptionType": "EncryptionAtRestWithPlatformAndCustomerKeys", "activeKey":
      {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.KeyVault/vaults/vault000002"},
      "keyUrl": "https://vault000002.vault.azure.net/keys/key000005/c6f95b16518d47ce8b13f5505afc76ca"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/diskEncryptionSets/des_000007?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"location\": \"eastus2euap\",\r\n  \"identity\": {\r\n    \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/bf179782-cee5-4754-838f-ba6952537a8e?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-03-02&t=638343435208114389&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/diskEncryptionSets/des_000007?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"des_000007\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/diskEncryptionSets/des_000007\"\
        ,\r\n  \"type\": \"Microsoft.Compute/diskEncryptionSets\",\r\n  \"location\"\
        : \"eastus2euap\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\
        ,\r\n    \"principalId\": \"ff52af5a-b6fd-45b6-8ce2-549f3764c02a\",\r\n  \
        \  \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n  },\r\n  \"\
        properties\": {\r\n    \"activeKey\": {\r\n      \"sourceVault\": {\r\n  \
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.KeyVault/vaults/vault000002\"\
        \r\n      },\r\n      \"keyUrl\": \"https://vault000002.vault.azure.net/keys/key000005/c6f95b16518d47ce8b13f5505afc76ca\"\
        \r\n    },\r\n    \"encryptionType\": \"EncryptionAtRestWithPlatformAndCustomerKeys\"\
        ,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;14967,Microsoft.Compute/LowCostGet30Min;119872
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/9c890fcd-1e64-4838-be37-70893c339690?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-03-02&t=638343435258192898&c=MIIHADCCBeigAwIBAgITHgMiVmbNs9bo9g1GbQAAAyJWZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm_000004VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2euap", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm_000004Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm_000004NSG", "apiVersion":
      "2015-06-15", "location": "eastus2euap", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vm_000004PublicIP",
      "location": "eastus2euap", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm_000004VMNic", "location": "eastus2euap", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vm_000004VNET", "Microsoft.Network/networkSecurityGroups/vm_000004NSG",
      "Microsoft.Network/publicIpAddresses/vm_000004PublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigvm_000004", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/virtualNetworks/vm_000004VNET/subnets/vm_000004Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/networkSecurityGroups/vm_000004NSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm_000004", "location": "eastus2euap", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm_000004VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "attach", "osType": "linux", "managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000009"}},
      "dataDisks": [{"lun": 0, "createOption": "attach", "name": "disk_000010", "managedDisk":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000010"}},
      {"lun": 1, "createOption": "attach", "name": "disk_000011", "managedDisk": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000011"}}]}}}],
      "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Resources/deployments/vm_deploy_RT7Fc6fUwQqtq1UFE9nGI5LR7KwtcR5U","name":"vm_deploy_RT7Fc6fUwQqtq1UFE9nGI5LR7KwtcR5U","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7518826452486846667","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-10-31T10:05:38.4927307Z","duration":"PT0.0000853S","correlationId":"65b50f74-c936-4f5b-a22a-30b525635967","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2euap"]},{"resourceType":"networkSecurityGroups","locations":["eastus2euap"]},{"resourceType":"publicIPAddresses","locations":["eastus2euap"]},{"resourceType":"networkInterfaces","locations":["eastus2euap"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus2euap"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/virtualNetworks/vm_000004VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm_000004VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/networkSecurityGroups/vm_000004NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm_000004NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP","resourceType":"Microsoft.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585028601516913854?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/virtualMachines/vm_000004?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm_000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/virtualMachines/vm_000004\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"eastus2euap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\"\
        : {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"vmId\": \"dea487af-f170-49a9-9292-d0bc4e8a1077\"\
        ,\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Linux\",\r\n        \"name\": \"disk_000009\",\r\n        \"createOption\"\
        : \"Attach\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\"\
        : {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000009\"\
        \r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\"\
        : 10\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\"\
        : 0,\r\n          \"name\": \"disk_000010\",\r\n          \"createOption\"\
        : \"Attach\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\"\
        : {\r\n            \"storageAccountType\": \"Premium_LRS\",\r\n          \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000010\"\
        \r\n          },\r\n          \"deleteOption\": \"Detach\",\r\n          \"\
        diskSizeGB\": 10,\r\n          \"toBeDetached\": false\r\n        },\r\n \
        \       {\r\n          \"lun\": 1,\r\n          \"name\": \"disk_000011\"\
        ,\r\n          \"createOption\": \"Attach\",\r\n          \"caching\": \"\
        None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\"\
        : \"Premium_LRS\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Compute/disks/disk_000011\"\
        \r\n          },\r\n          \"deleteOption\": \"Detach\",\r\n          \"\
        diskSizeGB\": 10,\r\n          \"toBeDetached\": false\r\n        }\r\n  \
        \    ]\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic\"\
        }]},\r\n    \"instanceView\": {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\"\
        : \"Unknown\",\r\n        \"statuses\": [\r\n          {\r\n            \"\
        code\": \"ProvisioningState/Unavailable\",\r\n            \"level\": \"Warning\"\
        ,\r\n            \"displayStatus\": \"Not Ready\",\r\n            \"message\"\
        : \"VM status blob is found but not yet populated.\",\r\n            \"time\"\
        : \"2023-10-31T10:06:43+00:00\"\r\n          }\r\n        ]\r\n      },\r\n\
        \      \"disks\": [\r\n        {\r\n          \"name\": \"disk_000009\",\r\
        \n          \"statuses\": [\r\n            {\r\n              \"code\": \"\
        ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\n \
        \             \"displayStatus\": \"Provisioning succeeded\",\r\n         \
        \     \"time\": \"2023-10-31T10:06:15.0071005+00:00\"\r\n            }\r\n\
        \          ]\r\n        },\r\n        {\r\n          \"name\": \"disk_000010\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2023-10-31T10:06:15.0071005+00:00\"\r\n            }\r\
        \n          ]\r\n        },\r\n        {\r\n          \"name\": \"disk_000011\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2023-10-31T10:06:15.0071005+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V1\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2023-10-31T10:06:25.6634992+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-10-31T10:06:13.8195657+00:00\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23995,Microsoft.Compute/LowCostGetResource;32
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm_000004VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"ea8e12ff-1dcd-47f4-ac89-ef2b48ea5e7b\\\"\",\r\n \
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"7733f87d-06ce-49eb-9803-60196507240b\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm_000004\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic/ipConfigurations/ipconfigvm_000004\"\
        ,\r\n        \"etag\": \"W/\\\"ea8e12ff-1dcd-47f4-ac89-ef2b48ea5e7b\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point_encryption_local000001/providers/Microsoft.Network/virtualNetworks/vm_000004VNET/subnets/vm_000004Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
[...]
