interactions:
- request:
    body: '{"location": "eastus2euap", "zones": ["3"], "properties": {"platformFaultDomainCount":
      1, "additionalCapabilities": {"ultraSSDEnabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_ultra_ssd_000001/providers/Microsoft.Compute/hostGroups/host000002?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"host000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_ULTRA_SSD_PVVWIMZBYJGWUFLWQAGMITDAU4FW3MOKP6N6QG5BKV2IBVYW/providers/Microsoft.Compute/hostGroups/host000002\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"zones\": [\r\n    \"3\"\r\n  ],\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        1,\r\n    \"supportAutomaticPlacement\": false,\r\n    \"additionalCapabilities\":
        {\r\n      \"ultraSSDEnabled\": true\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: ''
version: 1
