interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001","name":"img_tmpl_managed000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-08-05T15:18:38Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1","name":"ide1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"6f1a0e1f-aca2-4ec4-9484-4453bcff4c25","clientId":"d49a95ba-6c3b-442c-b18c-52449ca79f18","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1/credentials?tid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&oid=6f1a0e1f-aca2-4ec4-9484-4453bcff4c25&aid=d49a95ba-6c3b-442c-b18c-52449ca79f18"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27d49a95ba-6c3b-442c-b18c-52449ca79f18%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"6f1a0e1f-aca2-4ec4-9484-4453bcff4c25","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1"],"appDisplayName":null,"appId":"d49a95ba-6c3b-442c-b18c-52449ca79f18","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"ide1","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"807FFCA0A100026937D5F4A82CFB574BEA1A53D1","endDate":"2021-11-03T15:15:00Z","keyId":"e6019a2b-7e33-4459-a3b6-b973f1898f46","startDate":"2021-08-05T15:15:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["d49a95ba-6c3b-442c-b18c-52449ca79f18","https://identity.azure.net/RbLTauyUcVk3pR/k21QhsbcyOfFRCnj4vfvZC3Nc4NM="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2912369'
      ocp-aad-diagnostics-server-name:
      - 2Hg++4rce8ZT7Lu7puYs4YVH5FWd/RD+ULyhlKBzCEY=
      ocp-aad-session-key:
      - by3LiVqDk1ei_3rC4o4PwBR255gG1gopGPLbrbwzOk4fu4uO2Ciqbngkkxq3KAvX4yXfVNhqPK7jIU2qHSdy8HQYEasJS_IjIJ66qx1yAnJvZ1zqh4DeS5LZjXTicm20.XqjNGgKehzuTIOHBdsckLQDPQEBrFOxxMxAQT3pwXXY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-12-04T00:34:54.8501087Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "6f1a0e1f-aca2-4ec4-9484-4453bcff4c25", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"6f1a0e1f-aca2-4ec4-9484-4453bcff4c25","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001","condition":null,"conditionVersion":null,"createdOn":"2021-08-05T15:21:06.3840468Z","updatedOn":"2021-08-05T15:21:07.3215327Z","createdBy":null,"updatedBy":"9ac534f1-d577-4034-a32d-48de400dacbf","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"source": {"type": "PlatformImage",
      "publisher": "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version":
      "18.04.201808140"}, "customize": [{"name": "customizeScript.sh", "type": "Shell",
      "scriptUri": "https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh"}],
      "distribute": [{"runOutputName": "img_1", "type": "ManagedImage", "imageId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1",
      "location": "westus"}], "vmProfile": {}}, "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1":
      {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01?api-version=2020-02-14
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"offer\": \"UbuntuServer\",\n
        \  \"publisher\": \"Canonical\",\n   \"sku\": \"18.04-LTS\",\n   \"type\":
        \"PlatformImage\",\n   \"version\": \"18.04.201808140\"\n  },\n  \"customize\":
        [\n   {\n    \"name\": \"customizeScript.sh\",\n    \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh\",\n
        \   \"type\": \"Shell\"\n   }\n  ],\n  \"distribute\": [\n   {\n    \"artifactTags\":
        {},\n    \"imageId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1\",\n
        \   \"location\": \"westus\",\n    \"runOutputName\": \"img_1\",\n    \"type\":
        \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Creating\",\n  \"buildTimeoutInMinutes\":
        0,\n  \"vmProfile\": {\n   \"vmSize\": \"\",\n   \"osDiskSizeGB\": 0\n  }\n
        },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\":
        {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1\":
        {}\n  }\n },\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01\",\n
        \"name\": \"template01\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\",\n
        \"location\": \"westus\",\n \"tags\": {}\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/ee7e27a2-d512-4ea5-951d-50e57ac543e1?api-version=2020-02-14
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/ee7e27a2-d512-4ea5-951d-50e57ac543e1?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"EE7E27A2-D512-4EA5-951D-50E57AC543E1\",\n \"status\":
        \"InProgress\",\n \"startTime\": \"2021-08-05T15:21:18.5033333Z\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/ee7e27a2-d512-4ea5-951d-50e57ac543e1?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"EE7E27A2-D512-4EA5-951D-50E57AC543E1\",\n \"status\":
        \"Succeeded\",\n \"startTime\": \"2021-08-05T15:21:18.5033333Z\",\n \"endTime\":
        \"2021-08-05T15:21:51.2670906Z\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01?api-version=2020-02-14
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"offer\": \"UbuntuServer\",\n
        \  \"publisher\": \"Canonical\",\n   \"sku\": \"18.04-LTS\",\n   \"type\":
        \"PlatformImage\",\n   \"version\": \"18.04.201808140\"\n  },\n  \"customize\":
        [\n   {\n    \"name\": \"customizeScript.sh\",\n    \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh\",\n
        \   \"sha256Checksum\": \"2c6ff6902a4a52deee69e8db26d0036a53388651008aaf31795bb20dabd21fd8\",\n
        \   \"type\": \"Shell\"\n   }\n  ],\n  \"distribute\": [\n   {\n    \"artifactTags\":
        {},\n    \"imageId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1\",\n
        \   \"location\": \"westus\",\n    \"runOutputName\": \"img_1\",\n    \"type\":
        \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Succeeded\",\n  \"buildTimeoutInMinutes\":
        0,\n  \"vmProfile\": {\n   \"vmSize\": \"\",\n   \"osDiskSizeGB\": 0\n  }\n
        },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\":
        {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1\":
        {\n    \"principalId\": \"6f1a0e1f-aca2-4ec4-9484-4453bcff4c25\",\n    \"clientId\":
        \"d49a95ba-6c3b-442c-b18c-52449ca79f18\"\n   }\n  }\n },\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01\",\n
        \"name\": \"template01\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\",\n
        \"location\": \"westus\",\n \"tags\": {}\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01/run?api-version=2020-02-14
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/d84458ec-7583-4dc0-84d5-1436237f9491?api-version=2020-02-14
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/d84458ec-7583-4dc0-84d5-1436237f9491?api-version=2020-02-14
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01/runOutputs/img_1?api-version=2020-02-14
  response:
    body:
      string: "{\n \"properties\": {\n  \"artifactId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1\",\n
        \ \"provisioningState\": \"Succeeded\"\n },\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01/runOutputs/img_1\",\n
        \"name\": \"img_1\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates/runOutputs\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1?api-version=2021-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"img_1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1\",\r\n
        \ \"type\": \"Microsoft.Compute/images\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"storageProfile\": {\r\n      \"osDisk\":
        {\r\n        \"osType\": \"Linux\",\r\n        \"osState\": \"Generalized\",\r\n
        \       \"diskSizeGB\": 30,\r\n        \"blobUri\": \"https://xqi72pbn4tzn063vddwefx3g.blob.core.windows.net/vhds/d33ef868-3bae-48ff-b1b7-f07ebdd65a24.vhd\",\r\n
        \       \"caching\": \"None\",\r\n        \"storageAccountType\": \"Standard_LRS\"\r\n
        \     },\r\n      \"dataDisks\": []\r\n    },\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"hyperVGeneration\": \"V1\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetImages3Min;346,Microsoft.Compute/GetImages30Min;1757
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "testvmVNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "testvmSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "testvmNSG", "apiVersion":
      "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "testvmPublicIP", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "testvmVMNic", "location":
      "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/testvmVNET",
      "Microsoft.Network/networkSecurityGroups/testvmNSG", "Microsoft.Network/publicIpAddresses/testvmPublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigtestvm", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/virtualNetworks/testvmVNET/subnets/testvmSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/publicIPAddresses/testvmPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/networkSecurityGroups/testvmNSG"}}},
      {"apiVersion": "2021-04-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "testvm", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/testvmVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/networkInterfaces/testvmVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1"}},
      "osProfile": {"computerName": "testvm", "adminUsername": "azureuser", "linuxConfiguration":
      {"disablePasswordAuthentication": true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAABgQDdfdN+YWbkBS84r36yJbgfTI+Gx1W/ErinzCGvXBeO0S8F8JBc45BGTSaNmgOiqVMef3L9Dne7xUv6CwK+NaPRF23B2Sfv1VT1RWjKzgsgLAGiMvMuXA8/BfnKyQU43P6ImgXW/89E8OE9tS2TYLWiSSOjSTiCDnH+bJOw0Gqb25CLhZiahL1lS8MPuZHQaLa71GGUJS93GeBBF6eM2aFKitdFif38RsHxwY/aLlKhjwuy0XPI/4HcIHJR9uyEiFsPQXZMbFPwfvTWyRQDqS0KfxgFXtoVQgaNq74zJv94JdqDykoXYrempJU33jCC06vi39u+xZHAdAagp6e8z/WQc7fIPEOoKqNBKO3UhjXfLfHsxM9QvEiE2kL1xBekS9XrzqSvYZBi4tiSiLAYajOdI5dlv9HgvRTdCtnfF6v8iVGpwql/B1OTOn/A9uCmRIu3o9aMjsQoegqGX6e+h7omfVaExdClXOrW1Qi5l9mUSDLJgsGm1sT9nLaVJlPotFM=
      Zhou.Xing@microsoft.com\n", "path": "/home/azureuser/.ssh/authorized_keys"}]}}}}}],
      "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Resources/deployments/vm_deploy_pRkUT7HTIFNnZsghXOU0w4aHyLWSn7lo","name":"vm_deploy_pRkUT7HTIFNnZsghXOU0w4aHyLWSn7lo","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8219526505569923900","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-08-05T15:34:21.5566466Z","duration":"PT2.2139347S","correlationId":"1e5ea405-4e5c-4168-9402-ca37e3259e79","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/virtualNetworks/testvmVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"testvmVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/networkSecurityGroups/testvmNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"testvmNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/publicIPAddresses/testvmPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"testvmPublicIP"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585734292261349326?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Resources/deployments/vm_deploy_pRkUT7HTIFNnZsghXOU0w4aHyLWSn7lo","name":"vm_deploy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/virtualMachines/testvm?$expand=instanceView&api-version=2021-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"testvm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/virtualMachines/testvm\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"3bbd27fa-b4a8-498b-99d5-52529e205967\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"testvm_disk1_268fd865951348[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/networkInterfaces/testvmVMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"testvmVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/networkInterfaces/testvmVMNic\",\r\n
        \ \"etag\": \"W/\\\"855664e4-d068-4cd2-b1cc-98ec0fcee895\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"abd13375-ba3f-46bf-8f01-4cf37a510073\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigtestvm\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/networkInterfaces/testvmVMNic/ipConfigurations/ipconfigtestvm\",\r\n
        \       \"etag\": \"W/\\\"855664e4-d068-4cd2-b1cc-98ec0fcee895\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/publicIPAddresses/testvmPublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Network/virtualNetworks/testvmVNET/subnets/testvmSubnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
[...]
