interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001","name":"cli_test_vm_availset_scheduled_events_policy_000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_vm_availset_scheduled_events_policy","date":"2025-02-14T09:49:35Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Compute/availabilitySets", "name": "availset-test1", "location":
      "centraluseuap", "tags": {}, "apiVersion": "2024-07-01", "sku": {"name": "Aligned"},
      "properties": {"platformFaultDomainCount": 1, "scheduledEventsPolicy": {"scheduledEventsAdditionalPublishingTargets":
      {"eventGridAndResourceGraph": {"enable": true}}, "userInitiatedRedeploy": {"automaticallyApprove":
      true}, "userInitiatedReboot": {"automaticallyApprove": true}}, "platformUpdateDomainCount":
      1}}], "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/av_set_deploy_Fx5SjJhralv4LXe1O6bFOILNt342N7rt","name":"av_set_deploy_Fx5SjJhralv4LXe1O6bFOILNt342N7rt","type":"Microsoft.Resources/deployments","properties":{"templateHash":"13808722815048066787","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-02-14T09:49:46.5071354Z","duration":"PT0.0007696S","correlationId":"012c3173-99ee-45b5-afb6-5a1a736c33df","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["centraluseuap"]}]}],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/av_set_deploy_Fx5SjJhralv4LXe1O6bFOILNt342N7rt/operationStatuses/08584620803024181311?api-version=2022-09-01&t=638751233883336264&c=MIIHhzCCBm-gAwIBAgITfAahf2YBi51sACVGogAABqF_ZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI3MDkwMDEzWhcNM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584620803024181311?api-version=2022-09-01&t=638751233883336264&c=MIIHhzCCBm-gAwIBAgITfAahf2YBi51sACVGogAABqF_ZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/av_set_deploy_Fx5SjJhralv4LXe1O6bFOILNt342N7rt","name":"av_set_deploy_Fx5SjJhralv4LXe1O6bFOILNt342N7rt","type":"Microsoft.Resources/deployments","properties":{"templateHash":"13808722815048066787","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-02-14T09:49:54.021604Z","duration":"PT7.5152382S","correlationId":"012c3173-99ee-45b5-afb6-5a1a736c33df","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["centraluseuap"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Compute/availabilitySets/availset-test1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Compute/availabilitySets/availset-test1?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"availset-test1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Compute/availabilitySets/availset-test1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 1,\r\n    \"platformFaultDomainCount\": 1,\r\n    \"virtualMachines\": [],\r\
        \n    \"scheduledEventsPolicy\": {\r\n      \"scheduledEventsAdditionalPublishingTargets\"\
        : {\r\n        \"eventGridAndResourceGraph\": {\r\n          \"enable\": true\r\
        \n        }\r\n      },\r\n      \"userInitiatedRedeploy\": {\r\n        \"\
        automaticallyApprove\": true\r\n      },\r\n      \"userInitiatedReboot\"\
        : {\r\n        \"automaticallyApprove\": true\r\n      }\r\n    }\r\n  },\r\
        \n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-need-to-refresh-epl-cache:
      - 'False'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001","name":"cli_test_vm_availset_scheduled_events_policy_000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_vm_availset_scheduled_events_policy","date":"2025-02-14T09:49:35Z","module":"vm","DateCreated":"2025-02-14T09:49:41Z","Creator":"zhuyan@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584620802571656863?api-version=2022-09-01&t=638751234331005049&c=MIIHhzCCBm-gAwIBAgITfAahf2YBi51sACVGogAABqF_ZjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW[...]
[...]
