interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_run_command_w_params000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001","name":"cli_test_vmss_run_command_w_params000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-03T03:17:54Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"CoreOS\": {\n            \"publisher\": \"CoreOS\",\n            \"offer\":
        \"CoreOS\",\n            \"sku\": \"Stable\",\n            \"version\": \"latest\"\n
        \         },\n          \"Debian\": {\n            \"publisher\": \"Debian\",\n
        \           \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n            \"version\":
        \"latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\":
        \"42.3\",\n            \"version\": \"latest\"\n          },\n          \"RHEL\":
        {\n            \"publisher\": \"RedHat\",\n            \"offer\": \"RHEL\",\n
        \           \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n          },\n
        \         \"SLES\": {\n            \"publisher\": \"SUSE\",\n            \"offer\":
        \"SLES\",\n            \"sku\": \"15\",\n            \"version\": \"latest\"\n
        \         },\n          \"UbuntuLTS\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n
        \           \"version\": \"latest\"\n          }\n        },\n        \"Windows\":
        {\n          \"Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n            \"version\":
        \"latest\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"540044b4084c3c314537f1baa1770f248628b2bc9ba0328f1004c33862e049da"
      source-age:
      - '138'
      x-fastly-request-id:
      - 2fe2ab6f5e7f064b821428eeb69164b41b5192a0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "test-run-command-vmss2VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "test-run-command-vmss2Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "test-run-command-vmss2LBPublicIP", "location": "westus", "tags": {},
      "dependsOn": [], "properties": {"publicIPAllocationMethod": "Dynamic"}}, {"type":
      "Microsoft.Network/loadBalancers", "name": "test-run-command-vmss2LB", "location":
      "westus", "tags": {}, "apiVersion": "2018-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/test-run-command-vmss2VNET",
      "Microsoft.Network/publicIpAddresses/test-run-command-vmss2LBPublicIP"], "properties":
      {"backendAddressPools": [{"name": "test-run-command-vmss2LBBEPool"}], "inboundNatPools":
      [{"name": "test-run-command-vmss2LBNatPool", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''test-run-command-vmss2LB\''),
      \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"}, "protocol":
      "tcp", "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "backendPort":
      22}}], "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd", "properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/publicIPAddresses/test-run-command-vmss2LBPublicIP"}}}]}},
      {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "test-run-command-vmss2",
      "location": "westus", "tags": {}, "apiVersion": "2019-12-01", "dependsOn": ["Microsoft.Network/virtualNetworks/test-run-command-vmss2VNET",
      "Microsoft.Network/loadBalancers/test-run-command-vmss2LB"], "sku": {"name":
      "Standard_DS1_v2", "capacity": 2}, "properties": {"overprovision": true, "upgradePolicy":
      {"mode": "manual"}, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption":
      "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}},
      "imageReference": {"publisher": "Debian", "offer": "debian-10", "sku": "10",
      "version": "latest"}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "testra816Nic", "properties": {"primary": "true", "ipConfigurations":
      [{"name": "testra816IPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/virtualNetworks/test-run-command-vmss2VNET/subnets/test-run-command-vmss2Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/loadBalancers/test-run-command-vmss2LB/backendAddressPools/test-run-command-vmss2LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/loadBalancers/test-run-command-vmss2LB/inboundNatPools/test-run-command-vmss2LBNatPool"}]}}]}}]},
      "osProfile": {"computerNamePrefix": "testra816", "adminUsername": "clitest1",
      "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"path": "/home/clitest1/.ssh/authorized_keys", "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDmzXeK++L20uMK/Ug5wpjnWWyMlHoecEOxyHueHc1gPDj8qgLChiHt1OWJ1sDjiqBJ+hEEwZLjN8lCmUvWzzrl20d7M/BVp1ejulE/zr999kWuY3m5+FpAkbbxeO9LWoafwOir9dPzIOjDGdPWKbgHr3SerOHAuvVdXJDhWHtW5lB/MEnrxi48Pz/8k1lD1YccUAI6zDgKVJPBEk9fWMW8H0hKYsRXmlxdtg2npBQK7kbmcB2NJPEhTVgxVPqSaBVAt2lOCC/QQvAXcoD0lJGujp1IVYqSUarS5RnrYEDZ9Q6EKduWrP0GFkFkF8YzpFe+BRFaV8bLJrvZN43vgzRj
      fey@DESKTOP-ARGPJS4\\n"}]}}}}, "singlePlacementGroup": null}}], "outputs": {"VMSS":
      {"type": "object", "value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''test-run-command-vmss2\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Resources/deployments/vmss_deploy_lGSFNLe8YeIFM88R73NhMKQoaJ6qm1Rw","name":"vmss_deploy_lGSFNLe8YeIFM88R73NhMKQoaJ6qm1Rw","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2859662636726597017","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-07-03T03:18:02.7065379Z","duration":"PT3.3260749S","correlationId":"d261166b-e22a-4735-b640-822b5f390961","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/virtualNetworks/test-run-command-vmss2VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"test-run-command-vmss2VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/publicIPAddresses/test-run-command-vmss2LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"test-run-command-vmss2LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/loadBalancers/test-run-command-vmss2LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"test-run-command-vmss2LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/virtualNetworks/test-run-command-vmss2VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"test-run-command-vmss2VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/loadBalancers/test-run-command-vmss2LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"test-run-command-vmss2LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Compute/virtualMachineScaleSets/test-run-command-vmss2","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"test-run-command-vmss2"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Resources/deployments/vmss_deploy_lGSFNLe8YeIFM88R73NhMKQoaJ6qm1Rw/operationStatuses/08586078606060971644?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586078606060971644?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Resources/deployments/vmss_deploy_lGSFNLe8YeIFM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Compute/virtualMachineScaleSets/test-run-command-vmss2/virtualMachines?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"test-run-command-vmss2_0\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Compute/virtualMachineScaleSets/test-run-command-vmss2/virtualMachines/0\",\r\n
        \     \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n
        \     \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"instanceId\":
        \"0\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_DS1_v2\",\r\n        \"tier\":
        \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"latestModelApplied\":
        true,\r\n        \"modelDefinitionApplied\": \"VirtualMachineScaleSet\",\r\n
        \       \"networkProfileConfiguration\": {\"networkInterfaceConfigurations\":[{\"name\":\"testra816Nic\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"testra816IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/virtualNetworks/test-run-command-vmss2VNET/subnets/test-run-command-vmss2Subnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/loadBalancers/test-run-command-vmss2LB/backendAddressPools/test-run-command-vmss2LBBEPool\"}],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Network/loadBalancers/test-run-command-vmss2LB/inboundNatPools/test-run-command-vmss2LBNatPool\"}]}}]}}]},\r\n
        \       \"vmId\": \"2cbcc844-673e-4aa8-b16d-a9b09f343b65\",\r\n        \"hardwareProfile\":
        {},\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n
        \           \"publisher\": \"Debian\",\r\n            \"offer\": \"debian-10\",\r\n
        \           \"sku\": \"10\",\r\n            \"version\": \"latest\",\r\n            \"exactVersion\":
        \"0.20200610.293\"\r\n          },\r\n          \"osDisk\": {\r\n            \"osType\":
        \"Linux\",\r\n            \"name\": \"test-run-command-vmstest-run-command-vmssOS__1_2b2cd0597d644f0d85a204086d19cb4c\",\r\n
        \           \"createOption\": \"FromImage\",\r\n            \"caching\": \"ReadWrite\",\r\n
        \           \"managedDisk\": {\r\n              \"storageAccountType\": \"Premium_LRS\",\r\n
        \             \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VMSS_RUN_COMMAND_W_PARAMSFJPJHOQL273NFU35I4SJDU67QM3U3QXPHNDBJJGEQ/providers/Microsoft.Compute/disks/test-run-command-vmstest-run-command-vmssOS__1_2b2cd0597d644f0d85a204086d19cb4c\"\r\n
        \           },\r\n            \"diskSizeGB\": 30\r\n          },\r\n          \"dataDisks\":
        []\r\n        },\r\n        \"osProfile\": {\r\n          \"computerName\":
        \"testra816000000\",\r\n          \"adminUsername\": \"clitest1\",\r\n          \"linuxConfiguration\":
        {\r\n            \"disablePasswordAuthentication\": true,\r\n            \"ssh\":
        {\r\n              \"publicKeys\": [\r\n                {\r\n                  \"path\":
        \"/home/clitest1/.ssh/authorized_keys\",\r\n                  \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDmzXeK++L20uMK/Ug5wpjnWWyMlHoecEOxyHueHc1gPDj8qgLChiHt1OWJ1sDjiqBJ+hEEwZLjN8lCmUvWzzrl20d7M/BVp1ejulE/zr999kWuY3m5+FpAkbbxeO9LWoafwOir9dPzIOjDGdPWKbgHr3SerOHAuvVdXJDhWHtW5lB/MEnrxi48Pz/8k1lD1YccUAI6zDgKVJPBEk9fWMW8H0hKYsRXmlxdtg2npBQK7kbmcB2NJPEhTVgxVPqSaBVAt2lOCC/QQvAXcoD0lJGujp1IVYqSUarS5RnrYEDZ9Q6EKduWrP0GFkFkF8YzpFe+BRFaV8bLJrvZN43vgzRj
        fey@DESKTOP-ARGPJS4\\n\"\r\n                }\r\n              ]\r\n            },\r\n
        \           \"provisionVMAgent\": true\r\n          },\r\n          \"secrets\":
        [],\r\n          \"allowExtensionOperations\": true,\r\n          \"requireGuestProvisionSignal\":
        true\r\n        },\r\n        \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Compute/virtualMachineScaleSets/test-run-command-vmss2/virtualMachines/0/networkInterfaces/testra816Nic\"}]},\r\n
        \       \"provisioningState\": \"Updating\"\r\n      }\r\n    },\r\n    {\r\n
        \     \"name\": \"test-run-command-vmss2_2\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_com[...]
- request:
    body: '{"commandId": "RunShellScript", "script": ["echo $0 $1"], "parameters":
      [{"name": "arg1", "value": "hello"}, {"name": "arg2", "value": "world"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_run_command_w_params000001/providers/Microsoft.Compute/virtualMachineScaleSets/test-run-command-vmss2/virtualmachines/0/runCommand?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fb57ba7a-325f-4973-852e-80e1451f1e9d?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fb57ba7a-325f-4973-852e-80e1451f1e9d?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/VMScaleSetActions3Min;238,Microsoft.Compute/VMScaleSetActions30Min;1189,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1172,Microsoft.Compute/VmssQueuedVMOperations;4799
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
      x-ms-request-charge:
      - '1'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fb57ba7a-325f-4973-852e-80e1451f1e9d?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-07-03T03:20:10.5809601+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"fb57ba7a-325f-4973-852e-80e1451f1e9d\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14955,Microsoft.Compute/GetOperation30Min;29636
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fb57ba7a-325f-4973-852e-80e1451f1e9d?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-07-03T03:20:10.5809601+00:00\",\r\n  \"endTime\":
        \"2020-07-03T03:21:28.9876152+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"value\":[{\"code\":\"ProvisioningState/succeeded\",\"level\":\"Info\",\"displayStatus\":\"Provisioning
        succeeded\",\"message\":\"Enable succeeded: \\n[stdout]\\n/var/lib/waagent/run-command/download/1/script.sh
        hello\\n\\n[stderr]\\n\"}]}\r\n  },\r\n  \"name\": \"fb57ba7a-325f-4973-852e-80e1451f1e9d\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14950,Microsoft.Compute/GetOperation30Min;29617
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fb57ba7a-325f-4973-852e-80e1451f1e9d?monitor=true&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"code":"ProvisioningState/succeeded","level":"Info","displayStatus":"Provisioning
        succeeded","message":"Enable succeeded: \n[stdout]\n/var/lib/waagent/run-command/download/1/script.sh
        hello\n\n[stderr]\n"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14949,Microsoft.Compute/GetOperation30Min;29616
    status:
      code: 200
      message: OK
[...]
