interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_create_vm_with_community_gallery_image","date":"2023-07-20T08:45:56Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"sharingProfile": {"permissions":
      "Community", "communityGalleryInfo": {"publisherUri": "puburi", "publisherContact":
      "abc@123.com", "eula": "eula", "publicNamePrefix": "pubname"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gellery000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GELLERYOHM5QOKML\"\r\n    },\r\n    \"sharingProfile\":
        {\r\n      \"permissions\": \"Community\",\r\n      \"communityGalleryInfo\":
        {\r\n        \"communityGalleryEnabled\": false,\r\n        \"publisherUri\":
        \"puburi\",\r\n        \"publisherContact\": \"abc@123.com\",\r\n        \"eula\":
        \"eula\",\r\n        \"publicNamePrefix\": \"pubname\",\r\n        \"publicNames\":
        [\r\n          \"pubname-4f5ecce7-faf0-4cc3-b56b-8802a60d3456\"\r\n        ]\r\n
        \     }\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/48d7c925-afec-4086-967c-d6193b68b169?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;298
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/48d7c925-afec-4086-967c-d6193b68b169?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-07-20T08:45:56.1950332+00:00\",\r\n  \"endTime\":
        \"2023-07-20T08:45:56.4762466+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"48d7c925-afec-4086-967c-d6193b68b169\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1199,Microsoft.Compute/GetOperationStatus30Min;4195
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gellery000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005\",\r\n
        \ \"type\"[...]
- request:
    body: '{"operationType": "EnableCommunity", "groups": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005/share?api-version=2022-03-03
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/8fd9161d-12f2-41c9-af33-c130980416ae?api-version=2022-03-03
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/8fd9161d-12f2-41c9-af33-c130980416ae?monitor=true&api-version=2022-03-03
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PostShareGallery3Min;9,Microsoft.Compute/PostShareGallery30Min;59
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/8fd9161d-12f2-41c9-af33-c130980416ae?monitor=true&api-version=2022-03-03
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1197,Microsoft.Compute/GetOperationStatus30Min;4193
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"osType": "Linux", "osState":
      "Generalized", "hyperVGeneration": "V1", "identifier": {"publisher": "publisher1",
      "offer": "offer1", "sku": "sku1"}, "disallowed": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005/images/image000006?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"image000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005/images/image000006\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"architecture\": \"x64\",\r\n    \"osType\": \"Linux\",\r\n    \"osState\":
        \"Generalized\",\r\n    \"identifier\": {\r\n      \"publisher\": \"publisher1\",\r\n
        \     \"offer\": \"offer1\",\r\n      \"sku\": \"sku1\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/f85146b7-0e22-4799-be39-d4ca3ededf0e?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryImage3Min;149,Microsoft.Compute/CreateUpdateGalleryImage30Min;748
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"18.04.202306070\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43994
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202306070?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\":
        31,\r\n      \"sizeInBytes\": 32213303808\r\n    },\r\n    \"dataDiskImages\":
        []\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"name\": \"18.04.202306070\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73995
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm000002VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm000002NSG", "apiVersion":
      "2015-06-15", "location": "eastus2", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vm000002PublicIP",
      "location": "eastus2", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm000002VMNic", "location": "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm000002VNET",
      "Microsoft.Network/networkSecurityGroups/vm000002NSG", "Microsoft.Network/publicIpAddresses/vm000002PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm000002", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm000002VNET/subnets/vm000002Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm000002NSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm000002", "location": "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "18.04-LTS", "version": "latest"}}, "osProfile": {"computerName": "vm000002",
      "adminUsername": "gallerytest", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDmGsW4LjseEjF/ye2EN/w3j6dmswbvXI7N/UlAqV8aCxHeYYIjFDnuhFQSF7i1iYgTt8St/6FGkIaTA4ZefhrVVZtJw8dUEKzDkUIMfdQGu4TdlpDjQIeUSHzz1KNFwhANVNK9pm1cy5Z4P3GJd1PP+lTx/IRP+qZesTC/UCSV7EluCmoj5xg6LeC9MWksu07APIFRJySqxVi8nSbCFFHODW5QTZ/82n6iJzbSRDn7KgEQGzfFEAZgzxJE+ino+r3569kWzO/qkixm92swj97fnuOX7i0Ohe1T4Me5dFvpEifoQ3bii1vG4DQDQ7L2pvEvzQyy11Hr9dDtPHZTCzeIr62vWArq75T149ZLCNjfQh44vmbeSPAc/0KVakQOEiDjLvUkMSgDUx6DD4bQgiaEyWnZ23CZ3U1U9xag4p3Kl48tGLGHTpzplaZJQEAVogeloxE1tPLBGi7et3TskoXejHhl9BrtsnXLeNVj1ep9dqD2kxNogVSc4/Av8Wuv9oU=
      zhuyan@microsoft.com\n", "path": "/home/gallerytest/.ssh/authorized_keys"}]}}}}}],
      "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_oG4rHpHkaP2E5wCaMXPthqI4fF9qXVDS","name":"vm_deploy_oG4rHpHkaP2E5wCaMXPthqI4fF9qXVDS","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2250504786167538466","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-07-20T08:46:30.9097322Z","duration":"PT0.0004754S","correlationId":"af31817c-b69a-4576-8d6a-304a9a0bc9ad","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2"]},{"resourceType":"networkSecurityGroups","locations":["eastus2"]},{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"networkInterfaces","locations":["eastus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm000002PublicIP"}][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585117640984592041?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_oG4rHpHkaP2E5wCaMXPthqI4fF9qXVDS","name":"vm_deploy_oG4rHpHkaP2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm000002?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"adcfeafc-0814-4bc9-a67a-1ca5669c4ffd\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"18.04.202306070\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Linux\",\r\n        \"name\": \"vm000002_disk1_e2e31eaf486a42b19266f2c5362128b1\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm000002_disk1_e2e31eaf486a42b19266f2c5362128b1\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vm000002\",\r\n      \"adminUsername\": \"gallerytest\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/gallerytest/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDmGsW4LjseEjF/ye2EN/w3j6dmswbvXI7N/UlAqV8aCxHeYYIjFDnuhFQSF7i1iYgTt8St/6FGkIaTA4ZefhrVVZtJw8dUEKzDkUIMfdQGu4TdlpDjQIeUSHzz1KNFwhANVNK9pm1cy5Z4P3GJd1PP+lTx/IRP+qZesTC/UCSV7EluCmoj5xg6LeC9MWksu07APIFRJySqxVi8nSbCFFHODW5QTZ/82n6iJzbSRDn7KgEQGzfFEAZgzxJE+ino+r3569kWzO/qkixm92swj97fnuOX7i0Ohe1T4Me5dFvpEifoQ3bii1vG4DQDQ7L2pvEvzQyy11Hr9dDtPHZTCzeIr62vWArq75T149ZLCNjfQh44vmbeSPAc/0KVakQOEiDjLvUkMSgDUx6DD4bQgiaEyWnZ23CZ3U1U9xag4p3Kl48tGLGHTpzplaZJQEAVogeloxE1tPLBGi7et3TskoXejHhl9BrtsnXLeNVj1ep9dqD2kxNogVSc4/Av8Wuv9oU=
        zhuyan@microsoft.com\\n\"\r\n            }\r\n          ]\r\n        },\r\n
        \       \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\":
        \"ImageDefault\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n
        \       \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\":
        [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
        true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm000002\",\r\n      \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"18.04\",\r\n
        \     \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.9.1.1\",\r\n        \"statuses\":
        [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2023-07-20T08:47:17+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm000002_disk1_e2e31eaf486a42b19266f2c5362128b1\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-07-20T08:46:53.7550905+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-07-20T08:47:03.2082256+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-07-20T08:46:52.0832124+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31994
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic\",\r\n
        \ \"etag\": \"W/\\\"96e903c0-b815-4e86-8ffe-ede210741fd9\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"c04429af-d98e-4e60-82bd-c2c0539a040e\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigvm000002\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic/ipConfigurations/ipconfigvm000002\",\r\n
        \       \"etag\": \"W/\\\"96e903c0-b815-4e86-8ffe-ede210741fd9\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm000002VNET/subnets/vm000002Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"4v3qh2hkmhoenn1vdmqt3ynstf.cx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"60-45-BD-B6-1E-39\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm000002NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm000002\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"96e903c0-b815-4e86-8ffe-ede210741fd9"
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm000002PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP\",\r\n
        \ \"etag\": \"W/\\\"ccb6b548-d585-418d-8901-727c89f11b8f\\\"\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"d5c905a8-c179-4699-8b19-84ba9847132f\",\r\n
        \   \"ipAddress\": \"20.10.150.6\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic/ipConfigurations/ipconfigvm000002\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ccb6b548-d585-418d-8901-727c89f11b8f"
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm000002/deallocate?api-version=2022-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/6c34c36c-6682-44ed-af3e-7e497169c7d2?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&api-version=2022-11-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/6c34c36c-6682-44ed-af3e-7e497169c7d2?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&monitor=true&api-version=2022-11-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1199
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/6c34c36c-6682-44ed-af3e-7e497169c7d2?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-07-20T08:47:41.8488938+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"6c34c36c-6682-44ed-af3e-7e497169c7d2\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
[...]
