interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_cancel_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001","name":"img_tmpl_cancel_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_image_builder_cancel","date":"2024-05-14T08:38:19Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_cancel_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1","name":"ide1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"79cb8114-fd7e-4279-9170-8f6dee2bfffd","clientId":"0a92be89-7b0f-4b8f-abb6-21bb51bc0113"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_cancel_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%270a92be89-7b0f-4b8f-abb6-21bb51bc0113%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"79cb8114-fd7e-4279-9170-8f6dee2bfffd","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_cancel_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1"],"appDisplayName":null,"appDescription":null,"appId":"0a92be89-7b0f-4b8f-abb6-21bb51bc0113","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2024-05-14T08:38:24Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"ide1","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["0a92be89-7b0f-4b8f-abb6-21bb51bc0113","https://identity.azure.net/dV+B/WJ8YPFlTSDQFOg3f1qefOVTPrgEViuY2n9G27s="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"970896D091F55549E6BE8A71AC713E07A3D8ACA8","displayName":"CN=0a92be89-7b0f-4b8f-abb6-21bb51bc0113,
        DC=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","endDateTime":"2024-08-12T08:33:00Z","key":null,"keyId":"22b24766-d066-46e8-80ed-8b19c0f40062","startDateTime":"2024-05-14T08:33:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"TY2PEPF00005FC4"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action","Microsoft.Purview/consents/write","Microsoft.Purview/consents/delete"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2023-07-05T20:08:05.4086949Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "79cb8114-fd7e-4279-9170-8f6dee2bfffd", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"79cb8114-fd7e-4279-9170-8f6dee2bfffd","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001","condition":null,"conditionVersion":null,"createdOn":"2024-05-14T08:39:12.8583166Z","updatedOn":"2024-05-14T08:39:13.8123255Z","createdBy":null,"updatedBy":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_cancel_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001","name":"img_tmpl_cancel_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_image_builder_cancel","date":"2024-05-14T08:38:19Z","module":"vm","Creator":"v-jingszhang@microsoft.com","DateCreated":"2024-05-14T08:38:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2022-12-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\"\
        ,\"name\":\"eastus\",\"type\":\"Region\",\"displayName\":\"East US\",\"regionalDisplayName\"\
        :\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\"\
        :\"Recommended\",\"geography\":\"United States\",\"geographyGroup\":\"US\"\
        ,\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\"\
        :\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"\
        }]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\"\
        :\"eastus-az3\"},{\"logicalZone\":\"2\",\"physicalZone\":\"eastus-az1\"},{\"\
        logicalZone\":\"3\",\"physicalZone\":\"eastus-az2\"}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\"\
        ,\"name\":\"eastus2\",\"type\":\"Region\",\"displayName\":\"East US 2\",\"\
        regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\"\
        ,\"regionCategory\":\"Recommended\",\"geography\":\"United States\",\"geographyGroup\"\
        :\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\"\
        :\"Virginia\",\"pairedRegion\":[{\"name\":\"centralus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus\"\
        }]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\"\
        :\"eastus2-az3\"},{\"logicalZone\":\"2\",\"physicalZone\":\"eastus2-az1\"\
        },{\"logicalZone\":\"3\",\"physicalZone\":\"eastus2-az2\"}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southcentralus\"\
        ,\"name\":\"southcentralus\",\"type\":\"Region\",\"displayName\":\"South Central\
        \ US\",\"regionalDisplayName\":\"(US) South Central US\",\"metadata\":{\"\
        regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\"\
        :\"United States\",\"geographyGroup\":\"US\",\"longitude\":\"-98.5\",\"latitude\"\
        :\"29.4167\",\"physicalLocation\":\"Texas\",\"pairedRegion\":[{\"name\":\"\
        northcentralus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/northcentralus\"\
        }]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\"\
        :\"southcentralus-az3\"},{\"logicalZone\":\"2\",\"physicalZone\":\"southcentralus-az1\"\
        },{\"logicalZone\":\"3\",\"physicalZone\":\"southcentralus-az2\"}]},{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus[...]
- request:
    body: '{"tags": {}, "location": "westus", "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1":
      {}}}, "properties": {"source": {"type": "PlatformImage", "publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "18.04-LTS", "version": "latest"}, "distribute":
      [{"type": "ManagedImage", "runOutputName": "img1", "imageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.Compute/images/img1",
      "location": "westus"}], "vmProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template1?api-version=2023-07-01
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"exactVersion\": \"latest\"\
        ,\n   \"offer\": \"UbuntuServer\",\n   \"publisher\": \"Canonical\",\n   \"\
        sku\": \"18.04-LTS\",\n   \"type\": \"PlatformImage\",\n   \"version\": \"\
        latest\"\n  },\n  \"distribute\": [\n   {\n    \"artifactTags\": {},\n   \
        \ \"imageId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.Compute/images/img1\"\
        ,\n    \"location\": \"westus\",\n    \"runOutputName\": \"img1\",\n    \"\
        type\": \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Creating\"\
        ,\n  \"buildTimeoutInMinutes\": 0,\n  \"vmProfile\": {\n   \"vmSize\": \"\"\
        ,\n   \"osDiskSizeGB\": 0\n  },\n  \"stagingResourceGroup\": \"\",\n  \"exactStagingResourceGroup\"\
        : \"\"\n },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\"\
        : {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1\"\
        : {}\n  }\n },\n \"tags\": {},\n \"location\": \"westus\",\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_cancel_000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template1\"\
        ,\n \"name\": \"template1\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\"\
        \n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/5d932474-0c0d-4494-9f05-1667959fddb1?api-version=2023-07-01&t=638512727623256914&c=MIIHSDCCBjCgAwIBAgITOgL9GKuxwuoAvl6gDgAEAv0YqzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMTUxMzA5WhcNMjUwNDI3MTUxMzA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/5d932474-0c0d-4494-9f05-1667959fddb1?api-version=2023-07-01&t=638512727623256914&c=MIIHSDCCBjCgAwIBAgITOgL9GKuxwuoAvl6gDgAEAv0YqzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMTUxMzA5WhcNMjUwNDI3MTUxMzA5WjBA[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template1/run?api-version=2023-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template1?api-version=2023-07-01
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"exactVersion\": \"18.04.202401161\"\
        ,\n   \"offer\": \"UbuntuServer\",\n   \"publisher\": \"Canonical\",\n   \"\
        sku\": \"18.04-LTS\",\n   \"type\": \"PlatformImage\",\n   \"version\": \"\
        latest\"\n  },\n  \"distribute\": [\n   {\n    \"artifactTags\": {},\n   \
        \ \"imageId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.Compute/images/img1\"\
        ,\n    \"location\": \"westus\",\n    \"runOutputName\": \"img1\",\n    \"\
        type\": \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Succeeded\"\
        ,\n  \"lastRunStatus\": {\n   \"startTime\": \"2024-05-14T08:39:55.679639302Z\"\
        ,\n   \"endTime\": \"0001-01-01T00:00:00Z\",\n   \"runState\": \"Running\"\
        ,\n   \"runSubState\": \"Building\",\n   \"message\": \"\"\n  },\n  \"buildTimeoutInMinutes\"\
        : 0,\n  \"vmProfile\": {\n   \"vmSize\": \"\",\n   \"osDiskSizeGB\": 0\n \
        \ },\n  \"stagingResourceGroup\": \"\",\n  \"exactStagingResourceGroup\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IT_img_tmpl_cancel_emhju6zrlpnppjxhwbddlary_f5cec188-4223-466d-8d15-07366851ad0d\"\
        \n },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\"\
        : {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1\"\
        : {\n    \"principalId\": \"79cb8114-fd7e-4279-9170-8f6dee2bfffd\",\n    \"\
        clientId\": \"0a92be89-7b0f-4b8f-abb6-21bb51bc0113\"\n   }\n  }\n },\n \"\
        tags\": {},\n \"location\": \"westus\",\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_cancel_000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template1\"\
        ,\n \"name\": \"template1\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\"\
        \n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_cancel_000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template1/cancel?api-version=2023-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
