interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001","name":"cli_test_vm_availset_scheduled_events_policy_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_availset_scheduled_events_policy","date":"2026-05-28T03:03:17Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Compute/availabilitySets", "name": "availset-test1", "location":
      "westus", "tags": {}, "apiVersion": "2025-04-01", "sku": {"name": "Aligned"},
      "properties": {"platformFaultDomainCount": 1, "scheduledEventsPolicy": {"scheduledEventsAdditionalPublishingTargets":
      {"eventGridAndResourceGraph": {"enable": true, "scheduledEventsApiVersion":
      "2020-07-01"}}, "userInitiatedRedeploy": {"automaticallyApprove": true}, "userInitiatedReboot":
      {"automaticallyApprove": true}}, "platformUpdateDomainCount": 1}}], "outputs":
      {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/av_set_deploy_ng4rkrsQQ2XfGppgZgFtcEDK3Ag2QUiN","name":"av_set_deploy_ng4rkrsQQ2XfGppgZgFtcEDK3Ag2QUiN","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1391070934444293840","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2026-05-28T03:03:22.1126538Z","duration":"PT0.0001686S","correlationId":"30177462-7a28-4461-9846-3cb7ae6d0748","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/av_set_deploy_ng4rkrsQQ2XfGppgZgFtcEDK3Ag2QUiN/operationStatuses/08584216694833636063?api-version=2024-11-01&t=639155342027689067&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584216694833636063?api-version=2024-11-01&t=639155342027689067&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/av_set_deploy_ng4rkrsQQ2XfGppgZgFtcEDK3Ag2QUiN","name":"av_set_deploy_ng4rkrsQQ2XfGppgZgFtcEDK3Ag2QUiN","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1391070934444293840","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-05-28T03:03:23.8831069Z","duration":"PT1.7704531S","correlationId":"30177462-7a28-4461-9846-3cb7ae6d0748","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Compute/availabilitySets/availset-test1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Compute/availabilitySets/availset-test1?api-version=2025-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"availset-test1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_AVAILSET_SCHEDULED_EVENTS_POLICY_GP5GFF4RXOEDKAQIJPQZMWT4OKBZF3/providers/Microsoft.Compute/availabilitySets/availset-test1\",\r\n
        \ \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\":
        1,\r\n    \"platformFaultDomainCount\": 1,\r\n    \"virtualMachines\": [],\r\n
        \   \"virtualMachineScaleSetMigrationInfo\": {\r\n      \"defaultVirtualMachineScaleSetInfo\":
        {\r\n        \"constrainedMaximumCapacity\": true,\r\n        \"defaultVirtualMachineScaleSet\":
        {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_AVAILSET_SCHEDULED_EVENTS_POLICY_GP5GFF4RXOEDKAQIJPQZMWT4OKBZF3/providers/Microsoft.Compute/virtualMachineScaleSets/availset-test1\"\r\n
        \       }\r\n      }\r\n    },\r\n    \"scheduledEventsPolicy\": {\r\n      \"scheduledEventsAdditionalPublishingTargets\":
        {\r\n        \"eventGridAndResourceGraph\": {\r\n          \"enable\": true,\r\n
        \         \"scheduledEventsApiVersion\": \"2020-07-01\"\r\n        }\r\n      },\r\n
        \     \"userInitiatedRedeploy\": {\r\n        \"automaticallyApprove\": true\r\n
        \     },\r\n      \"userInitiatedReboot\": {\r\n        \"automaticallyApprove\":
        true\r\n      }\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-need-to-refresh-epl-cache:
      - 'False'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23996
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_availset_scheduled_events_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584216694451400795?api-version=2024-11-01&t=639155342409812357&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MD[...]
[...]
