interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_host_management_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001","name":"cli_test_vm_host_management_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T03:23:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"platformFaultDomainCount": 3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_QDNTDUTHLPTED7MQQTBLQ2PLYKOWKJXRDSCI4NPYXB2PVZC/providers/Microsoft.Compute/hostGroups/my-host-group\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\": 3,\r\n    \"\
        supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"my-host-group\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_QDNTDUTHLPTED7MQQTBLQ2PLYKOWKJXRDSCI4NPYXB2PVZC/providers/Microsoft.Compute/hostGroups/my-host-group\"\
        ,\r\n      \"type\": \"Microsoft.Compute/hostGroups\",\r\n      \"location\"\
        : \"westus\",\r\n      \"properties\": {\r\n        \"platformFaultDomainCount\"\
        : 3,\r\n        \"supportAutomaticPlacement\": false\r\n      }\r\n    }\r\
        \n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;249
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "DSv3-Type1"}, "properties": {"platformFaultDomain":
      2}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\"\
        : \"westus\",\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n\
        \  \"properties\": {\r\n    \"platformFaultDomain\": 2,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"ac7dac04-c9e1-421b-a143-32e87fafc05a\",\r\n \
        \   \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2023-01-28T03:23:20.2785345+00:00\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/33ea73ce-12ec-42d3-acc9-72f8d40d6d8c?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;118,Microsoft.Compute/PutDeleteDedicatedHost30Min;598
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/33ea73ce-12ec-42d3-acc9-72f8d40d6d8c?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-28T03:23:20.2004107+00:00\",\r\n  \"\
        endTime\": \"2023-01-28T03:23:21.5285405+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"33ea73ce-12ec-42d3-acc9-72f8d40d6d8c\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14981,Microsoft.Compute/GetOperation30Min;29907
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\"\
        : \"westus\",\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n\
        \  \"properties\": {\r\n    \"platformFaultDomain\": 2,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"ac7dac04-c9e1-421b-a143-32e87fafc05a\",\r\n \
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2023-01-28T03:23:21.4347756+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"\
        2023-01-28T03:23:20.2785345+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;247,Microsoft.Compute/GetDedicatedHost30Min;998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"my-host\",\r\n  \
        \    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_QDNTDUTHLPTED7MQQTBLQ2PLYKOWKJXRDSCI4NPYXB2PVZC/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\"\
        ,\r\n      \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n      \"location\"\
        : \"westus\",\r\n      \"sku\": {\r\n        \"name\": \"DSv3-Type1\"\r\n\
        \      },\r\n      \"properties\": {\r\n        \"platformFaultDomain\": 2,\r\
        \n        \"autoReplaceOnFailure\": true,\r\n        \"hostId\": \"ac7dac04-c9e1-421b-a143-32e87fafc05a\"\
        ,\r\n        \"virtualMachines\": [],\r\n        \"provisioningTime\": \"\
        2023-01-28T03:23:21.4347756+00:00\",\r\n        \"provisioningState\": \"\
        Succeeded\",\r\n        \"timeCreated\": \"2023-01-28T03:23:20.2785345+00:00\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;246,Microsoft.Compute/GetDedicatedHost30Min;997
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"foo": "bar"}, "properties": {"platformFaultDomainCount":
      3, "supportAutomaticPlacement": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_MANAGEMENT_QDNTDUTHLPTED7MQQTBLQ2PLYKOWKJXRDSCI4NPYXB2PVZC/providers/Microsoft.Compute/hostGroups/my-host-group\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\
        \n    \"platformFaultDomainCount\": 3,\r\n    \"supportAutomaticPlacement\"\
        : false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;117,Microsoft.Compute/PutDeleteDedicatedHost30Min;597
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_management_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2022-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;114,Microsoft.Compute/PutDeleteDedicatedHost30Min;594
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
