interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001","name":"cli_test_restore_point000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_restore_point","date":"2024-08-19T07:44:08Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"EastUS2EUAP\",\r\n    \"name\": \"\
        18.04.202401161\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202401161\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202401161?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : true\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\"\
        : \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n  \
        \    },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n     \
        \   \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":\
        \ \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n\
        \    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\"\
        ,\r\n      \"sizeInBytes\": 32213303808\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"EastUS2EUAP\",\r\n  \"name\": \"18.04.202401161\"\
        ,\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202401161\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"40c49ff3-c6ae-436d-b28e-b8e268841980","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"d66e9e8e-53a4-420c-866d-5bb39aaea675","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"38808189-fa7a-4d8a-807f-eba01edacca6","roleDefinitionId":"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"dnszones","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01","2015-05-04-preview"],"defaultApiVersion":"2018-05-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-04-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-04-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-04-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"dnsOperationResults","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01"],"defaultApiVersion":"2018-05-01","capabilities":"None"},{"resourceType":"dnsOperationStatuses","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/vnet1''
        under resource group ''cli_test_restore_point000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/vnet1''
        under resource group ''cli_test_restore_point000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2euap", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {"EnableCrashConsistentRestorePoint":
      "True"}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"type": "Microsoft.Network/networkSecurityGroups", "name": "vm_000004NSG",
      "apiVersion": "2015-06-15", "location": "eastus2euap", "tags": {"EnableCrashConsistentRestorePoint":
      "True"}, "dependsOn": []}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm_000004PublicIP", "location": "eastus2euap", "tags": {"EnableCrashConsistentRestorePoint":
      "True"}, "dependsOn": [], "properties": {"publicIPAllocationMethod": "Static"},
      "sku": {"name": "Standard"}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm_000004VMNic", "location": "eastus2euap", "tags": {"EnableCrashConsistentRestorePoint":
      "True"}, "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1", "Microsoft.Network/networkSecurityGroups/vm_000004NSG",
      "Microsoft.Network/publicIpAddresses/vm_000004PublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigvm_000004", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkSecurityGroups/vm_000004NSG"}}},
      {"apiVersion": "2024-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm_000004", "location": "eastus2euap", "tags": {"EnableCrashConsistentRestorePoint":
      "True"}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm_000004VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "18.04-LTS", "version": "latest"}}, "osProfile": {"computerName": "vm57fqfj4jz7h6",
      "adminUsername": "vmtest", "adminPassword": "[parameters(''adminPassword'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "testPassword0"}},
      "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Resources/deployments/vm_deploy_wybp0Tp2KcB1KagfVtIdz5LdZ3pWeKUt","name":"vm_deploy_wybp0Tp2KcB1KagfVtIdz5LdZ3pWeKUt","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10359839563800811126","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-08-19T07:44:35.9808234Z","duration":"PT0.0002401S","correlationId":"91013be8-8c1d-4c9c-be93-c1b477affcc2","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2euap"]},{"resourceType":"networkSecurityGroups","locations":["eastus2euap"]},{"resourceType":"publicIPAddresses","locations":["eastus2euap"]},{"resourceType":"networkInterfaces","locations":["eastus2euap"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus2euap"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkSecurityGroups/vm_000004NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm_000004NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm_000004PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm_000004VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm_000004VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Compute/virtualMachines/vm_000004","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm_000004"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point000001/providers/Microsoft.Resources/deployments/vm_deploy_wybp0Tp2KcB1KagfVtIdz5LdZ3pWeKUt/operationStatuses/08584775534127195070?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.76.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584775534127195070?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Compute/virtualMachines/vm_000004?$expand=instanceView&api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm_000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Compute/virtualMachines/vm_000004\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"eastus2euap\",\r\n  \"tags\": {\r\n    \"EnableCrashConsistentRestorePoint\"\
        : \"True\"\r\n  },\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"vmId\": \"afebda93-2942-49a2-afaa-ad84fb8ee0c8\"\
        ,\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"\
        publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n  \
        \      \"sku\": \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n   \
        \     \"exactVersion\": \"18.04.202401161\"\r\n      },\r\n      \"osDisk\"\
        : {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm_000004_disk1_009b2db2823048fc8f66bf64c8e08567\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Compute/disks/vm_000004_disk1_009b2db2823048fc8f66bf64c8e08567\"\
        \r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vm57fqfj4jz7h6\",\r\n      \"adminUsername\"\
        : \"vmtest\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\"\
        : {\r\n          \"patchMode\": \"ImageDefault\",\r\n          \"assessmentMode\"\
        : \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\"\
        : true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\"\
        : true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"\
        networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic\"\
        }]},\r\n    \"instanceView\": {\r\n      \"computerName\": \"vm57fqfj4jz7h6\"\
        ,\r\n      \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"18.04\",\r\n\
        \      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.11.1.12\",\r\n  \
        \      \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
        \       \"time\": \"2024-08-19T07:45:25+00:00\"\r\n          }\r\n       \
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"vm_000004_disk1_009b2db2823048fc8f66bf64c8e08567\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2024-08-19T07:45:01.5858926+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V1\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2024-08-19T07:45:14.5859654+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2024-08-19T07:44:59.1328041+00:00\"\
        \r\n  },\r\n  \"etag\": \"\\\"2\\\"\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-need-to-refresh-epl-cache:
      - 'False'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23997,Microsoft.Compute/LowCostGetResource;33
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic?api-version=2022-01-01
  response:
    body:
      string: '{"name":"vm_000004VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic","etag":"W/\"993f39c8-9f28-4e42-b616-c4d8fdc5913d\"","tags":{"EnableCrashConsistentRestorePoint":"True"},"properties":{"provisioningState":"Succeeded","resourceGuid":"4f44380e-f1bd-4763-a705-bc7e99d428af","ipConfigurations":[{"name":"ipconfigvm_000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic/ipConfigurations/ipconfigvm_000004","etag":"W/\"993f39c8-9f28-4e42-b616-c4d8fdc5913d\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"4rhlawbp1fgujj5vjjrbifz3uh.cbnx.internal.cloudapp.net"},"macAddress":"00-22-48-03-90-3F","vnetEncryptionSupported":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkSecurityGroups/vm_000004NSG"},"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Compute/virtualMachines/vm_000004"},"hostedWorkloads":[],"tapConfigurations":[],"nicType":"Standard","allowPort25Out":true,"auxiliaryMode":"None"},"type":"Microsoft.Network/networkInterfaces","location":"eastus2euap","kind":"Regular"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"993f39c8-9f28-4e42-b616-c4d8fdc5913d"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP?api-version=2022-01-01
  response:
    body:
      string: '{"name":"vm_000004PublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/publicIPAddresses/vm_000004PublicIP","etag":"W/\"2ba09826-11af-409f-b3d1-32cd9cbfded4\"","location":"eastus2euap","tags":{"EnableCrashConsistentRestorePoint":"True"},"properties":{"provisioningState":"Succeeded","resourceGuid":"0f580166-c92b-4a72-b76f-0279afc73804","ipAddress":"40.89.93.205","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic/ipConfigurations/ipconfigvm_000004"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2ba09826-11af-409f-b3d1-32cd9cbfded4"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1?api-version=2024-01-01
  response:
    body:
      string: '{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1","etag":"W/\"b67d1598-bd29-46a7-8112-5d27985a7cbf\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","ipamPoolPrefixAllocations":[],"ipConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_RESTORE_POINTKV73MB2FX5FH2IRYEXSWZLBKV5DAPCV4MFUB5VTSMQ4YKS4UCAMTM/providers/Microsoft.Network/networkInterfaces/VM_57FQFJ4JZ7H6VMNIC/ipConfigurations/IPCONFIGVM_57FQFJ4JZ7H6"}],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b67d1598-bd29-46a7-8112-5d27985a7cbf"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1",
      "name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24", "defaultOutboundAccess":
      false, "delegations": [], "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}, "type": "Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1?api-version=2024-01-01
  response:
    body:
      string: '{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1","etag":"W/\"0b140fba-3cf6-4792-85c3-03e35da18be4\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","ipamPoolPrefixAllocations":[],"ipConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_restore_point000001/providers/Microsoft.Network/networkInterfaces/vm_000004VMNic/ipConfigurations/ipconfigvm_000004"}],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled","defaultOutboundAccess":false},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/30fb52a1-d656-4e42-a7cf-2dab3d0a7e1a?api-version=2024-01-01&t=638596503451011636&c=MIIHhzCCBm-gAwIBAgITHgTOmixCtVmKPtd-FAAABM6aLDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI2MDEyNDE5WhcNMjUwNjIxMDEyNDE5WjBAMT4wPAYDVQQDEzVhc3l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/30fb52a1-d656-4e42-a7cf-2dab3d0a7e1a?api-version=2024-01-01&t=638596503451011636&c=MIIHhzCCBm-gAwIBAgITHgTOmixCtVmKPtd-FAAABM6aLDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI2MDEyNDE5WhcNMjUwNjIxMDEyNDE5WjBAMT4wPAYD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_restore_point000001?api-version=2022-09-01
  response:
    body:
[...]
