interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_target_extended_locations000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001","name":"cli_test_target_extended_locations000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2023-03-15T08:55:05Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery_000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"southcentralus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n \
        \     \"uniqueName\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GALLERY_V6ESXYYE7NPN\"\
        \r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/aa93c915-92b5-40f2-8434-ea3e242f0212?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/aa93c915-92b5-40f2-8434-ea3e242f0212?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-03-15T08:55:28.3753167+00:00\",\r\n  \"\
        endTime\": \"2023-03-15T08:55:28.6565447+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"aa93c915-92b5-40f2-8434-ea3e242f0212\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1198,Microsoft.Compute/GetOperationStatus30Min;4198
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"osType": "Windows",
      "osState": "Generalized", "hyperVGeneration": "V1", "identifier": {"publisher":
      "publisher1", "offer": "offer1", "sku": "sku1"}, "disallowed": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"image1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\"\
        : \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"\
        hyperVGeneration\": \"V1\",\r\n    \"architecture\": \"x64\",\r\n    \"osType\"\
        : \"Windows\",\r\n    \"osState\": \"Generalized\",\r\n    \"identifier\"\
        : {\r\n      \"publisher\": \"publisher1\",\r\n      \"offer\": \"offer1\"\
        ,\r\n      \"sku\": \"sku1\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/1e33e3eb-84d1-4c04-a842-ee588a450b2b?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryImage3Min;149,Microsoft.Compute/CreateUpdateGalleryImage30Min;749
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 10}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/d12e6d2c-b5ce-4329-8fd1-c1f2ca59ee36?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-03-15T08:56:59.3491239+00:00\",\r\n  \"\
        endTime\": \"2023-03-15T08:56:59.4585169+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk\",\r\n\
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n\
        \    \"tier\": \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\"\
        : \"V1\",\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\
        \n    },\r\n    \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n\
        \    \"diskMBpsReadWrite\": 25,\r\n    \"encryption\": {\r\n      \"type\"\
        : \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"networkAccessPolicy\"\
        : \"AllowAll\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"timeCreated\"\
        : \"2023-03-15T08:56:59.3491239+00:00\",\r\n    \"provisioningState\": \"\
        Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\"\
        : 10737418240,\r\n    \"uniqueId\": \"1c51d933-139e-4b8a-ac71-9cdb33d94089\"\
        ,\r\n    \"tier\": \"P3\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"d12e6d2c-b5ce-4329-8fd1-c1f2ca59ee36\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"publishingProfile":
      {"targetRegions": [{"name": "southcentralus"}], "targetExtendedLocations": [{"name":
      "southcentralus", "extendedLocation": {"name": "attdallas1", "type": "EdgeZone"},
      "extendedLocationReplicaCount": 1}]}, "storageProfile": {"osDiskImage": {"source":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries/images/versions\",\r\n  \"\
        location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\
        \n    \"publishingProfile\": {\r\n      \"targetRegions\": [\r\n        {\r\
        \n          \"name\": \"South Central US\",\r\n          \"regionalReplicaCount\"\
        : 1,\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        }\r\n\
        \      ],\r\n      \"targetExtendedLocations\": [\r\n        {\r\n       \
        \   \"extendedLocation\": {\r\n            \"type\": \"EdgeZone\",\r\n   \
        \         \"name\": \"attdallas1\"\r\n          },\r\n          \"name\":\
        \ \"South Central US\",\r\n          \"extendedLocationReplicaCount\": 1,\r\
        \n          \"storageAccountType\": \"StandardSSD_LRS\"\r\n        }\r\n \
        \     ],\r\n      \"replicaCount\": 1,\r\n      \"excludeFromLatest\": false,\r\
        \n      \"publishedDate\": \"2023-03-15T08:57:07.6402398+00:00\",\r\n    \
        \  \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"osDiskImage\": {\r\n        \"hostCaching\": \"ReadWrite\"\
        ,\r\n        \"source\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk\"\
        \r\n        }\r\n      }\r\n    },\r\n    \"safetyProfile\": {\r\n      \"\
        reportedForPolicyViolation\": false,\r\n      \"allowDeletionOfReplicatedLocations\"\
        : false\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/ad46bc6c-09dc-446b-b006-af4856fd2478?api-version=2022-03-03
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryImageVersion3Min;374,Microsoft.Compute/CreateUpdateGalleryImageVersion30Min;1199
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"publishingProfile":
      {"targetRegions": [{"name": "South Central US", "regionalReplicaCount": 1, "storageAccountType":
      "Standard_LRS"}], "replicaCount": 1, "excludeFromLatest": false, "storageAccountType":
      "Standard_LRS", "targetExtendedLocations": [{"name": "southcentralus", "extendedLocation":
      {"name": "attdallas1", "type": "EdgeZone"}, "extendedLocationReplicaCount":
      1, "storageAccountType": "standardssd_lrs"}, {"name": "westus", "extendedLocation":
      {"name": "microsoftlosangeles1", "type": "EdgeZone"}, "extendedLocationReplicaCount":
      1, "storageAccountType": "premium_lrs"}]}, "storageProfile": {"osDiskImage":
      {"hostCaching": "ReadWrite"}}, "safetyProfile": {"allowDeletionOfReplicatedLocations":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_tar[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries/images/versions\",\r\n  \"\
        location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\
        \n    \"publishingProfile\": {\r\n      \"targetRegions\": [\r\n        {\r\
        \n          \"name\": \"South Central US\",\r\n          \"regionalReplicaCount\"\
        : 1,\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        }\r\n\
        \      ],\r\n      \"replicaCount\": 1,\r\n      \"excludeFromLatest\": false,\r\
        \n      \"publishedDate\": \"2023-03-15T08:57:07.6402398+00:00\",\r\n    \
        \  \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"osDiskImage\": {\r\n        \"sizeInGB\": 10,\r\n        \"\
        hostCaching\": \"ReadWrite\",\r\n        \"source\": {\r\n          \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk\"\
        \r\n        }\r\n      }\r\n    },\r\n    \"safetyProfile\": {\r\n      \"\
        reportedForPolicyViolation\": false,\r\n      \"allowDeletionOfReplicatedLocations\"\
        : true\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetGalleryImageVersion3Min;1999,Microsoft.Compute/GetGalleryImageVersion30Min;9981
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/40b0e08f-4df2-42b0-ae69-f200abe166f1?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-03-15T09:20:45.692582+00:00\",\r\n  \"\
        endTime\": \"2023-03-15T09:22:15.8637578+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"40b0e08f-4df2-42b0-ae69-f200abe166f1\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1195,Microsoft.Compute/GetOperationStatus30Min;4147
    status:
      code: 200
      message: OK
version: 1
