interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001","name":"cli_test_vmss_update_automatic_repairs_with_health_probe_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T03:37:33Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\"\
        : {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"\
        type\": \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"\
        CentOS\": {\n            \"publisher\": \"OpenLogic\",\n            \"offer\"\
        : \"CentOS\",\n            \"sku\": \"7.5\",\n            \"version\": \"\
        latest\",\n            \"architecture\": \"x64\"\n          },\n         \
        \ \"Debian\": {\n            \"publisher\": \"Debian\",\n            \"offer\"\
        : \"debian-10\",\n            \"sku\": \"10\",\n            \"version\": \"\
        latest\",\n            \"architecture\": \"x64\"\n          },\n         \
        \ \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n            \"\
        offer\": \"flatcar-container-linux-free\",\n            \"sku\": \"stable\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\"\
        : \"SUSE\",\n            \"offer\": \"opensuse-leap-15-3\",\n            \"\
        sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\"\
        : \"x64\"\n          },\n          \"RHEL\": {\n            \"publisher\"\
        : \"RedHat\",\n            \"offer\": \"RHEL\",\n            \"sku\": \"7-LVM\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"SLES\": {\n            \"publisher\": \"\
        SUSE\",\n            \"offer\": \"sles-15-sp3\",\n            \"sku\": \"\
        gen2\",\n            \"version\": \"latest\",\n            \"architecture\"\
        : \"x64\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\"\
        : \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"\
        sku\": \"18.04-LTS\",\n            \"version\": \"latest\",\n            \"\
        architecture\": \"x64\"\n          }\n        },\n        \"Windows\": {\n\
        \          \"Win2022Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2022-Datacenter\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2022AzureEditionCore\": {\n          \
        \  \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\"\
        ,\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n        \
        \    \"version\": \"latest\",\n            \"architecture\": \"x64\"\n   \
        \       },\n          \"Win2019Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2019-Datacenter\",\n            \"version\": \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          },\n          \"Win2016Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n \
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\
        \n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2012-R2-Datacenter\",\n            \"version\": \"\
        latest\",\n            \"architecture\": \"x64\"\n          },\n         \
        \ \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2008-R2-SP1\",\n            \"version\": \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          }\n        }\n      }\n\
        \    }\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"41b202f4dc5098d126019dc00721a4c5e30df0c5196794514fadc3710ee2a5cb"
      source-age:
      - '30'
      x-fastly-request-id:
      - df73496f770969eb7cbb53111870dcb95bc22b49
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"18.04.202301100\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202301100\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15993,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43931
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202301100?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : true\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\"\
        : \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n  \
        \    },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n     \
        \   \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":\
        \ \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n\
        \    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\"\
        ,\r\n      \"sizeInGb\": 31,\r\n      \"sizeInBytes\": 32213303808\r\n   \
        \ },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\",\r\
        \n  \"name\": \"18.04.202301100\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202301100\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12995,Microsoft.Compute/GetVMImageFromLocation30Min;73948
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss1LBPublicIP",
      "location": "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"type": "Microsoft.Network/loadBalancers", "name": "vmss1LB",
      "location": "westus", "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "properties": {"backendAddressPools":
      [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss1LBNatPool", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "protocol": "tcp",
      "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "backendPort":
      22}}]}}, {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1",
      "location": "westus", "tags": {}, "apiVersion": "2022-11-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB"], "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual", "rollingUpgradePolicy": {}}, "singlePlacementGroup":
      null, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption":
      "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}},
      "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS", "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmss15e66",
      "adminUsername": "azureuser", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"path": "/home/azureuser/.ssh/authorized_keys",
      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtrwjFOJ5BrjyXXI+zTohbjR8C/UT40MJ6M+D7PhvbUDyPYRjOz4B6DnO4xJ5huKhI2jUMIAKiRHcipHqk5ddySS/Z1e91zmHEuEUPeZlOCJJoLxjtAflx6c7aRhPMzOhsEa/7p527/RuMw/vtQZKQP7ltY37oRiAH6OrQJELbYWMGiX37QsGK1oZU0bRohBeiB+C7Ofc7rYjkdxT4AYXNHLOo5Xr7ByL0u7TMwz2fcE7gY5k5Xbw3gmn3oHnCzdJ6Y3m3BAK9uR7tbw97yxwus/aIAi7wm29ljudtQjmSggd21eG0EZfF1greqgaNdq5JGskcRGWbo/VvX9kThjsF"}]}}},
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmss15e66Nic",
      "properties": {"ipConfigurations": [{"name": "vmss15e66IPConfig", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}],
      "primary": "true"}}]}}, "orchestrationMode": "Uniform"}, "sku": {"name": "Standard_DS1_v2",
      "capacity": 2}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/vmss_deploy_drgqhnYS8hkpfAemofHNCHbcvVPPBwEa","name":"vmss_deploy_drgqhnYS8hkpfAemofHNCHbcvVPPBwEa","type":"Microsoft.Resources/deployments","properties":{"templateHash":"5793505977423141991","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-01-28T03:37:56.3141733Z","duration":"PT0.0008421S","correlationId":"91cb7922-16d3-4ba6-b0bc-5e0c912ec2ba","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/vmss_deploy_drgqhnYS8hkpfAemofHNCHbcvVPPBwEa/operationStatuses/08585267298112942513?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585267298112942513?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.R[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss1LB\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB\"\
        ,\r\n  \"etag\": \"W/\\\"3c249e8e-f20b-43ca-a67b-af38256d1961\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"5cbb06c4-0462-4105-8874-9d949f3d00c4\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        loadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"3c249e8e-f20b-43ca-a67b-af38256d1961\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP\"\
        \r\n          },\r\n          \"inboundNatRules\": [\r\n            {\r\n\
        \              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Net[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB",
      "location": "westus", "properties": {"backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool",
      "name": "vmss1LBBEPool", "properties": {}}], "frontendIPConfigurations": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd",
      "name": "loadBalancerFrontEnd", "properties": {"privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "inboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool",
      "name": "vmss1LBNatPool", "properties": {"backendPort": 22, "enableFloatingIP":
      false, "enableTcpReset": false, "frontendIPConfiguration": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"},
      "frontendPortRangeEnd": 50119, "frontendPortRangeStart": 50000, "idleTimeoutInMinutes":
      4, "protocol": "Tcp"}}], "inboundNatRules": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0",
      "name": "vmss1LBNatPool.0", "properties": {"backendIPConfiguration": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss15e66Nic/ipConfigurations/vmss15e66IPConfig"},
      "backendPort": 22, "enableFloatingIP": false, "enableTcpReset": false, "frontendIPConfiguration":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"},
      "frontendPort": 50000, "idleTimeoutInMinutes": 4, "protocol": "Tcp"}}, {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.1",
      "name": "vmss1LBNatPool.1", "properties": {"backendIPConfiguration": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f98f801a-0bef-47ae-a7bb-022918941b07?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB",
      "location": "westus", "tags": {}, "sku": {"name": "Basic", "tier": "Regional"},
      "properties": {"frontendIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd",
      "name": "loadBalancerFrontEnd", "properties": {"privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool",
      "name": "vmss1LBBEPool"}], "loadBalancingRules": [{"name": "lbrule", "properties":
      {"frontendIPConfiguration": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd",
      "name": "loadBalancerFrontEnd", "properties": {"privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}},
      "backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool",
      "name": "vmss1LBBEPool"}, "probe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/probes/probe",
      "name": "probe", "properties": {"protocol": "Tcp", "port": 80, "intervalInSeconds":
      15, "numberOfProbes": 2}}, "protocol": "Tcp", "loadDistribution": "default",
      "frontendPort": 80, "backendPort": 80}}], "probes": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/vmss1LB/probes/probe",
      "name": "probe", "properties": {"protocol": "Tcp", "port": 80, "intervalInSeconds":
      15, "numberOfProbes": 2}}], "inboundNatRules": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/M[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_automatic_repairs_with_health_probe_000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"orchestrationMode\": \"\
        Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\",\r\n\
        \      \"rollingUpgradePolicy\": {\r\n        \"maxBatchInstancePercent\"\
        : 20,\r\n        \"maxUnhealthyInstancePercent\": 20,\r\n        \"maxUnhealthyUpgradedInstancePercent\"\
        : 20,\r\n        \"pauseTimeBetweenBatches\": \"PT0S\",\r\n        \"maxSurge\"\
        : false,\r\n        \"rollbackFailedInstancesOnPolicyBreach\": false\r\n \
        \     }\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\"\
        : {\r\n        \"computerNamePrefix\": \"vmss15e66\",\r\n        \"adminUsername\"\
        : \"azureuser\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n     \
        \         {\r\n                \"path\": \"/home/azureuser/.ssh/authorized_keys\"\
        ,\r\n                \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtrwjFOJ5BrjyXXI+zTohbjR8C/UT40MJ6M+D7PhvbUDyPYRjOz4B6DnO4xJ5huKhI2jUMIAKiRHcipHqk5ddySS/Z1e91zmHEuEUPeZlOCJJoLxjtAflx6c7aRhPMzOhsEa/7p527/RuMw/vtQZKQP7ltY37oRiAH6OrQJELbYWMGiX37QsGK1oZU0bRohBeiB+C7Ofc7rYjkdxT4AYXNHLOo5Xr7ByL0u7TMwz2fcE7gY5k5Xbw3gmn3oHnCzdJ6Y3m3BAK9uR7tbw97yxwus/aIAi7wm29ljudtQjmSggd21eG0EZfF1greqgaNdq5JGskcRGWbo/VvX9kThjsF\"\
        \r\n              }\r\n            ]\r\n          },\r\n          \"provisionVMAgent\"\
[...]
