interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_user_data000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001","name":"cli_test_vmss_create_user_data000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_create_user_data","date":"2024-04-24T04:49:18Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"0.20240204.1647\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20240204.1647\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15988,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43923
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions/0.20240204.1647?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\"\
        : \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n  \
        \    },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n     \
        \   \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\"\
        ,\r\n        \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\"\
        : {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\": 32212255232\r\
        \n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\"\
        ,\r\n  \"name\": \"0.20240204.1647\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20240204.1647\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12992,Microsoft.Compute/GetVMImageFromLocation30Min;73946
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vmss-custom-dataVNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "vmss-custom-dataSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vmss-custom-dataLBPublicIP", "location": "westus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "vmss-custom-dataLB", "location":
      "westus", "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss-custom-dataVNET",
      "Microsoft.Network/publicIpAddresses/vmss-custom-dataLBPublicIP"], "properties":
      {"backendAddressPools": [{"name": "vmss-custom-dataLBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/publicIPAddresses/vmss-custom-dataLBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss-custom-dataLB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss-custom-dataLB''),
      ''/backendAddressPools/'', ''vmss-custom-dataLBBEPool'')]"}, "protocol": "tcp",
      "frontendPort": 80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes":
      5}}]}, "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss-custom-dataNSG", "apiVersion": "2015-06-15", "location": "westus",
      "tags": {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Network/loadBalancers/inboundNatRules",
      "apiVersion": "2022-01-01", "name": "vmss-custom-dataLB/NatRule", "location":
      "westus", "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss-custom-dataLB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "backendAddressPool": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss-custom-dataLB''), ''/backendAddressPools/'', ''vmss-custom-dataLBBEPool'')]"},
      "backendPort": 22, "frontendPortRangeStart": "50000", "frontendPortRangeEnd":
      "50119", "protocol": "tcp", "idleTimeoutInMinutes": 5}, "dependsOn": ["[concat(''Microsoft.Network/loadBalancers/'',
      ''vmss-custom-dataLB'')]"]}, {"type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "vmss-custom-data", "location": "westus", "tags": {}, "apiVersion":
      "2024-03-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss-custom-dataVNET",
      "Microsoft.Network/loadBalancers/vmss-custom-dataLB", "Microsoft.Network/networkSecurityGroups/vmss-custom-dataNSG"],
      "properties": {"overprovision": true, "upgradePolicy": {"mode": "manual", "rollingUpgradePolicy":
      {}, "automaticOSUpgradePolicy": {}}, "singlePlacementGroup": null, "virtualMachineProfile":
      {"storageProfile": {"osDisk": {"createOption": "FromImage", "caching": "ReadWrite",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"publisher":
      "Debian", "offer": "debian-10", "sku": "10", "version": "latest"}}, "osProfile":
      {"computerNamePrefix": "vmsscf648", "adminUsername": "deploy", "linuxConfiguration":
      {"disablePasswordAuthentication": true, "ssh": {"publicKeys": [{"path": "/home/deploy/.ssh/authorized_keys",
      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}}, "userData": "I2Nsb3VkLWNvbmZpZwpob3N0bmFtZTogbXlWTWhvc3RuYW1l",
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmsscf648Nic",
      "properties": {"ipConfigurations": [{"name": "vmsscf648IPConfig", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/virtualNetworks/vmss-custom-dataVNET/subnets/vmss-custom-dataSubnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/loadBalancers/vmss-custom-dataLB/backendAddressPools/vmss-custom-dataLBBEPool"}]}}],
      "networkSecurityGroup": {"id": "[resourceId(''Microsoft.Network/networkSecurityGroups'',
      ''vmss-custom-dataNSG'')]"}, "primary": "true"}}]}}, "orchestrationMode": "Uniform"},
      "sku": {"name": "Standard_DS1_v2", "capacity": 2}}], "outputs": {"VMSS": {"type":
      "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss-custom-data''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Resources/deployments/vmss_deploy_zH1BM2PO5sXujjlgizIli7lV3U2S5C5v","name":"vmss_deploy_zH1BM2PO5sXujjlgizIli7lV3U2S5C5v","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11953227323592901122","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-04-24T04:49:34.9745588Z","duration":"PT0.0007202S","correlationId":"2905e7cc-d1df-4c19-a76a-7dc29a3e0184","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"loadBalancers/inboundNatRules","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/virtualNetworks/vmss-custom-dataVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss-custom-dataVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/publicIPAddresses/vmss-custom-dataLBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss-custom-dataLBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/loadBalancers/vmss-custom-dataLB","resourceType":"Micr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584876727133813069?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Resources/deployments/vmss_deploy_zH1BM2PO5sXujjlgizIli[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data?api-version=2024-03-01&$expand=userData
  response:
    body:
      string: "{\r\n  \"name\": \"vmss-custom-data\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"orchestrationMode\": \"\
        Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\",\r\n\
        \      \"rollingUpgradePolicy\": {\r\n        \"maxBatchInstancePercent\"\
        : 20,\r\n        \"maxUnhealthyInstancePercent\": 20,\r\n        \"maxUnhealthyUpgradedInstancePercent\"\
        : 20,\r\n        \"pauseTimeBetweenBatches\": \"PT0S\",\r\n        \"maxSurge\"\
        : false,\r\n        \"rollbackFailedInstancesOnPolicyBreach\": false\r\n \
        \     },\r\n      \"automaticOSUpgradePolicy\": {\r\n        \"enableAutomaticOSUpgrade\"\
        : false,\r\n        \"useRollingUpgradePolicy\": false,\r\n        \"disableAutomaticRollback\"\
        : false\r\n      }\r\n    },\r\n    \"virtualMachineProfile\": {\r\n     \
        \ \"userData\": \"I2Nsb3VkLWNvbmZpZwpob3N0bmFtZTogbXlWTWhvc3RuYW1l\",\r\n\
        \      \"osProfile\": {\r\n        \"computerNamePrefix\": \"vmsscf648\",\r\
        \n        \"adminUsername\": \"deploy\",\r\n        \"linuxConfiguration\"\
        : {\r\n          \"disablePasswordAuthentication\": true,\r\n          \"\
        ssh\": {\r\n            \"publicKeys\": [\r\n              {\r\n         \
        \       \"path\": \"/home/deploy/.ssh/authorized_keys\",\r\n             \
        \   \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\r\n              }\r\n            ]\r\n          },\r\
        \n          \"provisionVMAgent\": true,\r\n          \"enableVMAgentPlatformUpdates\"\
        : false\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\"\
        : true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n \
        \     \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\"\
        : \"Linux\",\r\n          \"createOption\": \"FromImage\",\r\n          \"\
        caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"\
        storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\"\
        : 30\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\"\
        : \"Debian\",\r\n          \"offer\": \"debian-10\",\r\n          \"sku\"\
        : \"10\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n\
        \      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\"\
        :\"vmsscf648Nic\",\"properties\":{\"primary\":true,\"disableTcpStateTracking\"\
        :false,\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/networkSecurityGroups/vmss-custom-dataNSG\"\
        },\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\"\
        :[{\"name\":\"vmsscf648IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/virtualNetworks/vmss-custom-dataVNET/subnets/vmss-custom-dataSubnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/loadBalancers/vmss-custom-dataLB/backendAddressPools/vmss-custom-dataLBBEPool\"\
        }]}}]}}]},\r\n      \"timeCreated\": \"2024-04-24T04:49:59.5007619+00:00\"\
        \r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\"\
        : true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"\
        uniqueId\": \"2d8cb0e4-817f-4550-9131-09b98cf96eb6\",\r\n    \"platformFaultDomainCount\"\
        : 5,\r\n    \"timeCreated\": \"2024-04-24T04:49:59.5007619+00:00\"\r\n  }\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2384,Microsoft.Compute/GetVMScaleSetResource;31
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss-custom-data\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data/virtualMachines?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss-custom-data_2\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data/virtualMachines/2\"\
        ,\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\"\
        ,\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"instanceId\"\
        : \"2\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_DS1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"modelDefinitionApplied\"\
        : \"VirtualMachineScaleSet\",\r\n        \"networkProfileConfiguration\":\
        \ {\"networkInterfaceConfigurations\":[{\"name\":\"vmsscf648Nic\",\"properties\"\
        :{\"primary\":true,\"disableTcpStateTracking\":false,\"networkSecurityGroup\"\
        :{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/networkSecurityGroups/vmss-custom-dataNSG\"\
        },\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\"\
        :[{\"name\":\"vmsscf648IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/virtualNetworks/vmss-custom-dataVNET/subnets/vmss-custom-dataSubnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/loadBalancers/vmss-custom-dataLB/backendAddressPools/vmss-custom-dataLBBEPool\"\
        }]}}]}}]},\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"\
        hardwareProfile\": {\r\n          \"vmSize\": \"Standard_DS1_v2\"\r\n    \
        \    },\r\n        \"vmId\": \"4774b07d-dd3d-4521-bcef-f74eda3d0ffd\",\r\n\
        \        \"storageProfile\": {\r\n          \"imageReference\": {\r\n    \
        \        \"publisher\": \"Debian\",\r\n            \"offer\": \"debian-10\"\
        ,\r\n            \"sku\": \"10\",\r\n            \"version\": \"latest\",\r\
        \n            \"exactVersion\": \"0.20240204.1647\"\r\n          },\r\n  \
        \        \"osDisk\": {\r\n            \"osType\": \"Linux\",\r\n         \
        \   \"name\": \"vmss-custom-data_vmss-custom-data_2_OsDisk_1_b56afc6491944ccca0bcf95daf34cdf7\"\
        ,\r\n            \"createOption\": \"FromImage\",\r\n            \"caching\"\
        : \"ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Premium_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/disks/vmss-custom-data_vmss-custom-data_2_OsDisk_1_b56afc6491944ccca0bcf95daf34cdf7\"\
        \r\n            },\r\n            \"diskSizeGB\": 30\r\n          },\r\n \
        \         \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vmsscf648000002\",\r\n          \"adminUsername\"\
        : \"deploy\",\r\n          \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\"\
        : true,\r\n            \"ssh\": {\r\n              \"publicKeys\": [\r\n \
        \               {\r\n                  \"path\": \"/home/deploy/.ssh/authorized_keys\"\
        ,\r\n                  \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data/virtualMachines/2?$expand=userData&api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss-custom-data_2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data/virtualMachines/2\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"instanceId\": \"\
        2\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n    \"tier\"\
        : \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"latestModelApplied\"\
        : true,\r\n    \"modelDefinitionApplied\": \"VirtualMachineScaleSet\",\r\n\
        \    \"networkProfileConfiguration\": {\"networkInterfaceConfigurations\"\
        :[{\"name\":\"vmsscf648Nic\",\"properties\":{\"primary\":true,\"disableTcpStateTracking\"\
        :false,\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/networkSecurityGroups/vmss-custom-dataNSG\"\
        },\"dnsSettings\":{\"dnsServers\":[]},\"enableIPF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data/virtualMachines/2?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss-custom-data_2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data0000[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "sku": {"name": "Standard_DS1_v2", "tier":
      "Standard", "capacity": 2}, "properties": {"upgradePolicy": {"mode": "Manual",
      "rollingUpgradePolicy": {"maxBatchInstancePercent": 20, "maxUnhealthyInstancePercent":
      20, "maxUnhealthyUpgradedInstancePercent": 20, "pauseTimeBetweenBatches": "PT0S",
      "rollbackFailedInstancesOnPolicyBreach": false, "maxSurge": false}, "automaticOSUpgradePolicy":
      {"enableAutomaticOSUpgrade": false, "disableAutomaticRollback": false, "useRollingUpgradePolicy":
      false}}, "virtualMachineProfile": {"osProfile": {"computerNamePrefix": "vmsscf648",
      "adminUsername": "deploy", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"path": "/home/deploy/.ssh/authorized_keys", "keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}, "provisionVMAgent": true, "enableVMAgentPlatformUpdates":
      false}, "secrets": [], "allowExtensionOperations": true, "requireGuestProvisionSignal":
      true}, "storageProfile": {"osDisk": {"caching": "ReadWrite", "createOption":
      "FromImage", "diskSizeGB": 30, "osType": "Linux", "managedDisk": {"storageAccountType":
      "Premium_LRS"}}}, "networkProfile": {"networkInterfaceConfigurations": [{"name":
      "vmsscf648Nic", "properties": {"primary": true, "disableTcpStateTracking": false,
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/networkSecurityGroups/vmss-custom-dataNSG"},
      "dnsSettings": {"dnsServers": []}, "ipConfigurations": [{"name": "vmsscf648IPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/virtualNetworks/vmss-custom-dataVNET/subnets/vmss-custom-dataSubnet"},
      "privateIPAddressVersion": "IPv4", "loadBalancerBackendAddressPools": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Network/loadBalancers/vmss-custom-dataLB/backendAddressPools/vmss-custom-dataLBBEPool"}]}}],
      "enableIPForwarding": false}}]}, "userData": "I2Nsb3VkLWNvbmZpZ1xuaG9zdG5hbWU6IG15Vk1ob3N0bmFtZTEyMw=="},
      "overprovision": true, "doNotRunExtensionsOnOverprovisionedVMs": false, "singlePlacementGroup":
      true, "platformFaultDomainCount": 5, "orchestrationMode": "Uniform"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_user_data000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-custom-data?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss-custom-data\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGrou[...]
- request:
    body: null
    headers:
    method: GET
[...]
