interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_orchestration_mode_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001","name":"cli_test_vmss_orchestration_mode_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","date":"2022-09-28T08:00:04Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Debian\": {\n            \"publisher\":
        \"Debian\",\n            \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n
        \           \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"opensuse-leap-15-3\",\n            \"sku\":
        \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"RHEL\": {\n            \"publisher\": \"RedHat\",\n
        \           \"offer\": \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"SLES\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"sles-15-sp3\",\n
        \           \"sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"sku\":
        \"18.04-LTS\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        },\n        \"Windows\": {\n          \"Win2022Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-Datacenter\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2016Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2016-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2008-R2-SP1\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        }\n      }\n    }\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"41b202f4dc5098d126019dc00721a4c5e30df0c5196794514fadc3710ee2a5cb"
      source-age:
      - '239'
      x-fastly-request-id:
      - f16abdab709fc8f748bdecb98dbb80d3eb66a859
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2022-08-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"EastUS2EUAP\",\r\n    \"name\": \"18.04.202209210\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202209210\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15997,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43997
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202209210?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\":
        31,\r\n      \"sizeInBytes\": 32213303808\r\n    },\r\n    \"dataDiskImages\":
        []\r\n  },\r\n  \"location\": \"EastUS2EUAP\",\r\n  \"name\": \"18.04.202209210\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202209210\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12998,Microsoft.Compute/GetVMImageFromLocation30Min;73998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"},{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"38808189-fa7a-4d8a-807f-eba01edacca6","roleDefinitionId":"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"}],"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","Australia
        Central","South Africa North","UAE North","Switzerland North","Germany West
        Central","Norway East","West US 3","Jio India West","Sweden Central","Qatar
        Central","Central US EUAP","East US 2 EUAP"],"apiVersions":["2022-05-01","2022-01-01","2021-12-01","2021-08-01","2021-06-01","2021-05-01","2021-04-01","2021-03-01","2021-02-01","2021-01-01","2020-11-01","2020-08-01","2020-07-01","2020-06-01","2020-05-01","2020-04-01","2020-03-01","2020-01-01","2019-12-01","2019-11-01","2019-09-01","2019-08-01","2019-07-01","2019-06-01","2019-04-01","2019-02-01","2018-12-01","2018-11-01","2018-10-01","2018-08-01","2018-07-01","2018-06-01","2018-05-01","2018-04-01","2018-03-01","2018-02-01","2018-01-01","2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"defaultApiVersion":"2020-03-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2017-10-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2017-10-01"}],"locationMappings":[{"location":"East
        US 2 EUAP","type":"EdgeZone","extendedLocations":["eastus2euapmockedge","onefleetedge1mockedge","microsoftrrdclab1","microsoftrrdclab2","microsoftrrdclab3","microsoftrrdclab4","microsoftrrdclab5","microsoftrrdclab6","microsoftrrdclab7","microsoftrrdclab8","microsoftrrdclab9","microsoftdclabs1","microsoftb25lab1","ezerr10"]},{"location":"West
        US","type":"EdgeZone","extendedLocations":["microsoftlosangeles1","microsoftlasvegas1"]},{"location":"Canada
        Central","type":"EdgeZone","extendedLocations":["microsoftvancouver1"]},{"location":"East
        US 2","type":"EdgeZone","extendedLocations":["microsoftmiami1","attatlanta1"]},{"location":"East
        US","type":"EdgeZone","extendedLocations":["microsoftnewyork1","vzwindsor1","ezecustomerlabboston1"]},{"location":"Australia
        Southeast","type":"EdgeZone","extendedLocations":["microsoftperth1"]},{"location":"South
        Central US","type":"EdgeZone","extendedLocations":["attdallas1","ezecustomerlabhouston1"]}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"virtualNetworks/taggedTrafficConsumers","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default\",\r\n
        \ \"etag\": \"W/\\\"b9f10d6c-9a58-43a6-9b0f-7c1cbb272bbc\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b9f10d6c-9a58-43a6-9b0f-7c1cbb272bbc"
    status:
      code: 200
      message: ''
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vmss0000003LBPublicIP", "location": "eastus2euap", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "vmss0000003LB", "location":
      "eastus2euap", "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/vmss0000003LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss0000003LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/publicIPAddresses/vmss0000003LBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss0000003LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss0000003LB''),
      ''/backendAddressPools/'', ''vmss0000003LBBEPool'')]"}, "protocol": "tcp", "frontendPort":
      80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes": 5}}]},
      "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss0000003NSG", "apiVersion": "2015-06-15", "location": "eastus2euap",
      "tags": {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "vmss0000003", "location": "eastus2euap", "tags": {}, "apiVersion":
      "2022-08-01", "dependsOn": ["Microsoft.Network/loadBalancers/vmss0000003LB",
      "Microsoft.Network/networkSecurityGroups/vmss0000003NSG"], "properties": {"singlePlacementGroup":
      false, "platformFaultDomainCount": 1, "virtualMachineProfile": {"storageProfile":
      {"osDisk": {"createOption": "FromImage", "caching": "ReadWrite", "managedDisk":
      {"storageAccountType": null}}, "imageReference": {"publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "18.04-LTS", "version": "latest"}}, "osProfile":
      {"computerNamePrefix": "testvmss", "adminUsername": "testvmss", "linuxConfiguration":
      {"disablePasswordAuthentication": true, "ssh": {"publicKeys": [{"path": "/home/testvmss/.ssh/authorized_keys",
      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLq1sEri2RcnDg8tjo775iZUd5HVjAdQjSgky6ciJgrvPNUxZv9D65dL9GLllmDhq4Xv6SxbppUJhG0vl/VgaRRPyWRrHXgZRBl0c+H0A2X0Y7L/9sir1ezs2xv89+T03Y+KQYGyZa4xuxwlfdsl6YHjHGW97ONxyDfQesFkSdwyRI0RsnV0/GB8mRF32tgSwxqT8cpXjzjz7w4usgT52knfpyslFfZGRfTjamae/sZeezBTSfsvgryEMxxxXBvXC8/iiTxRG9cQxURK6t1VCeT6F7OmJhY2G+sPCXbkEyOjkfT18y/iUSyPEPVkoaO8Ab9eNPIUFBhRPapQlZ5YsQcIBrDmBb013lRdH82K6Q7Avp3x5liFwjQT96p5CIikl6MlJScZ6SK1dnqAEEPuBvz7vCKSsVaIxTeZhnpiX44cp87VGOR1Sqlus3s3C4NbRKU/a3023vmMV6t/F9SY94sFlWPs2q6ihRTmqV5oYZScJlGgp9voQ/9XStN+4pfAE=
      zhuyan@microsoft.com\n"}]}}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss0bae2Nic", "properties": {"ipConfigurations": [{"name": "vmss0bae2IPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/loadBalancers/vmss0000003LB/backendAddressPools/vmss0000003LBBEPool"}]}}],
      "networkSecurityGroup": {"id": "[resourceId(''Microsoft.Network/networkSecurityGroups'',
      ''vmss0000003NSG'')]"}, "primary": "true"}}], "networkApiVersion": "2020-11-01"}},
      "orchestrationMode": "Flexible"}, "sku": {"name": "Standard_DS1_v2", "capacity":
      0}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss0000003''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Resources/deployments/vmss_deploy_TIalhEIEtt2WsNPdSQ3VvAH6fXOqcAMV","name":"vmss_deploy_TIalhEIEtt2WsNPdSQ3VvAH6fXOqcAMV","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11679163593553673816","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-09-28T08:00:42.9825478Z","duration":"PT0.00011S","correlationId":"7703f13c-fe35-4549-bf1c-c4e30af81342","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["eastus2euap"]},{"resourceType":"loadBalancers","locations":["eastus2euap"]},{"resourceType":"networkSecurityGroups","locations":["eastus2euap"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus2euap"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/publicIPAddresses/vmss0000003LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss0000003LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/loadBalancers/vmss0000003LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss0000003LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/loadBalancers/vmss0000003LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss0000003LB"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/networkSecurityGroups/vmss0000003NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vmss0000003NSG"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss0000003","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss0000003"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Resources/deployments/vmss_deploy_TIalhEIEtt2WsNPdSQ3VvAH6fXOqcAMV/operationStatuses/08585372548482332537?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585372548482332537?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Resources/deployments/vmss_deploy_TIalhEIEtt2WsNP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss0000003?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss0000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss0000003\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"eastus2euap\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n
        \   \"tier\": \"Standard\",\r\n    \"capacity\": 0\r\n  },\r\n  \"properties\":
        {\r\n    \"singlePlacementGroup\": false,\r\n    \"orchestrationMode\": \"Flexible\",\r\n
        \   \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\":
        \"testvmss\",\r\n        \"adminUsername\": \"testvmss\",\r\n        \"linuxConfiguration\":
        {\r\n          \"disablePasswordAuthentication\": true,\r\n          \"ssh\":
        {\r\n            \"publicKeys\": [\r\n              {\r\n                \"path\":
        \"/home/testvmss/.ssh/authorized_keys\",\r\n                \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABgQDLq1sEri2RcnDg8tjo775iZUd5HVjAdQjSgky6ciJgrvPNUxZv9D65dL9GLllmDhq4Xv6SxbppUJhG0vl/VgaRRPyWRrHXgZRBl0c+H0A2X0Y7L/9sir1ezs2xv89+T03Y+KQYGyZa4xuxwlfdsl6YHjHGW97ONxyDfQesFkSdwyRI0RsnV0/GB8mRF32tgSwxqT8cpXjzjz7w4usgT52knfpyslFfZGRfTjamae/sZeezBTSfsvgryEMxxxXBvXC8/iiTxRG9cQxURK6t1VCeT6F7OmJhY2G+sPCXbkEyOjkfT18y/iUSyPEPVkoaO8Ab9eNPIUFBhRPapQlZ5YsQcIBrDmBb013lRdH82K6Q7Avp3x5liFwjQT96p5CIikl6MlJScZ6SK1dnqAEEPuBvz7vCKSsVaIxTeZhnpiX44cp87VGOR1Sqlus3s3C4NbRKU/a3023vmMV6t/F9SY94sFlWPs2q6ihRTmqV5oYZScJlGgp9voQ/9XStN+4pfAE=
        zhuyan@microsoft.com\\n\"\r\n              }\r\n            ]\r\n          },\r\n
        \         \"provisionVMAgent\": true,\r\n          \"patchSettings\": {\r\n
        \           \"patchMode\": \"ImageDefault\",\r\n            \"assessmentMode\":
        \"ImageDefault\"\r\n          },\r\n          \"enableVMAgentPlatformUpdates\":
        false\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\":
        true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\":
        {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\":
        \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\":
        {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n
        \         \"deleteOption\": \"Delete\",\r\n          \"diskSizeGB\": 30\r\n
        \       },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n
        \         \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"18.04-LTS\",\r\n
        \         \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\":
        {\"networkApiVersion\":\"2020-11-01\",\"networkInterfaceConfigurations\":[{\"name\":\"vmss0bae2Nic\",\"properties\":{\"primary\":true,\"enableIPForwarding\":false,\"deleteOption\":\"Delete\",\"ipConfigurations\":[{\"name\":\"vmss0bae2IPConfig\",\"properties\":{\"privateIPAddressVersion\":\"IPv4\",\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default\"},\"applicationSecurityGroups\":[],\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/loadBalancers/vmss0000003LB/backendAddressPools/vmss0000003LBBEPool\"}],\"applicationGatewayBackendAddressPools\":[]}}],\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_orchestration_mode_000001/providers/Microsoft.Network/networkSecurityGroups/vmss0000003NSG\"},\"dnsSettings\":{\"dnsServers\":[]}}}]}\r\n
        \   },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"uniqueId\": \"f18310d0-2ee4-403a-84b5-38b798223215\",\r\n
        \   \"platformFaultDomainCount\": 1,\r\n    \"constrainedMaximumCapacity\":
        false,\r\n    \"timeCreated\": \"2022-09-28T08:01:18.7822253+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSet3Min;396,Microsoft.Compute/GetVMScaleSet30Min;2596
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions?$top=1&$orderby=name%20desc&api-version=2022-08-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"EastUS2EUAP\",\r\n    \"name\": \"0.20220911.1135\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/EastUS2EUAP/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20220911.1135\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions/0.20220911.1135?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disa[...]
[...]
- request:
[...]
