interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001","name":"cli_test_vm_create_count_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_create_count","date":"2023-10-30T03:27:03Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet\",\r\n
        \ \"etag\": \"W/\\\"a303e040-299a-4728-87dd-53f62312768a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"c80089e4-8048-44f8-b878-181063bec449\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/9448b450-b25f-4785-84fb-f080cfe08b95?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/9448b450-b25f-4785-84fb-f080cfe08b95?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1?api-version=2023-05-01
  response:
    body:
      string: '{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1","etag":"W/\"4f9b786d-d274-4b27-8fb1-b7fa9ca39665\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/234bf59d-385d-42a9-8ef3-14bd501ed040?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"18.04.202306070\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15994,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43984
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202306070?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\":
        32213303808\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\":
        \"eastus\",\r\n  \"name\": \"18.04.202306070\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12995,Microsoft.Compute/GetVMImageFromLocation30Min;73986
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"38808189-fa7a-4d8a-807f-eba01edacca6","roleDefinitionId":"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"virtualNetworkGateways","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","Australia
        Central","South Africa North","UAE North","Switzerland North","Germany West
        Central","Norway East","West US 3","Jio India West","Sweden Central","Qatar
        Central","Poland Central","Italy North","Israel Central","Central US EUAP","East
        US 2 EUAP"],"apiVersions":["2023-06-01","2023-05-01","2023-04-01","2023-02-01","2022-11-01","2022-09-01","2022-07-01","2022-05-01","2022-01-01","2021-12-01","2021-08-01","2021-06-01","2021-05-01","2021-04-01","2021-03-01","2021-02-01","2021-01-01","2020-11-01","2020-08-01","2020-07-01","2020-06-01","2020-05-01","2020-04-01","2020-03-01","2020-01-01","2019-12-01","2019-11-01","2019-09-01","2019-08-01","2019-07-01","2019-06-01","2019-04-01","2019-02-01","2018-12-01","2018-11-01","2018-10-01","2018-08-01","2018-07-01","2018-06-01","2018-05-01","2018-04-01","2018-03-01","2018-02-01","2018-01-01","2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"defaultApiVersion":"2020-03-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2017-03-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2017-10-01"}],"locationMappings":[{"location":"East
        US 2 EUAP","type":"EdgeZone","extendedLocations":["onefleetedge1mockedge","microsoftrrdclab1","microsoftrrdclab2","microsoftrrdclab3","microsoftrrdclab4","microsoftrrdclab6","microsoftrrdclab7","microsoftrrdclab8","microsoftdclabs1","microsoftb25lab1","microsoftrrezm1"]},{"location":"West
        US","type":"EdgeZone","extendedLocations":["microsoftlosangeles1","microsoftlasvegas1","losangeles"]},{"location":"Canada
        Central","type":"EdgeZone","extendedLocations":["microsoftvancouver1"]},{"location":"East
        US 2","type":"EdgeZone","extendedLocations":["microsoftmiami1","attatlanta1"]},{"location":"East
        US","type":"EdgeZone","extendedLocations":["microsoftnewyork1","ezecustomerlabboston1","attnewyork1"]},{"location":"Australia
        Southeast","type":"EdgeZone","extendedLocations":["microsoftperth1"]},{"location":"South
        Central US","type":"EdgeZone","extendedLocations":["attdallas1","ezecustomerlabhouston1"]},{"location":"Southeast
        Asia","type":"EdgeZone","extendedLocations":["sgxsingapore1"]},{"location":"Central
        US","type":"EdgeZone","extendedLocations":["attdetroit1"]}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"localNetworkGateways","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1?api-version=2023-06-01
  response:
    body:
      string: '{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1","etag":"W/\"88595b24-3169-4bbf-a872-fa9cb29289de\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"88595b24-3169-4bbf-a872-fa9cb29289de"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/networkSecurityGroups", "name": "vmaNSG", "apiVersion":
      "2015-06-15", "location": "eastus", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(''vmaPublicIP'',
      copyIndex())]", "location": "eastus", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": null}, "copy": {"name": "publicipcopy", "mode":
      "parallel", "count": 3}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "[concat(''vmaVMNic'', copyIndex())]", "location": "eastus", "tags":
      {}, "dependsOn": ["Microsoft.Network/networkSecurityGroups/vmaNSG", "Microsoft.Network/publicIpAddresses/vmaPublicIP0",
      "Microsoft.Network/publicIpAddresses/vmaPublicIP1", "Microsoft.Network/publicIpAddresses/vmaPublicIP2"],
      "properties": {"ipConfigurations": [{"name": "[concat(''ipconfigvma'', copyIndex())]",
      "properties": {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1"},
      "publicIPAddress": {"id": "[concat(''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP'',
      copyIndex())]"}}}], "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkSecurityGroups/vmaNSG"}},
      "copy": {"name": "niccopy", "mode": "parallel", "count": 3}}, {"apiVersion":
      "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name": "[concat(''vma'',
      copyIndex())]", "location": "eastus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vmaVMNic0",
      "Microsoft.Network/networkInterfaces/vmaVMNic1", "Microsoft.Network/networkInterfaces/vmaVMNic2"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "[concat(''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkInterfaces/vmaVMNic'',
      copyIndex())]", "properties": {"deleteOption": "Delete"}}]}, "storageProfile":
      {"osDisk": {"createOption": "fromImage", "name": null, "caching": "ReadWrite",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"publisher":
      "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version": "latest"}},
      "osProfile": {"computerName": "[concat(''vma'', copyIndex())]", "adminUsername":
      "vmtest", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDeVkq96e0M8yAgX4RzjcMrER1J+UiWDpmPDlCUppRPtYKdq8n9QcgxD8UIzKHcZuYKYytLfTEPzMyZWIZX9VGZGNIncdObvOD1R/A3aspLKTpFQ6lGoUbua94ajsJxM79j0bSa1Vir6CHGH5nJUCitvsLtGC1xKQa6qHS0PunWsrTyQHfH+vccIi2bR/gmaa6SdUakbfPk1M4Ac0HopTLQhbcJrgMFi/2EspxiZdhCGkqmO7ak/OcvbjdvTffq1naETygMWvXPWkn8x0QckSBaFt4tWU6Zu50r5GwXaKUDaIWCdhfAVOw20irxCbgyD//YBWy5aYUr+uGaugnjHRkmmmCUqAd6i5tYRrLh18vLhPm8GLhvlYTfV09n3IqCXtWnKYRJEd4s/WNOrHeY0lupu7RHm4iJBgfFHnbqtKihaIY4vK5RJmuA/TZ/C/IRysw9zwirSnddhg8xTryPzmcmMjCqLgBILmcPVVU8Bh2kC1FCyWeYyIptRkWFr3aWpG0=
      v-taoxuzeng@microsoft.com\n", "path": "/home/vmtest/.ssh/authorized_keys"}]}}}},
      "copy": {"name": "vmcopy", "mode": "parallel", "count": 3}}], "outputs": {}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/vm_deploy_ebaNG5TZgcFeWyebyWmU5h3TUuuK2KAe","name":"vm_deploy_ebaNG5TZgcFeWyebyWmU5h3TUuuK2KAe","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7715507273561538177","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-10-30T03:27:52.7437377Z","duration":"PT0.0001047S","correlationId":"c9618fb8-342b-4160-91ec-a639a626b1fd","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["eastus"]},{"resourceType":"publicIPAddresses","locations":["eastus"]},{"resourceType":"networkInterfaces","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkSecurityGroups/vmaNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vmaNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP0","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmaPublicIP0"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmaPu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585029704167286129?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/vm_deploy_ebaNG5TZgcFeWyebyWmU5h3TUuuK2KAe"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/virtualMachines/vma0?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vma0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/virtualMachines/vma0\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\":
        \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"vmId\": \"72e300b4-e5d6-471c-bfda-7845b5f9d44f\",\r\n    \"storageProfile\":
        {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n
        \       \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202306070\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"vma0_disk1_f441e2bc8419426c9f8d340c6a703ffa\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/disks/vma0_disk1_f441e2bc8419426c9f8d340c6a703ffa\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vma0\",\r\n      \"adminUsername\": \"vmtest\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/vmtest/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDeVkq96e0M8yAgX4RzjcMrER1J+UiWDpmPDlCUppRPtYKdq8n9QcgxD8UIzKHcZuYKYytLfTEPzMyZWIZX9VGZGNIncdObvOD1R/A3aspLKTpFQ6lGoUbua94ajsJxM79j0bSa1Vir6CHGH5nJUCitvsLtGC1xKQa6qHS0PunWsrTyQHfH+vccIi2bR/gmaa6SdUakbfPk1M4Ac0HopTLQhbcJrgMFi/2EspxiZdhCGkqmO7ak/OcvbjdvTffq1naETygMWvXPWkn8x0QckSBaFt4tWU6Zu50r5GwXaKUDaIWCdhfAVOw20irxCbgyD//YBWy5aYUr+uGaugnjHRkmmmCUqAd6i5tYRrLh18vLhPm8GLhvlYTfV09n3IqCXtWnKYRJEd4s/WNOrHeY0lupu7RHm4iJBgfFHnbqtKihaIY4vK5RJmuA/TZ/C/IRysw9zwirSnddhg8xTryPzmcmMjCqLgBILmcPVVU8Bh2kC1FCyWeYyIptRkWFr3aWpG0=
        v-taoxuzeng@microsoft.com\\n\"\r\n            }\r\n          ]\r\n        },\r\n
        \       \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\":
        \"ImageDefault\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n
        \       \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\":
        [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
        true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkInterfaces/vmaVMNic0\",\"properties\":{\"deleteOption\":\"Delete\"}}]},\r\n
        \   \"instanceView\": {\r\n      \"computerName\": \"vma0\",\r\n      \"osName\":
        \"ubuntu\",\r\n      \"osVersion\": \"18.04\",\r\n      \"vmAgent\": {\r\n
        \       \"vmAgentVersion\": \"2.9.1.1\",\r\n        \"statuses\": [\r\n          {\r\n
        \           \"code\": \"ProvisioningState/succeeded\",\r\n            \"level\":
        \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\":
        \"Guest Agent is running\",\r\n            \"time\": \"2023-10-30T03:28:43+00:00\"\r\n
        \         }\r\n        ],\r\n        \"extensionHandlers\": []\r\n      },\r\n
        \     \"disks\": [\r\n        {\r\n          \"name\": \"vma0_disk1_f441e2bc8419426c9f8d340c6a703ffa\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-10-30T03:28:21.1655634+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-10-30T03:28:33.1343466+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-10-30T03:28:18.7593126+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23990,Microsoft.Compute/LowCostGetResource;32
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkInterfaces/vmaVMNic0?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmaVMNic0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkInterfaces/vmaVMNic0\",\r\n
        \ \"etag\": \"W/\\\"522c0b02-7972-479b-9579-ea42b0cf1ab7\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"6d37fe4c-eef0-4501-a818-7249a876dc39\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigvma0\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkInterfaces/vmaVMNic0/ipConfigurations/ipconfigvma0\",\r\n
        \       \"etag\": \"W/\\\"522c0b02-7972-479b-9579-ea42b0cf1ab7\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.5\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP0\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"2seqbsciqd2ejodydaighpwejb.bx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"7C-1E-52-02-40-0A\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkSecurityGroups/vmaNSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/virtualMachines/vma0\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"auxiliaryMode\":
        \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
        \ \"location\": \"eastus\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"522c0b02-7972-479b-9579-ea42b0cf1ab7"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP0?api-version=2022-01-01
  response:
    body:
[...]
