interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_no_wait000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001","name":"cli_test_vm_no_wait000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-09-03T08:28:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"Debian\": {\n            \"publisher\": \"Debian\",\n            \"offer\":
        \"debian-10\",\n            \"sku\": \"10\",\n            \"version\": \"latest\"\n
        \         },\n          \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n
        \           \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable\",\n            \"version\": \"latest\"\n          },\n          \"openSUSE-Leap\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n
        \           \"sku\": \"42.3\",\n            \"version\": \"latest\"\n          },\n
        \         \"RHEL\": {\n            \"publisher\": \"RedHat\",\n            \"offer\":
        \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n
        \         },\n          \"SLES\": {\n            \"publisher\": \"SUSE\",\n
        \           \"offer\": \"SLES\",\n            \"sku\": \"15\",\n            \"version\":
        \"latest\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"sku\":
        \"18.04-LTS\",\n            \"version\": \"latest\"\n          }\n        },\n
        \       \"Windows\": {\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2016Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2012R2Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2012-R2-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2008R2SP1\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n
        \           \"version\": \"latest\"\n          }\n        }\n      }\n    }\n
        \ }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"54bceef15b892f2aa7f4c2145a49f1b5e33608722acdbb47933d7b6cbebbd7f4"
      source-age:
      - '148'
      x-fastly-request-id:
      - 10f783a58ad2ed3e59e11bb7f20212e807eb22d8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmnowait2VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmnowait2Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vmnowait2NSG", "apiVersion":
      "2015-06-15", "location": "westus", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2018-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmnowait2PublicIP",
      "location": "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vmnowait2VMNic", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmnowait2VNET",
      "Microsoft.Network/networkSecurityGroups/vmnowait2NSG", "Microsoft.Network/publicIpAddresses/vmnowait2PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvmnowait2", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/virtualNetworks/vmnowait2VNET/subnets/vmnowait2Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/publicIPAddresses/vmnowait2PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/networkSecurityGroups/vmnowait2NSG"}}},
      {"apiVersion": "2021-07-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vmnowait2", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vmnowait2VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/networkInterfaces/vmnowait2VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "18.04-LTS", "version": "latest"}}, "osProfile": {"computerName": "vmnowait2",
      "adminUsername": "user12", "adminPassword": "[parameters(''adminPassword'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "testPassword0"}},
      "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_no_wait000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Resources/deployments/vm_deploy_s7q8107E9Y78oBe5lTuX8KFFUDfvzdOz","name":"vm_deploy_s7q8107E9Y78oBe5lTuX8KFFUDfvzdOz","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6856562517144965157","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-09-03T08:28:26.3849603Z","duration":"PT2.1636369S","correlationId":"abc23ab8-48ad-4c81-8c7d-4c9d799beb25","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/virtualNetworks/vmnowait2VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmnowait2VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/networkSecurityGroups/vmnowait2NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vmnowait2NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/publicIPAddresses/vmnowait2PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmnowait2PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/networkInterfaces/vmnowait2VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vmnowait2VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/networkInterfaces/vmnowait2VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vmnowait2VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Compute/virtualMachines/vmnowait2","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vmnowait2"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_no_wait000001/providers/Microsoft.Resources/deployments/vm_deploy_s7q8107E9Y78oBe5lTuX8KFFUDfvzdOz/operationStatuses/08585709491812563236?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Compute/virtualMachines/vmnowait2?$expand=instanceView&api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmnowait2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Compute/virtualMachines/vmnowait2\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"910c9d1c-1c83-4404-ba49-a8feeb0a636f\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"18.04.202107200\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Linux\",\r\n        \"name\": \"vmnowait2_disk1_d9caf9e4be184e2ea3bf0e3d99e3fb31\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Compute/disks/vmnowait2_disk1_d9caf9e4be184e2ea3bf0e3d99e3fb31\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vmnowait2\",\r\n      \"adminUsername\": \"user12\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\":
        {\r\n          \"patchMode\": \"ImageDefault\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Network/networkInterfaces/vmnowait2VMNic\"}]},\r\n
        \   \"provisioningState\": \"Creating\",\r\n    \"instanceView\": {\r\n      \"disks\":
        [\r\n        {\r\n          \"name\": \"vmnowait2_disk1_d9caf9e4be184e2ea3bf0e3d99e3fb31\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2021-09-03T08:28:47.8099593+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/creating/osProvisioningInProgress\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"OS provisioning
        in progress\"\r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3959,Microsoft.Compute/LowCostGet30Min;31882
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Compute/virtualMachines/vmnowait2?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmnowait2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Compute/virtualMachines/vmnowait2\",\r\n
[...]
- request:
    body: '{"location": "westus", "tags": {"mytag": "tagvalue1"}, "properties": {"hardwareProfile":
      {"vmSize": "Standard_DS1_v2"}, "storageProfile": {"osDisk": {"osType": "Linux",
      "name": "vmnowait2_disk1_d9caf9e4be184e2ea3bf0e3d99e3fb31", "caching": "ReadWrite",
      "createOption": "FromImage", "diskSizeGB": 30, "managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_no_wait000001/providers/Microsoft.Compute/disks/vmnowait2_disk1_d9caf9e4be184e2ea3bf0e3d99e3fb31",
      "storageAccount[...]
[...]
