interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001","name":"cli_test_vmss_create_w_ips000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-12T10:04:59Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"testnsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg\",\r\n
        \ \"etag\": \"W/\\\"597e5a13-8aae-4381-8a2e-0c5918a2e4a0\\\"\",\r\n  \"type\":
        \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"597c4287-58c0-4278-9d6f-b8fa8a6e2cb1\",\r\n    \"securityRules\": [],\r\n
        \   \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetInBound\",\r\n
        \       \"etag\": \"W/\\\"597e5a13-8aae-4381-8a2e-0c5918a2e4a0\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n
        \         \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n
        \         \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\":
        \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n
        \         \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\":
        \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\":
        [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\":
        []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n
        \       \"etag\": \"W/\\\"597e5a13-8aae-4381-8a2e-0c5918a2e4a0\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/eea065b2-0539-46d4-9d86-17c5481109c7?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"Debian\": {\n            \"publisher\": \"Debian\",\n            \"offer\":
        \"debian-10\",\n            \"sku\": \"10\",\n            \"version\": \"latest\"\n
        \         },\n          \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n
        \           \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable\",\n            \"version\": \"latest\"\n          },\n          \"openSUSE-Leap\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n
        \           \"sku\": \"42.3\",\n            \"version\": \"latest\"\n          },\n
        \         \"RHEL\": {\n            \"publisher\": \"RedHat\",\n            \"offer\":
        \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n
        \         },\n          \"SLES\": {\n            \"publisher\": \"SUSE\",\n
        \           \"offer\": \"SLES\",\n            \"sku\": \"15\",\n            \"version\":
        \"latest\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"sku\":
        \"18.04-LTS\",\n            \"version\": \"latest\"\n          }\n        },\n
        \       \"Windows\": {\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2016Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2012R2Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2012-R2-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2008R2SP1\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n
        \           \"version\": \"latest\"\n          }\n        }\n      }\n    }\n
        \ }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"54bceef15b892f2aa7f4c2145a49f1b5e33608722acdbb47933d7b6cbebbd7f4"
      source-age:
      - '0'
      x-fastly-request-id:
      - 66fc1b27c86ae347d810e0379320e8593670bf16
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2018-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss1LBPublicIP",
      "location": "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"type": "Microsoft.Network/loadBalancers", "name": "vmss1LB",
      "location": "westus", "tags": {}, "apiVersion": "2018-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "properties": {"backendAddressPools":
      [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss1LBNatPool", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "protocol": "tcp",
      "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "backendPort":
      22}}]}}, {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1",
      "location": "westus", "tags": {}, "apiVersion": "2021-04-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB"], "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual", "rollingUpgradePolicy": {}}, "singlePlacementGroup":
      null, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption":
      "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}},
      "imageReference": {"publisher": "Debian", "offer": "debian-10", "sku": "10",
      "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmss1c65d", "adminUsername":
      "clittester", "linuxConfiguration": {"disablePasswordAuthentication": true,
      "ssh": {"publicKeys": [{"path": "/home/clittester/.ssh/authorized_keys", "keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss1c65dNic", "properties": {"ipConfigurations": [{"name": "vmss1c65dIPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "publicipaddressconfiguration": {"name": "instancepublicip", "properties": {"idleTimeoutInMinutes":
      10, "dnsSettings": {"domainNameLabel": "clivmss000002"}}}, "loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}],
      "dnsSettings": {"dnsServers": ["10.0.0.6", "10.0.0.5"]}, "networkSecurityGroup":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg"},
      "primary": "true"}}]}}, "orchestrationMode": "Uniform"}, "sku": {"name": "Standard_DS1_v2",
      "capacity": 2}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/vmss_deploy_ehn0Ro5lsV4Ct9shMruK6nxqsjc6zcjF","name":"vmss_deploy_ehn0Ro5lsV4Ct9shMruK6nxqsjc6zcjF","type":"Microsoft.Resources/deployments","properties":{"templateHash":"13088718990257235091","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-10-12T10:05:17.1738084Z","duration":"PT2.2263259S","correlationId":"1437ec54-eb6f-40de-bb72-b373183b3747","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/vmss_deploy_ehn0Ro5lsV4Ct9shMruK6nxqsjc6zcjF/operationStatuses/08585675737705301511?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585675737705301511?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/vmss_deploy_ehn0Ro5lsV4Ct9shMruK6nxqsjc6z[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2021-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n
        \   \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\":
        {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\":
        \"Manual\",\r\n      \"rollingUpgradePolicy\": {\r\n        \"maxBatchInstancePercent\":
        20,\r\n        \"maxUnhealthyInstancePercent\": 20,\r\n        \"maxUnhealthyUpgradedInstancePercent\":
        20,\r\n        \"pauseTimeBetweenBatches\": \"PT0S\"\r\n      }\r\n    },\r\n
        \   \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\":
        \"vmss1c65d\",\r\n        \"adminUsername\": \"clittester\",\r\n        \"linuxConfiguration\":
        {\r\n          \"disablePasswordAuthentication\": true,\r\n          \"ssh\":
        {\r\n            \"publicKeys\": [\r\n              {\r\n                \"path\":
        \"/home/clittester/.ssh/authorized_keys\",\r\n                \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\r\n              }\r\n            ]\r\n          },\r\n
        \         \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\":
        [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\":
        true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n
        \         \"osType\": \"Linux\",\r\n          \"createOption\": \"FromImage\",\r\n
        \         \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n
        \           \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\":
        30\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\":
        \"Debian\",\r\n          \"offer\": \"debian-10\",\r\n          \"sku\": \"10\",\r\n
        \         \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\":
        {\"networkInterfaceConfigurations\":[{\"name\":\"vmss1c65dNic\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg\"},\"dnsSettings\":{\"dnsServers\":[\"10.0.0.6\",\"10.0.0.5\"]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"vmss1c65dIPConfig\",\"properties\":{\"publicIPAddressConfiguration\":{\"name\":\"instancepublicip\",\"properties\":{\"idleTimeoutInMinutes\":10,\"ipTags\":[],\"dnsSettings\":{\"domainNameLabel\":\"clivmss000002\"},\"publicIPAddressVersion\":\"IPv4\"}},\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"}],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"}]}}]}}]}\r\n
        \   },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\":
        true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\":
        \"0c4c4d79-eea9-461a-873d-a74f9434b290\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSet3Min;393,Microsoft.Compute/GetVMScaleSet30Min;2593
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/publicipaddresses?api-version=2018-10-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"instancepublicip\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1c65dNic/ipConfigurations/vmss1c65dIPConfig/publicIPAddresses/instancepublicip\",\r\n
        \     \"etag\": \"W/\\\"3c87dc8f-6bc5-4b4d-abc2-67efdf0e6297\\\"\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\":
        \"18375acb-14aa-4f21-8774-14cfa2eb339e\",\r\n        \"ipAddress\": \"137.135.6.70\",\r\n
        \       \"publicIPAddressVersion\": \"IPv4\",\r\n        \"publicIPAllocationMethod\":
        \"Dynamic\",\r\n        \"idleTimeoutInMinutes\": 10,\r\n        \"dnsSettings\":
        {\r\n          \"domainNameLabel\": \"vm0.clivmss000002\",\r\n          \"fqdn\":
        \"vm0.clivmss000002.westus.cloudapp.azure.com\"\r\n        },\r\n        \"ipTags\":
        [],\r\n        \"ipConfiguration\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1c65dNic/ipConfigurations/vmss1c65dIPConfig\"\r\n
        \       }\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"Basic\"\r\n
        \     }\r\n    },\r\n    {\r\n      \"name\": \"instancepublicip\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000[...]
