interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_test_specialized_image_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001","name":"cli_test_test_specialized_image_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_specialized_image","date":"2023-11-21T00:28:43Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/galleries/gallery_000002?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery_000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/galleries/gallery_000002\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"50821c37-1271-4210-8e1f-568acc6ecc66-GALLERY_ROY64QOT5U7L\"\r\n    },\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/capsOperations/1e41971b-56ba-426c-b5eb-f63f0c222416?api-version=2021-10-01&t=638361233251849625&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/capsOperations/1e41971b-56ba-426c-b5eb-f63f0c222416?api-version=2021-10-01&t=638361233251849625&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/galleries/gallery_000002?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery_000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/galleries/gallery_000002\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"50821c37-1271-4210-8e1f-568acc6ecc66-GALLERY_ROY64QOT5U7L\"\r\n    },\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetGallery3Min;345,Microsoft.Compute/GetGallery30Min;2490
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"tag": "test"}, "properties": {"osType":
      "Linux", "osState": "Specialized", "hyperVGeneration": "V1", "identifier": {"publisher":
      "publisher1", "offer": "offer1", "sku": "sku1"}, "disallowed": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"image1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"tag\": \"test\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"hyperVGeneration\": \"V1\",\r\n    \"architecture\": \"x64\",\r\n    \"osType\":
        \"Linux\",\r\n    \"osState\": \"Specialized\",\r\n    \"identifier\": {\r\n
        \     \"publisher\": \"publisher1\",\r\n      \"offer\": \"offer1\",\r\n      \"sku\":
        \"sku1\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/capsOperations/0fd27ec5-0358-466f-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/capsOperations/0fd27ec5-0358-466f-aae3-1465e52306e9?api-version=2021-10-01&t=638361233264479233&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDV[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"7.5.201808150\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43970
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions/7.5.201808150?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"osDiskImage\": {\r\n
        \     \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\": 32212255232\r\n
        \   },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\",\r\n
        \ \"name\": \"7.5.201808150\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73973
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm1NSG", "apiVersion": "2015-06-15", "location": "westus", "tags":
      {}, "dependsOn": []}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm1PublicIP", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}}, {"apiVersion":
      "2015-06-15", "type": "Microsoft.Network/networkInterfaces", "name": "vm1VMNic",
      "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm1", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "OpenLogic", "offer": "CentOS", "sku":
      "7.5", "version": "latest"}}, "osProfile": {"computerName": "vm1", "adminUsername":
      "azureuser", "adminPassword": "[parameters(''adminPassword'')]"}}}], "outputs":
      {}}, "parameters": {"adminPassword": {"value": "testPassword0"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_test_specialized_image_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Resources/deployments/vm_deploy_64vWGRi7pdR8VW91g7WDiGPY4C5Jl3J4","name":"vm_deploy_64vWGRi7pdR8VW91g7WDiGPY4C5Jl3J4","type":"Microsoft.Resources/deployments","properties":{"templateHash":"106995548414886136","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-11-21T00:28:49.9090261Z","duration":"PT0.0001863S","correlationId":"ce2fcce7-40b3-418f-b0c0-067171a27da4","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceNa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_test_specialized_image_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585010803562877093?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/virtualMachines/vm1\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
        \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n
        \     \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"vmId\": \"15f65eab-ad51-4fe9-a008-b868ecf2f76c\",\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"OpenLogic\",\r\n        \"offer\": \"CentOS\",\r\n        \"sku\": \"7.5\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"7.5.201808150\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vm1\",\r\n      \"adminUsername\": \"azureuser\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\":
        {\r\n          \"patchMode\": \"ImageDefault\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"}]},\r\n
        \   \"instanceView\": {\r\n      \"computerName\": \"vm1\",\r\n      \"osName\":
        \"centos\",\r\n      \"osVersion\": \"7.5.1804\",\r\n      \"vmAgent\": {\r\n
        \       \"vmAgentVersion\": \"2.9.1.1\",\r\n        \"statuses\": [\r\n          {\r\n
        \           \"code\": \"ProvisioningState/succeeded\",\r\n            \"level\":
        \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\":
        \"Guest Agent is running\",\r\n            \"time\": \"2023-11-21T00:30:19+00:00\"\r\n
        \         }\r\n        ],\r\n        \"extensionHandlers\": []\r\n      },\r\n
        \     \"disks\": [\r\n        {\r\n          \"name\": \"vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-11-21T00:29:03.480595+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-11-21T00:30:15.3572348+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-11-21T00:29:01.2930401+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3969,Microsoft.Compute/LowCostGet30Min;31685
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\",\r\n
        \ \"etag\": \"W/\\\"aaa1cf9f-1eaf-487f-89fa-665e428b8221\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"31952a9d-d0ce-46f1-9f52-aaa61fb56c59\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigvm1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\",\r\n
        \       \"etag\": \"W/\\\"aaa1cf9f-1eaf-487f-89fa-665e428b8221\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"oca4xmdfblzu3hop05gczncf2c.dx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"60-45-BD-09-26-CC\",\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
        false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/virtualMachines/vm1\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"auxiliaryMode\":
        \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
        \ \"location\": \"westus\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"aaa1cf9f-1eaf-487f-89fa-665e428b8221"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\",\r\n
        \ \"etag\": \"W/\\\"1063422b-c0ba-483e-bf36-456eaa422267\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"762d1b61-8ae4-4401-a1b1-8497f14e7a77\",\r\n
        \   \"ipAddress\": \"40.78.123.212\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1063422b-c0ba-483e-bf36-456eaa422267"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/virtualMachines/vm1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/snapshots/vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77?api-version=2022-03-02
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/snapshots/vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77''
        under resource group ''cli_test_test_specialized_image_000001'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
        \"true\"\r\n  },\r\n  \"managedBy\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/virtualMachines/vm1\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\": \"Premium\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"osType\": \"Linux\",\r\n    \"hyperVGeneration\":
        \"V1\",\r\n    \"supportedCapabilities\": {\r\n      \"architecture\": \"x64\"\r\n
        \   },\r\n    \"creationData\": {\r\n      \"createOption\": \"FromImage\",\r\n
        \     \"imageReference\": {\r\n        \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n
        \     }\r\n    },\r\n    \"diskSizeGB\": 30,\r\n    \"diskIOPSReadWrite\":
        120,\r\n    \"diskMBpsReadWrite\": 25,\r\n    \"encryption\": {\r\n      \"type\":
        \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"networkAccessPolicy\":
        \"AllowAll\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"timeCreated\":
        \"2023-11-21T00:29:02.2681237+00:00\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"diskState\": \"Attached\",\r\n    \"diskSizeBytes\": 32212254720,\r\n
        \   \"uniqueId\": \"067f20f0-2798-4c80-841a-0efb08a34b77\",\r\n    \"tier\":
        \"P4\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;14980,Microsoft.Compute/LowCostGet30Min;119909
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "sku": {"name": "Standard_LRS"}, "properties":
      {"creationData": {"createOption": "Copy", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_067f20f027984c80841a0efb08a34b77"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/snapshots/s1?api-version=2022-03-02
  response:
    body:
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/704194eb-2267-4e29-b028-645341372b96?p=f5915f34-3c58-4a1e-a7d3-6019c7dce71f&api-version=2022-03-02&t=638361234228083287&c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_test_specialized_image_000001/providers/Microsoft.Compute/snapshots/s1?api-version=2022-03-02
  response:
    body:
[...]
