interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_trusted_launch_on_v2_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001","name":"cli_test_trusted_launch_on_v2_000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","test":"test_enable_trusted_launch_on_v2","date":"2024-08-05T09:41:43Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"northeurope\",\r\n    \"name\": \"\
        20348.2582.240703\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.2582.240703\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions/20348.2582.240703?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n  \
        \  \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\"\
        : \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n \
        \     \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\"\
        : {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\
        \n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"\
        TrustedLaunchAndConfidentialVmSupported\"\r\n      },\r\n      {\r\n     \
        \   \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"\
        True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\"\
        ,\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"\
        name\": \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n     \
        \ }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Windows\"\
        ,\r\n      \"sizeInGb\": 30\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\
        \n  \"location\": \"northeurope\",\r\n  \"name\": \"20348.2582.240703\",\r\
        \n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.2582.240703\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V2", "creationData": {"createOption": "FromImage",
      "imageReference": {"id": "/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.2582.240703"}},
      "securityProfile": {"securityType": "TrustedLaunch"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/disks/disk1000004?api-version=2023-04-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk1000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/disks/disk1000004\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"northeurope\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n\
        \  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"\
        creationData\": {\r\n      \"createOption\": \"FromImage\",\r\n      \"imageReference\"\
        : {\r\n        \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.2582.240703\"\
        \r\n      }\r\n    },\r\n    \"securityProfile\": {\r\n      \"securityType\"\
        : \"TrustedLaunch\"\r\n    },\r\n    \"provisioningState\": \"Updating\"\r\
        \n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/DiskOperations/d2cf21d0-f104-4894-b1ff-a95adc5cd6af?p=4cbf85b8-e2b8-4aec-b8e4-074490a0ba02&api-version=2023-04-02&t=638584477268454385&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/DiskOperations/d2cf21d0-f104-4894-b1ff-a95adc5cd6af?p=4cbf85b8-e2b8-4aec-b8e4-074490a0ba02&api-version=2023-04-02&t=638584477268454385&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/disks/disk1000004?api-version=2023-04-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk1000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/disks/disk1000004\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"northeurope\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n\
        \    \"tier\": \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"osType\"\
        : \"Windows\",\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"supportsHibernation\"\
        : true,\r\n    \"supportedCapabilities\": {\r\n      \"diskControllerTypes\"\
        : \"SCSI, NVMe\",\r\n      \"acceleratedNetwork\": true,\r\n      \"architecture\"\
        : \"x64\"\r\n    },\r\n    \"creationData\": {\r\n      \"createOption\":\
        \ \"FromImage\",\r\n      \"imageReference\": {\r\n        \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.2582.240703\"\
        \r\n      }\r\n    },\r\n    \"diskSizeGB\": 30,\r\n    \"diskIOPSReadWrite\"\
        : 120,\r\n    \"diskMBpsReadWrite\": 25,\r\n    \"encryption\": {\r\n    \
        \  \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"networkAccessPolicy\"\
        : \"AllowAll\",\r\n    \"securityProfile\": {\r\n      \"securityType\": \"\
        TrustedLaunch\"\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n\
        \    \"timeCreated\": \"2024-08-05T09:42:06.6584804+00:00\",\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\"\
        : 32212254720,\r\n    \"uniqueId\": \"d5952398-8817-46a5-be6d-64ab6f66abf3\"\
        ,\r\n    \"tier\": \"P4\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;14998,Microsoft.Compute/LowCostGet30Min;119994
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"40c49ff3-c6ae-436d-b28e-b8e268841980","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"38808189-fa7a-4d8a-807f-eba01edacca6","roleDefinitionId":"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"dnsResolvers","locations":["West
        Central US","East US 2","West Europe","North Europe","Australia East","UK
        South","South Central US","East US","North Central US","West US 2","West US
        3","Southeast Asia","Central India","Canada Central","Central US","France
        Central","Japan East","Germany West Central","South Africa North","Korea Central","Sweden
        Central","East Asia","Switzerland North","Brazil South","West US","Norway
        East","UAE North","Australia Southeast","Canada East","Japan West","Italy
        North","Israel Central","Uk West","South India","Spain Central","Mexico Central","Qatar
        Central","Poland Central","Central US EUAP","East US 2 EUAP"],"apiVersions":["2023-07-01-preview","2023-07-01","2022-07-01","2020-04-01-preview"],"defaultApiVersion":"2020-04-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"dnsResolvers/inboundEndpoints","locations":["West
        Central US","East US 2","West Europe","North Europe","Australia East","UK
        South","South Central US","East US","North Central US","West US 2","West US
        3","Southeast Asia","Central India","Canada Central","Central US","France
        Central","Japan East","Germany West Central","South Africa North","Korea[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1?api-version=2024-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/vnet1''
        under resource group ''cli_test_trusted_launch_on_v2_000001'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2024-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/vnet1''
        under resource group ''cli_test_trusted_launch_on_v2_000001'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks", "location":
      "northeurope", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm1000002NSG", "apiVersion": "2015-06-15", "location": "northeurope",
      "tags": {}, "dependsOn": []}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm1000002PublicIP", "location": "northeurope", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm1000002VMNic", "location": "northeurope", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vnet1", "Microsoft.Network/networkSecurityGroups/vm1000002NSG",
      "Microsoft.Network/publicIpAddresses/vm1000002PublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigvm1000002", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/publicIPAddresses/vm1000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkSecurityGroups/vm1000002NSG"}}},
      {"apiVersion": "2024-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1000002", "location": "northeurope", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "attach", "osType": "windows", "managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/disks/disk1000004"}}},
      "securityProfile": {"securityType": "TrustedLaunch", "uefiSettings": {"secureBootEnabled":
      true, "vTpmEnabled": true}}}}], "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Resources/deployments/vm_deploy_wbei0GZYu2cpkzRg8iagS5sz1ThgK6zg","name":"vm_deploy_wbei0GZYu2cpkzRg8iagS5sz1ThgK6zg","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6113085318369499005","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-08-05T09:43:07.6503666Z","duration":"PT0.0007261S","correlationId":"ea851671-5889-4b03-bbd6-9c5abd2dc1bb","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["northeurope"]},{"resourceType":"networkSecurityGroups","locations":["northeurope"]},{"resourceType":"publicIPAddresses","locations":["northeurope"]},{"resourceType":"networkInterfaces","locations":["northeurope"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["northeurope"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkSecurityGroups/vm1000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/publicIPAddresses/vm1000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584787559046564149?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/virtualMachines/vm1000002?$expand=instanceView&api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/virtualMachines/vm1000002\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"northeurope\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\"\
        : {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"vmId\": \"70390826-28e1-4f14-bcba-7b28e4b92049\"\
        ,\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Windows\",\r\n        \"name\": \"disk1000004\",\r\n        \"createOption\"\
        : \"Attach\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\"\
        : {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/disks/disk1000004\"\
        \r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": [],\r\n      \"diskControllerType\"\
        : \"SCSI\"\r\n    },\r\n    \"securityProfile\": {\r\n      \"uefiSettings\"\
        : {\r\n        \"secureBootEnabled\": true,\r\n        \"vTpmEnabled\": true\r\
        \n      },\r\n      \"securityType\": \"TrustedLaunch\"\r\n    },\r\n    \"\
        networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic\"\
        }]},\r\n    \"instanceView\": {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\"\
        : \"Unknown\",\r\n        \"statuses\": [\r\n          {\r\n            \"\
        code\": \"ProvisioningState/Unavailable\",\r\n            \"level\": \"Warning\"\
        ,\r\n            \"displayStatus\": \"Not Ready\",\r\n            \"message\"\
        : \"VM status blob is found but not yet populated.\",\r\n            \"time\"\
        : \"2024-08-05T09:44:17+00:00\"\r\n          }\r\n        ]\r\n      },\r\n\
        \      \"disks\": [\r\n        {\r\n          \"name\": \"disk1000004\",\r\
        \n          \"statuses\": [\r\n            {\r\n              \"code\": \"\
        ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\n \
        \             \"displayStatus\": \"Provisioning succeeded\",\r\n         \
        \     \"time\": \"2024-08-05T09:43:37.6110837+00:00\"\r\n            }\r\n\
        \          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V2\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2024-08-05T09:43:48.8454969+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2024-08-05T09:43:34.7829521+00:00\"\
        \r\n  },\r\n  \"etag\": \"\\\"1\\\"\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23997,Microsoft.Compute/LowCostGetResource;33
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"d7bda417-81cb-44f8-b170-8ed0b0dcd6ab\\\"\",\r\n \
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"58480e99-bc76-40fb-9956-b6c845ec8f09\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1000002\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic/ipConfigurations/ipconfigvm1000002\"\
        ,\r\n        \"etag\": \"W/\\\"d7bda417-81cb-44f8-b170-8ed0b0dcd6ab\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/publicIPAddresses/vm1000002PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"hwklmayqteyevds2zvjjfql0sf.fx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"7C-1E-52-36-C6-EB\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\"\
        : false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkSecurityGroups/vm1000002NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Compute/virtualMachines/vm1000002\"\
        \r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\
        \n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"\
        auxiliaryMode\": \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\
        ,\r\n  \"location\": \"northeurope\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d7bda417-81cb-44f8-b170-8ed0b0dcd6ab"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/publicIPAddresses/vm1000002PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1000002PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/publicIPAddresses/vm1000002PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"89c49fd2-355b-42c2-84e0-394414256317\\\"\",\r\n \
        \ \"location\": \"northeurope\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\
        \n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"51755dea-ac03-48c9-8535-ec3206c54d61\"\
        ,\r\n    \"ipAddress\": \"13.69.198.246\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_trusted_launch_on_v2_000001/providers/Microsoft.Network/networkInterfaces/vm1000002VMNic/ipConfigurations/ipconfigvm1000002\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"89c49fd2-355b-42c2-84e0-394414256317"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
[...]
