interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_disk_update_000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001","name":"cli_test_disk_encryption_set_disk_update_000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2020-03-26T13:32:22Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"b5ed59e8-f00d-4396-af62-8297e36d8b52","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-12-03T09:04:15Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Xiaojian
        Xu","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"xiaojxu@microsoft.com","mailNickname":"xiaojxu_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["xiaojxu@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:xiaojxu@microsoft.com"],"refreshTokensValidFromDateTime":"2019-12-03T09:04:15Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/b5ed59e8-f00d-4396-af62-8297e36d8b52/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"xiaojxu_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-12-03T09:04:52Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2500335'
      ocp-aad-diagnostics-server-name:
      - sA30sLdaChah6lI2dGX65yIw0zBwQAV2/qyrKSByTvE=
      ocp-aad-session-key:
      - _mlUtdFNnXYfeBLDrUkfrLoOGbJahs7iMKCzL2aqtpQ_RNSCiLrzP9ONUSVIUbWnBfyRvPxon_HisQd7w0IsQeYNLJ56X2Uk8q0IRBGQCYvE_1eeqVXgG2zR-k9j12nC.jNlr3wr8rT5AjlfU3UPJ2MD-SdyXMUg6cnu3c4IUVDM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "b5ed59e8-f00d-4396-af62-8297e36d8b52",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization":
      false, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow", "ipRules": [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002","name":"vault3-000002","type":"Microsoft.KeyVault/vaults","location":"westcentralus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"b5ed59e8-f00d-4396-af62-8297e36d8b52","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"enablePurgeProtection":true,"vaultUri":"https://vault3-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1166'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault3-000002.vault.azure.net/keys/key-000003/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault3-000002.vault.azure.net/keys/key-000003/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault3-000002.vault.azure.net/keys/key-000003/17f48991df544d2b82cda566725ee751","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wmfXLgGngSWSJAyztb7-fNNba7-armIDg7_O-xnzmETduXwBDh9S1IeQPekbV9e1VA972DvVvz94Q0oQwWamCOVzL0-B0ct8_4ZteZexkHzHQMTuOcasKpteHMg_HXjUJYivNCQB3LsnUOJ86k0hDztFvdczjY-Z9uhrA-fmG_R0gDNMxGoemKn3T3nPlBSgVV9daMMik4DZkAA5vI9sNWYgE9UThWuZfh-ge4IIAuiMpSiv5VddVxV9GvR7miP19c5fVo8xwAyMd5KM-JQuAVfYBaFgk_fDf74i8juRWl_bDxqQ8TmT3OWo_jgbn6mvA5qTmQnqJyD5ZKzt7IgHHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1585229593,"updated":1585229593,"recoveryLevel":"Recoverable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "westcentralus", "identity": {"type": "SystemAssigned"},
      "properties": {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002"},
      "keyUrl": "https://vault3-000002.vault.azure.net/keys/key-000003/17f48991df544d2b82cda566725ee751"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"identity\": {\r\n    \"type\":
        \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n
        \     \"sourceVault\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002\"\r\n
        \     },\r\n      \"keyUrl\": \"https://vault3-000002.vault.azure.net/keys/key-000003/17f48991df544d2b82cda566725ee751\"\r\n
        \   },\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/0fe80b6c-1c2d-4fc9-be80-d9db764d239e?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostDiskEncryptionSet3Min;99,Microsoft.Compute/HighCostDiskEncryptionSet30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1176'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/0fe80b6c-1c2d-4fc9-be80-d9db764d239e?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-03-26T13:33:22.3889553+00:00\",\r\n  \"endTime\":
        \"2020-03-26T13:33:22.4358471+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"name\":\"des1-000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004\",\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"westcentralus\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"8961b7d8-91a8-4e6a-8ac8-bb06b4caafca\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"},\"properties\":{\"activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002\"},\"keyUrl\":\"https://vault3-000002.vault.azure.net/keys/key-000003/17f48991df544d2b82cda566725ee751\"},\"type\":\"EncryptionAtRestWithCustomerKey\",\"provisioningState\":\"Succeeded\"}}\r\n
        \ },\r\n  \"name\": \"0fe80b6c-1c2d-4fc9-be80-d9db764d239e\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49998,Microsoft.Compute/GetOperation30Min;399993
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"des1-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.KeyVault/vaults/azureclitest-vault","name":"azureclitest-vault","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-00[...]
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "b5ed59e8-f00d-4396-af62-8297e36d8b52",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "res[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"Lets
        you view everything, but not make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2019-02-05T21:24:35.7424745Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%278961b7d8-91a8-4e6a-8ac8-bb06b4caafca%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2474670'
      ocp-aad-diagnostics-server-name:
      - wlXKSWPKBJqnDPw4tJE6WR98UWoP1ie6t2ef6SWVYX8=
      ocp-aad-session-key:
      - WG7ZKU3XfzzEvf6lIQzIZKsyOGh27oew6xJV2nEwX-LoXK2ZGuU6m_Qk5cd8-78ayv6PoM_XMVrSClUmDiWHT6j1QCiMM34-fQlMg4j5hPlK9dHB7a8oPh1dTZqF4hCf.iNI9UDcf1YmhrVPdmsfbqGQ1bR5h8Xvg6gt_1o0EwDE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["8961b7d8-91a8-4e6a-8ac8-bb06b4caafca"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"8961b7d8-91a8-4e6a-8ac8-bb06b4caafca","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004"],"appDisplayName":null,"appId":"b3b435f1-a6cf-4b67-b564-c0b45d7c8e6a","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"des1-000004","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"971B02A3C51FAD9FFA610B263DDF459DE3E4AEF3","endDate":"2020-06-24T13:28:00Z","keyId":"375c622d-7614-433d-966f-3745cd6e8848","startDate":"2020-03-26T13:28:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["b3b435f1-a6cf-4b67-b564-c0b45d7c8e6a","https://identity.azure.net/AIVXx2292HcnujjYeYF6wcixFYBjhMv2OMRw0bzTH70="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4521693'
      ocp-aad-diagnostics-server-name:
      - cQ8uB4IS1LgZ4Oy2RjJLTdo0AEOIgVfVV0c2RuOHYvQ=
      ocp-aad-session-key:
      - atuYc9cS6uqY5EBh6dCUEG3Q48p_xyI3EuqFZBitq4BeMttLyZh6flmMn9fEZsf3PrChh6HsWs7tDeZFoeSXdC2oKOl9ZMRUuclL59_B3tPDXlluIS3UGsDzUg9lRzPt.1Z7cDHSF2S3JK7-d92QcqKBLEuZOcxP-l-VELVagO5A
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "8961b7d8-91a8-4e6a-8ac8-bb06b4caafca"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"8961b7d8-91a8-4e6a-8ac8-bb06b4caafca","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002","createdOn":"2020-03-26T13:34:15.5509423Z","updatedOn":"2020-03-26T13:34:15.5509423Z","createdBy":null,"updatedBy":"b5ed59e8-f00d-4396-af62-8297e36d8b52"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.KeyVault/vaults/vault3-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1169'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 10}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute/disks/disk-000005?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"disk-000005\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n
        \ \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\":
        {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 10,\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/1153d94f-898e-47e2-b591-2861a84afcb2?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/1153d94f-898e-47e2-b591-2861a84afcb2?monitor=true&api-version=2019-07-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1172'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/1153d94f-898e-47e2-b591-2861a84afcb2?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-03-26T13:34:42.9985158+00:00\",\r\n  \"endTime\":
        \"2020-03-26T13:34:43.1547969+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk-000005\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute/disks/disk-000005\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\":
        25,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"timeCreated\": \"2020-03-26T13:34:42.9985158+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
        \   \"diskSizeBytes\": 10737418240,\r\n    \"uniqueId\": \"2331aaf4-90c0-4e55-9089-263895f3ef8e\"\r\n
        \ }\r\n}\r\n  },\r\n  \"name\": \"1153d94f-898e-47e2-b591-2861a84afcb2\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49997,Microsoft.Compute/GetOperation30Min;399992
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "westcentralus", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 10, "diskIOPSReadWrite": 120, "diskMBpsReadWrite": 25, "encryption":
      {"diskEncryptionSetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004",
      "type": "EncryptionAtRestWithCustomerKey"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_disk_update_000001/providers/Microsoft.Compute[...]
[...]
