interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001","name":"cli_test_os_disk_security_encryption000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2023-03-13T11:29:08Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/vault000002''
        under resource group ''cli_test_os_disk_security_encryption000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"azureclilivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","id":"6b30bdc6-696a-46fb-82d7-739c2fb147b7"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"BL02EPF0000C8F6"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002","name":"vault000002","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-13T11:29:12.491Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-13T11:29:12.491Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://vault000002.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault000002.vault.azure.net/keys/key000003/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault000002.vault.azure.net/keys/key000003/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://vault000002.vault.azure.net/keys/key000003/90bbcc1586374047936f7535240d31ec","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wtdJd76E2BteBKjozvrfoqr-pYmxTYlgy6LUF7m44uQj9_kvc0VaEXTAAH6WNuLJd5zSs_9TqxkjWacYc0UKrcN8Rb8ilAJfD74oh4hkTXxCQzh03shIcB1i9NwVATEELmomJ2Lt1c9Prvvnv0irY7WNSfl4hpa5sKk5Pt9ZcDkwrXoIfjdehnDkmahkf-Cg38_dUfMzUxVx7SAgICScSofcPtVrGSM1m2c91FE-p_2JS_rQMVFwSC6EpUDJFrU5v3c9OAOpY2ZrrQ4z7hplYe_7eC6nRI6gqyfXsVjPjhgi3jzYGRQ0kdanrI4M2PQxAzaQhL6UYtcqHorXTWQKFQ","e":"AQAB"},"attributes":{"enabled":true,"created":1678706986,"updated":1678706986,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "identity": {"type": "SystemAssigned"}, "properties":
      {"encryptionType": "ConfidentialVmEncryptedWithCustomerKey", "activeKey": {"sourceVault":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002"},
      "keyUrl": "https://vault000002.vault.azure.net/keys/key000003/90bbcc1586374047936f7535240d31ec"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"location\": \"northeurope\",\r\n  \"identity\": {\r\n    \"type\":
        \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n
        \     \"sourceVault\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002\"\r\n
        \     },\r\n      \"keyUrl\": \"https://vault000002.vault.azure.net/keys/key000003/90bbcc1586374047936f7535240d31ec\"\r\n
        \   },\r\n    \"encryptionType\": \"ConfidentialVmEncryptedWithCustomerKey\",\r\n
        \   \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/DiskOperations/ca58c720-a211-4fbf-b6a5-9aef515a7dfd?p=4cbf85b8-e2b8-4aec-b8e4-074490a0ba02&api-version=2022-03-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/DiskOperations/ca58c720-a211-4fbf-b6a5-9aef515a7dfd?p=4cbf85b8-e2b8-4aec-b8e4-074490a0ba02&monitor=true&api-version=2022-03-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateHighCostDiskEncryptionSet3Min;99,Microsoft.Compute/CreateUpdateHighCostDiskEncryptionSet30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/DiskOperations/ca58c720-a211-4fbf-b6a5-9aef515a7dfd?p=4cbf85b8-e2b8-4aec-b8e4-074490a0ba02&api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-03-13T11:29:50.4367127+00:00\",\r\n  \"endTime\":
        \"2023-03-13T11:29:50.4835968+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"name\":\"des1000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004\",\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"northeurope\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"0e15d53a-7f24-44a3-ac6c-9fb527111616\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"},\"properties\":{\"activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002\"},\"keyUrl\":\"https://vault000002.vault.azure.net/keys/key000003/90bbcc1586374047936f7535240d31ec\"},\"encryptionType\":\"ConfidentialVmEncryptedWithCustomerKey\",\"provisioningState\":\"Succeeded\"}}\r\n
        \ },\r\n  \"name\": \"ca58c720-a211-4fbf-b6a5-9aef515a7dfd\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49998,Microsoft.Compute/GetOperation30Min;399998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"des1000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Co[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-KV-230308161009840304/providers/Microsoft.KeyVault/vaults/acc230308161009840304","name":"acc230308161009840304","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{"environment":"Production"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azpslrg0xijkzgcca/providers/Microsoft.KeyVault/vaults/azpsl3dw6hq6iz5","name":"azpsl3dw6hq6iz5","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azpslrg1t7mfr5vrn/providers/Microsoft.KeyVault/vaults/azpsl4iukpxg4ww","name":"azpsl4iukpxg4ww","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subsc[...]
[...]
- request:
    body: '{"location": "northeurope", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "0e15d53[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%270e15d53a-7f24-44a3-ac6c-9fb527111616%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"BL02EPF0000C926"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["0e15d53a-7f24-44a3-ac6c-9fb527111616"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"0e15d53a-7f24-44a3-ac6c-9fb527111616","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004"],"appDisplayName":null,"appDescription":null,"appId":"0e19219c-8548-41da-89a0-8df5f8a488af","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2023-03-13T11:29:49Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"des1000004","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["0e19219c-8548-41da-89a0-8df5f8a488af","https://identity.azure.net/W43purKsW5hFcL2SH9dVhpY9GJnT/sWyPWro1QuBtjE="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"9F31E532FE37B4A80ADA99C89CCC38B6AB90AB1C","displayName":"CN=0e19219c-8548-41da-89a0-8df5f8a488af,
        DC=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","endDateTime":"2023-06-11T11:24:00Z","key":null,"keyId":"718a7702-d6ff-4c36-b239-2c85bd0851d8","startDateTime":"2023-03-13T11:24:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"BL02EPF000025FD"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"View
        all resources, but does not allow you to make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:47.8628684Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "0e15d53a-7f24-44a3-ac6c-9fb527111616", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"0e15d53a-7f24-44a3-ac6c-9fb527111616","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002","condition":null,"conditionVersion":null,"createdOn":"2023-03-13T11:30:38.6922197Z","updatedOn":"2023-03-13T11:30:39.2972304Z","createdBy":null,"updatedBy":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"northeurope\",\r\n    \"name\": \"20348.1547.230207\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.1547.230207\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions/20348.1547.230207?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n
        \   \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\":
        \"SecurityType\",\r\n        \"value\": \"TrustedLaunchAndConfidentialVmSupported\"\r\n
        \     },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n
        \       \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInGb\":
        30\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"northeurope\",\r\n
        \ \"name\": \"20348.1547.230207\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.1547.230207\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm1000005VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "northeurope", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm1000005Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm1000005NSG", "apiVersion":
      "2015-06-15", "location": "northeurope", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "rdp", "properties": {"protocol": "Tcp", "sourcePortRange":
      "*", "destinationPortRange": "3389", "sourceAddressPrefix": "*", "destinationAddressPrefix":
      "*", "access": "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vm1000005PublicIP",
      "location": "northeurope", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm1000005VMNic", "location": "northeurope", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vm1000005VNET", "Microsoft.Network/networkSecurityGroups/vm1000005NSG",
      "Microsoft.Network/publicIpAddresses/vm1000005PublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigvm1000005", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/virtualNetworks/vm1000005VNET/subnets/vm1000005Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/publicIPAddresses/vm1000005PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/networkSecurityGroups/vm1000005NSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1000005", "location": "northeurope", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1000005VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DC2as_v5"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/networkInterfaces/vm1000005VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null, "securityProfile": {"securityEncryptionType": "DiskWithVMGuestState",
      "diskEncryptionSet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004"}}}},
      "imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2022-datacenter-smalldisk-g2", "version": "latest"}}, "osProfile": {"computerName":
      "vm1000005", "adminUsername": "testuser", "adminPassword": "[parameters(''adminPassword'')]"},
      "securityProfile": {"securityType": "ConfidentialVM", "uefiSettings": {"secureBootEnabled":
      true, "vTpmEnabled": true}}}}], "outputs": {}}, "parameters": {"adminPassword":
      {"value": "testPassword0"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Resources/deployments/vm_deploy_QzQi89sJ6scWWajWAFpcirEcBfTtvp2S","name":"vm_deploy_QzQi89sJ6scWWajWAFpcirEcBfTtvp2S","type":"Microsoft.Resources/deployments","properties":{"templateHash":"9238721144125981189","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-03-13T11:30:48.206678Z","duration":"PT0.0005956S","correlationId":"34293515-ef12-4e6f-a09e-fd1e30ea5e34","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["northeurope"]},{"resourceType":"networkSecurityGroups","locations":["northeurope"]},{"resourceType":"publicIPAddresses","locations":["northeurope"]},{"resourceType":"networkInterfaces","locations":["northeurope"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["northeurope"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/virtualNetworks/vm1000005VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1000005VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/networkSecurityGroups/vm1000005NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1000005NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/publicIPAddresses/vm1000005PublicIP","resourceType":"Microsoft.Networ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585228998386523919?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/virtualMachines/vm1000005?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/virtualMachines/vm1000005\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"northeurope\",\r\n
[...]
