interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vm_redeploy_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001","name":"test_vm_redeploy_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-09-28T12:14:26Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Debian\": {\n            \"publisher\":
        \"Debian\",\n            \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n
        \           \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"opensuse-leap-15-3\",\n            \"sku\":
        \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"RHEL\": {\n            \"publisher\": \"RedHat\",\n
        \           \"offer\": \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"SLES\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"sles-15-sp3\",\n
        \           \"sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"sku\":
        \"18.04-LTS\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        },\n        \"Windows\": {\n          \"Win2022Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-Datacenter\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2016Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2016-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2008-R2-SP1\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        }\n      }\n    }\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"41b202f4dc5098d126019dc00721a4c5e30df0c5196794514fadc3710ee2a5cb"
      source-age:
      - '134'
      x-fastly-request-id:
      - 414a7bb9aca9a6d68091c73e5807fa92fb0f0e7a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions?$top=1&$orderby=name%20desc&api-version=2022-08-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"0.20220911.1135\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20220911.1135\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43971
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions/0.20220911.1135?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 30,\r\n
        \     \"sizeInBytes\": 32212255232\r\n    },\r\n    \"dataDiskImages\": []\r\n
        \ },\r\n  \"location\": \"westus\",\r\n  \"name\": \"0.20220911.1135\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20220911.1135\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73985
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Storage/storageAccounts?api-version=2022-05-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "vhdstorage3e296c061a7f77",
      "apiVersion": "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"accountType": "Premium_LRS"}}, {"name": "myvmVNET", "type":
      "Microsoft.Network/virtualNetworks", "location": "westus", "apiVersion": "2015-06-15",
      "dependsOn": [], "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"name": "myvmSubnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups", "name":
      "myvmNSG", "apiVersion": "2015-06-15", "location": "westus", "tags": {}, "dependsOn":
      []}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "myvmPublicIP", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "myvmVMNic", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/myvmVNET",
      "Microsoft.Network/networkSecurityGroups/myvmNSG", "Microsoft.Network/publicIpAddresses/myvmPublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigmyvm", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/virtualNetworks/myvmVNET/subnets/myvmSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/publicIPAddresses/myvmPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkSecurityGroups/myvmNSG"}}},
      {"apiVersion": "2022-08-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "myvm", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstorage3e296c061a7f77",
      "Microsoft.Network/networkInterfaces/myvmVMNic"], "properties": {"hardwareProfile":
      {"vmSize": "Standard_DS1_v2"}, "networkProfile": {"networkInterfaces": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": "osdisk_3e296c061a", "caching": "ReadWrite", "vhd": {"uri":
      "https://vhdstorage3e296c061a7f77.blob.core.windows.net/vhds/osdisk_3e296c061a.vhd"}},
      "imageReference": {"publisher": "Debian", "offer": "debian-10", "sku": "10",
      "version": "latest"}}, "osProfile": {"computerName": "myvm", "adminUsername":
      "ubuntu", "adminPassword": "[parameters(''adminPassword'')]"}}}], "outputs":
      {}}, "parameters": {"adminPassword": {"value": "testPassword0"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vm_redeploy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Resources/deployments/vm_deploy_Vky9cyKgQiEWTVxCBfXrIb3p4azpEVTD","name":"vm_deploy_Vky9cyKgQiEWTVxCBfXrIb3p4azpEVTD","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2535814490646456482","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-09-28T12:14:30.0331858Z","duration":"PT0.0004973S","correlationId":"0f1161ff-1524-4c30-afbc-8e6030c98b8a","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/virtualNetworks/myvmVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"myvmVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkSecurityGroups/myvmNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"myvmNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/publicIPAddresses/myvmPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"myvmPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"myvmVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Storage/storageAccounts/vhdstorage3e296c061a7f77","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"vhdstorage3e296c061a7f77"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"myvmVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Compute/virtualMachines/myvm","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"myvm"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vm_redeploy_000001/providers/Microsoft.Resources/deployments/vm_deploy_Vky9cyKgQiEWTVxCBfXrIb3p4azpEVTD/operationStatuses/08585372396165826938?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1160'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vm_redeploy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585372396165826938?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vm_redeploy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Resources/deployments/vm_deploy_Vky9cyKgQiEWTVxCBfXrIb3p4azpEVTD","name":"vm_depl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Compute/virtualMachines/myvm?$expand=instanceView&api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"myvm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Compute/virtualMachines/myvm\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"cdafbe49-bdfd-447e-b265-171b652a5f70\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Debian\",\r\n        \"offer\": \"debian-10\",\r\n        \"sku\": \"10\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"0.20220911.1135\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"osdisk_3e296c061a\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\":
        {\r\n          \"uri\": \"https://vhdstorage3e296c061a7f77.blob.core.windows.net/vhds/osdisk_3e296c061a.vhd\"\r\n
        \       },\r\n        \"caching\": \"ReadWrite\",\r\n        \"deleteOption\":
        \"Detach\",\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"myvm\",\r\n
        \     \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n
        \       \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n
        \         \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"myvm\",\r\n      \"osName\": \"debian\",\r\n      \"osVersion\": \"10.13\",\r\n
        \     \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.45\",\r\n        \"statuses\":
        [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2022-09-28T12:15:31+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"osdisk_3e296c061a\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2022-09-28T12:14:55.1412292+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2022-09-28T12:15:28.6882673+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2022-09-28T12:14:54.6256012+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3944,Microsoft.Compute/LowCostGet30Min;31061
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"myvmVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic\",\r\n
        \ \"etag\": \"W/\\\"81c8b536-6b8a-42be-805d-e42e22ebfaef\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"d47e39be-e548-4431-b39b-34105ba397dd\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigmyvm\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic/ipConfigurations/ipconfigmyvm\",\r\n
        \       \"etag\": \"W/\\\"81c8b536-6b8a-42be-805d-e42e22ebfaef\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/publicIPAddresses/myvmPublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/virtualNetworks/myvmVNET/subnets/myvmSubnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"pjvgkdcvxbtulb2gkvilek0i1h.dx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-22-48-06-CA-0A\",\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
        false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkSecurityGroups/myvmNSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Compute/virtualMachines/myvm\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"westus\",\r\n
        \ \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"81c8b536-6b8a-42be-805d-e42e22ebfaef"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/publicIPAddresses/myvmPublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"myvmPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/publicIPAddresses/myvmPublicIP\",\r\n
        \ \"etag\": \"W/\\\"d113fab5-f0c1-430f-b9b8-7dd49f80d76d\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"f02687e2-011c-46fb-b6c8-f489ec32b2e8\",\r\n
        \   \"ipAddress\": \"20.253.222.195\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Network/networkInterfaces/myvmVMNic/ipConfigurations/ipconfigmyvm\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d113fab5-f0c1-430f-b9b8-7dd49f80d76d"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Compute/virtualMachines/myvm/reapply?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/54b50098-5900-4ec6-9bd1-99224156bcc1?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-08-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/54b50098-5900-4ec6-9bd1-99224156bcc1?p=571046f6-b640-41c1-86f7-f9f044b5adf9&monitor=true&api-version=2022-08-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1186
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/54b50098-5900-4ec6-9bd1-99224156bcc1?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-09-28T12:16:02.6103052+00:00\",\r\n  \"endTime\":
        \"2022-09-28T12:16:07.6572124+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"54b50098-5900-4ec6-9bd1-99224156bcc1\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14957,Microsoft.Compute/GetOperation30Min;29319
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/54b50098-5900-4ec6-9bd1-99224156bcc1?p=571046f6-b640-41c1-86f7-f9f044b5adf9&monitor=true&api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14956,Microsoft.Compute/GetOperation30Min;29318
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vm_redeploy_000001/providers/Microsoft.Compute/virtualMachines/myvm/redeploy?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/ab140a3e-d704-4c63-b2f5-a266b5b281ac?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-08-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/ab140a3e-d704-4c63-b2f5-a266b5b281ac?p=571046f6-b640-41c1-86f7-f9f044b5adf9&monitor=true&api-version=2022-08-01
      x-ms-ratelimit-remaining-resource:
[...]
