interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/publishers/RedHat/artifacttypes/vmimage/offers/RHEL/skus/7-RAW/versions/7.4.2018010506?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"architecture\": \"x64\",\r\n    \"replicaType\":
        \"Unmanaged\",\r\n    \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"Active\"\r\n    },\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\":
        \"Linux\",\r\n      \"sizeInGb\": 32,\r\n      \"sizeInBytes\": 34359738880\r\n
        \   },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"northeurope\",\r\n
        \ \"name\": \"7.4.2018010506\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/RedHat/ArtifactTypes/VMImage/Offers/RHEL/Skus/7-RAW/Versions/7.4.2018010506\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73993
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/vmSizes?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_NC4as_T4_v3\",\r\n
        \     \"numberOfCores\": 4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        180224,\r\n      \"memoryInMB\": 28672,\r\n      \"maxDataDiskCount\": 8\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_NC8as_T4_v3\",\r\n      \"numberOfCores\":
        8,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        360448,\r\n      \"memoryInMB\": 57344,\r\n      \"maxDataDiskCount\": 16\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_NC16as_T4_v3\",\r\n      \"numberOfCores\":
        16,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        360448,\r\n      \"memoryInMB\": 11[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "Delete_CLI1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "northeurope", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "Delete_CLI1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "Delete_CLI1NSG", "apiVersion":
      "2015-06-15", "location": "northeurope", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "Delete_CLI1VMNic", "location": "northeurope", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/Delete_CLI1VNET", "Microsoft.Network/networkSecurityGroups/Delete_CLI1NSG"],
      "properties": {"ipConfigurations": [{"name": "ipconfigDelete_CLI1", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/Delete_CLI1VNET/subnets/Delete_CLI1Subnet"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/Delete_CLI1NSG"}}},
      {"apiVersion": "2022-08-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "Delete_CLI1", "location": "northeurope", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/Delete_CLI1VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_E8as_v4"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/Delete_CLI1VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}, "diskSizeGb": 64}, "imageReference": {"publisher": "RedHat", "offer":
      "RHEL", "sku": "7-RAW", "version": "7.4.2018010506"}, "dataDisks": [{"lun":
      0, "managedDisk": {"storageAccountType": null}, "createOption": "empty", "diskSizeGB":
      200, "deleteOption": "Delete"}]}, "osProfile": {"computerName": "DeleteCLI1",
      "adminUsername": "vmtest", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPkEL+zs97zqGr/+XGpq6LXCJWH5jePFTi5nW/ojQD5vdzI63sGc6kkwj2yUlS5o9sk7md+rZtK4AOptyhzhYQPVaRoG0icd+G65bnGbJXD6n9axbY+FCcmqCwu0DXzHQYMO0EniVx2EPHlQsEqSfChXqPQGPzvpLSXRsAzFC06myQT0MKeYgDFPNzxa3AuwsnjcgFoUk0sJ8tAm6BfxL1YXyV97rBEJzMR9vXT15Rrey0JQD5vWZ/c7gmK0T3vTXzEohsuibly3AvNUqykRQEoVI6Sl6gR+7VEmcLkZ+Pn0WynImnrfdtkg8smtM3gUdtY5FFiH9l1Y88BfdASFYJ",
      "path": "/home/vmtest/.ssh/authorized_keys"}]}}}}}], "outputs": {}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_9JR03Q9ylMxJPY0JXoDmKmvBquSYsMmN","name":"vm_deploy_9JR03Q9ylMxJPY0JXoDmKmvBquSYsMmN","type":"Microsoft.Resources/deployments","properties":{"templateHash":"12671819144969522287","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-01-28T13:22:28.3143458Z","duration":"PT0.0001346S","correlationId":"25852413-0b23-4329-b34f-2fe137c1d2e0","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["northeurope"]},{"resourceType":"networkSecurityGroups","locations":["northeurope"]},{"resourceType":"networkInterfaces","locations":["northeurope"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["northeurope"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/Delete_CLI1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"Delete_CLI1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/Delete_CLI1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"Delete_CLI1NSG"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/Delete_CLI1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"Delete_CLI1VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/Delete_CLI1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"Delete_CLI1VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/Delete_CLI1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"Delete_CLI1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_9JR03Q9ylMxJPY0JXoDmKmvBquSYsMmN/operationStatuses/08585266947385604948?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1179'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585266947385604948?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_9JR03Q9ylMxJPY0JXoDmKmvBquSYsMmN","name":"vm_deploy_9JR03Q9ylMx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/Delete_CLI1?$expand=instanceView&api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"Delete_CLI1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/Delete_CLI1\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"northeurope\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"0585361b-7e30-41ae-b369-f84fbd84c158\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_E8as_v4\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"RedHat\",\r\n        \"offer\": \"RHEL\",\r\n        \"sku\": \"7-RAW\",\r\n
        \       \"version\": \"7.4.2018010506\",\r\n        \"exactVersion\": \"7.4.2018010506\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"Delete_CLI1_OsDisk_1_c6baa46af82d438ea5e5cf9dfd7c57b6\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/Delete_CLI1_OsDisk_1_c6baa46af82d438ea5e5cf9dfd7c57b6\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        64\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\":
        0,\r\n          \"name\": \"Delete_CLI1_disk2_9ed14b4bb2914438a119e14123e5c252\",\r\n
        \         \"createOption\": \"Empty\",\r\n          \"caching\": \"None\",\r\n
        \         \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\",\r\n
        \           \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/Delete_CLI1_disk2_9ed14b4bb2914438a119e14123e5c252\"\r\n
        \         },\r\n          \"deleteOption\": \"Delete\",\r\n          \"diskSizeGB\":
        200,\r\n          \"toBeDetached\": false\r\n        }\r\n      ]\r\n    },\r\n
        \   \"osProfile\": {\r\n      \"computerName\": \"DeleteCLI1\",\r\n      \"adminUsername\":
        \"vmtest\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/vmtest/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPkEL+zs97zqGr/+XGpq6LXCJWH5jePFTi5nW/ojQD5vdzI63sGc6kkwj2yUlS5o9sk7md+rZtK4AOptyhzhYQPVaRoG0icd+G65bnGbJXD6n9axbY+FCcmqCwu0DXzHQYMO0EniVx2EPHlQsEqSfChXqPQGPzvpLSXRsAzFC06myQT0MKeYgDFPNzxa3AuwsnjcgFoUk0sJ8tAm6BfxL1YXyV97rBEJzMR9vXT15Rrey0JQD5vWZ/c7gmK0T3vTXzEohsuibly3AvNUqykRQEoVI6Sl6gR+7VEmcLkZ+Pn0WynImnrfdtkg8smtM3gUdtY5FFiH9l1Y88BfdASFYJ\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n
        \         \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/Delete_CLI1VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"DeleteCLI1\",\r\n      \"osName\": \"redhat\",\r\n      \"osVersion\": \"7.4\",\r\n
        \     \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.9.0.4\",\r\n        \"statuses\":
        [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2023-01-28T13:23:33+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"Delete_CLI1_OsDisk_1_c6baa46af82d438ea5e5cf9dfd7c57b6\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-01-28T13:22:45.5304923+00:00\"\r\n
        \           }\r\n          ]\r\n        },\r\n        {\r\n          \"name\":
        \"Delete_CLI1_disk2_9ed14b4bb2914438a119e14123e5c252\",\r\n          \"statuses\":
        [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-01-28T13:22:45.5304923+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-01-28T13:23:30.2179486+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-01-28T13:22:39.2493397+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31990
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/Delete_CLI1VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"Delete_CLI1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/Delete_CLI1VMNic\",\r\n
        \ \"etag\": \"W/\\\"cc4afb11-1a98-4158-88e7-1851fec07bb8\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"4168c211-9203-43f6-a740-36d129cb4389\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigDelete_CLI1\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/Delete_CLI1VMNic/ipConfigurations/ipconfigDelete_CLI1\",\r\n
        \       \"etag\": \"W/\\\"cc4afb11-1a98-4158-88e7-1851fec07bb8\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/Delete_CLI1VNET/subnets/Delete_CLI1Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"vqv0tcao2eou3o0hxijwctzxrh.fx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-0D-3A-B6-13-C3\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/Delete_CLI1NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/Delete_CLI1\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"northeurope\",\r\n
        \ \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cc4afb11-1a98-4158-88e7-1851fec07bb8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/Delete_CLI1?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"Delete_CLI1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/Delete_CLI1\",\r\n
        \ \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T13:22:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Debian\": {\n            \"publisher\":
        \"Debian\",\n            \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n
        \           \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"opensuse-leap-15-3\",\n            \"sku\":
        \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"RHEL\": {\n            \"publisher\": \"RedHat\",\n
        \           \"offer\": \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"SLES\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"sles-15-sp3\",\n
        \           \"sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"sku\":
        \"18.04-LTS\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        },\n        \"Windows\": {\n          \"Win2022Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-Datacenter\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2016Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2016-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2008-R2-SP1\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        }\n      }\n    }\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"41b202f4dc5098d126019dc00721a4c5e30df0c5196794514fadc3710ee2a5cb"
      source-age:
      - '211'
      x-fastly-request-id:
      - e0941037a40b0086af551e9f8eb55cc518d0ae03
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions?$top=1&$orderby=name%20desc&api-version=2022-08-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"7.5.201808150\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43920
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions/7.5.201808150?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"osDiskImage\": {\r\n
        \     \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 30,\r\n      \"sizeInBytes\":
        32212255232\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\":
        \"westus\",\r\n  \"name\": \"7.5.201808150\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73931
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm1NSG", "apiVersion": "2015-06-15", "location": "westus", "tags":
      {}, "dependsOn": []}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm1PublicIP", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm1VMNic", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm1", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
[...]
