interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001","name":"cli_test_dedicated_host_000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2023-05-25T22:34:11Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "tags": {"foo": "bar"}, "properties": {"platformFaultDomainCount":
      3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_CHO4BCSD4MA2RLT3XFAEOYVWDGJA5GMSUB6VQ6UCORMPKH6HZ25/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "tags": {"foo": "bar"}, "properties": {"platformFaultDomainCount":
      3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host2-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_CHO4BCSD4MA2RLT3XFAEOYVWDGJA5GMSUB6VQ6UCORMPKH6HZ25/providers/Microsoft.Compute/hostGroups/my-host2-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;118,Microsoft.Compute/PutDeleteDedicatedHost30Min;598
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "tags": {"bar": "baz"}, "sku": {"name": "DSv3-Type1"},
      "properties": {"platformFaultDomain": 2, "autoReplaceOnFailure": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"bar\": \"baz\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        2,\r\n    \"autoReplaceOnFailure\": false,\r\n    \"hostId\": \"51df0a2e-468a-4d8b-a09c-099d74eddc2e\",\r\n
        \   \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2023-05-25T22:34:19.1999292+00:00\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/be6fe754-3379-4129-adf2-4198bc8e819b?p=86787c75-ed5e-4503-9048-66d86936d980&api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;117,Microsoft.Compute/PutDeleteDedicatedHost30Min;597
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/be6fe754-3379-4129-adf2-4198bc8e819b?p=86787c75-ed5e-4503-9048-66d86936d980&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-05-25T22:34:19.0749669+00:00\",\r\n  \"endTime\":
        \"2023-05-25T22:34:20.340565+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"be6fe754-3379-4129-adf2-4198bc8e819b\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"bar\": \"baz\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        2,\r\n    \"autoReplaceOnFailure\": false,\r\n    \"hostId\": \"51df0a2e-468a-4d8b-a09c-099d74eddc2e\",\r\n
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2023-05-25T22:34:20.1999459+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2023-05-25T22:34:19.1999292+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;198,Microsoft.Compute/GetDedicatedHost30Min;998
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {"bar": "baz"}, "sku": {"name": "DSv3-Type1"},
      "properties": {"platformFaultDomain": 2, "autoReplaceOnFailure": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group/hosts/my-host2?api-version=2024-07-01
  response:
    bo[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?$expand=instanceView&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"bar\": \"baz\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        2,\r\n    \"autoReplaceOnFailure\": false,\r\n    \"hostId\": \"51df0a2e-468a-4d8b-a09c-099d74eddc2e\",\r\n
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2023-05-25T22:34:20.1999459+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"assetId\":
        \"4fa4147c-d969-4378-bda6-45f7b2b35165\",\r\n      \"availableCapacity\":
        {\r\n        \"allocatableVMs\": [\r\n          {\r\n            \"vmSize\":
        \"Standard_D2s_v3\",\r\n            \"count\": 32\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D4s_v3\",\r\n            \"count\": 17\r\n
        \         },\r\n          {\r\n            \"vmSize\": \"Standard_D8s_v3\",\r\n
        \           \"count\": 8\r\n          },\r\n          {\r\n            \"vmSize\":
        \"Standard_D16s_v3\",\r\n            \"count\": 4\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D32s_v3\",\r\n            \"count\": 2\r\n
        \         },\r\n          {\r\n            \"vmSize\": \"Standard_D48s_v3\",\r\n
        \           \"count\": 1\r\n          },\r\n          {\r\n            \"vmSize\":
        \"Standard_D64s_v3\",\r\n            \"count\": 1\r\n          }\r\n        ]\r\n
        \     },\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-05-25T22:34:20.2155611+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"HealthState/available\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Host available\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-05-25T22:34:19.1999292+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;195,Microsoft.Compute/GetDedicatedHost30Min;995
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group/hosts/my-host2?$expand=instanceView&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Micros[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group?$expand=instanceView&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_CHO4BCSD4MA2RLT3XFAEOYVWDGJA5GMSUB6VQ6UCORMPKH6HZ25/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"hosts\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_CHO4BCSD4MA2RLT3XFAEOYVWDGJA5GMSUB6VQ6UCORMPKH6HZ25/providers/Microsoft.Compute/hostGroups/MY-HOST-GROUP/hosts/MY-HOST\"\r\n
        \     }\r\n    ],\r\n    \"supportAutomaticPlacement\": false,\r\n    \"instanceView\":
        {\r\n      \"hosts\": [\r\n        {\r\n          \"name\": \"my-host\",\r\n
        \         \"assetId\": \"4fa4147c-d969-4378-bda6-45f7b2b3516[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group?$expand=instanceView&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host2-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_CHO4BCSD4MA2RLT3XFAEOYVWDGJA5GMS[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions?$top=1&$orderby=name%20desc&api-version=2024-07-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus2\",\r\n    \"name\": \"0.20230222.1299\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20230222.1299\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions/0.20230222.1299?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 30,\r\n
        \     \"sizeInBytes\": 32212255232\r\n    },\r\n    \"dataDiskImages\": []\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"name\": \"0.20230222.1299\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20230222.1299\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/vmSizes?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_M208ms_v2\",\r\n
        \     \"numberOfCores\": 208,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4194304,\r\n      \"memoryInMB\": 5836800,\r\n      \"maxDataDiskCount\":
        64\r\n    },\r\n    {\r\n      \"name\": \"Standard_M208s_v2\",\r\n      \"numberOfCores\":
        208,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4194304,\r\n      \"memoryInMB\": 2918400,\r\n      \"maxDataDiskCount\":
        64\r\n    },\r\n    {\r\n      \"name\": \"Standard_M416-208s_v2\",\r\n      \"numberOfCores\":
        416,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        8388608,\r\n      \"memoryInMB\":[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "ded-host-vmVNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "ded-host-vmSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "ded-host-vmNSG", "apiVersion":
      "2015-06-15", "location": "westus2", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "ded-host-vmPublicIP",
      "location": "westus2", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "ded-host-vmVMNic", "location": "westus2", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/ded-host-vmVNET", "Microsoft.Network/networkSecurityGroups/ded-host-vmNSG",
      "Microsoft.Network/publicIpAddresses/ded-host-vmPublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigded-host-vm", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/virtualNetworks/ded-host-vmVNET/subnets/ded-host-vmSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/publicIPAddresses/ded-host-vmPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkSecurityGroups/ded-host-vmNSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "ded-host-vm", "location": "westus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/ded-host-vmVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_D4s_v3"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkInterfaces/ded-host-vmVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Debian", "offer": "debian-10", "sku":
      "10", "version": "latest"}}, "osProfile": {"computerName": "ded-host-vm", "adminUsername":
      "azureuser", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCs/i3lxwGxI+YVNYr4amHpKJDysk9+MptNWHI/LO3bjZcWNDz5M8P8kcvN2ihtiUET28dHk199I+9ElkHA7tPBqhziqQ9FUPRLwzYMGvg/Fcp695vQf/Ib4HJOHvuJq6mNZWRhBoj2W2QOKmhpMx+HClEkd5jbg5w8m2mb1LrXc7GPqg2AVhjPXprXp8ti20O3OhQW3Vupme95ETLCCwlWWumcE/LSX3z/xhC94VEAj7SuoV+I9UTpd8qcuz9uXrGhiJjH9iCPjEXV70lg9IlY0/lTuMCpUtO2arVOfH2ek6HBGTWZ9uk4uTaW7PObuy/IHZEFuHV5hpJ9M2UGD3VZ",
      "path": "/home/azureuser/.ssh/authorized_keys"}]}}}}}], "outputs": {}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/vm_deploy_2hrZBpYa647xnO0wrfiqoGzgpzd942IT","name":"vm_deploy_2hrZBpYa647xnO0wrfiqoGzgpzd942IT","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8664966156234770586","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-05-25T22:35:32.6027516Z","duration":"PT0.0009364S","correlationId":"22afe13b-ba54-42b7-95d8-c52cbaff373e","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus2"]},{"resourceType":"networkSecurityGroups","locations":["westus2"]},{"resourceType":"publicIPAddresses","locations":["westus2"]},{"resourceType":"networkInterfaces","locations":["westus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/virtualNetworks/ded-host-vmVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ded-host-vmVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkSecurityGroups/ded-host-vmNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"ded-host-vmNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/publicIPAddresses/ded-host-vmPublicIP","resourceType":"Microsoft.Network/publicIPAddres[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585165527545049519?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/vm_deploy_2hrZBpYa647xnO0wrfiqoGzgpzd942IT","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/virtualMachines/ded-host-vm?$expand=instanceView&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"ded-host-vm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/virtualMachines/ded-host-vm\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"9d27883f-5783-4477-9915-8d314a3b0ac1\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D4s_v3\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Debian\",\r\n        \"offer\": \"debian-10\",\r\n        \"sku\": \"10\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"0.20230222.1299\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"ded-host-vm_OsDisk_1_0dd2079909174dfead6cfa92a7a83992\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/disks/ded-host-vm_OsDisk_1_0dd2079909174dfead6cfa92a7a83992\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"ded-host-vm\",\r\n      \"adminUsername\":
        \"azureuser\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/azureuser/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCs/i3lxwGxI+YVNYr4amHpKJDysk9+MptNWHI/LO3bjZcWNDz5M8P8kcvN2ihtiUET28dHk199I+9ElkHA7tPBqhziqQ9FUPRLwzYMGvg/Fcp695vQf/Ib4HJOHvuJq6mNZWRhBoj2W2QOKmhpMx+HClEkd5jbg5w8m2mb1LrXc7GPqg2AVhjPXprXp8ti20O3OhQW3Vupme95ETLCCwlWWumcE/LSX3z/xhC94VEAj7SuoV+I9UTpd8qcuz9uXrGhiJjH9iCPjEXV70lg9IlY0/lTuMCpUtO2arVOfH2ek6HBGTWZ9uk4uTaW7PObuy/IHZEFuHV5hpJ9M2UGD3VZ\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n
        \         \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkInterfaces/ded-host-vmVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"ded-host-vm\",\r\n      \"osName\": \"debian\",\r\n      \"osVersion\":
        \"10.13\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.45\",\r\n
        \       \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2023-05-25T22:36:24+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"ded-host-vm_OsDisk_1_0dd2079909174dfead6cfa92a7a83992\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-05-25T22:35:45.7147781+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-05-25T22:36:19.5114161+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-05-25T22:35:41.5741794+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31997
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkInterfaces/ded-host-vmVMNic?api-version=2022-01-01
  response:
    body:
[...]
