interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_nics000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001","name":"cli_test_vmss_nics000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_nics","date":"2023-10-16T08:34:48Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\"\
        : {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"\
        type\": \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"\
        CentOS85Gen2\": {\n            \"publisher\":  \"OpenLogic\",\n          \
        \  \"offer\":  \"CentOS\",\n            \"sku\":  \"8_5-gen2\",\n        \
        \    \"version\":  \"latest\",\n            \"architecture\": \"x64\"\n  \
        \        },\n          \"Debian11\":  {\n            \"publisher\":  \"Debian\"\
        ,\n            \"offer\":  \"debian-11\",\n            \"sku\":  \"11-backports-gen2\"\
        ,\n            \"version\":  \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"FlatcarLinuxFreeGen2\":  {\n            \"\
        publisher\":  \"kinvolk\",\n            \"offer\":  \"flatcar-container-linux-free\"\
        ,\n            \"sku\":  \"stable-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          },\n          \"OpenSuseLeap154Gen2\"\
        :  {\n            \"publisher\":  \"SUSE\",\n            \"offer\":  \"openSUSE-leap-15-4\"\
        ,\n            \"sku\":  \"gen2\",\n            \"version\":  \"latest\",\n\
        \            \"architecture\": \"x64\"\n          },\n          \"RHELRaw8LVMGen2\"\
        :  {\n            \"publisher\":  \"RedHat\",\n            \"offer\":  \"\
        RHEL\",\n            \"sku\":  \"8-lvm-gen2\",\n            \"version\": \
        \ \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"SuseSles15SP3\": {\n            \"publisher\": \"SUSE\",\n       \
        \     \"offer\": \"sles-15-sp3\",\n            \"sku\": \"gen2\",\n      \
        \      \"version\": \"latest\",\n            \"architecture\": \"x64\"\n \
        \         },\n          \"Ubuntu2204\":  {\n            \"publisher\":  \"\
        Canonical\",\n            \"offer\":  \"0001-com-ubuntu-server-jammy\",\n\
        \            \"sku\":  \"22_04-lts-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          }\n        },\n      \
        \  \"Windows\": {\n          \"Win2022Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2022-Datacenter\",\n            \"version\": \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2019Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2019-Datacenter\",\n            \"version\": \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          },\n          \"Win2016Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n \
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\
        \n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2012-R2-Datacenter\",\n            \"version\": \"\
        latest\",\n            \"architecture\": \"x64\"\n          },\n         \
        \ \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2008-R2-SP1\",\n            \"version\": \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          }\n        }\n      }\n\
        \    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"d899bf46cbe29d2f24fdd8591de45b570357fdcca02295e764b3c6c587e12212"
      source-age:
      - '174'
      x-fastly-request-id:
      - 2c41b5afd904dcc8e8dc781ed174354745516ff0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"9600.21620.231004\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/9600.21620.231004\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43989
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions/9600.21620.231004?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : true\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\"\
        : \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n  \
        \    },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n     \
        \   \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\"\
        ,\r\n        \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\"\
        : {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInBytes\": 136367309312\r\
        \n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\"\
        ,\r\n  \"name\": \"9600.21620.231004\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/9600.21620.231004\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73990
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss1LBPublicIP",
      "location": "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"type": "Microsoft.Network/loadBalancers", "name": "vmss1LB",
      "location": "westus", "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "properties": {"backendAddressPools":
      [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss1LBNatPool", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "protocol": "tcp",
      "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "backendPort":
      3389}}]}}, {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1",
      "location": "westus", "tags": {}, "apiVersion": "2023-03-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB"], "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual", "rollingUpgradePolicy": {}}, "singlePlacementGroup":
      null, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption":
      "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}},
      "imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2012-R2-Datacenter", "version": "latest"}}, "osProfile": {"computerNamePrefix":
      "vmss1c521", "adminUsername": "admin123", "adminPassword": "[parameters(''adminPassword'')]"},
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmss1c521Nic",
      "properties": {"ipConfigurations": [{"name": "vmss1c521IPConfig", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}],
      "primary": "true"}}]}}, "orchestrationMode": "Uniform"}, "sku": {"name": "Standard_DS1_v2",
      "capacity": 2}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {"adminPassword": {"value": "PasswordPassword1!"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_nics000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Resources/deployments/vmss_deploy_YMbgHZcPYL2xGpFUGtciH8ry8KCF7JFT","name":"vmss_deploy_YMbgHZcPYL2xGpFUGtciH8ry8KCF7JFT","type":"Microsoft.Resources/deployments","properties":{"templateHash":"5930951046637442524","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-10-16T08:35:08.0588335Z","duration":"PT0.0005345S","correlationId":"088800d8-7a50-4e46-ac15-8132ff4f59ad","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_nics000001/providers/Microsoft.Resources/deployments/vmss_deploy_YMbgHZcPYL2xGpFUGtciH8ry8KCF7JFT/operationStatuses/08585041615806541664?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_nics000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585041615806541664?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/microsoft.Compute/virtualMachineScaleSets/vmss1/networkInterfaces?api-version=2016-03-30
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss1c521Nic\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1c521Nic\"\
        ,\r\n      \"etag\": \"W/\\\"397c6c1a-97ca-4e00-a280-08e55c393585\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"resourceGuid\": \"84eea740-b9bf-405a-800d-cf1ab087a5dc\",\r\
        \n        \"ipConfigurations\": [\r\n          {\r\n            \"name\":\
        \ \"vmss1c521IPConfig\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1c521Nic/ipConfigurations/vmss1c521IPConfig\"\
        ,\r\n            \"etag\": \"W/\\\"397c6c1a-97ca-4e00-a280-08e55c393585\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"privateIPAddress\": \"10.0.0.4\",\r\n\
        \              \"privateIPAllocationMethod\": \"Dynamic\",\r\n           \
        \   \"subnet\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        \r\n              },\r\n              \"primary\": true,\r\n             \
        \ \"privateIPAddressVersion\": \"IPv4\",\r\n              \"loadBalancerBackendAddressPools\"\
        : [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        \r\n                }\r\n              ],\r\n              \"loadBalancerInboundNatRules\"\
        : [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        \r\n                }\r\n              ]\r\n            }\r\n          }\r\
        \n        ],\r\n        \"dnsSettings\": {\r\n          \"dnsServers\": [],\r\
        \n          \"appliedDnsServers\": [],\r\n          \"internalDomainNameSuffix\"\
        : \"bgpnh5qvk5zedeedvka4l4ptfb.dx.internal.cloudapp.net\"\r\n        },\r\n\
        \        \"macAddress\": \"00-22-48-08-39-BD\",\r\n        \"enableIPForwarding\"\
        : false,\r\n        \"primary\": true,\r\n        \"virtualMachine\": {\r\n\
        \          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        \r\n        }\r\n      },\r\n      \"location\": \"westus\"\r\n    },\r\n\
        \    {\r\n      \"name\": \"vmss1c521Nic\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss1_0\",\r\n  \
        \    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\"\
        ,\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"instanceId\"\
        : \"0\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_DS1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"modelDefinitionApplied\"\
        : \"VirtualMachineScaleSet\",\r\n        \"networkProfileConfiguration\":\
        \ {\"networkInterfaceConfigurations\":[{\"name\":\"vmss1c521Nic\",\"properties\"\
        :{\"primary\":true,\"disableTcpStateTracking\":false,\"dnsSettings\":{\"dnsServers\"\
        :[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"vmss1c521IPConfig\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]},\r\n        \"provisioningState\": \"Updating\",\r\n        \"hardwareProfile\"\
        : {\r\n          \"vmSize\": \"Standard_DS1_v2\"\r\n        },\r\n       \
        \ \"vmId\": \"b0e0b50a-c2d5-468f-929b-d5b7e78b5f71\",\r\n        \"storageProfile\"\
        : {\r\n          \"imageReference\": {\r\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n            \"offer\": \"WindowsServer\",\r\n            \"sku\": \"\
        2012-R2-Datacenter\",\r\n            \"version\": \"latest\",\r\n        \
        \    \"exactVersion\": \"9600.21620.231004\"\r\n          },\r\n         \
        \ \"osDisk\": {\r\n            \"osType\": \"Windows\",\r\n            \"\
        name\": \"vmss1_vmss1_0_OsDisk_1_0ce57dace3e34997bcbd8e579090892d\",\r\n \
        \           \"createOption\": \"FromImage\",\r\n            \"caching\": \"\
        ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Premium_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_0ce57dace3e34997bcbd8e579090892d\"\
        \r\n            },\r\n            \"diskSizeGB\": 127\r\n          },\r\n\
        \          \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vmss1c521000000\",\r\n          \"adminUsername\"\
        : \"admin123\",\r\n          \"windowsConfiguration\": {\r\n            \"\
        provisionVMAgent\": true,\r\n            \"enableAutomaticUpdates\": true,\r\
        \n            \"enableVMAgentPlatformUpdates\": false\r\n          },\r\n\
        \          \"secrets\": [],\r\n          \"allowExtensionOperations\": true,\r\
        \n          \"requireGuestProvisionSignal\": true\r\n        },\r\n      \
        \  \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1c521Nic\"\
        }]},\r\n        \"timeCreated\": \"2023-10-16T08:35:33.7777494+00:00\"\r\n\
        \      }\r\n    },\r\n    {\r\n      \"name\": \"vmss1_1\",\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1\"\
        ,\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\"\
        ,\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"instanceId\"\
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces?api-version=2016-03-30
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss1c521Nic\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/providers/microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1c521Nic?api-version=2016-03-30
  response:
    body:
      string: "{\r\n  \"name\": \"vmss1c521Nic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics000001/provide[...]
