interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_gallery_specialized_000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001","name":"cli_test_gallery_specialized_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2020-10-15T08:08:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/galleries/gallery_000002?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery_000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/galleries/gallery_000002\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GALLERY_2MVFUGHCPVT7\"\r\n    },\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/911d0734-9e04-4f47-adc2-1f77b9b74f3b?api-version=2019-12-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/911d0734-9e04-4f47-adc2-1f77b9b74f3b?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-10-15T08:09:00.8483043+00:00\",\r\n  \"endTime\":
        \"2020-10-15T08:09:01.0357629+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"911d0734-9e04-4f47-adc2-1f77b9b74f3b\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1197,Microsoft.Compute/GetOperationStatus30Min;4197
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"osType": "Linux", "osState":
      "Specialized", "hyperVGeneration": "V2", "identifier": {"publisher": "publisher1",
      "offer": "offer1", "sku": "sku1"}, "disallowed": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1?api-version=2020-09-30
  response:
    body:
      string: "{\r\n  \"name\": \"image1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specializ[...]
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "sku": {"name": "Premium_LRS"}, "properties":
      {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"}, "diskSizeGB":
      10}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/disks/d1?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"name\": \"d1\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\":
        {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n  \"properties\":
        {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\": {\r\n      \"createOption\":
        \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 10,\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"isArmResource\": true,\r\n    \"tier\": \"P3\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/993fadd2-1beb-4ae7-9f18-275d70e1d5e4?api-version=2020-06-30
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/993fadd2-1beb-4ae7-9f18-275d70e1d5e4?monitor=true&api-version=2020-06-30
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/993fadd2-1beb-4ae7-9f18-275d70e1d5e4?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-10-15T08:10:22.5668231+00:00\",\r\n  \"endTime\":
        \"2020-10-15T08:10:22.738953+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"d1\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/disks/d1\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\":
        25,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"timeCreated\": \"2020-10-15T08:10:22.5824498+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
        \   \"diskSizeBytes\": 10737418240,\r\n    \"uniqueId\": \"69051d5d-a0c5-40cf-9f9d-d421c1381320\",\r\n
        \   \"networkAccessPolicy\": \"AllowAll\",\r\n    \"tier\": \"P3\"\r\n  }\r\n}\r\n
        \ },\r\n  \"name\": \"993fadd2-1beb-4ae7-9f18-275d70e1d5e4\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/d1?api-version=2020-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/snapshots/d1''
        under resource group ''cli_test_gallery_specialized_000001'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "sku": {"name": "Standard_LRS"}, "properties":
      {"hyperVGeneration": "V1", "creationData": {"createOption": "Copy", "sourceResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/disks/d1"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"sku\":
        {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\":
        \"V1\",\r\n    \"creationData\": {\r\n      \"createOption\": \"Copy\",\r\n
        \     \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/disks/d1\",\r\n
        \     \"sourceUniqueId\": \"69051d5d-a0c5-40cf-9f9d-d421c1381320\"\r\n    },\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/d6fbe645-c751-43e5-bc99-a288eadf56f3?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/d6fbe645-c751-43e5-bc99-a288eadf56f3?monitor=true&api-version=2020-05-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostSnapshotCreateHydrate3Min;999,Microsoft.Compute/HighCostSnapshotCreateHydrate30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/d6fbe645-c751-43e5-bc99-a288eadf56f3?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-10-15T08:10:50.2856458+00:00\",\r\n  \"endTime\":
        \"2020-10-15T08:10:51.6918605+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"s1\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s1\",\r\n
        \ \"type\": \"Microsoft.Compute/snapshots\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\":
        \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Copy\",\r\n      \"sourceResourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/disks/d1\",\r\n
        \     \"sourceUniqueId\": \"69051d5d-a0c5-40cf-9f9d-d421c1381320\"\r\n    },\r\n
        \   \"diskSizeGB\": 10,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"incremental\": false,\r\n    \"timeCreated\": \"2020-10-15T08:10:50.301239+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
        \   \"diskSizeBytes\": 10737418240,\r\n    \"uniqueId\": \"4d3f5533-12e7-4d15-a127-f288e31e955c\",\r\n
        \   \"networkAccessPolicy\": \"AllowAll\"\r\n  }\r\n}\r\n  },\r\n  \"name\":
        \"d6fbe645-c751-43e5-bc99-a288eadf56f3\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49993,Microsoft.Compute/GetOperation30Min;399993
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"publishingProfile":
      {"targetRegions": [{"name": "eastus2"}]}, "storageProfile": {"osDiskImage":
      {"source": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s1"}},
      "dataDiskImages": [{"source": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s2"},
      "lun": 2}, {"source": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s3"},
      "lun": 3}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images/versions\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"publishingProfile\":
        {\r\n      \"targetRegions\": [\r\n        {\r\n          \"name\": \"East
        US 2\",\r\n          \"regionalReplicaCount\": 1,\r\n          \"storageAccountType\":
        \"Standard_LRS\"\r\n        }\r\n      ],\r\n      \"replicaCount\": 1,\r\n
        \     \"excludeFromLatest\": false,\r\n      \"publishedDate\": \"2020-10-15T08:11:21.4885545+00:00\",\r\n
        \     \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"storageProfile\":
        {\r\n      \"osDiskImage\": {\r\n        \"hostCaching\": \"ReadWrite\",\r\n
        \       \"source\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s1\"\r\n
        \       }\r\n      },\r\n      \"dataDiskImages\": [\r\n        {\r\n          \"lun\":
        2,\r\n          \"hostCaching\": \"ReadOnly\",\r\n          \"source\": {\r\n
        \           \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images/versions\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"publishingProfile\":
        {\r\n      \"targetRegions\": [\r\n        {\r\n          \"name\": \"East
        US 2\",\r\n          \"regionalReplicaCount\": 1,\r\n          \"storageAccountType\":
        \"Standard_LRS\"\r\n        }\r\n      ],\r\n      \"replicaCount\": 1,\r\n
        \     \"excludeFromLatest\": false,\r\n      \"publishedDate\": \"2020-10-15T08:11:21.4885545+00:00\",\r\n
        \     \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"storageProfile\":
        {\r\n      \"osDiskImage\": {\r\n        \"sizeInGB\": 10,\r\n        \"hostCaching\":
        \"ReadWrite\",\r\n        \"source\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s1\"\r\n
        \       }\r\n      },\r\n      \"dataDiskImages\": [\r\n        {\r\n          \"lun\":
        2,\r\n          \"sizeInGB\": 10,\r\n          \"hostCaching\": \"ReadOnly\",\r\n
        \         \"source\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s2\"\r\n
        \         }\r\n        },\r\n        {\r\n          \"lun\": 3,\r\n          \"sizeInGB\":
        10,\r\n          \"hostCaching\": \"ReadOnly\",\r\n          \"source\": {\r\n
        \           \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_gallery_specialized_000001/providers/Microsoft.Compute/snapshots/s3\"\r\n
        \         }\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\":
        \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetGalleryImageVersion3Min;1997,Microsoft.Compute/GetGalleryImageVersion30Min;9993
    status:
      code: 200
      message: OK
version: 1
