interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_data_access_auth_mode_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_data_access_auth_mode_000001","name":"cli_test_disk_data_access_auth_mode_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","date":"2022-06-13T08:57:31Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 10, "dataAccessAuthMode": "AzureActiveDirectory"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_data_access_auth_mode_000001/providers/Microsoft.Compute/disks/disk-000002?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk-000002\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n
        \ \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\":
        {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 10,\r\n
        \   \"dataAccessAuthMode\": \"AzureActiveDirectory\",\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"isArmResource\": true\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/a910f38a-bd43-405f-aa45-382010cd6c88?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-03-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/a910f38a-bd43-405f-aa45-382010cd6c88?p=88376d82-510f-4098-9fed-60d0fb8eb079&monitor=true&api-version=2022-03-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/a910f38a-bd43-405f-aa45-382010cd6c88?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-06-13T08:57:39.8949922+00:00\",\r\n  \"endTime\":
        \"2022-06-13T08:57:40.0512387+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk-000002\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_data_access_auth_mode_000001/providers/Microsoft.Compute/disks/disk-000002\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\":
        25,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"dataAccessAuthMode\": \"AzureActiveDirectory\",\r\n
        \   \"timeCreated\": \"2022-06-13T08:57:39.8949922+00:00\",\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\":
        10737418240,\r\n    \"uniqueId\": \"19ff9807-3c85-47ea-92a8-59155ae973e2\",\r\n
        \   \"tier\": \"P3\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"a910f38a-bd43-405f-aa45-382010cd6c88\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status:
      code: 200
      message: OK
[...]
