interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001","name":"cli_test_vm_trusted_launch_os_disk_secure_upload000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2022-12-16T02:55:14Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {}, "sku": {"name": "Standard_LRS"},
      "properties": {"osType": "Windows", "hyperVGeneration": "V2", "creationData":
      {"createOption": "UploadPreparedSecure", "uploadSizeBytes": 34359738880}, "securityProfile":
      {"securityType": "TrustedLaunch"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n\
        \  },\r\n  \"properties\": {\r\n    \"osType\": \"Windows\",\r\n    \"hyperVGeneration\"\
        : \"V2\",\r\n    \"creationData\": {\r\n      \"createOption\": \"UploadPreparedSecure\"\
        ,\r\n      \"uploadSizeBytes\": 34359738880\r\n    },\r\n    \"securityProfile\"\
        : {\r\n      \"securityType\": \"TrustedLaunch\"\r\n    },\r\n    \"provisioningState\"\
        : \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/0e2306ab-a59f-4881-88ba-dc4261b6fa8e?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/0e2306ab-a59f-4881-88ba-dc4261b6fa8e?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&monitor=true&api-version=2022-07-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;995,Microsoft.Compute/CreateUpdateDisks30Min;7995
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/0e2306ab-a59f-4881-88ba-dc4261b6fa8e?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-12-16T02:55:22.2989185+00:00\",\r\n  \"\
        endTime\": \"2022-12-16T02:55:22.4083443+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk000002\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n\
        \    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"osType\"\
        : \"Windows\",\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"creationData\"\
        : {\r\n      \"createOption\": \"UploadPreparedSecure\",\r\n      \"uploadSizeBytes\"\
        : 34359738880\r\n    },\r\n    \"diskIOPSReadWrite\": 500,\r\n    \"diskMBpsReadWrite\"\
        : 60,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\
        \r\n    },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"securityProfile\"\
        : {\r\n      \"securityType\": \"TrustedLaunch\"\r\n    },\r\n    \"publicNetworkAccess\"\
        : \"Enabled\",\r\n    \"timeCreated\": \"2022-12-16T02:55:22.3145698+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"ReadyToUpload\"\
        ,\r\n    \"uniqueId\": \"4389afe5-e3ce-4341-90c6-2afbeb190911\"\r\n  }\r\n\
        }\r\n  },\r\n  \"name\": \"0e2306ab-a59f-4881-88ba-dc4261b6fa8e\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49972,Microsoft.Compute/GetOperation30Min;399972
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "Write", "durationInSeconds": 86400, "getSecureVMGuestStateSAS":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002/beginGetAccess?api-version=2022-07-02
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/b56a9b05-5b8d-4f89-b8ba-ba30aab7db21?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/b56a9b05-5b8d-4f89-b8ba-ba30aab7db21?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&monitor=true&api-version=2022-07-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostDiskHydrate3Min;996,Microsoft.Compute/HighCostDiskHydrate30Min;7996
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/b56a9b05-5b8d-4f89-b8ba-ba30aab7db21?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-12-16T02:55:28.9083799+00:00\",\r\n  \"\
        endTime\": \"2022-12-16T02:55:29.361492+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"accessSAS\": \"https://md-impexp-kqzpcmrdcvlq.z19.blob.storage.azure.net/hsc4ngp4dhtp/abcd?sv=2018-03-28&sr=b&si=02e24525-211e-409c-ae53-7c1712ab9db2&sig=sCXdE8BVtNq2tD%2FJCPtPwiL%2FT%2B7p9q3RhgtZInDbmVQ%3D\"\
        ,\r\n  \"securityDataAccessSAS\": \"https://md-impexp-kqzpcmrdcvlq.z19.blob.storage.azure.net/k4qf3bs2rnzq/757f88c7-fb75-4825-9b67-8088648291e2_vmgs?sv=2018-03-28&sr=b&si=e9c36fc3-f2a3-4fcc-ac8f-5deb2e1ace93&sig=3IxMmn%2BFg7eW3mOtyzneIyj3AI6iJtmZsIa2AiI1Hkw%3D\"\
        \r\n}\r\n  },\r\n  \"name\": \"b56a9b05-5b8d-4f89-b8ba-ba30aab7db21\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49964,Microsoft.Compute/GetOperation30Min;399963
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/b56a9b05-5b8d-4f89-b8ba-ba30aab7db21?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&monitor=true&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"accessSAS\": \"https://md-impexp-kqzpcmrdcvlq.z19.blob.storage.azure.net/hsc4ngp4dhtp/abcd?sv=2018-03-28&sr=b&si=02e24525-211e-409c-ae53-7c1712ab9db2&sig=sCXdE8BVtNq2tD%2FJCPtPwiL%2FT%2B7p9q3RhgtZInDbmVQ%3D\"\
        ,\r\n  \"securityDataAccessSAS\": \"https://md-impexp-kqzpcmrdcvlq.z19.blob.storage.azure.net/k4qf3bs2rnzq/757f88c7-fb75-4825-9b67-8088648291e2_vmgs?sv=2018-03-28&sr=b&si=e9c36fc3-f2a3-4fcc-ac8f-5deb2e1ace93&sig=3IxMmn%2BFg7eW3mOtyzneIyj3AI6iJtmZsIa2AiI1Hkw%3D\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49965,Microsoft.Compute/GetOperation30Min;399962
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/55c1e6ba-b4e8-458a-8528-d1e43d10455f?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-12-16T02:56:51.3307991+00:00\",\r\n  \"\
        endTime\": \"2022-12-16T02:56:51.4245442+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk2000004\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk2000004\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n\
        \    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"osType\"\
        : \"Windows\",\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"creationData\"\
        : {\r\n      \"createOption\": \"Upload\",\r\n      \"uploadSizeBytes\": 34359738880\r\
        \n    },\r\n    \"diskIOPSReadWrite\": 500,\r\n    \"diskMBpsReadWrite\":\
        \ 60,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\
        \r\n    },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\"\
        : \"Enabled\",\r\n    \"timeCreated\": \"2022-12-16T02:56:51.3307991+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"ReadyToUpload\"\
        ,\r\n    \"uniqueId\": \"3f60a6ee-2001-4ddc-a9ac-0166aac8c1af\"\r\n  }\r\n\
        }\r\n  },\r\n  \"name\": \"55c1e6ba-b4e8-458a-8528-d1e43d10455f\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49959,Microsoft.Compute/GetOperation30Min;399951
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/20c73518-396f-4f7a-a560-2af26dc8f4ff?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&monitor=true&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"accessSAS\": \"https://md-impexp-kqzpcmrdcvlq.z19.blob.storage.azure.net/h3nrd0w5jg53/abcd?sv=2018-03-28&sr=b&si=1684bc92-8e5d-4de0-97eb-6c3390bd3101&sig=0KSHZ3kDmGfMS6uqNhd6DGuhcZHQ60i7hlbY6bf4i88%3D\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49959,Microsoft.Compute/GetOperation30Min;399947
    status:
      code: 200
      message: OK
version: 1
