interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_trusted_launch_000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_trusted_launch_000001","name":"cli_test_disk_trusted_launch_000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-25T06:22:05Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18_04-lts-gen2/versions/18.04.202004290?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"replicaType\":
        \"Unmanaged\",\r\n    \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n
        \   },\r\n    \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n
        \       \"value\": \"TrustedLaunchSupported\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 31,\r\n
        \     \"sizeInBytes\": 32213303808\r\n    },\r\n    \"dataDiskImages\": []\r\n
        \ },\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"18.04.202004290\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/southcentralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18_04-lts-gen2/Versions/18.04.202004290\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V2", "creationData": {"createOption": "FromImage",
      "imageReference": {"id": "/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/southcentralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18_04-lts-gen2/Versions/18.04.202004290"}},
      "securityProfile": {"securityType": "TrustedLaunch"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_trusted_launch_000001/providers/Microsoft.Compute/disks/d1?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"d1\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"associatedXStoreEntities\": [\r\n    {\r\n      \"id\":
        \"c07eae56eb534e708577aff0bb472a4e\",\r\n      \"type\": \"VmgsBlob\",\r\n
        \     \"name\": \"c07eae56eb534e708577aff0bb472a4e_vmgs\",\r\n      \"accessibleExternally\":
        false,\r\n      \"alignWithDisk\": true,\r\n      \"deleteOnDetach\": false,\r\n
        \     \"pseudoSubscriptionId\": \"00000000-0000-0000-0000-000000000000\",\r\n
        \     \"sizeInBytes\": 0\r\n    }\r\n  ],\r\n  \"sku\": {\r\n    \"name\":
        \"Premium_LRS\"\r\n  },\r\n  \"properties\": {\r\n    \"osType\": \"Linux\",\r\n
        \   \"hyperVGeneration\": \"V2\",\r\n    \"creationData\": {\r\n      \"createOption\":
        \"FromImage\",\r\n      \"imageReference\": {\r\n        \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/southcentralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18_04-lts-gen2/Versions/18.04.202004290\"\r\n
        \     }\r\n    },\r\n    \"provisioningState\": \"Updating\",\r\n    \"isArmResource\":
        true,\r\n    \"securityProfile\": {\r\n      \"securityType\": \"TrustedLaunch\"\r\n
        \   }\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/4bac3ed5-ecfe-45d0-8b73-e8bb18019959?api-version=2020-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/4bac3ed5-ecfe-45d0-8b73-e8bb18019959?monitor=true&api-version=2020-12-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/4bac3ed5-ecfe-45d0-8b73-e8bb18019959?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2021-05-25T06:22:16.9830451+00:00\",\r\n  \"endTime\":
        \"2021-05-25T06:22:18.5231915+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"d1\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_trusted_launch_000001/providers/Microsoft.Compute/disks/d1\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"osType\": \"Linux\",\r\n
        \   \"hyperVGeneration\": \"V2\",\r\n    \"creationData\": {\r\n      \"createOption\":
        \"FromImage\",\r\n      \"imageReference\": {\r\n        \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/southcentralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18_04-lts-gen2/Versions/18.04.202004290\"\r\n
        \     }\r\n    },\r\n    \"diskSizeGB\": 30,\r\n    \"diskIOPSReadWrite\":
        120,\r\n    \"diskMBpsReadWrite\": 25,\r\n    \"encryption\": {\r\n      \"type\":
        \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"timeCreated\": \"2021-05-25T06:22:17.0380148+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
        \   \"diskSizeBytes\": 32213303296,\r\n    \"uniqueId\": \"24802ddc-77cb-4cd3-a245-7949b07fe19e\",\r\n
        \   \"networkAccessPolicy\": \"AllowAll\",\r\n    \"securityProfile\": {\r\n
        \     \"securityType\": \"TrustedLaunch\"\r\n    },\r\n    \"tier\": \"P4\"\r\n
        \ }\r\n}\r\n  },\r\n  \"name\": \"4bac3ed5-ecfe-45d0-8b73-e8bb18019959\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status:
      code: 200
      message: OK
[...]
