interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001","name":"img_tmpl_vmprofile000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-12T19:44:28Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "subnet_000004", "properties":
      {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet_000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002\",\r\n
        \ \"etag\": \"W/\\\"a77b6cb8-21dc-497b-8c77-88dd6ed2252a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"7fd8b31a-1ad9-4391-a207-6af888ceebfd\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"subnet_000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002/subnets/subnet_000004\",\r\n
        \       \"etag\": \"W/\\\"a77b6cb8-21dc-497b-8c77-88dd6ed2252a\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/022ebc32-e7e0-424c-9c91-3e11860c5667?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/022ebc32-e7e0-424c-9c91-3e11860c5667?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003?api-version=2021-09-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003","name":"id_000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"a0fc92a6-96e2-4af7-8a1e-6df353ffb28a","clientId":"571cc4f1-a409-46c3-9b2f-35c2d2180a87"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: '{"tags": {}, "location": "westus", "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003":
      {}}}, "properties": {"source": {"type": "PlatformImage", "publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "18.04-LTS", "version": "18.04.201808140"},
      "customize": [], "distribute": [{"type": "ManagedImage", "runOutputName": "image_1",
      "imageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Compute/images/image_1",
      "location": "westus"}], "vmProfile": {"userAssignedIdentities": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003"],
      "vnetConfig": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002/subnets/subnet_000004",
      "proxyVmSize": "Standard_A1_v1"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.VirtualMachineImages/imageTemplates/ib_000005?api-version=2021-10-01
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"exactVersion\": \"18.04.201808140\",\n
        \  \"offer\": \"UbuntuServer\",\n   \"publisher\": \"Canonical\",\n   \"sku\":
        \"18.04-LTS\",\n   \"type\": \"PlatformImage\",\n   \"version\": \"18.04.201808140\"\n
        \ },\n  \"distribute\": [\n   {\n    \"artifactTags\": {},\n    \"imageId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Compute/images/image_1\",\n
        \   \"location\": \"westus\",\n    \"runOutputName\": \"image_1\",\n    \"type\":
        \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Creating\",\n  \"buildTimeoutInMinutes\":
        0,\n  \"vmProfile\": {\n   \"vmSize\": \"\",\n   \"osDiskSizeGB\": 0,\n   \"userAssignedIdentities\":
        [\n    \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003\"\n
        \  ],\n   \"vnetConfig\": {\n    \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002/subnets/subnet_000004\",\n
        \   \"proxyVmSize\": \"Standard_A1_v1\"\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/c26ad36f-32ec-426f-89bc-5c0da2feaad9?api-version=2021-10-01
  response:
    body:
      string: "{\n \"name\": \"C26AD36F-32EC-426F-89BC-5C0DA2FEAAD9\",\n \"status\":
        \"Failed\",\n \"startTime\": \"2022-05-12T19:44:57.7566666Z\",\n \"endTime\":
        \"2022-05-12T19:45:09.4412704Z\",\n \"error\": {\n  \"code\": \"Unauthorized\",\n
        \ \"message\": \"Not authorized to access the resource: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002.
        Please check the user assigned identity has the correct permissions. For more
        details, go to https://aka.ms/azvmimagebuilderts.\"\n }\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.VirtualMachineImages/imageTemplates/ib_000005?api-version=2021-10-01
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"exactVersion\": \"18.04.201808140\",\n
        \  \"offer\": \"UbuntuServer\",\n   \"publisher\": \"Canonical\",\n   \"sku\":
        \"18.04-LTS\",\n   \"type\": \"PlatformImage\",\n   \"version\": \"18.04.201808140\"\n
        \ },\n  \"distribute\": [\n   {\n    \"artifactTags\": {},\n    \"imageId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Compute/images/image_1\",\n
        \   \"location\": \"westus\",\n    \"runOutputName\": \"image_1\",\n    \"type\":
        \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Failed\",\n  \"provisioningError\":
        {\n   \"provisioningErrorCode\": \"Other\",\n   \"message\": \"Not authorized
        to access the resource: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002.
        Please check the user assigned identity has the correct permissions. For more
        details, go to https://aka.ms/azvmimagebuilderts.\"\n  },\n  \"buildTimeoutInMinutes\":
        0,\n  \"vmProfile\": {\n   \"vmSize\": \"\",\n   \"osDiskSizeGB\": 0,\n   \"userAss[...]
