interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001","name":"cli_test_vm_custom_ip000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-06-15T10:13:56Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\"\
        : {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"\
        type\": \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"\
        CentOS\": {\n            \"publisher\": \"OpenLogic\",\n            \"offer\"\
        : \"CentOS\",\n            \"sku\": \"7.5\",\n            \"version\": \"\
        latest\"\n          },\n          \"CoreOS\": {\n            \"publisher\"\
        : \"CoreOS\",\n            \"offer\": \"CoreOS\",\n            \"sku\": \"\
        Stable\",\n            \"version\": \"latest\"\n          },\n          \"\
        Debian\": {\n            \"publisher\": \"Debian\",\n            \"offer\"\
        : \"debian-10\",\n            \"sku\": \"10\",\n            \"version\": \"\
        latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\"\
        : \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\"\
        : \"42.3\",\n            \"version\": \"latest\"\n          },\n         \
        \ \"RHEL\": {\n            \"publisher\": \"RedHat\",\n            \"offer\"\
        : \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\": \"\
        latest\"\n          },\n          \"SLES\": {\n            \"publisher\":\
        \ \"SUSE\",\n            \"offer\": \"SLES\",\n            \"sku\": \"15\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"UbuntuLTS\"\
        : {\n            \"publisher\": \"Canonical\",\n            \"offer\": \"\
        UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n            \"version\"\
        : \"latest\"\n          }\n        },\n        \"Windows\": {\n          \"\
        Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n \
        \           \"version\": \"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2012-R2-Datacenter\",\n\
        \            \"version\": \"latest\"\n          },\n          \"Win2012Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n \
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n     \
        \       \"version\": \"latest\"\n          }\n        }\n      }\n    }\n\
        \  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"540044b4084c3c314537f1baa1770f248628b2bc9ba0328f1004c33862e049da"
      source-age:
      - '287'
      x-fastly-request-id:
      - dbf8d54f0c257184b05d4dfbe06976a0b16ae4d9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vrfvmzVNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vrfvmzSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vrfvmzNSG", "apiVersion":
      "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vrfvmzPublicIP", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"publicIPAllocationMethod": "Static", "dnsSettings": {"domainNameLabel":
      "vrfmyvm00110011z"}}, "sku": {"name": "Standard"}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "vrfvmzVMNic", "location":
      "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vrfvmzVNET",
      "Microsoft.Network/networkSecurityGroups/vrfvmzNSG", "Microsoft.Network/publicIpAddresses/vrfvmzPublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvrfvmz", "properties":
      {"privateIPAllocationMethod": "Static", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/virtualNetworks/vrfvmzVNET/subnets/vrfvmzSubnet"},
      "privateIPAddress": "10.0.0.5", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkSecurityGroups/vrfvmzNSG"}}},
      {"apiVersion": "2019-07-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vrfvmz", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vrfvmzVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version":
      "latest"}}, "osProfile": {"computerName": "vrfvmz", "adminUsername": "user11",
      "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIiF94BLTYQ+CqGqE4uhzLAJ4aCZjkzpkekrsfPVv3o3vKLHtQfykexuICf75bbvVLiIMozNNWfgyLxf0rOUYAta47IK1CqJscnRyccQgGBN8f/1HNNAwCQ2pUFu+IGb1dhK0T41sICGoF7fy2xnW5w1nxFxfgujmrAGf/we6RznjCx5mXYQr6k4zg+vdAqeXgp5UdXYK/iYJTj6msfv3do/mVWbFzMyIv/6e//tylenGHkCGMw7N09mN5oIGZxm68g5omaAqJiY19BcQaNQBg4zufznCg6AVnZpOd86imd7UvAevSlRCKVVJzGGhg3OAai8P2lluA9gR5gNR4PX2Z",
      "path": "/home/user11/.ssh/authorized_keys"}]}}}}}], "outputs": {}}, "parameters":
      {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_USScpi3gandGYN1hXUNOrOg1MZhD6EA7","name":"vm_deploy_USScpi3gandGYN1hXUNOrOg1MZhD6EA7","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17889137758169172027","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-06-15T10:14:06.4978053Z","duration":"PT2.6262789S","correlationId":"6849f0e4-d37f-4614-89c7-1d4b750a32b8","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/virtualNetworks/vrfvmzVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vrfvmzVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkSecurityGroups/vrfvmzNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vrfvmzNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vrfvmzPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vrfvmzVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vrfvmzVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Compute/virtualMachines/vrfvmz","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vrfvmz"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_USScpi3gandGYN1hXUNOrOg1MZhD6EA7/operationStatuses/08586093908416061013?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586093908416061013?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_USScpi3gandGYN1hXUNOrOg1MZhD6EA7","name":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Compute/virtualMachines/vrfvmz?$expand=instanceView&api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvmz\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Compute/virtualMachines/vrfvmz\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"\
        a4528582-958e-45ab-9616-95600cab9dc4\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\"\
        ,\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\"\
        ,\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202006101\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n\
        \        \"name\": \"vrfvmz_disk1_cb22edc7738e4b3fa6bb98b7901be72b\",\r\n\
        \        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_CUSTOM_IPKQ4QDPXVWPX27434KPVW6N2CYZ2ZKQXPNY3PRDDOPVYMTW4UKCEID3/providers/Microsoft.Compute/disks/vrfvmz_disk1_cb22edc7738e4b3fa6bb98b7901be72b\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vrfvmz\"\
        ,\r\n      \"adminUsername\": \"user11\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": true,\r\n        \"ssh\"\
        : {\r\n          \"publicKeys\": [\r\n            {\r\n              \"path\"\
        : \"/home/user11/.ssh/authorized_keys\",\r\n              \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIiF94BLTYQ+CqGqE4uhzLAJ4aCZjkzpkekrsfPVv3o3vKLHtQfykexuICf75bbvVLiIMozNNWfgyLxf0rOUYAta47IK1CqJscnRyccQgGBN8f/1HNNAwCQ2pUFu+IGb1dhK0T41sICGoF7fy2xnW5w1nxFxfgujmrAGf/we6RznjCx5mXYQr6k4zg+vdAqeXgp5UdXYK/iYJTj6msfv3do/mVWbFzMyIv/6e//tylenGHkCGMw7N09mN5oIGZxm68g5omaAqJiY19BcQaNQBg4zufznCg6AVnZpOd86imd7UvAevSlRCKVVJzGGhg3OAai8P2lluA9gR5gNR4PX2Z\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\"\
        : true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\"\
        : true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"\
        networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/Unavailable\"\
        ,\r\n            \"level\": \"Warning\",\r\n            \"displayStatus\"\
        : \"Not Ready\",\r\n            \"message\": \"VM status blob is found but\
        \ not yet populated.\",\r\n            \"time\": \"2020-06-15T10:15:10+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"vrfvmz_disk1_cb22edc7738e4b3fa6bb98b7901be72b\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2020-06-15T10:14:32.5075956+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V1\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2020-06-15T10:15:05.6341739+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3990,Microsoft.Compute/LowCostGet30Min;31977
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvmzVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic\"\
        ,\r\n  \"etag\": \"W/\\\"0769c596-b490-49ab-8109-0ed8eae2dd19\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"89a68e54-20d4-44d5-88b9-b794078f4d9f\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvrfvmz\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic/ipConfigurations/ipconfigvrfvmz\"\
        ,\r\n        \"etag\": \"W/\\\"0769c596-b490-49ab-8109-0ed8eae2dd19\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.5\",\r\n          \"privateIPAllocationMethod\"\
        : \"Static\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/virtualNetworks/vrfvmzVNET/subnets/vrfvmzSubnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"p3a12rootwxedhy5gvtnvn4wpb.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-22-48-02-8D-9E\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkSecurityGroups/vrfvmzNSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Compute/virtualMachines/vrfvmz\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0769c596-b490-49ab-8109-0ed8eae2dd19"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvmzPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"af7e823e-1bf6-4a62-8f11-e488989292f9\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"80c4a9b6-8e62-463b-9bb0-09cd75fcc4fb\"\
        ,\r\n    \"ipAddress\": \"52.241.138.59\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"vrfmyvm00110011z\"\
        ,\r\n      \"fqdn\": \"vrfmyvm00110011z.westus.cloudapp.azure.com\"\r\n  \
        \  },\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic/ipConfigurations/ipconfigvrfvmz\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"af7e823e-1bf6-4a62-8f11-e488989292f9"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Compute/virtualMachines/vrfvmz2?$expand=instanceView&api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvmz2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Compute/virtualMachi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrfvmz2VMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvmz2VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/networkInterfaces/vrf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/publicIPAddresses/vrfvmz2PublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvmz2PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip000001/providers/Microsoft.Network/publicIPAddress[...]
[...]
