interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2022-12-02T08:46:42Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gellery000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GELLERYRQYF2YJK\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/e760299d-b9d5-4d33-acf0-a089bb36cd17?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;298
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/e760299d-b9d5-4d33-acf0-a089bb36cd17?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-12-02T08:47:17.8157531+00:00\",\r\n  \"endTime\":
        \"2022-12-02T08:47:18.0658202+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"e760299d-b9d5-4d33-acf0-a089bb36cd17\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1197,Microsoft.Compute/GetOperationStatus30Min;4195
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "properties": {"supportedOSType": "Windows"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"app000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/applications\",\r\n  \"location\":
        \"eastus2\",\r\n  \"properties\": {\r\n    \"supportedOSType\": \"Windows\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryApplication3Min;149,Microsoft.Compute/CreateUpdateGalleryApplication30Min;748
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Fri, 02 Dec 2022 08:48:27 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://account000002.blob.core.windows.net/container000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAD441FC1DC4DC"'
      last-modified:
      - Fri, 02 Dec 2022 08:48:29 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-content-type:
      - text/plain
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 02 Dec 2022 08:48:29 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://account000002.blob.core.windows.net/container000005/blob000006
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAD441FD21B11E"'
      last-modified:
      - Fri, 02 Dec 2022 08:48:31 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "copy .\\AppInstall.txt .\\AppDidInstall.txt\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Dec 2022 08:48:30 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://account000002.blob.core.windows.net/container000005/blob000006?comp=page
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAD441FD52F31B"'
      last-modified:
      - Fri, 02 Dec 2022 08:48:31 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-content-crc64:
      - 6E3QapkSbdE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus2", "properties": {"publishingProfile": {"source":
      {"mediaLink": "https://account000002.blob.core.windows.net/container000005/blob000006"},
      "manageActions": {"install": "install", "remove": "remove"}, "settings": {"packageFileName":
      "package1", "configFileName": "config1"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0?api-version=2022-01-03
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/applications/versions\",\r\n  \"location\":
        \"eastus2\",\r\n  \"properties\": {\r\n    \"publishingProfile\": {\r\n      \"source\":
        {\r\n        \"mediaLink\": \"https://account000002.blob.core.windows.net/container000005/blob000006\"\r\n
        \     },\r\n      \"manageActions\": {\r\n        \"install\": \"install\",\r\n
        \       \"remove\": \"remove\"\r\n      },\r\n      \"settings\": {\r\n        \"packageFileName\":
        \"package1\",\r\n        \"configFileName\": \"config1\"\r\n      },\r\n      \"enableHealthCheck\":
        false,\r\n      \"targetRegions\": [\r\n        {\r\n          \"name\": \"East
        US 2\",\r\n          \"regionalReplicaCount\": 1,\r\n          \"storageAccountType\":
        \"Standard_LRS\"\r\n        }\r\n      ],\r\n      \"replicaCount\": 1,\r\n
        \     \"excludeFromLatest\": false,\r\n      \"publishedDate\": \"2022-12-02T08:48:37.3949696+00:00\",\r\n
        \     \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/46f9db3d-6050-4d51-96ed-7032fc8bad63?api-version=2022-01-03
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryApplicationVersion3Min;149,Microsoft.Compute/CreateUpdateGalleryApplicationVersion30Min;749
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus2", "tags": {"tag": "test"}, "properties": {"publishingProfile":
      {"source": {"mediaLink": "https://account000002.blob.core.windows.net/container000005/blob000006"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0?api-version=2022-01-03
  response:
    body:
      string: "[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions?api-version=2022-01-03
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"1.0.0\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions/1.0.0\",\r\n
        \     \"type\": \"Microsoft.Compute/galleries/applications/versions\",\r\n
        \     \"location\": \"eastus2\",\r\n      \"tags\": {\r\n        \"tag\":
        \"test\"\r\n      },\r\n      \"properties\": {\r\n        \"publishingProfil[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000004/applications/app000003/versions?api-version=2022-01-03
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListGalleryApplicationVersionsInGalleryApplication3Min;1498,Microsoft.Compute/ListGalleryApplicationVersionsInGalleryApplication30Min;9998
    status:
      code: 200
      message: OK
version: 1
