interactions:
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001?api-version=2022-09-01
  response:
    body:
<<<<<<< Updated upstream
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001","name":"cli_test_vm_create_count_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_create_count","date":"2024-04-17T12:12:42Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001","name":"cli_test_vm_create_count_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_create_count","date":"2024-04-24T05:44:04Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> Stashed changes
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Wed, 17 Apr 2024 12:12:51 GMT
=======
      - Wed, 24 Apr 2024 05:44:09 GMT
>>>>>>> Stashed changes
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-msedge-ref:
<<<<<<< Updated upstream
      - 'Ref A: 44374515F5734A0F97D148B6A6BEC9A4 Ref B: TYO201100116035 Ref C: 2024-04-17T12:12:51Z'
=======
      - 'Ref A: CBD07CD311D145BE91F706F739AE0BF6 Ref B: MAA201060513031 Ref C: 2024-04-24T05:44:10Z'
>>>>>>> Stashed changes
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet?api-version=2022-01-01
  response:
    body:
<<<<<<< Updated upstream
      string: "{\r\n  \"name\": \"vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet\",\r\n
        \ \"etag\": \"W/\\\"30e021b8-f349-44e5-83be-183c81b7572b\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"388d572e-097a-412a-a18e-cfd880435c0d\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
=======
      string: "{\r\n  \"name\": \"vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet\"\
        ,\r\n  \"etag\": \"W/\\\"caabdd9e-9b48-4346-9499-707090706bfe\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"df49df44-5e70-405e-9bf6-ecf72d92b117\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
>>>>>>> Stashed changes
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< Updated upstream
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/496fed8c-9428-4980-a5bc-ae1cb074e258?api-version=2022-01-01&t=638489527737746167&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAyMTQwMTAxWhcNMjUwMTI3MTQwMTAxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/496fed8c-9428-4980-a5bc-ae1cb074e258?api-version=2022-01-01&t=638489527737746167&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQ[...]
[...]
- request:
    body: '{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1?api-version=2023-11-01
  response:
    body:
<<<<<<< Updated upstream
      string: '{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1","etag":"W/\"890f403c-994f-4e41-993d-647e322101ef\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
=======
      string: '{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1","etag":"W/\"102138e8-2f55-43a9-94d0-5308da8406bf\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cbf7a4bb-9643-4060-b649-bb70a9495c7e?api-version=2023-11-01&t=638489527885480874&c=MIIHADCCBeigAwIBAgITHgPpxUXboRMa1MKXpgAAA-nFRTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQ[...]
[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/234cafb3-1b98-486a-93a5-7cc22e032d42?api-version=2023-11-01&t=638489527911002843&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQ[...]
[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001?api-version=2022-09-01
  response:
    body:
<<<<<<< Updated upstream
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001","name":"cli_test_vm_create_count_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_create_count","date":"2024-04-17T12:12:42Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001","name":"cli_test_vm_create_count_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_create_count","date":"2024-04-24T05:44:04Z","module":"vm","Creator":"v-jingszhang@microsoft.com","DateCreated":"2024-04-24T05:44:10Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> Stashed changes
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Wed, 17 Apr 2024 12:13:14 GMT
=======
      - Wed, 24 Apr 2024 05:44:25 GMT
>>>>>>> Stashed changes
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-msedge-ref:
<<<<<<< Updated upstream
      - 'Ref A: F1F905A5A42948F69AA118D67C097032 Ref B: TYO201100115053 Ref C: 2024-04-17T12:13:14Z'
=======
      - 'Ref A: 7E264F69317446DEBA728B6E72EC8AC5 Ref B: MAA201060514025 Ref C: 2024-04-24T05:44:26Z'
>>>>>>> Stashed changes
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.0[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202401161?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\":
        32213303808\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\":
        \"eastus\",\r\n  \"name\": \"18.04.202401161\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202401161\"\r\n}"
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-000[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"38808189-fa7a-4d8a-807f-eba01edacca6","roleDefinitionId":"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"dnszones","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01","2015-05-04-preview"],"defaultApiVersion":"2018-05-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-04-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-04-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-04-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"dnsOperationResults","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01"],"defaultApiVersion":"2018-05-01","capabilities":"None"},{"resourceType":"dnsOperationStatuses","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1?api-v[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/networkSecurityGroups", "name": "vmaNSG", "apiVersion":
      "2015-06-15", "location": "eastus", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(''vmaPublicIP'',
      copyIndex())]", "location": "eastus", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Static"}, "copy": {"name": "publicipcopy", "mode":
      "parallel", "count": 3}, "sku": {"name": "Standard"}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "[concat(''vmaVMNic'',
      copyIndex())]", "location": "eastus", "tags": {}, "dependsOn": ["Microsoft.Network/networkSecurityGroups/vmaNSG",
      "Microsoft.Network/publicIpAddresses/vmaPublicIP0", "Microsoft.Network/publicIpAddresses/vmaPublicIP1",
      "Microsoft.Network/publicIpAddresses/vmaPublicIP2"], "properties": {"ipConfigurations":
      [{"name": "[concat(''ipconfigvma'', copyIndex())]", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1"},
      "publicIPAddress": {"id": "[concat(''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP'',
      copyIndex())]"}}}], "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkSecurityGroups/vmaNSG"}},
      "copy": {"name": "niccopy", "mode": "parallel", "count": 3}}, {"apiVersion":
      "2024-03-01", "type": "Microsoft.Compute/virtualMachines", "name": "[concat(''vma'',
      copyIndex())]", "location": "eastus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vmaVMNic0",
      "Microsoft.Network/networkInterfaces/vmaVMNic1", "Microsoft.Network/networkInterfaces/vmaVMNic2"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "[concat(''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkInterfaces/vmaVMNic'',
      copyIndex())]", "properties": {"deleteOption": "Delete"}}]}, "storageProfile":
      {"osDisk": {"createOption": "fromImage", "name": null, "caching": "ReadWrite",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"publisher":
      "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version": "latest"}},
      "osProfile": {"computerName": "[concat(''vma'', copyIndex())]", "adminUsername":
      "vmtest", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDeVkq96e0M8yAgX4RzjcMrER1J+UiWDpmPDlCUppRPtYKdq8n9QcgxD8UIzKHcZuYKYytLfTEPzMyZWIZX9VGZGNIncdObvOD1R/A3aspLKTpFQ6lGoUbua94ajsJxM79j0bSa1Vir6CHGH5nJUCitvsLtGC1xKQa6qHS0PunWsrTyQHfH+vccIi2bR/gmaa6SdUakbfPk1M4Ac0HopTLQhbcJrgMFi/2EspxiZdhCGkqmO7ak/OcvbjdvTffq1naETygMWvXPWkn8x0QckSBaFt4tWU6Zu50r5GwXaKUDaIWCdhfAVOw20irxCbgyD//YBWy5aYUr+uGaugnjHRkmmmCUqAd6i5tYRrLh18vLhPm8GLhvlYTfV09n3IqCXtWnKYRJEd4s/WNOrHeY0lupu7RHm4iJBgfFHnbqtKihaIY4vK5RJmuA/TZ/C/IRysw9zwirSnddhg8xTryPzmcmMjCqLgBILmcPVVU8Bh2kC1FCyWeYyIptRkWFr3aWpG0=
      v-taoxuzeng@microsoft.com\n", "path": "/home/vmtest/.ssh/authorized_keys"}]}}}},
      "copy": {"name": "vmcopy", "mode": "parallel", "count": 3}}], "outputs": {}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
<<<<<<< Updated upstream
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/vm_deploy_PaW4xEkOChpDL7ExUNTopUOYuoyX0EfO","name":"vm_deploy_PaW4xEkOChpDL7ExUNTopUOYuoyX0EfO","type":"Microsoft.Resources/deployments","properties":{"templateHash":"16203202021601632388","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-04-17T12:13:34.3755833Z","duration":"PT0.0003559S","correlationId":"c1ed7385-0bf1-4e9f-8731-a2b97268db11","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["eastus"]},{"resourceType":"publicIPAddresses","locations":["eastus"]},{"resourceType":"networkInterfaces","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkSecurityGroups/vmaNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vmaNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP0","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmaPublicIP0"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/publicIPAddresses/vmaPublicIP1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmaPu[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584882508752284100?api-version=2022-09-01
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (W[...]
[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_count_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.59.0 azsdk-python-core/1.30.1 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> Stashed changes
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/virtualMachines/vma0?$expand=instanceView&api-version=2024-03-01
  response:
    body:
<<<<<<< Updated upstream
      string: "{\r\n  \"name\": \"vma0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/virtualMachines/vma0\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\":
        \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"vmId\": \"ce543ef7-fb76-4c6c-8fca-bd91f1a0dd2d\",\r\n    \"storageProfile\":
        {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n
        \       \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202401161\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"vma0_disk1_c100e7d40a3847cca6cadbe9ff5b98f2\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/disks/vma0_disk1_c100e7d40a3847cca6cadbe9ff5b98f2\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vma0\",\r\n      \"adminUsername\": \"vmtest\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/vmtest/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDeVkq96e0M8yAgX4RzjcMrER1J+UiWDpmPDlCUppRPtYKdq8n9QcgxD8UIzKHcZuYKYytLfTEPzMyZWIZX9VGZGNIncdObvOD1R/A3aspLKTpFQ6lGoUbua94ajsJxM79j0bSa1Vir6CHGH5nJUCitvsLtGC1xKQa6qHS0PunWsrTyQHfH+vccIi2bR/gmaa6SdUakbfPk1M4Ac0HopTLQhbcJrgMFi/2EspxiZdhCGkqmO7ak/OcvbjdvTffq1naETygMWvXPWkn8x0QckSBaFt4tWU6Zu50r5GwXaKUDaIWCdhfAVOw20irxCbgyD//YBWy5aYUr+uGaugnjHRkmmmCUqAd6i5tYRrLh18vLhPm8GLhvlYTfV09n3IqCXtWnKYRJEd4s/WNOrHeY0lupu7RHm4iJBgfFHnbqtKihaIY4vK5RJmuA/TZ/C/IRysw9zwirSnddhg8xTryPzmcmMjCqLgBILmcPVVU8Bh2kC1FCyWeYyIptRkWFr3aWpG0=
        v-taoxuzeng@microsoft.com\\n\"\r\n            }\r\n          ]\r\n        },\r\n
        \       \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\":
        \"ImageDefault\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n
        \       \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\":
        [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
        true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Network/networkInterfaces/vmaVMNic0\",\"properties\":{\"deleteOption\":\"Delete\"}}]},\r\n
        \   \"instanceView\": {\r\n      \"computerName\": \"vma0\",\r\n      \"osName\":
        \"ubuntu\",\r\n      \"osVersion\": \"18.04\",\r\n      \"vmAgent\": {\r\n
        \       \"vmAgentVersion\": \"2.10.0.8\",\r\n        \"statuses\": [\r\n          {\r\n
        \           \"code\": \"ProvisioningState/succeeded\",\r\n            \"level\":
        \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\":
        \"Guest Agent is running\",\r\n            \"time\": \"2024-04-17T12:14:09+00:00\"\r\n
        \         }\r\n        ],\r\n        \"extensionHandlers\": []\r\n      },\r\n
        \     \"disks\": [\r\n        {\r\n          \"name\": \"vma0_disk1_c100e7d40a3847cca6cadbe9ff5b98f2\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2024-04-17T12:13:50.701837+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2024-04-17T12:14:00.514377+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2024-04-17T12:13:48.4674675+00:00\"\r\n
        \ }\r\n}"
=======
      string: "{\r\n  \"name\": \"vma0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_count_000001/providers/Microsoft.Compute/virtualMachines/vma0\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\"\
        : {\r\n      \"vmSize\": \"Standard_DS1_[...]
- request:
    body: null
    headers:
<<<<<<< Updated upstream
      - AZURECLI/2.59.0 azsdk-python-core/1.28.0 Python/3.9.5 (Windows-10-10.0.22631-SP0)
=======
[...]
