interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_capacity_reservation_list_delete000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001","name":"cli_test_capacity_reservation_list_delete000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_capacity_reservation_list_delete","date":"2023-10-19T05:20:35Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": {"key": "val"}, "zones": ["1", "2"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002?api-version=2023-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli_reservation_group_000002\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_CAPACITY_RESERVATION_LIST_DELETEM5O6GMIRU3YRS7LODFVTENSZMWWVS7RV5Z/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002\"\
        ,\r\n  \"type\": \"Microsoft.Compute/capacityReservationGroups\",\r\n  \"\
        location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n\
        \  },\r\n  \"zones\": [\r\n    \"1\",\r\n    \"2\"\r\n  ],\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/6b72b4c1-7637-433e-81dd-596d4a6a87a1?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2023-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteCapacityReservation3Min;119,Microsoft.Compute/PutDeleteCapacityReservation30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: ''
[...]
- request:
    body: '{"location": "centraluseuap", "tags": {"key": "val"}, "sku": {"name": "Standard_DS1_v2",
      "capacity": 5}, "zones": ["1"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003?api-version=2023-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli_reservation_name_000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003\"\
        ,\r\n  \"type\": \"Microsoft.Compute/capacityReservationGroups/capacityReservations\"\
        ,\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"key\": \"\
        val\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n  \
        \  \"capacity\": 5\r\n  },\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"\
        properties\": {\r\n    \"platformFaultDomainCount\": 3,\r\n    \"reservationId\"\
        : \"ebe066ca-cb56-4764-adb2-9ad53ca8479a\",\r\n    \"provisioningState\":\
        \ \"Creating\",\r\n    \"timeCreated\": \"2023-10-19T05:21:04.0121874+00:00\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/87cb70a4-db47-4f8d-b31d-c68b111c6dba?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2023-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteCapacityReservation3Min;118,Microsoft.Compute/PutDeleteCapacityReservation30Min;598
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/87cb70a4-db47-4f8d-b31d-c68b111c6dba?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2023-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-10-19T05:21:03.9965534+00:00\",\r\n  \"\
        endTime\": \"2023-10-19T05:21:04.2621866+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"87cb70a4-db47-4f8d-b31d-c68b111c6dba\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationResource;44,Microsoft.Compute/GetOperationSubscriptionMaximum;14998
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003?api-version=2023-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli_reservation_name_000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003\"\
        ,\r\n  \"type\": \"Microsoft.Compute/capacityReservationGroups/capacityReservations\"\
        ,\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"key\": \"\
        val\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n  \
        \  \"capacity\": 5\r\n  },\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"\
        properties\": {\r\n    \"platformFaultDomainCount\": 3,\r\n    \"reservationId\"\
        : \"ebe066ca-cb56-4764-adb2-9ad53ca8479a\",\r\n    \"provisioningTime\": \"\
        2023-10-19T05:21:04.2153084+00:00\",\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"timeCreated\": \"2023-10-19T05:21:04.0121874+00:00\"\r\n  }\r\n\
        }"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetCapacityReservation3Min;246,Microsoft.Compute/GetCapacityReservation30Min;996
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli_reservation_name_000003\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_CAPACITY_RESERVATION_LIST_DELETEM5O6GMIRU3YRS7LODFVTENSZMWWVS7RV5Z/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003\"\
        ,\r\n      \"type\": \"Microsoft.Compute/capacityReservationGroups/capacityReservations\"\
        ,\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n     \
        \   \"key\": \"val\"\r\n      },\r\n      \"sku\": {\r\n        \"name\":\
        \ \"Standard_DS1_v2\",\r\n        \"capacity\": 5\r\n      },\r\n      \"\
        zones\": [\r\n        \"1\"\r\n      ],\r\n      \"properties\": {\r\n   \
        \     \"platformFaultDomainCount\": 3,\r\n        \"reservationId\": \"ebe066ca-cb56-4764-adb2-9ad53ca8479a\"\
        ,\r\n        \"provisioningTime\": \"2023-10-19T05:21:04.2153084+00:00\",\r\
        \n        \"provisioningState\": \"Succeeded\",\r\n        \"timeCreated\"\
        : \"2023-10-19T05:21:04.0121874+00:00\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetCapacityReservation3Min;244,Microsoft.Compute/GetCapacityReservation30Min;994
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/fa8ce83d-eeb9-486b-9d42-caffd3ff5805?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2022-08-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/fa8ce83d-eeb9-486b-9d42-caffd3ff5805?p=2745cc42-2cf3-41b7-830c-129b79fbec46&monitor=true&api-version=2022-08-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteCapacityReservation3Min;116,Microsoft.Compute/PutDeleteCapacityReservation30Min;596
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: ''
version: 1
