interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001","name":"cli_test_vm_trusted_launch_os_disk_secure_upload000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2023-05-26T01:58:18Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {}, "sku": {"name": "Standard_LRS"},
      "properties": {"osType": "Windows", "hyperVGeneration": "V2", "creationData":
      {"createOption": "UploadPreparedSecure", "uploadSizeBytes": 34359738880}, "securityProfile":
      {"securityType": "TrustedLaunch"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n
        \ \"properties\": {\r\n    \"osType\": \"Windows\",\r\n    \"hyperVGeneration\":
        \"V2\",\r\n    \"creationData\": {\r\n      \"createOption\": \"UploadPreparedSecure\",\r\n
        \     \"uploadSizeBytes\": 34359738880\r\n    },\r\n    \"securityProfile\":
        {\r\n      \"securityType\": \"TrustedLaunch\"\r\n    },\r\n    \"provisioningState\":
        \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/75a54e66-184c-4ed9-8d59-98c6201e9d6d?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/75a54e66-184c-4ed9-8d59-98c6201e9d6d?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&monitor=true&api-version=2022-07-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;2999,Microsoft.Compute/CreateUpdateDisks30Min;24998
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/75a54e66-184c-4ed9-8d59-98c6201e9d6d?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-05-26T01:58:20.5223648+00:00\",\r\n  \"endTime\":
        \"2023-05-26T01:58:20.631873+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk000002\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\":
        \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"osType\": \"Windows\",\r\n
        \   \"hyperVGeneration\": \"V2\",\r\n    \"creationData\": {\r\n      \"createOption\":
        \"UploadPreparedSecure\",\r\n      \"uploadSizeBytes\": 34359738880\r\n    },\r\n
        \   \"diskIOPSReadWrite\": 500,\r\n    \"diskMBpsReadWrite\": 60,\r\n    \"encryption\":
        {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"networkAccessPolicy\":
        \"AllowAll\",\r\n    \"securityProfile\": {\r\n      \"securityType\": \"TrustedLaunch\"\r\n
        \   },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"timeCreated\":
        \"2023-05-26T01:58:20.5379628+00:00\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"diskState\": \"ReadyToUpload\",\r\n    \"uniqueId\": \"6a7efb71-f1e3-4a8f-831e-2b77930dbe4a\"\r\n
        \ }\r\n}\r\n  },\r\n  \"name\": \"75a54e66-184c-4ed9-8d59-98c6201e9d6d\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399991
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"access": "Write", "durationInSeconds": 86400, "getSecureVMGuestStateSAS":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001/providers/Microsoft.Compute/disks/disk000002/beginGetAccess?api-version=2022-07-02
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/7f87fddf-9c34-43c9-8ca4-065efbbac071?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/7f87fddf-9c34-43c9-8ca4-065efbbac071?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&monitor=true&api-version=2022-07-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/HighCostDiskHydrate3Min;999,Microsoft.Compute/HighCostDiskHydrate30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/7f87fddf-9c34-43c9-8ca4-065efbbac071?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-05-26T01:58:23.6942584+00:00\",\r\n  \"endTime\":
        \"2023-05-26T01:58:24.0848518+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"accessSAS\": \"https://md-impexp-sx3trcfcgqpt.z19.blob.storage.azure.net/jq3nwlcv5gbj/abcd?sv=2018-03-28&sr=b&si=6f72ef37-6dac-4ca1-9a60-c65d9c1a7d7d&sig=J1DQU6iLKdV9Xa6h8Z%2Fs%2FLJGqwqFZewTPPQNvw%2BJWx8%3D\",\r\n
        \ \"securityDataAccessSAS\": \"https://md-impexp-sx3trcfcgqpt.z19.blob.storage.azure.net/mx505vmnbqmd/9f0ad0d4-c6cd-4845-83a3-f97b561ade50_vmgs?sv=2018-03-28&sr=b&si=96d76ff0-2280-465e-b078-a1daca9ae919&sig=n1%2FUno2w7dlAxjhXwPSxeIBmBirMZ7%2FtsIyDXOrxJQU%3D\"\r\n}\r\n
        \ },\r\n  \"name\": \"7f87fddf-9c34-43c9-8ca4-065efbbac071\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49996,Microsoft.Compute/GetOperation30Min;399988
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/7f87fddf-9c34-43c9-8ca4-065efbbac071?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&monitor=true&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"accessSAS\": \"https://md-impexp-sx3trcfcgqpt.z19.blob.storage.azure.net/jq3nwlcv5gbj/abcd?sv=2018-03-28&sr=b&si=6f72ef37-6dac-4ca1-9a60-c65d9c1a7d7d&sig=J1DQU6iLKdV9Xa6h8Z%2Fs%2FLJGqwqFZewTPPQNvw%2BJWx8%3D\",\r\n
        \ \"securityDataAccessSAS\": \"https://md-impexp-sx3trcfcgqpt.z19.blob.storage.azure.net/mx505vmnbqmd/9f0ad0d4-c6cd-4845-83a3-f97b561ade50_vmgs?sv=2018-03-28&sr=b&si=96d76ff0-2280-465e-b078-a1daca9ae919&sig=n1%2FUno2w7dlAxjhXwPSxeIBmBirMZ7%2FtsIyDXOrxJQU%3D\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49995,Microsoft.Compute/GetOperation30Min;399987
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_trusted_launch_os_disk_secure_upload000001","name":"cli_test_vm_trusted_launch_os_disk_secure_upload000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2023-05-26T01:58:18Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
