interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-30T18:07:50Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001","name":"cli_test_vmss_lb_sku000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-30T18:07:50Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\":{},\n
        \ \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"type\":\"object\",\n
        \     \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n            \"publisher\":\"OpenLogic\",\n
        \           \"offer\":\"CentOS\",\n            \"sku\":\"7.5\",\n            \"version\":\"latest\"\n
        \         },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n            \"version\":\"latest\"\n
        \         },\n          \"Debian\":{\n            \"publisher\":\"credativ\",\n
        \           \"offer\":\"Debian\",\n            \"sku\":\"9\",\n            \"version\":\"latest\"\n
        \         },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\",\n
        \           \"version\": \"latest\"\n          },\n          \"RHEL\":{\n
        \           \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n            \"sku\":\"7-RAW\",\n
        \           \"version\":\"latest\"\n          },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n
        \           \"offer\":\"SLES\",\n            \"sku\":\"15\",\n            \"version\":\"latest\"\n
        \         },\n          \"UbuntuLTS\":{\n            \"publisher\":\"Canonical\",\n
        \           \"offer\":\"UbuntuServer\",\n            \"sku\":\"18.04-LTS\",\n
        \           \"version\":\"latest\"\n          }\n        },\n\n        \"Windows\":{\n
        \         \"Win2019Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2019-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2016Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2016-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2012R2Datacenter\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n
        \           \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\":{\n
        \           \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\":\"WindowsServer\",\n
        \           \"sku\":\"2012-Datacenter\",\n            \"version\":\"latest\"\n
        \         },\n          \"Win2008R2SP1\":{\n            \"publisher\":\"MicrosoftWindowsServer\",\n
        \           \"offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n
        \           \"version\":\"latest\"\n          }\n        }\n      }\n    }\n
        \ }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"f5944d69cdbfb4a2bb2ddda8c5f050bde5bbcb32"'
      source-age:
      - '21'
      x-fastly-request-id:
      - 9abbd5bab0d1f00fabd146568690f8d2585a7927
      x-geo-block-list:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmss0VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss0Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2018-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss0LBPublicIP",
      "location": "eastus2", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"type": "Microsoft.Network/loadBalancers", "name": "vmss0LB",
      "location": "eastus2", "tags": {}, "apiVersion": "2018-01-01", "dependsOn":
      ["Microsoft.Network/virtualNetworks/vmss0VNET", "Microsoft.Network/publicIpAddresses/vmss0LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss0LBBEPool"}], "inboundNatPools":
      [{"name": "vmss0LBNatPool", "properties": {"frontendIPConfiguration": {"id":
      "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''vmss0LB\''), \''/frontendIPConfigurations/\'',
      \''loadBalancerFrontEnd\'')]"}, "protocol": "tcp", "frontendPortRangeStart":
      "50000", "frontendPortRangeEnd": "50119", "backendPort": 22}}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP"}}}]}},
      {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss0", "location":
      "eastus2", "tags": {}, "apiVersion": "2019-03-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss0VNET",
      "Microsoft.Network/loadBalancers/vmss0LB"], "sku": {"name": "Standard_DS1_v2",
      "capacity": 2}, "properties": {"overprovision": true, "upgradePolicy": {"mode":
      "manual"}, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption":
      "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}},
      "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS", "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmss0a9e5",
      "adminUsername": "admin123", "adminPassword": "[parameters(\''adminPassword\'')]"},
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmss0a9e5Nic",
      "properties": {"primary": "true", "ipConfigurations": [{"name": "vmss0a9e5IPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks/vmss0VNET/subnets/vmss0Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/backendAddressPools/vmss0LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/inboundNatPools/vmss0LBNatPool"}]}}]}}]}},
      "singlePlacementGroup": null}}], "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'', \''vmss0\''),providers(\''Microsoft.Compute\'',
      \''virtualMachineScaleSets\'').apiVersions[0])]"}}}, "parameters": {"adminPassword":
      {"value": "PasswordPassword1!"}}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/vmss_deploy_qyftJTbatyBQrALwjcsCoe6lIV8fiyKi","name":"vmss_deploy_qyftJTbatyBQrALwjcsCoe6lIV8fiyKi","properties":{"templateHash":"3874357116200701735","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-05-30T18:07:57.5528459Z","duration":"PT1.5681622S","correlationId":"5c2ac715-ab72-4f8e-9b60-46ac599484d4","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2"]},{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks/vmss0VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss0VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss0LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss0LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks/vmss0VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss0VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss0LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss0","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss0"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/vmss_deploy_qyftJTbatyBQrALwjcsCoe6lIV8fiyKi/operationStatuses/08586423672094929416?api-version=2018-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586423672094929416?api-version=2018-05-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers?api-version=2019-04-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss0LB\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB\",\r\n
        \     \"etag\": \"W/\\\"f3bce408-819e-416a-b278-2d99e61101ca\\\"\",\r\n      \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n      \"location\": \"eastus2\",\r\n
        \     \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"resourceGuid\": \"904fc61d-3ef1-415a-9524-e80b4220d6f9\",\r\n
        \       \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\":
        \"loadBalancerFrontEnd\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/frontendIPConfigurations/loadBalancerFrontEnd\",\r\n
        \           \"etag\": \"W/\\\"f3bce408-819e-416a-b278-2d99e61101ca\\\"\",\r\n
        \           \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"publicIPAddress\":
        {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP\"\r\n
        \             },\r\n              \"inboundNatRules\": [\r\n                {\r\n
        \                 \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/inboundNatRules/vmss0LBNatPool.0\"\r\n
        \               },\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/inboundNatRules/vmss0LBNatPool[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses?api-version=2019-04-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss0LBPublicIP\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP\",\r\n
        \     \"etag\": \"W/\\\"d93dda57-471c-48cc-89d4-5532759304a9\\\"\",\r\n      \"location\":
        \"eastus2\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"resourceGuid\": \"d834ec4b-d678-439d-86a1-bb982c7fc0b6\",\r\n
        \       \"ipAddress\": \"137.116.60.247\",\r\n        \"publicIPAddressVersion\":
        \"IPv4\",\r\n        \"publicIPAllocationMethod\": \"Dynamic\",\r\n        \"idleTimeoutInMinutes\":
        4,\r\n        \"ipTags\": [],\r\n        \"ipConfiguration\": {\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/frontendIPConfigurations/loadBalancerFrontEnd\"\r\n
        \       }\r\n      },\r\n      \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \     \"sku\": {\r\n        \"name\": \"Basic\",\r\n        \"tier\": \"Regional\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2018-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/lb1''
        under resource group ''cli_test_vmss_lb_sku000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"}],"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","South
        Africa North"],"apiVersions":["2019-04-01","2019-02-01","2018-12-01","2018-11-01","2018-10-01","2018-08-01","2018-07-01","2018-06-01","2018-05-01","2018-04-01","2018-03-01","2018-02-01","2018-01-01","2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"defaultApiVersion":"2017-09-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2017-10-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"natGateways","locations":["West
        US"],"apiVersions":["2019-04-01","2019-02-01","2018-12-01","2018-11-01"],"defaultApiVersion":"2018-11-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"publicIPAddresses","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","South
        Africa North"],"apiVersions":["2019-04-01","2019-02-01","2018-12-01","2018-11-01","2018-10-01","2018-08-01","2018-07-01","2018-06-01","2018-05-01","2018-04-01","2018-03-01","2018-02-01","2018-01-01","2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"defaultApiVersion":"2017-09-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2017-10-01"}],"zoneMappings":[{"location":"East
        US 2","zones":["1","2","3"]},{"location":"Central US","zones":["1","2","3"]},{"location":"West
        Europe","zones":["1","2","3"]},{"location":"France Central","zones":["1","2","3"]},{"location":"Southeast
        Asia","zones":["1","2","3"]},{"location":"West US 2","zones":["1","2","3"]},{"location":"North
        Europe","zones":["1","2","3"]},{"location":"East US","zones":["1","2","3"]},{"location":"UK
        South","zones":["1","2","3"]},{"location":"Japan East","zones":["1","2","3"]},{"location":"Aus[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2019-04-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/publicIPAddresses/pubip1''
        under resource group ''cli_test_vmss_lb_sku000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "pubip1", "location": "eastus2", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}}, {"type":
      "Microsoft.Network/loadBalancers", "name": "lb1", "location": "eastus2", "tags":
      {}, "apiVersion": "2018-01-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/pubip1"],
      "properties": {"backendAddressPools": [{"name": "lb1BEPool"}], "inboundNatPools":
      [{"name": "lb1NatPool", "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''lb1\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "protocol": "tcp", "frontendPortRangeStart": "50000", "frontendPortRangeEnd":
      "50119", "backendPort": 22}}], "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''lb1\''),
      \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''lb1\''),
      \''/backendAddressPools/\'', \''lb1BEPool\'')]"}, "protocol": "tcp", "frontendPort":
      80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes": 5}}]},
      "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss1NSG", "apiVersion": "2015-06-15", "location": "eastus2", "tags":
      {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "vmss1", "location": "eastus2", "tags": {}, "apiVersion": "2019-03-01",
      "dependsOn": ["Microsoft.Network/loadBalancers/lb1", "Microsoft.Network/networkSecurityGroups/vmss1NSG"],
      "sku": {"name": "Standard_DS1_v2", "capacity": 2}, "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual"}, "virtualMachineProfile": {"storageProfile":
      {"osDisk": {"createOption": "FromImage", "c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2019-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1\",\r\n
   [...]
[...]
