interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2022-09-16T06:03:12Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gallery_000003?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery_000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gallery_000003\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"ce37d538-dfa3-49c3-b3cd-149b4b7db48a-GALLERY_2YA5RKLGULWK\"\r\n    },\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/capsOperations/1b0869ed-001f-481f-89ed-5167b27362a4?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;298
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/capsOperations/1b0869ed-001f-481f-89ed-5167b27362a4?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-09-16T06:04:05.8371866+00:00\",\r\n  \"endTime\":
        \"2022-09-16T06:04:05.9465599+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"1b0869ed-001f-481f-89ed-5167b27362a4\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1198,Microsoft.Compute/GetOperationStatus30Min;4194
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centraluseuap", "tags": {}, "properties": {"osType": "Windows",
      "osState": "Specialized", "hyperVGeneration": "V2", "identifier": {"publisher":
      "publisher1", "offer": "offer1", "sku": "sku1"}, "disallowed": {}, "features":
      [{"name": "SecurityType", "value": "ConfidentialVm"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gallery_000003/images/image1?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"image1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gallery_000003/images/image1\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n
        \   \"architecture\": \"x64\",\r\n    \"features\": [\r\n      {\r\n        \"name\":
        \"SecurityType\",\r\n        \"value\": \"ConfidentialVM\"\r\n      }\r\n
        \   ],\r\n    \"osType\": \"Windows\",\r\n    \"osState\": \"Specialized\",\r\n
        \   \"identifier\": {\r\n      \"publisher\": \"publisher1\",\r\n      \"offer\":
        \"offer1\",\r\n      \"sku\": \"sku1\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/capsOperations/9ce28e20-5061-419a-82a2-587af335f3c8?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryImage3Min;149,Microsoft.Compute/CreateUpdateGalleryImage30Min;748
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"CentralUSEUAP","tags":{},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2022-09-16T06:03:21.545Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-16T06:03:21.545Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"d99f94f0-719f-4528-a9b1-cba806ef4124","accessPolicies":[{"tenantId":"d99f94f0-719f-4528-a9b1-cba806ef4124","objectId":"9063b2d8-a920-4f77-b901-59a6b61af245","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://vault-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000004/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/d99f94f0-719f-4528-a9b1-cba806ef4124",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000004/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://vault-000002.vault.azure.net/keys/key-000004/fd853708168a48cbbac3bc139c597367","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"x6GoejmWbG4BKyHEPyepsDq4ZiPo7BcsB1AtG0rr2q6fDtD6Y1CDAYYEflSDos0eVy508YMTViLdyjErOBhR8_2iG7IGg2DYcP6Ms3fy9xLM0QH1GdbhOicYlG-3zc_Oa58QYQ9bZANgchnEg4hldSXxL4B-Lr0WZl5a5JZF1TkU8VjiQkJqHT1Um8FPvZSWR9lRqnGIlYcxM553ZeURQMy08QnX1EIoFol3IywV3d4-chOJ1IRR3WO8BEYGtqglmcoAQV1hSISb_QjudTOL0-VkYTJd56r9jjXcwyYU_CdpDuZaJASGCYkUCl-Yv4hYWVyJHnuHcqdwuwgti2_eJQ","e":"AQAB"},"attributes":{"enabled":true,"created":1663308322,"updated":1663308322,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "SystemAssigned"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002"},
      "keyUrl": "https://vault-000002.vault.azure.net/keys/key-000004/fd853708168a48cbbac3bc139c597367"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000007?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"location\": \"centraluseuap\",\r\n  \"identity\": {\r\n    \"type\":
        \"Syste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/DiskOperations/32f03465-8399-46cf-9e17-3c6c18cf8569?p=6ecc2dc0-c07e-41b5-9954-193b6760fdee&api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2022-09-16T06:05:33.9608495+00:00\",\r\n  \"endTime\":
        \"2022-09-16T06:05:34.2889787+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"name\":\"des1-000007\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000007\",\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"centraluseuap\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"3f9df716-06f9-41fa-bb06-bb4a6e9db075\",\"tenantId\":\"d99f94f0-719f-4528-a9b1-cba806ef4124\"},\"properties\":{\"activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002\"},\"keyUrl\":\"https://vault-000002.vault.azure.net/keys/key-000004/fd853708168a48cbbac3bc139c597367\"},\"encryptionType\":\"EncryptionAtRestWithCustomerKey\",\"provisioningState\":\"Succeeded\"}}\r\n
        \ },\r\n  \"name\": \"32f03465-8399-46cf-9e17-3c6c18cf8569\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49984,Microsoft.Compute/GetOperation30Min;399950
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000007?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"des1-000007\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000007\",\r\n
      [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"centraluseuap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/cloud-test-kv","name":"cloud-test-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"CloudTest":"Required","st-User-1622006370":"newTag","st-User-1622013248":"newTag","st-User-1623749858":"newTag","st-User-1624429962":"newTag","st-User-1624474452":"newTag","st-User-1624562278":"newTag","st-User-1624885056":"newTag","st-User-1625045262":"newTag","st-User-1625147041":"newTag","st-User-1625202984":"newTag","st-User-1625511645":"newTag","st-User-1625583645":"newTag","st-User-1625654230":"newTag","st-User-1626097149":"newTag","st-User-1626153281":"newTag","st-User-1626181975":"newTag","st-User-1637579684":"newTag","st-User-1639464064":"newTag","st-User-1640262200":"newTag","st-User-1640603240":"newTag","st-User-1641281833":"newTag","st-User-1641361381":"newTag","st-User-1641379698":"newTag","Test-User-1637733221":"newTag","Test-User-1641404570":"newTag","Test-User-1641465393":"newTag","Test-User-1641555170":"newTag","st-User-1649865280":"newTag","st-User-1650547946":"newTag","st-User-1650606982":"newTag","st-User-1650616030":"newTag","st-User-1653670453":"newTag","st-User-1653672097":"newTag","st-User-1653834285":"newTag","st-User-1654168029":"newTag","st-User-1657640918":"newTag","st-User-1657647424":"newTag","st-User-1658834991":"newTag","st-User-1658834424":"newTag","st-User-1659017095":"newTag","magpie":"emitlogs","st-User-1661459286":"newTag","Test-User-1642086460Test-User-1662562975":"newTagewTag","st-User-1662986470":"newTag"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/demotestkv1","name":"demotestkv1","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"unique-id":"2bf64d52-0adc-473e-921f-76d0e2114139"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/test-aus-1","name":"test-aus-1","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"CloudTest":"Required"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1630673350","name":"Test-User-1630673350","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1630674426","name":"Test-User-1630674426","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1630674426":"newTag"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1630675800","name":"Test-User-1630675800","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1630676556","name":"Test-User-1630676556","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"CloudTest1":"IncludeTag1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631022241kv","name":"Test-User-1631022241kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631024153kv","name":"Test-User-1631024153kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631024153kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631024558kv","name":"Test-User-1631024558kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631024558kvtag":"newTag"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631030674kv","name":"Test-User-1631030674kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631030674kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631032264kv","name":"Test-User-1631032264kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631037811kv","name":"Test-User-1631037811kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631037811kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631038614kv","name":"Test-User-1631038614kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631038614kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631047403kv","name":"Test-User-1631047403kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631047403kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631199981","name":"Test-User-1631199981","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631200463","name":"Test-User-1631200463","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631203509","name":"Test-User-1631203509","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631204291kv","name":"Test-User-1631204291kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631204291kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1631794183kv","name":"Test-User-1631794183kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1631794183kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632226711kv","name":"Test-User-1632226711kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632226711kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632230758kv","name":"Test-User-1632230758kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632230758kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632821748kv","name":"Test-User-1632821748kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632821748kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632838663kv","name":"Test-User-1632838663kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632838663kvtag":"","testaad":"true"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632900545kv","name":"Test-User-1632900545kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632900545kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632902937kv","name":"Test-User-1632902937kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632902937kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632904851kv","name":"Test-User-1632904851kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632904851kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632915413kv","name":"Test-User-1632915413kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632915413kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632940128kv","name":"Test-User-1632940128kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632940128kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632940343kv","name":"Test-User-1632940343kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632940343kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632990498kv","name":"Test-User-1632990498kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632990498kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1632999857kv","name":"Test-User-1632999857kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1632999857kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1633017657kv","name":"Test-User-1633017657kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"Test-User-1633017657kvtag":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1634733285kv","name":"Test-User-1634733285kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-test/providers/Microsoft.KeyVault/vaults/Test-User-1634748213kv","name":"Test-User-1634748213kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/s[...]
[...]
- request:
    body: '{"location": "CentralUSEUAP", "tags": {}, "properties": {"tenantId": "d99f94f0-719f-4528-a9b1-cba806ef4124",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "d99f94f0-719f-4528-a9b1-cba806ef4124", "objectId": "9063b2d8-a920-4f77-b901-59a6b61af245",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "d99f94f0-719f-4528-a9b1-cba806ef4124", "objectId":
      "3f9df[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%273f9df716-06f9-41fa-bb06-bb4a6e9db075%27%29
  response:
    body:
      string: '{"error":{"code":"Authorization_RequestDenied","message":"Insufficient
        privileges to complete the operation.","innerError":{"date":"2022-09-16T06:06:31","request-id":"03f50073-3e75-4285-a369-9eae4b694acd","client-request-id":"03f50073-3e75-4285-a369-9eae4b694acd"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00003E65"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"View
        all resources, but does not allow you to make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:47.8628684Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "3f9df716-06f9-41fa-bb06-bb4a6e9db075"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"3f9df716-06f9-41fa-bb06-bb4a6e9db075","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002","condition":null,"conditionVersion":null,"createdOn":"2022-09-16T06:06:32.1870074Z","updatedOn":"2022-09-16T06:06:32.4526326Z","createdBy":null,"updatedBy":"9063b2d8-a920-4f77-b901-59a6b61af245","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions?$top=1&$orderby=name%20desc&api-version=2022-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"CentralUSEUAP\",\r\n    \"name\": \"20348.1006.220908\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/CentralUSEUAP/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.1006.220908\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions/20348.1006.220908?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n
        \   \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\":
        \"SecurityType\",\r\n        \"value\": \"TrustedLaunchAndConfidentialVmSupported\"\r\n
        \     },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n
        \       \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n
        \     \"operatingSystem\": \"Windows\",\r\n      \"sizeInGb\": 30\r\n    },\r\n
        \   \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"CentralUSEUAP\",\r\n
        \ \"name\": \"20348.1006.220908\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/CentralUSEUAP/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.1006.220908\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73997
    status:
      code: 200
      message: OK
- request:
[...]
