interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2021-05-01
  response:
    body:
      string: '{"value":[{"name":"PublicIPregional_lbyqyvdhoqmy27i","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_region_lb_address_pool_addresses3lbsf6qmqwhq37l6ux4ohtdp7ye7/providers/Microsoft.Network/publicIPAddresses/PublicIPregional_lbyqyvdhoqmy27i","etag":"W/\"3cb1c352-8390-4f2f-949c-780a06f1c469\"","location":"eastus2","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"4b7cb675-64b0-41f8-9288-7d1840534852","ipAddress":"104.46.7.124","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_region_lb_address_pool_addresses3lbsf6qmqwhq37l6ux4ohtdp7ye7/providers/Microsoft.Network/loadBalancers/regional_lbyqyvdhoqmy27i/frontendIPConfigurations/LoadBalancerFrontEnd"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}},{"name":"PublicIPregional_lbbmkilirkbysx6","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_region_lb_address_pool_addressessorxb3aoxeyj6hwp7xbjrluhvll5/providers/Microsoft.Network/publicIPAddresses/PublicIPregional_lbbmkilirkbysx6","etag":"W/\"2c0ce2bb-b466-4810-a98d-35d1115c7b4b\"","location":"eastus2","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"f119fa82-e3a2-441c-b674-14147fd5df35","ipAddress":"20.110.27.204","pub[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2021-05-01
  response:
    body:
      string: '{"value":[{"name":"diskpool-nic-0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSP_bez-rg_bez-diskpool_eastus/providers/Microsoft.Network/networkInterfaces/diskpool-nic-0","etag":"W/\"a56d817a-c064-4c8c-bbe3-bd704b39c198\"","location":"eastus","tags":{"MSP_BuildVersion":"20211007-5.master.8821a907","MSP_DPMajorVersion":"v2_DualVm","MSP_DPMinorVersion":"0","k":"v"},"properties":{"provisioningState":"Succeeded","resourceGuid":"80ae9f89-0659-4e0b-9358-3a609fed1276","ipConfigurations":[{"name":"ipconfig","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSP_bez-rg_bez-diskpool_eastus/providers/Microsoft.Network/networkInterfaces/diskpool-nic-0/ipConfigurations/ipconfig","etag":"W/\"a56d817a-c064-4c8c-bbe3-bd704b39c198\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.128.1.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.Network/virtualNetworks/bez-vn/subnets/test"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"smj24r3bdoaefigeikdditxtoe.bx.internal.cloudapp.net"},"macAddress":"00-0D-3A-8D-34-59","enableAcceleratedNetworking":false,"vnetEncryptionSupported":false,"enableIPForwarding":false,"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSP_bez-rg_bez-diskpool_eastus/providers/Microsoft.Compute/virtualMachines/diskpool-vmhost-a-0"},"hostedWorkloads":[],"tapConfigurations":[],"nicType":"Standard"},"type":"Microsoft.Network/networkInterfaces"},{"name":"diskpool-nic-1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSP_bez-rg_bez-diskpool_eastus/providers/Microsoft.Network/networkInterfaces/diskpool-nic-1","etag":"W/\"e6bb9676-d4b4-436a-8e9a-afb40c2e87e3\"","location":"eastus","tags":{"MSP_BuildVersion":"20211007-5.master.8821a907","MSP_DPMajorVersion":"v2_DualVm","MSP_DPMinorVersion":"0","k":"v"},"properties":{"provisioningState":"Succeeded","resourceG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions?$top=1&$orderby=name%20desc&api-version=2021-07-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"centralus\",\r\n    \"name\": \"14.04.201911070\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/centralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201911070\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions/14.04.201911070?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"architecture\": \"x64\",\r\n    \"replicaType\":
        \"Unmanaged\",\r\n    \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n
        \     \"sizeInGb\": 30,\r\n      \"sizeInBytes\": 32212255232\r\n    },\r\n
        \   \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"name\":
        \"14.04.201911070\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/centralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201911070\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm-with-public-ipVNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "centralus", "apiVersion": "2015-06-15", "dependsOn": [], "tags":
      {}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "vm-with-public-ipSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"type": "Microsoft.Network/networkSecurityGroups", "name": "vm-with-public-ipNSG",
      "apiVersion": "2015-06-15", "location": "centralus", "tags": {}, "dependsOn":
      []}, {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-with-public-ipPublicIP", "location": "centralus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "static"}, "zones": ["2"], "sku":
      {"name": "Standard"}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm-with-public-ipVMNic", "location": "centralus", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vm-with-public-ipVNET", "Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG",
      "Microsoft.Network/publicIpAddresses/vm-with-public-ipPublicIP"], "properties":
      {"ipConfigurations": [{"name": "ipconfigvm-with-public-ip", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET/subnets/vm-with-public-ipSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG"}}},
      {"apiVersion": "2021-07-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-with-public-ip", "location": "centralus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "14.04.4-LTS", "version": "latest"}}, "osProfile": {"computerName": "vm-with-public-ip",
      "adminUsername": "ubuntu", "adminPassword": "[parameters(''adminPassword'')]"}},
      "zones": ["2"]}], "outputs": {}}, "parameters": {"adminPassword": {"value":
      "testPassword0"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_OVZzuCEYv97hYXphgVskOJhR9iq9d4EP","name":"vm_deploy_OVZzuCEYv97hYXphgVskOJhR9iq9d4EP","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11285619177581581660","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-10-12T10:00:08.0474376Z","duration":"PT2.2960478S","correlationId":"fa70a8dd-83df-4bd4-84f5-ea8f7c718212","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["centralus"]},{"resourceType":"networkSecurityGroups","locations":["centralus"]},{"resourceType":"publicIPAddresses","locations":["centralus"]},{"resourceType":"networkInterfaces","locations":["centralus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["centralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-with-public-ipVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-with-public-ipPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-with-public-ip"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_OVZzuCEYv97hYXphgVskOJhR9iq9d4EP/operationStatuses/08585675740797262527?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585675740797262527?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip?$expand=instanceView&api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-with-public-ip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"centralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"9ab29208-e62a-4d9c-a69d-cce7e3795939\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"14.04.4-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"14.04.201911070\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Linux\",\r\n        \"name\": \"vm-with-public-ip_OsDisk_1_2e3139161e8b4409aa8043356bea890c\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/disks/vm-with-public-ip_OsDisk_1_2e3139161e8b4409aa8043356bea890c\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vm-with-public-ip\",\r\n      \"adminUsername\":
        \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\":
        {\r\n          \"patchMode\": \"ImageDefault\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm-with-public-ip\",\r\n      \"osName\": \"ubuntu\",\r\n      \"osVersion\":
        \"14.04\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.4.0.2\",\r\n
        \       \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2021-10-12T10:01:19+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm-with-public-ip_OsDisk_1_2e3139161e8b4409aa8043356bea890c\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2021-10-12T10:00:40.8170897+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2021-10-12T10:01:21.2861233+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  },\r\n  \"zones\": [\r\n    \"2\"\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3996,Microsoft.Compute/LowCostGet30Min;31997
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-with-public-ipVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/netwo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-with-public-ipPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vm-with-public-ip\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip/vmSizes?api-version=2021-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_D2a_v4\",\r\n
        \     \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        51200,\r\n      \"memoryInMB\": 8192,\r\n      \"maxDataDiskCount\": 4\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_D4a_v4\",\r\n      \"numberOfCores\":
        4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        102400,\r\n      \"memoryInMB\": 16384,\r\n      \"maxDataDiskCount\": 8\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_D8a_v4\",\r\n      \"numberOfCores\":
        8,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        204800,\r\n      \"memoryInMB\": 32768,\r\n     [...]
[...]
