interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001","name":"img_tmpl_vmprofile000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_image_builder_vm_profile","date":"2025-07-04T10:52:46Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "subnet_000004", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002?api-version=2024-05-01
  response:
    body:
      string: '{"name":"vnet_000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002","etag":"W/\"4dd32fea-0c04-48f5-8db6-49f6740ed3bc\"","type":"Microsoft.Network/virtualNetworks","location":"westus","properties":{"provisioningState":"Updating","resourceGuid":"48fbf275-0df1-4366-9fec-809e2ef4cecf","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"subnet_000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002/subnets/subnet_000004","etag":"W/\"4dd32fea-0c04-48f5-8db6-49f6740ed3bc\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e586447f-f2ac-47ee-9f50-8c75b3456684?api-version=2024-05-01&t=638872231724930539&c=MIIHpTCCBo2gAwIBAgITfwVyHmxg3JeFO591EgAEBXIebDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDE4MDgzNzA1WhcNMjUxMDE1MDgzNzA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e586447f-f2ac-47ee-9f50-8c75b3456684?api-version=2024-05-01&t=638872231724930539&c=MIIHpTCCBo2gAwIBAgITfwVyHmxg3JeFO591EgAEBXIebDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDE4MDgzNzA1WhcNMjUxMDE1MDgzNzA1WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003","name":"id_000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"213e87ed-8e08-4eb4-a63c-c073058f7b00","principalId":"eb5c7488-562c-4afd-ac2c-c5fa29697373","clientId":"3464ff02-5e6f-4c1e-8ec2-b94ecb88aa7d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2022-12-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"type\":\"Region\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\":\"eastus-az3\"},{\"logicalZone\":\"2\",\"physicalZone\":\"eastus-az2\"},{\"logicalZone\":\"3\",\"physicalZone\":\"eastus-az1\"}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southcentralus\",\"name\":\"southcentralus\",\"type\":\"Region\",\"displayName\":\"South
        Central US\",\"regionalDisplayName\":\"(US) South Central US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"[...]
- request:
    body: '{"tags": {}, "location": "westus", "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003":
      {}}}, "properties": {"source": {"type": "PlatformImage", "publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "18_04-LTS-GEN2", "version": "latest"}, "distribute":
      [{"type": "ManagedImage", "runOutputName": "image_1", "imageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Compute/images/image_1",
      "location": "westus"}], "vmProfile": {"userAssignedIdentities": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003"],
      "vnetConfig": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002/subnets/subnet_000004",
      "proxyVmSize": "Standard_A1_v1"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.VirtualMachineImages/imageTemplates/ib_000005?api-version=2023-07-01
  response:
    body:
      string: '{"error":{"code":"MissingSubscriptionRegistration","message":"The subscription
        is not registered to use namespace ''Microsoft.VirtualMachineImages''. See
        https://aka.ms/rps-not-found for how to register subscriptions.","details":[{"code":"MissingSubscriptionRegistration","target":"Microsoft.VirtualMachineImages","message":"The
        subscription is not registered to use namespace ''Microsoft.VirtualMachineImages''.
        See https://aka.ms/rps-not-found for how to register subscriptions."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/register?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages","namespace":"Microsoft.VirtualMachineImages","authorizations":[{"applicationId":"cf32a0cc-373c-47c9-9156-0db11f6a6dfc","roleDefinitionId":"0ee55a0b-f45f-4392-92ec-e8bf1b4b5da5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"imageTemplates","locations":["East
        US","East US 2","Central US","West Central US","West US","West US 2","South
        Central US","West US 3","Canada Central","North Europe","West Europe","Japan
        East","South Africa North","East Asia","Southeast Asia","Norway East","UK
        South","UK West","UAE North","Germany West Central","Australia East","Australia
        Southeast","Switzerland North","Central India","France Central","Korea Central","North
        Central US","Brazil South","Qatar Central","Poland Central","Sweden Central","Italy
        North","Israel Central","Spain Central","Mexico Central","New Zealand North","East
        US 2 EUAP","Central US EUAP"],"apiVersions":["2024-02-01","2023-07-01","2022-07-01","2022-02-14","2021-10-01","2020-02-14","2019-05-01-preview"],"capabilities":"None"},{"resourceType":"imageTemplates/runOutputs","locations":["East
        US","East US 2","Central US","West Central US","West US","West US 2","South
        Central US","West US 3","Canada Central","North Europe","West Europe","Japan
        East","South Africa North","East Asia","Southeast Asia","Norway East","UK
        South","UK West","UAE North","Germany West Central","Australia East","Australia
        Southeast","Switzerland North","Central India","France Central","Korea Central","N[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages","namespace":"Microsoft.VirtualMachineImages","authorizations":[{"applicationId":"cf32a0cc-373c-47c9-9156-0db11f6a6dfc","roleDefinitionId":"0ee55a0b-f45f-4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/051f830b-157d-40c3-891e-4be25636c1e9?api-version=2023-07-01&t=638872232786856120&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.VirtualMachineImages/imageTemplates/ib_000005?api-version=2023-07-01
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"exactVersion\": \"latest\",\n
        \  \"offer\": \"UbuntuServer\",\n   \"publisher\": \"Canonical\",\n   \"sku\":
        \"18_04-LTS-GEN2\",\n   \"type\": \"PlatformImage\",\n   \"version\": \"latest\"\n
        \ },\n  \"distribute\": [\n   {\n    \"artifactTags\": {},\n    \"imageId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Compute/images/image_1\",\n
        \   \"location\": \"westus\",\n    \"runOutputName\": \"image_1\",\n    \"type\":
        \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Failed\",\n  \"provisioningError\":
        {\n   \"provisioningErrorCode\": \"BadPIRSource\",\n   \"message\": \"Platform
        Image was not found. location: westus, publisherName: Canonical, offer: UbuntuServer,
        sku: 18_04-LTS-GEN2, version: latest. Please check the specified source image
        version in Image Builder Template exists. For information on how to check
        available versions, types, review https://aka.ms/azvmimagebuilderts.\"\n  },\n
        \ \"buildTimeoutInMinutes\": 0,\n  \"vmProfile\": {\n   \"vmSize\": \"\",\n
        \  \"osDiskSizeGB\": 0,\n   \"userAssignedIdentities\": [\n    \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003\"\n
        \  ],\n   \"vnetConfig\": {\n    \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.Network/virtualNetworks/vnet_000002/subnets/subnet_000004\",\n
        \   \"proxyVmSize\": \"Standard_A1_v1\"\n   }\n  },\n  \"stagingResourceGroup\":
        \"\",\n  \"exactStagingResourceGroup\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IT_img_tmpl_vmprofileswhcuzsyyqibusru4ogfme_6a856380-6425-4955-a3ea-2ca138ec2839\"\n
        },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\":
        {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_vmprofile000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id_000003\":
        {\n    \"principalId\": \"eb5c7488-562c-4afd-ac2c-c5fa29697373\",\n    \"clientId\":
        \"3464ff02-5e6f-4c1e-8ec2-b94ecb88aa7d\"\n   }\n  }\n },\n \"tags\": {},\n
        \"location\": \"westus\",\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_vmprofile000001/providers/Microsoft.VirtualMachineImages/imageTemplates/ib_000005\",\n
        \"name\": \"ib_000005\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
