interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image_debian000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001","name":"cli_test_vm_custom_image_debian000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_custom_image_debian","date":"2024-04-24T04:13:00Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"0.20240204.1647\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20240204.1647\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15991,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43954
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions/0.20240204.1647?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\"\
        : \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n  \
        \    },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n     \
        \   \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\"\
        ,\r\n        \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\"\
        : {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\": 32212255232\r\
        \n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\"\
        ,\r\n  \"name\": \"0.20240204.1647\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20240204.1647\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12992,Microsoft.Compute/GetVMImageFromLocation30Min;73966
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Storage/storageAccounts?api-version=2023-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "vhdstorageac1b9de696e034",
      "apiVersion": "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"accountType": "Premium_LRS"}}, {"name": "vm-unmanaged-diskVNET",
      "type": "Microsoft.Network/virtualNetworks", "location": "westus", "apiVersion":
      "2015-06-15", "dependsOn": [], "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"name": "vm-unmanaged-diskSubnet", "properties":
      {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm-unmanaged-diskNSG", "apiVersion": "2015-06-15", "location": "westus",
      "tags": {}, "dependsOn": []}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-unmanaged-diskPublicIP", "location": "westus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm-unmanaged-diskVMNic", "location": "westus", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET", "Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG",
      "Microsoft.Network/publicIpAddresses/vm-unmanaged-diskPublicIP"], "properties":
      {"ipConfigurations": [{"name": "ipconfigvm-unmanaged-disk", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET/subnets/vm-unmanaged-diskSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG"}}},
      {"apiVersion": "2024-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-unmanaged-disk", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstorageac1b9de696e034",
      "Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic"], "properties":
      {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": "osdisk_ac1b9de696", "caching": "ReadWrite", "vhd": {"uri":
      "https://vhdstorageac1b9de696e034.blob.core.windows.net/vhds/osdisk_ac1b9de696.vhd"}},
      "imageReference": {"publisher": "Debian", "offer": "debian-10", "sku": "10",
      "version": "latest"}}, "osProfile": {"computerName": "vm-unmanaged-disk", "adminUsername":
      "sdk-test-admin", "adminPassword": "[parameters(''adminPassword'')]"}}}], "outputs":
      {}}, "parameters": {"adminPassword": {"value": "testPassword0"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Resources/deployments/vm_deploy_nyDxSVUXFIxMbV8JQKB3vIBJL4PioUE9","name":"vm_deploy_nyDxSVUXFIxMbV8JQKB3vIBJL4PioUE9","type":"Microsoft.Resources/deployments","properties":{"templateHash":"16647216024306394085","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-04-24T04:13:18.1932012Z","duration":"PT0.0001748S","correlationId":"991b29a7-4ebc-4e77-b114-9e36948273e6","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-unmanaged-diskVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-unmanaged-diskNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP","resourceT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584876748907451236?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Resources/deployments/vm_deploy_nyDxSVUXFIxMbV8JQKB3v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk?$expand=instanceView&api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\"\
        : {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"vmId\": \"e059dd49-1b93-44ab-9cb3-2f2c64559c40\"\
        ,\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"\
        publisher\": \"Debian\",\r\n        \"offer\": \"debian-10\",\r\n        \"\
        sku\": \"10\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\"\
        : \"0.20240204.1647\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Linux\",\r\n        \"name\": \"osdisk_ac1b9de696\",\r\n        \"createOption\"\
        : \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstorageac1b9de696e034.blob.core.windows.net/vhds/osdisk_ac1b9de696.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"deleteOption\"\
        : \"Detach\",\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-unmanaged-disk\"\
        ,\r\n      \"adminUsername\": \"sdk-test-admin\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\"\
        : true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\
        ,\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n    \
        \    \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\"\
        : [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\"\
        : true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic\"\
        }]},\r\n    \"instanceView\": {\r\n      \"computerName\": \"vm-unmanaged-disk\"\
        ,\r\n      \"osName\": \"debian\",\r\n      \"osVersion\": \"10.13\",\r\n\
        \      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.45\",\r\n     \
        \   \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
        \       \"time\": \"2024-04-24T04:14:29+00:00\"\r\n          }\r\n       \
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"osdisk_ac1b9de696\",\r\n       \
        \   \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2024-04-24T04:13:54.7799886+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\"\
        : \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"\
        ProvisioningState/succeeded\",\r\n          \"level\": \"Info\",\r\n     \
        \     \"displayStatus\": \"Provisioning succeeded\",\r\n          \"time\"\
        : \"2024-04-24T04:14:25.3429311+00:00\"\r\n        },\r\n        {\r\n   \
        \       \"code\": \"PowerState/running\",\r\n          \"level\": \"Info\"\
        ,\r\n          \"displayStatus\": \"VM running\"\r\n        }\r\n      ]\r\
        \n    },\r\n    \"timeCreated\": \"2024-04-24T04:13:54.3892885+00:00\"\r\n\
        \  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23981,Microsoft.Compute/LowCostGetResource;32
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-diskVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic\"\
        ,\r\n  \"etag\": \"W/\\\"59118a1e-bc70-4586-8435-33b25eda2cc1\\\"\",\r\n \
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"80a55b15-1aca-4b4f-82fa-a0e48e60413e\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm-unmanaged-disk\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic/ipConfigurations/ipconfigvm-unmanaged-disk\"\
        ,\r\n        \"etag\": \"W/\\\"59118a1e-bc70-4586-8435-33b25eda2cc1\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET/subnets/vm-unmanaged-diskSubnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"rbv5rp5ztneuble4fxtjrarvga.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-32-9D-A8\",\r\n    \"vnetEncryptionSupported\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk\"\
        \r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\
        \n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"\
        auxiliaryMode\": \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"59118a1e-bc70-4586-8435-33b25eda2cc1"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-diskPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"d412167b-6523-4c32-852c-091eefc6ce55\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3be94ddf-41ea-4787-b590-c652df92fd39\"\
        ,\r\n    \"ipAddress\": \"13.91.42.71\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic/ipConfigurations/ipconfigvm-unmanaged-disk\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d412167b-6523-4c32-852c-091eefc6ce55"
    status:
      code: 200
      message: OK
- request:
    body: '{"commandId": "RunShellScript", "script": ["echo ''sudo waagent -deprovision+user
      --force'' | at -M now + 1 minutes"], "parameters": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk/runCommand?api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e04618af-e94b-4811-88f7-88e1a23d9aba?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2024-03-01&t=638495289030459171&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMTUwODE5WhcNMjUwMTI0MTUwODE5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e04618af-e94b-4811-88f7-88e1a23d9aba?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2024-03-01&t=638495289030459171&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMTUwOD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e04618af-e94b-4811-88f7-88e1a23d9aba?p=571046f6-b640-41c1-86f7-f9f044b5adf9&monitor=true&api-version=2024-03-01&t=638495289030459171&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk/deallocate?api-version=2022-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/ceb10e3c-40b0-4dac-9fa5-6f6921260d3b?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-11-01&t=638495290075729748&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMTUwOD[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk/generalize?api-version=2022-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVMSubscriptionMaximum;1499,Microsoft.Compute/UpdateVMResource;11
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image_debian000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001","name":"cli_test_vm_custom_image_debian000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_custom_image_debian","date":"2024-04-24T04:13:00Z","module":"vm","Creator":"v-jingszhang@microsoft.com","DateCreated":"2024-04-24T04:13:03Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"sourceVirtualMachine":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk"},
      "hyperVGeneration": "V1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/images/img-from-unmanaged?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"img-from-unmanaged\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/images/img-from-unmanaged\"\
        ,\r\n  \"type\": \"Microsoft.Compute/images\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"sourceVirtualMachine\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk\"\
        \r\n    },\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n       \
        \ \"osType\": \"Linux\",\r\n        \"osState\": \"Generalized\",\r\n    \
        \    \"diskSizeGB\": 30,\r\n        \"blobUri\": \"https://vhdstorageac1b9de696e034.blob.core.windows.net/vhds/osdisk_ac1b9de696.vhd\"\
        ,\r\n        \"caching\": \"ReadWrite\",\r\n        \"storageAccountType\"\
        : \"Standard_LRS\"\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n  \
        \  \"provisioningState\": \"Creating\",\r\n    \"hyperVGeneration\": \"V1\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/d3a16df3-16fe-4e69-b6b9-e4a30e495f47?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2024-03-01&t=638495290499623646&c=MIIHADCCBeigAwIBAg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/d3a16df3-16fe-4e69-b6b9-e4a30e495f47?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2024-03-01&t=638495290499623646&c=MIIHADCCBeigAwIBAgITfARk1TE_ZglsTRafPwAABGTVMTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMTUwOD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-managed-disk?$expand=instanceView&api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-managed-disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image_debian000001/providers/Microsoft.Compute/virtualMachines/vm-managed-disk\"\
[...]
