interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_enable_auto_os_upgrade000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001","name":"cli_test_vmss_update_enable_auto_os_upgrade000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_update_enable_auto_os_upgrade","date":"2024-07-18T07:16:41Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-LTS-Gen2/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"22.04.202407160\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-LTS-Gen2/Versions/22.04.202407160\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43993
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-LTS-Gen2/versions/22.04.202407160?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n  \
        \  \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\"\
        : \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n \
        \     \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\"\
        : {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\
        \n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"\
        TrustedLaunchSupported\"\r\n      },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\"\
        ,\r\n        \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\"\
        : \"DiskControllerTypes\",\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\
        \n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n        \"value\"\
        : \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\"\
        : \"Linux\",\r\n      \"sizeInGb\": 30\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"22.04.202407160\"\
        ,\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-LTS-Gen2/Versions/22.04.202407160\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73995
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmss000002VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss000002LBPublicIP",
      "location": "eastus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "vmss000002LB", "location": "eastus", "tags": {}, "apiVersion": "2022-01-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss000002VNET", "Microsoft.Network/publicIpAddresses/vmss000002LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss000002LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/publicIPAddresses/vmss000002LBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss000002LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss000002LB''),
      ''/backendAddressPools/'', ''vmss000002LBBEPool'')]"}, "protocol": "tcp", "frontendPort":
      80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes": 5}}]},
      "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss000002NSG", "apiVersion": "2015-06-15", "location": "eastus", "tags":
      {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Network/loadBalancers/inboundNatRules",
      "apiVersion": "2022-01-01", "name": "vmss000002LB/NatRule", "location": "eastus",
      "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss000002LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "backendAddressPool": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss000002LB''), ''/backendAddressPools/'', ''vmss000002LBBEPool'')]"}, "backendPort":
      22, "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "protocol":
      "tcp", "idleTimeoutInMinutes": 5}, "dependsOn": ["[concat(''Microsoft.Network/loadBalancers/'',
      ''vmss000002LB'')]"]}, {"type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "vmss000002", "location": "eastus", "tags": {}, "apiVersion": "2024-03-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss000002VNET", "Microsoft.Network/loadBalancers/vmss000002LB",
      "Microsoft.Network/networkSecurityGroups/vmss000002NSG"], "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "Rolling"}, "singlePlacementGroup": null, "platformFaultDomainCount":
      1, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption": "FromImage",
      "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "Canonical", "offer": "0001-com-ubuntu-server-jammy", "sku": "22_04-LTS-Gen2",
      "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmss30966", "adminUsername":
      "v-jingszhang", "adminPassword": "[parameters(''adminPassword'')]", "customData":
      "CiNjbG91ZC1jb25maWcKcGFja2FnZV91cGdyYWRlOiB0cnVlCgpwYWNrYWdlczoKICAtIG5naW54Cgp3cml0ZV9maWxlczoKICAtIHBhdGg6IC92YXIvd3d3L2h0bWwvaW5kZXguaHRtbAogICAgY29udGVudDogfAogICAgICA8IURPQ1RZUEUgaHRtbD4KICAgICAgPGh0bWw+CiAgICAgIDxib2R5PgogICAgICA8aDE+SGVsbG8sIFdvcmxkITwvaDE+CiAgICAgIDwvYm9keT4KICAgICAgPC9odG1sPgogICAgb3duZXI6IHd3dy1kYXRhOnd3dy1kYXRhCiAgICBwZXJtaXNzaW9uczogJzA2NDQnCiAgLSBwYXRoOiAvdmFyL3d3dy9odG1sL2hlYWx0aC5odG1sCiAgICBjb250ZW50OiB8CiAgICAgIGhlYWx0aHkKICAgIG93bmVyOiB3d3ctZGF0YTp3d3ctZGF0YQogICAgcGVybWlzc2lvbnM6ICcwNjQ0JwogIC0gcGF0aDogL2V0Yy9uZ2lueC9zaXRlcy1hdmFpbGFibGUvZGVmYXVsdAogICAgY29udGVudDogfAogICAgICBzZXJ2ZXIgewogICAgICAgICAgbGlzdGVuIDgwIGRlZmF1bHRfc2VydmVyOwogICAgICAgICAgbGlzdGVuIFs6Ol06ODAgZGVmYXVsdF9zZXJ2ZXI7CiAgICAgICAgICByb290IC92YXIvd3d3L2h0bWw7CiAgICAgICAgICBpbmRleCBpbmRleC5odG1sOwogICAgICAgICAgc2VydmVyX25hbWUgXzsKICAgICAgICAgIGxvY2F0aW9uIC8gewogICAgICAgICAgICAgIHRyeV9maWxlcyAkdXJpICR1cmkvID00MDQ7CiAgICAgICAgICB9CiAgICAgICAgICBsb2NhdGlvbiAvaGVhbHRoIHsKICAgICAgICAgICAgICB0cnlfZmlsZXMgJHVyaS5odG1sID00MDQ7CiAgICAgICAgICB9CiAgICAgIH0KICAgIG93bmVyOiByb290OnJvb3QKICAgIHBlcm1pc3Npb25zOiAnMDY0NCcKCnJ1bmNtZDoKICAtIHN5c3RlbWN0bCBlbmFibGUgbmdpbngKICAtIHNlcnZpY2UgbmdpbnggcmVzdGFydAo="},
      "extensionProfile": {"extensions": [{"name": "ApplicationHealthLinux", "properties":
      {"publisher": "Microsoft.ManagedServices", "type": "ApplicationHealthLinux",
      "typeHandlerVersion": "1.0", "autoUpgradeMinorVersion": true, "settings": {"port":
      80, "protocol": "http", "requestPath": "/"}}}]}, "securityProfile": {"securityType":
      "TrustedLaunch", "uefiSettings": {"secureBootEnabled": true, "vTpmEnabled":
      true}}, "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmss30966Nic",
      "properties": {"ipConfigurations": [{"name": "vmss30966IPConfig", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET/subnets/vmss000002Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/loadBalancers/vmss000002LB/backendAddressPools/vmss000002LBBEPool"}]}}],
      "networkSecurityGroup": {"id": "[resourceId(''Microsoft.Network/networkSecurityGroups'',
      ''vmss000002NSG'')]"}, "primary": "true"}}]}}, "orchestrationMode": "Uniform"},
      "sku": {"name": "Standard_DS1_v2", "capacity": 2}}], "outputs": {"VMSS": {"type":
      "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss000002''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {"adminPassword": {"value": "Test123456789#"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Resources/deployments/vmss_deploy_4jAbgVhhjzuasPibuW78MzQZMbwUOs14","name":"vmss_deploy_4jAbgVhhjzuasPibuW78MzQZMbwUOs14","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8656332116935267525","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-07-18T07:17:11.506964Z","duration":"PT0.0007044S","correlationId":"e2cad29d-fb8b-4daf-ad92-71068c7a6c21","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus"]},{"resourceType":"publicIPAddresses","locations":["eastus"]},{"resourceType":"loadBalancers","locations":["eastus"]},{"resourceType":"networkSecurityGroups","locations":["eastus"]},{"resourceType":"loadBalancers/inboundNatRules","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/publicIPAddresses/vmss000002LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss000002LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/loadBalancers/vmss000002LB","resourceType":"Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584803198600301729?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Resources/deployments/vmss_de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss000002\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"etag\"\
        : \"\\\"2\\\"\",\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\
        \n    \"orchestrationMode\": \"Uniform\",\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Rolling\",\r\n      \"rollingUpgradePolicy\": {\r\n   \
        \     \"maxBatchInstancePercent\": 20,\r\n        \"maxUnhealthyInstancePercent\"\
        : 20,\r\n        \"maxUnhealthyUpgradedInstancePercent\": 20,\r\n        \"\
        pauseTimeBetweenBatches\": \"PT0S\",\r\n        \"maxSurge\": false,\r\n \
        \       \"rollbackFailedInstancesOnPolicyBreach\": false\r\n      }\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss30966\",\r\n        \"adminUsername\"\
        : \"v-jingszhang\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n       \
        \ \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n    \
        \    \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n     \
        \     \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\"\
        ,\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"\
        Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 30\r\n        },\r\
        \n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\"\
        ,\r\n          \"offer\": \"0001-com-ubuntu-server-jammy\",\r\n          \"\
        sku\": \"22_04-LTS-Gen2\",\r\n          \"version\": \"latest\"\r\n      \
        \  },\r\n        \"diskControllerType\": \"SCSI\"\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss30966Nic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        disableTcpStateTracking\":false,\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/networkSecurityGroups/vmss000002NSG\"\
        },\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\"\
        :[{\"name\":\"vmss30966IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET/subnets/vmss000002Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/loadBalancers/vmss000002LB/backendAddressPools/vmss000002LBBEPool\"\
        }]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\
        \n          {\r\n            \"name\": \"ApplicationHealthLinux\",\r\n   \
        \         \"properties\": {\r\n              \"autoUpgradeMinorVersion\":\
        \ true,\r\n              \"publisher\": \"Microsoft.ManagedServices\",\r\n\
        \              \"type\": \"ApplicationHealthLinux\",\r\n              \"typeHandlerVersion\"\
        : \"1.0\",\r\n              \"settings\": {\"port\":80,\"protocol\":\"http\"\
        ,\"requestPath\":\"/\"}\r\n            }\r\n          }\r\n        ]\r\n \
        \     },\r\n      \"securityProfile\": {\r\n        \"uefiSettings\": {\r\n\
        \          \"secureBootEnabled\": true,\r\n          \"vTpmEnabled\": true\r\
        \n        },\r\n        \"securityType\": \"TrustedLaunch\"\r\n      },\r\n\
        \      \"timeCreated\": \"2024-07-18T07:17:33.4417224+00:00\"\r\n    },\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": true,\r\
        \n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\"\
        : \"7e6d2a84-210a-49fd-9e2f-551af2450e14\",\r\n    \"platformFaultDomainCount\"\
        : 1,\r\n    \"timeCreated\": \"2024-07-18T07:17:33.4417224+00:00\"\r\n  }\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2"'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2396,Microsoft.Compute/GetVMScaleSetResource;32
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: ''
- request:
    body: '{"location": "eastus", "tags": {}, "sku": {"name": "Standard_DS1_v2", "tier":
      "Standard", "capacity": 2}, "properties": {"upgradePolicy": {"mode": "Rolling",
      "rollingUpgradePolicy": {"maxBatchInstancePercent": 20, "maxUnhealthyInstancePercent":
      20, "maxUnhealthyUpgradedInstancePercent": 20, "pauseTimeBetweenBatches": "PT0S",
      "rollbackFailedInstancesOnPolicyBreach": false, "maxSurge": false}, "automaticOSUpgradePolicy":
      {"enableAutomaticOSUpgrade": true}}, "virtualMachineProfile": {"osProfile":
      {"computerNamePrefix": "vmss30966", "adminUsername": "v-jingszhang", "linuxConfiguration":
      {"disablePasswordAuthentication": false, "provisionVMAgent": true}, "secrets":
      [], "allowExtensionOperations": true, "requireGuestProvisionSignal": true},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "createOption": "FromImage",
      "diskSizeGB": 30, "osType": "Linux", "managedDisk": {"storageAccountType": "Premium_LRS"}},
      "diskControllerType": "SCSI"}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss30966Nic", "properties": {"primary": true, "enableAcceleratedNetworking":
      false, "disableTcpStateTracking": false, "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/networkSecurityGroups/vmss000002NSG"},
      "dnsSettings": {"dnsServers": []}, "ipConfigurations": [{"name": "vmss30966IPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_update_enable_auto_os_upgrade000001/providers/Microsoft.Network/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/06788196-4295-4b83-b058-cbef616f3265?p=54253b73-cb53-496f-ab42-5e5ee19426f8&api-version=2024-03-01&t=638568839540816434&c=MIIHhzCCBm-gAwIBAgITHgTOodSfixqL4y0RCwAABM6h1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI2MDE0OT[...]
[...]
