interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001","name":"cli_test_os_disk_security_encryption000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","test":"test_os_disk_security_encryption","date":"2025-02-26T07:47:18Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/vault000002''
        under resource group ''cli_test_os_disk_security_encryption000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"foobar","givenName":null,"jobTitle":null,"mail":"aaa@foo.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"v-ruih_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","id":"52a2fda8-c59f-4bde-8c4d-48ffa466fefc"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00007E44"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "52a2fda8-c59f-4bde-8c4d-48ffa466fefc",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002","name":"vault000002","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{},"systemData":{"createdBy":"aaa@foo.com","createdByType":"User","createdAt":"2025-02-26T07:47:28.128Z","lastModifiedBy":"aaa@foo.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-26T07:47:28.128Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"52a2fda8-c59f-4bde-8c4d-48ffa466fefc","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"enablePurgeProtection":true,"vaultUri":"https://vault000002.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault000002.vault.azure.net/keys/key000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault000002.vault.azure.net/keys/key000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://vault000002.vault.azure.net/keys/key000003/c593be8575084a2b813efd0d3f9c5326","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xl8DeTY_cPfsekivDRpxwivYwncsLYshFQE14iDpaAuJRhuWAlcBtqiAEed2qjvbDf2OAOXL-lnSNmFCSc3hNnLHSAg7qzlfsoYz3br6vFD_PXjw0xIgwWNFNSfi5aCQzkYOIldit4KHmOUbbxsbby9fH6ReggCK0xSwn6eQ5NERID88pJvoI7NXEeo_m-eilxdQOg6uN071EJT5bC_TvnC1GcsRulobANGHY2N5vRA17sYXEN8HTfWp77HWQm2Kf1fhs50qfOtwsALt86eXx4tnnJCqusqV2URhqxl467j-dHLQJCXQOX1giU9hQ-kgPdYxQYb2XOHQCbgRPqS_WQ","e":"AQAB"},"attributes":{"enabled":true,"created":1740556086,"updated":1740556086,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001","name":"cli_test_os_disk_security_encryption000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","test":"test_os_disk_security_encryption","date":"2025-02-26T07:47:18Z","module":"vm","Creator":"aaa@foo.com","DateCreated":"2025-02-26T07:47:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "northeurope", "properties":
      {"activeKey": {"keyUrl": "https://vault000002.vault.azure.net/keys/key000003/c593be8575084a2b813efd0d3f9c5326",
      "sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002"}},
      "encryptionType": "ConfidentialVmEncryptedWithCustomerKey"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004?api-version=2023-04-02
  response:
    body:
      string: "{\r\n  \"location\": \"northeurope\",\r\n  \"identity\": {\r\n    \"type\":
        \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n
        \     \"sourceVault\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002\"\r\n
        \     },\r\n      \"keyUrl\": \"https://vault000002.vault.azure.net/keys/key000003/c593be8575084a2b813efd0d3f9c5326\"\r\n
        \   },\r\n    \"encryptionType\": \"ConfidentialVmEncryptedWithCustomerKey\",\r\n
        \   \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/DiskOperations/f8aa756a-3a08-40a3-adee-7f1491049578?p=4cbf85b8-e2b8-4aec-b8e4-074490a0ba02&api-version=2023-04-02&t=638761528947606335&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAld[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/DiskOperations/f8aa756a-3a08-40a3-adee-7f1491049578?p=4cbf85b8-e2b8-4aec-b8e4-074490a0ba02&api-version=2023-04-02&t=638761528947606335&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004?api-version=2023-04-02
  response:
    body:
      string: "{\r\n  \"name\": \"des1000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004\",\r\n
        \ \"type\": \"Microsoft.Compute/diskEncryptionSets\",\r\n  \"location\": \"northeurope\",\r\n
        \ \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\":
        \"254f5ef3-e43b-48c7-95f1-d28525b3d52a\",\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n      \"sourceVault\":
        {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002\"\r\n
        \     },\r\n      \"keyUrl\": \"https://vault000002.vault.azure.net/keys/key000003/c593be8575084a2b813efd0d3f9c5326\"\r\n
        \   },\r\n    \"encryptionType\": \"ConfidentialVmEncryptedWithCustomerKey\",\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;14999,Microsoft.Compute/LowCostGet30Min;119999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "52a2fda8-c59f-4bde-8c4d-48ffa466fefc",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "254f5ef[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27254f5ef3-e43b-48c7-95f1-d28525b3d52a%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00003BA6"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["254f5ef3-e43b-48c7-95f1-d28525b3d52a"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"254f5ef3-e43b-48c7-95f1-d28525b3d52a","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004"],"appDisplayName":null,"appDescription":null,"appId":"eb779cc0-a4a6-4826-9962-fda38ef4c8cc","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2025-02-26T07:48:13Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"des1000004","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["eb779cc0-a4a6-4826-9962-fda38ef4c8cc","https://identity.azure.net/jHmemf2/2SuItbgmwzPCiKsfCsUe6JS5pMvbjHaQJgw="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"6738DA1C7813D425D03A6615F001760EC71B6E17","displayName":"CN=eb779cc0-a4a6-4826-9962-fda38ef4c8cc,
        DC=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","endDateTime":"2025-05-27T07:43:00Z","key":null,"keyId":"a06457c6-a758-4add-9df0-c95203a0099b","startDateTime":"2025-02-26T07:43:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCE"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"View
        all resources, but does not allow you to make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:47.8628684Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "254f5ef3-e43b-48c7-95f1-d28525b3d52a", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"254f5ef3-e43b-48c7-95f1-d28525b3d52a","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002","condition":null,"conditionVersion":null,"createdOn":"2025-02-26T07:48:40.5101593Z","updatedOn":"2025-02-26T07:48:41.5118279Z","createdBy":null,"updatedBy":"52a2fda8-c59f-4bde-8c4d-48ffa466fefc","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.KeyVault/vaults/vault000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions?$top=1&$orderby=name%20desc&api-version=2024-07-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"northeurope\",\r\n    \"name\": \"20348.3207.250210\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.3207.250210\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-smalldisk-g2/versions/20348.3207.250210?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n
        \   \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\":
        \"SecurityType\",\r\n        \"value\": \"TrustedLaunchAndConfidentialVmSupported\"\r\n
        \     },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n
        \       \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInGb\":
        30\r\n    },\r\n    \"dataDiskImages\": [],\r\n    \"goLiveDate\": \"2025-02-13T00:00:00+00:00\"\r\n
        \ },\r\n  \"location\": \"northeurope\",\r\n  \"name\": \"20348.3207.250210\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-smalldisk-g2/Versions/20348.3207.250210\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm1000005VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "northeurope", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm1000005Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm1000005NSG", "apiVersion":
      "2015-06-15", "location": "northeurope", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vm1000005PublicIP",
      "location": "northeurope", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}, {"apiVersion": "2015-06-15", "type":
      "Microsoft.Network/networkInterfaces", "name": "vm1000005VMNic", "location":
      "northeurope", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1000005VNET",
      "Microsoft.Network/networkSecurityGroups/vm1000005NSG", "Microsoft.Network/publicIpAddresses/vm1000005PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm1000005", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/virtualNetworks/vm1000005VNET/subnets/vm1000005Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/publicIPAddresses/vm1000005PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/networkSecurityGroups/vm1000005NSG"}}},
      {"apiVersion": "2024-07-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1000005", "location": "northeurope", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1000005VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DC2as_v5"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/networkInterfaces/vm1000005VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null, "securityProfile": {"securityEncryptionType": "DiskWithVMGuestState",
      "diskEncryptionSet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1000004"}}}},
      "imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2022-datacenter-smalldisk-g2", "version": "latest"}}, "osProfile": {"computerName":
      "vm1000005", "adminUsername": "testuser", "adminPassword": "[parameters(''adminPassword'')]"},
      "securityProfile": {"securityType": "ConfidentialVM", "uefiSettings": {"secureBootEnabled":
      true, "vTpmEnabled": true}}}}], "outputs": {}}, "parameters": {"adminPassword":
      {"value": "testPassword0"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Resources/deployments/vm_deploy_fuIum107HKUFbve5cYtrclnuKpaspRUk","name":"vm_deploy_fuIum107HKUFbve5cYtrclnuKpaspRUk","type":"Microsoft.Resources/deployments","properties":{"templateHash":"16128367393168592838","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-02-26T07:49:00.3552046Z","duration":"PT0.0005195S","correlationId":"b55a7bb8-85ce-4a56-ace5-223345df3a0b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["northeurope"]},{"resourceType":"networkSecurityGroups","locations":["northeurope"]},{"resourceType":"publicIPAddresses","locations":["northeurope"]},{"resourceType":"networkInterfaces","locations":["northeurope"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["northeurope"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/virtualNetworks/vm1000005VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1000005VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/networkSecurityGroups/vm1000005NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1000005NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Network/publicIPAddresses/vm1000005PublicIP","resourceType":"Microsoft.Networ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584610507490640443?api-version=2022-09-01&t=638761529424011914&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/virtualMachines/vm1000005?$expand=instanceView&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_os_disk_security_encryption000001/providers/Microsoft.Compute/virtualMachines/vm1000005\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"northeurope\",\r\n
[...]
