interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_explicit_msi000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001","name":"cli_test_vmss_explicit_msi000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_explicit_msi","date":"2026-02-12T06:03:11Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1?api-version=2024-11-30
  response:
    body:
      string: '{"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1","name":"id1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","tenantId":"4b71fe15-44c6-47b7-94ac-5a6b2cc290e9","principalId":"9d15a280-12b3-4309-bc46-71b0b2897d18","clientId":"e4156262-fe4f-45ce-9765-d82bf98f16f6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/16.04-LTS/versions?$expand=properties&$orderby=name%20desc&$top=1&api-version=2024-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"properties\": {\r\n      \"hyperVGeneration\": \"V1\",\r\n
        \     \"architecture\": \"x64\",\r\n      \"replicaType\": \"Unmanaged\",\r\n
        \     \"replicaCount\": null,\r\n      \"goLiveDate\": \"2025-11-13T00:00:00+00:00\"\r\n
        \   },\r\n    \"extendedLocation\": null,\r\n    \"location\": \"westcentralus\",\r\n
        \   \"name\": \"16.04.202109281\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westcentralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/16.04-LTS/Versions/16.04.202109281\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43998
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/16.04-LTS/versions/16.04.202109281?api-version=2024-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"imageDiscontinuationStatus\":
        {\r\n      \"imageDiscontinuationState\": \"None\",\r\n      \"imageDiscontinuationDate\":
        \"9999-12-31T23:59:59.9999999+00:00\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\": 32213303808\r\n
        \   },\r\n    \"dataDiskImages\": [],\r\n    \"goLiveDate\": \"2025-11-13T00:00:00+00:00\"\r\n
        \ },\r\n  \"location\": \"westcentralus\",\r\n  \"name\": \"16.04.202109281\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westcentralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/16.04-LTS/Versions/16.04.202109281\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"View
        all resources, but does not allow you to make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:47.8628684Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westcentralus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss1LBPublicIP",
      "location": "westcentralus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "vmss1LB", "location": "westcentralus", "tags": {}, "apiVersion": "2022-01-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1LB''),
      ''/backendAddressPools/'', ''vmss1LBBEPool'')]"}, "protocol": "tcp", "frontendPort":
      80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes": 5}}]},
      "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss1NSG", "apiVersion": "2015-06-15", "location": "westcentralus",
      "tags": {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Network/loadBalancers/inboundNatRules",
      "apiVersion": "2022-01-01", "name": "vmss1LB/NatRule", "location": "westcentralus",
      "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "backendAddressPool": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1LB''), ''/backendAddressPools/'', ''vmss1LBBEPool'')]"}, "backendPort":
      22, "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "protocol":
      "tcp", "idleTimeoutInMinutes": 5}, "dependsOn": ["[concat(''Microsoft.Network/loadBalancers/'',
      ''vmss1LB'')]"]}, {"name": "55eddd30-6f94-43fb-b28e-f70cbc5a0a33", "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2015-07-01", "dependsOn": ["Microsoft.Compute/virtualMachineScaleSets/vmss1"],
      "properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "[reference(''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1'',
      ''2019-07-01'', ''Full'').identity.principalId]", "scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001"}},
      {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1", "location":
      "westcentralus", "tags": {}, "apiVersion": "2024-11-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB", "Microsoft.Network/networkSecurityGroups/vmss1NSG"],
      "properties": {"overprovision": true, "upgradePolicy": {"mode": "manual"}, "singlePlacementGroup":
      null, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption":
      "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}},
      "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04-LTS", "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmss18960",
      "adminUsername": "ubuntuadmin", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"path": "/home/ubuntuadmin/.ssh/authorized_keys",
      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCkOh2iDfHe9rJRL86GH7eUB+T08MZ+PmiPzJobcaOkOwTYfihPwsuKqbNXXB4C075i+jh3tm5pfBebJz5FNiwM+w5zyjFyCrNlaEzvzcQs79zAozhep1KEckN6dd5xjk3rvwmzHh4ZpofK79H1OkJv09kyQkF9y2cNSJgsEtjq1ToUTJXRpPYSxwpvd6CFFCS7GShuMQk/djrN7bVXSoIIPRyLiN73UD574HvnKGS13OYtmCAXrYUuruqrhXCBkpB/Z4IvQEbuR/TsFPCc54ek6Sm0UXZOp/iXYkXFoRZEVHQhUwj9g6NJz4zR/F3ZdgyYQfIHJ+tY+5UaoLwYNn2B"}]}}},
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmss18960Nic",
      "properties": {"ipConfigurations": [{"name": "vmss18960IPConfig", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}]}}],
      "networkSecurityGroup": {"id": "[resourceId(''Microsoft.Network/networkSecurityGroups'',
      ''vmss1NSG'')]"}, "primary": "true"}}]}}, "orchestrationMode": "Uniform"}, "sku":
      {"name": "Standard_B1ls", "capacity": 1}, "identity": {"type": "SystemAssigned,UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}}}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Resources/deployments/vmss_deploy_NqJ2TLyGy8B9PKQU9JRinZEYhRcMnEr3","name":"vmss_deploy_NqJ2TLyGy8B9PKQU9JRinZEYhRcMnEr3","type":"Microsoft.Resources/deployments","properties":{"templateHash":"15400433907203169666","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2026-02-12T06:03:35.1622813Z","duration":"PT0S","correlationId":"690d658c-d390-4387-a53e-06244b0ae67f","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westcentralus"]},{"resourceType":"publicIPAddresses","locations":["westcentralus"]},{"resourceType":"loadBalancers","locations":["westcentralus"]},{"resourceType":"networkSecurityGroups","locations":["westcentralus"]},{"resourceType":"loadBalancers/inboundNatRules","locations":["westcentralus"]}]},{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleAssignments","locations":[null]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westcentralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584307306703151433?api-version=2024-11-01&t=639064730168810487&c=MIIHwzCCBqugAwIBAgIQXVokCjoBy2ohckt4PAvhMjANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMTI4MTQ0MTQ1WhcNMjYwN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Resources/deployments/vmss_deploy_NqJ2TLyGy8B9PKQU9JRinZEYhRcMn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2024-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"westcentralus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\":
        \"SystemAssigned, UserAssigned\",\r\n    \"principalId\": \"469c9c8d-ab6b-4f13-9a23-5f16c6947435\",\r\n
        \   \"tenantId\": \"4b71fe15-44c6-47b7-94ac-5a6b2cc290e9\",\r\n    \"userAssignedIdentities\":
        {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1\":
        {\r\n        \"principalId\": \"9d15a280-12b3-4309-bc46-71b0b2897d18\",\r\n
        \       \"clientId\": \"e4156262-fe4f-45ce-9765-d82bf98f16f6\"\r\n      }\r\n
        \   }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_B1ls\",\r\n    \"tier\":
        \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"etag\": \"\\\"1\\\"\",\r\n
        \ \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"orchestrationMode\":
        \"Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n
        \   },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\":
        \"vmss18960\",\r\n        \"adminUsername\": \"ubuntuadmin\",\r\n        \"linuxConfiguration\":
        {\r\n          \"disablePasswordAuthentication\": true,\r\n          \"ssh\":
        {\r\n            \"publicKeys\": [\r\n              {\r\n                \"path\":
        \"/home/ubuntuadmin/.ssh/authorized_keys\",\r\n                \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCkOh2iDfHe9rJRL86GH7eUB+T08MZ+PmiPzJobcaOkOwTYfihPwsuKqbNXXB4C075i+jh3tm5pfBebJz5FNiwM+w5zyjFyCrNlaEzvzcQs79zAozhep1KEckN6dd5xjk3rvwmzHh4ZpofK79H1OkJv09kyQkF9y2cNSJgsEtjq1ToUTJXRpPYSxwpvd6CFFCS7GShuMQk/djrN7bVXSoIIPRyLiN73UD574HvnKGS13OYtmCAXrYUuruqrhXCBkpB/Z4IvQEbuR/TsFPCc54ek6Sm0UXZOp/iXYkXFoRZEVHQhUwj9g6NJz4zR/F3ZdgyYQfIHJ+tY+5UaoLwYNn2B\"\r\n
        \             }\r\n            ]\r\n          },\r\n          \"provisionVMAgent\":
        true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\":
        true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\":
        {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\":
        \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\":
        {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n
        \         \"diskSizeGB\": 30\r\n        },\r\n        \"imageReference\":
        {\r\n          \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n
        \         \"sku\": \"16.04-LTS\",\r\n          \"version\": \"latest\"\r\n
        \       }\r\n      },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss18960Nic\",\"properties\":{\"primary\":true,\"disableTcpStateTracking\":false,\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/networkSecurityGroups/vmss1NSG\"},\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"vmss18960IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"}]}}]}}]},\r\n
        \     \"timeCreated\": \"2026-02-12T06:03:46.2895534+00:00\"\r\n    },\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": true,\r\n
        \   \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\":
        \"cd0c8e7b-4f5a-4e0b-80ab-09627c83f697\",\r\n    \"platformFaultDomainCount\":
        5,\r\n    \"timeCreated\": \"2026-02-12T06:03:46.2895534+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1"'
      x-ms-need-to-refresh-epl-cache:
      - 'False'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2394,Microsoft.Compute/GetVMScaleSetResource;30
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/operations/94b882b8-5290-43e4-b5d5-6ca54914964f?p=73367a40-d7e3-4f72-b737-5f7322f12a11&api-version=2024-11-01&t=639064730875492819&c=MIIHwzCCBqugAwIBAgIQXVokCjoBy2ohckt4PAvhMjANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMTI4MTQ0MTQ1WhcNMjYwNzIzMjA[...]
[...]
- request:
    body: '{"instanceIds": ["*"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_explicit_msi000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/manualupgrade?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/operations/23bbab06-cd8a-4049-b8bb-9cbae86c0b16?p=73367a40-d7e3-4f72-b737-5f7322f12a11&api-version=2024-11-01&t=639064731297347596&c=MIIHwzCCBqugAwIBAgIQXVokCjoBy2ohckt4PAvhMjANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMTI4MTQ0MTQ1WhcNMjYwNzIzMjA0MTQ1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/operations/23bbab06-cd8a-4049-b8bb-9cbae86c0b16?p=73367a40-d7e3-4f72-b737-5f7322f12a11&api-version=2024-11-01&t=639064731297347596&c=MIIHwzCCBqugAwIBAgIQXVokCjoBy2ohckt4PAvhMjANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMTI4MTQ0MTQ1WhcNMjYwNzIzMjA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/operations/23bbab06-cd8a-4049-b8bb-9cbae86c0b16?p=73367a40-d7e3-4f72-b737-5f7322f12a11&monitor=true&api-version=2024-11-01&t=639064731297347596&c=MIIHwzCCBqugAwIBAgIQXVokCjoBy2ohckt4PAvhMjANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMTI4MTQ0MTQ1Wh[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/operations/9f06df68-b29d-4f77-b40f-bd253cd56efb?p=73367a40-d7e3-4f72-b737-5f7322f12a11&api-version=2024-11-01&t=639064731345857543&c=MIIHwzCCBqugAwIBAgIQXVokCjoBy2ohckt4PAvhMjANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMTI4MTQ0MTQ1WhcNMjYwNzIzMjA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/operations/75c86941-931a-4477-a6d5-fff1abd7af95?p=73367a40-d7e3-4f72-b737-5f7322f12a11&api-version=2024-11-01&t=639064731805276552&c=MIIHwzCCBqugAwIBAgIQXVokCjoBy2ohckt4PAvhMjANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMTI4MTQ0MTQ1WhcNMjYwNzIzMjA[...]
[...]
