interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_existing_ids000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001","name":"cli_test_vmss_create_existing_ids000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-05-16T09:18:42Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "vrfsubnet"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/virtualNetworks/vrfvnet?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/virtualNetworks/vrfvnet\",\r\n
        \ \"etag\": \"W/\\\"269b8111-5e23-4b16-bff0-2cb54a4e88a8\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"5168657d-52f8-4798-88af-559111969f7b\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"vrfsubnet\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet\",\r\n
        \       \"etag\": \"W/\\\"269b8111-5e23-4b16-bff0-2cb54a4e88a8\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/836580eb-3a27-480a-b156-cb611783a31b?api-version=2020-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/836580eb-3a27-480a-b156-cb611783a31b?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_vmss_create_existing_ids000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2020-04-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPvrflb", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"publicIPAllocationMethod": "Dynamic"}, "sku": {"name": "Basic"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "vrflb", "location": "westus",
      "tags": {}, "apiVersion": "2020-04-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPvrflb"],
      "properties": {"backendAddressPools": [{"name": "mybepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/publicIPAddresses/PublicIPvrflb"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Basic"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(\''vrflb\'')]"}}},
      "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Resources/deployments/lb_deploy_LzWQIqCWAVxcCYLPFrEzzmjlimkBi361","name":"lb_deploy_LzWQIqCWAVxcCYLPFrEzzmjlimkBi361","type":"Microsoft.Resources/deployments","properties":{"templateHash":"12379529493753842146","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-05-16T09:19:02.6391032Z","duration":"PT2.3591214S","correlationId":"4d7c572c-1e71-4b3a-8a1c-dfc419d9e686","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/publicIPAddresses/PublicIPvrflb","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPvrflb"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/loadBalancers/vrflb","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vrflb"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Resources/deployments/lb_deploy_LzWQIqCWAVxcCYLPFrEzzmjlimkBi361/operationStatuses/08586119861451976309?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586119861451976309?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"CoreOS\": {\n            \"publisher\": \"CoreOS\",\n            \"offer\":
        \"CoreOS\",\n            \"sku\": \"Stable\",\n            \"version\": \"latest\"\n
        \         },\n          \"Debian\": {\n            \"publisher\": \"Debian\",\n
        \           \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n            \"version\":
        \"latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\":
        \"42.3\",\n            \"version\": \"latest\"\n          },\n          \"RHEL\":
        {\n            \"publisher\": \"RedHat\",\n            \"offer\": \"RHEL\",\n
        \           \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n          },\n
        \         \"SLES\": {\n            \"publisher\": \"SUSE\",\n            \"offer\":
        \"SLES\",\n            \"sku\": \"15\",\n            \"version\": \"latest\"\n
        \         },\n          \"UbuntuLTS\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n
        \           \"version\": \"latest\"\n          }\n        },\n        \"Windows\":
        {\n          \"Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n            \"version\":
        \"latest\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"540044b4084c3c314537f1baa1770f248628b2bc9ba0328f1004c33862e049da"
      source-age:
      - '28'
      x-fastly-request-id:
      - 192b8bd4c23594281a11805a6b66df917bd8567d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/virtualNetworks/vrfvnet?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/virtualNe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/loadBalancers/vrflb?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrflb\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/loadBalancers/vrflb\",\r\n
        \ \"etag\": \"W/\\\"57c4a9d1-641f-40fe-92ad-52b5aaaadae3\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"76c78d1c-ab44-44b1-a6b1-17e81fd41b2b\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/loadBalancers/vrflb/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"57c4a9d1-641f-40fe-92ad-52b5aaaadae3\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/publicIPAddresses/PublicIPvrflb\"\r\n
        \         }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\":
        [\r\n      {\r\n        \"name\": \"mybepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/loadBalancers/vrflb/backendAddressPools/mybepool\",\r\n
        \       \"etag\": \"W/\\\"57c4a9d1-641f-40fe-92ad-52b5aaaadae3\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n
        \     }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n
        \   \"inboundNatRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"57c4a9d1-641f-40fe-92ad-52b5aaaadae3"
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"storageAccountNames":
      ["vrfvma8eb0", "vrfvma8eb1", "vrfvma8eb2", "vrfvma8eb3", "vrfvma8eb4"], "vhdContainers":
      ["[concat(\''https://\'', variables(\''storageAccountNames\'')[0], \''.blob.core.windows.net/vrfcontainer\'')]",
      "[concat(\''https://\'', variables(\''storageAccountNames\'')[1], \''.blob.core.windows.net/vrfcontainer\'')]",
      "[concat(\''https://\'', variables(\''storageAccountNames\'')[2], \''.blob.core.windows.net/vrfcontainer\'')]",
      "[concat(\''https://\'', variables(\''storageAccountNames\'')[3], \''.blob.core.windows.net/vrfcontainer\'')]",
      "[concat(\''https://\'', variables(\''storageAccountNames\'')[4], \''.blob.core.windows.net/vrfcontainer\'')]"]},
      "resources": [{"type": "Microsoft.Storage/storageAccounts", "name": "[variables(\''storageAccountNames\'')[copyIndex()]]",
      "location": "westus", "tags": {}, "apiVersion": "2015-06-15", "copy": {"name":
      "storageLoop", "count": 5}, "properties": {"accountType": "Standard_LRS"}},
      {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vrfvmss", "location":
      "westus", "tags": {}, "apiVersion": "2019-12-01", "dependsOn": ["storageLoop"],
      "sku": {"name": "Standard_A3", "capacity": 2}, "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual"}, "virtualMachineProfile": {"storageProfile":
      {"osDisk": {"name": "vrfosdisk", "caching": "ReadWrite", "createOption": "FromImage",
      "vhdContainers": "[variables(\''vhdContainers\'')]"}, "imageReference": {"publisher":
      "OpenLogic", "offer": "CentOS", "sku": "7.5", "version": "latest"}}, "networkProfile":
      {"networkInterfaceConfigurations": [{"name": "vrfvma8ebNic", "properties": {"primary":
      "true", "ipConfigurations": [{"name": "vrfvma8ebIPConfig", "properties": {"subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/loadBalancers/vrflb/backendAddressPools/mybepool"}]}}]}}]},
      "osProfile": {"computerNamePrefix": "vrfvma8eb", "adminUsername": "ubuntu",
      "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"path": "/home/ubuntu/.ssh/authorized_keys", "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\n"}]}}}}, "singlePlacementGroup": null}}], "outputs": {"VMSS":
      {"type": "object", "value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vrfvmss\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_existing_ids000001/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"name\": \"vrfvmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_A3\",\r\n
        \   \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\":
        {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\":
        \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\":
        {\r\n        \"computerNamePrefix\": \"vrfvma8eb\",\r\n        \"adminUsername\":
        \"ubuntu\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\":
        true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n              {\r\n
        \               \"path\": \"/home/ubuntu/.ssh/authorized_keys\",\r\n                \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\r\n              }\r\n            ]\r\n          },\r\n
        \         \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\":
        [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\":
        true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n
        \         \"vhdContainers\": [\r\n            \"https://vrfvma8eb0.blob.core.windows.net/vrfcontainer\",\r\n
        \           \"https://vrfvma8eb1.blob.core.windows.net/vrfcontainer\",\r\n
        \           \"https://vrfvma8eb2.blob.core.windows.net/vrfcontainer\",\r\n
        \           \"https://vrfvma8eb3.blob.core.windows.net/vrfcontainer\",\r\n
        \           \"https://vrfvma8eb4.blob.core.windows.net/vrfcontainer\"\r\n
        \         ],\r\n          \"name\": \"vrfosdisk\",\r\n          \"createOption\":
        \"FromImage\",\r\n          \"caching\": \"ReadWrite\"\r\n        },\r\n        \"imageReference\":
        {\r\n          \"publisher\": \"OpenLogic\",\r\n          \"offer\": \"CentOS\",\r\n
        \         \"sku\": \"7.5\",\r\n          \"version\": \"latest\"\r\n        }\r\n
        \     },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vrfvma8ebNic\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"vrfvma8ebIPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_ids000001/providers/Microsoft.Network/loadBalancers/vrflb/backendAddressPools/mybepool\"}]}}]}}]}\r\n
        \   },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\":
        true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\":
        \"fcf52e14-5391-4f01-9a34-98cb452cf399\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSet3Min;393,Microsoft.Compute/GetVMScaleSet30Min;2587
    status:
      code: 200
      message: OK
[...]
