interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_size_properties000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001","name":"cli_test_vm_size_properties000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_size_properties","date":"2023-12-19T07:47:39Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions?$top=1&$orderby=name%20desc&api-version=2023-09-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"7.5.201808150\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions/7.5.201808150?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"osDiskImage\": {\r\n
        \     \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\": 32212255232\r\n
        \   },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\",\r\n
        \ \"name\": \"7.5.201808150\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12998,Microsoft.Compute/GetVMImageFromLocation30Min;73998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm-000002VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm-000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm-000002NSG", "apiVersion":
      "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-000002PublicIP", "location": "westus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm-000002VMNic", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm-000002VNET",
      "Microsoft.Network/networkSecurityGroups/vm-000002NSG", "Microsoft.Network/publicIpAddresses/vm-000002PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm-000002", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/virtualNetworks/vm-000002VNET/subnets/vm-000002Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkSecurityGroups/vm-000002NSG"}}},
      {"apiVersion": "2023-09-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-000002", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm-000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_D2s_v3", "vmSizeProperties":
      {"vCPUsAvailable": 1, "vCPUsPerCore": 1}}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "OpenLogic", "offer": "CentOS", "sku":
      "7.5", "version": "latest"}}, "osProfile": {"computerName": "vm-000002", "adminUsername":
      "vmtest", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCey0/ipz0OxUGA6xunJY5HdhvlsyRf2JdpnRaH0UU5KsAiajLq5HifCzJAEpRvWXIIYKSrqNi+hSmKRXiGJaHnK0dm0QO8YvM/Ab+MZUZ0L9VRznMoLsexTgDEC6QidxP5VYxXQwzgvbK1kn1J+7QTmd9JzV4Q83EEIZM5VGp7DwuUzhSuUN4LNJ9TnsCpjZwDIqIIGo9kLRLov+CfPb50o/768pa4W87a7FDJc74gvu/Qh7K05ztWNABlqYk5QsSkLWosN/vCaR+Nlh6EroTUw679G0MLj2WD/P0vLbiy1Xgf2oZ4Q5vLOQfoU2SWNkzzmfpdu3o9+VWNQppUZPyt",
      "path": "/home/vmtest/.ssh/authorized_keys"}]}}}}}], "outputs": {}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_size_properties000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Resources/deployments/vm_deploy_QF1kAPPKI4dJFPtMgdh29EYSyDArtAPg","name":"vm_deploy_QF1kAPPKI4dJFPtMgdh29EYSyDArtAPg","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8359374383385231091","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-12-19T07:48:02.7036032Z","duration":"PT0.0004448S","correlationId":"8eaad847-49ee-4eea-919d-7e15b0f321a0","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/virtualNetworks/vm-000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkSecurityGroups/vm-000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-000002PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-000002VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-000002VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Compute/virtualMachines/vm-000002","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_size_properties000001/providers/Microsoft.Resources/deployments/vm_deploy_QF1kAPPKI4dJFPtMgdh29EYSyDArtAPg/operationStatuses/08584986348058339427?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_size_properties000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584986348058339427?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_size_properties000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Resources/deployments/vm_deploy_QF1kAPPKI4dJFPtMgdh29EYSyDArt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Compute/virtualMachines/vm-000002?$expand=instanceView&api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Compute/virtualMachines/vm-000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\":
        \"Standard_D2s_v3\",\r\n      \"vmSizeProperties\": {\r\n        \"vCPUsAvailable\":
        1,\r\n        \"vCPUsPerCore\": 1\r\n      }\r\n    },\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"vmId\": \"eb0c910e-1322-4484-81a6-d553c74386d5\",\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"OpenLogic\",\r\n        \"offer\": \"CentOS\",\r\n        \"sku\": \"7.5\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"7.5.201808150\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"vm-000002_OsDisk_1_1706acb033004949b1bf863727168777\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Compute/disks/vm-000002_OsDisk_1_1706acb033004949b1bf863727168777\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vm-000002\",\r\n      \"adminUsername\": \"vmtest\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/vmtest/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCey0/ipz0OxUGA6xunJY5HdhvlsyRf2JdpnRaH0UU5KsAiajLq5HifCzJAEpRvWXIIYKSrqNi+hSmKRXiGJaHnK0dm0QO8YvM/Ab+MZUZ0L9VRznMoLsexTgDEC6QidxP5VYxXQwzgvbK1kn1J+7QTmd9JzV4Q83EEIZM5VGp7DwuUzhSuUN4LNJ9TnsCpjZwDIqIIGo9kLRLov+CfPb50o/768pa4W87a7FDJc74gvu/Qh7K05ztWNABlqYk5QsSkLWosN/vCaR+Nlh6EroTUw679G0MLj2WD/P0vLbiy1Xgf2oZ4Q5vLOQfoU2SWNkzzmfpdu3o9+VWNQppUZPyt\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n
        \         \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic\"}]},\r\n
        \   \"instanceView\": {\r\n      \"computerName\": \"vm-000002\",\r\n      \"osName\":
        \"centos\",\r\n      \"osVersion\": \"7.5.1804\",\r\n      \"vmAgent\": {\r\n
        \       \"vmAgentVersion\": \"2.9.1.1\",\r\n        \"statuses\": [\r\n          {\r\n
        \           \"code\": \"ProvisioningState/succeeded\",\r\n            \"level\":
        \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\":
        \"Guest Agent is running\",\r\n            \"time\": \"2023-12-19T07:49:40+00:00\"\r\n
        \         }\r\n        ],\r\n        \"extensionHandlers\": []\r\n      },\r\n
        \     \"disks\": [\r\n        {\r\n          \"name\": \"vm-000002_OsDisk_1_1706acb033004949b1bf863727168777\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-12-19T07:48:27.1240159+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-12-19T07:49:41.2179469+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-12-19T07:48:25.8420469+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23992,Microsoft.Compute/LowCostGetResource;32
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic\",\r\n
        \ \"etag\": \"W/\\\"f814d8ba-d8c2-4d99-893a-7c2133178071\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"949b8654-9774-4b77-a822-9166d97182ea\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigvm-000002\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic/ipConfigurations/ipconfigvm-000002\",\r\n
        \       \"etag\": \"W/\\\"f814d8ba-d8c2-4d99-893a-7c2133178071\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/virtualNetworks/vm-000002VNET/subnets/vm-000002Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"pgkw5slre5qujllnwuadv0uchb.dx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-0D-3A-59-AC-16\",\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
        false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkSecurityGroups/vm-000002NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Compute/virtualMachines/vm-000002\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"auxiliaryMode\":
        \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
        \ \"location\": \"westus\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f814d8ba-d8c2-4d99-893a-7c2133178071"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP\",\r\n
        \ \"etag\": \"W/\\\"83b7942b-b805-4ba1-9d27-149013d4d0b7\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"af0f7f06-933e-462c-90a2-27df5ab64335\",\r\n
        \   \"ipAddress\": \"20.253.134.136\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic/ipConfigurations/ipconfigvm-000002\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83b7942b-b805-4ba1-9d27-149013d4d0b7"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Compute/virtualMachines/vm-000002?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Compute/virtualMachines/v[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/c4438384-d6b8-4a48-9a38-30f3d509e664?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2023-09-01&t=638385690180019622&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_size_properties000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001","name":"cli_test_vm_size_properties000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_vm_size_properties","date":"2023-12-19T07:47:39Z","module":"vm","Creator":"v-jingszhang@microsoft.com","DateCreated":"2023-12-19T07:49:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2023-09-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"18.04.202306070\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15984,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43984
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202306070?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\":
        32213303808\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\":
        \"westus\",\r\n  \"name\": \"18.04.202306070\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12982,Microsoft.Compute/GetVMImageFromLocation30Min;73981
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vmss000003LBPublicIP", "location": "westus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "vmss000003LB", "location":
      "westus", "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/vmss000003LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss000003LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_size_properties000001/providers/Microsoft.Network/publicIPAddresses/vmss000003LBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss000003LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss000003LB''),
      ''/backendAddressPools/'', ''vmss000003LBBEPool'')]"}, "protocol": "tcp", "frontendPort":
      80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes": 5}}]},
      "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss000003NSG", "apiVersion": "2015-06-15", "location": "westus", "tags":
      {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Network/loadBalancers/inboundNatRules",
      "apiVersion": "2022-01-01", "name": "vmss000003LB/NatRule", "location": "westus",
      "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss000003LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "backendAddressPool": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss000003LB''), ''/backendAddressPools/'', ''vmss000003LBBEPool'')]"}, "backendPort":
[...]
