interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2023-09-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus2\",\r\n    \"name\": \"18.04.202306070\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43994
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202306070?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInBytes\":
        32213303808\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\":
        \"westus2\",\r\n  \"name\": \"18.04.202306070\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202306070\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73995
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/vmSizes?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_M208ms_v2\",\r\n
        \     \"numberOfCores\": 208,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4194304,\r\n      \"memoryInMB\": 5836800,\r\n      \"maxDataDiskCount\":
        64\r\n    },\r\n    {\r\n      \"name\": \"Standard_M208s_v2\",\r\n      \"numberOfCores\":
        208,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4194304,\r\n      \"memoryInMB\": 2918400,\r\n      \"maxDataDiskCount\":
        64\r\n    },\r\n    {\r\n      \"name\": \"Standard_M416-208s_v2\",\r\n      \"numberOfCores\":
        416,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        8388608,\r\n      \"memoryInMB\":[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "cli-test-vm-local-baseVNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags":
      {}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "cli-test-vm-local-baseSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"type": "Microsoft.Network/networkSecurityGroups", "name": "cli-test-vm-local-baseNSG",
      "apiVersion": "2015-06-15", "location": "westus2", "tags": {}, "dependsOn":
      [], "properties": {"securityRules": [{"name": "default-allow-ssh", "properties":
      {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "cli-test-vm-local-basePublicIP", "location": "westus2", "tags": {},
      "dependsOn": [], "properties": {"publicIPAllocationMethod": "Static"}, "sku":
      {"name": "Standard"}}, {"apiVersion": "2016-09-01", "type": "Microsoft.Network/networkInterfaces",
      "name": "cli-test-vm-local-baseVMNic", "location": "westus2", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/cli-test-vm-local-baseVNET", "Microsoft.Network/networkSecurityGroups/cli-test-vm-local-baseNSG",
      "Microsoft.Network/publicIpAddresses/cli-test-vm-local-basePublicIP"], "properties":
      {"ipConfigurations": [{"name": "ipconfigcli-test-vm-local-base", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm-local-baseVNET/subnets/cli-test-vm-local-baseSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm-local-basePublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm-local-baseNSG"},
      "enableAcceleratedNetworking": true}}, {"apiVersion": "2023-09-01", "type":
      "Microsoft.Compute/virtualMachines", "name": "cli-test-vm-local-base", "location":
      "westus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS4_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "18.04-LTS", "version": "latest"}}, "osProfile": {"computerName": "cli-test-vm-local-base",
      "adminUsername": "vmtest", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCey0/ipz0OxUGA6xunJY5HdhvlsyRf2JdpnRaH0UU5KsAiajLq5HifCzJAEpRvWXIIYKSrqNi+hSmKRXiGJaHnK0dm0QO8YvM/Ab+MZUZ0L9VRznMoLsexTgDEC6QidxP5VYxXQwzgvbK1kn1J+7QTmd9JzV4Q83EEIZM5VGp7DwuUzhSuUN4LNJ9TnsCpjZwDIqIIGo9kLRLov+CfPb50o/768pa4W87a7FDJc74gvu/Qh7K05ztWNABlqYk5QsSkLWosN/vCaR+Nlh6EroTUw679G0MLj2WD/P0vLbiy1Xgf2oZ4Q5vLOQfoU2SWNkzzmfpdu3o9+VWNQppUZPyt",
      "path": "/home/vmtest/.ssh/authorized_keys"}]}}}}}], "outputs": {}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_update_size_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Resources/deployments/vm_deploy_3DesnDS7uXXfB7FTJA9RApPWLbD6hvcm","name":"vm_deploy_3DesnDS7uXXfB7FTJA9RApPWLbD6hvcm","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7738108351835765398","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-12-19T08:02:55.6569483Z","duration":"PT0.0002202S","correlationId":"a53a08b4-0d0f-4903-94e2-f5c88ed5d121","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus2"]},{"resourceType":"networkSecurityGroups","locations":["westus2"]},{"resourceType":"publicIPAddresses","locations":["westus2"]},{"resourceType":"networkInterfaces","locations":["westus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm-local-baseVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"cli-test-vm-local-baseVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm-local-baseNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"cli-test-vm-local-baseNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm-local-basePublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"cli-test-vm-local-basePublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"cli-test-vm-local-baseVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"cli-test-vm-local-baseVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm-local-base","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"cli-test-vm-local-base"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_update_size_000001/providers/Microsoft.Resources/deployments/vm_deploy_3DesnDS7uXXfB7FTJA9RApPWLbD6hvcm/operationStatuses/08584986339130492073?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_update_size_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584986339130492073?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_update_size_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Resources/deployments/vm_deploy_3DesnDS7uXXfB7FTJA9RApPWLbD6hvcm","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm-local-base?$expand=instanceView&api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-base\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm-local-base\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\":
        \"Standard_DS4_v2\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"vmId\": \"b48170fa-088e-4e56-be89-9a15fe13fea7\",\r\n    \"storageProfile\":
        {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n
        \       \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202306070\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"cli-test-vm-local-base_OsDisk_1_0079852f669740a7a60d2296e4eed9dd\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/disks/cli-test-vm-local-base_OsDisk_1_0079852f669740a7a60d2296e4eed9dd\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"cli-test-vm-local-base\",\r\n      \"adminUsername\":
        \"vmtest\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/vmtest/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCey0/ipz0OxUGA6xunJY5HdhvlsyRf2JdpnRaH0UU5KsAiajLq5HifCzJAEpRvWXIIYKSrqNi+hSmKRXiGJaHnK0dm0QO8YvM/Ab+MZUZ0L9VRznMoLsexTgDEC6QidxP5VYxXQwzgvbK1kn1J+7QTmd9JzV4Q83EEIZM5VGp7DwuUzhSuUN4LNJ9TnsCpjZwDIqIIGo9kLRLov+CfPb50o/768pa4W87a7FDJc74gvu/Qh7K05ztWNABlqYk5QsSkLWosN/vCaR+Nlh6EroTUw679G0MLj2WD/P0vLbiy1Xgf2oZ4Q5vLOQfoU2SWNkzzmfpdu3o9+VWNQppUZPyt\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n
        \         \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic\"}]},\r\n
        \   \"instanceView\": {\r\n      \"computerName\": \"cli-test-vm-local-base\",\r\n
        \     \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"18.04\",\r\n      \"vmAgent\":
        {\r\n        \"vmAgentVersion\": \"2.9.1.1\",\r\n        \"statuses\": [\r\n
        \         {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2023-12-19T08:04:00+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"cli-test-vm-local-base_OsDisk_1_0079852f669740a7a60d2296e4eed9dd\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-12-19T08:03:18.7281663+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-12-19T08:03:51.3997642+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-12-19T08:03:13.556309+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23996,Microsoft.Compute/LowCostGetResource;32
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-baseVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic\",\r\n
        \ \"etag\": \"W/\\\"4e1dade3-3353-4d9b-ae8b-f0ebb0ea3764\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"be61344c-b42b-4f27-b65f-e1d2dfd65c74\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigcli-test-vm-local-base\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic/ipConfigurations/ipconfigcli-test-vm-local-base\",\r\n
        \       \"etag\": \"W/\\\"4e1dade3-3353-4d9b-ae8b-f0ebb0ea3764\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm-local-basePublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/virtualNetworks/cli-test-vm-local-baseVNET/subnets/cli-test-vm-local-baseSubnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"os0lsk5eh3sejlnldiwsfswgyc.xx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-22-48-BC-0C-67\",\r\n    \"enableAcceleratedNetworking\": true,\r\n    \"vnetEncryptionSupported\":
        false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkSecurityGroups/cli-test-vm-local-baseNSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm-local-base\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"auxiliaryMode\":
        \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
        \ \"location\": \"westus2\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4e1dade3-3353-4d9b-ae8b-f0ebb0ea3764"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm-local-basePublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-basePublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm-local-basePublicIP\",\r\n
        \ \"etag\": \"W/\\\"2f99cb37-7184-4da8-afda-606972e739a7\\\"\",\r\n  \"location\":
        \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"2bc6e916-63fc-42f4-8e01-bd888bdbf61f\",\r\n
        \   \"ipAddress\": \"20.3.160.253\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-baseVMNic/ipConfigurations/ipconfigcli-test-vm-local-base\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f99cb37-7184-4da8-afda-606972e739a7"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm-local-base?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-base\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compu[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {"tagName": "tagValue"}, "properties":
      {"hardwareProfile": {"vmSize": "Standard_DS5_v2"}, "storageProfile": {"osDisk":
      {"osType": "Linux", "name": "cli-test-vm-local-base_OsDisk_1_0079852f669740a7a60d2296e4eed9dd",
      "caching": "ReadWrite", "createOption": "FromImage", "diskSizeGB": 30, "managedDisk":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/disks/cli-test-vm-local-base_OsDisk_1_0079852f669740[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/9360d87e-2d72-41da-9fe5-6b5a79f41e83?p=86787c75-ed5e-4503-9048-66d86936d980&api-version=2023-09-01&t=638385698507450240&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0O[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm-local-base2?$expand=instanceView&api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-base2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/networkInterfaces/cli-test-vm-local-base2VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-base2VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Network/publicIPAddresses/cli-test-vm-local-base2PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-base2PublicIP\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Compute/virtualMachines/cli-test-vm-local-base2?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-test-vm-local-base2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_update_size_000001/providers/Microsoft.Com[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/49c41194-b4eb-4381-8e20-c8dc1468e47e?p=86787c75-ed5e-4503-9048-66d86936d980&api-version=2023-09-01&t=638385700414847500&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0O[...]
[...]
