interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_capacity_reservation_list_delete000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001","name":"cli_test_capacity_reservation_list_delete000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_capacity_reservation_list_delete","date":"2023-07-13T07:54:39Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": {"key": "val"}, "zones": ["1", "2"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli_reservation_group_000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_CAPACITY_RESERVATION_LIST_DELETE4NNTVU2TU5G6QQYAWACGHHICNPOLZ3FADD/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002\",\r\n
        \ \"type\": \"Microsoft.Compute/capacityReservationGroups\",\r\n  \"location\":
        \"centraluseuap\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n  },\r\n  \"zones\":
        [\r\n    \"1\",\r\n    \"2\"\r\n  ],\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/699e899f-32bc-4df1-9169-2313e0236845?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteCapacityReservation3Min;119,Microsoft.Compute/PutDeleteCapacityReservation30Min;594
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: ''
[...]
- request:
    body: '{"location": "centraluseuap", "tags": {"key": "val"}, "sku": {"name": "Standard_DS1_v2",
      "capacity": 5}, "zones": ["1"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli_reservation_name_000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003\",\r\n
        \ \"type\": \"Microsoft.Compute/capacityReservationGroups/capacityReservations\",\r\n
        \ \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n    \"capacity\":
        5\r\n  },\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"properties\": {\r\n
        \   \"platformFaultDomainCount\": 3,\r\n    \"reservationId\": \"05674900-ec27-45f3-a5f1-f3c7fecfa380\",\r\n
        \   \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2023-07-13T07:54:59.2810843+00:00\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/f5db02b0-84f0-4ad9-a786-4502ea74b3eb?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteCapacityReservation3Min;118,Microsoft.Compute/PutDeleteCapacityReservation30Min;593
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/f5db02b0-84f0-4ad9-a786-4502ea74b3eb?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-07-13T07:54:59.2810843+00:00\",\r\n  \"endTime\":
        \"2023-07-13T07:54:59.4842047+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"f5db02b0-84f0-4ad9-a786-4502ea74b3eb\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29994
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli_reservation_name_000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003\",\r\n
        \ \"type\": \"Microsoft.Compute/capacityReservationGroups/capacityReservations\",\r\n
        \ \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n    \"capacity\":
        5\r\n  },\r\n  \"zones\": [\r\n    \"1\"\r\n  ],\r\n  \"properties\": {\r\n
        \   \"platformFaultDomainCount\": 3,\r\n    \"reservationId\": \"05674900-ec27-45f3-a5f1-f3c7fecfa380\",\r\n
        \   \"provisioningTime\": \"2023-07-13T07:54:59.4685799+00:00\",\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"timeCreated\": \"2023-07-13T07:54:59.2810843+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetCapacityReservation3Min;248,Microsoft.Compute/GetCapacityReservation30Min;988
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations?api-version=2022-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli_reservation_name_000003\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_CAPACITY_RESERVATION_LIST_DELETE4NNTVU2TU5G6QQYAWACGHHICNPOLZ3FADD/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002/capacityReservations/cli_reservation_name_000003\",\r\n
        \     \"type\": \"Microsoft.Compute/capacityReservationGroups/capacityReservations\",\r\n
        \     \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"key\":
        \"val\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"Standard_DS1_v2\",\r\n
        \       \"capacity\": 5\r\n      },\r\n      \"zones\": [\r\n        \"1\"\r\n
        \     ],\r\n      \"properties\": {\r\n        \"platformFaultDomainCount\":
        3,\r\n        \"reservationId\": \"05674900-ec27-45f3-a5f1-f3c7fecfa380\",\r\n
        \       \"provisioningTime\": \"2023-07-13T07:54:59.4685799+00:00\",\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"timeCreated\": \"2023-07-13T07:54:59.2810843+00:00\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetCapacityReservation3Min;246,Microsoft.Compute/GetCapacityReservation30Min;986
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_capacity_reservation_list_delete000001/providers/Microsoft.Compute/capacityReservationGroups/cli_reservation_group_000002?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/2365f1b0-fd5e-43d6-a13f-1d1edc090416?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2022-08-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/2365f1b0-fd5e-43d6-a13f-1d1edc090416?p=2745cc42-2cf3-41b7-830c-129b79fbec46&monitor=true&api-version=2022-08-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteCapacityReservation3Min;116,Microsoft.Compute/PutDeleteCapacityReservation30Min;591
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: ''
version: 1
