interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"westcentralus","tags":{},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2023-03-15T09:01:34.148Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-15T09:01:34.148Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://vault-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000003/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000003/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://vault-000002.vault.azure.net/keys/key-000003/504e7f970a4d4d58a14b08638acdf28e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"yDRhwB8v06PBO7afqJ2aPaNPiAlp0Ae2hjuy7k7jVQ0drvdIzKAVkoUjEUaudhJ896MMGu80APe0GwaHIR39sF3sm3i-P5JJ981Te02CRj1SNcsMFQx8jTxf9P42CJtvY3j3bEgQRrsOC1-Nc6cUs3O-wQuNywPDT1PDPaESwvgvMMpJC1YZVorVC0DsOslEOdVIP2nQkddxiXdfK6YRmqx6nGBQtjEzWX8dJy_9puEpfNnR_7SvOKIHdj-gX29iKwbO8m8PWPRq9yo3eiuU24uyS_-sxc32Hi6teqPbqCX-4vBq-p3SmFmx4nIbNIhlTCdDJpOHtU-kGUwsOfOx8Q","e":"AQAB"},"attributes":{"enabled":true,"created":1678870931,"updated":1678870931,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001","name":"cli_test_disk_encryption_set_000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2023-03-15T09:01:24Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "identity": {"type": "SystemAssigned"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002"},
      "keyUrl": "https://vault-000002.vault.azure.net/keys/key-000003/504e7f970a4d4d58a14b08638acdf28e"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"identity\": {\r\n  \
        \  \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\"\
        : {\r\n      \"sourceVault\": {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002\"\
        \r\n      },\r\n      \"keyUrl\": \"https://vault-000002.vault.azure.net/keys/key-000003/504e7f970a4d4d58a14b08638acdf28e\"\
        \r\n    },\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/e176930a-ccff-4b3d-9d61-db1e07e5db77?p=c7be8819-8178-488e-b751-923f11b1b57c&api-version=2022-03-02
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/e176930a-ccff-4b3d-9d61-db1e07e5db77?p=c7be8819-8178-488e-b751-923f11b1b57c&monitor=true&api-version=2022-03-02
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateHighCostDiskEncryptionSet3Min;96,Microsoft.Compute/CreateUpdateHighCostDiskEncryptionSet30Min;290
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/e176930a-ccff-4b3d-9d61-db1e07e5db77?p=c7be8819-8178-488e-b751-923f11b1b57c&api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-03-15T09:02:20.4880343+00:00\",\r\n  \"\
        endTime\": \"2023-03-15T09:02:20.5661352+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\"name\":\"des1-000004\",\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004\"\
        ,\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"westcentralus\"\
        ,\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"1f387abe-d656-43b7-8fe3-a12269ad1cb2\"\
        ,\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"},\"properties\":{\"\
        activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002\"\
        },\"keyUrl\":\"https://vault-000002.vault.azure.net/keys/key-000003/504e7f970a4d4d58a14b08638acdf28e\"\
        },\"encryptionType\":\"EncryptionAtRestWithCustomerKey\",\"provisioningState\"\
        :\"Succeeded\"}}\r\n  },\r\n  \"name\": \"e176930a-ccff-4b3d-9d61-db1e07e5db77\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49992,Microsoft.Compute/GetOperation30Min;399966
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"des1-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/diskEn[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzurePowerShellLiveTest/providers/Microsoft.KeyVault/vaults/LiveTestKeyVault","name":"LiveTestKeyVault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"westcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/hangkey","name":"hangkey","type":"Microsoft.KeyVault/vaults","location":"koreasouth","tags":{"kk":"kk","zz":"kk","--kk":"zz"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/similar0327002194","name":"similar0327002194","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shiying-rg/providers/Microsoft.KeyVault/vaults/shiyingkv","name":"shiyingkv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yishitest/providers/Microsoft.KeyVault/vaults/ystestkv","name":"ystestkv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "d44a2991-98c6-47c3-b59b-2b30d72cfcc2",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "1f387[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%271f387abe-d656-43b7-8fe3-a12269ad1cb2%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00005967"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["1f387abe-d656-43b7-8fe3-a12269ad1cb2"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"1f387abe-d656-43b7-8fe3-a12269ad1cb2","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004"],"appDisplayName":null,"appDescription":null,"appId":"5a2cb192-c233-4387-9d26-60eaa3035d25","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2023-03-15T09:02:19Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"des1-000004","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["5a2cb192-c233-4387-9d26-60eaa3035d25","https://identity.azure.net/H1jUTaJmPnodXLGBvGfQCXaKVMIPKV+K/1s++9oLgDY="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"AB3CD35441F02F446F0538AEC31D16CECFE1CBDA","displayName":"CN=5a2cb192-c233-4387-9d26-60eaa3035d25,
        DC=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","endDateTime":"2023-06-13T08:57:00Z","key":null,"keyId":"0e2cb09a-a35e-4be8-bcd5-913fdb3d4754","startDateTime":"2023-03-15T08:57:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0000535D"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"View
        all resources, but does not allow you to make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:47.8628684Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "1f387abe-d656-43b7-8fe3-a12269ad1cb2", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"1f387abe-d656-43b7-8fe3-a12269ad1cb2","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002","condition":null,"conditionVersion":null,"createdOn":"2023-03-15T09:04:43.3047140Z","updatedOn":"2023-03-15T09:04:44.5947296Z","createdBy":null,"updatedBy":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.KeyVault/vaults/vault-000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 10, "encryption": {"diskEncryptionSetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004",
      "type": "EncryptionAtRestWithCustomerKey"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/disks/disk-000007?api-version=2022-07-02[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/0f1a3f65-dd1d-475a-8dfd-d27c1d693922?p=c7be8819-8178-488e-b751-923f11b1b57c&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-03-15T09:05:25.6601436+00:00\",\r\n  \"\
        endTime\": \"2023-03-15T09:05:26.2851531+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk-000007\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/disks/disk-000007\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westcentralus\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n\
        \    \"tier\": \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\"\
        : \"V1\",\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\
        \n    },\r\n    \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n\
        \    \"diskMBpsReadWrite\": 25,\r\n    \"encryption\": {\r\n      \"type\"\
        : \"EncryptionAtRestWithCustomerKey\",\r\n      \"diskEncryptionSetId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DISK_ENCRYPTION_SET_EU6WJ2YLVICBWGWARA5CEXA37CFX6JFFD73EMZOCRTOMFC/providers/Microsoft.Compute/diskEncryptionSets/des1-000004\"\
        \r\n    },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\"\
        : \"Enabled\",\r\n    \"timeCreated\": \"2023-03-15T09:05:26.1601856+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\"\
        ,\r\n    \"diskSizeBytes\": 10737418240,\r\n    \"uniqueId\": \"221d1943-bc09-410a-9846-027e4f81043b\"\
        ,\r\n    \"tier\": \"P3\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"0f1a3f65-dd1d-475a-8dfd-d27c1d693922\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49992,Microsoft.Compute/GetOperation30Min;399960
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm1-000008VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westcentralus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm1-000008Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm1-000008NSG", "apiVersion":
      "2015-06-15", "location": "westcentralus", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vm1-000008PublicIP",
      "location": "westcentralus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm1-000008VMNic", "location": "westcentralus", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vm1-000008VNET", "Microsoft.Network/networkSecurityGroups/vm1-000008NSG",
      "Microsoft.Network/publicIpAddresses/vm1-000008PublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigvm1-000008", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/virtualNetworks/vm1-000008VNET/subnets/vm1-000008Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/publicIPAddresses/vm1-000008PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/networkSecurityGroups/vm1-000008NSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1-000008", "location": "westcentralus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1-000008VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/networkInterfaces/vm1-000008VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "attach", "osType": "linux", "managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/disks/disk-000007"}}}}}],
      "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Resources/deployments/vm_deploy_dyB0CyJPwlWcbkfEQtsSbtOQmRUSKEbC","name":"vm_deploy_dyB0CyJPwlWcbkfEQtsSbtOQmRUSKEbC","type":"Microsoft.Resources/deployments","properties":{"templateHash":"5664004884243588704","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-03-15T09:05:40.4234964Z","duration":"PT0.0005816S","correlationId":"43b1bded-c307-45dd-b41f-8b9736506251","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westcentralus"]},{"resourceType":"networkSecurityGroups","locations":["westcentralus"]},{"resourceType":"publicIPAddresses","locations":["westcentralus"]},{"resourceType":"networkInterfaces","locations":["westcentralus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westcentralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/virtualNetworks/vm1-000008VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1-000008VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/networkSecurityGroups/vm1-000008NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1-000008NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/publicIPAddresses/vm1-000008PublicIP","resourceType":"Microsoft.Network/publicIP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585227357485761185?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/virtualMachines/vm1-000008?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1-000008\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/virtualMachines/vm1-000008\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\"\
        : \"58a324d1-4d58-4c42-8d37-b89eaa38f36b\",\r\n    \"hardwareProfile\": {\r\
        \n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"\
        name\": \"disk-000007\",\r\n        \"createOption\": \"Attach\",\r\n    \
        \    \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n       \
        \   \"diskEncryptionSet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DISK_ENCRYPTION_SET_EU6WJ2YLVICBWGWARA5CEXA37CFX6JFFD73EMZOCRTOMFC/providers/Microsoft.Compute/diskEncryptionSets/des1-000004\"\
        \r\n          },\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n\
        \          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Compute/disks/disk-000007\"\
        \r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\"\
        : 10\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_000001/providers/Microsoft.Network/networkInterfaces/vm1-000008VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/Unavailable\"\
        ,\r\n            \"level\": \"Warning\",\r\n            \"displayStatus\"\
        : \"Not Ready\",\r\n            \"message\": \"VM status blob is found but\
        \ not yet populated.\",\r\n            \"time\": \"2023-03-15T09:06:44+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"disk-000007\",\r\n          \"statuses\": [\r\
        \n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2023-03-15T09:06:07.1750198+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\"\
        : \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"\
        ProvisioningState/succeeded\",\r\n          \"level\": \"Info\",\r\n     \
[...]
