interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_create_vm_with_community_gallery_image","date":"2024-03-25T02:46:32Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"sharingProfile": {"permissions":
      "Community", "communityGalleryInfo": {"publisherUri": "puburi", "publisherContact":
      "abc@123.com", "eula": "eula", "publicNamePrefix": "pubname"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gellery000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n \
        \     \"uniqueName\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GELLERYFRFHQNPC3\"\
        \r\n    },\r\n    \"sharingProfile\": {\r\n      \"permissions\": \"Community\"\
        ,\r\n      \"communityGalleryInfo\": {\r\n        \"communityGalleryEnabled\"\
        : false,\r\n        \"publisherUri\": \"puburi\",\r\n        \"publisherContact\"\
        : \"abc@123.com\",\r\n        \"eula\": \"eula\",\r\n        \"publicNamePrefix\"\
        : \"pubname\",\r\n        \"publicNames\": [\r\n          \"pubname-3d107c03-c811-48c9-aafd-48d957e8b68c\"\
        \r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/5a60fe5b-6e49-4566-9f54-43e100d9b7f0?api-version=2021-10-01&t=638469316062966962&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAyMTQwMTAxWhcNMjUwMTI3MTQwMTAxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/5a60fe5b-6e49-4566-9f54-43e100d9b7f0?api-version=2021-10-01&t=638469316062966962&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAyMTQwMTAxWhcNMjUwMTI3MTQwMTAxWjBAMT4wPAYD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gellery000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus2\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n \
        \     \"uniqueName\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GELLERYFRFHQNPC3\"\
        \r\n    },\r\n    \"sharingProfile\": {\r\n      \"permissions\": \"Community\"\
        ,\r\n      \"communityGalleryInfo\": {\r\n        \"communityGalleryEnabled\"\
        : false,\r\n        \"publisherUri\": \"puburi\",\r\n        \"publisherContact\"\
        : \"abc@123.com\",\r\n        \"eula\": \"eula\",\r\n        \"publicNamePrefix\"\
        : \"pubname\",\r\n        \"publicNames\": [\r\n          \"pubname-3d107c03-c811-48c9-aafd-48d957e8b68c\"\
        \r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetGallery3Min;348,Microsoft.Compute/GetGallery30Min;2498
    status:
      code: 200
      message: OK
- request:
    body: '{"operationType": "EnableCommunity", "groups": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005/share?api-version=2023-07-03
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/cap[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/06c2209a-b1e5-4e0a-af72-1d2f4d4ba81e?api-version=2023-07-03&t=638469316112079551&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAyMTQwMTAxWhcNMjUwMTI3MTQwMTAxWjBAMT4wPAYD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/06c2209a-b1e5-4e0a-af72-1d2f4d4ba81e?monitor=true&api-version=2023-07-03&t=638469316112079551&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAyMTQwMTAxWhcNMjUwMTI3MTQwMTA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_create_vm_with_community_gallery_image","date":"2024-03-25T02:46:32Z","module":"vm","DateCreated":"2024-03-25T02:46:45Z","Creator":"v-jingszhang@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"osType": "Linux", "osState":
      "Generalized", "hyperVGeneration": "V1", "identifier": {"publisher": "publisher1",
      "offer": "offer1", "sku": "sku1"}, "disallowed": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005/images/image000006?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"image000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/galleries/gellery000005/images/image000006\"\
        ,\r\n  \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\"\
        : \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"hyperVGeneration\"\
        : \"V1\",\r\n    \"architecture\": \"x64\",\r\n    \"osType\": \"Linux\",\r\
        \n    \"osState\": \"Generalized\",\r\n    \"identifier\": {\r\n      \"publisher\"\
        : \"publisher1\",\r\n      \"offer\": \"offer1\",\r\n      \"sku\": \"sku1\"\
        \r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/8d38bcf1-8de3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/capsOperations/8d38bcf1-8de3-41ef-9021-f60057cd3a45?api-version=2021-10-01&t=638469316158512172&c=MIIHADCCBeigAwIBAgITHgPtKFZCSVesK0WPLAAAA-0oVjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAyMTQwMTAxWhcNMjUwMTI3MTQwMTAxWjBAMT4wPAYD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions?$top=1&$orderby=name%20desc&api-version=2023-09-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"18.04.202401161\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202401161\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18.04-LTS/versions/18.04.202401161?api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : true\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\"\
        : \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n  \
        \    },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n     \
        \   \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":\
        \ \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n\
        \    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\"\
        ,\r\n      \"sizeInBytes\": 32213303808\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"name\": \"18.04.202401161\"\
        ,\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/18.04-LTS/Versions/18.04.202401161\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm000002VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm000002NSG", "apiVersion":
      "2015-06-15", "location": "eastus2", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vm000002PublicIP",
      "location": "eastus2", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}, {"apiVersion": "2015-06-15", "type":
      "Microsoft.Network/networkInterfaces", "name": "vm000002VMNic", "location":
      "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm000002VNET",
      "Microsoft.Network/networkSecurityGroups/vm000002NSG", "Microsoft.Network/publicIpAddresses/vm000002PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm000002", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm000002VNET/subnets/vm000002Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm000002NSG"}}},
      {"apiVersion": "2023-09-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm000002", "location": "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer",
      "sku": "18.04-LTS", "version": "latest"}}, "osProfile": {"computerName": "vm000002",
      "adminUsername": "gallerytest", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCey0/ipz0OxUGA6xunJY5HdhvlsyRf2JdpnRaH0UU5KsAiajLq5HifCzJAEpRvWXIIYKSrqNi+hSmKRXiGJaHnK0dm0QO8YvM/Ab+MZUZ0L9VRznMoLsexTgDEC6QidxP5VYxXQwzgvbK1kn1J+7QTmd9JzV4Q83EEIZM5VGp7DwuUzhSuUN4LNJ9TnsCpjZwDIqIIGo9kLRLov+CfPb50o/768pa4W87a7FDJc74gvu/Qh7K05ztWNABlqYk5QsSkLWosN/vCaR+Nlh6EroTUw679G0MLj2WD/P0vLbiy1Xgf2oZ4Q5vLOQfoU2SWNkzzmfpdu3o9+VWNQppUZPyt",
      "path": "/home/gallerytest/.ssh/authorized_keys"}]}}}}}], "outputs": {}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_HGCujKf6yI1kea73TRGZraZnAoXPvWDL","name":"vm_deploy_HGCujKf6yI1kea73TRGZraZnAoXPvWDL","type":"Microsoft.Resources/deployments","properties":{"templateHash":"961579424802090391","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-03-25T02:47:12.6834469Z","duration":"PT0.0004111S","correlationId":"408d1f1e-9cdb-4e73-8ae3-397d9c826dd1","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2"]},{"resourceType":"networkSecurityGroups","locations":["eastus2"]},{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"networkInterfaces","locations":["eastus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm000002PublicIP"}][...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584902720552582387?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_HGCujKf6yI1kea73TRGZraZnAoXPvWDL","name":"vm_deploy_HGCujKf6yI1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm000002?$expand=instanceView&api-version=2023-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm000002\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\"\
        : {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"vmId\": \"fd78aed0-32b7-4e58-95f4-8f8851f260c0\"\
        ,\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"\
        publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n  \
        \      \"sku\": \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n   \
        \     \"exactVersion\": \"18.04.202401161\"\r\n      },\r\n      \"osDisk\"\
        : {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm000002_OsDisk_1_dee04c0fd6c64ee6a235ce359b07f4f2\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm000002_OsDisk_1_dee04c0fd6c64ee6a235ce359b07f4f2\"\
        \r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vm000002\",\r\n      \"adminUsername\": \"\
        gallerytest\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n         \
        \   {\r\n              \"path\": \"/home/gallerytest/.ssh/authorized_keys\"\
        ,\r\n              \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCey0/ipz0OxUGA6xunJY5HdhvlsyRf2JdpnRaH0UU5KsAiajLq5HifCzJAEpRvWXIIYKSrqNi+hSmKRXiGJaHnK0dm0QO8YvM/Ab+MZUZ0L9VRznMoLsexTgDEC6QidxP5VYxXQwzgvbK1kn1J+7QTmd9JzV4Q83EEIZM5VGp7DwuUzhSuUN4LNJ9TnsCpjZwDIqIIGo9kLRLov+CfPb50o/768pa4W87a7FDJc74gvu/Qh7K05ztWNABlqYk5QsSkLWosN/vCaR+Nlh6EroTUw679G0MLj2WD/P0vLbiy1Xgf2oZ4Q5vLOQfoU2SWNkzzmfpdu3o9+VWNQppUZPyt\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\"\
        : true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\
        ,\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n    \
        \    \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\"\
        : [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\"\
        : true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic\"\
        }]},\r\n    \"instanceView\": {\r\n      \"computerName\": \"vm000002\",\r\
        \n      \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"18.04\",\r\n   \
        \   \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.10.0.8\",\r\n      \
        \  \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
        \       \"time\": \"2024-03-25T02:48:05+00:00\"\r\n          }\r\n       \
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"vm000002_OsDisk_1_dee04c0fd6c64ee6a235ce359b07f4f2\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2024-03-25T02:47:32.0235725+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V1\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2024-03-25T02:47:55.9609902+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2024-03-25T02:47:27.8204569+00:00\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23996,Microsoft.Compute/LowCostGetResource;32
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"65ba642f-9377-423a-9e51-a56133b4c7c8\\\"\",\r\n \
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"576bde7a-c04d-47e1-81ac-4d104fb4f2e8\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm000002\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic/ipConfigurations/ipconfigvm000002\"\
        ,\r\n        \"etag\": \"W/\\\"65ba642f-9377-423a-9e51-a56133b4c7c8\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm000002VNET/subnets/vm000002Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"1hgmkj4kxdxuxgvj0kuvtetcle.cx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"60-45-BD-BC-64-BA\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\"\
        : false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm000002NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm000002\"\
        \r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\
        \n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"\
        auxiliaryMode\": \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\
        ,\r\n  \"location\": \"eastus2\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"65ba642f-9377-423a-9e51-a56133b4c7c8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm000002PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm000002PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"90157b93-dedc-4dd7-8090-80f9acaa498c\\\"\",\r\n \
        \ \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"0ffe0132-93e5-420f-b43f-beb5d489b5c8\"\
        ,\r\n    \"ipAddress\": \"13.68.102.223\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm000002VMNic/ipConfigurations/ipconfigvm000002\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90157b93-dedc-4dd7-8090-80f9acaa498c"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
[...]
