interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/NorthEurope/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"northeurope\",\r\n    \"name\": \"\
        7.5.201808150\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15990,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43990
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/NorthEurope/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions/7.5.201808150?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : true\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\"\
        : \"Linux\",\r\n      \"sizeInBytes\": 32212255232\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"name\": \"7.5.201808150\"\
        ,\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/northeurope/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12995,Microsoft.Compute/GetVMImageFromLocation30Min;73995
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vmss-spot1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "NorthEurope", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss-spot1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss-spot1LBPublicIP",
      "location": "NorthEurope", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"type": "Microsoft.Network/loadBalancers", "name": "vmss-spot1LB",
      "location": "NorthEurope", "tags": {}, "apiVersion": "2022-01-01", "dependsOn":
      ["Microsoft.Network/virtualNetworks/vmss-spot1VNET", "Microsoft.Network/publicIpAddresses/vmss-spot1LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss-spot1LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/publicIPAddresses/vmss-spot1LBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss-spot1LBNatPool", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss-spot1LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "protocol": "tcp",
      "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "backendPort":
      22}}]}}, {"type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss-spot1",
      "location": "NorthEurope", "tags": {}, "apiVersion": "2023-07-01", "dependsOn":
      ["Microsoft.Network/virtualNetworks/vmss-spot1VNET", "Microsoft.Network/loadBalancers/vmss-spot1LB"],
      "properties": {"overprovision": true, "upgradePolicy": {"mode": "manual", "rollingUpgradePolicy":
      {}}, "spotRestorePolicy": {"enabled": true, "restoreTimeout": "PT1H"}, "singlePlacementGroup":
      true, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption":
      "FromImage", "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}},
      "imageReference": {"publisher": "OpenLogic", "offer": "CentOS", "sku": "7.5",
      "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmsss8351", "adminUsername":
      "vmtest", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"path": "/home/vmtest/.ssh/authorized_keys", "keyData": "ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAABAQCp+Uh121QVTLREpkf/YFK3TAtX1tnj80+wIyV9TgXhX+49paW0rS9LvgQaZFvyW2We/ItBYlQis1nFKdvrGFGdZf954LkjCbs8yMfLTkw3TiHAgjKEtokwimBkYF7u1T/E47kAUk7dGmTL9I0hVLJzN1BEFkrQPrNwatIxNEZowI/hN9ZGLDZ+sjORtD4igKZ/Wp6U0+sXFW1zuBUIrCAh411vHTrRcn9E1r72RBk6NQJN1fGCIybq2YTB0v90ygt80BWw/0/3qu+jcWWMBSdwQx81RUvUteURd5WPGW5L6vE0lLSpWOrK/3xiACJZmsgyAN5iZz/n0CVfBxRI6Ehr"}]}}},
      "priority": "Spot", "evictionPolicy": "Deallocate", "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmsss8351Nic", "properties": {"ipConfigurations": [{"name": "vmsss8351IPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/virtualNetworks/vmss-spot1VNET/subnets/vmss-spot1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/loadBalancers/vmss-spot1LB/backendAddressPools/vmss-spot1LBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/loadBalancers/vmss-spot1LB/inboundNatPools/vmss-spot1LBNatPool"}]}}],
      "primary": "true"}}]}}, "orchestrationMode": "Uniform"}, "sku": {"name": "Standard_DS1_v2",
      "capacity": 2}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss-spot1''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Resources/deployments/vmss_deploy_yV3JLcp96dCJa6k2JxVuGUKO58WJLUfP","name":"vmss_deploy_yV3JLcp96dCJa6k2JxVuGUKO58WJLUfP","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3792903014157741272","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-10-19T04:52:54.1641444Z","duration":"PT0.0001942S","correlationId":"0fcb1b4a-76d1-4f00-ac8f-c2e4e6e5a0cc","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["northeurope"]},{"resourceType":"publicIPAddresses","locations":["northeurope"]},{"resourceType":"loadBalancers","locations":["northeurope"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["northeurope"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/virtualNetworks/vmss-spot1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss-spot1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/publicIPAddresses/vmss-spot1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss-spot1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/loadBalancers/vmss-spot1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss-spot1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/virtualNetworks/vmss-spot1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss-spot1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/loadBalancers/vmss-spot1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss-spot1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-spot1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss-spot1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Resources/deployments/vmss_deploy_yV3JLcp96dCJa6k2JxVuGUKO58WJLUfP/operationStatuses/08585039157141876855?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585039157141876855?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Resources/deployments/vmss_deploy_yV3JLcp96dCJa6k2JxVuGUKO58WJL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-spot1?api-version=2023-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss-spot1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss-spot1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"northeurope\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"\
        Standard_DS1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\
        \n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n \
        \   \"orchestrationMode\": \"Uniform\",\r\n    \"upgradePolicy\": {\r\n  \
        \    \"mode\": \"Manual\",\r\n      \"rollingUpgradePolicy\": {\r\n      \
        \  \"maxBatchInstancePercent\": 20,\r\n        \"maxUnhealthyInstancePercent\"\
        : 20,\r\n        \"maxUnhealthyUpgradedInstancePercent\": 20,\r\n        \"\
        pauseTimeBetweenBatches\": \"PT0S\",\r\n        \"maxSurge\": false,\r\n \
        \       \"rollbackFailedInstancesOnPolicyBreach\": false\r\n      }\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmsss8351\",\r\n        \"adminUsername\"\
        : \"vmtest\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n     \
        \         {\r\n                \"path\": \"/home/vmtest/.ssh/authorized_keys\"\
        ,\r\n                \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCp+Uh121QVTLREpkf/YFK3TAtX1tnj80+wIyV9TgXhX+49paW0rS9LvgQaZFvyW2We/ItBYlQis1nFKdvrGFGdZf954LkjCbs8yMfLTkw3TiHAgjKEtokwimBkYF7u1T/E47kAUk7dGmTL9I0hVLJzN1BEFkrQPrNwatIxNEZowI/hN9ZGLDZ+sjORtD4igKZ/Wp6U0+sXFW1zuBUIrCAh411vHTrRcn9E1r72RBk6NQJN1fGCIybq2YTB0v90ygt80BWw/0/3qu+jcWWMBSdwQx81RUvUteURd5WPGW5L6vE0lLSpWOrK/3xiACJZmsgyAN5iZz/n0CVfBxRI6Ehr\"\
        \r\n              }\r\n            ]\r\n          },\r\n          \"provisionVMAgent\"\
        : true,\r\n          \"enableVMAgentPlatformUpdates\": false\r\n        },\r\
        \n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\
        \n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n     \
        \     \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\"\
        ,\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"\
        Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 30\r\n        },\r\
        \n        \"imageReference\": {\r\n          \"publisher\": \"OpenLogic\"\
        ,\r\n          \"offer\": \"CentOS\",\r\n          \"sku\": \"7.5\",\r\n \
        \         \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\"\
        : {\"networkInterfaceConfigurations\":[{\"name\":\"vmsss8351Nic\",\"properties\"\
        :{\"primary\":true,\"enableAcceleratedNetworking\":false,\"disableTcpStateTracking\"\
        :false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"\
        ipConfigurations\":[{\"name\":\"vmsss8351IPConfig\",\"properties\":{\"subnet\"\
        :{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/virtualNetworks/vmss-spot1VNET/subnets/vmss-spot1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/loadBalancers/vmss-spot1LB/backendAddressPools/vmss-spot1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/loadBalancers/vmss-spot1LB/inboundNatPools/vmss-spot1LBNatPool\"\
        }]}}]}}]},\r\n      \"priority\": \"Spot\",\r\n      \"evictionPolicy\": \"\
        Deallocate\",\r\n      \"billingProfile\": {\r\n        \"maxPrice\": -1.0\r\
        \n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\":\
        \ false,\r\n    \"uniqueId\": \"d918aae1-4e77-4180-b919-d57290d056a7\",\r\n\
        \    \"platformFaultDomainCount\": 1,\r\n    \"spotRestorePolicy\": {\r\n\
        \      \"enabled\": true,\r\n      \"restoreTimeout\": \"PT1H\"\r\n    },\r\
        \n    \"timeCreated\": \"2023-10-19T04:53:22.7233074+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2397,Microsoft.Compute/GetVMScaleSetResource;30
    status:
      code: 200
      message: ''
- request:
    body: '{"location": "northeurope", "tags": {}, "sku": {"name": "Standard_DS1_v2",
      "tier": "Standard", "capacity": 2}, "properties": {"upgradePolicy": {"mode":
      "Manual", "rollingUpgradePolicy": {"maxBatchInstancePercent": 20, "maxUnhealthyInstancePercent":
      20, "maxUnhealthyUpgradedInstancePercent": 20, "pauseTimeBetweenBatches": "PT0S",
      "rollbackFailedInstancesOnPolicyBreach": false, "maxSurge": false}}, "virtualMachineProfile":
      {"osProfile": {"computerNamePrefix": "vmsss8351", "adminUsername": "vmtest",
      "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh": {"publicKeys":
      [{"path": "/home/vmtest/.ssh/authorized_keys", "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCp+Uh121QVTLREpkf/YFK3TAtX1tnj80+wIyV9TgXhX+49paW0rS9LvgQaZFvyW2We/ItBYlQis1nFKdvrGFGdZf954LkjCbs8yMfLTkw3TiHAgjKEtokwimBkYF7u1T/E47kAUk7dGmTL9I0hVLJzN1BEFkrQPrNwatIxNEZowI/hN9ZGLDZ+sjORtD4igKZ/Wp6U0+sXFW1zuBUIrCAh411vHTrRcn9E1r72RBk6NQJN1fGCIybq2YTB0v90ygt80BWw/0/3qu+jcWWMBSdwQx81RUvUteURd5WPGW5L6vE0lLSpWOrK/3xiACJZmsgyAN5iZz/n0CVfBxRI6Ehr"}]},
      "provisionVMAgent": true, "enableVMAgentPlatformUpdates": false}, "secrets":
      [], "allowExtensionOperations": true, "requireGuestProvisionSignal": true},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "createOption": "FromImage",
      "diskSizeGB": 30, "osType": "Linux", "managedDisk": {"storageAccountType": "Premium_LRS"}}},
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmsss8351Nic",
      "properties": {"primary": true, "enableAcceleratedNetworking": false, "disableTcpStateTracking":
      false, "dnsSettings": {"dnsServers": []}, "ipConfigurations": [{"name": "vmsss8351IPConfig",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_spot_restore000001/providers/Microsoft.Network/virtualNetworks/vmss-spot1VNET/subnets/vmss-spot1Subnet"},
      "privateIPAddressVersion": "IPv4", "loadBalancerBackendAddressPools": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_sp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/northeurope/operations/7419d93b-5f0a-4e95-befa-5115ce59415e?p=5c3e95df-a2c2-4d04-b8ed-9542a645fa77&api-version=2023-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-10-19T04:55:08.48832+00:00\",\r\n  \"\
        status\": \"InProgress\",\r\n  \"name\": \"7419d93b-5f0a-4e95-befa-5115ce59415e\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationResource;59,Microsoft.Compute/GetOperationSubscriptionMaximum;14976
    status:
      code: 200
      message: ''
[...]
