interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001","name":"cli_test_dedicated_host_000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2023-03-21T07:17:03Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "tags": {"foo": "bar"}, "properties": {"platformFaultDomainCount":
      3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_62CGOKCMLSZKEDVNUUOQDVFV6EWC4J5T6PUWZUTCWM562MQLNGG/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;119,Microsoft.Compute/PutDeleteDedicatedHost30Min;599
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "tags": {"foo": "bar"}, "properties": {"platformFaultDomainCount":
      3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host2-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_62CGOKCMLSZKEDVNUUOQDVFV6EWC4J5T6PUWZUTCWM562MQLNGG/providers/Microsoft.Compute/hostGroups/my-host2-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;118,Microsoft.Compute/PutDeleteDedicatedHost30Min;598
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "tags": {"bar": "baz"}, "sku": {"name": "DSv3-Type1"},
      "properties": {"platformFaultDomain": 2, "autoReplaceOnFailure": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"bar\": \"baz\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        2,\r\n    \"autoReplaceOnFailure\": false,\r\n    \"hostId\": \"22c4607c-e146-4457-b77d-c2ba7af432d3\",\r\n
        \   \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2023-03-21T07:17:19.1682111+00:00\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/f1b44173-ffee-4f64-b1b3-305cfeab8f76?p=86787c75-ed5e-4503-9048-66d86936d980&api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;117,Microsoft.Compute/PutDeleteDedicatedHost30Min;597
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/f1b44173-ffee-4f64-b1b3-305cfeab8f76?p=86787c75-ed5e-4503-9048-66d86936d980&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-03-21T07:17:19.0275826+00:00\",\r\n  \"endTime\":
        \"2023-03-21T07:17:20.8869772+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"f1b44173-ffee-4f64-b1b3-305cfeab8f76\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"bar\": \"baz\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        2,\r\n    \"autoReplaceOnFailure\": false,\r\n    \"hostId\": \"22c4607c-e146-4457-b77d-c2ba7af432d3\",\r\n
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2023-03-21T07:17:20.6369584+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2023-03-21T07:17:19.1682111+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;198,Microsoft.Compute/GetDedicatedHost30Min;998
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {"bar": "baz"}, "sku": {"name": "DSv3-Type1"},
      "properties": {"platformFaultDomain": 2, "autoReplaceOnFailure": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group/hosts/my-host2?api-version=2022-11-01
  response:
    bo[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"bar\": \"baz\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"DSv3-Type1\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomain\":
        2,\r\n    \"autoReplaceOnFailure\": false,\r\n    \"hostId\": \"22c4607c-e146-4457-b77d-c2ba7af432d3\",\r\n
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2023-03-21T07:17:20.6369584+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"assetId\":
        \"987588ed-2503-45d8-a995-5adc346a8a59\",\r\n      \"availableCapacity\":
        {\r\n        \"allocatableVMs\": [\r\n          {\r\n            \"vmSize\":
        \"Standard_D2s_v3\",\r\n            \"count\": 32\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D4s_v3\",\r\n            \"count\": 17\r\n
        \         },\r\n          {\r\n            \"vmSize\": \"Standard_D8s_v3\",\r\n
        \           \"count\": 8\r\n          },\r\n          {\r\n            \"vmSize\":
        \"Standard_D16s_v3\",\r\n            \"count\": 4\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D32s_v3\",\r\n            \"count\": 2\r\n
        \         },\r\n          {\r\n            \"vmSize\": \"Standard_D48s_v3\",\r\n
        \           \"count\": 1\r\n          },\r\n          {\r\n            \"vmSize\":
        \"Standard_D64s_v3\",\r\n            \"count\": 1\r\n          }\r\n        ]\r\n
        \     },\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-03-21T07:17:20.6525604+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"HealthState/available\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Host available\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-03-21T07:17:19.1682111+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;195,Microsoft.Compute/GetDedicatedHost30Min;995
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group/hosts/my-host2?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Micros[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_62CGOKCMLSZKEDVNUUOQDVFV6EWC4J5T6PUWZUTCWM562MQLNGG/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"bar\"\r\n  },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\":
        3,\r\n    \"hosts\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_62CGOKCMLSZKEDVNUUOQDVFV6EWC4J5T6PUWZUTCWM562MQLNGG/providers/Microsoft.Compute/hostGroups/MY-HOST-GROUP/hosts/MY-HOST\"\r\n
        \     }\r\n    ],\r\n    \"supportAutomaticPlacement\": false,\r\n    \"instanceView\":
        {\r\n      \"hosts\": [\r\n        {\r\n          \"name\": \"my-host\",\r\n
        \         \"assetId\": \"987588ed-2503-45d8-a995-5adc346a8a5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host2-group?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host2-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_62CGOKCMLSZKEDVNUUOQDVFV6EWC4J5T[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Debian\": {\n            \"publisher\":
        \"Debian\",\n            \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Flatcar\": {\n            \"publisher\": \"kinvolk\",\n
        \           \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"opensuse-leap-15-3\",\n            \"sku\":
        \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"RHEL\": {\n            \"publisher\": \"RedHat\",\n
        \           \"offer\": \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"SLES\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"sles-15-sp3\",\n
        \           \"sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"UbuntuLTS\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"UbuntuServer\",\n            \"sku\":
        \"18.04-LTS\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        },\n        \"Windows\": {\n          \"Win2022Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-Datacenter\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2016Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2016-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2008-R2-SP1\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        }\n      }\n    }\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"41b202f4dc5098d126019dc00721a4c5e30df0c5196794514fadc3710ee2a5cb"
      source-age:
      - '274'
      x-fastly-request-id:
      - 93ca19c36c682a96c0e6fa18cd16a9f6c7eb0270
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus2\",\r\n    \"name\": \"0.20230222.1299\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20230222.1299\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/publishers/Debian/artifacttypes/vmimage/offers/debian-10/skus/10/versions/0.20230222.1299?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 30,\r\n
        \     \"sizeInBytes\": 32212255232\r\n    },\r\n    \"dataDiskImages\": []\r\n
        \ },\r\n  \"location\": \"westus2\",\r\n  \"name\": \"0.20230222.1299\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus2/Publishers/Debian/ArtifactTypes/VMImage/Offers/debian-10/Skus/10/Versions/0.20230222.1299\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/vmSizes?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_D2a_v4\",\r\n
        \     \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        51200,\r\n      \"memoryInMB\": 8192,\r\n      \"maxDataDiskCount\": 4\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_D4a_v4\",\r\n      \"numberOfCores\":
        4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        102400,\r\n      \"memoryInMB\": 16384,\r\n      \"maxDataDiskCount\": 8\r\n
        \   },\r\n    {\r\n      \"name\": \"Standard_D8a_v4\",\r\n      \"numberOfCores\":
        8,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        204800,\r\n      \"memoryInMB\": 32768,\r\n     [...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "ded-host-vmVNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "ded-host-vmSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "ded-host-vmNSG", "apiVersion":
      "2015-06-15", "location": "westus2", "tags": {}, "dependsOn": []}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "ded-host-vmPublicIP",
      "location": "westus2", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "ded-host-vmVMNic", "location": "westus2", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/ded-host-vmVNET", "Microsoft.Network/networkSecurityGroups/ded-host-vmNSG",
      "Microsoft.Network/publicIpAddresses/ded-host-vmPublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigded-host-vm", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/virtualNetworks/ded-host-vmVNET/subnets/ded-host-vmSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/publicIPAddresses/ded-host-vmPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkSecurityGroups/ded-host-vmNSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "ded-host-vm", "location": "westus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/ded-host-vmVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_D4s_v3"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkInterfaces/ded-host-vmVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Debian", "offer": "debian-10", "sku":
      "10", "version": "latest"}}, "osProfile": {"computerName": "ded-host-vm", "adminUsername":
      "azureuser", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDmGsW4LjseEjF/ye2EN/w3j6dmswbvXI7N/UlAqV8aCxHeYYIjFDnuhFQSF7i1iYgTt8St/6FGkIaTA4ZefhrVVZtJw8dUEKzDkUIMfdQGu4TdlpDjQIeUSHzz1KNFwhANVNK9pm1cy5Z4P3GJd1PP+lTx/IRP+qZesTC/UCSV7EluCmoj5xg6LeC9MWksu07APIFRJySqxVi8nSbCFFHODW5QTZ/82n6iJzbSRDn7KgEQGzfFEAZgzxJE+ino+r3569kWzO/qkixm92swj97fnuOX7i0Ohe1T4Me5dFvpEifoQ3bii1vG4DQDQ7L2pvEvzQyy11Hr9dDtPHZTCzeIr62vWArq75T149ZLCNjfQh44vmbeSPAc/0KVakQOEiDjLvUkMSgDUx6DD4bQgiaEyWnZ23CZ3U1U9xag4p3Kl48tGLGHTpzplaZJQEAVogeloxE1tPLBGi7et3TskoXejHhl9BrtsnXLeNVj1ep9dqD2kxNogVSc4/Av8Wuv9oU=
      zhuyan@microsoft.com\n", "path": "/home/azureuser/.ssh/authorized_keys"}]}}}}}],
      "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/vm_deploy_W85z6YbMwmk177VfejSGz9ePnlyBXFWg","name":"vm_deploy_W85z6YbMwmk177VfejSGz9ePnlyBXFWg","type":"Microsoft.Resources/deployments","properties":{"templateHash":"4092762517722848656","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-03-21T07:18:59.5139125Z","duration":"PT0.0001072S","correlationId":"4577de24-774f-47ee-bc47-94985b804b30","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus2"]},{"resourceType":"networkSecurityGroups","locations":["westus2"]},{"resourceType":"publicIPAddresses","locations":["westus2"]},{"resourceType":"networkInterfaces","locations":["westus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/virtualNetworks/ded-host-vmVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ded-host-vmVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/networkSecurityGroups/ded-host-vmNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"ded-host-vmNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Network/publicIPAddresses/ded-host-vmPublicIP","resourceType":"Microsoft.Network/publicIPAddres[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585222237489260800?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Resources/deployments/vm_deploy_W85z6YbMwmk177VfejSGz9ePnlyBXFWg","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/virtualMachines/ded-host-vm?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"ded-host-vm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/virtualMachines/ded-host-vm\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n
[...]
