interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith%28displayName%2C%27test-des-app-000007%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0000E164"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "test-des-app-000007", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "e51377d7-c9a1-43bf-b2ae-d3ba60dee3c7", "deletedDateTime": null, "appId":
        "edf6a0d4-e5cf-4b46-97e1-ef52bc04fbd1", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2025-02-26T08:55:35.10428Z", "displayName": "test-des-app-000007",
        "description": null, "groupMembershipClaims": null, "identifierUris": [],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "nativeAuthenticationApisEnabled":
        null, "notes": null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADMyOrg", "tags": [], "tokenEncryptionKeyId":
        null, "uniqueName": null, "samlMetadataUrl": null, "defaultRedirectUri": null,
        "certification": null, "optionalClaims": null, "servicePrincipalLockConfiguration":
        null, "requestSignatureVerification": null, "addIns": [], "api": {"acceptMappedClaims":
        null, "knownClientApplications": [], "requestedAccessTokenVersion": null,
        "oauth2PermissionScopes": [], "preAuthorizedApplications": []}, "appRoles":
        [], "info": {"logoUrl": null, "marketingUrl": null, "privacyStatementUrl":
        null, "supportUrl": null, "termsOfServiceUrl": null}, "keyCredentials": [],
        "parentalControlSettings": {"countriesBlockedForMinors": [], "legalAgeGroupRule":
        "Allow"}, "passwordCredentials": [], "publicClient": {"redirectUris": []},
        "requiredResourceAccess": [], "verifiedPublisher": {"displayName": null, "verifiedPublisherId":
        null, "addedDateTime": null}, "web": {"homePageUrl": null, "logoutUrl": null,
        "redirectUris": [], "implicitGrantSettings": {"enableAccessTokenIssuance":
        false, "enableIdTokenIssuance": false}, "redirectUriSettings": []}, "spa":
        {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/e51377d7-c9a1-43bf-b2ae-d3ba60dee3c7/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0000E162"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.KeyVault/vaults/vault-000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{},"systemData":{"createdBy":"v-ruih@microsoft.com","createdByType":"User","createdAt":"2025-02-26T08:54:56.425Z","lastModifiedBy":"v-ruih@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-26T08:54:56.425Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"52a2fda8-c59f-4bde-8c4d-48ffa466fefc","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"enablePurgeProtection":true,"vaultUri":"https://vault-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000003/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://vault-000002.vault.azure.net/keys/key-000003/d0c9a0fea14a47e480cb41d76ce3be23","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"7_XPtEAgr79W632WzyBnVU8J-UFecsPp5SukEEnQXhXeW2-FdBAIhHbd0hSHKYsZUnbIhrq4hfTbgx-axaw5o7DQC8CylaU19zNT2b7cEUAF70iJXdVVFBxGegNfcXNS88mgQSrrluktVzhiA0FuYWaZGDAfVskcSD0hU9m4b_GbHDpw7ZOf-eA_7cqrEMWb3I5noWFANF3htrEDq5O_BU5ekA2mZp_-cbkaAsgfjhPugxnMkxbjvsGudj2S8Y186IgMFsPcHi-1-D0AC0-07ACKNgLYGm8GECxtprzceR8m4o9hq-aAosAv5y7kEQU5WYNy4oxT_55hH7dbJTfrHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1740560139,"updated":1740560139,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_identity_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001","name":"cli_test_disk_encryption_set_identity_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_disk_encryption_set_identity","date":"2025-02-26T08:54:41Z","module":"vm","DateCreated":"2025-02-26T08:54:47Z","Creator":"v-ruih@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus2euap","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1","name":"identity1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"abcff390-f408-478d-96e2-14e7c824e97c","clientId":"41c4e7d3-5778-4e9f-8d02-bfb76e0132ae"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus2euap", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "52a2fda8-c59f-4bde-8c4d-48ffa466fefc",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "abcff39[...]
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1":
      {}}}, "location": "eastus2euap", "properties": {"activeKey": {"keyUrl": "https://vault-000002.vault.azure.net/keys/key-000003/d0c9a0fea14a47e480cb41d76ce3be23",
      "sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.KeyVault/vaults/vault-000002"}},
      "encryptionType": "EncryptionAtRestWithCustomerKey", "federatedClientId": "edf6a0d4-e5cf-4b46-97e1-ef52bc04fbd1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004?api-version=2023-04-02
  response:
    body:
      string: "{\r\n  \"location\": \"eastus2euap\",\r\n  \"identity\": {\r\n    \"type\":
        \"SystemAssigned, UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n
        \     \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1\":
        {}\r\n    }\r\n  },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n      \"sourceVault\":
        {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.KeyVault/vaults/vault-000002\"\r\n
        \     },\r\n      \"keyUrl\": \"https://vault-000002.vault.azure.net/keys/key-000003/d0c9a0fea14a47e480cb41d76ce3be23\"\r\n
        \   },\r\n    \"encryptionType\": \"EncryptionAtRestWithCustomerKey\",\r\n
        \   \"federatedClientId\": \"edf6a0d4-e5cf-4b46-97e1-ef52bc04fbd1\",\r\n    \"provisioningState\":
        \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/96676000-c562-4503-a7b3-56107be82ec5?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761569779130014&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3lu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/96676000-c562-4503-a7b3-56107be82ec5?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761569779130014&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000004?api-version=2023-04-02
  response:
    body:
      string: "{\r\n  \"name\": \"des1-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Micros[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/7da5af1b-5906-4447-9529-44ae6c66923a?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761569873290847&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/e94a8103-9d28-4446-a91b-16121c09ecf3?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761569974600936&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.Compute/diskEncryptionSets/des3-000006?api-version=2023-04-02
  response:
    body:
      string: "{\r\n  \"name\": \"des3-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.Compute/diskEncryptionSets/des3-000006\",\r\n
        \ \"type\": \"Microsoft.Compute/diskEncryptionSets\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\":
        \"cfc64030-26a4-4fae-bf5f-a55500eda00c\",\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"activeKey\": {\r\n      \"sourceVault\":
        {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_encryption_set_identity_000001/providers/Microsoft.KeyVault/vaults/vault-000002\"\r\n
        \     },\r\n      \"keyUrl\": \"https://vault-000002.vault.azure.net/keys/key-000003/d0c9a0fea14a47e480cb41d76ce3be23\"\r\n
        \   },\r\n    \"encryptionType\": \"EncryptionAtRestWithCustomerKey\",\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;14996,Microsoft.Compute/LowCostGet30Min;119944
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/147f49fa-34f4-479a-9537-11d19f8f4a34?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570145680681&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/7df10f00-8a17-4ef5-9119-3076687f3fac?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570238356260&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/63efdcbb-6f8b-4956-a6b2-b7dfff6590d1?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570336478257&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/9ae5bf59-0d40-42b6-a062-9107d7663af2?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570438725389&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/6b5aebe2-bc16-4cac-a539-732f464dc20d?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570534604451&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/120f5c88-3479-439e-adf7-08b8bc4ee22b?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570621947667&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/479ba335-42b4-40f2-ab38-4ee6a2f754aa?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570712814442&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/f550541a-3448-4952-89f9-1f4f4247b059?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570871790080&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/7b25e1d7-04d2-4650-bd6f-fd1e44568e25?p=88376d82-510f-4098-9fed-60d0fb8eb079&api-version=2023-04-02&t=638761570964912644&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20%27edf6a0d4-e5cf-4b46-97e1-ef52bc04fbd1%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"e51377d7-c9a1-43bf-b2ae-d3ba60dee3c7","deletedDateTime":null,"appId":"edf6a0d4-e5cf-4b46-97e1-ef52bc04fbd1","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2025-02-[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/e51377d7-c9a1-43bf-b2ae-d3ba60dee3c7
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0000E161"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
