interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vmss_with_automatic_zone_rebalancing_policy000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001","name":"test_vmss_with_automatic_zone_rebalancing_policy000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_with_automatic_zone_rebalancing_policy","date":"2025-04-28T08:28:01Z","module":"vm","Creator":"test@example.com","DateCreated":"2025-04-28T08:28:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/networkSecurityGroups/nsg000004?api-version=2022-01-01
  response:
    body:
      string: '{"name":"nsg000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/networkSecurityGroups/nsg000004","etag":"W/\"874bbc5e-279b-487e-a638-b14a6a503951\"","type":"Microsoft.Network/networkSecurityGroups","location":"eastus2","properties":{"provisioningState":"Updating","resourceGuid":"ed8585ff-7b78-4fb7-887a-4229f3405046","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/networkSecurityGroups/nsg000004/defaultSecurityRules/AllowVnetInBound","etag":"W/\"874bbc5e-279b-487e-a638-b14a6a503951\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow
        inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/networkSecurityGroups/nsg000004/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"874bbc5e-279b-487e-a638-b14a6a503951\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow
        inbound traffic fro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/0a939938-d489-44fc-9514-89fc45c77519?api-version=2022-01-01&t=638814256909127368&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27test_vmss_with_automatic_zone_rebalancing_policy000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27test_vmss_with_automatic_zone_rebalancing_policy000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2024-11-01&%24skiptoken=rY%2bxCsIwEIbf5eYOsW6Ci1i1YlKKoTUhS9BCm9goNgWb0nc3SqGTizj9P8fx3X09mOJpD5XRDSx6KGRjW9%2bg6PYtP5WI5ptOhlkXq1uFc6I5XflMLVZZmRwRwiEpD3k8Syiz2KVzRpnjeeqwi1Bs0BICUPIuzRv8Bctqv64iR7bMsprUpEKIK408ds7p2fJ16jPT2PGSrzfVBzsE0%2bOJ2d2uF%2f%2f%2bOMTyoYuHv9aLUUjAwtc%2fKQkIxCT1Ff2LloABhhc%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27test_vmss_with_automatic_zone_rebalancing_policy000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2024-11-01&$skiptoken=rY%2BxCsIwEIbf5eYOsW6Ci1i1YlKKoTUhS9BCm9goNgWb0nc3SqGTizj9P8fx3X09mOJpD5XRDSx6KGRjW9%2Bg6PYtP5WI5ptOhlkXq1uFc6I5XflMLVZZmRwRwiEpD3k8Syiz2KVzRpnjeeqwi1Bs0BICUPIuzRv8Bctqv64iR7bMsprUpEKIK408ds7p2fJ16jPT2PGSrzfVBzsE0%2BOJ2d2uF/%2BOMTyoYuHv9aLUUjAwtc/KQkIxCT1Ff2LloABhhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-05-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPlb000005", "location": "eastus2", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "lb000005", "location":
      "eastus2", "tags": {}, "apiVersion": "2023-04-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb000005"],
      "properties": {"backendAddressPools": [{"name": "lb000005bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb000005"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Standard"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''lb000005'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Resources/deployments/lb_deploy_JTswqZeINrIhHzC7AzotS9N0p734Iqcg","name":"lb_deploy_JTswqZeINrIhHzC7AzotS9N0p734Iqcg","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17289764038617701505","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-04-28T08:28:16.8456208Z","duration":"PT0.0009035S","correlationId":"7f836601-6e6f-460a-9b26-85e655593051","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb000005","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb000005"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb000005"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Resources/deployments/lb_deploy_JTswqZeINrIhHzC7AzotS9N0p734Iqcg/operationStatuses/08584557779886276134?api-version=2024-11-01&t=638814257026894584&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584557779886276134?api-version=2024-11-01&t=638814257026894584&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005?api-version=2023-04-01
  response:
    body:
      string: '{"name":"lb000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005","etag":"W/\"43286520-0ac2-42f4-82d5-4f076dcc248a\"","type":"Microsoft.Network/loadBalancers","location":"eastus2","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"63c94c5a-791c-45ea-93f3-55d36c54f732","frontendIPConfigurations":[{"name":"LoadBalancerFrontEnd","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/frontendIPConfigurations/LoadBalancerFrontEnd","etag":"W/\"43286520-0ac2-42f4-82d5-4f076dcc248a\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb000005"}}}],"backendAddressPools":[{"name":"lb000005bepool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/backendAddressPools/lb000005bepool","etag":"W/\"43286520-0ac2-42f4-82d5-4f076dcc248a\"","properties":{"provisioningState":"Succeeded","loadBalancerBackendAddresses":[]},"type":"Microsoft.Network/loadBalancers/backendAddressPools"}],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[]},"sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"43286520-0ac2-42f4-82d5-4f076dcc248a"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005",
      "location": "eastus2", "properties": {"backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/backendAddressPools/lb000005bepool",
      "name": "lb000005bepool", "properties": {"loadBalancerBackendAddresses": []}}],
      "frontendIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/frontendIPConfigurations/LoadBalancerFrontEnd",
      "name": "LoadBalancerFrontEnd", "properties": {"privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb000005"}}}],
      "inboundNatPools": [], "inboundNatRules": [], "loadBalancingRules": [], "outboundRules":
      [], "probes": [{"name": "probe000006", "properties": {"port": 80, "protocol":
      "Http", "requestPath": "/"}}]}, "sku": {"name": "Standard", "tier": "Regional"},
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005?api-version=2023-04-01
  response:
    body:
      string: '{"name":"lb000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/861f1132-afed-4851-b932-8671119ad9ad?api-version=2023-04-01&t=638814257408666708&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/0a241058-4de5-4a0d-9f38-3edffc77f861?api-version=2023-04-01&t=638814257473960251&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2016-Datacenter/versions?$top=1&$orderby=name%20desc&api-version=2024-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"14393.7973.250409\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2016-Datacenter/Versions/14393.7973.250409\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43990
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2016-Datacenter/versions/14393.7973.250409?api-version=2024-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInBytes\": 136367309312\r\n
        \   },\r\n    \"dataDiskImages\": [],\r\n    \"goLiveDate\": \"2025-04-12T00:00:00+00:00\"\r\n
        \ },\r\n  \"location\": \"eastus2\",\r\n  \"name\": \"14393.7973.250409\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2016-Datacenter/Versions/14393.7973.250409\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73991
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmss000002VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss000002", "location":
      "eastus2", "tags": {}, "apiVersion": "2024-11-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss000002VNET"],
      "properties": {"overprovision": true, "upgradePolicy": {"mode": "manual"}, "singlePlacementGroup":
      false, "zoneBalance": true, "resiliencyPolicy": {"automaticZoneRebalancingPolicy":
      {"enabled": true, "rebalanceStrategy": "Recreate", "rebalanceBehavior": "CreateBeforeDelete"}},
      "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption": "FromImage",
      "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer", "sku": "2016-Datacenter",
      "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmssk1565", "adminUsername":
      "vmtest", "adminPassword": "[parameters(''adminPassword'')]"}, "networkProfile":
      {"networkInterfaceConfigurations": [{"name": "vmssk1565Nic", "properties": {"ipConfigurations":
      [{"name": "vmssk1565IPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET/subnets/vmss000002Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/backendAddressPools/lb000005bepool"}]}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/networkSecurityGroups/nsg000004"},
      "primary": "true"}}], "healthProbe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/probes/probe000006"}}},
      "orchestrationMode": "Uniform"}, "sku": {"name": "Standard_D1_v2", "capacity":
      2}, "zones": ["1", "2", "3"]}], "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'', ''vmss000002''),providers(''Microsoft.Compute'',
      ''virtualMachineScaleSets'').apiVersions[0])]"}}}, "parameters": {"adminPassword":
      {"value": "Test123456789#"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vmss_with_aut[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584557779188979410?api-version=2024-11-01&t=638814257755740209&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss000002?api-version=2024-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n
        \   \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"etag\":
        \"\\\"3\\\"\",\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": false,\r\n
        \   \"orchestrationMode\": \"Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\":
        \"Manual\"\r\n    },\r\n    \"resiliencyPolicy\": {\r\n      \"automaticZoneRebalancingPolicy\":
        {\r\n        \"enabled\": true,\r\n        \"rebalanceStrategy\": \"Recreate\",\r\n
        \       \"rebalanceBehavior\": \"CreateBeforeDelete\"\r\n      }\r\n    },\r\n
        \   \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\":
        \"vmssk1565\",\r\n        \"adminUsername\": \"vmtest\",\r\n        \"windowsConfiguration\":
        {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\":
        true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\":
        true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\":
        {\r\n        \"osDisk\": {\r\n          \"osType\": \"Windows\",\r\n          \"createOption\":
        \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\":
        {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n
        \         \"diskSizeGB\": 127\r\n        },\r\n        \"imageReference\":
        {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\":
        \"WindowsServer\",\r\n          \"sku\": \"2016-Datacenter\",\r\n          \"version\":
        \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\"healthProbe\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/probes/probe000006\"},\"networkInterfaceConfigurations\":[{\"name\":\"vmssk1565Nic\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"disableTcpStateTracking\":false,\"networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/networkSecurityGroups/nsg000004\"},\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"vmssk1565IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET/subnets/vmss000002Subnet\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Network/loadBalancers/lb000005/backendAddressPools/lb000005bepool\"}]}}]}}]},\r\n
        \     \"timeCreated\": \"2025-04-28T08:29:41.7829129+00:00\"\r\n    },\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": true,\r\n
        \   \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\":
        \"104b0e63-7f47-4821-8a00-863a72f70893\",\r\n    \"zoneBalance\": true,\r\n
        \   \"platformFaultDomainCount\": 1,\r\n    \"timeCreated\": \"2025-04-28T08:29:41.7829129+00:00\"\r\n
        \ },\r\n  \"zones\": [\r\n    \"1\",\r\n    \"2\",\r\n    \"3\"\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3"'
      x-ms-need-to-refresh-epl-cache:
      - 'False'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2399,Microsoft.Compute/GetVMScaleSetResource;32
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/7fd907de-b95e-4966-9178-47b0365eb9d7?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&api-version=2024-11-01&t=638814258508305390&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27test_vmss_with_automatic_zone_rebalancing_policy000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2024-11-01&$skiptoken=rY9BC4IwGIb/y3f2YFaXoIuYZDilstbGLqPENnOFTsiJ/70VQacu0eGDl%2B/wvO/Tg8rvOhaqbGDWQ84b3doEebdq6eHsZjjsuLfvInkVSVZ0pArLBEeaVMRQ4bqJR0yMQ0mDQhMTnpEpxqTaC2SOo0i5c3BA8htXT/AXLDHlhJidvaNGeH2nW4ut1tMYL7w0QzoNNoLinZdIX6LAv7ywg/MZnqrl9XKy899PxOsyr21bz95CDGY2/kmJgcM%2BUl/Rv2gxGGB4AA%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_vmss_with_automatic_zone_rebalancing_policy000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584557778292293928?api-version=2024-11-01&t=638814258608775089&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/aac9d30f-c55b-4f62-9153-dcd2c12df4d9?api-version=2023-04-01&t=638814258986928195&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
