interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.25.0 azsdk-python-azure-mgmt-resource/18.0.0 Python/3.8.0 (Windows-10-10.0.19041-SP0)
=======
      - AZURECLI/2.27.0 azsdk-python-azure-mgmt-resource/18.0.0 Python/3.8.1 (Windows-10-10.0.19041-SP0)
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_basic000001?api-version=2021-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001","name":"img_tmpl_basic000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-06-29T08:28:17Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001","name":"img_tmpl_basic000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-08-06T07:11:13Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 29 Jun 2021 08:28:21 GMT
=======
      - Fri, 06 Aug 2021 07:12:42 GMT
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-msi/0.2.0 Azure-SDK-For-Python AZURECLI/2.25.0
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-msi/0.2.0 Azure-SDK-For-Python AZURECLI/2.27.0
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1?api-version=2015-08-31-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_basic000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1","name":"ide1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"542e3c74-7084-4c8f-aa4c-d57680a3aa36","clientId":"caf5c2be-37ff-48b1-8480-123d0c4c90f1","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_basic000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1/credentials?tid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&oid=542e3c74-7084-4c8f-aa4c-d57680a3aa36&aid=caf5c2be-37ff-48b1-8480-123d0c4c90f1"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_basic000001/providers/Microsoft.ManagedIdentity/userAssignedI[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-graphrbac/0.60.0 Azure-SDK-For-Python AZURECLI/2.25.0
      accept-language:
      - en-US
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27caf5c2be-37ff-48b1-8480-123d0c4c90f1%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"542e3c74-7084-4c8f-aa4c-d57680a3aa36","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_basic000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1"],"appDisplayName":null,"appId":"caf5c2be-37ff-48b1-8480-123d0c4c90f1","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"ide1","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"0E26344C843F01DCD0D9A58F3B8730E17102D37E","endDate":"2021-09-27T08:23:00Z","keyId":"f002d21b-7b0c-4400-a398-5aa4cea3bfa5","startDate":"2021-06-29T08:23:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["caf5c2be-37ff-48b1-8480-123d0c4c90f1","https://identity.azure.net/QuMWqsePNBKq0Q4s6OSTmL36kJvzDoSk/q8W2VzlByo="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-graphrbac/0.60.0 Azure-SDK-For-Python AZURECLI/2.27.0
      accept-language:
      - en-US
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%275c3487d8-c036-4851-bfda-aff4301e95c9%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-authorization/0.61.0 Azure-SDK-For-Python AZURECLI/2.25.0
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-authorization/0.61.0 Azure-SDK-For-Python AZURECLI/2.27.0
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-12-04T00:34:54.8501087Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 29 Jun 2021 08:29:15 GMT
=======
      - Fri, 06 Aug 2021 07:13:40 GMT
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      expires:
      - '-1'
      pragma:
      - no-cache
      set-cookie:
      - x-ms-gateway-slice=Production; path=/; secure; samesite=none; httponly
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
<<<<<<< HEAD
      "principalId": "542e3c74-7084-4c8f-aa4c-d57680a3aa36", "principalType": "ServicePrincipal"}}'
=======
      "principalId": "bea6bbe7-1b58-4871-8bbd-3f212013949e", "principalType": "ServicePrincipal"}}'
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-authorization/0.61.0 Azure-SDK-For-Python AZURECLI/2.25.0
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-authorization/0.61.0 Azure-SDK-For-Python AZURECLI/2.27.0
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"542e3c74-7084-4c8f-aa4c-d57680a3aa36","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001","condition":null,"conditionVersion":null,"createdOn":"2021-06-29T08:29:15.6977501Z","updatedOn":"2021-06-29T08:29:16.2758780Z","createdBy":null,"updatedBy":"9ac534f1-d577-4034-a32d-48de400dacbf","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
=======
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "subnet1", "properties":
      {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.25.0 azsdk-python-azure-mgmt-network/19.0.0 Python/3.8.0 (Windows-10-10.0.19041-SP0)
=======
      - AZURECLI/2.27.0 azsdk-python-azure-mgmt-network/19.0.0 Python/3.8.1 (Windows-10-10.0.19041-SP0)
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Network/virtualNetworks/vnet1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"f6ed23aa-95cf-431b-9dd6-4d7a1cdb0225\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"18ae7610-092d-426a-b3c0-408653f99bb8\",\r\n    \"addressSpace\":
=======
        \ \"etag\": \"W/\\\"6fcf246e-5063-49f9-83cf-142e41b8da28\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"25519b03-bf20-40bd-804c-5a7678e90710\",\r\n    \"addressSpace\":
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\",\r\n
<<<<<<< HEAD
        \       \"etag\": \"W/\\\"f6ed23aa-95cf-431b-9dd6-4d7a1cdb0225\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"6fcf246e-5063-49f9-83cf-142e41b8da28\\\"\",\r\n
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b55fdf29-f038-403d-b451-990e5f65acd7?api-version=2021-02-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/38dd8e41-e2e4-42e5-88a1-5554aced7981?api-version=2021-02-01
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      cache-control:
      - no-cache
      content-length:
      - '1403'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Tue, 29 Jun 2021 08:29:25 GMT
=======
      - Fri, 06 Aug 2021 07:13:51 GMT
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 4197d0f1-af0e-450c-b41f-f2e75b7d1b52
=======
      - 7061b511-170b-4a97-b63e-409249489b03
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.25.0 azsdk-python-azure-mgmt-network/19.0.0 Python/3.8.0 (Windows-10-10.0.19041-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b55fdf29-f038-403d-b451-990e5f65acd7?api-version=2021-02-01
=======
      - AZURECLI/2.27.0 azsdk-python-azure-mgmt-network/19.0.0 Python/3.8.1 (Windows-10-10.0.19041-SP0)
    method:[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.25.0 azsdk-python-azure-mgmt-network/19.0.0 Python/3.8.0 (Windows-10-10.0.19041-SP0)
=======
      - AZURECLI/2.27.0 azsdk-python-azure-mgmt-network/19.0.0 Python/3.8.1 (Windows-10-10.0.19041-SP0)
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Network/virtualNetwork[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.25.0 azsdk-python-azure-mgmt-resource/18.0.0 Python/3.8.0 (Windows-10-10.0.19041-SP0)
=======
      - AZURECLI/2.27.0 azsdk-python-azure-mgmt-resource/18.0.0 Python/3.8.1 (Windows-10-10.0.19041-SP0)
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"source": {"type": "PlatformImage",
      "publisher": "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version":
      "18.04.201808140"}, "customize": [{"name": "customizeScript.sh", "type": "Shell",
      "scriptUri": "https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh"},
      {"name": "customizeScript.sh", "type": "Shell", "scriptUri": "https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh"}],
      "distribute": [{"runOutputName": "new_img", "artifactTags": {}, "type": "ManagedImage",
      "imageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Compute/images/new_img",
      "location": "southcentralus"}, {"runOutputName": "my_vhd_output", "artifactTags":
      {}, "type": "VHD"}], "vmProfile": {"vmSize": "Standard_D1_v2", "osDiskSizeGB":
      20, "vnetConfig": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}},
      "identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1":
      {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-imagebuilder/0.4.0 Azure-SDK-For-Python AZURECLI/2.25.0
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-imagebuilder/0.4.0 Azure-SDK-For-Python AZURECLI/2.25.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/86776dee-40f7-4c99-aebe-91baac93162f?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"86776DEE-40F7-4C99-AEBE-91BAAC93162F\",\n \"status\":
        \"InProgress\",\n \"startTime\": \"2021-06-29T08:29:50.05Z\"\n}"
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-imagebuilder/0.4.0 Azure-SDK-For-Python AZURECLI/2.27.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/c06e619e-75f1-4438-a05e-7b715b74acba?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"C06E619E-75F1-4438-A05E-7B715B74ACBA\",\n \"status\":
        \"InProgress\",\n \"startTime\": \"2021-08-06T07:14:17.4733333Z\"\n}"
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Tue, 29 Jun 2021 08:30:23 GMT
=======
      - Fri, 06 Aug 2021 07:14:50 GMT
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-imagebuilder/0.4.0 Azure-SDK-For-Python AZURECLI/2.25.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/86776dee-40f7-4c99-aebe-91baac93162f?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"86776DEE-40F7-4C99-AEBE-91BAAC93162F\",\n \"status\":
        \"Succeeded\",\n \"startTime\": \"2021-06-29T08:29:50.05Z\",\n \"endTime\":
        \"2021-06-29T08:30:27.5759582Z\"\n}"
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-imagebuilder/0.4.0 Azure-SDK-For-Python AZURECLI/2.27.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/c06e619e-75f1-4438-a05e-7b715b74acba?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"C06E619E-75F1-4438-A05E-7B715B74ACBA\",\n \"status\":
        \"Succeeded\",\n \"startTime\": \"2021-08-06T07:14:17.4733333Z\",\n \"endTime\":
        \"2021-08-06T07:14:54.2741645Z\"\n}"
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    headers:
<<<<<<< HEAD
      - '160'
      content-type:
      - application/json
      date:
      - Tue, 29 Jun 2021 08:30:53 GMT
=======
      - '165'
      content-type:
      - application/json
      date:
      - Fri, 06 Aug 2021 07:15:20 GMT
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-imagebuilder/0.4.0 Azure-SDK-For-Python AZURECLI/2.25.0
=======
      - python/3.8.1 (Windows-10-10.0.19041-SP0) msrest/0.6.21 msrest_azure/0.6.3
        azure-mgmt-imagebuilder/0.4.0 Azure-SDK-For-Python AZURECLI/2.27.0
>>>>>>> 30e5997c7f78e026157fdfb1ce01048c01d66727
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01?api-version=2020-02-14
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"offer\": \"UbuntuServer\",\n
        \  \"publisher\": \"Canonical\",\n   \"sku\": \"18.04-LTS\",\n   \"type\":
        \"PlatformImage\",\n   \"version\": \"18.04.201808140\"\n  },\n  \"customize\":
        [\n   {\n    \"name\": \"customizeScript.sh\",\n    \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh\",\n
        \   \"sha256Checksum\": \"2c6ff6902a4a52deee69e8db26d0036a53388651008aaf31795bb20dabd21fd8\",\n
        \   \"type\": \"Shell\"\n   },\n   {\n    \"name\": \"customizeScript.sh\",\n
        \   \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh\",\n
        \   \"sha256Checksum\": \"2c6ff6902a4a52deee69e8db26d0036a53388651008aaf31795bb20dabd21fd8\",\n
        \   \"type\": \"Shell\"\n   }\n  ],\n  \"distribute\": [\n   {\n    \"artifactTags\":
        {},\n    \"imageId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Compute/images/new_img\",\n
        \   \"location\": \"southcentralus\",\n    \"runOutputName\": \"new_img\",\n
        \   \"type\": \"ManagedImage\"\n   },\n   {\n    \"artifactTags\": {},\n    \"runOutputName\":
        \"my_vhd_output\",\n    \"type\": \"VHD\"\n   }\n  ],\n  \"provisioningState\":
        \"Succeeded\",\n  \"buildTimeoutInMinutes\": 0,\n  \"vmProfile\": {\n   \"vmSize\":
        \"Standard_D1_v2\",\n   \"osDiskSizeGB\": 20,\n   \"vnetConfig\": {\n    \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_basic000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\n
        \  }\n  }\n },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\":
        {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_ba[...]
[...]
