interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_host_resize_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001","name":"cli_test_vm_host_resize_000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2023-04-20T01:47:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"platformFaultDomainCount":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VM_HOST_RESIZE_75SV2VYOLMXM4FN5ANZ5O5EYF2E5MBGJYLNVK4SWEKB2VIEHFOX/providers/Microsoft.Compute/hostGroups/my-host-group\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups\",\r\n  \"location\": \"centraluseuap\"\
        ,\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\": 1,\r\n    \"\
        supportAutomaticPlacement\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;117,Microsoft.Compute/PutDeleteDedicatedHost30Min;591
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "DSv3-Type1"}, "properties":
      {"platformFaultDomain": 0}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\"\
        : \"centraluseuap\",\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n \
        \ },\r\n  \"properties\": {\r\n    \"platformFaultDomain\": 0,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"ef54694f-1e46-42e9-9208-19943a32265b\",\r\n \
        \   \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2023-04-20T01:47:39.7525825+00:00\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/ad1c929a-b697-4941-989e-50012846bc84?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2024-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;116,Microsoft.Compute/PutDeleteDedicatedHost30Min;590
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/ad1c929a-b697-4941-989e-50012846bc84?p=2745cc42-2cf3-41b7-830c-129b79fbec46&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-04-20T01:47:39.7056994+00:00\",\r\n  \"\
        endTime\": \"2023-04-20T01:47:40.0494293+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"ad1c929a-b697-4941-989e-50012846bc84\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29993
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\"\
        : \"centraluseuap\",\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n \
        \ },\r\n  \"properties\": {\r\n    \"platformFaultDomain\": 0,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"ef54694f-1e46-42e9-9208-19943a32265b\",\r\n \
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2023-04-20T01:47:40.0183017+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"\
        2023-04-20T01:47:39.7525825+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;246,Microsoft.Compute/GetDedicatedHost30Min;985
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host/hostSizes?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    \"DSv3-Type3\",\r\n    \"DSv3-Type4\",\r\
        \n    \"DSv3-Type2\"\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;245,Microsoft.Compute/GetDedicatedHost30Min;984
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2023-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_host_resize_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\"\
        ,\r\n  \"type\": \"Microsoft.Compute/hostGroups/hosts\",\r\n  \"location\"\
        : \"centraluseuap\",\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type3\"\r\n \
        \ },\r\n  \"properties\": {\r\n    \"platformFaultDomain\": 0,\r\n    \"autoReplaceOnFailure\"\
        : true,\r\n    \"hostId\": \"ef54694f-1e46-42e9-9208-19943a32265b\",\r\n \
        \   \"virtualMachines\": [],\r\n    \"provisioningTime\": \"2023-04-20T01:47:40.0183017+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"\
        2023-04-20T01:47:39.7525825+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;242,Microsoft.Compute/GetDedicatedHost30Min;981
    status:
      code: 200
      message: OK
version: 1
