interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001","name":"cli_test_vmss_create_automatic_repairs_with_health_probe_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-02-27T11:00:09Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"CoreOS\": {\n            \"publisher\": \"CoreOS\",\n            \"offer\":
        \"CoreOS\",\n            \"sku\": \"Stable\",\n            \"version\": \"latest\"\n
        \         },\n          \"Debian\": {\n            \"publisher\": \"Debian\",\n
        \           \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n            \"version\":
        \"latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\":
        \"42.3\",\n            \"version\": \"latest\"\n          },\n          \"RHEL\":
        {\n            \"publisher\": \"RedHat\",\n            \"offer\": \"RHEL\",\n
        \           \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n          },\n
        \         \"SLES\": {\n            \"publisher\": \"SUSE\",\n            \"offer\":
        \"SLES\",\n            \"sku\": \"15\",\n            \"version\": \"latest\"\n
        \         },\n          \"UbuntuLTS\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n
        \           \"version\": \"latest\"\n          }\n        },\n        \"Windows\":
        {\n          \"Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n            \"version\":
        \"latest\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"540044b4084c3c314537f1baa1770f248628b2bc9ba0328f1004c33862e049da"
      source-age:
      - '20'
      x-fastly-request-id:
      - e97762c55433996eda078fe9f8178b2412f2e8ce
      x-geo-block-list:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2018-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/lb1''
        under resource group ''cli_test_vmss_create_automatic_repairs_with_health_probe_000001''
        was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_vmss_create_automatic_repairs_with_health_probe_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2019-11-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPlb1", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Dynamic"}, "sku": {"name": "Basic"}}, {"type":
      "Microsoft.Network/loadBalancers", "name": "lb1", "location": "westus", "tags":
      {}, "apiVersion": "2019-11-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "properties": {"backendAddressPools": [{"name": "lb1bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Basic"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(\''lb1\'')]"}}}, "parameters":
      {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/lb_deploy_rhNE63bhkuAG024ZYzuACsQSwohPl4fo","name":"lb_deploy_rhNE63bhkuAG024ZYzuACsQSwohPl4fo","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3901513804302018272","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-02-27T11:00:33.6450835Z","duration":"PT3.7380469S","correlationId":"a5e8fa58-3c23-44f7-b0ef-0e45d395573e","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/lb_deploy_rhNE63bhkuAG024ZYzuACsQSwohPl4fo/operationStatuses/08586188056555705787?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586188056555705787?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1\",\r\n
        \ \"etag\": \"W/\\\"7566085a-a31c-41ea-a041-9b80520bd8ac\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"5c91b57e-5a38-4f9d-9a8c-730c391d3d9a\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"7566085a-a31c-41ea-a041-9b80520bd8ac\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\r\n
        \         },\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n
        \     }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\":
        \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\",\r\n
        \       \"etag\": \"W/\\\"7566085a-a31c-41ea-a041-9b80520bd8ac\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n
        \     }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n
        \   \"inboundNatRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7566085a-a31c-41ea-a041-9b80520bd8ac"
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1",
      "location": "westus", "tags": {}, "sku": {"name": "Basic"}, "properties": {"frontendIPConfigurations":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "privateIPAddressVersion":
      "IPv4", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd"}], "backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "name": "lb1bepool"}], "loadBalancingRules": [], "probes": [{"properties": {"protocol":
      "Tcp", "port": 80}, "name": "probe"}], "inboundNatRules": [], "inboundNatPools":
      []}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/eb7eed39-836d-4939-8409-f74edf475672?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1",
      "location": "westus", "tags": {}, "sku": {"name": "Basic"}, "properties": {"frontendIPConfigurations":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "privateIPAddressVersion":
      "IPv4", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd"}], "backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "name": "lb1bepool"}], "loadBalancingRules": [{"properties": {"frontendIPConfiguration":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "privateIPAddressVersion":
      "IPv4", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd"}, "backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "name": "lb1bepool"}, "probe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe",
      "properties": {"protocol": "Tcp", "port": 80, "intervalInSeconds": 15, "numberOfProbes":
      2}, "name": "probe"}, "protocol": "Tcp", "loadDistribution": "default", "frontendPort":
      80, "backendPort": 80}, "name": "lbrule"}], "probes": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe",
      "properties": {"protocol": "Tcp", "port": 80, "intervalInSeconds": 15, "numberOfProbes":
      2}, "name": "probe"}], "inboundNatRules": [], "inboundNatPools": []}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
[...]
[...]
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1", "location": "westus",
      "tags": {}, "apiVersion": "2019-07-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET"],
      "sku": {"name": "Standard_DS1_v2", "capacity": 2}, "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "manual"}, "virtualMachineProfile": {"storageProfile":
      {"osDisk": {"createOption": "FromImage", "caching": "ReadWrite", "managedDisk":
      {"storageAccountType": null}}, "imageReference": {"publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "18.04-LTS", "version": "latest"}}, "osProfile":
      {"computerNamePrefix": "vmss1028b", "adminUsername": "xiaojxu", "linuxConfiguration":
      {"disablePasswordAuthentication": true, "ssh": {"publicKeys": [{"path": "/home/xiaojxu/.ssh/authorized_keys",
      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCNq5uPrklxD+LRP7A+27FILB7DOXjIDugtyrQk/004bV0kDiCQM89d2iJDlbt7SeAmB66d/r1+FHwocuomfKi8Mgjn+35Rd7Iuhin4urD/by3YBiHfWpbALH9aqCBrALvKGlIlIQOrtxjtX/C+q9k63Y6fbMxb+FQwWEpKsEy4az88RUSmvxgM3WHw7QrfqTSHFla/ZiZO12lQaPDS7n/3agNjb32w5JzI+fAD00Z2hOpVZvwr0q+J5mu+itOWeLJMwuyi7s+CJNnuBJirBYpE15PWSfWXcoO5amNk0ybaDhBbgXYWzf1++i+2I4Ge24ZojWSCD5rW6iOzAtZxSyv
      fareast\\\\xiaojxu@DESKTOP-7MRSI63\\n"}]}}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss1028bNic", "properties": {"primary": "true", "ipConfigurations":
      [{"name": "vmss1028bIPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"}]}}]}}],
      "healthProbe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_automatic_repairs_with_health_probe_000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe"}}},
      "singlePlacementGroup": null, "automaticRepairsPolicy": {"enabled": "true",
      "gracePeriod": "PT30M"}}}], "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'', \''vmss1\''),providers(\''Microsoft.Compute\'',
      \''virtualMachineScaleSets\'').apiVersions[0])]"}}}, "parameters": {}, "mode":
      "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_automatic_repairs_wit[...]
[...]
