interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_target_extended_locations_encryption000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001","name":"cli_test_target_extended_locations_encryption000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-04T06:31:11Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/galleries/gallery_000003?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery_000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/galleries/gallery_000003\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GALLERY_MBFYT2KKJ5AS\"\r\n    },\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/capsOperations/e2d661d3-0d5b-4b7f-852f-7d41a6bbcdd7?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;297
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/capsOperations/e2d661d3-0d5b-4b7f-852f-7d41a6bbcdd7?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-04T06:32:11.4429+00:00\",\r\n  \"endTime\":
        \"2023-01-04T06:32:11.6930091+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"e2d661d3-0d5b-4b7f-852f-7d41a6bbcdd7\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1196,Microsoft.Compute/GetOperationStatus30Min;4155
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"osType": "Windows",
      "osState": "Generalized", "hyperVGeneration": "V1", "identifier": {"publisher":
      "publisher1", "offer": "offer1", "sku": "sku1"}, "disallowed": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/galleries/gallery_000003/images/image1?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"image1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/galleries/gallery_000003/images/image1\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"architecture\": \"x64\",\r\n    \"osType\": \"Windows\",\r\n    \"osState\":
        \"Generalized\",\r\n    \"identifier\": {\r\n      \"publisher\": \"publisher1\",\r\n
        \     \"offer\": \"offer1\",\r\n      \"sku\": \"sku1\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/capsOperations/ef16844e-5c6e-4c6f-b135-396dcfdb5556?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryImage3Min;149,Microsoft.Compute/CreateUpdateGalleryImage30Min;748
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "tags": {}, "sku": {"name": "Premium_LRS"}, "properties":
      {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"}, "diskSizeGB":
      10}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/disks/disk?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/aeebdf26-4b9e-49b1-8483-c05ad0872820?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-04T06:33:41.4837306+00:00\",\r\n  \"endTime\":
        \"2023-01-04T06:33:41.6242929+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/disks/disk\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\":
        25,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"timeCreated\": \"2023-01-04T06:33:41.4837306+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
        \   \"diskSizeBytes\": 10737418240,\r\n    \"uniqueId\": \"4d5462a6-a107-4f0c-9640-40875422b219\",\r\n
        \   \"tier\": \"P3\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"aeebdf26-4b9e-49b1-8483-c05ad0872820\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49995,Microsoft.Compute/GetOperation30Min;399926
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000004/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vault-000002.vault.azure.net/keys/key-000004/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://vault-000002.vault.azure.net/keys/key-000004/2daec3a9e6424ef1899b1e2ad21e1a6e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"u8N1nb-mepUNJwfizn4sWcTAoQQb24PJFTHCZOCIxnfz65r3nf6sW7AVI9or108NpgKqLyYbN6Oi8isLaKjndjBB6d_2QPnVQi1cTkkcMIboHET0532h1j9coErcMtfRYR8kNp289Wc5fEoa_zT3usPZbtKipCzPU1Cy5Wkckih9SZ2LT_AF6V6kF04prIqgjhKI6h4DFLoFx3v4MkQjHCh20ZqQDKyYRxI_2nLteb7D4DGBpfFg6K0pIKPwP4PJuaJcfADYOgnAT6NWbuHVhDixM2JT36yGVTAyxK7PzcbOnR0xg9Vp73ExwyKNoKvwZ9lBTTI7-ZDegw_3xko0wQ","e":"AQAB"},"attributes":{"enabled":true,"created":1672814027,"updated":1672814027,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "identity": {"type": "SystemAssigned"}, "properties":
      {"activeKey": {"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.KeyVault/vaults/vault-000002"},
      "keyUrl": "https://vault-000002.vault.azure.net/keys/key-000004/2daec3a9e6424ef1899b1e2ad21e1a6e"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"identity\": {\r\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/b02c3357-bd28-4ef6-aac8-1fdd9f06fa02?p=42128af7-4c72-4222-9761-fb0d8e6cebdc&api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-04T06:33:54.2914978+00:00\",\r\n  \"endTime\":
        \"2023-01-04T06:33:54.3696967+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"name\":\"des1-000005\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005\",\"type\":\"Microsoft.Compute/diskEncryptionSets\",\"location\":\"westus\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"5c69054a-43e9-410e-8f50-959109878ab3\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"},\"properties\":{\"activeKey\":{\"sourceVault\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.KeyVault/vaults/vault-000002\"},\"keyUrl\":\"https://vault-000002.vault.azure.net/keys/key-000004/2daec3a9e6424ef1899b1e2ad21e1a6e\"},\"encryptionType\":\"EncryptionAtRestWithCustomerKey\",\"provisioningState\":\"Succeeded\"}}\r\n
        \ },\r\n  \"name\": \"b02c3357-bd28-4ef6-aac8-1fdd9f06fa02\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49994,Microsoft.Compute/GetOperation30Min;399923
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005?api-version=2022-03-02
  response:
    body:
      string: "{\r\n  \"name\": \"des1-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/pr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzurePowerShellLiveTest/providers/Microsoft.KeyVault/vaults/LiveTestServicePrincipal","name":"LiveTestServicePrincipal","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv1117","name":"bez-kv1117","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/hangkey","name":"hangkey","type":"Microsoft.KeyVault/vaults","location":"koreasouth","tags":{"kk":"kk","zz":"kk","--kk":"zz"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/similar0327002194","name":"similar0327002194","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yishitest/providers/Microsoft.KeyVault/vaults/ystestkv","name":"ystestkv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.KeyVault/vaults/vault-000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.KeyVault/vaults/vault-000002","name":"vault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"zhuyan@microsoft.com","createdByType":"User","createdAt":"2023-01-04T06:31:27.41Z","lastModifiedBy":"zhuyan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-04T06:31:27.41Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"0581142e-ae8f-4bc0-9a0d-ffb7cbad05b2","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://vault-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "0581142e-ae8f-4bc0-9a0d-ffb7cbad05b2",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "5c69054a-43e[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"publishingProfile":
      {"targetRegions": [{"name": "westus", "regionalReplicaCount": 1, "encryption":
      {"osDiskImage": {"diskEncryptionSetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005"},
      "dataDiskImages": [{"diskEncryptionSetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005",
      "lun": 0}]}}], "targetExtendedLocations": [{"name": "westus", "extendedLocation":
      {"name": "microsoftlosangeles1", "type": "EdgeZone"}, "extendedLocationReplicaCount":
      1, "encryption": {"osDiskImage": {"diskEncryptionSetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005"},
      "dataDiskImages": [{"diskEncryptionSetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005",
      "lun": 0}]}}]}, "storageProfile": {"osDiskImage": {"source": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/disks/disk"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/galleries/gallery_000003/images/image1/versions/1.0.0?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/galleries/gallery_000003/images/image1/versions/1.0.0\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images/versions\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"publishingProfile\":
        {\r\n      \"targetRegions\": [\r\n        {\r\n          \"name\": \"West
        US\",\r\n          \"regionalReplicaCount\": 1,\r\n          \"storageAccountType\":
        \"Standard_LRS\",\r\n          \"encryption\": {\r\n            \"osDiskImage\":
        {\r\n              \"securityProfile\": {},\r\n              \"diskEncryptionSetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations_encryption000001/providers/Microsoft.Compute/diskEncryptionSets/des1-000005\"\r\n
        \           },\r\n            \"dataDiskImages\": [\r\n              {\r\n
        \               \"lun\": 0,\r\n                \"diskEncryptionSetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_lo[...]
[...]
