interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001","name":"img_tmpl_managed000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-18T14:13:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1","name":"ide1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"6923e5ae-e22f-4f62-bb1d-e30a6d11c447","clientId":"3a987a5a-2ca2-4ca9-99bd-67033252080d","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=6923e5ae-e22f-4f62-bb1d-e30a6d11c447&aid=3a987a5a-2ca2-4ca9-99bd-67033252080d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-12-04T00:34:54.8501087Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%273a987a5a-2ca2-4ca9-99bd-67033252080d%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"6923e5ae-e22f-4f62-bb1d-e30a6d11c447","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1"],"appDisplayName":null,"appId":"3a987a5a-2ca2-4ca9-99bd-67033252080d","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"ide1","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"A9FF5DCF45279EF0D8DDD0A23D64D5445CFA063A","endDate":"2021-03-18T14:08:00Z","keyId":"340a0ee6-fdc8-4ece-8338-e6168d90f278","startDate":"2020-12-18T14:08:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["3a987a5a-2ca2-4ca9-99bd-67033252080d","https://identity.azure.net/cuMnTUfIHXZbl7daAUp3ix8Rsf1lw02yjbzyHEn2Mes="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '429893'
      ocp-aad-diagnostics-server-name:
      - ME/Z7cMAnO6/vrzoMc6yckPd+gMqTzZtj4gnNCQoWjg=
      ocp-aad-session-key:
      - t64T8JL-wLUaupLG3vM5RZE5zU9CBl5i3GRwmzKq-AsHaCsHGp6VIhx3CWS3ocIEj-nDSXtvav0G_YSozrVwF_vxehvRrwgwTtPBalI56tl4aC8qvW8Hgi30isrl3DHe.7GoXwmGBYNo0cuy2JtgELSb9wF3ov5bbBE0O2J7Bxds
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "6923e5ae-e22f-4f62-bb1d-e30a6d11c447"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"6923e5ae-e22f-4f62-bb1d-e30a6d11c447","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001","condition":null,"conditionVersion":null,"createdOn":"2020-12-18T14:14:41.0967861Z","updatedOn":"2020-12-18T14:14:41.1867855Z","createdBy":null,"updatedBy":"414d10da-615f-49a7-90a0-a7008fb31cd3","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2","name":"eastus2","displayName":"East
        US 2","regionalDisplayName":"(US) East US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-78.3889","latitude":"36.6681","physicalLocation":"Virginia","pairedRegion":[{"name":"centralus","id":"/subscriptions/00000000-0000-[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"source": {"type": "PlatformImage",
      "publisher": "Canonical", "offer": "UbuntuServer", "sku": "18.04-LTS", "version":
      "18.04.201808140"}, "customize": [{"name": "customizeScript.sh", "type": "Shell",
      "scriptUri": "https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh"}],
      "distribute": [{"runOutputName": "img_1", "type": "ManagedImage", "imageId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1",
      "location": "westus"}], "vmProfile": {}}, "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1":
      {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01?api-version=2020-02-14
  response:
    body:
      string: '{"error":{"code":"MissingSubscriptionRegistration","message":"The subscription
        is not registered to use namespace ''Microsoft.VirtualMachineImages''. See
        https://aka.ms/rps-not-found for how to register subscriptions.","details":[{"code":"MissingSubscriptionRegistration","target":"Microsoft.VirtualMachineImages","message":"The
        subscription is not registered to use namespace ''Microsoft.VirtualMachineImages''.
        See https://aka.ms/rps-not-found for how to register subscriptions."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/register?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages","namespace":"Microsoft.VirtualMachineImages","authorizations":[{"applicationId":"cf32a0cc-373c-47c9-9156-0db11f6a6dfc","roleDefinitionId":"0ee55a0b-f45f-4392-92ec-e8bf1b4b5da5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"imageTemplates","locations":["East
        US","East US 2","West Central US","West US","West US 2","South Central US","North
        Europe","West Europe"],"apiVersions":["2020-02-14","2019-05-01-preview","2019-02-01-preview","2018-02-01-preview"],"capabilities":"None"},{"resourceType":"imageTemplates/runOutputs","locations":["East
        US","East US 2","West Central US","West US","West US 2","South Central US","North
        Europe","West Europe"],"apiVersions":["2020-02-14","2019-05-01-preview","2019-02-01-preview","2018-02-01-preview"]},{"resourceType":"locations","locations":["East
        US","East US 2","West Central US","West US","West US 2","North Europe","West
        Europe","South Central US"],"apiVersions":["2020-02-14","2019-05-01-preview","2019-02-01-preview","2018-02-01-preview"]},{"resourceType":"locations/operations","locations":["East
        US","East US 2","West Central US","West US","West US 2","South Central US","North
        Europe","West Europe"],"apiVersions":["2020-02-14","2019-05-01-preview","2019-02-01-preview","2018-02-01-preview"]},{"resourceType":"operations","locations":["East
        US","East US 2","West Central US","West US","West US 2","South Central US","North
        Europe","West Europe","Central US EUAP","East US 2 EUAP"],"apiVersions":["2020-02-14","2019-05-01-preview","2019-02-01-preview"]}],"registrationState":"Registering"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages","namespace":"Microsoft.VirtualMachineImages","authorizations":[{"applicationId":"cf32a0cc-373c-47c9-9156-0db11f6a6dfc","roleDefinitionId":"0ee55a0b-f45f-4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/c34f4644-f600-4e69-9641-c2f60dfe30da?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"C34F4644-F600-4E69-9641-C2F60DFE30DA\",\n \"status\":
        \"InProgress\",\n \"startTime\": \"2020-12-18T14:16:02.019121Z\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/c34f4644-f600-4e69-9641-c2f60dfe30da?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"C34F4644-F600-4E69-9641-C2F60DFE30DA\",\n \"status\":
        \"Succeeded\",\n \"startTime\": \"2020-12-18T14:16:02.019121Z\",\n \"endTime\":
        \"2020-12-18T14:16:33.5572365Z\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01?api-version=2020-02-14
  response:
    body:
      string: "{\n \"properties\": {\n  \"source\": {\n   \"offer\": \"UbuntuServer\",\n
        \  \"publisher\": \"Canonical\",\n   \"sku\": \"18.04-LTS\",\n   \"type\":
        \"PlatformImage\",\n   \"version\": \"18.04.201808140\"\n  },\n  \"customize\":
        [\n   {\n    \"name\": \"customizeScript.sh\",\n    \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript.sh\",\n
        \   \"sha256Checksum\": \"2c6ff6902a4a52deee69e8db26d0036a53388651008aaf31795bb20dabd21fd8\",\n
        \   \"type\": \"Shell\"\n   }\n  ],\n  \"distribute\": [\n   {\n    \"artifactTags\":
        {},\n    \"imageId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.Compute/images/img_1\",\n
        \   \"location\": \"westus\",\n    \"runOutputName\": \"img_1\",\n    \"type\":
        \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Succeeded\",\n  \"buildTimeoutInMinutes\":
        0,\n  \"vmProfile\": {\n   \"vmSize\": \"\",\n   \"osDiskSizeGB\": 0\n  }\n
        },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\":
        {\n   \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide1\":
        {\n    \"principalId\": \"6923e5ae-e22f-4f62-bb1d-e30a6d11c447\",\n    \"clientId\":
        \"3a987a5a-2ca2-4ca9-99bd-67033252080d\"\n   }\n  }\n },\n \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01\",\n
        \"name\": \"template01\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\",\n
        \"location\": \"westus\",\n \"tags\": {}\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/img_tmpl_managed000001/providers/Microsoft.VirtualMachineImages/imageTemplates/template01/run?api-version=2020-02-14
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/f1136341-e18f-4052-aa3f-c2aef5ab00b7?api-version=2020-02-14
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/f1136341-e18f-4052-aa3f-c2aef5ab00b7?api-version=2020-02-14
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.VirtualMachineImages/locations/westus/operations/f1136341-e18f-4052-aa3f-c2aef5ab00b7?api-version=2020-02-14
  response:
    body:
      string: "{\n \"name\": \"F1136341-E18F-4052-AA3F-C2AEF5AB00B7\",\n \"status\":
        \"Failed\",\n \"startTime\": \"2020-12-18T14:17:07.1286333Z\",\n \"endTime\":
        \"2020-12-18T14:17:22.6389457Z\",\n \"error\": {\n  \"code\": \"PackerBuildFailed\",\n
        \ \"message\": \"During the image build a failure has occurred. Please review
        the build log to identify which build/customization step failed. For more
        troubleshooting steps go to https://aka.ms/azvmimagebuilderts. Image build
        log location: https://lw1htdslo6fj5hppiruoi502.blob.core.windows.net/packerlogs/843e2d58-c28f-4558-b08b-3b625ea22093/customization.log.
        OperationId: 8273ef26-785d-4482-a15f-82d4117b79c8. Use this operationId to
        search packer logs.\"\n }\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
