interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/usages?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"limit\": 2500,\r\n      \"\
        unit\": \"Count\",\r\n      \"currentValue\": 1,\r\n      \"name\": {\r\n\
        \        \"value\": \"availabilitySets\",\r\n        \"localizedValue\": \"\
        Availability Sets\"\r\n      }\r\n    },\r\n    {\r\n      \"limit\": 100,\r\
        \n      \"unit\": \"Count\",\r\n      \"currentValue\": 5,\r\n      \"name\"\
        : {\r\n        \"value\": \"cores\",\r\n        \"localizedValue\": \"Total\
        \ Regional vCPUs\"\r\n      }\r\n    },\r\n    {\r\n      \"limit\": 25000,\r\
        \n      \"unit\": \"Count\",\r\n      \"currentValue\": 3,\r\n      \"name\"\
        : {\r\n        \"value\": \"virtualMachines\",\r\n        \"localizedValue\"\
        : \"Virtual Machines\"\r\n      }\r\n    },\r\n    {\r\n      \"limit\": 2500,\r\
     [...]
