interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"7.5.201808150\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43990
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions/7.5.201808150?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n\
        \    \"disallowed\": {\r\n      \"vmDiskType\": \"None\"\r\n    },\r\n   \
        \ \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : true\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\"\
        : \"Active\"\r\n    },\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\"\
        : \"Linux\",\r\n      \"sizeInGb\": 30,\r\n      \"sizeInBytes\": 32212255232\r\
        \n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\"\
        ,\r\n  \"name\": \"7.5.201808150\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73992
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm-attach-multiple-disks-testVNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "vm-attach-multiple-disks-testSubnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups", "name":
      "vm-attach-multiple-disks-testNSG", "apiVersion": "2015-06-15", "location":
      "westus", "tags": {}, "dependsOn": []}, {"apiVersion": "2022-01-01", "type":
      "Microsoft.Network/publicIPAddresses", "name": "vm-attach-multiple-disks-testPublicIP",
      "location": "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm-attach-multiple-disks-testVMNic", "location": "westus", "tags":
      {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm-attach-multiple-disks-testVNET",
      "Microsoft.Network/networkSecurityGroups/vm-attach-multiple-disks-testNSG",
      "Microsoft.Network/publicIpAddresses/vm-attach-multiple-disks-testPublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm-attach-multiple-disks-test",
      "properties": {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/virtualNetworks/vm-attach-multiple-disks-testVNET/subnets/vm-attach-multiple-disks-testSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/publicIPAddresses/vm-attach-multiple-disks-testPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkSecurityGroups/vm-attach-multiple-disks-testNSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-attach-multiple-disks-test", "location": "westus", "tags": {}, "dependsOn":
      ["Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "OpenLogic", "offer": "CentOS", "sku":
      "7.5", "version": "latest"}}, "osProfile": {"computerName": "vm-attach-multiple-disks-test",
      "adminUsername": "admin123", "adminPassword": "[parameters(''adminPassword'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "testPassword0"}},
      "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Resources/deployments/vm_deploy_fmFBtEhhU2DFm15EHEE7pCAx9qVz6QZB","name":"vm_deploy_fmFBtEhhU2DFm15EHEE7pCAx9qVz6QZB","type":"Microsoft.Resources/deployments","properties":{"templateHash":"12670982484284715426","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-01-18T02:07:48.0894593Z","duration":"PT0.0001331S","correlationId":"0f45b8fb-b0be-4a40-a5c7-4998fb6e36c2","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/virtualNetworks/vm-attach-multiple-disks-testVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-attach-multiple-disks-testVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkSecurityGroups/vm-attach-multiple-disks-testNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-attach-multiple-disks-testNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/publicIPAdd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585275992182239132?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/virtualMachines/vm-attach-multiple-disks-test?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-attach-multiple-disks-test\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/virtualMachines/vm-attach-multiple-disks-test\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"\
        89568742-3c6d-4ab0-b401-69f4cc1345a7\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"OpenLogic\"\
        ,\r\n        \"offer\": \"CentOS\",\r\n        \"sku\": \"7.5\",\r\n     \
        \   \"version\": \"latest\",\r\n        \"exactVersion\": \"7.5.201808150\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n\
        \        \"name\": \"vm-attach-multiple-disks-test_OsDisk_1_fec7e2afe94c467fa406089f23383d17\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/disks/vm-attach-multiple-disks-test_OsDisk_1_fec7e2afe94c467fa406089f23383d17\"\
        \r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vm-attach-multiple-disks-test\",\r\n    \
        \  \"adminUsername\": \"admin123\",\r\n      \"linuxConfiguration\": {\r\n\
        \        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\"\
        : true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\
        ,\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n    \
        \    \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\"\
        : [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\"\
        : true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"computerName\": \"vm-attach-multiple-disks-test\",\r\n    \
        \  \"osName\": \"centos\",\r\n      \"osVersion\": \"7.5.1804\",\r\n     \
        \ \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.9.0.4\",\r\n        \"\
        statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
        \       \"time\": \"2023-01-18T02:09:16+00:00\"\r\n          }\r\n       \
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"vm-attach-multiple-disks-test_OsDisk_1_fec7e2afe94c467fa406089f23383d17\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2023-01-18T02:08:09.5094601+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V1\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2023-01-18T02:09:18.0100751+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-01-18T02:08:08.2438334+00:00\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3978,Microsoft.Compute/LowCostGet30Min;31887
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-attach-multiple-disks-testVMNic\",\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic\"\
        ,\r\n  \"etag\": \"W/\\\"507e9793-f866-4645-aa54-07a0ed7e0f6f\\\"\",\r\n \
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"375d6344-62ea-4e0e-9a3b-feb447e633df\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm-attach-multiple-disks-test\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic/ipConfigurations/ipconfigvm-attach-multiple-disks-test\"\
        ,\r\n        \"etag\": \"W/\\\"507e9793-f866-4645-aa54-07a0ed7e0f6f\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/publicIPAddresses/vm-attach-multiple-disks-testPublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/virtualNetworks/vm-attach-multiple-disks-testVNET/subnets/vm-attach-multiple-disks-testSubnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"54moqbi4k5quzoiu100puyq2tg.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"60-45-BD-08-95-0A\",\r\n    \"vnetEncryptionSupported\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkSecurityGroups/vm-attach-multiple-disks-testNSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/virtualMachines/vm-attach-multiple-disks-test\"\
        \r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\
        \n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\
        \n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"507e9793-f866-4645-aa54-07a0ed7e0f6f"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/publicIPAddresses/vm-attach-multiple-disks-testPublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-attach-multiple-disks-testPublicIP\",\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/publicIPAddresses/vm-attach-multiple-disks-testPublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"630885f3-9e87-4131-a0d3-9062ed651e04\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6b27734d-df87-4244-b3a2-f8a8fea079d3\"\
        ,\r\n    \"ipAddress\": \"20.245.163.237\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic/ipConfigurations/ipconfigvm-attach-multiple-disks-test\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\
        \n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"630885f3-9e87-4131-a0d3-9062ed651e04"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/virtualMachines/vm-attach-multiple-disks-test?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-attach-multiple-disks-test\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"hardwareProfile": {"vmSize":
      "Standard_DS1_v2"}, "storageProfile": {"osDisk": {"osType": "Linux", "name":
      "vm-attach-multiple-disks-test_OsDisk_1_fec7e2afe94c467fa406089f23383d17", "caching":
      "ReadWrite", "createOption": "FromImage", "diskSizeGB": 30, "managedDisk": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/disks/vm-attach-multiple-disks-test_OsDisk_1_fec7e2afe94c467fa406089f23383d17",
      "storageAccountType": "Premium_LRS"}, "deleteOption": "Detach"}, "dataDisks":
      [{"lun": 0, "name": "d1", "createOption": "Empty", "diskSizeGB": 1, "managedDisk":
      {}}, {"lun": 1, "name": "d2", "createOption": "Empty", "diskSizeGB": 1, "managedDisk":
      {}}, {"lun": 2, "name": "d3", "createOption": "Empty", "diskSizeGB": 1, "managedDisk":
      {}}]}, "osProfile": {"computerName": "vm-attach-multiple-disks-test", "adminUsername":
      "admin123", "linuxConfiguration": {"disablePasswordAuthentication": false, "provisionVMAgent":
      true, "patchSettings": {"patchMode": "ImageDefault", "assessmentMode": "ImageDefault"},
      "enableVMAgentPlatformUpdates": false}, "secrets": [], "allowExtensionOperations":
      true, "requireGuestProvisionSignal": true}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Network/networkInterfaces/vm-attach-multiple-disks-testVMNic"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/2fc9f0b8-d10f-483e-a701-92904799976b?p=571046f6-b640-41c1-86f7-f9f044b5adf9&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-18T02:09:26.1664509+00:00\",\r\n  \"\
        status\": \"InProgress\",\r\n  \"name\": \"2fc9f0b8-d10f-483e-a701-92904799976b\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14959,Microsoft.Compute/GetOperation30Min;29816
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"hardwareProfile": {"vmSize":
      "Standard_DS1_v2"}, "storageProfile": {"osDisk": {"osType": "Linux", "name":
      "vm-attach-multiple-disks-test_OsDisk_1_fec7e2afe94c467fa406089f23383d17", "caching":
      "ReadWrite", "createOption": "FromImage", "diskSizeGB": 30, "managedDisk": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/disks/vm-attach-multiple-disks-test_OsDisk_1_fec7e2afe94c467fa406089f23383d17",
      "storageAccountType": "Premium_LRS"}, "deleteOption": "Detach"}, "dataDisks":
      [{"lun": 1, "name": "d2", "caching": "None", "createOption": "Empty", "diskSizeGB":
      1, "managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/disks/d2",
      "storageAccountType": "Premium_LRS"}, "toBeDetached": false, "deleteOption":
      "Detach"}, {"lun": 2, "name": "d3", "caching": "None", "createOption": "Empty",
      "diskSizeGB": 1, "managedDisk": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk-attach-multiple-disks000001/providers/Microsoft.Compute/disks/d3",
      "storageAccountType": "Premium_LRS"}, "toBeDetached": false, "deleteOption":
      "Detach"}]}, "osProfile": {"computerName": "vm-attach-multiple-disks-test",
      "adminUsername": "admin12[...]
[...]
