interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001","name":"cli_test_vmss_set_rolling_upgrade_policy_during_creation000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_set_rolling_upgrade_policy_during_creation","date":"2024-04-24T04:16:36Z","module":"vm"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\"\
        : {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"\
        type\": \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"\
        CentOS85Gen2\": {\n            \"publisher\":  \"OpenLogic\",\n          \
        \  \"offer\":  \"CentOS\",\n            \"sku\":  \"8_5-gen2\",\n        \
        \    \"version\":  \"latest\",\n            \"architecture\": \"x64\"\n  \
        \        },\n          \"Debian11\":  {\n            \"publisher\":  \"Debian\"\
        ,\n            \"offer\":  \"debian-11\",\n            \"sku\":  \"11-backports-gen2\"\
        ,\n            \"version\":  \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"FlatcarLinuxFreeGen2\":  {\n            \"\
        publisher\":  \"kinvolk\",\n            \"offer\":  \"flatcar-container-linux-free\"\
        ,\n            \"sku\":  \"stable-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          },\n          \"OpenSuseLeap154Gen2\"\
        :  {\n            \"publisher\":  \"SUSE\",\n            \"offer\":  \"openSUSE-leap-15-4\"\
        ,\n            \"sku\":  \"gen2\",\n            \"version\":  \"latest\",\n\
        \            \"architecture\": \"x64\"\n          },\n          \"RHELRaw8LVMGen2\"\
        :  {\n            \"publisher\":  \"RedHat\",\n            \"offer\":  \"\
        RHEL\",\n            \"sku\":  \"8-lvm-gen2\",\n            \"version\": \
        \ \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"SuseSles15SP3\": {\n            \"publisher\": \"SUSE\",\n       \
        \     \"offer\": \"sles-15-sp3\",\n            \"sku\": \"gen2\",\n      \
        \      \"version\": \"latest\",\n            \"architecture\": \"x64\"\n \
        \         },\n          \"Ubuntu2204\":  {\n            \"publisher\":  \"\
        Canonical\",\n            \"offer\":  \"0001-com-ubuntu-server-jammy\",\n\
        \            \"sku\":  \"22_04-lts-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          }\n        },\n      \
        \  \"Windows\": {\n          \"Win2022Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2022-datacenter-g2\",\n            \"version\": \"\
        latest\",\n            \"architecture\": \"x64\"\n          },\n         \
        \ \"Win2022AzureEditionCore\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2019Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2019-datacenter-gensecond\",\n            \"version\"\
        : \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"Win2016Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2016-datacenter-gensecond\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"\
        publisher\": \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\"\
        ,\n            \"sku\": \"2012-R2-Datacenter\",\n            \"version\":\
        \ \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2008R2SP1\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2008-R2-SP1\",\n            \"version\": \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          }\n        }\n      }\n\
        \    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"9fee27d398b0211e374a0f0e8e79c9b3a0342cfa43466b26b8548409639c8c17"
      source-age:
      - '0'
      x-fastly-request-id:
      - 0a2907e0fa4f3efec0d3590d518ebd60b93dfce3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-lts-gen2/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"22.04.202404090\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-lts-gen2/Versions/22.04.202404090\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43994
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-lts-gen2/versions/22.04.202404090?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n  \
        \  \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\"\
        : \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n \
        \     \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\"\
        : {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\
        \n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"\
        TrustedLaunchSupported\"\r\n      },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\"\
        ,\r\n        \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\"\
        : \"DiskControllerTypes\",\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\
        \n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n        \"value\"\
        : \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\"\
        : \"Linux\",\r\n      \"sizeInGb\": 30\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"22.04.202404090\"\
        ,\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-lts-gen2/Versions/22.04.202404090\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73995
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmss000002VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss000002LBPublicIP",
      "location": "eastus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "vmss000002LB", "location": "eastus", "tags": {}, "apiVersion": "2022-01-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss000002VNET", "Microsoft.Network/publicIpAddresses/vmss000002LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss000002LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/publicIPAddresses/vmss000002LBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss000002LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss000002LB''),
      ''/backendAddressPools/'', ''vmss000002LBBEPool'')]"}, "protocol": "tcp", "frontendPort":
      80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes": 5}}]},
      "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss000002NSG", "apiVersion": "2015-06-15", "location": "eastus", "tags":
      {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Network/loadBalancers/inboundNatRules",
      "apiVersion": "2022-01-01", "name": "vmss000002LB/NatRule", "location": "eastus",
      "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss000002LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "backendAddressPool": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss000002LB''), ''/backendAddressPools/'', ''vmss000002LBBEPool'')]"}, "backendPort":
      22, "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "protocol":
      "tcp", "idleTimeoutInMinutes": 5}, "dependsOn": ["[concat(''Microsoft.Network/loadBalancers/'',
      ''vmss000002LB'')]"]}, {"type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "vmss000002", "location": "eastus", "tags": {}, "apiVersion": "2024-03-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss000002VNET", "Microsoft.Network/loadBalancers/vmss000002LB",
      "Microsoft.Network/networkSecurityGroups/vmss000002NSG"], "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "Rolling", "rollingUpgradePolicy": {}, "automaticOSUpgradePolicy":
      {}}, "singlePlacementGroup": null, "platformFaultDomainCount": 1, "virtualMachineProfile":
      {"storageProfile": {"osDisk": {"createOption": "FromImage", "caching": "ReadWrite",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"publisher":
      "Canonical", "offer": "0001-com-ubuntu-server-jammy", "sku": "22_04-lts-gen2",
      "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmssi88f0", "adminUsername":
      "clitester1", "adminPassword": "[parameters(''adminPassword'')]", "customData":
      "CiNjbG91ZC1jb25maWcKcGFja2FnZV91cGdyYWRlOiB0cnVlCgpwYWNrYWdlczoKICAtIG5naW54Cgp3cml0ZV9maWxlczoKICAtIHBhdGg6IC92YXIvd3d3L2h0bWwvaW5kZXguaHRtbAogICAgY29udGVudDogfAogICAgICA8IURPQ1RZUEUgaHRtbD4KICAgICAgPGh0bWw+CiAgICAgIDxib2R5PgogICAgICA8aDE+SGVsbG8sIFdvcmxkITwvaDE+CiAgICAgIDwvYm9keT4KICAgICAgPC9odG1sPgogICAgb3duZXI6IHd3dy1kYXRhOnd3dy1kYXRhCiAgICBwZXJtaXNzaW9uczogJzA2NDQnCiAgLSBwYXRoOiAvdmFyL3d3dy9odG1sL2hlYWx0aC5odG1sCiAgICBjb250ZW50OiB8CiAgICAgIGhlYWx0aHkKICAgIG93bmVyOiB3d3ctZGF0YTp3d3ctZGF0YQogICAgcGVybWlzc2lvbnM6ICcwNjQ0JwogIC0gcGF0aDogL2V0Yy9uZ2lueC9zaXRlcy1hdmFpbGFibGUvZGVmYXVsdAogICAgY29udGVudDogfAogICAgICBzZXJ2ZXIgewogICAgICAgICAgbGlzdGVuIDgwIGRlZmF1bHRfc2VydmVyOwogICAgICAgICAgbGlzdGVuIFs6Ol06ODAgZGVmYXVsdF9zZXJ2ZXI7CiAgICAgICAgICByb290IC92YXIvd3d3L2h0bWw7CiAgICAgICAgICBpbmRleCBpbmRleC5odG1sOwogICAgICAgICAgc2VydmVyX25hbWUgXzsKICAgICAgICAgIGxvY2F0aW9uIC8gewogICAgICAgICAgICAgIHRyeV9maWxlcyAkdXJpICR1cmkvID00MDQ7CiAgICAgICAgICB9CiAgICAgICAgICBsb2NhdGlvbiAvaGVhbHRoIHsKICAgICAgICAgICAgICB0cnlfZmlsZXMgJHVyaS5odG1sID00MDQ7CiAgICAgICAgICB9CiAgICAgIH0KICAgIG93bmVyOiByb290OnJvb3QKICAgIHBlcm1pc3Npb25zOiAnMDY0NCcKCnJ1bmNtZDoKICAtIHN5c3RlbWN0bCBlbmFibGUgbmdpbngKICAtIHNlcnZpY2UgbmdpbnggcmVzdGFydAo="},
      "extensionProfile": {"extensions": [{"name": "ApplicationHealthLinux", "properties":
      {"publisher": "Microsoft.ManagedServices", "type": "ApplicationHealthLinux",
      "typeHandlerVersion": "1.0", "autoUpgradeMinorVersion": true, "settings": {"port":
      80, "protocol": "http", "requestPath": "/"}}}]}, "securityProfile": {"securityType":
      "TrustedLaunch", "uefiSettings": {"secureBootEnabled": true, "vTpmEnabled":
      true}}, "networkProfile": {"networkInterfaceConfigurations": [{"name": "vmssi88f0Nic",
      "properties": {"ipConfigurations": [{"name": "vmssi88f0IPConfig", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET/subnets/vmss000002Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/loadBalancers/vmss000002LB/backendAddressPools/vmss000002LBBEPool"}]}}],
      "networkSecurityGroup": {"id": "[resourceId(''Microsoft.Network/networkSecurityGroups'',
      ''vmss000002NSG'')]"}, "primary": "true"}}]}}, "orchestrationMode": "Uniform"},
      "sku": {"name": "Standard_DS1_v2", "capacity": 2}}], "outputs": {"VMSS": {"type":
      "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss000002''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {"adminPassword": {"value": "Testqwer1234!"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Resources/deployments/vmss_deploy_4IxeeJTQhWszIYIF225y7vBE3Rz7jfG0","name":"vmss_deploy_4IxeeJTQhWszIYIF225y7vBE3Rz7jfG0","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6745662475190426279","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-04-24T04:17:00.4688858Z","duration":"PT0.0004494S","correlationId":"a3cfda29-0883-416a-8a67-7ffea33c926b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus"]},{"resourceType":"publicIPAddresses","locations":["eastus"]},{"resourceType":"loadBalancers","locations":["eastus"]},{"resourceType":"networkSecurityGroups","locations":["eastus"]},{"resourceType":"loadBalancers/inboundNatRules","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/publicIPAddresses/vmss000002LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss000002LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/loadBalancers/vmss00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584876746686976061?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Res[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001","name":"cli_test_vmss_set_rolling_upgrade_policy_during_creation000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_vmss_set_rolling_upgrade_policy_during_creation","date":"2024-04-24T04:16:36Z","module":"vm","Creator":"v-jingszhang@microsoft.com","DateCreated":"2024-04-24T04:16:43Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-g2/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"20348.2402.240405\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-g2/Versions/20348.2402.240405\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43994
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-g2/versions/20348.2402.240405?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n  \
        \  \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\"\
        : \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n \
        \     \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\"\
        : {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\
        \n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"\
        TrustedLaunchAndConfidentialVmSupported\"\r\n      },\r\n      {\r\n     \
        \   \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"\
        True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\"\
        ,\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"\
        name\": \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n     \
        \ }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Windows\"\
        ,\r\n      \"sizeInGb\": 127\r\n    },\r\n    \"dataDiskImages\": []\r\n \
        \ },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"20348.2402.240405\",\r\
        \n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-g2/Versions/20348.2402.240405\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73995
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss000002VNET\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/virtualNetworks/vmss000002VNET\"\
        ,\r\n      \"etag\": \"W/\\\"5d7987d5-a170-4a97-83d0-f3da84a82504\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"location\"\
        : \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n      \
        \  \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"d523e50c-5e63-451d-acc1-9c4a9ed62339\"\
        ,\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": [\r\n \
        \           \"10.0.0.0/16\"\r\n          ]\r\n        },\r\n        \"subnets\"\
        : [\r\n          {\r\n            \"name\": \"vmss000002Subnet\",\r\n    \
        \        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_set_rolling_upgrade_policy_during_creation000001/providers/Microsoft.Network/virtualNetworks/v[...]
[...]
