interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_hibernation_enabled000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001","name":"cli_test_vm_hibernation_enabled000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2023-05-25T13:05:28Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions?$top=1&$orderby=name%20desc&api-version=2022-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"eastus2\",\r\n    \"name\": \"7.5.201808150\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/OpenLogic/artifacttypes/vmimage/offers/CentOS/skus/7.5/versions/7.5.201808150?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": true\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"osDiskImage\": {\r\n
        \     \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 30,\r\n      \"sizeInBytes\":
        32212255232\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\":
        \"eastus2\",\r\n  \"name\": \"7.5.201808150\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/eastus2/Publishers/OpenLogic/ArtifactTypes/VMImage/Offers/CentOS/Skus/7.5/Versions/7.5.201808150\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vm-000002VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm-000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm-000002NSG", "apiVersion":
      "2015-06-15", "location": "eastus2", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"protocol":
      "Tcp", "sourcePortRange": "*", "destinationPortRange": "22", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 1000, "direction":
      "Inbound"}}]}}, {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-000002PublicIP", "location": "eastus2", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "vm-000002VMNic", "location":
      "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm-000002VNET",
      "Microsoft.Network/networkSecurityGroups/vm-000002NSG", "Microsoft.Network/publicIpAddresses/vm-000002PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm-000002", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/virtualNetworks/vm-000002VNET/subnets/vm-000002Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkSecurityGroups/vm-000002NSG"}}},
      {"apiVersion": "2022-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-000002", "location": "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm-000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "OpenLogic", "offer": "CentOS", "sku":
      "7.5", "version": "latest"}}, "osProfile": {"computerName": "vm-000002", "adminUsername":
      "vmtest", "linuxConfiguration": {"disablePasswordAuthentication": true, "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCs/i3lxwGxI+YVNYr4amHpKJDysk9+MptNWHI/LO3bjZcWNDz5M8P8kcvN2ihtiUET28dHk199I+9ElkHA7tPBqhziqQ9FUPRLwzYMGvg/Fcp695vQf/Ib4HJOHvuJq6mNZWRhBoj2W2QOKmhpMx+HClEkd5jbg5w8m2mb1LrXc7GPqg2AVhjPXprXp8ti20O3OhQW3Vupme95ETLCCwlWWumcE/LSX3z/xhC94VEAj7SuoV+I9UTpd8qcuz9uXrGhiJjH9iCPjEXV70lg9IlY0/lTuMCpUtO2arVOfH2ek6HBGTWZ9uk4uTaW7PObuy/IHZEFuHV5hpJ9M2UGD3VZ",
      "path": "/home/vmtest/.ssh/authorized_keys"}]}}}, "additionalCapabilities":
      {"hibernationEnabled": true}}}], "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Resources/deployments/vm_deploy_FyycXTk8FLB7BjTX0qIuikB18NQt4Mbx","name":"vm_deploy_FyycXTk8FLB7BjTX0qIuikB18NQt4Mbx","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17760390595190782336","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-05-25T13:05:31.6780299Z","duration":"PT0.0003828S","correlationId":"d3817ee0-6ac8-4de5-b1cb-a2cda5fe8bd9","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2"]},{"resourceType":"networkSecurityGroups","locations":["eastus2"]},{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"networkInterfaces","locations":["eastus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/virtualNetworks/vm-000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkSecurityGroups/vm-000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-000002PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-000002VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-000002VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/virtualMachines/vm-000002","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Resources/deployments/vm_deploy_FyycXTk8FLB7BjTX0qIuikB18NQt4Mbx/operationStatuses/08585165869544776000?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585165869544776000?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Resources/deployments/vm_deploy_FyycXTk8FLB7BjTX0qIui[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/virtualMachines/vm-000002?$expand=instanceView&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/virtualMachines/vm-000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"b0b02d47-4490-4235-8be5-8d5be9e9cca2\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"additionalCapabilities\": {\r\n      \"hibernationEnabled\": true\r\n
        \   },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"OpenLogic\",\r\n        \"offer\": \"CentOS\",\r\n        \"sku\": \"7.5\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"7.5.201808150\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\":
        \"vm-000002_OsDisk_1_99ee7ff4adae49988fa7038a18269e5f\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/disks/vm-000002_OsDisk_1_99ee7ff4adae49988fa7038a18269e5f\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vm-000002\",\r\n      \"adminUsername\": \"vmtest\",\r\n
        \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
        \             \"path\": \"/home/vmtest/.ssh/authorized_keys\",\r\n              \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCs/i3lxwGxI+YVNYr4amHpKJDysk9+MptNWHI/LO3bjZcWNDz5M8P8kcvN2ihtiUET28dHk199I+9ElkHA7tPBqhziqQ9FUPRLwzYMGvg/Fcp695vQf/Ib4HJOHvuJq6mNZWRhBoj2W2QOKmhpMx+HClEkd5jbg5w8m2mb1LrXc7GPqg2AVhjPXprXp8ti20O3OhQW3Vupme95ETLCCwlWWumcE/LSX3z/xhC94VEAj7SuoV+I9UTpd8qcuz9uXrGhiJjH9iCPjEXV70lg9IlY0/lTuMCpUtO2arVOfH2ek6HBGTWZ9uk4uTaW7PObuy/IHZEFuHV5hpJ9M2UGD3VZ\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n
        \         \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm-000002\",\r\n      \"osName\": \"centos\",\r\n      \"osVersion\": \"7.5.1804\",\r\n
        \     \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.9.0.4\",\r\n        \"statuses\":
        [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2023-05-25T13:06:35+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm-000002_OsDisk_1_99ee7ff4adae49988fa7038a18269e5f\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2023-05-25T13:05:39.9363932+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2023-05-25T13:06:34.0145135+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2023-05-25T13:05:35.8270335+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3984,Microsoft.Compute/LowCostGet30Min;31979
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic\",\r\n
        \ \"etag\": \"W/\\\"5c09dac0-06c9-434b-97fd-fd04186a0e62\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"e4efb3d4-499f-4c72-87bf-3d8f034613cf\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigvm-000002\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic/ipConfigurations/ipconfigvm-000002\",\r\n
        \       \"etag\": \"W/\\\"5c09dac0-06c9-434b-97fd-fd04186a0e62\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/virtualNetworks/vm-000002VNET/subnets/vm-000002Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"kkewr0213fjedl4f44hpgwbpth.cx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-22-48-4F-2E-3D\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkSecurityGroups/vm-000002NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/virtualMachines/vm-000002\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5c09dac0-06c9-434b-97fd-fd04186a0e62"
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/publicIPAddresses/vm-000002PublicIP\",\r\n
        \ \"etag\": \"W/\\\"c7140f10-bc99-4a2f-9ce5-ab34df47adc9\\\"\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"4d530d52-3aa3-4e24-9f4b-69f0c517df33\",\r\n
        \   \"ipAddress\": \"172.177.5.228\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Network/networkInterfaces/vm-000002VMNic/ipConfigurations/ipconfigvm-000002\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c7140f10-bc99-4a2f-9ce5-ab34df47adc9"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/virtualMachines/vm-000002?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/virtualMa[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_hibernation_enabled000001/providers/Microsoft.Compute/virtualMachines/vm-000002/deallocate?api-version=2022-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/8674382b-6df1-4556-81b7-69f3dcbc98ce?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&api-version=2022-11-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/8674382b-6df1-4556-81b7-69f3dcbc98ce?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&monitor=true&api-version=2022-11-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVM3Min;238,Microsoft.Compute/DeleteVM30Min;1198
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/8674382b-6df1-4556-81b7-69f3dcbc98ce?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-05-25T13:07:03.4988896+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"8674382b-6df1-4556-81b7-69f3dcbc98ce\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29988
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/8674382b-6df1-4556-81b7-69f3dcbc98ce?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-05-25T13:07:03.4988896+00:00\",\r\n  \"endTime\":
        \"2023-05-25T13:07:25.3738993+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"8674382b-6df1-4556-81b7-69f3dcbc98ce\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14988,Microsoft.Compute/GetOperation30Min;29985
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/operations/8674382b-6df1-4556-81b7-69f3dcbc98ce?p=4da1aac7-dfbb-41ae-bded-ca0db7baa978&monitor=true&api-version=2022-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14987,Microsoft.Compute/GetOperation30Min;29984
    status:
      code: 200
      message: OK
[...]
