interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_target_extended_locations000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001","name":"cli_test_target_extended_locations000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T23:32:11Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"gallery_000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"identifier\": {\r\n      \"uniqueName\":
        \"0b1f6471-1bf0-4dda-aec3-cb9272f09590-GALLERY_CM57BVFV2KZQ\"\r\n    },\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/326f104f-1949-41e8-82e8-d075daf608d3?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGallery3Min;49,Microsoft.Compute/CreateUpdateGallery30Min;299
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/326f104f-1949-41e8-82e8-d075daf608d3?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-28T23:32:14.8672106+00:00\",\r\n  \"endTime\":
        \"2023-01-28T23:32:16.9142808+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"326f104f-1949-41e8-82e8-d075daf608d3\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1198,Microsoft.Compute/GetOperationStatus30Min;4198
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"osType": "Windows",
      "osState": "Generalized", "hyperVGeneration": "V1", "identifier": {"publisher":
      "publisher1", "offer": "offer1", "sku": "sku1"}, "disallowed": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1?api-version=2021-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"image1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"architecture\": \"x64\",\r\n    \"osType\": \"Windows\",\r\n    \"osState\":
        \"Generalized\",\r\n    \"identifier\": {\r\n      \"publisher\": \"publisher1\",\r\n
        \     \"offer\": \"offer1\",\r\n      \"sku\": \"sku1\"\r\n    },\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/5cf93ca9-39b8-42a0-b096-fc6a7195394e?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryImage3Min;149,Microsoft.Compute/CreateUpdateGalleryImage30Min;749
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "sku": {"name": "Premium_LRS"},
      "properties": {"hyperVGeneration": "V1", "creationData": {"createOption": "Empty"},
      "diskSizeGB": 10}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk?api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"name\": \"disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/DiskOperations/ebd8d251-6aad-4362-be27-557fb1552304?p=cc2a4867-fc8c-49a3-83e3-4fae1746e33f&api-version=2022-07-02
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-28T23:33:34.382822+00:00\",\r\n  \"endTime\":
        \"2023-01-28T23:33:34.5235099+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk\",\r\n
        \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\":
        \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n
        \   \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
        \   \"diskSizeGB\": 10,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\":
        25,\r\n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n
        \   },\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"timeCreated\": \"2023-01-28T23:33:34.382822+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
        \   \"diskSizeBytes\": 10737418240,\r\n    \"uniqueId\": \"558fdeff-97d2-483d-b156-3421501918a8\",\r\n
        \   \"tier\": \"P3\"\r\n  }\r\n}\r\n  },\r\n  \"name\": \"ebd8d251-6aad-4362-be27-557fb1552304\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"publishingProfile":
      {"targetRegions": [{"name": "southcentralus"}], "targetExtendedLocations": [{"name":
      "southcentralus", "extendedLocation": {"name": "attdallas1", "type": "EdgeZone"},
      "extendedLocationReplicaCount": 1}]}, "storageProfile": {"osDiskImage": {"source":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images/versions\",\r\n  \"location\":
        \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"publishingProfile\":
        {\r\n      \"targetRegions\": [\r\n        {\r\n          \"name\": \"South
        Central US\",\r\n          \"regionalReplicaCount\": 1,\r\n          \"storageAccountType\":
        \"Standard_LRS\"\r\n        }\r\n      ],\r\n      \"targetExtendedLocations\":
        [\r\n        {\r\n          \"extendedLocation\": {\r\n            \"type\":
        \"EdgeZone\",\r\n            \"name\": \"attdallas1\"\r\n          },\r\n
        \         \"name\": \"South Central US\",\r\n          \"extendedLocationReplicaCount\":
        1,\r\n          \"storageAccountType\": \"StandardSSD_LRS\"\r\n        }\r\n
        \     ],\r\n      \"replicaCount\": 1,\r\n      \"excludeFromLatest\": false,\r\n
        \     \"publishedDate\": \"2023-01-28T23:33:38.5943036+00:00\",\r\n      \"storageAccountType\":
        \"Standard_LRS\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"osDiskImage\":
        {\r\n        \"hostCaching\": \"ReadWrite\",\r\n        \"source\": {\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk\"\r\n
        \       }\r\n      }\r\n    },\r\n    \"safetyProfile\": {\r\n      \"reportedForPolicyViolation\":
        false,\r\n      \"allowDeletionOfReplicatedLocations\": false\r\n    },\r\n
        \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/b445f858-3a86-4671-8b85-105e947ec45f?api-version=2022-03-03
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateGalleryImageVersion3Min;374,Microsoft.Compute/CreateUpdateGalleryImageVersion30Min;1199
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/galleries/gallery_000002/images/image1/versions/1.0.0\",\r\n
        \ \"type\": \"Microsoft.Compute/galleries/images/versions\",\r\n  \"location\":
        \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"publishingProfile\":
        {\r\n      \"targetRegions\": [\r\n        {\r\n          \"name\": \"South
        Central US\",\r\n          \"regionalReplicaCount\": 1,\r\n          \"storageAccountType\":
        \"Standard_LRS\"\r\n        }\r\n      ],\r\n      \"replicaCount\": 1,\r\n
        \     \"excludeFromLatest\": false,\r\n      \"publishedDate\": \"2023-01-28T23:33:38.5943036+00:00\",\r\n
        \     \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"storageProfile\":
        {\r\n      \"osDiskImage\": {\r\n        \"sizeInGB\": 10,\r\n        \"hostCaching\":
        \"ReadWrite\",\r\n        \"source\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_target_extended_locations000001/providers/Microsoft.Compute/disks/disk\"\r\n
        \       }\r\n      }\r\n    },\r\n    \"safetyProfile\": {\r\n      \"reportedForPolicyViolation\":
        false,\r\n      \"allowDeletionOfReplicatedLocations\": true\r\n    },\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetGalleryImageVersion3Min;1994,Microsoft.Compute/GetGalleryImageVersion30Min;9968
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/southcentralus/capsOperations/b5cc7115-4962-4175-96a2-cdd8c529da4a?api-version=2022-03-03
  response:
    body:
      string: "{\r\n  \"startTime\": \"2023-01-28T23:56:50.0421073+00:00\",\r\n  \"endTime\":
        \"2023-01-28T23:58:20.2539862+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"b5cc7115-4962-4175-96a2-cdd8c529da4a\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperationStatus3Min;1188,Microsoft.Compute/GetOperationStatus30Min;4106
    status:
      code: 200
      message: OK
version: 1
