interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_hdi_private_link000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001","name":"test_hdi_private_link000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-13T07:17:53Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name":
      "hdi-privatelink-subnet000003", "properties": {"addressPrefix": "10.0.0.0/24",
      "privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001/providers/Microsoft.Network/virtualNetworks/hdi-privatelink-vnet000002?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"hdi-privatelink-vnet000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001/providers/Microsoft.Network/virtualNetworks/hdi-privatelink-vnet000002\",\r\n
        \ \"etag\": \"W/\\\"baef6971-1e97-437f-aa6d-7708d4f0f8fe\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"0955b230-317b-436d-a4d0-edaf074adc55\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"hdi-privatelink-subnet000003\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001/providers/Microsoft.Network/virtualNetworks/hdi-privatelink-vnet000002/subnets/hdi-privatelink-subnet000003\",\r\n
        \       \"etag\": \"W/\\\"baef6971-1e97-437f-aa6d-7708d4f0f8fe\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/a53525d9-6cc2-4d33-9ab4-0b4f0886560b?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/a53525d9-6cc2-4d33-9ab4-0b4f0886560b?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001/providers/Microsoft.Network/virtualNetworks/hdi-privatelink-vnet000002/subnets/hdi-privatelink-subnet000003?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"hdi-privatelink-subnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001/providers/Microsoft.Network/virtualNetworks/hdi-privatelink-vnet000002/subnets/hdi-privatelink-subnet000003\",\r\n
        \ \"etag\": \"W/\\\"ab517818-b811-4e0c-92d8-94ddc0bc1639\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ab517818-b811-4e0c-92d8-94ddc0bc1639"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001/providers/Microsoft.Network/virtualNetworks/hdi-privatelink-vnet000002/subnets/hdi-privatelink-subnet000003?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"hdi-privatelink-subnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_hdi_private_link000001/providers/Microsoft.Network/virtualNetworks/hdi-privatelink-vnet000002/subnets/hdi-privatelink-subnet000003\",\r\n
        \ \"etag\": \"W/\\\"f567c9b5-096a-4828-9378-55127a7baa81\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f567c9b5-096a-4828-9378-55127a7baa81"
    status:
      code: 200
      message: OK
version: 1
