interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/dnszones?api-version=2018-05-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_dns_zone4_importa6f5tw7srk52pldgqbejua6demmdlbenz5nfsh6rg4linb6lo7q4nxx\/providers\/Microsoft.Network\/dnszones\/zone4.com","name":"zone4.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-761a-7091c95dd501","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-02.azure-dns.com.","ns2-02.azure-dns.net.","ns3-02.azure-dns.org.","ns4-02.azure-dns.info."],"numberOfRecordSets":21,"zoneType":"Public"}},{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_dns_zone5_importjvosznmkseiinh2curqn7j6gvgf6xfqnf6vtdjvzogyp2q4tmehdsx4\/providers\/Microsoft.Network\/dnszones\/zone5.com","name":"zone5.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-20dc-8ba2c95dd501","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-07.azure-dns.com.","ns2-07.azure-dns.net.","ns3-07.azure-dns.org.","ns4-07.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59998'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-e228-5fa4c95dd501","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-06.azure-dns.com.","ns2-06.azure-dns.net.","ns3-06.azure-dns.org.","ns4-06.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00000002-0000-0000-e228-5fa4c95dd501
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones?api-version=2018-05-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-e228-5fa4c95dd501","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-06.azure-dns.com.","ns2-06.azure-dns.net.","ns3-06.azure-dns.org.","ns4-06.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59999'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/A/myrsa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/myrsa","name":"myrsa","type":"Microsoft.Network\/dnszones\/A","etag":"77f002e1-9b16-4bd9-82a2-ee45e57edeb1","properties":{"fqdn":"myrsa.myzone.com.","TTL":3600,"ARecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 77f002e1-9b16-4bd9-82a2-ee45e57edeb1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "77f002e1-9b16-4bd9-82a2-ee45e57edeb1", "properties": {"TTL":
      3600, "targetResource": {}, "ARecords": [{"ipv4Address": "10.0.0.10"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/A/myrsa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/myrsa","name":"myrsa","type":"Microsoft.Network\/dnszones\/A","etag":"3f34173c-922c-4161-920b-ebde0868e8de","properties":{"fqdn":"myrsa.myzone.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3f34173c-922c-4161-920b-ebde0868e8de
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/A/myrsaalt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsaalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myrsaaaa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/AAAA\/myrsaaaa","name":"myrsaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"32d0ad2d-21e2-40da-9560-32e3849479ba","properties":{"fqdn":"myrsaaaa.myzone.com.","TTL":3600,"AAAARecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 32d0ad2d-21e2-40da-9560-32e3849479ba
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "32d0ad2d-21e2-40da-9560-32e3849479ba", "properties": {"TTL":
      3600, "targetResource": {}, "AAAARecords": [{"ipv6Address": "2001:db8:0:1:1:1:1:1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myrsaaaa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/AAAA\/myrsaaaa","name":"myrsaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"e5301f68-54a4-4c22-b17e-f6880245aa7c","properties":{"fqdn":"myrsaaaa.myzone.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:db8:0:1:1:1:1:1"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e5301f68-54a4-4c22-b17e-f6880245aa7c
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myrsaaaaalt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsaaaaalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/CAA/myrscaa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CAA\/myrscaa","name":"myrscaa","type":"Microsoft.Network\/dnszones\/CAA","etag":"67acca53-6eef-406a-9f56-582be24508bf","properties":{"fqdn":"myrscaa.myzone.com.","TTL":3600,"caaRecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 67acca53-6eef-406a-9f56-582be24508bf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "67acca53-6eef-406a-9f56-582be24508bf", "properties": {"TTL":
      3600, "targetResource": {}, "caaRecords": [{"flags": 0, "tag": "foo", "value":
      "my value"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/CAA/myrscaa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CAA\/myrscaa","name":"myrscaa","type":"Microsoft.Network\/dnszones\/CAA","etag":"a6dde3e7-1d21-4023-8b76-65b9f374b21b","properties":{"fqdn":"myrscaa.myzone.com.","TTL":3600,"caaRecords":[{"flags":0,"tag":"foo","value":"my
        value"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a6dde3e7-1d21-4023-8b76-65b9f374b21b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/CAA/myrscaaalt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrscaaalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/myrscname?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CNAME\/myrscname","name":"myrscname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"6e94f560-ec21-434b-88eb-b7436fbfca78","properties":{"fqdn":"myrscname.myzone.com.","TTL":3600,"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 6e94f560-ec21-434b-88eb-b7436fbfca78
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "6e94f560-ec21-434b-88eb-b7436fbfca78", "properties": {"TTL":
      3600, "targetResource": {}, "CNAMERecord": {"cname": "mycname"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/myrscname?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CNAME\/myrscname","name":"myrscname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"53b563b8-4141-4bbf-adc5-7394ca7ba924","properties":{"fqdn":"myrscname.myzone.com.","TTL":3600,"CNAMERecord":{"cname":"mycname"},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 53b563b8-4141-4bbf-adc5-7394ca7ba924
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/myrscnamealt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrscnamealt''
        does not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/MX/myrsmx?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/MX\/myrsmx","name":"myrsmx","type":"Microsoft.Network\/dnszones\/MX","etag":"24d5990d-1f43-4d88-a3ea-5b8e049f9b8e","properties":{"fqdn":"myrsmx.myzone.com.","TTL":3600,"MXRecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 24d5990d-1f43-4d88-a3ea-5b8e049f9b8e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "24d5990d-1f43-4d88-a3ea-5b8e049f9b8e", "properties": {"TTL":
      3600, "targetResource": {}, "MXRecords": [{"preference": 13, "exchange": "12"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/MX/myrsmx?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/MX\/myrsmx","name":"myrsmx","type":"Microsoft.Network\/dnszones\/MX","etag":"0f11ad06-7a1d-4e00-81d3-9eff3bd118d3","properties":{"fqdn":"myrsmx.myzone.com.","TTL":3600,"MXRecords":[{"exchange":"12","preference":13}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 0f11ad06-7a1d-4e00-81d3-9eff3bd118d3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/MX/myrsmxalt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsmxalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/NS/myrsns?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/myrsns","name":"myrsns","type":"Microsoft.Network\/dnszones\/NS","etag":"0f7bc16e-f051-4da4-8f72-c69507d704f7","properties":{"fqdn":"myrsns.myzone.com.","TTL":3600,"NSRecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 0f7bc16e-f051-4da4-8f72-c69507d704f7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "0f7bc16e-f051-4da4-8f72-c69507d704f7", "properties": {"TTL":
      3600, "targetResource": {}, "NSRecords": [{"nsdname": "foobar.com"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/NS/myrsns?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/myrsns","name":"myrsns","type":"Microsoft.Network\/dnszones\/NS","etag":"1e1009ed-6a39-46ae-bd4b-8c17fd474b9e","properties":{"fqdn":"myrsns.myzone.com.","TTL":3600,"NSRecords":[{"nsdname":"foobar.com"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1e1009ed-6a39-46ae-bd4b-8c17fd474b9e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/NS/myrsnsalt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsnsalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myrsptr?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myrsptr","name":"myrsptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"bf480a77-1c1a-4c0d-a3aa-340d4adc494e","properties":{"fqdn":"myrsptr.myzone.com.","TTL":3600,"PTRRecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - bf480a77-1c1a-4c0d-a3aa-340d4adc494e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "bf480a77-1c1a-4c0d-a3aa-340d4adc494e", "properties": {"TTL":
      3600, "targetResource": {}, "PTRRecords": [{"ptrdname": "foobar.com"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myrsptr?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myrsptr","name":"myrsptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"53f7476f-38e5-46f0-938f-8e2c659ad82c","properties":{"fqdn":"myrsptr.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"foobar.com"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 53f7476f-38e5-46f0-938f-8e2c659ad82c
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myrsptralt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsptralt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/SRV/myrssrv?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SRV\/myrssrv","name":"myrssrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"832b4ada-70a4-4348-b2d5-5eac5d2e7052","properties":{"fqdn":"myrssrv.myzone.com.","TTL":3600,"SRVRecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 832b4ada-70a4-4348-b2d5-5eac5d2e7052
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "832b4ada-70a4-4348-b2d5-5eac5d2e7052", "properties": {"TTL":
      3600, "targetResource": {}, "SRVRecords": [{"priority": 1, "weight": 50, "port":
      1234, "target": "target.com"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/SRV/myrssrv?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SRV\/myrssrv","name":"myrssrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"db51729b-7520-4b78-af35-2e62f2716e4b","properties":{"fqdn":"myrssrv.myzone.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.com","weight":50}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - db51729b-7520-4b78-af35-2e62f2716e4b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/SRV/myrssrvalt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrssrvalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myrstxt?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/85a6c256-e687-4281-9cca-84869cf6ef36\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/myrstxt","name":"myrstxt","type":"Microsoft.Network\/dnszones\/TXT","etag":"070f461e-16b7-414e-a2f1-b72195878a99","properties":{"fqdn":"myrstxt.myzone.com.","TTL":3600,"TXTRecords":[],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 070f461e-16b7-414e-a2f1-b72195878a99
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myrstxtalt?api-version=2018-05-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrstxtalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''85a6c256-e687-4281-9cca-84869cf6ef36''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myzone.com/SOA/@?api-version=2018-05-01
  response:
    body:
[...]
