interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_nic_auxiliary000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001","name":"test_network_nic_auxiliary000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_network_nic_auxiliary","date":"2023-07-19T03:54:33Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "subnet000003", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/virtualNetworks/vnet000002?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/virtualNetworks/vnet000002\"\
        ,\r\n  \"etag\": \"W/\\\"de442ec1-f6f8-432f-aff0-9d846fb2c0f8\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"e59160cd-f41d-4440-b0e2-ea561630ee90\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\"\
        : \"subnet000003\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003\"\
        ,\r\n        \"etag\": \"W/\\\"de442ec1-f6f8-432f-aff0-9d846fb2c0f8\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\"\
        : [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n \
        \         \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n    \
        \  }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/d32a4abe-9028-4d2a-bf70-c335f327bbcc?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/d32a4abe-9028-4d2a-bf70-c335f327bbcc?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"auxiliaryMode": "MaxConnections",
      "auxiliarySku": "A1", "enableAcceleratedNetworking": true, "ipConfigurations":
      [{"name": "ipconfig1", "properties": {"privateIPAddressVersion": "IPv4", "privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003"}}}]},
      "tags": {"fastpathenabled": "true"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/networkInterfaces/nic000004?api-version=2022-11-01
  response:
    body:
      string: '{"name":"nic000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/networkInterfaces/nic000004","etag":"W/\"320fd399-98aa-4502-bb14-6062fdcff807\"","tags":{"fastpathenabled":"true"},"properties":{"provisioningState":"Succeeded","resourceGuid":"604fadcd-c197-4602-a1af-c4cf908148fc","ipConfigurations":[{"name":"ipconfig1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/networkInterfaces/nic000004/ipConfigurations/ipconfig1","etag":"W/\"320fd399-98aa-4502-bb14-6062fdcff807\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_nic_auxiliary000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"zvqjdzi34raejmhc3jlbmmhosa.bx.internal.cloudapp.net"},"enableAcceleratedNetworking":true,"vnetEncryptionSupported":false,"enableIPForwarding":false,"disableTcpStateTracking":false,"hostedWorkloads":[],"tapConfigurations":[],"nicType":"Standard","allowPort25Out":true,"auxiliaryMode":"MaxConnections","auxiliarySku":"A1","nicAuxiliarySkuBillingNotificationType":"Added"},"type":"Microsoft.Network/networkInterfaces","location":"eastus","kind":"Regular"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/560c3211-9f86-41e7-a778-c75933b56044?api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
