interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkWatchers?api-version=2022-01-01
  response:
    body:
      string: '{"value":[{"name":"NetworkWatcher_westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus","etag":"W/\"2f330891-d619-4d17-9cab-4c7ea597831e\"","type":"Microsoft.Network/networkWatchers","location":"westus","properties":{"provisioningState":"Succeeded","runningOperationIds":[]}},{"name":"NetworkWatcher_eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus","etag":"W/\"f7e92abd-65db-4adf-a2ec-7941130a35c2\"","type":"Microsoft.Network/networkWatchers","location":"eastus","properties":{"provisioningState":"Succeeded","runningOperationIds":[]}},{"name":"nwcmtest-team-internal1234-diagnostics-networkwatcher-westeurope","id":"/subscriptions/00000000-0000-0000-000[...]
- request:
    body: '{"location": "eastus2", "properties": {"endpoints": [{"name": "aks-private-vnet",
      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-private-rg/providers/Microsoft.Network/virtualNetworks/aks-private-vnet",
      "type": "AzureVNet"}, {"name": "aks-azure-cni-vnet", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-azure-cni-rg/providers/Microsoft.Network/virtualNetworks/aks-azure-cni-vnet",
      "type": "AzureVNet"}, {"address": "github.com", "name": "Github", "type": "ExternalAddress"}],
      "outputs": [], "testConfigurations": [{"httpConfiguration": {"method": "Get",
      "port": 80, "requestHeaders": [], "validStatusCodeRanges": ["200", "201"]},
      "name": "httptestconfig1", "protocol": "Http", "testFrequencySec": "60"}, {"httpConfiguration":
      {"method": "Get", "port": 80, "requestHeaders": [], "validStatusCodeRanges":
      ["200", "201"]}, "name": "httptestconfig2", "protocol": "Http", "testFrequencySec":
      "60"}], "testGroups": [{"destinations": ["aks-azure-cni-vnet", "Github"], "name":
      "tg12", "sources": ["aks-private-vnet", "aks-azure-cni-vnet"], "testConfigurations":
      ["httptestconfig1", "httptestconfig2"]}, {"destinations": ["aks-azure-cni-vnet",
      "Github"], "name": "tg22", "sources": ["aks-private-vnet"], "testConfigurations":
      ["httptestconfig1", "httptestconfig2"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus2/connectionMonitors/cmv2-05?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cmv2-05\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus2/connectionMonitors/cmv2-05\",\r\n
        \ \"etag\": \"W/\\\"84f2ab7f-9fe4-4701-855d-f93dec8d8be1\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"45cafc50-e354-43ac-9db1-da78ae16e0c8\",\r\n
        \   \"endpoints\": [\r\n      {\r\n        \"name\": \"aks-private-vnet\",\r\n
        \       \"type\": \"AzureVNet\",\r\n        \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-private-rg/providers/Microsoft.Network/virtualNetworks/aks-private-vnet\"\r\n
        \     },\r\n      {\r\n        \"name\": \"aks-azure-cni-vnet\",\r\n        \"type\":
        \"AzureVNet\",\r\n        \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-azure-cni-rg/providers/Microsoft.Network/virtualNetworks/aks-azure-cni-vnet\"\r\n
        \     },\r\n      {\r\n        \"name\": \"Github\",\r\n        \"type\":
        \"ExternalAddress\",\r\n        \"address\": \"github.com\"\r\n      }\r\n
        \   ],\r\n    \"testConfigurations\": [\r\n      {\r\n        \"name\": \"httptestconfig1\",\r\n
        \       \"testFrequencySec\": 60,\r\n        \"protocol\": \"Http\",\r\n        \"httpConfiguration\":
        {\r\n          \"port\": 80,\r\n          \"method\": \"Get\",\r\n          \"requestHeaders\":
        [],\r\n          \"validStatusCodeRanges\": [\r\n            \"200\",\r\n
        \           \"201\"\r\n          ],\r\n          \"preferHTTPS\": false\r\n
        \       }\r\n      },\r\n      {\r\n        \"name\": \"httptestconfig2\",\r\n
        \       \"testFrequencySec\": 60,\r\n        \"protocol\": \"Http\",\r\n        \"httpConfiguration\":
        {\r\n          \"port\": 80,\r\n          \"method\": \"Get\",\r\n          \"requestHeaders\":
        [],\r\n          \"validStatusCodeRanges\": [\r\n            \"200\",\r\n
        \           \"201\"\r\n          ],\r\n          \"preferHTTPS\": false\r\n
        \       }\r\n      }\r\n    ],\r\n    \"testGroups\": [\r\n      {\r\n        \"name\":
        \"tg12\",\r\n        \"disable\": false,\r\n        \"testConfigurations\":
        [\r\n          \"httptestconfig1\",\r\n          \"httptestconfig2\"\r\n        ],\r\n
        \       \"sources\": [\r\n          \"aks-private-vnet\",\r\n          \"aks-azure-cni-vnet\"\r\n
        \       ],\r\n        \"destinations\": [\r\n          \"aks-azure-cni-vnet\",\r\n
        \         \"Github\"\r\n        ]\r\n      },\r\n      {\r\n        \"name\":
        \"tg22\",\r\n        \"disable\": false,\r\n        \"testConfigurations\":
        [\r\n          \"httptestconfig1\",\r\n          \"httptestconfig2\"\r\n        ],\r\n
        \       \"sources\": [\r\n          \"aks-private-vnet\"\r\n        ],\r\n
        \       \"destinations\": [\r\n          \"aks-azure-cni-vnet\",\r\n          \"Github\"\r\n
        \       ]\r\n      }\r\n    ],\r\n    \"outputs\": [],\r\n    \"connectionMonitorType\":
        \"MultiEndpoint\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkWatchers/connectionMonitors\",\r\n
        \ \"location\": \"eastus2\"\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/5c7c5389-fd97-4abd-9a1c-18f2f604bf4c?api-version=2022-01-01&t=638530304455056648&c=MIIHpTCCBo2gAwIBAgITfwM-U27xkVO5ZxEd0gAEAz5TbjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE2MjMzNzExWhcNMjUwNTExMjMzNzExWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/5c7c5389-fd97-4abd-9a1c-18f2f604bf4c?api-version=2022-01-01&t=638530304455056648&c=MIIHpTCCBo2gAwIBAgITfwM-U27xkVO5ZxEd0gAEAz5TbjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE2MjMzNzExWhcNMjUwNTExMjMzNzExWjBAMT4wPAYDVQQD[...]
[...]
