interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001","name":"cli_test_load_balancer000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_network_lb","date":"2024-09-14T10:11:25Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_load_balancer000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2022-09-01&%24skiptoken=rdFBT4MwFMDx78KZQ0G8LPGwyZwQWsLsVvtuZBKhULaMEqGL393OkOkSFhPirenh19f3P1l11qmoqMvGmp2sZt%2bqfJfV6phWrbmxsj5s4TVHlD31qbvtA7EvsAgQ1%2bsCM64w20p4QYj4YRnRKgdaKvBDQXSgMQ0l1kkf1OjBsq0sbVTbuFmbHm7AxE28mIYlp0vF2dI7wyCIjFjQc5kYeCG4G3QgFgWmi%2fwKvmGaIT2yIpJIrohcOuQRIUzn9xELCzDvgJ%2fcgeAOEe8IWPAxmCI9pPV54hssF2XPBUfY5QrMGReGZesioqVDzA7i1bYCBhL8OSIr3g3sX6sFtuljtvGw%2bS3XJI%2fNtLG%2f6yKzDSx2CiQxGyA51mHF9dz5Zj%2ftn4hx%2fbyv3kzK4RKnxzI7mk9cl539V1f7V9VRdErTAR31pvS0LzVHySkt7UvJUXJaxy8%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=rdFBT4MwFMDx78KZQ0G8LPGwyZwQWsLsVvtuZBKhULaMEqGL393OkOkSFhPirenh19f3P1l11qmoqMvGmp2sZt%2BqfJfV6phWrbmxsj5s4TVHlD31qbvtA7EvsAgQ1%2BsCM64w20p4QYj4YRnRKgdaKvBDQXSgMQ0l1kkf1OjBsq0sbVTbuFmbHm7AxE28mIYlp0vF2dI7wyCIjFjQc5kYeCG4G3QgFgWmi/wKvmGaIT2yIpJIrohcOuQRIUzn9xELCzDvgJ/cgeAOEe8IWPAxmCI9pPV54hssF2XPBUfY5QrMGReGZesioqVDzA7i1bYCBhL8OSIr3g3sX6sFtuljtvGw%2BS3XJI/NtLG/6yKzDSx2CiQxGyA51mHF9dz5Zj/tn4hx/byv3kzK4RKnxzI7mk9cl539V1f7V9VRdErTAR31pvS0LzVHySkt7UvJUXJaxy8%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-05-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPlb1", "location": "eastus2", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}}, {"type":
      "Microsoft.Network/loadBalancers", "name": "lb1", "location": "eastus2", "tags":
      {}, "apiVersion": "2023-04-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "properties": {"backendAddressPools": [{"name": "lb1bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Standard"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''lb1'')]"}}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Resources/deployments/lb_deploy_o2i7Dnxe6HINvMQgddkduCfU36UbPjTA","name":"lb_deploy_o2i7Dnxe6HINvMQgddkduCfU36UbPjTA","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8604323101025159583","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-09-14T10:11:44.0456169Z","duration":"PT0.0009855S","correlationId":"9b570460-b293-4a4c-a419-ad8d50f1164a","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer000001/providers/Microsoft.Resources/deployments/lb_deploy_o2i7Dnxe6HINvMQgddkduCfU36UbPjTA/operationStatuses/08584752981846027368?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.95.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '5999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '399'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584752981846027368?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7498'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001","name":"cli_test_load_balancer000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_network_lb","date":"2024-09-14T10:11:25Z","module":"network","Creator":"v-ruih@microsoft.com","DateCreated":"2024-09-14T10:11:36Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=rdFBb4IwFMDx78KZQ0W5mOziYAxDS3SFrr0RRiyFopESpWbffdWQbSaYJWTXd/j19f0vVlOcVVQ2VWstL1a77xTPi0Yds7ozE6vo1x175wCTlz5z0j4U%2BxIJXlOSLKC3UyxIOewBYDKVEfF7JhOFyLqimFVQJy7SqA4b8GTZVpG1qmudossOD2DoJBqJzRwKqqDOz%2BzZwEHSRyScQQEVErmLAn%2BOPApiEuo7%2BJEp05I6FFBhlpXhDL0BgPS2jDCvIPYVE6uSyo3LzBvGng2myA5Zc934EYsRj72toDhRMaYLWgIQ4502q54gzhUk/plJ6CCHulSs%2BMD%2BdVpKzDm9FTekoto/3S7g1WbbqkfaV9BjMg5QScVmcT3vjf20fyLGzeu%2B/jAphyHMjlVxNJ%2B4L7v8r672r6qj6JSmAzruTehpf9ccJye0tL9LjpLTOn4B
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7498'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-05-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPlb2", "location": "eastus2", "tags": {"foo": "doo"}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "lb2", "location": "eastus2",
      "tags": {"foo": "doo"}, "apiVersion": "2023-04-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb2"],
      "properties": {"backendAddressPools": [{"name": "lb2bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2?api-version=2022-11-01
  response:
    body:
      string: '{"name":"PublicIPlb2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2","etag":"W/\"1f98c46f-2e92-4038-960b-9d054c688818\"","location":"eastus2","tags":{"foo":"doo"},"properties":{"provisioningState":"Succeeded","resourceGuid":"0822d421-8a1e-410e-991a-d62a0a3c4b18","ipAddress":"52.138.83.191","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/loadBalancers/lb2/frontendIPConfigurations/LoadBalancerFrontEnd"},"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f98c46f-2e92-4038-960b-9d054c688818"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/virtualNetworks/mytestvnet?api-version=2024-03-01
  response:
    body:
      string: '{"name":"mytestvnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/virtualNetworks/mytestvnet","etag":"W/\"f6c29532-3878-42f8-8c80-7e54c22914eb\"","type":"Microsoft.Network/virtualNetworks","location":"eastus2","properties":{"provisioningState":"Updating","resourceGuid":"b49c05f3-35aa-4b32-bebc-9470e95d034c","addressSpace":{"addressPrefixes":["10.0.0.0/16"],"ipamPoolPrefixAllocations":[]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"default","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/virtualNetworks/mytestvnet/subnets/default","etag":"W/\"f6c29532-3878-42f8-8c80-7e54c22914eb\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","ipamPoolPrefixAllocations":[],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/a745ab3c-0d74-4d1e-b085-7aef551e777d?api-version=2024-03-01&t=638619055915973296&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDEzVhc3luY29[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/a745ab3c-0d74-4d1e-b085-7aef551e777d?api-version=2024-03-01&t=638619055915973296&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer000001%27%20and%20name%20eq%20%27mytestvnet%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer000001%27%20and%20name%20eq%20%27mytestvnet%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2022-09-01&$skiptoken=rdFBb4IwFMDx78KZQwW8mOzgUuYgtARX7dobcWTQAhopUTD77nsuzs0Es4Ts2sCvr%2B9/sursaKKi1o01O1nNtjX5JqvNPi1bOLGyLmzla44Yf%2BpSZ90FaluIfj6RbOOJ3jcS%2By4pEIqx1BHTLu3nJuYEUfXeCZW48M00qNGDZVtZ2pi2cbI23d2BifKndEEQwYBg3dEOYBZWEQ%2BVZIEheF0KFqoYE4%2BwtbqB75mMHEWVHESvDWXJgYBJ%2BfI8LDyCGIq1J5QsRS8ruOvbVOkurc8T32GFgt95mAsnMZT7ngBW9GIa8aeKwJlkUku8cmi/gh2E%2BWXUv1ZL1bIQlY/kAogqcOkLgm2IQ8T9iax8mLZUUm16ouZHwR71F/th/0SM6%2Bdt%2BQYpL4ck3etsD4%2B4LTv7r672r6qD6JimF3TYG9HTvtYcJMe0tK8lB8lxHT8B
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/loadBalancers", "name": "lb3", "location": "eastus2",
      "tags": {}, "apiVersion": "2023-04-01", "dependsOn": [], "properties": {"backendAddressPools":
      [{"name": "lb3bepool"}], "frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Static", "privateIPAddress": "10.0.0.15",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/virtualNetworks/mytestvnet/subnets/default"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Standard"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''lb3'')]"}}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure[...]
[...]
- request:
    body: '{"location": "eastus2", "properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/publicip4?api-version=2022-11-01
  response:
    body:
      string: '{"name":"publi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/d397c418-4d7f-4af1-be84-b17f08115fac?api-version=2022-11-01&t=638619056540714116&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer000001%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer000001%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=rdFBb4IwFMDx78KZQ614MdnBRHA1toSl0LU3ogQoLRopUTD77quLczPBLCG7vsOvr%2B9/cersbDZlXTXO/OI0%2B9YU26w2x1S1duJk3boV7wWgLOhSmHRI7kuxir2QCUWWviGUVKQEgOh4sqF5Hy6RwTTqhQ4UoXnHaTVFNXhxXCdLG9M2MGvTwzOYbieYBQWnuRE6nnELi1UELAwsZnifQyKxfcQ/c0bkA/zMlEpi%2BVZiGFkzmlxNTnd6w5AntG%2BERD3pFz2BaxVSH95MmR7S%2BrrxM5aSAusYhCw2mKHZ9QacbqFd1RMMWTY64SU6ExidhE6%2BV/3rtITiKWaJFitsBF0AbFncx5ZVUjBuiA4kodzjLKkwDdTXth/uT8Swft2rnU15G%2BL0WGVH%2B4nHsvP/6ur%2BqjqMjmh6Q4e9ET3de81hckRL915ykBzX8RM%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/loadBalancers?api-version=2023-04-01
  response:
    body:
      string: '{"value":[{"name":"vmss1LB","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/loadBalancers/vmss1LB","etag":"W/\"0cfab160-dd2b-4631-bd69-0b1d3f2e5d07\"","type":"Microsoft.Network/loadBalancers","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"8a10f978-c139-4773-a6c0-4bf6b67fd631","frontendIPConfigurations":[{"name":"loadBalancerFrontEnd","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd","etag":"W/\"0cfab160-dd2b-4631-bd69-0b1d3f2e5d07\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"},"inboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}],"backendAddressPools":[{"name":"vmss1LBBEPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool","etag":"W/\"0cfab160-dd2b-4631-bd69-0b1d3f2e5d07\"","properties":{"provisioningState":"Succeeded"},"type":"Microsoft.Network/loadBalancers/backendAddressPools"}],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"inboundNatPools":[{"name":"vmss1LBNatPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool","etag":"W/\"0cfab160-dd2b-4631-bd69-0b1d3f2e5d07\"","properties":{"provisioningState":"Succeeded","frontendPortRangeStart":50000,"frontendPortRangeEnd":50119,"backendPort":22,"protocol":"Tcp","idleTimeoutInMinutes":4,"enableFloatingIP":false,"enableDestinationServiceEndpoint":false,"enableTcpReset":false,"allowBackendPortConflict":false,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"}},"type":"Microsoft.Network/loadBalancers/inboundNatPools"}]},"sku":{"name":"Basic","tier":"Regional"}},{"name":"vmss1LB","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixedxeinamxuytfvu67rebecmjurgr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/loadBalancers?api-version=2023-04-01
  response:
    body:
      string: '{"value":[{"name":"lb1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/loadBalancers/lb1","etag":"W/\"d3f40b2e-5705-4898-a8e4-6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2023-04-01
  response:
    body:
      string: '{"name":"lb1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer000001/providers/Microsoft.Network/loadBalancers/lb1","etag":"W/\"d3f40b2e-5705-4898-a8e4-6fb9b99[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/edc3ca5f-cdd2-44e8-b234-9b5960c9cc82?api-version=2023-04-01&t=638619057110398574&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operationResults/edc3ca5f-cdd2-44e8-b234-9b5960c9cc82?api-version=2023-04-01&t=638619057110555411&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPA[...]
[...]
