interactions:
- request:
    body: '{"location": "eastus", "properties": {"redisConfiguration": {}, "tenantSettings":
      {}, "sku": {"name": "Basic", "family": "c", "capacity": 0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_plr000001/providers/Microsoft.Cache/redis/cli-test-acfr-plr000002?api-version=2021-06-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_plr000001/providers/Microsoft.Cache/Redis/cli-test-acfr-plr000002",
        "location": "East US", "name": "cli-test-acfr-plr000002", "type": "Microsoft.Cache/Redis",
        "tags": {}, "properties": {"provisioningState": "Creating", "redisVersion":
        "4.0.14", "sku": {"name": "Basic", "family": "C", "capacity": 0}, "enableNonSslPort":
        false, "instances": [{"sslPort": 15000, "isMaster": false, "isPrimary": false}],
        "publicNetworkAccess": "Enabled", "tenantSettings": {}, "redisConfiguration":
        {"maxclients": "256", "maxmemory-reserved": "30", "maxfragmentationmemory-reserved":
        "30", "maxmemory-delta": "30"}, "accessKeys": "replaced-access-key", "hostName":
        "cli-test-acfr-plr000002.redis.cache.windows.net", "port": 6379, "sslPort":
        6380, "linkedServers": []}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/asyncOperations/9f4e2094-de18-4887-8501-95c15cce62e0?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_plr000001/providers/Microsoft.Cache/redis/cli-test-acfr-plr000002?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 29179e76-95ff-4e01-9257-39bee29e6f65
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/asyncOperations/9f4e2094-de18-4887-8501-95c15cce62e0?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/asyncOperations/9f4e2094-de18-4887-8501-95c15cce62e0\",\r\n  \"name\":
        \"9f4e2094-de18-4887-8501-95c15cce62e0\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East
        US/asyncOperations/9f4e2094-de18-4887-8501-95c15cce62e0?api-version=2021-06-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - 29179e76-95ff-4e01-9257-39bee29e6f65
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_plr000001/providers/Microsoft.Cache/Redis/cli-test-acfr-plr000002/privateLinkResources?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_plr000001/providers/Microsoft.Cache/redis/cli-test-acfr-plr000002/privateLinkResources/redisCache","name":"redisCache","type":"Microsoft.Cache/Redis/privateLinkResources","properties":{"groupId":"redisCache","requiredMembers":["redisCache"],"requiredZoneNames":["privatelink.redis.cache.windows.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 29179e76-95ff-4e01-9257-39bee29e6f65
    status:
      code: 200
      message: OK
version: 1
