interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_commands_with_dnssec_zone000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"903d1c49-2bb7-4a2d-9a9e-e63dd5806edd","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-35.daily.azure-dns.com.","ns2-35.daily.azure-dns.net.","ns3-35.daily.azure-dns.org.","ns4-35.daily.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 903d1c49-2bb7-4a2d-9a9e-e63dd5806edd
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsZones/myzonex.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_commands_with_dnssec_zone000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/dnssecConfigs\/default","name":"default","type":"Microsoft.Network\/dnszones\/dnssecConfigs","etag":"2cce9f0a-1b04-4836-90f4-031573a679f8","properties":{"provisioningState":"Creating","signingKeys":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 2cce9f0a-1b04-4836-90f4-031573a679f8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsZones/myzonex.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_commands_with_dnssec_zone000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/dnssecConfigs\/default","name":"default","type":"Microsoft.Network\/dnszones\/dnssecConfigs","etag":"7ab6dbb9-b867-4b5d-9701-0169844ad359","properties":{"provisioningState":"Succeeded","signingKeys":[{"delegationSignerInfo":[],"flags":256,"keyTag":59695,"protocol":3,"publicKey":"RDHVEVBRq9Z5wlYTmGnVCjZ1mmvTztKDpMim7apHuR7pymu7BBB\/CVrAtgmf7u5j8b4ZjtGlCHoJSPV580oc5w==","securityAlgorithmType":13},{"delegationSignerInfo":[{"digestAlgorithmType":2,"digestValue":"6861BEB7DA93762B691B5756ADE0AF9DE7914688B8487C3E0CEA6B1878CBA1DA","record":"62539
        13 2 6861BEB7DA93762B691B5756ADE0AF9DE7914688B8487C3E0CEA6B1878CBA1DA"}],"flags":257,"keyTag":62539,"protocol":3,"publicKey":"1pIcOtjoqPoTxawgRcfFGQcWbPM2sOwQUEB3JGXUzQ+WjMLAW78XLfrkZ8GE0Ya2jsgN\/9gPZu3yflbLutUFZg==","securityAlgorithmType":13}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 7ab6dbb9-b867-4b5d-9701-0169844ad359
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "tags": {"foo": "bar"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_commands_with_dnssec_zone000001\/providers\/Micro[...]
[...]
- request:
    body: '{"etag": "1bff7711-88f4-46a4-964f-e66667707e06", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"foo": "bar", "tag1": "bar",
      "tag2": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_commands_with_dnssec_zone000001\/providers\/Micro[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000023;337317;myzonex.com;Regular?api-version=2023-07-01-preview&t=638476077250784458&c=MIIG9TCCBd2gAwIBAgITfARUFHai8_PH4NuBhAAABFQUdjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTE1MTA1NjQzWhcNMjUwMTA5MT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_commands_with_dnssec_zone000001/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000023;337317;myzonex.com;Regular?api-version=2023-07-01-preview&t=638476077250784458&c=MIIG9TCCBd2gAwIBAgITfARUFHai8_PH4NuBhAAABFQUdjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
