interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27pubip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_network_lb_zone000001%27+and+name+eq+%27pubip1%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2022-09-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjQwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1TVlJGVTFSR1YxbENSelZCVVU1TVJWZExWa1ZNU1ZwUFFsTkVXVmsyV2s5RFVFNU9URlJQUkRSTE5VUTJmREpFTVRZMVJqTXhRVUV5T1VWRE1VTXRUVWxEVWs5VFQwWlVPakpGVTFSUFVrRkhSVG95UmxOVVQxSkJSMFZCUTBOUFZVNVVVem95UmtOTVNWUkZVMVJFU3pkTFZrMUdOVXhUVXpWTVRGUlRSUzFEUlU1VVVrRk1WVk5GVlVGUSJ9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27pubip1%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjQwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1TVlJGVTFSR1YxbENSelZCVVU1TVJWZExWa1ZNU1ZwUFFsTkVXVmsyV2s5RFVFNU9URlJQUkRSTE5VUTJmREpFTVRZMVJqTXhRVUV5T1VWRE1VTXRUVWxEVWs5VFQwWlVPakpGVTFSUFVrRkhSVG95UmxOVVQxSkJSMFZCUTBOUFZVNVVVem95UmtOTVNWUkZVMVJFU3pkTFZrMUdOVXhUVXpWTVRGUlRSUzFEUlU1VVVrRk1WVk5GVlVGUSJ9
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "pubip1", "location": "eastus2", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}, "zones":
      ["2"]}, {"type": "Microsoft.Network/loadBalancers", "name": "lb1", "location":
      "eastus2", "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/pubip1"],
      "properties": {"backendAddressPools": [{"name": "lb1bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Standard"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''lb1'')]"}}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_aJ0ijozJMdFlRTWVZzTCSikIXeEWlZLW","name":"lb_deploy_aJ0ijozJMdFlRTWVZzTCSikIXeEWlZLW","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6841929804716503975","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-01-28T12:11:07.2817019Z","duration":"PT0.0009463S","correlationId":"8902dc53-3249-47e6-8ac9-81b5c5dfa01a","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"pubip1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_aJ0ijozJMdFlRTWVZzTCSikIXeEWlZLW/operationStatuses/08585266990189872553?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585266990189872553?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1\",\r\n
        \ \"etag\": \"W/\\\"a02441d4-ba12-430e-a0be-d364ff733518\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"67a20e7e-dc90-46f3-b2d9-8da044cf03c5\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"a02441d4-ba12-430e-a0be-d364ff733518\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1\"\r\n
        \         }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\":
        [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\",\r\n
        \       \"etag\": \"W/\\\"a02441d4-ba12-430e-a0be-d364ff733518\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"type\":
        \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n      }\r\n    ],\r\n
        \   \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\":
        [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a02441d4-ba12-430e-a0be-d364ff733518"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1\",\r\n
        \ \"etag\": \"W/\\\"11930688-0af8-45d7-9679-ed496969d478\\\"\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"f8b16782-afba-4669-a95a-d71b669ca486\",\r\n    \"ipAddress\": \"20.44.121.178\",\r\n
        \   \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n
        \   \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"11930688-0af8-45d7-9679-ed496969d478"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_network_lb_zone000001%27+and+name+eq+%27vnet1%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2022-09-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjQwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1TVlJGVTFSRlJqWkZSVXBWU1RKU1dUWXlNazFETmxwR01rNVdUMFZOVFVSWk4xUXpUVWxPU1ZJMU0xQkxmRVE0UkRWRk5ESkdOVGc1TnpBNE9ETXRUVWxEVWs5VFQwWlVPakpGVTFSUFVrRkhSVG95UmxOVVQxSkJSMFZCUTBOUFZVNVVVem95UmtOTVNWUkZVMVJEVGxKTFFrZE9WbGhXVkU5VFYwNVhTeTFEUlU1VVVrRk1WVk5GVlVGUSJ9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjQwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1TVlJGVTFSRlJqWkZSVXBWU1RKU1dUWXlNazFETmxwR01rNVdUMFZOVFVSWk4xUXpUVWxPU1ZJMU0xQkxmRVE0UkRWRk5ESkdOVGc1TnpBNE9ETXRUVWxEVWs5VFQwWlVPakpGVTFSUFVrRkhSVG95UmxOVVQxSkJSMFZCUTBOUFZVNVVVem95UmtOTVNWUkZVMVJEVGxKTFFrZE9WbGhXVkU5VFYwNVhTeTFEUlU1VVVrRk1WVk5GVlVGUSJ9
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "lb2", "location": "eastus2", "tags": {}, "apiVersion": "2022-01-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1"], "properties": {"backendAddressPools":
      [{"name": "lb2bepool"}], "frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "privateIPAddress": null,
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAddressVersion": "IPv4"}, "zones": ["2"]}]}, "sku": {"name": "Standard"}}],
      "outputs": {"loadBalancer": {"type": "object", "value": "[reference(''lb2'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://man[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/7e8b72cd-20ec-4a4c-89c5-98361726dbce?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_network_lb_zone000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2022-09-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjQwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1TVlJGVTFSRlZsTkJTVU5MVkU1S1IwdzFRMWhUUkVkUldGVk9WbEpRUWxvelFqVkxTVmRGVFRWQlZWQldmRVUwTTBJM09VVTVNekZHUmprd05qZ3RUVWxEVWs5VFQwWlVPakpGVTFSUFVrRkhSVG95UmxOVVQxSkJSMFZCUTBOUFZVNVVVem95UmtOTVNWUkZVMVJTU2sxT1FrRk1SVlJQTkZKVVRrVlNXQzFEUlU1VVVrRk1WVk5GVlVGUSJ9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjQwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1TVlJGVTFSRlZsTkJTVU5MVkU1S1IwdzFRMWhUUkVkUldGVk9WbEpRUWxvelFqVkxTVmRGVFRWQlZWQldmRVUwTTBJM09VVTVNekZHUmprd05qZ3RUVWxEVWs5VFQwWlVPakpGVTFSUFVrRkhSVG95UmxOVVQxSkJSMFZCUTBOUFZVNVVVem95UmtOTVNWUkZVMVJTU2sxT1FrRk1SVlJQTkZKVVRrVlNXQzFEUlU1VVVrRk1WVk5GVlVGUSJ9
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"idleTimeoutInMinutes": 4,
      "publicIPAddressVersion": "IPv6", "publicIPAllocationMethod": "Static"}, "sku":
      {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip2?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip2\",\r\n
        \ \"etag\": \"W/\\\"561b8f68-8548-4891-ab37-8f0cac22c8c7\\\"\",\r\n  \"location\":
        \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"cf7f80da-716a-4c95-abfc-4cd4b28fffea\",\r\n    \"publicIPAddressVersion\":
        \"IPv6\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\":
        \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/7a5ba2a9-8277-4cbd-9b4b-54f4e39e3c93?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/7a5ba2a9-8277-4cbd-9b4b-54f4e39e3c93?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
