interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_custom_rule_000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001","name":"cli_test_app_gateway_waf_custom_rule_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-11-12T08:06:17Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"managedRules": {"managedRuleSets":
      [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"agp1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\"\
        ,\r\n  \"etag\": \"W/\\\"cdcd9a2b-2ab5-4ad8-a163-d127ddf6d9eb\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"customRules\": [],\r\n    \"policySettings\": {\r\
        \n      \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\
        \n      \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\",\r\n\
        \      \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n  \
        \    \"managedRuleSets\": [\r\n        {\r\n          \"ruleSetType\": \"\
        OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n          \"ruleGroupOverrides\"\
        : []\r\n        }\r\n      ],\r\n      \"exclusions\": []\r\n    }\r\n  }\r\
        \n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a4e2ba38-8989-4ef6-803d-00e58a5c44e0?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1178'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "properties": {"policySettings": {"state": "Disabled",
      "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb": 128,
      "fileUploadLimitInMb": 100}, "customRules": [{"name": "rule1", "priority": 50,
      "ruleType": "MatchRule", "matchConditions": [], "action": "Log"}], "managedRules":
      {"exclusions": [], "managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion":
      "3.0", "ruleGroupOverrides": []}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"agp1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\"\
        ,\r\n  \"etag\": \"W/\\\"f569585b-17e1-4f8e-b453-82ba2d32374e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"customRules\": [\r\n      {\r\n        \"name\":\
        \ \"rule1\",\r\n        \"priority\": 50,\r\n        \"ruleType\": \"MatchRule\"\
        ,\r\n        \"action\": \"Log\",\r\n        \"matchConditions\": [],\r\n\
        \        \"skippedManagedRuleSets\": []\r\n      }\r\n    ],\r\n    \"policySettings\"\
        : {\r\n      \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\"\
        : 128,\r\n      \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\"\
        ,\r\n      \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n\
        \      \"managedRuleSets\": [\r\n        {\r\n          \"ruleSetType\": \"\
        OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n          \"ruleGroupOverrides\"\
        : []\r\n        }\r\n      ],\r\n      \"exclusions\": []\r\n    }\r\n  }\r\
        \n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/03c34360-382f-4906-a74e-6537ad76f87b?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1182'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "properties": {"policySettings": {"state": "Disabled",
      "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb": 128,
      "fileUploadLimitInMb": 100}, "customRules": [{"name": "rule1", "priority": 50,
      "ruleType": "MatchRule", "matchConditions": [{"matchVariables": [{"variableName":
      "RequestHeaders", "selector": "value"}], "operator": "Contains", "matchValues":
      ["foo", "boo"], "transforms": ["Lowercase"]}], "action": "Log"}], "managedRules":
      {"exclusions": [], "managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion":
      "3.0", "ruleGroupOverrides": []}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"agp1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\"\
        ,\r\n  \"etag\": \"W/\\\"386f6ec4-89f7-4c24-bc63-435e37f4ae96\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"customRules\": [\r\n      {\r\n        \"name\"\
        : \"rule1\",\r\n        \"priority\": 50,\r\n        \"ruleType\": \"MatchRule\"\
        ,\r\n        \"action\": \"Log\",\r\n        \"matchConditions\": [\r\n  \
        \        {\r\n            \"matchVariables\": [\r\n              {\r\n   \
        \             \"variableName\": \"RequestHeaders\",\r\n                \"\
        selector\": \"value\"\r\n              }\r\n            ],\r\n           \
        \ \"operator\": \"Contains\",\r\n            \"negationConditon\": false,\r\
        \n            \"matchValues\": [\r\n              \"foo\",\r\n           \
        \   \"boo\"\r\n            ],\r\n            \"transforms\": [\r\n       \
        \       \"Lowercase\"\r\n            ]\r\n          }\r\n        ],\r\n  \
        \      \"skippedManagedRuleSets\": []\r\n      }\r\n    ],\r\n    \"policySettings\"\
        : {\r\n      \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\"\
        : 128,\r\n      \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\"\
        ,\r\n      \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n\
        \      \"managedRuleSets\": [\r\n        {\r\n          \"ruleSetType\": \"\
        OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n          \"ruleGroupOverrides\"\
        : []\r\n        }\r\n      ],\r\n      \"exclusions\": []\r\n    }\r\n  }\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"386f6ec4-89f7-4c24-bc63-435e37f4ae96"
    status:
      code: 200
      message: OK
[...]
