interactions:
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003\",\r\n
        \ \"etag\": \"W/\\\"d1939921-24fd-4231-880a-1036bc4b9073\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"8417924e-7817-4aee-8f9f-6a7e7caf4a95\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \       \"etag\": \"W/\\\"d1939921-24fd-4231-880a-1036bc4b9073\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/81781a4e-f35b-41c8-a1b6-92d9bd82c802?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/81781a4e-f35b-41c8-a1b6-92d9bd82c802?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \ \"etag\": \"W/\\\"b8f39487-9eb9-4f03-b8ec-7d38dd48ec81\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b8f39487-9eb9-4f03-b8ec-7d38dd48ec81"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location":"eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"privateEndpointConnections":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002","name":"cli-test-rmpl-pe-000002","type":"Microsoft.Authorization/resourceManagementPrivateLinks","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000006", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002",
      "groupIds": ["ResourceManagement"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"privateEndpointConnections":[{"properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b","name":"cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b","type":"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002","name":"cli-test-rmpl-pe-000002","type":"Microsoft.Authorization/resourceManagementPrivateLinks","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b","name":"cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b","type":"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b","name":"cli-pe-000005.2dc9f601-6cde-4c3d-8ba9-4c998f116b8b","type":"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
