interactions:
- request:
    body: '{"location": "westus", "properties": {"redisConfiguration": {}, "tenantSettings":
      {}, "sku": {"name": "Standard", "family": "c", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/redis/cli-test-acfr-pe-000002?api-version=2022-06-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002",
        "location": "West US", "name": "cli-test-acfr-pe-000002", "type": "Microsoft.Cache/Redis",
        "tags": {}, "properties": {"provisioningState": "Creating", "redisVersion":
        "6.0", "sku": {"name": "Standard", "family": "C", "capacity": 1}, "enableNonSslPort":
        false, "instances": [{"sslPort": 15000, "isMaster": false, "isPrimary": false},
        {"sslPort": 15001, "isMaster": false, "isPrimary": false}], "publicNetworkAccess":
        "Enabled", "tenantSettings": {}, "redisConfiguration": {"maxclients": "1000",
        "maxmemory-reserved": "125", "maxfragmentationmemory-reserved": "125", "maxmemory-delta":
        "125"}, "accessKeys": {"primaryKey": "replaced-access-key", "secondaryKey":
        "replaced-access-key"}, "hostName": "cli-test-acfr-pe-000002.redis.cache.windows.net",
        "port": 6379, "sslPort": 6380, "linkedServers": []}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/fd73fcb8-b93e-40af-a1bf-6f50e68afa3b?api-version=2022-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/redis/cli-test-acfr-pe-000002?api-version=2022-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/fd73fcb8-b93e-40af-a1bf-6f50e68afa3b?api-version=2022-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US/asyncOperations/fd73fcb8-b93e-40af-a1bf-6f50e68afa3b\",\r\n  \"name\":
        \"fd73fcb8-b93e-40af-a1bf-6f50e68afa3b\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US/asyncOperations/fd73fcb8-b93e-40af-a1bf-6f50e68afa3b?api-version=2022-06-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003?api-version=2022-01-01
  response:
    body:
      string: '{"name": "cli-vnet-000003", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003",
        "etag": "W/\"e6e35183-161c-4ced-936d-f260c2b693e9\"", "type": "Microsoft.Network/virtualNetworks",
        "location": "westus", "tags": {}, "properties": {"provisioningState": "Updating",
        "resourceGuid": "73dcb04f-62b0-4467-8b7b-5d5334dce0e0", "addressSpace": {"addressPrefixes":
        ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name":
        "cli-subnet-000004", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
        "etag": "W/\"e6e35183-161c-4ced-936d-f260c2b693e9\"", "properties": {"provisioningState":
        "Updating", "addressPrefix": "10.0.0.0/24", "delegations": [], "privateEndpointNetworkPolicies":
        "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "type": "Microsoft.Network/virtualNetworks/subnets"}],
        "virtualNetworkPeerings": [], "enableDdosProtection": false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1abb0325-5567-428e-b3a5-434fdc22fde6?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1abb0325-5567-428e-b3a5-434fdc22fde6?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004?api-version=2022-01-01
  response:
    body:
      string: '{"name": "cli-subnet-000004", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
        "etag": "W/\"ed069046-871a-49ae-9325-7896c23b58a7\"", "properties": {"provisioningState":
        "Succeeded", "addressPrefix": "10.0.0.0/24", "delegations": [], "privateEndpointNetworkPolicies":
        "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "type": "Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ed069046-871a-49ae-9325-7896c23b58a7"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
      "properties": {"privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000006", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002",
      "groupIds": ["redisCache"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005?api-version=2022-01-01
  response:
    body:
      string: '{"name": "cli-pe-000005", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005",
        "etag": "W/\"7033b4cf-83fd-4223-b61b-3dd900a50944\"", "type": "Microsoft.Network/privateEndpoints",
        "location": "westus", "properties": {"provisioningState": "Updating", "resourceGuid":
        "89f9ed51-9ed6-4533-8467-2f6f48785ed2", "privateLinkServiceConnections": [{"name":
        "cli-pec-000006", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005/privateLinkServiceConnections/cli-pec-000006",
        "etag": "W/\"7033b4cf-83fd-4223-b61b-3dd900a50944\"", "properties": {"provisioningState":
        "Succeeded", "privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002",
        "groupIds": ["redisCache"], "privateLinkServiceConnectionState": {"status":
        "Approved", "description": "Auto Approved", "actionsRequired": "None"}}, "type":
        "Microsoft.Network/privateEndpoints/privateLinkServiceConnections"}], "manualPrivateLinkServiceConnections":
        [], "customNetworkInterfaceName": "", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004"},
        "ipConfigurations": [], "networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/networkInterfaces/cli-pe-000005.nic.b676141b-3b26-4248-b0d5-bb50b533e2ba"}],
        "customDnsConfigs": []}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0c4d4e12-f4e1-47d1-89f4-1f2f2a08a3c5?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/redis/cli-test-acfr-pe-000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002","location":"West
        US","name":"cli-test-acfr-pe-000002","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"6.0","sku":{"name":"Standard","family":"C","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":true,"isPrimary":true},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"publicNetworkAccess":"Disabled","tenantSettings":{},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.f6dcc4f4-8650-43a0-8ab1-6a10d6201f84","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"redisConfiguration":{"maxclients":"1000","maxmemory-reserved":"125","maxfragmentationmemory-reserved":"125","maxmemory-delta":"125"},"accessKeys":null,"hostName":"cli-test-acfr-pe-000002.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.f6dcc4f4-8650-43a0-8ab1-6a10d6201f84","name":"cli-pe-000005.f6dcc4f4-8650-43a0-8ab1-6a10d6201f84","type":"Microsoft.Cache/Redis/privateEndpointConnections","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.f6dcc4f4-8650-43a0-8ab1-6a10d6201f84?api-version=2021-06-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.f6dcc4f4-8650-43a0-8ab1-6a10d6201f84",
        "name": "cli-pe-000005.f6dcc4f4-8650-43a0-8ab1-6a10d6201f84", "type": "Microsoft.Cache/Redis/privateEndpointConnections",
        "properties": {"privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},
        "privateLinkServiceConnectionState": {"status": "Approved", "description":
        "Auto-Approved", "actionsRequired": "None"}}}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections?api-version=2021-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 00107329-0118-435b-a4d3-55594af17abd
    status:
      code: 200
      message: OK
version: 1
