interactions:
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "Basic"}, "identity": {"type":
      "None"}, "kind": "Azure", "properties": {"inputSchema": "EventGridSchema", "publicNetworkAccess":
      "disabled", "disableLocalAuth": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/topics/cli000002?api-version=2021-10-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","endpoint":null,"minimumTlsVersionAllowed":"1.0","inputSchema":"EventGridSchema","publicNetworkAccess":"Disabled","disableLocalAuth":false},"sku":{"name":"Basic"},"identity":{"type":"None","principalId":null,"tenantId":null,"userAssignedIdentities":null},"kind":"Azure","systemData":null,"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/topics/cli000002","name":"cli000002","type":"Microsoft.EventGrid/topics"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/BF5F6749-078B-45A5-BCB8-9970A31D4692?api-version=2021-10-15-preview&t=638758062716820882&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/BF5F6749-078B-45A5-BCB8-9970A31D4692?api-version=2021-10-15-preview&t=638758062716820882&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/topics/cli000002?api-version=2021-10-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","endpoint":"https://cli000002.centraluseuap-1.eventgrid.azure.net/api/events","inputSchema":"EventGridSchema","metricResourceId":"38068f59-a4e7-48c2-8b45-e78308f34e65","publicNetworkAccess":"Disabled","disableLocalAuth":false,"dataResidencyBoundary":"WithinGeopair"},"sku":{"name":"Basic"},"identity":{"type":"None","principalId":null,"tenantId":null,"userAssignedIdentities":null},"kind":"Azure","systemData":null,"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/topics/cli000002","name":"cli000002","type":"Microsoft.EventGrid/topics"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/topics/cli000002/privateLinkResources?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"groupId":"topic","displayName":"Event Grid
        topic","requiredMembers":["topic"],"requiredZoneNames":["privatelink.eventgrid.azure.net"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/topics/cli000002/privateLinkResources/topic","name":"topic","type":"Microsoft.EventGrid/topics/privateLinkResources"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "Basic"}, "identity": {"type":
      "None"}, "properties": {"inputSchema": "EventGridSchema", "publicNetworkAccess":
      "disabled", "disableLocalAuth": false, "autoCreateTopicWithFirstSubscription":
      true, "autoDeleteTopicWithLastSubscription": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/domains/cli000003?api-version=2021-10-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","minimumTlsVersionAllowed":"1.0","endpoint":null,"inputSchema":"EventGridSchema","publicNetworkAccess":"Disabled","disabl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/FF781350-580C-454A-AB46-AA5B33B3EE5D?api-version=2021-10-15-preview&t=638758063081157211&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/domains/cli000003/privateLinkResources?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"groupId":"domain","displayName":"Event Grid
        domain","requiredMembers":["domain"],"requiredZoneNames":["privatelink.eventgrid.azure.net"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/domains/cli000003/privateLinkResources/domain","name":"domain","type":"Microsoft.EventGrid/domains/privateLinkResources"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid","namespace":"Microsoft.EventGrid","authorizations":[{"applicationId":"4962773b-9cdb-44cf-a8bf-237846a00ab7","roleDefinitionId":"7FE036D8-246F-48BF-A78F-AB3EE699C8F3"},{"applicationId":"823c0a78-5de0-4445-a7f5-c2f42d7dc89b"}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2025-02-15","2024-12-15-preview","2024-06-01-preview","2023-12-15-preview","2023-06-01-preview","2022-06-15","2021-12-01","2021-10-15-preview","2021-06-01-preview","2020-10-15-preview","2020-06-01","2020-04-01-preview","2020-01-01-preview","2019-06-01","2019-02-01-preview","2019-01-01","2018-09-15-preview","2018-05-01-preview","2018-01-01","2017-09-15-preview","2017-06-15-preview"],"capabilities":"None"},{"resourceType":"locations/eventSubscriptions","locations":["West
        US 2","East US","West US","Central US","East US 2","West Central US","Australia
        East","Australia Southeast","Australia Central","Japan East","Japan West","West
        Europe","North Europe","Southeast Asia","East Asia","North Central US","South
        Central US","Brazil South","Canada Central","Canada East","Central India","South
        India","West India","France Central","UK West","UK South","Korea Ce[...]
- request:
    body: '{"location": "centraluseuap", "properties": {"location": "centraluseuap"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/namespaces/cli000004?api-version=2025-02-15
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","isZoneRedundant":false,"publicNetworkAccess":"Enabled","inboundIpRules":null,"minimumTlsVersionAllowed":"1.2"},"sku":null,"systemData":null,"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/namespaces/cli000004","name":"cli000004","type":"Microsoft.EventGrid/namespaces"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centralu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/4CFE689E-2BAD-420B-871A-1B8A92D6B366?api-version=2025-02-15&t=638758063460254464&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3Wj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/namespaces/cli000004?api-version=2025-02-15
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","topicsConfiguration":{"hostname":"cli000004.centraluseuap-1.eventgrid.azure.net"},"isZoneRedundant":false,"publicNetworkAccess":"Enabled","inboundIpRules":null,"minimumTlsVersionAllowed":"1.2"},"sku":{"name":"Standard","capacity":1},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2025-02-22T07:32:25.4471502Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-22T07:32:25.4471502Z"},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/namespaces/cli000004","name":"cli000004","type":"Microsoft.EventGrid/namespaces"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3746'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/namespaces/cli000004/privateLinkResources?api-version=2023-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"groupId":"topic","displayName":"Event Grid
        topic","requiredMembers":["topic"],"requiredZoneNames":["privatelink.eventgrid.azure.net"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/namespaces/cli000004/privateLinkResources/topic","name":"topic","type":"Microsoft.EventGrid/namespaces/privateLinkResources"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3746'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000005?api-version=2021-10-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","partnerRegistrationImmutableId":"e5d09fa9-8e40-447f-9904-095d6b27f099","visibilityState":"Hidden"},"systemData":null,"location":"global","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000005","name":"cli000005","type":"Microsoft.EventGrid/partnerRegistrations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"partnerRegistrationFullyQualifiedId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/partnerRegistrations/cli000005",
      "disableLocalAuth": false, "partnerTopicRoutingMode": "SourceEventAttribute"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000006?api-version=2021-10-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","partnerRegistrationFullyQualifiedId":"/subscriptions/00000000-0000-0000-0000-000000000000/re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/87DA823C-3D7F-41E0-A07F-B65A7AD6EAC5?api-version=2021-10-15-preview&t=638758063862455275&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000006/privateLinkResources?api-version=2021-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"groupId":"partnerNamespace","displayName":"Event
        Grid partnerNamespace","requiredMembers":["partnerNamespace"],"requiredZoneNames":["privatelink.eventgrid.azure.net"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_event_grid_plr000001/providers/Microsoft.EventGrid/partnerNamespaces/cli000006/privateLinkResources/partnerNamespace","name":"partnerNamespace","type":"Microsoft.EventGrid/partnerNamespaces/privateLinkResources"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
version: 1
