interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"a425c2f1-2ad8-4d99-aed3-b49194ae881d","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.ppe.azure-dns.com.","ns2-38.ppe.azure-dns.net.","ns3-38.ppe.azure-dns.org.","ns4-38.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a425c2f1-2ad8-4d99-aed3-b49194ae881d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "a425c2f1-2ad8-4d99-aed3-b49194ae881d", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag1": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"4b8a2f7c-a21d-4a37-9d96-ace788e55f2e","location":"global","tags":{"tag1":"foo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.ppe.azure-dns.com.","ns2-38.ppe.azure-dns.net.","ns3-38.ppe.azure-dns.org.","ns4-38.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 4b8a2f7c-a21d-4a37-9d96-ace788e55f2e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"etag": "4b8a2f7c-a21d-4a37-9d96-ace788e55f2e", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag1": "bar", "tag2": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"97c45d25-b504-4111-a79a-655537466c83","location":"global","tags":{"tag1":"bar","tag2":"foo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.ppe.azure-dns.com.","ns2-38.ppe.azure-dns.net.","ns3-38.ppe.azure-dns.org.","ns4-38.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 97c45d25-b504-4111-a79a-655537466c83
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"etag": "97c45d25-b504-4111-a79a-655537466c83", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag2": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"8f1e122b-cd8f-4ae5-b9ad-484fda765055","location":"global","tags":{"tag2":"foo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.ppe.azure-dns.com.","ns2-38.ppe.azure-dns.net.","ns3-38.ppe.azure-dns.org.","ns4-38.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 8f1e122b-cd8f-4ae5-b9ad-484fda765055
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
