interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkWatchers?api-version=2022-01-01
  response:
    body:
      string: '{"value":[{"name":"NetworkWatcher_westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus","etag":"W/\"2f330891-d619-4d17-9cab-4c7ea597831e\"","type":"Microsoft.Network/networkWatchers","location":"westus","properties":{"provisioningState":"Succeeded","runningOperationIds":[]}},{"name":"NetworkWatcher_eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus","etag":"W/\"f7e92abd-65db-4adf-a2ec-7941130a35c2\"","type":"Microsoft.Network/networkWatchers","location":"eastus","properties":{"provisioningState":"Succeeded","runningOperationIds":[]}},{"name":"nwcmtest-team-internal1234-diagnostics-networkwatcher-westeurope","id":"/subscriptions/00000000-0000-0000-000[...]
- request:
    body: '{"location": "eastus2", "properties": {"endpoints": [{"name": "aks-private-vnet",
      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-private-rg/providers/Microsoft.Network/virtualNetworks/aks-private-vnet",
      "type": "AzureVNet"}, {"name": "aks-vnet-29306067", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_aks-managed-natgw-rg_aks-managed-natgw_eastus2/providers/Microsoft.Network/virtualNetworks/aks-vnet-29306067",
      "type": "AzureVNet"}, {"name": "aks-azure-cni-vnet", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-azure-cni-rg/providers/Microsoft.Network/virtualNetworks/aks-azure-cni-vnet",
      "type": "AzureVNet"}], "outputs": [], "testConfigurations": [{"httpConfiguration":
      {"method": "Get", "port": 80, "requestHeaders": [], "validStatusCodeRanges":
      ["200", "201"]}, "name": "httptestconfig", "protocol": "Http", "testFrequencySec":
      "60"}, {"name": "tcptestconfig", "protocol": "Tcp", "tcpConfiguration": {"port":
      80}, "testFrequencySec": "60"}, {"icmpConfiguration": {}, "name": "icmptestconfig",
      "protocol": "Icmp", "testFrequencySec": "60"}], "testGroups": [{"destinations":
      ["aks-azure-cni-vnet", "aks-vnet-29306067"], "name": "tg13", "sources": ["aks-private-vnet",
      "aks-vnet-29306067"], "testConfigurations": ["httptestconfig", "tcptestconfig"]},
      {"destinations": ["aks-azure-cni-vnet", "aks-vnet-29306067"], "name": "tg23",
      "sources": ["aks-private-vnet", "aks-azure-cni-vnet"], "testConfigurations":
      ["tcptestconfig", "icmptestconfig"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus2/connectionMonitors/cmv2-06?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cmv2-06\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus2/connectionMonitors/cmv2-06\",\r\n
        \ \"etag\": \"W/\\\"dac56200-3e16-436b-a7ca-26f64bf73eea\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"197f7aef-617f-4b66-b2f8-81ee96eff622\",\r\n
        \   \"endpoints\": [\r\n      {\r\n        \"name\": \"aks-private-vnet\",\r\n
        \       \"type\": \"AzureVNet\",\r\n        \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-private-rg/providers/Microsoft.Network/virtualNetworks/aks-private-vnet\"\r\n
        \     },\r\n      {\r\n        \"name\": \"aks-vnet-29306067\",\r\n        \"type\":
        \"AzureVNet\",\r\n        \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_aks-managed-natgw-rg_aks-managed-natgw_eastus2/providers/Microsoft.Network/virtualNetworks/aks-vnet-29306067\"\r\n
        \     },\r\n      {\r\n        \"name\": \"aks-azure-cni-vnet\",\r\n        \"type\":
        \"AzureVNet\",\r\n        \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aks-azure-cni-rg/providers/Microsoft.Network/virtualNetworks/aks-azure-cni-vnet\"\r\n
        \     }\r\n    ],\r\n    \"testConfigurations\": [\r\n      {\r\n        \"name\":
        \"httptestconfig\",\r\n        \"testFrequencySec\": 60,\r\n        \"protocol\":
        \"Http\",\r\n        \"httpConfiguration\": {\r\n          \"port\": 80,\r\n
        \         \"method\": \"Get\",\r\n          \"requestHeaders\": [],\r\n          \"validStatusCodeRanges\":
        [\r\n            \"200\",\r\n            \"201\"\r\n          ],\r\n          \"preferHTTPS\":
        false\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"tcptestconfig\",\r\n
        \       \"testFrequencySec\": 60,\r\n        \"protocol\": \"Tcp\",\r\n        \"tcpConfiguration\":
        {\r\n          \"port\": 80,\r\n          \"disableTraceRoute\": false\r\n
        \       }\r\n      },\r\n      {\r\n        \"name\": \"icmptestconfig\",\r\n
        \       \"testFrequencySec\": 60,\r\n        \"protocol\": \"Icmp\",\r\n        \"icmpConfiguration\":
        {\r\n          \"disableTraceRoute\": false\r\n        }\r\n      }\r\n    ],\r\n
        \   \"testGroups\": [\r\n      {\r\n        \"name\": \"tg13\",\r\n        \"disable\":
        false,\r\n        \"testConfigurations\": [\r\n          \"httptestconfig\",\r\n
        \         \"tcptestconfig\"\r\n        ],\r\n        \"sources\": [\r\n          \"aks-private-vnet\",\r\n
        \         \"aks-vnet-29306067\"\r\n        ],\r\n        \"destinations\":
        [\r\n          \"aks-azure-cni-vnet\",\r\n          \"aks-vnet-29306067\"\r\n
        \       ]\r\n      },\r\n      {\r\n        \"name\": \"tg23\",\r\n        \"disable\":
        false,\r\n        \"testConfigurations\": [\r\n          \"tcptestconfig\",\r\n
        \         \"icmptestconfig\"\r\n        ],\r\n        \"sources\": [\r\n          \"aks-private-vnet\",\r\n
        \         \"aks-azure-cni-vnet\"\r\n        ],\r\n        \"destinations\":
        [\r\n          \"aks-azure-cni-vnet\",\r\n          \"aks-vnet-29306067\"\r\n
        \       ]\r\n      }\r\n    ],\r\n    \"outputs\": [],\r\n    \"connectionMonitorType\":
        \"MultiEndpoint\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkWatchers/connectionMonitors\",\r\n
        \ \"location\": \"eastus2\"\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/01091fc0-2b0c-4398-9912-a89f80f4d695?api-version=2022-01-01&t=638530321671889867&c=MIIHpTCCBo2gAwIBAgITfwM-U27xkVO5ZxEd0gAEAz5TbjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE2MjMzNzExWhcNMjUwNTExMjMzNzExWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/01091fc0-2b0c-4398-9912-a89f80f4d695?api-version=2022-01-01&t=638530321671889867&c=MIIHpTCCBo2gAwIBAgITfwM-U27xkVO5ZxEd0gAEAz5TbjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE2MjMzNzExWhcNMjUwNTExMjMzNzExWjBAMT4wPAYDVQQD[...]
[...]
