interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001","name":"cli_test_app_gateway_waf_policy000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T12:04:28Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001","name":"cli_test_app_gateway_waf_policy000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T12:42:47Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> bump to 2019-09-01 for network
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:04:33 GMT
=======
      - Mon, 21 Oct 2019 12:42:51 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"managedRules": {"managedRuleSets":
      [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"agp1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"cdeb9f38-56fa-474f-abda-6e3a089fbe7d\\\"\",\r\n  \"type\":
=======
        \ \"etag\": \"W/\\\"608d0ff7-e68c-493c-a030-d5b771e7a191\\\"\",\r\n  \"type\":
>>>>>>> bump to 2019-09-01 for network
        \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\",\r\n
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"customRules\": [],\r\n    \"policySettings\": {\r\n
        \     \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\n
        \     \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\",\r\n
        \     \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n      \"managedRuleSets\":
        [\r\n        {\r\n          \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\":
        \"3.0\",\r\n          \"ruleGroupOverrides\": []\r\n        }\r\n      ],\r\n
        \     \"exclusions\": []\r\n    }\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8b79d085-1dce-496e-a4fa-f96a63b3a216?api-version=2019-08-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/6b11a226-18ea-4a4a-9299-f5a237e761a4?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
      cache-control:
      - no-cache
      content-length:
      - '924'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:04:37 GMT
=======
      - Mon, 21 Oct 2019 12:42:54 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - f6d70203-778b-446e-be80-e5862edc1f24
      x-ms-ratelimit-remaining-subscription-writes:
      - '1173'
=======
      - c5290970-ac4c-4be9-bf19-bca01ecaf5f6
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Disabled", "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 100}, "customRules": [], "managedRules": {"exclusions":
      [], "managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0", "ruleGroupOverrides":
<<<<<<< HEAD
      []}]}}, "etag": "W/\\"d6bb1f32-d236-4c55-9b0b-3bf83d72b0cc\\""}'''
=======
      []}]}}, "etag": "W/\\"168d1383-175e-4df8-99d5-e25001213fa3\\""}'[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"agp1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\",\r\n
<<<<<<< HEAD
        \     \"etag\": \"W/\\\"24fd6e42-0257-4daa-9d38-e80ae306e6fd\\\"\",\r\n      \"type\":
=======
        \     \"etag\": \"W/\\\"18dac4db-ef28-4fa1-b756-5b5f294028b0\\\"\",\r\n      \"type\":
>>>>>>> bump to 2019-09-01 [...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Disabled", "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 100}, "customRules": [{"name": "rule1", "priority":
      50, "ruleType": "MatchRule", "matchConditions": [], "action": "Log"}], "managedRules":
      {"exclusions": [], "managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion":
<<<<<<< HEAD
      "3.0", "ruleGroupOverrides": []}]}}, "etag": "W/\\"24fd6e42-0257-4daa-9d38-e80ae306e6fd\\""}'''
=======
      "3.0", "ruleGroupOverrides": []}]}}, "etag": "W/\\"18dac4db-ef28-4fa1-b756-5b5f294028b0\\""}'''
>>>>>>> bump to 2019-09-01 for network
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"agp1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"0721d530-d5d0-4a19-95ae-da853f330b1e\\\"\",\r\n  \"type\":
=======
        \ \"etag\": \"W/\\\"c4f254c7-e94a-4094-8993-1e0e256852db\\\"\",\r\n  \"type\":
>>>>>>> bump to 2019-09-01 for network
        \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\",\r\n
        \ \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"test\": \"best\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"customRules\": [\r\n      {\r\n        \"name\": \"rule1\",\r\n        \"priority\":
        50,\r\n        \"ruleType\": \"MatchRule\",\r\n        \"action\": \"Log\",\r\n
        \       \"matchConditions\": [],\r\n        \"skippedManagedRuleSets\": []\r\n
        \     }\r\n    ],\r\n    \"policySettings\": {\r\n      \"requestBodyCheck\":
        true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\n      \"fileUploadLimitInMb\":
        100,\r\n      \"state\": \"Disabled\",\r\n      \"mode\": \"Detection\"\r\n
        \   },\r\n    \"managedRules\": {\r\n      \"managedRuleSets\": [\r\n        {\r\n
        \         \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n
        \         \"ruleGroupOverrides\": []\r\n        }\r\n      ],\r\n      \"exclusions\":
        []\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:04:52 GMT
      etag:
      - W/"0721d530-d5d0-4a19-95ae-da853f330b1e"
=======
      - Mon, 21 Oct 2019 12:43:02 GMT
      etag:
      - W/"c4f254c7-e94a-4094-8993-1e0e256852db"
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 43d1bd51-5397-4d1b-9216-9bf90259eeeb
=======
      - ebbe4f9a-0d2c-4b4a-b08a-2ad9f10d438f
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Disabled", "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 100}, "customRules": [{"name": "rule1", "priority":
      75, "ruleType": "MatchRule", "matchConditions": [{"matchVariables": [{"variableName":
      "RequestHeaders", "selector": "value"}], "operator": "Contains", "matchValues":
      ["foo", "boo"], "transforms": ["Lowercase"]}], "action": "Log"}], "managedRules":
      {"exclusions": [], "managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion":
<<<<<<< HEAD
      "3.0", "ruleGroupOverrides": []}]}}, "etag": "W/\\"82340b54-726e-4ebb-9984-955189469a35\\""}'''
=======
      "3.0", "ruleGroupOverrides": []}]}}, "etag": "W/\\"b2eac44c-3632-46f6-a72c-24816457b5b5\\""}'''
>>>>>>> bump to 2019-09-01 for network
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    ur[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Disabled", "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 100}, "customRules": [{"name": "rule1", "priority":
      75, "ruleType": "MatchRule", "matchConditions": [{"matchVariables": [{"variableName":
      "RequestHeaders", "selector": "value"}], "operator": "Contains", "negationConditon":
      false, "matchValues": ["foo", "boo"], "transforms": ["Lowercase"]}, {"matchVariables":
      [{"variableName": "RequestHeaders", "selector": "value"}], "operator": "Contains",
      "matchValues": ["remove", "this"], "transforms": ["Lowercase"]}], "action":
      "Log"}], "managedRules": {"exclusions": [], "managedRuleSets": [{"ruleSetType":
<<<<<<< HEAD
      "OWASP", "ruleSetVersion": "3.0", "ruleGroupOverrides": []}]}}, "etag": "W/\\"bc129b99-cc4f-4547-b216-e0eeb97ea086\\""}'''
=======[...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/publicIPAddresses/pip1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"41f88cb9-ab89-4d8a-9419-1a19df757d14\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"d47aae23-f141-40d2-a930-9cd28301d884\",\r\n    \"publicIPAddressVersion\":
=======
        \ \"etag\": \"W/\\\"0f2a9299-1f8e-4d16-b4a7-37c430c5af57\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"39fab586-78cc-4448-8c37-94aeab1ec26d\",\r\n    \"publicIPAddressVersion\":
>>>>>>> bump to 2019-09-01 for network
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/410fad9a-1451-4875-ae01-2b6bbafd2348?api-version=2019-08-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/807a4d6c-f6f8-49b2-8c94-aa16a9052a9f?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
      cache-control:
      - no-cache
      content-length:
      - '683'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:05:23 GMT
=======
      - Mon, 21 Oct 2019 12:43:20 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 7150ccfa-d36c-431e-988c-6c0816f6b342
      x-ms-ratelimit-remaining-subscription-writes:
      - '1180'
=======
      - cc4a9368-c79b-4ef3-8ed1-066d21d0b6a4
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/410fad9a-1451-4875-ae01-2b6bbafd2348?api-version=2019-08-01
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/807a4d6c-f6f8-49b2-8c94-aa16a9052a9f?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/publicIPAddresses/pip1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"9a4eedd2-ed56-4313-8443-0af1d3a8f0f1\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"d47aae23-f141-40d2-a930-9cd28301d884\",\r\n    \"ipAddress\":
        \"13.83.69.129\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
=======
        \ \"etag\": \"W/\\\"d38e31ce-9b91-42c1-9a64-8743d1d192fa\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"39fab586-78cc-4448-8c37-94aeab1ec26d\",\r\n    \"ipAddress\":
        \"13.86.250.11\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:05:29 GMT
=======
      - Mon, 21 Oct 2019 12:43:26 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy000001%27%20and%20name%20eq%20%27pip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/publicIPAddresses/pip1","name":"pip1","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"},"location":"westus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:05:30 GMT
=======
      - Mon, 21 Oct 2019 12:43:27 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(\''Microsoft.Network/applicationGateways\'',
      \''ag1\'')]"}, "resources": [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westus",
      "tags": {}, "apiVersion": "2019-09-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/publicIPAddresses/pip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(\''appGwID\''), \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"},
      "FrontendPort": {"Id": "[concat(variables(\''appGwID\''), \''/frontendPorts/appGatewayFrontendPort\'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(\''appGwID\''),
      \''/httpListeners/appGatewayHttpListener\'')]"}, "backendAddressPool": {"id":
      "[concat(variables(\''appGwID\''), \''/backendAddressPools/appGatewayBackendPool\'')]"},
      "backendHttpSettings": {"id": "[concat(variables(\''appGwID\''), \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"}}}],
      "firewallPolicy": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1"}},
      "zones": null}], "outputs": {"applicationGateway": {"type": "object", "value":
      "[reference(\''ag1\'')]"}}}, "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Resources/deployments/ag_deploy_1Gc5hYn5mfLKz3m2coD9QrtKtZRT8wEL","name":"ag_deploy_1Gc5hYn5mfLKz3m2coD9QrtKtZRT8wEL","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10784701448297271800","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-10-21T12:05:35.9187445Z","duration":"PT2.8007318S","correlationId":"3aa823a2-9fa4-40c3-999b-d64739c92bbf","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Resources/deployments/ag_deploy_1Gc5hYn5mfL[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586299473523596104?api-version=2019-07-01
=======
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586299450758189449?api-version=2019-05-10
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/applicationGateways/ag1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"004f5899-90ca-4d2a-b2fa-a1dbddb71cf4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"6a8a198b-31d2-4563-97d3-a5d91f404467\",\r\n    \"sku\":
=======
        \ \"etag\": \"W/\\\"f8eb37a0-fafa-47e9-ad59-8d5e3bef9957\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"fa4390b2-ae65-484d-98c4-2b078c5e772a\",\r\n    \"sku\":
>>>>>>> bump to 2019-09-01 for network
        {\r\n      \"name\": \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\",\r\n      \"capacity\":
        2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\",\r\n
<<<<<<< HEAD
        \       \"etag\": \"W/\\\"004f5899-90ca-4d2a-b2fa-a1dbddb71cf4\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"f8eb37a0-fafa-47e9-ad59-8d5e3bef9957\\\"\",\r\n
>>>>>>> bump to 2019-09-01 for network
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
        \     }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\":
<<<<<<< HEAD
        [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\":
        \"appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"004f5899-90ca-4d2a-b2fa-a1dbddb71cf4\\\"\",\r\n
=======
        [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n
        \   \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"f8eb37a0-fafa-47e9-ad59-8d5e3bef9957\\\"\",\r\n
>>>>>>> bump to 2019-09-01 for network
        \       \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/publicIPAddresses/pip1\"\r\n
        \         },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\r\n
        \           }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\":
[...]
