interactions:
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com","name":"zone4.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-69c0-e403c474d801","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-03.azure-dns.com.","ns2-03.azure-dns.net.","ns3-03.azure-dns.org.","ns4-03.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00000002-0000-0000-69c0-e403c474d801
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/SOA/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"2bd0fd28-26bd-469f-ac21-f7d8bef570b7","properties":{"fqdn":"zone4.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-03.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 2bd0fd28-26bd-469f-ac21-f7d8bef570b7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"TTL": 3600, "SOARecord": {"host": "ns1-03.azure-dns.com.",
      "email": "hostmaster.zone4.com.", "serialNumber": 2003080800, "refreshTime":
      43200, "retryTime": 900, "expireTime": 1814400, "minimumTTL": 10800}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/soa/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"29d995e2-8b3c-4afa-9c9a-133e7a8e5162","properties":{"fqdn":"zone4.com.","TTL":3600,"SOARecord":{"email":"hostmaster.zone4.com.","expireTime":1814400,"host":"ns1-03.azure-dns.com.","minimumTTL":10800,"refreshTime":43200,"retryTime":900,"serialNumber":2003080800},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 29d995e2-8b3c-4afa-9c9a-133e7a8e5162
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/NS/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"f98dfded-702e-4c61-acef-dfd4782fe3b1","properties":{"fqdn":"zone4.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-03.azure-dns.com."},{"nsdname":"ns2-03.azure-dns.net."},{"nsdname":"ns3-03.azure-dns.org."},{"nsdname":"ns4-03.azure-dns.info."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f98dfded-702e-4c61-acef-dfd4782fe3b1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"TTL": 300, "ARecords": [{"ipv4Address": "10.1.2.3"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/ttl-300?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/ttl-300","name":"ttl-300","type":"Microsoft.Network\/dnszones\/A","etag":"d8c4bf9f-3de2-4574-89b4-0880ab215ae4","properties":{"fqdn":"ttl-300.zone4.com.","TTL":300,"ARecords":[{"ipv4Address":"10.1.2.3"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - d8c4bf9f-3de2-4574-89b4-0880ab215ae4
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"TTL": 604800, "ARecords": [{"ipv4Address": "10.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/ttl-1w?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/ttl-1w","name":"ttl-1w","type":"Microsoft.Network\/dnszones\/A","etag":"64aae843-8d17-485c-9ec1-6b9126f45662","properties":{"fqdn":"ttl-1w.zone4.com.","TTL":604800,"ARecords":[{"ipv4Address":"10.3.4.5"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 64aae843-8d17-485c-9ec1-6b9126f45662
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 86400, "ARecords": [{"ipv4Address": "10.7.8.9"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/ttl-1d?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/ttl-1d","name":"ttl-1d","type":"Microsoft.Network\/dnszones\/A","etag":"1dc4d381-14aa-49c4-9d20-233ff932c686","properties":{"fqdn":"ttl-1d.zone4.com.","TTL":86400,"ARecords":[{"ipv4Address":"10.7.8.9"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1dc4d381-14aa-49c4-9d20-233ff932c686
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "10.4.5.6"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/ttl-1h?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/ttl-1h","name":"ttl-1h","type":"Microsoft.Network\/dnszones\/A","etag":"436063f1-10ac-4dbf-a5bf-7cbbedbc6300","properties":{"fqdn":"ttl-1h.zone4.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.4.5.6"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 436063f1-10ac-4dbf-a5bf-7cbbedbc6300
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 99, "ARecords": [{"ipv4Address": "10.5.6.7"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/ttl-99s?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/ttl-99s","name":"ttl-99s","type":"Microsoft.Network\/dnszones\/A","etag":"fbf64334-8fb3-470b-ab40-709cb43c92f3","properties":{"fqdn":"ttl-99s.zone4.com.","TTL":99,"ARecords":[{"ipv4Address":"10.5.6.7"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - fbf64334-8fb3-470b-ab40-709cb43c92f3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"TTL": 360, "ARecords": [{"ipv4Address": "10.8.9.0"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/ttl-6m?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/ttl-6m","name":"ttl-6m","type":"Microsoft.Network\/dnszones\/A","etag":"dd2b9ffc-1dac-47fb-aad1-1ec141174690","properties":{"fqdn":"ttl-6m.zone4.com.","TTL":360,"ARecords":[{"ipv4Address":"10.8.9.0"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - dd2b9ffc-1dac-47fb-aad1-1ec141174690
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11991'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 788645, "ARecords": [{"ipv4Address": "10.8.9.0"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/ttl-mix?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/ttl-mix","name":"ttl-mix","type":"Microsoft.Network\/dnszones\/A","etag":"f7e52563-6f4a-4d6c-a9a3-dda82887c791","properties":{"fqdn":"ttl-mix.zone4.com.","TTL":788645,"ARecords":[{"ipv4Address":"10.8.9.0"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f7e52563-6f4a-4d6c-a9a3-dda82887c791
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11990'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 604800, "ARecords": [{"ipv4Address": "10.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/xttl-1w?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/xttl-1w","name":"xttl-1w","type":"Microsoft.Network\/dnszones\/A","etag":"36e0df8b-9d4f-48c3-b79c-3ed140fdd62f","properties":{"fqdn":"xttl-1w.zone4.com.","TTL":604800,"ARecords":[{"ipv4Address":"10.3.4.5"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 36e0df8b-9d4f-48c3-b79c-3ed140fdd62f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11989'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 86400, "ARecords": [{"ipv4Address": "10.7.8.9"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/xttl-1d?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/xttl-1d","name":"xttl-1d","type":"Microsoft.Network\/dnszones\/A","etag":"3af7fa57-e031-4d18-b167-0b2e0b45b724","properties":{"fqdn":"xttl-1d.zone4.com.","TTL":86400,"ARecords":[{"ipv4Address":"10.7.8.9"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3af7fa57-e031-4d18-b167-0b2e0b45b724
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11988'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "10.4.5.6"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/xttl-1h?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/xttl-1h","name":"xttl-1h","type":"Microsoft.Network\/dnszones\/A","etag":"bb978ce7-2751-406e-a02b-7b6b7c0124d0","properties":{"fqdn":"xttl-1h.zone4.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.4.5.6"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - bb978ce7-2751-406e-a02b-7b6b7c0124d0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11987'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 99, "ARecords": [{"ipv4Address": "10.5.6.7"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/xttl-99s?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/xttl-99s","name":"xttl-99s","type":"Microsoft.Network\/dnszones\/A","etag":"efc35178-f562-45ee-b537-d9c1439cd237","properties":{"fqdn":"xttl-99s.zone4.com.","TTL":99,"ARecords":[{"ipv4Address":"10.5.6.7"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - efc35178-f562-45ee-b537-d9c1439cd237
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11986'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 100, "ARecords": [{"ipv4Address": "10.6.7.8"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/xttl-100?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/xttl-100","name":"xttl-100","type":"Microsoft.Network\/dnszones\/A","etag":"16be825d-148a-4d76-a531-59285a17c00a","properties":{"fqdn":"xttl-100.zone4.com.","TTL":100,"ARecords":[{"ipv4Address":"10.6.7.8"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 16be825d-148a-4d76-a531-59285a17c00a
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11985'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 360, "ARecords": [{"ipv4Address": "10.8.9.0"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/xttl-6m?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/xttl-6m","name":"xttl-6m","type":"Microsoft.Network\/dnszones\/A","etag":"59e1eb7f-2909-404b-b052-58f7770d64d7","properties":{"fqdn":"xttl-6m.zone4.com.","TTL":360,"ARecords":[{"ipv4Address":"10.8.9.0"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 59e1eb7f-2909-404b-b052-58f7770d64d7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11984'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 788645, "ARecords": [{"ipv4Address": "10.9.9.9"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/xttl-mix?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/xttl-mix","name":"xttl-mix","type":"Microsoft.Network\/dnszones\/A","etag":"de7db27e-1e87-4ef8-a6f8-ddbe8c4f2910","properties":{"fqdn":"xttl-mix.zone4.com.","TTL":788645,"ARecords":[{"ipv4Address":"10.9.9.9"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - de7db27e-1e87-4ef8-a6f8-ddbe8c4f2910
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11983'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 10, "ARecords": [{"ipv4Address": "11.1.2.3"}, {"ipv4Address":
      "11.2.3.3"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/a/c1?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/A\/c1","name":"c1","type":"Microsoft.Network\/dnszones\/A","etag":"e3f14771-f0ed-4b4f-b46b-2cfbae6720dc","properties":{"fqdn":"c1.zone4.com.","TTL":10,"ARecords":[{"ipv4Address":"11.1.2.3"},{"ipv4Address":"11.2.3.3"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e3f14771-f0ed-4b4f-b46b-2cfbae6720dc
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11982'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com/recordsets?api-version=2018-05-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone4_import000001\/providers\/Microsoft.Network\/dnszones\/zone4.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"623cbf52-1074-48ff-9247-693e98d50122","properties":{"fqdn":"zone4.com.","TTL":100,"NSRecords":[{"nsdname":"ns1-03.azure-dns.com."},{"nsdname":"ns2-03.azure-dns.net."},{"nsdname":"ns3-03.azure-dns.org."},{"nsdname":"ns4-03.azure-dns.info."}],"targetResource":{},"provisioningS[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsZones/zone4.com?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone637895806539009492565d4bbc?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsOperationResults/delzone637895806539009492565d4bbc?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone4_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone637895806539009492565d4bbc?api-version=2018-05-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
