interactions:
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dnssec000001\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"4d247f92-ee5b-4f21-b00c-ecf5281a3ba7","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-32.daily.azure-dns.com.","ns2-32.daily.azure-dns.net.","ns3-32.daily.azure-dns.org.","ns4-32.daily.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 4d247f92-ee5b-4f21-b00c-ecf5281a3ba7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dnssec000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/dnssecConfigs\/default","name":"default","type":"Microsoft.Network\/dnszones\/dnssecConfigs","etag":"1a1a3fde-110d-4e86-b621-5d461b0ba2d3","properties":{"provisioningState":"Creating","signingKeys":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1a1a3fde-110d-4e86-b621-5d461b0ba2d3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dnssec000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/dnssecConfigs\/default","name":"default","type":"Microsoft.Network\/dnszones\/dnssecConfigs","etag":"bc2a057d-1bc5-4ff0-b13b-2e560b8f61eb","properties":{"provisioningState":"Succeeded","signingKeys":[{"delegationSignerInfo":[],"flags":256,"keyTag":42890,"protocol":3,"publicKey":"L9sF\/aOpsfd39ZPIjxVGqUT2mfV4Z7PR27KFCXUzYak1+itHFY6bbQ5rBDrJ+il0tusfG4+rO+qOWGGLArdHQA==","securityAlgorithmType":13},{"delegationSignerInfo":[{"digestAlgorithmType":2,"digestValue":"mafGqqhvPPBFwaICyXLzawcfvnRN6hIfufqK78nc6sI=","record":"23491
        13 2 mafGqqhvPPBFwaICyXLzawcfvnRN6hIfufqK78nc6sI="}],"flags":257,"keyTag":23491,"protocol":3,"publicKey":"ZxBtroTWJwNN9yMAwFHOViUjFV9iZyOOkWsa3wDa0Fpe7PcTiLj5liFGn4dGyzjzMxt33oKjofZZ+d3NFKRkqg==","securityAlgorithmType":13}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - bc2a057d-1bc5-4ff0-b13b-2e560b8f61eb
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzNkODc4OWMwLTFkMDYtNDVmMS05ZGU5LWZjOWRlY2QzYWE1Nw==?api-version=2023-07-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzNkODc4OWMwLTFkMDYtNDVmMS05ZGU5LWZjOWRlY2QzYWE1Nw==?api-version=2023-07-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzNkODc4OWMwLTFkMDYtNDVmMS05ZGU5LWZjOWRlY2QzYWE1Nw==?api-version=2023-07-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzNkODc4OWMwLTFkMDYtNDVmMS05ZGU5LWZjOWRlY2QzYWE1Nw==?api-version=2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzNkODc4OWMwLTFkMDYtNDVmMS05ZGU5LWZjOWRlY2QzYWE1Nw==?api-version=2023-07-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzNkODc4OWMwLTFkMDYtNDVmMS05ZGU5LWZjOWRlY2QzYWE1Nw==?api-version=2023-07-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 200
      message: OK
version: 1
