interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_address_pool000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001","name":"cli_test_ag_address_pool000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T12:55:41Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001","name":"cli_test_ag_address_pool000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T12:37:55Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> bump to 2019-09-01 for network
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:55:48 GMT
=======
      - Mon, 21 Oct 2019 12:37:59 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_address_pool000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:55:50 GMT
=======
      - Mon, 21 Oct 2019 12:37:59 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(\''Microsoft.Network/applicationGateways\'',
      \''ag1\'')]"}, "resources": [{"name": "ag1Vnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westus",
      "tags": {}, "apiVersion": "2019-09-01", "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"privateIPAllocationMethod": "Dynamic", "privateIPAddress": "",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(\''appGwID\''), \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"},
      "FrontendPort": {"Id": "[concat(variables(\''appGwID\''), \''/frontendPorts/appGatewayFrontendPort\'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "Standard_Medium",
      "tier": "Standard", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1",
      "properties": {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(\''appGwID\''),
      \''/httpListeners/appGatewayHttpListener\'')]"}, "backendAddressPool": {"id":
      "[concat(variables(\''appGwID\''), \''/backendAddressPools/appGatewayBackendPool\'')]"},
      "backendHttpSettings": {"id": "[concat(variables(\''appGwID\''), \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"}}}]},
      "zones": null}], "outputs": {"applicationGateway": {"type": "object", "value":
      "[reference(\''ag1\'')]"}}}, "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_address_pool000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Resources/deployments/ag_deploy_GgMIOFMjPz7TZoODxem8VqS2lXzhULd4","name":"ag_deploy_GgMIOFMjPz7TZoODxem8VqS2lXzhULd4","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14750456670628308566","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-10-21T12:55:56.078149Z","duration":"PT2.8448333S","correlationId":"51b36629-686d-411d-8f25-a4a97f3472ce","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_address_pool000001/providers/Microsoft.Resources/deployments/ag_deploy_GgMIOFMjPz7TZoODxem8VqS2lXzhULd4/operationStatuses/08586299443322443234?api-version=2019-07-01
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Resources/deployments/ag_deploy_Zdq9efLPsrbeo1AoXkXtnLnD7fc2eRdR","name":"ag_deploy_Z[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag1''
        under resource group ''cli_test_ag_address_pool000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:55:58 GMT
=======
      - Mon, 21 Oct 2019 12:38:06 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\":
        \"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1
        not found.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1\",\r\n
        \ \"etag\": \"W/\\\"98974dfb-c003-4651-9222-6a9427d3d45c\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"3dc73e93-2a0f-49a7-be0f-b87f37397917\",\r\n    \"sku\":
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1\",\r\n
        \ \"etag\": \"W/\\\"40e4a561-8a97-4a6f-978f-4ad485696a6f\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"6b8d14a6-5b54-48c2-8046-ea4f03429623\",\r\n    \"sku\":
>>>>>>> bump to 2019-09-01 for network
        {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n
        \     \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Stopped\",\r\n
        \   \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\",\r\n
<<<<<<< HEAD
        \       \"etag\": \"W/\\\"98974dfb-c003-4651-9222-6a9427d3d45c\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"40e4a561-8a97-4a6f-978f-4ad485696a6f\\\"\",\r\n
>>>>>>> bump to 2019-09-01 for network
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
        \     }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\":
        [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\":
        \"appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_address_pool000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
<<<<<<< HEAD
        \       \"etag\": \"W/\\\"98974dfb-c003-4651-9222-6a9427d3d45c\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"40e4a561-8a97-4a6f-97[...]
[...]
