interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/dnsZones?api-version=2023-07-01-preview
  response:
    body:
      string: '{"nextLink":"https:\/\/management.azure.com:443\/subscriptions\/00000000-0000-0000-0000-000000000000\/providers\/Microsoft.Network\/dnszones?api-version=2023-07-01-preview&$skipToken=YnVja2V0cGludGVzdC96b25lcy96NzEudHN0","value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/accessibilityteamtesting\/providers\/Microsoft.Network\/dnszones\/abc.f","name":"abc.f","type":"Microsoft.Network\/dnszones","etag":"9f5b6ac8-a115-4f29-afc9-39db3ffa7016","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.ppe.azure-dns.com.","ns2-38.ppe.azure-dns.net.","ns3-38.ppe.azure-dns.org.","ns4-38.ppe.azure-dns.info."],"numberOfRecordSets":6,"zoneType":"Public"}},{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/accessibilityteamtesting\/providers\/Microsoft.Network\/dnszones\/demo.com2","name":"demo.com2","type":"Microsoft.Network\/dnszones","etag":"5a54094c-6ad8-4ad3-b93b-900fc05aaba4","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-36.ppe.azure-dns.com.","ns2-36.ppe.azure-dns.net.","ns3-36.ppe.azure-dns.org.","ns4-36.ppe.azure-dns[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/dnszones?api-version=2023-07-01-preview&$skipToken=YnVja2V0cGludGVzdC96b25lcy96NzEudHN0
  response:
    body:
      string: '{"nextLink":"https:\/\/management.azure.com:443\/subscriptions\/00000000-0000-0000-0000-000000000000\/providers\/Microsoft.Network\/dnszones?api-version=2023-07-01-preview&$skipToken=Y2xpX2Ruc196b25lOF9p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/dnszones?api-version=2023-07-01-preview&$skipToken=Y2xpX2Ruc196b25lOF9pbXBvcnRic2ttYW91dGZrenpzMzZsY3RvbXoyN3cyaWVranZpZG1ucmZjeXZtM2dpY21jbmtqYTNiNGY3L3pvbmVzL3pvbmU4LmNvbQ%3D%3D
  response:
    body:
      string: '{"nextLink":"https:\/\/management.azure.com:443\/subscriptions\/00000000-0000-0000-0000-000000000000\/providers[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/dnszones?api-version=2023-07-01-preview&$skipToken=bGFhdGVzdC96b25lcy90eHQ0MDk2LmNvbQ%3D%3D
  response:
    body:
      string: '{"nextLink":"https:\/\/management.azure.com:443\/subscriptions\/00000000-0000-0000-0000-000000000000\/providers\/Microsoft.Network\/dnszones?api-version=2023-07-01-preview&$skipToken=c2VydmljZS1yZWdp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/dnszones?api-version=2023-07-01-preview&$skipToken=c2VydmljZS1yZWdpb24tdGVzdC1kYWxlci96b25lcy9wcGVidWdiYXNoLWRhbGVyLmNvbQ%3D%3D
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/shreyagoel\/providers\/Microsoft.Network\/dnszones\/rhc.test","name":"rhc.t[...]
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"72c4f890-493f-491c-9a58-41b301e1a5cd","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.ppe.azure-dns.com.","ns2-38.ppe.azure-dns.net.","ns3-38.ppe.azure-dns.org.","ns4-38.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 72c4f890-493f-491c-9a58-41b301e1a5cd
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones?api-version=2023-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"72c4f890-493f-491c-9a58-41b301e1a5cd","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.ppe.azure-dns.com.","ns2-38.ppe.azure-dns.net.","ns3-38.ppe.azure-dns.org.","ns4-38.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59999'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/A/myrsa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsa'' does not
        exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"ARecords": [{"ipv4Address": "10.0.0.10"}], "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/A/myrsa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/A\/myrsa","name":"myrsa","type":"Microsoft.Network\/dnszones\/A","etag":"d8508823-f573-49d7-92ab-be66b4bdd5bb","properties":{"fqdn":"myrsa.myzonex.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - d8508823-f573-49d7-92ab-be66b4bdd5bb
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/AAAA/myrsaaaa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsaaaa'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"AAAARecords": [{"ipv6Address": "2001:db8:0:1:1:1:1:1"}],
      "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/AAAA/myrsaaaa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/AAAA\/myrsaaaa","name":"myrsaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"99802f33-ae47-4b37-8b9e-a25d82507530","properties":{"fqdn":"myrsaaaa.myzonex.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:db8:0:1:1:1:1:1"}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 99802f33-ae47-4b37-8b9e-a25d82507530
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/CAA/myrscaa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrscaa'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"TTL": 3600, "caaRecords": [{"flags": 0, "tag": "foo",
      "value": "my value"}]}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/CAA/myrscaa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/CAA\/myrscaa","name":"myrscaa","type":"Microsoft.Network\/dnszones\/CAA","etag":"9872f41e-fd80-4561-beba-1227387a33e7","properties":{"fqdn":"myrscaa.myzonex.com.","TTL":3600,"caaRecords":[{"flags":0,"tag":"foo","value":"my
        value"}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 9872f41e-fd80-4561-beba-1227387a33e7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/CNAME/myrscname?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrscname'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"CNAMERecord": {"cname": "mycname"}, "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/CNAME/myrscname?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/CNAME\/myrscname","name":"myrscname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"c4f9863e-9238-47e8-80f2-be7c175f5c34","properties":{"fqdn":"myrscname.myzonex.com.","TTL":3600,"CNAMERecord":{"cname":"mycname"},"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c4f9863e-9238-47e8-80f2-be7c175f5c34
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/DS/myrsds?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsds'' does not
        exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"DSRecords": [{"algorithm": 5, "digest": {"algorithmType":
      2, "value": "49FD46E6C4B45C55D4AC"}, "keyTag": 15288}], "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/DS/myrsds?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/DS\/myrsds","name":"myrsds","type":"Microsoft.Network\/dnszones\/DS","etag":"fa27d296-cd96-4e5c-a21b-fe97d135fcce","properties":{"fqdn":"myrsds.myzonex.com.","TTL":3600,"DSRecords":[{"algorithm":5,"digest":{"algorithmType":2,"value":"49FD46E6C4B45C55D4AC"},"keyTag":15288}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - fa27d296-cd96-4e5c-a21b-fe97d135fcce
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/MX/myrsmx?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsmx'' does not
        exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"MXRecords": [{"exchange": "12", "preference": 13}], "TTL":
      3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/MX/myrsmx?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/MX\/myrsmx","name":"myrsmx","type":"Microsoft.Network\/dnszones\/MX","etag":"fec9461d-5046-41a9-8a95-8aabd45c6e00","properties":{"fqdn":"myrsmx.myzonex.com.","TTL":3600,"MXRecords":[{"exchange":"12","preference":13}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - fec9461d-5046-41a9-8a95-8aabd45c6e00
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/NAPTR/myrsnaptr?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsnaptr'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"NAPTRRecords": [{"flags": "U", "order": 10, "preference":
      20, "regexp": "!^.*$!sip:customer-service@example.com!", "replacement": ".",
      "services": "E2U+sip"}], "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/NAPTR/myrsnaptr?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/NAPTR\/myrsnaptr","name":"myrsnaptr","type":"Microsoft.Network\/dnszones\/NAPTR","etag":"64918580-c54a-437c-b5b3-acf35a38120d","properties":{"fqdn":"myrsnaptr.myzonex.com.","TTL":3600,"NAPTRRecords":[{"flags":"U","order":10,"preference":20,"regexp":"!^.*$!sip:customer-service@example.com!","replacement":".","services":"E2U+sip"}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 64918580-c54a-437c-b5b3-acf35a38120d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/NS/myrsns?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsns'' does not
        exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"NSRecords": [{"nsdname": "foobar.com"}], "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/NS/myrsns?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/NS\/myrsns","name":"myrsns","type":"Microsoft.Network\/dnszones\/NS","etag":"e34d248c-94a2-4c7c-b430-5da487923eb3","properties":{"fqdn":"myrsns.myzonex.com.","TTL":3600,"NSRecords":[{"nsdname":"foobar.com"}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e34d248c-94a2-4c7c-b430-5da487923eb3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/PTR/myrsptr?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsptr'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"PTRRecords": [{"ptrdname": "foobar.com"}], "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/PTR/myrsptr?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/PTR\/myrsptr","name":"myrsptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"f947fb97-7ad3-4029-944c-1e2a303a5641","properties":{"fqdn":"myrsptr.myzonex.com.","TTL":3600,"PTRRecords":[{"ptrdname":"foobar.com"}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f947fb97-7ad3-4029-944c-1e2a303a5641
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/SRV/myrssrv?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrssrv'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"SRVRecords": [{"port": 1234, "priority": 1, "target":
      "target.com", "weight": 50}], "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/SRV/myrssrv?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/SRV\/myrssrv","name":"myrssrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"838df395-ea27-4416-a428-eb267cf581b8","properties":{"fqdn":"myrssrv.myzonex.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.com","weight":50}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 838df395-ea27-4416-a428-eb267cf581b8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/TLSA/myrstlsa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrstlsa'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"TLSARecords": [{"certAssociationData": "0C72AC70B745AC19998811B131D662C9AC69DBDBE7CB23E5B514B56664C5D3D6",
      "matchingType": 1, "selector": 1, "usage": 3}], "TTL": 3600}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/TLSA/myrstlsa?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/TLSA\/myrstlsa","name":"myrstlsa","type":"Microsoft.Network\/dnszones\/TLSA","etag":"419a6304-331f-4d2e-b74b-923d1903cb9e","properties":{"fqdn":"myrstlsa.myzonex.com.","TTL":3600,"TLSARecords":[{"certAssociationData":"0C72AC70B745AC19998811B131D662C9AC69DBDBE7CB23E5B514B56664C5D3D6","matchingType":1,"selector":1,"usage":3}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 419a6304-331f-4d2e-b74b-923d1903cb9e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/TXT/myrstxt?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrstxt'' does
        not exist in resource group ''cli_test_dns_if_none_match000001'' of subscription
        ''a984ce58-225e-44d2-bc79-20a834ce85ae''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["some_text"]}]}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_if_none_match000001/providers/Microsoft.Network/dnsZones/myzonex.com/TXT/myrstxt?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_if_none_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com\/TXT\/myrstxt","name":"myrstxt","type":"Microsoft.Network\/dnszones\/TXT","etag":"004741f0-51bb-4c27-8357-36d5537b5901","properties":{"fqdn":"myrstxt.myzonex.com.","TTL":3600,"TXTRecords":[{"value":["some_text"]}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 004741f0-51bb-4c27-8357-36d5537b5901
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
[...]
