interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"powerbi_resource_name\": {\"value\":
      \"myPowerBIResource\"}, \"tenant_object_id\": {\"value\": \"3157e704-f860-49ce-94e0-d03fd4a1fef5\"}},
      \"mode\": \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"powerbi_resource_name\":
      {\r\n      \"defaultValue\": \"myPowerBIResource\",\r\n       \"type\": \"String\"\r\n
      \   },\r\n    \"tenant_object_id\": {\r\n      \"defaultValue\": null,\r\n       \"type\":
      \"String\"\r\n    }\r\n  },\r\n  \"resources\": [\r\n      {\r\n          \"type\":\"Microsoft.PowerBI/privateLinkServicesForPowerBI\",\r\n
      \         \"apiVersion\": \"2020-06-01\",\r\n          \"name\" : \"[parameters('powerbi_resource_name')]\",\r\n
      \         \"location\": \"global\",\r\n          \"properties\" : \r\n          {\r\n
      \              \"tenantId\": \"[parameters('tenant_object_id')]\"\r\n          }\r\n
      \     }\r\n  ]\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Resources/deployments/powerbi_privatelinkservicesforpowerbi_template","name":"powerbi_privatelinkservicesforpowerbi_template","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8741743029640506326","parameters":{"powerbi_resource_name":{"type":"String","value":"myPowerBIResource"},"tenant_object_id":{"type":"String","value":"3157e704-f860-49ce-94e0-d03fd4a1fef5"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-08-12T05:45:53.9171628Z","duration":"PT0S","correlationId":"3b3655ac-fa0b-40e1-bad2-1965130ebaea","providers":[{"namespace":"Microsoft.PowerBI","resourceTypes":[{"resourceType":"privateLinkServicesForPowerBI","locations":["global"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"powerbi_resource_name\": {\"value\":
      \"myPowerBIResource\"}, \"tenant_object_id\": {\"value\": \"3157e704-f860-49ce-94e0-d03fd4a1fef5\"}},
      \"mode\": \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"powerbi_resource_name\":
      {\r\n      \"defaultValue\": \"myPowerBIR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585728597307260486?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Resources/deployments/powerbi_privatelinkservicesforpowerbi_template","name":"powerbi_privatelinkservicesforpowerbi_template","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8741743029640506326","parameters":{"powerbi_resource_name":{"type":"String","value":"myPowerBIResource"},"tenant_object_id":{"type":"String","value":"3157e704-f860-49ce-94e0-d03fd4a1fef5"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-08-12T05:46:02.0293478Z","duration":"PT7.2777818S","correlationId":"aff6ea75-b709-433c-8d9c-361b213c62ae","providers":[{"namespace":"Microsoft.PowerBI","resourceTypes":[{"resourceType":"privateLinkServicesForPowerBI","locations":["global"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.5.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000003",
      "properties": {"addressPrefix": "10.5.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002\",\r\n
        \ \"etag\": \"W/\\\"26f8a329-8bfa-4cbe-953a-5b5949f46964\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"f904e18f-3b99-43e4-ad9e-d45eedc852bc\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.5.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000003\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003\",\r\n
        \       \"etag\": \"W/\\\"26f8a329-8bfa-4cbe-953a-5b5949f46964\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.5.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/dce46a1d-fd0e-4007-bdef-672a2f0cd368?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/dce46a1d-fd0e-4007-bdef-672a2f0cd368?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003\",\r\n
        \ \"etag\": \"W/\\\"c2651595-d049-4680-8332-478c2b4e587e\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.5.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c2651595-d049-4680-8332-478c2b4e587e"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource/privateLinkResources?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"subscriptions/0539ff94-eadb-4bfa-9910-47ea84800608/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource/privateLinkResources/tenant","name":"tenant","type":"Microsoft.PowerBI/privateLinkServicesForPowerBI/privateLinkResources","properties":{"groupId":"tenant","requiredMembers":["tenant","tenant-pqo","tenant-wfe","capacity-6db7230e39bb484aaa9d67516f40b257","capacity-1219e7be445e4cdc982604f89fef44fb","capacity-fc914290676b408d893f3a865f5d9e9c","capacity-52382dd302d84e33a3763261b3fe55ef","capacity-c5b34c59fb9948c4898cf9d689c6f333","capacity-35f2599d480d4481af75ca233a58426c"],"requiredZoneNames":["privatelink.analysis.windows.net","privatelink.pbidedicated.windows.net","privatelink.tip2.powerquery.microsoft.com"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      home-cluster-uri:
      - https://wabi-daily-us-east2-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      requestid:
      - b34af16d-2ecd-430b-b958-faafc7ef439b
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000005", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource",
      "groupIds": ["tenant"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000004?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoin[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource?api-version=2020-06-01
  response:
    body:
      string: '{"name":"myPowerBIResource","location":"global","properties":{"tenantId":"3157e704-f860-49ce-94e0-d03fd4a1fef5","privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource/privateEndpointConnections/cli-pe-000004.82e4f7e4-fdda-4ac5-b587-c4a008743417","name":"cli-pe-000004.82e4f7e4-fdda-4ac5-b587-c4a008743417","type":"Microsoft.PowerBI/privateLinkServicesForPowerBI/privateEndpointConnections","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000004"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Approved","actionsRequired":"None"}}}]},"tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      home-cluster-uri:
      - https://wabi-daily-us-east2-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      requestid:
      - 2f67a43a-8b71-40ec-94da-ac3561c037b4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource/privateEndpointConnections/cli-pe-000004.82e4f7e4-fdda-4ac5-b587-c4a008743417?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource/privateEndpointConnections/cli-pe-000004.82e4f7e4-fdda-4ac5-b587-c4a008743417","name":"cli-pe-000004.82e4f7e4-fdda-4ac5-b587-c4a008743417","type":"Microsoft.PowerBI/privateLinkServicesForPowerBI/privateEndpointConnections","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000004"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Approved","actionsRequired":"None"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      home-cluster-uri:
      - https://wabi-daily-us-east2-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      requestid:
      - 06cea8d8-52f9-4901-928e-82555277eb39
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource/privateEndpointConnections/cli-pe-000004.82e4f7e4-fdda-4ac5-b587-c4a008743417?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_powerbi000001/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/myPowerBIResource/operationResults/40f12aac-47a9-49f0-b0a8-c9367edca7b0?api-version=2020-06-01
      content-type:
      - application/octet-stream
      home-cluster-uri:
      - https://wabi-daily-us-east2-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      requestid:
      - 790608cc-f8b9-4fd1-af00-939804ae97bf
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
