interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_tunnel_interface000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001","name":"test_network_lb_tunnel_interface000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-12T16:50:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27test_network_lb_tunnel_interface000001%27%20and%20name%20eq%20%27vnet%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27test_network_lb_tunnel_interface000001%27+and+name+eq+%27vnet%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMTYwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWQlpWRWhQVGpveVJGTkVTem95UkZSRlUxUXRUVWxEVWs5VFQwWlVPakpGVTBsSFRrRk1VbE5GVWxaSlEwVTZNa1pYUlVKUVZVSlRWVUk2TWtaWFJVSlFWVUpUVlVJNk1rUlpXVU10UlVGVFZGVlQifQ%3d%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2021-04-01&%24filter=resourceGroup+eq+%27test_network_lb_tunnel_interface000001%27+and+name+eq+%27vnet%27+and+resourceType+eq+%27Microsoft.Network%2FvirtualNetworks%27&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMTYwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWQlpWRWhQVGpveVJGTkVTem95UkZSRlUxUXRUVWxEVWs5VFQwWlVPakpGVTBsSFRrRk1VbE5GVWxaSlEwVTZNa1pYUlVKUVZVSlRWVUk2TWtaWFJVSlFWVUpUVlVJNk1rUlpXVU10UlVGVFZGVlQifQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vnet", "type": "Microsoft.Network/virtualNetworks", "location": "eastus",
      "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name": "subnet", "properties":
      {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "lb", "location": "eastus", "tags": {}, "apiVersion": "2021-08-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vnet"], "properties": {"backendAddressPools":
      [{"name": "lbbepool", "properties": {"tunnelInterfaces": [{"protocol": "VXLAN",
      "type": "Internal", "identifier": 900}]}}], "frontendIPConfigurations": [{"name":
      "LoadBalancerFrontEnd", "properties": {"privateIPAllocationMethod": "Dynamic",
      "privateIPAddress": null, "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Gateway"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''lb'')]"}}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Resources/deployments/lb_deploy_G3q9mzsoTWHO6rpeu6NaqXPNCmtnlvHw","name":"lb_deploy_G3q9mzsoTWHO6rpeu6NaqXPNCmtnlvHw","type":"Microsoft.Resources/deployments","properties":{"templateHash":"13385420540013542353","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-05-12T16:50:31.8133869Z","duration":"PT0.0008052S","correlationId":"8c17158b-145e-4d5a-ba41-6d69b896d554","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus"]},{"resourceType":"loadBalancers","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/virtualNetworks/vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Resources/deployments/lb_deploy_G3q9mzsoTWHO6rpeu6NaqXPNCmtnlvHw/operationStatuses/08585492326550519989?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585492326550519989?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"lb\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb\",\r\n
        \ \"etag\": \"W/\\\"fc0eb2c8-2723-43f5-847c-698bf6b3dbc4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"67348278-29e1-4e11-9136-7b89f09ea347\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"fc0eb2c8-2723-43f5-847c-698bf6b3dbc4\\\"\",\r\n
        \       \"type\": \"Microsoft[...]
- request:
    body: '{"name": "backend-address-pool-name", "properties": {"tunnelInterfaces":
      [{"identifier": 900, "protocol": "VXLAN", "type": "Internal"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend-address-pool-name?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"backend-address-pool-name\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend-address-pool-name\",\r\n
        \ \"etag\": \"W/\\\"481cd9b4-28b1-4032-8037-4da3b60cfb13\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"loadBalancerBackendAddresses\":
        [],\r\n    \"tunnelInterfaces\": [\r\n      {\r\n        \"port\": 0,\r\n
        \       \"identifier\": 900,\r\n        \"protocol\": \"VXLAN\",\r\n        \"type\":
        \"Internal\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a87deb1d-23e1-47f7-9ca8-f1728c0f5216?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a87deb1d-23e1-47f7-9ca8-f1728c0f5216?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend-address-pool-name?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"backend-address-pool-name\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_tunnel_interface000001/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend-address-pool-name\",\r\n
        \ \"etag\": \"W/\\\"8b869b09-67bf-466f-bd70-6eddcfcb6e03\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"loadBalancerBackendAddresses\":
        [],\r\n    \"tunnelInterfaces\": [\r\n      {\r\n        \"port\": 10000,\r\n
        \       \"identifier\": 960,\r\n        \"protocol\": \"VXLAN\",\r\n        \"type\":
        \"Internal\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b869b09-67bf-466f-bd70-6eddcfcb6e03"
    status:
      code: 200
      message: OK
version: 1
