interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/metadata/endpoints?api-version=2019-05-01
  response:
    body:
      string: '[{"portal":"https://portal.azure.com","authentication":{"loginEndpoint":"https://login.microsoftonline.com/","audiences":["https://management.core.windows.net/","https://management.azure.com/"],"tenant":"common","identityProvider":"AAD"},"media":"https://rest.media.azure.net","graphAudience":"https://graph.windows.net/","graph":"https://graph.windows.net/","name":"AzureCloud","suffixes":{"azureDataLakeStoreFileSystem":"azuredatalakestore.net","acrLoginServer":"azurecr.io","sqlServerHostname":"database.windows.net","azureDataLakeAnalyticsCatalogAndJob":"azuredatalakeanalytics.net","keyVaultDns":"vault.azure.net","storage":"core.windows.net","azureFrontDoorEndpointSuffix":"azurefd.net"},"batch":"https://batch.core.windows.net/","resourceManager":"https://management.azure.com/","vmImageAliasDoc":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json","activeDirectoryDataLake":"https://datalake.azure.net/","sqlManagement":"https://management.core.windows.net:8443/","gallery":"https://gallery.azure.com/"},{"portal":"https://portal.azure.cn","authentication":{"loginEndpoint":"https://login.chinacloudapi.cn","audiences":["https://management.core.chinacloudapi.cn","https://management.chinacloudapi.cn"],"tenant":"common","identityProvider":"AAD"},"media":"https://rest.media.chinacloudapi.cn","graphAudience":"https://graph.chinacloudapi.cn","graph":"https://graph.chinacloudapi.cn","name":"AzureChinaCloud","suffixes":{"acrLoginServer":"azurecr.cn","sqlServerHostname":"data[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001","name":"cli_test_aml_plr000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-09-30T07:51:30Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-client-amlsdk:
      - 1.34.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002?api-version=2020-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.MachineLearningServices/workspaces/testaml000002''
        under resource group ''cli_test_aml_plr000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.KeyVault/vaults", "name": "testamllkeyvault3647ed34", "apiVersion":
      "2015-06-01", "location": "westus", "tags": {}, "dependsOn": [], "properties":
      {"enabledForDeployment": "true", "enabledForTemplateDeployment": "true", "enabledForVolumeEncryption":
      "true", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "accessPolicies":
      [], "sku": {"name": "Standard", "family": "A"}}}, {"type": "Microsoft.Storage/storageAccounts",
      "name": "testamllstorage1e523cdd3", "apiVersion": "2018-07-01", "location":
      "westus", "sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "tags": {},
      "dependsOn": [], "properties": {"encryption": {"services": {"blob": {"enabled":
      "true"}, "file": {"enabled": "true"}}, "keySource": "Microsoft.Storage"}, "supportsHttpsTrafficOnly":
      true}}, {"type": "microsoft.insights/components", "name": "testamllinsightse32bd19e",
      "kind": "web", "apiVersion": "2015-05-01", "location": "westus", "tags": {},
      "properties": {"Application_Type": "web"}}, {"type": "Microsoft.MachineLearningServices/workspaces",
      "name": "testaml000002", "apiVersion": "2021-04-01", "identity": {"type": "SystemAssigned",
      "userAssignedIdentities": null}, "location": "westus", "resources": [], "dependsOn":
      ["[resourceId(''Microsoft.KeyVault/vaults'', ''testamllkeyvault3647ed34'')]",
      "[resourceId(''Microsoft.Storage/storageAccounts'', ''testamllstorage1e523cdd3'')]",
      "[resourceId(''microsoft.insights/components'', ''testamllinsightse32bd19e'')]"],
      "sku": {"tier": "basic", "name": "basic"}, "tags": {}, "properties": {"containerRegistry":
      null, "adbWorkspace": null, "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.KeyVault/vaults/testamllkeyvault3647ed34",
      "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/microsoft.insights/components/testamllinsightse32bd19e",
      "friendlyName": "testaml000002", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.Storage/storageAccounts/testamllstorage1e523cdd3",
      "primaryUserAssignedIdentity": null, "encryption": {"status": "Disabled", "identity":
      {"userAssignedIdentity": null}, "keyVaultProperties": {"keyVaultArmId": null,
      "keyIdentifier": null, "identityClientId": ""}}, "hbiWorkspace": false, "systemDatastoresAuthMode":
      "accessKey"}}]}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-caller-name:
      - _arm_deploy_template
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_20265","name":"Microsoft.MachineLearningServices_20265","type":"Microsoft.Resources/deployments","properties":{"templateHash":"18126622097913480522","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-09-30T07:51:38.0740594Z","duration":"PT0.7541167S","correlationId":"b7a68ce3-986b-4314-967a-d81f064da7b8","providers":[{"namespace":"Microsoft.KeyVault","resourceTypes":[{"resourceType":"vaults","locations":["westus"]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"microsoft.insights","resourceTypes":[{"resourceType":"components","locations":["westus"]}]},{"namespace":"Microsoft.MachineLearningServices","resourceTypes":[{"resourceType":"workspaces","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.KeyVault/vaults/testamllkeyvault3647ed34","resourceType":"Microsoft.KeyVault/vaults","resourceName":"testamllkeyvault3647ed34"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.Storage/storageAccounts/testamllstorage1e523cdd3","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"testamllstorage1e523cdd3"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/microsoft.insights/components/testamllinsightse32bd19e","resourceType":"microsoft.insights/components","resourceName":"testamllinsightse32bd19e"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002","resourceType":"Microsoft.MachineLearningServices/workspaces","resourceName":"testaml000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_20265/operationStatuses/08585686185881576882?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-caller-name:
      - _check_deployment_status
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/deployments/mock-deployment/operations?api-version=2019-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-caller-name:
      - _check_deployment_status
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/deployments/mock-deployment/operations?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_20265/operations/22A470E1963243BF","operationId":"22A470E1963243BF","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2021-09-30T07:51:43.6379346Z","duration":"PT4.2288862S","trackingId":"f1034e28-36ae-4501-916a-529e525b3424","serviceRequestId":"4304d6a4-5a9f-44f9-80d3-6213e4cf49f6","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/microsoft.insights/components/testamllinsightse32bd19e","resourceType":"microsoft.insights/components","resourceName":"testamllinsightse32bd19e"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_20265/operations/554C4FEE205E383C","operationId":"554C4FEE205E383C","pro[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585686185881576882?api-version=2019-10-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-client-amlsdk:
      - 1.34.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002?api-version=2020-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\n
        \ \"name\": \"testaml000002\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces\",\n
        \ \"location\": \"westus\",\n  \"tags\": {},\n  \"etag\": null,\n  \"properties\":
        {\n    \"friendlyName\": \"testaml000002\",\n    \"description\": \"\",\n
        \   \"storageAccount\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/providers/microsoft.storage/storageaccounts/testamllstorage1e523cdd3\",\n
        \   \"keyVault\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/providers/microsoft.keyvault/vaults/testamllkeyvault3647ed34\",\n
        \   \"applicationInsights\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aml_plr000001/providers/microsoft.insights/components/testamllinsightse32bd19e\",\n
        \   \"hbiWorkspace\": false,\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\n
        \   \"imageBuildCompute\": \"\",\n    \"provisioningState\": \"Succeeded\",\n
        \   \"containerRegistry\": null,\n    \"creationTime\": \"2021-09-30T07:52:01.9554263+00:00\",\n
        \   \"notebookInfo\": {\n      \"resourceId\": \"2245de774eb3406788ba4ad1586b92dc\",\n
        \     \"fqdn\": \"ml-testamll3dy2oeff-westus-dfa19a30-e70e-4870-9ab7-d667cd02c540.westus.notebooks.azure.net\",\n
        \     \"isPrivateLinkEnabled\": false,\n      \"notebookPreparationError\":
        null\n    },\n    \"storageHnsEnabled\": false,\n    \"workspaceId\": \"dfa19a30-e70e-4870-9ab7-d667cd02c540\",\n
        \   \"linkedModelInventoryArmId\": null,\n    \"privateLinkCount\": 0,\n    \"allowPublicAccessWhenBehindVnet\":
        false,\n    \"publicNetworkAccess\": \"Disabled\",\n    \"discoveryUrl\":
        \"https://westus.api.azureml.ms/discovery\",\n    \"mlFlowTrackingUri\": \"azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\n
        \   \"sdkTelemetryAppInsightsKey\": \"23040a33-1c3e-4782-a462-da85bf9238bb\"\n
        \ },\n  \"identity\": {\n    \"type\": \"SystemAssigned\",\n    \"principalId\":
        \"a286d874-14c2-4843-bb8f-9843eb37930d\",\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \ },\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Basic\"\n  },\n
        \ \"systemData\": {\n    \"createdAt\": \"2021-09-30T07:52:00.8862177Z\",\n
        \   \"createdBy\": \"jiewe@microsoft.com\",\n    \"createdByType\": \"User\",\n
        \   \"lastModifiedAt\": \"2021-09-30T07:52:00.8862177Z\",\n    \"lastModifiedBy\":
        \"jiewe@microsoft.com\",\n    \"lastModifiedByType\": \"User\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.033'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateLinkResources?api-version=2021-01-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aml_plr000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateLinkResources/amlworkspace\",\n
        \     \"name\": \"amlworkspace\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/privateLinkResource\",\n
        \     \"properties\": {\n        \"groupId\": \"amlworkspace\",\n        \"requiredMembers\":
        [\n          \"default\",\n          \"notebook\"\n        ],\n        \"requiredZoneNames\":
        [\n          \"privatelink.api.azureml.ms\",\n          \"privatelink.notebooks.azure.net\"\n
        \       ],\n        \"shareablePrivateLinkResourceTypes\": [\n          {\n
        \           \"name\": \"Sql\",\n            \"properties\": {\n              \"type\":
        \"Microsoft.DocumentDb/databaseAcccounts\",\n              \"groupId\": \"Microsoft.DocumentDb/databaseAcccounts\",\n
        \             \"description\": \"Share Private Link with Azure ML provisioned
        CosmosDb for CMK workspace\"\n            }\n          }\n        ]\n      }\n
        \   }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.023'
    status:
      code: 200
      message: OK
version: 1
