interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001","name":"cli_test_ag_identity000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-14T05:40:39Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1","name":"id1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"1e2d8bb4-3ab5-4691-90ac-ab2f4603a76f","clientId":"20aab350-95ae-4cab-90b7-66aaf7cf7ea3","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1/credentials?tid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&oid=1e2d8bb4-3ab5-4691-90ac-ab2f4603a76f&aid=20aab350-95ae-4cab-90b7-66aaf7cf7ea3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"3bd37d68-b234-4fcd-bc83-0fedb27ccf5c","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-09-14T05:46:25Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Yuchao
        Yan","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"yuchaoyan@microsoft.com","mailNickname":"yuchaoyan_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["yuchaoyan@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:yuchaoyan@microsoft.com"],"refreshTokensValidFromDateTime":"2020-09-14T05:46:24Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/3bd37d68-b234-4fcd-bc83-0fedb27ccf5c/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"yuchaoyan_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2020-09-14T05:47:14Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2718111'
      ocp-aad-diagnostics-server-name:
      - ngjS1mS5FjGEXXnk1j6ox4rOhByE31Rmc7uE8kV4Li0=
      ocp-aad-session-key:
      - wiAoPwdNDx4sBmxdabTmHRYl39GjHMlYAO8X6gUJco4bZdBcJkQc8KQamAoUxfLoBjS-ma885r9VyH3BS2--zbRlmKGtChNnDUGQZbI5x2Qm4dS_cZmAbdEfEhIGB4FT.wkBv1pTRu1tbPlCXxCk11MJ5-nRPAYE_gR4xPGRflLk
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "3bd37d68-b234-4fcd-bc83-0fedb27ccf5c", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "softDeleteRetentionInDays":
      90, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"yuchaoyan@microsoft.com","createdByType":"User","createdAt":"1970-01-19T18:16:10.865Z","lastModifiedBy":"yuchaoyan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"1970-01-19T18:16:10.865Z"},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"3bd37d68-b234-4fcd-bc83-0fedb27ccf5c","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-keyvault-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "3bd37d68-b234-4fcd-bc83-0fedb27ccf5c", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAP2tkLETIEU+9MPvX8QebFWZKeRh6aI+4eTySJ2KJ01IAGBQMJ/j1x0cnuBaFC92DNiepgM0G5Ml2GWAnSErs6nJZeomc1ZBVVgnpwdNEfsUBKUsiEqzs/w+DlhfpXoSv6dk4/qjzkUrt94xyKtskoz2OJ2Uugwb3p8K/+Mcgon8mTLvRCOJOAPunAfYtIjJ0VbaYQVFk6nYIph8YJ0MpmaFG/axVqkYbCxGlU6TxkpHzX+NfEGB48CFjBYFYJj3ncTknPpZ48q9XLuyuDkSeTV8P6nTCVoblsc9f4O3088xffZUSLSlch/1++3vaEUOMZ6ae2VMN1YkzOcDFwkU9X0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAKieXppjinnHWfwPVH4xpQtlvIQ73Zt7jkigOthJfJ/gGrzPG1I+PYbqAUJUENPZacgRhhzcm/gvuz9PgpNNuTK3IXAKA0eeVhBQQGoSjMtfq1y/7nxlYTyas2n4H+BTarBHH5J5D09rIW+olFQu4yg0wkNUabof9lw8py0h9OqS9RCv5FxOMb7nnIUfKJgTeF6exTTfe5XmMm+y07WGD8sm8zqUcc9cnKWEtIvn5XQnb/OGedeuHxriWz/l9v8gPLHnW2tMnw++dJYJXPhR4Mi6s0M9N+TpvxYsm9ggNQ0eJI5Dwju/LE4k6jv9yYxNKUV0xGf6M92MllGmTFy7tE","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"71b4f92addd8416fa76d4b5c7ed7db48"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending?api-version=7.0&request_id=71b4f92addd8416fa76d4b5c7ed7db48
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAP2tkLETIEU+9MP[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAP2tkLETIEU+9MPvX8QebFWZKeRh6aI+4eTySJ2KJ01IAGBQMJ/j1x0cnuBaFC92DNiepgM0G5Ml2GWAnSErs6nJZeomc1ZBVVgnpwdNEfsUBKUsiEqzs/w+DlhfpXoSv6dk4/qjzkUrt94xyKtskoz2OJ2Uugwb3p8K/+Mcgon8mTLvRCOJOAPunAfYtIjJ0VbaYQVFk6nYIph8YJ0MpmaFG/axVqkYbCxGlU6TxkpHzX+NfEGB48CFjBYFYJj3ncTknPpZ48q9XLuyuDkSeTV8P6nTCVoblsc9f4O3088xffZUSLSlch/1++3vaEUOMZ6ae2VMN1YkzOcDFwkU9X0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAKieXppjinnHWfwPVH4xpQtlvIQ73Zt7jkigOthJfJ/gGrzPG1I+PYbqAUJUENPZacgRhhzcm/gvuz9PgpNNuTK3IXAKA0eeVhBQQGoSjMtfq1y/7nxlYTyas2n4H+BTarBHH5J5D09rIW+olFQu4yg0wkNUabof9lw8py0h9OqS9RCv5FxOMb7nnIUfKJgTeF6exTTfe5XmMm+y07WGD8sm8zqUcc9cnKWEtIvn5XQnb/OGedeuHxriWz/l9v8gPLHnW2tMnw++dJYJXPhR4Mi6s0M9N+TpvxYsm9ggNQ0eJI5Dwju/LE4k6jv9yYxNKUV0xGf6M92MllGmTFy7tE","cancellation_requested":false,"status":"completed","target":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate","request_id":"71b4f92addd8416fa76d4b5c7ed7db48"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/e3949ee34ae64a16a207c2c45782b58b","kid":"https://cli-test-keyvault-000002.vault.azure.net/keys/MyCertificate/e3949ee34ae64a16a207c2c45782b58b","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/MyCertificate/e3949ee34ae64a16a207c2c45782b58b","x5t":"oq7Clfrgsr4IkHxZnOpFTaxWNdo","cer":"MIIDQjCCAiqgAwIBAgIQc0GuaO2YRcGpJUBllwCOPzANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIxMDUxNDA1MzIyOVoXDTIyMDUxNDA1NDIyOVowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAP2tkLETIEU+9MPvX8QebFWZKeRh6aI+4eTySJ2KJ01IAGBQMJ/j1x0cnuBaFC92DNiepgM0G5Ml2GWAnSErs6nJZeomc1ZBVVgnpwdNEfsUBKUsiEqzs/w+DlhfpXoSv6dk4/qjzkUrt94xyKtskoz2OJ2Uugwb3p8K/+Mcgon8mTLvRCOJOAPunAfYtIjJ0VbaYQVFk6nYIph8YJ0MpmaFG/axVqkYbCxGlU6TxkpHzX+NfEGB48CFjBYFYJj3ncTknPpZ48q9XLuyuDkSeTV8P6nTCVoblsc9f4O3088xffZUSLSlch/1++3vaEUOMZ6ae2VMN1YkzOcDFwkU9X0CAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFMHs+5KkdwmwQJkC9lf9EefQn+RzMB0GA1UdDgQWBBTB7PuSpHcJsECZAvZX/RHn0J/kczANBgkqhkiG9w0BAQsFAAOCAQEAAr4S+LTwEzHTDP4+Vkw6PG5nECMqJ2nEteDm91RYwXXZrzjZHmN2nC9/F5bvr/8RL1CrHYU1rm2WwKjROhxBYNDkjsI/7hMOyK6MtiR6HM2QGdwO9O5G5C362wv5qHzxNK3RMaLtN1m3OJcEu4sOqzPxvI7bOOfvj+h66kH+xN72BY/5Zk2nb7aqrUWG4F+VvoN4znj4KGryGlk4+ALsX5xZ5Q6fQo2v9Af2S941YXkADNc29NFGDBiI4jRODVnT3HuJ0S9bQUGwGDtHceQynpNWK2wVdFpcGTNKJ/XqtnhzGBqr8Eg0EZqiV+T8nrPd6aQc8pH0lwjoEIxVuc+yHA==","attributes":{"enabled":true,"nbf":1620970349,"exp":1652506949,"created":1620970949,"updated":1620970949,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1620970906,"updated":1620970906}},"pending":{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/publicIPAddresses/ip1?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/publicIPAddresses/ip1\",\r\n
        \ \"etag\": \"W/\\\"f15b5d93-2ca0-4e47-b816-e5637a6571d0\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"ed91e4a5-8ae5-4a94-b736-c36b4a45b9dd\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cfef9523-fcb8-4b93-b1f1-7020dea6e5a9?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cfef9523-fcb8-4b93-b1f1-7020dea6e5a9?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/publicIPAddresses/ip1?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/publicIPAddresses/ip1\",\r\n
        \ \"etag\": \"W/\\\"c6a02abd-8159-4d6e-9113-47958b0e80d5\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"ed91e4a5-8ae5-4a94-b736-c36b4a45b9dd\",\r\n    \"ipAddress\":
        \"52.160.34.233\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
        {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c6a02abd-8159-4d6e-9113-47958b0e80d5"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_identity000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2020-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_identity000001%27%20and%20name%20eq%20%27ip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/publicIPAddresses/ip1","name":"ip1","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"},"location":"westus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''gateway'')]"}, "resources": [{"name": "gatewayVnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "gateway", "location": "westus",
      "tags": {}, "apiVersion": "2021-02-01", "dependsOn": ["Microsoft.Network/virtualNetworks/gatewayVnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/publicIPAddresses/ip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/virtualNetworks/gatewayVnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "Standard_v2",
      "tier": "Standard_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1",
      "properties": {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"}}}],
      "privateLinkConfigurations": []}, "zones": null, "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}}}}], "outputs": {"applicationGateway": {"type": "object", "value": "[reference(''gateway'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Resources/deployments/ag_deploy_wCaviVPfkYPIEwz91wwF0QuRsbM36wRN","name":"ag_deploy_wCaviVPfkYPIEwz91wwF0QuRsbM36wRN","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7088132824051476768","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-05-14T05:42:47.6153921Z","duration":"PT2.0920653S","correlationId":"e41f5b05-b34c-4266-8ecf-1a345d0c51d6","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/virtualNetworks/gatewayVnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"gatewayVnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/applicationGateways/gateway","resourceType":"Microsoft.Network/applicationGateways","resourceName":"gateway"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001/providers/Microsoft.Resources/deployments/ag_deploy_wCaviVPfkYPIEwz91wwF0QuRsbM36wRN/operationStatuses/08585806359199542922?api-version=2020-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585806359199542922?api-version=2020-10-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/applicationGateways/gateway?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"gateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/applicationGateways/gateway\",\r\n
        \ \"etag\": \"W/\\\"0e7c1026-105b-41cb-ab2c-5c792e35ccb1\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"userAssigned\",\r\n
        \   \"userAssignedIdentities\": {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1\":
        {\r\n        \"principalId\": \"1e2d8bb4-3ab5-4691-90ac-ab2f4603a76f\",\r\n
        \       \"clientId\": \"20aab350-95ae-4cab-90b7-66aaf7cf7ea3\"\r\n      }\r\n
        \   }\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"74a42ea8-555a-4ec8-9524-39f90c5043a9\",\r\n    \"sku\":
        {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\",\r\n
        \     \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n
        \   \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/applicationGateways/gateway/gatewayIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"0e7c1026-105b-41cb-ab2c-5c792e35ccb1\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/virtualNetworks/gatewayVnet/subnets/default\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
        \     }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\":
        [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n
        \   \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_identity000001/providers/Microsoft.Network/applicationGateways/gateway/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"0e7c1026-105b-41cb-ab2c-5c792e35ccb1\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
[...]
