interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/availableServiceAliases?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"servicesAzure\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/AvailableServiceAliases/servicesAzure\",\r\n
        \     \"type\": \"Microsoft.Network/AvailableServiceAliases\",\r\n      \"resourceName\":
        \"/services/Azure\"\r\n    },\r\n    {\r\n      \"name\": \"servicesAzureActiveDirectory\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/AvailableServiceAliases/servicesAzureActiveDirectory\",\r\n
        \     \"type\": \"Microsoft.Network/AvailableServiceAliases\",\r\n      \"resourceName\":
        \"/services/Azure/ActiveDirectory\"\r\n    },\r\n    {\r\n      \"name\":
        \"servicesAzureAKS\",\r\n      \"id\": \"/s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_service_aliases000001/providers/Microsoft.Network/locations/centralus/availableServiceAliases?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"servicesAzure\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup/test_network_[...]
