interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n            \"type\": \"string\"\r\n        }\r\n    },\r\n    \"resources\":
      [\r\n        {\r\n            \"apiVersion\": \"2020-12-01\",\r\n            \"name\":
      \"[parameters('name')]\",\r\n            \"location\": \"[parameters('location')]\",\r\n
      \           \"type\": \"Microsoft.DigitalTwins/digitalTwinsInstances\",\r\n
      \           \"properties\": {}\r\n        }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"5243e2ee-a6fa-4ce8-92ca-66b9a2060173","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584777711576311631?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-08-16T19:16:17.7038839Z","duration":"PT47.4896325S","correlationId":"72f7576b-d44e-48da-af33-d665dd63c28f","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources/API","name":"API","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateLinkResources","properties":{"groupId":"API","requiredMembers":["DigitalTwinsAPI"],"requiredZoneNames":["privatelink.digitaltwins.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-e967aab203ae04b8ac462ac21bb395ee-1383b2696e1ef7dc-01
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001","name":"test_digital_twin_private_endpoint_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_private_endpoint_connection_digitaltwins","date":"2024-08-16T19:15:14Z","module":"network","Creator":"v-taoxuzeng@microsoft.com","DateCreated":"2024-08-16T19:15:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-subnet-000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2024-03-01
  response:
    body:
      string: '{"name":"cli-vnet-000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004","etag":"W/\"ff9b0565-02cf-463d-a468-24a65564b3a3\"","type":"Microsoft.Network/virtualNetworks","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"c1b6455e-a2f5-432c-af4c-818210fe23dc","addressSpace":{"addressPrefixes":["10.0.0.0/16"],"ipamPoolPrefixAllocations":[]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"cli-subnet-000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005","etag":"W/\"ff9b0565-02cf-463d-a468-24a65564b3a3\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","ipamPoolPrefixAllocations":[],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/69820f0b-4147-4288-9ecc-c9f7c07319ec?api-version=2024-03-01&t=638594326017133638&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/69820f0b-4147-4288-9ecc-c9f7c07319ec?api-version=2024-03-01&t=638594326017133638&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2024-01-01
  response:
    body:
      string: '{"name":"cli-subnet-000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005","etag":"W/\"93770cf8-ef1e-4c8b-aa99-65b5c7710065\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","ipamPoolPrefixAllocations":[],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93770cf8-ef1e-4c8b-aa99-65b5c7710065"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/90bdf757-5dc4-40e7-b040-8bd20653cfa6?api-version=2024-01-01&t=638594326159854323&c=MIIHhzCCBm-gAwIBAgITHgTOmixCtVmKPtd-FAAABM6aLDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI2MDEyNDE5WhcNMjUwNjIxMDEyNDE5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"manualPrivateLinkServiceConnections":
      [{"name": "cli-pec-000007", "properties": {"groupIds": ["API"], "privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2022-01-01
  response:
    body:
      string: '{"name":"cli-pe-000006","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006","etag":"W/\"6e8d745d-ded0-47af-b249-4cb19c959a12\"","type":"Microsoft.Network/privateEndpoints","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"af0ea4de-c231-4fb5-8cd8-0b16875a14be","privateLinkServiceConnections":[],"manualPrivateLinkServiceConnections":[{"name":"cli-pec-000007","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006/manualPrivateLinkServiceConnections/cli-pec-000007","etag":"W/\"6e8d745d-ded0-47af-b249-4cb19c959a12\"","properties":{"provisioningState":"Succeeded","privateLinkServiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002","groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"Awaiting
        Approval","actionsRequired":"None"}},"type":"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections"}],"customNetworkInterfaceName":"","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"},"ipConfigurations":[],"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/networkInterfaces/cli-pe-000006.nic.656ca36b-15a6-4a62-9657-b03017bdef8b"}],"customDnsConfigs":[]}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/fbcdef6c-2f7b-4295-86ea-edabf5bed6c7?api-version=2022-01-01&t=638594326218745512&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/fbcdef6c-2f7b-4295-86ea-edabf5bed6c7?api-version=2022-01-01&t=638594326218745512&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/ce82be48-dacd-4725-bef9-5c256dd9202c","name":"ce82be48-dacd-4725-bef9-5c256dd9202c","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-fe0a92aca62f7c685c8ce49e2c59b307-0223a850d7c4ada5-01
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/ce82be48-dacd-4725-bef9-5c256dd9202c?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/ce82be48-dacd-4725-bef9-5c256dd9202c","name":"ce82be48-dacd-4725-bef9-5c256dd9202c","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-99e95ec6780af84fc44657c7becaa36e-ffeb1cdd70abd99f-01
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/ce82be48-dacd-4725-bef9-5c256dd9202c",
      "name": "ce82be48-dacd-4725-bef9-5c256dd9202c", "type": "Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections",
      "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},
      "groupIds": ["API"], "privateLinkServiceConnectionState": {"status": "Approved",
      "description": "Approved.", "actionsRequired": "None"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/ce82be48-dacd-4725-bef9-5c256dd9202c?api-version=2020-12-01
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Exception of type ''Microsoft.Azure.DigitalTwins.ScaleUnitRPManagement.Exceptions.PrivateEndpointBadRequestException''
        was thrown."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-c736822b26dcd97b296b59bc15e17696-81c053001ede0c52-01
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
[...]
