interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"65c93e91-05a6-4bbd-8a62-91acd2b5fba2","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-32.ppe.azure-dns.com.","ns2-32.ppe.azure-dns.net.","ns3-32.ppe.azure-dns.org.","ns4-32.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 65c93e91-05a6-4bbd-8a62-91acd2b5fba2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "65c93e91-05a6-4bbd-8a62-91acd2b5fba2", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag1": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"810833c9-d8c1-4daa-9201-ddd660f2958f","location":"global","tags":{"tag1":"foo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-32.ppe.azure-dns.com.","ns2-32.ppe.azure-dns.net.","ns3-32.ppe.azure-dns.org.","ns4-32.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 810833c9-d8c1-4daa-9201-ddd660f2958f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"etag": "810833c9-d8c1-4daa-9201-ddd660f2958f", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag1": "bar", "tag2": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"ed9ab96a-06b6-46e2-82c4-e783b53e48b0","location":"global","tags":{"tag1":"bar","tag2":"foo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-32.ppe.azure-dns.com.","ns2-32.ppe.azure-dns.net.","ns3-32.ppe.azure-dns.org.","ns4-32.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ed9ab96a-06b6-46e2-82c4-e783b53e48b0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"etag": "ed9ab96a-06b6-46e2-82c4-e783b53e48b0", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag2": "foo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"95014f7f-b02f-4736-910a-d21a3499bdb6","location":"global","tags":{"tag2":"foo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-32.ppe.azure-dns.com.","ns2-32.ppe.azure-dns.net.","ns3-32.ppe.azure-dns.org.","ns4-32.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 95014f7f-b02f-4736-910a-d21a3499bdb6
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
