interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_endpoint_pls000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001","name":"cli_test_private_endpoint_pls000001","type":"Microsoft.Resources/resourceGroups","location":"centralus","tags":{"product":"azurecli","cause":"automation","test":"test_private_endpoint_pls","date":"2025-06-17T14:00:35Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-test-subnet-000004", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002?api-version=2024-07-01
  response:
    body:
      string: '{"name":"cli-test-vnet-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002","etag":"W/\"d394f9b8-c46c-4205-84d5-4ebf2bb402c7\"","type":"Microsoft.Network/virtualNetworks","location":"centralus","properties":{"provisioningState":"Updating","resourceGuid":"01e136c0-aea5-4df6-9d50-ab800bd27530","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"cli-test-subnet-000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002/subnets/cli-test-subnet-000004","etag":"W/\"d394f9b8-c46c-4205-84d5-4ebf2bb402c7\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/8afc966e-e259-46cd-b5d4-3aa7229001b4?api-version=2024-05-01&t=638857656453742916&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/8afc966e-e259-46cd-b5d4-3aa7229001b4?api-version=2024-05-01&t=638857656453742916&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002/subnets/cli-test-subnet-000004?api-version=2024-07-01
  response:
    body:
      string: '{"name":"cli-test-subnet-000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002/subnets/cli-test-subnet-000004","etag":"W/\"d93d465b-be8d-4ac0-91e4-0419e9aa10df\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d93d465b-be8d-4ac0-91e4-0419e9aa10df"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/1400da93-78c4-4e94-b156-a1ac8fa11886?api-version=2024-07-01&t=638857656603450576&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_private_endpoint_pls000001%27%20and%20name%20eq%20%27cli-test-ip-000006%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-05-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "cli-test-ip-000006", "location": "centralus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "cli-test-lb-000005", "location":
      "centralus", "tags": {}, "apiVersion": "2023-04-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/cli-test-ip-000006"],
      "properties": {"backendAddressPools": [{"name": "cli-test-lb-000005bepool"}],
      "frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd", "properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/publicIPAddresses/cli-test-ip-000006"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Standard"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''cli-test-lb-000005'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Resources/deployments/lb_deploy_2V0x6XafX3L0ubilzcpsAIwGrkuC38gs","name":"lb_deploy_2V0x6XafX3L0ubilzcpsAIwGrkuC38gs","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2155640666733252630","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-06-17T14:01:08.8840815Z","duration":"PT0.0003216S","correlationId":"881c299a-954c-4985-a83d-66253539976b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["centralus"]},{"resourceType":"loadBalancers","locations":["centralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/publicIPAddresses/cli-test-ip-000006","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"cli-test-ip-000006"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/loadBalancers/cli-test-lb-000005","resourceType":"Microsoft.Network/loadBalancers","resourceName":"cli-test-lb-000005"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Resources/deploy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584514380165790545?api-version=2024-11-01&t=638857656761341638&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHh[...]
[...]
- request:
    body: '{"location": "centralus", "properties": {"ipConfigurations": [{"name":
      "cli-test-pls-000007_ipconfig_0", "properties": {"privateIPAddressVersion":
      "IPv4", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002/subnets/cli-test-subnet-000004"}}}],
      "loadBalancerFrontendIpConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/loadBalancers/cli-test-lb-000005/frontendIpConfigurations/LoadBalancerFrontEnd"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007?api-version=2024-03-01
  response:
    body:
      string: '{"name":"cli-test-pls-000007","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007","etag":"W/\"2aae4fb0-f8d9-4429-8b36-5ce4773f29f2\"","type":"Microsoft.Network/privateLinkServices","location":"centralus","properties":{"provisioningState":"Updating","resourceGuid":"f42e89bc-ce4c-4aa1-9384-e364762c85e2","fqdns":[],"alias":"cli-test-pls-000007.c8ee616d-e858-4e95-93ab-ac2f738f9c89.centralus.azure.privatelinkservice","enableProxyProtocol":false,"loadBalancerFrontendIpConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/loadBalancers/cli-test-lb-000005/frontendIPConfigurations/LoadBalancerFrontEnd"}],"ipConfigurations":[{"name":"cli-test-pls-000007_ipconfig_0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007/ipConfigurations/cli-test-pls-000007_ipconfig_0","etag":"W/\"2aae4fb0-f8d9-4429-8b36-5ce4773f29f2\"","type":"Microsoft.Network/privateLinkServices/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002/subnets/cli-test-subnet-000004"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"privateEndpointConnections":[],"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/networkInterfaces/cli-test-pls-000007.nic.c835b9d3-c88f-4f06-80b7-cf8bc48d46cb"}]}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/f1834fc0-950f-4287-90d1-29966b2b1e88?api-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/f1834fc0-950f-4287-90d1-29966b2b1e88?api-version=2024-03-01&t=638857657201713355&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/0f9992a1-69de-40ce-b9b9-93cf6fdc7200?api-version=2024-07-01&t=638857657353435426&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/8dab6160-ea04-498a-8642-f468029bf20f?api-version=2024-07-01&t=638857657400131727&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQ[...]
[...]
- request:
    body: '{"location": "centralus", "properties": {"privateLinkServiceConnections":
      [{"name": "cli-test-conn-000010", "properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002/subnets/cli-test-subnet-000003"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://man[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/fb2bcc32-be43-4031-a765-61262ee4ec78?api-version=2022-01-01&t=638857657474177668&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateEndpoints/cli-test-endpoint-000008?api-version=2022-01-01
  response:
    body:
      string: '{"name":"cli-test-endpoint-000008","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateEndpoints/cli-test-endpoint-000008","etag":"W/\"cb1e4306-72b9-4886-9ec4-f8cc00cbf8c6\"","type":"Microsoft.Network/privateEndpoints","location":"centralus","properties":{"provisioningState":"Succeeded","resourceGuid":"3702ac0e-2b3e-4a4f-9a2d-c6255a795dad","privateLinkServiceConnections":[{"name":"cli-test-conn-000010","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateEndpoints/cli-test-endpoint-000008/privateLinkServiceConnections/cli-test-conn-000010","etag":"W/\"cb1e4306-72b9-4886-9ec4-f8cc00cbf8c6\"","properties":{"provisioningState":"Succeeded","privateLinkServiceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007","privateLinkServiceConnectionState":{"status":"Approved","description":"Auto
        Approved","actionsRequired":"None"}},"type":"Microsoft.Network/privateEndpoints/privateLinkServiceConnections"}],"manualPrivateLinkServiceConnections":[],"customNetworkInterfaceName":"","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/virtualNetworks/cli-test-vnet-000002/subnets/cli-test-subnet-000003"},"ipConfigurations":[],"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/networkInterfaces/cli-test-endpoint-000008.nic.8640437a-4aa5-4bbb-abe3-6d22402a9b32"}],"customDnsConfigs":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb1e4306-72b9-4886-9ec4-f8cc00cbf8c6"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007/privateEndpointConnections?api-version=2021-05-01
  response:
    body:
      string: '{"value":[{"name":"cli-test-endpoint-000008.3702ac0e-2b3e-4a4f-9a2d-c6255a795dad","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007/privateEndpointConnections/cli-test-endpoint-000008.3702ac0e-2b3e-4a4f-9a2d-c6255a795dad","etag":"W/\"f8941482-0bda-4082-bf8e-0d68d923323a\"","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateEndpoints/cli-test-endpoint-000008"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto
        Approved","actionsRequired":"None"},"linkIdentifier":"520113597"},"type":"Microsoft.Network/privateLinkServices/privateEndpointConnections"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_endpoint_pls000001/providers/Microsoft.Network/privateLinkServices/cli-test-pls-000007/privateEndpointConnections/cli-test-endpoint-000008.3702ac0e-2b3e-4a4f-9a2d-c6255a795dad?api-version=2021-05-01
  response:
    body:
      string: '{"name":"cli-test-endpoint-000008.3702ac0e-2b3e-4a4f-9a2d-c6255a795dad","id":"/subscript[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/8f203d28-5575-47cc-875c-5815475bc83e?api-version=2022-01-01&t=638857658427927684&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQ[...]
[...]
