interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_v2_config000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001","name":"cli_test_app_gateway_waf_v2_config000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-11-12T08:21:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/publicIPAddresses/pip1\"\
        ,\r\n  \"etag\": \"W/\\\"da14688a-6bfa-4ffb-808f-6b06d48e4c33\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"e955256a-a902-44d4-9c18-d7212cc670c8\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n\
        \  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/920df77b-f4b0-4778-a159-926637da789d?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1177'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/920df77b-f4b0-4778-a159-926637da789d?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/publicIPAddresses/pip1\"\
        ,\r\n  \"etag\": \"W/\\\"2e513578-59bd-4cca-bc40-2379f768d4b4\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"e955256a-a902-44d4-9c18-d7212cc670c8\"\
        ,\r\n    \"ipAddress\": \"13.88.82.132\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\
        ,\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2e513578-59bd-4cca-bc40-2379f768d4b4"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_v2_config000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_v2_config000001%27%20and%20name%20eq%20%27pip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/publicIPAddresses/pip1","name":"pip1","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard"},"location":"westus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag1'')]"}, "resources": [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westus",
      "tags": {}, "apiVersion": "2020-06-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/publicIPAddresses/pip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"}}}],
      "privateLinkConfigurations": []}, "zones": null}], "outputs": {"applicationGateway":
      {"type": "object", "value": "[reference(''ag1'')]"}}}, "parameters": {}, "mode":
      "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Resources/deployments/ag_deploy_BrK8l0oWczpgU4ScvGVcrPubuFccNsWG","name":"ag_deploy_BrK8l0oWczpgU4ScvGVcrPubuFccNsWG","type":"Microsoft.Resources/deployments","properties":{"templateHash":"388021218215835577","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-11-12T08:21:24.9010096Z","duration":"PT2.1280794S","correlationId":"782f4b46-2262-4d80-93c5-727cc08908f7","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Resources/deployments/ag_deploy_BrK8l0oWczpgU4ScvGVcrPubuFccNsWG/operationStatuses/08585964376027046926?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1178'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2020-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag1''
        under resource group ''cli_test_app_gateway_waf_v2_config000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1\"\
        ,\r\n  \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"17ee6540-867d-461e-8eca-928ad9a3e8d7\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\"\
        ,\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Stopped\"\
        ,\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\
        \r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\"\
        : [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\
        \n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/publicIPAddresses/pip1\"\
        \r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n  \
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"frontendPorts\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendPort\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\
        ,\r\n        \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n       \
        \     {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\
        \r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n   \
        \     \"name\": \"appGatewayBackendPool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\
        ,\r\n        \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"backendAddresses\": [],\r\n          \"requestRoutingRules\"\
        : [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\
        \r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayBackendHttpSettings\",\r\n\
        \        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        ,\r\n        \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n    \
        \      \"cookieBasedAffinity\": \"Disabled\",\r\n          \"connectionDraining\"\
        : {\r\n            \"enabled\": false,\r\n            \"drainTimeoutInSec\"\
        : 1\r\n          },\r\n          \"pickHostNameFromBackendAddress\": false,\r\
        \n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\":\
        \ [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\
        \r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"\
        name\": \"appGatewayHttpListener\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        ,\r\n        \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        \r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\
        \r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\"\
        : [],\r\n          \"requireServerNameIndication\": false,\r\n          \"\
        requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\
        \r\n      }\r\n    ],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\"\
        : [\r\n      {\r\n        \"name\": \"rule1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        ,\r\n        \"etag\": \"W/\\\"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"ruleType\": \"Basic\",\r\n          \"httpListener\": {\r\
        \n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n          },\r\n          \"backendAddressPool\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\
        \r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        \r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\
        \r\n      }\r\n    ],\r\n    \"probes\": [],\r\n    \"rewriteRuleSets\": [],\r\
        \n    \"redirectConfigurations\": [],\r\n    \"privateLinkConfigurations\"\
        : [],\r\n    \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2a5208ed-044c-424a-9fb9-c3c77ebaa9b5"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1",
      "location": "westus", "tags": {}, "properties": {"sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}},
      "name": "appGatewayFrontendIP"}], "trustedRootCertificates": [], "trustedClientCertificates":
      [], "sslCertificates": [], "frontendIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2_config000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_v2[...]
[...]
