interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_custom_rule_v2_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001","name":"cli_test_app_gateway_waf_custom_rule_v2_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_network_app_gateway_waf_custom_rule_v2","date":"2025-02-22T13:00:53Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"managedRules": {"managedRuleSets":
      [{"ruleSetType": "Microsoft_DefaultRuleSet", "ruleSetVersion": "2.1"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2024-03-01
  response:
    body:
      string: '{"name":"agp1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1","etag":"W/\"331386c0-64b3-49fd-8134-30669654cf76\"","type":"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies","location":"westus","properties":{"provisioningState":"Updating","customRules":[],"policySettings":{"requestBodyCheck":true,"maxRequestBodySizeInKb":128,"fileUploadLimitInMb":100,"state":"Disabled","mode":"Detection","requestBodyInspectLimitInKB":128,"fileUploadEnforcement":true,"requestBodyEnforcement":true},"managedRules":{"managedRuleSets":[{"ruleSetType":"Microsoft_DefaultRuleSet","ruleSetVersion":"2.1","ruleGroupOverrides":[]}],"exclusions":[]}}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/263defbc-61ff-4ae7-9aa3-f4f955f3784f?api-version=2024-03-01&t=638758260628344432&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "properties": {"customRules": [], "managedRules": {"exclusions":
      [{"exclusionManagedRuleSets": [{"ruleGroups": [{"ruleGroupName": "REQUEST-930-APPLICATION-ATTACK-LFI",
      "rules": [{"ruleId": "930120"}]}], "ruleSetType": "OWASP", "ruleSetVersion":
      "3.2"}], "matchVariable": "RequestArgNames", "selector": "hello", "selectorMatchOperator":
      "StartsWith"}], "managedRuleSets": [{"ruleGroupOverrides": [], "ruleSetType":
      "Microsoft_DefaultRuleSet", "ruleSetVersion": "2.1"}]}, "policySettings": {"fileUploadEnforcement":
      true, "fileUploadLimitInMb": 100, "maxRequestBodySizeInKb": 128, "mode": "Detection",
      "requestBodyCheck": true, "requestBodyEnforcement": true, "requestBodyInspectLimitInKB":
      128, "state": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: http[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "properties": {"customRules": [], "managedRules": {"exclusions":
      [{"exclusionManagedRuleSets": [{"ruleGroups": [{"ruleGroupName": "REQUEST-930-APPLICATION-ATTACK-LFI",
      "rules": [{"ruleId": "930120"}]}, {"ruleGroupName": "REQUEST-932-APPLICATION-ATTACK-RCE",
      "rules": []}], "ruleSetType": "OWASP", "ruleSetVersion": "3.2"}], "matchVariable":
      "RequestArgNames", "selector": "hello", "selectorMatchOperator": "StartsWith"},
      {"exclusionManagedRuleSets": [{"ruleGroups": [], "ruleSetType": "OWASP", "ruleSetVersion":
      "3.2"}], "matchVariable": "RequestArgNames", "selector": "hello", "selectorMatchOperator":
      "EndsWith"}, {"exclusionManagedRuleSets": [], "matchVariable": "RequestArgNames",
      "selector": "test", "selectorMatchOperator": "StartsWith"}, {"exclusionManagedRuleSets":
      [], "matchVariable": "RequestArgValues", "selector": "test", "selectorMatchOperator":
      "StartsWith"}], "managedRuleSets": [{"ruleGroupOverrides": [], "ruleSetType":
      "Microsoft_DefaultRuleSet", "ruleSetVersion": "2.1"}]}, "policySettings": {"fileUploadEnforcement":
      true, "fileUploadLimitInMb": 100, "logScrubbing": {"scrubbingRules": [{"matchVariable":
      "RequestArgNames", "selector": "test", "selectorMatchOperator": "Equals", "state":
      "Enabled"}, {"matchVariable": "RequestIPAddress", "selectorMatchOperator": "EqualsAny",
      "state": "Enabled"}], "state": "Enabled"}, "maxRequestBodySizeInKb": 128, "mode":
      "Detection", "requestBodyCheck": false, "requestBodyEnforcement": true, "requestBodyInspectLimitInKB":
      128, "state": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    met[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "properties": {"customRules": [{"action": "Block", "matchConditions":
      [{"matchValues": ["192.168.2.0/24", "10.0.2.0/24"], "matchVariables": [{"variableName":
      "RemoteAddr"}], "operator": "IPMatch"}], "name": "rule1", "priority": 1, "ruleType":
      "MatchRule", "state": "Enabled"}], "managedRules": {"exclusions": [{"exclusionManagedRuleSets":
      [{"ruleGroups": [{"ruleGroupName": "REQUEST-930-APPLICATION-ATTACK-LFI", "rules":
      [{"ruleId": "930120"}]}, {"ruleGroupName": "REQUEST-932-APPLICATION-ATTACK-RCE",
      "rules": []}], "ruleSetType": "OWASP", "ruleSetVersion": "3.2"}], "matchVariable":
      "RequestArgNames", "selector": "hello", "selectorMatchOperator": "StartsWith"},
      {"exclusionManagedRuleSets": [{"ruleGroup[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2024-03-01
  response:
    body:
      string: '{"name":"agp1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1","etag":"W/\"d404790d-d1a4-4cff-8fe7-6fe6f7b200d9\"","type":"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies","location":"westus","properties":{"provisioningState":"Succeeded","customRules":[{"name":"rule1","priority":1,"ruleType":"MatchRule","action":"Block","matchConditions":[{"matchVariables":[{"variableName":"RemoteAddr"}],"operator":"IPMatch","negationConditon":false,"matchValues":["192.168.2.0/24","10.0.2.0/24"],"transforms":[]}],"skippedManagedRuleSets":[],"state":"Enabled"}],"policySettings":{"requestBodyCheck":false,"maxRequestBodySizeInKb":128,"fileUploadLimitInMb":100,"state":"Disabled","mode":"Detection","logScrubbing":{"state":"Enabled","scrubbingRules":[{"matchVariable":"RequestArgNames","selectorMatchOperator":"Equals","selector":"test","state":"Enabled"},{"matchVariable":"RequestIPAddress","selectorMatchOperator":"EqualsAny","state":"Enabled"}]},"requestBodyInspectLimitInKB":128,"fileUploadEnforcement":true,"requestBodyEnforcement":tru[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_custom_rule_v2_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "properties": {"customRules": [{"action": "Block", "matchConditions":
      [{"matchValues": ["192.168.2.0/24", "10.0.2.0/24"], "matchVariables": [{"variableName":
      "RemoteAddr"}], "negationConditon": false, "operator": "IPMatch", "transforms":
      []}, {"matchValues": ["192.168.1.0/24", "10.0.0.0/24"], "matchVariables": [{"variableName":
      "RemoteAddr"}], "negationConditon": false, "operator": "IPMatch", "transforms":
      []}], "name": "rule1", "priority": 1, "ruleType": "MatchRule", "state": "Enabled"},
      {"action": "Block", "matchConditions": [{"matchValues": ["192.168.2.0/24", "10.0.2.0/24"],
      "matchVariables": [{"variableName": "RemoteAddr"}], "negationConditon": false,
      "operator": "IPMatch", "transforms": []}, {"matchValues": ["192.168.1.0/24"],
      "matchVariables": [{"variableName": "RemoteAddr"}], "negationConditon": false,
      "operator": "IPMatch", "transforms": []}, {"matchValues": ["Windows"], "matchVariables":
      [{"selector": "UserAgent", "variableName": "RequestHeaders"}], "negationConditon":
      false, "operator": "Contains", "transforms": []}], "name": "rule2", "priority":
      2, "ruleType": "MatchRule", "state": "Enabled"}, {"action": "Block", "groupByUserSession":
      [{"groupByVariables": [{"variableName": "GeoLocation"}]}], "matchConditions":
      [{"matchValues": ["192.168.2.0/24", "10.0.2.0/24"], "matchVariables": [{"variableName":
      "RemoteAddr"}], "operator": "IPMatch"}], "name": "rule3", "priority": 3, "rateLimitDuration":
      "FiveMins", "rateLimitThreshold": 15, "ruleType": "RateLimitRule", "state":
      "Enabled"}], "managedRules": {"exclusions": [{"exclusionManagedRuleSets": [{"ruleGroups":
      [{"ruleGroupName": "REQUEST-930-APPLICATION-ATTACK-LFI", "rules": [{"ruleId":
      "930120"}]}, {"ruleGroupName": "REQUEST-932-APPLICATION-ATTACK-RCE", "rules":
      []}], "ruleSetType": "OWASP", "ruleSetVersion": "3.2"}], "matchVariable": "RequestArgNames",
      "selector": "hello", "selectorMatchOperator": "StartsWith"}, {"exclusionManagedRuleSets"[...]
[...]
