interactions:
- request:
    body: '{"kind": "fhir", "location": "eastus", "identity": {"type": "SystemAssigned"},
      "properties": {"exportConfiguration": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002?api-version=2020-03-30
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002","name":"cli-test-resource-000002","type":"Microsoft.HealthcareApis/services","etag":"\"b801483b-0000-0400-0000-60a33e590000\"","location":"eastus","kind":"fhir","properties":{"secondaryLocations":null,"accessPolicies":[],"cosmosDbConfiguration":{"offerThroughput":1000},"authenticationConfiguration":{"authority":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","audience":"https://cli-test-resource-000002.azurehealthcareapis.com","smartProxyEnabled":false},"corsConfiguration":{"origins":[],"headers":[],"methods":[],"maxAge":null,"allowCredentials":false},"exportConfiguration":{"storageAccountName":null},"acrConfiguration":{"loginServers":[]},"privateEndpointConnections":[],"publicNetworkAccess":null,"provisioningState":"Creating"},"identity":{"principalId":"770012d6-30f6-49aa-9715-a6bbd6876bb6","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/0b1d7171-26e3-463c-bcb9-bc4b0a2790fc?api-version=2020-03-30
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801483b-0000-0400-0000-60a33e590000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/0b1d7171-26e3-463c-bcb9-bc4b0a2790fc?api-version=2020-03-30
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/0b1d7171-26e3-463c-bcb9-bc4b0a2790fc","name":"0b1d7171-26e3-463c-bcb9-bc4b0a2790fc","status":"Running","startTime":"2021-05-18T04:11:05.7607251Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002?api-version=2020-03-30
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002","name":"cli-test-resource-000002","type":"Microsoft.HealthcareApis/services","etag":"\"b801ab4d-0000-0400-0000-60a33f3d0000\"","location":"eastus","kind":"fhir","tags":{},"properties":{"secondaryLocations":null,"accessPolicies":[],"cosmosDbConfiguration":{"offerThroughput":1000},"authenticationConfiguration":{"authority":"https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","audience":"https://cli-test-resource-000002.azurehealthcareapis.com","smartProxyEnabled":false},"corsConfiguration":{"origins":[],"headers":[],"methods":[],"maxAge":null,"allowCredentials":false},"exportConfiguration":{"storageAccountName":null},"acrConfiguration":{"loginServers":[]},"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","provisioningState":"Succeeded"},"identity":{"principalId":"770012d6-30f6-49aa-9715-a6bbd6876bb6","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b801ab4d-0000-0400-0000-60a33f3d0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002/privateLinkResources?api-version=2020-03-30
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002/privateLinkResources/fhir","name":"fhir","type":"Microsoft.HealthcareApis/services/privateLinkResources","properties":{"groupId":"fhir","requiredMembers":["fhir"],"requiredZoneNames":["privatelink.azurehealthcareapis.com"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_health_care_apis000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001","name":"test_private_endpoint_connection_health_care_apis000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-18T04:10:54Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003\",\r\n
        \ \"etag\": \"W/\\\"40e247e9-fb16-4708-be8c-5c11e7404d60\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"eeca86e3-9122-4a83-b2c8-de601f6fdda6\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \       \"etag\": \"W/\\\"40e247e9-fb16-4708-be8c-5c11e7404d60\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b379b6d3-509c-45c2-a97e-97072e310e27?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b379b6d3-509c-45c2-a97e-97072e310e27?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \ \"etag\": \"W/\\\"fb014503-9718-4461-a64a-7586245e2dec\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fb014503-9718-4461-a64a-7586245e2dec"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000006", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002",
      "groupIds": ["fhir"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002/privateEndpointConnections?api-version=2020-03-30
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002/privateEndpointConnections/cli-test-resource-000002.ffbe4d87-f6ce-45b7-89f5-7bd8cf68eb78","properties":{"provisioningState":"Creating","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"},"groupIds":["fhir"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002/privateEndpointConnections/cli-test-resource-000002.ffbe4d87-f6ce-45b7-89f5-7bd8cf68eb78?api-version=2020-03-30
  response:
    body:
      string: '{"name":"cli-test-resource-000002.ffbe4d87-f6ce-45b7-89f5-7bd8cf68eb78","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002/privateEndpointConnections/cli-test-resource-000002.ffbe4d87-f6ce-45b7-89f5-7bd8cf68eb78","type":"Microsoft.HealthcareApis/services/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_health_care_apis000001/providers/Microsoft.HealthcareApis/services/cli-test-resource-000002/privateEndpointConnections/cli-test-resource-000002.ffbe4d87-f6ce-45b7-89f5-7bd8cf68eb78?api-version=2020-03-30
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/d1490d81-d852-4b9a-bb63-ca7b1fde6d95?api-version=2020-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HealthcareApis/locations/eastus/operationresults/d1490d81-d852-4b9a-bb63-ca7b1fde6d95?api-version=2020-03-30&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
