interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-beta/providers/Microsoft.Storage/storageAccounts/azureclibetarelease","name":"azureclibetarelease","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":null,"key2":null},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-06-11T10:32:24.7099044Z","primaryEndpoints":{"dfs":"https://azureclibetarelease.dfs.core.windows.net/","web":"https://azureclibetarelease.z13.web.core.windows.net/","blob":"https://azureclibetarelease.blob.core.windows.net/","queue":"https://azureclibetarelease.queue.core.windows.net/","table":"https://azureclibetarelease.table.core.windows.net/","file":"https://azureclibetarelease.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://azureclibetarelease-secondary.dfs.core.windows.net/","web":"https://azureclibetarelease-secondary.z13.web.core.windows.net/","blob":"https://azureclibetarelease-secondary.blob.core.windows.net/","queue":"https://azureclibetarelease-secondary.queue.core.windows.net/","table":"https://azureclibetarelease-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Storage/storageAccounts/clitestvpncnn000002/listKeys?api-version=2021-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-10-11T12:19:57.0820302Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-10-11T12:19:57.0820302Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 Oct 2021 12:20:21 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitestvpncnn000002.blob.core.windows.net/clitestvpngw000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D98CB1810B91A5"'
      last-modified:
      - Mon, 11 Oct 2021 12:20:25 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001","name":"cli_test_active_active_vnet_vnet_connection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-11T12:19:45Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.21.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "GatewaySubnet",
      "properties": {"addressPrefix": "10.21.255.0/27", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1\",\r\n
        \ \"etag\": \"W/\\\"dd81b4f4-e41e-46f6-9559-575e0e7e1eb2\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"7224b708-c7ce-46d4-82a1-3be68b955349\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.21.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet\",\r\n
        \       \"etag\": \"W/\\\"dd81b4f4-e41e-46f6-9559-575e0e7e1eb2\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.21.255.0/27\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e7982776-d2bb-42d6-bdcb-8149e7d408a2?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e7982776-d2bb-42d6-bdcb-8149e7d408a2?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"publicIPAllocationMethod": "Dynamic",
      "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip1?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"gw1ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip1\",\r\n
        \ \"etag\": \"W/\\\"88c82e94-dc68-4ea0-8e69-0c3f15a11a4c\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"d81309a5-60b0-4a0c-871e-e4025aee3962\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/161e7c7d-e797-4a6c-9d48-46af154b40d0?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"ipConfigurations": [{"name": "vnetGatewayConfig0",
      "properties": {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip1"}}},
      {"name": "vnetGatewayConfig1", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip2"}}}],
      "gatewayType": "Vpn", "vpnType": "RouteBased", "enableBgp": true, "activeActive":
      true, "sku": {"name": "HighPerformance", "tier": "HighPerformance"}, "bgpSettings":
      {"asn": 65010, "bgpPeeringAddress": "10.52.255.253"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vgw1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1\",\r\n
        \ \"etag\": \"W/\\\"2877296e-c986-4814-a16c-313c27befff4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"254f29cb-4cdd-4298-b269-6b08962621be\",\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"enablePrivateIpAddress\": false,\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"vnetGatewayConfig0\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1/ipConfigurations/vnetGatewayConfig0\",\r\n
        \       \"etag\": \"W/\\\"2877296e-c986-4814-a16c-313c27befff4\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/virtualNetworkGateways/i[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"sharedKey": {"type": "securestring",
      "metadata": {"description": "Secure sharedKey"}}}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/connections", "name": "vnet1to2", "location": "westus",
      "tags": {}, "apiVersion": "2015-06-15", "dependsOn": [], "properties": {"virtualNetworkGateway1":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1"},
      "enableBgp": true, "connectionType": "Vnet2Vnet", "routingWeight": 10, "usePolicyBasedTrafficSelectors":
      false, "expressRouteGatewayBypass": null, "virtualNetworkGateway2": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw2"},
      "sharedKey": "[parameters(''sharedKey'')]"}}], "outputs": {"resource": {"type":
      "object", "value": "[reference(''vnet1to2'')]"}}}, "parameters": {"sharedKey":
      {"value": "abc123"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/vpn_connection_deploy_uJn56ZOkivWfzoTvSnR3Op3iiSHm9lk5","name":"vpn_connection_deploy_uJn56ZOkivWfzoTvSnR3Op3iiSHm9lk5","type":"Microsoft.Resources/deployments","properties":{"templateHash":"153551959549254818","parameters":{"sharedKey":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-10-11T12:44:59.5934715Z","duration":"PT2.6479434S","correlationId":"65887470-2b20-44ae-9758-7a92574fb07e","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"connections","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/vpn_connection_deploy_uJn56ZOkivWfzoTvSnR3Op3iiSHm9lk5/operationStatuses/08585676505885321012?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585676505885321012?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/connections/vnet1to2/getikesas?api-version=2021-03-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/121a6071-4523-43a7-a326-60713ce49225?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/121a6071-4523-43a7-a326-60713ce49225?api-version=2021-03-01
  response:
    body:
      string: '"{\"IkeSAs\":[{\"LocalEndpoint\":\"104.40.86.94\",\"RemoteEndpoint\":\"104.40.54.189\",\"InitiatorCookie\":799043597004550792,\"ResponderCookie\":3346566831227736403,\"LocalUdpEncapsulationPort\":0,\"RemoteUdpEncapsulationPort\":0,\"Encryption\":\"AES256\",\"Integrity\":\"SHA1\",\"DhGroup\":\"DHGroup2\",\"LifeTimeSeconds\":28810,\"IsSaInitiator\":false,\"ElapsedTimeInseconds\":28,\"QuickModeSAs\":[{\"LocalEndpoint\":\"104.40.86.94\",\"RemoteEndpoint\":\"104.40.54.189\",\"Encryption\":\"GCMAES256\",\"Integrity\":\"GCMAES256\",\"PfsGroupId\":\"None\",\"InboundSPI\":1266759612,\"OutboundSPI\":3275499954,\"LocalTrafficSelectors\":[\"0.0.0.0-255.255.255.255\"],\"RemoteTrafficSelectors\":[\"0.0.0.0-255.255.255.255\"],\"LifetimeKilobytes\":102400000,\"LifetimeSeconds\":27000,\"IsSaInitiator\":false,\"ElapsedTimeInseconds\":28}]},{\"LocalEndpoint\":\"104.40.86.94\",\"RemoteEndpoint\":\"104.40.54.254\",\"InitiatorCookie\":7040513345258736471,\"ResponderCookie\":1525223679729878626,\"LocalUdpEncapsulationPort\":0,\"RemoteUdpEncapsulationPort\":0,\"Encryption\":\"AES256\",\"Integrity\":\"SHA1\",\"DhGroup\":\"DHGroup2\",\"LifeTimeSeconds\":28810,\"IsSaInitiator\":false,\"ElapsedTimeInseconds\":25,\"QuickModeSAs\":[{\"LocalEndpoint\":\"104.40.86.94\",\"RemoteEndpoin[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/connections/vnet1to2/startPacketCapture?api-version=2021-03-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5f0d456d-fe3b-4b34-9e3d-ef7b4c616022?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/5f0d456d-fe3b-4b34-9e3d-ef7b4c616022?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5f0d456d-fe3b-4b34-9e3d-ef7b4c616022?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\":
        \"{\\\"Status\\\":\\\"Successful\\\",\\\"Data\\\":\\\"\\\"}\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sasUrl": "https://clitestvpncnn000002.blob.azure.com/clitestvpngw000003?se=2020-10-27&sp=w&sv=2018-11-09&sr=c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/connections/vnet1to2/stopPacketCapture?api-version=2021-03-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5c2b8d74-81f2-4ac0-981b-d62649d39a02?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/5c2b8d74-81f2-4ac0-981b-d62649d39a02?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5c2b8d74-81f2-4ac0-981b-d62649d39a02?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"NoPacketCaptureResponseDataFound\",\r\n
        \   \"message\": \"An internal error occured. The response did not contain
        any data. Please check storage for the capture.\",\r\n    \"details\": []\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
