interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.1.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "Frontend", "properties": {"addressPrefix": "10.1.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003?api-version=2024-03-01
  response:
    body:
      string: '{"name":"vnet-000003","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003","etag":"W/\"415063e3-33fa-4c15-9702-dc3219f514fc\"","type":"Microsoft.Network/virtualNetworks","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"94860248-5505-4104-9691-bed7f76f0cb5","addressSpace":{"addressPrefixes":["10.1.0.0/16"],"ipamPoolPrefixAllocations":[]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"Frontend","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003/subnets/Frontend","etag":"W/\"415063e3-33fa-4c15-9702-dc3219f514fc\"","properties":{"provisioningState":"Updating","addressPrefix":"10.1.0.0/24","ipamPoolPrefixAllocations":[],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8f8b654f-2628-4b4f-a4ed-23624043d0d6?api-version=2024-03-01&t=638619106313173143&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8f8b654f-2628-4b4f-a4ed-23624043d0d6?api-version=2024-03-01&t=638619106313173143&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"name": "GatewaySubnet", "properties": {"addressPrefix": "10.1.255.0/27",
      "defaultOutboundAccess": false, "privateEndpointNetworkPolicies": "Disabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003/subnets/GatewaySubnet?api-version=2024-01-01
  response:
    body:
      string: '{"name":"Ga[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/6eef6faf-14a0-4d48-82aa-63fd3367bed7?api-version=2024-01-01&t=638619106462018020&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003/subnets/GatewaySubnet?api-version=2024-01-01
  response:
    body:
      string: '{"name":"GatewaySubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003/subnets/GatewaySubnet","etag":"W/\"c516855d-a3cc-4cf7-b455-e36c7a759ee9\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.1.255.0/27","ipamPoolPrefixAllocations":[],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled","defaultOutboundAccess":false},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c516855d-a3cc-4cf7-b455-e36c7a759ee9"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_vnet_gateway_with_enable_private_ip_address000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001","name":"test_network_vnet_gateway_with_enable_private_ip_address000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_network_vnet_gateway_with_enable_private_ip_address","date":"2024-09-14T11:37:02Z","module":"network","DateCreated":"2024-09-14T11:37:07Z","Creator":"v-ruih@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/publicIPAddresses/ip-000002?api-version=2022-11-01
  response:
    body:
      string: '{"name":"ip-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/publicIPAddresses/ip-000002","etag":"W/\"20e259e1-2170-432f-b47a-fb334315882b\"","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"48414039-9bd9-44f4-a295-bcbd3f945b0c","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c14df6a9-682b-4cb3-9d2d-de03bb231ff0?api-version=2022-11-01&t=638619106539901847&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c14df6a9-682b-4cb3-9d2d-de03bb231ff0?api-version=2022-11-01&t=638619106539901847&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/publicIPAddresses/ip-000002?api-version=2022-11-01
  response:
    body:
      string: '{"name":"ip-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/publicIPAddresses/ip-000002","etag":"W/\"7861456b-c80e-43b4-b2cf-af8311d185aa\"","location":"eastus","properties":{"provisioningState":"Succeeded","resourceGuid":"48414039-9bd9-44f4-a295-bcbd3f945b0c","ipAddress":"52.170.218.223","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7861456b-c80e-43b4-b2cf-af8311d185aa"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"activeActive": false, "enablePrivateIpAddress":
      true, "gatewayType": "Vpn", "ipConfigurations": [{"name": "vnetGatewayConfig0",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/publicIPAddresses/ip-000002"},
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003/subnets/GatewaySubnet"}}}],
      "sku": {"name": "VpnGw2", "tier": "VpnGw2"}, "vpnGatewayGeneration": "Generation2",
      "vpnType": "RouteBased"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004?api-version=2023-09-01
  response:
    body:
      string: '{"name":"vg-000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004","etag":"W/\"3dd29d98-0bbe-43a6-9152-9ad84139fb9c\"","type":"Microsoft.Network/virtualNetworkGateways","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"f3cc5e31-949d-46f9-bfc5-2844fa305760","packetCaptureDiagnosticState":"None","enablePrivateIpAddress":true,"isMigrateToCSES":false,"ipConfigurations":[{"name":"vnetGatewayConfig0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004/ipConfigurations/vnetGatewayConfig0","etag":"W/\"3dd29d98-0bbe-43a6-9152-9ad84139fb9c\"","type":"Microsoft.Network/virtualNetworkGateways/ipConfigurations","properties":{"provisioningState":"Updating","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/publicIPAddresses/ip-000002"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003/subnets/GatewaySubnet"}}}],"natRules":[],"virtualNetworkGatewayPolicyGroups":[],"enableBgpRouteTranslationForNat":false,"disableIPSecReplayProtection":false,"sku":{"name":"VpnGw2","tier":"VpnGw2","capacity":2},"gatewayType":"Vpn","vpnType":"RouteBased","enableBgp":false,"activeActive":false,"vpnClientConfiguration":{"vpnClientProtocols":["OpenVPN","IkeV2"],"vpnAuthenticationTypes":[],"vpnClientRootCertificates":[],"vpnClientRevokedCertificates":[],"vngClientConnectionConfigurations":[],"radiusServers":[],"vpnClientIpsecPolicies":[]},"bgpSettings":{"asn":0,"peerWeight":0,"bgpPeeringAddresses":[{"ipconfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004/ipConfigurations/vnetGatewayConfig0","defaultBgpIpAddresses":[],"customBgpIpAddresses":[]}]},"vpnGatewayGeneration":"Generation2","allowRemoteVnetTraffic":false,"allowVirtualWanTraffic":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/76d12341-8309-4c80-ac6a-897132c393f8?api-version=2023-09-01&t=638619106634907633&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004?api-version=2023-09-01
  response:
    body:
      string: '{"name":"vg-000004","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004","etag":"W/\"cdccb90b-91b3-4b01-bbb5-33e045d54908\"","type":"Microsoft.Network/virtualNetworkGateways","location":"eastus","properties":{"provisioningState":"Succeeded","resourceGuid":"f3cc5e31-949d-46f9-bfc5-2844fa305760","packetCaptureDiagnosticState":"None","enablePrivateIpAddress":true,"isMigrateToCSES":false,"ipConfigurations":[{"name":"vnetGatewayConfig0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004/ipConfigurations/vnetGatewayConfig0","etag":"W/\"cdccb90b-91b3-4b01-bbb5-33e045d54908\"","type":"Microsoft.Network/virtualNetworkGateways/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.1.255.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/publicIPAddresses/ip-000002"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworks/vnet-000003/subnets/GatewaySubnet"}}}],"natRules":[],"virtualNetworkGatewayPolicyGroups":[],"enableBgpRouteTranslationForNat":false,"disableIPSecReplayProtection":false,"sku":{"name":"VpnGw2","tier":"VpnGw2","capacity":2},"gatewayType":"Vpn","vpnType":"RouteBased","enableBgp":false,"activeActive":false,"bgpSettings":{"asn":65515,"bgpPeeringAddress":"10.1.255.30","peerWeight":0,"bgpPeeringAddresses":[{"ipconfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_vnet_gateway_with_enable_private_ip_address000001/providers/Microsoft.Network/virtualNetworkGateways/vg-000004/ipConfigurations/vnetGatewayConfig0","defaultBgpIpAddresses":["10.1.255.30"],"customBgpIpAddresses":[],"tunnelIpAddresses":["52.170.218.223","10.1.255.4"]}]},"vpnGatewayGeneration":"Generation2","allowRemoteVnetTraffic":false,"allowVirtualWanTraffic":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '7499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b83750ae-900b-4c94-9114-b4821371680e?api-version=2023-09-01&t=638619116502931887&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDE[...]
[...]
