interactions:
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update_if_match000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update_if_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"70d4b58e-d4ad-446d-92b5-199895fdd1f9","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-37.ppe.azure-dns.com.","ns2-37.ppe.azure-dns.net.","ns3-37.ppe.azure-dns.org.","ns4-37.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 70d4b58e-d4ad-446d-92b5-199895fdd1f9
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"etag": "70d4b58e-d4ad-446d-92b5-199895fdd1f9", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag1": "foo"}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - 70d4b58e-d4ad-446d-92b5-199895fdd1f9
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update_if_match000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns_zone_update_if_match000001\/providers\/Microsoft.Network\/dnszones\/myzonex.com","name":"myzonex.com","type":"Microsoft.Network\/dnszones","etag":"44195f5c-1dbc-4123-aafe-eeabc6de3c3b","location":"global","tags":{"tag1":"foo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-37.ppe.azure-dns.com.","ns2-37.ppe.azure-dns.net.","ns3-37.ppe.azure-dns.org.","ns4-37.ppe.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 44195f5c-1dbc-4123-aafe-eeabc6de3c3b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"etag": "44195f5c-1dbc-4123-aafe-eeabc6de3c3b", "location": "global",
      "properties": {"zoneType": "Public"}, "tags": {"tag1": "foo", "tag2": "foo"}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - dummy
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns_zone_update_if_match000001/providers/Microsoft.Network/dnsZones/myzonex.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"PreconditionFailed","message":"The Zone myzonex.com has been
        modified (etag mismatch)."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 412
      message: Precondition Failed
version: 1
