interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_cert_name_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001","name":"cli_test_ag_cert_name_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-03T13:36:13Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1?api-version=2021-09-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_cert_name_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1","name":"id1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"d0573029-0d64-464e-abae-fa386d9ef82f","clientId":"5b5f9b23-9444-4778-a5fc-45930ff7b3fc"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_cert_name_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"ethanyang@microsoft.com","createdByType":"User","createdAt":"2022-08-03T13:36:25.011Z","lastModifiedBy":"ethanyang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-03T13:36:25.011Z"},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"f44cc02c-cec4-4b32-860a-50bdf6ab7362","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://cli-test-keyvault-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "f44cc02c-cec4-4b32-860a-50bdf6ab7362", "permissions": {"keys":
      ["all"], "secrets": ["all"], "certificates": ["all"], "storage": ["all"]}},
      {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "d0573029-0d64-464e-[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMPRV18xJXhXTxp2b7VWBNWf5TePlKGdRVWJ0YIycXF6WtOqZwRq0+8+mK9eGImuC7hOK5mgZeeQETG1FRaGu57geL/2F+te05f+jNgKogocD6bAS6bA3lgwsVCBQoZUXtaOyas9hOUnbntjaB1MgtRgrzs64kqgOqhza7k8P9RX+i5a4DRNFD6eIOxz6j6sdFnCh7PyRP+ddEi8MeoDPOWUM3iZJDWcVT9Q5rZ2roHf0boS3DUzRtFO4ZH+xUA6+JY7rVCTtja2wqQodf5nrbbXpapEvT8Kz/Ie8dlrqSRWBrmSbe+OPMHueSDp0BSJdDuaidRD2DhEuWjywm23Ok0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQATKAY3BReyO6HdIeP77OpnF2oTuh9FLsj5YuqPRaEowhSLit7Gxb7VD5fxIwAnXYvib5oQhwFx4B3m09K1+HeqYqA7HEwtgQraA3+2V1+R7Qqj8HdBh7ckuVRTmZrRSp3IFPk2NcD153A9u+ZS1HJh/lgYjtXLULjeM5sENF/1k8WrhswhNxIVELdMWyAvEXQCPUYDP8U0av4J8EfZ42qe6kgzaVnbY6JrR4XxTj+rxSgnHpMuoognzFZFOlcB7aqZfRWMydxWK5cEi0wgt/FP7SByC+Kz4c4Sr1rMV3EJYfLqgdCv7E6St7DVTohh9CP4ZgLxE5cUNxQ3wBI7O1KV","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"a8c7081195be4ada9c269a7bf105e848"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending?api-version=7.0&request_id=a8c7081195be4ada9c269a7bf105e848
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMPRV18xJXhXTxp[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMPRV18xJXhXTxp2b7VWBNWf5TePlKGdRVWJ0YIycXF6WtOqZwRq0+8+mK9eGImuC7hOK5mgZeeQETG1FRaGu57geL/2F+te05f+jNgKogocD6bAS6bA3lgwsVCBQoZUXtaOyas9hOUnbntjaB1MgtRgrzs64kqgOqhza7k8P9RX+i5a4DRNFD6eIOxz6j6sdFnCh7PyRP+ddEi8MeoDPOWUM3iZJDWcVT9Q5rZ2roHf0boS3DUzRtFO4ZH+xUA6+JY7rVCTtja2wqQodf5nrbbXpapEvT8Kz/Ie8dlrqSRWBrmSbe+OPMHueSDp0BSJdDuaidRD2DhEuWjywm23Ok0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQATKAY3BReyO6HdIeP77OpnF2oTuh9FLsj5YuqPRaEowhSLit7Gxb7VD5fxIwAnXYvib5oQhwFx4B3m09K1+HeqYqA7HEwtgQraA3+2V1+R7Qqj8HdBh7ckuVRTmZrRSp3IFPk2NcD153A9u+ZS1HJh/lgYjtXLULjeM5sENF/1k8WrhswhNxIVELdMWyAvEXQCPUYDP8U0av4J8EfZ42qe6kgzaVnbY6JrR4XxTj+rxSgnHpMuoognzFZFOlcB7aqZfRWMydxWK5cEi0wgt/FP7SByC+Kz4c4Sr1rMV3EJYfLqgdCv7E6St7DVTohh9CP4ZgLxE5cUNxQ3wBI7O1KV","cancellation_requested":false,"status":"completed","target":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate","request_id":"a8c7081195be4ada9c269a7bf105e848"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/?api-version=7.0
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/0a16e85478594d3fa0dca6bda91c4ab7","kid":"https://cli-test-keyvault-000002.vault.azure.net/keys/MyCertificate/0a16e85478594d3fa0dca6bda91c4ab7","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/MyCertificate/0a16e85478594d3fa0dca6bda91c4ab7","x5t":"CRjtXlQqi7EPBJPdqslAFxH1O8I","cer":"MIIDQjCCAiqgAwIBAgIQSc8uZwauSEGlxAMdxMB+LzANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIyMDgwMzEzMjcyMVoXDTIzMDgwMzEzMzcyMVowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMPRV18xJXhXTxp2b7VWBNWf5TePlKGdRVWJ0YIycXF6WtOqZwRq0+8+mK9eGImuC7hOK5mgZeeQETG1FRaGu57geL/2F+te05f+jNgKogocD6bAS6bA3lgwsVCBQoZUXtaOyas9hOUnbntjaB1MgtRgrzs64kqgOqhza7k8P9RX+i5a4DRNFD6eIOxz6j6sdFnCh7PyRP+ddEi8MeoDPOWUM3iZJDWcVT9Q5rZ2roHf0boS3DUzRtFO4ZH+xUA6+JY7rVCTtja2wqQodf5nrbbXpapEvT8Kz/Ie8dlrqSRWBrmSbe+OPMHueSDp0BSJdDuaidRD2DhEuWjywm23Ok0CAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFF7NoAhvZnSCS8KOMY+7KaPjBtmwMB0GA1UdDgQWBBRezaAIb2Z0gkvCjjGPuymj4wbZsDANBgkqhkiG9w0BAQsFAAOCAQEAoSyxHxVnValD+3D4A4IuIdFmmin5EPb84lqHtcQvYhtdgWowN2dhtvi3FvcIprVs2yDQaniB4jHtpjmSrHuiDpXVa+O4nCaH7CpA5kuEMuQGZ5ioF774FknqtDmzdkDRmFx9KjZmoRkot0Nm7A4tRie9ZolDKYfcZxbs/z7vJnTeGzvCacn0dRcZEF6Hb6J6j2PF+tkmwWoaekv9X4q/dlmyQQ4qE79ugBlbi0se+bd3CP4PzyXmiFvKRlvD2TfrLrpWh3UmvplwqpZMU+26PA9X8yjM/7IOH71n9BOMc3ogFHg6KALPohCJK3LQ2bgDAbJI2q7YWUF9uMZVLKDo2A==","attributes":{"enabled":true,"nbf":1659533241,"exp":1691069841,"created":1659533842,"updated":1659533842,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"policy":{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1659533830,"updated":1659533830}},"pending":{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/MyCertificate/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/publicIPAddresses/ip1?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/publicIPAddresses/ip1\",\r\n
        \ \"etag\": \"W/\\\"2b08ddea-87f3-4d76-93ce-ec201262645d\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"e1e90fdd-e5f4-4411-b24e-c2e5db7d115f\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cd0b1a83-b63f-47e0-b107-ccef013e2052?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cd0b1a83-b63f-47e0-b107-ccef013e2052?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/publicIPAddresses/ip1?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/publicIPAddresses/ip1\",\r\n
        \ \"etag\": \"W/\\\"9cb06523-ea44-4e49-895b-f703f8200774\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"e1e90fdd-e5f4-4411-b24e-c2e5db7d115f\",\r\n    \"ipAddress\":
        \"20.245.147.154\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
        {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9cb06523-ea44-4e49-895b-f703f8200774"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_cert_name_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_cert_name_000001%27%20and%20name%20eq%20%27ip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/publicIPAddresses/ip1","name":"ip1","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"},"location":"westus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''gateway'')]"}, "resources": [{"name": "gatewayVnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "gateway", "location": "westus",
      "tags": {}, "apiVersion": "2021-08-01", "dependsOn": ["Microsoft.Network/virtualNetworks/gatewayVnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/publicIPAddresses/ip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      "1000"}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/virtualNetworks/gatewayVnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "https", "SslCertificate": {"id": "[concat(variables(''appGwID''),
      ''/sslCertificates/TestCertName'')]"}}}], "sku": {"name": "Standard_v2", "tier":
      "Standard_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "priority": 1001}}], "privateLinkConfigurations": [], "sslCertificates": [{"name":
      "TestCertName", "properties": {"keyVaultSecretId": "https://cli-test-keyvault-000002.vault.azure.net/secrets/MyCertificate/0a16e85478594d3fa0dca6bda91c4ab7"}}]},
      "zones": null, "identity": {"type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}}}}], "outputs": {"applicationGateway": {"type": "object", "value": "[reference(''gateway'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_cert_name_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Resources/deployments/ag_deploy_TwcdRqTyNsmg6TUidJfGjrsD24dxcDhl","name":"ag_deploy_TwcdRqTyNsmg6TUidJfGjrsD24dxcDhl","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2687599867164133385","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-08-03T13:37:38.9772174Z","duration":"PT0.0007494S","correlationId":"ee327235-25ce-47d7-8b74-f6568e3d957f","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/virtualNetworks/gatewayVnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"gatewayVnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_cert_name_000001/providers/Microsoft.Network/applicationGateways/gateway","resourceType":"Microsoft.Network/applicationGateways","resourceName":"gateway"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_cert_name_000001/providers/Microsoft.Resources/deployments/ag_deploy_TwcdRqTyNsmg6TUidJfGjrsD24dxcDhl/operationStatuses/08585420730280066170?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_cert_name_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585420730280066170?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
