interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "None"}, "properties": {"storageAccounts":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002",
      "type": "Primary"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"clitestams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"East
        US\",\"properties\":{\r\n    \"mediaServiceId\":\"cfe47913-57e5-438c-8205-34db067ba849\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    }\r\n  },\"systemData\":{\r\n    \"createdBy\":\"kairu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-11-17T02:21:23.9327865Z\",\"lastModifiedBy\":\"kairu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-11-17T02:21:23.9327865Z\"\r\n
        \ },\"identity\":{\r\n    \"type\":\"None\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"keydelivery\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/keydelivery\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"keydelivery\",\"requiredMembers\":[\r\n          \"keydelivery\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"liveevent\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/liveevent\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"liveevent\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"streamingendpoint\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/streamingendpoint\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"streamingendpoint\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001","name":"test_private_endpoint_connection_media_service000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-11-17T02:20:01Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000005",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"ec8553cf-c69c-45a1-9475-60ceb877b8a4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"e86fd9fc-e702-4888-a0a0-bb621c53277b\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"ec8553cf-c69c-45a1-9475-60ceb877b8a4\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0b870574-fc07-4ee9-b2aa-8695df60dd4f?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0b870574-fc07-4ee9-b2aa-8695df60dd4f?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"f43a6952-543b-47d8-bfa8-43f1f676f705\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f43a6952-543b-47d8-bfa8-43f1f676f705"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000007", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003",
      "groupIds": ["keydelivery"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_priv[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"75609a74-f0b0-4451-830c-fed1399e1e9a\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/75609a74-f0b0-4451-830c-fed1399e1e9a\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \       \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \         \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n        },\"privateEndpoint\":{\r\n
        \         \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/75609a74-f0b0-4451-830c-fed1399e1e9a?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"75609a74-f0b0-4451-830c-fed1399e1e9a\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/75609a74-f0b0-4451-830c-fed1399e1e9a\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \   \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \     \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n    },\"privateEndpoint\":{\r\n
        \     \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \   }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/75609a74-f0b0-4451-830c-fed1399e1e9a?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnectionOperations/37dcf45f-b01d-4bb7-a62e-e49c100d1608?api-version=2021-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnectionOperations/37dcf45f-b01d-4bb7-a62e-e49c100d1608?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1