interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_address_pool_with_sync_mode000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001","name":"cli_test_lb_address_pool_with_sync_mode000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_network_lb_address_pool_with_sync_mode","date":"2024-08-19T06:21:41Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_lb_address_pool_with_sync_mode000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_lb_address_pool_with_sync_mode000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2022-09-01&%24skiptoken=rZNNb%2bIwFEX%2fC%2bss8tFsKs2CTtJMUJ4jGINr7yIakTgxVGAEcTX%2ffV4gpcMomUrRLEFwfH19z%2ftkm591Um6rw%2bTxfbLOt3qf1Uf8MMmb2VG8FDZlz03mrppY7kquwAZTNUCnGkzsktK2gZEioXXJZahTtqiEEjUEi5pQcOOt%2fW1ifWLzY%2fY2gMa%2fVGkQ%2boSGGmR8gsa2iVpUCd04KeV43EoRuXwgMvaEDE2HzrODHo5LV4pLUnLDtYhmNUemiPgpYc9KyLkWweYE7qrg5qkWjH%2fEvTLdgaAkAJez0BF0g1BSEIRyOX1IWOjijTU3hUrp2iPB1E3p8i%2foPxogUWyD4n5KYy0Upv2JYFqdE4ZFSwSzWQmUSK7mnqBPRdeAzN6ybRt5KC8F%2fHmIxYWIAEO%2b23bKuI1YB1zQgla%2bYKtSqKVH2LLpsIfdURdf7UEE0wbY0gGDe8D7t3sgpqgTZALDa%2bDZIPEUCg0JbuxTftBfoUHFPsb2ubu87KF9O44oRJ%2bJwe9Y6HET%2bmA2jpDgdbFbdH7c797ygTrA8DOJSJlGoDl9LQBbFnSNm4hP3FSXlrEOKaK5wdc4%2f8Ed3FlKcfKGO%2fg2OAlwRKtF0Gqx8VM21yRalCl9qgStizRaqDumNxQ0wD0pUeGWsMe1TTAoCda4sxmCKk1cOHF37mHfCii%2fvtsv61PodPtjV7%2bi1t2XkO2rfI%2bn3ap%2f%2fF%2bOWzdku%2b9e7Bi%2frauJvTw%2bwu2O5%2fYCx3j9ARy89RinrZvR%2fTlH%2bGzd29zLHeOydWdyL3aMxxfs1eJ%2b5giHL8zjoZc3xt%2bO5%2fUCYZS7vwE%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_lb_address_pool_with_sync_mode000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=rZNNb%2BIwFEX/C%2Bss8tFsKs2CTtJMUJ4jGINr7yIakTgxVGAEcTX/fV4gpcMomUrRLEFwfH19z/tkm591Um6rw%2BTxfbLOt3qf1Uf8MMmb2VG8FDZlz03mrppY7kqu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_lb_address_pool_with_sync_mode000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=rZGxboMwEIbfhZnBJXSJ1CEqCQVhI6gTam8WsQo2hgiMEoj67nWqNG2loKpRhxvuhu/%2B%2B%2B5o1fygo7KWnTU/Wjmvdcuq3jQWH8KevhQAZ6uBOZshEE1JxkIRlYwIQ40U3MNHAGi2UpEppAJNcA6Qsz4QJxUQb8ugBg%2BWbXHW6b5zeM92E%2BA4W97H3tJF4tVAiEOeT2BUnMBUJZri3CXjpkJeKpCffoIF27H6RJ/Ewr3JM6Mi10hUApYAxF7uRLiSsZ9oOIaSeoEb%2B%2BSOCjme83ZNr4vfXCCRz0gWKiICw0lcOJjIGJURlsbPwuxbAzRKM4MuEQvwwX6zv4TH9VNTbY328xCyVvLWXHLZPP%2BvH9jfPnAVeot/%2B2J/Avl39/ZP81e5t3l/Bw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-05-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPlb000002", "location": "eastus2", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"type": "Microsoft.Network/loadBalancers", "name": "lb000002", "location":
      "eastus2", "tags": {}, "apiVersion": "2023-04-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb000002"],
      "properties": {"backendAddressPools": [{"name": "lb000002bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb000002"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Standard"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''lb000002'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Resources/deployments/lb_deploy_MgL8lSytFNJye3M6S4jav938NGKEp40f","name":"lb_deploy_MgL8lSytFNJye3M6S4jav938NGKEp40f","type":"Microsoft.Resources/deployments","properties":{"templateHash":"9721587012405738892","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-08-19T06:21:58.6762571Z","duration":"PT0.0002206S","correlationId":"e3000dcb-b0a1-4f99-81e1-46ac0e17a14b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb000002","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb000002"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/loadBalancers/lb000002","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Resources/deployments/lb_deploy_MgL8lSytFNJye3M6S4jav938NGKEp40f/operationStatuses/08584775583697534745?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.76.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584775583697534745?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_address_pool_with_sync_mode000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001","name":"cli_test_lb_address_pool_with_sync_mode000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_network_lb_address_pool_with_sync_mode","date":"2024-08-19T06:21:41Z","module":"network","DateCreated":"2024-08-19T06:21:48Z","Creator":"v-ruih@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/virtualNetworks/vnet000005?api-version=2024-03-01
  response:
    body:
      string: '{"name":"vnet000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/virtualNetworks/vnet000005","etag":"W/\"8885c0b9-7696-4b4f-8f7e-1dab3cf0028b\"","type":"Microsoft.Network/virtualNetworks","location":"eastus2","properties":{"provisioningState":"Updating","resourceGuid":"152940d1-71ab-4a30-b491-a6322618092a","addressSpace":{"addressPrefixes":["10.0.0.0/16"],"ipamPoolPrefixAllocations":[]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/d2b7cc07-b425-4422-9b59-f2d7fc82b46a?api-version=2024-03-01&t=638596453597761560&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDEzVhc3luY29[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/d2b7cc07-b425-4422-9b59-f2d7fc82b46a?api-version=2024-03-01&t=638596453597761560&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/loadBalancers/lb000002?api-version=2023-04-01
  response:
    body:
      string: '{"name":"lb000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/loadBalancers/lb000002","etag":"W/\"4438f34b-ca9a-4755-b7ab-f8345017716f\"","type":"Microsoft.Network/loadBalancers","location":"eastus2","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"5fcadc1e-a764-4b70-a3ee-aa05037fbfdf","frontendIPConfigurations":[{"name":"LoadBalancerFrontEnd","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/loadBalancers/lb000002/frontendIPConfigurations/LoadBalancerFrontEnd","etag":"W/\"4438f34b-ca9a-4755-b7ab-f8345017716f\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb000002"}}}],"backendAddressPools":[{"name":"lb000002bepool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/loadBalancers/lb000002/backendAddressPools/lb000002bepool","etag":"W/\"4438f34b-ca9a-4755-b7ab-f8345017716f\"","properties":{"provisioningState":"Succeeded","loadBalancerBackendAddresses":[]},"type":"Microsoft.Network/loadBalancers/backendAddressPools"}],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[]},"sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4438f34b-ca9a-4755-b7ab-f8345017716f"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "ap1000003", "properties": {"syncMode": "Manual", "virtualNetwork":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/virtualNetworks/vnet000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_address_pool_with_sync_mode000001/providers/Microsoft.Network/loadBalancers/lb000002/backendAddressPools/ap1000003?api-ver[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/0d804b01-a37b-4760-ba66-a257788e397f?api-version=2023-04-01&t=638596453738588999&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/49adeca2-e31a-438b-901f-5f5d83f856e6?api-version=2023-04-01&t=638596453797620852&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/addbea7f-889f-49f1-8c56-b239f6a507d4?api-version=2023-04-01&t=638596453839495338&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/39b9e21a-e70f-44a5-95dd-c8e0da3e7f85?api-version=2023-04-01&t=638596453926269514&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/6ed9b801-cfeb-4725-9d82-689d13071478?api-version=2023-04-01&t=638596453983520826&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQD[...]
[...]
