interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001","name":"cli_test_app_gateway_waf_policy_000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","test":"test_network_app_gateway_waf_policy_with_application_gateway","date":"2025-05-21T06:57:04Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "properties": {"managedRules": {"managedRuleSets":
      [{"ruleSetType": "Microsoft_DefaultRuleSet", "ruleSetVersion": "2.1"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2024-03-01
  response:
    body:
      string: '{"name":"agp1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1","etag":"W/\"b307b3d4-9b41-4016-8a5f-ddc1cf7d143c\"","type":"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies","location":"westcentralus","properties":{"provisioningState":"Updating","customRules":[],"policySettings":{"requestBodyCheck":true,"maxRequestBodySizeInKb":128,"fileUploadLimitInMb":100,"state":"Disabled","mode":"Detection","requestBodyInspectLimitInKB":128,"fileUploadEnforcement":true,"requestBodyEnforcement":true},"managedRules":{"managedRuleSets":[{"ruleSetType":"Microsoft_DefaultRuleSet","ruleSetVersion":"2.1","ruleGroupOverrides":[]}],"exclusions":[]}}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/6f08ed11-5b61-40ef-a239-921039a68d45?api-version=2024-03-01&t=638834074342557480&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies?api-version=2024-03-01
  response:
    body:
      string: '{"value":[{"name":"agp1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1","etag":"W/\"08b142f8-4a69-4d7c-ac53-829dbe92a7bd\"","type":"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies","location":"westcentralus","tags":{"test":"best"},"properties":{"provisioningState":"Succeeded","customRules":[],"policySettings":{"requestBodyCheck":true,"maxRequestBodySizeInKb":128,"fileUploadLimitInMb":100,"state":"Disabled","mode":"Detection","requestBodyInspectLimitInKB":128,"fileUploadEnforcement":true,"requestBodyEnforcement":true},"managedRules":{"managedRuleSets":[{"ruleSetType":"Microsoft_DefaultRuleSet","ruleSetVersion":"2.1","ruleGroupOverrides":[]}],"exclusions":[]}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 68a64ad8-be96-400f-94eb-faf6dd19215f
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/67a466fc-8eae-4b80-ae99-15989ecb78c8?api-version=2024-03-01&t=638834074453419668&c=MIIIFjCCBv6gAwIBAgITHgbhpaW5iuWBbhED7QAABuGlpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNTA2MDUyMDExWhcNMjYwNTAxMDUyMDExWjCBjDELMA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operationResults/67a466fc-8eae-4b80-ae99-15989ecb78c8?api-version=2024-03-01&t=638834074453419668&c=MIIIFjCCBv6gAwIBAgITHgbhpaW5iuWBbhED7QAABuGlpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNTA2MDUyMDExWhcNMjYwNTAxMDUyMDExWjCB[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westcentralus", "properties": {"customRules": [{"action": "Log",
      "matchConditions": [{"matchValues": ["192.168.1.0/24", "10.0.0.0/24"], "matchVariables":
      [{"variableName": "RemoteAddr"}], "operator": "IPMatch"}], "name": "rule1",
      "priority": 50, "ruleType": "MatchRule", "state": "Enabled"}], "managedRules":
      {"exclusions": [], "managedRuleSets": [{"ruleGroupOverrides": [], "ruleSetType":
      "OWASP", "ruleSetVersion": "3.2"}]}, "policySettings": {"fileUploadEnforcement":
      true, "fileUploadLimitInMb": 100, "maxRequestBodySizeInKb": 128, "mode": "Detection",
      "requestBodyCheck": true, "requestBodyEnforcement": true, "requestBodyInspectLimitInKB":
      128, "state": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2024-03-01
  response:
    body:
      string: '{"name":"agp1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1","etag":"W/\"046e1d92-4d66-46b7-a20f-f4d3ad353e59\"","type":"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies","location":"westcentralus","properties":{"provisioningState":"Updating","customRules":[{"name":"rule1","priority":50,"ruleType":"MatchRule","action":"Log","matchConditions":[{"matchVariables":[{"variableName":"RemoteAddr"}],"operator":"IPMatch","negationConditon":false,"matchValues":["192.168.1.0/24","10.0.0.0/24"],"transforms":[]}],"skippedManagedRuleSets":[],"state":"Enabled"}],"policySettings":{"requestBodyCheck":true,"maxRequestBodySizeInKb":128,"fileUploadLimitInMb":100,"state":"Disabled","mode":"Detection","requestBodyInspectLimitInKB":128,"fileUploadEnforcement":true,"requestBodyEnforcement":true},"managedRules":{"managedRuleSets":[{"ruleSetType":"OWASP","ruleSetVersion":"3.2","ruleGroupOverrides":[]}],"exclusions":[]}}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westcentralus", "properties": {"customRules": [{"action": "Log",
      "matchConditions": [{"matchValues": ["192.168.1.0/24", "10.0.0.0/24"], "matchVariables":
      [{"variableName": "RemoteAddr"}], "negationConditon": false, "operator": "IPMatch",
      "transforms": []}], "name": "rule1", "priority": 50, "ruleType": "MatchRule",
      "state": "Enabled"}, {"action": "Log", "matchConditions": [{"matchValues": ["192.168.1.0/24",
      "10.0.0.0/24"], "matchVariables": [{"variableName": "RemoteAddr"}], "negationConditon":
      false, "operator": "IPMatch", "transforms": []}], "name": "rule2", "priority":
      100, "ruleType": "MatchRule", "state": "Enabled"}], "managedRules": {"exclusions":
      [], "managedRuleSets": [{"ruleGroupOverrides": [{"ruleGroupName": "REQUEST-931-APPLICATION-ATTACK-RFI",
      "rules": [{"ruleId": "931120"}, {"ruleId": "931130"}]}], "ruleSetType": "OWASP",
      "ruleSetVersion": "3.2"}]}, "policySettings": {"fileUploadEnforcement": true,
      "fileUploadLimitInMb": 100, "maxRequestBodySizeInKb": 128, "mode": "Detection",
      "requestBodyCheck": true, "requestBodyEnforcement": true, "requestBodyInspectLimitInKB":
      128, "state": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westcentralus", "properties": {"customRules": [{"action": "Log",
      "matchConditions": [{"matchValues": ["192.168.1.0/24", "10.0.0.0/24"], "matchVariables":
      [{"variableName": "RemoteAddr"}], "negationConditon": false, "operator": "IPMatch",
      "transforms": []}], "name": "rule1", "priority": 50, "ruleType": "MatchRule",
      "state": "Enabled"}, {"action": "Log", "matchConditions": [{"matchValues": ["192.168.1.0/24",
      "10.0.0.0/24"], "matchVariables": [{"variableName": "RemoteAddr"}], "negationConditon":
      false, "operator": "IPMatch", "transforms": []}], "name": "rule2", "priority":
      100, "ruleType": "MatchRule", "state": "Enabled"}], "managedRules": {"exclusions":
      [{"matchVariable": "RequestHeaderNames", "selector": "Bing", "selectorMatchOperator":
      "StartsWith"}], "managedRuleSets": [{"ruleGroupOverrides": [{"ruleGroupName":
      "REQUEST-931-APPLICATION-ATTACK-RFI", "rules": [{"ruleId": "931120", "state":
      "Disabled"}, {"ruleId": "931130", "state": "Disabled"}]}, {"ruleGroupName":
      "REQUEST-913-SCANNER-DETECTION", "rules": [{"ruleId": "913100", "state": "Disabled"}]}],
      "ruleSetType": "OWASP", "ruleSetVersion": "3.2"}, {"ruleGroupOverrides": [],
      "ruleSetType": "Microsoft_BotManagerRuleSet", "ruleSetVersion": "[...]
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"idleTimeoutInMinutes": 4,
      "publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2024-07-01
  response:
    body:
      string: '{"name":"pip1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1","etag":"W/\"d9da6d5c-0a2d-4e7f-b3f8-83a80b02b7f2\"","location":"westcentralus","properties":{"provisioningState":"Updating","resourceGuid":"e2cc5024-8277-4317-bce2-e14c78265219","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/2b19604d-a0b3-4bcf-86e5-ba33c31557d1?api-version=2024-07-01&t=638834074793401691&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/2b19604d-a0b3-4bcf-86e5-ba33c31557d1?api-version=2024-07-01&t=638834074793401691&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2022-11-01
  response:
    body:
      string: '{"name":"pip1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1","etag":"W/\"bd9f06b1-6145-4d8a-a685-0ba93177b7d3\"","location":"westcentralus","properties":{"provisioningState":"Succeeded","resourceGuid":"fa0dcceb-c2c5-4892-8b17-bb2a697eec78","ipAddress":"52.150.225.154","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bd9f06b1-6145-4d8a-a685-0ba93177b7d3"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001","name":"cli_test_app_gateway_waf_policy_000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","test":"test_network_app_gateway_waf_policy_with_application_gateway","date":"2024-10-22T02:46:34Z","module":"network","Creator":"aaa@foo.com","DateCreated":"2024-10-22T02:46:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/647437ff-6742-4b7a-b706-4061ea8bcab9?api-version=2024-07-01&t=638834074858165850&c=MIIIFjCCBv6gAwIBAgITHgbhpaW5iuWBbhED7QAABuGlpTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNTA2MDUyMDExWhcNMjYwNTAxMDUyMDExWjCBjDELMA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy_000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_app_gateway_waf_policy_000001%27+and+name+eq+%27vnet1%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2024-11-01&%24skiptoken=rZLRToMwFIbfhWsuKps3Jl4ssiFkp820A9u7ZiOu7WBmlAxqfHeLzukSpgnx9uT0y9%2f%2ffK9emTdmLktdeTevXrWrzWaVl2YvtrWbeHmb1Pxpg2g2a0WQtrHaSRItW065AqoNjlJJHhHC2aKZU90AXRrIHgqeLQ5crRqezYq4RLee7%2bWiMnUV5LV4uQQO45ZEqSIOgsP1Bu4QgiJVc%2frccDoxOIMWCq652kisHs7BF5isWI45ja%2bJe88UjFgXVnHpwgbYMoNtonk0HTE7bXCQfjGVeBFll%2fgCllA94lQjXIDDsuCjAzpBDnvFbOxmekyyZQt2cYXd7rEDUVddtVL8gobIpbSzLQ%2fBYJVIJhHiNO0Sj3AEhkRwcD8KcDi1jK7aI%2fqvqwFdjHGRSHc3h%2bAF7oqw0%2fE8cwWEEwMKGgjAMuvKDeET%2b%2bZ%2f%2b0HK%2b9127Sw5DkHsdb53%2fZxLc%2fNfyvg%2fhOmHDtDlCO3lDVHFP4nSixyiiX8mSS92iCL%2bSZB%2b5CA93gE%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy_000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2024-11-01&$skiptoken=rZLRToMwFIbfhWsuKps3Jl4ssiFkp820A9u7ZiOu7WBmlAxqfHeLzukSpgnx9uT0y9/fK9emTdmLktdeTevXrWrzWaVl2YvtrWbeHmb1Pxpg2g2a0WQtrHaSRItW065AqoNjlJJHhHC2aKZU90AXRrIHgqeLQ5crRqezYq4RLee7%2BWiMnUV5LV4uQQO45ZEqSIOgsP1Bu4QgiJVc/rccDoxOIMWCq652kisHs7BF5isWI45ja%2BJe88UjFgXVnHpwgbYMoNtonk0HTE7bXCQfjGVeBFll/gCllA94lQjXIDDsuCjAzpBDnvFbOxmekyyZQt2cYXd7rEDUVddtVL8gobIpbSzLQ/BYJVIJhHiNO0Sj3AEhkRwcD8KcDi1jK7aI/qvqwFdjHGRSHc3h%2BAF7oqw0/E8cwWEEwMKGgjAMuvKDeET%2B%2BZ/%2B0HK%2B9127Sw5DkHsdb53/ZxLc/Nfyvg/hOmHDtDlCO3lDVHFP4nSixyiiX8mSS92iCL%2BSZB%2B5CA93gE%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy_000001%27%20and%20name%20eq%20%27pip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy_000001%27%20and%20name%20eq%20%27pip1%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2024-11-01&$skiptoken=rZLLbtswEEX/RWstKLreBOjCrR6RoSHhYGyV3BGOUL0dWBQUMci/h26FtAbkBBCyncWZO3fOi9Nmzzop2qpz7l6c7tTr/Ji1%2Bqzq3k6cbNz28ldOMA1HRQ9jXJ4KwGDFUQwQ7bTAyuM/CRHmOCRpsBa41xLDmuNu5Omh4Gk8xC357rhOpjrddzTr1dMNMMPdSmI1QCM0mA0VIyHcf2ySNGykD5phYDgGg2z2a2bg2xX4BlP%2BCVWX4AdaULFilinotkxsMJ5apn%2BkEAWE43HN/YBMzFI9qfaS%2BAZW4M4TCCsw9t4mzFlBCMPNmODvZ6DCRg0bu87I8qGUfuBNWNV3l2oL9QGaUfBstcbWbFsQHli0vd4kWNfMVLbevcfMjxqMrds8lBP606/59niMKStjDc02lxdsdKgTzAuL1DISo4xkDk1AmNn8/dqr%2B88P3t6f6kdryTQEda6ys%2B3nWpq7r1LG/U%2BYWegSXSboLG%2BJKu67KLPIJZq4V5LMYpco4r4LMouERXq8AQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag1'')]"}, "resources": [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks",
      "location": "westcentralus", "apiVersion": "2015-06-15", "dependsOn": [], "tags":
      {}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westcentralus",
      "tags": {}, "apiVersion": "2022-05-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "priority": 1001}}], "privateLinkConfigurations": [], "firewallPolicy": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1"}},
      "zones": null}], "outputs": {"applicationGateway": {"type": "object", "value":
      "[reference(''ag1'')]"}}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/ag_deploy_9piw1SNo8p3SPDTn6kx43to2pAGrJrdn","name":"ag_deploy_9piw1SNo8p3SPDTn6kx43to2pAGrJrdn","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17578899278083398471","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-05-21T06:58:14.6785669Z","duration":"PT0.0007682S","correlationId":"71eba6e1-ce6f-4d7f-bd7e-2a16bdcf6db3","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westcentralus"]},{"resourceType":"applicationGateways","locations":["westcentralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/ag_deploy_NGMOUvGfOTgmmULbi5FIOggVvYst47xI/operationStatuses/08584720415988145904?api-version=2024-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.338.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584720415988145904?api-version=2024-11-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy_000001%27%20and%20name%20eq%20%27vnet2%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2024-11-01&$skiptoken=rdLPb5swFMDx/4UzB8eFS6UdspowotgoqTPP72ZRVGN%2BpApGDKr%2B73U61C0S2SS06zt8eH58X70m/2l3RVO23v2r1546q7O8sWdVdW7i5cO2gx8acbEZFP4%2BJOZUMHwoJNcGeGJpneD0ESEQst/x5xEItTSGEkQ0Ur4OoD6GSYO%2BeL6Xq9Z2Lc479XIDdtgdkBKDWVsQG00LhFJBHVwVEkfuYwfDxrKXdRJIToMr%2BIYJcdQzs17RcW9Trmv2gBAjUbATUSDHo2XxtmQkC8DoIhXbcjKNelHNZeMbLOVfK2nKISWZpWMW/lrV3UAkIRXSAsnuJHbPMetQ1ns8saprL6ct1N9oTFcQJwGQo6W8DD825s%2BXjVeUODreB%2B4CPYjjyl2sn%2Bh/TXJk14aXVEsLRMHTQeE3CzcuUcDiezl0MxkYRpvNJCn6oN983/3kTbfTtWTq2QaUnUu87O7z3U09/8rGf%2BPYGbRJblM6Ky3JBX/M5RZckkm/lUk8%2ByCRPzPQGbJZXm8Aw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy_000001%27%20and%20name%20eq%20%27pip2%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2024-11-01&$skiptoken=rZLBiqswFIbfxbWLNLWbgVmUG%2BtYPBEh1kl2oVeq0dihRlod7rtPHGRmCvZekLsIhLP4zs9/vnenyW8mKpuqdZ7enfbcmeKYN%2BYi685OnLzfd%2BK1QCzb9RIf%2BlCdSxi2VyAnD0hlBDsiWiIEpC6ibFfSwDf2r0VwKLniHh9O17BBz47r5LI1XYvzTr49AAu9L/hwxJSlJmawEr8QojpZRdm%2BgCwxFAOGIFlzNcIP9R34ARMwX8XE3whyNHSwwSxTEMARO234sLV7klschFioagAc4omp5JtsxsQPsJztldC7QmjfcJ0gOkYNfBSx6grM9qI5sqs9wao1z9J%2BwsquHast5V/QMYGeM25ThrZKocZ6hQq9iBX6c51KPGB8iEm6sQ9N6H9djbKiBrJFQqcGGKxHLMUcRZmP6GDLCdKbvZyyyJVNvP7E/nG/Yibl3P921oyDUFeqvxi%2B7mX5ul/KeP%2BEGYWukSXCTrLW6KK%2ByXKLHKJJu6dJLPYJYq4X4LMIpfp8QE%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584537958025385189?api-version=2022-09-01&t=638834078893572101&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2023-11-01
  response:
    body:
[...]
