interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27pubip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:06:18 GMT
=======
      - Mon, 21 Oct 2019 12:36:07 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2019-09-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "pubip1", "location": "eastus2", "tags": {}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Dynamic"}, "sku": {"name": "Basic"}, "zones":
      ["2"]}, {"type": "Microsoft.Network/loadBalancers", "name": "lb1", "location":
      "eastus2", "tags": {}, "apiVersion": "2019-09-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/pubip1"],
      "properties": {"backendAddressPools": [{"name": "lb1bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Basic"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(\''lb1\'')]"}}}, "parameters":
      {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_TDUNdnoYzWQxpfVG5hhUt8r9KxkOYEVk","name":"lb_deploy_TDUNdnoYzWQxpfVG5hhUt8r9KxkOYEVk","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10556088063514929063","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-10-21T12:06:23.1429596Z","duration":"PT2.3049406S","correlationId":"68930038-e50c-4ff9-98b1-e5f81f8247cd","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"pubip1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_TDUNdnoYzWQxpfVG5hhUt8r9KxkOYEVk/operationStatuses/08586299473046395971?api-version=2019-07-01
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_m3HzPUHNgEyPIJYphfKfwYSLIyNbZ7ia","name":"lb_deploy_m[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586299473046395971?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"7ba4d7b5-71e9-40c3-a567-314fefbf7d40\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"6efb9ff9-5b83-479e-a1be-315d17d7fbca\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"7ba4d7b5-71e9-40c3-a567-314fefbf7d40\\\"\",\r\n
=======
        \ \"etag\": \"W/\\\"81b7e43b-dd04-42b1-8d7b-b1c0bdcd4315\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"b7919b97-2dc3-463c-a27f-b3af4a598e9e\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"81b7e43b-dd04-42b1-8d7b-b1c0bdcd4315\\\"\",\r\n
>>>>>>> bump to 2019-09-01 for network
        \       \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1\"\r\n
        \         },\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n
        \     }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\":
        \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\",\r\n
<<<<<<< HEAD
        \       \"etag\": \"W/\\\"7ba4d7b5-71e9-40c3-a567-314fefbf7d40\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"81b7e43b-dd04-42b1-8d7b-b1c0bdcd4315\\\"\",\r\n
>>>>>>> bump to 2019-09-01 for network
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n
        \     }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n
        \   \"inboundNatRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:08:32 GMT
      etag:
      - W/"7ba4d7b5-71e9-40c3-a567-314fefbf7d40"
=======
      - Mon, 21 Oct 2019 12:37:14 GMT
      etag:
      - W/"81b7e43b-dd04-42b1-8d7b-b1c0bdcd4315"
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 23587faa-a84c-4304-81fe-cb4b82477418
=======
      - 8ba13664-92a4-459e-99e0-d858118ddd13
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"2e7180d8-2eab-4c53-91d0-048cbe499269\\\"\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"478d8f33-2da7-4e11-b8d4-75ef69261fd9\",\r\n    \"publicIPAddressVersion\":
=======
        \ \"etag\": \"W/\\\"a0f0db29-39a1-4aa1-a322-34377500d8dc\\\"\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"a3594098-b0f7-4f6f-a4e0-69551d8df74e\",\r\n    \"publicIPAddressVersion\":
>>>>>>> bump to 2019-09-01 for network
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:08:34 GMT
      etag:
      - W/"2e7180d8-2eab-4c53-91d0-048cbe499269"
=======
      - Mon, 21 Oct 2019 12:37:15 GMT
      etag:
      - W/"a0f0db29-39a1-4aa1-a322-34377500d8dc"
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 5b95ebbb-2dc2-4e85-942c-f74781a24595
=======
      - b3ced2b1-958f-427f-a2f8-74a9afa8c9ca
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:08:37 GMT
=======
      - Mon, 21 Oct 2019 12:37:17 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "lb2", "location": "eastus2", "tags": {}, "apiVersion": "2019-09-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1"], "properties": {"backendAddressPools":
      [{"name": "lb2bepool"}], "frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "privateIPAddress": null,
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAddressVersion": "IPv4"}, "zones": ["2"]}]}, "sku": {"name": "Basic"}}],
      "outputs": {"loadBalancer": {"type": "object", "value": "[reference(\''lb2\'')]"}}},
      "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    [...]
[...]
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/9fa69c76-70e7-4c96-a256-e5cb07a418df?api-version=2019-08-01
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/18aa4b80-d2af-4e04-83f9-e84746aae3f2?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:12:01 GMT
=======
      - Mon, 21 Oct 2019 12:40:28 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 5bc50d8d-7d70-4aa2-beb2-7211e5f59f8b
=======
      - 71b65a81-9c34-4def-a18a-f9ad75ca9413
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:12:04 GMT
=======
      - Mon, 21 Oct 2019 12:40:30 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "sku": {"name": "Standard"}, "properties":
      {"publicIPAllocationMethod": "Static", "publicIPAddressVersion": "IPv6", "idleTimeoutInMinutes":
      4}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip2?api-version=2019-08-01
=======
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/c17dc68e-404a-4b45-9da0-e5bb3db3a2e0?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
  response:
    body:
      string: "{\r\n  \"name\": \"pubip2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip2\",\r\n
        \ \"etag\": \"W/\\\"04827315-9992-41e5-8103-c52061d6cc5b\\\"\",\r\n  \"location\":
        \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"5dda96d4-83db-4e32-a746-8e08f889333a\",\r\n    \"publicIPAddressVersion\":
        \"IPv6\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/b645b438-b651-4063-87f1-914384fd8813?api-version=2019-08-01
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:13:50 GMT
=======
      - Mon, 21 Oct 2019 12:42:13 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - e2e56b5f-068f-4cca-96ba-44b11e6b7ac5
      x-ms-ratelimit-remaining-subscription-writes:
      - '1178'
=======
      - ca213ba2-0fec-4c19-8f8b-7800074030ab
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/b645b438-b651-4063-87f1-914384fd8813?api-version=2019-08-01
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/c17dc68e-404a-4b45-9da0-e5bb3db3a2e0?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:13:54 GMT
=======
      - Mon, 21 Oct 2019 12:42:15 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 71c342df-367a-4800-8e4c-6090beab42fb
=======
      - bedce55f-2d31-438a-950f-2bb4972d64df
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip2?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip2\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"eb15770d-abd0-4b61-bb38-c1e0818a3fe5\\\"\",\r\n  \"location\":
        \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"5dda96d4-83db-4e32-a746-8e08f889333a\",\r\n    \"ipAddress\":
=======
        \ \"etag\": \"W/\\\"43f0b3f6-a00b-458e-b069-e498ab8072e9\\\"\",\r\n  \"location\":
        \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"e8665983-d9ec-4800-b99a-d7d9020a2152\",\r\n    \"ipAddress\":
>>>>>>> bump to 2019-09-01 for network
        \"2603:1030:b00:7::d\",\r\n    \"publicIPAddressVersion\": \"IPv6\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4[...]
[...]
