interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"target_resource_name\": {\"value\":
      \"clitestappconfig\"}}, \"mode\": \"Incremental\", template:{\r\n    \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"target_resource_name\":
      {\r\n            \"defaultValue\": \"ernestt-appconfig-privatelink\",\r\n            \"type\":
      \"String\"\r\n        }\r\n    },\r\n    \"variables\": {},\r\n    \"resources\":
      [\r\n        {\r\n            \"type\": \"Microsoft.AppConfiguration/configurationStores\",\r\n
      \           \"apiVersion\": \"2020-06-01\",\r\n            \"name\": \"[parameters('target_resource_name')]\",\r\n
      \           \"location\": \"westus\",\r\n            \"sku\": {\r\n                \"name\":
      \"standard\"\r\n            },\r\n            \"properties\": {\r\n                \"encryption\":
      {}\r\n            }\r\n        }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/appconfiguration_configurationstores_template","name":"appconfiguration_configurationstores_template","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7483349641174567162","parameters":{"target_resource_name":{"type":"String","value":"clitestappconfig"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"06e87972-19bd-4d96-92e0-532c46d49303","providers":[{"namespace":"Microsoft.AppConfiguration","resourceTypes":[{"resourceType":"configurationStores","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/clitestappconfig"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"target_resource_name\": {\"value\":
      \"clitestappconfig\"}}, \"mode\": \"Incremental\", template:{\r\n    \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"target_resource_name\":
      {\r\n            \"defaultValue\": \"ernestt-appconfig-privatelink\",\r\n            \"type\":
      \"String\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585398999572192608?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Failed","error":{"code":"DeploymentFailed","message":"At
        least one resource deployment operation failed. Please list deployment operations
        for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Conflict","message":"{\r\n  \"status\":
        \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"ResourceDeploymentFailure\",\r\n    \"message\":
        \"The resource operation completed with terminal provisioning state ''Failed''.\",\r\n    \"details\":
        [\r\n      {\r\n        \"code\": \"NameUnavailable\",\r\n        \"message\":
        \"The specified name is already in use.\"\r\n      }\r\n    ]\r\n  }\r\n}"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
