interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_security_partner_provider_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001","name":"cli_test_security_partner_provider_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-15T02:04:30Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualWans/clitestvwan?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitestvwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualWans/clitestvwan\"\
        ,\r\n  \"etag\": \"W/\\\"14a46048-518f-49cb-a22c-5aa0060e95de\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\"\
        : true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\"\
        : \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0ed26719-b063-4c79-bb27-6b21de0ef4a1?api-version=2022-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0ed26719-b063-4c79-bb27-6b21de0ef4a1?api-version=2022-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"location": "westus", "properties": {"addressPrefix": "10.5.0.0/16", "sku":
      "Standard", "virtualWan": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualWans/clitestvwan"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitestvhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\
        ,\r\n  \"etag\": \"W/\\\"ad11fd5c-e08e-4854-ac36-5b1b4e8f6457\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"10.5.0.0/16\"\
        ,\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n\
        \    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\"\
        : {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n   \
        \   \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualWans/clitestvwan\"\
        \r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\"\
        ,\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\"\
        : false,\r\n    \"hubRoutingPreference\": \"ExpressRoute\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/2b0dc20c-3be6-4731-a459-d9279c8e0bd9?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/vpnGateways/cligateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cligateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/vpnGateways/cligateway\"\
        ,\r\n  \"etag\": \"W/\\\"eded4e2d-54d1-4319-8fcb-5e728a0ca204\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [],\r\n    \"natRules\": [],\r\n\
        \    \"enableBgpRouteTranslationForNat\": false,\r\n    \"isRoutingPreferenceInternet\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/780d4c1b-3b80-4701-a62c-488338deb20a?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/vpnGateways/cligateway?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cligateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/vpnGateways/cligateway\"\
        ,\r\n  \"etag\": \"W/\\\"d4a5d2b6-7462-467c-9531-a2bcd2b6e1f0\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n\
        \    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\
        \r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"\
        peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n    \
        \      \"ipconfigurationId\": \"Instance0\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.5.0.12\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.245.236.235\"\
        ,\r\n            \"10.5.0.4\"\r\n          ]\r\n        },\r\n        {\r\n\
        \          \"ipconfigurationId\": \"Instance1\",\r\n          \"defaultBgpIpAddresses\"\
        : [\r\n            \"10.5.0.13\"\r\n          ],\r\n          \"customBgpIpAddresses\"\
        : [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.245.236.237\"\
        ,\r\n            \"10.5.0.5\"\r\n          ]\r\n        }\r\n      ]\r\n \
        \   },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\"\
        : \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"\
        Instance0\",\r\n        \"publicIpAddress\": \"20.245.236.235\",\r\n     \
        \   \"privateIpAddress\": \"10.5.0.4\"\r\n      },\r\n      {\r\n        \"\
        id\": \"Instance1\",\r\n        \"publicIpAddress\": \"20.245.236.237\",\r\
        \n        \"privateIpAddress\": \"10.5.0.5\"\r\n      }\r\n    ],\r\n    \"\
        natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\": false,\r\n   \
        \ \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"location": "westus", "properties": {"securityProviderName": "Checkpoint",
      "virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/securityPartnerProviders/clisecuritypartner[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/securityPartnerProviders?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"clisecuritypartnerprovider\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/securityPartnerProviders/clisecuritypartnerprovider\"\
        ,\r\n      \"etag\": \"W/\\\"2b757920-675e-4ab8-9db0-2013b5971b66\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/securityPartnerProviders\",\r\n    \
        \  \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"a\": \"b\"\r\
        \n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"\
        Succeeded\",\r\n        \"securityProviderName\": \"Checkpoint\",\r\n    \
        \    \"virtualHub\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\
        \r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/securityPartnerProviders?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"clisecuritypartnerprovider\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/securityPartnerProviders/clisecuritypartnerprovider\"\
        ,\r\n      \"etag\": \"W/\\\"74342def-8403-4b24-991b-a71e7d4ecd56\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/securityPartnerProviders\",\r\n    \
        \  \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"a\": \"b\"\r\
        \n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"\
        Succeeded\",\r\n        \"securityProviderName\": \"Checkpoint\",\r\n    \
        \    \"virtualHub\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_security_partner_provider_000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\
        \r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/543534d8-ec23-4416-8ae9-4e0422b088eb?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/543534d8-ec23-4416-8ae9-4e0422b088eb?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/543534d8-ec23-4416-8ae9-4e0422b088eb?api-version=2021-08-01
    status:
      code: 204
      message: No Content
version: 1
