interactions:
- request:
    body: '{"location": "eastus", "properties": {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002",
      "type": "Primary"}], "keyDelivery": {"accessControl": {"defaultAction": "Allow",
      "ipAllowList": []}}, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"clitestams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"East
        US\",\"properties\":{\r\n    \"mediaServiceId\":\"2c319c66-2836-4f0d-8177-8bba3b5e4492\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    },\"publicNetworkAccess\":\"Enabled\"\r\n  },\"systemData\":{\r\n
        \   \"createdBy\":\"ethanyang@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-12-14T09:33:36.7378704Z\",\"lastModifiedBy\":\"ethanyang@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-12-14T09:33:36.7378704Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"keydelivery\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/keydelivery\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"keydelivery\",\"requiredMembers\":[\r\n          \"keydelivery\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"liveevent\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/liveevent\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"liveevent\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"streamingendpoint\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/streamingendpoint\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"streamingendpoint\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001","name":"test_private_endpoint_connection_media_service000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_private_endpoint_connection_media_service","date":"2023-12-14T09:33:04Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-subnet-000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"0ab21a46-725e-4665-a42e-c82d0880ba6a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"88c1adfb-c432-4abe-8a6e-efb858c41582\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"cli-subnet-000005\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"0ab21a46-725e-4665-a42e-c82d0880ba6a\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e6071b39-149f-4df1-bd12-02d3a27e0f6d?api-version=2022-01-01&t=638381432288055367&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e6071b39-149f-4df1-bd12-02d3a27e0f6d?api-version=2022-01-01&t=638381432288055367&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2024-01-01
  response:
    body:
      string: '{"name":"cli-subnet-000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005","etag":"W/\"e2d6a4a6-5e19-4c4c-a075-b0694a556659\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e2d6a4a6-5e19-4c4c-a075-b0694a556659"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/2543f7c5-46e5-4688-825e-4eb4d753a61a?api-version=2023-09-01&t=638381432430868876&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"privateLinkServiceConnections":
      [{"name": "cli-pec-000007", "properties": {"groupIds": ["keydelivery"], "privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/3649b235-94f8-467d-b16e-4e443b0ba9d0?api-version=2022-01-01&t=638381432480566917&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"1a087698-e40b-42bf-ad29-f99e3b1d72e1\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/1a087698-e40b-42bf-ad29-f99e3b1d72e1\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \       \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \         \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n        },\"privateEndpoint\":{\r\n
        \         \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/1a087698-e40b-42bf-ad29-f99e3b1d72e1?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"1a087698-e40b-42bf-ad29-f99e3b1d72e1\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/1a087698-e40b-42bf-ad29-f99e3b1d72e1\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \   \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \     \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n    },\"privateEndpoint\":{\r\n
        \     \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \   }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
