interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2021-09-30T06:58:02Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name":
      "testsubnet000004", "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"testvnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003\",\r\n
        \ \"etag\": \"W/\\\"7f25b56c-dab6-40cf-bf29-966ea9e3491a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"b7fc18d1-4833-4044-ad29-2e69c369dde5\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"testsubnet000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004\",\r\n
        \       \"etag\": \"W/\\\"7f25b56c-dab6-40cf-bf29-966ea9e3491a\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/4514924c-7d2c-4b0b-8d1c-e4397f574c5f?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/4514924c-7d2c-4b0b-8d1c-e4397f574c5f?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"testsubnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004\",\r\n
        \ \"etag\": \"W/\\\"d58de41f-47f1-4a4a-874a-bbe56b5c5143\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d58de41f-47f1-4a4a-874a-bbe56b5c5143"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/metadata/endpoints?api-version=2019-05-01
  response:
    body:
      string: '[{"portal":"https://portal.azure.com","authentication":{"loginEndpoint":"https://login.microsoftonline.com/","audiences":["https://management.core.windows.net/","https://management.azure.com/"],"tenant":"common","identityProvider":"AAD"},"media":"https://rest.media.azure.net","graphAudience":"https://graph.windows.net/","graph":"https://graph.windows.net/","name":"AzureCloud","suffixes":{"azureDataLakeStoreFileSystem":"azuredatalakestore.net","acrLoginServer":"azurecr.io","sqlServerHostname":"database.windows.net","azureDataLakeAnalyticsCatalogAndJob":"azuredatalakeanalytics.net","keyVaultDns":"vault.azure.net","storage":"core.windows.net","azureFrontDoorEndpointSuffix":"azurefd.net"},"batch":"https://batch.core.windows.net/","resourceManager":"https://management.azure.com/","vmImageAliasDoc":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json","activeDirectoryDataLake":"https://datalake.azure.net/","sqlManagement":"https://management.core.windows.net:8443/","gallery":"https://gallery.azure.com/"},{"portal":"https://portal.azure.cn","authentication":{"loginEndpoint":"https://login.chinacloudapi.cn","audiences":["https://management.core.chinacloudapi.cn","https://management.chinacloudapi.cn"],"tenant":"common","identityProvider":"AAD"},"media":"https://rest.media.chinacloudapi.cn","graphAudience":"https://graph.chinacloudapi.cn","graph":"https://graph.chinacloudapi.cn","name":"AzureChinaCloud","suffixes":{"acrLoginServer":"azurecr.cn","sqlServerHostname":"data[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-client-amlsdk:
      - 1.34.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002?api-version=2020-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.MachineLearningServices/workspaces/testaml000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.KeyVault/vaults", "name": "testamlvkeyvault1da0b87e", "apiVersion":
      "2015-06-01", "location": "eastus", "tags": {}, "dependsOn": [], "properties":
      {"enabledForDeployment": "true", "enabledForTemplateDeployment": "true", "enabledForVolumeEncryption":
      "true", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "accessPolicies":
      [], "sku": {"name": "Standard", "family": "A"}}}, {"type": "Microsoft.Storage/storageAccounts",
      "name": "testamlvstorageac8262d31", "apiVersion": "2018-07-01", "location":
      "eastus", "sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "tags": {},
      "dependsOn": [], "properties": {"encryption": {"services": {"blob": {"enabled":
      "true"}, "file": {"enabled": "true"}}, "keySource": "Microsoft.Storage"}, "supportsHttpsTrafficOnly":
      true}}, {"type": "microsoft.insights/components", "name": "testamlvinsights88775858",
      "kind": "web", "apiVersion": "2015-05-01", "location": "eastus", "tags": {},
      "properties": {"Application_Type": "web"}}, {"type": "Microsoft.MachineLearningServices/workspaces",
      "name": "testaml000002", "apiVersion": "2021-04-01", "identity": {"type": "SystemAssigned",
      "userAssignedIdentities": null}, "location": "centraluseuap", "resources": [],
      "dependsOn": ["[resourceId(''Microsoft.KeyVault/vaults'', ''testamlvkeyvault1da0b87e'')]",
      "[resourceId(''Microsoft.Storage/storageAccounts'', ''testamlvstorageac8262d31'')]",
      "[resourceId(''microsoft.insights/components'', ''testamlvinsights88775858'')]"],
      "sku": {"tier": "basic", "name": "basic"}, "tags": {}, "properties": {"containerRegistry":
      null, "adbWorkspace": null, "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/testamlvkeyvault1da0b87e",
      "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/testamlvinsights88775858",
      "friendlyName": "testaml000002", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/testamlvstorageac8262d31",
      "primaryUserAssignedIdentity": null, "encryption": {"status": "Disabled", "identity":
      {"userAssignedIdentity": null}, "keyVaultProperties": {"keyVaultArmId": null,
      "keyIdentifier": null, "identityClientId": ""}}, "hbiWorkspace": false, "systemDatastoresAuthMode":
      "accessKey"}}]}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-caller-name:
      - _arm_deploy_template
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_59691","name":"Microsoft.MachineLearningServices_59691","type":"Microsoft.Resources/deployments","properties":{"templateHash":"4456802841652022960","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-09-30T06:58:21.9473258Z","duration":"PT0.9828657S","correlationId":"4c735c45-8875-45bc-88a4-1be9767f71e0","providers":[{"namespace":"Microsoft.KeyVault","resourceTypes":[{"resourceType":"vaults","locations":["eastus"]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["eastus"]}]},{"namespace":"microsoft.insights","resourceTypes":[{"resourceType":"components","locations":["eastus"]}]},{"namespace":"Microsoft.MachineLearningServices","resourceTypes":[{"resourceType":"workspaces","locations":["centraluseuap"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/testamlvkeyvault1da0b87e","resourceType":"Microsoft.KeyVault/vaults","resourceName":"testamlvkeyvault1da0b87e"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/testamlvstorageac8262d31","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"testamlvstorageac8262d31"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/testamlvinsights88775858","resourceType":"microsoft.insights/components","resourceName":"testamlvinsights88775858"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002","resourceType":"Microsoft.MachineLearningServices/workspaces","resourceName":"testaml000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_59691/operationStatuses/08585686217845131661?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-caller-name:
      - _check_deployment_status
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/deployments/mock-deployment/operations?api-version=2019-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-caller-name:
      - _check_deployment_status
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/deployments/mock-deployment/operations?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_59691/operations/F82721CE3FF6964A","operationId":"F82721CE3FF6964A","properties":{"provisioningOperation":"Create","provisioningState":"Running","timestamp":"2021-09-30T06:58:26.4112187Z","duration":"PT3.6017206S","trackingId":"422d4e8c-ebcc-451e-8c30-3499c4e8c6ec","serviceRequestId":"ae8c137b-cce2-4032-ab91-2e6f639b891d","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/testamlvkeyvault1da0b87e","resourceType":"Microsoft.KeyVault/vaults","resourceName":"testamlvkeyvault1da0b87e"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_59691/operations/1AFDA13703EB7E4E","operationId":"1AFDA13703EB7E4E","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2021-09-30T06:58:25.9205122Z","duration":"PT3.1110141S","trackingId":"212741d8-f993-4c8b-9db7-b5bbd3af9cd5","serviceRequestId":"d6a40f9f-3054-4525-9e49-2ac5197bd401","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/testamlvinsights88775858","resourceType":"microsoft.insights/components","resourceName":"testamlvinsights88775858"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585686217845131661?api-version=2019-10-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-client-amlsdk:
      - 1.34.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002?api-version=2020-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\n
        \ \"name\": \"testaml000002\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces\",\n
        \ \"location\": \"centraluseuap\",\n  \"tags\": {},\n  \"etag\": null,\n  \"properties\":
        {\n    \"friendlyName\": \"testaml000002\",\n    \"description\": \"\",\n
        \   \"storageAccount\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.storage/storageaccounts/testamlvstorageac8262d31\",\n
        \   \"keyVault\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.keyvault/vaults/testamlvkeyvault1da0b87e\",\n
        \   \"applicationInsights\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.insights/components/testamlvinsights88775858\",\n
        \   \"hbiWorkspace\": false,\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\n
        \   \"imageBuildCompute\": \"\",\n    \"provisioningState\": \"Succeeded\",\n
        \   \"containerRegistry\": null,\n    \"creationTime\": \"2021-09-30T06:58:53.2792410+00:00\",\n
        \   \"notebookInfo\": {\n      \"resourceId\": \"cfefb1154f3a40928a3946399e956e6f\",\n
        \     \"fqdn\": \"ml-testamlvz-centraluseuap-41edee92-49c0-4484-b3e2-8b2c3af770b1.notebooks.azure.net\",\n
        \     \"isPrivateLinkEnabled\": false,\n      \"notebookPreparationError\":
        null\n    },\n    \"storageHnsEnabled\": false,\n    \"workspaceId\": \"41edee92-49c0-4484-b3e2-8b2c3af770b1\",\n
        \   \"linkedModelInventoryArmId\": null,\n    \"privateLinkCount\": 0,\n    \"allowPublicAccessWhenBehindVnet\":
        false,\n    \"publicNetworkAccess\": \"Disabled\",\n    \"discoveryUrl\":
        \"https://master.api.azureml-test.ms/discovery\",\n    \"mlFlowTrackingUri\":
        \"azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\n
        \   \"sdkTelemetryAppInsightsKey\": \"efed27c9-e6dc-4190-9989-79f9b7f3a4b7\"\n
        \ },\n  \"identity\": {\n    \"type\": \"SystemAssigned\",\n    \"principalId\":
        \"f7dc9235-14bc-4538-964d-7e37e0156b0a\",\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \ },\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Basic\"\n  },\n
        \ \"systemData\": {\n    \"createdAt\": \"2021-09-30T06:58:51.1152033Z\",\n
        \   \"createdBy\": \"jiewe@microsoft.com\",\n    \"createdByType\": \"User\",\n
        \   \"lastModifiedAt\": \"2021-09-30T06:58:51.1152033Z\",\n    \"lastModifiedBy\":
        \"jiewe@microsoft.com\",\n    \"lastModifiedByType\": \"User\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.016'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centraluseuap", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "manualPrivateLinkServiceConnections": [{"name": "priv_endpointconn000006",
      "properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002",
      "groupIds": ["amlworkspace"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"priv_endpoint000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005\",\r\n
        \ \"etag\": \"W/\\\"05474533-563b-402d-86e2-56cc53a925df\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"6fb941f5-1091-4901-a316-25dce4daafc5\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"priv_endpointconn000006\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005/manualPrivateLinkServiceConnections/priv_endpointconn000006\",\r\n
        \       \"etag\": \"W/\\\"05474533-563b-402d-86e2-56cc53a925df\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\r\n
        \         \"groupIds\": [\r\n            \"amlworkspace\"\r\n          ],\r\n
        \         \"privateLinkServiceConnectionState\": {\r\n            \"status\":
        \"Pending\",\r\n            \"description\": \"Awaiting Approval\",\r\n            \"actionsRequired\":
        \"None\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004\"\r\n
        \   },\r\n    \"networkInterfaces\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/priv_endpoint000005.nic.b129f42e-d076-4f13-9ed1-a92d0e2141ae\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/63a84750-c5c9-4055-9ece-c3f5fb02cc89?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections?api-version=2021-01-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections/testaml000002.3df14750-be26-4dc9-af65-a227f2a49735\",\n
        \     \"name\": \"testaml000002.3df14750-be26-4dc9-af65-a227f2a49735\",\n
        \     \"type\": \"Microsoft.MachineLearningServices/workspaces/privateEndpointConnections\",\n
        \     \"location\": null,\n      \"etag\": null,\n      \"peConnectionProxyName\":
        \"priv_endpoint000005.6fb941f5-1091-4901-a316-25dce4daafc5\",\n      \"peName\":
        \"priv_endpoint000005\",\n      \"plsConnectionName\": \"priv_endpointconn000006\",\n
        \     \"plsProxyName\": \"priv_endpoint000005.proxy.a1b0938b-7207-4c35-9a6c-b7afc6b5c372\",\n
        \     \"connectionDetails\": [\n        {\n          \"id\": \"061cee49-e29a-4a3d-b8cc-6cf049b4eba9\",\n
        \         \"privateIpAddress\": \"10.0.0.4\",\n          \"linkIdentifier\":
        \"805321373\",\n          \"groupId\": \"amlworkspace\",\n          \"memberName\":
        \"default\"\n        },\n        {\n          \"id\": \"3510780d-ee6f-4160-a7d6-4f2d6afd0139\",\n
        \         \"privateIpAddress\": \"10.0.0.5\",\n          \"linkIdentifier\":
        \"805316372\",\n          \"groupId\": \"amlworkspace\",\n          \"memberName\":
        \"notebook\"\n        },\n        {\n          \"id\": \"74ff662f-e7c0-441f-a1b9-6d75cb35bc6c\",\n
        \         \"privateIpAddress\": \"10.0.0.6\",\n          \"linkIdentifier\":
        \"805307374\",\n          \"groupId\": \"amlworkspace\",\n          \"memberName\":
        \"inference\"\n        }\n      ],\n      \"requestDescription\": \"\",\n
        \     \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n        \"privateEndpoint\":
        {\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005\",\n
        \         \"subnetArmId\": null\n        },\n        \"privateLinkServiceConnectionState\":
        {\n          \"status\": \"Pending\",\n          \"description\": \"\",\n
        \         \"actionsRequired\": \"None\"\n        }\n      },\n      \"notebookInternalFqdn\":
        \"privatelink.notebookapis.azure.com\",\n      \"notebookCustomerVisibleFqdns\":
        [\n        \"ml-testamlvz-centraluseuap-41edee92-49c0-4484-b3e2-8b2c3af770b1.notebooks.azure.net\"\n
        \     ]\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.037'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections/testaml000002.3df14750-be26-4dc9-af65-a227f2a49735?api-version=2021-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsof[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections/testaml000002.3df14750-be26-4dc9-af65-a227f2a49735?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/workspaceOperationsStatus/fe34c784-7c46-4029-a02c-5a12581eed71?api-version=2021-01-01&type=async
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/workspaceOperationsStatus/fe34c784-7c46-4029-a02c-5a12581eed71?api-version=2021-01-01&type=location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.435'
    status:
      code: 202
      message: Accepted
version: 1
