interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic_with_waf_v2_sku000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001","name":"cli_test_ag_basic_with_waf_v2_sku000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-28T05:20:53Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"idleTimeoutInMinutes": 4, "publicIPAddressVersion":
      "IPv4", "publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1\",\r\n
        \ \"etag\": \"W/\\\"1da9fc90-31bf-41bc-b4dd-ca788a18d28e\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"0c9ab2df-334f-428f-9984-4383ee0d3206\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\":
        \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d2da36d1-9786-4be3-ab1c-e9204b64caa1?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d2da36d1-9786-4be3-ab1c-e9204b64caa1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1\",\r\n
        \ \"etag\": \"W/\\\"d90b9530-7daf-4006-abe6-160d3b18c66f\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"0c9ab2df-334f-428f-9984-4383ee0d3206\",\r\n    \"ipAddress\":
        \"40.86.165.40\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n
        \   \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d90b9530-7daf-4006-abe6-160d3b18c66f"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"managedRules": {"managedRuleSets":
      [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/waf1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"waf1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/waf1\",\r\n
        \ \"etag\": \"W/\\\"610aa8f4-98c3-4d03-8740-a5ddd788bbdb\\\"\",\r\n  \"type\":
        \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\",\r\n
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"customRules\": [],\r\n    \"policySettings\": {\r\n
        \     \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\n
        \     \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\",\r\n
        \     \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n      \"managedRuleSets\":
        [\r\n        {\r\n          \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\":
        \"3.0\",\r\n          \"ruleGroupOverrides\": []\r\n        }\r\n      ],\r\n
        \     \"exclusions\": []\r\n    }\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e105a882-baa1-46bd-9456-1061befe0b2c?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_basic_with_waf_v2_sku000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_ag_basic_with_waf_v2_sku000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjA4IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWbEpVMGhKVkVWVFZDMU5TVU5TVDFOUFJsUTZNa1ZPUlZSWFQxSkxPakpHVGtWVVYwOVNTMGxPVkVWU1JrRkRSVk02TWtaVVJWTlVVRVU2TWtWT1NVTTZNa1UzUkVaRk5rVXpOem95UkRZeU5VVTZNa1EwUXpFM09qSkVPVVpFTnpveVJEUXhPVU5CUWpZNE4wTkROQzFYUlZOVVZWTS0ifQ%3d%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2021-04-01&%24filter=resourceGroup+eq+%27cli_test_ag_basic_with_waf_v2_sku000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2FvirtualNetworks%27&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjA4IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWbEpVMGhKVkVWVFZDMU5TVU5TVDFOUFJsUTZNa1ZPUlZSWFQxSkxPakpHVGtWVVYwOVNTMGxPVkVWU1JrRkRSVk02TWtaVVJWTlVVRVU2TWtWT1NVTTZNa1UzUkVaRk5rVXpOem95UkRZeU5VVTZNa1EwUXpFM09qSkVPVVpFTnpveVJEUXhPVU5CUWpZNE4wTkROQzFYUlZOVVZWTS0ifQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_basic_with_waf_v2_sku000001%27%20and%20name%20eq%20%27pubip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1","name":"pubip1","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard"},"location":"westus"}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_ag_basic_with_waf_v2_sku000001%27+and+name+eq+%27pubip1%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjA4IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWbEpVMGhKVkVWVFZDMU5TVU5TVDFOUFJsUTZNa1ZPUlZSWFQxSkxPakpHVGtWVVYwOVNTMGxPVkVWU1JrRkRSVk02TWtaVVJWTlVVRVU2TWtWT1NVTTZNa1UzUkVaRk5rVXpOem95UkRZeU5VVTZNa1EwUXpFM09qSkVPVVpFTnpveVJEUXhPVU5CUWpZNE4wTkROQzFYUlZOVVZWTS0ifQ%3d%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2021-04-01&%24filter=resourceGroup+eq+%27cli_test_ag_basic_with_waf_v2_sku000001%27+and+name+eq+%27pubip1%27+and+resourceType+eq+%27Microsoft.Network%2FpublicIPAddresses%27&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjA4IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWbEpVMGhKVkVWVFZDMU5TVU5TVDFOUFJsUTZNa1ZPUlZSWFQxSkxPakpHVGtWVVYwOVNTMGxPVkVWU1JrRkRSVk02TWtaVVJWTlVVRVU2TWtWT1NVTTZNa1UzUkVaRk5rVXpOem95UkRZeU5VVTZNa1EwUXpFM09qSkVPVVpFTnpveVJEUXhPVU5CUWpZNE4wTkROQzFYUlZOVVZWTS0ifQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag1'')]"}, "resources": [{"name": "ag1Vnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westus",
      "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "priority": 1001}}], "privateLinkConfigurations": [], "firewallPolicy": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/waf1"}},
      "zones": null}], "outputs": {"applicationGateway": {"type": "object", "value":
      "[reference(''ag1'')]"}}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Resources/deployments/ag_deploy_MyGwFeTkDQOYl2UG0EfKdjzTpOIFn9qy","name":"ag_deploy_MyGwFeTkDQOYl2UG0EfKdjzTpOIFn9qy","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3252253702158240432","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-02-28T05:21:23.2747466Z","duration":"PT0.0006567S","correlationId":"8a25dd82-3a74-412b-8a68-827277547a4b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Resources/deployments/ag_deploy_MyGwFeTkDQOYl2UG0EfKdjzTpOIFn9qy/operationStatuses/08585240452044974289?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585240452044974289?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ag1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1\",\r\n
        \     \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n      \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n      \"location\": \"westus\",\r\n
        \     \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"resourceGuid\": \"f67c45c9-2d19-462f-9444-7b1531900e3e\",\r\n
        \       \"sku\": {\r\n          \"name\": \"WAF_v2\",\r\n          \"tier\":
        \"WAF_v2\",\r\n          \"capacity\": 2\r\n        },\r\n        \"operationalState\":
        \"Running\",\r\n        \"gatewayIPConfigurations\": [\r\n          {\r\n
        \           \"name\": \"appGatewayFrontendIP\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\",\r\n
        \           \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"subnet\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\r\n
        \             }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
        \         }\r\n        ],\r\n        \"sslCertificates\": [],\r\n        \"trustedRootCertificates\":
        [],\r\n        \"trustedClientCertificates\": [],\r\n        \"sslProfiles\":
        [],\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\":
        \"appGatewayFrontendIP\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
        \           \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n
        \           \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"publicIPAddress\":
        {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1\"\r\n
        \             },\r\n              \"httpListeners\": [\r\n                {\r\n
        \                 \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\r\n
        \               }\r\n              ]\r\n            }\r\n          }\r\n        ],\r\n
        \       \"frontendPorts\": [\r\n          {\r\n            \"name\": \"appGatewayFrontendPort\",\r\n
        \           \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\",\r\n
        \           \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"port\": 80,\r\n              \"httpListeners\": [\r\n                {\r\n
        \                 \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\r\n
        \               }\r\n              ]\r\n            },\r\n            \"type\":
        \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n          }\r\n
        \       ],\r\n        \"backendAddressPools\": [\r\n          {\r\n            \"name\":
        \"appGatewayBackendPool\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\",\r\n
        \           \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"backendAddresses\": [],\r\n              \"requestRoutingRules\":
        [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\r\n
        \               }\r\n              ]\r\n            },\r\n            \"type\":
        \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n          }\r\n
        \       ],\r\n        \"loadDistributionPolicies\": [],\r\n        \"backendHttpSettingsCollection\":
        [\r\n          {\r\n            \"name\": \"appGatewayBackendHttpSettings\",\r\n
        \           \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\",\r\n
        \           \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"port\": 80,\r\n              \"protocol\": \"Http\",\r\n              \"cookieBasedAffinity\":
        \"Disabled\",\r\n              \"connectionDraining\": {\r\n                \"enabled\":
        false,\r\n                \"drainTimeoutInSec\": 1\r\n              },\r\n
        \             \"pickHostNameFromBackendAddress\": false,\r\n              \"requestTimeout\":
        30,\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\r\n
        \               }\r\n              ]\r\n            },\r\n            \"type\":
        \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n
        \         }\r\n        ],\r\n        \"backendSettingsCollection\": [],\r\n
        \       \"httpListeners\": [\r\n          {\r\n            \"name\": \"appGatewayHttpListener\",\r\n
        \           \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\",\r\n
        \           \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"frontendIPConfiguration\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\r\n
        \             },\r\n              \"frontendPort\": {\r\n                \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\r\n
        \             },\r\n              \"protocol\": \"Http\",\r\n              \"hostNames\":
        [],\r\n              \"requireServerNameIndication\": false,\r\n              \"requestRoutingRules\":
        [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\r\n
        \               }\r\n              ]\r\n            },\r\n            \"type\":
        \"Microsoft.Network/applicationGateways/httpListeners\"\r\n          }\r\n
        \       ],\r\n        \"listeners\": [],\r\n        \"urlPathMaps\": [],\r\n
        \       \"requestRoutingRules\": [\r\n          {\r\n            \"name\":
        \"rule1\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\",\r\n
        \           \"etag\": \"W/\\\"d7f31f12-1b84-4fad-aa7c-a5a5b2725be0\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n
        \             \"ruleType\": \"Basic\",\r\n              \"priority\": 1001,\r\n
        \             \"httpListener\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\r\n
        \             },\r\n              \"backendAddressPool\": {\r\n                \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\r\n
        \             },\r\n              \"backendHttpSettings\": {\r\n                \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\r\n
        \             }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n
        \         }\r\n        ],\r\n        \"routingRules\": [],\r\n        \"probes\":
        [],\r\n        \"rewriteRuleSets\": [],\r\n        \"redirectConfigurations\":
        [],\r\n        \"privateLinkConfigurations\": [],\r\n        \"privateEndpointConnections\":
        [],\r\n        \"firewallPolicy\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/waf1\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGa[...]
- request:
    body: '{"backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool"},
      "backendHttpSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings"},
      "path": "/test", "pickHostNameFromBackendHttpSettings": true, "timeout": 100}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic_with_waf_v2_sku000001/providers/Microsoft.Network/applicationGateways/ag1/getBackendHealthOnDemand?api-version=2022-05-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncnotification:
      - Enabled
      content-type:
      - application/json; charset=utf-8
      location:
[...]
