interactions:
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com","name":"zone2.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-f916-0133b810d701","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-08.azure-dns.com.","ns2-08.azure-dns.net.","ns3-08.azure-dns.org.","ns4-08.azure-dns.info."],"numberOfRecordSets":2,"serveRecordsBelowDelegation":null,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00000002-0000-0000-f916-0133b810d701
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/SOA/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"a41fe56e-b2ec-4e54-81cc-3fd6af731e7b","properties":{"fqdn":"zone2.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-08.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a41fe56e-b2ec-4e54-81cc-3fd6af731e7b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/NS/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"1fa9ab3b-b228-4e0e-8547-4e9abe5ef78f","properties":{"fqdn":"zone2.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-08.azure-dns.com."},{"nsdname":"ns2-08.azure-dns.net."},{"nsdname":"ns3-08.azure-dns.org."},{"nsdname":"ns4-08.azure-dns.info."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1fa9ab3b-b228-4e0e-8547-4e9abe5ef78f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"TTL": 200, "TXTRecords": [{"value": ["this is another
      SPF, this time as TXT"]}, {"value": ["v=spf1 mx ip4:14.14.22.0/23 a:mail.trum.ch
      mx:mese.ch include:spf.mapp.com ?all"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/@","name":"@","type":"Microsoft.Network\/dnszones\/TXT","etag":"7c51e410-e836-4a8a-b9da-5a40ce8c3c33","properties":{"fqdn":"zone2.com.","TTL":200,"TXTRecords":[{"value":["this
        is another SPF, this time as TXT"]},{"value":["v=spf1 mx ip4:14.14.22.0\/23
        a:mail.trum.ch mx:mese.ch include:spf.mapp.com ?all"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 7c51e410-e836-4a8a-b9da-5a40ce8c3c33
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["  a  "]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/spaces?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/spaces","name":"spaces","type":"Microsoft.Network\/dnszones\/TXT","etag":"d8636c71-1f5f-495e-bbd6-9326deba05d7","properties":{"fqdn":"spaces.zone2.com.","TTL":3600,"TXTRecords":[{"value":["  a  "]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - d8636c71-1f5f-495e-bbd6-9326deba05d7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "1.2.3.4"}, {"ipv4Address":
      "2.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/a2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/a2","name":"a2","type":"Microsoft.Network\/dnszones\/A","etag":"10d0f917-26a9-4857-a037-69c1d2d23716","properties":{"fqdn":"a2.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"1.2.3.4"},{"ipv4Address":"2.3.4.5"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 10d0f917-26a9-4857-a037-69c1d2d23716
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "AAAARecords": [{"ipv6Address": "2001:cafe:130::100"},
      {"ipv6Address": "2001:cafe:130::101"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/AAAA/aaaa2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/AAAA\/aaaa2","name":"aaaa2","type":"Microsoft.Network\/dnszones\/AAAA","etag":"b5f1348d-8e96-48cd-8872-be2d0bd9c04e","properties":{"fqdn":"aaaa2.zone2.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:cafe:130::100"},{"ipv6Address":"2001:cafe:130::101"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - b5f1348d-8e96-48cd-8872-be2d0bd9c04e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/doozie?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/doozie","name":"doozie","type":"Microsoft.Network\/dnszones\/TXT","etag":"84fadebe-4128-4796-a9d8-6c5161747c2c","properties":{"fqdn":"doozie.zone2.com.","TTL":3600,"TXTRecords":[{"value":["abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 84fadebe-4128-4796-a9d8-6c5161747c2c
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "bar.com."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/CNAME/fee2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/CNAME\/fee2","name":"fee2","type":"Microsoft.Network\/dnszones\/CNAME","etag":"7f397f8a-8afe-4eec-89c1-77a6614441c5","properties":{"fqdn":"fee2.zone2.com.","TTL":3600,"CNAMERecord":{"cname":"bar.com."},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 7f397f8a-8afe-4eec-89c1-77a6614441c5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "mail1.mymail.com."}, {"preference": 11, "exchange": "flooble."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/mail?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/mail","name":"mail","type":"Microsoft.Network\/dnszones\/MX","etag":"51ee7655-0027-43c3-8c0d-ca0df1551fbd","properties":{"fqdn":"mail.zone2.com.","TTL":3600,"MXRecords":[{"exchange":"mail1.mymail.com.","preference":10},{"exchange":"flooble.","preference":11}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 51ee7655-0027-43c3-8c0d-ca0df1551fbd
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"priority": 10, "weight":
      20, "port": 30, "target": "foobar."}, {"priority": 55, "weight": 66, "port":
      77, "target": "zoo."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/SRV/sip.tcp?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/SRV\/sip.tcp","name":"sip.tcp","type":"Microsoft.Network\/dnszones\/SRV","etag":"b46cb780-0e65-4037-a5fb-c1f7a2899a43","properties":{"fqdn":"sip.tcp.zone2.com.","TTL":3600,"SRVRecords":[{"port":30,"priority":10,"target":"foobar.","weight":20},{"port":77,"priority":55,"target":"zoo.","weight":66}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - b46cb780-0e65-4037-a5fb-c1f7a2899a43
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns1.com."}, {"nsdname":
      "ns2.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/NS/test-ns2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/NS\/test-ns2","name":"test-ns2","type":"Microsoft.Network\/dnszones\/NS","etag":"36ab6859-f058-44ee-b3b2-deb7db05bf0e","properties":{"fqdn":"test-ns2.zone2.com.","TTL":3600,"NSRecords":[{"nsdname":"ns1.com."},{"nsdname":"ns2.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 36ab6859-f058-44ee-b3b2-deb7db05bf0e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["string 1"]}, {"value":
      ["string 2"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/test-txt2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/test-txt2","name":"test-txt2","type":"Microsoft.Network\/dnszones\/TXT","etag":"cdf32fc4-a87b-460a-8d9f-c7b2932df154","properties":{"fqdn":"test-txt2.zone2.com.","TTL":3600,"TXTRecords":[{"value":["string
        1"]},{"value":["string 2"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - cdf32fc4-a87b-460a-8d9f-c7b2932df154
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 100, "ARecords": [{"ipv4Address": "4.5.6.7"}, {"ipv4Address":
      "6.7.8.9"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/aa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/aa","name":"aa","type":"Microsoft.Network\/dnszones\/A","etag":"27a29712-5f00-4b18-a3bc-fa25e0d5f5e5","properties":{"fqdn":"aa.zone2.com.","TTL":100,"ARecords":[{"ipv4Address":"4.5.6.7"},{"ipv4Address":"6.7.8.9"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 27a29712-5f00-4b18-a3bc-fa25e0d5f5e5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 300, "MXRecords": [{"preference": 1, "exchange":
      "foo.com.zone2.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/aa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/aa","name":"aa","type":"Microsoft.Network\/dnszones\/MX","etag":"afc39425-d2dd-4f17-bc0e-a31786bc49c2","properties":{"fqdn":"aa.zone2.com.","TTL":300,"MXRecords":[{"exchange":"foo.com.zone2.com.","preference":1}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - afc39425-d2dd-4f17-bc0e-a31786bc49c2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "7.8.9.0"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/200?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/200","name":"200","type":"Microsoft.Network\/dnszones\/A","etag":"2d9b7cac-eb0e-4856-ba9e-423980597752","properties":{"fqdn":"200.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"7.8.9.0"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 2d9b7cac-eb0e-4856-ba9e-423980597752
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 999, "TXTRecords": [{"value": ["this is a super
      long txt record...wow, it is really really long!  And I even used copy and paste
      to make it longer....this is a super long txt record...wow, it is really really
      long!  And I even used copy and paste to make it longer....this is a super lon",
      "g txt record...wow, it is really really long!  And I even used copy and paste
      to make it longer....this is a super long txt record...w[...]
- request:
    body: '{"properties": {"TTL": 100, "TXTRecords": [{"value": ["012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234",
      "56789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012[...]
- request:
    body: '{"properties": {"TTL": 100, "TXTRecords": [{"value": ["this is an SPF record!
      Convert to TXT on import"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/myspf?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/myspf","name":"myspf","type":"Microsoft.Network\/dnszones\/TXT","etag":"5054d2ba-eb30-4bb3-b7dc-376104c9bbbf","properties":{"fqdn":"myspf.zone2.com.","TTL":100,"TXTRecords":[{"value":["this
        is an SPF record! Convert to TXT on import"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 5054d2ba-eb30-4bb3-b7dc-376104c9bbbf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "foo.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/PTR/160.1?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/PTR\/160.1","name":"160.1","type":"Microsoft.Network\/dnszones\/PTR","etag":"61c1232e-b16d-44d8-bf36-374d8ea2eacc","properties":{"fqdn":"160.1.zone2.com.","TTL":3600,"PTRRecords":[{"ptrdname":"foo.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 61c1232e-b16d-44d8-bf36-374d8ea2eacc
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["foobar"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/t1?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/t1","name":"t1","type":"Microsoft.Network\/dnszones\/TXT","etag":"35925c70-cfe3-4b11-8050-032245600942","properties":{"fqdn":"t1.zone2.com.","TTL":3600,"TXTRecords":[{"value":["foobar"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 35925c70-cfe3-4b11-8050-032245600942
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "194.124.202.114"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/base?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/base","name":"base","type":"Microsoft.Network\/dnszones\/A","etag":"96ad5eb5-5d2f-43b7-b4c7-f14ddabeb599","properties":{"fqdn":"base.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"194.124.202.114"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 96ad5eb5-5d2f-43b7-b4c7-f14ddabeb599
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "be.xpiler.de."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/base?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/base","name":"base","type":"Microsoft.Network\/dnszones\/MX","etag":"d3c3cabb-8134-4076-b3ba-44563a2ad019","properties":{"fqdn":"base.zone2.com.","TTL":3600,"MXRecords":[{"exchange":"be.xpiler.de.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - d3c3cabb-8134-4076-b3ba-44563a2ad019
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["v=spf1 mx include:_spf4.xcaign.de
      include:_spf6.xcaign.de -all"]}, {"value": ["spf2.0/mfrom,pra mx ip4:15.19.14.0/24
      ip4:8.8.11.4/27 ip4:9.16.20.19/26 -all"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/base?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/base","name":"base","type":"Microsoft.Network\/dnszones\/TXT","etag":"bbfc089e-e5a2-44c4-8f04-bfa53279ba65","properties":{"fqdn":"base.zone2.com.","TTL":3600,"TXTRecords":[{"value":["v=spf1
        mx include:_spf4.xcaign.de include:_spf6.xcaign.de -all"]},{"value":["spf2.0\/mfrom,pra
        mx ip4:15.19.14.0\/24 ip4:8.8.11.4\/27 ip4:9.16.20.19\/26 -all"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - bbfc089e-e5a2-44c4-8f04-bfa53279ba65
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "194.124.202.114"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/even?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/even","name":"even","type":"Microsoft.Network\/dnszones\/A","etag":"e330eb5a-e9b4-4ee7-b104-f222f2c51fc2","properties":{"fqdn":"even.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"194.124.202.114"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e330eb5a-e9b4-4ee7-b104-f222f2c51fc2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "be.xpiler.de."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/even?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/even","name":"even","type":"Microsoft.Network\/dnszones\/MX","etag":"50487451-351d-4bc7-b29f-07335ce55758","properties":{"fqdn":"even.zone2.com.","TTL":3600,"MXRecords":[{"exchange":"be.xpiler.de.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 50487451-351d-4bc7-b29f-07335ce55758
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["v=spf1 mx include:_spf4.xgn.de
      include:_spf6.xgn.de -all"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/even?api-version=2018-05-01
  response:
    body:
[...]
