interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_listener000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001","name":"cli_test_ag_http_listener000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-11-04T04:14:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/publicIPAddresses/ip1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/publicIPAddresses/ip1\"\
        ,\r\n  \"etag\": \"W/\\\"3a3c3441-c865-4c6e-bacb-02987f9b6e02\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"34498a39-b224-4eec-926d-de5ec0c8b098\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n\
        \  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4d2b34e8-5ef8-43fa-9dea-21d715d555ba?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4d2b34e8-5ef8-43fa-9dea-21d715d555ba?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/publicIPAddresses/ip1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/publicIPAddresses/ip1\"\
        ,\r\n  \"etag\": \"W/\\\"63f10b8f-ae6d-4737-a19f-11dbd2707233\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"34498a39-b224-4eec-926d-de5ec0c8b098\"\
        ,\r\n    \"ipAddress\": \"13.88.86.241\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\
        ,\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"63f10b8f-ae6d-4737-a19f-11dbd2707233"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_http_listener000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_http_listener000001%27%20and%20name%20eq%20%27ip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/publicIPAddresses/ip1","name":"ip1","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard"},"location":"westus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag1'')]"}, "resources": [{"name": "ag1Vnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westus",
      "tags": {}, "apiVersion": "2020-06-01", "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/publicIPAddresses/ip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"}}}],
      "privateLinkConfigurations": []}, "zones": null}], "outputs": {"applicationGateway":
      {"type": "object", "value": "[reference(''ag1'')]"}}}, "parameters": {}, "mode":
      "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_listener000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Resources/deployments/ag_deploy_S0osyjJc2TWHeLwkO6pPMGRzoykA3efp","name":"ag_deploy_S0osyjJc2TWHeLwkO6pPMGRzoykA3efp","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3443292392525034129","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-11-04T04:14:42.1781026Z","duration":"PT2.033332S","correlationId":"177e63d3-3498-46da-8dde-43d27a04a2d7","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_listener000001/providers/Microsoft.Resources/deployments/ag_deploy_S0osyjJc2TWHeLwkO6pPMGRzoykA3efp/operationStatuses/08585971436053328558?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_listener000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585971436053328558?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1\"\
        ,\r\n  \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"fef9b4d9-177d-4bf6-9c15-d82186709dcc\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\"\
        ,\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\"\
        ,\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\
        \r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\
        \r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\"\
        : [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\
        \n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/publicIPAddresses/ip1\"\
        \r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n  \
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"frontendPorts\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendPort\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\
        ,\r\n        \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n       \
        \     {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\
        \r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n   \
        \     \"name\": \"appGatewayBackendPool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\
        ,\r\n        \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"backendAddresses\": [],\r\n          \"requestRoutingRules\"\
        : [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\
        \r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayBackendHttpSettings\",\r\n\
        \        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        ,\r\n        \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n    \
        \      \"cookieBasedAffinity\": \"Disabled\",\r\n          \"connectionDraining\"\
        : {\r\n            \"enabled\": false,\r\n            \"drainTimeoutInSec\"\
        : 1\r\n          },\r\n          \"pickHostNameFromBackendAddress\": false,\r\
        \n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\":\
        \ [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\
        \r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"\
        name\": \"appGatewayHttpListener\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        ,\r\n        \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        \r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\
        \r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\"\
        : [],\r\n          \"requireServerNameIndication\": false,\r\n          \"\
        requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\
        \r\n      }\r\n    ],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\"\
        : [\r\n      {\r\n        \"name\": \"rule1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        ,\r\n        \"etag\": \"W/\\\"5b959a81-a123-407a-acdf-b409f6d753b3\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"ruleType\": \"Basic\",\r\n          \"httpListener\": {\r\
        \n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n          },\r\n          \"backendAddressPool\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\
        \r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        \r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\
        \r\n      }\r\n    ],\r\n    \"probes\": [],\r\n    \"rewriteRuleSets\": [],\r\
        \n    \"redirectConfigurations\": [],\r\n    \"privateLinkConfigurations\"\
        : [],\r\n    \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5b959a81-a123-407a-acdf-b409f6d753b3"
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1",
      "location": "westus", "tags": {}, "properties": {"sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}},
      "name": "appGatewayFrontendIP"}], "trustedRootCertificates": [], "trustedClientCertificates":
      [], "sslCertificates": [], "frontendIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_listener000001/prov[...]
[...]
