interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_custom_ip_prefix/providers/Microsoft.Network/customIpPrefixes/prefix1?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"prefix1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_custom_ip_prefix/providers/Microsoft.Network/customIPPrefixes/prefix1\",\r\n
        \ \"etag\": \"W/\\\"e37df918-cb8c-4336-8291-d84dc2f34b09\\\"\",\r\n  \"type\":
        \"Microsoft.Network/customIPPrefixes\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"d8c062e8-b64c-412c-a265-b7b5d53a5f2e\",\r\n    \"commissionedState\": \"Provisioned\",\r\n
        \   \"failedReason\": \"OperationNotFailed\",\r\n    \"noInternetAdvertise\":
        false,\r\n    \"expressRouteAdvertise\": false,\r\n    \"cidr\": \"40.40.40.0/24\",\r\n
        \   \"childCustomIpPrefixes\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e37df918-cb8c-4336-8291-d84dc2f34b09"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_custom_ip_prefix/providers/Microsoft.Network/customIPPrefixes/prefix1",
      "location": "eastus2", "properties": {"cidr": "40.40.40.0/24", "commissionedState":
      "Commissioning", "noInternetAdvertise": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_custom_ip_prefix/providers/Microsoft.Network/customIpPrefixes/prefix1?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"prefix1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_custom_ip_prefix/providers/Microsoft.Network/customIPPrefixes/prefix1\",\r\n
        \ \"etag\": \"W/\\\"23101278-701f-4fe1-b0fe-c349d66a786d\\\"\",\r\n  \"type\":
        \"Microsoft.Network/customIPPrefixes\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"d8c062e8-b64c-412c-a265-b7b5d53a5f2e\",\r\n    \"commissionedState\": \"Commissioning\",\r\n
        \   \"failedReason\": \"\",\r\n    \"noInternetAdvertise\": false,\r\n    \"expressRouteAdvertise\":
        false,\r\n    \"cidr\": \"40.40.40.0/24\",\r\n    \"childCustomIpPrefixes\":
        []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/62c9055c-3187-4452-ac6e-df02f4b28d6b?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/62c9055c-3187-4452-ac6e-df02f4b28d6b?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_custom_ip_prefix/providers/Microsoft.Network/customIpPrefixes/prefix1?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"prefix1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_custom_ip_prefix/providers/Microsoft.Network/customIPPrefixes/prefix1\",\r\n
        \ \"etag\": \"W/\\\"06c7e36d-80ce-42a5-84cc-abd046306ff6\\\"\",\r\n  \"type\":
        \"Microsoft.Network/customIPPrefixes\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"d8c062e8-b64c-412c-a265-b7b5d53a5f2e\",\r\n    \"commissionedState\": \"Commissioning\",\r\n
        \   \"failedReason\": \"\",\r\n    \"noInternetAdvertise\": false,\r\n    \"expressRouteAdvertise\":
        false,\r\n    \"cidr\": \"40.40.40.0/24\",\r\n    \"childCustomIpPrefixes\":
        []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"06c7e36d-80ce-42a5-84cc-abd046306ff6"
    status:
      code: 200
      message: OK
version: 1
