interactions:
- request:
    body: '{"location": "eastus", "properties": {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002",
      "type": "Primary"}], "keyDelivery": {"accessControl": {"defaultAction": "Allow",
      "ipAllowList": []}}, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"clitestams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"East
        US\",\"properties\":{\r\n    \"mediaServiceId\":\"c1e8b14e-1b1c-4eda-b86d-d79158aa7351\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    },\"publicNetworkAccess\":\"Enabled\"\r\n  },\"systemData\":{\r\n
        \   \"createdBy\":\"azureclilivetest@azuresdkteam.onmicrosoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-01-29T09:28:01.6569079Z\",\"lastModifiedBy\":\"azureclilivetest@azuresdkteam.onmicrosoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-01-29T09:28:01.6569079Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"keydelivery\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/keydelivery\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"keydelivery\",\"requiredMembers\":[\r\n          \"keydelivery\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"liveevent\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/liveevent\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"liveevent\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"streamingendpoint\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/streamingendpoint\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"streamingendpoint\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001","name":"test_private_endpoint_connection_media_service000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-29T09:27:36Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-subnet-000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"92014a54-5bd3-46ee-9091-19cc62215824\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"1f5959bd-3cce-4ef0-af6b-3fb52e91285c\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"cli-subnet-000005\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"92014a54-5bd3-46ee-9091-19cc62215824\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/655fa34e-d8dd-42ca-bd12-5dc1539270ff?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/655fa34e-d8dd-42ca-bd12-5dc1539270ff?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"d3cf66c1-ab55-4ff2-b227-6efa4d7d8da8\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d3cf66c1-ab55-4ff2-b227-6efa4d7d8da8"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"privateLinkServiceConnections":
      [{"name": "cli-pec-000007", "properties": {"groupIds": ["keydelivery"], "privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"fc2dfed4-f7d7-4bed-a687-5b459a4718ea\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/fc2dfed4-f7d7-4bed-a687-5b459a4718ea\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \       \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \         \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n        },\"privateEndpoint\":{\r\n
        \         \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/fc2dfed4-f7d7-4bed-a687-5b459a4718ea?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"fc2dfed4-f7d7-4bed-a687-5b459a4718ea\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/fc2dfed4-f7d7-4bed-a687-5b459a4718ea\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \   \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \     \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n    },\"privateEndpoint\":{\r\n
        \     \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \   }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/fc2dfed4-f7d7-4bed-a687-5b459a4718ea?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnectionOperations/eccd7c4c-6387-49f2-8a61-f13946629d03?api-version=2021-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnectionOperations/eccd7c4c-6387-49f2-8a61-f13946629d03?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
