interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/virtualNetworkAvailableEndpointServices?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Storage\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Storage\",\r\n
        \     \"type\": \"Microsoft.Network/virtualNetworkEndpointServices\"\r\n    },\r\n
        \   {\r\n      \"name\": \"Microsoft.Sql\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Sql\",\r\n
        \     \"type\": \"Microsoft.Network/virtualNetworkEndpointServices\"\r\n    },\r\n
        \   {\r\n      \"name\": \"Microsoft.AzureActiveDirectory\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/network_service_endpoint_scenario_test000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001","name":"network_service_endpoint_scenario_test000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T12:37:39Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001","name":"network_service_endpoint_scenario_test000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T13:30:51Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> bump to 2019-09-01 for network
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:37:49 GMT
=======
      - Mon, 21 Oct 2019 13:31:05 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "tags": {"test": "best"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/serviceEndpointPolicies/policy1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"policy1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/serviceEndpointPolicies/policy1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"69172062-c9c8-4c79-b03f-fcf0ae774e08\\\"\",\r\n  \"type\":
        \"Microsoft.Network/serviceEndpointPolicies\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"tags\": {\r\n    \"test\": \"best\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"cb1d06a8-af48-4c5a-bca2-f50879c33f41\",\r\n
=======
        \ \"etag\": \"W/\\\"e233196c-97d5-40a1-ba78-d5af50416657\\\"\",\r\n  \"type\":
        \"Microsoft.Network/serviceEndpointPolicies\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"tags\": {\r\n    \"test\": \"best\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"8e84cd33-3154-4c33-a99e-4e60b2a2ee5e\",\r\n
>>>>>>> bump to 2019-09-01 for network
        \   \"serviceEndpointPolicyDefinitions\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/99b2b73d-0286-4019-aa81-3d2ca0f9611e?api-version=2019-08-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/572ba760-c04f-495a-ac39-59fb72fe9b08?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
      cache-control:
      - no-cache
      content-length:
      - '592'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:37:54 GMT
=======
      - Mon, 21 Oct 2019 13:31:10 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - ac867541-2ead-4771-953e-c63b04463297
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
=======
      - 1b255942-0f90-4338-b87a-a4827216cfc8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1166'
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/99b2b73d-0286-4019-aa81-3d2ca0f9611e?api-version=2019-08-01
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/572ba760-c04f-495a-ac39-59fb72fe9b08?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:38:07 GMT
=======
      - Mon, 21 Oct 2019 13:31:22 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 471ab859-db8e-4ce4-a752-102bcedb51e9
=======
      - 15875595-58dc-410e-b8dd-f1243c3d8691
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/serviceEndpointPolicies?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"policy1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scen[...]
[...]
- request:
    body: '{"properties": {"description": "Test Def", "service": "Microsoft.Storage",
      "serviceResources": ["/subscriptions/00000000-0000-0000-0000-000000000000"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/serviceEndpointPolicies/policy1/serviceEndpointPolicyDefinitions/storage-def?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"storage-def\",\r\n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/serviceEndpointPolicies/policy1/serviceEndpointPolicyDefinitions?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"storage-def\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-00000000000[...]
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/virtualNetworks/vnet1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"2cb4969c-cf82-42d6-909c-4fee603aff4a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"8cad62fd-a92e-4b0d-a274-dcc08ac3c416\",\r\n    \"addressSpace\":
=======
        \ \"etag\": \"W/\\\"62470675-36d7-434a-871d-b926eadfd1a4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"fbb42996-a21b-458b-a39a-0b5345ec6fa9\",\r\n    \"addressSpace\":
>>>>>>> bump to 2019-09-01 for network
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/0a14476d-646b-445a-82f0-5c45eb9abd21?api-version=2019-08-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/30a13cc3-61d1-43c2-bbe3-737122524fbd?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
      cache-control:
      - no-cache
      content-length:
      - '773'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:40:57 GMT
=======
      - Mon, 21 Oct 2019 13:34:02 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 74f1b2f0-c267-4bb3-88a6-50a854585e86
      x-ms-ratelimit-remaining-subscription-writes:
      - '1175'
=======
      - c204b1f9-5c28-4885-a275-b1a2b946fd98
      x-ms-ratelimit-remaining-subscription-writes:
      - '1173'
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/virtualNetworks/vnet1",
      "location": "westcentralus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24", "serviceEndpoints": [{"service": "Microsoft.Storage"}],
      "serviceEndpointPolicies": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/network_service_endpoint_scenario_test000001/providers/Microsoft.Network/serviceEndpointPolicies/policy1"}]},
<<<<<<< HEAD
      "name": "subnet1"}], "virtualNetworkPeerings": [], "resourceGuid": "8cad62fd-a92e-4b0d-a274-dcc08ac3c416",
      "provisioningState": "Succeeded", "enableDdosProtection": false, "enableVmProtection":
      false}, "etag": "W/\\"475f3b0f-2d5f-43ea-8f87-cb54fab1f786\\""}'''
=======
      "name":[...]
[...]
