interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cr_load_balancer000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001","name":"cli_test_cr_load_balancer000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-09T14:23:53Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_cr_load_balancer000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_cr_load_balancer000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2022-09-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMTY0IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWcElTVmxKU0ZWQlRrYzZNa1JTUnpveVJFVlZRVkE2TWtSRlFWTlVMVTFKUTFKUFUwOUdWRG95UlVOUFRWQlZWRVU2TWtaV1NWSlVWVUZNVFVGRFNFbE9SVk02TWtaV1RVWlBVazVHVXkxRlFWTlVWVk0tIn0%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_cr_load_balancer000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMTY0IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWcElTVmxKU0ZWQlRrYzZNa1JTUnpveVJFVlZRVkE2TWtSRlFWTlVMVTFKUTFKUFUwOUdWRG95UlVOUFRWQlZWRVU2TWtaV1NWSlVWVUZNVFVGRFNFbE9SVk02TWtaV1RVWlBVazVHVXkxRlFWTlVWVk0tIn0%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPcross-region-lb1", "location": "westus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "standard",
      "tier": "Global"}}, {"type": "Microsoft.Network/loadBalancers", "name": "cross-region-lb1",
      "location": "westus", "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPcross-region-lb1"],
      "properties": {"backendAddressPools": [{"name": "cross-region-lb1bepool"}],
      "frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd", "properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPcross-region-lb1"}}}]},
      "sku": {"name": "standard", "tier": "Global"}}], "outputs": {"loadBalancer":
      {"type": "object", "value": "[reference(''cross-region-lb1'')]"}}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cr_load_balancer000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Resources/deployments/lb_deploy_FrIOLrOJHSrHmAzzXxTVwKSxDC4LkFdA","name":"lb_deploy_FrIOLrOJHSrHmAzzXxTVwKSxDC4LkFdA","type":"Microsoft.Resources/deployments","properties":{"templateHash":"9717107822675937340","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-01-09T14:23:59.0329443Z","duration":"PT0.000197S","correlationId":"a4eb08de-0087-4f86-b9d2-249178f6dc72","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPcross-region-lb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPcross-region-lb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers/cross-region-lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"cross-region-lb1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cr_load_balancer000001/providers/Microsoft.Resources/deployments/lb_deploy_FrIOLrOJHSrHmAzzXxTVwKSxDC4LkFdA/operationStatuses/08585283326476234764?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cr_load_balancer000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585283326476234764?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_cr_load_balancer000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMTY4IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWcElTVmxKU0ZWQlRrYzZNa1JTUnpveVJFVlZRVkE2TWtSRlFWTlVMVTFKUTFKUFUwOUdWRG95UlVOUFRWQlZWRVU2TWtaVFUwaFFWVUpNU1VOTFJWbFRPakpHVmsxR1QxSk9SbE02TlVaTFJWa3RSVUZUVkZWVCJ9
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPcross-region-lb2", "location": "westus", "tags": {"foo": "doo"},
      "dependsOn": [], "properties": {"publicIPAllocationMethod": "Static"}, "sku":
      {"name": "standard", "tier": "Global"}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "cross-region-lb2", "location": "westus", "tags": {"foo": "doo"}, "apiVersion":
      "2022-01-01", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPcross-region-lb2"],
      "properties": {"backendAddressPools": [{"name": "cross-region-lb2bepool"}],
      "frontendIPConfigurations": [{"name[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPcross-region-lb2?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"PublicIPcross-region-lb2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPcross-region-lb2\",\r\n
        \ \"etag\": \"W/\\\"af55ac1b-24ed-4f4a-bea8-2bf48a7f94ef\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7cea162e-d68e-43b5-b490-89ed914ea694\",\r\n
        \   \"ipAddress\": \"52.250.216.141\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers/cross-region-lb2/frontendIPConfigurations/LoadBalancerFrontEnd\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Global\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"af55ac1b-24ed-4f4a-bea8-2bf48a7f94ef"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"idleTimeoutInMinutes": 4, "publicIPAddressVersion":
      "IPv4", "publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard", "tier":
      "Global"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/publicip4?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"publicip4\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/publicip4\",\r\n
        \ \"etag\": \"W/\\\"1e528261-ce60-4625-9368-67e848805216\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"7919b7c9-fc4b-4413-914e-4a26cd6fd326\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\":
        \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Global\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a403423f-6f62-433d-a8ee-b6318065e92f?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a403423f-6f62-433d-a8ee-b6318065e92f?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_cr_load_balancer000001%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/publicip4","name":"publicip4","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard"},"location":"westus"}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_cr_load_balancer000001%27+and+name+eq+%27publicip4%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2022-09-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjA4IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWcElTVmxKU0ZWQlRrYzZNa1JTUnpveVJFVlZRVkE2TWtSRlFWTlVMVTFKUTFKUFUwOUdWRG95UlVOUFRWQlZWRVU2TWtaRVNWTkxVem95UmxaTlJrOVNUa1pUT2pWR1JFbFRTekU2TlVaR01ERTFORGMzUmpkRk1FUTBPRGRHUVRReU5EVTBNRGc0UWpFeU1UVTVNeTFGUVZOVVZWTS0ifQ%3d%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_cr_load_balancer000001%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjA4IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWcElTVmxKU0ZWQlRrYzZNa1JTUnpveVJFVlZRVkE2TWtSRlFWTlVMVTFKUTFKUFUwOUdWRG95UlVOUFRWQlZWRVU2TWtaRVNWTkxVem95UmxaTlJrOVNUa1pUT2pWR1JFbFRTekU2TlVaR01ERTFORGMzUmpkRk1FUTBPRGRHUVRReU5EVTBNRGc0UWpFeU1UVTVNeTFGUVZOVVZWTS0ifQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/loadBalancers?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"name":"LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm","etag":"W/\"a93cf0f7-140c-414d-84f5-b8363825544d\"","type":"Microsoft.Network/loadBalancers","location":"westus","tags":{"resourceType":"Service
        Fabric","clusterName":"sfrp-cli-2r2vddcqeo3xevr"},"properties":{"provisioningState":"Succeeded","resourceGuid":"14ac120c-bd77-4552-bf56-38d21d1b5762","frontendIPConfigurations":[{"name":"LoadBalancerIPConfig","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/frontendIPConfigurations/LoadBalancerIPConfig","etag":"W/\"a93cf0f7-140c-414d-84f5-b8363825544d\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/publicIPAddresses/PublicIP-LB-FE-0"},"loadBalancingRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/loadBalancingRules/LBRule"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/loadBalancingRules/LBHttpRule"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/loadBalancingRules/AppPortLBRule1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/loadBalancingRules/AppPortLBRule2"}],"inboundNatRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/inboundNatRules/LoadBalancerBEAddressNatPool.0"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/inboundNatRules/LoadBalancerBEAddressNatPool.1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/inboundNatRules/LoadBalancerBEAddressNatPool.2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/inboundNatRules/LoadBalancerBEAddressNatPool.3"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/inboundNatRules/LoadBalancerBEAddressNatPool.4"}],"inboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/inboundNatPools/LoadBalancerBEAddressNatPool"}]}}],"backendAddressPools":[{"name":"LoadBalancerBEAddressPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Network/loadBalancers/LB-sfrp-cli-2r2vddcqeo3xevr-nt1vm/backendAddressPools/LoadBalancerBEAddressPool","etag":"W/\"a93cf0f7-140c-414d-84f5-b8363825544d\"","properties":{"provisioningState":"Succeeded","backendIPConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Compute/virtualMachineScaleSets/nt1vm/virtualMachines/0/networkInterfaces/NIC-0/ipConfigurations/NIC-0"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgcxuijq73gdjcjosp2kjfmhevaxdugwehqsgappt5vikgrdwsfesov3jp7mpu72jx2/providers/Microsoft.Compute/virtualMachineScaleSets/nt1vm/virtualMachines/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cross-region-lb1\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers/cross-region-lb1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cross-region-lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalan[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers/cross-region-lb1",
      "location": "westus", "properties": {"backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers/cross-region-lb1/backendAddressPools/cross-region-lb1bepool",
      "name": "cross-region-lb1bepool", "properties": {"loadBalancerBackendAddresses":
      []}}], "frontendIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers/cross-region-lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "name": "LoadBalancerFrontEnd", "properties": {"privateIPAllocationMethod":
      "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/publicIPAddresses/PublicIPcross-region-lb1"}}}],
      "inboundNatPools": [], "inboundNatRules": [], "loadBalancingRules": [], "outboundRules":
      [], "probes": []}, "sku": {"name": "Standard", "tier": "Global"}, "tags": {"CostCenter":
      "MyBusinessGroup"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balancer000001/providers/Microsoft.Network/loadBalancers/cross-region-lb1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cross-region-lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cr_load_balan[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/23976003-5307-44ca-b5a4-0abfda6e35ed?api-version=2022-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/23976003-5307-44ca-b5a4-0abfda6e35ed?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/23976003-5307-44ca-b5a4-0abfda6e35ed?api-version=2022-05-01
    status:
      code: 204
      message: No Content
[...]
