interactions:
- request:
    body: '{"location": "westus", "properties": {"tenantSettings": {}, "sku": {"name":
      "Standard", "family": "c", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/redis/cli-test-acfr-pe-000002?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002","location":"West
        US","name":"cli-test-acfr-pe-000002","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Creating","redisVersion":"4.0.14","sku":{"name":"Standard","family":"C","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":false,"isPrimary":false},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"publicNetworkAccess":"Enabled","tenantSettings":{},"redisConfiguration":{"maxclients":"1000","maxmemory-reserved":"50","maxfragmentationmemory-reserved":"50","maxmemory-delta":"50"},"accessKeys":{"primaryKey":"aaaaaa","secondaryKey":"aaaaaa"},"hostName":"cli-test-acfr-pe-000002.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/redis/cli-test-acfr-pe-000002?api-version=2020-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
      x-rp-server-mvid:
      - 32edddcd-f962-4b60-aaae-e7c5eb9f0d3f
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003\",\r\n
        \ \"etag\": \"W/\\\"f3de5978-5d7e-4dcc-b970-e30912f97557\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"87860684-50de-457d-910b-8e7b48e4a2c9\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \       \"etag\": \"W/\\\"f3de5978-5d7e-4dcc-b970-e30912f97557\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/fe21388a-a4ab-4c68-8737-34bb15d83d3c?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/fe21388a-a4ab-4c68-8737-34bb15d83d3c?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \ \"etag\": \"W/\\\"d7667542-2e8d-4d2d-b933-a381153b545e\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d7667542-2e8d-4d2d-b933-a381153b545e"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000006", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002",
      "groupIds": ["redisCache"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microso[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/redis/cli-test-acfr-pe-000002?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002","location":"West
        US","name":"cli-test-acfr-pe-000002","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"4.0.14","sku":{"name":"Standard","family":"C","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":true,"isPrimary":true},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"publicNetworkAccess":"Disabled","tenantSettings":{},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.4db68c8e-002a-4608-be54-0ad2ec8b8d54","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"redisConfiguration":{"maxclients":"1000","maxmemory-reserved":"50","maxfragmentationmemory-reserved":"50","maxmemory-delta":"50"},"accessKeys":null,"hostName":"cli-test-acfr-pe-000002.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 32edddcd-f962-4b60-aaae-e7c5eb9f0d3f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.4db68c8e-002a-4608-be54-0ad2ec8b8d54?api-version=2020-12-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.4db68c8e-002a-4608-be54-0ad2ec8b8d54\",\r\n
        \ \"name\": \"cli-pe-000005.4db68c8e-002a-4608-be54-0ad2ec8b8d54\",\r\n  \"type\":
        \"Microsoft.Cache/Redis/privateEndpointConnections\",\r\n  \"properties\":
        {\r\n    \"privateEndpoint\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005\"\r\n
        \   },\r\n    \"privateLinkServiceConnectionState\": {\r\n      \"status\":
        \"Approved\",\r\n      \"description\": \"Auto-Approved\",\r\n      \"actionsRequired\":
        \"None\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - 32edddcd-f962-4b60-aaae-e7c5eb9f0d3f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acfr_pe000001/providers/Microsoft.Cache/Redis/cli-test-acfr-pe-000002/privateEndpointConnections/cli-pe-000005.4db68c8e-002a-4608-be54-0ad2ec8b8d54?api-version=2020-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
      x-rp-server-mvid:
      - 32edddcd-f962-4b60-aaae-e7c5eb9f0d3f
    status:
      code: 200
      message: OK
version: 1
