interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route_peer_connection000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001","name":"cli_test_express_route_peer_connection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T12:35:40Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001","name":"cli_test_express_route_peer_connection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T12:48:08Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> bump to 2019-09-01 for network
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:35:46 GMT
=======
      - Mon, 21 Oct 2019 12:48:12 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Premium_MeteredData", "tier": "Premium",
      "family": "MeteredData"}, "properties": {"serviceProviderProperties": {"serviceProviderName":
      "Microsoft ER Test", "peeringLocation": "Area51", "bandwidthInMbps": 50}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"er1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"277308e9-e30d-44d2-9b6c-5c1628fe5e29\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"15859051-280a-44b1-936e-38512ee67206\",\r\n    \"peerings\": [],\r\n    \"authorizations\":
=======
        \ \"etag\": \"W/\\\"32f882a5-6a22-4d3e-8c4a-bcbe5109bb48\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"22463a19-9bb5-4ce9-8bda-2848903caeb2\",\r\n    \"peerings\": [],\r\n    \"authorizations\":
>>>>>>> bump to 2019-09-01 for network
        [],\r\n    \"serviceProviderProperties\": {\r\n      \"serviceProviderName\":
        \"Microsoft ER Test\",\r\n      \"peeringLocation\": \"Area51\",\r\n      \"bandwidthInMbps\":
        50\r\n    },\r\n    \"circuitProvisioningState\": \"Disabled\",\r\n    \"allowClassicOperations\":
        false,\r\n    \"serviceKey\": \"00000000-0000-0000-0000-000000000000\",\r\n
        \   \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"allowGlobalReach\":
        false,\r\n    \"globalReachEnabled\": false\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n    \"family\":
        \"MeteredData\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f415a54a-eb9e-4a5d-a07e-27d971315bfe?api-version=2019-08-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/2d5950be-134a-4299-8313-0dd5e8e5f860?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
      cache-control:
      - no-cache
      content-length:
      - '1069'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:35:50 GMT
=======
      - Mon, 21 Oct 2019 12:48:16 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 985aae4b-543a-405c-a9d6-c568f99051ce
      x-ms-ratelimit-remaining-subscription-writes:
      - '1174'
=======
      - 08821f2b-94db-498a-81a1-3d94cc32708c
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f415a54a-eb9e-4a5d-a07e-27d971315bfe?api-version=2019-08-01
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/2d5950be-134a-4299-8313-0dd5e8e5f860?api-version=2019-09-01
>>>>>>> bump to 2019-09-01 for network
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:36:03 GMT
=======
      - Mon, 21 Oct 2019 12:48:27 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - e9d0971e-c26b-45a0-bc3f-0d1359c2db28
=======
      - fe1edfdc-62d9-4968-ada0-0b8a0f7f8309
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"er1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"7e686af5-9975-4560-a424-ef325c957571\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"15859051-280a-44b1-936e-38512ee67206\",\r\n    \"peerings\": [],\r\n    \"authorizations\":
        [],\r\n    \"serviceProviderProperties\": {\r\n      \"serviceProviderName\":
        \"Microsoft ER Test\",\r\n      \"peeringLocation\": \"Area51\",\r\n      \"bandwidthInMbps\":
        50\r\n    },\r\n    \"circuitProvisioningState\": \"Enabled\",\r\n    \"allowClassicOperations\":
        false,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"serviceKey\": \"b9b446b6-5e17-4954-9a3b-ff75cc941193\",\r\n
=======
        \ \"etag\": \"W/\\\"a1436543-f34e-4f66-83dd-a3a5eb6b8cf9\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"22463a19-9bb5-4ce9-8bda-2848903caeb2\",\r\n    \"peerings\": [],\r\n    \"authorizations\":
        [],\r\n    \"serviceProviderProperties\": {\r\n      \"serviceProviderName\":
        \"Microsoft ER Test\",\r\n      \"peeringLocation\": \"Area51\",\r\n      \"bandwidthInMbps\":
        50\r\n    },\r\n    \"circuitProvisioningState\": \"Enabled\",\r\n    \"allowClassicOperations\":
        false,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"serviceKey\": \"3b2c5058-8bce-4cab-b641-0a7043d494a6\",\r\n
>>>>>>> bump to 2019-09-01 for network
        \   \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"allowGlobalReach\":
        false,\r\n    \"globalReachEnabled\": false,\r\n    \"stag\": 61\r\n  },\r\n
        \ \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n
        \   \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:36:24 GMT
=======
      - Mon, 21 Oct 2019 12:49:30 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 68f29dba-34a3-4e2c-8a1a-4489df07844c
=======
      - e5aabf1b-e774-4c22-8939-561f994dd646
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"peeringType": "AzurePrivatePeering", "peerASN": 10001,
      "primaryPeerAddressPrefix": "102.0.0.0/30", "secondaryPeerAddressPrefix": "103.0.0.0/30",
      "vlanId": 101}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1/peerings/AzurePrivatePeering?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"AzurePrivatePeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1/peerings/AzurePrivatePeering\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"763d14ff-46aa-4446-b12a-c88bda59a20d\\\"\",\r\n  \"properties\":
=======
        \ \"etag\": \"W/\\\"d7dcaf39-8b59-4b63-8126-5ba600786e9d\\\"\",\r\n  \"properties\":
>>>>>>> bump to 2019-09-01 for network
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"peeringType\": \"AzurePrivatePeering\",\r\n
        \   \"azureASN\": 0,\r\n    \"peerASN\": 10001,\r\n    \"primaryPeerAddressPrefix\":
        \"102.0.0.0/30\",\r\n    \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\",\r\n
        \   \"state\": \"Enabled\",\r\n    \"vlanId\": 101,\r\n    \"lastModifiedBy\":
        \"\",\r\n    \"connections\": [],\r\n    \"peeredConnections\": []\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n}"
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c71bfdb9-9d4f-4d14-8cf9-cfd3868b0c7d?api-version=2019-08-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operati[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1/peerings/AzurePrivatePeering?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"AzurePrivatePeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1/peerings/AzurePrivatePeering\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"87313d5f-e1ae-4500-8058-e92ac7e8ad5b\\\"\",\r\n  \"properties\":
=======
        \ \"etag\": \"W/\\\"55f4f767-c3b2-49a1-b984-67bec5254102\\\"\",\r\n  \"properties\":
>>>>>>> bump to 2019-09-01 for network
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"peeringType\": \"AzurePrivatePeering\",\r\n
        \   \"azureASN\": 12076,\r\n    \"peerASN\": 10001,\r\n    \"primaryPeerAddressPrefix\":
        \"102.0.0.0/30\",\r\n    \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\",\r\n
        \   \"primaryAzurePort\": \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n    \"secondaryAzurePort\":
        \"A51-TEST-06GMR-CIS-2-SEC-A\",\r\n    \"state\": \"Enabled\",\r\n    \"vlanId\":
        101,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"lastModifiedBy\": \"Customer\",\r\n
        \   \"connections\": [],\r\n    \"peeredConnections\": []\r\n  },\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:36:53 GMT
=======
      - Mon, 21 Oct 2019 12:49:58 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - ef39529e-fbdb-46df-be6a-38debaed867d
=======
      - 3b767dd9-f819-4862-bf21-3ec71079eecb
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1/peerings/AzurePrivatePeering/peerConnections/peconn12?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\":
        \"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1/peerings/AzurePrivatePeering/peerConnections/peconn12
        not found.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:37:32 GMT
=======
      - Mon, 21 Oct 2019 12:50:31 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - a26844d6-6faf-407c-b6b1-4c9bb60c846f
=======
      - 0a9da02e-daa1-4719-9579-c407edcdd4d5
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_peer_connection000001/providers/Microsoft.Network/expressRouteCircuits/er1/peerings/AzurePrivatePeering/peerConnections?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 21 Oct 2019 12:37:33 GMT
=======
      - Mon, 21 Oct 2019 12:50:33 GMT
>>>>>>> bump to 2019-09-01 for network
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 1834256e-9453-4cb9-bc6d-9850e8a05fde
=======
      - 8f39e3d2-120b-4ea5-b6a9-50cadd54033f
>>>>>>> bump to 2019-09-01 for network
    status:
      code: 200
      message: OK
version: 1
