interactions:
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com","name":"zone9.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-740b-bfa6c474d801","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-01.azure-dns.com.","ns2-01.azure-dns.net.","ns3-01.azure-dns.org.","ns4-01.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00000002-0000-0000-740b-bfa6c474d801
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/SOA/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"c8af8158-a462-41a3-a640-b7eba1a7bf4b","properties":{"fqdn":"zone9.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-01.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c8af8158-a462-41a3-a640-b7eba1a7bf4b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"TTL": 3600, "SOARecord": {"host": "ns1-01.azure-dns.com.",
      "email": "azuredns-hostmaster.zone9.com.", "serialNumber": 1, "refreshTime":
      3600, "retryTime": 300, "expireTime": 2419200, "minimumTTL": 300}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/soa/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"111e61e5-58af-4423-9da3-8b8444f420c5","properties":{"fqdn":"zone9.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.zone9.com.","expireTime":2419200,"host":"ns1-01.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 111e61e5-58af-4423-9da3-8b8444f420c5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/NS/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"96aaa616-33e0-4a30-bdc9-8f26a6c4dc11","properties":{"fqdn":"zone9.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-01.azure-dns.com."},{"nsdname":"ns2-01.azure-dns.net."},{"nsdname":"ns3-01.azure-dns.org."},{"nsdname":"ns4-01.azure-dns.info."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 96aaa616-33e0-4a30-bdc9-8f26a6c4dc11
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"TTL": 300, "NSRecords": [{"nsdname": "ns1.zone9.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/ns/test-ns?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/NS\/test-ns","name":"test-ns","type":"Microsoft.Network\/dnszones\/NS","etag":"3431fe6d-009b-4ebf-bf87-58505b2c357f","properties":{"fqdn":"test-ns.zone9.com.","TTL":300,"NSRecords":[{"nsdname":"ns1.zone9.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3431fe6d-009b-4ebf-bf87-58505b2c357f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 300, "MXRecords": [{"preference": 10, "exchange":
      "mail.zone9.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/mx/test-mx?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/MX\/test-mx","name":"test-mx","type":"Microsoft.Network\/dnszones\/MX","etag":"6725b0de-9080-412b-ba05-f3f0c838a676","properties":{"fqdn":"test-mx.zone9.com.","TTL":300,"MXRecords":[{"exchange":"mail.zone9.com.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 6725b0de-9080-412b-ba05-f3f0c838a676
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 300, "SRVRecords": [{"priority": 1, "weight": 2,
      "port": 3, "target": "target.zone9.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/srv/_sip._tcp.test-srv?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/SRV\/_sip._tcp.test-srv","name":"_sip._tcp.test-srv","type":"Microsoft.Network\/dnszones\/SRV","etag":"079834dd-5fd2-499c-babb-f3761df4fc41","properties":{"fqdn":"_sip._tcp.test-srv.zone9.com.","TTL":300,"SRVRecords":[{"port":3,"priority":1,"target":"target.zone9.com.","weight":2}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 079834dd-5fd2-499c-babb-f3761df4fc41
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "1.2.3.4"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/a/ns?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/A\/ns","name":"ns","type":"Microsoft.Network\/dnszones\/A","etag":"f27ded70-6a75-4633-928a-81df9ac12c04","properties":{"fqdn":"ns.zone9.com.","TTL":3600,"ARecords":[{"ipv4Address":"1.2.3.4"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f27ded70-6a75-4633-928a-81df9ac12c04
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "2.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/a/*?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/A\/*","name":"*","type":"Microsoft.Network\/dnszones\/A","etag":"2056bb60-5924-4e29-a8bc-2f30d63a81b2","properties":{"fqdn":"*.zone9.com.","TTL":3600,"ARecords":[{"ipv4Address":"2.3.4.5"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 2056bb60-5924-4e29-a8bc-2f30d63a81b2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 300, "CNAMERecord": {"cname": "zone9.com."}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/cname/www?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/CNAME\/www","name":"www","type":"Microsoft.Network\/dnszones\/CNAME","etag":"3c067033-ca6c-48c9-9b35-2aa9d4f7eed2","properties":{"fqdn":"www.zone9.com.","TTL":300,"CNAMERecord":{"cname":"zone9.com."},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3c067033-ca6c-48c9-9b35-2aa9d4f7eed2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com/recordsets?api-version=2018-05-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone9_import000001\/providers\/Microsoft.Network\/dnszones\/zone9.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"94409b48-de4f-4056-88a9-4ed3d0d51eed","properties":{"fqdn":"zone9.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-01.azure-dns.com."},{"nsdname":"ns2-01.azure-dns.net."},{"nsdname":"ns3-01.azure-dns.org."},{"nsdname":"ns4-01.azure-dns.info."}],"targetResource":{},"provisioni[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsZones/zone9.com?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone63789580913362743645b46a94?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsOperationResults/delzone63789580913362743645b46a94?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone9_import000001/providers/Microsoft.Network/dnsOperationStatuses/delzone63789580913362743645b46a94?api-version=2018-05-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
