interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vnet_with_encryption000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001","name":"cli_vnet_with_encryption000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-12T13:38:34Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "Mysubnet", "properties":
      {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "encryption": {"enabled":
      true, "enforcement": "allowUnencrypted"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"MyVnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1\",\r\n
        \ \"etag\": \"W/\\\"b8b85bff-5282-4f26-841b-7a53cbd9f95f\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"0e8edf7c-a433-45d0-9502-3006aef4db71\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"encryption\": {\r\n      \"enabled\": true,\r\n      \"enforcement\":
        \"AllowUnencrypted\"\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\":
        []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"Mysubnet\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1/subnets/Mysubnet\",\r\n
        \       \"etag\": \"W/\\\"b8b85bff-5282-4f26-841b-7a53cbd9f95f\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/9a6b67f4-60be-410b-96e7-99bbf285df86?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/9a6b67f4-60be-410b-96e7-99bbf285df86?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.3.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "MySubnet", "properties":
      {"addressPrefix": "10.3.0.0/24", "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "encryption": {"enabled":
      true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet4?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"MustSpecifyBothEncryptionIntentAndEnforcementPolicy\",\r\n
        \   \"message\": \"Cannot encrypt VirtualNetwork /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet4
        unless both encryption intent (Enabled true or false) and enforcement policy
        (AllowUnencrypted or DropUnencrypted) are specified.\",\r\n    \"details\":
        []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1",
      "name": "MyVnet1ToMyVnet2", "properties": {"allowVirtualNetworkAccess": false,
      "allowForwardedTraffic": false, "allowGatewayTransit": false, "useRemoteGateways":
      false, "remoteVirtualNetwork": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1/virtualNetworkPeerings/MyVnet1ToMyVnet2?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"MyVnet1ToMyVnet2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1/virtualNetworkPeerings/MyVnet1ToMyVnet2\",\r\n
        \ \"etag\": \"W/\\\"1428a73c-29f3-4339-8168-5b891ac0645d\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"bdbd7533-f092-0a1c-2da1-103244846d1f\",\r\n
        \   \"peeringState\": \"Initiated\",\r\n    \"peeringSyncLevel\": \"RemoteNotInSync\",\r\n
        \   \"remoteVirtualNetwork\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet2\"\r\n
        \   },\r\n    \"allowVirtualNetworkAccess\": false,\r\n    \"allowForwardedTraffic\":
        false,\r\n    \"allowGatewayTransit\": false,\r\n    \"useRemoteGateways\":
        false,\r\n    \"doNotVerifyRemoteGateways\": false,\r\n    \"peerCompleteVnets\":
        true,\r\n    \"remoteAddressSpace\": {\r\n      \"addressPrefixes\": [\r\n
        \       \"10.1.0.0/16\"\r\n      ]\r\n    },\r\n    \"remoteVirtualNetworkAddressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.1.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"remoteVirtualNetworkEncryption\": {\r\n      \"enabled\":
        true,\r\n      \"enforcement\": \"DropUnencrypted\"\r\n    },\r\n    \"routeServiceVips\":
        {}\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/virtualNetworkPeerings\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d5b1cffd-a7b8-4d80-a283-ef28d48daa10?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
[...]
