interactions:
- request:
    body: '{"sku": {"name": "Developer", "capacity": 1}, "location": "westus2", "properties":
      {"notificationSenderEmail": "email@mydomain.com", "virtualNetworkType": "None",
      "restore": false, "publisherEmail": "email@mydomain.com", "publisherName": "Microsoft"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002","name":"apim-privatelink-service000002","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US 2","etag":"AAAAAAA6LKw=","properties":{"publisherEmail":"email@mydomain.com","publisherName":"Microsoft","notificationSenderEmail":"email@mydomain.com","provisioningState":"Created","targetProvisioningState":"Activating","createdAtUtc":"2023-02-08T07:44:36.6893672Z","gatewayUrl":"https://apim-privatelink-service000002.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"managementApiUrl":null,"scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"apim-privatelink-service000002.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":null,"virtualNetworkType":"None","certificates":null,"disableGateway":false,"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"undetermined"},"sku":{"name":"Developer","capacity":1},"identity":null,"zones":null,"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-02-08T07:44:36.4053143Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-08T07:44:36.4053143Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAA6LKw="'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/operationresults/d2VzdHVzMjphcGltLXByaXZhdGVsaW5rLXNlcnZpY2V2MnJjZmRkamkzeXRqMnVzX0FjdF85NDNhN2M5OQ==?api-version=2021-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/operationresults/d2VzdHVzMjphcGltLXByaXZhdGVsaW5rLXNlcnZpY2V2MnJjZmRkamkzeXRqMnVzX0FjdF85NDNhN2M5OQ==?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/operationresults/d2VzdHVzMjphcGltLXByaXZhdGVsaW5rLXNlcnZpY2V2MnJjZmRkamkzeXRqMnVzX0FjdF85NDNhN2M5OQ==?api-version=2021-08-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateLinkResources?api-version=2021-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateLinkResources/Gateway","name":"Gateway","type":"Microsoft.ApiManagement/service/privateLinkResources","properties":{"groupId":"Gateway","requiredMembers":["Gateway"],"requiredZoneNames":["privateLink.azure-api.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_api_management_private_endpoint_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001","name":"test_api_management_private_endpoint_000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2023-02-08T07:44:33Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "apim-privatelink-subnet000004", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/apim-privatelink-vnet000003?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"apim-privatelink-vnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/apim-privatelink-vnet000003\",\r\n
        \ \"etag\": \"W/\\\"f4d64466-d4d6-4c80-a3ba-13281159d880\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"1a4315ca-c63e-479e-a38f-06f490254728\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"apim-privatelink-subnet000004\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/apim-privatelink-vnet000003/subnets/apim-privatelink-subnet000004\",\r\n
        \       \"etag\": \"W/\\\"f4d64466-d4d6-4c80-a3ba-13281159d880\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/3719543a-9b62-4e59-b912-4d550b7209a6?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/3719543a-9b62-4e59-b912-4d550b7209a6?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/apim-privatelink-vnet000003/subnets/apim-privatelink-subnet000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"apim-privatelink-subnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/apim-privatelink-vnet000003/subnets/apim-privatelink-subnet000004\",\r\n
        \ \"etag\": \"W/\\\"59c3cbf3-0be1-481e-82bf-bd6ccc49c51f\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"59c3cbf3-0be1-481e-82bf-bd6ccc49c51f"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"privateLinkServiceConnections":
      [{"name": "apim-privatelink-endpointconn000006", "properties": {"groupIds":
      ["Gateway"], "privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/apim-privatelink-vnet000003/subnets/apim-privatelink-subnet000004"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/privateEndpoint[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateEndpointConnections?api-version=2021-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateEndpointConnections/apim-privatelink-endpointconn000006","name":"apim-privatelink-endpointconn000006","type":"Microsoft.ApiManagement/service/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/apim-privatelink-endpoint000005"},"groupIds":["Gateway"],"privateLinkServiceConnectionState":{"status":"Approved","description":"","actionsRequired":null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateEndpointConnections/apim-privatelink-endpointconn000006?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateEndpointConnections/apim-privatelink-endpointconn000006","name":"apim-privatelink-endpointconn000006","type":"Microsoft.ApiManagement/service/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/apim-privatelink-endpoint000005"},"groupIds":["Gateway"],"privateLinkServiceConnectionState":{"status":"Approved","description":"","actionsRequired":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"manualPrivateLinkServiceConnections":
      [{"name": "apim-privatelink-endpointconn2000008", "properties": {"groupIds":
      ["Gateway"], "privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/apim[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateEndpointConnections/apim-privatelink-endpointconn000006?api-version=2021-08-01
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_api_management_private_endpoint_000001/providers/Microsoft.ApiManagement/service/apim-privatelink-service000002/privateEndpointConnections/apim-privatelink-endpointconn000006/operationresults/d2VzdHVzMjphcGltLXByaXZhdGVsaW5rLXNlcnZpY2V2MnJjZmRkamkzeXRqMnVzX1VwZGF0ZV9mNzA5OWVlNw==?api-version=2021-08-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
