interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_public_ip_prefix_edge_zone000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_public_ip_prefix_edge_zone000001","name":"test_network_public_ip_prefix_edge_zone000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","date":"2021-10-11T12:21:30Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "extendedLocation": {"name": "microsoftrrdclab1",
      "type": "EdgeZone"}, "sku": {"name": "Standard"}, "properties": {"publicIPAddressVersion":
      "IPv4", "prefixLength": 30}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_public_ip_prefix_edge_zone000001/providers/Microsoft.Network/publicIPPrefixes/pubip1-prefix?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip1-prefix\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_public_ip_prefix_edge_zone000001/providers/Microsoft.Network/publicIPPrefixes/pubip1-prefix\",\r\n
        \ \"etag\": \"W/\\\"c04129dc-e309-43f0-81a0-27c7f1fc5336\\\"\",\r\n  \"type\":
        \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\":
        \"microsoftrrdclab1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"resourceGuid\": \"7deaae00-e77e-40b9-a57c-a33a1b91ba2f\",\r\n
        \   \"prefixLength\": 30,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"ipTags\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n
        \   \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/bdd0de64-8b38-41a4-a221-7f012679b801?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/bdd0de64-8b38-41a4-a221-7f012679b801?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_public_ip_prefix_edge_zone000001/providers/Microsoft.Network/publicIPPrefixes/pubip1-prefix?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"pubip1-prefix\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_public_ip_prefix_edge_zone000001/providers/Microsoft.Network/publicIPPrefixes/pubip1-prefix\",\r\n
        \ \"etag\": \"W/\\\"00cb1472-d35a-4e33-abca-f83ed64d931a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\":
        \"microsoftrrdclab1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"7deaae00-e77e-40b9-a57c-a33a1b91ba2f\",\r\n
        \   \"prefixLength\": 30,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"ipPrefix\": \"198.180.97.112/30\",\r\n    \"ipTags\": []\r\n  },\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"00cb1472-d35a-4e33-abca-f83ed64d931a"
    status:
      code: 200
      message: OK
version: 1
