interactions:
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dnssec000001\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"aa298f56-9303-463d-aa0f-6e17744a7a99","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-35.daily.azure-dns.com.","ns2-35.daily.azure-dns.net.","ns3-35.daily.azure-dns.org.","ns4-35.daily.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - aa298f56-9303-463d-aa0f-6e17744a7a99
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dnssec000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/dnssecConfigs\/default","name":"default","type":"Microsoft.Network\/dnszones\/dnssecConfigs","etag":"8fa2e00d-c1e5-45c7-8522-df7f19a1492a","properties":{"provisioningState":"Creating","signingKeys":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 8fa2e00d-c1e5-45c7-8522-df7f19a1492a
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dnssec000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/dnssecConfigs\/default","name":"default","type":"Microsoft.Network\/dnszones\/dnssecConfigs","etag":"92166d4b-b873-40a8-978d-9e3438ce3aec","properties":{"provisioningState":"Succeeded","signingKeys":[{"delegationSignerInfo":[],"flags":256,"keyTag":31445,"protocol":3,"publicKey":"ysscsTHuXCaXOfAtEe68Eus4s6M5cemPPHb\/9Ik5SVFYH4rPlwj6xH6SWuMaD9Q3ryUqqq0NRaW3WFXsthIOpw==","securityAlgorithmType":13},{"delegationSignerInfo":[{"digestAlgorithmType":2,"digestValue":"6n6j2HeEm8iu\/Pn9xSSrbONCT0nddryZBeuEOrw7qUg=","record":"19282
        13 2 6n6j2HeEm8iu\/Pn9xSSrbONCT0nddryZBeuEOrw7qUg="}],"flags":257,"keyTag":19282,"protocol":3,"publicKey":"T9gWbUF9JQYX3593\/xT0q00MsuoXiAQ5hzDgy1Xqm9rVKOyZk36sNi8WQ22B9buRaX\/LB9aU0h2lUMf4DppPSg==","securityAlgorithmType":13}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 92166d4b-b873-40a8-978d-9e3438ce3aec
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsZones/myzone.com/dnssecConfigs/default?api-version=2023-07-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzI3ZmE0ZDkzLTIzOTQtNGM4Zi1hODJkLTFhYzk3YzU2MjdkMg==?api-version=2023-07-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzI3ZmE0ZDkzLTIzOTQtNGM4Zi1hODJkLTFhYzk3YzU2MjdkMg==?api-version=2023-07-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzI3ZmE0ZDkzLTIzOTQtNGM4Zi1hODJkLTFhYzk3YzU2MjdkMg==?api-version=2023-07-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzI3ZmE0ZDkzLTIzOTQtNGM4Zi1hODJkLTFhYzk3YzU2MjdkMg==?api-version=2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzI3ZmE0ZDkzLTIzOTQtNGM4Zi1hODJkLTFhYzk3YzU2MjdkMg==?api-version=2023-07-01-preview
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dnssec000001/providers/Microsoft.Network/dnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVab25lRG5zc2VjOzI3ZmE0ZDkzLTIzOTQtNGM4Zi1hODJkLTFhYzk3YzU2MjdkMg==?api-version=2023-07-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 200
      message: OK
version: 1
