interactions:
- request:
    body: '{"location": "eastus", "properties": {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002",
      "type": "Primary"}], "keyDelivery": {"accessControl": {"defaultAction": "Allow",
      "ipAllowList": []}}, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"clitestams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"East
        US\",\"properties\":{\r\n    \"mediaServiceId\":\"220278ce-37fc-4f9f-b93b-249212ca088f\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Storage/storageAccounts/testams000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    },\"publicNetworkAccess\":\"Enabled\"\r\n  },\"systemData\":{\r\n
        \   \"createdBy\":\"ethanyang@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-08-28T17:43:47.7098771Z\",\"lastModifiedBy\":\"ethanyang@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-08-28T17:43:47.7098771Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"keydelivery\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/keydelivery\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"keydelivery\",\"requiredMembers\":[\r\n          \"keydelivery\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"liveevent\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/liveevent\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"liveevent\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    },{\r\n      \"name\":\"streamingendpoint\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateLinkResources/streamingendpoint\",\"type\":\"Microsoft.Media/mediaservices/privateLinkResources\",\"properties\":{\r\n
        \       \"groupId\":\"streamingendpoint\",\"requiredMembers\":[\r\n          \"privatelinkplaceholder\"\r\n
        \       ],\"requiredZoneNames\":[\r\n          \"privatelink.media.azure.net\"\r\n
        \       ]\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001","name":"test_private_endpoint_connection_media_service000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-28T17:43:10Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000005",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Disabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"f4b281a7-c798-4b77-a2bb-26b87f1b6919\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"aa1e0c70-5d33-4b08-a0ef-2bb8aaf6d8e4\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"f4b281a7-c798-4b77-a2bb-26b87f1b6919\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/703a434c-bf6c-42b6-89c1-a2fef26eebd2?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/703a434c-bf6c-42b6-89c1-a2fef26eebd2?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"62f4877d-f161-42ac-8829-140a551010be\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"62f4877d-f161-42ac-8829-140a551010be"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005",
      "properties": {"privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000007", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003",
      "groupIds": ["keydelivery"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_priv[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"014a618e-6e6c-4a43-93d4-8b13d0f23b63\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/014a618e-6e6c-4a43-93d4-8b13d0f23b63\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \       \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \         \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n        },\"privateEndpoint\":{\r\n
        \         \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/014a618e-6e6c-4a43-93d4-8b13d0f23b63?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"014a618e-6e6c-4a43-93d4-8b13d0f23b63\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/014a618e-6e6c-4a43-93d4-8b13d0f23b63\",\"type\":\"Microsoft.Media/mediaservices/privateEndpointConnections\",\"properties\":{\r\n
        \   \"provisioningState\":\"Succeeded\",\"privateLinkServiceConnectionState\":{\r\n
        \     \"status\":\"Approved\",\"description\":\"Auto approved.\"\r\n    },\"privateEndpoint\":{\r\n
        \     \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\"\r\n
        \   }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnections/014a618e-6e6c-4a43-93d4-8b13d0f23b63?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnectionOperations/c5ea1487-4679-4544-b6ef-52f6d21e1118?api-version=2021-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_media_service000001/providers/Microsoft.Media/mediaservices/clitestams000003/privateEndpointConnectionOperations/c5ea1487-4679-4544-b6ef-52f6d21e1118?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
