interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_link_ip_config_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001","name":"cli_test_private_link_ip_config_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_private_link_ip_config","date":"2024-08-16T10:15:32Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/publicIPAddresses/public-ip-000002?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"public-ip-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/publicIPAddresses/public-ip-000002\"\
        ,\r\n  \"etag\": \"W/\\\"8cba128d-53b4-42ae-91aa-4c83bacf02d6\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"630e779e-c2df-4677-b9e2-a7af1ef93b9a\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\
        \n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/782c681d-d099-413d-bfa3-1ef4e139d9e6?api-version=2022-11-01&t=638594001418343395&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/782c681d-d099-413d-bfa3-1ef4e139d9e6?api-version=2022-11-01&t=638594001418343395&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/publicIPAddresses/public-ip-000002?api-version=2022-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"public-ip-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/publicIPAddresses/public-ip-000002\"\
        ,\r\n  \"etag\": \"W/\\\"ce864b7d-2afd-49ba-9047-daac47f068c8\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"630e779e-c2df-4677-b9e2-a7af1ef93b9a\"\
        ,\r\n    \"ipAddress\": \"40.78.86.38\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\"\
        : \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\
        ,\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ce864b7d-2afd-49ba-9047-daac47f068c8"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_link_ip_config_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001","name":"cli_test_private_link_ip_config_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_private_link_ip_config","date":"2024-08-16T10:15:32Z","module":"network","DateCreated":"2024-08-16T10:15:41Z","Creator":"v-ruih@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_private_link_ip_config_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_private_link_ip_config_000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2022-09-01&%24skiptoken=rZLBbqMwFEX%2fhTULl5RNpFl0BugQxQ%2b149a1d4iggI1JFYwSXPXf%2b2jTzFQiMxKaJUY%2b7%2fq%2b8%2bK15dGu61Z33vLFK8rW7vOm78o%2bf%2faWXjmsevlUEcaTIQ8eh1TtamDFQrj7OmMPVjIaiF%2bECC71mq%2fGfzZj9JhFSQUOFLgiSFvyzfO9btfb6sy%2fwJZRoyjel%2brGIisEZMvoZlgzHVKGZxE9UJwj1UbTKNEndpl3tu%2bCv4QW%2fAEB4jrjwmJ4lY2hVbxY83QheWxxcA1RMYAqDsJA8wV8ISyYpIbbR5VxaqnaDqImhEZNhcxQBKkVRjYiAEOdcBj%2bcGKq%2fDlvx8QXsDK6I9TQUJjUSoXXB0JAjR1sHX5ZacQV8Bif810Lpj%2bxh3Ls4AITecfsdlULV1hQqwowasZjMu5MvPcaE%2bw2AJ4YUNtP5r%2fWBU5fgblXUuHao00NPzAqhwqjLsDElrLCSX53FG5TYezwvYFX%2f7dzWftz12zQvNMhzfe63OMjzpPHnS7%2fl4b%2bVwknuXMU9P8QcBI6R78TdJI3Rz3%2fLN4kco52%2fod0k7w5yvnntU8i5%2bn2Bg%3d%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_private_link_ip_config_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2022-09-01&$skiptoken=rZLBbqMwFEX/hTULl5RNpFl0BugQxQ%2B149a1d4iggI1JFYwSXPXf%2B2jTzFQiMxKaJUY%2B7/q%2B8%2BK15dGu61Z33vLFK8rW7vOm78o%2Bf/aWXjmsevlUEcaTIQ8eh1TtamD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_private_link_ip_config_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2022-09-01&$skiptoken=rY%2BxCsIwFEX/JXOHUHUpOAixNaUvoqjVbqEGmrSk0qZgIv67qYguTuLwljecc88NaXE1mdR1j6IbErw3Qx%2BKgV9QhIRNh%2BJY4V0eWx4eLFWtBLW34GIF5GQgKSpmMWaO4ixfTpmihiV0Bi6VQErnD1ON5yhApdCm483gLd%2BxyaECsq3BI8AtpiA9lpSTLI8lc6NqjwuywafdiKb2ib0Hn/VrvWqbs294PYF3tehG2ycp%2BldQ8M75jvwp5gE%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_private_link_ip_config_000001%27%20and%20name%20eq%20%27public-ip-000002%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_private_link_ip_config_000001%27%20and%20name%20eq%20%27public-ip-000002%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=rZJNj5swFEX/C2sWjifZROoiU2emIGxE6sS1d4hBcR4fGQWjBEb9732Z0rQjkVZCFbu3OFzfe968Or%2B46FAXjbd887K8dqe0bJu8TV%2B9pZd3YWu%2BWSLVU5f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_private_link_ip_config_000001%27%20and%20name%20eq%20%27public-ip-000002%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=rY%2BxCsIwGITfJXOHUJ0KDmpRI/0rSGpNtqDBmiZR2hQaxXe3itilkzgd3PDdfXdkZeuSsy1rFN2RFLVr6lA24ooiJP264fsC03zhRbjzRF3OaZxhoIC5yRxX0xY8xlylRUJ1CfTkmGFjRmcmNSxkVBfE4gkK0EFaVwnddCuDWG62ihsyZjm4DdUK5hhDPG2TfF1wA44vySi9kQ651V36N/YR9O83dnXRx87hU4KoSlm91nql6F9CwVdnEPmbzBM%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''application-gateway-000003'')]"}, "resources": [{"name": "application-gateway-000003Vnet",
      "type": "Microsoft.Network/virtualNetworks", "location": "westus", "apiVersion":
      "2015-06-15", "dependsOn": [], "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"name": "default", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/applicationGateways", "name":
      "application-gateway-000003", "location": "westus", "tags": {}, "apiVersion":
      "2022-05-01", "dependsOn": ["Microsoft.Network/virtualNetworks/application-gateway-000003Vnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/publicIPAddresses/public-ip-000002"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/virtualNetworks/application-gateway-000003Vnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "Standard_v2",
      "tier": "Standard_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1",
      "properties": {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "priority": 1001}}], "privateLinkConfigurations": []}, "zones": null}], "outputs":
      {"applicationGateway": {"type": "object", "value": "[reference(''application-gateway-000003'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Resources/deployments/ag_deploy_jt9VQ9PjlQ2GHnkp6vlYFjfRcpaR9InR","name":"ag_deploy_jt9VQ9PjlQ2GHnkp6vlYFjfRcpaR9InR","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7139531091523431944","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-08-16T10:15:53.9262687Z","duration":"PT0.0001909S","correlationId":"56ab022c-8c35-4caf-8ca0-f6dc76e98dcf","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/virtualNetworks/application-gateway-000003Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"application-gateway-000003Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003","resourceType":"Microsoft.Network/applicationGateways","resourceName":"application-gateway-000003"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Resources/deployments/ag_deploy_jt9VQ9PjlQ2GHnkp6vlYFjfRcpaR9InR/operationStatuses/08584778035336377224?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.76.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584778035336377224?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003?api-version=2023-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"application-gateway-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003\"\
        ,\r\n  \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"3a606738-c7b0-44dc-acf5-76d71c444ed1\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\"\
        : \"Standard_v2\",\r\n      \"family\": \"Generation_2\",\r\n      \"capacity\"\
        : 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/virtualNetworks/application-gateway-000003Vnet/subnets/default\"\
        \r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\
        \r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\"\
        : [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\
        \n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/publicIPAddresses/public-ip-000002\"\
        \r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n  \
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"frontendPorts\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendPort\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/frontendPorts/appGatewayFrontendPort\"\
        ,\r\n        \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n       \
        \     {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\
        \r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n   \
        \     \"name\": \"appGatewayBackendPool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/backendAddressPools/appGatewayBackendPool\"\
        ,\r\n        \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"backendAddresses\": [],\r\n          \"requestRoutingRules\"\
        : [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\
        \r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayBackendHttpSettings\",\r\n\
        \        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        ,\r\n        \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n    \
        \      \"cookieBasedAffinity\": \"Disabled\",\r\n          \"connectionDraining\"\
        : {\r\n            \"enabled\": false,\r\n            \"drainTimeoutInSec\"\
        : 1\r\n          },\r\n          \"pickHostNameFromBackendAddress\": false,\r\
        \n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\":\
        \ [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\
        \r\n      }\r\n    ],\r\n    \"backendSettingsCollection\": [],\r\n    \"\
        httpListeners\": [\r\n      {\r\n        \"name\": \"appGatewayHttpListener\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/httpListeners/appGatewayHttpListener\"\
        ,\r\n        \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/frontendIPConfigurations/appGatewayFrontendIP\"\
        \r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/frontendPorts/appGatewayFrontendPort\"\
        \r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\"\
        : [],\r\n          \"requireServerNameIndication\": false,\r\n          \"\
        enableHttp3\": false,\r\n          \"requestRoutingRules\": [\r\n        \
        \    {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\
        \r\n      }\r\n    ],\r\n    \"listeners\": [],\r\n    \"urlPathMaps\": [],\r\
        \n    \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"rule1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/requestRoutingRules/rule1\"\
        ,\r\n        \"etag\": \"W/\\\"35c24df6-5c2a-4163-ba2f-6e25ae980d26\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"ruleType\": \"Basic\",\r\n          \"priority\": 1001,\r\
        \n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/httpListeners/appGatewayHttpListener\"\
        \r\n          },\r\n          \"backendAddressPool\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/backendAddressPools/appGatewayBackendPool\"\
        \r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/applicationGateways/application-gateway-000003/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        \r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\
        \r\n      }\r\n    ],\r\n    \"routingRules\": [],\r\n    \"probes\": [],\r\
        \n    \"rewriteRuleSets\": [],\r\n    \"redirectConfigurations\": [],\r\n\
        \    \"privateLinkConfigurations\": [],\r\n    \"privateEndpointConnections\"\
        : [],\r\n    \"defaultPredefinedSslPolicy\": \"AppGwSslPolicy20150501\"\r\n\
        \  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"35c24df6-5c2a-4163-ba2f-6e25ae980d26"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/virtualNetworks/application-gateway-000003Vnet?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"application-gateway-000003Vnet\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/virtualNetworks/application-gateway-000003Vnet\"\
        ,\r\n  \"etag\": \"W/\\\"a35ccd04-accb-42fa-b8fd-6097a3697fd9\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"e104770b-b0b7-4bfd-8922-13ad53e3a981\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ],\r\n      \"ipamPoolPrefixAllocations\": []\r\n \
        \   },\r\n    \"privateEndpointVNetPolicies\": \"Disabled\",\r\n    \"subnets\"\
        : [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_private_link_ip_config_000001/providers/Microsoft.Network/virtualNetworks/application-gateway-000003Vnet/subnets/default\"\
        ,\r\n        \"etag\": \"W/\\\"a35ccd04-accb-42fa-b8fd-6097a3697fd9\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"ipamPoolPrefixAllocations\"\
        : [],\r\n          \"applicationGatewayIPConfigurations\": [\r\n         \
[...]
