interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://azcliextensionsync.blob.core.windows.net/index1/index.json
  response:
    body:
      string: "{\n    \"extensions\": {\n        \"account\": [\n            {\n                \"downloadUrl\":
        \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\",\n
        \               \"filename\": \"account-0.1.0-py2.py3-none-any.whl\",\n                \"metadata\":
        {\n                    \"azext.isExperimental\": true,\n                    \"azext.minCliCoreVersion\":
        \"2.3.1\",\n                    \"classifiers\": [\n                        \"Development
        Status :: 4 - Beta\",\n                        \"Intended Audience :: Developers\",\n
        \                       \"Intended Audience :: System Administrators\",\n
        \                       \"Programming Language :: Python\",\n                        \"Programming
        Language :: Python :: 3\",\n                        \"Programming Language
        :: Python :: 3.6\",\n                        \"Programming Language :: Python
        :: 3.7\",\n                        \"Programming Language :: Python :: 3.8\",\n
        \                       \"License :: OSI Approved :: MIT License\"\n                    ],\n
        \                   \"extensions\": {\n                        \"python.details\":
        {\n                            \"contacts\": [\n                                {\n
        \                                   \"email\": \"azpycli@microsoft.com\",\n
        \                                   \"name\": \"Microsoft Corporation\",\n
        \                                   \"role\": \"author\"\n                                }\n
        \                           ],\n                            \"document_names\":
        {\n                                \"description\": \"DESCRIPTION.rst\"\n
        \                           },\n                            \"project_urls\":
        {\n                                \"Home\": \"https://github.com/Azure/azure-cli-extensions\"\n
        \                           }\n                        }\n                    },\n
        \                   \"generator\": \"bdist_wheel (0.30.0)\",\n                    \"license\":
        \"MIT\",\n                    \"metadata_version\": \"2.0\",\n                    \"name\":
        \"account\",\n                    \"summary\": \"Microsoft Azure Command-Line
        Tools SubscriptionClient Extension\",\n                    \"version\": \"0.1.0\"\n
        \               },\n                \"sha256Digest\": \"badd35099d52efc5d8c337eee3ce3958005e6bfbb0c83798a74458b90ea6046b\"\n
        \           },\n            {\n                \"downloadUrl\": \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.2.0-py2.py3-none-any.whl\",\n
        \               \"filename\": \"account-0.2.0-py2.py3-none-any.whl\",\n                \"metadata\":
        {\n                    \"azext.isExperimental\": true,\n                    \"azext.minCliCoreVersion\":
        \"2.3.1\",\n              [...]
