interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_synapse_workspace000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001","name":"test_private_endpoint_connection_synapse_workspace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-14T07:42:48Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westus",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Storage/storageAccounts/saxyz?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/94bf8732-07d8-4596-b50a-608f4d85644d?monitor=true&api-version=2021-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/94bf8732-07d8-4596-b50a-608f4d85644d?monitor=true&api-version=2021-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Storage/storageAccounts/saxyz","name":"saxyz","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-05-14T07:42:55.8004599Z","key2":"2021-05-14T07:42:55.8004599Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-05-14T07:42:55.8160834Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-05-14T07:42:55.8160834Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-05-14T07:42:55.6442054Z","primaryEndpoints":{"dfs":"https://saxyz.dfs.core.windows.net/","web":"https://saxyz.z22.web.core.windows.net/","blob":"https://saxyz.blob.core.windows.net/","queue":"https://saxyz.queue.core.windows.net/","table":"https://saxyz.table.core.windows.net/","file":"https://saxyz.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://saxyz-secondary.dfs.core.windows.net/","web":"https://saxyz-secondary.z22.web.core.windows.net/","blob":"https://saxyz-secondary.blob.core.windows.net/","queue":"https://saxyz-secondary.queue.core.windows.net/","table":"https://saxyz-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"defaultDataLakeStorage": {"accountUrl":
      "https://saxyz.dfs.core.windows.net", "filesystem": "file-000"}, "sqlAdministratorLoginPassword":
      "123-xyz-456", "sqlAdministratorLogin": "synapse1230"}, "identity": {"type":
      "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.Synapse/workspaces","properties":{"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f0b1f6471-1bf0-4dda-aec3-cb9272f09590%2fresourceGroups%2ftest_private_endpoint_connection_synapse_workspace000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fcli-test-resource-000002","dev":"https://cli-test-resource-000002.dev.azuresynapse.net","sqlOnDemand":"cli-test-resource-000002-ondemand.sql.azuresynapse.net","sql":"cli-test-resource-000002.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-63096f48-4333-4f8b-8f9d-060b854365ce","defaultDataLakeStorage":{"accountUrl":"https://saxyz.dfs.core.windows.net","filesystem":"file-000"},"privateEndpointConnections":[],"workspaceUID":"2af0e8ec-44a0-40a6-b402-4fe0abfe8e07","extraProperties":{"IsScopeEnabled":false,"WorkspaceType":"Normal"},"encryption":{"doubleEncryptionEnabled":false}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002","location":"westus","name":"cli-test-resource-000002","identity":{"type":"SystemAssigned","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"8bfc79d8-12fc-41b3-acce-135e811dc7c3"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/operationStatuses/5d47b8d3-a6c8-4dc2-9be1-23518aadb327?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/operationStatuses/5d47b8d3-a6c8-4dc2-9be1-23518aadb327?api-version=2019-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.Synapse/workspaces","properties":{"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?worksp[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateLinkResources?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateLinkResources/Sql","name":"Sql","type":"Microsoft.Synapse/workspaces/privateLinkResources","groupId":"Sql","requiredZoneNames":["privatelink.sql.azuresynapse.net"],"requiredMembers":["Sql"]},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateLinkResources/SqlOnDemand","name":"SqlOnDemand","type":"Microsoft.Synapse/workspaces/privateLinkResources","groupId":"SqlOnDemand","requiredZoneNames":["privatelink.sql.azuresynapse.net"],"requiredMembers":["SqlOnDemand"]},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateLinkResources/Dev","name":"Dev","type":"Microsoft.Synapse/workspaces/privateLinkResources","groupId":"Dev","requiredZoneNames":["privatelink.dev.azuresynapse.net"],"requiredMembers":["Dev"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003\",\r\n
        \ \"etag\": \"W/\\\"4a1f1f89-9707-4d01-8dbc-26027e424104\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"0e98d523-9fe6-473e-a06d-a9cd56085769\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \       \"etag\": \"W/\\\"4a1f1f89-9707-4d01-8dbc-26027e424104\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7ce0ffbc-cad2-40f1-bebb-ca999e21b213?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7ce0ffbc-cad2-40f1-bebb-ca999e21b213?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \ \"etag\": \"W/\\\"6db63a70-e1e9-4c5d-858d-08b411d57113\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6db63a70-e1e9-4c5d-858d-08b411d57113"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000006", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002",
      "groupIds": ["Sql"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"name":"cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125","type":"Microsoft.Synapse/workspaces/privateEndpointConnections","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections/cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections/cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125","type":"Microsoft.Synapse/workspaces/privateEndpointConnections","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections/cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125", "type":
      "Microsoft.Synapse/workspaces/privateEndpointConnections", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections/cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125",
      "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},
      "privateLinkServiceConnectionState": {"status": "Approved", "description": null}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections/cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125","type":"Microsoft.Synapse/workspaces/privateEndpointConnections","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections/cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1185'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/privateEndpointConnections/cli-pe-000005-2213f5b8-f974-48ab-b15d-aca295432125?api-version=2019-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/operationStatuses/f6bbad0a-960f-44fb-bd62-8754814ea14b?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_synapse_workspace000001/providers/Microsoft.Synapse/workspaces/cli-test-resource-000002/operationResults/f6bbad0a-960f-44fb-bd62-8754814ea14b?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
