interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_databricks_private_endpoint000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001","name":"test_databricks_private_endpoint000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-01-14T08:16:42Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkSecurityGroups/nsg000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"nsg000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkSecurityGroups/nsg000002\",\r\n
        \ \"etag\": \"W/\\\"8639db1f-a7b4-4608-89ba-259d1889b5fc\\\"\",\r\n  \"type\":
        \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"7d985fd2-1129-4995-b1c4-376cfbc2f3a8\",\r\n    \"securityRules\": [],\r\n
        \   \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkSecurityGroups/nsg000002/defaultSecurityRules/AllowVnetInBound\",\r\n
        \       \"etag\": \"W/\\\"8639db1f-a7b4-4608-89ba-259d1889b5fc\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n
        \         \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n
        \         \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\":
        \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n
        \         \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\":
        \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\":
        [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\":
        []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkSecurityGroups/nsg000002/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n
        \       \"etag\": \"W/\\\"8639db1f-a7b4-4608-89ba-259d1889b5fc\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/6363267e-0863-448d-9e1c-2c027f5eda26?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "databricks-privatelink-subnet000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "networkSecurityGroup": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkSecurityGroups/nsg000002"},
      "privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"databricks-privatelink-vnet000003\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003\",\r\n
        \ \"etag\": \"W/\\\"baa94536-e605-4415-a805-2663f64964b2\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"405859c4-dae2-4d0d-952a-286e23e0728e\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"databricks-privatelink-subnet000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/databricks-privatelink-subnet000004\",\r\n
        \       \"etag\": \"W/\\\"baa94536-e605-4415-a805-2663f64964b2\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"networkSecurityGroup\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkSecurityGroups/nsg000002\"\r\n
        \         },\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\":
        \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/cd211b54-13c9-48b4-89bb-5a33651038aa?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/private-subnet?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"private-subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/private-subnet\",\r\n
        \ \"etag\": \"W/\\\"9e8ea98e-eb1f-48b1-a7b6-59d6cd790ca3\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.1.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9e8ea98e-eb1f-48b1-a7b6-59d6cd790ca3"
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/private-subnet",
      "name": "private-subnet", "type": "Microsoft.Network/virtualNetworks/subnets",
      "properties": {"addressPrefix": "10.0.1.0/24", "networkSecurityGroup": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkSecurityGroups/nsg000002"},
      "delegations": [{"name": "0", "properties": {"serviceName": "Microsoft.Databricks/workspaces"}}],
      "privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/private-subnet?api-version=2021-05-01
  response:
 [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/public-subnet?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"public-subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/public-subnet\",\r\n
        \ \"etag\": \"W/\\\"1d829af9-f579-4786-9a4c-008ff139df21\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.2.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1d829af9-f579-4786-9a4c-008ff139df21"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/databricks-privatelink-subnet000004?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"databricks-privatelink-subnet000004\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-[...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "premium"}, "properties": {"managedResourceGroupId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-test-workspace-fof9uffneg5tv",
      "parameters": {"customVirtualNetworkId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003"},
      "customPublicSubnetName": {"value": "public-subnet"}, "customPrivateSubnetName":
      {"value": "private-subnet"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace?api-version=2018-04-01
  response:
    body:
      string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-test-workspace-fof9uffneg5tv","provisioningState":"Accepted","authorizations":[{"principalId":"9a74af6f-d153-4348-988a-e2672920bee9","roleDefinitionId":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}],"createdBy":{"oid":"674368bb-7eaa-4100-aef7-138f65f50648","puid":"10032001C021F1B6","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"updatedBy":{"oid":"674368bb-7eaa-4100-aef7-138f65f50648","puid":"10032001C021F1B6","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"createdDateTime":"2022-01-14T08:17:40.6401266Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace","name":"test-workspace","type":"Microsoft.Databricks/workspaces","sku":{"name":"premium"},"location":"westus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/locations/westus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RfZGF0YWJyaWNrc19wcml2YXRlX2VuZHBvaW50bm1ndTZic3ovcHJvdmlkZXJzL01pY3Jvc29mdC5EYXRhYnJpY2tzL3dvcmtzcGFjZXMvdGVzdC13b3Jrc3BhY2UiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRFRFU1Q6M0E1RkRBVEFCUklDS1M6M0E1RlBSSVZBVEU6M0E1RkVORFBPSU5UTk1HVTZCU1o6MkRURVNUOjNBMkRXT1JLU1BBQ0UifQ?api-version=2018-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/locations/westus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RfZGF0YWJyaWNrc19wcml2YXRlX2VuZHBvaW50bm1ndTZic3ovcHJvdmlkZXJzL01pY3Jvc29mdC5EYXRhYnJpY2tzL3dvcmtzcGFj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace?api-version=2018-04-01
  response:
    body:
      string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-test-workspace-fof9uffneg5tv","parameters":{"customPrivateSubnetName":{"type":"String","value":"private-subnet"},"customPublicSubnetName":{"type":"String","value":"public-subnet"},"customVirtualNetworkId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003"},"enableFedRampCertification":{"type":"Bool","value":false},"enableNoPublicIp":{"type":"Bool","value":false},"natGatewayName":{"type":"String","value":"nat-gateway"},"prepareEncryption":{"type":"Bool","value":false},"publicIpName":{"type":"String","value":"nat-gw-public-ip"},"relayNamespaceName":{"type":"String","value":"dbrelaywbiybat2suezy"},"requireInfrastructureEncryption":{"type":"Bool","value":false},"resourceTags":{"type":"Object","value":{"application":"databricks","databricks-environment":"true"}},"storageAccountName":{"type":"String","value":"dbstoragewbiybat2suezy"},"storageAccountSkuName":{"type":"String","value":"Standard_GRS"},"vnetAddressPrefix":{"type":"String","value":"10.139"}},"provisioningState":"Succeeded","authorizations":[{"principalId":"9a74af6f-d153-4348-988a-e2672920bee9","roleDefinitionId":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}],"createdBy":{"oid":"674368bb-7eaa-4100-aef7-138f65f50648","puid":"10032001C021F1B6","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"updatedBy":{"oid":"674368bb-7eaa-4100-aef7-138f65f50648","puid":"10032001C021F1B6","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"workspaceId":"8483728067405012","workspaceUrl":"adb-8483728067405012.12.azuredatabricks.net","createdDateTime":"2022-01-14T08:17:40.6401266Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace","name":"test-workspace","type":"Microsoft.Databricks/workspaces","sku":{"name":"premium"},"location":"westus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace/privateLinkResources?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace/privateLinkResources/databricks_ui_api","name":"databricks_ui_api","type":"Microsoft.Databricks/workspaces/privateLinkResources","properties":{"groupId":"databricks_ui_api","displayName":"databricks_ui_api","requiredMembers":["databricks_ui_api"],"requiredZoneNames":["privatelink.azuredatabricks.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/databricks-privatelink-subnet000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "manualPrivateLinkServiceConnections": [{"name": "db-privatelink-endpoint-connection000006",
      "properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace",
      "groupIds": ["databricks_ui_api"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/privateEndpoints/databricks-privatelink-endpoint000005?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"databricks-privatelink-endpoint000005\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/privateEndpoints/databricks-privatelink-endpoint000005\",\r\n
        \ \"etag\": \"W/\\\"a9b9a6ff-c211-4d12-beb4-d87221ed16bc\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"b5dd4e31-537f-4f9a-9170-ef6bdfb63888\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"db-privatelink-endpoint-connection000006\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/privateEndpoints/databricks-privatelink-endpoint000005/manualPrivateLinkServiceConnections/db-privatelink-endpoint-connection000006\",\r\n
        \       \"etag\": \"W/\\\"a9b9a6ff-c211-4d12-beb4-d87221ed16bc\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace\",\r\n
        \         \"groupIds\": [\r\n            \"databricks_ui_api\"\r\n          ],\r\n
        \         \"privateLinkServiceConnectionState\": {\r\n            \"status\":
        \"Pending\",\r\n            \"description\": \"Awaiting Approval\",\r\n            \"actionsRequired\":
        \"None\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"customNetworkInterfaceName\": \"\",\r\n    \"subnet\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/virtualNetworks/databricks-privatelink-vnet000003/subnets/databricks-privatelink-subnet000004\"\r\n
        \   },\r\n    \"ipConfigurations\": [],\r\n    \"networkInterfaces\": [\r\n
        \     {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/networkInterfaces/databricks-privatelink-endpoint000005.nic.ecdd704b-ce09-4887-a803-f9510816c093\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8a934184-613f-4c49-9307-3e77a392f6ac?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace/privateEndpointConnections?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace/privateEndpointConnections/db-privatelink-endpoint-connection000006","name":"db-privatelink-endpoint-connection000006","type":"Microsoft.Databricks/workspaces/privateEndpointConnections","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/privateEndpoints/databricks-privatelink-endpoint000005"},"groupIds":["databricks_ui_api"],"privateLinkServiceConnectionState":{"status":"Pending","actionsRequired":"None"},"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace/privateEndpointConnections/db-privatelink-endpoint-connection000006?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace/privateEndpointConnections/db-privatelink-endpoint-connection000006","name":"db-privatelink-endpoint-connection000006","type":"Microsoft.Databricks/workspaces/privateEndpointConnections","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Network/privateEndpoints/databricks-privatelink-endpoint000005"},"groupIds":["databricks_ui_api"],"privateLinkServiceConnectionState":{"status":"Pending","actionsRequired":"None"},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_databricks_private_endpoint000001/providers/Microsoft.Databricks/workspaces/test-workspace/privateEndpointConnections?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
