interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_with_non_v2_sku_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001","name":"cli_test_ag_with_non_v2_sku_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_ag_with_non_v2_sku","date":"2024-05-09T13:43:21Z","module":"network","DateCreated":"2024-05-09T13:43:49Z","Creator":"v-taoxuzeng@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_with_non_v2_sku_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_ag_with_non_v2_sku_000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2022-09-01&%24skiptoken=rZLBjpswFEX%2fhTULhySbSF2QQigI20rqCbV3KKDAM5BRcETwqP9e0zAzrURUCXVrWefdd995s5r8ruKyka21ebO6vFX57Xp5za2NlffRTfwoEEt2feoc%2bxAuJa65I7yXNdG%2bwnon6XeESH2EmMlO1FhRlpVEZ5Ky853rbR026ItlW%2b3lpopT3qhrWt3MpEm2qHc1Z4cSB6HCib8mAzvxVzGrpADXzOMLAvslAVEKz%2b1Gdp626ikTey8918cKm2xES8QNEweHOk6ikkNo8hqqDjvK%2bBp7PhqZkL6mzQB%2bEpVAIc33FWcnxZ29Q3qEuHbXMTsvhhpETSpRHwuaHGqu%2bX3EDvU%2bj8r2KxxwhLVZP4gAlyYqZKbaqiDarA%2fbggZCEpaBAH%2fxZ7VD1LQt02dxdQUE3CWHvRJw7odmsRdVJm7PE18R2ALXckk9fqdeASP6XwfDzByChb3wDIJFFf6KEA12plx%2fKTyzBTt1NIhK4oQLzlz9G%2fvT%2flSONt8uVWbEGx9xepX51Szx6eHmf1lo%2f%2b3gJHeOgfbDv0neHPvsD%2fcmkXPMsx%2feTfLwDOseVb47N4klM4yzP3ybRM6z7Rc%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_with_non_v2_sku_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2022-09-01&$skiptoken=rZLBjpswFEX/hTULhySbSF2QQigI20rqCbV3KKDAM5BRcETwqP9e0zAzrURUCXVrWefdd995s5r8ruKyka21ebO6vFX57Xp5za2NlffRTfwoEEt2feoc%2BxAuJa65I7yXNdG%2Bwnon6Xe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_with_non_v2_sku_000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2022-09-01&$skiptoken=rc9BC4IwGMbx77Kzh7E6CR0EtZSmSCPbexs5UGcTdGIz%2Bu5ZRBF0iq7v4f%2B8vwvS8my2lVY9ci%2BobwdTStEb0VcCuUjaeIBDiVkeWkH2Nqrbik9FCXk0gq9MQsIKdhin6/1py9TEWWYSFpzBL1TqeyMwUJHGK%2BSgo9SmE80w73zNUnZcwiluaB0ZqDnhFmPIA3vP0skzlCRlsg4Vr4ORk2zxyF6d9/%2Bp3rRNMSueRyo6Jbt57QPl/ovkvEBfk79xbg%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag-000002'')]"}, "resources": [{"name": "ag-000002Vnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag-000002", "location": "westus",
      "tags": {}, "apiVersion": "2022-05-01", "dependsOn": ["Microsoft.Network/virtualNetworks/ag-000002Vnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayPrivateFrontendIP",
      "properties": {"privateIPAllocationMethod": "Dynamic", "privateIPAddress": null,
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/virtualNetworks/ag-000002Vnet/subnets/default"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayPrivateFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/virtualNetworks/ag-000002Vnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayPrivateFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "WAF_Medium",
      "tier": "WAF", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"}}}],
      "privateLinkConfigurations": []}, "zones": null}], "outputs": {"applicationGateway":
      {"type": "object", "value": "[reference(''ag-000002'')]"}}}, "parameters": {},
      "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Resources/deployments/ag_deploy_8QAnoADEmEXiaR5KZTAWuGSw3xOvXipZ","name":"ag_deploy_8QAnoADEmEXiaR5KZTAWuGSw3xOvXipZ","type":"Microsoft.Resources/deployments","properties":{"templateHash":"16912867874508037479","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-05-09T13:44:00.112083Z","duration":"PT0.0006745S","correlationId":"9feb2c26-1ced-47c1-bb8c-ae01f032ad0b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/virtualNetworks/ag-000002Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag-000002Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag-000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Resources/deployments/ag_deploy_8QAnoADEmEXiaR5KZTAWuGSw3xOvXipZ/operationStatuses/08584863446479347008?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584863446479347008?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002?api-version=2023-11-01
  response:
    body:
      string: '{"name":"ag-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","type":"Microsoft.Network/applicationGateways","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"8c42e828-0dac-4b82-b945-02fafa15c2bb","sku":{"name":"WAF_Medium","tier":"WAF","family":"Generation_1","capacity":2},"operationalState":"Running","gatewayIPConfigurations":[{"name":"appGatewayPrivateFrontendIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/gatewayIPConfigurations/appGatewayPrivateFrontendIP","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","properties":{"provisioningState":"Succeeded","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/virtualNetworks/ag-000002Vnet/subnets/default"}},"type":"Microsoft.Network/applicationGateways/gatewayIPConfigurations"}],"sslCertificates":[],"authenticationCertificates":[],"frontendIPConfigurations":[{"name":"appGatewayPrivateFrontendIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/frontendIPConfigurations/appGatewayPrivateFrontendIP","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","type":"Microsoft.Network/applicationGateways/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.6","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/virtualNetworks/ag-000002Vnet/subnets/default"},"httpListeners":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/httpListeners/appGatewayHttpListener"}]}}],"frontendPorts":[{"name":"appGatewayFrontendPort","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/frontendPorts/appGatewayFrontendPort","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","properties":{"provisioningState":"Succeeded","port":80,"httpListeners":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/httpListeners/appGatewayHttpListener"}]},"type":"Microsoft.Network/applicationGateways/frontendPorts"}],"backendAddressPools":[{"name":"appGatewayBackendPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/backendAddressPools/appGatewayBackendPool","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","properties":{"provisioningState":"Succeeded","backendAddresses":[],"requestRoutingRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/requestRoutingRules/rule1"}]},"type":"Microsoft.Network/applicationGateways/backendAddressPools"}],"backendHttpSettingsCollection":[{"name":"appGatewayBackendHttpSettings","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/backendHttpSettingsCollection/appGatewayBackendHttpSettings","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","properties":{"provisioningState":"Succeeded","port":80,"protocol":"Http","cookieBasedAffinity":"Disabled","connectionDraining":{"enabled":false,"drainTimeoutInSec":1},"pickHostNameFromBackendAddress":false,"requestTimeout":30,"requestRoutingRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/requestRoutingRules/rule1"}]},"type":"Microsoft.Network/applicationGateways/backendHttpSettingsCollection"}],"httpListeners":[{"name":"appGatewayHttpListener","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/httpListeners/appGatewayHttpListener","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","properties":{"provisioningState":"Succeeded","frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/frontendIPConfigurations/appGatewayPrivateFrontendIP"},"frontendPort":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/frontendPorts/appGatewayFrontendPort"},"protocol":"Http","hostNames":[],"requireServerNameIndication":false,"enableHttp3":false,"requestRoutingRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/requestRoutingRules/rule1"}]},"type":"Microsoft.Network/applicationGateways/httpListeners"}],"urlPathMaps":[],"requestRoutingRules":[{"name":"rule1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/requestRoutingRules/rule1","etag":"W/\"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4\"","properties":{"provisioningState":"Succeeded","ruleType":"Basic","httpListener":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/httpListeners/appGatewayHttpListener"},"backendAddressPool":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/backendAddressPools/appGatewayBackendPool"},"backendHttpSettings":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002/backendHttpSettingsCollection/appGatewayBackendHttpSettings"}},"type":"Microsoft.Network/applicationGateways/requestRoutingRules"}],"probes":[],"rewriteRuleSets":[],"redirectConfigurations":[],"defaultPredefinedSslPolicy":"AppGwSslPolicy20150501"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d97a75fb-ee09-4739-afb0-8d8b44a1fbe4"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/3d5730b9-8257-410a-bf1e-2fceae6d987c?api-version=2023-11-01&t=638508599516510282&c=MIIHSDCCBjCgAwIBAgITfwMflOuJwgY9z84ARAAEAx-U6zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNDMwMDkwMTU2WhcNMjUwNDI1MDkwMTU2WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5818edc3-fd1c-4b0a-ae99-aa67bc75fcc2?api-version=2023-11-01&t=638508607505406583&c=MIIHSDCCBjCgAwIBAgITfwMflOuJwgY9z84ARAAEAx-U6zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNDMwMDkwMTU2WhcNMjUwNDI1MDkwMTU2WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/dae5e1c0-edbd-4e18-bcaa-496a1ce64ade?api-version=2023-11-01&t=638508616006145197&c=MIIHSDCCBjCgAwIBAgITfwMflOuJwgY9z84ARAAEAx-U6zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNDMwMDkwMTU2WhcNMjUwNDI1MDkwMTU2WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_with_non_v2_sku_000001/providers/Microsoft.Network/applicationGateways/ag-000002?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/78a65441-5ccf-4658-b29f-8f4106b2b81f?api-version=2023-11-01&t=638508616207283461&c=MIIHSDCCBjCgAwIBAgITfwMflOuJwgY9z84ARAAEAx-U6zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNDMwMDkwMTU2WhcNMjUwNDI1MDkwMTU2WjBAMT4wPAYDVQQDEzVhc3luY29w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/78a65441-5ccf-4658-b29f-8f4106b2b81f?api-version=2023-11-01&t=638508616207283461&c=MIIHSDCCBjCgAwIBAgITfwMflOuJwgY9z84ARAAEAx-U6zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNDMwMDkwMTU2WhcNMjUwNDI1MDkwMTU2WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/78a65441-5ccf-4658-b29f-8f4106b2b81f?api-version=2023-11-01&t=638508616207596043&c=MIIHSDCCBjCgAwIBAgITfwMflOuJwgY9z84ARAAEAx-U6zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNDMwMDkwMTU2WhcNMjUwNDI1MDkwMTU2WjBAMT4wPAY[...]
