interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n        \"name\":
      {\n            \"type\": \"string\"\n        },\n        \"location\": {\n            \"type\":
      \"string\"\n        }\n    },\n    \"resources\": [\n        {\n            \"apiVersion\":
      \"2020-12-01\",\n            \"name\": \"[parameters('name')]\",\n            \"location\":
      \"[parameters('location')]\",\n            \"type\": \"Microsoft.DigitalTwins/digitalTwinsInstances\",\n
      \           \"properties\": {}\n        }\n    ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"aff7cdc2-0fc7-461b-9cb5-3b1b20335e54","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n        \"name\":
      {\n            \"type\": \"string\"\n        },\n        \"location\": {\n            \"type\":
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585266236798456611?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2023-01-29T09:07:27.8022347Z","duration":"PT42.0182042S","correlationId":"1940f724-dcea-4545-b770-ed969091e4f4","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources/API","name":"API","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateLinkResources","properties":{"groupId":"API","requiredMembers":["DigitalTwinsAPI"],"requiredZoneNames":["privatelink.digitaltwins.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-34a3e842f24b04ff4baa37ec6de4e455-b2f173101ef3c2ac-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001","name":"test_digital_twin_private_endpoint_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-29T09:06:43Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-subnet-000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"d4fe9ff1-54bd-4381-96e7-407f8e1add90\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"675be261-b229-46f8-840d-675808ff307f\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"cli-subnet-000005\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"d4fe9ff1-54bd-4381-96e7-407f8e1add90\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/39800903-1614-4973-8c4a-eeaaea2cf9ff?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/39800903-1614-4973-8c4a-eeaaea2cf9ff?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"ecc49cba-c874-45b1-8982-64f82f007b41\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ecc49cba-c874-45b1-8982-64f82f007b41"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"manualPrivateLinkServiceConnections":
      [{"name": "cli-pec-000007", "properties": {"groupIds": ["API"], "privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\",\r\n
        \ \"etag\": \"W/\\\"db367097-4efb-4f7d-8a68-e27d34734a63\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"f5ab60bf-8e2d-4e1a-a2fe-daa64c37300a\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"cli-pec-000007\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006/manualPrivateLinkServiceConnections/cli-pec-000007\",\r\n
        \       \"etag\": \"W/\\\"db367097-4efb-4f7d-8a68-e27d34734a63\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002\",\r\n
        \         \"groupIds\": [\r\n            \"API\"\r\n          ],\r\n          \"privateLinkServiceConnectionState\":
        {\r\n            \"status\": \"Pending\",\r\n            \"description\":
        \"Awaiting Approval\",\r\n            \"actionsRequired\": \"None\"\r\n          }\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"customNetworkInterfaceName\": \"\",\r\n    \"subnet\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\"\r\n
        \   },\r\n    \"ipConfigurations\": [],\r\n    \"networkInterfaces\": [\r\n
        \     {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/networkInterfaces/cli-pe-000006.nic.c51836f8-3213-4be6-9d13-b9b87f80e367\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/0035d273-9672-4130-8e6c-10690edaf852?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/c527b450-deb0-44ab-821c-39b68330b66f","name":"c527b450-deb0-44ab-821c-39b68330b66f","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-960f6c13ecaf65bdc5d5be191c334cc4-3f988653fd6fd3ae-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/c527b450-deb0-44ab-821c-39b68330b66f?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/c527b450-deb0-44ab-821c-39b68330b66f","name":"c527b450-deb0-44ab-821c-39b68330b66f","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-edf133f657bc496f032ff69034765cb6-a5c95cb68e96286f-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/c527b450-deb0-44ab-821c-39b68330b66f",
      "name": "c527b450-deb0-44ab-821c-39b68330b66f", "type": "Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections",
      "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},
      "groupIds": ["API"], "privateLinkServiceConnectionState": {"status": "Approved",
      "description": "Approved.", "actionsRequired": "None"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/c527b450-deb0-44ab-821c-39b68330b66f?api-version=2020-12-01
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Exception of type ''Microsoft.Azure.DigitalTwins.ScaleUnitRPManagement.Exceptions.PrivateEndpointBadRequestException''
        was thrown."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-8bdbfef483ab94f184272cbe5ed938ba-2a7f35ca2719ab3d-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
[...]
