interactions:
- request:
    body: '{"location": "global", "name": "mytmprofile-rtu", "properties": {"dnsConfig":
      {"relativeName": "testtmrtu000002", "ttl": 30}, "monitorConfig": {"path": "/",
      "port": 80, "protocol": "HTTP"}, "profileStatus": "Enabled", "trafficRoutingMethod":
      "Priority"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_traffic_manager_record_type_update000001/providers/Microsoft.Network/trafficmanagerprofiles/mytmprofile-rtu?api-version=2024-04-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_traffic_manager_record_type_update000001\/providers\/Microsoft.Network\/trafficManagerProfiles\/mytmprofile-rtu","name":"mytmprofile-rtu","type":"Microsoft.Network\/trafficManagerProfiles","location":"global","properties":{"profileStatus":"Enabled","trafficRoutingMethod":"Priority","dnsConfig":{"relativeName":"testtmrtu000002","fqdn":"testtmrtu000002.tmpreview.watmtest.azure-test.net","ttl":30},"monitorConfig":{"profileMonitorStatus":"Inactive","protocol":"HTTP","port":80,"path":"\/","intervalInSeconds":30,"toleratedNumberOfFailures":3,"timeoutInSeconds":10},"endpoints":[],"trafficViewEnrollmentStatus":"Disabled","maxReturn":null,"recordType":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_traffic_manager_record_type_update000001/providers/Microsoft.Network/trafficmanagerprofiles/mytmprofile-rtu?api-version=2024-04-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_traffic_manager_record_type_update000001\/providers\/Microsoft.Network\/trafficManagerProfiles\/mytmprofile-rtu","name":"mytmprofile-rtu","type":"Microsoft.Network\/trafficManagerProfiles","location":"global","tags":{},"properties":{"profileStatus":"Enabled","trafficRoutingMethod":"Priority","dnsConfig":{"relativeName":"testtmrtu000002","fqdn":"testtmrtu000002.tmpreview.watmtest.azure-test.net","ttl":30},"monitorConfig":{"profileMonitorStatus":"Inactive","protocol":"HTTP","port":80,"path":"\/","intervalInSeconds":30,"toleratedNumberOfFailures":3,"timeoutInSeconds":10},"endpoints":[],"trafficViewEnrollmentStatus":"Disabled","maxReturn":null,"recordType":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "myendpoint-rtu", "properties": {"target": "10.0.0.1", "weight":
      50}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_traffic_manager_record_type_update000001/providers/Microsoft.Network/trafficmanagerprofiles/mytmprofile-rtu/externalEndpoints/myendpoint-rtu?api-version=2024-04-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_traffic_manager_record_type_update000001\/providers\/Microsoft.Network\/trafficManagerProfiles\/mytmprofile-rtu\/externalEndpoints\/myendpoint-rtu","name":"myendpoint-rtu","type":"Microsoft.Network\/trafficManagerProfiles\/externalEndpoints","properties":{"endpointStatus":"Enabled","endpointMonitorStatus":"CheckingEndpoint","targetResourceId":null,"target":"10.0.0.1","weight":50,"priority":1,"endpointLocation":null,"minChildEndpoints":null,"alwaysServe":"Disabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_traffic_manager_record_type_update000001/providers/Microsoft.Network/trafficmanagerprofiles/mytmprofile-rtu/ExternalEndpoints/myendpoint-rtu?api-version=2024-04-01-preview
  response:
    body:
      string: '{"properties":{"boolean":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_traffic_manager_record_type_update000001/providers/Microsoft.Network/trafficmanagerprofiles/mytmprofile-rtu?api-version=2024-04-01-preview
  response:
    body:
      string: '{"properties":{"boolean":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
version: 1
