interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n            \"type\": \"string\"\r\n        }\r\n    },\r\n    \"resources\":
      [\r\n        {\r\n            \"apiVersion\": \"2020-12-01\",\r\n            \"name\":
      \"[parameters('name')]\",\r\n            \"location\": \"[parameters('location')]\",\r\n
      \           \"type\": \"Microsoft.DigitalTwins/digitalTwinsInstances\",\r\n
      \           \"properties\": {}\r\n        }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-09-16T05:11:49.2811918Z","duration":"PT0S","correlationId":"91c0115c-6328-4847-933c-db688992ebd8","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585698377751816847?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-09-16T05:12:29.222935Z","duration":"PT38.9269999S","correlationId":"24786405-338f-4880-8d8f-a3467fae89dc","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources/API","name":"API","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateLinkResources","properties":{"groupId":"API","requiredMembers":["DigitalTwinsAPI"],"requiredZoneNames":["privatelink.digitaltwins.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-e277bf0661a8274aac7e2505291251d6-5f794c3a9dde4b49-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001","name":"test_digital_twin_private_endpoint_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-09-16T05:11:40Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000005",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"b54f5d69-ad6a-4af8-a0ea-47455b2f3ed4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"f59393b1-58a5-4c24-a029-b32e1613d6b1\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"b54f5d69-ad6a-4af8-a0ea-47455b2f3ed4\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/968e68eb-55e2-4666-b113-976be600fbed?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/968e68eb-55e2-4666-b113-976be600fbed?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"c5dea186-25e0-4881-80a4-d89c0c140c20\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5dea186-25e0-4881-80a4-d89c0c140c20"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "manualPrivateLinkServiceConnections": [{"name": "cli-pec-000007",
      "properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002",
      "groupIds": ["API"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\",\r\n
        \ \"etag\": \"W/\\\"cd06f074-ee2b-44d9-91b3-e55b01eaea64\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"0f000a10-426c-4f16-a296-b00cfcd56d92\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"cli-pec-000007\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006/manualPrivateLinkServiceConnections/cli-pec-000007\",\r\n
        \       \"etag\": \"W/\\\"cd06f074-ee2b-44d9-91b3-e55b01eaea64\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002\",\r\n
        \         \"groupIds\": [\r\n            \"API\"\r\n          ],\r\n          \"privateLinkServiceConnectionState\":
        {\r\n            \"status\": \"Pending\",\r\n            \"description\":
        \"Awaiting Approval\",\r\n            \"actionsRequired\": \"None\"\r\n          }\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\"\r\n
        \   },\r\n    \"ipConfigurations\": [],\r\n    \"networkInterfaces\": [\r\n
        \     {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/networkInterfaces/cli-pe-000006.nic.857cde75-9706-4365-b853-c3eacb4bcdf3\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/dc0e879d-502a-4018-ab15-580a3930aeb6?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3","name":"f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-095d61406e1f044da07db21012e3fcb1-9c64c9ddc925af45-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3","name":"f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-7dc60fac1e274a4daa875f4c4a48d6e1-7be572a37c0d374a-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3",
      "name": "f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3", "type": "Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections",
      "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},
      "groupIds": ["API"], "privateLinkServiceConnectionState": {"status": "Approved",
      "description": "Approved.", "actionsRequired": "None"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/f7796dcd-8ac8-4c1e-a5ce-8ac32f0cd8a3?api-version=2020-12-01
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Exception of type ''Microsoft.Azure.DigitalTwins.ScaleUnitRPManagement.Exceptions.PrivateEndpointBadRequestException''
        was thrown."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-9d1c06a80961c74ab445f3ff42464465-51291c0a4c3f504f-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 400
      message: Bad Request
[...]
