interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rg000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-000002/privateLinkResources?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hsm_plr_rg000001/providers/Microsoft.KeyVault/managedHSMs/cli-test-hsm-plr-000002/privateLinkResources/managedhsm","name":"managedhsm","type":"Microsoft.KeyVault/managedHSMs/privateLinkResources","properties":{"groupId":"managedhsm","requiredMembers":["default"],"requiredZoneNames":["privatelink.managedhsm.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
