interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","date":"2021-09-30T07:53:37Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name":
      "testsubnet000004", "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"testvnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003\",\r\n
        \ \"etag\": \"W/\\\"fa9c324a-54b2-4611-a656-061251ba8300\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"b6dbbd53-e275-498b-b69a-faa84373c837\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"testsubnet000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004\",\r\n
        \       \"etag\": \"W/\\\"fa9c324a-54b2-4611-a656-061251ba8300\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/ee953587-10c1-4ccc-b5af-fdcd3b4a0044?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/ee953587-10c1-4ccc-b5af-fdcd3b4a0044?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"testsubnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004\",\r\n
        \ \"etag\": \"W/\\\"912eddf3-c086-47c5-b20d-35393512c3ff\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"912eddf3-c086-47c5-b20d-35393512c3ff"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/metadata/endpoints?api-version=2019-05-01
  response:
    body:
      string: '[{"portal":"https://portal.azure.com","authentication":{"loginEndpoint":"https://login.microsoftonline.com/","audiences":["https://management.core.windows.net/","https://management.azure.com/"],"tenant":"common","identityProvider":"AAD"},"media":"https://rest.media.azure.net","graphAudience":"https://graph.windows.net/","graph":"https://graph.windows.net/","name":"AzureCloud","suffixes":{"azureDataLakeStoreFileSystem":"azuredatalakestore.net","acrLoginServer":"azurecr.io","sqlServerHostname":"database.windows.net","azureDataLakeAnalyticsCatalogAndJob":"azuredatalakeanalytics.net","keyVaultDns":"vault.azure.net","storage":"core.windows.net","azureFrontDoorEndpointSuffix":"azurefd.net"},"batch":"https://batch.core.windows.net/","resourceManager":"https://management.azure.com/","vmImageAliasDoc":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json","activeDirectoryDataLake":"https://datalake.azure.net/","sqlManagement":"https://management.core.windows.net:8443/","gallery":"https://gallery.azure.com/"},{"portal":"https://portal.azure.cn","authentication":{"loginEndpoint":"https://login.chinacloudapi.cn","audiences":["https://management.core.chinacloudapi.cn","https://management.chinacloudapi.cn"],"tenant":"common","identityProvider":"AAD"},"media":"https://rest.media.chinacloudapi.cn","graphAudience":"https://graph.chinacloudapi.cn","graph":"https://graph.chinacloudapi.cn","name":"AzureChinaCloud","suffixes":{"acrLoginServer":"azurecr.cn","sqlServerHostname":"data[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-client-amlsdk:
      - 1.34.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002?api-version=2020-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.MachineLearningServices/workspaces/testaml000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.KeyVault/vaults", "name": "testamlikeyvaultdcf7e1d9", "apiVersion":
      "2015-06-01", "location": "eastus", "tags": {}, "dependsOn": [], "properties":
      {"enabledForDeployment": "true", "enabledForTemplateDeployment": "true", "enabledForVolumeEncryption":
      "true", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "accessPolicies":
      [], "sku": {"name": "Standard", "family": "A"}}}, {"type": "Microsoft.Storage/storageAccounts",
      "name": "testamlistorage976afd925", "apiVersion": "2018-07-01", "location":
      "eastus", "sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "tags": {},
      "dependsOn": [], "properties": {"encryption": {"services": {"blob": {"enabled":
      "true"}, "file": {"enabled": "true"}}, "keySource": "Microsoft.Storage"}, "supportsHttpsTrafficOnly":
      true}}, {"type": "microsoft.insights/components", "name": "testamliinsights4ee38e0b",
      "kind": "web", "apiVersion": "2015-05-01", "location": "eastus", "tags": {},
      "properties": {"Application_Type": "web"}}, {"type": "Microsoft.MachineLearningServices/workspaces",
      "name": "testaml000002", "apiVersion": "2021-04-01", "identity": {"type": "SystemAssigned",
      "userAssignedIdentities": null}, "location": "centraluseuap", "resources": [],
      "dependsOn": ["[resourceId(''Microsoft.KeyVault/vaults'', ''testamlikeyvaultdcf7e1d9'')]",
      "[resourceId(''Microsoft.Storage/storageAccounts'', ''testamlistorage976afd925'')]",
      "[resourceId(''microsoft.insights/components'', ''testamliinsights4ee38e0b'')]"],
      "sku": {"tier": "basic", "name": "basic"}, "tags": {}, "properties": {"containerRegistry":
      null, "adbWorkspace": null, "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/testamlikeyvaultdcf7e1d9",
      "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/testamliinsights4ee38e0b",
      "friendlyName": "testaml000002", "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/testamlistorage976afd925",
      "primaryUserAssignedIdentity": null, "encryption": {"status": "Disabled", "identity":
      {"userAssignedIdentity": null}, "keyVaultProperties": {"keyVaultArmId": null,
      "keyIdentifier": null, "identityClientId": ""}}, "hbiWorkspace": false, "systemDatastoresAuthMode":
      "accessKey"}}]}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-caller-name:
      - _arm_deploy_template
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_36825","name":"Microsoft.MachineLearningServices_36825","type":"Microsoft.Resources/deployments","properties":{"templateHash":"342074531642128055","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2021-09-30T07:53:55.7717524Z","duration":"PT0.8749563S","correlationId":"f77a4068-86b2-4aa2-a6b6-651e8a0dc287","providers":[{"namespace":"Microsoft.KeyVault","resourceTypes":[{"resourceType":"vaults","locations":["eastus"]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["eastus"]}]},{"namespace":"microsoft.insights","resourceTypes":[{"resourceType":"components","locations":["eastus"]}]},{"namespace":"Microsoft.MachineLearningServices","resourceTypes":[{"resourceType":"workspaces","locations":["centraluseuap"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/testamlikeyvaultdcf7e1d9","resourceType":"Microsoft.KeyVault/vaults","resourceName":"testamlikeyvaultdcf7e1d9"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/testamlistorage976afd925","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"testamlistorage976afd925"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/testamliinsights4ee38e0b","resourceType":"microsoft.insights/components","resourceName":"testamliinsights4ee38e0b"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002","resourceType":"Microsoft.MachineLearningServices/workspaces","resourceName":"testaml000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_36825/operationStatuses/08585686184505808376?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-caller-name:
      - _check_deployment_status
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/deployments/mock-deployment/operations?api-version=2019-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-caller-name:
      - _check_deployment_status
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/deployments/mock-deployment/operations?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_36825/operations/2C1B0640AE357F61","operationId":"2C1B0640AE357F61","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2021-09-30T07:54:03.0862674Z","duration":"PT6.4468457S","trackingId":"61a527c2-9b0d-4423-96bd-c958a3179bde","serviceRequestId":"46348d10-59a2-477b-aa1a-351282c028f0","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/testamliinsights4ee38e0b","resourceType":"microsoft.insights/components","resourceName":"testamliinsights4ee38e0b"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.MachineLearningServices_36825/operations/A8C9DF1C1A773389","operationId":"A8C9DF1C1A773389","properties":{"p[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585686184505808376?api-version=2019-10-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-client-amlsdk:
      - 1.34.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002?api-version=2020-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\n
        \ \"name\": \"testaml000002\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces\",\n
        \ \"location\": \"centraluseuap\",\n  \"tags\": {},\n  \"etag\": null,\n  \"properties\":
        {\n    \"friendlyName\": \"testaml000002\",\n    \"description\": \"\",\n
        \   \"storageAccount\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.storage/storageaccounts/testamlistorage976afd925\",\n
        \   \"keyVault\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.keyvault/vaults/testamlikeyvaultdcf7e1d9\",\n
        \   \"applicationInsights\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.insights/components/testamliinsights4ee38e0b\",\n
        \   \"hbiWorkspace\": false,\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\n
        \   \"imageBuildCompute\": \"\",\n    \"provisioningState\": \"Succeeded\",\n
        \   \"containerRegistry\": null,\n    \"creationTime\": \"2021-09-30T07:54:29.3556334+00:00\",\n
        \   \"notebookInfo\": {\n      \"resourceId\": \"17420f055f5346b6ada89180fcea9b0b\",\n
        \     \"fqdn\": \"ml-testamlip-centraluseuap-370d1e55-51e9-4fca-9655-e503a0b44805.notebooks.azure.net\",\n
        \     \"isPrivateLinkEnabled\": false,\n      \"notebookPreparationError\":
        null\n    },\n    \"storageHnsEnabled\": false,\n    \"workspaceId\": \"370d1e55-51e9-4fca-9655-e503a0b44805\",\n
        \   \"linkedModelInventoryArmId\": null,\n    \"privateLinkCount\": 0,\n    \"allowPublicAccessWhenBehindVnet\":
        false,\n    \"publicNetworkAccess\": \"Disabled\",\n    \"discoveryUrl\":
        \"https://master.api.azureml-test.ms/discovery\",\n    \"mlFlowTrackingUri\":
        \"azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\n
        \   \"sdkTelemetryAppInsightsKey\": \"efed27c9-e6dc-4190-9989-79f9b7f3a4b7\"\n
        \ },\n  \"identity\": {\n    \"type\": \"SystemAssigned\",\n    \"principalId\":
        \"5bfcdd32-7cac-4351-bf6d-e0325127ad7f\",\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n
        \ },\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Basic\"\n  },\n
        \ \"systemData\": {\n    \"createdAt\": \"2021-09-30T07:54:27.7933973Z\",\n
        \   \"createdBy\": \"jiewe@microsoft.com\",\n    \"createdByType\": \"User\",\n
        \   \"lastModifiedAt\": \"2021-09-30T07:54:27.7933973Z\",\n    \"lastModifiedBy\":
        \"jiewe@microsoft.com\",\n    \"lastModifiedByType\": \"User\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.018'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "centraluseuap", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "manualPrivateLinkServiceConnections": [{"name": "priv_endpointconn000006",
      "properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002",
      "groupIds": ["amlworkspace"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"priv_endpoint000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005\",\r\n
        \ \"etag\": \"W/\\\"dae7a8fe-9da5-4107-8673-0c04f0ebc6c5\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"299fc443-edeb-4c67-aac9-31611bf76d9a\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"priv_endpointconn000006\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005/manualPrivateLinkServiceConnections/priv_endpointconn000006\",\r\n
        \       \"etag\": \"W/\\\"dae7a8fe-9da5-4107-8673-0c04f0ebc6c5\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002\",\r\n
        \         \"groupIds\": [\r\n            \"amlworkspace\"\r\n          ],\r\n
        \         \"privateLinkServiceConnectionState\": {\r\n            \"status\":
        \"Pending\",\r\n            \"description\": \"Awaiting Approval\",\r\n            \"actionsRequired\":
        \"None\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/testvnet000003/subnets/testsubnet000004\"\r\n
        \   },\r\n    \"networkInterfaces\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/priv_endpoint000005.nic.854f51f9-d1c2-4cb7-ac3a-aaabf4d58230\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centraluseuap/operations/73f138d2-9e3b-4d33-ab31-689fcb154474?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections?api-version=2021-01-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections/testaml000002.03c4accf-4be7-45c8-b5bb-fae781358fea\",\n
        \     \"name\": \"testaml000002.03c4accf-4be7-45c8-b5bb-fae781358fea\",\n
        \     \"type\": \"Microsoft.MachineLearningServices/workspaces/privateEndpointConnections\",\n
        \     \"location\": null,\n      \"etag\": null,\n      \"peConnectionProxyName\":
        \"priv_endpoint000005.299fc443-edeb-4c67-aac9-31611bf76d9a\",\n      \"peName\":
        \"priv_endpoint000005\",\n      \"plsConnectionName\": \"priv_endpointconn000006\",\n
        \     \"plsProxyName\": \"priv_endpoint000005.proxy.32b829b2-a80e-4342-aff5-e8e26f738eed\",\n
        \     \"connectionDetails\": [\n        {\n          \"id\": \"7599dad2-dea0-453c-8b8c-86495fed1af8\",\n
        \         \"privateIpAddress\": \"10.0.0.4\",\n          \"linkIdentifier\":
        \"805307374\",\n          \"groupId\": \"amlworkspace\",\n          \"memberName\":
        \"default\"\n        },\n        {\n          \"id\": \"c07252e1-ea23-42ca-b35c-6582a2c65c0b\",\n
        \         \"privateIpAddress\": \"10.0.0.5\",\n          \"linkIdentifier\":
        \"805309371\",\n          \"groupId\": \"amlworkspace\",\n          \"memberName\":
        \"notebook\"\n        },\n        {\n          \"id\": \"ae30d6b0-214d-4e11-8cfa-2cfba297bab5\",\n
        \         \"privateIpAddress\": \"10.0.0.6\",\n          \"linkIdentifier\":
        \"805320372\",\n          \"groupId\": \"amlworkspace\",\n          \"memberName\":
        \"inference\"\n        }\n      ],\n      \"requestDescription\": \"\",\n
        \     \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n        \"privateEndpoint\":
        {\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/priv_endpoint000005\",\n
        \         \"subnetArmId\": null\n        },\n        \"privateLinkServiceConnectionState\":
        {\n          \"status\": \"Pending\",\n          \"description\": \"\",\n
        \         \"actionsRequired\": \"None\"\n        }\n      },\n      \"notebookInternalFqdn\":
        \"privatelink.notebookapis.azure.com\",\n      \"notebookCustomerVisibleFqdns\":
        [\n        \"ml-testamlip-centraluseuap-370d1e55-51e9-4fca-9655-e503a0b44805.notebooks.azure.net\"\n
        \     ]\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.022'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections/testaml000002.03c4accf-4be7-45c8-b5bb-fae781358fea?api-version=2021-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsof[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.MachineLearningServices/workspaces/testaml000002/privateEndpointConnections/testaml000002.03c4accf-4be7-45c8-b5bb-fae781358fea?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/workspaceOperationsStatus/7f851ee0-7333-4008-8e0e-2a84fee0b8be?api-version=2021-01-01&type=async
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/workspaceOperationsStatus/7f851ee0-7333-4008-8e0e-2a84fee0b8be?api-version=2021-01-01&type=location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
      x-ms-response-type:
      - standard
      x-request-time:
      - '0.431'
    status:
      code: 202
      message: Accepted
version: 1
