interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_express_route_gateway_routes000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001","name":"test_express_route_gateway_routes000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_network_express_route_gateway_routes_and_resiliency","date":"2026-03-31T09:00:29Z","module":"network","Created":"2026-03-31T09:00:33.9840027Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualWans/test-vwan-routes?api-version=2022-07-01
  response:
    body:
      string: '{"name":"test-vwan-routes","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualWans/test-vwan-routes","etag":"W/\"6cb14740-e5dc-4074-a080-c26e775f0a66\"","type":"Microsoft.Network/virtualWans","location":"eastus","properties":{"provisioningState":"Updating","disableVpnEncryption":false,"allowBranchToBranchTraffic":true,"office365LocalBreakoutCategory":"None","type":"Standard"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e896468c-b541-48cf-a920-33317d8dbda3?api-version=2022-07-01&t=639105444474463652&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDIxOTAxNTQ1MloXDTI2MDgxNDA3NTQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e896468c-b541-48cf-a920-33317d8dbda3?api-version=2022-07-01&t=639105444474463652&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDIxOTAxNTQ1MloXDTI2MDgxNDA3NTQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25za[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"addressPrefix": "10.6.0.0/16", "sku":
      "Standard", "virtualWan": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualWans/test-vwan-routes"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualHubs/test-vhub-routes?api-version=2022-05-01
  response:
    body:
      string: '{"name":"test-vhub-routes","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualHubs/test-vhub-routes","etag":"W/\"d2202c87-cffa-4db7-97d3-68d57c9e9622\"","type":"Microsoft.Network/virtualHubs","location":"eastus","properties":{"provisioningState":"Updating","virtualHubRouteTableV2s":[],"addressPrefix":"10.6.0.0/16","virtualRouterAsn":65515,"virtualRouterIps":[],"routeTable":{"routes":[]},"virtualRouterAutoScaleConfiguration":{"minCapacity":2},"virtualWan":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualWans/test-vwan-routes"},"networkVirtualAppliances":[],"sku":"Standard","routingState":"None","allowBranchToBranchTraffic":false,"hubRoutingPreference":"ExpressRoute"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/212851e2-813f-49af-980b-7f3b133113ff?api-version=2022-05-01&t=639105444605421150&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDIxOTAxNTQ1MloXDTI2MDg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/212851e2-813f-49af-980b-7f3b133113ff?api-version=2022-05-01&t=639105444605421150&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDIxOTAxNTQ1MloXDTI2MDgxNDA3NTQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25za[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"autoScaleConfiguration": {"bounds":
      {"min": 2}}, "virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualHubs/test-vhub-routes"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/expressRouteGateways/test-ergw-routes?api-version=2023-09-01
  response:
    body:
      string: '{"name":"test-ergw-routes","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/expressRouteGateways/test-ergw-routes","etag":"W/\"36110844-361a-4aef-bb23-f1a86f00e794\"","type":"Microsoft.Network/expressRouteGateways","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"f166be7d-ffea-4f97-b94a-693e9c2fb352","virtualHub":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_express_route_gateway_routes000001/providers/Microsoft.Network/virtualHubs/test-vhub-routes"},"expressRouteConnections":[],"allowNonVirtualWanTraffic":false,"autoScaleConfiguration":{"bounds":{"min":2}}}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cfe6330e-ec14-4ee3-b554-ebeaa582ecb0?api-version=2023-09-01&t=639105455691746119&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cfe6330e-ec14-4ee3-b554-ebeaa582ecb0?api-version=2023-09-01&t=639105455691746119&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDIxOTAxNTQ1MloXDTI2MDgxNDA3NTQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25za[...]
[...]
