interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ARM Test Provider\",\r\n
        \     \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\",\r\n
        \     \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"peeringLocations\":
        [\r\n          \"Area51\",\r\n          \"Denver Test\",\r\n          \"EUAP
        Test\"\r\n        ],\r\n        \"bandwidthsOffered\": [\r\n          {\r\n
        \           \"offerName\": \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n
        \         },\r\n          {\r\n            \"offerName\": \"100Mbps\",\r\n
        \           \"valueInMbps\": 100\r\n          },\r\n          {\r\n            \"offerName\":
        \"200Mbps\",\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n
        \           \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\n
        \         },\r\n          {\r\n            \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\":
        1000\r\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001","name":"cli_test_express_route000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-02-24T11:27:19Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {"foo": "doo"}, "sku": {"name": "Premium_MeteredData",
      "tier": "Premium", "family": "MeteredData"}, "properties": {"serviceProviderProperties":
      {"serviceProviderName": "Ibiza Test Provider", "peeringLocation": "Area51",
      "bandwidthInMbps": 50}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\",\r\n
        \ \"etag\": \"W/\\\"80763929-2ded-46c4-ba0b-0373e55158b3\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"resourceGuid\": \"446bcdae-f816-4561-a654-cd3a37efbbb9\",\r\n
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\":
        {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"peeringLocation\":
        \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\":
        \"Disabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"serviceKey\":
        \"00000000-0000-0000-0000-000000000000\",\r\n    \"serviceProviderProvisioningState\":
        \"NotProvisioned\",\r\n    \"allowGlobalReach\": false,\r\n    \"globalReachEnabled\":
        false\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n
        \   \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/9bbbbd37-8395-4ba0-987f-a7040786df42?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1181'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/9bbbbd37-8395-4ba0-987f-a7040786df42?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\",\r\n
        \ \"etag\": \"W/\\\"d82203f6-e114-4c88-bb89-205e2daff35c\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"446bcdae-f816-4561-a654-cd3a37efbbb9\",\r\n
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\":
        {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"peeringLocation\":
        \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\":
        \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\":
        \"\",\r\n    \"serviceKey\": \"f6fa313c-4029-4388-9554-72dcc4ec11b6\",\r\n
        \   \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"allowGlobalReach\":
        false,\r\n    \"globalReachEnabled\": false,\r\n    \"stag\": 4\r\n  },\r\n
        \ \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n
        \   \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteCircuits?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"er3\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.Network/expressRouteCircuits/er3\",\r\n
        \     \"etag\": \"W/\\\"94e88b72-486e-4b26-9f3f-befc42d675aa\\\"\",\r\n      \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n      \"location\": \"westus\",\r\n
        \     \"properties\": {\r\n        \"provisioningState\": \"Failed\",\r\n
        \       \"resourceGuid\": \"3906963b-2830-47a2-a3f0-572f3359d04b\",\r\n        \"peerings\":
        [\r\n          {\r\n            \"name\": \"AzurePrivatePeering\",\r\n            \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.Network/expressRouteCircuits/er3/peerings/AzurePrivatePeering\",\r\n
        \           \"etag\": \"W/\\\"94e88b72-486e-4b26-9f3f-befc42d675aa\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Deleting\",\r\n
        \             \"peeringType\": \"AzurePrivatePeering\",\r\n              \"azureASN\":
        12076,\r\n              \"peerASN\": 100,\r\n              \"primaryPeerAddressPrefix\":
        \"192.168.1.0/30\",\r\n              \"secondaryPeerAddressPrefix\": \"192.168.2.0/30\",\r\n
        \             \"primaryAzurePort\": \"A51-TEST-06GMR-CIS-1-PRI-C\",\r\n              \"secondaryAzurePort\":
        \"A51-TEST-06GMR-CIS-2-SEC-C\",\r\n              \"state\": \"Enabled\",\r\n
        \             \"vlanId\": 100,\r\n              \"gatewayManagerEtag\": \"\",\r\n
        \             \"lastModifiedBy\": \"Customer\",\r\n              \"microsoftPeeringConfig\":
        {\r\n                \"advertisedPublicPrefixes\": [],\r\n                \"advertisedCommunities\":
        [],\r\n                \"advertisedPublicPrefixesState\": \"NotConfigured\",\r\n
        \               \"customerASN\": 0,\r\n                \"legacyMode\": 0,\r\n
        \               \"routingRegistryName\": \"NONE\"\r\n              },\r\n
        \             \"connections\": [\r\n                {\r\n                  \"name\":
        \"xz-vnet\",\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.Network/expressRouteCircuits/er3/peerings/AzurePrivatePeering/connections/xz-vnet\",\r\n
        \                 \"etag\": \"W/\\\"94e88b72-486e-4b26-9f3f-befc42d675aa\\\"\",\r\n
        \                 \"properties\": {\r\n                    \"provisioningState\":
        \"Deleting\",\r\n                    \"expressRouteCircuitPeering\": {\r\n
        \                     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.Network/expressRouteCircuits/er3/peerings/AzurePrivatePeering\"\r\n
        \                   },\r\n                    \"peerExpressRouteCircuitPeering\":
        {\r\n                      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xz-express-route-test/providers/Microsoft.Network/expressRouteCircuits/er3/peerings/AzurePrivatePeering\"\r\n
        \                   },\r\n                    \"addressPrefix\": \"10.0.0.0/29\",\r\n
        \                   \"authorizationKey\": \"308201E906092A864886F70D010703A08201DA308201D6020100318201823082017E0201003066304F310B3009060355040613025553311E301C060355040A13154D6963726F736F667420436F72706F726174696F6E3120301E060355040313174D6963726F736F66742052534120544C5320434120303202137F0001C39288E951B66B24711300000001C392300D06092A864886F70D0101010500048201009DDFF1B74A2DFCA567E20CE8FC2A76E678E2E039BCDDAE030CBBF107076C0AB0F1C31AECEF79D18ABFB9DE4AE9D4C92CD075E247ECC516534BB1029B27B5742DA819040DDA090DC40CE3C3286BB22EEFF2DECC3C930155288EE3A5B4C5D38E6C550B55AB3A0FFF596AA00115CD4D7E7D8E5EFEF34379DA292F8C3B91503AFB90388E0D81D31D8DA8D04F580BC6F607AF6804FE22081DAD31E666FFC78C2C19C3FCE0B7557BA7A0F94B7EFBE0C877DA8FDEA32F910BE19146B68B3A87C435BD588E404015A98368BBF8F20E8D0A4D33C6A5AF32A776756B348C481053B5180AEFDA14718026E99751383279B3BBC27B7E06ADA92B1AC9A2185C85C2BE368E2775304B06092A864886F70D010701301406082A864886F70D03070408EA3A2BADC42151488028B76C469784A83395AD1F1AE5AD02628D6ED01D9A8DC44DA3B4D6CA8A17B90D6791DE60A6FCE6246B\",\r\n
        \                   \"circuitConnectionStatus\": \"Disconnected\"\r\n                  },\r\n
        \                 \"type\": \"Microsoft.Network/expressRouteCircuits/peerings/connections\"\r\n
        \               }\r\n              ],\r\n              \"peeredConnections\":
        []\r\n            },\r\n            \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n
        \         }\r\n        ],\r\n        \"authorizations\": [],\r\n        \"serviceProviderProperties\":
        {\r\n          \"serviceProviderName\": \"Microsoft ER Test\",\r\n          \"peeringLocation\":
        \"Area51\",\r\n          \"bandwidthInMbps\": 50\r\n        },\r\n        \"circuitProvisioningState\":
        \"Enabled\",\r\n        \"allowClassicOperations\": f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsof[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/stats?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primaryBytesIn\": 0,\r\n  \"primaryBytesOut\": 0,\r\n  \"secondaryBytesIn\":
        0,\r\n  \"secondaryBytesOut\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1",
      "location": "westus", "tags": {"foo": "doo", "test": "Test"}, "sku": {"name":
      "Premium_MeteredData", "tier": "Premium", "family": "MeteredData"}, "properties":
      {"allowClassicOperations": false, "circuitProvisioningState": "Enabled", "serviceProviderProvisioningState":
      "NotProvisioned", "authorizations": [], "peerings": [], "serviceKey": "f6fa313c-4029-4388-9554-72dcc4ec11b6",
      "serviceProviderProperties": {"serviceProviderName": "Ibiza Test Provider",
      "peeringLocation": "Area51", "bandwidthInMbps": 50}, "gatewayManage[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"auth1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\",\r\n
        \ \"etag\": \"W/\\\"6ccbb1c0-b57b-49c0-8319-ca165e3ebabf\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"authorizationKey\":
        \"b4d5d612-a865-40d0-985c-a4c95b19e714\",\r\n    \"authorizationUseStatus\":
        \"Available\"\r\n  },\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4615a561-d687-476e-af8d-28774d79893d?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"auth1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\",\r\n
        \     \"etag\": \"W/\\\"abc3b8b8-ea03-4fa7-9e8b-d2efc397c1e6\\\"\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"authorizationKey\":
        \"b4d5d612-a865-40d0-985c-a4c95b19e714\",\r\n        \"authorizationUseStatus\":
        \"Available\"\r\n      },\r\n      \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"peeringType": "AzurePrivatePeering", "peerASN": 10001,
      "primaryPeerAddressPrefix": "102.0.0.0/30", "secondaryPeerAddressPrefix": "103.0.0.0/30",
      "vlanId": 101}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivateP[...]
[...]
- request:
    body: '{"properties": {"peeringType": "MicrosoftPeering", "peerASN": 10002, "primaryPeerAddressPrefix":
      "104.0.0.0/30", "secondaryPeerAddressPrefix": "105.0.0.0/30", "vlanId": 103,
      "microsoftPeeringConfig": {"advertisedPublicPrefixes": ["104.0.0.0/30"], "customerASN":
      10000, "routingRegistryName": "LEVEL3"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AzurePrivatePeering\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/arpTables/primary?api-version=2020-08-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/14935c61-ba78-45f7-92e3-36380980286e?api-version=2020-08-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/14935c61-ba78-45f7-92e3-36380980286e?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/14935c61-ba78-45f7-92e3-36380980286e?api-version=2020-08-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/routeTables/primary?api-version=2020-08-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/56e9319f-272b-42ba-9a14-ba292a39a580?api-version=2020-08-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits?api-version=2020-08-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
