interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_routing_rule000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001","name":"cli_test_ag_routing_rule000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-28T12:04:30Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/publicIPAddresses/testPublicIp?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"testPublicIp\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/publicIPAddresses/testPublicIp\",\r\n
        \ \"etag\": \"W/\\\"da82392f-6776-4dbe-855e-fe017fcc3361\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"c7fbdb02-1b19-4e12-9ed8-a01add608a81\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1f90fb5b-d996-4667-ab0d-34ad46a0b7aa?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1f90fb5b-d996-4667-ab0d-34ad46a0b7aa?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/publicIPAddresses/testPublicIp?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"testPublicIp\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/publicIPAddresses/testPublicIp\",\r\n
        \ \"etag\": \"W/\\\"80efe3f8-e628-49b8-85e0-b68433717b5e\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"c7fbdb02-1b19-4e12-9ed8-a01add608a81\",\r\n    \"ipAddress\":
        \"20.253.177.233\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
        {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"80efe3f8-e628-49b8-85e0-b68433717b5e"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_routing_rule000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_ag_routing_rule000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjE2IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWUkZVMVE2TlVaT1Z6bzFSa1pNVDFjNk5VWk1UMGM2TlVaS1RGbEVSMUpOVmtGTlVVVlNOMGhEVGpKVlFsRkpmRVpEUkRFMFFqWkNNakZETWpneU1FVXRUVWxEVWs5VFQwWlVPakpGVGtWVVYwOVNTem95UmxaSlVsUlZRVXhPUlZSWFQxSkxVem95UmxaT1JWUXhMVU5GVGxSU1FVeFZVMFZWUVZBLSJ9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2021-04-01&%24filter=resourceGroup+eq+%27cli_test_ag_routing_rule000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2FvirtualNetworks%27&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjE2IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWUkZVMVE2TlVaT1Z6bzFSa1pNVDFjNk5VWk1UMGM2TlVaS1RGbEVSMUpOVmtGTlVVVlNOMGhEVGpKVlFsRkpmRVpEUkRFMFFqWkNNakZETWpneU1FVXRUVWxEVWs5VFQwWlVPakpGVGtWVVYwOVNTem95UmxaSlVsUlZRVXhPUlZSWFQxSkxVem95UmxaT1JWUXhMVU5GVGxSU1FVeFZVMFZWUVZBLSJ9
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_routing_rule000001%27%20and%20name%20eq%20%27testPublicIp%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/publicIPAddresses/testPublicIp","name":"testPublicIp","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"},"location":"westus"}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_ag_routing_rule000001%27+and+name+eq+%27testPublicIp%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjE2IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWUkZVMVE2TlVaT1Z6bzFSa1pNVDFjNk5VWk1UMGM2TlVaS1RGbEVSMUpOVmtGTlVVVlNOMGhEVGpKVlFsRkpmRVpEUkRFMFFqWkNNakZETWpneU1FVXRUVWxEVWs5VFQwWlVPakpGVGtWVVYwOVNTem95UmxaSlVsUlZRVXhPUlZSWFQxSkxVem95UmxaT1JWUXhMVU5GVGxSU1FVeFZVMFZWUVZBLSJ9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2021-04-01&%24filter=resourceGroup+eq+%27cli_test_ag_routing_rule000001%27+and+name+eq+%27testPublicIp%27+and+resourceType+eq+%27Microsoft.Network%2FpublicIPAddresses%27&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjE2IU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxWUkZVMVE2TlVaT1Z6bzFSa1pNVDFjNk5VWk1UMGM2TlVaS1RGbEVSMUpOVmtGTlVVVlNOMGhEVGpKVlFsRkpmRVpEUkRFMFFqWkNNakZETWpneU1FVXRUVWxEVWs5VFQwWlVPakpGVGtWVVYwOVNTem95UmxaSlVsUlZRVXhPUlZSWFQxSkxVem95UmxaT1JWUXhMVU5GVGxSU1FVeFZVMFZWUVZBLSJ9
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''appgw'')]"}, "resources": [{"name": "appgwVnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "appgw", "location": "westus",
      "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/appgwVnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/publicIPAddresses/testPublicIp"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/virtualNetworks/appgwVnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "Standard_v2",
      "tier": "Standard_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1",
      "properties": {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "priority": 1001}}], "privateLinkConfigurations": []}, "zones": null}], "outputs":
      {"applicationGateway": {"type": "object", "value": "[reference(''appgw'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_routing_rule000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Resources/deployments/ag_deploy_fpcoCim2dPHZvlM9WDmEcQD74STJhiu2","name":"ag_deploy_fpcoCim2dPHZvlM9WDmEcQD74STJhiu2","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6563013229205673828","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-08-28T12:04:46.788904Z","duration":"PT0.0008707S","correlationId":"018898cb-5909-474c-b2aa-0a9e73932b90","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/virtualNetworks/appgwVnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"appgwVnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw","resourceType":"Microsoft.Network/applicationGateways","resourceName":"appgw"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_routing_rule000001/providers/Microsoft.Resources/deployments/ag_deploy_fpcoCim2dPHZvlM9WDmEcQD74STJhiu2/operationStatuses/08585399186007545950?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_routing_rule000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585399186007545950?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"appgw\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw\",\r\n
        \ \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"b2847bc0-ea00-4e77-b2fb-67adb06f3bf6\",\r\n    \"sku\":
        {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\",\r\n
        \     \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n
        \   \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/virtualNetworks/appgwVnet/subnets/default\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
        \     }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\":
        [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n
        \   \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/publicIPAddresses/testPublicIp\"\r\n
        \         },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appGatewayHttpListener\"\r\n
        \           }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\":
        [\r\n      {\r\n        \"name\": \"appGatewayFrontendPort\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appGatewayFrontendPort\",\r\n
        \       \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n
        \             \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appGatewayHttpListener\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n
        \     }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\":
        \"appGatewayBackendPool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appGatewayBackendPool\",\r\n
        \       \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"backendAddresses\": [],\r\n          \"requestRoutingRules\":
        [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/rule1\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n
        \     }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\":
        [\r\n      {\r\n        \"name\": \"appGatewayBackendHttpSettings\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appGatewayBackendHttpSettings\",\r\n
        \       \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\":
        \"Disabled\",\r\n          \"connectionDraining\": {\r\n            \"enabled\":
        false,\r\n            \"drainTimeoutInSec\": 1\r\n          },\r\n          \"pickHostNameFromBackendAddress\":
        false,\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\":
        [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/rule1\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n
        \     }\r\n    ],\r\n    \"backendSettingsCollection\": [],\r\n    \"httpListeners\":
        [\r\n      {\r\n        \"name\": \"appGatewayHttpListener\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appGatewayHttpListener\",\r\n
        \       \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appGatewayFrontendIP\"\r\n
        \         },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appGatewayFrontendPort\"\r\n
        \         },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\":
        [],\r\n          \"requireServerNameIndication\": false,\r\n          \"requestRoutingRules\":
        [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/rule1\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n
        \     }\r\n    ],\r\n    \"listeners\": [],\r\n    \"urlPathMaps\": [],\r\n
        \   \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"rule1\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/rule1\",\r\n
        \       \"etag\": \"W/\\\"cb526145-4549-4020-8afe-b6e1595c3dd9\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"ruleType\": \"Basic\",\r\n          \"priority\": 1001,\r\n          \"httpListener\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appGatewayHttpListener\"\r\n
        \         },\r\n          \"backendAddressPool\": {\r\n            \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appGatewayBackendPool\"\r\n
        \         },\r\n          \"backendHttpSettings\": {\r\n            \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_routing_rule000001/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n
        \     }\r\n    ],\r\n    \"routingRules\": [],\r\n    \"probes\": [],\r\n
        \   \"rewriteRuleSets\": [],\r\n    \"redirectConfigurations\": [],\r\n    \"privateLinkConfigurations\":
        [],\r\n    \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb526145-4549-4020-8afe-b6e1595c3dd9"
    status:
      code: 200
      message: OK
[...]
