interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_route_table_ecmp000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table_ecmp000001","name":"cli_test_route_table_ecmp000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_network_route_table_ecmp_route","date":"2026-06-04T03:58:18Z","module":"network"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table_ecmp000001/providers/Microsoft.Network/routeTables/cli-test-rt-ecmp?api-version=2025-07-01
  response:
    body:
      string: '{"name":"cli-test-rt-ecmp","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table_ecmp000001/providers/Microsoft.Network/routeTables/cli-test-rt-ecmp","etag":"W/\"5d2d811d-93c9-4a81-a730-3c997445ded2\"","type":"Microsoft.Network/routeTables","location":"eastus2","properties":{"provisioningState":"Updating","resourceGuid":"8cb663ba-8da7-415b-82be-937d53823af1","disableBgpRoutePropagation":false,"disablePeeringRoute":"None","routes":[]}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/28ba36a4-03e6-4f23-9712-2d976ef1b6fe?api-version=2025-07-01&t=639161423053238098&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/28ba36a4-03e6-4f23-9712-2d976ef1b6fe?api-version=2025-07-01&t=639161423053238098&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25z[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table_ecmp000001/providers/Microsoft.Network/routeTables/cli-test-rt-ecmp?api-version=2025-07-01
  response:
    body:
      string: '{"name":"cli-test-rt-ecmp","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table_ecmp000001/providers/Microsoft.Network/routeTables/cli-test-rt-ecmp","etag":"W/\"b2dd4faf-0a60-4717-a98c-9a5a28acd6b8\"","type":"Microsoft.Network/routeTables","location":"eastus2","properties":{"provisioningState":"Succeeded","resourceGuid":"8cb663ba-8da7-415b-82be-937d53823af1","disableBgpRoutePropagation":false,"disablePeeringRoute":"None","routes":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b2dd4faf-0a60-4717-a98c-9a5a28acd6b8"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
      x-ms-throttle-levels:
      - operationRatePct=0.2, operationConcurrencyPct=0.5, subscriptionReadRatePct=0.1,
        etc
    status:
      code: 200
      message: ''
- request:
    body: '{"name": "ecmp-route", "properties": {"addressPrefix": "10.1.0.0/16", "nextHop":
      {"nextHopIpAddresses": ["10.0.0.1", "10.0.0.2"]}, "nextHopType": "VirtualApplianceEcmp"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table_ecmp000001/providers/Microsoft.Network/routeTables/cli-test-rt-ecmp/routes/ecmp-route?api-version=2025-07-01
  response:
    body:
      string: '{"error":{"code":"RegionNotEnabledForFeature","message":"Region eastus2
        is not enabled for EcmpNextHop feature.","details":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttle-levels:
      - operationRatePct=0.1, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.5,
        etc
    status:
      code: 400
      message: Bad Request
version: 1
