interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{"product":"azurecli","cause":"automation","date":"2021-02-24T04:24:36Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualWans/clitestvwan?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitestvwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualWans/clitestvwan\",\r\n
        \ \"etag\": \"W/\\\"b8197831-09c5-496a-af57-db711cbf0f56\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\":
        false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\":
        \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/9ae1a9ad-a7e0-48da-b32f-f0d6cf76eafc?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/9ae1a9ad-a7e0-48da-b32f-f0d6cf76eafc?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"virtualWan": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualWans/clitestvwan"},
      "addressPrefix": "10.5.0.0/16", "sku": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualHubs/clitestvhub?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitestvhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualHubs/clitestvhub\",\r\n
        \ \"etag\": \"W/\\\"3cac6b71-f3c6-4676-9a82-877c04ea5d94\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"virtualHubRouteTableV2s\":
        [],\r\n    \"addressPrefix\": \"10.5.0.0/16\",\r\n    \"virtualRouterAsn\":
        0,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\":
        []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualWans/clitestvwan\"\r\n
        \   },\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"None\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/e54c7e36-d086-4977-ab28-d74bf6d18877?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"nvaSku": {"vendor": "barracudasdwanrelease",
      "bundledScaleUnit": "2", "marketPlaceVersion": "latest"}, "bootStrapConfigurationBlobs":
      ["https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl",
      "https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl"],
      "virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualHubs/clitestvhub"},
      "cloudInitConfigurationBlobs": ["https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl",
      "https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl"],
      "cloudInitConfiguration": "echo $abc", "virtualApplianceAsn": 10000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"nvaSku\": {\r\n      \"vendor\":
        \"barracudasdwanrelease\",\r\n      \"bundledScaleUnit\": \"2\",\r\n      \"marketPlaceVersion\":
        \"latest\"\r\n    },\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\r\n
        \   },\r\n    \"virtualApplianceAsn\": 10000,\r\n    \"bootStrapConfigurationBlobs\":
        [\r\n      \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\",\r\n
        \     \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\"\r\n
        \   ],\r\n    \"cloudInitConfigurationBlobs\": [\r\n      \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\",\r\n
        \     \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\"\r\n
        \   ],\r\n    \"cloudInitConfiguration\": \"echo $abc\",\r\n    \"virtualApplianceSites\":
        [],\r\n    \"inboundSecurityRules\": [],\r\n    \"provisioningState\": \"Updating\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance\",\r\n
        \ \"name\": \"cli-virtual-appliance\",\r\n  \"type\": \"Microsoft.Network/NetworkVirtualAppliances\",\r\n
        \ \"etag\": \"80aabc59-2960-4f2a-b87a-2783bc6c6424\",\r\n  \"location\": \"westcentralus\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/nfvOperations/81415b6b-68a2-4322-9caa-ffbc7736235f?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/nfvOperations/81415b6b-68a2-4322-9caa-ffbc7736235f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"nvaSku\": {\r\n      \"vendor\":
        \"barracudasdwanrelease\",\r\n      \"bundledScaleUnit\": \"2\",\r\n      \"marketPlaceVersion\":
        \"latest\"\r\n    },\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\r\n
        \   },\r\n    \"virtualApplianceAsn\": 10000,\r\n    \"bootStrapConfigurationBlobs\":
        [\r\n      \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\",\r\n
        \     \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\"\r\n
        \   ],\r\n    \"cloudInitConfigurationBlobs\": [\r\n      \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\",\r\n
        \     \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\"\r\n
        \   ],\r\n    \"cloudInitConfiguration\": \"echo $abc\",\r\n    \"addressPrefix\":
        \"10.5.112.0/25\",\r\n    \"virtualApplianceNics\": [\r\n      {\r\n        \"name\":
        \"privatenicipconfig\",\r\n        \"publicIpAddress\": \"\",\r\n        \"privateIpAddress\":
        \"10.5.112.4\",\r\n        \"instanceName\": \"cli-virtual-appliance_0\"\r\n
        \     },\r\n      {\r\n        \"name\": \"publicnicipconfig\",\r\n        \"publicIpAddress\":
        \"13.78.180.157\",\r\n        \"privateIpAddress\": \"10.5.80.4\",\r\n        \"instanceName\":
        \"cli-virtual-appliance_0\"\r\n      },\r\n      {\r\n        \"name\": \"privatenicipconfig\",\r\n
        \       \"publicIpAddress\": \"\",\r\n        \"privateIpAddress\": \"10.5.112.5\",\r\n
        \       \"instanceName\": \"cli-virtual-appliance_1\"\r\n      },\r\n      {\r\n
        \       \"name\": \"publicnicipconfig\",\r\n        \"publicIpAddress\": \"52.161.90.47\",\r\n
        \       \"privateIpAddress\": \"10.5.80.5\",\r\n        \"instanceName\":
        \"cli-virtual-appliance_1\"\r\n      }\r\n    ],\r\n    \"virtualApplianceSites\":
        [],\r\n    \"inboundSecurityRules\": [],\r\n    \"provisioningState\": \"Succeeded\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance\",\r\n
        \ \"name\": \"cli-virtual-appliance\",\r\n  \"type\": \"Microsoft.Network/NetworkVirtualAppliances\",\r\n
        \ \"etag\": \"80aabc59-2960-4f2a-b87a-2783bc6c6424\",\r\n  \"location\": \"westcentralus\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"nvaSku\":
        {\r\n          \"vendor\": \"barracudasdwanrelease\",\r\n          \"bundledScaleUnit\":
        \"2\",\r\n          \"marketPlaceVersion\": \"latest\"\r\n        },\r\n        \"virtualHub\":
        {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualHubs/clitestvhub\"\r\n
        \       },\r\n        \"virtualApplianceAsn\": 20000,\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkVirtualAppliances?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"nvaSku\":
        {\r\n          \"vendor\": \"barracudasdwanrelease\",\r\n          \"bundledScaleUnit\":
        \"2\",\r\n          \"marketPlaceVersion\": \"latest\"\r\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkVirtualApplianceSkus?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"vendor\":
        \"barracudasdwanrelease\",\r\n        \"availableVersions\": [\r\n          \"latest\"\r\n
        \       ],\r\n        \"availableScaleUnits\": [\r\n          {\r\n            \"scaleUnit\":
        \"10\",\r\n            \"instanceCount\": \"2\"\r\n          },\r\n          {\r\n
        \           \"scaleUnit\": \"20\",\r\n            \"instanceCount\": \"2\"\r\n
        \         },\r\n          {\r\n            \"scaleUnit\": \"2\",\r\n            \"instanceCount\":
        \"2\"\r\n          },\r\n          {\r\n            \"scaleUnit\": \"30\",\r\n
        \           \"instanceCount\": \"3\"\r\n          },\r\n          {\r\n            \"scaleUnit\":
        \"40\",\r\n            \"instanceCount\": \"3\"\r\n          },\r\n          {\r\n
        \           \"scaleUnit\": \"4\",\r\n            \"instanceCount\": \"2\"\r\n
        \         },\r\n          {\r\n            \"scaleUnit\": \"60\",\r\n            \"instanceCount\":
        \"4\"\r\n          },\r\n          {\r\n            \"scaleUnit\": \"80\",\r\n
        \           \"instanceCount\": \"5\"\r\n          }\r\n        ],\r\n        \"marketPlaceLink\":
        \"https://aka.ms/barracudaMarketPlaceOffer\",\r\n        \"provisioningState\":
        \"Succeeded\"\r\n      },\r\n      \"name\": \"barracudasdwanrelease\",\r\n
        \     \"etag\": \"00000000-0000-0000-0000-000000000000\"\r\n    },\r\n    {\r\n
        \     \"properties\": {\r\n        \"vendor\": \"ciscosdwan\",\r\n        \"availableVersions\":
        [\r\n          \"17.4.0928\",\r\n          \"17.4.20201218\"\r\n        ],\r\n
        \       \"availableScaleUnits\": [\r\n          {\r\n            \"scaleUnit\":
        \"3\",\r\n            \"instanceCount\": \"2\"\r\n          },\r\n          {\r\n
        \           \"scaleUnit\": \"4\",\r\n            \"instanceCount\": \"2\"\r\n
        \         },\r\n          {\r\n            \"scaleUnit\": \"5\",\r\n            \"instanceCount\":
        \"2\"\r\n          }\r\n        ],\r\n        \"marketPlaceLink\": \"https://aka.ms/ciscoMarketPlaceOffer\",\r\n
        \       \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"name\":
        \"ciscosdwan\",\r\n      \"etag\": \"00000000-0000-0000-0000-000000000000\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkVirtualApplianceSkus/barracudasdwanrelease?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"vendor\": \"barracudasdwanrelease\",\r\n
        \   \"availableVersions\": [\r\n      \"latest\"\r\n    ],\r\n    \"availableScaleUnits\":
        [\r\n      {\r\n        \"scaleUnit\[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "o365Policy": {"breakOutCategories":
      {"allow": true, "optimize": true, "default": true}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance/virtualApplianceSites/cli-site?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"o365Policy\": {\r\n      \"breakOutCategories\": {\r\n        \"optimize\":
        true,\r\n        \"allow\": true,\r\n        \"default\": true\r\n      }\r\n
        \   },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance/virtualApplianceSites/cli-site\",\r\n
        \ \"name\": \"cli-site\",\r\n  \"type\": \"Microsoft.Network/VirtualApplianceSites\",\r\n
        \ \"etag\": \"d61b553f-0aee-4280-abf7-dfaa8901d452\",\r\n  \"location\": \"westcentralus\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance/virtualApplianceSites?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"addressPrefix\":
        \"10.0.0.1/24\",\r\n        \"o365Policy\": {\r\n          \"breakOutCategories\":
        {\r\n            \"optimize\": false,\r\n            \"allow\": false,\r\n
        \           \"default\": false\r\n          }\r\n        },\r\n        \"provisioningState\":
        \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkVirtualAppliances/cli-virtual-appliance/virtualApplianceSites/cli-site\",\r\n
        \     \"name\": \"cli-site\",\r\n      \"type\": \"Microsoft.Network/VirtualApplianceSites\",\r\n
        \     \"etag\": \"e1ab8114-936b-4e35-8dfe-5bfd92f7b7e7\",\r\n      \"location\":
        \"westcentralus\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/nfvOperations/b26d7d84-ff14-45aa-a634-ea6a5d67ad74?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
