interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ARM Test Provider\",\r\n
        \     \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\",\r\n
        \     \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"peeringLocations\":
        [\r\n          \"Area51\",\r\n          \"Denver Test\",\r\n          \"EUAP
        Test\"\r\n        ],\r\n        \"bandwidthsOffered\": [\r\n          {\r\n
        \           \"offerName\": \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n
        \         },\r\n          {\r\n            \"offerName\": \"100Mbps\",\r\n
        \           \"valueInMbps\": 100\r\n          },\r\n          {\r\n            \"offerName\":
        \"200Mbps\",\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n
        \           \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\n
        \         },\r\n          {\r\n            \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\":
        1000\r\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001","name":"cli_test_express_route000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-02-07T01:04:46Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {"foo": "doo"}, "sku": {"name": "Premium_MeteredData",
      "tier": "Premium", "family": "MeteredData"}, "properties": {"serviceProviderProperties":
      {"serviceProviderName": "Ibiza Test Provider", "peeringLocation": "Area51",
      "bandwidthInMbps": 50}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\",\r\n
        \ \"etag\": \"W/\\\"b519839e-94f3-4183-8d29-b938cb1cc8ac\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"resourceGuid\": \"a1b2572f-151d-42c5-85b6-114a5f0c5d70\",\r\n
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\":
        {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"peeringLocation\":
        \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\":
        \"Disabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"serviceKey\":
        \"00000000-0000-0000-0000-000000000000\",\r\n    \"serviceProviderProvisioningState\":
        \"NotProvisioned\",\r\n    \"allowGlobalReach\": false,\r\n    \"globalReachEnabled\":
        false\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n
        \   \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/26ba68ba-c6a5-4218-a9d3-35e5cfd436d3?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/26ba68ba-c6a5-4218-a9d3-35e5cfd436d3?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\",\r\n
        \ \"etag\": \"W/\\\"74cf84c8-c4e0-4ffa-9c19-5c1800e1ac4a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"a1b2572f-151d-42c5-85b6-114a5f0c5d70\",\r\n
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\":
        {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"peeringLocation\":
        \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\":
        \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\":
        \"\",\r\n    \"serviceKey\": \"3b240cb5-eeaf-4de8-9a5f-c8c1a5896e99\",\r\n
        \   \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"allowGlobalReach\":
        false,\r\n    \"globalReachEnabled\": false,\r\n    \"stag\": 3\r\n  },\r\n
        \ \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n
        \   \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteCircuits?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\",\r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsof[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/stats?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"primaryBytesIn\": 0,\r\n  \"primaryBytesOut\": 0,\r\n  \"secondaryBytesIn\":
        0,\r\n  \"secondaryBytesOut\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1",
      "location": "westus", "tags": {"foo": "doo", "test": "Test"}, "sku": {"name":
      "Premium_MeteredData", "tier": "Premium", "family": "MeteredData"}, "properties":
      {"allowClassicOperations": false, "circuitProvisioningState": "Enabled", "serviceProviderProvisioningState":
      "NotProvisioned", "authorizations": [], "peerings": [], "serviceKey": "3b240cb5-eeaf-4de8-9a5f-c8c1a5896e99",
      "serviceProviderProperties": {"serviceProviderName": "Ibiza Test Provider",
      "peeringLocation": "Area51", "bandwidthInMbps": 50}, "gatewayManage[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"auth1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\",\r\n
        \ \"etag\": \"W/\\\"f29ef3d8-c9b4-42eb-b2a6-eaa583af3686\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"authorizationKey\":
        \"b6025284-66c8-4ad5-874a-a41c3c82e449\",\r\n    \"authorizationUseStatus\":
        \"Available\"\r\n  },\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/44b412db-c65e-4b53-a516-7d6f499c8117?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"auth1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\",\r\n
        \     \"etag\": \"W/\\\"7cd14d88-8998-4bd0-816d-c11f0031a20f\\\"\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"authorizationKey\":
        \"b6025284-66c8-4ad5-874a-a41c3c82e449\",\r\n        \"authorizationUseStatus\":
        \"Available\"\r\n      },\r\n      \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"peeringType": "AzurePrivatePeering", "peerASN": 10001,
      "primaryPeerAddressPrefix": "102.0.0.0/30", "secondaryPeerAddressPrefix": "103.0.0.0/30",
      "vlanId": 101}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivatePeering?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"AzurePrivatePeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivatePeering\",\r\n
        \ \"etag\": \"W/\\\"e0c2651e-5833-4263-b00d-3c7a693b7580\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"peeringType\": \"AzurePrivatePeering\",\r\n
        \   \"azureASN\": 0,\r\n    \"peerASN\": 10001,\r\n    \"primaryPeerAddressPrefix\":
        \"102.0.0.0/30\",\r\n    \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\",\r\n
        \   \"state\": \"Enabled\",\r\n    \"vlanId\": 101,\r\n    \"lastModifiedBy\":
        \"\",\r\n    \"connections\": [],\r\n    \"peeredConnections\": []\r\n  },\r\n
        \ \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/79d010ca-0f3d-4b61-b4de-91af6b39dfde?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivatePeering?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"AzurePrivatePeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivatePeering\",\r\n
        \ \"etag\": \"W/\\\"ba2d69b1-5368-4e80-b663-46f3a7dbd8c4\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"peeringType\": \"AzurePrivatePeering\",\r\n
        \   \"azureASN\": 12076,\r\n    \"peerASN\": 10001,\r\n    \"primaryPeerAddressPrefix\":
        \"102.0.0.0/30\",\r\n    \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\",\r\n
        \   \"primaryAzurePort\": \"A51-IBIZA-06GMR-CIS-1-PRI-A\",\r\n    \"secondaryAzurePort\":
        \"A51-IBIZA-06GMR-CIS-2-SEC-A\",\r\n    \"state\": \"Enabled\",\r\n    \"vlanId\":
        101,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"lastModifiedBy\": \"Customer\",\r\n
        \   \"connections\": [],\r\n    \"peeredConnections\": []\r\n  },\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"peeringType": "MicrosoftPeering", "peerASN": 10002, "primaryPeerAddressPrefix":
      "104.0.0.0/30", "secondaryPeerAddressPrefix": "105.0.0.0/30", "vlanId": 103,
      "microsoftPeeringConfig": {"advertisedPublicPrefixes": ["104.0.0.0/30"], "customerASN":
      10000, "routingRegistryName": "LEVEL3"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"MicrosoftPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering\",\r\n
        \ \"etag\": \"W/\\\"37103350-5a35-411e-8fb4-de932557c6c7\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"peeringType\": \"MicrosoftPeering\",\r\n
        \   \"azureASN\": 0,\r\n    \"peerASN\": 10002,\r\n    \"primaryPeerAddressPrefix\":
        \"104.0.0.0/30\",\r\n    \"secondaryPeerAddressPrefix\": \"105.0.0.0/30\",\r\n
        \   \"state\": \"Enabled\",\r\n    \"vlanId\": 103,\r\n    \"lastModifiedBy\":
        \"\",\r\n    \"microsoftPeeringConfig\": {\r\n      \"advertisedPublicPrefixes\":
        [\r\n        \"104.0.0.0/30\"\r\n      ],\r\n      \"advertisedPublicPrefixesState\":
        \"NotConfigured\",\r\n      \"customerASN\": 10000,\r\n      \"legacyMode\":
        0,\r\n      \"routingRegistryName\": \"LEVEL3\"\r\n    },\r\n    \"connections\":
        [],\r\n    \"peeredConnections\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/818c4233-29a8-41a2-a6e1-58b99f764f61?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AzurePrivatePeering\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/arpTables/primary?api-version=2019-11-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/aa004427-8af0-40b7-877e-fd4086d9fc3e?api-version=2019-11-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/aa004427-8af0-40b7-877e-fd4086d9fc3e?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/aa004427-8af0-40b7-877e-fd4086d9fc3e?api-version=2019-11-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/routeTables/primary?api-version=2019-11-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/646586a9-5a6b-4cc2-bde4-67fe9e87f062?api-version=2019-11-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
