interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/connection_monitor_v2_test_000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"bd2d014d-19d7-4427-9a1e-2635cbee872a","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-06-12T09:22:30.2292283Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-06-12T21:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-06-12T09:22:30.2292283Z","modifiedDate":"2024-06-12T09:22:30.2292283Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connection_monitor_v2_test_000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002","name":"clitest000002","type":"Microsoft.OperationalInsights/workspaces","etag":"\"67009835-0000-0100-0000-666968d60000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connection_monitor_v2_test_000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connection_monitor_v2_test_000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"bd2d014d-19d7-4427-9a1e-2635cbee872a","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-06-12T09:22:30.2292283Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-06-12T21:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-06-12T09:22:30.2292283Z","modifiedDate":"2024-06-12T09:22:30.2292283Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connection_monitor_v2_test_000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002","name":"clitest000002","type":"Microsoft.OperationalInsights/workspaces","etag":"\"67009835-0000-0100-0000-666968d60000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkWatchers?api-version=2022-01-01
  response:
    body:
      string: '{"value":[{"name":"NetworkWatcher_westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus","etag":"W/\"9ee17509-9f09-4c24-9afa-17af01ee9d8c\"","type":"Microsoft.Network/networkWatchers","location":"westus","properties":{"provisioningState":"Succeeded","runningOperationIds":[]}},{"name":"NetworkWatcher_eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus","etag":"W/\"eba871f5-0356-48e7-b99b-b43d77ee2681\"","type":"Microsoft.Network/networkWatchers","location":"eastus","properties":{"provisioningState":"Succeeded","runningOperationIds":[]}},{"name":"nwcmtest-team-internal1234-diagnostics-networkwatcher-westeurope","id":"/subscriptions/00000000-0000-0000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus/connectionMonitors/CMv2-01?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"CMv2-01\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_eastus/connectionMonitors/CMv2-01\",\r\n
        \ \"etag\": \"W/\\\"eba871f5-0356-48e7-b99b-b43d77ee2681\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d46f812c-71f2-448a-a297-9d654486ad0e\",\r\n
        \   \"endpoints\": [\r\n      {\r\n        \"name\": \"vm1\",\r\n        \"resourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/connection_monitor_v2_test_d7n36fzgxmpzczsccgkbz3eqhibyy7q626q3rzmehocjhyw4/providers/Microsoft.Compute/virtualMachines/vm1\"\r\n
        \     },\r\n      {\r\n        \"name\": \"bing\",\r\n        \"address\":
        \"bing.com\"\r\n      }\r\n    ],\r\n    \"testConfigurations\": [\r\n      {\r\n
        \       \"name\": \"DefaultTestConfig\",\r\n        \"testFrequencySec\":
        60,\r\n        \"protocol\": \"Tcp\",\r\n        \"tcpConfiguration\": {\r\n
        \         \"port\": 2048,\r\n          \"disableTraceRoute\": false\r\n        }\r\n
        \     }\r\n    ],\r\n    \"testGroups\": [\r\n      {\r\n        \"name\":
        \"DefaultTestGroup\",\r\n        \"disable\": false,\r\n        \"testConfigurations\":
        [\r\n          \"DefaultTestConfig\"\r\n        ],\r\n        \"sources\":
        [\r\n          \"vm1\"\r\n        ],\r\n        \"destinations\": [\r\n          \"bing\"\r\n
        \       ]\r\n      }\r\n    ],\r\n    \"outputs\": [\r\n      {\r\n        \"type\":
        \"Workspace\",\r\n        \"workspaceSettings\": {\r\n          \"workspaceResourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-9cece3e3-0f7d-47ca-af0e-9772773f90b7-eus\"\r\n
        \       }\r\n      }\r\n    ],\r\n    \"startTime\": \"2024-05-24T16:36:19.9766399Z\",\r\n
        \   \"connectionMonitorType\": \"MultiEndpoint\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkWatchers/connectionMonitors\",\r\n
        \ \"location\": \"eastus\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"eba871f5-0356-48e7-b99b-b43d77ee2681"
    status:
      code: 200
      message: OK
version: 1
