interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_url_path_map000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001","name":"cli_test_ag_url_path_map000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T16:49:54Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"idleTimeoutInMinutes": 4, "publicIPAddressVersion":
      "IPv4", "publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/publicIPAddresses/pip1\",\r\n
        \ \"etag\": \"W/\\\"135a573e-d00e-4e76-b11d-8c04205376df\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"2ced6eb9-c2d8-4aad-a129-25188adc30a0\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\":
        \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c0f6b04c-d29e-4aea-b734-5c9eb0944d72?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c0f6b04c-d29e-4aea-b734-5c9eb0944d72?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/publicIPAddresses/pip1\",\r\n
        \ \"etag\": \"W/\\\"cf0d7919-41f8-43d3-9c35-d20756733c0a\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"2ced6eb9-c2d8-4aad-a129-25188adc30a0\",\r\n    \"ipAddress\":
        \"20.245.52.21\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
        \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n
        \   \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cf0d7919-41f8-43d3-9c35-d20756733c0a"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_url_path_map000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_ag_url_path_map000001%27+and+name+eq+%27None%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2022-09-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjAwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1UMVZFT2pKRVUwaEZURXc2TWtSVFZFOVNRVWRGT2pKRVUwOVZWRWhGUVZOVVFWTkpRUzFOU1VOU1QxTlBSbFE2TWtWVFZFOVNRVWRGT2pKR1UxUlBVa0ZIUlVGRFEwOVZUbFJUT2pKR1ExTXhNVEF3TXpJd01ESTJOVGxFUkRZelFpMVRUMVZVU0VWQlUxUkJVMGxCIn0%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_url_path_map000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjAwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1UMVZFT2pKRVUwaEZURXc2TWtSVFZFOVNRVWRGT2pKRVUwOVZWRWhGUVZOVVFWTkpRUzFOU1VOU1QxTlBSbFE2TWtWVFZFOVNRVWRGT2pKR1UxUlBVa0ZIUlVGRFEwOVZUbFJUT2pKR1ExTXhNVEF3TXpJd01ESTJOVGxFUkRZelFpMVRUMVZVU0VWQlUxUkJVMGxCIn0%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_url_path_map000001%27%20and%20name%20eq%20%27pip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/publicIPAddresses/pip1","name":"pip1","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"},"location":"westus"}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli_test_ag_url_path_map000001%27+and+name+eq+%27pip1%27+and+resourceType+eq+%27Microsoft.Network%2fpublicIPAddresses%27&api-version=2022-09-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjAwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1UMVZFT2pKRVUwaEZURXc2TWtSVFZFOVNRVWRGT2pKRVUwOVZWRWhGUVZOVVFWTkpRUzFOU1VOU1QxTlBSbFE2TWtWVFZFOVNRVWRGT2pKR1UxUlBVa0ZIUlVGRFEwOVZUbFJUT2pKR1ExTXhNVEF3TXpJd01ESTJOVGxFUkRZelFpMVRUMVZVU0VWQlUxUkJVMGxCIn0%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_url_path_map000001%27%20and%20name%20eq%20%27pip1%27%20and%20resourceType%20eq%20%27Microsoft.Network/publicIPAddresses%27&api-version=2022-09-01&$skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU9FTTVOa1UtIiwibmV4dFJvd0tleSI6IjEhMjAwIU1FSXhSalkwTnpFeFFrWXdORVJFUVVGRlF6TkRRamt5TnpKR01EazFPVEJmUjFKTUxVTk1UMVZFT2pKRVUwaEZURXc2TWtSVFZFOVNRVWRGT2pKRVUwOVZWRWhGUVZOVVFWTkpRUzFOU1VOU1QxTlBSbFE2TWtWVFZFOVNRVWRGT2pKR1UxUlBVa0ZIUlVGRFEwOVZUbFJUT2pKR1ExTXhNVEF3TXpJd01ESTJOVGxFUkRZelFpMVRUMVZVU0VWQlUxUkJVMGxCIn0%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag1'')]"}, "resources": [{"name": "ag1Vnet", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westus",
      "tags": {}, "apiVersion": "2022-01-01", "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/publicIPAddresses/pip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "Standard_v2",
      "tier": "Standard_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1",
      "properties": {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "priority": 1001}}], "privateLinkConfigurations": []}, "zones": null}], "outputs":
      {"applicationGateway": {"type": "object", "value": "[reference(''ag1'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_url_path_map000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Resources/deployments/ag_deploy_1if5QWSR1Ds81NJEwjtGy5BonoRuktXl","name":"ag_deploy_1if5QWSR1Ds81NJEwjtGy5BonoRuktXl","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1635025907995493125","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-01-28T16:50:02.8644623Z","duration":"PT0.0002651S","correlationId":"e2ebaae8-7bea-46d9-8d46-197e7ad35caf","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_url_path_map000001/providers/Microsoft.Resources/deployments/ag_deploy_1if5QWSR1Ds81NJEwjtGy5BonoRuktXl/operationStatuses/08585266822834277475?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2022-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag1''
        under resource group ''cli_test_ag_url_path_map000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2022-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1\",\r\n
        \ \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"fb39c708-77ee-4f7d-b533-443e6464a169\",\r\n    \"sku\":
        {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\",\r\n
        \     \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Stopped\",\r\n
        \   \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
        \     }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\":
        [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n
        \   \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/publicIPAddresses/pip1\"\r\n
        \         },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\r\n
        \           }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\":
        [\r\n      {\r\n        \"name\": \"appGatewayFrontendPort\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\",\r\n
        \       \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n
        \             \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n
        \     }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\":
        \"appGatewayBackendPool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\",\r\n
        \       \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"backendAddresses\": [],\r\n          \"requestRoutingRules\":
        [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n
        \     }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\":
        [\r\n      {\r\n        \"name\": \"appGatewayBackendHttpSettings\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\",\r\n
        \       \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\":
        \"Disabled\",\r\n          \"connectionDraining\": {\r\n            \"enabled\":
        false,\r\n            \"drainTimeoutInSec\": 1\r\n          },\r\n          \"pickHostNameFromBackendAddress\":
        false,\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\":
        [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n
        \     }\r\n    ],\r\n    \"backendSettingsCollection\": [],\r\n    \"httpListeners\":
        [\r\n      {\r\n        \"name\": \"appGatewayHttpListener\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\",\r\n
        \       \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\r\n
        \         },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\r\n
        \         },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\":
        [],\r\n          \"requireServerNameIndication\": false,\r\n          \"requestRoutingRules\":
        [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n
        \     }\r\n    ],\r\n    \"listeners\": [],\r\n    \"urlPathMaps\": [],\r\n
        \   \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"rule1\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\",\r\n
        \       \"etag\": \"W/\\\"e241e69e-6913-414f-9304-86f06f620466\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"ruleType\": \"Basic\",\r\n          \"priority\": 1001,\r\n          \"httpListener\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\r\n
        \         },\r\n          \"backendAddressPool\": {\r\n            \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\r\n
        \         },\r\n          \"backendHttpSettings\": {\r\n            \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_url_path_map000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n
        \     }\r\n    ],\r\n    \"routingRules\": [],\r\n    \"probes\": [],\r\n
        \   \"rewriteRuleSets\": [],\r\n    \"redirectConfigurations\": [],\r\n    \"privateLinkConfigurations\":
        [],\r\n    \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e241e69e-6913-414f-9304-86f06f620466"
    status:
      code: 200
      message: OK
[...]
