interactions:
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003\",\r\n
        \ \"etag\": \"W/\\\"2878c2e7-a389-4608-ad12-e0a4c66385ad\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"467ee60a-ada9-46e0-86d9-bba61e7f42d5\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \       \"etag\": \"W/\\\"2878c2e7-a389-4608-ad12-e0a4c66385ad\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/29183f48-0c23-4ead-8938-d267231bb81f?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/29183f48-0c23-4ead-8938-d267231bb81f?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004\",\r\n
        \ \"etag\": \"W/\\\"29c9657c-f445-4e6d-bb85-6e8d7aec5f1f\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"29c9657c-f445-4e6d-bb85-6e8d7aec5f1f"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location":"eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"privateEndpointConnections":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002","name":"cli-test-rmpl-pe-000002","type":"Microsoft.Authorization/resourceManagementPrivateLinks","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000003/subnets/cli-subnet-000004",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000006", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002",
      "groupIds": ["ResourceManagement"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"privateEndpointConnections":[{"properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955","name":"cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955","type":"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002","name":"cli-test-rmpl-pe-000002","type":"Microsoft.Authorization/resourceManagementPrivateLinks","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955","name":"cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955","type":"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955?api-version=2020-05-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000005"},"privateLinkServiceConnectionState":{"status":"Approved","actionsRequired":"None"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955","name":"cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955","type":"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rmpl_pe000001/providers/Microsoft.Authorization/resourceManagementPrivateLinks/cli-test-rmpl-pe-000002/privateEndpointConnections/cli-pe-000005.e0d8a37d-0a82-414c-ab27-06ed52127955?api-version=2020-05-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Authorization/operationStatus/eyJqb2JJZCI6IlBSSVZBVEVFTkRQT0lOVFNUQVRVU1VQREFURUpPQjoyRC0wOEIxOEE5RDMxNUQ0RTdCOUJDQ0FCQ0Y0MTgwMzFFNy1DTEk6NUZURVNUOjVGUk1QTDo1RlBFNkJOUkFTT1oyVEo3NERHV01CVFozRVdSUDdMSklES1RIUTdDWlNDNUNLSjdYSlpKTk5YSjVUMlFVREctQ0xJOjJEVEVTVDoyRFJNUEw6MkRQRToyRElJUFhUSUFBWlZMLUNMSToyRFBFOjJEREZVSDM0SVgzN0FNSVZTTTY6MkVFMEQ4QTM3RDoyRDBBODI6MkQ0MTRDOjJEQUIyNzoyRDA2RUQ1MjEyNzk1NSIsImpvYkxvY2F0aW9uIjoiV2VzdCBVUyJ9?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
