interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001","name":"cli_test_active_active_vnet_vnet_connection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-02-06T20:18:52Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.21.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "10.21.255.0/27"}, "name": "GatewaySubnet"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1\",\r\n
        \ \"etag\": \"W/\\\"b6c562d9-4136-4845-9ff6-0d65f6e746c1\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"4d060e41-f8d1-4288-b45a-fd2a8c993415\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.21.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet\",\r\n
        \       \"etag\": \"W/\\\"b6c562d9-4136-4845-9ff6-0d65f6e746c1\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.21.255.0/27\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/330cb375-b0f4-4a61-b13f-82e99fff924d?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/330cb375-b0f4-4a61-b13f-82e99fff924d?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"publicIPAllocationMethod": "Dynamic",
      "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"gw1ip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip1\",\r\n
        \ \"etag\": \"W/\\\"8b4f993f-371a-45bf-b646-6bad7d4871bd\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"e8f7f481-0818-490f-af4e-afdfe4f5170b\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/72644bbf-17d1-4604-8ad8-157250f913e5?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"ipConfigurations": [{"properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip1"}},
      "name": "vnetGatewayConfig0"}, {"properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/publicIPAddresses/gw1ip2"}},
      "name": "vnetGatewayConfig1"}], "gatewayType": "Vpn", "vpnType": "RouteBased",
      "enableBgp": true, "activeActive": true, "sku": {"name": "HighPerformance",
      "tier": "HighPerformance"}, "bgpSettings": {"asn": 65010, "bgpPeeringAddress":
      "10.52.255.253"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"vgw1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1\",\r\n
        \ \"etag\": \"W/\\\"4b6cf788-53f6-4f06-a468-47bc10dabe24\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"9f1f4727-8387-40d1-a94d-bad5869ca472\",\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"enablePrivateIpAddress\": false,\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"vnetGatewayConfig0\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1/ipConfigurations/vnetGatewayConfig0\",\r\n
        \       \"etag\": \"W/\\\"4b6cf788-53f6-4f06-a468-47bc10dabe24\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/virtualNetworkGateways/i[...]
[...]
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"sharedKey": {"type": "securestring",
      "metadata": {"description": "Secure sharedKey"}}}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/connections", "name": "vnet1to2", "location": "westus",
      "tags": {}, "apiVersion": "2015-06-15", "dependsOn": [], "properties": {"virtualNetworkGateway1":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1"},
      "enableBgp": true, "connectionType": "Vnet2Vnet", "routingWeight": 10, "usePolicyBasedTrafficSelectors":
      false, "expressRouteGatewayBypass": null, "virtualNetworkGateway2": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Network/virtualNetworkGateways/vgw2"},
      "sharedKey": "[parameters(\''sharedKey\'')]"}}], "outputs": {"resource": {"type":
      "object", "value": "[reference(\''vnet1to2\'')]"}}}, "parameters": {"sharedKey":
      {"value": "abc123"}}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/vpn_connection_deploy_U06NrQLv4vcsuY0Eio8vE9z43p67YqMu","name":"vpn_connection_deploy_U06NrQLv4vcsuY0Eio8vE9z43p67YqMu","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1991178784586929156","parameters":{"sharedKey":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-02-06T20:43:58.647331Z","duration":"PT2.493851S","correlationId":"7bf0b190-6dc4-4181-8df8-a69755b1d302","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"connections","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/vpn_connection_deploy_U06NrQLv4vcsuY0Eio8vE9z43p67YqMu/operationStatuses/08586205850493241738?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586205850493241738?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
