interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n        \"name\":
      {\n            \"type\": \"string\"\n        },\n        \"location\": {\n            \"type\":
      \"string\"\n        }\n    },\n    \"resources\": [\n        {\n            \"apiVersion\":
      \"2020-12-01\",\n            \"name\": \"[parameters('name')]\",\n            \"location\":
      \"[parameters('location')]\",\n            \"type\": \"Microsoft.DigitalTwins/digitalTwinsInstances\",\n
      \           \"properties\": {}\n        }\n    ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"9a6a5db4-61e2-46d5-b944-07974f37545d","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n        \"name\":
      {\n            \"type\": \"string\"\n        },\n        \"location\": {\n            \"type\":
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585282856581390284?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2023-01-10T03:28:05.528221Z","duration":"PT58.0245769S","correlationId":"f6930f06-97ef-49b5-8de7-04cc222628fa","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources/API","name":"API","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateLinkResources","properties":{"groupId":"API","requiredMembers":["DigitalTwinsAPI"],"requiredZoneNames":["privatelink.digitaltwins.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-7c6e40fae2575c9506f0c43e7e56f835-0d1c1d37aff1131b-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001","name":"test_digital_twin_private_endpoint_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-10T03:27:04Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-subnet-000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"1c56a551-c854-4d60-b580-22d48cb90ee4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"74f7b708-dc2c-4804-9a87-e3e3c8462645\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"cli-subnet-000005\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"1c56a551-c854-4d60-b580-22d48cb90ee4\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/042b63d1-6b88-4064-8c6f-036412dec034?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/042b63d1-6b88-4064-8c6f-036412dec034?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"6e152820-1a6b-40ae-a199-598c6490771f\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6e152820-1a6b-40ae-a199-598c6490771f"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005",
      "properties": {"privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "manualPrivateLinkServiceConnections": [{"name": "cli-pec-000007",
      "properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002",
      "groupIds": ["API"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\",\r\n
        \ \"etag\": \"W/\\\"5ead160c-5885-4916-951b-e986eb307c32\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"e7827782-3e62-4adb-b612-febf13ea31dc\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"cli-pec-000007\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006/manualPrivateLinkServiceConnections/cli-pec-000007\",\r\n
        \       \"etag\": \"W/\\\"5ead160c-5885-4916-951b-e986eb307c32\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002\",\r\n
        \         \"groupIds\": [\r\n            \"API\"\r\n          ],\r\n          \"privateLinkServiceConnectionState\":
        {\r\n            \"status\": \"Pending\",\r\n            \"description\":
        \"Awaiting Approval\",\r\n            \"actionsRequired\": \"None\"\r\n          }\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"customNetworkInterfaceName\": \"\",\r\n    \"subnet\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\"\r\n
        \   },\r\n    \"ipConfigurations\": [],\r\n    \"networkInterfaces\": [\r\n
        \     {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/networkInterfaces/cli-pe-000006.nic.31b8835a-943e-49cb-be98-34d0e272ae81\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/091b0d2e-1305-49da-85aa-e985d19d0cad?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/5ba8b197-78aa-4548-8cdc-0edd90fa45f8","name":"5ba8b197-78aa-4548-8cdc-0edd90fa45f8","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-5286d8b53efb7ce6a7e62c1d458b241e-06c795b5e8012433-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/5ba8b197-78aa-4548-8cdc-0edd90fa45f8?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/5ba8b197-78aa-4548-8cdc-0edd90fa45f8","name":"5ba8b197-78aa-4548-8cdc-0edd90fa45f8","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-27761ad34863198d34fdd759a97190bf-735477e2f62586f9-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/5ba8b197-78aa-4548-8cdc-0edd90fa45f8",
      "name": "5ba8b197-78aa-4548-8cdc-0edd90fa45f8", "type": "Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections",
      "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},
      "groupIds": ["API"], "privateLinkServiceConnectionState": {"status": "Approved",
      "description": "Approved.", "actionsRequired": "None"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/5ba8b197-78aa-4548-8cdc-0edd90fa45f8?api-version=2020-12-01
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Exception of type ''Microsoft.Azure.DigitalTwins.ScaleUnitRPManagement.Exceptions.PrivateEndpointBadRequestException''
        was thrown."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-c540b57dcfda6c37c54ae4a0bffd51a0-88e864e83bfc8af9-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
