interactions:
- request:
    body: '{"location": "global", "properties": {"zoneType": "Public"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com","name":"zone2.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-2883-1d4d6cd3d601","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-02.azure-dns.com.","ns2-02.azure-dns.net.","ns3-02.azure-dns.org.","ns4-02.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00000002-0000-0000-2883-1d4d6cd3d601
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/SOA/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"ca2ebbbc-4ad5-4c4d-af48-4096b0937ec4","properties":{"fqdn":"zone2.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-02.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ca2ebbbc-4ad5-4c4d-af48-4096b0937ec4
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/NS/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"07887576-1981-4e23-aaaf-7c2a05558331","properties":{"fqdn":"zone2.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-02.azure-dns.com."},{"nsdname":"ns2-02.azure-dns.net."},{"nsdname":"ns3-02.azure-dns.org."},{"nsdname":"ns4-02.azure-dns.info."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 07887576-1981-4e23-aaaf-7c2a05558331
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"TTL": 200, "TXTRecords": [{"value": ["this is another
      SPF, this time as TXT"]}, {"value": ["v=spf1 mx ip4:14.14.22.0/23 a:mail.trum.ch
      mx:mese.ch include:spf.mapp.com ?all"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/@?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/@","name":"@","type":"Microsoft.Network\/dnszones\/TXT","etag":"0acc7578-373b-42a0-88f5-308a1e403baf","properties":{"fqdn":"zone2.com.","TTL":200,"TXTRecords":[{"value":["this
        is another SPF, this time as TXT"]},{"value":["v=spf1 mx ip4:14.14.22.0\/23
        a:mail.trum.ch mx:mese.ch include:spf.mapp.com ?all"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 0acc7578-373b-42a0-88f5-308a1e403baf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["  a  "]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/spaces?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/spaces","name":"spaces","type":"Microsoft.Network\/dnszones\/TXT","etag":"fdce5fab-f0c2-409a-bc20-9f76c15f194d","properties":{"fqdn":"spaces.zone2.com.","TTL":3600,"TXTRecords":[{"value":["  a  "]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - fdce5fab-f0c2-409a-bc20-9f76c15f194d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "1.2.3.4"}, {"ipv4Address":
      "2.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/a2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/a2","name":"a2","type":"Microsoft.Network\/dnszones\/A","etag":"064894d3-7d9b-40bd-9f99-bed3d2b89b71","properties":{"fqdn":"a2.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"1.2.3.4"},{"ipv4Address":"2.3.4.5"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 064894d3-7d9b-40bd-9f99-bed3d2b89b71
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "AAAARecords": [{"ipv6Address": "2001:cafe:130::100"},
      {"ipv6Address": "2001:cafe:130::101"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/AAAA/aaaa2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/AAAA\/aaaa2","name":"aaaa2","type":"Microsoft.Network\/dnszones\/AAAA","etag":"1a020a69-59cf-4fae-b3e6-a86d13105a29","properties":{"fqdn":"aaaa2.zone2.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:cafe:130::100"},{"ipv6Address":"2001:cafe:130::101"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1a020a69-59cf-4fae-b3e6-a86d13105a29
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/doozie?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/doozie","name":"doozie","type":"Microsoft.Network\/dnszones\/TXT","etag":"8a5ba8c0-f9ec-4cc4-9ea8-3942f420f8df","properties":{"fqdn":"doozie.zone2.com.","TTL":3600,"TXTRecords":[{"value":["abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 8a5ba8c0-f9ec-4cc4-9ea8-3942f420f8df
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "bar.com."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/CNAME/fee2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/CNAME\/fee2","name":"fee2","type":"Microsoft.Network\/dnszones\/CNAME","etag":"ed24d2cd-c4a4-4a7c-8af8-a00677e00231","properties":{"fqdn":"fee2.zone2.com.","TTL":3600,"CNAMERecord":{"cname":"bar.com."},"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ed24d2cd-c4a4-4a7c-8af8-a00677e00231
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "mail1.mymail.com."}, {"preference": 11, "exchange": "flooble."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/mail?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/mail","name":"mail","type":"Microsoft.Network\/dnszones\/MX","etag":"0624354c-ccd2-43f2-aba6-9ebb12e06be6","properties":{"fqdn":"mail.zone2.com.","TTL":3600,"MXRecords":[{"exchange":"mail1.mymail.com.","preference":10},{"exchange":"flooble.","preference":11}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 0624354c-ccd2-43f2-aba6-9ebb12e06be6
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"priority": 10, "weight":
      20, "port": 30, "target": "foobar."}, {"priority": 55, "weight": 66, "port":
      77, "target": "zoo."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/SRV/sip.tcp?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/SRV\/sip.tcp","name":"sip.tcp","type":"Microsoft.Network\/dnszones\/SRV","etag":"56ef7fdb-8562-4ccc-bf3f-8feeb1761560","properties":{"fqdn":"sip.tcp.zone2.com.","TTL":3600,"SRVRecords":[{"port":30,"priority":10,"target":"foobar.","weight":20},{"port":77,"priority":55,"target":"zoo.","weight":66}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 56ef7fdb-8562-4ccc-bf3f-8feeb1761560
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns1.com."}, {"nsdname":
      "ns2.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/NS/test-ns2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/NS\/test-ns2","name":"test-ns2","type":"Microsoft.Network\/dnszones\/NS","etag":"316bcc3f-c14a-4c3a-ba1d-f87a7b236d41","properties":{"fqdn":"test-ns2.zone2.com.","TTL":3600,"NSRecords":[{"nsdname":"ns1.com."},{"nsdname":"ns2.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 316bcc3f-c14a-4c3a-ba1d-f87a7b236d41
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["string 1"]}, {"value":
      ["string 2"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/test-txt2?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/test-txt2","name":"test-txt2","type":"Microsoft.Network\/dnszones\/TXT","etag":"98efb8c9-9704-4dde-bb26-7c0744799fe5","properties":{"fqdn":"test-txt2.zone2.com.","TTL":3600,"TXTRecords":[{"value":["string
        1"]},{"value":["string 2"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 98efb8c9-9704-4dde-bb26-7c0744799fe5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 100, "ARecords": [{"ipv4Address": "4.5.6.7"}, {"ipv4Address":
      "6.7.8.9"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/aa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/aa","name":"aa","type":"Microsoft.Network\/dnszones\/A","etag":"3549967f-b006-4b24-b6bd-86bb9c8da27f","properties":{"fqdn":"aa.zone2.com.","TTL":100,"ARecords":[{"ipv4Address":"4.5.6.7"},{"ipv4Address":"6.7.8.9"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3549967f-b006-4b24-b6bd-86bb9c8da27f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 300, "MXRecords": [{"preference": 1, "exchange":
      "foo.com.zone2.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/aa?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/aa","name":"aa","type":"Microsoft.Network\/dnszones\/MX","etag":"3630da05-e7fb-4844-ae17-1f57b9cdb591","properties":{"fqdn":"aa.zone2.com.","TTL":300,"MXRecords":[{"exchange":"foo.com.zone2.com.","preference":1}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3630da05-e7fb-4844-ae17-1f57b9cdb591
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "7.8.9.0"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/200?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/200","name":"200","type":"Microsoft.Network\/dnszones\/A","etag":"ab84442f-7591-40be-bfac-c0cd04f2fc86","properties":{"fqdn":"200.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"7.8.9.0"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ab84442f-7591-40be-bfac-c0cd04f2fc86
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 999, "TXTRecords": [{"value": ["this is a super
      long txt record...wow, it is really really long!  And I even used copy and paste
      to make it longer....this is a super long txt record...wow, it is really really
      long!  And I even used copy and paste to make it longer....this is a super lon",
      "g txt record...wow, it is really really long!  And I even used copy and paste
      to make it longer....this is a super long txt record...w[...]
- request:
    body: '{"properties": {"TTL": 100, "TXTRecords": [{"value": ["012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234",
      "56789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012[...]
- request:
    body: '{"properties": {"TTL": 100, "TXTRecords": [{"value": ["this is an SPF record!
      Convert to TXT on import"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/myspf?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/myspf","name":"myspf","type":"Microsoft.Network\/dnszones\/TXT","etag":"11486844-375b-4598-a1b8-23325fc648bd","properties":{"fqdn":"myspf.zone2.com.","TTL":100,"TXTRecords":[{"value":["this
        is an SPF record! Convert to TXT on import"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 11486844-375b-4598-a1b8-23325fc648bd
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "foo.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/PTR/160.1?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/PTR\/160.1","name":"160.1","type":"Microsoft.Network\/dnszones\/PTR","etag":"475716db-fc2c-4cc6-b9d6-879653951577","properties":{"fqdn":"160.1.zone2.com.","TTL":3600,"PTRRecords":[{"ptrdname":"foo.com."}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 475716db-fc2c-4cc6-b9d6-879653951577
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["foobar"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/t1?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/t1","name":"t1","type":"Microsoft.Network\/dnszones\/TXT","etag":"9a153d33-ff04-468f-8036-9c9f1bc367e5","properties":{"fqdn":"t1.zone2.com.","TTL":3600,"TXTRecords":[{"value":["foobar"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 9a153d33-ff04-468f-8036-9c9f1bc367e5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "194.124.202.114"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/base?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/base","name":"base","type":"Microsoft.Network\/dnszones\/A","etag":"9abd66ab-a96d-43a8-85ea-53f4ec5dfd65","properties":{"fqdn":"base.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"194.124.202.114"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 9abd66ab-a96d-43a8-85ea-53f4ec5dfd65
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "be.xpiler.de."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/base?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/base","name":"base","type":"Microsoft.Network\/dnszones\/MX","etag":"01b92295-1075-4242-9806-94a50ee74566","properties":{"fqdn":"base.zone2.com.","TTL":3600,"MXRecords":[{"exchange":"be.xpiler.de.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 01b92295-1075-4242-9806-94a50ee74566
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["v=spf1 mx include:_spf4.xcaign.de
      include:_spf6.xcaign.de -all"]}, {"value": ["spf2.0/mfrom,pra mx ip4:15.19.14.0/24
      ip4:8.8.11.4/27 ip4:9.16.20.19/26 -all"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/base?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/TXT\/base","name":"base","type":"Microsoft.Network\/dnszones\/TXT","etag":"c0e214da-cdca-4db6-8eae-1cbfc5d95f76","properties":{"fqdn":"base.zone2.com.","TTL":3600,"TXTRecords":[{"value":["v=spf1
        mx include:_spf4.xcaign.de include:_spf6.xcaign.de -all"]},{"value":["spf2.0\/mfrom,pra
        mx ip4:15.19.14.0\/24 ip4:8.8.11.4\/27 ip4:9.16.20.19\/26 -all"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c0e214da-cdca-4db6-8eae-1cbfc5d95f76
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "194.124.202.114"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/A/even?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/A\/even","name":"even","type":"Microsoft.Network\/dnszones\/A","etag":"9ace387a-dd49-4600-978e-ea52b7fe6934","properties":{"fqdn":"even.zone2.com.","TTL":3600,"ARecords":[{"ipv4Address":"194.124.202.114"}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 9ace387a-dd49-4600-978e-ea52b7fe6934
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"preference": 10, "exchange":
      "be.xpiler.de."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/MX/even?api-version=2018-05-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import000001\/providers\/Microsoft.Network\/dnszones\/zone2.com\/MX\/even","name":"even","type":"Microsoft.Network\/dnszones\/MX","etag":"b1a47c8c-bc02-4ec1-892f-d4dd3a238713","properties":{"fqdn":"even.zone2.com.","TTL":3600,"MXRecords":[{"exchange":"be.xpiler.de.","preference":10}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - b1a47c8c-bc02-4ec1-892f-d4dd3a238713
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["v=spf1 mx include:_spf4.xgn.de
      include:_spf6.xgn.de -all"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone2_import000001/providers/Microsoft.Network/dnsZones/zone2.com/TXT/even?api-version=2018-05-01
  response:
    body:
[...]
