interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n            \"type\": \"string\"\r\n        }\r\n    },\r\n    \"resources\":
      [\r\n        {\r\n            \"apiVersion\": \"2020-12-01\",\r\n            \"name\":
      \"[parameters('name')]\",\r\n            \"location\": \"[parameters('location')]\",\r\n
      \           \"type\": \"Microsoft.DigitalTwins/digitalTwinsInstances\",\r\n
      \           \"properties\": {}\r\n        }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"bb4a217e-d4b0-46f6-8b8b-fd001b58835f","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-dt-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584990612425719072?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-dt-plr-000003","name":"cli-test-dt-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14167269234551576154","parameters":{"name":{"type":"String","value":"cli-test-dt-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2023-12-14T09:21:34.5772139Z","duration":"PT49.1830283S","correlationId":"bdf7a980-0bcb-4d61-a42d-1ad089c8c614","providers":[{"namespace":"Microsoft.DigitalTwins","resourceTypes":[{"resourceType":"digitalTwinsInstances","locations":["eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateLinkResources/API","name":"API","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateLinkResources","properties":{"groupId":"API","requiredMembers":["DigitalTwinsAPI"],"requiredZoneNames":["privatelink.digitaltwins.azure.net"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-e9da2a2feb0e40495456aa26b0322e54-927bd5e3bbc096c1-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_digital_twin_private_endpoint_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001","name":"test_digital_twin_private_endpoint_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_private_endpoint_connection_digitaltwins","date":"2023-12-14T09:20:31Z","module":"network","DateCreated":"2023-12-14T09:21:37Z","Creator":"ethanyang@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-subnet-000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"49f46a8b-ca2d-4893-9c77-f09faca96768\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"fca7c03c-459b-4b56-885f-85df0775262a\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"cli-subnet-000005\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"49f46a8b-ca2d-4893-9c77-f09faca96768\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2817d8d0-ac57-4597-8142-2e628ac8355a?api-version=2022-01-01&t=638381425154517322&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2817d8d0-ac57-4597-8142-2e628ac8355a?api-version=2022-01-01&t=638381425154517322&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2023-09-01
  response:
    body:
      string: '{"name":"cli-subnet-000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005","etag":"W/\"f554bc1a-4f33-41cf-9ec2-666de054ae33\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f554bc1a-4f33-41cf-9ec2-666de054ae33"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/1e43fdf3-967a-4880-a230-18ec70578440?api-version=2023-09-01&t=638381425297948903&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"manualPrivateLinkServiceConnections":
      [{"name": "cli-pec-000007", "properties": {"groupIds": ["API"], "privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\",\r\n
        \ \"etag\": \"W/\\\"743ac35d-a202-4c12-86d4-ee0be439067c\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"df188963-801d-4e11-9dc2-c14a6006f546\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"cli-pec-000007\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006/manualPrivateLinkServiceConnections/cli-pec-000007\",\r\n
        \       \"etag\": \"W/\\\"743ac35d-a202-4c12-86d4-ee0be439067c\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002\",\r\n
        \         \"groupIds\": [\r\n            \"API\"\r\n          ],\r\n          \"privateLinkServiceConnectionState\":
        {\r\n            \"status\": \"Pending\",\r\n            \"description\":
        \"Awaiting Approval\",\r\n            \"actionsRequired\": \"None\"\r\n          }\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"customNetworkInterfaceName\": \"\",\r\n    \"subnet\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\"\r\n
        \   },\r\n    \"ipConfigurations\": [],\r\n    \"networkInterfaces\": [\r\n
        \     {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/networkInterfaces/cli-pe-000006.nic.17b10818-53a1-4783-a8cb-df8843f27d73\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c4e8aa46-cbb7-40c8-8ab4-eafef206509e?api-version=2022-01-01&t=638381425350951478&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c4e8aa46-cbb7-40c8-8ab4-eafef206509e?api-version=2022-01-01&t=638381425350951478&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/32c7c076-1e06-453f-97a7-c64643876f91","name":"32c7c076-1e06-453f-97a7-c64643876f91","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-dcbc1d810c36f7b947b0023aaa828a65-eaab3215340230b7-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/32c7c076-1e06-453f-97a7-c64643876f91?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/32c7c076-1e06-453f-97a7-c64643876f91","name":"32c7c076-1e06-453f-97a7-c64643876f91","type":"Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"groupIds":["API"],"privateLinkServiceConnectionState":{"status":"Pending","description":"","actionsRequired":"None"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-cb24822a76fb8e514ba10b3710877f47-2b6f56d2aab8e378-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/32c7c076-1e06-453f-97a7-c64643876f91",
      "name": "32c7c076-1e06-453f-97a7-c64643876f91", "type": "Microsoft.DigitalTwins/digitalTwinsInstances/privateEndpointConnections",
      "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},
      "groupIds": ["API"], "privateLinkServiceConnectionState": {"status": "Approved",
      "description": "Approved.", "actionsRequired": "None"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_digital_twin_private_endpoint_000001/providers/Microsoft.DigitalTwins/digitalTwinsInstances/cli-test-dt-000002/privateEndpointConnections/32c7c076-1e06-453f-97a7-c64643876f91?api-version=2020-12-01
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Exception of type ''Microsoft.Azure.DigitalTwins.ScaleUnitRPManagement.Exceptions.PrivateEndpointBadRequestException''
        was thrown."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      traceresponse:
      - 00-9671ab281fec31f038e64895af401a26-536b7edbf059c268-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
[...]
