interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_private_ip000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001","name":"cli_test_ag_private_ip000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-11-06T05:18:42Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_private_ip000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"certPassword": {"type": "securestring",
      "metadata": {"description": "Secure certPassword"}}}, "variables": {"appGwID":
      "[resourceId(''Microsoft.Network/applicationGateways'', ''ag3'')]"}, "resources":
      [{"name": "ag3Vnet", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/applicationGateways",
      "name": "ag3", "location": "westus", "tags": {}, "apiVersion": "2020-06-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/ag3Vnet"], "properties": {"backendAddressPools":
      [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection": [{"name":
      "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol": "Http",
      "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled": false,
      "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayPrivateFrontendIP",
      "properties": {"privateIPAllocationMethod": "Static", "privateIPAddress": "10.0.0.15",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      443}}], "gatewayIPConfigurations": [{"name": "appGatewayPrivateFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayPrivateFrontendIP'')]"},
      "FrontendPort": {"Id": "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "Protocol": "https", "SslCertificate": {"id": "[concat(variables(''appGwID''),
      ''/sslCertificates/ag3SslCert'')]"}}}], "sku": {"name": "Standard_Medium", "tier":
      "Standard", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}, "backendAddressPool": {"id":
      "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"}}}],
      "privateLinkConfigurations": [], "sslCertificates": [{"name": "ag3SslCert",
      "properties": {"data": "MIIJuwIBAzCCCXcGCSqGSIb3DQEHAaCCCWgEgglkMIIJYDCCBgkGCSqGSIb3DQEHAaCCBfoEggX2MIIF8jCCBe4GCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAhXEBfBWkIAigICB9AEggTY4EM/sz3ldecsIvpg3F/ymL4YqRboZbvA4LwwdTC1fuOwcxs4sJ/b3OPDwiWqEE9GinOh7+Kr1dVpH1lff+d8B/ZIM8qTC/ywoHwGJch8zNZIpLQZ997cyI64MyhpFx7Fyf5AcDdw0wTS2cvl1P531TR3epCVH/3EPHbn43nj7BClm9isGD3rxURfw/NIdAwremab16tsnl8OTKSBv1goCnuvVpPGDwSNb1B5VmF7zVQ80oIOp0EGiTMSeMAz1LDTwZIBzC1hU+xd8N+n2FI2GIb6w05aTob1qa6jui0aIzCe851mHS75zGTvVyzDRqDrRsmI34wvmk+H1VY1ku[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3?api-version=2020-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag3''
        under resource group ''cli_test_ag_private_ip000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"ag3\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3\"\
        ,\r\n  \"etag\": \"W/\\\"23589d5e-fa0a-412d-90eb-b7d3e01e504a\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"a370106c-1b2f-4121-bb13-b3cdc383d026\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\"\
        : \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\"\
        : \"Stopped\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n      \
        \  \"name\": \"appGatewayPrivateFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3",
      "location": "westus", "tags": {}, "properties": {"sku": {"name": "Standard_Medium",
      "tier": "Standard", "capacity": 2}, "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/gatewayIPConfigurations/appGatewayPrivateFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}},
      "name": "appGatewayPrivateFrontendIP"}], "authenticationCertificates": [], "sslCertificates":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/sslCertificates/ag3SslCert",
      "properties": {"data": "MIIKiQIBAzCCCk8GCSqGSIb3DQEHAaCCCkAEggo8MIIKODCCBO8GCSqGSIb3DQEHBqCCBOAwggTcAgEAMIIE1QYJKoZIhvcNAQcBMBwGCiqGSIb3DQEMAQYwDgQIpWxHMQn3nwMCAggAgIIEqOPQ4cNTz/41hY7gS1uVf46gL7kB9BNecRpprnR2uOMoWlB8I8K3GiXAzNJyX8ry9P+HHBQoGrP1klaRsUFjiVGoGLOXWaZP2N201J1ARVfo3n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d496d6ca-03cf-4dc2-9434-0354811c2e71?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3",
      "location": "westus", "tags": {}, "properties": {"sku": {"name": "Standard_Medium",
      "tier": "Standard", "capacity": 2}, "sslPolicy": {"disabledSslProtocols": ["TLSv1_0",
      "TLSv1_1"]}, "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/gatewayIPConfigurations/appGatewayPrivateFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}},
      "name": "appGatew[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3",
      "location": "westus", "tags": {}, "properties": {"sku": {"name": "Standard_Medium",
      "tier": "Standard", "capacity": 2}, "sslPolicy": {"policyType": "Custom", "cipherSuites":
      ["TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"], "minProtocolVersion": "TLSv1_0"},
      "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/gatewayIPConfigurations/appGatewayPrivateFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}},
      "name": "appGatewayPrivateFron[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3",
      "location": "westus", "tags": {}, "properties": {"sku": {"name": "Standard_Medium",
      "tier": "Standard", "capacity": 2}, "sslPolicy": {"policyType": "Predefined",
      "policyName": "AppGwSslPolicy20150501"}, "gatewayIPConfigurations": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/gatewayIPConfigurations/appGatewayPrivateFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}},
      "name": "appGat[...]
[...]
