interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_vnet_with_encryption000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001","name":"cli_vnet_with_encryption000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-07T20:54:43Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "encryption": {"enabled": true, "enforcement": "AllowUnencrypted"}, "subnets":
      [{"name": "Mysubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"MyVnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1\",\r\n
        \ \"etag\": \"W/\\\"ab1a8354-a1da-4e34-8c62-99216a6b8238\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"90b243bb-b54c-45eb-9c4d-6ac791d5e086\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"encryption\": {\r\n
        \     \"enabled\": true,\r\n      \"enforcement\": \"AllowUnencrypted\"\r\n
        \   },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"Mysubnet\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1/subnets/Mysubnet\",\r\n
        \       \"etag\": \"W/\\\"ab1a8354-a1da-4e34-8c62-99216a6b8238\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1af7d46f-a225-4dae-b65c-35311051918d?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/1af7d46f-a225-4dae-b65c-35311051918d?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.3.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "encryption": {"enabled": true}, "subnets": [{"name": "MySubnet", "properties":
      {"addressPrefix": "10.3.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet4?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"MustSpecifyBothEncryptionIntentAndEnforcementPolicy\",\r\n
        \   \"message\": \"Cannot encrypt VirtualNetwork /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet4
        unless both encryption intent (Enabled true or false) and enforcement policy
        (AllowUnencrypted or DropUnencrypted) are specified.\",\r\n    \"details\":
        []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"name": "MyVnet1ToMyVnet2", "properties": {"allowForwardedTraffic": false,
      "allowGatewayTransit": false, "allowVirtualNetworkAccess": false, "remoteVirtualNetwork":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet2"},
      "useRemoteGateways": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1/virtualNetworkPeerings/MyVnet1ToMyVnet2?api-version=2023-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"MyVnet1ToMyVnet2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet1/virtualNetworkPeerings/MyVnet1ToMyVnet2\",\r\n
        \ \"etag\": \"W/\\\"14cb37cc-10ad-42c0-a71f-66e31d589a6e\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"da7426cb-d190-03f4-257f-499ab4f4c4af\",\r\n
        \   \"peeringState\": \"Initiated\",\r\n    \"peeringSyncLevel\": \"RemoteNotInSync\",\r\n
        \   \"remoteVirtualNetwork\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_vnet_with_encryption000001/providers/Microsoft.Network/virtualNetworks/MyVnet2\"\r\n
        \   },\r\n    \"allowVirtualNetworkAccess\": false,\r\n    \"allowForwardedTraffic\":
        false,\r\n    \"allowGatewayTransit\": false,\r\n    \"useRemoteGateways\":
        false,\r\n    \"doNotVerifyRemoteGateways\": false,\r\n    \"peerCompleteVnets\":
        true,\r\n    \"remoteAddressSpace\": {\r\n      \"addressPrefixes\": [\r\n
        \       \"10.1.0.0/16\"\r\n      ]\r\n    },\r\n    \"remoteVirtualNetworkAddressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.1.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"remoteVirtualNetworkEncryption\": {\r\n      \"enabled\":
        true,\r\n      \"enforcement\": \"DropUnencrypted\"\r\n    },\r\n    \"routeServiceVips\":
        {}\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/virtualNetworkPeerings\"\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/69c94d5c-3ac6-4c11-b0dd-35b0e2224cb8?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
