interactions:
- request:
    body: '{"customerName": "MyCustomer"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ER-AutoTriage-RG/providers/Microsoft.Network/expressRoutePorts/ER-autotriage-erdirect/generateLoa?api-version=2020-07-01
  response:
    body:
      string: '{"error": {"code": "InvalidResourceType", "message": "The resource
        type could not be found in the namespace ''Microsoft.Network'' for api version
        ''2020-07-01''."}, "encodedContent": "UmF3IGJ5dGVzIG9mIGEgUERGIGNvbnRlbnQgcmVwbGFjZWQgYnkgRXhwcmVzc1JvdXRlUG9ydExPQUNvbnRlbnRSZXBsYWNlcg=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
