interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001?api-version=2020-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001","name":"cli_test_app_gateway_waf_policy_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-14T12:37:23Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001","name":"cli_test_app_gateway_waf_policy_000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-27T03:26:11Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> support version and type
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 14 Jul 2020 12:37:25 GMT
=======
      - Mon, 27 Jul 2020 03:26:14 GMT
>>>>>>> support version and type
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"managedRules": {"managedRuleSets":
      [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"agp1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"70efb35f-de05-45c8-9d0d-a284753276c8\\\"\",\r\n  \"type\":
=======
        \ \"etag\": \"W/\\\"7a4e4f4b-37d7-4022-a5d9-56f037d087e7\\\"\",\r\n  \"type\":
>>>>>>> support version and type
        \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\",\r\n
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"customRules\": [],\r\n    \"policySettings\": {\r\n
        \     \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\n
        \     \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\",\r\n
        \     \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n      \"managedRuleSets\":
        [\r\n        {\r\n          \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\":
        \"3.0\",\r\n          \"ruleGroupOverrides\": []\r\n        }\r\n      ],\r\n
        \     \"exclusions\": []\r\n    }\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7cbcc039-110b-499c-996e-1079bda19fe3?api-version=2020-05-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/3c2ff74e-7bc5-43fd-860c-8815d16e6c20?api-version=2020-05-01
>>>>>>> support version and type
      cache-control:
      - no-cache
      content-length:
      - '924'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Tue, 14 Jul 2020 12:37:31 GMT
=======
      - Mon, 27 Jul 2020 03:26:20 GMT
>>>>>>> support version and type
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - a58be13a-2284-4dcd-929b-fc355c10a329
      x-ms-ratelimit-remaining-subscription-writes:
      - '1174'
=======
      - e4717cdc-b460-4b7b-b654-8d7f9e1662c4
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
>>>>>>> support version and type
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Disabled", "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 100}, "customRules": [], "managedRules": {"exclusions":
      [], "managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0", "ruleGroupOverrides":
      []}]}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"agp1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1\",\r\n
<<<<<<< HEAD
        \     \"etag\": \"W/\\\"0d3ff8ef-66be-49cb-86a9-7080fefbe7ef\\\"\",\r\n      \"type\":
=======
        \     \"etag\": \"W/\\\"1dc0b236-d15d-4191-920f-16a5102343a7\\\"\",\r\n      \"type\":
>>>>>>> support version an[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Disabled", "mode": "Detection", "requestBodyCheck": true, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 100}, "customRules": [{"name": "rule1", "priority":
      50, "ruleType": "MatchRule", "matchConditions": [], "action": "Log"}], "managedRules":
      {"exclusions": [], "managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion":
      "3.0", "ruleGroupOverrides": []}]}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-net[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Enabled", "mode": "Prevention", "requestBodyCheck": false, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 64}, "customRules": [{"name": "rule1", "priority":
      50, "ruleType": "MatchRule", "matchConditions": [], "action": "Log"}, {"name":
      "rule2", "priority": 100, "ruleType": "MatchRule", "matchConditions": [], "action":
      "Log"}], "managedRules": {"exclusions": [], "managedRuleSets": [{"ruleSetType":
      "OWASP", "ruleSetVersion": "3.0", "ruleGroupOverrides": [{"ruleGroupName": "REQUEST-921-PROTOCOL-ATTACK",
      "rules": [{"ruleId": "921100"}, {"ruleId": "921110"}]}]}]}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
    [...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1",
      "location": "westus", "tags": {"test": "best"}, "properties": {"policySettings":
      {"state": "Enabled", "mode": "Prevention", "requestBodyCheck": false, "maxRequestBodySizeInKb":
      128, "fileUploadLimitInMb": 64}, "customRules": [{"name": "rule1", "priority":
      50, "ruleType": "MatchRule", "matchConditions": [], "action": "Log"}, {"name":
      "rule2", "priority": 100, "ruleType": "MatchRule", "matchConditions": [], "action":
      "Log"}], "managedRules": {"exclusions": [{"matchVariable": "RequestHeaderNames",
      "selectorMatchOperator": "StartsWith", "selector": "Bing"}], "managedRuleSets":
      [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0", "ruleGroupOverrides": [{"ruleGroupName":
      "REQUEST-921-PROTOCOL-ATTACK", "rules": [{"ruleId": "921100", "state": "Disabled"},
      {"ruleId": "921110", "state": "Disabled"}]}, {"ruleGroupName": "REQUEST-913-SCANNER-DETECTION",
      "rules": [{"ruleId": "913100", "state": "Disabled"}]}]}, {"ruleSetType": "Microsoft_BotManagerRuleSet",
      "ruleSetVersion": "0.1", "ruleGroupOverrides": []}]}}}'''
    he[...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"publicIPAllocationMethod":
      "Static", "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"5d88adbc-0475-4bbd-bc8b-a427d5ff13f7\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"2313579e-e4a4-4aba-b290-3761bc2cf341\",\r\n    \"publicIPAddressVersion\":
=======
        \ \"etag\": \"W/\\\"86ecd844-f848-40dc-889e-a5aed371e98d\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"06e8fccb-15d0-476c-a587-aff469e273ae\",\r\n    \"publicIPAddressVersion\":
>>>>>>> support version and type
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/ac0519f5-1ec1-4e0d-b47d-4b8e8f31bbcb?api-version=2020-05-01
=======
      - https://management.azure.com/subscriptions/[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/ac0519f5-1ec1-4e0d-b47d-4b8e8f31bbcb?api-version=2020-05-01
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f4cd1f59-7dd1-4fc3-84bb-8106b901e91c?api-version=2020-05-01
>>>>>>> support version and type
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 14 Jul 2020 12:37:57 GMT
=======
      - Mon, 27 Jul 2020 03:26:46 GMT
>>>>>>> support version and type
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 4a684af8-1c3e-465c-942f-f1649c7649e6
=======
      - da9c739f-cece-4b4d-9041-6c08d0be0b64
>>>>>>> support version and type
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"f409f16b-0690-4fc4-9be6-4b755668681d\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"2313579e-e4a4-4aba-b290-3761bc2cf341\",\r\n    \"ipAddress\":
        \"13.83.99.189\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
=======
        \ \"etag\": \"W/\\\"dc66a7b5-3469-43c2-aa17-8d7ea5c2201d\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"06e8fccb-15d0-476c-a587-aff469e273ae\",\r\n    \"ipAddress\":
        \"13.87.231.158\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_policy_000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 14 Jul 2020 12:38:08 GMT
=======
      - Mon, 27 Jul 2020 03:26:55 GMT
>>>>>>> support version and type
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscription[...]
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {"appGwID": "[resourceId(\''Microsoft.Network/applicationGateways\'',
      \''ag1\'')]"}, "resources": [{"name": "vnet1", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/applicationGateways", "name": "ag1", "location": "westus",
      "tags": {}, "apiVersion": "2020-05-01", "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1"],
      "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "Protocol":
      "Http", "CookieBasedAffinity": "disabled", "connectionDraining": {"enabled":
      false, "drainTimeoutInSec": 1}}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/publicIPAddresses/pip1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(\''appGwID\''), \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"},
      "FrontendPort": {"Id": "[concat(variables(\''appGwID\''), \''/frontendPorts/appGatewayFrontendPort\'')]"},
      "Protocol": "http", "SslCertificate": null}}], "sku": {"name": "WAF_v2", "tier":
      "WAF_v2", "capacity": 2}, "requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "httpListener": {"id": "[concat(variables(\''appGwID\''),
      \''/httpListeners/appGatewayHttpListener\'')]"}, "backendAddressPool": {"id":
      "[concat(variables(\''appGwID\''), \''/backendAddressPools/appGatewayBackendPool\'')]"},
      "backendHttpSettings": {"id": "[concat(variables(\''appGwID\''), \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"}}}],
      "privateLinkConfigurations": [], "firewallPolicy": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/agp1"}},
      "zones": null}], "outputs": {"applicationGateway": {"type": "object", "value":
      "[reference(\''ag1\'')]"}}}, "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/ag_deploy_iGBipHTDwEu7KyFWVu8ciHwY8sp6uGdA","name":"ag_deploy_iGBipHTDwEu7KyFWVu8ciHwY8sp6uGdA","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14383437184674267933","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-07-14T12:38:12.8968126Z","duration":"PT2.3818543S","correlationId":"9a7fce22-9996-40c1-ac29-f5a29c7b9867","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/ag_deploy_iGBipHTDw[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.9.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586068765949626700?api-version=2020-06-01
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_policy_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586057864667645598?api-version=2019-07-01
>>>>>>> support version and type
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 14 Jul 2020 12:38:44 GMT
=======
      - Mon, 27 Jul 2020 03:27:32 GMT
>>>>>>> support version and type
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.0
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/11.0.0
        Azure-SDK-For-Python AZURECLI/2.9.1
>>>>>>> support version and type
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/[...]
[...]
