interactions:
- request:
    body: '{"location": "eastus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.StorageSync/storageSyncServices/cli-test-resource-000006?api-version=2019-06-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0\r\n
        \ },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/microsoft.storagesync/storageSyncServices/cli-test-resource-000006\",\r\n
        \ \"name\": \"cli-test-resource-000006\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.StorageSync/storageSyncServices/cli-test-resource-000006/privateLinkResources?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"groupId\":
        \"Afs\",\r\n        \"requiredMembers\": [\r\n          \"management\",\r\n
        \         \"sync.primary\",\r\n          \"sync.secondary\",\r\n          \"monitoring\"\r\n
        \       ],\r\n        \"requiredZoneNames\": [\r\n          \"privatelink.afs.azure.net\"\r\n
        \       ]\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/microsoft.storagesync/storageSyncServices/cli-test-resource-000006/privateLinkResources/Afs\",\r\n
        \     \"name\": \"Afs\",\r\n      \"type\": \"microsoft.storagesync/storageSyncServices/privateLinkResources\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_private_endpoint_connection_storage_sync000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001","name":"test_private_endpoint_connection_storage_sync000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-11T14:42:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"name": "cli-subnet-000003",
      "properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002\",\r\n
        \ \"etag\": \"W/\\\"e8619be5-e416-41f9-b38c-f5ce316eb4b5\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"06464d60-b44a-4273-b0fa-e3755afce1c2\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000003\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003\",\r\n
        \       \"etag\": \"W/\\\"e8619be5-e416-41f9-b38c-f5ce316eb4b5\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7e150289-7cc1-4a9c-b6af-ac591f41e35d?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7e150289-7cc1-4a9c-b6af-ac591f41e35d?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003\",\r\n
        \ \"etag\": \"W/\\\"09e202c8-af1c-42a7-8f38-7862646aaddd\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"09e202c8-af1c-42a7-8f38-7862646aaddd"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000002/subnets/cli-subnet-000003",
      "properties": {"privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, "privateLinkServiceConnections": [{"name": "cli-pec-000005", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/microsoft.storagesync/storageSyncServices/cli-test-resource-000006",
      "groupIds": ["Afs"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000004?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpo[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.StorageSync/storageSyncServices/cli-test-resource-000006/privateEndpointConnections?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"privateEndpoint\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000004\"\r\n
        \       },\r\n        \"privateLinkServiceConnectionState\": {\r\n          \"status\":
        \"Approved\",\r\n          \"description\": \"\",\r\n          \"actionsRequired\":
        \"None\"\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/microsoft.storagesync/storageSyncServices/cli-test-resource-000006/privateEndpointConnections/cli-pe-000004.69c2cfbe-74d3-4f46-8b9b-4e16ab406ca8\",\r\n
        \     \"name\": \"cli-pe-000004.69c2cfbe-74d3-4f46-8b9b-4e16ab406ca8\",\r\n
        \     \"type\": \"microsoft.storagesync/storageSyncServices/privateEndpointConnections\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.StorageSync/storageSyncServices/cli-test-resource-000006/privateEndpointConnections/cli-pe-000004.69c2cfbe-74d3-4f46-8b9b-4e16ab406ca8?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_private_endpoint_connection_storage_sync000001/providers/Microsoft.StorageSync/storageSyncServices/cli-test-resource-000006/privateEndpointConnections/cli-pe-000004.69c2cfbe-74d3-4f46-8b9b-4e16ab406ca8?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.storagesync/locations/eastus/operations/eyJwYXJ0aXRpb25JZCI6IjQ3YzFjMzg0LWQyNmMtNDllOS1hMTJmLTlkZDIzMzc0ZDJlOCIsIndvcmtmbG93SWQiOiJmYmJhYjM1OS0xOTRkLTQzNzktYjQ1Yy0yZTY2NTE5OWUxOTQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZjk5YjExN2UtZDZjMy00Yzg1LTliZmItMmJlYmU5NmQ2MGNlIn0=?api-version=2020-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.storagesync/locations/eastus/operationresults/eyJwYXJ0aXRpb25JZCI6IjQ3YzFjMzg0LWQyNmMtNDllOS1hMTJmLTlkZDIzMzc0ZDJlOCIsIndvcmtmbG93SWQiOiJmYmJhYjM1OS0xOTRkLTQzNzktYjQ1Yy0yZTY2NTE5OWUxOTQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZjk5YjExN2UtZDZjMy00Yzg1LTliZmItMmJlYmU5NmQ2MGNlIn0=?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14995'
    status:
      code: 202
      message: Accepted
version: 1
