interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-azs-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n            \"type\": \"string\"\r\n        }\r\n    },\r\n    \"resources\":
      [\r\n        {\r\n            \"apiVersion\": \"2020-08-01\",\r\n            \"name\":
      \"[parameters('name')]\",\r\n            \"location\": \"[parameters('location')]\",\r\n
      \           \"type\": \"Microsoft.Search/searchServices\",\r\n            \"properties\":
      {\r\n                \"replicaCount\": 1,\r\n                \"partitionCount\":
      1,\r\n                \"publicNetworkAccess\": \"disabled\"\r\n            },\r\n
      \           \"sku\": {\r\n                \"name\": \"basic\"\r\n            }\r\n
      \       }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_search_service_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-azs-plr-000003","name":"cli-test-azs-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1518347000103681276","parameters":{"name":{"type":"String","value":"cli-test-azs-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"5a5455ae-8e99-475a-96a0-69aad7155403","providers":[{"namespace":"Microsoft.Search","resourceTypes":[{"resourceType":"searchServices","locations":["eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"cli-test-azs-000002\"},
      \"location\": {\"value\": \"eastus\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":
      {\r\n     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_search_service_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584823246217820081?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_search_service_private_endpoint_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Resources/deployments/cli-test-azs-plr-000003","name":"cli-test-azs-plr-000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1518347000103681276","parameters":{"name":{"type":"String","value":"cli-test-azs-000002"},"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-06-25T02:30:31.4212744Z","duration":"PT6M2.6623952S","correlationId":"aef5e133-e21f-4444-8863-9caf48050e8e","providers":[{"namespace":"Microsoft.Search","resourceTypes":[{"resourceType":"searchServices","locations":["eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateLinkResources?api-version=2020-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateLinkResources/searchService","name":"searchService","type":"Microsoft.Search/searchServices/privateLinkResources","properties":{"groupId":"searchService","requiredMembers":["searchService"],"requiredZoneNames":["privatelink.search.windows.net"],"shareablePrivateLinkResourceTypes":[{"name":"blob","properties":{"type":"Microsoft.Storage/storageAccounts","groupId":"blob","description":"Azure
        Cognitive Search indexers can connect to blobs in Azure Storage for reading
        data (data source), for writing intermediate results of indexer execution
        (annotation cache, preview) or for storing any knowledge store projections
        (preview)"}},{"name":"table","properties":{"type":"Microsoft.Storage/storageAccounts","groupId":"table","description":"Azure
        Cognitive Search indexers can connect to tables in Azure Storage for reading
        data (data source)[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_search_service_private_endpoint_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001","name":"test_search_service_private_endpoint_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_private_endpoint_connection_search","date":"2024-06-25T02:24:03Z","module":"network","DateCreated":"2024-06-25T02:24:10Z","Creator":"v-taoxuzeng@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "cli-subnet-000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"e70668df-341a-45c4-adda-3dfbf086ee1d\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"56baa432-b7c7-4f06-8de7-b3936eef301e\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"cli-subnet-000005\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"e70668df-341a-45c4-adda-3dfbf086ee1d\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a3e99ccc-a2ea-4713-ab36-a6f2f63e6739?api-version=2022-01-01&t=638548794689856793&c=MIIHpTCCBo2gAwIBAgITfwNAzkFewm_NciphkAAEA0DOQTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE3MTkyMjQwWhcNMjUwNTEyMTkyMjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a3e99ccc-a2ea-4713-ab36-a6f2f63e6739?api-version=2022-01-01&t=638548794689856793&c=MIIHpTCCBo2gAwIBAgITfwNAzkFewm_NciphkAAEA0DOQTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE3MTkyMjQwWhcNMjUwNTEyMTkyMjQwWjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2024-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"be07c334-623a-4490-b825-a4bcb206404a\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"ipamPoolPrefixAllocations\": [],\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\":
        \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"be07c334-623a-4490-b825-a4bcb206404a"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/bad70141-5f40-4b0a-8733-787ed99d331d?api-version=2024-01-01&t=638548794881499379&c=MIIHpTCCBo2gAwIBAgITfwNAzkFewm_NciphkAAEA0DOQTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE3MTkyMjQwWhcNMjUwNTEyMTkyMjQwWjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"manualPrivateLinkServiceConnections":
      [{"name": "cli-pec-000007", "properties": {"groupIds": ["searchService"], "privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006\",\r\n
        \ \"etag\": \"W/\\\"b898d0a3-30c0-4c74-83cc-bb157478bafe\\\"\",\r\n  \"type\":
        \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"214bd90d-ac53-49b6-adef-f89b927377bd\",\r\n    \"privateLinkServiceConnections\":
        [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\":
        \"cli-pec-000007\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006/manualPrivateLinkServiceConnections/cli-pec-000007\",\r\n
        \       \"etag\": \"W/\\\"b898d0a3-30c0-4c74-83cc-bb157478bafe\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002\",\r\n
        \         \"groupIds\": [\r\n            \"searchService\"\r\n          ],\r\n
        \         \"privateLinkServiceConnectionState\": {\r\n            \"status\":
        \"Pending\",\r\n            \"description\": \"Awaiting Approval\",\r\n            \"actionsRequired\":
        \"None\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n
        \     }\r\n    ],\r\n    \"customNetworkInterfaceName\": \"\",\r\n    \"subnet\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\"\r\n
        \   },\r\n    \"ipConfigurations\": [],\r\n    \"networkInterfaces\": [\r\n
        \     {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/networkInterfaces/cli-pe-000006.nic.f6e1131a-2967-4033-aa5e-79fc8faccc63\"\r\n
        \     }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ad4a0755-2f95-41f9-ad28-df7fb6a6bd68?api-version=2022-01-01&t=638548795058261444&c=MIIHpTCCBo2gAwIBAgITfwNAzkFewm_NciphkAAEA0DOQTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ad4a0755-2f95-41f9-ad28-df7fb6a6bd68?api-version=2022-01-01&t=638548795058261444&c=MIIHpTCCBo2gAwIBAgITfwNAzkFewm_NciphkAAEA0DOQTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE3MTkyMjQwWhcNMjUwNTEyMTkyMjQwWjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateEndpointConnections?api-version=2020-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateEndpointConnections/cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd","name":"cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd","type":"Microsoft.Search/searchServices/privateEndpointConnections","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"privateLinkServiceConnectionState":{"status":"Pending","description":null,"actionsRequired":"None"},"provisioningState":"Succeeded","groupId":"searchService"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '64'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateEndpointConnections/cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd?api-version=2020-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateEndpointConnections/cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd","name":"cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd","type":"Microsoft.Search/searchServices/privateEndpointConnections","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},"privateLinkServiceConnectionState":{"status":"Pending","description":null,"actionsRequired":"None"},"provisioningState":"Succeeded","groupId":"searchService"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '52'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateEndpointConnections/cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd",
      "name": "cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd", "type": "Microsoft.Search/searchServices/privateEndpointConnections",
      "properties": {"privateEndpoint": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006"},
      "privateLinkServiceConnectionState": {"status": "Approved", "description": "Approved.",
      "actionsRequired": "None"}, "provisioningState": "Succeeded", "groupId": "searchService"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_search_service_private_endpoint_000001/providers/Microsoft.Search/searchServices/cli-test-azs-000002/privateEndpointConnections/cli-pe-000006.214bd90d-ac53-49b6-adef-f89b927377bd?api-version=2020-08-01
  response:
    body:
      string: '{"error":{"code":"OperationNotAllowed","message":"Could not update
        Private Endpoint connection status from ''Rejected'' to ''Approved'': cli-pe-000006.
        RequestId: 69804c34-f864-4d50-8508-c63ad349bdc0","target":null,"details":null}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '61'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
[...]
