interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2017-10-03T23:23:18.25Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/6fb0da9d-8a04-4f72-a99a-d99f5ea80da1?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverOperationResults/6fb0da9d-8a04-4f72-a99a-d99f5ea80da1?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/6fb0da9d-8a04-4f72-a99a-d99f5ea80da1?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"6fb0da9d-8a04-4f72-a99a-d99f5ea80da1","status":"InProgress","startTime":"2017-10-03T23:23:18.25Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"\/Date(1507073045814+0000)\/"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/azureAsyncOperation/e1d7f816-9934-4601-82e4-1bb1de116783?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/operationResults/e1d7f816-9934-4601-82e4-1bb1de116783?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/azureAsyncOperation/e1d7f816-9934-4601-82e4-1bb1de116783?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operationId":"e1d7f816-9934-4601-82e4-1bb1de116783","status":"InProgress","error":null}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/azureAsyncOperation/e1d7f816-9934-4601-82e4-1bb1de116783?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases","location":"West
        US","kind":"v12.0,user","properties":{"databaseId":"255d23ed-894f-4c0b-b9a5-8c72e27b7608","edition":"Standard","status":"Online","serviceLevelObjective":"S0","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2017-10-03T23:24:06.033Z","currentServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveName":"S0","sampleName":null,"defaultSecondaryLocation":"East
        US","earliestRestoreDate":"2017-10-03T23:34:44.673Z","elasticPoolName":null,"containmentState":2,"readScale":"Disabled","failoverGroupId":null}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/operations?api-version=2017-03-01-preview
  response:
    body: {string: '{"value":[{"properties":{"databaseName":"cliautomationdb01","operation":"UpdateLogicalDatabase","operationFriendlyName":"ALTER
        DATABASE","percentComplete":0,"serverName":"clitestserver000002","startTime":"2017-10-03T23:25:09.073Z","state":"InProgress"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/operations/d2896db1-2ba8-4c84-bac1-387c430cce40","name":"d2896db1-2ba8-4c84-bac1-387c430cce40","type":"Microsoft.Sql/servers/databases/operations"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/operations/d2896db1-2ba8-4c84-bac1-387c430cce40/cancel?api-version=2017-03-01-preview
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
