interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"administratorLoginPassword": "SecretPassword123",
      "administratorLogin": "admin123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2017-06-14T06:20:52.423Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/0323c725-f50b-49eb-97f8-bab8662aa3f8?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverOperationResults/0323c725-f50b-49eb-97f8-bab8662aa3f8?api-version=2015-05-01-preview']
      retry-after: ['60']
      x-ms-ratelimit-remaining-subscription-writes: ['1188']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/0323c725-f50b-49eb-97f8-bab8662aa3f8?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"0323c725-f50b-49eb-97f8-bab8662aa3f8","status":"Succeeded","startTime":"2017-06-14T06:20:52.423Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers","location":"westus","kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"kind": "Storage", "location": "westus", "sku": {"name": "Standard_LRS"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/b1b683a0-0057-4bd4-ab2d-e31421ab712f?monitor=true&api-version=2017-10-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/b1b683a0-0057-4bd4-ab2d-e31421ab712f?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003","kind":"Storage","location":"westus","name":"clitest000003","properties":{"creationTime":"2017-06-14T06:21:52.6114722Z","primaryEndpoints":{"blob":"https://clitest000003.blob.core.windows.net/","file":"https://clitest000003.file.core.windows.net/","queue":"https://clitest000003.queue.core.windows.net/","table":"https://clitest000003.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"yvgVO0f13UAGvsjQKbCSxX1EccjPk5u6hWITjur0/w9Qs9fqfUAMLRNfwqsXoSBeAmj/IvUvbeSqgu5g5Lw1OQ=="},{"keyName":"key2","permissions":"Full","value":"e4nBcpVcUhxQGEbHjG4zCRDTKTS+npBqZNAqsCGk1FX0X3eZ/jdtBOPVy9tl0VsalIZfjgJZC8vu9kp6TcrNAw=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1187']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"startIpAddress": "0.0.0.0", "endIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/firewallRules/allowAllIps?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/firewallRules/allowAllIps","name":"allowAllIps","type":"Microsoft.Sql/servers/firewallRules","location":"West
        US","kind":"v12.0","properties":{"startIpAddress":"0.0.0.0","endIpAddress":"0.0.0.0"}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"\/Date(1497421335349+0000)\/"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/azureAsyncOperation/a9dc08a5-fec2-40a9-a984-c94765f4b545?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/operationResults/a9dc08a5-fec2-40a9-a984-c94765f4b545?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      retry-after: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/azureAsyncOperation/a9dc08a5-fec2-40a9-a984-c94765f4b545?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operationId":"a9dc08a5-fec2-40a9-a984-c94765f4b545","status":"InProgress","error":null}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/azureAsyncOperation/a9dc08a5-fec2-40a9-a984-c94765f4b545?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases","location":"West
        US","kind":"v12.0,user","properties":{"databaseId":"926b8c71-abbb-48f0-9e39-e8328fc2df6f","edition":"Standard","status":"Online","serviceLevelObjective":"S0","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2017-06-14T06:22:15.537Z","currentServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveName":"S0","sampleName":null,"defaultSecondaryLocation":"East
        US","earliestRestoreDate":"2017-06-14T06:32:48.567Z","elasticPoolName":null,"containmentState":2,"readScale":"Disabled","failoverGroupId":null}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/securitydata/providers/Microsoft.Storage/storageAccounts/2e2165westus2","kind":"Storage","location":"westus2","name":"2[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:24:55 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/bacpacs?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D4B2EE13908B5F"']
      last-modified: ['Wed, 14 Jun 2017 06:24:56 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"storageKeyType": "StorageAccessKey", "storageUri": "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac.bacpac",
      "authenticationType": "SQL", "administratorLoginPassword": "SecretPassword123",
      "storageKey": "yvgVO0f13UAGvsjQKbCSxX1EccjPk5u6hWITjur0/w9Qs9fqfUAMLRNfwqsXoSBeAmj/IvUvbeSqgu5g5Lw1OQ==",
      "administratorLogin": "admin123"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/export?api-version=2014-04-01
  response:
    body: {string: '{"operation":"Export","startTime":"\/Date(1497421497722)\/"}'}
    headers:
      content-type: [application/xml; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/371dbf7a-52c3-4ebd-8a99-9f655e00e775?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      retry-after: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/371dbf7a-52c3-4ebd-8a99-9f655e00e775?api-version=2014-04-01-Preview
  response:
    body: {string: '{"blobUri":"https:\/\/clitest000003.blob.core.windows.net\/bacpacs\/testbacpac.bacpac","databaseName":"cliautomationdb01","errorMessage":null,"lastModifiedTime":"6\/14\/2017
        6:24:57 AM","queuedTime":"6\/14\/2017 6:24:57 AM","requestId":"371dbf7a-52c3-4ebd-8a99-9f655e00e775","requestType":"Export","serverName":"clitestserver000002.database.windows.net","status":"Pending"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/371dbf7a-52c3-4ebd-8a99-9f655e00e775?api-version=2014-04-01-Preview']
      retry-after: ['30']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: 'b''{"storageKeyType": "SharedAccessKey", "storageUri": "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac2.bacpac",
      "authenticationType": "SQL", "administratorLoginPassword": "SecretPassword123",
      "storageKey": "?se=9999-12-25T00%3A00%3A00Z&sr=b&sp=rw&sig=wVPxBzGvJpg4E6oRCzq/f8SnZRt0QrJCW0Ais5UhgjQ%3D&sv=2016-05-31",
      "administratorLogin": "admin123"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/export?api-version=2014-04-01
  response:
    body: {string: '{"operation":"Export","startTime":"\/Date(1497421925244)\/"}'}
    headers:
      content-type: [application/xml; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/importExportOperationResults/b29ba21a-80ad-4681-9a04-f2999a57973c?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      retry-after: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: 'b''{"properties": {"operationMode": "Import", "storageKeyType": "StorageAccessKey",
      "administratorLoginPassword": "SecretPassword123", "authenticationType": "SQL",
      "storageUri": "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac.bacpac",
      "storageKey": "yvgVO0f13UAGvsjQKbCSxX1EccjPk5u6hWITjur0/w9Qs9fqfUAMLRNfwqsXoSBeAmj/IvUvbeSqgu5g5Lw1OQ==",
      "administratorLogin": "admin123"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import?api-version=2014-04-01
  response:
    body: {string: '{"operation":"Import","startTime":"\/Date(1497422723725)\/"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import/importExtensionOperationResults/528bd2e2-5d42-482d-bd6d-9b7da813e841?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      retry-after: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import/importExtensionOperationResults/528bd2e2-5d42-482d-bd6d-9b7da813e841?api-version=2014-04-01-Preview
  response:
    body: {string: '{"blobUri":"https:\/\/clitest000003.blob.core.windows.net\/bacpacs\/testbacpac.bacpac","databaseName":"cliautomationdb02","errorMessage":null,"lastModifiedTime":"6\/14\/2017
        6:45:24 AM","queuedTime":"6\/14\/2017 6:45:25 AM","requestId":"528bd2e2-5d42-482d-bd6d-9b7da813e841","requestType":"Import","serverName":"clitestserver000002.database.windows.net","status":"Running,
        Progress = 5.00 %"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02/extensions/import/importExtensionOperationResults/528bd2e2-5d42-482d-bd6d-9b7da813e841?api-version=2014-04-01-Preview']
      retry-after: ['30']
    status: {code: 202, message: Accepted}
[...]
