interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_job_mgmt000001?api-version=2019-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001","name":"cli_test_adla_job_mgmt000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "eastus2", "properties": {"encryptionState": "Disabled"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"aceef5be-5634-4d31-8cbe-f42936ece789"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/aceef5be-5634-4d31-8cbe-f42936ece7890?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/aceef5be-5634-4d31-8cbe-f42936ece7890?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"aceef5be-5634-4d31-8cbe-f42936ece789","creationTime":"2017-12-13T23:15:52.6247094Z","lastModifiedTime":"2017-12-13T23:15:52.6247094Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "eastus2", "properties": {"dataLakeStoreAccounts": [{"name":
      "cliadls000002"}], "defaultDataLakeStoreAccount": "cliadls000002", "maxJobCount":
      3, "maxDegreeOfParallelism": 30, "queryStoreRetention": 30}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000003?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"cliadls000002","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls000002"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"33bf8b27-8956-48c2-9c7a-e5142f0a7883"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000003","name":"cliadla000003","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/33bf8b27-8956-48c2-9c7a-e5142f0a78830?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000003/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/33bf8b27-8956-48c2-9c7a-e5142f0a78830?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000003?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","debugDataAccessLevel":"All","firewallRules":[],"defaultDataLakeStoreAccount":"cliadls000002","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls000002"}],"publicDataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"adltrainingsampledata"},{"properties":{"suffix":"azuredatalakestore.net"},"name":"ghinsights"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":100,"systemMaxJobCount":20,"maxDegreeOfParallelismPerJob":30,"minPriorityPerJob":1,"computePolicies":[],"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadla000003.azuredatalakeanalytics.net","accountId":"33bf8b27-8956-48c2-9c7a-e5142f0a7883","creationTime":"2017-12-13T23:16:39.0097531Z","lastModifiedTime":"2017-12-13T23:16:39.0097531Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_job_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000003","name":"cliadla000003","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"type": "USql", "priority": 1000, "degreeOfParallelism": 1, "name": "clijobtest",
      "properties": {"type": "USql", "script": "DROP DATABASE IF EXISTS FOO; CREATE
      DATABASE FOO;"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cliadla000003.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-11-01
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"admin2@AzureSDKTeam.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-12-13T23:17:20.5941236+00:00","state":"Compiling","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2017-12-13T23:17:20.5941236+00:00","details":"userName:;submitMachine:N/A"}],"properties":{"owner":"admin2@AzureSDKTeam.onmicrosoft.com","runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","algebraFilePath":"adl://cliadls000002.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/12/13/23/17/c44c1b18-e05b-11e7-bcf7-a0b3ccf7272a/algebra.xml","compileMode":"Semantic","errorSource":"Unknown","totalCompilationTime":"PT0S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","expirationTimeUtc":"0001-01-01T00:00:00Z","type":"USql"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cliadla000003.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000/CancelJob?api-version=2016-11-01
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla000003.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-11-01
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"admin2@AzureSDKTeam.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-12-13T23:17:20.5941236+00:00","endTime":"2017-12-13T23:17:21.7347371+00:00","state":"Ended","result":"Cancelled","errorMessage":[{"errorId":"I_USER_CJS_CANCELEDBYUSER","name":"CANCELED_BY_USER","severity":"Info","source":"User","component":"CJS","message":"Job
        was cancelled.","details":"","description":"Job was cancelled by admin2@AzureSDKTeam.onmicrosoft.com.","resolution":"","helpLink":"","innerError":null}],"stateAuditRecords":[{"newState":"New","timeStamp":"2017-12-13T23:17:20.5941236+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2017-12-13T23:17:20.8753701+00:00","details":"Compilation:6601d314-5948-4501-baf4-f00ea71952a2;Status:Dispatched"},{"newState":"Ended","timeStamp":"2017-12-13T23:17:21.7347371+00:00","details":"result:CanceledByUser"}],"properties":{"owner":"admin2@AzureSDKTeam.onmicrosoft.com","resources":[{"name":"Profile","resourcePath":"adl://cliadls000002.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/12/13/23/17/c44c1b18-e05b-11e7-bcf7-a0b3ccf7272a/profile","type":"StatisticsResource"},{"name":"__ScopeRuntimeStatistics__.xml","resourcePath":"adl://cliadls000002.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/12/13/23/17/c44c1b18-e05b-11e7-bcf7-a0b3ccf7272a/__ScopeRuntimeStatistics__.xml","type":"StatisticsResource"}],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","script":"DROP
        DATABASE IF EXISTS FOO; CREATE DATABASE FOO;","algebraFilePath":"adl://cliadls000002.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/12/13/23/17/c44c1b18-e05b-11e7-bcf7-a0b3ccf7272a/algebra.xml","compileMode":"Semantic","errorSource":"UserError","totalCompilationTime":"PT0.859367S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","expirationTimeUtc":"0001-01-01T00:00:00","type":"USql"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "USql", "priority": 1000, "degreeOfParallelism": 1, "properties":
      {"type": "USql", "script": "DROP DATABASE IF EXISTS FOO; CREATE DATABASE FOO;"},
      "related": {"recurrenceName": "py_recurrence_name", "recurrenceId": "58cab1f7-fe29-46ce-89ab-628a1e09c5bf",
      "pipelineName": "py_pipeline_name", "pipelineUri": "https://begoldsm.contoso.com/jobs",
      "runId": "a3f300fc-4496-40ad-b76d-7696e3723b77", "pipelineId": "3f9a237a-325e-4ec8-9e10-60222a71354d"},
      "name": "clijobtest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cliadla000003.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-11-01
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"admin2@AzureSDKTeam.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla000003.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-11-01
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"admin2@AzureSDKTeam.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-12-13T23:17:44.3915317+00:00","startTime":"2017-12-13T23:17:59.7356001+00:00","state":"Running","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2017-12-13T23:17:44.3915317+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2017-12-13T23:17:44.5477623+00:00","details":"Compilation:80831893-98f7-4884-95a1-c42bd088cbec;Status:Dispatched"},{"newState":"Queued","timeStamp":"2017-12-13T23:17:55.3136366+00:00"},{"newState":"Scheduling","timeStamp":"2017-12-13T23:17:55.3136366+00:00","detail[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla000003.azuredatalakeanalytics.net/Jobs?$orderby=submitTime%20desc&api-version=2016-11-01
  response:
    body: {string: '{"value":[{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"admin2@AzureSDKTeam.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-12-13T23:17:44.3915317+00:00","startTime":"2017-12-13T23:17:59.7356001+00:00","endTime":"2017-12-13T23:18:06.5951253+00:00","state":"Ended","result":"Succeeded","related":{"pipelineId":"3f9a237a-325e-4ec8-9e10-60222a71354d","pipelineName":"py_pipeline_name","pipelineUri":"https://begoldsm.contoso.com/jobs","runId":"a3f300fc-4496-40ad-b76d-7696e3723b77","recurrenceId":"58cab1f7-fe29-46ce-89ab-628a1e09c5bf","recurrenceName":"py_recurrence_name"}},{"jobId":"00000000-0000-0000-0000-000000000000","name":"clijobtest","type":"USql","submitter":"admin2@AzureSDKTeam.onmicrosoft.com","degreeOfParallelism":1,"priority":1000,"submitTime":"2017-12-13T23:17:20.5941236+00:00","endTime":"2017-12-13T23:17:21.7347371+00:00","state":"Ended","result":"Cancelled","related":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla000003.azuredatalakeanalytics.net/recurrences?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"recurrenceId":"58cab1f7-fe29-46ce-89ab-628a1e09c5bf","recurrenceName":"py_recurrence_name","numJobsFailed":0,"numJobsCanceled":0,"numJobsSucceeded":1,"auHoursFailed":0.0,"auHoursCanceled":0.0,"auHoursSucceeded":0.0019054236666666666,"lastSubmitTime":"2017-12-13T23:17:44.3915317+00:00"}],"count":1}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla000003.azuredatalakeanalytics.net/recurrences/58cab1f7-fe29-46ce-89ab-628a1e09c5bf?api-version=2016-11-01
  response:
    body: {string: '{"recurrenceId":"58cab1f7-fe29-46ce-89ab-628a1e09c5bf","recurrenceName":"py_recurrence_name","numJobsFailed":0,"numJobsCanceled":0,"numJobsSucceeded":1,"auHoursFailed":0.0,"auHoursCanceled":0.0,"auHoursSucceeded":0.0019054236666666666,"lastSubmitTime":"2017-12-13T23:17:44.3915317+00:00"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla000003.azuredatalakeanalytics.net/pipelines?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"pipelineId":"3f9a237a-325e-4ec8-9e10-60222a71354d","pipelineName":"py_pipeline_name","pipelineUri":"https://begoldsm.contoso.com/jobs","numJobsFailed":0,"numJobsCanceled":0,"numJobsSucceeded":1,"auHoursFailed":0.0,"auHoursCanceled":0.0,"auHoursSucceeded":0.0019054236666666666,"lastSubmitTime":"2017-12-13T23:17:44.3915317+00:00"}],"count":1}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla000003.azuredatalakeanalytics.net/pipelines/3f9a237a-325e-4ec8-9e10-60222a71354d?api-version=2016-11-01
  response:
    body: {string: '{"pipelineId":"3f9a237a-325e-4ec8-9e10-60222a71354d","pipelineName":"py_pipeline_name","pipelineUri":"https://begoldsm.contoso.com/jobs","numJobsFailed":0,"numJobsCanceled":0,"numJobsSucceeded":1,"auHoursFailed":0.0,"auHoursCanceled":0.0,"auHoursSucceeded":0.0019054236666666666,"lastSubmitTime":"2017-12-13T23:17:44.3915317+00:00","runs":[{"item1":"a3f300fc-4496-40ad-b76d-7696e3723b77","item2":"2017-12-13T23:17:44.3915317+00:00"}],"recurrences":["58cab1f7-fe29-46ce-89ab-628a1e09c5bf"]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_job_mgmt000001?api-version=2019-07-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQURMQTo1RkpPQjo1Rk1HTVRPMlpIR1JMV09aSDNSUkwyUHxCQzZGRDVERjUwNkE3Qzg4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-07-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1