interactions:
- request:
    body: '{"location": "eastus2", "properties": {"encryptionState": "Disabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"14811a7d-2743-49c4-b1c4-03216f2ae09e"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/14811a7d-2743-49c4-b1c4-03216f2ae09e_0?api-version=2016-11-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002/operationresults/0?api-version=2016-11-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/14811a7d-2743-49c4-b1c4-03216f2ae09e_0?api-version=2016-11-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","dataLakePerformanceTierState":"Disabled","provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"14811a7d-2743-49c4-b1c4-03216f2ae09e","creationTime":"2020-11-11T03:04:07.0612514Z","lastModifiedTime":"2020-11-11T03:04:07.0612514Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "eastus2",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.Storage/storageAccounts/cliwasb000005?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2025e8ef-a31e-4371-a432-11695b5b6c4c?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/2025e8ef-a31e-4371-a432-11695b5b6c4c?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.Storage/storageAccounts/cliwasb000005","name":"cliwasb000005","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-11-11T03:05:57.2088256Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-11-11T03:05:57.2088256Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-11-11T03:05:57.1150856Z","primaryEndpoints":{"dfs":"https://cliwasb000005.dfs.core.windows.net/","web":"https://cliwasb000005.z20.web.core.windows.net/","blob":"https://cliwasb000005.blob.core.windows.net/","queue":"https://cliwasb000005.queue.core.windows.net/","table":"https://cliwasb000005.table.core.windows.net/","file":"https://cliwasb000005.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.Storage/storageAccounts/cliwasb000005/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"defaultDataLakeStoreAccount": "cliadls000002",
      "maxDegreeOfParallelism": 30, "queryStoreRetention": 30, "maxJobCount": 3, "dataLakeStoreAccounts":
      [{"name": "cliadls000002"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStoreAccount":"cliadls000002","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls000002"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"570f27f0-e77d-44d7-b949-03bcb8678c25"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004","name":"cliadla000004","type":"Microsoft.DataLakeAnalytics/accounts"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/570f27f0-e77d-44d7-b949-03bcb8678c25_0?api-version=2016-11-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/operationresults/0?api-version=2016-11-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1184'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/570f27f0-e77d-44d7-b949-03bcb8678c25_0?api-version=2016-11-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallRules":[],"virtualNetworkRules":[],"debugDataAccessLevel":"All","defaultDataLakeStoreAccount":"cliadls000002","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls000002"}],"publicDataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"adltrainingsampledata"},{"properties":{"suffix":"azuredatalakestore.net"},"name":"ghinsights"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":100,"systemMaxJobCount":20,"maxDegreeOfParallelismPerJob":30,"minPriorityPerJob":1,"computePolicies":[],"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadla000004.azuredatalakeanalytics.net","accountId":"570f27f0-e77d-44d7-b949-03bcb8678c25","creationTime":"2020-11-11T03:06:29.256005Z","lastModifiedTime":"2020-11-11T03:06:29.256005Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004","name":"cliadla000004","type":"Microsoft.DataLakeAnalytics/accounts"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"cliadla000004.azuredatalakeanalytics.net","accountId":"570f27f0-e77d-44d7-b949-03bcb8678c25","creationTime":"2020-11-11T03:06:29.256005Z","lastModifiedTime":"2020-11-11T03:06:29.256005Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004","name":"cliadla000004","type":"Microsoft.DataLakeAnalytics/accounts"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"cliadla000004.azuredatalakeanalytics.net","accountId":"570f27f0-e77d-44d7-b949-03bcb8678c25","creationTime":"2020-11-11T03:06:29.256005Z","lastModifiedTime":"2020-11-11T03:06:29.256005Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004","name":"cliadla000004","type":"Microsoft.DataLakeAnalytics/accounts"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"accessKey": "veryFakedStorageAccountKey=="}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/StorageAccounts/cliwasb000005?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"suffix":"core.windows.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/storageAccounts/cliwasb000005","name":"cliwasb000005","type":"Microsoft.DataLakeAnalytics/accounts/storageAccounts"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1176'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/StorageAccounts/?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"suffix":"core.windows.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/storageAccounts/cliwasb000005","name":"cliwasb000005","type":"Microsoft.DataLakeAnalytics/accounts/storageAccounts"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/DataLakeStoreAccounts/cliadls000003?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1182'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/DataLakeStoreAccounts/?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"},{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"objectId": "181c08fa-7ac8-48a6-a869-342ab74566a4", "objectType":
      "User", "maxDegreeOfParallelismPerJob": 2}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycliuserpolicy?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"objectId":"181c08fa-7ac8-48a6-a869-342ab74566a4","objectType":"User","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycliuserpolicy","name":"pycliuserpolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"objectId": "f0bec09f-45a4-4c58-ac5b-cf0516d7bc68", "objectType":
      "Group", "maxDegreeOfParallelismPerJob": 2}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycligrouppolicy?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"objectId":"f0bec09f-45a4-4c58-ac5b-cf0516d7bc68","objectType":"Group","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycligrouppolicy","name":"pycligrouppolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1185'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"objectId":"f0bec09f-45a4-4c58-ac5b-cf0516d7bc68","objectType":"Group","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycligrouppolicy","name":"pycligrouppolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"},{"properties":{"objectId":"181c08fa-7ac8-48a6-a869-342ab74566a4","objectType":"User","maxDegreeOfParallelismPerJob":2,"minPriorityPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycliuserpolicy","name":"pycliuserpolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
