interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alertsSummary?groupby=severity%2Calertstate&api-version=2019-05-05-preview
  response:
    body:
      string: '{"properties":{"groupedby":"severity","total":2199,"values":[{"name":"Sev0","count":0,"groupedby":"alertState","values":[{"name":"New","count":0},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev1","count":383,"groupedby":"alertState","values":[{"name":"New","count":383},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev2","count":40,"groupedby":"alertState","values":[{"name":"New","count":40},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev3","count":421,"groupedby":"alertState","values":[{"name":"New","count":421},{"name":"Acknowledged","count":0},{"name":"Closed","count":0}]},{"name":"Sev4","count":1355,"groupedby":"alertState","values":[{"name":"New","count":1354},{"name":"Acknowledged","count":0},{"name":"Closed","count":1}]}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AlertsManagement/alertsSummary/current","type":"Microsoft.AlertsManagement/alertsSummary","name":"current"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '996'
    status:
      code: 200
      message: OK
version: 1
