Source: azure-cli
Section: python
Priority: extra
Maintainer: Azure Python CLI Team <azpycli@microsoft.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.8), libssl-dev, libffi-dev, python-dev
Standards-Version: 3.9.5
Homepage: https://github.com/azure/azure-cli

Package: azure-cli
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Azure CLI 2.0 - Preview
 A great cloud needs great tools; we're excited to introduce Azure CLI 2.0 - Preview,
 our next generation multi-platform command line experience for Azure.
