export DH_VIRTUALENV_INSTALL_ROOT=/opt/
#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --sourcedirectory src/azure-cli --install-suffix az
	mkdir -p debian/azure-cli/usr/bin/
	echo "\043!/usr/bin/env bash\n/opt/az/bin/python -m azure.cli \"\044\100\"" > debian/azure-cli/usr/bin/az
	chmod 0755 debian/azure-cli/usr/bin/az
	mkdir -p debian/azure-cli/etc/bash_completion.d/
	echo "_python_argcomplete() {\n    local IFS='\v'\n    COMPREPLY=( \044(IFS=\"\044IFS\"                   COMP_LINE=\"\044COMP_LINE\"                   COMP_POINT=\"\044COMP_POINT\"                   _ARGCOMPLETE_COMP_WORDBREAKS=\"\044COMP_WORDBREAKS\"                   _ARGCOMPLETE=1                   \"\044\061\" 8>&1 9>&2 1>/dev/null 2>/dev/null) )\n    if [[ \044? != 0 ]]; then\n        unset COMPREPLY\n    fi\n}\ncomplete -o nospace -F _python_argcomplete "az"" > debian/azure-cli/etc/bash_completion.d/azure-cli

override_dh_strip:
	dh_strip --exclude=_cffi_backend
