interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/providerOperations/microsoft.compute?api-version=2015-07-01&$expand=resourceTypes
  response:
    body:
      string: '{"displayName":"Microsoft Compute","operations":[{"name":"Microsoft.Compute/register/action","displayName":"Register
        Subscription for Compute","description":"Registers Subscription with Microsoft.Compute
        resource provider","origin":"user,system","properties":null},{"name":"Microsoft.Compute/unregister/action","displayName":"Unregister
        Subscription for Compute","description":"Unregisters Subscription with Microsoft.Compute
        resource provider","origin":"user,system","properties":null}],"resourceTypes":[{"name":"availabilitySets","displayName":"Availability
        Sets","operations":[{"name":"Microsoft.Compute/availabilitySets/read","displayName":"Get
        Availablity Set","description":"Get the properties of an availability set","origin":"user,system","properties":null},{"name":"Microsoft.Compute/availabilitySets/write","displayName":"Create
        or Update Availability Set","description":"Creates a new availability set
        or updates an existing one","origin":"user,system","propert[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/providerOperations/microsoft.storage?api-version=2015-07-01&$expand=resourceTypes
  response:
    body:
      string: "{\"displayName\":\"Microsoft Storage\",\"operations\":[{\"name\":\"Microsoft.Storage/register/action\",\"displayName\":\"Registers
        the Storage Resource Provider\",\"description\":\"Registers the subscription
        for the storage resource provi[...]
