include *.rst
include azure/cli/command_modules/botservice/functionapp.template.json
include azure/cli/command_modules/botservice/webapp.template.json
include azure/cli/command_modules/botservice/webappv4.template.json