include *.rst
include azure/cli/command_modules/botservice/functionapp.template.json
include azure/cli/command_modules/botservice/webapp.template.json
include azure/cli/command_modules/botservice/webappv4.template.json
include azure/cli/command_modules/botservice/typescript.web.config
include azure/cli/command_modules/botservice/web.config
