include *.rst
include azure/cli/command_modules/botservice/bot/templates/functionapp.template.json
include azure/cli/command_modules/botservice/bot/templates/webapp.template.json
include azure/cli/command_modules/botservice/bot/templates/webappv4.template.json