interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/d1873dfb-c8db-4acd-bc9f-809be43df092?monitor=true&api-version=2016-12-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/d1873dfb-c8db-4acd-bc9f-809be43df092?monitor=true&api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-05-05T21:14:00.7804765Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"nkyii6X2Bzs3kGoXP8/ni1DpKVJO1HtiolSvTTAqa59GPA02z6itkGNrmJhFGmK5A6qPcqwcMhLgqetc5LghJw=="},{"keyName":"key2","permissions":"Full","value":"hAwt+embrPkcgziBbF6UBY8MrwioTzouBZtFHuxtCkCvUxK8PT6SCsHvn0vpFUEOrkG1J9ScevyjciFX1fgcuA=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 05 May 2017 21:14:20 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 05 May 2017 21:14:21 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.file.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 05 May 2017 21:14:21 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 05 May 2017 21:14:21 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.table.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Cors><CorsRule><AllowedOrigins>http://example.com</AllowedOrigins><AllowedMethods>POST</AllowedMethods><MaxAgeInSeconds>60</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule></Cors></StorageServiceProperties>'
    headers:
      x-ms-date: ['Fri, 05 May 2017 21:14:21 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 05 May 2017 21:14:23 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors><CorsRule><AllowedMethods>POST</AllowedMethods><AllowedOrigins>http://example.com</AllowedOrigins><AllowedHeaders
        /><ExposedHeaders /><MaxAgeInSeconds>60</MaxAgeInSeconds></CorsRule></Cors></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdJTzRSMzdRQlJMQ1FUNEdPTzNFUE9RWVBLR0VFQlFLT0xGVnxBNjNDMTU4RTVFMkE2M0IxLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
version: 1
