interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "location": "westus", "kind": "Storage"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/829bc79c-0c5a-4e14-8fa1-49e47c922a2e?monitor=true&api-version=2016-12-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/829bc79c-0c5a-4e14-8fa1-49e47c922a2e?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-03-24T20:57:45.0906783Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"Cd/L5q0XeI9U+ULxNrn1P4dDsxJvlqQ1un/XMKsaAfkdsjWHZiOhF4rAuV/96X9WCEd3aXkIsi6zCX0hB5cCKA=="},{"keyName":"key2","permissions":"Full","value":"UWH7Yj+NZP0ToMiCF2c93qOJU9qHghm3OYX3N1ZBYSPgS33KuBVaHUsuMoKpCl2H+/Pp1sZgwrGQU9YCQsqziw=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:04 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D472F8778CD2F6"']
      last-modified: ['Fri, 24 Mar 2017 20:58:04 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:04 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 404, message: The specified blob does not exist.}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:05 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:06 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNRFF4T1RRek1EUSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:06 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNRGd6T0RnMk1EZyUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:07 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNVEkxT0RJNU1USSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:07 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNVFkzTnpjeU1UWSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:07 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNakE1TnpFMU1qQSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:07 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNalV4TmpVNE1qUSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:08 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNamt6TmpBeE1qZyUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:09 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNek0xTlRRME16SSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:09 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNemMzTkRnM016WSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:10 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOREU1TkRNd05EQSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:11 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdORFl4TXpjek5EUSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:11 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOVEF6TXpFMk5EZyUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:11 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOVFExTWpVNU5USSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:11 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOVGczTWpBeU5UWSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:12 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOakk1TVRRMU5qQSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:12 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOamN4TURnNE5qUSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:12 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOekV6TURNeE5qZyUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:12 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOelUwT1RjME56SSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:13 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdOemsyT1RFM056WSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:13 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdPRE00T0RZd09EQSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:13 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdPRGd3T0RBek9EUSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:13 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdPVEl5TnpRMk9EZyUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:14 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdPVFkwTmpnNU9USSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      4194304 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:14 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXhNREEyTmpNeU9UWSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [tc+p1sj+vWGPkawoQ9UKHA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:14 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXhNRFE0TlRjMk1EQSUzRA%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      content-md5: [ttgbNgpWctgMJ0MPORU+LA==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQSUzRA==</Latest><Latest>TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNRFF4T1RRek1EUSUzRA==</Latest><Latest>TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNRGd6T0RnMk1EZyUzRA==</Latest><Latest>TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNVEkxT0RJNU1USSUzRA==</Latest><Latest>TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNVFkzTnpjeU1UWSUzRA==</Latest><Latest>TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNakE1TnpFMU1qQSUzRA==</Latest><Latest>TURBd01EQXdNRE[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:15 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D472F87EFA53C3"']
      last-modified: ['Fri, 24 Mar 2017 20:58:17 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-type: [application/test-content]
      x-ms-date: ['Fri, 24 Mar 2017 20:58:18 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=properties
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D472F881038A5B"']
      last-modified: ['Fri, 24 Mar 2017 20:58:20 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 24 Mar 2017 20:58:19 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdFRUZCQzU4MTcxMjA1NkU1MzUzMzE5QTc3MTJFQTJDMThCRnwwNjFEQzI3MjQ2NDNDREJDLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
