interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "location": "westus", "kind": "Storage"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/d7161459-43c6-400a-a78f-5fc1f5a289d9?monitor=true&api-version=2016-12-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/d7161459-43c6-400a-a78f-5fc1f5a289d9?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-03-29T18:08:47.0981513Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"i9szR7SYp4eQPq30G+o/iTAw5dqamxjYrIKLwJayGTchskoI750SnwZnHdMweitJo7RhUP42fdJVwzUoJpaIWw=="},{"keyName":"key2","permissions":"Full","value":"gKZIi3LebPlasXDHmzjVoAImy5enWHhbTkLhYgFSqYpDTwezQ31LwQiLMLqdo5so1xXYU82gVGkTPkVzmx00vg=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:08 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:09 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-approximate-messages-count: ['0']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:10 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:12 GMT']
      x-ms-meta-e: [f]
      x-ms-meta-g: [h]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:14 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<SignedIdentifiers><SignedIdentifier><Id>policy000004</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:15 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:22 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59a2f5e0-90df-4f6a-86a7-9f1a820db25c</MessageId><InsertionTime>Wed,
        29 Mar 2017 18:09:22 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017 18:09:22
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAJGmjl7eo0gE=</PopReceipt><TimeNextVisible>Wed,
        29 Mar 2017 18:09:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:23 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59a2f5e0-90df-4f6a-86a7-9f1a820db25c</MessageId><InsertionTime>Wed,
        29 Mar 2017 18:09:22 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017 18:09:22
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:25 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/59a2f5e0-90df-4f6a-86a7-9f1a820db25c?popreceipt=AgAAAAMAAAAAAAAAhpmTqreo0gE%3D&visibilitytimeout=1
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAhj7Xmbeo0gEBAAAA]
      x-ms-time-next-visible: ['Wed, 29 Mar 2017 18:09:26 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:30 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59a2f5e0-90df-4f6a-86a7-9f1a820db25c</MessageId><InsertionTime>Wed,
        29 Mar 2017 18:09:22 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017 18:09:22
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>15aa4d4a-674c-4159-ae99-5cb4c8eb063c</MessageId><InsertionTime>Wed,
        29 Mar 2017 18:09:28 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017 18:09:28
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>722f6de6-d44a-4d4e-a484-ecd4c209cefb</MessageId><InsertionTime>Wed,
        29 Mar 2017 18:09:29 GMT</InsertionTime><ExpirationTime>Wed, 05 Apr 2017 18:09:29
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:32 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/59a2f5e0-90df-4f6a-86a7-9f1a820db25c?popreceipt=AgAAAAMAAAAAAAAAVZwLr7eo0gE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 29 Mar 2017 18:09:37 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:6281aa39-0003-0038-57b7-a8c9cb000000\nTime:2017-03-29T18:09:37.5100979Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: The specified queue does not exist.}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc1REI3OTBGRjI1QjY2NDg3MURDNDBFMkQyQ0Y5MTBDNTcyQXw3MEFGODAyQzgyMEFCNzFELVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 202, message: Accepted}
version: 1
