interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_table_scenario_test/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"wA0lYlCbyeRM966RpvZ06hZ8/l6exVUYsLBEi+mu3YwYwe3NhpmrXTNsvrLbpEf2h2eD+lJItytdG6oTG8Uk6w=="},{"keyName":"key2","permissions":"Full","value":"ThXtmUjbOa/WEN3XWaEboYa6iBDJaUKBv+DwyMZw3RE1NFM00jqwpU5r7Z8Yj9Y+TPbf2S8NFFc9tq1Y5fcv9A=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
- request:
    body: '{"TableName": "table1"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 09 Feb 2017 04:31:48 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://dummystorage.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://vcrstorage532245896372.table.core.windows.net/Tables(''table1'')']
      Location: ['https://vcrstorage532245896372.table.core.windows.net/Tables(''table1'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:31:48 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.table.core.windows.net/Tables('table1')
  response:
    body: {string: '{"TableName":"table1"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:31:50 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:31:51 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:31:53 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:31:53 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"name": "test", "value": "something", "PartitionKey": "001", "RowKey":
      "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 09 Feb 2017 04:32:03 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://dummystorage.table.core.windows.net/table1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://vcrstorage532245896372.table.core.windows.net/table1(PartitionKey=''001'',RowKey=''001'')']
      ETag: [W/"datetime'2017-02-09T04%3A32%3A02.8947431Z'"]
      Location: ['https://vcrstorage532245896372.table.core.windows.net/table1(PartitionKey=''001'',RowKey=''001'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:32:03 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.metadata":"https://vcrstorage532245896372.table.core.windows.net/$metadata#table1/@Element","odata.etag":"W/\"datetime''2017-02-09T04%3A32%3A02.8947431Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2017-02-09T04:32:02.8947431Z","name":"test","value":"something"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-02-09T04%3A32%3A02.8947431Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:32:04 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body: {string: '{"odata.metadata":"https://vcrstorage532245896372.table.core.windows.net/$metadata#table1/@Element&$select=name","odata.etag":"W/\"datetime''2017-02-09T04%3A32%3A02.8947431Z''\"","name":"test"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-02-09T04%3A32%3A02.8947431Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: '{"name": "test", "value": "newval", "PartitionKey": "001", "RowKey": "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:32:05 GMT']
      x-ms-version: ['2015-07-08']
    method: MERGE
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-02-09T04%3A32%3A05.3688066Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"cat": "hat", "PartitionKey": "001", "RowKey": "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:32:06 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-02-09T04%3A32%3A06.8518682Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:32:09 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:00642a07-0002-011a-5e8d-826a08000000\nTime:2017-02-09T04:32:09.1855402Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2015-07-08']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 09 Feb 2017 04:32:10 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.table.core.windows.net/Tables('table1')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:fc78c229-0002-001f-6e8d-82d822000000\nTime:2017-02-09T04:32:10.8320174Z"}}}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2015-07-08']
    status: {code: 404, message: Not Found}
version: 1
