interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_file_scenario/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"ZzKRZL6m/WSylG5Fu5mopjvonmLHmYAl8bZPvaEhwUNQ8b13wGxMsbwyok69mqa3KiRbp9EQvYkVBwEAHGYkQg=="},{"keyName":"key2","permissions":"Full","value":"MvVG6rhEv812mJulfi4fSUGymMkV0Iv1ES5SNg7yZ0njfrJtDU9StEfLZdD3xyxOI+EmpdEk34NesK7dWwBwpA=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:40 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A81C60366"']
      last-modified: ['Wed, 08 Feb 2017 19:41:42 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:41 GMT']
      x-ms-meta-cat: [hat]
      x-ms-meta-foo: [bar]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare02?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A8239361F"']
      last-modified: ['Wed, 08 Feb 2017 19:41:42 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:42 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A81C60366"']
      last-modified: ['Wed, 08 Feb 2017 19:41:42 GMT']
      x-ms-share-quota: ['5120']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:43 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare02?comp=metadata&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A8239361F"']
      last-modified: ['Wed, 08 Feb 2017 19:41:42 GMT']
      x-ms-meta-cat: [hat]
      x-ms-meta-foo: [bar]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:44 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage089047336969.file.core.windows.net/\"\
        ><Shares><Share><Name>testshare01</Name><Properties><Last-Modified>Wed, 08\
        \ Feb 2017 19:41:42 GMT</Last-Modified><Etag>\"0x8D4505A81C60366\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>testshare02</Name><Properties><Last-Modified>Wed,\
        \ 08 Feb 2017 19:41:42 GMT</Last-Modified><Etag>\"0x8D4505A8239361F\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:45 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=metadata&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A844B11A8"']
      last-modified: ['Wed, 08 Feb 2017 19:41:46 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:49 GMT']
      x-ms-share-quota: ['3']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=properties&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A86847582"']
      last-modified: ['Wed, 08 Feb 2017 19:41:50 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['78']
      x-ms-date: ['Wed, 08 Feb 2017 19:41:51 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A880A137F"']
      last-modified: ['Wed, 08 Feb 2017 19:41:52 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!'
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:51 GMT']
      x-ms-range: [bytes=0-77]
      x-ms-version: ['2015-07-08']
      x-ms-write: [update]
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst?comp=range
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      etag: ['"0x8D4505A88118F69"']
      last-modified: ['Wed, 08 Feb 2017 19:41:52 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:53 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst
  response:
    body: {string: !!python/unicode 'This is a test file for performance of automated
        tests. DO NOT MOVE OR DELETE!'}
    headers:
      content-range: [bytes 0-77/78]
      content-type: [application/octet-stream]
      etag: ['"0x8D4505A88118F69"']
      last-modified: ['Wed, 08 Feb 2017 19:41:52 GMT']
      x-ms-type: [File]
      x-ms-version: ['2015-07-08']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      x-ms-content-length: ['1234']
      x-ms-date: ['Wed, 08 Feb 2017 19:41:54 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst?comp=properties
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A89A7AE4B"']
      last-modified: ['Wed, 08 Feb 2017 19:41:55 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:41:56 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst?comp=metadata
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A8AB7B36D"']
      last-modified: ['Wed, 08 Feb 2017 19:41:57 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:00 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage089047336969.file.core.windows.net/\"\
        \ ShareName=\"testshare01\" DirectoryPath=\"\"><Entries><File><Name>testfile.rst</Name><Properties><Content-Length>1234</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-type: [test/type]
      x-ms-date: ['Wed, 08 Feb 2017 19:42:02 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst?comp=properties
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A8E57B703"']
      last-modified: ['Wed, 08 Feb 2017 19:42:03 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:05 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A9066099C"']
      last-modified: ['Wed, 08 Feb 2017 19:42:06 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:06 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage089047336969.file.core.windows.net/\"\
        \ ShareName=\"testshare01\" DirectoryPath=\"\"><Entries><Directory><Name>testdir01</Name><Properties\
        \ /></Directory></Entries><NextMarker /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:08 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?comp=metadata&restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A92236936"']
      last-modified: ['Wed, 08 Feb 2017 19:42:09 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['78']
      x-ms-date: ['Wed, 08 Feb 2017 19:42:12 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01/testfile.rst
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4505A94D01E7F"']
      last-modified: ['Wed, 08 Feb 2017 19:42:14 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!'
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:13 GMT']
      x-ms-range: [bytes=0-77]
      x-ms-version: ['2015-07-08']
      x-ms-write: [update]
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01/testfile.rst?comp=range
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      etag: ['"0x8D4505A94D61365"']
      last-modified: ['Wed, 08 Feb 2017 19:42:14 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:15 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage089047336969.file.core.windows.net/\"\
        \ ShareName=\"testshare01\" DirectoryPath=\"testdir01\"><Entries><File><Name>testfile.rst</Name><Properties><Content-Length>78</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:16 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=stats&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsage>1</ShareUsage></ShareStats>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:20 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The\
        \ specified resource does not exist.\nRequestId:86c7bd26-001a-012d-6443-82219d000000\n\
        Time:2017-02-08T19:42:21.0865313Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 404, message: The specified resource does not exist.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 08 Feb 2017 19:42:23 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://dummystorage.file.core.windows.net/testshare01?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
version: 1
