interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_file_copy_scenario/providers/Microsoft.Storage/storageAccounts/dummystorage/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"j99RfTgg1rPlK+eGUcJG6+kC75c0rZzx1tZ9abb84czEnFIbGasMNjnkU4ePfOz8dP25l76HtylppZFcg9ufPg=="},{"keyName":"key2","permissions":"Full","value":"vO+r7KtHUcgcCfiksNXFMD/M3s4Qo/2bU8uRNdZyxIJFSTrC4jgKrjKnHpSANb9vLhnf1r57vqaV5x3XLnzOCw=="}]}

'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1185']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:34:48 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB7BA0BECCB"']
      Last-Modified: ['Mon, 03 Apr 2017 17:34:48 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:34:50 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB7BB935540"']
      Last-Modified: ['Mon, 03 Apr 2017 17:34:51 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['78']
      x-ms-date: ['Mon, 03 Apr 2017 17:34:53 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1/dir1/src_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB7BCDEC05C"']
      Last-Modified: ['Mon, 03 Apr 2017 17:34:53 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: This is a test file for performance of automated tests. DO NOT MOVE OR DELETE!
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:34:53 GMT']
      x-ms-range: [bytes=0-77]
      x-ms-version: ['2016-05-31']
      x-ms-write: [update]
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1/dir1/src_file.txt?comp=range
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      ETag: ['"0x8D47AB7BCEA34C1"']
      Last-Modified: ['Mon, 03 Apr 2017 17:34:53 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage285082388564.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-date: ['Mon, 03 Apr 2017 17:34:56 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB7BED9F584"']
      Last-Modified: ['Mon, 03 Apr 2017 17:34:56 GMT']
      x-ms-copy-id: [bbf31ce5-9765-47b2-89e4-38b963a7aaa3]
      x-ms-copy-status: [success]
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:35:00 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://dummystorage.file.core.windows.net/share2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D47AB7BED9F584"']
      Last-Modified: ['Mon, 03 Apr 2017 17:34:56 GMT']
      x-ms-copy-completion-time: ['Mon, 03 Apr 2017 17:34:56 GMT']
      x-ms-copy-id: [bbf31ce5-9765-47b2-89e4-38b963a7aaa3]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage285082388564.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-copy-status: [success]
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage285082388564.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-date: ['Mon, 03 Apr 2017 17:35:01 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share2/dir2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB7C26E52BE"']
      Last-Modified: ['Mon, 03 Apr 2017 17:35:02 GMT']
      x-ms-copy-id: [1e9cec7b-2823-44d8-8640-7745064a58cb]
      x-ms-copy-status: [success]
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage285082388564.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-date: ['Mon, 03 Apr 2017 17:35:04 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB7C4981CDC"']
      Last-Modified: ['Mon, 03 Apr 2017 17:35:06 GMT']
      x-ms-copy-id: [f2a29841-4912-48e2-bb63-324af2bfcb7c]
      x-ms-copy-status: [success]
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
version: 1
