interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"uHoWHRSwaR+TIdBm+JXIZy4T7u/WCsLliAqi8Z85AiHDmP951eyPwTK3mlt0uVOER89qldSik9+0QsUIoBh3xg=="},{"keyName":"key2","permissions":"Full","value":"/PqhfF+MlaBOmiVQNGNUjINLXft15Gq/1gQaqQXjhQ1uMofIJwRUP/fuEVvydgVPj/R9mSPuENiSBPw9prsyCQ=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1188']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 06 Feb 2017 23:33:05 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D44EE87EEBE01C"']
      last-modified: ['Mon, 06 Feb 2017 23:33:03 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 06 Feb 2017 23:33:07 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44EE881D44AAA"']
      last-modified: ['Mon, 06 Feb 2017 23:33:08 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 06 Feb 2017 23:33:09 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44EE882BD9AF9"']
      last-modified: ['Mon, 06 Feb 2017 23:33:09 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 06 Feb 2017 23:33:10 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44EE88378593D"']
      last-modified: ['Mon, 06 Feb 2017 23:33:11 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 06 Feb 2017 23:33:22 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00:00.0000000Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test4</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start><Expiry>2016-05-01T00:00:00.0000000Z</Expiry><Permission>rwdl</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D44EE88A131D59"']
      last-modified: ['Mon, 06 Feb 2017 23:33:22 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
