interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_blob_scenario_test/providers/Microsoft.Storage/storageAccounts/dummystorage/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"W3JRZulteBl5Tl5MRnDNzIaKk3aiCABSji2FF1HD/kWLwDyZyOhZhtJapTxiRee2yC1Se/cxy8qSC3lkpSwkpQ=="},{"keyName":"key2","permissions":"Full","value":"fAnmc8OiCLkn1KvUzOpzXZVfQmuaO/AKUNtyM387vIFJ5br/yYbd9EYaJwGhj8kE1rs4wr453G/6/w5CAbwvlQ=="}]}

'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1184']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:31 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB768A9F0D8"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:31 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:32 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB768A9F0D8"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:31 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:33 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D47AB768A9F0D8"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:31 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers />'
    headers:
      x-ms-blob-public-access: [blob]
      x-ms-date: ['Mon, 03 Apr 2017 17:32:33 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB769E5D188"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:34 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:39 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://vcrstorage733770559702.blob.core.windows.net/\"><Containers><Container><Name>cont1</Name><Properties><Last-Modified>Mon,
        03 Apr 2017 17:32:36 GMT</Last-Modified><Etag>\"0x8D47AB76B48ED1C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:40 GMT']
      x-ms-meta-foo: [bar]
      x-ms-meta-moo: [bak]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container&comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB76DCB53FE"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:40 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: This is a test file for performance of automated tests. DO NOT MOVE OR DELETE!
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 03 Apr 2017 17:32:44 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      ETag: ['"0x8D47AB7700669CA"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:44 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:45 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D47AB7700669CA"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:44 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['512']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Mon, 03 Apr 2017 17:32:46 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testpageblob
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB7714AD141"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:46 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: 'This is a test file for performance of automated tests. DO NOT MOVE OR
      DELETE!                                                                                                                                                                                                                                                                                                                                                                                                                                                  '
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:46 GMT']
      x-ms-page-write: [update]
      x-ms-range: [bytes=0-511]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testpageblob?comp=page
  response:
    body: {string: ''}
    headers:
      Content-MD5: [JKbxCPFguN3PtJpiW3lCrQ==]
      ETag: ['"0x8D47AB7716319F6"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:46 GMT']
      x-ms-blob-sequence-number: ['0']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:49 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont1/testappendblob
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: The specified blob does not exist.}
[...]
- request:
    body: This is a test file for performance of automated tests. DO NOT MOVE OR DELETE!
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:49 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testappendblob?comp=appendblock
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      ETag: ['"0x8D47AB7733C927D"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:49 GMT']
      x-ms-blob-append-offset: ['0']
      x-ms-blob-committed-block-count: ['1']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:32:55 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob?comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB776D98538"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:55 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:33:00 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://vcrstorage733770559702.blob.core.windows.net/\"
        ContainerName=\"cont1\"><Blobs><Blob><Name>testappendblob</Name><Properties><Last-Modified>Mon,
        03 Apr 2017 17:32:50 GMT</Last-Modified><Etag>0x8D47AB773E7A1F3</Etag><Content-Length>156</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob><Blob><Name>testblockblob</Name><Properties><Last-Modified>Mon,
        03 Apr 2017 17:32:58 GMT</Last-Modified><Etag>0x8D47AB778494CDB</Etag><Content-Length>78</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>zeGiTMG1TdAobIHawzap3A==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob><Blob><Name>testpageblob</Name><Properties><Last-Modified>Mon,
        03 Apr 2017 17:32:46 GMT</Last-Modified><Etag>0x8D47AB7716319F6</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-md5: [zeGiTMG1TdAobIHawzap3A==]
      x-ms-blob-content-type: [test/type]
      x-ms-date: ['Mon, 03 Apr 2017 17:33:03 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob?comp=properties
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB77B051EF0"']
      Last-Modified: ['Mon, 03 Apr 2017 17:33:02 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:33:05 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /></StorageServiceProperties>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:33:06 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob
  response:
    body: {string: This is a test file for performance of automated tests. DO NOT
        MOVE OR DELETE!}
    headers:
      Content-Range: [bytes 0-77/78]
      Content-Type: [test/type]
      ETag: ['"0x8D47AB77B051EF0"']
      Last-Modified: ['Mon, 03 Apr 2017 17:33:02 GMT']
      x-ms-blob-content-md5: [zeGiTMG1TdAobIHawzap3A==]
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      If-Modified-Since: ['Fri, 01 Apr 2016 12:00:00 GMT']
      x-ms-date: ['Mon, 03 Apr 2017 17:33:07 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['60']
      x-ms-proposed-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob?comp=lease
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB77B051EF0"']
      Last-Modified: ['Mon, 03 Apr 2017 17:33:02 GMT']
      x-ms-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:33:12 GMT']
      x-ms-lease-action: [break]
      x-ms-lease-break-period: ['30']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob?comp=lease
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB77B051EF0"']
      Last-Modified: ['Mon, 03 Apr 2017 17:33:02 GMT']
      x-ms-lease-time: ['30']
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:33:16 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testappendblob?comp=snapshot
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB773E7A1F3"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:50 GMT']
      x-ms-snapshot: ['2017-04-03T17:33:16.7011501Z']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:33:17 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont1/testappendblob?snapshot=2017-04-03T17%3A33%3A16.7011501Z
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D47AB773E7A1F3"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:50 GMT']
      x-ms-blob-committed-block-count: ['2']
      x-ms-blob-type: [AppendBlob]
      x-ms-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Modified-Since: ['Fri, 01 Apr 2016 12:00:00 GMT']
      x-ms-date: ['Mon, 03 Apr 2017 17:33:21 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['60']
      x-ms-proposed-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container&comp=lease
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D47AB76F030F1F"']
      Last-Modified: ['Mon, 03 Apr 2017 17:32:42 GMT']
      x-ms-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 03 Apr 2017 17:33:32 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:01b6307a-0001-0081-31a0-acc4d2000000\nTime:2017-04-03T17:33:32.0662612Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: The specified container does not exist.}
version: 1
