interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zitest/providers/Microsoft.Storage/storageAccounts/foostore102","kind":"Storage","location":"westus","name":"foostore102","properties":{"creationTime":"2016-05-25T19:32:49.5192125Z","primaryEndpoints":{"blob":"https://foostore102.blob.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_ZRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zitest/providers/Microsoft.Storage/storageAccounts/foostore103","kind":"Storage","location":"westus","name":"foostore103","properties":{"creationTime":"2016-05-25T23:52:18.1234838Z","primaryEndpoints":{"blob":"https://foostore103.blob.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_ZRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zitest/providers/Microsoft.Storage/storageAccounts/foostore12978","kind":"Storage","location":"westeurope","name":"foostore12978","properties":{"creationTime":"2016-04-29T06:55:06.4412159Z","primaryEndpoints":{"blob":"https://foostore12978.blob.core.windows.net/","file":"https://foostore12978.file.core.windows.net/","queue":"https://foostore12978.queue.core.windows.net/","table":"https://foostore12978.table.core.windows.net/"},"primaryLocation":"westeurope","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zitest/providers/Microsoft.Storage/storageAccounts/testacc209","kind":"Storage","location":"westus","name":"testacc209","properties":{"creationTime":"2016-01-26T19:04:16.5466637Z","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/dummystorage/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"VtqOteAAnT8xwE/1Oj5TVdeXNshX5RJY7pzNmLQaupPflkS9qwwV8KR8nnHDgw1hBGiaZ2rMKp9dYsxMgPTYHQ=="},{"keyName":"key2","permissions":"Full","value":"U6zSPrLd1k9CH0Exg4NSkJVyKNVsLAugIqrSMiXDxzYgGZF2QW72Qhhw7iQ73XnsWlPSNs5KAevX72ppAq+New=="}]}

'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 18:14:52 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Tue,
        28 Mar 2017 17:45:10 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 28 Mar 2017 18:14:55 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Tue,
        28 Mar 2017 18:12:32 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
