interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_blob_copy/providers/Microsoft.Storage/storageAccounts/dummystorage/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"RyVBi5DEw0XtRVsN0YRY1jAPOv//R03PtEXRKF5/VETeZw2KQYV6d38VSdFDxf6BJNlfuoedspDdXINllnRsDQ=="},{"keyName":"key2","permissions":"Full","value":"dK5RjrZI1Fk0i46VpoID/A5ZGkt3FuC7e94UgYFjw4eU3edfLP1xn3ISHga/4owSHM2uFzx++duD7URBgVTk2A=="}]}

'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 28 Mar 2017 18:13:18 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D476061CF0549B"']
      Last-Modified: ['Tue, 28 Mar 2017 18:13:19 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: This is a test file for performance of automated tests. DO NOT MOVE OR DELETE!
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 28 Mar 2017 18:13:22 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      ETag: ['"0x8D476061EFFDBC8"']
      Last-Modified: ['Tue, 28 Mar 2017 18:13:22 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage107953163697.blob.core.windows.net/cont1/blob1']
      x-ms-date: ['Tue, 28 Mar 2017 18:13:27 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont2/blob1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4760621C30378"']
      Last-Modified: ['Tue, 28 Mar 2017 18:13:27 GMT']
      x-ms-copy-id: [a29e1b9d-8e2b-46b9-b36c-f507bd6ea2fc]
      x-ms-copy-status: [success]
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 28 Mar 2017 18:13:29 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont2/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D4760621C30378"']
      Last-Modified: ['Tue, 28 Mar 2017 18:13:27 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-copy-completion-time: ['Tue, 28 Mar 2017 18:13:27 GMT']
      x-ms-copy-id: [a29e1b9d-8e2b-46b9-b36c-f507bd6ea2fc]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage107953163697.blob.core.windows.net/cont1/blob1']
      x-ms-copy-status: [success]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 28 Mar 2017 18:13:32 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont2/blob2
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D4760624040A33"']
      Last-Modified: ['Tue, 28 Mar 2017 18:13:31 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-copy-completion-time: ['Tue, 28 Mar 2017 18:13:31 GMT']
      x-ms-copy-id: [3e5b9261-5132-4164-8f32-eaff258f20c4]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage107953163697.blob.core.windows.net/cont1/blob2']
      x-ms-copy-status: [success]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
