interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_table_scenario_test/providers/Microsoft.Storage/storageAccounts/dummystorage/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"nv9+27XcdyjtO7Y3xJ0R5WlyouRpPf97vuQRvJRO1Ny1p/4QX+qGE6EnFy1xdH0Zns0P7ZBbGnVMEdELJ4rrkQ=="},{"keyName":"key2","permissions":"Full","value":"A+wZ6lFYZzJdxT40OtaMCl5xUIODcdrPdfskSq+EZUuMk9i2qqExBj5XhbahF5OoWd3w8iMOrG47/giA2UJTIA=="}]}

'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 200, message: OK}
- request:
    body: '{"TableName": "table1"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 28 Mar 2017 22:44:31 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://dummystorage.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://vcrstorage599362686349.table.core.windows.net/Tables(''table1'')']
      Location: ['https://vcrstorage599362686349.table.core.windows.net/Tables(''table1'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:32 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.table.core.windows.net/Tables('table1')
  response:
    body: {string: '{"TableName":"table1"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:36 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:38 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:39 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:41 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1?comp=acl
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"RowKey": "001", "name": "test", "value": "something", "PartitionKey":
      "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 28 Mar 2017 22:44:55 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://dummystorage.table.core.windows.net/table1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://vcrstorage599362686349.table.core.windows.net/table1(PartitionKey=''001'',RowKey=''001'')']
      ETag: [W/"datetime'2017-03-28T22%3A44%3A55.2473244Z'"]
      Location: ['https://vcrstorage599362686349.table.core.windows.net/table1(PartitionKey=''001'',RowKey=''001'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:56 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.metadata":"https://vcrstorage599362686349.table.core.windows.net/$metadata#table1/@Element","odata.etag":"W/\"datetime''2017-03-28T22%3A44%3A55.2473244Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2017-03-28T22:44:55.2473244Z","name":"test","value":"something"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-03-28T22%3A44%3A55.2473244Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:57 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body: {string: '{"odata.metadata":"https://vcrstorage599362686349.table.core.windows.net/$metadata#table1/@Element&$select=name","odata.etag":"W/\"datetime''2017-03-28T22%3A44%3A55.2473244Z''\"","name":"test"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-03-28T22%3A44%3A55.2473244Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: '{"RowKey": "001", "name": "test", "value": "newval", "PartitionKey": "001"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:44:58 GMT']
      x-ms-version: ['2016-05-31']
    method: MERGE
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-03-28T22%3A44%3A58.5381166Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"RowKey": "001", "PartitionKey": "001", "cat": "hat"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:45:00 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-03-28T22%3A45%3A00.4883551Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:45:03 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.table.core.windows.net/table1(PartitionKey='001',RowKey='001')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:f3e6df43-0002-0086-3e14-a8fc19000000\nTime:2017-03-28T22:45:03.6401464Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 28 Mar 2017 22:45:06 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://dummystorage.table.core.windows.net/Tables('table1')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:7715cf12-0002-0100-7b14-a8ee9e000000\nTime:2017-03-28T22:45:05.9626709Z"}}}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: Not Found}
version: 1
