interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/aca929a3-e7d6-483d-bbab-ccae9e6fb904?monitor=true&api-version=2016-12-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/aca929a3-e7d6-483d-bbab-ccae9e6fb904?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-05-23T18:55:38.6127805Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"lWk0ZkSXq+xFAUn0rOgyx2Ch8ecxVdxCxDB71tJlj1Z0QKcvVjOgH0CNmsV9KV7rtJ1cCeFfEVTQOYu445/LrQ=="},{"keyName":"key2","permissions":"Full","value":"XE0inlGQqkfz/EqLYz8uP01KpWsI68tW8qEfSKYfKJbK0urSoEfj6njPBY6UZfnI5vUHp2wWU2TZFTe0BTUyOw=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 May 2017 18:55:59 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D4A20D59FF1A68"']
      last-modified: ['Tue, 23 May 2017 18:55:59 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 May 2017 18:55:59 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: The specified blob does not exist.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 May 2017 18:55:59 GMT']
      x-ms-version: ['2016-05-31']
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: ''}
    headers:
      content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      content-type: [application/octet-stream]
      etag: ['"0x8D4A20D59E88B59"']
      last-modified: ['Tue, 23 May 2017 18:55:59 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 May 2017 18:55:59 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container&comp=list&maxresults=1
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"cont000004\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000003</Name><Properties><Last-Modified>Tue,
        23 May 2017 18:55:59 GMT</Last-Modified><Etag>0x8D4A20D59E88B59</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-md5: [DzQ7CTESaiDxM9Z8KwGKOw==]
      x-ms-blob-content-type: [application/test-content]
      x-ms-date: ['Tue, 23 May 2017 18:56:00 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003?comp=properties
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D4A20D5A83B19F"']
      last-modified: ['Tue, 23 May 2017 18:56:00 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 May 2017 18:56:00 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 May 2017 18:56:00 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body: {string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdNVUJEU1NUSTNZNkI2S040Nk9HM09BVUlPTDJLTk1ZN0NXSHw3NUQxMkU2Q0I3RDBFOEM3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
