interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azure_search_cli_test000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001","name":"azure_search_cli_test000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-01-30T00:14:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "basic"}, "properties": {"replicaCount":
      1, "partitionCount": 1, "hostingMode": "default", "publicNetworkAccess": "Disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002?api-version=2020-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002","name":"azstest000002","type":"Microsoft.Search/searchServices","location":"West
        US","properties":{"replicaCount":1,"partitionCount":1,"status":"provisioning","statusDetails":"","provisioningState":"provisioning","hostingMode":"default","publicNetworkAccess":"Disabled","networkRuleSet":{"ipRules":[],"bypass":"None"},"privateEndpointConnections":[],"sharedPrivateLinkResources":[]},"sku":{"name":"basic"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '5221'
      etag:
      - W/"datetime'2021-01-30T00%3A14%3A51.6403185Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westus",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/5af4f4b0-adec-4b88-beae-e0d2f1f714ed?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/5af4f4b0-adec-4b88-beae-e0d2f1f714ed?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004","name":"satest000004","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-01-30T00:31:35.0663444Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-01-30T00:31:35.0663444Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-01-30T00:31:34.9881934Z","primaryEndpoints":{"dfs":"https://satest000004.dfs.core.windows.net/","web":"https://satest000004.z22.web.core.windows.net/","blob":"https://satest000004.blob.core.windows.net/","queue":"https://satest000004.queue.core.windows.net/","table":"https://satest000004.table.core.windows.net/","file":"https://satest000004.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://satest000004-secondary.dfs.core.windows.net/","web":"https://satest000004-secondary.z22.web.core.windows.net/","blob":"https://satest000004-secondary.blob.core.windows.net/","queue":"https://satest000004-secondary.queue.core.windows.net/","table":"https://satest000004-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"privateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004",
      "groupId": "blob", "requestMessage": "Please approve"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003?api-version=2020-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003/operationStatuses/08585896401703287667?api-version=2020-08-01
      elapsed-time:
      - '1950'
      x-ms-async-operation-timeout:
      - P1DT23H59M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003/operationStatuses/08585896401703287667?api-version=2020-08-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '388'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003?api-version=2020-08-01
  response:
    body:
      string: '{"name":"spltest000003","type":"Microsoft.Search/searchServices/sharedPrivateLinkResources","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003","properties":{"privateLinkResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004","groupId":"blob","requestMessage":"Please
        approve","status":"Pending","provisioningState":"Succeeded","resourceRegion":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '958'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources?api-version=2020-08-01
  response:
    body:
      string: '{"value":[{"name":"spltest000003","type":"Microsoft.Search/searchServices/sharedPrivateLinkResources","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003","properties":{"privateLinkResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004","groupId":"blob","requestMessage":"Please
        approve again","status":"Pending","provisioningState":"Succeeded","resourceRegion":null}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '870'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003?api-version=2020-08-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"Could not find sharedPrivateLinkResource
        ''spltest000003'' for searchService ''azstest000002'' in subscription ''ca9d21ff-2a46-4e8b-bf06-8d65242342e5'',
        resourceGroupName ''azure_search_cli_test000001''. RequestId: 150457d7-6293-11eb-a91d-c8348e613252","target":null,"details":null}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '268'
    status:
      code: 404
      message: Not Found
version: 1
