interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azure_search_cli_test000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001","name":"azure_search_cli_test000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T14:34:20Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "standard"}, "properties": {"replicaCount":
      1, "partitionCount": 1, "hostingMode": "default", "publicNetworkAccess": "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/test000002?api-version=2020-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/test000002","name":"test000002","type":"Microsoft.Search/searchServices","location":"West
        US","properties":{"replicaCount":1,"partitionCount":1,"status":"running","statusDetails":"","provisioningState":"succeeded","hostingMode":"default","publicNetworkAccess":"Enabled","networkRuleSet":{"ipRules":[],"bypass":"None"},"privateEndpointConnections":[],"sharedPrivateLinkResources":[]},"sku":{"name":"standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '6589'
      etag:
      - W/"datetime'2023-01-28T14%3A34%3A28.606397Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/test000002/listAdminKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primaryKey":"i3yZuLHafXISC8T472JGN2YwIRWlteyonnVXztEEEKAzSeCWoOwU","secondaryKey":"8P8naaE96JO8jvk89PkI6rjMAmrZLILUkic6u9KmkhAzSeBnD5ks"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '111'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/test000002/regenerateAdminKey/primary?api-version=2020-08-01
  response:
    body:
      string: '{"primaryKey":"Rmhba8sb5otlN2izLPInNShea0yJ2kAaxbrZLQuktCAzSeDK8U9J","secondaryKey":"8P8naaE96JO8jvk89PkI6rjMAmrZLILUkic6u9KmkhAzSeBnD5ks"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '267'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/test000002/regenerateAdminKey/secondary?api-version=2020-08-01
  response:
    body:
      string: '{"primaryKey":"Rmhba8sb5otlN2izLPInNShea0yJ2kAaxbrZLQuktCAzSeDK8U9J","secondaryKey":"273oZw4FSicx7jpJt75IIcqCYa8VzOPsqPluKggoZ0AzSeA77uRs"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '236'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/test000002/listAdminKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primaryKey":"Rmhba8sb5otlN2izLPInNShea0yJ2kAaxbrZLQuktCAzSeDK8U9J","secondaryKey":"273oZw4FSicx7jpJt75IIcqCYa8VzOPsqPluKggoZ0AzSeA77uRs"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '135'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
version: 1
