interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azure_search_cli_test000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001","name":"azure_search_cli_test000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-09-09T04:48:02Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "basic"}, "properties": {"replicaCount":
      1, "partitionCount": 1, "hostingMode": "default", "publicNetworkAccess": "Disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002?api-version=2020-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002","name":"azstest000002","type":"Microsoft.Search/searchServices","location":"West
        US","properties":{"replicaCount":1,"partitionCount":1,"status":"provisioning","statusDetails":"","provisioningState":"provisioning","hostingMode":"default","publicNetworkAccess":"Disabled","networkRuleSet":{"ipRules":[],"bypass":"None"},"privateEndpointConnections":[],"sharedPrivateLinkResources":[]},"sku":{"name":"basic"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '4374'
      etag:
      - W/"datetime'2021-09-09T04%3A48%3A15.7665008Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1181'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westus",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/f802e00e-c07f-4b53-af5a-18b504d1ac19?monitor=true&api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1183'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/f802e00e-c07f-4b53-af5a-18b504d1ac19?monitor=true&api-version=2021-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004","name":"satest000004","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-09-09T04:59:34.8032152Z","key2":"2021-09-09T04:59:34.8032152Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-09-09T04:59:34.8032152Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-09-09T04:59:34.8032152Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-09-09T04:59:34.6938254Z","primaryEndpoints":{"dfs":"https://satest000004.dfs.core.windows.net/","web":"https://satest000004.z22.web.core.windows.net/","blob":"https://satest000004.blob.core.windows.net/","queue":"https://satest000004.queue.core.windows.net/","table":"https://satest000004.table.core.windows.net/","file":"https://satest000004.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://satest000004-secondary.dfs.core.windows.net/","web":"https://satest000004-secondary.z22.web.core.windows.net/","blob":"https://satest000004-secondary.blob.core.windows.net/","queue":"https://satest000004-secondary.queue.core.windows.net/","table":"https://satest000004-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"privateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004",
      "groupId": "blob", "requestMessage": "Please approve"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003?api-version=2020-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003/operationStatuses/08585704432862121919?api-version=2020-08-01
      elapsed-time:
      - '1677'
      x-ms-async-operation-timeout:
      - P1DT23H59M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1184'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003/operationStatuses/08585704432862121919?api-version=2020-08-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '319'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003?api-version=2020-08-01
  response:
    body:
      string: '{"name":"spltest000003","type":"Microsoft.Search/searchServices/sharedPrivateLinkResources","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003","properties":{"privateLinkResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004","groupId":"blob","requestMessage":"Please
        approve","status":"Pending","provisioningState":"Succeeded","resourceRegion":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '1004'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources?api-version=2020-08-01
  response:
    body:
      string: '{"value":[{"name":"spltest000003","type":"Microsoft.Search/searchServices/sharedPrivateLinkResources","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003","properties":{"privateLinkResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Storage/storageAccounts/satest000004","groupId":"blob","requestMessage":"Please
        approve again","status":"Pending","provisioningState":"Succeeded","resourceRegion":null}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '907'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure_search_cli_test000001/providers/Microsoft.Search/searchServices/azstest000002/sharedPrivateLinkResources/spltest000003?api-version=2020-08-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"Could not find sharedPrivateLinkResource
        ''spltest000003'' for searchService ''azstest000002'' in subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590'',
        resourceGroupName ''azure_search_cli_test000001''. RequestId: 66c66b9e-112b-11ec-86a8-2cf05d45d149","target":null,"details":null}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; charset=utf-8
      elapsed-time:
      - '235'
    status:
      code: 404
      message: Not Found
version: 1
