interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Cdn/edgenodes?api-version=2016-10-02
  response:
    body: {string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"Standard_Verizon\"\
        ,\"id\":\"/providers/Microsoft.Cdn/edgenodes/Standard_Verizon\",\"type\":\"\
        Microsoft.Cdn/edgenodes\",\"properties\":{\r\n        \"ipAddressGroups\"\
        :[\r\n          {\r\n            \"deliveryRegion\":\"All\",\"ipv4Addresses\"\
        :[\r\n              {\r\n                \"baseIpAddress\":\"192.229.176.0\"\
        ,\"prefixLength\":24\r\n              },{\r\n                \"baseIpAddress\"\
        :\"180.240.184.128\",\"prefixLength\":25\r\n              },{\r\n        \
        \        \"baseIpAddress\":\"61.49.49.64\",\"prefixLength\":26\r\n       \
        \       },{\r\n                \"baseIpAddress\":\"61.49.52.0\",\"prefixLength\"\
        :26\r\n              },{\r\n                \"baseIpAddress\":\"61.49.62.128\"\
        ,\"prefixLength\":25\r\n              },{\r\n                \"baseIpAddress\"\
      [...]
