interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-webapp-slot2?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2","name":"cli-webapp-slot2","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"sku": {"capacity": 1, "tier": "STANDARD", "name": "S1"}, "location":
      "westus", "properties": {"perSiteScaling": false, "name": "webapp-slot-test2-plan"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan","name":"webapp-slot-test2-plan","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
        US","tags":null,"properties":{"serverFarmId":0,"name":"webapp-slot-test2-plan","workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli-webapp-slot2-WestUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Shared","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"numberOfSites":0,"hostingEnvironmentId":null,"tags":null,"kind":"app","resourceGroup":"cli-webapp-slot2","reserved":false,"mdmId":"waws-prod-bay-027_17401","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "West US", "properties": {"microService": "false", "reserved":
      false, "scmSiteAlsoStopped": false, "serverFarmId": "webapp-slot-test2-plan"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2","name":"web-slot-test2","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","tags":null,"properties":{"name":"web-slot-test2","state":"Running","hostNames":["web-slot-test2.azurewebsites.net"],"webSpace":"cli-webapp-slot2-WestUSwebspace","selfLink":"https://waws-prod-bay-027.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli-webapp-slot2-WestUSwebspace/sites/web-slot-test2","repositorySiteName":"web-slot-test2","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["web-slot-test2.azurewebsites.net","web-slot-test2.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"web-slot-test2.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"web-slot-test2.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan","reserved":false,"lastModifiedTimeUtc":"2017-03-04T06:02:53.633","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"web-slot-test2","trafficManagerHostNames":null,"sku":"Standard","premiumAppDeployed":null,"scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"microService":"false","gatewaySiteName":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","outboundIpAddresses":"191.239.57.218,191.239.58.113,191.239.58.48,191.239.60.207","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-027","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli-webapp-slot2","defaultHostName":"web-slot-test2.azurewebsites.net","slotSwapStatus":null}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D294ACF671BAE0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"WEBSITE_NODE_DEFAULT_VERSION":
      "6.9.1", "s1": "v1", "s2": "v2"}, "location": "West US", "name": "appsettings"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s1":"v1","s2":"v2"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D294ACF8EC7EE0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/slotConfigNames?api-version=2016-08-01
  response:
    body: {string: '{"id":null,"name":"web-slot-test2","type":"Microsoft.Web/sites","location":"West
        US","tags":null,"properties":{"connectionStringNames":[],"appSettingNames":["s2"]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "West US", "properties": {"microService": "false", "reserved":
      false, "scmSiteAlsoStopped": false, "serverFarmId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webap[...]
[...]
- request:
    body: '{"location": "West US", "properties": {"repoUrl": "https://github.com/yugangw-msft/azure-site-test",
      "isMercurial": false, "branch": "staging"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web","name":"web-slot-test2","type":"Microsoft.Web/sites/sourcecontrols","location":"West
        US","tags":null,"properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test","branch":"staging","isManualIntegration":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D294ACF8EC7EE0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web","name":"web-slot-test2","type":"Microsoft.Web/sites/sourcecontrols","location":"West
        US","tags":null,"properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test","branch":"staging","isManualIntegration":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2017-03-04T06:03:46.6832772
        https://web-slot-test2-staging.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2017-03-04_06-03-28Z"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D294AD060F1330"']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://web-slot-test2-staging.azurewebsites.net/
  response:
    body: {string: 'Staging2: Hello world from linux 4'}
    headers:
      Content-Type: [text/html; charset=utf-8]
      ETag: [W/"22-fTRHXGSB8NabOgGwQJfnmcJGQr4"]
    status: {code: 200, message: OK}
- request:
    body: '{"preserveVnet": true, "targetSlot": "staging"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slotsswap?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D294ACF8EC7EE0"']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/operationresults/fca3a4fd-e642-4a88-be37-eecbd41be2fd?api-version=2016-08-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/operationresults/fca3a4fd-e642-4a88-be37-eecbd41be2fd?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/operationresults/fca3a4fd-e642-4a88-be37-eecbd41be2fd?api-version=2016-08-01']
      Retry-After: ['15']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://web-slot-test2.azurewebsites.net/
  response:
    body: {string: 'Staging2: Hello world from linux 4'}
    headers:
      Content-Type: [text/html; charset=utf-8]
      ETag: [W/"22-fTRHXGSB8NabOgGwQJfnmcJGQr4"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s1":"v1","s2":"v2"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/web","name":"web-slot-test2","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{"numberOfWorkers":1,"defaultDocuments":["Default.htm","Default.html","Default.asp","index.htm","index.html","iisstart.htm","default.aspx","index.php","hostingstart.html"],"netFrameworkVersion":"v4.0","phpVersion":"5.6","pythonVersion":"","nodeVersion":"","linuxFxVersion":"","requestTracingEnabled":false,"remoteDebuggingEnabled":false,"remoteDebuggingVersion":"VS2012","httpLoggingEnabled":false,"logsDirectorySizeLimit":35,"detailedErrorLoggingEnabled":false,"publishingUsername":"$web-slot-test2","publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":"None","use32BitWorkerProcess":true,"webSocketsEnabled":false,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":"","managedPipelineMode":"Integrated","virtualApplications":[{"virtualPath":"/","physicalPath":"site\\wwwroot","preloadEnabled":false,"virtualDirectories":null}],"winAuthAdminState":0,"winAuthTenantState":0,"customAppPoolIdentityAdminState":false,"customAppPoolIdentityTenantState":false,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":"LeastRequests","routingRules":[],"experiments":{"rampUpRules":[]},"limits":null,"autoHealEnabled":false,"autoHealRules":{"triggers":null,"actions":null},"tracingOptions":null,"vnetName":"","siteAuthEnabled":false,"siteAuthSettings":{"enabled":null,"unauthenticatedClientAction":null,"tokenStoreEnabled":null,"allowedExternalRedirectUrls":null,"defaultProvider":null,"clientId":null,"clientSecret":null,"issuer":null,"allowedAudiences":null,"additionalLoginParams":null,"isAadAutoProvisioned":false,"googleClientId":null,"googleClientSecret":null,"googleOAuthScopes":null,"facebookAppId":null,"facebookAppSecret":null,"facebookOAuthScopes":null,"twitterConsumerKey":null,"twitterConsumerSecret":null,"microsoftAccountClientId":null,"microsoftAccountClientSecret":null,"microsoftAccountOAuthScopes":null},"cors":null,"push":null,"apiDefinition":null,"autoSwapSlotName":null,"localMySqlEnabled":false,"ipSecurityRestrictions":null}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "West US", "properties": {"microService": "false", "scmSiteAlsoStopped":
      false, "reserved": false, "siteConfig": {"type": "Microsoft.Web/sites/config",
      "name": "web-slot-test2", "location": "West US", "properties": {"defaultDocuments":
      ["Default.htm", "Default.html", "Default.asp", "index.htm", "index.html", "iisstart.htm",
      "default.aspx", "index.php", "hostingstart.html"], "phpVersion": "5.6", "scmType":
      "None", "experiments": {"r[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"WEBSITE_NODE_DEFAULT_VERSION":
      "6.9.1", "s1": "v1"}, "location": "West US", "name": "appsettings"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s1":"v1"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D294AD4088DCD0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {}, "location": "West
      US", "name": "connectionstrings"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D294AD4088DCD0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s1":"v1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"WEBSITE_NODE_DEFAULT_VERSION":
      "6.9.1", "s1": "v1", "s3": "v3", "s4": "v4"}, "location": "West US", "name":
      "appsettings"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","tags":null,"properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s1":"v1","s3":"v3","s4":"v4"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D294AD4088DCD0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"preserveVnet": true, "targetSlot": "dev"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/slotsswap?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D294AD4088DCD0"']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/operationresults/e748490f-7432-4164-963c-0fd16f791beb?api-version=2016-08-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/operationresults/e748490f-7432-4164-963c-0fd16f791beb?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/operationresults/e748490f-7432-4164-963c-0fd16f791beb?api-version=2016-08-01']
      Retry-After: ['15']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots?api-version=2016-08-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/dev","name":"web-slot-test2/dev","type":"Microsoft.Web/sites/slots","kind":"app","location":"West
        US","tags":null,"properties":{"name":"web-slot-test2(dev)","state":"Running","hostNames":["web-slot-test2-dev.azurewebsites.net"],"webSpace":"cli-webapp-slot2-WestUSwebspace","selfLink":"https://waws-prod-bay-027.api.azurewebsites.windows.net:454/subs[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot2/providers/Microsoft.Web/sites/web-slot-test2/slots/staging?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D294AD4088DCD0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
version: 1
