interactions:
- request:
    body: '{"location": "centraluseuap", "properties": {"encryptionState": "Disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_access000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"6d80d89d-c93f-42b3-b678-7dbc21b9b0bc"},"location":"centraluseuap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_access000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/centraluseuap/operationResults/6d80d89d-c93f-42b3-b678-7dbc21b9b0bc_0?api-version=2016-11-01&t=638845922018001839&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQyMjI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/centraluseuap/operationResults/6d80d89d-c93f-42b3-b678-7dbc21b9b0bc_0?api-version=2016-11-01&t=638845922018001839&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_access000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","dataLakePerformanceTierState":"Disabled","migrationInfo":{"state":"RequestConsent","mode":"Offline","strategy":"Id"},"provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"6d80d89d-c93f-42b3-b678-7dbc21b9b0bc","creationTime":"2025-06-04T00:03:30.0575713Z","lastModifiedTime":"2025-06-04T00:03:30.0575713Z"},"location":"centraluseuap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_access000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01 [12f58255-e49d-4fa1-9da1-a5e6e85804d4][2025-06-03T17:03:58.4631651-07:00]","javaClassName":"java.io.FileNotFoundException"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x8309000A'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=MKDIRS&api-version=2018-09-01
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1748995438511,"modificationTime":1748995438511,"replication":0,"permission":"770","owner":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","group":"00000000-0000-0000-0000-000000000000","aclBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=SETOWNER&api-version=2018-09-01&owner=ac37fe14-8b7a-4883-b02b-c7ed6f871165&group=a0fe7455-56dd-498f-b7d1-bacbdb573abd
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=SETPERMISSION&api-version=2018-09-01&permission=777
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=MSGETACLSTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"AclStatus":{"entries":["user::rwx","group::rwx","other::rwx"],"owner":"ac37fe14-8b7a-4883-b02b-c7ed6f871165","group":"a0fe7455-56dd-498f-b7d1-bacbdb573abd","permission":"777","stickyBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=SETACL&api-version=2018-09-01&aclSpec=user%3A%3Arwx%2Cgroup%3A%3Arwx%2Cother%3A%3Arwx%2Cuser%3Aac37fe14-8b7a-4883-b02b-c7ed6f871165%3Arwx
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=MODIFYACLENTRIES&api-version=2018-09-01&aclSpec=user%3Aac37fe14-8b7a-4883-b02b-c7ed6f871165%3A-w-
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=REMOVEACLENTRIES&api-version=2018-09-01&aclSpec=user%3Aac37fe14-8b7a-4883-b02b-c7ed6f871165
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=REMOVEDEFAULTACL&api-version=2018-09-01
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=REMOVEACL&api-version=2018-09-01
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=MSGETACLSTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"AclStatus":{"entries":["user::rwx","group::rwx","other::rwx"],"owner":"ac37fe14-8b7a-4883-b02b-c7ed6f871165","group":"a0fe7455-56dd-498f-b7d1-bacbdb573abd","permission":"777","stickyBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
version: 1
