interactions:
- request:
    body: '{"location": "eastus2", "properties": {"encryptionState": "Disabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"c72f8318-0cf3-4439-aa8e-86da7f8708a5"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/c72f8318-0cf3-4439-aa8e-86da7f8708a5_0?api-version=2016-11-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002/operationresults/0?api-version=2016-11-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/c72f8318-0cf3-4439-aa8e-86da7f8708a5_0?api-version=2016-11-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","dataLakePerformanceTierState":"Disabled","provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"c72f8318-0cf3-4439-aa8e-86da7f8708a5","creationTime":"2019-10-23T01:46:08.069291Z","lastModifiedTime":"2019-10-23T01:46:08.069291Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01 [b58b7fd2-e587-4738-9f01-ce6a5072bac7][2019-10-22T18:46:59.5247275-07:00]","javaClassName":"java.io.FileNotFoundException"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x8309000A'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=MKDIRS&api-version=2018-09-01
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1571795219866,"modificationTime":1571795219866,"replication":0,"permission":"770","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","group":"00000000-0000-0000-0000-000000000000","aclBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01/adltestfile01 [c58e2955-ad84-48b8-bd7c-a3f3e9e12366][2019-10-22T18:47:03.2298479-07:00]","javaClassName":"java.io.FileNotFoundException"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x8309000A'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      location:
      - https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 201
      message: Created
- request:
    body: '123456'
    headers:
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=APPEND&api-version=2018-09-01&syncFlag=CLOSE&offset=0&append=true&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"FileStatus":{"length":6,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1571795223947,"modificationTime":1571795224323,"replication":1,"permission":"770","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","group":"00000000-0000-0000-0000-000000000000","msExpirationTime":0,"aclBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?OP=SETEXPIRY&api-version=2018-09-01&expiryOption=Absolute&expireTime=1896091200000
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?OP=SETEXPIRY&api-version=2018-09-01&expiryOption=NeverExpire
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=RENAME&api-version=2018-09-01&destination=adltestfolder02%2Fadltestfile01
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?OP=OPEN&api-version=2018-09-01&offset=0&length=6&read=true&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: '123456'
    headers:
      content-type:
      - application/octet-stream
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02?OP=LISTSTATUS&api-version=2018-09-01&listSize=4000
  response:
    body:
      string: '{"FileStatuses":{"continuationToken":"","FileStatus":[{"length":6,"pathSuffix":"adltestfile01","type":"FILE","blockSize":268435456,"accessTime":1571795223947,"modificationTime":1571795224323,"replication":1,"permission":"770","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","group":"00000000-0000-0000-0000-000000000000","msExpirationTime":0,"aclBit":false}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sources":["adltestfolder01/adltestfile02","adltestfolder02/adltestfile01"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?OP=MSCONCAT&api-version=2018-09-01&deleteSourceDirectory=false
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?OP=LISTSTATUS&api-version=2018-09-01&listSize=4000
  response:
    body:
      string: '{"FileStatuses":{"continuationToken":"","FileStatus":[{"length":30,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1571795257584,"modificationTime":1571795257591,"replication":1,"permission":"770","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","group":"00000000-0000-0000-0000-000000000000","msExpirationTime":0,"aclBit":false}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?OP=DELETE&api-version=2018-09-01&recursive=False
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/?OP=LISTSTATUS&api-version=2018-09-01&listSize=4000
  response:
    body:
      string: '{"FileStatuses":{"continuationToken":"","FileStatus":[{"length":0,"pathSuffix":"adltestfolder01","type":"DIRECTORY","blockSize":0,"accessTime":1571795219866,"modificationTime":1571795266015,"replication":0,"permission":"770","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","group":"00000000-0000-0000-0000-000000000000","aclBit":false}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder02/tempfile01.txt [0de87bdc-c3ea-4922-9744-105c78cf3d65][2019-10-22T18:47:51.9885756-07:00]","javaClassName":"java.io.FileNotFoundException"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x8309000A'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      location:
      - https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=APPEND&api-version=2018-09-01&syncFlag=CLOSE&offset=0&append=true&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02?OP=DELETE&api-version=2018-09-01&recursive=True
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1571795219866,"modificationTime":1571795266015,"replication":0,"permission":"770","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","group":"00000000-0000-0000-0000-000000000000","aclBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
version: 1
