interactions:
- request:
    body: '{"location": "westus2", "properties": {"encryptionState": "Disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"fed0e38f-ee35-4765-8a7d-9ebffd54c5cd"},"location":"westus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/westus2/operationResults/fed0e38f-ee35-4765-8a7d-9ebffd54c5cd_0?api-version=2016-11-01&t=638654039056740224&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTI1MTkzNzA4WhcNMjUwMzI0MTkzNzA4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/westus2/operationResults/fed0e38f-ee35-4765-8a7d-9ebffd54c5cd_0?api-version=2016-11-01&t=638654039056740224&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTI1MTkzNzA4WhcNMjUwMzI0MTkzNzA4Wj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"dataLakePerformanceTierState":"Disabled","migrationInfo":{"state":"RequestConsent","mode":"Offline","strategy":"Id"},"provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"fed0e38f-ee35-4765-8a7d-9ebffd54c5cd","creationTime":"2024-10-24T21:58:27.4144377Z","lastModifiedTime":"2024-10-24T21:58:27.4144377Z"},"location":"westus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01 [cb9b7ea4-8b57-4d60-bc72-f8e2be3e68b4][2024-10-24T14:59:27.9426795-07:00]","javaClassName":"java.io.FileNotFoundException"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x8309000A'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=MKDIRS&api-version=2018-09-01
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1729807168019,"modificationTime":1729807168019,"replication":0,"permission":"770","owner":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","group":"00000000-0000-0000-0000-000000000000","aclBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01/adltestfile01 [5ea64686-9ee3-4b04-9d93-362b094c6b1b][2024-10-24T14:59:29.3566821-07:00]","javaClassName":"java.io.FileNotFoundException"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x8309000A'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      location:
      - https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 201
      message: Created
- request:
    body: '123456'
    headers:
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=APPEND&api-version=2018-09-01&syncFlag=CLOSE&offset=0&append=true&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"FileStatus":{"length":6,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1729807169544,"modificationTime":1729807169668,"replication":1,"permission":"770","owner":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","group":"00000000-0000-0000-0000-000000000000","msExpirationTime":0,"aclBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?OP=SETEXPIRY&api-version=2018-09-01&expiryOption=Absolute&expireTime=1896091200000
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?OP=SETEXPIRY&api-version=2018-09-01&expiryOption=NeverExpire
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?OP=RENAME&api-version=2018-09-01&destination=adltestfolder02%2Fadltestfile01
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?OP=OPEN&api-version=2018-09-01&offset=0&length=6&read=true&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: '123456'
    headers:
      content-type:
      - application/octet-stream
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02?OP=LISTSTATUS&api-version=2018-09-01&listSize=4000
  response:
    body:
      string: '{"FileStatuses":{"continuationToken":"","FileStatus":[{"length":6,"pathSuffix":"adltestfile01","type":"FILE","blockSize":268435456,"accessTime":1729807169544,"modificationTime":1729807169668,"replication":1,"permission":"770","owner":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","group":"00000000-0000-0000-0000-000000000000","msExpirationTime":0,"aclBit":false}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sources":["adltestfolder01/adltestfile02","adltestfolder02/adltestfile01"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?OP=MSCONCAT&api-version=2018-09-01&deleteSourceDirectory=false
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?OP=LISTSTATUS&api-version=2018-09-01&listSize=4000
  response:
    body:
      string: '{"FileStatuses":{"continuationToken":"","FileStatus":[{"length":30,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1729807180496,"modificationTime":1729807180506,"replication":1,"permission":"770","owner":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","group":"00000000-0000-0000-0000-000000000000","msExpirationTime":0,"aclBit":false}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?OP=DELETE&api-version=2018-09-01&recursive=False
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/?OP=LISTSTATUS&api-version=2018-09-01&listSize=4000
  response:
    body:
      string: '{"FileStatuses":{"continuationToken":"","FileStatus":[{"length":0,"pathSuffix":"adltestfolder01","type":"DIRECTORY","blockSize":0,"accessTime":1729807168019,"modificationTime":1729807182946,"replication":0,"permission":"770","owner":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","group":"00000000-0000-0000-0000-000000000000","aclBit":false}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder02/tempfile01.txt [2c0c881b-446f-48f1-80e4-a7781989d4a4][2024-10-24T14:59:44.7916425-07:00]","javaClassName":"java.io.FileNotFoundException"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x8309000A'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      contentlength:
      - '0'
      location:
      - https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=CREATE&api-version=2018-09-01&overwrite=true&write=true&syncFlag=DATA&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?OP=APPEND&api-version=2018-09-01&syncFlag=CLOSE&offset=0&append=true&leaseid=12345678-1234-5678-1234-567812345678&filesessionid=12345678-1234-5678-1234-567812345678
  response:
    body:
      string: ''
    headers:
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02?OP=DELETE&api-version=2018-09-01&recursive=True
  response:
    body:
      string: '{"boolean":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?OP=GETFILESTATUS&api-version=2018-09-01
  response:
    body:
      string: '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1729807168019,"modificationTime":1729807182946,"replication":0,"permission":"770","owner":"6d86a146-d7dc-49d0-862f-1897c5dd2afe","group":"00000000-0000-0000-0000-000000000000","aclBit":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '0x0'
      x-ms-webhdfs-version:
      - 17.04.24.00
    status:
      code: 200
      message: OK
version: 1
