interactions:
- request:
    body: '{"location": "eastus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"encryptionConfig": {"type": "ServiceManaged"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"encryptionConfig":{"type":"ServiceManaged"},"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"20a9d59e-2de3-4dae-bee0-7217d0a09383"},"location":"eastus2","identity":{"type":"SystemAssigned","principalId":"00000000-0000-0000-0000-000000000000","tenantId":"00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/20a9d59e-2de3-4dae-bee0-7217d0a09383_0?api-version=2016-11-01&t=638386684219025980&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/20a9d59e-2de3-4dae-bee0-7217d0a09383_0?api-version=2016-11-01&t=638386684219025980&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5Wj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Enabled","encryptionConfig":{"type":"ServiceManaged"},"currentTier":"Consumption","newTier":"Consumption","dataLakePerformanceTierState":"Disabled","migrationInfo":{"state":"RequestConsent","mode":"Offline","strategy":"Id"},"provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000003.azuredatalakestore.net","accountId":"20a9d59e-2de3-4dae-bee0-7217d0a09383","creationTime":"2023-12-20T11:27:05.0652681Z","lastModifiedTime":"2023-12-20T11:27:05.0652681Z"},"location":"eastus2","identity":{"type":"SystemAssigned","principalId":"a66810aa-8328-4165-a16e-116874c907b9","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeStore/accounts"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/enableKeyVault?api-version=2016-11-01
  response:
    body:
      string: '{"error":{"code":"InvalidOperation","message":"Operation EnableKeyVault
        is invalid under current encryption state or config of account."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000003.azuredatalakestore.net","accountId":"20a9d59e-2de3-4dae-bee0-7217d0a09383","creationTime":"2023-12-20T11:27:05.0652681Z","lastModifiedTime":"2023-12-20T11:27:05.0652681Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeStore/accounts"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/accounts?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000003.azuredatalakestore.net","accountId":"20a9d59e-2de3-4dae-bee0-7217d0a09383","creationTime":"2023-12-20T11:27:05.0652681Z","lastModifiedTime":"2023-12-20T11:27:05.0652681Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeStore/accounts"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"startIpAddress": "127.0.0.1", "endIpAddress": "127.0.0.2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/firewallRules/testfirewallrule01?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"startIpAddress":"127.0.0.1","endIpAddress":"127.0.0.2"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/firewallRules/testfirewallrule01","name":"testfirewallrule01","type":"Microsoft.DataLakeStore/accounts/firewallRules"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/firewallRules?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"startIpAddress":"127.0.0.1","endIpAddress":"127.0.0.3"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/firewallRules/testfirewallrule01","name":"testfirewallrule01","type":"Microsoft.DataLakeStore/accounts/firewallRules"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default?api-version=2023-09-01
  response:
    body:
      string: '{"name":"default","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default","etag":"W/\"cb6c7f62-38bd-4881-97e9-149e3e46b2e2\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb6c7f62-38bd-4881-97e9-149e3e46b2e2"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "updatedSubnet", "properties": {"addressPrefix": "10.0.1.0/24",
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/updatedSubnet?api-version=2023-09-01
  response:
    body:
      string: '{"name":"updatedSubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/updatedSubnet","etag":"W/\"43336fe5-6879-4055-b471-6ef3bc941962\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.1.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b92052c4-3be4-444f-b97b-80eeb308d86f?api-version=2023-09-01&t=638386685015339305&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b92052c4-3be4-444f-b97b-80eeb308d86f?api-version=2023-09-01&t=638386685015339305&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default",
      "name": "default", "properties": {"addressPrefix": "10.0.0.0/24", "delegations":
      [], "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled", "serviceEndpoints": [{"service": "Microsoft.AzureActiveDirectory"}]},
      "type": "Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default?api-version=2023-09-01
  response:
    body:
      string: '{"name":"default","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default","etag":"W/\"75a935ef-ebbc-44df-b247-03aa31c28b93\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","serviceEndpoints":[{"provisioningState":"Updating","service":"Microsoft.AzureActiveDirectory","locations":["*"]}],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b2a7447c-8c64-4a1d-ac4b-aea25019bedf?api-version=2023-09-01&t=638386685045817536&c=MIIHHjCCBgagAwIB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b2a7447c-8c64-4a1d-ac4b-aea25019bedf?api-version=2023-09-01&t=638386685045817536&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f2bf0601-6274-49d7-b053-f8559f76f660?api-version=2023-09-01&t=638386685197512804&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: '{"properties": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/virtualNetworkRules/dlsVnetRule?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/default"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/virtualNetworkRules/dlsVnetRule","name":"dlsVnetRule","type":"Microsoft.DataLakeStore/accounts/virtualNetworkRules"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/virtualNetworkRules?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.Network/virtualNetworks/clitest.vn000002/subnets/updatedSubnet","state":"Active"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/virtualNetworkRules/dlsVnetRule","name":"dlsVnetRule","type":"Microsoft.DataLakeStore/accounts/virtualNetworkRules"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"idProvider": "https://sts.windows.net/9d5b43a0-804c-4c82-8791-36aca2f72342"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/trustedIdProviders/testprovider01?api-version=2016-11-01
  response:
    body:
      string: '{"properties":{"idProvider":"https://sts.windows.net/9d5b43a0-804c-4c82-8791-36aca2f72342"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/trustedIdProviders/testprovider01","name":"testprovider01","type":"Microsoft.DataLakeStore/accounts/trustedIdProviders"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/trustedIdProviders?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"properties":{"idProvider":"https://sts.windows.net/fceb709f-96f1-4c65-b06f-2541114bffb3"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000003/trustedIdProviders/testprovider01","name":"testprovider01","type":"Microsoft.DataLakeStore/accounts/trustedIdProviders"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adls_mgmt000001/providers/Microsoft.DataLakeStore/accounts?api-version=2016-11-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
