interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-02-14T21:47:59Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-02-14T21:47:59Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://imageimport.vault.azure.net/secrets/SPusername/?api-version=7.0
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://imageimport.vault.azure.net/secrets/SPusername/?api-version=7.0
  response:
    body: {string: '{"value":"52127538-09de-4373-a6e8-32c179b575f9","id":"https://imageimport.vault.azure.net/secrets/SPusername/ed1764aa8e7b489cbf87ae59dc6471e6","attributes":{"enabled":true,"created":1549912326,"updated":1549912326,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://imageimport.vault.azure.net/secrets/SPpassword/?api-version=7.0
  response:
    body: {string: '{"value":"1w4F14PX8TKt7rMaG1bymhJlfjab4cocxoL7edC9zJI=","id":"https://imageimport.vault.azure.net/secrets/SPpassword/38a53d8eb3744bd0b0abb1a7b06e862f","attributes":{"enabled":true,"created":1549912368,"updated":1549912368,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resourcegroupsamesub?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resourcegroupsamesub","name":"resourcegroupsamesub","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resourcegroupsamesub/providers/Microsoft.ContainerRegistry/registries/sourceregistrysamesub000002?api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resourcegroupsamesub/providers/Microsoft.ContainerRegistry/registries/sourceregistrysamesub000002","name":"sourceregistrysamesub000002","location":"westus","tags":{},"properties":{"loginServer":"sourceregistrysamesub000002.azurecr.io","creationDate":"2019-02-14T21:48:06.0674558Z","provisioningState":"Succeeded","adminUserEnabled":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2018-05-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acrbuilddemo/providers/Microsoft.ContainerRegistry/registries/acrbuilddemo","name":"acrbuilddemo","type":"Microsoft.ContainerRegistr[...]
[...]
- request:
    body: '{"source": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resourcegroupdiffsub/providers/Microsoft.ContainerRegistry/registries/sourceregistrydiffsub",
      "sourceImage": "microsoft:azure-cli"}, "targetTags": ["microsoft:azure-cli"],
      "mode": "NoForce"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resourcegroupsamesub/providers/Microsoft.ContainerRegistry/registries/sourceregistrysamesub000002/importImage?api-version=2017-10-01
  response:
    body: {string: 'null'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/WESTUS/operationResults/registries-3789d566-30a2-11e9-a895-3c52826df3b6?api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/WESTUS/operationResults/registries-3789d566-30a2-11e9-a895-3c52826df3b6?api-version=2017-10-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"adminUserEnabled":
      false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/targetregistry000003?api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/targetregistry000003","name":"targetregistry000003","location":"eastus","tags":{},"properties":{"loginServer":"targetregistry000003.azurecr.io","creationDate":"2019-02-14T21:48:23.6786582Z","provisioningState":"Succeeded","adminUserEnabled":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/registries?api-version=2017-10-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ankheman-dev/providers/Microsoft.ContainerRegistry/registries/ankhemanbasic","name":"ankhemanbasic","location":"westus","tags":{},"properties":{"loginServer":"ankhemanbasic.azurecr.io","creationDate":"2018-03-15T19:40:30.5663314Z","provisioningState":"Succeeded","adminUserEnabled":true}},{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ankheman-dev/providers/Microsoft.ContainerRegistry/registries/ankhemantrust","name":"ankhemantrust","location":"westus","tags":{},"properties":{"loginServer":"ankhemantrust.azurecr.io","creationDate":"2018-08-03T23:14:49.7559858Z","provisioningState":"Succeeded","adminUserEnabled":true,"networkRuleSet":{"defaultAction":"Allow","virtualNetworkRules":[],"ipRules":[]}}},{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ankheman-dev/providers/Microsoft.ContainerRegistry/registries/ankhemanwestus","name":"ankhemanwestus","location":"westus","tags":{},"properties":{"loginServer":"ankhemanwestus.azurecr.io","creationDate":"2018-08-03T21:11:59.188649Z","provisioningState":"Succeeded","adminUserEnabled":true,"networkRuleSet":{"defaultAction":"Allow","virtualNetworkRules":[],"ipRules":[]}}},{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/doyouvnetdemo/providers/Microsoft.ContainerRegistry/registries/doyouvnetdemo","name":"doyouvnetdemo","location":"westus","tags":{},"properties":{"loginServer":"doyouvnetdemo.azurecr.io","creationDate":"2019-01-30T22:51:42.448801Z","provisioningState":"Succeeded","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Deny","virtualNetworkRules":[{"action":"Allow","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/doyouvnetdemo2/providers/Microsoft.Network/virtualNetworks/doyouvnetdemo2/subnets/default"}],"ipRules":[{"action":"Allow","value":"131.107.159.192"}]}}},{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/doyouwusvnet/providers/Microsoft.ContainerRegistry/registries/doyouwusvnet","name":"doyouwusvnet","locatio[...]
- request:
    body: 'b''{"source": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resourcegroupsamesub/providers/Microsoft.ContainerRegistry/registries/sourceregistrysamesub000002",
      "sourceImage": "microsoft:azure-cli"}, "targetTags": ["repository_same_sub:tag_same_sub"],
      "mode": "NoForce"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/targetregistry000003/importImage?api-version=2017-10-01
  response:
    body: {string: 'null'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/EASTUS/operationResults/registries-4207dfc6-30a2-11e9-a568-3c52826df3b6?api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/EASTUS/operationResults/registries-4207dfc6-30a2-11e9-a568-3c52826df3b6?api-version=2017-10-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"source": {"registryUri": "registry.hub.docker.com", "sourceImage": "library/hello-world"},
      "targetTags": ["library/hello-world"], "mode": "NoForce"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/targetregistry000003/importImage?api-version=2017-10-01
  response:
    body: {string: 'null'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/EASTUS/operationResults/registries-6d9f3d52-30a2-11e9-9a94-3c52826df3b6?api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"source": {"registryUri": "sourceregistrydiffsub.azurecr.io", "credentials":
      {"username": "52127538-09de-4373-a6e8-32c179b575f9", "password": "1w4F14PX8TKt7rMaG1bymhJlfjab4cocxoL7edC9zJI="},
      "sourceImage": "microsoft:azure-cli-1"}, "targetTags": ["microsoft:azure-cli-1"],
      "mode": "NoForce"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/targetregistry000003/importImage?api-version=2017-10-01
  response:
    body: {string: 'null'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/EASTUS/operationResults/registries-7673f8ee-30a2-11e9-bd7e-3c52826df3b6?api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc0QTU2S1NNM0VFSzNEQjJMSVgyNldUT1Y0TkMyTzJIQkpaTXxGRTc1QzcwRTU2MEY3QjUxLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
