interactions:
- request:
    body: '{"location": "westus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37","name":"cliautomation37","type":"Microsoft.Sql/servers","location":"West
        US","kind":"v12.0","properties":{"fullyQualifiedDomainName":"cliautomation37.database.windows.net","administratorLogin":"admin123","administratorLoginPassword":"SecretPassword123","externalAdministratorLogin":null,"externalAdministratorSid":null,"version":"12.0","state":"Ready"}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Preference-Applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39","name":"cliautomation39","type":"Microsoft.Sql/servers","location":"West
        US","kind":"v12.0","properties":{"fullyQualifiedDomainName":"cliautomation39.database.windows.net","administratorLogin":"admin123","administratorLoginPassword":"SecretPassword123","externalAdministratorLogin":null,"externalAdministratorSid":null,"version":"12.0","state":"Ready"}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Preference-Applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"\/Date(1488586151948+0000)\/"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/azureAsyncOperation/ca4d59dd-03b8-410f-acb0-d1966f615b54?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/operationResults/ca4d59dd-03b8-410f-acb0-d1966f615b54?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/azureAsyncOperation/ca4d59dd-03b8-410f-acb0-d1966f615b54?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operationId":"ca4d59dd-03b8-410f-acb0-d1966f615b54","status":"Succeeded","error":null}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/azureAsyncOperation/ca4d59dd-03b8-410f-acb0-d1966f615b54?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases","location":"West
        US","kind":"v12.0,user","properties":{"databaseId":"bf13f225-5da0-4786-8022-1d548da491cb","edition":"Standard","status":"Online","serviceLevelObjective":"S0","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2017-03-04T00:09:12.167Z","currentServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveName":"S0","sampleName":null,"defaultSecondaryLocation":"East
        US","earliestRestoreDate":"2017-03-04T00:19:38.797Z","elasticPoolName":null,"containmentState":2,"readScale":"Disabled","failoverGroupId":null}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "West US", "properties": {"createMode": "OnlineSecondary",
      "sourceDatabaseId": "/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation38/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CreateDatabaseAsCopy","startTime":"\/Date(1488586187407+0000)\/"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation38/databases/cliautomationdb01/azureAsyncOperation/0533d6df-0ce1-413d-bd2c-c1bca0befe48?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation38/databases/cliautomationdb01/operationResults/0533d6df-0ce1-413d-bd2c-c1bca0befe48?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"location": "West US", "properties": {"createMode": "OnlineSecondary",
      "requestedServiceObjectiveName": "S1", "sourceDatabaseId": "/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/azureAsyncOperation/e1066934-8ab5-483d-ace9-50f898ed01e4?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operationId":"e1066934-8ab5-483d-ace9-50f898ed01e4","status":"InProgress","error":null}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/azureAsyncOperation/e1066934-8ab5-483d-ace9-50f898ed01e4?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/replicationLinks?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d","name":"68b7ab1d-a8ff-4f73-b2ea-6986f106538d","type":"Microsoft.Sql/servers/databases/replicationLinks","location":"West
        US","properties":{"partnerServer":"cliautomation39","partnerDatabase":"cliautomationdb01","partnerLocation":"West
        US","role":"Primary","partnerRole":"Secondary","replicationMode":"ASYNC","startTime":"2017-03-04T00:10:54.84","percentComplete":100,"replicationState":"CATCH_UP","isTerminationAllowed":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/replicationLinks/3fb21e92-14a7-42ef-8dde-81c14e972b9d","name":"3fb21e92-14a7-42ef-8dde-81c14e972b9d","type":"Microsoft.Sql/servers/databases/replicationLinks","location":"West
        US","properties":{"partnerServer":"cliautomation38","partnerDatabase":"cliautomationdb01","partnerLocation":"West
        US","role":"Primary","partnerRole":"Secondary","replicationMode":"ASYNC","startTime":"2017-03-04T00:10:08.95","percentComplete":100,"replicationState":"CATCH_UP","isTerminationAllowed":true}}]}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/replicationLinks?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d","name":"68b7ab1d-a8ff-4f73-b2ea-6986f106538d","type":"Microsoft.Sql/servers/databases/replicationLinks","location":"West
        US","properties":{"partnerServer":"cliautomation37","partnerDatabase":"cliautomationdb01","partnerLocation":"West
        US","role":"Secondary","partnerRole":"Primary","replicationMode":"ASYNC","startTime":"2017-03-04T00:10:54.663","percentComplete":100,"replicationState":"CATCH_UP","isTerminationAllowed":true}}]}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d/failover?api-version=2014-04-01
  response:
    body: {string: '{"operation":"FailoverContinuousCopy","startTime":"\/Date(1488586291883)\/"}'}
    headers:
      Content-Type: [application/xml; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d/operationResults/bb3bea09-35f5-4bb0-9913-fc10e9f6661c?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['5']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d/operationResults/bb3bea09-35f5-4bb0-9913-fc10e9f6661c?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operation":"FailoverContinuousCopy","startTime":"\/Date(1488586291883)\/"}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d/operationResults/bb3bea09-35f5-4bb0-9913-fc10e9f6661c?api-version=2014-04-01-Preview']
      Retry-After: ['5']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt2/providers/Microsoft.Sql/servers/cliautomation39/databases/cliautomationdb01/replicationLinks/5d68ed8c-0456-4648-9302-d48d4dffb024?api-version=2014-04-01
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/xml; charset=utf-8]
      DataServiceVersion: [1.0;]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d/forceFailoverAllowDataLoss?api-version=2014-04-01
  response:
    body: {string: '{"operation":"ForceFailoverContinuousCopy","startTime":"\/Date(1488586350843)\/"}'}
    headers:
      Content-Type: [application/xml; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/2e7fe4bd-90c7-454e-8bb6-dc44649f27b2/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d/operationResults/a8082e0e-a544-4d54-a35e-6f9e999d8e1b?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['5']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation37/databases/cliautomationdb01/replicationLinks/68b7ab1d-a8ff-4f73-b2ea-6986f106538d/operationResults/a8082e0e-a544-4d54-a35e-6f9e999d8e1b?api-version=2014-04-01-Preview
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [3.0;]
    status: {code: 204, message: No Content}
version: 1
