interactions:
- request:
    body: '{"properties": {"administratorLoginPassword": "SecretPassword123", "administratorLogin":
      "admin123"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cli-sql-12345-a?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cli-sql-12345-a","name":"cli-sql-12345-a","type":"Microsoft.Sql/servers","location":"West
        US","kind":"v12.0","properties":{"fullyQualifiedDomainName":"cli-sql-12345-a.database.windows.net","administratorLogin":"admin123","administratorLoginPassword":"SecretPassword123","externalAdministratorLogin":null,"externalAdministratorSid":null,"version":"12.0","state":"Ready"}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Preference-Applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cli-sql-12345-a","name":"cli-sql-12345-a","type":"Microsoft.Sql/servers","location":"West
        US","kind":"v12.0","properties":{"fullyQualifiedDomainName":"cli-sql-12345-a.database.windows.net","administratorLogin":"admin123","administratorLoginPassword":null,"externalAdministratorLogin":null,"externalAdministratorSid":null,"version":"12.0","state":"Ready"}}]}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
[...]
