interactions:
- request:
    body: '{"properties": {"administratorLoginPassword": "SecretPassword123", "administratorLogin":
      "admin123"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06","name":"cliautomation06","type":"Microsoft.Sql/servers","location":"West
        US","kind":"v12.0","properties":{"fullyQualifiedDomainName":"cliautomation06.database.windows.net","administratorLogin":"admin123","administratorLoginPassword":"SecretPassword123","externalAdministratorLogin":null,"externalAdministratorSid":null,"version":"12.0","state":"Ready"}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Preference-Applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools/cliautomationpool01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CREATE","startTime":"\/Date(1484715157781+0000)\/"}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/88271ab0-9af4-442c-abb0-901d9fa06ca8/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools/cliautomationpool01/operationResults/509daecb-7a7f-4090-b066-0d2eeb7fb4b3?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools/cliautomationpool01/operationResults/509daecb-7a7f-4090-b066-0d2eeb7fb4b3?api-version=2014-04-01-Preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools/cliautomationpool01","name":"cliautomationpool01","type":"Microsoft.Sql/servers/elasticPools","location":"West
        US","kind":null,"properties":{"creationDate":"2017-01-18T04:52:18.81Z","edition":"Standard","state":"Ready","dtu":100,"databaseDtuMin":0,"databaseDtuMax":100,"storageMB":102400}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools/cliautomationpool01","name":"cliautomationpool01","type":"Microsoft.Sql/servers/elasticPools","location":"West
        US","kind":null,"properties":{"creationDate":"2017-01-18T04:52:18.81Z","edition":"Standard","state":"Ready","dtu":100,"databaseDtuMin":0,"databaseDtuMax":100,"storageMB":102400}}]}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {"key1": "value1"}, "properties": {"dtu": 100, "databaseDtuMax":
      100, "databaseDtuMin": 0, "edition": "Standard", "storageMB": 102400}, "location":
      "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools/cliautomationpool01?api-version=2014-04-01
  response:
    body: {string: '{"operation":"UPDATE","startTime":"\/Date(1484715192523+0000)\/"}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/88271ab0-9af4-442c-abb0-901d9fa06ca8/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/elasticPools/cliautomationpool01/operationResults/49ae60ab-03d2-4a91-ac40-2842fc54a981?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"properties": {"elasticPoolName": "cliautomationpool01"}, "location":
      "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/databases/cliautomationdb02?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"\/Date(1484715257153+0000)\/"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/88271ab0-9af4-442c-abb0-901d9fa06ca8/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/databases/cliautomationdb02/azureAsyncOperation/f2f90996-eca7-4056-8c56-42456002ef26?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/88271ab0-9af4-442c-abb0-901d9fa06ca8/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/databases/cliautomationdb02/operationResults/f2f90996-eca7-4056-8c56-42456002ef26?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/databases/cliautomationdb02/azureAsyncOperation/f2f90996-eca7-4056-8c56-42456002ef26?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operationId":"f2f90996-eca7-4056-8c56-42456002ef26","status":"Succeeded","error":null}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/88271ab0-9af4-442c-abb0-901d9fa06ca8/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/databases/cliautomationdb02/azureAsyncOperation/f2f90996-eca7-4056-8c56-42456002ef26?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/databases/cliautomationdb02?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-sql-mgmt/providers/Microsoft.Sql/servers/cliautomation06/databases/cliautomationdb02","name":"cliautomationdb02","type":"Microsoft.Sql/servers/databases","location":"West
        US","kind":"v12.0,user","properties":{"databaseId":"d7221d09-661a-4b6d-b793-38e915eef815","edition":"Standard","status":"Online","serviceLevelObjective":"ElasticPool","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2017-01-18T04:54:17.357Z","currentServiceObjectiveId":"d1737d22-a8ea-4de7-9bd0-33395d2a7419","requestedServiceObjectiveId":"d1737d22-a8ea-4de7-9bd0-33395d2a7419","requestedServiceObjectiveName":"ElasticPool","sampleName":null,"defaultSecondaryLocation":"East
        US","earliestRestoreDate":"2017-01-18T05:04:23.903Z","elasticPoolName":"cliautomationpool01","containmentState":2,"readScale":"Disabled"}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
    status: {code: 200, message: OK}
[...]
