interactions:
- request:
    body: '{"location": "westus", "tags": {"date": "2019-05-14T16:53:14Z", "cause":
      "automation", "product": "azurecli"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_create_rbac_sp_minimal000001?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_minimal000001","name":"cli_create_rbac_sp_minimal000001","location":"westus","tags":{"date":"2019-05-14T16:53:14Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_minimal000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '567532'
      ocp-aad-diagnostics-server-name:
      - s2UwUVi+htM/n2YkhPwXRPeUZqg0DtftoAt5dzpH0b8=
      ocp-aad-session-key:
      - sOgLMR_0iY4I0FPlT7bsZJr_5uevXbFe8L69J1nSS9dHaj4CbXhScLjiHoBL0pW5jHnML4aZR_Prhgay6bCBMZul6z3O7XlZYFsrbIVXsgRJiM16NjWW2G6hABZA6b7fu2EQxLigIqr83B7xxK1MlA.kwdV1znCx_v3pead20nBjki1gptxSY70mMx47vg1kb0
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli_create_rbac_sp_minimal000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '496273'
      ocp-aad-diagnostics-server-name:
      - 0sfE/ORXQruXagUwgN6LKCMJnfSNsPKIg39HCVmIqe8=
      ocp-aad-session-key:
      - CCcjuJ32Ihwk6mOQ30ezk6s21JxIpMavBA8tRjG7BNn5yesQfUObj7GjqC9_gq7ACFpROsC4mjyUDCiDfBEfjfGEX-BUghhIb1lvDFky7DYIioQ7t9ohtJT-Mo-JB9dWx5Yj8TMZ6ojrMob4rSig6w.pMZ5WWC1Gjd8qeftO8jR7m-rHdEcPTOnjGZF_5rLp2M
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"passwordCredentials": [{"startDate": "2019-05-14T16:53:17.798452Z",
      "customKeyIdentifier": "//5yAGIAYQBjAA==", "value": "faf7574e-38eb-4253-acca-1cc8814c2ea1",
      "keyId": "f97efe42-f6ff-4564-aa3e-00a672908166", "endDate": "2020-05-14T16:53:17.798452Z"}],
      "availableToOtherTenants": false, "displayName": "cli_create_rbac_sp_minimal000001",
      "identifierUris": ["http://cli_create_rbac_sp_minimal000001"], "homepage": "https://cli_create_rbac_sp_minimal000001"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"b96c3a47-6376-49d9-add6-e1c8c2d8ee83","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"4da3d5df-6b5f-4233-a913-d552c2c04114","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"cli_create_rbac_sp_minimal000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://cli_create_rbac_sp_minimal000001","identifierUris":["http://cli_create_rbac_sp_minimal000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/b96c3a47-6376-49d9-add6-e1c8c2d8ee83/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/b96c3a47-6376-49d9-add6-e1c8c2d8ee83/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on behalf of the
        signed-in user.","adminConsentDisplayName":"Access cli_create_rbac_sp_minimal000001","id":"dde3e399-f0ea-41ae-87c4-1b9d7dda6ec5","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on your behalf.","userConsentDisplayName":"Access
        cli_create_rbac_sp_minimal000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-05-14T16:53:17.798452Z","keyId":"f97efe42-f6ff-4564-aa3e-00a672908166","startDate":"2019-05-14T16:53:17.798452Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5017783'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/b96c3a47-6376-49d9-add6-e1c8c2d8ee83/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - 7G98t5jXPmdc39u36x9DSb0cC/ny+jmdWuhB0dVG1QM=
      ocp-aad-session-key:
      - kzht1PNysYt5CwUOq74f5HPihmer2Z7P9PgectLTwym1uyNrkXxehI7YiBVEXDMEJCP-lgxuBfuXBSKTRrwBAaPr2A3sh3Lila_2cPkp5VyN4aIaTJ-ZFhY6OaUVoP8dQmcKCM3ahMoWGqv5Fmfiog.DT3hAQb4Shor81CC6jT4t5EoQy8ENe03-4vjDt_-Ej0
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"appId": "4da3d5df-6b5f-4233-a913-d552c2c04114", "accountEnabled": "True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"6d1163f4-66cd-442f-ab66-62a99eae815f","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli_create_rbac_sp_minimal000001","appId":"4da3d5df-6b5f-4233-a913-d552c2c04114","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli_create_rbac_sp_minimal000001","errorUrl":null,"homepage":"https://cli_create_rbac_sp_minimal000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on behalf of the
        signed-in user.","adminConsentDisplayName":"Access cli_create_rbac_sp_minimal000001","id":"dde3e399-f0ea-41ae-87c4-1b9d7dda6ec5","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli_create_rbac_sp_minimal000001 on your behalf.","userConsentDisplayName":"Access
        cli_create_rbac_sp_minimal000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["4da3d5df-6b5f-4233-a913-d552c2c04114","http://cli_create_rbac_sp_minimal000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2541998'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/6d1163f4-66cd-442f-ab66-62a99eae815f/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - zZhyt14zl0OhjZk/+0wTMqtIww9oR8AMqmXQ2MnPyJw=
      ocp-aad-session-key:
      - OeQaNtwsh5iQFieNFsaV0SGfGM_7IGxLSESQBMOuujLvfWNnmjQR4Fz-E4LXlAJRzVlP_IWkVsl_YsL0WqGZqoOYLRQuATQWfjw5uFhajHYKfrRh0KkzSQlLVxuAvfL-_1QDTp6KjVIXY0i5512XxQ.xTMlYrn_UPlGErXuXiqBMKIsXN99mHV13gautnjyDwo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_minimal000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objec[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/b96c3a47-6376-49d9-add6-e1c8c2d8ee83?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3548502'
      ocp-aad-diagnostics-server-name:
      - NecIdAbtcl2G5DavAD0ay+NyJ0bZ8m4qvkKAOpQmV0w=
      ocp-aad-session-key:
      - 2XikaVsuO0BYnfVdmKM1TtHyP94kIMnTIu1XTLN_Wq-FqGCUhFjKSQZH8UhkoBCVnzTLC961qADAUe7U9ZNMKI1mte9RRJIG7UVDAYCicFxWF_SEOQ9oDBmzDsSpbOJqYI3LFot9JaiCww1el5bheg.xu91kPLpcuLGIg7PPDLGqJLybOgZCPYVS6g00qPZwTE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_create_rbac_sp_minimal000001?api-version=2018-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZDUkVBVEU6NUZSQkFDOjVGU1A6NUZNSU5JTUFMT1ZZVDdBVDRRVkU0R3w1QUQ3QjYwNkYwNEQ4QzU4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-02-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
