interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        eac4fb37-4717-4848-9e62-c4be84d43199\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\"\
        ,\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04-LTS\"\
        ,\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n\
        \        \"osType\": \"Linux\",\r\n        \"name\": \"osdisk_a4e027e6d0\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n  \
        \        \"uri\": \"https://vhdstoragea4e027e6d01da3.blob.core.windows.net/vhds/osdisk_a4e027e6d0.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"myvm\",\r\n      \"adminUsername\": \"user11\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Network/networkInterfaces/myvmVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm\"\
        ,\r\n  \"name\": \"myvm\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation/providers/Microsoft.Storage/storageAccounts/acliautomationlab1144","kind":"Storage","location":"westus","name":"acliautomationlab1144","properties":{"creationTime":"2017-06-26T23:39:19.6941327Z","primaryEndpoints":{"blob":"https://acliautomationlab1144.blob.core.windows.net/","file":"https://acliautomationlab1144.file.core.windows.net/","queue":"https://acliautomationlab1144.queue.core.windows.net/","table":"https://acliautomationlab1144.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{"hidden-DevTestLabs-LabUId":"3a15f90b-94b4-4b91-bbc4-683af08d7931"},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation01/providers/Microsoft.Storage/storageAccounts/acliautomationlab7142","kind":"Storage","location":"westus","name":"acliautomationlab7142","properties":{"creationTime":"2017-06-26T23:39:03.1266302Z","primaryEndpoints":{"blob":"https://acliautomationlab7142.blob.core.windows.net/","file":"https://acliautomationlab7142.file.core.w[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"storageProfile":
      {"imageReference": {"sku": "16.04-LTS", "publisher": "Canonical", "version":
      "latest", "offer": "UbuntuServer"}, "osDisk": {"caching": "ReadWrite", "vhd":
      {"uri": "https://vhdstoragea4e027e6d01da3.blob.core.windows.net/vhds/osdisk_a4e027e6d0.vhd"},
      "createOption": "fromImage", "name": "osdisk_a4e027e6d0", "osType": "Linux"},
      "dataDisks": []}, "diagnosticsProfile": {"bootDiagnostics": {"storageUri": "https://clitestbootdiag20170227.blob.core.windows.net/",
      "enabled": true}}, "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "osProfile":
      {"secrets": [], "adminUsername": "user11", "computerName": "myvm", "linuxConfiguration":
      {"disablePasswordAuthentication": false}}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Network/networkInterfaces/myvmVMNic"}]}},
      "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm?api-version=2016-04-30-preview
  response:
    body:[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f295f505-ac59-48b6-a87b-bc002b1e94ad?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-28T23:42:41.6937796+00:00\"\
        ,\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"f295f505-ac59-48b6-a87b-bc002b1e94ad\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f295f505-ac59-48b6-a87b-bc002b1e94ad?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-28T23:42:41.6937796+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-28T23:43:31.5059413+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"name\": \"f295f505-ac59-48b6-a87b-bc002b1e94ad\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
