interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['0']
      x-fastly-request-id: [e9795a75034e397665cc0ecf4b1d615a0aebf600]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-06-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-07-03T16:07:17Z","showInAddressList":null,"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":null,"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1025398']
      ocp-aad-diagnostics-server-name: [T7x+49lSHIZ9h3sVW3bdlIWvmoRjtlU8jUUKTvZytmo=]
      ocp-aad-session-key: [I-AujRjcHOw2SJK9v-yfiLAfA2bqoz1RuObwt5g6X_vN-WhR8oexEXmPywzwO4ZccGN9j3mDsJLKWjubHVBXjjyF1grYnBJCpXB7UMqF-nAa6XcvrVuiVyKRgOjLqMeg.gZVYwA1Cyl3I0NVnm6NT4ZXsOK572TU0T7He-d3g13M]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"enabledForTemplateDeployment": true, "enabledForDeployment":
      true, "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"objectId":
      "5963f50c-7c43-405c-af7e-53294de76abd", "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "permissions": {"secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002","name":"vmkeyvault000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"secrets":["get","list","set","delete","backup","restore","recover"],"keys":["get","create","delete","list","update","import","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmkeyvault000002.vault.azure.net"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"policy": {"x509_props": {"validity_months": 60, "subject": "C=US, ST=WA,
      L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com", "key_usage":
      ["digitalSignature", "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"]},
      "lifetime_actions": [{"action": {"action_type": "AutoRenew"}, "trigger": {"lifetime_percentage":
      90}}], "key_props": {"kty": "RSA", "reuse_key": false, "key_size": 2048, "exportable":
      true}, "attributes": {"enabled": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "issuer": {"name": "Self"}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"x509_props": {"validity_months": 60, "subject": "C=US, ST=WA,
      L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com", "key_usage":
      ["digitalSignature", "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"]},
      "lifetime_actions": [{"action": {"action_type": "AutoRenew"}, "trigger": {"lifetime_percentage":
      90}}], "key_props": {"kty": "RSA", "reuse_key": false, "key_size": 2048, "exportable":
      true}, "attributes": {"enabled": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "issuer": {"name": "Self"}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANhhpRg/gqVOxEOdnTD6xDZvljBTmD9pZCwVZGJdlWTPdOU/rAKZZaSN9nMo+kzu7VKBVxA+cCdpz4U5oO3TAUfo3mpT+OWuVWOLD2CnAuahnhXMiYEHVd6U1BwWxtKkQJ+p3WptoT/VMfFCldqd33GAW3o41znQUtQvSgzikD37SJf6j/Yl0YATtjxdx7MBT2000g9PFr8JUsskw03F1s/HVRO284vdY+mmLkEtObzFrmpMe48k1zt44iXH64Fu0S7a+KNvpCOnTmgpmzS1W5uHJU6YhXiJymkWJ+5fLkMugUQEE6dhs8U5T6+j5dCUIgtQn7JoBZBho94QoKR2+l0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQASP7loMnvbgU4AvyZyejKMN5lhy/WcxARDyyIue6GPaEY0+gjr1LYOZP4NdOtxzNuzy/VSdW1jg1lklFETc4FoVvvwhXKNQHHFkFm65RDcdNqY2UO5Cl0J37jWPyj59ofrELf0aoWhU+1tkHSFRpe4lxa6sRFRHoNefAPQuAtU6HLxSylRWuP2Kvx6JNryGDhQqD/ynCwRlEmI7H0Fz8ha3dBmy7y5jWfNJ2OO8gPm9oRYHTPY8cMdyyyYNus02wBRumo2+esZhwr+b2QocGEBXMBQ/zJ5Bv4LGQBOVqWkFQ1FWX+4GFCY+pnfhs1qY6Gb7j7owMoB/f8NLyengdR5","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"fe46e4f68c8c4415bb7b234c0acd7686"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01&request_id=fe46e4f68c8c4415bb7b234c0acd7686']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANhhpRg/gqVOxEOdnTD6xDZvljBTmD9pZCwVZGJdlWTPdOU/rAKZZaSN9nMo+kzu7VKBVxA+cCdpz4U5oO3TAUfo3mpT+OWuVWOLD2CnAuahnhXMiYEHVd6U1BwWxtKkQJ+p3WptoT/VMfFCldqd33GAW3o41znQUtQvSgzikD37SJf6j/Yl0YATtjxdx7MBT2000g9PFr8JUsskw03F1s/HVRO284vdY+mmLkEtObzFrmpMe48k1zt44iXH64Fu0S7a+KNvpCOnTmgpmzS1W5uHJU6YhXiJymkWJ+5fLkMugUQEE6dhs8U5T6+j5dCUIgtQn7JoBZBho94QoKR2+l0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQASP7loMnvbgU4AvyZyejKMN5lhy/WcxARDyyIue6GPaEY0+gjr1LYOZP4NdOtxzNuzy/VSdW1jg1lklFETc4FoVvvwhXKNQHHFkFm65RDcdNqY2UO5Cl0J37jWPyj59ofrELf0aoWhU+1tkHSFRpe4lxa6sRFRHoNefAPQuAtU6HLxSylRWuP2Kvx6JNryGDhQqD/ynCwRlEmI7H0Fz8ha3dBmy7y5jWfNJ2OO8gPm9oRYHTPY8cMdyyyYNus02wBRumo2+esZhwr+b2QocGEBXMBQ/zJ5Bv4LGQBOVqWkFQ1FWX+4GFCY+pnfhs1qY6Gb7j7owMoB/f8NLyengdR5","cancellation_requested":false,"status":"completed","target":"https://vmkeyvault000002.vault.azure.net/certificates/cert1","request_id":"fe46e4f68c8c4415bb7b234c0acd7686"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmkeyvault000002.vault.azure.net/secrets/cert1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmkeyvault000002.vault.azure.net/secrets/cert1/3bad690e64df48b89e5f1ad804ff0655","managed":true,"attributes":{"enabled":true,"nbf":1499111916,"exp":1656878916,"created":1499112517,"updated":1499112517,"recoverylevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmkeyvault000002.vault.azure.net/secrets/cert1/cd96c74a6fa24cb6b92c827fc134015b","managed":true,"attributes":{"enabled":false,"nbf":1499111904,"exp":1656878904,"created":1499112505,"updated":1499112505,"recoverylevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2015-11-01&$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation/providers/Microsoft.KeyVault/vaults/cliautomationlab837","name":"cliautomationlab837","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"3a15f90b-94b4-4b91-bbc4-683af08d7931","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation01/providers/Microsoft.KeyVault/vaults/cliautomationlab5400","name":"cliautomationlab5400","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"5be3960e-e2bb-447b-86a9-20ccd5c60fee","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002","name":"vmkeyvault000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangwe/providers/Microsoft.KeyVault/vaults/yugangwe-keyvault","name":"yugangwe-keyvault","type":"Microsoft.KeyVault/vaults","location":"westcentralus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"properties": {"parameters": {}, "mode": "Incremental", "template":
      {"outputs": {}, "contentVersion": "1.0.0.0", "resources": [{"properties": {"subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "vm-nameSubnet"}],
      "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}, "name": "vm-nameVNET",
      "dependsOn": [], "apiVersion": "2015-06-15", "location": "westus", "type": "Microsoft.Network/virtualNetworks",
      "tags": {}}, {"properties": {"securityRules": [{"properties": {"destinationPortRange":
      "3389", "destinationAddressPrefix": "*", "sourcePortRange": "*", "access": "Allow",
      "direction": "Inbound", "sourceAddressPrefix": "*", "priority": 1000, "protocol":
      "Tcp"}, "name": "rdp"}]}, "name": "vm-nameNSG", "dependsOn": [], "apiVersion":
      "2015-06-15", "location": "westus", "type": "Microsoft.Network/networkSecurityGroups",
      "tags": {}}, {"properties": {"publicIPAllocationMethod": "dynamic"}, "name":
      "vm-namePublicIP", "dependsOn": [], "apiVersion": "2015-06-15", "location":
      "westus", "type": "Microsoft.Network/publicIPAddresses", "tags": {}}, {"properties":
      {"ipConfigurations": [{"properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET/subnets/vm-nameSubnet"},
      "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "ipconfigvm-name"}], "networkSecurityGroup":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG"}},
      "name": "vm-nameVMNic", "dependsOn": ["Microsoft.Network/virtualNetworks/vm-nameVNET",
      "Microsoft.Network/networkSecurityGroups/vm-nameNSG", "Microsoft.Network/publicIpAddresses/vm-namePublicIP"],
      "apiVersion": "2015-06-15", "location": "westus", "type": "Microsoft.Network/networkInterfaces",
      "tags": {}}, {"properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"},
      "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic"}]},
      "storageProfile": {"imageReference": {"version": "latest", "sku": "2012-R2-Datacenter",
      "offer": "WindowsServer", "publisher": "MicrosoftWindowsServer"}, "osDisk":
      {"name": "osdisk_bb5184dcc4", "managedDisk": {"storageAccountType": "Premium_LRS"},
      "createOption": "fromImage", "caching": null}}, "osProfile": {"secrets": [{"sourceVault":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002"},
      "vaultCertificates": [{"certificateStore": "My", "certificateUrl": "https://vmkeyvault000002.vault.azure.net/secrets/cert1/3bad690e64df48b89e5f1ad804ff0655"}]}],
      "adminPassword": "VerySecret!12", "adminUsername": "windowsUser", "computerName":
      "vm-name"}}, "name": "vm-name", "dependsOn": ["Microsoft.Network/networkInterfaces/vm-nameVMNic"],
      "apiVersion": "2017-03-30", "location": "westus", "type": "Microsoft.Compute/virtualMachines",
      "tags": {}}], "variables": {}, "parameters": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#"}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_lpzCNHdkT1iPdNpTUJcvicIN0e3FZja5","name":"vm_deploy_lpzCNHdkT1iPdNpTUJcvicIN0e3FZja5","properties":{"templateHash":"2214069776123416926","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-07-03T20:08:53.5442354Z","duration":"PT1.5269867S","correlationId":"2dced7c7-91cd-4b38-b6c5-8efc9c4c69d8","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-nameNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-namePublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm-name","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-name"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_lpzCNHdkT1iPdNpTUJcvicIN0e3FZja5/operationStatuses/08587024943534603832?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587024943534603832?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_lpzCNHdkT1iPdN[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm-name?api-version=2017-03-30&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"d4f3f087-d152-4082-8946-9042833c74a2\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"\
        WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"\
        version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Windows\",\r\n        \"name\": \"osdisk_bb5184dcc4\",\r\n        \"createOption\"\
        : \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\"\
        : {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/osdisk_bb5184dcc4\"\
        \r\n        },\r\n        \"diskSizeGB\": 128\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-name\"\
        ,\r\n      \"adminUsername\": \"windowsUser\",\r\n      \"windowsConfiguration\"\
        : {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\"\
        : true\r\n      },\r\n      \"secrets\": [\r\n        {\r\n          \"sourceVault\"\
        : {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002\"\
        \r\n          },\r\n          \"vaultCertificates\": [\r\n            {\r\n\
        \              \"certificateUrl\": \"https://vmkeyvault000002.vault.azure.net/secrets/cert1/3bad690e64df48b89e5f1ad804ff0655\"\
        ,\r\n              \"certificateStore\": \"My\"\r\n            }\r\n     \
        \     ]\r\n        }\r\n      ]\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.7.1198.802\"\
        ,\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"GuestAgent is running and accepting\
        \ new configurations.\",\r\n            \"time\": \"2017-07-03T20:12:29+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"osdisk_bb5184dcc4\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2017-07-03T20:09:21.1637897+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\"\
        : [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\
        \n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2017-07-03T20:12:00.1192904+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm-name\"\
        ,\r\n  \"name\": \"vm-name\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic?api-version=2017-06-01
  response:
[...]
