interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk","name":"cli_test_vm_with_specialized_unmanaged_disk","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['74']
      X-Fastly-Request-ID: [c203e561771f76b3699f590a61e25b8d8dc68f5a]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: '{"value":[]}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks?api-version=2017-06-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"mode": "Incremental", "template": {"parameters": {}, "resources":
      [{"name": "vhdstoragecf7b2ca6bc65f9", "tags": {}, "apiVersion": "2015-06-15",
      "location": "westus", "type": "Microsoft.Storage/storageAccounts", "dependsOn":
      [], "properties": {"accountType": "Premium_LRS"}}, {"name": "vm1VNET", "tags":
      {}, "apiVersion": "2015-06-15", "dependsOn": [], "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "properties": {"subnets": [{"name": "vm1Subnet", "properties":
      {"addressPrefix": "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}},
      {"name": "vm1NSG", "tags": {}, "apiVersion": "2015-06-15", "location": "westus",
      "type": "Microsoft.Network/networkSecurityGroups", "dependsOn": [], "properties":
      {"securityRules": [{"name": "default-allow-ssh", "properties": {"priority":
      1000, "protocol": "Tcp", "destinationAddressPrefix": "*", "sourceAddressPrefix":
      "*", "destinationPortRange": "22", "access": "Allow", "sourcePortRange": "*",
      "direction": "Inbound"}}]}}, {"name": "vm1PublicIP", "tags": {}, "apiVersion":
      "2015-06-15", "location": "westus", "type": "Microsoft.Network/publicIPAddresses",
      "dependsOn": [], "properties": {"publicIPAllocationMethod": "dynamic"}}, {"name":
      "vm1VMNic", "tags": {}, "apiVersion": "2015-06-15", "location": "westus", "type":
      "Microsoft.Network/networkInterfaces", "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "properties": {"networkSecurityGroup": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"},
      "ipConfigurations": [{"name": "ipconfigvm1", "properties": {"publicIPAddress":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"},
      "privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"}}}]}},
      {"name": "vm1", "tags": {}, "apiVersion": "2017-03-30", "location": "westus",
      "type": "Microsoft.Compute/virtualMachines", "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstoragecf7b2ca6bc65f9",
      "Microsoft.Network/networkInterfaces/vm1VMNic"], "properties": {"networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]},
      "osProfile": {"computerName": "vm1", "adminUsername": "ubuntu", "adminPassword":
      "testPassword0"}, "storageProfile": {"osDisk": {"vhd": {"uri": "https://vhdstoragecf7b2ca6bc65f9.blob.core.windows.net/vhds/osdisk_cf7b2ca6bc.vhd"},
      "createOption": "fromImage", "name": "osdisk_cf7b2ca6bc", "caching": null},
      "imageReference": {"sku": "8", "offer": "Debian", "publisher": "credativ", "version":
      "latest"}}, "hardwareProfile": {"vmSize": "Standard_DS1_v2"}}}], "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "contentVersion": "1.0.0.0", "outputs": {}}, "parameters":
      {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/vm_deploy_TiuC0BOpGzalT7JECy69FVI8GyG1xivg","name":"vm_deploy_TiuC0BOpGzalT7JECy69FVI8GyG1xivg","properties":{"templateHash":"14084823448297893869","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-30T23:56:53.0431652Z","duration":"PT0.697535S","correlationId":"1c52ffa5-dea8-4c0a-920c-218bbcb48bdb","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587027398731320042?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Mi[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"23ae6129-3bce-4ad3-aacd-ab99c64612cd\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"credativ\",\r\n        \"offer\": \"Debian\",\r\n\
        \        \"sku\": \"8\",\r\n        \"version\": \"latest\"\r\n      },\r\n\
        \      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\"\
        : \"osdisk_cf7b2ca6bc\",\r\n        \"createOption\": \"FromImage\",\r\n \
        \       \"vhd\": {\r\n          \"uri\": \"https://vhdstoragecf7b2ca6bc65f9.blob.core.windows.net/vhds/osdisk_cf7b2ca6bc.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"vm1\",\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/Unavailable\"\
        ,\r\n            \"level\": \"Warning\",\r\n            \"displayStatus\"\
        : \"Not Ready\",\r\n            \"message\": \"VM status blob is found but\
        \ not yet populated.\",\r\n            \"time\": \"2017-06-30T23:58:55+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"osdisk_cf7b2ca6bc\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2017-06-30T23:57:19.3275891+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\"\
        : [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\
        \n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2017-06-30T23:58:29.2801898+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"name\": \"vm1\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"41f4de22-8ee8-4a32-a818-43d6405a29ff\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9c907def-7311-4157-9f33-070e30fef934\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        ,\r\n        \"etag\": \"W/\\\"41f4de22-8ee8-4a32-a818-43d6405a29ff\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"qmy0hvtdt0wexpccjr4aw4dhsb.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-31-B4-96\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"41f4de22-8ee8-4a32-a818-43d6405a29ff"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"586ec32c-7f38-4ee9-8b81-afc6839adab8\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"1f916a45-cf4b-4a49-ba4f-524371050935\"\
        ,\r\n    \"ipAddress\": \"104.45.228.230\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\r\
        \n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"586ec32c-7f38-4ee9-8b81-afc6839adab8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"23ae6129-3bce-4ad3-aacd-ab99c64612cd\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSiz[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/5449b128-b6ba-484f-ab22-fbc6c92c2601?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/5449b128-b6ba-484f-ab22-fbc6c92c2601?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/5449b128-b6ba-484f-ab22-fbc6c92c2601?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-30T23:58:56.8576789+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"5449b128-b6ba-484f-ab22-fbc6c92c2601\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/5449b128-b6ba-484f-ab22-fbc6c92c2601?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-30T23:58:56.8576789+00:00\",\r\
        \n  \"endTime\": \"2017-06-30T23:59:47.3563174+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"5449b128-b6ba-484f-ab22-fbc6c92c2601\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
