interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_and_modify?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify","name":"cli_test_vmss_create_and_modify","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['198']
      X-Fastly-Request-ID: [507bdc8ef7b95c2a2530e8c9bd1b2c5093da24e0]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {}, "template": {"resources": [{"apiVersion":
      "2015-06-15", "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "vmss1Subnet"}]},
      "dependsOn": [], "name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks",
      "tags": {}, "location": "westus"}, {"apiVersion": "2017-11-01", "properties":
      {"publicIPAllocationMethod": "Dynamic"}, "dependsOn": [], "name": "vmss1LBPublicIP",
      "type": "Microsoft.Network/publicIPAddresses", "sku": {"name": "Basic"}, "tags":
      {}, "location": "westus"}, {"apiVersion": "2017-11-01", "properties": {"backendAddressPools":
      [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "inboundNatPools": [{"properties": {"protocol":
      "tcp", "backendPort": 3389, "frontendPortRangeEnd": "50119", "frontendPortRangeStart":
      "50000", "frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}},
      "name": "vmss1LBNatPool"}]}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "name": "vmss1LB", "type":
      "Microsoft.Network/loadBalancers", "sku": {"name": "Basic"}, "tags": {}, "location":
      "westus"}, {"apiVersion": "2017-03-30", "properties": {"overprovision": true,
      "singlePlacementGroup": true, "virtualMachineProfile": {"osProfile": {"computerNamePrefix":
      "vmss15d6c", "adminUsername": "myadmin", "adminPassword": "testPassword0"},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}, "createOption": "FromImage"}, "imageReference": {"offer": "WindowsServer",
      "publisher": "MicrosoftWindowsServer", "sku": "2012-R2-Datacenter", "version":
      "latest"}}, "networkProfile": {"networkInterfaceConfigurations": [{"properties":
      {"primary": "true", "ipConfigurations": [{"properties": {"loadBalancerInboundNatPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}],
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}]},
      "name": "vmss15d6cIPConfig"}]}, "name": "vmss15d6cNic"}]}}, "upgradePolicy":
      {"mode": "Manual"}}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB"], "name": "vmss1", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "sku": {"capacity": 5, "name": "Standard_D1_v2"}, "tags": {}, "location": "westus"}],
      "parameters": {}, "variables": {}, "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'', ''vmss1''),providers(''Microsoft.Compute'',
      ''virtualMachineScaleSets'').apiVersions[0])]"}}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0"}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_and_modify/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Resources/deployments/vmss_deploy_UBMsc67GhepOd1wHW0isrDFvRp4MCQgG","name":"vmss_deploy_UBMsc67GhepOd1wHW0isrDFvRp4MCQgG","properties":{"templateHash":"12579036371324830377","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-12-14T23:11:52.3335461Z","duration":"PT0.6734176S","correlationId":"fec60723-0888-4d24-acbc-dbb8c85a7ea6","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vmss_create_and_modify/providers/Microsoft.Resources/deployments/vmss_deploy_UBMsc67GhepOd1wHW0isrDFvRp4MCQgG/operationStatuses/08586883137738174984?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_and_modify/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586883137738174984?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 5\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss15d6c\",\r\n        \"adminUsername\"\
        : \"myadmin\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\"\
        : true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n  \
        \      \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n    \
        \    \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n     \
        \     \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n    \
        \        \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n     \
        \   },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacenter\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss15d6cNic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        dnsSettings\":{\"dnsServers\":[]},\"ipConfigurations\":[{\"name\":\"vmss15d6cIPConfig\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"1470d9e8-b11d-40e6-b5a8-aa7e8c6cb9bf\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;230,Microsoft.Compute/GetVMScaleSet30Min;1132']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2017-03-30
  response:
    body: {string: '{"value":[{"sku":{"name":"Standard_A0","tier":"Standard","capacity":2},"properties":{"singlePlacementGroup":true,"upgradePolicy":{"mode":"Manual","automaticOSUpgrade":false},"virtualMachineProfile":{"osProfile":{"computerNamePrefix":"vmss9803-vm","adminUsername":"jvuser","linuxConfiguration":{"disablePasswordAuthentication":false},"secrets":[]},"storageProfile":{"osDisk":{"vhdContainers":["https://stg8381.blob.core.windows.net/vhds","https://stg37207.blob.core.windows.net/vhds"],"name":"vmss9803-os-disk","createOption":"FromImage","caching":"ReadWrite"},"imageReference":{"publisher":"Canonical","offer":"UbuntuServer","sku":"16.04.0-LTS","version":"latest"}},"networkProfile":{"networkInterfaceConfigurations":[{"name":"primary-nic-cfg","properties":{"primary":true,"enableAcceleratedNetworking":false,"dnsSettings":{"dnsServers":[]},"ipConfigurations":[{"name":"primary-nic-ip-cfg","properties":{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/javacsmrg720/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1"},"privateIPAddressVersion":"IPv4","loadBalancerBackendAddressPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/javacsmrg720/providers/Microsoft.Network/loadBalancers/extlb1-2374/backendAddressPools/extlb1-2374-BAP1"},{"id[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"\
        name\": \"Standard_D1_v2\",\r\n        \"tier\": \"Standard\",\r\n       \
        \ \"capacity\": 5\r\n      },\r\n      \"properties\": {\r\n        \"singlePlacementGroup\"\
        : true,\r\n        \"upgradePolicy\": {\r\n          \"mode\": \"Manual\"\
        ,\r\n          \"automaticOSUpgrade\": false\r\n        },\r\n        \"virtualMachineProfile\"\
        : {\r\n          \"osProfile\": {\r\n            \"computerNamePrefix\": \"\
        vmss15d6c\",\r\n            \"adminUsername\": \"myadmin\",\r\n          \
        \  \"windowsConfiguration\": {\r\n              \"provisionVMAgent\": true,\r\
        \n              \"enableAutomaticUpdates\": true\r\n            },\r\n   \
        \         \"secrets\": []\r\n          },\r\n          \"storageProfile\"\
        : {\r\n            \"osDisk\": {\r\n              \"createOption\": \"FromImage\"\
        ,\r\n              \"caching\": \"ReadWrite\",\r\n              \"managedDisk\"\
        : {\r\n                \"storageAccountType\": \"Standard_LRS\"\r\n      \
        \        }\r\n            },\r\n            \"imageRe[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/skus?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"Microsoft.Compute/virtualMachineScaleSets\"\
        ,\r\n      \"sku\": {\r\n        \"name\": \"Standard_A0\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\"\
        : 0,\r\n        \"maximum\": 100,\r\n        \"defaultCapacity\": 1,\r\n \
        \       \"scaleType\": \"Automatic\"\r\n      }\r\n    },\r\n    {\r\n   \
        \   \"resourceType\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n \
        \     \"sku\": {\r\n        \"name\": \"Standard_A1\",\r\n        \"tier\"\
        : \"Standard\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\"\
        : 0,\r\n        \"maximum\": 100,\r\n        \"defaultCapacity\": 1,\r\n \
        \       \"scaleType\": \"Automatic\"\r\n      }\r\n    },\r\n    {\r\n   \
        \   \"resourceType\": [...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"2\",\r\
        \n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"\
        latestModelApplied\": true,\r\n        \"vmId\": \"a117b678-77e6-45f8-9b6f-ae234ca25738\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"MicrosoftWindowsServer\",\r\n            \"\
        offer\": \"WindowsServer\",\r\n            \"sku\": \"2012-R2-Datacenter\"\
        ,\r\n            \"version\": \"4.127.20171115\"\r\n          },\r\n     \
        \     \"osDisk\": {\r\n            \"osType\": \"Windows\",\r\n          \
        \  \"name\": \"vmss1_vmss1_2_OsDisk_1_7014668ab59a49c996b9454fab31eb28\",\r\
        \n            \"createOption\": \"FromImage\",\r\n            \"caching\"\
        : \"ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Standard_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/disks/vmss1_vmss1_2_OsDisk_1_7014668ab59a49c996b9454fab31eb28\"\
        \r\n            },\r\n            \"diskSizeGB\": 128\r\n          },\r\n\
        \          \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vmss15d6c000002\",\r\n          \"adminUsername\"\
        : \"myadmin\",\r\n          \"windowsConfiguration\": {\r\n            \"\
        provisionVMAgent\": true,\r\n            \"enableAutomaticUpdates\": true\r\
        \n          },\r\n          \"secrets\": []\r\n        },\r\n        \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/2/networkInterfaces/vmss15d6cNic\"\
        }]},\r\n        \"provisioningState\": \"Updating\"\r\n      },\r\n      \"\
        type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n\
        \      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VMSS_CREATE_AND_MODIFY_2NGD_/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/2\"\
        ,\r\n      \"name\": \"vmss1_2\"\r\n    },\r\n    {\r\n      \"instanceId\"\
        : \"5\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"vmId\": \"6117937e-559f-442a-9cac-40cd27a6f6a8\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"MicrosoftWindowsServer\",\r\n            \"\
        offer\": \"WindowsServer\",\r\n            \"sku\": \"2012-R2-Datacenter\"\
        ,\r\n            \"version\": \"4.127.20171115\"\r\n          },\r\n     \
        \     \"osDisk\": {\r\n            \"osType\": \"Windows\",\r\n          \
        \  \"n[...]
- request:
    body: '{"instanceIds": ["7", "9"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/manualupgrade?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/1ed3587e-1360-41de-9ec0-bc041e1ceba3?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/1ed3587e-1360-41de-9ec0-bc041e1ceba3?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1199,Microsoft.Compute/VmssQueuedVMOperations;1800']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
      x-ms-request-charge: ['0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/1ed3587e-1360-41de-9ec0-bc041e1ceba3?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-14T23:15:04.4185837+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"1ed3587e-1360-41de-9ec0-bc041e1ceba3\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;2130,Microsoft.Compute/GetOperation30Min;17905']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/1ed3587e-1360-41de-9ec0-bc041e1ceba3?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-14T23:15:04.4185837+00:00\",\r\
        \n  \"endTime\": \"2017-12-14T23:16:49.4059287+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"1ed3587e-1360-41de-9ec0-bc041e1ceba3\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;2134,Microsoft.Compute/GetOperation30Min;17892']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/instanceView?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"virtualMachine\": {\r\n    \"statusesSummary\": [\r\n\
        \      {\r\n        \"code\": \"ProvisioningState/succeeded\",\r\n       \
        \ \"count\": 5\r\n      }\r\n    ]\r\n  },\r\n  \"statuses\": [\r\n    {\r\
        \n      \"code\": \"ProvisioningState/succeeded\",\r\n      \"level\": \"\
        Info\",\r\n      \"displayStatus\": \"Provisioning succeeded\",\r\n      \"\
        time\": \"2017-12-14T23:16:49.3590592+00:00\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/HighCostGetVMScaleSet3Min;234,Microsoft.Compute/HighCostGetVMScaleSet30Min;1182']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/poweroff?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/af700726-b84c-4128-9645-24128c332715?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/af700726-b84c-4128-9645-24128c332715?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVMScaleSet3Min;119,Microsoft.Compute/DeleteVMScaleSet30Min;594,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1195,Microsoft.Compute/VmssQueuedVMOperations;1795']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
      x-ms-request-charge: ['5']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/start?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/6a45df19-2d5c-44de-8fc2-226c26bbb673?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/6a45df19-2d5c-44de-8fc2-226c26bbb673?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/VMScaleSetActions3Min;238,Microsoft.Compute/VMScaleSetActions30Min;1198,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1190,Microsoft.Compute/VmssQueuedVMOperations;1795']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['5']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
[...]
