interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['0']
      x-fastly-request-id: [83c97a9e8f5689a34de0cf69e399da1390176254]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01&$filter=roleName%20eq%20%27Contributor%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-12-14T02:04:45.1393855Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {}, "template": {"parameters": {}, "outputs":
      {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss11\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}, "contentVersion": "1.0.0.0", "resources": [{"name": "vmss11VNET",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "type": "Microsoft.Network/virtualNetworks",
      "properties": {"subnets": [{"name": "vmss11Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}, "tags":
      {}}, {"name": "vmss11LBPublicIP", "location": "westus", "apiVersion": "2017-11-01",
      "dependsOn": [], "type": "Microsoft.Network/publicIPAddresses", "sku": {"name":
      "Basic"}, "properties": {"publicIPAllocationMethod": "Dynamic"}, "tags": {}},
      {"name": "vmss11LB", "location": "westus", "apiVersion": "2017-11-01", "dependsOn":
      ["Microsoft.Network/virtualNetworks/vmss11VNET", "Microsoft.Network/publicIpAddresses/vmss11LBPublicIP"],
      "type": "Microsoft.Network/loadBalancers", "sku": {"name": "Basic"}, "properties":
      {"frontendIPConfigurations": [{"name": "loadBalancerFrontEnd", "properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vmss11LBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss11LBNatPool", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''vmss11LB\''),
      \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"}, "frontendPortRangeEnd":
      "50119", "backendPort": 22, "frontendPortRangeStart": "50000", "protocol": "tcp"}}],
      "backendAddressPools": [{"name": "vmss11LBBEPool"}]}, "tags": {}}, {"name":
      "cd58500a-f421-4815-b5cf-a36a1e16c121", "apiVersion": "2015-07-01", "properties":
      {"scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001",
      "principalId": "[reference(\''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss11/providers/Microsoft.ManagedIdentity/Identities/default\'',
      \''2015-08-31-PREVIEW\'').principalId]", "roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"},
      "dependsOn": ["Microsoft.Compute/virtualMachineScaleSets/vmss11"], "type": "Microsoft.Authorization/roleAssignments"},
      {"name": "vmss11", "location": "westus", "identity": {"type": "systemAssigned"},
      "apiVersion": "2017-03-30", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss11VNET",
      "Microsoft.Network/loadBalancers/vmss11LB"], "type": "Microsoft.Compute/virtualMachineScaleSets",
      "sku": {"name": "Standard_D1_v2", "capacity": 1}, "properties": {"upgradePolicy":
      {"mode": "Manual"}, "overprovision": true, "virtualMachineProfile": {"networkProfile":
      {"networkInterfaceConfigurations": [{"name": "vmss1d879Nic", "properties": {"primary":
      "true", "ipConfigurations": [{"name": "vmss1d879IPConfig", "properties": {"loadBalancerInboundNatPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss11LB/inboundNatPools/vmss11LBNatPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vmss11VNET/subnets/vmss11Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss11LB/backendAddressPools/vmss11LBBEPool"}]}}]}}]},
      "extensionProfile": {"extensions": [{"name": "ManagedIdentityExtensionForLinux",
      "properties": {"autoUpgradeMinorVersion": true, "publisher": "Microsoft.ManagedIdentity",
      "settings": {"port": 50342}, "typeHandlerVersion": "1.0", "type": "ManagedIdentityExtensionForLinux"}}]},
      "osProfile": {"adminPassword": "PasswordPassword1!", "computerNamePrefix": "vmss1d879",
      "adminUsername": "admin123"}, "storageProfile": {"imageReference": {"offer":
      "Debian", "sku": "8", "publisher": "credativ", "version": "latest"}, "osDisk":
      {"createOption": "FromImage", "managedDisk": {"storageAccountType": null}, "caching":
      "ReadWrite"}}}, "singlePlacementGroup": true}, "tags": {}}], "variables": {},
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#"},
      "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vmss_deploy_pUbSrUJzHBDewVCaZRHJ5CZwBD41Wy6A","name":"vmss_deploy_pUbSrUJzHBDewVCaZRHJ5CZwBD41Wy6A","properties":{"templateHash":"14877303822124660323","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-12-14T22:41:09.7801646Z","duration":"PT0.7010015S","correlationId":"bf590d5a-a12a-45c4-a56e-ed860ae0e9e5","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleAssignments","locations":[null]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vmss11VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss11VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vmss11LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss11LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss11LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss11LB"},{"dependsOn":[{"id":"/su[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586883156163985047?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss11?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss1d879\",\r\n        \"adminUsername\"\
        : \"admin123\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : false\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\"\
        ,\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\
        \n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n\
        \        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"\
        credativ\",\r\n          \"offer\": \"Debian\",\r\n          \"sku\": \"8\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss1d879Nic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        dnsSettings\":{\"dnsServers\":[]},\"ipConfigurations\":[{\"name\":\"vmss1d879IPConfig\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vmss11VNET/subnets/vmss11Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss11LB/backendAddressPools/vmss11LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss11LB/inboundNatPools/vmss11LBNatPool\"\
        }]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\
        \n          {\r\n            \"properties\": {\r\n              \"publisher\"\
        : \"Microsoft.ManagedIdentity\",\r\n              \"type\": \"ManagedIdentityExtensionForLinux\"\
        ,\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"autoUpgradeMinorVersion\"\
        : true,\r\n              \"settings\": {\"port\":50342}\r\n            },\r\
        \n            \"name\": \"ManagedIdentityExtensionForLinux\"\r\n         \
        \ }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"overprovision\": true,\r\n    \"uniqueId\": \"773b700c-f317-487f-8e7d-dbeee06b4482\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n \
        \   \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"b8cb881c-1a2d-4ae8-9583-2f664acd710e\"\
        ,\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n  },\r\n\
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss11\"\
        ,\r\n  \"name\": \"vmss11\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;232,Microsoft.Compute/GetVMScaleSet30Min;1061']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss11VNET\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vmss11VNET\"\
        ,\r\n      \"etag\": \"W/\\\"733516b7-2601-4cd8-8b8f-850a0b8cb616\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"location\"\
        : \"westus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n      \
        \  \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"62aa6938-14b2-4ac5-834c-7afb69f477a9\"\
        ,\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": [\r\n \
        \           \"10.0.0.0/16\"\r\n          ]\r\n        },\r\n        \"subnets\"\
        : [\r\n          {\r\n            \"name\": \"vmss11Subnet\",\r\n        \
        \    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vmss11VNET/subnets/vmss11Subnet\"\
        ,\r\n            \"etag\": \"W/\\\"733516b7-2601-4cd8-8b8f-850a0b8cb616\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n\
        \              \"ipConfigurations\": [\r\n                {\r\n          \
        \        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss11/virtualMachines/0/networkInterfaces/vmss1d879Nic/ipConfigurations/vmss1d879IPConfig\"\
        \r\n                }\r\n              ]\r\n            }\r\n          }\r\
        \n        ],\r\n        \"virtualNetworkPeerings\": [],\r\n        \"enableDdosProtection\"\
        : false,\r\n        \"enableVmProtection\": false\r\n      }\r\n    }\r\n\
        \  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss11/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01&$filter=roleName%20eq%20%27reader%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"Lets
        you view everything, but not make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-08-19T00:03:56.0652623Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss2?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss24157\",\r\n        \"adminUsername\"\
        : \"admin123\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\"\
        : true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n  \
        \      \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n    \
        \    \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n     \
        \     \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n    \
        \        \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n     \
        \   },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n          \"offer\": \"W[...]
[...]
- request:
    body: 'b''{"location": "westus", "sku": {"tier": "Standard", "name": "Standard_D1_v2",
      "capacity": 1}, "properties": {"upgradePolicy": {"mode": "Manual", "automaticOSUpgrade":
      false}, "overprovision": true, "virtualMachineProfile": {"networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss386beNic", "properties": {"enableAcceleratedNetworking": false,
      "primary": true, "dnsSettings": {"dnsServers": []}, "ipConfigurations": [{"name":
      "vmss386beIPConfig", "properties": {"loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss3LB/inboundNatPools/vmss3LBNatPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vmss11VNET/subnets/vmss11Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/loadBalancers/vmss3LB/backendAddressPools/vmss3LBBEPool"}],
      "privateIPAddressVersion": "IPv4"}}]}}]}, "osProfile": {"linuxConfiguration":
      {"disablePasswordAuthentication": false}, "secrets": [], "computerNamePrefix":
      "vmss386be", "adminUsername": "admin123"}, "storageProfile": {"imageReference":
      {"offer": "Debian", "sku": "8", "publisher": "credativ", "version": "latest"},
      "osDisk": {"createOption": "FromImage", "managedDisk": {"storageAccountType":
      "Standard_LRS"}, "caching": "ReadWrite"}}}, "singlePlacementGroup": true}, "identity":
      {"type": "SystemAssigned"}, "tags": {}}'''
    headers:
      Content-Type: [application/json; chars[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e7189020-4296-4bad-9fca-6266f59749a1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-14T22:52:43.1917808+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"e7189020-4296-4bad-9fca-6266f59749a1\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;2143,Microsoft.Compute/GetOperation30Min;17762']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e7189020-4296-4bad-9fca-6266f59749a1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-14T22:52:43.1917808+00:00\",\r\
        \n  \"endTime\": \"2017-12-14T22:53:58.3187896+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"e7189020-4296-4bad-9fca-6266f59749a1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;2143,Microsoft.Compute/GetOperation30Min;17756']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"principalId": "c5828725-e7b8-47c0-b160-5faf15664668",
      "roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtu[...]
[...]
