interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/microsoft.Compute/virtualMachineScaleSets/vmss1/networkInterfaces?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss1b5adNic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b5adNic\"\
        ,\r\n      \"etag\": \"W/\\\"66989aab-651f-4c72-838a-5257fdbaae6a\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"resourceGuid\": \"35ef6251-b821-4680-8e51-eeae18cf5579\",\r\
        \n        \"ipConfigurations\": [\r\n          {\r\n            \"name\":\
        \ \"vmss1b5adIPConfig\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b5adNic/ipConfigurations/vmss1b5adIPConfig\"\
        ,\r\n            \"etag\": \"W/\\\"66989aab-651f-4c72-838a-5257fdbaae6a\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"privateIPAddress\": \"10.0.0.4\",\r\n\
        \              \"privateIPAllocationMethod\": \"Dynamic\",\r\n           \
        \   \"subnet\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        \r\n              },\r\n              \"primary\": true,\r\n             \
        \ \"privateIPAddressVersion\": \"IPv4\",\r\n              \"loadBalancerBackendAddressPools\"\
        : [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        \r\n                }\r\n              ],\r\n              \"loadBalancerInboundNatRules\"\
        : [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        \r\n                }\r\n              ]\r\n            }\r\n          }\r\
        \n        ],\r\n        \"dnsSettings\": {\r\n          \"dnsServers\": [],\r\
        \n          \"appliedDnsServers\": []\r\n        },\r\n        \"macAddress\"\
        : \"00-0D-3A-33-75-11\",\r\n        \"enableAcceleratedNetworking\": false,\r\
        \n        \"enableIPForwarding\": false,\r\n        \"virtualMachine\": {\r\
        \n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        \r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"vmss1b5adNic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/v[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss1b5adNic\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_nics/providers/microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b5adNic?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"vmss1b5adNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/reso[...]
