interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"0\",\r\
        \n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"\
        latestModelApplied\": true,\r\n        \"vmId\": \"942c27a3-5fdd-49e5-9ab2-8c3e6b5380e6\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"Canonical\",\r\n            \"offer\": \"UbuntuServer\"\
        ,\r\n            \"sku\": \"16.04-LTS\",\r\n            \"version\": \"16.04.201708151\"\
        \r\n          },\r\n          \"osDisk\": {\r\n            \"osType\": \"\
        Linux\",\r\n            \"name\": \"vmss1_vmss1_0_OsDisk_1_1b1c767744bd415fbeb654ad72bcc36f\"\
        ,\r\n            \"createOption\": \"FromImage\",\r\n            \"caching\"\
        : \"ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Standard_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_1b1c767744bd415fbeb654ad72bcc36f\"\
        \r\n            },\r\n            \"diskSizeGB\": 30\r\n          },\r\n \
        \         \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vmss1b2f5000000\",\r\n          \"adminUsername\"\
        : \"admin123\",\r\n          \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\"\
        : false\r\n          },\r\n          \"secrets\": []\r\n        },\r\n   \
        \     \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b2f5Nic\"\
        }]},\r\n        \"provisioningState\": \"Updating\"\r\n      },\r\n      \"\
        type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n\
        \      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VMSS_VMS_GPWX_/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n      \"name\": \"vmss1_0\"\r\n    },\r\n    {\r\n      \"instanceId\"\
        : \"2\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"vmId\": \"f22ffaca-651b-49cb-93e0-b3ed03b77bd4\"\
        ,\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n\
        \            \"publisher\": \"Canonical\",\r\n            \"offer\": \"UbuntuServer\"\
        ,\r\n            \"sku\": \"16.04-LTS\",\r\n            \"version\": \"16.04.201708151\"\
        \r\n          },\r\n          \"osDisk\": {\r\n            \"osType\": \"\
        Linux\",\r\n            \"name\": \"vmss1_vmss1_2_OsDisk_1_e37b[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"instanceId\": \"0\",\r\n  \"sku\": {\r\n    \"name\"\
        : \"Standard_D1_v2\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"latestModelApplied\": true,\r\n    \"vmId\": \"942c27a3-5fdd-49e5-9ab2-8c3e6b5380e6\"\
        ,\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"\
        publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n  \
        \      \"sku\": \"16.04-LTS\",\r\n        \"version\": \"16.04.201708151\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n\
        \        \"name\": \"vmss1_vmss1_0_OsDisk_1_1b1c767744bd415fbeb654ad72bcc36f\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_1b1c767744bd415fbeb654ad72bcc36f\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vmss1b2f5000000\"\
        ,\r\n      \"adminUsername\": \"admin123\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b2f5Nic\"\
        }]},\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n  \"name\": \"vmss1_0\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\
        \n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"vmss1b2f5\"\
        ,\r\n        \"adminUsername\": \"admin123\",\r\n        \"linuxConfiguration\"\
        : {\r\n          \"disablePasswordAuthentication\": false\r\n        },\r\n\
        \        \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n  \
        \      \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n   \
        \       \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n  \
        \          \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n   \
        \     },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\"\
        ,\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"16.04-LTS\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss1b2f5Nic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        dnsSettings\":{\"dnsServers\":[]},\"ipConfigurations\":[{\"name\":\"vmss1b2f5IPConfig\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"4f887f0a-a4ca-4372-b17e-c217279b7469\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB?api-version=2017-08-01
  response:
    body: {string: "{\r\n  \"name\": \"vmss1LB\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB\"\
        ,\r\n  \"etag\": \"W/\\\"4658ceec-6da9-4d11-a5f2-e3cac63e3d7e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"c1a9379c-89bf-4863-b756-a19cdc5c3067\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        loadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"4658ceec-6da9-4d11-a5f2-e3cac63e3d7e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP\"\
        \r\n          },\r\n          \"inboundNatRules\": [\r\n            {\r\n\
        \              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.1\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.2\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.3\"\
        \r\n            }\r\n          ],\r\n          \"inboundNatPools\": [\r\n\
        \            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"vmss1LBBEPool\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        ,\r\n        \"etag\": \"W/\\\"4658ceec-6da9-4d11-a5f2-e3cac63e3d7e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"backendIPConfigurations\": [\r\n            {\r\n       \
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b2f5Nic/ipConfigurations/vmss1b2f5IPConfig\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/vmss1b2f5Nic/ipConfigurations/vmss1b2f5IPConfig\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/2/networkInterfaces/vmss1b2f5Nic/ipConfigurations/vmss1b2f5IPConfig\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/3/networkInterfaces/vmss1b2f5Nic/ipConfigurations/vmss1b2f5IPConfig\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\"\
        : [\r\n      {\r\n        \"name\": \"vmss1LBNatPool.0\",\r\n        \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        ,\r\n        \"etag\": \"W/\\\"4658ceec-6da9-4d11-a5f2-e3cac63e3d7e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        \r\n          },\r\n          \"frontendPort\": 50000,\r\n          \"backendPort\"\
        : 22,\r\n          \"enableFloatingIP\": false,\r\n          \"idleTimeoutInMinutes\"\
        : 4,\r\n          \"protocol\": \"Tcp\",\r\n          \"backendIPConfiguration\"\
        : {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b2f5Nic/ipConfigurations/vmss1b2f5IPConfig\"\
        \r\n          }\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"\
        vmss1LBNatPool.1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP?api-version=2017-08-01
  response:
    body: {string: "{\r\n  \"name\": \"vmss1LBPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"973ac7af-de04-4b4a-8dac-ed471c955ddb\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e7264a24-f3e5-4dcb-936a-d86d85ce51e4\"\
        ,\r\n    \"ipAddress\": \"104.42.190.58\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"973ac7af-de04-4b4a-8dac-ed471c955ddb"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/restart?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/7a0f5004-2705-4e7d-9967-3051c38bfdca?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/7a0f5004-2705-4e7d-9967-3051c38bfdca?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/7a0f5004-2705-4e7d-9967-3051c38bfdca?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-08-23T21:11:01.2870801+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"7a0f5004-2705-4e7d-9967-3051c38bfdca\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/7a0f5004-2705-4e7d-9967-3051c38bfdca?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-08-23T21:11:01.2870801+00:00\",\r\
        \n  \"endTime\": \"2017-08-23T21:11:33.0544418+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"7a0f5004-2705-4e7d-9967-3051c38bfdca\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0/instanceView?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"placementGroupId\": \"f5a042ce-7caf-4bf0-b6d6-e4f89158f65d\"\
        ,\r\n  \"platformUpdateDomain\": 0,\r\n  \"platformFaultDomain\": 0,\r\n \
        \ \"vmAgent\": {\r\n    \"vmAgentVersion\": \"2.2.14\",\r\n    \"statuses\"\
        : [\r\n      {\r\n        \"code\": \"ProvisioningState/succeeded\",\r\n \
        \       \"level\": \"Info\",\r\n        \"displayStatus\": \"Ready\",\r\n\
        \        \"message\": \"Guest Agent is running\",\r\n        \"time\": \"\
        2017-08-23T21:11:43+00:00\"\r\n      }\r\n    ],\r\n    \"extensionHandlers\"\
        : []\r\n  },\r\n  \"disks\": [\r\n    {\r\n      \"name\": \"vmss1_vmss1_0_OsDisk_1_1b1c767744bd415fbeb654ad72bcc36f\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2017-08-23T21:10:19.190939+00:00\"\
        \r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"statuses\": [\r\n    {\r\n\
        \      \"code\": \"ProvisioningState/succeeded\",\r\n      \"level\": \"Info\"\
        ,\r\n      \"displayStatus\": \"Provisioning succeeded\",\r\n      \"time\"\
        : \"2017-08-23T21:11:32.991947+00:00\"\r\n    },\r\n    {\r\n      \"code\"\
        : \"PowerState/starting\",\r\n      \"level\": \"Info\",\r\n      \"displayStatus\"\
        : \"VM starting\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/poweroff?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/99efcc42-b19b-4988-9cf9-68e9fbaf9534?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/99efcc42-b19b-4988-9cf9-68e9fbaf9534?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/start?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/0d256a23-7630-4b29-889c-8ab8a9266530?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/0d256a23-7630-4b29-889c-8ab8a9266530?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/deallocate?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/c8428dd3-54d0-429e-88b3-024a5de6a939?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/c8428dd3-54d0-429e-88b3-024a5de6a939?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/d026a2e2-bf8a-4a7d-a5dc-c2437d24adc7?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/d026a2e2-bf8a-4a7d-a5dc-c2437d24adc7?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 202, message: Accepted}
[...]
