interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [d4a13540-5c60-11e7-b090-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [3bb269b0-5c59-11e7-8e66-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk","name":"cli_test_vm_with_specialized_unmanaged_disk","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Wed, 28 Jun 2017 23:26:37 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['276']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:21:00 GMT']
      expires: ['-1']
      pragma: [no-cache]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: !!python/unicode "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
<<<<<<< HEAD
      accept-ranges: [bytes]
      access-control-allow-origin: ['*']
      cache-control: [max-age=300]
      connection: [close]
      content-length: ['2235']
      content-security-policy: [default-src 'none'; style-src 'unsafe-inline']
      content-type: [text/plain; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:21:01 GMT']
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      expires: ['Thu, 29 Jun 2017 00:26:01 GMT']
      source-age: ['39']
      strict-transport-security: [max-age=31536000]
      vary: ['Authorization,Accept-Encoding, Accept-Encoding']
      via: [1.1 varnish]
      x-cache: [HIT]
      x-cache-hits: ['1']
      x-content-type-options: [nosniff]
      x-fastly-request-id: [b08c08805b1b815a82d63732d993062c08462816]
      x-frame-options: [deny]
      x-geo-block-list: ['']
      x-github-request-id: ['B52E:1A5CF:145DF52:15F12B0:595447C0']
      x-served-by: [cache-sea1028-SEA]
      x-timer: ['S1498695661.467545,VS0,VE0']
      x-xss-protection: [1; mode=block]
=======
      Accept-Ranges: [bytes]
      Access-Control-Allow-Origin: ['*']
      Cache-Control: [max-age=300]
      Connection: [close]
      Content-Length: ['2235']
      Content-Security-Policy: [default-src 'none'; style-src 'unsafe-inline']
      Content-Type: [text/plain; charset=utf-8]
      Date: ['Wed, 28 Jun 2017 23:26:38 GMT']
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Expires: ['Wed, 28 Jun 2017 23:31:38 GMT']
      Source-Age: ['52']
      Strict-Transport-Security: [max-age=31536000]
      Vary: ['Authorization,Accept-Encoding']
      Via: [1.1 varnish]
      X-Cache: [HIT]
      X-Cache-Hits: ['1']
      X-Content-Type-Options: [nosniff]
      X-Fastly-Request-ID: [b19e08c2d37bf67e6f22a8911206fd47e5cf4416]
      X-Frame-Options: [deny]
      X-Geo-Block-List: ['']
      X-GitHub-Request-Id: ['F320:2B03A:17F69A0:18F317C:59543AF9']
      X-Served-By: [cache-dfw1830-DFW]
      X-Timer: ['S1498692398.478734,VS0,VE1']
      X-XSS-Protection: [1; mode=block]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 storagemanagementclient/1.0.0rc1 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [d4cdea8f-5c60-11e7-8f35-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 storagemanagementclient/1.0.0rc1 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [3beb4f30-5c59-11e7-a7b0-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"value":[]}

        '}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json]
      Date: ['Wed, 28 Jun 2017 23:26:38 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-Azure-Storage-Resource-Provider/1.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['13']
      content-type: [application/json]
      date: ['Thu, 29 Jun 2017 00:21:00 GMT']
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-Azure-Storage-Resource-Provider/1.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 networkmanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [d4f1ed4f-5c60-11e7-9b77-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
     [...]
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {}, "variables": {}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "vhdstoragef74ecaee8e0433", "tags": {}, "apiVersion":
      "2015-06-15", "location": "westus", "dependsOn": [], "type": "Microsoft.Storage/storageAccounts",
      "properties": {"accountType": "Premium_LRS"}}, {"name": "vm1VNET", "tags": {},
      "apiVersion": "2015-06-15", "location": "westus", "dependsOn": [], "type": "Microsoft.Network/virtualNetworks",
      "properties": {"subnets": [{"name": "vm1Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}}, {"name":
      "vm1NSG", "tags": {}, "apiVersion": "2015-06-15", "location": "westus", "dependsOn":
      [], "type": "Microsoft.Network/networkSecurityGroups", "properties": {"securityRules":
      [{"name": "default-allow-ssh", "properties": {"access": "Allow", "direction":
      "Inbound", "protocol": "Tcp", "priority": 1000, "destinationPortRange": "22",
      "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "sourcePortRange":
      "*"}}]}}, {"name": "vm1PublicIP", "tags": {}, "apiVersion": "2015-06-15", "location":
      "westus", "dependsOn": [], "type": "Microsoft.Network/publicIPAddresses", "properties":
      {"publicIPAllocationMethod": "dynamic"}}, {"name": "vm1VMNic", "tags": {}, "apiVersion":
      "2015-06-15", "location": "westus", "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "type": "Microsoft.Network/networkInterfaces", "properties": {"networkSecurityGroup":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"},
      "ipConfigurations": [{"name": "ipconfigvm1", "properties": {"subnet": {"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"}}}]}},
      {"name": "vm1", "tags": {}, "apiVersion": "2016-04-30-preview", "location":
      "westus", "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstoragef74ecaee8e0433",
      "Microsoft.Network/networkInterfaces/vm1VMNic"], "type": "Microsoft.Compute/virtualMachines",
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storageProfile":
      {"imageReference": {"sku": "8", "publisher": "credativ", "version": "latest",
      "offer": "Debian"}, "osDisk": {"caching": null, "vhd": {"uri": "https://vhdstoragef74ecaee8e0433.blob.core.windows.net/vhds/osdisk_f74ecaee8e.vhd"},
      "createOption": "fromImage", "name": "osdisk_f74ecaee8e"}}, "osProfile": {"adminUsername":
      "ubuntu", "computerName": "vm1", "adminPassword": "testPassword0"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]}}}]}}}'
=======
    body: '{"properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "parameters": {}, "outputs": {}, "resources": [{"type": "Microsoft.Storage/storageAccounts",
      "properties": {"accountTyp[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [d515c900-5c60-11e7-9fff-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [d515c900-5c60-11e7-9fff-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Resources/deployments/vm_deploy_yX6mWU8OUwdXRkpmnbSDKI4HTjTvGs1Y","name":"vm_deploy_yX6mWU8OUwdXRkpmnbSDKI4HTjTvGs1Y","properties":{"templateHash":"16480346370761686401","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-29T00:24:01.1729356Z","duration":"PT2M58.4835615S","correlationId":"26e37930-9a3d-4535-89dc-8208a47ff2cb","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [42652f00-5c61-11e7-9b84-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2016-04-30-preview&$expand=instanceView
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        da261951-f3cf-4704-8d8e-80f11e6b92ff\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"credativ\"\
        ,\r\n        \"offer\": \"Debian\",\r\n        \"sku\": \"8\",\r\n       \
        \ \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"\
        osType\": \"Linux\",\r\n        \"name\": \"osdisk_f74ecaee8e\",\r\n  [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 networkmanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [429d2ef0-5c61-11e7-a9ec-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
     [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 networkmanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [42c77340-5c61-11e7-aa45-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
     [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [42f1dea1-5c61-11e7-a907-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
     [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [4321a130-5c61-11e7-8ec1-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [988db576-5c59-11e7-905c-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2017-03-30
  response:
    body: {string: !!python/unicode ''}
    headers:
<<<<<<< HEAD
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/c04d77aa-d46a-441d-8504-ece603c4df79?api-version=2016-04-30-preview']
      cache-control: [no-cache]
      content-length: ['0']
      date: ['Thu, 29 Jun 2017 00:24:06 GMT']
      expires: ['-1']
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/c04d77aa-d46a-441d-8504-ece603c4df79?monitor=true&api-version=2016-04-30-preview']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
=======
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/c8d9fd2c-2986-4272-a221-c49fb205a486?api-version=2017-03-30']
      Cache-Control: [no-cache]
      Content-Length: ['0']
      Date: ['Wed, 28 Jun 2017 23:29:14 GMT']
      Expires: ['-1']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/c8d9fd2c-2986-4272-a221-c49fb205a486?monitor=true&api-version=2017-03-30']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [4321a130-5c61-11e7-8ec1-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/c04d77aa-d46a-441d-8504-ece603c4df79?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:24:07.0679243+00:00\"\
        ,\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"c04d77aa-d46a-441d-8504-ece603c4df79\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [4321a130-5c61-11e7-8ec1-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/c04d77aa-d46a-441d-8504-ece603c4df79?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:24:07.0679243+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-29T00:25:57.8685908+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"name\": \"c04d77aa-d46a-441d-8504-ece603c4df79\"\r\
        \n}"}
    headers:
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [988db576-5c59-11e7-905c-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/c8d9fd2c-2986-4272-a221-c49fb205a486?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-28T23:29:14.1162855+00:00\",\r\
        \n  \"endTime\": \"2017-06-28T23:30:14.6421401+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"c8d9fd2c-2986-4272-a221-c49fb205a486\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['184']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:26:07 GMT']
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c3e9c4f0-5c61-11e7-88eb-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm2?api-version=2016-04-30-preview&$expand=instanceView
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        abedb79c-b7f8-4607-b92b-c3dbde676346\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"\
        name\": \"osdisk_f74ecaee8e\",\r\n        \"createOption\": \"Attach\",\r\n\
        \        \"vhd\": {\r\n          \"uri\": \"https://vhdstoragef74ecaee8e0433.blob.core.windows.net/vhds/osdisk_f74ecaee8e.vhd\"\
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [063451ba-5c5a-11e7-8262-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Compute/virtualMachines/vm2?$expand=instanceView&api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"54a9166e-38eb-493c-9581-3d36cfee9f43\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"\
        osType\": \"Linux\",\r\n        \"name\": \"osdisk_853e8c026c\",\r\n     \
        \   \"createOption\": \"Attach\",\r\n        \"vhd\": {\r\n          \"uri\"\
        : \"https://vhdstorage853e8c026c76c2.blob.core.windows.net/vhds/osdisk_853e8c026c.vhd\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_with_specialized_unmanaged_disk/providers/Microsoft.Network/networkInterfaces/vm2VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/Unavailable\"\
        ,\r\n            \"level\": \"Warning\",\r\n            \"displayStatus\"\
        : \"Not Ready\",\r\n            \"message\": \"VM status blob is found but\
<<<<<<< HEAD
        \ not yet populated.\",\r\n            \"time\": \"2017-06-29T00:27:43+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"osdisk_f74ecaee8e\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
        : \"Provisioning succeeded\",\r\n              \"time\": \"2017-06-29T00:26:30.5406598+00:00\"\
        \r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"statuses\"\
        : [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\
        \n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2017-06-29T00:27:19.9784902+00:00\"\
=======
        \ not yet populated.\",\r\n            \"time\": \"2017-06-28T23:32:18+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"osdisk_853e8c026c\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\[...]
[...]
