interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [2ac18f70-5c65-11e7-adb9-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [41d765d0-5d14-11e7-bb99-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_multi_nic_vm?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm","name":"cli_test_multi_nic_vm","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 21:45:23 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['232']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:52:03 GMT']
      expires: ['-1']
      pragma: [no-cache]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: !!python/unicode "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
<<<<<<< HEAD
      accept-ranges: [bytes]
      access-control-allow-origin: ['*']
      cache-control: [max-age=300]
      connection: [close]
      content-length: ['2235']
      content-security-policy: [default-src 'none'; style-src 'unsafe-inline']
      content-type: [text/plain; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:52:04 GMT']
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      expires: ['Thu, 29 Jun 2017 00:57:04 GMT']
      source-age: ['0']
      strict-transport-security: [max-age=31536000]
      vary: ['Authorization,Accept-Encoding, Accept-Encoding']
      via: [1.1 varnish]
      x-cache: [MISS]
      x-cache-hits: ['0']
      x-content-type-options: [nosniff]
      x-fastly-request-id: [3ed80d9786fd309dec561fe61ea24e31cf9772c6]
      x-frame-options: [deny]
      x-geo-block-list: ['']
      x-github-request-id: ['AC7C:1A5D0:11E379F:133C6B7:59544F31']
      x-served-by: [cache-sea1027-SEA]
      x-timer: ['S1498697524.952958,VS0,VE64']
      x-xss-protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {}, "variables": {}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "multinicvm1", "tags": {}, "apiVersion": "2016-04-30-preview",
      "location": "westus", "dependsOn": [], "type": "Microsoft.Compute/virtualMachines",
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS3"}, "storageProfile":
      {"imageReference": {"sku": "16.04-LTS", "publisher": "Canonical", "version":
      "latest", "offer": "UbuntuServer"}, "osDisk": {"caching": null, "managedDisk":
      {"storageAccountType": "Premium_LRS"}, "name": "osdisk_bdf1a394be", "createOption":
      "fromImage"}}, "osProfile": {"adminUsername": "user11", "computerName": "multinicvm1",
      "linuxConfiguration": {"ssh": {"publicKeys": [{"path": "/home/user11/.ssh/authorized_keys",
      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}, "disablePasswordAuthentication": true}}, "networkProfile":
=======
      Accept-Ranges: [bytes]
      Access-Control-Allow-Origin: ['*']
      Cache-Control: [max-age=300]
      Connection: [close]
      Content-Length: ['2235']
      Content-Security-Policy: [default-src 'none'; style-src 'unsafe-inline']
      Content-Type: [text/plain; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 21:45:24 GMT']
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Expires: ['Thu, 29 Jun 2017 21:50:24 GMT']
      Source-Age: ['0']
      Strict-Transport-Security: [max-age=31536000]
      Vary: ['Authorization,Accept-Encoding']
      Via: [1.1 varnish]
      X-Cache: [MISS]
      X-Cache-Hits: ['0']
      X-Content-Type-Options: [nosniff]
      X-Fastly-Request-ID: [171846cca01bbb0f48ab9e8f6ec4a7624c568b63]
      X-Frame-Options: [deny]
      X-Geo-Block-List: ['']
      X-GitHub-Request-Id: ['FD20:2B03D:310F645:33074D4:595574F4']
      X-Served-By: [cache-dfw1822-DFW]
      X-Timer: ['S1498772725.774803,VS0,VE55']
      X-XSS-Protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"dependsOn": [], "apiVersion": "2017-03-30", "properties": {"networkProfile":
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic1",
      "properties": {"primary": true}}, {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic2",
      "properties": {"primary": false}}, {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic3",
      "properties": {"primary": false}}, {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_multi_nic_vm/providers/Mi[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [2afc2770-5c65-11e7-8b21-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_multi_nic_vm/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587029093604203817?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [2afc2770-5c65-11e7-8b21-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_multi_nic_vm/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Resources/deployments/vm_deploy_YaYjplTN9wCrR7ZxMpo5qD9kCNrLiizd","name":"vm_deploy_YaYjplTN9wCrR7ZxMpo5qD9kCNrLiizd","properties":{"templateHash":"15735414453885004676","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-29T00:53:54.3223546Z","duration":"PT1M49.2651258S","correlationId":"d56f6e5f-370f-4f58-aef1-4d8a3dc53d19","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Compute/virtualMachines/multinicvm1"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-i[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [74923280-5c65-11e7-a8bf-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Compute/virtualMachines/multinicvm1?api-version=2016-04-30-preview&$expand=instanceView
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        fac9ecae-7e72-4a9c-b9ea-1982b96cf830\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS3\"\r\n    },\r\n    \"storageProfile\": {\r\
        \n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n\
        \        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04-LTS\",\r\
        \n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n \
        \       \"osType\": \"Linux\",\r\n        \"name\": \"osdisk_bdf1a394be\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Compute/disks/osdisk_bdf1a394be\"\
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 networkmanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [74ccf191-5c65-11e7-a640-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 networkmanagementclient/1.0.0rc3 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [8b9593be-5d14-11e7-954c-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic1?api-version=2017-06-01
  response:
<<<<<<< HEAD
    body: {string: !!python/unicode "{\r\n  \"name\": \"nic1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic1\"\
        ,\r\n  \"etag\": \"W/\\\"a3e10836-68db-453e-a10b-f1beaeea4795\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"a94f57ca-ffe1-4693-b54c-c6d15e64a0b8\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"a3e10836-68db-453e-a10b-f1beaeea4795\\\"\"\
=======
    body: {string: "{\r\n  \"name\": \"nic1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic1\"\
        ,\r\n  \"etag\": \"W/\\\"8e2e984d-48a5-4cad-a14b-565035d578d2\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"cd4b27f8-7bc2-41ff-8482-0bf86e418394\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"8e2e984d-48a5-4cad-a14b-565035d578d2\\\"\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/mysubnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
<<<<<<< HEAD
        internalDomainNameSuffix\": \"odnfizwzfqtedgomb0xb4hhadc.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-36-47-02\",\r\n    \"enableAcceleratedNetworking\"\
=======
        internalDomainNameSuffix\": \"5hmypefgavve1pysm3xo4c502b.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-36-5C-35\",\r\n    \"enableAcceleratedNetworking\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"primary\": true,\r\
        \n    \"virtualMachine\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Compute/virtualMachines/multinicvm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
      content-length: ['1756']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:54:07 GMT']
      etag: [W/"a3e10836-68db-453e-a10b-f1beaeea4795"]
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 21:47:27 GMT']
      ETag: [W/"8e2e984d-48a5-4cad-a14b-565035d578d2"]
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
      content-length: ['1756']
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [755fe2c0-5c65-11e7-b682-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
     [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [7588524f-5c65-11e7-8621-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [8c744ae6-5d14-11e7-b093-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Compute/virtualMachines/multinicvm1/deallocate?api-version=2017-03-30
  response:
<<<<<<< HEAD
    body: {string: !!python/unicode ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/52f4b1bb-d3cb-4518-acba-8cb2fef77fdc?api-version=2016-04-30-preview']
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/52f4b1bb-d3cb-4518-acba-8cb2fef77fdc?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
=======
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/fc8afbd7-fd2c-4ffa-899f-6abb9dfe0784?api-version=2017-03-30']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/operations/fc8afbd7-fd2c-4ffa-899f-6abb9dfe0784?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [7588524f-5c65-11e7-8621-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/52f4b1bb-d3cb-4518-acba-8cb2fef77fdc?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:54:10.2717739+00:00\"\
        ,\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"52f4b1bb-d3cb-4518-acba-8cb2fef77fdc\"\
        \r\n}"}
    headers:
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [8c744ae6-5d14-11e7-b093-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fc8afbd7-fd2c-4ffa-899f-6abb9dfe0784?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-29T21:47:28.8656795+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"fc8afbd7-fd2c-4ffa-899f-6abb9dfe0784\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['134']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:54:39 GMT']
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [7588524f-5c65-11e7-8621-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/52f4b1bb-d3cb-4518-acba-8cb2fef77fdc?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:54:10.2717739+00:00\"\
        ,\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"52f4b1bb-d3cb-4518-acba-8cb2fef77fdc\"\
        \r\n}"}
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [8c744ae6-5d14-11e7-b093-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fc8afbd7-fd2c-4ffa-899f-6abb9dfe0784?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-29T21:47:28.8656795+00:00\",\r\
        \n  \"endTime\": \"2017-06-29T21:49:49.6754331+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"fc8afbd7-fd2c-4ffa-899f-6abb9dfe0784\"\r\n}"}
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"storageProfile":
      {"imageReference": {"sku": "16.04-LTS", "publisher": "Canonical", "version":
      "latest", "offer": "UbuntuServer"}, "osDisk": {"caching": "ReadWrite", "osType":
      "Linux", "managedDisk": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_multi_nic_vm/providers/Microsoft.Compute/disks/osdisk_bdf1a394be"},
      "name": "osdisk_bdf1a394be", "createOption": "fromImage"}, "dataDisks": []},
      "hardwareProfile": {"vmSize": "Standard_DS3"}, "osProfile": {"secrets": [],
      "adminUsername": "user11", "computerName": "multinicvm1", "linuxConfiguration":
      {"ssh": {"publicKeys": [{"path": "/home/user11/.ssh/authorized_keys", "keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9iz[...]
[...]
