interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-07-03T16:07:17Z","showInAddressList":null,"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":null,"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['735034']
      ocp-aad-diagnostics-server-name: [8dKgX5gVBF/WbpYK6Ji037sxCoLcJ1Uj7FRMsNhafCw=]
      ocp-aad-session-key: [J-MSZGuXIzKOKJnww2AbO1PWClqKzVnMwJktYyWCH_zUFHZ-vjWaMXSQEJS7-ye0ipSbYM_9GOpYQu8G5TYko3azilvw-mkXCLCmP2_0BJJuGqhDtJgWOwyiHEY1SN0w.jTpr9Hie8cXmzFxT-jV__RIIpgOgcFbHGNQImGgv918]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "permissions": {"storage": ["get", "list", "delete", "set", "update", "regeneratekey",
      "setsas", "listsas", "getsas", "deletesas"], "keys": ["get", "create", "delete",
      "list", "update", "import", "backup", "restore", "recover"], "secrets": ["get",
      "list", "set", "delete", "backup", "restore", "recover"], "certificates": ["get",
      "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover"]},
      "objectId": "5963f50c-7c43-405c-af7e-53294de76abd"}], "sku": {"name": "standard",
      "family": "A"}, "enabledForTemplateDeployment": true, "enabledForDeployment":
      true, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334","name":"vmcreatelinuxsecret3334","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"],"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmcreatelinuxsecret3334.vault.azure.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "policy": {"key_props": {"kty": "RSA",
      "exportable": true, "key_size": 2048, "reuse_key": false}, "attributes": {"enabled":
      true}, "issuer": {"name": "Self"}, "lifetime_actions": [{"action": {"action_type":
      "AutoRenew"}, "trigger": {"lifetime_percentage": 90}}], "secret_props": {"contentType":
      "application/x-pkcs12"}, "x509_props": {"validity_months": 60, "key_usage":
      ["digitalSignature", "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"attributes": {"enabled": true}, "policy": {"key_props": {"kty": "RSA",
      "exportable": true, "key_size": 2048, "reuse_key": false}, "attributes": {"enabled":
      true}, "issuer": {"name": "Self"}, "lifetime_actions": [{"action": {"action_type":
      "AutoRenew"}, "trigger": {"lifetime_percentage": 90}}], "secret_props": {"contentType":
      "application/x-pkcs12"}, "x509_props": {"validity_months": 60, "key_usage":
      ["digitalSignature", "nonRepudiation", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "subject": "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK2Jpq0OgwfiRbVf5VoJpLrTctBsXBG23iWPIA77wGK1aEXUaVNxd8yJfxKUoEErc8xQRrs1iLbwCggw1I/Rpzsbx1XKKp+/gsnzcNUCM/E17RVfQhpe4CfPXQoMwXt/eYit0dIBwFTZuAwQLAIPfS6rr/qt/43G6eWYduZLCN+bxZDtJTHBSxNIfa1y/4LtkY61ODtHpDsvUAl4EbcwnwQIwAc2aevBfQ/CHy2Uo2533KRmjNNGZ11O2wkG9kuD155aJSsYyTqmRP+RcfoUi6uPLqIGEq1nn44r/mKscspiSeifnWzom8nWWG1t2RYM16EI0WVyGgJgfS4k7YKU35sCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBy1ErGwDJsP/Mh1+WV4cS9+fxbb5K8Lxqt5fKFThsZN97OekDBRqg9KWa63QYT4bukBY1QVqx4td6byXsnBLtiXpSHV2z/7dsGsmzEe8aC9bXAoO6aP1VhEQjaO9SW6hEtFEYZNDvKx/j+o4V6Kbd9SqhOlcrUW1oCXVxus1SoMWDuzS6PAmmoGhPyDak+2Y1cmeXqCPtYZSBiSRFPwiEvdxJ0tVu2qteGXbCxrcGQKxlFqSe62bEW+peQX7s7grvNI0HEAG+yiSUzibnsYChQiQC/kw56fL9QHNTbysffgKpzWgGgGCJXAOBsv0OaF3Pu1h+XfKxvy2HNtNdf9Nv7","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"0b16a870200a485c9a9ab670535bb43e"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01&request_id=0b16a870200a485c9a9ab670535bb43e']
      Retry-After: ['10']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK2Jpq0OgwfiRbVf5VoJpLrTctBsXBG23iWPIA77wGK1aEXUaVNxd8yJfxKUoEErc8xQRrs1iLbwCggw1I/Rpzsbx1XKKp+/gsnzcNUCM/E17RVfQhpe4CfPXQoMwXt/eYit0dIBwFTZuAwQLAIPfS6rr/qt/43G6eWYduZLCN+bxZDtJTHBSxNIfa1y/4LtkY61ODtHpDsvUAl4EbcwnwQIwAc2aevBfQ/CHy2Uo2533KRmjNNGZ11O2wkG9kuD155aJSsYyTqmRP+RcfoUi6uPLqIGEq1nn44r/mKscspiSeifnWzom8nWWG1t2RYM16EI0WVyGgJgfS4k7YKU35sCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBy1ErGwDJsP/Mh1+WV4cS9+fxbb5K8Lxqt5fKFThsZN97OekDBRqg9KWa63QYT4bukBY1QVqx4td6byXsnBLtiXpSHV2z/7dsGsmzEe8aC9bXAoO6aP1VhEQjaO9SW6hEtFEYZNDvKx/j+o4V6Kbd9SqhOlcrUW1oCXVxus1SoMWDuzS6PAmmoGhPyDak+2Y1cmeXqCPtYZSBiSRFPwiEvdxJ0tVu2qteGXbCxrcGQKxlFqSe62bEW+peQX7s7grvNI0HEAG+yiSUzibnsYChQiQC/kw56fL9QHNTbysffgKpzWgGgGCJXAOBsv0OaF3Pu1h+XfKxvy2HNtNdf9Nv7","cancellation_requested":false,"status":"completed","target":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1","request_id":"0b16a870200a485c9a9ab670535bb43e"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/32e6611df80c42e983eb8ec0e7c9e08c","managed":true,"attributes":{"enabled":false,"nbf":1499283284,"exp":1657050284,"created":1499283885,"updated":1499283885,"recoverylevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/fae2d73d31ff41349b872c45f112f62a","managed":true,"attributes":{"enabled":true,"nbf":1499283294,"exp":1657050294,"created":1499283895,"updated":1499283895,"recoverylevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334","name":"vmcreatelinuxsecret3334","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation/providers/Microsoft.KeyVault/vaults/cliautomationlab837","name":"cliautomationlab837","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"3a15f90b-94b4-4b91-bbc4-683af08d7931","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation01/providers/Microsoft.KeyVault/vaults/cliautomationlab5400","name":"cliautomationlab5400","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"5be3960e-e2bb-447b-86a9-20ccd5c60fee","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangwe/providers/Microsoft.KeyVault/vaults/yugangwe-keyvault","name":"yugangwe-keyvault","type":"Microsoft.KeyVault/vaults","location":"westcentralus","tags":{}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets","name":"cli_test_vmss_create_linux_secrets","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/images/Debian?api-version=2017-03-30
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/images/Debian''
        under resource group ''cli_test_vmss_create_linux_secrets'' was not
        found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['49']
      X-Fastly-Request-ID: [06c9c1903cb77e1fa93c6b0336d14397f1b34fa4]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks?api-version=2017-06-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"parameters": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1-name''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}},
      "resources": [{"tags": {}, "location": "westus", "type": "Microsoft.Network/virtualNetworks",
      "dependsOn": [], "properties": {"subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "vmss1-nameSubnet"}], "addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}, "name": "vmss1-nameVNET", "apiVersion": "2015-06-15"}, {"tags":
      {}, "location": "westus", "type": "Microsoft.Network/publicIPAddresses", "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "dynamic"}, "name": "vmss1-nameLBPublicIP",
      "apiVersion": "2015-06-15"}, {"tags": {}, "location": "westus", "type": "Microsoft.Network/loadBalancers",
      "dependsOn": ["Microsoft.Network/publicIpAddresses/vmss1-nameLBPublicIP"], "properties":
      {"frontendIPConfigurations": [{"properties": {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "inboundNatPools": [{"properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1-nameLB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "frontendPortRangeEnd":
      "50119", "protocol": "tcp", "frontendPortRangeStart": "50000", "backendPort":
      22}, "name": "vmss1-nameLBNatPool"}], "backendAddressPools": [{"name": "vmss1-nameLBBEPool"}]},
      "name": "vmss1-nameLB", "apiVersion": "2015-06-15"}, {"tags": {}, "sku": {"capacity":
      2, "name": "Standard_D1_v2", "tier": "Standard"}, "location": "westus", "type":
      "Microsoft.Compute/virtualMachineScaleSets", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1-nameVNET",
      "Microsoft.Network/loadBalancers/vmss1-nameLB"], "properties": {"overprovision":
      true, "upgradePolicy": {"mode": "Manual"}, "singlePlacementGroup": true, "virtualMachineProfile":
      {"storageProfile": {"osDisk": {"createOption": "FromImage", "managedDisk": {"storageAccountType":
      "Standard_LRS"}, "caching": "ReadWrite"}, "imageReference": {"sku": "8", "offer":
      "Debian", "version": "latest", "publisher": "credativ"}}, "osProfile": {"adminUsername":
      "deploy", "computerNamePrefix": "vmss14581", "linuxConfiguration": {"disablePasswordAuthentication":
      true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n", "path": "/home/deploy/.ssh/authorized_keys"}]}}, "secrets":
      [{"vaultCertificates": [{"certificateUrl": "https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/fae2d73d31ff41349b872c45f112f62a"}],
      "sourceVault": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334"}}]},
      "networkProfile": {"networkInterfaceConfigurations": [{"properties": {"primary":
      "true", "ipConfigurations": [{"properties": {"loadBalancerInboundNatPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/inboundNatPools/vmss1-nameLBNatPool"}],
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET/subnets/vmss1-nameSubnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/backendAddressPools/vmss1-nameLBBEPool"}]},
      "name": "vmss14581IPConfig"}]}, "name": "vmss14581Nic"}]}}}, "name": "vmss1-name",
      "apiVersion": "2017-03-30"}], "contentVersion": "1.0.0.0", "variables": {}},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_1LSbB4jkZmCWtdwR7HwK3y6tpqfPeOQl","name":"vmss_deploy_1LSbB4jkZmCWtdwR7HwK3y6tpqfPeOQl","properties":{"templateHash":"11327565455545842942","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-07-05T19:45:09.2364832Z","duration":"PT0.2282466S","correlationId":"29fa6014-9488-410e-bd4f-97cb2eda1acc","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1-nameLBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1-name"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_1LSbB4jkZmCWtdwR7HwK3y6tpqfPeOQl/operationStatuses/08587023229764693878?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587023229764693878?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \[...]
