interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-diskattach-test?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"1d94ff6f-9069-4d8c-9ba4-b0ee2f9e8ee3\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"OpenLogic\",\r\n        \"offer\": \"CentOS\",\r\n\
        \        \"sku\": \"7.3\",\r\n        \"version\": \"latest\"\r\n      },\r\
        \n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\"\
        : \"osdisk_JZtUhT0lRs\",\r\n        \"createOption\": \"FromImage\",\r\n \
        \       \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n    \
        \      \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/disks/osdisk_JZtUhT0lRs\"\
        \r\n        },\r\n        \"diskSizeGB\": 31\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-diskattach-test\"\
        ,\r\n      \"adminUsername\": \"admin123\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-diskattach-testVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-diskattach-test\"\
        ,\r\n  \"name\": \"vm-diskattach-test\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"osProfile": {"linuxConfiguration": {"disablePasswordAuthentication":
      false}, "computerName": "vm-diskattach-test", "adminUsername": "admin123", "secrets":
      []}, "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "storageProfile": {"dataDisks":
      [{"createOption": "empty", "diskSizeGB": 1, "lun": 0, "name": "d1", "caching":
      "ReadOnly"}], "imageReference": {"version": "latest", "offer": "CentOS", "publisher":
      "OpenLogic", "sku": "7.3"}, "osDisk": {"osType": "Linux", "diskSizeGB": 31,
      "managedDisk": {"storageAccountType": "Premium_LRS", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-test-disk/providers/Microsoft.Compute/disks/osdisk_JZtUhT0lRs"},
      "name": "osdisk_JZtUhT0lRs", "createOption": "fromImage", "caching": "ReadWrite"}},
      "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-diskattach-testVMNic"}]}},
      "tags": {}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-diskattach-test?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"1d94ff6f-9069-4d8c-9ba4-b0ee2f9e8ee3\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/84738e27-acde-46eb-a81b-2882211d8aeb?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-05-30T19:56:16.3540601+00:00\",\r\
        \n  \"endTime\": \"2017-05-30T19:56:42.7134481+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"84738e27-acde-46eb-a81b-2882211d8aeb\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
