interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_managed_disk?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk","name":"cli_test_managed_disk","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"diskSizeGB": 1,
      "accountType": "Premium_LRS", "creationData": {"createOption": "Empty"}}, "tags":
      {"tag1": "d1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"accountType\"\
        : \"Premium_LRS\",\r\n    \"creationData\": {\r\n      \"createOption\": \"\
        Empty\"\r\n    },\r\n    \"diskSizeGB\": 1,\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"isArmResource\": true\r\n  },\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {\r\n    \"tag1\": \"d1\"\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/04072def-b56a-4a88-a4aa-cb2c3daa13f4?api-version=2016-04-30-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/04072def-b56a-4a88-a4aa-cb2c3daa13f4?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/04072def-b56a-4a88-a4aa-cb2c3daa13f4?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:46:08.4030374+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-29T00:46:08.5280231+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"properties\"\
        :{\"accountType\":\"Premium_LRS\",\"creationData\":{\"createOption\":\"Empty\"\
        },\"diskSizeGB\":1,\"timeCreated\":\"2017-06-29T00:46:08.4186271+00:00\",\"\
        provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\":\"\
        Microsoft.Compute/disks\",\"location\":\"westus\",\"tags\":{\"tag1\":\"d1\"\
        },\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1\"\
        ,\"name\":\"d1\"}\r\n  },\r\n  \"name\": \"04072def-b56a-4a88-a4aa-cb2c3daa13f4\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"accountType": "Premium_LRS",
      "creationData": {"sourceResourceId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1",
      "createOption": "Copy"}}, "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d2?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/2e3f92e2-1f4a-4587-b678-7dae6865133c?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:47:11.2607815+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-29T00:47:11.9796967+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"properties\"\
        :{\"accountType\":\"Premium_LRS\",\"creationData\":{\"createOption\":\"Copy\"\
        ,\"sourceUri\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1\"\
        },\"diskSizeGB\":10,\"timeCreated\":\"2017-06-29T00:47:11.276398+00:00\",\"\
        provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\":\"\
        Microsoft.Compute/disks\",\"location\":\"westus\",\"tags\":{},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d2\"\
        ,\"name\":\"d2\"}\r\n  },\r\n  \"name\": \"2e3f92e2-1f4a-4587-b678-7dae6865133c\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"diskSizeGB": 1,
      "accountType": "Premium_LRS", "creationData": {"createOption": "Empty"}}, "tags":
      {"tag1": "s1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s1?api-version=2016-04-30-preview
  response:
  [...]
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"diskSizeGB": 1,
      "accountType": "Standard_LRS", "creationData": {"createOption": "Empty"}}, "tags":
      {"tag1": "s1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s1?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"accountType\"\
        : \"Standard_LRS\",\r\n    \"creationData\": {\r\n      \"createOption\":\
        \ \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 1,\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"isArmResource\": true,\r\n    \"faultDomain\": 0\r\
        \n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"tag1\": \"\
        s1\"\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/b729836d-7724-479f-9c23-e422dde1acc1?api-version=2016-04-30-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/b729836d-7724-479f-9c23-e422dde1acc1?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/d1?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode '{"error":{"code":"ResourceNotFound","message":"The
        Resource ''Microsoft.Compute/snapshots/d1'' under resource group ''cli_test_managed_disk''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/virtualMachines/s1?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode '{"error":{"code":"ResourceNotFound","message":"The
        Resource ''Microsoft.Compute/virtualMachines/s1'' under resource group ''cli_test_managed_disk''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"storageProfile":
      {"osDisk": {"osType": "Linux", "osState": "Generalized", "snapshot": {"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s1"}},
      "dataDisks": [{"snapshot": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s2"},
      "lun": 1}, {"managedDisk": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1"},
      "lun": 2}, {"managedDisk": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d2"},
      "lun": 3}]}}, "tags": {"tag1": "i1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/images/i1?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"storageProfile\"\
        : {\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"\
        osState\": \"Generalized\",\r\n        \"snapshot\": {\r\n          \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s1\"\
        \r\n        },\r\n        \"caching\": \"None\"\r\n      },\r\n      \"dataDisks\"\
        : [\r\n        {\r\n          \"lun\": 1,\r\n          \"snapshot\": {\r\n\
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s2\"\
        \r\n          },\r\n          \"caching\": \"None\"\r\n        },\r\n    \
        \    {\r\n          \"lun\": 2,\r\n          \"managedDisk\": {\r\n      \
        \      \"id\": \"/subscriptions/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/19979a9d-5520-4216-b927-b42e2d603de3?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:49:20.2428521+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-29T00:49:25.3836179+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"name\": \"19979a9d-5520-4216-b927-b42e2d603de3\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
