interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [559c216e-5c64-11e7-877f-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [98850e18-5d08-11e7-a9a7-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_managed_disk?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk","name":"cli_test_managed_disk","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 20:21:55 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['232']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:46:05 GMT']
      expires: ['-1']
      pragma: [no-cache]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"location": "westus", "properties": {"diskSizeGB": 1,
      "accountType": "Premium_LRS", "creationData": {"createOption": "Empty"}}, "tags":
      {"tag1": "d1"}}'
=======
    body: '{"sku": {"name": "Premium_LRS"}, "location": "westus", "properties": {"diskSizeGB":
      1, "creationData": {"createOption": "Empty"}}, "tags": {"tag1": "d1"}}'
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [55c0e780-5c64-11e7-9f62-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [98a108cc-5d08-11e7-ab3a-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1?api-version=2017-03-30
  response:
<<<<<<< HEAD
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"accountType\"\
        : \"Premium_LRS\",\r\n    \"creationData\": {\r\n      \"createOption\": \"\
        Empty\"\r\n    },\r\n    \"diskSizeGB\": 1,\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"isArmResource\": true\r\n  },\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {\r\n    \"tag1\": \"d1\"\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/04072def-b56a-4a88-a4aa-cb2c3daa13f4?api-version=2016-04-30-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/04072def-b56a-4a88-a4aa-cb2c3daa13f4?monitor=true&api-version=2016-04-30-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
=======
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n\
        \  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\"\
        : \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 1,\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"isArmResource\": true\r\n  },\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {\r\n    \"tag1\": \"d1\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/ef97b4eb-9dc2-4df2-807a-fc284e462f24?api-version=2017-03-30']
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westus/DiskOperations/ef97b4eb-9dc2-4df2-807a-fc284e462f24?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [55c0e780-5c64-11e7-9f62-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/04072def-b56a-4a88-a4aa-cb2c3daa13f4?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:46:08.4030374+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-29T00:46:08.5280231+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"properties\"\
        :{\"accountType\":\"Premium_LRS\",\"creationData\":{\"createOption\":\"Empty\"\
        },\"diskSizeGB\":1,\"timeCreated\":\"2017-06-29T00:46:08.4186271+00:00\",\"\
        provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\":\"\
        Microsoft.Compute/disks\",\"location\":\"westus\",\"tags\":{\"tag1\":\"d1\"\
        },\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1\"\
        ,\"name\":\"d1\"}\r\n  },\r\n  \"name\": \"04072def-b56a-4a88-a4aa-cb2c3daa13f4\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [98a108cc-5d08-11e7-ab3a-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/ef97b4eb-9dc2-4df2-807a-fc284e462f24?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-29T20:21:58.3142143+00:00\",\r\
        \n  \"endTime\": \"2017-06-29T20:21:58.4548456+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"sku\":{\"name\"\
        :\"Premium_LRS\",\"tier\":\"Premium\"},\"properties\":{\"creationData\":{\"\
        createOption\":\"Empty\"},\"diskSizeGB\":1,\"timeCreated\":\"2017-06-29T20:21:58.3142143+00:00\"\
        ,\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\"\
        :\"Microsoft.Compute/disks\",\"location\":\"westus\",\"tags\":{\"tag1\":\"\
        d1\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1\"\
        ,\"name\":\"d1\"}\r\n  },\r\n  \"name\": \"ef97b4eb-9dc2-4df2-807a-fc284e462f24\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"diskSizeGB": 10,
      "accountType": "Standard_LRS", "creationData": {"createOption": "Empty"}}, "tags":
      {"tag1": "d1"}}'
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 20:22:27 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
      content-length: ['569']
    status: {code: 200, message: OK}
[...]
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"location": "westus", "properties": {"accountType": "Premium_LRS",
      "creationData": {"sourceResourceId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1",
=======
    body: '{"sku": {"name": "Premium_LRS"}, "location": "westus", "properties": {"creationData":
      {"sourceResourceId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1",
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      "createOption": "Copy"}}, "tags": {}}'
    headers:
      [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [7b4cb880-5c64-11e7-9578-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/2e3f92e2-1f4a-4587-b678-7dae6865133c?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T00:47:11.2607815+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-29T00:47:11.9796967+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"properties\"\
        :{\"accountType\":\"Premium_LRS\",\"creationData\":{\"createOption\":\"Copy\"\
        ,\"sourceUri\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1\"\
        },\"diskSizeGB\":10,\"timeCreated\":\"2017-06-29T00:47:11.276398+00:00\",\"\
        provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\":\"\
        Microsoft.Compute/disks\",\"location\":\"westus\",\"tags\":{},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/dis[...]
[...]
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"location": "westus", "properties": {"diskSizeGB": 1,
      "accountType": "Premium_LRS", "creationData": {"createOption": "Empty"}}, "tags":
      {"tag1": "s1"}}'
=======
    body: '{"sku": {"name": "Premium_LRS"}, "location": "westus", "properties": {"diskSizeGB":
      1, "creationData": {"createOption": "Empty"}}, "tags": {"tag1": "s1"}}'
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    headers:
      Content-Type: [application/json; char[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [b42d6b8f-5c64-11e7-aafc-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [f6aaa602-5d08-11e7-bf74-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/d1?api-version=2017-03-30
  response:
<<<<<<< HEAD
    body: {string: !!python/unicode '{"error":{"code":"ResourceNotFound","message":"The
        Resource ''Microsoft.Compute/snapshots/d1'' under resource group ''cli_test_managed_disk''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
=======
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/snapshots/d1''
        under resource group ''cli_test_managed_disk'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c79d9dd1-5c64-11e7-9a8c-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
     [...]
[...]
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"location": "westus", "properties": {"storageProfile":
      {"osDisk": {"osType": "Linux", "osState": "Generalized", "snapshot": {"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s1"}},
      "dataDisks": [{"snapshot": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s2"},
=======
    body: '{"location": "westus", "properties": {"storageProfile": {"osDisk": {"osState":
      "Generalized", "snapshot": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s1"},
      "osType": "Linux"}, "dataDisks": [{"snapshot": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s2"},
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      "lun": 1}, {"managedDisk": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d1"},
      "lun": 2}, {"managedDisk": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/disks/d2"},
      "lun": 3}]}}, "tags": {"tag1": "i1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c84cf0a1-5c64-11e7-810d-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-0000000000[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c84cf0a1-5c64-11e7-810d-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [0a418346-5d09-11e7-a3d7-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/images/i1?api-version=2017-03-30
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"storageProfile\"\
        : {\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"\
        osState\": \"Generalized\",\r\n        \"snapshot\": {\r\n          \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s1\"\
        \r\n        },\r\n        \"caching\": \"None\"\r\n      },\r\n      \"dataDisks\"\
        : [\r\n        {\r\n          \"lun\": 1,\r\n          \"snapshot\": {\r\n\
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_managed_disk/providers/Microsoft.Compute/snapshots/s2\"\
        \r\n          },\r\n          \"caching\": \"None\"\r\n        },\r\n    \
        \    {\r\n          \"lun\": 2,\r\n          \"managedDisk\": {\r\n      \
        \      \"id\": \"/subscriptions/[...]
