interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 subscriptionclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c87d6c3e-5d26-11e7-bfe7-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 subscriptionclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [85558ec8-5d13-11e7-9dff-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
<<<<<<< HEAD
      Date: ['Thu, 29 Jun 2017 23:58:01 GMT']
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Expires: ['Fri, 30 Jun 2017 00:03:01 GMT']
      Source-Age: ['148']
      Strict-Transport-Security: [max-age=31536000]
      Vary: ['Authorization,Accept-Encoding, Accept-Encoding']
      Via: [1.1 varnish]
      X-Cache: [HIT]
      X-Cache-Hits: ['1']
      X-Content-Type-Options: [nosniff]
      X-Fastly-Request-ID: [4b7b8e2e32f3df1e8f39cc2c5b7b41caa14f5c96]
      X-Frame-Options: [deny]
      X-Geo-Block-List: ['']
      X-GitHub-Request-Id: ['7408:1EC89:1D098:1F517:59559374']
      X-Served-By: [cache-sea1030-SEA]
      X-Timer: ['S1498780681.433910,VS0,VE1']
=======
      Date: ['Thu, 29 Jun 2017 21:40:08 GMT']
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Expires: ['Thu, 29 Jun 2017 21:45:08 GMT']
      Source-Age: ['0']
      Strict-Transport-Security: [max-age=31536000]
      Vary: ['Authorization,Accept-Encoding']
      Via: [1.1 varnish]
      X-Cache: [MISS]
      X-Cache-Hits: ['0']
      X-Content-Type-Options: [nosniff]
      X-Fastly-Request-ID: [6c1cf9571a26505cdd9601fffc7578dcfc5faaf2]
      X-Frame-Options: [deny]
      X-Geo-Block-List: ['']
      X-GitHub-Request-Id: ['E3E2:2B03D:310A6F4:3302188:595573B7']
      X-Served-By: [cache-dfw1822-DFW]
      X-Timer: ['S1498772408.439294,VS0,VE59']
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      X-XSS-Protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c8a71998-5d26-11e7-a96c-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [8598d79e-5d13-11e7-b239-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage","namespace":"Microsoft.Storage","authorization":{"applicationId":"a6aa9161-5291-40bb-8c5c-923b567bee3b","roleDefinitionId":"070ab87f-0efc-4423-b18b-756f3bdb0236"},"resourceTypes":[{"resourceType":"storageAccounts","locations":["East
        US","East US 2","East US 2 (Stage)","West US","West Europe","East Asia","Southeast
        Asia","Japan East","Japan West","North Central US","South Central US","Central
        US","North Europe","Brazil South","Australia East","Australia Southeast","South
        India","Central India","West India","Canada East","Canada Central","West US
        2","West Central US","UK South","UK West","Korea Central","Korea South"],"apiVersions":["2017-06-01","2016-12-01","2016-05-01","2016-01-01","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-01-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"},{"resourceType":"operations","locations":[],"apiVersions":["2017-06-01","2016-12-01","2016-05-01","2016-01-01","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-01-01"}]},{"resourceType":"storageAccounts/listAccountSas","locations":[],"apiVersions":["2017-06-01","2016-12-01","2016-05-01"]},{"resourceType":"storageAccounts/listServiceSa[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c8bc3048-5d26-11e7-86f4-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing_ids/providers/Microsoft.Storage/storageAccounts/dummystorage?api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Storage/storageAccounts/vcrstorage01234560","kind":"Storage","location":"westus","name":"vcrstorage01234560","properties":{"creationTime":"2017-06-29T23:57:09.5761693Z","primaryEndpoints":{"blob":"https://vcrstorage01234560.blob.core.windows.net/","file":"https://vcrstorage01234560.file.core.windows.net/","queue":"https://vcrstorage01234560.queue.core.windows.net/","table":"https://vcrstorage01234560.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [85a73706-5d13-11e7-8644-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing_[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c8dac594-5d26-11e7-893e-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
 [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c8f3a754-5d26-11e7-92bc-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [85d3cb86-5d13-11e7-a6ff-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing_ids/providers/Microsoft.Compute/availabilitySets/vrfavailset?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 3,\r\n    \"platformFaultDomainCount\": 3,\r\n    \"virtualMachines\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Compute/availabilitySets/vrfavailset\"\
        ,\r\n  \"name\": \"vrfavailset\",\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\
        \r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      Date: ['Thu, 29 Jun 2017 23:58:01 GMT']
=======
      Date: ['Thu, 29 Jun 2017 21:40:08 GMT']
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
      content-length: ['458']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c9231b7e-5d26-11e7-acb7-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
 [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c93d5fb4-5d26-11e7-b778-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [861d0f8a-5d13-11e7-9b35-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/virtualNetworks/vrfvnet?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"vrfvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/virtualNetworks/vrfvnet\"\
<<<<<<< HEAD
        ,\r\n  \"etag\": \"W/\\\"084c952a-fa2a-4aef-8895-665956156aed\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"caff3991-7b3f-4ffc-b2ee-15693fed8793\"\
=======
        ,\r\n  \"etag\": \"W/\\\"16947c15-a626-470a-9d40-a80148d202e2\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"8ffbe576-5803-41cd-ab7f-2420aa88d6a4\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"vrfsubnet\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet\"\
<<<<<<< HEAD
        ,\r\n        \"etag\": \"W/\\\"084c952a-fa2a-4aef-8895-665956156aed\\\"\"\
=======
        ,\r\n        \"etag\": \"W/\\\"16947c15-a626-470a-9d40-a80148d202e2\\\"\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      Date: ['Thu, 29 Jun 2017 23:58:02 GMT']
      ETag: [W/"084c952a-fa2a-4aef-8895-665956156aed"]
=======
      Date: ['Thu, 29 Jun 2017 21:40:09 GMT']
      ETag: [W/"16947c15-a626-470a-9d40-a80148d202e2"]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
      content-length: ['1096']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [c979a01c-5d26-11e7-a9e9-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
 [...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ca4419b0-5d26-11e7-9153-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
 [...]
- request:
<<<<<<< HEAD
    body: '{"properties": {"parameters": {}, "template": {"resources": [{"properties":
      {"networkSecurityGroup": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/networkSecurityGroups/vrfnsg"},
      "ipConfigurations": [{"name": "ipconfigvrfvm", "properties": {"subnet": {"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet"},
      "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/publicIpAddresses/vrfpubip"},
      "privateIPAllocationMethod": "Dynamic"}}]}, "tags": {}, "location": "westus",
      "type": "Microsoft.Network/networkInterfaces", "name": "vrfvmVMNic", "apiVersion":
      "2015-06-15", "dependsOn": []}, {"properties": {"storageProfile": {"imageReference":
      {"publisher": "Canonical", "sku": "16.04-LTS", "version": "latest", "offer":
      "UbuntuServer"}, "osDisk": {"createOption": "fromImage", "caching": null, "name":
      "vrfosdisk", "vhd": {"uri": "https://vcrstorage01234560.blob.core.windows.net/vrfcontainer/vrfosdisk.vhd"}}},
      "availabilitySet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Compute/availabilitySets/vrfavailset"},
      "hardwareProfile": {"vmSize": "Standard_DS2"}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic"}]},
      "osProfile": {"computerName": "vrfvm", "adminUsername": "user11", "linuxConfiguration":
      {"disablePasswordAuthentication": true, "ssh": {"publicKeys": [{"path": "/home/user11/.ssh/authorized_keys",
      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}}}, "tags": {}, "location": "westus", "type": "Microsoft.Compute/virtualMachines",
      "name": "vrfvm", "apiVersion": "2016-04-30-preview", "dependsOn": ["Microsoft.Network/networkInterfaces/vrfvmVMNic"]}],
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "contentVersion": "1.0.0.0", "variables": {}, "outputs": {}},
=======
    body: '{"properties": {"parameters": {}, "template": {"parameters": {}, "resources":
      [{"location": "westus", "properties": {"networkSecurityGroup": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/networkSecurityGroups/vrfnsg"},
      "ipConfigurations": [{"name": "ipconfigvrfvm", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ca760fee-5d26-11e7-b8a4-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ca760fee-5d26-11e7-b8a4-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing_ids/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Resources/deployments/vm_deploy_5dbZKkv8JkzgaGB14oTotHVF26ukXXWB","name":"vm_deploy_5dbZKkv8JkzgaGB14oTotHVF26ukXXWB","properties":{"templateHash":"14164808230662824837","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-29T23:59:56.6930536Z","duration":"PT1M51.6059587S","correlationId":"c67912ea-7833-439c-aa2a-b723f3064575","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vrfvmVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Compute/virtualMachines/vrfvm","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vrfvm"}],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Compute/virtualMachines/vrfvm"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
       [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/3.5.1 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [140cb478-5d27-11e7-926e-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [d0ab5f9a-5d13-11e7-bbe5-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Compute/virtualMachines/vrfvm?$expand=instanceView&api-version=2017-03-30
  response:
<<<<<<< HEAD
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"ac9b0c2a-6746-4039-ae4a-fb6abefe00a6\"\
=======
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"3cdfef0f-0dcf-4b35-948e-7ac0c166d3a0\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        ,\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Compute/availabilitySets/VRFAVAILSET\"\
        \r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\
        \r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n\
        \        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"vrfosdisk\",\r\n        \"createOption\": \"FromImage\"\
<<<<<<< HEAD
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vcrstorage01234560.blob.core.windows.net/vrfcontainer/vrfosdisk.vhd\"\
=======
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vcrstorage01234569.blob.core.windows.net/vrfcontainer/vrfosdisk.vhd\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"vrfvm\",\r\n      \"adminUsername\": \"user11\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": true,\r\n        \"ssh\"\
        : {\r\n          \"publicKeys\": [\r\n            {\r\n              \"path\"\
        : \"/home/user11/.ssh/authorized_keys\",\r\n              \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\r\n            }\r\n          ]\r\n        }\r\n \
        \     },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"\
        networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing_ids/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"platformUpdateDomain\": 0,\r\n      \"platformFaultDomain\"\
        : 0,\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.14\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
<<<<<<< HEAD
        \       \"time\": \"2017-06-30T00:00:07+00:00\"\r\n          }\r\n       \
=======
        \       \"time\": \"2017-06-29T21:42:13+00:00\"\r\n          }\r\n       \
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"vrfosdisk\",\r\n          \"statuses\"\
        : [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n              \"level\": \"Info\",\r\n              \"displayStatus\"\
[...]
