interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [deb4c38f-5c5a-11e7-b5ba-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [455165a6-5d0a-11e7-80a2-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set","name":"cli_test_avail_set","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 20:33:54 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['226']
      content-type: [application/json; charset=utf-8]
      date: ['Wed, 28 Jun 2017 23:38:20 GMT']
      expires: ['-1']
      pragma: [no-cache]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {}, "variables": {}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"sku": {"name": "Aligned"}, "name": "availset-test", "tags":
      {}, "apiVersion": "2016-04-30-preview", "location": "westus", "type": "Microsoft.Compute/availabilitySets",
      "properties": {"platformFaultDomainCount": 2}}]}}}'
=======
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "resources": [{"properties": {"platformFaultDomainCount":
      2}, "location": "westus", "name": "availset-test", "tags": {}, "sku": {"name":
      "Aligned"}, "apiVersion": "2017-03-30", "type": "Microsoft.Compute/availabilitySets"}],
      "contentVersion": "1.0.0.0", "variables": {}, "outputs": {}}, "parameters":
      {}, "mode": "Incremental"}}'
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [dec53e4f-5c5a-11e7-82c2-a0b3ccf7272a]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/av_set_deploy_HKD7pDak4DCkXiXp1TWGav7ySwlyyjxZ","name":"av_set_deploy_HKD7pDak4DCkXiXp1TWGav7ySwlyyjxZ","properties":{"templateHash":"14717614697666857638","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-28T23:38:22.2070216Z","duration":"PT0.4487254S","correlationId":"206d6583-a2f3-4452-b055-e9ae10a50b78","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/av_set_deploy_HKD7pDak4DCkXiXp1TWGav7ySwlyyjxZ/operationStatuses/08587029137837193180?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_a[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [dec53e4f-5c5a-11e7-82c2-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [dec53e4f-5c5a-11e7-82c2-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/av_set_deploy_HKD7pDak4DCkXiXp1TWGav7ySwlyyjxZ","name":"av_set_deploy_HKD7pDak4DCkXiXp1TWGav7ySwlyyjxZ","properties":{"templateHash":"14717614697666857638","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-28T23:38:29.3617247Z","duration":"PT7.6034285S","correlationId":"206d6583-a2f3-4452-b055-e9ae10a50b78","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-i[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [f200a4f0-5c5a-11e7-b84c-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [58869170-5d0a-11e7-9739-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test?api-version=2017-03-30
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 5,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test\"\
        ,\r\n  \"name\": \"availset-test\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\
        \r\n  }\r\n}"}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 20:34:26 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['449']
      content-type: [application/json; charset=utf-8]
      date: ['Wed, 28 Jun 2017 23:38:52 GMT']
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
[...]
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {}, "variables": {}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"sku": {"name": "Aligned"}, "name": "avset2", "tags": {}, "apiVersion":
      "2016-04-30-preview", "location": "westus", "type": "Microsoft.Compute/availabilitySets",
      "properties": {"platformFaultDomainCount": 2, "platformUpdateDomainCount": 2}}]}}}'
=======
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "resources": [{"properties": {"platformUpdateDomainCount":
      2, "platformFaultDomainCount": 2}, "location": "westus", "name": "avset2", "tags":
      {}, "sku": {"name": "Aligned"}, "apiVersion": "2017-03-30", "type": "Microsoft.Compute/availabilitySets"}],
      "contentVersion": "1.0.0.0", "variables": {}, "outputs":[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [05533d0f-5c5b-11e7-bad5-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
     [...]
[...]
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"sku": {"name": "Aligned"}, "location": "westus", "properties":
      {"platformFaultDomainCount": 2, "virtualMachines": [], "platformUpdateDomainCount":
      5}, "tags": {"test": "success"}}'
=======
    body: '{"properties": {"virtualMachines": [], "platformUpdateDomainCount": 5,
      "platformFaultDomainCount": 2}, "location": "westus", "tags": {"test": "success"},
      "sku": {"name": "Aligned"}}'
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Az[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [0632044f-5c5b-11e7-9d1c-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [6cda6b5a-5d0a-11e7-a808-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets?api-version=2017-03-30
  response:
    body: {string: !!python/unicode "{\r\n  \"value\": [\r\n    {\r\n      \"properties\"\
        : {\r\n        \"platformUpdateDomainCount\": 5,\r\n        \"platformFaultDomainCount\"\
        : 2,\r\n        \"virtualMachines\": []\r\n      },\r\n      \"type\": \"\
        Microsoft.Compute/availabilitySets\",\r\n      \"location\": \"westus\",\r\
        \n      \"tags\": {\r\n        \"test\": \"success\"\r\n      },\r\n     \
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [0657669e-5c5b-11e7-95dd-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [6cfb317e-5d0a-11e7-9fd4-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test/vmSizes?api-version=2017-03-30
  response:
<<<<<<< HEAD
    body: {string: !!python/unicode "{\r\n  \"value\": [\r\n    {\r\n      \"name\"\
        : \"Standard_DS1_v2\",\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 7168,\r\n      \"memoryInMB\"\
        : 3584,\r\n      \"maxDataDiskCount\": 4\r\n    },\r\n    {\r\n      \"name\"\
        : \"Standard_DS2_v2\",\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 14336,\r\n      \"memoryInMB\"\
        : 7168,\r\n      \"maxDataDiskCount\": 8\r\n    },\r\n    {\r\n      \"name\"\
        : \"Standard_DS3_v2\",\r\n      \"numberOfCores\": 4,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 28672,\r\n      \"memoryInMB\"\
        : 14336,\r\n      \"maxDataDiskCount\": 16\r\n    },\r\n    {\r\n      \"\
        name\": \"Standard_DS4_v2\",\r\n      \"numberOfCores\": 8,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 57344,\r\n      \"memoryInMB\"\
        : 28672,\r\n      \"maxDataDiskCount\": 32\r\n    },\r\n    {\r\n      \"\
        name\": \"Standard_DS5_v2\",\r\n      \"numberOfCores\": 16,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 114688,\r\n      \"memoryInMB\"\
        : 57344,\r\n      \"maxDataDiskCount\": 64\r\n    },\r\n    {\r\n      \"\
        name\": \"Standard_DS11_v2\",\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\"\
=======
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_DS1_v2\"\
        ,\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 7168,\r\n      \"memoryInMB\": 3584,\r\n\
        \      \"maxDataDiskCount\": 4\r\n    },\r\n    {\r\n      \"name\": \"Standard_DS2_v2\"\
        ,\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 14336,\r\n      \"memoryInMB\": 7168,\r\n\
        \      \"maxDataDiskCount\": 8\r\n    },\r\n    {\r\n      \"name\": \"Standard_DS3_v2\"\
        ,\r\n      \"numberOfCores\": 4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\":[...]
[...]
