interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['218']
      x-fastly-request-id: [9e16369b9f23852c460897d78d4286825fb5d87d]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-09-06T17:11:13Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['522389']
      ocp-aad-diagnostics-server-name: [XZZhkzlE3oBkIQVB+wQnvi7mbmSLDUoik6doGquKkr4=]
      ocp-aad-session-key: [_r5qeznmF0t1nRq3DGQKxh1VA6fyMIjeIw8D12MVAucCpURfVEbYRtN8Ty_CI45v3ax61QoBBkhFkVnLOI_FajSP7dGY-10NqkbS947BjbB79tTpTSlIdbHbzHLI7Prb.Xvr2T8WxYbQeCzc0EsLzc5GjzxxbJHELWbxDludTmY8]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"enabledForTemplateDeployment": true, "sku": {"family":
      "A", "name": "standard"}, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "accessPolicies": [{"objectId": "5963f50c-7c43-405c-af7e-53294de76abd", "permissions":
      {"storage": ["get", "list", "delete", "set", "update", "regeneratekey", "setsas",
      "listsas", "getsas", "deletesas"], "keys": ["get", "create", "delete", "list",
      "update", "import", "backup", "restore", "recover"], "secrets": ["get", "list",
      "set", "delete", "backup", "restore", "recover"], "certificates": ["get", "list",
      "delete", "create", "import", "update", "managecontacts", "getissuers", "listissuers",
      "setissuers", "deleteissuers", "manageissuers", "recover"]}, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}],
      "enabledForDeployment": true}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002","name":"vmkeyvault000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"],"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmkeyvault000002.vault.azure.net"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "policy": {"lifetime_actions": [{"action":
      {"action_type": "AutoRenew"}, "trigger": {"lifetime_percentage": 90}}], "issuer":
      {"name": "Self"}, "key_props": {"reuse_key": false, "exportable": true, "key_size":
      2048, "kty": "RSA"}, "attributes": {"enabled": true}, "x509_props": {"subject":
      "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com",
      "validity_months": 60, "key_usage": ["digitalSignature", "nonRepudiation", "keyEncipherment",
      "keyAgreement", "keyCertSign"]}, "secret_props": {"contentType": "application/x-pkcs12"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"attributes": {"enabled": true}, "policy": {"lifetime_actions": [{"action":
      {"action_type": "AutoRenew"}, "trigger": {"lifetime_percentage": 90}}], "issuer":
      {"name": "Self"}, "key_props": {"reuse_key": false, "exportable": true, "key_size":
      2048, "kty": "RSA"}, "attributes": {"enabled": true}, "x509_props": {"subject":
      "C=US, ST=WA, L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com",
      "validity_months": 60, "key_usage": ["digitalSignature", "nonRepudiation", "keyEncipherment",
      "keyAgreement", "keyCertSign"]}, "secret_props": {"contentType": "application/x-pkcs12"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK0u95VGSTrJTiDizqHDY/VLx/31ixgYQS8uClwG9I22oLEXCXbH0emNzdUr9/Q/TKKB7MZI8Cvxh+yuYO/F9w10ShUmT3kCK4ZgN9/wqB1yAylS2aEWf8mvLCWAepVnBLgeAnOYVe9XkKuamEEIoMbCH2tvCC1KpnPv3QEZaxSXcQ6DbkPqn+OQN1ZpYXpZygc3VTYQQsFF5WYmbb1TXs1dB0pwRkHEwdZwnqz81WCl+zLRHt5FYao2DXk3eQfOOtYl2eFYLiWV8ixc7t/4x0AC6E//8NMAOV8EDPpKzNCJhnbL1kIKJie2TATmr5qMwznbErihUNfMqZn1yDDnjykCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBI8Mm2EiR8gJ+SKp4DnK/gXsSLaHpnFQgD6sMEOZBb3SwT52rFRyD2ruJJq/GUSbl2koMjCFha6sjMqvrYRDgddGpXeOoxuUg3a+fR1gylPVq3PlYvoJXkppQ3Fb1mHp9BpLhSreLqGkllb5oRZ/spijlnqGdT5yISWKyYFBSu41NMCP8DaQJtvK5uXRux/8DyDYq49A19et3U3+yMVjhCpakD8BmUcP6x+trcs5pxv3z+5OUVo2Lrh25Dmw9DQrdxigLfnqPKg2v9hojawGx1TOX8JZzLgnCN+r5rdf+2p4jh3QUzdpYyqwOHwIyNVKPZ7wrrjoVc9jZa0jltLilz","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"e258bf668c3b4fa29cf46b4684ae3bd7"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01&request_id=e258bf668c3b4fa29cf46b4684ae3bd7']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAg[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmkeyvault000002.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK0u95VGSTrJTiDizqHDY/VLx/31ixgYQS8uClwG9I22oLEXCXbH0emNzdUr9/Q/TKKB7MZI8Cvxh+yuYO/F9w10ShUmT3kCK4ZgN9/wqB1yAylS2aEWf8mvLCWAepVnBLgeAnOYVe9XkKuamEEIoMbCH2tvCC1KpnPv3QEZaxSXcQ6DbkPqn+OQN1ZpYXpZygc3VTYQQsFF5WYmbb1TXs1dB0pwRkHEwdZwnqz81WCl+zLRHt5FYao2DXk3eQfOOtYl2eFYLiWV8ixc7t/4x0AC6E//8NMAOV8EDPpKzNCJhnbL1kIKJie2TATmr5qMwznbErihUNfMqZn1yDDnjykCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBI8Mm2EiR8gJ+SKp4DnK/gXsSLaHpnFQgD6sMEOZBb3SwT52rFRyD2ruJJq/GUSbl2koMjCFha6sjMqvrYRDgddGpXeOoxuUg3a+fR1gylPVq3PlYvoJXkppQ3Fb1mHp9BpLhSreLqGkllb5oRZ/spijlnqGdT5yISWKyYFBSu41NMCP8DaQJtvK5uXRux/8DyDYq49A19et3U3+yMVjhCpakD8BmUcP6x+trcs5pxv3z+5OUVo2Lrh25Dmw9DQrdxigLfnqPKg2v9hojawGx1TOX8JZzLgnCN+r5rdf+2p4jh3QUzdpYyqwOHwIyNVKPZ7wrrjoVc9jZa0jltLilz","cancellation_requested":false,"status":"completed","target":"https://vmkeyvault000002.vault.azure.net/certificates/cert1","request_id":"e258bf668c3b4fa29cf46b4684ae3bd7"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmkeyvault000002.vault.azure.net/secrets/cert1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmkeyvault000002.vault.azure.net/secrets/cert1/503531a1330c4298a850bbcd1ec5d63b","managed":true,"attributes":{"enabled":false,"nbf":1505775038,"exp":1663542038,"created":1505775639,"updated":1505775639,"recoveryLevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmkeyvault000002.vault.azure.net/secrets/cert1/eeea303a1872484b8669f77fd2dc0758","managed":true,"attributes":{"enabled":true,"nbf":1505775053,"exp":1663542053,"created":1505775653,"updated":1505775653,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2015-11-01&$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation/providers/Microsoft.KeyVault/vaults/cliautomationlab786","name":"cliautomationlab786","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"9f45d4bf-7e01-4684-9438-37c712728db1","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation01/providers/Microsoft.KeyVault/vaults/cliautomationlab6073","name":"cliautomationlab6073","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"72f1b266-2a21-4f0a-af01-934c93c72e6e","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002","name":"vmkeyvault000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw/providers/Microsoft.KeyVault/vaults/yugangw-keyvault","name":"yugangw-keyvault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw-canary/providers/Microsoft.KeyVault/vaults/yugangw-cananry-keyvault","name":"yugangw-cananry-keyvault","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "outputs": {}, "contentVersion": "1.0.0.0", "variables": {},
      "resources": [{"type": "Microsoft.Network/virtualNetworks", "name": "vm-nameVNET",
      "tags": {}, "properties": {"subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vm-nameSubnet"}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "apiVersion": "2015-06-15", "location": "westus", "dependsOn": []}, {"dependsOn":
      [], "name": "vm-nameNSG", "type": "Microsoft.Network/networkSecurityGroups",
      "tags": {}, "properties": {"securityRules": [{"properties": {"priority": 1000,
      "protocol": "Tcp", "destinationPortRange": "3389", "sourcePortRange": "*", "destinationAddressPrefix":
      "*", "direction": "Inbound", "access": "Allow", "sourceAddressPrefix": "*"},
      "name": "rdp"}]}, "apiVersion": "2015-06-15", "location": "westus"}, {"dependsOn":
      [], "name": "vm-namePublicIP", "type": "Microsoft.Network/publicIPAddresses",
      "tags": {}, "properties": {"publicIPAllocationMethod": "dynamic"}, "apiVersion":
      "2017-09-01", "location": "westus"}, {"dependsOn": ["Microsoft.Network/virtualNetworks/vm-nameVNET",
      "Microsoft.Network/networkSecurityGroups/vm-nameNSG", "Microsoft.Network/publicIpAddresses/vm-namePublicIP"],
      "name": "vm-nameVMNic", "type": "Microsoft.Network/networkInterfaces", "tags":
      {}, "properties": {"networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG"},
      "ipConfigurations": [{"properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET/subnets/vm-nameSubnet"},
      "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP"}},
      "name": "ipconfigvm-name"}]}, "apiVersion": "2015-06-15", "location": "westus"},
      {"dependsOn": ["Microsoft.Network/networkInterfaces/vm-nameVMNic"], "name":
      "vm-name", "type": "Microsoft.Compute/virtualMachines", "tags": {}, "properties":
      {"osProfile": {"adminUsername": "windowsUser", "computerName": "vm-name", "adminPassword":
      "VerySecret!12", "secrets": [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002"},
      "vaultCertificates": [{"certificateUrl": "https://vmkeyvault000002.vault.azure.net/secrets/cert1/eeea303a1872484b8669f77fd2dc0758",
      "certificateStore": "My"}]}]}, "networkProfile": {"networkInterfaces": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic"}]},
      "storageProfile": {"imageReference": {"offer": "WindowsServer", "sku": "2012-R2-Datacenter",
      "publisher": "MicrosoftWindowsServer", "version": "latest"}, "osDisk": {"createOption":
      "fromImage", "managedDisk": {"storageAccountType": null}, "name": null, "caching":
      null}}, "hardwareProfile": {"vmSize": "Standard_DS1_v2"}}, "apiVersion": "2017-03-30",
      "location": "westus"}]}, "parameters": {}, "mode": "Incremental"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_fgYnCXJZW6wFS4g0V2V3JeVj0TvD3siC","name":"vm_deploy_fgYnCXJZW6wFS4g0V2V3JeVj0TvD3siC","properties":{"templateHash":"7870186099228278434","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-09-18T23:01:03.9669157Z","duration":"PT0.7295645S","correlationId":"8075c8a2-216a-4134-99de-1584660df975","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm-nameNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-nameNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm-namePublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-namePublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-nameVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm-name","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-name"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_fgYnCXJZW6wFS4g0V2V3JeVj0TvD3siC/operationStatuses/08586958312222402792?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586958312222402792?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_fgYnCXJZW6wFS4[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm-name?$expand=instanceView&api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"4975aff3-49bc-434a-8b21-f81c59cd39cd\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"\
        WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"\
        version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Windows\",\r\n        \"name\": \"vm-name_OsDisk_1_7471e6b0da7641cba8faa6d6d65f743f\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm-name_OsDisk_1_7471e6b0da7641cba8faa6d6d65f743f\"\
        \r\n        },\r\n        \"diskSizeGB\": 128\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-name\"\
        ,\r\n      \"adminUsername\": \"windowsUser\",\r\n      \"windowsConfiguration\"\
        : {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\"\
        : true\r\n      },\r\n      \"secrets\": [\r\n        {\r\n          \"sourceVault\"\
        : {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/vmkeyvault000002\"\
        \r\n          },\r\n          \"vaultCertificates\": [\r\n            {\r\n\
        \              \"certificateUrl\": \"https://vmkeyvault000002.vault.azure.net/secrets/cert1/eeea303a1872484b8669f77fd2dc0758\"\
        ,\r\n              \"certificateStore\": \"My\"\r\n            }\r\n     \
        \     ]\r\n        }\r\n      ]\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm-nameVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/Unavailable\"\
        ,\r\n            \"level\": \"Warning\",\r\n            \"displayStatus\"\
        : \"Not Ready\",\r\n            \"message\": \"VM status blob is found but\
        \ not yet populated.\",\r\n            \"time\": \"2017-09-18T23:04:34+00:00\"\
        \r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n       \
        \ {\r\n          \"name\": \"vm-name_OsDisk_1_7471e6b0da7641cba8faa6d6d65f743f\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2017-09-18T23:01:15.6157234+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n         \
        \ \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n          \"time\": \"2017-09-18T23:04:03.9136586+00:00\"\r\n       \
        \ },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n     \
        \     \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\
        \n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm-name\"\
        ,\r\n  \"name\": \"vm-name\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
[...]
