interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001","name":"cli_test_vmss_create_w_ips000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"testnsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg\"\
        ,\r\n  \"etag\": \"W/\\\"7c17a9df-67d4-4112-b8c3-ffca7ad8cf20\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"13556126-10ea-48f8-b188-65b9734140fa\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"7c17a9df-67d4-4112-b8c3-ffca7ad8cf20\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\":\
        \ [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\"\
        : [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n   \
        \   },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\
        \n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"7c17a9df-67d4-4112-b8c3-ffca7ad8cf20\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningS[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/240cc040-a89a-437f-9710-c07d0045ae9a?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['0']
      x-fastly-request-id: [af5ccfd308d5e0fd848304a3d181bdd830fd259d]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"properties": {"mode": "Incremental", "template": {"contentVersion":
      "1.0.0.0", "outputs": {"VMSS": {"value": "[reference(resourceId(\\\''Microsoft.Compute/virtualMachineScaleSets\\\'',
      \\\''vmss1\\\''),providers(\\\''Microsoft.Compute\\\'', \\\''virtualMachineScaleSets\\\'').apiVersions[0])]",
      "type": "object"}}, "resources": [{"properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vmss1Subnet"}]}, "dependsOn": [], "tags": {}, "name": "vmss1VNET",
      "type": "Microsoft.Network/virtualNetworks", "apiVersion": "2015-06-15", "location":
      "westus"}, {"sku": {"name": "Basic"}, "properties": {"publicIPAllocationMethod":
      "Dynamic"}, "dependsOn": [], "tags": {}, "name": "vmss1LBPublicIP", "type":
      "Microsoft.Network/publicIPAddresses", "apiVersion": "2017-11-01", "location":
      "westus"}, {"sku": {"name": "Basic"}, "properties": {"backendAddressPools":
      [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "inboundNatPools": [{"properties": {"frontendPortRangeStart":
      "50000", "frontendPortRangeEnd": "50119", "backendPort": 22, "protocol": "tcp",
      "frontendIPConfiguration": {"id": "[concat(resourceId(\\\''Microsoft.Network/loadBalancers\\\'',
      \\\''vmss1LB\\\''), \\\''/frontendIPConfigurations/\\\'', \\\''loadBalancerFrontEnd\\\'')]"}},
      "name": "vmss1LBNatPool"}]}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"], "tags": {}, "name":
      "vmss1LB", "type": "Microsoft.Network/loadBalancers", "apiVersion": "2017-11-01",
      "location": "westus"}, {"sku": {"capacity": 2, "name": "Standard_D1_v2"}, "properties":
      {"overprovision": true, "singlePlacementGroup": true, "virtualMachineProfile":
      {"osProfile": {"computerNamePrefix": "vmss1353a", "linuxConfiguration": {"ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n", "path": "/home/clittester/.ssh/authorized_keys"}]},
      "disablePasswordAuthentication": true}, "adminUsername": "clittester"}, "storageProfile":
      {"imageReference": {"sku": "8", "publisher": "credativ", "version": "latest",
      "offer": "Debian"}, "osDisk": {"managedDisk": {"storageAccountType": null},
      "createOption": "FromImage", "caching": "ReadWrite"}}, "networkProfile": {"networkInterfaceConfigurations":
      [{"properties": {"networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg"},
      "ipConfigurations": [{"properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "publicipaddressconfiguration": {"properties": {"dnsSettings": {"domainNameLabel":
      "clivmss000002"}, "idleTimeoutInMinutes": 10}, "name": "instancepublicip"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}],
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}]},
      "name": "vmss1353aIPConfig"}], "dnsSettings": {"dnsServers": ["10.0.0.6", "10.0.0.5"]},
      "primary": "true"}, "name": "vmss1353aNic"}]}}, "upgradePolicy": {"mode": "manual"}},
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/loadBalancers/vmss1LB"],
      "tags": {}, "name": "vmss1", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "apiVersion": "2017-12-01", "location": "westus"}], "variables": {}, "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}}, "parameters": {}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/vmss_deploy_vZtwtRfnR2nm5HGy9PEsxJOCKkAY8YGv","name":"vmss_deploy_vZtwtRfnR2nm5HGy9PEsxJOCKkAY8YGv","properties":{"templateHash":"1638960937744884881","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-01-04T21:28:08.2773221Z","duration":"PT0.6748761S","correlationId":"48188f8d-969b-4018-b69b-26e0f5b8b1b2","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/vmss_deploy_vZtwtRfnR2nm5HGy9PEsxJOCKkAY8YGv/operationStatuses/08586865055978751798?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586865055978751798?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Resources/depl[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss1353a\",\r\n        \"adminUsername\"\
        : \"clittester\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n     \
        \         {\r\n                \"path\": \"/home/clittester/.ssh/authorized_keys\"\
        ,\r\n                \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\r\n              }\r\n            ]\r\n          }\r\
        \n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\"\
        ,\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\
        \n            \"storageAccountType\": \"Standard_LRS\"\r\n          }\r\n\
        \        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"\
        credativ\",\r\n          \"offer\": \"Debian\",\r\n          \"sku\": \"8\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss1353aNic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        networkSecurityGroup\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/networkSecurityGroups/testnsg\"\
        },\"dnsSettings\":{\"dnsServers\":[\"10.0.0.6\",\"10.0.0.5\"]},\"enableIPForwarding\"\
        :false,\"ipConfigurations\":[{\"name\":\"vmss1353aIPConfig\",\"properties\"\
        :{\"publicIPAddressConfiguration\":{\"name\":\"instancepublicip\",\"properties\"\
        :{\"idleTimeoutInMinutes\":10,\"ipTags\":[],\"dnsSettings\":{\"domainNameLabel\"\
        :\"clivmss000002\"}}},\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"7d5f6045-4980-42f4-9d7f-94c42cd5465c\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;194,Microsoft.Compute/GetVMScaleSet30Min;949']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/publicipaddresses?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"instancepublicip\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1353aNic/ipConfigurations/vmss1353aIPConfig/publicIPAddresses/instancepublicip\"\
        ,\r\n      \"etag\": \"W/\\\"6851cc6e-e74a-43a0-b7bb-2d9e2ffd6ff7\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"resourceGuid\": \"da3e398e-d496-41ef-a472-9bcc22e4873c\",\r\
        \n        \"publicIPAddressVersion\": \"IPv4\",\r\n        \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n        \"idleTimeoutInMinutes\": 10,\r\n        \"dnsSettings\"\
        : {\r\n          \"domainNameLabel\": \"vm0.clivmss000002\",\r\n         \
        \ \"fqdn\": \"vm0.clivmss000002.westus.cloudapp.azure.com\"\r\n        },\r\
        \n        \"ipConfiguration\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1353aNic/ipConfigurations/vmss1353aIPConfig\"\
        \r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"instancepublicip\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_w_ips000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/vmss1353aNic/ipConfigurations/vmss1353aIPConfig/publicIPAddresses/instancepublicip\"\
        ,\r\n      \"etag\": \"W/\\\"c46cdb95-fc87-4493-b132-231622c25540\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"resourceGuid\": \"5caf232a-8ef9-454d-826d-1c615bebff2b\",\r\
        \n        \"ipAddress\": \"104.210.41.0\",\r\n        \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n        \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \
        \    \"idleTimeoutInMinutes\": 10,\r\n        \"dnsSettings\": {\r\n     \
        \     \"domainNameLabel\": \"vm1.clivmss000002\",\r\n          \"fqdn\": \"\
        vm1.clivmss000002.westus.cloudapp.azure.com\"\r\n        },\r\n        \"\
        ipConfiguration\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/reso[...]
[...]
