interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-07-03T16:07:17Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['2047109']
      ocp-aad-diagnostics-server-name: [zQeduCGWMMrNq1oCm52i7oSfjI5x6HwndIRXPe0iL68=]
      ocp-aad-session-key: [taKFPgQNZzKEOayO_zQguaR-JFR_LfHtZrtZpdia1K6QbhBB0iK6bg4RY9SmiecgyBORHotj0ndbNk9ja9EKspV9SOzKeLbVBBKbZ_lX-ZSP10QaqWLMlMW2uo0EkX4F.obEcAlU_Vwlo5Drxxt9UYBqyvJOqXacKM25P6ukuczE]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"sku": {"family": "A", "name": "standard"},
      "enabledForTemplateDeployment": true, "accessPolicies": [{"objectId": "5963f50c-7c43-405c-af7e-53294de76abd",
      "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "permissions": {"certificates":
      ["get", "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover"], "keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "storage": ["get", "list", "delete", "set", "update", "regeneratekey",
      "setsas", "listsas", "getsas", "deletesas"]}}], "enabledForDeployment": true,
      "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334","name":"vmcreatelinuxsecret3334","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://vmcreatelinuxsecret3334.vault.azure.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: '{"policy": {"key_props": {"kty": "RSA", "exportable": true, "reuse_key":
      false, "key_size": 2048}, "x509_props": {"key_usage": ["digitalSignature", "nonRepudiation",
      "keyEncipherment", "keyAgreement", "keyCertSign"], "subject": "C=US, ST=WA,
      L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com", "validity_months":
      60}, "issuer": {"name": "Self"}, "lifetime_actions": [{"action": {"action_type":
      "AutoRenew"}, "trigger": {"lifetime_percentage": 90}}], "secret_props": {"contentType":
      "application/x-pkcs12"}, "attributes": {"enabled": true}}, "attributes": {"enabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"key_props": {"kty": "RSA", "exportable": true, "reuse_key":
      false, "key_size": 2048}, "x509_props": {"key_usage": ["digitalSignature", "nonRepudiation",
      "keyEncipherment", "keyAgreement", "keyCertSign"], "subject": "C=US, ST=WA,
      L=Redmon, O=Test Noodle, OU=TestNugget, CN=www.mytestdomain.com", "validity_months":
      60}, "issuer": {"name": "Self"}, "lifetime_actions": [{"action": {"action_type":
      "AutoRenew"}, "trigger": {"lifetime_percentage": 90}}], "secret_props": {"contentType":
      "application/x-pkcs12"}, "attributes": {"enabled": true}}, "attributes": {"enabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJp9PmEMNSaxjmtksi8wIJ7eTG4JmWY62tuZjyhaaAks8wqNuyqRY2m9LsbZ6uOHWWwUtoMBYKRrtQ+gDd//9kkIhio6LEvUiE/eCrAU2KY+L3Eg3HcK1O1UEQ6MQTdjwLtGU9q89VpqognCEv0jCpmCAf8ZNkqnK8aqImMBlg9xUF16FCahFvkh1MRQAnyd26dyxmIZS+BI48dsEari29X/4t5jS+vt71L2m4AKHvPjZuEnXbVginH9XPff6kgnv2PrtzAm0MZ3iq/2z9pHJn/9hGuWfj1WI0MaLA/0HIIr4aoaEE57PuDhv/7Yv3asdt0Xo8lR4CQwpAZesY2OZUkCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAK4MqUJJhAcxaFOk/Tpy+e9+gwD8bxGm+bUpAEJqqwV/QTnSUxEFOAr+ZOWcxGGIS3u/W97vH/tgn3CYuUInDa+v3zvoeCUt9ZldWfmZKAOJ4kG2wb4+Lf4wUJoPmbMf+t/TyhFgcmJziYQlvS/wfqJtvsQnc/PmN5OQgqpAcBsY1kw8ShnUKIvxXLhKT5ucGnyABU2F3NuB1ri+4Iqg4e31FffIYKqa5a0boP21kMX/LTAXrTcazcJwQJKvrf98M6T8llfzCf73nw21Jjy/hG1Ol/bpkf5bn6CGi2j5Iw6Anbbm6VNpi7EEXT/zOK/DcpX/46e1pT9nKZj/FJOjyF","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"fa36b2d7520d4e62af2ed117b84e42ba"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01&request_id=fa36b2d7520d4e62af2ed117b84e42ba']
      Retry-After: ['10']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1/pending","issuer":{"name":"Self"},"csr":"MIIDBTCCAe0CAQAwdTEdMBsGA1UEAxMUd3d3Lm15dGVzdGRvbWFpbi5jb20xEzARBgNVBAsTClRlc3ROdWdnZXQxFDASBgNVBAoTC1Rlc3QgTm9vZGxlMQ8wDQYDVQQHEwZSZWRtb24xCzAJBgNVBAgTAldBMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJp9PmEMNSaxjmtksi8wIJ7eTG4JmWY62tuZjyhaaAks8wqNuyqRY2m9LsbZ6uOHWWwUtoMBYKRrtQ+gDd//9kkIhio6LEvUiE/eCrAU2KY+L3Eg3HcK1O1UEQ6MQTdjwLtGU9q89VpqognCEv0jCpmCAf8ZNkqnK8aqImMBlg9xUF16FCahFvkh1MRQAnyd26dyxmIZS+BI48dsEari29X/4t5jS+vt71L2m4AKHvPjZuEnXbVginH9XPff6kgnv2PrtzAm0MZ3iq/2z9pHJn/9hGuWfj1WI0MaLA/0HIIr4aoaEE57PuDhv/7Yv3asdt0Xo8lR4CQwpAZesY2OZUkCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgLsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAK4MqUJJhAcxaFOk/Tpy+e9+gwD8bxGm+bUpAEJqqwV/QTnSUxEFOAr+ZOWcxGGIS3u/W97vH/tgn3CYuUInDa+v3zvoeCUt9ZldWfmZKAOJ4kG2wb4+Lf4wUJoPmbMf+t/TyhFgcmJziYQlvS/wfqJtvsQnc/PmN5OQgqpAcBsY1kw8ShnUKIvxXLhKT5ucGnyABU2F3NuB1ri+4Iqg4e31FffIYKqa5a0boP21kMX/LTAXrTcazcJwQJKvrf98M6T8llfzCf73nw21Jjy/hG1Ol/bpkf5bn6CGi2j5Iw6Anbbm6VNpi7EEXT/zOK/DcpX/46e1pT9nKZj/FJOjyF","cancellation_requested":false,"status":"completed","target":"https://vmcreatelinuxsecret3334.vault.azure.net/certificates/cert1","request_id":"fa36b2d7520d4e62af2ed117b84e42ba"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/23fa85a427cd47e79b0bb22d60f0da4c","managed":true,"attributes":{"enabled":true,"nbf":1503522045,"exp":1661289045,"created":1503522646,"updated":1503522646,"recoveryLevel":"Purgeable"}},{"contentType":"application/x-pkcs12","id":"https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/80378829dfcc43d4bc3e264ae8048ed6","managed":true,"attributes":{"enabled":false,"nbf":1503522030,"exp":1661289030,"created":1503522630,"updated":1503522630,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2015-11-01&$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334","name":"vmcreatelinuxsecret3334","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation/providers/Microsoft.KeyVault/vaults/cliautomationlab786","name":"cliautomationlab786","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"9f45d4bf-7e01-4684-9438-37c712728db1","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation01/providers/Microsoft.KeyVault/vaults/cliautomationlab6073","name":"cliautomationlab6073","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"72f1b266-2a21-4f0a-af01-934c93c72e6e","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgf3xqfeaz6v7e7d25rff4bmkz7kby7kam6gmbg4bsneg3frniblfwsttn35bd6gqll/providers/Microsoft.KeyVault/vaults/vmkeyvault4yckw7fwnx","name":"vmkeyvault4yckw7fwnx","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgxqkn4yz77jq3hchrb244hbb7x73rbrvnqclljjudq72gz4bdghtzhlye25qkygjts/providers/Microsoft.KeyVault/vaults/vmkeyvaultr2754v6okn","name":"vmkeyvaultr2754v6okn","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw/providers/Microsoft.KeyVault/vaults/yugangw-keyvault","name":"yugangw-keyvault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets","name":"cli_test_vmss_create_linux_secrets","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['234']
      X-Fastly-Request-ID: [563e4298126578121abd6f1b04c0053412dc396c]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks?api-version=2017-08-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {}, "template": {"outputs": {"VMSS": {"type":
      "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1-name''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}},
      "variables": {}, "resources": [{"tags": {}, "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "name": "vmss1-nameVNET", "dependsOn": [], "apiVersion":
      "2015-06-15", "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "vmss1-nameSubnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"tags": {}, "type": "Microsoft.Network/publicIPAddresses", "location": "westus",
      "name": "vmss1-nameLBPublicIP", "dependsOn": [], "apiVersion": "2015-06-15",
      "properties": {"publicIPAllocationMethod": "dynamic"}}, {"tags": {}, "type":
      "Microsoft.Network/loadBalancers", "location": "westus", "name": "vmss1-nameLB",
      "dependsOn": ["Microsoft.Network/publicIpAddresses/vmss1-nameLBPublicIP"], "apiVersion":
      "2015-06-15", "properties": {"backendAddressPools": [{"name": "vmss1-nameLBBEPool"}],
      "frontendIPConfigurations": [{"name": "loadBalancerFrontEnd", "properties":
      {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss1-nameLBNatPool", "properties": {"protocol":
      "tcp", "frontendPortRangeStart": "50000", "backendPort": 22, "frontendPortRangeEnd":
      "50119", "frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1-nameLB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}}}]}},
      {"tags": {}, "sku": {"capacity": 2, "tier": "Standard", "name": "Standard_D1_v2"},
      "type": "Microsoft.Compute/virtualMachineScaleSets", "location": "westus", "name":
      "vmss1-name", "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1-nameVNET",
      "Microsoft.Network/loadBalancers/vmss1-nameLB"], "apiVersion": "2017-03-30",
      "properties": {"upgradePolicy": {"mode": "Manual"}, "virtualMachineProfile":
      {"networkProfile": {"networkInterfaceConfigurations": [{"name": "vmss16d61Nic",
      "properties": {"ipConfigurations": [{"name": "vmss16d61IPConfig", "properties":
      {"loadBalancerBackendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/backendAddressPools/vmss1-nameLBBEPool"}],
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB/inboundNatPools/vmss1-nameLBNatPool"}],
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET/subnets/vmss1-nameSubnet"}}}],
      "primary": "true"}}]}, "osProfile": {"adminUsername": "deploy", "linuxConfiguration":
      {"disablePasswordAuthentication": true, "ssh": {"publicKeys": [{"keyData": "ssh-rsa
      AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n", "path": "/home/deploy/.ssh/authorized_keys"}]}}, "secrets":
      [{"sourceVault": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.KeyVault/vaults/vmcreatelinuxsecret3334"},
      "vaultCertificates": [{"certificateUrl": "https://vmcreatelinuxsecret3334.vault.azure.net/secrets/cert1/23fa85a427cd47e79b0bb22d60f0da4c"}]}],
      "computerNamePrefix": "vmss16d61"}, "storageProfile": {"imageReference": {"sku":
      "8", "offer": "Debian", "version": "latest", "publisher": "credativ"}, "osDisk":
      {"caching": "ReadWrite", "createOption": "FromImage", "managedDisk": {"storageAccountType":
      null}}}}, "overprovision": true, "singlePlacementGroup": true}}], "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "contentVersion": "1.0.0.0"}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_BCjAVutlqdg0EaYrf2Nt7JLIWKYdM1Td","name":"vmss_deploy_BCjAVutlqdg0EaYrf2Nt7JLIWKYdM1Td","properties":{"templateHash":"9565784505515239633","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-08-23T21:10:56.9906242Z","duration":"PT0.4941917S","correlationId":"a0c70d19-4ceb-43d4-90ad-bf6d3fa91197","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/publicIPAddresses/vmss1-nameLBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1-nameLBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/virtualNetworks/vmss1-nameVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1-nameVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Network/loadBalancers/vmss1-nameLB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1-nameLB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1-name"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/vmss_deploy_BCjAVutlqdg0EaYrf2Nt7JLIWKYdM1Td/operationStatuses/08586980842289811933?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586980842289811933?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Resources/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_linux_secrets/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1-name?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \[...]
