interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001","name":"cli_test_vm_list_ip000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1155']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2017-11-01
  response:
    body: {string: '{"value":[{"name":"clitest-vmol7ehPublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg7ey3n7rnze543o5tr6qa4r3lngqfqzx2izquxx445uek4rnulvxgftjuor5554gqs/providers/Microsoft.Network/publicIPAddresses/clitest-vmol7ehPublicIP","etag":"W/\"5e5ecff8-a205-4476-9392-6cc411c08013\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"e03fe35d-0b84-48a7-a0fe-4017b6595927","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic"}},{"name":"vmss1LBPublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgm5mmz5vntawil36to65ydlasde2ilv7i3xqnwo4tgd2kjh6bayudgutwsaje2t2l7/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","etag":"W/\"110d394f-a045-43e2-9b56-7c3e9b1375b8\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"579292fa-f3e3-478e-8ad1-5c8e68988b81","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgm5mmz5vntawil36to65ydlasde2ilv7i3xqnwo4tgd2kjh6bayudgutwsaje2t2l7/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic"}},{"name":"clitest-vmdsonyPublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/publicIPAddresses/clitest-vmdsonyPublicIP","etag":"W/\"9c84f36f-150d-45b9-b736-77278c18737e\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"0a841804-0bea-4f28-aa9c-cbb89b10fbf0","ipAddress":"40.118.133.41","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/networkInterfaces/clitest-vmdsonyVMNic/ipConfigurations/ipconfigclitest-vmdsony"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic"}},{"name":"clitest-vmsuzaxPublic[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2017-11-01
  response:
    body: {string: '{"value":[{"name":"clitest-vmdsonyVMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/networkInterfaces/clitest-vmdsonyVMNic","etag":"W/\"417131aa-f149-42b8-be6f-91dbf9558ac0\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"f666ad61-1088-4fb1-9154-26afd71f28aa","ipConfigurations":[{"name":"ipconfigclitest-vmdsony","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/networkInterfaces/clitest-vmdsonyVMNic/ipConfigurations/ipconfigclitest-vmdsony","etag":"W/\"417131aa-f149-42b8-be6f-91dbf9558ac0\"","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/publicIPAddresses/clitest-vmdsonyPublicIP"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/virtualNetworks/clitest-vmdsonyVNET/subnets/clitest-vmdsonySubnet"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"kdwgcvqg5zzepjvrinpqhml01a.dx.internal.cloudapp.net"},"macAddress":"00-0D-3A-33-66-70","enableAcceleratedNetworking":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/networkSecurityGroups/clitest-vmdsonyNSG"},"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Compute/virtualMachines/clitest-vmdsony"},"virtualNetworkTapProvisioningState":"NotProvisioned"},"type":"Microsoft.Network/networkInterfaces"},{"name":"clitest-vmsuzaxVMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rguel3k3y6p2kovs2g25cdypplxi3ujdqg5wmzsm4mts7fy6b3pow2ym5hlndlzkjij/providers/Microsoft.Network/networkInterfaces/clitest-vmsuzaxVMNic","etag":"W/\"5cafd1ee-ac64-48c4-9097-f82ec715cafd\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"55bdbcc5-d64a-4e7c-bcf2-7b2f05713088","ipCon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['115']
      x-fastly-request-id: [d82cbf59d2bc32d64c85dfcf63f72bbacdc99aa8]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions?$top=1&$orderby=name%20desc&api-version=2017-12-01
  response:
    body: {string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"\
        14.04.201607140\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201607140\"\
        \r\n  }\r\n]"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions/14.04.201607140?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"osDiskImage\": {\r\n      \"\
        operatingSystem\": \"Linux\"\r\n    },\r\n    \"dataDiskImages\": []\r\n \
        \ },\r\n  \"location\": \"westus\",\r\n  \"name\": \"14.04.201607140\",\r\n\
        \  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201607140\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "parameters": {}, "template":
      {"resources": [{"apiVersion": "2015-06-15", "tags": {}, "type": "Microsoft.Network/virtualNetworks",
      "name": "vm-with-public-ipVNET", "dependsOn": [], "properties": {"subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "vm-with-public-ipSubnet"}],
      "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}, "location": "westus"},
      {"apiVersion": "2015-06-15", "tags": {}, "type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm-with-public-ipNSG", "dependsOn": [], "properties": {"securityRules":
      [{"properties": {"destinationPortRange": "22", "direction": "Inbound", "protocol":
      "Tcp", "sourcePortRange": "*", "priority": 1000, "sourceAddressPrefix": "*",
      "access": "Allow", "destinationAddressPrefix": "*"}, "name": "default-allow-ssh"}]},
      "location": "westus"}, {"apiVersion": "2017-11-01", "tags": {}, "type": "Microsoft.Network/publicIPAddresses",
      "name": "vm-with-public-ipPublicIP", "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "dynamic"}, "location": "westus"}, {"apiVersion": "2015-06-15", "tags": {},
      "type": "Microsoft.Network/networkInterfaces", "name": "vm-with-public-ipVMNic",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vm-with-public-ip[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586879488158417902?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Resources/deployments/vm_deploy_vHoIWlXZlNJKxuKbNbYLOIO1UZ4byvK5","name":"vm_deploy_vHoIWlXZlNJKxuKbNbYLOIO1UZ4byvK5","properties":{"templateHash":"4671478684115039432","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-12-19T04:36:15.4323656Z","duration":"PT1M45.7965192S","correlationId":"5e747cb3-dc00-457b-9152-a57aeb3fe2b1","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-with-public-ipVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-with-public-ipPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-with-public-ip"}],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip?api-version=2017-12-01&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"7735f045-086c-4cb2-ae66-c6014b31c682\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"14.04.4-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"vm-with-public-ip_OsDisk_1_9e1676fe69fc4e4c9c91c3ca46fc05a5\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/disks/vm-with-public-ip_OsDisk_1_9e1676fe69fc4e4c9c91c3ca46fc05a5\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-with-public-ip\"\
        ,\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"WALinuxAgent-2.0.16\"\
        ,\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"GuestAgent is running and accepting\
        \ new configurations.\",\r\n            \"time\": \"2017-12-19T04:36:14+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm-with-public-ip_OsDisk_1_9e1676fe69fc4e4c9c91c3ca46fc05a5\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2017-12-19T04:34:56.2875353+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n         \
        \ \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n          \"time\": \"2017-12-19T04:36:14.8507201+00:00\"\r\n       \
        \ },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n     \
        \     \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\
        \n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\"\
        ,\r\n  \"name\": \"vm-with-public-ip\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4962,Microsoft.Compute/LowCostGet30Min;39775']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-with-public-ipVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_v[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-with-public-ipPublicIP\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceG[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n  \
        \      \"vmId\": \"7735f045-086c-4cb2-ae66-c6014b31c682\",\r\n        \"hardwareProfile\"\
[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip000001/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip/vmSizes?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_A0\"\
        ,\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 20480,\r\n      \"memoryInMB\": 768,\r\n\
        \      \"maxDataDiskCount\": 1\r\n    },\r\n    {\r\n      \"name\": \"Standard_A1\"\
        ,\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 71680,\r\n      \"memoryInMB\": 1792,\r\n\
        \      \"maxDataDiskCount\": 2\r\n    },\r\n    {\r\n      \"name\": \"Standard_A2\"\
        ,\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 138240,\r\n      \"memoryInMB\": 3584,\r\n\
        \  [...]
[...]
