interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"eastus2","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"zones": ["2"], "properties": {"creationData": {"createOption": "Empty"},
      "diskSizeGB": 1}, "sku": {"name": "Premium_LRS"}, "tags": {}, "location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/disk123?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"sku\": {\r\n \
        \   \"name\": \"Premium_LRS\"\r\n  },\r\n  \"properties\": {\r\n    \"creationData\"\
        : {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\":\
        \ 1,\r\n    \"provisioningState\": \"Updating\",\r\n    \"isArmResource\"\
        : true\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"\
        name\": \"disk123\"\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/39e6d000-8aa2-4862-87f2-6985596be1bc?api-version=2017-03-30']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/39e6d000-8aa2-4862-87f2-6985596be1bc?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;3999']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/39e6d000-8aa2-4862-87f2-6985596be1bc?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-14T18:42:45.8252676+00:00\",\r\
        \n  \"endTime\": \"2017-12-14T18:42:46.2002776+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"zones\":[\"2\"],\"\
        sku\":{\"name\":\"Premium_LRS\",\"tier\":\"Premium\"},\"properties\":{\"creationData\"\
        :{\"createOption\":\"Empty\"},\"diskSizeGB\":1,\"timeCreated\":\"2017-12-14T18:42:45.8721877+00:00\"\
        ,\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\"\
        :\"Microsoft.Compute/disks\",\"location\":\"eastus2\",\"tags\":{},\"id\":\"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\"name\":\"disk123\"}\r\n  },\r\n  \"name\": \"39e6d000-8aa2-4862-87f2-6985596be1bc\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;49998,Microsoft.Compute/GetOperation30Min;249998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/disk123?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"sku\": {\r\n \
        \   \"name\": \"Premium_LRS\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"\
        properties\": {\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\
        \r\n    },\r\n    \"diskSizeGB\": 1,\r\n    \"timeCreated\": \"2017-12-14T18:42:45.8721877+00:00\"\
        ,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"\
        eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\r\n  \"name\": \"disk123\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4998,Microsoft.Compute/LowCostGet30Min;19998']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"zones\": [\r\n       \
        \ \"2\"\r\n      ],\r\n      \"sku\": {\r\n        \"name\": \"Premium_LRS\"\
        ,\r\n        \"tier\": \"Premium\"\r\n      },\r\n      \"properties\": {\r\
        \n        \"creationData\": {\r\n          \"createOption\": \"Empty\"\r\n\
        \        },\r\n        \"diskSizeGB\": 1,\r\n        \"timeCreated\": \"2017-12-14T18:42:45.8721877+00:00\"\
        ,\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"diskState\"\
        : \"Unattached\"\r\n      },\r\n      \"type\": \"Microsoft.Compute/disks\"\
        ,\r\n      \"location\": \"eastus2\",\r\n      \"tags\": {},\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\r\n      \"name\": \"disk123\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/HighCostGet3Min;239,Microsoft.Compute/HighCostGet30Min;1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdMRFJYM1ZXNEk1NFZIU0FGUDJWTzczRFVETFU1R0lYWDZKVnw3NUY5NTkxNjE5M0IzNjgyLUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
version: 1
