interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-datadisk-test?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        69606fc5-fb3d-4dd6-bf04-520500917ada\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\"\
        ,\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04-LTS\"\
        ,\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n\
        \        \"osType\": \"Linux\",\r\n        \"name\": \"osdisk_0d08f2b25a\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n  \
        \        \"uri\": \"https://vhdstorage0d08f2b25a69f5.blob.core.windows.net/vhds/osdisk_0d08f2b25a.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"vm-datadisk-test\",\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"\
        linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false\r\
        \n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"\
        networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-datadisk-testVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-datadisk-test\"\
        ,\r\n  \"name\": \"vm-datadisk-test\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"storageProfile":
      {"imageReference": {"sku": "16.04-LTS", "publisher": "Canonical", "version":
      "latest", "offer": "UbuntuServer"}, "osDisk": {"caching": "ReadWrite", "vhd":
      {"uri": "https://vhdstorage0d08f2b25a69f5.blob.core.windows.net/vhds/osdisk_0d08f2b25a.vhd"},
      "createOption": "fromImage", "name": "osdisk_0d08f2b25a", "osType": "Linux"},
      "dataDisks": [{"diskSizeGB": 8, "createOption": "empty", "name": "d7", "caching":
      "ReadWrite", "vhd": {"uri": "https://vhdstorage0d08f2b25a69f5.blob.core.windows.net/vhds/d7.vhd"},
      "lun": 1}]}, "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "osProfile":
      {"secrets": [], "adminUsername": "ubuntu", "computerName": "vm-datadisk-test",
      "linuxConfiguration": {"disablePasswordAuthentication": false}}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-datadisk-testVMNic"}]}},
      "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-datadisk-test?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        69606fc5-fb3d-4dd6-bf04-520500917ada\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fd35da99-56ab-4921-a235-80bb1b01af17?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T01:29:03.7551154+00:00\"\
        ,\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"fd35da99-56ab-4921-a235-80bb1b01af17\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fd35da99-56ab-4921-a235-80bb1b01af17?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T01:29:03.7551154+00:00\"\
        ,\r\n  \"endTime\": \"2017-06-29T01:29:42.2284764+00:00\",\r\n  \"status\"\
        : \"Succeeded\",\r\n  \"name\": \"fd35da99-56ab-4921-a235-80bb1b01af17\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
