interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001","name":"cli_test_vmss_lb_sku000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['168']
      x-fastly-request-id: [ed3f9bc945782c43381b3fb838f5e48ec1ba9f29]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {}, "template": {"outputs": {"VMSS": {"value":
      "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'', \''vmss0\''),providers(\''Microsoft.Compute\'',
      \''virtualMachineScaleSets\'').apiVersions[0])]", "type": "object"}}, "parameters":
      {}, "resources": [{"name": "vmss0VNET", "apiVersion": "2015-06-15", "type":
      "Microsoft.Network/virtualNetworks", "location": "eastus2", "tags": {}, "dependsOn":
      [], "properties": {"subnets": [{"name": "vmss0Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}}, {"name":
      "vmss0LBPublicIP", "apiVersion": "2017-11-01", "type": "Microsoft.Network/publicIPAddresses",
      "location": "eastus2", "tags": {}, "dependsOn": [], "sku": {"name": "Basic"},
      "properties": {"publicIPAllocationMethod": "Dynamic"}}, {"name": "vmss0LB",
      "apiVersion": "2017-11-01", "type": "Microsoft.Network/loadBalancers", "location":
      "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss0VNET",
      "Microsoft.Network/publicIpAddresses/vmss0LBPublicIP"], "sku": {"name": "Basic"},
      "properties": {"backendAddressPools": [{"name": "vmss0LBBEPool"}], "inboundNatPools":
      [{"name": "vmss0LBNatPool", "properties": {"frontendPortRangeEnd": "50119",
      "backendPort": 22, "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss0LB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "frontendPortRangeStart": "50000", "protocol": "tcp"}}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP"}}}]}},
      {"name": "vmss0", "apiVersion": "2017-12-01", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "location": "eastus2", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss0VNET",
      "Microsoft.Network/loadBalancers/vmss0LB"], "sku": {"capacity": 2, "name": "Standard_D1_v2"},
      "properties": {"overprovision": true, "upgradePolicy": {"mode": "manual"}, "singlePlacementGroup":
      true, "virtualMachineProfile": {"networkProfile": {"networkInterfaceConfigurations":
      [{"name": "vmss03eb8Nic", "properties": {"primary": "true", "ipConfigurations":
      [{"name": "vmss03eb8IPConfig", "properties": {"loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/backendAddressPools/vmss0LBBEPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks/vmss0VNET/subnets/vmss0Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/inboundNatPools/vmss0LBNatPool"}]}}]}}]},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}, "createOption": "FromImage"}, "imageReference": {"sku": "16.04-LTS",
      "publisher": "Canonical", "version": "latest", "offer": "UbuntuServer"}}, "osProfile":
      {"adminUsername": "admin123", "computerNamePrefix": "vmss03eb8", "adminPassword":
      "PasswordPassword1!"}}}}], "variables": {}, "contentVersion": "1.0.0.0", "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#"},
      "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/vmss_deploy_qZpRd0UNhS1FQfi9WbvFAnYlw7Zdpo4G","name":"vmss_deploy_qZpRd0UNhS1FQfi9WbvFAnYlw7Zdpo4G","properties":{"templateHash":"1527587465959826208","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-01-11T03:47:51.0990411Z","duration":"PT0.9272147S","correlationId":"90736b7f-21f2-47f5-a1e1-4ea04cb6d7bd","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2"]},{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks/vmss0VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss0VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss0LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss0LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/virtualNetworks/vmss0VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss0VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss0LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss0","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss0"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/vmss_deploy_qZpRd0UNhS1FQfi9WbvFAnYlw7Zdpo4G/operationStatuses/08586859644153057984?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586859644153057984?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss0LB\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB\"\
        ,\r\n      \"etag\": \"W/\\\"d05ae558-4bda-48b2-acda-7e53f9789f57\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\"\
        : \"eastus2\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n     \
        \   \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"\
        2002e6f2-f3c7-4791-8a3f-bbb5ca66e2b0\",\r\n        \"frontendIPConfigurations\"\
        : [\r\n          {\r\n            \"name\": \"loadBalancerFrontEnd\",\r\n\
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        ,\r\n            \"etag\": \"W/\\\"d05ae558-4bda-48b2-acda-7e53f9789f57\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\"\
        ,\r\n              \"publicIPAddress\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP\"\
        \r\n              },\r\n              \"inboundNatRules\": [\r\n         \
        \       {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/inboundNatRules/vmss0LBNatPool.0\"\
        \r\n                },\r\n                {\r\n                  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/inboundNatRules/v[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vmss0LBPublicIP\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/vmss0LBPublicIP\"\
        ,\r\n      \"etag\": \"W/\\\"70a69f4b-a4ad-4ebb-b8b4-03f1ee1949bc\\\"\",\r\
        \n      \"location\": \"eastus2\",\r\n      \"tags\": {},\r\n      \"properties\"\
        : {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\"\
        : \"0fd3a69b-6b56-47e2-914e-d54d203b0859\",\r\n        \"ipAddress\": \"40.70.5.144\"\
        ,\r\n        \"publicIPAddressVersion\": \"IPv4\",\r\n        \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n        \"idleTimeoutInMinutes\": 4,\r\n        \"ipTags\"\
        : [],\r\n        \"ipConfiguration\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/vmss0LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        \r\n        }\r\n      },\r\n      \"type\": \"Microsoft.Network/publicIPAddresses\"\
        ,\r\n      \"sku\": {\r\n        \"name\": \"Basic\"\r\n      }\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-11-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/lb1''
        under resource group ''cli_test_vmss_lb_sku000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"}],"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","Central US EUAP","East
        US 2 EUAP"],"apiVersions":["2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"publicIPAddresses","locations":["West
        US","East US","East Asia","Southeast Asia","North Central US","South Central
        US","Japan East","Japan West","Brazil South","Australia East","Australia Southeast","Central
        India","South India","West India","Canada Central","Canada East","West Central
        US","West US 2","UK West","UK South","Korea Central","Korea South","North
        Europe","West Europe","Central US","East US 2","Central US EUAP","East US
        2 EUAP"],"apiVersions":["2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"}],"zoneMappings":[{"location":"East
        US 2","zones":["1","2","3"]},{"location":"Central US","zones":["1","2","3"]},{"location":"West
        Europe","zones":["1","2","3"]},{"location":"East US 2 EUAP","zones":["1","2","3"]},{"location":"Central
        US EUAP","zones":["1","2"]}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"networkInterfaces","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2017-11-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/publicIPAddresses/pubip1''
        under resource group ''cli_test_vmss_lb_sku000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: 'b''{"properties": {"parameters": {}, "template": {"outputs": {"VMSS": {"value":
      "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'', \''vmss1\''),providers(\''Microsoft.Compute\'',
      \''virtualMachineScaleSets\'').apiVersions[0])]", "type": "object"}}, "parameters":
      {}, "resources": [{"name": "pubip1", "apiVersion": "2017-11-01", "type": "Microsoft.Network/publicIPAddresses",
      "location": "eastus2", "tags": {}, "dependsOn": [], "sku": {"name": "Standard"},
      "properties": {"publicIPAllocationMethod": "Static"}}, {"name": "lb1", "apiVersion":
      "2017-11-01", "type": "Microsoft.Network/loadBalancers", "location": "eastus2",
      "tags": {}, "dependsOn": ["Microsoft.Network/publicIpAddresses/pubip1"], "sku":
      {"name": "Standard"}, "properties": {"backendAddressPools": [{"name": "lb1BEPool"}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''lb1\''),
      \''/backendAddressPools/\'', \''lb1BEPool\'')]"}, "backendPort": 80, "protocol":
      "tcp", "idleTimeoutInMinutes": 5, "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''lb1\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "frontendPort": 80, "enableFloatingIP": false}}], "inboundNatPools": [{"name":
      "lb1NatPool", "properties": {"frontendPortRangeEnd": "50119", "backendPort":
      22, "frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''lb1\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "frontendPortRangeStart": "50000", "protocol": "tcp"}}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"pubip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/publicIPAddresses/pubip1\"\
        ,\r\n  \"etag\": \"W/\\\"166e9002-9a5f-4684-8e9c-f8ccd935909e\\\"\",\r\n \
        \ \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"998e45e3-a99f-4490-9f12-6ae8d50b054a\"\
        ,\r\n    \"ipAddress\": \"40.67.159.178\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_lb_sku000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/loadBalancerFrontEnd\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"166e9002-9a5f-4684-8e9c-f8ccd935909e"]
    status: {code: 200, message: OK}
[...]
