interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set","name":"cli_test_avail_set","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {}, "template": {"parameters": {}, "resources":
      [{"name": "availset-test", "apiVersion": "2017-03-30", "sku": {"name": "Aligned"},
      "type": "Microsoft.Compute/availabilitySets", "properties": {"platformFaultDomainCount":
      2}, "tags": {}, "location": "westus"}], "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "outputs": {}, "variables": {}}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/av_set_deploy_YXCIwVS17ERvhZRoo3FDpVK0EJMgJ0h7","name":"av_set_deploy_YXCIwVS17ERvhZRoo3FDpVK0EJMgJ0h7","properties":{"templateHash":"16724975534458308243","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-30T23:55:36.8850481Z","duration":"PT0.5434815S","correlationId":"72b96c4d-d310-473c-a201-b3386efb52fa","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/av_set_deploy_YXCIwVS17ERvhZRoo3FDpVK0EJMgJ0h7/operationStatuses/08587027399491360494?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587027399491360494?api-version=2017-05-10
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Resources/deployments/av_set_deploy_YXCIwVS17ERvhZRoo3FDpVK0EJMgJ0h7","name":"av_set_deploy_YXCIwVS17ERvhZRoo3FDpVK0EJMgJ0h7","properties":{"templateHash":"16724975534458308243","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-30T23:55:43.8073386Z","duration":"PT7.465772S","correlationId":"72b96c4d-d310-473c-a201-b3386efb52fa","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 5,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test\"\
        ,\r\n  \"name\": \"availset-test\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\
        \r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"parameters": {}, "template": {"parameters": {}, "resources":
      [{"name": "avset2", "apiVersion": "2017-03-30", "sku": {"name": "Aligned"},
      "type": "Microsoft.Compute/availabilitySets", "properties": {"platformUpdateDomainCount":
      2, "platformFaultDomainCount": 2}, "tags": {}, "location": "westus"}], "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "outputs": {}, "variables": {}}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_avail_set/providers/Microsoft.Res[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/avset2?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 2,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/avset2\"\
        ,\r\n  \"name\": \"avset2\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\
        \n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"platformFaultDomainCount": 2, "platformUpdateDomainCount":
      5, "virtualMachines": []}, "tags": {"test": "success"}, "sku": {"name": "Aligned"},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 5,\r\n    \"platformFaultDomainCount\": 2\r\n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"test\": \"success\"\
        \r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test\"\
        ,\r\n  \"name\": \"availset-test\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\
        \r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n  \
        \      \"platformUpdateDomainCount\": 5,\r\n        \"platformFaultDomainCount\"\
        : 2,\r\n        \"virtualMachines\": []\r\n      },\r\n      \"type\": \"\
        Microsoft.Compute/availabilitySets\",\r\n      \"location\": \"westus\",\r\
        \n      \"tags\": {\r\n        \"test\": \"success\"\r\n      },\r\n     \
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test\"\
        ,\r\n      \"name\": \"availset-test\",\r\n      \"sku\": {\r\n        \"\
        name\": \"Aligned\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets/availset-test/vmSizes?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_DS1_v2\"\
        ,\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 7168,\r\n      \"memoryInMB\": 3584,\r\n\
        \      \"maxDataDiskCount\": 4\r\n    },\r\n    {\r\n      \"name\": \"Standard_DS2_v2\"\
        ,\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 14336,\r\n      \"memoryInMB\": 7168,\r\n\
        \      \"maxDataDiskCount\": 8\r\n    },\r\n    {\r\n      \"name\": \"Standard_DS3_v2\"\
        ,\r\n      \"numberOfCores\": 4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 28672,\r\n      \"memoryInMB\": 14336,\r\n\
   [...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_avail_set/providers/Microsoft.Compute/availabilitySets?api-version=2017-03-30
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
