interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2017-06-01
  response:
    body: {string: '{"value":[{"name":"vm20170703210222PublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Network/publicIPAddresses/vm20170703210222PublicIP","etag":"W/\"d1f79d3d-7fa7-43cd-afe6-4f36209ad946\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"4cf0e4e4-0bfe-4a74-b939-cf2c62d8f01a","ipAddress":"13.91.55.133","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Network/networkInterfaces/vm20170703210222VMNic/ipConfigurations/ipconfigvm20170703210222"}},"type":"Microsoft.Network/publicIPAddresses"},{"name":"vm20170703210553PublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210553/providers/Microsoft.Network/publicIPAddresses/vm20170703210553PublicIP","etag":"W/\"f69da6d4-e924-4b9f-af4c-61e21ef972cf\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"d62b2f98-cb89-4dcb-8a47-72bc4760e1f9","ipAddress":"13.93.239.59","publicIPAddressVersion":"IPv4","publicI[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2017-06-01
  response:
    body: {string: '{"value":[{"name":"vm20170703210222VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Network/networkInterfaces/vm20170703210222VMNic","etag":"W/\"f9c21dab-5546-46ab-8c89-5f78744c5983\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"2bc2d088-229a-41f3-89c8-eb7f9ab7193d","ipConfigurations":[{"name":"ipconfigvm20170703210222","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Network/networkInterfaces/vm20170703210222VMNic/ipConfigurations/ipconfigvm20170703210222","etag":"W/\"f9c21dab-5546-46ab-8c89-5f78744c5983\"","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Network/publicIPAddresses/vm20170703210222PublicIP"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Network/virtualNetworks/vm20170703210222VNET/subnets/vm20170703210222Subnet"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"dr4fmvro1lwezbkxgepg1b5kke.dx.internal.cloudapp.net"},"macAddress":"00-0D-3A-33-EC-DB","enableAcceleratedNetworking":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Network/networkSecurityGroups/vm20170703210222NSG"},"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210222/providers/Microsoft.Compute/virtualMachines/vm20170703210222"}},"type":"Microsoft.Network/networkInterfaces"},{"name":"vm20170703210553VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-release-20170703210553/providers/Microsoft.Network/networkInterfaces/vm20170703210553VMNic","etag":"W/\"3ef5b0c4-025f-43a4-8362-42583b037349\"","location":"westus","tags"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Source-Age: ['0']
      X-Fastly-Request-ID: [be29e77f92c32cdf5c44b7b2bd8aa9e1bbde6869]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions?api-version=2017-03-30&$orderby=name%20desc&$top=1
  response:
    body: {string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"\
        14.04.201607140\",\r\n    \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201607140\"\
        \r\n  }\r\n]"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions/14.04.201607140?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"osDiskImage\": {\r\n      \"\
        operatingSystem\": \"Linux\"\r\n    },\r\n    \"dataDiskImages\": []\r\n \
        \ },\r\n  \"location\": \"westus\",\r\n  \"name\": \"14.04.201607140\",\r\n\
        \  \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201607140\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks?api-version=2017-06-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"mode": "Incremental", "parameters": {}, "template": {"$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "vm-with-public-ipVNET", "type": "Microsoft.Network/virtualNetworks",
      "tags": {}, "apiVersion": "2015-06-15", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"name": "vm-with-public-ipSubnet", "properties":
      {"addressPrefix": "10.0.0.0/24"}}]}, "location": "westus", "dependsOn": []},
      {"name": "vm-with-public-ipNSG", "type": "Microsoft.Network/networkSecurityGroups",
      "tags": {}, "apiVersion": "2015-06-15", "properties": {"securityRules": [{"name":
      "default-allow-ssh", "properties": {"sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "direction": "Inbound", "priority": 1000,
      "destinationAddressPrefix": "*", "access": "Allow", "protocol": "Tcp"}}]}, "location":
      "westus", "dependsOn": []}, {"name": "vm-with-public-ipPublicIP", "type": "Microsoft.Network/publicIPAddresses",
      "tags": {}, "apiVersion": "2015-06-15", "properties": {"publicIPAllocationMethod":
      "dynamic"}, "location": "westus", "dependsOn": []}, {"name": "vm-with-public-ipVMNic",
      "type": "Microsoft.Network/networkInterfaces", "tags": {}, "apiVersion": "2015-06-15",
      "properties": {"networkSecurityGroup": {"id": "/subscriptions/0b1f6471-1bf0-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587024817246799313?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/vm_deploy_AxehTf2TcgA3BJtyi2Zb2ll91VeCqhVi","name":"vm_deploy_AxehTf2TcgA3BJtyi2Zb2ll91VeCqhVi","properties":{"templateHash":"6349739860597455403","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-07-03T23:41:10.3872728Z","duration":"PT1M49.5895481S","correlationId":"528133fb-5616-4427-9e16-a0fd4e82af62","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-with-public-ipVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-with-public-ipPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-with-public-ip"}],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip?api-version=2017-03-30&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"016242d9-4065-4da1-8350-e965d5b4d03a\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"14.04.4-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"osdisk_66d975cc36\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n\
        \          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/disks/osdisk_66d975cc36\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-with-public-ip\"\
        ,\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"WALinuxAgent-2.0.16\"\
        ,\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"GuestAgent is running and accepting\
        \ new configurations.\",\r\n            \"time\": \"2017-07-03T23:41:03+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"osdisk_66d975cc36\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2017-07-03T23:39:45.4763004+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n         \
        \ \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n          \"time\": \"2017-07-03T23:41:02.6619293+00:00\"\r\n       \
        \ },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n     \
        \     \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\
        \n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\"\
        ,\r\n  \"name\": \"vm-with-public-ip\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-with-public-ipVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-with-public-ipPublicIP\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n  \
        \      \"vmId\": \"016242d9-4065-4da1-8350-e965d5b4d03a\",\r\n        \"hardwareProfile\"\
        : {\r\n          \"vmSize\": \"Standard_DS1_v2\"\r\n        },\r\n       \
        \ \"storageProfile\": {\r\n          \"imageReference\": {\r\n           \
        \ \"publisher\": \"Canonical\",\r\n            \"offer\": \"UbuntuServer\"\
        ,\r\n            \"sku\": \"14.04.4-LTS\",\r\n            \"version\": \"\
        latest\"\r\n          },\r\n          \"osDisk\": {\r\n            \"osType\"\
        : \"Linux\",\r\n            \"name\": \"osdisk_66d975cc36\",\r\n         \
        \   \"createOption\": \"FromImage\",\r\n            \"caching\": \"ReadWrite\"\
        ,\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Premium_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/disks/osdisk_66d975cc36\"\
        \r\n            },\r\n            \"diskSizeGB\": 30\r\n          },\r\n \
        \         \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vm-with-public-ip\",\r\n          \"adminUsername\"\
        : \"ubuntu\",\r\n          \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\"\
        : false\r\n          },\r\n          \"secrets\": []\r\n        },\r\n   \
        \     \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"\
        }]},\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n     \
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n      \"location\":\
        \ \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\"\
        ,\r\n      \"name\": \"vm-with-public-ip\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip/vmSizes?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_DS1_v2\"\
        ,\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 7168,\r\n      \"memoryInMB\": 3584,\r\n\
        \      \"maxDataDiskCount\": 4\r\n    },\r\n    {\r\n      \"name\": \"Standard_DS2_v2\"\
        ,\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 14336,\r\n      \"memoryInMB\": 7168,\r\n\
        \      \"maxDataDiskCount\": 8\r\n    },\r\n    {\r\n      \"name\": \"Standard_DS3_v2\"\
        ,\r\n      \"numberOfCores\": 4,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 28672,\r\n      \"memoryInMB\": 14336,\r\n\
   [...]
[...]
