interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"value":[{"name":"vm1PublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","etag":"W/\"3d12bcb5-2b70-4d08-a4a7-0daf30a5ba09\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"4f0b3699-2f9c-4fce-9277-dc8528adabe8","ipAddress":"104.40.83.62","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1"}},"type":"Microsoft.Network/publicIPAddresses"},{"name":"vm1PublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgj3hqd5sp3zlk43ag25xpfpjfprtbdwyhcfhqwpmvowxfl7nvu5zodesnqofcfuimp/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","etag":"W/\"b6be7cbc-9707-4b11-a2a9-a2932cbf4a63\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"96dc5e07-7e67-4362-a401-c2ca2cbcb711","ipAddress":"13.91.51.12","publicIPAddressVersion[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"value":[{"name":"vm1VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Network/networkInterfaces/vm1VMNic","etag":"W/\"9d087ac8-3add-47e0-8a87-19d76ecd30c4\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"56819757-99bf-44b7-acd6-df255249cfa3","ipConfigurations":[{"name":"ipconfigvm1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1","etag":"W/\"9d087ac8-3add-47e0-8a87-19d76ecd30c4\"","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"f45ig0mm1t0urcbqvz41ktsvla.dx.internal.cloudapp.net"},"macAddress":"00-0D-3A-33-AA-C4","enableAcceleratedNetworking":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"},"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgbkgvsumwiifsgulagcup6lolr6r7ppfhsuzbrcfndvmbunzip6jjwr2o4r2lonnh2/providers/Microsoft.Compute/virtualMachines/vm1"}},"type":"Microsoft.Network/networkInterfaces"},{"name":"vm1VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgj3hqd5sp3zlk43ag25xpfpjfprtbdwyhcfhqwpmvowxfl7nvu5zodesnqofcfuimp/providers/Microsoft.Network/networkInterfaces/vm1VMNic","etag":"W/\"932c39ec-d462-407[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: !!python/unicode "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['41']
      x-fastly-request-id: [0f172fe58c117b5a334066086c1620de1a618e30]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions?api-version=2016-04-30-preview&$top=1&$orderby=name%20desc
  response:
    body: {string: !!python/unicode "[\r\n  {\r\n    \"location\": \"westus\",\r\n\
        \    \"name\": \"14.04.201607140\",\r\n    \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201607140\"\
        \r\n  }\r\n]"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions/14.04.201607140?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"osDiskImage\"\
        : {\r\n      \"operatingSystem\": \"Linux\"\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"westus\",\r\n  \"name\": \"14.04.201607140\"\
        ,\r\n  \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201607140\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks?api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {}, "variables": {}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "vm-with-public-ipVNET", "tags": {}, "apiVersion": "2015-06-15",
      "location": "westus", "dependsOn": [], "type": "Microsoft.Network/virtualNetworks",
      "properties": {"subnets": [{"name": "vm-with-public-ipSubnet", "properties":
      {"addressPrefix": "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}},
      {"name": "vm-with-public-ipNSG", "tags": {}, "apiVersion": "2015-06-15", "location":
      "westus", "dependsOn": [], "type": "Microsoft.Network/networkSecurityGroups",
      "properties": {"securityRules": [{"name": "default-allow-ssh", "properties":
      {"access": "Allow", "direction": "Inbound", "protocol": "Tcp", "priority": 1000,
      "destinationPortRange": "22", "sourceAddressPrefix": "*", "destinationAddressPrefix":
      "*", "sourcePortRange": "*"}}]}}, {"name": "vm-with-public-ipPublicIP", "tags":
      {}, "apiVersion": "2015-06-15", "location": "westus", "dependsOn": [], "type":
      "Microsoft.Network/publicIPAddresses", "properties": {"publicIPAllocationMethod":
      "dynamic"}}, {"name": "vm-with-public-ipVMNic", "tags": {}, "apiVersion": "2015-06-15",
      "location": "westus", "dependsOn": ["Microsoft.Network/virtualNetworks/vm-with-public-ipVNET",
      "Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG", "Micr[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587029074268873538?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/vm_deploy_mTVx96SYRzYYQA8t0y3rTsHgL2PH3Iui","name":"vm_deploy_mTVx96SYRzYYQA8t0y3rTsHgL2PH3Iui","properties":{"templateHash":"10737054915512092494","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-29T01:26:17.9081875Z","duration":"PT1M59.3179099S","correlationId":"994debd6-390c-49d7-8e26-705a7c743208","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-with-public-ipVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm-with-public-ipPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-with-public-ipVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-with-public-ip"}],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip?api-version=2016-04-30-preview&$expand=instanceView
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        0adf75be-691b-4d1b-bd37-dd117ce29a3d\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\"\
        ,\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"14.04.4-LTS\"\
        ,\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n\
        \        \"osType\": \"Linux\",\r\n        \"name\": \"osdisk_d198e31d71\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/disks/osdisk_d198e31d71\"\
        \r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-with-public-ip\"\
        ,\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"WALinuxAgent-2.0.16\"\
        ,\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"GuestAgent is running and accepting\
        \ new configurations.\",\r\n            \"time\": \"2017-06-29T01:26:04+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"osdisk_d198e31d71\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2017-06-29T01:24:41.8687614+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n         \
        \ \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n          \"time\": \"2017-06-29T01:26:07.1162792+00:00\"\r\n       \
        \ },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n     \
        \     \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\
        \n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\"\
        ,\r\n  \"name\": \"vm-with-public-ip\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic?api-version=2017-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"vm-with-public-ipVMNic\",\r\
        \n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/reso[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP?api-version=2017-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"vm-with-public-ipPublicIP\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-00000000000[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"value\": [\r\n    {\r\n      \"properties\"\
        : {\r\n        \"vmId\": \"0adf75be-691b-4d1b-bd37-dd117ce29a3d\",\r\n   \
        \     \"hardwareProfile\": {\r\n          \"vmSize\": \"Standard_DS1_v2\"\r\
        \n        },\r\n        \"storageProfile\": {\r\n          \"imageReference\"\
        : {\r\n            \"publisher\": \"Canonical\",\r\n            \"offer\"\
        : \"UbuntuServer\",\r\n            \"sku\": \"14.04.4-LTS\",\r\n         \
        \   \"version\": \"latest\"\r\n          },\r\n          \"osDisk\": {\r\n\
        \            \"osType\": \"Linux\",\r\n            \"name\": \"osdisk_d198e31d71\"\
        ,\r\n            \"createOption\": \"FromImage\",\r\n            \"caching\"\
        : \"ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Premium_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/disks/osdisk_d198e31d71\"\
        \r\n            },\r\n            \"diskSizeGB\": 30\r\n          },\r\n \
        \         \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vm-with-public-ip\",\r\n          \"adminUsername\"\
        : \"ubuntu\",\r\n          \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\"\
        : false\r\n          },\r\n          \"secrets\": []\r\n        },\r\n   \
        \     \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"\
        }]},\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n     \
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n      \"location\":\
        \ \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\"\
        ,\r\n      \"name\": \"vm-with-public-ip\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip/vmSizes?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"value\": [\r\n    {\r\n      \"name\"\
        : \"Standard_DS1_v2\",\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 7168,\r\n      \"memoryInMB\"\
        : 3584,\r\n      \"maxDataDiskCount\": 4\r\n    },\r\n    {\r\n      \"name\"\
        : \"Standard_DS2_v2\",\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 14336,\r\n      \"memoryInMB\"\
        : 7168,\r\n      \"maxDataDiskCount\": 8\r\n    },\r\n    {\r\n      \"name\"\
        : \"Standard_DS3_v2\",\r\n      \"numberOfCores\": 4,\r\n      \"osDiskSizeInMB\"\
        : 1047552,\r\n      \"resourceDiskSizeInMB\": 28672,\r\n      \"memoryInMB\"\
        : 14336,\r[...]
[...]
