interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 subscriptionclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [eaebb800-5c5d-11e7-826d-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 subscriptionclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [53b05bd2-5c59-11e7-80db-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: !!python/unicode "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
<<<<<<< HEAD
      accept-ranges: [bytes]
      access-control-allow-origin: ['*']
      cache-control: [max-age=300]
      connection: [close]
      content-length: ['2235']
      content-security-policy: [default-src 'none'; style-src 'unsafe-inline']
      content-type: [text/plain; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:00:10 GMT']
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      expires: ['Thu, 29 Jun 2017 00:05:10 GMT']
      source-age: ['149']
      strict-transport-security: [max-age=31536000]
      vary: ['Authorization,Accept-Encoding, Accept-Encoding']
      via: [1.1 varnish]
      x-cache: [HIT]
      x-cache-hits: ['1']
      x-content-type-options: [nosniff]
      x-fastly-request-id: [d52bd016133d1fe6e313c9087216767297548f16]
      x-frame-options: [deny]
      x-geo-block-list: ['']
      x-github-request-id: ['7472:1A5CE:9EE6A8:AB748B:59544275']
      x-served-by: [cache-sea1046-SEA]
      x-timer: ['S1498694410.373763,VS0,VE1']
      x-xss-protection: [1; mode=block]
=======
      Accept-Ranges: [bytes]
      Access-Control-Allow-Origin: ['*']
      Cache-Control: [max-age=300]
      Connection: [close]
      Content-Length: ['2235']
      Content-Security-Policy: [default-src 'none'; style-src 'unsafe-inline']
      Content-Type: [text/plain; charset=utf-8]
      Date: ['Wed, 28 Jun 2017 23:27:18 GMT']
      ETag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      Expires: ['Wed, 28 Jun 2017 23:32:18 GMT']
      Source-Age: ['93']
      Strict-Transport-Security: [max-age=31536000]
      Vary: ['Authorization,Accept-Encoding']
      Via: [1.1 varnish]
      X-Cache: [HIT]
      X-Cache-Hits: ['1']
      X-Content-Type-Options: [nosniff]
      X-Fastly-Request-ID: [b99b83980ad902cd7768f27c032b1cdfd7a85b98]
      X-Frame-Options: [deny]
      X-Geo-Block-List: ['']
      X-GitHub-Request-Id: ['F320:2B03A:17F69A0:18F317C:59543AF9']
      X-Served-By: [cache-dfw1831-DFW]
      X-Timer: ['S1498692439.780440,VS0,VE1']
      X-XSS-Protection: [1; mode=block]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [eb1cda21-5c5d-11e7-8ab9-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [53f227f0-5c59-11e7-b6a3-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage","namespace":"Microsoft.Storage","authorization":{"applicationId":"a6aa9161-5291-40bb-8c5c-923b567bee3b","roleDefinitionId":"070ab87f-0efc-4423-b18b-756f3bdb0236"},"resourceTypes":[{"resourceType":"storageAccounts","locations":["East
        US","East US 2","East US 2 (Stage)","West US","West Europe","East Asia","Southeast
        Asia","Japan East","Japan West","North Central US","South Central US","Central
        US","North Europe","Brazil South","Australia East","Australia Southeast","South
        India","Central India","West India","Canada East","Canada Central","West US
        2","West Central US","UK South","UK West","Korea Central","Korea South"],"apiVersions":["2017-06-01","2016-12-01","2016-05-01","2016-01-01","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-01-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity"},{"resourceType":"operations","locations":[],"apiVersions":["2017-06-01","2016-12-01","2016-05-01","2016-01-01","2015-06-15","2015-05-01-preview"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-01-01"}]},{"resourceType":"storageAccounts/listAccountSas","locations":[],"apiVersions":["2017-06-01","2016-12-01","2016-05-01"]},{"resourceType":"storageAccounts/listServiceSa[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [eb3718de-5c5d-11e7-a11b-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing/providers/Microsoft.Storage/storageAccounts/dummystorage?api-version=2017-06-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Storage/storageAccounts/vcrstorage0012345","kind":"Storage","location":"westus","name":"vcrstorage0012345","properties":{"creationTime":"2017-06-28T23:59:19.0981885Z","primaryEndpoints":{"blob":"https://vcrstorage0012345.blob.core.windows.net/","file":"https://vcrstorage0012345.file.core.windows.net/","queue":"https://vcrstorage0012345.queue.core.windows.net/","table":"https://vcrstorage0012345.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [540ece28-5c59-11e7-98b5-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-00[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [eb5ffda1-5c5d-11e7-93ac-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
    [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [eb82048f-5c5d-11e7-b0e0-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcemanagementclient/1.1.0 Azure-SDK-For-Python
          AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [544e3eda-5c59-11e7-8a5d-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing/providers/Microsoft.Compute/availabilitySets/vrfavailset?api-version=2017-03-30
  response:
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\"\
        : 3,\r\n    \"platformFaultDomainCount\": 3,\r\n    \"virtualMachines\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Compute/availabilitySets/vrfavailset\"\
        ,\r\n  \"name\": \"vrfavailset\",\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\
        \r\n  }\r\n}"}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Wed, 28 Jun 2017 23:27:18 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['454']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 00:00:11 GMT']
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ebb04080-5c5d-11e7-ac9c-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
    [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ebd41c30-5c5d-11e7-b051-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ec1b3751-5c5d-11e7-af1b-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkSecurityGroups/vrfnsg?api-version=2017-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"vrfnsg\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkSecurityGroups/vrfnsg\"\
        ,\r\n  \"etag\": \"W/\\\"8ad09062-5d60-4aa8-8f11-055acbe1fe59\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"26055073-c56f-4310-9592-904d13eaebdb\",\r\n \
        \   \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\
        \n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkSecurityGroups/vrfnsg/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"8ad09062-5d60-4aa8-8f11-055acbe1fe59\\\"\"\
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 resourcem[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ec72cd30-5c5d-11e7-8c14-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000[...]
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {}, "variables": {}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "vrfvmVMNic", "tags": {}, "apiVersion": "2015-06-15",
      "location": "westus", "dependsOn": [], "type": "Microsoft.Network/networkInterfaces",
      "properties": {"networkSecurityGroup": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkSecurityGroups/vrfnsg"},
      "ipConfigurations": [{"name": "ipconfigvrfvm", "properties": {"subnet": {"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet"},
      "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/publicIPAddresses/vrfpubip"}}}]}},
      {"name": "vrfvm", "tags": {}, "apiVersion": "2016-04-30-preview", "location":
      "westus", "dependsOn": ["Microsoft.Network/networkInterfaces/vrfvmVMNic"], "type":
      "Microsoft.Compute/virtualMachines", "properties": {"hardwareProfile": {"vmSize":
      "Standard_DS2"}, "storageProfile": {"imageReference": {"sku": "16.04-LTS", "publisher":
      "Canonical", "version": "latest", "offer": "UbuntuServer"}, "osDisk": {"caching":
      null, "vhd": {"uri": "https://vcrstorage0012345.blob.core.windows.net/vrfcontainer/vrfosdisk.vhd"},
      "createOption": "fromImage", "name": "vrfosdisk"}}, "osProfile": {"adminUsername":
      "user11", "computerName": "vrfvm", "linuxConfiguration": {"ssh": {"publicKeys":
      [{"path": "/home/user11/.ssh/authorized_keys", "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}, "disablePasswordAuthentication": true}}, "availabilitySet":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Compute/availabilitySets/vrfavailset"},
      "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic"}]}}}]}}}'
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Wed, 28 Jun 2017 23:27:20 GMT']
      ETag: [W/"c866d62f-7140-4b98-9b5e-c5dd94ad8d1d"]
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
      content-length: ['565']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {}, "mode": "Incremental", "template": {"$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "contentVersion": "1.0.0.0", "parameters": {}, "outputs": {},
      "resources": [{"name": "vrfvmVMNic", "location": "westus", "apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "tags": {}, "dependsOn": [],
      "properties": {"networkSecurityGroup": {"i[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ec9d3891-5c5d-11e7-a067-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587029124718808665?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 resourcemanagementclient/1.1.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [ec9d3891-5c5d-11e7-a067-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_create_existing/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Resources/deployments/vm_deploy_Luw3agTavhQNVZFWlk0vRtEpC97YTx0d","name":"vm_deploy_Luw3agTavhQNVZFWlk0vRtEpC97YTx0d","properties":{"templateHash":"8920996217500824446","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-29T00:02:22.2070691Z","duration":"PT2M8.6103192S","correlationId":"711b076e-d82b-41fa-95fa-e08ce5956149","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vrfvmVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Compute/virtualMachines/vrfvm","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vrfvm"}],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Compute/virtualMachines/vrfvm"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msres[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [480ad480-5c5e-11e7-972e-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [9ed4f914-5c59-11e7-97c8-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Compute/virtualMachines/vrfvm?$expand=instanceView&api-version=2017-03-30
  response:
<<<<<<< HEAD
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        1f68ecab-1a3f-4bea-8ab8-4ec0c85da800\",\r\n    \"availabilitySet\": {\r\n\
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Compute/availabilitySets/VRFAVAILSET\"\
=======
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"e53cc17b-47af-4a48-9c0e-e530cdf705f7\"\
        ,\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Compute/availabilitySets/VRFAVAILSET\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        \r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\
        \r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n\
        \        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"vrfosdisk\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vcrstorage0012345.blob.core.windows.net/vrfcontainer/vrfosdisk.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"vrfvm\",\r\n      \"adminUsername\": \"user11\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": true,\r\n        \"ssh\"\
        : {\r\n          \"publicKeys\": [\r\n            {\r\n              \"path\"\
        : \"/home/user11/.ssh/authorized_keys\",\r\n              \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\r\n            }\r\n          ]\r\n        }\r\n \
        \     },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"\
        networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_create_existing/providers/Microsoft.Network/networkInterfaces/vrfvmVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"platformUpdateDomain\": 0,\r\n      \"platformFaultDomain\"\
        : 0,\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.14\",\r\n\
        \        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
<<<<<<< HEAD
        \       \"time\": \"2017-06-29T00:02:43+00:00\"\r\n          }\r\n       \
=======
        \       \"time\": \"2017-06-28T23:29:24+00:00\"\r\n          }\r\n       \
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"vrfosdisk\",\r\n          \"statuses\"\
[...]
