interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"69e16f03-4a38-4b37-a0cb-5bcb221a3e4e\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"osdisk_4316b4f20d\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstorage4316b4f20df4c2.blob.core.windows.net/vhds/osdisk_4316b4f20d.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"myvm\",\r\n      \"adminUsername\": \"user11\"\
        ,\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Network/networkInterfaces/myvmVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm\"\
        ,\r\n  \"name\": \"myvm\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4961,Microsoft.Compute/LowCostGet30Min;39919']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wilx-group/providers/Microsoft.Storage/storageAccounts/awilxdevlab9274","kind":"Storage","location":"eastus","name":"awilxdevlab9274","properties":{"creationTime":"2017-12-07T22:43:14.9920432Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-07T22:43:15.0570465Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-07T22:43:15.0570465Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://awilxdevlab9274.blob.core.windows.net/","file":"https://awilxdevlab9274.file.core.windows.net/","queue":"https://awilxdevlab9274.queue.core.windows.net/","table":"https://awilxdevlab9274.table.core.windows.net/"},"primaryLocation":"eastus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{"hidden-DevTestLabs-LabUId":"3f487f2b-f13a-422f-a05c-761b17b0200d"},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod_jmek_/providers/Microsoft.Storage/storageAccounts/clitestvmcreate20170301","kind":"Storage","location":"eastus","name":"clitestvmcreate20170301","properties":{"creationTime":"2017-12-13T23:28:57.6049673Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-13T23:28:57.6109678Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-13T23:28:57.6109678Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://clitestvmcreate20170301.blob.core.windows.net/"},"primaryLocation":"eastus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Premium_LRS","tier":"Premium"},"tags":{"firsttag":"1","secondtag":"2","thirdtag":""},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rged92722916/providers/Microsoft.Storage/storageAccounts/st39055055d8","kind":"Storage","location":"eastus","name":"st39055055d8","properties":{"creationTime":"2017-11-14T08:29:14.1632499Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-11-14T08:29:14.1692493Z"},"file":{"enabled":true,"lastEnabledTime":"2017-11-14T08:29:14.1692493Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://st39055055d8.blob.core.windows.net/","file":"https://st39055055d8.file.core.windows.net/","queue":"https://st39055055d8.queue.core.windows.net/","table":"https://st39055055d8.table.core.windows.net/"},"primaryLocation":"eastus","provisioningState":"Succeeded","secondaryLocation":"westus","statusOfPrimary":"available","statusOfSecondary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_GRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg9de67119f7/providers/Microsoft.Storage/storageAccounts/st3ea29977a4","kind":"Storage","location":"eastus","name":"st3ea29977a4","properties":{"creationTime":"2017-12-01T04:00:22.2331421Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEn[...]
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Network/networkInterfaces/myvmVMNic"}]},
      "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "osProfile": {"linuxConfiguration":
      {"disablePasswordAuthentication": false}, "secrets": [], "adminUsername": "user11",
      "computerName": "myvm"}, "storageProfile": {"imageReference": {"offer": "UbuntuServer",
      "sku": "16.04-LTS", "publisher": "Canonical", "version": "latest"}, "dataDisks":
      [], "osDisk": {"osType": "Linux", "caching": "ReadWrite", "diskSizeGB": 30,
      "vhd": {"uri": "https://vhdstorage4316b4f20df4c2.blob.core.windows.net/vhds/osdisk_4316b4f20d.vhd"},
      "name": "osdisk_4316b4f20d", "createOption": "FromImage"}}, "diagnosticsProfile":
      {"bootDiagnostics": {"storageUri": "https://clitestbootdiag20170227.blob.core.windows.net/",
      "enabled": true}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"69e16f03-4a38-4b37-a0cb-5bcb221a3e4e\"\
        ,\r\n  [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/6695e15d-ba8c-4038-ad86-98072e4f5db6?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-12-13T23:30:43.3529737+00:00\",\r\
        \n  \"endTime\": \"2017-12-13T23:31:00.8687134+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"6695e15d-ba8c-4038-ad86-98072e4f5db6\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;2088,Microsoft.Compute/GetOperation30Min;17842']
    status: {code: 200, message: OK}
[...]
