interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [54e3bf30-5c6a-11e7-b18f-a0b3ccf7272a]
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [f2fc04d2-5d10-11e7-bb94-64510658e3b3]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-datadisk-test?api-version=2017-03-30
  response:
<<<<<<< HEAD
    body: {string: !!python/unicode "{\r\n  \"properties\": {\r\n    \"vmId\": \"\
        69606fc5-fb3d-4dd6-bf04-520500917ada\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\"\
        ,\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04-LTS\"\
        ,\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n\
        \        \"osType\": \"Linux\",\r\n        \"name\": \"osdisk_0d08f2b25a\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n  \
        \        \"uri\": \"https://vhdstorage0d08f2b25a69f5.blob.core.windows.net/vhds/osdisk_0d08f2b25a.vhd\"\
=======
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"3f26e551-54d5-4318-9076-76a1be91cb64\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n\
        \      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n   \
        \     \"name\": \"osdisk_68ffc49855\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstorage68ffc49855b181.blob.core.windows.net/vhds/osdisk_68ffc49855.vhd\"\
>>>>>>> vmn/vmss: use 2017-03-30 api-version
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"vm-datadisk-test\",\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"\
        linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false\r\
        \n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"\
        networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-datadisk-testVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-datadisk-test\"\
        ,\r\n  \"name\": \"vm-datadisk-test\"\r\n}"}
    headers:
<<<<<<< HEAD
      cache-control: [no-cache]
=======
      Cache-Control: [no-cache]
      Content-Type: [application/json; charset=utf-8]
      Date: ['Thu, 29 Jun 2017 21:21:43 GMT']
      Expires: ['-1']
      Pragma: [no-cache]
      Server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      Strict-Transport-Security: [max-age=31536000; includeSubDomains]
      Transfer-Encoding: [chunked]
      Vary: [Accept-Encoding]
>>>>>>> vmn/vmss: use 2017-03-30 api-version
      content-length: ['1411']
      content-type: [application/json; charset=utf-8]
      date: ['Thu, 29 Jun 2017 01:29:01 GMT']
      expires: ['-1']
      pragma: [no-cache]
      server: [Microsoft-HTTPAPI/2.0, Microsoft-HTTPAPI/2.0]
      strict-transport-security: [max-age=31536000; includeSubDomains]
      transfer-encoding: [chunked]
      vary: [Accept-Encoding]
    status: {code: 200, message: OK}
[...]
- request:
<<<<<<< HEAD
    body: !!python/unicode '{"location": "westus", "properties": {"storageProfile":
      {"imageReference": {"sku": "16.04-LTS", "publisher": "Canonical", "version":
      "latest", "offer": "UbuntuServer"}, "osDisk": {"caching": "ReadWrite", "vhd":
      {"uri": "https://vhdstorage0d08f2b25a69f5.blob.core.windows.net/vhds/osdisk_0d08f2b25a.vhd"},
      "createOption": "fromImage", "name": "osdisk_0d08f2b25a", "osType": "Linux"},
      "dataDisks": [{"diskSizeGB": 8, "createOption": "empty", "name": "d7", "caching":
      "ReadWrite", "vhd": {"uri": "https://vhdstorage0d08f2b25a69f5.blob.core.windows.net/vhds/d7.vhd"},
      "lun": 1}]}, "hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "osProfile":
      {"secrets": [], "adminUsername": "ubuntu", "computerName": "vm-datadisk-test",
      "linuxConfiguration": {"disablePasswordAuthentication": false}}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-datadisk-testVMNic"}]}},
      "tags": {}}'
=======
    body: '{"tags": {}, "properties": {"osProfile": {"adminUsername": "ubuntu", "computerName":
      "vm-datadisk-test", "linuxConfiguration": {"disablePasswordAuthentication":
      false}, "secrets": []}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-datadisk-testVMNic"}]},
      "storageProfile": {"osDisk": {"name": "osdisk_68ffc49855", "vhd": {"u[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [5529058f-5c6a-11e7-8a8c-a0b3ccf7272a]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fd35da99-56ab-4921-a235-80bb1b01af17?api-version=2016-04-30-preview
  response:
    body: {string: !!python/unicode "{\r\n  \"startTime\": \"2017-06-29T01:29:03.7551154+00:00\"\
        ,\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"fd35da99-56ab-4921-a235-80bb1b01af17\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
=======
      User-Agent: [python/3.5.3 (Windows-10-10.0.15063-SP0) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.10 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x-ms-client-request-id: [f35ae594-5d10-11e7-a557-64510658e3b3]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/a4b3631b-509d-436b-b4d5-1be0d0b3b220?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-29T21:21:45.0513076+00:00\",\r\
        \n  \"endTime\": \"2017-06-29T21:21:59.8659705+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"a4b3631b-509d-436b-b4d5-1be0d0b3b220\"\r\n}"}
>>>>>>> vmn/vmss: use 2017-03-30 api-version
    headers:
      Content-Type: [application/json; charset=utf-8]
<<<<<<< HEAD
      User-Agent: [python/2.7.11 (Windows-10-10.0.15063) requests/2.9.1 msrest/0.4.11
          msrest_azure/0.4.9 computemanagementclient/1.0.0 Azure-SDK-For-Python AZURECLI/TEST/2.0.10+dev]
      accept-language: [en-US]
      x[...]
[...]
