# Starter template for Azure functions build for {{language}} {{appType}}

pool:
  vmImage: ubuntu-16.04

steps:
{%- for dependency in dependencies %}
{{ dependency|safe }}
{%- endfor %}
- task: ArchiveFiles@2
  displayName: "Archive files"
  inputs:
    rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
    includeRootFolder: false
    tarCompression: none
    archiveFile: "$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip"
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)'
    name: 'drop'
- task: AzureRmWebAppDeployment@4
  inputs:
    connectionType: 'AzureRM'
    azureSubscription: {{ subscription_name }}
    appType: 'functionAppLinux'
    webAppName: {{ functionapp_name }}
