interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/assessments?api-version=2020-01-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Security/assessments","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/automationresources-rg/providers/microsoft.storage/storageaccounts/iotsecurityautomation/providers/Microsoft.Security/assessments/1c5de8e1-f68d-6a17-e0d2-ec259c42768c","name":"1c5de8e1-f68d-6a17-e0d2-ec259c42768c","properties":{"resourceDetails":{"Source":"Azure","Id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/automationresources-rg/providers/microsoft.storage/storageaccounts/iotsecurityautomation"},"displayName":"Secure
        transfer to storage accounts should be enabled","status":{"code":"Healthy"}}},{"type":"Microsoft.Security/assessments","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/automationresources-rg/providers/microsoft.keyvault/vaults/cloudtest-romeiotsec-kv/providers/Microsoft.Security/assessments/88bbc99c-e5af-ddd7-6105-6150b2bfa519","name":"88bbc99c-e5af-ddd7-6105-6150b2bfa519","properties":{"resourceDetails":{"Source":"Azure","Id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/automationresources-rg/providers/microsoft[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/assessmentMetadata?api-version=2020-01-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/providers/Microsoft.Security/assessmentMetadata/4fb67663-9ab9-475d-b026-8c544cced439\",\"name\":\"4fb67663-9ab9-475d-b026-8c544cced439\",\"type\":\"Microsoft.Security/assessmentMetadata\",\"properties\":{\"displayName\":\"Install
        endpoint protection solution on Linux virtual machines\",\"assessmentType\":\"BuiltIn\",\"policyDefinitionId\":\"/providers/Microsoft.Authorization/policyDefinitions/af6cd1bd-1635-48cb-bde7-5b15693900b9\",\"description\":\"\",\"remediationDescription\":\"\",\"categories\":[\"Compute\"],\"preview\":true,\"severity\":\"High\",\"userImpact\":\"Low\",\"implementationEffort\":\"Low\",\"threats\":[\"ThreatResistance\"]}},{\"id\":\"/providers/Microsoft.Security/assessmentMetadata/0396b18c-41aa-489c-affd-4ee5d1714a59\",\"name\":\"0396b18c-41aa-489c-affd-4ee5d1714a59\",\"type\":\"Microsoft.Security/assessmentMetadata\",\"properties\":{\"displayName\":\"Secure
        Boot should be enabled on your virtual machine\",\"assessmentType\":\"BuiltIn\",\"policyDefinitionId\":\"/providers/Microsoft.Authorization/policyDefinitions/0396b18c-41aa-489c-affd-4ee5d1714a59\",\"description\":\"Enabling
   [...]
- request:
    body: '{"properties": {"displayName": "test assessment", "description": "hello
      world", "severity": "High", "assessmentType": "CustomerManaged"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/assessmentMetadata/8f211ea8-777b-45c4-8631-776d535afd62?api-version=2020-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/assessmentMetadata/8f211ea8-777b-45c4-8631-776d535afd62","name":"8f211ea8-777b-45c4-8631-776d535afd62","type":"Microsoft.Security/assessmentMetadata","properties":{"displayName":"test
        assessment","assessmentType":"CustomerManaged","description":"hello world","categories":["Unknown"],"severity":"High"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"resourceDetails": {"source": "Azure"}, "status": {"code":
      "Healthy"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/assessments/8f211ea8-777b-45c4-8631-776d535afd62?api-version=2020-01-01
  response:
    body:
      string: '{"type":"Microsoft.Security/assessments","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/assessments/8f211ea8-777b-45c4-8631-776d535afd62","name":"8f211ea8-777b-45c4-8631-776d535afd62","properties":{"resourceDetails":{"Source":"Azure","Id":"/subscriptions/00000000-0000-0000-0000-000000000000"},"displayName":"test
        assessment","status":{"code":"Healthy"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
