interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"extensions":[{"name":"MdeDesignatedSubscription","isEnabled":"False"}],"subPlan":"P1","pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/SqlServers","name":"SqlServers","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free","freeTrialRemainingTime":"PT0S"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/AppServices","name":"AppServices","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free","freeTrialRemainingTime":"PT0S"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/StorageAccounts","name":"StorageAccounts","type":"Microsoft.Security/pricings","properties":{"extensions":[{"name":"OnUploadMalwareScanning","isEnabled":"True","additionalExtensionProperties":{"CapGBPerMonthPerStorageAccount":"5000"}},{"name":"SensitiveDataDiscovery","isEnabled":"True"}],"enablementTime":"2023-09-11T09:33:55.3104996Z","subPlan":"DefenderForStorageV2","pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/SqlServerVirtualMachines","name":"SqlServerVirtualMachines","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free","freeTrialRemainingTime":"PT0S"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/KubernetesService","name":"KubernetesService","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free","freeTrialRemainingTime":"PT0S","deprecated":true,"replacedBy":["Containers"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/ContainerRegistry","name":"ContainerRegistry","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free","freeTrialRemainingTime":"PT0S","deprecated":true,"replacedBy":["Containers"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/KeyVaults","name":"KeyVaults","type":"Microsoft.Security/pricings","properties":{"pricingTi[...]
- request:
    body: '{"properties": {"pricingTier": "free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free","freeTrialRemainingTime":"PT0S"}}'
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"pricingTier": "standard", "extensions": [{"name": "MdeDesignatedSubscription",
      "isEnabled": "False"}, {"name": "AgentlessVmScanning", "isEnabled": "True"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"extensions":[{"name":"MdeDesignatedSubscription","isEnabled":"False"},{"name":"AgentlessVmScanning","isEnabled":"True","additionalExtensionProperties":{"ExclusionTags":"[{\"key\":\"A\",\"value\":\"B\"}]"},"operationStatus":{"code":"Succeeded","message":"Successfully
        enabled extension"}}],"enablementTime":"2023-09-11T13:18:59.0483823Z","subPlan":"P2","pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}}'
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"extensions":[{"name":"MdeDesignatedSubscription","isEnabled":"False"},{"name":"AgentlessVmScanning","isEnabled":"True","additionalExtensionProperties":{"ExclusionTags":"[{\"key\":\"A\",\"value\":\"B\"}]"}}],"enablementTime":"2023-09-11T13:18:59.0483823Z","subPlan":"P2","pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}}'
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
version: 1
