interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default?api-version=2023-09-01-preview
  response:
    body:
      string: '{"location":"centralus","tags":{},"properties":{"autoDiscovery":"Disabled","provisioningStatusMessage":"Resource
        modification successful.","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default","name":"default","type":"Microsoft.Security/securityConnectors/devops"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b46fb733-0a80-422e-abaa-3db40b0339ca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/listAvailableGitLabGroups?api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"fullyQualifiedName":"dfdsdktests","fullyQualifiedFriendlyName":"Defender
        for DevOps SDK Tests","url":"https://gitlab.com/groups/dfdsdktests","onboardingState":"Onboarded","provisioningStatusMessage":"Resource
        modification successful.","provisioningStatusUpdateTimeUtc":"2024-01-31T22:40:32Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests","name":"dfdsdktests","type":"Microsoft.Security/securityConnectors/devops/gitLabGroups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 3678ff72-c9c8-428e-8343-e73972938ee1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups?api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"fullyQualifiedName":"dfdsdktests","fullyQualifiedFriendlyName":"Defender
        for DevOps SDK Tests","url":"https://gitlab.com/groups/dfdsdktests","onboardingState":"Onboarded","provisioningStatusMessage":"Resource
        modification successful.","provisioningStatusUpdateTimeUtc":"2024-01-31T22:40:32Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests","name":"dfdsdktests","type":"Microsoft.Security/securityConnectors/devops/gitLabGroups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a587a51d-0d63-42f9-b111-eece0978f860
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests?api-version=2023-09-01-preview
  response:
    body:
      string: '{"properties":{"fullyQualifiedName":"dfdsdktests","fullyQualifiedFriendlyName":"Defender
        for DevOps SDK Tests","url":"https://gitlab.com/groups/dfdsdktests","onboardingState":"Onboarded","provisioningStatusMessage":"Resource
        modification successful.","provisioningStatusUpdateTimeUtc":"2024-01-31T22:40:32Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests","name":"dfdsdktests","type":"Microsoft.Security/securityConnectors/devops/gitLabGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - de77dcb5-7dd1-4627-9c79-be0e8ef8b927
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/listSubgroups?api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"fullyQualifiedName":"dfdsdktests$testsubgroup1$testsubgroupNested","fullyQualifiedFriendlyName":"Defender
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects?api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"fullyQualifiedName":"dfdsdktests$testapp10","fullyQualifiedFriendlyName":"Defender
        for DevOps SDK Tests / TestApp10","fullyQualifiedParentGroupName":"dfdsdktests","url":"https://gitlab.com/dfdsdktests/testapp10","onboardingState":"Onboarded","provisioningStatusMessage":"Resource
        modification successful.","provisioningStatusUpdateTimeUtc":"1970-01-01T00:00:00Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects/testapp10","name":"testapp10","type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects/testapp10?api-version=2023-09-01-preview
  response:
    body:
      string: '{"properties":{"fullyQualifiedName":"dfdsdktests$testapp10","fullyQualifiedFriendlyName":"Defender
        for DevOps SDK Tests / TestApp10","fullyQualifiedParentGroupName":"dfdsdktests","url":"https://gitlab.com/dfdsdktests/testapp10","onboardingState":"Onboarded","provisioningStatusMessage":"Resource
        modification successful.","provisioningStatusUpdateTimeUtc":"1970-01-01T00:00:00Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects/testapp10","name":"testapp10","type":"Microsoft.Security/securityConnectors/devops/gitLabGroups/projects"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ec53320e-dc42-4322-84da-2834d748acdd
    status:
      code: 200
      message: OK
version: 1
