interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContacts?api-version=2020-01-01-preview
  response:
    body:
      string: '[{"properties":{"alertNotifications":{"state":"On","minimalSeverity":"Low"},"notificationsByRole":{"state":"On","roles":["Owner"]},"emails":"john@contoso.com;jane@contoso.com","phone":"214-275-4038"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContacts/default","name":"default","type":"Microsoft.Security/securityContacts","etag":"\"780015fa-0000-0d00-0000-65edaa7d0000\"","location":"West
        Europe"}]'
    headers:
      api-supported-versions:
      - 2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '748'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"emails": "john@contoso.com", "phone": "214-275-4038"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContacts/default?api-version=2020-01-01-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"The json value of notificationsByRole
        failed validation, with reason: NotificationsByRole : NotificationsByRole
        value cannot be null!, error tracking number: 4264a1d1-45f2-4c24-bd99-297a0aaea7f6"}}'
    headers:
      api-supported-versions:
      - 2020-01-01-preview
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '248'
    status:
      code: 400
      message: Bad Request
version: 1
