interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/jitNetworkAccessPolicies?api-version=2015-06-01-preview
  response:
    body: {string: '{"value":[{"kind":"Basic","properties":{"virtualMachines":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Compute/virtualMachines/testService","ports":[{"number":22,"protocol":"TCP","allowedSourceAddressPrefix":"127.0.0.1","maxRequestAccessDuration":"PT3H"}]}],"requests":[],"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Security/locations/centralus/jitNetworkAccessPolicies/default","name":"default","type":"Microsoft.Security/locations/jitNetworkAccessPolicies","location":"centralus"},{"kind":"Basic","properties":{"virtualMachines":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Compute/virtualMachines/testService","ports":[{"number":22,"protocol":"*","allowedSourceAddressPrefix":"*","maxRequestAccessDuration":"PT3H"},{"number":3389,"protocol":"*","allowedSourceAddressPrefix":"*","maxRequestAccessDuration":"PT3H"},{"number":5985,"protocol":"*","allowedSourceAddressPrefix":"*","maxRequestAccessDuration":"PT3H"},{"number":5986,"protocol":"*","allowedSourceAddressPrefix":"*","maxRequestAccessDuration":"PT3H"}]}],"requests":[],"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Security/locations/northeurope/jitNetworkAccessPolicies/default","name":"default","type":"Microsoft.Security/locations/jitNetworkAccessPolicies","location":"northeurope"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-original-request-ids: [dcd9587c-7cf3-4912-b571-3bf72ea325b2, c9ed9ed4-11cb-4743-8cf4-84b456cebeee,
        16afbb8a-7262-483d-bb4f-55ddc392dc80]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['749']
    status: {code: 200, message: OK}
version: 1
