interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0","name":"Azure-CIS-1.1.0","type":"Microsoft.Security/regulatoryComplianceStandards","properties":{"state":"Failed","passedControls":14,"failedControls":10,"skippedControls":0,"unsupportedControls":87}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/ISO-27001","name":"ISO-27001","type":"Microsoft.Security/regulatoryComplianceStandards","properties":{"state":"Failed","passedControls":7,"failedControls":13,"skippedControls":0,"unsupportedControls":94}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/PCI-DSS-3.2.1","name":"PCI-DSS-3.2.1","type":"Microsoft.Security/regulatoryComplianceStandards","properties":{"state":"Failed","passedControls":30,"failedControls":15,"skippedControls":0,"unsupportedControls":187}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/SOC-TSP","name":"SOC-TSP","type":"Microsoft.Security/regulatoryComplianceStandards","properties":{"state":"Failed","passedControls":12,"failedControls":1,"skippedControls":0,"unsupportedControls":24}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0?api-version=2019-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0","name":"Azure-CIS-1.1.0","type":"Microsoft.Security/regulatoryComplianceStandards","properties":{"state":"Failed","passedControls":14,"failedControls":10,"skippedControls":0,"unsupportedControls":87}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1?api-version=2019-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1","name":"1.1","type":"Microsoft.Security/regulatoryComplianceStandards/regulatoryComplianceControls","properties":{"description":"Ensure
        that multi-factor authentication is enabled for all privileged users","state":"Passed","passedAssessments":1,"failedAssessments":0,"skippedAssessments":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1/regulatoryComplianceAssessments?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1/regulatoryComplianceAssessments/94290b00-4d0c-d7b4-7cea-064a9554e681","name":"94290b00-4d0c-d7b4-7cea-064a9554e681","type":"Microsoft.Security/regulatoryComplianceStandards/regulatoryComplianceControls/regulatoryComplianceAssessments","properties":{"description":"MFA
        should be enabled on accounts with owner permissions on your subscription","state":"Passed","passedResources":1,"failedResources":0,"skippedResources":0,"assessmentType":"AssessmentResult"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1/regulatoryComplianceAssessments/94290b00-4d0c-d7b4-7cea-064a9554e681?api-version=2019-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/regulatoryComplianceStandards/Azure-CIS-1.1.0/regulatoryComplianceControls/1.1/regulatoryComplianceAssessments/94290b00-4d0c-d7b4-7cea-064a9554e681","name":"94290b00-4d0c-d7b4-7cea-064a9554e681","type":"Microsoft.Security/regulatoryComplianceStandards/regulatoryComplianceControls/regulatoryComplianceAssessments","properties":{"description":"MFA
        should be enabled on accounts with owner permissions on your subscription","state":"Passed","passedResources":1,"failedResources":0,"skippedResources":0,"assessmentType":"AssessmentResult"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
version: 1
