interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default?api-version=2023-09-01-preview
  response:
    body:
      string: '{"location":"centralus","tags":{},"properties":{"autoDiscovery":"Enabled","provisioningStatusMessage":"Resource
        creation successful.","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default","name":"default","type":"Microsoft.Security/securityConnectors/devops"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - cf8136da-11f0-4030-9ba4-91ef2cd90634
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/listAvailableGitHubOwners?api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"ownerUrl":"https://github.com/dfdsdktests","gitHubInternalId":"45003365","onboardingState":"Onboarded","provisioningStatusMessage":"Beginning
        provisioning of GitHub connector.","provisioningStatusUpdateTimeUtc":"2024-01-31T20:44:28Z","provisioningState":"Pending"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests","name":"dfdsdktests","type":"Microsoft.Security/securityConnectors/devops/gitHubOwners"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - c414fdb7-a6b8-4a82-8ea4-2019d0a09d6f
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners?api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"ownerUrl":"https://github.com/dfdsdktests","gitHubInternalId":"45003365","onboardingState":"Onboarded","provisioningStatusMessage":"Beginning
        provisioning of GitHub connector.","provisioningStatusUpdateTimeUtc":"2024-01-31T20:44:28Z","provisioningState":"Pending"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests","name":"dfdsdktests","type":"Microsoft.Security/securityConnectors/devops/gitHubOwners"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 6813992f-ba35-4b9a-b492-e72b3cd9f874
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests?api-version=2023-09-01-preview
  response:
    body:
      string: '{"properties":{"ownerUrl":"https://github.com/dfdsdktests","gitHubInternalId":"45003365","onboardingState":"Onboarded","provisioningStatusMessage":"Beginning
        provisioning of GitHub connector.","provisioningStatusUpdateTimeUtc":"2024-01-31T20:44:28Z","provisioningState":"Pending"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests","name":"dfdsdktests","type":"Microsoft.Security/securityConnectors/devops/gitHubOwners"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - db6cd351-1b8c-40b6-b7c9-1d4db160f9c9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos?api-version=2023-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"repoId":"728418798","repoName":"TestApp0","onboardingState":"Onboarded","repoUrl":"https://github.com/dfdsdktests/TestApp0","parentOwnerName":"dfdsdktests","provisioningStatusUpdateTimeUtc":"2024-01-31T20:44:29Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos/TestApp0","name":"TestApp0","type":"Microsoft.Security/securityConnectors/devops/gitHubOwners/repos"},{"properties":{"repoId":"730346643","repoName":"TestApp1","onboardingState":"Onboarded","repoUrl":"https://github.com/dfdsdktests[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos/TestApp0?api-version=2023-09-01-preview
  response:
    body:
      string: '{"properties":{"repoId":"728418798","repoName":"TestApp0","onboardingState":"Onboarded","repoUrl":"https://github.com/dfdsdktests/TestApp0","parentOwnerName":"dfdsdktests","provisioningStatusUpdateTimeUtc":"2024-01-31T20:44:29Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos/TestApp0","name":"TestApp0","type":"Microsoft.Security/securityConnectors/devops/gitHubOwners/repos"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ed626c8f-e582-4404-bc3f-2c8e5000ebf8
    status:
      code: 200
      message: OK
version: 1
