interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings?api-version=2020-01-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n       \
        \ \"rules\": [],\r\n        \"effectiveNetworkSecurityGroups\": [\r\n    \
        \      {\r\n            \"networkInterface\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkInterfaces/MSI-1154330049\"\
        ,\r\n            \"networkSecurityGroups\": [\r\n              \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkSecurityGroups/MSI-GLStandard_A1NSG\"\
        \r\n            ]\r\n          }\r\n        ],\r\n        \"rulesCalculationTime\"\
        : \"2020-07-06T14:22:35.7278665Z\"\r\n      },\r\n      \"name\": \"default\"\
        ,\r\n      \"type\": \"Microsoft.Security/adaptiveNetworkHardenings\",\r\n\
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings/default\"\
        \r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings/default?api-version=2020-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"rules\": [],\r\n    \"effectiveNetworkSecurityGroups\"\
        : [\r\n      {\r\n        \"networkInterface\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkInterfaces/MSI-1154330049\"\
        ,\r\n        \"networkSecurityGroups\": [\r\n          \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkSecurityGroups/MSI-GLStandard_A1NSG\"\
        \r\n        ]\r\n      }\r\n    ],\r\n    \"rulesCalculationTime\": \"2020-07-06T14:22:35.7278665Z\"\
        \r\n  },\r\n  \"name\": \"default\",\r\n  \"type\": \"Microsoft.Security/adaptiveNetworkHardenings\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings/default\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
version: 1
