interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations?api-version=2015-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/centralus","name":"centralus","type":"Microsoft.Security/locations","properties":{"homeRegionName":"centralus"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '98'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/topologies?api-version=2020-01-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Security/locations/topologies","properties":{"calculatedDateTime":"2020-12-09T12:50:26.1360030Z","topologyResources":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Network/virtualNetworks/myService1","severity":"High","networkZones":"Internal","recommendationsExist":true,"topologyScore":10,"location":"northeurope","children":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Network/virtualNetworks/myService1/subnets/default"}]},{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Network/virtualNetworks/myService1-vnet","severity":"Healthy","networkZones":"Internal","recommendationsExist":false,"topologyScore":0,"location":"northeurope","children":[{"resourceId":"/subscriptions/00000000-0000-00[...]
