interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/alerts?api-version=2022-01-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taklei/providers/Microsoft.Security/locations/centralus/alerts/2517333083999999999_91ad5c46-7501-456b-aef5-13778b78cf80\",\"name\":\"2517333083999999999_91ad5c46-7501-456b-aef5-13778b78cf80\",\"type\":\"Microsoft.Security/Locations/alerts\",\"properties\":{\"status\":\"InProgress\",\"timeGeneratedUtc\":\"2022-11-22T20:28:38.3858332Z\",\"processingEndTimeUtc\":\"2022-11-22T20:28:38.0209689Z\",\"version\":\"2022-01-01.0\",\"vendorName\":\"Microsoft\",\"productName\":\"Microsoft
        Defender for Cloud\",\"alertType\":\"Network_TrafficFromUnrecommendedIP\",\"startTimeUtc\":\"2022-11-21T01:00:00Z\",\"endTimeUtc\":\"2022-11-21T01:00:00Z\",\"severity\":\"Low\",\"isIncident\":false,\"systemAlertId\":\"2517333083999999999_91ad5c46-7501-456b-aef5-13778b78cf80\",\"intent\":\"PreAttack\",\"resourceIdentifiers\":[{\"$id\":\"centralus_1\",\"azureResourceId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taklei/providers/microsoft.compute/virtualmachines/alertstest\",\"type\":\"AzureResource\",\"azureResourceTenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"}],\"compromisedEntity\":\"alertstest\",\"alertDisplayName\":\"Traffic
        detected from IP addresses recommended for blocking\",\"description\":\"Defender
        for Cloud detected inbound traffic from IP addresses that are recommended
        to be blocked. This typically occurs when this IP address doesn't communicate
        regularly with this resource.\\r\\nAlternatively, the IP address has been
        flagged as malicious by Microsoft's threat intelligence sources.\",\"remediationSteps\":[\"{\\\"kind\\\":\\\"openBlade\\\",\\\"displayValue\\\":\\\"Enforce
        rule\\\",\\\"extension\\\":\\\"Microsoft_Azure_Security_R3\\\",\\\"detailBlade\\\":\\\"AdaptiveNetworkControlsResourceBlade\\\",\\\"detailBladeInputs\\\":\\\"protectedResourceId=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taklei/providers/microsoft.compute/virtualmachines/alertstest\\\"}\"],\"extendedProperties\":{\"investigation
        Steps\":\"1. Review the IP addresses and determine if they should be communicating
        with the virtual machine\\r\\n2. Enforce the hardening rule recommended by
        Defender for Cloud which will allow access only to recommended IP addresses.
        You can edit the rule's properties and change the IP addresses to be allowed,
        or alternatively edit the Network Security Group's rules directly\",\"destination
        Port\":\"3389\",\"protocol\":\"TCP\",\"source IP(s) [Number of attempts]\":\"IP:
        147.78.47.42 [1]\\r\\nIP: 178.211.130.43 [1]\",\"resourceType\":\"Virtual
        Machine\",\"killChainIntent\":\"PreAttack\"},\"entities\":[{\"$id\":\"centralus_2\",\"resourceId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taklei/providers/microsoft.compute/virtualmachines/alertstest\",\"type\":\"azure-resource\"},{\"$id\":\"centralus_3\",\"azureID\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/taklei/providers/microsoft.compute/virtualmachines/alertstest\",\"type\":\"host\"},{\"$id\":\"centralus_4\",\"address\":\"147.78.47.42\",\"location\":{\"countryCode\":\"NL\",\"countryName\":\"Netherlands\",\"state\":\"Noord-Holland\",\"city\":\"Amsterdam\",\"longitude\":4.94019,\"latitude\":52.30905,\"asn\":209588,\"carrier\":\"Flyservers
        S.A.\",\"organization\":\"Flyservers S.A.\"},\"type\":\"ip\"},{\"$id\":\"centralus_5\",\"address\":\"178.211.130.43\",\"location\":{\"countryCode\":\"TR\",\"countryName\":\"Turkey\",\"state\":\"Istanbul\",\"city\":\"Istanbul\",\"longitude\":28.96028,\"latitude\":41.01389,\"asn\":44547,\"carrier\":\"Asu
        Doctor\"},\"type\":\"ip\"},{\"$id\":\"centralus_6\",\"sourceAddress\":{\"$ref\":\"centralus_4\"},\"destinationPort\":3389,\"protocol\":\"Tcp\",\"type\":\"network-connection\"},{\"$id\":\"centralus_7\",\"sourceAddress\":{\"$ref\":\"centralus_5\"},\"destinationPort\":3389,\"protocol\":\"Tcp\",\"type\":\"network-connection\"}],\"alertUri\":\"https://portal.azure.com/#blade/Microsoft_Azure_Security_AzureDefenderForData/AlertBlade/alertId/2517333083999999999_91ad5c46-7501-456b-aef5-13778b78cf80/subscriptionId/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroup/taklei/referencedFrom/alertDeepLink/location/centralus\"}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taklei/providers/Microsoft.Security/locations/centralus/alerts/2517334811999999999_e7a51d71-38a2-4f47-8bc1-88a38d1e8b0a\",\"name\":\"251733481[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/alerts?api-version=2022-01-01&$skiptoken=TZFdb5swFIb/C5p2NYJNIAmRqinNgKWLoTO2k3JnwE2cxMBsp/mo%2Bt/Hpl1Mem8e6dVzdM55d1pxtWvZHo0zf3eWcUbwYk0LZ%2B7sre3N3PMUb/lOKNHaEb%2BftRjVnZoHwdgz58rUWvZWdq3xgtm0qoJZ6FZhBdxgCoUb1aBxIZjC6QT6r7NJ5PW6e5ON0MZDstad6V7tqBD1WUt78/hJaGu%2B8l66b0NlsD74wPddAId8/mSOsifdUbQP4vaUl9s9oGlya9IT4JvoXPgsXB06iY[...]
