interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fclitest.rg000001%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fclitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2017-08-01-preview
  response:
    body:
      string: '{"properties":{"isEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current","name":"current","type":"Microsoft.Security/advancedThreatProtectionSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isEnabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fclitest.rg000001%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fclitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2017-08-01-preview
  response:
    body:
      string: '{"properties":{"isEnabled":true},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current","name":"current","type":"Microsoft.Security/advancedThreatProtectionSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fclitest.rg000001%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fclitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2017-08-01-preview
  response:
    body:
      string: '{"properties":{"isEnabled":true},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current","name":"current","type":"Microsoft.Security/advancedThreatProtectionSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 200
      message: OK
version: 1
