interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations?api-version=2015-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/westcentralus","name":"westcentralus","type":"Microsoft.Security/locations","properties":{"homeRegionName":"westcentralus"}}]}'
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/topologies?api-version=2020-01-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Security/locations/topologies","properties":{"calculatedDateTime":"2021-08-04T08:32:07.9554160Z","topologyResources":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VulnerabilityAssessment-ComponentTests-eastus/providers/Microsoft.Network/virtualNetworks/vnet-vatest","severity":"Healthy","networkZones":"Internal","recommendationsExist":false,"topologyScore":0,"location":"eastus","children":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VulnerabilityAssessment-ComponentTests-eastus/providers/Microsoft.Network/virtualNetworks/vnet-vatest/subnets/default"}]}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VulnerabilityAssessment-ComponentTests-eastus/providers/Microsoft.Security/locations/westcentralus/topologies/virtualNetworks","name":"virtualNetworks","location":"westcentralus"},{"type":"Microsoft.Security/locations/topologies","properties":{"calculatedDateTime":"2021-08-04T08:32:07.9554160Z","topologyResources":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VulnerabilityAssessment-ComponentTests-eastus/providers/Microsoft.Network/virtualNetworks/vnet-vatest/subnets/default","severity":"Healthy","networkZones":"Internal","recommendationsExist":false,"topologyScore":0,"parents":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VulnerabilityAssessment-ComponentTests-eastus/providers/Microsoft.Network/virtualNetworks/vnet-vatest"}],"children":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VulnerabilityAssessment-ComponentTests-eastus/providers/Microsoft.Compute/virtualMachines/vatest-sql2012"},{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/VulnerabilityAssessment-Compo[...]
