interactions:
- request:
    body: '{"properties": {"email": "john@contoso.com", "phone": "", "alertNotifications":
      "off", "alertsToAdmins": "off"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContacts/default1?api-version=2017-08-01-preview
  response:
    body:
      string: '{"properties":{"alertNotifications":"Off","alertsToAdmins":"Off","email":"john@contoso.com","phone":""},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContact/default1","name":"default1","type":"Microsoft.Security/securityContact","etag":"\"5d033e8c-0000-0d00-0000-5fd0ca8d0000\"","location":"West
        Europe"}'
    headers:
      api-supported-versions:
      - 2017-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContacts?api-version=2017-08-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"alertNotifications":"Off","alertsToAdmins":"Off","email":"john@contoso.com","phone":""},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContact/default1","name":"default1","type":"Microsoft.Security/securityContact","etag":"\"5d033e8c-0000-0d00-0000-5fd0ca8d0000\"","location":"West
        Europe"}]}'
    headers:
      api-supported-versions:
      - 2017-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/securityContacts?api-version=2017-08-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2017-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
version: 1
