interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2019-01-01
  response:
    body:
      string: '{"id":"subscriptions/14060bff-305b-45c3-8127-33958b65631b/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current","type":"Microsoft.Security/advancedThreatProtectionSettings","name":"current","properties":{"isEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isEnabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2019-01-01
  response:
    body:
      string: '{"id":"subscriptions/14060bff-305b-45c3-8127-33958b65631b/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current","type":"Microsoft.Security/advancedThreatProtectionSettings","name":"current","properties":{"isEnabled":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current?api-version=2019-01-01
  response:
    body:
      string: '{"id":"subscriptions/14060bff-305b-45c3-8127-33958b65631b/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Security/advancedThreatProtectionSettings/current","type":"Microsoft.Security/advancedThreatProtectionSettings","name":"current","properties":{"isEnabled":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 200
      message: OK
version: 1
