interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations?api-version=2015-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/westcentralus","name":"westcentralus","type":"Microsoft.Security/locations","properties":{"homeRegionName":"westcentralus"}}]}'
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/topologies?api-version=2020-01-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Security/locations/topologies","properties":{"calculatedDateTime":"2021-07-25T13:19:37.9513376Z","topologyResources":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ahabastesting/providers/Microsoft.Network/virtualNetworks/ahabasVm123","severity":"Healthy","networkZones":"Internal","recommendationsExist":false,"topologyScore":30,"location":"westus","children":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ahabastesting/providers/Microsoft.Network/virtualNetworks/ahabasVm123/subnets/ahabasVm123"}]},{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ahabastesting/providers/Microsoft.Network/virtualNetworks/ahabasVmNewTestWhy","severity":"Healthy","networkZones":"Internal","recommendationsExist":false,"topologyScore":30,"location":"westus","children":[{"resourceId":"/subscriptions/000000[...]
