interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings?api-version=2018-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/SqlServers","name":"SqlServers","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/AppServices","name":"AppServices","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}},{"id":"/sub[...]
- request:
    body: '{"properties": {"pricingTier": "free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines?api-version=2018-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free","freeTrialRemainingTime":"PT0S"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines?api-version=2018-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Standard","freeTrialRemainingTime":"PT0S"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
version: 1
