interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings?api-version=2020-01-01
  response:
    body:
      string: '{"value":[{"properties":{"rules":[{"name":"SystemGenerated","direction":"Inbound","destinationPort":3389,"protocols":["TCP"],"ipAddresses":[]},{"name":"SystemGenerated","direction":"Inbound","destinationPort":3389,"protocols":["UDP"],"ipAddresses":[]}],"effectiveNetworkSecurityGroups":[{"networkInterface":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkInterfaces/MSI-1154330049","networkSecurityGroups":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkSecurityGroups/MSI-GLStandard_A1NSG"]}],"rulesCalculationTime":"2022-11-29T22:44:53.1173755Z"},"name":"default","type":"Microsoft.Security/adaptiveNetworkHardenings","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings/default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
version: 1
