interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations?api-version=2015-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/westcentralus","name":"westcentralus","type":"Microsoft.Security/locations","properties":{"homeRegionName":"westcentralus"}}]}'
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/tasks?api-version=2015-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/westcentralus/tasks/099f0768-eb14-0179-f5a9-8553cad54542","name":"099f0768-eb14-0179-f5a9-8553cad54542","type":"Microsoft.Security/locations/westcentralus/tasks","properties":{"state":"Active","subState":"NA","creationTimeUtc":"2019-11-29T10:26:24.5547806Z","lastStateChangeTimeUtc":"2019-11-29T10:26:24.5547806Z","securityTaskParameters":{"subscriptionId":"d32bb0ce-a0d0-4234-a7f4-1be3be0ec252","baselineRuleId":"051545a4-179e-4c04-9e9b-8f33821ef36f","baselineName":"Configure
        ''Allow log on locally''","baselineCceId":"CCE-37659-0","osName":"Windows
        Server 2016 Datacenter","severity":"Critical","ruleType":"SecurityPolicy","workspaces":[{"workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-d32bb0ce-a0d0-4234-a7f4-1be3be0ec252-eus","serverCount":2}],"totalNumberOfDefectedMachines":2,"name":"Subscription
        has machines with failed baseline rule","uniqueKey":"d32bb0ce-a0d0-4234-a7f4-1be3be0ec252_051545a4-179e-4c04-9e9b-8f33821ef36f","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/westcentralus/tasks/0f970732-14ed-8bf9-b0c8-0eb5b5640df9","name":"0f970732-14ed-8bf9-b0c8-0eb5b5640df9","type":"Microsoft.Security/locations/westcentralus/tasks","properties":{"state":"Active","subState":"NA","creationTimeUtc":"2019-11-29T10:26:24.5547806Z","lastStateChangeTimeUtc":"2019-11-29T10:26:24.5547806Z","securityTaskParameters":{"subs[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amtayyem-omspublish/providers/Microsoft.Security/locations/westcentralus/tasks/08308179-8cfa-11fc-dab1-ad462bf07344?api-version=2015-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amtayyem-omspublish/providers/Microsoft.Security/locations/westcentralus/tasks/08308179-8cfa-11fc-dab1-ad462bf07344","name":"08308179-8cfa-11fc-dab1-ad462bf07344","type":"Microsoft.Security/locations/westcentralus/tasks","properties":{"state":"Active","subState":"NA","creationTimeUtc":"2021-08-03T16:10:35.8535938Z","lastStateChangeTimeUtc":"2021-08-03T16:10:35.8535938Z","securityTaskParameters":{"resourceType":"StorageAccount","category":"Networking","assessmentKey":"45d313c3-3fca-5040-035f-d61928366d31","policyName":"Access
        to storage accounts with firewall and virtual network configurations should
        be restricted","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/34c877ad-507e-4c82-993e-3452a6e0ad3c","severity":"Low","name":"GenericSecuirtyTask","uniqueKey":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/amtayyem-omspublish/providers/microsoft.storage/storageaccounts/amtayyemoms_45d313c3-3fca-5040-035f-d61928366d31","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/amtayyem-omspublish/providers/microsoft.storage/storageaccounts/amtayyemoms"}}}'
    headers:
      api-supported-versions:
      - '1.0'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/westcentralus/tasks/099f0768-eb14-0179-f5a9-8553cad54542?api-version=2015-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/westcentralus/tasks/099f0768-eb14-0179-f5a9-8553cad54542","name":"099f0768-eb14-0179-f5a9-8553[...]
