interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations?api-version=2015-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/centralus","name":"centralus","type":"Microsoft.Security/locations","properties":{"homeRegionName":"centralus"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/discoveredSecuritySolutions?api-version=2020-01-01
  response:
    body:
      string: '{"value":[{"properties":{"securityFamily":"SaasWaf","offer":"","publisher":"microsoft","sku":""},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myService1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/ContosoWAF2","name":"ContosoWAF2","type":"Microsoft.Security/locations/discoveredSecuritySolutions","location":"northeurope"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      - ''
      - ''
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '749'
    status:
      code: 200
      message: OK
version: 1
