interactions:
- request:
    body: '{"tags": {"date": "2019-03-07T19:48:33Z", "cause": "automation", "product":
      "azurecli"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"date":"2019-03-07T19:48:33Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/microsoft-ads/artifacttypes/vmimage/offers/linux-data-science-vm-ubuntu/skus/linuxdsvmubuntu/versions?api-version=2017-12-01&$top=1&$orderby=name%20desc
  response:
    body: {string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"\
        19.01.03\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/microsoft-ads/ArtifactTypes/VMImage/Offers/linux-data-science-vm-ubuntu/Skus/linuxdsvmubuntu/Versions/19.01.03\"\
        \r\n  }\r\n]"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/microsoft-ads/artifacttypes/vmimage/offers/linux-data-science-vm-ubuntu/skus/linuxdsvmubuntu/versions/19.01.03?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"replicaType\": \"Unmanaged\"\
        ,\r\n    \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\"\
        : false\r\n    },\r\n    \"plan\": {\r\n      \"publisher\": \"microsoft-ads\"\
        ,\r\n      \"name\": \"linuxdsvmubuntu\",\r\n      \"product\": \"linux-data-science-vm-ubuntu\"\
        \r\n    },\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\"\
        ,\r\n      \"sizeInGb\": 50\r\n    },\r\n    \"dataDiskImages\": [\r\n   \
        \   {\r\n        \"lun\": 0,\r\n        \"sizeInGb\": 100\r\n      }\r\n \
        \   ]\r\n  },\r\n  \"location\": \"westus\",\r\n  \"name\": \"19.01.03\",\r\
        \n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/microsoft-ads/ArtifactTypes/VMImage/Offers/linux-data-science-vm-ubuntu/Skus/linuxdsvmubuntu/Versions/19.01.03\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/microsoft-ads/offers/linux-data-science-vm-ubuntu/plans/linuxdsvmubuntu/agreements/current?api-version=2015-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/microsoft-ads/offers/linux-data-science-vm-ubuntu/plans/linuxdsvmubuntu/agreements/current","name":"linuxdsvmubuntu","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"microsoft-ads","product":"linux-data-science-vm-ubuntu","plan":"linuxdsvmubuntu","licenseTextLink":"https://storelegalterms.blob.core.windows.net/legalterms/3E5ED_legalterms_MICROSOFT%253a2DADS%253a24LINUX%253a2DDATA%253a2DSCIENCE%253a2DVM%253a2DUBUNTU%253a24LINUXDSVMUBUNTU%253a24T6KYYUE6UICDGSKJBSZ7NUG36TS7TLQNEXKVU5ZKR2Y2KZNYCHB3KPFZZIJSWAYBL3WOEYWIQZASGI2LEGBOM2MSVTDOBSREMDZG2DI.txt","privacyPolicyLink":"http://www.microsoft.com/privacystatement/OnlineServices/Default.aspx","retrieveDatetime":"2019-03-07T19:48:48.1364698Z","signature":"YSCQAJB3CJT24KHBAWIBAASAGYTFYYDKP3OD75XWSTPQKQ6SC2TAPWDIYBBJZCICYXFW6VFPGM3DK22YOASOGM2YD3CEEOXAXCD27EA","accepted":true}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      dataserviceversion: ['5.2.1.518 (AzureUX-Store:master.53049634.190225-2315)']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-10-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "parameters": {"adminPassword":
      {"value": "testPassword0"}}, "template": {"contentVersion": "1.0.0.0", "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {}, "resources": [{"tags": {}, "location": "westus", "type": "Microsoft.Network/virtualNetworks",
      "name": "vm1VNET", "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "vm1Subnet"}]},
      "apiVersion": "2015-06-15", "dependsOn": []}, {"tags": {}, "location": "westus",
      "type": "Microsoft.Network/networkSecurityGroups", "name": "vm1NSG", "properties":
      {"securityRules": [{"properties": {"sourceAddressPrefix": "*", "destinationAddressPrefix":
      "*", "protocol": "Tcp", "priority": 1000, "direction": "Inbound", "sourcePortRange":
      "*", "destinationPortRange": "22", "access": "Allow"}, "name": "default-allow-ssh"}]},
      "apiVersion": "2015-06-15", "dependsOn": []}, {"tags": {}, "location": "westus",
      "type": "Microsoft.Network/publicIPAddresses", "name": "vm1PublicIP", "properties":
      {"publicIPAllocationMethod": null}, "apiVersion": "2017-10-01", "dependsOn":
      []}, {"tags": {}, "location": "westus", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm1VMNic", "properties": {"ipConfigurations": [{"properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"}},
      "name": "ipconfigvm1"}], "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"}},
      "apiVersion": "2015-06-15", "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"]},
      {"tags": {}, "location": "westus", "type": "Microsoft.Compute/virtualMachines",
      "name": "vm1", "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "managedDisk": {"storageAccountType":
      null}, "caching": "ReadWrite", "name": null}, "imageReference": {"offer": "linux-data-science-vm-ubuntu",
      "publisher": "microsoft-ads", "version": "latest", "sku": "linuxdsvmubuntu"}},
      "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]},
      "osProfile": {"computerName": "vm1", "adminUsername": "sdk-test-admin", "adminPassword":
      "[parameters(\''adminPassword\'')]"}}, "apiVersion": "2017-12-01", "dependsOn":
      ["Microsoft.Network/networkInterfaces/vm1VMNic"], "plan": {"product": "linux-data-science-vm-ubuntu",
      "publisher": "microsoft-ads", "name": "linuxdsvmubuntu", "promotionCode": null}}],
      "parameters": {"adminPassword": {"type": "securestring", "metadata": {"description":
      "Secure adminPassword"}}}, "variables": {}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_5901kcBWzUzjXBLzP7VPwmQMSUaCTpFG","name":"vm_deploy_5901kcBWzUzjXBLzP7VPwmQMSUaCTpFG","properties":{"templateHash":"388496103421738965","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-03-07T19:49:42.6128774Z","duration":"PT49.7190737S","correlationId":"77b48906-259d-4740-b20d-0998a6642674","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm1PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_5901kcBWzUzjXBLzP7VPwmQMSUaCTpFG/operationStatuses/08586496187525838288?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586496187525838288?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2017-12-01&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"4fef171a-7b43-402c-8c23-4f3b0b194d37\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"microsoft-ads\",\r\n        \"offer\": \"linux-data-science-vm-ubuntu\"\
        ,\r\n        \"sku\": \"linuxdsvmubuntu\",\r\n        \"version\": \"latest\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n\
        \        \"name\": \"vm1_OsDisk_1_19c12a154e1441ad89fc38f683792b4b\",\r\n\
        \        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_19c12a154e1441ad89fc38f683792b4b\"\
        \r\n        },\r\n        \"diskSizeGB\": 50\r\n      },\r\n      \"dataDisks\"\
        : [\r\n        {\r\n          \"lun\": 0,\r\n          \"name\": \"vm1_lun_0_2_dd9da8911abd45aa967f46c54a74e5dd\"\
        ,\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\":\
        \ \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\"\
        : \"Premium_LRS\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm1_lun_0_2_dd9da8911abd45aa967f46c54a74e5dd\"\
        \r\n          },\r\n          \"diskSizeGB\": 100\r\n        }\r\n      ]\r\
        \n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm1\",\r\n \
        \     \"adminUsername\": \"sdk-test-admin\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"computerName\": \"vm1\",\r\n      \"osName\": \"ubuntu\",\r\
        \n      \"osVersion\": \"16.04\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\"\
        : \"2.2.37\",\r\n        \"statuses\": [\r\n          {\r\n            \"\
        code\": \"ProvisioningState/succeeded\",\r\n            \"level\": \"Info\"\
        ,\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\"\
        : \"Guest Agent is running\",\r\n            \"time\": \"2019-03-07T19:51:46+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"vm1_OsDisk_1_19c12a154e1441ad89fc38f683792b4b\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2019-03-07T19:50:24.9281227+00:00\"\r\n            }\r\
        \n          ]\r\n        },\r\n        {\r\n          \"name\": \"vm1_lun_0_2_dd9da8911abd45aa967f46c54a74e5dd\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2019-03-07T19:50:24.9437428+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"statuses\": [\r\n      \
        \  {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n         \
        \ \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\"\
        ,\r\n          \"time\": \"2019-03-07T19:51:33.7280775+00:00\"\r\n       \
        \ },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n     \
        \     \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\
        \n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"plan\": {\r\n \
        \   \"name\": \"linuxdsvmubuntu\",\r\n    \"publisher\": \"microsoft-ads\"\
        ,\r\n    \"product\": \"linux-data-science-vm-ubuntu\"\r\n  },\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"name\": \"vm1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;3996,Microsoft.Compute/LowCostGet30Min;31996']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"6bba9486-95c6-4ce7-9985-f924c22c8134\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"ba05263d-2fa9-4bcc-8d47-c7094a503f8b\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        ,\r\n        \"etag\": \"W/\\\"6bba9486-95c6-4ce7-9985-f924c22c8134\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"kfu2nntjrd3etk1p5mejwl1cqa.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-0D-3A-38-1C-41\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"6bba9486-95c6-4ce7-9985-f924c22c8134"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"f38c3d0f-9730-4938-a8c9-8eac7648ae5a\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e7fcdd40-9b3e-4a4f-9b31-586734c6007b\"\
        ,\r\n    \"ipAddress\": \"40.83.171.225\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\
        \n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f38c3d0f-9730-4938-a8c9-8eac7648ae5a"]
    status: {code: 200, message: OK}
- request:
    body: '{"script": ["echo ''sudo waagent -deprovision+user --force'' | at -M now
      + 1 minutes"], "commandId": "RunShellScript", "parameters": []}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1/runCommand?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/203c4f20-0fc2-4b87-98c5-96c70272046d?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/203c4f20-0fc2-4b87-98c5-96c70272046d?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1199']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/203c4f20-0fc2-4b87-98c5-96c70272046d?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2019-03-07T19:51:49.0100143+00:00\",\r\
        \n  \"endTime\": \"2019-03-07T19:52:07.0889479+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"properties\": {\r\n    \"output\": [\r\n  {\r\n    \"\
        code\": \"ProvisioningState/succeeded\",\r\n    \"level\": \"Info\",\r\n \
        \   \"displayStatus\": \"Provisioning succeeded\",\r\n    \"message\": \"\
        Enable succeeded: \\n[stdout]\\n\\n[stderr]\\nwarning: commands will be executed\
        \ using /bin/sh\\njob 1 at Thu Mar  7 19:53:00 2019\\n\"\r\n  }\r\n]\r\n \
        \ },\r\n  \"name\": \"203c4f20-0fc2-4b87-98c5-96c70272046d\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14993,Microsoft.Compute/GetOperation30Min;29993']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1/deallocate?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fb7c055f-9c6c-4782-93ec-ae2b21240fcc?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/fb7c055f-9c6c-4782-93ec-ae2b21240fcc?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1199']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1/generalize?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1198']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"4fef171a-7b43-402c-8c23-4f3b0b194d37\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\
        \n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n \
        \       \"publisher\": \"microsoft-ads\",\r\n        \"offer\": \"linux-data-science-vm-ubuntu\"\
        ,\r\n        \"sku\": \"linuxdsvmubuntu\",\r\n        \"version\": \"latest\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n\
        \        \"name\": \"vm1_OsDisk_1_19c12a154e1441ad89fc38f683792b4b\",\r\n\
        \        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_19c12a154e1441ad89fc38f683792b4b\"\
        \r\n        }\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n     \
        \     \"lun\": 0,\r\n          \"name\": \"vm1_lun_0_2_dd9da8911abd45aa967f46c54a74e5dd\"\
        ,\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\":\
        \ \"None\",\r\n          \"managedDisk\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm1_lun_0_2_dd9da8911abd45aa967f46c54a74e5dd\"\
        \r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\
        \n      \"computerName\": \"vm1\",\r\n      \"adminUsername\": \"sdk-test-admin\"\
        ,\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"plan\": {\r\n    \"name\": \"linuxdsvmubuntu\",\r\n   \
        \ \"publisher\": \"microsoft-ads\",\r\n    \"product\": \"linux-data-science-vm-ubuntu\"\
        \r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"name\": \"vm1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;3993,Microsoft.Compute/LowCostGet30Min;31992']
[...]
