interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/fc46e62d-b9d4-406c-a2fb-f288dda0fc04?api-version=2017-05-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/fc46e62d-b9d4-406c-a2fb-f288dda0fc04?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadaeast","properties":{"accountEndpoint":"clibatch000002.canadaeast.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":50,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D49C918A176CB2"']
      last-modified: ['Tue, 16 May 2017 19:27:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"5u6k6Pnn6yq4CUK+WsKL0TFWUzSFpjomsj5R5uUjn3PcKdG3Vr4wxplnSFPZ4ecjOqJvMpIqWId2USwi/ct6wQ==","secondary":"KoARZyAfzQjp4GI7qoDJPXv5sTcfeqGwOeYNoweiUi4O9kie6nB7k/S5+5sM5V3y+lgDB76G2oklsfZCn15AZw=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "azure-cli-test-paas", "cloudServiceConfiguration": {"osFamily":
      "4"}, "vmSize": "small"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:27:09 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/pools?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchipqtwdc3gb2sotdu.canadaeast.batch.azure.com/pools/azure-cli-test-paas']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C918B99572A']
      last-modified: ['Tue, 16 May 2017 19:27:09 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/pools/azure-cli-test-paas']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "cli-test-job-1", "metadata": [{"name": "test", "value": "value"}],
      "jobManagerTask": {"environmentSettings": [{"name": "CLI_TEST_VAR", "value":
      "CLI_TEST_VAR_VALUE"}], "id": "JobManager", "commandLine": "cmd /c set AZ_BATCH_TASK_ID"},
      "poolInfo": {"poolId": "azure-cli-test-paas"}, "constraints": {"maxTaskRetryCount":
      5}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:27:09 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchipqtwdc3gb2sotdu.canadaeast.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C918BEE482C']
      last-modified: ['Tue, 16 May 2017 19:27:09 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:27:10 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1\"\
        ,\"eTag\":\"0x8D49C918BEE482C\",\"lastModified\":\"2017-05-16T19:27:09.7922604Z\"\
        ,\"creationTime\":\"2017-05-16T19:27:09.7242774Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-05-16T19:27:09.7922604Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":5\r\n  },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\"\
        ,\"commandLine\":\"cmd /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\
        \n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\
        \r\n      }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\
        \n    },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"elevationLevel\"\
        :\"nonadmin\"\r\n      }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\"\
        :true,\"killJobOnCompletion\":true\r\n  },\"poolInfo\":{\r\n    \"poolId\"\
        :\"azure-cli-test-paas\"\r\n  },\"metadata\":[\r\n    {\r\n      \"name\"\
        :\"test\",\"value\":\"value\"\r\n    }\r\n  ],\"executionInfo\":{\r\n    \"\
        startTime\":\"2017-05-16T19:27:09.7922604Z\",\"poolId\":\"azure-cli-test-paas\"\
        \r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\
        \r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C918BEE482C']
      last-modified: ['Tue, 16 May 2017 19:27:09 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"onAllTasksComplete": "terminateJob", "poolInfo": {"poolId": "azure-cli-test-paas"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      If-Unmodified-Since: ['Tue, 16 May 2017 12:27:09 GMT']
      ocp-date: ['Tue, 16 May 2017 19:27:11 GMT']
      return-client-request-id: ['false']
    method: PUT
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"ConditionNotMet\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\"\
        :\"The condition specified using HTTP conditional header(s) is not met.\\\
        nRequestId:e163bb81-8a69-4c05-984b-86ac41d9a074\\nTime:2017-05-16T19:27:13.1317894Z\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdONVBEQlo1SVJHS1BRNENEWTZXTlRJNks1U0pWVDJBSFdRV3xFRDVFRjMxMjdERTBGMDgzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
