interactions:
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {"enabled":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/1f736de685794d0f87b545c54e415f6c","attributes":{"enabled":true,"created":1483738614,"updated":1483738614},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1483738614,"updated":1483738614},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "DEF456", "tags": {"file-encoding": "utf-8", "test": "foo"},
      "attributes": {"enabled": true}, "contentType": "test type"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/23a638d428614c49a2bc528bd4b46805","attributes":{"enabled":true,"created":1483738616,"updated":1483738616},"tags":{"file-encoding":"utf-8","test":"foo"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/1f736de685794d0f87b545c54e415f6c","attributes":{"enabled":true,"created":1483738614,"updated":1483738614},"tags":{"file-encoding":"utf-8"}},{"contentType":"test
        type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/23a638d428614c49a2bc528bd4b46805","attributes":{"enabled":true,"created":1483738616,"updated":1483738616},"tags":{"file-encoding":"utf-8","test":"foo"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/23a638d428614c49a2bc528bd4b46805","attributes":{"enabled":true,"created":1483738616,"updated":1483738616},"tags":{"file-encoding":"utf-8","test":"foo"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/1f736de685794d0f87b545c54e415f6c?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/1f736de685794d0f87b545c54e415f6c","attributes":{"enabled":true,"created":1483738614,"updated":1483738614},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/9b7e9fb88c1741debdda9f9a879f69eb","attributes":{"enabled":true,"created":1483738620,"updated":1483738620},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/9b7e9fb88c1741debdda9f9a879f69eb","attributes":{"enabled":true,"created":1483738620,"updated":1483738620},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/94c5e28e98494637bf2a50fbcb88ba56","attributes":{"enabled":true,"created":1483738622,"updated":1483738622},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/94c5e28e98494637bf2a50fbcb88ba56","attributes":{"enabled":true,"created":1483738622,"updated":1483738622},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/12d643dcf6ed4d60ba696ee05641174f","attributes":{"enabled":true,"created":1483738623,"updated":1483738623},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/12d643dcf6ed4d60ba696ee05641174f","attributes":{"enabled":true,"created":1483738623,"updated":1483738623},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/6b879cdd2ce942feaa8a0d1275905f4f","attributes":{"enabled":true,"created":1483738624,"updated":1483738624},"tags":{"file-encoding":"ascii"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/6b879cdd2ce942feaa8a0d1275905f4f","attributes":{"enabled":true,"created":1483738624,"updated":1483738624},"tags":{"file-encoding":"ascii"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/ffb89eeecd874cd8b8ed343e018a797f","attributes":{"enabled":true,"created":1483738625,"updated":1483738625},"tags":{"file-encoding":"base64"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/ffb89eeecd874cd8b8ed343e018a797f","attributes":{"enabled":true,"created":1483738625,"updated":1483738625},"tags":{"file-encoding":"base64"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/031719f66190437397f2150ec617da36","attributes":{"enabled":true,"created":1483738626,"updated":1483738626},"tags":{"file-encoding":"hex"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/031719f66190437397f2150ec617da36","attributes":{"enabled":true,"created":1483738626,"updated":1483738626},"tags":{"file-encoding":"hex"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
