interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_list_cred000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001","name":"cli_test_aro_list_cred000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2020-04-09T20:28:57Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\"\
        ,\r\n  \"etag\": \"W/\\\"ea15f2cf-1781-4ee3-a212-31a7c7c926f2\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"63b080a1-2cff-46a4-af3f-80453aa8b9f8\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":\
        \ [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b25ecd3f-e301-46b7-b327-379f46eecfad?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b25ecd3f-e301-46b7-b327-379f46eecfad?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.111.107.0/24", "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]},
      "name": "dev_master000002"}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/M[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "properties": {"addressPrefix": "10.111.107.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "name": "dev_master000002"},
      {"properties": {"addressPrefix": "10.124.68.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}, "name": "dev_worker000003"}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_t[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\"\
        ,\r\n  \"etag\": \"W/\\\"f1e81713-230c-4b73-9068-a33793a17603\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.111.107.0/24\",\r\n    \"serviceEndpoints\": [\r\n \
        \     {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f1e81713-230c-4b73-9068-a33793a17603"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\"\
        ,\r\n  \"etag\": \"W/\\\"1f8d117b-f9e2-4577-a4b9-f189b626cd87\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.124.68.0/24\",\r\n    \"serviceEndpoints\": [\r\n  \
        \    {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f8d117b-f9e2-4577-a4b9-f189b626cd87"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"passwordCredentials": [{"endDate": "2299-12-31T00:00:00.000Z", "value":
      "ReplacedSPPassword123*"}], "displayName": "aro-f9sbnfee", "identifierUris":
      ["https://az.aro.azure.com/ee5079a0-a437-4312-a325-3baf4bc08578"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "66e980f4-e07d-4c45-9631-f87487a0db75", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "0294739b-022f-49f0-bff6-0423c1ab15e7",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-f9sbnfee", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/ee5079a0-a437-4312-a325-3baf4bc08578"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/66e980f4-e07d-4c45-9631-f87487a0db75/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/66e980f4-e07d-4c45-9631-f87487a0db75/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-f9sbnfee on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-f9sbnfee", "id": "d50f9c59-c40a-4cf1-857d-5bb8b0eb7db4",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-f9sbnfee on your behalf.", "userConsentDisplayName": "Access
        aro-f9sbnfee", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2299-12-31T00:00:00Z", "keyId":
        "9afe2c08-6d70-4c30-9cec-7b5287325c6f", "startDate": "2020-04-09T20:29:32.4196255Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6408459'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/66e980f4-e07d-4c45-9631-f87487a0db75/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - xdfwO20SXNNkWdUguLgadDZ7491EBuFeNt9TuPw2Wwg=
      ocp-aad-session-key:
      - 7EM3G44EF3SwoH541HRY1tRAjXAOI0t3Z5El5bgrmDI67SRkVajCRGumjbKHDKztXIv4yRRhApAAY4GkwVFWNVVfPgc9CFUHZ8aGVFpto704PMuCVEbXpc4U0jza113BH5XyHSmu8Pikw50nc7h_7arsFq2NdSj5xoBlqNCeVo4.KTiLPeg-j59JY1Uh5sgodWY6eSVvNoOUhRCAVEFVp3c
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%270294739b-022f-49f0-bff6-0423c1ab15e7%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2510333'
      ocp-aad-diagnostics-server-name:
      - IJ9hu3Dp/eUWeduIsPlkDeV/C8gvKL6e41hFy6/1ENw=
      ocp-aad-session-key:
      - 9K4tblt_f8ztBlhxMXYZsIcNbZF0n-w_Z45h_Qq3rKiSeWyf262inMJib6e6dfUqTw5EjkaNTizI8svgyceCZxE4L1lp1InzbnXhMKmdzveI01fIbH05sIOyTX2bEKCl62WgzhrUw3ZjLqi3pWAIs5SH-7w4TXNT_jopi4jAugs.DnCTSntJ-R0Nj3Hzp05ZWVSX0aIfeH9411ypdi-BLS4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "0294739b-022f-49f0-bff6-0423c1ab15e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"3323485c-61d4-4f22-a2ac-bec35993ace4","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-f9sbnfee","appId":"0294739b-022f-49f0-bff6-0423c1ab15e7","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-f9sbnfee","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-f9sbnfee on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-f9sbnfee","id":"d50f9c59-c40a-4cf1-857d-5bb8b0eb7db4","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-f9sbnfee on your behalf.","userConsentDisplayName":"Access
        aro-f9sbnfee","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["0294739b-022f-49f0-bff6-0423c1ab15e7","https://az.aro.azure.com/ee5079a0-a437-4312-a325-3baf4bc08578"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5188663'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/3323485c-61d4-4f22-a2ac-bec35993ace4/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - /NtEgZUZd+wP7jWSrDYgeIT+rUlfDWAtBVfze/ynjcQ=
      ocp-aad-session-key:
      - mrJglOLUTnIUI8HtA4LPtE-BKdAcLea_DSKLzit3BP4BaFxVmOSq8Gn58FsjAwIq7CS-ylhZt3RoeFZ9Y_t0xlV48CbZdNmA-7kfnLKhoO4QsMiLVKcv9EvWXne45HjTclkYaxWQ8vtMSo0M9eY0YELocTmOLAew9pbBwnjh95c.ee6C2UxYa04GEBDufQnTeVqcfvnQFjiOuGUUVSX6e7g
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/0e2c3a2e-c25e-43bc-8fcd-4d9788a89d2c","principalId":"b60fb482-38c4-4551-84c9-d8bfad9e43f2","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2020-04-06T12:08:21.3103444Z","updatedOn":"2020-04-06T12:08:21.3103444Z","createdBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530","updatedBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/0dab9aae-06df-4263-831d-08a60c5017e9","type":"Microsoft.Authorization/roleAssignments","name":"0dab9aae-06df-4263-831d-08a60c5017e9"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c003[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "3323485c-61d4-4f22-a2ac-bec35993ace4", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: 'b''{"tags": {"test": "list-cred"}, "location": "eastus", "properties":
      {"clusterProfile": {"pullSecret": "", "domain": "f9sbnfee", "resourceGroupId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-f9sbnfee"},
      "servicePrincipalProfile": {"clientId": "0294739b-022f-49f0-bff6-0423c1ab15e7",
      "clientSecret": "fdb57f97-5e33-4e75-8c80-7833f47d28dd"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D2s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"list-cred\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Creating\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"f9sbnfee\",\n\
        \            \"version\": \"4.3.9\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-f9sbnfee\"\
        \n        },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\"\
        : {\n            \"clientId\": \"0294739b-022f-49f0-bff6-0423c1ab15e7\"\n\
        \        },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\"\
        ,\n            \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"\
        masterProfile\": {\n            \"vmSize\": \"Standard_D8s_v3\",\n       \
        \     \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_li[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/87224f69-61c2-4e64-9022-e01b30f60c8a?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/87224f69-61c2-4e64-9022-e01b30f60c8a\"\
        ,\n    \"name\": \"87224f69-61c2-4e64-9022-e01b30f60c8a\",\n    \"startTime\"\
        : \"2020-04-09T20:29:47.102822338Z\",\n    \"status\": \"Creating\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/87224f69-61c2-4e64-9022-e01b30f60c8a?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"endTime\": \"2020-04-09T21:03:25.305054312Z\",\n    \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/87224f69-61c2-4e64-9022-e01b30f60c8a\"\
        ,\n    \"name\": \"87224f69-61c2-4e64-9022-e01b30f60c8a\",\n    \"startTime\"\
        : \"2020-04-09T20:29:47.102822338Z\",\n    \"status\": \"Succeeded\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"list-cred\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"f9sbnfee\",\n\
        \            \"version\": \"4.3.9\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-f9sbnfee\"\
        \n        },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.f9sbnfee.eastus.aroapp.io/\"\
        \n        },\n        \"servicePrincipalProfile\": {\n            \"clientId\"\
        : \"0294739b-022f-49f0-bff6-0423c1ab15e7\"\n        },\n        \"networkProfile\"\
        : {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\"\
        : \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n          \
        \  \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\": \"/subs[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004/listCredentials?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"kubeadminUsername\": \"kubeadmin\",\n    \"kubeadminPassword\"\
        : \"tp6Ye-UPKLe-75C33-Ve9eY\"\n}\n"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
