interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"731e9b15-4584-41ae-b8d3-4c374b2d5d54\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"e6046ea7-ab03-4bf3-b9fb-15c50a6e3294\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b5cf6278-3d65-400d-8615-eb3b7950cc08?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b5cf6278-3d65-400d-8615-eb3b7950cc08?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "dev_master000003", "properties": {"addressPrefix": "10.94.254.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003?api-version=2023-05-01
  response:
    body:
      string: '{"name":"dev_master000003","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003","etag":"W/\"732becf1-91de-4e3a-a974-02652c8cc72d\"","properties":{"provisioningState":"Updating","addressPrefix":"10.94.254.0/24","serviceEndpoints":[{"provisioningState":"Updating","service":"Microsoft.ContainerRegistry","locations":["*"]}],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/75daf014-0b27-4e9b-9f00-613c857a7e11?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "dev_worker000004", "properties": {"addressPrefix": "10.51.158.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000004?api-version=2023-05-01
  response:
    body:
[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2023-09-04","2023-07-01-preview","2023-04-01","2022-09-04","2022-04-01","2021-09-01-preview","2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        Central","Australia Central 2","Australia East","Australia Southeast","Brazil
        South","Brazil Southeast","Canada Central","Canada East","Central India","Central
        US","East Asia","East US 2","France Central","Germany West Central","Japan
        East","Japan West","Korea Central","North Central US","North Europe","Norway
        East","Norway West","Qatar Central","South Africa North","South Central[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=appId%20eq%20%27f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"50c17c64-bc11-4fdd-a339-0ecd396bf911","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"Azure
        Red Hat OpenShift RP","appDescription":null,"appId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdDateTime":"2020-01-12T07:30:56Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"Azure
        Red Hat OpenShift RP","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"005","RoleInstance":"SN4PEPF00000007"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/permissions?api-version=2015-07-01
  response:
    body:
      string: '{"value":[{"actions":["*/read"],"notActions":[]},{"actions":["Microsoft.Authorization/*/read","Microsoft.Resources/subscriptions/operationresults/read","Microsoft.Resources/subscriptions/read","Microsoft.Resources/subscriptions/resourceGroups/read"],"notActions":[]},{"actions":["Microsoft.ContainerService/managedClusters/listClusterUserCredential/action","Microsoft.ContainerService/managedClusters/read"],"notActions":[]},{"actions":["*"],"notActions":[]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/9b0f576e-fc2e-4256-9aa3-6fede171d599","principalId":"5c445532-1499-448e-970c-bda7db1e1f15","principalType":"ServicePrincipal","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2023-07-13T16:20:06.8829118Z","updatedOn":"2023-07-13T16:20:06.8829118Z","createdBy":null,"updatedBy":null,"delegatedManagedIdentityResourceId":null,"description":"Allow
        AccessMonitorReader to read access details for compliance purpose"},"id":"/providers/Microsoft.Authorization/roleAssignments/fb6b898e-5323-404d-a8af-da5aafc3ecc0","type":"Microsoft.Authorization/roleAssignments","name":"fb6b898e-5323-404d-a8af-da5aafc3ecc0"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/9b0f576e-fc2e-4256-9aa3-6fede171d599","principalId":"612cdbb4-6edd-499[...]
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "c07caa20-8779-4051-875d-c86305a04e5c", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update00000[...]
[...]
- request:
    body: '{"tags": {"test": "update"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "a4bf8g48", "version": "", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-a4bf8g48",
      "fipsValidatedModules": "Disabled"}, "servicePrincipalProfile": {"clientId":
      "00000000-0000-0000-0000-000000000001", "clientSecret": "fake-secret"}, "networkProfile":
      {"podCidr": "10.128.0.0/14", "serviceCidr": "172.30.0.0/16", "outboundType":
      "", "preconfiguredNSG": "Disabled"}, "masterProfile": {"vmSize": "Standard_D8s_v3",
      "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003",
      "encryptionAtHost": "Disabled"}, "workerProfiles": [{"name": "worker", "vmSize":
      "Standard_D4s_v3", "diskSizeGB": 128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000004",
      "count": 3, "encryptionAtHost": "Disabled"}], "apiserverProfile": {"visibility":
      "Public"}, "ingressProfiles": [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000005?api-version=2023-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000005\",\n
        \   \"name\": \"aro000005\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"systemData\": {\n        \"createdBy\":
        \"gniranjan@microsoft.com\",\n        \"createdByType\": \"User\",\n        \"createdAt\":
        \"2023-10-25T15:21:06.0778505Z\",\n        \"lastModifiedBy\": \"gniranjan@microsoft.com\",\n
        \       \"lastModifiedByType\": \"User\",\n        \"lastModifiedAt\": \"2023-10-25T15:21:06.0778505Z\"\n
        \   },\n    \"tags\": {\n        \"test\": \"update\"\n    },\n    \"properties\":
        {\n        \"provisioningState\": \"Creating\",\n        \"clusterProfile\":
        {\n            \"domain\": \"a4bf8g48\",\n            \"version\": \"4.11.44\",\n
        \           \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-a4bf8g48\",\n
        \           \"fipsValidatedModules\": \"Disabled\"\n        },\n        \"consoleProfile\":
        {},\n        \"servicePrincipalProfile\": {\n            \"clientId\": \"00000000-0000-0000-0000-000000000001\"\n
        \       },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\",\n            \"outboundType\":
        \"Loadbalancer\",\n            \"preconfiguredNSG\": \"Enabled\"\n        },\n
        \       \"masterProfile\": {\n            \"vmSize\": \"Standard_D8s_v3\",\n
        \           \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/82ad0a7d-d6f0-46ef-8c36-a6e07827d006?api-version=2023-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/82ad0a7d-d6f0-46ef-8c36-a6e07827d006\",\n
        \   \"name\": \"82ad0a7d-d6f0-46ef-8c36-a6e07827d006\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2023-10-25T15:21:19.811496735Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/82ad0a7d-d6f0-46ef-8c36-a6e07827d006?api-version=2023-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/82ad0a7d-d6f0-46ef-8c36-a6e07827d006\",\n
        \   \"name\": \"82ad0a7d-d6f0-46ef-8c36-a6e07827d006\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2023-10-25T15:21:19.811496735Z\",\n    \"endTime\": \"2023-10-25T16:11:33.990243597Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003\",\r\n
        \ \"etag\": \"W/\\\"c90752a2-3e47-400a-a445-d1d350a32abf\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.94.254.0/24\",\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-a4bf8g48/providers/Microsoft.Network/networkSecurityGroups/aro000005-tg42j-nsg\"\r\n
        \   },\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ARO-A4BF8G48/providers/Microsoft.Network/loadBalancers/ARONBCOFBYBZRD-TG42J-INTERNAL/frontendIPConfigurations/INTERNAL-LB-IP-V4\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ARO-A4BF8G48/providers/Microsoft.Network/networkInterfaces/ARONBCOFBYBZRD-TG42J-MASTER0-NIC/ipConfigurations/PIPCONFIG\"\r\n
        \     },\r\n   [...]
[...]
