interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_update000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001","name":"cli_test_aro_update000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-21T16:48:02Z","createdAt":"2020-07-21T16:48:03.5439128Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\"\
        ,\r\n  \"etag\": \"W/\\\"0f757d35-07dd-468b-8d3c-958539ce0b31\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"d61a2770-87fd-42cb-ab95-79d9b4af46ca\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":\
        \ [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/496d5b3d-6c40-452c-8be3-fa34633964c9?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/496d5b3d-6c40-452c-8be3-fa34633964c9?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.74.243.0/24", "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]},
      "name": "dev_master000002"}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microso[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "properties": {"addressPrefix": "10.74.243.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "name": "dev_master000002"},
      {"properties": {"addressPrefix": "10.51.107.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}, "name": "dev_worker000003"}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_t[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\"\
        ,\r\n  \"etag\": \"W/\\\"b408c7fa-0343-4c72-8754-934e37822e65\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.74.243.0/24\",\r\n    \"serviceEndpoints\": [\r\n  \
        \    {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b408c7fa-0343-4c72-8754-934e37822e65"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\"\
        ,\r\n  \"etag\": \"W/\\\"f58150a5-82bc-4947-8c78-5d8e8f4ae0d6\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.51.107.0/24\",\r\n    \"serviceEndpoints\": [\r\n  \
        \    {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f58150a5-82bc-4947-8c78-5d8e8f4ae0d6"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"capabilities":"None"},{"resourceType":"locations/operationsstatus","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"capabilities":"None"},{"resourceType":"OpenShiftClusters","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"defaultApiVersion":"2020-04-30","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"passwordCredentials": [{"endDate": "2299-12-31T00:00:00.000Z", "value":
      "ReplacedSPPassword123*"}], "displayName": "aro-lkn8iwy2", "identifierUris":
      ["https://az.aro.azure.com/e7b3cb3f-32c7-4a65-b78f-1833752038fe"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "7a039b09-8b94-42c3-b594-57af1d61a2af", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "1c6945f8-aec2-47a6-9dce-54ef9c4d577f",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-lkn8iwy2", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/e7b3cb3f-32c7-4a65-b78f-1833752038fe"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/7a039b09-8b94-42c3-b594-57af1d61a2af/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/7a039b09-8b94-42c3-b594-57af1d61a2af/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-lkn8iwy2 on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-lkn8iwy2", "id": "2950d36d-c18e-4f23-973d-8177b695a9c4",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-lkn8iwy2 on your behalf.", "userConsentDisplayName": "Access
        aro-lkn8iwy2", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2299-12-31T00:00:00Z", "keyId":
        "609d64d5-af8a-413c-9991-efd90700e9ba", "startDate": "2020-07-21T16:48:24.9656225Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6720798'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/7a039b09-8b94-42c3-b594-57af1d61a2af/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - o+OzvrbXda/HNKPy0XFhn0fPLj0q3cuHM0dzANWSMNM=
      ocp-aad-session-key:
      - YYjC08wYP6eBxpT-amWsm7dzHRIsyylJ2lZrN8xGEFczC_ZAs43VSqoHDRAO77sALz2nfZDd7VCNRVTm5b48ggI2BN1XvWrHcOD2Ury4G8YiKGQ8lbrtJkrkxMkRC4I8TdZMnldNbjmBoJ_sPwoDYtKbNZsEbM2kE3boz-8Zjek.yPZVOrrxNBk-PvgkgFj6kvOjkMgy-P-xgkSdkNa28v0
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%271c6945f8-aec2-47a6-9dce-54ef9c4d577f%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '833887'
      ocp-aad-diagnostics-server-name:
      - EmA3JOgfTt9Zs4+nqoZ52RV8nbqnavP/EJwwpEUB4w8=
      ocp-aad-session-key:
      - C4uqk__FjJH-I7SH5Kjcjv3sqePFY6zp6s_xt-XmC4c630ZgFM9NrV7YNlIYsxhmDYDZ6Y5V6d49iVlavnmH0WQw_9uSNhTD2-qMd2dCHU39a78q4WFbYxvDkblnzbd4i_hqnxM_xGHqX-BUpQSEsc1xKdv4vyUHn8utdk92hsw.0vAXDq34SzmOln3NGLafl1hKX_8TldIC5Fzxb09d38E
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "1c6945f8-aec2-47a6-9dce-54ef9c4d577f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"e87ac06c-b795-44ae-85d4-49182e079b25","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-lkn8iwy2","appId":"1c6945f8-aec2-47a6-9dce-54ef9c4d577f","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-lkn8iwy2","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-lkn8iwy2 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-lkn8iwy2","id":"2950d36d-c18e-4f23-973d-8177b695a9c4","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-lkn8iwy2 on your behalf.","userConsentDisplayName":"Access
        aro-lkn8iwy2","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["1c6945f8-aec2-47a6-9dce-54ef9c4d577f","https://az.aro.azure.com/e7b3cb3f-32c7-4a65-b78f-1833752038fe"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4217444'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e87ac06c-b795-44ae-85d4-49182e079b25/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - 92xtsSfAsXHItDTk1QjDer8ShKftdb3cu4E01I0tuhc=
      ocp-aad-session-key:
      - voQnP7yKEwRXvsIa-K4s-oAaaCKb5oPH0uMeG41tENg3CxgcyhrXvwSzWnhWlaMDxuKFFjLeUowXzQLEQ8CzjVly2sbhGYV2m_A1fjAC5jSn8jhYqYLwOxFoi-yBJR-7UgCdGldteKf4XQITcMhJtqkpVywwfUU7FIuU01mEDHA.kwlPrAPG0pxsYirwojWe0k-5VZCy_Nrb15naUC73Uf0
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c00337edbb0b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2019-12-28T19:20:12.1938451Z","updatedOn":"2020-07-15T11:05:31.7364757Z","createdBy":"60fa24bb-762f-4b64-a636-a208bc10682d","updatedBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/412173a9-cd67-5814-a6e6-ec7d981d60f4","type":"Microsoft.Authorization/roleAssignments","name":"412173a9-cd67-5814-a6e6-ec7d981d60f4"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"1dabfb0c-aae8-43e2-9c16-a888[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "e87ac06c-b795-44ae-85d4-49182e079b25", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: 'b''{"tags": {"test": "update"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "lkn8iwy2", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-lkn8iwy2"},
      "servicePrincipalProfile": {"clientId": "1c6945f8-aec2-47a6-9dce-54ef9c4d577f",
      "clientSecret": "ecfdd665-7c54-4e00-815a-fdcd3eb539cf"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"update\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Creating\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"lkn8iwy2\",\n\
        \            \"version\": \"4.4.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-lkn8iwy2\"\
        \n        },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\"\
        : {\n            \"clientId\": \"1c6945f8-aec2-47a6-9dce-54ef9c4d577f\"\n\
        \        },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\"\
        ,\n            \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"\
        masterProfile\": {\n            \"vmSize\": \"Standard_D8s_v3\",\n       \
        \     \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_up[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/0a435851-4d25-4234-8fce-b922eb6809ac?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/0a435851-4d25-4234-8fce-b922eb6809ac\"\
        ,\n    \"name\": \"0a435851-4d25-4234-8fce-b922eb6809ac\",\n    \"startTime\"\
        : \"2020-07-21T16:48:32.961552632Z\",\n    \"status\": \"Creating\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/0a435851-4d25-4234-8fce-b922eb6809ac?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"endTime\": \"2020-07-21T17:22:49.883689465Z\",\n    \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/0a435851-4d25-4234-8fce-b922eb6809ac\"\
        ,\n    \"name\": \"0a435851-4d25-4234-8fce-b922eb6809ac\",\n    \"startTime\"\
        : \"2020-07-21T16:48:32.961552632Z\",\n    \"status\": \"Succeeded\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"update\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"lkn8iwy2\",\n\
        \            \"version\": \"4.4.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-lkn8iwy2\"\
        \n        },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.lkn8iwy2.eastus.aroapp.io/\"\
        \n        },\n        \"servicePrincipalProfile\": {\n            \"clientId\"\
        : \"1c6945f8-aec2-47a6-9dce-54ef9c4d577f\"\n        },\n        \"networkProfile\"\
        : {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\"\
        : \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n          \
        \  \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\": \"/subs[...]
[...]
