interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_delete000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001","name":"cli_test_aro_delete000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-30T14:45:07Z","createdAt":"2020-07-30T14:45:08.1860801Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\"\
        ,\r\n  \"etag\": \"W/\\\"55fad717-9e80-4f3e-9411-a427b212e4dc\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"d2a71184-1010-402e-b5da-b53ba362b04c\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":\
        \ [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/dae63290-4927-4ccd-950c-90c30e5bfe6a?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/dae63290-4927-4ccd-950c-90c30e5bfe6a?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.76.18.0/24", "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]},
      "name": "dev_master000002"}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microso[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "properties": {"addressPrefix": "10.76.18.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "name": "dev_master000002"},
      {"properties": {"addressPrefix": "10.111.102.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}, "name": "dev_worker000003"}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\"\
        ,\r\n  \"etag\": \"W/\\\"9c3c8498-e514-42fa-88f4-9721d7dd029d\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.76.18.0/24\",\r\n    \"serviceEndpoints\": [\r\n   \
        \   {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9c3c8498-e514-42fa-88f4-9721d7dd029d"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\"\
        ,\r\n  \"etag\": \"W/\\\"6b860fc7-09ec-440a-9337-484631a8c9dc\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.111.102.0/24\",\r\n    \"serviceEndpoints\": [\r\n \
        \     {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6b860fc7-09ec-440a-9337-484631a8c9dc"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"capabilities":"None"},{"resourceType":"locations/operationsstatus","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"capabilities":"None"},{"resourceType":"OpenShiftClusters","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"defaultApiVersion":"2020-04-30","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"passwordCredentials": [{"endDate": "2299-12-31T00:00:00.000Z", "value":
      "ReplacedSPPassword123*"}], "displayName": "aro-n4n9tgq8", "identifierUris":
      ["https://az.aro.azure.com/1dcfac17-6f81-4605-b65c-46971e19d3d8"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "8fbc7221-d188-44ec-a2d0-44edda6918ab", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "497e83dd-3640-41d0-88d7-b7a191da2820",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-n4n9tgq8", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/1dcfac17-6f81-4605-b65c-46971e19d3d8"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/8fbc7221-d188-44ec-a2d0-44edda6918ab/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/8fbc7221-d188-44ec-a2d0-44edda6918ab/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-n4n9tgq8 on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-n4n9tgq8", "id": "480bb2e9-c9ed-43a5-93ae-edf404de4739",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-n4n9tgq8 on your behalf.", "userConsentDisplayName": "Access
        aro-n4n9tgq8", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2299-12-31T00:00:00Z", "keyId":
        "178e37fc-fc59-4c01-bbdd-be98fcbf7a30", "startDate": "2020-07-30T14:45:29.2116605Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3578922'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/8fbc7221-d188-44ec-a2d0-44edda6918ab/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - nCglVo0WbZYAepje+ELExOjcDa/y+SS3H0x+6yakRI4=
      ocp-aad-session-key:
      - RiJVzc7JRuhvYMsHH59Qv8UQp1W757s2moL9eNnM0sx6XfE0CDV5zpJbM1G19VoRL_RKyD_7SHiC59r_Rml8QfrBKJGHJVsREP9maR_HLor7xwUK6bW-BRJcvX1kx6ukpenFyg0jN6372hcUEH2w1S1jLL7XRfq9GTv3wM8HN78FCwsxqQ0h_RPfLUtPwPjoxyUttu-h0_4l1emj9bKi8w.zjsPDoVRHRcDT7wjPv5n_Mrb24lwD_9fbCtb6zo0BqA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%27497e83dd-3640-41d0-88d7-b7a191da2820%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '326970'
      ocp-aad-diagnostics-server-name:
      - B6tEiM3B5nCy7BANL4Cdn8zWUNvYXw3U9g3ciXwExOk=
      ocp-aad-session-key:
      - K7qNnEDlHwLcp446UBI8TWuy19-rZ9bI7kQ2QlF9w07jTz0buMpIW1RSV5r23LeYKVY5vPq69Yw3G_w89dr-rBOPqiyDXLVY7Jvs4-fAA0JQhGKkVTdIhbLic56uN4MboM8o_ScbPCwWU5WxsbzTk3gW13O0mVhrZ2Fpkpq_gVok4iw90abCKIgEsmP199sOX2j_g6AE1GMQfHRb_GFiPg.tO23LCf7g9Kwg0d-l7LMUHhZkqrVZjSfLCJuJ5ilSUM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "497e83dd-3640-41d0-88d7-b7a191da2820"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"17954aa3-377d-40f7-94d7-12c06ed9df79","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-n4n9tgq8","appId":"497e83dd-3640-41d0-88d7-b7a191da2820","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-n4n9tgq8","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-n4n9tgq8 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-n4n9tgq8","id":"480bb2e9-c9ed-43a5-93ae-edf404de4739","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-n4n9tgq8 on your behalf.","userConsentDisplayName":"Access
        aro-n4n9tgq8","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["497e83dd-3640-41d0-88d7-b7a191da2820","https://az.aro.azure.com/1dcfac17-6f81-4605-b65c-46971e19d3d8"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2604606'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/17954aa3-377d-40f7-94d7-12c06ed9df79/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - 5Hbq6kbtDJrIGnRmdaemg/p2kr9F5pnYGcby4pa4/Ok=
      ocp-aad-session-key:
      - LgOkfmmxISIwFkKGKK82ReXh_Ic5wjhmaSl8eKCvOxppApyaeclbnrAVWCBQ84Q2UHrCgHuhJ4AtcyuTQVBuwmwrG06n0iST5oyNOrULsNUPt0tRujHlZQAINirrbHMt0AIkaEKvIk7AEbr5a80GBLJosYw9UZnQmAG-f5t94A_xLn2AZAEmZuAVvGBvgHX8wXwjnutLo-SeXGXMT2UVpA.xrHNn5wZ-82ibL6aMnMYZWsVFxx7RKGeeDl0h-hnOdY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c00337edbb0b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2019-12-28T19:20:12.1938451Z","updatedOn":"2020-07-27T14:50:19.3335646Z","createdBy":"60fa24bb-762f-4b64-a636-a208bc10682d","updatedBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/412173a9-cd67-5814-a6e6-ec7d981d60f4","type":"Microsoft.Authorization/roleAssignments","name":"412173a9-cd67-5814-a6e6-ec7d981d60f4"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"1dabfb0c-aae8-43e2-9c16-a888[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "17954aa3-377d-40f7-94d7-12c06ed9df79", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: 'b''{"tags": {"test": "delete"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "n4n9tgq8", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-n4n9tgq8"},
      "servicePrincipalProfile": {"clientId": "497e83dd-3640-41d0-88d7-b7a191da2820",
      "clientSecret": "5918dc62-a066-4b84-9c13-d40a077f1695"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"delete\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Creating\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"n4n9tgq8\",\n\
        \            \"version\": \"4.4.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-n4n9tgq8\"\
        \n        },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\"\
        : {\n            \"clientId\": \"497e83dd-3640-41d0-88d7-b7a191da2820\"\n\
        \        },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\"\
        ,\n            \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"\
        masterProfile\": {\n            \"vmSize\": \"Standard_D8s_v3\",\n       \
        \     \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/167b6994-d62c-46a7-aae3-dbfb34c1b9cc?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/167b6994-d62c-46a7-aae3-dbfb34c1b9cc\"\
        ,\n    \"name\": \"167b6994-d62c-46a7-aae3-dbfb34c1b9cc\",\n    \"startTime\"\
        : \"2020-07-30T14:45:37.630885101Z\",\n    \"status\": \"Creating\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/167b6994-d62c-46a7-aae3-dbfb34c1b9cc?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"endTime\": \"2020-07-30T15:19:31.319895587Z\",\n    \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/167b6994-d62c-46a7-aae3-dbfb34c1b9cc\"\
        ,\n    \"name\": \"167b6994-d62c-46a7-aae3-dbfb34c1b9cc\",\n    \"startTime\"\
        : \"2020-07-30T14:45:37.630885101Z\",\n    \"status\": \"Succeeded\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_delete000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"delete\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"n4n9tgq8\",\n\
        \            \"version\": \"4.4.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-n4n9tgq8\"\
        \n        },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.n4n9tgq8.eastus.aroapp.io/\"\
        \n        },\n        \"servicePrincipalProfile\": {\n            \"clientId\"\
        : \"497e83dd-3640-41d0-88d7-b7a191da2820\"\n        },\n        \"networkProfile\"\
        : {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\"\
        : \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n          \
        \  \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\": \"/subs[...]
[...]
