interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_update000001?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001","name":"cli_test_aro_update000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-06-23T14:39:57Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"3a753ffa-ab19-4488-b35f-b6dbafe0de66\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"2c1d9371-e214-4008-a83c-a03381d5fbcc\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4ad19137-b3cc-45cf-bdfb-05932803a2ec?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4ad19137-b3cc-45cf-bdfb-05932803a2ec?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name": "dev_master000002",
      "properties": {"addressPrefix": "10.55.98.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "name": "dev_master000002", "type": "Microsoft.Network/virtualNetworks/subnets",
      "properties": {"addressPrefix": "10.55.98.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}, {"name": "dev_worker000003",
      "properties": {"addressPrefix": "10.122.91.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    meth[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"6633ef56-b1d6-4307-93b3-7e01c88ff86f\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.55.98.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6633ef56-b1d6-4307-93b3-7e01c88ff86f"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"828cc133-19dd-4caf-aac4-c55afec30aed\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.122.91.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"828cc133-19dd-4caf-aac4-c55afec30aed"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Australia Southeast","Brazil South","Canada Central","Canada East","Central
        India","Central US","East Asia","East US","East US 2","France Central","Germany
        West Central","Japan East","Japan West","Korea Central","North Central US","North
        Europe","Norway East","South Africa North","South Central US","South India","Southeast
        Asia","Switzerland North","Switzerland West","UAE N[...]
- request:
    body: '{"passwordCredentials": [{"startDate": "2021-06-23T14:40:33.176895Z", "endDate":
      "2299-12-31T00:00:00.000Z", "value": "ReplacedSPPassword123*", "customKeyIdentifier":
      "MjAyMS0wNi0yMyAxNDo0MDozMy4xNzY4OTU="}], "displayName": "aro-sadcygue", "identifierUris":
      ["https://az.aro.azure.com/4fecd497-4efd-46dc-acc1-3fef90422ad4"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "9669cfb9-bad1-451e-a099-4710404c85e7", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "906f1ba0-04ce-4dbf-9a76-e35fb893f7cf",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-sadcygue", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/4fecd497-4efd-46dc-acc1-3fef90422ad4"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/9669cfb9-bad1-451e-a099-4710404c85e7/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/9669cfb9-bad1-451e-a099-4710404c85e7/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-sadcygue on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-sadcygue", "id": "fba711e2-ab76-4d06-94b4-ce6bb5f014e9",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-sadcygue on your behalf.", "userConsentDisplayName": "Access
        aro-sadcygue", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "MjAyMS0wNi0yMyAxNDo0MDozMy4xNzY4OTU=", "endDate":
        "2299-12-31T00:00:00Z", "keyId": "16b31f78-db7e-49e4-ac8f-db7a61ce9a6e", "startDate":
        "2021-06-23T14:40:33.176895Z", "value": "ReplacedSPPassword123*"}], "publicClient":
        null, "publisherDomain": "microsoft.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '15665828'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/9669cfb9-bad1-451e-a099-4710404c85e7/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - IFHflbqbHxYHKw2UldzWX1ih3ynoYV9g3s0JCw6CZDE=
      ocp-aad-session-key:
      - 2ZXpqUcxMXfgKrh6BnKHvyE6znAQ2n-Lbs8V2wLJsxqq14RNbIStqF5hkI4oE_vYL89Nl42qde1XINoyZUsuozHn_aRs3gexLtuZJX790vXIq0OgvjB3D8en32ZXi4gK0Lz6rw2tgJsEo4YRTMDz8mwCE_sndF2247fsl5mUv3w.RClDfxlzFotxGmoYfdZpitF8IBVTJYwB0_T_-0kph0M
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%27906f1ba0-04ce-4dbf-9a76-e35fb893f7cf%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1051931'
      ocp-aad-diagnostics-server-name:
      - 2k+ZsaNWQZziXUUgFCdFv+PhZiWwz27B8tetwzG7eRc=
      ocp-aad-session-key:
      - reMxTVxkuJ6UBHePqWj6KnrdO5YoxXogml7jeAdmIluGbwz4-Hfs0__xpxqcqTtIO4fNIYlzY1Si6ft5DZgSoAKkyM0dfVKMa9mapQIB1knVLoEMYo2ihIVaX-C4ROq6qTS3v1xw1A0XOs7diDOTbRjFGCmt5qs9kIE4iBmZBEE.SsJQnVhZZNef_1aFUtWwlVGqfXeHVkfjMTWOLRPdrgA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "906f1ba0-04ce-4dbf-9a76-e35fb893f7cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"3bdf4bc9-5464-4b2b-8caa-fdcf55f47094","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-sadcygue","appId":"906f1ba0-04ce-4dbf-9a76-e35fb893f7cf","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-sadcygue","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-sadcygue on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-sadcygue","id":"fba711e2-ab76-4d06-94b4-ce6bb5f014e9","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-sadcygue on your behalf.","userConsentDisplayName":"Access
        aro-sadcygue","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["906f1ba0-04ce-4dbf-9a76-e35fb893f7cf","https://az.aro.azure.com/4fecd497-4efd-46dc-acc1-3fef90422ad4"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '8194416'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/3bdf4bc9-5464-4b2b-8caa-fdcf55f47094/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - AOdf2CGlM9AM/IJQYpeFOLkKQCs0vYrzZ1ob+RpKL3A=
      ocp-aad-session-key:
      - AsSqDqu3S0ZYhnYcrzysr2cvMYTZMrrQ65UjP8snM4mfkrdohCcTZcFYakswq9B7jSugwlfNhAfVhoYSIkgRV-5nWQJSZ8UYf4tN1s3qvy9m-B57iJ8wKNjoWGRnRwfCs6TSYP1Hyg2_S5oEiM9_7LfRVi1O19GWXdtX4S9q5P4.Q8KbXT1DfqQiY0iDV46k9Vy1gE1Xbe3_JO-dgudpRts
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"5c617d2b-99f8-4c90-98fe-dfe040fa33c1","principalType":"ServicePrincipal","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2018-02-27T19:19:50.2663941Z","updatedOn":"2018-02-27T19:19:50.2663941Z","createdBy":null,"updatedBy":null,"delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/3e883d24-b106-42ff-ad13-d7bf271b964d","type":"Microsoft.Authorization/roleAssignments","name":"3e883d24-b106-42ff-ad13-d7bf271b964d"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"bdef9655-c830-46d2-90d4-00f07352bf75","principalType":"ServicePrincipal","scope":"/providers/Microsoft.Management[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "3bdf4bc9-5464-4b2b-8caa-fdcf55f47094", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: '{"tags": {"test": "update"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "sadcygue", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-sadcygue"},
      "servicePrincipalProfile": {"clientId": "906f1ba0-04ce-4dbf-9a76-e35fb893f7cf",
      "clientSecret": "8b44ebab-9383-4c01-b429-42c5bcaf1a48"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"update\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Creating\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"sadcygue\",\n            \"version\":
        \"4.6.26\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-sadcygue\"\n
        \       },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\":
        {\n            \"clientId\": \"906f1ba0-04ce-4dbf-9a76-e35fb893f7cf\"\n        },\n
        \       \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"masterProfile\":
        {\n            \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/e32c07ed-76b8-4824-8ea3-7e86baa635c0?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/e32c07ed-76b8-4824-8ea3-7e86baa635c0\",\n
        \   \"name\": \"e32c07ed-76b8-4824-8ea3-7e86baa635c0\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2021-06-23T14:40:59.305661537Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/e32c07ed-76b8-4824-8ea3-7e86baa635c0?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/e32c07ed-76b8-4824-8ea3-7e86baa635c0\",\n
        \   \"name\": \"e32c07ed-76b8-4824-8ea3-7e86baa635c0\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2021-06-23T14:40:59.305661537Z\",\n    \"endTime\": \"2021-06-23T15:18:09.438709687Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"update\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"sadcygue\",\n            \"version\":
        \"4.6.26\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-sadcygue\"\n
        \       },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.sadcygue.eastus.aroapp.io/\"\n
        \       },\n        \"servicePrincipalProfile\": {\n            \"clientId\":
        \"906f1ba0-04ce-4dbf-9a76-e35fb893f7cf\"\n        },\n        \"networkProfile\":
        {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\":
        \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n            \"vmSize\":
        \"Standard_D8s_v3\",\n            \"subnetId\": \"/subscriptions/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"8f3e2508-f926-42ea-b58a-d46d468b6239\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.55.98.0/24\",\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-sadcygue/providers/Microsoft.Network/networkSecurityGroups/aro000004-8g8c7-nsg\"\r\n
        \   },\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-sadcygue/providers/Microsoft.Network/loadBalancers/aro000004-8g8c7-internal/frontendIPConfigurations/internal-lb-ip-v4\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-sadcygue/providers/Microsoft.Network/networkInterfaces/aro000004-8g8c7-pls.nic.8894820c-ee97-4180-ab6b-2e67d67305ce/ipConfigurations/aro000004-8g8c7-[...]
[...]
