interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_create000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001","name":"cli_test_aro_create000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-04-30T12:21:15Z","createdAt":"2021-04-30T12:21:16.6845323Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"05a8aa88-f7a9-4245-9783-596ad46fa55a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"7766e07e-2b11-44d3-91ee-aab96daffb76\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/f5fd3a14-18b0-4fd5-bcec-66410cfcd468?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/f5fd3a14-18b0-4fd5-bcec-66410cfcd468?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name": "dev_master000002",
      "properties": {"addressPrefix": "10.112.154.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "name": "dev_master000002", "properties": {"addressPrefix": "10.112.154.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry", "locations":
      ["*"]}], "delegations": [], "privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, {"name": "dev_worker000003", "properties": {"addressPrefix": "10.68.87.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?a[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"dd946426-2457-4dca-8f72-47e59a894e3c\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.112.154.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dd946426-2457-4dca-8f72-47e59a894e3c"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"93734d3a-bf76-4f23-86fd-c620be3a7005\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.68.87.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93734d3a-bf76-4f23-86fd-c620be3a7005"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Australia Southeast","Brazil South","Canada Central","Canada East","Central
        India","Central US","East Asia","East US 2","France Central","Germany West
        Central","Japan East","Japan West","Korea Central","North Central US","North
        Europe","Norway East","South Africa North","South Central US","South India","Southeast
        Asia","Switzerland North","Switzerland West","UAE North","UK [...]
- request:
    body: '{"passwordCredentials": [{"startDate": "2021-04-30T12:21:42.78871Z", "endDate":
      "2299-12-31T00:00:00.000Z", "value": "ReplacedSPPassword123*", "customKeyIdentifier":
      "MjAyMS0wNC0zMCAxMjoyMTo0Mi43ODg3MTA="}], "displayName": "aro-np9862i9", "identifierUris":
      ["https://az.aro.azure.com/9d016c07-be7d-4331-9d90-bf1da701c875"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "27550ca7-b6dd-41ec-97fd-e81944eb9a98", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "5475d059-071b-44ee-8306-01ae7ca016c6",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-np9862i9", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/9d016c07-be7d-4331-9d90-bf1da701c875"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/27550ca7-b6dd-41ec-97fd-e81944eb9a98/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/27550ca7-b6dd-41ec-97fd-e81944eb9a98/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-np9862i9 on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-np9862i9", "id": "3f640e4b-535b-4d04-8426-6649af1500a0",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-np9862i9 on your behalf.", "userConsentDisplayName": "Access
        aro-np9862i9", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "MjAyMS0wNC0zMCAxMjoyMTo0Mi43ODg3MTA=", "endDate":
        "2299-12-31T00:00:00Z", "keyId": "b01b2a32-4eed-42b1-a025-2452403d1d1d", "startDate":
        "2021-04-30T12:21:42.78871Z", "value": "ReplacedSPPassword123*"}], "publicClient":
        null, "publisherDomain": "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6827011'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/27550ca7-b6dd-41ec-97fd-e81944eb9a98/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - qlPIvEic8eVh5MU7VUueS29XEFKfR/2IrpRdoo+09Qg=
      ocp-aad-session-key:
      - 8boZ1kjfeP0g2JiPyGUrMsfo6jVqcx9IqAjX9GehNKl4qUBQFVHlgIZOXlQ5u7ueaWmpEAhlLYbD-Fm6sYNe_tQ4WAkcNbztnmkh0ZilUdGRATx2oAGvr8CrnavRVBWnhWIwEToFCQQrTUttHsqFCTMgP0NOHS75P3p4Lid3_VCHphHfI0uOPWrpY16aca6j8whSoAgAwR7kmVIxV9k5Mw.jDzd8ZXaSBehsxRCXyypWexNcQahc1y8tGRo4PBAOBc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%275475d059-071b-44ee-8306-01ae7ca016c6%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1281875'
      ocp-aad-diagnostics-server-name:
      - yTY39zp7iEfP/qnZmy9n1PlH6JMTulgXEFQ39IH4B00=
      ocp-aad-session-key:
      - dfk7h9hFF1TAONK_4YqZIQPm9dytNTQX7DIvizKBl94BOfYFTgsWcvhXYBHBjGO9GIwMbIvS3ik-oBI02vwu4sCYStBX8GnKGh7ADCdK71z0ZCLBT4bwsLEbsPYmbB6okcZibCsmFrDZkgJwGd26p68jNRiikwp39QYkBoq5zSUM5VQFP0XDVu9Rf7S5WNQBwc3Tqtb1qZKXTHopatQ1Qg.72v4bT1i2C0y8tobHiKzSDR5U_986Ri-uXJwZePOmnw
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "5475d059-071b-44ee-8306-01ae7ca016c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4af7002e-7407-4d39-8daf-a4f2fa0998df","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-np9862i9","appId":"5475d059-071b-44ee-8306-01ae7ca016c6","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-np9862i9","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-np9862i9 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-np9862i9","id":"3f640e4b-535b-4d04-8426-6649af1500a0","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-np9862i9 on your behalf.","userConsentDisplayName":"Access
        aro-np9862i9","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["5475d059-071b-44ee-8306-01ae7ca016c6","https://az.aro.azure.com/9d016c07-be7d-4331-9d90-bf1da701c875"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3455145'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/4af7002e-7407-4d39-8daf-a4f2fa0998df/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - 0BLyYGCHtdpm1Y2lqNwjW4fbpNMJ9zWOOrRn0mvmdrM=
      ocp-aad-session-key:
      - lRJ1cWlFAdkn3iCE7Ad7z-n8bBdwlJkyZcnVAlFQJwOaeKzc7oyOeAJDbY07emoqhKEQISrUo4Y_1_2Yq6xX_eFviw3NioSDM-ZBuf5rplNWmMt00dGxprvWMHYIz44hSTd1aFtRtiDNFa68H9YH-_iyy3sMVEa4mITrT9hojzCcyGjVgpD6ZtaNBdb3LRcMU2y2SdSekATlawPYdfIycw.hNUSRtYn2RW7hMQAwFY2FyZ98N9zHREngfQrcWZF65k
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c00337edbb0b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2019-12-28T19:20:12.1938451Z","updatedOn":"2020-07-27T14:50:21.0338163Z","createdBy":"60fa24bb-762f-4b64-a636-a208bc10682d","updatedBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/412173a9-cd67-5814-a6e6-ec7d981d60f4","type":"Microsoft.Authorization/roleAssignments","name":"412173a9-cd67-5814-a6e6-ec7d981d60f4"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"6e66c155-e3cf-4390-88ca-e2c9218a2cb0","principalType":"Service[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "4af7002e-7407-4d39-8daf-a4f2fa0998df", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: '{"tags": {"test": "create"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "np9862i9", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-np9862i9"},
      "servicePrincipalProfile": {"clientId": "5475d059-071b-44ee-8306-01ae7ca016c6",
      "clientSecret": "93519760-e886-4ee8-bda7-a334151f76ee"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"create\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Creating\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"np9862i9\",\n            \"version\":
        \"4.6.21\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-np9862i9\"\n
        \       },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\":
        {\n            \"clientId\": \"5475d059-071b-44ee-8306-01ae7ca016c6\"\n        },\n
        \       \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"masterProfile\":
        {\n            \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/04f5f7ba-2857-4d8c-ad72-4c70498ff21f?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/04f5f7ba-2857-4d8c-ad72-4c70498ff21f\",\n
        \   \"name\": \"04f5f7ba-2857-4d8c-ad72-4c70498ff21f\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2021-04-30T12:21:57.726216624Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/04f5f7ba-2857-4d8c-ad72-4c70498ff21f?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/04f5f7ba-2857-4d8c-ad72-4c70498ff21f\",\n
        \   \"name\": \"04f5f7ba-2857-4d8c-ad72-4c70498ff21f\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2021-04-30T12:21:57.726216624Z\",\n    \"endTime\": \"2021-04-30T12:52:47.581900653Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"create\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"np9862i9\",\n            \"version\":
        \"4.6.21\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-np9862i9\"\n
        \       },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.np9862i9.eastus.aroapp.io/\"\n
        \       },\n        \"servicePrincipalProfile\": {\n            \"clientId\":
        \"5475d059-071b-44ee-8306-01ae7ca016c6\"\n        },\n        \"networkProfile\":
        {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\":
        \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n            \"vmSize\":
        \"Standard_D8s_v3\",\n            \"subnetId\": \"/subscriptions/[...]
