interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_list_cred000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001","name":"cli_test_aro_list_cred000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-01T21:40:28Z","createdAt":"2023-02-01T21:40:29.7422968Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"2c6345b8-19e4-49bc-a6d9-3c568b9c1ba0\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"e27f13cb-a5a8-4d8b-9e3c-75e0392e1ee1\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2595256d-b213-4e18-816a-e050b3d78934?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2595256d-b213-4e18-816a-e050b3d78934?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"name": "dev_master000002", "properties": {"addressPrefix": "10.9.59.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"70761a51-4727-4947-9687-ad6662129597\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.9.59.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Updating\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/16645c22-e311-4421-96b7-1d1c18acf682?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: ''
[...]
- request:
    body: '{"name": "dev_worker000003", "properties": {"addressPrefix": "10.4.166.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2022-01-01
  response:
    bo[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2022-09-04","2022-04-01","2021-09-01-preview","2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        Central","Australia Central 2","Australia East","Australia Southeast","Brazil
        South","Brazil Southeast","Canada Central","Canada East","Central India","Central
        US","East Asia","East US 2","France Central","Germany West Central","Japan
        East","Japan West","Korea Central","North Central US","North Europe","Norway
        East","Norway West","South Africa North","South Central US","South Indi[...]
- request:
    body: '{"displayName": "aro-n2wgryix"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "9cba3c20-019f-4a5b-9989-ff35557a7cf1", "deletedDateTime": null, "appId":
        "a3cedb25-c690-4131-8762-1546e36d5a71", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2023-02-01T21:40:55.2738083Z", "displayName": "aro-n2wgryix",
        "description": null, "groupMembershipClaims": null, "identifierUris": [],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "redhat0.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADandPersonalMicrosoftAccount", "tags": [],
        "tokenEncryptionKeyId": null, "samlMetadataUrl": null, "defaultRedirectUri":
        null, "certification": null, "optionalClaims": null, "servicePrincipalLockConfiguration":
        null, "requestSignatureVerification": null, "addIns": [], "api": {"acceptMappedClaims":
        null, "knownClientApplications": [], "requestedAccessTokenVersion": 2, "oauth2PermissionScopes":
        [], "preAuthorizedApplications": []}, "appRoles": [], "info": {"logoUrl":
        null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl": null,
        "termsOfServiceUrl": null}, "keyCredentials": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": {"redirectUris": []}, "requiredResourceAccess": [], "verifiedPublisher":
        {"displayName": null, "verifiedPublisherId": null, "addedDateTime": null},
        "web": {"homePageUrl": null, "logoutUrl": null, "redirectUris": [], "implicitGrantSettings":
        {"enableAccessTokenIssuance": false, "enableIdTokenIssuance": false}, "redirectUriSettings":
        []}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/64dc69e4-d083-49fc-9569-ebece1dd1408/directoryObjects/9cba3c20-019f-4a5b-9989-ff35557a7cf1/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"000","RoleInstance":"BY1PEPF00002043"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications/9cba3c20-019f-4a5b-9989-ff35557a7cf1/addPassword
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.passwordCredential",
        "customKeyIdentifier": null, "displayName": null, "endDateTime": "2025-02-01T21:41:00.2042897Z",
        "hint": "kMV", "keyId": "bfde1cca-3b99-4091-aea7-05d30bdd53ae", "secretText":
        "replaced-microsoft-graph-password", "startDateTime": "2023-02-01T21:41:00.2042897Z"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"BY1PEPF00008CFF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=appId%20eq%20%27a3cedb25-c690-4131-8762-1546e36d5a71%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"005","RoleInstance":"SJ1PEPF000011B7"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "a3cedb25-c690-4131-8762-1546e36d5a71"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/servicePrincipals
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"9ab198d4-9474-4f56-8e98-b8a56a003ab3","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"aro-n2wgryix","appDescription":null,"appId":"a3cedb25-c690-4131-8762-1546e36d5a71","applicationTemplateId":null,"appOwnerOrganizationId":"64dc69e4-d083-49fc-9569-ebece1dd1408","appRoleAssignmentRequired":false,"createdDateTime":null,"description":null,"disabledByMicrosoftStatus":null,"displayName":"aro-n2wgryix","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["a3cedb25-c690-4131-8762-1546e36d5a71"],"servicePrincipalType":"Application","signInAudience":"AzureADandPersonalMicrosoftAccount","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/64dc69e4-d083-49fc-9569-ebece1dd1408/directoryObjects/9ab198d4-9474-4f56-8e98-b8a56a003ab3/Microsoft.DirectoryServices.ServicePrincipal
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US","Slice":"E","Ring":"4","ScaleUnit":"000","RoleInstance":"BY1PEPF00008D1E"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","principalType":"User","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2020-12-07T20:47:37.0448499Z","updatedOn":"2020-12-07T20:47:37.0448499Z","createdBy":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","updatedBy":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/43c945e0-2fee-46a8-9cf1-8bf6dbfae262","type":"Microsoft.Authorization/roleAssignments","name":"43c945e0-2fee-46a8-9cf1-8bf6dbfae262"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"57fd21ac-5554-45b6-8d34-6cf1ea6bbbd7","principalType":"User","scope":"/","condition":null,"con[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "9ab198d4-9474-4f56-8e98-b8a56a003ab3", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: '{"tags": {"test": "list-cred"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "n2wgryix", "version": "", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-n2wgryix",
      "fipsValidatedModules": "Disabled"}, "servicePrincipalProfile": {"clientId":
      "a3cedb25-c690-4131-8762-1546e36d5a71", "clientSecret": "kMV8Q~xnVfXN-qqy~SE5wb1tNL4gPdJxJm8iUdeM"},
      "networkProfile": {"podCidr": "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"},
      "masterProfile": {"vmSize": "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "encryptionAtHost": "Disabled"}, "workerProfiles": [{"name": "worker", "vmSize":
      "Standard_D4s_v3", "diskSizeGB": 128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3, "encryptionAtHost": "Disabled"}], "apiserverProfile": {"visibility":
      "Public"}, "ingressProfiles": [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2022-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"systemData\": {\n        \"createdBy\":
        \"jahealy@redhat.com\",\n        \"createdByType\": \"User\",\n        \"createdAt\":
        \"2023-02-01T21:41:12.3984746Z\",\n        \"lastModifiedBy\": \"jahealy@redhat.com\",\n
        \       \"lastModifiedByType\": \"User\",\n        \"lastModifiedAt\": \"2023-02-01T21:41:12.3984746Z\"\n
        \   },\n    \"tags\": {\n        \"test\": \"list-cred\"\n    },\n    \"properties\":
        {\n        \"provisioningState\": \"Creating\",\n        \"clusterProfile\":
        {\n            \"domain\": \"n2wgryix\",\n            \"version\": \"4.10.40\",\n
        \           \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-n2wgryix\",\n
        \           \"fipsValidatedModules\": \"Disabled\"\n        },\n        \"consoleProfile\":
        {},\n        \"servicePrincipalProfile\": {\n            \"clientId\": \"a3cedb25-c690-4131-8762-1546e36d5a71\"\n
        \       },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"masterProfile\":
        {\n            \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8e43f420-cad4-4d3d-9873-fb36ab671236?api-version=2022-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8e43f420-cad4-4d3d-9873-fb36ab671236\",\n
        \   \"name\": \"8e43f420-cad4-4d3d-9873-fb36ab671236\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2023-02-01T21:41:12.790128316Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8e43f420-cad4-4d3d-9873-fb36ab671236?api-version=2022-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8e43f420-cad4-4d3d-9873-fb36ab671236\",\n
        \   \"name\": \"8e43f420-cad4-4d3d-9873-fb36ab671236\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2023-02-01T21:41:12.790128316Z\",\n    \"endTime\": \"2023-02-01T22:17:24.15463046Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004/listCredentials?api-version=2022-09-04
  response:
    body:
      string: "{\n    \"kubeadminUsername\": \"kubeadmin\",\n    \"kubeadminPassword\":
        \"3qwwu-wgnMP-HImho-5qXsT\"\n}\n"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
