interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestaro_list000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001","name":"clitestaro_list000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_aro_list","date":"2023-08-07T21:52:37Z","module":"aro","createdAt":"2023-08-07T21:52:38.1942330Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"f50f96ce-7671-4b0b-929d-038880543afb\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"24c91019-d9d9-49ae-9513-c1a70fe4eeff\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/7caf3503-db8a-4e38-b0b4-8b501beee882?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/7caf3503-db8a-4e38-b0b4-8b501beee882?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "dev_master000003", "properties": {"addressPrefix": "10.23.121.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003\",\r\n
        \ \"etag\": \"W/\\\"f387f07a-f90d-438a-b038-09ba3896466a\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.23.121.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Updating\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c4aa80e0-1f4e-4798-8923-53265911b5d2?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "dev_worker000004", "properties": {"addressPrefix": "10.41.245.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000004?api-version=2022-01-01
  response:
    body:
  [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2023-04-01","2022-09-04","2022-04-01","2021-09-01-preview","2020-04-30","2019-12-31-preview"],"endpointUris":["https://rp.eastus.aro.azure.com/"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        Central","Australia Central 2","Australia East","Australia Southeast","Brazil
        South","Brazil Southeast","Canada Central","Canada East","Central India","Central
        US","East Asia","East US 2","France Central","Germany West Central","Japan
        East","Japan West","Korea Central","North Central US","North Europe","Norway
        East","Norway West","Qatar Central","South Africa North","South Central[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=appId%20eq%20%27f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"ebeeb6e8-af58-4204-9e58-efca7922a3cc","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"Azure
        Red Hat OpenShift RP","appDescription":null,"appId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdDateTime":"2020-03-11T07:24:53Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"Azure
        Red Hat OpenShift RP","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"North Central US","Slice":"E","Ring":"3","ScaleUnit":"004","RoleInstance":"CH01EPF000196E1"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/permissions?api-version=2015-07-01
  response:
    body:
      string: '{"value":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action","Microsoft.Purview/consents/write","Microsoft.Purview/consents/delete"]},{"actions":["*/read","Microsoft.Authorization/*","Microsoft.Support/*"],"notActions":[]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","principalType":"User","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2020-12-07T20:47:37.0448499Z","updatedOn":"2020-12-07T20:47:37.0448499Z","createdBy":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","updatedBy":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/43c945e0-2fee-46a8-9cf1-8bf6dbfae262","type":"Microsoft.Authorization/roleAssignments","name":"43c945e0-2fee-46a8-9cf1-8bf6dbfae262"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"57fd21ac-5554-45b6-8d34-6cf1ea6bbbd7","principalType":"User","scope":"/","condition":null,"con[...]
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "f42bafea-4e8b-41f7-b7e9-0f7ee07faebe", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/[...]
[...]
- request:
    body: '{"tags": {"test": "list"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "fyzq528c", "version": "", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-fyzq528c",
      "fipsValidatedModules": "Disabled"}, "servicePrincipalProfile": {"clientId":
      "00000000-0000-0000-0000-000000000001", "clientSecret": "fake-secret"}, "networkProfile":
      {"podCidr": "10.128.0.0/14", "serviceCidr": "172.30.0.0/16", "outboundType":
      ""}, "masterProfile": {"vmSize": "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003",
      "encryptionAtHost": "Disabled"}, "workerProfiles": [{"name": "worker", "vmSize":
      "Standard_D4s_v3", "diskSizeGB": 128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000004",
      "count": 3, "encryptionAtHost": "Disabled"}], "apiserverProfile": {"visibility":
      "Public"}, "ingressProfiles": [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000005?api-version=2023-04-01
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000005\",\n
        \   \"name\": \"aro000005\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"systemData\": {\n        \"createdBy\":
        \"tsatam@redhat.com\",\n        \"createdByType\": \"User\",\n        \"createdAt\":
        \"2023-08-07T21:53:49.8929Z\",\n        \"lastModifiedBy\": \"tsatam@redhat.com\",\n
        \       \"lastModifiedByType\": \"User\",\n        \"lastModifiedAt\": \"2023-08-07T21:53:49.8929Z\"\n
        \   },\n    \"tags\": {\n        \"test\": \"list\"\n    },\n    \"properties\":
        {\n        \"provisioningState\": \"Creating\",\n        \"clusterProfile\":
        {\n            \"domain\": \"fyzq528c\",\n            \"version\": \"4.11.44\",\n
        \           \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-fyzq528c\",\n
        \           \"fipsValidatedModules\": \"Disabled\"\n        },\n        \"consoleProfile\":
        {},\n        \"servicePrincipalProfile\": {\n            \"clientId\": \"00000000-0000-0000-0000-000000000001\"\n
        \       },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\",\n            \"outboundType\":
        \"Loadbalancer\"\n        },\n        \"masterProfile\": {\n            \"vmSize\":
        \"Standard_D8s_v3\",\n            \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/7254fbb2-60a0-4774-a7ca-a895dc9cc10b?api-version=2023-04-01
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/7254fbb2-60a0-4774-a7ca-a895dc9cc10b\",\n
        \   \"name\": \"7254fbb2-60a0-4774-a7ca-a895dc9cc10b\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2023-08-07T21:53:57.58994974Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/7254fbb2-60a0-4774-a7ca-a895dc9cc10b?api-version=2023-04-01
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/7254fbb2-60a0-4774-a7ca-a895dc9cc10b\",\n
        \   \"name\": \"7254fbb2-60a0-4774-a7ca-a895dc9cc10b\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2023-08-07T21:53:57.58994974Z\",\n    \"endTime\": \"2023-08-07T22:25:17.251899259Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000005?api-version=2023-04-01
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000005\",\n
        \   \"name\": \"aro000005\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"systemData\": {\n        \"createdBy\":
        \"tsatam@redhat.com\",\n        \"createdByType\": \"User\",\n        \"createdAt\":
        \"2023-08-07T21:53:49.8929Z\",\n        \"lastModifiedBy\": \"tsatam@redhat.com\",\n
        \       \"lastModifiedByType\": \"User\",\n        \"lastModifiedAt\": \"2023-08-07T21:53:49.8929Z\"\n
        \   },\n    \"tags\": {\n        \"test\": \"list\"\n    },\n    \"properties\":
        {\n        \"provisioningState\": \"Succeeded\",\n        \"clusterProfile\":
        {\n            \"domain\": \"fyzq528c\",\n            \"version\": \"4.11.44\",\n
        \           \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-fyzq528c\",\n
        \           \"fipsValidatedModules\": \"Disabled\"\n        },\n        \"consoleProfile\":
        {\n            \"url\": \"https://console-openshift-console.apps.fyzq528c.eastus.aroapp.io/\"\n
        \       },\n        \"servicePrincipalProfile\": {\n            \"clientId\":
        \"00000000-0000-0000-0000-000000000001\"\n        },\n        \"networkProfile\":
        {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\":
        \"172.30.0.0/16\",\n            \"outboundType\": \"Loadbalancer\"\n        },\n
        \       \"masterProfile\": {\n            \"vmSize\": \"Standard_D8s_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters?api-version=2023-04-01
  response:
    body:
      string: "{\n    \"value\": [\n        {\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro00000[...]
