interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_list000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001","name":"cli_test_aro_list000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-27T14:03:05Z","createdAt":"2020-07-27T14:03:05.7857307Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\"\
        ,\r\n  \"etag\": \"W/\\\"7ddfa69e-a39d-4493-aff8-7c901c300f4a\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"0460efe3-ecec-4a53-822d-4068698e3235\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":\
        \ [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/75ba772f-8d09-4de7-b348-57887efb5a8b?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/75ba772f-8d09-4de7-b348-57887efb5a8b?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.8.142.0/24", "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]},
      "name": "dev_master000002"}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.N[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "properties": {"addressPrefix": "10.8.142.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "name": "dev_master000002"},
      {"properties": {"addressPrefix": "10.33.95.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}, "name": "dev_worker000003"}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_te[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\"\
        ,\r\n  \"etag\": \"W/\\\"28119e2e-4277-49bb-9341-ad68913072b0\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.8.142.0/24\",\r\n    \"serviceEndpoints\": [\r\n   \
        \   {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"28119e2e-4277-49bb-9341-ad68913072b0"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\"\
        ,\r\n  \"etag\": \"W/\\\"643c30fe-9038-4bcf-93cf-d72c3faf23f3\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.33.95.0/24\",\r\n    \"serviceEndpoints\": [\r\n   \
        \   {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"643c30fe-9038-4bcf-93cf-d72c3faf23f3"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"capabilities":"None"},{"resourceType":"locations/operationsstatus","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"capabilities":"None"},{"resourceType":"OpenShiftClusters","locations":["Australia
        East","Brazil South","Canada Central","Canada East","Central US","East US
        2","France Central","Japan East","Japan West","North Central US","North Europe","South
        Africa North","South Central US","Southeast Asia","Switzerland North","UK
        South","UK West","West Europe","West US 2","West US","East US"],"apiVersions":["2020-04-30"],"defaultApiVersion":"2020-04-30","capabilities":"SystemAssignedResourceIdentity,
        SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"passwordCredentials": [{"endDate": "2299-12-31T00:00:00.000Z", "value":
      "ReplacedSPPassword123*"}], "displayName": "aro-dr55d5is", "identifierUris":
      ["https://az.aro.azure.com/ee7ede93-d0ec-487c-b542-daf63d103241"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "b70416dd-b181-402e-a1c7-e477a39f5656", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "fa990d74-4b2c-43d7-b3d7-a4da00d554b3",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-dr55d5is", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/ee7ede93-d0ec-487c-b542-daf63d103241"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/b70416dd-b181-402e-a1c7-e477a39f5656/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/b70416dd-b181-402e-a1c7-e477a39f5656/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-dr55d5is on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-dr55d5is", "id": "65408c0c-8040-413e-913f-716a4eb6469a",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-dr55d5is on your behalf.", "userConsentDisplayName": "Access
        aro-dr55d5is", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2299-12-31T00:00:00Z", "keyId":
        "8d4a2aa9-e152-4ada-8c25-87e7bdb94b5c", "startDate": "2020-07-27T14:03:26.3978812Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6707893'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/b70416dd-b181-402e-a1c7-e477a39f5656/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - LEwQPErDjwpDxbAd71+wsan35NC30VeraJinG9RYiEE=
      ocp-aad-session-key:
      - 8n0UXlrqgl5bXB7-Tg66T5nKOrSuD0L-aKgWIDFuu3wj-QRPyWVKZ1JpX768zskG0OKIbKhO8pF62pOnOpEVlTDERvqdc6SupwUh52G9i1EFW3DQdSd-LDuQqGnd0XBLZtj4szfgxysFInPReQBFR1udJn0LsyLeHYhW0UzqL-8.2lpvGG6Xu1KLzYucPGIvj9E7cJGer5T4P--D5hO_cJs
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%27fa990d74-4b2c-43d7-b3d7-a4da00d554b3%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '340182'
      ocp-aad-diagnostics-server-name:
      - Dzlx0gY5IGpWhv6G2ou8otHjjdJAtIJ7bRZB4HZu5yo=
      ocp-aad-session-key:
      - UVV9bUVEPChUEO5qA9ioVzGcMDKl6ANODQ53_q_UauXt2oO5HjkL5t7JdWBxQHrq4dmpygGT-WdhT8ozSoB9ZxhZNnDccS5kk_-MTW-4DQHD0C79FfySVupDs4VY2vhAYjNE2_01cEZLVgxZ6FpfWUV_HC20kB9gCU5uneFtcDI.Tq1K_EFKkUSVa1Gt59F_1gApJGgxovkNhWx9LYyz5_0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "fa990d74-4b2c-43d7-b3d7-a4da00d554b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"8241d123-8e93-4244-9976-04600a83a889","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-dr55d5is","appId":"fa990d74-4b2c-43d7-b3d7-a4da00d554b3","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-dr55d5is","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-dr55d5is on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-dr55d5is","id":"65408c0c-8040-413e-913f-716a4eb6469a","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-dr55d5is on your behalf.","userConsentDisplayName":"Access
        aro-dr55d5is","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["fa990d74-4b2c-43d7-b3d7-a4da00d554b3","https://az.aro.azure.com/ee7ede93-d0ec-487c-b542-daf63d103241"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4039033'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/8241d123-8e93-4244-9976-04600a83a889/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - Ucr5tz4x+l63lL8zhTu0mWW3yR2i/Nm/U2NNH6349TM=
      ocp-aad-session-key:
      - QWBs3ewKEVRuYQIteGJXXpkLmwMqhTOrBVNydZ6C6rEdszTkh6XtNh2o_KuZbLPBlu-UmhDT4yOOaFWy_rB31OhrW9JZuD0twy_KeLDT9uFWJBxgyQXa2hN-QTVPXyf6QD8mpbwDKYz03gNzgYbKOm_FrXAaRUaEGmqM9qvXO-U.VveHFKNL7_1DwskFsaapSr9gq4xzFKrumAQC8imrVTg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c00337edbb0b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2019-12-28T19:20:12.1938451Z","updatedOn":"2020-07-15T11:05:31.7364757Z","createdBy":"60fa24bb-762f-4b64-a636-a208bc10682d","updatedBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/412173a9-cd67-5814-a6e6-ec7d981d60f4","type":"Microsoft.Authorization/roleAssignments","name":"412173a9-cd67-5814-a6e6-ec7d981d60f4"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"1dabfb0c-aae8-43e2-9c16-a888[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "8241d123-8e93-4244-9976-04600a83a889", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: 'b''{"tags": {"test": "list"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "dr55d5is", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-dr55d5is"},
      "servicePrincipalProfile": {"clientId": "fa990d74-4b2c-43d7-b3d7-a4da00d554b3",
      "clientSecret": "521f54ef-38fa-4b69-aa94-b32a0a4b9ee3"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"list\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Creating\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"dr55d5is\",\n\
        \            \"version\": \"4.4.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-dr55d5is\"\
        \n        },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\"\
        : {\n            \"clientId\": \"fa990d74-4b2c-43d7-b3d7-a4da00d554b3\"\n\
        \        },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\"\
        ,\n            \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"\
        masterProfile\": {\n            \"vmSize\": \"Standard_D8s_v3\",\n       \
        \     \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_li[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8afcc65a-2725-4bfa-a128-9f9eac1b7f2c?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8afcc65a-2725-4bfa-a128-9f9eac1b7f2c\"\
        ,\n    \"name\": \"8afcc65a-2725-4bfa-a128-9f9eac1b7f2c\",\n    \"startTime\"\
        : \"2020-07-27T14:03:37.900855458Z\",\n    \"status\": \"Creating\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8afcc65a-2725-4bfa-a128-9f9eac1b7f2c?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"endTime\": \"2020-07-27T14:37:55.740442729Z\",\n    \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8afcc65a-2725-4bfa-a128-9f9eac1b7f2c\"\
        ,\n    \"name\": \"8afcc65a-2725-4bfa-a128-9f9eac1b7f2c\",\n    \"startTime\"\
        : \"2020-07-27T14:03:37.900855458Z\",\n    \"status\": \"Succeeded\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"list\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"dr55d5is\",\n\
        \            \"version\": \"4.4.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-dr55d5is\"\
        \n        },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.dr55d5is.eastus.aroapp.io/\"\
        \n        },\n        \"servicePrincipalProfile\": {\n            \"clientId\"\
        : \"fa990d74-4b2c-43d7-b3d7-a4da00d554b3\"\n        },\n        \"networkProfile\"\
        : {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\"\
        : \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n          \
        \  \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\": \"/subs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"value\": [\n        {\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro0[...]
