interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_show000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001","name":"cli_test_aro_show000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-08-19T17:45:18Z","createdAt":"2021-08-19T17:45:20.6075482Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"1b690aeb-f9ec-4f35-a26a-de363faed36c\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"920ba188-9ee0-4c4f-aca3-78d63abb11a0\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/42cbe71a-b844-49d7-958b-9f62736bd49d?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/42cbe71a-b844-49d7-958b-9f62736bd49d?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name": "dev_master000002",
      "properties": {"addressPrefix": "10.43.178.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "name": "dev_master000002", "type": "Microsoft.Network/virtualNetworks/subnets",
      "properties": {"addressPrefix": "10.43.178.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}, {"name": "dev_worker000003",
      "properties": {"addressPrefix": "10.57.118.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    meth[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"8091ad7c-0269-4d85-a96d-343b2e1d123d\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.43.178.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8091ad7c-0269-4d85-a96d-343b2e1d123d"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2021-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"8650a896-5c51-4096-b4d8-2e76fbf93b7a\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.57.118.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8650a896-5c51-4096-b4d8-2e76fbf93b7a"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-09-01-preview","2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Australia Southeast","Brazil South","Canada Central","Canada East","Central
        India","Central US","East Asia","East US 2","France Central","Germany West
        Central","Japan East","Japan West","Korea Central","North Central US","North
        Europe","Norway East","South Africa North","South Central US","South India","Southeast
        Asia","Switzerland North","Switzerland West","UAE North","UK [...]
- request:
    body: '{"passwordCredentials": [{"startDate": "2021-08-19T17:45:42.45726Z", "endDate":
      "2299-12-31T00:00:00.000Z", "value": "ReplacedSPPassword123*", "customKeyIdentifier":
      "MjAyMS0wOC0xOSAxNzo0NTo0Mi40NTcyNjA="}], "displayName": "aro-byi64rss", "identifierUris":
      ["https://az.aro.azure.com/ed56e623-bc51-42f7-beda-b3dc6b306157"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "56b9b4df-303e-470f-9d11-e4fddcc29e54", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "d8428620-3a10-484f-980c-9422fb9f9dc7",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-byi64rss", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/ed56e623-bc51-42f7-beda-b3dc6b306157"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/56b9b4df-303e-470f-9d11-e4fddcc29e54/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/56b9b4df-303e-470f-9d11-e4fddcc29e54/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-byi64rss on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-byi64rss", "id": "de29b0ec-70bc-4ed9-a44e-52039e0b6f5c",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-byi64rss on your behalf.", "userConsentDisplayName": "Access
        aro-byi64rss", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "MjAyMS0wOC0xOSAxNzo0NTo0Mi40NTcyNjA=", "endDate":
        "2299-12-31T00:00:00Z", "keyId": "867148c0-06a5-49a7-9928-fab5bfbf4676", "startDate":
        "2021-08-19T17:45:42.45726Z", "value": "ReplacedSPPassword123*"}], "publicClient":
        null, "publisherDomain": "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3126088'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/56b9b4df-303e-470f-9d11-e4fddcc29e54/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - FB/o/auzoBT8YWgeHYaxvWAMrk9JaUo2l7ffHP+dKiI=
      ocp-aad-session-key:
      - jUHqbg8X3G8EMUV0YSs9Tn17IT4wDfKWGOHqHdzd0a2GJaBcQugEwwpzMH692MuBN8N9yfEh3oN1JbWDKjbYgWHFMVP1GS0QbwTl4_p4AjkM3kZIaiGLHXcJoutC7LjDizY2hmhv866KeUKQUD7Li1e7jJv8v2xw3G5kinNa5Ew.VDcbs0WKpOfz7HENkVZRyTgGF6PfYIiScLVthFAjey8
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%27d8428620-3a10-484f-980c-9422fb9f9dc7%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '556601'
      ocp-aad-diagnostics-server-name:
      - KZD+nuTMuhtn8otkHUEz/oXqz/h/NxBf8VhlXxV+V2s=
      ocp-aad-session-key:
      - ayHBYJK0k3c9mgNNfzieyZkTMpy9bIAR7-4W-uwUYB1Zw6NSqtDrGlw9OBPjdqxaODCvbXsfjRTwEpV6xJOS98Xwzrs4af-g4INveg9uPxufn8WWs2uHDuvPFhGaCdLSrG0AJe-T1CsSyt-GSfnLOZrmunO8NKremaHkZfrcSBg.td7a7xOr5p-M5Fk-M9e5gJucyYI3VZA5Ptxi8eQg_f4
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "d8428620-3a10-484f-980c-9422fb9f9dc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"d74e5537-1457-4262-a688-2888ea339f59","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-byi64rss","appId":"d8428620-3a10-484f-980c-9422fb9f9dc7","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-byi64rss","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-byi64rss on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-byi64rss","id":"de29b0ec-70bc-4ed9-a44e-52039e0b6f5c","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-byi64rss on your behalf.","userConsentDisplayName":"Access
        aro-byi64rss","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["d8428620-3a10-484f-980c-9422fb9f9dc7","https://az.aro.azure.com/ed56e623-bc51-42f7-beda-b3dc6b306157"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2074238'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d74e5537-1457-4262-a688-2888ea339f59/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - kaAUoqkf2rL4vjIZOrCYAotyky9xQAfLWeS4fmuWlfQ=
      ocp-aad-session-key:
      - Lw8sVTzQmkpmxwgQaSuNpOHuJMX1yMzbFP3DE-AMHNv2SppfglGvQdFsZGd33YAfn4tPOz8OpRcRiuvIKCZKB_cC4CEWigsKU0vFkODKKmtQB5Hl26ANL57AsD4Smv0-PMB_f0WFjTHMU-DZrz0Nc49O0LxgMYHkYbx-V3FPILk.9UqDYcLz24uoP3xGQ33gTG662D82FV3ZlcyYbW4wq18
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c00337edbb0b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2019-12-28T19:20:12.1938451Z","updatedOn":"2020-07-27T14:50:21.0338163Z","createdBy":"60fa24bb-762f-4b64-a636-a208bc10682d","updatedBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/412173a9-cd67-5814-a6e6-ec7d981d60f4","type":"Microsoft.Authorization/roleAssignments","name":"412173a9-cd67-5814-a6e6-ec7d981d60f4"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"6e66c155-e3cf-4390-88ca-e2c9218a2cb0","principalType":"Service[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "d74e5537-1457-4262-a688-2888ea339f59", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: '{"tags": {"test": "show"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "byi64rss", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-byi64rss"},
      "servicePrincipalProfile": {"clientId": "d8428620-3a10-484f-980c-9422fb9f9dc7",
      "clientSecret": "d26ed657-6e2e-4dae-979f-d7859549b437"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"show\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Creating\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"byi64rss\",\n            \"version\":
        \"4.7.21\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-byi64rss\"\n
        \       },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\":
        {\n            \"clientId\": \"d8428620-3a10-484f-980c-9422fb9f9dc7\"\n        },\n
        \       \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"masterProfile\":
        {\n            \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/1d6ef5d4-8b71-412f-92f2-7d23f937d35f?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/1d6ef5d4-8b71-412f-92f2-7d23f937d35f\",\n
        \   \"name\": \"1d6ef5d4-8b71-412f-92f2-7d23f937d35f\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2021-08-19T17:45:52.076446081Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/1d6ef5d4-8b71-412f-92f2-7d23f937d35f?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/1d6ef5d4-8b71-412f-92f2-7d23f937d35f\",\n
        \   \"name\": \"1d6ef5d4-8b71-412f-92f2-7d23f937d35f\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2021-08-19T17:45:52.076446081Z\",\n    \"endTime\": \"2021-08-19T18:15:30.61091729Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_show000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"show\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"byi64rss\",\n            \"version\":
        \"4.7.21\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-byi64rss\"\n
        \       },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.byi64rss.eastus.aroapp.io/\"\n
        \       },\n        \"servicePrincipalProfile\": {\n            \"clientId\":
        \"d8428620-3a10-484f-980c-9422fb9f9dc7\"\n        },\n        \"networkProfile\":
        {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\":
        \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n            \"vmSize\":
        \"Standard_D8s_v3\",\n            \"subnetId\": \"/subscriptions/[...]
[...]
