interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_list_cred000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001","name":"cli_test_aro_list_cred000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-12T21:27:27Z","createdAt":"2022-05-12T21:27:28.4711133Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"d13f0a7c-ab80-44bf-9d58-050f93fc2871\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"7f0f0a9e-5a4b-4177-b637-993dbb46e07e\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4afb8e13-367b-41ea-bdf6-2cf0008b72fe?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4afb8e13-367b-41ea-bdf6-2cf0008b72fe?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name": "dev_master000002",
      "properties": {"addressPrefix": "10.64.12.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-00000000000[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "name": "dev_master000002", "type": "Microsoft.Network/virtualNetworks/subnets",
      "properties": {"addressPrefix": "10.64.12.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}, {"name": "dev_worker000003",
      "properties": {"addressPrefix": "10.113.65.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    meth[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"20282913-353b-4a1d-aaf6-5bdd93876e19\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.64.12.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20282913-353b-4a1d-aaf6-5bdd93876e19"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"5ac6305d-ecf1-4a62-b283-167944ccbc5c\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.113.65.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5ac6305d-ecf1-4a62-b283-167944ccbc5c"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2022-04-01","2021-09-01-preview","2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Australia Southeast","Brazil South","Canada Central","Canada East","Central
        India","Central US","East Asia","East US 2","France Central","Germany West
        Central","Japan East","Japan West","Korea Central","North Central US","North
        Europe","Norway East","Norway West","South Africa North","South Central US","South
        India","Southeast Asia","Switzerland North","Switzerland West","U[...]
- request:
    body: '{"passwordCredentials": [{"startDate": "2022-05-12T21:27:50.41415Z", "endDate":
      "2299-12-31T00:00:00.000Z", "value": "ReplacedSPPassword123*", "customKeyIdentifier":
      "MjAyMi0wNS0xMiAyMToyNzo1MC40MTQxNTA="}], "displayName": "aro-yrmqsnzk", "identifierUris":
      []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "bee01d9a-2ddd-47d8-bf36-957035655581", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "36c16d4f-906b-4de1-9b2e-7cd7a24014f5",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-yrmqsnzk", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": [], "informationalUrls": {"termsOfService":
        null, "support": null, "privacy": null, "marketing": null}, "isDeviceOnlyAuthSupported":
        null, "keyCredentials": [], "knownClientApplications": [], "logoutUrl": null,
        "logo@odata.mediaEditLink": "directoryObjects/bee01d9a-2ddd-47d8-bf36-957035655581/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/bee01d9a-2ddd-47d8-bf36-957035655581/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-yrmqsnzk on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-yrmqsnzk", "id": "0b357844-60d0-490b-a14a-5697f33b24b4",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-yrmqsnzk on your behalf.", "userConsentDisplayName": "Access
        aro-yrmqsnzk", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "MjAyMi0wNS0xMiAyMToyNzo1MC40MTQxNTA=", "endDate":
        "2299-12-31T00:00:00Z", "keyId": "4a328cce-6ac6-4238-a5c7-6463b1c33944", "startDate":
        "2022-05-12T21:27:50.41415Z", "value": "ReplacedSPPassword123*"}], "publicClient":
        null, "publisherDomain": "redhat0.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6551839'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/bee01d9a-2ddd-47d8-bf36-957035655581/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - UhuoOwC6bBcZZ+sPh9ePUzsSwq50UjJ3w136CvTCYJg=
      ocp-aad-session-key:
      - 7UdvqI5SlUwvE97TrCVtDHJlcKO6tWYBFDv1dlV4RGhcasYdgbyG-z86WQE2F5rSQfTpXJxa4am-eGyygaO2r-pIuFWblipWR1gwCNhFAsksF3KqixEblWllOk6Sz_f6i8qUxYYdZ7BUeOFQKe5LcnAo_l92M913wFvFGqb5QIQ.4WbnYFu34P7J4m5yL2NQE_nQOmBnA0x_tgfXmlLHRUU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%2736c16d4f-906b-4de1-9b2e-7cd7a24014f5%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '524244'
      ocp-aad-diagnostics-server-name:
      - sXLtABGZeo5I4EE3RISLOY7OdwcS2GwkulJFH/zYIdo=
      ocp-aad-session-key:
      - v5K8y11ZbNYYpgEnCcOrWtnFHQydwC1EAbJVZad4plAH18vrBRpghwrsJcLWl-voH-58epXqGhZO5bU3RZgaRNjShtlPRQ92BUQl8sEw3inebCRyjGmugAcZL8KAoKvkqewJhWbJMk6sXd-jLh1NvvgTqDV2Y2pPbyIIRWagNqQ.XiuYss8PY8qmGCtNvih_fre8wbHau65xBM6_FB4zijk
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "36c16d4f-906b-4de1-9b2e-7cd7a24014f5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"cc342893-a416-4d08-a7b1-b6f0e852b45a","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-yrmqsnzk","appId":"36c16d4f-906b-4de1-9b2e-7cd7a24014f5","applicationTemplateId":null,"appOwnerTenantId":"64dc69e4-d083-49fc-9569-ebece1dd1408","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-yrmqsnzk","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-yrmqsnzk on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-yrmqsnzk","id":"0b357844-60d0-490b-a14a-5697f33b24b4","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-yrmqsnzk on your behalf.","userConsentDisplayName":"Access
        aro-yrmqsnzk","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"redhat.com","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["36c16d4f-906b-4de1-9b2e-7cd7a24014f5"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4254543'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/cc342893-a416-4d08-a7b1-b6f0e852b45a/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - lQhvIln9+V+drngABAMgy/WidiFe7feFoK8SOyRgLpU=
      ocp-aad-session-key:
      - ixi8WfXYDC4hMjVwVD4ewszw8PReP1JdFlIJVE0HiUugwP5VFxSGMG7Va1zRBjjTpwWsNOj9jncKw7qIC0em6f1eJKywKELCy967G-pYWwcqyWxZo2loK8huMe_VeCiYssYBvv9eoqIKX0JDzWpE9EuzN5tXPjU3BqSEhSDscjM.cj7EmTGAdgNcw7SiBnbQrFPBndt2NToly-LJCoJZRzM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","principalType":"User","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2020-12-07T20:47:37.0448499Z","updatedOn":"2020-12-07T20:47:37.0448499Z","createdBy":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","updatedBy":"e71dc6a6-423b-46fe-ac6a-0485678f29ff","delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/43c945e0-2fee-46a8-9cf1-8bf6dbfae262","type":"Microsoft.Authorization/roleAssignments","name":"43c945e0-2fee-46a8-9cf1-8bf6dbfae262"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"5560460c-503f-4354-93ab-f000a7344fa0","principalType":"User","scope":"/","condition":null,"conditionVersion":null[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "cc342893-a416-4d08-a7b1-b6f0e852b45a", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: '{"tags": {"test": "list-cred"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "yrmqsnzk", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-yrmqsnzk",
      "fipsValidatedModules": "Disabled"}, "servicePrincipalProfile": {"clientId":
      "36c16d4f-906b-4de1-9b2e-7cd7a24014f5", "clientSecret": "3cffe7c4-0e8d-468f-bac3-d5c54883acdc"},
      "networkProfile": {"podCidr": "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"},
      "masterProfile": {"vmSize": "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "encryptionAtHost": "Disabled"}, "workerProfiles": [{"name": "worker", "vmSize":
      "Standard_D4s_v3", "diskSizeGB": 128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3, "encryptionAtHost": "Disabled"}], "apiserverProfile": {"visibility":
      "Public"}, "ingressProfiles": [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2022-04-01
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"systemData\": {\n        \"createdBy\":
        \"bbergen@redhat.com\",\n        \"createdByType\": \"User\",\n        \"createdAt\":
        \"2022-05-12T21:28:09.2005477Z\",\n        \"lastModifiedBy\": \"bbergen@redhat.com\",\n
        \       \"lastModifiedByType\": \"User\",\n        \"lastModifiedAt\": \"2022-05-12T21:28:09.2005477Z\"\n
        \   },\n    \"tags\": {\n        \"test\": \"list-cred\"\n    },\n    \"properties\":
        {\n        \"provisioningState\": \"Creating\",\n        \"clusterProfile\":
        {\n            \"domain\": \"yrmqsnzk\",\n            \"version\": \"4.9.28\",\n
        \           \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-yrmqsnzk\",\n
        \           \"fipsValidatedModules\": \"Disabled\"\n        },\n        \"consoleProfile\":
        {},\n        \"servicePrincipalProfile\": {\n            \"clientId\": \"36c16d4f-906b-4de1-9b2e-7cd7a24014f5\"\n
        \       },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"masterProfile\":
        {\n            \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72ee85f3-59ba-434d-8594-f94fdf8a6522?api-version=2022-04-01
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72ee85f3-59ba-434d-8594-f94fdf8a6522\",\n
        \   \"name\": \"72ee85f3-59ba-434d-8594-f94fdf8a6522\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2022-05-12T21:28:09.411377337Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72ee85f3-59ba-434d-8594-f94fdf8a6522?api-version=2022-04-01
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72ee85f3-59ba-434d-8594-f94fdf8a6522\",\n
        \   \"name\": \"72ee85f3-59ba-434d-8594-f94fdf8a6522\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2022-05-12T21:28:09.411377337Z\",\n    \"endTime\": \"2022-05-12T22:00:27.195388432Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list_cred000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004/listCredentials?api-version=2022-04-01
  response:
    body:
      string: "{\n    \"kubeadminUsername\": \"kubeadmin\",\n    \"kubeadminPassword\":
        \"Qovq4-ggMgH-AQSzx-LmiSV\"\n}\n"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
