interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_update000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001","name":"cli_test_aro_update000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-11-04T07:14:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"c0bcf96f-5c52-4846-a7a0-aa1293997690\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"d1444ef6-2825-4d80-84ee-b2d62e39471d\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/bc448587-f97f-4408-b067-7a62bb796c1c?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/bc448587-f97f-4408-b067-7a62bb796c1c?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name": "dev_master000002",
      "properties": {"addressPrefix": "10.0.1.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "name": "dev_master000002", "type": "Microsoft.Network/virtualNetworks/subnets",
      "properties": {"addressPrefix": "10.0.1.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}, {"name": "dev_worker000003",
      "properties": {"addressPrefix": "10.44.9.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}], "privateEndpointNetworkPolicies": "Enabled",
      "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"e98e6a6b-ed1b-429f-9592-6ebe98f50826\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.1.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e98e6a6b-ed1b-429f-9592-6ebe98f50826"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"7a893edc-1256-40c6-833b-bc822ffead3a\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.44.9.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7a893edc-1256-40c6-833b-bc822ffead3a"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2021-09-01-preview","2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Australia Southeast","Brazil South","Canada Central","Canada East","Central
        India","Central US","East Asia","East US","East US 2","France Central","Germany
        West Central","Japan East","Japan West","Korea Central","North Central US","North
        Europe","Norway East","Norway West","South Africa North","South Central US","South
        India","Southeast Asia","Switzerland North","Switzerlan[...]
- request:
    body: '{"passwordCredentials": [{"startDate": "2021-11-04T07:15:17.38496Z", "endDate":
      "2299-12-31T00:00:00.000Z", "value": "ReplacedSPPassword123*", "customKeyIdentifier":
      "MjAyMS0xMS0wNCAwNzoxNToxNy4zODQ5NjA="}], "displayName": "aro-qgrfk0ai", "identifierUris":
      []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "151da74b-4651-41c3-bd90-9a3b48675077", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "f625381b-a3ee-4eff-b735-42e73d1fdc98",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-qgrfk0ai", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": [], "informationalUrls": {"termsOfService":
        null, "support": null, "privacy": null, "marketing": null}, "isDeviceOnlyAuthSupported":
        null, "keyCredentials": [], "knownClientApplications": [], "logoutUrl": null,
        "logo@odata.mediaEditLink": "directoryObjects/151da74b-4651-41c3-bd90-9a3b48675077/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/151da74b-4651-41c3-bd90-9a3b48675077/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-qgrfk0ai on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-qgrfk0ai", "id": "e7e8e0b5-b57d-48e5-95fd-a9c26f553fdf",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-qgrfk0ai on your behalf.", "userConsentDisplayName": "Access
        aro-qgrfk0ai", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "MjAyMS0xMS0wNCAwNzoxNToxNy4zODQ5NjA=", "endDate":
        "2299-12-31T00:00:00Z", "keyId": "1fe1cdd0-b5c7-4780-9cab-52db56bfc790", "startDate":
        "2021-11-04T07:15:17.38496Z", "value": "ReplacedSPPassword123*"}], "publicClient":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6711360'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/151da74b-4651-41c3-bd90-9a3b48675077/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - FsGRr5EGTaWrhe+J594taIKjPPk9rK1btJ1XLazUSng=
      ocp-aad-session-key:
      - 0Wsk96pcaorS5whYpMs2Tm7462YkwYn2RKwcUmaxPURSWhLJ6XADyQQ4C93QUx0Yd_hTnMWQTP41lnk3QpD4oI-UJvEHQZ_u-quKRQNUplYdsCaRu0jdwdTyF5aWs-ZSFMsGZJKULqAlaZaNn0_KpLebsugU0T84i787VNg6Q-4.qIXC69WCNmBLsYF6nlLh2mYttq9RaDWI4JGoq_D6Yek
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%27f625381b-a3ee-4eff-b735-42e73d1fdc98%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2180483'
      ocp-aad-diagnostics-server-name:
      - Rt/y7IiHOF0fRZeUfvYSdnY38iw1Bobe2oEC0p+gMnQ=
      ocp-aad-session-key:
      - Ty_yrEdjxh2IVQ4QVzBvnSdkmByDiE64lTxEhlA4claEkJbJ_xLZgOg1jodDfFG0dzpgztkPCWVecseWvR_--DrQE9F6nOOwGG6MNJ-T3-DrM4hUtDDav8LkvaRIQoSDFAYPCh-Dh0AVwT81vcW2lz5w6_tvs51d1GKCHwQ-tEY.Bkt4l05oixUsUpmMIcWDaosKcRWt4wgg3vWeL_hmooI
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "f625381b-a3ee-4eff-b735-42e73d1fdc98"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"1b8c2538-fd80-46c5-95d1-a82849d455cf","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-qgrfk0ai","appId":"f625381b-a3ee-4eff-b735-42e73d1fdc98","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-qgrfk0ai","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-qgrfk0ai on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-qgrfk0ai","id":"e7e8e0b5-b57d-48e5-95fd-a9c26f553fdf","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-qgrfk0ai on your behalf.","userConsentDisplayName":"Access
        aro-qgrfk0ai","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["f625381b-a3ee-4eff-b735-42e73d1fdc98"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2321220'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1b8c2538-fd80-46c5-95d1-a82849d455cf/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - HRwW0qZ9nHBmoS5/fjHKCm3ALu/+9Ukr/ettKv+IEfI=
      ocp-aad-session-key:
      - 6lVfxy-wM6xehxjgCH3L94uX9lJ_WGB2zRavfv4zzyNUFJhPBI0WIkLUykfDtdNqvT55SzUZesAXt422d2ef3AQtOQGBk3d3AGVDsiP6Up8ZaQ60aGCWGJmNxUZddDBDV8xF9zRi4Y7CJUGNM27losibfBPVxEfx9tVJMeC7Jzs.k9vmdSAdI5L6cI6gMTNMyGOKdTwB9VnLZF6N8TxMELg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0d504196-1423-4569-9a6e-15149656f0ee","principalType":"User","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2019-09-04T08:09:42.0835929Z","updatedOn":"2019-09-04T08:09:42.0835929Z","createdBy":"0d504196-1423-4569-9a6e-15149656f0ee","updatedBy":"0d504196-1423-4569-9a6e-15149656f0ee","delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/9d0c9433-a2c8-403f-ba1c-6310772291a5","type":"Microsoft.Authorization/roleAssignments","name":"9d0c9433-a2c8-403f-ba1c-6310772291a5"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"31e600e0-d7ce-4e98-a927-19bb30042e44","principalType":"User","scope":"/","condition":null,"conditionVersion":null[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "1b8c2538-fd80-46c5-95d1-a82849d455cf", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: '{"tags": {"test": "update"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "qgrfk0ai", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-qgrfk0ai"},
      "servicePrincipalProfile": {"clientId": "f625381b-a3ee-4eff-b735-42e73d1fdc98",
      "clientSecret": "c1a0b901-bed1-42e9-bd86-fc3aac1cf116"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"update\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Creating\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"qgrfk0ai\",\n            \"version\":
        \"4.8.11\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-qgrfk0ai\"\n
        \       },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\":
        {\n            \"clientId\": \"f625381b-a3ee-4eff-b735-42e73d1fdc98\"\n        },\n
        \       \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"masterProfile\":
        {\n            \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/86a34e6f-14ad-47a2-9b18-a6452ba813c9?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/86a34e6f-14ad-47a2-9b18-a6452ba813c9\",\n
        \   \"name\": \"86a34e6f-14ad-47a2-9b18-a6452ba813c9\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2021-11-04T07:15:49.476657274Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/86a34e6f-14ad-47a2-9b18-a6452ba813c9?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/86a34e6f-14ad-47a2-9b18-a6452ba813c9\",\n
        \   \"name\": \"86a34e6f-14ad-47a2-9b18-a6452ba813c9\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2021-11-04T07:15:49.476657274Z\",\n    \"endTime\": \"2021-11-04T07:50:09.063954256Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"update\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"qgrfk0ai\",\n            \"version\":
        \"4.8.11\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-qgrfk0ai\"\n
        \       },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.qgrfk0ai.eastus.aroapp.io/\"\n
        \       },\n        \"servicePrincipalProfile\": {\n            \"clientId\":
        \"f625381b-a3ee-4eff-b735-42e73d1fdc98\"\n        },\n        \"networkProfile\":
        {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\":
        \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n            \"vmSize\":
        \"Standard_D8s_v3\",\n            \"subnetId\": \"/subscriptions/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_update000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"3016fe10-1fca-452d-af6e-83ba48b9fd57\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.44.9.0/24\",\r\n
        \   \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-qgrfk0ai/providers/Microsoft.Network/networkSecurityGroups/aro000004-k268w-nsg\"\r\n
        \   },\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-qgrfk0ai/providers/Microsoft.Network/networkInterfaces/aro000004-k268w-worker-eastus2-vh5gv-nic/ipConfigurations/pipConfig\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-qgrfk0ai/providers/Microsoft.Network/networkInterfaces/aro000004-k268w-worker-eastus3-mt9wh-nic/ipConfigurations/pipConfig\"\r\n
        \     },\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-qgrfk0ai/providers/Microsoft.Network/networkInterfaces/aro000004-k268w-worker-eastus1-z6vkm-nic/ipConfigurations/pipConfig\"\r\n
        \     }\r\n    ],\r\n    \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"service\": \"Microsoft.ContainerRegistry\",\r\n
        \       \"locations\": [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3016fe10-1fca-452d-af6e-83ba48b9fd57"
    status:
      code: 200
      message: OK
[...]
