interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_list000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001","name":"cli_test_aro_list000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-04-30T12:21:15Z","createdAt":"2021-04-30T12:21:16.6990119Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"1c9933c1-9f46-4958-92c4-87eabcfc9df8\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"e29c180b-cf5d-4c3c-838d-bcffc835e45d\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e26f9854-5d78-4637-a5c6-9551e6493459?api-version=2020-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e26f9854-5d78-4637-a5c6-9551e6493459?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"name": "dev_master000002",
      "properties": {"addressPrefix": "10.73.109.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-000[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "name": "dev_master000002", "properties": {"addressPrefix": "10.73.109.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry", "locations":
      ["*"]}], "delegations": [], "privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}, {"name": "dev_worker000003", "properties": {"addressPrefix": "10.4.117.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"59fc7907-4756-4d21-b065-85c8846bb5b6\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.73.109.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"59fc7907-4756-4d21-b065-85c8846bb5b6"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"38435f29-d14b-4559-8481-2b89dcf551e4\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.4.117.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"38435f29-d14b-4559-8481-2b89dcf551e4"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Australia Southeast","Brazil South","Canada Central","Canada East","Central
        India","Central US","East Asia","East US 2","France Central","Germany West
        Central","Japan East","Japan West","Korea Central","North Central US","North
        Europe","Norway East","South Africa North","South Central US","South India","Southeast
        Asia","Switzerland North","Switzerland West","UAE North","UK [...]
- request:
    body: '{"passwordCredentials": [{"startDate": "2021-04-30T12:21:44.290374Z", "endDate":
      "2299-12-31T00:00:00.000Z", "value": "ReplacedSPPassword123*", "customKeyIdentifier":
      "MjAyMS0wNC0zMCAxMjoyMTo0NC4yOTAzNzQ="}], "displayName": "aro-h6j9oso6", "identifierUris":
      ["https://az.aro.azure.com/7f1dc679-3dca-4214-8dc2-47db71a478ae"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "e71150c6-4a2a-40a6-b39b-94e3708ab19d", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "91366eb3-2b0c-4028-8b33-adc55a5fe580",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-h6j9oso6", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/7f1dc679-3dca-4214-8dc2-47db71a478ae"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/e71150c6-4a2a-40a6-b39b-94e3708ab19d/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/e71150c6-4a2a-40a6-b39b-94e3708ab19d/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-h6j9oso6 on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-h6j9oso6", "id": "a2ba414f-f492-4007-a265-967abd65fc43",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-h6j9oso6 on your behalf.", "userConsentDisplayName": "Access
        aro-h6j9oso6", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "MjAyMS0wNC0zMCAxMjoyMTo0NC4yOTAzNzQ=", "endDate":
        "2299-12-31T00:00:00Z", "keyId": "a1735524-819f-405c-9848-1b25e83c8dc9", "startDate":
        "2021-04-30T12:21:44.290374Z", "value": "ReplacedSPPassword123*"}], "publicClient":
        null, "publisherDomain": "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4705147'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e71150c6-4a2a-40a6-b39b-94e3708ab19d/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - qlPIvEic8eVh5MU7VUueS29XEFKfR/2IrpRdoo+09Qg=
      ocp-aad-session-key:
      - a9BRnkPcdREyIO3vs5j-FesutWLn0czCogyWsxLY4sHsm2f8A-iUq9cOH8Fzzb33ElVahlTvt9G4i3cHIfy0y7ns-SG1OyAdwnegdFR1_iQ7Tz4bS7oyT_27iWFTuMsGjM7LWcBIvzjoWxsxrU1w8OwYPpBIFYSqbbkn6rnpv2Jtju4BKfL5iMuJmECLek3uXvbIN5ulpCegGWAcCLm9ng.V4d9Pmcg-RebMgiSN5pnZ-O3if_nOx1dfulYyJKs9ck
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%2791366eb3-2b0c-4028-8b33-adc55a5fe580%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1036176'
      ocp-aad-diagnostics-server-name:
      - XMxGLoG0FafLLkPmOF+A6rjqP9TTTO53alK8SiiySzs=
      ocp-aad-session-key:
      - TeVzu7XunW3-OPxbhnNN52M9d0sh3wPbir3lmWJ4kcUWoL5E7lLEBZ2XdANKiRb71ZmQ9Cri_DVXX7ykt6ZZUG3qpNX7rVCJnjcYAH3y9SBU8qUlNMAkS7TQDr1Fix_QJ__V39HDStvM3HJiCv8nLzyKWJmFOBQpF-f5_IpfV0OtogzLtx-9G6iPDSth2kxzHU6zTT0i5GaTuT1ptse59w.n5Siq4gTtgbfkdOhSepEH-H5e67oyUrEANyLM4cVxK8
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "91366eb3-2b0c-4028-8b33-adc55a5fe580"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"bf097ed3-2cae-4792-9bc6-c50870a902c0","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-h6j9oso6","appId":"91366eb3-2b0c-4028-8b33-adc55a5fe580","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-h6j9oso6","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-h6j9oso6 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-h6j9oso6","id":"a2ba414f-f492-4007-a265-967abd65fc43","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-h6j9oso6 on your behalf.","userConsentDisplayName":"Access
        aro-h6j9oso6","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["91366eb3-2b0c-4028-8b33-adc55a5fe580","https://az.aro.azure.com/7f1dc679-3dca-4214-8dc2-47db71a478ae"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3719613'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/bf097ed3-2cae-4792-9bc6-c50870a902c0/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - p7oHeYfsInkxbbgu43F1bFwlMEoYiFSlAN45we0GlQo=
      ocp-aad-session-key:
      - L-mZq039qhnBpU5Cq_6DDYlJ1CGVUf5ZfXZS7imZz9AptiiRawGikEVc8kBzYgmCP1Hxrx0piGi3k7sP2c4uBth5B_PeLfGwfkZu8Y2_kk-3q-izz5dP0Ec3E7T-9RtizkEUgiAEYXEki5s356lEBVHVtwt8R-pshVnoGS4qbIVLfNoIyEdVu2wPhnJFOBkLwRxuWkHrtpvrFrNFYNTRuA.cLMAJnwCvyZqWJZE2unpJVi-82PrYr3Wnayxj8MGkEg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c00337edbb0b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2019-12-28T19:20:12.1938451Z","updatedOn":"2020-07-27T14:50:21.0338163Z","createdBy":"60fa24bb-762f-4b64-a636-a208bc10682d","updatedBy":"687b0b99-0a1f-4a48-a4f7-a58fc76b3530","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/412173a9-cd67-5814-a6e6-ec7d981d60f4","type":"Microsoft.Authorization/roleAssignments","name":"412173a9-cd67-5814-a6e6-ec7d981d60f4"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"6e66c155-e3cf-4390-88ca-e2c9218a2cb0","principalType":"Service[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "bf097ed3-2cae-4792-9bc6-c50870a902c0", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: '{"tags": {"test": "list"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "h6j9oso6", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-h6j9oso6"},
      "servicePrincipalProfile": {"clientId": "91366eb3-2b0c-4028-8b33-adc55a5fe580",
      "clientSecret": "8b7d48f6-0ea6-4c4a-ae2a-d15aea4861d1"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"list\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Creating\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"h6j9oso6\",\n            \"version\":
        \"4.6.21\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-h6j9oso6\"\n
        \       },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\":
        {\n            \"clientId\": \"91366eb3-2b0c-4028-8b33-adc55a5fe580\"\n        },\n
        \       \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"masterProfile\":
        {\n            \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8b2b5bc8-cbd0-4613-ba0f-c96c564c552f?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8b2b5bc8-cbd0-4613-ba0f-c96c564c552f\",\n
        \   \"name\": \"8b2b5bc8-cbd0-4613-ba0f-c96c564c552f\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2021-04-30T12:21:57.764935248Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8b2b5bc8-cbd0-4613-ba0f-c96c564c552f?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/8b2b5bc8-cbd0-4613-ba0f-c96c564c552f\",\n
        \   \"name\": \"8b2b5bc8-cbd0-4613-ba0f-c96c564c552f\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2021-04-30T12:21:57.764935248Z\",\n    \"endTime\": \"2021-04-30T12:56:44.687908871Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\",\n
        \   \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"list\"\n
        \   },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n
        \       \"clusterProfile\": {\n            \"domain\": \"h6j9oso6\",\n            \"version\":
        \"4.6.21\",\n            \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-h6j9oso6\"\n
        \       },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.h6j9oso6.eastus.aroapp.io/\"\n
        \       },\n        \"servicePrincipalProfile\": {\n            \"clientId\":
        \"91366eb3-2b0c-4028-8b33-adc55a5fe580\"\n        },\n        \"networkProfile\":
        {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\":
        \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n            \"vmSize\":
        \"Standard_D8s_v3\",\n            \"subnetId\": \"/subscriptions/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"value\": [\n        {\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro0[...]
