interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"784bf8ae-dd52-4f41-a0f2-010b6de51184\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"f7eea47c-0441-433f-953e-75483347aad6\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cc1f30ea-7352-4505-9300-ed722831c3e0?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cc1f30ea-7352-4505-9300-ed722831c3e0?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "dev_master000003", "properties": {"addressPrefix": "10.96.93.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003?api-version=2023-05-01
  response:
    body:
      string: '{"name":"dev_master000003","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003","etag":"W/\"e540d2cb-992c-4312-90a0-553bac7e8c0a\"","properties":{"provisioningState":"Updating","addressPrefix":"10.96.93.0/24","serviceEndpoints":[{"provisioningState":"Updating","service":"Microsoft.ContainerRegistry","locations":["*"]}],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/caec6b53-15ec-4042-b028-afce440d50a4?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "dev_worker000004", "properties": {"addressPrefix": "10.63.127.0/24",
      "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000004?api-version=2023-05-01
  response:
    body:
 [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2023-09-04","2023-07-01-preview","2023-04-01","2022-09-04","2022-04-01","2021-09-01-preview","2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        Central","Australia Central 2","Australia East","Australia Southeast","Brazil
        South","Brazil Southeast","Canada Central","Canada East","Central India","Central
        US","East Asia","East US 2","France Central","Germany West Central","Japan
        East","Japan West","Korea Central","North Central US","North Europe","Norway
        East","Norway West","Qatar Central","South Africa North","South Central[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=appId%20eq%20%27f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"50c17c64-bc11-4fdd-a339-0ecd396bf911","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"Azure
        Red Hat OpenShift RP","appDescription":null,"appId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdDateTime":"2020-01-12T07:30:56Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"Azure
        Red Hat OpenShift RP","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SN1PEPF0002DAC1"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/permissions?api-version=2015-07-01
  response:
    body:
      string: '{"value":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action","Microsoft.Purview/consents/write","Microsoft.Purview/consents/delete"]},{"actions":["*"],"notActions":[]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/9b0f576e-fc2e-4256-9aa3-6fede171d599","principalId":"5c445532-1499-448e-970c-bda7db1e1f15","principalType":"ServicePrincipal","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2023-07-13T16:20:06.8829118Z","updatedOn":"2023-07-13T16:20:06.8829118Z","createdBy":null,"updatedBy":null,"delegatedManagedIdentityResourceId":null,"description":"Allow
        AccessMonitorReader to read access details for compliance purpose"},"id":"/providers/Microsoft.Authorization/roleAssignments/fb6b898e-5323-404d-a8af-da5aafc3ecc0","type":"Microsoft.Authorization/roleAssignments","name":"fb6b898e-5323-404d-a8af-da5aafc3ecc0"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/9b0f576e-fc2e-4256-9aa3-6fede171d599","principalId":"612cdbb4-6edd-499[...]
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "0c55c1bf-a72d-4ef2-a9e8-557b66f9384a", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001[...]
[...]
- request:
    body: '{"tags": {"test": "get-admin-kubeconfig"}, "location": "eastus", "properties":
      {"clusterProfile": {"pullSecret": "", "domain": "aevunx7x", "version": "", "resourceGroupId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-aevunx7x",
      "fipsValidatedModules": "Disabled"}, "servicePrincipalProfile": {"clientId":
      "00000000-0000-0000-0000-000000000001", "clientSecret": "fake-secret"}, "networkProfile":
      {"podCidr": "10.128.0.0/14", "serviceCidr": "172.30.0.0/16", "outboundType":
      "", "preconfiguredNSG": "Disabled"}, "masterProfile": {"vmSize": "Standard_D8s_v3",
      "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000003",
      "encryptionAtHost": "Disabled"}, "workerProfiles": [{"name": "worker", "vmSize":
      "Standard_D4s_v3", "diskSizeGB": 128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000004",
      "count": 3, "encryptionAtHost": "Disabled"}], "apiserverProfile": {"visibility":
      "Public"}, "ingressProfiles": [{"name": "default", "visibility": "Public"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000006?api-version=2023-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000006\",\n
        \   \"name\": \"aro000006\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\",\n
        \   \"location\": \"eastus\",\n    \"systemData\": {\n        \"createdBy\":
        \"gniranjan@microsoft.com\",\n        \"createdByType\": \"User\",\n        \"createdAt\":
        \"2023-10-20T15:08:33.5375525Z\",\n        \"lastModifiedBy\": \"gniranjan@microsoft.com\",\n
        \       \"lastModifiedByType\": \"User\",\n        \"lastModifiedAt\": \"2023-10-20T15:08:33.5375525Z\"\n
        \   },\n    \"tags\": {\n        \"test\": \"get-admin-kubeconfig\"\n    },\n
        \   \"properties\": {\n        \"provisioningState\": \"Creating\",\n        \"clusterProfile\":
        {\n            \"domain\": \"aevunx7x\",\n            \"version\": \"4.11.44\",\n
        \           \"resourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/aro-aevunx7x\",\n
        \           \"fipsValidatedModules\": \"Disabled\"\n        },\n        \"consoleProfile\":
        {},\n        \"servicePrincipalProfile\": {\n            \"clientId\": \"00000000-0000-0000-0000-000000000001\"\n
        \       },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\",\n
        \           \"serviceCidr\": \"172.30.0.0/16\",\n            \"outboundType\":
        \"Loadbalancer\",\n            \"preconfiguredNSG\": \"Enabled\"\n        },\n
        \       \"masterProfile\": {\n            \"vmSize\": \"Standard_D8s_v3\",\n
        \           \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/f7a85306-528a-4245-8d00-32d4bfd2c4d6?api-version=2023-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/f7a85306-528a-4245-8d00-32d4bfd2c4d6\",\n
        \   \"name\": \"f7a85306-528a-4245-8d00-32d4bfd2c4d6\",\n    \"status\": \"Creating\",\n
        \   \"startTime\": \"2023-10-20T15:08:51.213932536Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/f7a85306-528a-4245-8d00-32d4bfd2c4d6?api-version=2023-09-04
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/f7a85306-528a-4245-8d00-32d4bfd2c4d6\",\n
        \   \"name\": \"f7a85306-528a-4245-8d00-32d4bfd2c4d6\",\n    \"status\": \"Succeeded\",\n
        \   \"startTime\": \"2023-10-20T15:08:51.213932536Z\",\n    \"endTime\": \"2023-10-20T15:54:18.103677899Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestaro_admin000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000006/listAdminCredentials?api-version=2023-09-04
  response:
    body:
      string: "{\n    \"kubeconfig\": \"Y2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIHNlcnZlcjogaHR0cHM6Ly9hcGkuYWV2dW54N3guZWFzdHVzLmFyb2FwcC5pbzo2NDQzCiAgbmFtZTogYWV2dW54N3gKY29udGV4dHM6Ci0gY29udGV4dDoKICAgIGNsdXN0ZXI6IGFldnVueDd4CiAgICB1c2VyOiBzeXN0ZW06YWRtaW4KICBuYW1lOiBzeXN0ZW06YWRtaW4KY3VycmVudC1jb250ZXh0OiBzeXN0ZW06YWRtaW4KcHJlZmVyZW5jZXM6IHt9CnVzZXJzOgotIG5hbWU6IHN5c3RlbTphZG1pbgogIHVzZXI6CiAgICBjbGllbnQtY2VydGlmaWNhdGUtZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVUktWRU5EUVdjeVowRjNTVUpCWjBsSlJFRTJSWFphV1RneFNqaDNSR[...]
