interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_list000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001","name":"cli_test_aro_list000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-18T07:06:52Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\",\r\n
        \ \"etag\": \"W/\\\"f7090c81-039e-44b6-a118-c5aec06cc833\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"f844002f-6468-46e5-8d7c-70a19c38757f\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/9\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a231860b-11b3-4792-a3b2-784844bb2ee9?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a231860b-11b3-4792-a3b2-784844bb2ee9?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.46.181.0/24", "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]},
      "name": "dev_master000002"}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2020-07-01
  response:
    body:
      string: "{[...]
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "properties": {"addressPrefix": "10.46.181.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "name": "dev_master000002"},
      {"properties": {"addressPrefix": "10.25.165.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}, "name": "dev_worker000003"}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\",\r\n
        \ \"etag\": \"W/\\\"080a8997-ebc5-48c4-a99f-f878cb95c057\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.46.181.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"080a8997-ebc5-48c4-a99f-f878cb95c057"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_list000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\",\r\n
        \ \"etag\": \"W/\\\"a3c551c6-cdae-4e30-81a3-07990f011e63\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.25.165.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\":
        [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\":
        [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a3c551c6-cdae-4e30-81a3-07990f011e63"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RedHatOpenShift","namespace":"Microsoft.RedHatOpenShift","authorizations":[{"applicationId":"f1dd0a37-89c6-4e07-bcd1-ffd3d43d8875","roleDefinitionId":"640c5ac9-6f32-4891-94f4-d20f7aa9a7e6","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635","managedByAuthorization":{"allowManagedByInheritance":true}}],"resourceTypes":[{"resourceType":"locations","locations":[],"apiVersions":["2020-04-30","2019-12-31-preview"],"capabilities":"None"},{"resourceType":"locations/operationresults","locations":["Australia
        East","Australia Southeast","Brazil South","Canada Central","Canada East","Central
        India","Central US","East Asia","East US","East US 2","France Central","Germany
        West Central","Japan East","Japan West","Korea Central","North Central US","North
        Europe","Norway East","South Africa North","South Central US","Southeast Asia","Switzerland
        North","Switzerland West","UAE North","UK Sout[...]
