interactions:
- request:
    body: '{"name": "cli-test-apim-000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/checkNameAvailability?api-version=2021-08-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Valid","message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Consumption", "capacity": 0}, "location": "westus", "properties":
      {"notificationSenderEmail": "publisher@contoso.com", "enableClientCertificate":
      true, "disableGateway": false, "virtualNetworkType": "None", "restore": false,
      "publisherEmail": "publisher@contoso.com", "publisherName": "Contoso"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_managed_identity-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_managed_identity-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002","name":"cli-test-apim-000002","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAA6CAY=","properties":{"publisherEmail":"publisher@contoso.com","publisherName":"Contoso","notificationSenderEmail":"publisher@contoso.com","provisioningState":"Created","targetProvisioningState":"Activating","createdAtUtc":"2022-08-26T22:52:26.9036754Z","gatewayUrl":"https://cli-test-apim-000002.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"managementApiUrl":null,"scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"cli-test-apim-000002.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":null,"virtualNetworkType":"None","certificates":null,"enableClientCertificate":true,"disableGateway":false,"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"mtv1"},"sku":{"name":"Consumption","capacity":0},"identity":null,"zones":null,"systemData":{"createdBy":"kehilli@microsoft.com","createdByType":"User","createdAt":"2022-08-26T22:52:26.6149394Z","lastModifiedBy":"kehilli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-26T22:52:26.6149394Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAA6CAY="'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_managed_identity-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tdW56bnF2cnJsMm5nZ2VxZ2d6N3R1X0FjdF8zYzkzMDk2Mg==?api-version=2021-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_managed_identity-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tdW56bnF2cnJsMm5nZ2VxZ2d6N3R1X0FjdF8zYzkzMDk2Mg==?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_managed_identity-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tdW56bnF2cnJsMm5nZ2VxZ2d6N3R1X0FjdF8zYzkzMDk2Mg==?api-version=2021-08-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_managed_identity-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tdW56bnF2cnJsMm5nZ2VxZ2d6N3R1X0FjdF8zYzkzMDk2Mg==?api-version=2021-08-01
  response:
    body:
      string: '{"error":{"code":"ActivationFailed","message":"Unable to activate API
        service at this time. This could be temporary issue in the region. Please
        check https://aka.ms/azurestatus for any issues. If the issue persists after
        retry, please open a support case for your API management service using the
        Azure portal.Please provide correlationId 335d9a66-ac5c-4932-bb0f-7d0414048ed3
        and TimeStamp 8/26/2022 11:08:39 PM.","details":null,"innerError":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
