interactions:
- request:
    body: '{"properties": {"authenticationSettings": {}, "subscriptionKeyParameterNames":
      {"header": "header1234", "query": "query1234"}, "displayName": "Echo API", "serviceUrl":
      "http://echoapi.cloudapp.net/api", "path": "api/echo-api", "protocols": ["https"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"echo-api\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Echo API\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n
        \   \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\":
        \"api/echo-api\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n
        \   \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\":
        null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\":
        \"header1234\",\r\n      \"query\": \"query1234\"\r\n    },\r\n    \"isCurrent\":
        true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADnpeA="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"echo-api\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Echo API\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n
        \   \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\":
        \"api/echo-api\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n
        \   \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\":
        null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\":
        \"header1234\",\r\n      \"query\": \"query1234\"\r\n    },\r\n    \"isCurrent\":
        true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADnpeA="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api/revisions?api-version=2021-08-01
  response:
    body:
      string: '{"value":[{"id":"/apis/echo-api;rev=1/revisions/echo-api;rev=1","apiId":"/apis/echo-api;rev=1","apiRevision":"1","createdDateTime":"2022-08-30T22:05:26.857Z","updatedDateTime":"2022-08-30T22:05:26.857Z","description":null,"privateUrl":"/api/echo-api","isOnline":true,"isCurrent":true}],"count":1,"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"authenticationSettings": {}, "subscriptionKeyParameterNames":
      {"header": "header1234", "query": "query1234"}, "apiRevisionDescription": "description
      of the revision.", "sourceApiId": "/apis/echo-api", "displayName": "Echo API",
      "serviceUrl": "http://echoapi.cloudapp.net/api", "path": "api/echo-api", "protocols":
      ["https"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api%3Brev%3D5?api-version=2021-08-01
  response:
    body:
      strin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api%3Brev%3D5?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api_rev-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/echo-api;rev=5\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"echo-api;rev=5\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Echo API\",\r\n    \"apiRevision\":
        \"5\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n
        \   \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\":
        \"api/echo-api\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n
        \   \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\":
        null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\":
        \"header1234\",\r\n      \"query\": \"query1234\"\r\n    },\r\n    \"apiRevisionDescription\":
        \"description of the revision.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADnphw="'
    status:
      code: 200
      message: OK
version: 1
