interactions:
- request:
    body: '{"name": "cli-test-apim-000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/checkNameAvailability?api-version=2019-01-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Valid","message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"notificationSenderEmail": "publisher@contsoso.com", "enableClientCertificate":
      true, "virtualNetworkType": "None", "publisherEmail": "publisher@contsoso.com",
      "publisherName": "Contoso"}, "sku": {"name": "Developer", "capacity": 1}, "location":
      "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002?api-version=2019-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002","name":"cli-test-apim-000002","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAGhGYY=","properties":{"publisherEmail":"publisher@contsoso.com","publisherName":"Contoso","notificationSenderEmail":"publisher@contsoso.com","provisioningState":"Created","targetProvisioningState":"Activating","createdAtUtc":"2019-07-25T23:10:28.9722329Z","gatewayUrl":null,"gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"managementApiUrl":null,"scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":null,"encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":null,"virtualNetworkType":"None","certificates":null},"sku":{"name":"Developer","capacity":1},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAGhGYY="'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/Y2xpLXRlc3QtYXBpbS1lNzQ2d3g0YmZ5ZjR3aWx0Y3psZWdkemFueGN2NmEzNmV1eWhfQWN0XzUxODIxMmUx?api-version=2019-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/Y2xpLXRlc3QtYXBpbS1lNzQ2d3g0YmZ5ZjR3aWx0Y3psZWdkemFueGN2NmEzNmV1eWhfQWN0XzUxODIxMmUx?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/Y2xpLXRlc3QtYXBpbS1lNzQ2d3g0YmZ5ZjR3aWx0Y3psZWdkemFueGN2NmEzNmV1eWhfQWN0XzUxODIxMmUx?api-version=2019-01-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/Y2xpLXRlc3QtYXBpbS1lNzQ2d3g0YmZ5ZjR3aWx0Y3psZWdkemFueGN2NmEzNmV1eWhfVXBkYXRlXzM2MmM2OGZl?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/Y2xpLXRlc3QtYXBpbS1lNzQ2d3g0YmZ5ZjR3aWx0Y3psZWdkemFueGN2NmEzNmV1eWhfVXBkYXRlXzM2MmM2OGZl?api-version=2019-01-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/service?api-version=2019-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002","name":"cli-test-apim-000002","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAGhG/Q=","properties":{"publisherEmail":"publisher@fabrikam.com","publisherName":"Fabrikam","notificationSenderEmail":"publisher@contsoso.com","provisioningState":"Succeeded","targetProvisioningState":"","createdAtUtc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/Y2xpLXRlc3QtYXBpbS1lNzQ2d3g0YmZ5ZjR3aWx0Y3psZWdkemFueGN2NmEzNmV1eWhfVGVybV9mMjk3OTMwMA==?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000002/operationresults/Y2xpLXRlc3QtYXBpbS1lNzQ2d3g0YmZ5ZjR3aWx0Y3psZWdkemFueGN2NmEzNmV1eWhfVGVybV9mMjk3OTMwMA==?api-version=2019-01-01
    status:
      code: 202
      message: Accepted
[...]
