interactions:
- request:
    body: '{"properties": {"displayName": "apim product"}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_product-000001/providers/Microsoft.ApiManagement/service/clitest000002/products/apim_product-000003?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_product-000001/providers/Microsoft.ApiManagement/service/clitest000002/products/apim_product-000003\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"apim_product-000003\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"apim product\",\r\n    \"description\":
        null,\r\n    \"terms\": null,\r\n    \"subscriptionRequired\": true,\r\n    \"approvalRequired\":
        false,\r\n    \"subscriptionsLimit\": null,\r\n    \"state\": \"notPublished\",\r\n
        \   \"groups\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_product-000001/providers/Microsoft.ApiManagement/service/clitest000002/groups/administrators\",\r\n
        \       \"name\": \"Administrators\",\r\n        \"description\": \"Administrators
        is a built-in group containing the admin email account provided at the time
        of service creation. Its membership is managed by the system.\",\r\n        \"builtIn\":
        true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADnpCQ="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_product-000001/providers/Microsoft.ApiManagement/service/clitest000002/products/apim_product-000003?deleteSubscriptions=true&api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_product-000001/providers/Microsoft.ApiManagement/service/clitest000002/products?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [],\r\n  \"count\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
