interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-26T21:25:36.9463170Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-26T21:25:36.9463170Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.Storage/storageAccounts/cs26c5159d3e9b1x4eafxb96","name":"cs26c5159d3e9b1x4eafxb96","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"ms-resource-usage":"azure-cloud-shell"},"properties":{"keyCreationTime":{"key1":null,"key2":null},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-02-11T17:28:10.1839861Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-02-11T17:28:10.1839861Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-02-11T17:28:10.0902390Z","primaryEndpoints":{"blob":"https://cs26c5159d3e9b1x4eafxb96.blob.core.windows.net/","queue":"https://cs26c5159d3e9b1x4eafxb96.queue.core.windows.net/","table":"https://cs26c5159d3e9b1x4eafxb96.table.core.windows.net/","file":"https://cs26c5159d3e9b1x4eafxb96.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-sphere/providers/Microsoft.Storage/storageAccounts/spheredevkitdemo2stor0","name":"spheredevkitdemo2stor0","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":null,"key2":null},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-01-26T13:02:48.6678353Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-01-26T13:02:48.6678353Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-01-26T13:02:48.5896775Z","primaryEndpoints":{"dfs":"https://spheredevkitdemo2stor0.dfs.core.windows.net/","web":"https://spheredevkitdemo2stor0.z13.web.core.windows.net/","blob":"https://spheredevkitdemo2stor0.blob.core.windows.net/","queue":"https://spheredevkitdemo2stor0.queue.core.windows.net/","table":"https://spheredevkitdemo2stor0.table.core.windows.net/","file":"https://spheredevkitdemo2stor0.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000[...]
[...]
- request:
    body: null
    headers:
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Fri, 26 Aug 2022 21:28:06 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/apimtestdata000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA87A9DDD30431"'
      last-modified:
      - Fri, 26 Aug 2022 21:28:06 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "<policies>\n    <inbound></inbound>\n    <backend>\n            <!-- test
      -->\n    </backend>\n    <outbound />\n    <on-error />\n</policies>"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-content-type:
      - application/xml
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 26 Aug 2022 21:28:06 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/apimtestdata000004/policy.xml
  response:
    body:
      string: ''
    headers:
      content-md5:
      - YXDNFL+AsDU6P4KrlI31jw==
      etag:
      - '"0x8DA87A9DE20AD7D"'
      last-modified:
      - Fri, 26 Aug 2022 21:28:07 GMT
      x-ms-content-crc64:
      - jTkmCGAvC8o=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "schema {\n  query: Query\n  mutation: Mutation\n  subscription: Subscription\n}\n\ntype
      Address {\n  address: String\n  city: String\n  state: String\n}\n\ntype Capsule
      {\n  id: ID\n  landings: Int\n  missions: [CapsuleMission]\n  original_launch:
      Date\n  reuse_count: Int\n  status: String\n  type: String\n  dragon: Dragon\n}\n\ntype
      CapsuleMission {\n  flight: Int\n  name: String\n}\n\ninput CapsulesFind {\n
      \ id: ID\n  landings: Int\n  missio[...]
- request:
    body: "{\n  \"swagger\": \"2.0\",\n  \"info\": {\n    \"version\": \"v1\",\n    \"title\":
      \"FoodTrucks\",\n    \"description\": \"A sample API where you can find Food
      trucks.\"\n  },\n  \"host\": \"foodtruckapi.azurewebsites.net\",\n  \"schemes\":
      [ \"http\", \"https\" ],\n  \"basePath\": \"/api/data\",\n  \"paths\": {\n    \"/foodtrucks\":
      {\n      \"get\": {\n        \"tags\": [ \"FoodTrucks\" ],\n        \"operationId\":
      \"getFoodTrucks\",\n        \"consumes\": [],\n        \"produces\": [ \"application/json\",
      \"text/json\", \"application/xml\", \"text/xml\" ],\n        \"responses\":
      {\n          \"200\": {\n            \"description\": \"OK\",\n            \"schema\":
      {\n              \"type\": \"array\",\n              \"items\": { \"$ref\":
      \"#/definitions/Restaurant\" }\n            }\n          }\n        },\n        \"deprecated\":
      false\n      }\n    },\n    \"/foodtrucks/{id}\": {\n      \"get\": {\n        \"tags\":
      [ \"FoodTrucks\" ],\n        \"operationId\": \"getFoodTruckDetails\",\n        \"consumes\":
      [],\n        \"produces\": [ \"application/json\", \"text/json\", \"application/xml\",
      \"text/xml\" ],\n        \"parameters\": [\n          {\n            \"name\":
      \"id\",\n            \"in\": \"path\",\n            \"required\": true,\n            \"type\":
      \"integer\",\n            \"format\": \"int32\"\n          }\n        ],\n        \"responses\":
      {\n          \"200\": {\n            \"description\": \"OK\",\n            \"schema\":
      {\n              \"type\": \"array\",\n              \"items\": { \"$ref\":
      \"#/definitions/Restaurant\" }\n            }\n          }\n        },\n        \"deprecated\":
      false\n      }\n    }\n  },\n  \"definitions\": {\n    \"Restaurant\": {\n      \"type\":
      \"object\",\n      \"properties\": {\n        \"id\": {\n          \"format\":
      \"int32\",\n          \"type\": \"integer\"\n        },\n        \"name\": {
      \"type\": \"string\" },\n        \"likes\": {\n          \"format\": \"int32\",\n
      \         \"type\": \"integer\"\n        },\n        \"savory\": { \"type\":
      \"boolean\" },\n        \"sweet\": { \"type\": \"boolean\" },\n        \"vegetarian\":
      { \"type\": \"boolean\" },\n        \"bookable\": { \"type\": \"boolean\" },\n
      \       \"city\": { \"type\": \"string\" }\n      }\n    }\n  }\n}\n"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 26 Aug 2022 21:28:07 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/apimtestdata000004/swagger.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - b3swLB0Hm4GquR2Tzs3Hnw==
      etag:
      - '"0x8DA87A9DE4D0E17"'
      last-modified:
      - Fri, 26 Aug 2022 21:28:07 GMT
      x-ms-content-crc64:
      - uCiRiD3qaXQ=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "openapi: \"3.0.0\"\ninfo:\n  version: 1.0.0\n  title: Swagger Petstore\n
      \ license:\n    name: MIT\nservers:\n  - url: http://petstore.swagger.io/v1\npaths:\n
      \ /pets:\n    get:\n      summary: List all pets\n      operationId: listPets\n
      \     tags:\n        - pets\n      parameters:\n        - name: limit\n          in:
      query\n          description: How many items to return at one time (max 100)\n
      \         required: false\n          schema:\[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
      xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
      xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://tempuri.org/\"
      xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
      xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://tempuri.org/\"
      xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\n  <wsdl:types>\n    <s:schema
      elementFormDefault=\"qualified\" targetNamespace=\"http://tempuri.org/\">\n
      \     <s:element name=\"Add\">\n        <s:complexType>\n          <s:sequence>\n
      \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"intA\" type=\"s:int\"
      />\n            <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"intB\" type=\"s:int\"
      />\n          </s:sequence>\n        </s:complexType>\n      </s:element>\n
      \     <s:element name=\"AddResponse\">\n        <s:complexType>\n          <s:sequence>\n
      \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"AddResult\" type=\"s:int\"
      />\n          </s:sequence>\n     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [],\r\n  \"count\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"description": "api description", "authenticationSettings":
      {}, "subscriptionKeyParameterNames": {"header": "header1234", "query": "query1234"},
      "displayName": "api display name", "serviceUrl": "http://echoapi.cloudapp.net/api",
      "path": "api-path", "protocols": ["http"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": \"api description\",\r\n    \"subscriptionRequired\":
        true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\":
        \"api-path\",\r\n    \"protocols\": [\r\n      \"http\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header1234\",\r\n      \"query\": \"query1234\"\r\n
        \   },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmoe8="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": \"api description\",\r\n    \"subscriptionRequired\":
        true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\":
        \"api-path\",\r\n    \"protocols\": [\r\n      \"http\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header1234\",\r\n      \"query\": \"query1234\"\r\n
        \   },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmoe8="'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "api description clone", "authenticationSettings":
      {}, "sourceApiId": "/apis/api-id", "displayName": "api display name clone",
      "path": "api-path-clone", "protocols": ["https"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-clone?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-clone?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-clone\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id-clone\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name clone\",\r\n
        \   \"apiRevision\": \"1\",\r\n    \"description\": \"api description clone\",\r\n
        \   \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n
        \   \"path\": \"api-path-clone\",\r\n    \"protocols\": [\r\n      \"https\"\r\n
        \   ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n
        \     \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header1234\",\r\n      \"query\": \"query1234\"\r\n
        \   },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmofQ="'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"authenticationSettings": {}, "apiRevisionDescription":
      "api description revision 2", "sourceApiId": "/apis/api-id", "serviceUrl": "http://echoapi.cloudapp.net/api2",
      "path": "api-path"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id%3Brev%3D2?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id%3Brev%3D2?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id;rev=2\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id;rev=2\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name\",\r\n    \"apiRevision\":
        \"2\",\r\n    \"description\": \"api description\",\r\n    \"subscriptionRequired\":
        true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api2\",\r\n    \"path\":
        \"api-path\",\r\n    \"protocols\": [\r\n      \"http\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header1234\",\r\n      \"query\": \"query1234\"\r\n
        \   },\r\n    \"apiRevisionDescription\": \"api description revision 2\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmofs="'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"authenticationSettings": {}, "displayName": "api-path-swagger",
      "serviceUrl": "http://petstore.swagger.wordnik.com/api", "path": "api-path-swagger",
      "protocols": ["https"], "value": "http://apimpimportviaurl.azurewebsites.net/api/apidocs/",
      "format": "swagger-link-json"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-swagger?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-swagger?api-version=2021-08-01&asyncId=63093b4bae678d0b8823c25f&asyncCode=201
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-swagger?api-version=2021-08-01&asyncId=63093b4bae678d0b8823c25f&asyncCode=201
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiM[...]
- request:
    body: '{"properties": {"authenticationSettings": {}, "type": "graphql", "displayName":
      "graphQl API", "serviceUrl": "https://api.spacex.land/graphql/", "path": "graphqltestpath",
      "protocols": ["https"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/gr-a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/gr-api000005?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/gr-api000005\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"gr-api000005\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"graphQl API\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n
        \   \"serviceUrl\": \"https://api.spacex.land/graphql/\",\r\n    \"path\":
        \"graphqltestpath\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n
        \   \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\":
        null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\":
        \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n
        \   },\r\n    \"type\": \"graphql\",\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmokU="'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"authenticationSettings": {}, "displayName": "Swagger Petstore",
      "path": "api-path-oai3-import", "protocols": ["https"], "value": "https://clitest000002.blob.core.windows.net/apimtestdata000004/petstore.openapi.yaml",
      "format": "openapi-link"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-oai3-import?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-oai3-import?api-version=2021-08-01&asyncId=63093b8b429bef018c3255f1&asyncCode=201
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-oai3-import?api-version=2021-08-01&asyncId=63093b8b429bef018c3255f1&asyncCode=201
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-oai3-import\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id-oai3-import\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Swagger Petstore\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n
        \   \"serviceUrl\": \"http://petstore.swagger.io/v1\",\r\n    \"path\": \"api-path-oai3-import\",\r\n
        \   \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\":
        \"subscription-key\"\r\n    },\r\n    \"license\": {\r\n      \"name\": \"MIT\",\r\n
        \     \"url\": null\r\n    },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmok0="'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"authenticationSettings": {}, "type": "http", "displayName":
      "Calculator", "path": "api-path-wsdl", "protocols": ["https"], "value": "https://clitest000002.blob.core.windows.net/apimtestdata000004/calculator.wsdl.xml",
      "format": "wsdl-link", "wsdlSelector": {"wsdlServiceName": "Calculator", "wsdlEndpointName":
      "CalculatorSoap"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-wsdl?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-wsdl?api-version=2021-08-01&asyncId=63093baa429bef018c3255f5&asyncCode=201
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-wsdl?api-version=2021-08-01&asyncId=63093baa429bef018c3255f5&asyncCode=201
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id-wsdl\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id-wsdl\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Calculator\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n
        \   \"serviceUrl\": \"http://www.dneonline.com\",\r\n    \"path\": \"api-path-wsdl\",\r\n
        \   \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\":
        \"subscription-key\"\r\n    },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmomM="'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"description": "api description updated", "authenticationSettings":
      {}, "subscriptionKeyParameterNames": {"header": "updatedheader1234", "query":
      "updatedquery1234"}, "apiRevision": "1", "isCurrent": true, "subscriptionRequired":
      true, "displayName": "api display name updated", "serviceUrl": "http://echoapi.cloudapp.net/api",
      "path": "api-path-updated", "protocols": ["http"]}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim_api-000001/providers/Microsoft.ApiManagement/service/clitest000003/apis/api-id\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name updated\",\r\n
        \   \"apiRevision\": \"1\",\r\n    \"description\": \"api description updated\",\r\n
        \   \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n
        \   \"path\": \"api-path-updated\",\r\n    \"protocols\": [\r\n      \"http\"\r\n
        \   ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n
        \     \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"updatedheader1234\",\r\n      \"query\": \"updatedquery1234\"\r\n
        \   },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAADmoow="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: DELETE
[...]
