interactions:
- request:
    body: '{"name": "cli-test-apim-000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/checkNameAvailability?api-version=2021-08-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Valid","message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Developer", "capacity": 1}, "identity": {"type": "SystemAssigned"},
      "location": "westus", "properties": {"notificationSenderEmail": "publisher@contoso.com",
      "enableClientCertificate": true, "disableGateway": false, "virtualNetworkType":
      "None", "restore": false, "publisherEmail": "publisher@contoso.com", "publisherName":
      "Contoso"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003","name":"cli-test-apim-000003","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAA7+8Y=","properties":{"publisherEmail":"publisher@contoso.com","publisherName":"Contoso","notificationSenderEmail":"publisher@contoso.com","provisioningState":"Created","targetProvisioningState":"Activating","createdAtUtc":"2022-09-27T00:57:41.3287326Z","gatewayUrl":"https://cli-test-apim-000003.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"managementApiUrl":null,"scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"cli-test-apim-000003.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":null,"virtualNetworkType":"None","certificates":null,"disableGateway":false,"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"undetermined"},"sku":{"name":"Developer","capacity":1},"identity":{"type":"SystemAssigned","principalId":"307af3ac-06dd-4728-ac10-b9d2e9c60ca3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"zones":null,"systemData":{"createdBy":"anandareddys@microsoft.com","createdByType":"User","createdAt":"2022-09-27T00:57:40.3940435Z","lastModifiedBy":"anandareddys@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-27T00:57:40.3940435Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAA7+8Y="'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYmVteWc2emE2cWd5dXB2bGlka2V0b2thc3dybXlwbzc1d2NxX0FjdF80YmZhZGVjYg==?api-version=2021-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYmVteWc2emE2cWd5dXB2bGlka2V0b2thc3dybXlwbzc1d2NxX0FjdF80YmZhZGVjYg==?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYmVteWc2emE2cWd5dXB2bGlka2V0b2thc3dybXlwbzc1d2NxX0FjdF80YmZhZGVjYg==?api-version=2021-08-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-09-27T00:57:17.8161047Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-09-27T00:57:17.8161047Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Sep 2022 02:07:12 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/backups?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAA02CFED09309"'
      last-modified:
      - Tue, 27 Sep 2022 02:07:14 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: '{"storageAccount": "clitest000002", "containerName": "backups", "backupName":
      "cli-test-apim-000003_test_backup", "accessType": "AccessKey", "accessKey":
      "veryFakedStorageAccountKey=="}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/backup?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYmVteWc2emE2cWd5dXB2bGlka2V0b2thc3dybXlwbzc1d2NxX0JhY2t1cF8yMWJlYzY0MQ==?api-version=2021-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYmVteWc2emE2cWd5dXB2bGlka2V0b2thc3dybXlwbzc1d2NxX0JhY2t1cF8yMWJlYzY0MQ==?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYmVteWc2emE2cWd5dXB2bGlka2V0b2thc3dybXlwbzc1d2NxX0JhY2t1cF8yMWJlYzY0MQ==?api-version=2021-08-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apiVersionSets?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [],\r\n  \"count\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "This is vs description", "versionQueryName":
      "QueryName", "displayName": "MyVersionSet", "versioningScheme": "Query"}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apiVersionSets/MyVSId?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apiVersionSets/MyVSId\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\":
        \"MyVSId\",\r\n  \"properties\": {\r\n    \"displayName\": \"MyVersionSet\",\r\n
        \   \"description\": \"This is vs description\",\r\n    \"versioningScheme\":
        \"Query\",\r\n    \"versionQueryName\": \"QueryName\",\r\n    \"versionHeaderName\":
        null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACR4="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"subscriptionKeyParameterNames": {"header": "header", "query":
      "query"}, "type": "http", "subscriptionRequired": false, "displayName": "Contoso
      API", "serviceUrl": "https://contoso.com", "path": "test", "protocols": ["https"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"az-cli000004\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Contoso API\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": false,\r\n
        \   \"serviceUrl\": \"https://contoso.com\",\r\n    \"path\": \"test\",\r\n
        \   \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header\",\r\n      \"query\": \"query\"\r\n    },\r\n
        \   \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACSY="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"az-cli000004\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Contoso API\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": false,\r\n
        \   \"serviceUrl\": \"https://contoso.com\",\r\n    \"path\": \"test\",\r\n
        \   \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header\",\r\n      \"query\": \"query\"\r\n    },\r\n
        \   \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACSY="'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"subscriptionKeyParameterNames": {"header": "header", "query":
      "query"}, "apiVersion": "v1", "apiVersionSetId": "/apiVersionSets/MyVSId", "path":
      "test2", "value": "https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore.json",
      "format": "openapi-link"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/48242ec7f53745de9cbb800757a4204a?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/48242ec7f53745de9cbb800757a4204a?api-version=2021-08-01&asyncId=63326ae2217d2004341eb122&asyncCode=201
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/48242ec7f53745de9cbb800757a4204a?api-version=2021-08-01&asyncId=63326ae2217d2004341eb122&asyncCode=201
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/48242ec7f53745de9cbb800757a4204a\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"48242ec7f53745de9cbb800757a4204a\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Swagger Petstore\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": true,\r\n
        \   \"serviceUrl\": \"http://petstore.swagger.io/v1\",\r\n    \"path\": \"test2\",\r\n
        \   \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header\",\r\n      \"query\": \"query\"\r\n    },\r\n
        \   \"license\": {\r\n      \"name\": \"MIT\",\r\n      \"url\": null\r\n
        \   },\r\n    \"isCurrent\": true,\r\n    \"apiVersion\": \"v1\",\r\n    \"apiVersionSetId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apiVersionSets/MyVSId\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACTI="'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products/starter\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/products\",\r\n      \"name\":
        \"starter\",\r\n      \"properties\": {\r\n        \"displayName\": \"Starter\",\r\n
        \       \"description\": \"Subscribers will be able to run 5 calls/minute
        up to a maximum of 100 calls/week.\",\r\n        \"terms\": \"\",\r\n        \"subscriptionRequired\":
        true,\r\n        \"approvalRequired\": false,\r\n        \"subscriptionsLimit\":
        1,\r\n        \"state\": \"published\"\r\n      }\r\n    },\r\n    {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products/unlimited\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/products\",\r\n      \"name\":
        \"unlimited\",\r\n      \"properties\": {\r\n        \"displayName\": \"Unlimited\",\r\n
        \       \"description\": \"Subscribers have completely unlimited access to
        the API. Administrator approval is required.\",\r\n        \"terms\": null,\r\n
        \       \"subscriptionRequired\": true,\r\n        \"approvalRequired\": true,\r\n
        \       \"subscriptionsLimit\": 1,\r\n        \"state\": \"published\"\r\n
        \     }\r\n    }\r\n  ],\r\n  \"count\": 2\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "Contoso Product Description", "terms":
      "Terms", "subscriptionRequired": true, "approvalRequired": true, "subscriptionsLimit":
      8, "state": "notPublished", "displayName": "product1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products/standard?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products/standard\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"standard\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"product1\",\r\n    \"description\":
        \"Contoso Product Description\",\r\n    \"terms\": \"Terms\",\r\n    \"subscriptionRequired\":
        true,\r\n    \"approvalRequired\": true,\r\n    \"subscriptionsLimit\": 8,\r\n
        \   \"state\": \"notPublished\",\r\n    \"groups\": [\r\n      {\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/groups/administrators\",\r\n
        \       \"name\": \"Administrators\",\r\n        \"description\": \"Administrators
        is a built-in group containing the admin email account provided at the time
        of service creation. Its membership is managed by the system.\",\r\n        \"builtIn\":
        true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACVE="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004/operations?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [],\r\n  \"count\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"templateParameters": [{"name": "id", "description": "Format
      - int32.", "type": "integer", "required": true}, {"name": "oname", "description":
      "oid name", "type": "string", "required": true}], "description": "This is Description",
      "displayName": "GetSPSession", "method": "GET", "urlTemplate": "/session/{id}/oid/{oname}"}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004/operations/testOperation?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004/operations/testOperation\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis/operations\",\r\n  \"name\":
        \"testOperation\",\r\n  \"properties\": {\r\n    \"displayName\": \"GetSPSession\",\r\n
        \   \"method\": \"GET\",\r\n    \"urlTemplate\": \"/session/{id}/oid/{oname}\",\r\n
        \   \"templateParameters\": [\r\n      {\r\n        \"name\": \"id\",\r\n
        \       \"description\": \"Format - int32.\",\r\n        \"type\": \"integer\",\r\n
        \       \"required\": true,\r\n        \"values\": []\r\n      },\r\n      {\r\n
        \       \"name\": \"oname\",\r\n        \"description\": \"oid name\",\r\n
        \       \"type\": \"string\",\r\n        \"required\": true,\r\n        \"values\":
        []\r\n      }\r\n    ],\r\n    \"description\": \"This is Description\",\r\n
        \   \"request\": {\r\n      \"queryParameters\": [],\r\n      \"headers\":
        [],\r\n      \"representations\": []\r\n    },\r\n    \"responses\": [],\r\n
        \   \"policies\": null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACV4="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004/revisions?api-version=2021-08-01
  response:
    body:
      string: '{"value":[{"id":"/apis/az-cli000004;rev=1/revisions/az-cli000004;rev=1","apiId":"/apis/az-cli000004;rev=1","apiRevision":"1","createdDateTime":"2022-09-27T02:14:30.57Z","updatedDateTime":"2022-09-27T03:16:22.603Z","description":null,"privateUrl":"/test","isOnline":true,"isCurrent":true}],"count":1,"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"authenticationSettings": {}, "subscriptionKeyParameterNames":
      {"header": "header", "query": "query"}, "apiRevisionDescription": "New API Revision",
      "sourceApiId": "/apis/az-cli000004", "displayName": "Contoso API", "serviceUrl":
      "https://contoso.com", "path": "test", "protocols": ["https"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004%3Brev%3D2?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004%3Brev%3D2?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004;rev=2\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"az-cli000004;rev=2\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Contoso API\",\r\n    \"apiRevision\":
        \"2\",\r\n    \"description\": \"Contoso API Description\",\r\n    \"subscriptionRequired\":
        false,\r\n    \"serviceUrl\": \"https://contoso.com\",\r\n    \"path\": \"test\",\r\n
        \   \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header\",\r\n      \"query\": \"query\"\r\n    },\r\n
        \   \"apiRevisionDescription\": \"New API Revision\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACWg="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004/releases?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [],\r\n  \"count\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"apiId": "/apis/az-cli000004;rev=2", "notes": "release
      this version"}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004/releases/releaseVersionOne?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004/releases/releaseVersionOne\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis/releases\",\r\n  \"name\":
        \"releaseVersionOne\",\r\n  \"properties\": {\r\n    \"apiId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004\",\r\n
        \   \"createdDateTime\": \"2022-09-27T03:17:29.5814734Z\",\r\n    \"updatedDateTime\":
        \"2022-09-27T03:17:29.5970983Z\",\r\n    \"notes\": \"release this version\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACXI="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products/standard/apis?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"value\": [],\r\n  \"count\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products/standard/apis/az-cli000004?api-version=2021-08-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/products/standard/apis/az-cli000004\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/products/apis\",\r\n  \"name\":
        \"az-cli000004\",\r\n  \"properties\": {\r\n    \"displayName\": \"Contoso
        API\",\r\n    \"apiRevision\": \"2\",\r\n    \"description\": \"Contoso API
        Description\",\r\n    \"subscriptionRequired\": false,\r\n    \"serviceUrl\":
        \"https://contoso.com\",\r\n    \"path\": \"test\",\r\n    \"protocols\":
        null,\r\n    \"authenticationSettings\": null,\r\n    \"subscriptionKeyParameterNames\":
        null,\r\n    \"isCurrent\": true,\r\n    \"apiRevisionDescription\": \"New
        API Revision\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACW4="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
    method: DELETE
[...]
