interactions:
- request:
    body: '{"passwordProfile": {"forceChangePasswordNextLogin": false, "password":
      "Test1234!!"}, "accountEnabled": true, "userPrincipalName": "deleteme1@AzureSDKTeam.onmicrosoft.com",
      "mailNickname": "deleteme1", "displayName": "deleteme1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"41109d4c-94f8-4308-a702-0a6f541d16a4","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"deleteme1","facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme1","mobile":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-04-21T02:34:51.7535386Z","showInAddressList":null,"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"usageLocation":null,"userPrincipalName":"deleteme1@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['8671347']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/41109d4c-94f8-4308-a702-0a6f541d16a4/Microsoft.DirectoryServices.User']
      ocp-aad-diagnostics-server-name: [WJ9iNj7ky7Q0raKkGm6593SGt4ZAaZkDQgVPLNeXP0c=]
      ocp-aad-session-key: [jpR7XXuX_T1kxSIkqFOB52jihfMTnn9SH4VWMOFXyp0ZNiFqhwsUnGl9wn5W-i3hqVx0J62RXwirgueJgLB7qRY_ZrmB5UZud2phlU0NZcVvhFOgMjFVJThd1KC61mYY5N6N537jdMmLDDe2_RIDEKhMkPKPw-JnPn_nCbLSWnIG-vqlchEdaqCdFEvyQgkdP4yedcwRXuAbmqp4jujqfQ.M32PAKgiR6c_upGTEedeqJUTCKT98l29GfNeezk8wW4]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"securityEnabled": true, "mailEnabled": false, "mailNickname": "deleteme_g",
      "displayName": "deleteme_g"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"b511b706-141f-48e5-a700-7015860dbb04","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['2380019']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/b511b706-141f-48e5-a700-7015860dbb04/Microsoft.DirectoryServices.Group']
      ocp-aad-diagnostics-server-name: [NQzzohdyto5u0aXRdIyWmvWAgmuTAftnKRMh6cwShWo=]
      ocp-aad-session-key: [GJRbngTR61d56iJMPzyG31LFKOekl2lCiAF_4guv3uTEJM0pTp1IYSXej2vgjzZSZr_wc_QSSG2GjGPcvHSz6PHgpFZmyQKBORagTwJf6Sgnb5Cjq1ARhihaDfMoLp2Nwp3UKTdz4UmNlo48Act_66uoyRctddJV4xDNfX-_ib-u3psokOIAHlwOJaPCtt1a9lQZz3vYDNalIBgj2PgYlA.oysqr2-y3Dlx0zLdT6uZXhz1yUSnwGH8jKUIgr_3Exg]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6&$filter=startswith%28displayName%2C%27deleteme_g%27%29%20or%20displayName%20eq%20%27deleteme_g%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Group","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"b511b706-141f-48e5-a700-7015860dbb04","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['613565']
      ocp-aad-diagnostics-server-name: [4GoW7S4gK6ZADtJZ7anfPxmmIML2y1bLgHB/c5EmhGY=]
      ocp-aad-session-key: [lVsL2ZNIVd6_koFCuZYBVypsOnwVi5RhktUhdU4EOGiAAogYhHtSeHArVlX-7J8V10S0K9VoDpn6J5ea_hgJcPbIjRBnF4jV6D5ignl8wpDUtDNricnghCITwDfGvtKDnbVhp_QlOmzpYEmTp89GzRvC6Hbt3qTqOk8GCCLG8qLC7dQhBO3UhtB8muEE4Zmu1__yXL1MO2LmRryH1XCw8A.nhxhzPCkXl7HVSP-Pg4r1wzJz42LCmtEjBeRUPQMxkE]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"url": "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/41109d4c-94f8-4308-a702-0a6f541d16a4"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/b511b706-141f-48e5-a700-7015860dbb04/$links/members?api-version=1.6
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [1.0;]
      Duration: ['1463966']
      ocp-aad-diagnostics-server-name: [p2VNFLoaL7S6Sl7mYZqZdKbM00cEf5mOy6vYy8NtAMg=]
      ocp-aad-session-key: [Mc2Rjck_-jBXj-Da58jstd6v38mDi8GHdb2HNhm0rmJVN4CnooTHUAOMHHzq-fnbQ6URRFeYUV7EUwhf4nkA4SiNG4SWiwU8APAhVn8jrJs_xUXrjvo1Z1gu3Xnv0YWX0rTpX3eeV4WhXYbJWg2cYChAzF3ebXuW8YbR5tNl59MAKKM9w5ROdxY7s9BTm4UdJOQ7aWIr3H007p_RZaly7Q.WeG2JMDgIMMM0KjLnGgvWRoJz3GGEcTU-iOiCtPgYcU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/b511b706-141f-48e5-a700-7015860dbb04?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"b511b706-141f-48e5-a700-7015860dbb04","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['532282']
      ocp-aad-diagnostics-server-name: [bKebP66qgjbXsGkb8RKjEOK0Di4Z+mUFNK2uc4Kp3R8=]
      ocp-aad-session-key: [DKS6X08Gzb4T4ohSw7NjrENjB-mLnbMLkOko1uC7zV5c7m2iakb2NG-ShAfDb-E1Rr-DwCq2FxxbowwD6Wwdr_TpzYWtJgULrB_ubgyAYbVkczf3Ycia8L0WyxKMXjk1HH3MbXXgZguiRXa6xSeVZcKS5_3UQE45TmCtVtNp9UzxMGBndJqmoDLrD429ppoJhlfA6jDJ1ok_dvSLgrWtoQ.Igsp3oo_oqgVSiCn5TWYqSXIghR4S2l2ghfvtMiaKQM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6&$filter=startswith%28displayName%2C%27deleteme_g%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Group","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"b511b706-141f-48e5-a700-7015860dbb04","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['636208']
      ocp-aad-diagnostics-server-name: [nG3hKVoq5XXuUdcuvSQIIaqQRGfFv8ulezCBqMPQCRQ=]
      ocp-aad-session-key: [_hasrBAPYrcMyTqk7-JKvJ4RF_E-Q_0dnzcSp-N7p0WApD5pO_i0HzI0DCGesNwEcHm4k6o5g6n6uKj8xSDMCk7FnzOfWFt5CJlkdWphgf_AD2STxTEuyHFoLw9RTjN_zmklZHDhiMKtRDl1eMKUzMHgGucn0yh5jV1qpoYA3qeSjWVkPcm2tinQG3OLMk5XXEugvwGrczZfee0XgUDvOQ.pCR1otnzCj8LPTz0-pOtvCKF9lU7DmNKmNUOjR_kUsk]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/b511b706-141f-48e5-a700-7015860dbb04/getMemberGroups?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Edm.String)","value":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['860475']
      ocp-aad-diagnostics-server-name: [2mzsumD7v4laEobzcd1BLO71t/RyrMmpEcVHR0ySBgI=]
      ocp-aad-session-key: [CSlAkP3jSRRDYfT6gT36QzmwtPMLYLL1LgowcGHVZ4RFpymPbEI9Qd2HGpjuLrTZ2HC0iHL4vF1nYL_5CX_4ucK_wR8wobcCom93gvO9vH_qbu46h7sUSJoqtyPc7l0prau_VRTMenswmCWPnwpmHfcxzLeE5MkRZAjwWFFT1wozXKZRe90LJgkpfhCdWvdf95CbQZyIlkVZsKHc7WKgpw.KohCAEDmIrkgl533DVtAMiM36kmniAQPMrN5_Q5eupg]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"groupId": "b511b706-141f-48e5-a700-7015860dbb04", "memberId": "41109d4c-94f8-4308-a702-0a6f541d16a4"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/isMemberOf?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Edm.Boolean","value":true}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['810984']
      ocp-aad-diagnostics-server-name: [0lQ4vCmckKCyRLoL4AoEX4aKPw4qTo7BdYx2Pv/0osg=]
      ocp-aad-session-key: [_JpCop26AtTqhzRT-f7kL870Cu-5buOlVaE8K2g8_Rd2jWW0iNt7stu5Iks2HBZngb442bG8iY0qXd-_L7GP-Uskag_kslAHZ9_AjfhxTZN7Sf3jECQVY0-ptyTGtzuH8Kwn8eSXNlXYujbMzaGY-SDGsKe6PAcvqdRCAvIMdPTY_JbiA8zMoLC8W38mru5qJZL3UZzx7KkMtA_v4GHAAg.dqfTW22-j6WG-x5hDsmTEDe4GivwGJnEQbTtwrRvWxA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/b511b706-141f-48e5-a700-7015860dbb04/members?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"41109d4c-94f8-4308-[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/b511b706-141f-48e5-a700-7015860dbb04/$links/members/41109d4c-94f8-4308-a702-0a6f541d16a4?api-version=1.6
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [1.0;]
      Duration: ['2264001']
      ocp-aad-diagnostics-server-name: [Gn/SyFs1dI76n3DdqL7J62Lgmc/wMbIjPyRQ+vCls0k=]
      ocp-aad-session-key: [isZqfNhyBGpSID-iupVpM_ceSzx5HasaP6wT7cUFjc3dCRd5lXE7q6NOyFu3X6TdoL46o3pCXbouBhVkFww7EuyeivddBZrlDoW8157LvM5fc3EgDsbWa1fJien5MrYKog38AmLG-vKsiBShDkYm7bY2wX1dM053D7EldRlq23ogZyWLuTufr1AwWqw6IwAfVHCTmSyYdiDqcM2EaHp7uA.MdO06y-NG9KQaVpO4ZZQx5UZErNAGqsaIheOrl2WkK8]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6&$filter=
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Group","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"d758a069-52cc-47f6-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/41109d4c-94f8-4308-a702-0a6f541d16a4?api-version=1.6
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [1.0;]
      Duration: ['11793485']
      ocp-aad-diagnostics-server-name: [1sP0P7WxKcBID6yc4fbz9MeUVowvkTIjVOQX5YMG/jY=]
      ocp-aad-session-key: [JmkBUmhKvkEH-OeCNAXbnL4RSo-pgfrl4ubNDoMR7CaPOU_shaDJPHayz3PX_Gl3DSdPB_ingGSo2F7gb6CP87Il9yNmzvqM6ssWKm1RVSQU8ME4oYn-Qdhs7aXNRADVZVcefIgHUyDXRZDpZLp8YM6sauBkkyIfzcaum7CcjwGdeC6K04NUuwHA1n7HRx3ZKlbDGoDhAkUfRNsdM8_fjQ.mhlltQ0G6fsfwX-hzU4_V88B5c1IX8mwSx4QYhntv18]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/649c0cdc-2f45-4f78-b1d9-f555756dedba?api-version=1.6
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [1.0;]
      Duration: ['12149129']
      ocp-aad-diagnostics-server-name: [DJl/5bFSkj1cqgm9u7PtSoh9YAGkLAPecUruXCQn6TE=]
      ocp-aad-session-key: [njJm2iHZLEr7FCWeEBDNfjLMWjYHetqMGYgkQtXxVNV1MQ8WvEv2k9pcmTeXTng_zRF32wu714hTx3tXrQu6VvrLiLVnD61UKLRgTgLDxB59lSVfw6TiXIDCK32RzuStmWhNz33YkvLtjikdMd7sb3_4WDKff2j_8UsbUvxrz2vsYKg1ldnwhf1JnFqm8RlX1FcSKD_uTIWnbP9k9fIpKg.7J0h-ySRCH2ygywgtd1ktEKsMc4J1dy1wk5adRmYi3I]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
version: 1
