interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fvcr_resource_group%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['1089104']
      ocp-aad-diagnostics-server-name: [wn0oW2+d655qt7/9Qbg1fcav/2YYZ5CyKfbBrptXKVw=]
      ocp-aad-session-key: [x3ARoDhGPh5gTYHA8NI8S7WQYCcWeFbrtmAal2wMmiBwWIrUZ5nR3F1ZgRW4zKGydNHIEmY_F3DrPSz8NpY9Ok447hF0y3Mvaetqqj1AuhPcLkOHy_kcY_IvGJXT2g8y.Rj09FAF9wMMXLVeppf5Vpc37Sr7_BOFrG-W4vpWqaPY]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"availableToOtherTenants": false, "keyCredentials": [{"usage": "Verify",
      "startDate": "2017-03-14T19:39:46.86815Z", "keyId": "8c3d6504-da05-44cf-adab-e449bbb711f7",
      "endDate": "2018-03-14T19:39:46.86815Z", "value": "MIICnTCCAYUCAgPoMA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMMCUNMSS1Mb2dp\nbjAeFw0xNzAzMTQxOTM5NDZaFw0xODAzMTUyMDM5NDZaMBQxEjAQBgNVBAMMCUNM\nSS1Mb2dpbjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOks2A0F8lVs\nikvUNZBne/3FJCtzo0IfGOdsgnWTe4Ni/oJmXAU/AuxbqaD/ZC1A9Dg3179n0T1+\nTWt59Cd9H3erGT2jHMabMEi+zvvWuKySe/qjnIoU1GYFKiKXn7iEBf326RLr0OXe\nU6zleoDAaB6Iw48A+NcDqrzFXzPpUfC9Q/+ElHaINWAGFX5rk+gFY+1wY1aVAx7L\nkosLIMhV+OCW6E6Zfkfn2qUioLY/j35RCRz8Km96r3EfFdj1vYYI4KKQY8lJvcXB\n9HA6Le7tr7QaIigkrAE6Q3MZJwYvnrcSJb7dfjv/Iv3nsGj67OIsNRBI7tJX3vtc\noyBX6X38mwkCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAiVXbCIX6U8OEDKrt4yUB\nCObZxr2Fc3OTcBBKhGRkdJcujUEGHGM2bgxg+cS8qPoJSdlyF9qKHCJIsAAEHtD5\n7iLihvEvesSJQnTzdqW+8SF3dpTj+qFjECHWwQ1IYHUlRZw/rIuVMFjBFG5TljYD\nI893zCyRb60n5UH6gIVTPEciuucfVYfY3EvyHddusFzWWDosvmu3BDxHuV4No7BD\nJ9Lx3m0hUArL8ysBvYuXweOG6TrwjRrJDq4Cc+lFFdnHtkU8cRzjF7RPuL0ZtPgY\nHLLxXjq8DR4WyqkJ6PhveguHqVNfRVZv2UjXRkGHYeIu+9eKS7GtlsliEgf+ihiB\nlw==",
      "type": "AsymmetricX509Cert"}], "homepage": "http://azure-cli-2017-03-14-19-39-46",
      "identifierUris": ["http://vcr_resource_group"], "displayName": "azure-cli-2017-03-14-19-39-46"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"9913f610-d793-4bef-8ce4-917bccfe4e83","deletionTimestamp":null,"addIns":[],"appId":"6aa64abd-ee59-4b5b-ac89-7e01f49d9551","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2017-03-14-19-39-46","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2017-03-14-19-39-46","identifierUris":["http://vcr_resource_group"],"keyCredentials":[{"customKeyIdentifier":null,"endDate":"2018-03-14T19:39:46.86815Z","keyId":"8c3d6504-da05-44cf-adab-e449bbb711f7","startDate":"2017-03-14T19:39:46.86815Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"knownClientApplications":[],"logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-03-14-19-39-46 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-03-14-19-39-46","id":"f4bb7f56-379f-473d-8496-19d1d14873da","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-03-14-19-39-46 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-03-14-19-39-46","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"passwordCredentials":[],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['2825951']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/9913f610-d793-4bef-8ce4-917bccfe4e83/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [205iQVRaHUic8hjIzh3NI505cT01Msw5PmTxuGGIngo=]
      ocp-aad-session-key: [oOAmlw1I16jOvHdmZp4s_p-4F9VL_U5Qlft9HSQiKR2aPz8GZ1F873Rrjr3b8SUVgQPwuL-FkeZERD99WGQd-opyZHzZNUQ16SvoOiyNHLhu370IF4XyXJtwrCBWFzpOUqnwZRssNwDD9h_CIOZEBw.LIRLV-S1wc-fqY3TmlUjaVVe7f7_ZFnqYt33ZGePb4g]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": true, "appId": "6aa64abd-ee59-4b5b-ac89-7e01f49d9551"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"925066c2-2e50-4b0c-a4a6-54593bf000dc","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2017-03-14-19-39-46","appId":"6aa64abd-ee59-4b5b-ac89-7e01f49d9551","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2017-03-14-19-39-46","errorUrl":null,"homepage":"http://azure-cli-2017-03-14-19-39-46","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-03-14-19-39-46 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-03-14-19-39-46","id":"f4bb7f56-379f-473d-8496-19d1d14873da","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-03-14-19-39-46 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-03-14-19-39-46","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["6aa64abd-ee59-4b5b-ac89-7e01f49d9551","http://vcr_resource_group"],"servicePrincipalType":"Application","tags":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['1828040']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/925066c2-2e50-4b0c-a4a6-54593bf000dc/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [pWgRUEa9EyxMNeSzqgFNGTD0pmaGYkGw/eB4GrmQk3M=]
      ocp-aad-session-key: [yJOCCFH_WisRvxj_Ke3RK2y8DWGLv2KO8ZH364mBARg2plUUwr89znWje_OrFFNRwzpUdwD1qFG2elwM8D6Y-GXENrgQ7YPOkf0UL-uo5XgUFcAxAsw6LiReZS8QH9ty5gE5TCl27kYQsWiQlgRUNg.1iYrdh2RWMQlVO_2DSlsuwBKZJawSP8NsBMCccDvx6k]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-12-14T02:04:45.1393855Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "925066c2-2e50-4b0c-a4a6-54593bf000dc"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/462dd116-3222-4a80-a554-a531cca77060?api-version=2015-07-01
  response:
    body: {string: '{"error":{"code":"PrincipalNotFound","message":"Principal 925066c22e504b0ca4a654593bf000dc
        does not exist in the directory 54826b22-38d6-4fb2-bad9-b7b93a3e9c5a."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "925066c2-2e50-4b0c-a4a6-54593bf000dc"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/19fa2887-34be-41f7-a1c8-62454ee38bbb?api-version=2015-07-01
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"925066c2-2e50-4b0c-a4a6-54593bf000dc","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/19fa2887-34be-41f7-a1c8-62454ee38bbb","type":"Microsoft.Authorization/roleAssignments","name":"19fa2887-34be-41f7-a1c8-62454ee38bbb"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-12-14T02:04:45.1393855Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "925066c2-2e50-4b0c-a4a6-54593bf000dc"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Authorizati[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fvcr_resource_group%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fvcr_resource_group%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#direc[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%276aa64abd-ee59-4b5b-ac89-7e01f49d9551%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['997331']
      ocp-aad-diagnostics-server-name: [qA7XSPOavmEmbFd3iQ0ARImQDjsAb8tOVAfB5X9y6F0=]
      ocp-aad-session-key: [MvPtuDI32QrailpptIkuN4yme4O6QUUO155zfTn5kNsHNu2g2A5ec6Ano8Ku2RxsCatE9mWUq8oTCyOhz1Oa210UZkA3sE5CZJTMX1FzZo6xcPncbydrH9fz45zGD2jaFdfQtItKbsVZJRxWfvg-BA._pPy5kWs4PcAGHAus6ODolemS6dCvwLojWWztlpWs1k]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%276aa64abd-ee59-4b5b-ac89-7e01f49d9551%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Microsoft.DirectoryS[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/9913f610-d793-4bef-8ce4-917bccfe4e83?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"9913f610-d793-4bef-8ce4-917bccfe4e83","deletionTimestamp":null,"addIns":[],"appId":"6aa64abd-ee59-4b5b-ac89-7e01f49d9551","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2017-03-14-19-39-46","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2017-03-14-19-39-46","identifierUris":["http://vcr_resource_group"],"keyCredentials":[{"customKeyIdentifier":null,"endDate":"2018-03-14T19:39:46.86815Z","keyId":"8c3d6504-da05-44cf-adab-e449bbb711f7","startDate":"2017-03-14T19:39:46.86815Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"knownClientApplications":[],"mainLogo@odata.mediaEditLink":"directoryObjects/9913f610-d793-4bef-8ce4-917bccfe4e83/Microsoft.DirectoryServices.Application/mainLogo","logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-03-14-19-39-46 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-03-14-19-39-46","id":"f4bb7f56-379f-473d-8496-19d1d14873da","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-03-14-19-39-46 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-03-14-19-39-46","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"passwordCredentials":[],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['865304']
      ocp-aad-diagnostics-server-name: [AL3b9Lk5+zU/J02ZNIYN8FAB/5EHzR+gWgnuQq3Nn8k=]
      ocp-aad-session-key: [CcUDdkQ5E5nDOiMy8PRpPS-OpzYmMWa7lpLaynlwzmPPyEh2fezdzN9zNhzSJSGImUDB29nRnZi4Iqd_3J5VIpmUd8cXd4P7pYEUKHAzmKybdqQJNim4gGMqAbHKQo2p7vccKMhVOr_2Gfxydqv7nQ.tONwQyP2gb8F_r54X7eegQIIv0fbbwwqCEn_QGWVX7E]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fvcr_resource_group%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/9913f610-d793-4bef-8ce4-917bccfe4e83?api-version=1.6
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [1.0;]
      Duration: ['2194201']
      ocp-aad-diagnostics-server-name: [Aayfn02BXWmoObrf8UyNBW+Zp+WlFtZf+fdlUf7UDB8=]
      ocp-aad-session-key: [fNCOlYG-nNUER3PJi_yKoK5YN1Lb5ieTxUhIhs-RmS2bD3jVS9zvpXC_Ifu89SSW9YSYLXCdsIguwt5hSNmwBBxNstxRnOquiS37Fbi8D1JcrVUd1VlpqaxKMs7Z6_7MWKhPTpask6UH7fozLTMCxw.OJD1tkDZ19Xo24JBaved0cFaLPEt3GhXZb0s3XiFRUc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
version: 1
