interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/recoverableDatabases?api-version=2022-08-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"edition":"GeneralPurpose","serviceLevelObjective":"SQLDB_GP_Gen5_2","lastAvailableBackupDate":"2023-02-27T20:40:30Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/recoverableDatabases/sejagada-ae-sqldb-canary-donotdelete","name":"sejagada-ae-sqldb-canary-donotdelete","type":"Microsoft.Sql/servers/recoverableDatabases"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/recoverableDatabases/sejagada-ae-sqldb-canary-donotdelete?api-version=2022-08-01-preview
  response:
    body:
      string: '{"properties":{"edition":"GeneralPurpose","serviceLevelObjective":"SQLDB_GP_Gen5_2","lastAvailableBackupDate":"2023-02-27T20:40:30Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/recoverableDatabases/sejagada-ae-sqldb-canary-donotdelete","name":"sejagada-ae-sqldb-canary-donotdelete","type":"Microsoft.Sql/servers/recoverableDatabases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete?api-version=2022-08-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"SQLAE","version":"12.0","state":"Ready","fullyQualifiedDomainName":"sejagada-ae-sqlserver-canary-donotdelete.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"1.2","publicNetworkAccess":"Enabled","administrators":{"administratorType":"ActiveDirectory","principalType":"Group","login":"sejagada@microsoft.com","sid":"b23df537-b40a-4b82-8977-7064f2f16d9c","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"eastus2euap","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete","name":"sejagada-ae-sqlserver-canary-donotdelete","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"createMode": "Recovery", "recoverableDatabaseId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/recoverableDatabases/sejagada-ae-sqldb-canary-donotdelete"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/databases/cli-georestore1?api-version=2022-08-01-preview
  response:
    body:
      string: '{"operation":"CreateRecoverRequest","startTime":"2023-02-27T22:36:02.2Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/c913ab83-a63f-4856-9787-acd426ca9c39?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/c913ab83-a63f-4856-9787-acd426ca9c39?api-version=2022-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/c913ab83-a63f-4856-9787-acd426ca9c39?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"c913ab83-a63f-4856-9787-acd426ca9c39","status":"InProgress","startTime":"2023-02-27T22:36:02.2Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/databases/cli-georestore1?api-version=2022-08-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"649a20e9-59a9-4327-8f8d-841f3e8eafc0","creationDate":"2023-02-27T22:54:15.367Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"centraluseuap","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"availabilityZone":"NoPreference"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/servers/sejagada-ae-sqlserver-canary-donotdelete/databases/cli-georestore1","name":"cli-georestore1","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sejagada-AlwaysEncrypted/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/15cb004b-6f06-4906-8031-22ce68ec6103?api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
