interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases?api-version=2024-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"lastAvailableBackupDate":"2025-04-09T08:57:29.0000000Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/temp-managed-database-restore-2025-4-9-10-56-14","name":"temp-managed-database-restore-2025-4-9-10-56-14","type":"Microsoft.Sql/managedInstances/recoverableDatabases"},{"properties":{"lastAvailableBackupDate":"2025-04-09T08:54:59.0000000Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/temp-managed-database-restore-2025-4-9-10-52-32","name":"temp-managed-database-restore-2025-4-9-10-52-32","type":"Microsoft.Sql/managedInstances/recoverableDatabases"},{"properties":{"la[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/temp-managed-database-restore-2025-4-9-10-56-14?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"lastAvailableBackupDate":"2025-04-09T08:57:29.0000000Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/temp-managed-database-restore-2025-4-9-10-56-14","name":"temp-managed-database-restore-2025-4-9-10-56-14","type":"Microsoft.Sql/managedInstances/recoverableDatabases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance?api-version=2024-05-01-preview
  response:
    body:
      string: '{"identity":{"principalId":"56c7e4c8-c97d-45ef-ab68-5ecc90ca6cb3","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"provisioningState":"Succeeded","fullyQualifiedDomainName":"autobot-managed-instance.1e6d90da5016.database.windows.net","isGeneralPurposeV2":false,"administratorLogin":"cloudSA","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-tooling/subnets/ManagedInstance","state":"Ready","licenseType":"LicenseIncluded","hybridSecondaryUsage":"Active","vCores":4,"storageSizeInGB":64,"collation":"SQL_Latin1_General_CP1_CI_AS","dnsZone":"1e6d90da5016","publicDataEndpointEnabled":true,"proxyOverride":"Proxy","timezoneId":"UTC","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","privateEndpointConnections":[],"minimalTlsVersion":"1.2","currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","zoneRedundant":false,"administrators":{"administratorType":"ActiveDirectory","principalType":"Group","login":"autobot1@microsoft.com","sid":"c063e593-c578-45e8-b2d8-dcd90ebe5176","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","azureADOnlyAuthentication":true},"servicePrincipal":{"principalId":"e446cec4-cdcc-4b2c-a25a-484221f3b78a","clientId":"a1a94615-e426-4b00-befd-28d91fd7a95a","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"virtualClusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/virtualClusters/VirtualCluster10da01b6-db90-48f5-8444-dd591c22fe9d","externalGovernanceStatus":"Disabled","pricingModel":"Regular","createTime":"2021-09-27T23:01:13.797Z","authenticationMetadata":"AzureAD","databaseFormat":"SQLServer2022"},"location":"westcentralus","tags":{"tagKey1":"TagValue1","dfdfd":"dfdfd"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance","name":"autobot-managed-instance","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "properties": {"createMode": "Recovery",
      "recoverableDatabaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/temp-managed-database-restore-2025-4-9-10-56-14"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db4?api-version=2024-05-01-preview
  response:
    body:
      string: '{"operation":"CreateManagedRecoverRequest","startTime":"2025-04-09T10:48:15.243Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/f3888a1a-082f-4d91-bf0a-e24954a13f0d?api-version=2024-05-01-preview&t=638797924954374805&c=MIIHpTCCBo2gAwIBAgITfwTYxBKzZMhYMh8gpgAEBNjEEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjEyMjI0WhcNMjUwNzIyMjEyMjI0WjBAMT4wPAY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/f3888a1a-082f-4d91-bf0a-e24954a13f0d?api-version=2024-05-01-preview&t=638797924954374805&c=MIIHpTCCBo2gAwIBAgITfwTYxBKzZMhYMh8gpgAEBNjEEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db4?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","status":"Online","creationDate":"2025-04-09T10:49:53.417Z","defaultSecondaryLocation":"westus2","isLedgerOn":false},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db4","name":"recovered_db4","type":"Microsoft.Sql/managedInstances/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
