interactions:
- request:
    body: '{"location": "eastus2euap", "identity": {"userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pstestumi":
      {}}, "type": "SystemAssigned,UserAssigned"}, "properties": {"administratorLogin":
      "admin123", "administratorLoginPassword": "SecretPassword123", "primaryUserAssignedIdentityId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pstestumi",
      "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/servers/umitest000001?api-version=2022-08-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2023-02-27T08:39:56.943Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/deb32410-c7f3-4ff0-9941-08f98fd689d6?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/locations/eastus2euap/serverOperationResults/deb32410-c7f3-4ff0-9941-08f98fd689d6?api-version=2022-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/deb32410-c7f3-4ff0-9941-08f98fd689d6?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"deb32410-c7f3-4ff0-9941-08f98fd689d6","status":"InProgress","startTime":"2023-02-27T08:39:56.943Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/servers/umitest000001?api-version=2022-08-01-preview
  response:
    body:
      string: '{"identity":{"userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/pstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pstestumi":{"principalId":"781be676-54b8-46e5-ba30-4d9a18b13bf6","clientId":"6c97fcb9-7792-4aa9-b1e3-69d6d3857e68"}},"principalId":"4be73918-b158-4931-ab68-9249c5abe091","type":"SystemAssigned,UserAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"umitest000001.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","primaryUserAssignedIdentityId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/pstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pstestumi","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/servers/umitest000001","name":"umitest000001","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/servers/umitest000001?api-version=2022-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.Sql/servers'' with name ''umitest000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
