interactions:
- request:
    body: '{"location": "westeurope", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "minimalTlsVersion": "1.2",
      "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2024-05-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2025-04-24T16:59:13.973Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/ed3c85cb-7a90-46a6-aa07-001f7899e0b0?api-version=2024-05-01-preview&t=638811107540847721&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDE5MTMyOTU0WhcNMjUxMDE2MTMyOTU0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/ed3c85cb-7a90-46a6-aa07-001f7899e0b0?api-version=2024-05-01-preview&t=638811107540847721&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHh[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2024-05-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"1.2","publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/capabilities?include=supportedEditions&api-version=2024-05-01-preview
  response:
    body:
      string: '{"name":"West Europe","supportedServerVersions":[{"name":"12.0","supportedEditions":[{"name":"System","supportedServiceLevelObjectives":[{"id":"26e021db-f1f9-4c98-84c6-92af8ef433d7","name":"System","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"limit":30,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"performanceLevel":{"value":0.0,"unit":"DTU"},"sku":{"name":"System","tier":"System","capacity":0},"supportedLicenseTypes":[],"zoneRedundant":false,"supportedMaintenanceConfigurations":[{"name":"SQL_Default","zoneRedundant":false,"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"zonePinning":false,"supportedZones":[],"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"id":"29dd7459-4a7c-4e56-be22-f0adda49440d","name":"System0","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"lim[...]
- request:
    body: '{"location": "westeurope", "sku": {"name": "GP_Gen5_2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2024-05-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2025-04-24T17:00:29.557Z"}'[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/9b267762-9786-4870-a70e-4f2103f0865a?api-version=2024-05-01-preview&t=638811108296748917&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2024-05-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"75e4aca1-f73c-4751-b358-94dc04c084c3","creationDate":"2025-04-24T17:02:05.603Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"northeurope","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"availabilityZone":"NoPreference"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/replicationLinks?api-version=2024-05-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/40a0c8e0-0c71-4079-81cf-755e29681f40?api-version=2024-05-01-preview&t=638811109459498218&c=MIIHhzCCBm-gAwIBAgITHgbLpY5CrldwCElOhgAABsuljjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2024-05-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_S_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore,serverless","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"75e4aca1-f73c-4751-b358-94dc04c084c3","creationDate":"2025-04-24T17:02:05.603Z","currentServiceObjectiveName":"GP_S_Gen5_2","requestedServiceObjectiveName":"GP_S_Gen5_2","defaultSecondaryLocation":"northeurope","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_S_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"autoPauseDelay":60,"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","minCapacity":0.5000,"maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"availabilityZone":"NoPreference"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/9cc59b1d-a10c-433a-955e-fd5399d0ad7f?api-version=2024-05-01-preview&t=638811110288313702&c=MIIHhzCCBm-gAwIBAgITHgbLpY5CrldwCElOhgAABsuljjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/236b5c9e-42b3-4eaf-9e24-09c32bc4f352?api-version=2024-05-01-preview&t=638811110508731936&c=MIIHhzCCBm-gAwIBAgITHgbLpY5CrldwCElOhgAABsuljjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYw[...]
[...]
