interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/capabilities?api-version=2018-06-01-preview&include=supportedManagedInstanceVersions
  response:
    body:
      string: '{"name":"West Europe","supportedManagedInstanceVersions":[{"name":"12.0","supportedEditions":[{"name":"GeneralPurpose","supportedFamilies":[{"name":"Gen4","sku":"GP_Gen4","supportedLicenseTypes":[{"name":"LicenseIncluded","status":"Default"},{"name":"BasePrice","status":"Available"}],"supportedVcoresValues":[{"name":"8","value":8,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":8,"unit":"Terabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSupported":true,"standaloneSupported":true,"status":"Default"},{"name":"16","value":16,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":8,"unit":"Terabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSupported":true,"standaloneSupported":true,"status":"Available"},{"name":"24","value":24,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigaby[...]
- request:
    body: '{"properties": {"vCores": 4, "licenseType": "LicenseIncluded", "storageSizeInGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Network/virtualNetworks/MIVirtualNetwork/subnets/ManagedInsanceSubnet",
      "administratorLoginPassword": "SecretPassword123", "administratorLogin": "admin123"},
      "location": "westeurope", "sku": {"name": "GP_Gen5"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2018-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertManagedServer","startTime":"2020-08-05T15:57:13.86Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/locations/westeurope/managedInstanceAzureAsyncOperation/60dce161-9876-4e46-bb63-de6656718418?api-version=2018-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/locations/westeurope/managedInstanceOperationResults/60dce161-9876-4e46-bb63-de6656718418?api-version=2018-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/locations/westeurope/managedInstanceAzureAsyncOperation/60dce161-9876-4e46-bb63-de6656718418?api-version=2018-06-01-preview
  response:
    body:
      string: '{"name":"60dce161-9876-4e46-bb63-de6656718418","status":"InProgress","startTime":"2020-08-05T15:57:13.86Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2018-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"provisioningState":"Succeeded","fullyQualifiedDomainName":"clitestmi000001.d8521ae822c5.database.windows.net","administratorLogin":"admin123","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Network/virtualNetworks/MIVirtualNetwork/subnets/ManagedInsanceSubnet","state":"Ready","licenseType":"LicenseIncluded","vCores":4,"storageSizeInGB":128,"collation":"SQL_Latin1_General_CP1_CI_AS","dnsZone":"d8521ae822c5","publicDataEndpointEnabled":false,"timezoneId":"UTC","privateEndpointConnections":[],"storageAccountType":"GRS"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001","name":"clitestmi000001","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"collation": "Latin1_General_100_CS_AS_SC"}, "location":
      "westeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01?api-version=2020-02-02-preview
  response:
    body:
      string: '{"operation":"CreateManagedDatabase","startTime":"2020-08-06T06:40:32.377Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/managedDatabaseAzureAsyncOperation/c8f7952f-ab2f-4ec4-bd30-635baf240355?api-version=2020-02-02-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/managedDatabaseOperationResults/c8f7952f-ab2f-4ec4-bd30-635baf240355?api-version=2020-02-02-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/managedDatabaseAzureAsyncOperation/c8f7952f-ab2f-4ec4-bd30-635baf240355?api-version=2020-02-02-preview
  response:
    body:
      string: '{"name":"c8f7952f-ab2f-4ec4-bd30-635baf240355","status":"InProgress","startTime":"2020-08-06T06:40:32.377Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01?api-version=2020-02-02-preview
  response:
    body:
      string: '{"properties":{"collation":"Latin1_General_100_CS_AS_SC","status":"Online","creationDate":"2020-08-06T06:40:32.97Z","defaultSecondaryLocation":"northeurope"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/managedInstances/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"createMode": "PointInTimeRestore", "sourceDatabaseId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01",
      "restorePointInTime": "2020-08-06T06:46:19.683689Z"}, "location": "westeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/restoredcliautomationdb01?api-version=2020-02-02-preview
  response:
    body:
      string: '{"operation":"CreateManagedRestoreRequest","startTime":"2020-08-06T06:46:25.197Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/managedDatabaseAzureAsyncOperation/0a666e48-f3fa-4a30-8b5a-95fc67aa5532?api-version=2020-02-02-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/managedDatabaseOperationResults/0a666e48-f3fa-4a30-8b5a-95fc67aa5532?api-version=2020-02-02-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases?api-version=2020-02-02-preview
  response:
    body:
      string: '{"value":[{"properties":{"collation":"Latin1_General_100_CS_AS_SC","status":"Online","creationDate":"2020-08-06T06:46:26.93Z","defaultSecondaryLocation":"northeurope"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/restoredcliautomationdb01","name":"restoredcliautomationdb01","type":"Microsoft.Sql/managedInstances/databases"},{"properties":{"collation":"Latin1_General_100_CS_AS_SC","status":"Online","creationDate":"2020-08-06T06:40:32.97Z","earliestRestorePoint":"2020-08-06T06:41:31.223Z","defaultSecondaryLocation":"northeurope"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/managedInstances/databases"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01?api-version=2020-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Sql/managedInstances/clitestmi000001/databases/cliautomationdb01''
        under resource group ''v-urmila'' was not found. For more details please go
        to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/locations/westeurope/managedInstanceAzureAsyncOperation/df7a91bb-0ad1-45fd-a667-4600444c4206?api-version=2018-06-01-preview
  response:
    body:
      string: '{"name":"df7a91bb-0ad1-45fd-a667-4600444c4206","status":"Succeeded","startTime":"2020-08-06T06:47:43.94Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1