interactions:
- request:
    body: '{"location": "westeurope", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003?api-version=2022-08-01-preview
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"operation":"UpsertLogicalServer","startTime":"2023-08-30T23:46:12.79Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/d1dd4404-de0b-402d-bb3c-4e76812947c6?api-version=2022-08-01-preview
=======
      string: '{"operation":"UpsertLogicalServer","startTime":"2023-07-21T06:40:28.51Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/8048d7a4-93b3-4e6f-b508-e2b844c6e110?api-version=2022-08-01-preview
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      string: '{"operation":"UpsertLogicalServer","startTime":"2023-05-10T08:18:59.527Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/a4fcfe97-8cf2-4ead-818f-6e3394563084?api-version=2022-08-01-preview
>>>>>>> 848908e68 (check dev yaml)
      cache-control:
      - no-cache
      content-length:
      - '74'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 30 Aug 2023 23:46:12 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/d1dd4404-de0b-402d-bb3c-4e76812947c6?api-version=2022-08-01-preview
=======
      - Fri, 21 Jul 2023 06:40:29 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/8048d7a4-93b3-4e6f-b508-e2b844c6e110?api-version=2022-08-01-preview
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - Wed, 10 May 2023 08:18:58 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/a4fcfe97-8cf2-4ead-818f-6e3394563084?api-version=2022-08-01-preview
>>>>>>> 848908e68 (check dev yaml)
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-msedge-ref:
      - 'Ref A: AA6084C8354B4C6C97746877579E7DAF Ref B: CO6AA3150218053 Ref C: 2023-08-30T23:46:11Z'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/d1dd4404-de0b-402d-bb3c-4e76812947c6?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"d1dd4404-de0b-402d-bb3c-4e76812947c6","status":"InProgress","startTime":"2023-08-30T23:46:12.79Z"}'
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/a4fcfe97-8cf2-4ead-818f-6e3394563084?api-version=2022-08-01-preview
  response:
    body:
<<<<<<< HEAD
      string: '{"name":"8048d7a4-93b3-4e6f-b508-e2b844c6e110","status":"InProgress","startTime":"2023-07-21T06:40:28.51Z"}'
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      string: '{"name":"a4fcfe97-8cf2-4ead-818f-6e3394563084","status":"InProgress","startTime":"2023-05-10T08:18:59.527Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/d1dd4404-de0b-402d-bb3c-4e76812947c6?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"d1dd4404-de0b-402d-bb3c-4e76812947c6","status":"InProgress","startTime":"2023-08-30T23:46:12.79Z"}'
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/8048d7a4-93b3-4e6f-b508-e2b844c6e110?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"8048d7a4-93b3-4e6f-b508-e2b844c6e110","status":"InProgress","startTime":"2023-07-21T06:40:28.51Z"}'
>>>>>>> 33eaa297e (fix sql record yaml)
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 30 Aug 2023 23:46:14 GMT
=======
      - Fri, 21 Jul 2023 06:40:30 GMT
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003?api-version=2022-08-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000003.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003","name":"clitestserver000003","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 21 Jul 2023 06:41:36 GMT
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - Wed, 10 May 2023 08:20:06 GMT
>>>>>>> 848908e68 (check dev yaml)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-msedge-ref:
      - 'Ref A: C2DCD85276B34825AC39BC1165E0BC2C Ref B: CO6AA3150218053 Ref C: 2023-08-30T23:46:14Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003?api-version=2022-08-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000003.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"None","publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003","name":"clitestserver000003","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-azure-mgmt-storage/21.0.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-azure-mgmt-storage/21.0.0 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-azure-mgmt-storage/21.0.0 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000004?api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000004","name":"clitest000004","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2023-08-30T23:47:24.0218591Z","key2":"2023-08-30T23:47:24.0218591Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-08-30T23:47:24.0218591Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-08-30T23:47:24.0218591Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2023-08-30T23:47:23.9124901Z","primaryEndpoints":{"blob":"https://clitest000004.blob.core.windows.net/","queue":"https://clitest000004.queue.core.windows.net/","table":"https://clitest000004.table.core.windows.net/","file":"https://clitest000004.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
=======
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000004","name":"clitest000004","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2023-07-21T06:41:40.4431391Z","key2":"2023-07-21T06:41:40.4431391Z"},"privateEndpointConnections":[],"minimumT[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-azure-mgmt-storage/21.0.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-azure-mgmt-storage/21.0.0 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-azure-mgmt-storage/21.0.0 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000004/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"keys":[{"creationTime":"2023-08-30T23:47:24.0218591Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-08-30T23:47:24.0218591Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
=======
      string: '{"keys":[{"creationTime":"2023-07-21T06:41:40.4431391Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-07-21T06:41:40.4431391Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      string: '{"keys":[{"creat[...]
[...]
- request:
    body: '{"location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/d7f3d423-0712-4d8b-be64-b328d82a7e7e?api-version=2023-02-01-preview
  response:
    body:
      string: '{"name":"d7f3d423-0712-4d8[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01?api-version=2023-02-01-preview
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"d17f956b-99b0-4823-bfe3-e5524ced1b6d","creationDate":"2023-08-30T23:49:01.65Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"northeurope","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"availabilityZone":"NoPreference"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
=======
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/auditingSettings/default?api-version=2021-11-01-preview
  response:
    body:
      string: '{"properties":{"retentionDays":0,"isAzureMonitorTargetEnabled":false,"state":"Disabled","storageAccountSubscriptionId":"00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/auditingSettings/Default","name":"Default","type":"Microsoft.Sql/servers/databases/auditingSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 30 Aug 2023 23:49:12 GMT
=======
      - Fri, 21 Jul 2023 06:44:13 GMT
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - Wed, 10 May 2023 08:22:33 GMT
>>>>>>> 848908e68 (check dev yaml)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-msedge-ref:
      - 'Ref A: 78F6B1528D8744CD864ABC21E5E9A920 Ref B: CO6AA3150219011 Ref C: 2023-08-30T23:49:12Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"retentionDays": 30, "auditActionsAndGroups": ["DATABASE_LOGOUT_GROUP",
      "DATABASE_ROLE_MEMBER_CHANGE_GROUP"], "isAzureMonitorTargetEnabled": false,
      "state": "Enabled", "storageEndpoint": "https://clitest000004.blob.core.windows.net/",
      "storageAccountAccessKey": "veryFakedStorageAccountKey==", "storageAccountSubscriptionId":
      "00000000-0000-0000-0000-000000000000"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/auditingSettings/default?api-version=2021-11-01-preview
  response:
    body:
      string: '{"properties":{"retentionDays":30,"auditActionsAndGroups":["DATABASE_LOGOUT_GROUP","DATABASE_ROLE_MEMBER_CHANGE_GROUP"],"isAzureMonitorTargetEnabled":false,"isManagedIdentityInUse":false,"state":"Enabled","storageEndpoint":"https://clitest000004.blob.core.windows.net/","storageAccountSubscriptionId":"00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/auditingSettings/Default","name":"Default","type":"Microsoft.Sql/servers/databases/auditingSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 30 Aug 2023 23:49:16 GMT
=======
      - Fri, 21 Jul 2023 06:44:18 GMT
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - Wed, 10 May 2023 08:22:38 GMT
>>>>>>> 848908e68 (check dev yaml)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-msedge-ref:
      - 'Ref A: F8857E9B42CF4B10A2775AF4D25EAD60 Ref B: CO6AA3150220033 Ref C: 2023-08-30T23:49:13Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/auditingSettings/default?api-version=2021-11-01-preview
  response:
    body:
      string: '{"properties":{"retentionDays":30,"auditActionsAndGroups":["DATABASE_LOGOUT_GROUP","DATABASE_ROLE_MEMBER_CHANGE_GROUP"],"isStorageSecondaryKeyInUse":false,"isAzureMonitorTargetEnabled":false,"isManagedIdentityInUse":false,"state":"Enabled","storageEndpoint":"https://clitest000004.blob.core.windows.net/","storageAccountSubscriptionId":"00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/auditingSettings/Default","name":"Default","type":"Microsoft.Sql/servers/databases/auditingSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 30 Aug 2023 23:49:16 GMT
=======
      - Fri, 21 Jul 2023 06:44:20 GMT
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - Wed, 10 May 2023 08:22:39 GMT
>>>>>>> 848908e68 (check dev yaml)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-msedge-ref:
      - 'Ref A: C1CB05FE7927495B81485B1833A2F086 Ref B: CO6AA3150220047 Ref C: 2023-08-30T23:49:16Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-azure-mgmt-resource/22.0.0 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27clitest000005%27%20and%20%28resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20or%20resourceType%20eq%20%27Microsoft.ClassicStorage%2FstorageAccounts%27%29&api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Storage/storageAccounts/clitest000005","name":"clitest000005","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"westus","tags":{}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27clitest000005%27+and+(resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2fstorageAccounts%27)&api-version=2022-09-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiW3tcInRva2VuXCI6XCIrUklEOn5mN045QVB2UEs4WUdOQlVKQUFEQURnPT0jUlQ6MSNUUkM6NDg0I0lTVjoyI0lFTzo2NTU1MSNRQ0Y6OCNGUEM6QWdoVUpBQUFBRHNBQUFnbEFBQUFPd0FBVkNRQUFBQTdBQUFxQUFVMFFBSUFnR1FnSUtBQUZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27clitest000005%27%20and%20%28resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20or%20resourceType%20eq%20%27Microsoft.ClassicStorage/storageAccounts%27%29&api-version=2022-09-01&$skiptoken=eyJuZXh0TWFya2VyIjoiW3tcInRva2VuXCI6XCIrUklEOn5mN045QVB2UEs4WStSVFFwQUFBTUNnPT0jUlQ6MSNUUkM6MTAwMCNJU1Y6MiNJRU86NjU1NTEjUUNG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27clitest000005%27%20and%20%28resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20or%20resourceType%20eq%20%27Microsoft.ClassicStorage/storageAccounts%27%29&api-version=2022-09-01&$skiptoken=eyJuZXh0TWFya2VyIjoiW3tcInRva2VuXCI6XCIrUklEOn5mN045QVB2UEs4YVZsc1JEQUFBTUNnPT0jUlQ6MiNUUkM6MjAwMCNJU1Y6MiNJRU86NjU1NTEjUUNG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27clitest000005%27%20and%20%28resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20or%20resourceType%20eq%20%27Microsoft.ClassicStorage/storageAccounts%27%29&api-version=2022-09-01&$skiptoken=eyJuZXh0TWFya2VyIjoiW3tcInRva2VuXCI6XCIrUklEOn5mN045QVB2UEs4WUdOQlVKQUFEQURnPT0jUlQ6MSNUUkM6NDg0I0lTVjoyI0lFTzo2NTU1MSNRQ0Y6OCNGUEM6QWdoVUpBQUFBRHNBQUFnbEFBQUFPd0FBVkNRQUFBQTdBQUFxQUFVMFFBSUFnR1FnSUtBQUZCb0FBTUF3d3pCbEtuS0dNVE9RNXN6NEJRQklTQUFUQUlDL0lNd3dBd2dsQUFBQU93QUFCQUN6cmhXR1wiLFwicmFuZ2VcIjp7XCJtaW5cIjpcIjA1QzFCNzRCNEY1MzIwXCIsXCJtYXhcIjpcIjA1QzFCQkM3RTE4Q1wifX1dIn0%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
=======
      vary:
      - Accept-Encoding
>>>>>>> 33eaa297e (fix sql record yaml)
      x-content-type-options:
      - nosniff
      x-msedge-ref:
      - 'Ref A: 75FA191EC4D44928B863B3E5BA89C846 Ref B: CO6AA3150219009 Ref C: 2023-08-30T23:49:18Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-mgmt-sql/0.9.0 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-mgmt-sql/4.0.0b10 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/securityAlertPolicies/Default?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"state":"Disabled","disabledAlerts":[""],"emailAddresses":[""],"emailAccountAdmins":false,"storageEndpoint":"","storageAccountAccessKey":"","retentionDays":0,"creationTime":"0001-01-01T00:00:00Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/securityAlertPolicies/Default","name":"Default","type":"Microsoft.Sql/servers/databases/securityAlertPolicies"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Wed, 30 Aug 2023 23:49:24 GMT
=======
      - Fri, 21 Jul 2023 06:44:33 GMT
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - Wed, 10 May 2023 08:22:57 GMT
>>>>>>> 848908e68 (check dev yaml)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-msedge-ref:
      - 'Ref A: FEAFAA35863C439E87C039473014BA7A Ref B: CO6AA3150219031 Ref C: 2023-08-30T23:49:24Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - AZURECLI/2.51.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.9.13 (Windows-10-10.0.22621-SP0)
=======
      - AZURECLI/2.50.0 azsdk-python-azure-mgmt-resource/23.1.0b2 Python/3.10.6 (macOS-13.4.1-x86_64-i386-64bit)
>>>>>>> 33eaa297e (fix sql record yaml)
=======
      - AZURECLI/2.47.0 azsdk-python-azure-mgmt-resource/22.0.0 Python/3.8.10 (Windows-10-10.0.19045-SP0)
>>>>>>> 848908e68 (check dev yaml)
    method: GET
[...]
