interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases?api-version=2020-11-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"lastAvailableBackupDate":"2023-01-30T07:32:55.7530617Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/recovered_db","name":"recovered_db","type":"Microsoft.Sql/managedInstances/recoverableDatabases"},{"properties":{"lastAvailableBackupDate":"2023-01-30T07:32:55.7530617Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/temp-restore-ltr-230120-1002-4c68b107","name":"temp-restore-ltr-230120-1002-4c68b107","type":"Microsoft.Sql/managedInstances/recoverableDatabases"},{"properties":{"lastAvailableBackupDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/recovered_db?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"lastAvailableBackupDate":"2023-01-30T07:32:56.4478407Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/recovered_db","name":"recovered_db","type":"Microsoft.Sql/managedInstances/recoverableDatabases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance?api-version=2021-05-01-preview
  response:
    body:
      string: '{"identity":{"principalId":"a7c14049-a7e1-44ed-a444-48d4d762bdbf","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"provisioningState":"Succeeded","fullyQualifiedDomainName":"autobot-managed-instance.1e6d90da5016.database.windows.net","administratorLogin":"cloudSA","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-tooling/subnets/ManagedInstance","state":"Ready","licenseType":"BasePrice","vCores":8,"storageSizeInGB":6624,"collation":"SQL_Latin1_General_CP1_CI_AS","dnsZone":"1e6d90da5016","publicDataEndpointEnabled":false,"proxyOverride":"Proxy","timezoneId":"UTC","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","privateEndpointConnections":[],"minimalTlsVersion":"1.0","currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","zoneRedundant":false,"servicePrincipal":{"principalId":"a4d9797d-0855-44af-8e92-d92b616e2d82","clientId":"7cef2914-0124-4c40-8226-3ceec4b37981","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"}},"location":"westcentralus","tags":{"tagKey1":"TagValue1","dfdfd":"dfdfd"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance","name":"autobot-managed-instance","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "properties": {"createMode": "Recovery",
      "recoverableDatabaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/recovered_db"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db?api-version=2022-05-01-preview
  response:
    body:
      string: '{"operation":"CreateManagedRecoverRequest","startTime":"2023-01-30T08:33:00.697Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/5a51a857-2a56-465d-ae89-8fc8565e407c?api-version=2022-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/5a51a857-2a56-465d-ae89-8fc8565e407c?api-version=2022-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/5a51a857-2a56-465d-ae89-8fc8565e407c?api-version=2022-05-01-preview
  response:
    body:
      string: '{"name":"5a51a857-2a56-465d-ae89-8fc8565e407c","status":"InProgress","startTime":"2023-01-30T08:33:00.697Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db?api-version=2022-05-01-preview
  response:
    body:
      string: '{"properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","status":"Online","creationDate":"2023-01-30T08:33:07.213Z","defaultSecondaryLocation":"westus2"},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db","name":"recovered_db","type":"Microsoft.Sql/managedInstances/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
