interactions:
- request:
    body: '{"location": "westcentralus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2020-09-09T20:59:03.643Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/0b8f51c9-de7c-4b7f-86a5-923d22d79e8e?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/0b8f51c9-de7c-4b7f-86a5-923d22d79e8e?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/0b8f51c9-de7c-4b7f-86a5-923d22d79e8e?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"0b8f51c9-de7c-4b7f-86a5-923d22d79e8e","status":"InProgress","startTime":"2020-09-09T20:59:03.643Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2019-06-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"startIpAddress": "0.0.0.0", "endIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/firewallRules/allowAllIps?api-version=2014-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/firewallRules/allowAllIps","name":"allowAllIps","type":"Microsoft.Sql/servers/firewallRules","location":"West
        Central US","kind":"v12.0","properties":{"startIpAddress":"0.0.0.0","endIpAddress":"0.0.0.0"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      preference-applied:
      - return-content
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2020-09-09T21:00:22.62Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/041d8970-9ef8-4a29-8743-4973f41c0a77?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westcentralus/databaseOperationResults/041d8970-9ef8-4a29-8743-4973f41c0a77?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/041d8970-9ef8-4a29-8743-4973f41c0a77?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"041d8970-9ef8-4a29-8743-4973f41c0a77","status":"InProgress","startTime":"2020-09-09T21:00:22.62Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2019-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"9baf6975-ef86-4d9b-bb72-a029c6428cca","creationDate":"2020-09-09T21:00:59.917Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"westus2","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":10307502080,"earliestRestoreDate":"2020-09-09T21:30:59.917Z","readScale":"Disabled","readReplicaCount":0,"currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"storageAccountType":"GRS"},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003?api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003","name":"clitest000003","type":"Microsoft.Storage/storageAccounts","location":"westcentralus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-09-09T20:59:56.7793667Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-09-09T20:59:56.7793667Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-09-09T20:59:56.7324849Z","primaryEndpoints":{"blob":"https://clitest000003.blob.core.windows.net/","queue":"https://clitest000003.queue.core.windows.net/","table":"https://clitest000003.table.core.windows.net/","file":"https://clitest000003.file.core.windows.net/"},"primaryLocation":"westcentralus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/miaccess/providers/Microsoft.Storage/storageAccounts/adsa7m7j236i7grzg","name":"adsa7m7j236i7grzg","typ[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Sep 2020 21:03:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/bacpacs?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D85503C5E0AD00"'
      last-modified:
      - Wed, 09 Sep 2020 21:03:16 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"storageKeyType": "StorageAccessKey", "storageKey": "veryFakedStorageAccountKey==",
      "storageUri": "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac.bacpac",
      "administratorLogin": "admin123", "administratorLoginPassword": "SecretPassword123"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/export?api-version=2020-02-02-preview
  response:
    body:
      string: '{"operation":"Export","startTime":"2020-09-09T21:03:18.3820123Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/importExportAzureAsyncOperation/abf2d63a-4908-4366-80af-457476ae8860-clitestserver000002?api-version=2020-02-02-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/importExportOperationResults/abf2d63a-4908-4366-80af-457476ae8860-clitestserver000002?api-version=2020-02-02-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/importExportAzureAsyncOperation/abf2d63a-4908-4366-80af-457476ae8860-clitestserver000002?api-version=2020-02-02-preview
  response:
    body:
      string: '{"name":"abf2d63a-4908-4366-80af-457476ae8860","status":"InProgress","startTime":"2020-09-09T21:03:17Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"storageKeyType": "SharedAccessKey", "storageKey": "?se=9999-12-25T00%3A00%3A00Z&sp=rw&sv=2018-11-09&sr=b&sig=7vBiLzbwyKm/ySGZknz1BLy4ioFjUqcQcbQu/apecWY%3D",
      "storageUri": "https://clitest000003.blob.core.windows.net/bacpacs/testbacpac2.bacpac",
      "administratorLogin": "admin123", "administratorLoginPassword": "SecretPassword123"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subs[...]
[...]
