interactions:
- request:
    body: '{"location": "westeurope", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2020-10-05T16:36:15.26Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/500d2805-591b-4b74-9025-55e9a6765e11?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/500d2805-591b-4b74-9025-55e9a6765e11?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/500d2805-591b-4b74-9025-55e9a6765e11?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"500d2805-591b-4b74-9025-55e9a6765e11","status":"InProgress","startTime":"2020-10-05T16:36:15.26Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2019-06-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westeurope", "properties": {"sampleName": "AdventureWorksLT"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01?api-version=2019-06-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2020-10-05T16:37:56.027Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/effe4d6a-aae1-4603-8a21-a3c866aa040c?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseOperationResults/effe4d6a-aae1-4603-8a21-a3c866aa040c?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/effe4d6a-aae1-4603-8a21-a3c866aa040c?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"effe4d6a-aae1-4603-8a21-a3c866aa040c","status":"InProgress","startTime":"2020-10-05T16:37:56.027Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01?api-version=2019-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"66b288f5-5a74-4dfc-8249-fa4aa8047f5e","creationDate":"2020-10-05T16:38:40.243Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"northeurope","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":10307502080,"earliestRestoreDate":"2020-10-05T17:08:40.243Z","readScale":"Disabled","readReplicaCount":0,"currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"storageAccountType":"GRS"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01","name":"sensitivityclassificationsdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/currentSensitivityLabels?api-version=2017-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003?api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003","name":"clitest000003","type":"Microsoft.Storage/storageAccounts","location":"westeurope","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-10-05T16:37:29.7820556Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-10-05T16:37:29.7820556Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-10-05T16:37:29.6726749Z","primaryEndpoints":{"blob":"https://clitest000003.blob.core.windows.net/","queue":"https://clitest000003.queue.core.windows.net/","table":"https://clitest000003.table.core.windows.net/","file":"https://clitest000003.file.core.windows.net/"},"primaryLocation":"westeurope","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/securityAlertPolicies/default?api-version=2014-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/securityAlertPolicies/default","name":"default","type":"Microsoft.Sql/servers/databases/securityAlertPolicies","location":"West
        Europe","kind":null,"properties":{"useServerDefault":"Disabled","state":"Disabled","disabledAlerts":"","emailAddresses":"","emailAccountAdmins":"Disabled","storageEndpoint":"","storageAccountAccessKey":"","retentionDays":0}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/recommendedSensitivityLabels?api-version=2017-03-01-preview
  response:
    body:
      string: '{"value":[{"managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01","properties":{"schemaName":"SalesLT","tableName":"Customer","columnName":"FirstName","labelName":"Confidential
        - GDPR","labelId":"b258e133-6800-46b2-a53d-705fb5202bf3","informationType":"Name","informationTypeId":"57845286-7598-22f5-9659-15b24aeb125e","isDisabled":false,"rank":"Medium"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/schemas/SalesLT/tables/Customer/columns/FirstName/sensitivityLabels/recommended","name":"recommended","type":"Microsoft.Sql/servers/databases/sensitivityLabels"},{"managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver00[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/schemas/SalesLT/tables/Customer/columns/FirstName/sensitivityLabels/recommended/disable?api-version=2017-03-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/schemas/SalesLT/tables/Customer/columns/FirstName/sensitivityLabels/recommended/enable?api-version=2017-03-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/informationProtectionPolicies/effective?api-version=2017-08-01-preview
  response:
    body:
      string: "{\"id\":\"/providers/Microsoft.Management/managementGroups/0c1edf5d-e5c5-4aca-ab69-ef194134f44b/providers/Microsoft.Security/informationProtectionPolicies/effective\",\"name\":\"effective\",\"type\":\"Microsoft.Security/InformationProtectionPolicies\",\"properties\":{\"lastModifiedUtc\":\"2018-10-16T08:09:06.8213871Z\",\"version\":\"2.0\",\"labels\":{\"4c23b355-29c1-4b25-af75-379c66794dc0\":{\"displayName\":\"Public\",\"description\":\"Business
        data that is specifically prepared and approved for public consumption\",\"rank\":\"None\",\"order\":100,\"enabled\":true},\"841ec4b3-dddd-4db5-9c16-5d7f024e808c\":{\"displayName\":\"General\",\"description\":\"Business
        data that is not intended for public consumption. However, this can be shared
        with external partners, as required\",\"rank\":\"Low\",\"order\":200,\"enabled\":true},\"1e983b3b-9c0b-4283-87c2-c8b68d978038\":{\"displayName\":\"Confidential\",\"description\":\"Sensitive
        business data that could cause damage to the business if shared with unauthorized
        people\",\"rank\":\"Medium\",\"order\":300,\"enabled\":true},\"b258e133-6800-46b2-a53d-705fb5202bf3\":{\"displayName\":\"Confidential
        - GDPR\",\"description\":\"Sensitive data containing personal information
        associated with an individual, that could be misused in the hands of unauthorized\",\"rank\":\"Medium\",\"order\":400,\"enabled\":true},\"41cd875f-953d-48ed-943e-610f59add094\":{\"displayName\":\"Highly
        Confidential\",\"description\":\"Very sensitive business data that would cause
        damage to the business if it was shared with unauthorized people\",\"rank\":\"High\",\"order\":500,\"enabled\":true},\"e5079fe9-5ad6-456f-ba7a-9292d0fc3ef3\":{\"displayName\":\"Highly
        Confidential - GDPR\",\"description\":\"Sensitive data containing personal
        information associated with an individual, that can cause significant harm
        if misused by unauthorized people\",\"rank\":\"High\",\"order\":600,\"enabled\":true}},\"informationTypes\":{\"b40ad280-0f6a-6ca8-11ba-2f1a08651fcf\":{\"displayName\":\"Networking\",\"description\":\"Data
        related to the network domain. Example: IP, port, etc.\",\"order\":100,\"recommendedLabelId\":\"1e983b3b-9c0b-4283-87c2-c8b68d978038\",\"enabled\":true,\"keywords\":[{\"pattern\":\"ip\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"%[^h]ip%address%\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"ip%address%\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"%mac%address%\",\"custom\":false,\"canBeNumeric\":false}]},\"5c503e21-22c6-81fa-620b-f369b8ec38d1\":{\"displayName\":\"Contact
        Info\",\"description\":\"Contact data of a person. Example: address, phone,
        etc.\",\"order\":200,\"recommendedLabelId\":\"1e983b3b-9c0b-4283-87c2-c8b68d978038\",\"enabled\":true,\"keywords\":[{\"pattern\":\"%email%\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"%e-mail%\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"%addr%\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"%street%\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"%city%\",\"custom\":false,\"canBeNumeric\":false},{\"pattern\":\"%phone%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%mobile%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%area%code%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%postal%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%zip%\",\"custom\":false,\"canBeNumeric\":true}]},\"c64aba7b-3a3e-95b6-535d-3bc535da5a59\":{\"displayName\":\"Credentials\",\"description\":\"Credential
        related data. Example: username, password, etc.\",\"order\":300,\"recommendedLabelId\":\"1e983b3b-9c0b-4283-87c2-c8b68d978038\",\"enabled\":true,\"keywords\":[{\"pattern\":\"%username%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%pwd%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%password%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%reset%code%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%pass%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%user%acc%\",\"custom\":false,\"canBeNumeric\":true}]},\"d22fa6e9-5ee4-3bde-4c2b-a409604c4646\":{\"displayName\":\"Credit
        Card\",\"description\":\"Credit card related data\",\"order\":700,\"recommendedLabelId\":\"1e983b3b-9c0b-4283-87c2-c8b68d978038\",\"enabled\":true,\"keywords\":[{\"pattern\":\"%credit%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%card%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%ccn%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%debit%\",\"custom\":false,\"canBeNumeric\":true},{\"pattern\":\"%visa%\",\"custom\":false,\"canB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sensitivityclassificationsdb01/schemas/SalesLT/tables/Customer/columns/FirstName/sensitivityLabels/current?api-version=2017-03-01-preview
  response:
    body:
      string: '{"error":{"code":"SensitivityLabelsLabelNotFound","message":"The specified
        sensitivity label could not be found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
