interactions:
- request:
    body: '{"location": "westeurope", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2022-12-30T18:28:20.437Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/9de983d9-3ecd-4681-87f5-dd24a4c4f7d8?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/9de983d9-3ecd-4681-87f5-dd24a4c4f7d8?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/9de983d9-3ecd-4681-87f5-dd24a4c4f7d8?api-version=2021-02-01-preview
  response:
    body:
      string: '{"name":"9de983d9-3ecd-4681-87f5-dd24a4c4f7d8","status":"InProgress","startTime":"2022-12-30T18:28:20.437Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/capabilities?include=supportedElasticPoolEditions&api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"West Europe","supportedServerVersions":[{"name":"12.0","supportedElasticPoolEditions":[{"name":"Standard","supportedElasticPoolPerformanceLevels":[{"performanceLevel":{"value":50.0,"unit":"DTU"},"sku":{"name":"StandardPool","tier":"Standard","capacity":50},"supportedLicenseTypes":[],"maxDatabaseCount":100,"includedMaxSize":{"limit":50,"unit":"Gigabytes"},"supportedMaxSizes":[{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Default"},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":200,"unit":"Gigabytes"},"maxValue":{"limit":200,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":300,"unit":"Gigabytes"},"maxValue":{"limit":300,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":400,"unit":"Gigabytes"},"maxValue":{"limit":400,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Gigabytes"},"maxValue":{"limit":500,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"}],"supportedPerDatabaseMaxSizes":[{"minValue":{"limit":100,"unit":"Megabytes"},"maxValue":{"limit":100,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Megabytes"},"maxValue":{"limit":500,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":1,"unit":"Gigabytes"},"maxValue":{"limit":1,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":2,"unit":"Gigabytes"[...]
- request:
    body: '{"location": "westeurope", "sku": {"name": "GP_Gen5", "tier": "GeneralPurpose",
      "family": "Gen5", "capacity": 2}, "properties": {"perDatabaseSettings": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool1?api-version=2021-08-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalElasticPool","startTime":"2022-12-30T18:29:32.657Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/elasticPoolAzureAsyncOperation/5828eefc-08ab-47f4-bbc5-e7cd624b9dce?api-version=2021-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/elasticPoolOperationResults/5828eefc-08ab-47f4-bbc5-e7cd624b9dce?api-version=2021-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/elasticPoolAzureAsyncOperation/5828eefc-08ab-47f4-bbc5-e7cd624b9dce?api-version=2021-08-01-preview
  response:
    body:
      string: '{"name":"5828eefc-08ab-47f4-bbc5-e7cd624b9dce","status":"InProgress","startTime":"2022-12-30T18:29:32.657Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool1?api-version=2021-08-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"vcore,pool","properties":{"state":"Ready","creationDate":"2022-12-30T18:29:32.78Z","maxSizeBytes":34359738368,"perDatabaseSettings":{"minCapacity":0.0000,"maxCapacity":2.0000},"zoneRedundant":false,"licenseType":"LicenseIncluded","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool1","name":"cliautomationpool1","type":"Microsoft.Sql/servers/elasticPools"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
