interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2021-12-02T23:14:46.503Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/780d5ba9-7dbf-48a9-b2c2-777c56bc6001?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/serverOperationResults/780d5ba9-7dbf-48a9-b2c2-777c56bc6001?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/780d5ba9-7dbf-48a9-b2c2-777c56bc6001?api-version=2021-02-01-preview
  response:
    body:
      string: '{"name":"780d5ba9-7dbf-48a9-b2c2-777c56bc6001","status":"InProgress","startTime":"2021-12-02T23:14:46.503Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus2euap/capabilities?include=supportedEditions&api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"East US 2 EUAP","supportedServerVersions":[{"name":"12.0","supportedEditions":[{"name":"System","supportedServiceLevelObjectives":[{"id":"26e021db-f1f9-4c98-84c6-92af8ef433d7","name":"System","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"limit":30,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"performanceLevel":{"value":0.0,"unit":"DTU"},"sku":{"name":"System","tier":"System","capacity":0},"supportedLicenseTypes":[],"zoneRedundant":true,"supportedMaintenanceConfigurations":[{"name":"SQL_Default","zoneRedundant":true,"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"id":"29dd7459-4a7c-4e56-be22-f0adda49440d","name":"System0","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible"[...]
- request:
    body: '{"location": "eastus2euap", "sku": {"name": "HS_Gen5_2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/nonZrDb1?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2021-12-02T23:17:07.803Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/86590fcc-3042-4aa1-8c82-7188cb3e3632?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/86590fcc-3042-4aa1-8c82-7188cb3e3632?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/86590fcc-3042-4aa1-8c82-7188cb3e3632?api-version=2021-02-01-preview
  response:
    body:
      string: '{"name":"86590fcc-3042-4aa1-8c82-7188cb3e3632","status":"InProgress","startTime":"2021-12-02T23:17:07.803Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/nonZrDb1?api-version=2021-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"HS_Gen5","tier":"Hyperscale","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore,hyperscale","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":-1,"status":"Online","databaseId":"c279ffe9-f653-4c39-b075-09e2da3ff623","creationDate":"2021-12-02T23:21:40.23Z","currentServiceObjectiveName":"HS_Gen5_2","requestedServiceObjectiveName":"HS_Gen5_2","defaultSecondaryLocation":"centraluseuap","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","earliestRestoreDate":"2021-12-02T23:21:40.23Z","readScale":"Enabled","highAvailabilityReplicaCount":1,"currentSku":{"name":"HS_Gen5","tier":"Hyperscale","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/nonZrDb1","name":"nonZrDb1","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"createMode": "Secondary", "sourceDatabaseId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/nonZrDb1",
      "zoneRedundant": true, "requestedBackupStorageRedundancy": "Zone"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/servers/clitestserver000004/databases/priNonZrTrueParamDb?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"CreateDatabaseAsCopy","startTime":"2021-12-02T23:21:44.967Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/e25d959c-f3ca-4f3e-b00f-483f87604589?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/e25d959c-f3ca-4f3e-b00f-483f87604589?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/servers/clitestserver000004/databases/priNonZrTrueParamDb?api-version=2021-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"HS_Gen5","tier":"Hyperscale","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore,hyperscale","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":-1,"status":"Online","databaseId":"d577de8b-c05b-4643-958a-35aa6eb5351f","creationDate":"2021-12-02T23:27:24.59Z","currentServiceObjectiveName":"HS_Gen5_2","requestedServiceObjectiveName":"HS_Gen5_2","defaultSecondaryLocation":"centraluseuap","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":true,"licenseType":"LicenseIncluded","earliestRestoreDate":"2021-12-02T23:27:24.59Z","readScale":"Enabled","highAvailabilityReplicaCount":1,"secondaryType":"Geo","currentSku":{"name":"HS_Gen5","tier":"Hyperscale","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Zone","requestedBackupStorageRedundancy":"Zone","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/servers/clitestserver000004/databases/priNonZrTrueParamDb","name":"priNonZrTrueParamDb","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "sku": {"name": "HS_Gen5_2"}, "properties":
      {"zoneRedundant": true, "requestedBackupStorageRedundancy": "Zone"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/zrDb1?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2021-12-02T23:27:53.113Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/6a11401a-c4af-4c04-b4ad-ea08b9cd42a0?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/6a11401a-c4af-4c04-b4ad-ea08b9cd42a0?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"createMode": "Secondary", "sourceDatabaseId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/zrDb1",
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/servers/clitestserver000004/databases/priZrFalseParamDb?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"CreateDatabaseAsCopy","startTime":"2021-12-02T23:32:15.017Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/3145a046-679f-4310-b1ef-81144f0fbf6b?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000003/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/3145a046-679f-4310-b1ef-81144f0fbf6b?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
