interactions:
- request:
    body: '{"location": "eastus2euap", "identity": {"userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pstestumi":
      {}}, "type": "SystemAssigned,UserAssigned"}, "properties": {"administratorLogin":
      "admin123", "administratorLoginPassword": "SecretPassword123", "minimalTlsVersion":
      "1.2", "primaryUserAssignedIdentityId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pstestumi",
      "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/servers/umitest000001?api-version=2023-05-01-preview
  response:
    body:
      string: '{"error":{"code":"LinkedAuthorizationFailed","message":"The client
        has permission to perform action ''Microsoft.ManagedIdentity/userAssignedIdentities/assign/action''
        on scope ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstest/providers/Microsoft.Sql/servers/umitest000001'',
        however the current tenant ''54826b22-38d6-4fb2-bad9-b7b93a3e9c5a'' is not
        authorized to access linked subscription ''2c647056-bab2-4175-b172-493ff049eb29''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 403
      message: Forbidden
version: 1
