interactions:
- request:
    body: '{"properties": {"weeklyRetention": "P1W", "monthlyRetention": "P1M", "yearlyRetention":
      "P2M", "weekOfYear": 12}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-urmila/providers/Microsoft.Sql/managedInstances/v-urmila-mi-test/databases/ReportServer/backupLongTermRetentionPolicies/default?api-version=2018-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''v-urmila'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
