interactions:
- request:
    body: '{"location": "eastus2", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2019-10-13T13:46:10.42Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/e944c157-e6b5-468f-a550-4c20ba048420?api-version=2015-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/e944c157-e6b5-468f-a550-4c20ba048420?api-version=2015-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/e944c157-e6b5-468f-a550-4c20ba048420?api-version=2015-05-01-preview
  response:
    body:
      string: '{"name":"e944c157-e6b5-468f-a550-4c20ba048420","status":"InProgress","startTime":"2019-10-13T13:46:10.42Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2019-10-13T13:47:02.95Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseAzureAsyncOperation/0acb0ceb-d886-4e2e-aba7-f7abe2c5d84a?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseOperationResults/0acb0ceb-d886-4e2e-aba7-f7abe2c5d84a?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseAzureAsyncOperation/0acb0ceb-d886-4e2e-aba7-f7abe2c5d84a?api-version=2017-10-01-preview
  response:
    body:
      string: '{"name":"0acb0ceb-d886-4e2e-aba7-f7abe2c5d84a","status":"InProgress","startTime":"2019-10-13T13:47:02.95Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"29aa1319-3cfd-426b-89b8-31dc997c9674","creationDate":"2019-10-13T13:47:31.153Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"centralus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":10307502080,"earliestRestoreDate":"2019-10-13T14:17:31.153Z","readScale":"Disabled","readReplicaCount":0,"currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2}},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases?api-version=2017-10-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"29aa1319-3cfd-426b-89b8-31dc997c9674","creationDate":"2019-10-13T13:47:31.153Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"centralus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":10307502080,"earliestRestoreDate":"2019-10-13T14:17:31.153Z","readScale":"Disabled","readReplicaCount":0,"currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2}},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"},{"sku":{"name":"System","tier":"System","capacity":0},"kind":"v12.0,system","managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":32212254720,"status":"Online","databaseId":"e3c7862e-91bf-4750-b984-9035163be969","creationDate":"2019-10-13T13:46:39.857Z","currentServiceObjectiveName":"System2","requestedServiceObjectiveName":"System2","defaultSecondaryLocation":"centralus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"readScale":"Disabled","readReplicaCount":0,"currentSku":{"name":"System","tier":"System","capacity":0}},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/master","name":"master","type":"Microsoft.Sql/servers/databases"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/usages?api-version=2014-04-01
  response:
    body:
      string: '{"value":[{"name":"database_size","resourceName":"cliautomationdb01","displayName":"Database
        Size","currentValue":4194304.0,"limit":34359738368.0,"unit":"Bytes","nextResetTime":null},{"name":"database_allocated_size","resourceName":"cliautomationdb01","displayName":"Database
        Allocated Size","currentValue":16777216.0,"limit":34359738368.0,"unit":"Bytes","nextResetTime":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {"key1": "value1"}, "sku": {"name": "S1"},
      "properties": {"collation": "SQL_Latin1_General_CP1_CI_AS", "maxSizeBytes":
      10737418240, "catalogCollation": "SQL_Latin1_General_CP1_CI_AS", "zoneRedundant":
      false, "licenseType": "LicenseIncluded", "readScale": "Disabled", "readReplicaCount":
      0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"UpdateLogicalDatabase","startTime":"2019-10-13T13:47:45.563Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseAzureAsyncOperation/3f30f5ef-1b30-4a6b-8db3-75f5eb09bd22?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseOperationResults/3f30f5ef-1b30-4a6b-8db3-75f5eb09bd22?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"location": "eastus2", "tags": {"key1": "value1", "key2": "value2"}, "sku":
      {"name": "Standard", "tier": "Standard", "capacity": 20}, "properties": {"collation":
      "SQL_Latin1_General_CP1_CI_AS", "maxSizeBytes": 10737418240, "catalogCollation":
      "SQL_Latin1_General_CP1_CI_AS", "zoneRedundant": false, "readScale": "Disabled",
      "readReplicaCount": 0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"UpdateLogicalDatabase","startTime":"2019-10-13T13:49:07.03Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseAzureAsyncOperation/a815cd35-2790-4e3c-a0fe-d2bb3c7bea2a?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseOperationResults/a815cd35-2790-4e3c-a0fe-d2bb3c7bea2a?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: 'b''b\''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02"}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/move?api-version=2017-10-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
