interactions:
- request:
    body: '{"location": "eastus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "administrators": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2021-07-14T19:07:32.497Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/2d1d7e1a-b8ce-4e2e-a5bd-4815ae5bf4f7?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/serverOperationResults/2d1d7e1a-b8ce-4e2e-a5bd-4815ae5bf4f7?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/2d1d7e1a-b8ce-4e2e-a5bd-4815ae5bf4f7?api-version=2021-02-01-preview
  response:
    body:
      string: '{"name":"2d1d7e1a-b8ce-4e2e-a5bd-4815ae5bf4f7","status":"InProgress","startTime":"2021-07-14T19:07:32.497Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/outboundFirewallRules/testOBFR1?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalServerOutboundFirewallRule","startTime":"2021-07-14T19:08:39.587Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesAzureAsyncOperation/310fddf8-07ce-4bc6-9e4b-a4a8c03e46ea?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesOperationResults/310fddf8-07ce-4bc6-9e4b-a4a8c03e46ea?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesAzureAsyncOperation/310fddf8-07ce-4bc6-9e4b-a4a8c03e46ea?api-version=2021-02-01-preview
  response:
    body:
      string: '{"name":"310fddf8-07ce-4bc6-9e4b-a4a8c03e46ea","status":"Succeeded","startTime":"2021-07-14T19:08:39.587Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/outboundFirewallRules/testOBFR1?api-version=2021-02-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Ready"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/outboundFirewallRules/testOBFR1","name":"testOBFR1","type":"Microsoft.Sql/servers/outboundFirewallRules"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/outboundFirewallRules?api-version=2021-02-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"provisioningState":"Ready"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/outboundFirewallRules/testOBFR1","name":"testOBFR1","type":"Microsoft.Sql/servers/outboundFirewallRules"},{"properties":{"provisioningState":"Ready"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/outboundFirewallRules/testOBFR2","name":"testOBFR2","type":"Microsoft.Sql/servers/outboundFirewallRules"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
