interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages?api-version=2020-11-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"displayName":"Regional Server Quota for westus","currentValue":1.0,"limit":20.0,"unit":"Count"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages/ServerQuota","name":"ServerQuota","type":"Microsoft.Sql/locations/usages"},{"properties":{"displayName":"Free
        Database Count per Subscription for westus","currentValue":0.0,"limit":1.0,"unit":"Count"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages/SubscriptionFreeDatabaseCount","name":"SubscriptionFreeDatabaseCount","type":"Microsoft.Sql/locations/usages"},{"properties":{"displayName":"Free
        to Basic Database Upgrade count-down in westus","currentValue":365.0,"limit":365.0,"unit":"Count"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages/SubscriptionFreeDatabaseDaysLeft","name":"SubscriptionFreeDatabaseDaysLeft","type":"Microsoft.Sql/locations/usages"},{"properties":{"displayName":"Subnet
        Quota","currentValue":0.0,"limit":0.0,"unit":"Count"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages/SubnetQuota","name":"SubnetQuota","type":"Microsoft.Sql/locations/usages"},{"properties":{"displayName":"VCore
        Quota","currentValue":0.0,"limit":0.0,"unit":"Count"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages/VCoreQuota","name":"VCoreQuota","type":"Microsoft.Sql/locations/usages"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages/ServerQuota?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"displayName":"Regional Server Quota for westus","currentValue":1.0,"limit":20.0,"unit":"Count"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/usages/ServerQuota","name":"ServerQuota","type":"Microsoft.Sql/locations/usages"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
