interactions:
- request:
    body: '{"properties": {"weeklyRetention": "P1W", "monthlyRetention": "P1M", "yearlyRetention":
      "P2M", "weekOfYear": 12}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/databases/a-reneamoso-qpi-testing/backupLongTermRetentionPolicies/default?api-version=2020-11-01-preview
  response:
    body:
      string: '{"operation":"UpsertDatabaseBackupArchivalPolicyV2","startTime":"2022-10-06T13:09:27.637Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionPolicyAzureAsyncOperation/947c805d-2ccf-4d1b-b535-7af07be31e9f?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionPolicyOperationResults/947c805d-2ccf-4d1b-b535-7af07be31e9f?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionPolicyAzureAsyncOperation/947c805d-2ccf-4d1b-b535-7af07be31e9f?api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"947c805d-2ccf-4d1b-b535-7af07be31e9f","status":"Succeeded","startTime":"2022-10-06T13:09:27.637Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/databases/a-reneamoso-qpi-testing/backupLongTermRetentionPolicies/default?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"weeklyRetention":"P1W","monthlyRetention":"P1M","yearlyRetention":"P2M","weekOfYear":12},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/databases/a-reneamoso-qpi-testing/backupLongTermRetentionPolicies/default","name":"default","type":"Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionBackups?api-version=2021-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionBackups?api-version=2021-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionBackups?api-version=2021-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionBackups?api-version=2021-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups?api-version=2021-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups?api-version=2021-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups?onlyLatestPerDatabase=true&api-version=2021-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963%3B133092794570000000?api-version=2021-05-01-preview
  response:
    body:
      string: '{"properties":{"serverName":"mi-tooling-server","serverCreateTime":"2021-10-28T12:52:34.293Z","databaseName":"a-reneamoso-qpi-testing","backupTime":"2022-10-03T14:04:17Z","backupExpirationTime":"2022-11-02T14:04:17Z","backupStorageRedundancy":"Geo"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","name":"c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000","type":"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/databases/cli-restore-ltr?api-version=2022-02-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server?api-version=2021-02-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"cloudSA","version":"12.0","state":"Ready","fullyQualifiedDomainName":"mi-tooling-server.database.windows.net","privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/privateEndpointConnections/endpoint2-c25ef420-64c6-4476-a3fd-10bcb4007f6e","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/privateEndpoints/endpoint2"},"groupIds":["sqlServer"],"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved","actionsRequired":"None"},"provisioningState":"Ready"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/privateEndpointConnections/PE_6d7ba9ed-459d-450e-a282-0666c2cb740d_testsync-52cbcfc4-7cf3-4166-b15d-e3e58f3cbe9c","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Networking/providers/Microsoft.Network/privateEndpoints/PE_6d7ba9ed-459d-450e-a282-0666c2cb740d_testsync"},"grou[...]
- request:
    body: '{"location": "westcentralus", "properties": {"createMode": "RestoreLongTermRetentionBackup",
      "longTermRetentionBackupResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/mi-tooling-server/longTermRetentionDatabases/a-reneamoso-qpi-testing/longTermRetentionBackups/c39f6e17-90ff-4ea9-9c2b-cdcb81457963;133092794570000000"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/eee8b3a3-17bf-49e2-a2bc-d6881e72bf4a?api-version=2022-02-01-preview
  response:
    body:
      string: '{"name":"eee8b3a3-17bf-49e2-a2bc-d6881e72bf4a","status":"InProgress","startTime":"2022-10-06T13:09:54.53Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/databases/cli-restore-ltr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"131474a8-3e99-42ec-ae92-5a4f5b7d96fc","creationDate":"2022-10-06T13:15:52.07Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"westus2","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/servers/mi-tooling-server/databases/cli-restore-ltr","name":"cli-restore-ltr","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionBackupAzureAsyncOperation/1ffbd247-4820-4f98-82a6-d407be58c0e8?api-version=2021-05-01-preview
  response:
    body:
      string: '{"name":"1ffbd247-4820-4f98-82a6-d407be58c0e8","status":"Succeeded","startTime":"2022-10-06T13:16:33.277Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
