interactions:
- request:
    body: '{"location": "eastus2", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "administrators": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2021-06-28T21:58:18.997Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/74e54699-f9ae-4d84-8f61-b121973afdcf?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/74e54699-f9ae-4d84-8f61-b121973afdcf?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/74e54699-f9ae-4d84-8f61-b121973afdcf?api-version=2021-02-01-preview
  response:
    body:
      string: '{"name":"74e54699-f9ae-4d84-8f61-b121973afdcf","status":"InProgress","startTime":"2021-06-28T21:58:18.997Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2021-02-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus2/capabilities?include=supportedElasticPoolEditions&api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"East US 2","supportedServerVersions":[{"name":"12.0","supportedElasticPoolEditions":[{"name":"Standard","supportedElasticPoolPerformanceLevels":[{"performanceLevel":{"value":50.0,"unit":"DTU"},"sku":{"name":"StandardPool","tier":"Standard","capacity":50},"supportedLicenseTypes":[],"maxDatabaseCount":100,"includedMaxSize":{"limit":50,"unit":"Gigabytes"},"supportedMaxSizes":[{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Default"},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":200,"unit":"Gigabytes"},"maxValue":{"limit":200,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":300,"unit":"Gigabytes"},"maxValue":{"limit":300,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":400,"unit":"Gigabytes"},"maxValue":{"limit":400,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Gigabytes"},"maxValue":{"limit":500,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"}],"supportedPerDatabaseMaxSizes":[{"minValue":{"limit":100,"unit":"Megabytes"},"maxValue":{"limit":100,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Megabytes"},"maxValue":{"limit":500,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":1,"unit":"Gigabytes"},"maxValue":{"limit":1,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":2,"unit":"Gigabytes"[...]
- request:
    body: '{"location": "eastus2", "sku": {"name": "StandardPool", "tier": "Standard",
      "capacity": 1200}, "properties": {"maxSizeBytes": 1288490188800, "perDatabaseSettings":
      {"minCapacity": 10.0, "maxCapacity": 50.0}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01?api-version=2020-11-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalElasticPool","startTime":"2021-06-28T21:59:28.35Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/elasticPoolAzureAsyncOperation/c1580204-e27e-45a9-ab4a-116f2afd9499?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/elasticPoolOperationResults/c1580204-e27e-45a9-ab4a-116f2afd9499?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/elasticPoolAzureAsyncOperation/c1580204-e27e-45a9-ab4a-116f2afd9499?api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"c1580204-e27e-45a9-ab4a-116f2afd9499","status":"InProgress","startTime":"2021-06-28T21:59:28.35Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01?api-version=2020-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"StandardPool","tier":"Standard","capacity":1200},"kind":"pool","properties":{"state":"Ready","creationDate":"2021-06-28T21:59:28.443Z","maxSizeBytes":1288490188800,"perDatabaseSettings":{"minCapacity":10.0,"maxCapacity":50.0},"zoneRedundant":false,"maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01","name":"cliautomationpool01","type":"Microsoft.Sql/servers/elasticPools"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools?api-version=2020-11-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"StandardPool","tier":"Standard","capacity":1200},"kind":"pool","properties":{"state":"Ready","creationDate":"2021-06-28T21:59:28.443Z","maxSizeBytes":1288490188800,"perDatabaseSettings":{"minCapacity":10.0,"maxCapacity":50.0},"zoneRedundant":false,"maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01","name":"cliautomationpool01","type":"Microsoft.Sql/servers/elasticPools"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {"key1": "value1"}, "sku": {"name": "StandardPool",
      "tier": "Standard", "capacity": 50}, "properties": {"maxSizeBytes": 53687091200,
      "perDatabaseSettings": {"minCapacity": 10.0, "maxCapacity": 50.0}, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01?api-version=2020-11-01-preview
  response:
    body:
      string: '{"operation":"UpdateLogicalElasticPool","startTime":"2021-06-28T22:00:16.56Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/elasticPoolAzureAsyncOperation/a2ccf766-649d-42d1-a2a8-64608c16c73e?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/elasticPoolOperationResults/a2ccf766-649d-42d1-a2a8-64608c16c73e?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool02?api-version=2020-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"vcore,pool","properties":{"state":"Ready","creationDate":"2021-06-28T22:02:08.73Z","maxSizeBytes":34359738368,"perDatabaseSettings":{"minCapacity":0.0000,"maxCapacity":2.0000},"zoneRedundant":false,"licenseType":"LicenseIncluded","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool02","name":"cliautomationpool02","type":"Microsoft.Sql/servers/elasticPools"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "properties": {"elasticPoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02?api-version=2021-02-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2021-06-28T22:02:57.887Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseAzureAsyncOperation/aea905d5-f836-4d2e-a5d1-2153d4371bc9?api-version=2021-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseOperationResults/aea905d5-f836-4d2e-a5d1-2153d4371bc9?api-version=2021-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus2/databaseAzureAsyncOperation/aea905d5-f836-4d2e-a5d1-2153d4371bc9?api-version=2021-02-01-preview
  response:
    body:
      string: '{"name":"aea905d5-f836-4d2e-a5d1-2153d4371bc9","status":"Succeeded","startTime":"2021-06-28T22:02:57.887Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02?api-version=2021-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"ElasticPool","tier":"Standard","capacity":0},"kind":"v12.0,user,pool","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":268435456000,"elasticPoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01","status":"Online","databaseId":"96d9fe57-3410-4e0b-a161-d32f08d87f81","creationDate":"2021-06-28T22:03:04.997Z","currentServiceObjectiveName":"ElasticPool","requestedServiceObjectiveName":"ElasticPool","defaultSecondaryLocation":"centralus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"readScale":"Disabled","currentSku":{"name":"ElasticPool","tier":"Standard","capacity":0},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02","name":"cliautomationdb02","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02?api-version=2021-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"ElasticPool","tier":"GeneralPurpose","capacity":0},"kind":"v12.0,user,vcore,pool","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":268435456000,"elasticPoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool02","status":"Online","databaseId":"96d9fe57-3410-4e0b-a161-d32f08d87f81","creationDate":"2021-06-28T22:03:04.997Z","currentServiceObjectiveName":"ElasticPool","requestedServiceObjectiveName":"ElasticPool","defaultSecondaryLocation":"centralus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"maxLogSizeBytes":80530636800,"readScale":"Disabled","currentSku":{"name":"ElasticPool","tier":"GeneralPurpose","capacity":0},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb02","name":"cliautomationdb02","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/elasticPools/cliautomationpool01/databases?api-version=2021-02-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"ElasticPool","tier":"Standard","capacity":0},"kind":"v12.0,user,pool","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSize[...]
[...]
