interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-07-15T22:35:40Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-07-15T22:35:40Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestRouteTable\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable\",\r\n
        \ \"etag\": \"W/\\\"045be738-e3bb-4c83-89e5-663a1ffea04f\\\"\",\r\n  \"type\":
        \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"f92ea6f3-9878-459c-a4f1-ec91863a2c50\",\r\n
        \   \"disableBgpRoutePropagation\": false,\r\n    \"routes\": []\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0c26a6f2-0124-4810-a659-c2e151c0e2b7?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0c26a6f2-0124-4810-a659-c2e151c0e2b7?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "0.0.0.0/0", "nextHopType": "Internet"},
      "name": "default"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/default?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/default\",\r\n
        \ \"etag\": \"W/\\\"3d66cb53-dafb-42b9-8269-7dbdef0586a0\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"0.0.0.0/0\",\r\n
        \   \"nextHopType\": \"Internet\"\r\n  },\r\n  \"type\": \"Microsoft.Network/routeTables/routes\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4a4d3562-a738-45ea-91b7-f9e80a9e3241?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "nextHopType": "VnetLocal"},
      "name": "subnet_to_vnet_local"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/subnet_to_vnet_local?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet_to_vnet_local\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/subnet_to_vnet_local\",\r\n
        \ \"etag\": \"W/\\\"0338ac2c-8d1c-45c4-ba89-a798116ab338\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"nextHopType\": \"VnetLocal\"\r\n  },\r\n  \"type\": \"Microsoft.Network/routeTables/routes\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/edfd59e0-7ebf-44fa-9576-5c9d07b751a2?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestVnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet\",\r\n
        \ \"etag\": \"W/\\\"4c7fbb31-ffef-4598-ba14-1ec2fb50e0ef\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"d7b3700a-a7bf-4370-9a21-7961b1ad944d\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0c0c2ff6-a448-4474-9770-3b0f0a9fe70b?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet",
      "location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24", "routeTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable",
      "location": "westus", "properties": {"routes": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/default",
      "properties": {"addressPrefix": "0.0.0.0/0", "nextHopType": "Internet", "provisioningState":
      "Succeeded"}, "name": "[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet/subnets/vcCliTestSubnet?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestSubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet/subnets/vcCliTestSubnet\",\r\n
        \ \"etag\": \"W/\\\"2544d25e-ecf8-4820-8e0e-6bf6c57125ac\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"routeTable\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable\"\r\n
        \   },\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\":
        \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2544d25e-ecf8-4820-8e0e-6bf6c57125ac"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/capabilities?include=supportedManagedInstanceVersions&api-version=2017-10-01-preview
  response:
    body:
      string: '{"name":"West US","supportedManagedInstanceVersions":[{"name":"12.0","supportedEditions":[{"name":"GeneralPurpose","supportedFamilies":[{"name":"Gen4","sku":"GP_Gen4","supportedLicenseTypes":[{"name":"LicenseIncluded","status":"Default"},{"name":"BasePrice","status":"Available"}],"supportedVcoresValues":[{"name":"8","value":8,"status":"Default"},{"name":"16","value":16,"status":"Available"},{"name":"24","value":24,"status":"Available"}],"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":8,"unit":"Terabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"status":"Available"},{"name":"Gen5","sku":"GP_Gen5","supportedLicenseTypes":[{"name":"LicenseIncluded","status":"Default"},{"name":"BasePrice","status":"Available"}],"supportedVcoresValues":[{"name":"2","value":2,"status":"Available"},{"name":"4","value":4,"status":"Available"},{"name":"8","value":8,"status":"Default"},{"name":"16","value":16,"status":"Available"},{"name":"24","value":24,"status":"Available"},{"name":"32","value":32,"status[...]
- request:
    body: 'b''{"location": "westus", "identity": {"type": "SystemAssigned"}, "sku":
      {"name": "GP_Gen5"}, "properties": {"administratorLogin": "admin123", "administratorLoginPassword":
      "SecretPassword123", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet/subnets/vcCliTestSubnet",
      "licenseType": "LicenseIncluded", "vCores": 8, "storageSizeInGB": 32, "collation":
      "Serbian_Cyrillic_100_CS_AS", "publicDataEndpointEnabled": true, "proxyOverride":
      "Proxy"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002?api-version=2015-05-01-preview
  response:
    body:
      string: '{"operation":"UpsertManagedServer","startTime":"2019-07-15T22:37:43.39Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/locations/westus/managedInstanceAzureAsyncOperation/d81612bb-b122-494f-bcdd-4093a2d85e85?api-version=2015-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/locations/westus/managedInstanceOperationResults/d81612bb-b122-494f-bcdd-4093a2d85e85?api-version=2015-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/locations/westus/managedInstanceAzureAsyncOperation/d81612bb-b122-494f-bcdd-4093a2d85e85?api-version=2015-05-01-preview
  response:
    body:
      string: '{"name":"d81612bb-b122-494f-bcdd-4093a2d85e85","status":"InProgress","startTime":"2019-07-15T22:37:43.39Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002?api-version=2015-05-01-preview
  response:
    body:
      string: '{"identity":{"principalId":"eb4355d5-237e-4259-a390-573413297b27","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"fullyQualifiedDomainName":"clitestmi000002.d6ca04340afd.database.windows.net","administratorLogin":"admin123","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet/subnets/vcCliTestSubnet","state":"Ready","licenseType":"LicenseIncluded","vCores":8,"storageSizeInGB":32,"collation":"Serbian_Cyrillic_100_CS_AS","dnsZone":"d6ca04340afd","publicDataEndpointEnabled":true,"proxyOverride":"Proxy","timezoneId":"UTC"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002","name":"clitestmi000002","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"collation": "Serbian_Cyrillic_100_CS_AS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/databases/sqltdebyok000003?api-version=2017-03-01-preview
  response:
    body:
      string: '{"operation":"CreateManagedDatabase","startTime":"2019-07-16T02:56:44.477Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/managedDatabaseAzureAsyncOperation/d7d5166a-d09b-482d-9246-278f1d23a973?api-version=2017-03-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/managedDatabaseOperationResults/d7d5166a-d09b-482d-9246-278f1d23a973?api-version=2017-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/managedDatabaseAzureAsyncOperation/d7d5166a-d09b-482d-9246-278f1d23a973?api-version=2017-03-01-preview
  response:
    body:
      string: '{"name":"d7d5166a-d09b-482d-9246-278f1d23a973","status":"InProgress","startTime":"2019-07-16T02:56:44.477Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/databases/sqltdebyok000003?api-version=2017-03-01-preview
  response:
    body:
      string: '{"properties":{"collation":"Serbian_Cyrillic_100_CS_AS","status":"Online","creationDate":"2019-07-16T02:56:49.337Z","defaultSecondaryLocation":"eastus"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/databases/sqltdebyok000003","name":"sqltdebyok000003","type":"Microsoft.Sql/managedInstances/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"a24e8f98-32de-4b91-98dc-6c2ea446e791","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["c4801e8a-cb58-4c35-aca6-f2dcc106f287","0898bdbb-73b0-471a-81e5-20f1fe4dd66e","617b097b-4b93-4ede-83de-5f075bb5fb2f","4a51bca5-1eff-43f5-878c-177680f191af","efb0351d-3b08-4503-993d-383af8de41e3","5136a095-5cf0-4aff-bec3-e84448b38ea5","33c4f319-9bdd-48d6-9c4d-410b750a4a5a","4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":["39b5c996-467e-4e60-bd62-46066f572726"],"skuId":"90d8b3f8-712e-4f7b-aa1e-62e7ae6cbe96"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":[],"skuId":"dcb1a3ae-b33f-4487-846a-a640262fadf4"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"}],"assignedPlans":[{"assignedTimestamp":"2019-06-19T18:49:54Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2019-06-19T18:49:54Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2019-06-19T18:49:54Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assignedTimestamp":"2019-06-19T18:49:54Z","capabilityStatus":"Enabled","service":"MicrosoftOffice","servicePlanId":"fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"}[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "a24e8f98-32de-4b91-98dc-6c2ea446e791",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.KeyVault/vaults/sqltdebyok000005?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.KeyVault/vaults/sqltdebyok000005","name":"sqltdebyok000005","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"a24e8f98-32de-4b91-98dc-6c2ea446e791","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://sqltdebyok000005.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "a24e8f98-32de-4b91-98dc-6c2ea446e791",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sqltdebyok000005.vault.azure.net/keys/sqltdebyok000006/create?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sqltdebyok000005.vault.azure.net/keys/sqltdebyok000006/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://sqltdebyok000005.vault.azure.net/keys/sqltdebyok000006/aa8abe4e93ce4a9d9a047c8d1e8154ea","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ps87PofToISoZP17-ivOgqOlaxeNYc0483Sub8-7IMhBKnw3T6_AShmktDsk2VUfeAIpcfnWMkmYrcQ3zL65LtBzWfpxCazohe83HDK_BWNC-hDXQouq2v6bzRBNe2NGgV_6cxL_RIkATiXJA_Yqlkv_c0nOTfdZ36VSEEdlAkwcOcYzb-f9IRjCKmYItMubElPNHBYrU0GgT2ryY21IzIiXkkjJC8BIiIT7Xlsa24Ji01zWbGFq-C72eaKoYO-VAoB8aH8In1zw3t4fF7wNKU1vvtSa94E4X8_Zmb0Osj7lqiVQwlSE-RhUdwL9SROB3Fw-XttYJkwuU-Ouu4c72Q","e":"AQAB"},"attributes":{"enabled":true,"created":1563245890,"updated":1563245890,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"properties": {"serverKeyType": "AzureKeyVault", "uri": "https://sqltdebyok000005.vault.azure.net/keys/sqltdebyok000006/aa8abe4e93ce4a9d9a047c8d1e8154ea"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/keys/sqltdebyok000005_sqltdebyok000006_aa8abe4e93ce4a9d9a047c8d1e8154ea?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"UpsertManagedServerEncryptionKeys","startTime":"2019-07-16T02:58:11.33Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/locations/westus/managedInstanceKeyAzureAsyncOperation/0d1b709c-e798-4955-ae05-e5ed573522b9?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/locations/westus/managedInstanceKeyOperationResults/0d1b709c-e798-4955-ae05-e5ed573522b9?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/locations/westus/managedInstanceKeyAzureAsyncOperation/0d1b709c-e798-4955-ae05-e5ed573522b9?api-version=2017-10-01-preview
  response:
    body:
      string: '{"name":"0d1b709c-e798-4955-ae05-e5ed573522b9","status":"InProgress","startTime":"2019-07-16T02:58:11.33Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/keys/sqltdebyok000005_sqltdebyok000006_aa8abe4e93ce4a9d9a047c8d1e8154ea?api-version=2017-10-01-preview
  response:
    body:
      string: '{"kind":"azurekeyvault","properties":{"serverKeyType":"AzureKeyVault","uri":"https://sqltdebyok000005.vault.azure.net/keys/sqltdebyok000006/aa8abe4e93ce4a9d9a047c8d1e8154ea","thumbprint":"44C8BE244912E58DCD41E8977823CCE2B73C63A7","creationDate":"2019-07-16T02:58:12.253Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/keys/sqltdebyok000005_sqltdebyok000006_aa8abe4e93ce4a9d9a047c8d1e8154ea","name":"sqltdebyok000005_sqltdebyok000006_aa8abe4e93ce4a9d9a047c8d1e8154ea","type":"Microsoft.Sql/managedInstances/keys"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/keys?api-version=2017-10-01-preview
  response:
    body:
      string: '{"value":[{"kind":"azurekeyvault","properties":{"serverKeyType":"AzureKeyVault","uri":"https://sqltdebyok000005.vault.azure.net/keys/sqltdebyok000006/aa8abe4e93ce4a9d9a047c8d1e8154ea","thumbprint":"44C8BE244912E58DCD41E8977823CCE2B73C63A7","creationDate":"2019-07-16T02:58:12.253Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/keys/sqltdebyok000005_sqltdebyok000006_aa8abe4e93ce4a9d9a047c8d1e8154ea","name":"sqltdebyok000005_sqltdebyok000006_aa8abe4e93ce4a9d9a047c8d1e8154ea","type":"Microsoft.Sql/managedInstances/keys"},{"kind":"servicemanaged","properties":{"serverKeyType":"ServiceManaged"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/keys/ServiceManaged","name":"ServiceManaged","type":"Microsoft.Sql/managedInstances/keys"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/encryptionProtector/current?api-version=2017-10-01-preview
  response:
    body:
      string: '{"kind":"servicemanaged","properties":{"serverKeyName":"ServiceManaged","serverKeyType":"ServiceManaged"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Sql/managedInstances/clitestmi000002/encryptionProtector/current","name":"current","type":"Microsoft.Sql/managedInstances/encryptionProtector"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
