interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/capabilities?include=supportedManagedInstanceVersions&api-version=2024-11-01-preview
  response:
    body:
      string: '{"name":"West Central US","supportedManagedInstanceVersions":[{"name":"12.0","supportedEditions":[{"name":"GeneralPurpose","isGeneralPurposeV2":false,"supportedFamilies":[{"name":"Gen5","sku":"GP_Gen5","zoneRedundant":false,"supportedLicenseTypes":[{"name":"LicenseIncluded","status":"Default"},{"name":"BasePrice","status":"Available"}],"supportedVcoresValues":[{"name":"2","value":2,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":640,"unit":"Gigabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSupported":true,"standaloneSupported":false,"supportedMaintenanceConfigurations":[{"name":"SQL_Default","status":"Default"},{"name":"SQL_WestCentralUS_MI_1","status":"Available"},{"name":"SQL_WestCentralUS_MI_2","status":"Available"},{"name":"SQL_WestCentralUS_MI_3","status":"Available"}],"status":"Available"},{"name":"4","value":4,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":2,"unit":"Terabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSu[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "sku": {"name": "GP_Gen5"}, "properties":
      {"administratorLogin": "admin123", "administratorLoginPassword": "SecretPassword123SecretPassword",
      "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-tooling/subnets/ManagedInstance",
      "licenseType": "LicenseIncluded", "vCores": 4, "storageSizeInGB": 32, "collation":
      "Serbian_Cyrillic_100_CS_AS", "publicDataEndpointEnabled": true, "proxyOverride":
      "Proxy", "requestedBackupStorageRedundancy": "Geo", "administrators": {"principalType":
      "Application", "login": "msdata-Database Systems-8313371e-0879-428e-b1da-6353575a9192",
      "sid": "05159003-af0d-4d45-8309-1992b1774dd9", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "azureADOnlyAuthentication": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2024-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"provisioningState":"Creating","isGeneralPurposeV2":false,"administratorLogin":"admin123","licenseType":"LicenseIncluded","hybridSecondaryUsage":"Active","vCores":4,"storageSizeInGB":32,"collation":"Serbian_Cyrillic_100_CS_AS","publicDataEndpointEnabled":true,"proxyOverride":"Proxy","timezoneId":"UTC","maintenanceConfigurationId":"SystemDefault","privateEndpointConnections":[],"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","administrators":{"administratorType":"ActiveDirectory","principalType":"Application","login":"msdata-Database
        Systems-8313371e-0879-428e-b1da-6353575a9192","sid":"05159003-af0d-4d45-8309-1992b1774dd9","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","azureADOnlyAuthentication":true},"externalGovernanceStatus":"Disabled","pricingModel":"Regular","databaseFormat":"AlwaysUpToDate","requestedLogicalAvailabilityZone":"NoPreference"},"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001","name":"clitestmi000001","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '798'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2024-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"provisioningState":"Creating","isGeneralPurposeV2":false,"administratorLogin":"admin123","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-tooling/subnets/ManagedInstance","state":"Creating","licenseType":"LicenseIncluded","hybridSecondaryUsage":"Active","vCores":4,"storageSizeInGB":32,"collation":"Serbian_Cyrillic_100_CS_AS","publicDataEndpointEnabled":true,"proxyOverride":"Proxy","timezoneId":"UTC","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","privateEndpointConnections":[],"minimalTlsVersion":"1.2","currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","zoneRedundant":false,"administrators":{"administratorType":"ActiveDirectory","principalType":"Application","login":"msdata-Database
        Systems-8313371e-0879-428e-b1da-6353575a9192","sid":"05159003-af0d-4d45-8309-1992b1774dd9","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","azureADOnlyAuthentication":true},"externalGovernanceStatus":"Disabled","pricingModel":"Regular","createTime":"2025-08-20T18:29:26.773Z","authenticationMetadata":"AzureAD","databaseFormat":"SQLServer2022","requestedLogicalAvailabilityZone":"NoPreference"},"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001","name":"clitestmi000001","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2024-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"provisioningState":"Creating","fullyQualifiedDomainName":"clitestmi000001.1e6d90da5016.database.windows.net","isGeneralPurposeV2":false,"administratorLogin":"admin123","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-tooling/subnets/ManagedInstance","state":"Creating","licenseType":"LicenseIncluded","hybridSecondaryUsage":"Active","vCores":4,"storageSizeInGB":32,"collation":"Serbian_Cyrillic_100_CS_AS","dnsZone":"1e6d90da5016","publicDataEndpointEnabled":true,"proxyOverride":"Proxy","timezoneId":"UTC","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","privateEndpointConnections":[],"minimalTlsVersion":"1.2","currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","zoneRedundant":false,"administrators":{"administratorType":"ActiveDirectory","principalType":"Application","login":"msdata-Database
        Systems-8313371e-0879-428e-b1da-6353575a9192","sid":"05159003-af0d-4d45-8309-1992b1774dd9","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","azureADOnlyAuthentication":true},"virtualClusterId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/virtualClusters/VirtualCluster10da01b6-db90-48f5-8444-dd591c22fe9d","externalGovernanceStatus":"Disabled","pricingModel":"Regular","createTime":"2025-08-20T18:29:26.773Z","authenticationMetadata":"AzureAD","databaseFormat":"SQLServer2022","requestedLogicalAvailabilityZone":"NoPreference"},"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001","name":"clitestmi000001","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/test-db?api-version=2024-11-01-preview
  response:
    body:
      string: '{"operation":"CreateManagedDatabase","startTime":"2025-08-20T18:46:48.5Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/c3144e0a-4926-44a8-a4c1-c22db7e6a3b5?api-version=2024-11-01-preview&t=638913124085268767&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzE0MDQzMjE2WhcNMjYwMTEwMDQzMjE2WjBAMT4wPAY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/c3144e0a-4926-44a8-a4c1-c22db7e6a3b5?api-version=2024-11-01-preview&t=638913124085268767&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/test-db?api-version=2024-11-01-preview
  response:
    body:
      string: '{"properties":{"collation":"Serbian_Cyrillic_100_CS_AS","status":"Online","creationDate":"2025-08-20T18:46:48.85Z","defaultSecondaryLocation":"westus2","isLedgerOn":false},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/test-db","name":"test-db","type":"Microsoft.Sql/managedInstances/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"destinationManagedDatabaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000002/databases/test-db",
      "operationMode": "Copy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/test-db/startMove?api-version=2024-11-01-preview
  response:
    body:
      string: '{"operation":"StartCrossManagedInstanceDatabaseMovement","startTime":"2025-08-20T18:47:06.217Z"}'
    headers:
      azure-asyncoper[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/59ec1d48-aa20-4dc6-8120-8d6c85910f7a?api-version=2024-11-01-preview&t=638913124262662284&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/59ec1d48-aa20-4dc6-8120-8d6c85910f7a?api-version=2024-11-01-preview&t=638913124262858510&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUg[...]
- request:
    body: '{"destinationManagedDatabaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000002/databases/test-db"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/bcec31e7-5da8-4260-9fe1-c0c21301c0bf?api-version=2024-11-01-preview&t=638913128040110604&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/bcec31e7-5da8-4260-9fe1-c0c21301c0bf?api-version=2024-11-01-preview&t=638913128040266775&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/e961944b-9aab-4e02-ad3e-6ad2f12299c6?api-version=2024-11-01-preview&t=638913128216832242&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/e961944b-9aab-4e02-ad3e-6ad2f12299c6?api-version=2024-11-01-preview&t=638913128216988479&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUg[...]
- request:
    body: '{"destinationManagedDatabaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000002/databases/test-db"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001/databases/t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/aa128a29-1127-4a6b-8a57-f9ffb7fb8cb4?api-version=2024-11-01-preview&t=638913128864742672&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/aa128a29-1127-4a6b-8a57-f9ffb7fb8cb4?api-version=2024-11-01-preview&t=638913128864898936&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseMoveOperationResults?onlyLatestPerDatabase=false&$filter=Properties%2FOperationMode%20eq%20%27Move%27%20and%20Properties%2FSourceManagedInstanceName%20eq%20%27clitestmi000001%27%20and%20Properties%2FTargetManagedInstanceName%20eq%20%27clitestmi000002%27%20and%20Properties%2FTargetDatabaseName%20eq%20%27test-db%27&api-version=2024-11-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"operation":"StartCrossManagedInstanceDatabaseMovement","operationFriendlyName":"Start
        Azure SQL Managed Instance database move","startTime":"2025-08-20T18:53:41.653Z","state":"Succeeded","operationMode":"Move","sourceManagedInstanceName":"clitestmi000001","targetManagedInstanceName":"clitestmi000002","sourceManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000001","targetManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/clitestmi000002","sourceDatabaseName":"test-db","targetDatabaseName":"test-db","isCancellable":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseMoveOperationResults/e961944b-9aab-4e02-ad3e-6ad2f12299c6","name":"e961944b-9aab-4e02-ad3e-6ad2f12299c6","type":"Microsoft.Sql/locations/managedDatabaseMoveOperationResults"},{"properties":{"operation":"ContinueCrossManagedInstanceDatabaseMovement","operationFriendlyName":"Complete
        Azure SQL Managed Instance database move[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/e7dff86e-467e-4db3-9fa4-5a2bb5872d53?api-version=2024-11-01-preview&t=638913129988687269&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/e7dff86e-467e-4db3-9fa4-5a2bb5872d53?api-version=2024-11-01-preview&t=638913129988843510&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/1db72de5-edc4-4243-9c03-e663c31a5390?api-version=2024-11-01-preview&t=638913130792236352&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BT[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/1db72de5-edc4-4243-9c03-e663c31a5390?api-version=2024-11-01-preview&t=638913130792392620&c=MIIHhzCCBm-gAwIBAgITfAh2-4lUxNjYwuasIgAACHb7iTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseMoveOperationResults?onlyLatestPerDatabase=true&$filter=Properties%2FOperationMode%20eq%20%27Copy%27%20and%20Properties%2FSourceManagedInstanceName%20eq%20%27clitestmi000002%27%20and%20Properties%2FTargetManagedInstanceName%20eq%20%27clitestmi000001%27[...]
[...]
