interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "minimalTlsVersion": "1.2",
      "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002?api-version=2024-05-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2025-04-08T13:34:57.797Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/fda99cd2-b61f-45a9-9199-a7d8e3e758b1?api-version=2024-05-01-preview&t=638797160979251810&c=MIIHhzCCBm-gAwIBAgITfAahW1AM79KhMijZVgAABqFbUDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI3MDc1NTUwWhcNMjUwNzI2MDc1NTUwWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/fda99cd2-b61f-45a9-9199-a7d8e3e758b1?api-version=2024-05-01-preview&t=638797160979251810&c=MIIHhzCCBm-gAwIBAgITfAahW1AM79KhMijZVgAABqFbUDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002?api-version=2024-05-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitest-epvbsvwylcrdul44laixky7kq373oo6bgethv7upjbru3zpg3zbquq.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"1.2","publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbsvwylcrdul44laixky7kq373oo6bgethv7upjbru3zpg3zbquq","name":"clitest-epvbsvwylcrdul44laixky7kq373oo6bgethv7upjbru3zpg3zbquq","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus2euap/capabilities?include=supportedElasticPoolEditions&api-version=2024-05-01-preview
  response:
    body:
      string: '{"name":"East US 2 EUAP","supportedServerVersions":[{"name":"12.0","supportedElasticPoolEditions":[{"name":"Standard","supportedElasticPoolPerformanceLevels":[{"performanceLevel":{"value":50.0,"unit":"DTU"},"sku":{"name":"StandardPool","tier":"Standard","capacity":50},"supportedLicenseTypes":[],"maxDatabaseCount":100,"includedMaxSize":{"limit":50,"unit":"Gigabytes"},"supportedMaxSizes":[{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Default"},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":200,"unit":"Gigabytes"},"maxValue":{"limit":200,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":300,"unit":"Gigabytes"},"maxValue":{"limit":300,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":400,"unit":"Gigabytes"},"maxValue":{"limit":400,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Gigabytes"},"maxValue":{"limit":500,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"}],"supportedPerDatabaseMaxSizes":[{"minValue":{"limit":100,"unit":"Megabytes"},"maxValue":{"limit":100,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Megabytes"},"maxValue":{"limit":500,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":1,"unit":"Gigabytes"},"maxValue":{"limit":1,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":2,"unit":"Gigabytes"[...]
- request:
    body: '{"location": "eastus2euap", "sku": {"name": "GP_Gen5", "tier": "GeneralPurpose",
      "family": "Gen5", "capacity": 2}, "properties": {"perDatabaseSettings": {},
      "preferredEnclaveType": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/elasticPools/cliautomationpool1?api-version=2024-05-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalElasticPool","startTime":"2025-04-08T13:35:54.057Z"}'
    headers:
      azure-asyncoperation:
      - https:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/elasticPoolAzureAsyncOperation/d4fa1cdd-9984-4c17-892d-ed72b9f913ae?api-version=2024-05-01-preview&t=638797161542033571&c=MIIHhzCCBm-gAwIBAgITfAaTsfGh4O3I6hzdiwAABpOx8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/elasticPools/cliautomationpool1?api-version=2024-05-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"vcore,pool","properties":{"state":"Ready","creationDate":"2025-04-08T13:35:54.227Z","maxSizeBytes":34359738368,"perDatabaseSettings":{"minCapacity":0.0000,"maxCapacity":2.0000},"zoneRedundant":false,"licenseType":"LicenseIncluded","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","preferredEnclaveType":"Default","availabilityZone":"NoPreference"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbsvwylcrdul44laixky7kq373oo6bgethv7upjbru3zpg3zbquq/elasticPools/cliautomationpool1","name":"cliautomationpool1","type":"Microsoft.Sql/servers/elasticPools"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"elasticPoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/elasticPools/cliautomationpool1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/databases/cliautomationdb01?api-version=2024-05-01-preview
  response:
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/95f06d0a-88d7-4c17-8d97-a767f6886a99?api-version=2024-05-01-preview&t=638797161973068214&c=MIIHhzCCBm-gAwIBAgITHgYwPXuJ0Vde_2Uh8QAABjA9ezANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0Eg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/databases/cliautomationdb01?api-version=2024-05-01-preview
  response:
    body:
      string: '{"sku":{"name":"ElasticPool","tier":"GeneralPurpose","capacity":0},"kind":"v12.0,user,vcore,pool","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"elasticPoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbsvwylcrdul44laixky7kq373oo6bgethv7upjbru3zpg3zbquq/elasticPools/cliautomationpool1","status":"Online","databaseId":"8db7b49d-82a1-45cc-ae79-8d5500693340","creationDate":"2025-04-08T13:36:50.383Z","currentServiceObjectiveName":"ElasticPool","requestedServiceObjectiveName":"ElasticPool","defaultSecondaryLocation":"centraluseuap","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"ElasticPool","tier":"GeneralPurpose","capacity":0},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"preferredEnclaveType":"Default","availabilityZone":"NoPreference"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbsvwylcrdul44laixky7kq373oo6bgethv7upjbru3zpg3zbquq/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
[...]
