interactions:
- request:
    body: '{"location": "eastus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2023-08-30T18:37:22.583Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/897684a4-ba62-40fd-a1ed-7368975bce52?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/serverOperationResults/897684a4-ba62-40fd-a1ed-7368975bce52?api-version=2022-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/897684a4-ba62-40fd-a1ed-7368975bce52?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"897684a4-ba62-40fd-a1ed-7368975bce52","status":"InProgress","startTime":"2023-08-30T18:37:22.583Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"None","publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/capabilities?include=supportedEditions&api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"East US","supportedServerVersions":[{"name":"12.0","supportedEditions":[{"name":"System","supportedServiceLevelObjectives":[{"id":"26e021db-f1f9-4c98-84c6-92af8ef433d7","name":"System","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"limit":30,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"performanceLevel":{"value":0.0,"unit":"DTU"},"sku":{"name":"System","tier":"System","capacity":0},"supportedLicenseTypes":[],"zoneRedundant":true,"supportedMaintenanceConfigurations":[{"name":"SQL_Default","zoneRedundant":true,"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"id":"29dd7459-4a7c-4e56-be22-f0adda49440d","name":"System0","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible"[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "HS_Gen5_2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sourceNonZrDb?api-version=2023-02-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2023-08-30T18:38:33.457Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/090b84c5-6c3b-451e-86fa-410163ee3920?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/090b84c5-6c3b-451e-86fa-410163ee3920?api-version=2023-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/090b84c5-6c3b-451e-86fa-410163ee3920?api-version=2023-02-01-preview
  response:
    body:
      string: '{"name":"090b84c5-6c3b-451e-86fa-410163ee3920","status":"InProgress","startTime":"2023-08-30T18:38:33.457Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sourceNonZrDb?api-version=2023-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"HS_Gen5","tier":"Hyperscale","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore,hyperscale","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":-1,"status":"Online","databaseId":"f5c2c1bd-28ac-41e8-99df-ec8d63bd668d","creationDate":"2023-08-30T18:45:52.07Z","currentServiceObjectiveName":"HS_Gen5_2","requestedServiceObjectiveName":"HS_Gen5_2","defaultSecondaryLocation":"westus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","earliestRestoreDate":"2023-08-30T18:45:52.07Z","readScale":"Enabled","highAvailabilityReplicaCount":1,"currentSku":{"name":"HS_Gen5","tier":"Hyperscale","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"availabilityZone":"NoPreference"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sourceNonZrDb","name":"sourceNonZrDb","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "HS_Gen5_2"}, "properties": {"zoneRedundant":
      true, "requestedBackupStorageRedundancy": "Zone"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/sourceZrDb?api-version=2023-02-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2023-08-30T18:45:56.667Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/0780ebb3-5684-4334-936a-10912b2b8eb6?api-version=2023-02-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/0780ebb3-5684-4334-936a-10912b2b8eb6?api-version=2023-02-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
