interactions:
- request:
    body: '{"location": "eastus2euap", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2023-05-24T23:43:04.03Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/0e3d4a4c-10b2-42b6-9b3f-d22af1a8d1ab?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/serverOperationResults/0e3d4a4c-10b2-42b6-9b3f-d22af1a8d1ab?api-version=2022-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/serverAzureAsyncOperation/0e3d4a4c-10b2-42b6-9b3f-d22af1a8d1ab?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"0e3d4a4c-10b2-42b6-9b3f-d22af1a8d1ab","status":"InProgress","startTime":"2023-05-24T23:43:04.03Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitest-epvbs7f3txoirwuj2m2h5lfoy6xrkkjd62zgaai2yrnojiy3l5leyl.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"None","publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbs7f3txoirwuj2m2h5lfoy6xrkkjd62zgaai2yrnojiy3l5leyl","name":"clitest-epvbs7f3txoirwuj2m2h5lfoy6xrkkjd62zgaai2yrnojiy3l5leyl","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus2euap/capabilities?include=supportedElasticPoolEditions&api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"East US 2 EUAP","supportedServerVersions":[{"name":"12.0","supportedElasticPoolEditions":[{"name":"Standard","supportedElasticPoolPerformanceLevels":[{"performanceLevel":{"value":50.0,"unit":"DTU"},"sku":{"name":"StandardPool","tier":"Standard","capacity":50},"supportedLicenseTypes":[],"maxDatabaseCount":100,"includedMaxSize":{"limit":50,"unit":"Gigabytes"},"supportedMaxSizes":[{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Default"},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":200,"unit":"Gigabytes"},"maxValue":{"limit":200,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":300,"unit":"Gigabytes"},"maxValue":{"limit":300,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":400,"unit":"Gigabytes"},"maxValue":{"limit":400,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Gigabytes"},"maxValue":{"limit":500,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"}],"supportedPerDatabaseMaxSizes":[{"minValue":{"limit":100,"unit":"Megabytes"},"maxValue":{"limit":100,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":500,"unit":"Megabytes"},"maxValue":{"limit":500,"unit":"Megabytes"},"scaleSize":{"limit":0,"unit":"Megabytes"},"status":"Available"},{"minValue":{"limit":1,"unit":"Gigabytes"},"maxValue":{"limit":1,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Available"},{"minValue":{"limit":2,"unit":"Gigabytes"[...]
- request:
    body: '{"location": "eastus2euap", "sku": {"name": "GP_Gen5", "tier": "GeneralPurpose",
      "family": "Gen5", "capacity": 2}, "properties": {"perDatabaseSettings": {},
      "preferredEnclaveType": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/elasticPools/cliautomationpool1?api-version=2022-08-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalElasticPool","startTime":"2023-05-24T23:44:29.037Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/elasticPoolAzureAsyncOperation/ab852a9b-7f86-4d9b-88be-219ebf2ba5c5?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/elasticPoolOperationResults/ab852a9b-7f86-4d9b-88be-219ebf2ba5c5?api-version=2022-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/elasticPoolAzureAsyncOperation/ab852a9b-7f86-4d9b-88be-219ebf2ba5c5?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"ab852a9b-7f86-4d9b-88be-219ebf2ba5c5","status":"InProgress","startTime":"2023-05-24T23:44:29.037Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/elasticPools/cliautomationpool1?api-version=2022-08-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"vcore,pool","properties":{"state":"Ready","creationDate":"2023-05-24T23:44:29.177Z","maxSizeBytes":34359738368,"perDatabaseSettings":{"minCapacity":0.0000,"maxCapacity":2.0000},"zoneRedundant":false,"licenseType":"LicenseIncluded","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","preferredEnclaveType":"Default","availabilityZone":"NoPreference"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbs7f3txoirwuj2m2h5lfoy6xrkkjd62zgaai2yrnojiy3l5leyl/elasticPools/cliautomationpool1","name":"cliautomationpool1","type":"Microsoft.Sql/servers/elasticPools"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"elasticPoolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/elasticPools/cliautomationpool1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/databases/cliautomationdb01?api-version=2022-08-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2023-05-24T23:45:18.453Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/3f431524-3166-4439-98bc-0d2000e9b026?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/databaseOperationResults/3f431524-3166-4439-98bc-0d2000e9b026?api-version=2022-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/locations/eastus2euap/databaseAzureAsyncOperation/3f431524-3166-4439-98bc-0d2000e9b026?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"3f431524-3166-4439-98bc-0d2000e9b026","status":"InProgress","startTime":"2023-05-24T23:45:18.453Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-EPVBS000002/databases/cliautomationdb01?api-version=2022-08-01-preview
  response:
    body:
      string: '{"sku":{"name":"ElasticPool","tier":"GeneralPurpose","capacity":0},"kind":"v12.0,user,vcore,pool","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"elasticPoolId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbs7f3txoirwuj2m2h5lfoy6xrkkjd62zgaai2yrnojiy3l5leyl/elasticPools/cliautomationpool1","status":"Online","databaseId":"c9d6bbc2-df78-461d-8d91-139e5bef4759","creationDate":"2023-05-24T23:45:29.267Z","currentServiceObjectiveName":"ElasticPool","requestedServiceObjectiveName":"ElasticPool","defaultSecondaryLocation":"centraluseuap","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"ElasticPool","tier":"GeneralPurpose","capacity":0},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"preferredEnclaveType":"Default","availabilityZone":"NoPreference"},"location":"eastus2euap","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-EPVBS000001/providers/Microsoft.Sql/servers/clitest-epvbs7f3txoirwuj2m2h5lfoy6xrkkjd62zgaai2yrnojiy3l5leyl/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
