interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr?api-version=2020-02-02-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"provisioningState":"Succeeded","fullyQualifiedDomainName":"azureclitestbsr.ae6ed2c0a5fd.database.windows.net","administratorLogin":"cloudSA","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Network/virtualNetworks/vnet-pcresizeandcreate/subnets/ManagedInstance","state":"Ready","licenseType":"LicenseIncluded","vCores":8,"storageSizeInGB":64,"collation":"SQL_Latin1_General_CP1_CI_AS","dnsZone":"ae6ed2c0a5fd","publicDataEndpointEnabled":false,"timezoneId":"UTC","privateEndpointConnections":[],"storageAccountType":"LRS"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr","name":"azureclitestbsr","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr-secondary?api-version=2020-02-02-preview
  response:
    body:
      string: '{"identity":{"principalId":"e57663b7-7431-4d68-8399-fbe48e22def8","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"provisioningState":"Succeeded","fullyQualifiedDomainName":"azureclitestbsr-secondary.ae6ed2c0a5fd.database.windows.net","administratorLogin":"cloudSA","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Network/virtualNetworks/vnet-azureclitestbsr-secondary/subnets/ManagedInstance","state":"Ready","licenseType":"LicenseIncluded","vCores":8,"storageSizeInGB":64,"collation":"SQL_Latin1_General_CP1_CI_AS","dnsZone":"ae6ed2c0a5fd","publicDataEndpointEnabled":false,"proxyOverride":"Proxy","timezoneId":"UTC","privateEndpointConnections":[],"minimalTlsVersion":"1.2","storageAccountType":"LRS"},"location":"northeurope","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr-secondary","name":"azureclitestbsr-secondary","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"readWriteEndpoint": {"failoverPolicy": "Automatic", "failoverWithDataLossGracePeriodMinutes":
      120}, "readOnlyEndpoint": {"failoverPolicy": "Disabled"}, "partnerRegions":
      [{"location": "northeurope"}], "managedInstancePairs": [{"primaryManagedInstanceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr",
      "partnerManagedInstanceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr-secondary"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroups/fgtest2020a?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"CreateManagedFailoverGroup","startTime":"2020-09-06T18:22:19.887Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroupAzureAsyncOperation/31c30fee-4ebf-4522-a175-3bacb654d838?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroupOperationResults/31c30fee-4ebf-4522-a175-3bacb654d838?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroupAzureAsyncOperation/31c30fee-4ebf-4522-a175-3bacb654d838?api-version=2017-10-01-preview
  response:
    body:
      string: '{"name":"31c30fee-4ebf-4522-a175-3bacb654d838","status":"InProgress","startTime":"2020-09-06T18:22:19.887Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroups/fgtest2020a?api-version=2017-10-01-preview
  response:
    body:
      string: '{"properties":{"readWriteEndpoint":{"failoverPolicy":"Automatic","failoverWithDataLossGracePeriodMinutes":120},"readOnlyEndpoint":{"failoverPolicy":"Disabled"},"replicationRole":"Primary","replicationState":"CATCH_UP","partnerRegions":[{"location":"northeurope","replicationRole":"Secondary"}],"managedInstancePairs":[{"primaryManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr","partnerManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr-secondary"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/West
        Europe/instanceFailoverGroups/fgtest2020a","name":"fgtest2020a","type":"Microsoft.Sql/locations/instanceFailoverGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/northeurope/instanceFailoverGroups/fgtest2020a?api-version=2017-10-01-preview
  response:
    body:
      string: '{"properties":{"readWriteEndpoint":{"failoverPolicy":"Automatic","failoverWithDataLossGracePeriodMinutes":120},"readOnlyEndpoint":{"failoverPolicy":"Disabled"},"replicationRole":"Secondary","replicationState":"CATCH_UP","partnerRegions":[{"location":"westeurope","replicationRole":"Primary"}],"managedInstancePairs":[{"primaryManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr","partnerManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/managedInstances/azureclitestbsr-secondary"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/North
        Europe/instanceFailoverGroups/fgtest2020a","name":"fgtest2020a","type":"Microsoft.Sql/locations/instanceFailoverGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/northeurope/instanceFailoverGroups/fgtest2020a/failover?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"FailoverFailoverGroup","startTime":"2020-09-06T18:23:53.44Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/northeurope/instanceFailoverGroupAzureAsyncOperation/9e7da4aa-a6b7-4c4a-83c8-63e34ebb6799?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/northeurope/instanceFailoverGroupOperationResults/9e7da4aa-a6b7-4c4a-83c8-63e34ebb6799?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/northeurope/instanceFailoverGroupAzureAsyncOperation/9e7da4aa-a6b7-4c4a-83c8-63e34ebb6799?api-version=2017-10-01-preview
  response:
    body:
      string: '{"name":"9e7da4aa-a6b7-4c4a-83c8-63e34ebb6799","status":"Succeeded","startTime":"2020-09-06T18:23:53.44Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroups/fgtest2020a/forceFailoverAllowDataLoss?api-version=2017-10-01-preview
  response:
    body:
      string: '{"operation":"FailoverFailoverGroup","startTime":"2020-09-06T18:24:36.293Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroupAzureAsyncOperation/0b4b10c8-e288-4276-80a8-224c13544630?api-version=2017-10-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroupOperationResults/0b4b10c8-e288-4276-80a8-224c13544630?api-version=2017-10-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/westeurope/instanceFailoverGroups/fgtest2020a?api-version=2017-10-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.Sql/locations/instanceFailoverGroups'' with name ''fgtest2020a''
        was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ps1308/providers/Microsoft.Sql/locations/northeurope/instanceFailoverGroups/fgtest2020a?api-version=2017-10-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.Sql/locations/instanceFailoverGroups'' with name ''fgtest2020a''
        was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
