interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/capabilities?include=supportedManagedInstanceVersions&api-version=2018-06-01-preview
  response:
    body:
      string: '{"name":"West Europe","supportedManagedInstanceVersions":[{"name":"12.0","supportedEditions":[{"name":"GeneralPurpose","supportedFamilies":[{"name":"Gen5","sku":"GP_Gen5","supportedLicenseTypes":[{"name":"LicenseIncluded","status":"Default"},{"name":"BasePrice","status":"Available"}],"supportedVcoresValues":[{"name":"2","value":2,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":640,"unit":"Gigabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSupported":true,"standaloneSupported":false,"status":"Available"},{"name":"4","value":4,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabytes"},"maxValue":{"limit":2,"unit":"Terabytes"},"scaleSize":{"limit":32,"unit":"Gigabytes"},"status":"Available"}],"instancePoolSupported":true,"standaloneSupported":true,"status":"Available"},{"name":"8","value":8,"includedMaxSize":{"limit":262144,"unit":"Megabytes"},"supportedStorageSizes":[{"minValue":{"limit":32,"unit":"Gigabyt[...]
- request:
    body: '{"location": "westeurope", "tags": {"tagName1": "tagValue1", "tagName2":
      "tagValue2"}, "sku": {"name": "GP_Gen5"}, "properties": {"administratorLogin":
      "admin123", "administratorLoginPassword": "SecretPassword123", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet1/subnets/vcCliTestSubnet1",
      "licenseType": "LicenseIncluded", "vCores": 8, "storageSizeInGB": 128, "collation":
      "Serbian_Cyrillic_100_CS_AS", "publicDataEndpointEnabled": true, "proxyOverride":
      "Proxy", "timezoneId": "Central European Standard Time", "minimalTlsVersion":
      "1.2", "storageAccountType": "LRS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2020-02-02-preview
  response:
    body:
      string: '{"identity":{"principalId":"00000000-0000-0000-0000-000000000000","type":"None","tenantId":"00000000-0000-0000-0000-000000000000"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"provisioningState":"Creating","administratorLogin":"admin123","licenseType":"LicenseIncluded","vCores":8,"storageSizeInGB":128,"collation":"Serbian_Cyrillic_100_CS_AS","publicDataEndpointEnabled":true,"proxyOverride":"Proxy","timezoneId":"Central
        European Standard Time","privateEndpointConnections":[],"minimalTlsVersion":"1.2","storageAccountType":"LRS"},"location":"westeurope","tags":{"tagName1":"tagValue1","tagName2":"tagValue2"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Sql/managedInstances/clitestmi000001","name":"clitestmi000001","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2020-02-02-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":8},"properties":{"provisioningState":"Creating","fullyQualifiedDomainName":"clitestmi000001.dbd83b138df7.database.windows.net","administratorLogin":"admin123","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet1/subnets/vcCliTestSubnet1","state":"Creating","licenseType":"LicenseIncluded","vCores":8,"storageSizeInGB":128,"collation":"Serbian_Cyrillic_100_CS_AS","dnsZone":"dbd83b138df7","publicDataEndpointEnabled":true,"proxyOverride":"Proxy","timezoneId":"Central
        European Standard Time","privateEndpointConnections":[],"minimalTlsVersion":"1.2","storageAccountType":"LRS"},"location":"westeurope","tags":{"tagName1":"tagValue1","tagName2":"tagValue2"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Sql/managedInstances/clitestmi000001","name":"clitestmi000001","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westeurope", "tags": {"tagName1": "tagValue1", "tagName2":
      "tagValue2", "tagName3": "tagValue3"}, "sku": {"name": "GP_Gen5"}, "properties":
      {"administratorLogin": "admin123", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet1/subnets/vcCliTestSubnet1",
      "licenseType": "LicenseIncluded", "vCores": 8, "storageSizeInGB": 128, "collation":
      "Serbian_Cyrillic_100_CS_AS", "publicDataEndpointEnabled": true, "proxyOverride":
      "Proxy", "timezoneId": "Central European Standa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/managedInstances?api-version=2020-02-02-preview
  response:
    body:
      string: '{"value":[{"identity":{"principalId":"8d0f2853-e944-48db-a933-09bd929b9f2b","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":16},"properties":{"pr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/toki/providers/Microsoft.Sql/managedInstances/clitestmi000001?api-version=2020-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Sql/managedInstances/clitestmi000001''
        under resource group ''toki'' was not found. For more details please go to
        https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
