interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus?api-version=2021-05-01-preview
  response:
    body:
      string: '{"identity":{"principalId":"74bab3ff-2486-4148-ae0f-539f056bffd3","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"provisioningState":"Succeeded","fullyQualifiedDomainName":"mi-primary-wcus.ac72dfdc4647.database.windows.net","administratorLogin":"brka","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-primary-wcus/subnets/ManagedInstance","state":"Ready","licenseType":"LicenseIncluded","vCores":4,"storageSizeInGB":672,"collation":"SQL_Latin1_General_CP1_CI_AS","dnsZone":"ac72dfdc4647","publicDataEndpointEnabled":false,"proxyOverride":"Redirect","timezoneId":"UTC","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus/privateEndpointConnections/asdfasdfa-df38f4ec-ddd3-432a-9dc4-995f48edc23f","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PrivateLinkTesting/providers/Microsoft.Network/privateEndpoints/asdfasdfa"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved","actionsRequired":"None"},"provisioningState":"Ready"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus/privateEndpointConnections/pe11-b6622252-fbc6-4cfd-9c47-804ed5c55e66","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/privateEndpoints/pe11"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Here
        you go!","actionsRequired":"None"},"provisioningState":"Ready"}}],"minimalTlsVersion":"1.2","currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","zoneRedundant":false,"administrators":{"administratorType":"ActiveDirectory","principalType":"Group","login":"skrivokapic@microsoft.com","sid":"f6b3a38a-1f46-4a27-a0c6-667e810ea384","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","azureADOnlyAuthentication":false}},"location":"westcentralus","tags":{"fog":"primary","key3":"value3","key1":"value1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus","name":"mi-primary-wcus","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/managedInstances/mi-mdcs-cx-secondary?api-version=2021-05-01-preview
  response:
    body:
      string: '{"identity":{"principalId":"2cbd7bb4-b87c-4cfa-85d8-4f7603aa3239","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose"[...]
- request:
    body: '{"properties": {"readWriteEndpoint": {"failoverPolicy": "Automatic", "failoverWithDataLossGracePeriodMinutes":
      120}, "readOnlyEndpoint": {"failoverPolicy": "Disabled"}, "partnerRegions":
      [{"location": "centralus"}], "managedInstancePairs": [{"primaryManagedInstanceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus",
      "partnerManagedInstanceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/managedInstances/mi-mdcs-cx-secondary"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroups/fgtest2022a?api-version=2020-11-01-preview
  response:
    body:
      string: '{"operation":"CreateManagedFailoverGroup","startTime":"2022-03-16T14:16:19.15Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroupAzureAsyncOperation/0c59d6a9-a924-4fb4-80bb-256f8a3af8d6?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroupOperationResults/0c59d6a9-a924-4fb4-80bb-256f8a3af8d6?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroupAzureAsyncOperation/0c59d6a9-a924-4fb4-80bb-256f8a3af8d6?api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"0c59d6a9-a924-4fb4-80bb-256f8a3af8d6","status":"InProgress","startTime":"2022-03-16T14:16:19.15Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroups/fgtest2022a?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"readWriteEndpoint":{"failoverPolicy":"Automatic","failoverWithDataLossGracePeriodMinutes":120},"readOnlyEndpoint":{"failoverPolicy":"Disabled"},"replicationRole":"Primary","replicationState":"CATCH_UP","partnerRegions":[{"location":"centralus","replicationRole":"Secondary"}],"managedInstancePairs":[{"primaryManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus","partnerManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/managedInstances/mi-mdcs-cx-secondary"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/West
        Central US/instanceFailoverGroups/fgtest2022a","name":"fgtest2022a","type":"Microsoft.Sql/locations/instanceFailoverGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/locations/centralus/instanceFailoverGroups/fgtest2022a?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"readWriteEndpoint":{"failoverPolicy":"Automatic","failoverWithDataLossGracePeriodMinutes":120},"readOnlyEndpoint":{"failoverPolicy":"Disabled"},"replicationRole":"Secondary","replicationState":"CATCH_UP","partnerRegions":[{"location":"westcentralus","replicationRole":"Primary"}],"managedInstancePairs":[{"primaryManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus","partnerManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/managedInstances/mi-mdcs-cx-secondary"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/locations/Central
        US/instanceFailoverGroups/fgtest2022a","name":"fgtest2022a","type":"Microsoft.Sql/locations/instanceFailoverGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/locations/centralus/instanceFailoverGroups/fgtest2022a/failover?api-version=2020-11-01-preview
  response:
    body:
      string: '{"operation":"FailoverManagedFailoverGroup","startTime":"2022-03-16T14:19:13.793Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/centralus/instanceFailoverGroupAzureAsyncOperation/33fe7e44-883c-43fc-9d79-6c1f688cdfae?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/centralus/instanceFailoverGroupOperationResults/33fe7e44-883c-43fc-9d79-6c1f688cdfae?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/centralus/instanceFailoverGroupAzureAsyncOperation/33fe7e44-883c-43fc-9d79-6c1f688cdfae?api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"33fe7e44-883c-43fc-9d79-6c1f688cdfae","status":"InProgress","startTime":"2022-03-16T14:19:13.793Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/centralus/instanceFailoverGroupOperationResults/33fe7e44-883c-43fc-9d79-6c1f688cdfae?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"readWriteEndpoint":{"failoverPolicy":"Manual"},"readOnlyEndpoint":{"failoverPolicy":"Disabled"},"replicationRole":"Primary","replicationState":"CATCH_UP","partnerRegions":[{"location":"westcentralus","replicationRole":"Secondary"}],"managedInstancePairs":[{"primaryManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/managedInstances/mi-mdcs-cx-secondary","partnerManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/locations/Central
        US/instanceFailoverGroups/fgtest2022a","name":"fgtest2022a","type":"Microsoft.Sql/locations/instanceFailoverGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroups/fgtest2022a/forceFailoverAllowDataLoss?api-version=2020-11-01-preview
  response:
    body:
      string: '{"operation":"FailoverManagedFailoverGroup","startTime":"2022-03-16T14:20:17.703Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroupAzureAsyncOperation/dbc353e0-fc61-46ea-878f-56d386cd85b1?api-version=2020-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroupOperationResults/dbc353e0-fc61-46ea-878f-56d386cd85b1?api-version=2020-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroupOperationResults/dbc353e0-fc61-46ea-878f-56d386cd85b1?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"readWriteEndpoint":{"failoverPolicy":"Manual"},"readOnlyEndpoint":{"failoverPolicy":"Disabled"},"replicationRole":"Primary","replicationState":"CATCH_UP","partnerRegions":[{"location":"centralus","replicationRole":"Secondary"}],"managedInstancePairs":[{"primaryManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-primary-wcus","partnerManagedInstanceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mdcs-cx-secondary-vnet/providers/Microsoft.Sql/managedInstances/mi-mdcs-cx-secondary"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/West
        Central US/instanceFailoverGroups/fgtest2022a","name":"fgtest2022a","type":"Microsoft.Sql/locations/instanceFailoverGroups"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westcentralus/instanceFailoverGroupAzureAsyncOperation/f0fa2d6e-11bd-4b2a-af9f-a75327ac4d27?api-version=2020-11-01-preview
  response:
    body:
      string: '{"name":"f0fa2d6e-11bd-4b2a-af9f-a75327ac4d27","status":"Succeeded","startTime":"2022-03-16T14:21:13.62Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
