interactions:
- request:
    body: '{"location": "westeurope", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123", "minimalTlsVersion": "1.2",
      "administrators": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2024-11-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2025-08-04T06:50:58.887Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/755b1aa7-f31f-4a71-8c2a-4c1a60e4f812?api-version=2024-11-01-preview&t=638898870590790585&c=MIIIrzCCBpegAwIBAgITUQB_nY_WoSbNATDH2QABAH-djzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE4MTE0ODEyWhcNMjYwMTE0MTE0ODEyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/755b1aa7-f31f-4a71-8c2a-4c1a60e4f812?api-version=2024-11-01-preview&t=638898870590790585&c=MIIIrzCCBpegAwIBAgITUQB_nY_WoSbNATDH2QABAH-djzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHh[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2024-11-01-preview
  response:
    body:
      string: '{"kind":"v12.0","properties":{"administratorLogin":"admin123","version":"12.0","state":"Ready","fullyQualifiedDomainName":"clitestserver000002.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"1.2","publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled","externalGovernanceStatus":"Disabled"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002","name":"clitestserver000002","type":"Microsoft.Sql/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westeurope/capabilities?include=supportedEditions&api-version=2024-11-01-preview
  response:
    body:
      string: '{"name":"West Europe","supportedServerVersions":[{"name":"12.0","supportedEditions":[{"name":"System","supportedServiceLevelObjectives":[{"id":"26e021db-f1f9-4c98-84c6-92af8ef433d7","name":"System","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"limit":30,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":50,"unit":"Gigabytes"},"maxValue":{"limit":50,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":100,"unit":"Gigabytes"},"maxValue":{"limit":100,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":150,"unit":"Gigabytes"},"maxValue":{"limit":150,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":250,"unit":"Gigabytes"},"maxValue":{"limit":250,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"performanceLevel":{"value":0.0,"unit":"DTU"},"sku":{"name":"System","tier":"System","capacity":0},"supportedLicenseTypes":[],"zoneRedundant":true,"supportedMaintenanceConfigurations":[{"name":"SQL_Default","zoneRedundant":true,"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."}],"zonePinning":false,"supportedZones":[],"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"id":"29dd7459-4a7c-4e56-be22-f0adda49440d","name":"System0","supportedMaxSizes":[{"minValue":{"limit":5,"unit":"Gigabytes"},"maxValue":{"limit":5,"unit":"Gigabytes"},"scaleSize":{"limit":0,"unit":"Gigabytes"},"status":"Visible","reason":"''System''
        is not a valid database edition in this version of SQL Server."},{"minValue":{"limit":30,"unit":"Gigabytes"},"maxValue":{"lim[...]
- request:
    body: '{"location": "westeurope", "sku": {"name": "GP_Gen5_2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2024-11-01-preview
  response:
    body:
      string: '{"operation":"CreateLogicalDatabase","startTime":"2025-08-04T06:52:31.163Z"}'[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/d1d40b0d-0ee8-47c1-b919-1473eeeb6cf1?api-version=2024-11-01-preview&t=638898871513524645&c=MIIIrzCCBpegAwIBAgITUQB_nY_WoSbNATDH2QABAH-djzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2024-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"48bde6a4-29f0-4925-adb6-0995b5b37a32","creationDate":"2025-08-04T06:53:49.04Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"northeurope","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"availabilityZone":"NoPreference"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01/replicationLinks?api-version=2024-11-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/48c27710-977e-4548-bc35-348eaec7827d?api-version=2024-11-01-preview&t=638898872358959869&c=MIIIrzCCBpegAwIBAgITUQCB88G3Wuu2JddPiQABAIHzwTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01?api-version=2024-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"GP_S_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore,serverless","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"48bde6a4-29f0-4925-adb6-0995b5b37a32","creationDate":"2025-08-04T06:53:49.04Z","currentServiceObjectiveName":"GP_S_Gen5_2","requestedServiceObjectiveName":"GP_S_Gen5_2","defaultSecondaryLocation":"northeurope","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_S_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"autoPauseDelay":60,"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","minCapacity":0.5000,"maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false,"availabilityZone":"NoPreference"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/8f849e64-251f-45a4-afb5-38a5140bf66c?api-version=2024-11-01-preview&t=638898873064539046&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/c120cae4-7989-4450-b724-7083b46a0696?api-version=2024-11-01-preview&t=638898873301463327&c=MIIIrzCCBpegAwIBAgITUQB_nY_WoSbNATDH2QABAH-djzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQw[...]
[...]
