interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases?api-version=2020-11-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"lastAvailableBackupDate":"2023-04-12T01:45:20.6365911Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/newDb123","name":"newDb123","type":"Microsoft.Sql/managedInstances/recoverableDatabases"},{"properties":{"lastAvailableBackupDate":"2023-04-12T01:45:20.6365911Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/newDb129","name":"newDb129","type":"Microsoft.Sql/managedInstances/recoverableDatabases"},{"properties":{"lastAvailableBackupDate":"2023-04-12T01:45:20.6365911Z"},"id":"/subscriptions/00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/newDb123?api-version=2020-11-01-preview
  response:
    body:
      string: '{"properties":{"lastAvailableBackupDate":"2023-04-12T01:45:23.9467729Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/newDb123","name":"newDb123","type":"Microsoft.Sql/managedInstances/recoverableDatabases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance?api-version=2022-08-01-preview
  response:
    body:
      string: '{"identity":{"principalId":"acb1dc68-8084-47d1-b5a4-b5fc3bc4a95d","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"provisioningState":"Succeeded","fullyQualifiedDomainName":"autobot-managed-instance.1e6d90da5016.database.windows.net","administratorLogin":"cloudSA","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-tooling/subnets/ManagedInstance","state":"Ready","licenseType":"LicenseIncluded","vCores":4,"storageSizeInGB":992,"collation":"SQL_Latin1_General_CP1_CI_AS","dnsZone":"1e6d90da5016","publicDataEndpointEnabled":false,"proxyOverride":"Proxy","timezoneId":"UTC","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","privateEndpointConnections":[],"minimalTlsVersion":"1.1","currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","zoneRedundant":false,"servicePrincipal":{"principalId":"a053ec42-4d46-493b-8de9-8160a343c7b8","clientId":"2b27e858-50ec-4c23-98d5-d4257c58a104","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"}},"location":"westcentralus","tags":{"tagKey1":"TagValue1","dfdfd":"dfdfd"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance","name":"autobot-managed-instance","type":"Microsoft.Sql/managedInstances"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "properties": {"createMode": "Recovery",
      "recoverableDatabaseId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/newDb123"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db4?api-version=2022-08-01-preview
  response:
    body:
      string: '{"operation":"CreateManagedRecoverRequest","startTime":"2023-04-12T02:45:41.38Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/b57f62a7-9650-41b2-a75a-bf5e4a36dc6b?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseOperationResults/b57f62a7-9650-41b2-a75a-bf5e4a36dc6b?api-version=2022-08-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/b57f62a7-9650-41b2-a75a-bf5e4a36dc6b?api-version=2022-08-01-preview
  response:
    body:
      string: '{"name":"b57f62a7-9650-41b2-a75a-bf5e4a36dc6b","status":"InProgress","startTime":"2023-04-12T02:45:41.38Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db4?api-version=2022-08-01-preview
  response:
    body:
      string: '{"properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","status":"Online","creationDate":"2023-04-12T02:45:49.443Z","defaultSecondaryLocation":"westus2","isLedgerOn":false},"location":"westcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/databases/recovered_db4","name":"recovered_db4","type":"Microsoft.Sql/managedInstances/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
