interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-07-16T01:53:34Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "properties": {"source": "/subscriptions/00000000-0000-0000-0000-000000000000",
      "topicType": "Microsoft.PolicyInsights.PolicyStates"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/systemTopics/policy-system-topic-name-global?api-version=2020-10-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","source":"/subscriptions/00000000-0000-0000-0000-000000000000","topicType":"Microsoft.PolicyInsights.PolicyStates","metricResourceId":"27a8081e-1b45-4fd0-9279-eaa08af1a89c"},"location":"global","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/systemTopics/policy-system-topic-name-global","name":"policy-system-topic-name-global","type":"Microsoft.EventGrid/systemTopics"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/systemTopics/policy-system-topic-name-global?api-version=2020-10-15-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/operationsStatus/479075F2-3FA6-4CB3-8C91-CE525F6A3911?api-version=2020-10-15-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/operationResults/479075F2-3FA6-4CB3-8C91-CE525F6A3911?api-version=2020-10-15-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/operationsStatus/479075F2-3FA6-4CB3-8C91-CE525F6A3911?api-version=2020-10-15-preview
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/operationsStatus/479075F2-3FA6-4CB3-8C91-CE525F6A3911?api-version=2020-10-15-preview","name":"479075f2-3fa6-4cb3-8c91-ce525f6a3911","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "identity": {"type": "None"}, "properties":
      {"source": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.Storage/storageAccounts/clistgaccount",
      "topicType": "Microsoft.Storage.StorageAccounts"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002?api-version=2020-10-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","source":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.Storage/storageAccounts/clistgaccount","topicType":"Microsoft.Storage.StorageAccounts","metricResourceId":"50e96f1f-ec91-410c-9eed-3d916ecaf5c7"},"identity":{"type":"None","principalId":null,"tenantId":null,"userAssignedIdentities":null},"location":"centraluseuap","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/devexprg/providers/Microsoft.EventGrid/systemTopics/cli000002","name":"cli000002","type":"Microsoft.EventGrid/systemTopics"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/D1A252D8-E1B8-4404-8B5D-5DF385A4C757?api-version=2020-10-15-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/D1A252D8-E1B8-4404-8B5D-5DF385A4C757?api-version=2020-10-15-preview
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/D1A252D8-E1B8-4404-8B5D-5DF385A4C757?api-version=2020-10-15-preview","name":"d1a252d8-e1b8-4404-8b5d-5df385a4c757","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/62BBCDB4-3E90-49D5-903D-9F76738C1BB8?api-version=2020-10-15-preview
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/62BBCDB4-3E90-49D5-903D-9F76738C1BB8?api-version=2020-10-15-preview","name":"62bbcdb4-3e90-49d5-903d-9f76738c1bb8","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
