{
  "swagger": "2.0",
  "info": {
    "title": "AcsCreationClient",
    "version": "2015-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}": {
      "put": {
        "tags": [
          "Acs"
        ],
        "operationId": "Acs_CreateOrUpdate",
        "description": "Create a new Acs.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deployment.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "x-ms-client-flatten": true,
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment_Acs"
            },
            "description": "Additional parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Deployment_Acs": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties_Acs",
          "description": "Gets or sets the deployment properties.",
          "x-ms-client-flatten": true
        }
      },
      "description": "Deployment operation parameters."
    },
    "DeploymentProperties_Acs": {
      "properties": {
        "templateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink.",
          "x-ms-client-flatten": true
        },
        "parameters": {
          "$ref": "#/definitions/AcsParameters",
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
          "x-ms-client-flatten": true
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "required": [
        "templateLink",
        "parameters",
        "mode"
      ],
      "description": "Deployment properties."
    },
    "TemplateLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template.",
          "enum": [
            "https://azuresdkci.blob.core.windows.net/templatehost/CreateAcs_2016-10-18/azuredeploy.json"
          ]
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the template."
    },
    "AcsParameters": {
      "properties": {
        "adminUsername": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_adminUsername",
          "x-ms-client-flatten": true
        },
        "agentCount": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_agentCount",
          "x-ms-client-flatten": true
        },
        "agentVMSize": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_agentVMSize",
          "x-ms-client-flatten": true
        },
        "dnsNamePrefix": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_dnsNamePrefix",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_location",
          "x-ms-client-flatten": true
        },
        "masterCount": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_masterCount",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_name",
          "x-ms-client-flatten": true
        },
        "orchestratorType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_orchestratorType",
          "x-ms-client-flatten": true
        },
        "sshKeyValue": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_sshKeyValue",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_tags",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "name",
        "sshKeyValue",
        "dnsNamePrefix"
      ]
    },
    "DeploymentParameter_adminUsername": {
      "properties": {
        "value": {
          "type": "string",
          "description": "User name for the Linux Virtual Machines.",
          "x-ms-client-name": "adminUsername",
          "default": "azureuser"
        }
      }
    },
    "DeploymentParameter_agentCount": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The number of agents for the cluster.  Note, for DC/OS clusters you will also get 1 or 2 public agents in addition to these seleted masters.",
          "x-ms-client-name": "agentCount",
          "default": "3"
        }
      }
    },
    "DeploymentParameter_agentVMSize": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The size of the Virtual Machine.",
          "x-ms-client-name": "agentVMSize",
          "default": "Standard_D2_v2"
        }
      }
    },
    "DeploymentParameter_dnsNamePrefix": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Sets the Domain name prefix for the cluster.  The concatenation of the domain name and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address.",
          "x-ms-client-name": "dnsNamePrefix"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_location": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Location for VM resources.",
          "x-ms-client-name": "location"
        }
      }
    },
    "DeploymentParameter_masterCount": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The number of DC/OS masters for the cluster.",
          "x-ms-client-name": "masterCount",
          "default": "3"
        }
      }
    },
    "DeploymentParameter_name": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Resource name for the container service.",
          "x-ms-client-name": "name"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_orchestratorType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The type of orchestrator used to manage the applications on the cluster.",
          "x-ms-client-name": "orchestratorType",
          "enum": [
            "dcos",
            "swarm"
          ],
          "x-ms-enum": {
            "name": "orchestratorType",
            "modelAsString": false
          },
          "default": "dcos"
        }
      }
    },
    "DeploymentParameter_sshKeyValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Configure all linux machines with the SSH RSA public key string.  Your key should include three parts, for example 'ssh-rsa AAAAB...snip...UcyupgH azureuser@linuxvm",
          "x-ms-client-name": "sshKeyValue"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_tags": {
      "properties": {
        "value": {
          "type": "object",
          "description": "Tags object.",
          "x-ms-client-name": "tags"
        }
      }
    },
    "ParametersLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the deployment paramaters."
    },
    "ProviderResourceType": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the resource type."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the collection of locations where this resource type can be created in."
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the api version."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the properties."
        }
      },
      "description": "Resource type managed by the resource provider."
    },
    "Provider": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the provider id."
        },
        "namespace": {
          "type": "string",
          "description": "Gets or sets the namespace of the provider."
        },
        "registrationState": {
          "type": "string",
          "description": "Gets or sets the registration state of the provider."
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "description": "Gets or sets the collection of provider resource types."
        }
      },
      "description": "Resource provider information."
    },
    "BasicDependency": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "Dependency": {
      "properties": {
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicDependency"
          },
          "description": "Gets the list of dependencies."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "DeploymentPropertiesExtended": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the state of the provisioning."
        },
        "correlationId": {
          "type": "string",
          "description": "Gets or sets the correlation ID of the deployment."
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the timestamp of the template deployment."
        },
        "outputs": {
          "type": "object",
          "description": "Gets or sets key/value pairs that represent deploymentoutput."
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "description": "Gets the list of resource providers needed for the deployment."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          },
          "description": "Gets the list of deployment dependencies."
        },
        "template": {
          "type": "object",
          "description": "Gets or sets the template content. Use only one of Template or TemplateLink."
        },
        "TemplateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink."
        },
        "parameters": {
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink."
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink",
          "description": "Gets or sets the URI referencing the parameters. Use only one of Parameters or ParametersLink."
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "description": "Deployment properties with additional details."
    },
    "DeploymentExtended": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the deployment."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the deployment."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "Gets or sets deployment properties."
        }
      },
      "required": [
        "name"
      ],
      "description": "Deployment information."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}