interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1429194']
      ocp-aad-diagnostics-server-name: [p8RvcdTLxqNSTUtb10TXqbOosF7W/2ZiZB6fMTeOdnM=]
      ocp-aad-session-key: [HHxzUK_dySW3M-62aSpKVweDbMUFwwm8E-NUO9VmxJlt0rgFEpHoXMXyvB4otx8UJukp7mgzrnRfDRbXnPvwF9DuBfE0T7MGxPxY_yqMqR534SoQw0M9RPsx4Y_mxC716rWbNbdVpuooy9S01DD_LOb-cxFkxmaC1NaF9PoZhm5qiYDiirLGVfI-3rEq-QTDLgccYNi6GRjG4sLnirrbAw.QpWMvaxiWUwdz60FF2NTwl3fJWPDtLKuyX2oX6nCNoc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "passwordCredentials": [{"startDate":
      "2017-06-02T21:30:49.551299Z", "value": "78829a38-79cf-4c3c-95a2-aa61434abdfe",
      "endDate": "2018-06-02T21:30:49.551299Z", "keyId": "5a64f8ea-65ee-4db0-bb1f-65eded892323"}],
      "identifierUris": ["http://clitest000002"], "homepage": "http://azure-cli-2017-06-02-21-30-49",
      "displayName": "azure-cli-2017-06-02-21-30-49"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d3cdc37c-f8ad-456c-8422-2ffc4e8d2797","deletionTimestamp":null,"addIns":[],"appId":"83f93125-eb83-48cd-b337-c4918eb98422","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2017-06-02-21-30-49","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2017-06-02-21-30-49","identifierUris":["http://clitest000002"],"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-06-02-21-30-49 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-06-02-21-30-49","id":"6b28ec1a-b5c7-44bc-a03c-c12bee1d9dda","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-06-02-21-30-49 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-06-02-21-30-49","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2018-06-02T21:30:49.551299Z","keyId":"5a64f8ea-65ee-4db0-bb1f-65eded892323","startDate":"2017-06-02T21:30:49.551299Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4503243']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d3cdc37c-f8ad-456c-8422-2ffc4e8d2797/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [fcVKpTiyCCfKvFRoa9VsOHwp/gqYQpq53SpCg0Zgl2k=]
      ocp-aad-session-key: [UfP6WB0C6zkvyii5HIz-bS9PolXW0UqXXAhpOEKVGPguYehjm_Iw_Lh_Fi2xQQkijvi3bG9wqc5_G0W-W_rYkP9nfiYpkhZVOu0LdmBVjBFHoKrKM5iR_QVNU3-prioptF3P2DJFA6TnjAiwIRBWvijGS0eoIObbiKGLLY3ynCzuesOG3jejFYKsnW6wyPKMKZrXslemg53BoSIcs68L1g.bhK7oXabEgGvwClHrrWF-6MBQMHK7HlfPMq8yhyPfdM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": true, "appId": "83f93125-eb83-48cd-b337-c4918eb98422"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"9ac16b4d-2d39-4e4c-8cde-c6db9c229a88","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2017-06-02-21-30-49","appId":"83f93125-eb83-48cd-b337-c4918eb98422","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2017-06-02-21-30-49","errorUrl":null,"homepage":"http://azure-cli-2017-06-02-21-30-49","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-06-02-21-30-49 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-06-02-21-30-49","id":"6b28ec1a-b5c7-44bc-a03c-c12bee1d9dda","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-06-02-21-30-49 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-06-02-21-30-49","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["83f93125-eb83-48cd-b337-c4918eb98422","http://clitest000002"],"servicePrincipalType":"Application","tags":[]}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['2866622']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/9ac16b4d-2d39-4e4c-8cde-c6db9c229a88/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [p2NaZ5ydjavneyu4zRMy1gXJEs25Bc55kPa1lYyjYz8=]
      ocp-aad-session-key: [-bcuMJMovrVJhpP8z98r8ZRtV4M2oA3D3_fzHrWiu8xFJGrD3--JRBQjHc912msNGua0luuSELTG8XZ6sNpestQTb6_XsswraZwnX2vJzsW7OBw_BW3r-X_dChZQ4SzjWOALHzNjEjd3bVXj2p18zCw-chuTiAOtLlPIAduPRGUNpz12aV7oICQ2Gu69JIlPip03KVQz5tiGrjPua_n8Ww.1Th1PXCwr4eusTv-fwY-QdoCOoyoOCipMzpmambvzzM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorization":{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South"],"apiVersions":["2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"publicIPAddresses","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute","namespace":"Microsoft.Compute","authorization":{"applicationId":"60e6cd67-9c8c-4951-9b3c-23c25a2169af","roleDefinitionId":"e4770ac[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage","namespace":"Microsoft.Storage","authorization":{"applicationId":"a6aa9161-5291-40bb-8c5c-923b567bee3b","roleDefinitionId":"070ab87[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[{"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/9ac16b4d-2d39-4e4c-8cde-c6db9c229a88?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePri[...]
- request:
    body: 'b''b\''b\\\''{"properties": {"template": {"contentVersion": "1.0.0.0",
      "resources": [{"location": "[resourceGroup().location]", "properties": {"servicePrincipalProfile":
      {"Secret": "[parameters(\\\\\\\''clientSecret\\\\\\\'')]", "ClientId": "http://clitest000002"},
      "orchestratorProfile": {"orchestratorType": "kubernetes"}, "masterProfile":
      {"dnsPrefix": "cliacstest000003-clitest000001-0b1f64", "count": 1}, "linuxProfile":
      {"ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\\\\\n"}]}, "adminUsername": "azureuser"}, "windowsProfile":
      null, "agentPoolProfiles": [{"count": 3, "name": "agentpools", "dnsPrefix":
      "cliacstest000003-clitest000001-0b1f64-k8s-agents", "osType": "Linux", "vmSize":
      "Standard_D2_v2"}]}, "name": "cliacstest000003", "apiVersion": "2017-01-31",
      "type": "Microsoft.ContainerService/containerServices", "tags": null}], "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {"clientSecret": {"metadata": {"description": "The client secret
      for the service principal"}, "type": "secureString"}}}, "parameters": {"clientSecret":
      {"value": "78829a38-79cf-4c3c-95a2-aa61434abdfe"}}, "mode": "Incremental"}}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1496439051.413797959264","name":"azurecli1496439051.413797959264","properties":{"templateHash":"12741743553703022655","parameters":{"clientSecret":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-02T21:30:55.3489363Z","duration":"PT0.3102529S","correlationId":"ba295ad1-f2d8-4fb1-ac67-fdbd31e3b17a","providers":[{"namespace":"Microsoft.ContainerService","resourceTypes":[{"resourceType":"containerServices","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1496439051.413797959264/operationStatuses/08587051678304389276?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587051678304389276?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1496439051.413797959264","name":"azurecli1496439051.413797959264","properties":{"templateHash":"12741743553703022655","parameters":{"clientSecret":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-06-02T21:36:58.1095169Z","duration":"PT6M3.0708335S","correlationId":"ba295ad1-f2d8-4fb1-ac67-fdbd31e3b17a","providers":[{"namespace":"Microsoft.ContainerService","resourceTypes":[{"resourceType":"containerServices","locations":["westus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/containerServices/cliacstest000003"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2783f93125-eb83-48cd-b337-c4918eb98422%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Micr[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%279ac16b4d-2d39-4e4c-8cde-c6db9c229a88%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/d3cdc37c-f8ad-456c-8422-2ffc4e8d2797?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['3409531']
      ocp-aad-diagnostics-server-name: [MsXrXqRr2XhB/x5Se0GUCTyV+c0yaY79A55rD/BrsRw=]
      ocp-aad-session-key: [p8XV4M4MTNEH_U2olOz833qn_nj097qb9JGr7VMlip-kkCy1RQR5jjs152FSENClqgqLdQbPqehGARtk2qiXIVBJBw1kcKwTFkCqiBpC1_rUm5BgGwutKfuTt7_8JOMO-oCATIsf8ImbhC0dfQUQwOUgTNRDkj6deLuv3CPVs6VfTCVsjMUdBwpYKMr9w8YVDK4FocXJYNsAH0fZycnkLw._d85eWlMyH0GUDG62z8hyBdx2v6IWC2k273JvQHwfQM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUSENQS09SU01YQzNXNVQzNlBNSUdESk8tV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2017-05-10']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
version: 1
