interactions:
- request:
    body: '{"location": "eastus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['965249']
      ocp-aad-diagnostics-server-name: [CCXOF6rt6Xl8XB3GXCt/tnQbRKpxWms12kSO3g305EI=]
      ocp-aad-session-key: [8Q5FR6h7B6Ab9tLDnO1rRu0jyPnQCJdOE2Vs-lT7LZhmEsi0Si4eVb8goXXcL_3CstUPoNc9dcvcVe4G9mk9x3-QSKrlRzjnC6HD8f9jD1kX15UAnB0qhgSUGQ3ahaadH3ReLUtHUWZtszx19v9s9w.AOAesfMrip0UxcASbENRsI-n4swXgUNycAQpasFudBU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "azure-cli-2017-12-07-20-05-46",
      "homepage": "http://azure-cli-2017-12-07-20-05-46", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2017-12-07T20:05:46.09493499999999999Z",
      "endDate": "2018-12-07T20:05:46.09493499999999999Z", "keyId": "9a0e2341-8f6c-4404-9fb5-7bec1ff085ef",
      "value": "f46ef0c7-affc-40de-a510-33fd38a8fb4c"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"2af5f880-2308-4b89-9201-21a12af0c317","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"9f7e7368-09f1-492f-b666-e937a07817ff","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2017-12-07-20-05-46","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2017-12-07-20-05-46","identifierUris":["http://clitest000002"],"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-12-07-20-05-46 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-12-07-20-05-46","id":"24a85c51-1021-46e3-bd60-9041689111d2","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-12-07-20-05-46 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-12-07-20-05-46","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2018-12-07T20:05:46.094935Z","keyId":"9a0e2341-8f6c-4404-9fb5-7bec1ff085ef","startDate":"2017-12-07T20:05:46.094935Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['8438990']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/2af5f880-2308-4b89-9201-21a12af0c317/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [EeI8gQHBp2jVlJYTfebjSX2Tr+jMBmDC10RD24sUO18=]
      ocp-aad-session-key: [LguUYflVFKUi8LguX_lZGcTX3aY1CZ_DRNv4JjUjZ55JQhaB5LHltbf4sZ6f_JI4ENCo8jlOwDG47pg1AFF8mKzfhOA1J5kl8Qp_lWrsDiapv9Ojb6vtmGAFCGG3f3_m2m-kmKjXPHxLpQ0yAiK9AA.0Qm5kOxyr0zulEUAnlyshv9haPybjqVywjPrsDOkcnc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "9f7e7368-09f1-492f-b666-e937a07817ff", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"5d64e908-0191-44a5-8bff-f92e43b1b561","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2017-12-07-20-05-46","appId":"9f7e7368-09f1-492f-b666-e937a07817ff","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2017-12-07-20-05-46","errorUrl":null,"homepage":"http://azure-cli-2017-12-07-20-05-46","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-12-07-20-05-46 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-12-07-20-05-46","id":"24a85c51-1021-46e3-bd60-9041689111d2","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-12-07-20-05-46 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-12-07-20-05-46","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["9f7e7368-09f1-492f-b666-e937a07817ff","http://clitest000002"],"servicePrincipalType":"Application","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['6852896']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/5d64e908-0191-44a5-8bff-f92e43b1b561/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [IMwhZ7re0vXZKhEwYqVrwiyjRVhRmebmFUlFEPOwZ+o=]
      ocp-aad-session-key: [UMvfmZLFDdKFfPQTVWjfpYvqNsttvV_NKaqXBWUoYZIahTto77ICRtpMWnyqEUjZtaIuwsW_719IlNS_jJ_hoCFs8r_TM3gaBN4EUmM-yn_hi9jLIN9ZLd6PnNX9tQHLEXLCbe-7b56eSdMnWMdVPw.0ygIrbeMz6Ol1SqPs2JqdGia_q7kU5pGzEcOdoRdQqU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-12-14T02:04:45.1393855Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "5d64e908-0191-44a5-8bff-f92e43b1b561"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/e698bc62-04d8-4b83-8dd8-b2a99c4bff43?api-version=2015-07-01
  response:
    body: {string: '{"error":{"code":"PrincipalNotFound","message":"Principal 5d64e908019144a58bfff92e43b1b561
        does not exist in the directory 72f988bf-86f1-41af-91ab-2d7cd011db47."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "5d64e908-0191-44a5-8bff-f92e43b1b561"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/d0c87cf2-80b5-439c-abe7-2236f8437d92?api-version=2015-07-01
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"5d64e908-0191-44a5-8bff-f92e43b1b561","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2017-12-07T20:06:25.5953060Z","updatedOn":"2017-12-07T20:06:25.5953060Z","createdBy":null,"updatedBy":"856c5a9a-1657-4536-a0a2-cfab2084cf26"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/d0c87cf2-80b5-439c-abe7-2236f8437d92","type":"Microsoft.Authorization/roleAssignments","name":"d0c87cf2-80b5-439c-abe7-2236f8437d92"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
      x-ms-request-charge: ['3']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2017-01-31", "location":
      "eastus", "type": "Microsoft.ContainerService/containerServices", "name": "acs000003",
      "tags": null, "properties": {"orchestratorProfile": {"orchestratorType": "Kubernetes"},
      "masterProfile": {"count": 1, "dnsPrefix": "acsjisol6a-clitestyerxdbmtq-e240e5mgmt"},
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_D2_v2", "osType": "Linux",
      "dnsPrefix": "acsjisol6a-clitestyerxdbmtq-e240e5agent", "name": "agentpool0"}],
      "linuxProfile": {"ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}, "adminUsername": "azureuser"}, "servicePrincipalProfile":
      {"clientId": "http://clitest000002", "secret": "[parameters(\\\''clientSecret\\\'')]"}}}],
      "outputs": {"masterFQDN": {"type": "string", "value": "[reference(concat(\\\''Microsoft.ContainerService/containerServices/\\\'',
      \\\''acs000003\\\'')).masterProfile.fqdn]"}, "sshMaster0": {"type": "string",
      "value": "[concat(\\\''ssh \\\'', \\\''azureuser\\\'', \\\''@\\\'', reference(concat(\\\''Microsoft.ContainerService/containerServices/\\\'',
      \\\''acs000003\\\'')).masterProfile.fqdn, \\\'' -A -p 22\\\'')]"}}, "parameters":
      {"clientSecret": {"type": "secureString", "metadata": {"description": "The client
      secret for the service principal"}}}}, "parameters": {"clientSecret": {"value":
      "f46ef0c7-affc-40de-a510-33fd38a8fb4c"}}, "mode": "Incremental"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1512677188.45830495597","name":"azurecli1512677188.45830495597","properties":{"templateHash":"11299940196285085086","parameters":{"clientSecret":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-12-07T20:06:31.1651913Z","duration":"PT0.6688744S","correlationId":"d800719d-6e0b-414b-af8d-6590c879198d","providers":[{"namespace":"Microsoft.ContainerService","resourceTypes":[{"resourceType":"containerServices","locations":["eastus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1512677188.45830495597/operationStatuses/08586889296949812974?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586889296949812974?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1512677188.45830495597","name":"azurecli1512677188.45830495597","properties":{"templateHash":"11299940196285085086","parameters":{"clientSecret":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-12-07T20:15:29.2191672Z","duration":"PT8M58.7228503S","correlationId":"d800719d-6e0b-414b-af8d-6590c879198d","providers":[{"namespace":"Microsoft.ContainerService","resourceTypes":[{"resourceType":"containerServices","locations":["eastus"]}]}],"dependencies":[],"outputs":{"masterFQDN":{"type":"String","value":"acsjisol6a-clitestyerxdbmtq-e240e5mgmt.eastus.cloudapp.azure.com"},"sshMaster0":{"type":"String","value":"ssh
        azureuser@acsjisol6a-clitestyerxdbmtq-e240e5mgmt.eastus.cloudapp.azure.com
        -A -p 22"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/containerServices/acs000003"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%279f7e7368-09f1-492f-b666-e937a07817ff%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/5d64e908-0191-44a5-8bff-f92e43b1b561?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePri[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Micr[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%275d64e908-0191-44a5-8bff-f92e43b1b561%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"5d64e908-0191-44a5-8bff-f92e43b1b561","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2017-12-07T20:06:27.6578653Z","updatedOn":"2017-12-07T20:06:27.6578653Z","createdBy":"856c5a9a-1657-4536-a0a2-cfab2084cf26","updatedBy":"856c5a9a-1657-4536-a0a2-cfab2084cf26"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/d0c87cf2-80b5-439c-abe7-2236f8437d92","type":"Microsoft.Authorization/roleAssignments","name":"d0c87cf2-80b5-439c-abe7-2236f8437d92"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01
  response:
    body: {string: "{\"value\":[{\"properties\":{\"roleName\":\"Azure Service Deploy\
        \ Release Management Contributor\",\"type\":\"CustomRole\",\"description\"\
        :\"Contributor role for services deploy[...]
- request:
    body: '{"objectIds": ["5d64e908-0191-44a5-8bff-f92e43b1b561"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"5d64e908-0191-44a5-8bff-f92e43b1b561[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/2af5f880-2308-4b89-9201-21a12af0c317?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['3834440']
      ocp-aad-diagnostics-server-name: [3/hPBrNk3bWDiI3Le668U3KnfkdAVCOsHPHBA7wvvMs=]
      ocp-aad-session-key: [4rFy5gVKu1Mj3W_3NGBeB80vjDARiegPGXm8oIrpgnZ7tVjj5RqVbN7gwTxBNy8sdrWb3dDKdqG0aG4snPUypBjWmAA_yE-iG9bosrNPcqChJ5iPqwsO-omMBfxW4qAAJ2_ItXXBGdr-Ng1PThW71A.vtc7Sd0PoQekQMdAGy8JJjccc6XaTYlEDQc_0RhAFdM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUWUVSWERCTVRRUi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 202, message: Accepted}
version: 1
