interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "eastus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['555447']
      ocp-aad-diagnostics-server-name: [Wvx7TZ/eEDk0k41ajYvQwgwehU+KM5tQhOMjjNrsD6E=]
      ocp-aad-session-key: [SFgW5cFdHc44G13KzGO0D51_U_40mnZgdbGRwTszaQuQcJDid7cNoTpB8c7dld_De6K60PuMeYrSh6Po9PmHUaktjKniBKF2hKOLMvAjE3Oa6xQocdWF2XsBX2ineRZsjdSbFvzdsQ2sjem-cRQWDQIsSl9y9soCN2kBWsf6_9JRNRpy6eBrHX3exT93x3lvkv1wKCynyfyNYCAnEpuGdQ.Or7Q7oCau1HbL-QckpojLp2nnm1Ewd69jINZPoRzpIM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "http://azure-cli-2017-12-19-17-15-01",
      "passwordCredentials": [{"value": "1efda9b5-605e-4e05-a0d1-748451200170", "endDate":
      "2018-12-19T17:15:01.26775499999999997Z", "startDate": "2017-12-19T17:15:01.26775499999999997Z",
      "keyId": "def10d3b-95ca-40c8-9811-3accff5385aa"}], "displayName": "azure-cli-2017-12-19-17-15-01",
      "identifierUris": ["http://clitest000002"]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"65ca141e-2831-40cd-a1c1-ad50ee5decd2","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"1ad9ddad-fac5-4ba8-8efe-b597b44779cd","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2017-12-19-17-15-01","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2017-12-19-17-15-01","identifierUris":["http://clitest000002"],"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-12-19-17-15-01 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-12-19-17-15-01","id":"8c8a9f1c-50bf-4846-9b31-58913601cb4a","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-12-19-17-15-01 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-12-19-17-15-01","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2018-12-19T17:15:01.267755Z","keyId":"def10d3b-95ca-40c8-9811-3accff5385aa","startDate":"2017-12-19T17:15:01.267755Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['3408784']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/65ca141e-2831-40cd-a1c1-ad50ee5decd2/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [3fY/YTKtktC55i2uj7nRnEH4MiQwtS8nnnh325mrC/0=]
      ocp-aad-session-key: [3XIROpmub7PbXHYU8BWp9ersTceFTljNOvKN88lGiKlVepUMSkEj-wVFFh2hpWPL-pt3rY092-9Yz6dFs0AzztHNbjdsQ73v37Zw_zwkGb6Ps0fTo1Pv9oVncEnf-xTNAsxndxAgH1r7imqKEcwK1QuV87a0jtTE6TaS835q4amRSNx32-lVSK0FLsry9OAiFn6fOH4ch-KZHR1rcykMAQ.xmGDuPEuMOm0mOJBrIJ-F7KAiRa1HNpbAHX8PYiPZ9s]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": true, "appId": "1ad9ddad-fac5-4ba8-8efe-b597b44779cd"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"3dd3b4fb-ff07-43b3-be9a-ef7c5d8a3016","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2017-12-19-17-15-01","appId":"1ad9ddad-fac5-4ba8-8efe-b597b44779cd","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2017-12-19-17-15-01","errorUrl":null,"homepage":"http://azure-cli-2017-12-19-17-15-01","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2017-12-19-17-15-01 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2017-12-19-17-15-01","id":"8c8a9f1c-50bf-4846-9b31-58913601cb4a","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2017-12-19-17-15-01 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2017-12-19-17-15-01","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["1ad9ddad-fac5-4ba8-8efe-b597b44779cd","http://clitest000002"],"servicePrincipalType":"Application","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['6164191']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/3dd3b4fb-ff07-43b3-be9a-ef7c5d8a3016/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [iUCToieh4IKXIOoJntqjXoh63Z/enMeJQEiSyJTTb2s=]
      ocp-aad-session-key: [3vM0ToH0J4jXthxOIbteLLmaVRm5i3ETaxP5NBpNkC1qLJS5uo1XdTxYsN6z03yD9GWLV1dHp2t3LENbcIR8gLH8gCPRl3A2CY738PM32JvR_8o_V0F0cl-VJWcbNm_VDOrmvpowrXDcfeh6i0YO1Njubo4eN1ZLgRcWVuTy5RK5tPyrKcipQppp6rdhjyuocNe7yYdZZKfQt_H6PAhgFw.2FhowyBa-5zTYTtNBsLDim1FBhHkyv-KpL3RD-TqlH0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''{"properties": {"parameters": {"clientSecret": {"value": "1efda9b5-605e-4e05-a0d1-748451200170"}},
      "mode": "Incremental", "template": {"parameters": {"clientSecret": {"metadata":
      {"description": "The client secret for the service principal"}, "type": "secureString"}},
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "outputs": {"sshMaster0": {"value": "[concat(\\\''ssh
      \\\'', \\\''azureuser\\\'', \\\''@\\\'', reference(concat(\\\''Microsoft.ContainerService/containerServices/\\\'',
      \\\''acs000003\\\'')).masterProfile.fqdn, \\\'' -A -p 22\\\'')]", "type": "string"},
      "masterFQDN": {"value": "[reference(concat(\\\''Microsoft.ContainerService/containerServices/\\\'',
      \\\''acs000003\\\'')).masterProfile.fqdn]", "type": "string"}}, "resources":
      [{"apiVersion": "2017-01-31", "tags": null, "name": "acs000003", "properties":
      {"masterProfile": {"dnsPrefix": "acsh27exsd-clitesttb3eljjkj-0b1f64mgmt", "count":
      1}, "agentPoolProfiles": [{"vmSize": "Standard_D2_v2", "name": "agentpool0",
      "dnsPrefix": "acsh27exsd-clitesttb3eljjkj-0b1f64agent", "count": 3, "osType":
      "Linux"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "orchestratorProfile": {"orchestratorType": "Kubernetes"},
      "servicePrincipalProfile": {"clientId": "http://clitest000002", "secret": "[parameters(\\\''clientSecret\\\'')]"}},
      "type": "Microsoft.ContainerService/containerServices", "location": "eastus"}]}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1513703703.325679348460","name":"azurecli1513703703.325679348460","properties":{"templateHash":"5834086347957428044","parameters":{"clientSecret":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-12-19T17:15:07.0754804Z","duration":"PT1.8851012S","correlationId":"35af2447-d347-4732-b0df-86dc9ce85114","providers":[{"namespace":"Microsoft.ContainerService","resourceTypes":[{"resourceType":"containerServices","locations":["eastus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/azurecli1513703703.325679348460/operationStatuses/08586879031802872325?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586879031802872325?api-version=2017-05-10
  response:
    body: {string: '{"status":"Failed","error":{"code":"DeploymentFailed","message":"At
        least one resource deployment operation failed. Please list deployment operations
        for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest","message":"{\r\n  \"error\":
        {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"The credentials in
        ServicePrincipalProfile were invalid. Please see https://aka.ms/acs-sp-help
        for more details. (Details: AADSTS70001: Application with identifier ''http://clitest000002''
        was not found in the directory 54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\\r\\nTrace
        ID: b7d79f3f-a099-41de-8fb4-2802f73c1800\\r\\nCorrelation ID: 57cb4b0e-6226-419e-80c9-9b2121f90b8c\\r\\nTimestamp:
        2017-12-19 17:15:14Z)\"\r\n  }\r\n}"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%271ad9ddad-fac5-4ba8-8efe-b597b44779cd%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/3dd3b4fb-ff07-43b3-be9a-ef7c5d8a3016?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePri[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Micr[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01&$filter=principalId%20eq%20%273dd3b4fb-ff07-43b3-be9a-ef7c5d8a3016%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/65ca141e-2831-40cd-a1c1-ad50ee5decd2?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['2361096']
      ocp-aad-diagnostics-server-name: [kQP65pG3sArWTFk/iVS6LhYm7QqKArO0K68zZaYvVBc=]
      ocp-aad-session-key: [XlfUPPUtR76C1-zyCKG-rrnBRCQyjnXkq01cvcQhMxOavGcVVNV2LvGgQQFwEIr-oNnC74Bv82G8Tfi_1pKvPlX717DVEssW8drEY-xPtZbV3gM68NYMgW0FEl4EvdYwFrrGVs1dxuxklXrWWqjhyWQjGo2y-PT6K7L3p33CPr-NXYhAmIklgE_7xeorRX6BTtO65Z-URo2VhZ-U6rzbKQ.mBGTC9Ba8vvyqM4X2z3Y85dlvrW59j5WNREiW-ljVhA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUVEIzRUxKSktKMi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
