interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"managementGroups","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"getEntities","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview"]},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview"]},{"resourceType":"operationResults","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview"]},{"resourceType":"operations","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"tenantBackfillStatus","locations":[],"apiVersions":["2018-03-01-preview"]},{"resourceType":"startTenantBackfill","locations":[],"apiVersions":["2018-03-01-preview"]}],"registrationState":"Registered"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId"[...]
- request:
    body: '{"name": "testcligetgroup1", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/testcligetgroup1?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup1","type":"/providers/Microsoft.Management/managementGroups","name":"testcligetgroup1","status":"NotStarted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligetgroup1?api-version=2018-03-01-preview']
      x-ba-restapi: [1.0.3.731]
      x-ms-ratelimit-remaining-tenant-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligetgroup1?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup1","type":"/providers/Microsoft.Management/managementGroups","name":"testcligetgroup1","status":"Succeeded","properties":{"tenantId":"dbe499da-a935-4b9f-b4e2-5377e76aaeef","displayName":"testcligetgroup1","details":{"version":1,"updatedTime":"2018-06-12T23:11:40.3460532Z","updatedBy":"c243d53f-e5c5-41c2-8a67-6ed2030f73fe","parent":{"id":"/providers/Microsoft.Management/managementGroups/dbe499da-a935-4b9f-b4e2-5377e76aaeef","name":"dbe499da-a935-4b9f-b4e2-5377e76aaeef","displayName":"Tenant
        Root Group"}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.731]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/testcligetgroup2?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligetgroup2","type":"/providers/Microsoft.Management/managementGroups","name":"testcligetgroup2","status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.731]
    status: {code: 200, message: OK}
[...]
