interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"managementGroups","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"getEntities","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview"]},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview"]},{"resourceType":"operationResults","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview"]},{"resourceType":"operations","locations":[],"apiVersions":["2018-03-01-preview","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"]},{"resourceType":"tenantBackfillStatus","locations":[],"apiVersions":["2018-03-01-preview"]},{"resourceType":"startTenantBackfill","locations":[],"apiVersions":["2018-03-01-preview"]}],"registrationState":"Registered"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId"[...]
- request:
    body: '{"name": "testcligroup", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/testcligroup?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligroup","type":"/providers/Microsoft.Management/managementGroups","name":"testcligroup","status":"NotStarted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligroup?api-version=2018-03-01-preview']
      x-ba-restapi: [1.0.3.726]
      x-ms-ratelimit-remaining-tenant-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligroup?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligroup","type":"/providers/Microsoft.Management/managementGroups","name":"testcligroup","status":"Succeeded","properties":{"tenantId":"a6d629b5-ddc2-4f88-8bb5-5a68fd6adae2","displayName":"testcligroup","details":{"version":4,"updatedTime":"2018-05-31T18:34:18.3770105Z","updatedBy":"a320fc00-4c5f-4d70-9648-593b5877c7da","parent":{"id":"/providers/Microsoft.Management/managementGroups/a6d629b5-ddc2-4f88-8bb5-5a68fd6adae2","name":"a6d629b5-ddc2-4f88-8bb5-5a68fd6adae2","displayName":"Tenant
        Root Group"}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.726]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "testcligroupchild", "properties": {"displayName": "testcligroupchildDisplayName",
      "details": {"parent": {"id": "/providers/Microsoft.Management/managementGroups/testcligroup"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/testcligroupchild?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligroupchild","type":"/providers/Microsoft.Management/managementGroups","name":"testcligroupchild","status":"NotStarted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligroupchild?api-version=2018-03-01-preview']
      x-ba-restapi: [1.0.3.726]
      x-ms-ratelimit-remaining-tenant-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/testcligroupchild?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligroupchild","type":"/providers/Microsoft.Management/managementGroups","name":"testcligroupchild","status":"Succeeded","properties":{"tenantId":"a6d629b5-ddc2-4f88-8bb5-5a68fd6adae2","displayName":"testcligroupchildDisplayName","details":{"version":1,"updatedTime":"2018-05-31T18:34:43.301862Z","updatedBy":"a320fc00-4c5f-4d70-9648-593b5877c7da","parent":{"id":"/providers/Microsoft.Management/managementGroups/testcligroup","name":"testcligroup","displayName":"testcligroup"}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.726]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/testcligroupchild?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligroupchild","type":"/providers/Microsoft.Management/managementGroups","name":"testcligroupchild","status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.726]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/testcligroup?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/providers/Microsoft.Management/managementGroups/testcligroup","type":"/providers/Microsoft.Management/managementGroups","name":"testcligroup","status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ba-restapi: [1.0.3.726]
    status: {code: 200, message: OK}
version: 1
