interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-07-12T01:31:43Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001","name":"cli_test_on_error_deployment_lastsuccessful000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-07-12T01:31:43Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
      "contentVersion": "1.0.0.0", "resources": []}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002","name":"azure-cli-deployment000002","properties":{"templateHash":"2567930156074384302","mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-07-12T01:31:46.7253723Z","duration":"PT0.37042S","correlationId":"e8915be0-29f3-41c1-b8f1-09ea7c8ff032","providers":[],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002/operationStatuses/08586702477791226365?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586702477791226365?api-version=2018-05-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002","name":"azure-cli-deployment000002","properties":{"templateHash":"2567930156074384302","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-07-12T01:31:52.7471192Z","duration":"PT6.3921669S","correlationId":"e8915be0-29f3-41c1-b8f1-09ea7c8ff032","providers":[],"dependencies":[],"outputResources":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
      "contentVersion": "1.0.0.0", "resources": []}, "parameters": {}, "mode": "Incremental",
      "onErrorDeployment": {"type": "LastSuccessful"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000003","name":"azure-cli-deployment000003","properties":{"templateHash":"2567930156074384302","mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-07-12T01:32:20.1291802Z","duration":"PT0.5073817S","correlationId":"719d17c5-4da1-4f6c-a172-eceaf93a709d","providers":[],"dependencies":[],"onErrorDeployment":{"type":"LastSuccessful","deploymentName":"azure-cli-deployment000002"}}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000003/operationStatuses/08586702477458557959?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGT046NUZFUlJPUjo1RkRFUExPWU1FTlQ6NUZMQVNUU1VDQ3w0OTQ0MjQyMDkxMzJGN0M3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
