interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/latest?api-version=2018-03-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201705-217089190378988","type":"Microsoft.Billing/invoices","name":"201705-217089190378988","properties":{"downloadUrl":{"expiryTime":"2017-05-17T02:55:46Z","url":"https://billinginsightsstore02.blob.core.windows.net/invoices/f515e8e7-163d-4634-8b1d-e09d3fb4e866-201705-217089190378988.pdf?sv=2014-02-14&sr=b&sig=Cghf8nJEDGR%2BVUpD8%2Fe5pqw2krhxYvGPMbf9XNhsP98%3D&se=2017-05-17T02%3A55%3A46Z&sp=r"},"invoicePeriodEndDate":"2017-04-26","invoicePeriodStartDate":"2017-03-27","billingPeriodIds":["/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201705-1"]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['99']
    status: {code: 200, message: OK}
version: 1
