interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-02-05T07:06:04Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-02-05T07:06:04Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2018-07-12
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.botframework.com/api/misc/botFileEncryptionKey
  response:
    body: {string: '"L+3kab3P+DLIA6sPNDgp+4gbqmc6pq8NjvkjStIuv2Q="'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"botEnv": {"type": "string", "defaultValue":
      "prod"}, "botId": {"type": "string"}, "description": {"type": "string", "defaultValue":
      ""}, "location": {"type": "string"}, "sku": {"type": "string"}, "kind": {"type":
      "string"}, "siteName": {"type": "string"}, "createNewStorage": {"type": "bool"},
      "storageAccountName": {"type": "string"}, "storageAccountResourceId": {"type":
      "string", "defaultValue": ""}, "appId": {"type": "string", "defaultValue": "1234"},
      "appSecret": {"type": "string", "defaultValue": "blank"}, "azureWebJobsBotFrameworkDirectLineSecret":
      {"type": "string", "defaultValue": ""}, "zipUrl": {"type": "string", "defaultValue":
      ""}, "proactiveZipUrl": {"type": "string", "defaultValue": ""}, "useAppInsights":
      {"type": "bool"}, "appInsightsLocation": {"type": "string"}, "serverFarmId":
      {"type": "string"}, "createServerFarm": {"type": "bool"}, "serverFarmLocation":
      {"type": "string", "defaultValue": ""}, "serverFarmSku": {"type": "object",
      "defaultValue": {"name": "S1", "tier": "Standard", "size": "S1", "family": "S",
      "capacity": 1}}, "endpoint": {"type": "string", "defaultValue": ""}, "luisApiLocation":
      {"type": "string", "defaultValue": "Global"}, "botFileEncryptionKey": {"type":
      "string", "defaultValue": ""}}, "variables": {"storageAccountType": "Standard_LRS",
      "storageAccountId": "[if(or(parameters(\\\''createNewStorage\\\''), equals(\\\''\\\'',
      parameters(\\\''storageAccountResourceId\\\''))), resourceId(\\\''Microsoft.Storage/storageAccounts\\\'',
      parameters(\\\''storageAccountName\\\'')), parameters(\\\''storageAccountResourceId\\\''))]",
      "serverFarmName": "[last(split(parameters(\\\''serverFarmId\\\''), \\\''/\\\''))]",
      "myWorkerSize": 0, "proactiveFunctionName": "[concat(parameters(\\\''siteName\\\''),
      \\\''-function\\\'')]", "insightsName": "[parameters(\\\''botId\\\'')]", "config":
      {"scratch": {"stateEndpoint": "https://intercom-api-scratch.azurewebsites.net",
      "azureWebJobsBotFrameworkDirectLineEndpoint": "https://directline.scratch.botframework.com/",
      "blobStoreName": "icscratch", "openIdMetadata": "https://intercom-api-ppe.azurewebsites.net/v1/.well-known/openidconfiguration"},
      "ppe": {"stateEndpoint": "https://intercom-api-ppe.azurewebsites.net", "azureWebJobsBotFrameworkDirectLineEndpoint":
      "https://directline.ppe.botframework.com/", "blobStoreName": "intercomppe",
      "openIdMetadata": "https://intercom-api-ppe.azurewebsites.net/v1/.well-known/openidconfiguration"},
      "prod": {"stateEndpoint": "", "azureWebJobsBotFrameworkDirectLineEndpoint":
      "https://directline.botframework.com/", "blobStoreName": "connectorprod", "openIdMetadata":
      ""}}, "botAppKinds": {"function": "functionapp", "sdk": "app", "designer": "app",
      "bot": ""}, "botAppKind": "[variables(\\\''botAppKinds\\\'')[parameters(\\\''kind\\\'')]]",
      "currentConfig": "[variables(\\\''config\\\'')[toLower(parameters(\\\''botEnv\\\''))]]",
      "siteHost": "[concat(parameters(\\\''siteName\\\''), \\\''.azurewebsites.net\\\'')]",
      "botEndpointConfig": {"bot": "[parameters(\\\''endpoint\\\'')]", "sdk": "[concat(\\\''https://\\\'',
      variables(\\\''siteHost\\\''), \\\''/api/messages\\\'')]", "designer": "[concat(\\\''https://\\\'',
      variables(\\\''siteHost\\\''), \\\''/api/messages\\\'')]", "function": "[concat(\\\''https://\\\'',
      variables(\\\''siteHost\\\''), \\\''/api/messages?code=\\\'', \\\''NYI\\\'')]"},
      "botEndpoint": "[variables(\\\''botEndpointConfig\\\'')[parameters(\\\''kind\\\'')]]",
      "luisApiName": "", "luisApiResId": "[resourceId(\\\''Microsoft.CognitiveServices/accounts/\\\'',
      variables(\\\''luisApiName\\\''))]"}, "resources": [{"name": "[if(equals(\\\''\\\'',
      variables(\\\''luisApiName\\\'')), \\\''nosuch\\\'', variables(\\\''luisApiName\\\''))]",
      "apiVersion": "2017-04-18", "condition": "[not(equals(variables(\\\''luisApiName\\\''),
      \\\''\\\''))]", "type": "Microsoft.CognitiveServices/accounts", "location":
      "[parameters(\\\''luisApiLocation\\\'')]", "sku": {"name": "F0"}, "kind": "LUIS",
      "properties": {}}, {"type": "Microsoft.Storage/storageAccounts", "condition":
      "[parameters(\\\''createNewStorage\\\'')]", "name": "[parameters(\\\''storageAccountName\\\'')]",
      "apiVersion": "2015-05-01-preview", "location": "[parameters(\\\''location\\\'')]",
      "properties": {"accountType": "[variables(\\\''storageAccountType\\\'')]"}},
      {"type": "Microsoft.Web/serverfarms", "condition": "[parameters(\\\''createServerFarm\\\'')]",
      "name": "[variables(\\\''serverFarmName\\\'')]", "apiVersion": "2016-09-01",
      "location": "[parameters(\\\''serverFarmLocation\\\'')]", "sku": "[parameters(\\\''serverFarmSku\\\'')]",
      "properties": {"name": "[variables(\\\''serverFarmName\\\'')]"}}, {"name": "[variables(\\\''insightsName\\\'')]",
      "type": "microsoft.insights/components", "kind": "web", "apiVersion": "2014-04-01",
      "condition": "[parameters(\\\''useAppInsights\\\'')]", "location": "[parameters(\\\''appInsightsLocation\\\'')]",
      "tags": {"[concat(\\\''hidden-link:\\\'', resourceId(\\\''Microsoft.BotService/botServices/\\\'',
      parameters(\\\''botId\\\'')))]": "Resource", "[concat(\\\''hidden-link:\\\'',
      resourceId(\\\''Microsoft.Web/sites/\\\'', parameters(\\\''siteName\\\'')))]":
      "Resource"}, "properties": {"ApplicationId": "[parameters(\\\''botId\\\'')]"}},
      {"name": "[parameters(\\\''siteName\\\'')]", "type": "Microsoft.Web/sites",
      "apiVersion": "2015-08-01", "condition": "[not(equals(parameters(\\\''zipUrl\\\''),
      \\\''\\\''))]", "location": "[parameters(\\\''location\\\'')]", "kind": "[variables(\\\''botAppKind\\\'')]",
      "dependsOn": ["[resourceId(\\\''Microsoft.Storage/storageAccounts/\\\'', parameters(\\\''storageAccountName\\\''))]",
      "[parameters(\\\''serverFarmId\\\'')]"], "properties": {"name": "[parameters(\\\''siteName\\\'')]",
      "serverFarmId": "[parameters(\\\''serverFarmId\\\'')]", "siteConfig": {"appSettings":
      [{"name": "AzureWebJobsStorage", "value": "[concat(\\\''DefaultEndpointsProtocol=https;AccountName=\\\'',parameters(\\\''storageAccountName\\\''),\\\'';AccountKey=\\\'',listkeys(variables(\\\''storageAccountId\\\''),
      \\\''2015-05-01-preview\\\'').key1,\\\'';\\\'')]"}, {"name": "AzureWebJobsDashboard",
      "value": "[concat(\\\''DefaultEndpointsProtocol=https;AccountName=\\\'',parameters(\\\''storageAccountName\\\''),\\\'';AccountKey=\\\'',listkeys(variables(\\\''storageAccountId\\\''),
      \\\''2015-05-01-preview\\\'').key1,\\\'';\\\'')]"}, {"name": "WEBSITE_NODE_DEFAULT_VERSION",
      "value": "8.9.4"}, {"name": "BotEnv", "value": "[parameters(\\\''botEnv\\\'')]"},
      {"name": "BotOpenIdMetadata", "value": "[variables(\\\''currentConfig\\\'').openIdMetadata]"},
      {"name": "botFilePath", "value": "[concat(\\\''./\\\'', parameters(\\\''botId\\\''),
      \\\''.bot\\\'')]"}, {"name": "botFileSecret", "value": "[parameters(\\\''botFileEncryptionKey\\\'')]"}],
      "cors": {"allowedOrigins": ["https://botservice.hosting.portal.azure.net", "https://hosting.onecloud.azure-test.net/"]}}},
      "resources": [{"name": "MSDeploy", "type": "Extensions", "apiVersion": "2015-02-01",
      "condition": "[not(equals(parameters(\\\''zipUrl\\\''), \\\''\\\''))]", "dependsOn":
      ["[concat(\\\''Microsoft.Web/Sites/\\\'', parameters(\\\''siteName\\\''))]"],
      "properties": {"packageUri": "[parameters(\\\''zipUrl\\\'')]", "dbType": "None",
      "connectionString": "", "setParameters": {"IIS Web Application Name": "[parameters(\\\''siteName\\\'')]"}}}]},
      {"apiVersion": "2016-03-01", "type": "Microsoft.Web/sites", "condition": "[not(equals(parameters(\\\''proactiveZipUrl\\\''),
      \\\''\\\''))]", "name": "[variables(\\\''proactiveFunctionName\\\'')]", "location":
      "[parameters(\\\''location\\\'')]", "kind": "functionapp", "dependsOn": ["[resourceId(\\\''Microsoft.Storage/storageAccounts/\\\'',
      parameters(\\\''storageAccountName\\\''))]", "[parameters(\\\''s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586522565169309793?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","properties":{"templateHash":"11558184890314543582","parameters":{"botEnv":{"type":"String","value":"prod"},"botId":{"type":"String","value":"cli000002"},"description":{"type":"String","value":""},"location":{"type":"String","value":"westus"},"sku":{"type":"String","value":"F0"},"kind":{"type":"String","value":"sdk"},"siteName":{"type":"String","value":"cli000002"},"createNewStorage":{"type":"Bool","value":true},"storageAccountName":{"type":"String","value":"cli000002"},"storageAccountResourceId":{"type":"String","value":""[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2018-07-12
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"W/\"datetime''2019-02-05T07%3A10%3A07.5834839Z''\"","location":"global","sku":{"name":"F0"},"kind":"sdk","tags":{},"properties":{"displayName":"cli000002","description":"","iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://cli000002.azurewebsites.net/api/messages","msaAppId":"cbbb7b3d-38e4-4106-a314-1f62183286c9","developerAppInsightKey":"3299366b-9f53-44e5-ab4b-44ba9a2ab3cf","developerAppInsightsApplicationId":"cli000002","luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":"","storageResourceId":null,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-02-05T07%3A10%3A07.5834839Z'"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/config/appsettings/list?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"AzureWebJobsStorage":"DefaultEndpointsProtocol=https;AccountName=cli000002;AccountKey=EfdC+vJj31CtdgM7sreqOP5LlX5Akgz7yfZdjiUsPVVkhOiRlylGVrQklU0YwyuclmAPHJV3t7ywSm6CpoF3Fw==;","AzureWebJobsDashboard":"DefaultEndpointsProtocol=https;AccountName=cli000002;AccountKey=EfdC+vJj31CtdgM7sreqOP5LlX5Akgz7yfZdjiUsPVVkhOiRlylGVrQklU0YwyuclmAPHJV3t7ywSm6CpoF3Fw==;","WEBSITE_NODE_DEFAULT_VERSION":"8.9.4","BotEnv":"prod","BotOpenIdMetadata":"","botFilePath":"./cli000002.bot","botFileSecret":"L+3kab3P+DLIA6sPNDgp+4gbqmc6pq8NjvkjStIuv2Q="}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/config/slotConfigNames?api-version=2018-02-01
  response:
    body: {string: '{"id":null,"name":"cli000002","type":"Microsoft.Web/sites","location":"West
        US","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/config/publishingcredentials/list?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/publishingcredentials/$cli000002","name":"cli000002","type":"Microsoft.Web/sites/publishingcredentials","location":"West
        US","properties":{"name":null,"publishingUserName":"$cli000002","publishingPassword":"SFAXv73Lda35rcsP2sbL5TRHJZae9oHddTfb9oBfnNfCrz9ZioLXlMlo2dW6","publishingPasswordHash":null,"publishingPasswordHashSalt":null,"metadata":null,"isDeleted":false,"scmUri":"https://$cli000002:SFAXv73Lda35rcsP2sbL5TRHJZae9oHddTfb9oBfnNfCrz9ZioLXlMlo2dW6@cli000002.scm.azurewebsites.net"}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002","name":"cli000002","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","properties":{"name":"cli000002","state":"Running","hostNames":["cli000002.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-075.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/cli000002","repositorySiteName":"cli000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["cli000002.azurewebsites.net","cli000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"cli000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"cli000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/cli000002","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2019-02-05T07:06:55.2333333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"cli000002","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","outboundIpAddresses":"104.40.3.53,104.40.18.224,104.40.21.79,104.40.21.56,104.40.23.196","possibleOutboundIpAddresses":"104.40.3.53,104.40.18.224,104.40.21.79,104.40.21.56,104.40.23.196,52.160.35.119,13.93.183.34","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-075","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"cli000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false}}'}
    headers:
      content-type: [application/json]
      etag: ['"1D4BD216091EC15"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      content-type: [application/octet-stream]
    method: GET
    uri: https://cli000002.scm.azurewebsites.net/api/vfs/site/wwwroot/cli000002.bot
  response:
    body: {string: "{\r\n  \"name\": \"cliykglgovpe4fd\",\r\n  \"padlock\": \"gbka/izECGaVfaZSjhKmEA==!3HfVxlrs/wLzbdUwtCSaOG3uuvRvHVVO0WXPlMwqNOqRy0oH3nrC8KIPBPf+EZ1K\"\
        ,\r\n  \"version\": \"2.0\",\r\n  \"services\": [\r\n    {\r\n      \"tenantId\"\
        : \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"subscriptionId\": \"\
        703aa115-c84e-42f8-9b31-85938c67def9\",\r\n      \"resourceGroup\": \"clitest.rgd65zl2dapl\"\
        ,\r\n      \"serviceName\": \"cliykglgovpe4fd\",\r\n      \"type\": \"abs\"\
        ,\r\n      \"name\": \"cliykglgovpe4fd\",\r\n      \"id\": \"1\"\r\n    },\r\
        \n    {\r\n      \"connectionString\": \"meSKYWXI0YpL/fiRFCU2LQ==!casgk1q6qSCInY7IzyUl3zuFj7VUcL4KWLfNfQN0rHg/Gf/fc2VwBklEhzMfgJSnMBepyOsZjiN9EJmR6PnIe66MsCMwiUZE+tKmQPASneRw9anL3IASrRicR7qITz8CwnLjdu3ClL3zMxCoNu94DH2GS4eKtS3VjNGWQw6KuRiSPa92aCWglri/bJ+zE7u+UyyJQa04vo+bH4bj585kSw==\"\
        ,\r\n      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n   \
        \   \"subscriptionId\": \"703aa115-c84e-42f8-9b31-85938c67def9\",\r\n    \
        \  \"resourceGroup\": \"clitest.rgd65zl2dapl\",\r\n      \"serviceName\":\
        \ \"cliykglgovpe4fd\",\r\n      \"type\": \"blob\",\r\n      \"id\": \"2\"\
        \r\n    },\r\n    {\r\n      \"appId\": \"\",\r\n      \"appPassword\": \"\
        \",\r\n      \"endpoint\": \"http://localhost:3978/api/messages\",\r\n   \
        \   \"type\": \"endpoint\",\r\n      \"name\": \"development\",\r\n      \"\
        id\": \"3\"\r\n    },\r\n    {\r\n      \"appId\": \"cbbb7b3d-38e4-4106-a314-1f62183286c9\"\
        ,\r\n      \"appPassword\": \"6VywPEuR72EBhNGPqYDDkQ==!7M0/wIjfktuNKI59ax/p1uXShWLoqmcPEVFYhqWsEalNx6oAKtuK5TrVhiUBSdMR\"\
        ,\r\n      \"endpoint\": \"https://cliykglgovpe4fd.azurewebsites.net/api/messages\"\
        ,\r\n      \"type\": \"endpoint\",\r\n      \"name\": \"production\",\r\n\
        \      \"id\": \"4\"\r\n    },\r\n    {\r\n      \"instrumentationKey\": \"\
        a1iA40wwS2qKbgw6WjGj6A==!HubKakZg+pAYDfwhIOOkhswyDN+z5TRz6j7BmAA8MuCj1Mgjh2U+DnIXxrvKNoij\"\
        ,\r\n      \"applicationId\": \"d0c9da1c-2c03-4377-9598-850a797d2103\",\r\n\
        \      \"apiKeys\": {},\r\n      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\
        ,\r\n      \"subscriptionId\": \"703aa115-c84e-42f8-9b31-85938c67def9\",\r\
        \n      \"resourceGroup\": \"clitest.rgd65zl2dapl\",\r\n      \"serviceName\"\
        : \"cliykglgovpe4fd\",\r\n      \"type\": \"appInsights\",\r\n      \"id\"\
        : \"5\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/octet-stream]
      etag: ['"a0c777f5388bd608"']
      last-modified: ['Tue, 05 Feb 2019 07:10:07 GMT']
    status: {code: 200, message: OK}
[...]
