interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-31T18:12:23Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-31T18:12:23Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/clime7evzxalfo?api-version=2018-07-12
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.botframework.com/api/misc/botFileEncryptionKey
  response:
    body: {string: '"kozW/iXKqvDPnpPYimV9mHXS9z0gHThK7t7+GKNWABU="'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"botEnv": {"type": "string", "defaultValue":
      "prod"}, "botId": {"type": "string"}, "description": {"type": "string", "defaultValue":
      ""}, "location": {"type": "string"}, "sku": {"type": "string"}, "kind": {"type":
      "string"}, "siteName": {"type": "string"}, "createNewStorage": {"type": "bool"},
      "storageAccountName": {"type": "string"}, "storageAccountResourceId": {"type":
      "string", "defaultValue": ""}, "appId": {"type": "string", "defaultValue": "1234"},
      "appSecret": {"type": "string", "defaultValue": "blank"}, "azureWebJobsBotFrameworkDirectLineSecret":
      {"type": "string", "defaultValue": ""}, "zipUrl": {"type": "string", "defaultValue":
      ""}, "proactiveZipUrl": {"type": "string", "defaultValue": ""}, "useAppInsights":
      {"type": "bool"}, "appInsightsLocation": {"type": "string"}, "serverFarmId":
      {"type": "string"}, "createServerFarm": {"type": "bool"}, "serverFarmLocation":
      {"type": "string", "defaultValue": ""}, "serverFarmSku": {"type": "object",
      "defaultValue": {"name": "S1", "tier": "Standard", "size": "S1", "family": "S",
      "capacity": 1}}, "endpoint": {"type": "string", "defaultValue": ""}, "luisApiLocation":
      {"type": "string", "defaultValue": "Global"}, "botFileEncryptionKey": {"type":
      "string", "defaultValue": ""}}, "variables": {"storageAccountType": "Standard_LRS",
      "storageAccountId": "[if(or(parameters(\''createNewStorage\''), equals(\''\'',
      parameters(\''storageAccountResourceId\''))), resourceId(\''Microsoft.Storage/storageAccounts\'',
      parameters(\''storageAccountName\'')), parameters(\''storageAccountResourceId\''))]",
      "serverFarmName": "[last(split(parameters(\''serverFarmId\''), \''/\''))]",
      "myWorkerSize": 0, "proactiveFunctionName": "[concat(parameters(\''siteName\''),
      \''-function\'')]", "insightsName": "[parameters(\''botId\'')]", "config": {"scratch":
      {"stateEndpoint": "https://intercom-api-scratch.azurewebsites.net", "azureWebJobsBotFrameworkDirectLineEndpoint":
      "https://directline.scratch.botframework.com/", "blobStoreName": "icscratch",
      "openIdMetadata": "https://intercom-api-ppe.azurewebsites.net/v1/.well-known/openidconfiguration"},
      "ppe": {"stateEndpoint": "https://intercom-api-ppe.azurewebsites.net", "azureWebJobsBotFrameworkDirectLineEndpoint":
      "https://directline.ppe.botframework.com/", "blobStoreName": "intercomppe",
      "openIdMetadata": "https://intercom-api-ppe.azurewebsites.net/v1/.well-known/openidconfiguration"},
      "prod": {"stateEndpoint": "", "azureWebJobsBotFrameworkDirectLineEndpoint":
      "https://directline.botframework.com/", "blobStoreName": "connectorprod", "openIdMetadata":
      ""}}, "botAppKinds": {"function": "functionapp", "sdk": "app", "designer": "app",
      "bot": ""}, "botAppKind": "[variables(\''botAppKinds\'')[parameters(\''kind\'')]]",
      "currentConfig": "[variables(\''config\'')[toLower(parameters(\''botEnv\''))]]",
      "siteHost": "[concat(parameters(\''siteName\''), \''.azurewebsites.net\'')]",
      "botEndpointConfig": {"bot": "[parameters(\''endpoint\'')]", "sdk": "[concat(\''https://\'',
      variables(\''siteHost\''), \''/api/messages\'')]", "designer": "[concat(\''https://\'',
      variables(\''siteHost\''), \''/api/messages\'')]", "function": "[concat(\''https://\'',
      variables(\''siteHost\''), \''/api/messages?code=\'', \''NYI\'')]"}, "botEndpoint":
      "[variables(\''botEndpointConfig\'')[parameters(\''kind\'')]]", "luisApiName":
      "", "luisApiResId": "[resourceId(\''Microsoft.CognitiveServices/accounts/\'',
      variables(\''luisApiName\''))]"}, "resources": [{"name": "[if(equals(\''\'',
      variables(\''luisApiName\'')), \''nosuch\'', variables(\''luisApiName\''))]",
      "apiVersion": "2017-04-18", "condition": "[not(equals(variables(\''luisApiName\''),
      \''\''))]", "type": "Microsoft.CognitiveServices/accounts", "location": "[parameters(\''luisApiLocation\'')]",
      "sku": {"name": "F0"}, "kind": "LUIS", "properties": {}}, {"type": "Microsoft.Storage/storageAccounts",
      "condition": "[parameters(\''createNewStorage\'')]", "name": "[parameters(\''storageAccountName\'')]",
      "apiVersion": "2015-05-01-preview", "location": "[parameters(\''location\'')]",
      "properties": {"accountType": "[variables(\''storageAccountType\'')]"}}, {"type":
      "Microsoft.Web/serverfarms", "condition": "[parameters(\''createServerFarm\'')]",
      "name": "[variables(\''serverFarmName\'')]", "apiVersion": "2016-09-01", "location":
      "[parameters(\''serverFarmLocation\'')]", "sku": "[parameters(\''serverFarmSku\'')]",
      "properties": {"name": "[variables(\''serverFarmName\'')]"}}, {"name": "[variables(\''insightsName\'')]",
      "type": "microsoft.insights/components", "kind": "web", "apiVersion": "2014-04-01",
      "condition": "[parameters(\''useAppInsights\'')]", "location": "[parameters(\''appInsightsLocation\'')]",
      "tags": {"[concat(\''hidden-link:\'', resourceId(\''Microsoft.BotService/botServices/\'',
      parameters(\''botId\'')))]": "Resource", "[concat(\''hidden-link:\'', resourceId(\''Microsoft.Web/sites/\'',
      parameters(\''siteName\'')))]": "Resource"}, "properties": {"ApplicationId":
      "[parameters(\''botId\'')]"}}, {"name": "[parameters(\''siteName\'')]", "type":
      "Microsoft.Web/sites", "apiVersion": "2015-08-01", "condition": "[not(equals(parameters(\''zipUrl\''),
      \''\''))]", "location": "[parameters(\''location\'')]", "kind": "[variables(\''botAppKind\'')]",
      "dependsOn": ["[resourceId(\''Microsoft.Storage/storageAccounts/\'', parameters(\''storageAccountName\''))]",
      "[parameters(\''serverFarmId\'')]"], "properties": {"name": "[parameters(\''siteName\'')]",
      "serverFarmId": "[parameters(\''serverFarmId\'')]", "siteConfig": {"appSettings":
      [{"name": "AzureWebJobsStorage", "value": "[concat(\''DefaultEndpointsProtocol=https;AccountName=\'',parameters(\''storageAccountName\''),\'';AccountKey=\'',listkeys(variables(\''storageAccountId\''),
      \''2015-05-01-preview\'').key1,\'';\'')]"}, {"name": "AzureWebJobsDashboard",
      "value": "[concat(\''DefaultEndpointsProtocol=https;AccountName=\'',parameters(\''storageAccountName\''),\'';AccountKey=\'',listkeys(variables(\''storageAccountId\''),
      \''2015-05-01-preview\'').key1,\'';\'')]"}, {"name": "WEBSITE_NODE_DEFAULT_VERSION",
      "value": "8.9.4"}, {"name": "BotEnv", "value": "[parameters(\''botEnv\'')]"},
      {"name": "BotOpenIdMetadata", "value": "[variables(\''currentConfig\'').openIdMetadata]"},
      {"name": "botFilePath", "value": "[concat(\''./\'', parameters(\''botId\''),
      \''.bot\'')]"}, {"name": "botFileSecret", "value": "[parameters(\''botFileEncryptionKey\'')]"}],
      "cors": {"allowedOrigins": ["https://botservice.hosting.portal.azure.net", "https://hosting.onecloud.azure-test.net/"]}}},
      "resources": [{"name": "MSDeploy", "type": "Extensions", "apiVersion": "2015-02-01",
      "condition": "[not(equals(parameters(\''zipUrl\''), \''\''))]", "dependsOn":
      ["[concat(\''Microsoft.Web/Sites/\'', parameters(\''siteName\''))]"], "properties":
      {"packageUri": "[parameters(\''zipUrl\'')]", "dbType": "None", "connectionString":
      "", "setParameters": {"IIS Web Application Name": "[parameters(\''siteName\'')]"}}}]},
      {"apiVersion": "2016-03-01", "type": "Microsoft.Web/sites", "condition": "[not(equals(parameters(\''proactiveZipUrl\''),
      \''\''))]", "name": "[variables(\''proactiveFunctionName\'')]", "location":
      "[parameters(\''location\'')]", "kind": "functionapp", "dependsOn": ["[resourceId(\''Microsoft.Storage/storageAccounts/\'',
      parameters(\''storageAccountName\''))]", "[parameters(\''serverFarmId\'')]"],
      "pro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586526485384862408?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/clime7evzxalfo","name":"clime7evzxalfo","properties":{"templateHash":"11558184890314543582","parameters":{"botEnv":{"type":"String","value":"prod"},"botId":{"type":"String","value":"clime7evzxalfo"},"description":{"type":"String","value":""},"location":{"type":"String","value":"westus"},"sku":{"type":"String","value":"F0"},"kind":{"type":"String","value":"sdk"},"siteName":{"type":"String","value":"clime7evzxalfo"},"createNewStorage":{"type":"Bool","value":true},"storageAccountName":{"type":"String","value":"clime7evzxalfo"},"storageAccountResourceId":{"type":"Str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/clime7evzxalfo?api-version=2018-07-12
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/clime7evzxalfo","name":"clime7evzxalfo","type":"Microsoft.BotService/botServices","etag":"W/\"datetime''2019-01-31T18%3A16%3A08.1984466Z''\"","location":"global","sku":{"name":"F0"},"kind":"sdk","tags":{},"properties":{"displayName":"clime7evzxalfo","description":"","iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://clime7evzxalfo.azurewebsites.net/api/messages","msaAppId":"f5d07224-4967-4d6d-ab04-3842b63303dc","developerAppInsightKey":"ea0b6086-0d07-4898-8091-6ad21d77a397","developerAppInsightsApplicationId":"clime7evzxalfo","luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":"","storageResourceId":null,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-01-31T18%3A16%3A08.1984466Z'"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc0T05FVElUV0FTLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
