interactions:
- request:
    body: '{"tags": {"product": "azurecli", "cause": "automation", "date": "2018-11-29T06:26:19Z"},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-11-29T06:26:19Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: 'b''{"location": "global", "sku": {"name": "F0"}, "properties": {"displayName":
      "cli000002", "msaAppId": "be48299f-10ab-4ba9-8e9a-1b19a37de085", "endpoint":
      "https://www.google.com/api/messages"}, "kind": "bot"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2018-07-12
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"W/\"datetime''2018-11-29T06%3A26%3A21.2914938Z''\"","location":"global","sku":{"name":"F0"},"kind":"bot","tags":{},"properties":{"displayName":"cli000002","description":"","iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"be48299f-10ab-4ba9-8e9a-1b19a37de085","developerAppInsightKey":"","developerAppInsightsApplicationId":"","luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":"","storageResourceId":null,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2018-11-29T06%3A26%3A21.2914938Z'"]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global", "properties": {"properties": {"enableCalling": true,
      "enableVideo": true, "enableMediaCards": true, "enableMessaging": true, "isEnabled":
      true, "callingWebHook": "https://www.google.com"}, "channelName": "SkypeChannel"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/SkypeChannel?api-version=2018-07-12
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/SkypeChannel","name":"cli000002/SkypeChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"5a230b53a1ed5a180e67f03a9222190c11/29/2018
        6:26:24 AM\"","location":"global","properties":{"properties":{"enableMessaging":true,"enableMediaCards":true,"enableVideo":true,"enableCalling":true,"enableScreenSharing":false,"incomingCallRoute":null,"enableGroups":false,"groupsMode":null,"callingWebHook":"https://www.google.com","isEnabled":true},"etag":"W/\"5a230b53a1ed5a180e67f03a9222190c11/29/2018
        6:26:24 AM\"","channelName":"SkypeChannel","location":"global","provisioningState":"Accepted"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"5a230b53a1ed5a180e67f03a9222190c11/29/2018 6:26:24 AM"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/SkypeChannel/listChannelWithKeys?api-version=2018-07-12
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/SkypeChannel","location":"global","properties":{"properties":{"enableMessaging":true,"enableMediaCards":true,"enableVideo":false,"enableCalling":true,"enableScreenSharing":false,"incomingCallRoute":null,"enableGroups":false,"groupsMode":null,"callingWebHook":"https://www.google.com/","isEnabled":true},"etag":"W/\"583b703677c77cffb8cf50802b7a505b11/29/2018
        6:26:25 AM\"","channelName":"SkypeChannel","location":"global"},"provisioningState":"Succeeded","entityTag":"W/\"8c879e017754ba2afe4547239226e6ab11/29/2018
        6:26:25 AM\"","changedTime":"0001-01-01T00:00:00Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdCWU00NEVLN0hILVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
