interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-webapp-slot?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot","name":"cli-webapp-slot","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"perSiteScaling": false, "name": "webapp-slot-test2-plan"},
      "sku": {"tier": "STANDARD", "name": "S1", "capacity": 1}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan","name":"webapp-slot-test2-plan","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
        US","properties":{"serverFarmId":0,"name":"webapp-slot-test2-plan","workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli-webapp-slot-WestUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Shared","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"numberOfSites":0,"hostingEnvironmentId":null,"tags":null,"kind":"app","resourceGroup":"cli-webapp-slot","reserved":false,"mdmId":"waws-prod-bay-071_5976","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"serverFarmId": "webapp-slot-test2-plan", "microService":
      "WebSites", "reserved": false, "scmSiteAlsoStopped": false}, "location": "West
      US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2","name":"web-slot-test2","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","properties":{"name":"web-slot-test2","state":"Running","hostNames":["web-slot-test2.azurewebsites.net"],"webSpace":"cli-webapp-slot-WestUSwebspace","selfLink":"https://waws-prod-bay-071.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli-webapp-slot-WestUSwebspace/sites/web-slot-test2","repositorySiteName":"web-slot-test2","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["web-slot-test2.azurewebsites.net","web-slot-test2.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"web-slot-test2.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"web-slot-test2.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan","reserved":false,"lastModifiedTimeUtc":"2017-05-02T02:08:36.2533333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"web-slot-test2","trafficManagerHostNames":null,"sku":"Standard","premiumAppDeployed":null,"scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"microService":"WebSites","gatewaySiteName":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","outboundIpAddresses":"23.101.199.30,23.101.196.70,23.101.201.119,23.101.197.194","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-071","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli-webapp-slot","defaultHostName":"web-slot-test2.azurewebsites.net","slotSwapStatus":null}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E901F786D5"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/publishxml?api-version=2016-08-01
  response:
    body: {string: '<publishData><publishProfile profileName="web-slot-test2 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="web-slot-test2.scm.azurewebsites.net:443"
        msdeploySite="web-slot-test2" userName="$web-slot-test2" userPWD="CNZTxcFyjwxn8zJgnWs3TMwbAgsocq7DjlGhnfpq18AjntwonFXRfzi8Nq50"
        destinationAppUrl="http://web-slot-test2.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink=""
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-slot-test2
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-071.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="web-slot-test2\$web-slot-test2" userPWD="CNZTxcFyjwxn8zJgnWs3TMwbAgsocq7DjlGhnfpq18AjntwonFXRfzi8Nq50"
        destinationAppUrl="http://web-slot-test2.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink=""
        webSystem="WebSites"><databases /></publishProfile></publishData>'}
    headers:
      Content-Type: [application/xml]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"WEBSITE_NODE_DEFAULT_VERSION":
      "6.9.1", "s2": "v2", "s1": "v1"}, "name": "appsettings", "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s2":"v2","s1":"v1"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E9059BD6B5"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/slotConfigNames?api-version=2016-08-01
  response:
    body: {string: '{"id":null,"name":"web-slot-test2","type":"Microsoft.Web/sites","location":"West
        US","properties":{"connectionStringNames":["c2"],"appSettingNames":["s2","s4"]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"siteConfig": {"netFrameworkVersion": "v4.6", "localMySqlEnabled":
      false}, "serverFarmId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan",
      "microService": "WebSites", "reserved": false, "scmSiteAlsoStopped": false},
      "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/provider[...]
[...]
- request:
    body: '{"properties": {"repoUrl": "https://github.com/yugangw-msft/azure-site-test",
      "isMercurial": false, "isManualIntegration": true, "branch": "staging"}, "location":
      "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web","name":"web-slot-test2","type":"Microsoft.Web/sites/sourcecontrols","location":"West
        US","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test","branch":"staging","isManualIntegration":true,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E9059BD6B5"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/sourcecontrols/web","name":"web-slot-test2","type":"Microsoft.Web/sites/sourcecontrols","location":"West
        US","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test","branch":"staging","isManualIntegration":true,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2017-05-02T02:09:43.0021746
        https://web-slot-test2-staging.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2017-05-02_02-09-21Z"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E916DDC44B"']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"targetSlot": "staging", "preserveVnet": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slotsswap?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D2C2E9059BD6B5"']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/operationresults/b15182e6-9937-4c82-967b-db982f41c497?api-version=2016-08-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/operationresults/b15182e6-9937-4c82-967b-db982f41c497?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/operationresults/b15182e6-9937-4c82-967b-db982f41c497?api-version=2016-08-01']
      Retry-After: ['15']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s1":"v1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/web","name":"web-slot-test2","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"numberOfWorkers":1,"defaultDocuments":["Default.htm","Default.html","Default.asp","index.htm","index.html","iisstart.htm","default.aspx","index.php","hostingstart.html"],"netFrameworkVersion":"v4.0","phpVersion":"5.6","pythonVersion":"","nodeVersion":"","linuxFxVersion":"","requestTracingEnabled":false,"remoteDebuggingEnabled":false,"remoteDebuggingVersion":null,"httpLoggingEnabled":false,"logsDirectorySizeLimit":35,"detailedErrorLoggingEnabled":false,"publishingUsername":"$web-slot-test2","publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":"None","use32BitWorkerProcess":true,"webSocketsEnabled":false,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":"","managedPipelineMode":"Integrated","virtualApplications":[{"virtualPath":"/","physicalPath":"site\\wwwroot","preloadEnabled":false,"virtualDirectories":null}],"winAuthAdminState":0,"winAuthTenantState":0,"customAppPoolIdentityAdminState":false,"customAppPoolIdentityTenantState":false,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":"LeastRequests","routingRules":[],"experiments":{"rampUpRules":[]},"limits":null,"autoHealEnabled":false,"autoHealRules":{"triggers":null,"actions":null},"tracingOptions":null,"vnetName":"","siteAuthEnabled":false,"siteAuthSettings":{"enabled":null,"unauthenticatedClientAction":null,"tokenStoreEnabled":null,"allowedExternalRedirectUrls":null,"defaultProvider":null,"clientId":null,"clientSecret":null,"issuer":null,"allowedAudiences":null,"additionalLoginParams":null,"isAadAutoProvisioned":false,"googleClientId":null,"googleClientSecret":null,"googleOAuthScopes":null,"facebookAppId":null,"facebookAppSecret":null,"facebookOAuthScopes":null,"twitterConsumerKey":null,"twitterConsumerSecret":null,"microsoftAccountClientId":null,"microsoftAccountClientSecret":null,"microsoftAccountOAuthScopes":null},"cors":null,"push":null,"apiDefinition":null,"autoSwapSlotName":null,"localMySqlEnabled":false,"ipSecurityRestrictions":null}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"loadBalancing":
      "LeastRequests", "virtualApplications": [{"virtualPath": "/", "physicalPath":
      "site\\wwwroot", "preloadEnabled": false}], "logsDirectorySizeLimit": 35, "nodeVersion":
      "6.6.0", "publishingUsername": "$web-slot-test2", "phpVersion": "5.6", "experiments":
      {"rampUpRules": []}, "numberOfWorkers": 1, "webSocketsEnabled": false, "vnetName":
      "", "use32BitWorkerProcess": true, "pytho[...]
[...]
- request:
    body: '{"properties": {"siteConfig": {"netFrameworkVersion": "v4.6", "localMySqlEnabled":
      false}, "serverFarmId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test2-plan",
      "microService": "WebSites", "reserved": false, "scmSiteAlsoStopped": false},
      "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://managem[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"WEBSITE_NODE_DEFAULT_VERSION":
      "6.9.1"}, "name": "appsettings", "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E9650412E0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {}, "name": "connectionstrings",
      "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E9650412E0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/confi[...]
[...]
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"s4": "v4", "WEBSITE_NODE_DEFAULT_VERSION":
      "6.9.1", "s3": "v3"}, "name": "appsettings", "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"s4":"v4","WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s3":"v3"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E9650412E0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"c1": {"type": "MySql",
      "value": "connection1"}, "c2": {"type": "MySql", "value": "connection2"}}, "name":
      "connectionstrings", "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/dev/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"c1":{"value":"connection1","type":"MySql"},"c2":{"value":"connection2","type":"MySql"}}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2C2E9650412E0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"targetSlot": "dev", "preserveVnet": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/slotsswap?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D2C2E9650412E0"']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/operationresults/24fb0ce5-ce57-4b9a-aac9-cddbd46c4a87?api-version=2016-08-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/operationresults/24fb0ce5-ce57-4b9a-aac9-cddbd46c4a87?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/operationresults/24fb0ce5-ce57-4b9a-aac9-cddbd46c4a87?api-version=2016-08-01']
      Retry-After: ['15']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"c1":{"value":"connection1","type":"MySql"}}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots?api-version=2016-08-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging","name[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test2/slots/staging?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D2C2E9650412E0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
version: 1
