interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionaconstorage?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/b27cf603-5c35-4451-a33a-abba1a08c9c2/providers/Microsoft.Storage/operations/c45bb62b-d811-4641-ac69-64f72da32e98?monitor=true&api-version=2016-12-01']
      Retry-After: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/c45bb62b-d811-4641-ac69-64f72da32e98?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionaconstorage","kind":"Storage","location":"westus","name":"functionaconstorage","properties":{"creationTime":"2017-04-11T18:26:28.4684196Z","primaryEndpoints":{"blob":"https://functionaconstorage.blob.core.windows.net/","file":"https://functionaconstorage.file.core.windows.net/","queue":"https://functionaconstorage.queue.core.windows.net/","table":"https://functionaconstorage.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions?sku=Dynamic&api-version=2016-03-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/South
        Central US","name":"South Central US","type":"Microsoft.Web/geoRegions","properties":{"name":"South
        Central US","description":null,"sortOrder":0,"displayName":"South Central
        US"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/North
        Europe","name":"North Europe","type":"Microsoft.Web/geoRegions","properties":{"name":"North
        Europe","description":null,"sortOrder":1,"displayName":"North Europe"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/West
        Europe","name":"West Europe","type":"Microsoft.Web/geoRegions","properties":{"name":[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionaconstorage/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"Zco//PVLjL3lwyJxW7MIUkzDjpIU5B0X5LnIFxbx/L4oUopcr1OzGC2b1Bur09U+GCr/gv/H3Y4PJKg0/6VXRQ=="},{"keyName":"key2","permissions":"Full","value":"80WrM49dYVbmTRTtxvUM4WjCxyoegDewzlWChtVwh16ySrSqh8utd5urHwhRaW2ehKVL4qppb8P4s8bKigObbA=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: '{"kind": "functionapp", "location": "westus", "properties": {"reserved":
      false, "scmSiteAlsoStopped": false, "microService": "false"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionappconsumption?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionappconsumption","name":"functionappconsumption","type":"Microsoft.Web/sites","kind":"functionapp","location":"westus","properties":{"name":"functionappconsumption","state":"Running","hostNames":["functionappconsumption.azurewebsites.net"],"webSpace":"azurecli-functionapp-c-e2e-WestUSwebspace","selfLink":"https://waws-prod-bay-035.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/azurecli-functionapp-c-e2e-WestUSwebspace/sites/functionappconsumption","repositorySiteName":"functionappconsumption","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["functionappconsumption.azurewebsites.net","functionappconsumption.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"functionappconsumption.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"functionappconsumption.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/serverfarms/WestUSPlan","reserved":false,"lastModifiedTimeUtc":"2017-04-11T18:26:52.4","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"functionappconsumption","trafficManagerHostNames":null,"sku":"Dynamic","premiumAppDeployed":null,"scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"microService":"false","gatewaySiteName":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"functionapp","outboundIpAddresses":"40.112.143.79,40.112.136.154,40.112.141.43,40.112.138.165","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-035","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"azurecli-functionapp-c-e2e","defaultHostName":"functionappconsumption.azurewebsites.net","slotSwapStatus":null}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2B2F131270930"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionappconsumption/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionappconsumption/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"FUNCTIONS_EXTENSION_VERSION":"~1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "name": "appsettings", "location":
      "West US", "properties": {"AzureWebJobsDashboard": "DefaultEndpointsProtocol=https;AccountName=functionaconstorage;AccountKey=Zco//PVLjL3lwyJxW7MIUkzDjpIU5B0X5LnIFxbx/L4oUopcr1OzGC2b1Bur09U+GCr/gv/H3Y4PJKg0/6VXRQ==",
      "WEBSITE_NODE_DEFAULT_VERSION": "6.5.0", "FUNCTIONS_EXTENSION_VERSION": "~1",
      "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING": "DefaultEndpointsProtocol=https;AccountName=functionaconstorage;AccountKey=Zco//PVLjL3lwyJxW7MIUkzDjpIU5B0X5LnIFxbx/L4oUopcr1OzGC2b1Bur09U+GCr/gv/H3Y4PJKg0/6VXRQ==",
      "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=functionaconstorage;AccountKey=Zco//PVLjL3lwyJxW7MIUkzDjpIU5B0X5LnIFxbx/L4oUopcr1OzGC2b1Bur09U+GCr/gv/H3Y4PJKg0/6VXRQ==",
      "WEBSITE_CONTENTSHARE": "functionappconsumption"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionappconsumption/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"Message":"An error has occurred."}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"1D2B2F133B925C0"']
      x-ms-failure-cause: [service]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 500, message: Internal Server Error}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionappconsumption?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D2B2F136E0CB90"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
version: 1
