interactions:
- request:
    body: '{"location": "westus", "kind": "Storage", "sku": {"name": "Standard_LRS"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionappcstorage?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/b27cf603-5c35-4451-a33a-abba1a08c9c2/providers/Microsoft.Storage/operations/b3e85a52-d7f0-4456-8e8d-def9292ad71f?monitor=true&api-version=2016-12-01']
      Retry-After: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/b3e85a52-d7f0-4456-8e8d-def9292ad71f?monitor=true&api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/b27cf603-5c35-4451-a33a-abba1a08c9c2/providers/Microsoft.Storage/operations/b3e85a52-d7f0-4456-8e8d-def9292ad71f?monitor=true&api-version=2016-12-01']
      Retry-After: ['17']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/b3e85a52-d7f0-4456-8e8d-def9292ad71f?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionappcstorage","kind":"Storage","location":"westus","name":"functionappcstorage","properties":{"creationTime":"2017-04-08T00:45:12.9796030Z","primaryEndpoints":{"blob":"https://functionappcstorage.blob.core.windows.net/","file":"https://functionappcstorage.file.core.windows.net/","queue":"https://functionappcstorage.queue.core.windows.net/","table":"https://functionappcstorage.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/serverfarms?api-version=2016-09-01
  response:
    body: {string: '{"value":[],"nextLink":null,"id":null}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"reserved": false, "perSiteScaling": false, "name": "mlmzpp"},
      "location": "westus", "sku": {"tier": "Dynamic", "name": "Y1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/serverfarms/mlmzpp?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/serverfarms/mlmzpp","name":"mlmzpp","type":"Microsoft.Web/serverfarms","kind":"functionapp","location":"West
        US","properties":{"serverFarmId":0,"name":"mlmzpp","workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":0,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":0,"status":"Ready","webSpace":"azurecli-functionapp-c-e2e-WestUSwebspace","subscription":"b27cf603-5c35-4451-a33a-abba1a08c9c2","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Shared","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"numberOfSites":0,"hostingEnvironmentId":null,"tags":null,"kind":"functionapp","resourceGroup":"azurecli-functionapp-c-e2e","reserved":false,"mdmId":"waws-prod-bay-061_9303","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded"},"sku":{"name":"Y1","tier":"Dynamic","size":"Y1","family":"Y","capacity":0}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionappcstorage/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"2f6GvgaKrPxYSxmtTqqbY6l36Zf1s80SS4xglrBhphqYNSr3aQp/Lmw1yGv9Ujowx3kzawr1TXA/X5pRKG8H9w=="},{"keyName":"key2","permissions":"Full","value":"unvqnCm00XnIOVI2pS2QojuxYwHvktjs6ifa6MmmGcLrqQp7zmrTYQ2igpXq+efyFrp8WhSRjnCB17D94so8wg=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"reserved": false, "serverFarmId": "/subscriptions/b27cf603-5c35-4451-a33a-abba1a08c9c2/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/serverfarms/mlmzpp",
      "scmSiteAlsoStopped": false, "microService": "false"}, "kind": "functionapp",
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionapp-consumption-e2e?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionapp-consumption-e2e","name":"functionapp-consumption-e2e","type":"Microsoft.Web/sites","kind":"functionapp","location":"westus","properties":{"name":"functionapp-consumption-e2e","state":"Running","hostNames":["functionapp-consumption-e2e.azurewebsites.net"],"webSpace":"azurecli-functionapp-c-e2e-WestUSwebspace","selfLink":"https://waws-prod-bay-061.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/azurecli-functionapp-c-e2e-WestUSwebspace/sites/functionapp-consumption-e2e","repositorySiteName":"functionapp-consumption-e2e","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["functionapp-consumption-e2e.azurewebsites.net","functionapp-consumption-e2e.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"functionapp-consumption-e2e.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"functionapp-consumption-e2e.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/serverfarms/mlmzpp","reserved":false,"lastModifiedTimeUtc":"2017-04-08T00:57:26.84","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"functionapp-consumption-e2e","trafficManagerHostNames":null,"sku":"Dynamic","premiumAppDeployed":null,"scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"microService":"false","gatewaySiteName":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"functionapp","outboundIpAddresses":"40.118.255.137,40.118.255.231,40.118.250.218,40.118.252.35","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-061","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"azurecli-functionapp-c-e2e","defaultHostName":"functionapp-consumption-e2e.azurewebsites.net","slotSwapStatus":null}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2B00317A55F70"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionapp-consumption-e2e/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionapp-consumption-e2e/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"FUNCTIONS_EXTENSION_VERSION":"~1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Web/sites/config", "properties": {"AzureWebJobsStorage":
      "DefaultEndpointsProtocol=https;AccountName=functionappcstorage;AccountKey=2f6GvgaKrPxYSxmtTqqbY6l36Zf1s80SS4xglrBhphqYNSr3aQp/Lmw1yGv9Ujowx3kzawr1TXA/X5pRKG8H9w==",
      "FUNCTIONS_EXTENSION_VERSION": "~1", "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING":
      "DefaultEndpointsProtocol=https;AccountName=functionappcstorage;AccountKey=2f6GvgaKrPxYSxmtTqqbY6l36Zf1s80SS4xglrBhphqYNSr3aQp/Lmw1yGv9Ujowx3kzawr1TXA/X5pRKG8H9w==",
      "WEBSITE_NODE_DEFAULT_VERSION": "6.5.0", "AzureWebJobsDashboard": "DefaultEndpointsProtocol=https;AccountName=functionappcstorage;AccountKey=2f6GvgaKrPxYSxmtTqqbY6l36Zf1s80SS4xglrBhphqYNSr3aQp/Lmw1yGv9Ujowx3kzawr1TXA/X5pRKG8H9w==",
      "WEBSITE_CONTENTSHARE": "functionapp-consumption-e2e"}, "location": "West US",
      "name": "appsettings"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionapp-consumption-e2e/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"Message":"An error has occurred."}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"1D2B0031EE43B30"']
      x-ms-failure-cause: [service]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 500, message: Internal Server Error}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites?api-version=2016-08-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionapp-consumption-e2e","name[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionapp-consumption-e2e?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D2B00321442430"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
version: 1
