interactions:
- request:
    body: 'b''{"properties": {"authorizations": [{"principalId": "d6f6c88a-5b7a-455e-ba40-ce146d4d3671",
      "roleDefinitionId": "acdd72a7-3385-48ef-bd42-f606fba81ae7"}], "registrationDefinitionName":
      "climanagedservices000001", "managedByTenantId": "bab3375b-6197-4a15-a44b-16c41faa91d7"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/afee244e-9a4d-41c9-a64d-8d7fc7124717?api-version=2018-06-01-preview
  response:
    body:
      string: '{"properties":{"registrationDefinitionName":"climanagedservices000001","managedByTenantId":"bab3375b-6197-4a15-a44b-16c41faa91d7","authorizations":[{"principalId":"d6f6c88a-5b7a-455e-ba40-ce146d4d3671","roleDefinitionId":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}],"provisioningState":"Succeeded","managedByTenantName":"Default
        Directory"},"id":"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/afee244e-9a4d-41c9-a64d-8d7fc7124717","type":"Microsoft.ManagedServices/registrationDefinitions","name":"afee244e-9a4d-41c9-a64d-8d7fc7124717"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"registrationDefinitionId": "/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/afee244e-9a4d-41c9-a64d-8d7fc7124717"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationAssignments/b61427a6-974b-4987-a4cc-007a11ec8396?api-version=2018-06-01-preview
  response:
    body:
      string: '{"properties":{"registrationDefinitionId":"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/afee244e-9a4d-41c9-a64d-8d7fc7124717","provisioningState":"Succeeded"},"id":"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationAssignments/b61427a6-974b-4987-a4cc-007a11ec8396","type":"Microsoft.ManagedServices/registrationAssignments","name":"b61427a6-974b-4987-a4cc-007a11ec8396"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationAssignments?api-version=2018-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"registrationDefinitionId":"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/cae481c0-de7c-42a8-86c1-5b170861caf8","provisioningState":"Succeeded"},"id":"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/resourceGroups/jizen_testmsp_rgln/providers/Microsoft.ManagedServices/registrationAssignments/819df283-222c-47ed-ab1a-61ce8b4adf65","type":"Microsoft.ManagedServices/registrationAssignments","name":"819df283-222c-47[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions?api-version=2018-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"registrationDefinitionName":"asd","managedByTenantId":"bab3375b-6197-4a15-a44b-16c41faa91d7","authorizations":[{"principalId":"d6f6c88a-5b7a-455e-ba40-ce146d4d3671","roleDefinitionId":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}],"provisioningState":"Succeeded","managedByTenantName":"Default
        Directory"},"plan":{"name":"asd","product":"asd","publisher":"asd","version":"asda"},"id":"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/00000000-0000-0000-0000-000000000000","type":"Microsoft.ManagedServices/registrationDefinitions","name":"00000000-0000-0000-0000-000000000000"},{"properties":{"registrationDefinitionName":"registrationDefinitionName","description":"Registration
        Defintion Description","managedByTenantId":"bab3375b-6197-4a15-a44b-16c41faa91d7","authorizations":[{"principalId":"d6f6c88a-5b7a-455e-ba40-ce146d4d3671","roleDefinitionId":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}],"provisioningState":"Succeeded","managedByTenantName":"Default
        Directory"},"id":"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/0cb6fbd6-90df-4923-9d92-c266f6c27bba","type":"Microsoft.Managed[...]
