interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-04-20T02:35:00Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace","name":"workspace","type":"Microsoft.BatchAI/workspaces","location":"eastus","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2021-04-20T02:35:34.505Z","creationTime":"2021-04-20T02:35:34.505Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D903A4F97FB959"
      last-modified:
      - Tue, 20 Apr 2021 02:35:34 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
      x-request-time:
      - '0.038'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"ClusterNotFound","message":"The specified managed
        compute cluster is not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.015'
    status:
      code: 404
      message: The specified managed compute cluster is not found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts?api-version=2021-02-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/bai000002","name":"bai000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-04-20T02:35:06.7764955Z","key2":"2021-04-20T02:35:06.7764955Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-20T02:35:06.7764955Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-04-20T02:35:06.7764955Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-04-20T02:35:06.6515140Z","primaryEndpoints":{"blob":"https://bai000002.blob.core.windows.net/","queue":"https://bai000002.queue.core.windows.net/","table":"https://bai000002.table.core.windows.net/","file":"https://bai000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-02-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-beta/providers/Microsoft.Storage/storageAccounts/azureclibetarelease","name":"azureclibetarelease","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":null,"key2":null},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-06-11T10:32:24.8036511Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-06-11T10:32:24.7099044Z","primaryEndpoints":{"dfs":"https://azureclibetarelease.dfs.core.windows.net/","web":"https://azureclibetarelease.z13.web.core.windows.net/","blob":"https://azureclibetarelease.blob.core.windows.net/","queue":"https://azureclibetarelease.queue.core.windows.net/","table":"https://azureclibetarelease.table.core.windows.net/","file":"https://azureclibetarelease.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://azureclibetarelease-secondary.dfs.core.windows.net/","web":"https://azureclibetarelease-secondary.z13.web.core.windows.net/","blob":"https://azureclibetarelease-secondary.blob.core.windows.net/","queue":"https://azureclibetarelease-secondary.queue.core.windows.net/","table":"https://azureclibetarelease-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/bai000002/listKeys?api-version=2021-02-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-04-20T02:35:06.7764955Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-04-20T02:35:06.7764955Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Apr 2021 02:35:41 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://bai000002.file.core.windows.net/batchaishare?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D903A4FE4CC3C8"'
      last-modified:
      - Tue, 20 Apr 2021 02:35:42 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Apr 2021 02:35:42 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://bai000002.blob.core.windows.net/batchaicontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D903A5001ECE96"'
      last-modified:
      - Tue, 20 Apr 2021 02:35:45 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"vmSize": "STANDARD_D1", "vmPriority": "dedicated", "scaleSettings":
      {"manual": {"targetNodeCount": 0, "nodeDeallocationOption": "requeue"}}, "nodeSetup":
      {"setupTask": {"commandLine": "echo hi", "stdOutErrPathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/autoafs"},
      "mountVolumes": {"azureFileShares": [{"accountName": "bai000002", "azureFileUrl":
      "https://bai000002.file.core.windows.net/batchaishare", "credentials": {"accountKey":
      "veryFakedStorageAccountKey=="}, "relativeMountPath": "autoafs", "fileMode":
      "0777", "directoryMode": "0777"}], "azureBlobFileSystems": [{"accountName":
      "bai000002", "containerName": "batchaicontainer", "credentials": {"accountKey":
      "veryFakedStorageAccountKey=="}, "relativeMountPath": "autobfs"}]}}, "userAccountSettings":
      {"adminUserName": "DemoUser", "adminUserSshPublicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/259a2fbb-bbc4-4aed-862e-4737d4810dbc?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationstatuses/259a2fbb-bbc4-4aed-862e-4737d4810dbc?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
      x-request-time:
      - '0.518'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/259a2fbb-bbc4-4aed-862e-4737d4810dbc?api-version=2018-05-01
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/259a2fbb-bbc4-4aed-862e-4737d4810dbc","name":"259a2fbb-bbc4-4aed-862e-4737d4810dbc","status":"Succeeded","startTime":"2021-04-20T02:35:47.312Z","endTime":"2021-04-20T02:35:50.77Z","properties":{"resourceId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590$clitest.rg000001$workspace$cluster"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-request-time:
      - '0.035'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster","name":"cluster","type":"Microsoft.BatchAI/workspaces/clusters","etag":"\"46001eea-0000-0100-0000-607e3e150000\"","properties":{"provisioningState":"succeeded","allocationState":"steady","creationTime":"2021-04-20T02:35:47.165Z","allocationStateTransitionTime":"2021-04-20T02:35:50.792Z","provisioningStateTransitionTime":"2021-04-20T02:35:50.565Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0,"leavingNodeCount":0},"vmPriority":"dedicated","scaleSettings":{"manual":{"targetNodeCount":0,"nodeDeallocationOption":"requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"microsoft-dsvm","offer":"amlcompute","sku":"runtime-gen1-ubuntu18","version":"latest"}},"userAccountSettings":{"adminUserName":"DemoUser","adminUserSshPublicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"},"nodeSetup":{"setupTask":{"commandLine":"echo
        hi","stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/autoafs","stdOutErrPathSuffix":"0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/clusters/cluster/d8e708ec-9978-4a34-890a-fce5649fc068"},"mountVolumes":{"azureFileShares":[{"accountName":"bai000002","azureFileUrl":"https://bai000002.file.core.windows.net/batchaishare","credentials":{},"relativeMountPath":"autoafs","fileMode":"0777","directoryMode":"0777"}],"azureBlobFileSystems":[{"accountName":"bai000002","containerName":"batchaicontainer","credentials":{},"relativeMountPath":"autobfs"}]}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D903A5010B7322"
      last-modified:
      - Tue, 20 Apr 2021 02:35:47 GMT
      x-request-time:
      - '0.576'
    status:
      code: 200
      message: OK
version: 1
