interactions:
- request:
    body: '{"location": "northeurope", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-02T19:36:22Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2019-05-02T19:36:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "northeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/bai000002?api-version=2018-11-01
  response:
    body:
      string: '{"error":{"code":"MultipleErrorsOccurred","message":"Multiple error
        occurred: . Please see details.","details":[{"code":"InternalServerError","message":"Encountered
        internal server error. Diagnostic information: timestamp ''20190502T193637Z'',
        subscription id ''00977cdb-163f-435f-9c32-39ec8ae61f4d'', tracking id ''632cdc1f-d115-4aa8-9c80-a0e6d935783e'',
        request correlation id ''632cdc1f-d115-4aa8-9c80-a0e6d935783e''."},{"code":"InternalServerError","message":"Encountered
        internal server error. Diagnostic information: timestamp ''20190502T193637Z'',
        subscription id ''00977cdb-163f-435f-9c32-39ec8ae61f4d'', tracking id ''632cdc1f-d115-4aa8-9c80-a0e6d935783e'',
        request correlation id ''632cdc1f-d115-4aa8-9c80-a0e6d935783e''."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "northeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/bai000002?api-version=2018-11-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/northeurope/asyncoperations/3a2066b8-c5eb-448f-836b-073ba9a0e7ab?monitor=true&api-version=2018-11-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/northeurope/asyncoperations/3a2066b8-c5eb-448f-836b-073ba9a0e7ab?monitor=true&api-version=2018-11-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/bai000002","name":"bai000002","type":"Microsoft.Storage/storageAccounts","location":"northeurope","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-05-02T19:36:39.5297093Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-05-02T19:36:39.5297093Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-05-02T19:36:39.3109564Z","primaryEndpoints":{"blob":"https://bai000002.blob.core.windows.net/","queue":"https://bai000002.queue.core.windows.net/","table":"https://bai000002.table.core.windows.net/","file":"https://bai000002.file.core.windows.net/"},"primaryLocation":"northeurope","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/bai000002/listKeys?api-version=2018-11-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"InternalServerError","message":"Encountered internal
        server error. Diagnostic information: timestamp ''20190502T193709Z'', subscription
        id ''00977cdb-163f-435f-9c32-39ec8ae61f4d'', tracking id ''3f26855b-13ce-4c2d-8b37-defbeee17503'',
        request correlation id ''3f26855b-13ce-4c2d-8b37-defbeee17503''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace","name":"workspace","type":"Microsoft.BatchAI/workspaces","location":"northeurope","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2019-05-02T19:38:05.057Z","creationTime":"2019-05-02T19:38:05.057Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0x8D6CF35B244E174"'
      last-modified:
      - Thu, 02 May 2019 19:38:05 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"ClusterNotFound","message":"The specified cluster
        cluster is not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified cluster cluster is not found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/bai000002","name":"bai000002","type":"Microsoft.Storage/storageAccounts","location":"northeurope","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-05-02T19:36:39.5297093Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-05-02T19:36:39.5297093Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-05-02T19:36:39.3109564Z","primaryEndpoints":{"blob":"https://bai000002.blob.core.windows.net/","queue":"https://bai000002.queue.core.windows.net/","table":"https://bai000002.table.core.windows.net/","file":"https://bai000002.file.core.windows.net/"},"primaryLocation":"northeurope","statusOfPrimary":"available"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rglwtxxxotabpblyephsiknmarmfjl325ixoojyprquq6ehxx5b2wokoysglc4meehl/providers/Microsoft.Storage/storageAccounts/clistorage2jbmemj6cj","name":"clistorage2jbmemj6cj","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-09-12T19:25:59.1461511Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-09-12T19:25:59.1461511Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2018-09-12T19:25:58.8961261Z","primaryEndpoints":{"dfs":"https://clistorage2jbmemj6cj.dfs.core.windows.net/","web":"https://clistorage2jbmemj6cj.z22.web.core.windows.net/","blob":"https://clistorage2jbmemj6cj.blob.core.windows.net/","queue":"https://clistorage2jbmemj6cj.queue.core.windows.net/","table":"https://clistorage2jbmemj6cj.table.core.windows.net/","file":"https://clistorage2jbmemj6cj.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://clistorage2jbmemj6cj-secondary.dfs.core.windows.net/","web":"https://clistorage2jbmemj6cj-secondary.z22.web.core.windows.net/","blob":"https://clistorage2jbmemj6cj-secondary.blob.core.windows.net/","queue":"https://clistorage2jbmemj6cj-secondary.queue.core.windows.net/","table":"https://clistorage2jbmemj6cj-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 19:38:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://bai000002.file.core.windows.net/batchaishare?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6CF35B59463AA"'
      last-modified:
      - Thu, 02 May 2019 19:38:10 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 May 2019 19:38:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://bai000002.blob.core.windows.net/batchaicontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6CF35B60747EB"'
      last-modified:
      - Thu, 02 May 2019 19:38:11 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"properties": {"vmSize": "STANDARD_D1", "vmPriority": "dedicated",
      "scaleSettings": {"manual": {"targetNodeCount": 0, "nodeDeallocationOption":
      "requeue"}}, "nodeSetup": {"setupTask": {"commandLine": "echo hi", "stdOutErrPathPrefix":
      "$AZ_BATCHAI_MOUNT_ROOT/autoafs"}, "mountVolumes": {"azureFileShares": [{"accountName":
      "bai000002", "azureFileUrl": "https://bai000002.file.core.windows.net/batchaishare",
      "credentials": {"accountKey": "veryFakedStorageAccountKey=="}, "relativeMountPath":
      "autoafs", "fileMode": "0777", "directoryMode": "0777"}], "azureBlobFileSystems":
      [{"accountName": "bai000002", "containerName": "batchaicontainer", "credentials":
      {"accountKey": "veryFakedStorageAccountKey=="}, "relativeMountPath": "autobfs"}]}},
      "userAccountSettings": {"adminUserName": "DemoUser", "adminUserSshPublicKey":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/d0ace213-48a9-4b28-abed-61b850a70ddc?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/d0ace213-48a9-4b28-abed-61b850a70ddc?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/d0ace213-48a9-4b28-abed-61b850a70ddc?api-version=2018-05-01
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/d0ace213-48a9-4b28-abed-61b850a70ddc","name":"d0ace213-48a9-4b28-abed-61b850a70ddc","status":"Succeeded","startTime":"2019-05-02T19:38:12.477Z","endTime":"2019-05-02T19:38:21.378Z","properties":{"resourceId":"00977cdb-163f-435f-9c32-39ec8ae61f4d$clitest.rg000001$workspace$cluster"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster","name":"cluster","type":"Microsoft.BatchAI/workspaces/clusters","properties":{"provisioningState":"succeeded","allocationState":"steady","creationTime":"2019-05-02T19:38:12.469Z","allocationStateTransitionTime":"2019-05-02T19:38:21.626Z","provisioningStateTransitionTime":"2019-05-02T19:38:21.366Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0,"leavingNodeCount":0},"vmPriority":"dedicated","scaleSettings":{"manual":{"targetNodeCount":0,"nodeDeallocationOption":"requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"microsoft-dsvm","offer":"azureml","sku":"runtime","version":"latest"}},"userAccountSettings":{"adminUserName":"DemoUser","adminUserSshPublicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"},"nodeSetup":{"setupTask":{"commandLine":"echo
        hi","stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/autoafs","stdOutErrPathSuffix":"00977cdb-163f-435f-9c32-39ec8ae61f4d/clitest.rg000001/workspaces/workspace/clusters/cluster/f8e35907-0dee-4b5e-9157-d1a0560cce4b"},"mountVolumes":{"azureFileShares":[{"accountName":"bai000002","azureFileUrl":"https://bai000002.file.core.windows.net/batchaishare","credentials":{},"relativeMountPath":"autoafs","fileMode":"0777","directoryMode":"0777"}],"azureBlobFileSystems":[{"accountName":"bai000002","containerName":"batchaicontainer","credentials":{},"relativeMountPath":"autobfs"}]}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0x8D6CF35B6AFCE6F"'
      last-modified:
      - Thu, 02 May 2019 19:38:12 GMT
    status:
      code: 200
      message: OK
[...]
