interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 04:11:58 GMT
      x-ms-version:
      - '2024-08-04'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD5164B8AF51CE"'
      last-modified:
      - Thu, 20 Feb 2025 04:11:59 GMT
      x-ms-version:
      - '2024-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 04:11:59 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD5164B9959C3E"'
      last-modified:
      - Thu, 20 Feb 2025 04:12:00 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_batchai_job_level_mounting_scenario","date":"2025-02-20T04:11:31Z","module":"batchai","DateCreated":"2025-02-20T04:11:34Z","Creator":"zhiyihuang@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"InvalidResourceNamespace","message":"The resource
        namespace ''Microsoft.BatchAI'' is invalid."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
