interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 29 Dec 2019 07:40:57 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78C327225D2FC"'
      last-modified:
      - Sun, 29 Dec 2019 07:40:58 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 29 Dec 2019 07:40:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78C327415F7D5"'
      last-modified:
      - Sun, 29 Dec 2019 07:41:02 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2019-12-29T07:40:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace","name":"workspace","type":"Microsoft.BatchAI/workspaces","location":"northeurope","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2019-12-29T07:41:08.539Z","creationTime":"2019-12-29T07:41:08.539Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D78C3277FAC91C"
      last-modified:
      - Sun, 29 Dec 2019 07:41:08 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"ClusterNotFound","message":"The specified compute
        training cluster and/or compute instance cluster is not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified compute training cluster and/or compute instance cluster
        is not found
- request:
    body: '{"properties": {"vmSize": "STANDARD_D1", "scaleSettings": {"manual": {"targetNodeCount":
      1}}, "userAccountSettings": {"adminUserName": "DemoUser", "adminUserSshPublicKey":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/b95db607-e75f-45f8-9570-7624e657fbdc?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/b95db607-e75f-45f8-9570-7624e657fbdc?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/b95db607-e75f-45f8-9570-7624e657fbdc?api-version=2018-05-01
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/b95db607-e75f-45f8-9570-7624e657fbdc","name":"b95db607-e75f-45f8-9570-7624e657fbdc","status":"Succeeded","startTime":"2019-12-29T07:41:13.399Z","endTime":"2019-12-29T07:41:20.024Z","properties":{"resourceId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590$clitest.rg000001$workspace$cluster"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster","name":"cluster","type":"Microsoft.BatchAI/workspaces/clusters","properties":{"provisioningState":"succeeded","allocationState":"resizing","creationTime":"2019-12-29T07:41:13.393Z","allocationStateTransitionTime":"2019-12-29T07:41:13.393Z","provisioningStateTransitionTime":"2019-12-29T07:41:20.014Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0,"leavingNodeCount":0},"vmPriority":"dedicated","scaleSettings":{"manual":{"targetNodeCount":1,"nodeDeallocationOption":"requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"microsoft-dsvm","offer":"azureml","sku":"runtime","version":"latest"}},"userAccountSettings":{"adminUserName":"DemoUser","adminUserSshPublicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D78C327ADF7C37"
      last-modified:
      - Sun, 29 Dec 2019 07:41:13 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment","name":"experiment","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2019-12-29T07:41:33.282Z","creationTime":"2019-12-29T07:41:33.282Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D78C3286BA4D15"
      last-modified:
      - Sun, 29 Dec 2019 07:41:33 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"JobNotFound","message":"The specified job job is
        not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified job job is not found
[...]
- request:
    body: 'b''b\''{"properties": {"cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster"},
      "mountVolumes": {"azureFileShares": [{"accountName": "clitest000002", "azureFileUrl":
      "https://clitest000002.file.core.windows.net/share", "credentials": {"accountKey":
      "veryFakedStorageAccountKey=="}, "relativeMountPath": "afs"}], "azureBlobFileSystems":
      [{"accountName": "clitest000002", "containerName": "container", "credentials":
      {"accountKey": "veryFakedStorageAccountKey=="}, "relativeMountPath": "bfs"}]},
      "nodeCount": 1, "containerSettings": {"imageSourceRegistry": {"image": "ubuntu"}},
      "customToolkitSettings": {"commandLine": "echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUT/result.txt"},
      "stdOutErrPathPrefix": "$AZ_BATCHAI_JOB_MOUNT_ROOT/afs", "outputDirectories":
      [{"id": "OUTPUT", "pathPrefix": "$AZ_BATCHAI_JOB_MOUNT_ROOT/bfs", "pathSuffix":
      "output"}]}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/ae83b415-7bc2-46d0-b777-a3300adcf5c1?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/ae83b415-7bc2-46d0-b777-a3300adcf5c1?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job","name":"job","type":"Microsoft.BatchAI/workspaces/experiments/jobs","properties":{"experimentName":"experiment","schedulingPriority":"normal","cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster"},"jobOutputDirectoryPathSegment":"0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/4b24a36b-e8aa-44d9-a068-7374ffa63a90","nodeCount":1,"containerSettings":{"imageSourceRegistry":{"image":"ubuntu"}},"mountVolumes":{"azureFileShares":[{"accountName":"clitest000002","azureFileUrl":"https://clitest000002.file.core.windows.net/share","credentials":{},"relativeMountPath":"afs","fileMode":"0777","directoryMode":"0777"}],"azureBlobFileSystems":[{"accountName":"clitest000002","containerName":"container","credentials":{},"relativeMountPath":"bfs"}]},"toolType":"custom","customToolkitSettings":{"commandLine":"echo
        hi | tee $AZ_BATCHAI_OUTPUT_OUTPUT/result.txt"},"stdOutErrPathPrefix":"$AZ_BATCHAI_JOB_MOUNT_ROOT/afs","outputDirectories":[{"id":"OUTPUT","pathPrefix":"$AZ_BATCHAI_JOB_MOUNT_ROOT/bfs","pathSuffix":"output"}],"constraints":{"maxWallClockTime":"P150D"},"creationTime":"2019-12-29T07:41:36.724Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2019-12-29T07:41:36.96Z","executionState":"queued","executionStateTransitionTime":"2019-12-29T07:41:36.724Z","maxJobDurationSeconds":2592000}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D78C3288C773ED"
      last-modified:
      - Sun, 29 Dec 2019 07:41:36 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job/listOutputFiles?api-version=2018-05-01&outputdirectoryid=stdouterr&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body:
      string: '{"value":[{"name":"diagnosis-tvmps_a7b7532d7e4675b29f0dfc296dc937a820a7a19ecdf24b1563e5a7449a2ff7cd_d.zip","fileType":"file","downloadUrl":"https://clitest000002.file.core.windows.net/share/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/4b24a36b-e8aa-44d9-a068-7374ffa63a90/stdouterr/diagnosis-tvmps_a7b7532d7e4675b29f0dfc296dc937a820a7a19ecdf24b1563e5a7449a2ff7cd_d.zip?sv=2018-03-28&sr=f&sig=y2%2FjVm3XwXYlh96XelBiqwQdgBWTpV11bcC8zCKDnkE%3D&se=2019-12-29T08%3A46%3A09Z&sp=rl","properties":{"lastModified":"2019-12-29T07:45:50Z","contentLength":128209}},{"name":"execution.log","fileType":"file","downloadUrl":"https://clitest000002.file.core.windows.net/share/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/4b24a36b-e8aa-44d9-a068-7374ffa63a90/stdouterr/execution.log?sv=2018-03-28&sr=f&sig=o9Y2RyOTqt6jpxDWY%2FSah11K5IKx5RkG%2BOyvezBjj94%3D&se=2019-12-29T08%3A46%3A09Z&sp=rl","properties":{"lastModified":"2019-12-29T07:45:50Z","contentLength":13598}},{"name":"process_info.log","fil[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job/listOutputFiles?api-version=2018-05-01&outputdirectoryid=OUTPUT&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body:
      string: '{"value":[{"name":"result.txt","fileType":"file","downloadUrl":"https://clitest000002.blob.core.windows.net/container/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/4b24a36b-e8aa-44d9-a068-7374ffa63a90/outputs/output/result.txt?sv=2018-03-28&sr=b&sig=pv%2BCn8%2Be8lWB97iHJABFqjoJCNOeKaSuwVICNmzJqg8%3D&se=2019-12-29T08%3A46%3A10Z&sp=rl","properties":{"lastModified":"2019-12-29T07:45:42Z","contentLength":3}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job2?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"JobNotFound","message":"The specified job job2 is
        not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified job job2 is not found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job2/listOutputFiles?api-version=2018-05-01&outputdirectoryid=stdouterr&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body:
      string: '{"value":[{"name":"diagnos[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job2/listOutputFiles?api-version=2018-05-01&outputdirectoryid=OUTPUT&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body:
      string: '{"value":[{"name":"result.txt","fileType":"file","downloadUrl":"https://clitest000002.blob.core.windows.net/container/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job2/64a28f75-6b96-41b8-93c1-094331c24f81/outputs/output/result.txt?sv=2018-03-28&sr=b&sig=hz6a14L2j2f7Lq979sC7AgtLfz1m%2FvkGyRv7MZRIgnw%3D&se=2019-12-29T08%3A47%3A00Z&sp=rl","properties":{"lastModified":"2019-12-29T07:46:39Z","contentLength":3}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
