interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-07-01T10:14:11Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_relay_wcfrelay000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001","name":"cli_test_relay_wcfrelay000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-07-01T10:14:11Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus2", "tags": {"{tag1: value1,": "", "tag2: value2}":
      ""}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002?api-version=2017-04-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002","name":"relay-nscli000002","type":"Microsoft.Relay/Namespaces","location":"West
        US 2","tags":{"{tag1: value1,":"","tag2: value2}":""},"properties":{"provisioningState":"Created","metricId":"854d368f-1828-428f-8f3c-f2affa9b2f7d:relay-nscli000002","createdAt":"2018-07-01T10:14:16.85Z","updatedAt":"2018-07-01T10:14:16.85Z","serviceBusEndpoint":"https://relay-nscli000002.servicebus.windows.net:443/","status":"Activating"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"relayType": "Http"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays/relay-wcfrelaycli000004?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays/relay-wcfrelaycli000004","name":"relay-wcfrelaycli000004","type":"Microsoft.Relay/Namespaces/WcfRelays","location":"West
        US 2","properties":{"createdAt":"2018-07-01T10:14:53.1675202Z","updatedAt":"2018-07-01T10:14:53.1675202Z","listenerCount":0,"requiresClientAuthorization":true,"relayType":"Http","requiresTransportSecurity":true,"isDynamic":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays/relay-wcfrelaycli000004","name":"relay-wcfrelaycli000004","type":"Microsoft.Relay/Namespaces/WcfRelays","location":"West
        US 2","properties":{"createdAt":"2018-07-01T10:14:53.1675202Z","updatedAt":"2018-07-01T10:16:38.0071137Z","listenerCount":0,"requiresClientAuthorization":true,"relayType":"Http","requiresTransportSecurity":true,"isDynamic":false}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-inline-count: ['']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays/relay-wcfrelaycli000004/authorizationRules/cliAutho000003?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays/relay-wcfrelaycli000004/authorizationRules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.Relay/Namespaces/WcfRelays/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays/relay-wcfrelaycli000004/authorizationRules/cliAutho000003/listKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=oUUZYxwXKyw7Y/htrrNef/04dpfcWJg4ZQRCnT3Bej0=;EntityPath=relay-wcfrelaycli000004","secondaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=rktBi4CTmlDxwaLCJ5vma6/IsR5QQM7FwiPS3EY3coI=;EntityPath=relay-wcfrelaycli000004","primaryKey":"oUUZYxwXKyw7Y/htrrNef/04dpfcWJg4ZQRCnT3Bej0=","secondaryKey":"rktBi4CTmlDxwaLCJ5vma6/IsR5QQM7FwiPS3EY3coI=","keyName":"cliAutho000003"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_relay_wcfrelay000001/providers/Microsoft.Relay/namespaces/relay-nscli000002/wcfRelays/relay-wcfrelaycli000004/authorizationRules/cliAutho000003/regenerateKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=0aluELfvE1onE+JtzB7gaga/5yFWqCj3nCO4C+m4ndk=;EntityPath=relay-wcfrelaycli000004","secondaryConnectionString":"Endpoint=sb://relay-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=rktBi4CTmlDxwaLCJ5vma6/IsR5QQM7FwiPS3EY3coI=;EntityPath=relay-wcfrelaycli000004","primaryKey":"0aluELfvE1onE+JtzB7gaga/5yFWqCj3nCO4C+m4ndk=","secondaryKey":"rktBi4CTmlDxwaLCJ5vma6/IsR5QQM7FwiPS3EY3coI=","keyName":"cliAutho000003"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_relay_wcfrelay000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGUkVMQVk6NUZXQ0ZSRUxBWUNITURJQlRFVjNOWkFYNVoyNXxFNEU0OTY4RDQ4REIzQ0JCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
