interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-09-12T23:27:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "192.168.0.0/24"}, "name": "clisubnet000004"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"clivnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003\"\
        ,\r\n  \"etag\": \"W/\\\"b65c0fc8-1e33-4c3e-87e1-dfa4ea07ec94\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"ba478746-af25-4e38-9f11-9ce5054cb4bf\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"\
        dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"\
        name\": \"clisubnet000004\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004\"\
        ,\r\n        \"etag\": \"W/\\\"b65c0fc8-1e33-4c3e-87e1-dfa4ea07ec94\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"192.168.0.0/24\",\r\n          \"delegations\"\
        : [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n  \
        \        \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n    \
        \  }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/bdd0906a-4885-4c03-b296-3d4721e0d2b7?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/bdd0906a-4885-4c03-b296-3d4721e0d2b7?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://eaa75f.cliakstest-clitestorstncc76-864302.westus2.cloudapp.azure.com",
      "passwordCredentials": [{"startDate": "2020-09-12T23:27:32.3804Z", "endDate":
      "2025-09-12T23:27:32.3804Z", "keyId": "30ebf2a3-48f0-41ac-a6f2-b8daeb60b9d1",
      "value": "ReplacedSPPassword123*"}], "displayName": "cliakstest000002", "identifierUris":
      ["https://eaa75f.cliakstest-clitestorstncc76-864302.westus2.cloudapp.azure.com"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "486300af-a451-435f-8d45-4eb6ea9ec92c", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cliakstest000002", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://eaa75f.cliakstest-clitestorstncc76-864302.westus2.cloudapp.azure.com",
        "identifierUris": ["https://eaa75f.cliakstest-clitestorstncc76-864302.westus2.cloudapp.azure.com"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/486300af-a451-435f-8d45-4eb6ea9ec92c/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/486300af-a451-435f-8d45-4eb6ea9ec92c/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cliakstest000002 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cliakstest000002", "id": "d3f4e91f-9ad8-48c8-9da7-3b1062ca73b5",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cliakstest000002 on your behalf.", "userConsentDisplayName": "Access
        cliakstest000002", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2025-09-12T23:27:32.3804Z", "keyId":
        "30ebf2a3-48f0-41ac-a6f2-b8daeb60b9d1", "startDate": "2020-09-12T23:27:32.3804Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "microsoft.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3363427'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/486300af-a451-435f-8d45-4eb6ea9ec92c/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - G0ushzfNst664nw+FH61VvuW9uz4MbZIxr60dwtfVy0=
      ocp-aad-session-key:
      - Z4M_2OFBhEVu5V4pox5jAL8u08WQlYoLN3PqE_s228p3B_c0arZa2l8R7csMaIngfcYTzpcCtP-uxad1HtT53bmtrv5yF42__MzzCuUfQmf8QnMhjDPsZHVfMvpJx0ZwO1wCiu-m8qcICesNcN4YjmGk3plYJw2cAbncdZvUZVM.uyuYvyCEvz0kR1Tz-9v1ct7rG3NBB3C1gt11n_V49OQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"486300af-a451-435f-8d45-4eb6e[...]
- request:
    body: '{"accountEnabled": "True", "appId": "cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"b72be5b1-d3c1-49b2-9d59-09da91cc194a","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cliakstest000002","appId":"cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cliakstest000002","errorUrl":null,"homepage":"https://eaa75f.cliakstest-clitestorstncc76-864302.westus2.cloudapp.azure.com","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cliakstest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cliakstest000002","id":"d3f4e91f-9ad8-48c8-9da7-3b1062ca73b5","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cliakstest000002 on your behalf.","userConsentDisplayName":"Access
        cliakstest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1","https://eaa75f.cliakstest-clitestorstncc76-864302.westus2.cloudapp.azure.com"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2471653'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/b72be5b1-d3c1-49b2-9d59-09da91cc194a/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - 3tNvVkm/Zj7QKWAs1YPTXA5TJ87jXEFFrif+RYkOm5g=
      ocp-aad-session-key:
      - RR0g_xydmU-3ocOd2X2nyreBNO-DR1Re8qlRzCX88ScylcJT4cw3EyR5SQg8N-nDrDMkdEY31lD85XvkFgGyQ9pfzxOyvb49g2AbnCMa6lQ0zFBRSNQWqlvlHH-lsYL7yURfLrrHuOMxhrJAom--Ag1wC2aljSzSHc7a62G9XLA.exoQKsMRwAN1rnbdREWarnqaJIKzFi3kfIRVTQx3wSI
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0ece48b2-9ddd-47e2-b6c2-b5fa2226681b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2020-05-14T15:08:03.5011838Z","updatedOn":"2020-05-14T15:08:03.5011838Z","createdBy":"766b85aa-d8b7-4b5e-911d-c111e86dc72b","updatedBy":"766b85aa-d8b7-4b5e-911d-c111e86dc72b","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/ffe0b11b-dbbe-4ff7-bf3e-4642fb372b08","type":"Microsoft.Authorization/roleAssignments","name":"ffe0b11b-dbbe-4ff7-bf3e-4642fb372b08"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"186d70d8-e0d4-4338-a816-8b891eb6282b","principalType":"Service[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Network%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Network Contributor","type":"BuiltInRole","description":"Lets
        you manage networks, but not access to them.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Network/*","Microsoft.ResourceHealth/availabilityStatuses/read","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-06-02T00:18:27.3542698Z","updatedOn":"2016-05-31T23:14:00.3326359Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","type":"Microsoft.Authorization/roleDefinitions","name":"4d97b98b-1d4f-4787-a291-c67834d212e7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "b72be5b1-d3c1-49b2-9d59-09da91cc194a"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004/providers/Microsoft.Authorization/roleAssignments/772a7fac-b7e5-443b-8b52-e62382ce587b?api-version=2020-04-01-preview
  response:
    body:
      string: '{"error":{"code":"PrincipalNotFound","message":"Principal b72be5b1d3c149b29d5909da91cc194a
        does not exist in the directory 72f988bf-86f1-41af-91ab-2d7cd011db47."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestorstncc76-864302", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "vnetSubnetID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004",
      "osType": "Linux", "type": "VirtualMachineScaleSets", "mode": "System", "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "name":
      "nodepool1"}], "servicePrincipalProfile": {"clientId": "cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1",
      "secret": "dd152998eac29f63f1f3$"}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr":
      "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ocp-Aad-Session-Key:
      - Z4M_2OFBhEVu5V4pox5jAL8u08WQlYoLN3PqE_s228p3B_c0arZa2l8R7csMaIngfcYTzpcCtP-uxad1HtT53bmtrv5yF42__MzzCuUfQmf8QnMhjDPsZHVfMvpJx0ZwO1wCiu-m8qcICesNcN4YjmGk3plYJw2cAbncdZvUZVM.uyuYvyCEvz0kR1Tz-9v1ct7rG3NBB3C1gt11n_V49OQ
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-09-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\": \"1.16.13\"\
        ,\n   \"dnsPrefix\": \"cliakstest-clitestorstncc76-864302\",\n   \"fqdn\"\
        : \"cliakstest-clitestorstncc76-864302-b89bd189.hcp.westus2.azmk8s.io\",\n\
        \   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"\
        count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"vnetSubnetID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004\"\
        ,\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n \
        \    \"provisioningState\": \"Creating\",\n     \"orchestratorVersion\": \"\
        1.16.13\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\": {},\n\
        \     \"mode\": \"System\",\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\"\
        : \"AKSUbuntu-1604-2020.08.19\"\n    }\n   ],\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\": \"cd5ce6c8-5ab4-47ee-b84a-30e342fe88a1\"\n   },\n \
        \  \"addonProfiles\": {\n    \"kubedashboard\": {\n     \"enabled\": true,\n\
        \     \"config\": null\n    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_westus2\"\
        ,\n   \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\"\
        : \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\"\
        : {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n\
        \    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\"\
        ,\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\
        ,\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\": 10\n\
        \  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n\
        \ }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/f0c1bb8f-6bf9-4df0-813c-fb2ddd21a257?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/f0c1bb8f-6bf9-4df0-813c-fb2ddd21a257?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"8fbbc1f0-f96b-f04d-813c-fb2ddd21a257\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-09-12T23:27:50.9269626Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body:
      string: "{\"value\":[{\"properties\":{\"roleName\":\"Avere Cluster Create\"\
        ,\"type\":\"CustomRole\",\"description\":\"Avere cl[...]
- request:
    body: '{"objectIds": ["b72be5b1-d3c1-49b2-9d59-09da91cc194a"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"b72be5b1-d3c1-49b2-9d59-0[...]
