interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-08-16T07:25:15Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitesthvgxefxgf-8ecadf", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7BrN7Z7fvja6OUPwYKSlh8XUH5GKbFAv+01WJwQIHF+6XLJ8Q2SDdmKq2ABvU//T8Vl+83IfCbrSzPzmryQrDUsYP+SeyiTsrkAla9hQaawtdoD5bcp7xjQdbu2AuuJGrfLJbBJ9eTaKhMCvddLZNpe+FcXapW9TS+NRh2t2/eg+vwf0g9o8ucywEaV8YWANbHKZ+cK5mTpZrN9/ZXEEhl5aRQD9xzqzWo2slfH3gRwQjA4jlgzHxUUtQoSvuA69TC2snbMk5LZ0r/XCtt4pxgfwjBCeWVl3WPCs1Df3oUKzEnRRbiMzBxjRBRrMsqu5kcetpcPDDe5kWTKBMNjKT"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "autoUpgradeProfile": {"upgradeChannel": "rapid"}},
      "location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-05-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.20.7\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitesthvgxefxgf-8ecadf\",\n   \"fqdn\": \"cliakstest-clitesthvgxefxgf-8ecadf-f50f966d.hcp.westus2.azmk8s.io\"\
        ,\n   \"azurePortalFQDN\": \"cliakstest-clitesthvgxefxgf-8ecadf-f50f966d.portal.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\": \"OS\"\
        ,\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n \
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"\
        code\": \"Running\"\n     },\n     \"orchestratorVersion\": \"1.20.7\",\n\
        \     \"enableNodePublicIP\": false,\n     \"nodeLabels\": {},\n     \"mode\"\
        : \"System\",\n     \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\"\
        : false,\n     \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"\
        nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2021.07.25\",\n     \"\
        enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\"\
        : \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n      \
        \ \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7BrN7Z7fvja6OUPwYKSlh8XUH5GKbFAv+01WJwQIHF+6XLJ8Q2SDdmKq2ABvU//T8Vl+83IfCbrSzPzmryQrDUsYP+SeyiTsrkAla9hQaawtdoD5bcp7xjQdbu2AuuJGrfLJbBJ9eTaKhMCvddLZNpe+FcXapW9TS+NRh2t2/eg+vwf0g9o8ucywEaV8YWANbHKZ+cK5mTpZrN9/ZXEEhl5aRQD9xzqzWo2slfH3gRwQjA4jlgzHxUUtQoSvuA69TC2snbMk5LZ0r/XCtt4pxgfwjBCeWVl3WPCs1Df3oUKzEnRRbiMzBxjRBRrMsqu5kcetpcPDDe5kWTKBMNjKT\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\"\
        : \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n\
        \   \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\"\
        : \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\"\
        : {\n      \"count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\"\
        ,\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\"\
        ,\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"\
        loadBalancer\"\n   },\n   \"maxAgentPools\": 100,\n   \"autoUpgradeProfile\"\
        : {\n    \"upgradeChannel\": \"rapid\"\n   }\n  },\n  \"identity\": {\n  \
        \ \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\"\
        ,\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\"\
        : {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/3226c745-1e77-4bfa-ad0f-51aad83f93c5?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/3226c745-1e77-4bfa-ad0f-51aad83f93c5?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"45c72632-771e-fa4b-ad0f-51aad83f93c5\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2021-08-17T19:08:23.2Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"kubernetesVersion":
      "1.20.7", "dnsPrefix": "cliakstest-clitesthvgxefxgf-8ecadf", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType":
      "Managed", "kubeletDiskType": "OS", "maxPods": 110, "osType": "Linux", "osSKU":
      "Ubuntu", "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "1.20.7", "enableNodePublicIP": false, "nodeLabels": {}, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7BrN7Z7fvja6OUPwYKSlh8XUH5GKbFAv+01WJwQIHF+6XLJ8Q2SDdmKq2ABvU//T8Vl+83IfCbrSzPzmryQrDUsYP+SeyiTsrkAla9hQaawtdoD5bcp7xjQdbu2AuuJGrfLJbBJ9eTaKhMCvddLZNpe+FcXapW9TS+NRh2t2/eg+vwf0g9o8ucywEaV8YWANbHKZ+cK5mTpZrN9/ZXEEhl5aRQD9xzqzWo2slfH3gRwQjA4jlgzHxUUtQoSvuA69TC2snbMk5LZ0r/XCtt4pxgfwjBCeWVl3WPCs1Df3oUKzEnRRbiMzBxjRBRrMsqu5kcetpcPDDe5kWTKBMNjKT"}]}},
      "servicePrincipalProfile": {"clientId":"00000000-0000-0000-0000-000000000001"},
      "nodeResourceGroup": "MC_clitest000001_cliakstest000002_westus2", "enableRBAC":
      true, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr":
      "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku": "Standard",
      "loadBalancerProfile": {"managedOutboundIPs": {"count": 1}, "effectiveOutboundIPs":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000002_westus2/providers/Microsoft.Network/publicIPAddresses/5404bfc5-8ced-44be-9c39-1f8b7c5dd8e9"}]}},
      "autoUpgradeProfile": {"upgradeChannel": "stable"}, "identityProfile": {"kubeletidentity":
      {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_clitest000001_cliakstest000002_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002-agentpool",
      "clientId":"00000000-0000-0000-0000-000000000001", "objectId":"00000000-0000-0000-0000-000000000001"}}},
      "location": "westus2", "sku": {"name": "Basic", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-05-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedC[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/61a63911-78fb-4afc-ad8f-09240ddd32f7?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/61a63911-78fb-4afc-ad8f-09240ddd32f7?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
