interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '552921'
      ocp-aad-diagnostics-server-name:
      - 6Sl0As7E2+1zdIWgRk5yejOS/S6TP/VjseD/DLeR2+M=
      ocp-aad-session-key:
      - LF2eTSnFAYWG-KipViwgiU0QtyBeGOg3Y_44OFl6NUhtfQiZwsL2-u9RYfq8sJGU6K7N1rqmBelSV5j8mKbFEQZ4gwtBnQoJXvNp-qFHrhJ9F5K_Iclm8rIhaMf-X-vTNxcLl5Gw1T3Urqaqi6YjmEzHGjWJBP4llGUTk-16IZQ.g6TJLkPk2zw8nD1MRuU9nXYa7nobpDFXJlmLwzTaWt0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "passwordCredentials": [{"startDate":
      "2021-03-08T23:34:17.182964Z", "endDate": "2022-03-07T23:34:17.182964Z", "keyId":
      "fdccb1ce-798e-4a9f-a04e-469e7ab4a77d", "value": "ReplacedSPPassword123*"}],
      "displayName": "ReplacedSPPassword123*", "identifierUris": ["http://ReplacedSPPassword123*"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_BadRequest","message":{"lang":"en","value":"The
        password must contain at least 1 special character. paramName: PasswordCredentials,
        paramValue: , objectType: Microsoft.Online.DirectoryServices.Application"},"requestId":"a4562558-0575-4e36-8b01-3017aa15cc63","date":"2021-03-08T23:34:17","values":[{"item":"PropertyName","value":"passwordCredentials"},{"item":"PropertyErrorCode","value":"AppPasswordWeak"}]}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1524855'
      ocp-aad-diagnostics-server-name:
      - HEnG4CPXKooBrI3BEgnPEK+D0WuSD+l3MkI/dmfMjvQ=
      ocp-aad-session-key:
      - fIHEiWJkWdxhTP38Tl_jdS1yEC_28nDQ71ooIDP_cW7_EMjYfHkSf4IRcMSX87-fE_VnTldVWOILGqnOUqBJvumDgvlFXb8BzJ3uLA6_xNKEkX5CdpbdEsX5UJqB1O9y8sjS5ym0iLpj87kdm9cpZEP70yiW9qkyiRWq4HH8Ons.RRka3QETsuRUx1bgIEXNbksbU6wDoXF8fRc4Abs1i7k
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 400
      message: Bad Request
version: 1
