interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-10-27T07:35:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://6b3b01.cliakstest-clitesthstty76f7-26fe00.westus2.cloudapp.azure.com",
      "passwordCredentials": [{"startDate": "2020-10-27T07:35:24.834282Z", "endDate":
      "2025-10-27T07:35:24.834282Z", "keyId": "8c600b36-e42b-4447-9014-5951a682c49e",
      "value": "ReplacedSPPassword123*"}], "displayName": "cliakstest000002", "identifierUris":
      ["https://6b3b01.cliakstest-clitesthstty76f7-26fe00.westus2.cloudapp.azure.com"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "0a2ce961-666f-4bc3-9daa-068a392e874e", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "8175a275-3a50-4eaa-8795-0215e1fbc06b",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cliakstest000002", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://6b3b01.cliakstest-clitesthstty76f7-26fe00.westus2.cloudapp.azure.com",
        "identifierUris": ["https://6b3b01.cliakstest-clitesthstty76f7-26fe00.westus2.cloudapp.azure.com"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/0a2ce961-666f-4bc3-9daa-068a392e874e/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/0a2ce961-666f-4bc3-9daa-068a392e874e/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cliakstest000002 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cliakstest000002", "id": "465e2573-a465-41a2-adb3-e2eeff8de6da",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cliakstest000002 on your behalf.", "userConsentDisplayName": "Access
        cliakstest000002", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2025-10-27T07:35:24.834282Z", "keyId":
        "8c600b36-e42b-4447-9014-5951a682c49e", "startDate": "2020-10-27T07:35:24.834282Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "microsoft.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6268219'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/0a2ce961-666f-4bc3-9daa-068a392e874e/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - 0LlnUNoEO7jEDF80N6Y4mKET9OQL8ZNxFirzdR/oMr4=
      ocp-aad-session-key:
      - eFuf6ffQhPbgqX9jaYExYbcZF-5LkGJNTre80wEIWpWq9aPgcvAM_Tj-W68n0qNAFCze9yHgE5fF7BhFGXrc2Ys0msJ1x9jkLUj650wlwAm8n0V6cPdO7J1O2NaRc761xq77KIE451El9gnXyuM0JG0ViHw9QLwbAoHaifV3S20.YTSE5ByUGyn6S7MLG5EVO7uN2lRo84Aa9sypRw3NHFM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%278175a275-3a50-4eaa-8795-0215e1fbc06b%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"0a2ce961-666f-4bc3-9daa-068a3[...]
- request:
    body: '{"accountEnabled": "True", "appId": "8175a275-3a50-4eaa-8795-0215e1fbc06b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"26651ab4-6373-450d-94e0-e641c74da7af","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cliakstest000002","appId":"8175a275-3a50-4eaa-8795-0215e1fbc06b","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cliakstest000002","errorUrl":null,"homepage":"https://6b3b01.cliakstest-clitesthstty76f7-26fe00.westus2.cloudapp.azure.com","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cliakstest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cliakstest000002","id":"465e2573-a465-41a2-adb3-e2eeff8de6da","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cliakstest000002 on your behalf.","userConsentDisplayName":"Access
        cliakstest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["8175a275-3a50-4eaa-8795-0215e1fbc06b","https://6b3b01.cliakstest-clitesthstty76f7-26fe00.westus2.cloudapp.azure.com"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3660346'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/26651ab4-6373-450d-94e0-e641c74da7af/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - YF0m9VfRaICKZ7BaPBWJYnZAznG+rGxvI3UhMCQZVCo=
      ocp-aad-session-key:
      - paYQy3tuOHE_KD-fTaU4pNQL4ZpXTUT8d4jYuTKS8kki6pDLqqdBwVNvPYXKSwP3firAgw7CYFwDQIiTw5qHMTWvakvEAMt0PtXQHzZKTM_5Bj2U5m6waNK__p8AyKtdSieR_KU6liLUmtnlQnrkgvX0GHbbGIFowgwXLOY2hVc.k360Y_4zdZdbXy8yVF7-Y3144b6MsQ2IuzoiQv_vC0g
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitesthstty76f7-26fe00", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "osDiskType": "Managed", "osType": "Linux", "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDiauQ12ac/8uBhdsGAE1swCUGZ1LHSEYXVulGl/bpdSRfE5P44hMcdw7rAfwgZ/XKzS330iiJcI/FOKYtkLCCdYQWB5qUZu3t+mfwIFakrsUeYb/XrT/ZNDrzd/LLYBxDvsV/2oxxBsK0xkCOUI6ZrbpNQnw8ChM1AiS9Q2YUQglF6iPCKLLnUp+X7HJH0j4RYxgOU/lDKEpH4Bef99eRezzqCPQIynSL9488EYjEbMoB+dJ36o1tcjNO4SsivATAN6xYhQP+coTVKWMwxwssfwfc7FXpS967W+ep3cntz9pAjrgzWLLsamldEFkrJ8+F2Gm8ZtQ1fKnYf8lbTI0T9PxtKblpxhcVcdeYfMUzDAGyk3yFqbtOwZsiAps9qBvYzA8SSVCOcnhTEvlenSRl3x5f08+dbp0PjwstsoLyj/BPD82JjkeiYI5nedlzX+XVXTpPoFbR2NDhwcG8ftS/kE1Ebw8wp5s6cnI2pSHYQ4epkvYhQx+AgDmXOav5tF8c=
      ace@ace-vm\n"}]}}, "servicePrincipalProfile": {"clientId": "8175a275-3a50-4eaa-8795-0215e1fbc06b",
      "secret": "c9698a1b9475cd9fc0d4$"}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr":
      "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ocp-Aad-Session-Key:
      - eFuf6ffQhPbgqX9jaYExYbcZF-5LkGJNTre80wEIWpWq9aPgcvAM_Tj-W68n0qNAFCze9yHgE5fF7BhFGXrc2Ys0msJ1x9jkLUj650wlwAm8n0V6cPdO7J1O2NaRc761xq77KIE451El9gnXyuM0JG0ViHw9QLwbAoHaifV3S20.YTSE5ByUGyn6S7MLG5EVO7uN2lRo84Aa9sypRw3NHFM
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2020-09-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.17.11\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitesthstty76f7-26fe00\",\n   \"fqdn\": \"cliakstest-clitesthstty76f7-26fe00-b7151065.hcp.westus2.staging.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"maxPods\": 110,\n     \"\
        type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\"\
        ,\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\"\
        : \"1.17.11\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\":\
        \ {},\n     \"mode\": \"System\",\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\"\
        : \"AKSUbuntu-1604-2020.10.08\"\n    }\n   ],\n   \"linuxProfile\": {\n  \
        \  \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDiauQ12ac/8uBhdsGAE1swCUGZ1LHSEYXVulGl/bpdSRfE5P44hMcdw7rAfwgZ/XKzS330iiJcI/FOKYtkLCCdYQWB5qUZu3t+mfwIFakrsUeYb/XrT/ZNDrzd/LLYBxDvsV/2oxxBsK0xkCOUI6ZrbpNQnw8ChM1AiS9Q2YUQglF6iPCKLLnUp+X7HJH0j4RYxgOU/lDKEpH4Bef99eRezzqCPQIynSL9488EYjEbMoB+dJ36o1tcjNO4SsivATAN6xYhQP+coTVKWMwxwssfwfc7FXpS967W+ep3cntz9pAjrgzWLLsamldEFkrJ8+F2Gm8ZtQ1fKnYf8lbTI0T9PxtKblpxhcVcdeYfMUzDAGyk3yFqbtOwZsiAps9qBvYzA8SSVCOcnhTEvlenSRl3x5f08+dbp0PjwstsoLyj/BPD82JjkeiYI5nedlzX+XVXTpPoFbR2NDhwcG8ftS/kE1Ebw8wp5s6cnI2pSHYQ4epkvYhQx+AgDmXOav5tF8c=\
        \ ace@ace-vm\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\": \"8175a275-3a50-4eaa-8795-0215e1fbc06b\"\n   },\n \
        \  \"addonProfiles\": {\n    \"KubeDashboard\": {\n     \"enabled\": true,\n\
        \     \"config\": null\n    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_westus2\"\
        ,\n   \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\"\
        : \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\"\
        : {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n\
        \    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\"\
        ,\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\
        ,\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\": 10\n\
        \  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n\
        \ }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/1394a0c6-7f81-4c22-9712-b50dd021fa11?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/1394a0c6-7f81-4c22-9712-b50dd021fa11?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"c6a09413-817f-224c-9712-b50dd021fa11\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-10-27T07:35:33.7181193Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
