interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators?api-version=2019-04-01&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\n
        \ \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\":
        \"Kubernetes\",\n     \"orchestratorVersion\": \"1.23.12\",\n     \"upgrades\":
        [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.23.15\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.24.6\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.9\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.23.15\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.6\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.9\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.24.6\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.9\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.25.4\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.25.5\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.24.9\",\n     \"default\": true,\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.25.4\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.25.5\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.25.4\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.25.5\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.26.0\",\n       \"isPreview\": true\n
        \     }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.25.5\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.26.0\",\n       \"isPreview\": true\n      }\n     ]\n    },\n    {\n
        \    \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.26.0\",\n     \"isPreview\": true\n    }\n   ]\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "1.26.0", "dnsPrefix": "cliakstest-clitest3fpq3rrgm-79a739",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "1.26.0", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPZeBtfriw8skq09UH5U8W2D8m82rArhOUxxc0pyPPXfaRMNtrd7r8FuX+qRSKLhyVEVtDJCBpfj6DXYypXyeZd3H7FGThPQLAH2mognuFrqOXkVVdkBf/NMy2b9Ux6dIJ0f4a9GrUxkLz3kH0YHOQqdB1uogieN66YB1FC2YpoF5So1/Pwn4jKd2XC6xuUVbIrn2UAmQuU8aQ94sIyG3lgD6qffZBjI+H6y+muEs3DWl1xaUlXg7uSVAlfySjxMKlyQ+mMb+wM6QG/NUR/FNZ5ywb1HAg9NSLseJ4v0RXj1VU2LbroU5cNwd6qo8kGIv0QtN5AsO/4mGePXGwsEPV
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"outboundType": "loadBalancer", "loadBalancerSku": "standard",
      "ipFamilies": ["IPv4", "IPv6"]}, "disableLocalAccounts": false, "storageProfile":
      {}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AKS-EnableDualStack
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.26.0\",\n   \"currentKubernetesVersion\": \"1.26.0\",\n   \"dnsPrefix\":
        \"cliakstest-clitest3fpq3rrgm-79a739\",\n   \"fqdn\": \"cliakstest-clitest3fpq3rrgm-79a739-7a50c06d.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest3fpq3rrgm-79a739-7a50c06d.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.26.0\",\n     \"currentOrchestratorVersion\":
        \"1.26.0\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-2204gen2containerd-2023.02.09\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPZeBtfriw8skq09UH5U8W2D8m82rArhOUxxc0pyPPXfaRMNtrd7r8FuX+qRSKLhyVEVtDJCBpfj6DXYypXyeZd3H7FGThPQLAH2mognuFrqOXkVVdkBf/NMy2b9Ux6dIJ0f4a9GrUxkLz3kH0YHOQqdB1uogieN66YB1FC2YpoF5So1/Pwn4jKd2XC6xuUVbIrn2UAmQuU8aQ94sIyG3lgD6qffZBjI+H6y+muEs3DWl1xaUlXg7uSVAlfySjxMKlyQ+mMb+wM6QG/NUR/FNZ5ywb1HAg9NSLseJ4v0RXj1VU2LbroU5cNwd6qo8kGIv0QtN5AsO/4mGePXGwsEPV
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\":
        \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\":
        {\n      \"count\": 1,\n      \"countIPv6\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\",\n     \"fd36:7a1f:5efb:8dd0::/64\"\n
        \   ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\",\n     \"fd1f:859e:e97e:1364::/108\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\",\n     \"IPv6\"\n    ]\n   },\n
        \  \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/04593132-da40-4dda-afc1-3dd3eaad77d6?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/04593132-da40-4dda-afc1-3dd3eaad77d6?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"32315904-40da-da4d-afc1-3dd3eaad77d6\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-01T04:23:31.808264Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/04593132-da40-4dda-afc1-3dd3eaad77d6?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"32315904-40da-da4d-afc1-3dd3eaad77d6\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-03-01T04:23:31.808264Z\",\n  \"endTime\":
        \"2023-03-01T04:28:10.2789028Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/03a32cfe-69c0-4802-bdde-58640b7a9491?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/03a32cfe-69c0-4802-bdde-58640b7a9491?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
