interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-05-27T06:20:29Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "v1", "tag2": "v2"}, "location": "westus2", "identity":
      {"type": "SystemAssigned"}, "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestxfwiuk6t6-0b1f64", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "workloadRuntime": "OCIContainer", "osType": "Linux", "maxCount":
      5, "minCount": 1, "enableAutoScaling": true, "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy":
      false, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr":
      "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku": "standard"},
      "autoScalerProfile": {"expander": "least-waste", "scan-interval": "30s"}, "disableLocalAccounts":
      false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-04-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"tags\":
        {\n   \"tag1\": \"v1\",\n   \"tag2\": \"v2\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"powerState\":
        {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.22.6\",\n
        \  \"currentKubernetesVersion\": \"1.22.6\",\n   \"dnsPrefix\": \"cliakstest-clitestxfwiuk6t6-0b1f64\",\n
        \  \"fqdn\": \"cliakstest-clitestxfwiuk6t6-0b1f64-4a9a5be5.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestxfwiuk6t6-0b1f64-4a9a5be5.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"maxCount\": 5,\n     \"minCount\": 1,\n     \"enableAutoScaling\":
        true,\n     \"provisioningState\": \"Creating\",\n     \"powerState\": {\n
        \     \"code\": \"Running\"\n     },\n     \"orchestratorVersion\": \"1.22.6\",\n
        \    \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n     \"enableEncryptionAtHost\":
        false,\n     \"enableUltraSSD\": false,\n     \"osType\": \"Linux\",\n     \"osSKU\":
        \"Ubuntu\",\n     \"nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2022.05.10\",\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"autoScalerProfile\": {\n    \"balance-similar-node-groups\":
        \"false\",\n    \"expander\": \"least-waste\",\n    \"max-empty-bulk-delete\":
        \"10\",\n    \"max-graceful-termination-sec\": \"600\",\n    \"max-node-provision-time\":
        \"15m\",\n    \"max-total-unready-percentage\": \"45\",\n    \"new-pod-scale-up-delay\":
        \"0s\",\n    \"ok-total-unready-count\": \"3\",\n    \"scale-down-delay-after-add\":
        \"10m\",\n    \"scale-down-delay-after-delete\": \"10s\",\n    \"scale-down-delay-after-failure\":
        \"3m\",\n    \"scale-down-unneeded-time\": \"10m\",\n    \"scale-down-unready-time\":
        \"20m\",\n    \"scale-down-utilization-threshold\": \"0.5\",\n    \"scan-interval\":
        \"30s\",\n    \"skip-nodes-with-local-storage\": \"false\",\n    \"skip-nodes-with-system-pods\":
        \"true\"\n   },\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   }\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/bd38e20b-91d8-434d-80cc-29e30e598ac9?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/bd38e20b-91d8-434d-80cc-29e30e598ac9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"0be238bd-d891-4d43-80cc-29e30e598ac9\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-05-27T06:20:41.0066666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/bd38e20b-91d8-434d-80cc-29e30e598ac9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"0be238bd-d891-4d43-80cc-29e30e598ac9\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-05-27T06:20:41.0066666Z\",\n  \"endTime\":
        \"2022-05-27T06:24:28.2929835Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"tag3": "v3"}, "location": "westus2", "sku": {"name": "Basic",
      "tier": "Free"}, "identity": {"type": "SystemAssigned"}, "properties": {"kubernetesVersion":
      "1.22.6", "dnsPrefix": "cliakstest-clitestxfwiuk6t6-0b1f64", "agentPoolProfiles":
      [{"count": 1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType":
      "Managed", "kubeletDiskType": "OS", "workloadRuntime": "OCIContainer", "maxPods":
      110, "osType": "Linux", "osSKU": "Ubuntu", "enableAutoScaling": false, "type":
[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-04-02-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/d4318f7a-0e43-43c8-9d20-684f0d56104a?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/d4318f7a-0e43-43c8-9d20-684f0d56104a?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
