interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '515278'
      ocp-aad-diagnostics-server-name:
      - 2h7tQJ8s5hChiW2SaA76Pyff7fHWoXWohIJn0e6ADrI=
      ocp-aad-session-key:
      - m0UMrOkAM0renv9FOh_yEhsIk-0asOL_2u98S6EDolrJ4p7uLwyu4e6q-BMzbnLZgqaUvvNG_YAh5u0jo6qC07rHg6uuMpRVsV8o2OWhQhd-QRb5Vc0UMrDZXGbEcLQ2xFxHftyIfcIZBQDtU7qYoVDPsg2vSkuF35dzceIURAI.dh1u-s0wUy0_NthxaBVtjbihYDKj0nLI5E6jRMIStUg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "passwordCredentials": [{"startDate":
      "2021-03-08T23:32:20.456276Z", "endDate": "2022-03-07T23:32:20.456276Z", "keyId":
      "7b26e998-ab2a-4ff4-8fc5-c2920b6da143", "value": "ReplacedSPPassword123*"}],
      "displayName": "ReplacedSPPassword123*", "identifierUris": ["http://ReplacedSPPassword123*"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_BadRequest","message":{"lang":"en","value":"The
        password must contain at least 1 special character. paramName: PasswordCredentials,
        paramValue: , objectType: Microsoft.Online.DirectoryServices.Application"},"requestId":"8af3cbc2-fef9-4287-a790-093c8a1e6841","date":"2021-03-08T23:32:21","values":[{"item":"PropertyName","value":"passwordCredentials"},{"item":"PropertyErrorCode","value":"AppPasswordWeak"}]}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '797186'
      ocp-aad-diagnostics-server-name:
      - O8mWsoCYd8hXa3or01jSNEVyGI5a8WBKdQveQ+8lMag=
      ocp-aad-session-key:
      - HXnlMNgE4OmjlCA0WPwRwk5S1R7ZGYZA0OxrEdGt0Jx37BJ-q-l50tq330H290cxGqcWFVyJ6xuKY1CZ91hAWU-4yy8j-awt5jAOJrXncOOVEuv22ogOy1cLMf5Qty2nEPVUZpC2oQGsnh3OkQc_d4XAO1OLnm2hAX-DZCLiKRk.cY2u1ggFA7tkmFb8bbpkDwtIPd9h-hCGK1ZCGaOrnhU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 400
      message: Bad Request
version: 1
