interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators?api-version=2019-04-01&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\n
        \ \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\":
        \"Kubernetes\",\n     \"orchestratorVersion\": \"1.22.11\",\n     \"upgrades\":
        [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.22.15\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.23.8\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.23.12\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.22.15\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.23.8\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.23.12\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.23.8\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.23.12\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.24.3\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.6\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.23.12\",\n     \"default\": true,\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.3\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.6\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.24.3\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.6\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.24.6\"\n    }\n   ]\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"scenario_test": ""}, "location": "westus2", "properties": {"kubernetesVersion":
      "1.23.12", "dnsPrefix": "cliaksdns000002", "agentPoolProfiles": [{"count": 1,
      "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "1.23.12", "upgradeSettings": {}, "enableNodePublicIP": false, "scaleSetPriority":
      "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "nodeTaints":
      [], "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYlNq1pvV7V8bS6zqN6KJx/D0ffQp13a3sV0bXyMkjSwLbn9wVorqgr4Gc1YrxmtoOII9fTIg8ZrH98X/AYW2Ybe8clc4SztLMoJSgitFAgOVplVubn1LuOr+GWLo9KP6EOC7FM3pk/cnobDebxmH2/Jb77BizXkNhLniLgd6Qdv3AOUHnfts2oJ106pttVAyrD5OKlkrqNNAfBjTlBrfiZEH1njaF/wN6x67BaZOgp325RPn+sSdUNkZyHJD2kKDFUgiTD3kyHNf6gN6IIT+f871MPlQuA40cbyZf7Pm8XVEYjEv4+TlCaEGaVCXOc+ZjxknrogTthy7xLG11sJJ1
      azcli_aks_live_test@example.com\n"}]}}, "servicePrincipalProfile": {"clientId":"00000000-0000-0000-0000-000000000001",
      "secret":"fake-secret"}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType":
      "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts": false,
      "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2022-09-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"tags\":
        {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"powerState\":
        {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.23.12\",\n
        \  \"currentKubernetesVersion\": \"1.23.12\",\n   \"dnsPrefix\": \"cliaksdns000002\",\n
        \  \"fqdn\": \"cliaksdns000002-c4c6797c.hcp.westus2.azmk8s.io\",\n   \"azurePortalFQDN\":
        \"cliaksdns000002-c4c6797c.portal.hcp.westus2.azmk8s.io\",\n   \"agentPoolProfiles\":
        [\n    {\n     \"name\": \"nodepool1\",\n     \"count\": 1,\n     \"vmSize\":
        \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\": \"Managed\",\n
        \    \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n     \"type\":
        \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n     \"provisioningState\":
        \"Creating\",\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n
        \    \"orchestratorVersion\": \"1.23.12\",\n     \"currentOrchestratorVersion\":
        \"1.23.12\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.10.03\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYlNq1pvV7V8bS6zqN6KJx/D0ffQp13a3sV0bXyMkjSwLbn9wVorqgr4Gc1YrxmtoOII9fTIg8ZrH98X/AYW2Ybe8clc4SztLMoJSgitFAgOVplVubn1LuOr+GWLo9KP6EOC7FM3pk/cnobDebxmH2/Jb77BizXkNhLniLgd6Qdv3AOUHnfts2oJ106pttVAyrD5OKlkrqNNAfBjTlBrfiZEH1njaF/wN6x67BaZOgp325RPn+sSdUNkZyHJD2kKDFUgiTD3kyHNf6gN6IIT+f871MPlQuA40cbyZf7Pm8XVEYjEv4+TlCaEGaVCXOc+ZjxknrogTthy7xLG11sJJ1
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\":
        \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\":
        {\n      \"count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n
        \   \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n
        \   \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n
        \   \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   }\n  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n
        \ }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/15dbe803-0830-4683-8cce-dc12662b3d38?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/upgradeProfiles/default?api-version=2022-09-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/upgradeprofiles/default\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/upgradeprofiles\",\n
        \ \"properties\": {\n   \"controlPlaneProfile\": {\n    \"kubernetesVersion\":
        \"1.23.12\",\n    \"osType\": \"Linux\",\n    \"upgrades\": [\n     {\n      \"kubernetesVersion\":
        \"1.24.3\"\n     },\n     {\n      \"kubernetesVersion\": \"1.24.6\"\n     }\n
        \   ]\n   },\n   \"agentPoolProfiles\": null\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"scenario_test": ""}, "location": "westus2", "sku": {"name":
      "Basic", "tier": "Free"}, "properties": {"kubernetesVersion": "1.23.12", "dnsPrefix":
      "cliaksdns000002", "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_DS2_v2",
      "osDiskSizeGB": 128, "osDiskType": "Managed", "kubeletDiskType": "OS", "maxPods":
      110, "osType": "Linux", "osSKU": "Ubuntu", "enableAutoScaling": false, "type":
      "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion": "1.23.12",
      "upgradeSettings": {}, "powerState": {"code": "Running"}, "enableNodePublicIP":
      false, "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYlNq1pvV7V8bS6zqN6KJx/D0ffQp13a3sV0bXyMkjSwLbn9wVorqgr4Gc1YrxmtoOII9fTIg8ZrH98X/AYW2Ybe8clc4SztLMoJSgitFAgOVplVubn1LuOr+GWLo9KP6EOC7FM3pk/cnobDebxmH2/Jb77BizXkNhLniLgd6Qdv3AOUHnfts2oJ106pttVAyrD5OKlkrqNNAfBjTlBrfiZEH1njaF/wN6x67BaZOgp325RPn+sSdUNkZyHJD2kKDFUgiTD3kyHNf6gN6IIT+f871MPlQuA40cbyZf7Pm8XVEYjEv4+TlCaEGaVCXOc+ZjxknrogTthy7xLG11sJJ1
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {"httpApplicationRouting":
      {"enabled": true}}, "oidcIssuerProfile": {"enabled": false}, "nodeResourceGroup":
      "MC_clitest000001_cliakstest000001_westus2", "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType":
      "loadBalancer", "loadBalancerSku": "Standard", "loadBalancerProfile": {"managedOutboundIPs":
      {"count": 1}, "effectiveOutboundIPs": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000001_westus2/providers/Microsoft.Network/publicIPAddresses/54cea037-21cc-4958-8f40-1cccf9b05576"}]},
      "podCidrs": ["10.244.0.0/16"], "serviceCidrs": ["10.0.0.0/16"], "ipFamilies":
      ["IPv4"]}, "disableLocalAccounts": false, "securityProfile": {}, "storageProfile":
      {"diskCSIDriver": {"enabled": true}, "fileCSIDriver": {"enabled": true}, "snapshotController":
      {"enabled": t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/79a87cb9-6ad6-4728-b729-95690d808974?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b97ca879-d66a-2847-b729-95690d808974\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-10-25T11:39:12.3517394Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/79a87cb9-6ad6-4728-b729-95690d808974?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"b97ca879-d66a-2847-b729-95690d808974\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-10-25T11:39:12.3517394Z\",\n  \"endTime\":
        \"2022-10-25T11:40:56.7997331Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2022-09-01
  response:
    body:
      string: "{\n  \"code\": \"NotFound\",\n  \"message\": \"Could not find managed
        cluster resource: cliakstest000001 in subscription: 79a7390d-3a85-432d-9f6f-a11a703c8b83,
        resourceGroup: clitest000001.\",\n  \"subcode\": \"GetManagedCluster_NotFound\"\n
        }"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
