interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-04-18T02:25:51Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "v1", "tag2": "v2"}, "location": "westus2", "identity":
      {"type": "SystemAssigned"}, "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitest55xuk3jm2-8ecadf", "agentPoolProfiles": [{"count": 3, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "maxCount": 3, "minCount": 1, "enableAutoScaling":
      true, "type": "VirtualMachineScaleSets", "mode": "System", "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9Mn81dw0jaancv5sQo9kQAJKWQ9BtlyS0y4bBlVN3lxJXSiS5Dq189mgBY7JiURWHcwQ3VXCKRJZjHYIKj31PTAL2H+jU5a/4ty2z++omM2G4OCFu71jusuRYs4P9jLdfMatQ43Zp+wsYV1NmzNF9o/14ltu3piQAs44c81CW0GJGG1b0wKe1ujYx/TI+J8gfqHjo+HiLpHHjshCiWyK8GC64ueZguzG45fWZHRcmpYTWOPFH5Jl3ZuUeTkRo3012wINMAIpXzBX4wYaV2tPbsSbsivCdgPOq2zBkTJJ1PqQRCwAbd0XFAHpUzMCX70GdstCowb7YHliyp7FA6DZB
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr":
      "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}, "autoScalerProfile":
      {"expander": "least-waste", "scan-interval": "30s"}, "disableLocalAccounts":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-03-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"tags\":
        {\n   \"tag1\": \"v1\",\n   \"tag2\": \"v2\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"powerState\":
        {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.21.9\",\n
        \  \"currentKubernetesVersion\": \"1.21.9\",\n   \"dnsPrefix\": \"cliakstest-clitest55xuk3jm2-8ecadf\",\n
        \  \"fqdn\": \"cliakstest-clitest55xuk3jm2-8ecadf-8c27ce00.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest55xuk3jm2-8ecadf-8c27ce00.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"maxCount\": 3,\n     \"minCount\":
        1,\n     \"enableAutoScaling\": true,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.21.9\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.03.29\",\n     \"enableFIPS\": false\n
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n
        \   \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQC9Mn81dw0jaancv5sQo9kQAJKWQ9BtlyS0y4bBlVN3lxJXSiS5Dq189mgBY7JiURWHcwQ3VXCKRJZjHYIKj31PTAL2H+jU5a/4ty2z++omM2G4OCFu71jusuRYs4P9jLdfMatQ43Zp+wsYV1NmzNF9o/14ltu3piQAs44c81CW0GJGG1b0wKe1ujYx/TI+J8gfqHjo+HiLpHHjshCiWyK8GC64ueZguzG45fWZHRcmpYTWOPFH5Jl3ZuUeTkRo3012wINMAIpXzBX4wYaV2tPbsSbsivCdgPOq2zBkTJJ1PqQRCwAbd0XFAHpUzMCX70GdstCowb7YHliyp7FA6DZB
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\":
        \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\":
        {\n      \"count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n
        \   \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n
        \   \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n
        \   \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"autoScalerProfile\": {\n    \"balance-similar-node-groups\":
        \"false\",\n    \"expander\": \"least-waste\",\n    \"max-empty-bulk-delete\":
        \"10\",\n    \"max-graceful-termination-sec\": \"600\",\n    \"max-node-provision-time\":
        \"15m\",\n    \"max-total-unready-percentage\": \"45\",\n    \"new-pod-scale-up-delay\":
        \"0s\",\n    \"ok-total-unready-count\": \"3\",\n    \"scale-down-delay-after-add\":
        \"10m\",\n    \"scale-down-delay-after-delete\": \"10s\",\n    \"scale-down-delay-after-failure\":
        \"3m\",\n    \"scale-down-unneeded-time\": \"10m\",\n    \"scale-down-unready-time\":
        \"20m\",\n    \"scale-down-utilization-threshold\": \"0.5\",\n    \"scan-interval\":
        \"30s\",\n    \"skip-nodes-with-local-storage\": \"false\",\n    \"skip-nodes-with-system-pods\":
        \"true\"\n   },\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {}\n  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/207351c9-b931-4f87-bcb6-bba8e58e5149?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/207351c9-b931-4f87-bcb6-bba8e58e5149?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"c9517320-31b9-874f-bcb6-bba8e58e5149\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-04-18T02:25:54.0566666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/207351c9-b931-4f87-bcb6-bba8e58e5149?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"c9517320-31b9-874f-bcb6-bba8e58e5149\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-04-18T02:25:54.0566666Z\",\n  \"endTime\":
        \"2022-04-18T02:29:03.7043129Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"tag3": "v3"}, "location": "westus2", "sku": {"name": "Basic",
      "tier": "Free"}, "identity": {"type": "SystemAssigned"}, "properties": {"kubernetesVersion":
      "1.21.9", "dnsPrefix": "cliakstest-clitest55xuk3jm2-8ecadf", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType":
      "Managed", "kubeletDiskType": "OS", "maxPods": 110, "osType": "Linux", "osSKU":
      "Ubuntu", "enableAutoScaling": false, "type": "VirtualMachineScaleSets", "mode":
[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/1c3bc5a8-6d86-467b-9e0a-c093d28a99b0?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/1c3bc5a8-6d86-467b-9e0a-c093d28a99b0?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
