interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-02T19:08:15Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001?api-version=2020-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001","name":"clitestosa000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-02T19:08:15Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000002?api-version=2018-09-30-preview
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/openShiftManagedClusters/clitestosa000002''
        under resource group ''clitestosa000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/microsoft.com/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27https%3A%2F%2Fclitestosa000002.eastus.cloudapp.azure.com%2Foauth2callback%2FAzure%2520AD%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/microsoft.com/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['5802168']
      ocp-aad-diagnostics-server-name: [4jE1Ny4/KFr6/sIodp8k+HHkvERWRVbZ9ilW0wu+F+w=]
      ocp-aad-session-key: [8F2bTyl3xSzApDwKHeQC3AsDJEvXfCYT4aJXj2GsIxVLsaTMzY8kd-py9QTqOrwcc1HKk0h32j4j6wKQ3IVsvzvuvsrIOF81fLW3vli6VM92KFoc4mJeAwXiU5R9W1F-vHdGG_JOwG_q4afrIpywfm31QB1x3GMVTwohMgAGSCIHeepss9grx_r3oyt14b8-qfLy4Qm1ugtoDW3a5dezGQ.9qrHs1kWekS7dlqrlFOSUOxMc6-laraG_eqLr-hGtFE]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "clitestosa000002.eastus.cloudapp.azure.com",
      "homepage": "https://clitestosa000002.eastus.cloudapp.azure.com/oauth2callback/Azure%20AD",
      "identifierUris": ["https://clitestosa000002.eastus.cloudapp.azure.com/oauth2callback/Azure%20AD"],
      "replyUrls": ["https://clitestosa000002.eastus.cloudapp.azure.com/oauth2callback/Azure%20AD"],
      "passwordCredentials": [{"startDate": "2019-01-02T19:08:18.145928Z", "endDate":
      "2020-01-02T19:08:18.145928Z", "keyId": "9cbbe9cb-4292-4713-9015-cc808a552aa7",
      "value": "b284c746fa4e1a4d9aa5"}], "requiredResourceAccess": [{"resourceAccess":
      [{"id": "311a71cc-e848-46a1-bdf8-97ff7156d8e6", "type": "Scope"}], "resourceAppId":
      "00000002-0000-0000-c000-000000000000"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/microsoft.com/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/microsoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"7a4584eb-59ff-4756-8118-2b03cd78af4a","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"e0ce3266-e094-4fbc-ad1d-3d874f606082","appRoles":[],"availableToOtherTenants":false,"displayName":"clitestosa000002.eastus.cloudapp.azure.com","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitestosa000002.eastus.cloudapp.azure.com/oauth2callback/Azure%20AD","identifierUris":["https://clitestosa000002.eastus.cloudapp.azure.com/oauth2callback/Azure%20AD"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitestosa000002.eastus.cloudapp.azure.com on behalf
        of the signed-in user.","adminConsentDisplayName":"Access clitestosa000002.eastus.cloudapp.azure.com","id":"a33a83a0-ead0-41cb-8fdf-84579aa0983f","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitestosa000002.eastus.cloudapp.azure.com on your
        behalf.","userConsentDisplayName":"Access clitestosa000002.eastus.cloudapp.azure.com","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2020-01-02T19:08:18.145928Z","keyId":"9cbbe9cb-4292-4713-9015-cc808a552aa7","startDate":"2019-01-02T19:08:18.145928Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":["https://clitestosa000002.eastus.cloudapp.azure.com/oauth2callback/Azure%20AD"],"requiredResourceAccess":[{"resourceAppId":"00000002-0000-0000-c000-000000000000","resourceAccess":[{"id":"311a71cc-e848-46a1-bdf8-97ff7156d8e6","type":"Scope"}]}],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['11996885']
      location: ['https://graph.windows.net/microsoft.com/directoryObjects/7a4584eb-59ff-4756-8118-2b03cd78af4a/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [bOSVw5ebUyVNrnHERuA1cFYGZib69gI5UzRTYzSt7ZU=]
      ocp-aad-session-key: [VqUh-RfFLYER_D3RpOlHupauGUulbssCr2u3Y8xuKd_rp1ds14kc-7bl8r1HvHGCyjiyowncTJ39q0qne8-pi6LaDX0-7XE1n0YqqOK-g2AhzBZKGKi0sseSwh0qAAcC4h8ztGcoHQFX_bE4F72gwQGVPQfHR4ZupiwdijjJHjjWZ4VHecOSHPg1Bd09THacVrhivfB_4HNXMTKdaNw5DA.bFY-y9If0dqXkBX7TkRKlG-JXjg4Eu1oHZ3orxFKyQA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"location": "eastus", "properties": {"openShiftVersion": "v3.11", "fqdn":
      "clitestosa000002.eastus.cloudapp.azure.com", "networkProfile": {"vnetCidr":
      "10.0.0.0/8"}, "routerProfiles": [{"name": "default"}], "masterPoolProfile":
      {"name": "master", "count": 3, "vmSize": "Standard_D4s_v3", "subnetCidr": "10.0.0.0/24",
      "osType": "Linux"}, "agentPoolProfiles": [{"name": "compute", "count": 1, "vmSize":
      "Standard_D4s_v3", "subnetCidr": "10.0.0.0/24", "osType": "Linux", "role": "compute"},
      {"name": "infra", "count": 2, "vmSize": "Standard_D4s_v3", "subnetCidr": "10.0.0.0/24",
      "osType": "Linux", "role": "infra"}], "authProfile": {"identityProviders": [{"name":
      "Azure AD", "provider": {"kind": "AADIdentityProvider", "clientId": "e0ce3266-e094-4fbc-ad1d-3d874f606082",
      "secret": "b284c746fa4e1a4d9aa5", "tenantId": "microsoft.com"}}]}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000002?api-version=2018-09-30-preview
  response:
    body: {string: "{\n  \"properties\": {\n   \"provisioningState\": \"Creating\"\
        ,\n   \"openShiftVersion\": \"v3.11\",\n   \"fqdn\": \"c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/76a45f68-d3b1-477c-a2e1-e7055c1d0abc?api-version=2018-10-31
  response:
    body: {string: "{\n  \"name\": \"685fa476-b1d3-7c47-a2e1-e7055c1d0abc\",\n  \"\
        status\": \"InProgress\",\n  \"startTime\": \"2019-01-02T19:08:22.1821153Z\"\
        \n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/76a45f68-d3b1-477c-a2e1-e7055c1d0abc?api-version=2018-10-31
  response:
    body: {string: "{\n  \"name\": \"685fa476-b1d3-7c47-a2e1-e7055c1d0abc\",\n  \"\
        status\": \"Succeeded\",\n  \"startTime\": \"2019-01-02T19:08:22.1821153Z\"\
        ,\n  \"endTime\": \"2019-01-02T19:19:11.5263184Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"openShiftVersion": "v3.11", "fqdn":
      "clitestosa000002.eastus.cloudapp.azure.com", "networkProfile": {"vnetCidr":
      "10.0.0.0/8"}, "routerProfiles": [{"name": "default", "publicSubdomain": "0e543b8cf07845e3a386.int.azmosa.io"}],
      "masterPoolProfile": {"name": "master", "count": 3, "vmSize": "Standard_D4s_v3",
      "subnetCidr": "10.0.0.0/24"}, "agentPoolProfiles": [{"name": "compute", "count":
      3, "vmSize": "Standard_D4s_v3", "subnetCidr": "10.0.0.0/24", "osType": "Linux",
      "role": "compute"}, {"name": "infra", "count": 2, "vmSize": "Standard_D4s_v3",
      "subnetCidr": "10.0.0.0/24", "osType": "Linux", "role": "infra"}]}}'''
    headers:
      Content-Type: [app[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000002?api-version=2018-09-30-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/1644d66b-3f6f-42e6-9eee-153a264f70d7?api-version=2018-10-31']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/1644d66b-3f6f-42e6-9eee-153a264f70d7?api-version=2018-10-31']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001?api-version=2020-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUT1NBWTVRQ09IUy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2020-10-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
