interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
<<<<<<< Updated upstream
      "date": "2019-05-14T17:16:10Z"}}'
=======
      "date": "2019-05-14T18:52:32Z"}}'
>>>>>>> Stashed changes
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
<<<<<<< Updated upstream
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-14T17:16:10Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-14T18:52:32Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> Stashed changes
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:16:12 GMT
=======
      - Tue, 14 May 2019 18:52:33 GMT
>>>>>>> Stashed changes
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< Updated upstream
      - '1196'
=======
      - '1198'
>>>>>>> Stashed changes
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:16:13 GMT
      duration:
      - '1415646'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - lmh4uV9dRst8pgCGYL7c2IeXRHfrviQ1EsDxe5f7RfI=
      ocp-aad-session-key:
      - V86pHhgR7keICh67jhP3zKVlHnzcwJ06DQ5hETrwjANwJ9Sdqhh6yn_N5FMNniVjJtsfurcFSvfcq_K9E9Vb5xpAUeryEOyakN8jOmEO_nvl5eDdJ-SlWLjeVJ34KlRihzMi6N3YXC_2HOqyYcBVCQ.n54DPtIm9pRrkUdB1pUkkaCbrhFJbGnS7Mo00848rDw
      pragma:
      - no-cache
      request-id:
      - 6699c695-5ab5-49f9-af55-ffe4917235fd
=======
      - Tue, 14 May 2019 18:52:34 GMT
      duration:
      - '895616'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - PzjoqFDjDfp5Fc6GL9bkt25bYL5UZy7aawZgDUMHOy4=
      ocp-aad-session-key:
      - 84xCEyZLqHG0hlo8UP3jafZNxweOcr0hNIeR9vwegTwUBeeSxb_BqqJXy6C3Fe6FBPlzAqtoHKIcafEg8eE1PuBsYOeyqt5jeykcNrV32a9dqlI87DLUkna_Cw4ijbxZe1-erFMQPwEM0frG203udQ.siJr5T0NiVp_AFHonP7eyyKSEl7G-_k3IAFPEQkUvtI
      pragma:
      - no-cache
      request-id:
      - 0128768f-be54-46b7-8765-7462168108fd
>>>>>>> Stashed changes
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserv[...]
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://clitest000002",
<<<<<<< Updated upstream
      "passwordCredentials": [{"startDate": "2019-05-14T17:16:13.25476Z", "endDate":
      "2020-05-14T17:16:13.25476Z", "keyId": "03444674-727b-42f6-826f-7e44bfe76a83",
      "value": "462739e3-132b-488d-b6b1-fd58cb4dc6fc", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
=======
      "passwordCredentials": [{"startDate": "2019-05-14T18:52:35.870228Z", "endDate":
      "2020-05-14T18:52:35.870228Z", "keyId": "3254460f-5b95-471a-840d-c1ae673e4183",
      "value": "e81bcd07-84fd-4cf1-9e3b-e69395d80149", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
>>>>>>> Stashed changes
      "displayName": "clitest000002", "identifierUris": ["http://clitest000002"]}'''
    headers:
<<<<<<< Updated upstream
      - '432'
=======
      - '434'
>>>>>>> Stashed changes
      Content-Type:
      - application/json; charset=utf-8
      ParameterSetName:
      - -n --skip-assignment
      User-Agent:
      - python/3.7.3 (Windows-10-10.0.18362-SP0) msrest/0.6.6 msrest_azure/0.6.0 azure-graphrbac/0.60.0
        Azure-SDK-For-Python AZURECLI/2.0.64
      accept-language:
      - en-US
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
<<<<<<< Updated upstream
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"afa82bf5-d8d8-473b-b866-4cdc9b0e5ddb","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"64e38dc4-2aa0-411e-8fcd-7e5b088afb06","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitest000002","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/afa82bf5-d8d8-473b-b866-4cdc9b0e5ddb/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/afa82bf5-d8d8-473b-b866-4cdc9b0e5ddb/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"1f5da30c-d772-4a7d-9b6a-db6a2dc0e736","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-05-14T17:16:13.25476Z","keyId":"03444674-727b-42f6-826f-7e44bfe76a83","startDate":"2019-05-14T17:16:13.25476Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
=======
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"957b96bd-e79d-450c-bcda-6aa61af11600","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"3f9087c3-f437-4703-8b62-8ac71b25f23e","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","err[...]
- request:
<<<<<<< Updated upstream
    body: '{"accountEnabled": "True", "appId": "64e38dc4-2aa0-411e-8fcd-7e5b088afb06"}'
=======
    body: '{"accountEnabled": "True", "appId": "3f9087c3-f437-4703-8b62-8ac71b25f23e"}'
>>>>>>> Stashed changes
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
<<<<<<< Updated upstream
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"19e6d275-66f9-49b3-a9df-2b5ac7b4230d","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest000002","appId":"64e38dc4-2aa0-411e-8fcd-7e5b088afb06","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest000002","errorUrl":null,"homepage":"https://clitest000002","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"1f5da30c-d772-4a7d-9b6a-db6a2dc0e736","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["64e38dc4-2aa0-411e-8fcd-7e5b088afb06","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
=======
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"678bc991-fecf-47a2-85f5-66a1d052806b","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest000002","appId":"3f9087c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
<<<<<<< Updated upstream
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-14T17:16:10Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-14T18:52:32Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> Stashed changes
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:16:14 GMT
=======
      - Tue, 14 May 2019 18:52:38 GMT
>>>>>>> Stashed changes
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "192.168.0.0/24"}, "name": "clisubnet000005"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"clivnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004\",\r\n
<<<<<<< Updated upstream
        \ \"etag\": \"W/\\\"385a8fa3-0ecc-46ba-a9d2-d03d3fb53ef6\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"fdb5fdaf-a74a-4007-816b-4e85305f94c1\",\r\n    \"addressSpace\":
=======
        \ \"etag\": \"W/\\\"d1bbaa9f-0415-4b70-a8e4-5da42432ea65\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"3caa1a24-3030-4f94-abcb-0f645a0c2e22\",\r\n    \"addressSpace\":
>>>>>>> Stashed changes
        {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"clisubnet000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005\",\r\n
<<<<<<< Updated upstream
        \       \"etag\": \"W/\\\"385a8fa3-0ecc-46ba-a9d2-d03d3fb53ef6\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"d1bbaa9f-0415-4b70-a8e4-5da42432ea65\\\"\",\r\n
>>>>>>> Stashed changes
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"192.168.0.0/24\",\r\n          \"delegations\":
        []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
<<<<<<< Updated upstream
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/20fff0de-91e4-4d7b-b096-905a30a8b325?api-version=2019-02-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/0366c45a-00ce-4dd0-86aa-1e9a32ca3914?api-version=2018-12-01
>>>>>>> Stashed changes
      cache-control:
      - no-cache
      content-length:
      - '1263'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:16:17 GMT
=======
      - Tue, 14 May 2019 18:52:38 GMT
>>>>>>> Stashed changes
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
<<<<<<< Updated upstream
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/20fff0de-91e4-4d7b-b096-905a30a8b325?api-version=2019-02-01
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/0366c45a-00ce-4dd0-86aa-1e9a32ca3914?api-version=2018-12-01
>>>>>>> Stashed changes
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:16:20 GMT
=======
      - Tue, 14 May 2019 18:52:42 GMT
>>>>>>> Stashed changes
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "eastus", "properties": {"kubernetesVersion":
<<<<<<< Updated upstream
      "", "dnsPrefix": "cliakstest-clitestqglqanxf4-c9cbd9", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS2_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "462739e3-132b-488d-b6b1-fd58cb4dc6fc"}, "addonProfiles": {}, "enableRBAC":
=======
      "", "dnsPrefix": "cliakstest-clitest4trzgarta-c9cbd9", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS2_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "e81bcd07-84fd-4cf1-9e3b-e69395d80149"}, "addonProf[...]
[...]
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "eastus", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitest4trzgarta-c9cbd9", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS2_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "e81bcd07-84fd-4cf1-9e3b-e69395d80149"}, "addonProfiles": {}, "enableRBAC":
>>>>>>> Stashed changes
      true}}\\\\\\\''\\\''\'''''
    headers:
<<<<<<< Updated upstream
      Connection:
      - keep-alive
      Content-Length:
      - '570'
      Content-Type:
      - application/json; charset=utf-8
      ParameterSetName:
      - --resource-group --name --location --node-count --service-principal --client-secret
        --vnet-subnet-id --skip-subnet-role-assignment --no-ssh-key
      User-Agent:
      - python/3.7.3 (Windows-10-10.0.18362-SP0) msrest/0.6.6 msrest_azure/0.6.0 azure-mgmt-containerservice/5.2.0
        Azure-SDK-For-Python AZURECLI/2.0.64
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service
        principal clientID: clitest000002 not found in Active Directory tenant 72f988bf-86f1-41af-91ab-2d7cd011db47,
        Please see https://aka.ms/aks-sp-help for more details.\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
<<<<<<< Updated upstream
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2764e38dc4-2aa0-411e-8fcd-7e5b088afb06%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal",[...]
- request:
    body: null
    headers:
    method: GET
<<<<<<< Updated upstream
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/19e6d275-66f9-49b3-a9df-2b5ac7b4230d?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"19e6d275-66f9-49b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
<<<<<<< Updated upstream
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application",[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
<<<<<<< Updated upstream
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%2719e6d275-66f9-49b3-a9df-2b5ac7b4230d%27&api-version=2018-01-01-preview
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27678bc991-fecf-47a2-85f5-66a1d052806b%27&api-version=2018-01-01-preview
>>>>>>> Stashed changes
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:28:35 GMT
=======
      - Tue, 14 May 2019 19:05:09 GMT
>>>>>>> Stashed changes
      expires:
      - '-1'
      pragma:
      - no-cache
      set-cookie:
      - x-ms-gateway-slice=Production; path=/; secure; HttpOnly
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
<<<<<<< Updated upstream
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/afa82bf5-d8d8-473b-b866-4cdc9b0e5ddb?api-version=1.6
=======
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/957b96bd-e79d-450c-bcda-6aa61af11600?api-version=1.6
>>>>>>> Stashed changes
  response:
    body:
      string: ''
    headers:
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:28:3[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''clitest000001'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Tue, 14 May 2019 17:28:36 GMT
      expires:
      - '-1'
=======
      - Tue, 14 May 2019 19:05:11 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUNFRSWkdBUlRBSy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2020-06-01
>>>>>>> Stashed changes
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 404
      message: Not Found
version: 1
