interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestqjpgotjyr-79a739",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvBk9v4/Qo7XJWIY7AItmm8ohKhV9Y2z/SA5RKWk4BUCpK4ElHu8ia+QREfb7nmO5LtydRi7glVKNjUWUeaSC1PTmk2Z421whqvLRgF6XquFUcEC+VZG54EiS7j6hc2G3Af76vCZQQIQ7fKB8gngJXVb4QjbKVkoORamBKaSQ5MoAPF9GeSPfDesETM/jcE60BguHKjSTXhfsvgs6/iuUSPQ7duXwFtlpQy8WwA6ymGj4ehF0y8NXP6fjEajHDhPjPDkyuKBFTScflrLRryURmRyyICLt40vd+gaiyYCmREJxZNT/7J1pKmlpLNJejqDgXJ97xeyv4flTL7XRSgWV5
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "oidcIssuerProfile":
      {"enabled": true}, "enableRBAC": true, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "securityProfile": {"workloadIdentity":
      {"enabled": true}}, "storageProfile": {}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/EnableWorkloadIdentityPreview,Microsoft.ContainerService/EnableOIDCIssuerPreview
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-03-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.25.6\",\n   \"currentKubernetesVersion\": \"1.25.6\",\n   \"dnsPrefix\":
        \"cliakstest-clitestqjpgotjyr-79a739\",\n   \"fqdn\": \"cliakstest-clitestqjpgotjyr-79a739-03zac4lr.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestqjpgotjyr-79a739-03zac4lr.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.25.6\",\n     \"currentOrchestratorVersion\":
        \"1.25.6\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-2204gen2containerd-202304.10.0\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvBk9v4/Qo7XJWIY7AItmm8ohKhV9Y2z/SA5RKWk4BUCpK4ElHu8ia+QREfb7nmO5LtydRi7glVKNjUWUeaSC1PTmk2Z421whqvLRgF6XquFUcEC+VZG54EiS7j6hc2G3Af76vCZQQIQ7fKB8gngJXVb4QjbKVkoORamBKaSQ5MoAPF9GeSPfDesETM/jcE60BguHKjSTXhfsvgs6/iuUSPQ7duXwFtlpQy8WwA6ymGj4ehF0y8NXP6fjEajHDhPjPDkyuKBFTScflrLRryURmRyyICLt40vd+gaiyYCmREJxZNT/7J1pKmlpLNJejqDgXJ97xeyv4flTL7XRSgWV5
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enableLTS\": \"KubernetesOfficial\",\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {\n    \"workloadIdentity\": {\n     \"enabled\": true\n    }\n   },\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true\n    },\n    \"fileCSIDriver\":
        {\n     \"enabled\": true\n    },\n    \"snapshotController\": {\n     \"enabled\":
        true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\": true,\n
        \   \"issuerURL\": \"https://westus2.oic.prod-aks.azure.com/72f988bf-86f1-41af-91ab-2d7cd011db47/c79ef355-2a53-40a1-a870-ac21bae65ee4/\"\n
        \  },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\": {\n   \"type\":
        \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Base\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/9b55d6ba-94bd-44b8-b772-2a42f150c563?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/9b55d6ba-94bd-44b8-b772-2a42f150c563?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"bad6559b-bd94-b844-b772-2a42f150c563\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-04-29T10:52:43.2738267Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/9b55d6ba-94bd-44b8-b772-2a42f150c563?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"bad6559b-bd94-b844-b772-2a42f150c563\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-04-29T10:52:43.2738267Z\",\n  \"endTime\":
        \"2023-04-29T10:57:37.3405565Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
