interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators?api-version=2019-04-01&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\n
        \ \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\":
        \"Kubernetes\",\n     \"orchestratorVersion\": \"1.23.8\",\n     \"upgrades\":
        [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.23.12\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.24.3\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.6\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.23.12\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.3\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.6\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.24.3\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.6\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.25.2\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.25.4\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.24.6\",\n     \"default\": true,\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.25.2\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.25.4\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.25.2\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.25.4\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.25.4\"\n    }\n   ]\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "1.25.4", "dnsPrefix": "cliakstest-clitest43djwaihm-8ecadf",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "1.25.4", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"outboundType": "loadBalancer", "loadBalancerSku": "standard", "ipFamilies":
      ["IPv4", "IPv6"]}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      AKSHTTPCustomFeatures:
      - Microsoft.ContainerService/AKS-EnableDualStack
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-11-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.25.4\",\n   \"currentKubernetesVersion\": \"1.25.4\",\n   \"dnsPrefix\":
        \"cliakstest-clitest43djwaihm-8ecadf\",\n   \"fqdn\": \"cliakstest-clitest43djwaihm-8ecadf-43fb1fd4.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest43djwaihm-8ecadf-43fb1fd4.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.25.4\",\n     \"currentOrchestratorVersion\":
        \"1.25.4\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-2204gen2containerd-2023.01.10\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\":
        \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\":
        {\n      \"count\": 1,\n      \"countIPv6\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\",\n     \"fd25:69a0:8fe1:56b5::/64\"\n
        \   ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\",\n     \"fd92:3b99:1a74:1104::/108\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\",\n     \"IPv6\"\n    ]\n   },\n
        \  \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/413d5bd4-4e38-4fd8-9c8b-377fc93e00e9?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/413d5bd4-4e38-4fd8-9c8b-377fc93e00e9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"d45b3d41-384e-d84f-9c8b-377fc93e00e9\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-01-27T20:46:51.5821586Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/413d5bd4-4e38-4fd8-9c8b-377fc93e00e9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"d45b3d41-384e-d84f-9c8b-377fc93e00e9\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-01-27T20:46:51.5821586Z\",\n  \"endTime\":
        \"2023-01-27T20:50:02.0429578Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2022-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/07bce772-cd87-452e-97b6-e529c4a45d85?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/07bce772-cd87-452e-97b6-e529c4a45d85?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
