interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.9.13 (Windows-10-10.0.22000-SP0)
=======
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10 (Linux-5.15.0-1017-azure-x86_64-with-glibc2.29)
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-09-01T02:58:36Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-08-30T03:51:27Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 01 Sep 2022 02:58:50 GMT
=======
      - Tue, 30 Aug 2022 03:51:27 GMT
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
<<<<<<< HEAD
    body: '{"location": "westus", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestwhr66axtl-0b1f64", "agentPoolProfiles": [{"count": 3, "vmSize":
=======
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitest2bquj2zss-8ecadf", "agentPoolProfiles": [{"count": 3, "vmSize":
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      "Standard_DS2_v2", "osDiskSizeGB": 0, "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "upgradeSettings": {}, "enableNodePublicIP": false, "scaleSetPriority":
      "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "nodeTaints":
      [], "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
<<<<<<< HEAD
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "servicePrincipalProfile": {"clientId":"00000000-0000-0000-0000-000000000001",
=======
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDaNPXUd0mbTXJ4I+KFW5KzIPimUfbKGXZfsy0eKGvO3C6X4gBRTshaUPnNLjvLd/K2G0r/aO73Tt9f0glUt39cwNchM8fnT+yYM0Sy3zax6VvqNuergfqa8dawP9fMC2nEo03ZleI7tOI/sFrHVuhzUSViWtXlI/O8MzXfGEDq2fQJ0y2LZC8tGquoqiJRuuo59/+wZazpkPPyU0hqwdncKx7A5fT0f1C9weC8YqkNVlQH48xB5ARpr0NLcWuWFh42ddBb9l30zEVz68KWn/FjP4Za0OjUmy+XH8bY7ittFi74aY23A8Q2WbmjFppC3stm6DbJ71TZfXvWFBIE2inB
      azcli_aks_live_test@example.com\n"}]}}, "servicePrincipalProfile": {"clientId":"00000000-0000-0000-0000-000000000001",
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      "secret":"fake-secret"}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType":
      "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts": false,
      "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservice/20.2.0 Python/3.9.13
        (Windows-10-10.0.22000-SP0)
=======
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservice/20.3.0 Python/3.8.10
        (Linux-5.15.0-1017-azure-x86_64-with-glibc2.29)
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2022-07-01
  response:
    body:
<<<<<<< HEAD
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service
        principal clientID: 6307b257-c6fd-46f9-b7ff-13579e4de17b not found in Active
        Directory tenant 54826b22-38d6-4fb2-bad9-b7b93a3e9c5a, Please see https://aka.ms/aks-sp-help
        for more details.\",\n  \"subcode\": \"\"\n }"
    headers:
      content-type:
      - application/json
=======
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000003\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.8\",\n   \"currentKubernetesVersion\": \"1.23.8\",\n   \"dnsPrefix\":
        \"cliakstest-clitest2bquj2zss-8ecadf\",\n   \"fqdn\": \"cliakstest-clitest2bquj2zss-8ecadf-ea9e119b.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitest2bquj2zss-8ecadf-ea9e119b.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.23.8\",\n     \"currentOrchestratorVersion\":
        \"1.23.8\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.08.10\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDaNPXUd0mbTXJ4I+KFW5KzIPimUfbKGXZfsy0eKGvO3C6X4gBRTshaUPnNLjvLd/K2G0r/aO73Tt9f0glUt39cwNchM8fnT+yYM0Sy3zax6VvqNuergfqa8dawP9fMC2nEo03ZleI7tOI/sFrHVuhzUSViWtXlI/O8MzXfGEDq2fQJ0y2LZC8tGquoqiJRuuo59/+wZazpkPPyU0hqwdncKx7A5fT0f1C9weC8YqkNVlQH48xB5ARpr0NLcWuWFh42ddBb9l30zEVz68KWn/FjP4Za0OjUmy+XH8bY7ittFi74aY23A8Q2WbmjFppC3stm6DbJ71TZfXvWFBIE2inB
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000003_westus2\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\":
        \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\":
        {\n      \"count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n
        \   \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n
        \   \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n
        \   \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   }\n  },\n  \"sku\": {\n   \"name\": \"Basic\",\n
        \  \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/40d19516-1d9f-456d-aa5a-b37143b4eae9?api-version=2016-03-30
      content-type:
      - application/json
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1196'
=======
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/40d19516-1d9f-456d-aa5a-b37143b4eae9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"1695d140-9f1d-6d45-aa5a-b37143b4eae9\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-08-30T03:51:30.5690207Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      Accept-Encoding:
      - gzip, deflate
      CommandName:
      - aks create
      Connection:
      - keep-alive
<<<<<<< HEAD
      Content-Length:
      - '1851'
      Content-Type:
      - application/json
      ParameterSetName:
      - --resource-group --name --service-principal --client-secret --ssh-key-value
      User-Agent:
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservice/20.2.0 Python/3.9.13
        (Windows-10-10.0.22000-SP0)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2022-06-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/e934b061-85c7-4a5d-8beb-f85208fd7c7e?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"61b034e9-c785-5d4a-8beb-f85208fd7c7e\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-09-01T02:59:07.69Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/e934b061-85c7-4a5d-8beb-f85208fd7c7e?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"61b034e9-c785-5d4a-8beb-f85208fd7c7e\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-09-01T02:59:07.69Z\",\n  \"endTime\":
        \"2022-09-01T03:02:11.3994385Z\"\n }"
=======
      ParameterSetName:
      - --resource-group --name --service-principal --client-secret --ssh-key-value
      User-Agent:
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservice/20.3.0 Python/3.8.10
        (Linux-5.15.0-1017-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/40d19516-1d9f-456d-aa5a-b37143b4eae9?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"1695d140-9f1d-6d45-aa5a-b37143b4eae9\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-08-30T03:51:30.5690207Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.9.13 (Windows-10-10.0.22000-SP0)
=======
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10 (Linux-5.15.0-1017-azure-x86_64-with-glibc2.29)
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-09-01T02:58:36Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"cause":"automation","date":"2022-08-30T03:51:27Z","deletion_due_time":"1662090837","deletion_marked_by":"gc","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    headers:
<<<<<<< HEAD
      - '304'
      content-type:
      - application/json; charset=utf-8
      date:
      - Thu, 01 Sep 2022 03:02:14 GMT
=======
      - '364'
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 30 Aug 2022 03:55:01 GMT
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-msi/6.1.0 Python/3.9.13 (Windows-10-10.0.22000-SP0)
=======
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-msi/6.0.1 Python/3.8.10 (Linux-5.15.0-1017-azure-x86_64-with-glibc2.29)
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cli000004?api-version=2022-01-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cli000004","name":"cli000004","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"00000000-0000-0000-0000-000000000001","clientId":"00000000-0000-0000-0000-000000000001"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 01 Sep 2022 03:02:22 GMT
=======
      - Tue, 30 Aug 2022 03:55:02 GMT
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      expires:
      - '-1'
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cli000004
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1199'
=======
      - '1197'
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Basic", "tier": "Free"}, "identity":
      {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cli000004":
<<<<<<< HEAD
      {}}}, "properties": {"kubernetesVersion": "1.23.8", "dnsPrefix": "cliakstest-clitestwhr66axtl-0b1f64",
=======
      {}}}, "properties": {"kubernetesVersion": "1.23.8", "dnsPrefix": "cliakstest-clitest2bquj2zss-8ecadf",
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      "agentPoolProfiles": [{"coun[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservice/20.2.0 Python/3.9.13
        (Windows-10-10.0.22000-SP0)
=======
      - AZURECLI/2.39.0 azsdk-python-azure-mgmt-containerservice/20.3.0 Python/3.8.10
        (Linux-5.15.0-1017-azure-x86_64-with-glibc2.29)
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2022-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/1a3ac726-225b-416b-8146-123cedd911c6?api-version=2017-08-31
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/e832b0ae-caae-4940-a64d-b324ac6fbea9?api-version=2016-03-30
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      cache-control:
      - no-cache
      content-length:
      - '0'
      date:
<<<<<<< HEAD
      - Thu, 01 Sep 2022 03:05:08 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operationresults/1a3ac726-225b-416b-8146-123cedd911c6?api-version=2017-08-31
=======
      - Tue, 30 Aug 2022 03:58:06 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/e832b0ae-caae-4940-a64d-b324ac6fbea9?api-version=2016-03-30
>>>>>>> upgrade azure-mgmt-core from 1.3.1 to 1.3.2 & update recordings
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
