interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2024-08-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000002''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_aks_maintenancewindow","date":"2023-07-25T22:57:42Z","module":"acs"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestz4idoeste-79a739",
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDemVeiV0oC3pafSTCQ+4tYvMdvlkWtLmyNa2arNVqvenvPKikWFusuVtKLyLC+VU1oHeVi3KSeBOiitPZbFwfQ11oMsGe2lU5LlA9/Pipl7Y9JYIpIjUOxwA6mQ03c49tHoWrll4XcL+TJPT8IK+h37LNKkdZtcVj6oFY5NgLeTtcMcEr1uB2HqqI70lKo4AwIclAdcfz35VBgEjxp9mAZfKGqNbCT1yuexq9w/Oogol999U89CFEmnm+ZKljSxCa6r3Seg8wfeRYuzNYbIeR7TXHCc3TeS7XtlBz9i/6/5L5hEK65FMcm6b/ewIzeJ5v8y6TH0+S4TD1y+5D9h1/Z
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr":
      "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false, "storageProfile":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2024-08-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.25.6\",\n   \"currentKubernetesVersion\": \"1.25.6\",\n   \"dnsPrefix\":
        \"cliakstest-clitestz4idoeste-79a739\",\n   \"fqdn\": \"cliakstest-clitestz4idoeste-79a739-2nchdpfz.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestz4idoeste-79a739-2nchdpfz.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.25.6\",\n     \"currentOrchestratorVersion\":
        \"1.25.6\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-2204gen2containerd-202307.04.0\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDemVeiV0oC3pafSTCQ+4tYvMdvlkWtLmyNa2arNVqvenvPKikWFusuVtKLyLC+VU1oHeVi3KSeBOiitPZbFwfQ11oMsGe2lU5LlA9/Pipl7Y9JYIpIjUOxwA6mQ03c49tHoWrll4XcL+TJPT8IK+h37LNKkdZtcVj6oFY5NgLeTtcMcEr1uB2HqqI70lKo4AwIclAdcfz35VBgEjxp9mAZfKGqNbCT1yuexq9w/Oogol999U89CFEmnm+ZKljSxCa6r3Seg8wfeRYuzNYbIeR7TXHCc3TeS7XtlBz9i/6/5L5hEK65FMcm6b/ewIzeJ5v8y6TH0+S4TD1y+5D9h1/Z
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"supportPlan\": \"KubernetesOfficial\",\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\":
        [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\":
        100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true\n    },\n    \"fileCSIDriver\":
        {\n     \"enabled\": true\n    },\n    \"snapshotController\": {\n     \"enabled\":
        true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\": false\n
        \  },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\": {\n   \"type\":
        \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Base\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/c93a363a-e86b-4ac5-8620-a003f215348d?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/c93a363a-e86b-4ac5-8620-a003f215348d?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"3a363ac9-6be8-c54a-8620-a003f215348d\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-07-25T22:57:49.0635262Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/c93a363a-e86b-4ac5-8620-a003f215348d?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"3a363ac9-6be8-c54a-8620-a003f215348d\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-07-25T22:57:49.0635262Z\",\n  \"endTime\":
        \"2023-07-25T23:04:10.0720523Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/maintenanceConfigurations?api-version=2024-08-01
  response:
    body:
      string: "{\n  \"value\": []\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"maintenanceWindow": {"schedule": {"weekly": {"intervalWeeks":
      3, "dayOfWeek": "Friday"}}, "durationHours": 8, "utcOffset": "+05:30", "startDate":
      "2123-01-01", "startTime": "00:00"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/maintenanceConfigurations/aksManagedAutoUpgradeSchedule?api-version=2024-08-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/maintenanceConfigurations/aksManagedAutoUpgradeSchedule\",\n
        \ \"name\": \"aksManagedAutoUpgradeSchedule\",\n  \"properties\": {\n   \"maintenanceWindow\":
        {\n    \"schedule\": {\n     \"weekly\": {\n      \"intervalWeeks\": 3,\n
        \     \"dayOfWeek\": \"Friday\"\n     }\n    },\n    \"durationHours\": 8,\n
        \   \"utcOffset\": \"+05:30\",\n    \"startDate\": \"2123-01-01\",\n    \"startTime\":
        \"00:00\"\n   }\n  }\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"maintenanceWindow": {"schedule": {"relativeMonthly": {"intervalMonths":
      1, "weekIndex": "Last", "dayOfWeek": "Tuesday"}}, "durationHours": 12, "utcOffset":
      "-08:00", "startDate": "2123-01-01", "startTime": "09:00"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/maintenanceConfigurations/aksManagedNodeOSUpgradeSchedule?api-version=2024-08-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/maintenanceConfigurations/aksManagedNodeOSUpgradeSchedule\",\n
        \ \"name\": \"aksManagedNodeOSUpgradeSchedule\",\n  \"properties\": {\n   \"maintenanceWindow\":
        {\n    \"schedule\": {\n     \"relativeMonthly\": {\n      \"intervalMonths\":
        1,\n      \"dayOfWeek\": \"Tuesday\",\n      \"weekIndex\": \"Last\"\n     }\n
        \   },\n    \"durationHours\": 12,\n    \"utcOffset\": \"-08:00\",\n    \"startDate\":
        \"2123-01-01\",\n    \"startTime\": \"09:00\"\n   }\n  }\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"maintenanceWindow": {"schedule": {"absoluteMonthly": {"intervalMonths":
      3, "dayOfMonth": 1}}, "durationHours": 4, "utcOffset": "-08:00", "startTime":
      "09:00", "notAllowedDates": [{"start": "2022-12-23", "end": "2023-01-05"}, {"start":
      "2023-11-23", "end": "2023-11-26"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/maintenanceConfigurations/aksManagedAutoUpgradeSchedule?api-version=2024-08-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/maintenanceConfigurations/aksManagedAutoUpgradeSchedule\",\n
        \ \"name\": \"aksManagedAutoUpgradeSchedule\",\n  \"properties\": {\n   \"maintenanceWindow\":
        {\n    \"schedule\": {\n     \"absoluteMonthly\": {\n      \"intervalMonths\":
        3,\n      \"dayOfMonth\": 1\n     }\n    },\n    \"durationHours\": 4,\n    \"utcOffset\":
        \"-08:00\",\n    \"startDate\": \"2023-07-25\",\n    \"startTime\": \"09:00\",\n
        \   \"notAllowedDates\": [\n     {\n      \"start\": \"2022-12-23\",\n      \"end\":
        \"2023-01-05\"\n     },\n     {\n      \"start\": \"2023-11-23\",\n      \"end\":
        \"2023-11-26\"\n     }\n    ]\n   }\n  }\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2024-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/1070f85d-3b84-4bf8-91d9-2bcdec9386a2?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/1070f85d-3b84-4bf8-91d9-2bcdec9386a2?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
