interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-03-08T19:52:29Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestai5q3euuh-c10894", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "osDiskSizeGB": 60, "osDiskType": "Ephemeral", "osType":
      "Linux", "type": "VirtualMachineScaleSets", "mode": "System", "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "name":
      "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDj1Pby5Vyh2EjB4J5EFuNqM0JPG2uNoVNA2O4hSIsPKjrdJwPtODIHv3ZHhYsi0Wlm0ELx2i9RJt9m54v7KVWgUmBTqAFmT6qAaQ9nl8xKRpwUXGpnUkmaRB0AWwgUPxkWpvfhAiAey/zySquyEgi5sEbupHb+fufiekHq1naF8Z25Z2Q7JtZHGGzTQtwbfKKs3eIZybdMGX8Crm+yJ4h8GuIqqHA+LOeloYFXKvniUw+nA5ojN79bGV4M6hQTZWT0fYrOIGdecmVZnjRFvdj9HM3ZkKE2PGpDWGMlSfXTzPnKDoUJ+dMOydBxTnARr4pGJIr3Ce6IbkW7bCQcjo4J"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-02-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.18.14\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitestai5q3euuh-c10894\",\n   \"fqdn\": \"cliakstest-clitestai5q3euuh-c10894-c8758bc6.hcp.westus2.azmk8s.io\"\
        ,\n   \"azurePortalFQDN\": \"cliakstest-clitestai5q3euuh-c10894-c8758bc6.portal.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 60,\n     \"osDiskType\": \"Ephemeral\",\n     \"kubeletDiskType\": \"OS\"\
        ,\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n \
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"\
        code\": \"Running\"\n     },\n     \"orchestratorVersion\": \"1.18.14\",\n\
        \     \"enableNodePublicIP\": false,\n     \"nodeLabels\": {},\n     \"mode\"\
        : \"System\",\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\": \"\
        AKSUbuntu-1804gen2-2021.02.17\"\n    }\n   ],\n   \"linuxProfile\": {\n  \
        \  \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDj1Pby5Vyh2EjB4J5EFuNqM0JPG2uNoVNA2O4hSIsPKjrdJwPtODIHv3ZHhYsi0Wlm0ELx2i9RJt9m54v7KVWgUmBTqAFmT6qAaQ9nl8xKRpwUXGpnUkmaRB0AWwgUPxkWpvfhAiAey/zySquyEgi5sEbupHb+fufiekHq1naF8Z25Z2Q7JtZHGGzTQtwbfKKs3eIZybdMGX8Crm+yJ4h8GuIqqHA+LOeloYFXKvniUw+nA5ojN79bGV4M6hQTZWT0fYrOIGdecmVZnjRFvdj9HM3ZkKE2PGpDWGMlSfXTzPnKDoUJ+dMOydBxTnARr4pGJIr3Ce6IbkW7bCQcjo4J\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\": \"msi\"\n   },\n   \"addonProfiles\": {\n    \"KubeDashboard\"\
        : {\n     \"enabled\": false,\n     \"config\": null\n    }\n   },\n   \"\
        nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_westus2\",\n   \"\
        enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\"\
        ,\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\": {\n\
        \     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"\
        podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n   \
        \ \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\
        ,\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"maxAgentPools\": 10\n\
        \  },\n  \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\"\
        : \"d88b3df3-4443-4f6b-8210-8ce91ff7d328\",\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\
        \n  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n\
        \ }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8ea7d5f4-4934-484b-a252-ada37354f622?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8ea7d5f4-4934-484b-a252-ada37354f622?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f4d5a78e-3449-4b48-a252-ada37354f622\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2021-03-08T19:53:25.8866666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
