interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-04-15T22:37:57Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-04-15T22:37:57Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '829089'
      ocp-aad-diagnostics-server-name:
      - ViIBCnSpL6+upqRchZXti8jjuoj+Po+TypBtwan6TMg=
      ocp-aad-session-key:
      - LNkUAXMl_1nhoSYy0CtzybTTyxsxSkkWepNAbiREkL6ciWdE6WWVi84fJc_CqWrlVaL6P1Nyk4yxUaZBWpZbqbdxPemT-UTt_AOM4lkUSaJEkkdCVjUxNgC647BmOLEy.DEohUS2bgiR9M28-WXwH4h4OrVFcLj0aRtj6r1706Mo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '502296'
      ocp-aad-diagnostics-server-name:
      - Ejlln//HW8QHQEvfdHqbS3KozJkF5qO/py2QoUOMx9s=
      ocp-aad-session-key:
      - VzsmvKyFN0CG3SuDGJv7ZZoZXspKWkLiP0jE8cI7csv3yJv8HwLm9S2gosvXak7Z58JAZF4t0bEddoKaTbEF4XXEqsryfQxvTAFjBPza7A0frbo0CRSXaFLp6sjkoLil.N_u_79qX1Qlj3X7ylfZ-h_4sB_yO4421TZvYk0Rtmng
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://clitestiuvqg5p37l",
      "passwordCredentials": [{"startDate": "2019-04-15T22:38:01.488499Z", "endDate":
      "2020-04-15T22:38:01.488499Z", "keyId": "6e1a35a7-fcf5-45b5-8500-37d2f4ccc666",
      "value": "7b2f0319-82ea-45f3-ad5d-47eb59e86f69", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "clitestiuvqg5p37l", "identifierUris": ["http://clitest000002"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"658b7fe4-f399-4746-ab77-20564354e12a","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"fad96f81-b53a-401c-b863-662058c356e2","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitestiuvqg5p37l","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitestiuvqg5p37l","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/658b7fe4-f399-4746-ab77-20564354e12a/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/658b7fe4-f399-4746-ab77-20564354e12a/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitestiuvqg5p37l on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitestiuvqg5p37l","id":"9c568057-742f-4a6e-8dfa-adcb9c88fedf","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitestiuvqg5p37l on your behalf.","userConsentDisplayName":"Access
        clitestiuvqg5p37l","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-04-15T22:38:01.488499Z","keyId":"6e1a35a7-fcf5-45b5-8500-37d2f4ccc666","startDate":"2019-04-15T22:38:01.488499Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3189010'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/658b7fe4-f399-4746-ab77-20564354e12a/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - 0srqSnL++QndRiokVAFWd21bIKwfjfUuiaZB90zgWfk=
      ocp-aad-session-key:
      - UgoJsYQ2UOcTtUQuI4Rv3d1HccC-VQsrA2F_e1pQDM9DiO2wnbSTsmr2iwZexBVSNCEaW5B3waO0HuJn0Su_ft4LYobJwhFatKgSaaYFysig8dDa5m1TA43TZh27aE1UBCY9pxEfDlk54p-_PjIthQ.OtEx6xWK7Zp-VJYCzWSBvthIWQoZndsGV-Ni0F0zerw
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "fad96f81-b53a-401c-b863-662058c356e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"1f6b5d4d-ebc4-4ea3-8a80-28d1544dad29","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitestiuvqg5p37l","appId":"fad96f81-b53a-401c-b863-662058c356e2","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitestiuvqg5p37l","errorUrl":null,"homepage":"https://clitestiuvqg5p37l","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitestiuvqg5p37l on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitestiuvqg5p37l","id":"9c568057-742f-4a6e-8dfa-adcb9c88fedf","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitestiuvqg5p37l on your behalf.","userConsentDisplayName":"Access
        clitestiuvqg5p37l","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["fad96f81-b53a-401c-b863-662058c356e2","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1655954'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1f6b5d4d-ebc4-4ea3-8a80-28d1544dad29/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - 8cABrxGeuUtXZIb4tLTbZKP7GAyp5Rz3TMI9wedexHQ=
      ocp-aad-session-key:
      - 8MUnMUh0NuA6eJDbCS-O9hpkoctwlPWEFivoOdOfBOuM74TobRYRjIxmLSqi-FqnCOsUXQU1KM-l7jNLWOqWnXbOPM7YzbxOAPN7LyfLJVhEzQXB_FDZrgWIXGJ85-xSp7rs6RkHU17bG-2UxBxWmA.JFhCXCO5gdrnn4PtkrCVaHy9tHDB2n0bKhg4rwUH8o4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27fad96f81-b53a-401c-b863-662058c356e2%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/1f6b5d4d-ebc4-4ea3-8a80-28d1544dad29?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"1f6b5d4d-ebc4-4ea3-8a80-28d1544dad29","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"658b7fe4-f399[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%271f6b5d4d-ebc4-4ea3-8a80-28d1544dad29%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/658b7fe4-f399-4746-ab77-20564354e12a?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1917514'
      ocp-aad-diagnostics-server-name:
      - sjU31wcZZQkSllvwYiJGtga5DQTbyVp6msGr4BIoWXU=
      ocp-aad-session-key:
      - fJH1Z8B3NfZ60bi0lz52bIwzMYoIizrMwK_ScEXdR61Xz5L3CQLs4kCCzcf5-RnGU9NJYCAOGLYrzH2e8mYKc8yxkpgj59ed9kwZkBxiSajUfjo2GDU-fo8mGr783qc7pRD4vi4-I1xFS1u2_TycwA.y1V_m5NfsJ-YAvMYtmpSGO2WaJGASWqqZ_YaqWQBH18
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUUjRPWFEzRlo0UC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
