interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.10.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
>>>>>>> 71e7efc2e (fix)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators?api-version=2019-04-01&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/orchestrators\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\n
        \ \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\":
        \"Kubernetes\",\n     \"orchestratorVersion\": \"1.23.12\",\n     \"upgrades\":
        [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.23.15\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.24.6\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.9\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.23.15\",\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.24.6\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.9\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.24.6\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.24.9\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.25.4\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.25.5\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.24.9\",\n     \"default\": true,\n     \"upgrades\": [\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.25.4\"\n      },\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.25.5\"\n      }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.25.4\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.25.5\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.26.0\",\n       \"isPreview\": true\n
        \     }\n     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n
        \    \"orchestratorVersion\": \"1.25.5\",\n     \"upgrades\": [\n      {\n
        \      \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.26.0\",\n       \"isPreview\": true\n      }\n     ]\n    },\n    {\n
        \    \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.26.0\",\n     \"isPreview\": true\n    }\n   ]\n  }\n }"
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 13 Mar 2023 09:49:37 GMT
=======
      - Wed, 15 Mar 2023 11:30:49 GMT
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-resource/22.0.0 Python/3.10.10 (Linux-5.15.0-1033-azure-x86_64-with-glibc2.31)
        VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
>>>>>>> 71e7efc2e (fix)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2023-03-13T09:49:36Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2023-03-15T11:30:48Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> 71e7efc2e (fix)
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 13 Mar 2023 09:49:36 GMT
=======
      - Wed, 15 Mar 2023 11:30:49 GMT
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
<<<<<<< HEAD
      {"kubernetesVersion": "1.26.0", "dnsPrefix": "cliakstest-clitestv5wi5upo7-0b1f64",
=======
      {"kubernetesVersion": "1.26.0", "dnsPrefix": "cliakstest-clitestwpjuigsos-79a739",
>>>>>>> 71e7efc2e (fix)
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "1.26.0", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+Tw5fQ1llhTaOQkrl1FxV1VswmtYGwgleHCPi7kNYtIZ2kdobxPHgVkhlxcSy2u6aAvjV7idMzxJ0nSl0MrLqF1GVtyO+SMx+iDXJomtEN6hscMcn8S6DJCm4XyPZyur50Qn6K4KGrmSQ4ZK0VXShfteE6THR2+DoYBsWbD86+XOLOrPr8H5DOQxEYYq0K2usPpntyItOJ2RtolEo9Y9nzxSsioEvb31B4vFX0LfssWX/yFJorU1OLMSxgIXOZ0xzEPOV//GzqeOjBx5s5OIueUYevzSLR3qskiQkE/6JT0YSkVKLfF5z4N8ptZ+7vqZteZTaAZld9zYnsBx7cKob
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr":
      "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}, "disableLocalAccounts":
      false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.10.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
>>>>>>> 71e7efc2e (fix)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.26.0\",\n   \"currentKubernetesVersion\": \"1.26.0\",\n   \"dnsPrefix\":
<<<<<<< HEAD
        \"cliakstest-clitestv5wi5upo7-0b1f64\",\n   \"fqdn\": \"cliakstest-clitestv5wi5upo7-0b1f64-mqplph3o.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestv5wi5upo7-0b1f64-mqplph3o.portal.hcp.westus2.azmk8s.io\",\n
=======
        \"cliakstest-clitestwpjuigsos-79a739\",\n   \"fqdn\": \"cliakstest-clitestwpjuigsos-79a739-zmchhhdq.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestwpjuigsos-79a739-zmchhhdq.portal.hcp.westus2.azmk8s.io\",\n
>>>>>>> 71e7efc2e (fix)
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.26.0\",\n     \"currentOrchestratorVersion\":
        \"1.26.0\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-2204gen2containerd-2023.02.15\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+Tw5fQ1llhTaOQkrl1FxV1VswmtYGwgleHCPi7kNYtIZ2kdobxPHgVkhlxcSy2u6aAvjV7idMzxJ0nSl0MrLqF1GVtyO+SMx+iDXJomtEN6hscMcn8S6DJCm4XyPZyur50Qn6K4KGrmSQ4ZK0VXShfteE6THR2+DoYBsWbD86+XOLOrPr8H5DOQxEYYq0K2usPpntyItOJ2RtolEo9Y9nzxSsioEvb31B4vFX0LfssWX/yFJorU1OLMSxgIXOZ0xzEPOV//GzqeOjBx5s5OIueUYevzSLR3qskiQkE/6JT0YSkVKLfF5z4N8ptZ+7vqZteZTaAZld9zYnsBx7cKob
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000001_westus2\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\":
        \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\":
        {\n      \"count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n
        \   \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n
        \   \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n
        \   \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
<<<<<<< HEAD
        \  \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/275202f3-342c-4dca-9272-030f3b655790?api-version=2016-03-30
      content-type:
      - application/json
=======
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/d48101f0-a258-496d-8a6b-882f59dcb3d8?api-version=2016-03-30
      content-type:
      - application/json
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1197'
=======
      - '1194'
>>>>>>> 71e7efc2e (fix)
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.10.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/275202f3-342c-4dca-9272-030f3b655790?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f3025227-2c34-ca4d-9272-030f3b655790\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-13T09:49:42.590732Z\"\n }"
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/d48101f0-a258-496d-8a6b-882f59dcb3d8?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f00181d4-58a2-6d49-8a6b-882f59dcb3d8\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-15T11:30:52.7477151Z\"\n }"
>>>>>>> 71e7efc2e (fix)
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 13 Mar 2023 09:50:13 GMT
=======
      - Wed, 15 Mar 2023 11:31:22 GMT
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.10.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/275202f3-342c-4dca-9272-030f3b655790?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f3025227-2c34-ca4d-9272-030f3b655790\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-03-13T09:49:42.590732Z\",\n  \"endTime\":
        \"2023-03-13T09:52:54.7284646Z\"\n }"
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/d48101f0-a258-496d-8a6b-882f59dcb3d8?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f00181d4-58a2-6d49-8a6b-882f59dcb3d8\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-03-15T11:30:52.7477151Z\",\n  \"endTime\":
        \"2023-03-15T11:34:14.6131005Z\"\n }"
>>>>>>> 71e7efc2e (fix)
    headers:
<<<<<<< HEAD
      - '169'
      content-type:
      - application/json
      date:
      - Mon, 13 Mar 2023 09:53:13 GMT
=======
      - '170'
      content-type:
      - application/json
      date:
      - Wed, 15 Mar 2023 11:34:23 GMT
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.10.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
>>>>>>> 71e7efc2e (fix)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/agentPools?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/agentPools/nodepool1\",\n
        \   \"name\": \"nodepool1\",\n    \"type\": \"Microsoft.ContainerService/managedClusters/agentPools\",\n
        \   \"properties\": {\n     \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n
        \    \"osDiskSizeGB\": 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\[...]
- request:
    body: '{"properties": {"count": 1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "scaleDownMode": "Delete",
      "type": "VirtualMachineScaleSets", "mode": "User", "orchestratorVersion": "1.25.5",
      "upgradeSettings": {}, "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "nodeTaints": [],
      "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS": false}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.[...]
[...]
