interactions:
- request:
    body: '{"location": "westus2", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-06-24T18:14:25Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2019-06-24T18:14:25Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '859660'
      ocp-aad-diagnostics-server-name:
      - ZGx5BTxWx3rJ0qV6fN7KouGYhLhktis4+Etrku5CN4A=
      ocp-aad-session-key:
      - UGFndmZaCdghPDAZuRH2BTxeKJGb5Hgl7h7XplcuMKfFpCQI_JUBErIsY-nhbwaxrcAo6xMuOffXnEDqVtrwdAtUEw3kPEkmVd_shRABJVCwk7WkacdBS1x-HmZ1D3cjtXffvS8Bb59Qp3WSLtc3Sw.I4kailETcPONQr6XZCLjoScxNdj7pWPav9VzBGyvxLo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '651708'
      ocp-aad-diagnostics-server-name:
      - /lC86iJ3cwwJGyTWjAKYWDPkB/lyglon9hmrn0nLUXM=
      ocp-aad-session-key:
      - y30ODVmG-b5FsJHC8LFfMigYtF6Pl-UqfkGS0ny4mJbZSrujil_9B_I7I_4FYT3G6gaSQqBnyQktrd0CARqXTnRgarfLp6YQ6XhudqGu6UgBnVha0G9lTodiOSyQIg3qgMsXVTxMTGsgCS8c0k-FHg.Xo1jhG5gNoSPzZG-TZ4HJ5jpkvTtHah7YCZpQCRFlEs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://clitest000002",
      "passwordCredentials": [{"startDate": "2019-06-24T18:14:30.843139Z", "endDate":
      "2020-06-24T18:14:30.843139Z", "keyId": "3ffd9a1d-548f-4f12-8ac7-d4ab93b58d41",
      "value": "1a6b1dd1-1982-432d-a59e-c327effe2fd7", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "clitest000002", "identifierUris": ["http://clitest000002"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d3cc48d8-9987-4881-9aa8-c3db5615ccb5","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"db8b07f6-5fd5-484e-a836-aa1547ed89f8","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitest000002","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/d3cc48d8-9987-4881-9aa8-c3db5615ccb5/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/d3cc48d8-9987-4881-9aa8-c3db5615ccb5/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"75a3af7a-b089-49d8-89ed-9c8b6a81cad6","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-06-24T18:14:30.843139Z","keyId":"3ffd9a1d-548f-4f12-8ac7-d4ab93b58d41","startDate":"2019-06-24T18:14:30.843139Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3920380'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d3cc48d8-9987-4881-9aa8-c3db5615ccb5/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - R7GE/wZDw5mYOVlPUsy4LuVepndfwrdQz1ATlcVdHv4=
      ocp-aad-session-key:
      - fS35PMt0zbQRt8h7xO8w3hS_EV-hOM2-JRJGOziHiKsudG-fTfRz6frSFxsUoC88lgdExZkE3WsHkLFUzOMCeYIMII9S0IFxAJjROnowfrgoJKoLK4zMshnVTi_nXYLKo5o425mSCM9wcc8MFV1sOw.IviKFPFk0VoeBusw-rcbHm9m6oiPWxaHIr4l9cHDhi8
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "db8b07f6-5fd5-484e-a836-aa1547ed89f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"7310726f-fde4-47a5-b749-3ef945a83f24","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest000002","appId":"db8b07f6-5fd5-484e-a836-aa1547ed89f8","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest000002","errorUrl":null,"homepage":"https://clitest000002","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"75a3af7a-b089-49d8-89ed-9c8b6a81cad6","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["db8b07f6-5fd5-484e-a836-aa1547ed89f8","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2225227'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/7310726f-fde4-47a5-b749-3ef945a83f24/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - UOr32UtAMU+Eq0/F3AdEK7cYLW38EohupmMJWMjvI+Q=
      ocp-aad-session-key:
      - vBfoi1_-6BdbG21UgVU07XmxGizVyUvoMbY5gUprUrFo1RfCDNYyoPyQXtF1rin0ZPmDbr69GgrIsduNjLb79XkMJ2o-SZqJen9cVveV7bI50pgIvgFf2iq-JywQVx2j65RYjZLMZ0_-23xkqpyubA.ktk1Cz4si1c-8mJGhRfnBxh6QDnl9hECELdd2q20-cQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators?api-version=2017-09-30&resource-type=managedClusters
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\n
        \ \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\":
        \"Kubernetes\",\n     \"orchestratorVersion\": \"1.10.12\",\n     \"upgrades\":
        [\n      {\n       \"orchestratorType\": \"Kubernetes\",\n       \"orchestratorVersion\":
        \"1.10.13\"\n      },\n      {\n       \"orchestratorType\": \"Kubernetes\",\n
        \      \"orchestratorVersion\": \"1.11.8\"\n      },\n      {\n       \"orchestratorType\":
        \"Kubernetes\",\n       \"orchestratorVersion\": \"1.11.9\"\n      }\n     ]\n
        \   },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\":
        \"1.10.13\",\n     \"u[...]
[...]
- request:
    body: 'b''b\''b\\\''{"location": "westus2", "tags": {"scenario_test": ""}, "properties":
      {"kubernetesVersion": "1.12.8", "dnsPrefix": "cliaksdns000004", "agentPoolProfiles":
      [{"name": "np000005", "count": 1, "vmSize": "Standard_DS2_v2", "osType": "Linux"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "1a6b1dd1-1982-432d-a59e-c327effe2fd7"}, "addonProfiles": {}, "enableRBAC":
      true}}\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service
        principal clientID: clitest000002 not found in Active Directory tenant 54826b22-38d6-4fb2-bad9-b7b93a3e9c5a,
        Please see https://aka.ms/aks-sp-help for more details.\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27db8b07f6-5fd5-484e-a836-aa1547ed89f8%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/7310726f-fde4-47a5-b749-3ef945a83f24?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"7310726f-fde4-47a5-b749-3ef945a83f24","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d3cc48d8-9987[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%277310726f-fde4-47a5-b749-3ef945a83f24%27&api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/d3cc48d8-9987-4881-9aa8-c3db5615ccb5?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2155824'
      ocp-aad-diagnostics-server-name:
      - r0o8Zfv+/EsfSzvffV1oL1MCccQ68EumyGGwG7/SNv8=
      ocp-aad-session-key:
      - 2ZqDEYJb_Dq-2MwvowPP4odYLENDRdYGBioylGEB-oevJ_CC3u3kEEwf02X5V10UEfOh5WvUJSEJo26eNmKOfjlznHUvJHJiDOuOQ7KEO8XUtSKZ0gqTPBNrysX6dyExlHgidHIjLvUJEjkbBI2W2A.Iq7Z7_fdTykU2IUm--zfP0MYoIY3zPNYD-Yop_ER0rg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUSDVVNVpQNldVRS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2020-06-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
