interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2020-09-12T23:27:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://961653.cliakstest-clitesti6chpon6f-864302.eastus2.cloudapp.azure.com",
      "passwordCredentials": [{"startDate": "2020-09-12T23:27:27.026777Z", "endDate":
      "2025-09-12T23:27:27.026777Z", "keyId": "7a71b3f1-588c-4d0c-8db5-803583fd719e",
      "value": "ReplacedSPPassword123*"}], "displayName": "cliakstest000001", "identifierUris":
      ["https://961653.cliakstest-clitesti6chpon6f-864302.eastus2.cloudapp.azure.com"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "220d0c8a-d29e-4cfd-a8b1-a6c6c2811771", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "14576b28-4f77-43d8-8ec0-19111e351bc7",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cliakstest000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://961653.cliakstest-clitesti6chpon6f-864302.eastus2.cloudapp.azure.com",
        "identifierUris": ["https://961653.cliakstest-clitesti6chpon6f-864302.eastus2.cloudapp.azure.com"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/220d0c8a-d29e-4cfd-a8b1-a6c6c2811771/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/220d0c8a-d29e-4cfd-a8b1-a6c6c2811771/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cliakstest000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cliakstest000001", "id": "0897a62c-df12-4e91-a14e-f198d4f4259d",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cliakstest000001 on your behalf.", "userConsentDisplayName": "Access
        cliakstest000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2025-09-12T23:27:27.026777Z", "keyId":
        "7a71b3f1-588c-4d0c-8db5-803583fd719e", "startDate": "2020-09-12T23:27:27.026777Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "microsoft.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3436702'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/220d0c8a-d29e-4cfd-a8b1-a6c6c2811771/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - 6nXKrctRtSptRoHzozTVMUA02WQGzIDDAMhbiPlyMGM=
      ocp-aad-session-key:
      - RLIA5joPYDqfaIoEwIPnoZ_3r4Jdp2RSnlKMJqoh2fdlCKlZl8Gk8BAJnptI9bentCSLRm5Sko9ciFMcV2VIoJr7GukaPbAMf5-YQm-QUxHt0bPRN_u0b2PXSD6IhQMpYRROL4WXyRyqkL7IX77DYuW54-HGESt2GeXGzn4n0AI.lCCH5XsIXC_Dslh1qnGMrpdBTjgeMa2xeVaJTsoSbhg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%2714576b28-4f77-43d8-8ec0-19111e351bc7%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"220d0c8a-d29e-4cfd-a8b1-a6c6c[...]
- request:
    body: '{"accountEnabled": "True", "appId": "14576b28-4f77-43d8-8ec0-19111e351bc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"d9b9ae78-f2b0-4fca-bcb1-28863ede7023","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cliakstest000001","appId":"14576b28-4f77-43d8-8ec0-19111e351bc7","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cliakstest000001","errorUrl":null,"homepage":"https://961653.cliakstest-clitesti6chpon6f-864302.eastus2.cloudapp.azure.com","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cliakstest000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cliakstest000001","id":"0897a62c-df12-4e91-a14e-f198d4f4259d","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cliakstest000001 on your behalf.","userConsentDisplayName":"Access
        cliakstest000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["14576b28-4f77-43d8-8ec0-19111e351bc7","https://961653.cliakstest-clitesti6chpon6f-864302.eastus2.cloudapp.azure.com"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2426948'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d9b9ae78-f2b0-4fca-bcb1-28863ede7023/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - +Vo1vaQr1J6K57B7CK/pVo20E97sFK7LOud+zxDHFNk=
      ocp-aad-session-key:
      - YpamgL0WO4SIRAnbLBvoTkYNEelBFR8I9JUUxb_jTAonYD1Y_Bg5CWFoT2pmCMlCu2fHKfW52uhTO1oH4ca-hMqyCaQ_wBVZBKyfoVLWzylanTleQN3UA_H8gGxzFc9jOFnKGe2HiONXOTgxDxaHqh1JkYiYeGfU9u_NqL59gds.N4mGKI05Wsl74wZ83GwDkOAmcpupXVWft3To7wylsyY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitesti6chpon6f-864302", "agentPoolProfiles": [{"count": 1, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "servicePrincipalProfile": {"clientId": "14576b28-4f77-43d8-8ec0-19111e351bc7",
      "secret": "ff5395c3044a85ea0bc4$"}, "addonProfiles": {}, "enableRBAC": true,
      "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr":
      "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16",
      "outboundType": "loadBalancer", "loadBalancerSku": "standard"}, "aadProfile":
      {"clientAppID": "00000000-0000-0000-0000-000000000002", "serverAppID": "00000000-0000-0000-0000-000000000001",
      "serverAppSecret": "fake-secret", "tenantID": "d5b55040-0c14-48cc-a028-91457fc190d9"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ocp-Aad-Session-Key:
      - RLIA5joPYDqfaIoEwIPnoZ_3r4Jdp2RSnlKMJqoh2fdlCKlZl8Gk8BAJnptI9bentCSLRm5Sko9ciFMcV2VIoJr7GukaPbAMf5-YQm-QUxHt0bPRN_u0b2PXSD6IhQMpYRROL4WXyRyqkL7IX77DYuW54-HGESt2GeXGzn4n0AI.lCCH5XsIXC_Dslh1qnGMrpdBTjgeMa2xeVaJTsoSbhg
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2020-09-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\"\
        ,\n  \"location\": \"eastus2\",\n  \"name\": \"cliakstest000001\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\": \"1.16.13\"\
        ,\n   \"dnsPrefix\": \"cliakstest-clitesti6chpon6f-864302\",\n   \"fqdn\"\
        : \"cliakstest-clitesti6chpon6f-864302-db4a4464.hcp.eastus2.azmk8s.io\",\n\
        \   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"\
        count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"maxPods\": 110,\n     \"\
        type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\"\
        ,\n     \"orchestratorVersion\": \"1.16.13\",\n     \"enableNodePublicIP\"\
        : false,\n     \"nodeLabels\": {},\n     \"mode\": \"System\",\n     \"osType\"\
        : \"Linux\",\n     \"nodeImageVersion\": \"AKSUbuntu-1604-2020.08.19\"\n \
        \   }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\"\
        ,\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\": \"14576b28-4f77-43d8-8ec0-19111e351bc7\"\n   },\n \
        \  \"addonProfiles\": {\n    \"kubedashboard\": {\n     \"enabled\": true,\n\
        \     \"config\": null\n    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000001_eastus2\"\
        ,\n   \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\"\
        : \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\"\
        : {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n\
        \    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\"\
        ,\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\
        ,\n    \"outboundType\": \"loadBalancer\"\n   },\n   \"aadProfile\": {\n \
        \   \"adminGroupObjectIDs\": null,\n    \"clientAppID\": \"00000000-0000-0000-0000-000000000002\"\
        ,\n    \"serverAppID\": \"00000000-0000-0000-0000-000000000001\",\n    \"\
        tenantID\": \"d5b55040-0c14-48cc-a028-91457fc190d9\"\n   },\n   \"maxAgentPools\"\
        : 10\n  },\n  \"sku\": {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n\
        \  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2/operations/8f452420-4da8-45b1-9429-010323619481?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus2/operations/8f452420-4da8-45b1-9429-010323619481?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"2024458f-a84d-b145-9429-010323619481\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2020-09-12T23:27:37.9577401Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "properties": {"kubernetesVersion": "1.16.13",
      "dnsPrefix": "cliakstest-clitesti6chpon6f-864302", "agentPoolProfiles": [{"count":
      1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType": "Managed",
      "maxPods": 110, "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "orchestratorVersion": "1.16.13", "enableNodePublicIP": false, "nodeLabels":
      {}, "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser", "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT[...]
[...]
