interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-08-12T18:09:48Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitest6elk5yqmz-8ecadf", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets",
      "mode": "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular",
      "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDekkbSuynIS+SSk8+xuiOKy/wlc2UYZWq40Xvn6ewyOGAd4ksNxoYN7Bz2S9biA1RKgCPOGRIQRJMhG9ozY7yJIpW/87RGlpZFWhH3iaZacykOdxI8w69MdlqqMOiJWV7NhXGm0awCzDPhEYejTtfiEIXiAonkY/SF7/9U+tf6CK4yz46lVs7JDbI69w9PeIHj7yUJ3lGPeifCGBmfCQwi4EYNwUgEz9KiXTk/8cPB0o21s5RNqgPKHXd5eHO8xsjci7SWnDJBx/YkCYA/hSF64njLItVRrXNu48E3NwcQGSl2A0uvYUE/SBrj/REgdw6FeD/onZuQGw24DAP+ZwO/"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "autoUpgradeProfile": {"upgradeChannel": "rapid"}},
      "location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-05-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"powerState\": {\n    \"code\"\
        : \"Running\"\n   },\n   \"kubernetesVersion\": \"1.20.7\",\n   \"dnsPrefix\"\
        : \"cliakstest-clitest6elk5yqmz-8ecadf\",\n   \"fqdn\": \"cliakstest-clitest6elk5yqmz-8ecadf-8e675e72.hcp.westus2.azmk8s.io\"\
        ,\n   \"azurePortalFQDN\": \"cliakstest-clitest6elk5yqmz-8ecadf-8e675e72.portal.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\": \"OS\"\
        ,\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n \
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"\
        code\": \"Running\"\n     },\n     \"orchestratorVersion\": \"1.20.7\",\n\
        \     \"enableNodePublicIP\": false,\n     \"nodeLabels\": {},\n     \"mode\"\
        : \"System\",\n     \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\"\
        : false,\n     \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"\
        nodeImageVersion\": \"AKSUbuntu-1804gen2containerd-2021.07.25\",\n     \"\
        enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\"\
        : \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n      \
        \ \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDekkbSuynIS+SSk8+xuiOKy/wlc2UYZWq40Xvn6ewyOGAd4ksNxoYN7Bz2S9biA1RKgCPOGRIQRJMhG9ozY7yJIpW/87RGlpZFWhH3iaZacykOdxI8w69MdlqqMOiJWV7NhXGm0awCzDPhEYejTtfiEIXiAonkY/SF7/9U+tf6CK4yz46lVs7JDbI69w9PeIHj7yUJ3lGPeifCGBmfCQwi4EYNwUgEz9KiXTk/8cPB0o21s5RNqgPKHXd5eHO8xsjci7SWnDJBx/YkCYA/hSF64njLItVRrXNu48E3NwcQGSl2A0uvYUE/SBrj/REgdw6FeD/onZuQGw24DAP+ZwO/\"\
        \n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"\
        clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\"\
        : \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n\
        \   \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\"\
        : \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\"\
        : {\n      \"count\": 1\n     }\n    },\n    \"podCidr\": \"10.244.0.0/16\"\
        ,\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\"\
        ,\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\": \"\
        loadBalancer\"\n   },\n   \"maxAgentPools\": 100,\n   \"autoUpgradeProfile\"\
        : {\n    \"upgradeChannel\": \"rapid\"\n   }\n  },\n  \"identity\": {\n  \
        \ \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\"\
        ,\n   \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\"\
        : {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/2be83141-4bd8-4c94-a6af-9773bde1a5f2?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/2be83141-4bd8-4c94-a6af-9773bde1a5f2?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"4131e82b-d84b-944c-a6af-9773bde1a5f2\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2021-08-12T18:10:03.1666666Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "properties": {"kubernetesVersion":
      "1.20.7", "dnsPrefix": "cliakstest-clitest6elk5yqmz-8ecadf", "agentPoolProfiles":
      [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 128, "osDiskType":
      "Managed", "kubeletDiskType": "OS", "maxPods": 110, "osType": "Linux", "osSKU":
      "Ubuntu", "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "1.20.7", "enableNodePublicIP": false, "nodeLabels": {}, "enableEncryptionAtHost":
      false, "enableUltraSSD": false, "enableFIPS": false, "name": "nodepool1"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDekkbSuynIS+SSk8+xuiOKy/wlc2UYZWq40Xvn6ewyOGAd4ksNxoYN7Bz2S9biA1RKgCPOGRIQRJMhG9ozY7yJIpW/87RGlpZFWhH3iaZacykOdxI8w69MdlqqMOiJWV7NhXGm0awCzDPhEYejTtfiEIXiAonkY/SF7/9U+tf6CK4yz46lVs7JDbI69w9PeIHj7yUJ3lGPeifCGBmfCQwi4EYNwUgEz9KiXTk/8cPB0o21s5RNqgPKHXd5eHO8xsjci7SWnDJBx/YkCYA/hSF64njLItVRrXNu48E3NwcQGSl2A0uvYUE/SBrj/REgdw6FeD/onZuQGw24DAP+ZwO/"}]}},
      "servicePrincipalProfile": {"clientId":"00000000-0000-0000-0000-000000000001"},
      "nodeResourceGroup": "MC_clitest000001_cliakstest000002_westus2", "enableRBAC":
      true, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr":
      "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku": "Standard",
      "loadBalancerProfile": {"managedOutboundIPs": {"count": 1}, "effectiveOutboundIPs":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000002_westus2/providers/Microsoft.Network/publicIPAddresses/509162c7-d7a8-4a35-9b8d-d4920461c73e"}]}},
      "autoUpgradeProfile": {"upgradeChannel": "stable"}, "identityProfile": {"kubeletidentity":
      {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_clitest000001_cliakstest000002_westus2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliakstest000002-agentpool",
      "clientId":"00000000-0000-0000-0000-000000000001", "objectId":"00000000-0000-0000-0000-000000000001"}}},
      "location": "westus2", "sku": {"name": "Basic", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-05-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedC[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/289df919-bee6-43e8-8b25-b2fa504ed570?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/289df919-bee6-43e8-8b25-b2fa504ed570?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
