interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2023-03-13T09:45:14Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cmdtestwsy-clitestfykvvnx25-0b1f64",
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "c000003"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCecT+GWkfSt8O94a482bfxmkQaIHxbsjjNqeinWznN6uZRAxxwUizzpDEViZ592zjmDVOL6bfoYBdckKQDckksHTqNzvfN8EKlHrrrlw1IO2X13bgUnyzdnzzsgZNV84PVs2vScnqaVeyWgvOxPppdets1jDNCy58Q3asIrFzPB7XpOadQN+22VuXKAeZeYopKgC4EqR9kZZm3pRgoO9Ol4goRBE61lWW9g/D7rALRGa61gK1iZFDeb7eINGHV/hj/nkBzG1VvoGtWcdmUvv35q5OatBu6NlDR/9Kn97+XjsJnekQPVCbEQBhV6QUz0w0sPbTogxb5z52wDhZ07pOd"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false, "storageProfile":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cmdtest000002?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cmdtest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cmdtest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.24.9\",\n   \"currentKubernetesVersion\": \"1.24.9\",\n   \"dnsPrefix\":
        \"cmdtestwsy-clitestfykvvnx25-0b1f64\",\n   \"fqdn\": \"cmdtestwsy-clitestfykvvnx25-0b1f64-in7ni6r1.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cmdtestwsy-clitestfykvvnx25-0b1f64-in7ni6r1.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"c000003\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.24.9\",\n     \"currentOrchestratorVersion\":
        \"1.24.9\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2023.02.15\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCecT+GWkfSt8O94a482bfxmkQaIHxbsjjNqeinWznN6uZRAxxwUizzpDEViZ592zjmDVOL6bfoYBdckKQDckksHTqNzvfN8EKlHrrrlw1IO2X13bgUnyzdnzzsgZNV84PVs2vScnqaVeyWgvOxPppdets1jDNCy58Q3asIrFzPB7XpOadQN+22VuXKAeZeYopKgC4EqR9kZZm3pRgoO9Ol4goRBE61lWW9g/D7rALRGa61gK1iZFDeb7eINGHV/hj/nkBzG1VvoGtWcdmUvv35q5OatBu6NlDR/9Kn97+XjsJnekQPVCbEQBhV6QUz0w0sPbTogxb5z52wDhZ07pOd\"\n
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n
        \  },\n   \"nodeResourceGroup\": \"MC_clitest000001_cmdtest000002_westus2\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/f33eeeca-2a73-4f9b-b606-d5c8bec7771c?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/f33eeeca-2a73-4f9b-b606-d5c8bec7771c?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"caee3ef3-732a-9b4f-b606-d5c8bec7771c\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-13T09:45:20.7140803Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/f33eeeca-2a73-4f9b-b606-d5c8bec7771c?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"caee3ef3-732a-9b4f-b606-d5c8bec7771c\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-03-13T09:45:20.7140803Z\",\n  \"endTime\":
        \"2023-03-13T09:49:02.6676083Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"command": "kubectl get pods -A", "context": ""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cmdtest000002/runCommand?api-version=2023-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/090e0004237c479b84a3664b6a137a0c?api-version=2023-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/090e0004237c479b84a3664b6a137a0c?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"id\": \"090e0004237c479b84a3664b6a137a0c\",\n  \"properties\":
        {\n   \"provisioningState\": \"Running\"\n  }\n }"
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/090e0004237c479b84a3664b6a137a0c?api-version=2023-01-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/090e0004237c479b84a3664b6a137a0c?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"id\": \"090e0004237c479b84a3664b6a137a0c\",\n  \"properties\":
        {\n   \"provisioningState\": \"Succeeded\",\n   \"exitCode\": 0,\n   \"startedAt\":
        \"2023-03-13T09:49:29Z\",\n   \"finishedAt\": \"2023-03-13T09:49:30Z\",\n
        \  \"logs\": \"NAMESPACE     NAME                                       READY
        \  STATUS    RESTARTS   AGE\\naks-command   command-090e0004237c479b84a3664b6a137a0c
        \  1/1     Running   0          6s\\nkube-system   azure-ip-masq-agent-rc8ls
        \                 1/1     Running   0          93s\\nkube-system   cloud-node-manager-8gr6j
        \                  1/1     Running   0          93s\\nkube-system   coredns-59b6bf8b4f-b9zg5
        \                  1/1     Running   0         [...]
