interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '580890'
      ocp-aad-diagnostics-server-name:
      - RZR5Pa8bfxOfyf1TOsmUXwDaQxVJ80FckvZ7KToAlss=
      ocp-aad-session-key:
      - 61W2uqtMyJN6qzZoUO8xPhaolZSsgHG5hqj8Kf7ptT-AepaiSdyIWW8Nq0B2wxjFJRmnGNpTYj9KvmdKy4TRpfe5W2oeM_JNUksLr2CiSI8K-E5aXFRKFIZ2Lz0LnKrm4ElBodC7lEhDS00mYWKS3S2NhLZmHkGplnNSnrxTZug.NdyMAKEDIV6bIWTwkhzNC9C9jM9XgxuL414dvGSQPMU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "passwordCredentials": [{"startDate":
      "2021-03-08T23:35:23.215721Z", "endDate": "2022-03-07T23:35:23.215721Z", "keyId":
      "81e001ae-6487-4192-81a9-b1e160218711", "value": "ReplacedSPPassword123*"}],
      "displayName": "ReplacedSPPassword123*", "identifierUris": ["http://ReplacedSPPassword123*"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_BadRequest","message":{"lang":"en","value":"The
        password must contain at least 1 special character. paramName: PasswordCredentials,
        paramValue: , objectType: Microsoft.Online.DirectoryServices.Application"},"requestId":"2099517a-ea4c-4206-a707-f093a0508a9a","date":"2021-03-08T23:35:23","values":[{"item":"PropertyName","value":"passwordCredentials"},{"item":"PropertyErrorCode","value":"AppPasswordWeak"}]}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '668695'
      ocp-aad-diagnostics-server-name:
      - R9/UzH0E6KrQoYj86LpmHnaZW22R1C1Zb/Y5Ek/R5I0=
      ocp-aad-session-key:
      - hd1zNYvmL5b0QQmy28Rsj5vpfquZHtMtw57Nbpm5HKtT5tkafga9DQJCCFdtoiBY5pwe1xYwXfnmWeh1avjpJULKPnOjBVDhYHPexVzRFxmwKXC0j9VWdtR5En3xhlMxZTDNyFNAdw79pQTOh5pT_z0lqoRjwgAwSv1ZsCsNhzs.N_enGMTbNqXE4_Ksc4jAvNA3NhjNATKFlbZYDZpAeLU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 400
      message: Bad Request
version: 1
