interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=startswith%28displayName%2C%27clitest000002%27%29
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '699036'
      ocp-aad-diagnostics-server-name:
      - AIaF5QYGCb1TFPp3tM0+s9km9SnISEhPpUMOGVdnC/0=
      ocp-aad-session-key:
      - u6wEZMM6H6cnU_unw3GIgNKkt9Z3g-YvD5AhR7ur78bvm2_ifXewUb-ld0ESsq3DxKyIigYRDBglgbnf2YhRHtAK8gEZTvfKOy3tLj9T3G14FkUh226ZaJzSc1pmIjf8UnuGGzkeuioe2uymzlcoypa2ohegy1xy6sdausHwPHk.E6oTZN_wC7rztyPF0wRknyaK56ozHi7_jkQUEO-cJeM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "displayName": "ReplacedSPPassword123*",
      "identifierUris": ["http://ReplacedSPPassword123*"], "passwordCredentials":
      [{"endDate": "2021-01-13T05:49:33.621423Z", "keyId": "e8304e78-b752-4cad-948f-181ede347d72",
      "value": "ReplacedSPPassword123*", "startDate": "2020-01-13T05:49:33.621423Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"isDeviceOnlyAuthSupported": null, "logoutUrl": null, "groupMembershipClaims":
        null, "samlMetadataUrl": null, "objectId": "bf74c903-ab81-45c2-8bf3-fc3f8b50530e",
        "appRoles": [], "oauth2RequirePostResponse": false, "logoUrl": null, "replyUrls":
        [], "signInAudience": "AzureADMyOrg", "oauth2AllowImplicitFlow": false, "oauth2Permissions":
        [{"isEnabled": true, "value": "user_impersonation", "id": "1b931fc8-2e56-42a1-b4b5-0d8fdaf1f2c5",
        "userConsentDescription": "Allow the application to access clitest000002 on
        your behalf.", "adminConsentDescription": "Allow the application to access
        clitest000002 on behalf of the signed-in user.", "type": "User", "userConsentDisplayName":
        "Access clitest000002", "adminConsentDisplayName": "Access clitest000002"}],
        "errorUrl": null, "odata.type": "Microsoft.DirectoryServices.Application",
        "requiredResourceAccess": [], "applicationTemplateId": null, "recordConsentConditions":
        null, "homepage": null, "orgRestrictions": [], "publicClient": null, "displayName":
        "clitest000002", "logo@odata.mediaContentType": "application/json;odata=minimalmetadata;
        charset=utf-8", "logo@odata.mediaEditLink": "directoryObjects/bf74c903-ab81-45c2-8bf3-fc3f8b50530e/Microsoft.DirectoryServices.Application/logo",
        "knownClientApplications": [], "odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "publisherDomain": "ArvindTest1.onmicrosoft.com", "acceptMappedClaims": null,
        "passwordCredentials": [{"endDate": "2021-01-13T05:49:33.621423Z", "value":
        "ReplacedSPPassword123*", "keyId": "e8304e78-b752-4cad-948f-181ede347d72",
        "customKeyIdentifier": null, "startDate": "2020-01-13T05:49:33.621423Z"}],
        "tokenEncryptionKeyId": null, "objectType": "Application", "optionalClaims":
        null, "appId": "0eaa0a0c-288d-43c4-b115-acd047389e56", "oauth2AllowUrlPathMatching":
        false, "keyCredentials": [], "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "oauth2AllowIdTokenImplicitFlow": true,
        "availableToOtherTenants": false, "informationalUrls": {"privacy": null, "support":
        null, "termsOfService": null, "marketing": null}, "identifierUris": ["http://clitest000002"],
        "mainLogo@odata.mediaEditLink": "directoryObjects/bf74c903-ab81-45c2-8bf3-fc3f8b50530e/Microsoft.DirectoryServices.Application/mainLogo",
        "addIns": [], "deletionTimestamp": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2795518'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/bf74c903-ab81-45c2-8bf3-fc3f8b50530e/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - /lC86iJ3cwwJGyTWjAKYWDPkB/lyglon9hmrn0nLUXM=
      ocp-aad-session-key:
      - pew-_SJGBzjNv886pKUWqphUIiRyywnBgr5m3Yy41n5bsIu7H-i_pke0M5uWH1GGcp_uNmghMgl7WiiJDSeerUifUJDiQqFcWRKAviUU38NjhJ5cyAH3LG3_OJlEdcLNNreuSnp5aL7SAoz65sJgVwHfbZUxWYOez-qLAaJSNc8.y7FuPrZKkTsvl3inHb5LlHVVfHncY55mE1OkJSQrkVs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001","name":"clitestosa000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"date":"2020-01-13T05:49:31Z","cause":"automation","product":"azurecli"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"retentionInDays": 30, "sku": {"name": "PerGB2018"}}, "location":
      "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001/providers/Microsoft.OperationalInsights/workspaces/clitestosa000003?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"d71831be-fe21-436c-9762-381341b9de84\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Mon, 13 Jan 2020 05:49:36 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Mon, 13 Jan 2020 08:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001/providers/microsoft.operationalinsights/workspaces/clitestosa000003\",\r\n
        \ \"name\": \"clitestosa000003\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2019-09-30-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003''
        under resource group ''clitestosa000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: 'b''b\''{"properties": {"openShiftVersion": "v3.11", "authProfile": {"identityProviders":
      [{"provider": {"kind": "AADIdentityProvider", "secret": "clitest000002", "clientId":
      "0eaa0a0c-288d-43c4-b115-acd047389e56", "tenantId": "3887ed3e-1bbf-40c8-b5de-605dfdb74cd6"},
      "name": "Azure AD"}]}, "monitorProfile": {"enabled": true, "workspaceResourceID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001/providers/microsoft.operationalinsights/workspaces/clitestosa000003"},
      "masterPoolProfile": {"vmSize": "Standard_D4s_v3", "osType": "Linux", "name":
      "master", "count": 3, "subnetCidr": "10.0.0.0/24"}, "routerProfiles": [{"name":
      "default"}], "networkProfile": {"vnetCidr": "10.0.0.0/8"}, "agentPoolProfiles":
      [{"role": "compute", "subnetCidr": "10.0.0.0/24", "vmSize": "Standard_D4s_v3",
      "osType": "Linux", "name": "compute", "count": 1}, {"role": "infra", "subnetCidr":
      "10.0.0.0/24", "vmSize": "Standard_D4s_v3", "osType": "Linux", "name": "infra",
      "count": 3}]}, "location": "eastus"}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2019-09-30-preview
  response:
    body:
      string: "{\n  \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"openShiftVersion\":
        \"v3.11\",\n   \"clusterVersion\": \"aro.15\",\n   \"publicHostname\": \"openshift.b95998d4fd1b40f59978.eastus.azmosa.io\",\n
        \  \"fqdn\": \"osa6faa8b79c17c42ffabb5.eastus.cloudapp.azure.com\",\n   \"networkProfile\":
        {\n    \"vnetCidr\": \"10.0.0.0/8\",\n    \"vnetId\": \"\"\n   },\n   \"routerProfiles\":
        [\n    {\n     \"name\": \"default\",\n     \"publicSubdomain\": \"apps.b95998d4fd1b40f59978.eastus.azmosa.io\",\n
        \    \"fqdn\": \"osa15846a6049444b8692e8.eastus.cloudapp.azure.com\"\n    }\n
        \  ],\n   \"masterPoolProfile\": {\n    \"count\": 3,\n    \"vmSize\": \"Standard_D4s_v3\",\n
        \   \"subnetCidr\": \"10.0.0.0/24\"\n   },\n   \"agentPoolProfiles\": [\n
        \   {\n     \"name\": \"compute\",\n     \"count\": 1,\n     \"vmSize\": \"Standard_D4s_v3\",\n
        \    \"subnetCidr\": \"10.0.0.0/24\",\n     \"osType\": \"Linux\",\n     \"role\":
        \"compute\"\n    },\n    {\n     \"name\": \"infra\",\n     \"count\": 3,\n
        \    \"vmSize\": \"Standard_D4s_v3\",\n     \"subnetCidr\": \"10.0.0.0/24\",\n
        \    \"osType\": \"Linux\",\n     \"role\": \"infra\"\n    }\n   ],\n   \"authProfile\":
        {\n    \"identityProviders\": [\n     {\n      \"name\": \"Azure AD\",\n      \"provider\":
        {\n       \"kind\": \"AADIdentityProvider\",\n       \"clientId\": \"0eaa0a0c-288d-43c4-b115-acd047389e56\",\n
        \      \"tenantId\": \"3887ed3e-1bbf-40c8-b5de-605dfdb74cd6\"\n      }\n     }\n
        \   ]\n   },\n   \"monitorProfile\": {\n    \"enabled\": true,\n    \"workspaceResourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001/providers/microsoft.operationalinsights/workspaces/clitestosa000003\"\n
        \  }\n  },\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001/providers/Microsoft.ContainerService/openshiftmanagedClusters/clitestosa000003\",\n
        \ \"name\": \"clitestosa000003\",\n  \"type\": \"Microsoft.ContainerService/OpenShiftManagedClusters\",\n
        \ \"location\": \"eastus\",\n  \"tags\": {}\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/555590a1-2018-43a5-900a-e1292dfefe0e?api-version=2018-10-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/555590a1-2018-43a5-900a-e1292dfefe0e?api-version=2018-10-31
  response:
    body:
      string: "{\n  \"name\": \"a1905555-1820-a543-900a-e1292dfefe0e\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2020-01-13T05:50:12.522663Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/555590a1-2018-43a5-900a-e1292dfefe0e?api-version=2018-10-31
  response:
    body:
      string: "{\n  \"name\": \"a1905555-1820-a543-900a-e1292dfefe0e\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2020-01-13T05:50:12.522663Z\",\n  \"endTime\":
        \"2020-01-13T06:09:12.132464Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%270eaa0a0c-288d-43c4-b115-acd047389e56%27%29
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '681387'
      ocp-aad-diagnostics-server-name:
      - YCeo6veNZzyqH4rqbg7XRrujjIhZ2D1Pk7fkPTQFub8=
      ocp-aad-session-key:
      - 8eQ9Z508AnKjr37mCKwkaIrEPCOp3croM_rw57PntAFu1CAcML1k1vr1UguyyYZTsPcYv9V3Ek3GnTUfGWoBMa_iwEK497w0TOo8jJk0RRlbWbqv6IKkcksQg6KuqsXpy2DvB004vOFd0gu0hZdrN6h4XgmyKIcA-YkpurXWfIo.gUCxuzczTHCCh_USlJg2wRVF9ckhQC6B74DMz-I0exA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=appId%20eq%20%270eaa0a0c-288d-43c4-b115-acd047389e56%27
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"bf74c903-ab81-45c2-8bf3-fc3f8[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/bf74c903-ab81-45c2-8bf3-fc3f8b50530e?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1256168'
      ocp-aad-diagnostics-server-name:
      - vPettSiUstOmmenKCofUY/RtXhXy1JLj54Gv/HPGCX8=
      ocp-aad-session-key:
      - --NVqsAL-gR20k_hEJMIM1FftxdRrEPgX7VX8H5SP8xRPf4ANZP3vqkNjSnAzTZeoAFXNzyEQg6Qu7iCxWqMUgnXB3EsaDG45iGEh-M0BF4RsJOLzSSCgrfaYoy-XZO5H6Zvt0BDLxIczIs3M-Ktg7nw-JqrlBxIOoXfQlV1UEU.dP14PqhIytvNB-2MfEtqDDf207niYUq4ZXGIZHMoEgc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
