interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-08-30T05:45:57Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cmdtestbpv-clitest3775tj5oy-8ecadf",
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "name": "c000003"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCebmbgp0gBQmZjqcOH52xG6NyYhOPaDHRal+K9E26Z1/KnQ3vYFI1kxBny9vD5sKdCsTR8qr90/U5RW1T7+2aYdl+XUdNGvPZc48+KgKH3tIV6N7pvpWaINa3hR2vGuUWoW7lO8+EzMkZBcA5f6RlGg6OAJDAGh2u9ntAxFkYu3xyk3pSfbclvIA+quh/M/V29YkPm6LTrukdnuzv8grhZoLFqbWpZDbLXttHi5iZ2PKRKs886Ggrwayj9YIt/n6WJuUonArvXvuF9Ei8KQl651wTqOz3gDs6kHazPcF9IfU6hIKNImwAr4USX7ruTYvUqdalX3r0WoH8dcyzUBt2T"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cmdtest000002?api-version=2022-07-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cmdtest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cmdtest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.8\",\n   \"currentKubernetesVersion\": \"1.23.8\",\n   \"dnsPrefix\":
        \"cmdtestbpv-clitest3775tj5oy-8ecadf\",\n   \"fqdn\": \"cmdtestbpv-clitest3775tj5oy-8ecadf-f28df4ab.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cmdtestbpv-clitest3775tj5oy-8ecadf-f28df4ab.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"c000003\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.23.8\",\n     \"currentOrchestratorVersion\":
        \"1.23.8\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.08.10\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCebmbgp0gBQmZjqcOH52xG6NyYhOPaDHRal+K9E26Z1/KnQ3vYFI1kxBny9vD5sKdCsTR8qr90/U5RW1T7+2aYdl+XUdNGvPZc48+KgKH3tIV6N7pvpWaINa3hR2vGuUWoW7lO8+EzMkZBcA5f6RlGg6OAJDAGh2u9ntAxFkYu3xyk3pSfbclvIA+quh/M/V29YkPm6LTrukdnuzv8grhZoLFqbWpZDbLXttHi5iZ2PKRKs886Ggrwayj9YIt/n6WJuUonArvXvuF9Ei8KQl651wTqOz3gDs6kHazPcF9IfU6hIKNImwAr4USX7ruTYvUqdalX3r0WoH8dcyzUBt2T\"\n
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n
        \  },\n   \"nodeResourceGroup\": \"MC_clitest000001_cmdtest000002_westus2\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   }\n  },\n  \"identity\": {\n   \"type\":
        \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/ed9ed6f3-b3f1-4884-847c-ea3c4ea598db?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/ed9ed6f3-b3f1-4884-847c-ea3c4ea598db?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f3d69eed-f1b3-8448-847c-ea3c4ea598db\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-08-30T05:46:05.4654569Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/ed9ed6f3-b3f1-4884-847c-ea3c4ea598db?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"f3d69eed-f1b3-8448-847c-ea3c4ea598db\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-08-30T05:46:05.4654569Z\",\n  \"endTime\":
        \"2022-08-30T05:49:51.1902677Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"command": "kubectl get pods -A", "context": ""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cmdtest000002/runCommand?api-version=2022-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/0cd3aca6e1c549ea8e8defe4f7183e05?api-version=2022-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/0cd3aca6e1c549ea8e8defe4f7183e05?api-version=2022-07-01
  response:
    body:
      string: "{\n  \"id\": \"0cd3aca6e1c549ea8e8defe4f7183e05\",\n  \"properties\":
        {\n   \"provisioningState\": \"Running\",\n   \"startedAt\": \"2022-08-30T05:50:11Z\"\n
        \ }\n }"
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/0cd3aca6e1c549ea8e8defe4f7183e05?api-version=2022-07-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedclusters/cmdtest000002/commandResults/0cd3aca6e1c549ea8e8defe4f7183e05?api-version=2022-07-01
  response:
    body:
      string: "{\n  \"id\": \"0cd3aca6e1c549ea8e8defe4f7183e05\",\n  \"properties\":
        {\n   \"provisioningState\": \"Succeeded\",\n   \"exitCode\": 0,\n   \"startedAt\":
        \"2022-08-30T05:50:11Z\",\n   \"finishedAt\": \"2022-08-30T05:50:12Z\",\n
        \  \"logs\": \"NAMESPACE     NAME                                       READY
        \  STATUS    RESTARTS   AGE\\naks-command   command-0cd3aca6e1c549ea8e8defe4f7183e05
        \  1/1     Running   0          5s\\nkube-system   azure-ip-masq-agent-l4dkd
        \                 1/1     Running   0          103s\\nkube-system   cloud-node-manager-wqsz7
        \                  1/1     Running   0          103s\\nkube-system   coredns-87688dc49-ng4jz
        \                   1/1     Running   0       [...]
