interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/kubernetesVersions?api-version=2023-04-01
  response:
    body:
      string: "{\n  \"values\": [\n   {\n    \"version\": \"1.24\",\n    \"capabilities\"\
        : {\n     \"supportPlan\": [\n      \"KubernetesOfficial\"\n     ]\n    },\n\
        \    \"patchVersions\": {\n     \"1.24.10\": {\n      \"upgrades\": [\n  \
        \     \"1.25.5\",\n       \"1.25.6\"\n      ]\n     },\n     \"1.24.9\": {\n\
        \      \"upgrades\": [\n       \"1.24.10\",\n       \"1.25.5\",\n       \"\
        1.25.6\"\n      ]\n     }\n    }\n   },\n   {\n    \"version\": \"1.25\",\n\
        \    \"capabilities\": {\n     \"supportPlan\": [\n      \"KubernetesOfficial\"\
        \n     ]\n    },\n    \"patchVersions\": {\n     \"1.25.5\": {\n      \"upgrades\"\
        : [\n       \"1.26.0\",\n       \"1.26.3\",\n       \"1.25.6\"\n      ]\n\
        \     },\n     \"1.25.6\": {\n      \"upgrades\": [\n       \"1.26.0\",\n\
        \       \"1.26.3\"\n      ]\n     }\n    }\n   },\n   {\n    \"version\":\
        \ \"1.26\",\n    \"capabilities\": {\n     \"supportPlan\": [\n      \"KubernetesOfficial\"\
        \n     ]\n    },\n    \"patchVersions\": {\n     \"1.26.0\": {\n      \"upgrades\"\
        : [\n       \"1.26.3\"\n      ]\n     },\n     \"1.26.3\": {\n      \"upgrades\"\
        : []\n     }\n    }\n   }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000003''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {"scenario_test": ""}, "location": "westus2", "properties": {"kubernetesVersion":
      "1.25.6", "dnsPrefix": "cliaksdns000004", "agentPoolProfiles": [{"count": 1,
      "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 0, "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "1.25.6", "upgradeSettings": {}, "enableNodePublicIP": false, "scaleSetPriority":
      "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice": -1.0, "nodeTaints":
      [], "enableEncryptionAtHost": false, "enableUltraSSD": false, "enableFIPS":
      false, "name": "np000005"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "servicePrincipalProfile": {"clientId":"00000000-0000-0000-0000-000000000001",
      "secret":"fake-secret"}, "addonProfiles": {}, "enableRBAC": true, "networkProfile":
      {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16",
      "dnsServiceIP": "10.0.0.10", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2023-05-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"details\": null,\n\
        \  \"message\": \"Service principal clientID: f5a24b1e-6270-44ca-82f4-8b5b41d770c0\
        \ not found in Active Directory tenant 72f988bf-86f1-41af-91ab-2d7cd011db47,\
        \ Please see https://aka.ms/aks-sp-help for more details.\",\n  \"subcode\"\
        : \"ServicePrincipalNotFound\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/38dfaa6d-e8e6-4822-9205-a5e3a9080bf1?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"6daadf38-e6e8-2248-9205-a5e3a9080bf1\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2023-06-15T02:43:53.5630339Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2023-05-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakstest000003\",\n  \"tags\"\
        : {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\"\
        ,\n  \"properties\": {\n   \"provisioningState\": \"Succeeded\",\n   \"powerState\"\
        : {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\": \"1.25.6\"\
        ,\n   \"currentKubernetesVersion\": \"1.25.6\",\n   \"dnsPrefix\": \"cliaksdns000004\"\
        ,\n   \"fqdn\": \"cliaksdns000004-v2u5anc3.hcp.westus2.azmk8s.io\",\n   \"\
        azurePortalFQDN\": \"cliaksdns000004-v2u5anc3.portal.hcp.westus2.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"np000005\",\n    \
        \ \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\": \"OS\"\
        ,\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n \
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Succeeded\"\
        ,\n     \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\"\
        : \"1.25.6\",\n     \"currentOrchestratorVersion\": \"1.25.6\",\n     \"enableNodePublicIP\"\
        : false,\n     \"mode\": \"System\",\n     \"enableEncryptionAtHost\": false,\n\
        \     \"enableUltraSSD\": false,\n     \"osType\": \"Linux\",\n     \"osSKU\"\
        : \"Ubuntu\",\n     \"nodeImageVersion\": \"AKSUbuntu-2204gen2containerd-202306.01.0\"\
        ,\n     \"upgradeSettings\": {},\n     \"enableFIPS\": false\n    }\n   ],\n\
        \   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\"\
        : {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n  \
        \ \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000003_westus2\",\n\
        \   \"enableRBAC\": true,\n   \"supportPlan\": \"KubernetesOfficial\",\n \
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\"\
        : \"Standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\"\
        : {\n      \"count\": 1\n     },\n     \"effectiveOutboundIPs\": [\n     \
        \ {\n       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000003_westus2/providers/Microsoft.Network/publicIPAddresses/259aaeee-dc04-4176-8212-30f2df561aa1\"\
        \n      }\n     ]\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\"\
        : \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"outboundType\"\
        : \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n\
        \    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\"\
        : [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\"\
        : false,\n   \"securityProfile\": {},\n   \"storageProfile\": {\n    \"diskCSIDriver\"\
        : {\n     \"enabled\": true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\"\
        : true\n    },\n    \"snapshotController\": {\n     \"enabled\": true\n  \
        \  }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\": false\n   },\n\
        \   \"workloadAutoScalerProfile\": {}\n  },\n  \"sku\": {\n   \"name\": \"\
        Base\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters?api-version=2023-05-01
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n    \"location\": \"westus2\",\n    \"name\": \"cliakstest000003\",\n \
        \   \"tags\": {\n     \"scenario_test\": \"\"\n    },\n    \"type\": \"Microsoft.ContainerService/ManagedClusters\"\
        ,\n    \"properties\": {\n     \"provisioningState\": \"Succeeded\",\n   \
        \  \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"kubernetesVersion\"\
        : \"1.25.6\",\n     \"currentKubernetesVersion\": \"1.25.6\",\n     \"dnsPrefix\"\
        : \"cliaksdns000004\",\n     \"fqdn\": \"cliaksdns000004-v2u5anc3.hcp.westus2.azmk8s.io\"\
        ,\n     \"azurePortalFQDN\": \"cliaksdns000004-v2u5anc3.portal.hcp.westus2.azmk8s.io\"\
        ,\n     \"agentPoolProfiles\": [\n      {\n       \"name\": \"np000005\",\n\
        \       \"count\": 1,\n       \"vmSize\": \"Standard_DS2_v2\",\n       \"\
        osDiskSizeGB\": 128,\n       \"osDiskType\": \"Managed\",\n       \"kubeletDiskType\"\
        : \"OS\",\n       \"maxPods\": 110,\n       \"type\": \"VirtualMachineScaleSets\"\
        ,\n       \"enableAutoScaling\": false,\n       \"provisioningState\": \"\
        Succeeded\",\n       \"powerState\": {\n        \"code\": \"Running\"\n  \
        \     },\n       \"orchestratorVersion\": \"1.25.6\",\n       \"currentOrchestratorVersion\"\
        : \"1.25.6\",\n       \"enableNodePublicIP\": false,\n       \"mode\": \"\
        System\",\n       \"enableEncryptionAtHost\": false,\n       \"enableUltraSSD\"\
        : false,\n       \"osType\": \"Linux\",\n       \"osSKU\": \"Ubuntu\",\n \
        \      \"nodeImageVersion\": \"AKSUbuntu-2204gen2containerd-202306.01.0\"\
        ,\n       \"upgradeSettings\": {},\n       \"enableFIPS\": false\n      }\n\
        \     ],\n     \"linuxProfile\": {\n      \"adminUsername\": \"azureuser\"\
        ,\n      \"ssh\": {\n       \"publicKeys\": [\n        {\n         \"keyData\"\
        : \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqe[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/892a714a-3d26-40bb-8d7e-b54375129600?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/892a714a-3d26-40bb-8d7e-b54375129600?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
