interactions:
- request:
<<<<<<< HEAD
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-07-06T00:32:03Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-WUS2?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-WUS2?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-WUS2","name":"DefaultResourceGroup-WUS2","type":"Microsoft.Resources/resourceGroups","location":"westus2","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus2", "properties": {"sku": {"name": "standalone"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-WUS2/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-a1bfa635-f2bf-42f1-86b5-848c674fc321-WUS2?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"16923485-9be7-4140-8c1c-600ecf5f7772\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"maxCapacityReservationLevel\":
        3000,\r\n      \"lastSkuUpdate\": \"Mon, 06 Jul 2020 00:32:12 GMT\"\r\n    },\r\n
        \   \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n
        \     \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\":
        true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n
        \     \"quotaNextResetTime\": \"Mon, 06 Jul 2020 18:00:00 GMT\",\r\n      \"dataIngestionStatus\":
        \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n
        \   \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"createdDate\":
        \"Mon, 06 Jul 2020 00:32:12 GMT\",\r\n    \"modifiedDate\": \"Mon, 06 Jul
        2020 00:32:12 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.operationalinsights/workspaces/defaultworkspace-a1bfa635-f2bf-42f1-86b5-848c674fc321-wus2\",\r\n
        \ \"name\": \"DefaultWorkspace-a1bfa635-f2bf-42f1-86b5-848c674fc321-WUS2\",\r\n
        \ \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\":
        \"westus2\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-wus2/providers/microsoft.operationalinsights/workspaces/defaultworkspace-a1bfa635-f2bf-42f1-86b5-848c674fc321-wus2?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"16923485-9be7-4140-8c1c-600ecf5f7772\",\r\n    \"[...]
- request:
    body: '{"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
=======
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-09T20:21:15Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-09T20:21:15Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['497696']
      ocp-aad-diagnostics-server-name: [h7UB8YGKOzmHmjp1ZIS89QpqUVjy/3RInQUF7SgT0jk=]
      ocp-aad-session-key: [BdeeSZUvoYWm_Qd9u26YCqpI1WeUBML0GcCyRA0VKs4KAbk-xo1lWA_NsgFLKevYAlXdxvRfmyjbLMZ7nSJny2VVk66AYF9eLHUCnfzDh7k9JVk_8NjVI2Stn1C_rI-MSvdg0Pa7Z7K7cacgwDrx6g.h-1RQzuPeiVl2rEuTkF9rKmNlt9oGrpye52MYUdbp1w]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "clitestnn3za3ykvc",
      "homepage": "https://clitestnn3za3ykvc", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2019-01-09T20:21:17.262572Z", "endDate":
      "2020-01-09T20:21:17.262572Z", "keyId": "a61d84b8-3eec-4163-ba19-b6e4291e0461",
      "value": "e2977597-729e-44a2-985f-12290e7e9275", "customKeyIdentifier": "//5yAGIAYQBjAA=="}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"33b1c940-dbe7-4ee5-9000-025311129797","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"ea899896-d8d8-43d6-9b80-2f7c9e9cefa9","appRoles":[],"availableToOtherTenants":false,"displayName":"clitestnn3za3ykvc","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitestnn3za3ykvc","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitestnn3za3ykvc on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitestnn3za3ykvc","id":"5d1e9e1b-39b6-49de-8796-154517a42b90","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitestnn3za3ykvc on your behalf.","userConsentDisplayName":"Access
        clitestnn3za3ykvc","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-01-09T20:21:17.262572Z","keyId":"a61d84b8-3eec-4163-ba19-b6e4291e0461","startDate":"2019-01-09T20:21:17.262572Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['6987317']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/33b1c940-dbe7-4ee5-9000-025311129797/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [c+jbw+ZBrEliCN+SCvWixDretq0U48+gk/t2P/iP65E=]
      ocp-aad-session-key: [rG0SoMUY0TsD4bv7VAtT4Rzth-esYpQiirOmkmWWRSaA6X9toSK1VomDvzqGU1ESkX3FhFAPKH9c6evfoliUIorCG-eNIqwYUYY6oGmwVMWQiNyXM19TeuADbvlfPm8w6MbhiG7-K4tX7inhEpX06g.7unEwiIAS-9A7ZZe2pUtlhwnT9NCesndEC08n_UofaM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": true, "appId": "ea899896-d8d8-43d6-9b80-2f7c9e9cefa9"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"1ab489cb-20f0-45a4-aea5-f37e658aaec4","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitestnn3za3ykvc","appId":"ea899896-d8d8-43d6-9b80-2f7c9e9cefa9","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitestnn3za3ykvc","errorUrl":null,"homepage":"https://clitestnn3za3ykvc","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitestnn3za3ykvc on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitestnn3za3ykvc","id":"5d1e9e1b-39b6-49de-8796-154517a42b90","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitestnn3za3ykvc on your behalf.","userConsentDisplayName":"Access
        clitestnn3za3ykvc","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["ea899896-d8d8-43d6-9b80-2f7c9e9cefa9","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4129141']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1ab489cb-20f0-45a4-aea5-f37e658aaec4/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [2Gv1gQSfiKJpA3rt4Mi13yQYs8l/cSGK1elzeDUE/p8=]
      ocp-aad-session-key: [JOWchAR9ToJpskKR1NDcUEoFajVNtRq8Ii3jKu2-UZ2lCZ9pFZzQ_TIjBtUUJ2l4gNEEvjy9Y48QBJYiWZQX_At6AeSKNRKks2lMDN4zygUCDYvqxosJPiBeNY5lwLXAdhDwwTaW17kSAPO0V5QsvQ.SKVDEvjTO7XwQj3zKWuliLI3r8Gc8TNofpB-mSlpm6I]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-EUS?api-version=2020-06-01
  response:
    body: {string: ''}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: '{"location": "eastus", "properties": {"sku": {"name": "standalone"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-EUS?api-version=2015-11-01-preview
  response:
    body: {string: "{\r\n  \"properties\": [...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-eus?api-version=2015-11-01-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n   \
        \ \"customerId\": \[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"workspaceResourceId": {"type":
      "string", "metadata": {"description": "Azure Monitor Log Analytics Resource
      ID"}}, "workspaceRegion": {"type": "string", "metadata": {"description": "Azure
      Monitor Log Analytics workspace region"}}, "solutionDeploymentName": {"type":
      "string", "metadata": {"description": "Name of the solution deployment"}}},
      "resources": [{"type": "Microsoft.Resources/deployments", "name": "[parameters(''solutionDeploymentName'')]",
      "apiVersion": "2017-05-10", "subscriptionId": "[split(parameters(''workspaceResourceId''),''/'')[2]]",
      "resourceGroup": "[split(parameters(''workspaceResourceId''),''/'')[4]]", "properties":
      {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2015-11-01-preview", "type": "Microsoft.OperationsManagement/solutions",
      "location": "[parameters(''workspaceRegion'')]", "name": "[Concat(''ContainerInsights'',
      ''('', split(parameters(''workspaceResourceId''),''/'')[8], '')'')]", "properties":
      {"workspaceResourceId": "[parameters(''workspaceResourceId'')]"}, "plan": {"name":
      "[Concat(''ContainerInsights'', ''('', split(parameters(''workspaceResourceId''),''/'')[8],
      '')'')]", "product": "[Concat(''OMSGallery/'', ''ContainerInsights'')]", "promotionCode":
      "", "publisher": "Microsoft"}}]}, "parameters": {}}}]}, "parameters": {"workspaceResourceId":
      {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-eus"},
      "workspaceRegion": {"value": "eastus"}, "solutionDeploymentName": {"value":
      "ContainerInsights-1547065317123"}}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/aks-monitoring-1547065317123","name":"aks-monitoring-1547065317123","properties":{"templateHash":"2594080513872835985","parameters":{"workspaceResourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-eus"},"workspaceRegion":{"type":"String","value":"eastus"},"solutionDeploymentName":{"type":"String","value":"ContainerInsights-1547065317123"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-01-09T20:21:59.8953671Z","duration":"PT0.7672204S","correlationId":"b19ce507-ccb7-4743-96f8-0b0f07d04512","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/aks-monitoring-1547065317123/operationStatuses/08586545415663494631?api-version=2020-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"location": "eastus", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliaksdns000004", "agentPoolProfiles": [{"name": "nodepool1", "count": 1, "vmSize":
      "Standard_DS2_v2", "osType": "Linux"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "http://clitest000002",
      "secret": "e2977597-729e-44a2-985f-12290e7e9275"}, "addonProfiles": {"omsagent":
      {"enabled": true, "config": {"logAnalyticsWorkspaceResourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-eus"}}},
      "enableRBAC": true}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\": \"1.9.11\"\
        ,\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"agentPoolProfiles\": [\n \
        \   {\n     \"name\": \"nodepool1\",\n     \"count\": 1,\n     \"vmSize\"\
        : \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 30,\n     \"storageProfile\"\
        : \"ManagedDisks\",\n     \"maxPods\": 110,\n     \"osType\": \"Linux\"\n\
        \    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\"\
        ,\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\": \"http://clitest000002\"\n   },\n   \"addonProfiles\"\
        : {\n    \"omsagent\": {\n     \"enabled\": true,\n     \"config\": {\n  \
        \    \"logAnalyticsWorkspaceResourceID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-eus\"\
        \n     }\n    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000003_eastus\"\
        ,\n   \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\"\
        : \"kubenet\",\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":\
        \ \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\"\
        : \"172.17.0.1/16\"\n   }\n  }\n }"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/209e0b93-118b-4295-9e12-76ca40cfe23c?api-version=2017-08-31']
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586545415663494631?api-version=2020-06-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/aks-monitoring-1547065317123","name":"aks-monitoring-1547065317123","properties":{"templateHash":"2594080513872835985","parameters":{"workspaceResourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-eus"},"workspaceRegion":{"type":"String","value":"eastus"},"solutionDeploymentName":{"type":"String","value":"ContainerInsights-1547065317123"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2019-01-09T20:22:27.1646138Z","duration":"PT28.0364671S","correlationId":"b19ce507-ccb7-4743-96f8-0b0f07d04512","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.OperationsManagement/solutions/ContainerInsights(defaultworkspace-e240e532-1923-4fe0-86da-28abc43fc4c7-eus)"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/209e0b93-118b-4295-9e12-76ca40cfe23c?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"930b9e20-8b11-9542-9e12-76ca40cfe23c\",\n  \"\
        status\": \"InProgress\",\n  \"startTime\": \"2019-01-09T20:22:04.5500611Z\"\
        \n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/209e0b93-118b-4295-9e12-76ca40cfe23c?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"930b9e20-8b11-9542-9e12-76ca40cfe23c\",\n  \"\
        status\": \"Succeeded\",\n  \"startTime\": \"2019-01-09T20:22:04.5500611Z\"\
        ,\n  \"endTime\": \"2019-01-09T20:27:37.8676416Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Succeeded\",\n   \"kubernetesVersion\": \"1.9.11\"\
        ,\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"fqdn\": \"cliaksdns000004-948b13b4.hcp.eastus.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\"\
        : 30,\n     \"storageProfile\": \"ManagedDisks\",\n     \"maxPods\": 110,\n\
        \     \"osType\": \"Linux\"\n    }\n   ],\n   \"linuxProfile\": {\n    \"\
        adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n\
        \      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/E[...]
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"kubernetesVersion": "1.9.11",
      "dnsPrefix": "cliaksdns000004", "agentPoolProfiles": [{"name": "nodepool1",
      "count": 1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB": 30, "maxPods": 110,
      "osType": "Linux"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\n"}]}}, "addonProfiles": {"omsagent": {"enabled": false}},
      "enableRBAC": true, "networkProfile": {"networkPlugin": "kubenet", "podCidr":
      "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cl[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      "contentVersion": "1.0.0.0", "parameters": {"workspaceResourceId": {"type":
      "string", "metadata": {"description": "Azure Monitor Log Analytics Resource
      ID"}}, "workspaceRegion": {"type": "string", "metadata": {"description": "Azure
[...]
