interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.45.0 azsdk-python-azure-mgmt-resource/22.0.0 Python/3.10.9 (Linux-5.15.0-1031-azure-x86_64-with-glibc2.31)
        VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000001''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
>>>>>>> 71e7efc2e (fix)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-07T14:07:50Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2023-03-15T10:37:19Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> 71e7efc2e (fix)
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 07 Feb 2023 14:07:52 GMT
=======
      - Wed, 15 Mar 2023 10:37:19 GMT
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
<<<<<<< HEAD
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestitdnmkjev-0b1f64",
=======
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestszqjqlx76-79a739",
>>>>>>> 71e7efc2e (fix)
      "agentPoolProfiles": [{"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "type": "VirtualMachineScaleSets",
      "mode": "System", "orchestratorVersion": "", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": true, "name": "nodepool1"}], "linuxProfile": {"adminUsername":
<<<<<<< HEAD
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCeC+6oFsitNa11PKCGFeSSlPtf+VfFcXHYtQIUO9H+6bVGcIRa3BOMSouO9wZne/d5IHV1DvxLeO38/OotxQUF5Cpr6QpToe7FEJAVPDfz5QH6VZy0zExsHo6wGCA08znBYXDfIiqfZND4xaBjjvd1Vor/viy9wr1atDm6Ukd4dgs4XtGHc8IUN59Bk7LTZE8/FzXHz98Yb2rd9Xq0IX3DlYiQd5KUm7AkOOfE4uJxjnu4S/7yQjXe7tE4eNWhykdn+ued8ejH3bnh6P1tcOweoJmfqtOIoZ40PrmYR+rbdkpEorcQOA+wrYoPF7sLMfDJzxfubwvcdnQAY8A6NPnf"}]}},
=======
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsUNxyxr64cgmW2DeA1l9gyK/y7ju7yByewyVXKzMCyus691v155Wlojgjf55QrjZEeh3CyY0sOMiUZeTTFNs9AeJuFeaOBn1uWTSbFB/cyoaVwyGCxt3BGxc4g8viIllhVgAo4ZCo9sVLm3t+89irXsvWmQnKUl3eKY5tmp47q8XjWowWtANK/26rpawOXwJlVxoL9dZaKmp6WBF8uL2LwULpZr+vOurWd1qSyJprcxFMjnK+3wFEfQuaSuEHfXIPuVBv34wHFMALj4hz5xZ0fiZAUrFNhUo4pfNFtcdV+rfV7mCYcPReLm9pUTv+Lqkk0sdRc4XBI5iUVxrtQtuL"}]}},
>>>>>>> 71e7efc2e (fix)
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false, "storageProfile":
      {}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.45.0 azsdk-python-azure-mgmt-containerservice/21.1.0 Python/3.10.9
        (Linux-5.15.0-1031-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
>>>>>>> 71e7efc2e (fix)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000001\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.24.9\",\n   \"currentKubernetesVersion\": \"1.24.9\",\n   \"dnsPrefix\":
<<<<<<< HEAD
        \"cliakstest-clitestitdnmkjev-0b1f64\",\n   \"fqdn\": \"cliakstest-clitestitdnmkjev-0b1f64-c0b4d5c3.hcp.eastus.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestitdnmkjev-0b1f64-c0b4d5c3.portal.hcp.eastus.azmk8s.io\",\n
=======
        \"cliakstest-clitestszqjqlx76-79a739\",\n   \"fqdn\": \"cliakstest-clitestszqjqlx76-79a739-zzfh9q57.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestszqjqlx76-79a739-zzfh9q57.portal.hcp.westus2.azmk8s.io\",\n
>>>>>>> 71e7efc2e (fix)
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"enableAutoScaling\": false,\n
        \    \"provisioningState\": \"Creating\",\n     \"powerState\": {\n      \"code\":
        \"Running\"\n     },\n     \"orchestratorVersion\": \"1.24.9\",\n     \"currentOrchestratorVersion\":
        \"1.24.9\",\n     \"enableNodePublicIP\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
<<<<<<< HEAD
        \"AKSUbuntu-1804gen2fipscontainerd-2023.01.20\",\n     \"upgradeSettings\":
        {},\n     \"enableFIPS\": true\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCeC+6oFsitNa11PKCGFeSSlPtf+VfFcXHYtQIUO9H+6bVGcIRa3BOMSouO9wZne/d5IHV1DvxLeO38/OotxQUF5Cpr6QpToe7FEJAVPDfz5QH6VZy0zExsHo6wGCA08znBYXDfIiqfZND4xaBjjvd1Vor/viy9wr1atDm6Ukd4dgs4XtGHc8IUN59Bk7LTZE8/FzXHz98Yb2rd9Xq0IX3DlYiQd5KUm7AkOOfE4uJxjnu4S/7yQjXe7tE4eNWhykdn+ued8ejH3bnh6P1tcOweoJmfqtOIoZ40PrmYR+rbdkpEorcQOA+wrYoPF7sLMfDJzxfubwvcdnQAY8A6NPnf\"\n
=======
        \"AKSUbuntu-1804gen2fipscontainerd-2023.02.15\",\n     \"upgradeSettings\":
        {},\n     \"enableFIPS\": true\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsUNxyxr64cgmW2DeA1l9gyK/y7ju7yByewyVXKzMCyus691v155Wlojgjf55QrjZEeh3CyY0sOMiUZeTTFNs9AeJuFeaOBn1uWTSbFB/cyoaVwyGCxt3BGxc4g8viIllhVgAo4ZCo9sVLm3t+89irXsvWmQnKUl3eKY5tmp47q8XjWowWtANK/26rpawOXwJlVxoL9dZaKmp6WBF8uL2LwULpZr+vOurWd1qSyJprcxFMjnK+3wFEfQuaSuEHfXIPuVBv34wHFMALj4hz5xZ0fiZAUrFNhUo4pfNFtcdV+rfV7mCYcPReLm9pUTv+Lqkk0sdRc4XBI5iUVxrtQtuL\"\n
>>>>>>> 71e7efc2e (fix)
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n
        \  },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000001_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\",\n    \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
<<<<<<< HEAD
        \  \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/cd4f8e2b-8b7f-4fdf-b81d-b76435c3eb22?api-version=2017-08-31
      content-type:
      - application/json
=======
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/398a2fdc-c84f-4ef8-99cd-adb36a04c55a?api-version=2016-03-30
      content-type:
      - application/json
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1198'
=======
      - '1192'
>>>>>>> 71e7efc2e (fix)
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.45.0 azsdk-python-azure-mgmt-containerservice/21.1.0 Python/3.10.9
        (Linux-5.15.0-1031-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/cd4f8e2b-8b7f-4fdf-b81d-b76435c3eb22?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"2b8e4fcd-7f8b-df4f-b81d-b76435c3eb22\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-02-07T14:07:56.6591826Z\"\n }"
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/398a2fdc-c84f-4ef8-99cd-adb36a04c55a?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"dc2f8a39-4fc8-f84e-99cd-adb36a04c55a\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2023-03-15T10:37:23.2659012Z\"\n }"
>>>>>>> 71e7efc2e (fix)
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Tue, 07 Feb 2023 14:08:27 GMT
=======
      - Wed, 15 Mar 2023 10:37:52 GMT
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/cd4f8e2b-8b7f-4fdf-b81d-b76435c3eb22?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"2b8e4fcd-7f8b-df4f-b81d-b76435c3eb22\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-02-07T14:07:56.6591826Z\",\n  \"endTime\":
        \"2023-02-07T14:12:50.5934031Z\"\n }"
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/398a2fdc-c84f-4ef8-99cd-adb36a04c55a?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"dc2f8a39-4fc8-f84e-99cd-adb36a04c55a\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2023-03-15T10:37:23.2659012Z\",\n  \"endTime\":
        \"2023-03-15T10:41:21.0338728Z\"\n }"
>>>>>>> 71e7efc2e (fix)
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Tue, 07 Feb 2023 14:12:58 GMT
=======
      - Wed, 15 Mar 2023 10:41:23 GMT
>>>>>>> 71e7efc2e (fix)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.45.0 azsdk-python-azure-mgmt-containerservice/21.1.0 Python/3.10.9
        (Linux-5.15.0-1031-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
>>>>>>> 71e7efc2e (fix)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/agentPools?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"value\": [\n   {\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001/agentPools/nodepool1\",\n
        \   \"name\": \"nodepool1\",\n    \"type\": \"Microsoft.ContainerService/managedClusters/agentPools\",\n
        \   \"properties\": {\n     \"count\": 3,\n     \"vmSize\": \"Standard_DS2_v2\",\n
        \    \"osDiskSizeGB\": 128,\n     \"osDiskType\": \"Managed\",\n     \"kubeletDiskType\[...]
- request:
    body: '{"properties": {"count": 3, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "osType": "Linux", "enableAutoScaling": false, "scaleDownMode": "Delete",
      "type": "VirtualMachineScaleSets", "mode": "User", "upgradeSettings": {}, "enableNodePublicIP":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": true}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.45.0 azsdk-python-azure-mgmt-containerservice/21.1.0 Python/3.10.9
        (Linux-5.1[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.45.0 azsdk-python-azure-mgmt-containerservice/21.1.0 Python/3.10.9
        (Linux-5.15.0-1031-azure-x86_64-with-glibc2.31) VSTS_7b238909-6802-4b65-b90d-184bca47f458_build_220_0
=======
      - AZURECLI/2.46.0 azsdk-python-azure-mgmt-containerservice/21.2.0 Python/3.8.10
        (Linux-5.15.0-1033-azure-x86_64-with-glibc2.29)
>>>>>>> 71e7efc2e (fix)
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000001?api-version=2023-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/a665bb44-be04-4dd1-99cc-aaa2ca5f0696?api-version=2017-08-31
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/88f74b67-29df-4945-a756-1d2158d84d96?api-version=2016-03-30
>>>>>>> 71e7efc2e (fix)
      cache-control:
      - no-cache
      content-length:
      - '0'
      date:
<<<<<<< HEAD
      - Tue, 07 Feb 2023 14:17:06 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/a665bb44-be04-4dd1-99cc-aaa2ca5f0696?api-version=2017-08-31
=======
      - Wed, 15 Mar 2023 10:44:00 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/88f74b67-29df-4945-a756-1d2158d84d96?api-version=2016-03-30
>>>>>>> 71e7efc2e (fix)
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-deletes:
<<<<<<< HEAD
      - '14999'
=======
      - '14994'
>>>>>>> 71e7efc2e (fix)
    status:
      code: 202
      message: Accepted
version: 1
