interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-04-08T05:37:45Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliakstest-clitestjxy524ff5-c10894", "agentPoolProfiles": [{"count": 3, "vmSize":
      "Standard_DS2_v2", "osType": "Linux", "type": "VirtualMachineScaleSets", "mode":
      "System", "enableNodePublicIP": false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy":
      "Delete", "name": "nodepool1"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4XWu6dN1UBl8ZQKdx5vBO+jDxrTVVo0C8QFqS5zj71MRkZmu36fCma/OmDLSPRyulUYj9ZbZoKiUbm+UlDlj/JPc4nrPyyTqP8kJEJGdm5wmLgAhSlE9gD9vjlq3IISrXX8t+cr9+vBorq+lG+RVq6l6uPdsXWgCAWEjvU9/rK5lyC5JjWoP1MmYwm3xs5NT07DKI+m5UIzIONbwNJXPCTDjaslayic7M+xgU1nXkWyWAR5gRiM4D2mJzwGAc2BCbMEzybEbupPZudBa7jE9oE+Z7bxr0Q2obebbHCpvoLpGSxfmjI1FL7nz+g3CsAu4YjpgZGV0y8yljP45sV03F"}]}},
      "addonProfiles": {}, "enableRBAC": true, "networkProfile": {"networkPlugin":
      "kubenet", "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP":
      "10.0.0.10", "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}}, "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2021-03-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.18.14\",\n   \"dnsPrefix\": \"cliakstest-clitestjxy524ff5-c10894\",\n
        \  \"fqdn\": \"cliakstest-clitestjxy524ff5-c10894-b88acdbd.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestjxy524ff5-c10894-b88acdbd.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"maxPods\": 110,\n
        \    \"type\": \"VirtualMachineScaleSets\",\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.18.14\",\n     \"enableNodePublicIP\": false,\n     \"nodeLabels\": {},\n
        \    \"mode\": \"System\",\n     \"osType\": \"Linux\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2-2021.03.29\",\n     \"enableFIPS\": false\n    }\n   ],\n
        \  \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\":
        {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4XWu6dN1UBl8ZQKdx5vBO+jDxrTVVo0C8QFqS5zj71MRkZmu36fCma/OmDLSPRyulUYj9ZbZoKiUbm+UlDlj/JPc4nrPyyTqP8kJEJGdm5wmLgAhSlE9gD9vjlq3IISrXX8t+cr9+vBorq+lG+RVq6l6uPdsXWgCAWEjvU9/rK5lyC5JjWoP1MmYwm3xs5NT07DKI+m5UIzIONbwNJXPCTDjaslayic7M+xgU1nXkWyWAR5gRiM4D2mJzwGAc2BCbMEzybEbupPZudBa7jE9oE+Z7bxr0Q2obebbHCpvoLpGSxfmjI1FL7nz+g3CsAu4YjpgZGV0y8yljP45sV03F\"\n
        \     }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\": {\n    \"clientId\":
        \"msi\"\n   },\n   \"addonProfiles\": {\n    \"KubeDashboard\": {\n     \"enabled\":
        false,\n     \"config\": null\n    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_westus2\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     }\n    },\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\",\n    \"outboundType\":
        \"loadBalancer\"\n   },\n   \"maxAgentPools\": 10\n  },\n  \"identity\": {\n
        \  \"type\": \"SystemAssigned\",\n   \"principalId\": \"43180a71-0c91-4fb9-b5d4-33caa598fab1\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8ad21400-4834-463b-91c9-3aa2cc1a1d3b?api-version=2016-03-30
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8ad21400-4834-463b-91c9-3aa2cc1a1d3b?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"0014d28a-3448-3b46-91c9-3aa2cc1a1d3b\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2021-04-08T05:37:54.82Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/8ad21400-4834-463b-91c9-3aa2cc1a1d3b?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"0014d28a-3448-3b46-91c9-3aa2cc1a1d3b\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-04-08T05:37:54.82Z\",\n  \"endTime\":
        \"2021-04-08T05:41:06.1517494Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/stop?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/acc97d0e-0b67-4ca5-840b-baba71176801?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/acc97d0e-0b67-4ca5-840b-baba71176801?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/start?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/d5826017-75de-43e2-9f96-b9f8500d542d?api-version=2016-03-30
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/d5826017-75de-43e2-9f96-b9f8500d542d?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/d5826017-75de-43e2-9f96-b9f8500d542d?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"176082d5-de75-e243-9f96-b9f8500d542d\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2021-04-08T05:43:28.5966666Z\",\n  \"endTime\":
        \"2021-04-08T05:46:21.2838444Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
