antlr4-python3-runtime==4.9.3
applicationinsights==0.11.9
argcomplete==1.11.1
asn1crypto==0.24.0
azure-appconfiguration==1.1.1
azure-batch==12.0.0
azure-cli-core==2.37.0
azure-cli-telemetry==1.0.6
azure-cli==2.37.0
azure-common==1.1.22
azure-core==1.24.0
azure-cosmos==3.2.0
azure-data-tables==12.4.0
azure-datalake-store==0.0.49
azure-graphrbac==0.60.0
azure-keyvault-administration==4.0.0b3
azure-keyvault-keys==4.5.1
azure-keyvault==4.2.0
azure-loganalytics==0.1.0
azure-mgmt-advisor==9.0.0
azure-mgmt-apimanagement==3.0.0
azure-mgmt-appconfiguration==2.1.0
azure-mgmt-applicationinsights==1.0.0
azure-mgmt-authorization==0.61.0
azure-mgmt-batch==16.1.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.0.0
azure-mgmt-botservice==0.3.0
azure-mgmt-cdn==12.0.0
azure-mgmt-cognitiveservices==13.2.0
azure-mgmt-compute==27.1.0
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==9.1.0
azure-mgmt-containerregistry==8.2.0
azure-mgmt-containerservice==19.1.0
azure-mgmt-core==1.3.0
azure-mgmt-cosmosdb==7.0.0b2
azure-mgmt-databoxedge==1.0.0
azure-mgmt-datalake-analytics==0.2.1
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==10.0.0
azure-mgmt-deploymentmanager==0.2.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-dns==8.0.0
azure-mgmt-eventgrid==9.0.0
azure-mgmt-eventhub==10.0.0
azure-mgmt-extendedlocation==1.0.0b2
azure-mgmt-hdinsight==9.0.0
azure-mgmt-imagebuilder==1.0.0
azure-mgmt-iotcentral==10.0.0b1
azure-mgmt-iothub==2.2.0
azure-mgmt-iothubprovisioningservices==1.1.0
azure-mgmt-keyvault==9.3.0
azure-mgmt-kusto==0.3.0
azure-mgmt-loganalytics==13.0.0b4
azure-mgmt-managementgroups==1.0.0
azure-mgmt-maps==2.0.0
azure-mgmt-marketplaceordering==1.1.0
azure-mgmt-media==9.0.0
azure-mgmt-monitor==3.0.0
azure-mgmt-msi==6.0.1
azure-mgmt-netapp==8.0.0
azure-mgmt-network==20.0.0
azure-mgmt-policyinsights==1.1.0b2
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==10.0.0
azure-mgmt-recoveryservices==2.0.0
azure-mgmt-recoveryservicesbackup==5.0.0
azure-mgmt-redhatopenshift==1.1.0
azure-mgmt-redis==13.1.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==2.0.0
azure-mgmt-resource==21.1.0b1
azure-mgmt-search==8.0.0
azure-mgmt-security==2.0.0b1
azure-mgmt-servicebus==7.1.0
azure-mgmt-servicefabric==1.0.0
azure-mgmt-servicefabricmanagedclusters==1.0.0
azure-mgmt-servicelinker==1.0.0
azure-mgmt-signalr==1.0.0b2
azure-mgmt-sql==4.0.0b2
azure-mgmt-sqlvirtualmachine==1.0.0b2
azure-mgmt-storage==20.0.0
azure-mgmt-synapse==2.1.0b2
azure-mgmt-trafficmanager==1.0.0
azure-mgmt-web==6.1.0
azure-multiapi-storage==0.9.0
azure-nspkg==3.0.2
azure-storage-common==1.4.2
azure-synapse-accesscontrol==0.5.0
azure-synapse-artifacts==0.12.0
azure-synapse-managedprivateendpoints==0.3.0
azure-synapse-spark==0.2.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
colorama==0.4.4
cryptography==3.3.2
fabric==2.4.0
humanfriendly==10.0
idna==2.8
invoke==1.2.0
isodate==0.6.0
javaproperties==0.5.1
Jinja2==3.0.3
jmespath==0.9.5
jsondiff==2.0.0
knack==0.9.0
MarkupSafe==2.0.1
msal-extensions==1.0.0
msal==1.18.0b1
msrest==0.7.0
msrestazure==0.6.4
oauthlib==3.0.1
packaging==21.3
paramiko==2.10.1
pbr==5.3.1
pkginfo==1.8.2
portalocker==2.3.2
psutil==5.9.0
pycparser==2.19
PyGithub==1.55
PyJWT==2.4.0
PyNaCl==1.5.0
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pywin32==302
requests-oauthlib==1.2.0
requests[socks]==2.26.0
scp==0.13.2
semver==2.13.0
six==1.14.0
sshtunnel==0.1.5
tabulate==0.8.9
urllib3==1.26.7
wcwidth==0.1.7
websocket-client==1.3.1
xmltodict==0.12.0
