antlr4-python3-runtime==4.13.1
argcomplete==3.5.2
asn1crypto==0.24.0
azure-cli-core==2.68.0
azure-cli-telemetry==1.1.0
azure-cli==2.68.0
azure-common==1.1.22
azure-core==1.31.0
azure-mgmt-apimanagement==4.0.0
azure-mgmt-authorization==4.0.0
azure-mgmt-core==1.3.2
azure-mgmt-msi==7.0.0
azure-mgmt-resource==23.1.1
bcrypt==3.2.0
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
colorama==0.4.6
cryptography==43.0.1
distro==1.6.0
fabric==3.2.2
humanfriendly==10.0
idna==3.7
invoke==2.2.0
isodate==0.6.1
javaproperties==0.5.1
jmespath==0.9.5
jsondiff==2.0.0
knack==0.11.0
msal-extensions==1.2.0
msal[broker]==1.31.1
msrest==0.7.1
msrestazure==0.6.4
oauthlib==3.2.2
packaging==23.2
paramiko==3.5.0
pbr==5.3.1
pkginfo==1.8.2
portalocker==2.3.2
psutil==6.1.0
pycomposefile==0.0.30
PyGithub==1.55
PyJWT==2.4.0
PyNaCl==1.5.0
pyOpenSSL==24.2.1
python-dateutil==2.8.0
requests-oauthlib==1.2.0
requests[socks]==2.32.3
scp==0.13.2
semver==2.13.0
six==1.16.0
sshtunnel==0.1.5
tabulate==0.8.9
urllib3==1.26.19
wcwidth==0.1.7
websocket-client==1.3.1
xmltodict==0.12.0
