interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/capabilities?api-version=2014-04-01
  response:
    body: {string: '{"name":"West US","status":"Available","supportedServerVersions":[{"name":"12.0","status":"Default","supportedEditions":[{"name":"System","status":"Visible","supportedServiceLevelObjectives":[{"id":"26e021db-f1f9-4c98-84c6-92af8ef433d7","name":"System","status":"Visible","supportedMaxSizes":[{"limit":5,"unit":"Gigabytes","status":"Visible"},{"limit":30,"unit":"Gigabytes","status":"Visible"}],"performanceLevel":{"value":0,"unit":"DTU"},"includedMaxSize":{"limit":30720,"unit":"Megabytes","status":"Available"}},{"id":"29dd7459-4a7c-4e56-be22-f0adda49440d","name":"System0","status":"Visible","supportedMaxSizes":[{"limit":5,"unit":"Gigabytes","status":"Visible"},{"limit":30,"unit":"Gigabytes","status":"Visible"}],"performanceLevel":{"value":0,"unit":"DTU"},"includedMaxSize":{"limit":30720,"unit":"Megabytes","status":"Available"}},{"id":"c99ac918-dbea-463f-a475-16ec020fdc12","name":"System1","status":"Visible","supportedMaxSizes":[{"limit":5,"unit":[...]
[...]
