interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"properties": {"administratorLogin": "admin123", "administratorLoginPassword":
      "SecretPassword123"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003?api-version=2014-04-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003","name":"clitestserver000003","type":"Microsoft.Sql/servers","location":"West
        US","kind":"v12.0","properties":{"fullyQualifiedDomainName":"clitestserver000003.database.windows.net","administratorLogin":"admin123","administratorLoginPassword":"SecretPassword123","externalAdministratorLogin":null,"externalAdministratorSid":null,"version":"12.0","state":"Ready"}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      preference-applied: [return-content]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: !!python/unicode '{"operation":"CreateLogicalDatabase","startTime":"\/Date(1494022819653+0000)\/"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/azureAsyncOperation/84576bcb-88e9-4dfc-a93b-75e4a74b4939?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/operationResults/84576bcb-88e9-4dfc-a93b-75e4a74b4939?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      retry-after: ['30']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/azureAsyncOperation/84576bcb-88e9-4dfc-a93b-75e4a74b4939?api-version=2014-04-01-Preview
  response:
    body: {string: !!python/unicode '{"operationId":"84576bcb-88e9-4dfc-a93b-75e4a74b4939","status":"Succeeded","error":null}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/azureAsyncOperation/84576bcb-88e9-4dfc-a93b-75e4a74b4939?api-version=2014-04-01-Preview']
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01?api-version=2014-04-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01","name":"cliautomationdb01","type":"Microsoft.Sql/servers/databases","location":"West
        US","kind":"v12.0,user","properties":{"databaseId":"263a5356-637c-42e9-ae5d-99416826a82f","edition":"Standard","status":"Online","serviceLevelObjective":"S0","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2017-05-05T22:20:22.28Z","currentServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveName":"S0","sampleName":null,"defaultSecondaryLocation":"East
        US","earliestRestoreDate":"2017-05-05T22:30:49.17Z","elasticPoolName":null,"containmentState":2,"readScale":"Disabled","failoverGroupId":null}}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"createMode": "OnlineSecondary", "sourceDatabaseId":
      "/subscriptions/00977cdb-163f-435f-9c32-39ec8ae61f4d/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01"},
      "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000004/databases/cliautomationdb01?api-version[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/replicationLinks?api-version=2014-04-01
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/replicationLinks/c011c0ea-e6cf-4fdd-9e29-749862c53885","name":"c011c0ea-e6cf-4fdd-9e29-749862c53885","type":"Microsoft.Sql/servers/databases/replicationLinks","location":"West
        US","properties":{"partnerServer":"clitestserver000004","partnerDatabase":"cliautomationdb01","partnerLocation":"West
        US","role":"Primary","partnerRole":"Secondary","replicationMode":"ASYNC","startTime":"2017-05-05T22:21:25.157","percentComplete":100,"replicationState":"CATCH_UP","isTerminationAllowed":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/replicationLinks/389207ac-48b4-4768-8b58-9c91ad018732","name":"389207ac-48b4-4768-8b58-9c91ad018732","type":"Microsoft.Sql/servers/databases/replicationLinks","location":"West
        US","properties":{"partnerServer":"clitestserver000005","partnerDatabase":"cliautomationdb01","partnerLocation":"West
        US","role":"Primary","partnerRole":"Secondary","replicationMode":"ASYNC","startTime":"2017-05-05T22:22:38.43","percentComplete":100,"replicationState":"CATCH_UP","isTerminationAllowed":true}}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000005/databases/cliautomationdb01/replicationLinks/389207ac-48b4-4768-8b58-9c91ad018732/failover?api-version=2014-04-01
  response:
    body: {string: !!python/unicode '{"operation":"FailoverContinuousCopy","startTime":"\/Date(1494022998847)\/"}'}
    headers:
      content-type: [application/xml; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000005/databases/cliautomationdb01/replicationLinks/389207ac-48b4-4768-8b58-9c91ad018732/operationResults/f510757d-e46b-4400-9111-58e20321995b?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      retry-after: ['5']
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000005/databases/cliautomationdb01/replicationLinks/389207ac-48b4-4768-8b58-9c91ad018732/operationResults/f510757d-e46b-4400-9111-58e20321995b?api-version=2014-04-01-Preview
  response:
    body: {string: !!python/unicode '{"operation":"FailoverContinuousCopy","startTime":"\/Date(1494022998847)\/"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000005/databases/cliautomationdb01/replicationLinks/389207ac-48b4-4768-8b58-9c91ad018732/operationResults/f510757d-e46b-4400-9111-58e20321995b?api-version=2014-04-01-Preview']
      retry-after: ['5']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.Sql/servers/clitestserver000005/databases/cliautomationdb01/replicationLinks/8d64f6f8-39de-4769-886f-5ef75d00c3c5?api-version=2014-04-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/xml; charset=utf-8]
      dataserviceversion: [1.0;]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/replicationLinks/389207ac-48b4-4768-8b58-9c91ad018732/forceFailoverAllowDataLoss?api-version=2014-04-01
  response:
    body: {string: !!python/unicode '{"operation":"ForceFailoverContinuousCopy","startTime":"\/Date(1494023075983)\/"}'}
    headers:
      content-type: [application/xml; charset=utf-8]
      dataserviceversion: [3.0;]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000003/databases/cliautomationdb01/replicationLinks/389207ac-48b4-4768-8b58-9c91ad018732/operationResults/1a4cdbd0-006f-4393-8202-c10e91def20f?api-version=2014-04-01-Preview']
      preference-applied: [return-content]
      retry-after: ['5']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 202, message: Accepted}
[...]
