interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iliesrg/providers/Microsoft.Storage/storageAccounts/datahistorypp","name":"datahistorypp","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2021-07-19T17:10:36.1817423Z"},"blob":{"enabled":true,"lastEnabledTime":"2021-07-19T17:10:36.1817423Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-07-19T17:10:36.0879993Z","primaryEndpoints":{"blob":"https://datahistorypp.blob.core.windows.net/","queue":"https://datahistorypp.queue.core.windows.net/","table":"https://datahistorypp.table.core.windows.net/","file":"https://datahistorypp.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://datahistorypp-secondary.blob.core.windows.net/","queue":"https://datahistorypp-secondary.queue.core.windows.net/","table":"https://datahistorypp-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-extension-dogfood/providers/Microsoft.Storage/storageAccounts/iothubdfextension","name":"iothubdfextension","type":"Microsoft.Storage/storageAccounts[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 May 2022 22:14:36 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer20190301?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA391BCB6DFE25"'
      last-modified:
      - Wed, 18 May 2022 22:14:36 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2022-05-18T22:14:16.2215141Z"},"blob":{"enabled":true,"lastEnabledTime":"2022-05-18T22:14:16.2215141Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2022-05-18T22:14:16.0965102Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-05-18T22:14:12Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest20190301?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest20190301","name":"ehNamespaceiothubfortest20190301","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"a386d5ea-ea90-441a-8263-d816368c84a1:ehnamespaceiothubfortest20190301","createdAt":"2022-05-18T22:14:38.55Z","updatedAt":"2022-05-18T22:14:38.55Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest20190301.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/DM2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest20190301/eventhubs/eventHubiothubfortest?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest20190301/eventhubs/eventHubiothubfortest","name":"eventHubiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2022-05-18T22:15:42.887Z","updatedAt":"2022-05-18T22:15:43.19Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest20190301/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest20190301/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest20190301/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest/listKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest20190301.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=cvsP2Puu26qH/x4Z97mdwD08N6249WqXY+4v4WO9LsE=;EntityPath=eventHubiothubfortest","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest20190301.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=KUIjmBiowtBSDwHWgzZpwY3BIXvcYHgUvAvZZxHALnk=;EntityPath=eventHubiothubfortest","primaryKey":"cvsP2Puu26qH/x4Z97mdwD08N6249WqXY+4v4WO9LsE=","secondaryKey":"KUIjmBiowtBSDwHWgzZpwY3BIXvcYHgUvAvZZxHALnk=","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 3, "partitionCount": 4}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT20H",
      "maxDeliveryCount": 79}}, "enableFileUploadNotifications": false, "cloudToDevice":
      {"maxDeliveryCount": 89, "defaultTtlAsIso8601": "PT23H", "feedback": {"lockDurationAsIso8601":
      "PT35S", "ttlAsIso8601": "P1DT5H", "maxDeliveryCount": 40}}}, "sku": {"name":
      "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301?api-version=2019-03-22
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301","name":"iot-hub-for-test-20190301","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":3,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT20H","maxDeliveryCount":79}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":89,"defaultTtlAsIso8601":"PT23H","feedback":{"lockDurationAsIso8601":"PT35S","ttlAsIso8601":"P1DT5H","maxDeliveryCount":40}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfOTE0MzQ3NWYtZjZjZi00NjdiLTg5M2UtMzFiZTllYmZkNTM1O3JlZ2lvbj13ZXN0dXMy?api-version=2019-03-22&operationSource=other&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfOTE0MzQ3NWYtZjZjZi00NjdiLTg5M2UtMzFiZTllYmZkNTM1O3JlZ2lvbj13ZXN0dXMy?api-version=2019-03-22&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301?api-version=2019-03-22
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301","name":"iot-hub-for-test-20190301","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAADGi2nAk=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-20190301.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":3,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-20190301","endpoint":"sb://iothub-ns-iot-hub-fo-19203435-684cc659a7.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT20H","maxDeliveryCount":79}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":89,"defaultTtlAsIso8601":"PT23H","feedback":{"lockDurationAsIso8601":"PT35S","ttlAsIso8601":"P1DT5H","maxDeliveryCount":40}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/PaymaunHub","name":"PaymaunHub","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"TestCLI","etag":"AAAADGhFWiA=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[{"filterName":"test-filter","action":"Accept","ipMask":"1.3.2.4"},{"filterName":"test-filter2","action":"Accept","ipMask":"1.4.2.4"}],"hostName":"PaymaunHub.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"paymaunhub","endpoint":"sb://iothub-ns-paymaunhub-2363588-460f33d1a4.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[{"connectionString":"Endpoint=sb://paymauneventhubnamespace.servicebus.windows.net:5671/;SharedAccessKeyName=iothubroutes_PaymaunHub;SharedAccessKey=****;EntityPath=paymauneventhub","name":"myEventhubEp","id":"c9b7ab5b-7624-44a4-a1ad-f598f0962fd1","subscriptionId":"a386d5ea-ea90-441a-8263-d816368c84a1","resourceGroup":"TestCLI"},{"connectionString":"Endpoint=sb://paymauneventhubnamespace.servicebus.windows.net:5671/;SharedAccessKeyName=TestPolicy;SharedAccessKey=****;EntityPath=paymauneventhub","name":"MyEHEndpoint","id":"df3df736-f923-4f92-9d53-32a6ee66a03e","subscriptionId":"a386d5ea-ea90-441a-8263-d816368c84a1","resourceGroup":"TestCLI"}],"storageContainers":[]},"routes":[{"name":"DeviceUpdate.DeviceTwinChanges","source":"TwinChangeEvents","condition":"(opType
        = ''updateTwin'' OR opType = ''replace[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301/IotHubKeys/iothubowner/listkeys?api-version=2019-03-22
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"6ftyxKElIGQl76Jea8qPzqfvkjcR2aarAoWcVhEyRL4=","secondaryKey":"7xC91Ey1x1E/Wbd4hKFw0dmS4OhDMoLAlpJnIMhQcBU=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301/listkeys?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"6ftyxKElIGQl76Jea8qPzqfvkjcR2aarAoWcVhEyRL4=","secondaryKey":"7xC91Ey1x1E/Wbd4hKFw0dmS4OhDMoLAlpJnIMhQcBU=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"HDW+SXFep6nFTcu6ihAjLz/DTZJ0e+lYHf2KEpXcEMI=","secondaryKey":"QdexZDw1VIFAt3jAXe+X30zXYT1phixLRI/Tzhomnvs=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"Fypsj4hFu7eRVD3uggvtoa2CAUUmS66zKsCmBBAQdKo=","secondaryKey":"C8YRWxIFdgXhmKn/DPUpcWD9Q5l63nl6d8C3tpTM6O4=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"XCXmHVlwtmldwM7B6InZdSzV/Eigv8EziJoGH2fzbBs=","secondaryKey":"yI5FiAM7Jw/WpXXVLvkt1B8FwT7TM2dBydSjNSoBSuw=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"GHW8LVyvVBwUm+RkXrn4Gts260d90saNL1kbXYhSbS8=","secondaryKey":"Iu4EnXxOeUxcLlyqmD3/XDM0x9SFhOgsNXPZQmHkFkc=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAADGi2nAk=", "properties":
      {"ipFilterRules": [], "eventHubEndpoints": {"events": {"retentionTimeInDays":
      4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues": [],
      "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT3H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==;BlobEndpoint=https://clitest000002.blob.core.windows.net/;FileEndpoint=https://clitest000002.file.core.windows.net/;QueueEndpoint=https://clitest000002.queue.core.windows.net/;TableEndpoint=https://clitest000002.table.core.windows.net/",
      "containerName": "iothubcontainer20190301"}}, "messagingEndpoints": {"fileNotifications":
      {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "P1DT8H", "maxDeliveryCount":
      80}}, "enableFileUploadNotifications": true, "cloudToDevice": {"maxDeliveryCount":
      46, "defaultTtlAsIso8601": "P1DT10H", "feedback": {"lockDurationAsIso8601":
      "PT10S", "ttlAsIso8601": "P1DT19H", "maxDeliveryCount": 76}}, "features": "None"},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '{''IF-MATCH'': ''AAAADGi2nAk=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301?api-version=2019-03-22
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301","name":"iot-hub-for-test-20190301","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAADGi2nAk=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"6ftyxKElIGQl76Jea8qPzqfvkjcR2aarAoWcVhEyRL4=","secondaryKey":"7xC91Ey1x1E/Wbd4hKFw0dmS4OhDMoLAlpJnIMhQcBU=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"HDW+SXFep6nFTcu6ihAjLz/DTZJ0e+lYHf2KEpXcEMI=","secondaryKey":"QdexZDw1VIFAt3jAXe+X30zXYT1phixLRI/Tzhomnvs=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"Fypsj4hFu7eRVD3uggvtoa2CAUUmS66zKsCmBBAQdKo=","secondaryKey":"C8YRWxIFdgXhmKn/DPUpcWD9Q5l63nl6d8C3tpTM6O4=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"XCXmHVlwtmldwM7B6InZdSzV/Eigv8EziJoGH2fzbBs=","secondaryKey":"yI5FiAM7Jw/WpXXVLvkt1B8FwT7TM2dBydSjNSoBSuw=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"GHW8LVyvVBwUm+RkXrn4Gts260d90saNL1kbXYhSbS8=","secondaryKey":"Iu4EnXxOeUxcLlyqmD3/XDM0x9SFhOgsNXPZQmHkFkc=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":4,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-20190301-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-19203435-684cc659a7.servicebus.windows.net/","internalAuthorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"scaleunitsend-73a5aed2-1121-49a5-bef2-b657c7f3e8fc-iothub","PrimaryKey":"GUbmBiDzoX55sxst9on7oxSx+dGwmor3h9tLF0gUXKE=","SecondaryKey":"JUVK2kROGFRLA/FQrwghORWRlvN1/eOBmXMbSQZJngI=","Rights":["Send"],"CreatedTime":"Wed,
        18 May 2022 22:17:19 GMT","ModifiedTime":"Wed, 18 May 2022 22:17:19 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"owner-b68043c7-8908-48b7-bf2c-564783dfa2d0-iothub","PrimaryKey":"RDsJrwfF7w1yJd1re7rxqWbiwXg0gBkAp0NM4qvCcBw=","SecondaryKey":"vf2oYPJiyrHv23VON7uleLQKntvmjN26H6vKDlOzhII=","Rights":["Listen","Manage","Send"],"CreatedTime":"Wed,
        18 May 2022 22:17:19 GMT","ModifiedTime":"Wed, 18 May 2022 22:17:19 GMT"}],"authorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"iothubowner","PrimaryKey":"6ftyxKElIGQl76Jea8qPzqfvkjcR2aarAoWcVhEyRL4=","SecondaryKey":"7xC91Ey1x1E/Wbd4hKFw0dmS4OhDMoLAlpJnIMhQcBU=","Rights":["Listen"],"CreatedTime":"Wed,
        18 May 2022 22:17:19 GMT","ModifiedTime":"Wed, 18 May 2022 22:17:19 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"service","PrimaryKey":"HDW+SXFep6nFTcu6ihAjLz/DTZJ0e+lYHf2KEpXcEMI=","SecondaryKey":"QdexZDw1VIFAt3jAXe+X30zXYT1phixLRI/Tzhomnvs=","Rights":["Listen"],"CreatedTime":"Wed,
        18 May 2022 22:17:19 GMT","ModifiedTime":"Wed, 18 May 2022 22:17:19 GMT"}]}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[],"cosmosDBSqlCollections":[],"azureDigitalTwinsInstances":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT3H","connectionString":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==;BlobEndpoint=https://clitest000002.blob.core.windows.net/;FileEndpoint=https://clitest000002.file.core.windows.net/;QueueEndpoint=https://clitest000002[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMDhlNTJlYzUtZjg0YS00ZGEzLTk0ZTYtY2RlOGNiZTRkMDc0O3JlZ2lvbj13ZXN0dXMy?api-version=2019-03-22&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301","name":"iot-hub-for-test-20190301","type":"Microsoft.Devices/Iot[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-20190301/skus?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfOWVkMmY2ZTEtOTFlOC00YTM2LThiNDgtMzhlMjExZDc4NDliO3JlZ2lvbj13ZXN0dXMy?api-version=2019-03-22&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
