interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-core-poc/providers/Microsoft.Storage/storageAccounts/azurecorepoc","name":"azurecorepoc","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-12-26T02:38:58.8233588Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-12-26T02:38:58.8233588Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-12-26T02:38:58.7452329Z","primaryEndpoints":{"blob":"https://azurecorepoc.blob.core.windows.net/","queue":"https://azurecorepoc.queue.core.windows.net/","table":"https://azurecorepoc.table.core.windows.net/","file":"https://azurecorepoc.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://azurecorepoc-secondary.blob.core.windows.net/","queue":"https://azurecorepoc-secondary.queue.core.windows.net/","table":"https://azurecorepoc-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qianwens/providers/Microsoft.Storage/storageAccounts/qianwendev","name":"qianwendev","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qianwens/providers/Microsoft.Network/virtualNetworks/QIAN/subnets/default","action":"Allow","state":"Succeeded"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qianwens/providers/Microsoft.Network/virtualNetworks/qianwendev/subnets/default","action":"Allow","state":"Succeeded"}],"ipRules":[{"value":"23.45.1.0/24","action":"Allow"},{"value":"23.45.1.1/24","action":"Allow"}],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2020-02-12T03:29:28.0084761Z"},"blob":{"enabled":true,"lastEnabledTime":[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 28 Mar 2020 06:22:58 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer2?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7D2E07578FA61"'
      last-modified:
      - Sat, 28 Mar 2020 06:22:58 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-03-28T06:22:17Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest2?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest2","name":"ehNamespaceiothubfortest2","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:ehnamespaceiothubfortest2","createdAt":"2020-03-28T06:23:13.533Z","updatedAt":"2020-03-28T06:23:13.533Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest2.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest2/eventhubs/eventHubiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest2/eventhubs/eventHubiothubfortest","name":"eventHubiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2020-03-28T06:24:21.377Z","updatedAt":"2020-03-28T06:24:21.647Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest2/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest2/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest2/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest/ListKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest2.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=ykFHBJnECrrGSqdxY5I/MuBRDl1jtaEnK916V0LJARk=;EntityPath=eventHubiothubfortest","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest2.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=QiHfIzq98SJ93wxCoTSJBplFOurQxQFH5m2pDl7jvxY=;EntityPath=eventHubiothubfortest","primaryKey":"ykFHBJnECrrGSqdxY5I/MuBRDl1jtaEnK916V0LJARk=","secondaryKey":"QiHfIzq98SJ93wxCoTSJBplFOurQxQFH5m2pDl7jvxY=","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iot-hub-for-test-12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2019-03-22
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 3, "partitionCount": 4}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT20H", "maxDeliveryCount": 79}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 89, "defaultTtlAsIso8601": "PT23H",
      "feedback": {"lockDurationAsIso8601": "PT35S", "ttlAsIso8601": "P1DT5H", "maxDeliveryCount":
      40}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12?api-version=2019-03-22
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12","name":"iot-hub-for-test-12","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":3,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT20H","maxDeliveryCount":79}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":89,"defaultTtlAsIso8601":"PT23H","feedback":{"lockDurationAsIso8601":"PT35S","ttlAsIso8601":"P1DT5H","maxDeliveryCount":40}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfOGQxMDZiZjUtMTNkNC00MGRhLWEwNjYtOTA5ZDYxMjg5ZTIx?api-version=2019-03-22&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfOGQxMDZiZjUtMTNkNC00MGRhLWEwNjYtOTA5ZDYxMjg5ZTIx?api-version=2019-03-22&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12?api-version=2019-03-22
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12","name":"iot-hub-for-test-12","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","etag":"AAAAAAxdnrw=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-12.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":3,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-12","endpoint":"sb://iothub-ns-iot-hub-fo-3155012-b990311e16.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT20H","maxDeliveryCount":79}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":89,"defaultTtlAsIso8601":"PT23H","feedback":{"lockDurationAsIso8601":"PT35S","ttlAsIso8601":"P1DT5H","maxDeliveryCount":40}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12","name":"iot-hub-for-test-12","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscr[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/IotHubKeys/iothubowner/listkeys?api-version=2019-03-22
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"X4KrjhyS5W/qlVfii3bU1IVJtun+1qEFqfm89pzxYGM=","secondaryKey":"ru3iR5SZPE0M9dD+Lmrmr7UiPS4R8yocMOtACkPz1Wc=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/listkeys?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"X4KrjhyS5W/qlVfii3bU1IVJtun+1qEFqfm89pzxYGM=","secondaryKey":"ru3iR5SZPE0M9dD+Lmrmr7UiPS4R8yocMOtACkPz1Wc=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"FI7+fcLt9aCgD8/b4R+BwpwGXBk0I0jlLexGCBZhxwU=","secondaryKey":"g659YrWyfOUttxNI2lkWqH5Vz/eTfF9guHSRCtE4y7Y=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"JEl4eDlHT7HCmsAVbYeOCZsCIuduA67snHNC3dq6WdE=","secondaryKey":"iHe4WVXnGS9Wxx/OKHQ4AyxYbyXS6k9wj7BQI2YRx44=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"t2VeDpFzDsZaDM1UagnRrGMbGewW9qbvlSEgeMW9wfI=","secondaryKey":"iqNsHo000g3GQmT4B5hIpSp6mOE9HvCDOL9Vot/lEXI=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"RPWLuyXEME2JJ2jl+wKfxU/sD3B2+aSc12ESHaycwkU=","secondaryKey":"CWpqnrF5vh4T5RJ60ap2M6LBni5s1yWowyUeZSIotFY=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "westus2", "tags": {}, "etag": "AAAAAAxdnrw=", "properties":
      {"ipFilterRules": [], "eventHubEndpoints": {"events": {"retentionTimeInDays":
      4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues": [],
      "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT3H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer2"}}, "messagingEndpoints": {"fileNotifications":
      {"lockDurationAsIso8601": "PT1M", "ttlAsIso8601": "P1DT8H", "maxDeliveryCount":
      80}}, "enableFileUploadNotifications": true, "cloudToDevice": {"maxDeliveryCount":
      46, "defaultTtlAsIso8601": "P1DT10H", "feedback": {"lockDurationAsIso8601":
      "PT10S", "ttlAsIso8601": "P1DT19H", "maxDeliveryCount": 76}}, "features": "None"},
      "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAAAxdnrw=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12?api-version=2019-03-22
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12","name":"iot-hub-for-test-12","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","etag":"AAAAAAxdnrw=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"X4KrjhyS5W/qlVfii3bU1IVJtun+1qEFqfm89pzxYGM=","secondaryKey":"ru3iR5SZPE0M9dD+Lmrmr7UiPS4R8yocMOtACkPz1Wc=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"FI7+fcLt9aCgD8/b4R+BwpwGXBk0I0jlLexGCBZhxwU=","secondaryKey":"g659YrWyfOUttxNI2lkWqH5Vz/eTfF9guHSRCtE4y7Y=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"JEl4eDlHT7HCmsAVbYeOCZsCIuduA67snHNC3dq6WdE=","secondaryKey":"iHe4WVXnGS9Wxx/OKHQ4AyxYbyXS6k9wj7BQI2YRx44=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"t2VeDpFzDsZaDM1UagnRrGMbGewW9qbvlSEgeMW9wfI=","secondaryKey":"iqNsHo000g3GQmT4B5hIpSp6mOE9HvCDOL9Vot/lEXI=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"RPWLuyXEME2JJ2jl+wKfxU/sD3B2+aSc12ESHaycwkU=","secondaryKey":"CWpqnrF5vh4T5RJ60ap2M6LBni5s1yWowyUeZSIotFY=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":4,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-12-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-3155012-b990311e16.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-5bfd67cb-bf53-4602-b1bf-a8c87b052039-iothub","PrimaryKey":"35m4/tpyfTh8gBZD/amNFN4V3dl9PUB5xpwaj1qrbtw=","SecondaryKey":"1YGcS1CDOvweX50qgT+oDXWv18YLfv70e73TODTnjWc=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Sat,
        28 Mar 2020 06:26:29 GMT","ModifiedTime":"Sat, 28 Mar 2020 06:26:29 GMT"},{"KeyName":"owner-f4a31e7a-c9c6-4801-811c-55bd8b3c9c71-iothub","PrimaryKey":"J9txita7kui4tXG2HEWOMus3hePmS+IwGMvQg78+81E=","SecondaryKey":"ChkQbBXkhs5gnZJlkFzYbB6i18hbkn4NHa4SP0RRGVw=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Sat,
        28 Mar 2020 06:26:29 GMT","ModifiedTime":"Sat, 28 Mar 2020 06:26:29 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","PrimaryKey":"X4KrjhyS5W/qlVfii3bU1IVJtun+1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZDIzNGZlOTktNDdmZS00NGYyLTliZWMtOGZjYjhhMjA4MGNi?api-version=2019-03-22&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12","name":"iot-hub-for-test-12","type":"Microsoft.Devices/IotHubs","locat[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/skus?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfY2U4Y2ZlMmYtN2I1NC00MWI5LWJjNTAtYWFhNTJkZWNlOTgz?api-version=2019-03-22&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/IotHubKeys/test_policy/listkeys?api-version=2019-03-22
  response:
    body:
      string: '{"keyName":"test_policy","primaryKey":"XFbHyxZH/liKZqpWpV0+4C4DwZafXgRz+xrGDb3rcx8=","secondaryKey":"veat9I+o3vToCExzbzhVV0/zcywFGYLdTygLSlNXdUg=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfODAzN2FlMjMtZjBiNC00ODAzLTg4Y2UtM2ZhMGE4ZDAyNWM1?api-version=2019-03-22&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNTI1YWIyNTMtYzY0ZC00ZWNmLWJkMTMtZjQ0MDU5OWJjMjdj?api-version=2019-03-22&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfY2NiY2VlOTItN2Q5Ni00NDE5LWE5OTEtMGE3ZDZhYTkyMDI3?api-version=2019-03-22&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2019-03-22
  response:
    body:
      string: '{"properties":{"created":"Sat, 28 Mar 2020 06:31:04 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/eventHubEndpoints/events/ConsumerGroups/cg1","name":"cg1","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/eventHubEndpoints/events/ConsumerGroups?api-version=2019-03-22
  response:
    body:
      string: '{"value":[{"properties":{"created":"Sat, 28 Mar 2020 06:26:20 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/eventHubEndpoints/events/ConsumerGroups/%24Default","name":"$Default","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null},{"properties":{"created":"Sat,
        28 Mar 2020 06:31:04 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/eventHubEndpoints/events/ConsumerGroups/cg1","name":"cg1","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/jobs?api-version=2019-03-22
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-12/jobs/fake-job?api-version=2019-03-22
  response:
    body:
      string: '{"code":404011,"httpStatusCode":"NotFound","message":"Job not found
        with ID ''fake-job''. If you contact a support representative please include
        this correlation identifier: 8492299b-45fc-4fb0-be03-c649c540dd9f, timestamp:
        2020-03-28 06:31:26Z, errorcode: IH404011."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://iot-hub-for-test-12.azure-devices.net/jobs/fake-job?api-version=2016-11-14
  response:
    body:
[...]
