interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6&$filter=userPrincipalName%20eq%20%27example%40example.com%27
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-01-03T20:58:19Z","showInAddressList":null,"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/5963f50c-7c43-405c-af7e-53294de76abd/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['984965']
      ocp-aad-diagnostics-server-name: [sKIqLiBHUSH37X3OEYlDghcjgQjFy4i/DiAtI58+UAk=]
      ocp-aad-session-key: [a_bsOW5GdmtOBSaHeXE3iX82kTifEAdma0e2NKVI56ExT2Mc6kPWIKGjCtjJx6j2ObG9BlXKFUrY2KEFMldbXLkxmxg65qkHR_ySiUXC7rlyfTysnVkzB0r0yh4u176b.BbKf2LkkXoe5Px3g9dYs8k_HjKxzTpFVJYWoHal-a24]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "sku":
      {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "5963f50c-7c43-405c-af7e-53294de76abd", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore"],
      "secrets": ["all"], "certificates": ["all"]}}]}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-keyvault-secret/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-secret?api-version=2015-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-keyvault-secret/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-secret","name":"cli-test-keyvault-secret","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["all"],"certificates":["all"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-keyvault-secret.vault.azure.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: '{"value":null,"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"file-encoding": "utf-8"}, "value":
      "ABC123"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/713fb366307e41ef8b20c6df34a2dce6","attributes":{"enabled":true,"created":1489425743,"updated":1489425743},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1489425743,"updated":1489425743},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"test": "foo", "file-encoding":
      "utf-8"}, "contentType": "test type", "value": "DEF456"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/15c7668113d741cd97321b1ba77bd5a4","attributes":{"enabled":true,"created":1489425745,"updated":1489425745},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/15c7668113d741cd97321b1ba77bd5a4","attributes":{"enabled":true,"created":1489425745,"updated":1489425745},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/713fb366307e41ef8b20c6df34a2dce6","attributes":{"enabled":true,"created":1489425743,"updated":1489425743},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/15c7668113d741cd97321b1ba77bd5a4","attributes":{"enabled":true,"created":1489425745,"updated":1489425745},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/713fb366307e41ef8b20c6df34a2dce6?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/713fb366307e41ef8b20c6df34a2dce6","attributes":{"enabled":true,"created":1489425743,"updated":1489425743},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"file-encoding": "utf-8"}, "value":
      "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/92dbbec694184867b13fdb04f44a95a9","attributes":{"enabled":true,"created":1489425750,"updated":1489425750},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/92dbbec694184867b13fdb04f44a95a9","attributes":{"enabled":true,"created":1489425750,"updated":1489425750},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"file-encoding": "utf-16le"},
      "value": "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/28230d7b0f4a445bad8a49c0e8e3127f","attributes":{"enabled":true,"created":1489425751,"updated":1489425751},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/28230d7b0f4a445bad8a49c0e8e3127f","attributes":{"enabled":true,"created":1489425751,"updated":1489425751},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"file-encoding": "utf-16be"},
      "value": "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/d97bb59a64fb4ac5918c69d81069cf1b","attributes":{"enabled":true,"created":1489425755,"updated":1489425755},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/d97bb59a64fb4ac5918c69d81069cf1b","attributes":{"enabled":true,"created":1489425755,"updated":1489425755},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"file-encoding": "ascii"}, "value":
      "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/de41aa6073644422a09e40c2dc4e9dbe","attributes":{"enabled":true,"created":1489425755,"updated":1489425755},"tags":{"file-encoding":"ascii"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/de41aa6073644422a09e40c2dc4e9dbe","attributes":{"enabled":true,"created":1489425755,"updated":1489425755},"tags":{"file-encoding":"ascii"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"file-encoding": "base64"},
      "value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/50b6bcc33938417b8bda3815c4ca919a","attributes":{"enabled":true,"created":1489425756,"updated":1489425756},"tags":{"file-encoding":"base64"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/50b6bcc33938417b8bda3815c4ca919a","attributes":{"enabled":true,"created":1489425756,"updated":1489425756},"tags":{"file-encoding":"base64"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"attributes": {"enabled": true}, "tags": {"file-encoding": "hex"}, "value":
      "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/a01b89c887ae469ba7966b877d885993","attributes":{"enabled":true,"created":1489425758,"updated":1489425758},"tags":{"file-encoding":"hex"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/a01b89c887ae469ba7966b877d885993","attributes":{"enabled":true,"created":1489425758,"updated":1489425758},"tags":{"file-encoding":"hex"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
