interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27example%40example.com%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-01-03T20:58:19Z","showInAddressList":null,"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/5963f50c-7c43-405c-af7e-53294de76abd/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['783651']
      ocp-aad-diagnostics-server-name: [IdgG7lnYmOU4bPZc1rl4En8HkGAFbFac5GSZUaXAPBU=]
      ocp-aad-session-key: [QKUCth5QnUZyLCbh3HR8JarWTC0-mERBEtsUB-8DnXycaGWHI7NPD5PD2yFFTQNx2gv_BuuyjDT03PHJZoONUTPoeOBW2xCgXYlBSOWBmHvKuIo62pCCF7sDnPSk5Igt.xkPueBdZ8oC7r1PGnggUNmui36O9hjARb8jFPA3Zn8g]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"sku": {"name": "premium", "family":
      "A"}, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "accessPolicies":
      [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "5963f50c-7c43-405c-af7e-53294de76abd",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore"], "secrets": ["all"], "certificates": ["all"]}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-keyvault-secret/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-secret?api-version=2015-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-keyvault-secret/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-secret","name":"cli-test-keyvault-secret","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["all"],"certificates":["all"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-keyvault-secret.vault.azure.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: '{"value":null,"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"file-encoding": "utf-8"}, "attributes": {"enabled": true}, "value":
      "ABC123"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/afb7946260ad483b91b5a75286b77323","attributes":{"enabled":true,"created":1489100608,"updated":1489100608},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1489100608,"updated":1489100608},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"test": "foo", "file-encoding": "utf-8"}, "value": "DEF456",
      "attributes": {"enabled": true}, "contentType": "test type"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/3f5101c4e8d64cec9e66123cd2a61a34","attributes":{"enabled":true,"created":1489100610,"updated":1489100610},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/3f5101c4e8d64cec9e66123cd2a61a34","attributes":{"enabled":true,"created":1489100610,"updated":1489100610},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/afb7946260ad483b91b5a75286b77323","attributes":{"enabled":true,"created":1489100608,"updated":1489100608},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/3f5101c4e8d64cec9e66123cd2a61a34","attributes":{"enabled":true,"created":1489100610,"updated":1489100610},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/afb7946260ad483b91b5a75286b77323?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/secret1/afb7946260ad483b91b5a75286b77323","attributes":{"enabled":true,"created":1489100608,"updated":1489100608},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {"file-encoding": "utf-8"}, "attributes": {"enabled": true}, "value":
      "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/0adf935c4e874872a546ea46356c6be3","attributes":{"enabled":true,"created":1489100615,"updated":1489100615},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-8/0adf935c4e874872a546ea46356c6be3","attributes":{"enabled":true,"created":1489100615,"updated":1489100615},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"file-encoding": "utf-16le"}, "attributes": {"enabled": true},
      "value": "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/d1b8bbc193704b1c96aa378da8f58015","attributes":{"enabled":true,"created":1489100617,"updated":1489100617},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16le/d1b8bbc193704b1c96aa378da8f58015","attributes":{"enabled":true,"created":1489100617,"updated":1489100617},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"file-encoding": "utf-16be"}, "attributes": {"enabled": true},
      "value": "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/b9da65c1801e4b0c9e11e33c07e0a441","attributes":{"enabled":true,"created":1489100619,"updated":1489100619},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-utf-16be/b9da65c1801e4b0c9e11e33c07e0a441","attributes":{"enabled":true,"created":1489100619,"updated":1489100619},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"file-encoding": "ascii"}, "attributes": {"enabled": true}, "value":
      "TestSecretTestSecretTestSecretTestSecret\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/cf532ff409024b068a15f9c39d118abd","attributes":{"enabled":true,"created":1489100620,"updated":1489100620},"tags":{"file-encoding":"ascii"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-ascii/cf532ff409024b068a15f9c39d118abd","attributes":{"enabled":true,"created":1489100620,"updated":1489100620},"tags":{"file-encoding":"ascii"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"file-encoding": "base64"}, "attributes": {"enabled": true},
      "value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/9503cd9d71194c65b72e21fc7947fb55","attributes":{"enabled":true,"created":1489100624,"updated":1489100624},"tags":{"file-encoding":"base64"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-base64/9503cd9d71194c65b72e21fc7947fb55","attributes":{"enabled":true,"created":1489100624,"updated":1489100624},"tags":{"file-encoding":"base64"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"file-encoding": "hex"}, "attributes": {"enabled": true}, "value":
      "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/5bb6a0ad91604401acbee956a71e1f47","attributes":{"enabled":true,"created":1489100624,"updated":1489100624},"tags":{"file-encoding":"hex"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-keyvault-secret.vault.azure.net/secrets/download-hex/5bb6a0ad91604401acbee956a71e1f47","attributes":{"enabled":true,"created":1489100624,"updated":1489100624},"tags":{"file-encoding":"hex"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
