interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-03-25T07:16:48Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg000001?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/clitestrg000001''
        under resource group ''clitest.rg000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"3307ff37-85af-4550-bc6a-d1e02672cb7c","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["65cc641f-cccd-4643-97e0-a17e3045e541","e26c2fcc-ab91-4a61-b35c-03cdc8dddf66","46129a58-a698-46f0-aa5b-17f6586297d9","6db1f1db-2b46-403f-be40-e39395f08dbb","6dc145d6-95dd-4191-b9c3-185575ee6f6b","41fcdd7d-4733-4863-9cf4-c65b83ce2df4","2f442157-a11c-46b9-ae5b-6e39ff4e5849","c4801e8a-cb58-4c35-aca6-f2dcc106f287","0898bdbb-73b0-471a-81e5-20f1fe4dd66e","617b097b-4b93-4ede-83de-5f075bb5fb2f","33c4f319-9bdd-48d6-9c4d-410b750a4a5a","8e0c0a52-6a6c-4d40-8370-dd62790dcd70","4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["39b5c996-467e-4e60-bd62-46066f572726"],"skuId":"90d8b3f8-712e-4f7b-aa1e-62e7ae6cbe96"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"f30db892-07e9-47e9-837c-80727f46fd3d"},{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"}],"assignedPlans":[{"assignedTimestamp":"2020-03-12T00:41:44Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2020-03-12T00:41:44Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2020-03-12T00:41:44Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assignedTimestamp":"2020-03-12T00:41:44Z","capabilityStatus":"Enabled","service":"MicrosoftOffice","servicePlanId":"fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"}[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "3307ff37-85af-4550-bc6a-d1e02672cb7c",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore"], "secrets": ["get", "list", "set", "delete", "backup",
      "restore", "recover"], "certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"]}}], "enabledForDeployment": true, "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg000001?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg000001","name":"clitestrg000001","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"3307ff37-85af-4550-bc6a-d1e02672cb7c","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://clitestrg000001.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=sfrp-cli-000004", "key_usage": ["cRLSign", "dataEncipherment",
      "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months":
      12}, "lifetime_actions": [{"trigger": {"days_before_expiry": 90}, "action":
      {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}, "attributes": {"enabled":
      true}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGkta3pib29uZTd1em40Y2J1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtuhLJfQ50UGhJ/kAHGePojtft/mLo3cEl5Bk/G3Idhrv90hhVodq7x8oOyDFiBzkYk8WNjtSdteAXP9Z1V4AvNbE1H7+g2LAtU/GsArGpvEm1CKHiacGVeaAdjnqL/6+gspjxTkSwmi5hq65DEnDaTgtnFK4cfzEA9gK4gwIfHRruR3Som5JvDlAR71N209drpaoVLZ2WeGipaMO1ICHY9OzYCEQX04m3S7unLa2y08IkRmyseSqK8zYdjze/IBgivz+5pAgwPfN0W2xTfhrW+JLKd5S5+waJusjdcI63GIGfxNJya55oOT1tUbq/zhxQ0oagsQ3pagwQoUJiRErQwIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAESiBj3nGEBD/BvDGfefGYn5omXVubaygwJxSLe5efdjKabnn6Ufd36PGNNH3yfWGlwFk/Tl/zZs8Y6VJKZjppq6kR2qPdR+XP7bvGmhQI/kmKw/2D/AgJT7yLwfi8ZmPoga4QjqHIEUXBDEu3DRAvsWoUXgwtMujA6l2WewHD6LlumsxVougG6hyO0nyLjX35BetPu9vtqMjd3FlFZxy4nCPtw4vWzhFagFMXspH0CvI1DHxm/jFOKREOqvGJnKXUgrmJXFFVpEq8HDX7GVRs9WbrNMFFJdfEEEmZS2xfIQaaEivBnJKOZf8BiOiII7UuoLEVsecNskG0z7VGp4Hus=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"a43e09efceca495aa477f53fdf5800f2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0&request_id=a43e09efceca495aa477f53fdf5800f2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGkta3pib29uZTd1em40Y2J1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtuhLJfQ50UGhJ/kAHGePo[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGkta3pib29uZTd1em40Y2J1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtuhLJfQ50UGhJ/kAHGePojtft/mLo3cEl5Bk/G3Idhrv90hhVodq7x8oOyDFiBzkYk8WNjtSdteAXP9Z1V4AvNbE1H7+g2LAtU/GsArGpvEm1CKHiacGVeaAdjnqL/6+gspjxTkSwmi5hq65DEnDaTgtnFK4cfzEA9gK4gwIfHRruR3Som5JvDlAR71N209drpaoVLZ2WeGipaMO1ICHY9OzYCEQX04m3S7unLa2y08IkRmyseSqK8zYdjze/IBgivz+5pAgwPfN0W2xTfhrW+JLKd5S5+waJusjdcI63GIGfxNJya55oOT1tUbq/zhxQ0oagsQ3pagwQoUJiRErQwIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAESiBj3nGEBD/BvDGfefGYn5omXVubaygwJxSLe5efdjKabnn6Ufd36PGNNH3yfWGlwFk/Tl/zZs8Y6VJKZjppq6kR2qPdR+XP7bvGmhQI/kmKw/2D/AgJT7yLwfi8ZmPoga4QjqHIEUXBDEu3DRAvsWoUXgwtMujA6l2WewHD6LlumsxVougG6hyO0nyLjX35BetPu9vtqMjd3FlFZxy4nCPtw4vWzhFagFMXspH0CvI1DHxm/jFOKREOqvGJnKXUgrmJXFFVpEq8HDX7GVRs9WbrNMFFJdfEEEmZS2xfIQaaEivBnJKOZf8BiOiII7UuoLEVsecNskG0z7VGp4Hus=","cancellation_requested":false,"status":"completed","target":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004","request_id":"a43e09efceca495aa477f53fdf5800f2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg000001.vault.azure.net/secrets/sfrp-cli-000004/?api-version=7.0
  response:
    body:
      string: '{"value":"MIIKVAIBAzCCChQGCSqGSIb3DQEHAaCCCgUEggoBMIIJ/TCCBg4GCSqGSIb3DQEHAaCCBf8EggX7MIIF9zCCBfMGCyqGSIb3DQEMCgECoIIE9jCCBPIwHAYKKoZIhvcNAQwBAzAOBAhYsmGZGTP9TAICB9AEggTQqZwT/TsRHeLrYnVCg+URWL/ukDE2ziWqq/Fl3yWUif2WsnJF34tebhIJLgEUZXouBJ/pkh1NbGWBRX0Rl4KtRFsVyZDBz4LLLzprHq40p/ogNCmkvc1tFmppoOxoNunU9s29D79vdEQvhAYsItv6iAhl4VDVccFVmMph0NWaJ7eBmh22OdN4Q11/+HvatrAQ9pSCAbZcE0hosnOX4xiyiJkQiR3LkV6HawsHPX+1p1Di4uzdkfwpBTfRW6E3BKy1yaSlBI/uI1zbIjHBydId7mH913eadPRlbJ4IlMYV+AmW5IQ0pj4kpiSXk/sdFd/Tu71H7p481Vhs8ciUd9h[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/e5dc7c06cbcf48df8cd51bb083dc2787","kid":"https://clitestrg000001.vault.azure.net/keys/sfrp-cli-000004/e5dc7c06cbcf48df8cd51bb083dc2787","sid":"https://clitestrg000001.vault.azure.net/secrets/sfrp-cli-000004/e5dc7c06cbcf48df8cd51bb083dc2787","x5t":"NwQSaqQmVRIRm5g9Gwuq7RcW8bQ","cer":"MIIDTDCCAjSgAwIBAgIQXl6/ksm/QLCVgtLY54P0QTANBgkqhkiG9w0BAQsFADAjMSEwHwYDVQQDExhzZnJwLWNsaS1remJvb25lN3V6bjRjYnUwHhcNMjAwMzI1MDcwOTAwWhcNMjEwMzI1MDcxOTAwWjAjMSEwHwYDVQQDExhzZnJwLWNsaS1remJvb25lN3V6bjRjYnUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC26Esl9DnRQaEn+QAcZ4+iO1+3+YujdwSXkGT8bch2Gu/3SGFWh2rvHyg7IMWIHORiTxY2O1J214Bc/1nVXgC81sTUfv6DYsC1T8awCsam8SbUIoeJpwZV5oB2Oeov/r6CymPFORLCaLmGrrkMScNpOC2cUrhx/MQD2AriDAh8dGu5HdKibkm8OUBHvU3bT12ulqhUtnZZ4aKlow7UgIdj07NgIRBfTibdLu6ctrbLTwiRGbKx5KorzNh2PN78gGCK/P7mkCDA983RbbFN+Gtb4ksp3lLn7Bom6yN1wjrcYgZ/E0nJrnmg5PW1Rur/OHFDShqCxDelqDBChQmJEStDAgMBAAGjfDB6MA4GA1UdDwEB/wQEAwIBvjAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBSYgblzkwTrP0hWXFhnlUeVXThbBjAdBgNVHQ4EFgQUmIG5c5ME6z9IVlxYZ5VHlV04WwYwDQYJKoZIhvcNAQELBQADggEBAGT2mE0z9zR8WVdwV90hPX6wIOPx+TuqyaY5u7a8jPGZ88kIrunwS7Bg0NoIQ2ZlvE1mtSUWyeS8rIfsGafhAZtxGDuzvLECLU9GFAwJl7/HDDziNKhL3X8xhjsrCgFhSfJNoRvd3GLUpdh/g664cYPZGDKDYBGXUcG1w82Ap/LFCDmzb3UhJCaFdgMOq8C9Gyf87xOs6qA7i/EGuspEH1Zu65lydEpkAdALoBWp6argXas1PCC4A5QsbvfO8GuwjS0rP3hbfLuoC4L5v6FYMU7Wh7IIRo8KRwYik1Q/tyCr77Ie2FS7gplRr8Eu2V1Y+2QIA9eaxT500WPr9H7F5gQ=","attributes":{"enabled":true,"nbf":1585120140,"exp":1616656740,"created":1585120740,"updated":1585120740,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=sfrp-cli-000004","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1585120670,"updated":1585120670}},"pending":{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"clusterLocation": {"type": "string",
      "metadata": {"description": "Location of the Cluster"}}, "clusterName": {"type":
      "string", "metadata": {"description": "Name of your cluster - Between 3 and
      23 characters. Letters and numbers only"}}, "adminUserName": {"type": "string",
      "metadata": {"description": "Remote desktop user Id"}}, "durabilityLevel": {"type":
      "string", "metadata": {"description": "The durability level"}}, "reliabilityLevel":
      {"type": "string", "metadata": {"description": "The reliability level"}}, "adminPassword":
      {"type": "securestring", "metadata": {"description": "Remote desktop user password.
      Must be a strong password"}}, "vmImagePublisher": {"type": "string", "defaultValue":
      "MicrosoftWindowsServer", "metadata": {"description": "VM image Publisher"}},
      "vmImageOffer": {"type": "string", "defaultValue": "WindowsServer", "metadata":
      {"description": "VM image offer"}}, "vmImageSku": {"type": "string", "metadata":
      {"description": "VM image SKU"}}, "vmSku": {"type": "string", "metadata": {"description":
      "VM SKU"}}, "vmImageVersion": {"type": "string", "defaultValue": "latest", "metadata":
      {"description": "VM image version"}}, "loadBalancedAppPort1": {"type": "int",
      "defaultValue": 80, "metadata": {"description": "Input endpoint1 for the application
      to use. Replace it with what your application uses"}}, "loadBalancedAppPort2":
      {"type": "int", "defaultValue": 8081, "metadata": {"description": "Input endpoint2
      for the application to use. Replace it with what your application uses"}}, "certificateStoreValue":
      {"type": "string", "allowedValues": ["My"], "defaultValue": "My", "metadata":
      {"description": "The store name where the cert will be deployed in the virtual
      machine"}}, "certificateThumbprint": {"type": "string", "metadata": {"description":
      "Certificate Thumbprint"}}, "sourceVaultValue": {"type": "string", "metadata":
      {"description": "Resource Id of the key vault, is should be in the format of
      /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault
      name>"}}, "certificateUrlValue": {"type": "string", "metadata": {"description":
      "Refers to the location URL in your key vault where the certificate was uploaded,
      it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact
      location>"}}, "clusterProtectionLevel": {"type": "string", "allowedValues":
      ["None", "Sign", "EncryptAndSign"], "defaultValue": "EncryptAndSign", "metadata":
      {"description": "Protection level.Three values are allowed - EncryptAndSign,
      Sign, None. It is best to keep the default of EncryptAndSign, unless you have
      a need not to"}}, "storageAccountType": {"type": "string", "allowedValues":
      ["Standard_LRS", "Standard_GRS"], "defaultValue": "Standard_LRS", "metadata":
      {"description": "Replication option for the VM image storage account"}}, "supportLogStorageAccountType":
      {"type": "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the support
      log storage account"}}, "applicationDiagnosticsStorageAccountType": {"type":
      "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the application
      diagnostics storage account"}}, "nt0InstanceCount": {"type": "int", "metadata":
      {"description": "Instance count for node type"}}}, "variables": {"computeLocation":
      "[parameters(\''clusterLocation\'')]", "dnsName": "[parameters(\''clusterName\'')]",
      "vmName": "vm", "publicIPAddressName": "PublicIP-VM", "publicIPAddressType":
      "Dynamic", "vmStorageAccountContainerName": "vhds", "virtualNetworkName": "VNet",
      "addressPrefix": "10.0.0.0/16", "nicName": "NIC", "lbName": "LoadBalancer",
      "lbIPName": "PublicIP-LB-FE", "availSetName": "AvailabilitySet", "maxPercentUpgradeDomainDeltaUnhealthyNodes":
      "100", "vnetID": "[resourceId(\''Microsoft.Network/virtualNetworks\'',variables(\''virtualNetworkName\''))]",
      "overProvision": "false", "vmssApiVersion": "2017-03-30", "lbApiVersion": "2015-06-15",
      "vNetApiVersion": "2015-06-15", "storageApiVersion": "2016-01-01", "publicIPApiVersion":
      "2015-06-15", "nt0applicationStartPort": "20000", "nt0applicationEndPort": "30000",
      "nt0ephemeralStartPort": "49152", "nt0ephemeralEndPort": "65534", "nt0fabricTcpGatewayPort":
      "19000", "nt0fabricHttpGatewayPort": "19080", "subnet0Name": "Subnet-0", "subnet0Prefix":
      "10.0.0.0/24", "subnet0Ref": "[concat(variables(\''vnetID\''),\''/subnets/\'',variables(\''subnet0Name\''))]",
      "supportLogStorageAccountName": "[toLower( concat(\''sflogs\'', uniqueString(resourceGroup().id),\''2\''))]",
      "applicationDiagnosticsStorageAccountName": "[toLower(concat(uniqueString(resourceGroup().id),
      \''3\'' ))]", "lbID0": "[resourceId(\''Microsoft.Network/loadBalancers\'',concat(\''LB\'',\''-\'',
      parameters(\''clusterName\''),\''-\'',variables(\''vmNodeType0Name\'')))]",
      "lbIPConfig0": "[concat(variables(\''lbID0\''),\''/frontendIPConfigurations/LoadBalancerIPConfig\'')]",
      "lbPoolID0": "[concat(variables(\''lbID0\''),\''/backendAddressPools/LoadBalancerBEAddressPool\'')]",
      "lbProbeID0": "[concat(variables(\''lbID0\''),\''/probes/FabricGatewayProbe\'')]",
      "lbHttpProbeID0": "[concat(variables(\''lbID0\''),\''/probes/FabricHttpGatewayProbe\'')]",
      "lbNatPoolID0": "[concat(variables(\''lbID0\''),\''/inboundNatPools/LoadBalancerBEAddressNatPool\'')]",
      "vmNodeType0Name": "[toLower(concat(\''NT1\'', variables(\''vmName\'')))]",
      "vmNodeType0Size": "[parameters(\''vmSku\'')]"}, "resources": [{"apiVersion":
      "[variables(\''storageApiVersion\'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(\''supportLogStorageAccountName\'')]", "location": "[variables(\''computeLocation\'')]",
      "dependsOn": [], "properties": {}, "kind": "Storage", "sku": {"name": "[parameters(\''supportLogStorageAccountType\'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''storageApiVersion\'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(\''applicationDiagnosticsStorageAccountName\'')]", "location":
      "[variables(\''computeLocation\'')]", "dependsOn": [], "properties": {}, "kind":
      "Storage", "sku": {"name": "[parameters(\''applicationDiagnosticsStorageAccountType\'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''vNetApiVersion\'')]", "type": "Microsoft.Network/virtualNetworks",
      "name": "[variables(\''virtualNetworkName\'')]", "location": "[variables(\''computeLocation\'')]",
      "properties": {"addressSpace": {"addressPrefixes": ["[variables(\''addressPrefix\'')]"]},
      "subnets": [{"name": "[variables(\''subnet0Name\'')]", "properties": {"addressPrefix":
      "[variables(\''subnet0Prefix\'')]"}}]}, "tags": {"resourceType": "Service Fabric",
      "clusterName": "[parameters(\''clusterName\'')]"}}, {"apiVersion": "[variables(\''publicIPApiVersion\'')]",
      "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(variables(\''lbIPName\''),\''-\'',\''0\'')]",
      "location": "[variables(\''computeLocation\'')]", "properties": {"dnsSettings":
      {"domainNameLabel": "[variables(\''dnsName\'')]"}, "publicIPAllocationMethod":
      "Dynamic"}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''lbApiVersion\'')]", "type": "Microsoft.Network/loadBalancers",
      "name": "[concat(\''LB\'',\''-\'', parameters(\''clusterName\''),\''-\'',variables(\''vmNodeType0Name\''))]",
      "location": "[variables(\''computeLocation\'')]", "dependsOn": ["[concat(\''Microsoft.Network/publicIPAddresses/\'',concat(variables(\''lbIPName\''),\''-\'',\''0\''))]"],
      "properties": {"frontendIPConfigurations": [{"name": "LoadBalancerIPConfig",
      "properties": {"publicIPAddress": {"id": "[resourceId(\''Microsoft.Network/publicIPAddresses\'',concat(variables(\''lbIPName\''),\''-\'',\''0\''))]"}}}],
      "backendAddressPools": [{"name": "LoadBalancerBEAddressPool", "properties":
      {}}], "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[variables(\''lbPoolID0\'')]"}, "backendPort": "[variables(\''nt0fabricTcpGatewayPort\'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[variables(\''nt0fabricTcpGatewayPort\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(\''lbProbeID0\'')]"}, "protocol": "tcp"}},
      {"name": "LBHttpRule", "properties": {"backendAddressPool": {"id": "[variables(\''lbPoolID0\'')]"},
      "backendPort": "[variables(\''nt0fabricHttpGatewayPort\'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[variables(\''nt0fabricHttpGatewayPort\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(\''lbHttpProbeID0\'')]"}, "protocol": "tcp"}},
      {"name": "AppPortLBRule1", "properties": {"backendAddressPool": {"id": "[variables(\''lbPoolID0\'')]"},
      "backendPort": "[parameters(\''loadBalancedAppPort1\'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[parameters(\''loadBalancedAppPort1\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(\''lbID0\''),\''/probes/AppPortProbe1\'')]"},
      "protocol": "tcp"}}, {"name": "AppPortLBRule2", "properties": {"backendAddressPool":
      {"id": "[variables(\''lbPoolID0\'')]"}, "backendPort": "[parameters(\''loadBalancedAppPort2\'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[parameters(\''loadBalancedAppPort2\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(\''lbID0\''),\''/probes/AppPortProbe2\'')]"},
      "protocol": "tcp"}}], "probes": [{"name": "FabricGatewayProbe", "properties":
      {"intervalInSeconds": 5, "numberOfProbes": 2, "port": "[variables(\''nt0fabricTcpGatewayPort\'')]",
      "protocol": "tcp"}}, {"name": "FabricHttpGatewayProbe", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[variables(\''nt0fabricHttpGatewayPort\'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe1", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(\''loadBalancedAppPort1\'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe2", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(\''loadBalancedAppPort2\'')]",
      "protocol": "tcp"}}], "inboundNatPools": [{"name": "LoadBalancerBEAddressNatPool",
      "properties": {"backendPort": "3389", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPortRangeEnd": "4500", "frontendPortRangeStart": "3389", "protocol":
      "tcp"}}]}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''vmssApiVersion\'')]", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "[variables(\''vmNodeType0Name\'')]", "location": "[variables(\''computeLocation\'')]",
      "dependsOn": ["[concat(\''Microsoft.Network/virtualNetworks/\'', variables(\''virtualNetworkName\''))]",
      "[concat(\''Microsoft.Network/loadBalancers/\'', concat(\''LB\'',\''-\'', parameters(\''clusterName\''),\''-\'',variables(\''vmNodeType0Name\'')))]",
      "[concat(\''Microsoft.Storage/storageAccounts/\'', variables(\''supportLogStorageAccountName\''))]",
      "[concat(\''Microsoft.Storage/storageAccounts/\'', variables(\''applicationDiagnosticsStorageAccountName\''))]"],
      "properties": {"overprovision": "[variables(\''overProvision\'')]", "upgradePolicy":
      {"mode": "Automatic"}, "virtualMachineProfile": {"extensionProfile": {"extensions":
      [{"name": "[concat(\''ServiceFabricNodeVmExt\'',\''_vmNodeType0Name\'')]", "properties":
      {"type": "ServiceFabricNode", "autoUpgradeMinorVersion": false, "protectedSettings":
      {"StorageAccountKey1": "[listKeys(resourceId(\''Microsoft.Storage/storageAccounts\'',
      variables(\''supportLogStorageAccountName\'')),\''2015-05-01-preview\'').key1]",
      "StorageAccountKey2": "[listKeys(resourceId(\''Microsoft.Storage/storageAccounts\'',
      variables(\''supportLogStorageAccountName\'')),\''2015-05-01-preview\'').key2]"},
      "publisher": "Microsoft.Azure.ServiceFabric", "settings": {"clusterEndpoint":
      "[reference(parameters(\''clusterName\'')).clusterEndpoint]", "nodeTypeRef":
      "[variables(\''vmNodeType0Name\'')]", "dataPath": "D:\\\\\\\\SvcFab", "durabilityLevel":
      "[parameters(\''durabilityLevel\'')]", "nicPrefixOverride": "[variables(\''subnet0Prefix\'')]",
      "certificate": {"thumbprint": "[parameters(\''certificateThumbprint\'')]", "x509StoreName":
      "[parameters(\''certificateStoreValue\'')]"}}, "typeHandlerVersion": "1.1"}},
      {"name": "[concat(\''VMDiagnosticsVmExt\'',\''_vmNodeType0Name\'')]", "properties":
      {"type": "IaaSDiagnostics", "autoUpgradeMinorVersion": true, "protectedSettings":
      {"storageAccountName": "[variables(\''applicationDiagnosticsStorageAccountName\'')]",
      "storageAccountKey": "[listKeys(resourceId(\''Microsoft.Storage/storageAccounts\'',
      variables(\''applicationDiagnosticsStorageAccountName\'')),\''2015-05-01-preview\'').key1]",
      "storageAccountEndPoint": "https://core.windows.net/"}, "publisher": "Microsoft.Azure.Diagnostics",
      "settings": {"WadCfg": {"DiagnosticMonitorConfiguration": {"overallQuotaInMB":
      "50000", "EtwProviders": {"EtwEventSourceProviderConfiguration": [{"provider":
      "Microsoft-ServiceFabric-Actors", "scheduledTransferKeywordFilter": "1", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableActorEventTable"}},
      {"provider": "Microsoft-ServiceFabric-Services", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableServiceEventTable"}}],
[...]
