interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-26T10:13:10Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "sku": {"name": "Basic"}, "properties": {"dnsName":
      "sfrp-cli-000003", "clientConnectionPort": 19000, "httpGatewayConnectionPort":
      19080, "adminUserName": "vmadmin", "adminPassword": "Pass@000004", "clients":
      [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}],
      "zonalResiliency": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-05-26T10:14:14.0346869+00:00\",\r\n
        \   \"lastModifiedBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-05-26T10:14:14.0346869+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Creating\",\r\n    \"clusterId\": \"d4acb51a-6463-4c8e-9f39-f6060f30557f\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n    \"clusterCertificateThumbprints\":
        [],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/9f2b0002-4ff5-4140-8599-d77d1448f3d2?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/9f2b0002-4ff5-4140-8599-d77d1448f3d2?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"9f2b0002-4ff5-4140-8599-d77d1448f3d2\",\r\n  \"startTime\":
        \"2022-05-26T10:14:15.0137488Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n
        \ \"percentComplete\": 30.0,\r\n  \"status\": \"Created\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-05-26T10:14:14.0346869+00:00\",\r\n
        \   \"lastModifiedBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-05-26T10:14:14.0346869+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"d4acb51a-6463-4c8e-9f39-f6060f30557f\",\r\n
        \   \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeMode\":
        \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\": false,\r\n    \"clusterUpgradeCadence\":
        \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n
        \   \"fqdn\": \"sfrp-cli-000003.eastasia.cloudapp.azure.com\",\r\n    \"ipv4Address\":
        \"20.187.96.161\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"F0B58C8192A068D2559D5A3B3C3630953CCBB98B\"\r\n
        \   ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer",
      "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion":
      "latest", "isStateless": false, "multiplePlacementGroups": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodetypes/pnt\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n
        \   \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n
        \   \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n
        \   \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"dataDiskType\":
        \"StandardSSD_LRS\",\r\n    \"placementProperties\": {},\r\n    \"capacities\":
        {},\r\n    \"vmExtensions\": [],\r\n    \"isStateless\": false,\r\n    \"multiplePlacementGroups\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/048d0002-eda1-4879-9fcd-a82a1a48f91f?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "dataDiskType": "StandardSSD_LRS", "placementProperties": {}, "capacities":
      {}, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer", "vmImageOffer":
      "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion": "latest",
      "vmExtensions": [{"name": "csetest", "properties": {"publisher": "Microsoft.Compute",
      "type": "BGInfo", "typeHandlerVersion": "2.1", "autoUpgradeMinorVersion": true}}],
      "isStateless": false, "multiplePlacementGroups": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/dce60002-e8e7-4edc-82a0-cbfcd7129d38?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodetype[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002","name":"sfrp-cli-kv-000002","type":"Microsoft.KeyVault/vaults","location":"eastasia","tags":{},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2022-05-26T10:13:21.525Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-26T10:13:21.525Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"674368bb-7eaa-4100-aef7-138f65f50648","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://sfrp-cli-kv-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALE8VIhZdtJYX77hnSLGGMx0B/l2Ow1GIoEf+FjMjE60f7CP5EEIRBgHRm6ag9m62Ec5lAP1sitxKOQIEiUsBrYI301HJJvAi0irTd0g7VnOwokbwrpMs7aFmY+orHmd7EBG83NbJ9GWPrpf0aEXH2/AWXWg03jTBynNs5GZe2W+PfByIcweS0uGqJQMLwWOxo8o6rxplDK0rIDXQDFd5KfYV79psYjHamRjR72ebr+xYUsEAbAOm7jvJ0JV17O1sQ9zLkD5M1Y/o3FcW/MZmO7huzXvsjQU36FOnYynVuRIhnt/pmcMaPW0Xgwtl84noK+28fC2vzCYD8ZYylQiV00CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQB8ykUlHtiu8/WSuF6nkOWsMvjrOp9brDks41KvfNBeeQ1ps67sLpbmr0uL00vAxLVbbzA0eKYs4tz2MydaVliUuJgdj7EclcBF0+ad+RcCMuFHoDWJWYKOxUcz1xQv8czRBjEEot/iJvHAVh+/GUASNHdb2p0L1JmnpZEa0VBBSLo0NYglbcEAdEZx2F/Ee02oNuFMf/gsNqAt747TfHGuhUfZL0vKcZ3h0E+j9i5LmDZZd0+0fguopb+pVr0UjvqoxfVYXI+yM8aaLWMckKlVfzrj6cuUrTcqJg5IXhdU+ZvVcbNM1GTpNojRi1v5tA7Ru3fnvBstIuVbUg8IjrI4","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"8d3833388436471797e4d60315b798a1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0&request_id=8d3833388436471797e4d60315b798a1
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALE8VIhZdtJYX77hnSLGGMx[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALE8VIhZdtJYX77hnSLGGMx0B/l2Ow1GIoEf+FjMjE60f7CP5EEIRBgHRm6ag9m62Ec5lAP1sitxKOQIEiUsBrYI301HJJvAi0irTd0g7VnOwokbwrpMs7aFmY+orHmd7EBG83NbJ9GWPrpf0aEXH2/AWXWg03jTBynNs5GZe2W+PfByIcweS0uGqJQMLwWOxo8o6rxplDK0rIDXQDFd5KfYV79psYjHamRjR72ebr+xYUsEAbAOm7jvJ0JV17O1sQ9zLkD5M1Y/o3FcW/MZmO7huzXvsjQU36FOnYynVuRIhnt/pmcMaPW0Xgwtl84noK+28fC2vzCYD8ZYylQiV00CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQB8ykUlHtiu8/WSuF6nkOWsMvjrOp9brDks41KvfNBeeQ1ps67sLpbmr0uL00vAxLVbbzA0eKYs4tz2MydaVliUuJgdj7EclcBF0+ad+RcCMuFHoDWJWYKOxUcz1xQv8czRBjEEot/iJvHAVh+/GUASNHdb2p0L1JmnpZEa0VBBSLo0NYglbcEAdEZx2F/Ee02oNuFMf/gsNqAt747TfHGuhUfZL0vKcZ3h0E+j9i5LmDZZd0+0fguopb+pVr0UjvqoxfVYXI+yM8aaLWMckKlVfzrj6cuUrTcqJg5IXhdU+ZvVcbNM1GTpNojRi1v5tA7Ru3fnvBstIuVbUg8IjrI4","cancellation_requested":false,"status":"completed","target":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005","request_id":"8d3833388436471797e4d60315b798a1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/05c6e5ceb97148679740db7c44550a89","kid":"https://sfrp-cli-kv-000002.vault.azure.net/keys/sfrp-cli-000005/05c6e5ceb97148679740db7c44550a89","sid":"https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000005/05c6e5ceb97148679740db7c44550a89","x5t":"jO6ynn5MrjWjpNYA5oCXcxKiKHA","cer":"MIIDQjCCAiqgAwIBAgIQKPBs7NJLQoWN2YDzlAMf7zANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIyMDUyNjExMTAxOVoXDTIzMDUyNjExMjAxOVowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALE8VIhZdtJYX77hnSLGGMx0B/l2Ow1GIoEf+FjMjE60f7CP5EEIRBgHRm6ag9m62Ec5lAP1sitxKOQIEiUsBrYI301HJJvAi0irTd0g7VnOwokbwrpMs7aFmY+orHmd7EBG83NbJ9GWPrpf0aEXH2/AWXWg03jTBynNs5GZe2W+PfByIcweS0uGqJQMLwWOxo8o6rxplDK0rIDXQDFd5KfYV79psYjHamRjR72ebr+xYUsEAbAOm7jvJ0JV17O1sQ9zLkD5M1Y/o3FcW/MZmO7huzXvsjQU36FOnYynVuRIhnt/pmcMaPW0Xgwtl84noK+28fC2vzCYD8ZYylQiV00CAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFJ7xs/nl26C/VhySMcihkF1t0sUVMB0GA1UdDgQWBBSe8bP55dugv1YckjHIoZBdbdLFFTANBgkqhkiG9w0BAQsFAAOCAQEAqKNCPjBUUz4Dcx0itqJuoMQ3pujh4XWeS71nCeXdoixbGdYpnJ1Xdw1Dz635jQlUKuRBbAt0C4MxhAaUQZTpRVyolv24rrFSSE8+hQCX3d+D1aYkjyXvUS4hF+G6crnPZdHYvs+QH6t/xiejRBI/UbiKDRuwuERNlG/YR24CrmC9Qx1/08giNzYF5W1HfPemwkn8gCveQ4PH3eqkNvaY4KoQ0VzsfDaCPlgrDWkqqUm/N97xxLC2rqDV72KdSsv6pnU5R0zUlfwYkyd8vjUffHO7d8jIywEkO29JOU+dkMYUVfS9nKHqbUwg3CuAtH8t7IGrpP/IUQ7rIF3hc067Fg==","attributes":{"enabled":true,"nbf":1653563419,"exp":1685100019,"created":1653564019,"updated":1653564019,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"policy":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1653564015,"updated":1653564015}},"pending":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "dataDiskType": "StandardSSD_LRS", "placementProperties": {}, "capacities":
      {}, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer", "vmImageOffer":
      "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion": "latest",
      "vmSecrets": [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002"},
      "vaultCertificates": [{"certificateUrl": "https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000005/05c6e5ceb97148679740db7c44550a89",
      "certificateStore": "my"}]}], "vmExtensions": [{"name": "csetest", "properties":
      {"publisher": "Microsoft.Compute", "type": "BGInfo", "typeHandlerVersion": "2.1",
      "autoUpgradeMinorVersion": true}}], "isStateless": false, "multiplePlacementGroups":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-05-26T10:14:14.0346869+00:00\",\r\n
        \   \"lastModifiedBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-05-26T10:14:14.0346869+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"d4acb51a-6463-4c8e-9f39-f6060f30557f\",\r\n
        \   \"clusterState\": \"Ready\",\r\n    \"clusterCodeVersion\": \"9.0.1017.9590\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n    \"fqdn\": \"sfrp-cli-000003.eastasia.cloudapp.azure.com\",\r\n
        \   \"ipv4Address\": \"20.187.96.161\",\r\n    \"clusterCertificateThumbprints\":
        [\r\n      \"F0B58C8192A068D2559D5A3B3C3630953CCBB98B\"\r\n    ],\r\n    \"clientConnectionPort\":
        19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\":
        false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ServiceFabric/managedclusters/sfrp-cli-000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
