interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-04-08T11:21:17Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "sku": {"name": "Basic"}, "properties": {"dnsName":
      "sfrp-cli-000003", "clientConnectionPort": 19000, "httpGatewayConnectionPort":
      19080, "adminUserName": "vmadmin", "adminPassword": "Pass@000004", "clients":
      [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}],
      "zonalResiliency": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"yishiwang@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-04-08T11:22:12.4566522+00:00\",\r\n
        \   \"lastModifiedBy\": \"yishiwang@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-04-08T11:22:12.4566522+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Creating\",\r\n    \"clusterId\": \"28b24955-42ef-473b-8c24-13dbac19ed87\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n    \"clusterCertificateThumbprints\":
        [],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/711b0001-f6e8-4bab-a43e-95636922a762?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/711b0001-f6e8-4bab-a43e-95636922a762?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"711b0001-f6e8-4bab-a43e-95636922a762\",\r\n  \"startTime\":
        \"2022-04-08T11:22:12.8796261Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n
        \ \"percentComplete\": 30.0,\r\n  \"status\": \"Created\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"yishiwang@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-04-08T11:22:12.4566522+00:00\",\r\n
        \   \"lastModifiedBy\": \"yishiwang@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-04-08T11:22:12.4566522+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"28b24955-42ef-473b-8c24-13dbac19ed87\",\r\n
        \   \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeMode\":
        \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\": false,\r\n    \"clusterUpgradeCadence\":
        \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n
        \   \"fqdn\": \"sfrp-cli-000003.eastasia.cloudapp.azure.com\",\r\n    \"ipv4Address\":
        \"13.75.115.127\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"80EC31EEB0CADB8BCC7DAB6D19F29844E29C4C29\"\r\n
        \   ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer",
      "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion":
      "latest", "isStateless": false, "multiplePlacementGroups": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodetypes/pnt\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n
        \   \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n
        \   \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n
        \   \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"dataDiskType\":
        \"StandardSSD_LRS\",\r\n    \"placementProperties\": {},\r\n    \"capacities\":
        {},\r\n    \"vmExtensions\": [],\r\n    \"isStateless\": false,\r\n    \"multiplePlacementGroups\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/1b530001-8a2f-4e15-a235-6d6629a76f08?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "dataDiskType": "StandardSSD_LRS", "placementProperties": {}, "capacities":
      {}, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer", "vmImageOffer":
      "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion": "latest",
      "vmExtensions": [{"name": "csetest", "properties": {"publisher": "Microsoft.Compute",
      "type": "BGInfo", "typeHandlerVersion": "2.1", "autoUpgradeMinorVersion": true}}],
      "isStateless": false, "multiplePlacementGroups": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002","name":"sfrp-cli-kv-000002","type":"Microsoft.KeyVault/vaults","location":"eastasia","tags":{},"systemData":{"createdBy":"yishiwang@microsoft.com","createdByType":"User","createdAt":"2022-04-08T11:21:25.579Z","lastModifiedBy":"yishiwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-04-08T11:21:25.579Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://sfrp-cli-kv-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMbLOaqI2wiW/pxyi6f4+teXch5hcQAp5f1q089HMGNGJCkwWi87NxQhqPYR7Z+LaVLpNPuQj5PqK2Xwbu4xJTjF8FaZshY4lfo1NYOdbP+n+RcRbp/yvv8vV4IGxN9umbUW+fplptJboWLi7KobO0dUt3Iu+ZESiJSxGBVKMJFsifARMJLhaT5TqZkBhCtbxp6KsI1wuW7HtvIy7uIL5ldY7hPYi9xo5ZtAwOhUh1yBBEGvlQP1ftAFuYebWaATV8M2FN/Ub8ZoHiSYAu7ETN+pZfyQJBBNCjoYYEuvhE55DPOd1/iG7OjQLFcM1uUKN6UdTCUlqtAxzer0JJYWEpUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCRf5jaWMqtZ7N5I/kir9L5q8sq49pzuZXQBM8LhVp66Szqjlc00aAVTtMnMIcHuowFrLQtgZF8M8aEpfpvnfsyHmvoXa+ApNrx6M3QQ8NDdCYWNQk91BE6VYA6U/C9/ZNKIoPI882wHE/exknjnybJ76i+uLlVNZS+z9rPYo1haarsHom0T/rTRGDoFnqxXHI+JgNm1sw9jBbrGYHAHD2pDNsgu/dhzHX13/LyspdBl7wGeVgq7JZBp3gv/qQXk6YADVnZ2IkLc9rOmUzEjV3/bI5S0kzGttgj0aJAIfIYopLV/6VmeeFh0rdSd0zRhe1BniGzNKXn0UYCZIbtzSum","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"f810b378108b4620897d9c34a9cedb11"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0&request_id=f810b378108b4620897d9c34a9cedb11
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMbLOaqI2wiW/pxyi6f4+te[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMbLOaqI2wiW/pxyi6f4+teXch5hcQAp5f1q089HMGNGJCkwWi87NxQhqPYR7Z+LaVLpNPuQj5PqK2Xwbu4xJTjF8FaZshY4lfo1NYOdbP+n+RcRbp/yvv8vV4IGxN9umbUW+fplptJboWLi7KobO0dUt3Iu+ZESiJSxGBVKMJFsifARMJLhaT5TqZkBhCtbxp6KsI1wuW7HtvIy7uIL5ldY7hPYi9xo5ZtAwOhUh1yBBEGvlQP1ftAFuYebWaATV8M2FN/Ub8ZoHiSYAu7ETN+pZfyQJBBNCjoYYEuvhE55DPOd1/iG7OjQLFcM1uUKN6UdTCUlqtAxzer0JJYWEpUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCRf5jaWMqtZ7N5I/kir9L5q8sq49pzuZXQBM8LhVp66Szqjlc00aAVTtMnMIcHuowFrLQtgZF8M8aEpfpvnfsyHmvoXa+ApNrx6M3QQ8NDdCYWNQk91BE6VYA6U/C9/ZNKIoPI882wHE/exknjnybJ76i+uLlVNZS+z9rPYo1haarsHom0T/rTRGDoFnqxXHI+JgNm1sw9jBbrGYHAHD2pDNsgu/dhzHX13/LyspdBl7wGeVgq7JZBp3gv/qQXk6YADVnZ2IkLc9rOmUzEjV3/bI5S0kzGttgj0aJAIfIYopLV/6VmeeFh0rdSd0zRhe1BniGzNKXn0UYCZIbtzSum","cancellation_requested":false,"status":"completed","target":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005","request_id":"f810b378108b4620897d9c34a9cedb11"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/91da65ea68b840ceb476328aa392871e","kid":"https://sfrp-cli-kv-000002.vault.azure.net/keys/sfrp-cli-000005/91da65ea68b840ceb476328aa392871e","sid":"https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000005/91da65ea68b840ceb476328aa392871e","x5t":"mQvR7GYXoB-b4A1Ls4Kqwy6-MW8","cer":"MIIDQjCCAiqgAwIBAgIQR+X/3LO2RpSfZ0XNHS1/UjANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIyMDQwODEyMjMxMloXDTIzMDQwODEyMzMxMlowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMbLOaqI2wiW/pxyi6f4+teXch5hcQAp5f1q089HMGNGJCkwWi87NxQhqPYR7Z+LaVLpNPuQj5PqK2Xwbu4xJTjF8FaZshY4lfo1NYOdbP+n+RcRbp/yvv8vV4IGxN9umbUW+fplptJboWLi7KobO0dUt3Iu+ZESiJSxGBVKMJFsifARMJLhaT5TqZkBhCtbxp6KsI1wuW7HtvIy7uIL5ldY7hPYi9xo5ZtAwOhUh1yBBEGvlQP1ftAFuYebWaATV8M2FN/Ub8ZoHiSYAu7ETN+pZfyQJBBNCjoYYEuvhE55DPOd1/iG7OjQLFcM1uUKN6UdTCUlqtAxzer0JJYWEpUCAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFE7MddR4kuIF6o3Bzz1GD554aFQmMB0GA1UdDgQWBBROzHXUeJLiBeqNwc89Rg+eeGhUJjANBgkqhkiG9w0BAQsFAAOCAQEATWfIQf6zc0uwLvSFpo7eoB8CeQpidEGJKw9FTqDfbwAt6GgeSb6VE0eHfp58D4tSDHAbe5dXALd1BsHrYpaiRwXaOJUDpo+iLPlSPCY1zH3ovupWmfW2Izic1y2Cfez4R3PocDghMXjAnNgWKG3894ytyjxEltWTBPoSZ1dwTI5waBJSUxVI1dAfV2CEoWBGpdygG1a/A055X5eCXB+Dhf4FHz6qa1rE6eFP0ceyumnH33DGBwD8h56VJYW9S/O/Z5cNkC30xgv0f4STOh3POBIbK81bC5zRy7o/I+zUIbOoLNLEYzHDIucIy0NIspxMuvfAAKxAaMRmGffQ3kFZnw==","attributes":{"enabled":true,"nbf":1649420592,"exp":1680957192,"created":1649421193,"updated":1649421193,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"policy":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1649421189,"updated":1649421189}},"pending":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "dataDiskType": "StandardSSD_LRS", "placementProperties": {}, "capacities":
      {}, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer", "vmImageOffer":
      "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion": "latest",
      "vmSecrets": [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002"},
      "vaultCertificates": [{"certificateUrl": "https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000005/91da65ea68b840ceb476328aa392871e",
      "certificateStore": "my"}]}], "vmExtensions": [{"name": "csetest", "properties":
      {"publisher": "Microsoft.Compute", "type": "BGInfo", "typeHandlerVersion": "2.1",
      "autoUpgradeMinorVersion": true}}], "isStateless": false, "multiplePlacementGroups":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"yishiwang@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-04-08T11:22:12.4566522+00:00\",\r\n
        \   \"lastModifiedBy\": \"yishiwang@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-04-08T11:22:12.4566522+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"28b24955-42ef-473b-8c24-13dbac19ed87\",\r\n
        \   \"clusterState\": \"Ready\",\r\n    \"clusterCodeVersion\": \"8.2.1571.9590\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n    \"fqdn\": \"sfrp-cli-000003.eastasia.cloudapp.azure.com\",\r\n
        \   \"ipv4Address\": \"13.75.115.127\",\r\n    \"clusterCertificateThumbprints\":
        [\r\n      \"80EC31EEB0CADB8BCC7DAB6D19F29844E29C4C29\"\r\n    ],\r\n    \"clientConnectionPort\":
        19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\":
        false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
version: 1
