interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-19T06:08:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "properties": {"dnsName": "sfrp-cli-000002", "clientConnectionPort":
      19000, "httpGatewayConnectionPort": 19080, "adminUserName": "vmadmin", "adminPassword":
      "Pass@000003", "clients": [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}]},
      "sku": {"name": "Basic"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"clusterId\": \"d9b070e1-9049-46bc-a880-602dd556212b\",\r\n
        \   \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n
        \   \"dnsName\": \"sfrp-cli-000002\",\r\n    \"clusterCertificateThumbprint\":
        \"\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ]\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/e46c0004-5f4b-4ff3-bdcb-d645a50e4bd4?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/e46c0004-5f4b-4ff3-bdcb-d645a50e4bd4?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"name\": \"e46c0004-5f4b-4ff3-bdcb-d645a50e4bd4\",\r\n  \"startTime\":
        \"2020-12-19T06:08:33.1076973Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n
        \ \"percentComplete\": 30.0,\r\n  \"status\": \"Created\",\r\n  \"error\":
        {\r\n    \"code\": \"OperationFailed\",\r\n    \"message\": \"\",\r\n    \"details\":
        []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"clusterId\": \"d9b070e1-9049-46bc-a880-602dd556212b\",\r\n
        \   \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\":
        \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n
        \   \"fqdn\": \"sfrp-cli-000002.eastasia.cloudapp.azure.com\",\r\n    \"clusterCertificateThumbprint\":
        \"270C34205E99B941AB7F5F10E7BD114D6F0CEB33\",\r\n    \"clientConnectionPort\":
        19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n
        \     {\r\n        \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer",
      "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion":
      "latest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/pnt?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodetypes/pnt\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isPrimary\": true,\r\n
        \   \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\":
        \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\":
        \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmInstanceCount\":
        5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"placementProperties\": {},\r\n
        \   \"capacities\": {}\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/a8bc0004-1dff-42e3-807c-d4a491dc979a?api-version=2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "placementProperties": {}, "capacities": {}, "vmSize": "Standard_D2", "vmImagePublisher":
      "MicrosoftWindowsServer", "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter",
      "vmImageVersion": "latest", "vmExtensions": [{"name": "csetest", "properties":
      {"publisher": "Microsoft.Compute", "type": "BGInfo", "typeHandlerVersion": "2.1",
      "autoUpgradeMinorVersion": true}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/pnt?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5310aa29-9a44-4cbc-adb3-6347a539537e","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-12-16T18:59:47Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Dania
        Etienne","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Dania","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"detienne001_gmail.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["detienne001@gmail.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-12-16T18:59:47Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Etienne","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/5310aa29-9a44-4cbc-adb3-6347a539537e/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":"US","userIdentities":[],"userPrincipalName":"detienne001_gmail.com#EXT#@detienne001gmail.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '307546'
      ocp-aad-diagnostics-server-name:
      - 53/QSS0WrZFUP557GR2cuQikSdEpuqZ4Ihnnj+pPZDs=
      ocp-aad-session-key:
      - Ct59qEGoSQl2qRltUG-67JtFLi4YRNgth4ulW1Rx7lvAek6HGAI3nXD5UA6Za-ERzE_W3pOaIdzMtqf5v8dhwe8zoxj6QIpUPGZdFt3PdYs-bm-grSgW1wRpoqLHDyDa.AKDsX-SmGpbSF2tPFGyy8dPWWivWYdUGr-YXEMEw9Eg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastasia", "properties": {"tenantId": "01a4073e-87c8-47cd-aafc-1439b4b5ea2c",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "01a4073e-87c8-47cd-aafc-1439b4b5ea2c", "objectId": "5310aa29-9a44-4cbc-adb3-6347a539537e",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enabledForDeployment": true, "enabledForTemplateDeployment": true, "softDeleteRetentionInDays":
      90, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000004?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000004","name":"sfrp-cli-kv-000004","type":"Microsoft.KeyVault/vaults","location":"eastasia","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"01a4073e-87c8-47cd-aafc-1439b4b5ea2c","accessPolicies":[{"tenantId":"01a4073e-87c8-47cd-aafc-1439b4b5ea2c","objectId":"5310aa29-9a44-4cbc-adb3-6347a539537e","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://sfrp-cli-kv-000004.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/01a4073e-87c8-47cd-aafc-1439b4b5ea2c",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMQ/vRyTwgSvLPCOYlVgeTwnLyQ1K5faHuvdX4krKHVmmaO1lcIP4htK8di4jRDQWwuYHY1soZ8GBnORT5C+j7nmWrAqnQqAZIexdJW3vX1ZaMJnLaEzJQQt3EijrXQ0nMlY7/pjFsISJBUs4sBzD6Pv6RPafz09AT9/HpZH6+3Igq5aLDB/ybpLa0IJLF1kZf24YzaYDYgdKGJURbKQIF7CPDCiTyaOTz5tc8oNI69K5dPmdN8pZkex/L/pwGLbG54oPMUnjqzNmV7AdoVWgI7JCUL8156sjRAHloDu/xDa/6Tq8SOouncFdFB5tqUcnq8bgEC8Q/SSlO4V/tBXlFUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCOS5V0Y0ucagYbkigjVHrAqvJ41be1cvDY3SqreK7MAgNbsTGdlTep7cV5y9YHWRtKuQyolCW3dQgLEWDzyMoaSiZ1QtLodGp/8s4gOsM8SYdsJmj1Z70lPQXZnezMAwsyU0HDJ3YOn/UUZ1UFd3Qgkqhg/k3vVw+jUaFSeld1JE3PCK/4z6s7S5aiWkMXLzIu1ZPp/V0ePFHrkTfZrTae64K5MirfFQkpKEqGwwRwr7wK6dGqszPh6f71/eyaSqmDQuI41pjXI2Fx/QBgDE4eRFLsxZOteTtvP2tUGXXTs0EByZP4XMMCt5FNG8Ynq/WFUHp9aDmErOTcycHpC8cN","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"47d997a8805b47d58f3ae97d0aff3c61"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0&request_id=47d997a8805b47d58f3ae97d0aff3c61
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMQ/vRyTwgSvLPCOYlVgeTwnLyQ1K5faHuvdX4krKHVmmaO1lcIP4htK8di4jRDQWwuYHY1soZ8GBnORT5C+j7nmWrAqnQqAZIexdJW3vX1ZaMJnLaEzJQQt3EijrXQ0nMlY7/pjFsISJBUs4sBzD6Pv6RPafz09AT9/HpZH6+3Igq5aLDB/ybpLa0IJLF1kZf24YzaYDYgdKGJURbKQIF7CPDCiTyaOTz5tc8oNI69K5dPmdN8pZkex/L/pwGLbG54oPMUnjqzNmV7AdoVWgI7JCUL8156sjRAHloDu/xDa/6Tq8SOouncFdFB5tqUcnq8bgEC8Q/SSlO4V/tBXlFUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCOS5V0Y0ucagYbkigjVHrAqvJ41be1cvDY3SqreK7MAgNbsTGdlTep7cV5y9YHWRtKuQyolCW3dQgLEWDzyMoaSiZ1QtLodGp/8s4gOsM8SYdsJmj1Z70lPQXZnezMAwsyU0HDJ3YOn/UUZ1UFd3Qgkqhg/k3vVw+jUaFSeld1JE3PCK/4z6s7S5aiWkMXLzIu1ZPp/V0ePFHrkTfZrTae64K5MirfFQkpKEqGwwRwr7wK6dGqszPh6f71/eyaSqmDQuI41pjXI2Fx/QBgDE4eRFLsxZOteTtvP2tUGXXTs0EByZP4XMMCt5FNG8Ynq/WFUHp9aDmErOTcycHpC8cN","cancellation_requested":false,"status":"completed","target":"https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005","request_id":"47d997a8805b47d58f3ae97d0aff3c61"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/2932e87a5715430e8fbf1402e6424495","kid":"https://sfrp-cli-kv-000004.vault.azure.net/keys/sfrp-cli-000005/2932e87a5715430e8fbf1402e6424495","sid":"https://sfrp-cli-kv-000004.vault.azure.net/secrets/sfrp-cli-000005/2932e87a5715430e8fbf1402e6424495","x5t":"jyxOYqVc_sxi6CrVCKFBJt7keDE","cer":"MIIDQjCCAiqgAwIBAgIQSDBZA2bhRwStnqpFbRp4xzANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIwMTIxOTA2MTY1OVoXDTIxMTIxOTA2MjY1OVowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMQ/vRyTwgSvLPCOYlVgeTwnLyQ1K5faHuvdX4krKHVmmaO1lcIP4htK8di4jRDQWwuYHY1soZ8GBnORT5C+j7nmWrAqnQqAZIexdJW3vX1ZaMJnLaEzJQQt3EijrXQ0nMlY7/pjFsISJBUs4sBzD6Pv6RPafz09AT9/HpZH6+3Igq5aLDB/ybpLa0IJLF1kZf24YzaYDYgdKGJURbKQIF7CPDCiTyaOTz5tc8oNI69K5dPmdN8pZkex/L/pwGLbG54oPMUnjqzNmV7AdoVWgI7JCUL8156sjRAHloDu/xDa/6Tq8SOouncFdFB5tqUcnq8bgEC8Q/SSlO4V/tBXlFUCAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFKZzVPM+WhAcJzMZbcU3dbEXF+qbMB0GA1UdDgQWBBSmc1TzPloQHCczGW3FN3WxFxfqmzANBgkqhkiG9w0BAQsFAAOCAQEAScqJfiLPdynYvV6zrrRByo4s6tUOa0azxUwIp/Dj8SUnDbw7HHvOiJXn+Nxy3duec4BShtF4gzkvUCOTl8rydHcfRGv0O894ob5914jr+7odkA7MFhcA38ixgjr3TlvkkN57nx6NYQEOzatLWlk5RWCKHGLOg5tRUTqROKogPBjXJxApaNXSzwSdpq2w4/KJflIvCiPAC/CzLAr+K+erigxcsDlKjyu3bQBp7utIkbM3Lcb/mb/OJUkK7qLS4N4KFBybQuVHA8mVcfpbSLd+W3geqbF5hP2TZ9aRXaX80XjjIcVtlYW4xzI36/8IiY/vWfqwZCOTHG/jVNMgFIH6sg==","attributes":{"enabled":true,"nbf":1608358619,"exp":1639895219,"created":1608359219,"updated":1608359219,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1608359218,"updated":1608359218}},"pending":{"id":"https://sfrp-cli-kv-000004.vault.azure.net/certificates/sfrp-cli-000005/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "placementProperties": {}, "capacities": {}, "vmSize": "Standard_D2", "vmImagePublisher":
      "MicrosoftWindowsServer", "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter",
      "vmImageVersion": "latest", "vmSecrets": [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000004"},
      "vaultCertificates": [{"certificateUrl": "https://sfrp-cli-kv-000004.vault.azure.net/secrets/sfrp-cli-000005/2932e87a5715430e8fbf1402e6424495",
      "certificateStore": "my"}]}], "vmExtensions": [{"name": "csetest", "properties":
      {"publisher": "Microsoft.Compute", "type": "BGInfo", "typeHandlerVersion": "2.1",
      "autoUpgradeMinorVersion": true}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/pnt?api-version=2020[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"clusterId\": \"d9b070e1-9049-46bc-a880-602dd556212b\",\r\n
        \   \"clusterState\": \"Ready\",\r\n    \"clusterCodeVersion\": \"7.2.432.9590\",\r\n
        \   \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n
        \   \"dnsName\": \"sfrp-cli-000002\",\r\n    \"fqdn\": \"sfrp-cli-000002.eastasia.cloudapp.azure.com\",\r\n
        \   \"clusterCertificateThumbprint\": \"270C34205E99B941AB7F5F10E7BD114D6F0CEB33\",\r\n
        \   \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2020-01-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
version: 1
