interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-26T06:29:04Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg6p6fsqdhk4ba?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/clitestrg6p6fsqdhk4ba''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2022-02-23T07:41:33Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"azureclilivetest","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"azureclilivetest","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2022-06-15T03:19:08Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/6b30bdc6-696a-46fb-82d7-739c2fb147b7/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '298882'
      ocp-aad-diagnostics-server-name:
      - Od3Hb0mXHAX9ow51HCbrV5aWU7ASekKDGEqFniCNbfM=
      ocp-aad-session-key:
      - 7u3JNOWfKhds5RKMNyOb8UqAwPunRWKEAJUh2qU69b-7bflQU9aNxFmTqcrKFC7B-bFzDILL9GFnZWoNx7H_Wk9h39nLjMUGho4cFWX1zgUukCucD2G-dhgwCQty0A2rGbfFECL-DSgaC93rJcB1npoG7YEuV9KVq5m0IxGO1lg.o_eiD6SZFQsYG5Yuz1f6HxlJWd5whl0sPgySuxJqwy0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore"], "secrets": ["get", "list", "set", "delete", "backup",
      "restore", "recover"], "certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"]}}], "enabledForDeployment": true, "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false, "publicNetworkAccess":
      "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg6p6fsqdhk4ba?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg6p6fsqdhk4ba","name":"clitestrg6p6fsqdhk4ba","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-08-26T06:29:08.844Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-26T06:29:08.844Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://clitestrg6p6fsqdhk4ba.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=sfrp-cli-000004", "key_usage": ["cRLSign", "dataEncipherment",
      "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months":
      12}, "lifetime_actions": [{"trigger": {"days_before_expiry": 90}, "action":
      {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}, "attributes": {"enabled":
      true}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktenNqYjQydzNlNWt6djI1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwEzGstM0K77wLxwTmSZLS05MLPBkU9yXW4MGnD/76ubapd5PGSJMRDTfjXfCogNbF6ySPmEDLI8+W71XdOPPekDUF796AV9leWKlNasHok66DDb/7u3Yf9thkjGmYZJkC/19YK1pO3cTOtoh2tDVl5Fta6VT0cEc+ezJBScAVQRCmBDdZTi/a2SN9eoVDKy6fbtlOujQDk8BKfWpyBM06wxeZUcs9j8l9LKkfuhZsO0dc/69Vcc9kP9nUybbDuDoS6V7OViqBmM+gt8jNKT6M58/jDHK1nMWhiE7x2dUqE58Xycd4Vk4hNU1Hz0PenBEtzBCSFbrHoTcjeOgwKizpQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAKUdTVeOh6fUbUw1oLSYWspWFe55eOKxIhEMd0SBYyEPbNH8opjvscYO/g/GPl1a1HEYzAJm9b4NGS/rzLdJbHQZyS4dHC+KrUZycPFuCYC5PARDFIzw0CapxMpyj8fGscU59f7ylVLX6RfaflNaIqIuRdjfCUfxMgt5lks3tLJ5dlhBPrpln5vFCcd2rYD+4rYcWWBlX6h1OLFEGWX9WQjmKEj+6i6nXmD6mJ+TDPFHv7S9acUYNFxCPWwfZpC6q5PMCI7bBVT5srzxK2MlHMZ7ROYQfMeU6VGfv+QMmP52sbcZFDPKkBQlyVh7jJIaj6nf6B9kMlQnznaC/zkTyvc=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"3f7fcd1685224e618197fe23443c794a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0&request_id=3f7fcd1685224e618197fe23443c794a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktenNqYjQydzNlNWt6djI1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwEzGstM0K[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktenNqYjQydzNlNWt6djI1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwEzGstM0K77wLxwTmSZLS05MLPBkU9yXW4MGnD/76ubapd5PGSJMRDTfjXfCogNbF6ySPmEDLI8+W71XdOPPekDUF796AV9leWKlNasHok66DDb/7u3Yf9thkjGmYZJkC/19YK1pO3cTOtoh2tDVl5Fta6VT0cEc+ezJBScAVQRCmBDdZTi/a2SN9eoVDKy6fbtlOujQDk8BKfWpyBM06wxeZUcs9j8l9LKkfuhZsO0dc/69Vcc9kP9nUybbDuDoS6V7OViqBmM+gt8jNKT6M58/jDHK1nMWhiE7x2dUqE58Xycd4Vk4hNU1Hz0PenBEtzBCSFbrHoTcjeOgwKizpQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAKUdTVeOh6fUbUw1oLSYWspWFe55eOKxIhEMd0SBYyEPbNH8opjvscYO/g/GPl1a1HEYzAJm9b4NGS/rzLdJbHQZyS4dHC+KrUZycPFuCYC5PARDFIzw0CapxMpyj8fGscU59f7ylVLX6RfaflNaIqIuRdjfCUfxMgt5lks3tLJ5dlhBPrpln5vFCcd2rYD+4rYcWWBlX6h1OLFEGWX9WQjmKEj+6i6nXmD6mJ+TDPFHv7S9acUYNFxCPWwfZpC6q5PMCI7bBVT5srzxK2MlHMZ7ROYQfMeU6VGfv+QMmP52sbcZFDPKkBQlyVh7jJIaj6nf6B9kMlQnznaC/zkTyvc=","cancellation_requested":false,"status":"completed","target":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004","request_id":"3f7fcd1685224e618197fe23443c794a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/9874ebb691a149a6a4c6686280fc8046","kid":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/keys/sfrp-cli-000004/9874ebb691a149a6a4c6686280fc8046","sid":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/secrets/sfrp-cli-000004/9874ebb691a149a6a4c6686280fc8046","x5t":"hWjjYFsNa1ViqD20bBxgHAKV9d4","cer":"MIIDTDCCAjSgAwIBAgIQVQWB4PB4Sc+4adjJVq1l+zANBgkqhkiG9w0BAQsFADAjMSEwHwYDVQQDExhzZnJwLWNsaS16c2piNDJ3M2U1a3p2MjUwHhcNMjIwODI2MDYyMDA5WhcNMjMwODI2MDYzMDA5WjAjMSEwHwYDVQQDExhzZnJwLWNsaS16c2piNDJ3M2U1a3p2MjUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDATMay0zQrvvAvHBOZJktLTkws8GRT3JdbgwacP/vq5tql3k8ZIkxENN+Nd8KiA1sXrJI+YQMsjz5bvVd04896QNQXv3oBX2V5YqU1qweiTroMNv/u7dh/22GSMaZhkmQL/X1grWk7dxM62iHa0NWXkW1rpVPRwRz57MkFJwBVBEKYEN1lOL9rZI316hUMrLp9u2U66NAOTwEp9anIEzTrDF5lRyz2PyX0sqR+6Fmw7R1z/r1Vxz2Q/2dTJtsO4OhLpXs5WKoGYz6C3yM0pPoznz+MMcrWcxaGITvHZ1SoTnxfJx3hWTiE1TUfPQ96cES3MEJIVusehNyN46DAqLOlAgMBAAGjfDB6MA4GA1UdDwEB/wQEAwIBvjAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBQP93SbF5gys6c1ydAvVXq896SBHzAdBgNVHQ4EFgQUD/d0mxeYMrOnNcnQL1V6vPekgR8wDQYJKoZIhvcNAQELBQADggEBAH+N7Z0H1YFI8H55zDDf2mlpYv006GfXu0xdXylbZnVGB6YwKLF2KMRPKu5c1CJ7D+iTX/CAUOWfVOh2i1uX9Dw0TI5IKKz61tesKxg1XirzK2repQw9P3HlmVM3yS6v7vu7fRLFXTOZWEdPxGUsQScUV880foSTqFLgzO+IiiGIAg4oNPAR/8YWGd6p8CXgZIRrw0/Djtq9dJb9ifiDgZGgXG19z/Cg1BU8MdiKKUrph0N1/sDJmREQeR3FR7oQ+VRwD4yyfDz5JkQs19UbYur2AQVAese3Nt3gIlDNFDFxcec16nEXGHVMgpWSWVvwBVCUERP/HkkiI2eAze8we2w=","attributes":{"enabled":true,"nbf":1661494809,"exp":1693031409,"created":1661495409,"updated":1661495409,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=sfrp-cli-000004","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1661495401,"updated":1661495401}},"pending":{"id":"https://clitestrg6p6fsqdhk4ba.vault.azure.net/certificates/sfrp-cli-000004/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"clusterLocation": {"type": "string",
      "metadata": {"description": "Location of the Cluster"}}, "clusterName": {"type":
      "string", "metadata": {"description": "Name of your cluster - Between 3 and
      23 characters. Letters and numbers only"}}, "adminUserName": {"type": "string",
      "metadata": {"description": "Remote desktop user Id"}}, "durabilityLevel": {"type":
      "string", "metadata": {"description": "The durability level"}}, "reliabilityLevel":
      {"type": "string", "metadata": {"description": "The reliability level"}}, "adminPassword":
      {"type": "securestring", "metadata": {"description": "Remote desktop user password.
      Must be a strong password"}}, "vmImagePublisher": {"type": "string", "defaultValue":
      "MicrosoftWindowsServer", "metadata": {"description": "VM image Publisher"}},
      "vmImageOffer": {"type": "string", "defaultValue": "WindowsServer", "metadata":
      {"description": "VM image offer"}}, "vmImageSku": {"type": "string", "metadata":
      {"description": "VM image SKU"}}, "vmSku": {"type": "string", "metadata": {"description":
      "VM SKU"}}, "vmImageVersion": {"type": "string", "defaultValue": "latest", "metadata":
      {"description": "VM image version"}}, "loadBalancedAppPort1": {"type": "int",
      "defaultValue": 80, "metadata": {"description": "Input endpoint1 for the application
      to use. Replace it with what your application uses"}}, "loadBalancedAppPort2":
      {"type": "int", "defaultValue": 8081, "metadata": {"description": "Input endpoint2
      for the application to use. Replace it with what your application uses"}}, "certificateStoreValue":
      {"type": "string", "allowedValues": ["My"], "defaultValue": "My", "metadata":
      {"description": "The store name where the cert will be deployed in the virtual
      machine"}}, "certificateThumbprint": {"type": "string", "metadata": {"description":
      "Certificate Thumbprint"}}, "sourceVaultValue": {"type": "string", "metadata":
      {"description": "Resource Id of the key vault, is should be in the format of
      /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault
      name>"}}, "certificateUrlValue": {"type": "string", "metadata": {"description":
      "Refers to the location URL in your key vault where the certificate was uploaded,
      it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact
      location>"}}, "clusterProtectionLevel": {"type": "string", "allowedValues":
      ["None", "Sign", "EncryptAndSign"], "defaultValue": "EncryptAndSign", "metadata":
      {"description": "Protection level.Three values are allowed - EncryptAndSign,
      Sign, None. It is best to keep the default of EncryptAndSign, unless you have
      a need not to"}}, "storageAccountType": {"type": "string", "allowedValues":
      ["Standard_LRS", "Standard_GRS"], "defaultValue": "Standard_LRS", "metadata":
      {"description": "Replication option for the VM image storage account"}}, "supportLogStorageAccountType":
      {"type": "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the support
      log storage account"}}, "applicationDiagnosticsStorageAccountType": {"type":
      "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the application
      diagnostics storage account"}}, "nt0InstanceCount": {"type": "int", "metadata":
      {"description": "Instance count for node type"}}}, "variables": {"computeLocation":
      "[parameters(''clusterLocation'')]", "dnsName": "[parameters(''clusterName'')]",
      "vmName": "vm", "publicIPAddressName": "PublicIP-VM", "publicIPAddressType":
      "Dynamic", "vmStorageAccountContainerName": "vhds", "virtualNetworkName": "VNet",
      "addressPrefix": "10.0.0.0/16", "nicName": "NIC", "lbName": "LoadBalancer",
      "lbIPName": "PublicIP-LB-FE", "availSetName": "AvailabilitySet", "maxPercentUpgradeDomainDeltaUnhealthyNodes":
      "100", "vnetID": "[resourceId(''Microsoft.Network/virtualNetworks'',variables(''virtualNetworkName''))]",
      "overProvision": "false", "vmssApiVersion": "2017-03-30", "lbApiVersion": "2015-06-15",
      "vNetApiVersion": "2015-06-15", "storageApiVersion": "2016-01-01", "publicIPApiVersion":
      "2015-06-15", "nt0applicationStartPort": "20000", "nt0applicationEndPort": "30000",
      "nt0ephemeralStartPort": "49152", "nt0ephemeralEndPort": "65534", "nt0fabricTcpGatewayPort":
      "19000", "nt0fabricHttpGatewayPort": "19080", "subnet0Name": "Subnet-0", "subnet0Prefix":
      "10.0.0.0/24", "subnet0Ref": "[concat(variables(''vnetID''),''/subnets/'',variables(''subnet0Name''))]",
      "supportLogStorageAccountName": "[toLower( concat(''sflogs'', uniqueString(resourceGroup().id),''2''))]",
      "applicationDiagnosticsStorageAccountName": "[toLower(concat(uniqueString(resourceGroup().id),
      ''3'' ))]", "lbID0": "[resourceId(''Microsoft.Network/loadBalancers'',concat(''LB'',''-'',
      parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]", "lbIPConfig0":
      "[concat(variables(''lbID0''),''/frontendIPConfigurations/LoadBalancerIPConfig'')]",
      "lbPoolID0": "[concat(variables(''lbID0''),''/backendAddressPools/LoadBalancerBEAddressPool'')]",
      "lbProbeID0": "[concat(variables(''lbID0''),''/probes/FabricGatewayProbe'')]",
      "lbHttpProbeID0": "[concat(variables(''lbID0''),''/probes/FabricHttpGatewayProbe'')]",
      "lbNatPoolID0": "[concat(variables(''lbID0''),''/inboundNatPools/LoadBalancerBEAddressNatPool'')]",
      "vmNodeType0Name": "[toLower(concat(''NT1'', variables(''vmName'')))]", "vmNodeType0Size":
      "[parameters(''vmSku'')]"}, "resources": [{"apiVersion": "[variables(''storageApiVersion'')]",
      "type": "Microsoft.Storage/storageAccounts", "name": "[variables(''supportLogStorageAccountName'')]",
      "location": "[variables(''computeLocation'')]", "dependsOn": [], "properties":
      {}, "kind": "Storage", "sku": {"name": "[parameters(''supportLogStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''storageApiVersion'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(''applicationDiagnosticsStorageAccountName'')]", "location":
      "[variables(''computeLocation'')]", "dependsOn": [], "properties": {}, "kind":
      "Storage", "sku": {"name": "[parameters(''applicationDiagnosticsStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''vNetApiVersion'')]", "type": "Microsoft.Network/virtualNetworks",
      "name": "[variables(''virtualNetworkName'')]", "location": "[variables(''computeLocation'')]",
      "properties": {"addressSpace": {"addressPrefixes": ["[variables(''addressPrefix'')]"]},
      "subnets": [{"name": "[variables(''subnet0Name'')]", "properties": {"addressPrefix":
      "[variables(''subnet0Prefix'')]"}}]}, "tags": {"resourceType": "Service Fabric",
      "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion": "[variables(''publicIPApiVersion'')]",
      "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(variables(''lbIPName''),''-'',''0'')]",
      "location": "[variables(''computeLocation'')]", "properties": {"dnsSettings":
      {"domainNameLabel": "[variables(''dnsName'')]"}, "publicIPAllocationMethod":
      "Dynamic"}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''lbApiVersion'')]", "type": "Microsoft.Network/loadBalancers",
      "name": "[concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name''))]",
      "location": "[variables(''computeLocation'')]", "dependsOn": ["[concat(''Microsoft.Network/publicIPAddresses/'',concat(variables(''lbIPName''),''-'',''0''))]"],
      "properties": {"frontendIPConfigurations": [{"name": "LoadBalancerIPConfig",
      "properties": {"publicIPAddress": {"id": "[resourceId(''Microsoft.Network/publicIPAddresses'',concat(variables(''lbIPName''),''-'',''0''))]"}}}],
      "backendAddressPools": [{"name": "LoadBalancerBEAddressPool", "properties":
      {}}], "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[variables(''nt0fabricTcpGatewayPort'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricTcpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbProbeID0'')]"}, "protocol": "tcp"}}, {"name":
      "LBHttpRule", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbHttpProbeID0'')]"}, "protocol": "tcp"}},
      {"name": "AppPortLBRule1", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[parameters(''loadBalancedAppPort1'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort1'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe1'')]"},
      "protocol": "tcp"}}, {"name": "AppPortLBRule2", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[parameters(''loadBalancedAppPort2'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort2'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe2'')]"},
      "protocol": "tcp"}}], "probes": [{"name": "FabricGatewayProbe", "properties":
      {"intervalInSeconds": 5, "numberOfProbes": 2, "port": "[variables(''nt0fabricTcpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "FabricHttpGatewayProbe", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[variables(''nt0fabricHttpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe1", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(''loadBalancedAppPort1'')]", "protocol":
      "tcp"}}, {"name": "AppPortProbe2", "properties": {"intervalInSeconds": 5, "numberOfProbes":
      2, "port": "[parameters(''loadBalancedAppPort2'')]", "protocol": "tcp"}}], "inboundNatPools":
      [{"name": "LoadBalancerBEAddressNatPool", "properties": {"backendPort": "3389",
      "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"}, "frontendPortRangeEnd":
      "4500", "frontendPortRangeStart": "3389", "protocol": "tcp"}}]}, "tags": {"resourceType":
      "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion":
      "[variables(''vmssApiVersion'')]", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "[variables(''vmNodeType0Name'')]", "location": "[variables(''computeLocation'')]",
      "dependsOn": ["[concat(''Microsoft.Network/virtualNetworks/'', variables(''virtualNetworkName''))]",
      "[concat(''Microsoft.Network/loadBalancers/'', concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''supportLogStorageAccountName''))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''applicationDiagnosticsStorageAccountName''))]"],
      "properties": {"overprovision": "[variables(''overProvision'')]", "upgradePolicy":
      {"mode": "Automatic"}, "virtualMachineProfile": {"extensionProfile": {"extensions":
      [{"name": "[concat(''ServiceFabricNodeVmExt'',''_vmNodeType0Name'')]", "properties":
      {"type": "ServiceFabricNode", "autoUpgradeMinorVersion": false, "protectedSettings":
      {"StorageAccountKey1": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key1]",
      "StorageAccountKey2": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key2]"},
      "publisher": "Microsoft.Azure.ServiceFabric", "settings": {"clusterEndpoint":
      "[reference(parameters(''clusterName'')).clusterEndpoint]", "nodeTypeRef": "[variables(''vmNodeType0Name'')]",
      "dataPath": "D:\\\\SvcFab", "durabilityLevel": "[parameters(''durabilityLevel'')]",
      "nicPrefixOverride": "[variables(''subnet0Prefix'')]", "certificate": {"thumbprint":
      "[parameters(''certificateThumbprint'')]", "x509StoreName": "[parameters(''certificateStoreValue'')]"}},
      "typeHandlerVersion": "1.1"}}, {"name": "[concat(''VMDiagnosticsVmExt'',''_vmNodeType0Name'')]",
      "properties": {"type": "IaaSDiagnostics", "autoUpgradeMinorVersion": true, "protectedSettings":
      {"storageAccountName": "[variables(''applicationDiagnosticsStorageAccountName'')]",
      "storageAccountKey": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''applicationDiagnosticsStorageAccountName'')),''2015-05-01-preview'').key1]",
      "storageAccountEndPoint": "https://core.windows.net/"}, "publisher": "Microsoft.Azure.Diagnostics",
      "settings": {"WadCfg": {"DiagnosticMonitorConfiguration": {"overallQuotaInMB":
      "50000", "EtwProviders": {"EtwEventSourceProviderConfiguration": [{"provider":
      "Microsoft-ServiceFabric-Actors", "scheduledTransferKeywordFilter": "1", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableActorEventTable"}},
      {"provider": "Microsoft-ServiceFabric-Services", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableServiceEventTable"}}],
      "EtwManifestProviderConfiguration": [{"provider": "cbd93bc2-71e5-4566-b3a7-595d8eeca6e8",
      "scheduledTransferLogLevelFilter": "Information", "scheduledTransferKeywordFilter":
      "4611686018427387904", "scheduledTransferPeriod": "PT5M", "DefaultEvents": {"eventDestination":
      "ServiceFabricSystemEventTable"}}]}}}, "StorageAccount": "[variables(''applicationDiagnosticsStorageAccountName'')]"},
      "typeHandlerVersion": "1.5"}}]}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "[concat(variables(''nicName''), ''-0'')]", "properties": {"ipConfigurations":
      [{"name": "[concat(variables(''nicName''),''-'',0)]", "properties": {"loadBalancerBackendAddressPools":
      [{"id": "[variables(''lbPoolID0'')]"}], "loadBalancerInboundNatPools": [{"id":
[...]
