interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-26T09:50:59Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg3weng6b37lxk?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/clitestrg3weng6b37lxk''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"674368bb-7eaa-4100-aef7-138f65f50648","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2021-12-15T06:30:52Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Taoxu
        Zeng (WICRESOFT NORTH AMERICA LTD)","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"v-taoxuzeng@microsoft.com","mailNickname":"v-taoxuzeng_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["v-taoxuzeng@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:v-taoxuzeng@microsoft.com"],"refreshTokensValidFromDateTime":"2021-12-15T06:30:51Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/674368bb-7eaa-4100-aef7-138f65f50648/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"v-taoxuzeng_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2021-12-15T06:56:35Z","userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '11237317'
      ocp-aad-diagnostics-server-name:
      - dlruLRKYbhBW2mfc0+iKDc92P9jMu/J1H8ejOjEdllI=
      ocp-aad-session-key:
      - oiWlFlC4FHRFpIL_lqM2o5ZI7crAKSuzrANP3Wm7921SleyQkiAmrDxKoAF6tsTDme_wSaD6NAzudjpMukvSOQrwsBUmPkA0bBFMa8cl-cFa-VZybp39V2F19nz4TwhA.Rce5In1p43tfP7WLu3UN87u3wMWV3ykPPcuAuFstboc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "674368bb-7eaa-4100-aef7-138f65f50648",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore"], "secrets": ["get", "list", "set", "delete", "backup",
      "restore", "recover"], "certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"]}}], "enabledForDeployment": true, "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false, "publicNetworkAccess":
      "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg3weng6b37lxk?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg3weng6b37lxk","name":"clitestrg3weng6b37lxk","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdByType":"User","createdAt":"2022-05-26T09:51:09.832Z","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-26T09:51:09.832Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"674368bb-7eaa-4100-aef7-138f65f50648","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://clitestrg3weng6b37lxk.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1181'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=sfrp-cli-000004", "key_usage": ["cRLSign", "dataEncipherment",
      "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months":
      12}, "lifetime_actions": [{"trigger": {"days_before_expiry": 90}, "action":
      {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}, "attributes": {"enabled":
      true}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktZnlzamJ3dGJsbWd5MjNhMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvFUsu51p8DFHMSqEpHIqG+YOCHgU4ontTKBvsJDY9cmN2wCjZnP4FEyY6zX8FlnfHcj66yF8NzAD5AVmJDH5zP7miKtDvb02Cpqnz3L1AZvsrhOZeKn8HKjyPB/tnpUVHSKuqDz5Ol/02ciqlo0CFxwPCB6o7k8Ik2m9dw0G67XQwlcFI499nophGEX/mZVJ4D+d1cPFlKYD4p3XD0chXiqij5pWH4lIAPnd/vCRDDPUuJEPE8N51FG7DSE1r2Yk8a8Yj4YzPX8lkk5tEt2jvy+36UM5uclrk0LQn6Quvc/yuZkl5ZJdYgM8Z0V5Q8R7v1JRIvKYn5tXtv+BHB829QIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAHvb5BzPBkU4JWfeS3s66tsZwAryAfRvaLUpxMjIuwkiSHBzL3+EFfyLWQZQI+/kuIwMLTcrR6EUaQo2agThkbHCAZEXcupkVKPFMFLYIe+qK/7TyS/lHQsD8fjrC04Hsa3hcRcLmFcXfk9OYctcQL+vxd1P8MARjcRvE0ZLgU59O00JCBGlqRCEayJS63q4vRHuicbm+9cDjuaSOvs/EGMbMLuk97GFR7tfN8bKXaQdIfsMjLZ53F/YnfvT+Myk2Lv9G6LBxM8ixYdCgcrFHiWj8QZnD+uujLR1P6Jvq4C56BguxOs6Y14+kjAdHg4qEmMqRBTzDGY+M6WnVb6rcZ0=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"9913cec61d0d4a0289db430ef9e28c86"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0&request_id=9913cec61d0d4a0289db430ef9e28c86
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktZnlzamJ3dGJsbWd5MjNhMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvFUsu51p8DFHMSqEpHIqG+YOCHgU4ontTKBvsJDY9cmN2wCjZnP4FEyY6zX8FlnfHcj66yF8NzAD5AVmJDH5zP7miKtDvb02Cpqnz3L1AZvsrhOZeKn8HKjyPB/tnpUVHSKuqDz5Ol/02ciqlo0CFxwPCB6o7k8Ik2m9dw0G67XQwlcFI499nophGEX/mZVJ4D+d1cPFlKYD4p3XD0chXiqij5pWH4lIAPnd/vCRDDPUuJEPE8N51FG7DSE1r2Yk8a8Yj4YzPX8lkk5tEt2jvy+36UM5uclrk0LQn6Quvc/yuZkl5ZJdYgM8Z0V5Q8R7v1JRIvKYn5tXtv+BHB829QIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAHvb5BzPBkU4JWfeS3s66tsZwAryAfRvaLUpxMjIuwkiSHBzL3+EFfyLWQZQI+/kuIwMLTcrR6EUaQo2agThkbHCAZEXcupkVKPFMFLYIe+qK/7TyS/lHQsD8fjrC04Hsa3hcRcLmFcXfk9OYctcQL+vxd1P8MARjcRvE0ZLgU59O00JCBGlqRCEayJS63q4vRHuicbm+9cDjuaSOvs/EGMbMLuk97GFR7tfN8bKXaQdIfsMjLZ53F/YnfvT+Myk2Lv9G6LBxM8ixYdCgcrFHiWj8QZnD+uujLR1P6Jvq4C56BguxOs6Y14+kjAdHg4qEmMqRBTzDGY+M6WnVb6rcZ0=","cancellation_requested":false,"status":"completed","target":"https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004","request_id":"9913cec61d0d4a0289db430ef9e28c86"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/?api-version=7.0
  response:
    body:
      string: '{"id":"https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/3874d298a828441fbbdc081d39309437","kid":"https://clitestrg3weng6b37lxk.vault.azure.net/keys/sfrp-cli-000004/3874d298a828441fbbdc081d39309437","sid":"https://clitestrg3weng6b37lxk.vault.azure.net/secrets/sfrp-cli-000004/3874d298a828441fbbdc081d39309437","x5t":"pEEMVD7dzB7gOunjr4qL6TlP2og","cer":"MIIDTDCCAjSgAwIBAgIQNnt5T7WgTkKbq3LX6rzJ+jANBgkqhkiG9w0BAQsFADAjMSEwHwYDVQQDExhzZnJwLWNsaS1meXNqYnd0YmxtZ3kyM2EwHhcNMjIwNTI2MDk0MjA2WhcNMjMwNTI2MDk1MjA2WjAjMSEwHwYDVQQDExhzZnJwLWNsaS1meXNqYnd0YmxtZ3kyM2EwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC8VSy7nWnwMUcxKoSkciob5g4IeBTiie1MoG+wkNj1yY3bAKNmc/gUTJjrNfwWWd8dyPrrIXw3MAPkBWYkMfnM/uaIq0O9vTYKmqfPcvUBm+yuE5l4qfwcqPI8H+2elRUdIq6oPPk6X/TZyKqWjQIXHA8IHqjuTwiTab13DQbrtdDCVwUjj32eimEYRf+ZlUngP53Vw8WUpgPindcPRyFeKqKPmlYfiUgA+d3+8JEMM9S4kQ8Tw3nUUbsNITWvZiTxrxiPhjM9fyWSTm0S3aO/L7fpQzm5yWuTQtCfpC69z/K5mSXlkl1iAzxnRXlDxHu/UlEi8pifm1e2/4EcHzb1AgMBAAGjfDB6MA4GA1UdDwEB/wQEAwIBvjAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBQLfxkeOrXIdiGKx7H8NJPOPTr8zDAdBgNVHQ4EFgQUC38ZHjq1yHYhisex/DSTzj06/MwwDQYJKoZIhvcNAQELBQADggEBAKLJQXrNeQ5Shxo6o2fnGsomtXZYLDlNyK/mBmQ6Dc+63fOB/IwdrtTpx8lMaackcSTEzifndOj9UFYmTjNqok8H2FDmNr8CCJIu4C3n0MQPYPg3+92LpmMlZku5dHViWD4yoId6Hu/JFXeZpT4El7ZXpSXmoc7zFIQ0YUd3fch9mh5yJpIn1wo5e2wkEr2ZL0crvt5AGndTS0bY1KxwJrUFXHIV9QBIeejd2e7Sxp2l67v3Hj4n7BWJ8RE4riZR4ujkW9qtvZ8i4+clOWlxTMScw00hpbJaoGxObkBA5mnzXIw89Kgau4los+nvfUPpQJKLiJhyfWWPHrxOazrOoys=","attributes":{"enabled":true,"nbf":1653558126,"exp":1685094726,"created":1653558726,"updated":1653558726,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=sfrp-cli-000004","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1653558724,"updated":1653558724}},"pending":{"id":"https://clitestrg3weng6b37lxk.vault.azure.net/certificates/sfrp-cli-000004/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"clusterLocation": {"type": "string",
      "metadata": {"description": "Location of the Cluster"}}, "clusterName": {"type":
      "string", "metadata": {"description": "Name of your cluster - Between 3 and
      23 characters. Letters and numbers only"}}, "adminUserName": {"type": "string",
      "metadata": {"description": "Remote desktop user Id"}}, "durabilityLevel": {"type":
      "string", "metadata": {"description": "The durability level"}}, "reliabilityLevel":
      {"type": "string", "metadata": {"description": "The reliability level"}}, "adminPassword":
      {"type": "securestring", "metadata": {"description": "Remote desktop user password.
      Must be a strong password"}}, "vmImagePublisher": {"type": "string", "defaultValue":
      "MicrosoftWindowsServer", "metadata": {"description": "VM image Publisher"}},
      "vmImageOffer": {"type": "string", "defaultValue": "WindowsServer", "metadata":
      {"description": "VM image offer"}}, "vmImageSku": {"type": "string", "metadata":
      {"description": "VM image SKU"}}, "vmSku": {"type": "string", "metadata": {"description":
      "VM SKU"}}, "vmImageVersion": {"type": "string", "defaultValue": "latest", "metadata":
      {"description": "VM image version"}}, "loadBalancedAppPort1": {"type": "int",
      "defaultValue": 80, "metadata": {"description": "Input endpoint1 for the application
      to use. Replace it with what your application uses"}}, "loadBalancedAppPort2":
      {"type": "int", "defaultValue": 8081, "metadata": {"description": "Input endpoint2
      for the application to use. Replace it with what your application uses"}}, "certificateStoreValue":
      {"type": "string", "allowedValues": ["My"], "defaultValue": "My", "metadata":
      {"description": "The store name where the cert will be deployed in the virtual
      machine"}}, "certificateThumbprint": {"type": "string", "metadata": {"description":
      "Certificate Thumbprint"}}, "sourceVaultValue": {"type": "string", "metadata":
      {"description": "Resource Id of the key vault, is should be in the format of
      /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault
      name>"}}, "certificateUrlValue": {"type": "string", "metadata": {"description":
      "Refers to the location URL in your key vault where the certificate was uploaded,
      it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact
      location>"}}, "clusterProtectionLevel": {"type": "string", "allowedValues":
      ["None", "Sign", "EncryptAndSign"], "defaultValue": "EncryptAndSign", "metadata":
      {"description": "Protection level.Three values are allowed - EncryptAndSign,
      Sign, None. It is best to keep the default of EncryptAndSign, unless you have
      a need not to"}}, "storageAccountType": {"type": "string", "allowedValues":
      ["Standard_LRS", "Standard_GRS"], "defaultValue": "Standard_LRS", "metadata":
      {"description": "Replication option for the VM image storage account"}}, "supportLogStorageAccountType":
      {"type": "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the support
      log storage account"}}, "applicationDiagnosticsStorageAccountType": {"type":
      "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the application
      diagnostics storage account"}}, "nt0InstanceCount": {"type": "int", "metadata":
      {"description": "Instance count for node type"}}}, "variables": {"computeLocation":
      "[parameters(''clusterLocation'')]", "dnsName": "[parameters(''clusterName'')]",
      "vmName": "vm", "publicIPAddressName": "PublicIP-VM", "publicIPAddressType":
      "Dynamic", "vmStorageAccountContainerName": "vhds", "virtualNetworkName": "VNet",
      "addressPrefix": "10.0.0.0/16", "nicName": "NIC", "lbName": "LoadBalancer",
      "lbIPName": "PublicIP-LB-FE", "availSetName": "AvailabilitySet", "maxPercentUpgradeDomainDeltaUnhealthyNodes":
      "100", "vnetID": "[resourceId(''Microsoft.Network/virtualNetworks'',variables(''virtualNetworkName''))]",
      "overProvision": "false", "vmssApiVersion": "2017-03-30", "lbApiVersion": "2015-06-15",
      "vNetApiVersion": "2015-06-15", "storageApiVersion": "2016-01-01", "publicIPApiVersion":
      "2015-06-15", "nt0applicationStartPort": "20000", "nt0applicationEndPort": "30000",
      "nt0ephemeralStartPort": "49152", "nt0ephemeralEndPort": "65534", "nt0fabricTcpGatewayPort":
      "19000", "nt0fabricHttpGatewayPort": "19080", "subnet0Name": "Subnet-0", "subnet0Prefix":
      "10.0.0.0/24", "subnet0Ref": "[concat(variables(''vnetID''),''/subnets/'',variables(''subnet0Name''))]",
      "supportLogStorageAccountName": "[toLower( concat(''sflogs'', uniqueString(resourceGroup().id),''2''))]",
      "applicationDiagnosticsStorageAccountName": "[toLower(concat(uniqueString(resourceGroup().id),
      ''3'' ))]", "lbID0": "[resourceId(''Microsoft.Network/loadBalancers'',concat(''LB'',''-'',
      parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]", "lbIPConfig0":
      "[concat(variables(''lbID0''),''/frontendIPConfigurations/LoadBalancerIPConfig'')]",
      "lbPoolID0": "[concat(variables(''lbID0''),''/backendAddressPools/LoadBalancerBEAddressPool'')]",
      "lbProbeID0": "[concat(variables(''lbID0''),''/probes/FabricGatewayProbe'')]",
      "lbHttpProbeID0": "[concat(variables(''lbID0''),''/probes/FabricHttpGatewayProbe'')]",
      "lbNatPoolID0": "[concat(variables(''lbID0''),''/inboundNatPools/LoadBalancerBEAddressNatPool'')]",
      "vmNodeType0Name": "[toLower(concat(''NT1'', variables(''vmName'')))]", "vmNodeType0Size":
      "[parameters(''vmSku'')]"}, "resources": [{"apiVersion": "[variables(''storageApiVersion'')]",
      "type": "Microsoft.Storage/storageAccounts", "name": "[variables(''supportLogStorageAccountName'')]",
      "location": "[variables(''computeLocation'')]", "dependsOn": [], "properties":
      {}, "kind": "Storage", "sku": {"name": "[parameters(''supportLogStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''storageApiVersion'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(''applicationDiagnosticsStorageAccountName'')]", "location":
      "[variables(''computeLocation'')]", "dependsOn": [], "properties": {}, "kind":
      "Storage", "sku": {"name": "[parameters(''applicationDiagnosticsStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''vNetApiVersion'')]", "type": "Microsoft.Network/virtualNetworks",
      "name": "[variables(''virtualNetworkName'')]", "location": "[variables(''computeLocation'')]",
      "properties": {"addressSpace": {"addressPrefixes": ["[variables(''addressPrefix'')]"]},
      "subnets": [{"name": "[variables(''subnet0Name'')]", "properties": {"addressPrefix":
      "[variables(''subnet0Prefix'')]"}}]}, "tags": {"resourceType": "Service Fabric",
      "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion": "[variables(''publicIPApiVersion'')]",
      "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(variables(''lbIPName''),''-'',''0'')]",
      "location": "[variables(''computeLocation'')]", "properties": {"dnsSettings":
      {"domainNameLabel": "[variables(''dnsName'')]"}, "publicIPAllocationMethod":
      "Dynamic"}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''lbApiVersion'')]", "type": "Microsoft.Network/loadBalancers",
      "name": "[concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name''))]",
      "location": "[variables(''computeLocation'')]", "dependsOn": ["[concat(''Microsoft.Network/publicIPAddresses/'',concat(variables(''lbIPName''),''-'',''0''))]"],
      "properties": {"frontendIPConfigurations": [{"name": "LoadBalancerIPConfig",
      "properties": {"publicIPAddress": {"id": "[resourceId(''Microsoft.Network/publicIPAddresses'',concat(variables(''lbIPName''),''-'',''0''))]"}}}],
      "backendAddressPools": [{"name": "LoadBalancerBEAddressPool", "properties":
      {}}], "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[variables(''nt0fabricTcpGatewayPort'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricTcpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbProbeID0'')]"}, "protocol": "tcp"}}, {"name":
      "LBHttpRule", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbHttpProbeID0'')]"}, "protocol": "tcp"}},
      {"name": "AppPortLBRule1", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[parameters(''loadBalancedAppPort1'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort1'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe1'')]"},
      "protocol": "tcp"}}, {"name": "AppPortLBRule2", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[parameters(''loadBalancedAppPort2'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort2'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe2'')]"},
      "protocol": "tcp"}}], "probes": [{"name": "FabricGatewayProbe", "properties":
      {"intervalInSeconds": 5, "numberOfProbes": 2, "port": "[variables(''nt0fabricTcpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "FabricHttpGatewayProbe", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[variables(''nt0fabricHttpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe1", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(''loadBalancedAppPort1'')]", "protocol":
      "tcp"}}, {"name": "AppPortProbe2", "properties": {"intervalInSeconds": 5, "numberOfProbes":
      2, "port": "[parameters(''loadBalancedAppPort2'')]", "protocol": "tcp"}}], "inboundNatPools":
      [{"name": "LoadBalancerBEAddressNatPool", "properties": {"backendPort": "3389",
      "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"}, "frontendPortRangeEnd":
      "4500", "frontendPortRangeStart": "3389", "protocol": "tcp"}}]}, "tags": {"resourceType":
      "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion":
      "[variables(''vmssApiVersion'')]", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "[variables(''vmNodeType0Name'')]", "location": "[variables(''computeLocation'')]",
      "dependsOn": ["[concat(''Microsoft.Network/virtualNetworks/'', variables(''virtualNetworkName''))]",
      "[concat(''Microsoft.Network/loadBalancers/'', concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''supportLogStorageAccountName''))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''applicationDiagnosticsStorageAccountName''))]"],
      "properties": {"overprovision": "[variables(''overProvision'')]", "upgradePolicy":
      {"mode": "Automatic"}, "virtualMachineProfile": {"extensionProfile": {"extensions":
      [{"name": "[concat(''ServiceFabricNodeVmExt'',''_vmNodeType0Name'')]", "properties":
      {"type": "ServiceFabricNode", "autoUpgradeMinorVersion": false, "protectedSettings":
      {"StorageAccountKey1": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key1]",
      "StorageAccountKey2": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key2]"},
      "publisher": "Microsoft.Azure.ServiceFabric", "settings": {"clusterEndpoint":
      "[reference(parameters(''clusterName'')).clusterEndpoint]", "nodeTypeRef": "[variables(''vmNodeType0Name'')]",
      "dataPath": "D:\\\\SvcFab", "durabilityLevel": "[parameters(''durabilityLevel'')]",
      "nicPrefixOverride": "[variables(''subnet0Prefix'')]", "certificate": {"thumbprint":
      "[parameters(''certificateThumbprint'')]", "x509StoreName": "[parameters(''certificateStoreValue'')]"}},
      "typeHandlerVersion": "1.1"}}, {"name": "[concat(''VMDiagnosticsVmExt'',''_vmNodeType0Name'')]",
      "properties": {"type": "IaaSDiagnostics", "autoUpgradeMinorVersion": true, "protectedSettings":
      {"storageAccountName": "[variables(''applicationDiagnosticsStorageAccountName'')]",
      "storageAccountKey": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''applicationDiagnosticsStorageAccountName'')),''2015-05-01-preview'').key1]",
      "storageAccountEndPoint": "https://core.windows.net/"}, "publisher": "Microsoft.Azure.Diagnostics",
      "settings": {"WadCfg": {"DiagnosticMonitorConfiguration": {"overallQuotaInMB":
      "50000", "EtwProviders": {"EtwEventSourceProviderConfiguration": [{"provider":
      "Microsoft-ServiceFabric-Actors", "scheduledTransferKeywordFilter": "1", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableActorEventTable"}},
      {"provider": "Microsoft-ServiceFabric-Services", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableServiceEventTable"}}],
      "EtwManifestProviderConfiguration": [{"provider": "cbd93bc2-71e5-4566-b3a7-595d8eeca6e8",
      "scheduledTransferLogLevelFilter": "Information", "scheduledTransferKeywordFilter":
      "4611686018427387904", "scheduledTransferPeriod": "PT5M", "DefaultEvents": {"eventDestination":
      "ServiceFabricSystemEventTable"}}]}}}, "StorageAccount": "[variables(''applicationDiagnosticsStorageAccountName'')]"},
      "typeHandlerVersion": "1.5"}}]}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "[concat(variables(''nicName''), ''-0'')]", "properties": {"ipConfigurations":
      [{"name": "[concat(variables(''nicName''),''-'',0)]", "properties": {"loadBalancerBackendAddressPools":
      [{"id": "[variables(''lbPoolID0'')]"}], "loadBalancerInboundNatPools": [{"id":
      "[variables(''lbNatPoolID0'')]"}], "subnet": {"id": "[variables(''subnet0Ref'')]"}}}],
      "primary": true}}]}, "osProfile": {"adminPassword": "[parameters(''adminPassword'')]",
      "adminUsername": "[parameters(''adminUsername'')]", "computernamePrefix": "[variables(''vmNodeType0Name'')]",
      "secrets": [{"sourceVault": {"id": "[parameters(''sourceVaultValue'')]"}, "vaultCertificates":
[...]
