interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-09T14:39:46Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "sku": {"name": "Basic"}, "properties": {"dnsName":
      "sfrp-cli-000002", "clientConnectionPort": 19000, "httpGatewayConnectionPort":
      19080, "adminUserName": "vmadmin", "adminPassword": "Pass@000003", "clients":
      [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}],
      "zonalResiliency": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"azureclilivetest@azuresdkteam.onmicrosoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-01-09T14:39:52.1125012+00:00\",\r\n
        \   \"lastModifiedBy\": \"azureclilivetest@azuresdkteam.onmicrosoft.com\",\r\n
        \   \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2023-01-09T14:39:52.1125012+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Creating\",\r\n    \"clusterId\": \"abdf9267-f86a-4550-a88c-2df7f02ed1fe\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n    \"clusterCertificateThumbprints\":
        [],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/85ad0002-d5ed-4c9b-8cff-86c8e1742f1b?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/85ad0002-d5ed-4c9b-8cff-86c8e1742f1b?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"85ad0002-d5ed-4c9b-8cff-86c8e1742f1b\",\r\n  \"startTime\":
        \"2023-01-09T14:39:55.0295254Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n
        \ \"percentComplete\": 30.0,\r\n  \"status\": \"Created\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"azureclilivetest@azuresdkteam.onmicrosoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-01-09T14:39:52.1125012+00:00\",\r\n
        \   \"lastModifiedBy\": \"azureclilivetest@azuresdkteam.onmicrosoft.com\",\r\n
        \   \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2023-01-09T14:39:52.1125012+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"abdf9267-f86a-4550-a88c-2df7f02ed1fe\",\r\n
        \   \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeMode\":
        \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\": false,\r\n    \"clusterUpgradeCadence\":
        \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n
        \   \"fqdn\": \"sfrp-cli-000002.eastasia.cloudapp.azure.com\",\r\n    \"ipv4Address\":
        \"20.24.65.114\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"FC78B6838D067FDDDB77795867FAB8E120B759EE\"\r\n
        \   ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer",
      "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion":
      "latest", "isStateless": false, "multiplePlacementGroups": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodetypes/pnt\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n
        \   \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n
        \   \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n
        \   \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"dataDiskType\":
        \"StandardSSD_LRS\",\r\n    \"placementProperties\": {},\r\n    \"capacities\":
        {},\r\n    \"vmExtensions\": [],\r\n    \"isStateless\": false,\r\n    \"multiplePlacementGroups\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/9c8e0002-ffe1-4c72-b171-d341c5ae4632?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"azureclilivetest@azuresdkteam.onmicrosoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-01-09T14:39:52.1125012+00:00\",\r\n
        \   \"lastModifiedBy\": \"azureclilivetest@azuresdkteam.onmicrosoft.com\",\r\n
        \   \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2023-01-09T14:39:52.1125012+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"abdf9267-f86a-4550-a88c-2df7f02ed1fe\",\r\n
        \   \"clusterState\": \"Ready\",\r\n    \"clusterCodeVersion\": \"9.1.1390.9590\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n    \"fqdn\": \"sfrp-cli-000002.eastasia.cloudapp.azure.com\",\r\n
        \   \"ipv4Address\": \"20.24.65.114\",\r\n    \"clusterCertificateThumbprints\":
        [\r\n      \"FC78B6838D067FDDDB77795867FAB8E120B759EE\"\r\n    ],\r\n    \"clientConnectionPort\":
        19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\":
        false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedclusters/sfrp-cli-000002/applicationTypes?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "tags": {"key1": "value1", "key2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedclusters/sfrp-cli-000002/applicationTypes/VotingType?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/man[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedclusters/sfrp-cli-000002/applicationTypes/VotingType?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"GetEntityFromTable: the ApplicationTypeData
        abdf9267-f86a-4550-a88c-2df7f02ed1fe&votingtype could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
