interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/create?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "sans": {}, "key_usage":
      ["cRLSign", "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement",
      "keyCertSign"], "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/create?api-version=7.4
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ4vhBJ1OWiH/xiyj6/COYmDqL/JpH7az1FEYLV3vYyHJstEVV943axtXN2CvXlIzKZMg5Hvf/EY6ODGeJq0TUllVOcNg6zV94HClHt4NOmLllz/Cfz3Y+P4GvHg1PTVen3bJkvzbWhaKqZteC0P7hNOTBYHuFnhPXDZqalfuTx8Mm7x9f/ClonxDS57G9t12gT1Jj41A5b6qsYYeYrz7N5fJEs+ZPtUoszbWL6ZMO5gcLo8SF9JUmQj1ukjoW9S1YSR7GIz+LXCRqrP1I1epA7X7GE2SdOn9+4S6EPTDXqgXh5URIo4Dm/lPGm4oBbz+f6AepJ3hzlkcTXIakvcIJUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAYjaEnT/vpjuXurf2eTWDe6c+qeiU6BEw6TLrcaRynUZppl7cWBPqKLNPf2oujBXYo6CdcqkfmER2i+tMHzX67pYgZZdvBRWPFMoXXrYAQF9iGz12CBIp/H2c3kGFesdpkayNoks3ncTEBbmm0wiXQfGtkjGzQACQjmIa2sdbH8nTUIQN6v32SjPG0wY11smmpSfsU72OmXtn6erFFCAQ9nv8aAf/WEEfAjJmINRazSoC+69u0x2YaRzVY0EoxcsqbmbA0S7DjXNSb69pcIzNfM4tWFFecEOEtCWLlgsQUCODCndpmjX+9OA1XD7zia1/IQ3Uo3k1XEtURjnWZHC5M","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"574f98af0c57452db1784e53d13fd287"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.4&request_id=574f98af0c57452db1784e53d13fd287
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ4vhBJ1OWiH/xiyj6/COYmDqL/JpH7az1FEYLV3vYyHJstEVV943axtXN2CvXlIzKZMg5Hvf/EY6ODGeJq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ4vhBJ1OWiH/xiyj6/COYmDqL/JpH7az1FEYLV3vYyHJstEVV943axtXN2CvXlIzKZMg5Hvf/EY6ODGeJq0TUllVOcNg6zV94HClHt4NOmLllz/Cfz3Y+P4GvHg1PTVen3bJkvzbWhaKqZteC0P7hNOTBYHuFnhPXDZqalfuTx8Mm7x9f/ClonxDS57G9t12gT1Jj41A5b6qsYYeYrz7N5fJEs+ZPtUoszbWL6ZMO5gcLo8SF9JUmQj1ukjoW9S1YSR7GIz+LXCRqrP1I1epA7X7GE2SdOn9+4S6EPTDXqgXh5URIo4Dm/lPGm4oBbz+f6AepJ3hzlkcTXIakvcIJUCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQAYjaEnT/vpjuXurf2eTWDe6c+qeiU6BEw6TLrcaRynUZppl7cWBPqKLNPf2oujBXYo6CdcqkfmER2i+tMHzX67pYgZZdvBRWPFMoXXrYAQF9iGz12CBIp/H2c3kGFesdpkayNoks3ncTEBbmm0wiXQfGtkjGzQACQjmIa2sdbH8nTUIQN6v32SjPG0wY11smmpSfsU72OmXtn6erFFCAQ9nv8aAf/WEEfAjJmINRazSoC+69u0x2YaRzVY0EoxcsqbmbA0S7DjXNSb69pcIzNfM4tWFFecEOEtCWLlgsQUCODCndpmjX+9OA1XD7zia1/IQ3Uo3k1XEtURjnWZHC5M","cancellation_requested":false,"status":"completed","target":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003","request_id":"574f98af0c57452db1784e53d13fd287"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/?api-version=7.4
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/4d2f59597c494f32b362ddc972adaffa","kid":"https://sfrp-cli-kv-000002.vault.azure.net/keys/sfrp-cli-000003/4d2f59597c494f32b362ddc972adaffa","sid":"https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000003/4d2f59597c494f32b362ddc972adaffa","x5t":"wSt_0q5jCq86GMoXEqGSDPpIxH0","cer":"MIIDQjCCAiqgAwIBAgIQTQz1+9imTGygmnJkYEuaFjANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTI0MDMwNDE0MDgwNFoXDTI1MDMwNDE0MTgwNFowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ4vhBJ1OWiH/xiyj6/COYmDqL/JpH7az1FEYLV3vYyHJstEVV943axtXN2CvXlIzKZMg5Hvf/EY6ODGeJq0TUllVOcNg6zV94HClHt4NOmLllz/Cfz3Y+P4GvHg1PTVen3bJkvzbWhaKqZteC0P7hNOTBYHuFnhPXDZqalfuTx8Mm7x9f/ClonxDS57G9t12gT1Jj41A5b6qsYYeYrz7N5fJEs+ZPtUoszbWL6ZMO5gcLo8SF9JUmQj1ukjoW9S1YSR7GIz+LXCRqrP1I1epA7X7GE2SdOn9+4S6EPTDXqgXh5URIo4Dm/lPGm4oBbz+f6AepJ3hzlkcTXIakvcIJUCAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFCUxgnkQbtIcidmirsVjVE2+yfeQMB0GA1UdDgQWBBQlMYJ5EG7SHInZoq7FY1RNvsn3kDANBgkqhkiG9w0BAQsFAAOCAQEAg0rBu4pCZ0p0kXqXqvfvML9oGIxG7iecB3lNODzHNF7wTK0RpPxDkjXUi3YysaZ1yCUFL/hUfhbvy4+Z3E3ZPyPfC1X1BE4hkNyYLqbgsofEXOOGcfZMiyi+D8hrLDvNfoIIdNHC3epXupmfhVkpRk/cyVjGx1oM0wD/G+qkgFXuZ5UnxoAUxf4YYuz1raj0zI8GtfBBE8vOSteC5hGlLDFEMPgjIbmXJCx2b50E+jcpp6BxUVqiD/JIKjUA2f/DiS1aXkA3rCZYV7qT/7XxVgByVKthZxiNbx/LG2avx2kO7onwpJJkpzTtkRhy5AZd4UcOBi+povIEONIkFdh/IA==","attributes":{"enabled":true,"nbf":1709561284,"exp":1741097884,"created":1709561884,"updated":1709561884,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"policy":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","sans":{},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1709561882,"updated":1709561882}},"pending":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_create_cluster_with_separate_kv","date":"2024-03-04T14:17:15Z","module":"servicefabric"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/deekshans-msprg/providers/Microsoft.KeyVault/vaults/deekshans-mspkeyv","name":"deekshans-mspkeyv","type":"Microsoft.KeyVault/vaults","location":"centraluseuap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/deekshans-test/providers/Microsoft.KeyVault/vaults/deekshans-testkv","name":"deekshans-testkv","type":"Microsoft.KeyVault/vaults","location":"centraluseuap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/nariccBase/providers/Microsoft.KeyVault/vaults/nariccBaseKv2","name":"nariccBaseKv2","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/apatrush/providers/Microsoft.KeyVault/vaults/apatrushkv-eu","name":"apatrushkv-eu","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chenfang03011940-rg/providers/Microsoft.KeyVault/vaults/chenfang03011940-rg","name":"chenfang03011940-rg","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{"clusterName":"chenfang03011940","resourceType":"Service
        Fabric"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/apatrush/providers/Microsoft.KeyVault/vaults/apatrushkv-wu","name":"apatrushkv-wu","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/apatrush/providers/Microsoft.KeyVault/vaults/apatrushkv-wcu","name":"apatrushkv-wcu","type":"Microsoft.KeyVault/vaults","location":"westcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/apatrush/providers/Microsoft.KeyVault/vaults/apatrushkv-sc","name":"apatrushkv-sc","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{"SF-EXTEND-TTL":"50000000"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/owencromwell-u2204/providers/Microsoft.KeyVault/vaults/cromwellu2204kv","name":"cromwellu2204kv","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/davidzhang/providers/Microsoft.KeyVault/vaults/dzrsgkv","name":"dzrsgkv","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002","name":"sfrp-cli-kv-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"mwesigwaguma@microsoft.com","createdByType":"User","createdAt":"2024-03-04T14:17:22.416Z","lastModifiedBy":"mwesigwaguma@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-03-04T14:17:22.416Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"7c25af64-9686-4f2b-8350-66e7f1cd6144","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://sfrp-cli-kv-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000003/4d2f59597c494f32b362ddc972adaffa?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"clusterLocation": {"type": "string",
      "metadata": {"description": "Location of the Cluster"}}, "clusterName": {"type":
      "string", "metadata": {"description": "Name of your cluster - Between 3 and
      23 characters. Letters and numbers only"}}, "adminUserName": {"type": "string",
      "metadata": {"description": "Remote desktop user Id"}}, "durabilityLevel": {"type":
      "string", "metadata": {"description": "The durability level"}}, "reliabilityLevel":
      {"type": "string", "metadata": {"description": "The reliability level"}}, "adminPassword":
      {"type": "securestring", "metadata": {"description": "Remote desktop user password.
      Must be a strong password"}}, "vmImagePublisher": {"type": "string", "defaultValue":
      "MicrosoftWindowsServer", "metadata": {"description": "VM image Publisher"}},
      "vmImageOffer": {"type": "string", "defaultValue": "WindowsServer", "metadata":
      {"description": "VM image offer"}}, "vmImageSku": {"type": "string", "metadata":
      {"description": "VM image SKU"}}, "vmSku": {"type": "string", "metadata": {"description":
      "VM SKU"}}, "vmImageVersion": {"type": "string", "defaultValue": "latest", "metadata":
      {"description": "VM image version"}}, "loadBalancedAppPort1": {"type": "int",
      "defaultValue": 80, "metadata": {"description": "Input endpoint1 for the application
      to use. Replace it with what your application uses"}}, "loadBalancedAppPort2":
      {"type": "int", "defaultValue": 8081, "metadata": {"description": "Input endpoint2
      for the application to use. Replace it with what your application uses"}}, "certificateStoreValue":
      {"type": "string", "allowedValues": ["My"], "defaultValue": "My", "metadata":
      {"description": "The store name where the cert will be deployed in the virtual
      machine"}}, "certificateThumbprint": {"type": "string", "metadata": {"description":
      "Certificate Thumbprint"}}, "sourceVaultValue": {"type": "string", "metadata":
      {"description": "Resource Id of the key vault, is should be in the format of
      /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault
      name>"}}, "certificateUrlValue": {"type": "string", "metadata": {"description":
      "Refers to the location URL in your key vault where the certificate was uploaded,
      it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact
      location>"}}, "clusterProtectionLevel": {"type": "string", "allowedValues":
      ["None", "Sign", "EncryptAndSign"], "defaultValue": "EncryptAndSign", "metadata":
      {"description": "Protection level.Three values are allowed - EncryptAndSign,
      Sign, None. It is best to keep the default of EncryptAndSign, unless you have
      a need not to"}}, "storageAccountType": {"type": "string", "allowedValues":
      ["Standard_LRS", "Standard_GRS"], "defaultValue": "Standard_LRS", "metadata":
      {"description": "Replication option for the VM image storage account"}}, "supportLogStorageAccountType":
      {"type": "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the support
      log storage account"}}, "applicationDiagnosticsStorageAccountType": {"type":
      "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the application
      diagnostics storage account"}}, "nt0InstanceCount": {"type": "int", "metadata":
      {"description": "Instance count for node type"}}}, "variables": {"computeLocation":
      "[parameters(''clusterLocation'')]", "dnsName": "[parameters(''clusterName'')]",
      "vmName": "vm", "publicIPAddressName": "PublicIP-VM", "publicIPAddressType":
      "Dynamic", "vmStorageAccountContainerName": "vhds", "virtualNetworkName": "VNet",
      "addressPrefix": "10.0.0.0/16", "nicName": "NIC", "lbName": "LoadBalancer",
      "lbIPName": "PublicIP-LB-FE", "availSetName": "AvailabilitySet", "maxPercentUpgradeDomainDeltaUnhealthyNodes":
      "100", "vnetID": "[resourceId(''Microsoft.Network/virtualNetworks'',variables(''virtualNetworkName''))]",
      "overProvision": "false", "vmssApiVersion": "2017-03-30", "lbApiVersion": "2015-06-15",
      "vNetApiVersion": "2015-06-15", "storageApiVersion": "2016-01-01", "publicIPApiVersion":
      "2015-06-15", "nt0applicationStartPort": "20000", "nt0applicationEndPort": "30000",
      "nt0ephemeralStartPort": "49152", "nt0ephemeralEndPort": "65534", "nt0fabricTcpGatewayPort":
      "19000", "nt0fabricHttpGatewayPort": "19080", "subnet0Name": "Subnet-0", "subnet0Prefix":
      "10.0.0.0/24", "subnet0Ref": "[concat(variables(''vnetID''),''/subnets/'',variables(''subnet0Name''))]",
      "supportLogStorageAccountName": "[toLower( concat(''sflogs'', uniqueString(resourceGroup().id),''2''))]",
      "applicationDiagnosticsStorageAccountName": "[toLower(concat(uniqueString(resourceGroup().id),
      ''3'' ))]", "lbID0": "[resourceId(''Microsoft.Network/loadBalancers'',concat(''LB'',''-'',
      parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]", "lbIPConfig0":
      "[concat(variables(''lbID0''),''/frontendIPConfigurations/LoadBalancerIPConfig'')]",
      "lbPoolID0": "[concat(variables(''lbID0''),''/backendAddressPools/LoadBalancerBEAddressPool'')]",
      "lbProbeID0": "[concat(variables(''lbID0''),''/probes/FabricGatewayProbe'')]",
      "lbHttpProbeID0": "[concat(variables(''lbID0''),''/probes/FabricHttpGatewayProbe'')]",
      "lbNatPoolID0": "[concat(variables(''lbID0''),''/inboundNatPools/LoadBalancerBEAddressNatPool'')]",
      "vmNodeType0Name": "[toLower(concat(''NT1'', variables(''vmName'')))]", "vmNodeType0Size":
      "[parameters(''vmSku'')]"}, "resources": [{"apiVersion": "[variables(''storageApiVersion'')]",
      "type": "Microsoft.Storage/storageAccounts", "name": "[variables(''supportLogStorageAccountName'')]",
      "location": "[variables(''computeLocation'')]", "dependsOn": [], "properties":
      {}, "kind": "Storage", "sku": {"name": "[parameters(''supportLogStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''storageApiVersion'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(''applicationDiagnosticsStorageAccountName'')]", "location":
      "[variables(''computeLocation'')]", "dependsOn": [], "properties": {}, "kind":
      "Storage", "sku": {"name": "[parameters(''applicationDiagnosticsStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''vNetApiVersion'')]", "type": "Microsoft.Network/virtualNetworks",
      "name": "[variables(''virtualNetworkName'')]", "location": "[variables(''computeLocation'')]",
      "properties": {"addressSpace": {"addressPrefixes": ["[variables(''addressPrefix'')]"]},
      "subnets": [{"name": "[variables(''subnet0Name'')]", "properties": {"addressPrefix":
      "[variables(''subnet0Prefix'')]"}}]}, "tags": {"resourceType": "Service Fabric",
      "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion": "[variables(''publicIPApiVersion'')]",
      "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(variables(''lbIPName''),''-'',''0'')]",
      "location": "[variables(''computeLocation'')]", "properties": {"dnsSettings":
      {"domainNameLabel": "[variables(''dnsName'')]"}, "publicIPAllocationMethod":
      "Dynamic"}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''lbApiVersion'')]", "type": "Microsoft.Network/loadBalancers",
      "name": "[concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name''))]",
      "location": "[variables(''computeLocation'')]", "dependsOn": ["[concat(''Microsoft.Network/publicIPAddresses/'',concat(variables(''lbIPName''),''-'',''0''))]"],
      "properties": {"frontendIPConfigurations": [{"name": "LoadBalancerIPConfig",
      "properties": {"publicIPAddress": {"id": "[resourceId(''Microsoft.Network/publicIPAddresses'',concat(variables(''lbIPName''),''-'',''0''))]"}}}],
      "backendAddressPools": [{"name": "LoadBalancerBEAddressPool", "properties":
      {}}], "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[variables(''nt0fabricTcpGatewayPort'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricTcpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbProbeID0'')]"}, "protocol": "tcp"}}, {"name":
      "LBHttpRule", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbHttpProbeID0'')]"}, "protocol": "tcp"}},
      {"name": "AppPortLBRule1", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[parameters(''loadBalancedAppPort1'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort1'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe1'')]"},
      "protocol": "tcp"}}, {"name": "AppPortLBRule2", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[parameters(''loadBalancedAppPort2'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort2'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe2'')]"},
      "protocol": "tcp"}}], "probes": [{"name": "FabricGatewayProbe", "properties":
      {"intervalInSeconds": 5, "numberOfProbes": 2, "port": "[variables(''nt0fabricTcpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "FabricHttpGatewayProbe", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[variables(''nt0fabricHttpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe1", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(''loadBalancedAppPort1'')]", "protocol":
      "tcp"}}, {"name": "AppPortProbe2", "properties": {"intervalInSeconds": 5, "numberOfProbes":
      2, "port": "[parameters(''loadBalancedAppPort2'')]", "protocol": "tcp"}}], "inboundNatPools":
      [{"name": "LoadBalancerBEAddressNatPool", "properties": {"backendPort": "3389",
      "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"}, "frontendPortRangeEnd":
      "4500", "frontendPortRangeStart": "3389", "protocol": "tcp"}}]}, "tags": {"resourceType":
      "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion":
      "[variables(''vmssApiVersion'')]", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "[variables(''vmNodeType0Name'')]", "location": "[variables(''computeLocation'')]",
      "dependsOn": ["[concat(''Microsoft.Network/virtualNetworks/'', variables(''virtualNetworkName''))]",
      "[concat(''Microsoft.Network/loadBalancers/'', concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''supportLogStorageAccountName''))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''applicationDiagnosticsStorageAccountName''))]"],
      "properties": {"overprovision": "[variables(''overProvision'')]", "upgradePolicy":
      {"mode": "Automatic"}, "virtualMachineProfile": {"extensionProfile": {"extensions":
      [{"name": "[concat(''ServiceFabricNodeVmExt'',''_vmNodeType0Name'')]", "properties":
      {"type": "ServiceFabricNode", "autoUpgradeMinorVersion": false, "protectedSettings":
      {"StorageAccountKey1": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key1]",
      "StorageAccountKey2": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key2]"},
      "publisher": "Microsoft.Azure.ServiceFabric", "settings": {"clusterEndpoint":
      "[reference(parameters(''clusterName'')).clusterEndpoint]", "nodeTypeRef": "[variables(''vmNodeType0Name'')]",
      "dataPath": "D:\\\\SvcFab", "durabilityLevel": "[parameters(''durabilityLevel'')]",
      "nicPrefixOverride": "[variables(''subnet0Prefix'')]", "certificate": {"thumbprint":
      "[parameters(''certificateThumbprint'')]", "x509StoreName": "[parameters(''certificateStoreValue'')]"}},
      "typeHandlerVersion": "1.1"}}, {"name": "[concat(''VMDiagnosticsVmExt'',''_vmNodeType0Name'')]",
      "properties": {"type": "IaaSDiagnostics", "autoUpgradeMinorVersion": true, "protectedSettings":
      {"storageAccountName": "[variables(''applicationDiagnosticsStorageAccountName'')]",
      "storageAccountKey": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''applicationDiagnosticsStorageAccountName'')),''2015-05-01-preview'').key1]",
      "storageAccountEndPoint": "https://core.windows.net/"}, "publisher": "Microsoft.Azure.Diagnostics",
      "settings": {"WadCfg": {"DiagnosticMonitorConfiguration": {"overallQuotaInMB":
      "50000", "EtwProviders": {"EtwEventSourceProviderConfiguration": [{"provider":
      "Microsoft-ServiceFabric-Actors", "scheduledTransferKeywordFilter": "1", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableActorEventTable"}},
      {"provider": "Microsoft-ServiceFabric-Services", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableServiceEventTable"}}],
      "EtwManifestProviderConfiguration": [{"provider": "cbd93bc2-71e5-4566-b3a7-595d8eeca6e8",
      "scheduledTransferLogLevelFilter": "Information", "scheduledTransferKeywordFilter":
      "4611686018427387904", "scheduledTransferPeriod": "PT5M", "DefaultEvents": {"eventDestination":
      "ServiceFabricSystemEventTable"}}]}}}, "StorageAccount": "[variables(''applicationDiagnosticsStorageAccountName'')]"},
      "typeHandlerVersion": "1.5"}}]}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "[concat(variables(''nicName''), ''-0'')]", "properties": {"ipConfigurations":
      [{"name": "[concat(variables(''nicName''),''-'',0)]", "properties": {"loadBalancerBackendAddressPools":
      [{"id": "[variables(''lbPoolID0'')]"}], "loadBalancerInboundNatPools": [{"id":
      "[variables(''lbNatPoolID0'')]"}], "subnet": {"id": "[variables(''subnet0Ref'')]"}}}],
      "primary": true}}]}, "osProfile": {"adminPassword": "[parameters(''adminPassword'')]",
      "adminUsername": "[parameters(''adminUsername'')]", "computernamePrefix": "[variables(''vmNodeType0Name'')]",
      "secrets": [{"sourceVault": {"id": "[parameters(''sourceVaultValue'')]"}, "vaultCertificates":
      [{"certificateStore": "[parameters(''certificateStoreValue'')]", "certificateUrl":
      "[parameters(''certificateUrlValue'')]"}]}]}, "storageProfile": {"imageReference":
      {"publisher": "[parameters(''vmImagePublisher'')]", "offer": "[parameters(''vmImageOffer'')]",
      "sku": "[parameters(''vmImageSku'')]", "version": "[parameters(''vmImageVersion'')]"},
      "osDisk": {"caching": "ReadOnly", "createOption": "FromImage", "managedDisk":
      {"storageAccountType": "[parameters(''storageAccountType'')]"}}}}}, "sku": {"name":
      "[variables(''vmNodeType0Size'')]", "capacity": "[parameters(''nt0InstanceCount'')]",
      "tier": "Standard"}, "tags": {"resourceType": "Service Fabric", "clusterName":
[...]
