interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_update_settings_and_reliability","date":"2024-08-27T02:35:30Z","module":"servicefabric"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg000001?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/clitestrg000001''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2021-04-07T05:58:20Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Jingsong
        Zhang (WICRESOFT NORTH AMERICA LTD)","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"v-jingszhang@microsoft.com","mailNickname":"v-jingszhang_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["v-jingszhang@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:v-jingszhang@microsoft.com"],"refreshTokensValidFromDateTime":"2021-04-07T05:58:20Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/d44a2991-98c6-47c3-b59b-2b30d72cfcc2/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"v-jingszhang_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2021-04-07T05:59:39Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '14539186'
      ocp-aad-diagnostics-server-name:
      - i5uVNcNGfwviJr/roS/mquS9eHxYSzhW4UXsNuctVSU=
      ocp-aad-session-key:
      - cpDsjBwZlKDjEm0bNg6EE8vQ89YuopGc-BdcLNJn1Nnu1TNL36NRCdmoeNDGX1O93EUMDZF6B8bAalq7IP-OdJHSCXDCVwXNp05QQbt3WftzqrrezCl4TYrTMK_iJ1aQ.Rr4XdzkCVtoz4jG1SCAXG0uw1PYtFn7PRTKgHZ8e81A
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "d44a2991-98c6-47c3-b59b-2b30d72cfcc2",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore"], "secrets": ["get", "list", "set", "delete", "backup",
      "restore", "recover"], "certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"]}}], "enabledForDeployment": true, "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": false, "publicNetworkAccess":
      "enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg000001?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitestrg000001","name":"clitestrg000001","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"v-jingszhang@microsoft.com","createdByType":"User","createdAt":"2024-08-27T02:35:42.742Z","lastModifiedBy":"v-jingszhang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-27T02:35:42.742Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://clitestrg000001.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=sfrp-cli-000004", "sans": {}, "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/create?api-version=7.4
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktN2hqZGp6Y3ZmdTNmd2J2MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5sF6E+MqDIDFoRSN35OjnABRSVtgv28WvZgpJyU1FSEhhtPXBN2fhSKTrwiT6Fp9CVclFZORYDq3NMBmiy+Xjjt7GoJTaXtq0dkBpJ82tqVstNFRtPCXgR9HYZfskhTbY9oqGJ+Ro25l2d+LmaRdsooyGArUT5qeXmMXu1LkuZbIeEfCItSiqqHVh595qx6BjyWsCGK9F3N6O8UlTUswF9OnzaUo4aHQPTu7xJgWPx5WRdfejLqhc+Q/Tv+bGbA7H6iTVFdZUEUTyjZXQZZimpLhDHhkqhEMKHLT3w5J6XfFCclAmSj0ST1sSh9j4iFiJxLMffD6gAIaOkv7LJ9K7QIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAKQ0YBdRAWeMgh0hKHfv/uRDvYPVMP5XoG2ZGZMFbNCfTe2CHzbVU1ITxTutcROvfL5LfSEaVV/icBS2tijAYH9zpU/KgCnvnDWbzfmJSxKatmew5QnP3TyRVHhCo7ccaAm9zHxSSl1pasAfk+ne1yg2fEkqD5LDaQ1qfBnaGepx10Z9nyXPwI7FiFk+AgNyqa1HIKb1xaicKfKQkW6W8Gg6caoGxcgLrjPHFXmxRujN73cq7vgOZ+UxQjwptGbNm3xw9KZEtspD5M9t/Kn5U3M+6upZizH9bpv95GWTexHhdpZ+5+25FsC0FSEIX76VA6Om1M/z6tXT8WmvMyR3Mcs=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"e4db3698e46f4ee8a37ccf914b1797b8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.4&request_id=e4db3698e46f4ee8a37ccf914b1797b8
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktN2hqZGp6Y3ZmdTNmd2J2MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5sF6E+MqDIDFoRSN35OjnABRSVtgv28WvZgpJyU1FSEhhtPXBN2fhSKTrwiT6Fp9CVclFZORYDq3NMBmi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending","issuer":{"name":"Self"},"csr":"MIICszCCAZsCAQAwIzEhMB8GA1UEAxMYc2ZycC1jbGktN2hqZGp6Y3ZmdTNmd2J2MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5sF6E+MqDIDFoRSN35OjnABRSVtgv28WvZgpJyU1FSEhhtPXBN2fhSKTrwiT6Fp9CVclFZORYDq3NMBmiy+Xjjt7GoJTaXtq0dkBpJ82tqVstNFRtPCXgR9HYZfskhTbY9oqGJ+Ro25l2d+LmaRdsooyGArUT5qeXmMXu1LkuZbIeEfCItSiqqHVh595qx6BjyWsCGK9F3N6O8UlTUswF9OnzaUo4aHQPTu7xJgWPx5WRdfejLqhc+Q/Tv+bGbA7H6iTVFdZUEUTyjZXQZZimpLhDHhkqhEMKHLT3w5J6XfFCclAmSj0ST1sSh9j4iFiJxLMffD6gAIaOkv7LJ9K7QIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAKQ0YBdRAWeMgh0hKHfv/uRDvYPVMP5XoG2ZGZMFbNCfTe2CHzbVU1ITxTutcROvfL5LfSEaVV/icBS2tijAYH9zpU/KgCnvnDWbzfmJSxKatmew5QnP3TyRVHhCo7ccaAm9zHxSSl1pasAfk+ne1yg2fEkqD5LDaQ1qfBnaGepx10Z9nyXPwI7FiFk+AgNyqa1HIKb1xaicKfKQkW6W8Gg6caoGxcgLrjPHFXmxRujN73cq7vgOZ+UxQjwptGbNm3xw9KZEtspD5M9t/Kn5U3M+6upZizH9bpv95GWTexHhdpZ+5+25FsC0FSEIX76VA6Om1M/z6tXT8WmvMyR3Mcs=","cancellation_requested":false,"status":"completed","target":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004","request_id":"e4db3698e46f4ee8a37ccf914b1797b8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/?api-version=7.4
  response:
    body:
      string: '{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/fbd82163288d4f2484af33db7f0480e8","kid":"https://clitestrg000001.vault.azure.net/keys/sfrp-cli-000004/fbd82163288d4f2484af33db7f0480e8","sid":"https://clitestrg000001.vault.azure.net/secrets/sfrp-cli-000004/fbd82163288d4f2484af33db7f0480e8","x5t":"RNtEUBlB5Ub4c4mrzdsC5echH7I","cer":"MIIDTDCCAjSgAwIBAgIQJaDuxMoARPaC9iyxAFHQaTANBgkqhkiG9w0BAQsFADAjMSEwHwYDVQQDExhzZnJwLWNsaS03aGpkanpjdmZ1M2Z3YnYwHhcNMjQwODI3MDIyNjM5WhcNMjUwODI3MDIzNjM5WjAjMSEwHwYDVQQDExhzZnJwLWNsaS03aGpkanpjdmZ1M2Z3YnYwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDmwXoT4yoMgMWhFI3fk6OcAFFJW2C/bxa9mCknJTUVISGG09cE3Z+FIpOvCJPoWn0JVyUVk5FgOrc0wGaLL5eOO3saglNpe2rR2QGknza2pWy00VG08JeBH0dhl+ySFNtj2ioYn5GjbmXZ34uZpF2yijIYCtRPmp5eYxe7UuS5lsh4R8Ii1KKqodWHn3mrHoGPJawIYr0Xc3o7xSVNSzAX06fNpSjhodA9O7vEmBY/HlZF196MuqFz5D9O/5sZsDsfqJNUV1lQRRPKNldBlmKakuEMeGSqEQwoctPfDknpd8UJyUCZKPRJPWxKH2PiIWInEsx98PqAAho6S/ssn0rtAgMBAAGjfDB6MA4GA1UdDwEB/wQEAwIBvjAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBQaRBtH8q2LRBqniE+nFv/SxY1w3zAdBgNVHQ4EFgQUGkQbR/Kti0Qap4hPpxb/0sWNcN8wDQYJKoZIhvcNAQELBQADggEBABRY+GjLtBNEDMl+RYh2znxfhhF7skZttya/bm+hNjYl4bCTkjn1q1ESeg/4yLNf2H4TcsOSXXyBOTG7m+niA6XqvIbofTnPggOe0jJ01ZMAUkWNnSVmfrLo3XJJuOVBWxExF7JMuJguhuxDhBG5oVV3arUcUILRYE8GpIre7xmprz0XT1BFCIl4I/Xs2937YRNHYNoC8WaMSKm94Mb4hg8lezeoA9E85zDG3OdQNnar+otiD4xaYp3m7LqPgwWD0VteUGP8sg0xMaQrlpJaCtSSuFmHiewctczCKUg+mkGCy6Ep4ofarE5cBtza1BVzwIiDW40iBraoFW/1g1E4DqA=","attributes":{"enabled":true,"nbf":1724725599,"exp":1756262199,"created":1724726200,"updated":1724726200,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"policy":{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=sfrp-cli-000004","sans":{},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1724726198,"updated":1724726198}},"pending":{"id":"https://clitestrg000001.vault.azure.net/certificates/sfrp-cli-000004/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"clusterLocation": {"type": "string",
      "metadata": {"description": "Location of the Cluster"}}, "clusterName": {"type":
      "string", "metadata": {"description": "Name of your cluster - Between 3 and
      23 characters. Letters and numbers only"}}, "adminUserName": {"type": "string",
      "metadata": {"description": "Remote desktop user Id"}}, "durabilityLevel": {"type":
      "string", "metadata": {"description": "The durability level"}}, "reliabilityLevel":
      {"type": "string", "metadata": {"description": "The reliability level"}}, "adminPassword":
      {"type": "securestring", "metadata": {"description": "Remote desktop user password.
      Must be a strong password"}}, "vmImagePublisher": {"type": "string", "defaultValue":
      "MicrosoftWindowsServer", "metadata": {"description": "VM image Publisher"}},
      "vmImageOffer": {"type": "string", "defaultValue": "WindowsServer", "metadata":
      {"description": "VM image offer"}}, "vmImageSku": {"type": "string", "metadata":
      {"description": "VM image SKU"}}, "vmSku": {"type": "string", "metadata": {"description":
      "VM SKU"}}, "vmImageVersion": {"type": "string", "defaultValue": "latest", "metadata":
      {"description": "VM image version"}}, "loadBalancedAppPort1": {"type": "int",
      "defaultValue": 80, "metadata": {"description": "Input endpoint1 for the application
      to use. Replace it with what your application uses"}}, "loadBalancedAppPort2":
      {"type": "int", "defaultValue": 8081, "metadata": {"description": "Input endpoint2
      for the application to use. Replace it with what your application uses"}}, "certificateStoreValue":
      {"type": "string", "allowedValues": ["My"], "defaultValue": "My", "metadata":
      {"description": "The store name where the cert will be deployed in the virtual
      machine"}}, "certificateThumbprint": {"type": "string", "metadata": {"description":
      "Certificate Thumbprint"}}, "sourceVaultValue": {"type": "string", "metadata":
      {"description": "Resource Id of the key vault, is should be in the format of
      /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault
      name>"}}, "certificateUrlValue": {"type": "string", "metadata": {"description":
      "Refers to the location URL in your key vault where the certificate was uploaded,
      it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact
      location>"}}, "clusterProtectionLevel": {"type": "string", "allowedValues":
      ["None", "Sign", "EncryptAndSign"], "defaultValue": "EncryptAndSign", "metadata":
      {"description": "Protection level.Three values are allowed - EncryptAndSign,
      Sign, None. It is best to keep the default of EncryptAndSign, unless you have
      a need not to"}}, "storageAccountType": {"type": "string", "allowedValues":
      ["Standard_LRS", "Standard_GRS"], "defaultValue": "Standard_LRS", "metadata":
      {"description": "Replication option for the VM image storage account"}}, "supportLogStorageAccountType":
      {"type": "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the support
      log storage account"}}, "applicationDiagnosticsStorageAccountType": {"type":
      "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the application
      diagnostics storage account"}}, "nt0InstanceCount": {"type": "int", "metadata":
      {"description": "Instance count for node type"}}}, "variables": {"computeLocation":
      "[parameters(''clusterLocation'')]", "dnsName": "[parameters(''clusterName'')]",
      "vmName": "vm", "publicIPAddressName": "PublicIP-VM", "publicIPAddressType":
      "Dynamic", "vmStorageAccountContainerName": "vhds", "virtualNetworkName": "VNet",
      "addressPrefix": "10.0.0.0/16", "nicName": "NIC", "lbName": "LoadBalancer",
      "lbIPName": "PublicIP-LB-FE", "availSetName": "AvailabilitySet", "maxPercentUpgradeDomainDeltaUnhealthyNodes":
      "100", "vnetID": "[resourceId(''Microsoft.Network/virtualNetworks'',variables(''virtualNetworkName''))]",
      "overProvision": "false", "vmssApiVersion": "2017-03-30", "lbApiVersion": "2015-06-15",
      "vNetApiVersion": "2015-06-15", "storageApiVersion": "2016-01-01", "publicIPApiVersion":
      "2015-06-15", "nt0applicationStartPort": "20000", "nt0applicationEndPort": "30000",
      "nt0ephemeralStartPort": "49152", "nt0ephemeralEndPort": "65534", "nt0fabricTcpGatewayPort":
      "19000", "nt0fabricHttpGatewayPort": "19080", "subnet0Name": "Subnet-0", "subnet0Prefix":
      "10.0.0.0/24", "subnet0Ref": "[concat(variables(''vnetID''),''/subnets/'',variables(''subnet0Name''))]",
      "supportLogStorageAccountName": "[toLower( concat(''sflogs'', uniqueString(resourceGroup().id),''2''))]",
      "applicationDiagnosticsStorageAccountName": "[toLower(concat(uniqueString(resourceGroup().id),
      ''3'' ))]", "lbID0": "[resourceId(''Microsoft.Network/loadBalancers'',concat(''LB'',''-'',
      parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]", "lbIPConfig0":
      "[concat(variables(''lbID0''),''/frontendIPConfigurations/LoadBalancerIPConfig'')]",
      "lbPoolID0": "[concat(variables(''lbID0''),''/backendAddressPools/LoadBalancerBEAddressPool'')]",
      "lbProbeID0": "[concat(variables(''lbID0''),''/probes/FabricGatewayProbe'')]",
      "lbHttpProbeID0": "[concat(variables(''lbID0''),''/probes/FabricHttpGatewayProbe'')]",
      "lbNatPoolID0": "[concat(variables(''lbID0''),''/inboundNatPools/LoadBalancerBEAddressNatPool'')]",
      "vmNodeType0Name": "[toLower(concat(''NT1'', variables(''vmName'')))]", "vmNodeType0Size":
      "[parameters(''vmSku'')]"}, "resources": [{"apiVersion": "[variables(''storageApiVersion'')]",
      "type": "Microsoft.Storage/storageAccounts", "name": "[variables(''supportLogStorageAccountName'')]",
      "location": "[variables(''computeLocation'')]", "dependsOn": [], "properties":
      {}, "kind": "Storage", "sku": {"name": "[parameters(''supportLogStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''storageApiVersion'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(''applicationDiagnosticsStorageAccountName'')]", "location":
      "[variables(''computeLocation'')]", "dependsOn": [], "properties": {}, "kind":
      "Storage", "sku": {"name": "[parameters(''applicationDiagnosticsStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''vNetApiVersion'')]", "type": "Microsoft.Network/virtualNetworks",
      "name": "[variables(''virtualNetworkName'')]", "location": "[variables(''computeLocation'')]",
      "properties": {"addressSpace": {"addressPrefixes": ["[variables(''addressPrefix'')]"]},
      "subnets": [{"name": "[variables(''subnet0Name'')]", "properties": {"addressPrefix":
      "[variables(''subnet0Prefix'')]"}}]}, "tags": {"resourceType": "Service Fabric",
      "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion": "[variables(''publicIPApiVersion'')]",
      "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(variables(''lbIPName''),''-'',''0'')]",
      "location": "[variables(''computeLocation'')]", "properties": {"dnsSettings":
      {"domainNameLabel": "[variables(''dnsName'')]"}, "publicIPAllocationMethod":
      "Dynamic"}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''lbApiVersion'')]", "type": "Microsoft.Network/loadBalancers",
      "name": "[concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name''))]",
      "location": "[variables(''computeLocation'')]", "dependsOn": ["[concat(''Microsoft.Network/publicIPAddresses/'',concat(variables(''lbIPName''),''-'',''0''))]"],
      "properties": {"frontendIPConfigurations": [{"name": "LoadBalancerIPConfig",
      "properties": {"publicIPAddress": {"id": "[resourceId(''Microsoft.Network/publicIPAddresses'',concat(variables(''lbIPName''),''-'',''0''))]"}}}],
      "backendAddressPools": [{"name": "LoadBalancerBEAddressPool", "properties":
      {}}], "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[variables(''nt0fabricTcpGatewayPort'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricTcpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbProbeID0'')]"}, "protocol": "tcp"}}, {"name":
      "LBHttpRule", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbHttpProbeID0'')]"}, "protocol": "tcp"}},
      {"name": "AppPortLBRule1", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[parameters(''loadBalancedAppPort1'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort1'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe1'')]"},
      "protocol": "tcp"}}, {"name": "AppPortLBRule2", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[parameters(''loadBalancedAppPort2'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort2'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe2'')]"},
      "protocol": "tcp"}}], "probes": [{"name": "FabricGatewayProbe", "properties":
      {"intervalInSeconds": 5, "numberOfProbes": 2, "port": "[variables(''nt0fabricTcpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "FabricHttpGatewayProbe", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[variables(''nt0fabricHttpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe1", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(''loadBalancedAppPort1'')]", "protocol":
      "tcp"}}, {"name": "AppPortProbe2", "properties": {"intervalInSeconds": 5, "numberOfProbes":
      2, "port": "[parameters(''loadBalancedAppPort2'')]", "protocol": "tcp"}}], "inboundNatPools":
      [{"name": "LoadBalancerBEAddressNatPool", "properties": {"backendPort": "3389",
      "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"}, "frontendPortRangeEnd":
      "4500", "frontendPortRangeStart": "3389", "protocol": "tcp"}}]}, "tags": {"resourceType":
      "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion":
      "[variables(''vmssApiVersion'')]", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "[variables(''vmNodeType0Name'')]", "location": "[variables(''computeLocation'')]",
      "dependsOn": ["[concat(''Microsoft.Network/virtualNetworks/'', variables(''virtualNetworkName''))]",
      "[concat(''Microsoft.Network/loadBalancers/'', concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''supportLogStorageAccountName''))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''applicationDiagnosticsStorageAccountName''))]"],
      "properties": {"overprovision": "[variables(''overProvision'')]", "upgradePolicy":
      {"mode": "Automatic"}, "virtualMachineProfile": {"extensionProfile": {"extensions":
      [{"name": "[concat(''ServiceFabricNodeVmExt'',''_vmNodeType0Name'')]", "properties":
      {"type": "ServiceFabricNode", "autoUpgradeMinorVersion": false, "protectedSettings":
      {"StorageAccountKey1": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key1]",
      "StorageAccountKey2": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key2]"},
      "publisher": "Microsoft.Azure.ServiceFabric", "settings": {"clusterEndpoint":
      "[reference(parameters(''clusterName'')).clusterEndpoint]", "nodeTypeRef": "[variables(''vmNodeType0Name'')]",
      "dataPath": "D:\\\\SvcFab", "durabilityLevel": "[parameters(''durabilityLevel'')]",
      "nicPrefixOverride": "[variables(''subnet0Prefix'')]", "certificate": {"thumbprint":
      "[parameters(''certificateThumbprint'')]", "x509StoreName": "[parameters(''certificateStoreValue'')]"}},
      "typeHandlerVersion": "1.1"}}, {"name": "[concat(''VMDiagnosticsVmExt'',''_vmNodeType0Name'')]",
      "properties": {"type": "IaaSDiagnostics", "autoUpgradeMinorVersion": true, "protectedSettings":
      {"storageAccountName": "[variables(''applicationDiagnosticsStorageAccountName'')]",
      "storageAccountKey": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''applicationDiagnosticsStorageAccountName'')),''2015-05-01-preview'').key1]",
      "storageAccountEndPoint": "https://core.windows.net/"}, "publisher": "Microsoft.Azure.Diagnostics",
      "settings": {"WadCfg": {"DiagnosticMonitorConfiguration": {"overallQuotaInMB":
      "50000", "EtwProviders": {"EtwEventSourceProviderConfiguration": [{"provider":
      "Microsoft-ServiceFabric-Actors", "scheduledTransferKeywordFilter": "1", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableActorEventTable"}},
      {"provider": "Microsoft-ServiceFabric-Services", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableServiceEventTable"}}],
      "EtwManifestProviderConfiguration": [{"provider": "cbd93bc2-71e5-4566-b3a7-595d8eeca6e8",
      "scheduledTransferLogLevelFilter": "Information", "scheduledTransferKeywordFilter":
      "4611686018427387904", "scheduledTransferPeriod": "PT5M", "DefaultEvents": {"eventDestination":
      "ServiceFabricSystemEventTable"}}]}}}, "StorageAccount": "[variables(''applicationDiagnosticsStorageAccountName'')]"},
      "typeHandlerVersion": "1.5"}}]}, "networkProfile": {"networkInterfaceConfigurations":
      [{"name": "[concat(variables(''nicName''), ''-0'')]", "properties": {"ipConfigurations":
      [{"name": "[concat(variables(''nicName''),''-'',0)]", "properties": {"loadBalancerBackendAddressPools":
[...]
