interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_tls_properties","date":"2024-05-03T07:45:38Z","module":"servicefabric"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "tags": {"key1": "value1", "key2": "value2"},
      "sku": {"name": "Basic"}, "properties": {"dnsName": "sfrp-cli-000002", "clientConnectionPort":
      19000, "httpGatewayConnectionPort": 19080, "adminUserName": "vmadmin", "adminPassword":
      "Pass@000003", "clients": [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}],
      "fabricSettings": [{"name": "security", "parameters": [{"name": "AADTenantID",
      "value": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, {"name": "AADClusterApplication",
      "value": "db9c5a17-86be-40f6-9c7d-3db1c4145665"}, {"name": "AADClientApplication",
      "value": "3ae132df-d6db-4419-9171-2a5f2a394f53"}]}], "clusterCodeVersion": "10.1.1951.9590",
      "clusterUpgradeMode": "Manual", "zonalResiliency": false, "ddosProtectionPlanId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfmc-e2e-test-rg/providers/Microsoft.Network/ddosProtectionPlans/ddosProtectionPlan",
      "httpGatewayTokenAuthConnectionPort": 19801}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2023-12-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {\r\n    \"key1\":
        \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"systemData\": {\r\n
        \   \"createdBy\": \"mwesigwaguma@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2024-05-03T07:45:43.100225+00:00\",\r\n
        \   \"lastModifiedBy\": \"mwesigwaguma@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2024-05-03T07:45:43.100225+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Creating\",\r\n    \"clusterId\": \"5b4cbfbe-d89f-4934-b566-44e49210c420\",\r\n
        \   \"clusterCodeVersion\": \"10.1.1951.9590\",\r\n    \"clusterUpgradeMode\":
        \"Manual\",\r\n    \"isPrivateClusterCodeVersion\": false,\r\n    \"clusterUpgradeCadence\":
        \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n
        \   \"clusterCertificateThumbprints\": [],\r\n    \"clientConnectionPort\":
        19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\":
        false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ],\r\n    \"fabricSettings\": [\r\n      {\r\n        \"name\": \"security\",\r\n
        \       \"parameters\": [\r\n          {\r\n            \"name\": \"AADTenantID\",\r\n
        \           \"value\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n          },\r\n
        \         {\r\n            \"name\": \"AADClusterApplication\",\r\n            \"value\":
        \"db9c5a17-86be-40f6-9c7d-3db1c4145665\"\r\n          },\r\n          {\r\n
        \           \"name\": \"AADClientApplication\",\r\n            \"value\":
        \"3ae132df-d6db-4419-9171-2a5f2a394f53\"\r\n          }\r\n        ]\r\n      }\r\n
        \   ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false,\r\n    \"useCustomVnet\": false,\r\n    \"zonalUpdateMode\": \"Standard\",\r\n
        \   \"ddosProtectionPlanId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfmc-e2e-test-rg/providers/Microsoft.Network/ddosProtectionPlans/ddosProtectionPlan\",\r\n
        \   \"httpGatewayTokenAuthConnectionPort\": 19801\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/c37f0003-3e4d-4acf-b872-7525b661152a?api-version=2023-12-01-preview&t=638503191446470873&c=MIIHHjCCBgagAwIBAgITOgKYMsjF2b7LauhN0AAEApgyyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMjAxMTIyNjQyWhcNMjUwMTI2MTIyNjQyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/c37f0003-3e4d-4acf-b872-7525b661152a?api-version=2023-12-01-preview&t=638503191446470873&c=MIIHHjCCBgagAwIBAgITOgKYMsjF2b7LauhN0AAEApgyyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMjAxMTIyNjQyWhcNMjU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2023-12-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {\r\n    \"key1\":
        \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"systemData\": {\r\n
        \   \"createdBy\": \"mwesigwaguma@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2024-05-03T07:45:43.100225+00:00\",\r\n
        \   \"lastModifiedBy\": \"mwesigwaguma@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2024-05-03T07:45:43.100225+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"5b4cbfbe-d89f-4934-b566-44e49210c420\",\r\n
        \   \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterCodeVersion\":
        \"10.1.1951.9590\",\r\n    \"clusterUpgradeMode\": \"Manual\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n    \"fqdn\": \"sfrp-cli-000002.eastasia.cloudapp.azure.com\",\r\n
        \   \"ipv4Address\": \"52.229.211.80\",\r\n    \"clusterCertificateThumbprints\":
        [\r\n      \"35EB5F7EBCBA975A134F462CDFB002DA0D8DC2AF\"\r\n    ],\r\n    \"clientConnectionPort\":
        19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\":
        false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ],\r\n    \"fabricSettings\": [\r\n      {\r\n        \"na[...]
[...]
- request:
    body: '{"location": "eastasia", "tags": {"key1": "value1", "key2": "value2"},
      "sku": {"name": "Basic"}, "properties": {"dnsName": "sfrp-cli-000002", "clientConnectionPort":
      19000, "httpGatewayConnectionPort": 19080, "adminUserName": "vmadmin", "allowRdpAccess":
      false, "clients": [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}],
      "fabricSettings": [{"name": "security", "parameters": [{"name": "AADTenantID",
      "value": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, {"name": "AADClusterApplication",
      "value": "db9c5a17-86be-40f6-9c7d-3db1c4145665"}, {"name": "AADClientApplication",
      "value": "3ae132df-d6db-4419-9171-2a5f2a394f53"}]}], "clusterCodeVersion": "10.1.1951.9590",
      "clusterUpgradeMode": "Manual", "clusterUpgradeCadence": "Wave0", "enableAutoOSUpgrade":
      false, "zonalResiliency": false, "zonalUpdateMode": "Standard", "useCustomVnet":
      false, "ddosProtectionPlanId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfmc-e2e-test-rg/providers/Microsoft.Network/ddosProtectionPlans/ddosProtectionPlan",
      "httpGatewayTokenAuthConnectionPort": 19801, "enableHttpGatewayExclusiveAuthMode":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2023-12-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/9fd10003-451e-44a9-aef5-6b655a94da19?api-version=2023-12-01-preview&t=638503193395661307&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzWhcNMjU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/9fd10003-451e-44a9-aef5-6b655a94da19?api-version=2023-12-01-preview&t=638503193395817552&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzW[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/69e20003-112d-4451-ae90-57ec78f170cd?api-version=2023-12-01-preview&t=638503195333593142&c=MIIHHjCCBgagAwIBAgITOgKYMsjF2b7LauhN0AAEApgyyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMjAxMTIyNjQyWhcNMjU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/69e20003-112d-4451-ae90-57ec78f170cd?api-version=2023-12-01-preview&t=638503195333749443&c=MIIHHjCCBgagAwIBAgITOgKYMsjF2b7LauhN0AAEApgyyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMjAxMTIyNjQyW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2023-12-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ServiceFabric/managedclusters/sfrp-cli-000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
