interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"21cd756e-e290-4a26-9547-93e8cc1a8923","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-06-21T01:32:03Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Zunli
        Hu","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"zuh@microsoft.com","mailNickname":"zuh_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["zuh@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:zuh@microsoft.com"],"refreshTokensValidFromDateTime":"2019-06-21T01:32:03Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/21cd756e-e290-4a26-9547-93e8cc1a8923/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"zuh_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-06-24T01:43:59Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2713394'
      ocp-aad-diagnostics-server-name:
      - WyFgWH96Xk8Sf9RnNkSofkodHlmn9+cmAX6u8ggtOyw=
      ocp-aad-session-key:
      - EmR6h27pjj9p9it1RDP-kDz2vUjEWTkGdWWJttDyTYmKpXbVYCuFHNualJf4P0wKeGWsc5FazAK0zXlTBw-vabTFVQ2l0WmayfUbflQ7ZxU4MWQ1QfbSMsks4XcLZ48dHIcT2NS2Ipl6ecJimBG6fb6FE3pzef6_lTA2ij5esyQ.ov4T4-SFWY_3uhRwqS-GeKUZjnOhdEiZBAxHUrhksGg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "21cd756e-e290-4a26-9547-93e8cc1a8923",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enabledForDeployment": true, "enabledForTemplateDeployment": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002?api-version=2018-02-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002","name":"sfrp-cli-kv-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"21cd756e-e290-4a26-9547-93e8cc1a8923","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"vaultUri":"https://sfrp-cli-kv-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANPKuF0+UZ5+Xpy3bqybuBuJJ/v2cljRNQpIzTMpew5GgJTke1Uz6XY026JHDa8GP4bC6FLWHriBWNe1HDEaDq787+UuAp1zHjAq18EQHF9O+BfZyx1iNoQrOgFQnyMTVIguFdSr9CEJr0P7IYDolTdmVaCGXgO/4QKKHQ/CDRJ0blRQt+eZqosXzrmeiADIIt/jix+jJBRTIOHHMym0iwz5MS+746jW1SLWw62D6L8VF6EZRxcZz/AumiSTr0LLZMI8hBEdMwQ8k0WcKoSNs8GB0ojBU/662YLdBBS3rDJvDZOot6SDOtzoLAq1l2EYB/Jzr7SKmz69QPcTLnUneRMCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBOAMLU4M8YUHzp8n7Aa+XwBgsno2quNb66ar5isTXBPr1GU7zK6ujz5gvSyI8GFlsVB+u00YGt5vKo87QGNg5Lqf7UvVH2Wl4dtLg5uEPDoEEXasG5lJErc2m62rbtzXjR0w8tCVUKPwzKUI730RXVkGPT7W2iUaeaStB7LTERfaTF/nPvNViutG29M3Af/0ftHr3jGmLYRnpCnkpViXtXgFfVfbsujhbQ6MgeiWgoRc6DejMMtd8/8eQUz2rSKPQr4djBZz9Ecunnq1HbbGvcupDjshsgm04n+DmcWVclTD4wsFpwdXRK9CNizcGkBdK1fYwJebQ0wzDCSKQM6Dfa","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"c9cc23b5cc0b4c7d9915f171bd4f5480"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.0&request_id=c9cc23b5cc0b4c7d9915f171bd4f5480
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANPKuF0+UZ5+Xpy3bqybuBu[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANPKuF0+UZ5+Xpy3bqybuBuJJ/v2cljRNQpIzTMpew5GgJTke1Uz6XY026JHDa8GP4bC6FLWHriBWNe1HDEaDq787+UuAp1zHjAq18EQHF9O+BfZyx1iNoQrOgFQnyMTVIguFdSr9CEJr0P7IYDolTdmVaCGXgO/4QKKHQ/CDRJ0blRQt+eZqosXzrmeiADIIt/jix+jJBRTIOHHMym0iwz5MS+746jW1SLWw62D6L8VF6EZRxcZz/AumiSTr0LLZMI8hBEdMwQ8k0WcKoSNs8GB0ojBU/662YLdBBS3rDJvDZOot6SDOtzoLAq1l2EYB/Jzr7SKmz69QPcTLnUneRMCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBOAMLU4M8YUHzp8n7Aa+XwBgsno2quNb66ar5isTXBPr1GU7zK6ujz5gvSyI8GFlsVB+u00YGt5vKo87QGNg5Lqf7UvVH2Wl4dtLg5uEPDoEEXasG5lJErc2m62rbtzXjR0w8tCVUKPwzKUI730RXVkGPT7W2iUaeaStB7LTERfaTF/nPvNViutG29M3Af/0ftHr3jGmLYRnpCnkpViXtXgFfVfbsujhbQ6MgeiWgoRc6DejMMtd8/8eQUz2rSKPQr4djBZz9Ecunnq1HbbGvcupDjshsgm04n+DmcWVclTD4wsFpwdXRK9CNizcGkBdK1fYwJebQ0wzDCSKQM6Dfa","cancellation_requested":false,"status":"completed","target":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003","request_id":"c9cc23b5cc0b4c7d9915f171bd4f5480"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/359ac73f7a42463a87fb7f4999cabab2","kid":"https://sfrp-cli-kv-000002.vault.azure.net/keys/sfrp-cli-000003/359ac73f7a42463a87fb7f4999cabab2","sid":"https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000003/359ac73f7a42463a87fb7f4999cabab2","x5t":"dC9-ewJy1peDM6LCpLEC3hMyy84","cer":"MIIDQjCCAiqgAwIBAgIQBztrW4nJSlWuzRWNrOWZVDANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIwMDExNDAxMTM1OFoXDTIxMDExNDAxMjM1OFowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANPKuF0+UZ5+Xpy3bqybuBuJJ/v2cljRNQpIzTMpew5GgJTke1Uz6XY026JHDa8GP4bC6FLWHriBWNe1HDEaDq787+UuAp1zHjAq18EQHF9O+BfZyx1iNoQrOgFQnyMTVIguFdSr9CEJr0P7IYDolTdmVaCGXgO/4QKKHQ/CDRJ0blRQt+eZqosXzrmeiADIIt/jix+jJBRTIOHHMym0iwz5MS+746jW1SLWw62D6L8VF6EZRxcZz/AumiSTr0LLZMI8hBEdMwQ8k0WcKoSNs8GB0ojBU/662YLdBBS3rDJvDZOot6SDOtzoLAq1l2EYB/Jzr7SKmz69QPcTLnUneRMCAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFO9rSj8cER22rd8J4vQ8soD2ZrpzMB0GA1UdDgQWBBTva0o/HBEdtq3fCeL0PLKA9ma6czANBgkqhkiG9w0BAQsFAAOCAQEAcW7W0vlvSfjJWe3791X5tlPN3sDPyZZGUsYr5F5LMxTmv8ikdh7PXiEOCU5+r/fHSI+9fiSQ/buan96QSO1y2K84mouvapb7a4eXlYaRZ/xYmFMvJZN5URbcqOE6pyalvQbEBdR/ZpwoMkSAkV2CpNbhj+pnKU5JpmUR0VsT5oKvZtnNcsQ0NbPsrdieJM28KD3qf8VsRrLmbxA84vgYXa2XO9oTU72n2jTpeEvLSwXlUTrCYG1y62JY9/WNRNE6cMdEeUzSp3ANAY6EAgrFH0GvmrURSvMsfNMRqtQ9/Fuodi5it+9Ff1xCqjy4mUCIIDcUkMNevH1wi5tZNoldyA==","attributes":{"enabled":true,"nbf":1578964438,"exp":1610587438,"created":1578965038,"updated":1578965038,"recoveryLevel":"Purgeable"},"policy":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1578965012,"updated":1578965012}},"pending":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-01-14T01:22:45Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.KeyVault/vaults/azureclitest-vault","name":"azureclitest-vault","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/byok/providers/Microsoft.KeyVault/vaults/yugangwbyok","name":"yugangwbyok","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000003/359ac73f7a42463a87fb7f4999cabab2?api-version=7.0
  response:
    body:
      string: '{"value":"MIIKRAIBAzCCCgQGCSqGSIb3DQEHAaCCCfUEggnxMIIJ7TCCBg4GCSqGSIb3DQEHAaCCBf8EggX7MIIF9zCCBfMGCyqGSIb3DQEMCgECoIIE9jCCBPIwHAYKKoZIhvcNAQwBAzAOBAgQWSSFMaDrJwICB9AEggTQLqq9uW/ts0cwO4wExhuNnAjT/NdikoaNt9kra4Fdalx86KpRqE0k9[...]
- request:
    body: 'b''{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"clusterLocation": {"type": "string",
      "metadata": {"description": "Location of the Cluster"}}, "clusterName": {"type":
      "string", "metadata": {"description": "Name of your cluster - Between 3 and
      23 characters. Letters and numbers only"}}, "adminUserName": {"type": "string",
      "metadata": {"description": "Remote desktop user Id"}}, "durabilityLevel": {"type":
      "string", "metadata": {"description": "The durability level"}}, "reliabilityLevel":
      {"type": "string", "metadata": {"description": "The reliability level"}}, "adminPassword":
      {"type": "securestring", "metadata": {"description": "Remote desktop user password.
      Must be a strong password"}}, "vmImagePublisher": {"type": "string", "defaultValue":
      "MicrosoftWindowsServer", "metadata": {"description": "VM image Publisher"}},
      "vmImageOffer": {"type": "string", "defaultValue": "WindowsServer", "metadata":
      {"description": "VM image offer"}}, "vmImageSku": {"type": "string", "metadata":
      {"description": "VM image SKU"}}, "vmSku": {"type": "string", "metadata": {"description":
      "VM SKU"}}, "vmImageVersion": {"type": "string", "defaultValue": "latest", "metadata":
      {"description": "VM image version"}}, "loadBalancedAppPort1": {"type": "int",
      "defaultValue": 80, "metadata": {"description": "Input endpoint1 for the application
      to use. Replace it with what your application uses"}}, "loadBalancedAppPort2":
      {"type": "int", "defaultValue": 8081, "metadata": {"description": "Input endpoint2
      for the application to use. Replace it with what your application uses"}}, "certificateStoreValue":
      {"type": "string", "allowedValues": ["My"], "defaultValue": "My", "metadata":
      {"description": "The store name where the cert will be deployed in the virtual
      machine"}}, "certificateThumbprint": {"type": "string", "metadata": {"description":
      "Certificate Thumbprint"}}, "sourceVaultValue": {"type": "string", "metadata":
      {"description": "Resource Id of the key vault, is should be in the format of
      /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault
      name>"}}, "certificateUrlValue": {"type": "string", "metadata": {"description":
      "Refers to the location URL in your key vault where the certificate was uploaded,
      it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact
      location>"}}, "clusterProtectionLevel": {"type": "string", "allowedValues":
      ["None", "Sign", "EncryptAndSign"], "defaultValue": "EncryptAndSign", "metadata":
      {"description": "Protection level.Three values are allowed - EncryptAndSign,
      Sign, None. It is best to keep the default of EncryptAndSign, unless you have
      a need not to"}}, "storageAccountType": {"type": "string", "allowedValues":
      ["Standard_LRS", "Standard_GRS"], "defaultValue": "Standard_LRS", "metadata":
      {"description": "Replication option for the VM image storage account"}}, "supportLogStorageAccountType":
      {"type": "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the support
      log storage account"}}, "applicationDiagnosticsStorageAccountType": {"type":
      "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the application
      diagnostics storage account"}}, "nt0InstanceCount": {"type": "int", "metadata":
      {"description": "Instance count for node type"}}}, "variables": {"computeLocation":
      "[parameters(\''clusterLocation\'')]", "dnsName": "[parameters(\''clusterName\'')]",
      "vmName": "vm", "publicIPAddressName": "PublicIP-VM", "publicIPAddressType":
      "Dynamic", "vmStorageAccountContainerName": "vhds", "virtualNetworkName": "VNet",
      "addressPrefix": "10.0.0.0/16", "nicName": "NIC", "lbName": "LoadBalancer",
      "lbIPName": "PublicIP-LB-FE", "availSetName": "AvailabilitySet", "maxPercentUpgradeDomainDeltaUnhealthyNodes":
      "100", "vnetID": "[resourceId(\''Microsoft.Network/virtualNetworks\'',variables(\''virtualNetworkName\''))]",
      "overProvision": "false", "vmssApiVersion": "2017-03-30", "lbApiVersion": "2015-06-15",
      "vNetApiVersion": "2015-06-15", "storageApiVersion": "2016-01-01", "publicIPApiVersion":
      "2015-06-15", "nt0applicationStartPort": "20000", "nt0applicationEndPort": "30000",
      "nt0ephemeralStartPort": "49152", "nt0ephemeralEndPort": "65534", "nt0fabricTcpGatewayPort":
      "19000", "nt0fabricHttpGatewayPort": "19080", "subnet0Name": "Subnet-0", "subnet0Prefix":
      "10.0.0.0/24", "subnet0Ref": "[concat(variables(\''vnetID\''),\''/subnets/\'',variables(\''subnet0Name\''))]",
      "supportLogStorageAccountName": "[toLower( concat(\''sflogs\'', uniqueString(resourceGroup().id),\''2\''))]",
      "applicationDiagnosticsStorageAccountName": "[toLower(concat(uniqueString(resourceGroup().id),
      \''3\'' ))]", "lbID0": "[resourceId(\''Microsoft.Network/loadBalancers\'',concat(\''LB\'',\''-\'',
      parameters(\''clusterName\''),\''-\'',variables(\''vmNodeType0Name\'')))]",
      "lbIPConfig0": "[concat(variables(\''lbID0\''),\''/frontendIPConfigurations/LoadBalancerIPConfig\'')]",
      "lbPoolID0": "[concat(variables(\''lbID0\''),\''/backendAddressPools/LoadBalancerBEAddressPool\'')]",
      "lbProbeID0": "[concat(variables(\''lbID0\''),\''/probes/FabricGatewayProbe\'')]",
      "lbHttpProbeID0": "[concat(variables(\''lbID0\''),\''/probes/FabricHttpGatewayProbe\'')]",
      "lbNatPoolID0": "[concat(variables(\''lbID0\''),\''/inboundNatPools/LoadBalancerBEAddressNatPool\'')]",
      "vmNodeType0Name": "[toLower(concat(\''NT1\'', variables(\''vmName\'')))]",
      "vmNodeType0Size": "[parameters(\''vmSku\'')]"}, "resources": [{"apiVersion":
      "[variables(\''storageApiVersion\'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(\''supportLogStorageAccountName\'')]", "location": "[variables(\''computeLocation\'')]",
      "dependsOn": [], "properties": {}, "kind": "Storage", "sku": {"name": "[parameters(\''supportLogStorageAccountType\'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''storageApiVersion\'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(\''applicationDiagnosticsStorageAccountName\'')]", "location":
      "[variables(\''computeLocation\'')]", "dependsOn": [], "properties": {}, "kind":
      "Storage", "sku": {"name": "[parameters(\''applicationDiagnosticsStorageAccountType\'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''vNetApiVersion\'')]", "type": "Microsoft.Network/virtualNetworks",
      "name": "[variables(\''virtualNetworkName\'')]", "location": "[variables(\''computeLocation\'')]",
      "properties": {"addressSpace": {"addressPrefixes": ["[variables(\''addressPrefix\'')]"]},
      "subnets": [{"name": "[variables(\''subnet0Name\'')]", "properties": {"addressPrefix":
      "[variables(\''subnet0Prefix\'')]"}}]}, "tags": {"resourceType": "Service Fabric",
      "clusterName": "[parameters(\''clusterName\'')]"}}, {"apiVersion": "[variables(\''publicIPApiVersion\'')]",
      "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(variables(\''lbIPName\''),\''-\'',\''0\'')]",
      "location": "[variables(\''computeLocation\'')]", "properties": {"dnsSettings":
      {"domainNameLabel": "[variables(\''dnsName\'')]"}, "publicIPAllocationMethod":
      "Dynamic"}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''lbApiVersion\'')]", "type": "Microsoft.Network/loadBalancers",
      "name": "[concat(\''LB\'',\''-\'', parameters(\''clusterName\''),\''-\'',variables(\''vmNodeType0Name\''))]",
      "location": "[variables(\''computeLocation\'')]", "dependsOn": ["[concat(\''Microsoft.Network/publicIPAddresses/\'',concat(variables(\''lbIPName\''),\''-\'',\''0\''))]"],
      "properties": {"frontendIPConfigurations": [{"name": "LoadBalancerIPConfig",
      "properties": {"publicIPAddress": {"id": "[resourceId(\''Microsoft.Network/publicIPAddresses\'',concat(variables(\''lbIPName\''),\''-\'',\''0\''))]"}}}],
      "backendAddressPools": [{"name": "LoadBalancerBEAddressPool", "properties":
      {}}], "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[variables(\''lbPoolID0\'')]"}, "backendPort": "[variables(\''nt0fabricTcpGatewayPort\'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[variables(\''nt0fabricTcpGatewayPort\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(\''lbProbeID0\'')]"}, "protocol": "tcp"}},
      {"name": "LBHttpRule", "properties": {"backendAddressPool": {"id": "[variables(\''lbPoolID0\'')]"},
      "backendPort": "[variables(\''nt0fabricHttpGatewayPort\'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[variables(\''nt0fabricHttpGatewayPort\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(\''lbHttpProbeID0\'')]"}, "protocol": "tcp"}},
      {"name": "AppPortLBRule1", "properties": {"backendAddressPool": {"id": "[variables(\''lbPoolID0\'')]"},
      "backendPort": "[parameters(\''loadBalancedAppPort1\'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[parameters(\''loadBalancedAppPort1\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(\''lbID0\''),\''/probes/AppPortProbe1\'')]"},
      "protocol": "tcp"}}, {"name": "AppPortLBRule2", "properties": {"backendAddressPool":
      {"id": "[variables(\''lbPoolID0\'')]"}, "backendPort": "[parameters(\''loadBalancedAppPort2\'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPort": "[parameters(\''loadBalancedAppPort2\'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(\''lbID0\''),\''/probes/AppPortProbe2\'')]"},
      "protocol": "tcp"}}], "probes": [{"name": "FabricGatewayProbe", "properties":
      {"intervalInSeconds": 5, "numberOfProbes": 2, "port": "[variables(\''nt0fabricTcpGatewayPort\'')]",
      "protocol": "tcp"}}, {"name": "FabricHttpGatewayProbe", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[variables(\''nt0fabricHttpGatewayPort\'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe1", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(\''loadBalancedAppPort1\'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe2", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(\''loadBalancedAppPort2\'')]",
      "protocol": "tcp"}}], "inboundNatPools": [{"name": "LoadBalancerBEAddressNatPool",
      "properties": {"backendPort": "3389", "frontendIPConfiguration": {"id": "[variables(\''lbIPConfig0\'')]"},
      "frontendPortRangeEnd": "4500", "frontendPortRangeStart": "3389", "protocol":
      "tcp"}}]}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(\''clusterName\'')]"}},
      {"apiVersion": "[variables(\''vmssApiVersion\'')]", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "[variables(\''vmNodeType0Name\'')]", "location": "[variables(\''computeLocation\'')]",
      "dependsOn": ["[concat(\''Microsoft.Network/virtualNetworks/\'', variables(\''virtualNetworkName\''))]",
      "[concat(\''Microsoft.Network/loadBalancers/\'', concat(\''LB\'',\''-\'', parameters(\''clusterName\''),\''-\'',variables(\''vmNodeType0Name\'')))]",
      "[concat(\''Microsoft.Storage/storageAccounts/\'', variables(\''supportLogStorageAccountName\''))]",
      "[concat(\''Microsoft.Storage/storageAccounts/\'', variables(\''applicationDiagnosticsStorageAccountName\''))]"],
      "properties": {"overprovision": "[variables(\''overProvision\'')]", "upgradePolicy":
      {"mode": "Automatic"}, "virtualMachineProfile": {"extensionProfile": {"extensions":
      [{"name": "[concat(\''ServiceFabricNodeVmExt\'',\''_vmNodeType0Name\'')]", "properties":
      {"type": "ServiceFabricNode", "autoUpgradeMinorVersion": false, "protectedSettings":
      {"StorageAccountKey1": "[listKeys(resourceId(\''Microsoft.Storage/storageAccounts\'',
      variables(\''supportLogStorageAccountName\'')),\''2015-05-01-preview\'').key1]",
      "StorageAccountKey2": "[listKeys(resourceId(\''Microsoft.Storage/storageAccounts\'',
      variables(\''supportLogStorageAccountName\'')),\''2015-05-01-preview\'').key2]"},
      "publisher": "Microsoft.Azure.ServiceFabric", "settings": {"clusterEndpoint":
      "[reference(parameters(\''clusterName\'')).clusterEndpoint]", "nodeTypeRef":
      "[variables(\''vmNodeType0Name\'')]", "dataPath": "D:\\\\\\\\SvcFab", "durabilityLevel":
      "[parameters(\''durabilityLevel\'')]", "nicPrefixOverride": "[variables(\''subnet0Prefix\'')]",
      "certificate": {"thumbprint": "[parameters(\''certificateThumbprint\'')]", "x509StoreName":
      "[parameters(\''certificateStoreValue\'')]"}}, "typeHandlerVersion": "1.1"}},
      {"name": "[concat(\''VMDiagnosticsVmExt\'',\''_vmNodeType0Name\'')]", "properties":
      {"type": "IaaSDiagnostics", "autoUpgradeMinorVersion": true, "protectedSettings":
      {"storageAccountName": "[variables(\''applicationDiagnosticsStorageAccountName\'')]",
      "storageAccountKey": "[listKeys(resourceId(\''Microsoft.Storage/storageAccounts\'',
      variables(\''applicationDiagnosticsStorageAccountName\'')),\''2015-05-01-preview\'').key1]",
      "storageAccountEndPoint": "https://core.windows.net/"}, "publisher": "Microsoft.Azure.Diagnostics",
      "settings": {"WadCfg": {"DiagnosticMonitorConfiguration": {"overallQuotaInMB":
      "50000", "EtwProviders": {"EtwEventSourceProviderConfiguration": [{"provider":
      "Microsoft-ServiceFabric-Actors", "scheduledTransferKeywordFilter": "1", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableActorEventTable"}},
      {"provider": "Microsoft-ServiceFabric-Services", "scheduledTransferPeriod":
      "PT5M", "DefaultEvents": {"eventDestination": "ServiceFabricReliableServiceEventTable"}}],
      "EtwManifestProviderConfiguration": [{"provider": "cbd93bc2-71e5-4566-b3a7-595d8eeca6e8",
[...]
