interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-12-05T05:12:38Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "sku": {"name": "Basic"}, "properties": {"dnsName":
      "sfrp-cli-000003", "clientConnectionPort": 19000, "httpGatewayConnectionPort":
      19080, "adminUserName": "vmadmin", "adminPassword": "Pass@000004", "clients":
      [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}],
      "zonalResiliency": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"zhiyihuang@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-12-05T05:13:30.77493+00:00\",\r\n    \"lastModifiedBy\":
        \"zhiyihuang@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n
        \   \"lastModifiedAt\": \"2022-12-05T05:13:30.77493+00:00\"\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"clusterId\": \"36c2cf3b-ecee-41cf-946b-e2b65a6e37af\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n    \"clusterCertificateThumbprints\":
        [],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/1c370004-2269-4546-8223-28eb3b2728e5?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/1c370004-2269-4546-8223-28eb3b2728e5?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"1c370004-2269-4546-8223-28eb3b2728e5\",\r\n  \"startTime\":
        \"2022-12-05T05:13:31.4650591Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n
        \ \"percentComplete\": 30.0,\r\n  \"status\": \"Created\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"zhiyihuang@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-12-05T05:13:30.77493+00:00\",\r\n    \"lastModifiedBy\":
        \"zhiyihuang@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n
        \   \"lastModifiedAt\": \"2022-12-05T05:13:30.77493+00:00\"\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"clusterId\": \"36c2cf3b-ecee-41cf-946b-e2b65a6e37af\",\r\n
        \   \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeMode\":
        \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\": false,\r\n    \"clusterUpgradeCadence\":
        \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n
        \   \"fqdn\": \"sfrp-cli-000003.eastasia.cloudapp.azure.com\",\r\n    \"ipv4Address\":
        \"20.239.54.36\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"20A58FEFFA111CF611C82139020B6E2D7E669120\"\r\n
        \   ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer",
      "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion":
      "latest", "isStateless": false, "multiplePlacementGroups": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodetypes/pnt\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n
        \   \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n
        \   \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n
        \   \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"dataDiskType\":
        \"StandardSSD_LRS\",\r\n    \"placementProperties\": {},\r\n    \"capacities\":
        {},\r\n    \"vmExtensions\": [],\r\n    \"isStateless\": false,\r\n    \"multiplePlacementGroups\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/bae60004-1815-4148-b9a6-3e7e6ce28c25?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "dataDiskType": "StandardSSD_LRS", "placementProperties": {}, "capacities":
      {}, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer", "vmImageOffer":
      "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion": "latest",
      "vmExtensions": [{"name": "csetest", "properties": {"publisher": "Microsoft.Compute",
      "type": "BGInfo", "typeHandlerVersion": "2.1", "autoUpgradeMinorVersion": true}}],
      "isStateless": false, "multiplePlacementGroups": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/1ec70004-1f66-4260-9b3e-d73ad4d72ab9?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003/nodetype[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002","name":"sfrp-cli-kv-000002","type":"Microsoft.KeyVault/vaults","location":"eastasia","tags":{},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2022-12-05T05:12:46.476Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-12-05T05:12:46.476Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://sfrp-cli-kv-000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOdkk7Pr+NWR2BkyyL9VXC55V8Kcjzms/eG+Gl3owJYKyQgcZjNLA80+X0OdM86CV89Ntu6d7zPLB8o+XljXJ0ELIAlIn0wru2wcgSGchfs2Xg6tFSrSXjx/E/4SLOCEpOrlzChJqy9TK94CtrvBsdCHzgg/FDvbP4tY3Q8DXgNcKV3LryS35dqOPP7lap1kMs6IBmAwE3JQAwyj+CKr56KuwvPcm2zlrQKoCiKeibPbaK9Ol/dYGHip3nWWUJZO7gQAR4+BzJKSxkiGXdyOynr1K5EEkYKwKzhlNPgfEKNzSrMh6XroWBl4rkr3K7ZxxWFYIpG5qrd3WyI8jJFCUJECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBRKBpnnPvfEZwUYMlLAOh8xljfcyMNNmPfdz+YNqi1vs0WWj+kkRZTqC57urjKaTqr4ISwyNTIDCQ7bm3TKgNEdQD6P7oyxHBz3JFSNDVans6V8AewHsdDnlVTeY0Zz+n1IrPCOuVMkAM/JoIikZQ0z8+gYtfze5L7H6c3lEA7oqAlqvt3BT1I4oGDZWhy7PNnp2unmQaLMOcbgnmM3rCWGiLMmS8pKKtP2wJ+/+1GJBgAgXIEUA4J/ZQjacGrokMitSU9Az80xCirVR2dGTW7f2Vlp3nJixyc18WfvL7w+YKpYOq5CZqzCN3qyXKMRbegaTc/h11f3PbPfsuZYabs","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"cceaf6818d0b4662b7d32b1891f2d0ed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0&request_id=cceaf6818d0b4662b7d32b1891f2d0ed
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOdkk7Pr+NWR2BkyyL9VXC5[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOdkk7Pr+NWR2BkyyL9VXC55V8Kcjzms/eG+Gl3owJYKyQgcZjNLA80+X0OdM86CV89Ntu6d7zPLB8o+XljXJ0ELIAlIn0wru2wcgSGchfs2Xg6tFSrSXjx/E/4SLOCEpOrlzChJqy9TK94CtrvBsdCHzgg/FDvbP4tY3Q8DXgNcKV3LryS35dqOPP7lap1kMs6IBmAwE3JQAwyj+CKr56KuwvPcm2zlrQKoCiKeibPbaK9Ol/dYGHip3nWWUJZO7gQAR4+BzJKSxkiGXdyOynr1K5EEkYKwKzhlNPgfEKNzSrMh6XroWBl4rkr3K7ZxxWFYIpG5qrd3WyI8jJFCUJECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBRKBpnnPvfEZwUYMlLAOh8xljfcyMNNmPfdz+YNqi1vs0WWj+kkRZTqC57urjKaTqr4ISwyNTIDCQ7bm3TKgNEdQD6P7oyxHBz3JFSNDVans6V8AewHsdDnlVTeY0Zz+n1IrPCOuVMkAM/JoIikZQ0z8+gYtfze5L7H6c3lEA7oqAlqvt3BT1I4oGDZWhy7PNnp2unmQaLMOcbgnmM3rCWGiLMmS8pKKtP2wJ+/+1GJBgAgXIEUA4J/ZQjacGrokMitSU9Az80xCirVR2dGTW7f2Vlp3nJixyc18WfvL7w+YKpYOq5CZqzCN3qyXKMRbegaTc/h11f3PbPfsuZYabs","cancellation_requested":false,"status":"completed","target":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005","request_id":"cceaf6818d0b4662b7d32b1891f2d0ed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/1b8a06905d2e4afdaad775b134340c99","kid":"https://sfrp-cli-kv-000002.vault.azure.net/keys/sfrp-cli-000005/1b8a06905d2e4afdaad775b134340c99","sid":"https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000005/1b8a06905d2e4afdaad775b134340c99","x5t":"tV89mZbh0RqGznzA6fbCDB3f_LE","cer":"MIIDQjCCAiqgAwIBAgIQfRbdQp/jT8mzUxbpF9F88jANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIyMTIwNTA2MDkzOVoXDTIzMTIwNTA2MTkzOVowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOdkk7Pr+NWR2BkyyL9VXC55V8Kcjzms/eG+Gl3owJYKyQgcZjNLA80+X0OdM86CV89Ntu6d7zPLB8o+XljXJ0ELIAlIn0wru2wcgSGchfs2Xg6tFSrSXjx/E/4SLOCEpOrlzChJqy9TK94CtrvBsdCHzgg/FDvbP4tY3Q8DXgNcKV3LryS35dqOPP7lap1kMs6IBmAwE3JQAwyj+CKr56KuwvPcm2zlrQKoCiKeibPbaK9Ol/dYGHip3nWWUJZO7gQAR4+BzJKSxkiGXdyOynr1K5EEkYKwKzhlNPgfEKNzSrMh6XroWBl4rkr3K7ZxxWFYIpG5qrd3WyI8jJFCUJECAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFASRyRT3sndeKbBdiWazaBEqf6qdMB0GA1UdDgQWBBQEkckU97J3XimwXYlms2gRKn+qnTANBgkqhkiG9w0BAQsFAAOCAQEAv+BRTyVkJMCukzt0I2hjj9LtJWr0AU5WzkAPUWlHMzrm8LS/gtJWcFEsDxXTFBGkQCOMcKaTZHydLVgPf20oil4hdIAw33R2ZbqkYlaqZeR+OrANaqqcSEHWBdwVFhqHZsNj3Srqcq8arf36KcAPrRnVj5CFVLgkquUdNWYWbRl3n3YR1LaJ/RD1+2GdVOC0BEvOP15mn8yGofpqM9npnRYJIlqln0cXHra/q/ATsv4Ppj03M885+IyJFhz1g4vKxsVSrtvsfZkNemBuHhcZ9TyEAmYtzPzpwLHKr7W8r7T0FlsULIru68NTLXCD7dHmaVA9ZJHUCaL7f2T7bbBqcw==","attributes":{"enabled":true,"nbf":1670220579,"exp":1701757179,"created":1670221180,"updated":1670221180,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"policy":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1670221178,"updated":1670221178}},"pending":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000005/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "dataDiskType": "StandardSSD_LRS", "placementProperties": {}, "capacities":
      {}, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer", "vmImageOffer":
      "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion": "latest",
      "vmSecrets": [{"sourceVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002"},
      "vaultCertificates": [{"certificateUrl": "https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000005/1b8a06905d2e4afdaad775b134340c99",
      "certificateStore": "my"}]}], "vmExtensions": [{"name": "csetest", "properties":
      {"publisher": "Microsoft.Compute", "type": "BGInfo", "typeHandlerVersion": "2.1",
      "autoUpgradeMinorVersion": true}}], "isStateless": false, "multiplePlacementGroups":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000003\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"zhiyihuang@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-12-05T05:13:30.77493+00:00\",\r\n    \"lastModifiedBy\":
        \"zhiyihuang@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n
        \   \"lastModifiedAt\": \"2022-12-05T05:13:30.77493+00:00\"\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"clusterId\": \"36c2cf3b-ecee-41cf-946b-e2b65a6e37af\",\r\n
        \   \"clusterState\": \"Ready\",\r\n    \"clusterCodeVersion\": \"9.1.1390.9590\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000003\",\r\n    \"fqdn\": \"sfrp-cli-000003.eastasia.cloudapp.azure.com\",\r\n
        \   \"ipv4Address\": \"20.239.54.36\",\r\n    \"clusterCertificateThumbprints\":
        [\r\n      \"20A58FEFFA111CF611C82139020B6E2D7E669120\"\r\n    ],\r\n    \"clientConnectionPort\":
        19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\":
        false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": true,\r\n
        \       \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n
        \   ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000003?api-version=2021-05-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
version: 1
