interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-26T12:49:25Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastasia", "sku": {"name": "Standard"}, "properties": {"dnsName":
      "sfrp-cli-000002", "clientConnectionPort": 19000, "httpGatewayConnectionPort":
      19080, "adminUserName": "vmadmin", "adminPassword": "Pass@000003", "clients":
      [{"isAdmin": true, "thumbprint": "123BDACDCDFB2C7B250192C6078E47D1E1DB119B"}],
      "clusterUpgradeMode": "Automatic", "clusterUpgradeCadence": "Wave1", "zonalResiliency":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-05-26T12:49:51.4742712+00:00\",\r\n
        \   \"lastModifiedBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-05-26T12:49:51.4742712+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Creating\",\r\n    \"clusterId\": \"e67a8397-2168-4701-bec4-6dd53a2d9b0e\",\r\n
        \   \"clusterUpgradeMode\": \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\":
        false,\r\n    \"clusterUpgradeCadence\": \"Wave1\",\r\n    \"adminUserName\":
        \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n    \"clusterCertificateThumbprints\":
        [],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/d9cf0005-abd1-4ff7-bc31-e3a5358cb725?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/d9cf0005-abd1-4ff7-bc31-e3a5358cb725?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"d9cf0005-abd1-4ff7-bc31-e3a5358cb725\",\r\n  \"startTime\":
        \"2022-05-26T12:49:52.0424591Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n
        \ \"percentComplete\": 30.0,\r\n  \"status\": \"Created\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"sfrp-cli-000002\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2022-05-26T12:49:51.4742712+00:00\",\r\n
        \   \"lastModifiedBy\": \"v-taoxuzeng@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-05-26T12:49:51.4742712+00:00\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"e67a8397-2168-4701-bec4-6dd53a2d9b0e\",\r\n
        \   \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeMode\":
        \"Automatic\",\r\n    \"isPrivateClusterCodeVersion\": false,\r\n    \"clusterUpgradeCadence\":
        \"Wave1\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfrp-cli-000002\",\r\n
        \   \"fqdn\": \"sfrp-cli-000002.eastasia.cloudapp.azure.com\",\r\n    \"ipv4Address\":
        \"20.187.125.143\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"039A82B3B4B3BE4B79929567C95698E9ACCEF855\"\r\n
        \   ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\":
        19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n
        \       \"isAdmin\": true,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n
        \     }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isPrimary": true, "vmInstanceCount": 5, "dataDiskSizeGB":
      100, "dataDiskType": "Premium_LRS", "vmSize": "Standard_DS2", "vmImagePublisher":
      "MicrosoftWindowsServer", "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter",
      "vmImageVersion": "latest", "isStateless": false, "multiplePlacementGroups":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/pnt?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodetypes/pnt\",\r\n
        \ \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\":
        \"eastasia\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n
        \   \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n
        \   \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_DS2\",\r\n
        \   \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"dataDiskType\":
        \"Premium_LRS\",\r\n    \"placementProperties\": {},\r\n    \"capacities\":
        {},\r\n    \"vmExtensions\": [],\r\n    \"isStateless\": false,\r\n    \"multiplePlacementGroups\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/6b490005-00ae-4911-b02e-f0af3f275aa1?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodetypes/pnt\",\r\n
        \     \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n
        \     \"location\": \"eastasia\",\r\n      \"name\": \"pnt\",\r\n      \"tags\":
        {},\r\n      \"systemData\": {},\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"isPrimary\": true,\r\n        \"vmImagePublisher\":
        \"MicrosoftWindowsServer\",\r\n        \"vmImageOffer\": \"WindowsServer\",\r\n
        \       \"vmImageSku\": \"2019-Datacenter\",\r\n        \"vmImageVersion\":
        \"latest\",\r\n        \"vmSize\": \"Standard_DS2\",\r\n        \"vmInstanceCount\":
        5,\r\n        \"dataDiskSizeGB\": 100,\r\n        \"dataDiskType\": \"Premium_LRS\",\r\n
        \       \"placementProperties\": {},\r\n        \"capacities\": {},\r\n        \"vmExtensions\":
        [],\r\n        \"isStateless\": false,\r\n        \"multiplePlacementGroups\":
        false\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"isPrimary": false, "vmInstanceCount": 6, "dataDiskSizeGB":
      100, "vmSize": "Standard_D2", "vmImagePublisher": "MicrosoftWindowsServer",
      "vmImageOffer": "WindowsServer", "vmImageSku": "2019-Datacenter", "vmImageVersion":
      "latest", "isStateless": true, "multiplePlacementGroups": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000000[...]
[...]
- request:
    body: '{"nodes": ["snt_0", "snt_1"], "force": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/snt/restart?api-version=2021-05-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/e8ac0005-df6b-44cb-9427-76dfb03e554c?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/e8ac0005-df6b-44cb-9427-76dfb03e554c?api-version=2021-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/e8ac0005-df6b-44cb-9427-76dfb03e554c?api-version=2021-05-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"nodes": ["snt_1"], "force": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/snt/deleteNode?api-version=2021-05-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/1f0e0005-af33-4cd5-9c7d-c50bb7ce57c1?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/1f0e0005-af33-4cd5-9c7d-c50bb7ce57c1?api-version=2021-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"nodes": ["snt_3"], "force": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/snt/reimage?api-version=2021-05-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperations/61aa0005-f7b1-4167-bf27-8166458520a9?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastasia/managedclusteroperationresults/61aa0005-f7b1-4167-bf27-8166458520a9?api-version=2021-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002/nodeTypes/snt?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"GetEntityFromTable: the NodeTypeData
        e67a8397-2168-4701-bec4-6dd53a2d9b0e_snt could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabric/managedClusters/sfrp-cli-000002?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ServiceFabric/managedclusters/sfrp-cli-000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
