interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"3307ff37-85af-4550-bc6a-d1e02672cb7c","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["a413a9ff-720c-4822-98ef-2f37c2a21f4c","a6520331-d7d4-4276-95f5-15c0933bc757","ded3d325-1bdc-453e-8432-5bac26d7a014","afa73018-811e-46e9-988f-f75d2b1b8430","b21a6b06-1988-436e-a07b-51ec6d9f52ad","531ee2f8-b1cb-453b-9c21-d2180d014ca5","bf28f719-7844-4079-9c78-c1307898e192","28b0fa46-c39a-4188-89e2-58e979a6b014","199a5c09-e0ca-4e37-8f7c-b05d533e1ea2","65cc641f-cccd-4643-97e0-a17e3045e541","e26c2fcc-ab91-4a61-b35c-03cdc8dddf66","46129a58-a698-46f0-aa5b-17f6586297d9","6db1f1db-2b46-403f-be40-e39395f08dbb","6dc145d6-95dd-4191-b9c3-185575ee6f6b","41fcdd7d-4733-4863-9cf4-c65b83ce2df4","c4801e8a-cb58-4c35-aca6-f2dcc106f287","0898bdbb-73b0-471a-81e5-20f1fe4dd66e","617b097b-4b93-4ede-83de-5f075bb5fb2f","33c4f319-9bdd-48d6-9c4d-410b750a4a5a","8e0c0a52-6a6c-4d40-8370-dd62790dcd70","4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"3d957427-ecdc-4df2-aacd-01cc9d519da8"},{"disabledPlans":[],"skuId":"85aae730-b3d1-4f99-bb28-c9f81b05137c"},{"disabledPlans":[],"skuId":"9f3d9c1d-25a5-4aaa-8e59-23a1e6450a67"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["39b5c996-467e-4e60-bd62-46066f572726"],"skuId":"90d8b3f8-712e-4f7b-aa1e-62e7ae6cbe96"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"f30db892-07e9-47e9-837c-80727f46fd3d"},{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"}],"assignedPlans":[{"assignedTimestamp":"2021-02-10T08:12:50Z","capabilityStatus":"Deleted","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2021-02-10T08:12:50Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2021-02-10T08:12:50Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"199a5c09-e0ca-4e37-8f7c-b05d533e1ea2"},{"assignedTimestamp":"2021-02-10T08:12:50Z","capabilityStatus":"Deleted","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assi[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "3307ff37-85af-4550-bc6a-d1e02672cb7c",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enabledForDeployment": true, "enabledForTemplateDeployment": true, "softDeleteRetentionInDays":
      90, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002","name":"sfrp-cli-kv-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"3307ff37-85af-4550-bc6a-d1e02672cb7c","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://sfrp-cli-kv-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=CLIGetDefaultPolicy", "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/create?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAN3P3VTGSVakj6Sa0frQResUGCJPbbJdNIqO1NFIF3GOIhzR5CaNHHgUp1jOpFRBnPxzmB9txJGQ7du7rk6gzL2I9jwgoOum03Vj2TZOWUQqgITLNc9wxDmlFuGfR43VJa5hN2Vo+VLIGOFZl13VVqYhN48sX+3voRc4XTjWwFS2AkxrSfMZLMXu82v74zVVEFGiNZVAcTHzuS3pRKPYVDeQ3TofCfXrV4HZ0ojOH8eCJtuQgu6sqb5C7I1f6yXSuStyQes81RZknTNaLOyePmVOF2c3xFRZ1eTC9dJ9jjTBp+INJ9M2+vynFCluo3KS3jlidCnaZvxVioOGoeN51MECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCTdnQF0QP2Yq4QgrGxtzCpN1h0oGIvTN7n3CsiITkDiQGvN8Gp4yihGzsmZOvWvLXmnGtZyT/fNY2K85rPFMvyJoY67VNhbf5iAKihppDpaJhdUxzU0VJNdsBpPmAf7izcRzXVVk655ipekBc6GJE+oExc+XIfoVrXsXj6LEUgXujE1jUOHxy82GBqIMWEzxsmw3CKOOuqBHFPhVvTAI/3x6TuFLxujUADnMjd/9kMpimKxeJbbMp88HnHjwXNimQILlpd/w9KsK3nz4pAb5Fm9a5IdPMckEdNE81HbKaU3n7OlBVAGAPInoHPH61qTx1kWA3QZhYJ3Ggdowoon6fo","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"1e770b31956440a682b58bc275f6e883"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.0&request_id=1e770b31956440a682b58bc275f6e883
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAN3P3VTGSVakj6Sa0frQRes[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending","issuer":{"name":"Self"},"csr":"MIICrjCCAZYCAQAwHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAN3P3VTGSVakj6Sa0frQResUGCJPbbJdNIqO1NFIF3GOIhzR5CaNHHgUp1jOpFRBnPxzmB9txJGQ7du7rk6gzL2I9jwgoOum03Vj2TZOWUQqgITLNc9wxDmlFuGfR43VJa5hN2Vo+VLIGOFZl13VVqYhN48sX+3voRc4XTjWwFS2AkxrSfMZLMXu82v74zVVEFGiNZVAcTHzuS3pRKPYVDeQ3TofCfXrV4HZ0ojOH8eCJtuQgu6sqb5C7I1f6yXSuStyQes81RZknTNaLOyePmVOF2c3xFRZ1eTC9dJ9jjTBp+INJ9M2+vynFCluo3KS3jlidCnaZvxVioOGoeN51MECAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCTdnQF0QP2Yq4QgrGxtzCpN1h0oGIvTN7n3CsiITkDiQGvN8Gp4yihGzsmZOvWvLXmnGtZyT/fNY2K85rPFMvyJoY67VNhbf5iAKihppDpaJhdUxzU0VJNdsBpPmAf7izcRzXVVk655ipekBc6GJE+oExc+XIfoVrXsXj6LEUgXujE1jUOHxy82GBqIMWEzxsmw3CKOOuqBHFPhVvTAI/3x6TuFLxujUADnMjd/9kMpimKxeJbbMp88HnHjwXNimQILlpd/w9KsK3nz4pAb5Fm9a5IdPMckEdNE81HbKaU3n7OlBVAGAPInoHPH61qTx1kWA3QZhYJ3Ggdowoon6fo","cancellation_requested":false,"status":"completed","target":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003","request_id":"1e770b31956440a682b58bc275f6e883"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/?api-version=7.0
  response:
    body:
      string: '{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/42584594f39749c49dd33d8e5fc5c1b4","kid":"https://sfrp-cli-kv-000002.vault.azure.net/keys/sfrp-cli-000003/42584594f39749c49dd33d8e5fc5c1b4","sid":"https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000003/42584594f39749c49dd33d8e5fc5c1b4","x5t":"SgKiIBv7sgtiwv-ZikSYAuCoj-k","cer":"MIIDQjCCAiqgAwIBAgIQbuCsQvx3RqKd0Z/gdtWh+TANBgkqhkiG9w0BAQsFADAeMRwwGgYDVQQDExNDTElHZXREZWZhdWx0UG9saWN5MB4XDTIxMDMwMzE5MTU0MloXDTIyMDMwMzE5MjU0MlowHjEcMBoGA1UEAxMTQ0xJR2V0RGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAN3P3VTGSVakj6Sa0frQResUGCJPbbJdNIqO1NFIF3GOIhzR5CaNHHgUp1jOpFRBnPxzmB9txJGQ7du7rk6gzL2I9jwgoOum03Vj2TZOWUQqgITLNc9wxDmlFuGfR43VJa5hN2Vo+VLIGOFZl13VVqYhN48sX+3voRc4XTjWwFS2AkxrSfMZLMXu82v74zVVEFGiNZVAcTHzuS3pRKPYVDeQ3TofCfXrV4HZ0ojOH8eCJtuQgu6sqb5C7I1f6yXSuStyQes81RZknTNaLOyePmVOF2c3xFRZ1eTC9dJ9jjTBp+INJ9M2+vynFCluo3KS3jlidCnaZvxVioOGoeN51MECAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFCk2f8RNh7vrPwi86XB6uu5CFWwwMB0GA1UdDgQWBBQpNn/ETYe76z8IvOlwerruQhVsMDANBgkqhkiG9w0BAQsFAAOCAQEAjL9Bz2YuTpYSD2oc3Of5LYqlx2bCinQhoQgr+W/YXIg/qEXOX5RWQlQ2yorC1zs6NL4/+Fo1t1qNSbh7wNOE/yMhw55zACiReXtKiNu/3ye1o5zS/BdPFWyClMXExRiZHkn6syC4xevPy0LjpplQtoDVcakREGiclRRwKDVdL3q5yIeQYE3ieNgV06LurnAVWIolCMWV/vVzCxjUPytZ9mT/q8uMq3IKTPliMgXp6wzJDWSvzi426EVS0woCbPOLCz0s1sKcV5KdoIkMIOYy15vdXpb1rLxBscn0BpVMI3OsEdZjhvDdogvrPyJDEdJRD4ZSydKkHuFSVYKUyW1sxQ==","attributes":{"enabled":true,"nbf":1614798942,"exp":1646335542,"created":1614799543,"updated":1614799543,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=CLIGetDefaultPolicy","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1614799521,"updated":1614799521}},"pending":{"id":"https://sfrp-cli-kv-000002.vault.azure.net/certificates/sfrp-cli-000003/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-03-03T19:24:42Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alsantamclisf/providers/Microsoft.KeyVault/vaults/alsantamclisfkv","name":"alsantamclisfkv","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/sfrp-cli-kv-000002","name":"sfrp-cli-kv-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/0000[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://sfrp-cli-kv-000002.vault.azure.net/secrets/sfrp-cli-000003/42584594f39749c49dd33d8e5fc5c1b4?api-version=7.0
  response:
    body:
      string: '{"value":"MIIKUAIBAzCCCgwGCSqGSIb3DQEHAaCCCf0Eggn5MIIJ9TCCBhYGCSqGSIb3DQEHAaCCBgcEggYDMIIF/zCCBfsGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAgbXZtrKgrGhwICB9AEggTYvnFfubGvVLzz7h5D8Kcxjhb/ThPm7TMC1RUo+EmjBS+ryAhKVdRE9[...]
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"clusterLocation": {"type": "string",
      "metadata": {"description": "Location of the Cluster"}}, "clusterName": {"type":
      "string", "metadata": {"description": "Name of your cluster - Between 3 and
      23 characters. Letters and numbers only"}}, "adminUserName": {"type": "string",
      "metadata": {"description": "Remote desktop user Id"}}, "durabilityLevel": {"type":
      "string", "metadata": {"description": "The durability level"}}, "reliabilityLevel":
      {"type": "string", "metadata": {"description": "The reliability level"}}, "adminPassword":
      {"type": "securestring", "metadata": {"description": "Remote desktop user password.
      Must be a strong password"}}, "vmImagePublisher": {"type": "string", "defaultValue":
      "MicrosoftWindowsServer", "metadata": {"description": "VM image Publisher"}},
      "vmImageOffer": {"type": "string", "defaultValue": "WindowsServer", "metadata":
      {"description": "VM image offer"}}, "vmImageSku": {"type": "string", "metadata":
      {"description": "VM image SKU"}}, "vmSku": {"type": "string", "metadata": {"description":
      "VM SKU"}}, "vmImageVersion": {"type": "string", "defaultValue": "latest", "metadata":
      {"description": "VM image version"}}, "loadBalancedAppPort1": {"type": "int",
      "defaultValue": 80, "metadata": {"description": "Input endpoint1 for the application
      to use. Replace it with what your application uses"}}, "loadBalancedAppPort2":
      {"type": "int", "defaultValue": 8081, "metadata": {"description": "Input endpoint2
      for the application to use. Replace it with what your application uses"}}, "certificateStoreValue":
      {"type": "string", "allowedValues": ["My"], "defaultValue": "My", "metadata":
      {"description": "The store name where the cert will be deployed in the virtual
      machine"}}, "certificateThumbprint": {"type": "string", "metadata": {"description":
      "Certificate Thumbprint"}}, "sourceVaultValue": {"type": "string", "metadata":
      {"description": "Resource Id of the key vault, is should be in the format of
      /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault
      name>"}}, "certificateUrlValue": {"type": "string", "metadata": {"description":
      "Refers to the location URL in your key vault where the certificate was uploaded,
      it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact
      location>"}}, "clusterProtectionLevel": {"type": "string", "allowedValues":
      ["None", "Sign", "EncryptAndSign"], "defaultValue": "EncryptAndSign", "metadata":
      {"description": "Protection level.Three values are allowed - EncryptAndSign,
      Sign, None. It is best to keep the default of EncryptAndSign, unless you have
      a need not to"}}, "storageAccountType": {"type": "string", "allowedValues":
      ["Standard_LRS", "Standard_GRS"], "defaultValue": "Standard_LRS", "metadata":
      {"description": "Replication option for the VM image storage account"}}, "supportLogStorageAccountType":
      {"type": "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the support
      log storage account"}}, "applicationDiagnosticsStorageAccountType": {"type":
      "string", "allowedValues": ["Standard_LRS", "Standard_GRS"], "defaultValue":
      "Standard_LRS", "metadata": {"description": "Replication option for the application
      diagnostics storage account"}}, "nt0InstanceCount": {"type": "int", "metadata":
      {"description": "Instance count for node type"}}}, "variables": {"computeLocation":
      "[parameters(''clusterLocation'')]", "dnsName": "[parameters(''clusterName'')]",
      "vmName": "vm", "publicIPAddressName": "PublicIP-VM", "publicIPAddressType":
      "Dynamic", "vmStorageAccountContainerName": "vhds", "virtualNetworkName": "VNet",
      "addressPrefix": "10.0.0.0/16", "nicName": "NIC", "lbName": "LoadBalancer",
      "lbIPName": "PublicIP-LB-FE", "availSetName": "AvailabilitySet", "maxPercentUpgradeDomainDeltaUnhealthyNodes":
      "100", "vnetID": "[resourceId(''Microsoft.Network/virtualNetworks'',variables(''virtualNetworkName''))]",
      "overProvision": "false", "vmssApiVersion": "2017-03-30", "lbApiVersion": "2015-06-15",
      "vNetApiVersion": "2015-06-15", "storageApiVersion": "2016-01-01", "publicIPApiVersion":
      "2015-06-15", "nt0applicationStartPort": "20000", "nt0applicationEndPort": "30000",
      "nt0ephemeralStartPort": "49152", "nt0ephemeralEndPort": "65534", "nt0fabricTcpGatewayPort":
      "19000", "nt0fabricHttpGatewayPort": "19080", "subnet0Name": "Subnet-0", "subnet0Prefix":
      "10.0.0.0/24", "subnet0Ref": "[concat(variables(''vnetID''),''/subnets/'',variables(''subnet0Name''))]",
      "supportLogStorageAccountName": "[toLower( concat(''sflogs'', uniqueString(resourceGroup().id),''2''))]",
      "applicationDiagnosticsStorageAccountName": "[toLower(concat(uniqueString(resourceGroup().id),
      ''3'' ))]", "lbID0": "[resourceId(''Microsoft.Network/loadBalancers'',concat(''LB'',''-'',
      parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]", "lbIPConfig0":
      "[concat(variables(''lbID0''),''/frontendIPConfigurations/LoadBalancerIPConfig'')]",
      "lbPoolID0": "[concat(variables(''lbID0''),''/backendAddressPools/LoadBalancerBEAddressPool'')]",
      "lbProbeID0": "[concat(variables(''lbID0''),''/probes/FabricGatewayProbe'')]",
      "lbHttpProbeID0": "[concat(variables(''lbID0''),''/probes/FabricHttpGatewayProbe'')]",
      "lbNatPoolID0": "[concat(variables(''lbID0''),''/inboundNatPools/LoadBalancerBEAddressNatPool'')]",
      "vmNodeType0Name": "[toLower(concat(''NT1'', variables(''vmName'')))]", "vmNodeType0Size":
      "[parameters(''vmSku'')]"}, "resources": [{"apiVersion": "[variables(''storageApiVersion'')]",
      "type": "Microsoft.Storage/storageAccounts", "name": "[variables(''supportLogStorageAccountName'')]",
      "location": "[variables(''computeLocation'')]", "dependsOn": [], "properties":
      {}, "kind": "Storage", "sku": {"name": "[parameters(''supportLogStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''storageApiVersion'')]", "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables(''applicationDiagnosticsStorageAccountName'')]", "location":
      "[variables(''computeLocation'')]", "dependsOn": [], "properties": {}, "kind":
      "Storage", "sku": {"name": "[parameters(''applicationDiagnosticsStorageAccountType'')]"},
      "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''vNetApiVersion'')]", "type": "Microsoft.Network/virtualNetworks",
      "name": "[variables(''virtualNetworkName'')]", "location": "[variables(''computeLocation'')]",
      "properties": {"addressSpace": {"addressPrefixes": ["[variables(''addressPrefix'')]"]},
      "subnets": [{"name": "[variables(''subnet0Name'')]", "properties": {"addressPrefix":
      "[variables(''subnet0Prefix'')]"}}]}, "tags": {"resourceType": "Service Fabric",
      "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion": "[variables(''publicIPApiVersion'')]",
      "type": "Microsoft.Network/publicIPAddresses", "name": "[concat(variables(''lbIPName''),''-'',''0'')]",
      "location": "[variables(''computeLocation'')]", "properties": {"dnsSettings":
      {"domainNameLabel": "[variables(''dnsName'')]"}, "publicIPAllocationMethod":
      "Dynamic"}, "tags": {"resourceType": "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}},
      {"apiVersion": "[variables(''lbApiVersion'')]", "type": "Microsoft.Network/loadBalancers",
      "name": "[concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name''))]",
      "location": "[variables(''computeLocation'')]", "dependsOn": ["[concat(''Microsoft.Network/publicIPAddresses/'',concat(variables(''lbIPName''),''-'',''0''))]"],
      "properties": {"frontendIPConfigurations": [{"name": "LoadBalancerIPConfig",
      "properties": {"publicIPAddress": {"id": "[resourceId(''Microsoft.Network/publicIPAddresses'',concat(variables(''lbIPName''),''-'',''0''))]"}}}],
      "backendAddressPools": [{"name": "LoadBalancerBEAddressPool", "properties":
      {}}], "loadBalancingRules": [{"name": "LBRule", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[variables(''nt0fabricTcpGatewayPort'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricTcpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbProbeID0'')]"}, "protocol": "tcp"}}, {"name":
      "LBHttpRule", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[variables(''nt0fabricHttpGatewayPort'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[variables(''lbHttpProbeID0'')]"}, "protocol": "tcp"}},
      {"name": "AppPortLBRule1", "properties": {"backendAddressPool": {"id": "[variables(''lbPoolID0'')]"},
      "backendPort": "[parameters(''loadBalancedAppPort1'')]", "enableFloatingIP":
      "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort1'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe1'')]"},
      "protocol": "tcp"}}, {"name": "AppPortLBRule2", "properties": {"backendAddressPool":
      {"id": "[variables(''lbPoolID0'')]"}, "backendPort": "[parameters(''loadBalancedAppPort2'')]",
      "enableFloatingIP": "false", "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"},
      "frontendPort": "[parameters(''loadBalancedAppPort2'')]", "idleTimeoutInMinutes":
      "5", "probe": {"id": "[concat(variables(''lbID0''),''/probes/AppPortProbe2'')]"},
      "protocol": "tcp"}}], "probes": [{"name": "FabricGatewayProbe", "properties":
      {"intervalInSeconds": 5, "numberOfProbes": 2, "port": "[variables(''nt0fabricTcpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "FabricHttpGatewayProbe", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[variables(''nt0fabricHttpGatewayPort'')]",
      "protocol": "tcp"}}, {"name": "AppPortProbe1", "properties": {"intervalInSeconds":
      5, "numberOfProbes": 2, "port": "[parameters(''loadBalancedAppPort1'')]", "protocol":
      "tcp"}}, {"name": "AppPortProbe2", "properties": {"intervalInSeconds": 5, "numberOfProbes":
      2, "port": "[parameters(''loadBalancedAppPort2'')]", "protocol": "tcp"}}], "inboundNatPools":
      [{"name": "LoadBalancerBEAddressNatPool", "properties": {"backendPort": "3389",
      "frontendIPConfiguration": {"id": "[variables(''lbIPConfig0'')]"}, "frontendPortRangeEnd":
      "4500", "frontendPortRangeStart": "3389", "protocol": "tcp"}}]}, "tags": {"resourceType":
      "Service Fabric", "clusterName": "[parameters(''clusterName'')]"}}, {"apiVersion":
      "[variables(''vmssApiVersion'')]", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "[variables(''vmNodeType0Name'')]", "location": "[variables(''computeLocation'')]",
      "dependsOn": ["[concat(''Microsoft.Network/virtualNetworks/'', variables(''virtualNetworkName''))]",
      "[concat(''Microsoft.Network/loadBalancers/'', concat(''LB'',''-'', parameters(''clusterName''),''-'',variables(''vmNodeType0Name'')))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''supportLogStorageAccountName''))]",
      "[concat(''Microsoft.Storage/storageAccounts/'', variables(''applicationDiagnosticsStorageAccountName''))]"],
      "properties": {"overprovision": "[variables(''overProvision'')]", "upgradePolicy":
      {"mode": "Automatic"}, "virtualMachineProfile": {"extensionProfile": {"extensions":
      [{"name": "[concat(''ServiceFabricNodeVmExt'',''_vmNodeType0Name'')]", "properties":
      {"type": "ServiceFabricNode", "autoUpgradeMinorVersion": false, "protectedSettings":
      {"StorageAccountKey1": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key1]",
      "StorageAccountKey2": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''supportLogStorageAccountName'')),''2015-05-01-preview'').key2]"},
      "publisher": "Microsoft.Azure.ServiceFabric", "settings": {"clusterEndpoint":
      "[reference(parameters(''clusterName'')).clusterEndpoint]", "nodeTypeRef": "[variables(''vmNodeType0Name'')]",
      "dataPath": "D:\\\\SvcFab", "durabilityLevel": "[parameters(''durabilityLevel'')]",
      "nicPrefixOverride": "[variables(''subnet0Prefix'')]", "certificate": {"thumbprint":
      "[parameters(''certificateThumbprint'')]", "x509StoreName": "[parameters(''certificateStoreValue'')]"}},
      "typeHandlerVersion": "1.1"}}, {"name": "[concat(''VMDiagnosticsVmExt'',''_vmNodeType0Name'')]",
      "properties": {"type": "IaaSDiagnostics", "autoUpgradeMinorVersion": true, "protectedSettings":
      {"storageAccountName": "[variables(''applicationDiagnosticsStorageAccountName'')]",
      "storageAccountKey": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      variables(''applicationDiagnosticsStorageAccountName'')),''2015-05-01-preview'').key1]",
      "storageAccountEndPoint": "https://core.windows.net/"}, "publisher": "Microsoft.Azure.Diagnostics",
      "settings": {"WadCfg": {"DiagnosticMonitorConfiguration": {"overallQuotaInMB":
[...]
