interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: http://eddertester.westus2.cloudapp.azure.com:19080/Nodes/_Derp_0/$/GetApplications/System/$/GetServicePackages?api-version=3.0&timeout=60
  response:
    body: {string: !!python/unicode '[{"Name":"DnsService","Version":"255.255.5718.255","Status":"Active","ServicePackageActivationId":""},{"Name":"FAS","Version":"255.255.5718.255","Status":"Active","ServicePackageActivationId":""},{"Name":"FileStoreService","Version":"255.255.5718.255","Status":"Active","ServicePackageActivationId":""},{"Name":"US","Version":"255.255.5718.255","Status":"Active","ServicePackageActivationId":""}]'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
