interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: http://eddertester.westus2.cloudapp.azure.com:19080/Partitions/00000000-0000-0000-0000-000000000001/$/GetReplicas/131413730902833907/$/GetHealth?api-version=3.0&timeout=60
  response:
    body: {string: !!python/unicode '{"ServiceKind":"Stateful","PartitionId":"00000000-0000-0000-0000-000000000001","ReplicaId":"131413730902833907","HealthEvents":[{"SourceId":"System.RA","Property":"State","HealthState":"Ok","TimeToLiveInMilliSeconds":"P10675199DT2H48M5.4775807S","Description":"Replica
        has been created._Derp_0","SequenceNumber":"131413730904864988","RemoveWhenExpired":false,"SourceUtcTimestamp":"2017-06-08T05:24:50.486Z","LastModifiedUtcTimestamp":"2017-06-08T05:25:30.001Z","IsExpired":false,"LastOkTransitionAt":"2017-06-08T05:25:30.001Z","LastWarningTransitionAt":"0001-01-01T00:00:00.000Z","LastErrorTransitionAt":"0001-01-01T00:00:00.000Z"}],"AggregatedHealthState":"Ok","UnhealthyEvaluations":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
