interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-05-19T03:15:46Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_vms000001?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001","name":"cli_test_vmss_vms000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-05-19T03:15:46Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['242']
      x-fastly-request-id: [fde711e8745978c61cdb2e443b7249dfd02ed445]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/virtualnetworks?api-version=2015-06-15
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "template": {"resources": [{"dependsOn":
      [], "properties": {"subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vmss1Subnet"}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "name": "vmss1VNET", "tags": {}, "apiVersion": "2015-06-15", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus"}, {"dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Dynamic"}, "name": "vmss1LBPublicIP", "tags": {}, "apiVersion": "2015-06-15",
      "type": "Microsoft.Network/publicIPAddresses", "location": "westus"}, {"dependsOn":
      ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"],
      "properties": {"inboundNatPools": [{"properties": {"backendPort": 22, "frontendPortRangeStart":
      "50000", "frontendPortRangeEnd": "50119", "protocol": "tcp", "frontendIPConfiguration":
      {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'', \''vmss1LB\''),
      \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"}}, "name": "vmss1LBNatPool"}],
      "frontendIPConfigurations": [{"properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "backendAddressPools": [{"name": "vmss1LBBEPool"}]},
      "name": "vmss1LB", "tags": {}, "apiVersion": "2015-06-15", "type": "Microsoft.Network/loadBalancers",
      "location": "westus"}, {"properties": {"accountType": "Standard_LRS"}, "name":
      "[variables(\''storageAccountNames\'')[copyIndex()]]", "copy": {"count": 5,
      "name": "storageLoop"}, "tags": {}, "apiVersion": "2015-06-15", "type": "Microsoft.Storage/storageAccounts",
      "location": "westus"}, {"dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB", "storageLoop"], "properties": {"virtualMachineProfile":
      {"osProfile": {"computerNamePrefix": "vmss100e1", "adminUsername": "admin123",
      "adminPassword": "[parameters(\''adminPassword\'')]"}, "networkProfile": {"networkInterfaceConfigurations":
      [{"properties": {"ipConfigurations": [{"properties": {"loadBalancerInboundNatPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}]},
      "name": "vmss100e1IPConfig"}], "primary": "true"}, "name": "vmss100e1Nic"}]},
      "storageProfile": {"osDisk": {"vhdContainers": "[variables(\''vhdContainers\'')]",
      "createOption": "FromImage", "name": "osdisk_00e12bfaff", "caching": "ReadWrite"},
      "imageReference": {"publisher": "Canonical", "version": "latest", "sku": "16.04-LTS",
      "offer": "UbuntuServer"}}}, "upgradePolicy": {"mode": "manual"}, "overprovision":
      true}, "name": "vmss1", "tags": {}, "apiVersion": "2016-03-30", "type": "Microsoft.Compute/virtualMachineScaleSets",
      "location": "westus", "sku": {"capacity": 2, "name": "Standard_D1_v2"}}], "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}, "contentVersion": "1.0.0.0", "parameters": {"adminPassword":
      {"metadata": {"description": "Secure adminPassword"}, "type": "securestring"}},
      "variables": {"storageAccountNames": ["vmss100e10", "vmss100e11", "vmss100e12",
      "vmss100e13", "vmss100e14"], "vhdContainers": ["[concat(\''https://\'', variables(\''storageAccountNames\'')[0],
      \''.blob.core.windows.net/vhds\'')]", "[concat(\''https://\'', variables(\''storageAccountNames\'')[1],
      \''.blob.core.windows.net/vhds\'')]", "[concat(\''https://\'', variables(\''storageAccountNames\'')[2],
      \''.blob.core.windows.net/vhds\'')]", "[concat(\''https://\'', variables(\''storageAccountNames\'')[3],
      \''.blob.core.windows.net/vhds\'')]", "[concat(\''https://\'', variables(\''storageAccountNames\'')[4],
      \''.blob.core.windows.net/vhds\'')]"]}}, "parameters": {"adminPassword": {"value":
      "TestTest12#$"}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_vms000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Resources/deployments/vmss_deploy_2b6LMZNTsLuBG1VmCbDfBtPBsPjFopQi","name":"vmss_deploy_2b6LMZNTsLuBG1VmCbDfBtPBsPjFopQi","properties":{"templateHash":"2212887007562397429","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-05-19T03:15:49.5440744Z","duration":"PT0.6484214S","correlationId":"e46f60d5-cb45-4ad3-b089-7c4d6152ea05","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_vms000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586749071365819925?api-version=2016-02-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"0\",\r\
        \n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"\
        latestModelApplied\": true,\r\n        \"vmId\": \"5806eedf-4bca-4c0f-8734-0745b20eb405\"\
        ,\r\n        \"hardwareProfile\": {},\r\n        \"storageProfile\": {\r\n\
        \          \"imageReference\": {\r\n            \"publisher\": \"Canonical\"\
        ,\r\n            \"offer\": \"UbuntuServer\",\r\n            \"sku\": \"16.04-LTS\"\
        ,\r\n            \"version\": \"16.04.201805090\"\r\n          },\r\n    \
        \      \"osDisk\": {\r\n            \"osType\": \"Linux\",\r\n           \
        \ \"name\": \"osdisk_00e12bfaff-os-0-f97e5a657bd84e9e97bcfa2bdbd38e95\",\r\
        \n            \"createOption\": \"FromImage\",\r\n            \"vhd\": {\r\
        \n              \"uri\": \"https://vmss100e10.blob.core.windows.net/vhds/osdisk_00e12bfaff-os-0-f97e5a657bd84e9e97bcfa2bdbd38e95.vhd\"\
        \r\n            },\r\n            \"caching\": \"ReadWrite\"\r\n         \
        \ }\r\n        },\r\n        \"osProfile\": {\r\n          \"computerName\"\
        : \"vmss100e1000000\",\r\n          \"adminUsername\": \"admin123\",\r\n \
        \         \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\"\
        : false\r\n          },\r\n          \"secrets\": []\r\n        },\r\n   \
        \     \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss100e1Nic\"\
        }]},\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n     \
        \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\"\
        ,\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VMSS_VMSAWFUEKSKJFEZN6USYEJFJEPRR5ALNL4OHM3AMYUISV4ZYCCO2ED43SMEZ3/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n      \"name\": \"vmss1_0\"\r\n    },\r\n    {\r\n      \"instanceId\"\
        : \"3\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_D1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"vmId\": \"d44d57a3-7ea9-4d29-a09b-7563f46da6c0\"\
        ,\r\n        \"hardwareProfile\": {},\r\n        \"storageProfile\": {\r\n\
        \          \"imageReference\": {\r\n            \"publisher\": \"Canonical\"\
        ,\r\n            \"offer\": \"UbuntuServer\",\r\n            \"sku\": \"16.04-LTS\"\
        ,\r\n            \"version\": \"16.04.201805090\"\r\n          },\r\n    \
        \      \"osDisk\": {\r\n            \"osType\": \"Linux\",\r\n           \
 [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"instanceId\": \"0\",\r\n  \"sku\": {\r\n    \"name\"\
        : \"Standard_D1_v2\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"latestModelApplied\": true,\r\n    \"vmId\": \"5806eedf-4bca-4c0f-8734-0745b20eb405\"\
        ,\r\n    \"hardwareProfile\": {},\r\n    \"storageProfile\": {\r\n      \"\
        imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"\
        offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04-LTS\",\r\n        \"\
        version\": \"16.04.201805090\"\r\n      },\r\n      \"osDisk\": {\r\n    \
        \    \"osType\": \"Linux\",\r\n        \"name\": \"osdisk_00e12bfaff-os-0-f97e5a657bd84e9e97bcfa2bdbd38e95\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n  \
        \        \"uri\": \"https://vmss100e10.blob.core.windows.net/vhds/osdisk_00e12bfaff-os-0-f97e5a657bd84e9e97bcfa2bdbd38e95.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      }\r\n    },\r\
        \n    \"osProfile\": {\r\n      \"computerName\": \"vmss100e1000000\",\r\n\
        \      \"adminUsername\": \"admin123\",\r\n      \"linuxConfiguration\": {\r\
        \n        \"disablePasswordAuthentication\": false\r\n      },\r\n      \"\
        secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss100e1Nic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n  \"name\": \"vmss1_0\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSetVM3Min;499,Microsoft.Compute/GetVMScaleSetVM30Min;2499,Microsoft.Compute/VMScaleSetVMViews3Min;4987']
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n\
        \    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"\
        computerNamePrefix\": \"vmss100e1\",\r\n        \"adminUsername\": \"admin123\"\
        ,\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : false\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n       \
        \     \"https://vmss100e10.blob.core.windows.net/vhds\",\r\n            \"\
        https://vmss100e11.blob.core.windows.net/vhds\",\r\n            \"https://vmss100e12.blob.core.windows.net/vhds\"\
        ,\r\n            \"https://vmss100e13.blob.core.windows.net/vhds\",\r\n  \
        \          \"https://vmss100e14.blob.core.windows.net/vhds\"\r\n         \
        \ ],\r\n          \"name\": \"osdisk_00e12bfaff\",\r\n          \"createOption\"\
        : \"FromImage\",\r\n          \"caching\": \"ReadWrite\"\r\n        },\r\n\
        \        \"imageReference\": {\r\n         [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"vmss1LB\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB\"\
        ,\r\n  \"etag\": \"W/\\\"c4481dc9-2c58-49ac-afac-e991c4a55eeb\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"b7b8b25a-0f38-4b64-9cc2-a6bb6054bdb2\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        loadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"c4481dc9-2c58-49ac-afac-e991c4a55eeb\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP\"\
        \r\n          },\r\n          \"inboundNatRules\": [\r\n            {\r\n\
        \              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.1\"\
        \r\n     [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP?api-version=2015-06-15
  response:
    body: {string: "{\r\n  \"name\": \"vmss1LBPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"2b402aa2-a1c2-48af-9c39-2466fe31d25e\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7a1b304b-49d1-4e30-b835-aa0f8dcc3d97\"\
        ,\r\n    \"ipAddress\": \"104.42.195.191\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipConfiguration\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\r\
        \n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2b402aa2-a1c2-48af-9c39-2466fe31d25e"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/restart?api-version=2016-03-30
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/628af73a-b880-4b7d-8b9b-932dcc2ccffa?api-version=2016-03-30']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/628af73a-b880-4b7d-8b9b-932dcc2ccffa?monitor=true&api-version=2016-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1199,Microsoft.Compute/VMScaleSetVMActions3Min;199,Microsoft.Compute/VMScaleSetVMActions30Min;999,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1190,Microsoft.Compute/VmssQueuedVMOperations;4798']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['2']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/628af73a-b880-4b7d-8b9b-932dcc2ccffa?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-05-19T03:18:23.66934+00:00\",\r\n\
        \  \"status\": \"InProgress\",\r\n  \"name\": \"628af73a-b880-4b7d-8b9b-932dcc2ccffa\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14984,Microsoft.Compute/GetOperation30Min;29849']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/628af73a-b880-4b7d-8b9b-932dcc2ccffa?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-05-19T03:18:23.66934+00:00\",\r\n\
        \  \"endTime\": \"2018-05-19T03:20:08.4198105+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"628af73a-b880-4b7d-8b9b-932dcc2ccffa\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14981,Microsoft.Compute/GetOperation30Min;29867']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/0/instanceView?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"platformUpdateDomain\": 0,\r\n  \"platformFaultDomain\"\
        : 0,\r\n  \"vmAgent\": {\r\n    \"vmAgentVersion\": \"2.2.25\",\r\n    \"\
        statuses\": [\r\n      {\r\n        \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n        \"level\": \"Info\",\r\n        \"displayStatus\": \"Ready\"\
        ,\r\n        \"message\": \"Guest Agent is running\",\r\n        \"time\"\
        : \"2018-05-19T03:20:24+00:00\"\r\n      }\r\n    ],\r\n    \"extensionHandlers\"\
        : []\r\n  },\r\n  \"disks\": [\r\n    {\r\n      \"name\": \"osdisk_00e12bfaff-os-0-f97e5a657bd84e9e97bcfa2bdbd38e95\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2018-05-19T03:18:23.9037175+00:00\"\
        \r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"statuses\": [\r\n    {\r\n\
        \      \"code\": \"ProvisioningState/succeeded\",\r\n      \"level\": \"Info\"\
        ,\r\n      \"displayStatus\": \"Provisioning succeeded\",\r\n      \"time\"\
        : \"2018-05-19T03:19:21.1228989+00:00\"\r\n    },\r\n    {\r\n      \"code\"\
        : \"PowerState/running\",\r\n      \"level\": \"Info\",\r\n      \"displayStatus\"\
        : \"VM running\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSetVM3Min;498,Microsoft.Compute/GetVMScaleSetVM30Min;2498,Microsoft.Compute/VMScaleSetVMViews3Min;4986']
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_vms000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualmachines/%2A/poweroff?api-version=2016-03-30
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e186beaf-87c5-4077-8ba5-4fd05a354c18?api-version=2016-03-30']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/e186beaf-87c5-4077-8ba5-4fd05a354c18?monitor=true&api-version=2016-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVMScaleSetVM3Min;239,Microsoft.Compute/DeleteVMScaleSetVM30Min;1199,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1188,Microsoft.Compute/VmssQueuedVMOperations;4798']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
      x-ms-request-charge: ['2']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
[...]
