interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"name": "dps000002"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2017-11-15
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2017-11-15
  response:
    body: {string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNDk4ZmI3M2EtY2FhMC00ODliLTg1YjgtMjllNTIwMzY1YzI1?api-version=2017-11-15&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNDk4ZmI3M2EtY2FhMC00ODliLTg1YjgtMjllNTIwMzY1YzI1?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2017-11-15
  response:
    body: {string: '{"etag":"AAAAAAAJYeM=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne000086CD"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"etag":"AAAAAAAJYeM=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne000086CD"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOGMyNzhiYzAtY2E5NC00YjIzLWJhZTgtNmNkYWFjMDE4YWE0?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"6pBKvbNSW5UFkItD3kRU9oANWPUXdCg3Ei7oEG9c9RE=","secondaryKey":"/TqvTaXgc4AZ4uQ6P5MkM7tAKE3l4MCTLAGEGrP4F/k=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "6pBKvbNSW5UFkItD3kRU9oANWPUXdCg3Ei7oEG9c9RE=", "secondaryKey":
      "/TqvTaXgc4AZ4uQ6P5MkM7tAKE3l4MCTLAGEGrP4F/k=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000003", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000003/listkeys?api-version=2017-11-15
  response:
    body: {string: '{"keyName":"policy000003","primaryKey":"5iQFNqLWEXcZ3N8kMyUPOIiwdUhLadVV0bAy+Kv++6w=","secondaryKey":"PrCnpKeP3co+c+JkZ94VFwLB9ij9SdFIggXmKBh2jR8=","rights":"EnrollmentRead"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2017-11-15
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIIJE7FJTRGYowDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRrczU1ZHBscHgyc2s2b2NkMB4XDTE4MDEwNDA1NTgwMloXDTE4\r\nMDEwODA1NTgwMlowIzEhMB8GA1UEAwwYVEVTVENFUlRrczU1ZHBscHgyc2s2b2Nk\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAtn76C77TnbKEwpBqvNnk6\r\nx8WLFiYPZr847h6ElIa9UZOn7OLg0mxue0/cJC70xP5vD4Bl/J6Yqc0355vKVFIl\r\ncxH3M50dJ51+mWbzEa4+kY+vakZ9jeiitZGLdXRO89tcLztHPZEgmRTlLzY5wyb4\r\nz4Oc1tUoapFJQXu/wJ4l90ZmDIyYFCZS/IE9StHnLcGblNIzh7sj+lBVTTt[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"properties":{"subject":"CN=TESTCERT000005","expiry":"Mon,
        08 Jan 2018 05:58:02 GMT","thumbprint":"9FAC2E0FD25204691C6C5431D9301511779AB89A","isVerified":false,"created":"Fri,
        05 Jan 2018 05:58:03 GMT","updated":"Fri, 05 Jan 2018 05:58:03 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000004","name":"certificate000004","type":"Microsoft.Devices/IotHubs/Certificates","etag":"AAAAAAAJYfw="}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIIJE7FJTRGYowDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRrczU1ZHBscHgyc2s2b2NkMB4XDTE4MDEwNDA1NTgwMloXDTE4\r\nMDEwODA1NTgwMlowIzEhMB8GA1UEAwwYVEVTVENFUlRrczU1ZHBscHgyc2s2b2Nk\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAtn76C77TnbKEwpBqvNnk6\r\nx8WLFiYPZr847h6ElIa9UZOn7OLg0mxue0/cJC70xP5vD4Bl/J6Yqc0355vKVFIl\r\ncxH3M50dJ51+mWbzEa4+kY+vakZ9jeiitZGLdXRO89tcLztHPZEgmRTlLzY5wyb4\r\nz4Oc1tUoapFJQXu/wJ4l90ZmDIyYFCZS/IE9StHnLcGblNIzh7sj+lBVTTtLccw8\r\n4v+VS0tz1CiD2Cn4CUbtDcgd2FWTHfOzdaKbLk0XE0ugG34ONlv0N/zNhur47q4A\r\ns+h/QCQG32o+FQXBKkyHn9c3moOjnVxgvEjrlBO/FysBDIWlD2yHCmpoNsu60uQ7\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQAd8Rwv7+eXQ/Gc9V4mi5C1aJd1vmwhKpBNgX+SSs12\r\n/MMZSc+nuFm896ypuiq2rj2shKDVaCRGCqURHuxmcOOj5T92ObaNGXEYGGBtaHl2\r\nCKPYChO1xGWk9GwG2/B09xCLUFbD5qPPC/4qo/oB1W8Azk6f4ilwU8S626z5yQEV\r\nIwqS8mRLogPyt3jEiTzVDcYM4224xG3yPcjwsmubS0gYOq8eKVeAjJrldVPQrJd5\r\nMkOcZPaSBlIgfr981wdwOv/e/cxpuPnpCJ76H6T8VY4AhDgtLqZhzQhHz2/l7MM8\r\nLXRTEnXT16ql1rd6VPYcOfHQja0FD45FBW6SS0rmmoPp\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: [AAAAAAAJYfw=]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000004?api-version=2017-11-15
  response:
    body: {string: '{"properties":{"subject":"CN=TESTCERT000005","expiry":"Mon, 08
        Jan 2018 05:58:02 GMT","thumbprint":"9FAC2E0FD25204691C6C5431D9301511779AB89A","isVerified":false,"created":"Fri,
        05 Jan 2018 05:58:03 GMT","updated":"Fri, 05 Jan 2018 05:58:09 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000004","name":"certificate000004","type":"Microsoft.Devices/IotHubs/Certificates","etag":"AAAAAAAJYf0="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: [AAAAAAAJYf0=]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000004/generateVerificationCode?api-version=2017-11-15
  response:
    body: {string: '{"properties":{"verificationCode":"357C8E376169AA9A7C6E09E30239B8C23A2A019605CF4362","subject":"CN=TESTCERT000005","expiry":"Mon,
        08 Jan 2018 05:58:02 GMT","thumbprint":"9FAC2E0FD25204691C6C5431D9301511779AB89A","isVerified":false,"created":"Fri,
        05 Jan 2018 05:58:03 GMT","updated":"Fri, 05 Jan 2018 05:58:11 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000004","name":"certificate000004","type":"Microsoft.Devices/IotHubs/Certificates","etag":"AAAAAAAJYf4="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIIZS1ihccnYrIwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRrczU1ZHBscHgyc2s2b2NkMB4XDTE4MDEwNTA1NTgxMVoXDTE4\r\nMDEwODA1NTgxMVowOzE5MDcGA1UEAwwwMzU3QzhFMzc2MTY5QUE5QTdDNkUwOUUz\r\nMDIzOUI4QzIzQTJBMDE5NjA1Q0Y0MzYyMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQAv/1rhbK8Yc0NZD64wKgZULQYUL/g99jSUHDborQj4dNxm7HO4Kb+T\r\nvuV+aZtFWH2WiOF0lf9QKxWeLowmO1RoWdNAbpCqLukht+8A7jMKMH3I07qpszV9\r\nMVuliuxRt0EuVDkFq2sUW6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfM2Y3ZGRiYTgtMDM0ZS00ZjA3LWJjZGEtNGI0ZjU4Njk0OGYx?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"Name": "iot-hub-for-dps-test000007"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2017-07-01
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "subscriptionid": "b9ed95d7-5b40-413f-8e72-74721213a06c",
      "resourcegroup": "clitest.rg000001", "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007","name":"iot-hub-for-dps-test000007","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007/operationResults/b3NfaWhfMzYxMGYxMjMtY2Q3MS00NmUyLWEzYWItOTE4ZjE0ZGNlYmE5?api-version=2017-07-01&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4998']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZWIwMTc0YzItNWNlMS00ZmI4LWIwMjgtZmVlYWVlMTQ0NDU5?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZDMxMzI2MzItYzJmMy00NDY5LThjNzctMjE4M2U5YTg2OWVj?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007/operationResults/b3NfaWhfMzYxMGYxMjMtY2Q3MS00NmUyLWEzYWItOTE4ZjE0ZGNlYmE5?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007","name":"iot-hub-for-dps-test000007","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","etag":"AAAAAAFpPwM=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-dps-test000007.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-dps-testzuz5w","endpoint":"sb://iothub-ns-iot-hub-fo-309404-5c3bee6231.servicebus.windows.net/"},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-dps-testzuz5w-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-309404-5c3bee6231.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yingtest/providers/Microsoft.Devices/IotHubs/yingtest","name":"yingtest","type":"Microsoft.Devices/IotHubs","location":"eastus"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"keyName":"iothubowner","primaryKey":"WYWI+dirKnu43RG1OBfrZMq7dq5goGG0jsyBU7aMptU=","secondaryKey":"DNTVbryseNJHKzeYaLDxDsSqOwjyjnWt8rMXpZG3nEQ=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"4zulZr4bzbO9ZYfq8mjvcvJ8mvx9aSeiCAf5U4n5OMU=","secondaryKey":"WjCfC87eTTsiziWaxyPaodJfaS6sMkhYOzhh+ElP0Ds=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"g1PdBPOMwtswjzbBcFDU1MXO4eaLPYOhanVFKD6QKCY=","secondaryKey":"Yjjq2v/NLDZuv+RjjFT5LTeVMO76eFLE1YNOUXtaY10=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"PNJ9p5pUNarWQrrpVJLeJSLyFPx1jScyEe9ud44XA4M=","secondaryKey":"Nl0qwW0niFYJgzG1CbTbbLuGMdBAi6az7/VjxjIkkc4=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"6iO2OoorjuTIq797w6Ye7F6znIi19F/M932n3vqhtcw=","secondaryKey":"rNwhzK2nydZMHP2DbEphM/2/butp2saB4HmbR6mTN/o=","rights":"RegistryWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAFpPwM=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007/operationResults/b3NfaWhfOGE4N2Q2NWUtNGY2MC00OWQwLWJiODQtMjk3N2YzNDQzNGQx?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007/IotHubKeys/key000006/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"keyName":"key000006","primaryKey":"+Xj7dNrcWX/v4LXNoLXUL2aB3jvHKHtLVH9kfQStaFI=","secondaryKey":"qCKDDTT3zd1EKQkxMzTijmle7rDLV4kv4SZXoQ9vxJM=","rights":"RegistryWrite"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot-hub-for-dps-test000007.azure-devices.net;SharedAccessKeyName=key000006;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZWFiNjQ5MzUtMTU4ZS00MTRjLWI2NDEtNDkxODI2ZWEzNGE5?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007/operationResults/b3NfaWhfMjczMTBhOTMtOGRlMC00OGE3LTgxNWEtZTZmZGI2NjIxYjA2?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMjk5ZjAzZDYtOTY2My00MGUyLTllZmEtZDJlYmIxNWVjN2Ji?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMzg3NzkxZWUtYzBlNy00MmMxLTkyMGUtYjVmYTNiMzBiMDhl?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007/operationResults/b3NfaWhfMjczMTBhOTMtOGRlMC00OGE3LTgxNWEtZTZmZGI2NjIxYjA2?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Devices/IotHubs/iot-hub-for-dps-test000007''
        under resource group ''clitest.rg000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMGM2MmE5ZDItOTNmYy00MjU1LTk4NDQtNTVlMWQ0NWM3NTdl?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdGR0lOUTUzSlg0SUxJSFVKU0FCS1lUQkxIT1JFNUFRVEVMNHw0MEJGQkU0OEEyRDBFOEE1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
