interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"Name": "iot-hub-for-dps-test000003"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2017-07-01
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"sku": {"capacity": 1, "name": "S1"}, "resourcegroup": "clitest.rg000001",
      "subscriptionid": "b9ed95d7-5b40-413f-8e72-74721213a06c", "location": "westus"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003","name":"iot-hub-for-dps-test000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003/operationResults/b3NfaWhfM2RmODUxMGItOGFkNS00MTBlLTkwMTktMTNjOTliMDMyMTMy?api-version=2017-07-01&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003/operationResults/b3NfaWhfM2RmODUxMGItOGFkNS00MTBlLTkwMTktMTNjOTliMDMyMTMy?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003","name":"iot-hub-for-dps-test000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","etag":"AAAAAAFgr2c=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-dps-test000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-dps-testdo2pt","endpoint":"sb://iothub-ns-iot-hub-fo-297264-beece63ec3.servicebus.windows.net/"},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-dps-testdo2pt-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-297264-beece63ec3.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yingtest/providers/Microsoft.Devices/IotHubs/yingtest","name":"yingtest","type":"Microsoft.Devices/IotHubs","location":"eastus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"yingtest","etag":"AAAAAAFarQQ=","properties":{"operationsMonitoringProperties":{"events":{"FileUploadOperations":"None","DeviceTelemetry":"None","Routes":"None","None":"None","DeviceIdentityOperations":"None","Conn[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"keyName":"iothubowner","primaryKey":"cP5i2V2pc+3mYOsYhl2zNMaGoEm3tjF5G0AIGQQJ7Wg=","secondaryKey":"prWRPcWcQgl7R5+8MSsKRb8mJtkoGk5praJWGKRubnM=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"GQ8lcwHztPeLzrEvUbwsHm0ow+dHXL0V9sZDS9HCWJo=","secondaryKey":"FR3KwqtqadG21JiOYbwwCfRv1GeoKCJTezJWcgmYhTc=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"roDBmZadviYecrQ1u1q1zNVIyob+xvhUlSnA/H1zE18=","secondaryKey":"88N1p0TCt18gVq1okTos7y2vqRNDB4hu7rC8TI4fhk8=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mWw/ndjiub4Hkt4r7HdgD+GN8xn/lJQ+xPv/mlf54X8=","secondaryKey":"qSr2ZmFuj0Cv1j73U+0+OJwn2gj8jus+f6vZnlIiiYA=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"h8Kwrpo6STPZbxfZJ/bp5rkdobGshtLZ/ulQN/sIAxs=","secondaryKey":"T1ipkRwLSYdM8sFlhs//hQndwdO3UhsvNohx+UO4f0o=","rights":"RegistryWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"etag": "AAAAAAFgr2c=", "subscriptionid": "b9ed95d7-5b40-413f-8e72-74721213a06c",
      "tags": {}, "location": "westus", "sku": {"capacity": 1, "name": "S1"}, "resourcegroup":
      "clitest.rg000001", "properties": {"messagingEndpoints": {"fileNotifications":
      {"lockDurationAsIso8601": "PT1M", "maxDeliveryCount": 10, "ttlAsIso8601": "PT1H"}},
      "routing": {"routes": [], "endpoints": {"serviceBusQueues": [], "storageContainers":
      [], "serviceBusTopics": [], "eventHubs": []}, "fallbackRoute": {"condition":
      "true", "endpointNames": ["events"], "source": "DeviceMessages", "isEnabled":
      true}}, "features": "None", "eventHubEndpoints": {"events": {"partitionCount":
      4, "retentionTimeInDays": 1}, "operationsMonitoringEvents": {"partitionCount":
      4, "retentionTimeInDays": 1}}, "cloudToDevice": {"defaultTtlAsIso8601": "PT1H",
      "maxDeliveryCount": 10, "feedback": {"lockDurationAsIso8601": "PT1M", "maxDeliveryCount":
      10, "ttlAsIso8601": "PT1H"}}, "operationsMonitoringProperties": {"events": {"DeviceTelemetry":
      "None", "FileUploadOperations": "None", "Connections": "None", "C2DCommands":
      "None", "DeviceIdentityOperations": "None", "None": "None", "Routes": "None"}},
      "ipFilterRules": [], "authorizationPolicies": [{"rights": "RegistryWrite, ServiceConnect,
      DeviceConnect", "keyName": "iothubowner", "primaryKey": "cP5i2V2pc+3mYOsYhl2zNMaGoEm3tjF5G0AIGQQJ7Wg=",
      "secondaryKey": "prWRPcWcQgl7R5+8MSsKRb8mJtkoGk5praJWGKRubnM="}, {"rights":
      "ServiceConnect", "keyName": "service", "primaryKey": "GQ8lcwHztPeLzrEvUbwsHm0ow+dHXL0V9sZDS9HCWJo=",
      "secondaryKey": "FR3KwqtqadG21JiOYbwwCfRv1GeoKCJTezJWcgmYhTc="}, {"rights":
      "DeviceConnect", "keyName": "device", "primaryKey": "roDBmZadviYecrQ1u1q1zNVIyob+xvhUlSnA/H1zE18=",
      "secondaryKey": "88N1p0TCt18gVq1okTos7y2vqRNDB4hu7rC8TI4fhk8="}, {"rights":
      "RegistryRead", "keyName": "registryRead", "primaryKey": "mWw/ndjiub4Hkt4r7HdgD+GN8xn/lJQ+xPv/mlf54X8=",
      "secondaryKey": "qSr2ZmFuj0Cv1j73U+0+OJwn2gj8jus+f6vZnlIiiYA="}, {"rights":
      "RegistryWrite", "keyName": "registryReadWrite", "primaryKey": "h8Kwrpo6STPZbxfZJ/bp5rkdobGshtLZ/ulQN/sIAxs=",
      "secondaryKey": "T1ipkRwLSYdM8sFlhs//hQndwdO3UhsvNohx+UO4f0o="}, {"rights":
      "RegistryWrite", "keyName": "key000002"}], "storageEndpoints": {"$default":
      {"connectionString": "", "sasTtlAsIso8601": "PT1H", "containerName": ""}}, "enableFileUploadNotifications":
      false}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAFgr2c=''}']
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003","name":"iot-hub-for-dps-test000003","type":"Microsof[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAFgr2c=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003/operationResults/b3NfaWhfYWRiZTIwYWUtYThkZi00OWNmLWI2ZTYtY2VhYzVjYWNhNmEx?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003/IotHubKeys/key000002/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"keyName":"key000002","primaryKey":"q4ENpZaLSq4ItE+/74Ql+2Nx63ur+AZ4R2/J2whf+3Q=","secondaryKey":"9LJqmpy4GLvskakzmoXk78m6D3NciD2my0Xjmy4pE2A=","rights":"RegistryWrite"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "iot-dps-for-dps-test000004"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2017-11-15
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"sku": {"capacity": 1, "name": "S1"}, "properties": {}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004?api-version=2017-11-15
  response:
    body: {string: '{"name":"iot-dps-for-dps-test000004","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004/operationResults/b3NfaWRfODRmNWZjMmYtNGFjYy00OWUxLWFjMTAtODFiZDBiNDcxM2Yz?api-version=2017-11-15&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4998']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004/operationResults/b3NfaWRfODRmNWZjMmYtNGFjYy00OWUxLWFjMTAtODFiZDBiNDcxM2Yz?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004?api-version=2017-11-15
  response:
    body: {string: '{"etag":"AAAAAAAG9SE=","name":"iot-dps-for-dps-test000004","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"iot-dps-for-dps-test000004.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne000062E8"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"sku": {"capacity": 1, "name": "S1"}, "properties": {"iotHubs":
      [{"connectionString": "HostName=iot-hub-for-dps-test000003.azure-devices.net;SharedAccessKeyName=key000002;SharedAccessKey=****",
      "allocationWeight": 10, "applyAllocationPolicy": true, "location": "westus"}],
      "allocationPolicy": "Hashed"}, "location": "westus"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004?api-version=2017-11-15
  response:
    body: {string: '{"name":"iot-dps-for-dps-test000004","location":"westus","properties"[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004/operationResults/b3NfaWRfNWUwMWEyOWYtMjI3Ny00YmFhLWE4MzQtMDMyZjg5ZmZmODY5?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004?api-version=2017-11-15
  response:
    body: {string: '{"Code":"IotHubNotFound","HttpStatusCode":"NotFound","Message":"IotHub
        ''iot-dps-for-dps-test000004'' not found under ResourceGroup ''clitest.rg000001''
        and Subscription ''b9ed95d7-5b40-413f-8e72-74721213a06c''. If you contact
        a support representative please include this correlation identifier: 614d7c83-2044-4580-aad0-12ae1436d57b,
        timestamp: 2017-12-19 02:08:58Z, errorcode: IH404002."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004/operationResults/b3NfaWRfZWJiZmEwZTItYTcyMC00MDhiLWJhYjEtNGIzYTRmNjRmZDE1?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004/operationResults/b3NfaWRfNmZlNzc5MTQtOTUxYy00NTg3LWJmOWEtM2RjOGIwNzVjNzc5?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Devices/ProvisioningServices/iot-dps-for-dps-test000004''
        under resource group ''clitest.rg000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/iot-dps-for-dps-test000004/operationResults/b3NfaWRfZDBjOWJiNmQtY2FiYi00NWYwLTg2MzQtODlhOGQ4YjIyNDFh?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Devices/ProvisioningServices/iot-dps-for-dps-test000004''
        under resource group ''clitest.rg000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-dps-test000003/operationResults/b3NfaWhfYTAwNGYwYzYtM2IwMS00Y2I4LTgxNWEtN2UxMGEzMTAzOWVi?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdZQlFTRElDQUpEQVJPWkpLNkpaR1Y2RjMzRUM1VjRJU1oyTXxGNjI0QTNCRDI0NjEwMjJCLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
