interactions:
- request:
    body: !!python/unicode '{"Name": "iot-hub-for-test"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/iot-hub-test-rg?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg","name":"iot-hub-test-rg","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"resourcegroup": "iot-hub-test-rg", "sku": {"capacity":
      1, "name": "S1"}, "subscriptionid": "5bd5a5c2-9d8f-4223-b911-5c58cf39aedd",
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"5bd5a5c2-9d8f-4223-b911-5c58cf39aedd","resourcegroup":"iot-hub-test-rg","properties":{"state":"Activating","provisioningState":"Accepted","enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/5bd5a5c2-9d8f-4223-b911-5c58cf39aedd/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/OTJmODBlYjAtNzJkZi00ZDJmLTkyNzEtMmI0MzA1Y2YwYjBk?api-version=2016-02-03&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/OTJmODBlYjAtNzJkZi00ZDJmLTkyNzEtMmI0MzA1Y2YwYjBk?api-version=2016-02-03&asyncinfo
  response:
    body: {string: !!python/unicode '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"5bd5a5c2-9d8f-4223-b911-5c58cf39aedd","resourcegroup":"iot-hub-test-rg","etag":"AAAAAAEWr4w=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test","endpoint":"sb://iothub-ns-iot-hub-fo-203811-5151495961.servicebus.windows.net/"},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-203811-5151495961.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IoT/providers/Microsoft.Devices/IotHubs/PaymaunHub","name":"PaymaunHub","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"5bd5a5c2-9d8f-4223-b911-5c58cf39aedd","resourcegroup":"IoT","etag":"AAAAAAEWqXY=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","DeviceTelemetry":"Error,
        Information","DeviceIdentityOperations":"None","Connections":"None","Routes":"None[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubKeys/iothubowner/listkeys?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"keyName":"iothubowner","primaryKey":"lbzYVkXcbwvfH0o/9+hahT6RPSVDqxlNvcRYOI9uejs=","secondaryKey":"5MNo7vsXXDoyCW+nBzGAOfAIrZM40qURB7mz/MAtN3g=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"i[...]
[...]
- request:
    body: !!python/unicode '{"resourcegroup": "iot-hub-test-rg", "sku": {"capacity":
      1, "name": "S1"}, "etag": "AAAAAAEWr4w=", "location": "westus", "tags": {},
      "subscriptionid": "5bd5a5c2-9d8f-4223-b911-5c58cf39aedd", "properties": {"messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "lockDurationAsIso8601": "PT1M",
      "maxDeliveryCount": 10}}, "operationsMonitoringProperties": {"events": {"None":
      "None", "C2DCommands": "None", "DeviceIdentityOperations": "None", "Connections":
      "None", "Routes": "None", "DeviceTelemetry": "Error, Information", "FileUploadOperations":
      "None"}}, "ipFilterRules": [], "features": "None", "cloudToDevice": {"defaultTtlAsIso8601":
      "PT1H", "feedback": {"ttlAsIso8601": "PT1H", "lockDurationAsIso8601": "PT1M",
      "maxDeliveryCount": 10}, "maxDeliveryCount": 10}, "eventHubEndpoints": {"operationsMonitoringEvents":
      {"partitionCount": 4, "retentionTimeInDays": 1}, "events": {"partitionCount":
      4, "retentionTimeInDays": 1}}, "enableFileUploadNotifications": false, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "containerName": "", "connectionString":
      ""}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      IF-MATCH: [!!python/unicode 'AAAAAAEWr4w=']
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"5bd5a5c2-9d8f-4223-b911-5c58cf39aedd","resourcegroup":"iot-hub-test-rg","etag":"AAAAAAEWr4w=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","C2DCommands":"None","DeviceIdentityOperations":"None","Connections":"None","Routes":"None","DeviceTelemetry":"Error,
        Information","FileUploadOperations":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"lbzYVkXcbwvfH0o/9+hahT6RPSVDqxlNvcRYOI9uejs=","secondaryKey":"5MNo7vsXXDoyCW+nBzGAOfAIrZM40qURB7mz/MAtN3g=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"KlSk6vna4JMdfVdrgPHbNMnyD44Kmq2+o9kfBNIjjWc=","secondaryKey":"bpxznTvMhXyAqUzJ/YuXZIMnSrt8ftSEQ2IqsNY1Z04=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"dY6Tzek2yQVKopXeoXI8kiTVYBEFHoieJInvuUbf76w=","secondaryKey":"MxzqhdiO4Tz5h6Q7UmhKj1ZDir+RK9m7NIbm2s5U+mE=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"LjgNpp6v56g2W1eCqyfHeK5b60JIYRDokDgiJbVIz8I=","secondaryKey":"Mdfu+3Kyu0ti1pWt4duQpN4MzJn5j+r6W6qwKzkrs1A=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"oTlgQAQPr2+EzxU8dfc2kabGCmlpmPyNZLHuqGeH0+Y=","secondaryKey":"Kxgv9556n4FxVAHRe3y8obPWK6GOOperbIl5M2iKUs8=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4},"events":{"retentionTimeInDays":1,"partitionCount":4}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/5bd5a5c2-9d8f-4223-b911-5c58cf39aedd/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/NzdjMjJhYWMtY2ZhOS00NDc2LWFkZmYtOTRmYzJiYzcwYWNj?api-version=2016-02-03&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      IF-MATCH: [!!python/unicode 'AAAAAAEWr4w=']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/NzdjMjJhYWMtY2ZhOS00NDc2LWFkZmYtOTRmYzJiYzcwYWNj?api-version=2016-02-03&asyncinfo
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/skus?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/listkeys?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"value":[{"keyName":"iothubowner","primaryKey":"lbzYVkXcbwvfH0o/9+hahT6RPSVDqxlNvcRYOI9uejs=","secondaryKey":"5MNo7vsXXDoyCW+nBzGAOfAIrZM40qURB7mz/MAtN3g=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"KlSk6vna4JMdfVdrgPHbNMnyD44Kmq2+o9kfBNIjjWc=","secondaryKey":"bpxznTvMhXyAqUzJ/YuXZIMnSrt8ftSEQ2IqsNY1Z04=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"dY6Tzek2yQVKopXeoXI8kiTVYBEFHoieJInvuUbf76w=","secondaryKey":"MxzqhdiO4Tz5h6Q7UmhKj1ZDir+RK9m7NIbm2s5U+mE=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"LjgNpp6v56g2W1eCqyfHeK5b60JIYRDokDgiJbVIz8I=","secondaryKey":"Mdfu+3Kyu0ti1pWt4duQpN4MzJn5j+r6W6qwKzkrs1A=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"oTlgQAQPr2+EzxU8dfc2kabGCmlpmPyNZLHuqGeH0+Y=","secondaryKey":"Kxgv9556n4FxVAHRe3y8obPWK6GOOperbIl5M2iKUs8=","rights":"RegistryWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      IF-MATCH: [!!python/unicode 'AAAAAAEWr5Y=']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/OTZjNDFhYjEtNWM4ZS00ODZlLWExMWMtNTY4Y2IwMzY2ODc5?api-version=2016-02-03&asyncinfo
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubKeys/test_policy/listkeys?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"keyName":"test_policy","primaryKey":"A+HbZwSD5o8dt5QQ6NjuO2JGwIRLq3EaYpZK+uHIVMA=","secondaryKey":"+WBw9eyth4froBx4mgSBX94GcW2krM3QRK0GXz9By10=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      IF-MATCH: [!!python/unicode 'AAAAAAEWr7U=']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/YTg0MTkxY2EtOWM3Zi00ZTdlLWJhMTMtMDlmNDllMGFlYzA4?api-version=2016-02-03&asyncinfo
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"cg1"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/eventHubEndpoints/events/ConsumerGroups?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"value":["$Default","cg1"]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/jobs?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/jobs/fake-job?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"Code":"JobNotFound","HttpStatusCode":"NotFound","Message":"Job
        not found with ID ''fake-job''. If you contact a support representative please
        include this correlation identifier: 87bb73f4-d986-4780-b78b-8bcf3f8c496f,
        timestamp: 2017-08-18 21:12:55Z, errorcode: IH404011."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/jobs/fake-job?api-version=2016-11-14
  response:
    body: {string: !!python/unicode '{"Message":"ErrorCode:JobNotFound;NotFound","ExceptionMessage":"Tracking
        ID:c26acdd954e24a1d8d570b917dbdb7ac-G:9-TimeStamp:08/18/2017 21:12:58"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [JobNotFound]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"deviceId": "test-device-1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1?api-version=2016-11-14
  response:
    body: {string: !!python/unicode '{"deviceId":"test-device-1","generationId":"636386875811187073","etag":"MA==","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":"GoP46hrRclg0vLNUaEnXuzW/WkJ8A7uC6nm3EheDHXs=","secondaryKey":"oG+dMsXp9TD8kClRKzmuU0IfRvLFYgNeNueo1uNAy+w="},"x509Thumbprint":{"primaryThumbprint":null,"secondaryThumbprint":null}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"MA=="']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://iot-hub-for-test.azure-devices.net/devices?api-version=2016-11-14&top=20
  response:
    body: {string: !!python/unicode '[{"deviceId":"test-device-2","generationId":"636386875828047813","etag":"MA==","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":null,"secondaryKey":null},"x509Thumbprint":{"primaryThumbprint":"A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C","secondaryThumbprint":"14963E8F3BA5B3984110B3C1CA8E8B8988599087"}}},{"deviceId":"test-device-1","generationId":"636386875811187073","etag":"MA==","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":"GoP46hrRclg0vLNUaEnXuzW/WkJ8A7uC6nm3EheDHXs=","secondaryKey":"oG+dMsXp9TD8kClRKzmuU0IfRvLFYgNeNueo1uNAy+w="},"x509Thumbprint":{"primaryThumbprint":null,"secondaryThumbprint":null}}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"status": "enabled", "connectionState": "Disconnected",
      "authentication": {"symmetricKey": {}, "x509Thumbprint": {"primaryThumbprint":
      "A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C", "secondaryThumbprint": "14963E8F3BA5B3984110B3C1CA8E8B8988599087"}},
      "etag": "MA==", "lastActivityTime": "0001-01-01T00:00:00.000Z", "statusUpdatedTime":
      "0001-01-01T00:00:00.000Z", "connectionStateUpdatedTime": "0001-01-01T00:00:00.000Z",
      "cloudToDeviceMessageCount": 0, "statusReason": "TestReason", "deviceId": "test-device-2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['*']
    method: PUT
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-2?api-version=2016-11-14
  response:
    body: {string: !!python/unicode '{"deviceId":"test-device-2","generationId":"636386875828047813","etag":"MQ==","connectionState":"Disconnected","status":"enabled","statusReason":"TestReason","connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":null,"secondaryKey":null},"x509Thumbprint":{"primaryThumbprint":"A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C","secondaryThumbprint":"14963E8F3BA5B3984110B3C1CA8E8B8988599087"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"MQ=="']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '"Ping from Azure CLI"'
    headers:
      Content-Type: [application/octet-stream]
    method: POST
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/events?api-version=2016-11-14
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      IotHub-MessageLockTimeout: ['60']
    method: GET
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound?api-version=2016-11-14
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000?api-version=2016-11-14
  response:
    body: {string: !!python/unicode '{"Message":"{\"errorCode\":412002,\"trackingId\":\"cd101492109d48dc907bae17dfed671d-G:6-TimeStamp:08/18/2017
        21:13:14\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2017-08-18T21:13:14.1165268Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000?api-version=2016-11-14&reject=
  response:
    body: {string: !!python/unicode '{"Message":"{\"errorCode\":412002,\"trackingId\":\"edf4829a78d746ebb4e8dcb1bd63edf3-G:2-TimeStamp:08/18/2017
        21:13:13\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2017-08-18T21:13:13.7183393Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000/abandon?api-version=2016-11-14
  response:
    body: {string: !!python/unicode '{"Message":"{\"errorCode\":412002,\"trackingId\":\"b8624d0be8f449afb2bcf224308ddcec-G:6-TimeStamp:08/18/2017
        21:13:15\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2017-08-18T21:13:15.7476465Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/quotaMetrics?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"value":[{"Name":"TotalMessages","CurrentValue":0,"MaxValue":400000},{"Name":"TotalDeviceCount","CurrentValue":0,"MaxValue":500000}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubStats?api-version=2016-02-03
  response:
    body: {string: !!python/unicode '{"totalDeviceCount":0,"enabledDeviceCount":0,"disabledDeviceCount":0}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2016-02-03
  response:
    body: {string: !!python/unicode 'null'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/5bd5a5c2-9d8f-4223-b911-5c58cf39aedd/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/OWYxNjJkZDctZWNlNS00MTkzLTgzMjgtMzI2ZmRlNTM2NDEw?api-version=2016-02-03&asyncinfo']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/5bd5a5c2-9d8f-4223-b911-5c58cf39aedd/resourceGroups/iot-hub-test-rg/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/OWYxNjJkZDctZWNlNS00MTkzLTgzMjgtMzI2ZmRlNTM2NDEw?api-version=2016-02-03']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
[...]
