interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2024-11-01&%24skiptoken=7VdNc%2bJGFPwvnHMQAlK1W5WDHX1EimcUySNpZ8oXLShIIwk7RgSYrf3v6RFgw1YEsc45bNUWpnoe%2fd7rfv1ttMp37UO5qtajz99G2WbdvmZ1mc3zlf7P6PMo3%2fsb8aUwWOrsMzPZe%2fK5pCqpiFpuRWO31HIkLQ2DsLvxA1sagWu3xA3HQtpb2jiVsKLKWxm%2fjH56R8%2bzddsDTZRTC4ubhMUtVeGUPhoaUj2wuhJp3AbMKfV3eOMpykLzR%2bj186YtruBz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7VdNc%2BJGFPwvnHMQAlK1W5WDHX1EimcUySNpZ8oXLShIIwk7RgSYrf3v6RFgw1YEsc45bNUWpnoe/d7rfv1ttMp37UO5qtajz99G2WbdvmZ1mc3zlf7P6PMo3/sb8aUwWOrsMzPZe/K5pCqpiFpuRWO31HIkLQ2DsLvxA1sagWu3xA3HQtpb2jiVsKLKWxm/jH56R8%2Bzd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZdNc6NGF4X/i9ZZABKpmqnKwn75CIq7eYW7m3SXN4xEDDTIio1iian57zmNJFuaBLlCVXZZuMplWQ%2BX%2B3HuuV8n63zX3pVr/TL5/HWSbV/a56wus2W%2BNr9MPk/y/Xyrfi0slgb7zBH7qHoqZSf3skp0HC5a6US7%2BN6ySEX1HXu0ZENayeYV8cguZnVNHLKP1tZPk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZdNc5s6FIb/i9ddADadaWfuIr4CCrVEjSVRabKhNtdGAseN5RrT6X%2B/B2wnTqekU1Z3cRfJZDB%2BdHQ%2B3vPm%2B2ib12ZWbPV%2B9P77KDvszWNWFtky37Z/jN6P8lN0kJ83Fk39U%2BbwU6geClmJsazCsURzI9WykYVlYXVnz1JfCSWMpGsHK20T5B3jNGzCrfXX6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZZLj9pIFIX/C%2Bss7AIidaQsuseP2KHKg6m6lSr1xg2etl1lmjQmgKP897k2dEJn4kjDbqRZIIExn0/dxzl8Ha3zQzMr12Y7evd1lO22zXNmy2yZr7s3o3ej/Bjv9KfC4TI4ZgSOUfVUqjY2NFRj7YlG8fmELhxHe7f7GS%2BqpLtG5ntGUrzvzqiWmWjtvB%2B9GZ2hu22[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZRNb%2BI6FIb/S9ZdJIFUotIs2slHk8GOcPyBLTYuREpsJ2UgDJCq/30chntvuTPMgivd1SyQIuI859jn9fPmtOWhm9at3joPb47cbbuNNLVclu3w4Dw45THbiXnlYhYfpU%2BPqXqtuU/2sCHjHC87gcFYFK6b48fDlMUNVGkHE6RgXyngkx74IEhb95Nz55Ry2%2B1snV8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZFLj9owFIX/i9ezSEJAAolFKXFwBhvhx/UQZWOGtASbwEBgAoj/XiPNou3sRl12caSr%2BzrS%2BW6oLttmWtX2iAY3ZE7H5mBcZV7L%2BlGgASov2Sl/WQdS44uJ4EI2u4pFJKZptllsvjU0nbd5FQRsy6upJheWkiYfg6URjVlK45kXqYMhevJW79fSOFOv6t2hWf/2XKX4skpdYHT/JCLoPkyoSGKium/5FQtQqiHVe7XcQrzC2XkVNK4UpEc2yZrKnwFRfaXliJcWOko3GcNYactnPOmO1cu%2BLl2WSJlxY8NYBsCow71FZ884zrdqg5%2BlauE12SsT8akKVVAm/TdhgZuoZZDAUYakVTYHCkkosWqFS7xGQMduApafS8iAqVzzLZ%2BDbq7Mhgdt%2BwJctoCx/48ZMAABdj9RADPuoLfsOGE6o2dIGytCP5%2Bs/b7rggUNOE%2B17XpvF0vFzxSy47KzpgD5d5A%2BD38vRFD9mA%2BH6P5I9gPirJ7s3Mqj/GhSc7DlwSd9Kz7BLdCg%2BGd4C/RU/A34D4P/iL%2BOuEB3dP8F
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"displayName","givenName":"displayName","jobTitle":null,"mail":"test@example.com","mobilePhone":null,"officeLocation":"No
        WorkSpace","preferredLanguage":null,"surname":"Guo","userPrincipalName":"test@example.com","id":"00000000-0000-0000-0000-000000000000"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"TYO1EPF0000AF50"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/test@example.com
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"displayName","givenName":"displayName","jobTitle":null,"mail":"test@example.com","mobilePhone":null,"officeLocation":"No
        WorkSpace","preferredLanguage":null,"surname":"Li (displayName)","userPrincipalName":"test@example.com","id":"00000000-0000-0000-0000-000000000000"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Japan East","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"TYO1EPF0000AF9F"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastasia","tags":{},"properties":{"keyCreationTime":{"key1":"2025-06-12T10:23:08.6332736Z","key2":"2025-06-12T10:23:08.6332736Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-12T10:23:08.6488800Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-12T10:23:08.6488800Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-06-12T10:23:08.5082485Z","primaryEndpoints":{"dfs":"https://hdicli000002.dfs.core.windows.net/","web":"https://hdicli000002.z7.web.core.windows.net/","blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastasia","statusOfPrimary":"available","secondaryLocation":"southeastasia","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-06-12T10:23:08.6332736Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-06-12T10:23:08.6332736Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/EastAsia/billingSpecs?api-version=2025-01-15-preview
  response:
    body:
      string: '{"vmSizes":["STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2M_V2","STANDARD_A4_V2","STANDARD_A4M_V2","STANDARD_A8_V2","STANDARD_A8M_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D15","STANDARD_D15_V2","STANDARD_D16A_V4","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4","STANDARD_D4","STANDARD_D4_V2","STANDARD_D48A_V4","STANDARD_D4A_V4","STANDARD_D5","STANDARD_D5_V2","STANDARD_D64A_V4","STANDARD_D8A_V4","STANDARD_D96A_V4","STANDARD_DS1_V2","STANDARD_DS11_V2","STANDARD_DS12_V2","STANDARD_DS13_V2","STANDARD_DS14_V2","STANDARD_DS15_V2","STANDARD_DS2_V2","STANDARD_DS3_V2","STANDARD_DS4_V2","STANDARD_DS5_V2","STANDARD_E16_V3","STANDARD_E16A_V4","STANDARD_E16S_V3","STANDARD_E2_V3","STANDARD_E20_V3","STANDARD_E20A_V4","STANDARD_E20S_V3","STANDARD_E2A_V4","STANDARD_E2S_V3","STANDARD_E32_V3","STANDARD_E32A_V4","STANDARD_E32S_V3","STANDARD_E4_V3","STANDARD_E48A_V4","STANDARD_E4A_V4","STANDARD_E4S_V3","STANDARD_E64_V3","STANDARD_E64A_V4","STANDARD_E64I_V3","STANDARD_E64IS_V3","STANDARD_E64S_V3","STANDARD_E8_V3","STANDARD_E8A_V4","STANDARD_E8S_V3","STANDARD_E96A_V4","STANDARD_F1","STANDARD_F16","STANDARD_F16S_V2","STANDARD_F2","STANDARD_F2S_V2","STANDARD_F32S_V2","STANDARD_F4","STANDARD_F4S_V2","STANDARD_F64S_V2","STANDARD_F72S_V2","STANDARD_F8","STANDARD_F8S_V2"],"vmSizesWithEncryptionAtHost":["Standard_D16a_v4","Standard_D2a_v4","Standard_D32a_v4","Standard_D48a_v4","Standard_D4a_v4","Standard_D64a_v4","Standard_D8a_v4","Standard_D96a_v4","Standard_DS11_v2","Standard_DS12_v2","Standard_DS13_v2","Standard_DS14_v2","Standard_DS15_v2","Standard_DS1_v2","Standard_DS2_v2","Standard_DS3_v2","Standard_DS4_v2","Standard_DS5_v2","Standard_E16a_v4","Standard_E16s_v3","Standard_E20a_v4","Standard_E20s_v3","Standard_E2a_v4","Standard_E2s_v3","Standard_E32a_v4","Standard_E32s_v3","Standard_E48a_v4","Standard_E4a_v4","Standard_E4s_v3","Standard_E64a_v4","Standard_E64is_v3","Standard_E64s_v3","Standard_E8a_v4","Standard_E8s_v3","Standard_E96a_v4","Standard_F16s_v2","Standard_F2s_v2","Standard_F32s_v2","Standard_F4s_v2","Standard_F64s_v2","Standard_F72s_v2","Standard_F8s_v2"],"vmSizeFilters":[{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["Sandbox"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["HeadNodeRole","WorkerNodeRole","EdgeNodeRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["HBase"],"nodeTypes":["ZookeeperRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","[...]
- request:
    body: '{"location": "EastAsia", "properties": {"clusterVersion": "5.1", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "false", "restAuthEntraUsers": "[{\"ObjectId\":
      \"00000000-0000-0000-0000-000000000000\", \"DisplayName\": \"displayName(displayName)\",
      \"Upn\": \"test@example.com\"}, {\"ObjectId\": \"00000000-0000-0000-0000-000000000000\",
      \"DisplayName\": \"displayName\", \"Upn\": \"test@example.com\"}]"}}},
      "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount": 2,
      "hardwareProfile": {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "virtualNetworkProfile":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}, {"name": "workernode", "targetInstanceCount": 3,
      "hardwareProfile": {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "virtualNetworkProfile":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdicli000002.blob.core.windows.net", "isDefault": true, "container":
      "default", "key": "veryFakedStorageAccountKey==", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002?api-version=2025-01-15-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"5.1.3000.0","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-5.1.3000.0.2504170544.json","kind":"spark","componentVersion":{"spark":"3.3"}},"clusterId":"082a4dceea364a0bb5883ebc3c0ae89b","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2025-06-26T10:39:58.747","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"minSupportedTlsVersion":"1.2","excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002","name":"cli-000002","type":"Microsoft.HDInsight/clusters","location":"East
        Asia","etag":"7bb92bf0-84db-4b2b-9610-2c399659423a","tags":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/azureasyncoperations/create?api-version=2025-01-15-preview&t=638865311990913614&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE5MTMxMzMyWhcNMjUxMDE2MTMxMzMyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/azureasyncoperations/create?api-version=2025-01-15-preview&t=638865311990913614&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE5MTMxMzMyWhcNMjUxMDE2MTM[...]
[...]
- request:
    body: '{"restAuthCredential.isEnabled": false, "restAuthEntraUsers": [{"objectId":
      "00000000-0000-0000-0000-000000000000", "displayName": "displayName", "upn": "test@example.com"},
      {"objectId": "00000000-0000-0000-0000-000000000000", "displayName": "displayName",
      "upn": "test@example.com"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/updateGatewaySettings?api-version=2025-01-15-preview
  response:
    body:
      string: ''
    headers:
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/azureasyncoperations/96428ca5-17da-414e-8859-7546cf529c33-0-r?api-version=2025-01-15-preview&t=638865326337330307&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/operationresults/96428ca5-17da-414e-8859-7546cf529c33-0-r?api-version=2025-01-15-preview&t=638865326337330307&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/getGatewaySettings?api-version=2025-01-15-preview
  response:
    body:
      string: '{"restAuthEntraUsers":[{"objectId":"00000000-0000-0000-0000-000000000000","displayName":"displayName","upn":"test@example.com"},{"objectId":"00000000-0000-0000-0000-000000000000","displayName":"displayName","upn":"test@example.com"},{"objectId":"00000000-0000-0000-0000-000000000000","displayName":"displayName","upn":"test@example.com"},{"objectId":"00000000-0000-0000-0000-000000000000","displayName":"displayName","upn":"test@example.com"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - eastasia
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
