interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdicli-000001?api-version=2020-06-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001","name":"hdicli-000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-23T11:41:06Z"},"properties":{"provisioningState":"Succeeded"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: '{"location": "southcentralus", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24"}, "name": "default"}]}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003?api-version=2020-06-01
    response:
      body:
        string: "{\r\n  \"name\": \"hdicli-vnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003\",\r\n
        \ \"etag\": \"W/\\\"54f9d2f6-da06-465f-853f-ea0d724af387\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"3bd1da26-9149-425c-ae33-36e747ded8ea\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003/subnets/default\",\r\n
        \       \"etag\": \"W/\\\"54f9d2f6-da06-465f-853f-ea0d724af387\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
      headers:
        azure-asyncnotification:
          - Enabled
        azure-asyncoperation:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/e0f32c76-efd0-4486-88d1-e9a4b1369347?api-version=2020-06-01
        content-type:
          - application/json; charset=utf-8
        x-ms-ratelimit-remaining-subscription-writes:
          - '1198'
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/e0f32c76-efd0-4486-88d1-e9a4b1369347?api-version=2020-06-01
    response:
      body:
        string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003/subnets/default?api-version=2020-06-01
    response:
      body:
        string: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003/subnets/default\",\r\n
        \ \"etag\": \"W/\\\"dd4b7a1f-a4d5-4eee-9cf9-61554659a58e\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"dd4b7a1f-a4d5-4eee-9cf9-61554659a58e"
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2020-06-01
    response:
      body:
        string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2020-06-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5qZzFSVUUtIiwibmV4dFJvd0tleSI6IjEhMjI4IU9UWTBRekV3UWtJNFFUWkRORE5DUXpnelJETTJRak14T0VNMlF6Y3pNRFZmUjFKTUxVUkZSa0ZWVEZRNk1rUlRVVXc2TWtSWFJWTlVWVk10VFVsRFVrOVRUMFpVT2pKRlUxRk1PakpHVTBWU1ZrVlNVem95UmtOTlVsVlJRekZhT1VNNk1rWkVRVlJCUWtGVFJWTTZNa1pWTnpreVYwbFVTRXRGVWtKRE5rUTVNemMyTTBRd1JUazBOakEyUVVVMk1ESXlRakkxTURrMk5EbEVOVkpCVGtkRlVpMVhSVk5VVlZNLSJ9"}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2020-06-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5qZzFSVUUtIiwibmV4dFJvd0tleSI6IjEhMjI4IU9UWTBRekV3UWtJNFFUWkRORE5DUXpnelJETTJRak14T0VNMlF6Y3pNRFZmUjFKTUxVUkZSa0ZWVEZRNk1rUlRVVXc2TWtSWFJWTlVWVk10VFVsRFVrOVRUMFpVT2pKRlUxRk1PakpHVTBWU1ZrVlNVem95UmtOTlVsVlJRekZhT1VNNk1rWkVRVlJCUWtGVFJWTTZNa1pWTnpreVYwbFVTRXRGVWtKRE5rUTVNemMyTTBRd1JUazBOakEyUVVVMk1ESXlRakkxTURrMk5EbEVOVkpCVGtkRlVpMVhSVk5VVlZNLSJ9
    response:
      body:
        string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"southcentralus","tags":{}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2020-06-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5qZzFSVUUtIiwibmV4dFJvd0tleSI6IjEhMjI4IU9UWTBRekV3UWtJNFFUWkRORE5DUXpnelJETTJRak14T0VNMlF6Y3pNRFZmUjFKTUxVaEVVRkpCUTFSSlEwVklSVTFCVGxSSUxVMUpRMUpQVTA5R1ZEb3lSVk5SVERveVJsTkZVbFpGVWxNNk1rWklSRkJTUVVOVVNVTkZTRVZOUVU0Nk1rWkVRVlJCUWtGVFJWTTZNa1pXTXpZMlJEYzNOalV4UkVJeU9VTTBNRFkxUVVFelJrRXhPVUpDUVRZMVJUZzBRMDlQV2tsRlRVVlVRVk5VVDFKRkxVVkJVMVJWVXpJLSJ9"}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2020-06-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5qZzFSVUUtIiwibmV4dFJvd0tleSI6IjEhMjI4IU9UWTBRekV3UWtJNFFUWkRORE5DUXpnelJETTJRak14T0VNMlF6Y3pNRFZmUjFKTUxVaEVVRkpCUTFSSlEwVklSVTFCVGxSSUxVMUpRMUpQVTA5R1ZEb3lSVk5SVERveVJsTkZVbFpGVWxNNk1rWklSRkJTUVVOVVNVTkZTRVZOUVU0Nk1rWkVRVlJCUWtGVFJWTTZNa1pXTXpZMlJEYzNOalV4UkVJeU9VTTBNRFkxUVVFelJrRXhPVUpDUVRZMVJUZzBRMDlQV2tsRlRVVlVRVk5VVDFKRkxVVkJVMVJWVXpJLSJ9
    response:
      body:
        string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2020-06-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5qZzFSVUUtIiwibmV4dFJvd0tleSI6IjEhMTQwIU9UWTBRekV3UWtJNFFUWkRORE5DUXpnelJETTJRak14T0VNMlF6Y3pNRFZmUjFKTUxWSkZSRVJaVWtjdFRVbERVazlUVDBaVU9qSkZUa1ZVVjA5U1N6b3lSbFpKVWxSVlFVeE9SVlJYVDFKTFV6b3lSbEpGUkVSWlZFVlRWRlpPUlZRdFYwVlRWRlZUIn0%3d"}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2020-06-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5qZzFSVUUtIiwibmV4dFJvd0tleSI6IjEhMTQwIU9UWTBRekV3UWtJNFFUWkRORE5DUXpnelJETTJRak14T0VNMlF6Y3pNRFZmUjFKTUxWSkZSRVJaVWtjdFRVbERVazlUVDBaVU9qSkZUa1ZVVjA5U1N6b3lSbFpKVWxSVlFVeE9SVlJYVDFKTFV6b3lSbEpGUkVSWlZFVlRWRlpPUlZRdFYwVlRWRlZUIn0%3d
    response:
      body:
        string: '{"value":[]}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2019-06-01
    response:
      body:
        string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-23T11:41:18.8460846Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-07-23T11:41:18.8460846Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-07-23T11:41:18.7523609Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"southcentralus","statusOfPrimary":"available"}}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: POST
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2019-06-01
    response:
      body:
        string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
      headers:
        content-type:
          - application/json
        x-ms-ratelimit-remaining-subscription-resource-requests:
          - '11999'
      status:
        code: 200
        message: OK
  - request:
      body: 'b''b\''{"location": "southcentralus", "properties": {"clusterVersion":
      "default", "osType": "Linux", "clusterDefinition": {"kind": "spark", "configurations":
      {"gateway": {"restAuthCredential.isEnabled": "true", "restAuthCredential.username":
      "admin", "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "large"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}, "virtualNetworkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003/subnets/default"}},
      {"name": "workernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize":
      "large"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}, "virtualNetworkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003/subnets/default"}}]},
      "storageProfile": {"storageaccounts": [{"name": "hdicli000002.blob.core.windows.net",
      "isDefault": true, "container": "default", "key": "veryFakedStorageAccountKey=="}]},
      "networkSettings": {"publicNetworkAccess": "OutboundOnly", "outboundOnlyPublicNetworkAccessType":
      "PublicLoadBalancer"}}}\'''''
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000004?api-version=2018-06-01-preview
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000004","name":"hdicli-000004","type":"Microsoft.HDInsight/clusters","location":"South
        Central US","etag":"42e1eb58-3583-41c4-999a-12facb2f9d71","tags":null,"properties":{"clusterVersion":"4.0.1000.1","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-4.0.1000.1.2007210011.json","kind":"spark","componentVersion":{"spark":"2.4"}},"clusterId":"53b21dc840af4b61b6106bc62b72f63b","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003/subnets/default"},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Network/virtualNetworks/hdicli-vnet000003/subnets/default"},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2020-07-23T12:00:05.817","quotaInfo":{"coresUsed":20},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":null,"msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"fileshare":null}]},"minSupportedTlsVersion":"1.2","excludedServicesConfig":{"m_Item1":"default","m_Item2":""},"networkSettings":{"publicNetworkAccess":"OutboundOnly","outboundOnlyPublicNetworkAccessType":"PublicLoadBalancer"}}}'
      headers:
        azure-asyncoperation:
          - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000004/azureasyncoperations/create?api-version=2018-06-01-preview
        content-type:
          - application/json; charset=utf-8
        etag:
          - '"42e1eb58-3583-41c4-999a-12facb2f9d71"'
        x-ms-hdi-clusteruri:
          - https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdicli-ndxak/providers/Microsoft.HDInsight/clusters/hdicli-up24zkqqk?api-version=2018-06-01-preview
        x-ms-hdi-served-by:
          - southcentralus
        x-ms-ratelimit-remaining-subscription-writes:
          - '1199'
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000004/azureasyncoperations/create?api-version=2018-06-01-preview
    response:
      body:
        string: '{"status":"InProgress"}'
      headers:
        content-type:
          - application/json; charset=utf-8
        x-ms-hdi-served-by:
          - southcentralus
      status:
        code: 200
        message: OK
[...]
