interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2bZjdOOUFQdlBLOGJxdDl3S0FBQ1FBUT09I1JUOjEjVFJDOjEwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2h5S3dBQVFBWUFBQU5GQUFDd0h3QUFjaXNBQUVBR0FBQUtBT3EzSklCaEFvQUlBSUp6S3dBQVFBWUFBQW9BUVFBQVFZRUFHQURyZ1hVckFBQkFCZ0FBRkFCdG9nV0FRUUFCSUNPQ2VZRVJBQmdBSDRDYmdI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOGJxdDl3S0FBQ1FBUT09I1JUOjEjVFJDOjEwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2h5S3dBQVFBWUFBQU5GQUFDd0h3QUFjaXNBQUVBR0FBQUtBT3EzSklCaEFvQUlBSUp6S3dBQVFBWUFBQW9BUVFBQVFZR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOGJ3cnJnTkFBRHNCdz09I1JUOjIjVFJDOjIwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2ppTmdBQXNCOEFBQU5GQUFDd0h3QUE0allBQUxBZkFBQUVBUEV1WndEak5nQUFzQjhBQUFJQUFKSGtOZ0FBc0I4QUFBS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2021-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-10-26T03:19:54.8419352Z","key2":"2021-10-26T03:19:54.8419352Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-10-26T03:19:54.8576166Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-10-26T03:19:54.8576166Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-10-26T03:19:54.7325625Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"southcentralus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-10-26T03:19:54.8419352Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-10-26T03:19:54.8419352Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/southcentralus/billingSpecs?api-version=2021-06-01
  response:
    body:
      string: '{"vmSizes":["A10","A11","A5","A6","A7","A8","A9","G1","G2","G3","G4","G5","STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2m_V2","STANDARD_A4_V2","STANDARD_A4m_V2","STANDARD_A5","STANDARD_A6","STANDARD_A7","STANDARD_A8_V2","STANDARD_A8m_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D16A_V4","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4","STANDARD_D4","STANDARD_D4_V2","STANDARD_D48A_V4","STANDARD_D4A_V4","STANDARD_D5_V2","STANDARD_D64A_V4","STANDARD_D8A_V4","STANDARD_D96A_V4","STANDARD_DS1_V2","STANDARD_DS11_V2","STANDARD_DS12_V2","STANDARD_DS13_V2","STANDARD_DS14_V2","STANDARD_DS2_V2","STANDARD_DS3_V2","STANDARD_DS4_V2","STANDARD_DS5_V2","STANDARD_E16_V3","STANDARD_E16A_V4","STANDARD_E16S_V3","STANDARD_E2_V3","STANDARD_E20_V3","STANDARD_E20A_V4","STANDARD_E20S_V3","STANDARD_E2A_V4","STANDARD_E2S_V3","STANDARD_E32_V3","STANDARD_E32A_V4","STANDARD_E32S_V3","STANDARD_E4_V3","STANDARD_E4A_V4","STANDARD_E4S_V3","STANDARD_E64_V3","STANDARD_E64A_V4","STANDARD_E64I_V3","STANDARD_E64IS_V3","STANDARD_E8_V3","STANDARD_E8A_V4","STANDARD_E8S_V3","STANDARD_E96A_V4","STANDARD_G1","STANDARD_G2","STANDARD_G3","STANDARD_G4","STANDARD_G5","STANDARD_GS1","STANDARD_GS2","STANDARD_GS3","STANDARD_GS4","STANDARD_GS5","STANDARD_NC24"],"vmSizesWithEncryptionAtHost":["Standard_D16a_v4","Standard_D2a_v4","Standard_D32a_v4","Standard_D48a_v4","Standard_D4a_v4","Standard_D64a_v4","Standard_D8a_v4","Standard_D96a_v4","Standard_DS11_v2","Standard_DS12_v2","Standard_DS13_v2","Standard_DS14_v2","Standard_DS1_v2","Standard_DS2_v2","Standard_DS3_v2","Standard_DS4_v2","Standard_DS5_v2","Standard_E16a_v4","Standard_E16s_v3","Standard_E20a_v4","Standard_E20s_v3","Standard_E2a_v4","Standard_E2s_v3","Standard_E32a_v4","Standard_E32s_v3","Standard_E4a_v4","Standard_E4s_v3","Standard_E64a_v4","Standard_E64is_v3","Standard_E8a_v4","Standard_E8s_v3","Standard_E96a_v4"],"vmSizeFilters":[{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["A10"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["A11"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["Sandbox"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["A5"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["HeadNodeRole","WorkerNod[...]
- request:
    body: '{"location": "southcentralus", "properties": {"clusterVersion": "default",
      "osType": "Linux", "clusterDefinition": {"kind": "spark", "configurations":
      {"gateway": {"restAuthCredential.isEnabled": "true", "restAuthCredential.username":
      "admin", "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "encryptDataDisks": false}, {"name":
      "workernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "STANDARD_E8_V3"},
      "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser", "password":
      "Password1!"}}, "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts":
      [{"name": "hdicli000002.blob.core.windows.net", "isDefault": true, "container":
      "default", "key": "veryFakedStorageAccountKey==", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003","name":"hdicli-000003","type":"Microsoft.HDInsight/clusters","location":"South
        Central US","etag":"678214d3-b8f5-4050-8704-eedc9fa6655f","tags":null,"properties":{"clusterVersion":"4.0.2000.1","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-4.0.2000.1.2101301510.json","kind":"spark","componentVersion":{"spark":"2.4"}},"clusterId":"24aa39266c2f449faabff3ceaa28326c","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2021-10-26T03:21:32.98","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"fileshare":null}]},"minSupportedTlsVersion":"1.2","excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"678214d3-b8f5-4050-8704-eedc9fa6655f"'
      x-ms-hdi-clusteruri:
      - https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdicli-saf5y/providers/Microsoft.HDInsight/clusters/hdicli-ocqqaonju?api-version=2021-06-01
      x-ms-hdi-served-by:
      - southcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - southcentralus
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"computeProfile": {"roles": [{"name": "edgenode", "targetInstanceCount":
      1, "hardwareProfile": {"vmSize": "Standard_D3_V2"}, "encryptDataDisks": false}]},
      "installScriptActions": [{"name": "InstallHue", "uri": "https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh",
      "parameters": "-version latest -port 20000", "roles": ["edgenode"]}], "httpsEndpoints":
      [], "applicationType": "CustomApplication"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"E41B427A-1EC9-4D78-BB7F-F25180CA3449","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"hardwareProfile":{"vmSize":"standard_d3_v2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[],"provisioningState":"InProgress","applicationState":"Accepted","createdDate":"2021-10-26T03:42:35.277","applicationType":"CustomApplication"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"E41B427A-1EC9-4D78-BB7F-F25180CA3449"'
      x-ms-hdi-appuri:
      - https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdicli-saf5y/providers/Microsoft.HDInsight/clusters/hdicli-ocqqaonju/applications/hdicliapp-hgxeas?api-version=2021-06-01
      x-ms-hdi-served-by:
      - southcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"3C41645D-745E-4B36-9B06-DDEC0EA2AEAD","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"VMGroupName":"edgenode1","hardwareProfile":{"vmSize":"standard_d3_v2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[],"provisioningState":"InProgress","applicationState":"AzureVMConfiguration","createdDate":"2021-10-26T03:42:35.277","applicationType":"CustomApplication"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - southcentralus
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"E1326847-91C5-457C-872F-5537FDE1B8C9","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"VMGroupName":"edgenode1","hardwareProfile":{"vmSize":"standard_d3_v2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[{"location":null,"destinationPort":22,"publicPort":22}],"provisioningState":"InProgress","applicationState":"ApplicationConfiguration","createdDate":"2021-10-26T03:42:35.277","applicationType":"CustomApplication"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - southcentralus
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"CFE31099-4143-4916-8823-051ECE716450","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"VMGroupName":"edgenode1","hardwareProfile":{"vmSize":"standard_d3_v2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[{"location":"hdicliapp-000004.hdicli-000003-ssh.azurehdinsight.net:22","destinationPort":22,"publicPort":22}],"provisioningState":"Succeeded","applicationState":"Running","createdDate":"2021-10-26T03:42:35.277","applicationType":"CustomApplication"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - southcentralus
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"CFE31099-4143-4916-8823-051ECE716450","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"VMGroupName":"edgenode1","hardwareProfile":{"vmSize":"standard_d3_v2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[{"location":"hdicliapp-000004.hdicli-000003-ssh.azurehdinsight.net:22","destinationPort":22,"publicPort":22}],"provisioningState":"Succeeded","applicationState":"Running","createdDate":"2021-10-26T03:42:35.277","applicationType":"CustomApplication"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - southcentralus
    status:
      code: 200
      message: OK
version: 1
